[2022-03-08 14:03] maciej3031 commented on #6204
Hey @lina128, I created PR https://github.com/tensorflow/tfjs/pull/6206. Please take a look.

[2022-03-08 21:49] rthadur commented on #4432
Please use https://github.com/tensorflow/tfjs/tree/master/tfjs-tflite to run the tflit models without converting. Thank you

[2022-03-08 21:58] rthadur commented on #4548
This has been updated to use latest 3.12.0 . Thank you

[2022-03-08 21:58] #4548 closed

[2022-03-08 22:00] rthadur commented on #4555
This has been updated to use 3..3.0 . Thank you

[2022-03-08 22:00] #4555 closed

[2022-03-08 22:03] #4560 closed

[2022-03-09 03:18] qjia7 commented on #6200
@vladmandic Thanks for reporting this issue. We are considering how to regularly release tfjs-backend-webgpu together with other backends. The biggest issue is that webgpu is not well integrated into current testing frameworks. Currently, we have to release one manually on demand. @mattsoulanille is providing help on this. Thanks.

[2022-03-09 11:13] vladmandic commented on #6200
thanks @qjia7
btw, its not an issue for me as i'm using `tfjs` from main branch anyhow
but so much good work has gone into `tfjs-backend-webgpu` that has not been released

[2022-03-10 00:55] mattsoulanille commented on #6203
@jinjingforever and I were able to find the cause of this error. in dist/tf-backend-wasm.js on line 823 in `wasmWorkerContents`, there's a `\n` in `if(ENVIRONMENT_IS_NODE){fs.writeSync(2,text+"\n")`. This is for some reason being expanded to a newline character, and since that character is in the middle of a string, the result is invalid JavaScript. Manually removing it fixes the benchmark tool.

[2022-03-10 03:49] ironmangithub commented on #6203
this works for me. Thanks!

[2022-03-10 11:23] iislucas opened #6210 "Support cumprod"
**System information**
- TensorFlow.js version (you are using): 3.14
- Are you willing to contribute it (Yes/No): Yes.

**Describe the feature and the current behavior/state.**
`cumprod` is not currently supported, I need it for work I'm doing experimenting with visualising activation functions using TFJS.

**Will this change the current api? How?**
It will add `cumprod` to the API, which will mir

[2022-03-10 14:21] ToonTalk opened #6213 "setClassifierDataset of knn-classifier doesn't fully restore the state"
**System information**
TFJS from https://cdn.jsdelivr.net/npm/@tensorflow/tfjs

**Describe the current behavior**
The log shows
[code]
**Describe the expected behavior**
The `classIndex `should not be undefined. The second call to `predictClass `should behave the same as the first one.
**Standalone code to reproduce the issue**
[code]

[2022-03-10 15:31] gaberogan commented on #762
@rthadur Can we reopen this? It would be useful to have `withSaveHandler` in the docs. Thanks.

[2022-03-10 15:53] rthadur commented on #5800
Related PR has been merged , closing this request. Thank you

[2022-03-10 15:53] #5800 closed

[2022-03-10 19:40] rthadur commented on #6213
Here is the reproduction link https://codepen.io/pen/?editors=1111

[2022-03-11 08:28] #6175 closed

[2022-03-11 08:34] DuKeM-CSGO opened #6215 "Video Timestamp for MediaPipeHands"
**System information**
- TensorFlow.js version : None but `tfjs-core` & `tfjs-backend-webgl` through the HTML <script> labels.
- Are you willing to contribute it (Yes/No): No:D

**Describe the feature and the current behavior/state.**
According to [BlazePoseMediaPipe](https://github.com/tensorflow/tfjs-models/tree/master/pose-detection/src/blazepose_mediapipe#run-inference), there's a third parame

[2022-03-11 14:59] rthadur commented on #6215
cc @lina128

[2022-03-11 19:31] Th0mYT commented on #5179
@grapefruitlips have you found any solution for that?

[2022-03-12 01:46] has-n commented on #5532
Can I add a +1 to @Michael-F-Bryan's requirement of using tf-lite in a non-browser environment? We're trying to use it in Node.js.

[2022-03-12 05:43] loucadufault opened #6217 "[tfjs-react-native] error: bundling failed: Error: Unable to resolve module @react-native-community/async-storage from @tensorflow/tfjs-react-native/dist/async_storage_io.js (does not exist in the Haste module map)"
**System information**
- OS Platform and Distribution: macOS Big Sur 11.5.2 (20G95)
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: Pixel 4XL API 29 Android 10.0
- TensorFlow.js installed from: npm
- TensorFlow.js version: 3.14.0
- tfjs-react-native version: 0.8.0
- CUDA/cuDNN version:
- Java version: 8 (I needed to downgrade from 14, see this issue:

[2022-03-12 08:44] raffizulvian commented on #5394
You are generating a random tensor without passing the `seed` parameter to `tf.randomNormal`. So every time you run the code, the elements of the tensor produced will be different from the previous run. This is why the softmax function gives different outputs.

To solve the issue just give `tf.randomNormal` an integer as argument for this function `seed` parameter.
[code]

First run using CPU back

[2022-03-12 10:21] grapefruitlips commented on #5179
yes, although it took me a long time to figure everything out

versions of installed packages (package.json):
[code]

first, you need to comment this line
in `getNativeModulesFromModuleRegistry` in file `node_modules/@unimodules/react-native-adapter/android/src/main/java/org/unimodules/adapters/react/ModuleRegistryAdapter.java`:
[code]

then add to `public class NativeModulesProxy extends ReactCon

[2022-03-12 11:30] Th0mYT commented on #5179
Oh! Nothing else? 😅😅😅😅😅

[2022-03-12 12:29] Michael-F-Bryan commented on #5532
Note that "non-browser environment" is more than just trying to use `@tensorflow/tfjs-tflite` on your backend.

It also means **nobody can run tests** if the code under test transitively imports `@tensorflow/tfjs-tflite` because you'll get a bunch of reference errors when the test runner tries to start.

[2022-03-12 14:36] DuKeM-CSGO commented on #6215
And I want to know how to analyze a video by `Blaze` and `MediaPipeHands` frame by frame, too.

[2022-03-12 23:48] loucadufault opened #6218 "react-native pose-detection example commited yarn.lock file references a broken package (colors@1.4.2) as a dependency."
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow.js): no
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): macOS Big Sur 11.5.2 (20G95)
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: NA
- TensorFlow.js installed from (npm or script link): npm
- TensorFlow.js version (use

[2022-03-13 16:09] SukkaW commented on #5242
Is the Issue is still being working on?

I already provided a minimum reproduction using the modal provided by TensorFlow.js when I originally open the issue, why no one can find out what is going on?

[2022-03-14 17:35] lina128 opened #6219 "Allow customGrad to take tensorlike objects"
Feature request from forum: https://discuss.tensorflow.org/t/could-custom-ops-be-as-nice-as-core-ops/8236

"The args passed in customGrad(f)(x1, x2,…) must all be tensors. This means that custom ops are less user-friendly than the core ops which all use convertToTensor to allow them to take TensorLike objects.

I think it would be much nicer if custom ops were first class like the core ops, then l

[2022-03-14 20:28] #6177 closed

[2022-03-15 09:30] GewoonJaap opened #6230 "cameraWithTensors() crashes the app immediatly on Android 11/12"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): MacOS
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: Android 11/12, no matter which device

- Installed NPM packages:
    "@tensorflow-models/mobilenet": "^2.1.0",
    "@tensorflow/tfjs": "^3.14.0",
    "@tensorflow/tfjs-react-native": "^0.8.0",
    "expo-camera": "~12

[2022-03-15 15:59] BruceDai opened #6232 "Invoke tfjs operations functions with GPU resource"
Hi. I have this scenario of invoking tfjs operations functions for processing GPU resource, for example, invoking `tf.add(a, b)` with `gpuBufferA` and `gpuBufferB` by WebGPU backend.

Current my workaround likes:
[code]
I don't think it's good on memory copy / performance.

Is there any efficient solution for this scenario? Any suggestion? Thanks.

[2022-03-15 16:09] #6203 closed

[2022-03-15 17:02] github-jeff opened #6233 "Unsupported Ops in the model before optimization [tensorflowjs_converter] Ops: PartitionedCall"
**System information**
- TensorFlow.js version (you are using): 3.14.0
- Are you willing to contribute it (Yes/No): Yes

**Describe the feature and the current behavior/state.**

Unsupported Op: **PartitionedCall**
[code]

**Will this change the current api? How?**
I don't believe so, as it should be adding an op used with a yolov5 model in conversion to tensorflowjs

**Who will benefit with this

[2022-03-15 18:20] sbeatz commented on #6096
same issue here with Electron 17.1.2 Node Js 16.13.0
the file definitely exists in the folder
<img width="395" alt="image" src="https://user-images.githubusercontent.com/637878/158445352-10ead842-f400-4f36-bf71-ff6ba3c95e90.png">

[2022-03-15 20:30] Guerrero25 commented on #6230
I am having the same problem. App crashes with no catchable error right after call `await tf.ready()`

[2022-03-16 00:25] huningxin commented on #6232
This would readback the data from GPU to CPU. If tf.js uses webgpu backend, it would ideal to let the data stay on GPU.

@pyu10055 @qjia7 , is there a method to create a tf.Tensor from an existing WebGPU buffer? tf.tensor only supports CPU  buffer (TypedArrayBuffer).

[2022-03-16 02:34] qjia7 commented on #6232
@huningxin Currently, there is no such kind of interface to directly import an external GPU resource to TFJS. I just offline talked with @lina128. We think it's helpful to have a such kind of API, like `tf.tensor (GPUData)` to take GPU resource as the input to create a tensor. Thanks.

[2022-03-16 05:12] lahiru-98 commented on #6230
I am having the same issue mentioned by @GewoonJaap  App crashes with no catchable error

[2022-03-16 17:47] pyu10055 commented on #6233
Hi @github-jeff , can you share the saved_model file for us to reproduce the problem? thanks

[2022-03-16 18:32] github-jeff commented on #6233
Unfortunately the content of the model has some proprietary functionality.  But I can say there are several layers of overlapping boxes that happen commonly.  Basically I identify an object and other specific parts of the same object as well.  Not unlike identifying a snowman and then also identifying a carrot, hat, and coal.

I also tried just using the web model version directly and that seems t

[2022-03-16 19:54] JaydipMagan commented on #6092
Hello,

I am experiencing the same issue with the cameraWithTensors. The preview appears for a split second before displaying a black screen. I noticed the preview appears on 60hz phones but not on high refresh screens.

Tested on Android 10,11,12 and IOS 15.

[2022-03-17 00:29] huningxin opened #6238 "Please document GPUData texture format other than [1, height, width, 4] shape"
**Describe the current behavior**

[Optimization Topic - How to write a high performance GPU pipeline](https://github.com/tensorflow/tfjs/blob/master/docs/OPTIMIZATION_PURE_GPU_PIPELINE.md) only describes the texture format of

It only mentions

It is unclear to developer how to do the reformat.

**Describe the expected behavior**

Document the format for other shapes. It would be very helpful if

[2022-03-17 15:46] #6170 closed

[2022-03-17 17:46] #6179 closed

[2022-03-17 21:51] rthadur commented on #4808
can you please check with latest body segmentation model and let us know if this is resolved ?

[2022-03-17 21:57] rthadur commented on #4641
related issues https://github.com/tensorflow/tfjs/issues/4684

[2022-03-17 21:58] rthadur commented on #4596
This question is better asked on [Discourse-TF](https://discuss.tensorflow.org/) since it is not a bug or feature request. There is also a larger community that reads questions there.

[2022-03-17 21:58] #4596 closed

[2022-03-17 22:01] rthadur commented on #4591
Please check latest body segmentation model for latest bodypix model demo https://github.com/tensorflow/tfjs-models/tree/master/body-segmentation

[2022-03-17 22:01] #4591 closed

[2022-03-17 22:04] rthadur commented on #3733
Please check latest body segmentation model for latest bodypix model demo https://github.com/tensorflow/tfjs-models/tree/master/body-segmentation

[2022-03-17 22:08] rthadur commented on #2425
Will be closing this issue as we will be using latest body segmentation model for same purpose.
Please check latest body segmentation model for latest bodypix model demo https://github.com/tensorflow/tfjs-models/tree/master/body-segmentation

[2022-03-17 22:08] #2425 closed

[2022-03-17 23:04] alana314 commented on #3733
Thanks, is it the selfie segmentation? Any other options I should try or just run it on consecutive frames?

[2022-03-18 09:40] foolishortalent opened #6241 "Uncaught syntax error appears in the latest version of @tensorflow/tfjs-backend-wasm"
error message：
![image](https://user-images.githubusercontent.com/96649698/158974321-d927cae7-6306-432f-8006-9c063dda9b0f.png)

Test code：
[code]

Operating environment：win10,Chrome v98.0.4758.102, @tensorflow/tfjs-backend-wasm@3.14.0

[2022-03-18 12:00] josephrocca opened #6242 "Uncaught RuntimeError: Aborted. To use dlopen, you need to use Emscripten's linking support"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow.js):
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 20.04
- TensorFlow.js installed from (npm or script link): tfjs=v3.14.0, tfjs-tflite=v0.0.1-alpha.8, tensorflow (for conversion of saved model to tflite)=v2.8.0
- Browser version: Chrome v98

I'm trying to get

[2022-03-19 09:19] JLeander85 opened #6248 "A fur"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
- Mobile device (e.g. iPhone 8

[2022-03-19 14:18] vladmandic opened #6249 "suppress unnecessary warnings for async execution"
I cannot know ahead of time if model can be executed synchronously or not
so only safe way is to execute all models asynchronously using

[code]

but then there are warnings which cannot be suppressed:

please either provide
1. a way to determine ahead of time how a model should be executed or
2. a way to suppress this message when async execution is a clear choice by user
3. alternatively, remove

[2022-03-19 14:57] vladmandic opened #6250 "failures during experimental feature parallel compile"
testing new experimental feature from PR #5826 **Add functions for parallel compilation**
which was recently merged into main branch

im loading number of small models and attempting to run pre-compile and i'm getting errors on all attempts

here ive documented 3 different failures:

- compile fails on some models with a totally random message such as:
  (and works fine on some models)

- compile

[2022-03-20 03:00] jeffreykthomas commented on #4823
Has there been progress on adding InstanceNormalization to tfjs? Any recommendations on how to load a trained model in tfjs that contains an InstanceNormalization layer?

[2022-03-20 15:30] Enkomm commented on #6170
@mattsoulanille I try both react-native 0.67.1 and 0.67.3, await tf.ready() is crashed. When I downgrade react-native to 0.64.3, it's worked.

[2022-03-21 04:21] guillaume250 commented on #4808
Just checked with `body-pix@2.2.0` CDN version. Issue still there

[2022-03-21 06:22] huningxin opened #6252 "WebGPU backend fails to run DeepLab V3 model"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow.js): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: No
- TensorFlow.js installed from (npm or script link): build tfjs-webgpu-backend from source
- TensorFlow

[2022-03-21 17:24] rthadur commented on #6248
It looks like you haven't used a template to create this issue. Please resubmit your issue using a template from [here](https://github.com/tensorflow/tfjs/issues/new/choose). We ask users to use the template because it reduces overall time to resolve a new issue by avoiding extra communication to get to the root of the issue. We will close this issue in lieu of the new one you will create from the

[2022-03-21 17:24] #6248 closed

[2022-03-22 10:13] brzuzak commented on #5937
Same issue on rasp_os 64bit node-red2.2.2

[2022-03-22 21:46] #4466 closed

[2022-03-23 13:59] rtm-1dyakonov opened #6261 "Face landmark detection face rotation"
Hello!

I've been testing face-landmark-detection. I am really interested in figuring out, how to determine from predictions file whether a person turned his face right/left or not. I mean there 468 points, but how could we process them to identify face rotation?

[2022-03-24 16:25] redbasecap opened #6262 "yarn install deps inside knn classifier"
Tried to install dependencies with yarn but always receive this error:

[1/5] Validating package.json...
[2/5] Resolving packages...
error Package "" refers to a non-existing file '"C:\\Users\\NicolaSpieser\\Documents\\GitHub\\tfjs-models\\knn-classifier\\dist"'.
info Visit https://yarnpkg.com/en/docs/cli/install for documentation about this command.

  },
  "dependencies": {
    "@tensorflow-mode

[2022-03-24 18:56] rthadur commented on #6261
Thank you @vladmandic , we will be tracking this feature request here https://github.com/tensorflow/tfjs/issues/3835 and also in this issue https://github.com/tensorflow/tfjs/issues/3827 .

[2022-03-24 18:56] #6261 closed

[2022-03-24 20:16] rthadur commented on #6262
Hi , I tried on my machine and it works well , just make sure there are no trailing spaces after you type `yarn`. Thank you

[2022-03-25 07:49] BruceDai opened #6263 "[WebGPU] Failed to run Depthwise 2D convolution test with dilations > 1 using DepthwiseConv2D3x3Program"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow.js): Yes
- OS Pl

[2022-03-25 08:24] BruceDai commented on #6263
This DepthwiseConv2d issue would lead run DeepLapv3 (dilated) model with incorrect result.

![image](https://user-images.githubusercontent.com/1531742/159936572-20be84a8-f1e0-445b-889c-b71cf35614c9.png)
![image](https://user-images.githubusercontent.com/1531742/159936822-e01d08e0-a9d4-4d77-881a-30211853bc21.png)

![image](https://user-images.githubusercontent.com/1531742/159403563-d7a195a3-f88b-40

[2022-03-25 16:54] dalelane opened #6265 "Please publish @tensorflow-models/face-landmarks-detection 1.0.0 to npm"
It was updated to version 1.0.0 on 7th Jan

https://github.com/tensorflow/tfjs-models/commit/60ffe7596cf5046f235db0301a539c62351be28b#diff-5c09514e8bf64bba7eb91db115d85437f78b1cb8b6db0295374c65284fe61acaR3

But https://www.npmjs.com/package/@tensorflow-models/face-landmarks-detection still only has 0.0.3

Would you mind publishing a current build to npm please?

[2022-03-25 17:43] #6204 closed

[2022-03-25 21:26] rthadur commented on #6265
@lina128 could you please help publish newer version to npm ?

[2022-03-26 04:40] wadethegreat68 opened #6269 "ValueError: Unsupported Ops in the model before optimization UnicodeDecode, RaggedTensorToTensor, UnicodeEncode"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information** windows 10 i7 16 gb of ram
- TensorFlow.js version (you are using): 2.8.0
- Are you willing to c

[2022-03-26 07:45] DuKeM-CSGO opened #6270 "BlazePose & MediaPipeHands: "texImage2D: invalid image" Failed to Reset"
**System information**
- Have I written custom code: No
- OS Platform and Distribution: Windows 10 21H2
- TensorFlow.js installed from (npm or script link):
[code]
- Browser version: Opera 85.0.4341.18
- Tensorflow.js Converter Version: None

**Describe the current behavior**
There's an image element in my html:
[code]
And I use it to run the model inferences:
[code]
The results are figured out su

[2022-03-26 12:26] 444noam commented on #5937
same issue on my rpi arm64

[2022-03-28 16:04] rthadur commented on #4808
@guillaume250 we will not be updating body-pix , there is a new body segmentation  model here https://blog.tensorflow.org/2022/01/body-segmentation.html , did you get chance to check this out? Thank you

[2022-03-28 16:37] rthadur commented on #6269
This will be a feature request , did you get chance to check this lstm model https://github.com/tensorflow/tfjs-examples/tree/master/lstm-text-generation

[2022-03-28 17:44] #5992 closed

[2022-03-28 18:16] rthadur commented on #5401
Closing this issue as the document is linked in [README](https://github.com/tensorflow/tfjs#various-ops-supported-in-different-backends).MD. Thank you

[2022-03-28 18:16] #5401 closed

[2022-03-28 19:22] JulesFrancoise opened #6273 "Publish @tensorflow-models/knn-classifier v1.2.3"
The current version of `@tensorflow-models/knn-classifier` published on npm is v1.2.2, which still relies on `@tensorflow/tfjs-core` v1.
It seems that the package has been [updated on Github](https://github.com/tensorflow/tfjs-models/blob/master/knn-classifier/package.json) in v1.2.3 to rely on `@tensorflow/tfjs-core` v3.

Would it be possible to publish this update to npm?

Thank you in advance!

[2022-03-28 19:46] #5394 closed

[2022-03-28 21:57] rthadur commented on #6273
Thank you , will request to publish new version to npm.

[2022-03-29 06:52] DuKeM-CSGO commented on #6270
OK they're working now. Thanks:D

[2022-03-29 06:52] #6270 closed

[2022-03-29 15:07] robindra commented on #3902
Do we have any update on this? We are also facing similar issue where the edge of the body are flickering with video stream.

[2022-03-29 16:13] rthadur commented on #3902
Apologies, we will not be making changes to bodypix model , Please check latest body segmentation model for latest bodypix model demo https://github.com/tensorflow/tfjs-models/tree/master/body-segmentation

[2022-03-29 18:53] robindra commented on #3902
@rthadur Thanks for the update.

[2022-03-29 21:00] yuval77 opened #6278 "very cool"
it is very cool. you helped me a lot. tnx love <3

[2022-03-29 22:08] rthadur commented on #6278
It looks like you haven't used a template to create this issue. Please resubmit your issue using a template from [here](https://github.com/tensorflow/tfjs/issues/new/choose). We ask users to use the template because it reduces overall time to resolve a new issue by avoiding extra communication to get to the root of the issue. We will close this issue in lieu of the new one you will create from the

[2022-03-29 22:08] #6278 closed

[2022-03-29 22:13] rthadur commented on #5612
Latest changes have been deployed to npm https://www.npmjs.com/package/@tensorflow-models/qna . Please verify.
Thank you @mattsoulanille

[2022-03-29 22:13] #5612 closed

[2022-03-30 02:21] qjia7 commented on #6263
Fixed by #6264

[2022-03-30 02:21] #6263 closed

[2022-03-30 03:42] tylerweitzman commented on #6242
+1

[2022-03-30 07:15] Didi3333 commented on #5932
Any news regarding this ? Still doesn't work with tfjs 3.15.0

[2022-03-30 07:16] Didi3333 commented on #4508
Still doesn't work in 3.15.0

[2022-03-31 05:49] BruceDai opened #6284 "[WebGPU] Get incorrect output data of the Conv2d layer(name: squeezenet0_conv3_fwd) in SqueezeNet1.1 NCHW model"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow.js): Yes
- OS Pl

[2022-03-31 07:17] BruceDai opened #6286 "Require support leakyRelu op by WebGPU backend"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow.js version (you are using):3.14.0
- Are you willing to contribute it (Yes/No):No

*

[2022-03-31 16:54] rthadur commented on #6273
New version has been published to [npm](https://www.npmjs.com/package/@tensorflow-models/knn-classifier) , please verify.

[2022-03-31 16:54] #6273 closed

[2022-03-31 16:57] #6262 closed

[2022-03-31 23:46] #3733 closed

[2022-04-01 06:52] qjia7 commented on #6286
Fixed by #6288.

[2022-04-01 06:52] #6286 closed

[2022-04-01 11:47] LemonCANDY42 commented on #711
same quesion

[2022-04-01 12:12] MarchellStrydom opened #6289 "[Codelab]: Making Predictions from 2D Data"
Access to script at 'file:///C:/Users/selli/OneDrive/Desktop/New%20folder%20(2)/data.js' from origin 'null' has been blocked by CORS policy: Cross origin requests are only supported for protocol schemes: http, data, chrome-extension, edge, https, chrome-untrusted.
index.html:15

       GET file:///C:/Users/selli/OneDrive/Desktop/New%20folder%20(2)/data.js net::ERR_FAILED

[2022-04-01 12:53] rthadur commented on #6289
In order to expedite the trouble-shooting process, please provide a code snippet to reproduce the issue reported here. As per the error message it shows that the your trying to load files from local folder which was blocked by CORS, I do not see a step in Codelab about the same step , please elaborate the steps .
Thanks!

[2022-04-02 00:24] pyu10055 commented on #6019
@ray-1337 thank you for reporting the issue, I took a look at the code you provided, there are couple things caught my eyes:
1. is the model loading happening on every inference?
2. you are missing engine scope and tidy, typically it is not recommended.

Here is an example code I tried, which only load the model once and the heapSize seems to be stable. Please give it a try and let me know if it w

[2022-04-02 01:38] huningxin commented on #5454
Thanks. That would be very helpful. Beyond fixing the shader compilation, is there any plan to avoid blocking GUI by long shader execution time?

I recently created a [background blur sample](https://huningxin.github.io/webrtc-samples/src/content/insertable-streams/video-processing-worker/). It uses the WebGL backend to run [tfjs deeplabv3 model](https://tfhub.dev/tensorflow/lite-model/deeplabv3/1

[2022-04-03 06:44] TooManyJohns commented on #2763
Still getting issues on this. as well. Any fixes?

[2022-04-03 21:11] jasonmayes commented on #5454
So this new fix should be out shortly - please tune into our TensorFlow.js updates in May, that is all we can say for now but we look forward to hearing your feedback once you get a chance to try it.

[2022-04-04 07:04] LuckyArd110 opened #6294 "[Codelab]: Making Predictions from 2D Data #5"
// Convert the data to a form we can use for training.
const tensorData = convertToTensor(data);
const {inputs, labels} = tensorData;

data is not defined

[2022-04-04 14:30] rthadur commented on #6294
In order to expedite the trouble-shooting process, please provide a code snippet to reproduce the issue reported here. Thanks!

[2022-04-04 16:46] #4808 closed

[2022-04-05 11:33] mablay commented on #2845
Would be great to have the functionality to read / write tfrecord files in TFJS.node!
Ideally with streaming support, to avoid issues with larger datasets.

[2022-04-05 16:46] #2587 closed

[2022-04-05 19:58] ZTiKnl commented on #5937
same issue on Rock64 / arm64

[code]

[2022-04-05 23:28] JasonCham-830 opened #6300 "TypeError: Unknown op 'Cumsum'"
Uncaught (in promise) TypeError: Unknown op 'Cumsum'. File an issue at https://github.com/tensorflow/tfjs/issues so we can add it, or register a custom execution with tf.registerOp()

Please help to add CumSum (Cummulative Sum) to tfjs.

[2022-04-05 23:56] LuckyArd110 commented on #6294
any some async code in tutorial, but i has been fixed it

[2022-04-05 23:56] #6294 closed

[2022-04-06 02:31] ZTiKnl commented on #5937
[This workaround](https://github.com/yhwang/node-red-contrib-tf-model) fails for me, but this *might* work on Pi4 and Jetson Nano:
[code]

Jetson nano:
[code]

Rpi4
[code]

[2022-04-06 05:49] rthadur commented on #6300
There is already feature request opened here https://github.com/tensorflow/tfjs/issues/6210 which will look lot like tensorflow `cumsum` . Please check above issue for updates. I will be closing this duplicate request. Thank you.

[2022-04-06 05:49] #6300 closed

[2022-04-06 06:07] ozenhaluk commented on #4514
so far no luck with monterey.

tried . tfjs-node 3.15,3.5 & node 14,16 & build my own tensorflow 2.5 & used posted tensorflow 2.7 builds too.
has anyone tried out in monterey ?

But the main reason i am posting is to ask for any idea or even it would be possible to use the instance of Tensorflow on Conda Env. with Metal Plugin (which i already succeded to run GPU based phyton runs) . I think someh

[2022-04-06 08:31] gildniy commented on #540
I got the same issue and for that, I had to add these lines in packages.json:

[code]

and this import in jest setup file
[code]

[2022-04-06 08:54] mehimanshupatil commented on #4514
for Monterey, tfjs-node is installed, but while running code gives error
`zsh: illegal hardware instruction  node ./index.js`

[2022-04-06 23:07] rthadur commented on #1601
Changes are implemented here https://github.com/tensorflow/tfjs/pull/6216 recently. Closing this request. Thank you

[2022-04-06 23:07] #1601 closed

[2022-04-07 02:31] jinjingforever commented on #6230
Hi,

Sorry for the delay. We finally got a phone that can run Android 12:)

Looks like this is a bug in expo-gl. See [here](https://github.com/expo/expo/issues/15811). The only workaround seems to be downgrading expo to 43.0.5 for now. This should fix the crash (tested on Pixel 6)

At this point, you might also notice that the key points no longer appear (or at seemingly random places). If so, add

[2022-04-07 04:50] rthadur commented on #6092
@all did you get chance to check @jinjingforever comments here https://github.com/tensorflow/tfjs/issues/6230#issuecomment-1091015255 for related issue. Please let us know if this helps. Thank you

[2022-04-07 09:18] kikaendeavor commented on #3577
**env:**
`
win10
node 12.16.1
npm 6.14.4
`

**Describe the problem or feature request**

`E:\personal\tensorFlow\baseball>npm install @tensorflow/tfjs-node

CPU-windows-3.15.0.zip
* Downloading libtensorflow
https://storage.googleapis.com/tensorflow/libtensorflow/libtensorflow-cpu-windows-x86_64-2.7.0.zip
[==============================] 1851443/bps 100% 0.0s
* Building TensorFlow Node.js bindings

[2022-04-07 14:34] StampixSMO opened #6305 "TensorFlow for React Native breaks on new setups: error 0x3009 (EGL_BAD_MATCH) and EXC_BAD_ACCESS (SIGSEGV)"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow.js): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Mac M1
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: Pixel 4
- TensorFlow.js installed from (npm or script link): 3.15.0 (RN: 0.8.0)
- TensorFlow.js version (use co

[2022-04-07 15:11] StampixSMO commented on #6305
What's failing is `GLView.createContextAsync()` in `platform_react_native`.

Instead of throwing an error, this hard crashes. A soft exception throw would be handled gracefully.

I haven't been able to try this on a real device yet.

[2022-04-07 18:31] Jakobeha opened #6307 "es5 target in tfjs-node leads to "TypeError: Class constructor KernelBackend cannot be invoked without 'new' at NodeJSKernelBackend2""
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Macbook Air M1
- TensorFlow.js installed from (npm or script link): pnpm. esbuild compiled to commonjs. Run on node v17
- TensorFlow.js version: 3.15.0
- CUDA/cuDNN version: N/A

**Describe the problem**

In tfjs-node `tsconfig.json` the target is set to es5. This causes a warning and later crash when I run on my es6

[2022-04-07 20:49] rthadur commented on #5298
Sorry for the delay , could you please update the issue if it exists in latest versions ?

[2022-04-07 23:06] rthadur commented on #2547
Will be closing this issue as we will be using latest body segmentation model for same purpose.
Please check latest body segmentation model for latest bodypix model demo https://github.com/tensorflow/tfjs-models/tree/master/body-segmentation

[2022-04-07 23:07] rthadur commented on #2736
Will be closing this issue as we will be using latest body segmentation model for same purpose.
Please check latest body segmentation model for latest bodypix model demo https://github.com/tensorflow/tfjs-models/tree/master/body-segmentation

[2022-04-07 23:07] #2736 closed

[2022-04-08 01:21] qjia7 opened #6308 "NCHW conv2d on webgl backend returns incorrect result."
Below test fails on webgl backend, while pass on cpu backend.
[code]
Expected: `[90, 54, 63, 36, 90, 54, 63, 36, 90, 54, 63, 36, 90, 54, 63, 36]`
Actual: `[90, 90, 90, 90, 54, 54, 54, 54, 63, 63, 63, 63, 36, 36, 36, 36]`

[2022-04-08 09:25] dee1ag commented on #4846
still happening :(

[2022-04-08 09:25] dee1ag commented on #4902
still happening :(

[2022-04-08 15:58] #6241 closed

[2022-04-08 22:56] Linchenn opened #6312 "[Layers] Deduplicate `cachedSorted`'s entries by ordering the outputTensors and feedDict"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

This is a follow-up issue from https://github.com/tensorflow/tfjs/pull/6303#pullrequestreview-935268392. We need to che

[2022-04-09 02:39] naah69 opened #6313 "[tjfs-backend-wasm] Missing Kernel op Atan2"
**System information**
- Have I written custom code : NO
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): MacOS 12.1
- TensorFlow.js installed from (npm or script link): 3.15.0
- TensorFlow.js version (use command below): 3.15.0
- Browser version: Chrome 100.0.4896.60

**Describe the current behavior**

atan2 op is not support in wasm mode

**Describe the expected behavior**

work

**Sta

[2022-04-09 15:45] vladmandic opened #6315 "regression: `tfjs-backend-cpu` has an incorrect hard dependency on `tfjs-node`"
`@tensorflow/tfjs-backend-cpu` has an incorrect hard dependency on `@tensorflow/tfjs-node`
this makes it impossible to use **tfjs** in pure online environments

for example, see reproduction at <https://stackblitz.com/edit/typescript-blff19>
just uncomment line that imports `tfjs-backend-cpu` and project will refuse to build

(and since `@tensorflow/tfjs-backend-cpu` is included in bundle `@tensor

[2022-04-10 19:53] anjomshoaa opened #6316 "Blazeface tfjs model does not return any results on a group image but works on cropped images!"
I'm trying to use Blazeface tfjs model to detect faces in a static image including several persons but the estimateFaces method returns no results. I then cropped the same image and left 1-2 person in the image and surprisingly the results was OK. Are there any parameter settings to make it work for group images?

As test image, I used this image from Wikipedia:  https://en.wikipedia.org/wiki/Situ

[2022-04-11 03:59] ShivaAryal opened #6318 "Can I load model by extracting all the model.json and the sharded weights file from RNFS?"
I have my model json file and sharded weights saved in local react-native-file-system(RNFS). Is there any means that this library provides me to load model by fetching the required parameteres from RNFS.
P.S. I only found documentation to load model only if the parameters are bundle within the app itself.

[2022-04-11 10:52] havenchyk opened #6319 "Error during build CRA app"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

I'm not sure if it's a "build" type of issue, but it happens when I try to build the app 😄

**System information

[2022-04-11 16:19] havenchyk commented on #6319
The reason was in different versions of babel/core used, nothing to do on tfjs side

[2022-04-11 17:46] #4778 closed

[2022-04-12 01:43] frodoe7 opened #6320 "Tensorflow error: expected dense_Dense1_input to have shape [null,3] but got array with shape [3,1]"
I'm trying to build a TF model which takes a tensor with [1,3] shape

    // example: [1,2,3]

And the output is the same

here's a simple code to reproduce the error

    const {
      tensor1d,
      sequential,
      layers,
    } = require('@tensorflow/tfjs-node');

    const model = sequential();

      model.add(
        layers.dense({
          units: 3,
          inputShape: [3],
        }

[2022-04-12 09:09] qjia7 commented on #6252
@haoyunfeix is working on this. #6321

[2022-04-12 20:59] rthadur commented on #6318
Hi , You can try to use [asyncStorageIO](https://js.tensorflow.org/api_react_native/0.2.1/#asyncStorageIO) to load from local RNFS

[2022-04-12 21:46] rthadur commented on #6316
@anjomshoaa can you please share image size , usually front camera works good for image sizes 128px.

[2022-04-12 21:51] rthadur commented on #6313
Kernal 'Atan2' is not yet implemented in wasm background, this will be feature request .Do you wish to contribute ?

cc @pyu10055 @ahmedsabie

[2022-04-12 23:04] anjomshoaa commented on #6316
@rthadur I don't use the camera. I used this image:  https://en.wikipedia.org/wiki/Situation_Room_(photograph)

[2022-04-13 03:34] naah69 commented on #6313
Atan as well

[2022-04-13 16:33] ronigober opened #6323 "gradient function not found for Conv3DBackpropInputV2."
**System information**
- OS Platform and Distribution: Windows
- TensorFlow.js installed from: npm
- TensorFlow.js version: 3.14.0
- Browser version: Chrome 100.0.4896.75
- Tensorflow.js Converter Version: 3.14.0

**Describe the current behavior**

When training this model in python:
[code]

When training in js, get the next error:
[code]
Also - 'kernelSize' is missing in Conv3DTranspose Layer.

*

[2022-04-13 17:32] anjomshoaa commented on #6316
@rthadur

I used the original file with pixel size 4096 × 2731. You may download it from here:

https://upload.wikimedia.org/wikipedia/commons/a/ac/Obama_and_Biden_await_updates_on_bin_Laden.jpg

[2022-04-13 17:39] #6289 closed

[2022-04-13 19:40] Cristopher2021F opened #6324 "Aprendiendo-tensorflow"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow.js version (you are using):
- Are you willing to contribute it (Yes/No):

**Describ

[2022-04-13 19:41] #6324 closed

[2022-04-14 05:39] #5520 closed

[2022-04-14 12:13] umutreldem opened #6326 ""Failed to load resource" when using Hand Pose Detection"
**System information**
- OS Platform and Distribution OSX 11.5.2
- TensorFlow.js installed from script link
- Chrome Version 100.0.4896.75

**Describe the problem**
I am trying to use the Hand Pose Detection model in p5.js through the script tag and the code below as it is described on the [Tensorflow blog](https://blog.tensorflow.org/2021/11/3D-handpose.html). I encounter two problems:

- Creatin

[2022-04-14 14:22] JoshuaeKaiser commented on #6265
Seconded, please publish to NPM. Node of the demo code will run as the API has changed with the new version.

[2022-04-14 17:11] Linchenn commented on #6312
The key of `cachedSorted` and `cachedRecipientCounts` caches is the combination of `outputNames` and `feedDict.names()`. The order of `outputNames` affects the result of the topological sort, while the order of `feedDict.names()` does not affect.

### `feedDict.names()`
The order of `feedDict.names()` does not affect the sort result, because the topological sort exclusively uses the `feedDict` at

[2022-04-14 17:15] mattsoulanille commented on #6315
Thanks for the bug report @vladmandic. To get a better idea of what's causing this, [I tried reproducing it locally](https://github.com/mattsoulanille/tfjs_6315_cpu_dep_on_node), once with esbuild and another time with rollup, however, the bug doesn't appear with either.

This might be an issue with stackblitz, but that's surprising if the bug only appears after 3.13 (although I haven't been able

[2022-04-14 17:16] pyu10055 commented on #6233
@github-jeff what is the TensorFlow python version you are using, we have a bug with the converter if you are using TensorFlow 2.10.0.
We will release a fix soon, if you are using 2.10.0, you need to downgrade the TensorFlow to 2.9.0 and below.

[2022-04-14 17:32] rthadur commented on #1891
NCHW is supported in conv2d now here is the reference link https://www.tensorflow.org/api_docs/python/tf/nn/conv2d . Closing this feature request.

[2022-04-14 17:32] #1891 closed

[2022-04-14 17:33] github-jeff commented on #6233
@pyu10055 Thank you for taking a look.  I am currently using tensorflow/tfjs 3.11.0 in a javascript/react app.  I was attempting to use the latest revision 3.15.0 with npm but that failed with the PartitionCall.  I think there is a tangential relationship between this and a tensor shape miss-match error.  See [stackoverflow question](https://stackoverflow.com/questions/71822165/uncaught-in-promise

[2022-04-14 17:56] rthadur commented on #2069
This has been updated in api docs here https://js.tensorflow.org/api/latest/#tf.layers.Layer.dispose.Closing this request.

[2022-04-14 17:56] #2069 closed

[2022-04-14 18:12] rthadur commented on #2189
Closing this issue as the related PR is merged. Thank you

[2022-04-14 18:12] #2189 closed

[2022-04-14 18:14] rthadur commented on #2186
Will be closing this issue as we will be using latest body segmentation model for same purpose.
Please check latest body segmentation model for latest bodypix model demo https://github.com/tensorflow/tfjs-models/tree/master/body-segmentation

[2022-04-14 18:14] #2186 closed

[2022-04-14 18:15] rthadur commented on #2183
Will be closing this issue as we will be using latest body segmentation model for same purpose.
Please check latest body segmentation model for latest bodypix model demo https://github.com/tensorflow/tfjs-models/tree/master/body-segmentation

[2022-04-14 18:15] #2183 closed

[2022-04-14 19:17] vladmandic commented on #6315
@mattsoulanille i just spend an hour looking at this and i'm not much smarter because of it :(

seems that 3.13 vs 3.15 may be a red herring as that timeline seems to match some changes on stackblitz side (apparently new module parser when live in late january, but only way i can see that is browsing through old issues)

regarding what they use - havent seen official docs - but looking at their ge

[2022-04-14 21:50] lina128 commented on #6250
Hi @vladmandic , thank you for reporting this. The parallel compilation experimental feature, we only test for one model, if there's a couple models, the state may get messed up because of the async call (this line `const res = await model.executeAsync(tensor)`). Maybe try using model.execute(). We'd like to know whether it works. Anyways, we are working on some infra improvement that will allow u

[2022-04-14 22:14] jinjingforever commented on #5532
Hi,

Please try the [tfjs-tflite-node](https://www.npmjs.com/package/tfjs-tflite-node) package that @mattsoulanille has been working on. Thanks!

[2022-04-14 22:22] Michael-F-Bryan commented on #5532
@jinjingforever can you reopen this ticket? Having to install a separate dependency doesn't really solve the problem of testing code that may transitively depend on `@tensorflow/tfjs-tflite`.

[2022-04-15 11:43] vladmandic commented on #6250
yup, that does the trick!

and compile definitely speeds up time to first inference - some ~30% in my tests using simple models
that is VERY useful for webapps where time to interactive is critical

i do wish there was a way to determine ahead of time if model can be executed synchronously
instead of wrapping the block in `try...catch` (i do have open feature request for that)

for reference:

[2022-04-15 16:18] rthadur commented on #3827
Facemesh is deprecated , please try our latest face-detection model which has support included for "rotated faces". Thank you

[2022-04-15 16:18] #3827 closed

[2022-04-16 16:52] emilehickson opened #6331 "[Codelab]: TensorFlowJS Make a smart webcam in JavaScript with a pre-trained ML model"
"This codelab **_is_** focuses on how to get started using TensorFlow.js pre-trained models."

=>

"This codelab focuses on how to get started using TensorFlow.js pre-trained models."

[2022-04-16 17:01] rthadur commented on #6331
It looks like you haven't used a template to create this issue. Please resubmit your issue using a template from [here](https://github.com/tensorflow/tfjs/issues/new/choose). We ask users to use the template because it reduces overall time to resolve a new issue by avoiding extra communication to get to the root of the issue. We will close this issue in lieu of the new one you will create from the

[2022-04-16 17:01] #6331 closed

[2022-04-16 20:32] mattsoulanille commented on #4902
Not stale

[2022-04-17 01:53] twobitunicorn opened #6332 "Possibly invalid type for arraySync (or dataSync...)"
Hi all.  I have run into an issue where arraySync will return a scalar and not an array.  The type for `arraySync()` includes `number` as part of its union types and will not type check using `map` because of the possible scalar type.

However, even if this is assumed to be okay.  There seems to be a sync problem between `arraySync()` and `dataSync()`.

Given the code below, it appears that `array

[2022-04-17 23:35] Linchenn commented on #6308
Found both CPU and WebGL could pass the following test for `NHWC` format:
[code]
The result is similar with the wrong result of WebGL/`NHWC`.

Also compared the calling history between `NHWC` and `NCHW` of WebGL, found all arguments are correct before calling [conv2dWithIm2Row](https://github.com/tensorflow/tfjs/blob/fda7d7b1014ef89d61d6329e8048da0fec8ed03e/tfjs-backend-webgl/src/kernels/Conv2D.ts

[2022-04-18 16:57] rthadur commented on #6265
@all new version has been published to npm https://www.npmjs.com/package/@tensorflow-models/face-landmarks-detection . Please check it out. Thank you

[2022-04-18 16:57] #6265 closed

[2022-04-18 18:39] #3902 closed

[2022-04-18 18:39] #5942 closed

[2022-04-19 04:07] gyagp opened #6334 "Duplicated packages defined in multiple package.json files"
After the transition to Bazel, I think it's time to clean up all the unnecessary duplicated packages defined in all package.json files in subfolders. For example, tfjs-backend-webgl/package.json includes many duplications with the root folder. The clean up can at least help to:
* Make package versions consistent
* Save disk storage and ease the setup of dev env
* Save the effort to bump the packag

[2022-04-19 17:34] mattsoulanille commented on #6334
This has been on my list of things to do for a while, and I think a good way to do this would be to have Bazel generate the package.json files for tfjs-core, tfjs-backend-cpu, etc. Dependencies from those packages' package.json files are not actually used during development since Bazel only uses the root package.json, as we've set it up.

We should be able to find the transitive set of npm depende

[2022-04-19 19:34] rthadur commented on #2043
Will be closing this issue as we will be using latest body segmentation model for same purpose.
Please check latest body segmentation model for latest bodypix model demo https://github.com/tensorflow/tfjs-models/tree/master/body-segmentation

[2022-04-20 02:05] Linchenn commented on #6308
Checked the implementation of [conv2dWithIm2Row](https://github.com/tensorflow/tfjs/blob/fda7d7b1014ef89d61d6329e8048da0fec8ed03e/tfjs-backend-webgl/src/kernels/Conv2D.ts#L45), which mainly has 3 steps:
1. Use Im2ColPackedProgram to rearranges conv2d input. This step [considers](https://github.com/tensorflow/tfjs/blob/fda7d7b1014ef89d61d6329e8048da0fec8ed03e/tfjs-backend-webgl/src/im2col_packed_gp

[2022-04-20 03:51] gyagp commented on #6334
We're in the progress to manually remove the duplicated packages in WebGPU backend. As it's a general problem, we hope to eventually keep the solution consistent for all backends.
Currently we met a problem and I will ping you in that PR for suggestion.

[2022-04-20 15:41] rthadur commented on #3835
Facemesh is deprecated , please try our latest [face-detection](https://github.com/tensorflow/tfjs-models/tree/master/face-landmarks-detection) model which has support included for "rotated faces". Thank you

[2022-04-20 19:18] Linchenn commented on #6308
Checked the intermediate variable `im2Col`, the result of the step 1. Found the `NHWC` format and the `NCHW` format generate the same `im2ColReshaped`, while both step2 and step3 do not consider the format. **This proves the above assumption: step 3 is problematical**.

Specifically, both of the following tests have the same `backend().readSync(im2Col.dataId)`  as `[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3

[2022-04-20 19:44] MiroslavPetrik commented on #6326
Hey @umutreldem,

The error 404 indicates that the app is trying to fetch the model from your local server.
Either (1) point the app to CDN, or (2) serve the files locally.

Solution 1: (didn't test)
[code]

Solution 2:

1. You'll need to [download the model](https://www.jsdelivr.com/package/npm/@mediapipe/hands) (pick version first, then click the download icon.
2. Add to your server public folde

[2022-04-20 19:47] MiroslavPetrik commented on #3943
@no-1ne there [is a newer model from 2021 ](https://blog.tensorflow.org/2021/11/3D-handpose.html)

The old (imprecise) npm package is `@tensorflow-models/handpose`

the new (more precise) npm package is `@tensorflow-models/hand-pose-detection`

[2022-04-20 22:17] rthadur commented on #6326
@MiroslavPetrik did you try using p5.js ?  Looking at the above error , error seems to be in p5.js. @umutreldem can you provide a repro code in [codepen](https://codepen.io/pen/) ?

[2022-04-20 22:24] rthadur commented on #3943
@MiroslavPetrik you were right . old npm package is deprecated and please use latest hand-pose-detection model here
https://github.com/tensorflow/tfjs-models/tree/master/hand-pose-detection

[2022-04-20 23:16] rthadur commented on #5854
Please check the latest face-landmark-detection with mediapipe here https://github.com/tensorflow/tfjs-models/tree/master/face-landmarks-detection/ , the above demo was deprecated.

[2022-04-21 00:01] rthadur commented on #5203
related PR https://github.com/tensorflow/tfjs/pull/5302 has been merged , closing this issue.Thank you

[2022-04-21 00:01] #5203 closed

[2022-04-21 06:02] jysung opened #6341 "React Native - TypeError: undefined is not an object (evaluating 'env().platform.fetch')"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow.js): No.
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): MacOS Monterey 12.3.1
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow.js installed from (npm or script link): yarn installed
- TensorFlow.js version (us

[2022-04-21 06:31] #6318 closed

[2022-04-21 06:39] #6092 closed

[2022-04-21 06:47] jomariya23156 commented on #6092
@rthadur The solution works fine on my friend's iOS 15. But I have not tested it on my android phone yet. I will update as soon as I try it.

[2022-04-21 11:18] sameermahajan opened #6342 "transfer learning with audio model"
In your

https://codelabs.developers.google.com/codelabs/tensorflowjs-audio-codelab/index.html#7

do you intend to create a brand new model and train it from scratch or do you intend to apply transfer learning leveraging already pretrained speech-commands audio model?

[2022-04-21 21:59] rthadur commented on #5633
Closing this issue as the request is no longer worked on.

[2022-04-21 21:59] #5633 closed

[2022-04-21 22:08] #5298 closed

[2022-04-22 00:08] #2547 closed

[2022-04-22 00:08] #6230 closed

[2022-04-22 00:08] #4432 closed

[2022-04-22 01:08] #4185 closed

[2022-04-22 01:08] #6019 closed

[2022-04-22 15:30] unit-002 opened #6345 "@tensorflow/tfjs-react-native version that is compatible with the new expo-modules"
Is it possible to have an updated version of React native tensorflow that is compatible with the new expo module version? @tensorflow/tfjs-react-native. Currently it is only compatible with React native unimodules and expo-gl and expo-gl-cpp which is already outdated.

**System information**
"@tensorflow/tfjs": "^3.9.0",
"@tensorflow/tfjs-react-native": "^0.7.0",
"react-native": "0.63.4",

**Descr

[2022-04-22 23:06] CanyonWind commented on #4824
A similar thing happened for panoptic segmentation model conversion as well. Any idea where the SparseToDense operation comes from? There is no sparse tensor in the pytorch/onnx models.

Thanks a lot.

[2022-04-22 23:23] Linchenn commented on #6308
Found there are [3 branches](https://github.com/tensorflow/tfjs/blob/fda7d7b1014ef89d61d6329e8048da0fec8ed03e/tfjs-backend-webgl/src/kernels/Conv2D.ts#L39-L49) to compute Conv2d on WebGL.

The above comments are talking about [the second branch](https://github.com/tensorflow/tfjs/blob/fda7d7b1014ef89d61d6329e8048da0fec8ed03e/tfjs-backend-webgl/src/kernels/Conv2D.ts#L44-L45), which uses Im2Row algo

[2022-04-22 23:54] akssieg commented on #3835
@rthadur How to access that "rotated faces" feature?

[2022-04-23 04:23] Looooong commented on #5972
I have the same problem trying to cast or use a tensor as well.

[code]

However, I can do `tf.cast(imageTensor, 'float32')` without any error.

For some reason, `this` inside `getGlobalTensorClass().prototype.cast` is not an instance of `Tensor` but is an instance of `getGlobalTensorClass()` when using `imageTensor.cast`:

[code]

There is a possibility that `Tensor` from `tfjs-react-native` via

[2022-04-23 04:45] Looooong commented on #5972
Good news: I get it to work now!

Since `Tensor` from `tfjs.node.js` and `Tensor` from `tfjs-converter.node.js` are 2 different classes, my conclusion is that the error is thrown because `Tensor` instance from `tfjs.node.js` is passed to `tfjs-converter.node.js`'s method or vice versa.

My solution is to replace all the `instance of Tensor` check with `instanceof getGlobalTensorClass()` in both `t

[2022-04-23 21:08] #4902 closed

[2022-04-24 17:26] eledahl opened #6347 "[RN] - Measurements with Keypoints3d in BlazePose"

[2022-04-25 09:49] epirocsunil opened #6348 "How to use with VGG model"
I have my own VGG  custom model(tflite) how to use that model with this library? Please help

[2022-04-25 19:23] rthadur commented on #6341
@jysung could you please elaborate steps you are trying to do. Please check the working example here for posenet and image classification here https://github.com/tensorflow/tfjs-examples/tree/master/react-native . Also please remove multiple references of tfjs in package.json , you can use either `cpu` or `webgl`. Thank you

[2022-04-25 22:41] lina128 commented on #3835
We are still working on an accurate approach to get the transformation for face. Stay tuned.

[2022-04-26 01:08] OgulcanCelik commented on #5937
@pyu10055 sir, sorry for the mention but I crawled through old issues for M1 and saw your comments and PR related to it. Do we have an ETA for this? This problem also affects M1 users in a way, because docker containers and native images run under `linux-arm64`.

[2022-04-26 05:32] sameermahajan commented on #6342
@rthadur  let me try to explain my feature request a bit more. It is on the documentation and sample code side. As I understand the sample code posted here it shows using a pretrained model for making predictions. Later it shows how to create a brand new model and train it from scratch for making predictions. What I am suggesting is that you load the pretrained model, open it up at one of the laye

[2022-04-26 09:28] Panda-Dreamer commented on #5937
Got the same issue on node v18.0.0 with linux debian on arm64

[2022-04-26 15:30] rthadur commented on #6342
cc @ahmedsabie @pyu10055

[2022-04-26 15:40] rthadur commented on #6332
Hi , I checked with the team and this is working as expected .

[2022-04-26 15:44] #2043 closed

[2022-04-26 17:03] haoyunfeix commented on #6252
Verified and close this issue.

BTW, also tried on deeplab [demo](https://github.com/tensorflow/tfjs-models/tree/master/deeplab/demo), for demo ADE20K needs to enable device limit of maxStorageBufferBindingSize when request a device. Fixes on https://github.com/tensorflow/tfjs/pull/6350

[2022-04-26 22:08] #6320 closed

[2022-04-26 23:30] MincoMK commented on #5937
Is there anyone who can build manually using the bazel?

[2022-04-26 23:46] OgulcanCelik commented on #5937
I did today, using m1 mac built it inside a container. Will share the result.

[2022-04-27 08:57] Looooong opened #6352 "[tfjs-react-native] Tensor data read back is slow"
I'm using MoveNet model on an Android device. The execution time is ranging from 200ms to 250ms, which is twice as much compared to running the MoveNet demo in the browser on the same device. After investigating the code, I found out that the Tensor read back time takes approximately half of the total execution time (90ms-140ms).

[code]

From the code, I understand that tensor data have to be ret

[2022-04-27 09:09] NormanTUD commented on #4570
I think I have a very similiar issue. I'm trying to get https://github.com/tensorflow/tfjs-examples/tree/master/visualize-convnet to work, but the gradFunction always returns a zero matrix only.

[2022-04-27 13:36] BruceDai commented on #6284
I ran SqueezeNet sample with the latest WebGPU backed @ [05a114e](https://github.com/tensorflow/tfjs/commit/05a114e7d2a84f36af29e667d3397e5b5e2a57b3), the issue still reproduced.

Comparing WebGL backend, I checked the output data of the Conv2d layer(name: squeezenet0_conv3_fwd) with/without Relu activation, I observed that those output data are similar without Relu activation while much different

[2022-04-27 16:59] jinjingforever commented on #5571
Hi @anhquan291 please see here: https://github.com/tensorflow/tfjs-examples/tree/master/react-native/image-classification/react-native-cli

[2022-04-27 20:08] #6316 closed

[2022-04-27 22:51] DCtheTall commented on #4649
I'd be interested in writing a PR for this if the owners are open to it.

[2022-04-28 10:28] anjali14garg commented on #4648
any update on this issue. Still the issue persists

[2022-04-28 15:29] rthadur commented on #4649
@JPery you are welcome to contribute, please submit a PR. Thank you

[2022-04-28 16:14] rthadur commented on #4076
Will be closing this issue as we will be using latest body segmentation model for same purpose.
Please check latest body segmentation model for latest bodypix model demo https://github.com/tensorflow/tfjs-models/tree/master/body-segmentation. We will not support existing  bodypix.

[2022-04-28 16:14] #4076 closed

[2022-04-28 16:21] rthadur commented on #3947
We will not be updating body-pix , there is a new body segmentation model here https://blog.tensorflow.org/2022/01/body-segmentation.html , did you get chance to check this out? Thank you

[2022-04-28 16:21] #3947 closed

[2022-04-28 16:30] DCtheTall commented on #4649
I think you tagged the issue author instead of me, so unless you say otherwise I can get started 😄

[2022-04-28 16:53] rthadur commented on #4649
ahh sorry, @DCtheTall please submit a PR. Thank you so much

[2022-04-28 20:19] FelipeSchiavini commented on #6345
I managed to install.
Here is my repository:
https://github.com/FelipeSchiavini/tensorflow_on_react_native

`
yarn add @react-native-async-storage/async-storage
npx install-expo-modules
 add package.json -> “expo”: “expo”
yarn expo install expo-gl
yarn expo install expo-gl-cpp
yarn expo install expo-camera
yarn expo doctor --fix-dependencies
made expo-camera setup :  https://github.com/expo/expo/t

[2022-04-28 20:20] FelipeSchiavini commented on #6345
I managed to install.
Here is my repository:
https://github.com/FelipeSchiavini/tensorflow_on_react_native
--------------------------------------
yarn add @react-native-async-storage/async-storage
npx install-expo-modules
add package.json -> “expo”: “expo”
yarn expo install expo-gl
yarn expo install expo-gl-cpp
yarn expo install expo-camera
yarn expo doctor --fix-dependencies
made expo-camera setu

[2022-04-28 20:20] FelipeSchiavini commented on #6345
I managed to install.
Here is my repository:
https://github.com/FelipeSchiavini/tensorflow_on_react_native

yarn add @react-native-async-storage/async-storage
npx install-expo-modules
add package.json -> “expo”: “expo”
yarn expo install expo-gl
yarn expo install expo-gl-cpp
yarn expo install expo-camera
yarn expo doctor --fix-dependencies
made expo-camera setup : https://github.com/expo/expo/tree/

[2022-04-28 20:26] dennis508 commented on #3947
Thanks for the info.

    On Thursday, April 28, 2022, 12:21:49 PM EDT, Rajeshwar Reddy T ***@***.***> wrote:

We will not be updating body-pix , there is a new body segmentation model here https://blog.tensorflow.org/2022/01/body-segmentation.html , did you get chance to check this out? Thank you

—
Reply to this email directly, view it on GitHub, or unsubscribe.
You are receiving this because yo

[2022-04-28 21:11] Linchenn opened #6354 "Check correctness for conv2d in NCHW format with preluActivationWeights"
In WebGL's [Conv2d_impl.ts](https://github.com/tensorflow/tfjs/blob/fda7d7b1014ef89d61d6329e8048da0fec8ed03e/tfjs-backend-webgl/src/kernels/Conv2D_impl.ts), both [conv2dByMatMul](https://github.com/tensorflow/tfjs/blob/fda7d7b1014ef89d61d6329e8048da0fec8ed03e/tfjs-backend-webgl/src/kernels/Conv2D_impl.ts#L44) and [conv2dWithIm2Row](https://github.com/tensorflow/tfjs/blob/fda7d7b1014ef89d61d6329e80

[2022-04-28 21:11] Linchenn commented on #6308
In WebGL's [Conv2d_impl.ts](https://github.com/tensorflow/tfjs/blob/fda7d7b1014ef89d61d6329e8048da0fec8ed03e/tfjs-backend-webgl/src/kernels/Conv2D_impl.ts), both [conv2dByMatMul](https://github.com/tensorflow/tfjs/blob/fda7d7b1014ef89d61d6329e8048da0fec8ed03e/tfjs-backend-webgl/src/kernels/Conv2D_impl.ts#L44) and [conv2dWithIm2Row](https://github.com/tensorflow/tfjs/blob/fda7d7b1014ef89d61d6329e80

[2022-04-29 11:15] sameermahajan opened #6358 "index.js:88 Uncaught (in promise) TypeError: Cannot read properties of undefined (reading 'length')"
While trying to "Train" using this code I am getting an error:

DevTools failed to load source map: Could not load content for https://cdn.jsdelivr.net/npm/@tensorflow/tf.min.js.map: HTTP error: status code 404, net::ERR_HTTP_RESPONSE_CODE_FAILURE
index.js:88 Uncaught (in promise) TypeError: Cannot read properties of undefined (reading 'length')
    at flatten (index.js:88:26)
    at train (index.

[2022-04-29 18:51] DCtheTall commented on #4649
@rthadur since we are dealing with complex numbers, does `tf.transpose` simply transpose complex matrices without changing any values, or do we take the conjugate transpose?

[2022-04-29 18:59] juancruzsosagab commented on #2678
Same for me! But i've got anothe issue
node_modules\@tensorflow\tfjs-core\dist\backends\backend.js:515
    throw new Error("'" + kernelName + "' not yet implemented or not found in the registry. " +
          ^

Error: 'softmax' not yet implemented or not found in the registry. Did you forget to import the kernel?

[2022-04-29 19:13] rthadur commented on #4649
@ahmedsabie could you please help with above comments . Thank you

[2022-04-29 19:22] JPery commented on #4649
In the (official docs)[https://www.tensorflow.org/api_docs/python/tf/transpose] there is an optional parameter "conjugate" that tells the function if the values of the tensor are conjugated and transposed.

[2022-04-30 06:04] sameermahajan commented on #6358
Attached is my code (inde.html and index.js just remove the .pdf suffix and you can execute them). It is based on your sample. I think it used to work about a month ago when I had got it. Nothing changed from my side but now I am getting this error.

Open index.html, click on button "Train" and the UI will grey out completely. You can see the exception, error and stack trace that I reported in dev

[2022-04-30 14:14] vladmandic commented on #6315
root cause is a bug in SystemJS that entire module for require calls and doesn't ignore strings.
the PR is being submitted, but this is not uncommon issue - I suggest to remove code statements from comments.
specifically, in `@tensorflow/tfjs-backend-cpu`, there is:

[code]

anyhow, imo such comments belong in docs, not in warning messages while warning messages should be much shorter
(not to ment

[2022-04-30 16:37] JeffMII opened #6359 "Glamor is Way Outdated. It May Be Time to Fork It For an Update or Look For Something Else"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 11
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: n/a
- TensorFlow.js installed from (npm or script link): npm
- TensorFlow.js version: 3.16.0
- CUDA/cuDNN version: v11.6/v8.4

**Describe the problem**
`glamor` is causing high severity vulnerabilities because o

[2022-04-30 16:52] rthadur commented on #6358
Could not open pdf , can you please paste here https://codepen.io/pen/ and share it.

[2022-04-30 22:29] danwexler commented on #5977
Note that, even on Chrome where it does work, the Typescript does not include the OffscreenCanvas type, so we have to cast to HTMLCanvasElement (through unknown).

[2022-04-30 22:31] danwexler commented on #1665
I am using tf.fromPixels with an OffscreenCanvas, and it is working great. It would be fantastic if you could add the OffscreenCanvas type to the Typescript declaration for tf.fromPixels.

[2022-05-01 05:42] sameermahajan commented on #6358
Here you go: https://codepen.io/sameermahajan/pen/YzezQej

[2022-05-01 12:31] JeffMII commented on #6359
I added `npm install @tensorflow/tfjs-node-gpu` because I think if I were using `tfjs-vis` by itself, it would work. i'm going to test that out as soon as I can today. If it does, I can just separate them to two projects and have them communicate with `express-js`. I'm still working on updating `glamor`. I'm just about finished I think, but I've never used `babel` in a project before so I'm having

[2022-05-01 13:32] unit-002 commented on #6345
Thanks, I got it working now with expo module.

[2022-05-02 13:29] DCtheTall commented on #4649
Thanks @JPery I'll be sure to add support for both options in the PR.

[2022-05-02 18:20] rthadur commented on #6358
Initially I did not get which colab you were working on , by seeing the code I see you are [TensorFlow.js - Audio recognition using transfer learning](https://codelabs.developers.google.com/codelabs/tensorflowjs-audio-codelab). I was able to run the colab successfully here https://codepen.io/rthadur/pen/JjpoKbE . Codepen which you shared is also working fine for me , could you please let me know w

[2022-05-02 19:01] rthadur commented on #1665
@danwexler can you please a [new issue](https://github.com/tensorflow/tfjs/issues/new?assignees=&labels=type%3Abug&template=00-bug-issue.md) with ask , here is the [reference](https://github.com/tensorflow/tfjs/blob/tfjs-v3.16.0/tfjs-core/src/ops/browser.ts#L65-L181) code for tf.fromPixesl. Related PR has been merged and also I will close this as the related code has been moved to mono repo . Than

[2022-05-02 19:01] #1665 closed

[2022-05-03 08:18] rdutta1999 opened #6363 "Inconsistent results when using different 'size' values in tf.slice()"
**System information**
- Used code snippet from the docs - [tf.slice()](https://js.tensorflow.org/api/latest/#slice).
- MS Edge and Windows 10.

**Describe the current behavior**

[code]

Output:
[code]

**Describe the expected behavior**

Generally. the convention is that the `end`/`size` index is exclusive. So, if `end` = `n`, the slice is taken till the `n-1`th element. However, this is not the

[2022-05-03 17:58] rthadur commented on #5490
@deepanshusharma012 did you get chance to check latest blazeface model here https://github.com/tensorflow/tfjs-models/tree/master/pose-detection/src/blazepose_tfjs , it is now deployed.

[2022-05-03 18:53] JeffMII commented on #6359
So it looks like `tfjs-vis` does actually run by itself, with the `tfjs-core` it requires. However, the high severity vulnerabilities are still shown by `npm` because of the outdated `glamor` dependency.

[2022-05-03 19:11] rthadur commented on #2197
Will be closing this issue as we will be using latest body segmentation model for same purpose.
Please check latest body segmentation model for latest bodypix model demo https://github.com/tensorflow/tfjs-models/tree/master/body-segmentation

[2022-05-03 19:11] #2197 closed

[2022-05-03 19:18] rthadur commented on #4177
Mediapipe segmentation model has been deployed [here](https://github.com/tensorflow/tfjs-models/tree/master/body-segmentation/src) .please verify.

[2022-05-03 19:57] rthadur commented on #4309
Please check the latest face-landmark-detection with mediapipe here https://github.com/tensorflow/tfjs-models/tree/master/face-landmarks-detection/ , the above model was deprecated.

[2022-05-03 19:57] #4309 closed

[2022-05-03 22:29] #6312 closed

[2022-05-03 23:25] aubergene commented on #5937
I was having this problem with RPI 4 "Raspbian GNU/Linux 10 (buster)" and somehow managed to get it work but then couldn't update node modules without breaking it. I ended up checking node_modules into git and finding out that the `node_modules/@tensorflow/tfjs-node/lib/napi-v8/tfjs_binding.node` I had previous compiled somehow worked but the updated one didn't. I've pushed my file here in case it

[2022-05-03 23:40] OgulcanCelik commented on #5937
I've successfully compiled libtensorflow following the guide on the readme inside a docker container. https://github.com/tensorflow/tfjs/tree/master/tfjs-node#optional-build-optimal-tensorflow-from-source

However, from here, I'm stuck. There isn't much information about how to compile node bindings from here, can anyone guide me?

[2022-05-03 23:41] mattsoulanille commented on #5242
Hi @SukkaW.

Sorry for not getting to this sooner, and thanks for posting a reproduction. I've isolated the cause of the memory leak to `tfNode.node.decodeJpeg`.

With the following code, memory use never exceeds 250Mb
[code]

However, with this code, memory use climbs rapidly
[code]
I've tested against TensorFlow 2.8 and 2.6, and this memory leak persists. I think the leak may be in the tfjs-node

[2022-05-04 03:05] juntaoxiang commented on #6358
**Uncaught (in promise) TypeError: Cannot read properties of undefined (reading 'type')
    at eval (barPolar.js?120a:63:1)
    at GlobalModel.eval (Global.js?05a0:682:1)**

[2022-05-04 11:14] plantematthieu opened #6367 "Bug using tfjs-models/face-landmarks-detection"
Hello,

I'm developping a program to sort images in a folder (if there is a face or not and if there is, get landmarks) and I'm facing a weird bug.
The model is missing some obvious faces in the loop (it doesn't return landmarks) but when I apply the model only on the obvious face, I got landmarks. So when a image is in the loop, I sometimes don't get the same results than when I apply the model o

[2022-05-04 16:44] mattsoulanille commented on #6085
No update yet, but it's on my list.

[2022-05-04 20:26] Linchenn opened #6368 "Support NCHW dataFormat for fusedConv2d (Core)"
Currently, some backends already support fusedConv2d for `NCHW` format, so we want to enable core's fusedConv2d for NCHW format. Specifically, we want to move the [assert](https://github.com/tensorflow/tfjs/blob/a1c39500d3b86b63478b189d1a89cd84a7e2ff9a/tfjs-core/src/ops/fused/conv2d.ts#L161-L164) `only NHWC is currently supported` from core's fusedConv2d to the specific backends that only support

[2022-05-04 23:52] #6326 closed

[2022-05-04 23:52] #3943 closed

[2022-05-05 00:52] #5854 closed

[2022-05-05 01:37] Linchenn commented on #6368
Found CPU, WebGL and WebGPU backends support fusedConv2d, while [WASM](https://github.com/tensorflow/tfjs/blob/a464506c8e82ecacf793b2dc56b7f2f39d8ebfa0/tfjs-backend-wasm/src/kernels/FusedConv2D.ts#L128-L132) and node backends do not support.

[2022-05-05 08:47] manish228 opened #6370 "How we can utilize Tensorflow.JS model.json and weights.bin file from File System or by using a Tensorflow.JS handler AsyncStorageIO in React Native?"
I am trying to utilize model.json and weights.bin files from File System in React native using react-native-fs and expo-file-system. But not able to utilize them.

Also, I have tried to save and load the model from asyncStorageIO Handler provided by tensorflow.JS but due to the large model size, I am not able to load the model. The model is saved successfully but It is not loaded from asyncStorage

[2022-05-05 10:55] MincoMK commented on #5937
@OgulcanCelik
How to make from libtensorflow to tfjs-node?

[2022-05-05 16:00] Randhirjha17 commented on #6352
i faced the exact same issue, this is how I was able to reduce it to 100-150ms.

import { bundleResourceIO} from "@tensorflow/tfjs-react-native";
 const modelJson = require("./thunder/model.json");
  const modelWeights = require("./thunder/group1-shard1of3.bin");
  const modelWeights1 = require("./thunder/group1-shard2of3.bin");
  const modelWeights2 = require("./thunder/group1-shard3of3.bin");

[2022-05-05 17:30] rthadur commented on #6367
Did you try to use use [dispose](https://www.tensorflow.org/js/guide/tensors_operations#memory) after each iteration ?

[2022-05-05 17:53] rthadur commented on #6345
@unit-002 I see this got resolved , do we still need this feature request ?

[2022-05-05 22:12] jasonmayes commented on #6342
I did not write this codelab but after taking a quick look it does indeed seem to be training a whole new model from what I can tell vs (given the title) a transfer learning approach which from my understanding would chop the model at some layer to get features and repurpose those to classify new things (much like how I do here in my updated teachable machine demo for images https://codelabs.devel

[2022-05-06 03:41] BruceDai commented on #6284
Thanks @qjia7 for fixing this issue, I verified patch #6374, now it works, so close it.

[2022-05-06 03:41] #6284 closed

[2022-05-06 05:19] sameermahajan commented on #6358
I am getting error as reported at line 88 of index.js when clicked on button "Train". I get the error locally as well as in uploaded codepen. It is with latest chrome on windows 10 machine in case it matters.

[2022-05-06 08:38] plantematthieu commented on #6367
I found a solution: using `console.log(tf.memory().numTensors)` I saw that the number of used tensors was increasing through iterations.

So I declared the model and make `.estimateFaces` inside a `tf.engine().startScope()
tf.engine().endScope()`

[2022-05-06 08:38] #6367 closed

[2022-05-06 19:20] #5242 closed

[2022-05-06 22:02] pyu10055 commented on #4570
@NormanTUD @pxrrylson it would be really helpful if either of you can provide a codepen example that reproduces this problem?  Thanks

[2022-05-08 19:40] eledahl commented on #6347
Hi @jinjingforever @rthadur,

Can you confirm if this is a bug or my error in understanding how the world keypoints are represented?

--

Also, is there anything going on with the api? Since Friday, it does not open the camera. I've double-checked my dependencies and they match the README in the example [https://github.com/tensorflow/tfjs-examples/blob/master/react-native/README.md](Here). I also

[2022-05-08 21:34] Agrafador commented on #4362
Any updates?
I'm using CPU and also facing the same memory increase when using tf.node.decodeImage

[2022-05-09 00:03] Agrafador opened #6380 "Memory usage keeps increasing when using tf.node.decodeImage"
**System information**
@tensorflow/tfjs@3.16.0
Using CPU on Windows 10 and Linux Ubuntu 20.04.4

**Bug description**
I'm tracing a memory leak related to a model prediction task of images, and the conclusion that i end up with is that the method `tf.node.decodeImage` is the origin of the memory leak.

I already tried multiple things including `startScope` & `endScope`, but the RSS memory keeps ris

[2022-05-09 04:53] unit-002 commented on #6345
if it gets updated that would be nice because if I am using the latest version of expo packages I get a lot of deprecated warnings during builds so currently I am using packages that are from 6 or 7 months old same with the @tensorflow/tfjs-react-native version.

[2022-05-09 10:45] Caundy commented on #4514
@mehimanshupatil were you able to solve this issue when running Monterey? If so, how? :)

[2022-05-09 11:17] mehimanshupatil commented on #4514
no, I was not able to solve the issue.

[2022-05-09 11:27] Caundy commented on #4514
@mehimanshupatil Sorry to hear, thanks for answering 👍

@ozenhaluk Did you end up having any success with using tfjs-node on Monterey?

[2022-05-09 13:59] Caundy opened #6381 "tfjs-node "Illegal instruction: 4" error on macOS Monterey (M1)"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): macOS 12.1 (Monterey), 2020 MacBook Air M1
- TensorFlow.js installed from (npm or script link): npm
- TensorFlow.js version: "@tensorflow/tfjs": "^3.16.0", "@tensorflow/tfjs-node": "^3.16.0"

**Describe the problem**
In an empty project, installing and requiring @tensorflow/tfjs-node results in an "Illegal instructio

[2022-05-09 14:40] Mas-Y opened #6382 "How to convert custom Yolov5n Model to Wasm Format"
Hi Team,

Can you please let me know how can i convert custom **yolov5n** (https://github.com/ultralytics/yolov5) model to **wasm** format to use in mobile browser.

[2022-05-09 15:59] #6348 closed

[2022-05-09 15:59] pyu10055 commented on #6380
@mattsoulanille is this related to the decodeJpeg mem leak? Seems here it is not using string for the file name.

[2022-05-09 16:28] rthadur commented on #6382
Thank you , did you get chance to check this site as well https://www.aionlinecourse.com/blog/how-to-convert-yolov5-model-to-tensorflowjs ?

[2022-05-09 17:18] Mas-Y commented on #6382
Thank You @rthadur for the response. I am not looking for converting into tfjs (.bin and .json) . I am trying to convert into wasm (.data, .wasm, .js) format to make the model run faster in browser

[2022-05-09 18:48] rthadur commented on #6382
@Mas-Y got it. @mattsoulanille could you please assist with this request. Found a related issue here https://github.com/tensorflow/tfjs/issues/5684 but not sure they are saving the model wasm format.

[2022-05-09 20:19] vladmandic commented on #6382
@Mas-Y thats not how it works. tfjs uses graph model format (or layers, but thats a different story or even experimental tflite format) model, then you choose how its executed - in your case, you want to use wasm, so it would be using `@tensorflow/tfjs-backend-wasm`. you don't *convert* model to wasm as such.

[2022-05-09 20:33] Mas-Y commented on #6382
@vladmandic I am more confused now. My understanding is like how we convert our .pt models to .bin files for usage in tfjs in browser, we can convert into web assembly format for faster access in browser.

This is the reference link i found for my basic understanding https://github.com/nihui/ncnn-webassembly-yolov5

Please clarify

[2022-05-09 20:36] mattsoulanille opened #6384 "Presubmit change detection is wrong for non-Bazel packages"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
The continuous integration docker image running presubmits.

**Describe the current behavior**
Presubmits for pa

[2022-05-09 20:54] mattsoulanille opened #6385 "Reference types missing from tensor.d.ts"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
Master tfjs branch on any system.

**Describe the current behavior**
Reference types for `@webgpu/types` are mis

[2022-05-09 21:09] vladmandic commented on #6382
@Mas-Y that is how NCNN achieves things, every framework is different. How TensorFlow in general works is that models are abstract and backends define functions used in models.

So if you convert model to TF Graph format (.bin + .json), its just a model definition and binary weights - there are is no actual implementation of each op used inside model included in the model.

But then module such as

[2022-05-09 21:42] rthadur commented on #6380
@Agrafador have you tried using latest version 3.16 ?

[2022-05-09 22:31] mattsoulanille commented on #6385
Probably due to https://github.com/bazelbuild/rules_nodejs/issues/1265

[2022-05-09 23:05] #6385 closed

[2022-05-10 08:10] aqntks opened #6387 "Thread not working on mobile (iPhone12)"
hello.
I am using tfjs or tfjs-tflite on iPhone 12.
Using WASM+SIMD+threads to increase the number of threads has the same speed.
 In mobile web such as iphone12, thread Not supported?

The backend-wasm-threaded-simd.wasm file is downloaded normally.

[2022-05-10 08:25] Agrafador commented on #6380
Yes, it was the version that i used initially

[2022-05-10 15:59] #6332 closed

[2022-05-10 16:59] eledahl commented on #6347
The issue I mentioned above of the app crashing might be due to the Expo Go app. That is where I am testing it and there was an update that went out 5 days ago which is when the problem started. I am diving into what might have affected it but please let me know if you find anything that can fix it through Expo Go

[2022-05-10 18:10] vladmandic commented on #6315
confirm root issue as resolved. suggestion remains for `tfjs` to clean-up overly verbose console messages.

[2022-05-10 18:48] AdarshJais commented on #4988
No bro, no solution yet.

[2022-05-10 21:44] #6384 closed

[2022-05-10 21:44] mattsoulanille opened #6392 "tfjs-react-native is failing CI tests"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
Docker CI image (gcr.io/learnjs-174218/release) on Google Cloud Build running [presubmits for #6390](https://pan

[2022-05-10 23:35] #5939 closed

[2022-05-11 02:46] yuezhaoBJ commented on #6242
+1
When using https://tfhub.dev/tulasiram58827/lite-model/keras-ocr/dr/2 with tfjs in browser. It throws this error when loading the model.

[2022-05-11 02:59] rthadur commented on #6315
submitted PR to fix the warn message. Thank you

[2022-05-11 03:38] qjia7 commented on #6200
A new one is here https://www.npmjs.com/package/@tensorflow/tfjs-backend-webgpu. Thanks Matt's help.

[2022-05-11 03:38] #6200 closed

[2022-05-11 08:10] josephrocca opened #6395 "Unsupported Ops: InvertPermutation, TensorScatterUpdate"
**System information**
- TensorFlow.js version (you are using): `tensorflowjs_converter --version` = `3.15.0`
- Are you willing to contribute it (Yes/No): I'm willing, but potentially not able - unless I have some guidance from a pro.

Here's the command I ran:
[code]
And here's the full error:
[code]
There's [already an issue open for PartitionedCall](https://github.com/tensorflow/tfjs/issues/617

[2022-05-11 12:47] Randhirjha17 commented on #6370
Try this. worked for me.

[code]

[2022-05-11 17:23] rthadur commented on #6395
cc @pyu10055

[2022-05-11 17:43] rthadur commented on #6370
@Randhirjha17 Thank you , please check here for more details regarding bundleResourceIO , https://js.tensorflow.org/api_react_native/0.8.0/#bundleResourceIO .

[2022-05-11 18:14] dio78 commented on #6176
Instead of "poses[0].keypoints", try passing just "poses" as the first argument, like this:

[code]
If that doesn't work, try changing "calculator" to "calculators" like this:

[code]

I'm not sure what syntax it is looking for when you pass in the imageSize, but I'm working on that now and I'll let you know if I figure it out!

[2022-05-11 18:20] #6363 closed

[2022-05-11 18:41] Fluxionsdx opened #6396 "MoveNet Optimizations?"
I have the official TFJS MoveNet, modelType=SINGLEPOSE_THUNDER, and a custom TFJS model running simultaneously in the browser (chrome) on a 2021 MacBook M1. When running only one model at a time, both models run around 50 frames per second. However, when I run them together, the performance of Movenet only drops to 43 fps while the custom model drops to 15 fps. I'm wondering if there's some kind o

[2022-05-11 19:50] rdutta1999 commented on #6363
Hey, extremely sorry for the delay. Totally missed your reply. Yeah, I get it now. Was too fixated on the `end` index thing and didn't think that `size` could simply mean that.. size.

Thanks a lot.

[2022-05-11 22:20] anacastedo opened #6398 "[Codelab]: Making Predictions from 2D Data"
import is not working

[2022-05-12 08:35] rdutta1999 commented on #4218
Was wondering if there's been any update regarding this?

I have been deploying an object-detection app and using the 'wasm' backend with threaded-simd, I was able to greatly reduce the inference time and post-processing time. However, the time across the call to `tf.browser.fromPixels` increased significantly, from around 0.2ms in WebGL backend to ~15ms in wasm-threaded-simd at 720p resolution. A

[2022-05-12 11:28] josephrocca opened #6402 "[tflite] Loading tflite with `await import('...')` should work"
This code correctly loads the tf-tflite library:
[code]
But this doesn't:
[code]
If I understand correctly, the two should work equivalently (it does with other libraries that I've tried). The latter code uses the wrong location for the `tflite_web_api_cc_simd.js` file which results in a request error. I think this probably has something to do with the scripts trying to use `document.currentScript

[2022-05-12 11:54] josephrocca opened #6403 "[tflite] Uncaught RuntimeError: Aborted(). Build with -s ASSERTIONS=1 for more info."
I get the error in the title of this issue (with no other explanation) when loading [this tflite file](https://huggingface.co/rocca/lit-web/blob/main/debug/lit_savedmodel_no_params.tflite) with `tflite.loadTFLiteModel`. The tflite file was generated from [this SavedModel](https://huggingface.co/rocca/lit-web/blob/main/debug/lit_savedmodel_no_params.zip). The SavedModel can be loaded and inferenced

[2022-05-12 15:56] rthadur commented on #6402
@josephrocca please share the error message if possible . Thank you

[2022-05-12 18:59] #6341 closed

[2022-05-12 21:08] loretoparisi commented on #4514
On my platform:
[code]

with `package.json`

[code]

I get

[code]

[2022-05-12 21:10] loretoparisi commented on #4514
On my platform:
[code]

with `package.json`

[code]

I get

[code]

[2022-05-12 21:24] #6315 closed

[2022-05-13 01:52] josephrocca commented on #6402
@rthadur Sure:

[code]

Note that it makes a request to `https://null.jsbin.com/tflite_web_api_cc_simd.js` in this example: https://jsbin.com/lifelugivi/edit?html,output

jsbin.com for some reason returns an empty response, so there's no request error. If you copy and paste these lines into Chrome browser console on a site that appropriately returns a 404 for non-existent files, then you'll see a

[2022-05-13 02:30] ozio commented on #711
saaaame

[2022-05-13 03:34] Looooong commented on #5972
@rthadur @jinjingforever I think this issue still needs attention. The root cause is the fact that there are 2 definitions of `Tensor` class in 2 different packages: `tfjs` and `tfjs-converter`. Perhaps, we should move the class definition to a package that both libraries use, `tfjs-core`, maybe?

[2022-05-13 06:13] ozenhaluk commented on #4514
@Caundy no unfortunately

[2022-05-13 14:53] nestarz opened #6407 "[tflite] Access the SignatureDef"
Hello !

Do you know how can I access the SignatureDef to be able to reuse the output to refeed the input like in the MoviNet architecture; I need to know the real name of the output I think to map them to the inputs.

Here a related issue: https://stackoverflow.com/questions/68180174/outputs-of-tensorflow-lite-model-look-like-statefulpartitionedcalln-what-is-no

Is there any access to api like in

[2022-05-13 15:46] unit-002 commented on #6345
update: some expo packages are also requiring JDK 11 and @tensorflow/tfjs-react-native expo-gl version requires JDK 8. Currently I'm back to using the deprecated react-native unimodule due to this.

[2022-05-13 17:39] ahmedsabie commented on #6396
@Fluxionsdx Here is a [blog post](https://blog.tensorflow.org/2021/05/next-generation-pose-detection-with-movenet-and-tensorflowjs.html) that describes the architecture, if you need more help then @ronnyvotel and @lina128 have written the blog post

[2022-05-13 17:54] ahmedsabie commented on #6215
@DuKeM-CSGO I think you are misunderstanding the timestamp parameter. The timestamp is part of the pose-detection API because it is used for their smoothing filters, however hands does not use such filters so it is not part of the API.

The timestamp is not used to select a frame in the video, our code simply uses the current frame of the video at the time of calling the estimatePoses or estimateH

[2022-05-13 17:54] #6215 closed

[2022-05-13 18:24] rthadur commented on #3048
You can use tfjs-tflite to load the models from tflite , please check here for more details
https://github.com/tensorflow/tfjs/tree/master/tfjs-tflite

[2022-05-13 18:25] rthadur commented on #1864
Will be closing this issue as we will be using latest body segmentation model for same purpose.
Please check latest body segmentation model for latest bodypix model demo https://github.com/tensorflow/tfjs-models/tree/master/body-segmentation

[2022-05-13 18:25] #1864 closed

[2022-05-13 18:27] rthadur commented on #1681
Will be closing this issue as we will be using latest body segmentation model for same purpose.
Please check latest body segmentation model for latest bodypix model demo https://github.com/tensorflow/tfjs-models/tree/master/body-segmentation

[2022-05-13 18:27] #1681 closed

[2022-05-14 04:10] josephrocca commented on #6403
I'm also seeing a similar error with [this model](https://huggingface.co/rocca/lit-web/blob/main/embed_images.tflite) in this minimal example: https://jsbin.com/hogagolupi/edit?html,output

[code]

[2022-05-14 12:48] ayadav commented on #5490
@rthadur will test shortly and share results.

[2022-05-14 18:14] Aabha1 commented on #5942
npm ERR! code 1
npm ERR! path D:\engage\The Perfect Frame\frontend\node_modules\@tensorflow\tfjs-node
npm ERR! command failed
npm ERR! command C:\WINDOWS\system32\cmd.exe /d /s /c node scripts/install.js
npm ERR! CPU-windows-3.17.0.zip
npm ERR! * Downloading libtensorflow
npm ERR! D:\engage\The Perfect Frame\frontend\node_modules\@tensorflow\tfjs-node\scripts\install.js:106
npm ERR!     throw new

[2022-05-15 12:45] zavalyshyn commented on #4927
I confirm the OP issues. I have similar issues when trying to decode local image files using `tf.node.decodeImage(buf)` function. tf.node is not defined in tf object when importing it as `import * as tf from '@tensorflow/tfjs';`
When I try to import tfjs-node package separately it causes a conflict when setting a 'wasm' backend.

Seems like for now wasm backend is primarily for browsers or I'm mis

[2022-05-15 15:22] vladmandic commented on #4927
that is a separate thing (and i don't consider it an issue at all, its just how its designed) - `tf.node.*` is defined by tfjs-node as it depends on specific nodejs libraries. and equally tf.browser.*` is only defined in browser environments as it depends on browser-specific implementation.

in your case, you can use something like `node-canvas` to decode jpeg and then continue using `tfjs-backend

[2022-05-15 20:55] Fluxionsdx opened #6408 "Support for tensor4D in MoveNet"
I am working on an application that uses MoveNet and 3 cameras. I would like to pass all three images to MoveNet at once in a batch, but MoveNet only supports 3D tensors consisting of a single image, not a batched 4D tensor.

[2022-05-15 22:34] DCtheTall commented on #4649
@rthadur I implemented it using higher level ops instead of at the backend level. @JPery let me know if this is what you had in mind.

[2022-05-15 23:59] DCtheTall commented on #4649
Refer to the 2nd PR, due to a git fail I borked the first PR

[2022-05-16 06:09] obadakhalili opened #6412 "`flipHorizontal` option of the `segmentPerson` method in bodyPix doesn't work"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow.js):
- OS Platfo

[2022-05-16 08:45] havenchyk commented on #6319
Anyhow, the problem exists on babel later than 7.16.12, so 7.17.0 already breaks the build

[2022-05-16 08:46] JPery commented on #4649
I think your PR should be compatible with 'complex128' dtype just changing line 76 to:

`if ($x.dtype === 'complex64' || $x.dtype === 'complex128' ) {`

Do you agree, @DCtheTall ?

[2022-05-16 16:33] DDincBrent opened #6413 "Undefined variable module_name in binding.gyp while trying to load binding.gyp"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- Windows 10 Pro: Build 19044.1706
- TensorFlow.js installed from (npm or script link): n

[2022-05-16 17:42] #6368 closed

[2022-05-16 17:49] Linchenn commented on #6354
Currently, only CPU and WebGL supports fusedConv2d-NCHW. Fixed PReLU activation for them.

[2022-05-16 17:49] #6354 closed

[2022-05-16 18:05] jasonmayes opened #6414 "Enable metadata saving via TensorFlow.js frontend API"
Currently metadata is supported for conversion via the CLI converter on server side from models from Python however if you train a model in the browser there is no way to save custom key value pairs that you may need in future pre/post processing.

For example if you perform normalization on your training data you need to know the min/max values for a given attribute in order to normalize future d

[2022-05-16 18:52] rthadur commented on #6413
@DDincBrent can you please try to run this command `npm rebuild @tensorflow/tfjs-node --build-from-source` and try

[2022-05-16 20:51] DDincBrent commented on #6413
Running from root I get: Quick glance I see python errors because it wants python 3.X. Just to specify I got the same error as above when I had python 3.10 installed. But for further assistance, I can reinstall python 3.X and the new node-gyp version if you would like.

[code]

[2022-05-16 21:19] spector32 commented on #4680
This is still a problem.

[2022-05-16 22:13] rthadur commented on #6319
please use new pose-detection model here https://github.com/tensorflow/tfjs-models/tree/master/pose-detection as we no longer support body pix. Thank you

[2022-05-16 22:25] rthadur commented on #6413
Please check a related issue here https://github.com/tensorflow/tfjs/issues/6029 and yes please try with python 3.x

[2022-05-16 22:28] rthadur commented on #6408
cc @lina128 @ahmedsabie

[2022-05-17 05:30] obadakhalili commented on #6412
It's weird why this is not mentioned anywhere. I already invested some time in bodyPix ...
Also, the main thing I need is the segmentation functionality. Does pose-detection support that?

[2022-05-17 05:41] obadakhalili commented on #6412
It seems like the answer to that question is yes through [BlazePose-MediaPipe](https://github.com/tensorflow/tfjs-models/tree/master/pose-detection/src/blazepose_mediapipe). Thank you.

[2022-05-17 08:11] halflings commented on #6414
For the specific use case of pre-processing, it would be great to have ops like the ones in tf transform:
https://www.tensorflow.org/tfx/transform/get_started

Normalizing a feature would just require calling something like `tft. scale_to_z_score(..)` when building the model, and the rest is done more-or-less transparently (no need to manually serialize/deserialize metadata).

Here are some of the

[2022-05-17 09:57] tomashornak commented on #5717
Hi. Are there any updates on this or did you come to any workaround?
We came to similar issue, only with APK for release and only with YOLOv5 tfjs model: https://github.com/ultralytics/yolov5/issues/7853

[2022-05-17 17:41] rthadur commented on #6412
We are in the process of updating the models to reference correct one. Apologies for the inconvenience . Glad it worked for you. Closing this request.

[2022-05-17 17:41] #6412 closed

[2022-05-17 20:01] havenchyk commented on #6319
I see, thanks

[2022-05-17 20:01] #6319 closed

[2022-05-17 20:56] #4177 closed

[2022-05-17 23:45] mattsoulanille commented on #6380
Thanks, @Agrafador, for the report! I believe this is a duplicate of #5242, and is fixed in 3.17.0 by #6371. I ran an extended version of your test on 3.17.0, and while initially, memory seems to climb, it levels out after ~7000 iterations.
[code]
This matches the behavior of 3.3.0.

In 3.16.0, memory grows rapidly (above 1Gb by iteration 5000):
[code]

[2022-05-17 23:47] mattsoulanille commented on #6380
Closing as fixed by #6371.

[2022-05-17 23:47] #6380 closed

[2022-05-18 03:27] bergkamp opened #6418 "tfjs-react-native got error [TypeError: undefined is not an object (evaluating 'env().platform.fetch')] with Apple M1 Pro"
I run my code on my Apple M1 Pro(yarn ios) , got error

[code]

I had reade this https://github.com/tensorflow/tfjs/issues/3300 , could not fix

I try to run this https://github.com/tensorflow/tfjs-examples/tree/master/react-native/image-classification/react-native-cli but failed

Thanks

[2022-05-18 03:38] bergkamp commented on #6418
App.js

[code]

[2022-05-18 10:30] Caundy commented on #6381
@pyu10055 Any chance you could take a look at the issue? :)

[2022-05-18 12:00] Fluxionsdx commented on #6396
There were mistakes in my code. Please delete this issue. Sorry for wasting your time.

[2022-05-18 16:38] #6396 closed

[2022-05-18 18:14] mattsoulanille opened #6419 "A few tfjs-models links are broken"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
N/A

**Describe the current behavior**
Source links for the following models return 404: BodyPix, DeepLab v3, Fa

[2022-05-18 18:22] rthadur commented on #6419
@mattsoulanille can i work on it ?

[2022-05-18 18:29] mattsoulanille commented on #6419
Yes. Thank you!

[2022-05-18 19:46] tornikeo opened #6420 "`tf.lookup` object conversion doesn't work as expected"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow.js):
[This repo](https://github.com/tornikeo/tfjs-bad-conversion) contains all the reproducible code. In a nutshell, here is the code:
[code]
On the JS side, we have:
[code]

- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
 Ubuntu 21.10
- TensorFlow.js installed from (n

[2022-05-18 20:43] rthadur commented on #6419
Thank you @mattsoulanille I have included all the changes here https://github.com/tensorflow/tfjs-models/pull/1020 , please help review the PR

[2022-05-18 21:02] vladmandic commented on #6002
I'll test them, but this is getting really confusing.

for example, "new" `facemesh-detection` models are called "short" and "full" and they are based on `blazeface` "front" and "back" models, but what are the differences? what is "new" about them?

and new `facemesh-landmarks-attention` model is produced how? original mediapipe model uses custom ops, so this is ported to tfjs somehow, but no note

[2022-05-18 21:27] #6419 closed

[2022-05-18 21:38] vladmandic commented on #6002
update:
- new `facemesh-detection-full` has LOWER resolution (192 vs 256) vs old `blazeface-back` and generates far noisier output (2304 vs 896 candidates). neither i consider positive, so unless there is clear documentation why its better i'm skipping it.
- new `facemesh-landmarks` seems identical in every way to the old one except its quantized to f16 by default
- new `facemesh-landmarks-attenti

[2022-05-18 22:01] mattsoulanille opened #6422 "Duplicate runs of tfjs tests against CPU backend"
CPU tests are run twice: once in tfjs-backend-cpu and another time in tfjs-core.

tfjs-backend-cpu: https://github.com/tensorflow/tfjs/blob/master/tfjs-backend-cpu/src/run_tests.ts#L39
tfjs-core: https://github.com/tensorflow/tfjs/blob/master/tfjs-core/src/setup_test.ts#L41

We should probably remove one of these to avoid the redundancy. I think removing them from core is best, since for all other

[2022-05-18 23:52] pyu10055 commented on #6381
@Caundy I have tried to compile the latest TF with arm64 target, but it is have following errors:
[code]
I am still very confused with rosetta, I also tried to set to x86 arch with the current tfjs-node, but it also seems to fail with the same error that you have.

[2022-05-19 07:08] sameermahajan commented on #6358
I get the same error with this from my machine / browser. Developer tools show the same error and stack.

[2022-05-19 16:40] rthadur commented on #5490
Closing this issue , please @mention to reopen, if the issue still persists or open a new issue with latest information. Thank you

[2022-05-19 17:53] #6252 closed

[2022-05-19 18:05] mattsoulanille opened #6426 "#6423 modified tfjs-core but did not trigger tests on dependent packages"
**System information**
Continuous integration

**Describe the current behavior**
#6423 [modified tfjs-core](https://github.com/tensorflow/tfjs/pull/6423/files#diff-706181390beffe1946bca178c6b4ac435e701ce6f5ac481c9b2e14de9fffaae9), but that modification [did not trigger tests to run on any non-bazel packages](https://pantheon.corp.google.com/cloud-build/builds/0a4ab1d3-e2ee-461d-bce7-0ae6254dabd3;s

[2022-05-19 18:40] DCtheTall commented on #4649
@JPery looks like complex128 is not actually supported by TensorFlow.js: https://github.com/tensorflow/tfjs/blob/38f8462fe642011ff1b7bcbb52e018f3451be58b/tfjs-core/src/types.ts#L40

[2022-05-19 21:44] #6426 closed

[2022-05-19 22:06] mattsoulanille commented on #4362
@Agrafador, I think the CPU memory leak you're seeing may be fixed by #6371. Can you try on tfjs-node 3.17.0 and see if it persists? See #5242 and #6380 for additional discussion.

As for the GPU memory leak, I'll try to reproduce it. It's possibly also fixed since the memory leak was related to string tensors (which I think would be stored in GPU memory in tfjs-node-gpu), but I'm not certain.

[2022-05-20 01:45] huningxin commented on #6252
Sorry for late update. This is fixed according to my test. Thanks again for the resolution.

[2022-05-20 14:44] Mas-Y commented on #6382
@vladmandic Thank you for the explanation. Currently yolov5n model link which i mentioned doesn't seem have wasm support. So i guess as per your explanation i would not be able to use it as it is not supported.
Anyone can confirm my understanding.

[2022-05-20 15:07] vladmandic commented on #6382
@Mas-Y if model can be converted to TF Graph Model format (.bin + .json) (which it can and its documented), then its up to backend engine (`tfjs-backend-wasm`) to support or not support each individual kernel op used inside the model - how do you know "its not supported"?

[2022-05-20 18:41] #5740 closed

[2022-05-21 10:53] mingmingshen commented on #5972
Hello, I upgraded Expo and React-Native to 45, but 0.68.2 also has the same error. How should I deal with it? It works normally on 0.64 and EXPO 44, thank you

[2022-05-21 11:49] mingmingshen commented on #5972
I passed the video frame data into the face-landmarks- Detection detector.
**{"dataId": {"id": 1085}, "dtype": "int32", "id": 1069, "isDisposedInternal": false, "kept": false, "rankType": "3", "shape": [224, 224, 3], "size": 150528, "strides": [672, 3]}**

The detector execution returns the following error
**DetectorError [Error: Argument 'x' passed to 'conv2d' must be a Tensor or TensorLike, but

[2022-05-21 12:31] mingmingshen commented on #5972
I turned off Hermes to fix the above problem, and it is not clear if there was any deviation in compiling with Hermes

:hermes_enabled => flags[:hermes_enabled],
# :hermes_enabled => true,

However, the following error occurs when running the own model on TFJS, which is similar to this topic return problem, and I will try to solve it:

Error: Argument 'x' passed to 'cast' must be numeric tensor, b

[2022-05-21 12:33] mingmingshen commented on #5972
I turned off Hermes to fix the above problem, and it is not clear if there was any deviation in compiling with Hermes

:hermes_enabled => flags[:hermes_enabled],
//  :hermes_enabled => true,   ->Note the enabling of Hermes

However, the following error occurs when running the own model on TFJS, which is similar to this topic return problem, and I will try to solve it:

Error: Argument 'x' passed t

[2022-05-21 13:43] ToonTalk opened #6435 "Broken links in https://github.com/tensorflow/tfjs-models/tree/master/face-detection#readme"
The readme page ends with

Refer to each model's documentation for specific configurations for the model and their performance.

[MediaPipeFaceDetector MediaPipe Documentation](https://github.com/tensorflow/tfjs-models/tree/master/face-detection/src/face_detector_mediapipe)

[MediaPipeFaceDetector TFJS Documentation](https://github.com/tensorflow/tfjs-models/tree/master/face-detection/src/face_det

[2022-05-21 13:51] mingmingshen commented on #5972
This problem has been dealt with. The main reason is related to the data I sent in, which was modified during the update and forgot to restore. It has nothing to do with TFJS

[2022-05-21 13:52] mingmingshen commented on #5972
This problem has been dealt with. The main reason is related to the data I sent in, which was modified during the update and forgot to restore. It has nothing to do with TFJS

[2022-05-21 14:40] tornikeo commented on #6420
@rthadur Any updates on this? Could you replicate this bug?

[2022-05-21 23:43] SahidJafar commented on #2180
Debugger attached.
npm ERR! code 1
npm ERR! path D:\Bangkit\Capstone Project\Backend-Node-Js\node_modules\@tensorflow\tfjs-node
npm ERR! command failed
npm ERR! command C:\Windows\system32\cmd.exe /d /s /c node scripts/install.js
npm ERR! CPU-windows-3.17.0.zip
npm ERR! https://storage.googleapis.com/tensorflow/libtensorflow/libtensorflow-cpu-windows-x86_64-2.7.0.zip
npm ERR! node-pre-gyp install

[2022-05-22 14:09] Cortexelus commented on #4222
Hope it gets implemented!

[2022-05-22 14:29] avovetisa opened #6436 "Mac OS M1 support"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow.js version (you are using):
"@tensorflow/tfjs-node": "^3.15.0",

- Are you willing

[2022-05-22 14:35] Cortexelus commented on #4222
[TensorScatterUpdate](https://www.tensorflow.org/api_docs/python/tf/raw_ops/TensorScatterUpdate) from the tensorflow docs:
"This operation is very similar to [tf.scatter_nd](https://www.tensorflow.org/api_docs/python/tf/scatter_nd), except that the updates are scattered onto an existing tensor (as opposed to a zero-tensor). If the memory for the existing tensor cannot be re-used, a copy is made an

[2022-05-22 19:52] adityapatadia opened #6437 "Kernel 'Transform' not registered for backend 'tensorflow'"
I am trying to use this repo but getting above error: https://www.npmjs.com/package/@tensorflow-models/face-detection

**System information**
- TensorFlow.js version (you are using): 3.18
- Are you willing to contribute it (Yes/No): No

There is some issue and this model is unable to run on `tfjs-node`.

[2022-05-23 04:57] Karthik-code1010 commented on #3875
Warning: D:\Innoart_Projects\ICCCproject\imagecropping\node_modules\@tensorflow\tfjs-core\dist\ops\rand_util.js depends on 'seedrandom'. CommonJS or AMD dependencies can cause optimization bailouts.
For more info see: https://angular.io/guide/build#configuring-commonjs-dependencies

Error: node_modules/@tensorflow/tfjs-core/dist/io/types.d.ts:337:37 - error TS2344: Type 'IOHandler[K]' does not sat

[2022-05-23 15:53] liliquan0118 opened #6439 "tf-backend-wasm.node.js occurred "memory out of bounds""
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow.js):
- OS Platfo

[2022-05-23 19:43] rthadur commented on #6436
Thank you for the request , there is already issue for M1 chip support here https://github.com/tensorflow/tfjs/issues/6381 , please comment there, thank you

[2022-05-23 19:43] #6436 closed

[2022-05-23 19:50] rthadur commented on #6435
Thank you , submitted a fix.

[2022-05-23 22:12] eledahl commented on #6347
Is it advised to have the model on the backend/cloud for better accuracy or do you foresee this becoming more accurate on mobile in the near future?

I see Intel's 3DAT uses their cloud to do pose estimation and calculations. Curious if that is the better approach for BlazePose. Send videos from mobile device to backend for the computing. Would prefer to have it all on mobile device though.

[2022-05-24 00:47] rthadur commented on #6437
`Transform` is not implemented for `tfjs-node` , this will be a feature request .Any specific reason you are using `tfjs-node`?  Thank you

[2022-05-24 17:45] rthadur commented on #6439
Here is the related PR https://github.com/tensorflow/tfjs/pull/6371 which addresses above issue .Thank you

[2022-05-24 18:01] pyu10055 commented on #6233
@github-jeff It is interesting that 3.11.0 works, but not anything higher. The partitionCall is the Tensorflow function start node in the saved model, when the function can not be inlined by our converter, this error happens.

It would be great if you can share a model that does not contain your proprietary functions but still shows the conversion errors.

[2022-05-24 18:21] DCtheTall commented on #4649
@rthadur now that #6410 has landed, I think we can close this? @JPery I don't think complex128 is in scope for this issue since that would involve adding support for a whole new dtype to TFJS.

[2022-05-24 20:21] rthadur commented on #4649
Thank you so much @DCtheTall for contributing , changes will available in next release meanwhile you can get changes from tfjs repo.

[2022-05-24 20:21] #4649 closed

[2022-05-24 20:49] SMUEric1127 opened #6441 "Cannot load tfjs model converted from .h5 to .json: [Error: Based on the provided shape, [7,7,1,64], the tensor should have 3136 values but has 44]"
**System information**
- OS Platform and Distribution: Windows
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: Iphone 11
- tensorflow/tfjs version: 3.18.0
- tensorflow/tfjs-react-native: 0.8.0

**Describe the problem**
I'm converting a resnet model from *.h5 to *.json format using TensorFlow.js Converter v3.18.0 tool. However, when I try to load the

[2022-05-24 20:50] SMUEric1127 commented on #6441
Here is my model.json url [https://api.jsonbin.io/b/628d3787402a5b38020be20a](url)

Thanks

[2022-05-24 21:12] #6387 closed

[2022-05-25 08:05] axinging opened #6444 "Frompixels gets different values for the same input when repeat running"
For both webgl and webgpu backend, when running image based model over e2e correctness manually
after a auto run, the test will fail. Example: benchmark=bodypix&backend=webgl, benchmark=
bodypix&backend=webgpu.

For cpu backend, this may fail with benchmark=bodypix&backend=cpu.

The root cause is, getImageData runs on different hardware (CPU, GPU).
See comments here: https://bugs.chromium.org/p/ch

[2022-05-25 13:38] davidstrahm commented on #4766
@jinjingforever @rthadur I second this, asking for update. Have made a benchmark with yolov5n model converted to tfjs. Inference takes up to 100ms on cpu / webgl backend on my laptop, which means on a phone this would unfortunately be too slow for real-time application.

[2022-05-25 14:56] saboorajat opened #6447 "return process.dlopen(module, path.toNamespacedPath(filename));"
OS: Windows 10
Node: 12.22.9
IDE: VS code

The issue is persistent even after changing the node version. Also to my surprise the @tensorflow/tfjs-node is not mentioned in package.json. Have tried all the mentioned workaround but it seems to be a problem that's not fixed. The same code is working fine on the ubuntu. Any help will be appreciated.

[nodemon] 2.0.16
[nodemon] to restart at any time, e

[2022-05-25 17:15] rthadur commented on #4766
@all will share the request with team and let you know. Thank you

[2022-05-25 17:39] ErrorBot1122 commented on #711
I get this same issue when trying to install `puppeteer-hcaptcha` which installs `@tensorflow/tfjs-node`

[code]

Mor info [here](https://github.com/aw1875/puppeteer-hcaptcha/issues/60)

[2022-05-25 18:17] remixer-dec opened #6449 "Landmarks model returns NaN when refineLandmarks is used with tfjs runtime backend"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow.js): No
- OS Pla

[2022-05-25 18:24] rthadur commented on #6441
Above link is not working , could you please check and share a codepen example , so that we can reproduce the error.Thank you

[2022-05-25 18:32] rthadur commented on #6447
@saboorajat could you please try to copy the tendorflow.dll from `\@tensorflow\tfjs-node\deps\lib\tensorflow.dll to @tensorflow\tfjs-node\lib\napi-v6\` . Also please provide tfjs version and windows machine specifications . Thank you

[2022-05-25 18:38] rthadur commented on #6449
@remixer-dec thank for reporting , @ahmedsabie could you please help fixing the [demo](https://storage.googleapis.com/tfjs-models/demos/face-landmarks-detection/index.html?model=mediapipe_face_mesh) , I see this link https://storage.googleapis.com/src.a2b27638.js.map is not working.

[2022-05-25 23:20] vladmandic commented on #6002
Why is butter adding stale when correct status is waiting for TFJS team to provide information?

[2022-05-26 04:52] saboorajat commented on #6447
OS: Windows 10 pro 64 bit, Node : 12.22.9, NPM : 6.14.15, @tensorflow/tfjs : 3.6.0 are the specification.

have tried moving the dll file but it was already present in the napi-v8 folder which i replaced with the dll file present in lib that didn't work.

[2022-05-26 11:48] saboorajat commented on #4116
Any alternative for napi-v8. moving file from deps\lib to napi-v8\ didn't work for me. OS: Windows 10 pro 64 bit, Node : 12.22.9, NPM : 6.14.15, @tensorflow/tfjs : 3.6.0, @tensorflow/tfjs-node: 3.6.1.

Solved the NPM installation error now stuck on the runtime.

[2022-05-26 13:10] rthadur commented on #6447
@saboorajat can you please check here for similar issue here https://github.com/tensorflow/tfjs/issues/6413and let us know . Thank you

[2022-05-26 14:16] saboorajat commented on #6447
tried doing rebuild but no help. Can you provide any specific steps in which i can retry, because i have literally tried all the approaches. Same code is running on linux machine but here it's just a nightmare.

[2022-05-26 16:12] #6398 closed

[2022-05-26 16:57] liliquan0118 commented on #6439
Thank you very much for your reply.  I have changed the code according to your suggestion, not only dispose the `prediction`, but also dispose the `layer`, while using the latest version of TFJS 3.18, the issue still exists.
the code after change as follows:
[code]

[2022-05-26 16:59] rthadur commented on #6210
Related PR has merged and the changes are available in latest release(v3.18.0). Thank you @iislucas for contributing.

[2022-05-26 16:59] #6210 closed

[2022-05-26 17:08] rthadur commented on #6439
It was released as part of v3.17(https://github.com/tensorflow/tfjs/releases) . #6371 was fixing memory leak in tfjs-node and you are using wasm. So the fix might not be addressing your issue.

[2022-05-26 17:11] liliquan0118 commented on #6439
ok, thank you very much.

[2022-05-26 19:53] akssieg opened #6457 "tfjs pose model was working yesterday but from today it is not working."
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow.js): No
- OS Pla

[2022-05-26 20:25] rthadur commented on #6457
I checked the [demo](https://storage.googleapis.com/tfjs-models/demos/pose-detection/index.html?model=blazepose ) and it is working fine , and also [benchmark](https://tensorflow.github.io/tfjs/e2e/benchmarks/local-benchmark/index.html) tool you can see the model loads fine with latest tfjs version.

[2022-05-26 21:28] akssieg commented on #6457
The demo works for me as well but the standalone code which I shared earlier still shows the same error. However, when I did some changes to the script tags and the detectorConfig as provided in other tensorflow official docs for mediapipe inside browser with tfjs then it started working again. The below code is providing the expected results:

[code]

[2022-05-26 21:29] #6457 closed

[2022-05-26 21:52] rthadur opened #6459 "Fix script tags for Posenet blogpost"
In the [blog](https://blog.tensorflow.org/2021/08/3d-pose-detection-with-mediapipe-blazepose-ghum-tfjs.html) post there are two scripts tags for tfjs-core and tfjs-convereter , we should just only one script tag in order to load tfjs as this is a union package .

<img width="1238" alt="image" src="https://user-images.githubusercontent.com/43972606/170586112-791df489-e175-48da-be65-3d4268d43e73.png

[2022-05-26 21:53] rthadur commented on #6457
Thank you opened a new issue here https://github.com/tensorflow/tfjs/issues/6459 to update blogpost. Thank you

[2022-05-26 23:27] Linchenn commented on #5199
(The tool currently does not work for WebGL https://honry.github.io/webnn-samples/style_transfer/?backend=webgl, `Binary was compiled with different shapes than the current args. Shapes 1,8,270,270 and 1,270,270,8 must match`, so I manually tested `conv2d` on WebGL, which has the similar time consumption)

I fixed the filter size and the input channel and only left **the height and the width** of

[2022-05-27 01:33] qjia7 commented on #5199
@Linchenn Great investigation. Your conclusion makes sense for me. I think one possible way is to explore another efficient algorithm to process such kind of shape. But it's not easy to do.

[2022-05-27 01:42] Linchenn commented on #5199
Do you have examples/hints for other algorithms? @qjia7

As we known, WebGL's `conv2d` has three ways (1*1, img2col and brute force). Do you mean a new way to compute such shape?

[2022-05-27 03:16] qjia7 commented on #5199
Yes,  I mean a new way. Sorry I don't have good suggestion how to do it. We are also exploring some new methods for some shapes in webgpu.
This conv2d's filter width and height are relatively larger compared with 3x3, which means more data are repeated access. So I am wondering how much time are spent on im2col and how much time are spent on matmul. And for lots of repeated access, we usually use

[2022-05-27 03:51] Linchenn commented on #5199
Great catch! Let me check if I could benchmark im2col and matmul separately first. Thank you!

[2022-05-27 08:50] saboorajat commented on #6447
Any help will be appreciated.

[2022-05-27 11:53] whoisltd opened #6462 "How to use custom layer tf.transpose with a layer?"
I want to use a custom layer to transpose a conv2D layer.

The layers I want are some things like this:
[code]

and this is TFOpLambda in my model.js was converted from python:
[code]
I was tried this with a custom layer:
[code]

When I load my model, the terminal does not return an error but it never finishes running.
Do you know how to fix this?

[2022-05-27 16:12] #4025 closed

[2022-05-27 19:26] #3048 closed

[2022-05-28 14:26] #5972 closed

[2022-05-29 05:10] paradite opened #6465 "Move tfjs-examples to ESM"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**

- TensorFlow.js version (you are using): N.A.

**Are you willing to contribute it (Yes/No):**

[2022-05-30 01:01] vladmandic opened #6467 "[tfjs-node] Inconsistent behavior for `BatchMatMul` kernel"
kernel `BatchMatMul` does not have same functionality in **WebGL** and **NodeJS** backends

This causes newer variation of **FaceMesh-with-Attention** model to fail when executing in **NodeJS** environments

Official implementation for a model was added via issue <https://github.com/tensorflow/tfjs/issues/6002> and PR <https://github.com/tensorflow/tfjs-models/pull/1002>
Reference model is <https:

[2022-05-30 01:04] vladmandic opened #6468 "[tjfs-backend-wasm] Missing Kernel op `Atan2`"
kernel op `Atan2` is not implemented for `WASM` backend

This causes newer variation of **FaceMesh-with-Attention** model to fail when executing in using `WASM` backend

Official implementation for a model was added via issue <https://github.com/tensorflow/tfjs/issues/6002> and PR <https://github.com/tensorflow/tfjs-models/pull/1002>
Reference model is <https://tfhub.dev/mediapipe/tfjs-model/face_

[2022-05-30 12:20] saboorajat commented on #6447
Haven't got any solution to the above problem kindly help.

[2022-05-30 16:00] Sheikh24608 commented on #711
devs alive?

[2022-05-30 20:40] Sheikh24608 opened #6470 "In tried everything non of commands are helping and after all it stucks at @tensorflow/tfjs-core"
npm ERR! code 1
npm ERR! path C:\Users\Sheikh\Desktop\api\node_modules\@tensorflow\tfjs-node
npm ERR! command failed
npm ERR! command C:\Windows\system32\cmd.exe /d /s /c node scripts/install.js
npm ERR! CPU-windows-3.18.0.zip
npm ERR! node-pre-gyp install failed with error: Error: Command failed: node-pre-gyp install --fallback-to-build
npm ERR! node-pre-gyp info it worked if it ends with ok
npm

[2022-05-30 23:26] #6413 closed

[2022-05-31 03:53] Iteravse opened #6472 "can't execute npm run watch with example project Polynomial Regression"
the example link is [Polynomial Regression ](https://github.com/tensorflow/tfjs-examples/tree/master/polynomial-regression-core)
after install success,when i enter command `npm run watch ` with cmd on windows 10,it encounter the error:

and this's the enviroment of npm and node:

[2022-05-31 11:21] Iteravse opened #6474 "Gradient of pow not yet supported for broadcasted shapes."
i just replace the  formula of [this example](https://github.com/tensorflow/tfjs-examples/tree/master/polynomial-regression-core)   like :
![img](https://user-images.githubusercontent.com/34048239/171161649-bdea2e25-f701-4160-997a-92f3afd477ad.png)
![img](https://user-images.githubusercontent.com/34048239/171161826-356835af-1b97-411c-b1ee-a7b8b4e286c8.png)

it encounter the error:
![img](https://u

[2022-05-31 14:52] tempdeltavalue commented on #6269
also experience this error...

[2022-05-31 14:53] tempdeltavalue commented on #6269
I'm experience this error , also ..
![Screenshot from 2022-05-31 17-52-29](https://user-images.githubusercontent.com/36921178/171203776-41c4d8e0-09ea-4c40-9a7d-cb4425c3fdc7.png)

[2022-05-31 18:14] rthadur commented on #6470
There is known issue installing tfjs-node on Windows machine and our team is working on it . Could you please try the steps mentioned here https://github.com/tensorflow/tfjs/issues/5797#issuecomment-971208871 if this works for you. Thank you

[2022-05-31 18:16] pyu10055 commented on #6470
@Sheikh24608 As @rthadur mentioned, please follow this [instruction](https://github.com/nodejs/node-gyp#on-windows) for setting up compilation environment for Windows.

[2022-05-31 18:25] Sheikh24608 commented on #6470
Ok

[2022-05-31 18:28] Linchenn commented on #6467
@vladmandic Thank you for finding this out!

However, I cannot reproduce the error you mentioned through the following codes:
[code]

Could you provide more details to reproduce this error? You could review my codes [here](https://codedamn.com/playground/v_G4uit2zzB4dciPdwkJy) by running `node index` in the terminal.

[2022-05-31 18:32] paradite commented on #6465
Thank you for the reply and go-ahead. I'll start submitting PRs.

[2022-05-31 19:12] vladmandic commented on #6467
@Linchenn Please try using `@tensorflow/tfjs-node`, not `@tensorflow/tfjs`

[2022-05-31 19:13] vladmandic commented on #6313
Missing kernel op `Atan2` causes newer variation of FaceMesh-with-Attention model to fail when executing in using WASM backend

Official implementation for a model was added via issue https://github.com/tensorflow/tfjs/issues/6002 and PR https://github.com/tensorflow/tfjs-models/pull/1002
Reference model is https://tfhub.dev/mediapipe/tfjs-model/face_landmarks_detection/attention_mesh/1

Same mode

[2022-05-31 19:14] vladmandic commented on #6468
Ahh, I missed that somehow.
I've updated #6313 and closing this issue.

[2022-05-31 19:14] #6468 closed

[2022-05-31 21:35] github-jeff commented on #6233
Sorry for the delay.  I had put this one on the shelf.  Let me see if I can
strip it down but still illustrate the concern.

Many thanks!

On Tue, May 31, 2022, 5:26 PM google-ml-butler[bot] <
***@***.***> wrote:

[2022-05-31 22:58] Linchenn commented on #5199
Just tested the performance of `conv2dWithIm2Row`'s two shaders for the above inputs (codes at https://github.com/tensorflow/tfjs/pull/6476):
[code]
Found the `Im2ColPackedProgram` shader takes the majority time, 87% percentage time of `conv2dWithIm2Row`.

[2022-06-01 04:40] #6447 closed

[2022-06-01 06:39] Iteravse commented on #6474
great! error is disappear,but why training result are NAN?
here's the out put
![img](https://user-images.githubusercontent.com/34048239/171343027-ad1a27b8-8fd8-4822-b542-4b2cc91d593e.png)

[2022-06-01 10:16] shanumantesc opened #6478 "Enabling shape uniforms gives incorrect output with MatMulPackedProgram"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow.js): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): MacOS Monterey (12.4)
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: Reproduces on both desktop and mobile
- TensorFlow.js installed from (npm or script link): buil

[2022-06-01 10:43] ToonTalk opened #6479 "face-landmarks-detection README refers to handPoseDetection instead of faceLandmarksDetection"
In https://github.com/tensorflow/tfjs-models/tree/master/face-landmarks-detection/src/tfjs it says:

Pass in **handPoseDetection**.SupportedModels.MediaPipeFaceMesh from the faceLandmarksDetection.SupportedModels enum list along with a detectorConfig to the createDetector method to load and initialize the model.

[2022-06-01 12:57] tempdeltavalue commented on #6269
Also some note about this example
https://github.com/tensorflow/tfjs-examples/tree/master/lstm-text-generation

Here's no explanation how to convert model from Keras to tfjs :( and it's pretty difficult to find some example of that ..

[2022-06-01 13:23] amaiorano opened #6480 "WebGPU/WGSL: atomicCompareExchangeWeak now returns structure _atomic_compare_exchange_result<T>"
Hello,

I'm a developer on the [Google Tint](https://dawn.googlesource.com/tint) team, and I wanted to let you know that we just landed a [breaking change](https://dawn-review.googlesource.com/c/dawn/+/91881) to `atomicCompareExchangeWeak` that will affect you [here](https://github.com/tensorflow/tfjs/blob/b38b5b959df300e1c2995a5dc43c5e66fa1821ef/tfjs-backend-webgpu/src/scatter_optimized_webgpu.ts

[2022-06-01 16:32] pyu10055 commented on #6441
@SMUEric1127 You might want to check the developer tool of the browser, see if the weight files are loaded properly in the network tab. This could be cause by the server side 4xx network responses for the weight files of the model.

[2022-06-01 17:11] #6308 closed

[2022-06-01 17:43] rthadur commented on #6474
@Iteravse can you please provide a codepen example if possible , thank you

[2022-06-01 18:19] rthadur commented on #6479
Thank you submitted a fix .

[2022-06-02 00:06] Linchenn opened #6483 "Add BatchMatMulV2 support in the converter"
TensorFlow's `BatchMatMulV2` op performs the same behavior as the `BatchMatMul` op in all tfjs backends. We want to support `BatchMatMulV2` in the converter.

https://github.com/tensorflow/tfjs/pull/6477

[2022-06-02 03:35] xiibrightside commented on #4680
any updates on this ?

[2022-06-02 05:36] qjia7 commented on #6480
Thanks for the reporting. I think we can release a new npm package with the fixing in #6484. So it's ok for TFJS without the old code path in tint.

[2022-06-02 05:36] #6480 closed

[2022-06-02 05:43] qjia7 commented on #6480
cc @mattsoulanille webgpu backend needs a new npm release so that it can work with latest chrome canary, thanks.

[2022-06-02 08:56] hwangdeyu opened #6487 "Model can be run in tf but failed in tfjs. Error: TensorListResize input size 1 is greater maxNumElement 0."
Model can be run in tf but failed in tfjs after using `tensorflowjs.converters`.

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow.js):
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):ubuntu 18.04
- TensorFlow.js installed from (npm or script link):npm
- TensorFlow.js version (use command below): 3.18
- Tensorflow.js C

[2022-06-02 08:59] axinging commented on #4218
Hi, @rdutta1999 @vladmandic
Could you please try this PR(https://github.com/tensorflow/tfjs/pull/6445):
During my test, set CANVAS2D_WILL_READ_FREQUENTLY to true will greatly improve getImageDta perf. You can do it before run your wasm case:

tf.env().set('CANVAS2D_WILL_READ_FREQUENTLY', true)

[2022-06-02 13:36] vladmandic commented on #4218
@axinging i'm already using that flag, but it doesn't make too much of a difference as it gets automatically set by latest chrome on frequent canvas access anyhow, so it only accelerates first read. it does make a big difference if you're recreating canvas on each frame as its not set on initial read, but not if you're reusing same canvas element.

[2022-06-02 18:07] rthadur commented on #6487
Frozen models are deprecated and no longer supported in latest version . Please check here for more details https://github.com/tensorflow/tfjs/tree/master/tfjs-converter#conversion-flags . Thank you

[2022-06-02 18:48] rthadur commented on #6352
@Looooong are you facing the slowness when you execute first or it is the same in consecutive runs ? if not can you try loading the model locally ? Thank you

[2022-06-02 19:42] rthadur commented on #6459
t

[2022-06-02 20:07] #6479 closed

[2022-06-02 23:26] #4362 closed

[2022-06-03 08:29] Looooong commented on #6352
It's slow in consecutive runs.

[2022-06-03 11:13] Iteravse commented on #6474
@rthadur
here's the example ,thanks for a lot
https://codepen.io/iteravse/pen/eYVKyyR

[2022-06-03 15:34] corthiclem opened #6492 "FaceDetection is not working on wasm backend"
Hi everyone, first of all, thanks for this excellent library!
I ran into an issue while trying to run `FaceDetection` or `FaceLandmarksDetection` models on the `wasm` backend.

**Describe the current behavior**
While this works well on `WebGL` backend, when I use the `wasm` backend, I get either empty array as a result or a `memory access out of bounds` (might be related to #6128)
[code]
You can f

[2022-06-03 16:26] #6382 closed

[2022-06-03 16:40] rthadur commented on #6408
Spoke to the team and they were not inclined towards support for tensor4D , instead you can pass 3D tensors 3 times in order to achieve the same. Thank you.

[2022-06-03 17:55] rthadur commented on #6352
I believe the issue is with `datasync`  and this has been discussed here at length https://github.com/tensorflow/tfjs/issues/5468 , can you please check.

[2022-06-03 18:02] rthadur commented on #6492
This is a bug in `wasm` backend will be looked at by the team. There are couple of issues with same issue https://github.com/tensorflow/tfjs/issues/6439 and https://github.com/tensorflow/tfjs/issues/6128, you can update #6128 so that it can be prioritized. Thank you

[2022-06-03 19:14] Fluxionsdx commented on #6408
You can't use 3 different cameras with the same instance of movenet like that because of the temporal filtering and "intelligent cropping based on detections from the previous frame". I am making it work with 3 separate instances though and I can understand not wanting to work on this. Thanks for the consideration.

[2022-06-03 19:14] #6408 closed

[2022-06-03 21:38] pyu10055 commented on #6487
@hwangdeyu thanks for reporting the bug, looks like this is a model that test out the control flow v2 ops, you can try control flow v1 by setting `--control_flow_v2=False` during conversion.
Also it would be helpful to add package.json to your test example.

[2022-06-04 00:57] GaelLucero opened #6495 "Running the tfjs-models/pose-detection/demos/"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):   Windows 10 home 19044.1706
-

[2022-06-04 01:51] Looooong commented on #6352
What I want is to retrieve the result **asynchronously** (.i.e using `data()` method). `tfjs-react-native` is using a customized version of `webgl` backend which doesn't seem to support async read back.

[2022-06-04 12:46] tempdeltavalue commented on #6269
one more thing , you can comment this line
 # input_chars = tf.strings.unicode_split(inputs, 'UTF-8')

(and change your code accordingly and you will be able to convert the model)

[2022-06-04 18:12] tempdeltavalue opened #6496 "Can't load tfjs model inside of javascript file"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow.js):
- OS Platform and Distribution Ubuntu 16.04:
- TensorFlow.js installed from pip3 install:

json file

https://tempdeltavalue.github.io/model.json

part of html code

    <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@2.0.0/dist/tf.min.js"></script>

    <script ty

[2022-06-05 04:48] pistolla commented on #4296
Im facing the same issue with "@tensorflow/tfjs-core": "^3.18.0" when using it with reactjs. None of the above response have resolved the issue.

[2022-06-05 05:14] pistolla commented on #4296
![Screenshot from 2022-06-05 08-02-56](https://user-images.githubusercontent.com/4964046/172036085-d6694509-43b6-413e-8278-61b3f12ca0ec.png)

[2022-06-05 05:15] pistolla commented on #4296
![Screenshot from 2022-06-05 08-11-41](https://user-images.githubusercontent.com/4964046/172036104-b92bb8fd-36b8-44c6-b7b8-e859b1058d61.png)
![Screenshot from 2022-06-05 08-11-48](https://user-images.githubusercontent.com/4964046/172036108-b79869ea-b0c2-4268-a21f-76887fb15c54.png)

I wonder how you are accessing these weakmaps.

[2022-06-05 05:52] JLeander85 opened #6497 "Three different form factors- a phone, watch, and tablet"
https://www.reddit.com/r/BoostForReddit/comments/v56zav/three_different_form_factors_a_phone_watch_and/?utm_medium=android_app&utm_source=share

[2022-06-05 05:53] JLeander85 commented on #6497
@JLeander85

[2022-06-05 13:06] tempdeltavalue commented on #6358
Also faced with this issue

    <script type="text/javascript">
        function start_model() {
            // const modelJson = require('https://tempdeltavalue.github.io/model.json');
            // const modelWeights = require('https://tempdeltavalue.github.io/group1-shard1of1.bin');

            model = tf.loadGraphModel('https://tempdeltavalue.github.io/f_w2223_js_graph/model.json');

[2022-06-05 13:33] tempdeltavalue commented on #458
Also I didn't find any example of training via colab/python and conversion to tfjs  :(

[2022-06-05 21:33] #6496 closed

[2022-06-06 01:01] rthadur commented on #6497
It looks like you haven't used a template to create this issue. Please resubmit your issue using a template from [here](https://github.com/tensorflow/tfjs/issues/new/choose). We ask users to use the template because it reduces overall time to resolve a new issue by avoiding extra communication to get to the root of the issue. We will close this issue in lieu of the new one you will create from the

[2022-06-06 01:01] #6497 closed

[2022-06-06 01:04] rthadur commented on #6352
yes that's correct.

[2022-06-06 12:11] corthiclem commented on #6492
Thank you for the reply, I will stay tuned then! ;)

[2022-06-06 12:17] corthiclem commented on #6128
Hi! Same issue here but with the `FaceDetection` and `FaceLandmarksDetection` models: #6492

[2022-06-06 18:48] lina128 commented on #6408
Hi @Fluxionsdx , using three instances sounds the right approach to do. In terms of computation, it should be comparable to batch. The pre/post processings are mostly CPU, it can't parallel anyway. The model itself runs on GPU, so you just get 3 times more textures to run on GPU and they are parallel.

[2022-06-06 18:58] rthadur commented on #5742
`posenet` has been deprecated and new pose detection model is available [here](https://github.com/tensorflow/tfjs-models/tree/master/pose-detection)  . Thank you

[2022-06-06 19:15] #3875 closed

[2022-06-07 07:58] hwangdeyu commented on #6487
Thank you! @pyu10055 , I tried to add `--control_flow_v2=False` in conversion.
[code]
It's also failed too. I have added the `model.json` file in `test.zip`.
in terms of the `package.json`, I only find one in my local as below.
[code]

[2022-06-07 08:03] hwangdeyu commented on #6487
Thanks for reminding! But in the case I do need convert the `pb` file to tfjs.

[2022-06-07 16:03] paradite opened #6502 "tfjs-examples parcel build appear broken"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): MacOS 12.2.1, M1
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: NA
- TensorFlow.js installed from (npm or script link): npm
- TensorFlow.js version: 3.18.0
- CUDA/cuDNN version: N.A.

**Describe the problem**

I am trying to fix `tfjs-examples` so that they can build a

[2022-06-07 17:23] bobanminic96 commented on #5630
I couldn't find a concrete answer to the question. Does tensorflow support react-native CLI, or it supports only EXPO projects ? Thanks!

[2022-06-07 19:06] mattsoulanille commented on #3875
@Karthik-code1010's issue is likely fixed, and will be live in the next release, but I don't think ESModule imports of TensorFlow.js are working properly. Here's what I've found:

The `@tensorflow/tfjs` union package seems to work as long as you import the flat ESM bundle:
[code]
[code]

Importing it via the `module` path specified by the package.json, `@tensorflow/tfjs/dist/index.js`, does not wo

[2022-06-07 20:40] MatPoliquin opened #6505 "How to get version info"
Similar to the main Tensorflow (i.e using "tf.__ version __"), is there a way to get the current version in tensorflow.js?

For WEBGL version there is: tf.env().get('WEBGL_VERSION')
but for TF.JS version there seems to know flags or other ways available.

[2022-06-07 20:50] vladmandic commented on #6467
thank you @Linchenn, feel free to close the issue as resolved.

[2022-06-07 21:07] #6467 closed

[2022-06-07 21:56] mattsoulanille commented on #6505
If you're using the union package via `import * as tf from '@tensorflow/tfjs'`, `const tf = require('@tensorflow/tfjs')`, or a script tag, the versions are exposed on the [`tf.version` variable](https://github.com/tensorflow/tfjs/blob/master/tfjs/src/index.ts#L45-L53).

e.g.
[code]

If you're using individual packages, each package has its own version variable:
[code]
[code]

[2022-06-07 23:17] mattsoulanille commented on #6470
We recently uploaded precompiled Windows binaries for `@tensorflow/tfjs-node` (napi version 8). These should work for LTS versions of node >= 12.22.0. (see the full [version matrix](https://nodejs.org/api/n-api.html#node-api-version-matrix)). Can you try installing the package again?

[2022-06-07 23:27] mattsoulanille commented on #3875
[Here's the branch where I'm working on this](https://github.com/mattsoulanille/tfjs/tree/esm_fixes). If you want to try it locally, you can build local npm packages from it by running `yarn build` in `link-package`. The outputs show up in `link-package/node_modules/@tensorflow/`.

[2022-06-08 03:20] Iteravse commented on #6474
![Phenomena](https://user-images.githubusercontent.com/34048239/172524291-b44317ef-988b-4c84-82c7-a0aec4befab3.png)
here's result,any idea?
@ahmedsabie @rthadur

[2022-06-08 06:12] pistolla opened #6506 "Im facing the same issue with "@tensorflow/tfjs-core": "^3.18.0" when using it with reactjs. None of the above response have resolved the issue."
Im facing the same issue with "@tensorflow/tfjs-core": "^3.18.0" when using it with reactjs. None of the above response have resolved the issue.

_Originally posted by @pistolla in https://github.com/tensorflow/tfjs/issues/4296#issuecomment-1146741148_

[2022-06-08 07:27] shanumantesc commented on #6478
@Linchenn did you get a chance to look into this further?

[2022-06-08 07:36] Linchenn commented on #6478
Sorry for the delay. I will check it soon and will share you the updates when I have.

[2022-06-08 08:37] axinging commented on #4218
@vladmandic ,  so do you agree that we turn flag CANVAS2D_WILL_READ_FREQUENTLY to true by default?

BTW, I did more investigation on wasm fromPixels. There are two fromPixels bottlenecks on wasm: getImageData and data copy (from 4 channels to three channels). A typical measured times for these bottlenecks(720p image) are: getImageData: 2.52 ms, data copy: 8.80 ms

It seems when image gets larger,

[2022-06-08 09:30] Shiv-Dhokia opened #6507 "Batch size > 131 returns array of zeros"
**System information**
- OS Platform and Distribution: 16GB M1 Pro Macbook Pro running MacOS Monterey v12.3.1
- TensorFlow.js version: 3.16.0
- tfjs-backend-webgpu version: 0.0.1-alpha.11
- Browser version: Chrome Canary Version 104.0.5095.0

**Describe the current behavior**
When using a dataset and using webgpu with tfjs an issue occurs when the batch size is > 131 the output ends up with a Floa

[2022-06-08 11:52] MatPoliquin commented on #6505
Thank you!

Is there a reason why it's not included in the API doc?
[https://js.tensorflow.org/api/latest/](https://js.tensorflow.org/api/latest/)

[2022-06-08 18:07] rthadur commented on #6505
@jasonmayes @mattsoulanille @pyu10055 can i request for this change in api doc ?

[2022-06-08 18:11] rthadur commented on #6506
These are the working examples https://github.com/tensorflow/tfjs-examples/tree/master/react-native/image-classification for react native , can you try running them ? Thank you

[2022-06-08 20:23] rthadur commented on #6507
Did you enable " flag ": "enable-unsafe-webgpu" in chrome and try ?

[2022-06-08 20:44] rthadur commented on #1418
Closing this request as the `posenet` is deprecated and moved to new [pose-detection.](https://github.com/tensorflow/tfjs-models/tree/master/pose-detection)

[2022-06-09 06:06] kinsei0916 opened #6512 "[tfjs-backend-webgl] Test fails on MacOS M1"
**System information**
- OS Platform and Distribution: MacOS 12.4 M1
- TensorFlow.js version: [0a9fdbd](https://github.com/tensorflow/tfjs/commit/0a9fdbd4501f7f99a6617f619414f47219b3d5d5)
- Browser version: Google Chrome 102.0.5005.61

**Describe the current behavior**
6 tests failed with the following log when running `yarn test` on MacOS M1. All of those tests are related to NaN checks.
When on

[2022-06-09 08:15] Shiv-Dhokia commented on #6507
Yes that is enabled

[2022-06-09 10:13] abhishekmishra opened #6514 "Error running BlazePose pose detection on single HTMLImageElement"
I'm trying to get 3d pose detection working in the browser using tfjs.
I've followed the instructions at https://github.com/tensorflow/tfjs-models/tree/master/pose-detection/src/blazepose_mediapipe
Here's my code

main.js

[code]

index.html
[code]

I get the following error when I open the html in the browser. The html is hosted on expressjs.

[code]
**System information**
- Have I written custom

[2022-06-09 17:09] MatPoliquin opened #6517 "WASM backend doesn't work in a Web Worker"
**System information**

- GPU :  ANGLE (AMD, AMD Radeon(TM) Graphics Direct3D11 vs_5_0 ps_5_0, D3D11)
- OS: Windows 10
- BROWSER: Chrome Version 102.0.5005.63 (Official Build) (64-bit)
- TFJS VERSION: 3.18.0

**Describe the current behavior**
WASM backend doesn't seem to work with web workers.
I get these errors:

[code]

**Describe the expected behavior**
I got WASM to work in the main thread but

[2022-06-09 17:13] mattsoulanille opened #6518 "Possible WASM gradient memory leak in e2e tests"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Debian rodete
- TensorFlow.js installed from (npm or

[2022-06-09 18:08] #6502 closed, assigned to pyu10055

[2022-06-09 18:41] #4570 closed

[2022-06-10 00:52] rthadur commented on #2196
Will be closing this issue as `bodypix` is is deprecated , please check out this demo https://github.com/tensorflow/tfjs-models/tree/master/pose-detection here , thank you

[2022-06-10 00:52] #2196 closed

[2022-06-10 00:55] rthadur commented on #891
Will be closing this issue as `bodypix` is is deprecated , please check out this demo https://github.com/tensorflow/tfjs-models/tree/master/pose-detection here , thank you

[2022-06-10 00:55] #891 closed

[2022-06-10 02:54] ifunplus commented on #239
any progress on this? We need this feature asap!

[2022-06-10 03:49] rthadur commented on #6512
Hi @kinsei0916 you are trying the changes which are not released , can you try latest stable release(3.18.0)

[2022-06-10 03:50] haoyunfeix commented on #6507
This issue could also reproduce on Windows OS, I'll take a look.

[2022-06-10 04:31] kinsei0916 commented on #6512
Hi @rthadur,
I tried on 3.18.0 as well and still get the exact same error.

[2022-06-10 07:54] FabioRomagnolo commented on #4222
For those having problems with this code here's the fix! I actually tested it and it works.

[code]

[2022-06-10 11:25] okyanusoz opened #6522 "Error: FusedConv2d and DepthwiseConv2d with BiasAdd must have one extra argument: bias"
I keep getting Error: FusedConv2d and DepthwiseConv2d with BiasAdd must have one extra argument: bias. when I try model.predict() on a MobileNet model.

The model looks like this in Python (Kaggle notebooks):

[code]

The converter command (another notebook):

[code]

The JS code (my machine) :

const model = await tf.loadGraphModel("file://" + __dirname + "/web_model/model.json")
console.log(new

[2022-06-10 16:47] dougchestnut commented on #6437
I just ran into this issue using nodejs.
Reason for using tfjs-node, i'm attempting to run face detection on a large collection of images with node.
Using node/javascript as it seemed to be the easiest pathway to get started with tensorflow currently.
I had no problem using the pre-trained classification and object detection models but ran into this issue with detecting faces.

[2022-06-11 04:27] aiwhoo commented on #6495
@rthadur @ahmedsabie   I'm having the same issue, has this been fixed yet? Is there a more permanent solution?

[2022-06-11 19:04] rthadur commented on #892
Closing this as the related PR is merged.

[2022-06-11 19:04] #892 closed

[2022-06-11 23:48] rthadur commented on #534
Closing this issue as the `tfjs-models/posenet` has been deprecated in favor of `tfjs-models/posenet-detection` , please check the bennchmarktool to check the various backends [here](https://tensorflow.github.io/tfjs/e2e/benchmarks/local-benchmark/index.html)

[2022-06-11 23:48] #534 closed

[2022-06-12 06:47] paradite opened #6526 "tfjs does not work with hermes engine"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow.js): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): MacOS 12.2.1 (21D62), M1
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: NA
- TensorFlow.js installed from (npm or script link): npm
- TensorFlow.js version (use comm

[2022-06-12 07:25] pistolla commented on #6506
Thanks for the reply. The issue im facing is not exactly related to reactjs framework. I have issue with weakmap used in tfjs and tfjs-core. They are inaccessible, in that, even using browser console i can dump the content of weakmap `_tfengine.state.tensorInfo` but when i try to reference a specific key the response is `undefined`. I'm wondering if this is a case of browser implementation of the

[2022-06-12 12:43] Sun1718 opened #6527 "tfjsmodel face_landmark_detection: error in "yarn watch" command"
**System information**
- Linux Ubuntu 20.04:
- Nodejs v16.15.1
- TensorFlow.js 3.17.0

Hello every one,
I want to build tfjsmodel facelandmarkdetection sapmle in ubuntu server,but after "yarn watch" command, below error appear:

detection/demos/live_video# yarn watch
yarn run v1.22.18
warning ../../../../../package.json: No license field
$ cross-env NODE_ENV=development parcel index.html --no-hmr

[2022-06-13 01:31] haoyunfeix commented on #6507
During debugging, two errors were found:
1. Binding size (135168000) is larger than the maximum binding size (134217728).
2. The number of storage buffers (801) in the Compute stage exceeds the maximum per-stage limit (8).

Both could caused "returns array of zeros", root cause is the Concat operator used 800 input tensors (storage buffer) in compute stage. Below test could reproduce the error:
[c

[2022-06-13 02:23] qjia7 commented on #6507
@haoyunfeix One quickly fixing is to reference WebGL's implementation https://github.com/tensorflow/tfjs/blob/master/tfjs-backend-webgl/src/kernels/Concat_impl.ts#L98-L108. In the meantime, you can explore whether merging input tensors into a single input storage buffer or several input storage buffers can bring better  performance.

[2022-06-13 04:07] haoyunfeix commented on #6507
@qjia7 Thanks!
1. Binding size (135168000) is larger than the maximum binding size (134217728).
2. The number of storage buffers (801) in the Compute stage exceeds the maximum per-stage limit (8).

By adding two patches, https://github.com/tensorflow/tfjs/pull/6350 for (1) and https://github.com/tensorflow/tfjs/pull/6532 for (2), the attached demo could work by using self-built tfjs-backend-webgpu

[2022-06-13 18:15] rthadur commented on #6506
is it possible to share reproducible code either codepen or git repo ? Thank you

[2022-06-13 18:40] rthadur commented on #6527
Did you try running all of the below commands ? I was able to run the demo on my Mac book pro

[code]

[2022-06-13 19:15] rthadur commented on #6526
Did you get chance to check similar issue here https://github.com/tensorflow/tfjs/issues/5972 ?

[2022-06-13 19:53] rthadur commented on #1577
Related PR is merged  here https://github.com/tensorflow/tfjs-models/pull/229 , will be closing this request. Thank you

[2022-06-13 19:53] #1577 closed

[2022-06-13 20:27] rthadur commented on #4433
I tried in latest version with div using wasm backend and it was working as expected , can you please check the latest version ?

[2022-06-13 20:32] rthadur commented on #4173
Please check the latest face-landmark-detection with mediapipe here https://github.com/tensorflow/tfjs-models/tree/master/face-landmarks-detection/ , the above demo was deprecated.

[2022-06-13 20:32] #4173 closed

[2022-06-14 01:27] paradite commented on #6526
I haven't and I should have. It seems to be the same problem as one comment noted, tfjs doesn't work together with hermes.

I will leave it to you to decide if this should be fixed on tfjs side or hermes.

What I can contribute is the reproduction code above prove that hermes doesn't support export class by default, and the incompatibility might lie in interaction between build tools like babel or

[2022-06-14 01:39] rthadur commented on #6526
@mattsoulanille could you please help with this issue , if we can support hermes from tfjs ?

[2022-06-14 01:45] Sun1718 commented on #6527
Thanks for your reply,
I was able run the demo on my windows 10, but it has error on ubuntu 20.04.
I performed the steps in order. The output of each step is as follows:
1- "yarn build-dep":ndmarks-detection/demos/live_video# yarn build-dep
yarn run v1.22.18
warning ../../../../../package.json: No license field
$ cd ../../ && yarn && yarn build
warning ../../../package.json: No license field
[1/4]

[2022-06-14 13:43] MikeOBarometer commented on #6381
Note that may help debugging or anyone finding this from Google.

I encountered this same issue on macOS Monterey M1 mac on v14 of node. After updating to the latest LTS version of Node `v16.15.1` and version `3.18.0` of `@tensorflow/tfjs-node`, I no longer saw this error.

[2022-06-14 14:14] Caundy commented on #6381
@MikeOBarometer thanks for reporting! Unfortunately, using these exact versions (node through nvm), after reinstalling/rebuilding packages, using Monterey 12.1, I still encounter the very same issue :/

@fedikan @pyu10055 Could you check whether that version combination works for you? Cheers!

[2022-06-14 14:19] fedikan commented on #6381
@Caundy @MikeOBarometer
Same issue
`[1]    61932 illegal hardware instruction  node index.js
`

[2022-06-14 17:18] #5282 closed

[2022-06-14 17:39] mattsoulanille commented on #6517
It looks like the wasm backend doesn't know where to fetch the `.wasm` file from when it's instantiated in a webworker. We should fix this, or at least print a better warning message. For now, you can manually set the path to the `.wasm` files.

@MatPoliquin, this example should run if you paste it into the javascript console on [about:blank](http://about:blank).
[code]

[2022-06-14 19:40] #5797 closed

[2022-06-14 20:29] rthadur commented on #6470
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2022-06-14 20:29] #6470 closed

[2022-06-14 20:57] Sun1718 commented on #6527
Yes, first I went to live_video folder and then run "rm -rf .cache dist node_modules" command for remove cache.
then run:
1-yarn build-dep
2-yarn
3-yarn watch

[2022-06-14 21:15] Sun1718 commented on #6527
To make sure, I reinstalled a new version of Ubuntu 20.04.
And I did the following steps in order:

1- install nodejs version 16.15.1
2- install yarn
3- go to live_video folder
4- "rm -rf .cache dist node_modules"
5- "yarn build-dep"
6- "yarn"
7- "yarn watch"

But the errors were exactly repeated:

[2022-06-14 22:29] #6517 closed

[2022-06-14 22:40] mattsoulanille opened #6537 "WASM backend in a webworker dev experience is bad"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow.js): Yes
- OS Pl

[2022-06-15 09:43] okyanusoz commented on #6522
When I use another model like PNasNet, this doesn't happen.

[2022-06-15 10:12] aghast2crude commented on #6447
Could you guys tell me how you guys overcame this issue?

[2022-06-15 10:35] saboorajat commented on #6447
Tried multiple things and few things might have worked for me. **Note below steps fixed it for windows and CPU configurations as i mentioned above**

**STEPS: Run CMD as administrator**

**npm install --global --production windows-build-tools --vs2015**

**installed python 3.10.4**

**npm set config python "C:\Users\{YOUR_USER}\AppData\Local\Programs\Python\Python310\python.exe"**

**npm install -

[2022-06-15 16:45] mattsoulanille commented on #6527
This seems to be an issue with Parcel not finding your browser. For convenience, Parcel will automatically open the demo page once it's done building, but in this case, it throws an error since it can't open the browser. While inconvenient, you should still be able to open the page manually by opening the http://localhost:1234/ link it printed before throwing the error. The error doesn't actually

[2022-06-15 19:40] #6441 closed

[2022-06-16 04:58] eledahl commented on #6347
Hi @jinjingforever @rthadur,

Does tfjs-react-native have any support for [TensorFlow Lite GPU delegates](https://www.tensorflow.org/lite/performance/gpu)? Do you think this may solve the issue of accuracy?

[2022-06-16 13:00] aghast2crude commented on #2619
I am facing similar issue above. here are my CPU details. could you brief me out how to overcome this issue?

[2022-06-16 13:07] tamaina commented on #5937
Is there any update? I would like to use it with arm64 vps.

[2022-06-16 16:36] TheRochVoices opened #6542 "[Error: The shape of dict['input_tensor'] provided in model.execute(dict) must be [1,-1,-1,3], but was [2,1280,720,3]] while using a model converted with tensorflowjs_convertor"
I am trying to do batch inference with size 2 on my model and got the above error.
How can I fix this?
My guess is to somehow give input dimensions while exporting the model but I can't find the option to do that while using the tensorflowjs_convertor.

Basically, I want to  be able to do batch inference on my tfjs model.
Appreciate any help.

[2022-06-16 17:42] mattsoulanille opened #6543 "Layers flaky tests with incorrect math results"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow.js):
- OS Platfo

[2022-06-16 19:33] thierryntoh24 commented on #2619
https://github.com/tensorflow/tfjs/issues/6029#issuecomment-1016069934

[2022-06-16 19:45] pyu10055 commented on #2619
Cc @mattsoulanille

[2022-06-16 23:58] rthadur commented on #6542
You can try to use `tensor = tensor.reshape([1, 224, 224, 3]);` to reshape the input.

[2022-06-17 04:45] famy040326 opened #6548 "TypeError: Unknown op 'CTCGreedyDecoder'"
Uncaught (in promise) TypeError: Unknown op 'CTCGreedyDecoder'. File an issue at https://github.com/tensorflow/tfjs/issues so we can add it, or register a custom execution with tf.registerOp()

Please help to add CTCGreedyDecoder to tfjs.

[2022-06-17 06:53] TheRochVoices commented on #6542
@rthadur that i know. I actually want to infer on a batch of 2 images instead of 1.

[2022-06-17 16:46] rthadur commented on #6548
This will be a feature request . cc @pyu10055 @mattsoulanille

[2022-06-17 19:30] #1387 closed

[2022-06-17 19:33] rthadur commented on #1388
`posenet` has been deprecated and new pose detection model is available [here](https://github.com/tensorflow/tfjs-models/tree/master/pose-detection) . Thank you

[2022-06-17 19:33] #1388 closed

[2022-06-18 08:05] bekatd commented on #6345
Will this get resolved ever? :|

[2022-06-18 10:42] Sun1718 commented on #6527
Thanks for your reply,

Yes, the problem was the parcel. I can open the page manually by opening the http://localhost:1234/

Thanks again.

[2022-06-18 12:13] rgcl commented on #1572
He, there are plans to incorpore this in tfjs?

[2022-06-18 19:20] darringrove commented on #6418
I have this issues as well. Any update?

[2022-06-19 22:25] alexrabin commented on #5937
I'm having this issue as well 🙃

[2022-06-20 01:48] #6352 closed

[2022-06-20 07:50] hwangdeyu commented on #6487
Nice! I'm looking forward to the next release.

Thanks for the time you @pyu10055  @rthadur  spent onto this.

[2022-06-20 15:05] AmitMY opened #6551 "tfjs-converter documentation: effects of quantization"
I would like to know what are the effects of quantization, however, could not find documentation for tfjs, only tflite
https://www.tensorflow.org/lite/performance/post_training_quantization

I would like to know if quantized models perform faster, or, is quantization in tfjs only done to reduce the model size-on-disk, and in fact when decoded, the model is converted back to float32 (from float16 o

[2022-06-20 17:43] rthadur commented on #6527
@mattsoulanille do we plan to fix this as this is only Windows? Thank you.

[2022-06-20 19:48] #5742 closed

[2022-06-20 19:48] #3968 closed

[2022-06-20 19:48] #5304 closed

[2022-06-20 21:29] #6347 closed

[2022-06-20 21:35] rthadur commented on #6347
Please check face-detection https://github.com/tensorflow/tfjs-models/tree/master/face-detection model as blaze face depreciated. Thank you.

[2022-06-20 22:28] rthadur commented on #1407
Related PR https://github.com/tensorflow/tfjs/pull/1535 has been merged. Closing this issue.

[2022-06-20 22:28] #1407 closed

[2022-06-20 22:37] rthadur commented on #1408
Related PR has been merged here https://github.com/tensorflow/tfjs-core/pull/1599 , closing this issue.

[2022-06-20 22:37] #1408 closed

[2022-06-21 17:55] mattsoulanille commented on #6527
@rthadur Probably not, since Parcel still bundles and serves the site correctly. It's just the browser launching that doesn't work.

[2022-06-21 17:55] #6527 closed

[2022-06-21 18:24] fromb2b opened #6553 "Beginner Issue related to dimensions"
I am new to Tensorflow and have been struggling with running the model below :
 https://gist.github.com/fromb2b/b7c57b314e62eddaabf2f21b399fb58a
I am getting  `Error:Error when checking input: expected lstm_LSTM1_input to have 3 dimension(s). but got array with shape 1606,73 `  as an error.

 I can't figure out why. Can you assist me please.

[2022-06-21 19:57] rthadur commented on #6553
Please use `tf.reshape` to  reshape the input to have 3 demensions. Thank you.

[2022-06-21 20:35] mattsoulanille commented on #6492
Quick update to this issue: I built the WASM backend with debug flags set, and here's its more descriptive error message. Thanks for posting a reproduction!
[code]

[2022-06-21 20:48] pyu10055 commented on #6551
For TFJS model, the quantized model does not perform faster, it is a weight compression mechanism to save storage and transportation cost. The weights are scaled back to float32 before computation.
Float16 is an interested case, where we do have float16 support (flag) on WebGL, you can see performance gain comparing to float32.

[2022-06-21 21:16] fromb2b commented on #6553
Thank you for your suggestion.
I transformed the tensor's shape. However, I now get a new error in line 134:

`Error: Size(15987) must match the product of shape 3`

[2022-06-21 23:26] p9gehka opened #6554 "LSTMCell: different implementation compare with python tf package"
[code]
it's not the same as
[code]
you used the second part of `res` j.tanh(), but  z2 `self.activation(z2)` is third part

https://github.com/tensorflow/tensorflow/blob/705e1684593327dae7b1e71087d5c0f97f6e9b25/tensorflow/python/keras/layers/recurrent.py#L2414
[code]
https://github.com/tensorflow/tfjs/blob/38f8462fe642011ff1b7bcbb52e018f3451be58b/tfjs-core/src/ops/basic_lstm_cell.ts#L68
[code]

[2022-06-22 02:26] Iteravse opened #6555 "Do we supprot polynomial regression put decimals predict variable in pow?"
[there](https://github.com/tensorflow/tfjs/issues/6474) , i discover the problem really is ,but not  answer yet,
when i put the decimals predict varible in pow function,the predict result will always return NAN,here's codepen [example](https://codepen.io/iteravse/pen/eYVKyyR):
and if that runing at codepen,it returns null,need waiting some time
![img](https://user-images.githubusercontent.com/3404

[2022-06-22 02:53] zaida04 opened #6556 "Error loading shared library ld-linux-x86-64.so.2, `@tensorflow/tfjs-node` & Docker"
**System information**

- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): **Windows 10 Pro 19044.1766**, **Docker version 20.10.10, build b485636**
- TensorFlow.js installed from (npm or script link): **https://www.npmjs.com/package/@tensorflow/tfjs-node**
- TensorFlow.js version: **3.18.0**
- CUDA/cuDNN version: N/A

**Describe the problem**
When an application using the module is ran, a

[2022-06-22 05:03] whoisltd opened #6557 "Why does tensorflow js run so slow even after the model has been initialized"
The first time I run prediction my model takes 45s to respond result, this time includes loading the model. But the second time, the run time was not reduced, even though the model is already loaded. If I run on python, the second time, the model takes 13s to run. I used **tfjs-node** and deployed the model on the backend.

[2022-06-22 07:58] AmitMY commented on #6551
Thanks @pyu10055
Is there any supported way to turn on that flag when supported, and also use float16 directly in `tfjs` without scaling the weights back?

Benefits may include:
- faster transfer of the model to the gpu (`webgl`, `webgpu`)
- lower memory footprint
- faster model inference

[2022-06-22 15:31] #6557 closed

[2022-06-22 17:47] pyu10055 commented on #6551
the flag is there already, you can apply it as following
[code]

[2022-06-22 19:49] zaida04 commented on #6556
This issue occurs on _any_ docker image I use, ubuntu, regular node-16, alpine.

[2022-06-22 20:43] rthadur commented on #6555
Sorry for the delay , I did notify the team about the original issue , please close this as this a duplicate. Thank you.

[2022-06-22 20:51] rthadur commented on #6556
You might probably missing libc, you might to run apt install libc-dev or build-essential , please check a related [so](https://stackoverflow.com/questions/50288034/unsatisfiedlinkerror-tmp-snappy-1-1-4-libsnappyjava-so-error-loading-shared-li/51655643#51655643) question. Thank you

[2022-06-23 00:06] zaida04 commented on #6556
Thank you! While I wasn't able to get alpine working, switching to the debian buster slim image and installing libc related packages worked!

[2022-06-23 00:06] #6556 closed

[2022-06-23 03:29] qipengwang opened #6560 "Building tfjs-backend-cpu fails with error"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): MacOS 10.15.7 (Intel)
- TensorFlow.js installed from (npm or script link): source
- TensorFlow.js version:

**Describe the problem**

I just build tfjs from source. I successfully build `tfjs-core`, but when I built `tfjs-backend-cpu`, I face the following error after running `yarn && yarn build`

[code]

I install b

[2022-06-23 13:39] AmitMY commented on #6551
Thanks. In my benchmark, using Chrome's performance tab, this flag has no impact on performance, which is strange to me.

However, it does impact the model's output.

Model is quantized to float16, normal inference: (correct output)

https://user-images.githubusercontent.com/5757359/175312151-38c4ffdf-2ce8-4284-bfe6-c07f9f8680fe.mp4

with [flag](https://github.com/sign/translate/blob/master/src/ap

[2022-06-23 16:48] #3299 closed

[2022-06-23 21:01] mattsoulanille commented on #6560
It's possible that the version of Bazelisk we have installed in tfjs-backend-cpu is not up to date and is causing this error. Can you try running `bazel build //tfjs-backend-cpu:tfjs-backend-cpu_pkg` from the root directory of the repository?

[2022-06-23 22:29] #5937 closed

[2022-06-24 00:17] rthadur commented on #1370
Support for Rasberry Pi has been implemented here https://github.com/tensorflow/tfjs/pull/6564 , please check out next release for changes.

[2022-06-24 00:17] #1370 closed

[2022-06-24 07:31] #5536 closed, assigned to shaoboyan

[2022-06-25 16:58] OHNONOTAMOTH opened #6567 "python lib breaks on import"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow.js):yes
- OS Pla

[2022-06-27 05:44] famy040326 commented on #6548
TensorFlow version: 2.8.0
TensorFlow.js version : 3.18.0

[2022-06-27 05:45] famy040326 commented on #6548
Please let me know if you need any other information.

[2022-06-27 16:44] pyu10055 commented on #6567
you might have duplicated version of tensorflow, can you run `pip3 list` to check what you have installed?

[2022-06-27 17:51] #6507 closed

[2022-06-27 18:51] #6506 closed

[2022-06-27 18:59] #6345 closed

[2022-06-28 10:20] shruthy-y opened #6571 "Error after installing aws-iot-device-sdk and aws-sdk in angular 8"
package.json
[code]

error:

[code]

[2022-06-28 14:03] tlightsky commented on #3341
is it possible to switch to WebGPU backend?

[2022-06-28 15:37] rthadur commented on #6571
@shruthy-y I did not see any you are installing tfjs here in the package.json, could you please elaborate if the issue is related to tfjs ?

[2022-06-28 23:35] pyu10055 commented on #6551
@AmitMY I tried your model on our benchmark tool. As you have observed the performance difference is minimal (2%) when switching between force float16.
For the correctness of the output, one possibility is the intermediate tensor values might exceed float16 range, which could cause the final output to be different.

[2022-06-29 02:15] hujiajie opened #6577 "The myth of `HTMLVideoElement.readyState` and `HTMLVideoElement.requestVideoFrameCallback`"
I'm seeing this error when running latest TFJS unit tests with the WebGPU backend:

[code]

**OS:** Windows 10 (19044.1766)
**GPU:** Intel UHD 620 (driver version: 30.0.101.1994)
**Browser:** Chrome Canary (version: 105.0.5148.0)

What I don't understand is the readiness of the frame data has already been gated by `HTMLVideoElement.requestVideoFrameCallback`:

https://github.com/tensorflow/tfjs/bl

[2022-06-29 03:52] whoisltd commented on #6557
Sorry, it's my mistake. I wrote wrong some async functions.

[2022-06-29 04:47] qjia7 commented on #6577
@hujiajie Please file a chromium issue to see whether it's a chrome bug about the `readyState` and lint it here. Thanks.

[2022-06-29 05:30] hujiajie commented on #6577
https://bugs.chromium.org/p/chromium/issues/detail?id=1340433

[2022-06-29 12:09] #6551 closed

[2022-06-29 14:03] qipengwang commented on #6560
Thanks for you reply, this problem solved.

[2022-06-29 14:04] #6560 closed

[2022-06-29 14:21] qipengwang opened #6580 "Building tfjs-backend-webgpu failed"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04
- TensorFlow.js i

[2022-06-29 14:33] qipengwang opened #6581 "op_list is missed"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04
- TensorFlow.js installed from (npm or script link): source
- TensorFlow.js version: 3.18.0

**Describe the problem**

**Provide the exact sequence of commands / steps that you executed before running into the problem**

When I build tfjs-converter from source, I run `yarn build` successfully. Then I wan

[2022-06-29 14:37] qipengwang opened #6582 "Request for build doc"
Is there any docs elaborating how to build tfjs from source?

[2022-06-29 16:38] mattrossman opened #6584 "[tfjs-tflite] Can't initialize model, Encountered unresolved custom op"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow.js): No
- OS Pla

[2022-06-29 17:43] mattsoulanille commented on #4766
Fixed by https://github.com/tensorflow/tfjs/pull/6524

[2022-06-29 17:43] #4766 closed

[2022-06-29 20:43] pyu10055 commented on #6551
The tool is [here](https://tensorflow.github.io/tfjs/e2e/benchmarks/local-benchmark/index.html).

[2022-06-30 01:06] qipengwang commented on #6581
Thanks a lot for your reply

[2022-06-30 01:06] #6581 closed

[2022-06-30 01:06] qipengwang commented on #6580
Thanks a lot for your reply!

[2022-06-30 08:46] qipengwang commented on #6580
Another minor question is

[2022-06-30 10:43] waqardongre commented on #4684
I think the tensorflowJS version included in web app must be the same as the converter we used to convert the model from tensorflow saved model. For me adding this"<script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@3.18.0/dist/tf.min.js"></script>" this in index.html in [https://github.com/KostaMalsev/ObjectDetection](url) in this template worked for me, because I converted using 3.18.0 te

[2022-06-30 11:25] waqardongre commented on #4296
@pistolla , if you have still issue this topic may help you, https://github.com/tensorflow/tfjs/issues/4684#issuecomment-1171061315

[2022-06-30 18:50] rthadur commented on #2010
This has been implemented here https://github.com/tensorflow/tfjs/pull/4172 , will be closing this request.

[2022-06-30 18:50] #2010 closed

[2022-06-30 19:06] rthadur commented on #2211
The related PR has been merged #2641 , will be closing this request.

[2022-06-30 19:06] #2211 closed

[2022-06-30 19:12] TheCodez opened #6592 "[tfjs-converter] KeyError: 'kernel' when converting tfjs layers model to Keras"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- Tensorflow.js Converter Version: 3.17.0

[2022-06-30 19:25] rthadur commented on #3433
Related PR for wasm support has been merged and also blazeface is deprecated in favour of face-detection model  https://github.com/tensorflow/tfjs-models/tree/master/face-detection , Thank you

[2022-07-01 01:05] its-ogawa commented on #285
Thank you for your message.
No, I am not. Unfortunately, I have not been able to solve the problem. If you find out anything, I would be happy to share the information.

[2022-07-01 05:13] xhcao opened #6595 "dataToGPU description is not updated to tensorflow api reference"
The description of dataToGPU api had been modified for webgpu backend in the https://github.com/tensorflow/tfjs/pull/6393, but the changes had not been updated the tensorflow api reference https://js.tensorflow.org/api/latest/#tf.Tensor.dataToGPU .

[2022-07-01 05:14] xhcao commented on #6595
@lina128 ,  could you take a look, thank you.

[2022-07-01 15:41] fromb2b opened #6596 "Is it possible to use Tfjs-vis in NodeJS"
Hi,

  I am a beginner in Tensorflow JS and was looking at ways of visualizing the trainning process (I do the processing in NodeJS).
I noticed that all tutorials of visualization talk about Tensorboard for Python.

Do you have any suggestions?

[2022-07-01 19:56] mattsoulanille opened #6598 "iOS and Mac Safari Tests Failing After #6520"
**System information**
Nightly CI on master branch testing with iOS and MacOS Safari on BrowserStack.

**Describe the problem**
After Jasmine was updated to 4.x (#6520), iOS and MacOS Safari tests are failing with the following error:
[code]

This seems to be an ecmascript version issue, but [caniuse reports that ios 11 should support the spread operator in function calls](https://caniuse.com/?sea

[2022-07-01 22:01] rthadur commented on #6596
please check the related discussion here https://groups.google.com/a/tensorflow.org/g/tfjs/c/wV5WHucHXao/m/fOJxNQXyCAAJ , there is no active development on this front.

[2022-07-02 11:28] josephrocca commented on #5844
Hey @jinjingforever, sorry to pester - just wondering if there has been any movement here, or if there are other things blocking this that I could try to help with?

[2022-07-02 17:46] josephrocca opened #6599 "[tfjs-converter] Support for ops: `BitwiseXor`, `Bitcast`, `LeftShift`, `BitwiseOr`, `RightShift`"
I'm converting a BART-based model from TensorFlow Saved Model format, and the lack of support for these ops is preventing the convesion: `BitwiseXor`, `Bitcast`, `LeftShift`, `BitwiseOr`, `RightShift`.

**System information**
- TensorFlow.js version (you are using): tensorflowjs==3.18.0 (python converter package)
- Are you willing to contribute it (Yes/No): Yes, willing to try to help if someone c

[2022-07-02 20:35] Amonsalvek commented on #4638
Were you able to solve this?
I have the same exact problema, tried TensorFlow 2.4.0 as per Hugo Zanini's model.json shows but still the same error.
TensorListFromTensor is obsolete and will be removed, yet it should still be working to date....

[2022-07-03 21:05] fromb2b opened #6600 "This Node instance does not support builds for Node-API"
Hi,

  I am new to Tensorflow JS.

I tried to replace @tensorflow/tfjs with @tensorflow/tfjs-node after installing Python in order to speed up the training process but I got this message when running the model:

`node-pre-gyp info This Node instance does not support builds for Node-API version 7
node-pre-gyp info This Node instance does not support builds for Node-API version 8
node-pre-gyp info T

[2022-07-04 02:40] Amonsalvek commented on #4638
Brief update, tried using TF converter 2.8.0, same exact error (2.8.0 is the one used in the tutorial).
Then updated to 3.18.0 (this time through Colab) and the error now change to

Unknown op 'TensorListReserve'

Same exact behaviour as NSTiwari, the web app crashes when the webcam turns ON, and the error occurs when the function _model.executeAsync_ is called.

Please any help on this issue?

[2022-07-04 03:33] bergkamp opened #6601 "[tfjs-react-native] Is there any way to speed up the performance of tfjs_graph_model"
I had converted saved_model to tfjs_graph_model, the model.predict process cost **90 seconds** with tfjs-react-native.
Is there any way to speed up the performance?

OS Platform: M1 pro

Converted from [this model](https://github.com/mnicnc404/CartoonGan-tensorflow/tree/master/exported_models/light_shinkai_SavedModel)

[code]

code
[code]
Thanks

[2022-07-04 12:19] s314cy commented on #6381
Same error here. Fixed it by installing an arm64-compatible version of node (v16+ provides that) and installing tfjs-node from there. What do you get with `node -p "process.arch"?

[2022-07-05 06:03] eledahl opened #6604 "[React-Native] recordAsync() causes video to freeze and does not record or apply pose"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow.js): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 22
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: iPhone SE
- TensorFlow.js installed from (npm or script link): npm
- TensorFlow.js version (use command bel

[2022-07-05 10:00] FabioRomagnolo opened #6605 ""Cannot infer the missing size in [-1, 0] when there are 0 elements" when using padding in custom converted TFJS model"
Hi!
I'm using a custom model for Background Matting, actually tested and working on ONNX Runtime, ONNX Runtime Web and Tensorflow (0.11 inference seconds on GPU).
In order to use it I convert the PyTorch custom model to ONNX, then to Tensorflow and then to Tensorflow JS, using the recommended libraries such as [onnx-tensorflow](https://github.com/onnx/onnx-tensorflow) and [tensorflowjs_converter](

[2022-07-05 22:39] kylejmcintyre opened #6606 "Allow user to control value of `failIfMajorPerformanceCaveat` in webgl backend canvas props"
**System information**
- TensorFlow.js version (you are using): 3.7 but feature not existent in newer verions
- Are you willing to contribute it (Yes/No): Maybe..

**Describe the feature and the current behavior/state.**

In the webgl backend, it does a webgl capabilities checks and passes in a hardcoded set of props for the webgl context (all of this is in canvas_utils.ts). The const for the requ

[2022-07-05 23:46] kylejmcintyre commented on #6606
Or is the implication here that the result will be incorrect..?

[2022-07-06 09:38] poulou0 commented on #6418
I think it's because you're missing the
[code]
https://github.com/tensorflow/tfjs/tree/master/tfjs-react-native#step-4-test-that-it-is-working

_Note: Might need to restart the Metro Bundler_

[2022-07-06 12:17] darringrove commented on #6418
Thanks @poulou0. Here are more details on this issue.

**System information**
Have I written custom code (as opposed to using a stock example script provided in TensorFlow.js):
No. This issue is reproduced with a bare RN app + the tfjs RN pose detection [example](https://github.com/tensorflow/tfjs-examples/tree/master/react-native/pose-detection). I fixed some typescript issues in the example but

[2022-07-06 12:54] darringrove commented on #6418
@jinjingforever I noticed you only upgraded the expo examples. I would be interested to know if the image-classification/react-native-cli example would similarly break if it were upgraded to Expo 45.

[2022-07-06 13:44] darringrove commented on #6418
@bergkamp Are you starting with a bare RN app and did you resolve this with @rthadur ?

[2022-07-06 14:58] darringrove commented on #6418
@jinjingforever @rthadur Fwiw, my attempt to expo eject the example was unsuccessful (in the world of pods).

[2022-07-06 17:19] jinjingforever commented on #5844
Hi @josephrocca I am sorry... I haven't had time to look into this and have been busy with other projects.. I probably don't have an ETA on this. Keeping this open for now.

[2022-07-06 23:07] #6598 closed

[2022-07-07 06:03] bergkamp commented on #6418
@darringrove I had installed EXPO as bare module, it works fine.

[2022-07-07 06:03] #6418 closed

[2022-07-07 08:48] hwangdeyu opened #6610 "Some numpy type usage are deprecated"
I met several numpy DeprecationWarning issues when I use latest tfjs version 3.18.

here is an example:

Numpy 1.20 deprecations reference: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

[2022-07-07 11:45] darringrove commented on #6418
@bergkamp How did you resolve this issue? Can you share the working package.json and App.js?

[2022-07-07 12:00] darringrove opened #6611 "TypeError: undefined is not an object (evaluating 'env().platform.fetch') in createDetector using tfjs-react-native with pose-detection"
**System information**
Have I written custom code (as opposed to using a stock [example](https://github.com/tensorflow/tfjs-examples/tree/master/react-native/pose-detection) script provided in TensorFlow.js):
No. This issue is reproduced with a bare RN app + the tfjs RN pose detection example. I fixed some typescript issues in the example but did not fundamentally change it.

OS Platform and Distr

[2022-07-07 18:14] mattsoulanille commented on #6580
`<tfjs>/dist/bin/tfjs-backend-webgpu/tfjs-backend-webgpu_pkg/dist/tfjs-backend-webgpu.min.js` is a copy of `<tfjs>/dist/bin/tfjs-backend-webgpu/tfjs-backend-webgpu.min.js` created by [this Bazel target](https://github.com/tensorflow/tfjs/blob/master/tfjs-backend-webgpu/BUILD.bazel#L52-L63). It's used as part of the npm package creation.

[2022-07-07 18:14] #6580 closed

[2022-07-07 20:00] #6582 closed

[2022-07-07 20:16] pyu10055 commented on #6606
@kylejmcintyre I believe there are [some previous discussion](https://github.com/tensorflow/tfjs/issues/4347) around this flag, there should be no correctness concern, what is the browser you are have issue with this flag?
I believe the best option right now is to remove this requirement for TFJS.

[2022-07-07 20:27] kylejmcintyre commented on #6606
Some of our application users are using Chrome in a VM that apparently lacks the necessary drivers to do true hardware acceleration, so Chrome is falling back to the SwiftShader software acceleration. When this occurs, the failIfMajorPerformanceCaveat=true constraint results in no webgl context being created, and we fallback to web/cpu. I assume that using the SwiftShader would still be much faste

[2022-07-08 08:07] FabioRomagnolo commented on #4824
Same problem here!
I tried to reimplement the operation in a custom way like this:
[code]
But without success: it gives too many error on the input's validation.

[2022-07-08 09:10] FabioRomagnolo commented on #6605
Thanks for your response.
I've converted this simple PyTorch model (don't care about the output names):
[code]
Converting into the ONNX simplified model by using [onnx-simplifier](https://github.com/daquexian/onnx-simplifier), when I try to convert to Tensorflow it just crashes with error: "_Invalid value in tensor used for shape: -3_" inside a tf.slice() operation and this is bad already.

Anyway

[2022-07-08 14:36] rthadur commented on #6592
Like Shanqing mentioned at https://github.com/tensorflow/tfjs/issues/1808#issuecomment-557099119, it is not possible to convert tfjs_graph_model to keras_saved_model.

If you have a tfjs_graph_model, you should have a tensorflow model (in keras, tf_hub, tf_saved_model, or tf_frozen_model format, see details here: https://github.com/tensorflow/tfjs/tree/master/tfjs-converter#format-conversion-suppo

[2022-07-08 14:43] rthadur commented on #4208
please use new pose-detection model here https://github.com/tensorflow/tfjs-models/tree/master/pose-detection as we no longer support body pix. Thank you

[2022-07-08 14:43] #4208 closed

[2022-07-08 14:49] rthadur commented on #6444
Related PR #6445 has been merged , closing this issue. thank you

[2022-07-08 14:49] #6444 closed

[2022-07-08 15:15] #5153 closed

[2022-07-08 21:20] pyu10055 commented on #6605
@FabioRomagnolo I took a look at the generated models, it is quite complex, seems ONNX turns constants into sparse representation, is it possible to disable that during conversion?

[2022-07-09 12:27] darringrove commented on #6611
@rthadur If it's helpful, the error is being thrown in HTTPRequest in tfjs-core. In the case of the example, it's being called with:
 path = https://tfhub.dev/google/tfjs-model/movenet/singlepose/lightning/4/model.json?tfjs-format=file
 loadOptions = {fromTFHub: true}

It gets to `this.fetch = env().platform.fetch;` and env().platform is undefined.

[2022-07-09 16:00] darringrove commented on #6611
@rthadur @jinjingforever Since this issue involved loading the model, I decided to try the LOAD_MODEL_FROM_BUNDLE option. In this case, createDetector successfully returns the new model, but the call to estimatePoses is taking forever to return.

[2022-07-10 07:30] lijianyu1985 opened #6616 "How to support the model that converted base on yoliv5"

[2022-07-10 16:09] disjukr commented on #3341
@tlightsky It seems work.

`deno.json`
[code]

`import_map.json`
[code]

`test.ts`
[code]

[code]

[2022-07-11 05:01] qjia7 commented on #5197
FYI, https://github.com/tensorflow/tfjs/pull/6603 use the simulated matmul_vec4 on webgpu can greatly improve the performance of `Conv2DBackpropInput`.

[2022-07-11 08:07] FabioRomagnolo commented on #6605
That's impossible, you can only change the opset*  during conversion and wheter to do or not the constant folding, which does not relate to the problem described before.

*The compatible opset with my model is actually the version 12 because of Squeeze v13 operation not supported by ONNX -> Tensorflow converter

[2022-07-11 16:26] pyu10055 commented on #5197
FYI @Linchenn

[2022-07-11 16:52] AdvMaple commented on #4824
Having this problem when using with @tensorflow-models/universal-sentence-encoder.

I'm using Node 14.

WASM init:
[code]

Error:
[code]

[2022-07-11 17:42] pyu10055 commented on #6599
@josephrocca Thank you for submitting this issue and willing to contribute to the library.
Here is the doc for [adding an new TF op to TFJS](https://github.com/tensorflow/tfjs/blob/master/CONTRIBUTING_MISSING_OP.md)
Please let us know if you have any questions in following the process. Thanks

[2022-07-12 08:50] marcvanzee commented on #6395
+1 for InvertPermutation.

[2022-07-12 09:00] StampixSMO commented on #6526
Same here, cannot get TFJS to work with React Native and Hermes JS engine enabled. The `checkInputs` method keeps throwing. Exactly the same build works fine with JSC.

[2022-07-12 15:06] rthadur commented on #6616
It looks like you haven't used a template to create this issue. Please resubmit your issue using a template from [here](https://github.com/tensorflow/tfjs/issues/new/choose). We ask users to use the template because it reduces overall time to resolve a new issue by avoiding extra communication to get to the root of the issue. We will close this issue in lieu of the new one you will create from the

[2022-07-12 15:06] #6616 closed

[2022-07-12 16:31] #6571 closed

[2022-07-12 19:31] #6567 closed

[2022-07-13 17:36] kirkpa opened #6620 "Please upload latest master to npm for tfjs"
**Describe the problem**
Current npm tfjs-node version does not include support for linux/arm64. Support for linux arm64 was recently merged into master
https://github.com/tensorflow/tfjs/pull/6564

Please update npm with latest master.
Thanks.

[2022-07-13 17:48] rthadur commented on #6620
@kirkpa change will be available in next release(TBD) , if you want you can clone the repo and get latest changes. Thank you

[2022-07-13 21:26] pyu10055 commented on #6381
Hi @MikeOBarometer @Caundy
I have tried the setup Mike mentioned, it is also working for me.
There are couple caveats you need to pay attention to:
1. Make sure you are starting your terminal without rosetta. (Which make sure the arch is in arm64)
2. use nvm to install node with arm64 binary.
3. install tfjs-node after that.

This way, your node environment arch matches with tfjs-node binding and

[2022-07-13 21:26] #6381 closed

[2022-07-14 13:16] rthadur commented on #6606
Thank you , feel free to close this issue if it is resolved .

[2022-07-14 15:42] DameNianch opened #6624 "cropAndResize puts 0 padding depending on the shape."
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow.js): yes
- OS Platform and Distribution:
  - host: Ubuntu 20.04.4 LTS
  - docker: FROM node:16.13.2-buster-slim
- TensorFlow.js installed from (npm or script link): npm
- TensorFlow.js version (use command below):
[code]

**Describe the current behavior**
Even if the size is reduc

[2022-07-14 18:07] rthadur commented on #6624
For node bindings, you need setBackend('node'). (See https://js.tensorflow.org/api/latest/#setBackend).

[2022-07-14 22:09] rthadur commented on #6542
@TheRochVoices can you please share the model which you using ?

[2022-07-14 22:10] rthadur commented on #6553
This question is better asked on [Discourse-TF](https://discuss.tensorflow.org/) since it is not a bug or feature request. There is also a larger community that reads questions there.

[2022-07-14 22:10] #6553 closed

[2022-07-14 22:54] rthadur commented on #6595
Changes will be deployed in next release .

[2022-07-15 08:53] DameNianch commented on #6624
@rthadur
Thank you for your reply. Let me ask you two questions.
1. I'm sorry, but I don't understand why you made that point. Could you please tell me why I should do this?
2. `setBackend('node')` say `Error: Backend name 'node' not found in registry`. `setBackend("cpu")` is bad idea for this problem. The documentation says cpu, webgl, wasm, etc, but does etc include node?

[2022-07-15 13:55] thekevinscott opened #6627 "Discrepancy between tf.node.decodePng and tf.browser.fromPixels"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow.js): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Browser and MacOS 12.4
- TensorFlow.js installed from (npm or script link): npm
- TensorFlow.js version (use command below): `3.18.0`
- Browser version: Chrome Version 103.0.5060.114 (Official Build) (x86_64)

**D

[2022-07-15 18:31] #4684 closed

[2022-07-15 22:31] #6596 closed

[2022-07-16 09:27] tlightsky commented on #3341
yeah, but seems have issue when running more complex model,
currently try to go through the way of tfjs on top of WebGPU/WebGL in Canary Chrome

[2022-07-16 10:00] TheCodez commented on #6592
@rthadur Sorry for the late response. In my case it is not a tf js graph model but tf js layer model. I have found another way to do the converting in the mean time.
Maybe a warning could be added that it isn't supported to avoid confusion in the future?

[2022-07-17 13:49] senthilkumar-chandramohan opened #6628 "Cannot read property 'assertAndGetBroadcastShape' of undefined"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow.js): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 11 Home 64-bit
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: N/A
- TensorFlow.js installed from (npm or script link): npm
- TensorFlow.js version (use comm

[2022-07-17 18:17] thekevinscott commented on #6627
An update on the above.

It seems the discrepancy is not between Node and the browser, but between different strategies of loading images in the browser.

Here's some code sandboxes:

- Node: https://codesandbox.io/s/tfjs-node-image-tensor-6k53yw?file=/index.js
- Browser, load via `<img />` tag: https://codesandbox.io/s/tfjs-browser-image-tensor-identical-to-node-zc3ysr?file=/src/index.js
- Browse

[2022-07-17 18:45] danwexler commented on #6627
So, the tl;dr is to avoid using HTMLImageElement to load images in the
browser for TFJS, at least if you want the same results in node?

On Sun, Jul 17, 2022, 11:17 AM Kevin Scott ***@***.***> wrote:

[2022-07-17 19:16] thekevinscott commented on #6627
To be honest, I have no idea. I ran some more tests that confused things more.

[Here's a browser code sandbox that loads an image from picsum](https://codesandbox.io/s/tfjs-browser-image-tensor-picsum-5u9oc0) in both JPEG and PNG formats. It loads the image over HTTP (only jpeg), imports it via Parcel (both jpeg and png), and pulls it from an HTMLImageElement (both jpeg and png).

All tensor outp

[2022-07-17 19:31] danwexler commented on #6627
FWIW, avoiding HTMLImageElement is a good idea because it doesn't work in
web workers either.

On Sun, Jul 17, 2022, 12:16 PM Kevin Scott ***@***.***> wrote:

[2022-07-18 06:25] ColorfulCakeChen opened #6629 "depthwise conv seems wrong in WASM (when filter 1xN or Nx1, strides=2, pad=same)"
**System information**
- Have I written custom code: Yes (in the following gist)
- OS Platform and Distribution: Chrome OS 103.0.5060.114 (64 bits)
- Mobile device: Moto e40
- TensorFlow.js installed from: script link
- TensorFlow.js version: 3.18.0
- Browser version: Chrome OS 103.0.5060.114 (64 bits)

**Describe the current behavior**
- When backend is "wasm", tf.depthwiseConv2d() with ( filter

[2022-07-18 10:10] TheRochVoices commented on #6542
Hi @rthadur , It was an object detection model trained with tf object detection API and then exported to tfjs. During export, I came to realize that you can't have batchsize greater than 1 in an exported model.

[2022-07-18 10:22] Caundy commented on #6381
@pyu10055 Thank you, can confirm this solution worked, what did the trick was re-running the nvm install command before reinstalling the tfjs-node package. I had node 16 installed using nvm already but maybe did that using rosetta terminal? Anyhow, reinstallation ended up doing the trick, thank you for the help :)

[2022-07-18 20:31] rthadur commented on #6542
Thats true , if the original model does not support then tfjs will not be able to support.

[2022-07-19 02:08] mtrucc commented on #4638
I had the same problem, but I found that with other model files (before Jan 2021) it worked fine.

[2022-07-19 06:43] rajumgokak commented on #2076
!sudo pip3 install tensorflowjs
# Then:
!sudo tensorflowjs_converter

just replace model.h5 with your trained weight
!tensorflowjs_converter --input_format=keras '/content/drive/MyDrive/model.h5' "/content/drive/MyDrive/json"

you are good to go your file will me converted !