[2018-12-10 21:09] somombo commented on #968
@tafsiri or @rthadur, kindly confirm you've been able to reproduce this issue (on windows), so that we can start having productive discussions about potential causes.

[2018-12-11 00:13] nsthorat commented on #983
One thing that @annxingyuan mentioned to me is that it's actually faster to use textures with dimensions that are powers of two (even if they are larger). This is something we might want to do as well.

[2018-12-11 12:12] ToonTalk commented on #970
We have a project that would strongly prefer to use the sentence encoder in TFJS and so we would love an estimate as to when this (and any other problem) is likely to be resolved. Since our project must be web-based the alternative we hope to avoid is needing a server to run the sentence encoding model.

[2018-12-11 15:13] tafsiri commented on #968
cc @dsmilkov any chance you could look at this on a windows machine?

[2018-12-11 18:14] #971 closed

[2018-12-11 18:44] #935 closed

[2018-12-11 18:44] nsthorat commented on #919
This should be fixed.

[2018-12-11 18:44] #919 closed

[2018-12-11 18:45] #890 closed

[2018-12-11 18:46] #848 closed

[2018-12-11 20:01] kangyizhang opened #984 "logs returned by model.fitDataset onEpochEnd got updated by later epoch"
The logs returned by `onEpochEnd` during `model.fitDataset` will be override by a later epoch. For example:

const trainLogs:Array<{}> = [];

   const history =
           await model.fitDataset(dataset, {batchesPerEpoch, epochs, callbacks:
            {
            onEpochEnd: async (epoch, logs) => {
              trainLogs.push(logs);
              console.log(trainLogs);
            }

[2018-12-11 23:30] kangyizhang opened #1003 "Support decoding/resizing image data"

[2018-12-12 03:43] Davidzhu001 commented on #667
@tafsiri any solutions for react native now?

[2018-12-12 03:56] tafsiri commented on #667
@Davidzhu001 not at the moment, but it is something we are going to investigate,  probably early 2019. The ongoing work to support OffscreenCanvas will probably be helpful for react native as well.

[2018-12-12 03:59] Davidzhu001 commented on #667
@tafsiri thanks man, if there is help i can give, i am willing to help. my apps are deeply relying on rn.

[2018-12-12 13:32] Johannes0Horn commented on #958
@MI-LA01 May i ask which Implementation of MaskRCNN you tried to convert?

[2018-12-12 13:36] MI-LA01 commented on #958
Hello @Johannes0Horn,
The one from Matterport using originally keras

[2018-12-12 13:46] Johannes0Horn commented on #958
Dont you have to rewrite all Customlayers and Lamdalayers in Javascript to get it Working on tfjs, since they cant be converted? I was also trying to convert the exact Same Model to tfjs. I could convert it successfully but wasnt able to load it in tfjs because tfjs didnt know how to handle the custom and Lambda layers.

Currently, i try to rewrite all Customlayers in Javascript but i found Out se

[2018-12-12 16:31] Johannes0Horn commented on #958
Afaik, the following Operations are missing in tfjs, to use the MaskRCNN in tfjs:
tf.boolean_mask
tf.constant
tf.sets.set_intersection
tf.map_fn
tf.cond
tf.stopGradient
tf.Assert
tf.random_shuffle

and the dtype int64

[2018-12-12 16:39] annxingyuan opened #985 "Runs layers benchmarks as unit tests and log them in the cron."
Move existing layers benchmarks over to tfjs union.

[2018-12-12 16:42] annxingyuan opened #986 "Move benchmark logging infrastructure to union."
This way layers and core benchmarks can get logged by the same infrastructure.

[2018-12-12 16:44] annxingyuan commented on #871
Solved with https://github.com/tensorflow/tfjs-core/pull/1396

[2018-12-12 16:44] #871 closed

[2018-12-12 16:45] nsthorat commented on #928
We should do this earlier rather than later since we use Tensor.get() extensively in backend_cpu.

[2018-12-12 16:45] nsthorat opened #987 "Upload shapes as uniforms wherever possible."
Where possible we should upload shapes to GPGPUPrograms as uniforms. This will give us much better shader cache utilization. A great example of this would be slice_gpu.

[2018-12-12 16:46] annxingyuan opened #988 "Create Chrome extension that adds tags to commit messages."

[2018-12-12 16:48] dsmilkov opened #989 "Optimize addN in the WebGL"
Similarly to how we optimize concat: https://github.com/tensorflow/tfjs-core/pull/1449

[2018-12-12 16:51] dsmilkov opened #990 "Optimize slice() in WEBGL backend"
Slice is frequently used in data prepping, various layers (RNN cells) and ops (unstack, split, scatter, etc).

Right now each call to slice() results in running a shader program (in WebGL backend), and copying memory (in CPU backend).

We should instead maintain an offset index into the existing tensor making slicing effectively free.

[2018-12-12 16:57] dsmilkov commented on #987
To give a real-world context, when real-time data collection happens in the browser (e.g. [Audio recognition Codelab](https://codelabs.developers.google.com/codelabs/tensorflowjs-audio-codelab/index.html)), the number of examples collected is dynamic and causes recompilation of the shaders, slowing down the program significantly.

[2018-12-12 22:36] rthadur commented on #305
@kylemcdonald  checking if the we can close this issue ?

[2018-12-13 07:41] rajeev-tbrew opened #991 "Make tflite model run directly with tfjs"
To get help from the community, check out our [Google group](https://groups.google.com/a/tensorflow.org/forum/#!forum/tfjs).
This is not a bug rather a feature request. As TensorFlow library provides TFLite models to run on Android, iOS platform, can we a build a tfjs wrapper to allow tfjs to directly load TFlite model in browser. This will allow same model being used across multiple platforms.
##

[2018-12-13 10:19] zaidalyafeai commented on #562
I resolved this issue by modifying the source code and changing the definition of batch norm during inference time. My pix2pix demo is based on that!

[2018-12-13 13:03] danibix95 opened #992 "Error while loading a frozen model from a correct url but non-existing resource"
#### TensorFlow.js version
0.14.1
#### Browser version
tfjs-node 0.1.21

#### Problem Description
I have created a frozen model following the instruction I found in [tfjs-converter github repository](https://github.com/tensorflow/tfjs-converter/). Everything works fine when I try to load the model from an http url as shown below.

However, when I execute the same piece of code without starting my

[2018-12-13 14:02] caisq commented on #562
Training with BatchNormazliation should be working. See the ACGAN example under review at
https://github.com/tensorflow/tfjs-examples/pull/187

I'd like to see the code you're using and the change you made in order for it to work, @zaidalyafeai , if possible.

[2018-12-13 15:48] #300 closed

[2018-12-13 15:52] nsthorat opened #993 "Add API documentation example for custom IO handlers"
We've had a few people ask about this, it would be good to have an example inside the API docs.

[2018-12-13 21:41] #410 closed

[2018-12-13 21:54] #984 closed

[2018-12-13 22:48] zaidalyafeai commented on #562
@caisq, I may have accidentally deleted the source code :/  but the idea is simple I just forced batch norm layer to use the statistics of the input sample as if it was training. So, I didn't add any code just re-routing.

[2018-12-14 00:42] generic-github-user commented on #108
Is there an updated list of which functions have gradients implemented and which do not?

[2018-12-14 11:54] rlexa opened #995 "Model.dispose() misses some Tensors it seems"
#### TensorFlow.js version 0.14.1

#### Browser version Chrome 70.0.3538.77

#### Describe the problem or feature request

Expecting `Model.dispose()` to dispose all children, but compiling a model seems to produce at least a single `Tensor` which isn't disposed by the `Model` and can't be disposed manually.

#### Code to reproduce the bug / link to feature request

##### Case 1: create, dispose

[2018-12-14 13:53] PABCSoft opened #996 "Porting the weights stored in the TF using tf.train.Saver"
Is it possible to port a checkpoint saved via tf.train.saver?

[2018-12-14 16:30] piercus commented on #723
Same problem here, I have fixed it by doing

After editing package.json, i've done
[code]

This problem will occur in many situations :
* When using `npm install --global-style`
* When using `npm install --legacy-bundling`
* If `package.json` contains both `@tensorflow/tfjs` and `@tensorflow/tfjs-node`
* If `package.json` contains both `@tensorflow/tfjs-node-gpu` and `@tensorflow/tfjs-node` on the

[2018-12-14 18:51] pyu10055 commented on #996
yes, the tfjs_converter supports session bundle format. https://github.com/tensorflow/tfjs-converter

[2018-12-14 19:14] PABCSoft commented on #996
Thank you! Is it possible to run this on Windows?

[2018-12-14 20:56] jdjddjdj opened #997 "Install issues Posenet on Mac"
To get help from the community, check out our [Google group](https://groups.google.com/a/tensorflow.org/forum/#!forum/tfjs).

#### TensorFlow.js version
latest as of dec 2108

#### Browser version
Firefox 63.0.3
Chrome 71.0.3578.98

#### Describe the problem or feature request
Mac install problems with posenet

#### Code to reproduce the bug / link to feature request
Hello All!
Posenet came to my

[2018-12-15 13:15] Bluebie commented on #944
note, if you're using the posenet implementation in npm @tensorflow-models/posenet package, this isn't properly ported to node yet, so you'll need to hack XHR in to the environment by `npm install xhr2` and then add `global.XMLHttpRequest = require('xhr2')` to the start of your nodejs script, and be aware that every time you run your node script, you'll need to be online, because it downloads the

[2018-12-16 14:37] rumschuettel opened #998 "register className for logSoftmax"
Hi,

`tf.logSoftmax` is now supported in 14.1, but I cannot do the following:
[code]

I can use a separate layer explicitly I assume, but then why support giving the activation function in first place - so I guess this is just an omission? It'd be great if it could be added for the recently-included activation functions.

Merci!
 - J

[2018-12-16 15:32] caisq commented on #981
This is confirmed as working by https://github.com/tensorflow/tfjs-layers/pull/391

[2018-12-16 15:32] #981 closed

[2018-12-16 16:49] PABCSoft commented on #996
Who can convert these models: https://drive.google.com/drive/mobile/folders/1jTsAUAKrMiHO2gn7s-fFZ_zUSzgKoPyp?usp=drive_open? I cannot run the Converter on Windows.

[2018-12-16 18:38] haganbt commented on #617
@caisq - it looks like #479 has been closed. Would it be possible to reopen and prioritize as I cannot find an alternative to load a model remotely without this.

[2018-12-17 02:38] demohi commented on #755
model summary

![image](https://user-images.githubusercontent.com/1209159/50063544-ce328000-01e7-11e9-8898-8f91ac721d1f.png)

[code]

error
[code]

[2018-12-17 03:11] caisq opened #999 "tfjs-vis: tfvis.render.histogram() shows empty histogram when Infinity and/or NaN values are present"
To get help from the community, check out our [Google group](https://groups.google.com/a/tensorflow.org/forum/#!forum/tfjs).

#### TensorFlow.js version
tfjs-vis 0.4.0 (latest)

#### Browser version
Chrome

#### Describe the problem or feature request
Consider the code
[code]
Due to the existence of `Inifintiy` and `NaN` in `data`, the histogram becomes empty, even though the top section does show

[2018-12-17 03:16] caisq opened #1000 "tfjs-vis: Need a tfvis.render.* function to plot 2D data as images"
This is a feature request for a function under tfvis.render.*, similar to https://matplotlib.org/api/_as_gen/matplotlib.pyplot.imshow.html

for displaying 2D data as an image. This would be useful for cases including but not limited to:

- Showing a sequence in which each item is a one-hot encoded vector (common in sequence models)
- Showing attention matrix from attention models
- Any generic typ

[2018-12-17 03:51] caisq commented on #755
@demohi Can you try using setting the `strict` argument to `false`, i.e.,

[code]

Also, this might be a bug in `loadModel`. Can you provide the weight and JSON file to us so we may try reproducing this issue on our end? Thanks.

[2018-12-17 04:00] demohi commented on #755
@caisq  Thank you for your reply. It works.

you can convert [this keras model](https://drive.google.com/open?id=1meqpmnnZ5DepXFtZiU0bsFeuAEb-zUEb ) to fix the bug.

[2018-12-17 06:13] jeffin07 commented on #626
Hello,
i get a similar error when i try to load YOLO model
Error: Unknown layer: UpsampleLike
are there any updates on this
Thank you

[2018-12-17 08:55] Bluebie opened #1001 "Regression in support for NodeJS between v0.13.5 and 0.14.1"
#### TensorFlow.js version
0.14.1

#### Browser version
NodeJS v11.3.0 (installed via Homebrew)

#### Describe the problem or feature request
In 0.14.1 requiring tfjs and tfjs-node in a nodejs script does not seem to register the C version of tensorflow correctly. Models cannot be saved out to a file using the file:// handler (errors saying no appropriate handler available), training goes unusuall

[2018-12-17 12:13] j2l commented on #593
I also have a hackintosh,
Could you please share how you installed drivers?
Thanks @ProgrammingLife !

[2018-12-17 14:53] #799 closed

[2018-12-17 15:20] dsmilkov commented on #799
I fixed the warning in Firefox, but I'm still curious if the `ERROR :GL_INVALID_OPERATION : glReadPixels` issue in Chrome/Safari/Opera is still there. Thanks!

[2018-12-17 17:09] tafsiri commented on #221
@nsthorat @dsmilkov I'm pretty sure we can close this. The [test](https://github.com/tensorflow/tfjs-core/blob/master/src/ops/resize_nearest_neighbor_test.ts#L24) has updated to match the expected python update.

Lemme know if there is something i'm missing in terms of actions on this bug.

[2018-12-17 17:09] #221 closed

[2018-12-17 17:49] seppestaes commented on #633
Hi, I would like to take a look at the code!

[2018-12-17 18:37] talvasconcelos opened #1007 "VanillaJs example"
I'm trying to use fitDataset on tfjs@0.14.1 but i can't find my way of turning my data into something fitDataset can digest.

I have 2 arrays, 1 is an array of arrays with my features and the other an array of arrays with the labels.

How do i "transform" the data to be fed into the model with fitDataset? I've already flattened the 2 arrays into one,  [0] has the features, [1] has the labels

i'm

[2018-12-17 18:37] #1007 closed

[2018-12-17 18:49] kangyizhang opened #1009 "Add ROADMAP.md to list upcoming features"
Currently tfjs-data only has `csv` and `array` API. More features are under design and will be implemented in future. To help user better understand the current status, instead of marking it 'beta' or 'experimental', we could add a ROADMAP.md file to list upcoming features and some information from OKRs or user filed issues.

[2018-12-18 01:21] Bluebie commented on #1001
Seems to be working well now! Thanks!

[2018-12-18 01:21] #1001 closed

[2018-12-18 04:43] TheNewSound opened #1032 "Clone() doesn't actually clone?"
To get help from the community, check out our [Google group](https://groups.google.com/a/tensorflow.org/forum/#!forum/tfjs).

#### TensorFlow.js version
Latest (0.14.1)

#### Browser version
Latest Firefox + Chrome

#### Describe the problem or feature request
Clone() doesn't actually clone.

#### Code to reproduce the bug / link to feature request
You can run the following code on the tfjs API co

[2018-12-18 11:35] iacovlev-pavel commented on #808
I no longer get this error using the latest version @tensorflow/tfjs-node-gpu: 0.1.21

[2018-12-18 11:35] #808 closed

[2018-12-18 14:35] hpssjellis commented on #633
Took me a while to find the code. Here is the [knn-classifier demo](https://hpssjellis.github.io/beginner-tensorflowjs-examples-in-javascript/advanced-keras/face/43-face-classifier-saving.html). Look for the buttons "save-classifier" and "load-classifier". You can just view-source or visit the github.

The github is [here](https://github.com/hpssjellis/beginner-tensorflowjs-examples-in-javascript/

[2018-12-18 14:59] #690 closed

[2018-12-18 17:13] tafsiri commented on #997
@jdjddjdj Could you let us know what version of node and npm you are using? I see some issues on the npm repo that seem to have some similar behavior on older versions.

Also are you able to run the demos locally? See Setup section on https://github.com/tensorflow/tfjs-models/tree/master/posenet/demos

[2018-12-18 17:57] cpury opened #1033 "Implement SpatialDropout1D (and dropout noise masks)"
When loading a Keras model that uses the SpatialDropout1D layer, I get an error:

[code]

It would be nice to have this kind of Dropout in TFJS (it's very important in NLP applications).

From my understanding, the same behavior can be achieved with the normal Dropout layer and choosing the right mask. In that case, it would be great if TFJS would understand this and convert it to a Dropout layer

[2018-12-18 18:19] DmitryRomaniuk commented on #845
@nsthorat @dsmilkov I think this issue can be closed

[2018-12-18 18:19] cpury commented on #1033
Unfortunately, it seems Dropout with any non-default noise shape is not implemented yet: https://github.com/tensorflow/tfjs-layers/blob/master/src/layers/core.ts#L98

So that would be a first step...

[2018-12-18 18:37] davidsoergel commented on #1032
I think the problem is this: Tensors are supposed to be immutable, so `clone()` returns a reference to the existing data without actually copying it-- which *should* be safe.  However, when using the CPU backend, `readSync()` just returns the underlying array, which actually *is* mutable.  In the original example above, `data.sort()` is sorting the Float32Array in place.

This demonstrates the mut

[2018-12-18 19:41] bileschi opened #1034 "tfjs-data Dataset methods missing from index panel in documentation"
#### Describe the problem or feature request
The Dataset operations like 'map', 'shuffle', or 'batch' should appear in the lefthand panel

![image](https://user-images.githubusercontent.com/547150/50178561-e6cb9480-02d2-11e9-92ad-bffad6fdecc0.png)

#### Code to reproduce the bug / link to feature request

[2018-12-18 22:09] #903 closed

[2018-12-18 22:39] tafsiri commented on #1000
Adding some comments from our discussion. The need here is more related to being able to plot heatmap like data (hence the need for labels), somewhat separate from generic image plotting which i think is also useful and is in the pipeline.

[2018-12-18 22:51] #905 closed

[2018-12-19 07:06] AKhazane opened #1035 "tensorflow-js converter unable to convert 3D max pooling layers"
Hello! I'm trying to convert a keras model to tensorflow.js (via tensorflow-js converter) and I'm running into an error with translating MaxPooling3D layers from my keras model into a corresponding 3D pooling layer in JS. After reading through the documentation, there doesn't appear to be a supported MaxPooling3D layer in the JS library.

I did notice that a `tf.pool` function exists in the JS lib

[2018-12-19 12:12] Shadowstep33 commented on #711
@nkreeger I tried the `npm install --production windows-build-tools` step twice. The only difference between when it worked and didn't was adding the global flag so make sure y'all try:

`npm -g install --production windows-build-tools`

[2018-12-19 14:54] bileschi opened #1036 "[Website] Subheadings under Dataset are not alphabetized"
These methods are in the order they are defined in the tfjs-data repository.  Is there a way to alphabetize these here?
![image](https://user-images.githubusercontent.com/547150/50227594-1383b880-0374-11e9-9a6b-de0e17634ad8.png)

[2018-12-19 15:38] bileschi opened #1037 "tf.oneHot fails on scalar tensors."
#### TensorFlow.js version
{
  "tfjs-core": "0.14.2",
  "tfjs-data": "0.1.4",
  "tfjs-layers": "0.9.1",
  "tfjs-converter": "0.7.1",
  "tfjs": "0.14.1"
}

#### Browser version
irrelevant

#### Describe the problem or feature request
tf.oneHot should be able to operate on scalar tensors, to match python.
Here is functioning python code (in eager)

[code]
#### Code to reproduce the bug / link to fea

[2018-12-19 16:06] #999 closed

[2018-12-19 16:59] dsmilkov opened #1038 "dataset.batch() doesn't handle arbitrary nested arrays"
Often times, the raw data comes as a nested array (e.g. an array of images, each with shape `WxHx3`).

If your nested array is of shape `NxWxHx3`, then `dataset.batch(B)` should produce tensors of shape `BxWxHx3`, but instead it produces a *nested* `NxW` array of tensors with shape `[Bx3]`. This is not useful since we plan to pipe this dataset into a convolutional model which expects 4D tensors. H

[2018-12-19 17:03] dsmilkov commented on #1038
cc @kangyizhang

[2018-12-19 17:04] nkreeger commented on #723
@piercus Thanks for the feedback. We've thought a bunch about how this all works and we're about to export all the `@tensorflow/tfjs` symbols through the binding packages themselves. See https://github.com/tensorflow/tfjs-node/pull/187

We'll push that out in the next release.

[2018-12-19 18:26] kangyizhang opened #1039 "Using JSON.stringify for multiple dataset.forEach cause ReferenceError: _JSON$stringify is not defined"
When using forEach to go through multiple datasets, JSON.stringify error occurs:

[code]

Comment out eighter A or B the code will work. Print out without using `JSON.stringify` is fine.

[2018-12-19 19:07] caisq commented on #1039
This is a problem with .babelrc and package.json. How you can solve the problem: copy the dependencies in package.json and the the content of .babelrc to the repo you are having the issue with.

You need a line like the following in your .babelrc:
[code]

[2018-12-19 19:52] #1039 closed

[2018-12-19 20:55] cpury opened #1040 "Implement causal padding in Conv1d"
When loading a Keras model that uses causal 1d convolutions, I'm getting this error:

[code]

[2018-12-19 21:13] caisq opened #1041 "[tfjs-data] tf.data.array()'s batching doesn't handle typed arrays correctly"
Currently, if you do the following, the batching doesn't give the right-shaped tensor. Instead it gives `undefined`.

[code]

But it works if you change ` xArrays.push(new Float32Array(10));` to ` xArrays.push(Array.from(new Float32Array(10)));`.

We need to make it work for typed arrays.

[2018-12-19 21:14] caisq commented on #1041
cc @davidsoergel

[2018-12-20 04:43] jdjddjdj commented on #997
Hello Yannick!
thanks for your help - all this command-line stuff is a biiig learning
curve for me.
Haven't done much for many years... is a forest of info.

npm -v gives 6.4.1
node -v gives v10.14.2

This page runs great and would be plenty accurate for my needs
https://storage.googleapis.com/tfjs-models/demos/posenet/camera.html
This one runs good too
https://ml5js.org/docs/posenet-webcam

I don

[2018-12-20 04:46] jdjddjdj commented on #997
and here is the Max project page on github that explains the project
(not sure what info may/may not be helpful, sorry)

https://github.com/tensorflow/tfjs-models/tree/master/posenet

On Wed, Dec 19, 2018 at 10:43 PM John Daniel <jdjddjdj@gmail.com> wrote:

[2018-12-20 04:48] jdjddjdj commented on #997
pasted wrong thing
Max github project
https://github.com/Cycling74/n4m-examples/tree/master/posenet

On Wed, Dec 19, 2018 at 10:46 PM John Daniel <jdjddjdj@gmail.com> wrote:

[2018-12-20 10:36] gope153 commented on #306
Can someone assist me? I try to find out which the correct output node names are since 1 week now. I printed them of many models a dozen time, but i can't figure out which the correct one is. I tried with faster rcnn inception v2 and ssd mobilenet v2 and my own trained models. But there are many many nodes. How do i find the correct one? I tried to work with Placeholder and loss as well as in the

[2018-12-20 11:57] justadudewhohacks commented on #995
Facing the same issue. I think the problem resides in the LayerVariable class. When initializing the tensor values with a LayerVariable is created with the output of the initializer function. A new tfc.variable is created [here](https://github.com/tensorflow/tfjs-layers/blob/master/src/variables.ts#L72), but the original tensor is not being disposed, causing a memory leak.

I think in some of the

[2018-12-20 12:07] annxingyuan opened #1042 "Converter should warn users if their model weights overflow or underflow float16 bounds"
This way users have advance notice of the fact that their model may not work as expected on mobile devices that only support half-precision floating point.

[2018-12-20 12:22] annxingyuan opened #1043 "Add checks to DEBUG mode"
In DEBUG mode, we should check values being uploaded to tensors as well as those downloaded from ops for NaNs and +/-Infinity. We should also make sure values being uploaded are representable in WebGL given the hardware.

Currently we only check downloaded values for NaNs.

[2018-12-20 12:28] annxingyuan opened #1044 "Only upload values to tensors that can be represented on the current device"
Clamp values being uploaded to the GPU so they do not underflow / overflow given the device. Throw a warning for each value we overwrite.

[2018-12-20 12:54] cloudedots-shubham-kanfade commented on #711
Try to install again with --force option:

npm install --force
If this doesn't work try to update npm globally:

npm update -g npm
and try again with the --force option.

else

Config python:

npm config set python /path/to/python2.7
Config msvs_version:

npm config set msvs_version 2013
Run a npm install or the npm command which occurs this error. It works for me!

[2018-12-20 17:13] davidsoergel commented on #1025
#1024 extends this to larger datasets with disk cache.

[2018-12-20 17:36] pyu10055 opened #1045 "FrozenModel loader handle weight loading for current level relative path"
To get help from the community, check out our [Google group](https://groups.google.com/a/tensorflow.org/forum/#!forum/tfjs).

#### TensorFlow.js version
0.14.1
#### Browser version

#### Describe the problem or feature request
When loading the frozen model with top level relative path:

`tf.loadFrozenModel('model.pb', 'weights_manifest.json') `

The loader failed to load the weight files. It add a

[2018-12-20 19:09] kangyizhang commented on #1034
These transform methods can not be called directly with `tf.xxx()` or `tf.data.xxx()`, and only could be accessed through `dataset.xxx()`, so they are not pinned in the index panel. @tafsiri does the website support these kind of methods in index panel?

[2018-12-20 19:14] davidsoergel opened #1046 "Datasets created from preexisting Tensors can be iterated at most once."
The tfjs-data Dataset creation APIs assume that the underlying data (e.g., an array passed to `tf.data.array(...)` or a url passed to `tf.data.csv(...)`) can be accessed repeatedly.

However if a Dataset is created from preexisting Tensors (e.g., `tf.data.array(foo: Tensor[])`) then this assumption does not hold, because those Tensors will be disposed--at least on the first iteration through the D

[2018-12-20 19:33] astojilj opened #1047 "Mechanism to enforce use of gl.HALF_FLOAT with both WebGL backends"
Benchmarks of all-packed-operations MobileNetV2 (DeepLabV3+ MobileNetV2) show a significant improvements when [enforcing GL_HALF_FLOAT use](https://github.com/01org/depth-camera-web-demo/blob/1313e4ec83ba6f68e2f4c454ab90688685cd7dea/nn/using-deeplab/index.html#L24), especially with all-packed-ops pipeline.

Therefore, it would be useful to enable use of gl.HALF_FLOAT textures with WebGL 2.0 backen

[2018-12-20 20:36] tafsiri commented on #1034
@kangyizhang we currently do not show any class/instance methods in the left hand panel. That functionality would need to be added.

[2018-12-20 21:00] dsmilkov commented on #1046
I think the correct way is for tf.data.array(tensors) to call .clone() on each tensor internally. This increases the incref, and separates the user-owned tensors from the dataset-owned tensors. Each can dispose independently.

[2018-12-20 21:07] dsmilkov commented on #1046
Code to reproduce this issue:

[code]

[2018-12-20 21:30] davidsoergel commented on #1046
+1, that's what I meant by option 2, except that I got confused about `clone()` vs. `keep()`.  SGTM

[2018-12-20 22:16] davidsoergel commented on #1038
You're right: by design, the current implementation batches only the innermost level of number[].

It's not clear to me that we should try to batch arbitrary nested number[][][]... though.  What if the inner levels have different shapes?  e.g. consider an array of two images of different sizes: `[[[[1, 2]]], [[[3, 4, 5]]]]`.  Here I think you'd want batching to produce `[Tensor, Tensor]`.

So we c

[2018-12-20 22:19] davidsoergel commented on #1041
This is sort of like #1046, in that we need to detect the type of the argument to `tf.data.array()` and handle certain types specially.

[2018-12-20 22:35] dsmilkov commented on #1038
Let's simplify the problem.

`batch(B)` will take an element from upstream. Will try to tensorify it, just like tf.tensor(number|number[]|TypedArray|number[][]) does.

- If it can tensorify it, it treats that element as a tensor, thus calling `tf.stack()` on `B` elements to produce a single tensor.
- If it can't tensorify, it combines `B` of these elements in a native array.

[2018-12-20 23:16] davidsoergel commented on #1038
Right, that's exactly option 3.  Here's a simpler example why it doesn't always work: fitDataset() expects input of the form [features, labels].  If features and labels happen to be numeric arrays of the same shape, then they'd get batched together, and fitDataset will fail.

We could possibly ameliorate that specific case by making fitDataset accept a dict instead (as we've previously discussed w

[2018-12-20 23:30] kangyizhang commented on #1038
+1 for `batch()` acting as a sanity checkpoint. If the requirement of flat dictionary doesn't bring any trouble, it would ease the work of batch (column major vs row major).

[2018-12-21 04:37] stken2050 commented on #110
I have a question, for node.

For Python version, svd is already there;
https://www.tensorflow.org/api_docs/python/tf/linalg/svd
and I guess these Python apis are based on C binaries.

tfjs for node is also based on the same C binary, I've heard. So I think it should be trivial to implement all of the apis that are already implemented in Python version, for tfjs for node.

I understand all of the

[2018-12-21 09:16] xue160709 commented on #433
Same issue here. The only outstanding ops are: DecodeBase64, DecodeJpeg, EncodeJpeg

[2018-12-21 12:52] annxingyuan commented on #1047
This is really interesting - do you have a sense of how much of this model architecture is in the packed world? I'm still hoping that the packing / unpacking overhead from swapping between packed / unpacked ops is holding back the performance of the packed path...

cc @dsmilkov @nsthorat

[2018-12-21 14:46] cpury opened #1048 "engine.ts:580 Uncaught TypeError: Cannot read property 'backend' of undefined"
#### TensorFlow.js version
0.14.1

#### Browser version
Latest Chrome and latest Firefox both show this issue

#### Describe the problem or feature request
This is a tough one...

Using Keras, I have trained two similar models with different structures but the same inputs and outputs. Let's call them A and B. They work great in Python.

I use the latest `tensorflowjs_converter` to convert the mode

[2018-12-21 15:03] cpury commented on #1048
Wow, while writing the reproduction code I found out what was wrong: When using model B, I somehow forgot to convert the input buffer to a tensor with `.toTensor()`. Now that I added it, it works fine. Sorry for the confusion.

Since this could happen to others as well, I would propose catching this earlier and printing a nicer error message, or automatically calling `.toTensor()`.

[2018-12-21 15:03] #1048 closed

[2018-12-21 15:07] caisq opened #1049 "Need a util function similar to np.range and np.arange"
It can have a signature like:
[code]

It may be called `tf.util.range`. There is already a `tf.range()`. But it returns a tensor and is not the most convenient to use because it requires memory management.

[2018-12-21 15:17] nkreeger commented on #1047
This is something I've been thinking about as well. Ideally, we have the ability to allow users to cut-over to HALF_FLOAT outside of our iOS/WebGL1 workarounds. Training with half-float is another story - but I can see some models benefiting from this.

[2018-12-21 16:07] astojilj opened #1050 "Add packed operations testing environment"
[As proposed](https://github.com/tensorflow/tfjs-core/pull/1423#issuecomment-449374395) by @annxingyuan, packing environments for WebGL 1 and WebGL 2 with `'WEBGL_PACK':true` needs to be added to [jasmine_utils.js](https://github.com/tensorflow/tfjs-core/blob/a68dc22b9b929291b3dad3f8e82e435297c91822/src/jasmine_util.ts#L94).

[2018-12-21 16:58] caisq opened #1051 "[tfjs-vis] tfvis.show.layer crashes on last layer of a multilayer perceptron"
To get help from the community, check out our [Google group](https://groups.google.com/a/tensorflow.org/forum/#!forum/tfjs).

#### TensorFlow.js version
tfjs 0.14.1
tfjs-vis 0.4.0

#### Browser version
Chrome latest (Linux)

#### Describe the problem or feature request
See code pen @ https://codepen.io/caisq/pen/OrWLBj

A simple MLP is created with the following code:
[code]
The MLP has three laye

[2018-12-21 17:10] caisq commented on #1051
Never mind. There is a type in my JS code (`unit` vs `units`). When corrected, the problem goes away.

[2018-12-21 17:10] #1051 closed

[2018-12-22 04:50] caisq commented on #755
@demohi I'm looking into this issue now. It seems the cause to do with the following fact:
- The model has a layer with the name `conv2d_10`, however
- One of the weights for that layer is named `conv2d_10_1/kernel` in the model.h5 file. So there is the extra suffix `_1`

This is the reason why the weight loading fails and you get the error. Can you tell me a little about how the model is saved fr

[2018-12-22 05:04] demohi commented on #755
@caisq

I use the colab to train this model with keras.

[code]

[2018-12-22 05:11] caisq commented on #755
@demohi At the risk of asking too much, I wonder whether you could try running the same code but from a Python file (or reset the stay of the CoLab kernel and run the code from scratching, making sure that each code block is run only once.) I expect the name mismatch to disappear in those cases.

Again, don't feel obliged to try that. But if you do have time to try it and let me know, it would be

[2018-12-22 10:10] rumschuettel commented on #716
Any news on this? Even if compute shaders will only be part of WebGL 2.1, it would seem mature to move shaders over prior to that so that developers can use nightly builds of browsers to develop their models such that they're ready once it becomes officially part.

Here are some relevant links:
https://www.khronos.org/blog/webgl-2.0-arrives
https://news.ycombinator.com/item?id=8791056
https://bugz

[2018-12-22 14:59] toddpi314 commented on #495
@davidsoergel Any docs on usage of the pass-through handler?

[2018-12-22 19:25] Hellomik2002 opened #1052 "some problems with installing @tensorflow/tfjs-node"
* Downloading libtensorflow
[==============================] 2897454/bps 100% 0.0s
* Building TensorFlow Node.js bindings
C:\Users\Hellomik\Desktop\exxa\node_modules\@tensorflow\tfjs-node\scripts\install.js:176
      throw new Error('node-gyp rebuild failed with: ' + err);
      ^

Error: node-gyp rebuild failed with: Error: Command failed: node-gyp rebuild
Traceback (most recent call last):
  Fil

[2018-12-22 19:29] #1052 closed, assigned to nobody

[2018-12-22 19:43] nsthorat commented on #1047
We should think hard this because we know about serious precision / representation issues with f16. I agree it should at least be a flag a user can flip (via a public API).

[2018-12-23 01:11] karelp commented on #455
Hi @pyu10055 @tafsiri , I've encountered this issue as well with tfjs 0.14.1. The problem seem to be pooling layers and/or strides on the webgl backend. As soon as I use a strided convolution or max pooling in my Keras model, the output of the pooling layer gets cut in half just as shown in the screenshots of OP. The result of the bottom half has a uniform value for each channel, however the concr

[2018-12-23 02:59] nkreeger commented on #716
This is a topic we're going to be looking at more in 2019. We can bootstrap Compute shaders using the [node-gles](https://github.com/google/node-gles) package (not yet published) today but we haven't had cycles for it yet.

[2018-12-23 20:43] mmmaks2004 commented on #841
vergilijus,  thanks, this solved my problem

[2018-12-24 01:08] ekchatzi-pointr commented on #755
I am facing the same issue, model loads fine in python but fails to load in the browser due to mismatched names. However, inspecting the original .h5 file (which is used as input to `tensorflowjs_converter`) reveals that on the top of the file where there is some json, the names are as they were originally in python (`lstm, dense, dense_1`) but suffixed later on on what seems to be the weights def

[2018-12-24 16:18] iacovlev-pavel opened #1053 "Updated @tensorflow/tfjs-node-gpu from 0.1.21 to 0.2.1 got: Cannot read property 'name' of null."
#### TensorFlow.js version
0.2.1

#### Browser version
N/A

#### Describe the problem or feature request
upon running the following code:
[code]

I get the following error:
[code]

The model is based on `faster_rcnn_inception_v2_coco`

With @tensorflow/tfjs-node-gpu@0.1.21 everything works as expected.

[2018-12-24 16:28] iacovlev-pavel opened #1054 "Node.js bindings don't properly locate GPU libraries under Electron"
#### TensorFlow.js version
0.2.1

#### Browser version
N/A

#### Describe the problem or feature request
[code]

#### Code to reproduce the bug / link to feature request
[code]

If I copy the contents of
`node_modules\@tensorflow\tfjs-node-gpu\build\Release`
to
`node_modules\@tensorflow\tfjs-node-gpu\deps\lib`
before running `electron-rebuild` it properly recompiles tfjs-node-gpu for electron.

[2018-12-25 02:48] GreyZzzzzzXh opened #1055 "DimRoundingMode doesn't work in tf.avgPool"
#### TensorFlow.js version
tfjs-core: 0.13.3

#### Browser version

#### Describe the problem or feature request
DimRoundingMode doesn't work in tf.avgPool.

#### Code to reproduce the bug / link to feature request
[code]

    at assert (tfjs@0.13.3:2)
    at computeOutputShape3D (tfjs@0.13.3:2)
    at getPadAndOutInfo (tfjs@0.13.3:2)
    at computeConv2DInfo (tfjs@0.13.3:2)
    at computePool2DIn

[2018-12-25 02:54] GreyZzzzzzXh commented on #1055
root cause:
https://github.com/tensorflow/tfjs-core/blob/bb0a830b3bda1461327f083ceb3f889117209db2/src/ops/pool.ts#L184

should be
[code]

[2018-12-25 14:37] wangtz commented on #955
+1 on this bug

I tried both Chrome on Pixel and Safari on IOS on portrait mode, none of them works due to the overlay placement issue. However everything seem to work fine on landscape mode.

[2018-12-25 14:37] wangtz commented on #955
@huan

[2018-12-25 14:47] wangtz commented on #955
Also this demo doesn't work on Chrome for IPhone. Error message:

his browser does not support video capture,or this device does not have a camera

@airlrj

[2018-12-26 07:57] huan commented on #955
I have a Pixel 2 XL and it seems that run this demo in chrome browser will have trouble when the phone in horizontal:

![image](https://user-images.githubusercontent.com/1361891/50437889-a3060a00-0926-11e9-981b-ae99353b8ca7.png)

But it works perfectly when the phone in vertical:

![image](https://user-images.githubusercontent.com/1361891/50437897-ab5e4500-0926-11e9-8c0e-0dab1223a134.png)

[2018-12-26 16:57] oveddan commented on #955
Thanks for reporting.  I'll take a look.

As far as chrome on ios - we haven't supported this on the demos because as far as I understand it is not possible to access the camera in chrome on ios.

[2018-12-26 19:10] dsherret opened #1056 "tensorflowjs_converter - Cannot convert to keras when kernelInitializer in conv2d setup is string value"
#### TensorFlow.js version

0.14.2

#### Describe the problem

When providing a string value to `kernelInitializer` of `"varianceScaling"` to `conv2d`:

[code]

The saved `model.json` will have the following for the kernel initializer:

[code]

This leads to the following error when converting the model (`tensorflowjs_converter --input_format tensorflowjs --output_format keras model/model.json mod

[2018-12-26 21:08] annxingyuan opened #1057 "Log tensor creation in benchmarking page"
It should be possible to see the number of tensors in play for each run in order to spot memory leaks.

[2018-12-26 21:52] kangyizhang commented on #1046
Even with `tf.data.array(tensors)` calling `.clone()` on each tensor internally, the created dataset still could only be iterated once, though user-owned tensors are separated. This disables multiple epoches with `model.fitDataset()`.

[2018-12-27 05:40] oveddan commented on #955
@huan @wangtz I've made a quick fix for safari ios, as well as all mobile.

* The text at the bottom is responsive and doesn't appear on mobile.
* The rendered video has the same size as the captured video.  This allows for full screen on mobile and gets rid of the bug you reported.

Can you please test?  Particularly on Android?  I tried on the IPhone XR and it works fine now.

In the future I wa

[2018-12-27 13:06] karthee320 commented on #572
@rytrose : have you tried the multi pose decoding functionality in python?

[2018-12-27 14:55] rytrose commented on #572
@karthee320 I have not, unfortunately, it wasn't needed for my application. :/

[2018-12-27 16:21] #1043 closed

[2018-12-27 17:45] oveddan commented on #892
This can be closed - it was merged in (PR 104)[https://github.com/tensorflow/tfjs-models/pull/104].

[2018-12-27 17:47] oveddan commented on #891
This was fixed with PR https://github.com/tensorflow/tfjs-models/pull/124.

I didn't see the above recommended solution when doing the fix...but my fix achieves a similar result by applying a gaussian blur to the segmentation output before applying it to crop the background in the bokeh effect.

The above would certainly be good but would just require changing the API and having it return float va

[2018-12-28 02:39] tylerzhu-github commented on #891
Yes i think we can add a flag in the BodyPix function call to let a user determine what output type we want to return. e.g. use_float_segmentation=True (default False). This way it can be a bit more flexible. What do you think? I have a feeling that combining soft alpha mask and edge blur you have implemented would give us the optimal bokeh effect.

[2018-12-28 03:54] wangtz commented on #955
@huan Huan, do you want to give it a try?

[2018-12-28 07:49] huan commented on #955
I still have the same issue on my pixel 2 XL woth chrome in vertical mode.

[2018-12-28 09:38] jarno-r opened #1058 "QR-decomposition fails on a specific matrix."
To get help from the community, check out our [Google group](https://groups.google.com/a/tensorflow.org/forum/#!forum/tfjs).

#### TensorFlow.js version
0.14.1

#### Browser version
Node.js v8.12.0 without tfjs-node.

#### Describe the problem or feature request
QR decomposition returns NaNs for the invertible matrix [[0,2,2],[1,1,1],[0,1,2]], but works for some other matrices.

#### Code to repro

[2018-12-28 11:57] jarno-r commented on #1058
The bug is in linalg_ops.ts:214: `const s = rjj.sign().neg() as Tensor2D;`
The `sign()` function returns 0 for a zero value.
It could be fixed like this:

    const sPre = rjj.sign().neg() as Tensor2D;
    const s = sPre.where(sPre.notEqual(tensor2d([[0]])), tensor2d([[1]]));

[2018-12-28 17:14] bileschi commented on #1034
Obviously just my opinion, but I think we should add that functionality.  Would it be hard?  The data API is mostly class/instance methods on the Dataset object.  There is little discoverability / navigability without presence on the left hand panel.

[2018-12-28 18:14] caisq commented on #1058
@jarno-r Do you want to send us a PR (to https://github.com/tensorflow/tfjs-core) to fix the issue?

[2018-12-29 00:50] Mwni commented on #711
None of the above worked for me.
However: Watch out which MSBuild.exe is actually being used by gyp. I had Visual Studio Community installed next to the Build Tools and gyp always used the one of the community version.
`C:\Program Files (x86)\Microsoft Visual Studio\2017\Community\MSBuild\15.0\Bin\MSBuild.exe` instead of `C:\Program Files (x86)\Microsoft Visual Studio\2017\BuildTools\MSBuild\15.0\

[2018-12-29 17:36] #996 closed

[2018-12-29 22:17] oveddan commented on #891
@tylerzhu-github I want to avoid having a flag that changes the return type because that will may add confusion for people and it adds more to document.   I'm wondering if just returning the float values from the API makes sense - and not doing the segmentation threshold in the api.  Since users are going to be calling methods that convert the output to a mask, using the method `toMaskImageData` (

[2018-12-30 01:10] tylerzhu-github commented on #891
Thanks for the explanations Dan! Will let Daniel and Nikhil make the final call.
Your suggested API changes (returning float type instance mask and moving binary thresholding to `toMaskImageData` function) makes sense.
In terms of the inconsistency between instance mask and body part masks after this change, we could  leave it as is or return each body part mask as a separate instance mask (array

[2018-12-30 02:14] oveddan commented on #955
Sorry I forgot to give you the link to the demo with the fix, try going here:
https://body-pix-mobile-fix.netlify.com/

[2018-12-30 02:55] huan commented on #955
With your new link, the vertical is ok but the horizontal comes with issue that the canvas position is not right.

[2018-12-30 03:00] oveddan commented on #955
@huan the same issue that happened before for vertical?  Can you include a screenshot?

[2018-12-30 19:40] tomitheninja opened #1059 "Multiple file:// handlers when using GPU"
To get help from the community, check out our [Google group](https://groups.google.com/a/tensorflow.org/forum/#!forum/tfjs).

#### TensorFlow.js version
0.2.1
#### Browser version
node v10.15.0
node v11.5.0
#### Describe the problem or feature request
Loading both **tfjs-node** and **tfjs-node-gpu** makes model saving fail

It works fine when I don't include tfjs-node-gpu
I'm using NodeJS's builti

[2018-12-30 20:19] caisq commented on #1059
@tomitheninja Can you show the code you use to import the libraries?

[2018-12-30 20:52] caisq commented on #1059
@tomitheninja Thanks. From these lines (https://gist.github.com/tomitheninja/7272fd3baf7bfd26ea8292872e2ab0d5#file-index-js-L10), it seems to me that it's possible that you've imported both @tensorflow/tfjs-node and @tensorflow/tfjs-node-gpu. This may have caused the file:// save handler to be registered twice. Can you make sure that only one of the two said libraries is imported?

[2018-12-30 21:01] tomitheninja commented on #1059
@caisq Thanks i thought i need to include both of them, because when i tried to use only gpu, it took ~30 secs to train a 10 element array, so i taught it stopped working so i killed it. 30 sec is probably because i have a huge model.

Thank you for the help

[2018-12-30 21:01] #1059 closed

[2018-12-30 21:19] caisq commented on #489
This is now fixed in the latest release (0.2.1) of @tensorflow/tfjs-node and @tensorflow/tfjs-node-gpu

[2018-12-30 21:19] #489 closed

[2018-12-31 00:54] oveddan commented on #955
I've been working on an improved responsive version of the demo.  It may have fixed the issues. Could you check the latest at:
https://body-pix-mobile-fix.netlify.com/

[2019-01-02 07:18] jarno-r commented on #1058
PR: https://github.com/tensorflow/tfjs-core/pull/1472

[2019-01-02 07:56] jarno-r commented on #1058
PR: https://github.com/tensorflow/tfjs-core/pull/1473

[2019-01-02 12:53] bileschi commented on #1055
Thanks for the clear bug report @GreyZzzzzzXh !  Is this something you would be interested in preparing a pull request for?

[2019-01-02 14:17] amr-elsehemy commented on #841
I'm facing the same problem now.
I've a custom trained model based on mobileNET SSD which works perfectly with python,
I converted it with the tensorflowjs_converter, conversion succeeds, but when I try to test it using tensorflow nodejs and call await model.executeAsync(MY_INPUT), it fails with the the same error above,

appreciate if someone can explain why this error happens and what's the prop

[2019-01-02 15:01] mmmaks2004 commented on #841
amr-elsehemy, This link might be helpful: https://stackoverflow.com/questions/53675183/error-in-concat1d-rank-of-tensors23-must-be-the-same-as-the-rank-of-the-rest/53848092#53848092

[2019-01-02 15:15] #1037 closed

[2019-01-02 15:20] bileschi commented on #1053
There was an issue not to long ago dealing with underspecification of model formats.  That is my first suspicion.  Can you append your model (no need to append the weights for now, if they are very large.

[2019-01-02 16:16] tafsiri commented on #1034
I don't think it would be too hard. I'll look into it to at least give a lay of the land if not directly implement it.

[2019-01-02 16:43] GreyZzzzzzXh commented on #1055
Sounds great.

PR: tensorflow/tfjs-core#1474.

[2019-01-02 16:54] dsmilkov opened #1060 "Fix Keras deserialization when using TF eager mode"
When enabling eager mode in the benchmark page (https://github.com/tensorflow/tfjs-layers/pull/396), some params of the mobilenet model get serialized as `{"type": "ndarray", "value": 6.0}` which tf.js deserialization doesn't understand.

To reproduce, run the benchmarks in layers after https://github.com/tensorflow/tfjs-layers/pull/396 gets in, and open browser console to see the error.

[2019-01-02 17:19] bileschi commented on #1034
Thanks :)

On Wed, Jan 2, 2019 at 11:16 AM Yannick Assogba <notifications@github.com>
wrote:

--
Stan Bileschi Ph.D.  |   SWE  |  bileschi@google.com |  617-230-8081

[2019-01-02 18:19] dsmilkov commented on #1046
Can you call clone() upon the creation of a new iterator() from an Array-backed dataset? This way multiple iterations should be fine.

[2019-01-02 18:38] #1055 closed

[2019-01-02 18:39] #863 closed

[2019-01-02 18:40] bileschi commented on #1054
@nkreeger  is this a bug in tfjs-node?  Is it a missing feature? If neither, please direct to the appropriate stakeholder, or me if it is unclear.  Thanks!

[2019-01-02 23:51] MikeHeald opened #1062 "Scaling images results in values being clipped to zero"
Update:
I tried this on another windows machine and it worked without issues. So, this might be an issue specific to my machine if no one else can replicate.

#### TensorFlow.js version
0.14.1
It looks like this bug was introduced from 0.13.1 -> 0.13.2.

#### Browser version
Chrome and Firefox for Windows 10 (Other operating systems seem to work as expected)

#### Describe the problem or feature r

[2019-01-03 01:34] MikeHeald commented on #1062
I tried this on some other devices and was unable to replicate the issue. I think it's safe to say this is an issue specific to my working laptop, caused by something outside of tfjs. I'll go ahead and close this issue, sorry for any inconvenience.

[2019-01-03 01:34] #1062 closed

[2019-01-03 02:43] zboldyga opened #1063 "Request to implement correlation layer"
#### Describe the problem or feature request
A novel correlation layer is introduced in the FlowNet paper: https://arxiv.org/abs/1504.06852. This layer has been implemented in a pull request and it sounds like this will be added to Tensorflow/addons soon:

https://github.com/tensorflow/tensorflow/issues/11956
https://github.com/tensorflow/tensorflow/pull/21392

I am familiar with the mechanics of

[2019-01-03 07:19] iacovlev-pavel commented on #1053
I hope this is what is needed, I did not include the shards since they are 180mb.
[model.zip](https://github.com/tensorflow/tfjs/files/2722928/model.zip)

[2019-01-03 15:53] dsmilkov opened #1064 "tfjs-vis 0.4.0 charts are broken on boston-housing example"
Charts are broken in tfjs-vis 0.4.0. To reproduce: clone tfjs-examples/boston-housing, yarn && yarn watch, click "Train Linear Regression" and see console for error.

[2019-01-03 15:54] dsmilkov commented on #1064
The stacktrace comes from vega-lite:

logger.js:3 ERROR TypeError: Cannot read property 'group' of undefined
    at Object.eval (eval at expression (expression.js:9), <anonymous>:3:49)
    at Encode.js:47
    at Array.forEach (<anonymous>)
    at _default (visitArray.js:9)
    at Pulse.prototype.visit (Pulse.js:378)
    at Encode.prototype.transform (Encode.js:45)
    at Encode.prototype.evaluate

[2019-01-03 18:16] FarhanMS123 opened #1065 "Error: node-gyp; ./Release/libtensorflow.so: file not recognized: File format not recognized"
#### TensorFlow.js version
`@tensorflow/tfjs-node@0.2.1`

#### Linux Version
[code]

#### Node Version
[code]

#### Describe the problem or feature request
While i installed tfjs-node package in rpi as global package with npm, i got that `./Release/libtensorflow.so: file not recognized: File format not recognized` by `node-gyp rebuild` command. How could i fixed it?

Here are the full log \:
[code

[2019-01-03 21:11] nsthorat commented on #961
Do you still see this error in version 0.14.1? I think this should be fixed.

[2019-01-03 22:15] caisq opened #1066 "Model.fit(): More aggressively push data() await calls to the end to keep GPU busy"

[2019-01-03 22:16] caisq commented on #1066
cc @dsmilkov

[2019-01-03 22:34] bileschi opened #1067 "tf.data.csv("BAD_URL").forEach iterates over the lines of index.html"
To get help from the community, check out our [Google group](https://groups.google.com/a/tensorflow.org/forum/#!forum/tfjs).

#### TensorFlow.js version
tfjs: "0.14.0"
tfjs-converter: "0.7.0"
tfjs-core: "0.14.0"
tfjs-data: "0.1.4"
tfjs-layers: "0.9.0"

#### Browser version
72.0.3626.28 (Official Build) beta (64-bit)

#### Describe the problem or feature request
Iterating over a tfjs-data built fro

[2019-01-03 22:36] bileschi commented on #1067
Example branch exhibiting behavior here:
https://github.com/tensorflow/tfjs-examples/tree/data-csv

[2019-01-04 05:09] rwightman commented on #572
@karthee320 @rytrose I ported the multi-pose version to Python over the holidays. Just posted the repo. Seems to be doing something sane but I have not done extensive verification yet.

https://github.com/rwightman/posenet-python

[2019-01-04 14:18] FarhanMS123 commented on #1065
How could I fixed all of this bug .\_.
Should I make a question on stackoverflow or make an issue on node/node-gyp?
.\_.

[2019-01-04 16:20] bileschi commented on #1067
sorry, meant cc @davidsoergel @kangyizhang , not assign.

[2019-01-04 18:45] dsmilkov commented on #1066
Thanks! Few notes:

- When `yieldEvery: 'never'`, no await should happen at both batch and epoch level. The fit() should freeze until everything is done.
- When `yieldEvery: 'batch'`, no await should happen at every epoch since it leads to double yielding when a new epoch starts.
- When `yieldEvery: 'epoch'`, no await happens on batch.
- When `yieldEvery: 'auto'`, make sure no double yielding happ

[2019-01-04 19:49] #1064 closed

[2019-01-04 21:34] #1034 closed

[2019-01-06 05:10] xianrenb commented on #510
From the above, I think the problem may be related to precision. The actual precision of Intel GPU may be worse than 5/1000.

I am an Intel GPU user.
I think this issue is critical to me and other Intel GPU users.
Without fixing this issue, TensorFlow.js is almost unusable.

[2019-01-06 20:05] JulianDietz commented on #272
is there any workaround ?

[2019-01-07 07:42] Frankdog opened #1069 "depthToSpace dataformat comparison not conside about lower case letters may raise exception when use pretrained model by python"
To get help from the community, check out our [Google group](https://groups.google.com/a/tensorflow.org/forum/#!forum/tfjs).

#### TensorFlow.js version
in html
[code]

converter
[code]

#### Browser version
chrome Version 71.0.3578.98 (Official Build) (64-bit)

#### Describe the problem or feature request

function depthToSpace_
[code]
**the compare does not consider about lower case letters.**

[2019-01-07 14:06] bileschi opened #1070 "Should tf.oneHot be available as a chainable op?"
To get help from the community, check out our [Google group](https://groups.google.com/a/tensorflow.org/forum/#!forum/tfjs).

#### TensorFlow.js version
tfjs: "0.14.1"
tfjs-converter: "0.7.1"
tfjs-core: "0.14.2"
tfjs-data: "0.1.4"
tfjs-layers: "0.9.1"

#### Browser version
irrelevant

#### Describe the problem or feature request

Converting to onehot works like this:
oneHotRep = tf.oneHot(indexRep

[2019-01-07 14:06] bileschi commented on #1070
cc @dsmilkov thoughts?

[2019-01-07 14:15] bileschi commented on #1046
Is this fixed?

[2019-01-07 15:59] bileschi opened #1071 "Tensor disposal issue using tfjs-data"
To get help from the community, check out our [Google group](https://groups.google.com/a/tensorflow.org/forum/#!forum/tfjs).

#### TensorFlow.js version
tfjs: "0.14.1"
tfjs-converter: "0.7.1"
tfjs-core: "0.14.2"
tfjs-data: "0.1.4"
tfjs-layers: "0.9.1"

#### Browser version
Chrome : 72.0.3626.28

#### Describe the problem or feature request
In brief, code like the following
[code]
Throws a tensor d

[2019-01-07 16:01] bileschi commented on #1071
Compare to branch `fork-iris` for a condensed view of the changes yielding the issue at hand.

![image](https://user-images.githubusercontent.com/547150/50778271-872a2e80-126b-11e9-9abc-553785238306.png)

[2019-01-07 18:04] kangyizhang commented on #1046
Yes this is fixed.

[2019-01-07 18:22] dsmilkov commented on #1070
+1. Want to take this on? Or we can label it as "contribution welcome".

[2019-01-07 18:42] bileschi commented on #1070
I can not prioritize this in the near future.  Labeled "contribution welcome" for now.

[2019-01-07 19:14] #629 closed

[2019-01-07 21:21] #1066 closed

[2019-01-07 21:35] kangyizhang commented on #1071
This branch is using tfjs-data@0.1.4 which does not have the fix of https://github.com/tensorflow/tfjs/issues/1046. I just tried using yalc with current head and the dataset could be traversed multiple times.

[2019-01-07 21:35] #1071 closed

[2019-01-07 21:48] bileschi commented on #1071
oops.  Thanks!

On Mon, Jan 7, 2019 at 4:35 PM Kangyi Zhang <notifications@github.com>
wrote:

--
Stan Bileschi Ph.D.  |   SWE  |  bileschi@google.com |  617-230-8081

[2019-01-07 22:23] caisq opened #1072 "tf.prelu() has the incorrect gradient for alpha"
To get help from the community, check out our [Google group](https://groups.google.com/a/tensorflow.org/forum/#!forum/tfjs).

#### TensorFlow.js version
0.14.1

But was introduced in https://github.com/tensorflow/tfjs-core/pull/1445/files

[2019-01-07 22:23] caisq commented on #1072
cc @dsmilkov @annxingyuan

[2019-01-08 10:59] aweinmann commented on #938
Hi,
I'm having a similar problem with the following model: https://github.com/ychfan/tf_estimator_barebone/files/2502414/wdsr.zip

Inference in python works fine.

Converting also succeeds (tensorflowjs_converter --input_format=tf_saved_model --output_node_names=clip_by_value --saved_model_tags=serve . /web_model)

when predicting in js I get the following error:

    at assertAndGetBroadcastShape

[2019-01-08 15:53] caisq commented on #1072
Reassigning to @dsmilkov after offline discussion.

[2019-01-08 15:54] piercus commented on #298
I was able to make it work without canvas by using [opencv4nodejs](https://github.com/justadudewhohacks/opencv4nodejs)

[code]

[2019-01-08 20:36] AbdurRafae commented on #798
Try adding the following in the model load function call.

custom_objects={"GlorotUniform": tf.keras.initializers.glorot_uniform}

[2019-01-09 03:55] dsmilkov commented on #1032
Clone makes a shallow copy of the tensor for performance reasons.

If we do a true copy upon dataSync(), it will come at a cost of memory read/writes and increased garbage collection. We'll have to do it for the WebGL backend as well, for tensors that haven't been uploaded to GPU yet, or have recently been downloaded.

I think we should start with documenting clone() better (emphasize that it does

[2019-01-09 03:56] dsmilkov commented on #845
Thanks @DmitryRomaniuk ! Closed in https://github.com/tensorflow/tfjs-core/pull/1458

[2019-01-09 03:56] #845 closed

[2019-01-09 04:06] dsmilkov commented on #967
Are you porting an existing model using tfjs-converter? Have stopGradient in the graph is a sign that you are training related ops in the graph, but the converter only supports inference nodes. cc @pyu10055

[2019-01-09 04:15] dsmilkov commented on #767
This should be closed since https://github.com/tensorflow/tfjs-core/pull/1470 made slice work on 5d and 6d tensors for the webgl backend.

[2019-01-09 04:15] #767 closed

[2019-01-09 09:04] bertlea opened #1073 "tf.sqrt() function returns wrong value on Raspberry Pi (3B+) if backend is using "webgl""
To get help from the community, check out our [Google group](https://groups.google.com/a/tensorflow.org/forum/#!forum/tfjs).

#### TensorFlow.js version
Latest (0.14.1) and also earlier versions.
#### Browser version
Chromium 60.0 (included in latest Raspbian Stretch)
#### Describe the problem or feature request
When testing an portfolio optimization code, it works on all Intel systems but failed

[2019-01-09 15:35] nkreeger commented on #874
@justadudewhohacks Yeah some of the differences in Tensor storage binding (Python TF shares some stuff with numpy) and our high-level API Op usages is sometimes different than Python TF.

[2019-01-09 15:53] annxingyuan opened #1074 "Explore using fewer buckets for WebGL texture manager to improve texture reuse."
Relax the condition for reusing a texture to just require that it be large enough to accommodate tensor.

Also try using nearest POT textures.

This would help the Universal Sentence Encoder lite deal with inputs of different lengths.

[2019-01-09 16:00] #983 closed

[2019-01-09 16:02] #920 closed

[2019-01-09 16:22] bileschi opened #1075 "Undocumented exposed API : csvDataset.columnNames()"
To get help from the community, check out our [Google group](https://groups.google.com/a/tensorflow.org/forum/#!forum/tfjs).

#### TensorFlow.js version
tfjs: "0.14.1"
tfjs-converter: "0.7.1"
tfjs-core: "0.14.2"
tfjs-data: "0.1.5"
tfjs-layers: "0.9.1"

#### Browser version
irrelevant

#### Describe the problem or feature request
Want to know how to get the column names of a csv file.  The api is r

[2019-01-09 16:23] bileschi commented on #1075
cc: @tafsiri @kangyizhang

[2019-01-09 17:15] bileschi commented on #1075
Also unexposed is `prefetch`

[2019-01-09 21:10] TheNewSound commented on #1032
So in what other way can one achieve to sort the array / tensor without modifying the original tensor?

Use a variable tensor and `clone()` it? As variable tensors are regarded as _mutable_, the expected output of `clone()` on a variable tensor should be a deep clone?

[2019-01-09 22:58] dsmilkov commented on #1032
Slice the TypedArray using [TypedArray.slice()](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/TypedArray/slice).

In this case:
[code]

[2019-01-10 06:01] nkreeger opened #1077 "@tensorflow/tfjs 0.14.2 invalid maxPool and avgPool tests for TensorFlow backend"
Running with latest `@tensorflow/tfjs` 0.14.2 - I see the following exceptions with `avgPool` and `maxPool` ops:

[code]

I'll add to the whitelist for now - but we should probably clean this up in core tests.

[2019-01-10 08:41] shubham-chhimpa commented on #711
2149 silly saveTree     `-- semver@5.6.0
2150 warn examples-nodejs No description
2151 warn examples-nodejs No repository field.
2152 verbose stack Error: @tensorflow/tfjs-node@0.1.19 install: `node scripts/install.js`
2152 verbose stack Exit status 1
2152 verbose stack     at EventEmitter.<anonymous> (C:\Program Files\nodejs\node_modules\npm\node_modules\npm-lifecycle\index.js:301:16)
2152 verbos

[2019-01-10 11:07] ethanluoyc opened #1078 "New Ops: Cholesky decomposition"
Hi!

I am trying to write an operator for computing Cholesky decomposition (and gradients).
It will roughly be based on the approach in TensorFlow (which is based on https://homepages.inf.ed.ac.uk/imurray2/pub/16choldiff/choldiff.pdf). I am half way through and
have created a PR https://github.com/tensorflow/tfjs-core/pull/1492 but I think I need some help with a few details for implementing it. I

[2019-01-10 12:19] yiifanLu opened #1079 "why i can't load tensorflow model use tf.loadFrozenModel in tensorflowjs"
To get help from the community, check out our [Google group](https://groups.google.com/a/tensorflow.org/forum/#!forum/tfjs).

#### TensorFlow.js version
0.14
#### Browser version
Google Chrome ： 69.0.3497.100
#### Describe the problem or feature request
I first train the model in tensorflow，and I saved the model use tf.saved_model.simple_save.I was succeed converting to the tensorflowjs，but I cant

[2019-01-10 12:20] yiifanLu commented on #1079
Whether the parameters will cause the load to fail, because I found that I can load when I only use a few parameters.

[2019-01-10 16:35] caisq opened #1080 "tf.layers.globalMaxPool1d() does not allow no-arg calls"
To get help from the community, check out our [Google group](https://groups.google.com/a/tensorflow.org/forum/#!forum/tfjs).

#### TensorFlow.js version
0.14.2

[2019-01-10 19:46] davidsoergel opened #1081 "Layers initializers.ts missing HeUniform and LeCunUniform"
We provide 4 of the 6 VarianceScaling special cases listed at https://keras.io/initializers.  Should we add the last two?

[2019-01-10 19:50] davidsoergel opened #1082 "Stronger types for Keras JSON serialization/deserialization in tfjs-layers"
With the addition of src/keras_format in tfjs-layers, we now have the opportunity to tighten up the types used in serialization & deserialization so that they're not just PyJsonDict and ConfigDict everywhere.

[2019-01-10 21:05] nkreeger opened #1083 "Unstack op should handle axis >= tensor shape dimension"
Python TensorFlow API protects calls with bad axis arguments into unstack. We should do the same here in the core API.

I introduced a check for that in the Node.js bindings - https://github.com/tensorflow/tfjs-node/pull/192 - but this check needs to be pushed up into core.

[2019-01-10 22:00] caisq opened #1084 "tf.layers.bidirectional() should not require caller to specify mergeMode"
#### TensorFlow.js version
0.14.2

Instead, it should default to the `concat` mergeModel

[2019-01-11 00:30] nkreeger opened #1085 "Local dev setups of tfjs-node should auto-clean deps"
When working on `@tensorflow/tfjs-node` a dependency library is symlinked to the build folder of node-gyp. This works fine until there is an update we ship to libtensorflow. Ideally, we'll keep a hash and check if the deps should be updated when running `yarn`.

[2019-01-11 17:05] caisq opened #1087 "Feature request: EarlyStopping callback for Model.fit() and Model.fitDataset()"
#### TensorFlow.js version
0.14.2

[2019-01-11 18:14] #1083 closed

[2019-01-11 23:32] caisq opened #1088 "tfjs-node-gpu@0.2.3 doesn't make use of GPU when multiple GPUs are present"
#### TensorFlow.js version
tfjs-node-gpu 0.2.3

When calling Model.fit() (e.g., in the mnist-node example in tfjs-node) while depending tfjs-node-gpu, nvidia-smi shows 0% GPU volatile usage and baseline memory usage. The training speed appears to be identical to tfjs-node.

[2019-01-12 00:13] raj-sivakumar commented on #550
I'm having the same error currently. Have tried both those versions and the latest versions of tensorflowjs(python) and tfjs(JS packages).

[2019-01-12 21:59] Comestibles opened #1089 "Tensor flow js model upload to Google Cloud Storage"
To get help from the community, check out our [Google group](https://groups.google.com/a/tensorflow.org/forum/#!forum/tfjs).

#### TensorFlow.js version
Latest version
#### Browser version
Chrome
#### Describe the problem or feature request
Can't upload my saved model to Google cloud storage keep getting error 408 bad request while using upload type multipart
#### Code to reproduce the bug / link

[2019-01-13 02:47] #1081 closed

[2019-01-13 18:38] #1080 closed

[2019-01-14 08:38] JWSunny commented on #924
@YajJackson hello, when i use the tfjs loadfrozenmodel，i have the same problem: RangeError: byte length of Float32Array should be a multiple of 4, the statue is 200 and i alse use the parceljs, but also have the mistake, can you have any other suggestions? thanks

[2019-01-14 08:39] JWSunny commented on #924
@YajJackson
![image](https://user-images.githubusercontent.com/29625315/51102702-f0d1ac00-181a-11e9-9833-3a05642ee1c1.png)

[2019-01-14 08:47] JWSunny opened #1090 "fail to use loadfrozenmodel"
when i use loadfrozenmodel function load my pb and json file about ssd demo, i have the the problem: RangeError: byte length of Float32Array should be a multiple of 4, the statue is 200 and i use the parceljs as the http server.
I also have the mistake; and when i download the demo https://github.com/tensorflow/tfjs-converter/tree/master/demo/ssd ,and download the pb and json file, upload them fro

[2019-01-14 15:02] caisq commented on #924
I find it surprising that the weight shard files (group1*) have a size of
1.4 KB. They should be about 4 MB (except the last one), because that's the
default shard size. So it appears that they somehow got the wrong content.

On Mon, Jan 14, 2019 at 3:39 AM sunny <notifications@github.com> wrote:

--
---
Shanqing Cai
Software Engineer
Google
cais@google.com

[2019-01-14 19:00] caisq opened #1092 "tfjs-node@0.2.3: tsc compilation error"
Might be related to: https://github.com/tensorflow/tfjs-node/pull/187/

When @tensorflow-models/speech-commands links against lastest tfjs-node: 0.2.3, the following error is seen:

[2019-01-14 19:38] pyu10055 commented on #1079
There is a SO thread on this, https://stackoverflow.com/questions/54143715/why-cant-i-load-tensorflow-model-using-tf-loadfrozenmodel-in-tensorflowjs

[2019-01-14 19:38] #1079 closed

[2019-01-14 19:55] pyu10055 commented on #954
@suyash can you try again, with the support of high rank indices for gapther op, your model should work now.

[2019-01-15 03:02] suyash commented on #954
@pyu10055 I have verified this to work on the given test case as well as for a model with `tf.contrib.rnn.stack_bidirectional_dynamic_rnn` by building both core and tfjs from source. Looking forward to the next release.

[2019-01-15 03:02] #954 closed

[2019-01-15 08:06] rix0rrr opened #1093 "ReLU and LeakyReLU activations cannot be saved/loaded from model.json"
#### TensorFlow.js version

[code]

#### Browser version

N/A

#### Describe the problem or feature request

I've tried building a model with leaky relu activation functions. I *must* spell this as:

[code]

Otherwise it will not be picked up. When I save the model (using `model.save()`) the activation function gets serialized to model.json as `"leaky_re_lu"`.

When I try to read the model again,

[2019-01-15 09:06] ujeanBal opened #1094 "mask r-cnn not support"
Hi, everyone. I want to use https://github.com/matterport/Mask_RCNN/ but in browser.
So I:
1. download mask_rcnn_balloon.h5 from matterport releases.
2. in jupyter notebook instead of model.keras_model.save_weights(model_path), i call model.keras_model.save(model_path) - to save whole model (not only weights).
3. convert to model.json (with graphs) through tensorflowjs_converter.

And try to load

[2019-01-15 16:09] nsthorat commented on #1092
package.json:

[code]

index.js:
[code]

When I run:
`./node_modules/.bin/ts-node index.ts`
I get the the following output successfully:
[code]

[2019-01-15 16:09] nsthorat commented on #1092
Do you maybe have some broken linked packages?

[2019-01-15 16:35] piercus commented on #995
I'm facing the same issue.

I have tested this on 0.9.2

Case 3
[code]
is not fixed

Looking to the code, it seems that tensorflow/tfjs-layers#402 is part of 0.9.2

@caisq should we repoen this ?

Thank you for your help

[2019-01-15 20:00] raj-sivakumar opened #1095 "Feature Request: Add the ability to control how many shards are produced with tfjs-converter"
To get help from the community, check out our [Google group](https://groups.google.com/a/tensorflow.org/forum/#!forum/tfjs).

#### TensorFlow.js version
"@tensorflow/tfjs-converter": "0.7.2",
"@tensorflow/tfjs-core": "0.14.5",
"@tensorflow/tfjs-data": "0.1.7",
"@tensorflow/tfjs-layers": "0.9.2"
python tensorflowjs==0.14.2
#### Browser version
Chrome 71.0.3578.98

#### Describe the problem or featu

[2019-01-15 20:09] caisq opened #1096 "tf.Model.evaluateDataset() errors out when no option argument is provided."
#### TensorFlow.js version
0.14.2

Currently, you can't do `model.fitDataset(dataset)`, you have to provide an empty config object as the second arg: `model.fitDataset(dataset, {})`. The first case should work, if dataset provides a `done` signal to indicate the end of the iterations.

[2019-01-15 20:09] caisq commented on #1096
cc @kangyizhang

[2019-01-16 01:53] caisq commented on #924
Can you the the following workaround:
* Rename the weight shard files so that they can have extension names,
e.g., group*.bin
* Modify the `weightsManifest` part of the JSON in the model.json file to
reflect the name changes in the weight shard files.

Feel free to file an issue at https://github.com/tensorflow/tfjs/issues for
us to add an extension name to the weight files.

On Tue, Jan 15, 2019

[2019-01-16 02:44] JWSunny commented on #924
@caisq i rename the group* file as group*.bin and modify the key of "path" in the json, but failed, because the parcel use the require("weightsManifest.json") and return the file path is weightsManifest.(hash value).json, so the new path of group*.bin is group*.(hash value).bin。
![image](https://user-images.githubusercontent.com/29625315/51223155-b59abe80-197b-11e9-928a-ea1f7cab50e3.png)

[2019-01-16 02:48] caisq commented on #924
Have you tried this parcel plugin?
https://www.npmjs.com/package/parcel-plugin-static-files-copy

It can copy files into the dist/ folder without adding the hash string to
the file name.

On Tue, Jan 15, 2019 at 9:44 PM sunny <notifications@github.com> wrote:

--
---
Shanqing Cai
Software Engineer
Google
cais@google.com

[2019-01-16 12:07] steviejsutanto opened #1098 "Installation works for tfjs-node but failed for tfjs-node-gpu"
I got this error when installing `npm i @tensorflow/tfjs-node-gpu` that some people have also gotten. I've tried the solutions that worked for most people, but still nothing worked for me.

I tried `npm i -g --production windows-build-tools`  , also locally. I tried installing windows-build-tools manually as followed from the node-gyp github page.

I tried to install the CPU (`npm i @tensorflow/tf

[2019-01-16 14:05] happy-machine commented on #739
Hi i'm getting the same error here in 2019! Would appreciate some help, about to go into production

Thanks!

Dan

To get help from the community, check out our [Google group](https://groups.google.com/a/tensorflow.org/forum/#!forum/tfjs).

#### TensorFlow.js version
TFJS core:  "version": "0.13.11"
TFJS layers: "version": "0.8.5"
TFJS node: "version": "0.1.21"

#### Browser version
non applicable

[2019-01-16 16:34] dsmilkov commented on #739
cc @nkreeger . Have you tried removing node_modules, and re-running yarn/npm to re-install the tfjs-node dependency? Looks like the TF C++ library is missing in node_modules/.

[2019-01-16 16:42] dsmilkov commented on #995
model.dispose() will internally call model.optimizer.dispose() if the optimizer is not owned by the user. The optimizer is not owned if the user passed a string (e.g. `sgd`) when calling model.compile().

[2019-01-16 16:59] happy-machine commented on #739
Hey .. that nailed it thanks, reinstalled tfjs-node, all working fine now : )

[2019-01-16 20:20] dsmilkov opened #1099 "Support for FIFOQueue"
Currently we fail to convert a TF Model if the model has a `FIFOQueue`.

We should investigate which models use `FIFOQueue` and whether queues make sense during inference time, or only for training.

Two paths for graphs with `FIFOQueue`:

1) Implement a `FIFOQueue` and make the model stateful so that executing an "enqueue" or "dequeue" node modifies the state of the graph. This solution is techni

[2019-01-16 21:38] bileschi commented on #1094
Hi @ujeanBal ,

Thanks for your question.
There is already an implementation of the BatchNormalization layer, assuming that is the same as the BatchNorm layer, here :+1: https://js.tensorflow.org/api/0.14.1/#layers.batchNormalization

Lambda layers, as currently implemented in python keras, are layers which run python code directly.  This can not be made to work in JS, because of the lack of a pyt

[2019-01-16 21:38] #1094 closed

[2019-01-16 21:51] bileschi commented on #1093
@rix0rrr  Looks like we have a serialization_utils problem.  Thanks for filing!

Looks like leakyReLU might need to be special cased.

https://github.com/tensorflow/tfjs-layers/blob/11565ae1ff556bad97332fe11a64101303e5ebfd/src/utils/serialization_utils.ts#L44

https://github.com/tensorflow/tfjs-layers/blob/3d7d0d5ccf74b88960fcac461b7f885e2ba660fd/src/utils/generic_utils.ts#L122

[2019-01-16 22:36] nsthorat opened #1100 "Improve the error message when the input xs / ys or dataset output shape does not match the inputShape."
When passing a dataset shape that does not match the input shape of the model the error message is something like:

`The rank of feed (2) does not match the rank of the key (4)`.

It would be better to have a more informative error message about the input shape (removing the language of "feed").

[2019-01-16 22:56] bileschi commented on #1038
NLP has a type called "frameset" that they pointed out to us for exactly
this purpose.  Go/frameset , I think. I'm afk.  It's a one level deep map
of tensors that they found very useful.  Something to consider?

Mark O was keen on it.

On Wed, Jan 16, 2019 at 5:29 PM Nikhil Thorat <notifications@github.com>
wrote:

--
Stan Bileschi Ph.D.  |   SWE  |  bileschi@google.com |  617-230-8081

[2019-01-17 00:17] caisq opened #1101 "tfjs-node: ProgbarCallback is not registered as a default callback for Model.fitDataset()"
#### TensorFlow.js version
tfjs-node 0.2.3

[2019-01-17 14:31] gabrielglbh commented on #272
As far as I can read in this thread and in the referenced ones, loading the model from a local folder in ionic (as @hyun-yang mentioned) is still not supported when launching onto the device, but when running on localhost, it is.

Is there any progress in this issue? or if it is solved, please could you explain how to do it?

[2019-01-17 15:09] mlshapiro commented on #1092
I am experiencing the same issue:

When I clone the example tfjs-models/speech-commands it compiles fine:

[code]

but when I try to use speech-commands in a new project, I can't import it:

package.json

[code]

index.ts

[code]

trying to run `tsc` with the same tsconfig as example, I see:

[code]

I searched `tfjs` and all its imports, but I can't find `CustomCallbackConfig` anywhere.
I believe

[2019-01-17 15:12] caisq opened #1102 "tfvis.show.fitCallbacks(): fail faster and give better error messages"
#### TensorFlow.js version
tfjs-vis 0.4.2

The signature of `tfvis.show.fitCallbacks()` is somewhat complicated. instead of failing when `Model.fit()` runs, which is the current behavior and a long feedback loop, it should do the following validation in order to fail fast when the caller provides wrong arguments,
- That there are at least two arguments
- The second arg is a non-empty list of strin

[2019-01-17 15:13] caisq commented on #1092
@mlshapiro The particular errors you are seeing has been fixed at HEAD of speech-commands. Further detail: the `CustomCallbackConfig` type has been replaced with `CustomCallbackArgs`.

[2019-01-17 15:58] #1096 closed

[2019-01-17 17:40] pyu10055 opened #1103 "Align the parameters for tf.LoadModel() and tf.LoadFrozenModel()"
Current model loading APIs
[code]
Change the API name to be more specific on the model type, and share the same parameters.
[code]

[2019-01-17 18:47] Somil112 commented on #240
I have the latest version of Tensorflow.js installed and it still doesn't work. Please help.

[2019-01-18 03:13] nebrelbug commented on #805
I ran into this issue when using the `serve` NPM/Yarn package. It seems to not work well with TensorflowJS. When I used Firebase Serve, it worked great.

[2019-01-18 10:21] ShadabFaiz opened #1104 "tfjs-node support"
"@tensorflow/tfjs-node": "^0.2.3"

Scenario: FaceAPIJS is a library that make use / suggest to used tfjs-node to increase performance for image analysis. There tfjs-node works perfectly. No error or warning anything.

So i want to start learning about Tenserflow using @tenserflow/tfjs-node. Created a project. Installed @tenserflow/tfjs-node.  But here, when i try to load it, i'm getting warning:
[

[2019-01-18 11:30] karanchahal opened #1105 "WebGL development status: Prospective Contributer"
#### TensorFlow.js version
N/A
#### Browser version
N/A
#### Describe the problem or feature request

Hello, I am a GPU developer and I'm interesting in speeding up the WebGL backend of Tfjs. At what stage is the development happening currently and can someone link me in the right direction to get me started on an issue ?

#### Code to reproduce the bug / link to feature request
N/A

[2019-01-18 13:14] frpays opened #1106 "Batchnormalization is incorrect with cpu backend and channelsFirst data."
This issue has been checked in tf 14.1 and 1.3.3.

All browsers are impacted, specifically Chrome 71.

You can reproduce it in https://github.com/frpays/lc0-js.
In the Network constructor, force the cpu backend and the dataformat.

change

[code]

with

[code]

[2019-01-18 13:16] frpays commented on #1106
Preliminary tests showed that, with the cpu backend, the batchnormalization treats everything as channelsLast, ignoring the dataFormat directive.

[2019-01-18 17:26] rthadur commented on #1104
Thanks @ShadabFaiz  please refer here for similar issue raised in Stack-overflow https://stackoverflow.com/questions/47068709/your-cpu-supports-instructions-that-this-tensorflow-binary-was-not-compiled-to-u

[2019-01-18 20:44] Jacob-Baldwin commented on #799
I am using tfjs 0.14.2 and am getting `ERROR :GL_INVALID_OPERATION : glReadPixels` issue while processing a large amount of images using Chrome. My browser will slow down as a huge amount (~14GB) is allocated.

I'm not sure if this is the best place to bring this up but I was curious if there has been any more discussion on this?

Thanks so much!

[2019-01-18 21:20] jafaircl commented on #1092
I'm having the same issue as the original error using 0.2.2 and 0.2.3. Downgrading to 0.2.1 fixes the issue so it's something between 0.2.1 and 0.2.2

[2019-01-19 03:50] b862 opened #1107 "UnicodeEncodeError: 'charmap' codec can't encode characters in position 858-861: character maps to <undefined>"
To get help from the community, we encourage using Stack Overflow and the [`tesnorflow.js`](https://stackoverflow.com/questions/tagged/tensorflow.js) tag.

#### TensorFlow.js version
tfjs-node v0.2.3
#### Browser version
node v10.15.0
#### Describe the problem or feature request
install failed
#### Code to reproduce the bug / link to feature request
node-gyp v3.8.0
python v2.7.15

 throw new Error

[2019-01-19 07:44] Firenze11 opened #1108 "tf.oneHot() should support string tensors"
#### TensorFlow.js version
0.14.2

#### Describe the problem or feature request
`tf.oneHot()` should support string tensors as `indices`.
Since tensorflow supports this (https://www.tensorflow.org/api_docs/python/tf/one_hot), tfjs should support it as well for consistency.

[2019-01-19 14:06] lindner commented on #1009
Appears to be addressed by tensorflow/tfjs-data/commit/d6271bc41d6f431c34299dbe2f6cc7d9a52096c0

[2019-01-19 16:05] baggachipz commented on #1065
I've run into the same issue, Node v10.15.0, NPM v6.4.1, node-gyp v3.8.0. It should be noted that in order to get a "compatible" (e.g. recent enough) version of node, I had to install it by hand as the raspbian repos only support v6 afaik. Is there some other library missing which allows support of the .so format that node-gyp requires?

[2019-01-20 00:03] amcelroy commented on #1098
Another update: npm install --verbose @tensorflow/tfjs-node-gpu@0.2.1 works on my machine, but not 0.2.0, 0.2.2, or 0.2.3

[2019-01-20 04:18] jaxbot opened #1109 "Converted SavedModel has no input shape"
#### TensorFlow.js version
0.14.2

#### Browser version
Google Chrome | 71.0.3578.98 (Official Build) (64-bit)

#### Describe the problem or feature request
When attempting to load a converted SavedModel and use the predict or execute API, tfjs complains that my input does not match the input shape of []:

[code]

If I look at the exported SavedModel using the saved_model_cli tool, I get this:

[c

[2019-01-20 23:31] ethanluoyc opened #1110 "Support for float64?"
Is there any plan to support float64? This may be important for models that require higher precision.
For example, I was playing around with an implementation of Cholesky decomposition but I keep running into issues with numerical stability. I think having higher precision would be important for such operators.

[2019-01-21 05:42] ShadabFaiz commented on #1104
Thanks for the link. However the discussion on the link provided was related to tenserflow and not with this specific @tenserflow/tfjs-node library. Also i dont have tenserflow install globally in my system, so i dont that can be the problem.

[2019-01-21 05:54] ShadabFaiz commented on #1104
Something interesting happened jsut now. FaceApiJs suggested that i use tfjs-node like this:
[code]
and i did just that and it worked there. however, in my new project, i was trying to use it just like that only. but when i changed the import syntax to:
[code]
i'm not getting any error. Wierd but it worked.

[2019-01-21 08:20] steren opened #1111 "tf.fromPixels(img) is using width, I was expecting naturalWidth"
It seems that `tf.fromPixels(img)` is creating a Tensor of the size of the image's `width` and `height` properties, I would expect it to use the size defined by `naturalWidth` and `naturalHeight`.

Indeed, the `width` and `height` attribute of an image depend on how it is rendered on screen (potentially via CSS rules), I expect loading the pixels of an image to be independent from how it is render

[2019-01-21 11:37] wellido opened #1112 "Different result between web and nodejs"
I try to use tfjs-node and tfjs-web, but I get different results. I print my weights and the input data, it's the same, but the result is a little different.
My tfjs version:
[code]

**Part of 2 model weights:**

**tfjs-node weights:**
[code]
**tfjs-web weights**
[code]

**Part of 2 model input:**

**tfjs-node input**
[code]
**tfjs-web input**
[code]

**Part of first convolution layer output:**

*

[2019-01-21 16:32] caisq commented on #1112
@wellido What kind of model is this? Is it possible for you to share the model and the data with us so we can try reproducing the results on our end?

[2019-01-22 00:45] wellido commented on #1112
@caisq  This is my model, it's a general resnet20 model for image classification.
[code]

And data is Cifar10 test data. Just from the web
[code]

[2019-01-22 08:15] leung85 commented on #633
This is my simply implement for save an load knn and it works, hope can help anyone who need :)
[code]
[code]

[2019-01-22 13:19] bileschi opened #1113 "Add `trimWhitespace` option to `CSVConfig`"
To get help from the community, we encourage using Stack Overflow and the [`tesnorflow.js`](https://stackoverflow.com/questions/tagged/tensorflow.js) tag.

#### TensorFlow.js version
tfjs: "0.14.2"
tfjs-converter: "0.7.2"
tfjs-core: "0.14.5"
tfjs-data: "0.1.7"
tfjs-layers: "0.9.2"

#### Browser version
Google Chrome | 72.0.3626.28 (Official Build) beta (64-bit

#### Describe the problem or feature

[2019-01-22 13:31] Lewuathe commented on #1108
I'm not sure what supporting string tensor in `tf.oneHot` means. One hot encoding in TensorFlow seems to only accept numeric types.
[code]
Could you clarify the example of this problem? Because I want to work on this if I get a chance.

[2019-01-22 16:47] tafsiri opened #1114 "More clearly distinguish between ticklables and axis labels"
Following on from the discussion on https://github.com/tensorflow/tfjs-vis/pull/43. Use the [x/y]Label convention for axis labels/titles and [x/y]TickLabels convention for tick mark labels. This aligns nicely with ggplot & matplotlib.

[2019-01-22 17:14] Firenze11 commented on #1108
For example, `tf.oneHot(tf.tensor1d(['a', 'b', 'c', 'a', 'a'])).print()` should give:
[code]

[2019-01-22 18:32] kangyizhang commented on #1113
This is a sub-task of https://github.com/tensorflow/tfjs/issues/1012

[2019-01-22 18:59] caisq commented on #1107
@kangyizhang @nkreeger
This seems to be related to non-ASCII characters in the file path.

[2019-01-22 19:42] kangyizhang commented on #1107
This should be a windows specific issue.

@MrNewWorld can you try to install windows-build-tools and try again?

[2019-01-22 21:06] startupgurukul commented on #102
Hi folks now that offscreen API looks to be available (soon in FF) https://youtu.be/m0JcYPRZuUg

 looking forward to offloading computation

[2019-01-22 21:24] tafsiri opened #1115 "Set up template for tutorial"

[2019-01-22 21:24] tafsiri opened #1116 "Set up template for guide"

[2019-01-22 21:24] tafsiri opened #1117 "Set up nav structure template for tutorials"

[2019-01-22 21:24] tafsiri opened #1118 "Set up nav structure template for guides"

[2019-01-22 21:25] tafsiri opened #1119 "Set up working build"
- Should be able to preview site content in a dev server (local as well as remote staging).
- Make sure that assets (e.g. images) are served correctly.
- Document basic workflow

[2019-01-22 22:32] pyu10055 commented on #1099
@dsmilkov I think this falls into a much bigger category of support tf.data ops.
All the tf.data ops are stateful ops that cannot be removed from the graph because they have dependencies on a global state. In the case the graph only has FIFOQueueV2, QueueDequeueUpToV2 ops but no QueueEnqueue op. Because the global state can be updated outside of the graph execution and is persisted across sessions

[2019-01-23 00:06] Lewuathe commented on #1108
@Firenze11 Thanks! I'll try.

[2019-01-23 00:59] dsmilkov commented on #799
14GB is a lot of memory. Usually browsers will freeze a tab if it allocated more than 1GB. Make sure you are not leaking memory and process the data is streaming fashion (e.g. don't load all the images at once)

[2019-01-23 01:18] dsmilkov commented on #1099
I think the fundamental problem is data during inference in the browser will most likely come in a complete different way than during training. For example, during training, it makes sense to feed a dataset/queue of `TF.Example` records, which also does proto parsing, while during inference in the browser the data might be coming by taking a snapshot of the webcam.

It's too early to try to offer

[2019-01-23 05:03] nkreeger commented on #1098
Those logs have a truncated `node-gyp` log so it is hard to figure out what is going on.

Do you mind cloning the tfjs-node repo and running the following - it might give some more details:
[code]

If you don't have node-gyp - `npm install -g node-gyp`.

Also one other question - which version of CUDA/CUDNN do you have - we have strict requirements that match TensorFlow 1.12: https://www.tensorflo

[2019-01-23 05:05] nkreeger commented on #1065
We don't officially support ARM builds just yet - stay tuned hopefully we'll have something within the next week or so.

[2019-01-23 05:07] nkreeger commented on #1092
Hrm that is strange - it has references to my laptop. We'll be spinning a new build here this week or next stay tuned.

[2019-01-23 05:10] nkreeger commented on #1054
Updated the title to track this as a bug for Electron usage.

[2019-01-23 12:55] ClementVidal commented on #545
Same problem here, partially solved using @gmatt workaround.

This issue should be re opened i think.

@tensorflow/tfjs-node: ^0.2.3
jest: 23.6.0
typescript: 3.0.3
node: v8.11.1

[2019-01-23 13:50] Lewuathe commented on #1108
@Firenze11 This expression makes sense to me.

But TensorFlow core does not support such input. So I'm not sure we should support string type input for `oneHot` ops.

[code]

[code]

[2019-01-23 14:31] iacovlev-pavel opened #1120 "tfjs-node-gpu one tensor not getting disposed after executeAsync"
#### TensorFlow.js version
tensorflow/tfjs-node-gpu: 0.1.21

#### Browser version
electron: 3.1.0

#### Describe the problem or feature request
I am running object detection on a set of images, 10000 in this example.
Everything get's really really slow and eventually crashes after ~4000 predictions.

After each prediction in the end I call `console.log(tf.memory());` and it seems that one of the T

[2019-01-23 14:57] astojilj commented on #825
@annxingyuan, very nice. Thanks. This could be used to fold "conv2D -> BatchNorm -> Relu6" from MobileNetV2 to single operation: folding conv2D+BatchNorm to conv2D+BiasAdd (e.g. with [graph_transform](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/tools/graph_transforms/README.md#fold_batch_norms)) and then we execute this conv2D as MatMul...
Has the work on modifying tfjs-convert

[2019-01-23 15:06] iacovlev-pavel opened #1121 "tfjs-node-gpu 0.2.3 fails to install on Windows"
#### TensorFlow.js version
tensorflow/tfjs-node-gpu: 0.2.3

#### Browser version
node: v8.15.0

#### Describe the problem or feature request
`npm i @tensorflow/tfjs-node-gpu` results in an error.
0.2.2 also fails, while 0.2.1 works, this means the breaking change was added in 0.2.2.

If I download the .zip of 0.2.3 manually and then run `node scripts/install.js` it works.

#### Code to reproduce t

[2019-01-23 16:31] ClementVidal commented on #545
After some investigation i think i found something interesting:

When using the NodeJSKernelBackend (`tf.setBackend("tensorflow")`)

In **tfjs-core/src/tensor_util_env.ts:34** in function **inferShape()**, if i change to use Array.isArray() instead of instanceof, the @smith-kyle error goes away and everything work perfectly.

`while ( Array.isArray( firstElem ) || isTypedArray(firstElem)) {`

I su

[2019-01-23 16:36] dsmilkov opened #1122 "Alias tf.layers => tf.keras"
Given that TF 2.0 has the `tf.keras` namespace, we should **at least** alias `tf.layers` with `tf.keras` for TF.js 1.0, and update our examples/docs to use the keras one.

[2019-01-23 16:38] dsmilkov opened #1123 "Support new SavedModel 2.0 format with functions in converter"

[2019-01-23 16:39] dsmilkov opened #1124 "Make Tensor.buffer() async and make a Tensor.bufferSync()"

[2019-01-23 16:46] dsmilkov opened #1125 "Remove Tensor1D/2D/3D/4D types?"
We have static rank inference in tfjs, however due to the flexibility of ops (e.g. reduction), we often can't infer the rank, which makes the user explicitly retype the tensor, e.g.
[code]

Opening the discussion to understand if our Typescript users had much benefit from the explicit `TensorxD` types. Otherwise we should remove them in 1.0 in order to simplify the coding experience of our Typescr

[2019-01-23 18:47] #1065 closed

[2019-01-23 19:30] tafsiri opened #1126 "Tutorial: Getting Setup"

[2019-01-23 19:31] tafsiri opened #1127 "Tutorial: Index Page"

[2019-01-23 19:31] tafsiri opened #1128 "Tutorial: Learning Resources"

[2019-01-23 19:31] tafsiri opened #1129 "Guide: FAQ"

[2019-01-23 19:31] tafsiri opened #1130 "Guide: Introduction"

[2019-01-23 19:36] tafsiri opened #1131 "Misc: Make plan for unlinked pages"
- Debug page

[2019-01-23 19:43] tafsiri opened #1132 "API Page: Investigate i-framing the api docs in the devsite template"

[2019-01-23 19:46] tafsiri opened #1133 "API Page: Investigate standalone hosting of API page."

[2019-01-23 19:48] dsmilkov commented on #1122
The team has decided to stay with `tf.layers`.

[2019-01-23 19:48] #1122 closed

[2019-01-23 20:35] dsmilkov opened #1134 "Make 0.x release branches"

[2019-01-23 22:20] annxingyuan commented on #825
@astojilj

We have no immediate plans for modifying tfjs-converter to export fused nodes as that would require graph rewriting. However we hope to release a patch for tfjs-layers that would take advantage of fused nodes - in this case no graph rewriting is needed because the layers API allows specifying `activation` / `bias` for different layer types (dense, convolutional, etc.).

We definitely wo

[2019-01-24 02:55] bileschi opened #1135 "[Doc] fitDataset config is not defined in the website"
Website does not show how to configure a model to .fitDataset.  It simply mentions that the configuration should match `ModelFitDatasetConfig` which is undefined..

![image](https://user-images.githubusercontent.com/547150/51651337-7fe86d80-1f59-11e9-8cf8-24001179360f.png)

[2019-01-24 02:56] bileschi commented on #1135
cc: @tafsiri @kangyizhang FYI

[2019-01-24 05:47] rbamila opened #1136 "Code samples for start training a model from saved check point.."
Try to apply the method described in following comment. But couldn't able to figure it out how to do it exactly. Just loading a model, compile and and start training will do it?
https://github.com/tensorflow/tfjs/issues/481#issuecomment-406525304
@FrozenKiwi

[2019-01-24 07:51] iacovlev-pavel commented on #1120
The leak is in the `faster_rcnn_resnet101_coco_2018_01_28` model, if I use `ssd_mobilenet_v2_coco_2018_03_29` the number of tensors is constant after each prediction.

http://download.tensorflow.org/models/object_detection/faster_rcnn_resnet101_coco_2018_01_28.tar.gz
then I used this command to convert to a web_model:
`tensorflowjs_converter --input_format=tf_saved_model --output_node_names="detec

[2019-01-24 09:31] gustavz opened #1137 "posenet technical questions"
To get help from the community, we encourage using Stack Overflow and the [`tesnorflow.js`](https://stackoverflow.com/questions/tagged/tensorflow.js) tag.

#### TensorFlow.js version newest

#### Browser version: Mozilla Quantum newest

#### Describe the problem or feature request
I have two technical questions regarding the posnet model:

1. What are the dimension of the 4 parallel convolutions t

[2019-01-24 16:15] neerajmorar opened #1138 "Different results between Keras and TFJS - TFJS different answers on refresh"
To get help from the community, we encourage using Stack Overflow and the [`tesnorflow.js`](https://stackoverflow.com/questions/tagged/tensorflow.js) tag.

#### TensorFlow.js version

0.14.1 delivered via Script Tag
`<script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@0.14.1/dist/tf.min.js"></script>`

#### Browser version

Google Chrome 71.0.3578.98 (64-bit)

#### Describe the problem or f

[2019-01-24 16:45] neerajmorar commented on #1138
Okay, I've fixed the issue and it was definitely to do with the `strict=false` flag. I re-saved my model in Keras after restarting the Kernel and re-converted it to JSON and this time it was able to load correctly without the need for that flag - I'm now getting the right answers.

[2019-01-24 16:45] #1138 closed

[2019-01-24 18:32] rthadur commented on #1136
I apologize, but I am having a hard time understanding what the problem is, where the problem is, and what version it affects. Please resubmit and pay attention to the issue template (https://github.com/tensorflow/tfjs/issues/new). Please provide all the information it asks. Thank you.

[2019-01-24 18:43] tafsiri opened #1139 "tf.data.generator should take a generator/iterator"
#### TensorFlow.js version
tfjs-data 0.1.7

#### Describe the problem or feature request

This function https://github.com/tensorflow/tfjs-data/blob/2f0b3a73e22ece7aed89570928d0dd22806f6bee/src/readers.ts#L127 takes something that is close to a generator/iterator but isn't as far as I can tell an actual JavaScript generator or iterator (note that all JS generators are iterators).

The example in t

[2019-01-24 19:02] dsmilkov commented on #1139
+1. Thanks Yannick for filing this. The tl;dr is that the current `tf.data.generator()` is not aligned with the JS spec of generators and we should align it fully to avoid confusion. Thanks for sharing a code snippet!

[2019-01-24 20:18] dsmilkov commented on #550
cc @pyu10055 Users are still seeing the unknown dtype `bool` in the converter even though that got added a few versions again.

[2019-01-24 20:36] pyu10055 commented on #550
@raj-sivakumar  0.5.6 and 0.12.9 are rather old, can you try the latest versions (0.7.x and 0.14.x)? thanks.

[2019-01-24 20:43] raj-sivakumar commented on #550
@pyu10055 Thank you for your response. I had initially started with the latest versions, which is when I switched to the older versions mentioned above per the recommendation of this thread.

[2019-01-24 20:44] #1032 closed

[2019-01-24 22:52] nsthorat opened #1140 "tfjs-core@master breaks layers"
Doing the version bump and we have some breakages:

https://github.com/tensorflow/tfjs-core/pull/1508
https://travis-ci.org/tensorflow/tfjs-core/jobs/484069285

[2019-01-24 23:36] annxingyuan commented on #1140
cc @pyu10055

[2019-01-25 00:03] pyu10055 commented on #1140
https://github.com/tensorflow/tfjs-layers/blob/master/src/models_test.ts
all instances of spyOn(window, 'fetch').and.callFake() should return Promise

[2019-01-25 01:08] amcelroy commented on #1098
PS C:\Users\mcelr\tfjs-node> node-gyp rebuild
gyp info it worked if it ends with ok
gyp info using node-gyp@3.8.0
gyp info using node@11.4.0 | win32 | x64
gyp info spawn c:\python27\python.EXE
gyp info spawn args [ 'C:\\Users\\mcelr\\AppData\\Roaming\\npm\\node_modules\\node-gyp\\gyp\\gyp_main.py',
gyp info spawn args   'binding.gyp',
gyp info spawn args   '-f',
gyp info spawn args   'msvs',
gyp i

[2019-01-25 01:21] kangyizhang commented on #1139
Current `tf.data.generator()` takes a function which returns what `iterator.next()` will return, in the format of `{value:[0, 0], done:false}`.

We have a function called `datasetFromIteratorFn` which generates a dataset from `LazyIterator` object.  JavaScript generator or iterator has the same return value of `.next()` as our own class `LazyIterator`, but it's missing other methods, such as `.for

[2019-01-25 09:16] MrNewWorld commented on #1107
thanks, it was caused by the non-ASCII characters in the file path..

[2019-01-25 15:44] tafsiri commented on #1117
Closed by https://github.com/tensorflow/tfjs-website/pull/233

[2019-01-25 15:44] #1117 closed

[2019-01-25 15:45] tafsiri commented on #1115
Closed by https://github.com/tensorflow/tfjs-website/pull/233

[2019-01-25 15:45] #1115 closed

[2019-01-25 15:45] tafsiri commented on #1116
Closed by https://github.com/tensorflow/tfjs-website/pull/233

[2019-01-25 15:45] #1116 closed

[2019-01-25 16:14] #1119 closed

[2019-01-25 19:04] annxingyuan opened #1141 "Understand why vectorized packed_div causes failure in layers test and add core test."
Vectorized implementation causes NaNs in layers test: https://github.com/tensorflow/tfjs-layers/blob/master/src/initializers_test.ts#L560

I haven't yet figured out how to reproduce this in other ways.

[2019-01-25 19:36] #1101 closed

[2019-01-25 19:50] tafsiri commented on #1132
Doable, but not appealing

[2019-01-25 19:50] #1132 closed

[2019-01-25 19:51] #1118 closed

[2019-01-25 20:17] #1140 closed

[2019-01-25 20:48] tafsiri commented on #1129
Will not be porting this over. The current set of questions are addressed in the documentation, so at this point it is a bit out of date.

[2019-01-25 20:48] #1129 closed

[2019-01-25 20:54] kangyizhang commented on #1107
I tried path with non-ASCII characters on both linux and windows, it works fine. `npm install --global windows-build-tools` should fix it on windows.

[2019-01-26 21:12] N1nJaC0d3 commented on #239
We need this feature asap!

[2019-01-27 02:16] josesuero commented on #931
I'm having the exact same problem, how where you able to fix it? what command did you use to correctly export the model?

[2019-01-27 05:06] caisq commented on #908
Will push a thorough fix to this issue soon.

[2019-01-27 06:49] qcgm1978 commented on #739
Yes. I removed node_modules folder and reinstall modules including @tensorflow/tfjs-node that works.

[2019-01-27 14:48] Fire-Hound commented on #667
@tafsiri Any update on the react native support?

[2019-01-27 15:56] Josef-Haupt opened #1144 "tf.image.cropAndResize not working after update from 0.13.5 to 0.14.2"
#### TensorFlow.js version
0.14.2
#### Describe the problem or feature request
I built a small browser interface for tensorflow js and one of the possible augmentations is random cropping.
Until I decided to update the tfs package from 0.13.5 to 0.14.2 it was working flawlessly, now I am receiving this error:
DataAugComponent.html:42 ERROR TypeError: Cannot read property 'name' of null
    at e.ru

[2019-01-27 18:36] josesuero commented on #931
The problem was generating the model as @kouohhashi said, I was doing:
model.save_weights('fileName.h5')

and I has to do

model.save("fileName.h5") this converted to tensorflow.js correctly and finally got nodejs to predict my image correctly

[2019-01-27 21:33] pgoldtho opened #1145 "gpgpu_util.ts:331 performance warning: READ-usage buffer was read back without waiting on a fence."
#### TensorFlow.js version
cdn.jsdelivr.net/npm/@tensorflow/tfjs@0.14.2/dist/tf.min.js

#### Browser version
Google Chrome OS X - Version 71.0.3578.98 (Official Build) (64-bit)
(reproduced on 2 Macbook Pros.  One with Intel HD Graphics 4000 1536 MB.  The other Intel Iris  Graphics 6100 1536 MB.)

#### Describe the problem or feature request
Getting a console warning `gpgpu_util.ts:331 performance

[2019-01-27 23:05] caisq commented on #1093
@rix0rrr Thanks for reporting this issue. As we investigate and fix this issue, you can use the following workaround to make a model with a LeakyReLU activation that can be saved and loaded:

[code]

[2019-01-28 02:19] kangyizhang commented on #1121
Hi @iacovlev-pavel

Can you install `windows-build-tools` (https://github.com/tensorflow/tfjs-node/blob/master/WINDOWS_TROUBLESHOOTING.md) and try again?

[2019-01-28 09:43] iacovlev-pavel commented on #1121
Hello @kangyizhang

Fresh VM from https://developer.microsoft.com/en-us/microsoft-edge/tools/vms/
Installed `node v8.15.0`
Ran `npm --vs2015 install --global windows-build-tools`
Ran `npm i @tensorflow/tfjs-node-gpu`
and got the same error.

![virtualbox_msedge - win10_28_01_2019_11_40_47](https://user-images.githubusercontent.com/1787775/51827243-95f78480-22f1-11e9-844e-0b7f07f97ef6.png)

I am do

[2019-01-28 13:09] iacovlev-pavel commented on #1121
Tried with Node 10 and vs 2017, got the same result.
![virtualbox_msedge - win10_28_01_2019_15_08_49](https://user-images.githubusercontent.com/1787775/51838343-ad913600-230e-11e9-9746-3b52174e2ed7.png)

[2019-01-28 13:40] gr3w2 opened #1146 "Memory leak during loading a model"
#### TensorFlow.js version
@tensorflow/tfjs: 0.14.2,
@tensorflow/tfjs-node: 0.2.3
#### Browser version
node v11.7.0
#### Describe the problem or feature request
Hi there!
I found that method `loadModel` creates extra tensor variables, and there is no access to them, so they can't be disposed directly. I can dispose them using `disposeVariables`, but that function disposes all variables from memory

[2019-01-28 16:07] caisq commented on #1146
@gr3w2 May I inquire as to what problems the small number of extra tensors created cause to you? In other words, why do you need to get to a state of 0 WebGL tensors in your use case?

Also, does your model involve dropout layers? There is a recent PR that has fixed a memory leak issue in that particular layer type: https://github.com/tensorflow/tfjs-layers/pull/428

There might be similar "leak"

[2019-01-28 16:54] caisq opened #1147 "tf.gather() returns nonsensical result when given negative integer indices"
To get help from the community, we encourage using Stack Overflow and the [`tensorflow.js`](https://stackoverflow.com/questions/tagged/tensorflow.js) tag.

#### TensorFlow.js version
0.14.2

const x = tf.tensor2d([1, 2, 3, 4], [2, 2]);
x.gather([-1]).print();

==>  Tensor
     [[0, 0],]

To be consistent with the behavior of tf.gather() in Python TF, negative indices ought to lead to an error.

[2019-01-28 16:57] caisq commented on #1147
I'm not sure how to fix this without slowing down tf.gather().

The indices can either be a Tensor or a TensorLike. In the former case, we can use `.min()` and `.max()` to check the range of the indices. In the latter, we can just iterate through the elements. But I'm not sure how much slow down will be caused as a result.

@nsthorat @dsmilkov

[2019-01-28 17:36] oveddan commented on #867
The models are pre-trained on the mscoco image dataset, it probably is too generalized to handle these specific cases.  So currently there's no way to fix the higher accuracy issue except with better lighting conditions and camera.

Confusing the right hand with the left hand is an existing bug that happens when flipHorizontal is set to true.     See issue #493

Let's close this as it is somewhat

[2019-01-28 17:37] oveddan commented on #493
Confirmed they are switched when `flipHorizontal` is set to true. We are running into the same issue with BodyPix.   @nsthorat lets reopen this.

[2019-01-28 17:38] oveddan opened #1148 "BodyPix - when flipHorizontal is set to true, for body part segmentation the left and right parts are switched."
To replicate:

Run the bodyPix demo with flipHorizontal set to true.  The left and right labels are wrongfully switched.  Similar issue as #493

[2019-01-28 18:37] caisq commented on #1144
Reassigning the issue to people who might have more context about it.

[2019-01-28 18:44] rthadur commented on #867
closing this for now.

[2019-01-28 18:44] #867 closed

[2019-01-28 18:49] nsthorat commented on #1144
This will be fixed after we release https://github.com/tensorflow/tfjs-core/pull/1506

[2019-01-28 19:09] nkreeger commented on #1121
The tool for building native Node.js plugins `node-gyp` currently has a variety of issues with Visual Studio 2017. I'd recommend following this issue for some solutions - https://github.com/nodejs/node-gyp/issues/1056 - not a great option. I feel your pain because I have two Windows workstations and each one required a different solution.

[2019-01-28 19:11] nkreeger commented on #1098
You need to run `yarn` or `npm install first` - that will download the missing dependencies.

[2019-01-28 19:50] iacovlev-pavel commented on #1120
rfcn_resnet101_coco_2018_01_28 leaks ever more, 18 tensors per prediction are not garbage collected.
![03](https://user-images.githubusercontent.com/1787775/51862106-8bb3a580-2346-11e9-9b5e-724d13fca76b.png)

I have tried using `tfjs-node` instead of `tfjs-node-gpu`, same amount of tensors leaked.

[2019-01-28 19:55] iacovlev-pavel commented on #1054
`tfjs-node` rebuilds correctly while `tfjs-node-gpu` does not. The reason for this `tfjs-node` has `tensorflow.dll` in `node_modules\@tensorflow\tfjs-node\deps\lib` while  `tfjs-node-gpu` does not.
This is testing with tfjs-node `0.2.1` since I am still working on installing `0.2.3`.

@nkreeger it would be nice, but the app blurs 4k images and webgl backend just blows up.  CUDA/CUDNN is currently

[2019-01-28 20:08] nsthorat commented on #1147
How critical is this error message? It's going to be pretty complicated to do this efficiently without slowing down gather for everyone. One idea is to generate a NaN and have debug mode catch this.

[2019-01-28 20:32] amcelroy opened #1149 "Error: Shape Mismatch when using SeperableConv2d filters with depthMultiplier > 1"
#### TensorFlow.js version
NodeJS version used to train: 0.2.1 <- This is the only version that works in windows with CUDA right now
TFJS ver. 0.14.2 when loading the model

#### Browser version
Chrome 71.0.3578.98

#### Describe the problem or feature request
I am constructing a net using seperableConv2d layers in a sequential model. When using a depthMultiplier > 1, training goes fine in NodeJS,

[2019-01-28 21:37] tafsiri opened #1150 "Guide: Differences from Python tf.keras"
- Models

[2019-01-28 21:37] tafsiri opened #1151 "Guide: Model Conversion"
- Models

[2019-01-28 21:37] tafsiri opened #1152 "Guide: Training Models"
Variables and Optimizers, etc

- Models

[2019-01-28 21:37] tafsiri opened #1153 "Guide: Models and Layers"
- Models

[2019-01-28 21:38] tafsiri opened #1154 "Guide: Tensors & Operations"

[2019-01-28 21:38] tafsiri opened #1155 "Guide: Platforms and Environments"

[2019-01-28 21:38] tafsiri opened #1156 "Tutorial: Building an Audio Recognizer"
- Transfer Learning

[2019-01-28 21:38] tafsiri opened #1157 "Tutorial: Building a webcam based game controller"
- Transfer Learning

[2019-01-28 21:38] tafsiri opened #1158 "Tutorial: Saving and Loading Models"
- Training Models

[2019-01-28 21:39] tafsiri opened #1159 "Tutorial: Handwritten Digit Recognition with CNNs"
- Training Models

[2019-01-28 21:39] tafsiri opened #1160 "Tutorial: Importing a Keras Model"
- Importing Python Models

[2019-01-28 21:39] tafsiri opened #1161 "Tutorial: Importing a TensorFlow GraphDef Model"
- Importing Python Models

[2019-01-28 21:46] tafsiri opened #1162 "Guide: Using TensorFlow.js in Node."
How to choose the right node.js binding/package.

- Node.js

[2019-01-28 21:48] tafsiri opened #1163 "Tutorial: Predicting 2d data"

[2019-01-28 21:48] tafsiri opened #1164 "Tutorial: What is transfer learning?"

[2019-01-28 21:50] nsthorat opened #1165 "Improve shape mismatch error in layers."
When calling fit, we get errors like this:

[code]

This is mostly fine, but it would be good to log the name of the other layer that this connects with that is causing the error.

Maybe also instead of "target" we could say something like "output"? How about this error message:

[code]

[2019-01-28 22:58] #1135 closed

[2019-01-29 01:13] unrealwill opened #1166 "Custom layer; weight import; name mismatch"
#### TensorFlow.js version
tfjs.__version__
'0.6.7'
#### Browser version
Chromium
Version 70.0.3538.77(Official Build) Built on Ubuntu , running on Ubuntu 16.04 (64-bit)

#### Describe the problem or feature request

The name of the variable generated by add_weight for a custom layer don't match between python and javascript, and therefore prevent loading the weights.

#### Code to reproduce the b

[2019-01-29 02:15] #1141 closed

[2019-01-29 03:45] #908 closed

[2019-01-29 08:08] allenwangcheng commented on #938
Have you solve this problem?

[2019-01-29 08:54] allenwangcheng commented on #938
@kanchenhao have you solved this problem? I have the same problem with you.

[2019-01-29 09:31] MariasStory commented on #102
OffscreenCanvas is supported in Chrome 71.0.3578.98
https://devnook.github.io/OffscreenCanvasDemo/index.html

[2019-01-29 12:59] Josef-Haupt commented on #1144
Alright thanks for the feedback, closing this for now

[2019-01-29 12:59] #1144 closed

[2019-01-29 14:16] BenjaminWegener opened #1167 "OOM, increasing number of tensors used"
#### TensorFlow.js version
{tfjs-core: "0.14.5", tfjs-data: "0.1.7", tfjs-layers: "0.9.2", tfjs-converter: "0.7.2", tfjs: "0.14.2"}

#### Browser version
Google Chrome is up to date
Version 71.0.3578.98 (Official Build) (64-bit) (windows 10)
same in FF

#### Describe the problem or feature request
OOM, increasing number of tensors used in model.fit()? tf.memory() shows increasing number of tensors

[2019-01-29 16:09] vpanichkin commented on #924
@JWSunny , would you be so kind to provide your solution(tutorial) for us as I cannot solve this issue on my own?

[2019-01-29 16:12] pgoldtho commented on #1145
https://stackoverflow.com/questions/54308930/tensorflow-tfjs-graphics-pipeline-stall sounds like the same issue

[2019-01-29 16:22] tafsiri opened #1168 "Scatterplot tooltips showing NaNs"

[2019-01-29 17:22] Pravez opened #1169 "FrozenModel does not contain control flow or dynamic shape ops when using executeAsync()"
First of all, thank you for your wonderful library !

#### TensorFlow.js version

0.14.2

#### Browser version

chrome latest

#### Describe the problem

When using the `executeAsync` method from a model loaded with `loadFrozenModel`, I end up with the following exception :

[code]
This thing is, it works when using predict() or execute() methods.

My code is as follows :

[code]

I found [this is

[2019-01-29 18:23] caisq opened #1170 "tfvis.render.lineChart sorts series by their labels alphabetically"
To get help from the community, we encourage using Stack Overflow and the [`tensorflow.js`](https://stackoverflow.com/questions/tagged/tensorflow.js) tag.

#### TensorFlow.js version
tfjs-vis 0.4.1

See codepen at: https://codepen.io/caisq/pen/QYKZGe?editors=1010
Suppose you have a multi-series line chart:
[code]

The lines get sorted by their labels, which can violate the original order in the ar

[2019-01-29 19:01] tafsiri opened #1171 "Enable use of tf.metrics functions in model.fit"
#### TensorFlow.js version
Any

#### Browser version
Any

#### Describe the problem or feature request

Summarizing a discussion with @caisq.

We want the following function to work.

[code]

It does currently work however the logs object ends up with a key that has the entire serialized function as the key (like in the scrreenshot below)

<img width="1293" alt="screen shot 2019-01-29 at 1 54 46 p

[2019-01-29 19:29] kedevked opened #1172 "Web Worker: Backend name 'cpu' not found in registry`"
To get help from the community, we encourage using Stack Overflow and the [`tensorflow.js`](https://stackoverflow.com/questions/tagged/tensorflow.js) tag.

#### TensorFlow.js version
version 0.14.1
#### Browser version
chrome 71
#### Describe the problem or feature request
Using the web-worker does not work on the version 11.6 onward. Registering backend (cpu) fails because it is not found in the

[2019-01-29 21:57] nsthorat commented on #1169
The error message is just saying use `model.execute` instead of `model.executeAsync` since there are no asynchronous operations. `execute` and `executeAsync` do fundamentally the same thing, and you should use `execute` for models that can be executed synchronously.

cc @pyu10055 maybe the error could be clearer.

[2019-01-29 23:24] rohanmuplara opened #1173 "tf.fromPixels slowing down video stream on safari"
To get help from the community, we encourage using Stack Overflow and the [`tensorflow.js`](https://stackoverflow.com/questions/tagged/tensorflow.js) tag.

#### TensorFlow.js version @tensorflow/tfjs@0.14.1"

#### Browser version Version 12.0 (14606.1.36.1.9)

#### Describe the problem or feature request
I have a videohtmlelement that displays properly.
When I run this line,  let tensor = tf.fromP

[2019-01-30 02:51] rohanmuplara opened #1174 "Webcam tfjs on safari"
None of the examples on the homepage seem to work on safari such as https://emojiscavengerhunt.withgoogle.com.
Safari Version 12.0 (14606.1.36.1.9)
on MAC
The video cam just freezes

[2019-01-30 09:31] Pravez commented on #1169
Thank you for your answer.
What are exactly asynchronous operations ? I must admit I am not sure exactly what is the difference with synchronous operations, and just thought this was a way to execute the model "in background".
My final goal was to make the execute() asynchronous in order to show a loader and update my webpage, since running in synchronous mode is provoking a nice ~1 second lag.

[2019-01-30 11:10] bertlea commented on #1073
Sorry for the late reply.
@nkreeger , no I am using the default "Legacy" non-GL driver.
@dsmilkov , I got the screenshots.  Basically it seems only WebGL 1 is supported and your debug link seems returns correct sqrt results.
WebGL1:
![webgl1a](https://user-images.githubusercontent.com/33945286/51977443-7499c280-24c2-11e9-878f-beb27fed3e1a.png)
![webgl1b](https://user-images.githubusercontent.com/3

[2019-01-30 12:52] bertlea commented on #1073
Just tried to switch to the "experimental" GL driver": OpenGL full KMS and that resolved the issue.  So the bug exists only when using the default Legacy Original non-GL desktop driver.

[2019-01-30 16:02] pimdewit commented on #1145
@pgoldtho  After 8 days of experimenting and even going back to a minimal setup, it still gives the same error.
I get the warning on MacOS, and on Windows it ultimately leads to a WEBGL_CONTEXT_LOST error.

My current "fix" for both these problems is by going back to version 0.13.3; `"@tensorflow/tfjs": "0.13.3"`.

[2019-01-30 16:08] caisq commented on #1060
Fixed by https://github.com/tensorflow/tfjs-layers/pull/436

[2019-01-30 16:08] #1060 closed

[2019-01-30 16:23] caisq commented on #686
Re-opening this issue as we are working on enabling scalar-summary writing from tfjs-node to TensorBoard now.

[2019-01-30 16:59] dsmilkov opened #1175 "Load model changes in 1.0"
This issue will track all changes related to loading models in TensorFlow.js 1.0.

### Renames of methods and args
- `tf.loadModel()` is renamed to:
[code]

- `tf.loadFrozenModel()` is renamed to:
[code]

- Both share the same options:
[code]

- `loadTFHubModule(): Promise<tf.GraphModel>` is removed to keep the API simple. It’s a simple wrapper around `tf.loadGraphModel()`, so users will be able t

[2019-01-30 17:23] bryan-14four commented on #952
Same issue here running Chrome on both the Galaxy S4 and S5. The issue has been around for at least 6 months, so I'm surprised that this doesn't have more attention.

[2019-01-30 20:01] davidsoergel commented on #1038
Just to record my understanding of the offline consensus before I implement it:

- We will continue to recursively walk nested structures of objects.
- We will not descend into arrays.  If we encounter an array, we immediately try to convert it to a Tensor.  The array may be nested, producing an n-D Tensor.
- The conversion to Tensor may fail at this point, either because the array contains someth

[2019-01-30 21:37] VariableVasasMT commented on #117
@nsthorat please review the updated the pull request.

[2019-01-31 00:05] timbur commented on #739
Can someone please explain step by step how to get the gpu version to install on a fresh windows 10? I have everything else installed properly afaik and it still craps out at the node-gyp rebuild step of install.js with no information whatsoever on what the problem is. The plain node version installs fine. It’s been 4 months.

[2019-01-31 02:19] timbur commented on #739
Yeah I officially give up. I can’t believe how bad this node-gyp stuff still is in 2019. Is it easier to use the gpu version on Linux or something?

[2019-01-31 02:27] cwbeitel opened #1176 "Support for PaddedBatchDatasetV2, MapDataset, TensorSliceDataset, DatasetToSingleElement"
#### TensorFlow.js version

0.6.7

#### Browser version

non-browser (tfjs converter) issue

#### Describe the problem or feature request

Attempting to convert a SavedModel exported from a [tensor2tensor](https://github.com/tensorflow/tensor2tensor) Model (i.e. with relevance to conversion of other models implemented and trained in that paradigm), found various ops not yet supported.

These ops i

[2019-01-31 14:02] lhdoeo opened #1177 "tensorflow.js: how to multiply a layer by a scalar?"
I am using the tf.layers module to build an inception-resnet-v2 network, in terms of the paper, I need to multiply a scalar by the output in inception-resnet module to stabilize the training, when I used tf.layers.multiply().apply([tf.tensor(0.1),layer]), there threw an error that Arguments to apply() must be all SymbolicTensors or all Tensors, how can I achieve this requirement? A deep learning g

[2019-01-31 15:16] caisq commented on #1175
@dsmilkov Here are my thoughts:

1. Unifying the signature and putting all the optional config is great and has my full support.
2. As for the name `tf.loadLayersModel()`, I don't like it because it is
  - Long, somewhat a mouthful, and inconsistent with Keras or tf.keras.
  - Potentially confusing. It can be misunderstood as "load layer's model" or "load layers' model"
  How about changing `tf.lo

[2019-01-31 16:30] bileschi opened #1178 "Conv layer documentation missing required configuraitons"
#### TensorFlow.js version
0.14.0

#### Describe the problem or feature request
![image](https://user-images.githubusercontent.com/547150/52068878-8d9a8600-254b-11e9-863f-a0178ea8b765.png)
Conv layer requires kernelSize,
accpets padding, dilation, etc.

[2019-01-31 16:39] #1000 closed

[2019-01-31 18:22] juharris opened #1179 "Converting Sentence Encoders"
#### TensorFlow.js version
Python: tensorflowjs==0.6.7

#### Describe the problem or feature request
I'd like to use an existing sentence encoder in Node. I've been trying to _convert_ a few of the existing ones from TensorFlow Hub with no success.  Getting any of the encoder to work would be fine for me.

#### Code to reproduce the bug / link to feature request
# Universal Sentence Encoder
[code]

[2019-01-31 18:39] ngfelixl opened #1180 "feat(docs): add doc comments"
## Feature Request

This is a feature request for doc-comments to get detailed information for functions and classes inline while programming when hovering them.

Currently using the tensorflow js package looks like this (this is just example code) when hovering functions and other parts. Here I am hovering the **mul** memberfunction.

![currently](https://user-images.githubusercontent.com/2419053

[2019-01-31 19:54] tafsiri commented on #1163
- [ ] Write code lab
- [ ] Review code lab
- [ ] Create landing page

[2019-01-31 20:12] bileschi commented on #1178
@tafsiri is there some annotation that will allow for the inheretied Conv parameters to thread through to the website?

[2019-02-01 03:02] caisq commented on #1177
@lhdoeo

The error message is appropriate in this case. What is the value you want to multiply the output of the inception-resnet module with? Is it constant or may change? If constant, you can define a custom layer to do that. If it can change, you can use an input layer and define the whole model using the "functional API". Let me know and I'll be happy to guide you further.

Also, for the futur

[2019-02-01 12:12] lhdoeo commented on #1177
[code]
![tim 20190201191428](https://user-images.githubusercontent.com/43592706/52122286-6fbd4600-265d-11e9-971e-1285315546b2.png)

[2019-02-01 12:57] unrealwill opened #1181 "feature request : extra information to model"
#### TensorFlow.js version
NA
#### Browser version
NA
#### Describe the problem or feature request
Hello,

I'd like to have a standardized way to save extra_information inside a model in python and have it passed all the way to tensorflowjs.

The use case for example is when I have "Valid" Conv1D but None as time dimension, I need to know what the minimal size to pass as input that won't result in

[2019-02-01 18:15] tafsiri commented on #1178
@bileschi by inherited conv params do you mean the [BaseConvLayerArgs](https://github.com/tensorflow/tfjs-layers/blob/d90401eebdb28a66802c1fd7566b9a0002d2eecc/src/layers/convolutional.ts#L202). I don't know if there is a way to do this in the current parse but maybe Nikhil knows.

@nsthorat [Conv2d](https://github.com/tensorflow/tfjs-layers/blob/d90401eebdb28a66802c1fd7566b9a0002d2eecc/src/layers/

[2019-02-01 18:19] tafsiri commented on #1159
- [x] Write code lab
- [ ] Review code lab
- [ ] Create landing page

[2019-02-01 18:32] ngfelixl commented on #1180
Oh, then this might be related to `@tensorflow/tfjs-node` only, since I'm using it in NodeJS and recently have read that one should not use

[code]

anymore but instead import everything directly from `@tensorflow/tfjs-node`.

[2019-02-01 18:44] nsthorat commented on #1178
No currently we can't walk inheritance chains (this would require a bunch of non-trivial work to walk a tree which we don't do right now).

Can you just copy the interface? I don't think that's unreasonable -- I doubt your params are going to change much.

[2019-02-01 18:59] tafsiri commented on #1180
If you post a small repo demonstrating what you are seeing we can take a look locally and see what combinations might cause issues.

[2019-02-01 19:09] bileschi commented on #1178
I'm not sure I understand I understand the proposal.
Copy which interface to where?

[2019-02-01 19:16] nsthorat commented on #1178
Sorry I just mean have a separate interface for DepthwiseConv and Conv2D that don't use inheritance.

[2019-02-01 19:55] nsthorat commented on #1178
While you are right on 1., I don't really think inheritance in this case is very useful. Personally, I find inheritance of user-facing interfaces / classes confusing (they have to walk the inheritance tree and figure out the union of the arguments themselves as opposed to a single hermetic interface that defines exactly API. It's unlikely this API is going to change anyways).

Just curious, what a

[2019-02-01 20:00] bileschi commented on #1178
A little grepping around suggests there are approximately 55 such deeply inherited interfaces.
[code]
[code]

[2019-02-01 20:03] bileschi commented on #1178
If we get rid of the ones from the Keras spec typesystem there are even fewer

[code]
[code]

[2019-02-01 20:06] nsthorat commented on #1178
Okay thanks -- are there any there are multiple levels of inheritance (beyond just extending a single base)?

[2019-02-01 20:07] nsthorat commented on #1178
Looks like we have to make the change in the doc generator for this to actually be possible :)

[2019-02-01 20:13] bileschi commented on #1178
Yeah, looks like, e.g.,

SeparableConvLayerArgs
extends ConvLayerArgs
extends BaseConvLayerArgs
extends LayerArgs

This might be the deepest one?

On Fri, Feb 1, 2019 at 3:07 PM Nikhil Thorat <notifications@github.com>
wrote:

--
Stan Bileschi Ph.D.  |   SWE  |  bileschi@google.com |  617-230-8081

[2019-02-01 22:11] annxingyuan opened #1186 "Possible memory leak in executeAsync."
I'm using the latest tfjs (0.14.1) and calling `executeAsync` on the converted universal sentence encoder lite model. When I log `tf.memory().numTensors` before and after `executeAsync`, I see that 11 new tensors are created. We can't wrap `executeAsync` in a `tidy` because it's asynchronous. Would you mind looking into the possibility that there is a memory leak in `executeAsync`?

I created a co

[2019-02-01 22:46] kangyizhang opened #1187 "Update jsdoc to explain what type of data is available in Dataset"
Current element type in `Dataset` is `DataElement`, which actually is `TensorContainer`. In tfjs-core jsdoc, `TensorContainer` has a jsalias(
https://github.com/tensorflow/tfjs-core/blob/a878dc2ef793b176dceece26b65ed51be6864383/src/tensor_types.ts#L31) to explain the type detail:
[code]
In tfjs-data we should also explain what is `DataElement`, so user would be able to know what they are expecting

[2019-02-01 23:14] #1139 closed

[2019-02-01 23:23] dsmilkov opened #1188 "Be flexible on Content-Type when loading model weights/topology"
https://github.com/tensorflow/tfjs-core/pull/1455 introduced an unnecessary strict Content-Type check that broke several users (and use-cases).

We should not be strict about the Content-Type and ONLY report it to the user IF we fail to parse the weight/topology in order to help them debug the issue.

Broken use-cases include:
- A server that was serving the weights with Content-Type `text/html` a

[2019-02-01 23:43] ngfelixl commented on #1180
Sure. Have created a demo-repo, containing the setup and a single source file (*src/index.ts*) importing items from **@tensorflow/tfjs-node**.

https://github.com/ngfelixl/tfjs-no-docs-demo

[2019-02-02 00:44] generic-github-user opened #1189 "optimizer.minimize does not work with maxPooling layers"
#### TensorFlow.js version
Latest / 0.14.2

#### Browser version
Google Chrome
Version 71.0.3578.98 (Official Build) (64-bit)

#### Describe the problem

When using `optimizer.minimize()` with `model.predict()` to train a `tf.model` with a loss function, I encounter an issue. This only occurs when I use a `maxPooling2D` layer in a convolutional neural network with code similar to the code below. I

[2019-02-02 02:15] timekarma opened #1190 "Image loading is causing datatype problem"
To get help from the community, we encourage using Stack Overflow and the [`tensorflow.js`](https://stackoverflow.com/questions/tagged/tensorflow.js) tag.

#### TensorFlow.js version
0.14.2

#### Browser version
Chrome  71.0.3578.98
#### Describe the problem or feature request
Object detection example
when using link https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@0.14.2/dist/tf.min.js
 when this co

[2019-02-02 02:46] conorpo commented on #711
cc @kangyizhang
Can you help me out im having a similair issue but none of the fixes worked. I'm not good at formatting
so everything between  the dashed lines is console output

----------------------------------------------------------------------------

Conor@DESKTOP-FBFEHQO MINGW64 /d/Coding/ML/tf/first
$ npm install @tensorflow/tfjs-node-gpu

* Downloading libtensorflow
[=====================

[2019-02-02 05:38] kangyizhang commented on #711
hi @conorpo

For most cases with error `Microsoft Visual Studio\2017\BuildTools\MSBuild\15.0\Bin\MSBuild.exe` on windows, reinstall window build tool would fix it (https://github.com/tensorflow/tfjs-node/blob/master/WINDOWS_TROUBLESHOOTING.md).

Also, you could try to download the `@tensorflow/tfjs-node-gpu` repo and run `yarn install`  and if it's not working please paste the error here.

[2019-02-02 08:48] lhdoeo commented on #1177
I am sorry for my stupidity, this problem have been solved by just using 1x1 conv layer with constant kernelinitializer ... -_-||

[2019-02-02 08:48] #1177 closed

[2019-02-02 08:51] ToonTalk commented on #882
I'm getting this error after running successfully running my program a couple times. Restarting Chrome enables me to run it 2 or 3 more times before it happens again. Refreshing the tab doesn't help.

Version 72.0.3626.81 (Official Build) (64-bit)
{tfjs-core: "0.14.5", tfjs-data: "0.1.7", tfjs-layers: "0.9.2", tfjs-converter: "0.7.2", tfjs: "0.14.2"}

This is occuring while I'm experimenting with

[2019-02-02 10:58] ToonTalk commented on #882
Maybe this is due to a memory leak

tf.memory()
{unreliable: false, numBytesInGPU: 1206515.7845747396, numTensors: 338, numDataBuffers: 338, numBytes: 1334649.716558177}

Why are there fractional bytes?

[2019-02-02 15:12] annxingyuan commented on #882
Hey @ToonTalk - could you try upgrading your version of tfjs-core to see whether that fixes the issue? I noticed the compilation error is for a function that we removed in the latest release.

[2019-02-02 16:10] #735 closed

[2019-02-02 19:02] caisq commented on #1112
@wellido I can confirm that in some cases, the model generates slightly different probability outputs in the browser and node.js. For example:

For a model, I got `[[0.7231858, 0, 0.000008, 0, 0, 0, 0, 0.2768069, 0, 0],]` in the browser, but I got
`[[0.8544045, 0, 0.0000061, 0, 0, 0, 0, 0.1455893, 0, 0],]` in Node.js.

But in most cases, the argMax index is the same. This is the case in both your

[2019-02-02 19:09] caisq commented on #1189
@generic-github-user

In 0.14+, there is a change that disables backpropagation support in the `Model.predict()` method. You can use the `Model.apply()` method with the `{training: true}` flag to fix your code.

[code]

to

[code]

[2019-02-02 19:10] #1189 closed

[2019-02-02 20:16] nsthorat opened #1191 "loadFrozenModel now returns Promise<tf.FrozenModel | tf.FrozenModelJSON> and breaks TypeScript users."
This PR changed the return type (which forces users to now cast as tf.FrozenModel): https://github.com/tensorflow/tfjs-converter/pull/264

Let's fix this and get a patch out ASAP.

[2019-02-02 20:17] nsthorat opened #1192 "speech-commands Browser FFT recognizer unit test is flaky"
[code]

See: https://travis-ci.org/tensorflow/tfjs-models/jobs/487647409

[2019-02-02 20:24] nsthorat opened #1193 "tfjs-converter adds doc annotations for the JSON versions of the load methods, breaking the API docs."
Symbols that are duplicated:

- `FrozenModel`: https://github.com/tensorflow/tfjs-converter/blob/master/src/executor/frozen_model_json.ts#L33
- `loadFrozenModel`: https://github.com/tensorflow/tfjs-converter/blob/master/src/executor/frozen_model_json.ts#L288
- `loadTfHubModule`: https://github.com/tensorflow/tfjs-converter/blob/master/src/executor/frozen_model_json.ts#L315

For now, let's just rem

[2019-02-02 21:01] nsthorat commented on #1186
Also confirmed this is happening in 0.15.0.

[2019-02-03 02:07] wellido commented on #1112
@caisq Thanks for your reply.  The difference in results will be magnified according to the increase in the number of layers, so my model gets the different test accuracy between WEB and node.js.

[2019-02-03 03:39] nsthorat commented on #1145
Looks like it's coming from this commit (I verified a rollback of this fixes the issue): https://github.com/tensorflow/tfjs-core/commit/babb6f6fa2fc8bb965b75e012b864ff0114cc559

@dsmilkov let's talk about this on Monday

[2019-02-03 18:07] conorpo commented on #711
I reinstalled The Build Tools as a global npm module but I still get the same error, just with a different path.

[2019-02-03 19:07] conorpo commented on #711
The latest version of windows build tools just says failed to install windows build tools. According to a thread only 4.0.0 works. I tried both installing it in the local node_modules and globally, neither worked.

[2019-02-03 22:56] mrmartin commented on #924
Same problem. What worked for me was
1. renaming group1-shard*of* to group1-shard*of*.bin
2. changing the .json file to reflect this

[2019-02-03 22:58] cwbeitel commented on #1176
@rthadur @pyu10055 Hey there just wanted to offer my help getting these implemented; this is not my area of expertise but if you could lay out the steps required I could give it a try (if that would be helpful)!

[2019-02-04 05:43] pyu10055 opened #1194 "tfjs-core tensor dispose failure for WebGL backend with custom gl rendering context"
To get help from the community, we encourage using Stack Overflow and the [`tensorflow.js`](https://stackoverflow.com/questions/tagged/tensorflow.js) tag.

#### TensorFlow.js version
0.15.0
#### Browser version
WeChat mini app
#### Describe the problem or feature request
[code]

Above code causing the numTensors continues to decrease by 1 and eventually generate the following exception:
'Cannot re

[2019-02-04 06:36] ToonTalk commented on #882
Thanks.

With {tfjs-core: "0.15.0", tfjs-data: "0.2.0", tfjs-layers: "0.10.0", tfjs-converter: "0.8.0", tfjs: "0.15.0"}

I'm getting the error on line 150

1    #version 300 es
2        precision highp float;
3        precision highp int;
4        precision highp sampler2D;
5        in vec2 resultUV;
6        out vec4 outputColor;
7        const vec2 halfCR = vec2(0.5, 0.5);
8
9        struct ivec

[2019-02-04 09:37] iacovlev-pavel commented on #1121
I still can't seem to install latest tfjs-node-gpu. Tried fresh VMs with both vs2015 and vs2017 and I always end up in the above mentioned error.

I looked at it a bit more Today, and here is the actual `node-gyp` error:
[code]

![image](https://user-images.githubusercontent.com/1787775/52200013-49232900-2870-11e9-8ba9-7b96d9d445ce.png)
I don't get a `tensroflow` folder in the deps directory, and

[2019-02-04 10:22] iacovlev-pavel commented on #1053
@bileschi bileschi

Here is a more reproducible use case:

Download the model:
http://download.tensorflow.org/models/object_detection/faster_rcnn_resnet101_coco_2018_01_28.tar.gz

Convert the model:
[code]

Run the code
[code]

[2019-02-04 16:23] nsthorat commented on #1194
This code doesn't run on it's own -- this could be a bug at many different layers of the stack. I tried to run this in a codepen with a loaded MobileNet, but I get shape mismatch errors.

Could you post a codepen with minimal reproducible code? Thanks.

[2019-02-04 16:40] dweinberger opened #1195 "localstorage fails to save small model"
To get help from the community, we encourage using Stack Overflow and the [`tensorflow.js`](https://stackoverflow.com/questions/tagged/tensorflow.js) tag.

#### TensorFlow.js version
	<script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@0.13.3/dist/tf.min.js"> </script>

#### Browser version
 72.0.3626.81
#### Describe the problem or feature request

Trying to save to localStorage. I get thi

[2019-02-04 17:15] tafsiri commented on #1173
@rohanmuplara could you provide a bit more information.

What is the type of `this.video` (i.e. what kind of object is it in js), and what is the type and value of `this.video.current!`

It might be helpful if you are able to post a small example that reproduces the problem on something like [codepen](https://codepen.io)

[2019-02-04 17:49] #1050 closed

[2019-02-04 18:50] nxz91 opened #1196 "Performance in Node.JS"
Hello,

just seen the paper on HN – first of all – this is GREAT news! Thank you.

From my understanding, in Node Tensorflow.js binds to the TensorFlow C implementation. I only see a performance comparison for the browser – could you release a performance comparison with Python as well?

Thank you!!
Leonard

[2019-02-04 18:53] #1193 closed

[2019-02-04 19:14] tafsiri commented on #1180
@ngfelixl perfect. I can reproduce this and will look into it.

[2019-02-04 19:19] #1191 closed

[2019-02-04 20:27] nsthorat opened #1198 "Core tests failing at head: ModelManagement List models: 0"
[code]

[2019-02-04 20:36] nsthorat commented on #1198
This seems to be related to Chrome 72, doesn't show up on Chrome 71.

[2019-02-04 21:02] nsthorat commented on #1198
This test is also failing:
[code]

[2019-02-04 21:06] dsmilkov commented on #1195
Strange since local storage's limit should be at least 5MB. Assigning to @caisq

[2019-02-04 21:08] caisq commented on #1195
@dweinberger Can you open the "Application" tab of your Chrome dev tool and see whether there is a lot of stuff in your Local Storage?

Does it work if you use indexeddb:// instead?

[2019-02-04 21:08] dsmilkov commented on #924
Hi all. If you've experienced problems loading models in the latest release, we are working on a fix: https://github.com/tensorflow/tfjs/issues/1188. It's related to the problem that we are strict about the `Content-Type` header produced by the http server - we expect `application/json` for model.json and `octet-stream` for weights.

We are going to revert that change.

[2019-02-04 22:10] dsmilkov opened #1200 "Add integration tests for data + layers"
Add integration tests for data and layers that exercise end-to-end ML use cases (e.g. reading from csv and training a simple model).

This enables us to dogfood the Data API and understand the UX of using data.

The integration tests can live in the `tfjs-data` repo, depend on layers@master and data@master and run on Travis nightly.

[2019-02-04 22:10] dsmilkov commented on #1200
cc @tafsiri

[2019-02-04 22:11] caisq opened #1201 "[tfjs-vis] tfvis.render.heatmap() collapses rows or columns when there are duplicate labels"
#### TensorFlow.js version
tfjs-vis 0.5.0

If there are duplciate items in xLabels and/or yLabels, the rows or columns will be collapsed, causing confusing displays.

The displaying of the matrix should be done regardless of whether there are duplicate labels.

[2019-02-04 22:12] nsthorat commented on #1200
If we expect to have more of these, would it make sense to put it in the union package? Otherwise we're going to have to remember where all the integration tests live (layers has its own integration tests).

[2019-02-04 22:20] dsmilkov commented on #1200
It makes sense for these to live in the data repo since these tests should be written by the owners of tfjs-data and should detect when data introduced breaking changes. Likewise for other repos.

[2019-02-04 22:37] dsmilkov commented on #1167
As you are iterating through the data, you should dispose any tensors.

You have:
[code]

Change to:
[code]

[2019-02-04 22:37] #1167 closed

[2019-02-04 22:47] generic-github-user opened #1202 "How to build docs?"
I would like to build the TensorFlow.js docs from their source. I could not find any relevant information in the [documentation section](https://www.tensorflow.org/community/documentation) of the community pages. I was able to locate [this script](https://github.com/tensorflow/tfjs-website/blob/docs/build-scripts/build-api), which appears to be for building the docs. However, I was unable to figur

[2019-02-04 22:52] nkreeger commented on #1073
@bertlea Yes the legacy driver is software-rendering only. Also note that the experimental driver does not support half-float textures (yet) and most of TF.js will not work w/o the minimum requirement of half-float textures (OES_texture_half_float).

[2019-02-04 22:57] davidsoergel commented on #1181
Please see #762 for a prior discussion of this.

[2019-02-04 22:58] dsmilkov commented on #1181
Thanks. Closing this as a duplicate of #762

[2019-02-04 22:58] #1181 closed

[2019-02-05 00:34] generic-github-user commented on #1202
I have found instructions [here](https://github.com/generic-github-user/tfjs-website/blob/master/README.md) on how to use Yarn to build the docs, but I am now receiving this error:
[code]
I have attempted to fork the repository and make a fresh clone and this has not resolved the issue. I also could not find any relevant issues existing within this repository.

[2019-02-05 02:08] bertlea commented on #1073
Thank you for confirming the cause.  So when tf.js reports it is using 'webgl', it may not actually using the GPU.  The bug in the driver should be a separate issue.

[2019-02-05 02:21] generic-github-user commented on #1202
I've also tried creating a new SSH key and adding it to my GitHub account and adding GitHub to `.ssh/known_hosts`.

[2019-02-05 02:31] generic-github-user commented on #1202
I resolved the above error using [this solution](https://stackoverflow.com/a/23634016/10940584). I now receive this error:
[code]
I will work on this more tomorrow and update accordingly.

[2019-02-05 06:57] mrmartin commented on #924
#1188 will be helpful, but I don't think it's the root of the problem.

At least for me, the weights are an `octet-stream` even when it was failing.
The error was:
`Expected content type application/octet-stream but got null.`

and here's the file, with `Content-Type`:
![tmp](https://user-images.githubusercontent.com/944542/52257317-aa073b80-291a-11e9-9a12-c23eb71c5769.png)

Could it be that the i

[2019-02-05 12:06] #693 closed

[2019-02-05 14:02] dweinberger commented on #1195
On Mon, Feb 4, 2019 at 4:08 PM Shanqing Cai <notifications@github.com>
wrote:

There's nothing listed there. entering "localStorage" in the console also
reports  length:0

It looks like it did work. Screenshot:

[image: image.png]

NOTE: The chances are very high that this is entirely my fault.

[2019-02-05 14:16] BenjaminWegener commented on #1167
thanks for your help!

[2019-02-05 15:16] BenjaminWegener commented on #1136
@rbamila wants to know, how the user in the comment manages the "flush" as he calls it.

[2019-02-05 15:24] nsthorat commented on #1194
Okay will look into this when I get some time

[2019-02-05 15:35] nsthorat commented on #1194
Okay this has to do with what @annxingyuan was seeing in her change (when we switch backend the download tensor gets parented to the wrong backend).

Can you check if this happens in 1.0.0-alpha1?

[2019-02-05 15:44] #1180 closed

[2019-02-05 15:45] tafsiri commented on #1180
Note: A few PRs need to land a new release would need to be made to actually close the issue, but github will auto close this issue when each PR gets merged so i'll update it after they are all in.

[2019-02-05 16:41] tafsiri commented on #1202
Is `yarn prep` working for you? If not you can try running the individual git commands (separated by `&&` specified in https://github.com/tensorflow/tfjs-website/blob/master/package.json#L12. It may be easier to see if there are any git configuration issues that way.

[2019-02-05 17:17] pyu10055 commented on #1194
@nsthorat with the latest on master, the failure becomes
`undefined is not an object (Evaluating texList.indexOf) `
on this [line](https://github.com/tensorflow/tfjs-core/blob/master/src/kernels/webgl/texture_manager.ts#L96)

[2019-02-05 17:42] nsthorat commented on #1194
I think the texShape is correct (2x2 packing) -- Ann can you look at the texList.indexOf problem? I think it's related to the original issue you fixed.

[2019-02-05 17:55] #928 closed

[2019-02-05 17:55] #979 closed

[2019-02-05 17:55] #1124 closed

[2019-02-05 18:44] dsmilkov commented on #860
Added to the 1.0 project board to track this

[2019-02-05 18:45] dsmilkov commented on #1125
We've decided not to make this change for 1.0.

[2019-02-05 18:45] #1125 closed

[2019-02-05 18:48] victordibia commented on #1190
Same problem here. Encountered it while attempting to run the [coco-ssd](https://github.com/tensorflow/tfjs-models/tree/master/coco-ssd) tf-models example code.

**Error**
[code]

**Code**

[code]

P.S. When I run the ssd

[2019-02-05 19:01] #1134 closed

[2019-02-05 19:31] #1188 closed, assigned to pyu10055

[2019-02-05 20:32] tafsiri opened #1203 "Add tf.util to api docs"
We are using more and more functions from tf.util in public code.

[2019-02-05 20:39] dsmilkov commented on #924
Hi all,

The fix just went in: https://github.com/tensorflow/tfjs-core/pull/1532 and will be available in `0.15.1`, which we'll release in 2 days.

[2019-02-05 20:39] #924 closed

[2019-02-05 20:45] QuantumInformation commented on #1189
Initially, apply confused me as its similar name to the apply method on functions prototype.

[2019-02-05 20:49] annxingyuan opened #1204 "Pack all unary ops."

[2019-02-05 20:51] annxingyuan opened #1205 "Create demo that shows how to build a model on top of frozen USE with tfjs-node."

[2019-02-05 20:55] generic-github-user commented on #1202
`yarn prep` was giving an access rights error. I fixed that by changing `git@github.com:tensorflow/tfjs-layers.git` to `github.com/tensorflow/tfjs-layers.git` for all the repositories listed in `.gitmodules` and `config`.

[2019-02-05 21:04] dsmilkov opened #1206 "Expose useful tf.util.* methods to our docs"
Util methods that our examples/tutorials/guides use should be exposed in our API docs. E.g. `tf.util.shuffle()`, `tf.util.flatten()`

[2019-02-05 21:12] dsmilkov commented on #1203
Duplicate of https://github.com/tensorflow/tfjs/issues/1206

[2019-02-05 21:12] #1203 closed

[2019-02-05 21:32] astojilj commented on #825
@annxingyuan
What's your opinion about approach where fusing would happen as part of nodes compiling in tfjs-converter - like in the [prototype here](https://github.com/tensorflow/tfjs-converter/compare/master...astojilj:fusedconvaddact#diff-91817df5c918eb884dea14ca23240852)?

There, I have started prototyping fused conv2d+biasAdd+relu6; this is [corresponding tfjs-core code](https://github.com/te

[2019-02-05 21:51] tafsiri opened #1207 "Add docs for tf.IOHandler to guide"
It is referenced in https://js.tensorflow.org/api/latest/#tf.Model.save but i don't think its docs are exported.

[2019-02-05 23:52] dhrumil83 opened #1208 "coco-ssd demo example does not work"
To get help from the community, we encourage using Stack Overflow and the [`tensorflow.js`](https://stackoverflow.com/questions/tagged/tensorflow.js) tag.

#### TensorFlow.js version

<script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs"> </script>

Also tried this version:
https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@0.15.0

#### Browser version
Chrome: Version 71.0.3578.98 (Official Build

[2019-02-06 00:15] unrealwill opened #1209 "precision issue on android firefox"
To get help from the community, we encourage using Stack Overflow and the [`tensorflow.js`](https://stackoverflow.com/questions/tagged/tensorflow.js) tag.

#### TensorFlow.js version
tfjs@0.14.2
#### Browser version
firefox 65.0 android on a one+ one hardware.
#### Describe the problem or feature request
I have different result on android than I have on my desktop browser.
The model is a simple ke

[2019-02-06 00:17] generic-github-user commented on #1202
I was able to locate the fully built [JSON documentation tree](https://github.com/tensorflow/tfjs-website/blob/master/source/_data/api/0.14.2/docs.json) in the tfjs-website repository after some more searching. I no longer need to build the documentation for myself, but someone else may find this thread useful. Feel free to close the issue.

[2019-02-06 09:13] GustavZ commented on #322
What are the Input dimensions that posenet was trained on?
When re-using your weights, setting the input dims to the same value should result in the best performance, right?

I thought it should have been something common to mobilenet like 224x224, but the input dimensions of the relaesed tflite weights (https://storage.googleapis.com/download.tensorflow.org/models/tflite/gpu/multi_person_mobilene

[2019-02-06 09:24] GustavZ commented on #1137
Update:
1. the convolutions are 1x1
2. found something in the PersonLab paper, but would still be interested in an answer.

New question:
What are the Input dimensions that posenet was trained on?
When re-using your weights, setting the input dims to the same value should result in the best performance, right?

I thought it should have been something common to mobilenet like 224x224, but the input

[2019-02-06 12:12] annxingyuan commented on #1194
Hey @pyu10055,

One of the issues is that you're passing `false` into the `MathBackendWebGL` constructor as the value of `delayedStorage`, which means when you read data from tensors registered to your backend, we keep them on the GPU (https://github.com/tensorflow/tfjs-core/blob/master/src/kernels/backend_webgl.ts#L2339). After reading from a texture we change its `TextureUsage` property to `UPLO

[2019-02-06 13:56] mgoulao commented on #1190
This isn't a tfjs problem. Coco-ssd uses tfjs 0.13.5, so make sure that you have that version in your package.js
`
"dependencies": {
"@tensorflow-models/coco-ssd": "0.1.1",
"@tensorflow/tfjs": "0.13.5"
 }
`

[2019-02-06 14:02] mgoulao commented on #1208
Not a bug, just a compatibility problem. While they don't update to the newest tfjs make sure you have the version 0.13.5 .
`"dependencies": {
    "@tensorflow-models/coco-ssd": "0.1.1",
    "@tensorflow/tfjs": "0.13.5"
  }`

Also a duplicate #1190

[2019-02-06 16:14] dsmilkov commented on #669
Reopening to remind us to remove usage of tf.fromPixels throughout our repos once we release alpha2

[2019-02-06 16:25] jesseragos commented on #711
Hi, anyone there who can help me with this error log?
Here is a complete log for more details [2019-02-06T15_45_05_022Z-debug.log](https://github.com/tensorflow/tfjs/files/2837193/2019-02-06T15_45_05_022Z-debug.log)

---

`$ npm install @tensorflow/tfjs-node`

[code]

[2019-02-06 16:31] nsthorat commented on #1194
Ping, as far as I understand, you shouldn't need delayedStorage=false for the `MathBackendWebGL` constructor, it's really an internal detail about when we upload CPU values to the GPU. Once you confirm that we can just go ahead and remove the bit altogether.

[2019-02-06 18:35] nsthorat opened #1210 "Add deprecation warnings for methods that will be renamed or deleted in 1.0 on the 0.15.x branch."
Deprecated methods in Core:

- `Tensor.get` will now be `Tensor.array` with normal array indexing.
- `Tensor.buffer` will now be `Tensor.bufferSync`. `Tensor.buffer` will become async.
- `tf.fromPixels` => `tf.browser.fromPixels`
- `tf.toPixels` => `tf.browser.toPixels`

Deprecated methods in Layers:
- `tf.loadModel` => `tf.loadLayersModel`

Deprecated methods in Converter:
- `tf.loadFrozenModel`

[2019-02-06 19:07] tafsiri commented on #1150
FYI @caisq I assigned this to you for porting over to the new site. This mainly involves reviewing this tutorial to see if there is anything you want to update or change.

[2019-02-06 21:30] nsthorat commented on #886
Reopening this issue to track actually deleting all the protocol buffer code and removing the dependency before 1.0.

[2019-02-06 21:48] rthadur commented on #824
@kidzik please let us know if this is still an issue ?

[2019-02-06 21:52] rthadur commented on #1136
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-02-06 21:52] #1136 closed

[2019-02-06 21:56] rthadur commented on #938
@kanchenhao @pyu10055 gentle ping if we can close this issue ?

[2019-02-06 21:59] rthadur commented on #593
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-02-06 21:59] #593 closed

[2019-02-06 22:00] rthadur commented on #944
@swatinair123  did @kangyizhang answer your question ?

[2019-02-06 22:02] rthadur commented on #991
closing this as there is no support for feature request.

[2019-02-06 22:02] #991 closed

[2019-02-06 22:07] rthadur commented on #705
closing this as there is a duplicate issue opened [here](https://github.com/tensorflow/tfjs/issues/777).

[2019-02-06 22:07] #705 closed

[2019-02-06 22:08] rthadur commented on #777
@tafsiri gentle ping whom do i assign this to ?

[2019-02-06 23:19] kidzik commented on #824
I'm still getting `Error: Shape mismatch: [null,1000] vs. [1024,1000]`, now with tf version `0.14.2`

[2019-02-07 00:31] pyu10055 commented on #1179
@juharris We just pushed a sentence encoder to our model repo. https://github.com/tensorflow/tfjs-models/tree/master/universal-sentence-encoder
This is based on the tfhub USE lite.

[2019-02-07 01:35] dhrumil83 commented on #1208
Thanks for pointing me to version numbers.
Seems like "@tensorflow/tfjs": "0.13.5" did not return any predictions.
It worked with "@tensorflow/tfjs": "0.13.1"

[2019-02-07 08:29] cpietsch commented on #1092
Any news on this issue ? I am also getting those IORouter Errors:
[code]

[2019-02-07 15:11] caisq opened #1211 "Make onesLike and zerosLike bindable ops"
#### TensorFlow.js version
latest (0.15.0)
tfjs-node latest: 0.2.3

In tfjs-node, onesLike and zerosLike are not ops. As a result, the tensors are created on the JavaScript side, as TypedArray buffers, and get uploaded to the TF kernel (e.g,. the CUDA backend), which can be very expensive if the size of the tensor is large. This happens a lot in both the forward and backward passes, as they are us

[2019-02-07 15:23] dsmilkov commented on #1211
Also while `tf.ones` and `tf.zeros` are not kernels, in Python they call into `tf.fill` which is a kernel. This avoids the allocation of data on the Python side. We should do the same in tfjs-core, that is have `ones` and `zeros` delegate to `fill`

[2019-02-07 15:25] #314 closed

[2019-02-07 15:51] dsmilkov commented on #1211
To summarize the following ops should become kernels:
- `randomNormal`
- `randomUniform`
- `linSpace`
- `range`
- `onesLike`
- `zerosLike`
- `fill` (called by `zeros` and `ones`)

[2019-02-07 16:02] #1202 closed

[2019-02-07 17:12] bileschi commented on #1002
The Request object API should also be threadded up to tf.data.csv.  The current implementation only supports string URLs, correct?

[2019-02-07 17:58] davidsoergel commented on #1002
tf.data.csv() should indeed accept Requests; https://github.com/tensorflow/tfjs-data/pull/135 should fix that.

This bug is specifically about Node, though, IIUC.

[2019-02-07 18:38] nsthorat commented on #1092
This will be fixed in the next release, apologies for the breakage!

[2019-02-07 18:45] bileschi commented on #1002
Thanks

[2019-02-07 19:25] juharris commented on #1179
Good enough for me!

[2019-02-07 19:25] #1179 closed

[2019-02-07 20:56] davidsoergel opened #1212 "Remove special cases for string throughout tfjs-data; use Tensors instead"
tfjs-data was written before string Tensors were available and so had to handle them specially.  Now that string Tensors work, the code can be simplified.

[2019-02-07 21:54] dsmilkov commented on #1137
cc @oveddan and @tylerzhu-github for technical details regarding the posenet architecture.

[2019-02-07 22:31] cpietsch commented on #1092
Thx! Is it already fixed on master and building the package locally would work ?

[2019-02-07 22:46] nsthorat commented on #1092
It's actually a problem from tfjs-core, if you checkout core and run `yarn publish-local` and then run `yarn link-local @tensorflow/tfjs-core` from speech commands

[2019-02-07 22:53] cpietsch commented on #1092
A sweet, thx! Actually I am trying currently to make tfjs-tsne to work with tfjs-node. So I would do that from my fork of tfjs-tsne.

[2019-02-08 00:19] cpietsch commented on #1092
Hm the yarn publish-local did fail with some relative path errors. Now I tried it with "yarn link" and added the alpha of tfjs into the package.json of tfjs-node, which got rid of the path errors leaving me with:
[code]

Just to confirm your info: checkout core, `yarn publish-local` and `yarn link-local @tensorflow/tfjs-core` inside tfjs-tsne (not touching tfjs-node)

[2019-02-08 06:09] rumschuettel opened #1213 "LSTMs: Performance overhead due to JS way worse than gain from using WebGL"
Hi!

We're currently using tf.js for an LSTM that's executed in the browser on a real-time input stream. We noticed that the network becomes almost unusably slow when the number of layers increases beyond 3,/the layer size increases beyond 1024.

To figure out where the bottleneck is, I performed a series of profiling runs, such as:
![image](https://user-images.githubusercontent.com/16973848/52461

[2019-02-08 07:34] evdem commented on #716
TensorFlow Lite on GPU
https://www.tensorflow.org/lite/performance/gpu_advanced
supports some compute shader based functions on OpenGL ES 3.1.
Is it possible to include them into TFjs (e.g. as prototype)?

[2019-02-08 12:32] annxingyuan commented on #825
@astojilj

Very interesting! I'm impressed that you went down that rabbit hole with the converter :)

However I think we should ideally avoid getting into the business of graph rewriting in the converter. I think the more sustainable approach is to work with the [Grappler](https://github.com/tensorflow/tensorflow/tree/master/tensorflow/core/grappler) team to do this sort of work upstream.

That be

[2019-02-08 12:59] astojilj commented on #825
@annxingyuan

Thanks.

I could [see that Grappler](https://github.com/tensorflow/tensorflow/commit/bd2610f638bd35dca30bb00a6c16da775b3bfcdf) is already working on it.
The approach I propose here is similar to what, my understanding is like that, Grappler is doing for tensorflow: in run time (during compilation) optimize graph for inference. In a way, I wouldn't use term rewrite.

Alternatively, th

[2019-02-08 18:34] #1194 closed

[2019-02-08 19:17] #669 closed

[2019-02-08 19:24] caisq commented on #1213
@rumschuettel What version of TF.js are you using?

[2019-02-08 20:44] nsthorat opened #1216 "Allow interfaces in core to be unpacked when used in dependent packages in the API docs."
Right now core interfaces that get used in packages that depend on core will not be unpacked.

We should allow interface unpacking to cross package boundaries in the API doc generator.

[2019-02-08 21:07] amcelroy opened #1217 "Fully Convolutional Network - conv2dTranspose layer issue?"
#### TensorFlow.js version
tfjs-node-gpu 0.2.1

#### Describe the problem or feature request
I'm trying to make a supervised fully convolutional network and am not able to generate appropriate outputs. The net structure is based on several FCN examples done, specifically this one: http://deeplearning.net/tutorial/fcn_2D_segm.html

I've put the mask in a one-hot 4d boolean vector with the order of

[2019-02-08 22:29] dsmilkov opened #1218 "Fix C++ warnings in yarn test in tfjs-node"
We have a few core tests that call some ops with invalid args on purpose and expect the test to fail. This results in c++ logging some warn messages and throwing an error.

We should early check for valid args in the js code, before we call any kernel:
1) early check in js is faster
2) gives smaller stack trace and gives us control for the error msg to the user.

[2019-02-08 22:33] rumschuettel commented on #1213
I could reproduce this in 0.14.1, then updated to 0.15 where it appears
unchanged, then 1.0.0-alpha, with the same outcome.

On Fri, 8 Feb 2019, 12:24 Shanqing Cai <notifications@github.com wrote:

[2019-02-09 00:09] caisq commented on #1213
@rumschuettel FYI, it is in our roadmap to improve performance and RNN performance is a part of it. Can you share with me the basic configuration of your model. Sharing the model JSON would be idea, however, if that's not possible (e.g., due to propriety concerns), telling me the config of your LSTM part would be sufficient, as long as it helps reproducing the performance problem. You mentioned `u

[2019-02-09 03:21] victordibia commented on #1190
Thanks for the note. I confirm `"@tensorflow/tfjs": "0.13.5"` works for me while loading a custom model.

[2019-02-09 05:44] rumschuettel commented on #1213
Inference. Example model details for which the slowdown is very noticeable:
3 layers, width 512, input size 30, output size 42.
We feed a sequence of length 1 per call (as our input is incremental), and a batch size of 1.
`trainable` is false everywhere, and both `returnSequences` as well as `stateful` is true.

Would it be significantly faster to feed in sequences of, say, size 10, instead of 10

[2019-02-09 07:48] rumschuettel commented on #1213
I can confirm that calling the LSTM with a sequence of length 10 instead of 10 times calling it with a sequence of length 1 reduces the JS overhead significantly (roughly 10-15%). The time ratio is now
Javascript: 25%
DOM: 15%
Graphics: 10%
as compared to what's shown in the first screenshot.

[2019-02-09 08:15] pkamath2 commented on #517
Hi @kangyizhang, In your comment you mention that you were able to deploy to GCP, was there anything specific you had to do in order to deploy?

I get the same error while deploying to GCP. Error: libtensorflow.so: cannot open shared object file: No such file or directory.

Did you have to bundle the node_modules/@tensorflow from your local while deploying?

[2019-02-09 15:49] iacovlev-pavel commented on #1121
More info:

This line checks if tensorflow.dll exist:
https://github.com/tensorflow/tfjs-node/blob/master/scripts/install.js#L186

it does not so it empties the deps directory:
https://github.com/tensorflow/tfjs-node/blob/master/scripts/install.js#L191

then it downloads:
https://storage.googleapis.com/tensorflow/libtensorflow/libtensorflow-gpu-windows-x86_64-1.12.0.zip

Now the GPU zip has a diff

[2019-02-09 21:08] rumschuettel commented on #1213
So the core overhead in JS (apart from the numerous nested `tf.tidy`-stuff) is to be found in `LSTMCell`, an anonymous function inside that only shows up as `o`, and `mul_`.

All of them do significant calls to the GPU; yet for each of them, the JS overhead is roughly twice the time spent on the GPU.

![image](https://user-images.githubusercontent.com/16973848/52526322-b74e5e00-2c6b-11e9-9c4d-cd51

[2019-02-10 04:23] ToonTalk commented on #882
I just discovered my bug so that randomly 1/6th of time it created a model with a dense layer whose size was a non-integer. Perhaps tf.layers.dense could throw an error in such a case.

[2019-02-10 04:33] caisq commented on #882
@ToonTalk Ah - thanks for the info. Are you positive that the non-integer `units` value is the cause of your error? If so, we can very easily add a check for that sort of invalid values.

[2019-02-10 05:09] ToonTalk commented on #882
I added Math.round(...) and the problem went away. I've run my program 4 or 5 times and for more iterations and unlike before no shader compilation errors.

[2019-02-10 10:19] xianrenb commented on #510
Current version of TensorFlow.js is still not usable for my Intel GPU based system.
Previously, I tested various versions of tfjs-core, and found something between version 0.13.2 and 0.13.3 caused my program not working correctly.
The most probable one is [https://github.com/tensorflow/tfjs-core/commit/5a4c4fd99eacfee454222e080d5cd422b61265f1](https://github.com/tensorflow/tfjs-core/commit/5a4c4fd

[2019-02-10 15:58] amcelroy commented on #1217
Update: I think the issue has to do with the conv2dTranspose layer. I swapped it out with an upsample2d -> conv2d layer and the network is training and the loss function is dropping.

[2019-02-10 19:43] mizchi commented on #102
I tried tfjs with https://github.com/tensorflow/tfjs/issues/102#issuecomment-442790039 polyfill

Basic tensorflow.js usages work correctly, but with posenet does not work.

![](https://i.gyazo.com/4af55d8a4b81b5291f7586964eafafed.png)

[code]

I found this.

https://github.com/tensorflow/tfjs-core/blob/3b05a4f34193da2c6b3c86370df850c2860d5b72/src/kernels/backend_webgl.ts#L218-L221

HTMLVideoElemen

[2019-02-10 20:13] mizchi commented on #102
This work arround works with posenet (very slow)

[code]

[2019-02-11 03:06] chenqing opened #1219 "Why must use canvas in node backend? other image process library return imageData also acceptable?"
To get help from the community, we encourage using Stack Overflow and the [`tensorflow.js`](https://stackoverflow.com/questions/tagged/tensorflow.js) tag.

#### TensorFlow.js version
0.14.2
#### Browser version
NAN / node js
#### Describe the problem or feature request
Why must use canvas in node backend? other image process library return imageData also acceptable?

[2019-02-11 07:06] iacovlev-pavel commented on #1120
Looks like this is a duplicate of #1186. Fixed in 0.3.0.

[2019-02-11 07:06] #1120 closed

[2019-02-11 07:12] NoobTW commented on #1121
Same here. Node v10, VS 2015.
Cannot install 0.2.2, 0.2.3, and 0.3.0 while 0.2.1 works.

[2019-02-11 13:29] xianrenb commented on #510
Perhaps it is an issue of ANGLE (Almost Native Graphics Layer Engine).
There are many related bugs, e.g., [https://www.shadertoy.com/view/MdtfWN](https://www.shadertoy.com/view/MdtfWN).

[2019-02-11 16:34] tafsiri commented on #1158
Depends on https://github.com/tensorflow/tfjs/issues/1175 and https://github.com/tensorflow/tfjs/issues/1207

PR submitted. https://github.com/tensorflow/tfjs-website/pull/240

[2019-02-11 16:44] jaygit123 opened #1220 "Keras LSTM uni & bidirectional models converted to Tensorflowjs not producing correct inference"
[`tensorflow.js`]

#### TensorFlow.js version
tensorflow                1.12.0
tensorflow-base           1.12.0
tensorflow-gpu            1.12.0
tensorflow-hub            0.2.0
tensorflowjs              0.8.0

#### Browser version
Firefox 65.0 (64-it) on Windows 10
Microsoft Edge 42.17134.1.0 on Windows 10

#### Describe the problem or feature request
I have created & trained a Keras based LSTM bi

[2019-02-11 17:04] tafsiri opened #1221 "Set up redirects for ported pages."

[2019-02-11 18:58] tylerzhu-github commented on #1137
1. What are the dimension of the 4 parallel convolutions that are applied to the output of the mobilenet (offset, heatmap, displacementFwd, displacementBwd).
You are absolutely right and they are all 1x1 convolutions. The number of output channels depends on the number of keypoints. More details can be found here:
https://arxiv.org/abs/1701.01779
https://arxiv.org/abs/1803.08225

2. What is the lo

[2019-02-11 19:17] nsthorat opened #1222 "bool Tensors do not get printed properly with Tensor.print()."
[code]

Should print:
[code]

But actually prints:

[code]

[2019-02-11 19:28] tafsiri opened #1223 "Update codelabs to use 1.0 when it launches"
pre-work is to test on the alpha now.

[2019-02-11 19:29] #882 closed

[2019-02-11 19:38] pyu10055 commented on #1169
@Pravez The reason for having executeAsync method is not performance specific, it is due to some of op's output shapes cannot be pre-determined during the compilation time.

It is interesting that you are experience 1 sec improvement on the your model when using executeAsync. The execute method for most part is actually async in term of javascript, since it pushes all the calculation to GPU, and o

[2019-02-11 21:13] nsthorat commented on #1175
FYI: tfjs-core@0.15.2 and tfjs-core@1.0.0-alpha3 have been released with the `LoadOptions` interface.

The next step is to have tfjs-converter and tfjs-layers add the methods `tf.loadGraphModel` and `tf.loadLayersModel` which have the new API and route to the old methods at master. In that PR, don't delete the old methods since they both need to exist on the minor version.

After those changes are

[2019-02-11 21:23] conorpo commented on #711
When I attempt to install windows build tools globally via npm I get this error

Downloading vs_BuildTools.exe
[============================================>] 100.0% of 1.12 MB (1.12 MB/s)
Downloaded vs_BuildTools.exe. Saved to C:\Users\Conor\.windows-build-tools\vs_BuildTools.exe.

Starting installation...
Launched installers, now waiting for them to finish.
This will likely take some time - plea

[2019-02-11 21:30] amcelroy commented on #1217
Well, I think the issue is solved, I found a solution and posted on stack overflow: https://stackoverflow.com/questions/54600956/fully-convolutional-network/54639404#54639404. Switching from conv2dTranspose to upSample2d and conv2d seem to be the biggest factor, not sure if there is an issue with conv2dTranspose or not, but will close it out.

[2019-02-11 21:30] #1217 closed

[2019-02-11 21:37] Treast opened #1224 "Node - Shape does not match typed-array in bindData()"
#### TensorFlow.js version
TFJS: 0.15.1
TFJS-Node: 0.3.0

#### Browser version
Node version: 11.6.0
NPM version: 6.7.0

#### Describe the problem or feature request
I was trying to access the webcam and use the posenet model on it, but when I estimate a single pose, I got this error:
[code]

#### Code to reproduce the bug / link to feature request
[code]

[2019-02-12 01:02] cpietsch commented on #1092
v0.3.0 fixed the IORouter issue. But now I get a binding error:
[code]

[2019-02-12 03:17] jaygit123 commented on #1220
Just to add...in the same environment, I had tried converting my finetuned MobileNet Keras model to tensorflowjs. This works perfectly in the browser.
Also, I have ensured that every individual video frame sent to LSTM model as a sequence is correct. (used MobileNet model to recognize each frame and it does correctly and hence concluding that frames sent to LSTM are perfect).

So, I am sure the en

[2019-02-12 03:18] #686 closed

[2019-02-12 10:27] iacovlev-pavel commented on #841
@pyu10055
 * Training a model, then pressing CTRL+C
 * Saving the model
[code]

[code]
 * Then running the model with tfjs-node-gpu I get the following error: `Error: Error in concat1D: rank of tensors[2] must be the same as the rank of the rest (1)`

The above comments mention that the post processing step needs to be removed, how would I do that in the `faster_rcnn_resnet101` model since the htt

[2019-02-12 11:52] iacovlev-pavel commented on #1053
Seems to be fixed in 0.3.0

[2019-02-12 11:52] #1053 closed

[2019-02-12 12:34] quantuminformation opened #1225 ".shape doesn't exist in the typescript d.ts for result of flatten()"
If I take the example from https://js.tensorflow.org/api/0.14.2/#layers.flatten

#### TensorFlow.js version
15.1
#### Browser version
Latest chrome
#### Describe the problem or feature request

We get this error:

<img width="834" alt="screen shot 2019-02-12 at 12 34 22" src="https://user-images.githubusercontent.com/216566/52635724-929ff380-2ec2-11e9-97b7-41668062a5f1.png">

[2019-02-12 14:16] kangyizhang commented on #711
hi @conorpo

Can you check if you have microsoft visual studio installed? The error seems to be related with windows environment setup.

[2019-02-12 15:08] caisq commented on #336
This is coming in v1.0

[2019-02-12 15:10] caisq commented on #21
Fixed already. See the date-conversion-attention example in tfjs-examples for usage example.

[2019-02-12 15:10] #21 closed

[2019-02-12 15:18] caisq commented on #254
@tafsiri Will look into incorporating an example such as https://codepen.io/caisq/pen/jdBgwB in the new documentation.

[2019-02-12 15:20] caisq commented on #272
@gabrielglbh loadModel in node.js version of TF.js supports file:// URLs. Does that work for Ionic by any chance?

[2019-02-12 15:27] caisq commented on #317
Maybe instead of supporting non-batched,  single-example input in `predict`, which will involve some ambiguity for models with multiple inputs, we should add a method called `predictOnExample()`

[2019-02-12 15:30] caisq commented on #373
Reassigning to @davidsoergel for follow-up investigation.

[2019-02-12 15:32] caisq commented on #437
Closing the issue as the layer is still not a standard layer in Keras. Users can implement the custom layer.

[2019-02-12 15:32] #437 closed

[2019-02-12 15:33] nsthorat commented on #317
Can you remind me what the problem with multi-input models is? I still think we should do this as part of `predict`.

[2019-02-12 15:35] caisq commented on #479
Duplicate of https://github.com/tensorflow/tfjs/issues/410, which is fixed recently

[2019-02-12 15:35] #479 closed

[2019-02-12 15:38] caisq commented on #592
@nsthorat Let's chat about how to get this done in tfjs-layers.

[2019-02-12 15:40] caisq commented on #645
@bileschi , can you talk to @dsmilkov and @nsthorat about this?

[2019-02-12 15:41] bileschi commented on #645
I got this, will talk to nikhil & daniel

[2019-02-12 15:42] caisq commented on #673
To investigate.

[2019-02-12 15:43] caisq commented on #680
@tafsiri Let's look this together as a part of the website improvement.

[2019-02-12 15:46] caisq commented on #712
Need to investigate if Python Keras shows the same behavior.

[2019-02-12 15:52] caisq commented on #918
I'm pretty sure that 'leakyrelu' is not supported as a string activation even in Python Keras. It's accessible via tf.layers.* though.

[2019-02-12 15:52] #918 closed

[2019-02-12 15:55] davidsoergel commented on #918
See also https://github.com/tensorflow/tfjs/issues/1093

[2019-02-12 15:56] caisq commented on #993
cc @tafsiri

[2019-02-12 16:25] nsthorat commented on #592
tf.Optimizer is a core method, theoretically this should be solved: https://github.com/tensorflow/tfjs-core/blob/master/src/optimizers/optimizer.ts#L80

For any other layers classes, add the Symbol.hasInstance check to verify properties of the instance match what you'd expect on an object of that class.

[2019-02-12 18:02] tafsiri opened #1226 "show functions should have data first params"
To align with render functions

[2019-02-12 18:06] tafsiri opened #1227 "Re-render causes chart growth"

[2019-02-12 18:06] tafsiri opened #1228 "implement render.images"

[2019-02-12 18:06] tafsiri opened #1229 "Horizontal scrolling for tab section"

[2019-02-12 18:17] pyu10055 opened #1230 "Update Layer models_tests to stub core API instead of fetch"
To get help from the community, we encourage using Stack Overflow and the [`tensorflow.js`](https://stackoverflow.com/questions/tagged/tensorflow.js) tag.

#### TensorFlow.js version
1.0.0.alpha2
#### Browser version

#### Describe the problem or feature request
Currently model loading tests in [src](https://github.com/tensorflow/tfjs-layers/blob/master/src/models_test.ts) is stubbing window fetch

[2019-02-12 18:39] tafsiri opened #1231 "tooltips on some charts cause jittery rendering."

[2019-02-12 18:39] mmmaks2004 commented on #841
iacovlev-pavel ,   does this run without an error on your model?
tensorflowjs_converter --input_format=tf_saved_model \
                   --output_node_names='Postprocessor/ExpandDims_1,Postprocessor/Slice' \
                   --saved_model_tags=serve \
                   ./saved_model \
                   ./web_model

[2019-02-12 18:39] mmmaks2004 commented on #841
iacovlev-pavel ,   does this run without an error on your model?
tensorflowjs_converter --input_format=tf_saved_model \
                   --output_node_names='Postprocessor/ExpandDims_1,Postprocessor/Slice' \
                   --saved_model_tags=serve \
                   ./saved_model \
                   ./web_model

[2019-02-12 18:40] tafsiri commented on #1231
barchart 1 in watch-api demonstrates this

[2019-02-12 18:40] nsthorat opened #1232 "Document and expose environment setters."
We should document `tf.enableProdMode()` and expose a method `tf.enableDebugMode()`.

[2019-02-12 18:57] nsthorat opened #1233 "Guide: Choosing between the browser and Node.js"
When to use node.js vs the browser, memory limitations, sensor limitations, behaviors, advantages (privacy)

[2019-02-12 19:53] tafsiri commented on #1231
For future reference, this would only occur in specific situations, e.g. in

[code]

the fontsize needs to be 14 to cause the issue, font sizes like 18 or 21 do not display the problem. Current fix seems to be removing all padding.

[2019-02-12 21:21] conorpo commented on #711
According to the visual studio installer I have the following installed : Visual Studio Community 2017 (2) and Visual Studio Build Tools 2017

[2019-02-12 23:01] tafsiri commented on #1227
For future reference, i hadn't been able to reproduce this for a long time in my integration test demo because of a missing doctype. That put the browser in quirks mode under which this bug does not surface.

[2019-02-13 00:59] ToonTalk commented on #336
Great to hear v1.0 is coming soon. I wonder if there is a roadmap anywhere. And when I went to https://github.com/tensorflow/tfjs/releases I see documentation about 0.14.1 but https://js.tensorflow.org/api/latest/ is at 0.15.1

[2019-02-13 14:30] caisq opened #1234 "Upgrade tfjs-examples to new API in tfjs v1.0"
- This is in coordination with the breaking changes in v1.0

[2019-02-13 14:56] QuantumInformation commented on #753
I am getting this: could it be related?
[code]

[2019-02-13 15:12] dar5hak commented on #753
@QuantumInformation There seems to be nothing wrong with your `index.ts`, so this error might very well be harmless.

[2019-02-13 15:16] QuantumInformation commented on #753
Yeah but it would kill CI and makes me sad.

On Wed, 13 Feb 2019 at 15:12, Darshak Parikh <notifications@github.com>
wrote:

--

Kind regards

Nikos Katsikanis

[2019-02-13 16:26] leemengtaiwan opened #1235 "Can't predict using loaded FrozenModel"
I encountered this error when trying to use my own FrozenModel to predict a dummy input.

#### TensorFlow.js version

I think it's `0.14.2` because I just simply run the setup command `yarn` indicated at [tfjs-examples/mobilenet/](https://github.com/tensorflow/tfjs-examples/tree/master/mobilenet) and check the content of newly created `node_modules/@tensorflow/tfjs/package.json`:

[code]
#### Brow

[2019-02-13 16:39] tafsiri commented on #993
+1

related to https://github.com/tensorflow/tfjs/issues/1207

[2019-02-13 16:42] #1227 closed

[2019-02-13 17:51] dsmilkov opened #1236 "Rename dataset.forEach() to dataset.each() to avoid confusion with Array.forEach()"
Rename `dataset.forEach()` to `dataset.forEachAsync()` to avoid confusion with `Array.forEach()` and confusing sync vs async iteration.

So we will have:
[code]

Later when the async iteration proposal gets finalized: https://tc39.github.io/proposal-async-iteration/, we will support also:

[code]

[2019-02-13 17:52] dsmilkov commented on #1236
cc @caisq @bileschi @nsthorat

[2019-02-13 17:56] bileschi commented on #1236
@davidsoergel

[2019-02-13 17:56] bileschi commented on #1236
@kangyizhang

[2019-02-13 18:15] gabrielglbh commented on #272
@caisq When installing tfjs-node v0.3.0 in the project I get this error: Cannot find module './tfjs_binding'. So I cannot test wether it works or not with the node version of tfjs. When solving this issue, I will notify here if it works.

[2019-02-13 18:25] dsmilkov commented on #1236
FYI, Once we release tfjs alpha 3, I'll update the boston-housing example and test it.

[2019-02-13 19:09] nkreeger opened #1237 "Examples repository should have some integration tests"
With the growth in the number of examples, we should start to implement some unit tests. This is going to require some discussion for implementing a solution for Node.js and browser examples.

[2019-02-13 19:58] caisq commented on #1150
Will do.

[2019-02-13 21:26] davidsoergel opened #1238 "Add tests for error detection in fitDataset() / standardizeDataIteratorOutput()"
fitDataset() expects a Dataset that produces elements of a certain shape, with matching batch sizes etc., and throws errors (from standardizeDataIteratorOutput()) when the conditions are not met.  These errors should be tested.

[2019-02-13 22:48] #1010 closed

[2019-02-14 01:14] dsmilkov opened #1240 "dataset.shuffle() gets stuck in infinite loop"
Datasets with `shuffle()` transform freeze the browser.

Repro:
[code]

[2019-02-14 01:57] kangyizhang commented on #1240
I think this is because of missing arguments when calling `.shuffle()`, we should add default value for the arguments.

[2019-02-14 02:00] dsmilkov commented on #1240
Ah nice catch, Let's default it to some reasonable value (~1000). I'm dogfooding this in plain js so it is extremely easy to forget to pass a value. At the least, a user-friendly error message letting me know i need to provide a bufferSize.

[2019-02-14 02:53] leemengtaiwan commented on #1235
Updated: using the latest version of tfjs still produced the exact same error.

No idea for debugging this.

[2019-02-14 03:25] caisq commented on #1237
We've already started adding unit tests to some TF.js examples, e.g.,
https://github.com/tensorflow/tfjs-examples/blob/master/date-conversion-attention/model_test.js
https://github.com/tensorflow/tfjs-examples/blob/master/date-conversion-attention/date_format_test.js

These tests are currently run manually. But running them automatically with Travis or other testing infra and adding more tests wil

[2019-02-14 03:54] dsmilkov commented on #1240
Actually, since most of the time we expect shuffle to be "ideal", how about:

- if `dataset.size` is defined, `bufferSize` defaults to it, so it shuffles the whole dataset.
- if `dataset.size` is missing, throw an error, asking for explicit `bufferSize`.

[2019-02-14 04:21] caisq commented on #1220
Hi @jaygit123 Thanks for filing the issue. I looked into the issue a little. When I tried to run the `yarn watch` commands in the zip file that you kindly provided, I ran into an error that says it can't find "...cat.jpg".

So instead of relying on your example, I did the following:
1. I loaded the model.json with `tf.loadModel()`.
2. Synthesize some artificial inputs of the required shape ([1, 7,

[2019-02-14 04:21] #1038 closed

[2019-02-14 04:21] #1212 closed

[2019-02-14 07:58] Sparkier opened #1241 "TypeScript compile error on 0.15.1"
#### TensorFlow.js version
0.15.1

#### Browser version
Browser independent, since compilation already fails.

#### Describe the problem or feature request
Typescript throws an error, when importing tfjs.

[code]

#### Code to reproduce the bug / link to feature request
Console:
[code]
index.ts
[code]
Console:
[code]

[2019-02-14 08:22] jaygit123 commented on #1220
Hello @caisq,
Thanks for investigating the issue.
My apologies for missing few files in the zip file. I have updated the zip file now with all required files. So, please download the updated zip, unzip, run 'yarn' and then 'yarn watch'. Post that, follow the instructions on index.html. (zip file to download is [here]( https://drive.google.com/open?id=1JnR_tpsqdV-oEeKOVbKn2DSzWH3CFFz_ ))
Once you f

[2019-02-14 08:40] jaygit123 commented on #1220
@caisq, thought this input will be helpful.

I used the '--input_format' as 'keras' while converting python keras model to tfjs model, as my lstm model uses 'keras' library outside tf and not 'tf.keras' the one inside tf.

[2019-02-14 08:55] QuantumInformation commented on #860
I'm not having luck with sourcemaps here

https://github.com/QuantumInformation/tensorflowjs-playground/blob/master/api-examples/src/index.ts#L4

if I try to step into that line in the browser it takes me to minified code.

<img width="1013" alt="screenshot 2019-02-14 at 08 55 05" src="https://user-images.githubusercontent.com/216566/52774888-41b10c00-3036-11e9-8ea9-e8565cc7b68b.png">

[2019-02-14 10:51] ritikrishu opened #1242 "Not able to run model on HTMLImageElement"
#### TensorFlow.js version
0.15.1
#### Browser version
Chrome 71.0.3578.98
#### Describe the problem or feature request
when I try to run `model.detect` on a remote image. It says,
[code]
However, if I serve the image from a localhost server, it works.
#### Code to reproduce the bug / link to feature request
[code]
https://jsfiddle.net/rszv6a70/28/

[2019-02-14 10:58] ritikrishu commented on #1242
Also does not works with local file system images, unless I serve them via localhost as well.

[2019-02-14 14:45] caisq commented on #1241
cc @davidsoergel I think this can be solved by upgrading the version of typescript. Can you confirm?

[2019-02-14 14:56] davidsoergel commented on #1241
Yes, that seems like the likely explanation.  We use mapped types that are available starting in TS 2.9 (https://www.typescriptlang.org/docs/handbook/release-notes/typescript-2-9.html).  tfjs-layers currently specifies TS 2.8.3, so I don't understand how things have been working for us.  I'll investigate that out of curiosity, but in any case we need to bring all tfjs packages up to 2.9.2.

[2019-02-14 15:22] Sparkier commented on #1241
Previously, I was using typescript 3.3.3, I tried downgrading to 2.9.2 and then 2.8.3. None of this fixed this problem. So I suppose it is not because I have a newer typescript version.

[2019-02-14 15:37] #1084 closed

[2019-02-14 16:00] #1168 closed

[2019-02-14 16:00] #1231 closed

[2019-02-14 16:00] Treast commented on #1224
Seems like I'm the only one...

[2019-02-14 16:06] #860 closed

[2019-02-14 16:08] Sparkier commented on #1241
I found out that this has to do with the compiler options for TypeScript rather than the compiler version itself. The following flags prevent successful compilation:
[code]
This is included in:
[code]
This flag is included in many tsconfig files, for example also in the default one generated by running:
[code]

[2019-02-14 16:30] dsmilkov commented on #1240
The fact that `dataset.size` is known means that the dataset fits in CPU memory, so there is no problem to shuffle the whole thing.

[2019-02-14 17:03] leemengtaiwan commented on #1235
Hi there, what information can I provide to get any comments or suggestions? Really want to solve this issue and get the model to work.

[2019-02-14 18:20] caisq opened #1243 "Remove loadWeightsFromJson"
It's a legacy format for encoding weights. Should be deprecated and removed now.

[2019-02-14 19:10] #1146 closed

[2019-02-14 19:16] davidsoergel opened #1244 "Augment Dataset.size with Dataset.maxSize and Dataset.minSize"
If I have a dataset `ds` of unknown size, then `ds.take(100)` currently produces another dataset of unknown size-- but we could usefully track that the size is now *at most* 100 (and similarly throughout the size-propagation code).

[2019-02-14 19:48] davidsoergel commented on #1240
`dataset.size` may well be known without the whole thing fitting in memory-- maybe not in the current implementation, but certainly in principle.  a) we could be streaming fixed-length records from a large file whose total size is known. b) we might have already done a full pass (e.g., to collect stats) so now we can know how big the dataset is.

Also, what is being shuffled may well be Tensors, s

[2019-02-14 20:15] davidsoergel commented on #1241
Aha gotcha.  Thanks for tracking that down.  We don't use `strictNullChecks` in TFJS, but of course we also don't want to cause errors in dependent projects that do use it.

I'll continue looking into whether we can fix this case on our end.  In the meantime, you can use the `skipLibCheck` compiler option to turn off the strict checking for dependencies, while leaving it on for your own code.  (Se

[2019-02-14 23:31] #1240 closed

[2019-02-15 08:17] QuantumInformation opened #1248 "Stepping into source takes me to minified TensorFlow code"
I'm not having luck with sourcemaps here

https://github.com/QuantumInformation/tensorflowjs-playground/blob/master/api-examples/src/index.ts#L4

if I try to step into that line in the browser it takes me to minified code.

<img alt="screenshot 2019-02-14 at 08 55 05" width="1013" src="https://user-images.githubusercontent.com/216566/52774888-41b10c00-3036-11e9-8ea9-e8565cc7b68b.png">

However the

[2019-02-15 08:35] yofreke commented on #1092
@cpietsch Seems like a missing type in the published package.  If you want a temporary hack that unstuck my tsc, add this to your `postinstall`:

[code]

[2019-02-15 09:11] QuantumInformation opened #1249 "It would be good for https://js.tensorflow.org/api/ to redirect to latest api version"
Currently, if you visit https://js.tensorflow.org/api/ you get a 404

This file does not exist and there was no index.html found in the current directory or 404.html in the root directory.

It would be nice if it took you to the latest version, ie https://js.tensorflow.org/api/0.15.1/

This is nice for link sharing in documentation and training.

[2019-02-15 09:38] QuantumInformation commented on #1225
I also found another d.ts one for the outputs prop:

<img width="1030" alt="screenshot 2019-02-15 at 09 36 59" src="https://user-images.githubusercontent.com/216566/52847879-50b2bf80-3105-11e9-8b65-ae29c0cbb6a7.png">

The d.ts files are autogenerated? If you want I can test the tf-core repo to see what it going on?

[2019-02-15 13:59] annxingyuan opened #1250 "Each backend should track its own byte usage"
The engine can't know true byte usage, especially on the WebGL backend, because certain ops (e.g. shallow slice) do not allocate bytes strictly according to logical shape.

[2019-02-15 14:34] nsthorat commented on #1092
The IORouter problem was fixed, Nick can you look at these build issues?

[2019-02-15 14:56] caisq commented on #336
@ToonTalk Yeah, we are currently a little sloppy in terms of making release notes. We'll make a note to improve that. As for roadmap, we are currently heads-down working on v1.0 release. We'll visit releasing a roadmap after it settles. Thank you for your feedback.

[2019-02-15 14:56] #336 closed

[2019-02-15 15:45] tafsiri commented on #1242
I can confirm that I can reproduce the bug and it seems to be a regression between 0.14.1 and 0.14.2

@ritikrishu You can change the script tag that loads tfjs in your program to `<script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@0.14.1/dist/tf.min.js"> ` as a workaround in the meantime.

cc @pyu10055

[2019-02-15 17:53] dsmilkov opened #1251 "Add integration tests with <script> tags"
Add an integration test for the union package (and possibly for the smaller packages) that loads the library in a <script> tag and calls a few commands and make sure no warning or error messages show up.

This will prevent issues like https://github.com/tensorflow/tfjs-converter/pull/306

For example:

[code]

[2019-02-15 18:32] #421 closed

[2019-02-15 18:35] EddieOne commented on #336
Awesome work, a lot of inspiring things happening around tfjs. Thanks!🙇

[2019-02-15 18:43] ritikrishu commented on #1242
@tafsiri thanks, bro! you saved my day ❤️

[2019-02-15 19:22] caisq commented on #421
@nsthorat It is now :) Sorry for the delay.

[2019-02-15 19:27] jaygit123 commented on #1220
Hi Shanqing,Hope you saw my response and additional inputs. Any updates please?Regards,JayOn 14-Feb-2019 9:51 AM, Shanqing Cai <notifications@github.com> wrote:Hi @jaygit123 Thanks for filing the issue. I looked into the issue a little. When I tried to run the yarn watch commands in the zip file that you kindly provided, I ran into an error that says it can't find "...cat.jpg".
So instead of relyi

[2019-02-15 20:41] rthadur commented on #1249
@QuantumInformation  thank you , are you referring to [README](https://github.com/tensorflow/tfjs/blob/master/README.md) file where the API link is there or a different place ?

[2019-02-15 20:52] rthadur commented on #1208
@dhrumil83 glad it worked for you , closing this issue for now as this is a duplicate.

[2019-02-15 20:52] #1208 closed

[2019-02-15 20:53] rthadur commented on #1190
@timekarma  gentle ping , if this is still a issue ?

[2019-02-15 22:37] bryan-14four commented on #952
Has anyone resolved this yet or have any insight? I wonder if the issue is really even related to fragment shader compilation at all. I have an old project using TFJS which is working on my Galaxy S4/S5 devices. My current project is also using TFJS via faceapi.js, but it is running into the fragment shader compilation issue mentioned above on those devices. I tried taking tfjs-core from my old pr

[2019-02-16 01:42] nkreeger opened #1254 "Ship with node-gyp-pre for at least Windows"
To help avoid problems with node-gyp on Windows machines - we should at least ship pre-built binaries using node-gyp-pre. This might also solve problems on Linux cloud instances that re-locate binaries.

[2019-02-16 03:57] caisq commented on #1213
@dsmilkov When you get a chance, I'd like to chat with you about the profile picture provided above. `mul_` is from tfjs-core and `o` is probably the argument function to `tidy()`. I want to see if there is by any chance any overhead related to shader compilation here.

[2019-02-16 04:54] rumschuettel commented on #1213
please let me know if I can be of any help.

[2019-02-16 10:03] Naikno commented on #569
I found this error with version 0.15.1 instead it works with 0.14.0

[2019-02-16 13:35] QuantumInformation commented on #1249
The link wasn’t anywhere I invented it.  I wanted to use it in my tfjs
training so that my users could go immediately to the latest version but
not having to update the documentation.

On Fri, 15 Feb 2019 at 20:41, rthadur <notifications@github.com> wrote:

--

Kind regards

Nikos Katsikanis

[2019-02-16 16:16] nsthorat commented on #569
@naikno can you share the model where you’re having issues?

@pyu10055 can you take a look since this is coming up again?

[2019-02-16 16:56] dsmilkov commented on #1213
Thanks @rumschuettel for the analysis. A few thoughts:

- Any performance optimizations are more than welcome! If you do such optimizations and send us a PR, please also share benchmark code so we can reproduce it and make sure it doesn't negatively impact other use-cases.
- It is hard for us to analyze what's going on from screenshots like this.
  - Can you send us pointers to your code?

Tips fo

[2019-02-16 23:09] nkreeger commented on #1121
Looks like some more Windows build fun - I had something similar and this fixed it for me:

Open an administrative prompt and run the following:
[code]

Then try re-installing/yarn'ing. If that does not work - try running `node-gyp configure --verbose` from your `node_modules` or a clone of tfjs-node.

From a clone of `tfjs-node` you can enable gpu locally by running:
[code]

That will download th