[2019-03-25 14:57] tafsiri opened #1442 "Style docs header to better match new site style."

[2019-03-25 15:02] davidsoergel commented on #751
Yep, I get still get errors that appear to be more or less the same thing:

[code]

[2019-03-25 15:03] justadudewhohacks commented on #1440
Hi @annxingyuan,

Yes, I just checked this demo again. Updating to tfjs-core to latest (1.0.2) you can still reproduce this issue with the demo. You should see the GPU memory grow after clicking the RUN button a few times:
![image](https://user-images.githubusercontent.com/31125521/54930110-fa604a00-4f16-11e9-820a-21a5fac51259.png)

------------

Good catch, thanks! Indeed setting `tf.ENV.set('WEB

[2019-03-25 15:19] annxingyuan commented on #1440
Hey @justadudewhohacks - as a stopgap measure just so you can get your unit tests to pass, you could manually create a backend in your `describe` block, and then call `backend.dispose()` (which will call `WebGLContext.deleteTexture` on each texture that's been created). This is essentially the same as clearing the texture cache manually.

We manually create backends as part of our unit tests - you

[2019-03-25 15:24] annxingyuan commented on #1440
@nsthorat I'm going to close this issue - I let @justadudewhohacks know about a workaround for manually clearing texture cache, and we have several issues tracking improving memory management:

https://github.com/tensorflow/tfjs/issues/1250
https://github.com/tensorflow/tfjs/issues/1074
https://github.com/tensorflow/tfjs/issues/1264

@justadudewhohacks - hopefully you're no longer blocked on upgra

[2019-03-25 15:24] #1440 closed

[2019-03-25 16:06] justadudewhohacks commented on #1440
@annxingyuan, thanks for the tip with creating own backends for the unit tests. I just tried it out and it looks like `backend.dispose()` actually is exactly what I was looking for!

[2019-03-25 17:08] #1391 closed

[2019-03-25 17:14] kangyizhang opened #1443 "`dataset.batch()` is not working properly when `element.done===true`"
When creating a dataset from iterator:
[code]

The dataset will not return `result.done===true` properly
[code]

[2019-03-25 20:09] vpanichkin commented on #1382
Also, bumped into this issue. Any approximate solution date?

[2019-03-25 20:44] adwellj commented on #1311
@innerop, just curious if you made any progress on this. I've been sitting on a TX2 dev kit for a while and was wanting to test it out with tfjs-node-gpu :)

[2019-03-25 20:44] pyu10055 opened #1445 "document how to generate compiled_api.ts in converter"
To get help from the community, we encourage using Stack Overflow and the [`tensorflow.js`](https://stackoverflow.com/questions/tagged/tensorflow.js) tag.

#### TensorFlow.js version
1.0.2
#### Browser version

#### Describe the problem or feature request
The compiled_api.ts is manually generated from the previous compiled_api.d.ts.
This file should be also be a .d.ts file, and we need to document

[2019-03-25 21:18] dsmilkov commented on #225
We got a windows machine and I couldn't reproduce it either. Feel free to reopen if the problem shows up again!

[2019-03-25 21:18] #225 closed

[2019-03-25 21:18] justadudewhohacks commented on #1440
@annxingyuan one additional question. Does disposing a newly created WebGL Backend have side effects?

Simply doing the following:
[code]

Causes any further prediction to fail with the following error:

Not exactly sure which operations are causing this error to happen though, will have to investigate in this.

[2019-03-25 21:24] dsmilkov commented on #381
We got a windows machine with Intel GPU and we are unable to reproduce at problem at `tfj@1.0.2`. Feel free to reopen if you still run into this problem.

[2019-03-25 21:24] #381 closed

[2019-03-25 21:25] dsmilkov commented on #434
Marking as duplicate of https://github.com/tensorflow/tfjs/issues/345

[2019-03-25 21:25] #434 closed

[2019-03-25 21:27] dsmilkov commented on #345
Hi,

We just got a windows machine with Intel GPU where we can do more testing. Does the problem still persist on tfjs@1.0.2? If yes, if you can send us the up-to-date reproduction, that would be very helpful! Thank you!

[2019-03-25 21:37] dsmilkov commented on #510
@xianrenb thanks for all the great pointers. Our team recently acquired some Windows machines with Intel GPUs.

First, I'd love to know if you still have numerical issues using the latest tfjs@1.0.2. If yes, can you send us an up-to-date instructions on how to reproduce the problem. Thank you so much!

[2019-03-25 21:52] nsthorat commented on #1440
When you do that I think there is no active backend, are you registering and setting a new backend after you dispose the old one?

[2019-03-26 06:50] justadudewhohacks commented on #1440
@nsthorat, just executing these two lines of code (creating a new WebGL backend and immediately disposing it again) apparently crash the backend, that is registered by default. I am not touching the default backend.

Maybe I am missing something, but I assumed that creating a new backend like this would leave the old backend untouched.

[2019-03-26 09:53] thies1006 commented on #434
checked with 1.0.2. after setting the tensors explicitly to dtype float32 (original code had thrown an error now) i get now identical results on windows and linux ubuntu 16 (chrome browser). the numbers are 99.999% identical to the 'windows10' numbers i posted above, however not identical.
![image](https://user-images.githubusercontent.com/32954413/54987675-43ff7200-4fb5-11e9-924c-32bb3bf4b971.png

[2019-03-26 09:58] xianrenb commented on #510
@dsmilkov karma failed tests on latest tfjs-core, partial output:

Chrome 73.0.3683 (Windows 10.0.0) div webgl1 {"WEBGL_VERSION":1,"WEBGL_CPU_FORWARD":false,"WEBGL_SIZE_UPLOAD_UNIFORM":0} integer division broadcasts FAILED
        Error: Failed to link vertex and fragment shaders.
            at Object.linkProgram (src/kernels/webgl/webgl_util.ts:156:10 <- src/kernels/webgl/webgl_util.js:127:15)

[2019-03-26 12:12] b-lack commented on #272
@gabrielglbh I don't know if your error message is related to the import. I tried this Polyfill only with GraphModels.

For LayerModels I would recommend to load the model once from a server (https:// ...) and save it locally in localstorage or indexeddb: https://www.tensorflow.org/js/guide/save_load

[code]

From then on, you can load it from localstorage/db

`const model = await tf.loadLayersMod

[2019-03-26 13:10] annxingyuan commented on #1439
hey @Kriyszig - sorry I didn't notice your comment until today! I'm finishing this up now :) Thank you for the offer though!

[2019-03-26 14:33] #1337 closed

[2019-03-26 14:42] annxingyuan commented on #1440
Hey @justadudewhohacks - you're right - we share WebGL contexts between backends (for testing efficiency) so if you call dispose on a new backend it may cause issues.

Like Nikhil mentioned, if you create a new backend after disposing the previous one, your issue should go away.

e.g.

let backend = new tf.webgl.MathBackendWebGL()
backend.dispose()
backend = new tf.webgl.MathBackendWebGL()

This i

[2019-03-26 14:43] hpssjellis commented on #633
That's great @oveddan, any chance of that being sent as a PR to TFJS or is it too specific and should just be loaded as needed?

[2019-03-26 14:53] chenqing commented on #1219
@ #1416

[2019-03-26 14:57] Kriyszig commented on #1439
I'll try my hand at something else. Thanks @annxingyuan (^_^)

[2019-03-26 15:00] tafsiri opened #1446 "tf.fitDataset docs are out of date"
#### TensorFlow.js version
1.0.2

#### Describe the problem or feature request
The docs for [fitDataset](https://js.tensorflow.org/api/latest/#tf.LayersModel.fitDataset) are out of date. They reference an iterator that should produce an array of tensors whereas the new format is an object with the following structure `{xs, ys}`.

I also think this doc entry could focus more on the data format and

[2019-03-26 15:00] nsthorat commented on #1440
Just to follow up on why this we did it this way: backends are global singletons. If you kill a backend, you need to set a new one since we don't have any mechanism for a disposed backend to tell the engine that it's dead.

Most of the time users don't see this stuff anyways so that's why this is the way it is :)

[2019-03-26 15:05] chenqing commented on #1416
this great.
node-canvas has many dependences ，and in China install it very slowly.
so very looking forward to implementing this feature.
thank you.

[2019-03-26 15:49] #1409 closed

[2019-03-26 16:11] tafsiri opened #1447 "Multiple loadHandlers registered in node"
#### TensorFlow.js version
"@tensorflow/tfjs": "1.0.2",
"@tensorflow/tfjs-node": "1.0.2",
"@tensorflow-models/universal-sentence-encoder": "1.0.1",

#### Browser version
It exhibits in node.js though the issue itself may be in core.

#### Describe the problem or feature request
Using the above packages and the code below you get the following error.

[code]

Multiple load handlers are being regist

[2019-03-26 16:18] RoanDev commented on #1277
Sorry for reopening, but the question is still same and, I guess, not answered. I have my NN training on single 1080Ti. I'm just about to buy a second 1080Ti to speed up things twice. Will this work? General idea is to get 6xGTX1080Ti setup later.
If not, is there any option to configure tfjs-node-gpu to use a single specified gpu, so it will be possible for 2 GPUs system to run 2 separate process

[2019-03-26 16:53] adwellj opened #1448 "Possible typo in tf.layers.reshape API documentation"
In https://js.tensorflow.org/api/0.15.3/#layers.reshape, it currently states "Use the ReshapeLayerConfig field input_shape when using this layer as the first layer in a model."

I'm trying 'input_shape', but that's not working. However, 'inputShape' does work.

I believe that input_shape should actually be inputShape. This also seems to align with the LayerArgs interface, which ReshapeLayerArgs ex

[2019-03-26 17:03] dsmilkov commented on #434
Great! This is what I've been seeing on the Lenovo Yoga X1 machine too.

[2019-03-26 17:21] tafsiri commented on #1446
We should also say that we expect xs and ys to be batched (And that there outermost dimensions match).

[2019-03-26 18:18] caisq commented on #1447
@tafsiri My guess is that universal-sentence-encoder is based on a different version of tfjs-node than the tfjs-node you are explicitly importing, causing the HTTP load handler to be registered twice.

[2019-03-26 19:03] hpssjellis commented on #410
Just thought I should add this as an alternative if the above solutions are not working for you. Found it on Stackoverflow to do with loading local files for use with Ionic may also work for Phonegap.

https://stackoverflow.com/questions/50224003/tensorflowjs-in-ionic/55306342#55306342

Use a polyfill (https://github.com/github/fetch) and replace the fetch.

`window.fetch = fetchPolyfill;`

Now, i

[2019-03-26 19:06] nsthorat commented on #410
We're working on a fix that should fix this across the board without a fetch polyfill in node: https://github.com/tensorflow/tfjs-core/pull/1648

[2019-03-26 19:15] caisq commented on #410
FYI, if you use tfjs-node or tfjs-node-gpu, loading a tf.LayersModel (i.e., a model converted from Keras or constructed from TF.js itself) should be working with the latest release.

Code sample:

package.json looks like:
[code]

Node.js code looks like:
[code]

[2019-03-26 19:56] rthadur commented on #953
@nsthorat i see the [PR](https://github.com/tensorflow/tfjs-core/pull/1421) is been merged , can we close this ?

[2019-03-26 20:17] adwellj commented on #1219
@chenqing,
Regarding using other libraries, I've been using [Sharp](https://www.npmjs.com/package/sharp) for many months and found it to return image data in a very suitable format.
[code]

[2019-03-26 20:18] nsthorat commented on #953
Yes, this is fixed!

[2019-03-26 20:18] #953 closed

[2019-03-26 20:37] justadudewhohacks commented on #1440
Ahh okay. So basically calling `new tf.webgl.MathBackendWebGL()` after every backend.dispose() seemed to fix it. Kind of confusing but it works :D

Just figured that creating the new backends with the gpgpu context of the initial backend seems to work as well:

[code]

Thanks again for your help!

[2019-03-26 20:55] tafsiri commented on #1447
@caisq, tfjs is peerDependency for USE, so i don't think it can directly cause a problem. I do have both tfjs and tfjs-node in my package json (and here they are the exact same version), I don't think that should cause a problem either since i only import one of them. I suspect a similar bug would occur with other models.

[2019-03-26 21:01] tafsiri opened #1449 "errors executing async models loaded via tf.loadGraphModel."
#### TensorFlow.js version

[code]

Error also occurs on tfjs 1.0.2

#### Node version
Node 11.11

#### Describe the problem or feature request
The following error occurs when making a prediction with either coco-ssd or universal-sentence-encoder (which are both models with control flow ops). But doesn't happen with mobilenet.

[code]

From doing some console logging it looks like the tensors in t

[2019-03-27 00:22] tafsiri opened #1450 "Unexpected behaviour with dataset.mapAsync and fitDataset"
#### TensorFlow.js version
"@tensorflow/tfjs": "1.0.0",

#### Browser version
Node 11.11

#### Describe the problem or feature request
1) After creating a dataset pipeline with a `batch` and `mapAsync` operation. Passing it to model.fitDataset, causes the `mapAsync` to run over the whole dataset and then once again for each batch.

I've made a repo to reproduce that I'll link below but here is som

[2019-03-27 00:24] tafsiri opened #1451 "Code snippet for tf.data.mapAsync seems incorrect"
The code snippet for https://js.tensorflow.org/api/latest/#tf.data.Dataset.mapAsync doesn't use the mapAsync function.

[2019-03-27 01:36] chenqing commented on #1219
oh, thanks @adwellj, I  will have a try.

[2019-03-27 02:49] Scooling commented on #1397
Thanks a lot! When i use nginx make http to be https ,it works!

[2019-03-27 03:00] izshuang opened #1452 "How can I get my model not to be taken by the user through the model link?"
**Dear developer,**
  I want to develop a project with TensorFlowjs now, but I don't want my model files to be visible to the user. In the current demo, I found that the model files are all accessible through the browser and directly accessing the link. I especially want to know how to secure my own model on the browser side. I really hope to get your help. Thank you very much!

[2019-03-27 09:11] chenqing commented on #1219
@adwellj  thanks a lot, it works for me!

[2019-03-27 09:11] #1219 closed

[2019-03-27 10:30] josemafuen opened #1453 "Unknown layer: SpatialDropout2D"
The following error appears to me when trying to import a model in tensorflow.js

Uncaught (in promise) Error: Unknown layer: SpatialDropout2D. This may be due to one of the following reasons:
1. The layer is defined in Python, in which case it needs to be ported to TensorFlow.js or your JavaScript code.
2. The custom layer is defined in JavaScript, but is not registered properly with tf.serializa

[2019-03-27 11:37] ejonokuchi commented on #1427
I don't know if this is related, or a new issue—with the same system configuration as above (fresh copies of the packages, but same versions), I'm now seeing the following error:

[code]

[2019-03-27 11:46] ejonokuchi opened #1454 "Conflicting load handlers for pre-trained USE model with Node"
### System information
- Mac OS Mojave - 10.14.1
- Node.js - 10.15.1
- relevant npm packages (fresh copies as of the time of this post):
    - @tensorflow-models/universal-sentence-encoder@1.0.1
    - @tensorflow/tfjs@1.0.2
    - @tensorflow/tfjs-node@1.0.2
    - express@4.16.4
    - node-fetch@2.3.0

### Issue

Kind of related to #1427. Using the [pre-trained USE model](https://github.com/tensorf

[2019-03-27 13:33] bobiblazeski opened #1455 "TypeError: Cannot read property 'backend' of undefined with Convolutional model"
To get help from the community, we encourage using Stack Overflow and the [`tensorflow.js`](https://stackoverflow.com/questions/tagged/tensorflow.js) tag.

#### TensorFlow.js version
[code]
#### Browser version
Google Chrome
Version 73.0.3683.86 (Official Build) (64-bit)
#### Describe the problem or feature request
Error when minimizing convolutional model

#### Code to reproduce the bug / link to

[2019-03-27 13:48] tafsiri commented on #1427
related to #1449

[2019-03-27 13:51] chenqing commented on #1454
I think just comment this and not require another fetch , in tfjs-node 1.0.2 , this works.
`//global.fetch = require('node-fetch');`

[2019-03-27 13:56] chenqing commented on #1451
https://js.tensorflow.org/api/latest/#data.generator
tfd => tf.data .

[2019-03-27 13:59] ejonokuchi commented on #1454
No, it doesn't with the USE module (`@tensorflow-models/universal-sentence-encoder@1.0.1`).

The error is being thrown from here: https://github.com/tensorflow/tfjs-converter/blob/master/src/executor/graph_model.ts#L99-L101.

I've just commented this out for now—but I wonder why it's necessary to throw an error if you're going to just choose the first load handler in L102 anyway?

[2019-03-27 14:20] vpanichkin opened #1456 "TFJS-converter | Cannot convert saved_model to tfjs_graph_model"
## Environment

#### Python version
3.6
#### tensorflowjs version
1.0.1
#### OS version
MacOS Mojave 10.4.3

## Error
While I am trying to convert faster_rcnn_inception_v2_coco saved model to Javascript format, I received an issue:

`KeyError: <tf.Tensor 'SecondStagePostprocessor/BatchMultiClassNonMaxSuppresion/map/while/Switch_1:0' shape=<unkknown> dtype=float32>`

#### Code to reproduce the bug

[2019-03-27 15:03] vpanichkin commented on #1392
Agree with @DarkNavrel, also this tutorial cannot be used for updated tensorflowjs_converter, as frozen_model is deprecated

[2019-03-27 15:09] nsthorat commented on #1452
Unfortunately there is no way to do this because of the nature of browsers. Think of model assets as image assets, there's no way to hide an image that you show to the user from them.

[2019-03-27 15:09] #1452 closed

[2019-03-27 15:09] nsthorat commented on #1455
@bobiblazeski do you see this on 1.0.3?

[2019-03-27 15:24] bobiblazeski commented on #1455
@nsthorat  I don't see a release for 1.0.3, however it seems to be working with 1.0.2 . Many thinks.

Might be good idea to update [https://www.tensorflow.org/js/tutorials/setup#usage_via_script_tag](https://www.tensorflow.org/js/tutorials/setup#usage_via_script_tag) to

instead of

[2019-03-27 15:25] #1455 closed

[2019-03-27 15:25] caisq opened #1458 "Fix documentation for tf.LayerModel.fitDataset()"
#### TensorFlow.js version
HEAD

The current doc incorrectly says the feature and targets should be an array. It should say an object of the signature {xs, ys} according to new API.

[2019-03-27 15:30] caisq commented on #1458
Duplicate of https://github.com/tensorflow/tfjs/issues/1446

[2019-03-27 15:30] #1458 closed

[2019-03-27 15:35] #1446 closed

[2019-03-27 15:42] caisq opened #1459 "Support sharding and quantization in converter tfjs_layers_model --> tfjs_layers_model route"
#### TensorFlow.js version
tensorflowjs_converter 1.0.1

[2019-03-27 16:16] caisq opened #1460 "Newly added truncated_normal initializer is not supported in tfjs-layers"
TensorFlow version: latest tf-2.0 nightly

When trying to load a model converted from tf-2.0-nightly-preview to tfjs_layers_model with the converter, the following error is thrown:

2019-03-27 12:14:43.255628: I tensorflow/compiler/xla/service/service.cc:158]   StreamExecutor device (0): <undefined>, <undefined>
(node:186998) UnhandledPromiseRejectionWarning: Error: truncatedNormal is not a valid

[2019-03-27 16:48] kangyizhang commented on #1451
@chenqing thanks for catching the typo. It has been fixed in https://github.com/tensorflow/tfjs-data/pull/159 and will be included in our next release.

[2019-03-27 17:23] dsmilkov commented on #510
Hi @xianrenb that is very interesting and helpful. We have a windows laptop and only 9 unit tests are failing here (which we are in the process of fixing). However I noticed that your machine has 70 failing and many more numerical issues.

I have a few asks if you don't mind:
- I undid the relevant changes in https://github.com/tensorflow/tfjs-core/commit/5a4c4fd99eacfee454222e080d5cd422b61265f1 a

[2019-03-27 18:02] WenheLI commented on #1443
@kangyizhang Hey, I am interested in this issue. Could you please tell me where the start point is?

[2019-03-27 18:04] #1417 closed

[2019-03-27 18:04] #1441 closed

[2019-03-27 18:15] tafsiri commented on #1409
@pyu10055 Could you also update https://www.tensorflow.org/js/tutorials/conversion/import_saved_model to not mention session_bundle (file is here https://github.com/tensorflow/tfjs-website/blob/master/docs/tutorials/conversion/import_saved_model.md) and also on the README at https://github.com/tensorflow/tfjs-converter

[2019-03-27 20:32] kangyizhang commented on #1443
hi @caisq , after some investigation and discussion, there are two point about this issue:

1) the iterator generated from `function getIterator()` would produce result `{value:9, done:true}`. Currently the data API would treat this result the same as `{value:null, done:true}`. This is intended and the data API will keep doing in this way.

2) after the generated iterator returns `{value:9, done:t

[2019-03-27 20:35] kangyizhang commented on #1443
hi @WenheLI

Thank you for your interest. We have investigated this issue. It should be a misuse of provided param and no need to update the library code.

We also have other issues marked with `good first issue`, please feel free to take one if any of them interests you.

[2019-03-27 20:35] davidsoergel commented on #1443
+1 to @kangyizhang's explanation!

[2019-03-28 03:01] izshuang commented on #1452
Thanks for the reply, I especially want to know that you will provide some encryption to protect my own model. If I can't protect the model, I find it difficult to use it to do commercial things.

[2019-03-28 03:04] izshuang commented on #1452
Thanks for the reply, I especially want to know if you will provide some encryption to protect my own model? If I can't protect the model, I find it difficult to use it to do commercial things.

[2019-03-28 03:10] Vandmoon opened #1461 "Feature Request: Model encryption"
Does tfjs supply any tools to encrypt the model file? Such that the model will not be "readable" by the user. Anyway, we developers should further encapsulate the code that decrypts the model file and runs the inference, so the decrypted file won't expose to the user at runtime. Thanks.

[2019-03-28 08:04] xianrenb commented on #510
@dsmilkov , tested the win_index branch, and it changed to 68 failing.
I think there are two main causes for the failed tests.
1. The NaN problem.
[https://stackoverflow.com/questions/37532640/making-a-nan-on-purpose-in-webgl](https://stackoverflow.com/questions/37532640/making-a-nan-on-purpose-in-webgl)

I guess my GPU simply does not support Inf/NaN. I would suggest tfjs to automatically detect

[2019-03-28 10:20] basicvisual opened #1462 "Running posenet on video input"
I was trying to implement 2D posenet implementation using ml5.js wrapper for machine learning. I wanted to do pose-estimation on a video stored locally on my PC . However , the output skeleton seems to be quite off and the predictions seem to be wrong.

I am using p5js webeditor .

[https://i.stack.imgur.com/fP5Yi.jpg](url)

I have the following questions

1. What parameters can be modified ?
2. L

[2019-03-28 11:43] bileschi commented on #1461
This sounds like Feature Request #239 : Model access control solution.

Right now you will need to use some external solution for keeping the model secret.  One possible solution is to host the model code elsewhere, and send requests to the model hosting system.

[2019-03-28 11:43] #1461 closed

[2019-03-28 12:34] bileschi commented on #1456
I am able to replicate this issue on my own workstation. I suspect that there is some property of the input model that is not handled by the converter, and that the error message does not accurately reflect the actual problem.

[2019-03-28 13:39] chenqing commented on #1277
+1

[2019-03-28 13:59] tafsiri commented on #1442
Closed by https://github.com/tensorflow/tfjs-website/pull/285

[2019-03-28 13:59] #1442 closed

[2019-03-28 16:32] vpanichkin commented on #1456
Hi, Google Team!

Thank you for such quick response.
Today I succeed in converting this model by using 0.8.x version and passing a frozen model with

I suppose, that, while I am providing output_node_names, I stay focused on a particular part of the graph and this part converts without any issue.

Is it possible to add ` output_node_names` parameter  to future releases?

[2019-03-28 18:37] bileschi opened #1463 "Keras spec identifier (value-list / Type) {camelCase/snake_case} pattern consistency"
This bug is about, for lack of clearer vocabulary, the 'Keras-identifiers', by which I mean things like FanModes (see initializer_config.ts), Distributions (intiializer_config.ts), Constraints (constraint_config.ts), and Activations.  Objects which are known string sets belonging to the Keras spec.

For objects like these, we often need access to the enumerated list of values.  We use these for in

[2019-03-28 18:52] bileschi commented on #1463
One proposal is to make all four cells available for each Keras-identifier.  One proposed name scheme:

[code]

Another option could be to only explicitly reference one or the other capitalization:
[code]

Another naming decision is be to only explicitly reference the type or the value list.  We should see which is needed more often in user-facing code and make that one implicit:
[code]

Of course

[2019-03-28 19:35] davidsoergel commented on #1463
Totally agree in principle with all of this-- it's just down to the naming discussion imho.

Since these are all TypeScript symbols (even if they *describe* python-style snake_case things), the names should all be pure CamelCase.  Also, the type symbols should start with a capital, and the list symbols should start with lowercase (again just JS/TS convention for types vs variables).

That leaves t

[2019-03-28 21:36] caisq opened #1464 "Use the TensorKeyWithArgsArray type in containers.ts"

[2019-03-28 22:51] #1460 closed

[2019-03-28 22:57] #1301 closed

[2019-03-29 04:44] chenqing commented on #1087
+1

[2019-03-29 05:28] chenqing opened #1465 "[docs], tf.shuffle => tf.util.shuffle"
![image](https://user-images.githubusercontent.com/3064613/55211310-53392680-5226-11e9-8bf9-c59e2354ef29.png)

these name should be tf.util.* .

[2019-03-29 07:13] 993352359 opened #1466 "Failed to link vertex and fragment shaders."
`const posenet = require('@tensorflow-models/posenet');

const ScaleFactor = 0.50;
const flipHorizontal = false;
const outputStride = 16;

// const imageElement = document.getElementById('cat');

const imageElement = document.createElement("img");
imageElement.src = "../../img/timg.jpg";
imageElement.width = "767";
imageElement.height = "1024";

//加载模型

const start = async function(){
    const ne

[2019-03-29 08:16] chenqing commented on #958
@pyu10055  any update?

[2019-03-29 08:18] chenqing commented on #1003
@kangyizhang  any idea of support keras.preprocessing.image.ImageDataGenerator in tfjs?

[2019-03-29 11:49] bileschi commented on #1463
[code]

Works for me.

[2019-03-29 12:12] josei commented on #894
What would be a manual way to recompile the binaries once the package is installed? A starting point would be appreciated in order to take advantage of the performance improvements.

[2019-03-29 12:22] basicvisual opened #1467 "Issues regarding running demo code for posenet"
Hi , I have some issues to run the demo codes for posenet model. After downloading the repository , I go to the posenet directory . There I execute the command

`/repos/tfjs-models/posenet$ npm i @tensorflow-models/posenet`
I have the following configuration , when i have a look into the log file i get the following

[code]
`Ubuntu 16.04
vmware
npm version 3.5.2
yarn version 0.22
`
Am i in the rig

[2019-03-29 12:24] bileschi commented on #1456
Hi @vpanichkin !

I'm trying to understand exactly what you did as a work around.  It sounds like you loaded faster_rcnn_inception_v2_coco (presumably in python TF), annotated the output nodes, and then re-saved it.  You then loaded the modified artifact using tfjs_converter 0.8.x.  Is that correct?

Is the request to add `output_node_names` as a flag to the converter? If so, how would you go abou

[2019-03-29 12:57] vpanichkin commented on #1456
Hello @bileschi !

Yeap, You are totally right. I loaded faster_rcnn_inception_v2_coco and additionally retrained it. Afterwards, I used `summarize_graph` to get output_node_names. Than, I exported this model using tfjs_converter 0.8.x.

If I got docs correctly, `output_node_names` let us to take particular part of the graph that is needed for prediction. If so, it would be nice to come back to co

[2019-03-29 13:17] tafsiri commented on #1462
Hi @basicvisual. I think your question may be better answered by the ml5 folks over at https://github.com/ml5js/ml5-library/issues, could you try posting your question over there?

[2019-03-29 13:37] basicvisual commented on #1467
I think , be executing the following `npm i @tensorflow-models/posenet` command in the `repos/tfjs-models/posenet/demos` , is the right way to proceed ?

[2019-03-29 14:12] FremyCompany opened #1468 "The nodejs progress bar will wrap endlessly if outputs > placeholder length"
#### TensorFlow.js version
1.0.2

#### Describe the problem or feature request
When the outputs on the right side of the sidebar exceed the size reserved for it in the template, the line wraps, and then the progress bar is redrawn at every step again.

There is a proposed fix for this in the library you use to draw the progress bar, but it would probably also be possible to work around it inside t

[2019-03-29 14:42] #1467 closed

[2019-03-29 14:46] basicvisual commented on #1462
Thanks for the pointers, I am now trying to run a sample program , if possible within posenet. I was wondering if it was possible to run a video locally instead of running it on the web camera

[2019-03-29 15:23] davidsoergel commented on #1027
When we revisit stats, we should coordinate with Facets since they already have code to do much of what we need: https://github.com/PAIR-code/facets/blob/master/facets_overview/common/feature_statistics_generator.ts

[2019-03-29 15:31] nsthorat commented on #1082
BTW, just make sure you mark these interfaces / types with "declare" so that closure doesn't rewrite the fields.

[2019-03-29 17:55] rthadur commented on #1465
@chenqing thank you , can you please give more details.

[2019-03-29 18:01] nsthorat commented on #1466
This fix for this will go out in the next release! This was fixed in: https://github.com/tensorflow/tfjs-core/pull/1646

[2019-03-29 18:04] nsthorat commented on #1465
Thanks, good catch!

[2019-03-29 18:30] bobiblazeski opened #1469 "Could not create cudnn handle: CUDNN_STATUS_INTERNAL_ERROR"
To get help from the community, we encourage using Stack Overflow and the [`tensorflow.js`](https://stackoverflow.com/questions/tagged/tensorflow.js) tag.

#### TensorFlow.js version
{ 'tfjs-core': '1.0.3',
  'tfjs-data': '1.0.3',
  'tfjs-layers': '1.0.3',
  'tfjs-converter': '1.0.3',
  tfjs: '1.0.3',
  'tfjs-node': '1.0.2' }
#### Browser version
Running on node
Ubuntu 18.04

#### Describe the pro

[2019-03-29 20:20] #1464 closed

[2019-03-29 20:20] dsmilkov commented on #894
Hi, I just sent a PR to update the main README file with more detailed instructions on how to build your own TF from source: https://github.com/tensorflow/tfjs-node/pull/237/files?short_path=04c6e90#diff-04c6e90faac2675aa89e2176d2eec7d8

[2019-03-29 21:03] kangyizhang commented on #1003
hi @chenqing we are planning to support keras.preprocessing but don't have a certain answer yet.

[2019-03-29 21:23] Johannes0Horn commented on #958
I created a google colab to test the the conversion from MaskRCNN saved as .h5 file to tfjs using tensorflowjs_converter 1.0.1.
https://colab.research.google.com/drive/18txwao40BgDskdCQ7YTE7qAkkP22Zmj_#scrollTo=ICj4ioAGQ9nP
Since the tensorflow_converter executes without any error/warning i assume no more operations are missing to convert MaskRCNN to a tfjs Model.

[2019-03-30 04:30] JacopoMangiavacchi commented on #1416
I'm successfully using jpeg-js to decode the image and then transform the pixel buffer to get the 3d tensor instead of using node-canvas.

Anyway I'm having performance issues on inferencing this way a tf.Tensor3D to a mobilenet coco-ssd model.  On the browser the same model, just passing an HTMLImageElement instead, is much faster.

Technically I'm not really running just on node.js as I'm on a E

[2019-03-30 10:47] ToonTalk commented on #1337
Has this fix propagated to

https://cdn.jsdelivr.net/npm/@tensorflow/tfjs
and
https://cdn.jsdelivr.net/npm/@tensorflow-models/posenet

I still get the same errors when running the sample code at

https://github.com/tensorflow/tfjs-models/tree/master/posenet#via-script-tag

[2019-03-30 14:09] dsmilkov commented on #1337
Not yet, this fix will go in our next release `tfjs@1.0.4` which will come out next week. If you are using posenet, you will have to wait for posenet's next release too, which we plan to do next week as well

[2019-03-30 18:24] caisq commented on #1087
I plan to start working on EarlyStopping soon, assuming @davidsoergel / nobody else has started on this.

[2019-03-31 01:12] davidsoergel commented on #1087
Haven't started-- go for it!

[2019-03-31 03:21] tehZevo opened #1470 "Error when saving model to localstorage"
#### TensorFlow.js version
1.0.2

#### Browser version
Chrome 73.0.3683.86

#### Describe the problem or feature request
Attempting to save model causes `RangeError: Maximum call stack size exceeded.`
This error is getting caught and re-thrown as an error related to LocalStorage saving (eg: `Error: Failed to save model 'vae' to local storage: size quota being exceeded is a possible cause of this f

[2019-03-31 05:18] ab2d3e8 opened #1471 "Can I add a field of object value."
is it possible to add field that include map like object for example :
{a:1,b:'Help me', url:'http://localhost'}

To get help from the community, we encourage using Stack Overflow and the [`tensorflow.js`](https://stackoverflow.com/questions/tagged/tensorflow.js) tag.

#### TensorFlow.js new version

#### All Browser

[2019-03-31 09:17] parthi2929 opened #1472 "posenet failing for simple images and too slow"
#### TensorFlow.js version
https://cdn.jsdelivr.net/npm/@tensorflow/tfjs
https://cdn.jsdelivr.net/npm/@tensorflow-models/posenet

#### Browser version
Chrome 73.0.3683.86 (Official Build) (64-bit)

#### Describe the problem or feature request
Posenet is badly estimating poses for many simple images. This make me wonder if there is any guideline we should follow to facilitate better posenet. Also i

[2019-03-31 11:21] NiklasRiewald commented on #723
Is there a workaround for the case where I want to use '@tensorflow/tfjs-node', but one of my other dependencies installs '@tensorflow/tfjs'?

[2019-03-31 11:33] Litee commented on #381
Thanks, I cannot reproduce the problem anymore.

[2019-03-31 14:52] hpssjellis commented on #1337
Also waiting for this fix. Brings up the question. Does Posenet have some script tag version history? The change to 1.0.0 broke a few of my old examples that use the live link. Would appreciate being able to download an old version while I look into how to make updates. I can probably find an old version using github desktop, but other people might be in the same boat as me.

https://hpssjellis.gi

[2019-03-31 15:19] hpssjellis commented on #1337
Well that was strangely easy.

I was going to fork tfjs-models for posenet , but it said I already had a version, then I was going to put it on cloud9 at http://c9.io to compile it, but found an old version, looked in the "dist" folder and found "posenet.min.js". Renamed it and put it on my fork at:

https://github.com/hpssjellis/tfjs-models/blob/master/posenet.v011.min.js

and my old examples wor

[2019-03-31 17:17] ethanweber commented on #1337
Also looking forward to this fix. The real-time speed of 1.0.0 isn't comparable to 0.2.3. I was planning to launch a product tomorrow using posenet-related work. @dsmilkov do you happen to know when exactly 1.0.4 will be released? Thanks!

[2019-03-31 17:38] 1egit commented on #1434
Thanks all. It works!

[2019-03-31 17:42] maddy027 opened #1473 "[Win 10 GPU] Error: node-gyp rebuild failed with: Error: Command failed: node-gyp rebuild"
Getting error while intalling GPU version of tensorflow.js (npm install @tensorflow/tfjs-node-gpu) I have followed below links

https://www.npmjs.com/package/@tensorflow/tfjs-node
https://github.com/tensorflow/tfjs-node/blob/HEAD/WINDOWS_TROUBLESHOOTING.md
tensorflow/tfjs#1390
https://github.com/mapbox/node-pre-gyp
tensorflow/tfjs#711
We already have setup below:

python 2.7
MS build tools 2015, 2

[2019-03-31 21:28] #1465 closed

[2019-04-01 07:29] changkaizhao opened #1474 "Cannot load model from converted keras model with quantization"
My intention is to squeeze model size from 4.8M to 1.2M.
#### TensorFlow.js version
6.1.0
#### Browser version
Chrome Version 73.0.3683.86 (Official Build) (64-bit)
#### Describe the problem or feature request
***Step1*** convert keras model to tfjs model.
`tensorflowjs_converter --quantization_bytes 1 --input_format=keras ./my_model.h5 ./assets`

it outputs 2 files `group1-shard1of1` and `model.j

[2019-04-01 14:09] tafsiri commented on #1462
@basicvisual no problem. To answer your question about running on posenet on a video file rather than locally yes that is possible. Looking at your [stack overflow](https://stackoverflow.com/questions/55381969/ambigous-results-using-ml5-js-wrapper-for-implementation-of-posenet-example) question it looks like you have already gotten it working on video.

Also have you read this blog post https://me

[2019-04-01 14:15] tafsiri commented on #1472
@parthi2929 A good resource to look at would be https://medium.com/tensorflow/real-time-human-pose-estimation-in-the-browser-with-tensorflow-js-7dd0bc881cd5 which describes a lot of the different parameters to PoseNet and how they may be used.

About to the execution time could you give us a bit more information about what kind of device you are running on? (OS, any information on the graphics car

[2019-04-01 14:18] tafsiri commented on #1471
This seems like a more general javascript question (as opposed to one about TensorFlow.js) that would be better suited to [stack overflow](https://stackoverflow.com/).

The short answer to your question is yes.

[2019-04-01 14:18] #1471 closed

[2019-04-01 14:26] tafsiri commented on #1416
@JacopoMangiavacchi Could you make a new issue for what you are experiencing, since you are already past the point of reading the images into memory. That way you could also give us more detailed information about your execution environment (e.g. which Electron process are you running inference in, what size tensors are you passing in etc).

[2019-04-01 15:28] #1434 closed

[2019-04-01 15:51] caisq commented on #1474
@changkaizhao Two comment:
1. We have a PR under review that will improve quantization of models converted from keras:
https://github.com/tensorflow/tfjs-converter/pull/346 (cc @pyu10055 )
2. The error you are getting may be unrelated. Can you check in your developer tools what the response status of the weight file is? Is it 200? Does the content look correct? It should be some binary data. If yo

[2019-04-01 16:49] maddy027 commented on #1473
PT please look at this issue .

[2019-04-01 17:39] JacopoMangiavacchi opened #1475 "Performance issues inferencing model in the Electron main process"
To get help from the community, we encourage using Stack Overflow and the [`tensorflow.js`](https://stackoverflow.com/questions/tagged/tensorflow.js) tag.

#### TensorFlow.js version
 "@tensorflow/tfjs": "^1.0.3",
 "@tensorflow/tfjs-node": "^1.0.2"

#### Browser version
Electron 3.0.13

#### Describe the problem or feature request
Experiencing performance differences porting javascript.js code fro

[2019-04-01 18:37] #1459 closed

[2019-04-01 20:25] WenheLI commented on #1402
I am interested in this issue. But I didn't see there is a folder for custom rules. Do I need to create a folder under tfjs only or I need such folders for every tfjs sub-repo like the layers, data and so on?

[2019-04-01 20:28] oorooroot opened #1476 "Error loading model with rnn layer and stacked cells"
#### TensorFlow.js version
"@tensorflow/tfjs-node": "^1.0.2"
#### Browser version
node.js v10.15.1
#### Describe the problem or feature request
Trying to load previously saved model causes error:
```Error: The RNN cell should have an attribute `stateSize` (tuple of integers, one integer per RNN state).```
#### Code to reproduce the bug / link to feature request
[code]

[2019-04-01 20:36] nsthorat commented on #1402
For now we can make a folder in each repository called something like .tslint, let's iterate a single repository first. Separately we can figure out how we'll share code between multiple repos.

[2019-04-01 22:35] JacopoMangiavacchi commented on #1475
I figure it out that **this is not a Tensorflow.js issue** but a more general problem about blocking the Electron main process with long running, cpu intensive operations.

Anyway let me better explain my problem here: I need to load a model using the file: protocol in an Electron app.

I see I can create a worker from the Electron main process and call this using a network interface from the brow

[2019-04-01 22:53] nsthorat commented on #1440
If you want to run unit tests efficiently why don’t you try using our describeWithFlags utility that lives on jasmine_util.ts?

[2019-04-01 23:38] oveddan opened #1478 "knn classifier bug: -1 classification and NaN confidences when first classes are empty"
If you create a knn classifier and add some classes that are not at the beginning, then run predictClass, you get a -1 class and some NaN confidence levels:

Sample code:

[code]

Result is:
[code]

[2019-04-02 00:29] JacopoMangiavacchi commented on #1475
Fixed this implementing a custom IOHandler to simply proxying the model files (json+bin) using IpcRendererProxy and then load and use the model directly in the browser.

[2019-04-02 00:29] #1475 closed

[2019-04-02 05:30] chenqing opened #1479 "Is this support multi-object detection shown in simple-object-detection example"
https://github.com/tensorflow/tfjs-examples/tree/master/simple-object-detection
Is this support multi-object detection?

[2019-04-02 05:48] Lursun opened #1480 "tfjs-node,Error: save is not a function"
To get help from the community, we encourage using Stack Overflow and the [`tensorflow.js`](https://stackoverflow.com/questions/tagged/tensorflow.js) tag.

#### TensorFlow.js version
tfjs-node ^1.0.1 => 1.0.2
#### Browser version
node v10.15.3
#### Describe the problem or feature request
save is not a function
#### Code to reproduce the bug / link to feature request
https://github.com/tensorflow/t

[2019-04-02 12:05] baalimago opened #1482 "Problem fitting model in sequence"
#### TensorFlow.js version
1.0.0
#### Browser version
Firefox 66.0.2 (64-bit) and Chrome 73.0.3683.86 (Official Build) (64-bit) (irrelevant to bug, i suspect)
#### Describe the problem or feature request
I'm trying to multiple fittings in sequence in order to train a deep q-learning network (the replay function). For some reason the model does not wait the previous call before fitting the next one

[2019-04-02 13:24] caisq commented on #1479
@chenqing this is a very basic example of object detection. It detects exactly one object in each image put.

[2019-04-02 13:24] #1479 closed

[2019-04-02 13:26] caisq opened #1483 "@tensorflow-models/speech-commands: jsdelivr and unpkg links are broken"
Version: @tensorflow-models/speech-commands 0.3.2

The following links are broken:
https://unpkg.com/@tensorflow-models/speech-commands@0.3.2/dist/speech-commands.min.js
https://cdn.jsdelivr.net/npm/@tensorflow-models/speech-commands@0.3.2/dist/speech-commands.min.js

[2019-04-02 13:29] parthi2929 commented on #1472
Hi

I have tried all those parameters (pose confidence score, part confidence score, scale factor, output stride). With best setting, I already get bad results, so with faster setting it only gets worse as I explained.

Regarding execution time, here are the details.

OS: Windows 10 Home version 1803
GPU: Nvidia GT 740M
Chrome: 73.0.3683.86 (Official Build) (64-bit)

Tfjs as I already mentioned, I

[2019-04-02 14:15] Kriyszig commented on #1395
Can we add a polyfill for TextDecoder? We are using it decode UTF-8 encoded entities so a polyfill specific to UTF-8 should be enough.
Maybe we can just use <https://gist.github.com/Yaffle/5458286> [comes with the license attached]

[2019-04-02 14:25] tafsiri commented on #1472
cc @dsmilkov a potential windows-related bug.

[2019-04-02 14:28] #1462 closed

[2019-04-02 14:55] tafsiri commented on #1482
@iamimago Thanks for the minimal reproduction.

@kangyizhang I can reproduce this bug even with an `await` added to the call to `fit_bug` (which i do think is needed). See https://codepen.io/tafsiri/pen/mgJLov?editors=0012 for my reproduction.

[2019-04-02 15:16] caisq commented on #1480
I can't reproduce this issue on my end.
@Lursun My guess is that you upgraded tfjs-node to 1.0.2, but didn't upgrade tfjs in "dependencies". When you upgrade the versions, make sure that you upgrade all the following three in package.json: tfjs, tfjs-node and tfjs-node-gpu

[2019-04-02 15:16] #1480 closed

[2019-04-02 15:51] Lursun commented on #1480
@caisq You are right.
original package.json is
[code]
I forget to "1.0.1" change to "^1.0.1" or "1.0.2" and remove package-lock.json.

Fix and try again is success.

[2019-04-02 16:59] dsmilkov commented on #1472
Hi @parthi2929

My best guess currently is that there is something wrong with the WebGL/GPU drivers on your machine.

Can you send us a screenshot of
- http://webglreport.com/?v=2
- http://js.tensorflow.org/debug

That would be very helpful to us. Thank you!

[2019-04-02 17:06] parthi2929 commented on #1472
Hi

Please find them below. Kindly note the results are same (both bad pose results and execution time), be it cpu or webgl.

**webgl report:**

![image](https://user-images.githubusercontent.com/11896263/55421593-3474c000-5597-11e9-9e2d-281a49fb640f.png)

**tensorflow debug:**

![image](https://user-images.githubusercontent.com/11896263/55421783-b1a03500-5597-11e9-95ce-6ff9f7c19db3.png)

[2019-04-02 18:16] tylerzhu-github commented on #1137
Hi Saraswathy,

Thanks for posting the question. The displacement vectors' unit is in the input image space. The model runs fully convolutionally on the input image. Theoretically it should work fine without explicitly rescaling the displacement vectors.

[2019-04-02 18:28] tylerzhu-github commented on #1388
Thanks for initiating the discussion. These are all good questions! We choose COCO because it is a large scale dataset that contains multiple people in different environment (both indoor and outdoor environment). It has more images than MPII (1) and it has more diverse subject and background than H36M (2).

We have used transfer learning to train the model since the model weights are initialized f

[2019-04-02 20:32] ctmckee opened #1484 "Import Error: Numpy.Core.Multiarray with tensorflowjs_converter"
#### TensorFlow.js version  = 1.0.1
#### TensorFlow version =1.13.1
#### Numpy version = 1.15.1
#### Python version = 3.6

#### Description of problem = I've installed tensorflow.js and tried to use tensorflowjs_converter on a keras model.  I keep getting the following error:

ModuleNotFoundError: No module named 'numpy.core._multiarray_umath'
ImportError: numpy.core.multiarray failed to import

I

[2019-04-02 23:26] caisq commented on #1483
Fixed by @pyu10055 at 0.3.3 now.

[2019-04-02 23:26] #1483 closed

[2019-04-03 03:26] Jonarod opened #1485 "Blob and Base64 images to Tensor"
Given the same `.jpg` image, HTML5 commonly accepts these types of `<img />` tags:
[code]
If I am correct, `tfjs` will only load images using `tf.fromPixels(input)` which, as its name implies, loads from pixels (= the first type of `src`).
However, I could not find anything like `tf.fromBase64(input)` nor `tf.fromBlob(input)` to convert other formats to tensors.
More generally, is there any way to

[2019-04-03 04:11] nandeeka commented on #1255
I am getting the same error as above even though this was supposed to be fixed with TensorFlow 1.13. I am using TensorFlow version is  1.13.1 to train the model and tensorflow 1.0.1 for conversion and to run the model. The error message is:
[code]
You can view the page at https://nandeeka.github.io/nosearcade-pages/. Please let me know if there is something I should be doing differently to incorpo

[2019-04-03 07:39] parthi2929 commented on #1472
Also, how the suspected driver problem results in poor pose estimations? Kindly note there are two  problems

1. Very wrong pose net estimation (should be tfjs issue likely?)
2. Too slow ( be it cpu or webgl same issue )

[2019-04-03 13:02] maddy027 commented on #1473
Any update ?. currently don't have any plans to go with Linux so blocked here :(

[2019-04-03 13:20] caisq commented on #1255
@nandeeka That's a known issue in tensorflow 1.13. Switching back to 1.12 should address the issue.

[2019-04-03 15:44] tafsiri commented on #1449
Further info on this. This bug doesn't occer when using the following import pattern (where both tfjs and tfjs-node are required).

[code]

[2019-04-03 16:17] nkreeger commented on #1473
Have you tried the steps outlined in this doc:

https://github.com/tensorflow/tfjs-node/blob/master/WINDOWS_TROUBLESHOOTING.md

[2019-04-03 17:28] maddy027 commented on #1473
Yes  I followed the article still no use :(

[2019-04-03 17:51] #1324 closed

[2019-04-03 18:28] bobiblazeski commented on #1469
Same error happens even when there is no convolutional layers in model.
Models

[code]

[2019-04-03 19:39] nandeeka commented on #1255
That worked. Thank you so much!

[2019-04-03 21:12] rthadur commented on #944
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-04-03 21:12] #944 closed

[2019-04-03 21:12] rthadur commented on #938
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-04-03 21:12] #938 closed

[2019-04-03 23:33] ryancbarry opened #1488 "Batch predictions are wrong on Chromebook using the WebGL backend"
#### TensorFlow.js version

1.0.3 (latest)

#### Browser version

Google Chrome OS version 71.0.3578.127

#### Describe the problem or feature request

Batch predictions are wrong on Chromebook using the WebGL backend. In our tests, the first prediction in the batch actually match pretty closely between WebGL and CPU backends, but all the other predictions do not.

Conditions to reproduce:
* On Ch

[2019-04-04 00:56] hanimustafa opened #1489 "Trying to convert a tf_saved_model fails with "doesn't exist in graph""
Attempting to convert a model saved with tensorflow 1.13.1 fails with tensorflowjs 1.0.1. This exact model loaded just fine with tensorflowjs 0.8.4

#### TensorFlow.js version
1.0.1

#### Browser version
No browser involved

#### Describe the problem or feature request
Attempting to convert a model saved with tensorflow 1.13.1 fails with tensorflowjs 1.0.1. This exact model loaded just fine with t

[2019-04-04 00:56] hanimustafa commented on #1489
Same issue with 1.0.4. The unittest run is from there

[2019-04-04 04:31] nsthorat opened #1490 "Remove Backend.setDataMover."
This was needed because backends were instantiated at module initialization time. Now that this is deferred, we can call directly into ENGINE.

I decided not to do this in the environment refactor to keep the scope slightly smaller.

[2019-04-04 04:35] nsthorat opened #1491 "Only allow tf.ENV.set() at module initialization (before calls to any tf.ENV.get)."
This allows us to make environment flags truly immutable and not usable as program state (just for module configuration).

[2019-04-04 04:46] nsthorat opened #1492 "Explore keeping quantized weights in memory as int8s."
Currently when we quantize weights over the wire we immediately dequantized. Another idea is to keep the weights in memory as int8s and dequantize lazily when a shader program is executed (doing this at the shader compiler level means no change to shader code since the sampler can do the work of dequantizing).

This will give us a 4x memory reduction for weights and possibly better utilization of

[2019-04-04 05:04] nsthorat commented on #1492
Also, the weights don't have to come from a quantized source. We can compute min / max on the fly as an internal detail of the WebGL backend so we don't have to introduce a qint8 dtype (it can be an internal WebGL-specific implementation detail of how weights are stored).

[2019-04-04 05:36] jooshifa commented on #494
thank you. It helped me!!!!

[2019-04-04 08:45] m4nuC commented on #1394
@pyu10055 Does my answer helps ? It seems it would be a common use case. I am happy to work on this if needed.

[2019-04-04 11:51] tuna0808 opened #1493 "How to make localhost:1234 running on my own computer work on my iphone"
Dear developer:
Now i can run postnet demo code in my own computer(cd body-pix/demos -> yarn -> yarn watch) ,but when I try to connect the localhost(http://localhost:1234 ) by my iphone,  I can access the web, but show only "Loading the model..." and nothing happen(iphone camera doesn't work).
what should i do to work my iphone camera?

[2019-04-04 12:47] Swocky opened #1494 "the speed of prediction get much slower after its deployment on the server"
My model is converted from Keras.
The speed is normal, less than 1s when I test it on localhost.
But after I deployed it on my remote Ubuntu server using tomcat(https), the speed of prediction is much slower than localhost, nearly 10s.
[code]
Maybe because the size of  model (6.3M) ?
Maybe because I load the model every time I want to predict?
So why that and  what should I do to?
I'll appreciate

[2019-04-04 13:01] Swocky commented on #1494
[code]
If I put 'load' outside the function, the error is "Uncaught (in promise) TypeError: model.predict is not a function"

[2019-04-04 13:18] adwellj commented on #1494
@Swocky, I believe that `model` is going to be the promise for `loadLayersModel()` instead of the actual model. It likely works in your first example because of the `await` statement.

[2019-04-04 13:22] Swocky commented on #1494
Yeah, you are right. And I try  this way, the problem has basically been solved. Thanks.
[code]

[2019-04-04 13:24] Swocky commented on #1494
But there still be a problem.

The first time I try to pedict, I get the error. But it gets normal after the first time.
And I refresh the webpage, it happen again.

Uncaught (in promise) TypeError: Cannot read property 'predict' of undefined
    at sentiment_predict (meeting?met_id=3410441485:2176)
    at Object.success (meeting?met_id=3410441485:2153)
    at fire (jquery-3.3.1.js:3268)
    at Ob

[2019-04-04 13:25] adwellj commented on #1494
Sounds like you might be trying to make a prediction before the model has finished loading.

[2019-04-04 13:27] Swocky commented on #1494
You are right again. If I wait for several seconds, it won't happen. Thanks.

[2019-04-04 15:38] tafsiri commented on #1383
closed via https://github.com/tensorflow/tfjs-website/pull/291

[2019-04-04 15:38] #1383 closed

[2019-04-04 18:11] rthadur commented on #1493
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow-tfjs) since it is not a bug or feature request. There is also a larger community that reads questions there.

[2019-04-04 20:50] pyu10055 commented on #1449
@tafsiri can you share your package.json file? I suspect that what you including multiple models, they installed different versions of tfjs.

[2019-04-04 20:56] timtensor opened #1495 "Question regarding exporting keypoints to a json file"
Hello , I am trying to follow the demo code for posenet in pose estimation . In the following file
[https://github.com/tensorflow/tfjs-models/blob/master/posenet/demos/demo_util.js]()

Is there a way to extract the keypoints to a json file ? If so , how can we do so ?

[2019-04-04 21:31] tafsiri commented on #1449
Here are my dependencies. I only have one model loaded in my actual project, the multiple models in the example above was just to confirm that it wasn't specific to universal-sentence-encoder

[code]

[2019-04-04 22:21] pyu10055 commented on #1449
@tafsiri I believe tfjs-node has tfjs as dependencies, you don't need to install tfjs separately. Can you try to remove tfjs from your package.json file?

[2019-04-05 00:07] tafsiri commented on #1449
@pyu10055 If i do that I get the following error

[code]

[2019-04-05 01:09] pyu10055 commented on #1449
@tafsiri This is IOHandler error, probably https are register with both browser and node handlers.
Do you have repo or codepen for me to reproduce?

[2019-04-05 01:51] #1493 closed

[2019-04-05 02:24] startupgurukul opened #1496 "Tf.js acceleration on APU, NPU"
####  feature request

Mediatek p90, kirin 980 are shipping something they are calling APU and NPU(along with GPU), is there a way TF.js can leverage that?

https://www.mediatek.com/blog/googles-ml-kit-arrives-on-the-p90

I understand we have to go thru browser standards for TF.js and it may not be straight forward  but what are your thoughts,

One route is the webml way, what are your thoughts.

[2019-04-05 02:48] chenqing commented on #1277
@nsthorat

[2019-04-05 02:51] nebrelbug opened #1497 "Add WASM backend"
#### TensorFlow.js version
1.0.4
#### Browser version
Chrome 73
#### Describe the problem or feature request
Has there been any further discussion about using WASM to optimize performance? I noticed there was discussion in #36, but it was decided to wait and eventually `tfjs-node` was created.

**Possible Benefits of WASM**
- Run in any WASM environment
- Maybe higher speed than WebGL if users hav

[2019-04-05 06:35] ToonTalk opened #1498 "Memory leak in KNN classifier.clearClass"
To get help from the community, we encourage using Stack Overflow and the [`tensorflow.js`](https://stackoverflow.com/questions/tagged/tensorflow.js) tag.

#### TensorFlow.js version
1.04
#### Browser version
Chrome Version 73.0.3683.103 (Official Build) (64-bit)
#### Describe the problem or feature request
When I used classifier.clearClass and then recreated that class in a loop tf.memory showed

[2019-04-05 06:39] ToonTalk opened #1499 "Obscure error message when tensor memory exhausted: Couldn't parse line number in error"
#### TensorFlow.js version
1.04
#### Browser version
Chrome Version 73.0.3683.103 (Official Build) (64-bit)
#### Describe the problem or feature request
When using mobilenet and knn repeatedly with a memory leak (see issue #1498) it produces the following error messages instead of something indicating out of tensor memory:

Couldn't parse line number in error:
tfjs.js:2 #version 300 es
    precisi

[2019-04-05 13:53] rstor1 commented on #1454
I have a similar issue trying when trying to use speech commands but that repo does not seem to be taking on issues so thought I would look here. Here is what I get when using **global.fetch:** `Error: Found more than one (2) load handlers for URL 'https://storage.googleapis.com/tfjs-models/tfjs/speech-commands/v0.3/browser_fft/18w/model.json'`.

But when I comment that out I get: `ReferenceError:

[2019-04-05 14:43] tafsiri commented on #1449
@pyu10055 This repo code demonstrates it https://github.com/tafsiri/use-text-classifier/blob/master/training/train.js, update the package.json to remove the other models. However on your point about that I thought all the models specify tfjs as a peerDependency, so they won't install their own copy.

Also see https://github.com/tensorflow/tfjs/issues/1454

[2019-04-05 14:50] tafsiri commented on #1495
@timtensor I think this question is better suited for [stack overflow](https://stackoverflow.com/). In this line https://github.com/tensorflow/tfjs-models/blob/master/posenet/demos/demo_util.js#L64 the `keypoints` parameter is an array (which is a valid JSON object). I would suggest checking/asking on stack overflow how to write a JS array to a file in the browser.

[2019-04-05 15:25] timtensor commented on #1495
Thank you ! i have done so and hoping for an answer . I had another question. In file demo_utils can we not , have a video as input )locally)? Not really used to javascript.  Open Cv for example had commands to read a video directly into a model. Or If i want to input the video , Is it somewhere else one needs to change ?

[2019-04-05 17:38] pyu10055 commented on #1489
@hanimustafa we are looking into this issue, seems to be the initialization nodes are not included into the

[2019-04-05 17:38] #1489 closed

[2019-04-05 17:52] dsmilkov commented on #1497
Hi, thanks for filing this issue. A WASM backend is in our roadmap for this quarter. We can use this issue for updates.

[2019-04-05 18:04] #1490 closed

[2019-04-05 18:21] dsmilkov commented on #1426
Thanks! Are you using node or the browser?

[2019-04-05 23:16] pyu10055 commented on #1449
@tafsiri @caisq The multiple io handler issue seems to be root in this code
https://github.com/tensorflow/tfjs-node/blob/3f8f64a420711b3cf542bc97ce97cf3d78c471e1/src/io/node_http.ts
which register a handler for http url as the same time as core browser_http class.
If we allow multiple handlers, we need to update the model loaders to use a particular
handler (the last one)?

[2019-04-06 00:48] aligajani commented on #1388
Alright, but there are some basic pose detection issues that I have highlighted in other issues.

[2019-04-06 01:10] #1087 closed

[2019-04-06 05:33] mickey0425 commented on #1431
Did you solve the problem? I have same problem too

[2019-04-06 13:17] parthi2929 commented on #1472
@dsmilkov can you kindly let me know if any update on this? this is one blocking point, unable to make any app out of pose net, production ready.

[2019-04-06 17:51] ldenoue opened #1501 "Heatmaps for tfjs-models/posenet"
Are heatmaps accessible for posenet?
Specifically, I’d like to implement 3D head pose estimation using only activation maps for nose, eyes and ears from this paper:
https://arxiv.org/abs/1812.00739

[2019-04-06 21:52] timtensor commented on #944
@Bluebie ,  is it possible to install `npm install xhr2` and defining the global variable , in the posenet demo_utils.js file . I still seem to have the problem . Basically i want to export the following to a json file.

[code]
Is there another way out ?

[2019-04-07 00:12] startupgurukul commented on #1496
This would resolved if WASM is added this is a duplicate of https://github.com/tensorflow/tfjs/issues/1497

Closing this to so the conversation can happen at a single place

[2019-04-07 00:12] #1496 closed

[2019-04-07 00:22] startupgurukul commented on #1497
Folks at intel have been making webml/webnn and recently made some amazing strides of hitting 31fps    running coco SSD models.

https://github.com/intel/webml-polyfill/issues/650#issuecomment-475127456

 you already know about them as mentioned about them during TF summit, really looking forward for WASM backend in this quarter :)

[2019-04-07 01:40] caisq commented on #1470
@tehZevo Can you try running the code example in "Example 2" at https://js.tensorflow.org/api/latest/#loadLayersModel? It saves a very simple model to localStorage, loads it back, and calls predict() on the loaded model.

[2019-04-07 12:20] piercus commented on #1426
I'm using node

[2019-04-07 14:19] chenqing commented on #1087
cool

[2019-04-07 22:24] tehZevo commented on #1470
@caisq Looks like Example 2 works fine. Tested in Chrome 73.0.3683.86 tfjs versions 1.0.2-1.0.4.

[2019-04-08 03:28] caisq opened #1502 "tfjs-layers: Add Masking layer"
#### TensorFlow.js version
1.0.4

[2019-04-08 03:29] caisq commented on #1502
See Python implementation at https://github.com/keras-team/keras/blob/master/keras/layers/core.py#L28

[2019-04-08 11:46] KokoDoko commented on #268
But ObservableHQ doesn't have the GPU advantages of training a model on Google's servers...?

[2019-04-08 13:23] caisq commented on #268
Running TensorFlow.js in Jupyter Notebooks require a special Jupyter kernel
for Node.js (iJavaScript <https://github.com/n-riesco/ijavascript>). I
haven't figured out a way to install that in Google CoLab directly yet.
However, you can run this from your own Jupyter Notebook environment. See
the thread I posted not long ago on Twitter:
https://twitter.com/sqcai/status/1104475647391481856

On Mon,

[2019-04-08 14:04] boulabiar commented on #1313
I got the same error on an Xeon E2 1200 CPU with Intel graphics.
The error message is not very explicit on the version or the webgl extension it needs as other webgl examples are running (three.js).

[2019-04-08 15:24] tafsiri commented on #1501
@ldenoue Take a look at the [predictForSinglePose](https://github.com/tensorflow/tfjs-models/blob/707c3603972f9b08ce330ade5cabee1777d9f454/posenet/src/posenet_model.ts#L50) and [predictForMultiPose](https://github.com/tensorflow/tfjs-models/blob/707c3603972f9b08ce330ade5cabee1777d9f454/posenet/src/posenet_model.ts#L78) methods, it returns the lower level results from the model including heatmaps.

[2019-04-08 16:54] #1501 closed

[2019-04-08 19:06] nsthorat commented on #1313
Can you post what you see from http://webglreport.com/?

[2019-04-08 19:23] nsthorat opened #1503 "Stateful RNNs are disposing internal tensors incorrectly."
JSFiddle: https://jsfiddle.net/dfhn4qsc/

[code]

Note the stateful: true. This causes a tensor disposed coming from the input: https://github.com/tensorflow/tfjs-layers/blob/v1.0.4/src/layers/recurrent.ts#L2083

[2019-04-08 19:57] #1439 closed

[2019-04-08 21:25] parvezk opened #1504 "tfjs-vis scatterplot callback parameter"
#### TensorFlow.js 1.0.2
#### Chrome Version 73.0

In the codelab tutorial "TensorFlow.js — Making Predictions from 2D Data", the parameter order is incorrect for the scatterplot callback as seen below. The value and the container object needs to be interchanged.

tfvis.render.scatterplot(
    {name: 'Horsepower v MPG'},
    {values}, {options})

[2019-04-08 22:45] parvezk commented on #1504
@tafsiri Is there a Github repo for the (codelab-based) tutorials sections to submit PR?

[2019-04-09 00:06] Lewuathe commented on #1362
I tried to implement this and found we first need to implement window functions like hann or hamming. I'll work on them first.

https://www.tensorflow.org/versions/r2.0/api_docs/python/tf/signal/hann_window
https://www.tensorflow.org/versions/r2.0/api_docs/python/tf/signal/hamming_window

[2019-04-09 01:51] #1503 closed

[2019-04-09 07:09] parthi2929 commented on #1472
@nsthorat can you also kindly check?

[2019-04-09 09:29] boulabiar commented on #1313
These are the report from the PC having the Xeon and where tf.js doesn't work accelerated.
![notworkingWGL1](https://user-images.githubusercontent.com/101211/55789460-af1f6d00-5aba-11e9-8674-2a88add33ed0.jpeg)
![notworkingWGL2](https://user-images.githubusercontent.com/101211/55789461-af1f6d00-5aba-11e9-8d60-cf9567422615.jpeg)

[2019-04-09 12:09] boulabiar commented on #1313
Here it works without any seen problems.

![workingWGL1](https://user-images.githubusercontent.com/101211/55799153-fca6d480-5ad0-11e9-84db-71b2dd11be69.png)
![workingWGL2](https://user-images.githubusercontent.com/101211/55799154-fca6d480-5ad0-11e9-95cf-daa97a0fb27d.png)

[2019-04-09 12:55] rstor1 opened #1505 "Microphone is opening too soon on tutorial and exception being thrown on recognizer.listen()"
#### TensorFlow.js version
0.15.3

#### Browser version
Chrome 73.0.3683.103

#### Describe the problem or feature request
On step 7 of the audio recognition tutorial, when I click on the Left button to gather examples the microphone opens and an exception is thrown. See attachment:
![Screen Shot 2019-04-09 at 8 33 35 AM](https://user-images.githubusercontent.com/43070937/55801684-999f4880-5aa4-11

[2019-04-09 13:23] caisq commented on #1505
@nsthorat @dsmilkov Does this look like a problem in the CodeLab or the speech-commands library?

[2019-04-09 13:54] miktoki opened #1506 "Webgl support in web worker"
#102 mentions support for running tfjs on a web worker, which is currently supported, but only for the `cpu` backend. Lack off browser support for offscreencanvas was quoted as a key reason why it has not yet been looked into.
Having webgl+offscreencanvas support on tfjs would make it a lot more usable in realtime applications.
As of now (April 2019), offscreen canvas is supported by [61% of globa

[2019-04-09 15:20] #1506 closed, assigned to nobody

[2019-04-09 16:55] #957 closed

[2019-04-09 17:09] nsthorat commented on #1472
Do you still see this issue on TensorFlow.js 1.0.4?

[2019-04-09 19:40] ldenoue opened #1507 "24 versus 17 parts (PoseNet vs BodyPix)"
Is there a way to get more parts for PoseNet? It is missing hands and feet for example.

[2019-04-09 21:14] parvezk commented on #1504
@tafsiri Yes, this has been fixed in the latest release tfjs-vis 1.0.3 and consistent with the codelab tutorial. I was able to reproduce this issue in the older version 0.5.1".

Thank you for the clarification.

[2019-04-09 21:14] #1504 closed

[2019-04-10 09:37] gulatisimran commented on #607
HI, I converted trained on custom dataset ssd_mobilenet_V1 to tfjs and I am getting a similar result, getting float numbers in range[0,1]

Tensor [[[0.5446654, 0.4751714, 0.9186856, 0.802305 ], [0.2283817, 0.0216707, 0.8636419, 0.2391927], [0.727316 , 0.6683039, 0.9777313, 0.8424701], ..., [0.7610142, 0.6679996, 0.8904252, 0.7726711], [0.2950329, 0.00674 , 0.6716213, 0.0697103], [0.2889385, 0.1158

[2019-04-10 10:33] George35mk commented on #494
Because I needed to work with some 3D tensors I installed again the tensorflow.js package in my angular application, and again I get the same error:

what I found to solve this warnings without modifing any of the angular core files but only your **package.json**

try this on your **package.json**

[code]

[2019-04-10 10:48] RadEdje commented on #704
Hi, I'm currently using tensorflow 2.0 alpha release.

I got a similar error saying that the 2.0 package dependency could not be found so I used the

`pip install --no-deps tensorflowjs`

to install tensorflowjs without dependencies.
I already have numpy installed anyway.

Now I followed the instructions to run the converter and used the code:
[code]

now I'm getting this error

[code]

so the ten

[2019-04-10 11:35] RadEdje commented on #1255
I'm currently using tensorflow 2.0 alpha.
I used the latest tensorflowjs converter.
I'm amazed that the usual 20+ shards  has now been braught down to just 3.
however... I'm back to the error:

[code]

Any suggestions?
thanks.

[2019-04-10 12:34] RadEdje commented on #1334
Hi. I tried this:
[code]
It's running in the browser. but it's taking forever to load just 3 shard.bin files... why is there a bin extension. the old shards (using older converters) did not have a bin extension...

[2019-04-10 13:09] RadEdje commented on #1334
how can I do this?
I've used if used tf.keras.appilcations for mobileNet_V2.... and saved the model as simlply "model"

I assume that when I use

[code]

here I'm using the tf.keras api.

how do i get this tf.keras model as a vanilla keras model and then save that using the vanilla keras model.save api?

thanks for any suggestions.

[2019-04-10 14:02] keyyuki commented on #1255
@RadEdje You can replace BatchNormalizationV1 to BatchNormalization in your model.json. But I not sure about accuracy of model after that.
You should turn back to tensorflow 1.12.x and tensorflowjs 0.8.5 (python). For javascript site, >0.13.
But not sure that accuracy still same with python. You must re-evaluate in javascript. As my experience, it not the same. I dont know that because of my code

[2019-04-10 14:22] RadEdje commented on #1255
thanks for the quick reply.

i'm not stuck with that second type of error (the one that gets past the batchNormalizationV1 bug).

i'm now at the

[code]

Any suggestions on how to fix this?

How do I force the version of tensorflowjs?

referring to your suggestion earlier to use version 0.8.5

[code]

do I just do the following?

[code]

thanks again.

[2019-04-10 14:46] RadEdje commented on #1255
I tried something...
i took the model.h5 file saved using tf.keras api to save into an hd5 format.

i then used vanilla keras (ver 2.2.4) to load that model.h5 file to see if keras.models.load_model is compatible with the h5 file that tf.keras save model produces.

It can't load the h5 modle.

Here is the error:

[code]

seems tf.keras save/load model is not compatible with vanilla keras save/load

[2019-04-10 15:32] keyyuki commented on #1255
haha same with me. I surrender now.

tf@1.12 cannot load h5 file. tf@1.13 and tf@2.0 got error BatchNormalizationV1. Look like it need some update from javascript lib

Now my thesis delay from 12/2018. And I'm waiting update from any of them, tensorflow-convertor, tensorflow, tensorflowjs, tensorflow.js.

Tensorflow.js still not good at convert keras.application model, not only mobinet, but also o

[2019-04-10 15:36] caisq commented on #1255
@keyyuki  "tf@1.12 cannot load h5 file" Can you elaborate on that?

Reverting to TF 1.12 should address these issues (which we are trying to fix for later releases of TF and TF.js)

[2019-04-10 17:04] dsmilkov commented on #723
If you use tfjs-node which depends on tfjs, and a dependency of yours depends on tfjs as well, yarn/npm will de-duplicate for you if the version constraints match. Otherwise it will install 2 copies of tfjs with 2 different versions.

[2019-04-10 17:08] rstor1 commented on #1505
Sorry, false alarm. I failed to load the html file via the localhost:8000 port. Rookie mistake:p

[2019-04-10 17:08] #1505 closed

[2019-04-10 17:28] dsmilkov commented on #510
Thanks. This is all very helpful. Can you re-run the unit tests using the master branch of `tfjs-core`. We did a few fixes related to windows.

Also what would be helpful is to share your Intel CPU chip (e.g `Haswell`, `Broadwell`, `Skywell` or `Coffeelake`). We suspect you might be on `Haswell`, which is the last remaining chipset where we are observing numerical problems.

[2019-04-10 17:36] dsmilkov commented on #345
Closing this issue. Let me know if someone can still reproduce this problem using the latest tfjs library.

[2019-04-10 17:36] #345 closed

[2019-04-10 17:52] dies opened #1508 "TensorFlow.js - Audio recognition sample does not work on ChromeOS 73"
To get help from the community, we encourage using Stack Overflow and the [`tensorflow.js`](https://stackoverflow.com/questions/tagged/tensorflow.js) tag.

#### TensorFlow.js https://unpkg.com/@tensorflow/tfjs@0.15.3/dist/tf.js

#### Browser Version 73.0.3683.88 (Official Build) (64-bit) ChromeOS on Pixelbook

#### it seems like getUserMedia starts well but the sample does not recognize the voice

[2019-04-10 19:01] tafsiri commented on #1507
No I don't believe the model is trained to predict positions for those parts. Details on the original model can be found here https://arxiv.org/pdf/1803.08225.pdf

[2019-04-10 19:01] #1507 closed

[2019-04-10 19:19] caisq commented on #1508
What version of @tensorflow-models/speech-commands are you using? @dies?

[2019-04-10 19:20] dsmilkov commented on #1508
@caisq I'm curious if you have observed any issues with the speech-commands model on Chromebooks before?

@dies Are you opening an http-server to serve the html (needs to be served via http server because of microphone permissions)

[2019-04-10 19:22] caisq commented on #1508
@dsmilkov Good question. I never tested it on Chrome books before.

@dies Do you see any error messages in the dev tools console?

[2019-04-10 19:24] dies commented on #1508
Wow! that was quick! thanks a lot!

speech-commands version. https://unpkg.com/@tensorflow-models/speech-commands (resolves to 0.3.4 on my laptop)

@dsmilkov yes. I did my experiments with https. https://storage.googleapis.com/tfjs-speech-model-test/2019-01-03a/dist/index.html this does not work either (no any errors in console, just does not work)

[2019-04-10 19:32] davidsoergel opened #1509 "Vega error from tfjs-vis linechart: Unrecognized transform type: "filter""
We're getting this when trying to render a line chart:

[code]

I'm guessing this has to do with https://github.com/tensorflow/tfjs-vis/blob/master/src/render/linechart.ts#L145 and 211 and 233.

I'm further *guessing* there is some transitive dependency issue where the vega-embed that tfjs-vis depends on doesn't actually pull in everything it needs, or the deps are loaded in the wrong order, or so

[2019-04-10 19:59] dsmilkov commented on #1508
Thanks for the info! A todo for us is to find a Chromebook and test this locally so we can debug.

[2019-04-10 20:41] caisq opened #1510 "[speech-commands] stopListening() shouldn't throw an error if recognizer isn't listening"
Instead, it should just print a warning

#### TensorFlow.js version
speech-commands 0.3.4

[2019-04-10 21:04] adwellj commented on #1473
@maddy027, I've been struggling with installing -gpu for several days now on Linux and Windows. I just now got it working on Win10 using tfjs-node-gpu version ^0.3.2.

The key versions for CUDA and CuDNN for me to finally get it working were CUDA 9.0 and CuDNN 7.3 for CUDA 9.0. tfjs-node-gpu version 0.3.2 was built against CuDNN 7.2, but NVIDIA doesn't have a version of that for CUDA 9.0 (only 9.2

[2019-04-10 21:15] adwellj commented on #1469
@bobiblazeski, I punted over to trying on Windows and finally just got this working. I had to drop down to tfjs-node-gpu version 0.3.2 due to node-gyp issues.

However, once I finally got it to install, I later ran in to this same CuDNN issue! Fortunately, using CUDA 9.0 (needed for 0.3.2 compatibility) I got a better error message before the "This is probably because cuDNN failed to initialize...

[2019-04-10 21:26] #1451 closed

[2019-04-10 23:44] dsmilkov commented on #1478
Thanks. Sent a fix in https://github.com/tensorflow/tfjs-models/pull/188

[2019-04-11 00:57] dsmilkov commented on #708
To summarize:

- If you want to use CPU (no Cuda):
[code]
- To use GPU (Need CUDA 9.0, 9.1 won't work with the latest version):
[code]

No need to import `@tensorflow/tfjs`, or `@tensorflow/tfjs-core`. They are indirectly installed/imported. If part of your warning is `Error: libcublas.so.9.0: cannot open shared object file`, make sure you have Cuda 9.0 installed. See [this table](https://github.c

[2019-04-11 01:04] RadEdje commented on #1255
Hi, can I train w/ tf 2.0 alpha in a different virtual environment.

Then install tf 1.12 in a second venv and use that version of tf for converting w/ the latest tfjs_converter script?

Or I'll end up u/ the same error?
Since the h5 I'm converting is the one made my tf 2.0 alpha w/c contains the serialization bug? So using an older stable version of tf 1.12 will have no effect?

https://github.co

[2019-04-11 02:03] keyyuki commented on #1255
@caisq sorry for my late response, just because it midnight in my country

Here is my reproduct h5 load error on colab (error still there), from train -> save -> load.

`TypeError: '<' not supported between instances of 'dict' and 'float'`

https://colab.research.google.com/drive/1Up4gKEtXpL8u4pX_silAL1LO1Mg67tRk

[2019-04-11 02:08] tafsiri commented on #1509
@davidsoergel could you post a sample of arguments you are calling it with so that I can try and reproduce (including what you are using for opts.yAxisDomain)?

Also could you let me know What versions of tfjs and tfjs-vis you are using.

[2019-04-11 02:24] dsmilkov commented on #1472
@parthi2929 Can you also share your graphics card model (e.g. `Intel Graphics 4600`) and the CPU chip (e.g. `Broadwell`, `Haswell`, `Coffeelake`, etc). Thanks!

[2019-04-11 04:24] davidsoergel commented on #1509
Never mind, sorry for the false alarm!  It turned out that a dependency on vega 5 had snuck in to our project.  Since tfjs-vis depends on vega 4, things naturally broke.  Removing our spurious dependency fixes it.

[2019-04-11 04:24] #1509 closed

[2019-04-11 06:06] parthi2929 commented on #1472
@nsthorat  I used this as advised in posenet. where to check tf version if we use this? Should this not be using latest version?
https://cdn.jsdelivr.net/npm/@tensorflow/tfjs
https://cdn.jsdelivr.net/npm/@tensorflow-models/posenet

@dsmilkov
GPU : GeForce GT 740M
CPU: i7-4702MQ

[2019-04-11 07:40] gulatisimran commented on #607
Third Array i.e the array of all 1's is actually the class number of  Label Map File on which you have trained, I have tested the same on different images containing various classes

[2019-04-11 09:27] single9 commented on #671
+1 for gpu_options, gpu_memory_fraction

[2019-04-11 10:55] xianrenb commented on #510
@dsmilkov , tested the master branch, and it changed to 54 failed.

My Intel CPU chip is an Intel Celeron Processor N2840. It is a Silvermont chip.

[2019-04-11 12:42] tafsiri commented on #1495
@timtensor Posenet can take an `HTMLVideoElement ` as input (in addition to `ImageData|HTMLImageElement|HTMLCanvasElement`). So if you are able to get your video loaded into that element you should be good to go. I think this is also a question better suited to stack overflow, especially as you may generally be interested to know how to load video into the browser.

[2019-04-11 12:42] #1495 closed

[2019-04-11 13:09] adwellj commented on #1098
@nkreeger, FWIW, I finally got tfjs-node-gpu to install on Win10. I had to install version 0.3.2 for it to work. Trying any of the 1.0.x versions would result in the above mentioned node-gyp rebuild failures.

Any possibility that this is a similar issue to the gpu packaging / layout issue with the upstream version of TF?
Where it was discovered in 0.2.2 - 0.3.0: https://github.com/tensorflow/tfjs

[2019-04-11 13:40] maddy027 commented on #1473
Thanks @adwellj  . ll try with above config.

[2019-04-11 13:53] adwellj commented on #1473
@maddy027, I believe the key is using version 0.3.2 to get past the node-gyp rebuild issue.

After getting it to install with 0.3.2, I then tried to install all of the 1.0.x versions and I would get the same failure. I then went back to 0.3.2 and everything still worked.

[2019-04-11 14:37] dsmilkov commented on #1400
Updates:

With the help of the Intel team, and external contributors, tfjs-core unit tests show:
- [PASS] Kabylake, Intel(R) HD Graphics 630
- [PASS] Skylake, Intel(R) HD Graphics 530
- [PASS] Coffeelake, Intel(R) UHD Graphics 630
- [1 FAIL] Broadwell, Intel(R) Iris(TM) Pro Graphics 6200
- [2 FAIL] Haswell, Intel(R) HD Graphics 4600
- [54 FAIL] Silvermont, Celeron N2840

[2019-04-11 15:21] gyagp commented on #510
Celeron N2840 is Baytrail platform (small core, and its related big core platform is Ivybridge), where the integrated GPU is Gen7. Haswell came right after Ivybridge and baytrail, and the integrated GPU inside Haswell is Gen7.5. According to our tests, we got 2 failures on Haswell (GPU Gen7.5), 1 failure on Broadwell (GPU Gen8), and no failure on Skylake/Kabylake/Coffeelake (GPU Gen9).
You may fin

[2019-04-11 16:22] caisq opened #1511 "tfjs2keras integ test: switch on the `--dev --tfkeras` path"
Context: https://github.com/tensorflow/tfjs-layers/pull/523
After the PR is merged, the following test still fails.

[code]

This is due to the following error:
  File "/tmp/tmp.Ax8E6v9mDu_venv/local/lib/python2.7/site-packages/tensorflow/python/ops/init_ops_v2.py", line 394, in __init__
    raise ValueError("Invalid `distribution` argument:", distribution)
ValueError: ('Invalid `distribution` arg

[2019-04-11 16:27] RadEdje commented on #1255
Greetings,
so i built a new venv
i had to install python 3.6 since tf 1.12 doesn't support 3.7 yet
i installed 3.7
tried doing a pip install of tensorflowjs 0.85 and 1.0.1.

It kept throwing this error:

for tensorflowjs 0.85

[code]

for tensorflowjs 1.0.1
[code]

so the converter only runs with tensorflow 2.0 alpha exept it has the batchnormalizationV1 or serialization bugs.

Downgrading won't l

[2019-04-11 16:30] caisq commented on #1255
@RadEdje The tensorflow (python) team has fixed the `BatchNormalizationV1` issue, but the fix is not in 2.0.0-alpha0, instead, you need to do `pip install -U tf-nightly-2.0-preview` in order to get it. Make sure you do it in a clean virtualenv or pipenv to avoid conflicts with already-installed versions.

[2019-04-11 16:39] RadEdje commented on #1255
Hi. thanks so new venv. couple of questions before I proceed;

1) do I keep the -U flag? that won't affect my other virtual enviroments? it just means upgrade correct?
can i get the specific version instead? so i know which version is working now and just use that specifically instead using pip?

2) is it best to use pyton 3.6 or 3.7 with this?
i've seen that older versions don's support 3.7 yet b

[2019-04-11 16:56] RadEdje commented on #1255
build a new venv,

tried installing with python 3.7.... did not work... package could not be found..

tried installing with python 3.6... found the package but threw this error:

[code]

[2019-04-11 17:54] #1511 closed

[2019-04-11 18:48] dies commented on #1508
Hi team.

It works now! Thank you so much if you did any improvements!

Nevermind and sorry for bothering if that was my fault (I did not change the code though, it just started working)

Anyway, I'm having really a lot of fun learning ML with Tensorflow.js. Thanks for making it happen!

[2019-04-11 19:11] dsmilkov commented on #1508
Awesome. We updated the codelab to use latest TF (maybe that fixed it), though looks like you didn't change your local code? We can reopen if the issue comes up again!

[2019-04-11 19:11] #1508 closed

[2019-04-12 14:49] Gurpreetsingh9465 commented on #1502
@caisq can I work on this issue?

[2019-04-12 14:51] caisq commented on #1502
@Gurpreetsingh9465 Yes, please! :) Thanks for offering to help.

[2019-04-12 17:10] sthongprasert opened #1513 "Support execution of AutoML Vision Edge model"
I'm trying to perform a conversion from savedmodel to tensorflowjs, but I am getting an unsupported ops error. The savedmodel was created using AutoML Edge TPU feature.

**Error**: Unsupported Ops in the model before optimization
DecodeJpeg

**Tensorflowjs version**: 1.0.1

Is it possible to get DecodeJpeg ops added?

[2019-04-12 18:21] RadEdje commented on #1255
Hello,
since I was having difficulties installing the nighty version of tf 2.0 using
[code]
on WIndows (because windows has a limit to the pathname of only 260 characters)

i fired up UBUNTU.

installed the latest nightly
currently at
tf-nightly-2.0-preview 2.0.0.dev20190412

then installed the latest tensorflowjs

then used the conversion script

and still

i get the BatchNormalizationV1 bug...

[2019-04-13 00:25] dsmilkov commented on #1472
@parthi2929 I didn't catch an important detail from the webglreport screenshot you sent earlier. Note from your report two things:
- Unmasked renderer: Google SwiftShader
- Major performance caveat: Yes

This means that your GPU drivers are in a bad state and Chrome is reverting to the CPU-emulation of WebGL (SwiftShader), which explains the performance. Try reinstalling Chrome and your GPU driver

[2019-04-13 03:19] hazily123 commented on #704
ModuleNotFoundError: No module named 'tensorflow._api.v2'
我的好像缺少这个模块，但是网上也查不到相关信息，用pip也不能安装，说是找不到相应的版本

[2019-04-13 06:04] Gurpreetsingh9465 commented on #1502
@caisq implemented logic of masking layer
`import * as tf from '@tensorflow/tfjs';`
`let a = tf.tensor([[[1,2,3],[1,2,3],[1,2,3]],[[8,8,8],[1,5,7],[8,8,9]],[[8,8,8],[8,8,8],[8,8,8]]]);`
`let mask_value = 8;`
`let test = tf.notEqual(a,mask_value);`
`let mask = tf.any(test,-1,true)`
`mask = mask.asType(a.dtype);`
`let res = a.mul(mask);`
`a.print();`
`res.print();`
should i create another file for m

[2019-04-13 06:15] lijialiang commented on #1432
I also encountered the same problem but could not find a solution :(

[2019-04-13 07:26] parthi2929 commented on #1472
@dsmilkov Ok I will check that and revert.

But why in CPU mode also, the pose estimations are bad (if you could check my examples 1,2,3). you could check that in mean time?

[2019-04-13 09:11] RadEdje commented on #1255
just wanted to update:
re-trained on linux/ubuntu with
the latest tf nightly 2.0.... it all works now.
thanks dev team.

[2019-04-13 12:18] aronsuarez commented on #1513
I have the same problem, but i used the the CPU feature of automl

[2019-04-13 14:40] Gurpreetsingh9465 commented on #1502
@caisq did a PR regarding this issue tensorflow/tfjs-layers#525

[2019-04-13 22:10] hpssjellis commented on #1337
So I got my Posenet working with tfjs version 1.0.4, which now does not give the shader error that version 1.0.3 was showing for single-pose, but strangely single-pose seems to not be refreshing the screen. mult-ipose works fine.
![image](https://user-images.githubusercontent.com/5605614/56085758-976b2000-5dfd-11e9-9dd0-c6c465a3591c.png)

I think the issue is probably in the function estimateSingl

[2019-04-14 08:51] chenqing commented on #1375
I found when installing tfjs-node npm will down libtensorflow from googleapis.com too. see https://github.com/tensorflow/tfjs-node/blob/master/scripts/install.js#L33
Unfortunately, this url can't be visited normally in China.
@caisq

[2019-04-14 09:18] chenqing opened #1514 "[tfjs-node] tf.loadLayersModel support cache"
when we load a model from remote url, tf should add an option to support cache in local.

[2019-04-14 10:41] chenqing commented on #1416
any progress? @nsthorat

[2019-04-14 11:52] AxelWolf commented on #1488
We have a similar bug that shows in FF and Chrome on different computers with different GPUs. We trained our model (based on MobileNetV2) in Python and then exported to JS via tfjs.converters.save_keras_model. The model predicts face landmarks. The first screenshot shows the model working correctly when using the CPU backend:

![tfjs_webgl_bug_cpu](https://user-images.githubusercontent.com/4891964

[2019-04-14 12:14] annxingyuan commented on #1488
Thanks for letting us know about this issue. @AxelWolf and @ryancbarry - could you try appending ?tfjsflags=WEBGL_PACK:false to the URL (or calling `tf.ENV.set('WEBGL_PACK', false)` right after tfjs is loaded) to see whether that changes the predictions? Let me know what you find.

[2019-04-14 12:25] AxelWolf commented on #1488
Adding tf.ENV.set('WEBGL_PACK', false) before loading the model gives correct predictions on FF and Chrome with GTX1080. Interestingly, in Chrome (73.0.3683.103) it seems snappier than before.

[2019-04-14 12:41] annxingyuan commented on #1488
Thanks @AxelWolf - could you call `tf.ENV.set('DEBUG', true)` - this will print out the architecture of your model to the console along with kernel execution times. Could you share your console output with me - you should be able to copy / paste into a spreadsheet. Thanks!

[2019-04-14 12:58] AxelWolf commented on #1488
Attaching two files: 177.log shows output when loading the two models, I then cleared the console. 206.log shows output when doing prediction.

[192.168.2.106-1555246123206.log](https://github.com/tensorflow/tfjs/files/3077370/192.168.2.106-1555246123206.log)
[192.168.2.106-1555246516177.log](https://github.com/tensorflow/tfjs/files/3077371/192.168.2.106-1555246516177.log)

[2019-04-14 13:05] annxingyuan commented on #1488
Thanks @AxelWolf - this is awesome. Could I ask you to do two more things:

1. try setting `tf.ENV.set('WEBGL_PACK_DEPTHWISECONV', false') but leaving the `WEBGL_PACK` flag alone - are predictions correct?
2. try setting `tf.ENV.set('WEBGL_CONV_IM2COL', false') but leaving the `WEBGL_PACK` flag alone - are predictions correct?

Thank you for helping us debug this! Actually is your repo somewhere I

[2019-04-14 13:24] AxelWolf commented on #1488
Leaving WEBGL_PACK at true I will only get correct predictions with DEPTHWISECONV to false; IM2COL makes no difference.

I've prepared a zip (https://softmatic.com/f/WebGL Bug.zip) which contains the latest checkpoint and the converted model.json and shards. The model expects a (n,160,160,3) tensor and will return an array of 68 xy coordinates. I can provide additional JS code if you need it.

[2019-04-14 13:35] annxingyuan commented on #1488
Thanks @AxelWolf - the converted outputs are what I need. I wasn't able to load the zip you provided - could you double check the link? Also if you have the JS code that makes the prediction that would be great.

[2019-04-14 13:46] chenqing opened #1515 "fitDataset not work as expected"
I use fitDataset to train an image classify model, this first epoch looks ok, but the other epoch looks training not work.  why?

tfjs-node: 1.0.3.

[code]

[code]

[2019-04-14 13:50] AxelWolf commented on #1488
The link was cutoff, try this one: https://softmatic.com/f/WebGL_Bug.zip

JS should look like this:

import * as tf from '@tensorflow/tfjs';

const LANDMARK_URL = './landmarks/model.json'

let landmarkPromise;
let landmark;

window.onload = () => {
	landmarkPromise = tf.loadLayersModel(LANDMARK_URL);
  	landmark = await landmarkPromise;
	await landmark.predict(tf.zeros([1,160,160,3]));
}

// this

[2019-04-14 13:57] annxingyuan commented on #1488
Perfect - thanks @AxelWolf - this should be everything I need. Thanks again for reporting this!

[2019-04-14 19:51] DirkToewe opened #1516 "Linear Algeba"
Backpropagatable Linear Algebra methods are a vital part of Machine Learning including but not limited to Neural Nets. Here and there, requests for different LA methods pop up. More and more duplicate PRs regarding LA are submitted. This issue is an attempt to concentrate and coordinate the efforts and - if possible - establish a roadmap. Another motivation for this issue is this [unanswered quest

[2019-04-15 01:42] chenqing commented on #1515
@kangyizhang

[2019-04-15 02:43] caisq commented on #1516
@DirkToewe Just to gather requirements: do you plan to use these linear algebra features in Node.js or browser?

[2019-04-15 03:21] #1515 closed

[2019-04-15 03:58] chenqing opened #1517 "fitDataset memory problem （OOM）"
To get help from the community, we encourage using Stack Overflow and the [`tensorflow.js`](https://stackoverflow.com/questions/tagged/tensorflow.js) tag.

#### TensorFlow.js version
tfjs-node: 1.0.3
#### Browser version
N
#### Describe the problem or feature request
I use fitDataset to train a image classify model. about 1000 images total.
when training, memory has been growing.
At last, node be

[2019-04-15 04:16] #1517 closed

[2019-04-15 08:06] DirkToewe commented on #1516
For me that would be the Browser mostly. Outside the Browser there are many alternatives (TF4Py, PyTorch, ...) while inside the Browser I see none. My focus is on having either QR or Cholesky running on the GPU (whichever is faster, which is likely Cholesky but it could be QR because there is more potential for parallelism).

My application would be the compression of 3D model data. It has nothing

[2019-04-15 16:52] rthadur commented on #1514
cc @dsmilkov

[2019-04-15 20:27] #1478 closed

[2019-04-16 02:00] ericpelland commented on #1422
I would love to see this as well!! Please and thank you!

[2019-04-16 02:30] longern opened #1518 "Wrong result of tf.reverse"
To get help from the community, we encourage using Stack Overflow and the [`tensorflow.js`](https://stackoverflow.com/questions/tagged/tensorflow.js) tag.

#### TensorFlow.js version
1.0.4 (CDN)
#### Browser version
Chrome 73.0.3683.103
#### Describe the problem or feature request
tf.reverse returns wrong value.
Same bug is in 1.0.2 (CDN) but not in 1.0.1 (CDN)
#### Code to reproduce the bug / lin

[2019-04-16 03:44] chenqing commented on #1422
+1

[2019-04-16 09:13] aronsuarez commented on #1513
is there any time frame when this feature will be integrated?

[2019-04-16 13:25] jgartman commented on #1518
I wasn't able to reproduce the bug on my machine but it could be related to https://github.com/tensorflow/tfjs-core/pull/1617.

[2019-04-16 13:55] jgartman commented on #1518
Sorry, this is my fault.  I can debug this tonight if no one gets around to it before then.  Only seems to happen with arrays of even length.  I haven't had a chance to test higher order tensors than rank 1.

[2019-04-16 18:47] tafsiri commented on #1518
thanks @jgartman for looking in to this. cc @annxingyuan.

[2019-04-16 18:54] tafsiri commented on #1514
I'm not sure if this is something we would want to bake into the library since caching/cache busting might be something end users want a fair amount of control over. Two alternatives I can think of include:

1. Downloading the model and weights to the local filesystem and loading them from there (we may need to some work to make it clearer how to do that).
2. Using libraries like https://www.npmjs

[2019-04-16 19:16] tafsiri commented on #1516
@DirkToewe Thanks for putting this together and collecting all the issues and use cases in one place (and for the PRs!). We are going to discuss in our next team sync and try and respond to this more fully by the end of next week. I think at the moment we are leaning towards figuring out how to make this happen (given our current bandwidth).

[2019-04-16 21:16] tdurand commented on #1311
Same here, does someone successfully run tfjs-node-gpu on an arm64 like Jetson Nano / TX2 ?

[2019-04-17 02:04] chenqing commented on #1514
@tafsiri  thanks for your replay.
Yes,  maybe we lack best practices to tell the user handle this.  for example, write in docs.

[2019-04-17 02:24] XdyGoGo commented on #1169
I use executeAsync method to handle my model and It takes one mistake - Error: Error in concat1D: rank of tensors[3] must be the same as the rank of the rest (1)

[2019-04-17 02:42] jgartman commented on #1518
I think I understand what's going wrong, I can open up a PR within the next day or two to fix this.

[2019-04-17 06:29] XdyGoGo opened #1520 "When I used tensorflow-convert to convert Python model to js, an error was reported and no add_to_collection was found."
To get help from the community, we encourage using Stack Overflow and the [`tensorflow.js`](https://stackoverflow.com/questions/tagged/tensorflow.js) tag.

#### TensorFlow.js version

#### Browser version

#### Describe the problem or feature request

#### Code to reproduce the bug / link to feature request

[2019-04-17 07:58] chenqing commented on #1094
Error: Unknown layer: Lambda. This may be due to one of the following reasons:
1. The layer is defined in Python, in which case it needs to be ported to TensorFlow.js or your JavaScript code.
2. The custom layer is defined in JavaScript, but is not registered properly with tf.serialization.registerClass().

[2019-04-17 07:58] chenqing opened #1521 "Error: Unknown layer: Lambda."
Error: Unknown layer: Lambda. This may be due to one of the following reasons:
1. The layer is defined in Python, in which case it needs to be ported to TensorFlow.js or your JavaScript code.
2. The custom layer is defined in JavaScript, but is not registered properly with tf.serialization.registerClass().

[2019-04-17 08:05] XdyGoGo opened #1522 "It seems that there is no H5 product on the market currently available to tensorflow. js, is it not mature enough?"
To get help from the community, we encourage using Stack Overflow and the [`tensorflow.js`](https://stackoverflow.com/questions/tagged/tensorflow.js) tag.

#### TensorFlow.js version

#### Browser version

#### Describe the problem or feature request

#### Code to reproduce the bug / link to feature request

[2019-04-17 08:31] XdyGoGo opened #1523 "The shape of dict['keep_prob'] provided in model.execute(dict) must be [], but was [1,64,64,3]"
To get help from the community, we encourage using Stack Overflow and the [`tensorflow.js`](https://stackoverflow.com/questions/tagged/tensorflow.js) tag.

#### TensorFlow.js version
0.13.3
#### Browser version
Chrome 72
#### Describe the problem or feature request
when i  use this.leftRightModel.predict([tf.zeros(this.inputImage.shape), {batchSize: 1}]) to warm up my model  it takes a mistake wid

[2019-04-17 10:27] vlesu opened #1524 "tf.image.cropAndResize return zero values on large crop size"
#### TensorFlow.js version
tfjs@1.0.0

#### Browser version
Google Chrome 73.0.3683.103

#### Describe the problem or feature request
When i use cropSize more than 90x90, tf.image.cropAndResize produce zeroes at the end of array instead of correct pixel values.

#### Code to reproduce the bug / link to feature request
[code]

[2019-04-17 10:36] Udolf15 commented on #1524
Tried the code on my google chrome -v (73.0.3683.103), the code is printing 1.

[2019-04-17 13:23] vlesu commented on #1524
Problem resolved by re-installing of video drivers and configure Chrome to use NVidia graphics card.

Issue can be closed, thank you

[2019-04-17 13:23] #1524 closed

[2019-04-17 14:22] bileschi commented on #1522
Are you referring to h5 the company, or h5 the python interface for HDF5 binary storage format?

[2019-04-17 14:23] bileschi commented on #1523
StackOverflow is a better place for getting help with issues like this.

Please be sure to tag your question with 'tensorflow.js' and someone should be able to help you there.

Thanks!

[2019-04-17 14:23] #1523 closed

[2019-04-17 14:25] bileschi commented on #1521
Hello @chenqing
It sounds like you are using a Lambda layer.  Lambda layers run native python code, and are thus not currently supported in tfjs

Please see this StackOverflow question & answer:
https://stackoverflow.com/questions/50878885/unknown-layer-lambda-in-tensorflowjs-on-browser/50893452#50893452

[2019-04-17 14:25] #1521 closed

[2019-04-17 15:14] tafsiri commented on #1520
@XdyGoGo Could you please fill out the template to let us know what version of the converter you are using? Could you also paste the error message you get in this thread. Anything more you can tell us about the model itself would be helpful.

cc @pyu10055

[2019-04-17 15:55] caisq opened #1525 "Convert old performance benchmark data to new format and save it in Cloud Firestore"
Follow the type/schema system at
https://github.com/tensorflow/tfjs/blob/master/integration_tests/benchmarks/types.ts

For example code on how to write data to Cloud Firestore, see:
https://github.com/tensorflow/tfjs/blob/master/integration_tests/benchmarks/firestore.ts

[2019-04-17 16:00] #1502 closed

[2019-04-17 17:03] kangyizhang opened #1526 "Redesign mechanism of `iterator.toArray()`"
With `tf.data.generator()` and `tf.data.webcam()`, we start to have iterator generates infinite data stream.

Currently `.toArray()` is override in `tf.data.webcam()` to prevent collecting data from infinite data stream. In future, with more sensor API such as microphone, how to deal with `toArray()` need to be reconsidered:
1) override `.toArray()` to throw error for all infinite iterator.
2) add

[2019-04-17 17:43] #1187 closed

[2019-04-18 05:01] Gurpreetsingh9465 commented on #1362
@Lewuathe can we work together in this module and add support to more ops as mentioned in [tf.signals](https://www.tensorflow.org/api_docs/python/tf/signal) similar PR did to tensorflow/tensorflow#27075

[2019-04-18 14:17] Lewuathe commented on #1362
Thanks! I think you can add necessary ops in tf.signal. Some other ops like fft are still in `spectral_ops.ts`, though.

[2019-04-18 15:12] nsthorat commented on #1416
No progress yet but @caisq will be taking this work on in the near future. There is still a workaround with tf.browser.fromPixels and using a canvas in the meantime.

[2019-04-18 17:19] reiinakano opened #1528 "Arbitrary style transfer is slower in tfjs v1"
#### TensorFlow.js version
tfjs 1.0.4

#### Browser version
Chrome Version 70.0.3538.77 (Official Build) (64-bit)

#### Describe the problem or feature request
I decided to try updating my arbitrary style transfer demo to tfjs v1.0.4 from v0.14.1.
Unfortunately, it seemed much slower + more memory-hungry. I haven't had the time to do more detailed benchmarks yet but this is a PR with the update to

[2019-04-18 17:51] Gurpreetsingh9465 commented on #1362
thanks!
I would like to implement.
1. fftfreq
2. rfftfreq
3. fftshift(required tf.roll)
4. ifftshift(required tf.roll)

reference [np.fft](https://docs.scipy.org/doc/numpy/reference/routines.fft.html#helper-routines)

[2019-04-18 18:20] kedevked opened #1529 "Uncaught (in promise) Error: Argument tensors passed to stack must be a `Tensor[]` or `TensorLike[]"
To get help from the community, we encourage using Stack Overflow and the [`tensorflow.js`](https://stackoverflow.com/questions/tagged/tensorflow.js) tag.

#### TensorFlow.js version
1.0.1
#### Browser version
71.0.3578.98
#### Describe the problem or feature request
The lstm layer is causing the error described in the title. Changing
the inputShape of the features data: `model.fit(tf.ones([1, 2,

[2019-04-18 20:32] ryancbarry commented on #1488
With WEBGL_PACK set to `false`:

[code]

With WEBGL_PACK set to `true`:

[code]

This is for the image at https://r.hswstatic.com/w_907/gif/tesla-cat.jpg
Both times the backend was set to WEBGL.
Using tfjs v1.0.3

And for reference (using the CPU backend on the same image), we're looking for predictions that look like this:

[code]

[2019-04-18 22:17] #1468 closed

[2019-04-19 12:48] llxxee commented on #1484
A simple workaround is
[code]
It results in a warning:

but after all it makes tensorflowjs_converter work properly.

[2019-04-19 14:26] #861 closed

[2019-04-19 16:42] nsthorat commented on #1362
@Gurpreetsingh9465 since those don't exist in TensorFlow we probably won't implement them in TensorFlow.js for now.

[2019-04-19 16:57] Gurpreetsingh9465 commented on #1362
@nsthorat can i work on [dct](https://www.tensorflow.org/api_docs/python/tf/signal/dct) and [idct](https://www.tensorflow.org/api_docs/python/tf/signal/idct)

[2019-04-19 17:01] nsthorat commented on #1362
Great! Just curious if you have a concrete use case for those ops?

[2019-04-19 17:08] Gurpreetsingh9465 commented on #1362
I am not sure about that but i think discrete cosine transform converts one function into sum of cosine functions of different amplitude which can be used to compress mp3 or image files.

[2019-04-19 17:10] nsthorat commented on #1362
For now let's try to keep it to the ops we have a concrete use case (one that someone wants to build), otherwise we bloat the bundle size without a real need for the op :)

[2019-04-19 17:14] Gurpreetsingh9465 commented on #1362
Ok @nsthorat :smiley:

[2019-04-20 03:18] jessetrana commented on #1485
Yes, but it is a bit roundabout and not probably what you want. I currently do Blob -> URL.createObjectURL(blob) -> Image() load using URL -> tf.browser.fromPixels(img) in a Firefox plugin. I do base64 as well but only as a fallback; I recommend sticking with Blob if you can.

[2019-04-20 04:00] jessetrana opened #1530 "Possible performance drop in 1.0.x series for MobileNetV2 inference"
#### 1.0.0, 1.0.4, likely 1.0.x

#### Firefox 66.0.3 (64-bit)

#### Possible performance drop in 1.0.x series for MobileNetV2 inference

#### Encountered while upgrading the plugin here: https://addons.mozilla.org/en-US/firefox/addon/wingman-jr-filter/

Recently I began migrating a Firefox plugin that utilizes tensorflow.js from 0.13.3 to 1.0.4. I have migrated several times before this with excel

[2019-04-20 12:00] annxingyuan commented on #1530
Hi @jessetrana - thanks for submitting this report. Could you try adding this line right after you import the library:

`tf.ENV.set('WEBGL_CONV_IM2COL', false)`

Would be curious to see the inference time with that change. Thanks!

[2019-04-21 02:16] jessetrana commented on #1530
Unfortunately no significant improvement.

1.0.4 with WEBGL_CONV_IM2COL=false - Avg of 414ms for 515 scanned images

Anything else you'd like me to try?

[2019-04-21 02:31] jessetrana commented on #1530
Just for comparison, I also checked tf.ENV on 0.15.3 (without explicitly setting WEBGL_CONV_IM2COL), and the results seem to be significantly different:

​
BACKEND: "webgl"
DEBUG: false
IS_BROWSER: true
PROD: false
WEBGL_CONV_IM2COL: false
WEBGL_CPU_FORWARD: true
WEBGL_DOWNLOAD_FLOAT_ENABLED: true
WEBGL_LAZILY_UNPACK: false
WEBGL_MAX_TEXTURE_SIZE: 16384
WEBGL_NUM_MB_BEFORE_PAGING: 972000
WEBGL_PAC

[2019-04-21 04:09] chenqing commented on #1447
[code]

[2019-04-21 04:28] chenqing commented on #622
What progress have you made recently?

[2019-04-21 10:37] dan-ryan commented on #1010
Is this in the 1.0 version?

[2019-04-21 11:09] annxingyuan commented on #1530
Thanks @jessetrana - could you try this:

`tf.ENV.set('WEBGL_PACK', false)`

Let me know what you find - thanks!

[2019-04-21 14:35] caisq commented on #1447
@chenqing Can you show your code? Specially, I'm interested in how you imported tfjs and/or tfjs-node.

[2019-04-21 16:03] Lursun opened #1531 "How can I convert to any model format?"
I want to convert model format between .pb .h5 tfjs(json/bin?) and pkl(option),It is too complicated.
tenserflowjs(tfjs-converter) is insufficient.
I need a more powerful tool.
I think tfjs model and .h5 convert to .pb is required.
Keras and Javascript are easier for some people, But sometimes you need to convert to .pb (Golang application)

[2019-04-21 17:42] nsthorat commented on #1447
FYI this should be fixed in 1.1, we might have to update USE.

[2019-04-21 22:19] rthadur commented on #1531
This question is better asked on [StackOverflow](https://stackoverflow.com/questions/tagged/tensorflow.js) since it is not a bug or feature request. There is also a larger community that reads questions there.

[2019-04-21 22:19] #1531 closed

[2019-04-22 03:23] jessetrana commented on #1530
That did the trick!

With 1.0.4, setting WEBGL_PACK=false, the ENV set looks like this.
BACKEND: "webgl"
DEBUG: false
IS_BROWSER: true
WEBGL_CONV_IM2COL: false
WEBGL_CPU_FORWARD: true
WEBGL_DOWNLOAD_FLOAT_ENABLED: true
WEBGL_LAZILY_UNPACK: false
WEBGL_MAX_TEXTURE_SIZE: 16384
WEBGL_PACK: false
WEBGL_PACK_ARRAY_OPERATIONS: false
WEBGL_PACK_BATCHNORMALIZATION: false
WEBGL_PACK_BINARY_OPERATIONS: fals

[2019-04-22 03:37] chenqing opened #1532 "how to save model or weights when use tfjs-core api?"
When using tfjs-core API train some model, I can't see any method like tf.Model.saveXX .
how can I save the last trained weights and used in another place?

[2019-04-22 03:45] chenqing commented on #1447
[code]

[2019-04-22 03:54] dan-ryan opened #1533 "Can't replace layers.dense with layers.lstm"
I've just started learning Tensorflow.js 1.0 and I was playing around with the CSV example code. I wanted to use `tf.layers.lstm` instead of `tf.layers.dense`. In other neural network libraries, it's an easy swap. But instead, I get an error.

I was going to list this on StackOverflow, but unsure if this is a bug or an improvement that needs to happen. Reading the API docs, for me, it's not clear

[2019-04-22 13:40] nsthorat commented on #1447
Oh apologies, this won't be fixed in 1.1, only double registration of http handlers will be. I'll fix file handling in the next release.

[2019-04-22 15:22] tafsiri commented on #1533
@dan-ryan I think this is because the input shape in your example is 1d whereas it needs to be 2d i.e. `[timesteps/sequence_length, numFeatures]`, (there will be one more dimension, the batch size, that will automatically be added to the input shape).

@caisq Is there any opportunity here to improve the error message?

[2019-04-22 15:40] tafsiri commented on #1532
When using the core api you would need to implement your own serialization (you can get the values of the tensor using the `.data()` method. Note that there is no model object for us to save as you can write arbitrary code using the core api. In built serialization is one of the major benefits of the layers api.

[2019-04-22 15:40] #1532 closed

[2019-04-22 16:58] #1518 closed

[2019-04-22 18:45] dsmilkov commented on #1478
Hi Dan, we just released a new version of knn-classifier (1.1.0) on npm that supports arbitrary strings or numbers as class labels.

[2019-04-22 21:09] rachita97 opened #1534 "Why is "pip install tensorflowjs" installing tf-nightly-2.0-preview? It messes my environment up and keras stops working without using tf.keras."
To get help from the community, we encourage using Stack Overflow and the [`tensorflow.js`](https://stackoverflow.com/questions/tagged/tensorflow.js) tag.

#### TensorFlow.js version
tensorflowjs   1.0.1

#### Browser version
Mozilla Firefox 66.0.3 (64-bit)
#### Describe the problem or feature request
I am trying to train a keras model and then convert it to tensorflowjs. I already have a converte

[2019-04-22 22:28] tafsiri commented on #1534
cc @pyu10055

[2019-04-22 22:55] dan-ryan commented on #1533
The API doesn't make that clear if that is the case.

Can you show an example, how to fix my sample code?

[2019-04-23 01:19] caisq commented on #1534
@rachita97 It is recommended to install tensorflowjs in a separate pipenv or virtualenv to avoid conflicting with user's existing tensorflow/keras installations.

[2019-04-23 01:22] jessetrana commented on #1485
Can someone familiar with the internals comment on the overall strategy around this? My hunch is that this has not been implemented for the same reason that tf.fromPixels moved to tf.browser.fromPixels - the browser is the one that is responsible for managing image parsing via whatever codec support it has rather than trying to reimplement (perhaps awkwardly) in JS. If that's the case, it seems li

[2019-04-23 01:31] caisq commented on #1533
@dan-ryan

This API follows keras standard. IMHO, the error message is relatively clear in this case. An LSTM layer (or any RNN layers) expects its input to be 3D. The 3 dimensions are example (batch), time step and features, respectively. If you give it a 2D input (as I think is what happened in your case), it'll throw the error.

LSTM (RNN) layers typically don't follow dense layers. Instead, it

[2019-04-23 01:32] #1533 closed

[2019-04-23 03:06] prasadkawthekar commented on #266
@tangtai could you please share the code you used to load a tf.loadLayersModel from AWS s3 bucket on React webapp? Thanks!

[2019-04-23 03:46] jessetrana commented on #1528
I wonder if it is related to the performance drop I saw too in #1530 ? Still ongoing investigation but it appears forcing WEBGL_PACK to false may be a suitable workaround.

[2019-04-23 03:49] reiinakano commented on #1528
@jessetrana Thanks for the heads up! I will try it and report back.

[2019-04-23 09:06] VessaliusOz commented on #1434
hello! I still get the same problem.

when I use the tensorflowjs==1.0.1,  I  get  this  error.

![image](https://user-images.githubusercontent.com/19574792/56568066-d3b23380-65e8-11e9-8484-30333a4b382a.png)

however ,  when I tried to switch to tensorflowjs=0.8.5

it shows that
![image](https://user-images.githubusercontent.com/19574792/56568131-fe9c8780-65e8-11e9-8299-5105ba88c7f8.png)

but when

[2019-04-23 09:12] VessaliusOz commented on #1434
would you please help me ?  thanks a lot!

[2019-04-23 13:17] VessaliusOz commented on #1434
but  if I  recreate a virtualenv  and run the cmd  pip install tensorflowjs==0.8.5 at first  I  would  get  this error :

![image](https://user-images.githubusercontent.com/19574792/56583668-ab3c3080-660c-11e9-95a7-99392b436019.png)

![image](https://user-images.githubusercontent.com/19574792/56583676-b3946b80-660c-11e9-942b-082650d9b6f4.png)

[2019-04-23 13:51] reiinakano commented on #1528
It works! I can confirm it's back to normal (maybe even a tiny bit faster)

[2019-04-23 15:20] caisq opened #1536 "Add eslint to tfjs-examples"

[2019-04-23 17:45] tafsiri commented on #1186
Re-opening as I am experiencing a very similar issue on version 1.0.4 of tfjs.

Here is a reproduction with universal sentence encoder. https://codepen.io/tafsiri/pen/BEOENm?editors=0012 Digging into the code a little bit on my local machine suggests that it is the executeAsync call. I also get the same number of tensors leaked as the original issue.

[2019-04-23 17:45] tafsiri commented on #1186
cc @pyu10055

[2019-04-23 20:50] rosman21 commented on #1513
Found this online somewhere but maybe try adding this to the end of your convert command. I was able to get past that error but I ended up getting another one. Again I am not saying this is the solution just saying give it a try and see what happens.

[code]

[2019-04-23 20:51] rosman21 opened #1537 "Error dumping weight DecodeJpeg/contents, dtype bytes21464 not supported"
To get help from the community, we encourage using Stack Overflow and the [`tensorflow.js`](https://stackoverflow.com/questions/tagged/tensorflow.js) tag.

#### TensorFlow.js version
tensorflowjs 0.8.0
#### Browser version
N/A
#### Describe the problem or feature request
I have a saved_model.pb I am trying to convert and I keep getting this error
`Error dumping weight DecodeJpeg/contents, dtype by

[2019-04-24 03:41] jessetrana commented on #1528
Excellent! If the team feels there is a singular root cause, would it be appropriate to close either this one or #1530 as a duplicate?

[2019-04-24 09:59] FremyCompany opened #1538 "Layer in TimeDistributed fails to unserialize if also used elsewhere"
#### TensorFlow.js version
`1.0.2`

#### Describe the problem or feature request
When you create a model in which a layer is used in more than one TimeDistributed layer, serialization will duplicate the layer as if they were two different layers, and then unserialization will fail because only one weight will be serialized for the "two" layers.

#### Code to reproduce the bug / link to feature req

[2019-04-24 10:02] FremyCompany commented on #1538
The only way to fix this I can imagine would be to allow the `layer` property of a TimeDistributed layer to take a string instead of an object as an input, and when this happens, lookup for an already unserialized layer with that name and use it as is, and not create a new layer.

[2019-04-24 10:05] FremyCompany commented on #1538
(It does seem that giving a name to the layer works, but I suspect that there are now two layers with the same name in the model and that is bound to cause issues somewhere at a later point, plus that means it's probably not possible to train the model anymore since the two copies would diverge)

[2019-04-24 11:14] hpssjellis opened #1539 "tfjs-visor API 1.0.2 examples not running"
tfjs-visor API examples (all versions) do not run for me on Windows, Android Chrome or Ubuntu Chrome.

Using this link to version 1.0.2 tfjs-visor API:  https://js.tensorflow.org/api_vis/1.0.2/#visor

When clicking the "run" button the error I get is:

Any ideas @tafsiri ?

The examples work fine away from the API.

[2019-04-24 12:57] annxingyuan commented on #1530
Thanks for doing this investigation @jessetrana - this is very helpful information to have.

Very interesting that WEBGL_PACK=true for 0.15.3 did not harm performance - could you print the ENV after setting WEBGL_PACK=true and confirm that the individual op-level packing flags were also flipped to true? Their value should depend on WEBGL_PACK.

Do you have the model used for inference hosted somew

[2019-04-24 13:42] msektrier commented on #1484
I can confirm ctmckee's description. I had the same setup in windows and the same error.
after forcing the upgrade of numpy to 1.16.3 (not 1.16.2) I received a warning:

Afterwards I tried to execute "tensorflowjs_converter --help" and "tensorflowjs_converter" and received this output:

[2019-04-24 14:05] #1349 closed

[2019-04-24 14:35] FremyCompany commented on #1538
UPDATE: for what this is worth, I got things working on my end with some code hacking; here is how I got things working:

1. **PASS THE LIST OF LAYERS:** In `container.ts` append a `getCreatedLayers` function to `customObjects` which returns `createdLayers` which stores all the layers that have already been created

2. **RETREIVE FROM THE LIST OF LAYERS:** In `wrapper.ts` in `Wrapper.fromConfig` g

[2019-04-24 15:03] tafsiri commented on #1539
@hpssjellis Thanks for reporting! We found the fix (a change in a recent release) and i've made a PR to update the snippet runner. Should be deployed fairly soon.

[2019-04-24 15:39] #1539 closed

[2019-04-24 15:44] tafsiri commented on #1528
I think leaving this one open might be helpful for now, as it gives us more examples to look at for the impact of WEBGL_PACK.

cc @annxingyuan

[2019-04-24 16:55] tafsiri commented on #1528
And to clarify i meant leaving both of them open for now.

[2019-04-24 17:09] hpssjellis commented on #1539
Everything works now. Thanks.

Quick observation @tafsiri after I hide the visor, the visor command does not work (because the visor is hidden). Probably best each time tfvis.visor(); is called, to force the visor to be visible.

Perhaps "force visor visible"  could be an option passed to tfvis.visor();

[2019-04-24 21:56] sthongprasert commented on #1513
@rosman21 Added skip_op_check did get me through the decode error, but now I am getting

ValueError: Error dumping weight Const_1, dtype object not supported.

Not sure if that is the same error that you are receiving as well.

[2019-04-24 21:59] rosman21 commented on #1513
@sthongprasert yup except I am getting a different error dumping weight error.

I read in another thread someone downgraded their python version and tensorflowjs version and it worked for them so maybe that might be the next thing to try unless we get some support and guidance.

[2019-04-24 23:17] jessetrana commented on #1530
Yes, it appears that the individual op-level packing flags go to true. Let me see what I can do about the model etc. later, but here's the info for now:

0.15.3 with WEBGL_PACK=true
First Run
Model inference in 96ms and avg of 192ms for 517 scanned images
Second Run
Model inference in 135ms and avg of 188ms for 505 scanned images
BACKEND: "webgl"
DEBUG: false
IS_BROWSER: true
PROD: false
​WEBGL_CO

[2019-04-24 23:21] sthongprasert commented on #1513
@rosman21 Tried every version of tensorflowjs with Python 2.7, got the same error with every version. Hopefully someone finds a solution that works. Would be amazing if tensorflowjs can start converting AutoML edge models.

[2019-04-24 23:36] jessetrana commented on #1530
Here is the plugin source and model topology (see the sqrx_18 folder) backpatched to 0.15.3 with WEBGL_PACK=true. (Note that while the code is being uploaded here it should still remain under the license of the plugin itself - which is quite permissive.  https://addons.mozilla.org/en-US/firefox/addon/wingman-jr-filter/)
[wingman_jr_backpatch_to_0.15.3_with_weights.zip](https://github.com/tensorflo

[2019-04-24 23:59] rosman21 commented on #1513
@sthongprasert did you try python 3.6? and tensorflowjs 0.8.0?

[2019-04-25 04:51] prasadkawthekar opened #1541 "Unsupported input_format - output_format pair: tf_frozen_model - tfjs_graph_model"
To get help from the community, we encourage using Stack Overflow and the [`tensorflow.js`](https://stackoverflow.com/questions/tagged/tensorflow.js) tag.

#### TensorFlow.js version
1.0.1

Dependency versions:
  keras 2.2.4-tf
  tensorflow 2.0.0-dev20190424

#### Browser version
Chrome latest

#### Describe the problem or feature request
I am trying to convert tf_frozen_model to tfjs_graph_model.

[2019-04-25 11:14] vpanichkin commented on #517
Hello, everyone! Solved this issue by using docker container
Steps to reach the solution:
1. Add heroku.yml
[code]

2. Add DockerFile
[code]

3. Set `heroku stack:set container` in CLI to use DockerFile instead of ProcFile

4. Commit changes and push with `git push heroku master`

After that, Docker image will be created on Heroku-side and you application will launch.

P.S. Some useful links:
http

[2019-04-25 13:08] sthongprasert commented on #1513
@rosman21 Tried Python 3.6 and Python 3.5 with tfjs0.8.0, neither worked. For some reason, the saved_model input requires '.pb.frozen' file. And I could not get frozen file from AutoML. Did you run into the same issue?

[2019-04-25 22:27] pyu10055 commented on #1541
@prasadkawthekar For converting frozen model you need to use older pip package.
pip install tensorflowjs==0.8.5

And follow this document for converting the model
https://github.com/tensorflow/tfjs-converter/blob/0.8.x/README.json.md

[code]

[2019-04-25 22:31] pyu10055 commented on #1484
@llxxee @ctmckee can you try to create an empty virtualenv and install tensorflowjs in that. thanks.

[2019-04-25 22:36] pyu10055 commented on #1456
@vpanichkin with 1.x converter, we cannot arbitrarily set the output node names any more, they have to be a signature def in the saved model. One way to achieve this, you need to create a signature def in your saved model and set the signature_name param with the signature def key for the converter.

[2019-04-25 22:38] pyu10055 commented on #1109
I believe this bug should have been fixed, if you are still using 0.x version, you can try 0.15.4 releases.

[2019-04-25 23:25] caisq commented on #1538
@FremyCompany Thanks for filing the issue. To make sure I understand your original intent, why do you need to apply `timeDistributed` on `embedding`? `embedding` supports look up along the time axis on its own.

[2019-04-26 01:00] prasadkawthekar commented on #1541
Thanks!

[2019-04-26 05:27] prasadkawthekar opened #1542 "TFJS DeepLab Porting Error"
To get help from the community, we encourage using Stack Overflow and the [`tensorflow.js`](https://stackoverflow.com/questions/tagged/tensorflow.js) tag.

#### TensorFlow.js version

Python TFJS: 0.8.5
NPM TFJS: 1.0.0

#### Browser version

Chrome latest

#### Describe the problem or feature request

Hi, I am trying to port a pretrained [DeepLab](https://github.com/tensorflow/models/tree/master/r

[2019-04-26 14:21] Polarisation opened #1543 "Heatmap columns/rows swapped in API docs example code"
#### TensorFlow.js version

tfjsvis 1.02

#### Browser version
Chrome 73

#### Describe the problem or feature request

The rows and columns in the Heatmap example on the API docs page are swapped. The example code states there should be 50 rows and 20 columns, but running the code shows 50 columns and 20 rows. I am not clear if this represents a bug in the example code or in tfjsvis itself.

In a

[2019-04-26 15:38] nsthorat opened #1544 "Packed broadcasting of tf.div() gives NaNs"
Confirmed this does not happen with `WEBGL_PACK: false`.

This gives NaNs:
[code]

This is fine:
[code]

This is fine:
[code]

[2019-04-26 15:38] nsthorat commented on #1544
cc @notwaldorf

[2019-04-26 17:26] #1544 closed

[2019-04-26 17:51] notwaldorf commented on #1544
omg thank you so much for the speed-of-light fix!! 😍😍😍

[2019-04-26 17:51] nsthorat commented on #1544
@annxingyuan is amazing

[2019-04-26 19:01] caisq opened #1545 "Bug: setting trainable property of tf.LayersModel doesn't set the trainable bit of tf.Variable"
#### TensorFlow.js version
1.1.0

If you set the trainable property of a tf.LayersModel instance to false, all the weights of the model should be set to untrainable (trainable = False) (assuming they are originally trainable). That's not the current behavior though and it needs to be fixed.

[2019-04-26 19:54] dsmilkov opened #1546 "Recommend running converter pip in virtualenv"
Motivation for this issue: https://github.com/tensorflow/tfjs/issues/1484, https://github.com/tensorflow/tfjs/issues/1513, #1534

Update the README in tfjs-converter to clarify that users should run it in a docker or virtual env.

Also update the converter script to error if we detect that the user already has TF <2.0 installed, and asking the user to run it in a virtual env, or explicitly install

[2019-04-27 04:26] aihuawu opened #1547 "how to convert python tf.get_variable to js"
python
  embedding_table = tf.get_variable(
      name=word_embedding_name,
      shape=[vocab_size, embedding_size],
      initializer=create_initializer(initializer_range))

how can i convert it to js?
Thanks.

george wu

[2019-04-27 04:28] aihuawu opened #1548 "Implement LayerNorm in tfjs-layers"
def layer_norm(input_tensor, name=None):
  """Run layer normalization on the last dimension of the tensor."""
  return tf.contrib.layers.layer_norm(
      inputs=input_tensor, begin_norm_axis=-1, begin_params_axis=-1, scope=name)

how can i use layer_norm in js?
Thanks.

george wu

[2019-04-27 10:50] AxelWolf commented on #805
We can reproduce this error msg in a browser (Chrome) environment:

"Uncaught (in promise) Error: Based on the provided shape, [1280], the tensor should have 1280 values but has 1279"

In our setup, the error occurs up after making small changes to a model (adding a class to the final classification layer), retraining and exporting. When reloading the page that imports the model, the browser still

[2019-04-27 14:12] caisq commented on #1547
In Python `tf.get_variable()` is used to create variables. In TensorFlow.js, you can create variables by using `tf.variable()`. See documentation at: https://js.tensorflow.org/api/latest/#variable

Let me know if that answers your question.

[2019-04-27 14:13] caisq commented on #1547
However, be aware that `tf.variable()` in TensorFlow.js does not support initializers. You have to provide an explicit initial value.

[2019-04-27 14:42] aihuawu commented on #1547
Thank you.
Still some question on this:
1) If I use the same variable name, and call it twice, I should get the same variable. Is this true for js version?
2) how can I use the equivalent js version for the python version:
with tf.variable_scope("encoder")

George Wu

[2019-04-27 14:47] caisq commented on #1547
@aihuawu

1: No. tf.variable() in TensorFlow.js doesn't support this reusing pattern. If you want to use a variable twice, just use the same variable object.
2. There is no `tf.variable_scope()` in TensorFlow.js. `tf.variable_scope()` has been deprecated in TensorFlow 2.0 also. Users are now recommended to achieve Layer/Variable reusing through keras layers. TF.js has an equivalent of keras API th

[2019-04-27 15:01] caisq commented on #1548
There is a `LayerNormalization` layer type in tensorflow.kears (Python). The source code is at
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/keras/layers/normalization.py#L807

Perhaps the best way to go is to port this layer to TF.js? This layer isn't so complicated (less complicated than BatchNormalization).

@aihuawu I'm curious. What model are you writing in TF.js that

[2019-04-27 16:05] chenqing opened #1549 "tfjs-node-gpu OOM when use tf-data"
2019-04-27 23:51:06.168733: I tensorflow/core/common_runtime/gpu/gpu_device.cc:1433] Found device 0 with properties:
name: GeForce GTX 1080 Ti major: 6 minor: 1 memoryClockRate(GHz): 1.582
pciBusID: 0000:04:00.0
totalMemory: 10.91GiB freeMemory: 10.71GiB

Message: OOM when allocating tensor with shape[144,128,56,56] and type float on /job:localhost/replica:0/task:0/device:GPU:0
by allocator GPU_0_

[2019-04-27 21:51] FremyCompany commented on #1538
@caisq Yes, but I need to specify `inputLength` to a fixed number, so that I can flatten the things later. But I also need to apply the embedding on sequences of differing sizes so all in all, I can't use the built-in functionality. I could have two embeddings of different inputLength yet sharing the same weight, but that seemed difficult to do; choosing a sequence of size one then applying TimeDi

[2019-04-28 01:09] aihuawu commented on #1547
Thank you.
So you recommend me to just use Layer which has member of Variable. And then I just keep the Layer reference and reuse this layer in other location.  I will try that.

[2019-04-28 01:16] aihuawu commented on #1548
@caisq

Thank you for the information.
I am doing some NLP training and I am using the BERT model with multi-head self attention.
In that paper, it has a layer_norm for every sublayer. I am not sure which normalization I should use.
But they use layer normalization instead of batch normalization.

george wu

[2019-04-28 02:09] sahilb opened #1550 "TypeError: load() takes 1 positional argument but 2 were given"
#### TensorFlow.js version : 1.13.1

#### Browser version. NA

#### TensorFlow.js convertor : 1.0.1
`(python -c "import tensorflowjs as tfjs; print(tfjs.__version__)")`

I am getting the following error when trying to convert a tensor flow python saved model

(myenv) 258: ~/workspace/pen3/pensieve/sim $` tensorflowjs_converter --input_format=tf_saved_model  --output_format=tfjs_graph_model  ./save

[2019-04-28 03:43] chenqing opened #1551 "multi_gpu_model support"
As tf.keras.utils.multi_gpu_model , does tfjs-node-gpu support this?

the same issue linked https://github.com/tensorflow/tfjs/issues/1277

[2019-04-28 04:43] aihuawu commented on #1547
@caisq

For python:
  tvars = tf.trainable_variables()
  grads = tf.gradients(loss, tvars)

I have found js:
tf.variableGrads (f, varList?)

Is it possible to get all trainable_variables in js?
Or should I keep reference of all the trainable_variables myself?

Thanks.

George wu

[2019-04-28 13:49] caisq commented on #1550
@pyu10055 Can you take a look?

[2019-04-28 13:51] caisq commented on #1549
@chenqing Can you add a line in your `onEpochEnd` callback to track the number of tensors?

[code]

[2019-04-28 14:44] chenqing commented on #1549
[code]

I add this line in onBatchEnd, the tensor is increased by every batch .... Not yet finished at the end of the first  epoch, OOM heppend.

[2019-04-28 17:29] caisq commented on #1549
So something is leaking tensors.

[2019-04-28 20:15] caisq commented on #1549
Actually, my last comment was incorrect. You are seeing an increase in tensor count *within* an epoch, which is possibly okay. However, tensor count should not increase between epochs, which is why I recommended you to add the `console.log()` statement in `onEpochEnd`, not `onBatchEnd`. Can you do that and report back?

[2019-04-28 21:46] caisq commented on #1547
`tf.variableGrads()` calculates gradients for all trainable variables by default, if you don't specify the 2nd argument.

[2019-04-28 23:31] chenqing commented on #1549
But it no chance to trigger the onEpochEnd，before the first epoch complete，oom happened.

[2019-04-28 23:54] chenqing commented on #1549
I reduce the image number, as shown:
[code]

the number of tensors increase as the epoch growth.

[2019-04-29 00:18] chenqing commented on #1549
[code]
I think is this line `  x = tf.tidy(() => this.mobileNet.predict(y)); ` problem.

[2019-04-29 01:17] jessetrana commented on #1530
Were you able to get the model up and running? I know my running environment may have some interesting quirks due to being a browser plugin so I'm curious to know if you ran into failures under your standard test harnesses.

[2019-04-29 02:29] aihuawu commented on #1547
Great, Thanks.
That's all I need so far.

George Wu

[2019-04-29 02:46] #1547 closed

[2019-04-29 06:41] sahilb commented on #1550
this is the output from  saved_model_cli --all

signature_def['serving_default']:
  The given SavedModel SignatureDef contains the following input(s):
    inputs['myInput'] tensor_info:
        dtype: DT_FLOAT
        shape: (-1, 6, 8)
        name: myInput:0
  The given SavedModel SignatureDef contains the following output(s):
    outputs['myOutput'] tensor_info:
        dtype: DT_FLOAT
        s

[2019-04-29 12:08] #1549 closed

[2019-04-29 14:58] caisq commented on #1548
cc @annxingyuan about language (BERT) models in TF.js

[2019-04-29 15:11] nsthorat commented on #793
Sorry for the delay in response, here is some background that will help.

In TensorFlow.js there are two types of ways of writing models, using the Layers API or writing the model with the Core API (you are looking for a hybrid approach which is where the confusion is).

Check out the guide here for more information (once you've read this doc come back here): https://www.tensorflow.org/js/guide/mo

[2019-04-29 15:12] #1545 closed

[2019-04-29 19:28] nsthorat opened #1552 "Indentation of code snippets on the API docs are off."
See: https://js.tensorflow.org/api/latest/#registerClass

Could be an issue with ts compiler api.

[2019-04-29 19:28] nsthorat commented on #1552
cc @tafsiri

[2019-04-30 01:48] chenqing commented on #1551
Now, use `CUDA_VISIBLE_DEVICES=0 node train.js` can specify the first GPU, And so on.

[2019-04-30 09:58] chenqing commented on #283
any progress?

[2019-04-30 11:13] danieldaeschle commented on #1373
Any update?

[2019-04-30 15:40] #1552 closed

[2019-04-30 17:09] #117 closed

[2019-04-30 17:41] pyu10055 opened #1553 "Add test for converting TF 2.0 models with control flow ops"
To get help from the community, we encourage using Stack Overflow and the [`tensorflow.js`](https://stackoverflow.com/questions/tagged/tensorflow.js) tag.

#### TensorFlow.js version
1.x
#### Browser version

#### Describe the problem or feature request
The control flow inlining support has been added in TF 2.0, we should add test to verify that TF 2.0 model with control flow ops can be converted

[2019-04-30 18:05] tafsiri commented on #1516
@DirkToewe We had a chance to talk about this and the summary is that we would like to support more linalg functions but don't have the bandwidth to review all the functionality currently in tf.linalg.

However we think we can do some work to list the ops we would want to review PRs for based on broad applicability/use case. @dsmilkov will follow-up with some concrete thoughts on op prioritization

[2019-04-30 18:05] bileschi commented on #283
I don't believe anyone is actively working on this, though several people have thoughts on how it would be best accomplished.  In the short term, are you more interested in porting Lambda layers from a Python env to a JS env, or running custom layers defined in one JS env in a different JS env?

In the longer term, we could prioritize this if we found there is stronger demand here than for other p

[2019-04-30 20:10] sthongprasert commented on #1513
@dsmilkov I tried running converter pip in virtualenv with Python 3.6.4 and tensorflowjs 0.8.0 which got me pass the previous error, but now running into a new error below

ValueError: You need to supply the name of a node to --output_node_names.

I couldn't figure out the output node names that get created by Google AutoML Edge TPU. I tried to load pb file in tensorboard and also generated pbtxt

[2019-04-30 20:27] rosman21 commented on #1513
@sthongprasert I think double clicking on the import layer in TensorBoard will give you the output node names. I think in my models it is called final_result. I was able to get past this output node names error after finding that out but I still hit a road block.

[2019-04-30 20:40] sthongprasert commented on #1513
@rosman21 Thanks that got me pass the node names issue. Now I'm getting the following error, not sure if this is this same one that you're experiencing as well.

TypeError: Expected config_proto to be a ConfigProto, saw type <class 'tensorflow.core.protobuf.rewriter_config_pb2.RewriterConfig'>

[2019-04-30 21:24] dsmilkov opened #1555 "Packed broadcast gives different result than unpacked broadcast"
Relevant PR that introduced this bug: https://github.com/tensorflow/tfjs-core/pull/1706

To reproduce, yalc link core@master and run the tfjs-layers test. 1 test fails.

[2019-04-30 22:44] ctmckee commented on #1484
Seems like time was the answer.  I have today (4-30-19) re-installed and now the converter is working.

Thanks @llxxee and @pyu10055 for the suggestions

[2019-05-01 09:55] leemengtaiwan opened #1556 "Need help to convert a subclassed Keras model to tfjs model properly"
To get help from the community, we encourage using Stack Overflow and the [`tensorflow.js`](https://stackoverflow.com/questions/tagged/tensorflow.js) tag.

#### TensorFlow.js version

tensorflowjs 1.0.1

#### Browser version

Chrome 74.0.3729.131

#### Describe the problem or feature request

As title, I have a subclassed Keras model and don't know how to properly convert it to a working tfjs mode

[2019-05-01 10:16] annxingyuan commented on #1555
Keeping the issue open so we remember to try to figure out how to create a test case (note this error only occurs on Linux and has to do with how unused channels are handled).

[2019-05-01 11:09] #1556 closed

[2019-05-01 16:26] #1484 closed

[2019-05-01 16:29] ctmckee opened #1558 "tensorflowjs: How to use numpy arrays in tfjs?"
Is there a way to convert a numpy array to a usable tensor in tfjs?

My image pre-processing files are numpy arrays.  To get predictions from a model I need to process input images with these files and I'm not sure how to accomplish this is tfjs.

[2019-05-01 17:06] davidbrewer commented on #1513
Hey, just wanted to chime in to say I am also trying to get exactly the same thing working, although I downloaded my model from AutoML Vision Edge using the "Tensorflow (recommended for GPU-based devices)" format.

With Tensorflowjs version 1.0.1 and Python 3.6.6, I get the same error as mentioned in the original issue:
[code]

Adding `--skip_op_check=SKIP_OP_CHECK` got me to this different error:

[2019-05-01 19:08] kangyizhang commented on #1558
For future reference, this sort of questions are more suited to StackOverflow with tag 'tensorflow.js'.

You can try to convert and save the numpy array in other format such as json, then load and parse it as javascript array.

Numeric and array operation with numpy is not supported in tfjs. Please see https://www.tensorflow.org/js/guide/layers_for_keras_users#no_numpy_for_tensorflowjs

[2019-05-01 23:00] dhrumil83 commented on #1542
Does your model have any .pb files? In that case you need to convert the model once more since its the old format and not valid for tfjs 1.0.

https://github.com/tensorflow/tfjs-converter

I am looking forward to the last piece of computer vision(segmentation) optimized to work in the browser. Body pix example is great, but need ability to do that on generic objects as well. Hopefully some more ex

[2019-05-02 02:48] aihuawu opened #1559 "when build a graph, when run the graph in js, what's eager mode in js?"
It might be a very stupid question.
I am quite confused.

When I have a model, it has
call, apply, compile, fit
4 methods.

I assume compile will build a graph, and then fit will run the graph.
Now are call/apply methods executed in compile phase or fit phase.
In python, it has an eager mode to control it. What is it in tfjs?

George Wu

[2019-05-02 04:09] aihuawu opened #1560 "webgl or node gpu? which is better?"
I understand gpu is much faster than cpu mode.

There are two choices:
1) use webgl, which is supported in all browsers. even for windows platform.
2) use node gpu on linux with tensorflow backend. it will not work on windows.

My question is which one is better? which one is faster? which one is more stable?

George Wu

[2019-05-02 04:19] aihuawu opened #1561 "will javascript be executed in gpu?"
I believe javascript will not be executed in gpu.
Only the tensor operations are executed in gpu.
So javascript is used to build a graph and submitted the tensor graph to gpu.

I am very confused with the my javascript code.
I am not sure which part of my code is run in gpu.

George Wu

[2019-05-02 06:13] aihuawu opened #1562 "example for Creating models with the Core API"
https://tensorflow.google.cn/js/guide/models_and_layers

1)  The layer functional model
const input = tf.input({shape: [784]});
const dense1 = tf.layers.dense({units: 32, activation: 'relu'}).apply(input);
const dense2 = tf.layers.dense({units: 10, activation: 'softmax'}).apply(dense1);
const model = tf.model({inputs: input, outputs: dense2});

2) Core API
const w1 = tf.variable(tf.randomNormal([7

[2019-05-02 06:24] aihuawu opened #1563 "can I do model/submodel composition and reshape with layer api?"
I need to have a model which call a submodule a few times.
Can I do it with layer api? or should I use core api?
e.g. A call B 16 times:
B input and output shape is [10]
A input and output shape is [16*10]
In core api, I should be able to reshape the tensor to [16, 10] and B get a batch parameter of 16.
How can I do it with layer api to reshape it?

George Wu

[2019-05-02 06:30] aihuawu opened #1564 "can I do f(x+g(x)) with layer api?"
I want to use layer api to do it.
f(x+g(x))
where x in the input tensor, g,f are two layers.

I believe it is quite straight forward to use core api.
But since the document suggest using layer api and I don't need to maintain
the learning parameters, I am just wondering if it is possible.

George Wu

[2019-05-02 07:30] aihuawu opened #1565 "how to consume complex/zipped dataset with model.fitDataset?"
It seems the Dataset can be composed and have arbitrary data structure.
Dataset can be zipped. how to consume a zipped Dataset?

If we call model.fitDataset, inside the model, how can we
consume the dataset and walk through the structure and override which method to
consume it?

I find the model.fit take tensor arguments which looks like simpler.
But I am just wondering if it can do lazy data inpu

[2019-05-02 07:46] BenjaminWegener commented on #1149
i was facing the same issue, so i just disabled the errorchecks in tf.js. its not a fix but a workaround:

[tf1.1.0.js.txt](https://github.com/tensorflow/tfjs/files/3137099/tf1.1.0.js.txt)

[2019-05-02 08:01] BenjaminWegener commented on #1149
i train my model with tfjs in browser and it seems, tfjs doesn't save or load the weights of the depthwise convolution, becouse after the first load the model has significantly lesser params (exactly 4 times less if multiplier is 4)

[2019-05-02 15:14] bileschi commented on #1559
Perhaps this codelab will help you?
https://codelabs.developers.google.com/codelabs/tfjs-training-regression/index.html#0

[2019-05-02 15:14] #1559 closed

[2019-05-02 15:15] bileschi commented on #1560
Hello, this sort of question is better suited to StackOverflow.  This issues list is for bugs and feature requests.  Thanks and please use the tag 'tensorflow.js' on your StackOverflow question to makes sure it's discoverable.

[2019-05-02 15:15] #1560 closed

[2019-05-02 15:15] bileschi commented on #1561
Hello, this sort of question is better suited to StackOverflow.  This issues list is for bugs and feature requests.  Thanks and please use the tag 'tensorflow.js' on your StackOverflow question to makes sure it's discoverable.

[2019-05-02 15:15] #1561 closed

[2019-05-02 15:16] bileschi commented on #1562
Hello, this sort of question is better suited to StackOverflow.  This issues list is for bugs and feature requests.  Thanks and please use the tag 'tensorflow.js' on your StackOverflow question to makes sure it's discoverable.

[2019-05-02 15:16] #1562 closed

[2019-05-02 15:16] bileschi commented on #1563
Hello, this sort of question is better suited to StackOverflow.  This issues list is for bugs and feature requests.  Thanks and please use the tag 'tensorflow.js' on your StackOverflow question to makes sure it's discoverable.

[2019-05-02 15:16] #1563 closed

[2019-05-02 15:16] bileschi commented on #1564
Hello, this sort of question is better suited to StackOverflow.  This issues list is for bugs and feature requests.  Thanks and please use the tag 'tensorflow.js' on your StackOverflow question to makes sure it's discoverable.

[2019-05-02 15:16] #1564 closed

[2019-05-02 15:17] bileschi commented on #1565
Hello, this sort of question is better suited to StackOverflow.  This issues list is for bugs and feature requests.  Thanks and please use the tag 'tensorflow.js' on your StackOverflow question to makes sure it's discoverable.

[2019-05-02 15:17] #1565 closed

[2019-05-02 15:17] #1558 closed

[2019-05-02 19:41] tafsiri commented on #1543
Thanks for the report @Polarisation! That is indeed a bug in the documentation. We are updating the examples and docs to make it clearer. I've also merged a PR that adds an option for your feature request, which i think is quite reasonable.

The new feature and docs should be going out in a release that should be out by the end of this week.

[2019-05-02 20:44] tafsiri commented on #1543
@Polarisation, 1.1.0 is released. Updated docs are here https://js.tensorflow.org/api_vis/1.1.0/#render.heatmap, let us know if that makes things clearer. Thanks!

[2019-05-02 20:44] #1543 closed

[2019-05-02 21:31] oakkas commented on #755
The way I solved the same problem (provided weight data has no target variable conv1_1/kernel) is by cleaning all output and cache of my jupyter notebook, loading model (model = load_model('./tf_files/keras/modelKeras2.h5')) and converting with tfjs (tfjs.converters.save_keras_model(model, './tfjsModelConverted/model6') ).

Hope it helps...

[2019-05-02 21:59] tafsiri commented on #1485
@jessetrana I would say you're strategy is correct (assuming you already have a blob loaded). Since blob and base64 are pretty generic in terms of what they can represent it would probably be best for user code to convert it to an image using the format they know the data is in. We probably won't be implementing functionality to take blobs or base64 strings directly.

@Jonarod To you first questio

[2019-05-03 16:04] dsmilkov opened #1569 "Grappler fails for TF reference variables"
This issues tracks our dependency on TF nightly and should be closed when tf nightly fixes reference variables and we update our python requirements to that nightly version.

Context:
Grappler (used by the tfjs-converter) fails when there are TF v1 reference variables, but there is a temporary work around: Add following line to your python script:
[code]

This would use resources variable instead

[2019-05-03 16:13] pyu10055 commented on #1569
@dsmilkov FYI there is an internal TF bug tracking this.

[2019-05-03 16:21] dsmilkov commented on #1569
Sounds good. This issue tracks that we update our python dependency nightly version when they fix it.

[2019-05-03 16:46] pyu10055 commented on #1550
I believe this is resolved through the mail list, the cause of this issue is user having two versions of Tensorflow pip installed.

[2019-05-03 16:46] #1550 closed

[2019-05-03 16:48] pyu10055 commented on #1541
@prasadkawthekar The frozen model and session bundle are deprecated formats, we will no longer support them in v1.x going forward.
We update pip less frequently than npm, the last version of pip should work with the last version of npm.

[2019-05-03 16:48] #1541 closed

[2019-05-03 16:51] pyu10055 commented on #1542
@prasadkawthekar can you share the model files and code to generate the error, this would help us to locate the issue quicker. thanks.

[2019-05-03 20:11] pyu10055 commented on #1534
this issue is a duplicate of #https://github.com/tensorflow/tfjs/issues/1546

[2019-05-03 20:22] pyu10055 commented on #1449
@tafsiri is this issue resolved?

[2019-05-04 10:14] KayDee opened #1570 "[Codelab]: Making Predictions from 2D Data"
To get help from the community, we encourage using Stack Overflow and the [`tensorflow.js`](https://stackoverflow.com/questions/tagged/tensorflow.js) tag.

#### TensorFlow.js version
1.0.0
#### Browser version
Chrome 73
#### Describe the problem or feature request
Codelab doesn't work as shown
#### Code to reproduce the bug / link to feature request
I tried the codelab. The functions shown there,

[2019-05-04 22:00] harish2704 opened #1571 "model.predict fails for larger data input."
To get help from the community, we encourage using Stack Overflow and the [`tensorflow.js`](https://stackoverflow.com/questions/tagged/tensorflow.js) tag.

#### TensorFlow.js version
1.1.0

#### Browser version
Version 72.0.3626.121

#### Describe the problem or feature request
I ported a pretrained keras model into tfjs . But, I am experiencing inconsistent behavior from `model.predict` function.

[2019-05-05 04:12] chenqing opened #1572 "tf.while_loop support"
now in tfjs not support like tf in python.

[2019-05-05 14:05] RohanGautam commented on #604
This is happening to me too!
For me, i've pinpointed it down to the following line in my code:
`img = tf.browser.fromPixels(webcamElement);`
where `webcamElement` is a frame from the webcam, all the major webcam setup is from google's example [here](https://codelabs.developers.google.com/codelabs/tensorflowjs-teachablemachine-codelab/index.html#0).

I'm resizing `img` and passing it though a CNN.

[2019-05-06 07:49] RohanGautam commented on #604
UPDATE: I'm currently able to get it working by calling `tf.dispose()` on every tensor after i'm done using it. Seems to work for now, but it's kinda janky. Hope it helps someone though!

[2019-05-06 15:36] shashwatsahay commented on #755
This particular way worked for me but instead of using the

`keras.backend.clear_session() `

functionality I used  the tensorflow API to keras as clearing the seesion by directly using keras module throws an error with tensorflow. The following is what I used

`tf.keras .backend.clear_session() `

[2019-05-06 15:49] samfultonschool opened #1573 "Reinforcement learning / NeuroEvolution"
I am just getting started with tf.js and I have been trying to find a way to get reinforcement learning  and neuroevolution to work with the layers api. Are there any cross over / mutate functions, or anything for RL working with the layers api? If not, are there any plans to have this implemented? Thanks!

[2019-05-06 17:46] kangyizhang commented on #1570
@KayDee

I tried es6 arrow functions and it works the same. Can you provide your code snippet?

[2019-05-06 17:50] caisq commented on #1573
@samfultonschool We have a deep-Q network example to be checked in soon. It uses the layers API and is based on the snake game.
https://github.com/tensorflow/tfjs-examples/pull/270

We don't have a plan to add examples for neural evolution soon. But there are open-source examples of how to do neural evolution in TensorFlow.js, e.g.,
https://github.com/adityathebe/evolutionSimulator
https://github.

[2019-05-06 18:45] vpanichkin commented on #1456
Hi, @pyu10055!

Solved an issue with older converter. Thanks for cooperating!

[2019-05-06 18:45] #1456 closed

[2019-05-06 21:31] #1573 closed

[2019-05-07 00:56] hpssjellis commented on #1211
@dsmilkov @caisq

Any idea why zerosLike() is not working since TFJS version 1.0.0. Or what I should do to fix the code?

This [TFJS-GAN](https://t.co/tFXR1UvpGp) by @mwdchang works pre-version 1.0.0

my [TFJS-GAN](https://t.co/5AG6mEEERc) post version 1.0.0 doesn't. My fork of his github is [here](https://github.com/hpssjellis/tfjs-gan)

The error message says: Uncaught (in promise) Error: Cannot

[2019-05-07 08:36] KayDee commented on #1570
@kangyizhang
I tried arrow functions today and it works for me too

Thank you for the help.

[2019-05-07 08:36] #1570 closed

[2019-05-07 18:39] nsthorat commented on #604
@RohanGautam, do you think you could post the code you are having problems with?

[2019-05-08 04:03] RohanGautam commented on #604
sure! I've boiled it down to the following minimum code required to reproduce the error:
`index.html` :
[code]

`index.js` :
[code]

[2019-05-08 05:28] take-kuma opened #1575 "How to convert tfjs_graph_model to tf_saved_model"
To get help from the community, we encourage using Stack Overflow and the [`tensorflow.js`](https://stackoverflow.com/questions/tagged/tensorflow.js) tag.

#### TensorFlow.js version
tensorflowjs 1.0.1 pip package, with python3.6 on Ubuntu16.04.

#### Describe the problem or feature request
I am porting BodyPix to python. So I want to convert the BodyPix tfjs models to the python-friendly format.

[2019-05-08 15:39] nsthorat commented on #604
Ah so regular tf.Tensors not tf.Variables. Check out the guide here for why that is not a bug: https://www.tensorflow.org/js/guide/tensors_operations#memory

[2019-05-08 15:47] rthadur commented on #1572
can you please open with a template provided.I will be closing this issue, thank you

[2019-05-08 15:47] #1572 closed

[2019-05-08 16:44] harish2704 commented on #1571
@rthadur , @pyu10055 : I think, Easiest way to debug this issue will be something this
1. Run this model for given input tensor, and collect inputs & outputs  of each layer.
2. Repeat the same with CPU backend.
3. Compare the outputs of each layer .

In this way, we can easily identify the affected layer.

[2019-05-08 21:16] rthadur commented on #951
#1412 is merged so closing this PR

[2019-05-08 21:16] #951 closed

[2019-05-08 21:17] rthadur commented on #1522
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-05-08 21:17] #1522 closed

[2019-05-09 08:21] BenjaminWegener commented on #1398
Its because onesLike and zerosLike were converted to KERNEL version. replace the functions with their deprecated versions while we wait for an update.

`/*			function zerosLike_(e) {
				var t = convertToTensor(e, "x", "zerosLike");
				return ENV.engine.runKernel(function (e) {
					return e.zerosLike(t);
				}, {
					$x: t
				}, null);
			} */
			function zerosLike_(e) {
				var t = convertToT

[2019-05-09 12:52] d3x0r commented on #1398
How do you rebuild tfjs-core on windows after making that change?   or make similar change to compiled .esm.js?
[code]

[2019-05-09 13:07] serv-inc opened #1576 "Retrain image detection with MobileNet for use in TFjs, failure in tensorflowjs_converter"
#### TensorFlow.js version
'1.0.1'
(`retrain.py` did not work with tf-nightly-2.0, so that was run with '1.13.1 ('v1.13.1-0-g6612da8951')'. Installing tensorflowjs-converter then installed tf-nightly-2.0-preview-2.0.0.dev20190509)

#### Browser version
n.a.

#### Describe the problem or feature request
Both tutorials at https://www.tensorflow.org/hub/tutorials/image_retraining and
https://www.tens

[2019-05-09 14:25] QuantumInformation commented on #1248
any update?

[2019-05-09 14:37] BenjaminWegener commented on #1398
just sorta hacked the tf.js browser version, for node.js didn't try

[2019-05-09 15:51] tafsiri commented on #1576
cc @pyu10055

[2019-05-09 18:43] hpssjellis commented on #1211
This looks relevant for onesLike()

https://github.com/tensorflow/tfjs/issues/1398#issuecomment-490806579

@BenjaminWegener

Can someone give an example, or should this be fixed fairly soon. I am in no rush.

Fairly sure tf.onesLike_() does not work.

[2019-05-10 00:07] dhrumil83 opened #1577 "Feature Request - Deeplab/MobileNet application or example"
To get help from the community, we encourage using Stack Overflow and the [`tensorflow.js`](https://stackoverflow.com/questions/tagged/tensorflow.js) tag.

#### TensorFlow.js version
1.x

#### Browser version
Chrome

#### Describe the problem or feature request
TFLite has this section on segmentation. Something similar optimized for browser would be awesome.
https://www.tensorflow.org/lite/models/

[2019-05-10 05:07] aronsuarez commented on #1513
any update on this feature?

[2019-05-10 09:38] BenjaminWegener commented on #1211
Heres a working 1.0.0
[tf.js.txt](https://github.com/tensorflow/tfjs/files/3165865/tf.js.txt)

[2019-05-10 18:22] pyu10055 opened #1578 "Slowness in copying the input array buffer before uploading to GPU"
To get help from the community, we encourage using Stack Overflow and the [`tensorflow.js`](https://stackoverflow.com/questions/tagged/tensorflow.js) tag.

#### TensorFlow.js version
1.1.0
#### Browser version
WeChat mini app
#### Describe the problem or feature request
both uploadMatrixToTexture and uploadMatrixToPackedTexture methods make a copy of the input arraybuffer in CPU, which is very slo

[2019-05-10 18:27] pyu10055 commented on #1571
@caisq can you take a look at this, this might be a layers API issue.

[2019-05-10 18:32] pyu10055 commented on #1575
@take-kuma Currently we do not support the converting the tf_graph_model back to tf_saved_model.
But theoretically, since tf_graph_model is a frozen model, it can be converted back to frozen graph format.

The model.json file contains the network topology and the .bin files contains the weights. You can potentially use the graph model loader to retrieve the graph and weights, and use protobuf.js t

[2019-05-10 20:37] pyu10055 commented on #1576
@serv-inc please check SO https://stackoverflow.com/questions/55849309/retrain-image-detection-with-mobilenet for answers.

[2019-05-10 21:27] #1553 closed

[2019-05-11 11:13] sdll commented on #1577
I would love to take this issue on as part of my GSoC 2019 [project](https://summerofcode.withgoogle.com/projects/#5703734951149568), consulting the [standard implementation](https://github.com/tensorflow/models/tree/master/research/deeplab) as a reference and using the `mobilenetv2_coco_voctrainaug` pre-trained model in the backend. Please let me know if there are any points to consider beforehan

[2019-05-11 12:23] Ashnxious opened #1579 "Error with require('@tensorflow/tfjs-node'), initialization of backend tensorflow failed."
#### TensorFlow.js version
@tensorflow/tfjs-node@1.1.2
#### Browser version
None
#### Describe the problem or feature request
An error occurs when I require @tensorflow/tfjs-node
#### Code to reproduce the bug / link to feature request
Install node.js version 12.2.0, python 2.7.16, and add python to path.
Then on the command line, type (as admin)
`npm install -g --production windows-build-tools`
t

[2019-05-11 15:03] Derek-Wds commented on #998
Hi, @caisq. First time to the community and I would like to help with this feature. Since tfjs-core has already included a logSoftmax function in it, I registered it in the activation.ts. [Here](https://github.com/Derek-Wds/tfjs-layers/blob/master/src/activations.ts) is the code. I wonder if you could help to review it and gives me some comment.

Thanks,
Derek

[2019-05-11 22:16] rthadur commented on #998
Thank you @Derek-Wds , closing this issue as the PR is merged.

[2019-05-11 22:16] #998 closed

[2019-05-13 11:50] dsmilkov commented on #1513
Hi all! I’ll take a look at this today! If anyone can share their saved model and the name of the input/output nodes, that would be very helpful! Thanks!

[2019-05-13 13:48] dsmilkov commented on #1211
https://github.com/tensorflow/tfjs-core/pull/1753 fixes the onesLike, zerosLike problem.

[2019-05-13 13:50] #1398 closed

[2019-05-13 22:35] 0x00b1 commented on #1485
fromPixels accepting a base64 string would be super useful since the HTMLImageElement (or similar) dance is especially cumbersome in our application where images are stored in an IndexedDB database and rarely outputted to the DOM.

[2019-05-14 00:48] take-kuma commented on #1575
@pyu10055 Thank you for your advice. I'll try to reconstruct the frozen graph.

I'm happy if the tensorfrowjs_converter supports reverse conversion in future versions.

[2019-05-14 05:32] take-kuma opened #1581 "How to re-train PoseNet models"
To get help from the community, we encourage using Stack Overflow and the [`tensorflow.js`](https://stackoverflow.com/questions/tagged/tensorflow.js) tag.

#### TensorFlow.js version
1.1.0

#### Browser version
Chrome 74.0.3729.131(Official Build) on Windows 10

#### Describe the problem or feature request
I want to improve PoseNet's accuracy for my application.
Is it easy to add my own dataset an

[2019-05-14 12:15] RELNO opened #1582 "Failed to convert TF2.0alpha SavedModel to TFjs"
#### TensorFlow.js version

[code]
#### Describe the problem or feature request

Trained a DCGAN model on TF2.0alpha following https://www.tensorflow.org/alpha/tutorials/generative/dcgan
Model was saved using :

[code]
Upon converting, process fails:

[code]

#### Code to reproduce the bug / link to feature request
Same as https://www.tensorflow.org/alpha/tutorials/generative/dcgan with the added

[2019-05-14 16:09] msektrier opened #1583 "Error: Operands could not be broadcast together with shapes 1,150,150,32 and 0."
To get help from the community, we encourage using Stack Overflow and the [`tensorflow.js`](https://stackoverflow.com/questions/tagged/tensorflow.js) tag.

#### TensorFlow.js version

tjfs version : 1.0.1 but happens also with 0.8.5

#### Browser version

Chrome Version 74.0.3729.131 (Offizieller Build) (64-Bit)

#### Describe the problem or feature request

We simplified the standard ssdlite_mobi

[2019-05-14 19:37] dsmilkov commented on #1248
I think https://github.com/webpack-contrib/source-map-loader might help you here. According to their docs:

`"This loader is especially useful when using 3rd-party libraries having their own source maps."`

[2019-05-15 15:12] #1070 closed

[2019-05-15 15:21] theodorDiaconu opened #1584 "(tfjs-node) Cannot install on Windows"
#### Mentions
- I have followed the trouble shooting guide
- I have tried with all possible msvs versions

#### TensorFlow.js version
1.1.2

Can't install it. Cloned it and tried a local node-gyp build.

[code]

[2019-05-15 15:24] theodorDiaconu commented on #1584
After doing `npm i` in the cloned repo and running node-gyp build it worked. But having it rebuild itself didn't. Something is weird.

[2019-05-15 15:24] #1584 closed

[2019-05-15 18:48] ehennis opened #1586 "Different Values on Pixel and Sony Xperia Z1"
To get help from the community, we encourage using Stack Overflow and the [`tensorflow.js`](https://stackoverflow.com/questions/tagged/tensorflow.js) tag.

#### TensorFlow.js version 1.0. Pulled from <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@1.0.0/dist/tf.min.js"></script>

#### Browser version
Desktop: Chrome 74.0.3729.131
Pixel 2XL: 74.0.3729.136

#### Describe the problem or fe

[2019-05-15 19:41] dsmilkov commented on #1248
Let me know if that helped

[2019-05-15 20:20] dsmilkov commented on #1485
Since you have your own custom serialization/deserialization, you should use [`tf.tensor (values, shape?, dtype?)`](https://js.tensorflow.org/api/latest/#tensor) . For `values`, you can pass a regular (or nested) array of values, or a TypedArray. Then all you have to do is convert from IndexedDB to pixel values.

[2019-05-15 22:09] lkuich commented on #283
I'm using TF Hub + Lambda to train my model and am trying to convert my model for TFjs, would you guys know of an alternative approach for the below? I'm not an expert with Tensorflow and not sure where to start. Can I run the function (`feature_extractor`) and turn the results into another kind of layer supported by TFJS?

[code]

[2019-05-15 23:54] pyu10055 commented on #1582
@RELNO This model is saved with TF2.0 alpha, but loaded with 2.0 nightly, there could be some mismatch there. Can you help to update the code to save with 2.0 nightly, and check if that can be converted properly? Thanks!

[2019-05-16 00:01] RELNO commented on #1582
@pyu10055 thanks for looking into this -- is there any actual code change, or are is this just a roll back to TF2 Nightly =>saveModel => convert?

[2019-05-16 02:36] kritdikoon commented on #1371
I got the same problem during installlation.

===Env ==
Python 3.6.8
conda 4.6.8
window 10

===installation code ===
conda create -n tensorflowjs python=3.6 anaconda
activate tensorflowjs
pip install --upgrade pip
pip install tensorflowjs

error ===
ERROR: Could not install packages due to an EnvironmentError: [Errno 2] No such file or directory: 'C:\\Users\\WOE5AD~1.KRI\\AppData\\Local\\Temp\\pip

[2019-05-16 14:41] msektrier commented on #1586
I can confirm it on my Sony Xperia Z1.

[2019-05-16 16:13] allenlavoie commented on #1582
Yeah we didn't support optimizers/slot variables very well with the alpha. Saving with a newer 2.0 nightly preview should fix the optimizer error.

The __del__ spam is unrelated and I think there are a couple bugs for that already.

[2019-05-16 16:49] duhaime commented on #958
@Johannes0Horn were you able to load that model in tfjs? I can use `tensorflow_converter` to save a keras model to disk, but calling `tf.loadModel` (now called `tf.loadLayersModel`) throws an error because of non-supported `Lambda` layers inside the keras model. If you got non-supported layers running in tfjs, I'd love to hear about it!

[2019-05-16 17:02] dsmilkov opened #1587 "Bug in dilations in conv2d in converter"
The SavedModel format encodes the dilations attribute in Conv2D as 4 numbers. We need to forward the 2nd and 3rd number to tfjs, but we were incorrectly forwarding the first and second.

To reproduce:
[code]

[2019-05-16 17:30] #1587 closed

[2019-05-16 18:09] caisq commented on #958
Lambda layers are not supported in tf.js because they are wedded to the Python language and is hence not portable. To use them in TensorFlow.js, you can re-implemented them in JavaScript as custom layer types. See here for an example we have for how to write and register a custom layer in TF.js:
https://github.com/tensorflow/tfjs-examples/tree/master/custom-layer

[2019-05-16 18:10] Polarisation commented on #1543
Looks clearer to me now, and the option will come in handy next time, thank you!

[2019-05-16 20:18] dsmilkov opened #1588 "Fix slice/split with zero-sized tensors"
tf.slice and tf.split doesn't work with 0-sized tensors for the WebGL backend. This regression happened when we added shallow-slicing which avoids calling `compileAndRun`, where we do have a short-circuit for all the other ops.

[2019-05-16 20:19] #1588 closed

[2019-05-17 01:21] hossein-b commented on #247
Hi, how we can serve the page over https? I need to run it over a remote server, not localhost.

[2019-05-17 03:08] kritdikoon commented on #1371
I do some more research and try to solve problem with limit of NTFS path by this page.
https://mspoweruser.com/ntfs-260-character-windows-10/

Now I can do pip install tensorflowjs.
there are some error during installation process.
The installation is completed.
However, when import tensorflowjs in jupyter notebook.

there is error as below.

-------------------------------------------------------

[2019-05-17 03:16] caisq commented on #1371
@kritdikoon Did you get these errors in a clean virtualenv? It is recommended to install tensorflowjs in a clean virtualenv.

[2019-05-17 03:22] kritdikoon commented on #1371
@caisq  thanks for your reply.
Yes, I create a new env as below.

conda create -n tensorflowjs python=3.6 anaconda
activate tensorflowjs
pip install --upgrade pip
pip install tensorflowjs

[2019-05-17 03:26] caisq commented on #1371
@kritdikoon conda may install some versions of numpy by default. Can you use virtualenv instead? Something like

[code]

[2019-05-17 05:04] kritdikoon commented on #1371
@caisq  Thanks you for your help.
virtualenv in window has a bit different code.
I test with below script and still get problem.
I think I should try to create virtualenv in python3.6.

pip install virtualenv
virtualenv venv
cd venv/Scripts
activate
pip install tensorflowjs

=========
Collecting tensorflowjs
  Using cached https://files.pythonhosted.org/packages/79/29/35e1aa467436ff46b98df65a08c49

[2019-05-17 06:21] kritdikoon commented on #1371
@caisq
I do all process again as below.

1) install new python3.6.8 (pip install virtualenv)
2) create virtualenv (Python 3.6.8)
3) install tensorflowjs
4) open python and import tensorflowjs (error)
  * There is an error ImportError: numpy.core.multiarray
5) numpy --upgrade
6) open python and import tensorflowjs (no error)
My goal is to use model conversion function.
I will try it and keep you po

[2019-05-17 13:55] theodorDiaconu opened #1589 "Trying hard to install tfjs-node-gpu on Windows 10"
Using python2.7
Installed windows utilities

Stuck here:
[code]

[code]

[2019-05-17 14:40] nkreeger commented on #1589
Can you try deleting your `node_modules` folder and trying again? We also have some troubleshooting tips here:

https://github.com/tensorflow/tfjs-node/blob/master/WINDOWS_TROUBLESHOOTING.md

[2019-05-17 16:49] theodorDiaconu commented on #1589
@nkreeger yes I followed those. I made sure the `msvs_version` of npm is 2013, I have python 2.7 installed. I ran this also: npm --add-python-to-path='true' --debug install --global windows-build-tools

I'm still getting:
[code]

[2019-05-17 16:56] theodorDiaconu commented on #1589
What I did and it worked for `tfjs-node`:
[code]

Let it fail. Go to node_modules folder. And run `node-gyp rebuild` it worked.

[2019-05-17 16:57] theodorDiaconu commented on #1589
However, my plan is to run training with the GPU, to have 10x speeds. But if I apply the same strategy there here's what I get:
[code]

[2019-05-17 17:45] adwellj commented on #1589
@theodorDiaconu, does 0.3.2 install?
I (along with others) struggled with installing tfjs-node-gpu on Windows, but had success with 0.3.2 Trying any of the versions after would result in installation errors.

https://github.com/tensorflow/tfjs/issues/1098#issuecomment-482107306

[2019-05-17 18:51] #1331 closed

[2019-05-17 20:37] #1576 closed

[2019-05-18 02:53] WillAvudim opened #1590 "Documentation doesn't mention if there will be any drastic API changes due to transition to tensorflow 2 API"
I couldn't find any mentioning of this in the documentation. Is the API subject to drastic changes similar to tensorflow 2? The changes in my tensorflow models caused by the transition to tensorflow 2 are substantial.

I like the already implemented API, can I rely on it staying stable going forward?

[2019-05-18 03:49] theodorDiaconu commented on #1589
@adwellj I managed to be able to install that, by doing `npm i -S {package}--force`, then going manually inside it and running `node-gyp configure` and `node-gyp rebuild`.

Still with 1.1.2 node-gyp:
This is the error:
[code]

[2019-05-18 04:18] theodorDiaconu commented on #1589
I am now happily using 0.3.2. The experience to get it working was absolutely awful. Still I was expecting better improvements `node` vs `node-gpu`. For a sample set that I used the difference is 16000ms vs 8000ms. So almost twice. Not bad but was expecting 10x.

[2019-05-18 04:39] kir486680 commented on #739
I am facing the same issue. I am using react native and It works fine when i import it `import * as tf from '@tensorflow/tfjs';` It works fine when i create a model but when i do `const` `xs = tf.tensor2d([[1], [2], [3], [4], [5], [6], [7]], [7, 1]);` I get `Error: Could not initialize any backends, all backend initializations failed `. I tried to reinstall tfjs by removing node_modules folder sev

[2019-05-18 16:45] csaroff commented on #1489
@pyu10055 I'm still hitting this issue.  Has it been resolved in master?

[2019-05-18 17:34] sdll commented on #1542
@prasadkawthekar, any updates on the issue? Have you managed to make it work?

[2019-05-18 19:08] csaroff commented on #1569
@dsmilkov I ran into this issue when trying to use tensorflowjs_converter to convert a model that I retrained using the tensorflow object detection api.

[code]

[code]

I tried adding your workaround code(`tf.enable_resource_variables()`) directly to `packages/tensorflow/python/grappler/tf_optimizer.py`

I'm seeing `AttributeError: module 'tensorflow' has no attribute 'enable_resource_variables'`

[2019-05-19 03:02] caisq commented on #1590
@WillAvudim Thanks for the question. There won't be any significant API changes in TensorFlow.js (currently at 1.1.2) in relation to TensorFlow (Python) 2. The eager-style execution mode and the keras-centric high-level API in TensorFlow.js is already consistent with TensorFlow 2. In addition, the tensorflowjs_converter already is compatible with models saved by TensorFlow 2.

[2019-05-19 03:02] #1590 closed

[2019-05-19 03:04] caisq commented on #1590
Also, this is consistent with the fact that TensorFlow.js has reached version 1.x, which according to semver, won't make breaking API changes until TensorFlow.js 2.0 (not on the horizon yet).

[2019-05-19 03:05] csaroff commented on #1513
I can't share my model right now, but I did run the saved_model_cli on both the [pretrained coco ssd model](https://github.com/tensorflow/models/blob/master/research/object_detection/g3doc/detection_model_zoo.md) and a model of my own which was trained with the tensorflow object detection api.

Here's the signature for the pretrained model.
[code]

But for my model, the input signature is differen

[2019-05-19 04:08] csaroff commented on #1513
Okay, so after debugging for the entire day it turned out that I just needed to [explicitly export](https://github.com/tensorflow/models/blob/master/research/object_detection/g3doc/exporting_models.md) my tensorflow object detection api model from the checkpoint files, setting the input type to image_tensor.

[code]

Luckily, I stumbled upon the saved_model_cli tool which gave me a clue, but I alm

[2019-05-19 22:55] sdll commented on #1586
Failed to reproduce on iOS 12.2.

[2019-05-20 11:49] adwellj commented on #1589
@theodorDiaconu, glad to hear you got it working! Agreed, GPU installation is a very poor experience at this time. Fingers crossed that with enough feedback the team will be able to fix the GPU installations for the new versions.

For future reference, I didn't have to apply any special flags or go back and do any rebuilds. I simply install `npm i @tensorflow/tfjs-node-gpu@0.3.2`.

Regarding the G

[2019-05-20 13:58] theodorDiaconu commented on #1589
Understood, indeed I had a small model. I'm still learning about this. Very glad that I know when I have to do serious training I can use my GPU.

This ticket should still be open. Building doesn't work on ^0.3.2

[2019-05-20 16:33] davidsoergel commented on #1046
This is not quite fixed.

The solution at https://github.com/tensorflow/tfjs-data/blob/master/src/iterators/lazy_iterator.ts#L497 works for `Dataset<tf.Tensor>`, but not for `Dataset<tf.TensorContainer>`-- i.e., a single Tensor will be cloned, but Tensors within an array or nested structure will not.

I think we should write `tf.deepClone()` for this.  (Could be in data for now but ultimately belo

[2019-05-20 17:19] pyu10055 commented on #1489
@hanimustafa @csaroff The error mean the graph is using a reference variable, if you have the original python code you could add following line to the code

tf.enable_resource_variables()

Unfortunately, the reference variable is no long supported by TensorFlow 2.0, if you cannot modify the python code that generates the saved model, you have to use 0.8.5 of tensorflow.js to convert the model.
The

[2019-05-20 18:22] #1380 closed

[2019-05-20 18:44] dsmilkov opened #1592 "Use TF 1.x in tfjs-converter for 1.0 saved models"
Investigate if the saved model has metadata about its version (v1 or v2).

If the Saved Model is v1, we should use the TF 1.x library to convert to the model to maximize chances of success.

If the saved model is v2, we can use TF 2.x.

[2019-05-20 18:52] ehennis commented on #1586
I didn't even think to check an iPhone but when I used my work iPhone running 12.2 I got the **CORRECT** results.
If you need any other testing let me know. If there is some sort of verbose logging that I can turn on I can easily do that. Or, give you any files you need. Or, if you have a test version of the tf.min.js I can run locally.

[2019-05-20 19:01] tafsiri commented on #1581
Hi @take-kuma, there isn't a direct path we provide to re-training PoseNet. As far as I know the original model and training scripts were not open sourced. You could try looking online to see if other people have implemented the model from the paper (I do see a few repos when i search for PersonLab python—but I can't vouch for any of them).

[2019-05-20 19:14] rthadur commented on #874
@caisq can we close this issue as the corresponding PR are merged.

[2019-05-20 19:24] sdll commented on #1546
@dsmilkov, would it be enough to raise, say, ImportError in [setup.py](https://github.com/tensorflow/tfjs-converter/blob/cb2796a8182857e2b272d59178c570a117b5e52e/python/setup.py#L24) if tf < 2 is installed?

[2019-05-20 19:58] caisq commented on #874
@rthadur Done. Thanks for the reminder.

[2019-05-20 19:58] #874 closed

[2019-05-21 02:11] dsmilkov commented on #1546
The type of error doesn't matter much as long as we give a useful actionable error message so the user.

[2019-05-21 02:20] dsmilkov commented on #1577
Using the mobilenet architecture as the backbone sounds great since this needs to be an edge/mobile-friendly model. I don't have any concrete points, but happy to provide guidance as you go further along.

[2019-05-21 06:12] joyicejin opened #1593 "Can't predict using loaded FrozenModel"
#### TensorFlow.js version
1.0.0-alpha2
`<script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@1.0.0-alpha2/dist/tf.min.js"></script>`

#### Browser version
Google Chrome
Version 70.0.3538.77 (Official Build) (64-bit)

#### Describe the problem or feature request
I want to use the tensorflow forzen model to load in the js browser and make a predict for a shape of [60,3000,1,1] tensor.
First,

[2019-05-21 08:52] msektrier commented on #1583
Do you need further input from my side or can I support?

[2019-05-21 13:21] ldco2016 opened #1594 "trying to get TensorFlow working in my own IDE"
To get help from the community, we encourage using Stack Overflow and the [`tensorflow.js`](https://stackoverflow.com/questions/tagged/tensorflow.js) tag.

#### TensorFlow.js version
0.13.1

#### Browser version
Chrome 74

#### Describe the problem or feature request
I installed into my custom IDE `npm install @tensorflow/tfjs@0.13.1`, this successfully installed all the packages I expected:

[cod

[2019-05-21 15:01] rthadur commented on #1326
referenced PR has been merged , so closing this issue, thank you all.

[2019-05-21 15:01] #1326 closed

[2019-05-21 16:50] annxingyuan opened #1595 "Converter should not call backend-specific readSync method as part of getting parameter values during model hydration."
Instead the converter should either:

1) allow core operations to take tensors or numbers (TensorLike) where it can, or
2) the model should become async if it needs a param value that is the result of another operation

Also, if we have the value on the CPU from weights directly and we can’t make it a tensor then we should just use that.

cc @nsthorat

[2019-05-21 16:52] nsthorat commented on #1595
Ping, this is going to be a launch blocker for WebGPU, WASM, and other async backends. We should try to prioritize this when you get a chance.

[2019-05-21 16:56] #985 closed

[2019-05-21 16:57] #761 closed

[2019-05-21 18:21] rodrigob commented on #761
Was this implemented or deprecated ?
If implemented, a pointer to the page might help future visitors of this ticket.

[2019-05-21 18:37] Johannes0Horn commented on #958
@duhaime No iwasnt able to load that model in tfjs. What i tried:
1.)
To avoid the problem with custom layers, i  saved the maskrcnn model as a frozen graph.
2.)
Tensorflowjs_converter suggests to use version 0.8 to convert a frozen graph to a tfjs model, since the conversion of frozen graphs arent supported in the current version anymore.
3.)
I used this  tool https://github.com/tensorflow/tfjs-c

[2019-05-21 18:58] annxingyuan commented on #761
@rodrigob thanks that's a good point!

Note that @caisq has implemented this as an internal page for now.

[2019-05-21 19:30] nsthorat opened #1596 "Investigate adding additional metadata to the model.json or a separate file metadata.json."
There are lots of reasons that we would want to attach extra metadata to a model (meta version information, vocab that can't be serialized).

We should add extra metadata to model saving that automatically happens when saving or loading a model through our existing IO handlers.

cc @caisq @dsmilkov

[2019-05-21 20:25] pyu10055 commented on #1595
the engine should read from the correct backend based on the tensor location:
  readSync(dataId: DataId): DataValues {
    // Route the read to the correct backend.
    const info = this.state.tensorInfo.get(dataId);
    return info.backend.readSync(dataId);
  }

[2019-05-21 20:32] pyu10055 commented on #1595
Investigated the posenet issue, notice only it is due to TFJS tf.pad op, the padding param is number array, in TF the param is a tensor.

[2019-05-21 21:14] pyu10055 commented on #1593
@joyicejin The strided_slice op has not support the new axis mask, do you have access the the python code that generates the model? If so, possible work around is the avoid using the new axis mask.

[2019-05-21 21:42] harish2704 commented on #1571
If any one can suggest me a way to store all input/output of each layers  in a model, may be I can dig more specific details about this issue

[2019-05-21 21:48] nsthorat commented on #1595
Future backends will not have `dataSync()` at all, we should avoid all calls to `dataSync()` in the converter by any of the 3 approaches outlined in the original issue.

Great, can we fix that for the pad op for now and then fix this more generally by removing all calls to `dataSync()`?

[2019-05-21 21:53] hpssjellis opened #1597 "tfjs-models speech-commands ability to personally tune each word."
@tafsiri @caisq

I am using

    <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@1.1.2"> </script>
    <script src="https://cdn.jsdelivr.net/npm/@tensorflow-models/speech-commands@0.3.6">

The speech-commands work fine for "up", "down" and "right" but seem a bit off for "left". When I look at the data for 2 sets of "up". It looks like it is comparing 6 decimal values for each word with

[2019-05-21 21:54] rthadur commented on #1448
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-05-21 21:54] #1448 closed

[2019-05-21 21:54] rthadur commented on #1428
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-05-21 21:54] #1428 closed

[2019-05-21 21:56] rthadur commented on #1040
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-05-21 23:15] pyu10055 commented on #1595
There are several other ops that requires number or number[] for input tensors

|op| params|
|===|===|
Prod|axes
Conv2DBackpropInput| outputShape
Fill| shape, value
LinSpace| start, stop, num
OneHot| depth, onValue, offValue
Ones| start
RandomUniform| shape
Range| start, stop, step
TruncateNormal| start
Zeros| start
NonMaxSuppressionV2/V3|naxOutputSize, iouThreshold, scoreThreshold
ResizeBilinear|

[2019-05-21 23:22] nsthorat commented on #1595
Great table! Some of these ops in core can be modified to take Tensor. Ones that fundamentally take number should be considered making the model async.

At the end of the day, no dataSync should ever be called by the converter.

[2019-05-22 00:45] pyu10055 commented on #1595
Can you explain why can other backend support cannot have readSync, webgl fundamentally does not readSync either, it is a js blocking call.
Having a readSync method would be very useful in eager mode and console.

[2019-05-22 00:55] nsthorat commented on #1595
For the WebAssembly backend we will be running it in a WebWorker, which only has async readbacks.

WebGPU is the same — it just happens to be that we can dataSync in a subset of cases where we haven’t yet uploaded to the GPU (but this is an implementation detail that should not be exposed, we will not in the long run support any dataSync in WebGPU).

[2019-05-22 00:58] nsthorat commented on #1595
As an aside, is it bad to call dataSync even on the WebGL backend as it will block the UI thread.

[2019-05-22 03:17] take-kuma commented on #1581
@tafsiri, thank you for your advice.
I understand that the official training script is not available to me.
So I'll take a look at other codes as follows:

- https://github.com/octiapp/KerasPersonLab
- https://github.com/scnuhealthy/Tensorflow_PersonLab
- https://github.com/Naykira/personlab

I'm OK to close this thread.

[2019-05-22 04:56] Derek-Wds commented on #1548
@caisq Hi, I'm interested in this issue and I would like to help with it, but I guess we may need to discuss this a bit.

I see that there is another one [#626](https://github.com/tensorflow/tfjs/issues/626), which is about the another form of normalization. It seems that these two kinds of normalization as well as another one: group normalization mentioned [here](https://arxiv.org/pdf/1803.08494.

[2019-05-22 10:15] cpury commented on #1040
This is more of a feature request. It doesn't make sense to auto-close it...

[2019-05-22 12:37] dsmilkov commented on #1040
@caisq feel free to label as 'stat:contributions welcome' if you don't have cycles. Thank you!

[2019-05-22 13:23] billTeston commented on #1579
@Ashnxious  i have the same problem i was wondering if you solve the issue?

[2019-05-22 14:06] dsmilkov opened #1598 "Support weight serialization of string tensors"
Cloud AutoML models contain the vocab as a weight of dtype "string". The infra for string tensors is in core, however we don't yet have the ability to serialize the string values into the `.bin` file.

The proposal is to follow the protobuf spec for strings, which encodes strings as utf-8. Then use the built-in `TextDecoder` in JS to decode utf-8 to js strings.

The numpy array of strings in pytho

[2019-05-22 14:08] dsmilkov commented on #1598
cc @nsthorat @pyu10055 @caisq @tafsiri

[2019-05-22 14:11] nsthorat commented on #1598
Seems reasonable, you just need to encode the byte length on the other side since we assume the shape is proportional to byte length.

[2019-05-22 14:12] dsmilkov commented on #1598
Yup, clarified in the description

[2019-05-22 14:36] billTeston opened #1599 "Initialization of backend tensorflow failed Error: The specified module could not be found."
To get help from the community, we encourage using Stack Overflow and the [`tensorflow.js`](https://stackoverflow.com/questions/tagged/tensorflow.js) tag.

#### TensorFlow.js version
               "@tensorflow/tfjs-node-gpu": "^1.1.2"
#### Browser version
                 N?A
#### Describe the problem or feature request
                    error when initializing index.js
            Initializati

[2019-05-22 14:41] cjue commented on #671
There appears to be a workaround for setting allow_growth through an environment variable. This works for my tfjs-node-gpu project:

[code]

[2019-05-22 15:52] buzaXnov commented on #711
This has resolved my issue. Simply installing Python 2.7 for Windows and setting the path to it. No more errors. I suppose this will work on my machine w/ Linux installed.

[2019-05-22 15:56] #1581 closed

[2019-05-22 15:59] tafsiri commented on #1598
+1. Just clarifying that we want to store the encoded string tensors in the bin files (just like the other weights).

[2019-05-22 16:09] pyu10055 commented on #1598
@dsmilkov SavedModel encode the string attributes with base64 encoding when saved as JSON format, we should probably use the same encoding for string tensors.

[2019-05-22 16:12] nsthorat commented on #1598
If possible we should avoid base64 encoding of strings because:
- It blows out the size by 50%
- Parsing is very slow
- We’d need a special way to encode that string (e.g. in model.json). Currently weights are shipped as bytes as it is and we should reuse that infrastructure, not inventing a new way to ship string weights.

[2019-05-22 16:19] dsmilkov commented on #1598
@pyu10055 Vocabs can be large (e.g. it is common to have 10,000 english words in models), so I think we should treat them as any other weight (they are a weight after all). This allows us to decouple large weights from model.json, shard them into 4MB chucks, etc.

[2019-05-22 16:28] tafsiri commented on #1597
Good question. Would something like this work? (note I haven't actually tried this). cc @caisq would this be something we want to enable for the built in vocabs?

[code]

[2019-05-22 16:38] hpssjellis commented on #1597
@tafsiri

I will play around with that. I think the following line should be able to give me feedback about if I am making any changes.

console.log(transferRecognizer.countExamples());

Although I think this is all pre-training data, not sure how it relates to the final output.

[2019-05-22 20:18] sdll commented on #1575
@take-kuma, you might find [this](https://stackoverflow.com/questions/44329185/convert-a-graph-proto-pb-pbtxt-to-a-savedmodel-for-use-in-tensorflow-serving-o/44329200#44329200) answer useful.

@pyu10055, would adding a Python script to the [toolbox](https://github.com/tensorflow/tfjs-converter/tree/master/tools) be useful? Seems that this is a very common problem.

[2019-05-22 21:21] sdll opened #1600 "tensorflowjs_converter fails to run using tensorflowjs==0.8.5"
#### pip tensorflowjs version

0.8.5

#### Describe the problem or feature request

`tensorflowjs_converter` fails to run, throwing `ImportError: numpy.core.multiarray failed to import`.

#### Code to reproduce the bug

Run `tensorflowjs_converter` in a virtualenv.

#### Solution

The problem is resolved by installing the latest numpy (1.16.3).

[code]

[Here](https://github.com/tensorflow/tfjs-co

[2019-05-22 21:22] kwonoh opened #1601 "Gradient function not found for tf.topk"
To get help from the community, we encourage using Stack Overflow and the [`tensorflow.js`](https://stackoverflow.com/questions/tagged/tensorflow.js) tag.

#### TensorFlow.js version
1.1.2

#### Browser version
All

#### Describe the problem or feature request
Error: Cannot compute gradient: gradient function not found for topk.

#### Code to reproduce the bug / link to feature request
Gradient fu

[2019-05-22 21:32] sdll commented on #958
@Johannes0Horn, thank you for your detailed report! I have problems opening the colab link, getting a redirect to a page with the _Google Docs encountered an error_ notice, could you please check that it's working?

[2019-05-22 21:40] Johannes0Horn commented on #958
@sdll I have to copy and paste the link for some reason. If i simply click on the link i also encounter the error. I can open it in a chrome inkognito tab if i copy and paste it. So it should work. Or am i wrong?

[2019-05-22 21:43] sdll commented on #958
@Johannes0Horn, sorry for the confusion. GitHub does not pick up the underscore at the end, [here](https://colab.research.google.com/drive/18txwao40BgDskdCQ7YTE7qAkkP22Zmj_) is the link that works.

[2019-05-22 22:01] sdll commented on #1575
@take-kuma, I now think that you might be better install a previous version of `tfjs-converter` and proceed from there. I have made a PR with instructions on how to do that: https://github.com/tensorflow/tfjs-converter/pull/366/files.

[2019-05-23 02:23] alew3 commented on #206
Does TFJS support uint8 quantization? I ask because it is one of the options in quantization:

tfjs.converters.save_keras_model(model, "q8",quantization_dtype=np.uint8)

but the results don't work properly. uint16 behaves correctly.

[2019-05-23 02:25] alew3 opened #1602 "Strange behaviour using quantize uint8 , uint16 works fine."
To get help from the community, we encourage using Stack Overflow and the [`tensorflow.js`](https://stackoverflow.com/questions/tagged/tensorflow.js) tag.

#### TensorFlow.js version
1.1.2

#### Describe the problem or feature request
I'm training a model with Tensorflow TF2 Keras 2.0.0-dev20190522 , if I quantize it to uint16 for TensorflowJS via the command:
tfjs.converters.save_keras_model(mode

[2019-05-23 02:33] #1602 closed

[2019-05-23 03:18] AllAwake opened #1603 "few issues with tensorflowjs_converter"
TF 2.0 using SavedModel
the converter was failing so i fixed couple dependencies and build the local whl
made it work with a bunch of limitations - not sure if it's by design or bugs

signature name doesn't appear in json - so i defaulted to predict
our function has 3 input arguments - but predict expects 1 so i've arranged them into array
the input arguments order is not preserved in json
thanks!

[2019-05-23 03:32] AllAwake commented on #1603
TF 2.0  using SavedModel
the converter was failing so i fixed couple dependencies and build the local whl
made it work with a bunch of limitations - not sure if it's by design or bugs
1. signature name doesn't appear in json - so i defaulted to predict
2. our function has 3 input arguments -  but predict expects 1 so i've arranged them into array
3. the input arguments order is not preserved in js

[2019-05-23 04:28] billTeston commented on #1599
@davidsoergel can you please help me address this issue

[2019-05-23 07:32] aspidov opened #1604 "Tensor name can not start with number"
#### TensorFlow.js version
1.1.2
#### Browser version
This issue is not browser-specific.
#### Describe the problem or feature request
When I using model, converted via tensorflowjs_converter (model works correctly with python and swift) (in this model using layer with name `5-con/kernel`) i getting this error:
[code]
#### Code to reproduce the bug / link to feature request
regex described here: h

[2019-05-23 09:24] vbardiovskyg opened #1605 "op_list missing when running with bazel"
#### TensorFlow.js version
Running at head

#### Describe the problem or feature request
When running with bazel:
bazel build tensorflowjs/converters:converter
./bazel-bin/tensorflowjs/converters/converter --input_format=tf_saved_model --  --output_format=tfjs_graph_model /tmp/my_saved_model /tmp/converted_model

I get an error:
OSError: [Errno 2] No such file or directory: '~/tfjs-converter/pytho

[2019-05-23 09:51] msektrier commented on #1603
Just a remark towards point 3 - the [RFC](https://tools.ietf.org/html/rfc7159) for json allows pre-defined orders only for arrays. Otherwise, there is no guarantee how any parser implementation should process the elements of a set.

[2019-05-23 13:16] dsmilkov commented on #1546
Reopened until the 2nd part of the issue is addressed regarding protecting the user if they already have TF installed.

[2019-05-23 13:27] dsmilkov commented on #517
Thanks for the research everyone! @kangyizhang if you can add instructions in the README of our repo with the steps required to run tfjs-node on GCP and Heroku, that would be fantastic. Thanks!

[2019-05-23 13:29] dsmilkov commented on #1472
Closing this issue for now. @parthi2929 let me know if you managed to resolve the drivers issue and if it started working again for you.

[2019-05-23 13:29] #1472 closed

[2019-05-23 14:16] tafsiri commented on #1597
If `await transferRecognizer.collectExample('left');` works then you should be able to then call something like

[code]

To do the additional training. (I got this snippet from the [this part](https://github.com/tensorflow/tfjs-models/tree/master/speech-commands#transfer-learning) of the readme)

[2019-05-23 16:22] hpssjellis commented on #1597
Kind of working

Cannot train transfer-learning model 'directional4w' because only 1 word label ('["left"]') has been collected for transfer learning. Requires at least 2.

Will update as I figure it out.

[2019-05-23 16:25] caisq commented on #1597
@hpssjellis In case you haven't seen it, the demo code here might be helpful to the work you are doing. It includes a UI that supports data collection for transfer learning. https://github.com/tensorflow/tfjs-models/tree/master/speech-commands/demo

[2019-05-23 16:27] caisq commented on #1597
@hpssjellis The demo is hosted at: https://storage.googleapis.com/tfjs-speech-model-test/2019-01-03a/dist/index.html