[2019-05-23 16:48] zemlyansky commented on #102
Any idea how to make the latest tfjs work in a web worker without OffscreenCanvas support (just use cpu)? `tf.min.js` throws the `No backend found in registry.` error.

[2019-05-23 17:33] rthadur commented on #1605
This question is better asked on [StackOverflow](https://stackoverflow.com/search?q=tensorflowjs) since it is not a bug or feature request. There is also a larger community that reads questions there.

[2019-05-23 17:33] #1605 closed

[2019-05-23 17:42] hpssjellis commented on #1597
As far as I can tell, this approach is doing exactly what I don't want!

If I take "directional4w" and train it on "left" and "right" it learns "left" and "right" but then forgets "up" and "down". I wanted to just tweak the results for "left" but keep everything else the same for the other 3 speech commands, not train everything from scratch.  The problem will be even more evident with "18w" If I

[2019-05-23 20:55] kangyizhang commented on #517
@dsmilkov that makes sense. I'll add GUIDE about how to deploy tfjs-node job on GCP and Heroku.

[2019-05-23 22:18] sdll opened #1606 "TensorFlow.js model starter review"
As part of my GSoC'19 project, I plan to add at least 5 new models to the model garden, so I've made a [starter kit](https://github.com/sdll/tfjs-model-starter).

I would love to make the implementation of new models easier by reducing the amount of boilerplate and enforcing the best practices of the community by default.

Could you please tell me whether the current version follows them, and whet

[2019-05-23 22:22] sdll commented on #1600
I can confirm that the DeepLab frozen model converts fine with the latest numpy installed.

[2019-05-23 22:25] pyu10055 commented on #1583
@dsmilkov do you mind taking a look at this error?

[2019-05-23 22:36] rthadur commented on #1600
Thank you , closing this issue.

[2019-05-23 22:36] #1600 closed

[2019-05-23 23:23] caisq commented on #1604
@aspidov Thanks for reporting the issue. Feel free to send a PR to fix it.

[2019-05-23 23:27] nkreeger opened #1607 "Allow alternative GLContexts to be set globally."
Currently, `canvas_util.ts` has some caching of WebGL context versions with a retrieval function that attempts to load a WebGL context by creating a new `canvas` DOM element.

Ideally, we have a flag or global override to set the WebGL/GL context object.

For instance, setting `WEBGL_FENCE_API_ENABLED` to false will result in this exception when running outside of the browser:

[code]

I tried imp

[2019-05-24 01:47] stuartcrobinson opened #1608 "PoseNet script tag example: net.estimatePoses is not a function"
#### TensorFlow.js version
using cdn scripts
https://cdn.jsdelivr.net/npm/@tensorflow/tfjs
https://cdn.jsdelivr.net/npm/@tensorflow-models/posenet

#### Browser version
Chrome Version 74.0.3729.131 (Official Build) (64-bit)

#### Describe the problem or feature request
_Example Usage via Script Tag_  not working for me
https://github.com/tensorflow/tfjs-models/tree/master/posenet#via-script-tag

#

[2019-05-24 05:24] hpssjellis commented on #1597
Does the model.compile method clear the previous model?

`this.model.compile({
                                    loss: "categoricalCrossentropy",
                                    optimizer: e.optimizer || "sgd",
                                    metrics: ["acc"]
                                })`

I know with my own models that if I first compile the model and then train it 20 epochs and t

[2019-05-24 06:51] sdll commented on #1600
@rthadur, a fresh install `tensorflowjs_converter -h` still fails to run unless numpy 1.15.1 is replaced with 1.16.3 manually. I will open a PR fixing the issue.

[2019-05-24 07:15] joyicejin commented on #1593
OK,thanks!

[2019-05-24 07:15] #1593 closed

[2019-05-24 07:28] aspidov commented on #1604
@caisq PR was created, but i don't know, may be will be better if converter will rename these tensors or fail if names are incorrect?

[2019-05-24 08:14] vbardiovskyg commented on #1605
Ok, found a solution. For future reference and for those who are trying to build the package themselves with bazel. To solve the "missing op_list" error, before `bazel build`, run:
[code]

[2019-05-24 13:59] dsmilkov commented on #1583
Thanks! Will take a look today

[2019-05-24 15:20] tafsiri commented on #1597
Ah yes. Now I have a clearer idea of why this approach won't work, and its more fundamental to how neural networks are trained.

The model itself does not retain the actual training examples, instead the knowledge of how to classify audio samples is encoded in all the weights of the model. Also, during transfer learning _all_ the weights are adjusted to perform better on the new examples (there is

[2019-05-24 15:48] hpssjellis commented on #1597
Thanks @tafsiri for the detailed explanation.

I love putting crazy amounts of time into "hacky" things, see video below.  Speech Commands makes so much more sense now. I was incorrect thinking it was storing KNN classifier type data that could be edited.

By the way, thanks to the entire tensorflowjs team, I really appreciate all they have done. Tensorflowjs really brings machine learning to the

[2019-05-24 17:52] rthadur commented on #1605
Thank you

[2019-05-24 17:54] #1597 closed

[2019-05-24 23:15] tylerzhu-github opened #1610 "Enables the `onProgress` callback of tf.loadGraphModel"
#### TensorFlow.js version
1.1.0

#### Browser version
Chrome 74.0.3729.169

#### Describe the problem or feature request

The `onProgress` handler passed to [tf.loadGraphModel](https://js.tensorflow.org/api/latest/#loadGraphModel) is not invoked.

#### Code to reproduce the bug / link to feature request

After debugging it using breakpoints, I found that:
Currently the `onProgress` argument is no

[2019-05-25 01:45] kwonoh commented on #1601
Gradient of topk in tensorflow: https://github.com/tensorflow/tensorflow/blob/e79459acdbcd97c4adc888ee7452c19f38178ee0/tensorflow/python/ops/nn_grad.py#L1069-L1112

[2019-05-25 07:58] syt123450 commented on #1610
Hi @tylerzhu-github , I take a look at this issue. It seems that `onProgress` works well with relative path, but breaks when using HTTP url. For example:
[code]
[code]
As a workaround for tfjs <= 1.2.0, you can use the relative path instead. I have sent a PR to fix it.

[2019-05-25 08:05] jamessmith123456 commented on #419
i meet the same problem...any friends has solutions worked?waiting...

[2019-05-25 08:56] vladnicula opened #1611 "Doc inconsistency: Latest docs still mention tfl.loadModel which does not exist in 1.1.2"
Apologies if this is the wrong place to mention documentation problems.

https://js.tensorflow.org/api/latest/#io.browserFiles shows the following code:

[code]

But `loadModel` no longer exists. I think it should be `loadLayersModel`.

I could fix this if someone can point out where I can do it.

[2019-05-25 13:16] CodHeK opened #1612 "Not able to convert keras model to tfjs layers using tensorflowjs_converter"
To get help from the community, we encourage using Stack Overflow and the [`tensorflow.js`](https://stackoverflow.com/questions/tagged/tensorflow.js) tag.

#### TensorFlow.js version
0.6.4 from pip
#### Browser version
Chrome  74.0.3729.131 MacOS

#### Describe the problem or feature request
I have stated the problem in stack overflow at the link [here](https://stackoverflow.com/questions/56304825

[2019-05-25 13:56] CodHeK commented on #1612
## SOLVED 💯

It worked once you use tensorflow v0.6.4 with keras v2.1.6 although keras install might give you a warning that

ERROR: tensorflowjs 0.6.4 has requirement keras==2.2.2, but you'll have keras 2.1.6 which is incompatible.

This is because tensorflow v0.6.4 needs keras==2.2.2 but then keras-preprocessing version don't match!

[2019-05-25 13:56] #1612 closed

[2019-05-25 18:01] RilRil opened #1613 "Error when trying to load a Sesquential model"
#### TensorFlow.js version
1.1.2

#### Browser version
Chrome Version 74.0.3729.169 (Official Build) (64-bit)

#### Describe the problem or feature request
Hello,
I have a working Sequential model (which is saved correctly in my indexeddb) and I try to load it using `tf.loadLayersModel('indexeddb://mymodel')`
when I try to load it I get this error: ` Error: The first layer in a Sequential model mu

[2019-05-26 02:01] caisq commented on #1613
@RilRil Can you tell us how the model was created? Was it constructed in TensorFlow.js or converted from Python?

[2019-05-26 02:07] caisq commented on #1611
Sent out fixing PR at https://github.com/tensorflow/tfjs-core/pull/1770

In the latest API version (1.1.2), it should be `tf.loadLayersModel()`

[2019-05-26 02:17] caisq opened #1614 "tf.losses.* namespace lacks the losses from tfjs-layers"
#### TensorFlow.js version
1.1.2

The public API namespace tf.losses.* of tfjs (union package) lacks all the loss functions defined in tfjs-layers, such as `categoricalCrossentropy`, `binaryCrossentropy` and so forth. Instead, it contains only four loss functions defined in tfjs-core.

The two sets of loss functions should be combined into one and exposed in the union package.

[2019-05-26 02:25] caisq opened #1615 "[converter] Support keras/tfjs-layers-model to tfjs-graph-model conversion"
#### TensorFlow.js version
1.1.2

tfjs-graph-model involves SavedModel writing and Grappler optimization, which can speed up inference speed for 5% - 20% for the same model, according to our benchmarks. This is at the cost of losing training capability. But for the common case of wanting to do only inference in the browser, this will be useful.

[2019-05-26 09:06] RilRil commented on #1613
hi @caisq ! It was fully created in Tensorflow.js

here is a sample code :
[code]

[2019-05-26 09:46] RilRil commented on #1613
@caisq I tried another way to construct my first layer and it worked !
I define the input layer in the 'inputShape' property of the LSTM function instead of creating an input and applying it to the LSTM (see code above)

here the code now
[code]
I can load my model like described in the documentation now \o/

I dont know if I was doing a mistake before or this is a bug.

[2019-05-26 14:02] caisq commented on #1613
@RilRil Thanks for the info. I think TensorFlow.js is working as intended in this case. If you use `apply()` to connect layers, you should construct a model using `tf.model()`, instead of `tf.sequential()`. I'll close the issue now. Feel free to comment or reopen the issue if you have further thoughts.

[2019-05-26 14:02] #1613 closed

[2019-05-26 20:40] sdll opened #1616 "[tfjs-models]: Dashboard for demos"
All models in the model garden have demos, yet they are either expected to run locally, or the URL to the live demo is hidden in the model README.

Could you please tell me whether a developer-oriented dashboard showcasing them together would be a good addition to the repo?

[2019-05-27 00:28] syt123450 commented on #1453
Hi @caisq , are you working on it? I would love to implement SpatialDropout2D layer and noise shape.

[2019-05-27 00:37] startupgurukul commented on #1497
Hi folks update on this, curious to see the performance compared to tflite and tensorflow

[2019-05-27 04:27] kwonoh commented on #1601
Here is my topk function with gradients using `tf.customGrad`.

[code]

[2019-05-27 14:35] randomsock opened #1617 "AlphaDropout layer seems broken"
To get help from the community, we encourage using Stack Overflow and the [`tensorflow.js`](https://stackoverflow.com/questions/tagged/tensorflow.js) tag.

#### TensorFlow.js version
1.1.2

#### Browser version
Node.js 10.15.3

#### Describe the problem or feature request
Using `tf.layers.alphaDropout` breaks with (example dims):

[code]

Using plain `tf.layers.dropout` works as expected.

#### Co

[2019-05-27 19:45] tylerzhu-github commented on #1610
Thanks for looking into this!

[2019-05-27 20:53] BilalReffas commented on #711
Thanks! @lmbellizzi

[2019-05-28 12:15] ToonTalk opened #1618 "Documentation for universal-sentence-encoder suggests tfjs@1.0.0 while latest version works fine"
#### TensorFlow.js version
1.0.0

#### Browser version
Version 74.0.3729.169 (Official Build) (64-bit)

#### Describe the problem or feature request

As documented at https://github.com/tensorflow/tfjs-models/tree/master/universal-sentence-encoder#usage if

<script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@1.0.0"></script>

is used the following exception occurs and yet

<script src="http

[2019-05-28 12:52] Palabola commented on #1476
Same problem here, it seems that saving or loading LSTM models are broken in TFJS.

[2019-05-28 13:27] annxingyuan commented on #1618
Thanks @ToonTalk ! Created a PR to address this: https://github.com/tensorflow/tfjs-models/pull/219

[2019-05-28 13:35] #1618 closed

[2019-05-28 14:33] serv-inc commented on #1576
The resulting model failed to load with

when called as `tf.loadLayersModel("file:///tmp/web_model/model.json")`

[2019-05-28 15:29] caisq commented on #1476
@oorooroot @Palabola Thank you for reporting the issue and the very helpful reproduction code snippet. We can reproduce the error and understand its root cause. We'll push a fix to it soon.

Sorry for the inconvenience.

[2019-05-28 15:36] dsmilkov commented on #1583
@msektrier Did you edit the `model.json` in any way? The problem stems from the fact that the `mean` parameter in ops like `FeatureExtractor/MobilenetV2/Conv/BatchNorm/FusedBatchNorm` has an invalid shape `[0]`. The tensor with the invalid shape is `FeatureExtractor/MobilenetV2/expanded_conv_15/expand/BatchNorm/Const`.

In python, if I try to provide a mean of shape [0] in tf.nn.batch_normalizatio

[2019-05-28 15:48] dsmilkov commented on #1583
So I found another signal that points to the cause. Looking at the FusedBatchNorm ops in model.json

[code]

`is_training` is set to `True`, but it should be `False` since you are trying to do inference.
Make sure you provide the correct serving tags when exporting the model (e.g. `--signature_name=serving_default --saved_model_tags=serve`).

Techniques like batchnorm and dropout require different

[2019-05-28 16:31] #1611 closed

[2019-05-28 17:07] #1608 closed

[2019-05-28 17:09] tafsiri commented on #1608
Hi @stuartcrobinson. The README got out of sync because we are preparing a new release with new API. I've made a PR to update the readme to point to a stable version that matches what is published. Take a look at https://www.npmjs.com/package/@tensorflow-models/posenet for the correct instructions.

[2019-05-28 17:40] nkreeger commented on #739
@kir486680 We don't officially support React Native - it is something we're planning on investigating soon.

[2019-05-28 17:41] nkreeger commented on #1579
Do you mind trying the steps here?

https://github.com/tensorflow/tfjs-node/blob/master/WINDOWS_TROUBLESHOOTING.md

[2019-05-28 17:59] ToonTalk opened #1619 "Universal sentence encoder misbehaves on Android device"
#### TensorFlow.js version
1.1.2

#### Browser version
74.0.3729.157 (Android)
and
Version 74.0.3729.169 (Official Build) (64-bit)

#### Describe the problem or feature request
The sample program at https://github.com/tensorflow/tfjs-models/tree/master/universal-sentence-encoder#usage works fine on my laptop but on my Nexus 5 it produces the same encoding for two different sentences.

On Android i

[2019-05-28 19:11] oveddan commented on #1371
I have the same issue.  I'm following the instructions on my mac to install tensorflowjs via pip, using the following commands:

[code]

This is the error output:

[2019-05-28 20:22] caisq opened #1620 "Change browser-stack OS X FireFox version to latest after their infra stabilizied."
Today we changed the version to 66 in tfjs-layers in order to work around FireFox timeout issue on  OS X.

[2019-05-28 20:50] #1476 closed

[2019-05-28 22:43] pyu10055 commented on #1603
@AllAwake Good point we should persist the saved model signature into JSON.
For now, you can take a look at the signature by using the saved_model_cli, and find out the node names that are associated with the inputs, and use those names to feed to the predict method.

[2019-05-29 01:10] dsmilkov commented on #1619
@annxingyuan curious if we can reproduce this on a Pixel phone?

[2019-05-29 04:10] #1615 closed

[2019-05-29 11:21] sdll commented on #1616
Another viable alternative might be to move the demos to [Observable](https://observablehq.com) for interactivity, however I would also be glad to make a demo of using TF.js with React (there [is](https://github.com/tensorflow/tfjs/issues/1542) some interest from the community).

Let me know if you have any opinion or better ideas.

[2019-05-29 11:27] sdll commented on #1542
@prasadkawthekar, you can take a look [here](https://github.com/sdll/tfjs-models/blob/73d5b4d25cdb81218c260ed19437121b311bf2fb/deeplab/src/index.ts#L46) at a working [example](https://github.com/sdll/tfjs-models/blob/73d5b4d25cdb81218c260ed19437121b311bf2fb/deeplab/src/model_test.ts#L30) of loading the converted model of DeepLab and returning a [Uint8ClampedArray](https://developer.mozilla.org/en/

[2019-05-29 11:47] sdll commented on #1371
@oveddan, the problem stems from the fact that `tf-nightly-2.0-preview` is available [only](https://pypi.org/project/tf-nightly-2.0-preview/#files) for Python 3.6 on OS X. You can use [`pyenv`](https://github.com/pyenv/pyenv) to force Python 3.6.8 in a local directory by doing the following after installing `pyenv`:

[code]

Then you can recreate `virtualenv` and try tensorflowjs as you have alrea

[2019-05-29 12:41] duhaime commented on #1165
@caisq are you working on this one? If not, is it okay for the community to send a PR?

[2019-05-29 12:47] tafsiri commented on #1616
@sdll Could you say more about what you mean by a dashboard? Do you mean collecting the links to the live demos together and putting it in the top level readme or something else?

[2019-05-29 12:57] caisq commented on #1165
@duhaime @usmanmuhd Go for it.

[2019-05-29 14:35] sdll commented on #1616
@tafsiri, I was thinking about building a full-blown [Gatsby](https://www.gatsbyjs.org)-powered PWA hosted on Netlify or Github Pages for CI, showcasing the models as a unified developer experience. The app would have a sidebar listing all models, caching the downloaded weights for performance. This would not only make the exploratory phase of picking a model more enjoyable, but also provide an ex

[2019-05-29 15:18] dsmilkov commented on #1616
Adding links to the demos in that PR would be great!

The dashboard sounds great, but there is the question of long-term maintenance, keeping it in sync with the repo, and how can people easily send contributions (PRs) to improve it.

Because of these reasons, I think organizing the README (maybe a table layout with links to demos, and using the icons in https://www.tensorflow.org/js/models) might

[2019-05-29 15:20] msektrier commented on #1583
Dear dsmilkov,

I just executed the whole transformation again. I uploaded the saved model, frozen model, and the converted json model to https://share.infinkon.de/index.php/s/WYnXjG85cj4AZnp (44MBytes). The error remains.

According to our ML engineer she used the Tensorflow object detection API and she isn't aware about changes that lead to such problems.

Honestly, I cannot judge since I just w

[2019-05-29 19:35] annxingyuan opened #1623 "Implement packed version of fromPixels shader."

[2019-05-29 21:19] dsmilkov commented on #1497
Thanks for the reference. We are closely following the amazing work that Intel has done, led by @huningxin. Our wasm backend will most likely not be able to reach that level of performance since we won't be able to access hardware acceleration beyond SIMD 128bit.

We will start developing our WASM backend in the open, on GitHub very soon. Stay tuned!

[2019-05-30 00:29] #1594 closed

[2019-05-30 01:47] BlackstoneEngineering opened #1624 "Support for protobuf `.pb` exports"
#### TensorFlow.js version
latest
#### Browser version
latest
#### Describe the feature request
I would like to be able to export protobuf (.pb) files from tfjs. This is so I can leverage this code together with [uTensor](http://www.utensor.ai) in order to train models in single page web apps and then deploy them to deeply embedded IoT edge devices running on Cortex M series MCU's.
#### Code to re

[2019-05-30 05:35] jessetrana commented on #1453
In case it helps anyone with preexisting models: I found this issue because I had trained a model in Keras, used tensorflowjs_converter, and then encountered this error only when trying to infer in JS. In this situation, you can remove the layer in the converted model by simply modifying model.json to remove the layer reference and pull the output of the previous layer to be the input of the next.

[2019-05-30 05:42] huningxin commented on #1497
Thanks for the update @dsmilkov . As you know, [webml-polyfill](https://github.com/intel/webml-polyfill) currently reuses tfjs-core WebGL kernels for [GPU implementation](https://github.com/intel/webml-polyfill/tree/master/src/nn/webgl) and compiles tf-lite kernels to WASM for [CPU implementation](https://github.com/intel/webml-polyfill/tree/master/src/nn/wasm/src). It's a great news that tfjs wil

[2019-05-30 08:21] julkar9 commented on #1098
1. Ubuntu 18.04
2. nvidia 410 driver
3. gtx 2060
4. cuda 9.0 and cudnn 7.2.1

tensorflow python library run well . but getting error with node gpu

0 info it worked if it ends with ok
1 verbose cli [ '/usr/bin/node', '/usr/bin/npm', 'run', 'enable-gpu' ]
2 info using npm@6.7.0
3 info using node@v11.15.0
4 verbose run-script [ 'preenable-gpu', 'enable-gpu', 'postenable-gpu' ]
5 info lifecycle @tens

[2019-05-30 11:06] annxingyuan opened #1625 "Transpose kernel should use shared memory."

[2019-05-30 11:08] annxingyuan opened #1626 "Enable immediate execution mode."
Getting "Destroyed buffer used in a submit" console warnings because we call destroy on the buffers before the submit that uses them. We want some kind of refcounting so that destroy happens later (after submit) to prevent that from happening.

[2019-05-30 11:08] annxingyuan opened #1627 "Get the core integration tests running on cloud."

[2019-05-30 11:55] nsthorat commented on #1578
@annxingyuan do you have a sense for how hard this would be (e.g. uploading whatever the user gives raw and then running a shader for packing)?

[2019-05-30 11:59] annxingyuan commented on #1578
@nsthorat it feels like that would be straightforward - I'll sync with Ping on this today.

[2019-05-30 12:03] nsthorat commented on #1578
Cool, I think the only other complication will be with texture types.

[2019-05-30 12:48] annxingyuan commented on #1619
@dsmilkov Confirmed this happens on a Pixel phone.

[2019-05-30 13:48] bileschi commented on #1624
It is unlikely that proto support will be added in the very near future.  Is it possible to write a converter using protobuf.js?

[2019-05-30 14:07] annxingyuan commented on #1619
Values are correct in DEBUG mode.

[2019-05-30 16:59] dsmilkov commented on #1619
Hmm, and debug mode downloads each intermediate value to the CPU... Can you find at which point (which layer) the values start to diverge significantly between the laptop and the Pixel phone?

[2019-05-30 17:04] dsmilkov commented on #1619
Hypothesis: Since debug mode downloads all intermediate values to CPU, there is a higher chance they get re-uploaded as uniforms instead of textures, or the following operation gets forwarded the the CPU backend.

When in debug mode can you disable both uniform uploads and cpu forwarding?

[2019-05-30 20:51] annxingyuan opened #1629 "Implement realDivide / NaN propagation."

[2019-05-30 21:11] annxingyuan opened #1630 "Optimize conv2D by using separate im2col shader when shared dimension is large."

[2019-05-30 21:11] annxingyuan opened #1631 "Support batched matMul."

[2019-05-30 21:11] annxingyuan opened #1632 "Support transposed inputs to matMul."

[2019-05-30 21:11] annxingyuan opened #1633 "Replace uses of uint with int."

[2019-05-30 21:12] annxingyuan opened #1634 "Support depthwiseConv"

[2019-05-30 21:12] annxingyuan opened #1635 "Support clipByValue"

[2019-05-30 21:12] annxingyuan opened #1636 "Use rectangular tiles to optimize matMul"
reference: https://cnugteren.github.io/tutorial/pages/page7.html

[2019-05-30 21:12] annxingyuan opened #1637 "Implement backend.dispose()."

[2019-05-30 21:12] annxingyuan opened #1638 "Shader programs should generate their own cache keys."
Because some of them care about things like workgroupsize but others don't.

[2019-05-30 21:12] annxingyuan opened #1639 "Support dilated convolutions."

[2019-05-30 21:20] annxingyuan opened #1640 "Add buffer manager to enable buffer reuse."
Analogous to the textureManager in WebGL.

[2019-05-30 21:28] annxingyuan opened #1641 "Experiment with using FMA in matMul."
Reference: https://www.khronos.org/registry/OpenGL-Refpages/gl4/html/fma.xhtml

[2019-05-30 21:50] BlackstoneEngineering commented on #1624
Well darn.

RE: using protobuf.js - unsure, will need to talk with @neil-tan

[2019-05-31 01:56] julkar9 commented on #1098
@nkreeger

when runing with
@tensorflow/tfjs-node-gpu": "^0.3.2"
seems like , it can detect my gpu . But getting some error.

cpu backend was already registered. Reusing existing backend
2019-05-31 10:50:23.455986: I tensorflow/core/platform/cpu_feature_guard.cc:141] Your CPU supports instructions that this TensorFlow binary was not compiled to use: SSE4.1 SSE4.2 AVX AVX2 FMA
2019-05-31 10:50:23.5

[2019-05-31 04:58] sandhyacs opened #1642 "Error: Based on the provided shape, [3,3,576,15], the tensor should have 77760 values but has 4784"
I have trained a custom tensorflow model i.e. ssd_inception_v2 in python using tensorflow version 1.12.0, and converted it into tensorflow js using tfjs converter version 0.8.0.

After conversion, I got 13 shards file and one weight_manifest.json file and 1 .pb file. When I am trying to detect the object in image, getting error as:

util.ts:106 Uncaught (in promise) Error: Based on the provided sh

[2019-05-31 10:08] #1610 closed

[2019-05-31 10:52] msektrier commented on #1583
Hello dsmilkov,

today, my engineer gave me a new converted model and this one runs....with further problems.

[ssdlite_mobilenetV2_1class.zip](https://github.com/tensorflow/tfjs/files/3240921/ssdlite_mobilenetV2_1class.zip) - model.json only.

For the inference we have assured that the **input tensor** loaded in HTML is exactly the same like in our python environment. We load it simply by

[code]

[2019-05-31 10:56] msektrier commented on #1642
Have you checked that the input tensor has the same shape in python and tfjs? See also https://github.com/tensorflow/tfjs/issues/1583#issuecomment-497667271

[2019-05-31 11:05] syt123450 commented on #1171
Hi @tafsiri @caisq , I create a PR [tensorflow/tfjs-layers#551](https://github.com/tensorflow/tfjs-layers/pull/551) which makes the function to work.
[code]
<img width="610" alt="Screen Shot 2019-05-31 at 3 09 30 AM" src="https://user-images.githubusercontent.com/7977100/58701795-cb23ea00-8358-11e9-84e2-4cf748dc525a.png">

Could you please take a look at it? Thanks.

[2019-05-31 12:11] sandhyacs commented on #1642
tensor name is same, but i haven't checked  that the input tensor has the same shape in python and tfjs.... Can you please tell me how can i check?

[2019-05-31 13:05] #1617 closed

[2019-05-31 17:16] Insiyaa opened #1644 "Failed to compile fragment shader"
#### TensorFlow.js version : 1.0.0

#### Browser version: Chromium - Version 74.0.3729.169 (Official Build) Built on Ubuntu , running on Ubuntu 18.04 (64-bit)

#### I get the following error whenever I try to load model from indexeddb. Predict works in case of using the mobilenet model hosted by Google.
[code]
And also:
[code]
My code is as follows:
[code]

[2019-05-31 18:13] rthadur commented on #1644
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflowjs) since it is not a bug or feature request. There is also a larger community that reads questions there.

[2019-05-31 18:13] #1644 closed

[2019-05-31 19:18] samfultonschool commented on #1599
I currently have the same exact issue, but weirdly enough it still works. Not only that but it runs faster than the regular version even though it shows this error before running. I got about a 4-5x speed increase compared to using @tensorflow/tfjs-node. Not sure if it is actually using the gpu though. When I look at my task manager I still see the same spike in cpu usage as shown when running the

[2019-06-01 12:45] rix0rrr opened #1645 "Compilation errors with TypeScript 3.5"
To get help from the community, we encourage using Stack Overflow and the [`tensorflow.js`](https://stackoverflow.com/questions/tagged/tensorflow.js) tag.

#### TensorFlow.js version: `@tensorflow/tfjs-node` 1.1.2

#### Browser version: NodeJS 11.4.0

#### TypeScript version: 3.5.1

(Does not seem to happen in 3.4)

#### Describe the problem or feature request

Can't compile my application that us

[2019-06-02 08:38] WaseemAhmadNaeem commented on #1466
I'm using / trying Tensorflow example for JS. This issue is persistent

[2019-06-02 13:36] jesh09 opened #1646 "Error: got multiplier type of object when it should be a number."
To get help from the community, we encourage using Stack Overflow and the [`tensorflow.js`](https://stackoverflow.com/questions/tagged/tensorflow.js) tag.

#### TensorFlow.js version

#### Browser version

#### Describe the problem or feature request

#### Code to reproduce the bug / link to feature request

[2019-06-02 13:37] #1646 closed

[2019-06-02 13:39] jesh09 opened #1647 "posenet camera open problem"
Error: got multiplier type of object when it should be a number in posenet.
utils.ts line 106 compilation error in browser.

[2019-06-02 13:56] GolemXlV opened #1648 "NCHW Support for conv2d on loaded Frozen Model"
#### TensorFlow.js version
1.0.0-alpha2, 1.1.2
#### Browser version
latest
#### Describe the problem or feature request
Hello there!
I'm trying to load graph model in js browser and make a predict on tensor (1, 512). Model is loaded successfully, but on predict i received an error:
conv2d: depth of input (4) must match input depth for filter 512.
Looks like, the problem is an unsupported NCHW data

[2019-06-03 04:11] sandhyacs commented on #1642
Hi, I have checked the input tensor has not same shape in python and tfjs. First two line is same but others are not same. Please tell me how to resolve this issue?

[2019-06-03 10:36] ericmcgregor commented on #1467
I am unable to run the demo folder locally as well.  I get the following error:

Uncaught (in promise) Error: got multiplier type of object when it should be a number.
    at Object.v [as assert] (util.ts:106)
    at Object.<anonymous> (posenet.esm.js:2)
    at posenet.esm.js:2

I don't know why this issue is closed.  The instructions in the demo folder clearly do not work and I'm not sure how to

[2019-06-03 10:40] ericmcgregor opened #1649 "posenet demo folder does not work"
The posenet demo folder does not work locally with the instructions provided.  it will throw the following error in the browser:

Uncaught (in promise) Error: got multiplier type of object when it should be a number.
    at Object.v [as assert] (util.ts:106)
    at Object.<anonymous> (posenet.esm.js:2)
    at posenet.esm.js:2

Does anybody know why this is?

[2019-06-03 15:59] tafsiri commented on #1649
If you are using the instructions for the readme they are out of sync with the published package as we are preparing a [new release](https://github.com/tensorflow/tfjs-models/tree/master/posenet#documentation-note). I would try the [instructions on npm](https://www.npmjs.com/package/@tensorflow-models/posenet), if you have any trouble with those let us know. Thanks!

[2019-06-03 16:01] tafsiri commented on #1647
Try the instructions here https://www.npmjs.com/package/@tensorflow-models/posenet see [this note](https://github.com/tensorflow/tfjs-models/tree/master/posenet#documentation-note) for context.

[2019-06-03 16:03] tafsiri commented on #1645
@rix0rrr Try adding the `skipLibCheck: true` to your tsconfig. Then you can set your original desired options in tsconfig.

[2019-06-03 16:10] tafsiri commented on #1644
@Insiyaa Does this only happen when loading the model from indexeddb? The error suggests that you might have too much memory in use, are the images very large or do you have multiple instances of the model loaded?

[2019-06-03 17:16] rthadur commented on #1466
@WaseemAhmadNaeem can you please share more details ?
@993352359 is this issue resolved for you ?

[2019-06-03 17:19] rthadur commented on #1648
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow.js) since it is not a bug or feature request. There is also a larger community that reads questions there.

[2019-06-03 19:38] tafsiri commented on #1466
Just to add some context, the new release hasn't gone out yet. @nsthorat was just indicating that we have a fix merged into master.

[2019-06-03 20:25] GolemXlV commented on #1648
@rthadur but can you give me any feedback about NCHW support in conv2d op? I didn't found any notes about this in documentation.

[2019-06-03 21:49] tafsiri commented on #1648
I'm going to re-open this as it is a potential feature request. As per the [API docs](https://js.tensorflow.org/api/latest/#conv2d) NCHW is not currently supported in tf.conv2d (only NHCW). But we would be open to PRs to add support for that format. The code for [conv2d is here](https://github.com/tensorflow/tfjs-core/blob/ef1e1018fbc6e3fa559e6e3ad92b2a4da2f7fc8d/src/ops/conv.ts#L145).

[2019-06-03 21:50] tafsiri commented on #1648
I'll note that the issue is not specific to frozen models.

[2019-06-04 00:58] hossein-b commented on #1092
index.js: --> index.ts:

[2019-06-04 03:00] mogoweb commented on #797
@pyu10055  how to define my own global **fetch** function in WeChat mini app? Is there an example?

[2019-06-04 07:48] jonasgroendahl opened #1651 "Error when trying to npm install @tensorflow/tfjsnode"
System information:
Distributor ID:	Ubuntu
Description:	Ubuntu 18.04.2 LTS
Release:	18.04
Codename:	bionic

[code]

It's not quite clear what's going wrong?

[2019-06-04 07:53] #1651 closed

[2019-06-04 08:03] WaseemAhmadNaeem commented on #1466
@rthadur I was trying the TensorFlow JS tutorial given at Official Page. I copy pasted the code and Got this error at first step.

[2019-06-04 10:22] kavikode commented on #1542
Using script tag, such as the following:

    <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@1.0.0"></script>

    <script src="https://cdn.jsdelivr.net/npm/@tensorflow-models/body-pix@1.0.0"></script>

How is it possible to port the DeepLab model into TensorFlow.js for semantic segmentation?

[2019-06-04 10:26] msektrier opened #1652 "COCOSSD: WEBGL_PACK=true leads to different results vs Python"
#### TensorFlow.js version

Model was converted to Model.JSON via

#### Browser version
Chrome Version 74.0.3729.169 (Offizieller Build) (64-Bit)

#### Describe the problem or feature request
When we execute the model in Python with TF 2.0 we get different results than in TFJS. We use the latest version from [TFJS ](https://cdn.jsdelivr.net/npm/@tensorflow/tfjs/dist/tf.min.js).
In the output tenso

[2019-06-04 10:31] sdll commented on #1542
@kavikode, the model has not made its way to the repo yet, I will push a PR this week. In the meantime, you can try it out on your local machine by cloning my fork and checking out the deeplab branch.

[2019-06-04 14:20] tafsiri commented on #1466
@WaseemAhmadNaeem could you provide a link to the tutorial you are following? The image recognition tutorials shouldn't be using posenet.

[2019-06-04 15:47] prasadkawthekar commented on #1542
Thanks @pyu10055 @sdll for your comments.
Unfortunately I am unable to pursue this project anymore so won't be able to test out the suggested solutions, sorry!

[2019-06-04 15:47] #1542 closed

[2019-06-04 15:57] WaseemAhmadNaeem commented on #1466
https://www.tensorflow.org/js/tutorials/transfer/image_classification I'm
talking about this bad boy

On Tue, Jun 4, 2019, 7:20 PM Yannick Assogba <notifications@github.com>
wrote:

[2019-06-04 16:57] kangyizhang commented on #1651
Hi @jonasgroendahl

can you try this https://github.com/nodejs/node-gyp/issues/809#issuecomment-173867266? It seems to be an issue with the binding tool node-gyp.

[2019-06-04 20:43] kavikode commented on #1542
Thanks @sdll  I am new to typescript. Can you please let me know how I can locally test the deeplab model in a html file with a simple example in javascript?

[2019-06-04 20:49] sdll commented on #1542
@kavikode, you might take a look at https://github.com/tensorflow/tfjs-models/pull/229, which has a lot of issues at the moment and will change a lot in the next few days. If you want to dive into the code, you might follow the instructions in the [demo README](https://github.com/sdll/tfjs-models/tree/models/deeplab/deeplab/demo).

[2019-06-04 21:23] kavikode commented on #1542
@sdll thanks so much. I'll wait for the issues to be resolved before diving into the code. I saw in a YouTube video that it is possible to create a mesh of 400 points of facial landmarks, link: https://youtu.be/Jjm7MT6W0Dc?t=1846. Is this possible using DeepLab?

[2019-06-04 21:30] sdll commented on #1542
@kavikode, DeepLab is used for semantic segmentation, and the pre-trained models will give results similar to [these](https://colab.research.google.com/github/tensorflow/models/blob/master/research/deeplab/deeplab_demo.ipynb#scrollTo=edGukUHXyymr). [PoseNet](https://storage.googleapis.com/tfjs-models/demos/posenet/camera.html) ([source](https://github.com/tensorflow/tfjs-models/tree/master/posenet

[2019-06-04 21:38] kavikode commented on #1542
@sdll Yes, I understand the semantic segmentation can be made to determine distinctions between hair, eyes, and nose in DeepLab. PoseNet does not have that 400 point facial mesh that was shown in the video so I wondered.

[2019-06-04 21:51] sdll commented on #1542
@kavikode, I am not so sure about the application of the DeepLab model in the current form to the face mesh problem without significant changes to the code and re-training. PoseNet will require changes as well, yet it seems more suitable to your use case.

[2019-06-05 02:27] lonedune commented on #753
add _browser/crypto = false_ in **package.json**

[code]

[2019-06-05 07:40] julkar9 commented on #739
gyp info it worked if it ends with ok
gyp info using node-gyp@3.8.0
gyp info using node@10.16.0 | linux | x64
gyp info spawn make
gyp info spawn args [ 'BUILDTYPE=Release', '-C', 'build' ]
make: Entering directory '/var/www/html/smartnexuscarewithnodejs/node_modules/@tensorflow/tfjs-node-gpu/build'
  ACTION binding_gyp_tfjs_binding_target_deps_stage Release/libtensorflow.so
(node:14038) UnhandledP

[2019-06-05 08:01] julkar9 commented on #739
Initialization of backend tensorflow failed
Error: libcublas.so.10.0: cannot open shared object file: No such file or directory
    at Object.Module._extensions..node (internal/modules/cjs/loader.js:805:18)
    at Module.load (internal/modules/cjs/loader.js:653:32)
    at tryModuleLoad (internal/modules/cjs/loader.js:593:12)
    at Function.Module._load (internal/modules/cjs/loader.js:585:3)
    a

[2019-06-05 08:09] julkar9 commented on #739
tried to build with bazel: got bellow error

tensorflow git:(master) bazel build --config=monolithic //tensorflow/tools/lib_package:libtensorflow

Starting local Bazel server and connecting to it...
INFO: Options provided by the client:
  Inherited 'common' options: --isatty=1 --terminal_columns=91
INFO: Reading rc options for 'build' from /home/julkarnine/Downloads/tensorflow/.bazelrc:
  'build'

[2019-06-05 08:29] julkar9 commented on #739
**is there any problem**
./deviceQuery Starting...

 CUDA Device Query (Runtime API) version (CUDART static linking)

Detected 1 CUDA Capable device(s)

Device 0: "GeForce RTX 2060"
  CUDA Driver Version / Runtime Version          10.0 / 9.0
  CUDA Capability Major/Minor version number:    7.5
  Total amount of global memory:                 5903 MBytes (6190006272 bytes)
MapSMtoCores for SM 7.5 i

[2019-06-05 09:16] DirkToewe commented on #1516
It's good to hear that You're committed to extending `tf.linalg` and I realize how much review work is involved. The past few weeks, I've been trying to think of ways to reduce that work. So far, I've come up with two ideas:

One Idea would be to port [Lapack](http://www.netlib.org/lapack/) to the Web using WebAssembly. Lapack is thoroughly tested, so the review work could be limited to the backpr

[2019-06-05 10:45] DirkToewe commented on #1601
If backpropagation is implemented for tf.gather, it might be simpler and more concise to re-implement tf.topk in terms of it.
[code]

[2019-06-05 11:07] ericmcgregor commented on #1649
I saw that note, so are you saying that the actual demo is out of date and doesn't work with the published packages?  The code you have published right now just doesn't work in github?  It's just very confusing, because you can view a working demo linked to from both sets of instructions.  What is out of sync between the npm and github installation instructions?  they look basically the same.  I'd

[2019-06-05 15:02] tafsiri commented on #1649
@ericmcgregor Could you let me know which instructions in particular you are using so I can double check. You can also just put in a code snippet of what you are calling here in the issue.

My recommendation is to try [these instructions (on NPM)](https://www.npmjs.com/package/@tensorflow-models/posenet) (there is also a working demo linked to from that page). The API for posenet is changing so ev

[2019-06-05 16:38] lxieyang commented on #272
Any follow up on this issue? @gabrielglbh
Thanks!

[2019-06-06 00:30] #1645 closed

[2019-06-06 00:30] rthadur commented on #1647
Hope the issue is resolved , closing this issue .

[2019-06-06 00:30] #1647 closed

[2019-06-06 08:36] rix0rrr commented on #1645
I did try the `skipLibCheck`, did not do it for me.

[2019-06-06 10:09] syt123450 commented on #1035
Hi @caisq ,  I sent several PRs to add the avgPool3d op, maxPool3d op, averagePooling3d layer, maxPooling3d layer. Could you please take a look at these PRs? Would appreciate hearing your thoughts on these PRs, thanks!

* Add maxPool3d and avgPool3d ops with CPU and WebGL kernel implementation, support forward prediction and gradient [tensorflow/tfjs-core#1778](https://github.com/tensorflow/tfjs-c

[2019-06-06 11:16] aronsuarez commented on #1513
Any workaround or Timeline?

[2019-06-06 17:18] #1443 closed

[2019-06-06 18:33] #1393 closed

[2019-06-06 22:17] aronsuarez commented on #1513
@dsmilkov I saw you make a pull request, that solve this problem, is this in the current version 1.1.2?
Can you give a example how i can convert a automl saved_model to tfjs?

Thanks for help

[2019-06-06 23:57] phpirate commented on #1649
@tafsiri The demo linked inside the NPM instructions page is also not working (Talking about the Camera demo page), do you guys expect to get this fixed anytime soon?

[2019-06-07 04:02] pyu10055 commented on #1642
@sandhyacs can you provide your code to reproduce this problem? thanks.

[2019-06-07 04:44] sandhyacs commented on #1642
@pyu10055  here is the code:

let modelPromise;
let baseModel = 'master';

window.onload = () => modelPromise = cocoSsd.load();

const button = document.getElementById('toggle');
button.onclick = () => {
  image.src = image.src.endsWith(imageURL) ? image2URL : imageURL;
};

const select = document.getElementById('base_model');
select.onchange = async (event) => {
  const model = await modelPromise

[2019-06-07 11:01] msektrier commented on #841
We have exactly the same problem with a transformed ssdlite mobilenet2 network.
[model.zip](https://github.com/tensorflow/tfjs/files/3265608/model.zip)

We trained it with TF 1.13.1 and used the last TFJS converter 1.1.2. The transformation is successful, the signature is fine as well using the saved_model_cli tool.

When we want to apply it we receive this error:

![image](https://user-images.git

[2019-06-07 14:05] ericmcgregor commented on #1649
Hey @tafsiri, I was not expecting to have to write my own demo files based on the instructions on NPM.  I assumed that the demo folder would contain demo code that worked, and that the installation and build instructions would be what i would need to follow to build and run the demo locally.  My understanding from the comments you made and on the github page was that maybe the installation instruc

[2019-06-07 15:29] tafsiri commented on #1649
Thanks for the updated steps to reproduce the problem.

Ping @tylerzhu-github, could you take a look at this? If the new package won't be out for a while can we revert the changes to the demo source?

[2019-06-07 16:21] backspaces commented on #1516
Another source of the Python stack is the iodide/pyodide project using wasm to port Python & numpy and friends to the browser. JavaScript access is also available:
https://github.com/iodide-project/pyodide/blob/master/docs/using_pyodide_from_javascript.md

[2019-06-07 17:33] #1046 closed

[2019-06-07 17:45] caisq commented on #1645
@rix0rrr It's weird that skipLibCheck didn't work. Did you put it at the right place in tsconfig.json, i.e., under "compilerOptions"

@tafsiri In addition to providing this workaround, we should fix it in tfjs-core and add test to prevent compilation problems like that in the future.

[2019-06-07 18:22] tafsiri commented on #1645
@caisq I don't think we can fix it in core, we are tied to ts 3.3.3333, if a new version of the ts compiler is incompatible with that we can't change our source code to match (as that would likely render it incompatible with the version we use). Our current documented approach is to use skipLibCheck compiler option. I'm open to alternatives, but from what i've seen in the TypeScript issues, this s

[2019-06-07 18:36] caisq commented on #1645
@tafsiri I tested this on my machine with TypeScript 3.3.3333. The compilation error happens on that version as well. So it doesn't appear to be because of the newer version that the user is using.

[2019-06-07 19:05] tafsiri commented on #1645
confirmed offline with @caisq that he had indeed been running 3.5.1 in that instance. 3.3.3333 still works without skipLibCheck.

[2019-06-07 19:10] caisq commented on #1645
Oops ~ sorry for the false alarm.

[2019-06-07 20:21] tylerzhu-github commented on #1649
Hi all,

The final PR has been approved for the new PoseNet release.
https://github.com/tensorflow/tfjs-models/pull/227

Sorry for the confusion and I can understand the frustration from your side.
We will be updating the PoseNet version number in the demo in the next week for sure.

[2019-06-07 20:26] tylerzhu-github commented on #1649
If you want to use the demo in the current github. You can temporarily using the following instructions:

(rm -r node_modules) in posenet folder if thing messed up
--
in the posenet folder: yarn
in the posenet folder: yarn build && yalc push
in the demos folder: yarn && yalc link @tensorflow-models/posenet
in the demos folder: yarn watch

[2019-06-08 10:54] DirkToewe commented on #1516
One minor downside of Python→JS ports is that they usually come with ginormous package sizes. Pyodide is ~12mb if I see it correctly (~15 times the size of `tf.min.js`).

[2019-06-08 17:38] Turtlefight commented on #1599
@billTeston @samfultonschool
I had the same issue as you, using CUDA 10.1.
I took a look at the dll files the node process tried to load when loading the native node package, and found that it tried to load `cublas64_100.dll` instead of `cublas64_101.dll` for CUDA 10.1.

I installed CUDA 10.0 from https://developer.nvidia.com/cuda-10.0-download-archive and now it works without problems for me.

Ha

[2019-06-09 13:01] SkySway13 commented on #1649
First I wish to thank all teams and their members at Google to create such a great project.
I`m having the same issue here, every time I clicked into camera.html it shows nothing, and if I go to console I can see its giving me the same message. Long story short, it won`t work and everything I can find on the Internet is also out of date.
Surprisingly through,  I forked this repository roughly a mo

[2019-06-09 13:35] tylerzhu-github commented on #1649
Hi @SkySway13,

This is Tyler and I am from Google working on PoseNet library. Thanks for reaching out! How are you! I am so excited to see what you are experimenting with PoseNet.

After knowing the issue, we released a new NPM package and updated the PoseNet library’s version yesterday:

https://github.com/tensorflow/tfjs-models/pull/234#issuecomment-500110651

The new version of PoseNet models

[2019-06-10 10:08] teplofizik opened #1655 "Problems with loading model with quantization option"
project: tfjs-converter

#### Describe the problem or feature request
if input model of type "js layers" has quantization, weights loaded incorrect

#### Steps to reproduce the bug
convert model with quantization, convert it back, compare weights in source file and double convertetd model file. They are differs.

#### Code to fix issue
in file "quantization.py" in function: dequantize_weights call

[2019-06-10 13:59] nsthorat commented on #841
@pyu10055 can you take a look?

[2019-06-10 21:59] #1578 closed

[2019-06-11 00:07] kangyizhang commented on #1473
@maddy027 @adwellj
TensorFlow has strict version requirement for Cuda and cuDNN.

For tfjs-node@0.x.x (with libtensorflow r1.12 or prior), it requires CUDA 9.0 +cuDNN 7.1
For tfjs-node@1.x.x (with libtensorflow r1.13), it requires CUDA 10.0 (https://www.tensorflow.org/install/gpu#software_requirements)

[2019-06-11 09:42] vadimkantorov opened #1657 "Slicing with indices > 32768 sometimes doesn't work"
To get help from the community, we encourage using Stack Overflow and the [`tensorflow.js`](https://stackoverflow.com/questions/tagged/tensorflow.js) tag.

#### TensorFlow.js version
{tfjs-core: "1.1.2", tfjs-data: "1.1.2", tfjs-layers: "1.1.2", tfjs-converter: "1.1.2", tfjs: "1.1.2"}

#### Browser version
Version 74.0.3729.169 (Official Build) (64-bit), Windows

#### Describe the problem or featu

[2019-06-11 10:47] ericmcgregor commented on #1649
@SkySway13 just tried re-downloading the repo and got the demo folder to work!   i'm looking forward to learning more about tfjs and posenet now.  thank you.

[2019-06-11 12:43] syt123450 commented on #1453
Hi @caisq , I took a look into this issue, it seems that to implement `SpatialDropout2D`, we need to make `tf.layers.dropout` support `noiseShape` first. While dropout layer only supports default `noiseShape` now (as `dropout` op in `tfjs-core` only support default `noiseShape`), I sent two PRs to make the `dropout` op and `dropout` layer support non-default `noiseShape`. Could you please take a l

[2019-06-11 12:46] syt123450 commented on #117
Hi @nsthorat @caisq @dsmilkov , I sent a followup PR [tfjs-core#1782](https://github.com/tensorflow/tfjs-core/pull/1782) to make dropout op support non-default `noiseShape`, could you please take a look into it? Thanks!

[2019-06-12 01:05] kavikode commented on #1542
I found out that facial mesh that I referred to was contained in the ARCore Augmented Faces for mobile devices. They created using Tensorflow Lite. They also have Augmented Images that performs a similar technique for image segmentation. Does anybody have any idea of how to find the Augmented Faces and Augmented Images model from Tensorflow Lite so that we can convert it to Tensorflow.js?

[2019-06-12 02:03] hartatovich commented on #1104
it is possible to use custom binary with tfjs-node ?
I created a custom build on my mac-os (should be optimized) but I cannot make tfjs-node work with that binary I compiled
(I'm also trying to install it into pip but still cannot make tfjs-node work with it)

I think tfjs/node is working with a local binary inside node_modules but I'm not really sure.

I would also consider tfjs-node-gpu on windo

[2019-06-12 04:45] kangyizhang commented on #1104
hi @hartatovich it is not supported right now. We have a tracking issue and we will prioritize this request. Meanwhile if you would like to try with your local tfjs-node package, you can modify this file https://github.com/tensorflow/tfjs-node/blob/master/scripts/install.js#L106 to bind with your own binary.

hi @ShadabFaiz your issue is duplicate as https://github.com/tensorflow/tfjs/issues/894.

[2019-06-12 05:37] ShadabFaiz commented on #894
Any progress on it?

[2019-06-12 05:41] caisq commented on #894
@ShadabFaiz When libtensorflow 1.14 comes out, we'll release a new version of tfjs-node, which will have AVX and SSE optimization included.

[2019-06-12 05:41] ShadabFaiz commented on #894
Ok. Thanks for the information.

[2019-06-12 06:51] VariableVasasMT commented on #143
I would like to take this pr, if no one is working on it

[2019-06-12 06:57] hartatovich commented on #1104
@kangyizhang Thank you for your response.
but I'm not sure I'm following...

where can I track the see the prioritize of the request (I'm trying to understand if I should try it before my self or not)

looks like the function in line 106 is only handling windows?
I'm actually trying to replace the binary for both macos and windows.. (macos is higher priory at me end

[2019-06-12 10:17] saraswathykrk opened #1658 "Will posenet work on landscape mode?"
To get help from the community, we encourage using Stack Overflow and the [`tensorflow.js`](https://stackoverflow.com/questions/tagged/tensorflow.js) tag.

#### TensorFlow.js version

#### Browser version

#### Describe the problem or feature request

#### Code to reproduce the bug / link to feature request

[2019-06-12 16:48] kangyizhang commented on #1104
@hartatovich ah sorry I missed the link of the tracking issue: https://github.com/tensorflow/tfjs/issues/571

The current workflow is that:
1. this line https://github.com/tensorflow/tfjs-node/blob/master/scripts/install.js#L111 will download and unpack the raw binary based on your os (windows/linux/mac, cpu or gpu). If you want to use your own binary you will need to change this part to that it d

[2019-06-12 17:43] hartatovich commented on #571
@kangyizhang
Regards https://github.com/tensorflow/tfjs/issues/1104#issuecomment-501360267

What do you think about just changing the
**libtensorflow_framework.so** and **libtensorflow.so** at **node_modules/@tensorflow/rfjs-node/build/release**

maybe just replacing this files without any code update will do the job?

right now my problem is that I'm trying to get the proper .so files for my maco

[2019-06-12 18:17] rthadur commented on #1658
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow.js) since it is not a bug or feature request. There is also a larger community that reads questions there.

[2019-06-12 18:17] #1658 closed

[2019-06-12 19:18] kangyizhang commented on #571
Yes, you can just change the files libtensorflow_framework.so and libtensorflow.so at node_modules/@tensorflow/rfjs-node/build/release, and run `node-gyp rebuild` to bind your own binary. But you might accidentally wipe it out when you run `yarn` or `npm install` in your repo.

I personally would recommend folking the https://github.com/tensorflow/tfjs-node repo locally, and use public-local comma

[2019-06-13 04:56] pejoujarrar opened #1659 "saved transfer models disappear after refreshing page"
To get help from the community, we encourage using Stack Overflow and the [`tensorflow.js`](https://stackoverflow.com/questions/tagged/tensorflow.js) tag.

#### TensorFlow.js version
1.1.2
#### Browser version
Firefox Quantum 67.0.1
#### Describe the problem or feature request
After reating a model and collecting data, then training the model and saving it:

`  async trainModel(){
        await tr

[2019-06-13 07:58] sandhyacs commented on #1583
@msektrier ,
I am also facing the same issue. Have you resolved this problem?  i want to know why this is happening?

[2019-06-13 12:26] msektrier commented on #1583
@sandhyacs We have no idea and we do not investigate further. We hope some problems are fixed with the next release of our software. We assume these are TF/TFJS internals.

[2019-06-13 14:47] piercus opened #1660 "tfjs-node-gpu - CUBLAS_STATUS_NOT_INITIALIZED : Blas xGEMM launch failed"
## Local configuration

#### TensorFlow.js version

`@tensorflow/tfjs-node-gpu@1.1.2`

#### OS

Ubuntu 18.04

#### CUDA version

[code]

Cudnn version is 7.4.2 (install made from linux `cudnn-10.0-linux-x64-v7.4.2.24.tgz`)

#### Graphic card

`GeForce RTX 2070` with NVIDIA drivers `418.67`

#### Describe the problem or feature request

When using convolutionnal layer CUDA is crashing with error `C

[2019-06-13 17:38] caisq commented on #1659
@pejoujarrar Have you tried it in other browsers?

[2019-06-14 07:27] davlhd commented on #102
I got it to work in chrome with OffscreenCanvas. But not in Safari with only the CPU.

`		this.window = this
		importScripts('https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@1.0.0/dist/tf.min.js');
		tf.setBackend('cpu');
`

gives me `Error: Backend name 'cpu' not found in registry` when I do inference. Any ideas?

[2019-06-14 08:04] erikcartman opened #1662 "tensorflow/tfjs-node memory usage"
To get help from the community, we encourage using Stack Overflow and the [`tensorflow.js`](https://stackoverflow.com/questions/tagged/tensorflow.js) tag.

#### TensorFlow.js version
    "@tensorflow-models/posenet": "^2.0.0",
    "@tensorflow/tfjs-node": "^1.1.2",
#### OS
Windows 10

#### Describe the problem or feature request
For me it is not clear if @tensorflow/tfjs-node participates in proce

[2019-06-14 08:20] pejoujarrar commented on #1659
@caisq I actually see where is the problem, after training network, the trained model (parameters) is stored as an indexeddb, so it's related to the browser and also the client  connected to the server. how can i implement the same model for all clients (instead of training a model for each indexdb session).

How can i store the trained model in the local server permanently?

[2019-06-14 15:18] QuantumInformation commented on #1225
The error goes away if I import like this:
`var tf = require('@tensorflow/tfjs')`

vs `import * as tf from '@tensorflow/tfjs'`

Any reason why the `import as` syntax doesn't work?

<img width="437" alt="Screenshot 2019-06-14 at 17 16 43" src="https://user-images.githubusercontent.com/216566/59519477-37a9f780-8ec8-11e9-8dc7-13344b98c2a2.png">

[2019-06-14 15:35] jrbasso opened #1664 "Optimization for single pose on posenet"
#### Posenet version
2.0.0

#### Browser version
Independent

#### Describe the problem or feature request
The implementation of posenet converts some tensors to buffers but it's not used on single pose estimation. These variables are only used for multi pose estimation. It impacts the single pose performance in about 15% from local tests.

#### Code to reproduce the bug / link to feature request

[2019-06-14 18:00] tafsiri opened #1665 "Add more tests for tf.fromPixels"
#### TensorFlow.js version
Any

#### Describe the problem or feature request

There are some code paths in tf.fromPixels that are not tested. In particular we need to test passing in an `HTMLCanvasElement`, `HTMLImageElement` and `HTMLVideoElement`. The tests are [located here](https://github.com/tensorflow/tfjs-core/blob/master/src/ops/array_ops_test.ts#L1333).

In the past we had some issues tes

[2019-06-14 18:01] tafsiri opened #1666 "Investigate running tests within a webworker"
#### Describe the problem or feature request

We need to investigate how to run our tests in a webworker environment. This issue is a placeholder to track communication/notes about how this can be achieved. To start we will look into running the tfjs-core tests in webworkers.

[2019-06-14 18:01] joao-carvalheira commented on #1652
I think I'm having the same problem hmm... I made a landmark detection model and it works fine in tensorflow but when I use it in the browser (tfjs) it gives me completely wrong results. Like instead of receiving normal coordinate values like [123.3..., 94.2...], I get values around these [-97.64..., 220.22...] like if the video was almost frozen and also giving negative coordinates.
If I only cha

[2019-06-14 20:20] syt123450 commented on #1648
Hi @tafsiri , I sent a PR [tensorflow/tfjs-core#1791](https://github.com/tensorflow/tfjs-core/pull/1791) to make conv2d support `NCHW` dataFormat, could you please take a look at it? Thanks!

[2019-06-14 21:15] caisq opened #1667 "Unsupported Op: FusedBatchNormV3"
To get help from the community, we encourage using Stack Overflow and the [`tensorflow.js`](https://stackoverflow.com/questions/tagged/tensorflow.js) tag.

#### TensorFlow.js version
HEAD

#### TensorFlow version
tf-nightly-2.0-preview >20190608 to present

Error message looks like:

Traceback (most recent call last):
  File "/tmp/tmp.8h12vBmN8j_venv/bin/tensorflowjs_converter", line 10, in <modul

[2019-06-14 21:15] caisq commented on #1667
The version needs to be unpinned after the issue is resolved.

[2019-06-14 21:17] jonnytest1 commented on #633
@leung85 newer versions use tensor size of 1024

[2019-06-14 23:23] kavikode commented on #1094
how can we convert the Mask R-CNN model to Tensorflow.js?

[2019-06-15 13:17] caisq commented on #1660
@piercus Do you have any other processes trying to use the GPU at the same time?

[2019-06-15 23:53] kavikode commented on #1388
How can we use the pre-trained PoseNet model to apply transfer learning to the addition of custom set of images because I want to include people using wheelchairs and people using walkers and crutches as well? @tylerzhu-github @oveddan

[2019-06-16 07:57] mukeshmithrakumar commented on #991
Question fellows, this is my first time working with javascript, so, let me know if I am way off, js is a client side programming language right and tf.lite works on edge, so, why not have a way to load tf.lite directly via tfjs, seems pretty straightforward.

[2019-06-16 09:51] WenheLI commented on #1665
Hi @tafsiri , just want to double check.  I need to write three extra tests for ``HTMLCanvasElement``,`` HTMLImageElement ``and ``HTMLVideoElement``. Do I need to write for other types of parameter like ``OffscreenCanvas``? Also, do I need to write them for both node environment and the browser environment? At last, I just need to check the output shape and no error is throwing during the run time

[2019-06-16 10:21] aptlin opened #1668 "[tfjs-core]: Add bicubic resize"
#### TensorFlow.js version

1.1.2

#### Describe the problem or feature request

EfficientNet requires the support for a bicubic resize for the optimal performance, yet it is not yet in the `tfjs-core` toolkit. Using a bilinear resize [does](https://github.com/lukemelas/EfficientNet-PyTorch/issues/12) deteriorate the performance.

#### Code

As far as I understand, we need to add the corresponding

[2019-06-16 10:32] WenheLI commented on #1666
Given this [post](http://ryanogles.by/testing-jasvascript-web-workers-with-jasmine/), I think we can have a set of tests about Webworker directly running under Jasmine/karma. But this may require rewriting all the previous test codes again into a webworker file.

Basically, it is like running tests under webworker thread and validating them under the main thread.

[2019-06-16 13:27] ToonTalk commented on #1619
Is this fixed in 1.2.1? A quick test seems to indicate it is resolved.

[2019-06-16 14:08] nsthorat commented on #991
Unfortunately it’s not as simple as you’d think. Is there a use case you have a in mind that we can’t solve with TensorFlow.js itself?

[2019-06-16 17:18] mukeshmithrakumar commented on #991
oh no, @nsthorat it's more of a architecture & performance decision, we have a voice assistant in tensorflow and to move it to edge there are two ways, convert it to tf.lite and write in java for android or convert it into tf.js and write in js, I read tf.lite has much better performance for ML but writing in js would be convenient, not to mention, having to learn Java to do this, so was wondering

[2019-06-16 19:17] hartatovich commented on #571
Hi @kangyizhang ,

So i'm trying something else.. i'm tying to work with tfjs-node-gpu on my ubuntu machine with nvidia 2060

I'm getting this error
[code]

I'm not sure whats the problem and i'm not sure what version tfjs-node-gpu is using for tensor right now

is this issue related or am i missing something here

[2019-06-16 19:52] caisq commented on #1659
@pejoujarrar As you pointed out, the `save()` method is for a local browser environment only. You can do the following to save the trained model to a centralized location.

1. Use the `IOHandler` option of the `save()` method to get an in-memory representation of the model artifacts. See https://github.com/tensorflow/tfjs-models/blob/master/speech-commands/src/types.ts#L327. You can use tf.io.with

[2019-06-16 19:52] #1659 closed

[2019-06-17 06:00] quantuminformation opened #1669 "`console.log(tf.getBackend())` reports undefined before using any operations."
To get help from the community, we encourage using Stack Overflow and the [`tensorflow.js`](https://stackoverflow.com/questions/tagged/tensorflow.js) tag.

#### TensorFlow.js version
1.1.2
#### Browser version
chomre 74
#### Describe the problem or feature request
`console.log(tf.getBackend())` reports undefined before using any operations.
#### Code to reproduce the bug / link to feature request

[2019-06-17 06:37] PrakharPriyesh commented on #1371
Solved!!

This issue is sometimes related to the file path name length which is by default to 260 characters.

Go to this link and follow the instruction
https://mspoweruser.com/ntfs-260-character-windows-10/

then install tensorflowjs using pip
pip install tensorflowjs

update your numpy incase of any error.
pip install --upgrade numpy

[2019-06-17 09:34] piercus commented on #1660
@caisq This is the only process running on this GPU.

I have another GPU (GTX 970 is not compatible with tfjs cause `with Cuda compute capability 5.2`) where i run other GPU processes, and i do `export CUDA_VISIBLE_DEVICES=0` to make sure tensorflowjs uses the RTX 2070 GPU.

[2019-06-17 12:30] annxingyuan opened #1670 "Investigate using half float textures on Android"
Currently switching WEBGL_RENDER_FLOAT32_ENABLED to false improves performance but appears to lead to less accuracy than the iPhone.

[2019-06-17 12:30] annxingyuan opened #1671 "Experiment with replacing highp with mediump in shader source"

[2019-06-17 12:52] annxingyuan commented on #1619
Hmmmm it looks like it is... I'll figure out why... closing this issue in the meantime :)

[2019-06-17 12:52] #1619 closed

[2019-06-17 12:59] caisq commented on #1371
@PrakharPriyesh Thanks for the update. I'll close the issue now. Feel free to comment or reopen if you have remaining issues.

[2019-06-17 12:59] #1371 closed

[2019-06-17 13:44] annxingyuan commented on #1619
Looks like https://github.com/tensorflow/tfjs-core/pull/1777 accidentally fixed this... I think that means either our CPU-side encoder or packing shader behaved differently on Android.

[2019-06-17 14:35] nsthorat commented on #991
Got it.

In the browser, compiling TF Lite will be too large of a binary to run directly and will be much slower than our kernels.

In Node.js, we're working on natively executing SavedModels, and we are also working on headless WebGL bindings.

These two should cover everything you'd need, unless I'm missing something!

[2019-06-17 15:00] tafsiri commented on #1664
Thanks @jrbasso, your PR is merged and should go out with the next release.

[2019-06-17 15:00] #1664 closed

[2019-06-17 15:17] tafsiri commented on #1665
The first three tests are needed to make sure existing functionality doesn't break and should be added first (one PR). The test for OffscreenCanvas can be part of your existing PR that modifies fromPixels.

They only need to run in the browser environment `BROWSER_ENVS` (see the existing test for an example of how to constrain it to just that environment). I would check the output shape and also c

[2019-06-17 15:54] mukeshmithrakumar commented on #991
Hey @nsthorat thanks a lot man, was going through tf node.js and it looks like that would work great. Appreciate your help 🙂

[2019-06-17 17:00] kangyizhang commented on #571
hi @hartatovich

tfjs-node-gpu@1.1.2 is using tensorflow@1.13.1

What is your CUDA and cuDNN version? TensorFlow has strict version requirement for GPU (https://www.tensorflow.org/install/gpu#software_requirements)

[2019-06-17 17:24] rthadur commented on #1669
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow.js) since it is not a bug or feature request. There is also a larger community that reads questions there.

[2019-06-17 17:29] nsthorat commented on #991
No problem :)

[2019-06-17 17:32] hartatovich commented on #571
@kangyizhang  according to this

https://github.com/mind/wheels

i'm thinking about going on  1.4.1 (just because its the lower one on gpu with 7.0 Compute Capability - but i'm taking a big guess here ) (and it got high compatibility with different cuda version {i'm not sure if thats good or bad} )

TF | CUDA | cuDNN | Compute Capability
1.4.1 | 8.0/9.0/9.1 | 6.0/7.0 | 3.7, 6.0, 7.0

i'm not sure

[2019-06-17 17:40] sthongprasert commented on #1513
Not sure if this has been resolved. Today I tried with latest version 1.2.1 and got a different error

Traceback (most recent call last):
  File "/usr/local/bin/tensorflowjs_converter", line 10, in <module>
    sys.exit(main())
  File "/usr/local/lib/python2.7/dist-packages/tensorflowjs/converters/converter.py", line 556, in main
    strip_debug_ops=FLAGS.strip_debug_ops)
  File "/usr/local/lib/py

[2019-06-17 18:09] nsthorat commented on #1668
The general approach we take for deciding whether it should be implemented as a backend interface method is if it shows up in [ops.pbtxt](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/ops/ops.pbtxt).

In this case, the ops.pbtxt entry looks like this:
[code]

Since this appears here, you are exactly right this should be implemented as a kernel and also as an op!

High level

[2019-06-17 18:20] sdll commented on #1668
@nsthorat, thank you for illuminating the workflow! For sure, I will create a separate issue tracking the current progress and outlining the future work, moving away from the Google Sheet I sent you a while ago. There is also a Notion board to which you have access, but gh issues do seem more robust.

[2019-06-17 18:22] sdll commented on #1668
The bicubic resize is not a major issue, EfficientNet does seem to perform quite well without it, judging from the pytorch implementation, but it would be nice to have it in the long-term.

[2019-06-17 20:33] tafsiri commented on #1669
Re-opening as this might be a bug.

[2019-06-17 20:35] nsthorat commented on #1669
This is kind of expected because it's technically the truth.

However, from the user's point of view this definitely seems wrong. We can solve this by initializing the backend when the user calls that, just as calling `tf.backend()` would.

Technical details:
Backends are initialized lazily. Only when you call an op do we find the best backend and initialize it. We do this for a few of the engine

[2019-06-17 20:58] generic-github-user opened #1672 "tf.unstack() code example in documentation is broken (0.11.2)"
In the API documentation for [version 0.11.2](https://js.tensorflow.org/api/0.11.2) of TensorFlow.js, the given code example for `tf.unstack()` throws an error when run: `tf.unstack(...).print is not a function`.

![image](https://user-images.githubusercontent.com/40661852/59635908-4985d780-9120-11e9-8455-ac4144f4e1c2.png)

I found [another issue](https://github.com/tensorflow/tfjs/issues/412) abo

[2019-06-17 22:38] kangyizhang commented on #571
@hartatovich
It will not work with TF@1.4. tfjs-node started with TF@1.8.x which has eager mode in the c library. Besides some ops which are supported in current tfjs-node, are not available in earlier version.

[2019-06-18 03:20] GreyZzzzzzXh opened #1673 "packed depthwiseConv with large filter size is slow"
#### TensorFlow.js version
1.1.2

#### Browser version
Version 73.0.3683.103 (Official Build) (64-bit)

#### Describe the problem or feature request
When filter size and channel is large, e.g. [H, W, C] = [9, 9, 960], packedDepthwiseConv (82ms) is much slower than depthwiseConv (27ms).

Moreover, this case will crash the browser on mobile.

We encountered this case in a segmentation model, and use

[2019-06-18 08:55] msektrier commented on #1583
With the yesterday's (17/06/2019) version of TFJS we receive a new error in the browser for the posted network.

![image](https://user-images.githubusercontent.com/49950048/59667530-3245f900-91b7-11e9-9f1d-af2f84a46eb4.png)

However, our other ssdlite mobilenet V2 network is finally running. It is the first time we could successfully transfer this network from python to javascript. Many thanks for

[2019-06-18 11:06] hartatovich commented on #571
I think i'm confused from the tensorflow versioning :)

you said  tensorflow@1.13.1
and then
1.8.X

so just to be clear what is is the latest tfjs-node-gpu version i can use that will work on gpu on ubuntu

seems like any version i'm trying just not working

[2019-06-18 12:39] ClemHlrdt commented on #689
Hey. I have a similar issue. I am trying to load my model but I get the following error:

Error: Requested texture size [2795x2795] greater than WebGL maximum on this browser / GPU [2048x2048].

This error appears in Firefox console but not on Chrome for some reason. Any idea what could cause the issue ?

My model is Embedding layer => Convolution => MaxPooling => Dense layer.
Video card: GTX 1060

[2019-06-18 14:01] caisq opened #1674 "[tfjs-example] Add error bars to cart-pole reward curves"
See Figure 2 in https://arxiv.org/pdf/1709.06560.pdf.

[2019-06-18 14:57] tafsiri commented on #1672
Looks like this got fixed in version 0.11.7 so feel free to refer to those docs https://js.tensorflow.org/api/0.11.7/#unstack. Note that unstack returns an array of tensors.

The code snippets are extracted from the code based at the time the version was released so we won't typically go back to change them.

[2019-06-18 14:57] #1672 closed

[2019-06-18 16:54] kangyizhang commented on #571
@hartatovich Sorry for the confusion.

When tfjs-node first released(tfjs-node@0.1.0), it's supporting tensorflow@1.8.x, which is the earliest tensorflow version that tfjs-node support.
Now with tfjs-node-gpu@1.1.2, it's supporting tensorflow@1.13.1.

The latest version of tfjs-node-gpu is 1.1.2, it requires specific version of NVIDIA software: https://www.tensorflow.org/install/gpu#software_requi

[2019-06-18 18:31] generic-github-user commented on #1672
This makes sense - thanks for the quick response.

[2019-06-18 18:35] davidbrewer commented on #1513
Hi, I wanted to report in that I was able to convert that same AutoML Vision model using the 1.2.1 version of the converter! But, I'm having some problems actually loading the resulting model in the browser.

To sum up the model:
* AutoML Vision Edge model, exported using the "Tensorflow (recommended for GPU-based devices)" format.
* I converted it using the following command:
`tensorflowjs_conver

[2019-06-18 19:21] dsmilkov commented on #1513
Hi all, we are in the process of adding support of AutoML.
We have a few more in process PRs that we plan to submit in the next week or two. After that, we will release a new version of TF.js and we will write a tutorial/codelab demonstrating how to use it.

In the meantime, all of these errors are very useful to know.

@davidbrewer, @sthongprasert is it possible to share the saved model files wit

[2019-06-18 21:22] annxingyuan commented on #1673
@GreyZzzzzzXh Thank you for identifying this issue! This is very helpful to know. For now I will add a bandaid to route to unpacked depthWiseConv based on the heuristic you proposed. Then I'll try to see whether we can improve the packed shader.

[2019-06-18 23:32] satbecse opened #1676 "TFJS Converter : Error while converting saved_model to tfjs_graph_model"
(base) C:\Users\st3015\Documents\00-SATHISH\06-Full Stack Developer\NodeJs\tensorflow>tensorflowjs_converter --input_format=tf_saved_model --output_format=tfjs_graph_model --signature_name=None --saved_model_tags=myTag /tmp/new/  /tmp/web_model
2019-06-18 18:25:49.392714: I tensorflow/core/platform/cpu_feature_guard.cc:142] Your CPU supports instructions that this TensorFlow binary was not compile

[2019-06-19 09:39] ccx01 commented on #1456
Hi, @vpanichkin

Could I ask which converter version work for you?

Hi,@pyu10055

I got the error "NotImplementedError: numpy() is only available when eager execution is enabled.", when i try to convert the tf_save_model to tf_graph_nodel.

I'm new to python and tensorflow, could you be kind to provide some help me to convert tf_save_model to the web format?

the model I use from this tutorial:  h

[2019-06-19 11:17] oveddan opened #1677 "PoseNet camera demo - MobileNet with quant bytes of 1 shows no poses"
To reproduce:

Open the [current version of the posenet demo](https://storage.googleapis.com/tfjs-models/demos/posenet/camera.html)

Select 1 from the quantBytes drop down.

No poses show up in the output. quantBytes of 2 and 4 work fine.

cc @tylerzhu-github

[2019-06-19 11:50] dsmilkov commented on #1583
Hi @msektrier! Can you share the weights and the model.json of the latest model that gives you the error above?

[2019-06-19 11:56] dsmilkov commented on #1583
Also can you share the code for how to call the model for a prediction:
`model.executeAsync(/* what inputs */, /* what outputs */)`

[2019-06-19 12:01] annxingyuan commented on #1673
Hey @GreyZzzzzzXh - just curious which device you're observing those numbers on?

[2019-06-19 12:20] Ta2Rim opened #1678 "[Codelab]: Making Predictions from 2D Data - show diffrenet code meaning same codes"
To get help from the community, we encourage using Stack Overflow and the [`tensorflow.js`](https://stackoverflow.com/questions/tagged/tensorflow.js) tag.

#### TensorFlow.js version
-

#### Browser version
-

#### Describe the problem or feature request
Making Predictions from 2D Data  - train the model
There's code to copy
![image](https://user-images.githubusercontent.com/41318449/59764903-be4f

[2019-06-19 12:35] dsmilkov commented on #1652
Hi @msektrier, I noticed that the image you used in the app is high resolution (4032x3024). Do the results in Python match if you feed a smaller res image (400x300 e.g.)? This will help us narrow down the problem

[2019-06-19 12:40] annxingyuan opened #1679 "Investigate packing depthwise conv."
Current packed version of depthwise conv performs very differently depending on the filter size and input depth.

Current version also has accuracy issues: https://github.com/tensorflow/tfjs/issues/1652

[2019-06-19 12:43] dsmilkov commented on #1652
Update: The problem is due to internals of TF.js. In the meantime, the workaround is to add `tf.ENV.set('WEBGL_PACK', false);` in the `run()` method before you load the graph and the results should match Python.

@annxingyuan Can you take a look at this problem? Turns out when `WEBGL_PACK=false`, the results in the browser match Python, but `WEBGL_PACK=true` leads to different results.

[2019-06-19 13:10] #1673 closed

[2019-06-19 13:17] annxingyuan commented on #1652
I've tested the repo and it looks like this is solved by https://github.com/tensorflow/tfjs-core/pull/1796

[2019-06-19 13:17] #1652 closed

[2019-06-19 13:23] dsmilkov commented on #1652
Great! For our users, once we release a new version of TF.js you should remove the temporary workaround and use the latest

[2019-06-19 14:03] ClemHlrdt commented on #689
The problem seems to be linked to the regular edition of Firefox.
I tried on my model on Edge, Chrome and Safari and it works. The error comes from WebGL .

On Chrome, Safari and Firefox Dev Edition:
[code]

On Firefox:
[code]

[2019-06-19 14:40] nsthorat commented on #689
Unfortunately there's not really much we can do, this is a fundamental limitation of Firefox. We do our best to reshape memory so that one dimension doesn't exceed the dimensions but if a single texture can't hold all the memory of the Tensor we're kind of out of luck :/

[2019-06-19 14:45] thomas-coldwell commented on #1473
@kangyizhang  Could this please be updated on the NPM package page as it states for 1.1.2 that CUDA 9.0 should be used not CUDA 10.0 as you correctly stated. Cheers.

https://www.npmjs.com/package/@tensorflow/tfjs-node-gpu

[2019-06-19 16:12] generic-github-user opened #1680 "Feature request - JavaScript implementation of image grid"
It would be useful to have the image grid contrib function, [as seen here](https://www.tensorflow.org/api_docs/python/tf/contrib/gan/eval/image_grid), implemented in TensorFlow.js. The function allows for simple reorganization of a minibatch of images into one grid and would be useful for visualization purposes for users creating GANs, VAEs, and similar visual projects in TensorFlow.js.

[2019-06-19 17:00] kangyizhang commented on #1473
@thomas-coldwell Thank you for the notice. The cuda/cudnn version and installation links has been updated on github readme (https://github.com/tensorflow/tfjs-node). The NPM page will be updated after we release a new version.

[2019-06-19 19:11] #1667 closed

[2019-06-19 20:07] pyu10055 commented on #1642
This looks like weight loading error, can you try to convert the model using tfjs 1.2.1?
It should generate the model.json and weight sharding files.

[2019-06-19 20:14] pyu10055 commented on #1676
@satbecse the tfjs converter requires the saved model you created to have a correct signature def that specifies the input and output nodes.
In your example the signature def is empty, which is causing the problem.

[2019-06-19 22:56] satbecse commented on #1676
Can you please let me know how to create a correct signature def that specifies the input and output nodes ?

[2019-06-20 04:53] sandhyacs commented on #1642
@pyu10055  , Thank you for your reply. Actually previously i was doing the same, i got some version issue so i used tfjs 0.8.0 as my model is trained on tensorflow 1.12.0.

[2019-06-20 10:00] ccx01 commented on #1676
Hi, I got the same error, and if I use the command

it will show

and when I just change the signatures_name

it showed

the model I created from this tutorial  https://www.tensorflow.org/tutorials/images/hub_with_keras

I saved it with this:

[2019-06-20 11:37] oveddan opened #1681 "PoseNet performance improvement suggestion - pad and resize to maintain original aspect ratio instead of to a square"
With the new version of posenet, images are always padded to have equal width and height, and then resized to the inputResolution.  Since posenet does not require a square image, adding these pixels causes extra pixels to be processed that are not needed and result in uneccesary performance overhead.  It would be better if the image was resized to be close to the original aspect, and padding is on

[2019-06-20 19:49] tafsiri commented on #1681
cc @tylerzhu-github

[2019-06-20 21:08] tylerzhu-github commented on #1681
All images are resized to a square crop for simplicity and we can definitely support specifying height size and width size independently.

[2019-06-21 00:05] pankajksingh commented on #1334
I am using tf.keras api to build sequence to sequence encoder-decoder model.
I tried the following:
1. Save and load full model using save() & load_model() functions.
2. Save model & weights separately. For saving model I used to_json() function. For laoding it back, I am using model_from_json().

In either case, I am encountering the error
**ValueError: Unknown layer: BatchNormalizationV1**

When

[2019-06-21 00:08] pejoujarrar opened #1682 "tfjs - speechcommands on Expo-cli app"
To get help from the community, we encourage using Stack Overflow and the [`tensorflow.js`](https://stackoverflow.com/questions/tagged/tensorflow.js) tag.

#### TensorFlow.js version
"@tensorflow/tfjs": "^1.1.2"
#### Browser version
Expo-cli app
#### Describe the problem or feature request
i tried to reproduce the same functionality done in a react.js version by using tfjs/speech-commands model. B

[2019-06-21 01:59] GreyZzzzzzXh commented on #1673
Thanks! I tested it on Intel Iris Pro 6200.

[2019-06-21 05:40] crazybob opened #1683 ""Input tensor count mismatch" when executing converted ssd_mobilenet_v2_oid_v4_2018_12_12 model"
#### TensorFlow.js version

1.2.1

#### Browser version

Version 75.0.3770.100 (Official Build) (64-bit)

#### Describe the problem or feature request

I get an error when I try to execute a converted model: "Unhandled Rejection (Error): Input tensor count mismatch,the graph model has 3132 placeholders, while there are 1 input tensors."

#### Code to reproduce the bug / link to feature request

1.

[2019-06-21 12:02] dsmilkov commented on #1678
@tafsiri Can you fix this in the codelab? Thanks!

[2019-06-21 12:10] dsmilkov commented on #1513
An update: The `TypeError: Cannot read property 'T' of undefined` turns out was because of an older version of TF.js. I'll look into the `quantization_bytes` today.

[2019-06-21 14:54] msektrier commented on #1583
Dear dsmilkov,

I just tried to reproduce it with the given model and I cannot reproduce the error "cannot read property 'op' of undefined".

[2019-06-22 12:12] sdll commented on #254
@tafsiri, could you please tell me whether writing a custom layer implementation still does not work with the converted keras model? What will it take to make it work?

[2019-06-22 12:37] sdll commented on #254
In other words, is the [comment](https://github.com/tensorflow/tfjs-examples/blob/fc8646fa87de990a2fc0bab9d1268731186d9f04/custom-layer/custom_layer.js#L31) still valid for something like EfficientNet converted from the Keras implementation with [custom layers](https://github.com/qubvel/efficientnet/blob/master/efficientnet/layers.py)?

[2019-06-22 20:43] sdll opened #1684 "[GSoC 2019] Growing the model garden 🌳"
This issue tracked the progress for GSoC'19 project [**"Reasonable Effectiveness of Mobile Inference: Adaptive Growth of the TensorFlow.js Model Garden"**](https://summerofcode.withgoogle.com/projects/#5703734951149568).

The final report is [here](https://sdll.io/tfjs-model-garden).

## Active

- [x] **DeepLab**

  * Status: **Merged into the model garden.**
  * Requires compute: no
  * [PR](http

[2019-06-22 20:49] sdll commented on #1684
@nsthorat (as I have promised...), @dsmilkov, @manrajgrover, let me know if you have any opinion on which models you would like to see first. I would love to hear any ideas and high-level views on the details of implementation as well.

[2019-06-23 01:26] bibhuticoder opened #1685 "Error training handwriting recognition model via HTML5 canvas"
#### TensorFlow.js version: 1.1.2

#### Browser version: Google Chrome (75.0.3770.100 )

#### Problem
I am trying to train a handwriting recognition CNN model using 1 training data. According to the model i have prepared training data and label. While running `model.fit` method it gives `Uncaught (in promise) TypeError: Cannot read property 'toString' of null` error.

#### Code to reproduce the bu

[2019-06-23 03:51] caisq opened #1686 "Upgrading tfjs-examples/mnist to 1.2.1 leads to WebGL texture error"
To get help from the community, we encourage using Stack Overflow and the [`tensorflow.js`](https://stackoverflow.com/questions/tagged/tensorflow.js) tag.

#### TensorFlow.js version
1.2.1

#### Browser version
Chrome (Linux) "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/75.0.3770.100 Safari/537.36"

Error message:
webgl_util.ts:214 Uncaught (in promise) Error: Req

[2019-06-23 03:57] caisq opened #1687 "tfjs-models/mnist-transfer-cnn: Error in dropout layer"
#### TensorFlow.js version
1.2.1

#### Browser version
Chrome (Linux) "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/75.0.3770.100 Safari/537.36"

The error occurs when starting transfer learning:

rand.ts:119 Uncaught (in promise) TypeError: Cannot read property 'toString' of null
    at new t (rand.ts:119)
    at randomUniform_ (array_ops.ts:192)
    at randomUnif

[2019-06-23 05:52] Ashnxious commented on #1579
Sorry for the late reply. In any case, I removed windows OS and installed Linux, Ubuntu 18.04. Now it works normally.

[2019-06-23 06:08] #1579 closed

[2019-06-24 13:47] caisq commented on #1685
This is a duplicate of https://github.com/tensorflow/tfjs/issues/1687 (Or that bug is a duplicate of this rather). The root cause is a bug in tf.layers.dropout() under training mode. The bug is present in the latest release. We are working to fix it.

[2019-06-24 13:51] annxingyuan commented on #1686
Shanqing says this happens on his linux laptop, but not desktop.

[2019-06-24 14:45] annxingyuan opened #1688 "Layers breaks when nodes are flattened in model.json."
The following model.json (converted by v1.2.1 of the converter) creates issues during conversion:

[code]

`output_layers`, `input_layers`, and `inbound_nodes`, need to be nested another layer for the conversion to work.

[2019-06-24 14:48] annxingyuan opened #1689 "Layers breaks when variable names in model.json do not correspond to layer names."
Sometimes the model.json contains generated variable names such as `ReadVariableOp_3528`. In such cases layers should fall back on matching weights by order.

[2019-06-24 14:49] tafsiri commented on #1682
@pejoujarrar TensorFlow.js does not currently work on react-native. We are actively working on it now, so I can let you know when we have something released that can be tested by folks in the community.

[2019-06-24 14:54] tafsiri commented on #254
@sdll By converted keras model, do you mean converting a model with a (pytnon) lambda layer? If so there is an issue related to that [here](https://github.com/tensorflow/tfjs/issues/283). I'm not sure how possible it will be to do that but pinging the folks assigned on that issue might be a good way to get an update.

This issue was for saving a model written in JavaScript with a custom layer. Is

[2019-06-24 14:54] #1687 closed

[2019-06-24 14:54] #1685 closed

[2019-06-24 14:57] tafsiri commented on #1678
Thanks for the bug report, @Ta2Rim. This is now fixed

[2019-06-24 14:57] #1678 closed

[2019-06-24 18:04] caisq opened #1690 "Support keras_saved_model --> tfjs_graph_model conversion"

[2019-06-24 18:58] dsmilkov commented on #1403
we migrated to Cloud so closing this

[2019-06-24 18:58] #1403 closed

[2019-06-24 19:59] nkreeger opened #1691 "Drop shelljs package from tfjs-node."
There is a security problem with `shelljs` and that package has not been published in 7 months.

It looks like we do this only for tensorboard tests - we can do these actions with existing Node.js APIs already:
[code]

[2019-06-25 02:34] nkreeger opened #1692 "TensorBoard unit tests on Node.js fail to cleanup tmp directory"
The tmp log dir created in tensorboard tests fail to cleanup using the Node.js APIs:

https://github.com/tensorflow/tfjs-node/blob/master/src/tensorboard_test.ts#L29

This is fallout from cleaning up `shelljs` usage for a security fix.

[2019-06-25 02:44] #1691 closed

[2019-06-25 04:46] satbecse commented on #271
I am getting the same error

(python_new) C:\Users\st3015>tensorflowjs_converter --input_format=tf_frozen_model --output_node_names=AudioSpectrogram,Mfcc,Reshape,Conv2D,Relu,MaxPool,MatMul --skip_op_check=SKIP_OP_CHECK  /tmp/my_frozen_graph.pb  /tmp/web_model
Using TensorFlow backend.
Traceback (most recent call last):
  File "c:\users\st3015\anaconda3\envs\python_new\lib\runpy.py", line 193, in _

[2019-06-25 06:50] yinjun322 commented on #797
我是直接用wx.request 和 wx.downloadFile 模拟 window.fetch 函数，模型可以加载成功，以及预测也可以 ,但是ios 的小游戏上面 predict 会卡一会，安卓没什么问题

[2019-06-25 07:48] piercus commented on #1683
I'm facing similar problem

[2019-06-25 09:38] sdll commented on #254
@tafsiri, sorry for the confusion. In my case, custom layers subclassed from python `keras.layers` did not convert to a working model, which seems obvious in retrospect, since the converter does not translate layer specifications. I was thinking of writing the missing infra in `tf.js`, but the solution turned out to be simpler: porting the Keras implementation to tf.keras and converting to tf.Save

[2019-06-25 09:43] piercus commented on #1683
I have fixed it by going by to version 0.8 of the converter and  https://github.com/tensorflow/tfjs/issues/1382#issuecomment-472970078

[code]

[2019-06-25 11:31] richasDen opened #1693 "ValueError: Unsupported Ops in the model before optimization Variable, Unique, Assign"
Hello,

While I run the below command, I get an error "ValueError: Unsupported Ops in the model before optimization Variable, Unique, Assign".

tensorflowjs_converter --input_format=tf_saved_model --output_format=tfjs_graph_model export/saved_model export/web_model

Even though I use '--skip_op_check' to skip the ops, these ops error come up again when I call the model for prediction in frontend.

[2019-06-25 14:01] davlhd commented on #102
Is there any way to run it completely without a canvas? even if its slower?

[2019-06-25 14:16] annxingyuan commented on #1686
Unfortunately this is a hardware-level constraint so we're not really able to fix it.

[2019-06-25 14:17] caisq commented on #1686
@annxingyuan and I investigated this a little. On the laptop where this problem occurs, the maximum WebGL2 texture is is small (4096), which is the root cause of this problem.

[2019-06-25 14:17] #1686 closed

[2019-06-25 15:43] #1626 closed

[2019-06-25 15:44] #1637 closed

[2019-06-25 16:09] crazybob commented on #1683
Do you still use v1.2.1 of tensorflowjs?

[2019-06-25 16:49] piercus commented on #1683
On my side, version `1.1.2` (from npm) is loading a model converted using version `0.8` (from pip).

[2019-06-25 19:52] crazybob commented on #1683
Nice. I ran into this bug next: https://github.com/tensorflow/tfjs/issues/841

Removing the postprocessing blocks got me passed it.

[2019-06-25 19:53] Suhasnama commented on #1100
Hello @nsthorat  @caisq @tafsiri @bileschi ,
I would like to contribute to this issue if it is still open for contributions.
Thanks!!

[2019-06-25 19:55] bileschi commented on #1100
Please be our guest!

On Tue, Jun 25, 2019 at 3:53 PM Suhas Nama <notifications@github.com> wrote:

--
Stan Bileschi Ph.D.  |   SWE  |  bileschi@google.com |  617-230-8081

[2019-06-25 20:08] Suhasnama commented on #1100
Thank you @bileschi  for the reply,
Could you please help me with moving forward with this issue , As I am new here.
Thanks!!

[2019-06-26 01:04] satbecse commented on #1676
FYI. I am trying to follow the Simple Audio recognition given in
https://www.tensorflow.org/tutorials/sequences/audio_recognition

My intent is to convert the model into web model(Java Script). I tried 2 approaches.

Approach 1 : Converting the frozen model to Web model
=====================================
With freeze.py I created a frozen model  by
(python_new) C:\Users\st3015\Documents\00-SATHI

[2019-06-26 01:14] pejoujarrar commented on #1682
@tafsiri Thank you for the statement, i'm waiting for this new feature. it will be great if i can implement it.

[2019-06-26 02:48] dsmilkov commented on #1583
Thanks, will close the issue.

[2019-06-26 02:48] #1583 closed

[2019-06-26 08:15] Suhasnama commented on #1100
@bileschi  could you please help me figure out which file contains the
`The rank of feed (2) does not match the rank of the key (4).`
error message.
Thank you !!

[2019-06-26 09:45] piercus commented on #1660
I have made more investigation on this, and this error appeared with tensorflow.so version 1.13.1.

## Reproduction steps

[code]

* to change the libtensorflow.so version i changed it manually (see https://github.com/tensorflow/tfjs-node/pull/268) and rerun `yarn enable-gpu`

* to make only the required test run, i hardcoded it into https://github.com/tensorflow/tfjs-node/blob/master/src/run_test

[2019-06-26 14:51] bileschi commented on #1100
Sorry I'm not sure off the top of my head.  Did you get a stack trace?

On Wed, Jun 26, 2019 at 4:15 AM Suhas Nama <notifications@github.com> wrote:

--
Stan Bileschi Ph.D.  |   SWE  |  bileschi@google.com |  617-230-8081

[2019-06-26 15:46] Suhasnama commented on #1100
@bileschi the
Stacktrace:
`errors.ts:48 Uncaught (in promise) Error: Error when checking input: expected dense_Dense1_input to have shape [,4], but got array with shape [2,2].
    at new e (errors.ts:48)
    at Td (training.ts:160)
    at e.standardizeUserData (training.ts:1147)
    at training_tensors.ts:427
    at common.ts:14
    at Object.next (common.ts:14)
    at common.ts:14
    at new Prom

[2019-06-26 16:26] bileschi commented on #1100
Probably that exact message has been replaced or was meant to be
indicative of a type of message, rather than an actual example of a known
message.

Either way, I don't believe that exact message exists in the codebase
anymore.
This message is also not great.  A naive user may be confused by the [, 4]
and how it should match against, say, [1, 4].  A better message would say
something like:
"Input

[2019-06-26 16:35] Suhasnama commented on #1100
That would be great @bileschi ,
Shall i change it

[2019-06-26 17:02] forrestblade commented on #711
Trying to install this on a ChromeOS Crostini container with python2.7 installed and on node 11.15 I get this same error.  Any ideas?

[2019-06-26 17:11] bileschi commented on #1100
Sure, please make a PR and make sure to add a test.  Also, be sure that the
error message is raised at the right API level and reflects the user
expectations at that level.  Discussion raw shape mismatch is ok at low
levels, but at higher API levels (model, layer), users expect error
messages that reflect those abstractions.

On Wed, Jun 26, 2019 at 12:35 PM Suhas Nama <notifications@github.com>
w

[2019-06-26 17:44] forrestblade commented on #1508
This is limitation with the current Crostini container and not tensorflow

[2019-06-26 19:58] nkreeger opened #1696 "Make node-gyp use a relative path to libraries on Windows"
Currently, we have to stage the .dll and .lib inside of deps/lib for Windows-only. If we can figure out how to hack the library linking/loading config in node-gyp - we can remove this config and cleanup deps-constants.js once and for all.

This issue tracks this work.

[2019-06-26 20:33] nkreeger opened #1697 "Update batch norm reference in tfjs-node"
Looks like a new OpDef is ready (and current one is deprecated):

[code]

[2019-06-27 03:00] #1598 closed

[2019-06-27 14:49] ToonTalk opened #1698 "tfvis.show.fitCallbacks provides no support for xAxisDomain and yAxisDomain for Accuracy chart"
The documentation for https://js.tensorflow.org/api_vis/latest/#show.fitCallbacks shows how one can specify the x and y domain of the loss chart but why is there nothing like it for the accuracy chart?

[2019-06-27 18:27] vadimkantorov commented on #1657
Updating to 1.2.2 seems to help somewhat. Some other frequent errors are:
[code]
(to be updated)

[2019-06-27 18:59] vadimkantorov commented on #1657
Yet the following is pleasing:
![image](https://user-images.githubusercontent.com/1041752/60292856-6095a800-991e-11e9-9dfa-3d84f646ad2c.png)

[2019-06-27 19:23] #1604 closed

[2019-06-27 19:24] caisq commented on #1604
The merged PR should have addressed the problem.

[2019-06-27 19:26] nkreeger opened #1700 "Implement greater and greaterEqual in WebGPU backend"
These are needed to get clip* ops to work properly. Should be mildly trivial.

[2019-06-27 22:39] vadimkantorov commented on #1657
Unfortunately, because of random errors above the speech recognition model is not practical even for demonstration purposes.

[2019-06-28 01:25] oveddan opened #1701 "Feature request - ability to save a tf.GraphModel to a local file system."
Currently you can load a `tf.GraphModel` with `tf.loadGraphModel`.  Is there an easy way to save the files for the graph model locally?  For my use case, I want to be able to load the files from the google cloud, save them locally, then serve off of a local file server.  If there is no easy way, it would be nice if there was an api method to do this, something like:

[code]

 It would be fine if t

[2019-06-28 08:44] msektrier commented on #272
I consider this as very important.
However, I want to add some information here.

For running on devices you need the version from the release section https://github.com/github/fetch/releases

Once integrated with
[code]

you can overwrite window.fetch directly when the app initalizes with:

[code]
 and load the model via

[code]

Now I am having the problem that path to the shards in model.json i

[2019-06-28 09:29] ToonTalk opened #1702 "Confusing HTML title for TFJS-VIS"
https://js.tensorflow.org/api_vis/latest/

has the title "TensorFlow.js" which is non-optimal when one has both the TFJS API tab and the TFJS-VIS tab open since they look identical.

[2019-06-28 09:31] ToonTalk opened #1703 "TFJS-VIS version number missing?"
The documentation page https://js.tensorflow.org/api_vis/latest/ today says 1.1.0 but I couldn't find a way to find out what version I had loaded.

[2019-06-28 15:20] tafsiri commented on #1703
Thanks for the report. I'll mark this as a feature for a future release.

Note to self: export a version number from the main namespace.

[2019-06-28 17:32] nkreeger opened #1705 "Make uniform usage more type friendly in WebGPU"
The current uniform usage is a little fragile in subclasses of `WebGPUProgram` - we should consider adding some typing to make that use case much stronger.

[2019-06-28 20:09] pyu10055 commented on #1693
@richasDen Theoretically the Variable op should have been replaced with a constant during the conversion, and Assign op is usually an op comes with the Variable op.
If you can share the model with us, we would like to investigate further. thanks.

[2019-06-28 20:13] pyu10055 commented on #1676
@satbecse unfortuantely those ops are not supported by tensorflow.js yet.
If your intent is to play with an audio model in the browser, you can try out our [audio model](https://github.com/tensorflow/tfjs-models/tree/master/speech-commands), which is pretty much the same as the model you trying to converter, but uses web audio API for those audio data preprocessing.

[2019-06-29 01:33] kavikode commented on #1581
How can we use the pre-trained PoseNet model to apply transfer learning to the addition of custom set of images because I want to include people using wheelchairs and people using walkers and crutches as well?

[2019-06-29 01:47] caisq commented on #894
The latest release of @tensorflow/tfjs-node (1.2.3) depends on libtensorflow 1.14.0, which is built with SSE and AVX support. I hesitate to build the default distribution of libtensorflow with AVX2, AVX512 or FMA, as those are more recent and hence supported by fewer CPUs.

As such, I'll mark this bug as fixed for now.

If anyone has remaining questions, please feel free to comment.

[2019-06-29 01:47] #894 closed

[2019-06-29 09:31] Himanshu372 opened #1706 "Seeking assistance with predict() funtion"
To get help from the community, we encourage using Stack Overflow and the [`tensorflow.js`](https://stackoverflow.com/questions/tagged/tensorflow.js) tag.

#### TensorFlow.js version
1.0.0
#### Browser version
Google Chrome 75.0.3770.100
#### Describe the problem or feature request
I am pretty new to JS and TensorflowJS too. I am using pretrained keras model for analysing product reviews and have

[2019-06-29 13:43] vadimkantorov commented on #1657
Should I file separate issues for the errors above?

[2019-06-30 21:46] mgobishop opened #1707 "Video"
Hi. I'm using tfjs-node. I have a video file server-side. How can I detect objects in the video? For a single image I am using node-canvas but what would the equivalent be for video? I see some people are using ffmpeg to generate individual image files from the video but that seems wasteful. Any help would be appreciated :-)

[2019-07-01 04:32] pinch44 opened #1708 "Use webcam in portrait mode"
To get help from the community, we encourage using Stack Overflow and the [`tensorflow.js`](https://stackoverflow.com/questions/tagged/tensorflow.js) tag.

#### TensorFlow.js version

#### Browser version

#### Describe the problem or fracture request
Hi, i would like detection mouvement in portrait mode with webcam but the only solution I found with posenet is with css :
.rotate{
  transform:rota

[2019-07-01 09:25] kavikode commented on #1684
Mask-RCNN and YOLO will be very helpful to see first @sdll @nsthorat @dsmilkov @manrajgrover because they are very useful and commonly used for computer vision.

[2019-07-01 10:48] ClemHlrdt opened #1709 "Error with unknown words in Word Embeddings (Error: Invalid TF_Status: 3)"
I am building a sentiment analysis classifier. I trained it with Python using Keras and converted it to use it with TensorflowJS. I tried it in the browser with a simple implementation and it works just fine. I am now tried to use if with Node and I run in some issues.

It seems like an error appears when a **word in the sentence provided is not found** in the dictionary of my word embedding.

How

[2019-07-01 13:42] erikcartman commented on #1707
If understand correctly, posenet processes images only, you can check implementation in tfjs-core, it converts data from HTMLVideoElement element into image

[2019-07-01 13:45] ceylanb commented on #419
Same problem...

[2019-07-01 13:46] AlokTakshak opened #1710 "[Codelab]: Making Predictions from 2D Data"
before `train` method we are using `async` but we are `not using await`  anywhere in train method

[2019-07-01 14:47] msektrier commented on #1488
Is there any progress on this issue?
We also have to disable the **WebGL** component for our Cordova application. I was using today's (2019/07/01) version of [TFJS](https://cdn.jsdelivr.net/npm/@tensorflow/tfjs/dist/tf.min.js").

**tf.setBackend('cpu', false);**

Otherwise, the results from WebGL are completely wrong. Running it on the CPU is incredible slow.

[2019-07-01 14:55] nsthorat commented on #1488
Can you send us your model so we can take a look?

On Mon, Jul 1, 2019 at 10:47 AM msektrier <notifications@github.com> wrote:

[2019-07-01 15:10] tafsiri commented on #1710
Could you post a link to the page you are looking at? I am looking at https://codelabs.developers.google.com/codelabs/tfjs-training-regression/index.html#5 and see `await` in `trainModel` (right after `return`).

[2019-07-01 15:12] msektrier commented on #1488
Of course. It is a MobileNet V2 SSDLite Model.
[webgl-problem-model.zip](https://github.com/tensorflow/tfjs/files/3346226/webgl-problem-model.zip)

We execute it with

[code]

If you need more information from our side please let us know.

[2019-07-01 15:17] msektrier commented on #1488
Additionally, here a screenshot of the output tensor "detection_scores" with the same input image.

with CPU only - correct
<img width="1125" alt="results-cpu-only" src="https://user-images.githubusercontent.com/49950048/60447629-1e24e180-9c24-11e9-9269-7d9988d252be.PNG">

with GPU - wrong results
<img width="1142" alt="results-gpu" src="https://user-images.githubusercontent.com/49950048/60447636-

[2019-07-01 15:18] tafsiri commented on #1708
This is probably a better question for stack overflow as it is more related to how you configure the webcam input. I'm not really sure what you mean by portrait mode with regard to a webcam but a possible place to start looking is https://developer.mozilla.org/en-US/docs/Web/API/MediaDevices/getUserMedia.

Posenet does not have a specific portrait or landscape mode.

[2019-07-01 15:25] tafsiri commented on #1706
Could you paste the output of your script here? Both the `console.log(prediction)` output so that we can see the shape and dtype information as well as the actual values after the dataSync.

[2019-07-01 16:10] AlokTakshak commented on #1710
https://codelabs.developers.google.com/codelabs/tfjs-training-classfication/index.html#5

[2019-07-01 16:39] dansitu commented on #1586
I can confirm on my Samsung Galaxy S10+.

[2019-07-01 17:10] witalobenicio commented on #952
@bryan-14four I'm using `faceapi.js` and the only package related to `tensorflow.js` that is installed is `tfjs-image-recognition-base` and it doesn't have this file.
Could be more specific about the location of this file?

[2019-07-01 17:12] witalobenicio commented on #952
@bryan-14four sorry, I was looking in the wrong place.

[2019-07-01 17:20] witalobenicio commented on #952
@bryan-14four I've updated the method directly in the file that you mentioned, but no success.
Do we have to run some command to apply changes or something?

[2019-07-01 17:24] bryan-14four commented on #952
Do we have to run some command to apply changes or something?

Here's what I did for my project. At the time I used face-api.js version ^0.18.0 which uses tfjs-core v0.14.2, so you'll have to set package.json deps to {"face-api.js": "^0.18.0"} (unless newer versions use the same version of tfjs). This solution uses `patch-package` to patch tfjs-core v0.14.2.

1. `npm i patch-package`
2. In package

[2019-07-01 17:35] witalobenicio commented on #952
@bryan-14four I've tried locally here, and it worked. I'll try now with a builded version. But thanks in advance.

[2019-07-01 19:46] tafsiri commented on #1710
In this case we return the promise from model.fit and allow the caller to await the result. The async marker is not needed but is a nice indication that a promise is returned/an async function is called within the body. Thanks for the report though.

[2019-07-01 19:46] #1710 closed

[2019-07-01 19:59] tafsiri commented on #1707
Hi, @mgobishop We don't have a specific recommendation for node video processing libraries. You would have to find a way to get individual images from the video, either at run time or via pre-processing. If you are unable to find a library that handle this in node then ffmpeg does seem like a reasonable approach. Something like https://github.com/fluent-ffmpeg/node-fluent-ffmpeg might let you stre

[2019-07-01 19:59] #1707 closed

[2019-07-01 20:08] dsmilkov commented on #1586
@dansitu, @msektrier and @ehennis

Can you add the following at the beginning of your js program (before loading any tf.js model, or doing any execution): `tf.ENV.set('WEBGL_PACK', false)` and see if the precision problems go away. Thank you!

[2019-07-01 20:39] ehennis commented on #1586
Yes, that worked and solved my issue on the mobile device.

On Mon, Jul 1, 2019 at 3:08 PM Daniel Smilkov <notifications@github.com>
wrote:

[2019-07-01 20:40] ehennis commented on #1586
Yes, this resolved the issue for me on my phone. I have updated my code at [http://bet.eckronsoftware.com/](http://bet.eckronsoftware.com/) as well if anyone else needs to try it out.

[2019-07-01 20:47] dansitu commented on #1586
Thanks Daniel and Evan! This now works as expected on my S10+.

On Mon, Jul 1, 2019 at 1:40 PM Evan Hennis <notifications@github.com> wrote:

--

Daniel Situnayake | Developer Advocate, TensorFlow Lite
<https://www.tensorflow.org/lite/> | dansitu@google.com | tensorflow.org

[2019-07-01 20:53] CharlesCousyn commented on #1599
@Turtlefight
I have currently the same issue (Cuda 10.2.120 and "@tensorflow/tfjs-node-gpu": "^1.2.3")
Where did you see that the node process tried to load cublas64_xxx.dll ?

Once I have that information, I could install the corresponding version of Cuda

[2019-07-01 21:35] satbecse commented on #1676
@pyu10055  I used the audio_model which has given in https://github.com/tensorflow/tfjs-models/tree/master/speech-commands.

I downloaded the speech dataset of google which has 'one','two,'three',......

I have few questions.
1. I trained with my custom wake word 'heyapple'  like you how you did it in https://www.youtube.com/watch?v=-1QGEQWhmSI.  But, in the front end it is not detecting when I sa

[2019-07-01 22:05] Turtlefight commented on #1599
@CharlesCousyn I used [ Process Monitor from Sysinternals](https://docs.microsoft.com/en-us/sysinternals/downloads/procmon)
If you filter for only the node process, you can see the files it is opening (including the dlls it loads / tries to load).

However it seems like Tensorflow only supports CUDA 10.0 (see [Software Requirements](https://www.tensorflow.org/install/gpu#software_requirements).

H

[2019-07-01 22:40] nkreeger opened #1711 "Polyfill or workaround browser `performance` API in non-browser envs for WebGL backend"
When running the WebGL backend outside of the browser, we need to whitelist or polyfill the `performance` API. This causes an issue when running under Node.js (there is no performance).

Might be good to have an interface or a provider for this.

[2019-07-02 01:16] dsmilkov commented on #1586
Thanks all for such quick replies!

I want understand if this problem is fixed with the latest version of tfjs (with https://github.com/tensorflow/tfjs-core/pull/1796), or if we still have it at master.

Can you depend on TF.js 1.2.2, NOT use the workaround I sent you, and see if you still get the numerical issues?

Thanks!

[2019-07-02 01:27] take-kuma opened #1712 "Where is the old PoseNet weights data"
To get help from the community, we encourage using Stack Overflow and the [`tensorflow.js`](https://stackoverflow.com/questions/tagged/tensorflow.js) tag.

#### Describe the problem or feature request

The previous PoseNet weights data has disappeared recently. They used to be in the following place.

- https://storage.googleapis.com/tfjs-models/weights/posenet
- e.g. a manifest file has been plac

[2019-07-02 01:39] derme302 commented on #1712
Same issue, would have been nice to get some warning in advance.

[2019-07-02 03:01] dsmilkov opened #1713 "Migrate tfjs-node backend to use bytes for strings"
With https://github.com/tensorflow/tfjs-core/pull/1816, string tensors are stored encoded as bytes using `Uint8Array[]` in the backend.

We need to migrate the tfjs-node backend to align with this and be compatible with latest tfjs-core.

[2019-07-02 03:09] ehennis commented on #1586
Removing the workaround and changing tfjs from 1.0.0 to 1.2.2 WORKED on mobile.

Here is my script code:
`<script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@1.2.2/dist/tf.min.js"></script>`

[2019-07-02 07:02] Kompalk opened #1714 "Unknown op 'ExtractImagePatches'"
Hi,

While I run the below command, I get an error "ValueError: Unsupported Op in the model before optimization ExtractImagePatches".

tensorflowjs_converter --input_format=tf_frozen_model --output_node_names='output' --saved_model_tags=serve --output_json=true yolov2/yolov2.pb web_model/

Even though I use '--skip_op_check' to skip the ops during conversion, these ops error come up again when I c

[2019-07-02 08:17] msektrier commented on #1586
I manually downloaded 1.2.2. and it **does not work** for the case described here ["Batch predictions are wrong.."](https://github.com/tensorflow/tfjs/issues/1488). There I describe how we include the TFJS library and the Tensorflow models with Cordova.

The model used is available here.
[webgl-problem-model.zip](https://github.com/tensorflow/tfjs/files/3348954/webgl-problem-model.zip)

When I tur

[2019-07-02 09:07] ekabelly commented on #1712
same issue.

[2019-07-02 09:31] msektrier opened #1715 "Could you please elaborate the slowness of the first inference"
### TensorFlow.js version
all. Part of the TFJS converter documentation.

#### Describe the problem or feature request
The [documentation of the TFJS converter](https://github.com/tensorflow/tfjs-converter/blob/master/README.md) states:

This is correct and at the moment I do the warm up with a dummy.

[code]

However, it is blocking and I would like to know how to improve the user experience.
The

[2019-07-02 12:14] avi182 commented on #1712
Same problem here. would love to get a solution.

[2019-07-02 13:31] dsmilkov commented on #1488
@msektrier do you mind filing a separate issue about the Cordova platform?

@annxingyuan is this issue fixed with https://github.com/tensorflow/tfjs-core/pull/1796? If yes, we will close this issue.

[2019-07-02 13:32] annxingyuan commented on #1488
@dsmilkov It appears not because the results are incorrect regardless of `WEBGL_PACK`

[2019-07-02 13:58] annxingyuan commented on #1488
Hi @msektrier - just wanted to confirm that this only happens on Chromebook? FWIW in Chrome on my Macbook Pro I get the same values for 'detection_scores' on both WebGL/CPU.

Also would you mind sharing the image you used to obtain the output in your previous comment? I tried the black cat image from a few comments ago and got different results.

[2019-07-02 14:36] akeiper opened #1716 "502 on posenet/mobilenet_v1_050/manifest.json"
This morning I started to receive a 502 for the following request:

[code]

I am currently including posenet version 1.0.3:

[code]

[2019-07-02 14:48] dsmilkov commented on #1711
We have to replace all instances of `performance.now()` in tfjs-core with `util.now()`, which we added for this purpose and works in both node and browser.

[2019-07-02 15:03] tafsiri commented on #1711
I think we also need to fallback to `Date.now()` if `performance` is not present in `util.now()`. For things that are neither browser nor node.

[2019-07-02 15:09] tafsiri commented on #1716
@akeiper are you still getting this error? It seems to be resolving for me, so may have been a networking blip.

[2019-07-02 15:24] akeiper commented on #1716
@tafsiri seems to be working for me now. thanks for looking into the issue.

[2019-07-02 15:24] #1716 closed

[2019-07-02 15:27] msektrier commented on #1586
After testing the whole day with the [above model](https://github.com/tensorflow/tfjs/issues/1586#issuecomment-507572397) we want to visualize the problem again.
Environment is Apache Cordova. Left it is running on the Sony Xperia XZ1 in Chrome's remote debug mode and left on my notebook in browser mode.

![compare](https://user-images.githubusercontent.com/49950048/60524586-1da44d80-9ced-11e9-85a

[2019-07-02 15:30] tafsiri commented on #1715
@msektrier Is the warmup time for a single model taking several seconds or is this the combined time for multiple models? Do you have any more precise timing info (along with device & browser information)? Also are these models internally constructing particularly large tensors (this will have an effect on the textures that need to be created). If the topology is something you could share we could

[2019-07-02 15:32] dsmilkov commented on #1712
Sorry folks! Weights are now restored! Let me know if you still run into problems.

[2019-07-02 15:32] #1712 closed

[2019-07-02 15:49] #1708 closed

[2019-07-02 15:56] nsthorat commented on #1711
I never did this but we should put now() on Platform and override it, having util.now() call it. But calling util.now() for now should work.

[2019-07-03 00:38] ranjithrengaraj opened #1717 "TFJS - How to create model for custom word(Speech commands model)"
To get help from the community, we encourage using Stack Overflow and the [`tensorflow.js`](https://stackoverflow.com/questions/tagged/tensorflow.js) tag.

#### TensorFlow.js version
Node version : V12.4.0
#### Browser version

#### Describe the problem or feature request
I used the audio_model which has been given in https://github.com/tensorflow/tfjs-models/tree/master/speech-commands.
Followed

[2019-07-03 00:40] wgcv opened #1718 "Loading Model from Keras"
#### TensorFlow.js version
1.1.2

#### Browser version
Chrome 75.0.3770.100 (Official Build) (64-bit)

#### Tensorflow
Tensorflow 2.0 Beta

#### Describe the problem or feature request
I export my trained model (Work great with Tensorflow 2.0 and Keras)
[code]
with
[code]
but when i load with
[code]
I get this error

[code]

#### Code to reproduce the bug / link to feature request

[2019-07-03 01:44] wgcv commented on #1718
I solved the problem removing this lines:
[code]
But i don't think that this is the best solution, this is a error of the export tool or in TF.Js?

[2019-07-03 07:23] take-kuma commented on #1712
@dsmilkov , Thank you for uploading files!
But I failed to download manifest.json using urllib.request.urlretrieve with Python or wget command from https://storage.googleapis.com/tfjs-models/weights/posenet/mobilenet_v1_050/manifest.json

The download itself succeeds, but the contents of the file become strange.
Is there anything I need to do?

[2019-07-03 08:25] sdll commented on #1684
@kavikode, TF.js implementations of YOLO already [exist](https://github.com/ModelDepot/tfjs-yolo-tiny). To convert Mask-RCNN as described [here](https://github.com/tensorflow/tfjs/issues/1094), you might try the following:

- switch the source to tf.keras
- load the pre-trained weights
- export the model to tf.SavedModel
- convert tf.SavedModel using tfjs-converter

However, Mask-RCNN is quite a h

[2019-07-03 09:39] msektrier commented on #1715
@tafsiri Many thanks that you take your time.
At the moment it is about SSDLite Mobilnet V2 networks which we re-train. This is for me a single model.
Usually it is running on my notebook with i7-855U with 16GB RAM. The webservers I am using is either NGINX or Cordova web platform. I am testing only in Chrome.
The models are pretty small. The one I just tested is about 12 Mbytes (with converter qu

[2019-07-03 09:57] andypotato commented on #944
I handle USB camera input via the [opencv4nodejs](https://github.com/justadudewhohacks/opencv4nodejs) package. Install the package and include it:

`const cv = require("opencv4nodejs");`

Initialize the camera with the desired resolution (you may need to change the input channel if your system has more than one camera):

[code]

Now capture a frame, convert the image to RGB format and finally conv

[2019-07-03 09:58] msektrier commented on #1488
Hi @annxingyuan many thanks you take your time. I can share the picture. It contains a form of the German tax authority.
![doc2](https://user-images.githubusercontent.com/49950048/60582460-221e4400-9d89-11e9-9805-6792876f769e.JPG)

I can confirm that what you saw above is happening inside the Cordova application. Leaving out Cordova and hosting it on NGINX the model cannot execute on my phone runn

[2019-07-03 14:19] vadimkantorov commented on #1499
Hitting the same issue in https://github.com/tensorflow/tfjs/issues/1657#issuecomment-506458895

[2019-07-03 14:28] tafsiri commented on #1717
Could you give a bit more detail and describe how you did the retraining? Did you use the transfer learning api or something different. A code snippet would be great for us to get a better sense of what may be going on. Also how many samples/examples do you have for each of the words in your vocabulary?

[2019-07-03 14:30] tafsiri commented on #1718
cc @caisq @pyu10055 could you take a look.

[2019-07-03 15:07] tafsiri commented on #1715
That does sound quite long, and just to confirm, your experience is that after the first inference execution is faster?

Could you post how long it takes to do an inference after the first one is complete?

Secondly, could you turn on debug mode and profile the inference? The code for that will look something like this

[code]

The output of this may be a quite large object, so it would probably b

[2019-07-03 15:09] tafsiri commented on #1499
@vadimkantorov Are you using the knn classifier? if not could you post a new issue if you see a memory leak in the speech recognition model.

[2019-07-03 15:19] vadimkantorov commented on #1499
@tafsiri No it's not a knn classifier, but I suspect it's also a memory issue

[2019-07-03 15:47] annxingyuan opened #1719 "fromPixels produces different results in WebGL / CPU if the image element has to be resized."
WebGL directly uploads the image element to a texture which creates artifacts, while CPU first renders to a canvas.

We should investigate rendering to a canvas in the WebGL backend, or playing with image rendering CSS rules to remove the artifacts.

Related: #1488

[2019-07-03 15:51] annxingyuan commented on #1488
Hi @ryancbarry - sorry it took us a while to get to this. There's a few things going on - first of all we had a bug in our WebGL backend that caused `WEBGL_PACK = true` to produce different results - that's now fixed (https://github.com/tensorflow/tfjs-core/pull/1796).

Second we found that `fromPixels` behaves differently in WebGL / CPU for images that are resized. For what it's worth, when I tri

[2019-07-03 19:15] ranjithrengaraj commented on #1717
We  download the speech data set from https://storage.cloud.google.com/download.tensorflow.org/data/speech_commands_v0.02.tar.gz and added one more folder called wakeup with 500 samples and trained the data  we followed this tutorial to train the data .
https://github.com/tensorflow/tfjs-models/tree/master/speech-commands/training
1. create up down left right wakeup
2. load_dataset all /tmp/data (

[2019-07-04 03:07] jessetrana commented on #1715
As a reference point, I have an unquantized 12MB model derived from MobileNetV2 with some custom layers on the end. My computer is one of the i7-based Lenovo Flex 5's. I do a similar load + fake warmup call and it takes 6-7 seconds executing in the context of a Firefox plugin. A bit faster, yes, but roughly the same order of magnitude.
Inferences after that go down significantly as reported over [

[2019-07-04 03:13] jessetrana commented on #1719
Any idea what kind of overhead the extra render might create?

[2019-07-04 05:47] Himanshu372 commented on #1706
Hey thanks @tafsiri for your timely response and really apologize for my late reply. The predictions turned to be correct probabilities after I used dataSync() function. I am cloisng this issue as it has been resolved. Thanks again

[2019-07-04 05:47] #1706 closed

[2019-07-04 06:04] eli-z opened #1720 "Cannot load PoseNet module in Nodejs"
#### TensorFlow.js version
1.2.2
#### Nodejs version
8.12, 10.16
#### PoseNet version
2.1.1
#### Browser version
No browser
#### Describe the problem or feature request
Posenet module cannot be loaded in nodejs environment, trying to load it thwors an error
`internal/modules/cjs/loader.js:638
    throw err;
    ^

Error: Cannot find module '@tensorflow-models/posenet'
    at Function.Module._resol

[2019-07-04 14:17] myter opened #1721 "Error loading model rnn layer"
#### TensorFlow.js version
"@tensorflow/tfjs-node": "1.2.3"

#### Browser version
node.js V12.2.0
#### Describe the problem or feature request
Trying to load previously saved model causes error:
`Error: Duplicate weight name: rnn_RNN2/kernel`
#### Code to reproduce the bug / link to feature request
Same example code as for issue #1476 :

[code]

[2019-07-04 23:17] moona3k opened #1722 "[Codelab]: Making Predictions from 2D Data"
#### Inconsistency in tutorial content

**Link**: https://codelabs.developers.google.com/codelabs/tfjs-training-regression/index.html#5

There is a seeming discrepancy for **batchSize** value. The copy & paste code section and explanation section display different values.

It's something very minor/trivial and does not break the flow of tutorial.
Below are the screenshots with red highlights.

![S

[2019-07-05 07:12] msektrier commented on #1715
@tafsiri yes the second execution takes milliseconds.

I executed

[code]

Of course due to "async" the execution of the scripts continued directly but it remains blocking.

![image](https://user-images.githubusercontent.com/49950048/60704507-ec9e6580-9f04-11e9-887f-c74abe2835ec.png)

The output of "profile" is attached. Many thanks.
[log.txt](https://github.com/tensorflow/tfjs/files/3361514/log.t

[2019-07-05 15:56] sjamesexamsoft opened #1723 "[Codelab]: Making Predictions from 2D Data"
To get help from the community, we encourage using Stack Overflow and the [`tensorflow.js`](https://stackoverflow.com/questions/tagged/tensorflow.js) tag.

This is related to the description in section 6 train the model, the code in the full code snippet and the code in the "let's break this down" do not match.

[2019-07-06 08:38] ElvisRGomez opened #1724 "[Codelab]: Making Predictions from 2D Data"
To get help from the community, we encourage using Stack Overflow and the [`tensorflow.js`](https://stackoverflow.com/questions/tagged/tensorflow.js) tag.

#### TensorFlow.js version
1.0.0
#### Browser version
firefox quantum Ver 67.04 64bit
#### Describe the problem or feature request
I ussually blame myself when an error happens because I'm not a seasoned coder. However, while trying to learn ML

[2019-07-06 15:50] beriberikix opened #1725 "Feature Request: Speech to Text (STT) via DeepSpeech"
During the jsconfeu talk the team mentioned more audio models are on the roadmap. Are you considering Speech to Text (STT) models? I have a use case that would benefit transcribing long-form audio from a file in the browser using tfjs. [DeepSpeech](https://github.com/mozilla/DeepSpeech) from Mozilla is the most popular open source Speech-To-Text engine, based on research from Baidu and uses Tensor

[2019-07-07 01:19] vkbrad commented on #1382
Any update on this?

[2019-07-07 07:44] vadimkantorov commented on #1725
I managed to run NVidia openseq2seq wav2letter checkpoint in TFJS: https://github.com/vadimkantorov/inferspeech

Unfortunately, lack of native stft makes it super-slow, and the model OOM Chrome quite regularly: https://github.com/tensorflow/tfjs/issues/1657#issuecomment-506458895

[2019-07-07 23:07] sdll opened #1726 "[tfjs-converter] Error reproducing successful EfficientNet conversion after updates"
### Bug Report
#### TensorFlow.js version

1.1.2 & 1.2.2.1

#### Browser version

n/a

#### Describe the problem or feature request

A humongous number of [attempts](https://github.com/tensorflow/tfjs-models/pull/238) (not all reflected in the commits) to tweak the script and convert the EfficientNet checkpoints exported to tf.SavedModel using `tensorflowjs==1.1.2` failed with the following error:

[2019-07-08 08:23] piercus commented on #1720
I'm facing same problem

I think problem is coming from the npm package not containing `dist/index.js`

### 2.1.1

[code]

result is

[code]

This package version does not contain any `dist/index.js` file

### 2.1.0

[code]

result is

[code]

### Workaround

On nodejs, version 2.1.0 should work

[2019-07-08 10:47] dsmilkov commented on #1712
Yes, the contents are gzipped and served with the “content-encoding: gzip”
header. You’ll have to unzip them via Python. Let me know how it goes and
if you run into any complications.

On Wed, Jul 3, 2019 at 3:23 AM take-kuma <notifications@github.com> wrote:

--
Daniel

[2019-07-08 11:28] kavikode commented on #1684
thank you so much @sdll

[2019-07-08 14:11] tafsiri commented on #1715
@msektrier Could you try adding `tf.ENV.set('WEBGL_PACK', false)` near the top of your program (before any operations are called) and report if that makes any difference. It would also be helpful for us to know which version of tfjs you are using in the browser.

cc @annxingyuan Might this be related to the other issue you are working on that @jessetrana mentioned here.

[2019-07-08 14:14] tafsiri commented on #1722
Thanks! Fixed.

[2019-07-08 14:14] #1722 closed

[2019-07-08 14:17] tafsiri commented on #1723
Thanks! I think I've got fixed all the discrepancies, let us know if you see any think else.

[2019-07-08 14:17] #1723 closed

[2019-07-08 14:23] tafsiri commented on #1724
I think you missed a step. The code you put at the end of the file should be added to the bottom of your **run function** (right below the comment).

Feel free to re-open this issue if that doesn't work for you.

[2019-07-08 14:23] #1724 closed

[2019-07-08 14:34] tafsiri commented on #1717
Thanks for the information @ranjithrengaraj a few things stand out to me.

1. `speechCommands.create('BROWSER_FFT','directional4w');` will load the existing pretrained recognizer. I don't see how it connects to the metadata and model you created. Could you add a snippet for how you did the following?

It is surprising that you don't get the original words being recognized. Were you able to get the

[2019-07-08 15:04] tafsiri commented on #1720
cc @dsmilkov might have been an issue at publish time?

[2019-07-08 15:06] tafsiri commented on #1725
cc @nsthorat @nkreeger

[2019-07-08 15:13] tafsiri commented on #1721
Thanks for the bug report, we'll take a look. As a workaround in the meantime you could try using https://js.tensorflow.org/api/latest/#layers.lstm directly.

[2019-07-08 15:59] #1720 closed

[2019-07-08 17:04] theodddore commented on #1697
Hi, could I take a look at this as a first issue or @nkreeger is working on it?

[2019-07-08 18:37] ranjithrengaraj commented on #1717
Thanks tafsiri.

Were you able to get the base model working without modification. - Yes we are able to detect the keyword without modification.

speechCommands.create('BROWSER_FFT','directional4w'); will load the existing pretrained recognizer. I don't see how it connects to the metadata and model you created. Could you add a snippet for how you did the following? - We have loaded custom model us

[2019-07-08 18:56] #1488 closed

[2019-07-08 18:56] #1719 closed

[2019-07-08 19:30] nkreeger commented on #1697
@theodddore go for it! OpDef registry in core TF is here: https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/ops/compat/ops_history.v1.pbtxt

We match up those OpDefs in the tfjs node backend for each op here:
https://github.com/tensorflow/tfjs-node/blob/master/src/nodejs_kernel_backend.ts#L1334

[2019-07-08 19:32] nkreeger commented on #1697
Actually - this might need to be a cleanup in tfjs-core:

[code]

[2019-07-08 21:58] sdll commented on #1726
@pyu10055, it seems that I am missing something very obvious, since the conversion went smooth the first time I tried it more than two weeks ago (first converting to tf.keras, then to Saved Model, and only then to TF.js JSON) during which `tensorflowjs` has switched to `tensorflow==1.14.0`. With `tf 1.14`, I cannot convert the model neither by this roundabout which I has simplified since then, nor

[2019-07-08 22:30] datawaslost opened #1727 "Support for ResourceGather, ReadVariableOp, Multinomial Ops"
#### TensorFlow.js version
1.1.2

Are there any plans for supporting the following operations, which are currently unsupported in tensorflowjs_converter?

ResourceGather, Multinomial, ReadVariableOp

[2019-07-08 23:28] take-kuma commented on #1712
@dsmilkov , Thank you for your advice.
I was able to get the desired data in the way you taught me.

[2019-07-09 02:30] bayartsogt-ya opened #1728 "Support for Mfcc, DecodeWav, AudioSpectrogram"
Hey thank you for the great work guys!

#### TensorFlow.js version: 0.5.6
I want to know if I can convert the pb model which was originally created by the [repo here](https://github.com/tensorflow/tensorflow/tree/master/tensorflow/examples/speech_commands) and shared on [official website](https://www.tensorflow.org/tutorials/sequences/audio_recognition)

After I used conversion from frozen graph,

[2019-07-09 07:23] theodddore commented on #1697
Hi, thanks for the tips. I'll start working on it!

[2019-07-09 12:17] msektrier commented on #1715
@tafsiri we are taking the latest version
`<script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs/dist/tf.min.js"> </script> `

I have to say setting `tf.ENV.set('WEBGL_PACK', false)` has nearly no impact. However, the load is about 3-4 seconds faster compared to `tf.ENV.set('WEBGL_PACK', true)`. Still, my load time is about 10 seconds.

![image](https://user-images.githubusercontent.com/49950

[2019-07-09 12:39] jetjodh commented on #1414
@nsthorat Is tf.node.decodeImage() live now?

[2019-07-09 19:09] FaithfulZhening opened #1729 "Different result of bilinear interpolation when align_corner=false between TF/Pytorch and tfjs"
#### TensorFlow.js version
1.1.2

#### Describe the problem
The tfjs has a different result for  bilinear interpolation when align_corner=false compared with tf/pytorch. It seems that this is a wrong implementation from tensorflow which has been fixed in [February](https://github.com/tensorflow/tensorflow/commit/3ae2c6691b7c6e0986d97b150c9283e5cc52c15f#diff-407d7e10c377317d68cf4657fdd8086b)

####

[2019-07-09 19:57] #1127 closed

[2019-07-09 19:57] #1128 closed

[2019-07-09 19:57] #1130 closed

[2019-07-09 19:57] #1150 closed

[2019-07-09 19:57] #1151 closed

[2019-07-09 19:57] #1152 closed

[2019-07-09 19:57] #1153 closed

[2019-07-09 19:57] #1154 closed

[2019-07-09 19:57] #1155 closed

[2019-07-09 19:57] #1160 closed

[2019-07-09 19:57] #1161 closed

[2019-07-09 19:57] #1162 closed

[2019-07-09 19:57] #1164 closed

[2019-07-09 21:50] VyomVat opened #1730 "[`tensorflow.js`] Uncaught (in promise) TypeError: Cannot read property 'length' of undefined"
#### TensorFlow.js version
1.2.2

#### Browser version
chrome :
Version 75.0.3770.100

#### Describe the problem or feature request
recurrent.ts:2236
Uncaught (in promise) TypeError: Cannot read property 'length' of undefined
    at e.fromConfig (recurrent.ts:2236)
    at _p (generic_utils.ts:277)
    at od (serialization.ts:31)
    at e.fromConfig (recurrent.ts:2237)
    at _p (generic_utils.ts:2

[2019-07-10 13:42] hansamann commented on #1513
I somehow got the model from AutoML vision converted and loaded in a web page.

[code]

But when I load the web page the js throws this error:
[code]
It seems I need to convert the img dom element to the suitable input tensors of my AutoML Vision model that I converted.  BTW I converted using these settings:

[code]

[2019-07-10 14:05] dsmilkov commented on #1513
Hi all,

- I renamed this issue to be about AutoML Vision Edge models since that's the underlying intention.
- We did bunch of work over the last month to improve support. The benefits will be available in the next release of TF.js (which should be in 1-2 weeks).
- Our work is far from done, but when we release a new version I'll post alpha instructions on this issue on how to convert and deploy a

[2019-07-10 16:30] nkreeger opened #1731 "Explicitly set WebGL capabilities by checking valid extensions."
To help with React Native and Headless WebGL - we should re-rework WebGL capability by testing features and extensions.

This can get complicated with the various versions and reporting of GL extensions about f16/f32 extension checking.

For example:
The presence of `EXT_color_buffer_float` or `EXT_color_buffer_half_float` indicate a more recent and most likely WebGL2 rendering-like context.

The

[2019-07-10 16:46] nkreeger opened #1732 "Moving GL initialization into registerBackend() factory method causes a GC exception during unit tests."
When moving all headless WebGL initialization into the factor method of `registerBackend()` the unit tests in core crash with a bad pointer during a GC cycle. I'm guessing that something is messing with ref-counting/weak-ref'ing GL contexts during the tfjs-core:

Stack trace:
[code]

[2019-07-10 16:51] dsmilkov opened #1733 "Converter: Place the selected signature_def in the model.json"
Instead of relying on heuristics for detecting input and output nodes, we should place the selected SignatureDef in the `model.json` when converting a SavedModel to TF.js format.

[2019-07-10 16:51] dsmilkov commented on #1733
cc @nsthorat (since we talked about this couple of times before)

[2019-07-10 17:18] nsthorat commented on #1414
@jetjodh it's not yet implemented, here is the tracking bug: https://github.com/tensorflow/tfjs/issues/1416

[2019-07-10 17:21] rthadur commented on #1730
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow.js) since it is not a bug or feature request. There is also a larger community that reads questions there.

[2019-07-10 17:21] #1730 closed

[2019-07-11 03:49] satbecse commented on #1676
@rthadur  Can you please help me on this ?

[2019-07-11 13:57] #1640 closed

[2019-07-11 18:21] pyu10055 commented on #1676
@satbecse have you checked out this demo https://storage.googleapis.com/tfjs-speech-model-test/2019-01-03a/dist/index.html?
It allow you to train a custom vocabulary, it can saved the trained model too.

[2019-07-12 00:03] pyu10055 opened #1734 "Converter: support AsString op"
This op is required for saved model exported by estimator.
![image](https://user-images.githubusercontent.com/4018/61093102-c3e30800-a3fd-11e9-8972-699471c2257e.png)

[2019-07-12 04:07] CoderFF commented on #1466
This one is also crashes with the same error:
https://storage.googleapis.com/tfjs-examples/tsne-mnist-canvas/dist/index.html

[2019-07-12 06:42] ykume opened #1735 "Conv2D with 1x1 kernel returns incorrect result"
#### TensorFlow.js version
1.1.2

#### Browser version
Firefox 68.0, Chrome 75.0.3770.100

#### Describe the problem or feature request
When the model is converted from Keras, Conv2D with 1x1 kernel returns different result than Keras in a certain condition.

#### Code to reproduce the bug / link to feature request

##### Python

[code]
The result of this code is following:

    out1: min -0.24379

[2019-07-12 15:06] rthadur commented on #1466
Thank you @CoderFF , tsne issues are better asked in this [repo](https://github.com/tensorflow/tfjs-tsne) , can you please open an issue there.

[2019-07-12 16:23] pyu10055 commented on #1726
@sdll Looks like the tensorflow function swish_f32 is missing from the saved model.
Here is some discussion on this topic in tensorflow repo, https://github.com/tensorflow/tensorflow/issues/29574

Is this a keras model, and you saved with tf.keras?
One suggestion from a colleague is to recreate the saved model using TF 1.14, maybe the function is unintentionally removed with other version.

[2019-07-12 16:30] sdll commented on #1726
@pyu10055, the [latest version](https://github.com/sdll/tfjs-models/blob/models/EfficientNet/efficientnet/scripts/convert_efficientnet.py) of the script makes no use of tf.keras. Indeed, I have tried exporting the checkpoint to SavedModel using TF 1.14, but had no success, since the attempt to restore the model in python using load (`from tensorflow.python.saved_model.load import load`) fails with

[2019-07-12 16:32] sdll commented on #1726
@pyu10055, the checkpoints themselves [were generated](https://github.com/tensorflow/tpu/blob/master/models/official/efficientnet/README.md#4-training-efficientnets-on-tpus) using TF 1.13, it seems. I wonder whether this might cause problems.

[2019-07-12 17:40] evancasey opened #1736 "Mysteriously slow performance using pre-trained VGG16 with WebGL backend"
#### TensorFlow.js version
1.1.0, WebGL backend

#### Browser version
Chrome/Observable, on Ubuntu 16.04 with Nvidia GTX 1060

#### Describe the problem or feature request

I am getting some very mysterious performance using a pre-trained VGG16 model (forward pass only with the dense layers removed). The following timing results are showing that VGG16 is almost 2x *slower* than resnet50 for 256x25

[2019-07-12 19:40] evancasey commented on #1736
Note that these pret-trained models are from `tf.keras.applications`. Here is example code to create the saved models:

[code]

[2019-07-12 19:43] annxingyuan opened #1738 "At runtime rewrite prelu expanded subgraph in savedModels to invoke native tfjs prelu op."
Currently TensorFlow SavedModels express prelu as a subgraph of several ops (max, add, mul, minimum), while TensorFlow.js has native support for prelu.

The converter should identify the prelu subgraph at runtime and rewrite the graph to invoke `tf.prelu`.

Relevant: https://github.com/tensorflow/tfjs-core/pull/1445

[2019-07-12 22:06] jerrydeng opened #1739 "Fields kernelInitializer, kernelRegularizer and kernelConstraint are invalid for SeparableConv2D"
To get help from the community, we encourage using Stack Overflow and the [`tensorflow.js`](https://stackoverflow.com/questions/tagged/tensorflow.js) tag.

#### TensorFlow.js version
1.2.3

#### Browser version
Node 10.15

#### Describe the problem or feature request
When loading in a converted layer model, I get the following error message:
`Error: Fields kernelInitializer, kernelRegularizer and

[2019-07-12 23:21] satbecse commented on #1676
@pyu10055  Thank you.
 https://storage.googleapis.com/tfjs-speech-model-test/2019-01-03a/dist/index.html

Here, I am able record and train my word 'Hey Apple' and it detects when I say Hey Atlas. But I am not able to download/save the model. Can you please help me to save/download the model ?

[2019-07-13 00:57] ykume commented on #1735
Simplified version.

##### Python

[code]

Result:
[code]

##### TensorFlow.js

[code]

Result:
[code]

I think it may not be a performance issue but rather a bug.

[2019-07-14 06:28] ykume commented on #1735
I think I've found a workaround.
Using Conv2DTranspose instead of Conv2D (with transposed weights) seems to work correctly.

[2019-07-14 17:14] mattstruble commented on #1583
@msektrier how did you get past your original problem of the js model raising the error `Uncaught (in promise) Error: Operands could not be broadcast together with shapes 1,150,150,32 and 0.`?

[2019-07-15 09:53] msektrier commented on #1715
Any updates on this topic?

[2019-07-15 11:26] buaadf commented on #1209
seem problem

[2019-07-15 13:18] msektrier commented on #841
Can we provide further information to this issue or are there any updates?

[2019-07-15 13:42] annxingyuan commented on #1735
Hi @ykume - I'm looking into this issue. Which device are you using for testing? For what it's worth, I'm not able to reproduce on my 2018 MacBook Pro.

[2019-07-15 14:40] annxingyuan commented on #1736
Hi @evancasey - thanks for pointing this out - I'm also surprised by these results. I did some profiling and it turns out that while there are fewer kernels in VGG compared with ResNet, there are a few extremely costly convolutions in VGG that I think explain the slowdown. For example, the slowest op in VGG is a conv with output size 512x512x64, which is 4x larger than the largest conv output in R

[2019-07-15 21:27] VjunetXuuftofi opened #1740 "Cannot convert saved model with nn.dropout"
#### TensorFlow.js version
1.2.2.1
#### Tensorflow version
2.0.0b1

#### Browser version
N/A

#### Describe the problem or feature request
I am unable to convert a tensorflow saved model that uses nn.dropout.

#### Code to reproduce the bug / link to feature request
In python:
[code]
Then, with the converter:
`tensorflowjs_converter --input_format=tf_saved_model --output_format=tfjs_graph_model sa

[2019-07-15 22:08] beriberikix commented on #1684
What is the process to pitch for moving items from the `scratchpad` to the `active` list? I reported #1725 and love to make a case to whoever will listen :)

[2019-07-15 22:15] rthadur commented on #1740
@pyu10055 can you please help with this ?

[2019-07-15 22:19] ykume commented on #1735
Hi, @annxingyuan. Thank you for your response.
I am testing on Windows 10 1809 with Intel UHD Graphics 620. The driver version is 23.20.16.4973.

And I've tested on other PCs, and found that the code returns correct result on other PCs.

1) Windows 10 1903, NVIDIA GeForce RTX 2070, driver version 25.21.14.1634
2) Windows 10 1809, Intel UHD Graphics 600, driver version 23.20.16.4936

So I think the

[2019-07-15 22:33] sdll commented on #1684
@beriberikix, thank you for your interest! I have not dived into the details, but DeepSpeech seems to be resource-intensive, given the discussion in your [other issue](https://github.com/mozilla/DeepSpeech/issues/2233). Have you had any success converting the model using `tfjs-converter`, how does it fare?

[2019-07-16 06:35] ToonTalk opened #1743 "Some methods are ...Crossentropy and others are ...CrossEntropy"
In https://js.tensorflow.org/api/latest/

There is for example

https://js.tensorflow.org/api/latest/#metrics.binaryCrossentropy
and
https://js.tensorflow.org/api/latest/#losses.sigmoidCrossEntropy

[2019-07-16 12:15] msektrier opened #1744 "Behaviour of SSDLite MobileNet V2 on Android (WebGL)"
I hope it is fine that we create a new issue but we are exercising a lot with TF, TFJS and the TFJS converter and maybe somebody finds the results useful.

In a previous issue it was discovered there are different prediction values on Pixel and Sony Xperia Z1. We illustrated the issue. Left it is running on the Sony Xperia XZ1 in Chrome's remote debug mode and left on my notebook in browser mode.

[2019-07-16 13:22] dsmilkov commented on #1583
@mattstruble Can you send us the model/steps so we can reproduce?

[2019-07-16 13:25] dsmilkov commented on #1586
@msektrier I'm going to close this issue since it is unrelated to the Apache Cordova environment which is a native environment like React Native. Feel free to open a separate issue about the Apache Cordova library.

[2019-07-16 13:25] #1586 closed

[2019-07-16 14:31] jerrydeng commented on #1739
Until this is resolved, I found a temporary work around.
1. Save the model in your python code as tensorflow graph `    print(model.outputs)
    tf.saved_model.simple_save(
        sess,
        export_path,
        inputs={'input_image': model.input},
        outputs={t.name: t for t in model.outputs})
2. Use tensorflowjs==0.8.6 (must be this version for py3 and tf==1.12) to convert the graph mod

[2019-07-16 14:45] tafsiri opened #1746 "Missing docs for tf.io.browserHTTPRequest in tfjs 1.1.2"
#### TensorFlow.js version
1.1.2

#### Describe the problem or feature request

https://js.tensorflow.org/api/latest/#tf.io.browserHTTPRequest is not present in docs for tfjs 1.1.2. But is referenced in other parts of the docs and in the [saving and loading guide](https://www.tensorflow.org/js/guide/save_load#loading_models_with_iohandlers). The code says it has been deprecated in favour of anothe

[2019-07-16 14:46] tafsiri commented on #1746
reported in https://github.com/tensorflow/tfjs-website/pull/316

[2019-07-16 15:02] i-mochalov commented on #1576
Hi @serv-inc
I encountered the same problem and it seems that we use the wrong method.
There are loadGraphModel for TF converted models and loadLayersModel for Keras ones

[2019-07-16 15:44] bileschi commented on #1746
https://github.com/tensorflow/tfjs-layers/pull/564

[2019-07-16 15:47] bileschi commented on #1743
Thanks for the report!
Based on the relationship to python Keras, the "Crossentropy" (one word) should be correct).  @caisq to verify.
https://github.com/tensorflow/tfjs-layers/pull/564

[2019-07-16 15:48] bileschi commented on #1743
Proposed fix:
`sigmoidCrossEntropy` gets renamed to `sigmoidCrossentropy`
and a shim `sigmoidCrossEntropy` symbol is added which points to `sigmoidCrossentropy`
We add a TODO to remove `sigmoidCrossEntropy` at the 2.0.0 breaking change.

[2019-07-16 15:50] caisq commented on #1743
Yes, we've been trying to be consistent: "Crossentropy" should be treated as a single word when doing snake and camel cases in the layers API. This is indeed the case for the string-represented 'sigmoidCrossentropy' in the tf.LayersModel.compile() API.

I think the `tf.losses.sigmoidCrossEntropy` predates the layers API. For consistency, we should deprecate the old one and create `tf.losses.sigmoi

[2019-07-16 15:56] bileschi commented on #1739
It appears that the fields are technically invalid for python Keras as well:

[2019-07-16 17:10] evancasey commented on #1736
Hi @annxingyuan, thanks for getting back to me. Your analysis of the VGG slowness being related to the 512x512x64 conv op makes sense but I don't think it explains the full picture of what is going on here.

I re-ran this again on my ubuntu machine and got the following numbers:

[code]

The  `vgg_256x256` is about 2x as slow as `resnet_256x256` -- this makes sense if we take into account your poi

[2019-07-16 18:18] bileschi commented on #1743
The root of the misalignment comes from the difference between Keras and TensorFlow.  Keras spells crossentropy with one word, while TensorFlow spells cross_entropy with two.

See additional discussion in closed PR tensorflow/tfjs-core#1843

[2019-07-16 18:18] #1743 closed

[2019-07-16 19:07] bileschi commented on #1743
Note that the incongruity exists within TensorFlow itself.

See:

    tf.keras.binary_crossentropy
    tf.nn.sigmoid_cross_entropy_with_logits

[2019-07-16 19:42] jkovacs-dev opened #1748 "setWeights fails with Layer weight shape not compatible error"
#### TensorFlow.js version
1.2.2
#### Node version
v11.13.0
#### Describe the problem or feature request
Attempting to copy weights from one network to another fails with the following error:
(node:16764) UnhandledPromiseRejectionWarning: Error: Layer weight shape 128 not compatible with provided weight shape 3,3,128,256

#### Code to reproduce the bug / link to feature request
Encountered this er

[2019-07-16 23:41] mattstruble commented on #1583
@dsmilkov thanks for the quick reply and offering to look into this!

Here is a [link](https://drive.google.com/open?id=1toe4OCBPS6p0gRjET5Buyhm3IC3jJd_u) to the saved_model, frozen_inference_graph, and web_model.

My model was generated using the `tensorflow/models/research/object_detection/model_main.py` script in TF 1.13.1 using the following command:

[code]

I then exported the inference grap

[2019-07-17 03:02] aohan237 opened #1752 "tfjs-converter keras model to js Unknown layer:BatchNorm"
i use the converter to transform keras model to js.

but it shows errors as follows:

Unknown layer: BatchNorm. This may be due to one of the following reasons:
1. The layer is defined in Python, in which case it needs to be ported to TensorFlow.js or your JavaScript code.
2. The custom layer is defined in JavaScript, but is not registered properly with tf.serialization.registerClass().

what shou

[2019-07-17 05:09] sandhyacs commented on #1642
this input shape problem got solved. if you want to convert .pb into .json you have to enter following command:
tensorflowjs_converter --input_format=tf_saved_model --output_format=tensorflowjs --output_node_names=Postprocessor/ExpandDims_1,Postprocessor/Slice --saved_model_tags=serve  saved_model tfjs_files

[2019-07-17 05:41] jessetrana commented on #1715
Well, on the off chance it is related to the other issue (#1530), I think trying it with a pre-1.x version (if possible/easy) would be worth doing and then reporting the numbers. Then we would know if it is a regression or perhaps just the current state of performance.

[2019-07-17 05:56] kangyizhang commented on #1752
hi @aohan237

what is the output_format you are using? tfjs_graph_model does not support some layer types. You can try to convert the keras model to tfjs_layers_model if you haven't.

[2019-07-17 06:02] aohan237 commented on #1752
just follow the instructions save the entire model
`https://www.tensorflow.org/tutorials/keras/save_and_restore_models#save_the_entire_model`

how to do this?  convert the layer in keras to some stand keras layer, which tfjs have? and then save the model, then convert to js model?

[2019-07-17 07:51] msektrier commented on #1744
After some more investigation we have to state that the wrong prediction values on the Sony Xperia XZ1 may result from a programmatic error.

We load the image from a HTML canvas before we convert it with `tf.browser.fromPixels()`.

[code]

We were inputting `tmpImg` in

[code]

and `batched` was consisting only of zeros but with the right shape. With inputting the canvas it worked. However, we ha

[2019-07-17 08:16] knok commented on #1296
I am trying same task with tensorflowjs 1.2.3, but still have same error.
The follwing is my dumper program:

[code]

Then run converter:

[code]
It returns error with the following trackback:
[code]

I don't know how to avoid the error with variable_names_blacklist.

[2019-07-17 08:27] aohan237 opened #1753 "how to make index in tfjs like python : such as : boxes[:, :, 0]"
how to make index in tfjs like python :  such as : boxes[:, :, 0]

[2019-07-17 09:13] knok commented on #1296
I'm trying to invoke freeze_graph.
Save checkpoint (modify generate_figure.py) and invoke freeze_graph:

[code]
It seems another problem (and maybe my fault).

[2019-07-17 10:15] #1735 closed

[2019-07-17 11:39] ykume commented on #1735
Thank you for the quick fix! I'm looking forward to the next release.

[2019-07-17 14:32] annxingyuan commented on #1736
Hi @evancasey

On my Macbook Pro VGG 512 is about 10x slower than Resnet 512. It looks like the slowest op in VGG is a convolution with the following inputs:

[code]

The slowest op in Resnet 512 is a convolution with the following inputs:

[code]

When I profile these ops in isolation I see that the VGG convolution is about 10x slower than the Resnet one.

Do you know about our benchmarking page?

[2019-07-17 17:18] kangyizhang commented on #1752
@aohan237

What I mean that when using tensorflowjs_converter pip package to convert your keras model to tfjs format model, there are a list of arguments (https://github.com/tensorflow/tfjs-converter#step-1-converting-a-tensorflow-savedmodel-tensorflow-hub-module-keras-hdf5-or-tfkeras-savedmodel-to-a-web-friendly-format).

You can define input_format and output_format. I think your input_format is

[2019-07-17 18:24] kangyizhang commented on #1753
hi @aohan237

are you trying to index in tensor or array?

[2019-07-18 00:01] photown opened #1754 "KeyError: 'class_name' when converting tfjs_layers_model to keras"
#### TensorFlow.js version
tensorflowjs 1.2.3
keras 2.2.4-tf
tensorflow 1.14.0

#### Browser version
Not relevant / only using tensorflowjs_converter

#### Describe the problem or feature request
I downloaded the ResNet50 model for posenet from the PoseNet detection demo [here](https://storage.googleapis.com/tfjs-models/demos/posenet/camera.html). It includes the model JSON and 23 shards. I wanted

[2019-07-18 02:31] aohan237 commented on #1752
@kangyizhang

ouput format is not the problem.

python model has some custom layers.  which tfjs cant know. so load model will be failed.

i must impl these layers in js and register them, so that tfjs can load the model.

[2019-07-18 02:32] aohan237 commented on #1753
@kangyizhang  yes, it seems that there is no way to do this

[2019-07-18 02:34] aohan237 commented on #1753
and such method as tf.meshgrid does not exist in tfjs, which makes hard to impl some custom layer in tfjs from python model

[2019-07-18 10:21] sdll opened #1755 "[tfjs-converter] @tensorflow/tfjs 1.2.3 fails to load weights from the official GCP bucket due to CORS issues"
#### TensorFlow.js version
1.2.3 & 1.2.2

#### Browser version
Chrome Version 77.0.3854.3 (Official Build) dev (64-bit)
FireFox 69.0b4 (64-bit)

#### Bug report

[Here](https://github.com/sdll/tfjs-converter-cors-issues) is a minimalistic repo showing the bug.

Loading one of the PoseNet weights in the `erroring` demo fails with:

[code]

Both Chrome and FireFox allow the JSON file, but deny the l

[2019-07-18 11:31] erikcartman commented on #1755
I try to use posenet. In my case it works for localhost but fails for test deployment on azure.
I cant download from https://storage.googleapis.com/tfjs-models/savedmodel/posenet/resnet50/quant2

[2019-07-18 11:39] sdll commented on #1755
@erikcartman, could you please post the local copy of your working `yarn.lock` in a gist?

[2019-07-18 11:51] sdll commented on #1755
@erikcartman, thank you! You are using `@tensorflow/tfjs` v. 1.2.2 locally. You might hack around this bug by [pinning](https://stackoverflow.com/questions/22343224/whats-the-difference-between-tilde-and-caret-in-package-json) it to match 1.2.2 exactly in `package.json` (pinning `@tensorflow/tfjs-core` and `@tensorflow/tfjs-converter` as well).

[2019-07-18 11:54] erikcartman commented on #1755
@sdll actually, yes, thanks

[2019-07-18 13:09] annxingyuan commented on #1657
Hey @vadimkantorov - just wanted to check whether you're still experiencing the issues you listed above? I checked out your repo and it looks like the demo works on my Macbook Pro but not on my Windows laptop - although I'm not seeing the errors you listed.

Thanks for any info!

[2019-07-18 13:14] vadimkantorov commented on #1657
Yes, I still experience them on my Windows laptop. The errors are not reproducible every time, sometimes it works without errors (especially if you step through the code in Console). But 80% of times I hit one or or combination of these errors. Probably OOM? But how do I confirm this? Would you have any advice on how to rewrite my demo to avoid OOM?

[2019-07-18 13:33] annxingyuan commented on #1657
You hit one of these errors after clicking "Transcribe" just once?

`tf.memory()` will give you a snapshot of your memory usage.

Could you tell us a bit more about your platform? Could you also visit js.tensorflow.org/debug and share the output of `tf.ENV.features`?

I also noticed you're using v1.2.2 - could you try updating to 1.2.3 and seeing whether that fixes some of the errors?

[2019-07-18 13:36] vadimkantorov commented on #1657
Yes, even after clicking just once. My platform is 5 year-old Acer S7-392 laptop with an updated Windows 10 + updated Chrome.

Thanks for suggestions. I'll try them out and will paste the results.

[2019-07-18 13:39] beriberikix commented on #1684
I haven't had any success with the converter tool. I've asked for some clarification on how the saved model is generated. I'll updated if and when I get the converter working.

[2019-07-18 16:32] rthadur commented on #1746
Thank you all , since the PR is merged i will be closing this issue, feel free to reopen.

[2019-07-18 16:32] #1746 closed

[2019-07-18 16:45] kangyizhang opened #1756 "Try only update `binary.package_name` on user's side"
Now with pre-compiled addon for tfjs-node, the field `binary.package_name` in package.json is edited when switching platforms, which add unrelated change codes in PRs.

This field is only used when downloading pre-compiled addon and should not be included in every PR.

[2019-07-18 17:19] kangyizhang commented on #1755
hi @sdll @erikcartman

This is a bug in tfjs@1.2.3 and we will fix it soon.

[2019-07-18 17:37] nsthorat commented on #1755
Loading from the official buckets should work now. I'm reverting a change that will fix this for any custom server.

[2019-07-18 18:34] jonnytest1 opened #1757 "getting failed to fetch on example"
To get help from the community, we encourage using Stack Overflow and the [`tensorflow.js`](https://stackoverflow.com/questions/tagged/tensorflow.js) tag.

#### TensorFlow.js version
most recent
#### Browser version

#### Describe the problem or feature request

this example
https://github.com/tensorflow/tfjs-models/tree/master/knn-classifier#via-script-tag
 caused 'Failed to fetch' on mobilenet.l

[2019-07-18 18:44] #1755 closed

[2019-07-18 19:03] nsthorat commented on #1757
This should be fixed, can you try hard reloading?

[2019-07-18 19:36] jonnytest1 commented on #1757
still seems to be a problem (I did ctrl f5 and cleared site data still got the error  )

I also noticed in testing that it also
displays this in the console (-.- why would i ever switch off error messages im an idiot )

Access to fetch at 'https://tfhub.dev/google/imagenet/mobilenet_v1_100_224/classification/1/group1-shard4of5?tfjs-format=file' from origin 'null' has been blocked by CORS policy: R

[2019-07-18 19:36] nsthorat commented on #1757
Ah right, apologies. 1.2.5 is about to be released which will fix this.

[2019-07-18 19:37] jonnytest1 commented on #1757
oh thx Ill wait for 1.2.5 then

[2019-07-18 19:37] #1757 closed

[2019-07-18 20:19] kangyizhang commented on #1752
thanks @aohan237  for the update. So it seems like https://github.com/tensorflow/tfjs/issues/1753#issuecomment-512640437 is the root cause. I'll close this issue and use the other one for tracking.

[2019-07-18 20:20] #1752 closed

[2019-07-18 20:39] pyu10055 commented on #1754
@photown Unfortunately this model is not tf_layers_model, it is tf_graph_model, it cannot be converted to keras model.

[2019-07-18 20:42] pyu10055 commented on #1726
can this model be loaded with TF 1.13?

[2019-07-18 20:52] photown commented on #1754
Thanks for the info. Is there anything I can do convert a tf_graph_model to tflite or something readable for tensorflow lite for Android?

[2019-07-18 21:24] rthadur commented on #1748
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow.js) since it is not a bug or feature request. There is also a larger community that reads questions there.

[2019-07-18 21:24] #1748 closed

[2019-07-18 22:01] rthadur commented on #1744
@msektrier thank you , did you check what values you are getting for `tmpImg.width , height` before  inputing ?

[2019-07-18 22:10] rthadur commented on #1642
Thank you , will be closing this issue.

[2019-07-18 22:10] #1642 closed

[2019-07-19 02:03] mattstruble commented on #1583
@dsmilkov not to be a bother, but I was wondering if you had any status on this issue?

Many thanks.

[2019-07-19 02:36] aohan237 commented on #1753
@kangyizhang  @rthadur  is there any solution about this? thanks in advance

[2019-07-19 02:38] aohan237 commented on #1752
@kangyizhang  some updates.   tfjs has a few functions lost compared to tfpy, which makes it very difficulty to do this

[2019-07-19 05:21] sdll commented on #1726
Yes, I used the linked script to load the checkpoints and export a SavedModel which then at one point I converted to TF.js GraphModel without any issues. But then an attempt to use the converter failed due to the import error I mentioned above. I also tried different versions of tensorflowjs, but could not reproduce the successful conversion.

[2019-07-19 05:24] marsiancba opened #1759 "CTC loss"
Please add support for CTC loss.

My use-case is recognizing handwritten numbers (1-5 digits).

[2019-07-19 08:28] msektrier commented on #1744
@rthadur if the `canvas` was (width 500/ height 500) then the `tmpImg` was also (500/500) and the shape of the created tensor was also 500/500 but filled with zeros only.

[2019-07-19 10:29] erikcartman opened #1760 "Is there docker image for tfjs-node-gpu?"
#### TensorFlow.js version
    "@tensorflow-models/posenet": "^2.1.2"
    "@tensorflow/tfjs-node-gpu": "^1.2.4"

#### Describe the problem or feature request
I am trying to run posenet in docker that uses nvidia cuda:10.
Please suggest docker image if possible.

[2019-07-19 11:50] marsiancba opened #1761 "resizeBilinear problem"
There seems to be some problem with `resizeBilinear` in Chrome when `WEBGL_PACK=true`.

Running this operation many times (cca 20000) seems to cause browser GPU crash - browser window flashes in black color and after that all tensor operations return 0.

It works OK if you call `tf.ENV.set('WEBGL_PACK', false);`
Also it works OK in latest Firefox.

#### TensorFlow.js version
1.2.2

#### Browser ve

[2019-07-19 12:27] erikcartman commented on #1760
nvcr.io/nvidia/cuda:10.0-runtime-ubuntu18.04 inside nvidia virtual machine did the job

[2019-07-19 12:27] #1760 closed

[2019-07-19 12:49] reemawits opened #1790 "Cors Policy issue - tensorflowjs teacheable machine learning algorithm"
Hello,
We are trying to execute tensor flow Javascript machine learning algorithm wherein we are getting CORS Policy issue.
Below URL referred -
https://codelabs.developers.google.com/codelabs/tensorflowjs-teachablemachine-codelab/index.html#0

Please note : Few days back it was running successfully but from last two days it is throwing CORS issue.

Refer attachment
![TensorFlowGlitchError](https:

[2019-07-19 14:37] erikcartman opened #1763 "tfjs-node-gpu performance troubleshooting"
#### TensorFlow.js version
  "@tensorflow-models/posenet": "^2.1.2"
   "@tensorflow/tfjs-node-gpu": "^1.2.4"
#### OS
 Windows 10 vs Linux Ubuntu 18

#### Describe the problem or feature request

I use posenet in nodejs.
In cloud nvidia cloud vm image + nvidia docker with cuda:10 - Tesla K80 and Tesla M60 give me ~75 ms per pose estimation operation even if they have different compute capability ac

[2019-07-19 16:53] rthadur commented on #1754
@photown please follow this [link](https://www.tensorflow.org/lite/convert/python_api)

[2019-07-19 19:15] DuncanMays commented on #83
I work for a company that does distributed computing, and a lot of what we do involves sending tensorflowJS models across the internet. To that end we've developed a library to serialize tfjs models into strings, optimizer and all: https://github.com/DuncanMays/tfjs-serialize.

[2019-07-19 21:51] erikcartman commented on #1763
the problem is not in windows, windows performs faster on cheaper gpu, i have problem with cloud deployment on linux with latest nvidia cloud vm image which runs docker container based on nvidia cuda:10 image and on 2 different gps performs slower then windows 10 + 960 gtx

[2019-07-19 22:03] #1416 closed

[2019-07-19 22:29] kangyizhang commented on #1744
hi @msektrier , I can successfully load pixel value from HTMLImageElement/HTMLCanvasElement/ImageData. Can you make sure that the dom element is loaded and the canvas is not tainted by cross-origin data?

[2019-07-19 22:41] kangyizhang commented on #1761
hi @marsiancba

Did you dispose the tensor or wrapped the code with `tf.tidy()`? It may because of memory leaking.

[2019-07-19 22:42] kangyizhang commented on #1752
@aohan237 can you file another issue and list the missing ops?

[2019-07-19 23:21] pyu10055 commented on #1740
@VjunetXuuftofi dropout ops are usually not used in the inference graph, can you explain your use case here? thanks.

[2019-07-20 02:43] jessetrana commented on #1684
I've worked some with DeepSpeech in the past. As I recall, it has both significant compute work for generating the input audio features (a la MFCC) as well as decoding via the language model. I'm not sure how much of that functionality also has corresponding JS libraries, so it's possible that porting it may be an involved effort. By any chance, have you looked into the supporting work apart from

[2019-07-20 07:07] aohan237 commented on #1752
of course.i will list the missing ops in that issue

[2019-07-20 10:34] dtruffaut commented on #810
I confirm that "skipLibCheck": true in tsconfig.json works fine !

[2019-07-21 06:18] theodddore commented on #1697
Hi @nkreeger,

it seems that batchNormalization from backend is used by batchNorm (using the FusedBatchNorm opDef), so it's my understanding that we should just perform the cleanup you mentioned above in tfjs-core. If what I say is correct, should I remove batchNormalization also from src/tensor.ts, or is it needed as legacy code?

[2019-07-21 09:25] polars05 opened #1764 "Unable to load coco-ssd model in tfjs"
To get help from the community, we encourage using Stack Overflow and the [`tensorflow.js`](https://stackoverflow.com/questions/tagged/tensorflow.js) tag.

#### TensorFlow.js version
Imported via script tag:
[code]
#### Browser version
Firefox

#### Describe the problem or feature request
When loading model, the following error is thrown: **TypeError: a.loadGraphModel is not a function**. Why is t

[2019-07-21 09:28] #1764 closed

[2019-07-21 09:29] polars05 commented on #1764
Figured the issue out

[2019-07-21 17:12] marsiancba commented on #1761
Yes, it is in tidy() and there is no observable memory leaking (based on tf.memory() results).

[2019-07-21 20:17] opiepj commented on #991
@nsthorat Have a use case that doesn't require a wrapper. Let me know if this is possible.

Question:
Is it possible to convert a .tflite file to a .pb file then use [tfjs-converter](https://github.com/tensorflow/tfjs-converter) to convert to a js model?

Context:
I'm using Firebase's AutoML library -- it's pretty sweet, it creates generic .tflite files (TensorFlow lite models) for me I can plug i

[2019-07-22 01:50] WenheLI commented on #1753
@aohan237 - For the `index in tensor or array` thing,I think you can use [TensorBuffer](https://js.tensorflow.org/api/0.11.2/#buffer) to achieve.

Also, one possible workaround regarding with pythonic index would be using babel to overwrite the [] operator. But I did not see any babel plugin serves for that aim.

Hope that gives you some clue.

[2019-07-22 03:10] rthadur commented on #1763
@annxingyuan can you please help with this ?

[2019-07-22 03:24] mike-hor commented on #1683
so do I,exception: "Input tensor count mismatch,the graph model has 59 placeholders, while there are 1 input tensors"
Is there any mistake in my following operation？
step1:
use ssd_mobilenet_v1_coco_2018_01_28 to training my data,this is my config
![image](https://user-images.githubusercontent.com/17822235/61603840-cf41f900-ac71-11e9-817a-d57f709a0e91.png)
![image](https://user-images.githubuserco

[2019-07-22 08:22] mattalec commented on #1104
HI, I am following a course on udemy that involves running the 'npm install' into my directory of choice. Unfortunately I have tried swapping to python 2 (from 3 as it seemed to cause an error), running the windows building code and most other 'fixes' I could find online. Unfortunately nothing has let me download the libraries without a 'not ok' error at the end. I am new to coding (and github) an

[2019-07-22 10:16] erikcartman commented on #1763
[code]

Does this message means that gpu is used for processing?
Is there any other way to determine on nodejs what is used for processing gpu or cpu?
Because nvidia-smi shows that gpu is not loaded.

[2019-07-22 14:20] #1763 closed

[2019-07-22 14:28] erikcartman opened #1765 "Decrease compute capability limit."
#### Tensorflow
    "@tensorflow-models/posenet": "^2.1.2"
    "@tensorflow/tfjs-node-gpu": "^1.2.4"

#### OS
Linux (Ubuntu)

#### Describe the problem or feature request
I use posenet from nodejs backend.
In windows 10 960 GTX gpu with 5.2 compute capability not ignored even if its compute capability below 6.0 limit and estimates poses at decent speed. But on linux Tesla M60 with same compute cap

[2019-07-22 15:02] jerrydeng commented on #1739
The underlying implementation of Xception is directly from tf.keras.applications with no change to any ContNet.  If the use of the attributes are invalid, then the Xception implementation in tf.keras should be fixed as well.

[2019-07-22 15:04] bileschi commented on #1739
+1

On Mon, Jul 22, 2019 at 11:02 AM Jerry Deng <notifications@github.com>
wrote:

--
Stan Bileschi Ph.D.  |   SWE  |  bileschi@google.com |  617-230-8081

[2019-07-22 15:46] nsthorat commented on #991
Hi @opiepj, we're actively working on getting TensorFlow.js models directly supported in AutoML, stay tuned!

[2019-07-22 16:18] kangyizhang commented on #1104
@mattalec

Can you try the latest version of tfjs-node@1.2.4? The new version does not require local compiling on your machine and should not have the error you described.

[2019-07-22 16:34] annxingyuan commented on #1761
Hi @marsiancba - I suspect this is due to the `expandDims` followed by `squeeze` - when `WEBGL_PACK` is true, we arrange data within textures following certain constraints such that reshapes require an additional shader to be executed. In the code snippet above, two such reshapes occur.

We need to figure out a way to minimize the cost of these reshapes. In the meantime, you might see a performanc

[2019-07-22 18:15] rthadur commented on #1241
This is resolved here #[287](https://github.com/tensorflow/tfjs-website/pull/287)

[2019-07-22 18:15] #1241 closed

[2019-07-22 18:26] caisq commented on #1753
@aohan237 There is no support for Python-style slicing in TensorFlow.js's Tensor of TensorBuffer at this moment.

However, something like `boxes[:, :, 0]` can be achieved using `tf.gather()`, e.g., `tf.gather(boxes, 0, 2)`, or equivalently `boxes.gather(0, 2)`. In both cases, the argument (`0`) is the index along the last dimension, and the argument (`2`) refers to the 3rd dimension.

[2019-07-22 21:10] VjunetXuuftofi commented on #1740
@pyu10055 The dropout is used for bayesian approximation as described here: https://arxiv.org/abs/1506.02142

[2019-07-22 23:30] pyu10055 commented on #1740
@VjunetXuuftofi The issue is fixed upstream in TF grappler, but unfortunately you will need to wait for the next TF 1.14 updated before you can get this fix.

[2019-07-22 23:33] kangyizhang commented on #1765
hi @erikcartman

This is a configuration in [core Tensorflow GPU](https://github.com/tensorflow/tensorflow/blob/a5780f657ff44c00d0182a4ac0ed321202d0a187/tensorflow/core/common_runtime/gpu/gpu_device.cc#L1697) and we can not configure it.

[2019-07-22 23:33] #1765 closed

[2019-07-23 00:16] Lewuathe opened #1768 "Add dynamic_partition"
As TensorFlow core has `dynamic_partition`, TensorFlow.js can have the ops.
This op is necessary to implement a clustering algorithm such as K-means. Without this op, we are enforced to download the index data every iteration to update the centroids.

See: https://www.tensorflow.org/api_docs/python/tf/dynamic_partition

[2019-07-23 00:22] julkar9 commented on #572
is there any way to download new Restnet50 weights file.

[2019-07-23 02:59] aohan237 commented on #1753
@caisq  thanks. i will try.

and there is someting missing in tfjs . meshgrid, for example in tfpy, but not found in tfjs

[2019-07-23 03:49] aohan237 commented on #1753
@caisq  and what if i want a boxes[:, :, 2:4], gather cant do this..

how can i get this?

[2019-07-23 06:44] ahsan87 opened #1769 "For toxicity (and others too) model, is it possible to train the model with additional word set ?"
Is it possible to train the models with additional word set ?

https://github.com/tensorflow/tfjs-models/tree/master/toxicity

Thanks.

[2019-07-23 13:16] caisq commented on #1753
@aohan237 Questions like this might be more suitable for StackOverflow, under the tag "tensorflow.js":
https://stackoverflow.com/questions/tagged/tensorflow.js

For `boxes[:, :, 2:4]`, you can use `tf.slice()`, although it's slightly tedious.

[code]

Also, feel free to file a feature request issues for meshgrid.

[2019-07-23 13:16] #1753 closed

[2019-07-23 14:05] rthadur commented on #1769
@ahsan87 yes you can use own data set.

[2019-07-23 14:22] kidapu commented on #1280
@caisq @pyu10055 @sam598

Is there anyone who knows the answer to this question?

[2019-07-23 14:35] oveddan commented on #1599
I'm running into the same issue on a windows machine.

Running:

    nvcc --version

Produces:

I can install tfjs-node-gpu successfully with `npm install @tensorflow/tfjs-node-gpu

I've also made sure ahead of time that python 2.7 is installed.  Running `python -v` produces:
C:\Python27\lib\encodings\cp1252.pyc matches C:\Python27\lib\encodings\cp1252.py
import encodings.cp1252 # precompiled from

[2019-07-23 14:42] caisq opened #1770 "[integration_tests] Browser benchmarks fails due to node-pre-gyp and aws-sdk"
Step to reproduce:
1. Checkout the tfjs (union) repo at head
2. cd integration_tests
3. yarn benchmark --layers

Notice the error message:

23 07 2019 10:54:53.444:ERROR [karma-server]: Error: Unable to resolve module [aws-sdk] from [.../tfjs/tfjs/integration_tests/node_modules/node-pre-gyp/lib/unpublish.js]

[2019-07-23 16:04] vadimkantorov commented on #1657
some memory measurements
[code]

unfortunately on the other run I hit again the shader problem:
[code]

[2019-07-23 16:07] vadimkantorov commented on #1657
on a lucky run:
[code]

[2019-07-23 16:16] vadimkantorov commented on #1657
It seems that it's signal/stft that leaks memory and makes 10K tensors. After I put it inside tidy:
[code]

Though the total number of bytes is more or less same: 450 megabytes.

[2019-07-23 16:28] vadimkantorov commented on #1657
This same shader at times fails to compile during the stft procedure during model predict

[2019-07-23 16:30] vadimkantorov commented on #1657
Also sometimes this happens:
[code]

And sometimes the model returns some gibberish (and transcript of ' ') instead of the good prediction

[2019-07-23 16:31] vadimkantorov commented on #1657
Also during these WebGL gpu issues, the Chrome page stops redrawing, existing HTML elements disappear etc. And if the shader issue happens, the screen just turns black.

[2019-07-23 16:32] oveddan commented on #1599
In my case it turns out cudnn was not installed!  smh!  I followed the instructions here:
https://docs.nvidia.com/deeplearning/sdk/cudnn-install/index.html#installwindows

And now it works for me :)

[2019-07-23 16:33] vadimkantorov commented on #1657
Also sometimes everything just hangs inside fft - probably because WebGL failed to initialize, so it waits within `tf.read()` forever

[2019-07-23 17:05] rthadur commented on #1599
@oveddan thank you , @billTeston could you check above steps let us know if it is working ?

[2019-07-23 17:17] pyu10055 commented on #1280
@caisq @kidapu It is not possible right now to reverse the conversion of tfjs graph model to TF saved model.

[2019-07-23 17:33] oveddan commented on #764
@nkreeger is this api method avail?  Would be great to use it!  Also @DavidGOrtega there is an issue with your code - it should always be height first in the dimensions of tensors (not width first as in your code).

[2019-07-23 17:40] ahsan87 commented on #1769
I am not sure how to do it, any pointers ? @rthadur

[2019-07-23 17:41] kangyizhang commented on #764
@oveddan the api is available in head and you can try it out by [publish tfjs-node locally](https://github.com/tensorflow/tfjs-node/blob/master/DEVELOPMENT.md#publish-locally-through-yalc-to-test-this-package-in-another-repo) and install it through yalc. We'll publish a new version soon which would include the api.

[2019-07-23 18:39] rthadur commented on #1248
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-07-23 18:39] #1248 closed

[2019-07-23 18:50] oveddan commented on #764
Thanks @kangyizhang I scouted out the code and this is super cool, esp how its tied to the c-library!
Unfortunately I've already been through a world of pain to get tfjs-node-gpu working on my windows pc, and now when I try to do the aformentioned steps:
(in tfjs-node dir):
[code]

in my project directory:
`yalc link @tensorflow/tfjs-node`

Everything works but then when I run the program:
Error:

[2019-07-23 18:58] annxingyuan commented on #1769
Hi @ahsan87 - you won't be able to retrain the toxicity model in JS - however here is the Python code that was used to train the model: https://github.com/conversationai/conversationai-models/tree/master/experiments

For more information on how to extend the toxicity model, you might refer to this blogpost: https://medium.com/tensorflow/text-classification-using-tensorflow-js-an-example-of-detecti

[2019-07-23 19:34] QuantumInformation commented on #1248
If you use devTool : inline in webpacks its worked with every other project I've used.

But thanks for that I'll try it out when I get back to it.

[2019-07-23 20:38] #1769 closed

[2019-07-24 02:34] aohan237 commented on #1753
@caisq  Thanks, use tf.slice can make this, although it is not that user-friendly.

and a small suggestion:
if something needs one to find out how to impl an function from your api docment, may be add something example to the doc for people to find out.
such as : add the following to the beginner guides(from python)

`tf.slice(boxes, [0, 0, 2], [boxes.shape[0], boxes.shape[1], 4]);`

all new peopl

[2019-07-24 03:46] kangyizhang commented on #764
@oveddan FYI tfjs-node@1.2.5 has been released.

[2019-07-24 10:30] kidapu commented on #1280
@pyu10055 Thank you for your response.
Is the body-pix training dataset published in public?
I would like to use body-pix by python..

[2019-07-24 12:44] cpury commented on #927
Hijacking this since it's the only related issue and top google result:

The docs repeat several times that you should only use the async variants of `data` and `array`. However, `tf.tidy` does not seem to handle anything async. So if you want to use the async variants, you need to handle clean up by itself.

It would be amazing if there'd be a `tidyAsync` variant or similar that cleans up after t

[2019-07-24 18:55] nsteins commented on #1717
I'm also interested in figuring out how to train a model that can later be loaded in the browser. I was able to train and save model following the README in the training/soft-fft directory, though it appears that functionality is not yet supported by speechCommands. I looked into training/browser-fft but there appears to be a missing step:

Anywhere you can point me to figure the best way to run t

[2019-07-24 19:17] larsgk commented on #1422
Another option could be to make e.g. the accelerator work directly with a web application (e.g. using WebUSB)

[2019-07-24 21:13] rthadur commented on #1717
@pyu10055 gentle ping !  Did you get chance to look at this ?

[2019-07-24 22:00] AlberErre commented on #410
Same behaviour here, updating from `^0.1.21` to `^1.0.2` has solved the issue for me ^^

[2019-07-24 22:06] rthadur commented on #1770
closing this as the related PR has been merged. Thank you

[2019-07-24 22:06] #1770 closed

[2019-07-24 22:17] rthadur commented on #106
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-07-24 22:17] #106 closed

[2019-07-24 22:26] rthadur commented on #365
@tafsiri is this done ? if yes, can we close this issue ? thank you

[2019-07-24 22:56] pyu10055 opened #1771 "allow custom graph rewrite as precompilation step for graph model"
This is useful for fusing subgraph of the TF savedmodel graph can be optimized for a specific backend.
We are currently building a prelu graph rewrite that fuse TF generated 6 node subgraph into a single prelu op.
This graph rewrite step should be an automatic step for the graph model compilation phase.

[2019-07-25 00:18] jakubfrydrych opened #1772 "import tfjs-node and build via webpack,babel - error node-pre-gyp"
Hi, I'm trying to break tfjs-node in vain the next day. When compiling using a webpack, I get errors from the node-pre-gyp package. I tried all possible ways I found in the forums, but nothing helps. I tried downgrading tfjs-node to version 1.2.1, but also without effect. I also tried the node in 8. I import the package according to the example. Is there a bug in building with a webpack with a bab

[2019-07-25 04:17] kangyizhang commented on #1772
hi @jakubfrydrych

It seems like webpack is trying to import some objects that are only used during development from node-pre-gyp. 'aws-sdk' in node-pre-gyp is a devDependencies and should not be invoked in your process. Can you try [webpack-node-externals](https://github.com/liady/webpack-node-externals) and ignore the modules?

[2019-07-25 07:47] Emegua commented on #1556
I am facing a similar issue. Any help?

[2019-07-25 09:20] jakubfrydrych commented on #1772
Hi @kangyizhang
I have installed webpack-node-externals, but I don't know if you meant this configuration. Or somehow exclude that node-pre-gyp in the webpack settings?

#### webpack.config.js
[code]

#### build error
[code]

[2019-07-25 13:12] shepherdj2 opened #1773 "bug: Equivalent code works in tensorflow python but not tensorflow-js"
#### TensorFlow.js version
Tried in versions `1.1.2` and `1.2.5`

#### Describe the problem or feature request

The same network works in python version of tensorflow but the equivalent code does not work with tensorflow-js resulting in the error `Error: Size(9) must match the product of shape 1,1,1,1`

#### Code to reproduce the bug / link to feature request

**tensorflow-js version**

[code]

**

[2019-07-25 13:23] annxingyuan commented on #1657
@vadimkantorov Are you saying that the issue is within rfft? If you get past stft_abs_sq, does the prediction succeed? Or does it fail within the predict also?

[2019-07-25 13:29] annxingyuan commented on #1657
@vadimkantorov Could you also try upgrading to 1.2.5? We recently pushed a D3D compilation bugfix - I wonder whether this is related.

[2019-07-25 15:34] dsmilkov commented on #1422
Thanks for filling this. Unfortunately, we don't have the bandwidth to do this. Also, I think this would be best as an external project and the TF.js team can help provide guidance and feedback.

[2019-07-25 15:34] #1422 closed

[2019-07-25 17:13] rthadur commented on #1556
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow.js) since it is not a bug or feature request. There is also a larger community that reads questions there.

[2019-07-25 17:28] kangyizhang commented on #1772
@jakubfrydrych

The tfjs-node module requires [tensorflow C library](https://www.tensorflow.org/install/lang_c) and node native [addon](https://nodejs.org/api/addons.html). I don't think webpack would include these artifacts as static assets.

[2019-07-25 17:44] rthadur commented on #1773
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow.js) since it is not a bug or feature request. There is also a larger community that reads questions there.

[2019-07-25 17:54] shepherdj2 commented on #1773
@rthadur I open the issue here and not on StackOverflow because this looks like a tensorflow-js BUG and the comparison to the python version is meant to exemplify that.

[2019-07-25 17:58] shepherdj2 opened #1774 "bug: Equivalent code works in tensorflow python but not on tensorflow-js"
**note: This is a BUG report, not a support request.**

#### TensorFlow.js version
Tried in versions `1.1.2` and `1.2.5`

#### Describe the problem or feature request

The same network works in python version of tensorflow but the equivalent code does not work with tensorflow-js resulting in the error `Error: Size(9) must match the product of shape 1,1,1,1`

#### Code to reproduce the bug / link t

[2019-07-25 18:33] bibasco commented on #1583
@msektrier @dsmilkov, What was the solution to this problem or is there any known workaround? I'm having the same problem.

[2019-07-25 18:39] rthadur commented on #1773
no worries , reopening it , @annxingyuan can you please help with this issue ?

[2019-07-25 18:40] rthadur commented on #1774
Closing this as the original #1773 is reopened

[2019-07-25 18:40] #1774 closed

[2019-07-25 18:46] rthadur commented on #1583
@bibasco please open a new issue with all the details in template [here](https://github.com/tensorflow/tfjs/issues/new) . Thank you

[2019-07-25 20:13] vadimkantorov commented on #1657
@annxingyuan I'll try 1.2.5, I'll let you know when I have new results. Concerning old results, I think the issue is semi-random and has to do with allocating textures / some other gpu resources (my laptop is 5-year old) like memory.

[2019-07-26 05:22] vadimkantorov commented on #1657
Also I wish tfjs / Chrome failed in nicer ways with clearer error messages (even if out-of-memory is to blame)

[2019-07-26 05:27] vadimkantorov commented on #1657
With 1.2.5 same errors:
[code]

[2019-07-26 07:24] vbardiovskyg opened #1775 "Support for MirrorPad"
We were trying to convert a Magenta -> TF Hub module -> tfjs.

[2019-07-26 08:29] msektrier commented on #1744
Mhh strange. I was appending it to the DOM as well and I was waiting until it was finally rendered (visually). I guess CORS should not be a problem here, since I upload the file from my computer. A simple JavaScript upload.
Basically I can load from an image as well but here the process is: File Upload > Canvas (Base64) > new Image(of Canvas) and it was not working. Since the correct shape was rec

[2019-07-26 10:44] erikcartman commented on #1662
this console log runs after each pose estimation which logs tf.memory() command result.

{ unreliable: true,
  numTensors: 304,
  numDataBuffers: 304,
  numBytes: 893826836 }
tf.memory()
{ unreliable: true,
  numTensors: 305,
  numDataBuffers: 305,
  numBytes: 896826836 }
tf.memory()
{ unreliable: true,
  numTensors: 306,
  numDataBuffers: 306,
  numBytes: 899826836 }

How can i clear this tensors

[2019-07-26 11:57] erikcartman commented on #1662
Same problem for tfjs-node-gpu

"@tensorflow-models/posenet": "2.1.3",
"@tensorflow/tfjs-node": "1.2.5",

console.log runs after each pose estimation which logs tf.memory() command result.

{ unreliable: true,
numTensors: 304,
numDataBuffers: 304,
numBytes: 893826836 }
tf.memory()
{ unreliable: true,
numTensors: 305,
numDataBuffers: 305,
numBytes: 896826836 }
tf.memory()
{ unreliable: true,
numTen

[2019-07-26 16:46] kangyizhang commented on #1662
@erikcartman

Can you add the following code to check which backend you are using?
`console.log(tf.getBackend());`
If it's `tensorflow` then it's using the TensorFlow C library through tfjs-node, which is the ideal case.

The inference result from posenet model should return a tensor, you can call [tf.dispose()](https://js.tensorflow.org/api/latest/#tf.Tensor.dispose) to clear the tensor.

FYI the

[2019-07-27 11:09] Manohar1337Data opened #1776 "tfjs-vis : failed to load resource status 530"
TensorFlow.js version : 1.0.0

Chrome version : 75.0.3770.142 (Official Build)

Windows 10

Summary: Unable to load resource tfvis with a status code 530.

Description: I am loading tfjsvis via the script tag below, but there is an error which displays "Failed to load resource: the server responded with a status of 530 ()"

`    <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@1.0.0/dist

[2019-07-27 16:53] Manohar1337Data commented on #1776
Fixed by saving the script as a local file.

[2019-07-27 16:53] #1776 closed

[2019-07-28 00:21] iandanforth opened #1777 "tfjs-examples: Simple object detection: yarn train --gpu fails"
#### TensorFlow.js version
1.2.2

#### Browser version
Windows Version	10.0.17134 Build 17134
Node v10.15.0

### Problem description

**Install appears to succeed (with warnings)**

[code]

**Training with the gpu flag fails**

[code]

[2019-07-28 15:07] ToonTalk opened #1778 "t.ENV.setPlatform called by tfjs@1.1.2 but not defined"
#1340 ## TensorFlow.js version
1.1.2.

#### Browser version
Version 75.0.3770.142 (Official Build) (64-bit)
#### Describe the problem or feature request

When running the following Snippet in Chrome Dev Tools I see the following in the console and yet the snippet works fine.

tfjs@1.1.2:2 webgl backend was already registered. Reusing existing backend factory.
t.registerBackend @ tfjs@1.1.2:2
(anon

[2019-07-28 15:33] ToonTalk opened #1779 "documentation run button"
https://js.tensorflow.org/api/latest/#data.generator

when the 'Run' button is pressed nothing appears to happen and one must go to the Console while other sample programs display the console on the documentation page just under the sample code.

[2019-07-28 16:27] jrl290 opened #1780 "TFJS to Keras "ValueError: buffer is smaller than requested size""
To get help from the community, we encourage using Stack Overflow and the [`tensorflow.js`](https://stackoverflow.com/questions/tagged/tensorflow.js) tag.

#### TensorFlow.js version

[code]

#### Describe the problem or feature request
Having trouble converting a tfjs json model (using `save()`/`loadLayersModel()`) into keras format. The model:
Input (57) -> LSTM (200) -> Dropout -> Dense (40) ->

[2019-07-28 21:35] ThomasSkinner opened #1781 "Disposing does not effect tf.memory()"
I am using the node backend. Versions:
"@tensorflow/tfjs": "^1.2.2",                                                                                                                                       "@tensorflow/tfjs-node": "^1.2.3"

Disposing memory either, either by calling disposing on all my tensor references, or by using tf.disposeVariables(), does not appear to effect memory usage accord

[2019-07-29 07:15] erikcartman commented on #1662
tf.getBackend() is tensorflow.
It seems that tf.dispose() for input tensor does the trick.
Thank you.

[2019-07-29 07:15] #1662 closed

[2019-07-29 11:41] jakubfrydrych commented on #1772
@kangyizhang

Thank you very much for your advice. I reinstalled the native TF library, updated packages, cleared the cache, and mainly removed some of the code that the webpack needed (es6 features) to build, and now I run all the logic through node.js and everything works.

[2019-07-29 13:26] #1781 closed

[2019-07-29 16:19] kangyizhang commented on #1772
Glad it works.

[2019-07-29 16:19] #1772 closed

[2019-07-29 17:27] pyu10055 opened #1782 "tfjs-core npm contains experimental backends"
We need to add those directory to npm ignore

[2019-07-29 17:42] rthadur commented on #1777
@iandanforth thank you , did you get chance to go over troubleshooting guidelines here for [Windows](https://github.com/tensorflow/tfjs-node/blob/master/WINDOWS_TROUBLESHOOTING.md)

[2019-07-29 17:47] rthadur commented on #1778
@ToonTalk thank you, did you try latest tfjs version ?

[2019-07-29 17:54] rthadur commented on #1779
@ToonTalk thank you for reporting , @tafsiri i verified and it is not working , can you please take a look ?

[2019-07-29 18:25] nsthorat commented on #1778
I think you have have multiple copies of TensorFlow.js on the page with different versions that are stomping on one another.

[2019-07-29 18:32] rthadur commented on #1780
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow.js) since it is not a bug or feature request. There is also a larger community that reads questions there.

[2019-07-29 18:32] #1780 closed

[2019-07-30 08:30] ToonTalk commented on #1778
I did (unintentionally) load the same version multiple times (and then when reporting it I did try to switch to the version at https://cdn.jsdelivr.net/npm/@tensorflow/tfjs but the problem did occur before I mixed versions). Of course one shouldn't load TensorFlow.js more than once but if one does maybe one can be warned instead of this strange behaviour.

I'm unclear why when I closed the tab, op

[2019-07-30 09:23] waveboo commented on #1773
I have encountered the same problem. Anybody solved this problem?
And I found that when I load the pre-trained model of keras using tensorflow,.js the model can predict the input data, but still can't be trained.

[2019-07-30 15:52] rthadur commented on #1778
@nsthorat any thoughts on this ?

[2019-07-30 16:35] #1738 closed

[2019-07-31 09:53] xianrenb commented on #510
I know that it may not be worthwhile to put extra effort for supporting older GPUs.
How about adding code for auto-detecting the problem when loading tfjs, and automatically setting default backend to CPU backend if any is found?

[2019-07-31 11:21] marsiancba commented on #1761
Hi @annxingyuan - do you mean that the crash just happens "sooner" because of using more operations? This seems to be true... From my experience using TFJS for training "in the browser" it seems to have some kind of "memory leak" somewhere in graphic pipeline of browser. It crashes also with WEBGL_PACK=false, it just happens later, e.g. after running train several times.

[2019-07-31 12:39] blechatellier opened #1783 "tfjs-converter "NonMaxSuppression" unsupported op"
Trying to convert a [frozen model](https://github.com/yeephycho/tensorflow-face-detection/blob/master/model/frozen_inference_graph_face.pb) using `tfjs-converter 0.8.6` as per the documentation.

Getting an error about an unsupported op:
[code]
I can see that `NonMaxSuppression` should be supported from the list of [supported ops](https://github.com/tensorflow/tfjs-converter/blob/0.8.x/docs/suppor