[2019-10-09 04:18] eschirtz commented on #2046
@kangyizhang It appears to have worked! I'm going to mess around with it a little more, but I think removing the `@tensorflow/tfjs` in `package.json` cleared things up.

Thanks for your help :)

[2019-10-09 04:46] wingman-jr-addon commented on #2036
Update: correctness seems fine and speed is almost 2x! Thanks @annxingyuan @pyu10055 for helping look at this and making improvements.

[2019-10-09 14:05] annxingyuan commented on #2036
@wingman-jr-addon Are you also using tfjs-core 1.2.10 and tfjs-converter 1.2.10 on the client side? Or tfjs 1.2.10 (which depends on tfjs-core 1.2.10 and tfjs-converter 1.2.10).

[2019-10-09 14:14] PiyushRamuka commented on #2075
@kangyizhang - thanks for your response. I removed the script src bundle.js from index.html. Interestingly the page shows "Waiting for server..." when loaded for the first time. When refreshed/reloaded, it doesn't load again. I will try to run this again on a windows PC later today. Will keep you posted. Thanks once again!

[2019-10-09 14:51] gitathrun opened #2177 "tfjs-react-native bundleResourceIo function Require Cycle yellowbox, -> TypeError: Network request failed."
To get help from the community, we encourage using Stack Overflow and the [`tensorflow.js`](https://stackoverflow.com/questions/tagged/tensorflow.js) tag.

#### TensorFlow.js version
    "@react-native-community/async-storage": "^1.6.1",
    "@tensorflow/tfjs": "^1.2.8",
    "@tensorflow/tfjs-react-native": "0.1.0-alpha.2",
    "expo-gl": "^6.0.0",
    "expo-gl-cpp": "^6.0.0",
    "react": "16.8.3

[2019-10-09 15:17] dsmilkov commented on #1289
Closing since this was been addressed in 1.x since we are pruning the graph

[2019-10-09 15:17] #1289 closed

[2019-10-09 17:50] rthadur commented on #2177
@gitathrun is it same with latest tfjs version as well ?

[2019-10-09 17:54] tafsiri commented on #2177
@gitathrun I'll take a look, two questions, could you check that the values for `modelJson` and `modelWeights` are what you expect. If you console.log/console.warn them you should see a json structure for the first one that corresponds to the file and for the second one you should see a number. Could you confirm that it is what you expect.

Also just confirming that you modified your metro config

[2019-10-09 21:22] gitathrun commented on #2177
@rthadur I did not test with the latest tfjs version, because I try to keep the same dependencies version with the tfjs-react-native demo.

[2019-10-09 21:27] gitathrun commented on #2177
@tafsiri I have update the code in App.js listed below, and the console result, All the key, value in modelJson can be fetched correctly, and the modelWeights is a Number with 1.

App.js
[code]
results in console.log
![image](https://user-images.githubusercontent.com/22137687/66521729-a5b3a380-eae3-11e9-8a30-0613660637a1.png)

The metro config is exactly the same as Step 3, here is mine:

[code]

[2019-10-10 00:45] wingman-jr-addon commented on #2036
JS client libraries: https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@1.2.10/dist/tf.min.js

Python side:

(venv) developer@developer-VirtualBox:~/Desktop/tfjs-convert$ python --version
Python 3.6.8
(venv) developer@developer-VirtualBox:~/Desktop/tfjs-convert$ pip show tensorflow
Name: tensorflow
Version: 2.0.0
Summary: TensorFlow is an open source machine learning framework for everyone.
Home-page:

[2019-10-10 02:09] wingman-jr-addon commented on #294
Sure! Thanks for looking into this. Please note that I am also @jessetrana and have just started posting under this account for my plugin.

I used to have something like this where I pulled in the Image element and then did a resizeBilinear:
https://github.com/wingman-jr-addon/wingman_jr/blob/e68048de958c143398ffb8a9f050b9b96a065a92/background.js#L119

However, after observing that an Image gets d

[2019-10-10 07:10] Korochan17 commented on #2046
@kangyizhang i m using tfjsnode v1.2.12 the latest version as i added it through
yarn add @tensorflow/tfjs-node
my os is win32

[2019-10-10 09:48] Umar24129 opened #2180 "Error when installing `@tensorflow/tfjs-node`` on Windows platform"
#### TensorFlow.js version
@tensorflow/tfjs@1.2.11   (not able to install)

####Browser version
Google Chrome is up to date
Version 77.0.3865.90 (Official Build) (64-bit)

#### Operating System
Windows 10

####Python version
2.716

####npm version
6.4.1

Problem or feature request

I was trying to install ''tensorflow/tfjs''  using "npm install @tensorflow/tfjs"  but following below   error was pr

[2019-10-10 10:45] Jurge92 commented on #2138
I'm currently trying to load the video file into the canvas the same way as an image. And that doesn't give any result.

Could you make an example of a simple approach for how to load a local video file and displaying it (after being processed)?

[2019-10-10 13:01] #2129 closed

[2019-10-10 14:13] annxingyuan commented on #2036
@wingman-jr-addon try 1.2.11? we just did another release.

[2019-10-10 16:35] kangyizhang commented on #2180
@Umar24129 can you install windows-build-tools and then try to install tfjs-node? Here is the instruction: https://github.com/tensorflow/tfjs/blob/master/tfjs-node/WINDOWS_TROUBLESHOOTING.md#msbuildexe-exceptions

[2019-10-10 20:28] nsthorat commented on #2153
Can we separate these into separate issues so each of these can be solved in a separate PR (it greatly reduces the time it takes to review if the PRs are smaller)

[2019-10-10 20:29] nsthorat opened #2182 "BodyPix default loader fails."
With bodyPix 2.0 if you do the following

[code]

The network request for the model errors out:
`Uncaught (in promise) Error: Request to https://storage.googleapis.com/tfjs-models/savedmodel/bodypix/mobilenet/float/075/model-stride32.json failed with status code 404. Please verify this URL points to the model JSON of the model to load.`

[2019-10-10 20:52] tylerzhu-github commented on #2182
Thanks for the bug report and will fix this tomorrow when I am at the office.

[2019-10-10 20:54] tylerzhu-github opened #2183 "[BodyPix] Shares utility code"
Shares Pose decoding utility code between BodyPix 2.0 and PoseNet 2.0

[2019-10-10 20:55] tylerzhu-github opened #2184 "[BodyPix] Updates README.md file"
Updates the BodyPix 2.0 README.md file to reflect the new capability and APIs.

[2019-10-10 20:56] tylerzhu-github opened #2185 "[BodyPix] Support Using Image Height and Width"
Supports specifying `input_height` and `input_width` separately.

[2019-10-10 20:57] tylerzhu-github opened #2186 "[BodyPix] Performance optimization"
Attempts performance optimization.

[2019-10-10 20:58] tylerzhu-github opened #2187 "[BodyPix] Adds backend=cpu"
In the demo, added an option to pass, in the query string: backend=cpu to test cpu based decoding. In the demo, defaulting to use MobileNet.

[2019-10-10 21:00] tylerzhu-github opened #2188 "[BodyPix] Exposes Intermediate Tensors"
Refactored the estimate segmentation methods to expose intermediate activation tensors.

[2019-10-10 21:01] tylerzhu-github opened #2189 "[BodyPix] Adds unit tests"
Added more unit tests around valid resolution and other BodyPix utility functions to catch potential bugs.

[2019-10-10 21:03] tylerzhu-github commented on #2153
Thx! I have break them in to the following separate issues:
* https://github.com/tensorflow/tfjs/issues/2183
* https://github.com/tensorflow/tfjs/issues/2184
* https://github.com/tensorflow/tfjs/issues/2185
* https://github.com/tensorflow/tfjs/issues/2186
* https://github.com/tensorflow/tfjs/issues/2187
* https://github.com/tensorflow/tfjs/issues/2188
*  https://github.com/tensorflow/tfjs/issues/2

[2019-10-11 00:22] wingman-jr-addon commented on #2036
@annxingyuan  Well, I've been watching for an update but even though [GitHub says it's out there](https://github.com/tensorflow/tfjs/releases/tag/tfjs-converter-v1.2.11), [PyPI and pip say it's still on 1.2.10.1](https://pypi.org/project/tensorflowjs/). Perhaps the build server needs a poke?

[2019-10-11 14:55] Abhisheknarsing commented on #2182
https://storage.googleapis.com/tfjs-models/savedmodel/bodypix/mobilenet/float/075/model-stride32.json link doesn't responding on request. can we get that json file link to load loadGraphModel to tensorflow converter locally

[2019-10-11 15:09] tylerzhu-github commented on #2182
The bug is because:
- The output stride supported by MobileNet75,50 are 16, 8
- The output stride supported by MobileNet100 is 32, 16, 8
I will update the README to reflect this or I can set the output stride to 16 if an unsupported stride (e.g., 32) is accidentally specified by the user.

[2019-10-11 15:50] Abhisheknarsing commented on #2182
I am trying it for RestNet50, will this works?

[2019-10-11 16:38] tylerzhu-github commented on #2182
Thanks for the feedback and early testing!
The supported output stride for ResNet50 is currently: 32 and 16.

[2019-10-11 20:02] harish2704 commented on #1571
Hi, The web demo UI had updated since the reporting date of this issue.
The Demo now has some additional options like

1. Switch GPU/CPU back-end
2. visualize output of each layer

This is how I found the buggy layer in model.
A small introduction can be seen in the screen cast too
https://youtu.be/0e8kkxEYkRU?t=106

Please let me know if there is any additional information is required .

[2019-10-11 22:52] nikhilwbhatia opened #2194 "convInfo undefined when fitting downloaded model for transfer learning"
To get help from the community, we encourage using Stack Overflow and the [`tensorflow.js`](https://stackoverflow.com/questions/tagged/tensorflow.js) tag.

#### Tensorflow.js 1.2.8

#### Chrome 77.0.3865.90

#### Describe the problem or feature request

Getting "backend_webgl.ts:2088 Uncaught (in promise) TypeError: Cannot read property 'filterHeight' of undefined" when trying to fit downloaded mo

[2019-10-12 06:43] Abhisheknarsing opened #2195 "TypeError: net.segmentPerson is not a function"
To get help from the community, we encourage using Stack Overflow and the [`tensorflow.js`](https://stackoverflow.com/questions/tagged/tensorflow.js) tag.

#### TensorFlow.js version
tensorflow/tfjs@1.2.9
using tfjs-node
Node JS-4.0
#### Body-Pix version

BodyPix@2.0.0

#### Describe the problem or feature request

BodyPix.load() is successfully loaded with  architecture: 'ResNet50' , showing erro

[2019-10-12 22:48] sreed101 commented on #2043
@tylerzhu-github I would like to use BodyPix in a Python project. Is it possible to get the original TensorFlow model?

[2019-10-13 04:27] Umar24129 commented on #2180
@kangyizhang   I am realllly sorry i couldnt reply fast  and yes thanks allot my problem is solved , as per ur guidance ..  it worked when i started power shell as admin  and typed this command then npm install -g windows-build-tools . Big thanks ...   using tensorflow my work is down to 3s instead of 13 to 15 :D
Big thanks  .

[2019-10-13 15:48] net2cn commented on #1985
Hi,
According to my experience, rank 5 tensors work perfectly fine with CPU backend since I've run into a similar situation and found a temporary solution by switching to CPU backend.
However, this solution works unbearably slow since you'll lose all hardware acceleration. So I'm wondering whether an automatic fallback on the methods that don't support high rank tensors is possible.
Best regards.

[2019-10-13 23:06] oveddan commented on #2187
@tylerzhu-github can you please rename this to:

[BodyPix] add cpu instance level decoding ops.

[2019-10-13 23:14] oveddan opened #2196 "[BodyPix] - consider removing single pose decoding from non instance segmentation methods."
With BodyPix 2.0, `segmentPerson` and `segmentPersonParts` now return segmentation masks that work for all the people in the picture.  With BodyPix 1.0, the masks worked only for a single person.

In 2.0, these methods also decode and return a single pose.  I think it would be best to remove the single pose from this result because:
1. It is confusing that this method returns a mask that applies t

[2019-10-14 00:03] oveddan opened #2197 "BodyPix models don't accept batch sizes greater than 1."
Similar to #1864

Even though the [BodyPix base graph model takes 4d tensors as inputs, and returns tensors meant for batch inference](https://github.com/tensorflow/tfjs-models/blob/c93c716cf42b0ef90607e4f447f577e3ec385c7b/body-pix/src/resnet.ts#L57):

[code]

The base model's `predict` function throws an error when you invoke it with a 4d tensor that has a batch size greater than 1.  To replicate

[2019-10-14 00:29] kangyizhang commented on #2180
Great to hear that!

[2019-10-14 00:29] #2180 closed

[2019-10-14 17:25] nsthorat commented on #2187
Is the motivation for this to get it to work in Node.js?

[2019-10-14 17:27] nsthorat commented on #2182
Fixed by https://github.com/tensorflow/tfjs-models/pull/307

[2019-10-14 17:27] #2182 closed

[2019-10-14 17:28] nsthorat commented on #2197
Is there a use case that wants to batch these? If not let's just throw a nice error if the batch size > 1

[2019-10-14 18:00] oveddan commented on #2197
The use case is mainly for Node.js, for when you have a long video and you want to perform inference on all of the frames of the video. Let's say the video is 1080ps and 24 fps.  It would be great if you could feed a bunch of frames at once to the model instead of having to do it one by one.

This brings me to a higher level question.

Is there any difference, performance wise, if you perform infe

[2019-10-14 18:27] nsthorat commented on #2197
Yes, there is a large performance difference. In the browser you don't want draw calls to exceed a certain threshold otherwise the GPU gets hosed.

Can we wait until there is a concrete user asking for that in Node.js before we implement it?

[2019-10-14 19:30] nsthorat opened #2202 "[BodyPix] drawBrokehEffect is broken (draws a shifted canvas)"
If you run the drawBokehEffect code from the README you will get a canvas that is drawn with the image shifted to the bottom right:

[code]

![image](https://user-images.githubusercontent.com/1100749/66777686-9348b980-ee97-11e9-9891-49e69ef075d1.png)

cc @oveddan @tylerzhu-github

[2019-10-14 20:34] oveddan commented on #2197
Is there a performance difference when running this type of code in tfjs-node-gpu?

I'm a concrete user :) I reported it because I tried to use it this way in tfjs-node (cpu and gpu).

People at ITP have asked me the best way to run posenet on videos, and I was going to do a workshop showing them how to use it using tfjs-node (or gpu if they have it available).  Being able to feed a batch of image

[2019-10-14 21:01] nsthorat commented on #2197
Haha okay makes sense, then I think it makes sense to support it if it's straightforward!

And yes, it will be a major perf gain for tfjs-node-gpu.

[2019-10-14 21:21] nsthorat commented on #2202
This is broken for blurBodyPart too

[2019-10-14 22:36] #1292 closed

[2019-10-14 22:54] rthadur commented on #689
closing this issue based on latest comments , thank you.

[2019-10-14 22:54] #689 closed

[2019-10-15 00:36] startupgurukul opened #2203 "[bodypix] Resnet output stride 8"
Hello folks,
Thank you for bodypix 2.0 (Special shout-out to Tyler and Dan)

Coming to the issue, the resnet is having accuracy issues with palm segmentation espl at finger level, believe a possible fix would be having the output stride 8 (although at the cost of compromising the performance)
It seems to be a conscious decision to not provide the resnet equivalent 8 stride (which exists in mobilen

[2019-10-15 00:53] rthadur commented on #721
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-10-15 00:53] #721 closed

[2019-10-15 00:53] rthadur commented on #710
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-10-15 01:02] rthadur commented on #895
Closing this as the related PR has been merged, thank you.

[2019-10-15 01:04] rthadur commented on #961
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-10-15 01:04] #961 closed

[2019-10-15 01:06] rthadur commented on #1078
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-10-15 01:06] #1078 closed

[2019-10-15 01:09] rthadur commented on #1111
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-10-15 01:11] rthadur commented on #1313
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-10-15 01:11] #1313 closed

[2019-10-15 01:14] rthadur commented on #1454
as per #1449 this has been resolved in latest version.

[2019-10-15 01:14] #1454 closed

[2019-10-15 01:19] rthadur commented on #1497
This has been done and should be available in latest releases.Thank you.

[2019-10-15 01:22] rthadur commented on #1668
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-10-15 01:32] rthadur commented on #1844
@oveddan i see #296 merged , can we close this or will there be follow up changes.

[2019-10-15 01:37] oveddan commented on #1844
You can close it

On Mon, Oct 14, 2019 at 9:32 PM Rajeshwar Reddy T <notifications@github.com>
wrote:

--
Sent from Gmail Mobile

[2019-10-15 01:39] rthadur commented on #1844
thank you

[2019-10-15 01:39] #1844 closed

[2019-10-15 02:12] wingman-jr-addon commented on #2036
@annxingyuan @pyu10055 Just checking, should PyPI still say 1.2.10.1 or should it be 1.2.11? I just want to make sure there is not an unexpected problem with build infrastructure; I'm not in a rush for the converter updates.

[2019-10-15 02:27] oveddan commented on #1844
@nsthorat can you please publish posenet to npm so that the latest version is there?

Thanks!

[2019-10-15 03:08] dsmilkov commented on #2148
Hi Evan,

This will be a massive undertake and not worth the benefit for now. Also most of our users are JS and those that are TS users are not very familiar with the strict null check, in contrast to what we do internally at Google.

I haven't seen many bugs reported that would be fixed by a null check. We also usually rely on extensive unit testings for that instead of static typing.

I'm willin

[2019-10-15 03:08] #2148 closed

[2019-10-15 05:43] tommy3266 commented on #1095
for now ,can i use tfjs convert my keras model to tfjs_model and control the shards files?

[2019-10-15 07:55] DirkToewe commented on #895
PR#1391 fixes underflow in `tf.abs` but *not* in `tf.norm`, I'm afraid. The latter is fixable with one or two lines of code but it will at least double the memory and computation overhead of the operation, I'm afraid. I can file a PR for that as soon as I get to implement it.

The performance and memory overhead could be avoided by adding an addtional reduction operation to the backend which shoul

[2019-10-15 08:16] silky opened #2204 "how to clean up memory? aka "what does tf.tidy do?""
using tfjs 1.0.0, here's my code:

[code]

and here's the result of clicking the button twice:

![image](https://user-images.githubusercontent.com/129525/66813251-29580f00-ef80-11e9-808a-d4d39312ee6d.png)

note that the memory is increasing.

why?

how can i dispose this memory?

i'm asking because i've got a more complicated model, and none of the dispose methods i'm trying really works. i think

[2019-10-15 08:29] sdll commented on #1668
@rthadur, not sure if the issue should be closed until the bicubic resize is implemented. Is this tracked anywhere else?

[2019-10-15 10:14] joyicejin opened #2205 "ChannelsFirst dataFormat in Flatten Layer Causes Different results for TFJS-Web vs Keras on same model weights and tensor"
#### TensorFlow.js version
<script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@1.1.2/dist/tf.min.js"></script>

#### Browser version
chrome  70.0.3538.77 (Official Build) (64-bit)
Python: 3.6.7
keras 2.2.4
tensorflowjs convert      1.2.10.1 and 0.5.7
tensorflow-gpu                   1.10.0, channel first

#### Describe the problem or feature request
I wanted to use a Keras-trained model in

[2019-10-15 10:17] tiziano88 commented on #1497
Great news! Which release has now Wasm support? And are there any instructions about it? Looking forward to trying it out.

[2019-10-15 11:36] annxingyuan commented on #2036
@wingman-jr-addon I'm a little confused - are you saying you converted a model with the tensorflowjs converter 1.2.10.1, but then are seeing "cannot use relu6 with webgl" in the browser? Which versions of tfjs are you using in the browser?

[2019-10-15 11:47] nsthorat commented on #1497
This is actually still in progress we’ll update this when we’re ready to release :)

[2019-10-15 13:00] nsthorat commented on #1668
Let's keep this open since it's a feature request.

[2019-10-15 13:01] nsthorat commented on #1111
Let's keep this open possibly for TensorFlow.js 2.0.

[2019-10-15 13:40] joeyklee commented on #1844
Just a small note that also body-pix 2.0 has not yet been published to npm yet either - https://github.com/tensorflow/tfjs-models/blob/master/body-pix/package.json. Do you know if this is intentional? Thanks so much!

[2019-10-15 13:41] eightmillimeter commented on #1434
Hi all,

I'm facing the similar issue:

Traceback (most recent call last):
  File "/home/burak/.local/bin/tensorflowjs_converter", line 11, in <module>
    sys.exit(main())
  File "/home/burak/.local/lib/python2.7/site-packages/tensorflowjs/converters/converter.py", line 352, in main
    strip_debug_ops=FLAGS.strip_debug_ops)
  File "/home/burak/.local/lib/python2.7/site-packages/tensorflowjs/conv

[2019-10-15 14:16] DirkToewe commented on #2204
Hi @silky,
this question would be better suited for the [Stackoverflow support page](https://stackoverflow.com/questions/tagged/tensorflow.js?tab=Newest). The behavior, You describe, is actually a feature not a bug.

`tf.tidy` is very similar to the local variable scope of a standard JS function. When a JS function returns, all local objects are garbage collected unless references to those local o

[2019-10-15 16:22] lalberge opened #2211 "Feature: Conv3DTranspose Layer"
#### Describe the problem or feature request

Hi,
Is there any plan for implementing the conv3Dtranspose layer in JS, I have seen that there already is a conv3dtranspose op but no associated layer? And to make it compatible with tfjs-converter (as well as the Conv3D op) to importer U-Net-like models in the browser?
Thank you,
Léo

[2019-10-15 16:56] CharlesCousyn opened #2212 "Convert Yolo9000 to Saved model then to GraphModel (Web model)"
To get help from the community, we encourage using Stack Overflow and the [`tensorflow.js`](https://stackoverflow.com/questions/tagged/tensorflow.js) tag.

#### TensorFlow.js version
TFJS 1.2.9

#### Describe the problem or feature request
I try to use the object recognition model YOLO9000 into my node.js program. For that, I use the original files for the model YOLO9000 (https://pjreddie.com/medi

[2019-10-15 17:05] #1985 closed

[2019-10-15 17:23] nsthorat commented on #710
We still need to fix this!

[2019-10-15 17:40] joeyklee commented on #1844
Thanks for the update @nsthorat! I'll keep my eyes out for news.

[2019-10-15 21:13] silky commented on #2204
i like it

thanks for the thoughtful response @DirkToewe !

[2019-10-15 21:13] #2204 closed

[2019-10-15 21:37] whyboris opened #2215 "TensorFlow.js in Node documentation incorrect"
#### TensorFlow.js version
current

#### Browser version
n/a

#### Describe the problem or feature request
Documentation is incorrect:
https://www.tensorflow.org/js/guide/nodejs

#### Code to reproduce the bug / link to feature request
If you would like to get help from the community, we encourage using Stack Overflow and the [`tensorflow.js`](https://stackoverflow.com/questions/tagged/tensorflow.

[2019-10-15 22:46] rthadur commented on #2215
@whyboris feel free to submit a PR here in [tfjs-website](https://github.com/tensorflow/tfjs-website/blob/master/docs/guide/nodejs.md)

[2019-10-15 23:46] DirkToewe commented on #1969
[PR#1520](https://github.com/tensorflow/tfjs-core/pull/1520) from January already implemented `tf.linalg.bandPart`. It is purely based on existing tfjs operations and, according to some quick and dirty benchmarks, it is around 10 times slower than a backend-based implementation, which should be acceptable for an `O(n²)` operation. I've taken the liberty to add [PR#2155](https://github.com/tensorfl

[2019-10-16 01:18] wingman-jr-addon commented on #2036
@annxingyuan The issue is on the Python side.

Originally, I did the following at release 1.2.10.
1. Boot Ubuntu VM.
2. Setup local venv.
3. pip3 install tensorflowjs
4. tensorflowjs_converter --version returns 1.2.10
5. Tried to convert a MobilenetV2-based model referencing relu6 using tfjs_graph_model output option . Conversion failed as described above. I stopped.

Then I waited a few days. Whe

[2019-10-16 12:53] ToonTalk opened #2219 "Math.seedrandom not documented at https://js.tensorflow.org/api/latest/"
The TensorFlow.js book says

I searched for such functionality in https://js.tensorflow.org/api/latest/ and there are some functions that take seeds as optional arguments but no mention of seedrandom.

Also curious why it is in Math and why no camelcasing.

[2019-10-16 15:44] #1635 closed

[2019-10-16 15:59] whyboris commented on #2215
🙇 https://github.com/tensorflow/tfjs-website/pull/335
Please feel free to close the issue when you see fit 👍

[2019-10-16 16:37] Kriyszig commented on #1969
@DirkToewe, Can you port PR#1520 to this monorepo? Your implementation scales really well unlike mine.

[2019-10-16 16:45] kangyizhang commented on #2215
Thanks again for the PR!

[2019-10-16 16:45] #2215 closed

[2019-10-16 16:52] rthadur commented on #2219
@ToonTalk so you want to update the document ? If yes please submit a PR.
@tafsiri do you know why camel-casing is not enforced for this ?

[2019-10-16 18:23] kangyizhang commented on #2046
hi @Korochan17
I think you mean 1.2.11 cause 1.2.12 is not released yet. can you do the following:

1. Delete `node_modules/@tensorflow/tfjs-node`, then reinstall it and paste the logs
2. if it's still not working, can you list what is inside `.../node_modules/@tensorflow/tfjs-node/deps` and `.../node_modules/@tensorflow/tfjs-node/lib`?
3. if you folk [@tensorflow/tfjs](https://github.com/tensorfl

[2019-10-16 19:44] DirkToewe commented on #1969
Okay, will do as soon as I can.

[2019-10-16 20:19] nsthorat commented on #2219
seedrandom() is actually this library that augments the Math object: https://github.com/davidbau/seedrandom

[2019-10-16 20:31] #2202 closed

[2019-10-16 23:03] pyu10055 commented on #841
@msektrier sorry for the delay, can you provide the full model including the weight files in order to reproduce the issue. thanks.

[2019-10-16 23:43] pyu10055 commented on #2036
@wingman-jr-addon Thank you for trying out the different options,
The error message is from tf.keras loader, since the relu6 activation function is a mobilenet custom python activation function, it needs to be provided to the loader similar to following:

[code]

Our converter did not fix the error from the keras loader, we only added support for the fusing tensorflow relu6 op into conv2d.

Thank

[2019-10-17 03:28] wingman-jr-addon commented on #2036
Thanks @pyu10055 for the explanation! I'm familiar with the "load_model with custom_objects" method from the Python side as I've had to deal with it there. I didn't see a corresponding custom objects parameter etc. for tensorflowjs_converter (nor am I quite sure how one would add that flexibility in the future), so I just tried my hack. I may have to give your method a shot in the future as it sou

[2019-10-17 03:30] wingman-jr-addon commented on #294
@dsmilkov Did you need any further clarification on the code samples etc?

[2019-10-17 08:27] ToonTalk commented on #2219
[I see that](https://github.com/davidbau/seedrandom)

Is TFJS using `Math.seedrandom('constant')` or `new Math.seedrandom('constant')`?

If the latter (which is what David Bau recommends in production code) then TFJS needs an API to replace the seed.

If it is the former then the Manning book about TFJS should at least warn people when discussing `Math.seedrandom`

[2019-10-17 09:32] Korochan17 commented on #2046
hi @kangyizhang
i did everything but the problem is that there is still no such file `tfjs_binding.node` in `node_modules/@tensorflow/tfjs-node/lib/napi-v4`

[2019-10-17 10:41] joyicejin commented on #2205
Hello, could you leave me some comments about this issue. I'm in a hurry, thanks.

[2019-10-17 13:17] Deunkel commented on #2138
Being able to process local/remote video files (like .mp4) would be great for "non browser environments" like on node.js. I tried adding canvas libs into node.js, but it felt hacky and had also a bad performance regarding processing time. So I agree with @Jurge92 this feature would be a great help.

[2019-10-17 14:07] nikhilwbhatia opened #2224 "convInfo undefined when fitting pre-trained mobilenet for transfer learning"
**Re-posting issue because I think my last post was missed. Would really appreciate any help, thanks!**

Tensorflow.js 1.2.8
Chrome 77.0.3865.9

Describe the problem or feature request:

Getting "backend_webgl.ts:2088 Uncaught (in promise) TypeError: Cannot read property 'filterHeight' of undefined" when trying to fit downloaded model to training data.

My code does the following:

- Downloads mob

[2019-10-17 15:09] DirkToewe opened #2225 "Broadcasting support for tf.where"
To get help from the community, we encourage using Stack Overflow and the [`tensorflow.js`](https://stackoverflow.com/questions/tagged/tensorflow.js) tag.

#### TensorFlow.js version
1.2.11

#### Browser version
N/A

#### Describe the problem or feature request
`tf.where()` in TFJS does not support broadcasting, while TFPY seems to have [recently added support](https://github.com/tensorflow/tensor

[2019-10-17 16:03] yijunxiao-samsung opened #2227 "bodyPix@2.0 not available on npm"
May I ask if bodyPix@2.0 is released on npm? If not, when it is going to be released? Many thanks!

[2019-10-17 16:11] kangyizhang commented on #2046
@Korochan17 can you install windows-build-tools (https://github.com/tensorflow/tfjs/blob/master/tfjs-node/WINDOWS_TROUBLESHOOTING.md#msbuildexe-exceptions) and try again?

[2019-10-17 18:25] #2224 closed

[2019-10-18 16:09] nsthorat opened #2235 "Speech commands FFT recognizer test is flaky."
See the CI failing for this (unrelated) PR: https://github.com/tensorflow/tfjs-models/pull/321

https://console.cloud.google.com/cloud-build/builds/1e277170-4770-42c5-894a-25ddc0948a7e?project=learnjs-174218&pli=1

[code]

[2019-10-19 13:47] DirkToewe commented on #2011
The rather monstrous [PR#1356](https://github.com/tensorflow/tfjs-core/pull/1356) contained a `broadcastTo` [implementation](https://github.com/tensorflow/tfjs-core/pull/1356/files#diff-b62631f91d28d56ddc898bc41513df9cR106-R156). If You want, I can take it out and submit it as PR to the monorepo.

[2019-10-19 14:52] lukasheinrich commented on #2011
hi @DirkToewe I think that would be awesome and maybe easier to merge. Do you know anytone working on lgamma?

[2019-10-19 15:45] DirkToewe commented on #2011
No idea sorry. A `float32/complex64` implementation of lgamma(z) for `Re(z) > 0` can be found in:
[code]
It's C code but fairly easy to read and understand. Should be fairly easy to implement using existing TFJS functions as well.

[2019-10-19 16:32] nikhilwbhatia commented on #2224
Any chance someone has had a chance to look at the original issue?

[2019-10-19 18:21] ldenoue commented on #1546
when I do `pip install tensorflow-gpu`, I got tensorflow 2 and everything runs fine with the GPU.
but after I do `pip install tensorflowjs`, it somehow messes up my current packages and makes my python scripts fail.
Is tensorflowjs not compatible with tensorflow 2?

[2019-10-20 05:57] kratsg commented on #2011
@DirkToewe -- copying here for usefulness

[code]

[2019-10-20 07:31] jt4000 opened #2239 "How to run toxicity demo in your local computer"
Hello,

I'm not enable to run the code index.html and index.js in my local computer when I use <script> instead of "import * as tf from '@tensorflow/tfjs';,"   (https://github.com/tensorflow/tfjs/issues/149)
from https://github.com/tensorflow/tfjs-models/tree/master/toxicity/demo  ("https://github.com/tensorflow/tfjs/issues/149")

When I run with "<script src="https://cdn.jsdelivr.net/npm/@tensorf

[2019-10-20 13:11] annxingyuan commented on #2011
Noting that BroadcastTo is also needed for the music transformer model.

[2019-10-20 15:39] Korochan17 commented on #2046
@kangyizhang
thanks a lot
it was solved but another error
`node_internal/modules/cjs/loader.js:992
  return process.dlopen(module, path.toNamespacedPath(filename));
                          ^
Error:...@tensorflow\tfjs-node\lib\napi-v4\tfjs_binding.node is not a valid Win32 application.`

[2019-10-21 03:36] Neuroforge commented on #2127
Any update on this issue?

[2019-10-21 05:54] JaeDukSeo opened #2240 "Bodypix@2.0 not available on cdn"
the javascript file is not found

[2019-10-21 06:10] abhieshekumar opened #2241 "Body-pix@2.0 not found on CDN"
TensorFlow.js 1.2

Browser version - Google Chrome Version 77.0.3865.90

I am working on a project and BodyPix@2.0 when requested from CDN returns a 404 status.

#### Code to reproduce the bug
The documentation mentioned for [bodypix](https://github.com/tensorflow/tfjs-models/tree/master/body-pix) indicates using a [CDN link](https://cdn.jsdelivr.net/npm/@tensorflow-models/body-pix@2.0) to load th

[2019-10-21 15:12] annxingyuan commented on #2239
Hi @jt4000 - it looks like the toxicity model hasn't loaded yet when you call predict. Are you loading index.js after loading both tfjs and the toxicity library?

Something like:

[code]

[2019-10-21 15:16] oveddan opened #2245 "BodyPix 2.0 - change internalResolution to use a percentage instead of hardcoded resolutions"
With PR [#321](https://github.com/tensorflow/tfjs-models/pull/321) - the new internalResolution parameter is passed at inference time, which is great.  However, the fact that `low` `medium` `high` are tied to corresponding values of `257`, `513`, and `1025` is problematic for a few reasons:

* It will force the image to be resized to a square, causing black pixels to be added in the smaller dimens

[2019-10-21 15:31] nsthorat commented on #2245
I think we can solve the issues above but keep the current API (which I like better because 'low', 'medium', 'high' are much easier to understand than a fixed number):

- We can find an aspect ratio for the model that is nearest to the requested resolution.
- That's a good point. We shouldn't use an internal resolution larger than the image provided.
- `internalResolution` also allows passing a nu

[2019-10-21 15:32] oveddan commented on #2245
Yeah I think the concept of `high` `middle` `low` is great.  Just internally if we map to percentages would be the best way.

[2019-10-21 15:49] oveddan commented on #2245
I didn't realize that this also takes a number.  Closing!  Will open a separate issue around the aspect ratio

[2019-10-21 15:49] #2245 closed

[2019-10-21 16:45] nikhilwbhatia commented on #2194
**Below is a gist with the general code that produces the error:**
https://gist.github.com/nikhilwbhatia/9754701c26fe4937936f32920f7d62e5

**Full implementation of the above gist is here:**
https://github.com/nikhilwbhatia/spectrogram-audio-classification/blob/isolate_audio/frontend/src/TestView.js

[2019-10-21 17:16] kangyizhang commented on #2046
@Korochan17 it seems like the node.js kernel is trying to load the addon as Win32 application. Can you try to run `node -p "process.arch"`?  Your machine should be [Windows 64-bit x86](https://www.tensorflow.org/install/lang_c#supported_platforms) and your node process should be 64 bit as well.

[2019-10-21 18:03] nsthorat opened #2246 "README not rendering on npmjs for tfjs"
See https://npmjs.com/package/@tensorflow/tfjs for 1.2.11.

This is because we don't ship a readme in the tfjs/ folder anymore. Will send a fix.

[2019-10-21 20:19] #2246 closed

[2019-10-21 20:35] rthadur commented on #2240
this is a duplicate of #2227 , closing this , will wait for Tyler reply.

[2019-10-21 20:37] rthadur commented on #2227
@tylerzhu-github gentle ping, do you when this will be available on cdn and npm ?

[2019-10-21 20:45] rthadur commented on #2241
this will be fixed soon thanks for reporting.

[2019-10-21 20:47] #2241 closed

[2019-10-21 21:18] nikhilwbhatia commented on #2194
I downgraded to 1.2.8 after experiencing a different issue when fetching Mobilenet (https://github.com/tensorflow/tfjs/issues/2170). I don't think the fix for #2170 has hit production yet so I can't test if 1.2.11 would solve the current issue, but if you think it might I can fork master and try it? Thank you!

[2019-10-21 21:21] annxingyuan commented on #2194
@nikhilwbhatia If you wouldn't mind trying that out it would be great! We phased in support for fused ops over several versions so I'm hoping master will just work for you. Keep me posted.

[2019-10-21 21:33] nsthorat commented on #2157
Thanks for the issue, I fixed the codelab and sent a PR to fix the demo :)

[2019-10-21 21:42] rthadur commented on #2157
@nsthorat thank you.

[2019-10-21 21:44] nsthorat commented on #710
Apologies, this is fixed.

[2019-10-21 21:44] #710 closed

[2019-10-21 21:44] nsthorat commented on #710
https://js.tensorflow.org/api/1.2.10/#metrics.binaryAccuracy

[2019-10-21 21:51] #2157 closed

[2019-10-21 21:52] nsthorat commented on #2195
Apologies, we are preparing to release a new version and updated the README but haven't released yet. This PR reverts the README to v1 so you can see the old API (stay tuned for a new version!)

https://github.com/tensorflow/tfjs-models/pull/327

[2019-10-21 21:53] nsthorat commented on #2240
Apologies, we are preparing to release a new version and updated the README but haven't released yet. This PR reverts the README to v1 so you can see the old API (stay tuned for a new version!)

https://github.com/tensorflow/tfjs-models/pull/327

[2019-10-21 21:53] nsthorat commented on #2227
Apologies, we are preparing to release a new version and updated the README but haven't released yet. This PR reverts the README to v1 so you can see the old API (stay tuned for a new version!)

https://github.com/tensorflow/tfjs-models/pull/327

[2019-10-21 22:36] oveddan opened #2252 "Linting not run as part of CI for posenet and bodypix"
Currently for posenet and bodypix (it could be the same for the rest of the models in tfjs-models) linting is not run as part of the CI step.

It would be great if linting was run with each PR for both the source code as well as the demo code.

[2019-10-21 22:41] Gautamshahi opened #2253 "Unable to save model for Tensorflowjs using tfjs.converterjs"
I am using the Tensorflow hub for importing the Imagenet, but after retaining my data, I wanted to save the model for the TensorFlow Js, I am using

tfjs.converters.save_keras_model(model, path1)

I am not able to save the model for my TensorFlow's, I am getting the error

RuntimeError: Unable to create a link (name already exists)

I need to save only in the format supported by TensorFlowJs

[2019-10-22 00:37] caisq commented on #2205
cc @mndevec

[2019-10-22 04:56] ychen0901 opened #2254 "Error with converted model, "Input tensor count mismatch""
Version:
tensorflowjs         1.2.10.1

I used tfjs-converter to convert the pre-trained saved model, and the conversion was completed successfully. But when I use the model in js, got this error,
"Input tensor count mismatch,the graph model has 46 placeholders, while there are 1 input tensors"

Link to the pre-trained model,
http://download.tensorflow.org/models/object_detection/ssd_mobilenet_v1_

[2019-10-22 06:18] wingman-jr-addon commented on #2205
For what it's worth, I gave this a try.

@joyicejin  First off, regarding getting the layer, I just used `model.summary()` and then followed that trail:
`		console.log(model.summary());
		console.log('Dense layer?');
		let dbLayer = model.getLayer('dense');
		console.log(dbLayer);
		console.log(dbLayer.getWeights());
		console.log(dbLayer.getConfig());`
That will hopefully get you what you're look

[2019-10-22 07:09] kingsleyljc opened #2255 "tensorflow.js demo-Not allowed to load local resource on chrome"
To get help from the community, we encourage using Stack Overflow and the [`tensorflow.js`](https://stackoverflow.com/questions/tagged/tensorflow.js) tag.

#### TensorFlow.js version

#### Browser version
Chrome  76.0.3809.100
#### Describe the problem or feature request
I'm running the Tensorflow.js demo downloaded from github which called Iris. When I follow the command of README.md, the server

[2019-10-22 08:05] Korochan17 commented on #2046
@kangyizhang
it is just "ia32"
so it means my computer can't run tfjs-node with this arch, right?
ok i'll try to use tensorflow for python instead
many thanks

[2019-10-22 09:43] joyicejin commented on #2205
Ok, many thanks for all your kind reply and debugging.

For your metioned above in **reply 2** on python side, I want to say.
**First**, it was trained on a tensorflow-gpu machine and only gpu devices could make a predict for my provided code.

**Second**, it was trained by a self-defined loss function as code below:
[code]
I also used `model.save` function to save the trained model, but having th

[2019-10-22 11:05] Abhisheknarsing commented on #2195
Thanks

[2019-10-22 11:05] #2195 closed

[2019-10-22 16:34] Naveen3Singh commented on #271
@kongkip You got anything yet?

[2019-10-22 16:39] kangyizhang commented on #2046
@koroman17 Tensorflow (include tf python, tf c, and tf javascript) is tested and supported for 64-bit systems. I didn't try but I don't think tensorflow python would work on 32-bit windows (https://github.com/tensorflow/tensorflow/issues/20362). Feel free to comment if you have other question.

[2019-10-22 16:39] #2046 closed

[2019-10-22 17:48] kangyizhang commented on #2255
@kingsleyljc The files (html, js, css) are packaged and hosted by `http-server`, instead of loading from local resource directly. I think the demo didn't work on your machine because the `yarn watch` command runs `serve.sh` shell script but it may not work on windows.

[2019-10-22 17:48] #2255 closed

[2019-10-22 18:00] janosh commented on #1516
Just to add to @DirkToewe's list, [`tf.linalg.det`](https://www.tensorflow.org/api_docs/python/tf/linalg/det) would be really useful in TFJS as well.

[2019-10-22 19:39] DirkToewe commented on #1516
Added it to the list :)

If the matrices are small, You can already compute the determinant using the current implementation of the QR decomposition:

[code]

[2019-10-22 19:48] #2194 closed

[2019-10-22 19:50] annxingyuan commented on #2194
Hey @nikhilwbhatia - this should be fixed with the next release of core. Feel free to reopen if you still encounter it then.

[2019-10-22 20:58] nikhilwbhatia commented on #2194
Hi Ann, thanks for the update! Apologies for my unfamiliarity with github/npm but I'm having some trouble installing/importing tfjs from the master branch in my react app.

I tried `npm install https://github.com/tensorflow/tfjs#master` (which complained about tfjs' package.json missing a name and version), so I forked the repo and added my own name/version (https://github.com/nikhilwbhatia/tfjs),

[2019-10-23 02:43] wingman-jr-addon commented on #2205
@joyicejin Well, I got a chance to run this on my TX1 tonight. I ran into issues with the ordering again on the conv layers and average pooling layer, but now was able to correct them. The corrected code that ran looks like this:
[code]
Note that AveragePooling2D needed to be fixed up to 'channels_first'. You had indicated earlier that you thought this should be NCHW but since that was the default

[2019-10-23 03:45] koroman17 commented on #2046
@kangyizhang

sorry, cause i misunderstood that my computer had been 32bit so i had installed node 32bit @@
when i realized that, i have reinstalled the node to 64bit and i've got this error

i checked that file and it does exist
i used this tool [dependencywalker.com](url) to verify `tfjs_binding.node` and it shows that more than two thirds of dll files cannot be found, including those files from

[2019-10-23 03:57] wingman-jr-addon commented on #2254
Sounds quite a bit like [this StackOverflow post with no answer yet](https://stackoverflow.com/questions/55573051/getting-error-of-input-count-mismatch-while-getting-predictions-from-pretrained).

[2019-10-23 04:18] wingman-jr-addon commented on #2127
Well, `tensorflowjs_converter` seems to call this out as expected behavior and indicates that might be one reason to use tfjs_layers_model-to-tfjs_layers_model conversion.

See [https://github.com/tensorflow/tfjs/tree/master/tfjs-converter](https://github.com/tensorflow/tfjs/tree/master/tfjs-converter). I'm not sure it preserves the original shard sizes, though, as it seems to split based on size.

[2019-10-23 04:23] joyicejin commented on #2205
Hello, did you set the data_format of backend keras config in ~/.keras/keras.json for channels_first, I also set the config there, then I got 1.31
but if I set the data_format:channel_last in ~/.keras/keras.json, I got the same result of -1.028
So I recommand you to set the data_format:channel_first in ~/.keras/keras.json
Thank you very much
![image](https://user-images.githubusercontent.com/32789

[2019-10-23 04:39] wingman-jr-addon commented on #2205
Well, I guess what I'm trying to say is that I think we now have an idea what the underlying issue is: channel ordering. I can set the data format in keras.json but since I can already both correctly and incorrectly reproduce the results, I'm not sure quite what the next step is.

From observing both Keras's `model.getConfig()` and Tensorflow.js's `model.json`, it appears they both support channel

[2019-10-23 04:41] wingman-jr-addon commented on #2205
(Also, as a reference point, "channels_first" [does not seem to be supported for Tensorflow](https://stackoverflow.com/questions/57168631/does-keras-convolution-option-channels-first-work-with-tensorflow), so might be out of luck if the same is true for Tensorflow.js?)

[2019-10-23 05:57] joyicejin commented on #2205
Yes, you're right, I checked out it's flatten layers,
` flatten = Flatten(data_format='channels_first')(block1)`
just adding this code, you can get 1.31, the same as the global result.

[2019-10-23 06:30] joyicejin commented on #2205
So can I image that the channel first order of flatten layers in JS affects the results of -1.0285?
Because you see setting the conv, pooling,and flatten layers channel first, we can get 1.31,
But, if we only set the conv and pooling layers channel first, we can get the same result with JS -1.0285.

[2019-10-23 08:47] mike-hor commented on #2254
me too!!!!
i used so many ways,include tfjs-convert 0.8.6(but it can't install)
no way to resolved it.
just give me a error
![image](https://user-images.githubusercontent.com/17822235/67374992-912bdc80-f5b4-11e9-9686-d24d745275ac.png)

**My Version**
tensorlfow 1.14.0
tfjs-convert 1.2.6

[2019-10-23 10:17] janosh commented on #1516
@DirkToewe Thanks for that implementation. My matrices are indeed small. I refactored your code a little and ran some tests which had round-off errors. Tried out different `dtype`s but that didn't help. Is this unavoidable with `tf.linalg.qr`?

[code]

Also, [`tf.linalg.inv`](https://www.tensorflow.org/api_docs/python/tf/linalg/inv) should probably be on the list as well.

[2019-10-23 11:42] DirkToewe commented on #1516
@janosh Added it to the list as well.

TFJS - sadly - only supports `float32`. And `float32` is scarily inaccurate. The [machine epsilon](https://en.wikipedia.org/wiki/Machine_epsilon) is only `1.1920928955078125e-7`, i.e. the next larger number after `4` is `4.000000476837158`. Considering that, the results seem to be within the margin of error.

[2019-10-23 14:31] alien35 commented on #2254
Same. hoping tensorflowjs==1.2.11 will fix it.

[2019-10-24 00:17] cifkao opened #2263 ""Cannot compute the outputs" for dynamic ops (TensorArrayStack)"
### TensorFlow.js version

1.2.11

#### Browser version

Google Chrome Version 77.0.3865.120 (Official Build) (64-bit)

#### Describe the problem or feature request

I have a graph model (built using `tf.contrib.seq2seq`) which uses control flow ops for dynamic RNN decoding. I exported it with TF 1.15 (using `simple_save`) and converted with TF.js 1.2.11 (command: `tensorflowjs_converter --input_f

[2019-10-24 03:12] faceshape commented on #2194
Running into the same issue as well, @annxingyuan , do you know when there will be a next release for core ? If it's going to take a long time, are there any instructions on how to build a local version?

I've tried doing the `npm run publish-local` in each of the *-core,-layers,-converter,-data packages, but then I run into:

`tf-core.esm.js:17 Uncaught (in promise) TypeError: Nt.makeTensor is no

[2019-10-24 04:58] wingman-jr-addon commented on #2205
Well, if you haven't got it working in Tensorflow.js yet, I have good news! I did get it working with a hack. Steps are very close to your original code.

1. I create network in code, as your original code did.
2. However, I add a Permute layer before the Flatten step. I do this because Flatten on the Tensorflow.js does not seem to respect data_format one way or the other. See [here](https://githu

[2019-10-24 05:47] wingman-jr-addon commented on #2254
Well, I poked at this a bit. There is a related issue #1793 that gets most of the way to the final answer. Basically, we just need to specify the input and output node names and all is well:
[code]
This produced the following for me with no errors:
[code]
This was with tfjs 1.2.10 and tensorflowjs_converter from tensorflowjs 1.2.10.1.

[2019-10-24 06:23] ychen0901 commented on #2254
@wingman-jr-addon Thank you! This workaround works for me!
Still hope this can be fixed by tfjs team.

[2019-10-24 07:35] isaac-fisher commented on #2157
Thanks!

[2019-10-24 09:23] annxingyuan commented on #2194
Hi @faceshape - yes to build a local version of core, cd into the tfjs-core directory and run:

`yarn build && rollup -c`

Then you should find a copy of tf-core.js in your local `dist` directory.

[2019-10-24 09:55] joyicejin commented on #2205
Well, that's really a big surprise for me and thank you!

If we can do something like this, it's all the better.

Thank you once again for all your given idea and support in this issue.

[2019-10-24 13:20] alien35 opened #2265 "Unknown op 'NonMaxSuppressionV5'"
To get help from the community, we encourage using Stack Overflow and the [`tensorflow.js`](https://stackoverflow.com/questions/tagged/tensorflow.js) tag.

#### TensorFlow.js version
I'm using <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@1.2.11/dist/tf.min.js"></script>
#### Browser version
Chrome 78
#### Describe the problem or feature request
I'm trying to run an object detection m

[2019-10-24 13:21] alien35 commented on #2254
Thanks, that worked for me too, though now I'm getting this error. Anyone else? https://github.com/tensorflow/tfjs/issues/2265

[2019-10-24 15:02] kingsleyljc opened #2266 "Ubuntu failed to run tfjs demo downloaded from tfjs"
I've downloaded a demo called 'iris' and followed the README.md.
But it failed to run due to some ERROR.
ubuntu --version 18.0.4
yarn --version 1.19.1
nodejs --version 13.0.1
![微信截图_20191024225833](https://user-images.githubusercontent.com/48885821/67498336-d71a9a80-f6b1-11e9-9e92-f31238696317.png)
![微信截图_20191024225913](https://user-images.githubusercontent.com/48885821/67498399-f4e7ff80-f6b1-11e

[2019-10-24 15:02] kingsleyljc commented on #2266
I don't what the problem is? Is it due to yarn?

[2019-10-24 17:29] rthadur commented on #2263
Hi there is a known bug with `executeAsync` specified here in #1793 , for it to work you may need to specify the output nodes please refer [here](https://github.com/tensorflow/tfjs/issues/2254#issuecomment-545755315).

[2019-10-24 17:34] kangyizhang commented on #2266
Looks like your linux is missing some standard header files and tools. Try to run `sudo apt install build-essential` and then try again.

[2019-10-24 18:26] cifkao commented on #2263
Hi, thanks for the response. I'd seen that issue before and I'm already specifying the output nodes like this:

[code]

I can, for example, get the encoder outputs by passing "encoder_rnn/rnn/transpose_1", but there seems to be some issue with the decoder... I'm guessing the graph may be broken by the conversion.

Is there some way to get more information from the executor to see what exactly is p

[2019-10-24 19:55] neilreid opened #2267 "IndexError: list index out of range when converting tf_saved_model to tfjs_graph_model"
#### TensorFlow.js version
1.2.10

#### Describe the problem or feature request
After retraining Mobilenet V2_100_224 using https://github.com/tensorflow/hub/blob/master/examples/colab/tf2_image_retraining.ipynb above error occured
#### Code to reproduce the bug / link to feature request
https://github.com/tensorflow/hub/blob/master/examples/colab/tf2_image_retraining.ipynb
#### Last few debug lin

[2019-10-24 21:08] #2187 closed

[2019-10-24 22:04] kangyizhang commented on #2254
Did you see any error when using `model.predict()`?

[2019-10-24 22:47] wingman-jr-addon commented on #2254
I do not get that error @alien35 and the op being referenced does not seem to show up in the model.json when converted using the OP's conversion. I'm going to head over to your referenced issue and respond there.

[2019-10-24 22:49] wingman-jr-addon commented on #2265
@alien35  Can you please post how the model was converted, etc? On the issue just referenced #2254, I see NonMaxSuppression come across, but not NonMaxSuppressionV5 so some extra details would help (along with model or at least model.json) - otherwise it's hard to reproduce.

[2019-10-25 02:50] kingsleyljc commented on #2266
@kangyizhang Thank you very much!!!!! I can run it now !!!

[2019-10-25 02:50] #2266 closed

[2019-10-25 03:38] faceshape commented on #2194
I still had the `Nt.makeTensor is not a function` problem, but when I tried just building tfjs/ directly and including that output from dist, it worked. Thanks, looking forward to the next release!

[2019-10-25 04:02] faceshape commented on #477
I'm also running into this issue, I have a fully convolutional network for segmentation and would like to avoid resizing and cropping images.

Just wondering if there's any updates? Is this going to be implemented soon ? If not, do you have any pointers on where I can look to implement it myself ?

Thanks!

[2019-10-25 11:52] ealionel commented on #2003
Hello, I have the same issue there on Windows. Although I have set the different values in the windows PATH, it will still throw the same error as op when I just try to `require('@tensorflow/tfjs-node-gpu')`.

[code]
Unlike op, I'm unable to import `@tensorflow/tfjs-node` as well. It will throw the same error as with `@tensorflow/tfjs-node-gpu` even when rebuilding with `--build-from-source`.

I h

[2019-10-25 14:00] rthadur commented on #2253
Hello, this sort of question is better suited for StackOverflow. This issues list is for bugs and feature requests. Thanks and please use the tag 'tensorflow.js' on your StackOverflow question to makes sure it's discoverable.

[2019-10-25 14:00] #2253 closed

[2019-10-25 14:16] Gautamshahi commented on #2253
Hi,

Why do you think that people have not done homework before posting here?

My code works well, but it doesn't work for TensorFlow hub.

Don't close the issue with an immature reply.

[2019-10-25 14:26] rthadur commented on #2253
Sorry that was eager closing, please use the template and open a new issue, there are lot of details missing in order for us to categorize this as a bug.

[2019-10-25 14:29] Gautamshahi commented on #2253
that's something else; I accept that I have not followed the template, don't be in a race of the active collaborator in Github.

[2019-10-25 15:04] lucnat commented on #2000
Still having this issue...any update?

[2019-10-25 15:38] caisq commented on #2000
@dsmilkov @pyu10055 Supporting `KerasLayer` will require some design. IIUC, KerasLayer wraps a TF Hub module as a Keras Layer. TF.js should have all the machinery to execute a GraphModel as a part of LayerModel, but this needs to be wired together. How that should be done needs to be thought through. Potential subtleties include:
1) signature-related issues
2) re-serialization
3) should their be a

[2019-10-25 16:24] dsmilkov opened #2272 "Browserstack Windows with Chrome 78.0 has no WebGL"
To unblock our CI tests, we are temporarily locking the Chrome version to 77.0 to fix browserstack WebGL failure on Windows on Chrome 78.0. This is a tracking issue to make sure we revisit and revert this fix later.

[2019-10-25 16:52] kangyizhang commented on #2003
hi @ealionel

When you are installing either @tensorflow/tfjs-node or @tensorflow/tfjs-node-gpu, can you confirm what's in the folder ` C:\Travail\tensorflow_js_test\node_modules\@tensorflow\tfjs-node-gpu\lib\napi-v4`?

You can try some actions that helped other users:
1. Make sure window build tool are installed: `npm install -g --production windows-build-tools`
2. Reopen the terminal/reboot syst

[2019-10-25 17:17] rthadur commented on #2239
@jt4000 were you able to verify this ?

[2019-10-25 17:52] dsmilkov commented on #1513
Hi everyone,

Thanks so much for your patience. I'm really excited to announce that our integration with AutoML is now public. See the [blog post](https://medium.com/tensorflow/build-and-deploy-tensorflow-js-models-with-the-power-of-automl-1985b8985083) which has pointers on how to train and export your model to TensorFlow.js.

Few things to note:
- With this integration, you don't need to export

[2019-10-25 17:52] #1513 closed

[2019-10-25 19:43] #1620 closed

[2019-10-25 20:00] tylerzhu-github commented on #2184
https://github.com/tensorflow/tfjs-models/pull/304
https://github.com/tensorflow/tfjs-models/pull/334

[2019-10-25 20:07] tylerzhu-github commented on #2185
Won't fix. The decision is to have 4 strings: "low", "medium", "high", "full" and a number represent scaling percentage.

[2019-10-25 20:07] #2185 closed

[2019-10-25 20:15] tylerzhu-github commented on #2188
Won't fix. This feature is no longer needed.

[2019-10-25 20:15] #2188 closed

[2019-10-25 22:46] #2227 closed

[2019-10-26 10:38] JoaquinKeller opened #2276 "Bug report: complex64 multiplication outputs spurious results with NaNs"
#### TensorFlow.js version
1.2.11, nodejs  v13.0.1
#### Describe the problem or feature request
multiplication fails for tensors with complex64 dtype

#### Code to reproduce the bug / link to feature request
[code]
output:
[code]
Edited to take into account @rthadur remark

[2019-10-27 00:23] logan-lieou opened #2277 "Can't install tfjs"
#### 2.0.0

#### Firefox

#### Cannot install tfjs

I'm trying to use node to fun tfjs and it says that I don't have the package after I attempt to install it with npm, where I get an error and I don't know how to get this to work.

#### Code to reproduce

[code]
![image](https://user-images.githubusercontent.com/20232318/67627659-fa665680-f825-11e9-9220-4d8b3cb93440.png)

![image](https://user-im

[2019-10-27 01:53] wingman-jr-addon commented on #2254
@ychen0901 Do you feel this can be closed? I know you had indicated that you'd like to see it fixed, but I'm not 100% sure that inferring the input and output nodes is a bug - was this a regression in behavior from a previous version?

[2019-10-27 03:56] kangyizhang commented on #2277
hi @logan-lieou
Can you paste the full error message? Looks like you installed the package in `c:\Users\eeayo` and tried to load it in `e:\Git Projects\Learning-ML\General\Day_6\program_1.js`

[2019-10-27 11:57] crystalfp opened #2278 "Single pose on-line demo wrong x direction"
To get help from the community, we encourage using Stack Overflow and the [`tensorflow.js`](https://stackoverflow.com/questions/tagged/tensorflow.js) tag.

#### TensorFlow.js version
The one in the [on-line demo](https://storage.googleapis.com/tfjs-models/demos/posenet/camera.html) today (2019-10-27)

#### Browser version
Firefox 70.0 64bits

#### Describe the problem or feature request
Multi-pose

[2019-10-27 17:09] logan-lieou commented on #2277
![image](https://user-images.githubusercontent.com/20232318/67638487-abb2ce00-f8b2-11e9-938c-54ddb88e9126.png)

[2019-10-27 19:40] rthadur commented on #2276
@JoaquinKeller i was not able to reproduce, please check below

![image](https://user-images.githubusercontent.com/43972606/67640293-f6cee000-f8b6-11e9-8c03-369cbab532a3.png)

[2019-10-27 23:33] kangyizhang commented on #2277
@logan-lieou did you see the @tensorflow/tfjs-node folder in your node_modules?

[2019-10-27 23:52] JoaquinKeller commented on #2276
@rthadur thanks for checking, since your screenshot shows a browser I tested there and I discovered that the behaviour is different:
In the browser (chrome, firefox) there is no error
in node (v10.13.0,​​ v13.0.1) the error fires

[2019-10-28 01:53] JoaquinKeller commented on #2276
I've updated to tfjs 1.3.0 : the error is still there

[2019-10-28 09:30] BKHMSI opened #2279 "The support for masking is not implemented for Bidirectional layers yet"
#### TensorFlow.js version
1.2.11
#### Browser version
Chrome 78.0

#### Describe the problem or feature request
I converted a keras model that contains a Bidirectional LSTM layer with `mask_zero=True` in its previous Embedding layer. I converted the model using the [tensorflowjs_convertor](https://www.tensorflow.org/js/tutorials/conversion/import_keras), and it loads as expected (outputs the mode

[2019-10-28 09:49] ealionel commented on #2003
Hi @kangyizhang, thank you for you answer

In `C:\Travail\tensorflow_js_test\node_modules\@tensorflow\tfjs-node-gpu\lib\napi-v4` I confirm that `tfjs_binding.node` is in that folder when installing @tensorflow/tfjs-node-gpu.

I also tried installing window-build-tool but it doesn't change anything to the error described above. CUDA's path seem to be set correctly, doesn't change anything neither,

[2019-10-28 17:49] kangyizhang commented on #2003
@ealionel You don't need to add anything else other than CUDA path and CUDNN.

Can you try to
1) fork this repo,
2) go to tfjs-node
3) run `yarn && yarn test` and paste the output here?

[2019-10-28 21:34] rthadur commented on #332
@caisq do you have any comments on this or can we close this issue ?

[2019-10-28 22:04] rthadur commented on #322
@FenrirWillow are you planning to submit a another PR for this ?

[2019-10-28 22:32] rthadur commented on #293
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-10-28 22:40] rthadur commented on #1795
@li-yinan is this still an issue ? were you able to try above solution

[2019-10-28 22:43] rthadur commented on #1624
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-10-28 22:43] #1624 closed

[2019-10-28 22:46] rthadur commented on #1372
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-10-28 22:46] #1372 closed

[2019-10-28 22:48] rthadur commented on #865
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-10-28 22:48] #865 closed

[2019-10-28 22:52] rthadur commented on #486
There is a similar issue opened with this feature request , we will close this and track the other one.
#574

[2019-10-28 22:52] #486 closed

[2019-10-29 03:31] pyu10055 commented on #2263
@cifkao Thank you for reporting the issue, this might related to our model analyzer having issue with TensorArray ops. Do you have the converted op that can be shared for us to reproduce?

[2019-10-29 11:54] cifkao commented on #2263
@pyu10055 Below is the converted `TensorArrayStack` op.

[code]

[2019-10-29 12:39] cifkao commented on #2263
I was able to get a complete example. I'm attaching the [SavedModel protobuffer](https://github.com/tensorflow/tfjs/files/3783528/saved_model.pb.gz) and the [converted model](https://github.com/tensorflow/tfjs/files/3783529/model.json.gz).

[2019-10-29 13:37] ptrlaszlo opened #2286 "PoseNet stopped working"
To get help from the community, we encourage using Stack Overflow and the [`tensorflow.js`](https://stackoverflow.com/questions/tagged/tensorflow.js) tag.

#### TensorFlow.js version
1.3.0 (posenet 2.1.3)
#### Browser version
Firefox 69.0.3
#### Describe the problem or feature request
The [script tag example](https://github.com/tensorflow/tfjs-models/tree/master/posenet#via-script-tag) and any oth

[2019-10-29 16:59] kesar commented on #2286
same here 👍

[2019-10-29 17:00] kesar commented on #2240
waiting for v2 on cdn too 👍

[2019-10-29 17:08] Reiss-Cashmore commented on #1418
+1 I would be interested in training a posenet model using a game engine like unity. That way I can easily script particular poses and animations on humanoid models, from all different angles. Then render that using an engine like unity and push the output frames through posenet with annotations or metadata powered from the values within unity about the humanoid joint positions and rotations.

See

[2019-10-29 17:36] pyu10055 commented on #2263
@cifkao can you provide the whole directory of the saved_model, also the weights files for the tfjs converter model? Thanks.

[2019-10-29 17:56] rthadur commented on #2286
Thank you for reporting , I was also able to verify this.@tafsiri @nsthorat  there are some version upgrades in tfjs to 1.3.0 is this something to do with this error ?

![image](https://user-images.githubusercontent.com/43972606/67794750-68836700-fa3a-11e9-9f6d-d6b179f340e0.png)

[2019-10-29 18:03] rthadur commented on #2286
@nsthorat thank you ,I tried in older version , same problem.

[2019-10-29 18:26] pyu10055 commented on #1592
v1 and v2 saved models are supported

[2019-10-29 18:26] #1592 closed

[2019-10-29 18:27] pyu10055 commented on #1569
this is fixed upstream in the latest TF 1.15 and 2.0

[2019-10-29 18:27] #1569 closed

[2019-10-29 19:32] ychen0901 commented on #2254
@wingman-jr-addon Hello, the input and output nodes are not required in earlier versions of the converter. As far as I know, the original code "this.model.executeAsync(tf.zeros([1, 300, 300, 3]))" works well with model converted by tensorflowjs 0.8.0.

[2019-10-29 21:27] cifkao commented on #2263
@pyu10055 Sure, here's everything:
* [export.tar.gz](https://github.com/tensorflow/tfjs/files/3785892/export.tar.gz)
* [export_web.tar.gz](https://github.com/tensorflow/tfjs/files/3785894/export_web.tar.gz)

[2019-10-29 21:51] pyu10055 commented on #2212
@CharlesCousyn the files generated by darkflow are TensorFlow frozen graph format, not the saved model format.
We have added frozen model support recently, you will need to wait for the next release of the pip package, but the usage is as following:

[code]

[2019-10-30 00:03] rthadur commented on #2075
@PiyushRamuka were you able to run this on windows PC ?

[2019-10-30 01:18] #2055 closed

[2019-10-30 01:37] wingman-jr-addon commented on #2254
Thanks @ychen0901 - @pyu10055 I see you've been taking action on #2287. Anything else we need here?

[2019-10-30 02:24] nsthorat commented on #2286
We just released 1.3.1 which should now work with the latest posenet (make sure you explicitly upgrade tfjs if you are using a lock file since the latest posenet depends on ~1.3.0).

[2019-10-30 04:26] haoyunfeix commented on #1639
I'd like help on this one.

[2019-10-30 04:59] #2254 closed

[2019-10-30 06:03] hsparrow commented on #841
@pyu10055 Hi, I also got the same error `Error: Error in concat1D: rank of tensors[6] must be the same as the rank of the rest (1)` when loading the converted model. Here is the configuration:
**Version:**
tfjs-converter@1.3.1
tfjs-core@1.3.1
**Conversion:**
`tensorflowjs_converter --input_format=tf_saved_mode --saved_model_tags=serve ./saved_model ./web_model`
**Screenshot:**
![error](https://use

[2019-10-30 07:24] ptrlaszlo commented on #2286
Thank you! Works with 1.3.1

[2019-10-30 09:09] ashinzekene opened #2298 "speech commands no longer working"
[code]

Returns error :
`https://storage.googleapis.com/tfjs-models/tfjs/speech-commands/v0.4/browser_fft/directional4w/metadata.json` NOT FOUND

![image](https://user-images.githubusercontent.com/20991583/67843938-338c1880-fafd-11e9-8ad8-fabde71f517d.png)

`https://storage.googleapis.com/tfjs-models/tfjs/speech-commands/v0.3/browser_fft/directional4w/metadata.json` works however

[2019-10-30 09:54] ealionel commented on #2003
@kangyizhang thanks, here are the output of it, same error though
[code]
I confirm that `lib/napi-v4/tfjs_binding.node` has been built into that folder

[2019-10-30 13:09] caisq commented on #2298
This should be fixed now. Sorry for the breakage.

[2019-10-30 13:09] #2298 closed

[2019-10-30 13:11] caisq opened #2299 "GraphModel benchmark is failing: "TypeError: Cannot read property 'producer' of undefined""
#### TensorFlow.js version
1.3.0

Starting today, we're seeing this error when the step "3/26: dense-tiny_GraphModel" of the nightly benchmark runs:

LOG: '3/26: dense-tiny_GraphModel'
Chrome 78.0.3904 (Linux 0.0.0) TF.js Layers Benchmarks Benchmark models FAILED
	TypeError: Cannot read property 'producer' of undefined
	    at <Jasmine>
	    at GraphModel.<anonymous> (/tmp/karma-typescript-bundle-

[2019-10-30 13:12] caisq commented on #2299
cc @nsthorat @dsmilkov

[2019-10-30 14:10] Glunky opened #2300 "loadLayersModel method doesn`t work."
Hi!
 Im trying to load my model which located in my computer like demonstrating [here](https://www.tensorflow.org/js/guide/save_load#native_file_system_nodejs_only_2). My string is `model = await tf.loadLayersModel('file:///home/ilya/Downloads/node-webrtc-examples-master/model.json');` But i get an error: `(node:5208) UnhandledPromiseRejectionWarning: TypeError: Only absolute URLs are supported`.

[2019-10-30 15:17] #2300 closed, assigned to rthadur

[2019-10-30 15:41] Pankaj01998 opened #2301 "Getting error while using for firefox extension"
import * as tf from "@tensorflow/tfjs";

the above code deos not import the module and also by adding this line in my firefox extension my whole code doesn't work. Please help.

`tensorflow.js`

[2019-10-30 16:10] Glunky commented on #2300
No, Im not, I used await in async function. Just I pasted only string with my path. Ok, will try find out in StackOverflow audience.

[2019-10-30 16:32] nsthorat commented on #293
This is something we're still planning on doing.

[2019-10-30 17:16] kangyizhang commented on #2003
hi @ealionel

I can reproduce the error on a new windows machine (though it works on the windows machine we use to develop). I'll try to figure out the reason.

[2019-10-30 17:17] kangyizhang commented on #2003
@DouglasLivingstone do you see the same error with tfjs-node for version 1.2.9 or 1.2.10?

[2019-10-30 20:52] rthadur commented on #2301
Tried using import statement in Firefox and it somehow does not like it , its nothing to do with tfjs specific ,it is same for other import statements.
Probably this question can be asked in stack overflow where there is larger community who can help you,Thank you.

[2019-10-30 21:00] ychen0901 commented on #2254
Great! Thank you @wingman-jr-addon  and @pyu10055 !

[2019-10-31 02:46] jahanpd opened #2302 "Support for BoostedTrees"
Would it be possible to get support for ops for the built in TF estimators. Eg BoostedTrees needs support for the following ops:
BoostedTreesQuantileStreamResourceGetBucketBoundaries, ParseExample, BoostedTreesBucketize, BoostedTreesEnsembleResourceHandleOp, BoostedTreesQuantileStreamResourceHandleOp, AsString, BoostedTreesPredict

To get help from the community, we encourage using Stack Overflow

[2019-10-31 11:37] gitathrun commented on #2177
@tafsiri Hello, any progress on this topic?

[2019-10-31 12:15] JoshNewham1 commented on #2003
I'm having the exact same issue on a new Windows machine under Node v12.13.0. I've installed Python 2 and the dev tools with absolutely no problems. I can build the bindings and can confirm that they exist, but I get the same import error. This is with TFJS-Node version 1.3.1.

On my other system, I managed to get it to work perfectly with Node v10.16.3, TFJS v1.2.11 and TFJS Node v1.2.9. I've no

[2019-10-31 12:22] adwellj commented on #2003
I too had problems running newer versions of tfjs on newer versions of Node on Windows 10.

Node v10.17.0 and tfjs 1.2.11 would produce a 'module not found' error when trying to `require("@tensorflow/tfjs-node")`.
Node v10.16.3 and tfjs 1.2.11 will work though, as JoshNewham1 mentioned above.

[2019-10-31 13:57] caisq commented on #1903
Frankly, I don't think I'll personally have the cycles to fix this. So contribution will be welcome. I added tags to this issue to reflect that.

[2019-10-31 17:33] caisq commented on #1976
Note that `log_loss` or `logLoss` is not a built-in, string-accessible loss function in keras or tensorflow.keras either. So this primarily a doc issue. Decreasing the priority.

[2019-10-31 20:11] thohag commented on #2003
I have the same error running tfjs-node@1.3.1 with node 12.13.0.
Using node 10.16.3 seems to fix it.

[2019-10-31 22:13] CharlesCousyn commented on #2212
Thanks!

[2019-10-31 22:13] #2212 closed

[2019-11-01 04:05] logan-lieou commented on #2277
![image](https://user-images.githubusercontent.com/20232318/68001636-ead67b80-fc32-11e9-9921-2a0fd339a698.png)
No is there supposed to be something in here...

[2019-11-01 16:23] kangyizhang commented on #2277
Change check the `node_modules` folder in `e:\Git Projects\Learning-ML\General\Day_6`?
Looks like you installed the package in another place (`c:\Users\eeayo`).

[2019-11-01 16:29] #2299 closed

[2019-11-02 05:13] pyu10055 commented on #1898
@aohan237 sorry for the delay, it would be great if you can provide the saved model for me to reproduce the problem. Thanks

[2019-11-02 05:14] pyu10055 commented on #1771
The prelu fusing has been added as the conversion step in the python code.

[2019-11-02 05:14] #1771 closed

[2019-11-02 05:18] pyu10055 commented on #2267
@neilreid can you give a try with the latest tensorflow.js converter pip (1.3.1.1), there couple fixed added and we are relying on TF 1.15.
Please let us know if you still see the problem, and if possible please provide the saved model files directly, thanks.

[2019-11-02 05:30] pyu10055 commented on #2263
@cifkao  I was able to run your model with the fix above.
I got following result
[122, 122, 122, 122, 122, 122, 122, 121, 122, 122, 122, 122, 122, 121, 122, 122, 122, 122, 121, 122, 122, 122, 122, 121, 122, 122, 122, 121, 122, 122, 122, 121, 122, 122, 122, 121, 122, 122, 122, 121, 122, 122, 122, 121, 122, 122, 122, 121, 122, 122]

Please let me know if it matches your python output, thanks.

[2019-11-02 09:50] TechnoDezi commented on #1370
Hi

I managed to get tfjs-node running on a raspberry pi 4. You can check out my blog post: [https://technodezi.co.za/Post/running-face-apijs-or-tfjs-node-on-a-raspberry-pi-and-nodejs](https://technodezi.co.za/Post/running-face-apijs-or-tfjs-node-on-a-raspberry-pi-and-nodejs)

It's running a little slow, but at least it's running. It all comes down to getting the build from source correct. If you

[2019-11-02 10:54] cifkao commented on #2263
@pyu10055 Perfect!

I got a different output, but I assume it's because the random generators are different. Can you try the deterministic output `"decoder/decode_sample/decoder/transpose_1"`? That gave me:
[[ 37  37 162  73 162  55  55  55  55  55  55  55  55  55  55  55  55  55
   55  55  55  55  55  55  55  55  55  55  55  55  55  55  55  55  55  55
   55  55  55  55  55  55  55  55  55  55  55

[2019-11-02 10:56] cifkao commented on #2263
(Updated the comment above, it should be greedy instead of sample.)

[2019-11-02 15:35] pyu10055 commented on #2263
yes, that is the exact result I got
[37, 37, 162, 73, 162, 55, 55, 55, 55, 55, 55, 55, 55, 55, 55, 55, 55, 55, 55, 55, 55, 55, 55, 55, 55, 55, 55, 55, 55, 55, 55, 55, 55, 55, 55, 55, 55, 55, 55, 55, 55, 55, 55, 55, 55, 55, 55, 55, 55, 55]
length: 1
__proto__: Array(0)

[2019-11-02 15:39] pyu10055 commented on #2263
You have some Assert ops in your model, it would be ideal to avoid them, since it will slow down the model. Our converter automatically convert them to no-op by default, which is causing the issue you are having.

[2019-11-03 05:36] wingman-jr-addon commented on #2301
@Pankaj01998 I use it in Firefox extension by pulling down the minified version and referencing it directly in the scripts section like [this](https://github.com/wingman-jr-addon/wingman_jr/blob/3be3f782b7653069852220f272e981587bca1da0/manifest.json#L17).
Please also note that if you go this route you will need to make note of source code lineage during the plugin review process.

[2019-11-03 10:32] eightmillimeter commented on #704
Hi all,

I'm facing an issue which I believe related to this discussion.
I have tensorflow 1.14.0 in my machine (Ubuntu 18.04)
When I run pip install tensorflowjs or pip3 install tensorflowjs (I tried both)
I'm getting the below error message:

Collecting tensorflow==1.15.0 (from tensorflowjs)
  Could not find a version that satisfies the requirement tensorflow==1.15.0 (from tensorflowjs) (from ve

[2019-11-03 13:58] emosGambler commented on #1912
Hey, I've managed to remove all the console issues while npm install by doing the following:

1) Remove node_modules/
2) npm install -g yarn // because it is required to install some packages
3) Install python // https://www.python.org/downloads/
4) Install Visual Studio + Desktop development with c++
5) restart your PC
6) npm install @tensorflow/tfjs-node-gpu @tensorflow/tfjs

Problem went away a

[2019-11-04 01:00] wingman-jr-addon commented on #2205
@rthadur @caisq Giving this a poke since it's been over a week. The immediate support case has a workaround and can be resolved; however, this likely points to a need to do something further. I can see this being followed up on in a few ways but I'm not sure which one:

1. Enter a bug like "Flatten layer should respect data_format"
2. Enter a bug like "Converter should warn that Flatten does not s

[2019-11-04 01:12] wingman-jr-addon commented on #2127
@Neuroforge Any luck? My reading leads me to believe that this is expected behavior. This issue has been tagged as support, so perhaps if you feel strongly about it you can enter an issue wording this as a new feature request and it can be addressed that way. If you go that route, it might also be good to list your use case too so others can see why you are wanting it to work this way.

[2019-11-04 03:49] wingman-jr-addon commented on #2265
@alien35 Can you please add enough details to reproduce the issue?

[2019-11-04 08:07] khodjabekova commented on #2117
@zzj0402 have you solve it? i've got the same issue((

[2019-11-04 09:46] freezen opened #2315 "Question about GPU acceleration"
I use "@tensorflow-models/coco-ssd" to predict a cat in electron.

First time, I enable the webGL.
Second time , I disable the webGL.

I enable/disable by below config
![image](https://user-images.githubusercontent.com/1651050/68111684-b01e5d00-ff2a-11e9-8d49-2b0e712b23ff.png)

But I find that it cost same time to do the scoring, about 5s~6s. But why? Any ideas? Thx.
Environment: Macbook 15 Pro

[2019-11-04 09:57] cifkao commented on #2263
@pyu10055 Thanks! Is there an easy way to remove the asserts from the graph? (They're added by `tf.contrib.seq2seq`.)

[2019-11-04 15:21] toadman667 opened #2317 "tensor.print() shows incorrect ending values for long 'complex64' tensors"
#### TensorFlow.js version
1.3.1

#### Browser version
Safari, Version 13.0.3 (15608.3.10.1.4)

#### Describe the problem or feature request
.print() on a large complex64 tensor returns incorrect results for tail values. In particular, for 1D tensors if the length is N and even, the printed tail values show the values leading up to N/2. If N is odd, the real and imaginary parts also get swapped.

[2019-11-04 15:36] dsmilkov commented on #2302
Hi, thanks for the issue.

Since we are focusing on neural nets, and trying to keep the library small, the best place for BoostedTree ops would be as a separate third-party library (outside the core TF.js library).

[2019-11-04 15:36] #2302 closed

[2019-11-04 17:49] gitathrun commented on #2177
@tafsiri Hello, I have tried with the same configuration but react-native version 0.60.

The result is the same, caused by require cycle of fetch:
![image](https://user-images.githubusercontent.com/22137687/68144385-7732b800-ff2b-11e9-8cb5-d10f12c4531e.png)

[2019-11-04 18:37] ilhan-mstf opened #2322 "Problem converting tensorflow saved_model to tensorflowjs"
#### TensorFlow.js version
1.3.1.1

#### Browser version
N.A.

#### Describe the problem or feature request
I want to convert trained python model (.pb) to tensorflowjs model. To accomplish this, first I saved the model with estimator.export_savedmodel function, then I run the tensorflowjs_converter command on Google Colab. However, no file is created for tensorflowjs. The conversion also gives a

[2019-11-04 18:58] sebtronik opened #2323 "Unsupported Ops: NonMaxSuppresionV5 when converting model"
To get help from the community, we encourage using Stack Overflow and the [`tensorflow.js`](https://stackoverflow.com/questions/tagged/tensorflow.js) tag.

#### TensorFlow.js version
1.15

#### Browser version
N/A

#### Describe the problem or feature request
Trying to convert a python model (.pb) with tensorflowjs and getting this error:

`ValueError: Unsupported Ops in the model before optimizat

[2019-11-04 19:07] pyu10055 commented on #2263
@cifkao in that case you can rely on our converter to do that, and the fix I had will fix your issue.

[2019-11-04 19:09] pyu10055 commented on #2265
@alien35 can you also specify all library versions you are using, including TF and TFJS. thanks.

[2019-11-04 19:12] pyu10055 commented on #2323
@sebtronik NonMaxSuppressionV4 and NonMaxSuppressionV5 have some new outputs that our current kernel does not support. @dsmilkov

[2019-11-04 19:24] #168 closed

[2019-11-04 19:28] pyu10055 commented on #841
@hsparrow did you retrain the ssd model? If so can you share the saved model directory with me? I would be easier to debug the issue, thanks.

[2019-11-04 20:04] zzj0402 commented on #2117
@kangyizhang More information on what?

[2019-11-04 20:10] zzj0402 commented on #2117
@khodjabekova Sorry it has been too long ago. I think I must have solved it somehow. I can look into your code if you need.

[2019-11-04 21:11] rthadur commented on #704
@eightmillimeter did you try this steps [above](https://github.com/tensorflow/tfjs/issues/704#issuecomment-425166438) with latest version ?

[2019-11-04 21:52] tafsiri commented on #2177
Hi @gitathrun sorry for the delay in looking into this. I tried to reproduce this but was unable to do so exactly.

In debug mode, I don't get the require cycle warning related to `fetch`.

To help debug I created a branch https://github.com/tensorflow/tfjs/tree/2177-bundleResourceIO where the [integration app](https://github.com/tensorflow/tfjs/tree/2177-bundleResourceIO/tfjs-react-native/integra

[2019-11-04 22:06] rthadur commented on #2317
@dsmilkov i was able to reproduce above when N >= 21. I tested in tensorflow core and there seems to be no issue.

[2019-11-04 22:23] rthadur commented on #2322
@ilhan-mstf i believe the above missing ops are not yet supported in tensorflowjs , this should be a feature request cc @pyu10055  @annxingyuan

[2019-11-04 23:16] #2263 closed

[2019-11-05 00:24] pyu10055 commented on #1445
this file has been removed after moved to json format.

[2019-11-05 00:24] #1445 closed

[2019-11-05 04:53] hsparrow commented on #841
@pyu10055 Yes! I retrained the ssd model on a new dataset. Since the saved model directory is larger than what Github allows, I shared it on google drive: [model](https://drive.google.com/drive/folders/1lbSJFLN6zg9Qe2UU4BRVHJlleNj2WgEn?usp=sharing).

Here are some updates:
I change the module import from js to script import in html as follows:
[code]
The error remains the same, however, it occurs

[2019-11-05 07:42] eightmillimeter commented on #704
@rthadur I tried and it worked. I guess I skipped that post. Thanks for your help.

[2019-11-05 09:39] ljjumper commented on #2046
If you are following the **TensorFlow pitch tutorial** ([](https://codelabs.developers.google.com/codelabs/tfjs-training-regression)) by accident like I did with these errors, consider deleting `@tensorflow/tfjs-node` and `@tensorflow/tfjs` (which wasnt included in my package.json by default following the guide) and reinstall them seperately again. This worked for me at least. yw

[2019-11-05 10:15] gitathrun commented on #2177
Hi, @tafsiri , thanks for the reply.

To your questions:

**Is it possible that you have another dependency loading a fetch library/polyfill? Could you post your package.json?**

My package.json
[code]

Might be the ``` "@tensorflow-models/mobilenet": "^2.0.4", ``` got us into the issue? Since it do requie the developer to access internet and fetch the mobilenet model+weight from google storage?

[2019-11-05 10:22] gitunit opened #2327 "Unknown op '_FusedConv2D' with tfjs-automl using object-detection demo"
I've exported a model from AutoML and now trying to make it run with Tensorflow.js.
Im using the object_detection demo code and i replaced the link to my local model.
It has been loaded successfully but when it comes to the prediction part, it fails with the error message:

i saw a [similar issue](https://github.com/tensorflow/tfjs/issues/2054) but this was a different model and i believe running

[2019-11-05 11:35] JakeWade3 commented on #2043
Why was this issue closed? As I am waiting on one of you guys / tensor-flow guys to respond, or at least point me where I can get the original model for use with TensorFlow Lite

[2019-11-05 11:40] softwaremagico commented on #2117
@zzj0402 Yes, I would be very grateful if you can explain what is the solution.

[2019-11-05 12:23] dozeBoy commented on #2323
You can convert the model with an older version of tfjs and strip out the nonMaxSuppression nodes. After that you can implement the nonMaxSuppression operation with tfjs. Check out more details in the coco-ssd repo: https://github.com/tensorflow/tfjs-models/tree/master/coco-ssd

[2019-11-05 12:47] nsthorat opened #2328 "[WASM] Propagate error messages from WASM into JavaScript."
When an error happens with construction an XNN Operator we should have the ability to propagate the error back into JavaScript.

We can do this with function pointer callbacks and a utility method to propagate the error.

See the section here "Call JavaScript functions from C/C++": https://emscripten.org/docs/porting/connecting_cpp_and_javascript/Interacting-with-code.html

Another idea is to retu

[2019-11-05 13:27] sebtronik commented on #2323
@dozeBoy thanks i will look into it!

[2019-11-05 15:42] Glunky opened #2329 "TypeError: forwardFunc is not a function"
Hi!
I dont know does this problem apply to you, but it seems to be. If it is not, im sorry.

So here is an error and i donk know what i should to do. May you can help me?
![ucZDChN3RKQ](https://user-images.githubusercontent.com/42372955/68222272-d102b300-fffb-11e9-8425-6911314a127a.jpg)

[2019-11-05 16:05] gitathrun commented on #2177
hi, @tafsiri negative, I cant get the demo running, I got issues in bundle process:
![image](https://user-images.githubusercontent.com/22137687/68224205-12886380-ffe6-11e9-80ba-5ff9b4899f68.png)

[2019-11-05 16:28] #2071 closed

[2019-11-05 16:59] pyu10055 commented on #841
@hsparrow Thank you for providing the model. It looks like one of the constant shape is wrong for the concat1D op, and it should be converted directly from the TensorFlow saved model.
To see if we have any issues with the conversion, can you provide the TensorFlow saved model as well? Thanks

[2019-11-05 17:01] pyu10055 commented on #2327
@gitunit The _FusedConv2d op is supported after 1.13, please load the latest tfjs union package. thanks.

[2019-11-05 17:39] pyu10055 commented on #1404
CLI wizard is added.

[2019-11-05 17:39] #1404 closed

[2019-11-05 17:43] pyu10055 commented on #1394
@m4nuC reviving the thread, thank you for the interest for supporting custom classifier. I think it is a great idea, I noticed a lot of interests in ssd model, and people are struggling with how to get the model converted and create the optimized solution similar to our coco-ssd repo.
It would be very useful to setup a easier process (a script or similar) to help people get the model converted pro

[2019-11-05 18:00] dsmilkov commented on #2329
This looks like a mismatch between the version of tfjs-core and tfjs-node. Can you update to the latest `@tensorflow/tfjs` and `@tensorflow/tfjs-node`. Also it might help is to remove `node_modules` and rerun `npm install`.

[2019-11-05 18:11] tylerzhu-github commented on #2184
https://github.com/tensorflow/tfjs-models/pull/347

[2019-11-05 18:11] tylerzhu-github commented on #2184
https://github.com/tensorflow/tfjs-models/pull/347

[2019-11-05 20:16] nsthorat opened #2335 "[WASM] Move xnn delete operator to a shared util that manages the count."
Right now each kernel manages its own disposal and count. Let's share this in backend.cc and we can also use unique_ptrs to dispose the xnn operators automatically.

[2019-11-05 20:41] tafsiri commented on #2177
Thanks for the info, i've dug into this a bit more and was able to reproduce some of your errors.

- For your app could you update your tfjs version to `"@tensorflow/tfjs": "1.2.11"`. Note that there is no `^` as you need that exact version, that is the most recent version that is compatible with the current release of tfjs-react-native, this should fix the network request issue.

If that does not

[2019-11-05 21:02] Glunky commented on #2329
It works, thx))

[2019-11-05 21:02] #2329 closed

[2019-11-06 05:20] allanguys opened #2338 "mobilenet2.0.2 set modelURL:gstaticcnapps.cn，has cors error"
`
mobilenet.load({
version:1.0,
modelUrl:'https://www.gstaticcnapps.cn/tfhub-tfjs-modules/google/imagenet/mobilenet_v1_100_224/classification/1/model.json'
});
`
 **error detail:**
Access to fetch at 'https://www.gstaticcnapps.cn/tfhub-tfjs-modules/google/imagenet/mobilenet_v1_100_224/classification/1/model.json' from origin 'http://127.0.0.1' has been blocked by CORS policy: No 'Access-Control-Al

[2019-11-06 07:32] neilreid commented on #2267
thanks for the response, I will try, but there is no issue @tensoflow\tfjs@1.2.3 with tensorflow 2.0.0-dev20190605, it would be better if we move to TF2 completely.

[2019-11-06 08:07] khodjabekova commented on #2117
@zzj0402 I installed `"@tensorflow/tfjs": "^1.3.1"`,
imported it as usual
`import * as tf from '@tensorflow/tfjs';`  and run. Then I got error
`ERROR in node_modules/@tensorflow/tfjs-core/dist/backends/webgl/canvas_util.d.ts(20,61): error TS2304: Cannot find name 'OffscreenCanvas'.`

I found solution [here](https://stackoverflow.com/questions/50831981/how-to-use-offscreencanvas-in-typescript-proje

[2019-11-06 09:56] gitunit commented on #2327
isn't the object_detection demo already loading the latest? if not, how would i do that?
furthermore with [this](https://github.com/tensorflow/tfjs/blob/master/tfjs-automl/code_snippets/object_detection.html) it works but it seems very slow. could it be that it uses CPU as backend? how would i set WEBGL as backend?
i've tried by using tf.setbackend('webgl') but this has no effect. did i miss anyth

[2019-11-06 13:21] gitathrun commented on #2177
Hi, @tafsiri
I have tried the solutions you provide, it works but:
1. **It only works with react-nativer <=0.59**, for react-native >= 0.60, it would not work.
2. Even the model is loaded successfully, the require cycle yellow box still shows up, **but only once, and does not effect the loading process**.
![image](https://user-images.githubusercontent.com/22137687/68301074-13c59900-0097-11ea-9cfb-

[2019-11-06 13:53] kimvu opened #2341 "The specified module could not be found. tfjs_binding.node"
"@tensorflow/tfjs-node": "^1.3.1"
Python 2.7.17
OS: Windows 10 64bit
Browser: Google Chrome version 78.0.3904.70 (64-bit)

I tried version @tensorflow/tfjs-node@1.2.3 (answer from stackoverflow) , which doesn't have the problem, but it had other issues.

The error is procuced by a single: `require('@tensorflow/tfjs-node')`

Been trying to figure out this error for a while now, i've tried:
- npm in

[2019-11-06 14:57] alitsvin commented on #2177
I have the same issue  and keep track of discussion!

[2019-11-06 15:14] tafsiri commented on #2177
@gitathrun

1. Could you post the error you seeing RN 0.6x (in debug mode)
2. Yep the issue in release mode is due to renaming/moving resources in the bundling process causing the resolved path from RNs resolver to be incorrect. (note the path in the json doesn't matter).
3. Thanks for the info about the unimodules upgrade, I'll take a look at that after working out the .bin resolution issue.
4. Y

[2019-11-06 15:38] gitathrun commented on #2177
@tafsiri
1. Could you post the error you seeing RN 0.6x (in debug mode)
![image](https://user-images.githubusercontent.com/22137687/68311883-21d0e500-00aa-11ea-8788-6195cf1bbc4f.png)

2. Yep the issue in release mode is due to renaming/moving resources in the bundling process causing the resolved path from RNs resolver to be incorrect. (note the path in the json doesn't matter).
Good, which means

[2019-11-06 16:44] joaopedromattos commented on #1033
Hey guys, any updates regarding this issue? I'm facing the same problem...

[2019-11-06 17:48] kangyizhang commented on #2341
hi @kimvu what's the node version you are using?

[2019-11-06 18:05] dsmilkov commented on #2000
Hi,

Support for `KerasLayer` will probably not happen in the next 3 months due to the complexity of the solution.

For a workaround, can you try serializing the model to a `SavedModel`, convert saved_model --> tfjs_graph_model using the converter, and use `tf.loadGraphModel()` instead?

[2019-11-06 18:07] caisq commented on #2000
@aledalgrande Just to add to what @dsmilkov said: You need to save the Python using `tf.keras.experimental.export_saved_model`: https://www.tensorflow.org/api_docs/python/tf/keras/experimental/export_saved_model

Then use the `--input_format tf_saved_model` option with `tensorflowjs_converter`.

[2019-11-06 18:22] #2323 closed

[2019-11-06 19:25] rthadur commented on #2338
@allanguys thanks for reporting , may i know where you got above link ?

[2019-11-07 02:04] aledalgrande commented on #2000
Thanks, I ended up switching library because I couldn't wait. Will leave the thread open so it can be tracked for others.

[2019-11-07 02:08] allanguys commented on #2338
thanks for replay
i got link from https://github.com/tensorflow/tfjs-wechat .just for the special case of China

[2019-11-07 02:45] aohan237 commented on #1898
sorry, the model i cant find it.  but the model  generated by following the links i give to you to produce.

[2019-11-07 04:25] pyu10055 commented on #2338
@wangtz Hi Tiezhen, can you take a look at the CORS error for TFHub model files, thanks!

[2019-11-07 04:55] caisq commented on #2205
@joyicejin @wingman-jr-addon I'll address the issue that TF.js' Flatten Layer doesn't respect `data_format === 'channel_first'` soon, under this bug. Thank you for your patience and for your detailed analysis of this issue.

[2019-11-07 05:45] joyicejin commented on #2205
@caisq @wingman-jr-addon That's my pleasure to do this. And thank all of you for the coming work soon and close support in this bug.

[2019-11-07 06:11] hsparrow commented on #841
@pyu10055 Hi, for Tensorflow saved model, do you mean the exported inference graphs or the saved ones during training? [Here](https://drive.google.com/open?id=1btKgLAty_HX4knJyuEmQn3t-GlszwkVy) is the exported inference graphs, and [this](https://drive.google.com/drive/folders/1eknpUsmalwPQzMouyKDX1Y22NIEuXPHt?usp=sharing) is the saved ones during training.

[2019-11-07 09:13] lucnat commented on #2000
@caisq Thanks, the conversion works but when loading the model in tfjs I get an error  ```Provided weight data has no target variable: bn_Conv1/moving_mean```

Any ideas?

[2019-11-07 16:41] Ghadjeres opened #2348 ""Unknown layer: TensorFlowOpLayer" in Python Keras converted model using Python indexing"
#### TensorFlow.js version
Python: 1.3.1.1
Javascript: 1.3.0
#### Browser version
Chromium Version 78.0.3904.70 (Official Build) Built on Ubuntu , running on LinuxMint 19.2 (64-bit)
Also tested on Firefox
#### Describe the problem or feature request
Failing to load model in tfjs when using a tensorflow keras model converted from Python to tfjs when the python model contains indexing (and more gene

[2019-11-07 16:47] #2205 closed

[2019-11-07 16:57] tedhtchang opened #2349 "Unsupported Op: Einsum"
#### Tensorflowjs==1.3.1.1

#### Describe the problem or feature request
When converting the Albert_base model, I saw:
ValueError: Unsupported Ops in the model before optimization
Einsum
#### Code to reproduce the bug
tensorflowjs_converter --signature_name tokens --input_format=tf_hub 'https://tfhub.dev/google/albert_base/2' ./web_model
@annxingyuan

[2019-11-07 17:11] ToonTalk opened #2350 "Posenet demo page has left and right confused (only in single pose mode)"
https://storage.googleapis.com/tfjs-models/demos/posenet/camera.html

Displays the green dots further to the other side when I move. Works OK in "multi-pose" mode.

![posenet-bug](https://user-images.githubusercontent.com/2138696/68410611-e8b77400-0180-11ea-89be-fb3ff59fca60.png)

While someone is looking into this perhaps the explanatory text could be improved as well. It refers to a "higher imag

[2019-11-07 19:25] #2317 closed

[2019-11-07 19:26] nsthorat commented on #2317
Thanks for reporting this! The fix will go out in the next release.

[2019-11-07 21:25] #1733 closed

[2019-11-07 21:41] #841 closed

[2019-11-07 23:19] PiyushRamuka commented on #2075
@kangyizhang & @rthadur - I was able to run the example on a windows machine without issues. It must be a webpack issue on Mojave.

[2019-11-07 23:19] #2075 closed

[2019-11-07 23:40] pyu10055 commented on #1090
this looks like error related to file serving or cors, and related tfjs issues should have been fixed previously. Closing this issue due to lack of activities.

[2019-11-07 23:40] #1090 closed

[2019-11-07 23:41] pyu10055 commented on #1382
This issue has been fixed, please try again.

[2019-11-07 23:41] #1382 closed

[2019-11-07 23:42] pyu10055 commented on #1392
Object detection models can export saved model, please use the latest converter against the exported saved model format for the retrained model.

[2019-11-07 23:42] #1392 closed

[2019-11-07 23:59] wingman-jr-addon commented on #2205
Thanks @caisq for the fast turnaround!

[2019-11-08 00:03] rthadur commented on #2350
@ToonTalk would you like to contribute ? If yes please submit a PR

[2019-11-08 00:23] caisq commented on #2205
@wingman-jr-addon The fix will become available in the npm package when the next version of tensorflow.js is released

[2019-11-08 00:35] hsparrow commented on #841
@pyu10055 Hey, it seems this issue has been fixed. How can I fix my problem? Do I need to re-convert the model?

[2019-11-08 06:06] xusongpei commented on #841
@pyu10055  I also have the same issue with @hsparrow, I don't know how to solve it. and I'm waiting for a method to solve it.

[2019-11-08 07:48] kimvu commented on #2341
Hi @kangyizhang, my node version is v12.13.0

[2019-11-08 10:53] GU8187 commented on #2120
@dsmilkov Daniel, can you give me a hint on how to set the environment straight : what should I update, or change in my settings ?

[2019-11-08 14:59] Annaero commented on #1497
Hello, do you have any updates?

[2019-11-08 15:53] kangyizhang commented on #2341
There is an issue of loading tfjs-node with node v12.13.0 and v10.17.0

You can use node v10.16.3

Please keep an eye on updated in https://github.com/tensorflow/tfjs/issues/2003. I'll close this issue.

[2019-11-08 15:53] #2341 closed

[2019-11-08 19:39] annxingyuan opened #2357 "matMul should support transposed inputs"

[2019-11-08 19:39] annxingyuan opened #2358 "[webgpu] Add batchNorm kernel."
Used in handtracking.

[2019-11-08 19:40] annxingyuan opened #2359 "optimize depthwiseConv"

[2019-11-08 19:41] annxingyuan opened #2360 "[webgpu] Add prelu kernel."
Used in handtracking model.

[2019-11-08 19:42] annxingyuan opened #2361 "[webgpu] Add nonMaxSuppression kernel."
Used in handtracking.

[2019-11-08 19:42] annxingyuan opened #2362 "[webgpu] Add fusedConv2D kernel."
Used in handtracking.

[2019-11-08 19:42] annxingyuan opened #2363 "[webgpu] Add slice kernel."
Used in handtracking.

[2019-11-08 19:43] annxingyuan opened #2364 "[webgpu] Add cropAndResize kernel."
Used in handtracking.

[2019-11-08 19:43] annxingyuan opened #2365 "[webgpu] Add sub, abs, min, max kernels."
Used in handtracking.

[2019-11-08 19:45] pyu10055 opened #2366 "Quantization model failed to execute"
To get help from the community, we encourage using Stack Overflow and the [`tensorflow.js`](https://stackoverflow.com/questions/tagged/tensorflow.js) tag.

#### TensorFlow.js version
1.3.1
#### Browser version

#### Describe the problem or feature request
The current Quantization process tries to quantize all the constants, including weights as well as other values.
This is problematic for constan

[2019-11-08 20:01] #1639 closed

[2019-11-08 20:01] tylerzhu-github commented on #2350
Thanks for reporting the issue @ToonTalk!
Let me fix this.

[2019-11-08 20:43] pyu10055 commented on #841
@hsparrow and @xusongpei THe issue you are facing should be fixed in the next release of tfjs-converter.

[2019-11-09 04:05] xusongpei commented on #841
@pyu10055 Thank you for that！

[2019-11-09 05:32] kongkip commented on #271
Hi,
Instead of doing that, I created a package by extending
tf.keras.layers.Layer by creating an audio preprocessor which generates
spectrograms and it turned out that the ops are in TFlite.

On DecodeWav, I preprocess the data before basing through the spectrogram
layer hence the not included when converting the model to TFlite.

On Tue, 22 Oct 2019, 19:34 Naveen Singh, <notifications@github.com>

[2019-11-09 20:22] #1033 closed

[2019-11-10 21:41] Umar24129 opened #2370 "node-pre-gyp info This Node instance does not support builds for N-API version 4"
Hi, I am using tensorflow in my Node.js rest API but it seems to give above notification . Idk if solving it will improve my time consumed on 1 request but it would be a great help if it does.

#### TensorFlow.js version

####Google Chrome :- Version 78.0.3904.97

#### "node-pre-gyp": "^0.13.0",
"tslib": "^1.10.0"

[2019-11-11 07:45] kimvu commented on #2341
I changed my nodeversion to 10.16.3, and stil get the same error. @kangyizhang

[2019-11-11 08:47] xusongpei commented on #841
@pyu10055 can I ask when will you release the next version?

[2019-11-11 17:13] kangyizhang commented on #2370
hi @Umar24129 what is your node version?

[2019-11-11 19:22] #271 closed

[2019-11-11 19:46] #1898 closed

[2019-11-11 19:46] #2366 closed

[2019-11-11 21:59] #2279 closed

[2019-11-12 04:56] ychen0901 opened #2375 "shapeInfo.texShape is 'undefined' in shader_compiler::getPackedSampler2D"
#### TensorFlow.js version
1.3.1
#### Browser version
Chrome Version 78.0.3904.70
#### Describe the problem or feature request
I have an object detection graph model that was trained in Python and converted to web model using tfjs-converter, the model was working well in Python. But with tfjs, I got error "Cannot read property '0' of undefined" during prediction.
A bit investigation shows that exc

[2019-11-12 17:01] gitunit opened #2378 "webgl backend to accelerate inference with AutoML model"
#### TensorFlow.js version
1.3.1

#### Browser version
Version 78.0.3904.87 (Official Build) (64-bit)

#### Describe the problem or feature request
i've tried to set the backend to webgl but it has no effect on the performance.
im using an AutoML model which gives me results after appr. 5 sec. this is way to slow,
is there a way to accelerate, for example by setting the backend to webgl properly?

[2019-11-12 18:05] rthadur commented on #2375
@ychen0901 please prove the model if you can and also please specify how the model was trained and in which version of tensorflow ?

[2019-11-12 18:11] rthadur commented on #2378
@gitunit thank you for reporting can you please provide your system configuration and browser information ?
cc @annxingyuan @dsmilkov

[2019-11-12 18:54] pyu10055 commented on #2378
@gitunit You can run, tf.getBackend() to check if the webgl backend is enabled.
Also, FYI the first detection is slow since the backend are caching the shader programs, the prediction after the first one should much faster and stable.

[2019-11-12 18:59] tylerzhu-github commented on #2184
https://github.com/tensorflow/tfjs-models/pull/354

[2019-11-12 18:59] #2184 closed

[2019-11-12 21:31] pyu10055 commented on #2375
@ychen0901 Please also specify what version of tfjs converter you have used, the latest version (1.3.1.1) has some fixes related to detection models conversion, please try it out if you have not.

[2019-11-13 06:23] ychen0901 commented on #2375
@pyu10055 @rthadur Thank you for your responses!

I just tried with the latest version tensorflowjs 1.3.2, for both of tensorflowjs_converter and my project dependency, and the same problem still occurs.

The model was trained with tensorflow 1.12, based on ssd_mobilenet_v1_coco from [Tensorflow detection model zoo](https://github.com/tensorflow/models/blob/master/research/object_detection/g3doc/d

[2019-11-13 09:56] gitunit commented on #2378
@rthadur Chrome Version 78.0.3904.87 (Official Build) (64-bit) on a notebook with Windows 10.

@pyu10055 i see, it works. i didn't know the first prediction takes longer, therefore i haven't bothered trying another one after the first. now i can definitely see a difference between backend 'cpu' and 'webgl'. thanks for clarification.
now i wonder how i might improve the UX, so the user doesn't noti

[2019-11-13 10:00] #2327 closed

[2019-11-13 10:22] karikera opened #2387 "Array.prototype problem"
To get help from the community, we encourage using Stack Overflow and the [`tensorflow.js`](https://stackoverflow.com/questions/tagged/tensorflow.js) tag.

#### TensorFlow.js version
master HEAD

#### Browser version
any browser

#### Describe the problem or feature request
[code]
`node.saved` is the array but loop with `for .. in`
I defined `Array.prototype.something = function(){}`
It makes me e

[2019-11-13 11:01] yingshaoxo commented on #924
It just too complex for using!

https://github.com/elwin013/parcel-plugin-static-files-copy/issues/37

https://github.com/parcel-bundler/parcel/issues/1098

[2019-11-13 13:59] tafsiri commented on #2177
@gitathrun Just did a new release that should fix this issue. Try https://www.npmjs.com/package/@tensorflow/tfjs-react-native/v/0.1.0-alpha.3 and let me know if it solves the problem.

[2019-11-13 14:00] tafsiri commented on #2177
This version does need the latest version (1.3.x) of tfjs.

[2019-11-13 18:55] rthadur commented on #947
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-11-13 18:55] #947 closed

[2019-11-13 18:59] pyu10055 commented on #2378
@gitunit after the model is loaded, you can run a warming up step, to feed the model prediction call with all zero tensor. tf.zeros([tensorShape])

[2019-11-13 19:13] rthadur commented on #2375
@ychen0901 thank you , you can use github gist.

[2019-11-13 19:23] rthadur commented on #2387
@karikera thank you for providing the details , can you please eloborate the steps you followed and code to reproduce the error and also the what is your use case if possible.

[2019-11-13 20:35] shuruqtramontini commented on #2138
@Jurge92  and @Deunkel , have you found out how to process local video files into the canvas? ( Or any other way to use prerecorded videos  rather than the webcam?). Would love to hear from you!

[2019-11-13 20:37] carlottaCC commented on #2138
@Jurge92  and @Deunkel have you found a away to process local video files rather than being hooked up to the webcam?

[2019-11-14 03:05] Umar24129 commented on #2370
my node version is v10.15.0

[2019-11-14 03:06] Umar24129 commented on #2370
sorry for late reply . didn't expected fast response.

[2019-11-14 07:19] karikera commented on #2387
@rthadur
full html code
[code]

[2019-11-14 07:23] #380 closed

[2019-11-14 09:00] WenheLI opened #2390 "tfjs-node can not install"
While I was trying to install `tfjs-node` on GCP, I got an error:

[code]

This seems to be a problem with the server that hosts the TensorFlow-binary. I have also tried it with the GPU version and my laptop. All emit similar errors.

**Update:** I can install the `tfjs-node` with an older version like `1.3.1` for mac and `1.3.0` for Linux.

[2019-11-14 16:13] KjelleJ opened #2391 "tfjs-models/coco-ssd: only objects in left half of an image are detected"
#### TensorFlow.js version
    "@tensorflow-models/coco-ssd": "^2.0.0",
    "@tensorflow/tfjs-converter": "^1.2.11",
    "@tensorflow/tfjs-core": "^1.2.11",

#### Browser version
Google Chrome Version 78.0.3904.97

#### Describe the problem or feature request
It looks like coco-ssd only detects objects in the left half (approx) of an image. Is it really a bug - it is too obvious...? Or is it a fea

[2019-11-14 16:17] gitunit commented on #2378
@pyu10055 got it, thx. basically same as loading a dummy image (i haven't noticed any performance gain using tf.zeros([tensorShape]).

[2019-11-14 16:17] #2378 closed

[2019-11-14 17:34] kangyizhang commented on #2370
Thanks for the info.

The library definitely build on N-API 4. Currently there is a known issue of installing tfjs-node on windows with certain version of node (https://github.com/tensorflow/tfjs/issues/2003). Node version 10.16.3 should work (https://nodejs.org/download/release/v10.16.3/).

Another command you can try is `npm rebuild @tensorflow/tfjs-node --build-from-source` in your repo.

BTW w

[2019-11-14 17:37] kangyizhang commented on #2390
hi @WenheLI this is a warning when pre-build node addon is not available and it should build the node addon from source (you can tell from the command `node-pre-gyp install --fallback-to-build`). Did you see any log marked with error? Does the package have any issue when import and use it?

[2019-11-14 21:39] rthadur commented on #2391
@KjelleJ thanks for the report, can you please provide more details,
1) tfjs version
2) code to reproduce
3) use case if applicable
Thank you
CC @pyu10055 @dsmilkov

[2019-11-15 01:13] WenheLI commented on #2390
@kangyizhang - Thanks for your response! I think the `napi-v4` module/binary just can not be accessed via the link: `https://storage.googleapis.com/tf-builds/pre-built-binary/napi-v4/1.3.2/CPU-linux-1.3.2.tar.gz `. And it triggers the warning.

Also, if I require the package in node, I got the following errors:
[code]

It suggests the napi-v4 is not there.

[2019-11-15 02:08] kangyizhang commented on #2390
@WenheLI I have just uploaded prebuild addon module for napi-v4, please try again.

[2019-11-15 05:50] wingman-jr-addon commented on #2301
@Pankaj01998 Were you successful in integrating this into your Firefox extension in some form or another?

[2019-11-15 06:04] WenheLI commented on #2390
Thanks! It has been fixed!

[2019-11-15 06:04] #2390 closed

[2019-11-15 08:19] KjelleJ commented on #2391
1. 0.15.4
2. https://github.com/tensorflow/tfjs-models/tree/master/coco-ssd/demo
3. You can see this when running the demo app. Replace image2 (the dogs) with image1 flipped
 so left will be right etc. 4 objects are detected for image1 and NO objects for image2 (the flipped image1)

[2019-11-15 09:35] Umar24129 commented on #2370
yes it worked perfectly , Thanks allot as always I seriously am great full of people like you for giving a big helping hand.

[2019-11-15 09:35] #2370 closed

[2019-11-15 10:03] KjelleJ commented on #2391
Some screenshots from my app to show the problems with the right part of an image.

![katt2](https://user-images.githubusercontent.com/48243574/68934487-0bf0ad80-0797-11ea-9812-4dd8c34718db.png)
![katt1](https://user-images.githubusercontent.com/48243574/68934508-1448e880-0797-11ea-9251-af2ec5b98349.png)
![cellphone](https://user-images.githubusercontent.com/48243574/68934549-288ce580-0797-11ea-80

[2019-11-15 13:42] seijichishiki opened #2395 "[ tensorflowjs_converter ] Uncaught (in promise) TypeError: Cannot read property 'producer' of undefined"
I performed transfer learning(ssd_mobilenet_v1_coco_2018_01_28) on Google Colab.
Tensorflow=1.15.0.

fine-tuned-model folder
[code]

saved_model
[code]
variables
[code]

!pip install tensorflowjs==1.3.1

[code]

I got many warning.
"WARNING:tensorflow:Unable to create a python object for variable <tf.Variable ....."
However, model.json was created in the web_model folder.
[code]

I tried to make i

[2019-11-15 15:49] tafsiri opened #2397 "[react-native] release process should handle need for updating gcs bucket"
Either a warning or better yet autodetect and upload new android build.

[2019-11-15 15:50] tafsiri commented on #2397
or just always do it defensively

[2019-11-15 16:38] rthadur commented on #2391
@KjelleJ thank you, is there a reason you are using older version ? did you try this with latest tfjs version ?

[2019-11-15 16:50] oveddan opened #2398 "BodyPix - running segmentPerson in node.js throws an error: ReferenceError: HTMLImageElement is not defined"
Running BodyPix `segmentPerson` in node.js throws an error:

ReferenceError: HTMLImageElement is not defined

Code that causes error:

[code]

Full stack trace:
(node:6250) UnhandledPromiseRejectionWarning: ReferenceError: HTMLImageElement is not defined
    at Object.getInputSize (/Users/danoved/Source/bodypix-posenet-node/node_modules/@tensorflow-models/body-pix/dist/util.js:41:26)
    at BodyPi

[2019-11-15 17:20] oveddan commented on #2398
I've opened a PR to fix.  Would like to get feedback on how I check if it's in the browser or not.

[2019-11-15 17:27] KjelleJ commented on #2391
No there is no reason. I tried to update the demo app but the old tfjs version is still used. But I have the same problem with my app using a newer tfjs version (1.2.11 or so).
![park1](https://user-images.githubusercontent.com/48243574/68962646-55f88400-07d5-11ea-8a5f-2d9af39489bc.png)
![park2](https://user-images.githubusercontent.com/48243574/68962652-5abd3800-07d5-11ea-94af-679f8580f287.png)

[2019-11-15 19:10] tylerzhu-github commented on #2350
Hi @ToonTalk,

Thanks again for the report. I think we just need to host the latest PoseNet demo online.

Could you try build and run the demo locally from the latest source to see if it fixes the issue.
Here are the instructions: https://github.com/tensorflow/tfjs-models/tree/master/posenet/demos

Best,
Tyler

[2019-11-15 19:33] pyu10055 commented on #2395
@seijichishiki Please try again with the latest converter version 1.3.2, this is a fix recently for the issue you have encounter.

[2019-11-15 20:57] dsmilkov commented on #2240
Closing since we released 2.0 on NPM, as well as uploaded a new demo.

[2019-11-15 20:57] #2240 closed

[2019-11-15 21:25] pyu10055 commented on #2391
I have tried with the latest versions:
  "dependencies": {
     "@tensorflow-models/coco-ssd": "2.0.0",
     "@tensorflow/tfjs-core": "1.3.2",
     "@tensorflow/tfjs-converter": "1.3.2",
     "stats.js": "^0.17.0"
   },
The flipped image detection looks correct
![screenshot](https://user-images.githubusercontent.com/4018/68976744-5aa84280-07ab-11ea-9cb6-329bf86efd12.png)

[2019-11-16 00:32] seijichishiki commented on #2395
Thank you very much !
This "producer" error has been resolved. But I got othner error on browser JS console.

Do you know how to solve this ?

[2019-11-16 09:35] KjelleJ commented on #2391
@pyu10055 I tried your  proposal (latest versions) but it still does not work. I downloaded tfjs-models in March and just tried the demo app the other day following the instructions in Readme for the demo app . I tried the demo app after having the same problem with my app.

Now I downloaded tfjs-models once more and the demo app works! Thank you! I still have to examine why my app does not work.

[2019-11-16 10:38] #2391 closed

[2019-11-16 15:14] Porizm commented on #298
does this work? https://www.npmjs.com/package/image-pixels

[2019-11-16 16:38] m4nuC commented on #1394
Hi @pyu10055,  yes I am interested in helping out. Let's discuss the details anytime

[2019-11-17 07:05] harishkrishnav opened #2399 "Load model from variables"
I'm using tfjs 1.3.1 on Google Chrome v77.

I have the model topography and weights as blobs and I want to load a model with these. In other words, if `var model ` and  `var weights` have the contents of `model.json` and `weights.bin` respectively, how do I use `tf.loadLayersModel` on them?

[2019-11-17 09:54] ItachiUchiha91 opened #2400 "[react native] Namespace not marked type-only declare."
#### TensorFlow.js version
1.3.2

#### TensorFlow.js react-native version
0.1.0-alpha.2

#### Browser version
react-native 0.59.8
expo sdk 35.0.0
expo version 3.7.1

#### Describe the problem or feature request
Hi, I follow the steps in the page https://github.com/tensorflow/tfjs/tree/master/tfjs-react-native for a expo managed app, but I get the following error
[code]

#### Code to reproduce the

[2019-11-17 21:20] danielelkington opened #2401 "Error importing from keras h5 - UpsampleLike"
TensorFlow.js version: 1.3.2
Browser version: Chrome 78.0.3904.97

Code:
[code]

Error message:
[code]

[2019-11-18 04:19] darcula1993 commented on #572
tfjs-posenet model now using a new model format which is hard to extract weights by hand. Looking for some new way to do that............

[2019-11-18 04:24] darcula1993 commented on #572
Yes. They are here:

https://storage.googleapis.com/tfjs-models/savedmodel/posenet/resnet50/float/model-stride16.json
https://storage.googleapis.com/tfjs-models/savedmodel/posenet/resnet50/float/group1-shard1of23.bin
.......
https://storage.googleapis.com/tfjs-models/savedmodel/posenet/resnet50/float/group1-shard23of23.bin

--------------------------------------------------------------------------

[2019-11-18 05:22] rthadur commented on #2399
Hello, this sort of question is better suited for StackOverflow. This issues list is for bugs and feature requests. Thanks and please use the tag 'tensorflow.js' on your StackOverflow question to makes sure it's discoverable.

[2019-11-18 05:29] rthadur commented on #2401
@danielelkington thanks for reporting , can you please provide more details
1) model if possible
2) what are the steps you followed to train the model and convert it.
3) please specify node version ,converter etc.
Thank you

[2019-11-18 05:34] darcula1993 opened #2403 "Do tfjs-posenet model and tflite-posenet model have the same weights?"
I am working on build an android app based on tflite-posenet model which comes from `https://github.com/tensorflow/examples/tree/master/lite/examples/posenet/android`.

However, after I compared the performance of tflite model with the performance of tfjs posenet demo (both of them use mobilenet v1_100 as backend), I found the tfjs demo is much more accurate.

Do they use same weights?

[2019-11-18 06:29] harishkrishnav commented on #2399
Thanks @rthadur  for the reply. [I did ask on StackOverflow](https://stackoverflow.com/questions/58633704/load-tensorflow-js-model-from-object) about 2 weeks ago but didn't get a response.

[2019-11-18 07:55] danielelkington commented on #2401
I discovered the problem - the model we were using had been generated by the [keras-retinanet](https://github.com/fizyr/keras-retinanet) library, and included custom layers that could not be automatically converted. For those encountering this issue I would suggest looking at the [retinanetjs](https://github.com/faustomorales/retinanetjs) library which can assist in running these models in the bro

[2019-11-18 07:55] #2401 closed

[2019-11-18 13:22] seijichishiki commented on #2395
I solved it myself.
The input_format of tensorflowjs_converter is 'tf_frozen_model' , not 'tf_saved_model'.

[code]
tensorflowjs==1.3.2
[code]

I spent a lot of time for this.
I hope this helps someone.

[2019-11-18 13:23] #2395 closed

[2019-11-18 16:31] tylerzhu-github commented on #2350
A new demo (with the fix) has been released here:
https://storage.googleapis.com/tfjs-models/demos/posenet/camera.html

Let us know if it fixes the reported issue.

[2019-11-18 19:23] rthadur commented on #2399
Can you please provide more details .
1) model if possible and steps you are trying to generate model and utilize it in tfjs.
2) node version
3) converter version
Thanks

[2019-11-18 23:00] harishkrishnav commented on #2399
I'll give more context. I recieve from an API a zipped folder containing model.json, weights.bin, and the labels. These seem to have been converted with tfjs-converter v 1.3.1 but I could be wrong. Now, I can unzip the folder and save the individual files to the file system fine. I can also load these without qualms using `tf.loadLayersModel(path\to\model.json)` with weights.bin in the same folder

[2019-11-19 01:00] pyu10055 commented on #1394
@m4nuC current coco-ssd has a model config object
[code]

We should probably add a custom model type to the base enum, and use the modelUrl to load the model.
We will also need the user to provide the classes following this interface:
[code]

If you are interested, you can send a PR and I am happy to review it. thanks.

[2019-11-19 05:55] axinging commented on #2360
Hi, Xing is willing to work on the prelu kernel.

[2019-11-19 06:04] echosys opened #2407 "Error while installing tensorflow js on node using npm"
To get help from the community, we encourage using Stack Overflow and the [`tensorflow.js`](https://stackoverflow.com/questions/tagged/tensorflow.js) tag.

#### TensorFlow.js version
tensorflow/tfjs-node@1.3.2
#### Browser version

#### Describe the problem or feature request
I ran into this issue while using npm to install tensorflowjs according to the documentation.

https://www.tensorflow.org/j

[2019-11-19 06:23] echosys commented on #2407
ok after trying different things for a couple of hours,
this seems to be the issue fixing it.
Should there be a more clear error message as to what is wrong so people won't have to go through the goose chase again?

https://github.com/tensorflow/tfjs/issues/1931
npm install @tensorflow/tfjs@1.2.7
npm install @tensorflow/tfjs-node@1.2.7

[2019-11-19 06:23] #2407 closed

[2019-11-19 07:09] take-kuma commented on #1575
@sdll , Thank you for your advice.
I tried tensorflowjs_converter 0.8.5 but I have not been able to convert the web-friendly format files of BodyPix and PoseNetV2 to the other format yet.

It is also OK to extract weights data from the web-friendly format instead of converting it. Is there a good way?
Or, is it impossible to release the original weights data before conversion?

I think PoseNet and

[2019-11-19 10:17] ToonTalk commented on #2350
Working fine now. Thanks.

[2019-11-19 15:07] caisq commented on #2041
The reason why these methods do not show up in the documentation on https://js.tensorflow.org/api/latest/ is that they are inherited from the `Layer` class without any overriding.

@tafsiri @nsthorat We could explicit write the overriding method in the `LayersModel` class, so that the doc string may show up. Do that sound reasonable? The doc strings for `LayersModel.getWeights()` and `setWeights()

[2019-11-19 15:46] FrederikLynggaard opened #2409 "Division, exp, log, tile (and potentially more operations) do not support dtype complex64"
#### TensorFlow.js version

Via Script Tag

[code]

#### Browser version

Any (I am using Chrome version 78.0.3904.108).

#### Describe the problem or feature request
CPU implementations of division, exp, log, tile (and potentially more operations) do not support dtype complex64. Might also be the case on the Web GPU backend.

#### Code to reproduce the bug / link to feature request
[code]

[2019-11-19 15:56] #2350 closed

[2019-11-19 18:55] rthadur commented on #2409
@FrederikLynggaard thanks for reporting , I was able to reproduce the error , @dsmilkov can you please assist ?

[2019-11-19 21:02] #2398 closed

[2019-11-20 02:28] pyu10055 commented on #2399
@harishkrishnav You can try to use the browser file io handler similar to following:

[code]
 can implement a custom io handler for your files, the interface is defined [here](https://github.com/tensorflow/tfjs/blob/master/tfjs-core/src/io/types.ts)

[2019-11-20 02:43] darcula1993 commented on #2403
I am also working on building keras version posenet from previous posenet weights `https://storage.googleapis.com/tfjs-models/weights/posenet/mobilenet_v1_100/manifest.json`. The model behavior is also different from tfjs-posenet demo behavior.

Are they using different weights?

[2019-11-20 02:50] darcula1993 commented on #2043
That would be great! Bodypix and Posenet are truly marvelous project. I would like to use them on other platform on which tfjs is not compatible.

[2019-11-20 02:55] darcula1993 commented on #1575
I have the same problem. Both of them can be useful on various platform but tfjs handcuffs their capabilities.

[2019-11-20 10:45] sushanth-d commented on #2323
@sebtronik Can you please share how you fixed this issue?
(I am assuming you fixed it as you closed the issue.)

Thank you in advance.

[2019-11-20 11:05] sushanth-d opened #2413 "ValueError: Unsupported Ops in the model before optimization NonMaxSuppressionV5"
#### TensorFlow.js version 1.3.2

Running the following command :
!tensorflowjs_converter \
    --input_format=tf_saved_model \
    --output_format=tfjs_graph_model \
    --signature_name=serving_default \
    --saved_model_tags=serve \
    /content/sample_data/1 \
    /content/sample_data/web

is throwing the error:
ValueError: Unsupported Ops in the model before optimization NonMaxSuppressionV5.

[2019-11-20 14:21] charlesgu6 opened #2415 "Body-pix 2.0 -- How to show the human skeleton?"
Body-pix 2.0 is a wonderful work! I have some trouble in show the human skeleton, please help me.
my code is:
[code]
I want to show the human skeleton in image, but I can not find any infomation in your README.md, please help me!!!

p.s. I also have a plan to use body-pix 2.0 detect video stored on my computer, could you please add some tutorial about video in your README.md.

[2019-11-20 16:02] rthadur commented on #2413
Thanks for reporting , i see you commented in other related issue here #2323 , did you try this steps mentioned by user https://github.com/tensorflow/tfjs/issues/2323#issuecomment-549801010

[2019-11-20 17:13] Pankaj01998 commented on #2301
Sorry for the late reply. My exams are going on so I will let you know within couple of days.

[2019-11-20 17:14] FrederikLynggaard commented on #2409
@rthadur, @dsmilkov  I've sent a pull request with changes such that tf.exp() supports complex64 on both cpu and gpu. All tests passed but my CLA was signed with a different email than the one used for the commit. I have added the correct email to my CLA but the google bot does not seem to reevaluate the request.

[2019-11-20 21:45] pyu10055 commented on #2323
@dozeBoy @sebtronik You actually can use the latest converter to do the same now, frozen model format support is added to the latest converter.

[2019-11-20 22:10] harishkrishnav commented on #2399
Thanks @pyu10055 for your response. I did use the browser file io method but it's quite inconvenient because there has to be an upload step since loadLayersModel seems to be performing some file reading. I want to completely avoid loading from a file because I already have the file contents. I looked at the link for custom io handlers but it seems that here too we need paths to the files. Can you

[2019-11-20 22:24] pyu10055 commented on #2399
@harishkrishnav
The LoadHandler interface has no requirement for a path, you can take a look at the [BrowserFile](https://github.com/tensorflow/tfjs/blob/master/tfjs-core/src/io/browser_files.ts#L122) implementation, you can have the data as part of your own IOHandler class, you can totally ignore what is passed into the IOHandler constructor. The only thing you need to do is to construct the Mode

[2019-11-21 04:09] sushanth-d commented on #2413
Yes I tried

this recommendation and downgraded my tensorflowjs to 0.8.6 and 1.0.1 and tested. In both the cases it threw the same error with the difference that  there were other ops that were not supported in  those versions. But ops not supported error nonetheless.

[2019-11-21 04:33] pyu10055 commented on #2413
@sushanth-d You don't need to downgrade the converter to older version anymore, the latest version (1.3.2) supports frozen model, you can use following command to convert:

[code]

The coco-ssd README has been updated with this.

[2019-11-21 04:55] sushanth-d commented on #2413
@pyu10055  I tried that like mentioned in the #2323. But I am still getting the same error.

[code]

Error:

Traceback (most recent call last):
  File "/usr/local/bin/tensorflowjs_converter", line 8, in <module>
    sys.exit(pip_main())
  File "/usr/local/lib/python3.6/dist-packages/tensorflowjs/converters/converter.py", line 638, in pip_main
    main([' '.join(sys.argv[1:])])
  File "/usr/local/l

[2019-11-21 05:31] xenogew commented on #2117
Same here, I got the same error.
[code]

I import with this package
[code]

[2019-11-21 06:32] sushanth-d commented on #2413
I trained these models using TensorFlow 1.15.0. Would that be a factor to consider?

If yes, please tell me which TensorFlow version I should use for tensorflowjs 1.3.2. Or any corresponding versions of TensorFlow and tensorflowjs.

[2019-11-21 07:51] #942 closed

[2019-11-21 08:46] julkar9 commented on #572
@oveddan  has done it MobileNetV1 , may be he would be able to help make it offline for ResNet50 weights files .

[2019-11-21 10:43] porst17 opened #2419 "ValueError: Unsupported Ops in the model before optimization CTCBeamSearchDecoder"
#### TensorFlow.js version
1.3.2

#### Describe the problem or feature request
I tried to convert a Tensorflow `SavedModel` to a web model via
[code]
and it failed due to an unsupported operation:
[code]
Any help is appreciated.

[2019-11-21 12:24] willfu commented on #1754
@rthadur is there a way to convert the tfjs_graph_model to keras model? so that we can use it on Android. Thanks.

[2019-11-21 12:32] willfu commented on #1808
@caisq is there any plan for this feature? thanks.

[2019-11-21 13:10] #2360 closed

[2019-11-21 14:05] caisq commented on #1808
It is not possible to convert a tfjs_graph_model into a keras_saved_model. If you have a tfjs_graph_model, it should have originated from a TensorFlow model, which can be saved as a tf SavedModel. A tf SavedModel has an almost identical format as keras_saved_model.

If this doesn't answer your question, please feel free to comment and/or reopen the issue.
Let me kno

[2019-11-21 14:05] #1808 closed

[2019-11-21 16:58] philipp-ghtest opened #2423 "Failed to load a pretrained TF model in TFJS: "await is only valid in async function""
Hey,

(disclaimer - I'm a JavaScript newbie, but I have to use TFJS to deploy a project, so please excuse me if this is a stupid mistake)

I trained a model with python TF, saved it to hdf5, converted it to a model.json with tensorflowjs_converter, and now I want to use it to make predictions in the browser.

So, this is my index.html:

When I'm running this on a local node.js server, I get the er

[2019-11-21 18:13] kangyizhang commented on #1754
@photown @willfu

Like Shanqing mentioned at https://github.com/tensorflow/tfjs/issues/1808#issuecomment-557099119, it is not possible to convert tfjs_graph_model to keras_saved_model.

If you have a tfjs_graph_model, you should have a tensorflow model (in keras, tf_hub, tf_saved_model, or tf_frozen_model format, see details here: https://github.com/tensorflow/tfjs/tree/master/tfjs-converter#forma

[2019-11-21 19:33] rthadur commented on #2419
@porst17 thank you , can you please more details here
1) what is the model and how it is trained
2) please share the model if possible
3) tfjs-converter and tfjs-node versions
Thank you

[2019-11-21 19:36] rthadur commented on #2423
@philipp-ghtest thank you , you should wrap your code in a async so that you can use await , that might solve the intial problem there.

[2019-11-21 19:37] rthadur commented on #2423
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow-tfjs) since it is not a bug or feature request. There is also a larger community that reads questions there.

[2019-11-21 19:37] #2423 closed

[2019-11-21 22:16] vabarbosa commented on #1174
hello, i'm also experiencing this problem with Safari browsers. i created a basic demo where i can reproduce the problem:

1. in a Safari browser go to: https://codepen.io/vabarbosa/pen/bGGZXbz
1. click on **Start Webcam** and grant permission to access webcam
1. click **Load Model** to load a base model from posenet: https://storage.googleapis.com/tfjs-models/savedmodel/posenet/mobilenet/float/07

[2019-11-22 09:08] porst17 commented on #2419
1. Unfortunately, I can not upload the `SavedModel` due to license restrictions.
2. I got the `SavedModel` (or rather the python code that generates the `SavedModel`) from a project partner, so I don't now much about it. If you let me know how I can extract some information you need from the `SavedModel` (some python code or command line tool), I am happy to try it and share the results.
3. I am r

[2019-11-22 09:28] porst17 commented on #2419
I created a log file for importing into TensorBoard via https://github.com/tensorflow/tensorflow/issues/8854#issuecomment-549179468. I think that is save to share.

[events.out.tfevents.1574412923.myhost.log](https://github.com/tensorflow/tfjs/files/3878813/events.out.tfevents.1574412923.myhost.log)

The graph is similar to the `wav2letter` convolutional neural network.

[2019-11-22 16:03] tylerzhu-github commented on #2415
Hi @charlesgu6

Thanks for reaching out! And sorry for the delayed response.

The code for visualizing the poses can be found in our BodyPix demo's index.js file.
Here: https://github.com/tensorflow/tfjs-models/blob/master/body-pix/demos/index.js#L572
You can use that as a reference.

In terms of running BodyPix on videos, I used HTML Video. Here: https://www.w3schools.com/tags/tag_video.asp.
Yes,

[2019-11-22 16:06] tylerzhu-github opened #2425 "[BodyPix] Adds to README.md an example of running BodyPix on a video"
Adds an example of how to read local videos and run BodyPix on them to the README.md.

[2019-11-22 16:07] tylerzhu-github commented on #2425
Ref: https://github.com/tensorflow/tfjs/issues/2415

[2019-11-22 17:12] loretoparisi opened #2427 "npm WARN tar ENOENT: no such file or directory, open"
To get help from the community, we encourage using Stack Overflow and the [`tensorflow.js`](https://stackoverflow.com/questions/tagged/tensorflow.js) tag.

#### TensorFlow.js version
`v12.13.1`

#### Browser version
`nodejs`

#### Describe the problem or feature request

[code]
#### Code to reproduce the bug / link to feature request
run `npm install`

[2019-11-22 17:24] rthadur commented on #2427
Hello, this sort of question is better suited for StackOverflow. This issues list is for bugs and feature requests. Thanks and please use the tag 'tensorflow.js' on your StackOverflow question to makes sure it's discoverable.

[2019-11-22 17:25] loretoparisi commented on #2427
@rthadur I think it is related to npm `v12.13.1`, so to tensorflow release to npm.

[2019-11-22 17:29] rthadur commented on #2427
@loretoparisi can you please more details
1)Steps followed to reproduce the the error.
2) tfjs version
3) machine configuration

Thanks

[2019-11-22 19:21] jasonhargrove commented on #268
# Docs for importing modules into your JavaScript Notebook once setup

Working on an iPad Pro today and managed to get this going. Was not sure how to require node modules as shown in the tf comment above, but figured out a solution.

Will describe my whole flow since the iPad required a work around which may be useful to someone.

## Installing ijavascript

Just as shown above, but with one diffe

[2019-11-22 20:58] samfultonschool opened #2428 "Error installing node-gpu"
#### TensorFlow.js version
^1.3.2
#### Browser version
none
#### Describe the problem or feature request
I am trying to install @tensorflow/tfjs-node-gpu on windows 10. I installed everything listed in the npm page needed for GPU support. GPU is 2070.
Here is the output when running ```npm install @tensorflow/tfjs-node-gpu```
[code]
#### Code to reproduce the bug / link to feature request
This was

[2019-11-22 21:06] samfultonschool commented on #2428
Here is the output when I try to run code using the module
[code]

[2019-11-22 23:08] kangyizhang commented on #2428
hi @samfultonschool

1. what is your node version?
2. can you check what is inside `c:\Users\FFF\Desktop\scripts\tf-test-download\node_modules\@tensorflow\tfjs-node-gpu\lib\napi-v4\`?
3. do you have issue of installing `@tensorflot/tfjs-node`?

[2019-11-22 23:16] samfultonschool commented on #2428
@kangyizhang Thanks for the quick response :)
My node version is v10.16.3 due to the fact it was suggested to switch to this to solve the error in another thread. Inside of napi-v4 there is just tensorflow.dll. I did have trouble installing tfjs-node before but that error seemed to be caused by the fact I also installed regualr tfjs before that. Now when I make a new project and new node_modules t

[2019-11-22 23:35] harishkrishnav commented on #2399
Many thanks @pyu10055

[2019-11-23 00:52] kangyizhang commented on #2428
@samfultonschool Thanks for the info. Please keep using v10.16.3 as the latest node is having issue (which you have seen in another thread).

Both tfjs-node and tfjs-node-gpu should work on windows with node v10.16.3. The error should be caused by mis-configured CUDA drivers. Please make sure that:
1. [CUDA toolkit 10.0](https://developer.nvidia.com/cuda-10.0-download-archive) is installed
2. [cuD

[2019-11-23 08:22] ItachiUchiha91 commented on #2400
Hi, I found the following solution.
I installed the packages
[code]
Then I create, in the root of the project the file `metro.config.js` as
[code]

And the file `tsconfig.json` as
[code]

At the moment I have no problem

[2019-11-23 14:49] dozeBoy commented on #2323
Does it support nonMaxSuppressionV5 or specifying output nodes? That’s the reason for using an older version of the converter, to get a TFJS version of the model without that part and then implementing it in JS.

[2019-11-23 22:46] djimoh5 commented on #2117
I tried installing @types/offscreencanvas. Then when navigating to the file @tensorflow/tfjs-core/dist/backends/webgl/canvas_util.d.ts, Typescript is able to recognize OffscreenCanvas, but for some reason the build still cannot.

So my workaround was just to change the type in the offending line from OffscreenCanvas to "any"

Old:
export declare function createCanvas(webGLVersion: number): Offscre

[2019-11-24 05:44] #2399 closed

[2019-11-25 09:35] willfu commented on #1808
@caisq May I know why it is impossible to convert tfjs_graph_model into a keras_saved_model? is it technically impossible? I can not get the original tensorflow model, so ask for help.

[2019-11-25 17:36] Pankaj01998 commented on #2301
Then how did you use the model for prediction?

[2019-11-25 18:29] irsl commented on #2117
Same here. Installing @types/offscreencanvas did not help.

[2019-11-25 19:43] tafsiri commented on #2138
Take a look at https://developer.mozilla.org/en-US/docs/Web/HTML/Element/video for an example of how to load video into an [HTMLVideoElement](https://developer.mozilla.org/en-US/docs/Web/API/HTMLVideoElement).

You should be able to pass a JavaScript reference to that DOM element to the posenet [estimate*](https://github.com/tensorflow/tfjs-models/tree/471429d91ef9857e2d1b3825c74eaece1b6f4f39/pose

[2019-11-26 00:58] take-kuma commented on #1575
@darcula1993 , I studied the tfjs web-freiendly format a little. Maybe we can get the weight data in the following way.

- Combine all binaries (group1-shard*.bin) into one file.
- Extract data from the binary in the order described in the "weightsManifest" node in the model.json.

For example, if a layer shape is (3, 3, 128, 1) and dtype is float, we need to extract 3 * 3 * 128 * 1 * sizeof(float

[2019-11-26 02:39] charlesgu6 commented on #2415
Thank you !

[2019-11-26 02:39] #2415 closed

[2019-11-26 03:12] darcula1993 commented on #1575
thank you for the info! @take-kuma.
I am also digging into the structure, seems it is not that hard. So the only thing different from previous model weights format is that they combine all layer weights into one .bin file?

[2019-11-26 05:01] wingman-jr-addon commented on #2301
@Pankaj01998 Take a peek at the same repo. Here's [the model load and a call with dummy data](https://github.com/wingman-jr-addon/wingman_jr/blob/3be3f782b7653069852220f272e981587bca1da0/background.js#L34). Standard TF.js according to the docs, nothing fancy.

[2019-11-26 06:56] Pankaj01998 commented on #2301
what does file tfjs_1.2.10.js do in your code?

[2019-11-26 07:49] sushanth-d commented on #2413
Downgrading the TensorFlow version from 1.15.0 to 1.14.0 while training my model fixed this issue. Then I was successfully able to convert the model into TensorFlow-js format.

[2019-11-26 07:49] #2413 closed

[2019-11-26 11:03] Sequential-circuits commented on #2212
That would be VERY useful. When will it be available?

[2019-11-26 13:47] MarcDelp commented on #2003
Hi, same error here on Windows 10 as well:
[code]

Node version: 12.13.1
Tried with tfjs-node versions: 1.3.1, 1.3.0, 1.27
I always have the file `tfjs_binding.node` in the folder `node_modules/tfjs-node/lib/napi-v4`.

Side note: I can't install tfjs-node@3.1.2, even if I have tried installing (and reinstalling) `windows-build-tools` and other solutions found on this github and on the Internet.

[2019-11-26 13:49] philipp-ghtest commented on #2423
Thank you, I fixed the issue with the await statement like you suggested and it worked, but now a tfjs error pops up.

I'll resubmit it here later in case no-one on stackoverflow knows what to do

[2019-11-26 15:31] tafsiri commented on #2400
Hi @ItachiUchiha91 thanks for letting us know. Is your project a typescript project? If so did you add `skipLibCheck: true` to your `tsconfig.json`?

Ideally you shouldn't need to transpile the typescript as the js is already bundled, but it looks like the resolver tries to load the typescript first.

[2019-11-26 15:37] tafsiri commented on #2400
@caisq Just out of curiosity, do you know why compiled_api.ts is copied into dist when building tfjs-converter? https://github.com/tensorflow/tfjs/blob/master/tfjs-converter/package.json#L57

[2019-11-26 16:38] #2363 closed

[2019-11-26 19:10] philipp-ghtest opened #2437 "Import with tf.loadLayerModel() for GRU architecture fails due to weight shape mismatch (but import in tf.keras works fine)"
Hi,

I trained a NLP model with TF2.0 using its Keras API. The model works perfectly fine in python:

Python code:
[code]

Then I saved it to .h5 and converted it with `tensorflowjs_converter` just as described here: https://www.tensorflow.org/js/tutorials/conversion/import_keras

This conversion also worked perfectly fine. I ensured this by converting the JSON model back to .h5 and re-importing i

[2019-11-27 04:31] wingman-jr-addon commented on #2301
That is just the minified TF js library file renamed to have the version in it.

[2019-11-27 12:26] philipp-ghtest commented on #2437
Okay, I tracked the bug down but honestly my JS knowledge is not sufficient to figure out a fix.

Something's wrong with variables.ts:335 batchSetValue(). This function is called at the end of containers.ts:564 loadModel(), after constructing the architectur from the JSON (this works fine, I checked) and loading the weights (also works fine, all shapes match).

For some reason I have trouble stepp

[2019-11-27 12:28] philipp-ghtest commented on #2437
Turns out there's something wrong already with the variablesAndValues array at variables.ts:335 batchSetValue().
![tfjs_debug](https://user-images.githubusercontent.com/50402778/69723424-c7abc880-1119-11ea-95d1-6fb688216778.png)

[2019-11-27 12:44] philipp-ghtest commented on #2437
wait, no, it's somewhere else. sorry for the confusion. I'm still tracking it down

[2019-11-27 13:05] adwellj commented on #2003
@MarcDelp, I'm pretty sure there's an issue with tfjs and node 12, and the latest version of node to be working is 10.16.3. Perhaps try with node 10.16.3 and see if that temporarily resolves your issue.

[2019-11-27 15:31] MarcDelp commented on #2003
Yes, I got it working on node 10.16.3 with tfjs 1.3.1 but I'd really like to make it on node 12 as we are starting a new project from scratch. Do you have any idea (even if not a precise one) on when the fix may be available?

[2019-11-27 15:36] philipp-ghtest commented on #2437
okay, I'm gonna close this issue und reopen a more precise one

[2019-11-27 15:36] #2437 closed

[2019-11-27 15:56] Pankaj01998 commented on #2301
Bro, I tried your method in my firefox extension but it is not working. It is not able to import the model. I am trying it from many days.

I am attaching my github project link you can check it. here is the link.

https://github.com/Pankaj01998/Firefox-Extension-Detecting-Disturbing-Images

[2019-11-27 15:59] philipp-ghtest opened #2442 "Bug in deserializing TF2.0 GRU layer's bias vector in tf.loadLayersModel()"
Dear tfjs-team,

I ran into an issue these days when I tried to import a former Keras .h5 model with GRU layers into tfjs, see https://github.com/tensorflow/tfjs/issues/2437

tldr: this error popped up:
[code]

On further investigation, I figured out that there's something wrong in `models.ts:300` in the  `deserialize()` function.

Turns out that the model object returned by `deserialize()` sets f

[2019-11-27 17:38] blidblid opened #2443 "Add support for keras layer DenseFeatures"
#### TensorFlow.js version
1.3.2

#### Browser version
Chome 78.0.3904.108

#### Describe the feature request
Add support for the [keras layer DenseFeatures](https://www.tensorflow.org/api_docs/python/tf/keras/layers/DenseFeatures).

#### Code to reproduce the bug / link to feature request

##### Step 1:
Create a model in Python using the DenseFeatures layer.
[code]

##### Step 2:
Train, fit and t

[2019-11-27 17:50] kangyizhang commented on #2003
@MarcDelp @adwellj A PR fixing this issue has been merged and the next release (most likely after thankgiving) will support the latest version of node.

[2019-11-27 22:41] satbecse commented on #1676
https://storage.googleapis.com/tfjs-speech-model-test/2019-01-03a/dist/index.html

In Mac's Safari browser ,when using above url, after clicking the 'start' button , it is recognizes when I say 'one' ,'seven' or some other number.

It gets hung ,
1. If I switch to other application say calculator from the safari and come back to safari.
2. If I minimize and maximize the safari browser.

Can u plea

[2019-11-27 22:52] pyu10055 commented on #2267
@neilreid actually TF 1.15 is newer than tensorflow 2.0.0-dev20190605, do you mind try converting again with the latest converter? Thanks.

[2019-11-28 04:44] #2003 closed

[2019-11-28 08:08] wingman-jr-addon commented on #2301
I have gotten it working, but I will respond to your approaches as an issue on your Github rather than here as it really does not have to do with Tensorflow.js.

I recommend that the mods close this out.

[2019-11-29 02:27] MRchenao opened #2449 "Uncaught (in promise) Error: Tensor must have a shape comprised of positive integers but got shape [100,]."
Uncaught (in promise) Error: Tensor must have a shape comprised of positive integers but got shape [100,].
use ssd_mobilenet_v1_coco
![image](https://user-images.githubusercontent.com/18750497/69839537-d8cc1500-1292-11ea-82f8-d26c581ad9ce.png)

Any help will be greatly appreciated.

[2019-11-29 07:53] MRchenao opened #2450 "Unsupported Ops: NonMaxSuppresionV4 when converting model"
Unsupported Ops: NonMaxSuppresionV4 when converting model

[2019-11-29 12:19] denis-sh opened #2452 "`tfjs.converters.convert_tf_saved_model` fails for NN with embedding (in most cases)"
#### TensorFlow.js version
1.3.1.1

#### Browser version
N/A

#### Describe the problem or feature request

`tfjs.converters.convert_tf_saved_model` fails:
1. When converting module with `tf.nn.embedding_lookup` and single GPU (of few in the system) is used (for conversion).
or
2. If module contains prebuilt `tf.keras.layers.Embedding` layer.

#### Code to reproduce the bug / link to feature reque

[2019-11-30 09:45] darkdebo opened #2453 "window not defined reference error"
I got this type of error after installation:
/home/debo/node_modules/vega-embed/build/vega-embed.js:3874
  const w = window;
            ^

ReferenceError: window is not defined
    at /home/debo/node_modules/vega-embed/build/vega-embed.js:3874:13
    at xhtml (/home/debo/node_modules/vega-embed/build/vega-embed.js:2:83)
    at Object.<anonymous> (/home/debo/node_modules/vega-embed/build/vega-embe

[2019-11-30 12:28] ethanlee515 opened #2454 "Unsupported Ops StatefulPartitionedCall"
#### TensorFlow.js version
1.3.2

#### Describe the problem or feature request
I'm trying to use [Universal Sentence Encoder](https://tfhub.dev/google/universal-sentence-encoder/3) from Tensorflow Hub.
I followed your [directions](https://github.com/tensorflow/tfjs/blob/master/tfjs-converter/README.md) and got the following error in step 1.2:
[code]
Your directions also say that

So here we are.

[2019-11-30 13:26] csmovva opened #2455 "Loading keras converted model failed."
Hello TFJS team. We are trying to convert a standard mobilenet keras model but we are having problems.
Below are the sequence of steps followed and the Error message observed.

colab conversion commands used:
------------------------------------------
!tensorflowjs_converter \
    --input_format=keras \
    --output_format=tfjs_layers_model \
    ./mobilenet_2_5_224_tf.h5 \
    ./my_mobilenet
----

[2019-11-30 17:43] GaryZlobinskiy commented on #2400
@ItachiUchiha91 thank you for your solution. It worked for me like a charm.

[2019-11-30 18:52] wingman-jr-addon commented on #2455
Looks similar to #931 - could it be that you're only saving weights?

[2019-11-30 23:24] startupgurukul commented on #2455
The model being used is official recommendation from the url and instructions from https://github.com/tensorflow/tfjs-examples/blob/master/mobilenet/README.md
![Screenshot_20191201-045356478](https://user-images.githubusercontent.com/11027129/69907202-ab987780-13f6-11ea-8879-376cb1d38efd.jpg)

[2019-12-01 04:53] ozican commented on #1701
I am gonna be crazy.. 1 week I didn't sleep because of that.. How nobody needs that? I want to create an api in my server via node.js. I have a trained vision model (autoML), and when I load it from local file, it gives me error!!!!! F***k yeah f***king G****l* bot.... Love you!!! Have a nice day, bay bay.

(Finally feel better)

[2019-12-01 05:20] caisq commented on #1701
@pyu10055 do you have cycles to take a look at this feature request?

[2019-12-01 05:21] caisq commented on #2455
@csmovva can you let us know the versions of
1. tensorflowjs_converter (Python)?
2. tensorflow.js (JavaScript)?

[2019-12-02 01:10] gpavlov2016 opened #2458 "Is there any way to run tfjs on Mali T720 (Samsung Tab E)?"

[2019-12-02 04:27] #2301 closed

[2019-12-02 04:34] rthadur commented on #2449
Please specify the steps you used to generate the model ?

[2019-12-02 05:51] rthadur commented on #2458
Hello, this sort of question is better suited for StackOverflow. This issues list is for bugs and feature requests. Thanks and please use the tag 'tensorflow.js' on your StackOverflow question to makes sure it's discoverable.

[2019-12-02 05:51] #2458 closed

[2019-12-02 05:53] #2400 closed

[2019-12-02 12:17] rthadur commented on #2453
Hello, this sort of question is better suited for StackOverflow. This issues list is for bugs and feature requests. Thanks and please use the tag 'tensorflow.js' on your StackOverflow question to makes sure it's discoverable.

[2019-12-02 12:17] #2453 closed

[2019-12-02 16:00] gitathrun commented on #2177
Hi, @tafsiri
Sorry for the late reply, I do spend sometime to re-create project and test the new verision, here is what I got:

1. I can confirm it works as expected in react-native version @0.59.x.

2. But unfortunately, it could not work with react-native version >=@0.60.x.
With the rn version higher than 0.60.x, it can successfuly bundle, and installed to device, but when click the app, the app

[2019-12-02 16:22] tafsiri commented on #2177
@gitathrun from your error log it looks like the problem is with accessing a microphone (maybe a permissions error)? If you fix that do you get any other errors?

It also sounds like you weren't able to get react-native-fs set up where you using RN 0.60 or a version `> 0.61`. The readme for [react-native-fs](https://github.com/itinance/react-native-fs) seems to suggest you need to use RN 0.61 or h

[2019-12-02 16:27] Emegua opened #2459 "tf.browser.fromPixel(video) causes memory leak"
To get help from the community, we encourage using Stack Overflow and the [`tensorflow.js`](https://stackoverflow.com/questions/tagged/tensorflow.js) tag.

#### TensorFlow.js version
1.3.1
#### Browser version
Chrome Version 75.0.3770.142
#### Describe the problem or feature request
I wanted to get the current frame data from a video using tf.browser.fromPixels(video), but every time this function

[2019-12-02 16:35] gitathrun commented on #2177
@tafsiri Here is the weired part. I have never try to setup the microphone permission or usage in this simple demo, the code is identical with version 0.59. But the rn 60 asks for this permission? This is the part I am not certain about.

The second odd thing is, according to react-native-fs doc,
[code]

But with this version 2.13.x, the android build failed as [this](https://github.com/itinance/r

[2019-12-02 18:45] hadrienj commented on #2348
@Ghadjeres What lines did you remove in what file?

[2019-12-02 21:40] pyu10055 commented on #2454
@vbardiovskyg Can you take a look, seems the tf_hub model is not inlined properly? It still has PartitionedCall op. Thanks.

[2019-12-03 03:24] MRchenao commented on #2449
@rthadur
1、`python3 tf-models/research/object_detection/export_inference_graph.py --input_type=image_tensor --pipeline_config_path=/data/FashionDetector/models/ssd_mobilenet_v1_coco_11_06_2017/pipeline.config --trained_checkpoint_prefix=/data/FashionDetector/models/ssd_mobilenet_v1_coco_11_06_2017/model.ckpt-7904 --output_directory=/data/FashionDetector/ssd_v1_coco`

2、`tensorflowjs_converter --in

[2019-12-03 07:14] dallarosa commented on #2043
I'd love to use this with TFLite for Android so if it would be great if you could release the original tensorflow model or at least the the tflite version

[2019-12-03 07:36] momo1986 opened #2464 "tensorflowjs_converter command not found in windows"
Dear Google-Tensorflow guys,

I met problems when I try to convert some model json file to keras model file.

I have installed tensorflow and tensorflow-js.

It is the version number:
[code]

However, it reported "Command not found" when I launch the command "tensorflowjs_converter". It is so wierd. Can you give me some comment?

Thanks & Regards!
Momo1986

[2019-12-03 08:34] vbardiovskyg commented on #2454
Hi Ping, a couple of observations:
1. https://tfhub.dev/google/universal-sentence-encoder/3 is a standard TF2.0 SavedModel. It does contain functions but that's expected. The code is even taking the convert_tf_saved_model path and this seems like a pure SavedModel vs TF.js boundary where it seems the functions are undefined. Does maybe TF.js converter assume that convert_variables_to_constants_v2

[2019-12-03 13:10] Ghadjeres commented on #2348
Hi @hadrienj I was referring to the slicing operation `outputs = outputs[:, 3]` in the Python file.

[2019-12-03 16:12] tafsiri commented on #2464
If i had to guess this would be a path issue. @pyu10055 @caisq any tips for what needs to be in PATH on windows?

[2019-12-03 17:34] sachingarg05 opened #2465 "How to download posenet model files for using offline?"
Trying to use https://github.com/tensorflow/tfjs-models/tree/master/posenet in an electron app that needs to be bundled for use in offline environment.

When offline, can't directly use the model files hosted at,
  https://storage.googleapis.com/tfjs-models/savedmodel/posenet/mobilenet/
  https://storage.googleapis.com/tfjs-models/savedmodel/posenet/resnet50/

It seems easy enough to change the co

[2019-12-03 18:06] pyu10055 commented on #2464
@momo1986 Yannick is probably right on this, it depends if you install the tensorflowjs pip globally or locally. On Linux, the local installation will put the executable in ~/.local/bin directory, for windows people suggest this is the location:
%USERPROFILE%\AppData\Roaming\Python\Scripts
Please confirm if you can find the tensorflowjs_converter exeutable in that directory.
If so, you need to add

[2019-12-03 19:00] pyu10055 commented on #2454
Yes, the convert_variables_to_constants_v2 should inline the functions, that is how is works with TF 2.0 saved models. Our unit tests that creates saved model with TF 2.0 works fine, are there any known differences between TFHub 2.0 module vs TF 2.0 saved model? The USE-lite is a v1 module, and it seems to work.

[2019-12-03 19:03] pyu10055 commented on #2454
@vbardiovskyg Also, many tfhub module seems to be missing the signatures (for example, https://tfhub.dev/google/imagenet/mobilenet_v2_100_224/feature_vector/4)

[2019-12-03 20:25] dsmilkov opened #2467 "Fusing of depthwise breaks mobilenet conversion"
To repro:
[code]

Error:
[code]

I commented out the code with fusing depthwise, and the conversion succeeded. See diff:
![regression](https://user-images.githubusercontent.com/2294279/70086794-15747500-15e1-11ea-833d-a64178464af4.png)

[2019-12-03 20:46] nsthorat commented on #2467
This would be a great thing to have an integration test for!

Full flow for the test would be:
1) Convert a SavedModel with the tool
2) Run the converted SavedModel in Node.js and expect the output to be the same as python

Is this something we can do as a follow up Ping (or even better with the fix)?

[2019-12-03 22:50] pyu10055 commented on #2467
@nsthorat Daniel is adding the fix, I will push the tests after his PR is merged.

[2019-12-03 22:56] #2467 closed

[2019-12-04 01:27] patlevin commented on #1575
I faced the same problem and wrote a tfjs to tf converter if anyone is still interested I can create a repo for it and post link it here.

[2019-12-04 01:41] gblue1223 commented on #2428
I've configured as @kangyizhang said but still not working.
Furthermore, I've reinstalled MS Build tools with `npm install --production windows-build-tools` in the project folder but, failed to build tjfs-node-gpu (tjfs-node built successfully).
By the way, Is there any way to see MSBuild log?

[System Info]
[code]

[Log]
[code]

[2019-12-04 03:11] rthadur commented on #2465
Hello, this sort of question is better suited for StackOverflow. This issues list is for bugs and feature requests. Thanks and please use the tag 'tensorflow.js' on your StackOverflow question to makes sure it's discoverable.

[2019-12-04 03:11] #2465 closed

[2019-12-04 06:27] axinging opened #2471 "[webgpu] Re-structure utils code"
Re-structure utils code so that it can be better shared among all backends.
Example:
1, export slice_util from backend_util
2, import Activation from backend_util, export FusedConv2DConfig from backend_util (currently it only exports Activation)

This task is from:
https://github.com/tensorflow/tfjs/pull/2441
https://github.com/tensorflow/tfjs/pull/2448

[2019-12-04 09:22] philipp-ghtest commented on #2442
Hey, any update on this?

[2019-12-04 10:00] momo1986 opened #2472 "TypeError: The JSON content is required to be a `dict`, but found <class 'list'>."
Hello, when I run "tensorflowjs_converter" .
It reported error:

I want to transform the file of json to keras_save_model:

 `tensorflowjs_converter --input_format tfjs_layers_model --output_format keras_saved_model tiny_face_js/tiny_face_detector_model-weights_manifest.json tiny_face_h5`

But it failed, is there any workaround to resolve the problem?

Thanks & Regards!
Jun Yan

[2019-12-04 14:36] vbardiovskyg commented on #2454
No, there is no difference between those too. Actually it is easy to verify that the converter is using just a standard TF2.0 saved model code path - see the first line in the output:
`Loading the module using TF 2.X interface from /tmp/tfhub_modules/42480c3c7f42bf87d36d4c58fc4374b08dae2909.                                                                         `

While it is true that they don't

[2019-12-04 15:28] tylerzhu-github commented on #2043
Hi @JakeWade3, @gdgggithub, @sreed101, @darcula1993, @dallarosa,

Sorry for the delayed reply!
I agree with what @pyu10055 suggested about hosting the models on TFHub.
Currently I am in the middle of making the corresponding model available via TFHub together with TensorFlow and TensorFlow.js teams. This process might take time.

Thx for the patience!!

Best,
Tyler

[2019-12-04 15:52] hadrienj commented on #2348
@Ghadjeres I see! Thanks a lot!

[2019-12-04 17:43] rthadur commented on #2472
Hello, this sort of question is better suited for StackOverflow. This issues list is for bugs and feature requests. Thanks and please use the tag 'tensorflow.js' on your StackOverflow question to makes sure it's discoverable.

[2019-12-04 18:13] pyu10055 commented on #2454
@vbardiovskyg In the case of no signature, the conversion process will diverge from the typical TF2.0 saved model, we might have to add a function_name parameter to support that.
I need to figure out why this model cannot be inlined by graper.

[2019-12-04 18:52] juhoojala commented on #906
Thanks for this great library!

I'm also interested in this. For me it would be useful for a non-ML-related optimization problem.

The python version has it, and I believe that javascript users would benefit similarily of the functionality as python users do
https://www.tensorflow.org/api_docs/python/tf/sparse/SparseTensor

[2019-12-04 20:50] kangyizhang commented on #2428
@gblue1223 I just updated the pre-built binary, please try again.

To get build logs, you can fork the [repo](https://github.com/tensorflow/tfjs) , go to folder `tfjs-node-gpu`, and run `node-pre-gyp install --verbose --build-from-source`

[2019-12-05 00:35] gblue1223 commented on #2428
Thanks @kangyizhang

I've got `tfjs_backend.cc(1134): error C2131` message and after look at the line I found wrong code which is `char name[strlen(input_op_name_array[i])];`.

However the latest source code already fixed 15days ago.
It seems does not up to date on the npm.

So, I've updated `tfjs_backend.cc` to new one and it works~!

[2019-12-05 01:14] kangyizhang commented on #2428
Glad to hear it works. Yes the current published version has a bug on Windows. We'll release new version soon.

[2019-12-05 04:41] jjs-stripe opened #2475 "Variance for 16x16 array is infinite on Mobile Safari (iPhone 11)"
To get help from the community, we encourage using Stack Overflow and the [`tensorflow.js`](https://stackoverflow.com/questions/tagged/tensorflow.js) tag.

#### TensorFlow.js version
1.3.1

#### Browser version
iOS Safari (13.2.3)

#### Describe the problem or feature request
tf.moments() reports an infinite variance for a 16x16 tensor with no NaNs or Inf. Running the exact same code on desktop br

[2019-12-05 05:44] wingman-jr-addon commented on #2455
@startupgurukul It might be worth posting your exact steps, because I think you may have a misunderstanding about the .h5 file.

The [linked .h5 file](https://github.com/fchollet/deep-learning-models/releases/download/v0.6/mobilenet_2_5_224_tf.h5) on that page is _not_ a full model, but rather weights that are intended to be loaded into a model - see [the verbiage on the download page](https://git

[2019-12-05 06:09] momo1986 commented on #2472
Thanks!
I try to post the question:
https://stackoverflow.com/questions/59189181/typeerror-the-json-content-is-required-to-be-a-dict-but-found-class-list
I wish you are all the best.
Maybe the issue can be closed.
Thanks & Regards!

[2019-12-05 09:01] JendonYuen commented on #1575
Great, I'm interested.

[2019-12-05 09:18] GodsDusk opened #2478 "keras mobilenet model predict Nan"
#### python version
3.6.8 virtualenv
#### TensorFlow.js version
1.3.2
#### Browser version
Chrome 78.0.3904.108 x64
and
Safari 13.0.3 (14608.3.10.10.1)

I use tf.keras mobilenet pre-trained model
[code]
image is from skimage.data.chelsea()

[code]

[2019-12-05 10:08] elizabethsiegle commented on #1709
Hi! I am having the same error with words not in the dictionary

[2019-12-05 10:59] b005t3r commented on #572
Was anyone able to download the single pose models? I feel like I tried every github project at this point and couldn't find a single one using the single-pose models.

[2019-12-05 14:34] vbardiovskyg commented on #2454
It is actually a bit more complicated.

If you provide a name, you can lookup a polymorphic function which is a TF2.0 concept representing multiple traces (concrete functions) of the same function but with different arguments.

For example in the mentioned models, there are 4 such traces (2x2 combinations of [trainable, return_endpoints] from [True, False]). The caveat is that there is no right wa

[2019-12-05 14:58] tafsiri commented on #2478
Could you give a bit more detail about the nan result you are seeing? Are you seeing a typedarray with nan values or something else. Looking at the code snippet the result from predict is not `await`ed so i would expect that value to be a promise.

You can also check the values of `img` to make sure they are what you expect (i.e. the image has loaded and is being read correctly).

Other than that

[2019-12-05 15:32] nsthorat opened #2479 "[WASM] Use XNNPack for bilinear resizing."
Right now we write our own bilinear resizing but XNNPack has a version of this we should use.

[2019-12-05 16:45] #2472 closed

[2019-12-05 19:09] jjs-stripe commented on #2475
More color- doing `setBackend('cpu')` makes the error go away.
We traced it even further. If you compute variance via a series of TF operations, the infinities appear when you SUM the (x' -x)^2 series (even though this series is finite).

[2019-12-05 20:28] dsmilkov commented on #1497
Hi all,

We are excited to share that we just released our first alpha release of the WASM backend.
See the [README.md](https://github.com/tensorflow/tfjs/blob/master/tfjs-backend-wasm/README.md) in the `tfjs-backend-wasm` folder for how to use it. At this point we have about ~30 kernels - see [all_kernels.ts](https://github.com/tensorflow/tfjs/blob/master/tfjs-backend-wasm/src/kernels/all_kernels

[2019-12-05 20:28] #1497 closed

[2019-12-05 20:29] dsmilkov commented on #1497
Closing this issue since it's a general issue tracking our WASM release. Feel free to file separate issues if you run into problems.

[2019-12-05 20:57] whatevergeek commented on #1497
Thanks @dsmilkov
This is great news.

[2019-12-05 20:57] bhack commented on #1497
@dsmilkov Are you involved as team in https://bytecodealliance.org/?

[2019-12-05 21:58] kangyizhang commented on #2277
The problem can not be reproduced and based on the log seems like you installed the library in a different directory.

[2019-12-05 21:58] #2277 closed

[2019-12-05 22:22] jjs-stripe commented on #2475
Further color- executing this repeatedly seems to cause a Safari to be unstable and leads to session crashes.

[2019-12-05 23:09] camsjams commented on #1497
There appears to be a directory called `wasm-out` missing in the published npm version, I get an error:
[code]

Here is a screenshot of installed items:
![image](https://user-images.githubusercontent.com/833485/70281945-2b18a480-1771-11ea-85e1-0d60ea9ebcfe.png)

[2019-12-05 23:29] dsmilkov commented on #1497
Thanks for finding that out. We just released `1.4.0-alpha2` with the fix. Let us know how it goes.

[2019-12-05 23:52] camsjams commented on #1497
@dsmilkov Thanks! Is this published to npm as well?

[2019-12-06 00:24] camsjams commented on #1497
It looks to be working so far in the sense that our application hasn't crashed or thrown errors. I will you know how it goes :+1:

[2019-12-06 00:40] startupgurukul commented on #1497
Great new congrats on alpha,

Cameron, pls do share the performance improvements you notice during your experiments with wasm backend.

[2019-12-06 01:13] julkar9 opened #2503 "Is there a way to set per_process_gpu_memory_fraction tensorflow node gpu"
Is there a way to set `per_process_gpu_memory_fraction` tensorflow node gpu ?

[2019-12-06 02:04] GodsDusk commented on #2478
<img width="494" alt="WX20191206-095644@2x" src="https://user-images.githubusercontent.com/13726533/70289263-2efb0400-180f-11ea-9727-a0ae67da0689.png">

here is  the result，and if I replace
`model = await tf.loadLayersModel('model/model.json');`  to `'https://storage.googleapis.com/tfjs-models/tfjs/mobilenet_v1_0.25_224/model.json'`
the result is correct

[2019-12-06 04:24] prouast opened #2504 "batchNormalization is not implemented for array of rank 5 yet"
#### TensorFlow.js version
1.3.1
#### Browser version
Version 78.0.3904.108 (Official Build) (64-bit)
#### Describe the problem or feature request
As the title says, 5D tensors are not supported yet for BatchNorm layers.

This is currently what is stopping me from running a small 3D CNN on video data in tfjs.
I used tfjs.converters.save_keras_model() to save the model which includes a tf.keras.lay

[2019-12-06 09:26] darcula1993 commented on #1575
Yes! I am also interested!

[2019-12-06 11:21] AndreMaz opened #2505 "Add changelog"
It would be great if there was a changelog to track the changes. For example, what changed from `v1.3.2` to  `v1.4.0`?

[2019-12-06 12:37] chirva-ivan commented on #1497
Did everything following the example from README and got an error. Do I need some special build of tfjs-core? Any Ideas?

![Screenshot from 2019-12-06 15-30-44](https://user-images.githubusercontent.com/18259976/70323312-84e6a080-183d-11ea-8e41-0305af502265.png)

[2019-12-06 13:18] dsmilkov commented on #2403
cc @tylerzhu-github (the creator of PoseNet) for my context.

[2019-12-06 14:46] nsthorat commented on #1497
@chirva-ivan which browser are you using? If you open the initialization error what does it say?

[2019-12-06 15:27] chirva-ivan commented on #1497
@nsthorat using Chrome 78
![Screenshot from 2019-12-06 18-26-16](https://user-images.githubusercontent.com/18259976/70334182-faf70180-1855-11ea-9fd3-de7636c34a5f.png)

[2019-12-06 15:29] Fuyaoyao commented on #1334
I just solved it.If your model is a subclass of tensorflow.python.keras.models,you should use tesorflow.python.keras.models.load_model not keras.models.load_model.You can check it.

[2019-12-06 15:37] nsthorat commented on #1497
@chirva-ivan is it possible for you to stand up a demo for us to look at?

[2019-12-06 15:38] dsmilkov commented on #1497
Are you using Parcel? Can you share a small project/build script that we can reproduce? Thanks!

[2019-12-06 20:37] patlevin commented on #1575
Here you go: https://github.com/patlevin/tfjs-to-tf

[2019-12-07 08:14] azidmiracle opened #2515 "Unable to resolve module '@reactNative\\node_modules\\@tensorflow\\tfjs-react-native\\dist\\asyn_storage_io.js"
Hello everyone,

I have been trying to figure out and solve this problem I encountered for almost a week.
Try to search online for a solution but unable to solve it.
Here is the error.

![image](https://user-images.githubusercontent.com/45925710/70371074-3c94b480-1909-11ea-954a-1e9037004e60.png)

I am using Windows 7, android emulator

  "dependencies": {
    "@react-native-community/async-storage

[2019-12-08 19:37] Emb1ter opened #2518 "Model not learning in javascript"
#### TensorFlow.js version
1.4.0.
#### Browser version
Opera latest
#### Describe the problem or feature request
I am trying to train a model in javascript and the model fails to learn or converge. I took the same model and the same data, which I used in the python version of the program, so I expected the model to learn on the same phase. On the contrary, the  model fails to improve and the valid

[2019-12-09 00:43] yashints commented on #1497
Here is a codesandbox with above error

https://codesandbox.io/s/naughty-montalcini-s0gjk

[2019-12-09 02:14] wingman-jr-addon commented on #2455
@startupgurukul Any luck?

[2019-12-09 02:58] MRchenao commented on #2449
最后我发先是coco-ssd的源码有问题，出现这个错误是说明你的输入不符合标准。最终我是通过修改另一个类似coco-ssd的物体检测的前端sdk来解决这个问题的。具体的解决办法还是需要各位根据自己的模型输出情况来处理。

[2019-12-09 02:58] #2449 closed

[2019-12-09 05:59] mgroeneweg commented on #1948
Hi,

We're looking into a use case to  use TensorFlow.js in a Mendix native mobile app, which is actually a React Native app. The user will walk around a museum. pointing the mobile phone at items on display. The app recognizes the items and provides information, on the display and/or through text-to-speech.
So recognizing objects using the camera stream from a pre-trained model is key here. For o

[2019-12-09 08:16] vbardiovskyg commented on #2454
Not sure what's going on there with the saved_model_cli, my guess is an old version of TF. Worked for me with `pip install tensorflow==1.15`.

I agree. I think the TF Lite models don't support string ops to keep the binary small.

[2019-12-09 16:29] caisq commented on #2442
@philipp-ghtest Sorry for the delay in getting back to you.

I looked at the Python code that you used to generate the model. Why are you including a ` keras.layers.Flatten()` layer? The output of the 3rd (last) GRU layer already has a flat output shape (None, 128). If you remove that layer, things should work properly in TensorFlow.js.

[2019-12-09 16:29] caisq commented on #2442
I close this issue for now. If you have any additional questions or concerns, please feel free to keep adding comments and/or re-open this issue. @philipp-ghtest

[2019-12-09 16:39] caisq commented on #2504
@dsmilkov @nsthorat FYI, in order to implement rank-5 support for the batchNormalization layer in tfjs-layers, we'll need tf.batchNorm5d() in tfjs-core first. But that doesn't exist yet.

Adding 'core' tag to this issue.

[2019-12-09 16:46] caisq commented on #2478
@GodsDusk

To help us diagnose this issue, can you provide the following information:
1. If you feed an all-zero input image to your model (tf.zeros([1, 224, 224, 3])), does the model output NaNs?
2. Can you get the weights of the model (`model.getWeights()`) to see if any of the weights of the model contains NaN or Infinity elements?
3. Can you serialize the content of your input batched.dataSync

[2019-12-09 18:04] caisq commented on #2455
Yeah, I think what happened here is that some HDF5 files released by Keras are weights-only: I.e., they have only the weights, but not the model topology. They are used for loading by the Python Keras library itself, in its keras.applications module. If you try to convert such HDF5 files directly to TF.js and load them in JavaScript, you'll get this error.

The workaround is to load the file in Py

[2019-12-10 02:50] GodsDusk commented on #2478
@caisq
Use `tf.zeros([1, 224, 224, 3])`  aslo output NaNs

then I extract subnetwork from mobilenet to find how it works.
[code]

I found this output values become very large and the next output layer 'bn_Conv1' has some 'inf' values.

**Conv1 outputs:**
![WX20191210-102414](https://user-images.githubusercontent.com/13726533/70489954-156ffa00-1b38-11ea-8fd1-d32d548ac81a.png)

**bn_Conv1 outputs:**

[2019-12-10 02:54] caisq commented on #2478
@GodsDusk These weight values definitely look problematic. I have no idea how it ends up being so. Can you check your cached model weight files? Perhaps clear it? I believe that are in the 'models' subfolder.

[2019-12-10 03:23] GodsDusk commented on #2478
@caisq
do you mean those files named 'group1-shardXofX.bin' ?
I clean up those files before convert everytime, it's not helpful.

[2019-12-10 03:26] caisq commented on #2478
@GodsDusk Hmm. This is getting confusing. There seems to be something peculiar about your set up.

What version of Python TensorFlow are you using?

Try doing everything from a clean virtualenv and a clean working directory.
Try another computer maybe?

[2019-12-10 03:27] caisq commented on #2478
Another possibility: There may be something incorrect about the HTTP server, which causes the bytes for the weight files to be garbled somehow.

[2019-12-10 03:28] caisq commented on #2478
At least we know now the root cause of your problem is the weights having very large and infinity values. The weights should all have reasonably small values (i.e., absolute values <= 5.0 approximately).

[2019-12-10 03:35] caisq commented on #2478
@GodsDusk Another thing you can check: Before the model conversion, in Python, call the model's `get_weights()` method to see if the weight values are already larger and infinity in Python.

[2019-12-10 05:17] ckhordiasma commented on #2442
I am having this exact same issue. I am also using a GRU, in my case my model looks like
[code]

I am importing using keras and the tensorflowjs command line tool from pip, ` tensorflowjs_converter --input_format keras ./model.h5 ./output`

when I try to import my model into tensorflow js using the command:  `const model = tf.loadLayersModel('/output/model.json')`

I get the error:  `Uncaught (in

[2019-12-10 05:36] wingman-jr-addon commented on #2455
Yes @caisq  we are on the same page. @csmovva  In this specific case, that mobilenet.py is what builds the model topology.

[2019-12-10 08:56] darcula1993 commented on #572
single pose and multi-pose actually use same model. They just use different method to decode the ouput from that model.

[2019-12-10 09:13] darcula1993 commented on #2043
@tylerzhu-github thank you very much for your reply.
@dallarosa @JakeWade3 @gdgggithub @sreed101
If you need a tf-format bodypix or posenet model, you can use
`https://github.com/patlevin/tfjs-to-tf`
to convert the tfjs-graph model into tf fronzen graph.  You can also extract weights from it if you want to build your own posenet or bodypix.

I convert a mobilenetV1_float_100 posenet tfjs model int

[2019-12-10 09:31] philipp-ghtest commented on #2442
Nope, it doesn't. I've already tried this.

As I extensively described in my first post, this is due to a shape mismatch when setting the bias weights of the GRU layers in tfjs.

I'm still trying to track this issue down, but up to date I'm pretty sure there's something wrong with setting/initializing weights in tfjs' GRU layers.

[2019-12-10 10:53] philipp-ghtest commented on #2442
@ckhordiasma

Thanks for your reply. This is indeed the same issue as mine. I'm glad I'm not the only one.

[2019-12-10 11:03] philipp-ghtest commented on #2442
@ckhordiasma @caisq

I found a workaround that works for me.

I figured that in the bias weights that get saved from keras that have the shape `[2, 384]` (the 384 is case specific of course), that in these weights, the [0] column has exactly the same values as the [1] column. So that's more likely a bug in tf's python code?

Anyway, if you manually set up the architecture, and then manipulate the

[2019-12-10 11:27] philipp-ghtest commented on #2442
@caisq can you maybe reopen this and label it as a bug and not as support? That would really be great, thanks!

[2019-12-10 17:26] aniket-chowdhury commented on #1903
Hey, is this issue still open? If yes, how should I proceed?

[2019-12-10 17:44] caisq commented on #1903
@aniket-chowdhury Are you checking to see the state of this feature request, or are you expressing interest to contribute? This is still open. Graphs are a little tricky, because TensorFlow.js doesn't have the same computation graph underpinning as TensorFlow does. But other visualization types such as histograms and images make sense and shouldn't be highly complicated to support. I personally do

[2019-12-10 17:54] aniket-chowdhury commented on #1903
@caisq Well, I am expressing an interest to contribute. Honestly, I have a bit of a free time at hand and looking around for something challenging. Couldn't hurt to try. But, I am a bit new to this repository - so any  and all help would be appreciated.

[2019-12-10 18:03] caisq commented on #1903
@aniket-chowdhury I'm going to propose a concrete goal. You can accept or differ, depending on your thoughts and interest.

The goal is to enable writing out weight histograms during `tf.LayersModel.fit()` calls, when the tf.node.tensorBoard callback is configure. See this example:
- https://github.com/tensorflow/tfjs-examples/blob/fb430042376431fba804a2495891100f6e2205d6/sentiment/train.js#L193

[2019-12-10 18:28] aniket-chowdhury commented on #1903
@caisq Sounds interesting. I guess I will begin with the looking up previous implementation for Ops and then work on the Histogram op.

[2019-12-10 21:41] 1Upper commented on #2099
Hey tafsiri, I saw this issue happens on latest iOS 13.1.2 too. Do you get a chance to look at this issue? Thanks!

[2019-12-10 23:34] yashints commented on #1497
@dsmilkov I am still getting the error in the browser, was the fix just for node?

[2019-12-11 02:48] GodsDusk commented on #2478
@caisq
I use another computer and it works fine
😅
too ridiculous

Anyway, thank you so much

[2019-12-11 02:48] #2478 closed

[2019-12-11 03:12] rthadur commented on #2518
@pyu10055 @dsmilkov any comments ?

[2019-12-11 03:15] rthadur commented on #2505
@nsthorat is this doable ?

[2019-12-11 03:16] rthadur commented on #2503
Hello, this sort of question is better suited for StackOverflow. This issues list is for bugs and feature requests. Thanks and please use the tag 'tensorflow.js' on your StackOverflow question to makes sure it's discoverable.

[2019-12-11 03:18] #2267 closed

[2019-12-11 10:35] federicolucca opened #2535 "How to install last version of tfjs"
Hi guys,
I need to work with the last version of tfjs,i have found some issues fixed in the last 14hours by you.
Es. https://github.com/tensorflow/tfjs/pull/2524
how can i do it? there is a solution or i need to compile from master source source

thanks
Federico

[2019-12-11 13:37] Glunky opened #2536 "Error: The specified module could not be found. How to fix?"
#### tfjs-node 1.2.9
#### tfjs-core 1.2.9
#### tfjs1.2.9

####  Chrome 78 on Windows 10

Hi! My programm returns me an error:
[code]
Before all worked fine, but not now. If i update all 3 tfjs all works fine, but in my case i can use only 1.2.9. version. Is it possible to fix this issue without updating?

[2019-12-11 14:10] hamletbatista commented on #2455
@wingman-jr-addon I have a similar problem but with a different model. I'm following this tutorial that uses TF 2 https://github.com/huggingface/transformers is TF 2 supported?

I see two files saved:

config.json  tf_model.h5

I'm able to convert the h5 file, but get TypeError: Cannot read property 'model_config' of null

This is what is included in config.json

{
  "attention_probs_dropout_prob"

[2019-12-11 17:55] kangyizhang commented on #2535
hi @federicolucca

To use the head of master version of @tensorflow/tfjs-core (which is not published to npm), you need to
1. clone the @tensorflow/tfjs repo
2. go to folder `tfjs-core`
3. run `yarn publish-local`, or `npm run publish-local` if you do not have yarn
4. go to your repo folder, run `yalc link @tensorflow/tfjs-core`

Please not you will need to install @tensorflow/tfjs separately to u

[2019-12-11 17:55] #2535 closed

[2019-12-11 18:01] kangyizhang commented on #2536
There is an issue of using tfjs-node before 1.3.1 with node version later than 10.16.3. You can either use node @10.16.3, or install latest version of tfjs-node. You only need to install tfjs-node, it will automatically install tfjs and tfjs-core.

[2019-12-11 18:01] #2536 closed

[2019-12-11 18:49] caisq commented on #2442
@philipp-ghtest and @ckhordiasma I realized I should have asked you for this basic piece of info before: what versions of tensorflow and tensorflowjs (in python) and tensorflow.js (in JavaScript) are you using?

I just did a quick testing of @ckhordiasma 's GRU model with tensorflow 1.15.0, tensorflowjs 1.1.5, and @tensorflow/tfjs-node 1.3.2 and the model saving / conversion and loading seem to be

[2019-12-11 20:39] nsthorat commented on #2505
Apologies about this! I updated the script to work with the monorepo and now we have a changelog for 1.4.0:

https://github.com/tensorflow/tfjs/releases/tag/tfjs-v1.4.0

[2019-12-11 20:39] #2505 closed

[2019-12-11 21:46] tafsiri commented on #2515
Hi. Did you complete the link step for @react-native-community/async-storage? Documented here on their [README](https://github.com/react-native-community/async-storage#link).

Also FYI @tensorflow/tfjs-react-native 0.1.0-alpha.3 is out so you should also update to that in your package.json.

Let me know if you have any problems after that (note that expo and react-native-fs also have linking/confi

[2019-12-12 00:42] ckhordiasma commented on #2442
Im traveling and don’t have access to my computer for more specifics, but I
know I’m using tensorflow 2.0 and the most recent version of tensorflowjs
on pypi for the import

On Wed, Dec 11, 2019 at 1:49 PM Shanqing Cai <notifications@github.com>
wrote:

[2019-12-12 02:12] wingman-jr-addon commented on #2315
I'm guessing more details would be helpful in tracking this down. Probably good to fill out the [issue template](https://github.com/tensorflow/tfjs/blob/master/ISSUE_TEMPLATE.md). I'm guessing for the problem you're seeing also reporting the outputs of [tf.enf()](https://js.tensorflow.org/api/latest/#env) would help quite a bit.

[2019-12-12 02:36] axinging commented on #2359
Hi, Xing will work on this.

[2019-12-12 02:46] wingman-jr-addon commented on #2455
@startupgurukul  Was your issue solved by what @caisq  and I were discussing earlier?

@hamletbatista
Looks like they have a wrapper around the model saving with `.save_pretrained` or some such? So it's a little hard to say quite what's going on without digging in deeper there.
What I can say though is that I think you should be getting a model.json with an architecture in it - if you were to open

[2019-12-12 04:35] shnamin commented on #2265
Hi I also used mobileNetv3 small and trained it by quantization, then converted it to tensorflowjs by tensorflow converter. when calling the model in tfjs, I am getting the error:
Uncaught (in promise) TypeError: Unknown op 'NonMaxSuppressionV4'. File an issue at https://github.com/tensorflow/tfjs/issues so we can add it, or register a custom execution with tf.registerOp()
    at operation_executo

[2019-12-12 04:41] shnamin opened #2540 "Unknown op 'NonMaxSuppressionV4'"
To get help from the community, we encourage using Stack Overflow and the [`tensorflow.js`](https://stackoverflow.com/questions/tagged/tensorflow.js) tag.

#### TensorFlow.js version
1.4.0
#### Browser version
Linux Chrome Version 78.0.3904.97 (Official Build) (64-bit)
#### Describe the problem or feature request
I have a quantize-aware trained mobilenetv3 small and converted it to tensorflowjs by

[2019-12-12 08:01] oanush commented on #2540
Duplicate of the issue #2265

[2019-12-12 08:01] oanush commented on #2450
Duplicate of the issue #2265

[2019-12-12 10:04] Ole1288 commented on #1224
Did you ever find a solution?

[2019-12-12 10:14] Treast commented on #1224
Sorry, I didn't try with newer versions, but I've not found a solution.

[2019-12-12 10:23] Ole1288 commented on #1224
Could you share it? I'm stuck with the same problem

[2019-12-12 10:37] philipp-ghtest commented on #2442
@caisq I trained and exported the model with Tensorflow 2.0.0, and converted it with the tensorflowjs_converter from tensorflowjs 1.3.2., both installed via pip

In JS, I tried both tfjs 1.0.0 and 1.3.2, imported by script tag, but neither works

`<script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@1.3.2/dist/tf.min.js"></script>
`

[2019-12-12 11:14] darcula1993 commented on #1575
Thank you very much! It works very well!

[2019-12-12 13:09] AndreMaz opened #2542 "[Feature Request] Improve JSDocs"
#### TensorFlow.js version
`"@tensorflow/tfjs-node": "^1.4.0"` but it also happens with previous releases.

#### Describe the problem or feature request
Currently the declaration preview (hovering over a method) is not very informative.
For example, hovering over `dot` method I get the following info
![image](https://user-images.githubusercontent.com/9802754/70711924-94049d00-1cda-11ea-8643-25fa7e

[2019-12-12 16:54] set-killer opened #2545 "[docs update] Creating a dictionary of named inputs to make predictions"
Hello guys,

On [this piece of the documentation](https://js.tensorflow.org/api/latest/#tf.LayersModel.summary) there is a nice example of how to create a model with different inputs and sizes. This is really cool.
I've managed to create a model and train it with a dataset that takes every row and maps it to an object like:

[code]

The problem is when i want to make a predictions i have to create

[2019-12-12 17:05] nsthorat opened #2546 "tfjs-data tests are flaky"
See https://console.cloud.google.com/cloud-build/builds/57775fee-0c3f-4b40-849c-1fea4994ea5b?project=834911136599

[code]

[2019-12-12 17:09] kangyizhang commented on #2542
The separate jsdoc annotated with `@doc` is used for the API website. @tafsiri is it possible for us to merge the jsdocs?

[2019-12-12 17:26] sowmyatv opened #2547 "[BodyPix] single person detection in latest bodypix"
Hi,
 When I try the bokeh segmentation effect using body-pix@1.0.0, It detects/segments the person (A) in front of the camera. If another person (B) is standing behind, away from A, B is being blurred out. If the person B comes very close to the contour of A, then person B is also getting detected. This is the preferred behaviour.

Now when I try with body-pix@2.0.0, both Person A and B are gettin

[2019-12-12 17:43] garyo commented on #2007
I have a project with @types/webgl2@0.0.5 and typescript 3.7, and am getting a similar but slightly different error. Removing `@types/webgl2` from my package.json makes it work OK for me. Is that package now obsolete?

Errors:
[code]

(I note that the error nowhere mentions `@types/webgl2` but I found that to be the culprit.)

[2019-12-12 22:39] kangyizhang commented on #1369
This has been fixed in the latest libtensorflow.

[2019-12-12 22:39] #1369 closed

[2019-12-13 13:42] annxingyuan opened #2553 "[webgpu] Devise heuristic for running im2col as separate shader."
As a follow up to https://github.com/tensorflow/tfjs/pull/2208, let's figure out a heuristic for running im2col as a separate shader and then get rid of the environment flag.

@qjia7 - maybe you have some initial insights here?

[2019-12-13 16:13] #1625 closed

[2019-12-13 16:28] nsthorat commented on #1186
cc @pyu10055

[2019-12-13 16:39] #1876 closed

[2019-12-13 16:39] #1630 closed

[2019-12-13 16:40] #1638 closed

[2019-12-13 16:40] #1632 closed

[2019-12-13 16:40] #2357 closed

[2019-12-14 02:15] caisq commented on #2442
@philipp-ghtest I can verify that this error exists for models saved by tensorflow 2.0.0. I'll continue investigating this issue.

The workaround for you folks right now is to use tensorflow 1.15 to saved the model (followed by conversion and model loading in JS). Sorry for the inconvenience.

[2019-12-14 02:36] caisq commented on #2442
Changing priority to P2 as there is a workaround available.

This seems to be originated from a change in the behavior of the GRU layer (specifically the GRUCell class) between tf 1.5 and 2.0. In the older version, the bias has a shape of (9,), in the latter, it has a shape of (2, 9), which is a stacking of two biases: recurrent_bias (input_bias and recurrent_bias). TensorFlow.js hasn't caught up

[2019-12-14 08:08] ksabr opened #2558 "Electron example fails with "node-pre-gyp info This Node instance does not support builds for N-API version 4""
Hi there,

I'm running into the issue described in #2370 when trying to run the `electron` example in `tfjs-examples`, but the recipes given there do not appear to help. Some more info below:

#### TensorFlow.js version

1.3.2

#### Browser version

74.0.3729.131

#### Node version

12.9.1 (also tried 10.13.0, 10.16.3)

#### Platform

CentOS Linux release 7.6.1810 (Core)

#### Describe the problem

[2019-12-14 19:17] vebdizainer opened #2560 "binding.gyp not found"
To get help from the community, we encourage using Stack Overflow and the [`tensorflow.js`](https://stackoverflow.com/questions/tagged/tensorflow.js) tag.

#### TensorFlow.js version

#### Browser version

#### Describe the problem or feature request

#### Code to reproduce the bug / link to feature request
If you would like to get help from the community, we encourage using Stack Overflow and the

[2019-12-14 20:43] dsmilkov commented on #1497
I just sent https://github.com/tensorflow/tfjs/pull/2559 for review where I document how to use the WASM backend with bundlers and also added starter projects for webpack and parcel. See [update readme from the PR](https://github.com/tensorflow/tfjs/tree/9c11267db3f3562756440450945a4801d80d2690/tfjs-backend-wasm#using-bundlers).

[2019-12-14 21:22] kangyizhang commented on #2560
@vebdizainer can you provide more context?

[2019-12-14 21:23] kangyizhang commented on #2558
hi @ksabr , can you take a look of what is in the path `/home/research/tfjs-examples/electron/node_modules/@tensorflow/tfjs-node/lib`?

[2019-12-14 22:14] vebdizainer commented on #2560
yes,
i thank that was form to search thru FAQ, but anyway problem not solved for me, so will try to explain -  I trying to practice with ML and created electron app (with quasar framework and tensorflow.js). It is on  virtual machine with windows

I tried other npm ML libs - result was about the same ,
I installed windows software development kit for 2 times one from npm other from ISO file from M

[2019-12-14 22:31] ksabr commented on #2558
Hi @kangyizhang ,

There's a directory `napi-v4` in there so clearly something is confusing `node-pre-gyp`. Looking into it a bit deeper, I discovered that modifying the `module.exports.get_napi_version` function in `node_modules/node-pre-gyp/lib/util/napi.js` (see https://github.com/mapbox/node-pre-gyp/blob/ef634f92f562cde064fbf831896fef045a47f9a1/lib/util/napi.js#L29) manually to return the valu

[2019-12-15 05:28] kangyizhang commented on #2558
node version 12.9.1 should be napi v5. can you try node version 12.13.0 and @tensorflow/tfjs-node version 1.4.0?

[2019-12-15 20:58] ksabr commented on #2558
Hi @kangyizhang ,

With node 12.13.0 and `    "@tensorflow/tfjs-node": "^1.4.0",` in `package.json` I get:

[code]
For what it's worth, I now have to change `module.exports.get_napi_version` to return 5 to get it to run (i.e. return 4 no longer works).

The below prints 5 as expected:
[code]

[2019-12-16 04:13] blackwool opened #2561 "Error import tfjs-node-gpu 1.4.0 in window 10"
#### TensorFlow.js version
@tensorflow/tfjs@1.4.0
@tensorflow/tfjs-node@1.4.0
@tensorflow/tfjs-node-gpu@1.4.0

#### Browser version
None
#### Node Version
v13.3.0 (64bit)
D:\nodejs>node -p "process.arch"
x64
#### OS
WIN10,  Python is not installed,
Geforce 940MX , CUDA 8.0
#### Describe the problem or feature request
D:\nodejs\test>node
Welcome to Node.js v13.3.0.

Thrown:
Error: The specified mod

[2019-12-16 08:52] federicolucca commented on #2265
Same issue for me. Same actions to convert the model.
let me know

[2019-12-16 11:35] ksabr commented on #2558
Hi again @kangyizhang ,

I noticed that printing `process.versions` from `node_modules/node-pre-gyp/lib/util/napi.js` shows  `node: '10.11.0'` (whereas `node --version` gives `v12.13.0`). 10.11.0 is indeed NAPI v3, so that could explain the error. While trying to track down where 10.11.0 comes from, I noticed that `electron-prebuilt-compile@^4.0.0` (see https://github.com/tensorflow/tfjs-examples/

[2019-12-16 11:58] philipp-ghtest commented on #2442
Thank you very much for looking into it and for the workaround.

Unfortunately, the workaround only works if you retrain the model on tf1.1x. I tried loading my saved .h5 model into my python training script, and exporting it again for conversion with tfjs.

But on `model.load_weights(os.path.join(data_dir, "prototype.h5"))` I get the following error:

 `ValueError: GRU(reset_after=True) is not co

[2019-12-16 14:05] blackwool commented on #2561
Append Information:

I  upgraded  CUDA to CUDA 9.2 and cudnn ->cudnn10 ,change envirment var below and restart computer .

CUDA_PATH=C:\Program Files\NVIDIA GPU Computing Toolkit\CUDA\v9.2
path=%PATH%;C:\Program Files\NVIDIA GPU Computing Toolkit\CUDA\v9.2\bin
path=%PATH%;C:\Program Files\NVIDIA GPU Computing Toolkit\CUDA\v9.2\libnvvp
path=%PATH%;C:\Program Files\NVIDIA GPU Computing Toolkit\CUDA\

[2019-12-16 15:50] tafsiri commented on #2545
@set-killer If i understand your question correctly you want to pass in multiple inputs to a model that is set up to take multiple input tensors.

It looks like the documentation for predict is missing the option to take a dictionary like the one you are passing above. However it should work at runtime, what error are you getting with `xs` like you have it above? Note that you would only use the d

[2019-12-16 15:58] tafsiri commented on #2542
@kangyizhang I agree this would be nice. Would need to look into how our parser would need to be changed to work with that change. I probably cant do that right now but will look into it when I get a chance.

[2019-12-16 18:25] kangyizhang commented on #2561
hi @blackwool ,

1. does package @tensorflow/tfjs-node work for you?
2. tensorflow supports CUDA 10.0, you will need to install CUDA version 10.0 and cuDNN version >= 7.4.1 (https://github.com/tensorflow/tfjs/blob/master/tfjs-node/README.md#installing)

[2019-12-16 19:39] tylerzhu-github commented on #2547
Hi @sowmyatv,

Thx for using BodyPix 2.0 as well as 1.0. Your feedback is incredibly useful.

As you mentioned, BodyPix 2.0 has a much accurate boundary and I think it's mainly due to some technical improvements: including up-sampling the segmentation logits to higher resolution before applying sigmoid to compute the per-pixel probability score. You could achieve the same improvement in 1.0 but it