[2021-01-14 03:37] Junhano commented on #4516
fixed

[2021-01-14 03:37] #4516 closed

[2021-01-14 04:16] Junhano opened #4530 "The highest priority backend 'rn-webgl' has not yet been initialized."
I got this error when I tried to use tensorflow posenet in my react native app.
This is the code that I think produce the error
[code]
Every time I try to run it in IOS phone it return The highest priority backend 'rn-webgl' has not yet been initialized, Make sure to await tf.ready() or await tf.setBackend() before calling other methods. My tfjs-core version is 2.8.3.  It never reach the first con

[2021-01-14 06:01] manoharreddyporeddy commented on #268
Hi All, @jasonhargrove @timotheebernard @nsthorat @obenjiro @KokoDoko
I like python running in the google colab
What is the best way to do the same for javascript/node.js in 2021?
thanks in advance

[2021-01-14 08:18] qiankunxienb opened #4531 "Why can not convert tfjs-graph-model to keras?"
I have a tfjs graph model, it can only be loaded by tfjs. and can not convert to h5 or even tfjs-layer-model. How can I use it in keras?

[2021-01-14 09:55] amiregelz commented on #4177
@w-okada Is [this](https://flect-lab-web.s3-us-west-2.amazonaws.com/P01_wokers/t11_googlemeet-segmentation/index.html) the updated demo? It still reaches 200% CPU for me. I'm trying to implementing this locally on my web app, how can I adapt the sample code in order to make it work with a webcam stream? thanks a lot.

[2021-01-14 10:41] w-okada commented on #4177
@amiregelz
U---nn,,, If you want to reduce the CPU usage, you can do throttling the cycle of operation.
In my demo, it loops with high tense. For instance, in my demo it reachs to 70 fps with my PC. But it is not needed in real use. You can less fps with throttling.

[2021-01-14 14:31] amiregelz commented on #4177
@w-okada Cool, I'll test it out 👍  Btw, do you happen to have a js sample of removing the background of a webcam media stream?

[2021-01-14 14:58] kirawi commented on #4177
You could look through the code for the demo.

[2021-01-14 16:18] tafsiri commented on #4530
Please see the instructions here https://github.com/tensorflow/tfjs/tree/master/tfjs-react-native#step-4-test-that-it-is-working you need to `import '@tensorflow/tfjs-react-native'`. You do not need to set the backend manually

[2021-01-14 16:21] tafsiri commented on #4530
I should add that this question is better suited to stack overflow as it doesn't demonstrate a bug in the library.

[2021-01-14 16:24] sbrl commented on #1315
Just currently falling over this. Are the string names for the loss functions in Tensorflow.js documented _anywhere_? I'm having some serious trouble trying to train a model for my PhD, because I can't get the right loss function. I thought at first that the loss function names would match [the documentation](https://js.tensorflow.org/api/latest/#Training-Losses), but apparently not.

It's rather

[2021-01-14 16:40] mattsoulanille commented on #4530
Here's an example repo I just created that displays the current backend (which should be rn-webgl by default): https://github.com/mattsoulanille/tfjs-rn-webgl-test/tree/main

[2021-01-14 17:13] davidsoergel commented on #1315
This is not exactly "documentation", and it's obviously not very easy to find, but at least it will solve your concrete problem now: https://github.com/tensorflow/tfjs/blob/f111dc03a87ab7664688011812beba4691bae455/tfjs-layers/src/keras_format/loss_config.ts#L16

Similarly, for other string identifiers (activations, metrics, constraints, initializers, and regularizers), see the neighboring files un

[2021-01-14 17:23] pyu10055 commented on #4531
@qiankunxienb unfortunately graph model cannot be converted to h5 or tfjs layers model, the reason is graph model is inference only model, which h5 and layers model support training.
If you have the original TensorFlow TF saved model that graph model is converted from, you can try to convert that to layers or h5 models.

[2021-01-14 17:35] sbrl commented on #1315
Thanks so much, @davidsoergel! That's very helpful. It is no substitute for proper documentation, but it will be helpful to solve my immediate issue. Thanks again!

[2021-01-14 17:50] rthadur commented on #4439
This forum is only for bugs and feature request, please use template to resubmit your issue here.

[2021-01-14 17:50] #4439 closed

[2021-01-14 18:04] rthadur commented on #4363
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2021-01-14 18:04] #4363 closed

[2021-01-14 18:20] rthadur commented on #4529
@eunminlee can you please check similar issue here https://github.com/tensorflow/tfjs/issues/2046

[2021-01-14 18:27] #4530 closed

[2021-01-14 18:28] Junhano commented on #4530
Fixed. Need to call tf.ready tf.setbackend in useEffect function

[2021-01-14 18:38] WatchfulFox commented on #4030
Same for me:
tfjs:17 Uncaught (in promise) Error: 'multiply' not yet implemented or not found in the registry. This kernel may not be supported by the tfjs backend you have chosen

[2021-01-14 18:52] pyu10055 commented on #4514
@yhwang It would definitely be useful to official support other platforms officially, but no plan as this moment, might be a good project for the SIG, any suggestions are welcome.

@nickplee Do you mind contriubte your fix attempt as an PR?

[2021-01-14 18:54] pyu10055 commented on #4511
@jj12345654321 what is the new message you got for compiling from source? I think it is cut off in you last message.

[2021-01-14 18:57] DPain opened #4534 "@tensorflow/tfjs-node package.json file missing license value"
Hi, I'm trying to get tfjs-node added into our corporate repository, but our process requires the package.json file to have the license header included.

@tensorflow/tfjs can be added easily, because it has the value "Apache-2.0" in the license header, but tfjs-node doesn't.

Is it intended that tfjs-node would not have the license header within its package.json file?

Thanks in advance!

[2021-01-14 19:19] pyu10055 commented on #4507
@JPery Thank you for providing the models, it is the case that our WebGL backend does not support Complex tensors as input to any kernels, even though they can be outputs of kernels (i.e. rfft). One possible work around is in your python code, try to separate the real and img part of the complex tensors and perform follow up computation separately.

[2021-01-14 19:38] lina128 commented on #4524
https://github.com/tensorflow/tfjs/pull/4528 fixed it, it has been released in 2.8.4.

[2021-01-14 19:38] #4524 closed

[2021-01-14 22:53] rthadur commented on #4390
@roca77 we will not be able to support "RandomFlip" layer at this time , please let me know if you would like to contribute in adding this layer ?

[2021-01-14 22:57] rthadur commented on #4343
May i know from which location you are trying to load tfhub models ?

[2021-01-14 22:59] rthadur commented on #4473
This issue has been addressed [here](https://github.com/tensorflow/tfjs/pull/4121) , please use latest version

[2021-01-14 23:13] rthadur commented on #4534
Added license filed in tfjs-node package.json

[2021-01-15 03:13] Rishit-dagli commented on #4444
Hey, @lina128 any update on this issue?

[2021-01-15 03:33] qiankunxienb commented on #4531
@pyu10055 the problem is that, I want to use your model in https://nsfwjs.com/quant_mid/* , however, it can only be loaded by tfjs. How can I use it in keras?

[2021-01-15 05:29] dcsan commented on #4343
import * as sentenceEncoder from "@tensorflow-models/universal-sentence-encoder";

like written in the issue above

[2021-01-15 06:31] HemantKumar01 commented on #3961
It worked after setting ` tf.setBackend("cpu")`

[2021-01-15 06:38] rthadur commented on #4343
some links does not work in china , I would like to know if you are accessing from china and one more thing we will not be supporting custom save function in universal-sentence-encoder in near future.

[2021-01-15 09:36] JPery commented on #4507
Hi, @pyu10055!

Couldn't this task be automated somehow? For example, converting this complex type to real and imaginary in runtime and then back or doing this transformation in the tfjs converter?

As @allanpichardo says, it will rule out some operations needed for some tasks.

Thanks for your answer!

[2021-01-15 12:48] roca77 commented on #4390
@rthadur Hey, that's a good idea. I can contribute. Where to start?

[2021-01-15 13:10] vladmandic opened #4539 "Regresssion: WASM fails to load due to _scriptDir not defined"
This is a regression in `tfjs` 2.8.4 compared to 2.8.3

Setting backend to `wasm` on the main thread results in error:
[code]

No issues running TFJS 2.8.3 or older.

This is likely related to pull request #4528

[2021-01-15 15:05] HarshalRohit commented on #4350
I facing similar issue.
Converted a keras .h5 model to tfjs_graph_model, and it doesn't show any issues on loading but using prediction/executeAsync/execute throws similar error.

The same .h5 model converted to tfjs_layers_model works correctly.
My use-case involves performing predictions in react-native application.

I will be happy to share more details, if required.

[2021-01-15 15:46] startonggithub opened #4540 "Error: The dict provided in model.execute(dict) has keys: [ToFloat] that are not part of graph"
hi all, I have got the captioned error when running the following scripts for Google AutoML multiple object detection. Is there any clue ?

<script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs"></script>
<script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs-automl"></script>
<img id="mahjong" src="tiles2.jpg">
<script>
async function run() {
  //const model = await tf.automl.loadImageCl

[2021-01-15 17:24] jinjingforever commented on #4539
Hi Vladimir,

Thanks for reporting! This is a little bit strange because we did test it in 2.8.4. See this codepin: https://codepen.io/jing-jin/pen/BaLqJoE. If you click "Settings", you can see that the program is loading tfjs core and wasm backend @ 2.8.4.

Could you please provide more context/sample code about this issue? Thanks!

[2021-01-15 17:35] vladmandic commented on #4539
Ok, this is related to both #4392 and #4528.

Originally `tfjs-backend-wasm` was not fully minification safe when running through a bundler - minify whitespace and minify syntax was ok, but minify identifiers was not. Then #4528 fixed it and everything was fine for a while.

Now #4392 broke it once more and it's even worse since not even minify syntax works anymore.
So yes, it's a regression.

If

[2021-01-15 17:48] #4534 closed

[2021-01-15 17:56] rthadur commented on #4540
It looks like you haven't used a template to create this issue. Please resubmit your issue using a template from [here](https://github.com/tensorflow/tfjs/issues/new/choose). We ask users to use the template because it reduces overall time to resolve a new issue by avoiding extra communication to get to the root of the issue. We will close this issue in lieu of the new one you will create from the

[2021-01-15 17:56] #4540 closed

[2021-01-15 17:58] rthadur commented on #4390
cc @pyu10055 @lina128

[2021-01-15 18:08] rthadur commented on #4390
@roca77 here is a previously submitted [Pull Request](https://github.com/tensorflow/tfjs/pull/3702) adding ConvLSTM2D , please refer

[2021-01-15 18:14] startonggithub opened #4542 "Error: The dict provided in model.execute(dict) has keys: [ToFloat] that are not part of graph"
This template is for miscellaneous issues not covered by the other issue categories.

For questions on how to work with TensorFlow.js, or support for problems that are not verified bugs in TensorFlow.js, please go to [StackOverflow](https://stackoverflow.com/tags/tensorflow.js).

hi all, I have got the captioned error when running the following scripts for Google AutoML multiple object detection.

[2021-01-15 19:36] tafsiri opened #4543 "Sync 3.0.0-rc.1 to g3"

[2021-01-15 19:36] tafsiri opened #4544 "Update blazeface source to build against 3.0.0-rc.1"

[2021-01-15 19:36] tafsiri opened #4545 "Update bodypix source to build against 3.0.0-rc.1"

[2021-01-15 19:36] tafsiri opened #4546 "Update coco-ssd source to build against 3.0.0-rc.1"

[2021-01-15 19:36] tafsiri opened #4547 "Update deeplab source to build against 3.0.0"

[2021-01-15 19:36] tafsiri opened #4548 "Update face-landmarks-detection source to build against 3.0.0-rc.1"

[2021-01-15 19:36] tafsiri opened #4549 "Update handpose source to build against 3.0.0-rc.1"

[2021-01-15 19:36] tafsiri opened #4550 "Update knn-classifier source to build against 3.0.0-rc.1"

[2021-01-15 19:37] tafsiri opened #4551 "Update mobilenet source to build against 3.0.0-rc.1"

[2021-01-15 19:37] tafsiri opened #4552 "Update posenet source to build against 3.0.0-rc.1"

[2021-01-15 19:37] tafsiri opened #4553 "Update qna source to build against 3.0.0-rc.1"

[2021-01-15 19:37] tafsiri opened #4554 "Update speech-commands source to build against 3.0.0-rc.1"

[2021-01-15 19:37] tafsiri opened #4555 "Update toxicity source to build against 3.0.0"

[2021-01-15 19:37] tafsiri opened #4556 "Update universal-sentence-encoder source to build against 3.0.0-rc.1"

[2021-01-15 19:37] tafsiri opened #4557 "Update tfjs-automl source to build against 3.0.0-rc.1"

[2021-01-15 19:37] tafsiri opened #4558 "Update tfjs-react-native source (and integrations_test app) to build against 3.0.0-rc.1"

[2021-01-15 19:37] tafsiri opened #4559 "Update tfjs-vis source to build against 3.0.0"

[2021-01-15 19:37] tafsiri opened #4560 "Update tfjs-inference source to build against 3.0.0-rc.1"

[2021-01-16 02:20] pyu10055 commented on #4531
@qiankunxienb This model is not created by us, you can ask the author of the model to share the original TensorFlow model, it could be built from Keras.

[2021-01-16 02:29] qiankunxienb commented on #4531
Thanks for your reply.

[2021-01-16 02:29] #4531 closed

[2021-01-16 13:26] adotnusiyan commented on #4474
@tafsiri
Will [this update](https://github.com/tensorflow/tfjs/issues/4554) fix the issue?

[2021-01-16 13:37] adotnusiyan commented on #1510
@caisq
`isListening()` also throws an error if recognizer isn't listening

[2021-01-16 21:16] amiregelz commented on #4177
@w-okada @kirawi Thanks. What's the most CPU efficient way to remove the pixels of the background (or make them transparent) based on the result of `manager.predict`? I want to draw only the person to the destination canvas.

[2021-01-16 22:52] ecc521 opened #4565 "NodeGL Status"
The NodeGL page still states that it's under active development, however the demos have been broken since commit 74b93f074cd5d5d12cd303cc648b441664497c15, and the last code change was in early 2019. Additionally, the [Node-Gles](https://github.com/google/node-gles) dependency is showing no changes since April 2020.

Has the NodeGL backend been suspended indefinitely? Is it being held up by ANGLE?

[2021-01-17 05:34] HarshalRohit commented on #4350
@rthadur Should I raise a new Issue?

[2021-01-17 07:02] w-okada commented on #4177
@amiregelz
your idea is one of solutions. If you think this TFJS model can run with the same performance as the original one, it is maybe not true. In google blog, they said they use the original model with tflite and XNNPACK. And you can see the fact tfjs and mediapipe is different each other in the media pipe discussion. for example https://github.com/google/mediapipe/issues/1156#issuecomment-73

[2021-01-17 15:49] amiregelz commented on #4177
@w-okada Got it. I'm trying to achieve the minimal latency possible even in the cost of accuracy or quality. Are there any optimizations I can do?

[2021-01-18 09:56] JPery commented on #4507
Hi, @pyu10055. I've been trying to port my code to avoid the use of complex types.

In my case, x is the complex64 type. The code that throws the "GPGPUProgram does not support complex64 input" was:
[code]

I'm changing it to:

[code]

but as `tf.math.real` and `tf.math.imag` are also tensors with complex64 input, I'm unable to run the code in tfjs. What can I do to transform my tensor to its real

[2021-01-18 17:22] yuccai commented on #1607
Hi, I wonder where the current state of tfjs is when it comes to set a custom webgl context.

I'm using :
[code]

I want to read output webgl texture of tensorflow js webgl backend in a 3d rendering context like this way :
[code]
The `my3dTexture.readPixels()` function acts like `output.dataSync()` but it tries to read the data from my 3d rendering context. This piece of code throws the following

[2021-01-18 18:08] yeemachine commented on #4309
Any update on this issue? I have since updated to version 2.8.4 with the same results. Is #4405 still relevant to this issue?
Or perhaps #4407 ?

[2021-01-19 06:42] kabyanil opened #4566 "Query: Convert Tensorflow NMT with attention model to tfjs"
I'm following the TensorFlow NMT with attention ([link](https://www.tensorflow.org/tutorials/text/nmt_with_attention)) guide to build a character level transliteration model. I'm able to train the model and make inference calls in an .ipynb notebook. I'm able to save training checkpoints and load them later. However, my front end application is built on electron js. Therefore, I need to convert th

[2021-01-19 09:14] Kevin-1993-35 opened #4567 "how to load model from local path？"
I have converted a tensorflow savedmodel to tensorflow json format and saved it locally in my computer.i  I am trying to load that json model in a javascript code using  tfconv.loadGraphModel() ,but i find it only works for loading model from a url,is there any way to load a model from local path?

[2021-01-19 09:26] #4567 closed

[2021-01-19 11:29] Kevin-1993-35 opened #4568 "how to load a model from local path?"
I have converted a tensorflow savedmodel to tensorflow json format and saved it locally in my computer.i I am trying to load that json model in a javascript code using the below command ,but i find it only works for loading model from a url,is there any way to load a model from local path?

       `import * as tf from '@tensorflow/tfjs';
       import {loadGraphModel} from '@tensorflow/tfjs-conver

[2021-01-19 16:39] pyu10055 commented on #4565
@ecc521 WE have suspended the Node-gles development due to lack of resources and interests. We will need external helps to move this project further, it could be a great project for TensorFlow.js SIG.

[2021-01-19 17:26] pxrrylson opened #4570 "tf.grad() returns matrix of zeros"
I trained a CNN on an MNIST dataset, and planned to use it for inference with tf.js.

However, when checking the model's gradients with respect to one of the test images, I notice I keep getting a zero matrix.

Does anybody know why this issue occur?
[code]

The Python equivalent allowed me to succesfully compute the gradient.

[code]

[2021-01-19 17:27] #4159 closed

[2021-01-19 17:36] DPain commented on #4568
Depending on what tfjs you're using, you'd probably want to use `localstorage://modelName` (for browser) or `file://modelName` (for node.js). This works for saving models, so I bet it'd work for your case too.

[2021-01-19 19:27] #4457 closed

[2021-01-19 19:36] taposh commented on #4466
Any work around for this?

[2021-01-19 20:10] rthadur commented on #4568
try moving the model.json and weight files in to model folder and load using below code
`    model = await tf.loadGraphModel('model/model.json');
`

[2021-01-19 21:56] rthadur commented on #4566
@kabyanil did you check this old discussion on google groups https://groups.google.com/a/tensorflow.org/g/tfjs/c/OOz4JMu4kOg/m/z7Oig2ytAgAJ ?

[2021-01-19 22:03] rthadur commented on #4350
@HarshalRohit yes, please use the template https://github.com/tensorflow/tfjs/issues/new/choose , thank you

[2021-01-19 22:34] mnts-i opened #4574 "Operations on a 2d tensor zeroes many of its elements"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow.js): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: Unknown
- TensorFlow.js installed from (npm or script link): script link (CDN)
- TensorFlow.js version (us

[2021-01-20 02:19] Kevin-1993-35 commented on #4568
@rthadur I did as you said but got the same error as before，It doesn't seem to work for me
    `Failed to load resource: the server responded with a status of 404 (Not Found)
    http.ts:161 Uncaught (in promise) Error: Request to model/model.json failed with status code 404. Please verify this URL points
     to the model JSON of the model to load.
    at HTTPRequest.load (http.ts:161)
    at asy

[2021-01-20 02:28] Kevin-1993-35 commented on #4568
@DPain   What do you mean by modelname? is it the path to model.json?

[2021-01-20 02:37] DPain commented on #4568
Oh yeah, the directory to your `model.json`. Check this example out if you're working with node.js.
https://github.com/tensorflow/tfjs-examples/tree/master/abalone-node

[2021-01-20 04:42] kiancross opened #4578 "`layers.lstm` returns type `Layers` instead of `RNN`"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow.js): **Yes**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): **Linux Ubuntu 20.04**
- TensorFlow.js installed from (npm or script link): **From npm**
- TensorFlow.js version (use command below): **2.8.4**

**Describe the current behavior**

`layers.lstm` returns type `L

[2021-01-20 05:44] HarshalRohit opened #4579 "Error: graph model model.predict throws `avoid the dynamic ops` error"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow.js): No
- OS Pla

[2021-01-20 06:11] Kevin-1993-35 commented on #4568
@DPain  well,I am working with browser.so i replaced my code with below,but got error `Error: In local storage, there is no model with name 'D:/tfjs-models-master/blazeface/demo/model/model.json'`,i tried both  absolute path and relative path but got same error.
   ` const MODEL_URL = 'localstorage://D:/tfjs-models-master/blazeface/demo/model/model.json';`

[2021-01-20 07:43] DPain commented on #4568
Oh if you're working with the browser, the localstorage doesn't actually mean your project folder. It means the browser's localstorage. https://developer.mozilla.org/en-US/docs/Web/API/Window/localStorage

[2021-01-20 08:11] kabyanil commented on #4566
@rthadur thanks for replying. going through the group discussion, i ended up on the tensorflow/ tfjs repository. it contains a note saying -

_Note: Session bundle format have been deprecated in TensorFlow.js 1.0. Please use the TensorFlow.js 0.15.x backend to convert session bundle, available in tfjs-converter 0.8.6._

i don't seem to understand it this means. how do i install tensorflow.js 0.15.

[2021-01-20 11:41] kabyanil opened #4580 "ERROR: Could not find a version that satisfies the requirement tensorflow==1.13.1 (from tensorflowjs)"
I am following the NMT with attention tutorial from tensorflow docs. My requirement is to port the same model to tfjs. the tensorflow/tfjs repository readme.md file has a note saying -

_Note: Session bundle format have been deprecated in TensorFlow.js 1.0. Please use the TensorFlow.js 0.15.x backend to convert session bundle, available in tfjs-converter 0.8.6._
.
.
.
as well as
.
.
.
_7. I have a

[2021-01-20 13:11] vladmandic commented on #4325
closing as fixed in tfjs 2.8.5

[2021-01-20 13:11] #4325 closed

[2021-01-20 13:21] vladmandic commented on #4539
closing as fixed in tfjs 2.8.5.
thank you!

[2021-01-20 13:21] #4539 closed

[2021-01-20 16:02] #4134 closed

[2021-01-20 18:22] 404jimnotfound commented on #4522
Thank you, that fixed my issue. I will now close this thread.

[2021-01-20 18:22] #4522 closed

[2021-01-20 18:58] #4502 closed

[2021-01-20 19:52] rthadur commented on #4566
please check step 7 as how to install lower version in VM here https://github.com/tensorflow/tfjs/blob/master/tfjs-converter/README.md. Thank you

[2021-01-20 20:03] rthadur commented on #4578
We will export RNNCell as tf.layers.RNNCell and export RNN as tf.layers.RNN.

[2021-01-20 20:07] kabyanil commented on #4566
i followed step 7 as mentioned...

i created a venv and tried installing tensorflowjs 0.8.6.

i got the following error -

[code]
how do i install tensorflowjs 0.8.6 and convert my session bundle to tfjs?

[2021-01-20 20:35] kiancross commented on #4578
@rthadur And also change the return type of `lstm` from `Layer` to `RNN`?

[2021-01-20 20:46] rthadur commented on #4542
@startonggithub is it possible to share the model which you are using ?

[2021-01-20 20:49] rthadur commented on #4580
Lets track this issue at one place here https://github.com/tensorflow/tfjs/issues/4566 , thank you

[2021-01-20 20:49] #4580 closed

[2021-01-20 20:55] startonggithub commented on #4542
hi rthadur, here is the model. Thanks.

[model.zip](https://github.com/tensorflow/tfjs/files/5845242/model.zip)

[2021-01-20 21:06] rthadur commented on #4579
@HarshalRohit can you please provide codepen example to reproduce the same and also can you try with latest version

[2021-01-20 21:07] rthadur commented on #4578
cc @pyu10055 @lina128 @mattsoulanille

[2021-01-20 23:47] rthadur commented on #4566
tensorflow has stopped supporting 1.13.1 so we do not support session bundle anymore as there is underlying dependency.
Updated README here https://github.com/tensorflow/tfjs/pull/4583

[2021-01-21 00:10] #4557 closed

[2021-01-21 00:16] #4545 closed

[2021-01-21 03:59] kabyanil commented on #4566
Thanks for the information. You may as well remove the 7th point in the README file.

[2021-01-21 04:03] huningxin commented on #4378
I verified with tf.js 2.8.5 release that the memory leak issue has been fixed. Thanks much @pyu10055 and @annxingyuan !

[2021-01-21 04:03] #4378 closed

[2021-01-21 07:58] w-okada commented on #4177
My report.
https://dannadori.medium.com/google-meet-virtual-background-with-amazon-chime-sdk-34656a625fed

[2021-01-21 08:27] axinging opened #4586 "Model blazeface doesn't supprot 256x256"
However, in the model card, it says both 128x128 and 256⨉256 are supported:
"RGB image (possibly a video frame) resized to 128x128 (front) or 256⨉256 (back) pixels, represented as a 128x128x3 or 256x256x3 array of float values in the range [-1.0, 1.0].
"
https://drive.google.com/file/d/1f39lSzU5Oq-j_OXgS67KfN5wNsoeAZ4V/view

[2021-01-21 10:41] HarshalRohit commented on #4579
Hi, I tried with updated tensorflowjs as well as tensorflowjs_converter libraries, but same errors.
My use-case is in React-native, and I don't think codepen supports that.
Following is the code,
[code]
Same code for a layers-model (obtained from same .h5 file) works fine. The layers used in the model are mentioned in previous post.

[2021-01-21 15:31] daw454 opened #4587 "Node.js Tensorflow.js in windows binding: The kernel 'undefined' for backend 'webgl' is already registered"
Hello,

when I try to establish a binding of tensorflow.js with node.js I get the following error message:

[code]

Using ```node-gyp configure --verbose``` I get the following output:

[code]

[2021-01-21 17:27] jinjingforever commented on #4546
Done. See https://github.com/tensorflow/tfjs-models/pull/564

[2021-01-21 17:27] #4546 closed

[2021-01-21 18:21] rthadur commented on #4566
Sure , opened a new PR to remove , thank you

[2021-01-21 18:21] #4566 closed

[2021-01-21 19:42] rthadur commented on #4587
@rthadur can you please share your package.json ?

[2021-01-21 22:25] jinjingforever commented on #4551
Fixed by https://github.com/tensorflow/tfjs-models/pull/568

[2021-01-21 22:25] #4551 closed

[2021-01-22 00:44] #4549 closed

[2021-01-22 05:02] monacotime commented on #3835
Any idea on how I can calculate the Yaw of the facemesh assuming I was to look at it from the front?

[2021-01-22 05:24] danwexler commented on #2611
Does setting the  environment variable, as discussed in [Limiting Memory Usage ](https://www.tensorflow.org/guide/gpu#limiting_gpu_memory_growth) help? Unfortunately, the [set_logical_device_configuration](https://www.tensorflow.org/api_docs/python/tf/config/set_logical_device_configuration) does not have a corresponding env var, which would truly allow you to limit the max mem.

[2021-01-22 11:35] nischal-sanil opened #4589 "How to display an image tensor on the Browser."
Is it possible to display an image tensor (on the client side) to the browser.

[2021-01-22 13:16] JPery commented on #4507
Hi, @pyu10055!

Any updates on this?

Thanks!

[2021-01-22 14:55] vladmandic commented on #4586
There are two variations of Blazeface model: front and back. front works with 128px, back works with 256px - it is not the same model that supports both resolutions.

The model published on <https://tfhub.dev/tensorflow/tfjs-model/blazeface/1/default/1> is the one at <https://www.npmjs.com/package/@tensorflow-models/blazeface> which states it's a front variation of the model.

There is no back var

[2021-01-22 14:58] vladmandic commented on #4589
check out <https://js.tensorflow.org/api/latest/#browser.toPixels>

[2021-01-22 18:12] nischal-sanil commented on #4589
Awesome, Thank you for the quick response.

[2021-01-22 18:12] #4589 closed

[2021-01-22 18:15] #4552 closed

[2021-01-22 18:31] jinjingforever commented on #4555
toxicity depends on universal sentence encoder. We will upgrade toxicity directly to 3.0 after USE is upgraded to 3.0.

[2021-01-22 19:00] mattsoulanille commented on #4579
@HarshalRohit thanks for the report. I'm trying to reproduce the error you're seeing, but it looks like it only appears with your model. I ran one of our test models in an example app (https://github.com/mattsoulanille/tfjs-rn-webgl-test/tree/test-model), and it threw no errors. If you can share the model you're working with, that would help me debug this. If not, that's fine too. I'll create one

[2021-01-22 21:42] mattsoulanille commented on #4550
https://github.com/tensorflow/tfjs-models/pull/575

[2021-01-22 22:18] #4544 closed

[2021-01-22 22:27] jinjingforever commented on #4556
Fixed by https://github.com/tensorflow/tfjs-models/pull/573

[2021-01-22 22:27] #4556 closed

[2021-01-23 01:42] jtrammell-dla opened #4591 "What information is contained in the part_offsets tensor output?"
I'm trying to finetune the bodypix model and I cannot for the life of me figure out how to generate the targets for the part_offsets output. Based on its shape ([H,W,48]) I presume it is a pair of numbers for each of the 24 body parts. Furthering that assumption, and the name, an X/Y offset? But it's clamped to 0->1. And body parts are regions, not points, so an offset for a bodypart makes no sens

[2021-01-23 05:50] HarshalRohit commented on #4579
I will be happy to share the model. But is it possible to share it privately??

[2021-01-23 06:44] kabyanil commented on #1258
is there a solution available yet?

[2021-01-23 14:12] PINTO0309 commented on #4177
I have just started to create a tool to convert tflite to saved_model, TFJS, TF-TRT, CoreML, and EdgeTPU. Automatically replaces the custom operation **`Convolution2DTransposeBias`** with the standard operation. I plan to gradually increase the types of operations that the tool can handle.
**https://github.com/PINTO0309/tflite2tensorflow.git**
<p align="center">
  <img src="https://user-images.git

[2021-01-23 15:34] #4509 closed

[2021-01-23 23:08] EFHIII opened #4592 "Minor typo (I believe)"
[code]

should be

if I'm not mistaken...

I'd make a Pull Request myself if I knew which file to change.

[2021-01-24 04:52] patrickhulce commented on #4514
Perhaps with https://github.com/tensorflow/tensorflow/pull/45404 this is more feasible? Has anyone been able to get tfjs-node to work on an M1 device?

We're extremely interested in this as well. If anyone has been able to get it working, we would very, very much appreciate some pointers :)

[2021-01-24 05:14] patrickhulce commented on #4193
Possibly also a blocker for M1 support using Apple's fork? (https://github.com/tensorflow/tfjs/issues/4514#issuecomment-758334433)

Perhaps @nickplee would gracious enough to upstream the fixes made over there :D

[2021-01-24 17:29] zholmes1 opened #4593 "[tfjs-react-native] [iOS only] Initialization of backend rn-webgl failed [native code]"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow.js): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): iOS 14.3 Simulator / Device
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: iPhone 11
[code]

**Describe the current behavior**
On launch, when I tf.ready(), I get t

[2021-01-25 02:35] GantMan opened #4595 "tf.unique failing on Node only with `Error running Unique: Neither modular kernel nor forward func passed`"
The code
[code]

Fails on **windows** and **mac** for Node.js

If you switch backend to CPU it works.

Here it is failing on node
<img width="1456" alt="Screen Shot 2021-01-24 at 8 31 28 PM" src="https://user-images.githubusercontent.com/997157/105654244-35b96000-5e83-11eb-8d30-90c5ba88379d.png">

But when using CPU backend it works.

See https://github.com/GantMan/unique_fail_poc for failure and

[2021-01-25 05:29] kscgl opened #4596 "How to read modelWeights.bin from file system"
As it is raised before, I am not able to load model as below. It gives `TypeError: Network request failed `error.

`const model = await tf.loadLayersModel('file://path/to/my-model/model.json');`

I need to read model.json and model_weights.bin manually and bundle them together. I am able to read model.json without any issues but I am having troubles to get right type for bin file.

[code]

I am no

[2021-01-25 06:15] HarshalRohit commented on #4596
@kscgl Please update if you get any solution on this.

I am working on something similar.

[2021-01-25 07:21] nischal-sanil commented on #4596
Also, I have a similar questions. That is how to load a model with two different links to json and weights file. If anybody here knows how to do it, do let me know.

Thanks.

[2021-01-25 08:50] nischal-sanil commented on #4596
There is an optional argument in the loadGraphModel called `weightUrlConverter` which can be used to modified the weights path. It worked for me.

Hope this helps.

[2021-01-25 13:33] lghasemzadeh commented on #4395
Hello,

Is is possible to install it on Ubuntu and use it in Python scripts?
I want to develop a simple gaze estimation algorithm in python (I don't know Java).

Thx

[2021-01-25 13:39] vladmandic commented on #4395
@lghasemzadeh you have to find tensorflow saved model as graph models cannot be used with python directly.
or you could use something like <https://github.com/patlevin/tfjs-to-tf> to convert tfjs graph model to tf saved model that can be used in python.

[2021-01-25 13:59] lghasemzadeh commented on #4395
Thank you for the response.

There was another option, using Mediapipe, as far as I know it is a python library. But it seems it is an older version and is not as robust as the new one (https://blog.tensorflow.org/2020/11/iris-landmark-tracking-in-browser-with-MediaPipe-and-TensorFlowJS.html).
I am new in this field so I don't get why I need graph models, but I will learn about it.
I actually need

[2021-01-25 15:03] zholmes1 commented on #4593
Standing up a new project with `npx create-react-native-app` and doing the minimum dependency installations allowed me to get the rn-webgl backend loading. Closing the issue for now until I can figure out why it's not working in my app.

[2021-01-25 15:03] #4593 closed

[2021-01-25 15:34] #3807 closed

[2021-01-25 16:34] kscgl commented on #4596
Thank you @nischal-sanil for suggestion. I tried as below but I got `TypeError: Network request failed`

[code]

[2021-01-25 16:56] nischal-sanil commented on #4596
@kscgl You should pass an async function to the `weightUrlConverter`. This function will receive a `weightFileName: string` as input and should return path to the weights. If you path is correct something like this should work.

[code]

[2021-01-25 17:12] kscgl commented on #4596
@nischal-sanil I am getting the same network request failed error.

[code]

[2021-01-25 17:20] nischal-sanil commented on #4596
Do not call the function. By calling it you are again passing a string as an input.

Try something like this.

[code]

[2021-01-25 17:21] vladmandic commented on #4395
different types of tensorflow can use different types of models. tfjs uses graph or layer, tensorflor for python uses native saved format, but can also use keras or tflite, etc.

current version of mediapipe solution includes models in tflite format which you could use, it's just optimized for edge with lower precision (quantized to int). if you want native saved model to use with python, you can

[2021-01-25 17:23] kscgl commented on #4596
@nischal-sanil I see. I tried that one but same error.

[code]

[2021-01-25 17:40] nischal-sanil commented on #4596
hmmm, Not sure why this is the case then. If the path is right it should have worked. May be you can try another optional argument called `weightPathPrefix` instead of `weightUrlConverter`. Check out the [docs](https://js.tensorflow.org/api/latest/#loadGraphModel)

[2021-01-25 17:58] kscgl commented on #4596
@nischal-sanil That won't work either because it always give `TypeError: Network request failed` wherever I provide a location from file system.

[2021-01-25 18:00] nischal-sanil commented on #4596
Aren't you using a local server?

[2021-01-25 18:03] kscgl commented on #4596
@nischal-sanil For what purpose? I provide the path of phone file system itself.

[2021-01-25 18:59] rthadur commented on #4592
Here is the file https://github.com/tensorflow/tfjs/blob/master/tfjs-node/src/index.ts#L43 , where you can submit a PR. Thank you

[2021-01-25 20:33] rthadur commented on #4595
@GantMan thank you for detailed report , tf.unique is only supported in 'cpu' and 'webgl' for now , this would be a feature request to add it to Node.

[2021-01-25 20:34] rthadur commented on #4595
cc @jinjingforever

[2021-01-25 20:43] arpu commented on #4548
looks like 3.0.0 tsfs stable was released on npm would be nice to have face-landmarks-detection compatible to npm

[2021-01-25 21:00] rthadur commented on #4596
@kscgl can you please share minimal code for reproduction ? if you are loading local file system , you should not see above error, are you trying to load using script tags ?

[2021-01-25 21:50] kscgl commented on #4596
@rthadur I updated the initial post to add standalone code. Please let me know if you need more details.

[2021-01-25 22:03] pyu10055 commented on #4362
@Nuzzlet Trying to isolate if this is a tfjs-node or GPU only issue, since we don't have a windows machine with CUDA. Have you tried the same setting in tfjs-node cpu? does it behave the same?

[2021-01-25 22:30] pyu10055 commented on #4466
@taposh Thank you for reporting this issue. It would be very helpful if you can provide the full code to allow us to reproduce the problem. If you can provide a colab or repl.it example would be great. thanks.

[2021-01-25 22:34] #4517 closed

[2021-01-25 23:49] EFHIII commented on #4592
Oh, is that file used for both the GPU and non-GPU versions?

Would the best solution be to add a conditional like

[code]
?

[2021-01-26 00:45] rthadur commented on #4592
@pyu10055 @lina128

[2021-01-26 02:05] GantMan commented on #4595
I think it would be wise to add some kind of notation or caveat to the docs where functions are unsupported.  A small note on (the docs)[https://js.tensorflow.org/api/latest/#unique] would identify this is not a bug.

Secondly, as another feature, better error messages would be a good feature as well.  It took me a while to find out what the issue was.

I'll make a note of this and try to contribu

[2021-01-26 05:47] HarshalRohit commented on #4579
@mattsoulanille Any updates??

[2021-01-26 07:14] lghasemzadeh commented on #4395
Thank you.
I have several questions :)
I was not able to run your demo! what should I do?
Have you ever tried this package https://blog.tensorflow.org/2020/11/iris-landmark-tracking-in-browser-with-MediaPipe-and-TensorFlowJS.html on grayscale input/video/stream, not RGB?
Have you ever tested your code with external camera, not webcam (for example using an intel camera)?
As you mentioned your model

[2021-01-26 09:08] amit1072 commented on #4076
Could you share the code for shaders as well?

[2021-01-26 09:26] danrossi commented on #4076
Here is a method I came up with.

[code]

[2021-01-26 09:45] lghasemzadeh commented on #4395
@vladmandic I just run your demo, and I got more questions. Is it ok for you to talk here or we can continue in linkedin. of course if you have time to answer my questions :)

[2021-01-26 12:51] vladmandic commented on #4395
Need more info on that? What's not working?
Can you run demo via link provided in README (hosted on git pages)?

Yes, it works. Btw, if you look at credits, you'll see I'm using the same model in `Human`.

I have. The only issue is video stream format. Any stream format that can be played with HTML <video> element will work with my library. Some cameras prefer to stream in RTSP format which is uns

[2021-01-26 14:11] LukeJVinton commented on #353
Hi @tafsiri. Thanks for this pre-release, it looks really promising!

I am attempting to create a size optimised bundle following the [guide](https://github.com/tensorflow/tfjs-website/blob/master/docs-prerelease/size_optimized_bundles.md). However, I am getting errors when generating the custom tfjs module in [step 3](https://github.com/tensorflow/tfjs-website/blob/master/docs-prerelease/size_opt

[2021-01-26 16:06] mattsoulanille commented on #4579
@HarshalRohit Sorry for the wait. Would you be willing to invite me to a private GitHub repo with the model script in it so I can put it through tfjs-converter and try running it on a device? Feel free to omit the training weights. Thanks!

[2021-01-26 16:21] #4543 closed

[2021-01-26 16:29] tafsiri commented on #353
@LukeJVinton sorry about that I think the doc was a bit out of date, between rc's we renamed `tfjs-custom-bundle` to `tfjs-custom-module`. Could you try that and let me know if it works.

[2021-01-26 16:30] tafsiri commented on #353
@LukeJVinton also do you have `@tensorflow/tfjs` installed?

[2021-01-26 16:33] LukeJVinton commented on #353
@tafsiri no problem. I figured the mismatch out and was going to post to point it out. I've now managed to get past step 3, thanks for the pointers.

[2021-01-26 16:39] tafsiri commented on #353
@LukeJVinton Thanks for reporting! Would also be curious to hear how it goes and what kind of size reduction you end up seeing.

[2021-01-26 16:41] LukeJVinton commented on #353
@tafsiri I've hit the another problem, probably something I am doing wrong.

Once I've built the custom modules and updated my webpack.config.js I run `npm run build` which produces a warning regarding the loadLayersModel. In the printout I get the message:
[code]

[2021-01-26 16:43] HarshalRohit commented on #4579
@mattsoulanille You should have received an invite.
I have added the required files.
Please feel free to point out any missing files. Thank you!!

[2021-01-26 17:16] tafsiri commented on #353
To use the custom module flow you need to convert your layers model into a graph model. You can do that with [tfjs-converter](https://github.com/tensorflow/tfjs/tree/master/tfjs-converter)

[2021-01-26 17:47] kscgl commented on #4596
@HarshalRohit I decided to go with [asyncStorageIO handler](https://js.tensorflow.org/api_react_native/0.2.1/#asyncStorageIO) until I figure this out.

[code]

[2021-01-26 17:47] jacobchen1 opened #4600 "Slicing the last layer's output before put it into the model"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow.js version (you are using):3.0
- Are you willing to contribute it (Yes/No):No

**De

[2021-01-26 17:48] LukeJVinton commented on #353
My model contains an LSTM layer which the conversion to graph model does not support yet (https://github.com/tensorflow/tfjs/tree/master/tfjs-converter#python-to-javascript). That's the only reason I use a layers model. Is there any way around this other than creating a model without recurrent layers?

[2021-01-26 17:56] tafsiri commented on #353
You could try manually importing tfjs-layers e.g. `import * as tfl from @tensorflow/tfjs-layers`. That will give you access to loadLayers method , however since this flow isn't the intended path, I can't comment on how much bundle size saving you can expect (it wont be as good as inference focused graphmodels) layers also includes a number of things for training. You can try this out but is pretty

[2021-01-26 18:37] pyu10055 commented on #4507
@JPery tfjs tf.real and tf.imag ops do support complex tensor inputs, are you having trouble in converting the TF model to TFJS?

Can you share your errors, thanks.

[2021-01-26 22:07] mattsoulanille commented on #4579
Hi @HarshalRohit. Thanks for posting the model. I was able to reproduce the error you're seeing, and I've pushed my reproduction to the repo you shared. I've also found that if you use a Layers model instead of a Graph model, it works fine (see the layers branch on the repo), so it looks like this could be an issue with tfjs-react-native. I'll take a look.

[2021-01-26 22:59] jacobchen1 opened #4603 "API Version 3.0.0 is not working with script link"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
- Mobile device (e.g. iPhone 8

[2021-01-27 01:26] pyu10055 commented on #4603
@jacobchen1 Thanks for reporting, Can you share a codepen for reproducing this error?

[2021-01-27 01:46] pyu10055 commented on #4592
@EFHIII looks good, I will suggest to just check for string `tfjs-node-gpu` instead to avoid dealing with file separators.

[2021-01-27 02:41] tafsiri commented on #4547
Deeplab model updated to tfjs 3.0.0 and published (0.2.1)

[2021-01-27 02:41] #4547 closed

[2021-01-27 05:44] lghasemzadeh commented on #4395
Thank you
For the third question, if the model will be converted to python, do we have again problem with camera stream format since it doesn't need to work in browser anymore? Is it necessary to be HTML format again?

[2021-01-27 06:16] gauravdhra commented on #4284
i am having same issue on chrome
![image](https://user-images.githubusercontent.com/40135431/105950950-4f31f600-6095-11eb-864e-62e67fda0fe4.png)

[2021-01-27 06:24] HarshalRohit commented on #4579
Hi @mattsoulanille. Thanks for the update.
Yup, it works for Layers model.
I want to use Graph Model as its supposed to be faster at inference than Layers model.

[2021-01-27 06:25] HarshalRohit commented on #4596
@kscgl Thanks!!

[2021-01-27 08:45] Rishit-dagli commented on #4444
Thanks.

I finally seem to have solved this after a pretty long debug session. As I understood while doing some of the pixel values were not in the expected range so I ended up writing an algorithm to transform these values (a collection of some basic tensor ops) followed by a filter to clip the values in expected intervals and that seems to work really well.

[2021-01-27 08:45] #4444 closed

[2021-01-27 10:58] JPery commented on #4507
Hi, @pyu10055!

Thanks for your answer. I was getting the same "GPGPUProgram does not support complex64 input" but it was my bad, I wasn't converting the model properly.

Now, after changing the implementation of tf.abs for the other one mentioned above I still getting an error:

[code]

The fact is that I'm trying to convert a Keras model with custom layers to a tf_saved_model using ```tf.saved_m

[2021-01-27 11:02] okpatil4u commented on #906
@tafsiri I am using tfjs for graph neural networks in browsers. Sparse tensors could help speed it up considerably.

[2021-01-27 11:33] dphsw commented on #3319
I also have this problem running the BodyPix demo on the TensorFlow github in FireFox, with Task Manager open to view memory consumption, memory usage increases by ~100Mb/s until the browser tab crashes.  The same demo works on my computer in Chrome and Edge, and other demos such as PoseNet work on Firefox when running them online.  _(My own attempts to replicate the webcam PoseNet model have also

[2021-01-27 11:44] vladmandic commented on #4395
something needs to be able to parse the stream - so if a video library is imported into python that does the job (such as `OpenCV` for example), great.

[2021-01-27 12:11] HarshalRohit commented on #4596
I am getting **Error** `Row too big to fit into CursorWindow requiredPos=0, totalRows=1` on calling `tf.LoadLayersModel`.

@kscgl How much is your model size (as returned by  `model.save(asyncStorageIO(modelName))` ? Mine is 6 MB.

@jinjingforever I understand this is due sqlite limits, but is there any workaround for this??

[2021-01-27 12:29] amit1072 commented on #4076
Great. Thanks for sharing. I was able to simplify it a bit, like so:-

[code]

Also were you able to get to the bottom of the memory leak that you were facing? I was wondering where exactly was your code leaking memory from?

[2021-01-27 12:50] lghasemzadeh commented on #4395
yes exactly, thx

[2021-01-27 14:18] MiloAkerman opened #4606 "Kernel 'RotateWithOffset' not registered for backend 'tensorflow'"
**System information**
- I have written custom code
- macOS Catalina 10.15.7
- TensorFlow.js installed from npm
- TensorFlow.js version 3.0.0
- Browser version: Not in browser
- Tensorflow.js Converter Version: 3.0.0

**Describe the current behavior**
When running project with Node backend "tensorflow", getting error:

[code]

**Describe the expected behavior**
Code works without errors

**Steps t

[2021-01-27 15:40] #3232 closed

[2021-01-27 15:44] tafsiri commented on #4071
As of 3.x Message is now of the form `'Kernel '${kernelName}' not registered for backend '`

[2021-01-27 15:44] #4071 closed

[2021-01-27 16:27] kscgl commented on #4596
@HarshalRohit Mine is around 1 MB. It's probably due to Android AsyncStorage limit which is 6 MB. You can look into how to incresae AsyncStorage size and try if that works.

[2021-01-27 17:13] rthadur commented on #4606
@MiloAkerman tensorflow is not a backend , you might check this link for different backends used in tfjs
https://www.tensorflow.org/js/guide/platform_environment

[2021-01-27 19:10] #3555 closed

[2021-01-27 21:47] kiancross commented on #4578
@rthadur Can we keep this open?

[2021-01-27 21:50] rthadur commented on #4578
Sure , gentle ping for @pyu10055 @jinjingforever

[2021-01-27 22:19] MiloAkerman commented on #4606
Alright. I got it fixed by dropping node completely and using sockets to communicate between the browser and my node process. Thank you

[2021-01-27 22:19] #4606 closed

[2021-01-27 22:35] tafsiri commented on #4559
done

[2021-01-27 22:35] #4559 closed

[2021-01-28 04:27] HarshalRohit commented on #4596
@kscgl Increasing the AsyncStorage size doesn't work.
I tried increasing the size and
`model.save` works fine but
`model.load` throws the error `Row too big to fit into CursorWindow requiredPos=0, totalRows=1`.

I guess I will have to write custom IO handler.

[2021-01-28 07:40] Moumouls opened #4609 "Wasm Backend: info.backend.decComplexRef is not a function"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow.js): yes
- OS Pl

[2021-01-28 07:50] Moumouls commented on #4609
Okay i found that you can't have this in your package.json

[code]

Error is gone after removing other @tensorflow packages

[code]

[2021-01-28 12:04] LukeJVinton commented on #353
@tafsiri Thanks for all your help. I have managed to get the custom module using the guide. For now I have opted to use a model that does not include recurrent layers as the bundle size is critical. At some point it would be great to be able to follow this process using a model containing recurrent layers.

The total bundle size I am getting for the tfjs dependencies is now about 5kB! The breakdow

[2021-01-28 12:57] adotnusiyan commented on #4554
@tafsiri @pyu10055
Shouldn't be updated to [3.0](https://github.com/tensorflow/tfjs/releases/tag/tfjs-v3.0.0) ?

[2021-01-28 13:43] rthadur commented on #4609
In your package.json, if you have include the union package '@tensorflow/tfjs',
you don't need to include other individual packages (tfjs-node,tfjs-node-gpu etc)

[2021-01-28 15:44] tafsiri commented on #353
@LukeJVinton thats awesome that you got it working. However I should say that those files just import the parts of tfjs that will end up in your bundle. You will need to use a bundle analyzer to measure the final size of what gets pulled in by webpack after tree-shaking. Thanks for reporting the broken links, will update that shortly.

[2021-01-28 16:46] #4473 closed

[2021-01-28 16:48] #4343 closed

[2021-01-28 19:08] #4283 closed

[2021-01-28 19:08] #4308 closed

[2021-01-28 19:55] rthadur commented on #4520
@Sunyingbin it is not possible through face-landmark-detection model , you need to write custom code in order to implement this. Sorry, we do not have bandwidth to support this in near future.Please refer face-api which uses tfjs-node to recognize facial expressions https://github.com/justadudewhohacks/face-api.js/ . Thank you .

[2021-01-28 19:57] rthadur commented on #4438
@naah69 can you please explain your use case ?

[2021-01-28 20:08] #4511 closed

[2021-01-28 22:01] pyu10055 commented on #4507
@JPery Looks like there are still complex64 type in the model, especially used on TensorList ops. i.e. ("StatefulPartitionedCall/sequential/melspectrogram/stft/stft_tf.signal.stft/map/TensorArrayV2Stack/TensorListStack")
It seems to related to melspectrogram/stft layer or method?

[2021-01-28 22:10] pyu10055 commented on #4578
@kiancross We export all layers as Layer type, it is the parent class for all layers.
If you are trying to avoid typescript error, you can cast the object to RNN, in order to use for bidirectional method.
[code]

[2021-01-28 22:19] kiancross commented on #4578
@pyu10055 Ok, I guess that works.

It's a bit strange to export it as a `Layer` rather than `RNN` though - why not leave it as `RNN`?

[2021-01-28 22:49] #4550 closed

[2021-01-29 00:47] pyu10055 commented on #4474
@adotnusiyan
I think you need to normalize the spectrogram before passing to the recognizer:
take a look at [this line](https://github.com/tensorflow/tfjs-models/blob/2d269c257bf59a3c878d823d3e3973d7954500bc/speech-commands/src/browser_fft_recognizer.ts#L787)
[code]

[2021-01-29 02:29] naah69 commented on #4438
matrix index sort,but now i make it be vector index sort，if it has argsort,i can make it be matrix index sort
![image](https://user-images.githubusercontent.com/25682169/106223626-c6de5d00-621c-11eb-8f17-20fd2508583f.png)

[2021-01-29 09:36] Rishit-dagli opened #4617 "Contribute a TFJS example"
I am looking to contribute a and example to the [tfjs-examples](https://github.com/tensorflow/tfjs-examples) repository which asks to first reach out via a GitHub issue.

I am planning on contributing the [MIRNet-TFJS](https://github.com/Rishit-dagli/MIRNet-TFJS/tree/prod) example by me. This is a minimalistic example that aims to enhance low-light images up to a great extent on the web. As an exa

[2021-01-29 10:23] adotnusiyan commented on #4474
@pyu10055
It works. After using the normalization method, the scores are still not the same, but they're similar now.

Thank you so much

[2021-01-29 17:01] pyu10055 commented on #4591
@tylerzhu-github Hi Tyler can you help to comment on this question? Thanks.

[2021-01-29 17:13] #4554 closed

[2021-01-29 20:09] Nuzzlet commented on #4362
It is isolated to tfjs-node-gpu. Does not happy with tfjs-node or tfjs webGL

[2021-01-29 22:10] pyu10055 commented on #4554
It is upgrade to v3.0.0

[2021-01-29 22:11] pyu10055 commented on #4474
@adotnusiyan btw, the normalization method is exposed in the latest speech-commands v0.5.1

[2021-01-29 22:11] #4474 closed

[2021-01-29 22:13] pyu10055 commented on #4617
@Rishit-dagli This is very cool! Since you already have a separate github repo, it will be easier to add to our gallery page without duplicating the effort. Thanks!

[2021-01-29 22:27] jasonmayes commented on #4617
This one: https://github.com/tensorflow/tfjs/blob/master/GALLERY.md

[2021-01-29 22:27] dcsan commented on #4343
No I'm not accessing from China.

So there is no way to pull the model down locally, it has to be re-downloaded for every run?
meaning this function:

`await sentenceEncoder.load()`

pulls a large model over the network every time I run my process?

[2021-01-30 02:19] Rishit-dagli commented on #4617
@pyu10055 Sure that makes sense, I will make a PR adding this project to the gallery page. Thanks, @jasonmayes for sharing the gallery page.

[2021-01-30 05:49] taposh commented on #4466
@pyu10055  here is my code in colab

https://colab.research.google.com/drive/1cPmtlV7LMGAJ16WHBEeRko37zBNwWlda?usp=sharing

[2021-01-30 15:50] tylerzhu-github commented on #4591
Hi @jtrammell-dla,

Thanks for your inquiry!

That's a very good questions. The output node is reserved for future use cases.

The best way is to not set any target for that head and ignore it in the total loss.

Best,
Tyler

[2021-01-30 18:27] vladmandic commented on #4066
i've tested with tfjs 3.0.0 and error message is improved:
[code]

now the remaining part is to actually implement function `FlipLeftRight` for NodeJS (backend: tensorflow).

[2021-01-30 19:30] ahtrahdis7 opened #4620 "Feature request for `tf.io.encode_jpeg` in tfjs-react-native."
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow.js version (you are using): 2.8.5
- Are you willing to contribute it (Yes/No): Yes

[2021-01-30 20:03] jtrammell-dla commented on #4591
Ah, so!!! That explains it, thank you! Now I'm curious, though. Can you tell us what sort of future use cases you had in mind? And thank you for the quick response.

[2021-01-31 02:25] aribambang opened #4621 "Load model GRU"
I have a GRU based model written Python 3 with Google Colab. I have converted it for tensorflow.js version 3.0.0. While loading it in tfjs getting an error.

`ValueError: GRUCell does not support reset_after parameter set to true.`

I have attached corresponding json. Please advice.

[code]

[2021-01-31 05:48] felixkjoseph opened #4622 "Tensorflow.js implimentation error on Blazor Server Application"
Hi, Need one help, am trying to implement tensorflow.js into my Blazor Server application.  But in the java script
Promise.all([
        faceapi.nets.tinyFaceDetector.loadFromUri('models'),
        faceapi.nets.faceLandmark68Net.loadFromUri('models'),
        faceapi.nets.faceExpressionNet.loadFromUri('models')
    ]).then(beginVideo);
getting an error
face-api.min.js:1 Uncaught (in promise) Error

[2021-01-31 14:19] patrickhulce commented on #4514
Can this be reopened or someone point us in the direction of where we should go to help? Support for the new M1 macs is essential for any applications running edge TF models.

[2021-01-31 18:37] harangp opened #4623 "Performance issue with tf.signal.stft"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow.js): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: N/A
- TensorFlow.js installed from (npm or script link): npm i @tensorflow/tf-node
- TensorFlow.js version

[2021-02-01 02:26] drubinstein opened #4624 "Unknown op: BroadcastArgs"
**System information**
- TensorFlow.js version (you are using): 3.0.0
- Are you willing to contribute it (Yes/No): No, but can if told what to change and where

**Describe the feature and the current behavior/state.**
BroadcastArgs are not supported. [tf.linspace](https://www.tensorflow.org/api_docs/python/tf/linspace) changed implementations between TF versions 2.2.0 and 2.3.0 to use BroadcatsArg

[2021-02-01 03:56] LPugens opened #4625 "Error when installing(?) and crash upon importing"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: Electron app
- TensorFlow.js installed from (npm or script link): npm
- TensorFlow.js version: @tensorflow/tfjs-node@3.0.0
- CUDA/cuDNN version: None

**Describe the problem**
While installing tfjs-node, I get a

[2021-02-01 05:16] DobryninVyacheslav opened #4626 "Error: Unknown layer: Normalization"
Hello!

I trained a model in python and converted it for tfjs.
In the model I used a normalization layer:
[code]
After I run this model in js, I get an error:

Please tell me:
do you need to add this class to tfjs?
or am I doing something wrong?

[2021-02-01 06:42] Kevin-1993-35 opened #4627 "Convert Output Tensor to Image/Canvas"
I've a js model which predicts depth-image as a tensor.
I tried to I covert the tensor to image by using tf.node.encodePng ,but got the error  _TypeError: Cannot read property 'encodePng' of undefined_
Any suggestions on how I can convert the tensor to an image/canvas ?

[2021-02-01 11:04] venkat-ravilla commented on #4350
@pyu10055 I am trying to use https://www.tensorflow.org/tutorials/text/nmt_with_attention.
I am using the same NN architecture as above, saved the encoder model, converted it using tfjs and facing the issue while running it in nodejs.

[2021-02-01 17:30] sbrl commented on #1315
I've just tried the `sparse_categorical_crossentropy` one like this @davidsoergel:

[code]

....but it crashes with the following error:

[code]

If I try specifying `loss: this.tf.losses.sparseCategoricalCrossentropy` directly, then I get this error:

[code]

....so I'm out of ideas.

[2021-02-01 18:13] piercus opened #4629 "Build Custom non-trainable Layers using `tf.layers.fn`"
**System information**
- TensorFlow.js version (you are using):
- I'm willing to contribute, just want to make sure this makes sense for someone else, and/or maybe there is already some work in progress related to this

**Describe the feature and the current behavior/state.**

## Actual

On my current understanding, building a simple custom layer (like a sum layer) is made by creating a CustomLaye

[2021-02-01 18:18] rthadur commented on #4514
@patrickhulce reopened

[2021-02-01 18:22] rthadur commented on #4066
Usually feature request are prioritized by the team and are assigned later , hopefully it will get picked up soon. I am tagging this for contributions welcome if any one interested.

cc @pyu10055 @lina128 @mattsoulanille @jinjingforever

[2021-02-01 18:29] patrickhulce commented on #4514
Thank you @rthadur! Is there anything that we can help with? My current understanding based on https://github.com/tensorflow/tfjs/issues/4514#issuecomment-758334433 is that there a few patches (possibly that @nickplee already has written?) to work with the 2.4 API *or* attempt to rebuild 2.3 using the methods described in https://github.com/tensorflow/tensorflow/pull/45404.

My M1 rig is arriving

[2021-02-01 18:34] rthadur commented on #4620
Here is the node version of encode jpeg https://js.tensorflow.org/api_node/3.0.0/#node.encodeJpeg , please let me know if this helps ?

[2021-02-01 18:45] ahtrahdis7 commented on #4620
I need the react-native version of the same.

[2021-02-01 19:18] ferolo3000 commented on #3352
I tried thise and worked for me:
[code]

[2021-02-01 21:00] rthadur commented on #4620
cc @mattsoulanille do we support this in react-native ?

[2021-02-01 21:01] rthadur commented on #4514
Gentle ping for @pyu10055

[2021-02-01 21:04] rthadur commented on #4629
@pyu10055 @lina128 @caisq

[2021-02-01 21:22] pmer commented on #1607
My apologies, butler, but I think this issue there is still an interesting in waiting to hear more.

[2021-02-01 21:31] rthadur commented on #4627
please check for a similar issue here https://github.com/tensorflow/tfjs/issues/3140
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow-tfjs) since it is not a bug or feature request. There is also a larger community that reads questions there.

[2021-02-01 21:31] #4627 closed

[2021-02-01 21:45] rthadur commented on #4626
Normalization has been added here https://github.com/tensorflow/tfjs/pull/2114 , which version of tfjs you are using ?

[2021-02-01 21:53] rthadur commented on #4625
There is underlying issue with windows , you need to manually copy files from `deps/lib` to `node_modules/@tensorflow/tfjs-node/lib/napi-v7`.

[2021-02-01 22:43] #4617 closed

[2021-02-01 23:46] LPugens commented on #4625
Still the same issue.
I noticed the tensorflow.dll is identical in both folders:

Filename | CRC32
-- | --
lib\napi-v7\tensorflow.dll | E02CB98E
lib\napi-v7\tfjs_binding.node | 30D2AFF5
deps\lib\tensorflow.dll | E02CB98E
deps\lib\tensorflow.lib | 2AA0937C

Any other ideas?

[2021-02-02 00:23] #4578 closed

[2021-02-02 02:53] pyu10055 commented on #4622
@felixkjoseph Not familiar with Blazor, purely based on your description, this could be an network issue, (i.e. CORS etc) You should check network tab (if this runs in browser) to see if the model files are downloaded correctly.

[2021-02-02 04:01] pkosic commented on #4626
I'm getting the same error (and my code is for all intents and purposes identical).

I'm getting the error with tfjs versions 3.0.0 and with 2.8.5.

The dense layers translate fine (tested with normalization layer removed) but there's something about the experimental.preprocessing normalization layer that tfjs appears to not like...

[2021-02-02 04:45] taposh commented on #4466
@pyu10055  were you able to review this?

[2021-02-02 10:01] jackz314 commented on #3727
TensorFlow core has supported CUDA 11 for a while now, which I verified by testing out the Python version. However, I'm still having the same problem (Could not load dynamic library 'libcuxxx.so.10.0') with tfjs. Is this still not supported?

[2021-02-02 10:29] benbro commented on #4177
The [blog post](https://ai.googleblog.com/2020/10/background-features-in-google-meet.html) links to this [model card](https://drive.google.com/file/d/1lnP1bRi9CSqQQXUHa13159vLELYDgDu0/view) which says:

Does it means that the model isn't open source?

[2021-02-02 14:17] BhagwatSagar30 opened #4630 "Error: Backend name 'rn-webgl' not found in registry"
We are getting an error while setting the backend name as "**rn-webgl**" in react native.

Sample code of implementation.

import * as tf from "@tensorflow/tfjs";

await tf.setBackend("rn-webgl");
await tf.ready();

We are using the following version of the library.
"expo-camera": "9.1.1",
    "expo-font": "^8.3.0",
    "expo-gl": "9.2.0",
    "expo-gl-cpp": "9.2.0",
    "expo-av": "^8.6.0",
    "

[2021-02-02 16:01] sbrl commented on #1315
It looks like `sparseCategoricalCrossentropy` is not actually exposed in `tf.losses`:

[code]

....so I think there's another factor at play here and the file you linked to @davidsoergel doesn't accurately reflect the loss functions implemented?.

[2021-02-02 16:16] pyu10055 commented on #4621
@aribambang As the error message indicates TFJS GRU Cell does not support reset_after param, you can disable the param when you creating the [GRU layer in python](https://www.tensorflow.org/api_docs/python/tf/keras/layers/GRU), and retrain the model. And contributions are always welcome, thanks.

[2021-02-02 16:46] rthadur commented on #4626
cc @caisq

[2021-02-02 16:57] rthadur commented on #4625
can you delete tensorflow.dll in deps\lib and try again

[2021-02-02 17:28] LukeJVinton commented on #353
@tafsiri Hi there.

I've found that this size optimisation process has worked when the model is saved to the browsers "localStorage". However I run into problems when trying to grab a model from an AWS bucket whilst using the size optimised tfjs packages.

Without size optimisation I am able to fetch the model from an AWS bucket. Once I implement size optimisation (i.e go over the steps from the s

[2021-02-02 18:25] mattsoulanille commented on #4630
You'll need to `import '@tensorflow/tfjs-react-native';` to use the rn-webgl backend. [See here for an example](https://github.com/tensorflow/tfjs/blob/master/tfjs-react-native/integration_rn59/App.tsx#L22).

[2021-02-02 18:44] pyu10055 commented on #4626
@DobryninVyacheslav We have support for [BatchNormalization](https://www.tensorflow.org/api_docs/python/tf/keras/layers/BatchNormalization) layer, but not the [preprocessing.Normalization](https://www.tensorflow.org/api_docs/python/tf/keras/layers/experimental/preprocessing/Normalization?hl=en) layer.

You can probably remove the layer from the model and use a set of tf ops to replace that in both

[2021-02-02 18:51] #4592 closed

[2021-02-02 21:37] jasonmayes commented on #4177
Speaking from the TFJS perspective we typically release our code under
Apache 2.0 which is the Google standard when open sourcing stuff on say
Github.

We should confirm with MediaPipe here though in case there is something I
am missing or if anything different for this model specifically.

On Tue, Feb 2, 2021 at 2:30 AM benbro <notifications@github.com> wrote:

--

*  •  **Jason Mayes*
*  •  *Sen

[2021-02-02 21:42] kooler commented on #4177
@jasonmayes but just to clarify, from Google's point of view are there any licensing issues with others using the .tflite model?

[2021-02-02 21:45] simon-lanf commented on #4177
@benbro that's new. It used to say Apache 2.0

[2021-02-02 22:41] LPugens commented on #4625
Tried the following with the same results:
[code]

[2021-02-03 02:41] pkosic commented on #4626
I was going to do the manual normalization because I got scared of the API for BatchNormalization the first time I looked at it, but you gave the courage to use BN and all works - thanks! :)

A tangentially related question - running the model straight from the tfjs converter results in a typecasting error ((1) below). Manually changing the dtype of the first layer from float64 to float32 ((2) -->

[2021-02-03 03:44] aribambang commented on #4621
Maybe this will change the configuration of the GRU model. Whether in the future it will support?
Thank you for response @pyu10055

[2021-02-03 06:29] sndkd commented on #4630
@mattsoulanille even i'm getting the same issue even after adding `import '@tensorflow/tfjs-react-native';`
It says
`Error: Backend name 'rn-webgl' not found in registry`

If i remove the setBackend() function, then it throws different error
`TypeError: undefined is not an object (evaluating 'env().platform.fetch')`

This stopped working from 2-3 days back in existing release builds

[2021-02-03 06:47] utills commented on #4630
@sndkd @mattsoulanille @rthadur did you find any solution for this ?
I'm also facing the same issue from yesterday in iOS react native 0.63
 Error: Backend name 'rn-webgl' not found in registry

[2021-02-03 08:03] BhagwatSagar30 commented on #4630
@mattsoulanille  I'm still getting same error after adding import '@tensorflow/tfjs-react-native';

[2021-02-03 09:08] #4568 closed

[2021-02-03 10:10] NiklasRosar opened #4633 "Problem occuring, while following the example for pitch types"
Hello,

I have used tensorflow.js with script-tag and this have worked very good for me for a long time.
Now, I want to use the node.js setup for improving the performance by using cpu.
(gpu support doesn't work for me, because I have no access to NVIDIA gpu)
This is the first time I work with node.js
To get a feeling, how this approach works, I try to follow the example for classifying pitch type

[2021-02-03 10:32] HarshalRohit commented on #4579
Hi @mattsoulanille, Any updates??

[2021-02-03 17:36] pyu10055 commented on #4626
@pkosic Our keras to layers conversion does not verify the dtype of the input of the layer, in javascript we don't support float64 inputs. Please make sure when you create layers, use only float32/int32 dtypes for input.

[2021-02-03 18:03] rthadur commented on #4633
@NiklasRosar can you try `npm rebuild @tensorflow/tfjs-node build-addon-from-source` ?

[2021-02-03 18:11] rthadur commented on #4625
I guess this is something to do with electron app , can you please check a similar issue here https://github.com/tensorflow/tfjs/issues/2640 , thank you

[2021-02-03 18:18] rthadur commented on #4630
Thank you all for your patience, we are investigating this and we will find more details soon.
@BhagwatSagar30 can you try using latest tfjs-version ?
@sndkd @utills can you please share your package.json ?

[2021-02-03 18:23] rthadur commented on #4630
Also if possible can you please look at these steps if applicable

1. Is the app created using expo? If so is it a managed or bare app?
2. Which version of react native and the dependencies in the install instructions are you using?
3. What device(s) are you running on? Note that not all simulators support webgl and thus may not work with tfjs-react-native.
4. What error messages are you seeing? A

[2021-02-03 20:02] Zeesy commented on #3861
Any update on this issue? It would be helpful to know a timeline if possible. This is a great demo, there are a lot of us who would love to play with it again.

[2021-02-03 22:47] mattsoulanille commented on #4630
I'm having trouble reproducing this. [Here's my test repo](https://github.com/mattsoulanille/tfjs-rn-webgl-test), where the backend loads properly. I've tested on an Android phone, but this might be iOS-specific. I'll try on an iOS simulator and let you know what I find.

[2021-02-03 23:22] JPery commented on #4623
Hi, @harangp!

I have taken the liberty of creating a test of this issue for web client.

Also I've added 3 new test tensors (zeros, randomNormal and randomUniform) to verify that all is working at it should.

In my case I've noticed a ~10x improvement on webgl backend. I was unable to test it with the wasm backend as it doesn't currently support complex tensors.

My standalone code to reproduce t

[2021-02-04 00:03] mattsoulanille commented on #4630
I couldn't get the simulator working, so I tried on an iPhone SE running iOS 14.3. It worked there as well. Can you try the [test repo](https://github.com/mattsoulanille/tfjs-rn-webgl-test) on your device and let me know if it works? Thanks!

[2021-02-04 03:19] LPugens commented on #4625
Thanks! I managed to make it work with he info in the issue you linked.

After some research, I found out that the node version used to install the node packages (such as tfjs) should be the exact one bundled with electron.
As seen on the [release blog post](https://www.electronjs.org/blog/electron-11-0), the current electron version (11.0.0) has to be paired with node version [12.18.3](https://no

[2021-02-04 03:19] #4625 closed

[2021-02-04 06:55] harangp commented on #4623
Hi @JPery , thanks for taking the time and confirming my find. Also, I like the code you've brought to the web. I've run your code on my machine in a Chrome (v: 87.0.4280.141) as well for reference, here are the results (see below). The interesting thing is my GPU is an integrated Intel HD Graphics 620, but the results are roughly the same. So I would say WebGL definitely packs a punch here.

[cod

[2021-02-04 09:25] NiklasRosar commented on #4633
Thank you very much for your answer.
Unfortunately, the approach doesn't work for me.
Again I get error, when I try to use the command >npm run start-server

I want to share the complete log of this run:

May another approach will solve this problem?

[2021-02-04 10:06] JPery commented on #4507
Hi!

I finally found my error. In the custom layer I was using there was a tf.transpose right after the tf.signal.stft. This operation was the one causing the issue, as tf.abs has a complex64 input implementation in tfjs.

In the end, I moved the tf.abs right before the tf.transpose (it was right after) and it resolved the issue.

On the other hand, could we get a tf.transpose complex64 input impl

[2021-02-04 13:15] pravastacaraka opened #4637 "Uncaught (in promise) TypeError: Cannot read property 'name' of undefined"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10 Education 20H2 64-b

[2021-02-04 16:15] NSTiwari opened #4638 "Unhandled Rejection (TypeError): Unknown op 'TensorListFromTensor'"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow.js): Yes, I refe

[2021-02-04 17:20] rthadur commented on #4638
In the package.json it still uses 1.74 version of tfjs , can you try updating to latest version ? Thank you

[2021-02-04 17:23] rthadur commented on #4638
Also the above mentioned op is added in latest versions , please refer the PR here https://github.com/tensorflow/tfjs/pull/3432

[2021-02-04 17:29] rthadur commented on #4637
@pravastacaraka can you please share minimal code to reproduce the error , you can create a repo or use codepen. Thank you

[2021-02-04 17:47] #4529 closed

[2021-02-04 18:51] mattsoulanille commented on #4579
I've reproduced the bug in the browser, so this seems to be an issue with converter or the graph model executor rather than tfjs-react-native as I originally thought.

In the browser, the layers model works fine, but when running the graph model, It looks like the last layer (Identity) is not connected to the rest of it. When running with a single input, it throws the same error as was first repor

[2021-02-04 20:47] #4587 closed

[2021-02-05 01:20] ashikns commented on #4177
As a general question, does open source work that way? As in can you re-license something that was already released under an open source license?

[2021-02-05 03:15] pyu10055 commented on #4623
@harangp @JPery Awesome work for great perf improvement, any of you want to contribute the change to the library? thanks!

[2021-02-05 03:17] pyu10055 commented on #4621
@aribambang sorry, I don't think this feature will be added in the near future.

[2021-02-05 05:54] harangp commented on #4623
Yes, happy to (will be first time, but one must start somewhere).

[2021-02-05 07:37] kayorl commented on #1425
Me,too

[2021-02-05 08:54] wolasss commented on #1425
+1

[2021-02-05 10:59] VernengoSimone opened #4641 "Error: TensorList shape mismatch: Shapes -1 and 3 must match"
**System information**
- I'm trying to convert a TF Object Detection model to SavedModel and then TF.js without any customization
- I'm working on Colab to export the model and I load the converted model on Chrome.
- Chrome version 88.0.4324.146 (Official Build) (64-bit)
- TensorFlow.js installed from yarn
- tfjs-core: ^3.0.0
- tfjs-converter: ^3.0.0
- TF 2.4.1
- Python 3.6.9

I'm currently trying

[2021-02-05 14:18] simon-lanf commented on #4177
@ashikns yes. You can always change the license, if everyone who wrote any code accepts, or if the license allows it without everyone's approval. Apache 2.0 requires that everyone approves, but since everyone who wrote the code is a Google employee, Google decides in the end since if they refuse they could lose their job. I also think that their work contract might state that Google can relicense

[2021-02-05 19:00] mattsoulanille commented on #4579
Hi @HarshalRohit. Thanks to @pyu10055, we've found a workaround. If you convert the model with [`--control_flow_v2=true`](https://www.tensorflow.org/api_docs/python/tf/compat/v1/enable_control_flow_v2), it should work. I've pushed a working example to the private repo, and the exact converter command is in the package.json file. To anyone else reading this, the command is essentially:
[code]

We'l

[2021-02-06 05:01] #4638 closed

[2021-02-06 06:49] pyu10055 commented on #4507
@JPery nice, I think supporting complex64 in transpose should be doable, mind creating a feature request to track that? Thanks

[2021-02-06 07:04] HarshalRohit commented on #4579
Thank you for looking into it.
I will try the workaround and update.

[2021-02-06 10:15] pravastacaraka commented on #4637
Sorry for the late response, I've fixed this problem

[2021-02-06 10:15] #4637 closed

[2021-02-06 10:27] pravastacaraka opened #4646 "Unknown op 'CombinedNonMaxSuppression'"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10 Education 20H2 64-b

[2021-02-06 14:03] jlarmstrongiv commented on #3582
Just curious, does anyone have an example using the OpenAI GPT-2 model after converting it to tfjs? 😄

[2021-02-06 15:04] luke-iqt commented on #4641
I am having the exact same problem. I am trying to use a model I trained using the TF2 Obj Detection API. I did transfer learning on top of the MobileNet V2 SSD model, exported to saved graph using exporter_main_v2.py. I used the tensorflowjs_converter.

I get the same message from just trying to feed in a Zero Tensor, made with this code:
[code]

Is there a better way to run a Custom TF2 Object D

[2021-02-06 17:01] jo-fra opened #4647 "Memory leak in MomentumOptimizer"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow.js): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): React Native (Expo)
- TensorFlow.js installed from (npm or script link): https://www.npmjs.com/package/@tensorflow/tfjs-core
- TensorFlow.js version (use command below): 3.0.0

**Describe the current behavior**
Cal

[2021-02-06 17:20] Shivanshi1 opened #4648 "TypeError: webglBackend.incRef is not a function"
I am trying to use my tfjs model, on console.log(model) I am getting this typeError:
TypeError: webglBackend.incRef is not a function
    at reshape (Reshape.ts:50)
    at Object.min [as kernelFunc] (Min.ts:48)
    at h (engine.js:562)
    at engine.js:619
    at t.e.scopedRun (engine.js:436)
    at t.e.runKernelFunc (engine.js:616)
    at t.e.runKernel (engine.js:494)
    at min_ (min.ts:64)

[2021-02-06 18:23] JPery opened #4649 "Support complex64 input in tf.transpose"
**System information**
- TensorFlow.js version (you are using): 3.0.0
- Are you willing to contribute it (Yes/No): Yes

**Describe the feature and the current behavior/state.**

Support complex64 input in tf.transpose

**Will this change the current api? How?**

It will support the tf.transpose operation instead of throwing the error "GPGPUProgram does not support complex64 input", as seen at #450

[2021-02-06 18:24] JPery commented on #4507
Done, @pyu10055. I also close this issue, as we can track the problem on the other issue.

Thanks a lot!

[2021-02-06 18:24] #4507 closed

[2021-02-06 20:05] vladmandic opened #4650 "Kernel function Ceil is not implemented for WASM backend"
Attempting to run a model using `ceil` function and `WASM` backend` results in:
[code]

Same model works ok with WebGL backend.

Environment: TFJS 3.0.0
OS: Ubuntu 20.10

[2021-02-06 23:30] mattmyne commented on #2219
@tafsiri I think the advantage of Math.seedrandom over using the seed parameter for individual api calls is the former allows a predictable sequence of random numbers over multiple api calls. Using the same seed value for each api call results in identical output for each call, which is not always what's needed. Because of this I agree the use of Math.seedrandom should be in the documentation (tho

[2021-02-08 12:31] hentschelpatrick opened #4653 "PoseNetJS (intermediate value)(intermediate value).resizeBilinear is not a function"
We've been using PoseNetJS in our angular project since November 2020, everything worked fine until thursday last week, where suddenly our pose estimation stopped working everytime the call on
```posenet.estimateSinglePosition(videoElement)``` was made.

Running through the debugger every element is defined and we are running on the latest version ```^2.2.1```

[code]

The error shown in the conso

[2021-02-08 14:12] vladmandic commented on #4311
@rthadur @annxingyuan @pyu10055 lina128 sorry for the spam,

but i have 3 issues filled (#4525, #4326, #4311) for `wasm` backend (with full reproduction code)
that make `wasm` pretty much unusable.
and all likely have the same root cause, just symptoms are different.

but none received any updates since they were filed (oldest was 2.5 months ago).

[2021-02-08 14:13] vladmandic commented on #4326
@rthadur @annxingyuan @pyu10055 lina128 sorry for the spam,

but i have 3 issues filled (#4525, #4326, #4311) for `wasm` backend (with full reproduction code)
that make `wasm` pretty much unusable.
and all likely have the same root cause, just symptoms are different.

but none received any updates since they were filed (oldest was 2.5 months ago).

[2021-02-08 14:13] vladmandic commented on #4525
@rthadur @annxingyuan @pyu10055 lina128 sorry for the spam,

but i have 3 issues filled (#4525, #4326, #4311) for `wasm` backend (with full reproduction code)
that make `wasm` pretty much unusable.
and all likely have the same root cause, just symptoms are different.

but none received any updates since they were filed (oldest was 2.5 months ago).

[2021-02-08 14:14] vladmandic commented on #4217
closing this issue due to changes in packaging of tfjs 3.0.0

[2021-02-08 14:14] #4217 closed

[2021-02-08 16:28] ybigus opened #4654 "TF.js Models Handpose live example link is broken"
on the README for [TF.js-models](https://github.com/tensorflow/tfjs-models) HandPose live example link is broken

[2021-02-08 19:44] rthadur commented on #4653
@hentschelpatrick i tried the latest posenet model from https://github.com/tensorflow/tfjs-models/tree/master/posenet which uses 3.0.0-rc.1 it was working fine , can you try updating to latest version explicitly in package.json ?

[2021-02-08 20:00] rthadur commented on #4646
@pravastacaraka we do not support it , will you be interested in contributing , if yes here are the guidelines to add a new op
https://github.com/tensorflow/tfjs/blob/master/CONTRIBUTING_MISSING_OP.md , thank you
cc @lina128 @jinjingforever

[2021-02-08 20:05] rthadur commented on #4648
@Shivanshi1 can you please check similar issue here https://github.com/tensorflow/tfjs/issues/4405

[2021-02-08 22:29] dalelane opened #4656 "Please publish face-landmarks-detection 0.0.3 to npm"
It looks like the face-landmarks-detection model was updated to work with TFJS 3.0 a few weeks ago

https://github.com/tensorflow/tfjs-models/blob/2af288d98609b32df2075cf7226c694989a5d476/face-landmarks-detection/package.json#L3

But npm still only has the previous version

https://www.npmjs.com/package/@tensorflow-models/face-landmarks-detection

Can someone publish the latest TFJS 3.0-compatible

[2021-02-09 04:53] pravastacaraka commented on #4646
@rthadur Oh, sorry in advance, actually I really want it, but I don't have the expertise in this field. Can I ask you to add this feature?

[2021-02-09 05:17] phoenix-meadowlark opened #4658 "GitHub Policy link in issue template points to a deleted file."
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

The policy link above points to a deleted file. The templates in the [tensorflow repo](https://github.com/tensorflow/tensorflow/search?

[2021-02-09 05:23] phoenix-meadowlark opened #4659 "[Feature] Auto check for version compatibility when individual package is loaded"
**System information**
Browser: Chrome `88.0.4324.96`
OS: macOS `10.15.7`

Copying and pasting the [Via a script tag](https://github.com/tensorflow/tfjs/blob/master/tfjs-backend-wasm/README.md#via-a-script-tag) section of the WASM readme throws the following errors:

[code]

[code]

[code]

[2021-02-09 12:32] chirva-ivan opened #4660 "Broken tensor on specific GPU"
**System information**
- Have I written custom code: https://codesandbox.io/s/tfjs-unstack-issue-loz5r?file=/src/index.js
- OS Platform and Distribution:
Windows 10
GPU:
![GL_vendor_GL_renderer](https://user-images.githubusercontent.com/18259976/107361735-e6149e80-6ae8-11eb-9577-59014b600410.PNG)
WebGL:
![gpu](https://user-images.githubusercontent.com/18259976/107361777-f3ca2400-6ae8-11eb-84d8-b6c

[2021-02-09 12:47] digitalemerge commented on #3727
Is there any news on this regard? Still no support for cuda11

[2021-02-09 13:29] gaurav8809 opened #4661 "Unable to resolve module `crypto` from `node_modules/@tensorflow/tfjs/dist/tf.node.js`: crypto could not be found within the project"
Can anyone please help me with this.

I have react native cli project and not expo.

I installed all required packages

- react-native-unimodules
- expo-gl-cpp and expo-gl
- expo-camera
- async-storage
- react-native-fs

![Simulator Screen Shot - iPhone 11 - 2021-02-09 at 18 59 36](https://user-images.githubusercontent.com/59197887/107370419-f63c7600-6b08-11eb-980a-936967ef2d55.png)

[2021-02-09 15:56] Nerdyvedi commented on #4177
@jasonmayes Could you please let us know if the meet's tflite model can be used for commercial uses or not? Thanks

[2021-02-09 16:48] vladmandic commented on #4659
you're force-loading `tfjs` 1.4.0 while `wasm` is loaded without version string, so defaults to latest 3.0.0 - no chance those two can work together.

[2021-02-09 16:56] phoenix-meadowlark commented on #4659
Ah, that makes sense, thanks! Is there a way to catch that incompatible versions of `tfjs*` are being used and surface an error that reflects that?

[2021-02-09 17:32] Shivanshi1 commented on #4648
I have the following dependencies in my package.json, still getting the same error
"dependencies": {
    "@tensorflow/tfjs": "^2.8.0",
    "@testing-library/jest-dom": "^5.11.9",
    "@testing-library/react": "^11.2.5",
    "@testing-library/user-event": "^12.6.3",
    "bootstrap": "^4.6.0",
    "react": "^17.0.1",
    "react-bootstrap": "^1.4.3",
    "react-dom": "^17.0.1",
    "react-scripts": "

[2021-02-09 17:36] ELI7VH opened #4662 "incorrect values when creating a tensor."
using tfjs-node to put together some tensors, and I get incorrect data in my sets.

here is my code:
[code]
here is the response:
[code]

as you can see the derivatives if the x_vals is wrong.

the numbers in the tensor itself seem to be totally incorrect, and then when trying to normalize these numbers, it's just returns null..

hope somebody can point out what I am doing wrong

[2021-02-09 17:44] Shivanshi1 commented on #4648
<img width="348" alt="Capture" src="https://user-images.githubusercontent.com/32108802/107404625-7b855200-6b2c-11eb-8505-dfdacbd1556e.PNG">

[2021-02-09 17:49] ahtrahdis7 commented on #4620
@rthadur  I don't think so. I have checked the repository thoroughly and the documentation too.

[2021-02-09 19:10] jaygit123 opened #4663 "Bi-Directional LSTM model with Embedding layer for Language Translation"
Hi,

I have created a Bi-Directional LSTM model with Embedding layer in Keras (Python) for Language Translation and converted to tfjs Graph model.
In the Keras (python) model, I give the input to model for prediction as an array of padded sequences (using Tokenizer, dataset is first fit_on_texts(), texts_to_sequences() and then pad_sequences()). So, for training and prediction I use the array of p

[2021-02-09 19:51] pyu10055 commented on #4659
@phoenix-meadowlark That is a great idea, we will look into that.

[2021-02-09 19:53] pyu10055 commented on #4658
@rthadur Can you help to fix the broken links. thanks!

[2021-02-09 22:02] jasonmayes commented on #4177
I'm afraid I can not answer on behalf of the meet team / TFLite - if the original model is from one of these teams then I would advise asking someone from one of those teams as I was not involved in the development of this model and its release process. If I find out anything on my side though I will of course update the thread.

[2021-02-10 01:36] #4654 closed

[2021-02-10 04:27] rthadur commented on #4661
@gaurav8809 can you please check a similar issue here related to nodejs https://github.com/tensorflow/tfjs/issues/3354

[2021-02-10 04:28] rthadur commented on #4658
Sure @pyu10055

[2021-02-10 04:38] rthadur commented on #4648
there is no    "@tensorflow/tfjs-backend-webgl": in the package.json , can you please check ?

[2021-02-10 04:38] rthadur commented on #4662
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow-tfjs) since it is not a bug or feature request. There is also a larger community that reads questions there.

[2021-02-10 04:42] rthadur commented on #4311
thanks for your patience , cc more folks for better visibility @mattsoulanille @jinjingforever

[2021-02-10 05:58] jadhavswapnilgit opened #4665 "issue on react native iOS when upload image on URL"
import React, { Component } from 'react';
import {
  StyleSheet,
  Text,
  View,
  Image,
  TouchableOpacity,
  Pressable,
  PermissionsAndroid
} from 'react-native';
import LinearGradient from 'react-native-linear-gradient';
import AsyncStorage from '@react-native-community/async-storage';
import { Actions } from "react-native-router-flux";
//import ImagePicker from 'react-native-image-picker';
i

[2021-02-10 06:20] gaurav8809 commented on #4661
I just checked
But I can not find any solution related this issue

[2021-02-10 12:11] jaygit123 commented on #4663
Hi @mattsoulanille,

Just noticed that in the existing tfjs examples on language tasks like text generation & translation the sentences to be predicted are tokenized, padded and then one-hot encoded before giving as input to predict() method.

Though one-hot encoding is not required for the Keras (Python) version of the model I am using, not sure if I have to do one-hot encoding to give as input t

[2021-02-10 13:52] ELI7VH commented on #4662
@rthadur it's not a bug? But the numbers it creates are completely incorrect. Would you mind clarifying?

[2021-02-10 14:22] mattsoulanille commented on #4663
Hi @jaygit123,

Thanks for the report. I don't know off the top of my head what's wrong here, but I'm pretty sure the converted model is suppose to take the same inputs as it does in tf (i.e. you shouldn't have to one-hot encode). Are you able to provide a reproduction (codepen or github repo is fine) that I can take a look at? Thanks!

[2021-02-10 15:29] adotnusiyan opened #4667 "speech-command Unable to load the model using ensureModelLoaded"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow.js): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows10
- TensorFlow.js installed from (npm or script link): npm
- TensorFlow.js version (use command below): 3.0.0
- Browser version: Version 88.0.4324.150 (Official Build) (x86_64)

**Describe the current behav

[2021-02-10 15:47] ELI7VH commented on #4662
@rthadur here is another test case.

### Inputs
[code]

### Output Tensor Values
[code]

 Is this still not a bug?

[2021-02-10 16:46] rthadur commented on #4661
did you try deleting node modules ? can you please share code to reproduce in a git repo , thank you

[2021-02-10 16:53] rthadur commented on #4667
@adotnusiyan can you please check a similar issue here https://github.com/tensorflow/tfjs/issues/3811 , thank you

[2021-02-10 17:02] adotnusiyan commented on #4667
@rthadur

The issue you linked is not resolved

And I already did what @pyu10055 suggested in that issue and still getting the error

You can check the example I provided. If you downgrade speech-command to version 0.4.2 it works, but if you use version 0.5.1 it doesn't

[2021-02-10 17:29] pyu10055 commented on #4660
@chirva-ivan can you try [this page](https://js.tensorflow.org/debug/), and share screenshot of the output? thanks

[2021-02-10 17:29] lmiguelmh opened #4668 "face-landmarks-detection model caching bounding boxes from previous predictions"
First I want to thank you for the wonderful work you do.

I am using the [face-landmarks-detection model](https://github.com/tensorflow/tfjs-models/blob/master/face-landmarks-detection). The model is fast and accurate and it works well when using it on a page via a webcam.

The problem I am experiencing is because I am not using a webcam but single images with different sizes that are feeded to th

[2021-02-10 17:32] pyu10055 commented on #4662
@ELI7VH Looks like there are some precision loss in the tensor, but it is expected for WebGL backend, we would need more information to analyze this bug. Can you provide a simple tfjs-node code example to reproduce the problem. thanks.

[2021-02-10 17:47] #4603 closed

[2021-02-10 20:28] jaygit123 commented on #4663
Hi @mattsoulanille,

Thanks for the response.

Below are the necessary files I have shared:
1. notebook with tf model inference steps & its dataset
2. tf model file 156mb in size ( [https://drive.google.com/file/d/1c77Wcd5p1giFmYp5n_VlQXwCGWk5PEg0/view?usp=sharing](url) )
3. tf model's corresponding tfjs model files
4. required HTML & JS files for testing tfjs model
5. screenshot of the error (bro

[2021-02-10 21:12] ramosisw commented on #2678
SO: Windows

This works for me,
[code]

[2021-02-10 21:14] MariamBrh commented on #3186
Thank you for the solution.
Got "[Unhandled promise rejection: Error: File 'file:///C:/...//images/body.jpeg' isn't readable.]" error. Can someone help me fixing it ?
images folder is located on the project directory.

Thank you in advance !

[2021-02-10 23:56] CristiakaWar commented on #4661
same issue here, just followed the setup info from "https://www.npmjs.com/package/@tensorflow/tfjs-react-native", I'm running expo SDK 40 and the latest versions of the dependent packages

[2021-02-11 07:49] gihanrangana opened #4669 "tensorflow-model/posenet is not loading on expo SDK 40"
**System information**
- iOS, Android
- "@tensorflow-models/posenet": "^2.2.1", "@tensorflow/tfjs": "^3.0.0",

**Describe the problem**
when i try to load posenet model it's getting `[Unhandled promise rejection: TypeError: undefined is not an object (evaluating 'env().platform.fetch')]`

[code]

![image](https://user-images.githubusercontent.com/24897554/107612226-c5288680-6c6b-11eb-80be-d744495e

[2021-02-11 07:57] HarshalRohit commented on #4579
The workaround works.
The prediction time for graph model is worse then the layers model but that's a separate issue :p
Thanks!!!

[2021-02-11 07:57] #4579 closed

[2021-02-11 08:20] chirva-ivan commented on #4660
@pyu10055

![tenserflow](https://user-images.githubusercontent.com/18259976/107614289-12e8c300-6c5b-11eb-9071-0a5d23a85382.png)

[2021-02-11 10:26] gaurav8809 commented on #4661
I resolved my issue anyhow
Build getting successful for iOS but in android getting issue with this @react-native-community/cameraroll

![Screenshot 2021-02-11 at 3 55 31 PM](https://user-images.githubusercontent.com/59197887/107624944-95847900-6c81-11eb-888f-fcecc611de07.png)

Please help me out with it

[2021-02-11 14:00] #4609 closed

[2021-02-11 16:21] #4353 closed

[2021-02-11 17:00] pyu10055 commented on #4660
Looks like the tensor texture might be exceeding the max texture limit 16384, which translate to 16384 * 4 = 65536, since we are packing the tensor into 4 channels of the texture. Can you try to disable the packing and see if the 0 values appears at 1/4 of the size.

[code]

[2021-02-11 17:07] mattsoulanille commented on #4668
Hi @lmiguelmh. Thanks for the detailed report!

It looks like you've put a good amount of research into this problem, and your idea of adding a parameter to adjust the region of interest iou threshold looks like a good solution. Would you like to make a PR implementing that change?

[2021-02-11 17:20] rthadur commented on #4669
@SL-CodeBlaster can you try running this test repo https://github.com/mattsoulanille/tfjs-rn-webgl-test ?

[2021-02-11 17:47] pyu10055 commented on #4667
@adotnusiyan please add this line to your app.tsx file, this would ensure backends are loaded.

[code]

[2021-02-11 18:00] #4390 closed

[2021-02-11 18:00] #4565 closed

[2021-02-11 18:04] rthadur commented on #4658
@phoenix-meadowlark do you have correct link for the Github policy.

[2021-02-11 18:06] adotnusiyan commented on #4667
@pyu10055
Still getting the same error.

Did you try adding the line in the example and worked?

[2021-02-11 18:25] phoenix-meadowlark commented on #4658
I had tensorflow sitting in a submodule, so:

[code]

This PR should have updated all references: https://github.com/tensorflow/tensorflow/commit/da0884c7d4e7322f9c8dd9affa816dfce8759488. The new path is:

https://github.com/tensorflow/tensorflow/blob/master/tensorflow/opensource_only/ISSUES.md

[2021-02-11 18:40] rthadur commented on #4658
got it , thank you will update in tfjs , do you want me to update in tensorflow core as well ?

[2021-02-11 18:42] DobryninVyacheslav commented on #4626
I apologize for not answering for so long!

Thank you all for your help.
For now, I'll use @pyu10055 advice.
Hopefully such a layer will be added in the future)

[2021-02-11 18:42] #4626 closed

[2021-02-11 18:52] phoenix-meadowlark commented on #4658
I looked at the internal change and `tensorflow/opensource_only` isn't actually supposed to exist in open source.... How fun. You were already doing the right thing. I'll go fix it.

[2021-02-11 19:03] rthadur commented on #4658
sure , thank you

[2021-02-11 19:25] #4650 closed

[2021-02-11 19:28] vladmandic commented on #4650
thanks!

[2021-02-11 20:47] #4080 closed

[2021-02-11 21:00] #4520 closed

[2021-02-11 22:26] jinjingforever commented on #4525
Hi, Vladimir

Thank you for your patience!

I took a look at this and found that: if I disable simd, the result from WASM backend matches the webgl result. If simd is enabled (with or without multi-threading support), the result is wrong, like you mentioned.

Our code uses different flags/options to build WASM module for different combinations of simd+multi-threading support. At this point it look

[2021-02-11 22:52] mattsoulanille commented on #3861
Should be fixed. You may have to open dev tools, right click reload, and 'empty cache and hard reload' to make sure you get the new version. Also note that the demo has to download ~100Mb of model files before it responds to queries. It should really have a loading bar, but for now you can check the progress in the network panel of the browser developer tools.

[2021-02-11 22:52] #3861 closed

[2021-02-11 23:02] mattsoulanille commented on #4663
Hi @jaygit123,

I was able to reproduce the bug with the files you've shared, but I haven't found the cause yet. I noticed you're using a Graph model, so it's possible this is related to #4579 (although this doesn't seem too likely since I tried the workaround for that issue and it didn't help). I'll try converting to a Layers model to see if that helps, and I'll keep you posted.

[2021-02-11 23:43] phoenix-meadowlark commented on #4658
fixed in https://github.com/tensorflow/tensorflow/commit/556ab089ea32328845cee36c1745aa931d1e88ac

[2021-02-11 23:43] #4658 closed

[2021-02-12 01:21] vladmandic commented on #4525
@jinjingforever thanks for the update

[2021-02-12 01:37] jinjingforever commented on #4525
BTW we further noticed that the wrong results come from some of the "div" nodes. With SIMD enabled, those nodes produce the results with the numerator and the denominator swapped.. I am asking folks from the xnnpack project to investigate further. Thanks!

[2021-02-12 03:00] #4438 closed

[2021-02-12 04:58] SL-CodeBlaster commented on #4669
tfjs is loading successfully. but when i try load posenet model getting above warning

[2021-02-12 13:36] lmiguelmh commented on #4668
Oh, thank you.
I'll do it and keep you guys updated.

[2021-02-12 15:13] jaygit123 commented on #4663
Hi @mattsoulanille ,

Thanks for the update. Let me know if you want me to try any option / fix.
Shall wait to hear from you on the issue & fix, if applicable.

Regards,
Jay

[2021-02-12 17:16] rthadur commented on #4669
Can you please share your code in a GitHub repo , so that we can try on our end. Also please share your system configuration.

[2021-02-12 17:36] gaurav8809 commented on #3186
I'm having an error when call function decodeJpeg(raw)

Error: The passed contents are not a valid JPEG image

![Screenshot 2021-02-12 at 11 03 57 PM](https://user-images.githubusercontent.com/59197887/107801845-a0750180-6d86-11eb-8601-aa5d0799f4c4.png)

[2021-02-12 21:14] fuzzlogdev opened #4676 "tfjs_binding.node can not be found at path "...\@tensorflow\tfjs-node\lib\napi-v5\tfjs_binding.node""
**System information**
Code: Baseball example at **https://codelabs.developers.google.com/codelabs/tensorflowjs-nodejs-codelab**
OS: **Windows 10 Pro 64 bit**
Tensorflow.js version: **"^1.3.2"** (as provided by code sample)
Tensorflow.js: Converter Version:  **NO IDEA** (all initial versions are derived from the sample project)
Node.js version: **12.*** (initially)
Python Version: **2.7.18**
Brows

[2021-02-12 21:19] taposh commented on #4466
@pyu10055  @rthadur any update on this bug !

[2021-02-13 05:31] pyu10055 commented on #4667
Look like it might have been treeshaked, here what I did:

[code]

[2021-02-13 11:18] adotnusiyan commented on #4667
@pyu10055

Thank you. It worked after adding this line
`console.log(tf.engine().backend);`

Could you please explain what does it do?

Is this a temporary fix? Or do I have to always use it before loading the model for version 0.5.1?

[2021-02-13 16:24] haleemik commented on #1945
For Converting Frozen_inference_model.pb to tensroflowjs(model.json) : Please Refer this Link : https://github.com/tensorflow/tfjs-models/blob/master/deeplab/scripts/convert_deeplab.sh

[2021-02-13 16:26] haleemik commented on #1945
tensorflowjs_converter \
    --input_format=tf_frozen_model \
    --output_json=true \
    --saved_model_tags=serve \
    --output_node_names='SemanticPredictions' \
    --quantization_bytes 2 \
    frozen_inference_graph.pb \
    $OUTPUT_DIR

[2021-02-13 18:49] SL-CodeBlaster commented on #4669
it's created with my company framework, i can can share package.json

`{
	"name": "lila-app",
	"version": "1.0.001",
	"scripts": {
		"android": "react-native run-android",
		"ios": "react-native run-ios",
		"metro": "react-native start",
		"web": "expo start --web --config ./app/app.json",
		"start": "expo start --config ./app/app.json",
		"publish": "expo publish --config ./app/app.json",
		"test

[2021-02-13 23:38] lmiguelmh commented on #4668
Ok, I've commit the PR: [Adding a parameter to control the update behaviour of face bounding boxes from previous predictions on face-landmarks-detection](https://github.com/tensorflow/tfjs-models/pull/584). The local tests were successful as can be seen on these images:

[code]

![image](https://user-images.githubusercontent.com/3931964/107864351-66107080-6e29-11eb-8a1e-e6e5914a0791.png)

And this

[2021-02-14 02:19] kiancross opened #4679 "`@tensorflow/tfjs` is missing dependency on `seedrandom`"
**System information**
- TensorFlow.js installed from (npm or script link): `3.0.0`

**Describe the current behavior**

`@tensorflow/tfjs-data` has a peer dependency on `seedrandom`:
https://github.com/tensorflow/tfjs/blob/1612c9a316dd4edeea9c9ef9cd6ab029f43741b5/tfjs-data/package.json#L71

`@tensorflow/tfjs` depends on `@tensorflow/tfjs-data`, but does not provide the `seedrandom` peer dependency

[2021-02-14 04:52] jaygit123 commented on #4663
Hi @mattsoulanille ,
Any updates? Were you able to find the reason for the error? Any fix / workaround?

Regards,
Jay

[2021-02-14 06:20] gaurav8809 opened #4680 "tf.nonmaxsuppression() in webgl locks the ui thread. call tf.nonmaxsuppressionasync() instead"
Getting this warning when using Cocossd in tfjs/react-native

- TensorCamera preview looks laggy for real-time object detection
- Getting only one object in prediction array all time

Please give any solution for smooth camera view and fast object detection through Cocossd

[2021-02-14 06:20] #4661 closed

[2021-02-14 11:51] Shivanshi1 commented on #4648
I have it now but still getting the same error.
  "dependencies": {
    "@tensorflow/tfjs": "^2.8.0",
    "@tensorflow/tfjs-backend-webgl": "^2.8.0",
    "@testing-library/jest-dom": "^5.11.9",
    "@testing-library/react": "^11.2.5",
    "@testing-library/user-event": "^12.6.3",
    "bootstrap": "^4.6.0",
    "react": "^17.0.1",
    "react-bootstrap": "^1.4.3",
    "react-dom": "^17.0.1",
    "re

[2021-02-15 05:03] drubinstein opened #4681 "Unknown op 'SparseTensorDenseMatMul' and 'SparseMatMul'"
**System information**
- TensorFlow.js version (you are using): 3.0.0
- Are you willing to contribute it (Yes/No):

**Describe the feature and the current behavior/state.**
I am trying to convert a TF2 saved model using [sparse_dense_matmul](https://www.tensorflow.org/api_docs/python/tf/sparse/sparse_dense_matmul) (or alternatively [matmul](https://www.tensorflow.org/api_docs/python/tf/linalg/matm

[2021-02-15 05:43] umitkacar commented on #4641
I tried too many times the problem persists. How am I going to do this? Can you help me?

[2021-02-15 06:46] GantMan opened #4682 "Double CSV Load"
The default CSV loader loads each CSV twice.

Example:
[code]

![image](https://user-images.githubusercontent.com/997157/107914018-2af46700-6f27-11eb-8421-f4b880a26167.png)

This is particularly problematic with large CSV files.

[2021-02-15 12:00] #4350 closed

[2021-02-15 13:01] chirva-ivan commented on #4660
@pyu10055

`tf.env().set('WEBGL_PACK', false)`

That helped, thanks a lot!

![001](https://user-images.githubusercontent.com/18259976/107949821-e4dee800-6fa6-11eb-9fac-86040abbd273.png)

Does this option affect performance in any way?

[2021-02-15 13:09] gaurav8809 opened #4683 "Not getting anything as result from facemesh..estimateFaces({input: nextImageTensor}) function in React Native"
Getting 0 length array value from facemesh..estimateFaces({input: nextImageTensor})

- Passing Tensor3D Image as input into the function
- Using TensorCamera as camera and tensor3D type of image

[2021-02-15 14:28] joshuatz commented on #4653
@rthadur I'm running into the same issue as OP, and wanted to try your suggestion, but... am I missing something, or did the posenet package update not get pushed to the NPM registry?

Looking at the last update to the posenet model, the semver was never bumped, and NPM still has the old code. (I don't think this is the only model that has been updated for v3 and not pushed to the registry either

[2021-02-15 15:20] nirchetrit commented on #4641
I have the same exact error when training the model using the object detection API. all works fine right to the point where I convert the model to TFJS.
after loading an image I got the error:
TensorList shape mismatch: Shapes -1 and 3 must match

[2021-02-15 16:32] umitkacar commented on #4641
I've been working for a week. This error appears to be from open source applications that were not in previous versions. I even tried from old models. They are working. But the one I just created doesn't work.

[2021-02-15 16:44] umitkacar opened #4684 "Error: TensorList shape mismatch: Shapes -1 and 3 must match - CONTINUE"
I've been working for a week. This error appears to be from open source applications that were not in previous versions. I even tried from old models. They are working. But the one I just created doesn't work.

This error continues. How do we fix this?

[code]

_Originally posted by @umitkacar in https://github.com/tensorflow/tfjs/issues/4641#issuecomment-779332368_

[2021-02-15 19:27] jameshfisher opened #4685 "Documentation missing for tf.engine().startScope() and tf.engine().endScope()"
I was looking for an equivalent of [`tf.tidy`](https://js.tensorflow.org/api/latest/#tidy) that would work for async code. I eventually stumbled across [`startScope` and `endScope`](https://github.com/tensorflow/tfjs/blob/master/tfjs-core/src/engine.ts#L1031-L1074). For my use-case, these methods seem to work, but they have no documentation or guidance.

What is the recommended way to manage tenso

[2021-02-15 19:29] jameshfisher commented on #4685
I should note, the functions have a comment saying

However, I don't know what this method `scope()` is, either. What is it referring to?

[2021-02-16 01:00] AlexAndrascu commented on #4684
I am getting the same:
[code]

[2021-02-16 11:00] nirchetrit commented on #4684
Same here.
If anyone knows how to fix it, please share

[2021-02-16 11:15] arpu commented on #4656
plz ^^

[2021-02-16 14:12] luke-iqt commented on #4684
The current package on NPM doesn't included this change yet. If you are using NPM or the <script> tag to pull in the package it won't have the change yet. I am not sure how to build and run the packages directly from Github, but if you figure that out, you should be able to try out the fix that has been merged in.

[2021-02-16 14:48] nxtexe opened #4686 "Property 'toFloat' does not exist on type 'Tensor3D'"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow.js):
- Yes
- OS

[2021-02-16 15:22] nxtexe commented on #4656
Wait there was a 0.0.3??? I was getting a huge bug with the npm version that toFloat does not exist on type Tensor3d and it had to do with a line in the package. What's going on?

[2021-02-16 15:53] NaeemKhan333 opened #4688 "Slow Speed of Converted TFJS Model"
I have a question related to tensorflow-Js inferences speed. I have trained a custom u2net model and run the inferences on the video input to trained model.It is giving me 7-10 Fps on cpu device. I have converted this model into tensorflow-Js model, the model is running on the browser but it is giving me 0.5 to 1 Fps on the browser . My converted model have size of 600 kb . It is running fine whil

[2021-02-16 15:58] NaeemKhan333 commented on #4688
Here is my model architecture

https://drive.google.com/drive/folders/1DU0cFue1v6QVb87DM77PfAYI2etqGZAr?usp=sharing

[2021-02-16 16:03] umitkacar commented on #4684
However, older models are working.  This is really interesting.  Where are we doing wrong?

[2021-02-16 16:06] umitkacar commented on #4684
The models we just created do not work.  I think a new update generated such an error while creating the model.

[2021-02-16 17:00] #4622 closed

[2021-02-16 18:00] jaygit123 commented on #4663
Hi @mattsoulanille ,
Any updates?

Regards,
Jay

[2021-02-16 18:46] lina128 commented on #4656
Our team will publish the tfjs 3.x compatible version today. Stay tuned.

[2021-02-16 18:47] rthadur commented on #4014
Closing this due to lack of activity, feel to reopen. Thank you

[2021-02-16 18:47] #4014 closed

[2021-02-16 18:54] nirchetrit commented on #4684
Any chance you can post a link to an SSD MobileNet V2 FPNLite 320x320  model that is working?

[2021-02-16 18:56] AlexAndrascu commented on #4684
I was going to ask the same. Also TF / TFJS versions used when training / exporting the mode would be really useful.
I am now doing a sanity check with a ssd_mobilenet_v2_coco_2018_03_29 on TF1.

[2021-02-16 18:59] nxtexe commented on #4656
🤩

[2021-02-16 19:13] umitkacar commented on #4684
It is working. This is old model.,

https://github.com/hugozanini/TFJS-object-detection/tree/master/models/kangaroo-detector

[2021-02-16 19:17] umitkacar commented on #4684
I shared demo codes.
[code]

[2021-02-16 19:24] umitkacar commented on #4684
Other model is running:

https://github.com/KostaMalsev/ObjectDetection/tree/master/model/mobile_netv2/web_model2

`"format": "graph-model", "generatedBy": "2.3.0", "convertedBy": "TensorFlow.js Converter v2.6.0",`

[2021-02-16 19:40] umitkacar commented on #4684
If you find an improvement, I will be glad if you share.

[2021-02-16 21:00] AlexAndrascu commented on #4684
This is really helpful. Thank you @umitkacar !

Like you, I was also looking at Hugo's repository. Here's another useful repo:
https://github.com/TannerGilbert/Tensorflow-Object-Detection-API-Train-Model

[2021-02-16 21:07] pyu10055 commented on #4284
Better documentation on the warning message, people understand that this is the case for safari.

[2021-02-16 21:10] annxingyuan commented on #4433
Could you please provide the version numbers of other tfjs packages you're using on this page (e.g. tfjs-core, tfjs)? I suspect this has to do with a version mismatch (earlier versions of tfjs-core do not export RealDiv).

[2021-02-16 21:12] rthadur commented on #4667
Here is the link which explains why we need add https://github.com/tensorflow/tfjs/releases/tag/tfjs-v2.0.0

thank you

[2021-02-16 21:12] #4667 closed

[2021-02-16 21:22] luke-iqt commented on #4684
I have a docker container and notebooks for building an objection detection model using TF 2.0 here: https://github.com/IQTLabs/SkyScan/tree/main/ml-model

I have some additional notebooks for converting it to TensorJS.

[2021-02-16 21:24] annxingyuan commented on #4227
Thanks for reporting this @kylemcdonald ! I'm going to close this as a duplicate of https://github.com/tensorflow/tfjs/issues/4218 - which was created 1 day earlier :)

Thanks for the greaat discussion on this issue - this will be a really helpful reference for us!

[2021-02-16 21:24] #4227 closed

[2021-02-16 21:34] annxingyuan commented on #4173
For context: the facemesh pipeline includes two models:
1) Bounding box detection model
2) Geometry detection model

If the face remains in view, we only run (2). If there is no face in view, we only run (1). if the face moves in and out of view, we run (1) followed by (2) over and over. So there is more opportunity for leaks in this case. I'm not sure where the leak occurs exactly, but this is th

[2021-02-16 21:39] rthadur commented on #4688
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow-tfjs) since it is not a bug or feature request. There is also a larger community that reads questions there.

[2021-02-16 21:39] #4688 closed

[2021-02-17 00:09] pyu10055 commented on #4660
@chirva-ivan This is interesting, actually I did not expect this would help. @annxingyuan Seems packing is causing the 0 values in a tensor, any quick thoughts on what could be the reason? thanks.

[2021-02-17 00:53] pyu10055 commented on #4466
Thank you for sharing the colab, I think the input dataset is missing:

[code]

[2021-02-17 01:11] rthadur commented on #4686
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow-tfjs) since it is not a bug or feature request. There is also a larger community that reads questions there.

[2021-02-17 01:11] #4686 closed

[2021-02-17 01:13] rthadur commented on #4684
Latest version has been posted to npm https://www.npmjs.com/package/@tensorflow/tfjs , please check

[2021-02-17 01:14] rthadur commented on #4683
It looks like you haven't used a template to create this issue. Please resubmit your issue using a template from [here](https://github.com/tensorflow/tfjs/issues/new/choose). We ask users to use the template because it reduces overall time to resolve a new issue by avoiding extra communication to get to the root of the issue. We will close this issue in lieu of the new one you will create from the

[2021-02-17 01:14] #4683 closed

[2021-02-17 01:15] rthadur commented on #4681
cc @ping @mattsoulanille

[2021-02-17 01:15] rthadur commented on #4680
It looks like you haven't used a template to create this issue. Please resubmit your issue using a template from [here](https://github.com/tensorflow/tfjs/issues/new/choose). We ask users to use the template because it reduces overall time to resolve a new issue by avoiding extra communication to get to the root of the issue. We will close this issue in lieu of the new one you will create from the

[2021-02-17 01:15] #4680 closed

[2021-02-17 01:17] rthadur commented on #4679
This is a duplicate , here is the similar issue opened to track the same https://github.com/tensorflow/tfjs/issues/3875 , Thank you

[2021-02-17 01:17] #4679 closed

[2021-02-17 01:31] kiancross commented on #4679
@rthadur Are you sure this is the same issue? This is a dependency issue - not a bundling issue.

[2021-02-17 01:33] frankl1 commented on #4653
Hello,
I am facing the same issue. Downgrading tfjs and tfjs-backend-webgl does not fix the problem.
@rthadur  I upgraded tfjs to 3.0.0-rc.1, but I don't know where to find  posenet@3.0.0-rc.1. How did you manage to get that version of posenet ?

[2021-02-17 03:36] pyu10055 commented on #4676
@fuzzlogdev I suspect you don't have python in the system, can you post the output from the following command:
[code]

[2021-02-17 03:47] pyu10055 commented on #4629
@piercus Thank you for thinking about this, I want to make sure I understand your idea, are you suggesting to create a helper method
fn() which takes a function and returns a registered custom layer class instance? This sounds like a great idea, looking forward to your contirbution.

[2021-02-17 03:55] pyu10055 commented on #4600
@jacobchen1 Do you mind providing a simple example to demonstrate your use case? Do you need to output before the last layer?
You can create a new tf.Model instances using the same input as the original model and output of the layer before the last one.

Something like
[code]

[2021-02-17 03:59] pyu10055 commented on #4193
@WenheLI Wenhe, do you think you have the bandwidth to take a look at this? It might be useful for pipcook, basically upgrade tfjs-node from TF 1.15 to TF 2.4.x.  thanks!

[2021-02-17 04:00] lina128 commented on #4656
0.0.3 is published.

[2021-02-17 04:08] pyu10055 commented on #4191
looks like the issue is resolved. closing this.

[2021-02-17 04:08] #4191 closed

[2021-02-17 04:17] nxtexe commented on #4656
Thank you so much. You guys are literal superheroes. 🚀 Love the work you do and keep it up!

[2021-02-17 04:54] caisq commented on #4629
@piercus How do you plan to support serialization / deserialization of such a function layer?

Serialization is an important consideration for saving a model and loading it elsewhere.

[2021-02-17 05:32] umitkacar commented on #4684
I tried it. It is working. Thank you everyone.

Perfect!

https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@3.1.0/dist/tf.min.js

[2021-02-17 06:38] piercus commented on #4629
Thanks for tour feedbacks !

@pyu10055 yes exactly, i was thinking of https://keras.io/api/layers/core_layers/lambda/ for js

@caisq i feel serialization will be a concern yes. When checking at your example on https://gist.github.com/caisq/33ed021e0c7b9d0e728cb1dce399527d , my first guess is
* I was thinking to generate a custom registered class with `cls.className = 'Custom<hash>'` with `hash=sha

[2021-02-17 07:50] SL-CodeBlaster commented on #4669
i have fixed that
but i have new issue now when i access to `model.estimateSinglePose` it's getting undefined

[2021-02-17 07:52] SL-CodeBlaster commented on #4669
i have passed image element like this
[code]

[2021-02-17 09:49] arpu commented on #4656
cool should i post bugs here?

after update i get

[code]

[2021-02-17 10:07] nirchetrit commented on #4684
I've trained SSD MobileNet V2 FPNLite 320x320 model from the Tensorflow object detection zoo using the [object detection API](https://tensorflow-object-detection-api-tutorial.readthedocs.io/en/latest/training.html).
Then converted it to tfjs, and after updating to tfjs 3.1.0 I now have a problem saying:
Cannot read property 'backend' of undefined

Here is both the saved_model after training on two

[2021-02-17 11:47] AlexAndrascu commented on #4684
Same problem here

[2021-02-17 11:57] umitkacar commented on #4684
I examine for you. My model is running.

I converted from your saved model to tfjs-3.1.0. This model is below.

Please try it. If it runs, I will share details. Maybe, there is a convert problem.

https://drive.google.com/file/d/149HMeTsgF0cHHwOOQhNwAsXGSFk-gljg/view?usp=sharing

[2021-02-17 12:14] AlexAndrascu commented on #4684
@umitkacar thanks for getting back. Do you have a repo for the demo app you are testing with ?

[2021-02-17 12:31] umitkacar commented on #4684
[code]

[2021-02-17 12:54] AlexAndrascu commented on #4684
It is possible this might be down to React. Here's a related issue: #4237

I will try with your test code later and get back.

[2021-02-17 13:00] nirchetrit commented on #4684
Thank you all guys for the help!
I will test it later today and share the results.

[2021-02-17 13:02] david942j commented on #4624
Facing the same issue when converting polices trained by tf agents to tensorflowjs models.

[2021-02-17 13:05] umitkacar commented on #4684
#4237 is related to LSTM. Tensorflow Object Detection API doesn't include LSTM layer.

[2021-02-17 13:43] mihaelagrigore commented on #4684
How did you manage to make it work ?
In my case, the 3.1.0 version introduces a new problem 👎🏼

Here's my story. I am following Hugo's tutorial got get a tfjs object detection model starting from a SSD pre-trained (https://blog.tensorflow.org/2021/01/custom-object-detection-in-browser.html).

All goes well until the conversion to tfjs. For the conversion to tfjs, I followed the same steps mentione

[2021-02-17 13:53] umitkacar commented on #4684
Please give me sometime. I'll try this example and get back to you. Everyone is in trouble with this new version. Actually I'm thinking of a video conference to discuss.

[2021-02-17 15:01] domis4 opened #4695 "Error: The Node.js native addon module (tfjs_binding.node) can not be found at path: node_modules/@tensorflow/tfjs-node/lib/napi-v7/tfjs_binding.node."
**System information**
- OS Platform and Distribution : macOS 11.2.1 Big Sur 20D74
- TensorFlow.js installed from: `yarn add @tensorflow/tfjs-node`
- TensorFlow.js version: `3.1.0`

**Describe the problem**

1. create a new node project
2. install tensorflow with `yarn add @tensorflow/tfjs-node`
3. add import or require statement to index.js file
4. receive the error

**Any other info / logs**
reb

[2021-02-17 16:26] #4419 closed

[2021-02-17 16:29] mattsoulanille commented on #4663
Hi @jaygit123,

Sorry for not getting back to you sooner. I've found a workaround, and a likely bug in our graph model runner / converter. If you use a layers model, it should work. [Here's an example using the demo you shared](https://github.com/mattsoulanille/tfjs-translator).

[2021-02-17 16:42] luke-iqt commented on #4684
I tested everything out, and it is working for me. I am using an SSD based Object Detection Model. I used the TF Obj Detect API 2.0 to retrain a MobileNet model. My web app is here:
https://luke-iqt.github.io/SkyScan-Web-App/index.html
And the source code is here:
https://github.com/luke-iqt/SkyScan-Web-App

[2021-02-17 16:47] mattsoulanille opened #4696 "Graph models sometimes behave differently than layers models"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow.js): Yes
- OS Pl

[2021-02-17 17:33] AlexAndrascu commented on #4684
I've managed to get the model imported fine with your app. However no detections / detection boxes are rendered :)

[2021-02-17 17:43] domis4 commented on #4695
i placed the project into my documents folder, where there is no space in the path. That solved the problem.
please fix this bug though

[2021-02-17 18:01] mihaelagrigore commented on #4684
@AlexAndrascu Is my understanding correct that the same tfjs model was not being deployed correctly with Hugo's React app but it works with Luke's app ? Same model, different front end deployment method and it works ?

[2021-02-17 18:03] AlexAndrascu commented on #4684
Indeed that's how it looks like.

[2021-02-17 18:35] luke-iqt commented on #4684
I pulled in some of Hugo's code. I think the only major difference is that he was looking at different Output Tensor Arrays:
I found the Classes, Scores and Boxes in these arrays:
https://github.com/luke-iqt/SkyScan-Web-App/blob/main/src/App.js#L110
I think he was using 4,5,6 in the output array.

My model only had one class. You may need to adjust things. Probably best to put a Breakpoint and exa

[2021-02-17 18:56] umitkacar commented on #4684
I trained Kangaroo dataset again. I used this code below to convert javascript. This model is running my demo code not react. As a results, the model is OK. I think that react is problem. I didn't use react before.
[code]

[2021-02-17 19:06] AlexAndrascu commented on #4684
@luke-iqt this is how my model looks like:

`saved_model_cli show --dir medistats_inference_graph/saved_model/ --all`:

[code]

What I changed on your app:
`classList` to reflect my multiple classes and

[code]

[2021-02-17 19:14] space-pope opened #4704 "Support use in Worklets, specifically AudioWorklets"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow.js version (you are using): 3.0.0
- Are you willing to contribute it (Yes/No): woul

[2021-02-17 19:43] mihaelagrigore commented on #4684
Thank you @umitkacar. I think it's safe to say all goes well with tfjs in 3.1.0 for us now.
We just can't figure out the right way to deploy it in the broswer, I guess -.-

[2021-02-17 19:54] umitkacar commented on #4684
I think the `tfjs-3.1.0` version works fine. However, I have not printed the model outputs on the screen yet. I can share when finished.

[2021-02-17 20:01] luke-iqt commented on #4684
Sorry about that!!
I just pushed some changes to fix the bounding boxes. I think it is better now.
The Web App ran a little older version of the code, so it didn't have that problem.

Try removing the `homepage` line from the package.json
https://github.com/luke-iqt/SkyScan-Web-App/blob/main/package.json#L5
that will let you use the URL localhost:3000/

[2021-02-17 20:04] mattsoulanille opened #4706 "Lint with gts"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow.js version (you are using): N/A
- Are you willing to contribute it (Yes/No): Yes

*

[2021-02-17 22:32] dalelane opened #4709 "Latest version of speech-commands library won't load in browser"
For a simple recreate:
[code]

The browser console shows the error:
[code]

This used to work, and if you pin the speech-commands version you can see earlier versions don't have this problem.

For example, this works correctly
[code]

For real examples of this in the wild, see pages like these:
- https://glitch.com/~abrasive-ixora (cf. https://yashints.dev/blog/2019/12/16/tfjs-transfer-learning )

[2021-02-17 23:05] lina128 opened #4710 "BlazeFace demo freeze with wasm simd option"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow.js): No
- OS Pla

[2021-02-18 00:49] fuzzlogdev commented on #4676
I do have python installed in the system.  The version is 2.7.18 (as
specified when running "> python --version").

The output of npm install @tensorflow/tfjs at the specified folder is:

F:\Projects\Dev\TensorFlow\NodeJs\baseball>npm install @tensorflow/tfjs

*up to date, audited 739 packages in 1s24 packages are looking for funding
run `npm fund` for detailsfound 0 vulnerabilities*

Thanks,

fuz

[2021-02-18 01:00] #4630 closed

[2021-02-18 01:56] WenheLI commented on #4193
Sure. I will take a look this week.

[2021-02-18 02:01] rthadur commented on #4656
Thank you closing this as we have published to npm.

[2021-02-18 02:01] #4656 closed

[2021-02-18 02:02] rthadur commented on #4624
cc @pyu10055 @mattsoulanille

[2021-02-18 02:06] rthadur commented on #4704
cc @pyu10055 @lina128

[2021-02-18 02:08] rthadur commented on #4695
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow-tfjs) since it is not a bug or feature request. There is also a larger community that reads questions there.

[2021-02-18 02:08] #4695 closed

[2021-02-18 04:23] kirill-konshin commented on #3567
@pyu10055 @tafsiri

I don't quite see a resolution here, unfortunately, please consider removing stale mark. We're facing the same issue, `toPixels` function takes a considerable amount of time.

Can someone please explain the difference between

[code]

Superficially there has to be no difference, and the overall time taken should be the same (given that there are no other concurrent operations).

[2021-02-18 05:04] jaygit123 commented on #4663
Hi @mattsoulanille ,

Thanks for the workaround. Shall try out.
Given the small file size of graph model, I would prefer to use the same. So, is there a way to use graph model and still avoid this issue? Maybe change the model arch or avoid certain operations or use a different version of converter, etc.? Do let me know.

Also, let me know if I should log a bug for this problem.

Regards,
Jay

[2021-02-18 14:13] vladmandic commented on #4525
@jinjingforever any update from xnnpack team?
i've chedked xnnpack git repository and there is nothing simmilar mentioned there.

[2021-02-18 15:27] jaygit123 commented on #4663
Hi @mattsoulanille ,

I tried the workaround of using layer model and it worked without the shape error. But the predicted output doesn't make sense to me. Please see the tf prediction and tfjs prediction output below.

**Issues:**
1. tfjs prediction's shape is (80, 23609) whereas tf model's prediction is (80)
2. tfjs prediction values are all float values (it should be embedding array just like t

[2021-02-18 15:39] taposh commented on #4466
The uploaded file gets removed on Colab when runtime is recycled. I will add code to read from my drive.

[2021-02-18 17:14] #4633 closed

[2021-02-18 20:05] ahtrahdis7 opened #4715 "Help wanted in using posenet in React Native."
I am unable to render the skeleton on the actual background image. I tried a lot of different ways to do so. I am currently using <Svg> box as provided by the react native documentation example of posenet, but that is for a small screen and I want to present the posenet on a larger view on the screen.

[2021-02-18 20:32] vladmandic opened #4716 "Error: "Cannot read property '0' of undefined" for texShape"
Somehow `inputInfo.shapeInfo.texShape` is undefined when running inference on `COCO SSD` model on a specific image (and works for 99% of other images)

Actual backtrace is:
[code]

Matching code is in `shader_compiler.js:getPackedSampler1D()`:
[code]

Somehow `inputInfo.shapeInfo` is defined, but does not have a valid `texShape` property.

Unfortunately, entire code is too long to post for quick r

[2021-02-18 20:37] rthadur commented on #4715
In order to expedite the trouble-shooting process, please provide a code snippet to reproduce the issue reported here. Thanks!

[2021-02-18 21:51] JoaoSisanoski commented on #4684
I was having the same issue and I got it working after I decided to not use the tensorflowjs_wizard and run the `tensorflowjs_converter` straight away and it did work fine after that.  I noticed that tensorflowjs_wizard adds an extra argument to the conversion. `--control_flow_v2=True` and for some reason, it was causing the issues for me

[2021-02-18 22:45] lina128 commented on #4641
This issue is resolved in https://github.com/tensorflow/tfjs/pull/4657 , which is released in 3.1.0, please try the latest version.

[2021-02-18 22:50] lina128 commented on #4684
Hi @JoaoSisanoski , can you try converting with the wizard and use 3.1.0 to run the model? If control_flow_v2=true, then it will use TensorList, which is the issue reported here. It is fixed in version 3.1.0.

[2021-02-19 00:07] JoaoSisanoski commented on #4684
I did that. When I was using the control_flow_v2=true I was getting: `Cannot read property 'backend' of undefined`.

It doesn't matter if running via tag script, react, npm...

I will try later tonight the imports suggested up here and I will let you know if it fixes the issue I was having.

[code]

[2021-02-19 00:29] #4709 closed

[2021-02-19 00:36] pyu10055 commented on #4709
@dalelane Thank you for reporting this bug, new build 0.5.2 has been release, I have checked some of the website, they seems to be working as expected.

[2021-02-19 04:14] #4621 closed

[2021-02-19 06:32] ahtrahdis7 commented on #4715
https://github.com/tensorflow/tfjs/blob/master/tfjs-react-native/integration_rn59/components/webcam/realtime_demo.tsx

The code provided here does not work well enough. Skeleton visualisation is not good ( it does not plot the points where they belong. there is always some displacement of the skeleton during visualization. I am using a 256x300 tensor[widthxheight] for visualization.

[2021-02-19 09:50] umitkacar commented on #4684
I also checked `control_flow_v2=true` using `tensorflowjs_wizard`. There is an error:

`Uncaught (in promise) TypeError: Cannot read property 'backend' of undefined` (tfjs-3.1.0)

[2021-02-19 10:01] dalelane commented on #4709
@pyu10055 Fantastic - thanks for fixing it so quickly!

[2021-02-19 15:28] mattsoulanille commented on #4663
Hi @jaygit123,

When I look at the saved keras model in python, I see the following output shape:
[code]
This seems to match the tfjs layers output shape. I'm using the model file shared via the Drive link you posted above. Is that the right one?

[2021-02-19 16:35] VernengoSimone commented on #4641
I tried the latest version
`
$ yarn list --depth 0
yarn list v1.22.5

├─ @tensorflow-models/coco-ssd@2.2.1
├─ @tensorflow/tfjs-backend-cpu@3.1.0
├─ @tensorflow/tfjs-backend-webgl@3.1.0
├─ @tensorflow/tfjs-converter@3.1.0
├─ @tensorflow/tfjs-core@3.1.0
├─ @tensorflow/tfjs-data@3.1.0
├─ @tensorflow/tfjs-layers@3.1.0
├─ @tensorflow/tfjs@3.1.0
├─ test-ssd@1.0.0

`

[2021-02-19 16:40] VernengoSimone commented on #4641
I checked my tensorflow version, still have this issue

`
yarn list v1.22.5

├─ @tensorflow/tfjs-backend-cpu@3.1.0
├─ @tensorflow/tfjs-backend-webgl@3.1.0
├─ @tensorflow/tfjs-converter@3.1.0
├─ @tensorflow/tfjs-core@3.1.0
├─ @tensorflow/tfjs-data@3.1.0
├─ @tensorflow/tfjs-layers@3.1.0
├─ @tensorflow/tfjs@3.1.0

Done in 2.02s.
`

[2021-02-19 19:31] jaygit123 commented on #4663
Hi @mattsoulanille
Yes, it's the same model I shared with you.
If you check the output of that model, you will see it generates proper predictions as array of int numbers which refer to the index of those words in word embedding.
But in case of tfjs model, the output is a matrix of 80, 23609 filled with float values.
Hence my question about any model conversion issue or my misinterpretation of pre

[2021-02-19 19:55] dalelane opened #4719 "speech-commands demo failing with large training sets - with "TypeError: n.array is not a function""
I'm loading speech-commands from npm, using version 0.5.2.

If I revert to 0.4.2, I don't see the error shown below, so this looks like a recent regression. (Could it be a build problem, similar to the one fixed in https://github.com/tensorflow/tfjs/issues/4709 ?)

### When do I get the error?

When I call `transferRecognizer.train`

You can see an example of what I'm doing at https://github.com/t

[2021-02-19 21:24] mattsoulanille commented on #4663
Hi @jaygit123
Maybe I'm running your model incorrectly. When I run `model.predict()` in tf, it gives me an output shape of `(1, 80, 23609)` filled with `float32`s. How are you running the model in tf?

[code]

[2021-02-19 23:52] lina128 commented on #4684
Hi @JoaoSisanoski and @umitkacar , do you mind sharing your code and model?

[2021-02-20 03:00] Kevin-1993-35 opened #4720 "the speed is too slow"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow.js):
- OS Platfo

[2021-02-20 03:18] jaygit123 commented on #4663
Hi @mattsoulanille ,

Please use/ refer the notebook I had shared to see how I am using the keras model.

Regards,
Jay

[2021-02-20 07:43] taposh commented on #4466
@pyu10055  code in colab is updated to read file directly from github. You will need to pass to tensorflow converter the file name manually since its on command/shell as opposed to in python.

[2021-02-20 13:22] vladmandic commented on #4166
just to confirm, issue is pretty much the same in `tfjs` 3.1.0 as it was with `tfjs` 2.7.0 when i reported it,
just the message changed from
`
Error: Failed to compile fragment shader.
  (webgl_util.js:82)
`
to
`Error: Failed to link vertex and fragment shaders.
    (webgl_util.js:117)
`

[2021-02-20 18:10] vladmandic commented on #4716
update with backtrace using non-minified code:
[code]

[2021-02-20 22:35] JoaoSisanoski commented on #4684
Hi @lina128 I will be providing one dummy one shortly as I can't publish the one I am working on at the moment.
Another thing that I noticed is that the `Uncaught (in promise) TypeError: Cannot read property 'backend' of undefined` error only comes up if I wrap my function around a `tf.startScope` and `tf.endScope`
eg:
[code]
an exception is thrown.

[code]

No exception, but I would need to manag

[2021-02-20 22:57] JJwilkin commented on #2000
I'm running into the same issue

[2021-02-21 12:48] jumrz commented on #4317
Hello,

I'm a user of tf-node-gpu on Win10 since long time ago and I was playing with a NVIDIA 980TI.
I really enjoyed it, so thank you very much for making it possible !

I recently sold my card to get a more powerful RTX 3070 (only for that) and today, I realize that I can't get tensorflow nodejs+cuda working anymore, cause it requires cuda11... while tfjs-node stayed stuck with cuda 10.0.

(I n

[2021-02-21 13:43] lucnat commented on #2000
@rasikanavarange @JJwilkin This is fixed in more recent versions of tfjs. Consider updating.

[2021-02-21 14:05] JJwilkin commented on #2000
@lucnat I still get the Unknown Layer: KerasLayer with version 3.1.0  which appears to be the most recent

[2021-02-21 16:31] js08 opened #4721 "prices data model"
Hi,

I am trying to apply AI and ML algorithms in my data, there are hundred thousand stores with competitors, where gas prices changes 15 minutes once.
Assume in each city if I have my own gas station and how should I give my prices so that more customers come to my store.

Can we apply AI for my above logic. If so can we do a poc in codesandbox using tensor flow and react native

https://codesan

[2021-02-22 12:52] bebensiganteng opened #4724 "Built in image decoder for note js."
**System information**
- Operating system: macOS
- TensorFlow.js version (you are using): 2.8.6
- Are you willing to contribute it (Yes/No): No

**Describe the feature and the current behaviour/state.**
A built-in image decoder for node js. At the moment image needs to be decoded through node-canvas, which is extremely slow for real-time detection.
[code]

**Will this change the current api? How?*

[2021-02-22 17:51] fneubaum-sulvo opened #4725 "tensorflowjs_converter: Add Support for Operations used by BigQuery ML models"
**System information**
- TensorFlow.js version (you are using): 3.1.0 (version 2.4.1 of tensorflow)
- Are you willing to contribute it (Yes/No): I'm not familiar enought with this or tensorflow's codebase so I don't think I could write the code to fix this issue. But I think I can contribute in anything else you need, like testing, reviewing the code or giving more context.

**Describe the feature

[2021-02-22 18:10] JJwilkin opened #4726 "cameraWithTensor Component does not allow Expo Camera Methods"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow.js):No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Mac Os Catalina 10.15.7
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: any device
- TensorFlow.js installed from (npm or script link): npm
- TensorFlow.js version (us

[2021-02-22 18:27] mirrorlink commented on #4177
@PINTO0309 hey, can I use this model 082_MediaPipe_Meet_Segmentation without mediapipe? using a normal tflite implementation?

[2021-02-22 18:33] rthadur commented on #4720
@Kevin-1993-35 can you try with latest version 3.0.0-rc.1 ? and please let us know which announcement you are referring to ?

[2021-02-22 18:45] lina128 commented on #4684
Hi @JoaoSisanoski , that makes sense. If you use executeAsync, tidy/startScope,endScope doesn't work, which only work for synchronous code. For async execution, you need to manage the tensors yourself.

[2021-02-22 18:48] rthadur commented on #4721
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow.js) since it is not a bug or feature request. There is also a larger community that reads questions there.
You can try  checking https://github.com/tensorflow/tfjs-examples to see if any examples is relevant to your requirement. Thank you

[2021-02-22 18:48] #4721 closed

[2021-02-22 22:58] JJwilkin opened #4727 "Allow tf.node.encodeJpeg to accept other tensor 3D types (Int32)"
**System information**
- TensorFlow.js version (you are using): 2.8.6
- Are you willing to contribute it (Yes/No): Yes

**Describe the feature and the current behavior/state.**
Currently the [tf.node.encodeJpeg()](https://js.tensorflow.org/api_node/3.1.0/#node.encodeJpeg) method only accepts Uint8 Tensor3D as input. This is incovenient as many of the tensors generated by images or the [ react-nati

[2021-02-22 23:22] rthadur commented on #4725
cc @pyu10055

[2021-02-22 23:24] rthadur commented on #4727
cc @pyu10055 @lina128 @mattsoulanille

[2021-02-23 04:35] jinjingforever commented on #4525
(sorry, I was on vacation last week)

Today we figured out that the error was caused by out-of-date xnnpack+emscripten. I am in the process of updating our toolchain to the latest xnnpack and emscripten. Hopefully it can be done this week. Thanks!

[2021-02-23 07:01] xilanhuaweidapao opened #4729 "IndexError: list index out of range when converting keras_saved_model to tfjs_layers_model"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): windows
- TensorFlow.js installed from (npm or script link): pip
- TensorFlow.js version (use command below): 3.0.0
- TensorFlow version: 2.4.1
- python version 3.8.5

**Standalone code to reproduce the issue**
tensorflowjs_converter --input_format=keras_saved_model --output_format=tfjs_layers_model --saved_model_tag

[2021-02-23 14:03] jaygit123 commented on #4663
Hi @mattsoulanille ,

Hope you were able to check the notebook for usage of keras model. Any update on why the tfjs converted model is returning float values?

Regards,
Jay

[2021-02-23 15:39] SukkaW opened #4731 "tfjs-converter fail to convert fronzen_model"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.0.4
- Mobile device

[2021-02-23 17:33] mattsoulanille commented on #4663
Hi @jaygit123,

I took a look at your notebook, and it looks like you're using `predict_classes` (instead of `predict`), which returns the highest-scored output class instead of an array of the output class scores. That's why you're getting an output shape of (1, 80) of integers corresponding to the class instead of (1, 80, 23609) of floats corresponding to class weights. I don't think tfjs has `p

[2021-02-23 17:47] JJwilkin commented on #633
@swimauger This is really great, thank you for contributing these two packages! I was wondering for the image-classifier package, does it use MobileNet under the hood for feature extraction and the package you provide simply wrapping the mobilenet + KnnClassifier so it can take a jpg/png image as input?

[2021-02-23 18:06] mishan commented on #2043
@mianaliasjad from my (very limited) experience, BodyPix seems to perform more accurately

[2021-02-23 18:15] rthadur commented on #4731
does this error occur while loading model ? if yes , can you please share reproduction code ?

[2021-02-23 18:34] SukkaW commented on #4731
No. I am using tfjs converter cli thus I don't know if the cli was loading model. Also since I am using cli, I don't have any reproduction code. @rthadur

[2021-02-23 20:12] kirill-konshin opened #4732 "Failed to execute clientWaitSync"
**System information**

- Have I written custom code (as opposed to using a stock example script provided in TensorFlow.js): **yes**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): **Ubuntu 20.04.1 64 bit (kernel 5.8.0-43), GeForce GTX 980 Ti**
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: n/a
- TensorFlow.js installed from (npm or scrip

[2021-02-23 21:55] lina128 commented on #4716
Hi @vladmandic Can you share the image with us? Can we reproduce it with tfjs coco ssd model?

[2021-02-23 21:56] lina128 commented on #4685
Hi @jameshfisher For async code, you need to manually dispose the tensors.

[2021-02-23 22:26] lina128 commented on #4682
Hi @GantMan can the second one be from the browser cache? Also, can you check whether both have response body?

[2021-02-23 23:21] vladmandic commented on #4716
@lina128 seems that root cause is another model (custom one) and the fact that coco ssd model runs concurrently is pretty much a timing thing. the custom model definitely experiences this problem, like i said about 1 image in every 500 so far.

if you're willing to dig deeper, i can create a test project and upload that custom model with it (it's about 72mb quantized to f16).

[2021-02-23 23:39] swimauger commented on #633
@JJwilkin precisely!

[2021-02-24 00:35] lina128 commented on #4574
Hi @pyu10055 I ran the jsfiddle, the normalized tensor has all the values, so I'm guessing it's a window specific issue. Can you check on a Windows machine?

[2021-02-24 00:37] jc65536 commented on #4312
@dabass51 could you tell me where you got the modelJson and modelWeights files? Thanks :)

[2021-02-24 01:10] #4311 closed

[2021-02-24 01:10] #4525 closed

[2021-02-24 01:10] #4710 closed

[2021-02-24 03:17] vladmandic commented on #4326
likely fixed via #4730, awaiting confirmation

[2021-02-24 05:23] axinging opened #4734 "[webgpu] NaN is not supported in webgpu backend"
Currently, NAN is not supported in WebGPU backend:
https://gpuweb.github.io/gpuweb/wgsl.html#floating-point-evaluation.

This may result in cases using NaN(in glsl shader) fail.

[2021-02-24 06:09] lina128 commented on #4326
We are doing the release tomorrow morning, stay tuned.

[2021-02-24 09:59] nikhilparmar commented on #4641
I am still having the issue despite having the version 3.1.0.
Please help.
Thanks

[2021-02-24 12:48] #4729 closed

[2021-02-24 17:34] Pita commented on #3820
I also have issues with the preproc model producing NaNs on certain inputs, even with the example inputs. This is making training very hard. Would like to know as well how the preproc model was produced to find the mistake there

[2021-02-24 17:56] adotnusiyan opened #4736 "speech-command playRawAudio plays blank audio"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow.js): No
- OS Platform and Distribution: Windows10
- TensorFlow.js installed from: npm
- TensorFlow.js version: 3.2.0
- speech-command version: 0.5.2
- Browser version: Version 88.0.4324.192 (Official Build) (x86_64)

**Describe the current behavior**
I'm trying to use [playRawAudi

[2021-02-24 18:11] lina128 commented on #4641
@nikhilparmar Can you share your code and model or steps to produce? Thank you.

[2021-02-24 19:56] fneubaum-sulvo commented on #4725
@rthadur @pyu10055
I have been familiarizing myself with the library. I'll try adding at least LookupTableSizeV2 and StringToHashBucketFast myself.

I'll start with LookupTableSizeV2. I think this only requires returning the size of the Hash Table and should be pretty similar to other operations like LookupTableFind. Do you think this approach is OK? Do you agree on adding those operations?

I rea

[2021-02-24 20:04] jaygit123 commented on #4663
Hi @mattsoulanille

Thanks for the input.
As suggested, I have used tf.argMax(prediction, 2) on the output of `predict()` method, to get each class with the highest prediction score in (1, 80, 23609) output. But, still I see a different output from tfjs model than that of the keras model.

Input tensor (shape: 1, 109): [[3, 160, 6, ..., 0, 0, 0],]
Output tensor of Keras model's `predict_classes()

[2021-02-25 05:49] JJwilkin commented on #3884
@tafsiri  Hi, thanks for addressing this issue, as I was running into as well. I was working to access the live frames as jpg for OCR purposes, but after decode the tensor into a jpg, found the image quality to be dramatically reduced. My partner had created a stack overflow question detailing this: https://stackoverflow.com/questions/66357352/tensor-to-jpeg-improve-quality

[2021-02-25 09:33] arpu commented on #4548
@lina128 would be nice to have  3.2.0 builds on npm

[2021-02-25 13:19] vladmandic opened #4745 "tfjs-backend-wasm 3.2.0 additional undocumented dependencies"
upgrading from tfjs 3.1.0 to tfjs 3.2.0

when including `@tensorflow/tfjs-backend-wasm` and running through bundler,
it used to have following external dependencies: `['fs', 'buffer', 'util']` which had to be accounted for (meaning marked as excluded or external) in bundler configuration for browser target

but now, it has extra dependency `'os'` that comes from `node_modules/@tensorflow/tfjs-back

[2021-02-25 13:53] vladmandic commented on #4326
upgraded to tfjs 3.2.0 and confirmed as resolved - `wasm` backend now returns same results as `webgl` backend when used for model training.

[2021-02-25 13:53] #4326 closed

[2021-02-25 14:28] vladmandic opened #4746 "tfjs-vis not compatible with tfjs 3.1.0 and higher"
regression in tfjs 3.1.0 cannot create sequential model

when importing tfjs using
[code]
and running through a bundler (`esbuild`)
it fails to add layer to sequential model:
[code]

error backtrace using tfjs 3.2.0 (error is same in tfjs 3.1.0 but line numbers may change):
[code]

environment: tfjs 3.1.0 or 3.2.0 on chrome 88
reproduction code: <https://github.com/vladmandic/stocks>
error is same

[2021-02-25 16:35] mattsoulanille commented on #4663
The predictions should be the same, but I was able to reproduce this locally as well (and with different tfjs backends). I'll update you when I've found out more.

[2021-02-25 17:00] jaygit123 commented on #4663
Hi @mattsoulanille ,
Thanks for the update. Will wait to hear from you.
Just to confirm...using tf.argMax() is ok right?

Regards,
Jay

[2021-02-25 17:14] denys-havryliv commented on #4653
Hello,

Have the same issue. PoseNetJS (intermediate value)(intermediate value).resizeBilinear is not a function. Can you please investigate the problem? I have used the latest packages and I think the problem is in the package posenet(which was not updated on npm(.2.1 • Public • Published a year ago). Built project from demo works fine, but if you install via npm without yarn yalc, the code does

[2021-02-25 17:16] mattsoulanille commented on #4663
Using [`tf.argMax`](https://js.tensorflow.org/api/latest/#argMax) should be fine. I've found a difference in what `model.predict` returns before running argMax on it, so there's definitely something wrong here. Might be a converter bug.

I took a look with [Netron](https://github.com/lutzroeder/netron) at the keras model file and the layers converted model files, and it looks like some of the step

[2021-02-25 17:32] kvntzn commented on #3634
@cespon were you able to resolve the issue ?

[2021-02-25 18:35] jaygit123 commented on #4663
@mattsoulanille , I too thought about it being converter bug...so wondering if trying with a different version of converter will reveal something...what do you say?

I have added you to a private repo. Please upload the screenshot there.

Regards,
Jay

[2021-02-25 18:37] frankl1 commented on #4653
After many searches and tries of different versions, it is working for me now with the latest version on npm. I cannot explain what happened.

Here are my dependencies:
@tensorflow-models/posenet": "^2.2.1",
@tensorflow/tfjs-backend-webgl": "^2.8.6",
@tensorflow/tfjs-node": "^2.8.6",

[2021-02-25 19:12] vladmandic commented on #4716
i've created a self-contained minimal repository containing reproduction code, test images (one ok and one producing error) and model itself: <https://github.com/vladmandic/tfjs-error-test>

[2021-02-25 20:51] mattsoulanille commented on #4663
@jaygit123 I converted the model using version 3.1.0, which is up-to-date with 3.2.0 (3.2.0 didn't have any converter commits). I could try with an earlier version to see if there are any differences.

I've uploaded the Netron screenshot to the repo.

[2021-02-26 00:54] rthadur commented on #4484
Package.json is updated with latest version , this should be fixed now.Thank you

[2021-02-26 00:54] #4484 closed

[2021-02-26 01:01] rthadur commented on #4731
It is hard for us to reproduce with out sample code  or steps which you are following .
Note : Frozen models conversion may not work well with latest version.

[2021-02-26 01:02] rthadur commented on #4732
@kirill-konshin it is very hard for us to help with out reproduction code. Are you trying to load in web worker ?

[2021-02-26 01:05] rthadur commented on #4724
Decode image for Node is already implemented here https://github.com/tensorflow/tfjs/blob/master/tfjs-node/src/image.ts#L155 , please verify

[2021-02-26 01:07] rthadur commented on #4510
There is already issue opened here https://github.com/tensorflow/tfjs/issues/4193 for the same request, will close this and track at one place , thank you

[2021-02-26 01:07] #4510 closed

[2021-02-26 01:30] kirill-konshin commented on #4732
@rthadur yes, the code is in web worker.

[2021-02-26 04:26] xlpiao opened #4751 "How to build tfjs locally ?"
**System information**
- OS Platform and Distribution: Linux Ubuntu 18.04

**Describe the problem**
- I modified some files under directory of `tfjs` and `tfjs-backend-webgl` and I wanna build it. Is there a script to build  `tfjs`  ?
- Do I have to add a new webpack and add some rules there?

Thanks

[2021-02-26 05:20] lina128 commented on #4746
Hi @vladmandic , decComplexRef is removed in 3.2.0. A quick search of the repo shows no occurence of it in our codebase. Can you rm -rf dist node_modules yarn.lock and yarn install everything again? It's most likely cached install.

[2021-02-26 09:57] jaygit123 commented on #4663
@mattsoulanille Thanks for the Netron screenshot...I too am not seeing any difference between the models.

BTW, I had used converter v 3.0.0.

Do you have any specific earlier version of converter in mind for checking? Let me know, so I can also check.

Regards,
Jay

[2021-02-26 12:12] vladmandic commented on #4746
ah, found it: latest `tfjs-vis` is still built against older `tfjs`,
so if its loaded it causes tfjs version conflict and results in this error

changing title to `tfjs-vis not compatible with tfjs 3.1.0 and higher`

[code]

[2021-02-26 12:32] vladmandic commented on #4751
not an official way, but my quick hack:
[code]

[2021-02-26 15:34] fneubaum-sulvo commented on #4725
@rthadur @pyu10055
[This PR](https://github.com/tensorflow/tfjs/pull/4755) adds one of the operations I mentioned previously. I haven't signed the CLA on behalf of my employer yet but will do it soon. I'd appreciate your review. Thanks in advance!

[2021-02-26 17:35] pyu10055 commented on #4732
@kirill-konshin Here is an [simple example](https://codepen.io/pyu10055/pen/LYbQdMj) of running tfjs in webworker, it tries to download the tensor from webgl backend, it did not encounter the fencing error.
Can you try to create a reproducible example based on that? thanks.

[2021-02-26 17:39] pyu10055 commented on #4725
@fneubaum-sulvo Thank you, will review the PR.

[2021-02-26 18:10] pyu10055 commented on #4719
@dalelane Thank you for the detail debugging session, I think it is the build error where the tfjs-data package is not indexed properly.

[2021-02-26 18:15] pyu10055 commented on #4719
@dalelane Thank you for the detailed debugging session, this seems to be kinda weird, the tfd (tfjs-data) object seems to become tfjs-core. Is it possible for you to create a codepen example of this? thanks!

[2021-02-26 19:35] cespon commented on #3634
I couldn't find a native solution for NodeJS. Intel Celeron J3455 doesn't support AVX instructions, so I searched for a solution for no-AVX processors. After some days searching, I found [tensorflow-windows-wheel](https://github.com/fo40225/tensorflow-windows-wheel) for Python.

I use [this wheel](https://github.com/fo40225/tensorflow-windows-wheel/tree/master/1.15.0/py37/CPU%2BGPU/cuda101cudnn76s

[2021-02-26 21:15] dalelane commented on #4719
Not easily, sorry.

But essentially I'm just doing this:

[code]

[2021-02-27 00:58] ruisebastiao opened #4758 "memory leak using decodeImage"
Ubuntu 20.04.2 LTS, @tensorflow/tfjs-node": "^3.2.0"

Issue
memory leak using decodeImage

code:

[code]

Output:
[code]

**EDIT**

It seems that the leak happens in node versions 14.x and 15.x, i tested in verison 12.x and there is no leak.

[2021-02-27 01:35] #4719 closed

[2021-02-27 01:42] pyu10055 commented on #4719
@dalelane Please verify with the new release 0.5.3, thanks.

[2021-02-27 09:51] joonoro opened #4759 "arraySync gets tripped up by complex numbers"
**System information**
Using Tensorflow JS 3.2.0 in NodeJS v15.5.0, MacOS 10.15.7 (19H512)

**Describe the current behavior**

Running the below code produces the error:

[code]

**Describe the expected behavior**

The code should return a 2-dimensional array of size 32800.

**Standalone code to reproduce the issue**
[code]

**Other info / logs**

Tensor info after running stft:

[code]

[2021-02-27 10:08] joonoro commented on #4759
Ok I think I see what's going on, it's having trouble with the real and imaginary parts of the complex number right?

[2021-02-27 10:13] joonoro commented on #4759
Well, in my case I can solve this because I need to run `abs()` on my Tensor anyways which gets rid of the imaginary part.

[2021-02-27 11:47] joonoro commented on #4759
Ok so, after reading a bit more I'll summarize:

When complex64 was added (https://github.com/tensorflow/tfjs/issues/565), it was decided that dataSync should return both parts of the complex number. That's why the array returned by dataSync is twice as big.

However, when arraySync was added this wasn't taken into account, which is why it prints an error. It's trying to fit the bigger array into

[2021-02-27 13:13] dalelane commented on #4719
@pyu10055 That seems to have done the trick - thanks!

[2021-02-27 14:46] ahtrahdis7 opened #4760 "Detecting texture dimensions while using Expo Camera ( it is not supported currently )"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow.js version (you are using):
- Are you willing to contribute it (Yes/No):

**Describ

[2021-02-27 18:15] Diabl0269 commented on #4625
I am having getting the same error described in this post, only that I am not using electron.
I get the `symlink ./lib/napi-v7 failed: null` error when trying to install the package.
I want to check this solution but I don't understand where is the 'deps/lib' folder should be located.

[2021-02-27 18:49] Diabl0269 opened #4761 "symlink ./lib/napi-v7 failed: null"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution : Windows 10  home
- TensorFlow.js installed from (npm or

[2021-02-27 19:21] rthadur commented on #4760
cc @mattsoulanille

[2021-02-28 00:32] proton9 opened #4762 "Existing trained models not classifying cases of severe toxicity. (Toxicity classifier)"
The sample text in question which did not get flagged as severe toxic
![3333](https://user-images.githubusercontent.com/24552372/109404229-f30b0c00-7989-11eb-98c1-20d1c3099dd7.PNG)

https://twitter.com/Twictator/status/3315018819

I'm making a simple app that feeds a list of tweets to the classifier to help with my learning.
I only just started with machine learning and haven't yet reached the tra

[2021-02-28 03:33] amicotin opened #4763 "In EXPO load coco-ssd model speed very slow"
Hello, I'm running a demo test in expo, but I found coco-ssh model loading is really slow or nothing happens. By the way I'm in China, is it caused by internet restrictions? Please give some help, thanks.
this.model = await cocossd.load() // loading, no response

My code:
import React from 'react'
import {
StyleSheet,
Text,
View,
ActivityIndicator,
StatusBar,
Image,
TouchableOpacity
} from 'react-

[2021-02-28 04:00] LPugens commented on #4625
@Diabl0269  The deps folder of the package is located at `.\node_modules\@tensorflow\tfjs-node\deps` for local installations.

[2021-02-28 13:49] vladmandic opened #4764 "model converted with tensorflowjs_convert fails with webgl backend due to use of Infinity constant"
I've converted Places365 from Caffe model (GoogleNet variation) to TF saved model using MMDNN and then to TFJS graph model using tensorflowjs_convert
(if needed, I can post actual conversion code or the model itself)

Resulting graph model works fine with tfjs-node (fully tested) and `wasm`, but fails in browser using `webgl` backend:

error occurs during call to `predict()`:
[code]

with actual e

[2021-02-28 13:52] vladmandic opened #4765 "wasm backend does not implement kernel LRN"
attempting to run places365 model, googlenet variation
converted from caffe -> tf saved -> tfjs graph fails using `wasm` backend:

[code]

same graph model works fine in nodejs using `tensorflow` backend.

[2021-02-28 15:05] vladmandic opened #4766 "Backend WASM does not implement kernel ResizeNearestNeighbor"
attempting to run nudenet model using `wasm` backend
converted from tf saved to tfjs graph using tensorflowjs_convert:

[code]

same model works fine using `weblgl` backend

as per #4386 it has been implemented, but it seems it was implemented for `cpu` backend only although title specifies `wasm`?

environment: tfjs 3.2.0 on chrome 88 on ubuntu 20.10

[2021-02-28 15:58] Diabl0269 commented on #4625
Thanks.

In my case I haven't been able to install the package so I guess this a different issue, which I already asked about in a new thread.

[2021-02-28 16:58] RobinDeBaets commented on #4653
Having the same problem over here.

[2021-03-01 10:20] hentschelpatrick commented on #4653
same problem with

"@tensorflow-models/posenet": "^2.2.1",
"@tensorflow/tfjs-backend-webgl": "^3.2.0",
"@tensorflow/tfjs-converter": "^3.2.0",
"@tensorflow/tfjs-core": "^3.2.0",

[2021-03-01 14:37] vladmandic commented on #4764
Update:

I've worked around the issue by modifying model code from
[code]
to:
[code]
where `-3.4028235e+38` is value of `-tf.float32.max`

Now converted model works with with TFJS WebGL backend
But this should really be handled by TFJS itself as in many cases model code is not available

[2021-03-01 16:24] jaygit123 commented on #4663
@mattsoulanille , any updates on this?

Regards,
Jay

[2021-03-01 22:44] pyu10055 commented on #4761
@Diabl0269 thank you for reporting, can you share the complete log: C:\Users\dark_\AppData\Roaming\npm-cache_logs\2021-02-27T18_45_25_103Z-debug.log

[2021-03-01 23:32] Diabl0269 commented on #4761
@pyu10055 Here is the complete log:
`0 info it worked if it ends with ok
1 verbose cli [
1 verbose cli   'C:\\Program Files\\nodejs\\node.exe',
1 verbose cli   'C:\\Program Files\\nodejs\\node_modules\\npm\\bin\\npm-cli.js',
1 verbose cli   'install',
1 verbose cli   '@tensorflow/tfjs-node'
1 verbose cli ]
2 info using npm@6.14.11
3 info using node@v14.15.5
4 verbose npm-session 8a4217589770df70
5

[2021-03-02 03:05] xlpiao commented on #4751
@vladmandic  Thanks for your reply. I followed above commands. Error happens when  `yarn  run build-deps` is executed. I think this is something related to node or tsc, but I'm not quite sure. By the way, I am building tfjs-v2.8.4 tag version.

--- error message:
[code]

[2021-03-02 03:23] rthadur commented on #4766
cc @lina128 @pyu10055 @mattsoulanille

[2021-03-02 03:23] rthadur commented on #4765
cc @pyu10055 @lina128 @mattsoulanille

[2021-03-02 04:32] zholmes1 commented on #4514
Just chiming in - I wasn't able to get tfjs/node working on my M1. The moment I import '@tensorflow/tfjs-node', node just quits out with no error message.

[2021-03-02 06:05] tobias7an commented on #4761
I am experiencing the same issue. Installation of @tensorflow/tfjs-node@latest fails with the exact same console output on Windows 10 Pro, npm@6.14.8 with the following node versions:
node@v10.22.1
node@v12.21.0
node@v14.16.0

Using an elevated command prompt did not alter the outcome.
Attempting installation of @tensorflow/tfjs-node@3.1.0 did not alter the outcome.

However, installation of @tens

[2021-03-02 09:28] bebensiganteng opened #4768 "Inconsistent behaviour across macOS when using WebGL backend"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow.js): Most were derived from the example.
- OS Platform: macOS Catalina, Macbook Pro 2018
- TensorFlow.js installed from (npm or script link): npm
- TensorFlow.js version (use command below):

[code]

- Browser version: Chrome Version 88.0.4324.192 (Official Build) (x86_64)
- Tenso

[2021-03-02 15:46] annxingyuan commented on #3835
Hi @wakoan - I think we discussed this at some point - and you showed me your team's solution to this problem. Would you mind transferring context to @lina128 ? Thank you!

[2021-03-02 15:48] annxingyuan commented on #4095
Closing as this has been completed!

[2021-03-02 15:48] #4095 closed

[2021-03-02 15:53] annxingyuan commented on #2821
Hey @mattsoulanille ! For context, this would be used in places like https://github.com/tensorflow/tfjs-models/blob/master/face-landmarks-detection/src/mediapipe-facemesh/index.ts#L320

[2021-03-02 15:57] annxingyuan commented on #3106
This has been added.

[2021-03-02 15:57] #3106 closed

[2021-03-02 17:08] rthadur commented on #4768
@bebensiganteng thank you for reporting , same issue has been tracked here , please check https://github.com/tensorflow/tfjs/issues/4284 .

[2021-03-02 17:08] #4768 closed

[2021-03-02 17:10] mattsoulanille commented on #4668
Bumping to keep this open. There appears to be a discrepancy between tfjs's implementation of face landmarks and the official model. [PR 584](https://github.com/tensorflow/tfjs/pull/4769/commits/e9530cf79b0c6df79d80b4c5896ac79a74e5d711) fixes the originally posted issue, but it's possible / likely that making sure the tfjs model matches the official model will also fix it. I'll take a look as soon

[2021-03-02 17:18] rthadur commented on #4762
please refer to this document https://github.com/conversationai/conversationai.github.io/blob/master/crowdsourcing_annotation_schemes/toxicity_with_subattributes.md which explains about different classification. Thank you

[2021-03-02 17:18] #4762 closed

[2021-03-02 17:41] cvmlddev commented on #4076
@danrossi Could you explain why canvas2d is not good for performance in a multi user call?

[2021-03-02 22:51] #4648 closed

[2021-03-03 00:51] #4660 closed

[2021-03-03 04:31] taposh commented on #4466
@pyu10055 any update

[2021-03-03 08:41] bebensiganteng commented on #4284
Thank you for dealing with this issue, but is there a temporary solution for this? For instance, would assigning the backend to WebGL version 1 helps? If yes, could you tell us how to do it, please?

[2021-03-03 12:20] fawazahmed0 commented on #4761
Facing exact same issue

[2021-03-03 16:19] hadidon commented on #4606
@rthadur Do you have any plans to add it?
Thank you

[2021-03-03 16:27] hadidon commented on #4606
@rthadur Do you have any plans to add it?
Thank you

[2021-03-03 18:27] MeiyappanKannappa opened #4775 "Tfjs error with macOS 11 on m1 chip"
Trying to run basic get started example with tfjs in max m1 chip and getting illegal argument : 4 error. Is there anything specific need to be done for Mac m1 chip .

[2021-03-03 19:19] rthadur commented on #4775
There is already issue opened here for M1 Chip , currently tfjs does not work well with M1 , please check back here https://github.com/tensorflow/tfjs/issues/4775

[2021-03-03 19:19] #4775 closed

[2021-03-03 21:12] lmiguelmh commented on #4668
Ok, I hope the problem is fixed by using the "official model".

[2021-03-03 22:09] hadidon commented on #3595
Hello,
do you have a planned release date?

[2021-03-04 05:52] akshayvr-programmer commented on #3950
Hi, recently I was using the tensorflowjs_converter to convert VGG16.h5 file. I ran the sollowing script:
$  tensorflowjs_converter --input_format=keras /c/Users/aksha/Desktop/vgg16_weights_tf_dim_ordering_tf_kernels.h5 /c/Users/aksha/tensorflow_files

The output that I got:
2021-03-04 11:16:47.747396: W tensorflow/stream_executor/platform/default/dso_loader.cc:60] Could not load dynamic library '

[2021-03-04 07:17] pyu10055 commented on #4761
This is fixed with this PR https://github.com/tensorflow/tfjs/pull/4754, should be available in the next release. Meanwhile, can you use tfjs-node@3.0.0?

[2021-03-04 10:21] crowlKats commented on #3341
@rthadur Deno added support for webgpu in 1.8. Would there be any chance that support for it would be provided?

[2021-03-04 15:10] rthadur commented on #3341
cc @pyu10055 @lina128

[2021-03-04 18:29] AmmarYasir29 opened #4778 "Error when load model using tf.loadLayersModel"
when run the code
`(async function () {
  console.log("wating for model load!");
  const model = await tf.loadLayersModel("simple/model.json");
  console.log("model: ", model);
})();`
**I got error**
Uncaught (in promise) Error: Input 0 is incompatible with layer flatten_3: expected min_ndim=3, found ndim=2.
    at new e (errors.ts:48)
    at e.assertInputCompatibility (topology.ts:790)
    at top

[2021-03-04 18:39] Diabl0269 commented on #4761
@pyu10055 Great to hear, I will wait. Anyway version 3.0.0 does work so i guess we can close this issue,

[2021-03-04 18:39] #4761 closed

[2021-03-04 19:27] jameshfisher commented on #4685
@lina128 thanks, that makes sense. I'm not sure how tfjs could provide automatic GC for async code anyway.

[2021-03-04 19:27] #4685 closed

[2021-03-04 19:40] rthadur commented on #4778
Please use latest version 3.2.0 and let us know , if that does not help , please share reproducible code in codepen or in a GitHub repo. Thank you

[2021-03-04 19:42] GantMan commented on #4682
@lina128 - sorry for the delay.  Been busy.  I do not think it is cache, because the network is hit twice.  If I load a 700mb CSV I wait for the file twice.  Would you like a demo with a larger file?

[2021-03-05 00:24] mati-a commented on #4726
Maybe this help. I was having the same issue trying to call `getAvailablePictureSizesAsync` method of Expo Camera. I find that the ref of `TensorCamera` has an attribute called `camera`. So in my case i have:
[code]

Then
[code]

[2021-03-05 02:50] amicotin commented on #4763
no update...

[2021-03-05 07:26] AmmarYasir29 commented on #4778
this is my code on github https://github.com/AmmarYasir29/tensorflowJS

I try the last verson that you tell me ans the same error:

[2021-03-05 07:44] lina128 commented on #4682
Yeah, that'll be great. I tried above example in a codepen, and couldn't reproduced. Please share a larger file.

[2021-03-05 19:08] #4764 closed

[2021-03-05 19:13] vladmandic commented on #4764
@rthadur @pyu10055 why was this closed by `tensorflow-butler` ?

[2021-03-05 19:13] AmmarYasir29 commented on #4778
@rthadur any help ??

[2021-03-05 20:06] kirill-konshin commented on #4732
@pyu10055 I know it's hard to investigate w/o code, but I can't make the concise example because then I will have to drag the entire image processing system that we have... I've traced the error to TF code, it's something internal. The issue does not reproduce 100% of times, it's very sporadic.

[2021-03-05 22:33] yeldarby commented on #1660
Were you ever able to figure this out? I'm getting this same error starting from the `nvidia/cuda:10.0-cudnn7-runtime-ubuntu18.04` base.

[2021-03-05 23:36] rthadur commented on #4778
i guess the model file is missing , is it fine to share the model also , thank you

[2021-03-06 08:03] jaygit123 commented on #4663
Hi @mattsoulanille , were you able to make any progress on this issue?
Should we conclude that this is a 'converter' related bug or do you have any other observations?
Either way, wish to have a resolution at the earliest, please.

Regards,
Jay

[2021-03-06 12:19] AmmarYasir29 commented on #4778
I convert model from .h5 format to .json to load
embedded it to web by
`console.log("wating form model load!");`
`const model = await tf.loadLayersModel("http://localhost:3000/fjs/model.json");`
But the error appear [IMG Error](https://ibb.co/QPP5GGz) and I cant fix that

The mdoel in h5 format [the model h5](https://github.com/missdafer/the_Simpsons_classification_project/blob/acb254dd3fbaa4a4c24

[2021-03-08 02:43] pyu10055 commented on #4758
@ruisebastiao can you try to load the image only once? want to confirm that it is not due to imgData not getting GCed.

[2021-03-08 02:50] pyu10055 commented on #4732
@kirill-konshin TF code you traced to looks fine, we need to figure out under what condition the fenceSync function is not longer valid.    A good way to isolate the problem is to look at the output of your image processing part before it feed into TF code.

[2021-03-08 04:55] GantMan commented on #4682
@lina128 - I believe I have a line on the issue being caused by a secondary library.   I'll report back when I am 100% sure.

[2021-03-08 05:07] akhirai560 commented on #3835
Use this code for x and y rotations i am using this for liveness detection:

`
  getHeadAnglesCos(keypoints) {
    // V: 10, 152; H: 226, 446
    this.faceVerticalCentralPoint = [
      0,
      (keypoints[10][1] + keypoints[152][1]) * 0.5,
      (keypoints[10][2] + keypoints[152][2]) * 0.5,
    ];
    const verticalAdjacent =
            keypoints[10][2] - this.faceVerticalCentralPoint[2];
    co

[2021-03-08 05:51] taposh commented on #4466
@pyu10055  any update?

[2021-03-08 09:52] ruisebastiao commented on #4758
loading image outside interval:

[code]

Output:

[code]

[2021-03-08 15:09] vladmandic commented on #4317
@pyu10055 @tafsiri @rthadur

is there any plan for this?

as it is, usage of `tfjs-node` is limited as some ops are missing and usage of `tfjs-node-gpu` is basically non-existent due to it's dependency on obsolete version of `CUDA`

[2021-03-08 15:19] vladmandic commented on #4166
@rthadur @pyu10055

this issue (and similar one under #4129) is open since October and sitting idle without assignment?

[2021-03-08 17:06] pyu10055 commented on #4317
@vladmandic Yes, we are working on supporting TF 2.4 c library, here is the issue related to that
https://github.com/tensorflow/tfjs/issues/4193

[2021-03-08 18:57] sbrl commented on #4317
Unfortunately, I don't currently have a good record of what I did, so I'd have to go through the process all over again in order to write some documentation. As I am doing a PhD at the moment, I don't really have the time to do that right now.

[2021-03-08 19:20] #4720 closed

[2021-03-08 20:50] GantMan commented on #4682
Hey Lina!   OK, so the issue is definitely with TFJS.  And it's affecting Danfo.js

## Here's a reproduction so you can see the one line of code that is causing the issue.

**EXAMPLE 1:**  Danfo.js is double loading but TFJS is fine
Example Codepen:  https://codepen.io/gantman/pen/abBRObO

As you can see here, TFJS loads the chess_labels dataset once, but Danfo.js is having an issue of loading the

[2021-03-08 21:25] pyu10055 commented on #4466
@taposh Sorry for the delay, I took a close look at your colab, I think the problem is caused by use tf.example as the input of the inference graph, which is not supported by TFJS right now. You need to create a signature that has input with the node after the tf.example has been processed. Here are some example code that might help you to create custom input function:

[code]

[2021-03-08 23:14] pyu10055 commented on #4758
@ruisebastiao If you look at output of `process.memoryUsage()`, the heapUsed field is fairly stable, while the overall size increases.
With the image I have loaded, the RSS also stabilize after 100 times. It does not seems to be a mem leak that is associated with decodeImage and you can observe similar behavior by replacing decodeImage with tf.ones([200,200])

[2021-03-08 23:42] ruisebastiao commented on #4758
@pyu10055 , ok now i monitoring the heap and making 1000 iterations, with `tf.ones([200,200])` is stabilizes after 200x:

Output:

[code]
But with decode image i'm going from 123MB to 3695MB in 500 iterations

output:
[code]

[2021-03-09 05:25] sivarajakani commented on #3866
I also have this issue, you found a way to handle this issue?

[2021-03-09 06:43] danrossi commented on #4076
I have it setup so that the WebRTC publisher is broadcasting the mediastream of the canvas being rendered. So its on the broadcaster side not subscribe side. After the bodypix rendering, be it via webgl or asm not sure what is used, makes no sense to come back into software. I need to add more code to render a background image texture into the canvas behind the bodypix rendering.

Somehow processi

[2021-03-09 10:26] sivarajakani opened #4793 "Error: Cannot find name 'EmscriptenModule'. when using wasm as a backend in Angular"
### Error: node_modules/@tensorflow/tfjs-backend-wasm/wasm-out/tfjs-backend-wasm.d.ts:18:44 - error TS2304: Cannot find name 'EmscriptenModule'.

I got this error while executing this line in Angular.
`import '@tensorflow/tfjs-backend-wasm';`

Also, I installed and activated Emscripten SDK (version 2.0.14), EMSDK path also declared.
`./emsdk activate 2.0.14
&& source ./emsdk_env.sh
&& echo $EMSDK`

[2021-03-09 15:45] danrossi commented on #4076
Here is a basic raw demo. I haven't done any resource testing, but even doing this. https://dev.electroteque.org/bodypix/

[2021-03-09 18:19] rthadur commented on #4793
@sivarajakani i see you already commented in a related issue https://github.com/tensorflow/tfjs/issues/3866#issuecomment-793419787 , will wait for @jinjingforever response. Thank you for your patience.

[2021-03-09 18:19] #4793 closed

[2021-03-09 18:29] rthadur commented on #3866
@jinjingforever gentle ping if you got chance to look in to this issue, thank you

[2021-03-09 19:02] mattsoulanille opened #4796 "Threaded SIMD tests for the wasm backend crash the browser"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow.js): 3.2
- OS Pl

[2021-03-09 19:04] mattsoulanille commented on #4796
Bundling all tests (with e.g. esbuild) does not fix this. While test files are no longer individually requested from Karma, each test still re-initializes the wasm backend (requesting the `.wasm` file each time) and creates a new webworker.

[2021-03-10 11:23] sivarajakani opened #4800 "After setting TensorflowJS model's backend as WASM is too slow"
It's an **LSTM model.** The model total size is **23.2 MB**(model.json, group1.bin, ...).

### Before setting a backend as wasm, the prediction runtime is <1500ms, after setting wasm >5000ms.
I use this set of code to change the backend as wasm.
[code]
**Is it possible to fix this issue?**

TensorflowJS - 3.2.0
Angular - 11.2.3

Brave - 1.21.73
Chromium - 89.0.4389.72

OS - ubuntu 20.04.2

[2021-03-10 15:40] scriptify commented on #4653
Same problem here with the following package version combination:

[code]

[2021-03-10 17:19] jinjingforever commented on #4653
I pushed a new version (2.2.2) that should work with tfjs 3.x. Please give it a try. Thanks!

[2021-03-10 17:19] #4653 closed

[2021-03-10 17:22] sbrl commented on #4401
@mdjfs Not true. I can reliably reproduce this in a Docker container on Linux. The Docker container's name is `nvcr.io/nvidia/tensorflow:19.02-py3`. Logs: https://pastebin.com/4AEyc2cP

[2021-03-10 18:06] sbrl opened #4802 "Crash installing tfjs-node-gpu: Undefined variable module_name in binding.gyp while trying to load binding.gyp"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 20.10, Ubuntu 18.04, CentOS 7.2.1511
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: n/a
- TensorFlow.js installed from (npm or script link): `"@tensorflow/tfjs-node-gpu": "^3.0.0"` in package.json
- TensorFlow.js version: `"@tensorflow/tfjs-node-gpu": "^3.0.0"`

[2021-03-10 18:23] rthadur commented on #4802
@pyu10055 here is the related issue which was occurring on windows https://github.com/tensorflow/tfjs/issues/4401#issuecomment-795773373 , I tried on Mac and o see no issues.

[2021-03-10 19:48] sigurdbuchberger commented on #4653
Thank you!! resolved it for me :)

[2021-03-10 21:11] kaykhancheckpoint opened #4803 "[tfjs-react-native] Build and setup issue with camera"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): `Ubuntu 20.04`
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: `Pixel_3a_API_30_x86.avd`
- TensorFlow.js installed from (npm or script link):
- TensorFlow.js version: `npm install @tensorflow/tfjs`,
- CUDA/cuDNN version:

**Describe the problem**

I am following the ste

[2021-03-10 22:11] btsimonh commented on #4193
how's this going?  Just starting out with tfjs on jetson nano, and don't want to do the symlink phreaking to make it work with cuda10.2 ... if it's immanent, then I'll hold off.
s

[2021-03-11 01:18] jinjingforever commented on #4803
Hi Kay,

I haven't set up Android emulator on my machine, but for the web, I actually encountered the same issue. It is fixed by the steps below:

- Run: `expo customize:web`
  - Use the space key to select the `webpack.config.js` entry, then press "enter"
  - This will create a bare-minimum `webpack.config.js` file.
- Edit the `webpack.config.js` file to make webpack transpile all `@tensorflow` p

[2021-03-11 02:07] jinjingforever commented on #4751
Hi Xianglan,

I checked out tfjs-v2.8.4 but didn't see any issues when running "yarn build-deps" from tfjs/tjfs. It is a little bit strange to see that the error is in `tfjs-core/node_modules/@types/eslint`, because I don't actually see it on my machine. Here is everything under `tfjs-core/node_modules/@types`:

[code]

Is it possible that this might be caused by some new code you wrote locally?

[2021-03-11 03:40] WenheLI commented on #4193
@pyu10055 - Hi, just wondering where I can find the document for the new c-api about TF_String.
I kinda know how to move the deps to tf2.x but I need to get an overview of how the new c-api works.
Any documents that are available at this time?

[2021-03-11 05:20] pravastacaraka commented on #4646
@rthadur How about this feature?

[2021-03-11 05:41] sivarajakani commented on #4800
### I used this code snippet for wasm.
[code]

### Before using wasm, I used this code snippet.
[code]

[2021-03-11 08:29] kaykhancheckpoint commented on #4803
@jinjingforever

Hey,

I followed your steps and got `npm run web` working. Is this some extra setup step that needs to now be added to the readme?

The `npm run android` still does not work for another reason which i'll make a new issue for when i revist it.

[2021-03-11 10:44] carrycooldude commented on #4796
Hey @mattsoulanille, Actually for test and fixed-width SIMD maybe there is some issues with Web Assembly , Can you help me out in this
![image](https://user-images.githubusercontent.com/41143496/110775224-ade9b280-8284-11eb-8ec7-f0e95abb9f78.png)

[2021-03-11 14:55] xlpiao commented on #4751
@jinglescode Thanks for you reply. I put `tfjs` under some other project and that might be the reason for the building error. Since I moved tfjs out of that project directory, above commands works well. Issue resolved.

[2021-03-11 15:25] jaygit123 commented on #4663
Hi @mattsoulanille , @rthadur
Could you guys help with this issue?

Regards,
Jay

[2021-03-11 15:34] mattsoulanille commented on #4663
Hi @jaygit123. Sorry I haven't gotten a chance to take a deeper look at this and fix it. Here's what I've found out since I last updated you.

By cutting layers off your model until the output from the browser and from tf are the same, I've determined that there's likely something wrong with how tfjs handles the bidirectional LSTM layer. I actually no longer think this is a converter bug, since th

[2021-03-11 16:41] rthadur commented on #4800
is it possible to share the model ? or similar model which we can use for reproduction ?

[2021-03-11 16:43] rthadur commented on #4751
Thank you for confirming , closing this issue.

[2021-03-11 16:43] #4751 closed

[2021-03-11 17:28] kaykhancheckpoint opened #4806 "[tfjs-react-native] Unhandled promise rejection: TypeError: undefined is not an object (evaluating 'a.substr')"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): `Ubuntu 20.04`
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: `Pixel_3a_API_30_x86.avd`
- TensorFlow.js installed from (npm or script link):
- TensorFlow.js version: `npm install @tensorflow/tfjs`,
- CUDA/cuDNN version:

**Describe the problem**

I'm trying to run some

[2021-03-11 17:40] #4803 closed

[2021-03-11 18:20] #4600 closed

[2021-03-11 20:50] sunbinyuan commented on #3966
I am having the same issue also where I observe different results across different devices with the same OS and browser for a completely different model. I am also able to replicate what @juliiami mentioned with his mobile net:

System 1 with i7-4720HQ and GTX965M on Chrome 89.0.4389.82:
![image](https://user-images.githubusercontent.com/7110435/110848851-8a226e80-827c-11eb-8545-00bfc9b85562.png)

[2021-03-11 22:35] mattsoulanille commented on #4663
Hi @jaygit123

I've partially found out what's causing this bug. It is indeed a problem with how tfjs is running the bidirectional LSTM layer. For some reason, the second bidirectional layer in the model always returns zero for all indices above 255 in its output tensor. What's even more strange is that this doesn't happen when I run the second bidirectional layer by itself in a new model. This be

[2021-03-11 22:59] rthadur commented on #4646
This is low priority for now , how about this NMS https://github.com/axinging/tfjs/blob/d9c9bdf95ba99b27e628954a3d9b07d0226a7ce7/tfjs-backend-cpu/src/kernels/NonMaxSuppressionV5.ts , did you get chance to check this ?

[2021-03-12 02:20] #4731 closed

[2021-03-12 03:48] guillaume250 opened #4808 "BodyPix - drawBokehEffect stretched background on Safari Browsers (MacOS - iOS)"
**System information**
- Wrote custom code and tried stock examples.
- macOS Big Sur 11.1
- Safari iOS browser
- TensorFlow.js installed from (npm and script link): 1.2 for script link & tfjs-core 3.1.0 npm version
- Browser version: Safari Version 14.0.2 (16610.3.7.1.9)
- Tensorflow.js Converter Version: 3.1.0

**Describe the current behavior**
On Safari browsers when blurring the background of v

[2021-03-12 04:32] sivarajakani commented on #4800
[I modified the model from this](https://keras.io/examples/generative/lstm_character_level_text_generation/), other processes are the same as this. [JS model is here](https://drive.google.com/drive/folders/1kvcKukV6fEjgB-J_HsOCwnXI8N-YXHIW?usp=sharing)

[2021-03-12 06:20] jaygit123 commented on #4663
Hi @mattsoulanille ,
Thanks for the detailed analysis and workaround. Appreciate your support.
Sure, shall wait for the fix.

Regards,
Jay

[2021-03-12 10:25] ScripterSugar commented on #1278
I know this issue is fairly old, but I had this exact same problem on my Windows machine and found out that, if you're using git, when you push you're weights manifest file to the repository it will modify LF to CRLF in windows machine and it somehow crashes the file. Be sure to modify your autoCRLF setting when you're working on the Windows machine!

[2021-03-12 11:13] carrycooldude commented on #4806
I think so promise is here rejecting and you have to use catch for that may be that can be issue but further can you share the link so that I can see and I will give you update on that

[2021-03-12 11:18] kaykhancheckpoint commented on #4806
@carrycooldude Ye the error message does say promise rejection, im wondering why. Sorry which link do you want me to share you with?

To recreate it, you can just simply use a blank project with tf react native setup and then copy the code in App.js.

Theres nothing else ive added, only the function `do_training_example` which is code i obtained from official docs https://js.tensorflow.org/api/lat

[2021-03-12 11:19] carrycooldude commented on #4806
Okay Let me Try

[2021-03-12 15:41] yurijmikhalevich opened #4809 "[tfjs-react-native] tf.sparseToDense is broken"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow.js): no
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Android 10
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: Nexus 7 Emulator
- TensorFlow.js installed from (npm or script link): https://www.npmjs.com/package/@tensor

[2021-03-12 16:07] mattsoulanille commented on #4808
Hi @guillaume250. Thanks for the codepen reproduction! `drawBokehEffect` [bases its output dimensions on the video element's `width` and `height` properties](https://github.com/tensorflow/tfjs-models/blob/master/body-pix/src/output_rendering_util.ts#L503-L504) (although perhaps it shouldn't). If you set the video element's width and height to match the camera's aspect ratio, the output should have

[2021-03-12 16:59] yurijmikhalevich commented on #4809
I've just found that my emulator doesn't support webgl2. This can be the cause of the issue. I'll reopen it once I'll confirm that it doesn't work on a device.

[2021-03-12 16:59] #4809 closed

[2021-03-12 17:42] yurijmikhalevich commented on #4809
Resolved.

For if anyone will stumble upon this. `tfjs-react-native` requires GLES 3 / WebGL 2. You can enable it in Android SDK Emulator via:

[code]

I tested this only under Linux. Your host GPU should support at least OpenGL ES 3.2.

[2021-03-12 18:41] annxingyuan commented on #4101
It would be worth seeing whether this issue goes away with `WEBGL_PACK` set to `false`. Although the packed path in the shader compiler gets hit no matter what because we *always* pack matrix multiplication (regardless of the value of `WEBGL_PACK`).

[2021-03-12 18:45] annxingyuan commented on #3762
Would be worth trying to reproduce this issue on the other model demos as well, since all of them use the same camera initialization code.

[2021-03-12 18:49] annxingyuan commented on #3633
@rthadur this is potentially obsolete with the latest versions of TFJS

[2021-03-12 18:52] annxingyuan commented on #3299
@mattsoulanille for additional context, the `WEBGL_CONV_IM2COL` flag determines whether we use the im2col algorithm to speed up convolution. If we do, then convolution goes through matrix multiplication rather than the conv2d shader in 2 steps: first we run a shader to remap the input tensor to fit im2col, then we run im2col.

[2021-03-12 18:53] #563 closed

[2021-03-12 18:55] annxingyuan commented on #3265
@rthadur This should be fixed on latest version of TFJS which includes prod for WASM.