[2018-04-26 14:39] PveOnly opened #237 "Drawing Graph"
Hi i would like to know how do you draw a function on a graph on a html page ?Because i tried to do it for the first tutorial :https://js.tensorflow.org/tutorials/mnist.html with plotting the function a*x*x*x+b*x*x+c*x+d (a ,b ,c ,d are the random coeff) but even if there is no error it draw nothing (i tried with real number and it drawed something so i don't think it's my function .
![image](http

[2018-04-26 16:00] dasimandl commented on #86
I am running into an error while trying to convert a saved mobilenet model using tfjs-converter.
I copied the command line - I/O below.  I tried this using the full path and the relative path (shown below).  I also tried this as sudo and as current user.  Im sure this is some very simple error on my part, but after some time google searching I was unable to find a solution. Thank you.

[code]

[2018-04-26 16:03] dasimandl opened #238 "Issues with tensorflowjs_converter - permission denied on directory"
#### TensorFlow.js version
Tensorflow 1.5 - I downgraded because I was getting illegal hardware issues. This was a recommended solution on the message boards.

#### Browser version
This issue is not running in browser - newest chrome release

I am running into an error while trying to convert a saved mobilenet model using tfjs-converter.
I copied the command line - I/O below. I tried this using th

[2018-04-26 17:03] tangtai commented on #192
@ManrajGrover Yes it worked (both in not debugging mode and release mode!), but what i changed is in the tfjs-core, how do i access the tfjs-layers API, since tfjs-code is a dependency of tfjs-layers. how do i buddle two packages together into my app? after that i will try to build a demo app to test it out!

[2018-04-26 17:41] ManrajGrover commented on #192
@tangtai Awesome, I think we can push this change to Core API and make a release.

cc. @tafsiri @nsthorat @dsmilkov

[2018-04-26 18:00] hpssjellis commented on #90
Here is the easiest demo I can make of the problem.

https://hpssjellis.github.io/beginner-tensorflowjs-examples-in-javascript/beginner-examples/android-issue.html

.

![android-issue2](https://user-images.githubusercontent.com/5605614/39322747-b0d47b6e-493f-11e8-9dbd-9a08dfda3439.png)

I just noticed that if I change the loss from

`loss: 'meanSquaredError',`

to
`loss: 'hinge',    `

I don't get

[2018-04-26 18:56] dsmilkov commented on #192
@ManrajGrover want to make the change? Thank you!

[2018-04-26 19:17] #192 closed

[2018-04-27 01:30] tushuhei commented on #85
Thank you @pyu10055! Unfortunately, I'm still seeing the same issue with my model, which is trained by [retrain.py](https://github.com/tensorflow/tensorflow/blob/r1.7/tensorflow/examples/image_retraining/retrain.py) in TensorFlow 1.7. I'm generating the model by running a docker image described in [Dockerfile](https://github.com/google/emoji-scavenger-hunt/blob/master/training/Dockerfile). I check

[2018-04-27 10:09] grimmer0125 commented on #141
Hi,  I am new to TensorFlow and neural network and I get a similar error when I try to train my 2 output network, `await this.nnet.model.fit(xTrain, [yTrain1, yTrain2]`, I do know if this is due to may fault setting or a library's bug.

 Error:
[code]

[2018-04-27 10:39] dadadel commented on #213
Hi,

I've got the same issue with version 0.10.0

[2018-04-27 13:51] nsthorat commented on #141
Could you share your full code with us?

[2018-04-27 13:52] caisq commented on #237
I will close this issue as it is not related to the core functionalities of tensorflow.js. You might want to ask this question on stackoverflow and/or look up tutorials on how to draw shapes in HTML canvases.

[2018-04-27 13:52] #237 closed

[2018-04-27 13:59] caisq commented on #238
cc @pyu10055

[2018-04-27 14:35] grimmer0125 commented on #141
Sure. Here is the explanation, and I'm sorry that there are too many comments to affect reading.

set up my model:
https://github.com/grimmer0125/alphago-zero-tictactoe-js/blob/master/src/tictactoe/tensorflow/TicTacToeNNet.js

train or predict:
https://github.com/grimmer0125/alphago-zero-tictactoe-js/blob/master/src/tictactoe/tensorflow/NNet.js

demo site (using pretrained to predict works but sel

[2018-04-27 14:49] bileschi opened #239 "FeatureRequest : Model access control solution"
#### TensorFlow.js version
0.10.2

#### Describe the problem or feature request
Some users wish to provide models, or the ability to predict from models, to the user, but also keep the model itself secret.  It would be nice to be able to perform some sort of access control around the model.

[2018-04-27 14:50] nsthorat commented on #141
When I press the button "Start self-Train" I get no errors - is that the right button that throws the error?

[2018-04-27 15:06] grimmer0125 commented on #141
Yes, it is the right button.

I just updated the site, and the original step1-simulation will run 25x3 episodes and may take 1, 2min.  Now it runs 4x3 episodes and may take 15 seconds. After that, it will start to train. Please try again.

[2018-04-27 16:20] dna2github opened #240 "TensorflowJS does not work on mobile Chrome browser."
To get help from the community, check out our [Google group](https://groups.google.com/a/tensorflow.org/forum/#!forum/tfjs).

#### TensorFlow.js version
https://storage.googleapis.com/tfjs-examples/mobilenet/dist/index.html

#### Browser version
Android 6.0.1
Chrome 65.0.3325.109

#### Describe the problem or feature request

TensorflowJS does not work on mobile Chrome browser.
visit https://stora

[2018-04-27 16:21] shiffman opened #241 "tensor2d works with a rank-3 shape"
* tf.js version: tfjs@0.10.0
* chrome: Version 66.0.3359.139 (Official Build) (64-bit)

While making a video tutorial, I found that `tf.tensor2d()` does not throw an error if I pass it a "rank 3" shape, i.e.:

[code]

[2018-04-27 16:28] #241 closed, assigned to dsmilkov

[2018-04-27 19:14] DDanielH commented on #188
Is there a way to convert an object detection API model to a tfjs model with the current unsupported ops?

[2018-04-27 21:22] nsthorat opened #242 "Implement tf.strided_slice"
We've seen requests for this in model conversions several times, let's prioritize this.

See: https://www.tensorflow.org/api_docs/python/tf/strided_slice

[2018-04-27 22:13] BusbyActual commented on #242
Happy to take this one on. Any guidance would be appreciated I see the link and that looks like a great spec

[2018-04-28 01:45] jgartman commented on #161
@nsthorat I was looking for something to do, I'll try `BatchToSpaceND` if no one has taken it up yet.

[2018-04-28 09:37] grimmer0125 commented on #141
I notice that
`backend_webgl.js.MathBackendWebGL.throwIfNoData` indicates that some `dataID` is missing, and I search `dataID` in the library code and also apply some breakpoints,

When my model is setup, for example, in https://github.com/grimmer0125/alphago-zero-tictactoe-js/blob/master/src/tictactoe/tensorflow/TicTacToeNNet.js#L40
[code]
Some actions will try to allocate tensor related objects,

[2018-04-28 22:09] zaidalyafeai commented on #212
We need 5d tensors for implementing UpSampling2D
[code]

Is it recommended to add 5d tensors only to implement this layer ?

[2018-04-28 23:29] timotheebernard opened #243 "Error: No backend found in registry since 0.10.1"
Hi everyone, thank you for the great work!

#### TensorFlow.js version

since 0.10.1

#### Browser version

Chrome Version 66.0.3359.139 (Official Build) (64-bit)
Firefox Quantum 59.0.2 (64-bit)

#### Describe the problem or feature request

Since I updated tfjs version to 0.10.1, I can't use loadModel() without getting a **No backend found in registry** error.

[code]

#### Code to reproduce the

[2018-04-29 01:33] caisq commented on #243
@dsmilkov @nsthorat Can you take a look?

[2018-04-29 02:36] timotheebernard commented on #243
Actually, this is not specific to loading a model, I get the error with this code too:

[code]
[code]

I also get the same error when importing tfjs using npm.

[2018-04-29 11:44] urbiworx opened #244 "Validate input arguments for MaxPooling1D config"
I did already ask at the google group, I was asked to raise a ticket

#### TensorFlow.js version
0.10.0

#### Browser version
Chrome 66.0.3359.139

#### Describe the problem or feature request
When trying to build a model like below, the error message "RangeError: Invalid typed array length: -272" occurs.
[code]

#### Code to reproduce the bug / link to feature request
https://jsfiddle.net/94v3dgm

[2018-04-29 15:58] nsthorat commented on #243
This was fixed in 0.10.3, can you try using that version?

[2018-04-29 16:03] timotheebernard commented on #243
It works! Sorry I did not notice there was a 0.10.3 version.

[2018-04-29 16:03] #243 closed

[2018-04-29 16:04] nsthorat commented on #243
No worries, sorry about the bug :)

[2018-04-29 17:09] nsthorat commented on #141
Apologies for the bad stack trace, I cloned your repo and am having trouble finding the TensorFlow.js entry point where this is throwing as well.

Can you reproduce this issue without the overhead of the rest of the app (since it's a little large it will take me a bit to wrap my head around). Could you reproduce with the same model topology and some dummy data? If you can do that I can look deeper

[2018-04-29 17:28] caisq commented on #244
I believe you get this error because in your `Layer2`, you should set `poolSize` and `strides` as numbers, instead of Arrays. I.e.,

[code]

We'll improve the type checking and error messages.

[2018-04-29 18:40] nsthorat commented on #242
Awesome, thanks @BusbyActual. Sure, yeah I think the spec is pretty clear too.

First, I would implement the op on the CPU, before you write the shader. For example: https://github.com/tensorflow/tfjs-core/blob/master/src/kernels/backend_cpu.ts#L171

First thing you need to do is compute the output shape given the input parameters. For now, it's fine to keep the parameters as number[] and not Tens

[2018-04-29 19:12] nsthorat opened #245 "loadModel of a simple LSTM model, with weights on the order of 3MB uses 5GB memory."
Code to reproduce:

[code]

Note that the weights files are small, < 3MB:
https://github.com/timotheebernard/timotheebernard.github.io/tree/master/models

Is there something that recurrent cells are doing that cause this much memory blowout? @caisq, @ericdnielsen, @bileschi can you take a look?

[2018-04-29 19:14] nsthorat commented on #245
After we fix this, a useful unit test for every layer will be to assert that when a layer is created, only the variables internally are remaining (using `tf.memory().numTensors`).

See what we do here: https://github.com/tensorflow/tfjs-core/blob/master/src/optimizers/sgd_optimizer_test.ts#L29-L34

[2018-04-29 21:48] pschlette opened #246 "KeyError: u'DecodeWav' running tensorflowjs_converter"
#### TensorFlow.js version
Tensorflowjs `0.1.2` (per `pip show`), installed on the tensorflow `1.8.0` docker image

#### Browser version
n/a - error is in `tensorflowjs_converter`

#### Describe the problem or feature request
I'm working off of the ["Simple Audio Recognition" tutorial](https://www.tensorflow.org/versions/master/tutorials/audio_recognition); my only changes are some adjustments to

[2018-04-29 23:37] b3115 commented on #188
I have similar issue with converting  [this mnist tf tutorial](https://www.tensorflow.org/versions/r1.1/get_started/mnist/mechanics). I saved it with saved model builder and while trying to convert it to tfjs I get error about unsupported Ops: `ScalarSummary, SparseSoftmaxCrossEntropyWithLogits`.
I've managed to change `SparseSoftmaxCrossEntropyWithLogits` to `tf.losses.softmax_cross_entropy` and

[2018-04-30 02:40] caisq commented on #245
My guess is that this has to do with the Orthogonal initializer of the LSTM. When the model JSON is loaded, the Orthogonal initializer calls the QR decomposition under the hood. Owing to the relatively large size of the matrix, this slows things done. Maybe we can optimize the memory usage of the QR decomposition a little. We can also consider adding the logic to skip any initialization if weights

[2018-04-30 04:42] AIGyan commented on #16
@nsthorat
Thank you for your effort in building and supporting tensorflow.js I am new to java script.
I am trying to run the demo on my laptop and I am getting the following error on the webpage
`No webcam found.
To use this demo, use a device with a webcam.`
My laptop has a camera, its working file and I am able to execute my opencv object detection model.
Please let me know what changes I have t

[2018-04-30 04:48] AIGyan opened #247 "No webcam found. To use this demo, use a device with a webcam"
To get help from the community, check out our [Google group](https://groups.google.com/a/tensorflow.org/forum/#!forum/tfjs).

#### TensorFlow.js version  :: 1.7.0
#### python version: 3.5.4
#### operating system: Windows 10
#### Browser version: chrome Version 66.0.3359.139

Thank you for your effort in building and supporting tensorflow.js I am new to java script. I am testing webcam transfer lea

[2018-04-30 05:10] bileschi commented on #245
The QR decomposition seems to be the only reasonable culprit.  I verified that memory is reduced by adding tidy().  Did not test on the full model yet.

See
https://github.com/tensorflow/tfjs-layers/pull/158

[2018-04-30 05:11] grimmer0125 commented on #141
Yes, these two are good suggestions.

When I am trying to simplify and use the dummy data, I notice a key point.
**Training works if I do not use model.predict several times first !!!**
**Training throw exception if I use model.predict several times first and use dummy data to train**
**Training works if I just call model.predict once first**
`works` means calling model.fit succesffully and I just

[2018-04-30 06:49] grimmer0125 commented on #141
I have created another branch excluding react and add a button to predict once + train once.
https://github.com/grimmer0125/alphago-zero-tictactoe-js/tree/simplifiedToTest

[2018-04-30 08:14] timseverien commented on #96
@Niconius Why is this closed? Have you found a way?

[2018-04-30 08:25] SiddhantKapil opened #248 "Not able to load a model using loadModel. Promise status is always showing pending."
To get help from the community, check out our [Google group](https://groups.google.com/a/tensorflow.org/forum/#!forum/tfjs).

#### TensorFlow.js version
10.3

#### Browser version
Google Chrome 62.0.3202.89

#### Describe the problem or feature request
I have saved weights and model on google drive and used the shareable link to give access to these files to tfjs.
I even tried hosting files on Git

[2018-04-30 08:51] broggi commented on #13
Looks like some progress in the last few days... You guys rock, looking forward to this! Is there an ETA? :)

[2018-04-30 10:46] dikatok commented on #161
Is this still open? I am interested in contributing to implement either of them since it will help converting my model as well XD

[2018-04-30 11:36] ManrajGrover commented on #161
@dikatok I don't think anyone is working on `SpaceToBatchND`. Feel free to take it up.

[2018-04-30 11:37] dikatok commented on #161
@ManrajGrover cool, thanks

[2018-04-30 12:26] nsthorat commented on #16
Hi @AIGyan what kind of computer are using, and how are you running the demo? It may be yelling at you because you're actually not over SSL for a non-localhost domain (if you use `yarn watch` it should run on localhost and work).

[2018-04-30 12:39] grimmer0125 commented on #141
After comparing the differences between the related codes for these 2 buttons, I got the **key difference.**, thank you for your suggestions again.

[code]
If I remove the line of `this.pnet = deepcopy(this.nnet); `, traning will not throw execpetions !!!!! (at least for my one time training test). Which means, if a object's object's property is `tf.model`, `deepcopy` this object will affect some

[2018-04-30 13:07] nsthorat commented on #141
Ahhh yes! That makes a lot of sense. Basically what happens is you deep
copy the tensor, the data ID also gets copied, but TensorFlow.js doesn't
know about it.

So the first Tensor gets cleaned up, destroying that data bucket (keyed by
data ID). The next time you access the second data bucket we don't know
about it.

Just FYI, you can use ".clone()" to clone a Tensor. It will return a new
Tensor,

[2018-04-30 13:10] nsthorat commented on #245
Awesome!! Nice find guys.

Let's make sure to add memory unit tests for backend methods / layer calls going forward.

[2018-04-30 13:34] nsthorat opened #249 "Support Rank-5 Tensors."
We've gotten a couple requests for this now.

What has to happen:
- Add a Tensor5D type: https://github.com/tensorflow/tfjs-core/blob/master/src/tensor.ts#L927
- Add a tf.tensor5d constructor: https://github.com/tensorflow/tfjs-core/blob/master/src/ops/array_ops.ts#L231
- Add 5D get output coords method, similar to 4D: https://github.com/tensorflow/tfjs-core/blob/master/src/kernels/webgl/shader_co

[2018-04-30 13:35] nsthorat commented on #161
Ah, let me know if you can't find the workaround. We may have to add support for 5D tensors, which actually shouldn't be too bad. There's another person who also wants support for 5D.

I filed an issue about 5D tensors if somebody wants to try this here: https://github.com/tensorflow/tfjs/issues/249

[2018-04-30 14:49] caisq commented on #248
@SiddhantKapil `tf.loadModel` should point to the model.json file, instead of the folder. You are storing the files on Google Drive. Given `tf.loadModel` also uses relative HTTP paths, I'm not sure if that's going to work with Google Drive. Can you try hosting the files in an HTTP server and point `tf.loadModel` at the `model.json` file?

[2018-04-30 15:06] zaidalyafeai commented on #249
@nsthorat, we also need it for https://github.com/tensorflow/tfjs/issues/212. I tried creating 5D tensors and an error was thrown
`Error: GPU for rank 5 is not yet supported in src/kernels/webgl/shader_compiler.js (line 641). `
I know how to solve it now thanks to your list. I can work on that if needed ...

[2018-04-30 15:23] caisq opened #250 "Implement UpSampling2D layer"

[2018-04-30 15:57] #212 closed

[2018-04-30 16:41] zaidalyafeai commented on #250
I am going to work on it ...

[2018-04-30 18:03] caisq commented on #250
Thanks, @zaidalyafeai . Looking forward to the PR.

[2018-04-30 18:06] thibo73800 commented on #231
Hi @dsmilkov  I have a working code! Which branch should I use to make my pull request?

[2018-04-30 18:08] caisq commented on #13
@broggi, thanks for checking in

For basic features such as saving `tf.Model`s (Keras-style Models) to browser local storage or as downloaded files, we are looking at next couple of weeks as the ETA. For more advanced features, such as sending models to HTTP servers, the ETA will be longer. The support for saving non Keras-style models, e.g., `FrozenModel`s loaded from converted TensorFlow SavedMo

[2018-04-30 18:10] ManrajGrover commented on #231
@thibo73800 You should make a PR to master branch.

[2018-04-30 19:54] nsthorat opened #251 "Improve JavaScript error messages wherewe rely on TypeScript types."
This issue requires some investigation, but an example includes asserting the runtime inputs of ops are Tensors, which was fixed here: https://github.com/tensorflow/tfjs/issues/202

Another one (we relied on typings to catch this error at compile time) is here: https://github.com/tensorflow/tfjs/issues/241

[2018-04-30 21:52] kwichmann opened #252 "Reinforcement learning library"
I'm currently toying around with building a simple reinforcement learning library on top of tf.js. It's very much a work in progress for now, but I'm wondering if this is an addition you'd be interested in.

[2018-04-30 22:58] AIGyan commented on #247
@nsthorat could you please guide me to resolve the above issue.

[2018-04-30 23:04] zaidalyafeai commented on #249
@nsthorat I need some pointers here. As of my understanding shaders language doesn't have vectors of size more than 4 ?

[2018-05-01 00:24] dsmilkov commented on #252
Currently we have no plans to provide RL functionality as part of the library, but we are excited and would love to see people building libraries/tools/apps on top of tf.js.

[2018-05-01 00:53] kwichmann commented on #252
That's cool. I'll be sure to share it if it turns out good.

[2018-05-01 01:45] caisq commented on #252
@kwichmann +1 to what @dsmilkov said. Having examples and tutorials for your new library would be even more wonderful.

[2018-05-01 02:11] jgartman commented on #161
@nsthorat In the typical case the intermediate tensor I mentioned would actually be 6D.  Based on your comments in the 5D tensor support issue I think I'd be able pull off adding 6D tensors.  However, let me know if it'd be better to focus on other options rather than pursue 6D support at this time.  The tensor returned from this op would usually be 4D after the final reshape so adding 6D tensors

[2018-05-01 13:50] nsthorat commented on #161
I think if you've thought about it and there's no way to do it without 6D Tensors without bending backwards, then it's fine to add 6D sampler support.

To be clear, we do support arbitrary rank Tensors everywhere but the texture samplers.

[2018-05-01 14:00] nsthorat commented on #247
How exactly are you running the demo? Are there any errors in the console?

[2018-05-01 14:03] bileschi opened #253 "Revive or replace the benchmark tooling at @tensorflow/tfjs-core/integration_tests/benchmarks"
To get help from the community, check out our [Google group](https://groups.google.com/a/tensorflow.org/forum/#!forum/tfjs).

#### TensorFlow.js version
tfjs-core 0.9.9

#### Describe the problem or feature request
benchmarks tool no longer works:
https://github.com/tensorflow/tfjs-core/blob/fae97fb30d3a86b8c868b7934b135705632442d2/integration_tests/benchmarks/README.md

[2018-05-01 14:32] jgartman commented on #161
Got it, thanks Nikhil

[2018-05-01 15:02] zaidalyafeai commented on #249
@nsthorat, This is my first time working on a shader language. I can work on it but I'll need some help understanding the Sampler method. If @jgartman, wants to work on it, it is OK for me.

[2018-05-01 19:44] bileschi opened #254 "Document saving / loading Keras models with custom layers."
To get help from the community, check out our [Google group](https://groups.google.com/a/tensorflow.org/forum/#!forum/tfjs).

#### TensorFlow.js version
0.10.2

#### Browser version
any

#### Describe the problem or feature request
If a user creates a custom layer, such as the one in [this example](https://github.com/tensorflow/tfjs-examples/pull/61#issuecomment-382043495), then any model which in

[2018-05-01 23:43] hmartiro opened #255 "Implement op: BatchMatMul"
Wanted to document an operation I'm missing for a 3D computer vision app: BatchMatMul

Other missing ops:
 * StridedSlice (https://github.com/tensorflow/tfjs/issues/242)
 * Unpack
 * ClipByValue (very minor)

python package versions:
tensorflowjs==0.2.1, tensorflow==1.7.0

[2018-05-01 23:44] hmartiro opened #256 "Implement op: Unpack"
Wanted to document an operation I'm missing for a 3D computer vision app: Unpack

Other missing ops:
 * StridedSlice (https://github.com/tensorflow/tfjs/issues/242)
 * BatchMatMul (https://github.com/tensorflow/tfjs/issues/255)
 * ClipByValue (very minor)

python package versions:
tensorflowjs==0.2.1, tensorflow==1.7.0

[2018-05-02 01:33] jgartman commented on #249
@zaidalyafeai Like Nikhil said, I'm working on an op that might possibly require 6D tensors.  I'm certainly no expert but I think if we read the existing code and WebGL documentation we can figure this out.

[2018-05-02 01:52] zaidalyafeai commented on #249
@jgartman, I cant find any good resources on the internet. Could you share some on WebGL?

[2018-05-02 02:49] caisq commented on #245
FYI, I plan to speed up orthogonal initiazers by replacing the QR decomposition with the Gram-Schmidt process.

[2018-05-02 03:03] weiji14 opened #257 "TypeError: NetworkError when attempting to fetch resource."
Hi, a bit new to the tensorflow.js landscape, but I'm trying to load a model.json file into my javascript file (currently testing this locally with a standalone html/js file) and it doesn't seem to be working. The model.json was created following the instructions [here](https://js.tensorflow.org/tutorials/import-keras.html). I've attached 3 files (issue.html, model.json, group1-shard1of1) to repro

[2018-05-02 08:32] chenjin3 opened #258 "Unsupported Ops in the model FakeQuantWithMinMaxVars"
To get help from the community, check out our [Google group](https://groups.google.com/a/tensorflow.org/forum/#!forum/tfjs).

#### TensorFlow.js version
tfjs-converter v0.2.1

#### Describe the problem or feature request
Unsupported Ops in the model FakeQuantWithMinMaxVars error message appears when I'm try to convert a model with FakeQuantWithMinMaxVars  operation.

[2018-05-02 12:37] xam-ps commented on #184
Now getting a message on the debug page:

+ Chrome:
![bildschirmfoto vom 2018-05-02 14-29-43](https://user-images.githubusercontent.com/19496449/39523374-b3cbea5c-4e15-11e8-8ba5-dd495fcf0f3a.png)

+ Chromium:
![chromium vom 2018-05-02 14-30-13](https://user-images.githubusercontent.com/19496449/39523375-b3f0a040-4e15-11e8-9a94-2b0b02758f9d.png)

Pretty strange, that I'm getting different values fo

[2018-05-02 13:09] jgartman commented on #249
@zaidalyafeai I thought this [one](https://developer.mozilla.org/en-US/docs/Web/API/WebGL_API) was pretty good though there's a lot of info that isn't necessarily relevant to this task.  So the first thing that was mentioned above was to define an output coords method.  As far as I can tell, what this needs to do is take coordinates in the texture space and project them into the tensor space.  The

[2018-05-02 14:57] PheoOneWhoMade commented on #13
@caisq  so erm... how is the progress going?

[2018-05-02 15:07] FreezePhoenix opened #259 "Bug: Training does not appear to be occuring"
#### TensorFlow.js version
0.10.0
#### Browser version
Chrome
#### Describe the problem or feature request

I'm trying to train it on vectors, with an input layer of 300 and an output layer of 300. It does not appear to be working, it always returns an array which corresponds the most with the vector for the word "in".

I may be using a linear model, if so please tell me how I would create a diffe

[2018-05-02 15:58] kylemcdonald commented on #52
i'm getting these same results from https://github.com/YadiraF/PRNet

[code]

it sounds like there might be some kind of workaround for `Conv2DBackpropInput` based on using [conv2dTranspose](https://js.tensorflow.org/api/latest/#conv2dTranspose) directly and copying the weights?

`StridedSlice` ["comes up often"](https://github.com/tensorflow/tfjs/issues/131#issuecomment-381807003) but i don't see

[2018-05-02 17:42] caisq commented on #13
@PheoOneWhoMade Apart from the comments in this issues, you can also look at the linked pull requests to see the progress as it happens.

[2018-05-02 23:33] zaidalyafeai commented on #249
@nsthorat Not sure if I can return an array of vectors from a function. Is that correct ?

![image](https://user-images.githubusercontent.com/15667714/39554227-47f1bd4c-4e7a-11e8-8cc2-a92bf405d2cf.png)

[2018-05-03 00:55] timotheebernard commented on #257
Hi @weiji14,

when running your code you should see the following error:
`Fetch API cannot load [...]/model.json. URL scheme must be "http" or "https" for CORS request.`

You need to serve your model via a http server that allows CORS request for loading it.

One simple way I found while developing with tfjs for serving a model is to use the http-server npm package:
[code]
The last line run a http

[2018-05-03 02:43] jgartman commented on #249
@zaidalyafeai Looks like thats not possible https://stackoverflow.com/questions/29734341/first-class-array-not-supported. One thing you might want to try is to stub out all the necessary methods and then try and create a 5D tensor and do an op with it.  You'll get a bunch of errors but I think iiteratively working through them will make development easier.  Anyway, when I did that and declared the

[2018-05-03 03:59] BusbyActual commented on #242
@nsthorat I'm a little confused about the CPU part.  Do you mean to define op in tfjs-core https://github.com/tensorflow/tfjs-core/blob/master/src/kernels/backend_cpu.ts#L145 ?

Also, your other instructions I'm following I think. Also using this as a guideline https://github.com/tensorflow/tensorflow/blob/r1.8/tensorflow/python/ops/array_ops.py#L753 . Thanks again for clarification this is my fir

[2018-05-03 04:01] pyu10055 commented on #246
This looks like some error loading the model by tensorflow, @pschlette can you confirm this model is loadable by python? if possible, can you share the session bundle model with us? thanks.

[2018-05-03 04:08] pyu10055 commented on #258
this is a model with quantization, are you trying to use a model generated by tflite?
can you share your command line, and possibly the model itself. thanks.

[2018-05-03 14:07] carlthome commented on #71
Status on this? I'd really love to be able to calculate gradients for doing saliency maps.

[2018-05-03 14:18] nsthorat opened #261 "Support strides in conv2d and conv2d_transpose in the SavedModel converter."
We already support these arguments in core we just need to pipe them through the executor.

@kylemcdonald

[2018-05-03 14:49] nsthorat commented on #249
Check out the response here, this is another way it can be done:

https://stackoverflow.com/questions/34030684/how-to-declare-a-function-that-returns-an-array-in-glsl-es-version-100

[2018-05-03 14:56] nsthorat commented on #52
@pyu10055 `Conv2DBackpropInput` can directly be mapped to `conv2dTranspose`

[2018-05-03 16:54] #236 closed

[2018-05-03 17:05] pyu10055 commented on #261
The convolution executor already supports the strides param for conv2d and conv2d_transpose nodes, https://github.com/tensorflow/tfjs-converter/blob/master/src/operations/executors/convolution_executor.ts#L47

@kylemcdonald are there any errors you are seeing?

[2018-05-03 18:25] pschlette commented on #246
Sure - you can see the model here: https://bitbucket.org/pschlette/skip-counter/src/master/training/tensorflow-output/speech_commands_train/

I don't have a great grip on all the different ways models can be serialized or how to convert between the various formats, but I tried using the [load_session_bundle_from_path](https://github.com/tensorflow/tensorflow/blob/c856366b739850a9f4b0bf1469de7f0526

[2018-05-03 18:59] pyu10055 commented on #246
@pschlette thanks for the update, I agree this is most likely TensorFlow issue, but as indicated in the log, the session bundle is deprecated. I will close this issue for now, you should raise this to TensorFlow repo. Thanks!

[2018-05-03 18:59] #246 closed

[2018-05-03 19:02] pyu10055 commented on #238
@dasimandl I suspect that your converter command is split into multiple lines. try following:

tensorflowjs_converter \
--input_format=tf_saved_model \
--output_node_names='MobilenetV1/Predictions/Reshape_1' \
--saved_model_tags=serve \
./input-model \
./output-model

[2018-05-03 19:05] pyu10055 commented on #229
@chenjin3 is this fixed by your PR to converter?

[2018-05-03 20:14] slawojstanislawski commented on #37
I had a .pth (containing a pytorch model I presume) file and using the method outlined above I was able to get the output: a long list of <filename>_weight and <filename>_bias files, as well as one manifest.json file. This is in line with what's described [here](https://github.com/PAIR-code/deeplearnjs-legacy-loader). Finally calling the `getAllVariables()` method of the legacy loader gets me the

[2018-05-03 20:53] weiji14 commented on #257
Hi @timotheebernard . You're right, I tried serving it up online and it just works. I'll try to use your http-server trick, and thanks on how to handle the promise! I come from a Python background so it takes a bit of effort to get used to all these asynchronous things.

[2018-05-03 21:16] timotheebernard commented on #257
Hi @weiji14, you're welcome! Don't hesitate to close the issue if it's good for you!

[2018-05-04 00:11] pyu10055 commented on #85
@tushuhei reshape sometimes can be remove due to optimization, give it a try with TensorFlow 1.8, see if the issue still exists. Also can you paste your errors here, or even better share your model with me.

[2018-05-04 00:12] jeffpyke opened #262 "Data type issue in Chromium 61 / Electron"
To get help from the community, check out our [Google group](https://groups.google.com/a/tensorflow.org/forum/#!forum/tfjs).

#### TensorFlow.js version
tfjs-core 0.9.0
tfjs-converter 0.2.1

#### Browser version
Chromium 61.0.3163.100
Electron 2.0.0

#### Describe the problem or feature request
Receive the following error when executing a model:
Uncaught (in promise) Error: Error in conv2D: Either

[2018-05-04 02:36] decentralion opened #263 "Long-running shaders result in webgl context lost"
#### TensorFlow.js version
0.10.0

#### Browser version
Chrome 64.0.3282.167 (Linux)

#### Describe the problem or feature request
Consider the following toy example of matrix exponentiation:
[code]

#### Expected:
The program should always print 0, and neither the behavior nor memory usage should vary as `iters` increases, since it results in multiplying the exact same matrix, and the tensor is d

[2018-05-04 13:28] nsthorat commented on #249
@zaidalyafeai if you can open a pull request I can take a closer look (hard to review an image).

Also, unit tests are the best way to test correctness!

[2018-05-04 13:33] zaidalyafeai commented on #249
@nsthorat , sure will open one today when I have some free time. Do I have to create a test file for the shader_compiler.ts file ?

[2018-05-04 18:39] tangtai commented on #183
@Neuroforge how did you create a server around those files?

[2018-05-04 18:55] nsthorat commented on #249
The unit test can call a unary op (`relu` or `square` or something) a rank-5 tensor.

[2018-05-04 19:44] meiamsome opened #264 "Memory Leak in toPixels()"
#### TensorFlow.js version
0.10.0

#### Browser version
Firefox 59.0.2
Chrome 66.0.3359.139

#### Describe the problem or feature request
When using the `toPixels()` function, two extra tensors are created and are not cleaned up

#### Code to reproduce the bug / link to feature request
The following code outputs '0 0 2' to the console of a browser when ran.
[code]

[2018-05-04 19:46] pontusbostrom opened #265 "Poor numerical precision on Chrome/Android"
#### TensorFlow.js version
0.10.0
#### Browser version
Chrome 66.0.3359.126 on Android 8.1.0

tf.ENV.features:
{DEBUG: false, WEBGL_VERSION: 2, WEBGL_GET_BUFFER_SUB_DATA_ASYNC_EXTENSION_ENABLED: false, BACKEND: "webgl", WEBGL_FLOAT_TEXTURE_ENABLED: true}

#### Describe the problem or feature request

The precision of floating-point calculations seems to be really poor in Chrome on Android. Example

[2018-05-05 00:09] tangtai opened #266 "tf.loadModel not working in react native"
#### TensorFlow.js version
0.10.3
#### Browser version
react-native 0.55.3
#### Problem:
tf.loadModel not working for local folder and remo url in react native, load local model not working for React
#### Feature request:
tf.loadModel react-native support
#### Code to reproduce the bug / link to feature request
[code]
this is the demo app i created for running tfjs in react-native, it can train an

[2018-05-05 01:05] zaidalyafeai commented on #249
@nsthorat, It seems functions like get output coords are not used for unary operations. When I call the following
`const a = tf.tensor5d([2], [1, 1, 1, 1, 1]);
 a.square();`
I get no errors even though `getOutput5DCoords()` is not implemented correctly ( I made it return void). However, when I use `conv2d` on `tensor4d` it seems  `getOutput4DCoords()` is called. Also I realized that the shader cod

[2018-05-05 01:45] dsmilkov commented on #263
Hey Dandelion, thanks for the detailed report! And hi again!

This is consistent with our observation of executing long-running shaders. A matmul of matrices of size 10Kx10K is ~2TFLOPS. The hypothesis is that Chrome is trying to protect itself and other tabs by prematurely killing the shader program if it takes more than x seconds. This results in either a `NaN` or `WebGL hit a Snag` error.

The

[2018-05-05 01:46] jgartman commented on #249
@zaidalyafeai You may want to check your code again, I believe a unary op (as well as any op being executed on the GPU) will need that function. From  kernels/webgl/unary_op.gpu:
[code]

[2018-05-05 01:46] decentralion commented on #263
Cool, thanks for the info. Our conclusion was similar, namely that if we need to handle really big matrices, we should partition them. And :wave: back :smile:

[2018-05-05 02:08] zaidalyafeai commented on #249
@jgartman , I made sure that I printed out the source code, getOutput4DCoords() is not called. getAAtOutCoords() calls texture2D.

[2018-05-05 04:43] kylemcdonald opened #267 "conv2d useBias not actually false by default"
The documentation for [tf.layers.conv2d](https://js.tensorflow.org/api/latest/index.html#layers.conv2d) says: "useBias (boolean) Whether the layer uses a bias vector. Defaults to false. Optional".

But testing with code says otherwise:

[code]

Prints a list with two elements. Adding `useBias:false` and it prints a list with one element.

The documentation also says "filters (number) The dimension

[2018-05-05 05:31] Lewuathe commented on #253
Is there any plan in progress to revive benchmark tools? If not, I would like to try to reuse existing benchmark tools.
https://github.com/tensorflow/tfjs-core/tree/master/integration_tests/benchmarks

[2018-05-05 13:12] dsmilkov commented on #267
Thanks Kyle. Cc @caisq @bileschi @ericdnielsen for tf.layers

[2018-05-05 14:25] nikudyshko commented on #264
Looks like memory leaks occur in tfjs-core/src/ops/array_ops.ts at lines 637-638:
[code]

[2018-05-05 15:17] timotheebernard commented on #266
Hi @tangtai, I'm not really familiar with React but I think you need to find a way to serve your model with a http server, moreover, it must allow CORS requests.

Is there a way to do this within the React ecosystem? Otherwise, I described a solution in a similar issue: #257.

[2018-05-05 15:30] LunaLuan opened #268 "Can I code Tensorflow Js In Google Colab ?"
Hi there, I like Tensorflow JS. But I want to use Tensorflow JS in Google Colab for research. Maybe you can explain some solutions. Thank you very much!

[2018-05-05 16:32] timotheebernard commented on #268
Hi @LunaLuan, yes it is possible but currently a little bit tricky.

Taking inspiration from [this conversation](https://github.com/googlecolab/colabtools/issues/13), I just created an example that you can access here: [Google Colaboratory + TensorflowJS example](https://colab.research.google.com/drive/1PH7VCBQHeDbvGi3F3m-pRADRvDxxPfY1).

Couple of comments:
- Installed tfjs version is 0.7.0.
- I

[2018-05-05 18:17] nsthorat commented on #268
Colab isn't quite ready for full-fledged JavaScript notebooks. I would
recommend using https://beta.observablehq.com/ for now.

On Sat, May 5, 2018 at 12:32 PM, Timothée Bernard <notifications@github.com>
wrote:

[2018-05-05 22:50] zaidalyafeai commented on #249
@nsthorat, I don't know how I missed that !! We  can easily made a new data type called `ivec5`. We define that in the SHADER_PREFEX [#L232](https://github.com/tensorflow/tfjs-core/blob/4091cac5bad391c0b4d69f48c3a89b4779186b8e/src/kernels/webgl/shader_compiler.ts#L232 ) as a strut type.
`struct ivec5
  {
    int x;
    int y;
    int z;
    int w;
    int f;
  };
`
This allows creating arbitrary s

[2018-05-05 23:57] MengShaoying commented on #267
So , file [this.useBias = config.useBias == null ? true : config.useBias;](https://github.com/tensorflow/tfjs-layers/blob/v0.5.0/src/layers/convolutional.ts)
"this.useBias = config.useBias == null ? true : config.useBias;" should be changed to "this.useBias = config.useBias == null ? false : config.useBias;"?????

[2018-05-06 00:15] zaidalyafeai commented on #249
Created a PR https://github.com/tensorflow/tfjs-core/pull/1022

[2018-05-06 01:39] caisq commented on #267
@kylemcdonald Thanks for reporting these issues.
@MengShaoying This is a documentation bug. `useBias` should default to `true` (like in Python Keras).
`filters` is not optional. I'll send a PR to fix these soon.

[2018-05-06 02:30] kimamula commented on #85
@pyu10055 I have updated the converter to 0.2.0 and TensorFlow to 1.8 and encountered another error when I ran the converted model, saying `Error: Can't squeeze axis 2 since its dim '1001' is not 1`.

[2018-05-06 07:12] m4nuC commented on #213
Is anyone working on this ? Else if someone can point me in the right direction I am happy to take a stab at it.

[2018-05-06 14:32] Createdd opened #269 "Tensorflow Hub module (example) for converter not working"
Using the latest TensorFlow.js version
___

Using the example for the Tensorflow Hub module example from the [converter](https://github.com/tensorflow/tfjs-converter)  does not work.

[Code for bash, according to example is:](https://github.com/tensorflow/tfjs-converter#step-1-converting-a-savedmodel-session-bundle-frozen-model-or-tensorflow-hub-module-to-a-web-friendly-format)
[code]
But I get th

[2018-05-07 02:57] caisq commented on #269
@seranus What's the version of tensorflowjs pip package that you are using? The latest version is 0.3.0. Older versions do not have the TF Hub conversion feature.

[2018-05-07 10:15] seranus commented on #269
@caisq The 0.3.0 that I manually downloaded from releases

[2018-05-07 12:30] Createdd commented on #269
I am also using the 0.3.0 version:
[code]

@seranus How do I change that? Cloning the converter and then changing the file? What do I do afterwards to get it going?

[2018-05-07 12:58] Createdd commented on #269
After changing the typo and fixing another reference error, I get:
[code]

So these Ops are not supported.

[2018-05-07 13:35] seranus commented on #269
You'll have to wait for the implementations

[2018-05-07 16:02] EliotAndres opened #270 "LSTM layer is slow and freezes browser"
#### TensorFlow.js version `0.10.3`
#### Browser version `Firefox 58 and Chrome 66`

#### Describe the problem or feature request
**Problem**: LSTM model loading is slow and freezes browser

Based on the sentiment example, I tried to build a startup name generator: [demo](http://ndres.me/char-rnn-tensorflow-js/) & [code](https://github.com/EliotAndres/char-rnn-tensorflow-js)

But it freezes the br

[2018-05-07 16:09] caisq commented on #270
This issue is a duplicate of https://github.com/tensorflow/tfjs/issues/245.
We are in the process of improving the speed of RNN by replacing the QR decomposition with Gram-Schmmidt orthogonalization. Please see that issue for progress and status.

[2018-05-07 16:09] #270 closed

[2018-05-07 16:36] #268 closed

[2018-05-07 19:16] pschlette opened #271 "Implement ops for converted audio models: Mfcc, DecodeWav, AudioSpectrogram"
#### TensorFlow.js version
`0.3.0`

#### Describe the problem or feature request
I generated a model using the ["Simple Audio Recognition" tutorial](https://www.tensorflow.org/versions/master/tutorials/audio_recognition), which I'd like to run in a browser. I tried to convert it for use with TensorFlow.js, but I had some issues loading the model when I ran the `tensorflowjs-converter`, as describe

[2018-05-07 19:38] tangtai commented on #266
@timotheebernard  thanks for your response, i tried to host the model on AWS s3 bucket and turn on CORS request it worked for React(web app), but didn't work for react native(mobile app), apparently according to https://facebook.github.io/react-native/docs/network.html native apps have not concept of CORS.

how ever i can only fetch the json file from AWS and it returns the model configuration for

[2018-05-07 19:56] hyun-yang opened #272 "tf.loadModel not working in ionic"
#### TensorFlow.js version
0.10.0

#### Browser version
cli packages: (C:\Users\Administrator\AppData\Roaming\npm\node_modules)

    @ionic/cli-utils  : 1.19.2
    ionic (Ionic CLI) : 3.20.0

global packages:

    cordova (Cordova CLI) : 7.1.0

local packages:

    @ionic/app-scripts : 3.1.8
    Cordova Platforms  : android 6.3.0
    Ionic Framework    : ionic-angular 3.9.2

System:

    Android S

[2018-05-07 21:26] bileschi opened #276 "Add checks for memory leaks to layers"
To get help from the community, check out our [Google group](https://groups.google.com/a/tensorflow.org/forum/#!forum/tfjs).

#### TensorFlow.js version
tfjs-layers 0.5.3

#### Describe the problem or feature request
In the unit testing code tfjs_backend_test.ts there is a test that the backend function `qr` does not leak any tensors.  Ideally we would have memory-leak coverage for all such functi

[2018-05-07 21:38] timotheebernard commented on #272
Hi!

http://localhost:8100/ionic-lab

You should check #257, I think it will help you!

[2018-05-07 22:42] MengShaoying opened #277 "Update docstring for tf.setBackend(): it creates a new Engine and disposes the old one."
It seens that a variable can't be defined before using "tf.setBackend()", even if the backend is the same.

[code]

#### TensorFlow.js 0.10.0

#### Browser version Chrome 66.0.3359.139

[2018-05-07 23:08] hyun-yang commented on #272
@timotheebernard
Thanks for your response.
Btw, let me clarify this feature request.

It works when I runs on my local sever http://localhost:8100/ionic-lab.

As you mentioned,

What I really want to do is, I want to load this model from local folder( In this case from assets/model/ ) not using http server.

In ionic( I think lots of hybrid app platform has a same build process), when developer bu

[2018-05-08 12:26] bileschi opened #278 "tf.transpose of 1D Tensor leads to ugly shader compiler error"
To get help from the community, check out our [Google group](https://groups.google.com/a/tensorflow.org/forum/#!forum/tfjs).

#### TensorFlow.js version
0.10.0
#### Browser version
66.0.3359.117 (Official Build) beta (64-bit)

#### Describe the problem or feature request
Bad error message when taking the transpose of a 1D tensor

#### Code to reproduce the bug / link to feature request
const a = t

[2018-05-08 16:00] #267 closed

[2018-05-08 17:40] pyu10055 commented on #52
Conv2DBackpropInput support has been added to converter, StrideSlice op is added to core with this PR
https://github.com/tensorflow/tfjs-core/pull/1026

[2018-05-08 17:43] pyu10055 commented on #242
@BusbyActual I just created PR for the support of strided slice. You can use it for reference. There are several mask I did not implement, maybe you can look into those once the PR is merged. Thanks.

[2018-05-08 17:45] nkreeger opened #279 "Fix Node.js tests for local browser storage and Blob"
We black-listed these tests: 'browser', 'LocalStorage', 'arrayBufferToBase64String', 'stringByteLength' for the Node bindings.

[2018-05-08 18:34] lastnod opened #280 "crossover and mutate functions"
no problem guy great job by the way.
Just a feature request ! :)

Could you implement a crossover function in order to perform reinforcement learning ? (genetic algorithm for me :) )
and obviously with crossover we need a simple mutate function to tune weight, maybe with possibility to put your own tuning function like gaussian distribution.

i hope it's not already implemented !

[2018-05-08 18:50] davidsoergel commented on #280
My feeling is that this is a higher-level feature that doesn't belong in our core libraries.  Of course anyone is free to build an external genetic algorithm library on top of TF.js primitives, no problem!  (Note none of Python TensorFlow, TF Layers, or Keras provide any explicit support for genetic algorithms afaik).

I'll close this as "won't fix" in a day or two if there are no other opinions.

[2018-05-08 18:59] davidsoergel commented on #277
This is working as intended.  tf.setBackend() always initializes a new execution environment and disposes any preexisting one.

I see we could improve the documentation to clarify that, though.

[2018-05-08 20:29] rajsite commented on #13
@caisq The formdata based browserHTTPRequest is interesting. It should be an efficient way of handling the browser weights as binary data.

Is having a JSON serialization format also being considered?

For example:
[code]

I think it's generally a lot easier to push around JSON (despite the inefficiencies of base64 encoding) and then migrate to a more performant approach when needing to optimize.

[2018-05-08 21:32] atanasster commented on #13
@caisq thanks for considering adding more export/save options.
in my use-case, the models are created from custom structures, however I would need to save the weights per layer when training, then later load the weights when creating each layer manually for predictions.
Is there some API for serializing/deserializing the weights or do I need to just do it manually?

[2018-05-09 00:59] rajsite commented on #13
@caisq local storage before the user persists on the server over HTTP handles one use case.

The HTTP implementation in your fork would almost do it, but I would need to tweak some CORS configuration for the fetch. It might more flexible to take a Fetch Configuration object as a parameter and replace the body (then you also don't need to manually take a method).

Alternatively, for my specific use

[2018-05-09 01:16] caisq commented on #13
@rajsite I can make it possible to configure additional fields of the `RequestInit` used with the `fetch`, including `cache`, `credentials`, `headers` and `mode`. How does that sound?

[2018-05-09 02:14] rajsite commented on #13
@caisq those should handle my current usage 👍
Also, being able to make my own IOHandler sounds like a good backup.

[2018-05-09 03:33] caisq commented on #259
@FreezePhoenix  I played around the code you provided on CodePen a little if I add the following line to the `then` block for `model.fit()`:

[code]

I can see that the loss value decreases over the three epochs. But the change was very small. Have you tried increasing the learning rate? If you do `this.model.compile({loss: "meanSquaredError", optimizer: 'sgd'});`, the learning rate you get from t

[2018-05-09 03:33] #259 closed

[2018-05-09 15:06] caisq commented on #279
cc myself

[2018-05-09 15:15] atanasster opened #281 "Make optimizer constructor arg defaults consistent among core and layers"
Hi @caisq - just a question, not an issue.
I saw your referencing sgd default learningRate being 0.1 in another thread, but I am a bit confused. Can you please tell us why some optimizers seem to have default learningRate values (ie adam 0.001), while sgd doesnt seem to have a default value. Or if they do have default values somewhere else, can you pls point me in this direction.

[2018-05-09 15:26] davidsoergel commented on #281
When referencing optimizers by name in the Layers API, default arguments are provided in https://github.com/tensorflow/tfjs-layers/blob/master/src/optimizers.ts.

However the underlying implementations in the Core API do not provide defaults: https://github.com/tensorflow/tfjs-core/blob/master/src/optimizers/optimizer_constructors.ts

Hope this helps!

[2018-05-09 15:27] tafsiri commented on #272
@hyun-yang to help us understand this use case, could you describe how you would generally load a file from a local folder in ionic?

[2018-05-09 15:28] atanasster commented on #281
thanks @davidsoergel , helps a lot - any reason some models have defaults in the Core API while other only have them when referencing by name?

[2018-05-09 15:34] atanasster commented on #281
I got confused, because I was checking the code in tfjs-core and didnt expect defaults are split with tfjs-layers. Btw, some optimizers even have defaults in their constructors, seems a bit confusing, no?

https://github.com/tensorflow/tfjs-core/blob/master/src/optimizers/optimizer_constructors.ts
`static adam(learningRate = 0.001, beta1 = 0.9, beta2 = 0.999, epsilon = 1e-8):`

and https://github.

[2018-05-09 15:39] atanasster commented on #281
As a side note, some defaults are duplicated in layers and in core and rmsprop have a slightly different value for momentum:
null in layers and 0 in core

[2018-05-09 15:52] #257 closed

[2018-05-09 15:55] davidsoergel commented on #281
Oh whoops, you're right, I overlooked the defaults in core.  Sorry for the confusion.  Reopening and renaming re cleaning this up.  Thanks!

[2018-05-09 15:56] atanasster commented on #281
thanks, thats great. Any chance you can consolidate the defaults in core, preferably in the constructors?

[2018-05-09 16:01] tafsiri commented on #281
I suspect the ones that have defaults are ones that have some corresponding paper that suggested good defaults. For examples adam optimizer references https://arxiv.org/abs/1412.6980 which suggests defaults. There is a chance we are missing references for some. But we should do some cross comparison to align these, or document differences/sources.

[2018-05-09 16:40] caisq opened #282 "Add environment flag for browser vs. node.js in tfjs-core"
To get help from the community, check out our [Google group](https://groups.google.com/a/tensorflow.org/forum/#!forum/tfjs).

#### TensorFlow.js version 0.10.3

The flag can be used in tf.io.* functions and classes.

[2018-05-09 16:43] ManrajGrover commented on #281
@atanasster I believe we took defaults for optimizers from Tensorflow and referenced papers into consideration while implementing them in Core API to keep things aligned.

[2018-05-09 16:44] #277 closed

[2018-05-09 16:46] atanasster commented on #281
Thanks @ManrajGrover makes sense for core, not sure about the layers API, the defaults dont seem to match the keras defaults : https://faroit.github.io/keras-docs/0.2.0/optimizers/

[2018-05-09 16:48] atanasster commented on #281
Source here - https://github.com/keras-team/keras/blob/master/keras/optimizers.py
ex SGD (learningRate 0.01):
[code]

[2018-05-09 17:14] ManrajGrover commented on #281
@atanasster I see. Keras out of the box implements its own optimizers with defaults which may not align with Tensorflow.

@davidsoergel I'm not sure whether we want to align Keras with Layers API or with Tensorflow. I'll double check if Core API aligns with Tensorflow for now.

[2018-05-09 17:17] atanasster commented on #281
I think tensorflow defaults make more sense. The compatibility is very nice, but will be very hard to keep maintaining. Was just pointing out at the differences - maybe in cases where tf does not have specific defaults, the keras ones can be used?

[2018-05-09 17:41] atanasster commented on #281
@ManrajGrover - the API does not fully comply with tensorflow, although it most closely resembles to constructors API in core.

ex RMSProp:

https://github.com/tensorflow/tfjs-layers/blob/master/src/optimizers.ts  (lr: 0.001, momentum: null, epsilon: 1e-8)
[code]

https://github.com/tensorflow/tfjs-core/blob/master/src/optimizers/rmsprop_optimizer.ts (lr: undefined, momentum 0.001, epsilon: 1e-8)

[2018-05-09 18:10] ManrajGrover commented on #281
@atanasster I don't see a difference between Core API and RMSProp of Tensorflow other than epsilon value which is a value of choice for numerical stability. And yes I agree that there is a difference between defaults of Keras and Layers API.

[2018-05-09 18:12] atanasster commented on #281
yes, the epsilon was the difference. Any idea why it is different on the two platforms?

[2018-05-09 20:49] bileschi opened #283 "Feature Request: Support for portable Lambda layers in tfjs-layers"
In Keras, [Lambda layers](https://keras.io/layers/core/#lambda) are custom layers that allow a user to specify the function of a layer with arbitrary python code.  This provides great flexibility, allowing users to perform operations beyond those possible by the provided stock layers.  Unfortunately, the python-defined lambda layers are not portable to run in the JS runtime.

The current Keras Lam

[2018-05-09 21:59] pyu10055 commented on #266
@tangtai does React native support loading file locally? If so, this would be similar to node.js env, we can provide API to load the model and weights from local file system instead of urls.

[2018-05-09 22:18] tangtai commented on #266
hi @pyu10055 , react native can definitely load local json files, as for other files that created by the tensorflowjs converter i am not so sure, since they don't have a file format.  I'm wondering how exactly does the loadModel function turns the json file into a tf.Sequential(). Even if the model is loaded from url other than CORS, if tf.Sequential() is a javascript object, i think react native

[2018-05-09 22:31] pyu10055 commented on #266
Adding @caisq to this conversation. That could be a better route, we should move to a more generic loading API, sitting on top of the new serialization mechanism, which allows you to create io handler to store and load models for different storages.

[2018-05-10 01:15] caisq commented on #266
`tf.loadModel()` works by
1. making a request to the specified `model.json` path. In the JSON response, there is a field called `weightsManifest`, containing a number of relative paths.
2. requesting binary weight values from the relative paths.

So he server that serves `model.json` must be able to work with relative path. This is the case for Google Cloud Storage, as many of our example and demo

[2018-05-10 02:05] tangtai commented on #266
@caisq for AWS s3 buckets you can enable CORS sharing, but it is a web thing, react native can't not do it while React can.

[2018-05-10 02:28] tangtai commented on #266
@caisq I’m using react-native which is a JavaScript platform for mobile deve

[2018-05-10 02:38] caisq commented on #266
@tangtai Actually,  tf.loadModel in version 0.10.3 of tfjs doesn't actually call `FileReader.readAsArrayBuffer` directory. It should call only `fetch`. Is the call from your own code?

[2018-05-10 02:46] hyun-yang commented on #272
@tafsiri
Thanks for your concern, I'll let you know when I uploaded test project for this.

[2018-05-10 10:08] MengShaoying commented on #277
Thanks, I see that
(1) Obviously, tensor `test` still exists after `tf.setBackend()`, but `tf.memory().numTensors` is 0. Actually, after `tf.setBackend()`, `tf.memory().numTensors` is always 0. So, `tf.memory()` can't be use to show how many tensors exists in memory before `tf.setBackend()`, or tensors before `tf.setBackend()` shouldn't exists.

[code]

(2) The tensors created before `tf.setBacken

[2018-05-10 11:44] cclcalder opened #284 "Indices must be of dtype `int32` tf.gather"
To get help from the community, check out our [Google group](https://groups.google.com/a/tensorflow.org/forum/#!forum/tfjs).

#### TensorFlow.js version
0.10.0

#### Browser version
https://js.tensorflow.org/api/0.10.0/#gather

#### Describe the problem or feature request
When I testing tf.gather on the docs page
Error is thrown: Indices must be of dtype int32

#### Code to reproduce the bug / lin

[2018-05-10 13:13] SiddhantKapil opened #285 "Error: Missing field "modelTopology" from model JSON"
To get help from the community, check out our [Google group](https://groups.google.com/a/tensorflow.org/forum/#!forum/tfjs).

#### TensorFlow.js version
0.10.3

#### Browser version
Version 62.0.3202.89

#### Describe the problem or feature request
When loading a model using tf.loadModel I get modelTopology feild missing error.
I checked the model.json and found "modelTopology": null.
I even tried

[2018-05-10 14:15] tushuhei commented on #85
@pyu10055 Thank you for your info! I've managed to fix the issue by upgrading tfjs-core and tfjs-converter in dependency.

[2018-05-10 14:59] #245 closed

[2018-05-10 15:26] davidsoergel commented on #284
Yep, thanks @ManrajGrover for the tip!

[2018-05-10 15:26] #284 closed

[2018-05-10 15:35] davidsoergel commented on #283
IIUC the proposal is effectively to add a GraphDefLambda layer (which might be a cleaner way to think about it than overloading the existing Lambda representation).

I feel this is not something we can address in the context of TF.js alone-- it's about the exchange format (e.g., keras.json).  It's certainly worth tracking here because we are thinking about it, but actually making it work would req

[2018-05-10 15:49] davidsoergel commented on #271
Thanks for the request!  We are working to expand the coverage of TensorFlow Ops in TF.js.  I can't say when these will be done, but user feedback does help up prioritize.

I vaguely recall that spectrograms are a special case-- @nsthorat, was this one of those situations where the browser implementation differs subtly from the TF implementation and so breaks imported models?

[2018-05-10 16:40] davidsoergel opened #286 "Add tutorial for performance debugging / profiling."
From https://groups.google.com/a/tensorflow.org/forum/#!topic/tfjs/_IDVt3wQFXA:

What are best practices in timing operations that involve data transfer between CPU/GPU to identify bottlenecks?

[2018-05-10 16:54] fchollet commented on #283
I'm generally interested in serializing `Lambda` layers at the level of the graph of operations rather than as Python bytecode. However I would see the following requirements:

- Should be done in a TF-agnostic way in standalone Keras (`tf.keras` could use graphdef, but then we should limit this behavior to models saved as `SavedModels` to keep the Keras format compatible with other backends).
- I

[2018-05-10 17:18] davidsoergel commented on #286
It might be sufficient to update https://deeplearnjs.org/docs/tutorials/performance.html and move it to the new TF.js site.

[2018-05-10 18:05] tangtai commented on #266
the version of tfjs Im using is @ version 0.10.3.

[2018-05-10 18:18] davidsoergel commented on #283
This in not exactly a dup but still closely related to #254.

[2018-05-10 18:56] caisq commented on #286
cc @dsmilkov

[2018-05-10 19:27] shiffman commented on #280
As an FYI we're hoping to tackle this with ml5! See:
https://github.com/ml5js/ml5-library/issues/113

[2018-05-10 19:30] davidsoergel commented on #280
Excellent!  See also #252.

[2018-05-10 19:30] #280 closed

[2018-05-10 19:31] davidsoergel commented on #252
See also https://github.com/ml5js/ml5-library

[2018-05-10 20:06] josiahbryan commented on #36
@erikwilson - I was just trying to use tfjs in Node - nonstarter for me, since requestAnimationFrame didn't exist, even when trying to use the `raf` polyfill from `npm`.  (I was able to at least load tfjs using the `esm` module from NPM, so at least `import * as tf from '@tensorflow/tfjs';` executed as expected.)

Can you share any info on how you got the CPU backend to work in Node? That would be

[2018-05-10 23:53] atanasster opened #287 "Safari issue"
Hi, I get the following issue in Safari, same site works fine in Chrome and Firefox:

`Unhandled Promise Rejection: Error: Dropout is not implemented for LSTMCell yet`
I get it right after the known Safari issue `WebGL: INVALID_ENUM: readPixels: invalid type`

Let me know if you need the deployment site and code

[2018-05-11 00:07] atanasster commented on #287
with tf.setBackend('cpu'); works fine in Safari, seems it WebGL related

[2018-05-11 14:36] nsthorat commented on #287
Unfortunately "WebGL: INVALID_ENUM: readPixels: invalid type" comes from when we feature test readPixels on Safari and is a red herring.

Does your application still work?

[2018-05-11 14:38] atanasster commented on #287
No, the app dissent work. I had to start detecting Safari browser and drop to CPU if detected.
I understand about INVALID_ENUM, but the `Unhandled Promise Rejection: Error: Dropout is not implemented for LSTMCell yet` is the one stopping the app.
Dense layers work fine on GPU even with the `INVALID_ENUM` error

[2018-05-11 14:53] atanasster opened #288 "Activation serialization in production mode minified"
When I have 6.0.1 installed, the model.getConfig() serializes the activation function as a single letter character.
ie:
[code]

the same code on 5.6.0:
[code]

similar for other activation functions. `"activation": "linear",` -> `"activation": "f",`

[2018-05-11 16:01] davidsoergel commented on #288
Which package are these version numbers referring to?

[2018-05-11 16:07] atanasster commented on #288
thanks @davidsoergel for looking into this:
`npm -v @tensorflow/tfjs`

[2018-05-11 16:13] davidsoergel commented on #287
Can you call getConfig() on your LSTM layer to see what the values of the dropout and recurrentDropout fields are?  Since you're not passing them in, the constructor logic should set them to 0.  But: that error indicates that at least one of them is something else, and it would be informative to know what.

[2018-05-11 16:17] atanasster commented on #287
I have this:
[code]
both in 5.6 and 6

[2018-05-11 16:27] atanasster commented on #288
oops, you are right, haven't been sleeping much the last couple of days. Actually I have the same version @tensorflow/tfjs@0.10.3 both on the server and client. No idea what other lib could be the reason, I am mostly synced with my heroku server.

It might help to try it out yourself for this and the issue for WebGL, here is a link to the site:
https://crypto-grommet.com/models/playground
I have r

[2018-05-11 16:40] atanasster commented on #288
another difference I can think of is that the heroku server does not have a GPU, while my dev is a MacBook Pro with a GPU. no idea why this could affect getConfig

[2018-05-11 16:52] hpssjellis opened #289 "Need more tfjs-models PoseNet images of different resolutions on the cloud storage"
For the Posenet Coco_images demo [code here](https://github.com/tensorflow/tfjs-models/blob/8ff589193388fddf7b51409b02c8ab49c2fca697/posenet/demos/coco.js) It needs more images that have different sizes. (I don't see an active demo for the coco_images yet. )

[Image Example](https://storage.googleapis.com/tfjs-models/assets/posenet/soccer.png)

All the images are 513 x 513, but the demo mentions o

[2018-05-11 17:51] davidsoergel commented on #288
Let's back up a couple of steps.  What are these two environments?  On your local dev machine, I imagine you build your app with webpack and then load up the resulting html+js in a browser, so TF.js is part of the bundle and runs in the browser.  On the Heroku side, you're rebuilding the app on the server, as opposed to just statically hosting the webpacked app?  Is there some magic happening wher

[2018-05-11 18:01] ericdnielsen commented on #288
Activations use a different code path for serialization than just about anything else, and this sounds like a minification problem.

[2018-05-11 18:03] atanasster commented on #288
Sorry, I didnt give enough background.
I am building with nextjs(webpack is under the covers) and on my local machine in dev mode and with nextjs with hot reloading
On the server, I am using a production build and then serving from a nodejs 10.0 server
@ericdnielsen might be onto something with the minification

[2018-05-11 18:06] atanasster commented on #288
and the shortened names seem consistent - always 'p' for sigmoid, 'f' for linear etc.

[2018-05-11 18:47] caisq opened #290 "Internal cleanup: `tf.loadModel` with HTTP URLs or Paths should use tf.io.browserHTTPRequest"
In particular, a `load` method should be added to the `BrowserHTTPRequest` class.

[2018-05-11 19:04] ericdnielsen commented on #288
Working on a fix, but probably won't have it until next week.

[2018-05-11 19:16] dsmilkov opened #291 "Propagate NaNs for failing tests on Mac OS 10.3.4"
Tests in core are failing on Mac OS 10.3.4 due to newer GPU drivers. The problem is related to NaN Propagation. See https://github.com/tensorflow/tfjs-core/pull/1001 for a pointer how to fix this.

[2018-05-11 19:44] davidsoergel commented on #262
Looks like Ping already fixed this in tensorflow/tfjs-converter#113.

[2018-05-11 19:46] davidsoergel commented on #262
That fix was included in tfjs-converter 0.3.1 so you should be good to go.  Thanks for the report!

[2018-05-11 19:46] #262 closed

[2018-05-11 19:47] dsmilkov commented on #278
Thanks! Can you also share the code that does the transpose? I can only see the tensor construction

[2018-05-11 19:59] bileschi commented on #278
Hey sorry.
`a.transpose()`

updated the original to include
This is reproduceable in the editable snippets on the site.

[2018-05-11 20:44] atanasster commented on #288
Thanks, since we are just reporting issues here, wanted to tell evveryone what a fantastic job you have done. Its a game changer and is very much appreciated

[2018-05-11 20:48] atanasster commented on #287
Are you able to reproduce, do you need drivers and hardware specs?

[2018-05-11 20:55] dsmilkov commented on #278
Thanks and no worries. I was curious if you were passing any special permutation as an argument. Should to be easy to fix this. Assigning to myself.

[2018-05-11 21:15] davidsoergel commented on #287
Yep I repro'd this via your app link in #288 but don't understand it yet.

To help narrow down the cause: can you try explicitly passing dropout=0 and recurrentDropout=0L

[2018-05-11 21:19] atanasster commented on #287
I tried, and it still happens. Actually you can use the editor (click on the gears next to the LSTM layer) and change most any values if that might help to understand whats going on.
I also have the code in the GitHub link, might this help?
Just let me know if you need any of my system information, and also when I can put back my Safari check to drop down to CPU

[2018-05-12 01:29] jgartman commented on #161
Just an update in case anyone is following along with this issue.  When https://github.com/tensorflow/tfjs-core/pull/1022 gets merged I'll open up .a PR for a 6D sampler.  After that these ops should be easy to support and I'll open a separate PR for `batchToSpaceND`.

[2018-05-12 02:40] EddieOne opened #292 "loadFrozenModel, Cannot read property 'io' of undefined"
#### TensorFlow.js version
0.10.3

#### Browser version
Chrome 66

#### Describe the problem or feature request
I'm having problems loading a frozen model from mobilenet and tfjs convert. I get an error `TypeError: Cannot read property 'io' of undefined`.

#### Code to reproduce the bug / link to feature request

[code]

[2018-05-12 07:28] hyun-yang commented on #272
@tafsiri
Just uploaded demo project [https://github.com/hyun-yang/tfjsionicdemo](url)

[2018-05-12 12:31] manrajgrover opened #293 "Explore possibility of reducing bundle size"
To get help from the community, check out our [Google group](https://groups.google.com/a/tensorflow.org/forum/#!forum/tfjs).

#### TensorFlow.js version
0.10

#### Browser version
NA

#### Describe the problem or feature request
Currently, uglify does not remove trailing new lines, whitespaces, and comments in template strings being used in shaders. This is justifiable as uglify does not know whet

[2018-05-12 15:14] oveddan commented on #289
I see the need to have different sized images - but I think it would be a lot to maintain to have different sized images stores for each image.  That means every time we add an image we would need to add one of all the different scales.

It would be better if we had a dropdown that let you choose the image size.  The image size would have to be one of the acceptable images sizes where  `((InputIma

[2018-05-12 15:51] jgartman commented on #161
@zaidalyafeai Ya, I  think I have it done for the most part.  Since it's so similar to your PR I was just going to wait until yours gets reviewed.  Then I can take any comments from the review for 5D into account before I open another PR.

[2018-05-13 03:17] dsmilkov commented on #293
Thanks for opening this issue as a place to brainstorm ideas for bundle size reduction.

Regarding the particular proposal about shader code: my sense is that you won't get much savings, especially since the bundle is served as gzipped content - at least not enough savings to justify the additional build/deploy complexity.

[2018-05-13 10:22] chaosmail opened #294 "Using the video frames as a texture in tf.fromPixels without canvas element"
#### TensorFlow.js version

master

#### Describe the feature request

I was looking for a way to feed video frames into tfjs without sampling from the video element manually through canvas. According to this [MDN Tutorial Animating_textures_in_WebGL](https://developer.mozilla.org/en-US/docs/Web/API/WebGL_API/Tutorial/Animating_textures_in_WebGL#Using_the_video_frames_as_a_texture) it should be po

[2018-05-14 01:25] chenjin3 commented on #229
@pyu10055  Not work. 😕

[2018-05-14 05:58] chenjin3 commented on #258
@pyu10055 No, it saved by tf.saved_model.builder. The model with quantization works well on tflite but on web. My command line are as follow:
[code]

[2018-05-14 10:32] traboukos commented on #13
@caisq I am trying to load a Keras model through node.js on the backend. I see that an IOHandler interface is present and it is used by the loadModel function. Is it currently possible to implement such an interface for use with node.js ? Should I give this a try or are other parts missing for this to work ? Is this functionality maybe going to be implemented on the tfjs-node repo ?

[2018-05-14 13:43] #278 closed

[2018-05-14 14:16] ichitaka commented on #292
Having the exact same issue with the Mobilenet demo.

[2018-05-14 14:42] nsthorat commented on #13
We're going to implement IOHandlers for writing to disk for tfjs-node very soon!

[2018-05-14 14:43] davidsoergel commented on #292
I'm pretty sure this is due to a package versioning problem.  The current tfjs-converter release depends on tfjs-core 0.10.0, but the tfjs union package release (0.10.3) provides only tfjs-core 0.8.3.

The tf.io package was introduced in tfjs-core between those two versions, and tfjs-converter requires it (due to https://github.com/tensorflow/tfjs-converter/pull/99).

So I think the solution will

[2018-05-14 14:54] ericdnielsen commented on #288
Fix has been merged:
https://github.com/tensorflow/tfjs-layers/pull/176

[2018-05-14 14:54] #288 closed

[2018-05-14 15:04] nsthorat commented on #294
You can pass an HTMLVideoElement directly to tf.fromPixels!

[2018-05-14 15:09] nsthorat commented on #292
Working on a fix right now, but if you use an older version of the converter you won't have the issue:

`<script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs-converter@0.2.0"></script>`

[2018-05-14 15:43] davidsoergel commented on #294
Whoops I had misunderstood the question.  Looks like all is well then!  @chaosmail, please reopen if this doesn't solve your problem.  Thanks!

[2018-05-14 15:48] davidsoergel commented on #294
No wait, @chaosmail is right-- the implementation copies the video frame to a canvas in order to then read it into a texture, and it looks like that extra step my be avoidable (at least in some browsers?).

[2018-05-14 16:03] nsthorat commented on #294
Oh great point. I don't remember why we did this, this changed recently when we added a FromPixelsProgram. Daniel wrote this code so we should ask him when he gets back unfortunately, I'm sure there was a good reason since it was added explicitly.

@dsmilkov for your pile of email when you get back from vacation ;)

[2018-05-14 16:51] 00hello opened #295 "Posenet not working. Warning: D3D shader compilation..."
#### TensorFlow.js version 0.10.3

#### Chrome version 66.0.3359.139

I've run the demo on both the main site ( https://storage.googleapis.com/tfjs-models/demos/posenet/camera.html ) and my own local site. The right hand side controls show and the FPS canvas on the left hand side but no video window comes up. It's just white space. And I get the same two errors in the console.

Followed by

Both e

[2018-05-14 17:34] pyu10055 commented on #292
or if you are only using converter you can replace the union package with
<script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs-core"> </script>

[2018-05-14 17:58] pyu10055 commented on #85
@kimamula do you still having the some issue as before? I tried your model, it should works as expected.

[2018-05-14 18:18] 00hello commented on #295
Found out where the problem was. I needed to updated my NVIDIA display driver.  It was several versions behind.

[2018-05-14 20:08] #282 closed

[2018-05-15 13:48] erikwilson commented on #36
@josiahbryan Are you calling `requestAnimationFrame` or `tf.nextFrame` yourself? Since there is no UI to render I imagine that part could be taken out?

Model & data i/o are pretty important, that is a whole other issue I was trying to tackle too and hope will be solved here soon.

[2018-05-15 14:18] cpury opened #296 "Feature Request in Layers: Store best model with save_best_only."
#### TensorFlow.js version
0.10.3

#### Browser version
Latest Chrome

#### Describe the problem or feature request
When training on a just a few samples as usually happens in the browser, training and validation loss tend to jump around a bit.

It would be great if we could automatically get the best model after training finishes.

This is possible in Keras with the `ModelCheckpoint(save_best_onl

[2018-05-15 14:47] ToonTalk opened #297 "Problem with deeplearnjs.org certificates"
Chrome warns me "Your connection is not private"

And yet when I proceed it is fine and mentions that things have moved to tensorflow.js

[2018-05-15 15:18] josiahbryan commented on #36
I agree, the saving of the data really would be a showstopper anyway.
Regarding calling those frame functions, I wasn't calling it either of
those, somewhere internally it was doing it itself and I couldn't figure
out how to stop it.

On Tue, May 15, 2018, 9:48 AM Erik Wilson <notifications@github.com> wrote:

[2018-05-15 15:19] nsthorat commented on #36
Model exporting is very close to being done. We will have a release soon for browser exporting, and the node work will be next.

[2018-05-15 15:47] bileschi commented on #297
Thanks for letting us know!  At some point deeplearnjs.org will redirect to js.tensorflow.org : see https://github.com/tensorflow/tfjs-website/issues/140

Moving this issue to tfjs-website
https://github.com/tensorflow/tfjs-website/issues/151

[2018-05-15 15:47] #297 closed

[2018-05-15 16:39] nsthorat opened #298 "Support tf.fromPixels in Node."
Right now we fail when checking the instance of pixels because ImageData is not defined.

See https://groups.google.com/a/tensorflow.org/d/msgid/tfjs/ef1bfe7f-128c-4c6c-bfa2-f462ebe2ffa5%40tensorflow.org

[2018-05-15 17:12] ManrajGrover commented on #131
Updating things here:

- [x] Absolute Difference
- [x] Cosine Distance
- [x] Hinge Loss
- [ ] Huber Loss
- [x] Log Loss
- [ ] Mean Pairwise Squared Error
- [x] Mean Squared Error
- [ ] Sigmoid Cross Entropy Loss
- [x] Softmax Cross Entropy Loss
- [ ] Sparse Softmax Cross Entropy Loss

I believe we can make a release and start replacing loss operations implemented in Layers with Core API. I don't t

[2018-05-15 22:21] nsthorat opened #300 "gramSchmidt-non-tiny unit tests takes > 3.5 seconds on a 1080GTX."
We should try to keep tests under 250ms as this will slow everyone down.

[2018-05-15 23:43] erikwilson commented on #36
Are you able to provide a stacktrace without the polyfill @josiahbryan? It would be easy to shim `requestAnimationFrame`, but it shouldn't be needed and we don't want to pollute the global namespace.

[2018-05-15 23:47] josiahbryan commented on #36
Sure, I can do that later this evening and I'll reply accordingly.

On Tue, May 15, 2018, 7:43 PM Erik Wilson <notifications@github.com> wrote:

[2018-05-16 03:09] #242 closed

[2018-05-16 08:56] Pravez opened #302 "model.fit() taking minimum 10 seconds to resolve with just 1 sample"
#### Describe the problem or feature request
Hello all, first of all thank you for creating  tfjs, it's really cool !
I am currently trying to implement a Deep Q Learning API in TypeScript using TensorFlowJS (or, its original version in typescript). Prediction works pretty fine, but I have a little problem (or misunderstanding ?) with the training.
Indeed, I am doing a bunch of little trainings wi

[2018-05-16 09:28] #302 closed

[2018-05-16 16:42] nkreeger opened #303 "Implement IORouterRegistry in the Node.js backend."
To get help from the community, check out our [Google group](https://groups.google.com/a/tensorflow.org/forum/#!forum/tfjs).

#### TensorFlow.js version

#### Browser version

#### Describe the problem or feature request

#### Code to reproduce the bug / link to feature request

[2018-05-16 16:43] nkreeger opened #304 "Add Node.js implementation for resizeBilinearBackprop"
The core TF library does not have an implementation for this so we'll have to piece it together using a combination of Ops.

[2018-05-16 16:43] bileschi commented on #300
@caisq Should we:
1. Do nothing
2. Reduce the size of the gramSchmidt matrix to get the test under time cap
3. Remove the test altogether
4. Something else
?

[2018-05-16 16:46] caisq commented on #300
Maybe 2. I think the test is running under test time cap and passes. It's just showing up in the "slow tests" warning.

[2018-05-16 16:47] bileschi commented on #296
Great suggestion!  FYI, model copying is coming soon.  Please follow https://github.com/tensorflow/tfjs-core/pull/1038 for guidance on that front.

[2018-05-16 19:16] kylemcdonald opened #305 "tensorflowjs Dockerfile"
I would like to request a single Dockerfile that builds the latest tensorflowjs from source. This will help folks who want to test features before they are published. I've done my best to create a Dockerfile based on miniconda3: https://gist.github.com/kylemcdonald/4ee140f527e1c6c9ae3fd12dd8bb6b3b

I tried to combine everything I learned from these documents:

- https://github.com/tensorflow/tfjs/

[2018-05-16 19:32] nsthorat commented on #300
Yep, it's just a warning. I think 2 makes sense.

[2018-05-16 21:00] kylemcdonald commented on #292
I'm also seeing this, but can't use an old version of tfjs-converter because I want to load a model that was converted by the most recent tfjs-converter. If I use the older version I get:

[code]

[2018-05-17 00:41] EddieOne commented on #292
Ah, I wish Google groups would show in Google search. 😞  0.2.0 is no good. `Error: Tensor is disposed.`

[2018-05-17 02:52] bileschi commented on #292
Yes, sorry for the trouble.  Newer tfjs-converters should not have this problem.  All new problems now ;)

[2018-05-17 13:02] Giorat opened #306 "Error while converting tensorflow frozen model"
#### TensorFlow.js version
tensorflow/tfjs-converter
version:  0.3.1

#### Describe the problem or feature request
Running this command when trying to convert a Tensorflow model PB

I get this error
 `c:\users\giora\anaconda3\lib\site-packages\h5py\__init__.py:36: FutureWarning: Conversion of the second argument of issubdtype from float to np.floating is deprecated. In future, it will be treated a

[2018-05-17 13:55] bileschi commented on #306
I suspect the issue is that the --outut_node_names needs to be set ... investigating

[2018-05-17 14:13] Giorat commented on #306
How can I know what should be the --output_node_names value? Is it find-able with the pb file?

I used [this notebook to test the pb file](https://colab.research.google.com/drive/1RVjA23q9WJHEHd9yh8ljoK-nNjOv3sk1) and used 'loss:0' as output_layer but using it as --output_node_names  give others errors.

[2018-05-17 14:28] bileschi commented on #306
Typically I would use `saved_model_cli`
https://www.tensorflow.org/versions/r1.2/programmers_guide/saved_model_cli

I wonder if the artifact produced from customvision.ai isn't technically a saved_model?

[2018-05-17 14:32] bileschi commented on #306
Can you try modifying your colab to export a `SavedModel`?
https://www.tensorflow.org/programmers_guide/saved_model

[2018-05-17 19:33] bileschi commented on #233
I think this is supported now:  See this test:
https://github.com/tensorflow/tfjs-layers/blob/master/src/layers/convolutional_test.ts#L662

[2018-05-17 19:33] #233 closed

[2018-05-18 01:47] nbardy opened #307 "Chaining is broken with round"
Issue shows up locally and with example code in the docs

https://js.tensorflow.org/api/0.10.0/#round

NOTE:
`tf.round` works fine.

[2018-05-18 03:15] caisq commented on #307
Confirming I can reproduce this bug on tfjs website at the URL provided by @nbardy

[2018-05-18 05:04] ManrajGrover commented on #307
Cannot reproduce this error from HEAD. This was fixed in https://github.com/tensorflow/tfjs-core/pull/994

[2018-05-18 13:17] caisq commented on #307
Thanks, @ManrajGrover ! I'll close this issue for now.

[2018-05-18 13:17] #307 closed

[2018-05-18 18:43] larrylindsey opened #310 "tfjs + Distributed TensorFlow?"
Hello, tfjs looks awesome! I'm curious if there is support, or planned support for using tfjs in a distributed way? (I'm thinking in this sense: https://www.tensorflow.org/deploy/distributed)

[2018-05-18 18:55] caisq commented on #13
Update:
The model importing and exporting feature for the browser environment are launched with @tensorflow/tfjs release 0.11.1. Please see tutorial at:
https://js.tensorflow.org/tutorials/model-save-load.html

Please use the new API and let us know what you think. If you find bugs or have enhancement requests, please file GitHub issues.

I will leave this issue open for now because we plan to mod

[2018-05-18 19:03] caisq commented on #13
You can play with the runnable code snippets on our website to get a feeling of the new API:
https://js.tensorflow.org/api/latest/#loadModel

[2018-05-18 19:43] EddieOne commented on #306
output_node_names is the same as final_tensor_name when training. Usually, `final_result` by default.

[2018-05-18 19:53] EddieOne commented on #292
Should I still wait or what is the solution? :)

[code]

No luck with the above code

[2018-05-18 20:02] ericdnielsen commented on #131
I've been working through some of those differences.  The current approach I'm trying to take is to preserve the Layer's API defaults at the level of any of the objects (Layers, Initializers, etc) in order to preserve serialization compatibility, while migrating internal symbols/functions to match core -- often this means making sure layers always explicitly sets a default.

[2018-05-18 20:09] ManrajGrover commented on #131
@ericdnielsen Ah, got it. Thanks for sharing this.

[2018-05-18 20:50] caisq commented on #292
@EddieOne Sorry for closing the issue prematurely. Please wait for some additional changes that need to go into tfjs-converter.

[2018-05-18 22:47] EddieOne commented on #292
Ok I thought so. Sorry, I've been waiting since Tensor Fire. I'm pretty sure tfjs will be very important in the near future, so good to see a lot of interest now.

[2018-05-19 13:01] kwichmann commented on #200
What's the status on this?

[2018-05-19 15:57] caisq commented on #310
@larrylindsey Thanks for the inquiry. Are you thinking of distributed training with node.js in the backend or with some sort of novel paradigm in the frontend?

[2018-05-19 17:09] kimamula commented on #85
@pyu10055 Sorry, the error was due to my fault.
I confirmed that every thing is working fine now.
Thanks!

[2018-05-19 17:45] Melvin-Abraham opened #311 "tf.ClipByValue() does not work as expected for the parameters 0, 1"
#### TensorFlow.js version: 0.10.0

#### Google Chrome version: 66.0.3359.181

The `tf.ClipByValue()` function fails to clip the values in a tensor when `clipValueMin` is set to 0 and `clipValueMax` is set to 1.

[code]

[2018-05-19 20:45] timblakely commented on #310
TF in the browser is limited to the computation available locally. Model performance will likely be limited on mobile platforms, including laptops, a common platform for web developers. In addition, many laptops don't have discrete graphics cards, so reaching out to remote workers that have significantly larger compute resources (e.g. a cloud instance of TF with one more more V100s) would allow si

[2018-05-20 01:19] caisq opened #312 "Layers API: Add stopTraining to tf.Model.fit() callback logic"
#### TensorFlow.js version
0.11.1

Currently tf.Model.fit() does not support stopping of training by callbacks. The same logic exists in Keras and we should add it to tfjs as well.

[2018-05-20 02:51] caisq commented on #311
cc @nsthorat @dsmilkov

[2018-05-20 03:29] PengWang0316 opened #313 "tf.fromPixels() function throw an error under 0.11.1"
To get help from the community, check out our [Google group](https://groups.google.com/a/tensorflow.org/forum/#!forum/tfjs).

#### TensorFlow.js version
0.11.1
#### Browser version
Chrome Version 66.0.3359.181
#### Describe the problem or feature request
After updated the Tensor Flow js to 0.11.1, the tf.fromPixels() function throw an error:
Uncaught (in promise) TypeError: Cannot read property 'd

[2018-05-20 03:31] PengWang0316 commented on #313
Really exciting about this new version which can let me use Tensorflow js to my project with the new saving model feature. 👍

[2018-05-20 07:31] kylemcdonald commented on #261
@pyu10055 i am working with strided convolutions now and i see some strange behavior.

if i load weights and apply a convolution with stride=2, and then look in the middle of the image i see this in tfjs:

[code]

and this in python:

[code]

this is correct. but if i look at the top left corner:

[code]

[code]

if i switch my stride to 1 in tfjs, then i see the same result:

[code]

so it looks

[2018-05-20 08:13] kylemcdonald opened #314 "batchNormalization has different parameter order than tensorflow"
Using tfjs-0.11.0, [tf.batchNormalization](https://js.tensorflow.org/api/0.11.1/#batchNormalization) has the parameters: `tf.batchNormalization (x, mean, variance, varianceEpsilon?, scale?, offset?)`

[tf.nn.batch_normalization](https://www.tensorflow.org/api_docs/python/tf/nn/batch_normalization) has the parameters: `tf.nn.batch_normalization(x, mean, variance, offset, scale, variance_epsilon)`.

[2018-05-20 14:11] Giorat commented on #306
How can I convert a pb file to SavedModel @bileschi ?

[2018-05-20 16:38] moisesd37 opened #315 "Input shapes do not match"
#### TensorFlow.js version
0.11.1
#### Browser version
Google Chrome Version 66.0.3359.181 (64-bit)

#### Describe the problem or feature request
I am trying to train a simple model on a small data set (15 samples with 4 features each) so i can then try to predict a 6 sample data set.
Everything goes well until i try to do the actual prediction, the browser shows the following error:
[code]
It doe

[2018-05-20 17:06] woraperth opened #316 "Is it possible to set seed for tf.train.sgd() ?"
To get help from the community, check out our [Google group](https://groups.google.com/a/tensorflow.org/forum/#!forum/tfjs).

#### TensorFlow.js version
0.11.1

#### Browser version
Google Chrome version Version 66.0.3359.181

#### Describe the problem or feature request
Cannot find a way to set seed in tf.train.sgd. This means I cannot have the same result every time I refresh the page.

#### Cod

[2018-05-20 17:07] #316 closed

[2018-05-20 17:12] nsthorat commented on #292
Apologies for the delay, once we release this will be fixed. I have a fix pending in this PR: https://github.com/tensorflow/tfjs-converter/pull/136

I hosted a temporary version of the tf-converter for you until we release a new version of the converter (which will happen on Monday). This link will *not* be around forever, but if you really want to use it today you can use this:

<script src="http

[2018-05-20 17:17] nsthorat opened #317 "Support non-batched inputs for layers model.predict()."
Right now we expect a batched input when making a prediction.

We should allow predicting without a batch dimension (single example).

[2018-05-20 17:38] pyu10055 commented on #271
@pschlette I have been playing with the audio model, those three preprocessing ops, would more likely not be part of the tensorflow core ops. I will try to create an example first.

[2018-05-20 19:00] EddieOne commented on #306
In most cases, a pb file is a frozen SavedModel. It needs to be optimized for inference before converting though. The [first few steps here](https://codelabs.developers.google.com/codelabs/tensorflow-for-poets-2/#0) will get you a model ready for tfjs-converter. Note the `:0` part of the tensor name will not work.

[2018-05-20 19:12] nsthorat commented on #311
@reighlan this is a good starter bug!

[2018-05-20 19:14] nsthorat commented on #261
cc @oveddan looks like there's a small padding bug with convolutions with strided convolutions. If you have a chance, would you be able to take a look?

[2018-05-20 19:25] kylemcdonald commented on #261
this is my current workaround:

[code]

[2018-05-20 19:28] EddieOne commented on #85
What was the solution? for This `Error: Can't squeeze axis 2 since its dim '1001' is not 1`

[2018-05-20 20:00] EddieOne commented on #292
It works! Thank you brother. The first time you see TensorFlow in JS for yourself, it's magical.

[2018-05-20 20:04] nsthorat commented on #292
Remember, don't rely on this link ;) We'll have a release tomorrow!

[2018-05-21 00:00] kimamula commented on #85
Yes. The solution was reshaping the input with `[1, IMAGE_SIZE, IMAGE_SIZE, 3]`.

[2018-05-21 14:41] bileschi commented on #306
I'm not sure you can convert your current artifact to SavedModel.  I suspect you need to generate a SavedModel directly using the API in that link.  Does the `simple_save` API, described here, work for you?
https://www.tensorflow.org/programmers_guide/saved_model

[2018-05-21 15:20] Giorat commented on #306
I managed to convert this PB model to TFJS format. I found out the correct operation and node names with

`print(tf.contrib.graph_editor.get_tensors(tf.get_default_graph()))
 print(sess.graph.get_operations())`

then optimize the graph and reduce complexity
`
python -m tensorflow.python.tools.optimize_for_inference --input=model.pb --output=optimized_graph.pb --input_names="Placeholder" --output_n

[2018-05-21 15:27] bileschi commented on #200
Several memory leaks in layers have been patched up (tfjs-layers/#186).  Not clear if this fixes the root cause though.   Can you retry the test using layers 0.6.1 or better?

[2018-05-21 15:38] bileschi commented on #310
The plan for distribution of training depends on the use developer's use case.  If your team is using a node stack, the team is investing to make distributed training work there.  If your team is already invested in the python tensorflow stack, it is possible to export a TFJS model into a format that Python Keras can ingest, and use the model_to_estimator workflow to run your model using the distr

[2018-05-21 15:40] bileschi commented on #314
Thanks Kyle!  Will take a look

[2018-05-21 15:45] bileschi commented on #315
Hi @moisesd37 .  What is happening here is that the inputShape anticipates that the first dimension is the batch dimension (the number of training samples per fitting loop).

In order to fix this, you should do something like:

[code]

See this link for more info about inputshape
https://js.tensorflow.org/api/0.11.1/#sequential

[2018-05-21 20:13] bileschi opened #318 "Sequential.add should throw when creating a layer with zero or negative output size"
To get help from the community, check out our [Google group](https://groups.google.com/a/tensorflow.org/forum/#!forum/tfjs).

#### TensorFlow.js version
tfjs:"0.11.1"
tfjs-core:"0.11.0"
tfjs-layers:"0.6.1"
#### Browser version
66.0.3359.117
#### Describe the problem or feature request
Adding layers with invalid shapes should throw easier to read errors sooner.

#### Code to reproduce the bug / lin

[2018-05-21 21:13] bileschi opened #319 "FR: Improve error messages for invalid configuration objects"
To get help from the community, check out our [Google group](https://groups.google.com/a/tensorflow.org/forum/#!forum/tfjs).

#### TensorFlow.js version
  tfjs: "0.11.1",
  tfjs-core: "0.11.0",
  tfjs-layers: "0.6.1"
#### Browser version
66.0.3359.117
#### Describe the problem or feature request
Unhelpful error message when layers built with an invalid configuration
#### Code to reproduce the bug

[2018-05-22 01:02] oveddan commented on #261
@nsthorat sure I'll take a look

[2018-05-22 01:29] nkreeger opened #320 "Surface more device options in the Node.js bindings"
The TF C API has the ability to target specific devices for operations. We should surface that API to our users in the node.js binding.

[2018-05-22 01:51] nkreeger opened #321 "Add ability to ignore NaN tests on Node.js backend with CUDA"
By default, CUDA will set NaNs to 0 (or near zero). We need the ability to either:

a.) handle NaNs differently
b.) Add the ability to turn those off for when CUDA is running:

Output:
[code]

[2018-05-22 02:28] oveddan commented on #261
@kylemcdonald what is the size of any of the input tensors and convolutional filters that causes this issue?

[2018-05-22 08:36] FenrirWillow opened #322 "Posenet estimation requires explicit setting of the `width` and `height` properties on the input object."
#### TensorFlow.js version
`"@tensorflow-models/posenet": "^0.0.1" `
`"@tensorflow/tfjs": "0.10.3" `

#### Browser version
[code]

#### Describe the problem or feature request
When trying to implement the Posenet model, I have encountered an interesting problem. Passing an `HTMLVideoElement` into `estimateSinglePose` without it explicitly having a `width` and `height` property set results in this

[2018-05-22 10:32] ithinkiamdevesh opened #323 "Running tfjs posenet demo is failing with error- Uncaught (in promise) Error: Tensor is disposed."
#### TensorFlow.js version
Cloned the latest code from repo _https://github.com/tensorflow/tfjs-models_
Loaded dependencies through yarn.
Build code through parcel.

#### Browser version

Chrome Version 66.0.3359.181

#### Describe the problem or feature request

When running the examples(both coco and camera example) in browser it does not work and throws error in console.

Error:
_

_

#### Code

[2018-05-22 13:34] caisq opened #324 "Title line on js.tensorflow.org needs update given node.js support"
Currently, it reads: "A WebGL accelerated, browser based JavaScript library for training and deploying ML models." This doesn't cover node.js support obviously. We may need to think of a more general and all-encompassing title.

[2018-05-22 15:28] caisq commented on #200
@bileschi The memory optimization that went into the latest release is orthogonal to this issue. I have it on my TODO list to look at this issue soon.

[2018-05-22 17:30] nkreeger opened #326 "cumsum() reduces axes, but core TF Op does not expect axis reduction."
The current WebGL implementation of `cumsum()` reduces axis, however the core TF Op does not have an option to `keep_dims` like other reduction ops. We should adjust the shader to to this or have the ability to opt out of axis reduction:

TF implementation: https://github.com/tensorflow/tensorflow/blob/r1.8/tensorflow/python/ops/math_ops.py#L2433

Op registry: (search for "Cumsum" - too large for

[2018-05-22 17:44] notwaldorf opened #327 "The docs for `tf.tidy` are technically incorrect"
The docs for [`tf.tidy`](https://js.tensorflow.org/api/0.11.1/#tidy) say it `executes the provided function f` but none of the arguments are named `f`:
<img width="750" alt="screen shot 2018-05-22 at 10 40 47 am" src="https://user-images.githubusercontent.com/1369170/40379993-9aa99776-5dac-11e8-9ba4-62fc11d9fda6.png">

I think the fix is to update the comment [here](https://github.com/tensorflow/t

[2018-05-22 17:58] tafsiri commented on #324
How about "A JavaScript library for training and deploying ML models in the browser and on Node.js." cc @dsmilkov @nkreeger

[2018-05-22 18:10] caisq opened #328 "getConfig method is missing for tf.layers.concatenate"
#### TensorFlow.js version
0.11.1

This prevents models consisting of this type of layers to be saved and loaded properly.

[2018-05-22 19:08] bileschi commented on #327
yes please!  Thanks for reporting!

[2018-05-22 19:25] oeway commented on #254
Hi, I am looking for this feature too.

Just checked the code, how about do the following to allow pass a `customObjects` dict to loadModel?
What we need to do is:
1. add a parameter `customObjects` to `loadModel` [src/models.ts#L187](https://github.com/tensorflow/tfjs-layers/blob/367c353454eeb651d8d8f5b64a68178fb77f7d4c/src/models.ts#L187) and `loadModelInternal` [src/exports.ts#L158](https://git

[2018-05-22 20:01] oeway opened #329 "Implement tf.depth_to_space"
[tf.depth_to_space](https://www.tensorflow.org/api_docs/python/tf/depth_to_space) can be used as [sub-pixel convolution](https://arxiv.org/abs/1609.05158), which is an efficient way to implement image super-resolution. I hope this op can be prioritized, this will be critical for real-time application or mobile device.

[2018-05-22 21:56] hpssjellis opened #330 "Feature Request: Expand tf.print() capabilities to include formated output as a string. Also model.print(): summary, plot, JSON"
tf.print() is very useful. I wonder if the TFJS team sees any point in expanding it to include: String, HTML,  or textarea formatted output?

## // Default behavior prints to the console.

tf.ones([2, 5]).print();

Tensor
    [[1, 1, 1, 1, 1],
     [1, 1, 1, 1, 1]]

## // Default behavior, prints to the console with verbose information.
tf.ones([2, 5]).print(true);

Tensor
  dtype: float32
  rank:

[2018-05-22 22:08] furkilic commented on #313
Same as @PengWang0316 and @creativesands, very excited to save my model but unfortunately tf.fromPixel throws an error with the new version

[2018-05-23 02:26] #328 closed

[2018-05-23 03:46] caisq opened #331 "Loading model consisting of conv1d, maxPooling1d and dense layers fails"
To get help from the community, check out our [Google group](https://groups.google.com/a/tensorflow.org/forum/#!forum/tfjs).

#### TensorFlow.js version
0.11.1

Use the following code to reproduce:

[code]

[2018-05-23 03:59] dcunited001 commented on #75
shadergraph doesn't support webgl2 and can't be easily modified to do that. does TFJS use webgl 2?

[2018-05-23 04:29] dcunited001 commented on #75
it looks like TFJS does pull a [webgl2 context](https://github.com/tensorflow/tfjs-core/blob/ace9e0c4e838b07139973c7f895ec0d6859d7225/src/kernels/webgl/webgl_util.ts#L36), if available. but there aren't any constants associated with webgl2-specific features in the shader metaprogramming in tfjs-core.

@nsthorat if you want to do this, i would recommend running TFJS while Webgl-Inspector is running

[2018-05-23 12:00] dsmilkov commented on #324
Sounds good to me. We should also add a nodejs subsection in the Getting Started section.

[2018-05-23 13:46] nkreeger commented on #324
+1 - I can add something in that section today.

[2018-05-23 14:05] ericdnielsen commented on #322
@oveddan

[2018-05-23 14:05] ericdnielsen commented on #323
@oveddan

[2018-05-23 14:09] oveddan commented on #322
@FenrirWillow you need to give the element an explicit width and height via attributes.  Otherwise, Tensorflow.js would have no way of knowing what the width and height of the element are, without doing something like `getBoundingClientRect`

This should be documented, or we should throw an error if the width and height of the element is not known.

[2018-05-23 14:40] oveddan commented on #323
@ithinkiamdevesh what are the exact commands you are using to install the dependencies, build the demos, and run them?

[2018-05-23 15:22] ithinkiamdevesh commented on #323
Thanks @oveddan
I am running commands as follows:

C:\Users\dev\Desktop\test-project\tfjs-models>yarn
yarn install v1.6.0
[1/4] Resolving packages...
success Already up-to-date.
Done in 0.17s.

C:\Users\dev\Desktop\test-project\tfjs-models>cd posenet

C:\Users\dev\Desktop\test-project\tfjs-models\posenet>yarn
yarn install v1.6.0
[1/4] Resolving packages...
success Already up-to-date.
Done in 0.57s

[2018-05-23 15:50] classner commented on #161
+1, would be very helpful to have this!

[2018-05-23 16:02] ithinkiamdevesh commented on #323
Okay got it. This works.

C:\Users\dev\Desktop\test-project\tfjs-models>yarn
yarn install v1.6.0
[1/4] Resolving packages...
success Already up-to-date.
Done in 0.18s.

C:\Users\dev\Desktop\test-project\tfjs-models>cd posenet

C:\Users\dev\Desktop\test-project\tfjs-models\posenet>yarn
yarn install v1.6.0
[1/4] Resolving packages...
success Already up-to-date.
Done in 0.59s.

C:\Users\dev\Desktop\t

[2018-05-23 16:08] #331 closed

[2018-05-23 16:20] Giorat commented on #102
Is it possible to run the prediction of a model in web worker? Or is there a way to predict without freezing the browser UI cause GIFs in the page and other things remain still until prediction is completed.

Is there a workaround? @prijindal only training is possible inside a web worker?

[2018-05-23 16:49] jgartman commented on #161
The PR I linked to in the last update above is still in review so support for these ops is still waiting on that.  It's hard to give an estimate on time because it really just depends on how long it takes to get PR's merged but I don't think should be too much longer.

[2018-05-23 17:14] timotheebernard opened #332 "Prevent users from converting a model that has no topology"
To get help from the community, check out our [Google group](https://groups.google.com/a/tensorflow.org/forum/#!forum/tfjs).

Hi everyone and thanks for the great work!

Following this discussion https://groups.google.com/a/tensorflow.org/d/msg/tfjs/QV3n4NBDi70/pg2gCtdhCAAJ I'm creating this issue.

#### Describe the problem or feature request

tensorflowjs_converter does not prevent the user from

[2018-05-23 17:57] nkreeger commented on #324
We should update the README on the tfjs repo too. We currently have one button that links to Github on the site (which his tensorflow/tfjs)

[2018-05-23 19:26] #326 closed

[2018-05-23 19:45] zaidalyafeai commented on #161
@jgartman, what operations do you need for 5d tensors? For the time being I only implemented and tested `tile` since I need it for https://github.com/tensorflow/tfjs/issues/250. Maybe we can support the most important gpu operations for the time being? just to save now and then finalize the rest later.

[2018-05-23 20:37] dsmilkov opened #333 "Throw a user-friendly error when converting a model that lacks topology"
From the tfjs discuss mailing list:

Timothée BERNARD:

[2018-05-23 20:38] dsmilkov commented on #333
cc @caisq for how this can interact if in the future we allow exporting only weights from Keras.

[2018-05-23 20:51] dsmilkov commented on #333
Closing this one. Duplicate of #332

[2018-05-23 20:52] #333 closed

[2018-05-23 22:51] nsthorat commented on #102
If the page is freezing because of WebGL, you won't really get much from a web worker.

Have you tried sprinkling `await tf.nextFrame` between calls to TF.js and using `.data()` instead of `.dataSync()`?

[2018-05-23 23:10] oveddan commented on #322
@nsthorat should we add assertions that the input image or video has a width and height?

[2018-05-23 23:30] nsthorat commented on #322
Yeah I think that makes sense! It wouldn't make sense for us to actually add a width and height, I think that would be unexpected behavior.

[2018-05-24 00:13] pyu10055 opened #335 "Implement InferenceModel predict API for layer model"
https://github.com/tensorflow/tfjs-core/blob/master/src/types.ts#L152

[2018-05-24 00:58] jgartman commented on #161
@zaidalyafeai I'm only going to need `transpose`.

[2018-05-24 01:31] timotheebernard commented on #332
Hi again,

I must admit I'm a little bit confused. I started digging into the code and here's what I rapidly found: https://github.com/tensorflow/tfjs-converter/blame/master/python/tensorflowjs/converters/converter.py#L144

According to this code, a weights-only HDF5 file is one of the expected input format which contradicts @caisq message in the google groups: https://groups.google.com/a/tensorfl

[2018-05-24 01:33] EddieOne opened #336 "Feature Request: Progress event for model download"
I hardly notice myself. However, on slow 3G it takes about 5 minutes to download 0.75 MobileNet model. Having a progress bar for web based apps would be helpful to overcome the large downloads on slow connections.

[2018-05-24 02:36] timotheebernard commented on #336
👍  loadModel is based on fetch and it is possible to get the progress of a download with fetch, example:

- https://fetch-progress.anthum.com/fetch-basic/
- https://fetch-progress.anthum.com/fetch-basic/supported-browser.js

Maybe loadModel could work with a callback function:

[code]

Or, in order to not mix callbacks and promises, use a bluebird-like approach:

[code]
But this would imply using

[2018-05-24 04:08] EddieOne commented on #336
Alright, that's cool. We need more examples, thanks for sharing that code.

[2018-05-24 08:16] xam-ps commented on #184
Seems like the problem finally got fixed with version "0.11.1.".
Thanks for the good work!

[2018-05-24 08:16] #184 closed

[2018-05-24 09:03] yellowmouse90 commented on #313
I resolve using ImageData type.
FromPixel throw error from HTMLVideoElement, HTMLImageElement and HTMLCanvasElement but it works with ImageData

[2018-05-24 11:39] naoufelfrioui opened #337 "Output node name not in the graph"
I used  : "tensorflowjs_converter  --input_format=tf_saved_model  --output_node_names="Predictions/Reshape_1"  --saved_model_tags=serve  inference_graph_v2\saved_model   web_model ".

the object detection Model is Faster_rcnn
I want to convert SavedModel to a web-friendly format . but I have this error

"AssertionError: Predictions/Reshape_1 is not in graph"

could you please help me

[2018-05-24 14:30] VeegY commented on #200
Hey there folks. I am currently working on a tf.js (version 11.1) project and came across the memory leak issue. I looped 10 times over a model.fit function with a given epoch. As you can see on the screenshots below the number of tensors grew each epoch by a factor of [#data/batchSize]*epoch. I don't know if this information is of any value, but I felt like adding it here!
![32_1_64_1](https://us

[2018-05-24 18:02] caisq commented on #332
@timotheebernard

Sorry - I gave misleading information before. tfjs-converter supports converting a weights-only HDF5 file, as you read correctly from the source code. In the conversion result, model.json will contain `null` in the `modelTopology` field. I meant to say that the JavaScript library currently doesn't support loading such converted files. The JavaScript library has a number of files

[2018-05-24 18:48] dsmilkov commented on #311
Hi @Melvin-Abraham , I couldn't reproduce the error. See this [codepen](https://codepen.io/dsmilkov/pen/JvQoGg?editors=1011) that uses tfjs 0.10.0 and gives correct output.

Can you share more info? Are you running this on a desktop/laptop or a phone? Also, are you running this on the webgl (default) or cpu backend? Thanks!

[2018-05-24 18:50] julianoks opened #338 "gradient function for tf.where"
While trying to use tf.where, I found that it does not have a gradient function, and thus cannot be used in training. It would be rather trivial to make the gradient function, which would look something like:
[code]
Is this intentional? Will the gradient function be included in future releases? If not, is there a way to register my own gradient function without rebuilding the whole package?

[2018-05-24 19:34] ManrajGrover commented on #314
I feel we should fix this and add note for breaking change in release notes.

[2018-05-24 19:49] QuantumInformation opened #339 "Difficulties running the tf-examples baseball-node project"
I've been redirected here for help with the Original issue: https://github.com/tensorflow/tfjs-examples/pull/89#issuecomment-391717829

I've tried various thing to run it described in that thread.

[2018-05-24 20:15] nkreeger commented on #339
Can you delete your node_modules folder and try running `yarn` again. Please post the output here. The binding is not compiling for some reason.

[2018-05-24 21:14] tafsiri commented on #338
I believe a gradient implementation for `tf.where` would be quite welcome. We have a list of desired gradients here https://github.com/tensorflow/tfjs/issues/108, its mostly an issue of bandwidth to implement them.

For registering your own gradient we have https://js.tensorflow.org/api/latest/#customGrad which would let you create a custom op that does calls tf.where on the forward pass and a cus

[2018-05-25 03:49] yoongkang opened #340 "Failed to load Sequential model created containing a Model layer"
To get help from the community, check out our [Google group](https://groups.google.com/a/tensorflow.org/forum/#!forum/tfjs).

#### TensorFlow.js version
0.4.0 (This is the Python library)
0.11.1 (For JavaScript library)

#### Browser version
I'm using the Python library, but also tried on Google Chrome Version 66.0.3359.139

#### Describe the problem or feature request

I have a Keras model traine

[2018-05-25 06:32] oninross opened #341 "TypeError: Cannot read property 'concat' of undefined when loading models"
To get help from the community, check out our [Google group](https://groups.google.com/a/tensorflow.org/forum/#!forum/tfjs).

#### TensorFlow.js version
0.11.2

#### tfjs-converter version
0.4.0

#### tfjs-core version
0.11.1

#### Describe the problem or feature request
Just following the demo from the emoji scavenger hunt.  Instead of using the `package.json` from the build, I did an `npm instal

[2018-05-25 07:57] FenrirWillow commented on #322
Thanks for getting back so quickly! Do you need help adding this? I am unsure of where to start, but if you point me in the right direction I am sure I can knock out an assert or two.

[2018-05-25 14:32] caisq commented on #341
cc @pyu10055

[2018-05-25 14:34] caisq opened #342 "Loading of tf.Models containing Bidirectoinal RNN layers fails"
#### TensorFlow.js version
0.11.2

Code for reproduction (in unit test format):

[code]

The root cause seems to be in the constructor of Bidirectional, where a shallow copy of the the input RNN layer is not carried out.

[2018-05-25 16:34] Melvin-Abraham commented on #311
Well, the issue is there. The values greater than 1 are not clipped to 1. By the way, check [this](https://codepen.io/Melvin-Abraham/pen/pVXYgb?editors=1111) code on Codepen for comparison...

I am using laptop with default settings for tfjs.

[2018-05-25 17:13] ManrajGrover commented on #311
The code works fine for me for both webgl and cpu. This seems like an environment issue. Could you also add a screenshot of this [page](https://js.tensorflow.org/debug/) which might help?

[2018-05-25 17:51] caisq opened #343 "Implement IOHandlers in TensorFlow.js Node.js binding"
#### TensorFlow.js version
0.11.2

The scope may include:
* IOHandler implementation for native filesystem
* IOHandler implementation for node.js `fetch`.

[2018-05-25 17:51] caisq commented on #343
cc @nkreeger

[2018-05-25 17:51] caisq commented on #13
Now that a concrete example has been added to [the Iris example in tfjs-example](https://github.com/tensorflow/tfjs-examples/tree/master/iris), I will close this issue. I filed a separate issue to track the support of model saving and loading in Node.js:
https://github.com/tensorflow/tfjs/issues/343

[2018-05-25 17:51] #13 closed

[2018-05-25 18:10] nkreeger opened #344 "Passing poolSize or strides as a scalar throws NaN exception when running"
I'm currently using this:
model.add(tf.layers.maxPooling2d({poolSize: [2, 2], strides: [2, 2]}));

I tried use scalars instead:
model.add(tf.layers.maxPooling2d({poolSize: 2, strides: 2}));

The model compiled, but at training time w/ fit, I got the following message:
Error: Constructing tensor of shape (NaN) should match the length of values (0)

[2018-05-25 18:30] bileschi commented on #340
Hi yoongkang,
Sorry you are having trouble.  This seems like a use-case that should work.  Can you try something?  Can you test whether you can save and load the model using the standard Keras h5 format?  I.e., does the following work?

[code]

[2018-05-25 20:03] SkalskiP opened #345 "Difference between the results obtained from the model on windows and linux"
#### TensorFlow.js version
"@tensorflow/tfjs": "^0.10.3"

#### Browser version
Last test on:
Google Chrome | 64.0.3282.140 / Linux Mint Sylvia  / GeForce 840M
![test2](https://user-images.githubusercontent.com/26109316/40621029-77cfb304-629b-11e8-9903-dd4bcd280309.png)

Google Chrome | 66.0.3359.181 / Windows 10 / Intel(R) HD Graphics 4000
![test](https://user-images.githubusercontent.com/26109316

[2018-05-25 20:16] nsthorat commented on #311
Are you using a mac & Safari by chance?

[2018-05-25 20:32] caisq commented on #200
Fix is on the way. See the referred PR above.

[2018-05-25 21:20] julianoks opened #346 "Gradient of tf.pow"
There are two issues that I'd like to point out with tf.pow's gradient function:

First, there's bug with the gradient of tf.pow w.r.t. the exponent, whereby a non-positive base will result in a NaN for the corresponding exponent's gradient. This can be reproduced using:
[code]
The backend pow is [implemented as](https://github.com/tensorflow/tfjs-core/blob/master/src/kernels/webgl/binaryop_gpu.ts

[2018-05-26 01:38] yoongkang commented on #340
Hi @bileschi, thanks for your response!

My model was previously saved with the hdf5 extension. I just popped open the shell and did this, which worked.

[code]

As you can see, there are some warnings there about my CPU containing instructions the Tensorflow binary was not compiled to use, not sure if that's relevant to the issue at hand.

[2018-05-26 02:34] timotheebernard commented on #332
Hi @caisq, thanks for the precision.
So, if my understanding is correct, one should be able to export a model without topology but tfjs should check the presence of the topology for every IO (which is currently not the case).

Since the issue name is "Prevent users from converting a model that has no topology", do you want me to close it or rename it "Ensure model has topology for every IO"?

[2018-05-26 02:37] jgartman commented on #346
@julianoks I think you're right that there's a problem in the case that the base is 0 and the gradient is being taken with respect to the exponent.  Like you said, It will be `nan` in all cases as currently computed.  However, it should only be `nan` if the exponent is not positive.  I recommend the calculation of that gradient be changed to:
[code]

I very easily could be missing the problem but

[2018-05-26 13:36] dsmilkov commented on #232
Fixed in https://github.com/tensorflow/tfjs-core/pull/1032

[2018-05-26 13:36] #232 closed

[2018-05-26 13:49] dsmilkov commented on #324
Is this fixed?

[2018-05-26 13:52] dsmilkov commented on #171
This is fixed right? cc @nsthorat

[2018-05-26 16:35] #200 closed

[2018-05-26 16:40] caisq commented on #171
@dsmilkov Yes. Closing this issue.

[2018-05-26 16:40] #171 closed

[2018-05-26 18:55] prijindal commented on #102
@Giorat Yes, it is possible to do prediction also inside a web worker.
Till now i couldn't find anything in tfjs that specifically requires it to have a dom environment, so i am guessing the whole library should work inside a web worker.

[2018-05-26 22:00] julianoks commented on #346
@jgartman
The forward pass only throws NaNs when the base is 0 and the exponent is non-positive, so having the gradient reflect that by throwing a NaN is reasonable. Although I agree with your suggestion to change the base's gradient from `b*(a^b/a)` to `b*(a^(b-1))`, to handle the case when `b=0`, I find zeroing out the gradient at `b=0` appealing because it removes NaNs in a (seemingly) innocuou

[2018-05-26 23:56] sandersn commented on #226
The error occurs because Sequential is not a valid subclass of Model. `Sequential.build: (inputShape?: Shape | undefined): void` but `Model.build: (inputShape: Shape | Shape[])`.

The easiest fix is to make both inputShape parameters either optional or non-optional. I'm not sure which is correct.

Note that this fix is still not *sound* but Typescript doesn't enforce soundness in inheritance.

[2018-05-26 23:59] jeremychone opened #347 "tfjs-layers - Model.build signature not matching Layer.build (typescript typecheck error)"
#### TensorFlow.js version
@tensorflow/tfjs-layers@0.6.2
file: https://github.com/tensorflow/tfjs-layers/blob/master/src/models.ts#L478

#### Browser version
N/A (node.js)

#### Describe the problem or feature request

Typescript type check error.
https://github.com/tensorflow/tfjs-layers/blob/master/src/models.ts#L478

`Sequential.build(inputShape?: Shape): void` incompatible with parent definiti

[2018-05-27 02:58] caisq commented on #226
I think the inconsistency in the signature of Sequential.build() and
Model.build() is an oversight. I sent out a PR to fix that:
https://github.com/tensorflow/tfjs-layers/pull/215

On Sat, May 26, 2018 at 7:56 PM Nathan Shively-Sanders <
notifications@github.com> wrote:

--
---
Shanqing Cai
Software Engineer
Google
cais@google.com

[2018-05-27 04:34] mysticatea commented on #226
Does it makes sence if we enable the `strictNullChecks` option in the tfjs projects?

[2018-05-27 07:46] thebeancounter opened #348 "cant'"
Hi

I am trying to run the tensorflow.js pacman [example](https://js.tensorflow.org/tutorials/webcam-transfer-learning.html) without success. I am getting a yarn error when getting to the
yarn
yarn watch

When running the first I get
error: there are no scenarios: must have at least one

When running the second I get:
ERROR: [errno 2] no such file in directory: watch

I've opened a stackoverflow [

[2018-05-27 10:08] #348 closed

[2018-05-27 14:32] jgartman commented on #346
@julianoks  First I should clarify and correct a couple of things from my previous post.  I think you understood this but just to be clear, when I was using the notation `a^b` I was referring to the mathematical power function and when I was using `pow()` I was referring to the tfjs or GLSL implementations of that function.  My statement that the tfjs implementation matches the mathematical power

[2018-05-27 15:32] julianoks commented on #346
@jgartman
I agree that TF's python implementation of the pow gradient function would be good to follow.
That implementation literally says `"There's no sensible real value to return if x < 0, so return 0"`, which I'm still somewhat wary of because it doesn't reflect the gradient of the implemented forward function, regardless of whether the forward function is deemed sensible or not.
Ultimately, I

[2018-05-27 16:12] sandersn commented on #226
@mysticatea It's more important that users with projects that have `strictNullChecks` can import tfjs without problems, which is what @caisq's PR does.

I flipped on strict in tfjs-layers and got 634 errors. tfjs-core had 459. So it's a lot of work.

[2018-05-27 16:14] #226 closed

[2018-05-27 17:18] thebeancounter opened #349 "error when running "yarn watch" Uncaught (in promise) TypeError: Cannot read property 'drawImage' of null"
I am using the code as explained [here](https://js.tensorflow.org/tutorials/webcam-transfer-learning.html):
and getting the following error on the init method

When I am running the demo from the link in the tutorial it works fine. maybe a new version?

[2018-05-27 17:27] caisq commented on #347
This should have been fixed by https://github.com/tensorflow/tfjs-layers/pull/215

[2018-05-27 17:27] #347 closed

[2018-05-27 18:21] jgartman opened #350 "Result of tf.pow inconsistent on CPU vs. GPU"
To get help from the community, check out our [Google group](https://groups.google.com/a/tensorflow.org/forum/#!forum/tfjs).

#### TensorFlow.js version
0.11.2
#### Browser version
Chrome 66.0.3359.139
#### Describe the problem or feature request
The output of the pow function is inconsistent when run on the CPU compared to the GPU.  On CPU trying to take a negative base to a fractional exponent r

[2018-05-27 19:40] jgartman commented on #346
Opened a separate issue for the forward func #350.

[2018-05-28 07:29] chenjin3 opened #351 "How to draw tensor3D type image data (RGB) to screen by WebGL?"
I want to draw image data in a tensor3D (It's shape is [height, width, 3]) to screen by WebGL instead downloading the data from GPU. Because outPixels.dataSync() is too slow.

[2018-05-28 10:34] andreaferracani opened #352 "TensorFlow.js crashes on mobile Safari"
To get help from the community, check out our [Google group](https://groups.google.com/a/tensorflow.org/forum/#!forum/tfjs).

#### TensorFlow.js version
tfjs 0.11.1
tfjs-converter 0.4.0

#### Browser version
Mobile Safari 11

#### Describe the problem or feature request
The browser crashes without any error in console, also loading a simple and small network model converted using tensor flow js co

[2018-05-28 11:44] Melvin-Abraham commented on #311
@nsthorat I'm using Chrome in Windows 10 Pro.

@ManrajGrover I've included the screenshot of the debug page...

![screenshot of debug page](https://user-images.githubusercontent.com/26056183/40613038-80572422-629a-11e8-841e-62ac6e54ad1f.png)

This is the codepen screenshot for tf.clipByValue()

![screenshot of codepen page](https://user-images.githubusercontent.com/26056183/40613060-9446764a-629a-

[2018-05-28 13:31] nsthorat commented on #313
@dsmilkov @caisq can you prioritize this? I am currently out of office.

[2018-05-28 14:35] caisq commented on #313
@dsmilkov Any thoughts on possible causes of this bug? I'm not very familiar with `tf.fromPixels()`.

[2018-05-28 16:17] dsmilkov commented on #313
I can take a look today. It is possible that something changed in Chrome - will investigate and update this thread.

[2018-05-28 17:01] dsmilkov commented on #313
Fix is ready in https://github.com/tensorflow/tfjs-core/pull/1064

[2018-05-28 17:44] dsmilkov commented on #226
See https://stackoverflow.com/questions/40164034/typescript-strictnullchecks-with-limited-scope

In your project use the skipLibCheck option added in Typescript 2.0 to skip checking the *.d.ts files of your dependencies. This will also speed up compilation.

[2018-05-28 19:30] #313 closed

[2018-05-28 22:36] timotheebernard commented on #349
Hi,

I started investigating the issue and I can confirm I am able to reproduce the issue.
To be more specific, I tried different tfjs versions and the issue appeared when upgrading from tfjs 0.10.3 to 0.11.0.
This is the problematic line: https://github.com/tensorflow/tfjs-core/blob/fd49f546e8eb80faf662ef6bab66176b03041cd7/src/kernels/backend_webgl.ts#L138, since 0.11.0, `getContext('2d')` return

[2018-05-29 02:07] jessetrana commented on #340
I am running into a similar issue but with Mobilenet loaded as a model. I use Mobilenet as a block inside a more complex model and then slice out part of the network. If I keep the Model as a block it fails, and if extract the input and output layer tensors of just the Mobilenet part it also fails.

[2018-05-29 03:32] bileschi commented on #340
@yoongkang That would be really helpful, if you could post your .h5 file :).  It sounds like we might have a bug with nested models?

[2018-05-29 03:42] yoongkang commented on #340
@bileschi No worries, I've uploaded this to an S3 bucket:

https://s3-ap-southeast-2.amazonaws.com/yoongkang-machine-learning/my_model.h5

[2018-05-29 04:13] oveddan commented on #322
@FenrirWillow sure if you want to add the assertions that would be great.  I would add next to the existing assertions [in estimateSinglePose](https://github.com/tensorflow/tfjs-models/blob/master/posenet/src/posenet.ts#L149) and [estimateMultiplePoses](https://github.com/tensorflow/tfjs-models/blob/master/posenet/src/posenet.ts#L215)

[2018-05-29 07:45] PiMastah opened #353 "Support aggressive tree-shaking to remove code not needed to execute a model for inference."
#### Describe the problem or feature request

Let me start out by appreciating all the effort that is going into this project!

I am currently trying to build an agent in order to play a game on a coding site. Their limit for the size of your uploaded code seems to be around 100 kb. Using webpack and including the whole library, I am already at around 1,7 mb. I was therefore wondering if it is pos

[2018-05-29 07:58] FenrirWillow commented on #322
I have opened a new PR ready for review in the models repository: https://github.com/tensorflow/tfjs-models/pull/23

[2018-05-29 14:37] #342 closed

[2018-05-29 15:39] bileschi commented on #324
Looks fixed to me!  Please re-open I'm wrong.

[2018-05-29 15:39] #324 closed

[2018-05-29 18:22] kylemcdonald commented on #351
How big is your image? I've been doing some timing tests and it looks like downloading pixels isn't that slow, it's usually the entire graph that is slow. One way you can test this is:

[code]

This only requires one texture download, but you can divide duration by 10 to get (approximately) the run time of your model.

[2018-05-29 18:24] #312 closed

[2018-05-29 18:46] caisq opened #354 "Documentation: tf.io.listModels function shows up as tf.listModels on website"
To get help from the community, check out our [Google group](https://groups.google.com/a/tensorflow.org/forum/#!forum/tfjs).

#### TensorFlow.js version
0.11.2

See https://js.tensorflow.org/api/0.11.2/#copyModel

Under "Models / Management", the function `tf.io.listModels` is incorrectly listed as `tf.ilstModels`. Similar problem happens for `tf.io.copyModel`, `tf.io.moveModel` and `tf.io.removeM

[2018-05-29 18:47] caisq commented on #354
cc @tafsiri

[2018-05-29 21:27] bileschi commented on #340
Alright, I'm able to reproduce the error locally.  Looking to find the root cause.

[2018-05-30 00:18] nsthorat commented on #314
Yeah, this is my fault from a long time ago before we were called TensorFlow. This is a super tricky one because we can swap the order, note a breaking change, but it will silently succeed for people depending on this ordering right now.

I'm thinking that this might be a version 1.0 thing since we can break the API and the converter tools / layers will be more mature, so less likely people will u

[2018-05-30 01:27] hpssjellis commented on #349
v10.3 works. I can't get v11.2 to work

[2018-05-30 03:09] chenjin3 commented on #351
@kylemcdonald  Thank you for your reply. The width and height of my image are 1800 and 1656. It takes about 4s to download the data from GPU. I want to display this image on a canvas quickly in a image supper resolution application.

[2018-05-30 09:04] alvinhui commented on #36
@nsthorat I see that is already allow export the model in the browser, what's the plan for node.js?

[2018-05-30 13:36] bileschi commented on #353
Hi PiMastah,

It sounds like you are looking for a way to export a library that contains just enough code & data to run `my_model.predict` to minimize the footprint of the code.  Is that right?  Something like a[ TensorFlow Lite](https://www.tensorflow.org/mobile/tflite/) for TensorFlow.js?

[2018-05-30 13:51] #60 closed

[2018-05-30 13:53] #58 closed

[2018-05-30 14:11] caisq commented on #36
We are working on model importing and exporting in tensorflow.js-node.js.
It will be based on the same IOHandler interface (
https://github.com/tensorflow/tfjs-core/blob/master/src/io/types.ts#L207)
and file format as the browser-based importing and exporting.

The work is being tracked by this GitHub issue:
https://github.com/tensorflow/tfjs/issues/343

On Wed, May 30, 2018 at 5:04 AM 梧忌 <notific

[2018-05-30 14:17] caisq commented on #352
@andreaferracani Can you provide a little more information about the crash? What model were you converting and using in the browser? At what stage does the crashing happen? When you call `tf.loadFrozenModel` or some other method?

cc @pyu10055

[2018-05-30 14:21] CreativeCode commented on #323
I get the same error, even when following the instructions by @ithinkiamdevesh.

Here is what I did:
my-computer-name:tfjs-models-master-3 myname$ yarn
yarn install v1.5.1
[1/4] 🔍  Resolving packages...
[2/4] 🚚  Fetching packages...
[3/4] 🔗  Linking dependencies...
[4/4] 📃  Building fresh packages...
✨  Done in 0.26s.
my-computer-name:tfjs-models-master-3 myname$ cd posenet/
my-computer-name:posen

[2018-05-30 14:52] andreaferracani commented on #352
1. The model is a simplified version of Yolo v. 1
2. The crash happens when we use dataSync() as it follows
[code]

Thank you

[2018-05-30 15:46] bileschi commented on #353
Hrm., it looks like tf.Lite is 300KB minimum, so that probably won't meet your needs.  I expect at 100kb you would be looking at a pretty small model.  Do you have a model which meets your performance quality expectations, or are you more at the technology exploratory phase?

[2018-05-30 15:51] PiMastah commented on #353
It is definitely the latter at the moment. If it can't be done, nothing much is lost. I know the limitations are pretty severe (after talking to one of the platform devs, the upload limit is actually 100k characters) but I was more trying to picture the whole task as a maybe somewhat unusual challenge which would however allow me to dive deep into a lot of things related to TF and thus serve as a

[2018-05-30 16:53] RadEdje commented on #322
Thank you for this thread. This error was driving me crazy. I new I had already set my dimensions in the CSS file but it was still throwing the error.

I've noticed something similar with anything that uses the webcam.

I used the class Webcam from the emoji scavenger hunt github repo with this code:

// for the webcam to produce tensor
    class Webcam {

        // class Webcam {

        /**

[2018-05-30 17:06] dougsouza commented on #188
It would be really cool to have support to TF object detection api models. As of now I installed tfjs-converter (through pip) and got the following unsupported ops (including some of which were already reported earlier) for a ssdlite mobilenet v2:
- TensorArrayWriteV3
- TensorArrayV3
- TensorArrayGatherV3
- TensorArrayReadV3
- TopKV2
- Where
- All
- Rank
- NonMaxSuppressionV2
- Assert
- TensorArra

[2018-05-30 18:47] tafsiri commented on #304
@nkreeger in TF I believe this is called ResizeBilinearGrad.

[2018-05-30 19:13] pyu10055 commented on #352
@andreaferracani thank you for reporting this bug, in order to properly reproduce the problem, is it possible for you to share the model with us?
And does this issue happens only on mobile Safari? How about desktop and mobile chrome?

Thanks!

[2018-05-30 20:16] #341 closed

[2018-05-30 20:24] tafsiri opened #356 "Doc generator: Variadic arguments look like array arguments"
_From @tafsiri on May 24, 2018 15:7_

E.g. in https://js.tensorflow.org/api/latest/#tf.TensorBuffer.set. `locs` isn't an array but a varargs. However the type annotation makes it look like an array.

related to #150

I'll take a look when i get a moment but cc @nsthorat in case you already ran into something related.

_Copied from original issue: tensorflow/tfjs-website#160_

[2018-05-30 20:37] pyu10055 commented on #337
@naoufelfrioui can you verify if the node name Predictions/Reshape_1 is actually in your Faster_rcnn model? The name kinda looks like from our mobilenet example.

[2018-05-30 20:50] tafsiri opened #357 "Sunset deeplearnjs.org"
_From @tafsiri on May 7, 2018 18:34_

A tracking issue for the eventual sunset of deeplearnjs.org. The sunsetting will likely be done by redirecting it to js.tensorflow.org however there are a few things hosted at deeplearnjs.org that don't have an equivalent in the new site and may need new homes/custom redirects.

_Copied from original issue: tensorflow/tfjs-website#140_

[2018-05-30 20:50] tafsiri commented on #357
- https://distill.pub/2017/aia/ [2] links to https://deeplearnjs.org/demos/latent-space-explorer/

[2018-05-30 20:51] tafsiri commented on #357
deeplearnjs.org now redirects to js.tensorflow.org. Only thing remaining is cleanup of some of the internal resources we used to host the old site.

[2018-05-30 20:51] tafsiri opened #358 "Page load issues / freezing on some mobile devices"
_From @tafsiri on April 12, 2018 17:20_

https://twitter.com/micahstubbs/status/984282556781674496

_Copied from original issue: tensorflow/tfjs-website#131_

[2018-05-30 20:51] tafsiri opened #359 "[Tutorials] Add a tutorial that uses `tf.model`."
_From @nsthorat on March 28, 2018 2:50_

We currently only have tutorials that use `tf.sequential`, it would be good to have a tutorial that includes `apply` and `SymbolicTensor`s.

_Copied from original issue: tensorflow/tfjs-website#84_

[2018-05-30 20:51] tafsiri opened #360 "Enable easy doc symbol linking from markdown files"
_From @tafsiri on March 22, 2018 21:36_

_Copied from original issue: tensorflow/tfjs-website#56_

[2018-05-30 20:51] tafsiri commented on #360
_From @nsthorat on March 22, 2018 21:38_

Just curious, what are you thinking beyond copy pasting links from docs? Some utility function?

[2018-05-30 20:51] tafsiri commented on #360
something like {{apiLlink "symbolName"}} have to figure out the markdown way to enable that. The utility function would then always generate links to the latest version.

[2018-05-30 20:51] tafsiri commented on #360
I think the first pass at this will just use the new /latest path in #77

[2018-05-30 20:52] tafsiri opened #361 "[Doc generator] Change symbol references in documentation to require "tf." prefix."
_From @nsthorat on March 22, 2018 21:12_

Sometimes we refer to `ones` as one of the string arguments, sometimes it refers to the function `tf.ones`. To disambiguate, we should force you to use `tf.` when referring to symbols on `tf.`.

I don't want to do this before the launch because it will require a major change to the deeplearn.js docs which we can't do in public yet.

_Copied from original i

[2018-05-30 20:52] tafsiri opened #362 "[Doc generator] Add unit tests."
_From @nsthorat on March 22, 2018 20:44_

The script is now pretty huge, we should add some unit tests.

We could do this by having a test folder and have typescript examples alongside expected JSON output.

_Copied from original issue: tensorflow/tfjs-website#51_

[2018-05-30 20:52] tafsiri opened #363 "[Tutorials] Make a tutorial for fully connected training which is simpler than the convolutional tutorial."
_From @nsthorat on March 22, 2018 18:51_

_Copied from original issue: tensorflow/tfjs-website#49_

[2018-05-30 20:52] tafsiri commented on #363
I think we could do fully connected for a different example than MNIST.

[2018-05-30 20:52] tafsiri commented on #363
_From @nsthorat on March 22, 2018 19:8_

SG, updated the title

[2018-05-30 20:52] tafsiri opened #364 "[Doc generator] fileName is broken."
_From @nsthorat on March 21, 2018 14:22_

It currently just contains the lineNumber.

_Copied from original issue: tensorflow/tfjs-website#35_

[2018-05-30 20:52] tafsiri commented on #364
nice to fix. though i've also stopped using the filename in the template so i don't think this is urgent. (i still use the link)

[2018-05-30 20:52] tafsiri commented on #364
_From @nsthorat on March 23, 2018 19:3_

Can I just remove it then?

[2018-05-30 20:52] tafsiri opened #365 "Add property for symbol source in docs.json"
_From @tafsiri on March 19, 2018 15:44_

It would be nice to have a property in the docs json for which api the symbol comes from (core or api). Its inferrable from the github url so not urgent, but would be nice. This can be done in the merge step of the build.

cc @nsthorat thoughts?

_Copied from original issue: tensorflow/tfjs-website#26_

[2018-05-30 20:52] tafsiri commented on #365
_From @nsthorat on March 19, 2018 17:3_

Yeah this should be easy, I think maybe it's easier to just do it in the individual repo parser. Either way should work.

[2018-05-30 21:11] kylemcdonald opened #366 "tfjs-converter produces error at prediction time"
TensorFlow.js Version: 0.3.1
TensorFlow Version: 1.7.0
Chrome 66.0.3359.181

I downloaded the smallest/fastest MobileNetV2 from [here](https://storage.googleapis.com/mobilenet_v2/checkpoints/mobilenet_v2_0.35_96.tgz) and used the tfjs-converter to convert the model.

I cloned the tfjs-converter repo and changed a few variables in the mobilenet example:

[code]

I made these changes while running `

[2018-05-30 21:30] bileschi commented on #340
Ok, the root cause of the naming mismatch is that loading the same model multiple times in the same scope leads to models with different weight names (to prevent collisions).  You can reproduce this with the following code:

[code]

yields

[code]

Investigating what is the desired behavior here / workaround.  There may be a way around this using the following pattern
[code]
or alternatively
[code

[2018-05-30 23:39] pyu10055 commented on #366
@kylemcdonald I tried tf-hub mobilenetv2 https://www.tensorflow.org/hub/modules/google/imagenet/mobilenet_v2_100_224/classification/1

using the converter
[code]
Initially I have the same issue as the squeeze failed, I notice it require strictly the input image size to be 224x224, after I resize the image the model works.

Also, you need to make sure the input and output matches to the model, in m

[2018-05-31 00:02] pyu10055 commented on #366
also, I am not sure how to serve local file properly with parcel-bundler, for example (the model files), @dsmilkov do you know how to do that?

[2018-05-31 03:56] chenjin3 commented on #351
Is it possible to provide a renderTensorPixels2Canvas(pixels, canvas) method?

[2018-05-31 09:44] kucukkanat commented on #349
@hpssjellis Downgrading to v0.10.3 worked for me as well thank you very much!

[2018-05-31 10:28] andreaferracani commented on #352
Hi this is the model which causes the crash and the demo in the zipped folder https://drive.google.com/open?id=1UuWSH3FgIqBoHbPdPJCUA9iGV3fXBu04

[2018-05-31 10:47] leotm commented on #349
Same, I stuck to v0.10.3 since its the version they use in the posenet working camera and coco demos.

[2018-05-31 12:53] oveddan commented on #323
Hi @CreativeCode just curious - why are you doing the step `yarn install v1.5.1` ?

I would follow [the instructions for setup in the demos folder.](https://github.com/tensorflow/tfjs-models/tree/master/posenet/demos#setup)

I'm not sure this would solve your issue but can you please try that?  First remove the `node_modules` folders in both `tfjs-models/posenet` then `tfjs-models/posenet/demos` a

[2018-05-31 13:58] mbostock opened #367 "Unable to load tfjs as an ES Module."
To get help from the community, check out our [Google group](https://groups.google.com/a/tensorflow.org/forum/#!forum/tfjs).

#### TensorFlow.js version

\@tensorflow/tfjs@0.11.2
\@tensorflow/tfjs-converter@0.4.0

Source here: https://unpkg.com/@tensorflow/tfjs@0.11.2/dist-es6/index.js?module

#### Browser version

Google Chrome Version 67.0.3396.62 (Official Build) (64-bit)

#### Describe the pro

[2018-05-31 14:22] evexoio commented on #323
@oveddan I just deleted `node_modules` from both folders you pointed to, and ran the instructions from setup in the demos folder,

I still get `Uncaught (in promise) Error: Tensor is disposed.` when running

[2018-05-31 14:35] oveddan commented on #323
@evexoio @CreativeCode I just ran the setup instructions and have the same error.  Will re-open.

[2018-05-31 14:50] oveddan commented on #323
If you want to get something up and running temporarily **until we fix this,** checkout commit [b00dcd6](https://github.com/tensorflow/tfjs-models/commit/b00dcd6)

    git checkout b00dcd6

Then follow the setup instructions again.

[2018-05-31 14:53] nihonjinrxs opened #369 "Peer dependency pegged to build version instead of major or minor"
#### TensorFlow.js version

0.11.2

#### Browser version

Non-browser, using in Node.js v10.2.1 with npm v6.1.0

#### Describe the problem or feature request

Peer dependencies are pegged to specific build versions of `tfjs-core`, so when you `npm i @tensorflow/tfjs`, you get the following npm warning:

[code]

Ideally, these should be pegged to the major versions (or minor if really needed) only,

[2018-05-31 17:23] CreativeCode commented on #323
@oveddan thanks for the quick temporary solution! Works like a charm. Yes, I have tried with the official instructions  first - my process posted above was the result of trying to imitate @ithinkiamdevesh 's solution... (I was not sure why I was doing what I was doing...)

[2018-05-31 17:48] tafsiri commented on #366
@pyu10055 for serving local files i would suggest starting a local http server like http-serve (python based). parcel won't really do that for you unless the asset is included in the bundle.

[2018-05-31 18:00] dsmilkov commented on #112
Fixed in https://github.com/tensorflow/tfjs-core/pull/1066

[2018-05-31 18:00] #112 closed

[2018-05-31 18:26] kylemcdonald commented on #366
thanks! i feel silly for making this mistake about the image size.

the model i downloaded is from here: https://github.com/tensorflow/models/tree/master/research/slim/nets/mobilenet#imagenet--checkpoints

according to the readme in the downloaded checkpoint, my input/output nodes are correct. maybe the model you're using is different?

the original model has an inference time of 4.5ms on CPU on a

[2018-05-31 18:26] #366 closed

[2018-05-31 18:36] #323 closed

[2018-05-31 18:39] pyu10055 commented on #366
@kylemcdonald good point to provide the input shape check, will add an issue to track that.

[2018-05-31 22:03] #304 closed

[2018-06-01 05:06] oveddan commented on #323
@CreativeCode @ithinkiamdevesh @evexoio Thanks to @dsmilkov this has been fixed.

As part of this fix, The demos now import posenet directly from the public posenet npm package, instead of from `../src`

This has a couple of positive side effects:
* the [new setup](https://github.com/tensorflow/tfjs-models/tree/master/posenet/demos#setup) for the demos takes less steps and is easier, as you no lon

[2018-06-01 14:47] bileschi commented on #340
FYI: as a temporary work around, the command line seems to work here:
[code]
Still investigating on the code side.

[2018-06-01 16:34] pyu10055 commented on #352
Your process method is calling itself continuously, which causing the browser to freeze.
Increase the timeout or set a limit on how many to run would help.

[code]

[2018-06-01 16:34] #352 closed

[2018-06-01 16:41] pyu10055 opened #370 "validate input shapes against model on predict or execute methods"
To get help from the community, check out our [Google group](https://groups.google.com/a/tensorflow.org/forum/#!forum/tfjs).

#### TensorFlow.js version
tfjs 0.11.2
tfjs-converter 0.4.0
#### Browser version

#### Describe the problem or feature request
FrozenModel predict or Execute method should verify input shapes against
the placeholders shape of the model.
It should throw error if the shape do

[2018-06-01 17:05] #71 closed

[2018-06-01 17:42] ymkz commented on #349
@timotheebernard thank you for investigating. I tried to downgrade tfjs 0.10.3 and it was worked well, thanks!

[2018-06-01 19:08] dsmilkov opened #372 "Xcode is required for tfjs-node on Mac"
On a Macbook 13inch without Xcode, I get the following error when I run `yarn` in `tfjs-examples/mnist-node` and `tfjs-examples/baseball-node`:

dyld: Library not loaded: @rpath/DVTFoundation.framework/Versions/A/DVTFoundation
  Referenced from: /Applications/Xcode.app/Contents/Developer/usr/bin/xcodebuild
  Reason: image not found

No receipt for 'com.apple.pkg.CLTools_Executables' found at '/'.

[2018-06-01 19:28] bileschi opened #373 "python tfjs.converter.load_keras_model fails if Variable names already used"
To get help from the community, check out our [Google group](https://groups.google.com/a/tensorflow.org/forum/#!forum/tfjs).

#### TensorFlow.js version
tensorflowjs version 0.4.0
keras version 2.1.4

#### Browser version
None ( this is a python issue)

#### Describe the problem or feature request
If you create a model, save it to it to tfjs.json format and try to load it within the same python se

[2018-06-01 19:47] jameswex opened #374 "Cannot create tensor from Uint8ClampedArray"
#### Describe the problem or feature request

tf.tensor constructors can be provided a TypedArray, but not a Uint8ClampedArray, even though Uint8ClampedArray is a TypedArray.

[2018-06-01 20:12] bileschi commented on #373
The workaround for this is to set the `use_unique_name_scope` flag when loading like:
[code]

This creates a new clean scope internally, but changes the full path of the internal variables, which could be an issue if someone were expecting a variable in a certain location.   We may want to modify default behavior of `load_keras_model` to set `use_unique_name_scope` to `True`, if most users would p

[2018-06-01 21:27] nkreeger commented on #372
If you hit this issue - you can just run

[code]

[2018-06-02 06:41] theunreal opened #376 "Error: Indices must be of dtype `int32`"
#### TensorFlow.js version
0.11.4

#### Browser version
Version 66.0.3359.181 (Official Build) (64-bit)

#### Describe the problem or feature request

[code]

#### Code to reproduce the bug / link to feature request
Erorr throw from this line:
`const y = tf.tidy(() => tf.oneHot(tf.tensor1d([1]), 2));`

[2018-06-02 17:33] dsmilkov opened #377 "Failing tests in core regarding local storage"
See this [log](https://api.travis-ci.org/v3/job/387154917/log.txt) (search for `Failed`) for the test that's failing. The relevant snippet is:
[code]

It consistently fails on Travis on Firefox on Mac OS X 10.12.0 as of couple days ago.

[2018-06-02 17:41] dsmilkov commented on #377
Here is [another log](https://travis-ci.org/tensorflow/tfjs-core/jobs/386952306#L4134) from another run. Which exact test fails is flaky since the failure depends on the order of execution.

[2018-06-02 17:44] dsmilkov commented on #376
[tf.oneHot](https://js.tensorflow.org/api/0.11.2/#oneHot) requires indices to be of dtype 'int32'. In this case you have to do: `tf.oneHot(tf.tensor1d([1], 'int32'), 2)`

[2018-06-02 17:44] #376 closed

[2018-06-02 17:49] dsmilkov commented on #373
What does Keras do if you save and load the model in the same session. That is:

[code]

I'm assuming it will error as well since in their [example snippet](https://keras.io/getting-started/faq/#how-can-i-save-a-keras-model) they do call `del model` in between.

So it might actually be better to explicitly error than to silently create a whole new graph and double the memory usage.

[2018-06-02 17:52] zaidalyafeai commented on #161
Good news the PR for tensors rank 5 is merged @jgartman. Let me know if you face any issue.

[2018-06-02 17:53] dsmilkov commented on #349
I updated all the tfjs-examples to use `0.11.4` where that error should be fixed (it was fixed in tensorflow/tfjs-core#1064). Will close this issue, but feel free to reopen if you again run into the issue. Make sure to use `tfjs >= 0.11.4`

[2018-06-02 17:54] #349 closed

[2018-06-02 17:56] dsmilkov commented on #369
Thanks. We were just talking about relaxing this version yesterday. Other than the warning message, did you run into run-time issues (I'm hoping not) due to this conflict?

[2018-06-02 18:05] jgartman commented on #161
Awesome, thanks @zaidalyafeai

[2018-06-02 18:16] #215 closed

[2018-06-03 01:03] bileschi commented on #373
If you load the model three times you get three versions o the same model,
no weight sharing. It modifies the eight names with the number plus
underscore method.

On Sat, Jun 2, 2018 at 1:49 PM Daniel Smilkov <notifications@github.com>
wrote:

--
Stan Bileschi Ph.D.  |   SWE  |  bileschi@google.com |  617-230-8081

[2018-06-03 07:30] zakobyte commented on #349
10.3 worked with rebuild but 11.4 needs extra dependencies

[2018-06-03 17:35] TheHidden1 opened #380 "Add tf.booleanMask() op."
#### TensorFlow.js version
0.11.1
#### Browser version
68
#### Describe the problem or feature request
i am currently trying to grap a few values   from a tensor  using Tensor.data() witch takes a lot of time given a large tensor.

[code]
i am the wondering when or if  the python equivalent tf.boolean_mask will be implemented

[code]

#### Code to reproduce the bug / link to feature request
https:

[2018-06-03 17:36] bileschi commented on #373
A related instance of this issue, with additional debugging info:
https://github.com/tensorflow/tfjs/issues/340

[2018-06-03 17:39] dsmilkov commented on #377
See this [PR's](https://github.com/tensorflow/tfjs-core/pull/1075) description for context. tl;dr when we switched from karma 2.x to 3.x, by default tests run in random order and localstorage tests were not isolated properly. Switching back to non-random order will fix this issue, but nevertheless, it would be good to fix those tests.

[2018-06-03 17:42] dsmilkov commented on #373
Thanks! +1 to aligning with Keras's behavior.

[2018-06-03 19:36] Litee opened #381 "Zeros on first tensor concatenation op"
#### TensorFlow.js version

0.11.4

#### Browser version

Chrome 66.0.3359.181
Windows 10

#### Describe the problem or feature request

model.predict() results contain a range of all zeros - it looks like the first concatenate operation with result longer than 8192 produces zeros. Here is what I see when I look at results (see minimal sample code below):

...
Slice:  818 Tensor
     [[0.039277, 0

[2018-06-04 03:39] caisq commented on #377
@dsmilkov That's good info. However, I don't see how random order by itself may affects the test results. The tests are written in a way that doesn't depend on the order in which the individual `it`s are executed. Is it possible that the tests are executing *concurrently*? That would explain some of the random failures we have been seeing regarding local storage.

[2018-06-04 07:06] oninross opened #382 "TensorFlow logits.data() returning inconsistent probabilities"
I am following the steps from this project: [https://github.com/google/emoji-scavenger-hunt#build-your-own-model](url) and I managed to train models for the front end.  I can snap an image and return the probabilities.

The issue is actually the predictions/probabilities are inconsistent.  For example I only have Keyboard and headphones to classify and identify.

**1st time training:** Keyboard is

[2018-06-04 12:56] ldenoue commented on #188
Same thing here.
I ran:
tensorflowjs_converter --input_format=tf_frozen_model ./hand_inference_graph/frozen_inference_graph.pb hand-mobile --output_node_names='detection_classes'

from the github https://github.com/victordibia/handtracking that has this frozen_inference_graph.pb file.

But tensorflowjs-converter gives these unsupported ops:
Unsupported Ops in the model
TensorArraySizeV3, TensorArr

[2018-06-04 13:21] caisq commented on #250
@zaidalyafeai I believe this PR may have fulfilled this feature request already?
https://github.com/tensorflow/tfjs-layers/pull/204

[2018-06-04 13:43] zaidalyafeai commented on #250
@caisq, nice. I think this issue should be closed.

[2018-06-04 13:45] caisq commented on #250
@zaidalyafeai OK. Thanks. Regarding the question about tfjs-core dependency, I think tfjs-layers is depending on a version recent enough to include 5D tensors. If not, then something must be amiss.

[2018-06-04 13:45] #250 closed

[2018-06-04 17:15] dsmilkov commented on #377
Chatted offline. I'm fairly certain that tests run sequentially, so I think it's related to not properly cleaning up the local database.

[2018-06-04 20:21] hiranya911 opened #384 "Documentation Issues"
## Issue 1

Documentation for [`fromPixels()`](https://js.tensorflow.org/api/0.6.1/#fromPixels) method states:

But the default seems to be 3:

[code]

## Issue 2

Documentation for [`tidy()`](https://js.tensorflow.org/api/0.6.1/#tidy) method states:

But there's no argument called `f` declared in this method.

## Issue 3

Documentation for [`tidy()`](https://js.tensorflow.org/api/0.6.1/#tidy) met

[2018-06-04 21:46] dsmilkov opened #385 "Migrate knn-image-classifier from tfjs-core to tfjs-models"
The KNN classifier [lives in](https://github.com/tensorflow/tfjs-core/tree/master/models/knn_image_classifier) [tfjs-core](https://github.com/tensorflow/tfjs-core/) and is outdated.

We need to make it generic (have it work with any embedding, not just squeezenet) and move it to [tfjs-models](https://github.com/tensorflow/tfjs-models). Then show a demo that uses MobileNet embeddings + KNN.

[2018-06-04 21:54] dsmilkov commented on #349
@zakobyte, can you elaborate on that a bit? I'm assuming you pulled from `master` and re-run `yarn` to install the extra dep. Did it not work after that?

[2018-06-04 22:16] hpssjellis opened #386 "Feature Request: How to directly read a saved binary weights file"
How can I directly read a saved binary weights file? What format is the data in the binary file? Is it just a list of float32 numbers or is the format defined by the json file.

I have a saved a very simple json file [here](https://github.com/hpssjellis/beginner-tensorflowjs-examples-in-javascript/blob/e6817ae3dcf6280cfb8efe6093acbb07db05b25a/saved-models/batches-20000-done.json) and a binary save

[2018-06-05 03:28] caisq opened #387 "Saving models constructed with tf.keras (instead of keras) fails"
To get help from the community, check out our [Google group](https://groups.google.com/a/tensorflow.org/forum/#!forum/tfjs).

#### TensorFlow.js version
0.11.4
tensorflowjs: 0.4.0

Code for reproduction
[code]

The resultant error may look like this

[2018-06-05 03:28] caisq commented on #387
cc @bileschi

[2018-06-05 03:35] #387 closed

[2018-06-05 06:11] co2meal opened #388 "Facing trouble on applying merge operation after conv2d operation on version 0.11.2"
#### TensorFlow.js version
v0.11.2

#### Browser version
Reproducible in any browser.

#### Describe the problem or feature request

After running the below code, the above exception arises.

Expected result is printing a tensor with shape of [1, 222, 222, 112].

#### Code to reproduce the bug / link to feature request
[code]

* It seems it does not happen on the previous version v0.10.0.
* It doe

[2018-06-05 13:51] caisq commented on #388
@dsmilkov @nsthorat

I tried the code @co2meal provided on tfjs 0.11.4 and was able to see the error message reported:
WebGL backend: No data found for this tensor. Did you change your backend in the middle of the program? New backends can't use Tensors created with previous backends

The same code works properly on 0.10.0. This looks like something related to the core. Any thoughts?

[2018-06-05 14:28] caisq commented on #388
Update: after some debugging, it looks like that this may have to do with the memory optimization that went into 0.11. Still investigating the details.
cc @bileschi @ericdnielsen

[2018-06-05 15:17] caisq commented on #388
@nsthorat  and I did some pair-debugging. The conclusion is that this is a manifestation of https://github.com/tensorflow/tfjs/issues/69, which we plan to fix soon.

[2018-06-05 15:21] andreaferracani commented on #352
Hi
Unfortunately that's not the problem, the bug occurs even without calling the setTimeout function repeatedly. In fact it happens the second time we call the function at line 15. The code is just an example and it works on desktop browsers, in Android but not on mobile Safari

Thanks

[2018-06-05 16:48] tafsiri opened #389 "Improve rendering of the 'optional' tag"

[2018-06-05 16:55] tafsiri commented on #384
Thanks for reporting these @hiranya911. I have PRs out for most now. I think the consensus for issue 4  is the message from the error is preferred and wont fall out of sync with the implementation (which the docs could if we just edited that).

[2018-06-05 17:20] ericdnielsen opened #391 "Extend API DocGen to support exposing default values"
The existing DocGen scripts are unable to surface default values for most of the fields inside config object for TFJS-Layers.

The DocGen script explodes the config object to list the possible arguments, and corrects marks the optional ones as optional.  However it has no way of exposing what the default value is for an optional field.

We don't think there's a simple refactoring to how we handle

[2018-06-05 17:49] caisq commented on #388
Thanks to @nsthorat for sending out the PR to fix the root cause:
https://github.com/tensorflow/tfjs-core/pull/1080

[2018-06-05 18:27] rafalfirlejczyk opened #392 "Runing posenet camera feed demo on Windows is not getting images from camera"
#### OS Windows7/64

#### TensorFlow.js version 0.4.0

#### Browser version Google Chrome Version 66.0.3359.181 (Official Build) (64-bit)

#### I tried to run the demo on Windows7/64. First I adopted the package.json to Windows (changes seen as bold):
"scripts": {
    "watch": "**SET** NODE_ENV=development **&** parcel --no-hmr --open index.html ",
    "build": "**SET** NODE_ENV=production **&** p

[2018-06-05 19:47] oninross commented on #382
Problem solved.  I completely ignored the output labels text file completely.  I wasn't aware that the labels get scrambled after training and conversion.

[2018-06-05 19:47] #382 closed

[2018-06-05 20:38] tafsiri commented on #386
You can use `tf.io.loadWeights` to read the files. Here is a link to a snippet of code to read just weights files. https://github.com/tensorflow/tfjs-converter#loading-the-weights-only. The JSON file describes what kind of data (floats, ints etc) is in the binary file so both are needed to load the files.

I don't think we have a method to test the validity of a weights file. Its effectively just

[2018-06-05 20:53] #69 closed

[2018-06-05 21:19] stefanosky commented on #392
wow you arrived till here!
Hi, have you faced with this issue?
![image](https://user-images.githubusercontent.com/22086710/41003380-e913c25e-6916-11e8-9818-3f762f090f70.png)
https://github.com/llSourcell/pose_estimation/issues/1

[2018-06-05 21:39] hpssjellis commented on #386
Thanks @tafsiri

Any idea what the "this" is in the code snippet. I assumed it was the original or newly loaded model but that does not seem to work

[code]

[2018-06-05 21:55] nsthorat commented on #386
You don't need "this" here, just call it "weightManifest" and remove all
instances of "this".

On Tue, Jun 5, 2018 at 5:39 PM Jeremy Ellis <notifications@github.com>
wrote:

[2018-06-05 22:37] brannondorsey commented on #102
@Giorat and @prijindal, tfjs does indeed work in web workers as of today, but unfortunately only using the `cpu` backend, not `webgl`.

Supporting the webgl backend inside web workers seems like a huge advantage if it can be managed with the [OffscreenCanvas API](https://developer.mozilla.org/en-US/docs/Web/API/OffscreenCanvas). As of today, it seems to me that there are two options for running tf

[2018-06-05 22:44] stefanosky commented on #392
Ok I arrived at your point.
open log console, in mine i read -->   Uncaught (in promise) TypeError: Cannot read property 'drawImage' of null

[2018-06-06 00:14] oveddan opened #393 "Creating a rollup.config.js that does not treat tfjs as an external results in some errors"
I'm working on converting [ml5.js](https://github.com/ml5js/ml5-library) to use rollup.  As it is a library aimed at beginners, we wan't someone to just be able to drop the ml5.js script on the page and it will include @tensorflow/tfjs in the bundle.  As ml5 is not built in typescript and uses es7 features, it uses babel.

When trying to build with rollup in this way, a bunch of errors occur.  As

[2018-06-06 00:16] oveddan commented on #393
Another thought I had was to fist build the ml5.js as a standalone, then have some post-build step that creates a bundle of tfjs and ml5.js concattenated into a single file.

[2018-06-06 00:40] dsmilkov opened #394 "Postpone disposal when there is a pending read"
Since we don't postpone disposal when there is a pending read, the following happens:

[code]

[2018-06-06 00:47] #394 closed

[2018-06-06 01:55] Al-barazanchi commented on #221
When trying to convert TensorFlow autoencoder model with resize_nearest_neighbor I am getting the error below. However it is converting with no issues when using resize_bilinear layer instead

Unsupported Ops in the model
ResizeNearestNeighbor

[2018-06-06 02:05] Lewuathe commented on #221
@Al-barazanchi Could you tell me the version of tfjs-converter you are using?
[tfjs-converter supports `ResizeNearestNeighbor` recently](https://github.com/tensorflow/tfjs-converter/commit/91c1234dd2dca12670fcfd6fda9e84ff1521a1ce). The latest one (v0.4.1) should support it.
Can you try the latest tfjs-conveter?

[2018-06-06 02:27] #388 closed

[2018-06-06 02:45] Al-barazanchi commented on #221
@Lewuathe  The version I have is 0.2.1. I uninstalled it and got the latest version. However, the latest version by pip is 0.4.0 not 0.4.1. I still have the same issue with 0.4.0 version. Any suggestions?

[2018-06-06 04:28] rafalfirlejczyk commented on #392
thank you Stefano. In my case the browser gets the error:
_**Uncaught (in promise) TypeError: Cannot read property 'drawImage' of null**_

![image](https://user-images.githubusercontent.com/2536392/41016505-04ae0cde-6950-11e8-8854-8904ec3682f0.png)

The same issue was seen in #349 and it was fixed by upgrading to tfjs 0.11.4. I will try to upgrade and check if it works for Windows

[2018-06-06 04:46] Lewuathe commented on #214
I'd like to work on this. But one question about this feature is the input/output type. We need to support complex number in order to complete FFT. TensorFlow uses `numpy.complex64` as input/output type. But JavaScript/TypeScript does not support such kind of type natively. Though we can create our own data type, it is necessary to consider the cooperability and compatibility with existing ops and

[2018-06-06 04:52] Lewuathe commented on #221
@Al-barazanchi I see. The latest version uploaded in [PyPi](https://pypi.org/project/tensorflowjs/) is still 0.4.0. Unfortunately, I do not have a right to upload the package to PyPi.

@dsmilkov 0.4.1 looks already tagged in the repository. What is the plan for the next release of tfjs-converter?

[2018-06-06 04:53] rafalfirlejczyk commented on #392
It works on Windows7/64 in Chrome Browser with the tfjs 0.11.4.
In the file **_demos/package.json_** I changed the version of tfjs to 0.11.4
_**"@tensorflow/tfjs": "0.11.4",**_
Then from demos directory I ran
**_yarn_**
and
**_yarn watch_**

[2018-06-06 04:53] #392 closed

[2018-06-06 05:22] hpssjellis commented on #386
All this code has working demos at

[x3.html](https://hpssjellis.github.io/beginner-tensorflowjs-examples-in-javascript/saved-models/x3.html) weights tensors

[x2.html](https://hpssjellis.github.io/beginner-tensorflowjs-examples-in-javascript/saved-models/x2.html) weightManifest

[x4.html](https://hpssjellis.github.io/beginner-tensorflowjs-examples-in-javascript/saved-models/x4.html) model JSON fi

[2018-06-06 07:08] juanmirod commented on #345
Hi @SkalskiP have you found the reason for this difference? we are having a similar problem with YOLO, a model finds objects running under Windows, but nothing if the page is under Linux, same code and model, same Chrome version, same image, but different results.

[2018-06-06 12:13] QuantumInformation opened #395 "[Documentation ]tf.concat API doc says it accepts Tensors, but you can also pass in arrays"
You can use it to concat an array here:

https://github.com/tensorflow/tfjs-examples/blob/master/iris/data.js#L168

but the doc says it needs tensors:

https://js.tensorflow.org/api/0.11.2/#concat

[2018-06-06 12:47] Lewuathe opened #396 "Test failure due to undefined behavior of `log` function"
#### TensorFlow.js version

0.11.5

#### Browser version

macOS 10.13.4 (High Sierra)
- Chrome 66.0.3359.181
- Firefox 60.0.0

#### Describe the problem or feature request

Some tests keep failing due to undefined behavior of `log` function of WebGL. We expects `log` returns `NaN` in case of negative value as well as TensorFlow does. But some browser implementation may return 0 in such case. Actua

[2018-06-06 14:02] dsmilkov commented on #145
Hi Samwyi,

Can you share the simplest code to reproduce this? This way we can take a closer look. Especially regarding the number of tensors going up by 4. after each mobileNet.predict()

[2018-06-06 14:51] tafsiri commented on #386
We don't have a method that turns weights into JSON (as they would take a lot of space in that format), however if you have a tensor with your weights you could do the following:

[code]

[2018-06-06 15:14] #354 closed

[2018-06-06 15:58] caisq opened #398 "tfjs-layers: Cannot nest model topology"
#### TensorFlow.js version
0.11.4

The following code attempts to create a nested model using the Layers API. Nesting is in the sense that a sequential model contains another sequential model as one of it layers. It currently fails.

[code]

The error message looks like

Nested models like this ought to be supported.

[2018-06-06 16:35] ericdnielsen opened #400 "Allow Config objects expansion to cross package boundaries for DocGen"
After ModelPredictConfig moved from -Layers to -Core to support re-use by -Converter, we discussed an issue in our DocGen process.  Specifically, when we're building the API we expand the config object into its nested parameters to inline those parameters in the documentation of the method.  However now when -Layers/predict tries to expand the ModelPredictConfig parameter it fails because that cro

[2018-06-06 17:02] rodrigob commented on #161
Things seems to be moving forward. What is the status on this feature ?

[2018-06-06 17:02] oeway commented on #53
+1 support training for conv2DTranspose

[2018-06-06 17:30] Litee commented on #381
Another simple way to reproduce is to increase the number of predictions in MNIST example from 100 to 1000 and run the script. If you have this problem on your machine you will see many "0" predictions:

![image](https://user-images.githubusercontent.com/400234/41054924-77d4cd6a-69c8-11e8-81d7-26356c12a0a9.png)

[2018-06-06 19:43] caisq commented on #398
cc @bileschi

[2018-06-06 19:45] Litee commented on #381
OK, it seems to have something to do with concatenation shader and MAX_TEXTURE_SIZE. My default MAX_TEXTURE_SIZE is 16384, but if I fake it to 8192 in code problem disappears. Unfortunately I have zero experience with shaders, so maybe someone can can help? Shader code:

      precision highp float;
      precision highp int;
      varying vec2 resultUV;
      const vec2 halfCR = vec2(0.5, 0.5);

[2018-06-06 19:58] atanasster opened #401 "layers API limited number of optimizers by name"
It seems the layers API does not have all the optimizers by name:
https://github.com/tensorflow/tfjs-layers/blob/6b5de926d4dfda4c7c32781653e2a9a035272e93/src/optimizers.ts#L28

are defined only `adam`, `sgd`, `adagrad` and `rmsprop`

while the core API also supports
`adadelta`, `adamax`, `momentum`

[2018-06-06 22:44] nihonjinrxs commented on #369
Not that I saw, but I'm new to the library, so I'm not necessarily using it to its fullest capabilities.

[2018-06-07 03:03] dsmilkov commented on #279
There are two more left that should be constrained to run only in the browser: 'arrayBufferToBase64String', 'stringByteLength'

[2018-06-07 07:14] hpssjellis commented on #386
Solved it! This code converts a float32 binary file into JSON format of all the weights.

Live demo [x6.html](https://hpssjellis.github.io/beginner-tensorflowjs-examples-in-javascript/saved-models/x6.html)

[code]

The output is

[code]

Live demo [x6.html](https://hpssjellis.github.io/beginner-tensorflowjs-examples-in-javascript/saved-models/x6.html)

[2018-06-07 08:46] oeway commented on #159
Is this error expected?
[code]
I need this to train a `UpSampling2D` which has just been added: https://github.com/tensorflow/tfjs/issues/250

[2018-06-07 13:17] dsmilkov commented on #221
cc @pyu10055 can you release a new PyPi version of tfjs-converter (0.4.1)? Thank you!

[2018-06-07 13:22] dsmilkov commented on #38
Hi @tehZevo , gradient for resizeBilinear was added in https://github.com/tensorflow/tfjs-core/pull/996 . Make sure to use the latest tfjs. I'm going to close this issue, as per its title, we've fixed it, but feel free to reopen if you run into any issues with resizeBilinear or its gradient.

[2018-06-07 13:22] #38 closed

[2018-06-07 13:23] dsmilkov opened #402 "Add gradients for resizeNearestNeighbor"
See comment https://github.com/tensorflow/tfjs/issues/159#issuecomment-395342787

[2018-06-07 13:42] #386 closed

[2018-06-07 13:53] caisq commented on #401
This looks like a good starter bug to fix for external contributors :)

[2018-06-07 13:59] tafsiri commented on #395
The doc says it takes a list of tensors. Which seems to be what is happening in that iris example, note the call to `convertToTensors` here https://github.com/tensorflow/tfjs-examples/blob/master/iris/data.js#L159

[2018-06-07 13:59] #395 closed

[2018-06-07 13:59] oeway opened #403 "Correct the output shape computing for the UpSampling2D layer"
I think I encountered a bug with the output shape calculation for the newly added UpSampling2D layer (https://github.com/tensorflow/tfjs-layers/pull/204).

It doesn't support a unknown width and height, which I found useful for fully-convolutional networks. With the Conv2DTranspose layer, I could just pass null as width and height.

Maybe we need to add an if statement to check if the spatial dime

[2018-06-07 14:13] QuantumInformation commented on #395
Thanks for clarifying!

[2018-06-07 14:18] atanasster commented on #401
Cool, I can give it a shot - what are the camelcase names for those?
`Adadelta`, `Adamax`, `Momentum` ?

[2018-06-07 14:28] caisq commented on #401
Thanks!

Please see: https://github.com/tensorflow/tfjs-layers/blob/master/src/optimizers.ts#L29
We create aliases for the optimizers. For example, for 'adam', we have an alias 'Adam'

How about the following aliases:
- 'adadelta', 'Adadelta'
- 'adamax', 'Adamax'
- 'momentum', 'Momentum'

This seems to be consistent with what we have.

[2018-06-07 14:41] #369 closed

[2018-06-07 14:42] ManrajGrover commented on #401
Keras doesn't have momentum as a separate optimizer. It looks like it is combined with [SGD](https://keras.io/optimizers/#sgd). Should we add it to Layers API?

Also, I just checked that SGD optimizer in Core API is called GradientDescentOptimizer in Tensorflow Python. Maybe it would be difficult to fix that now.

[2018-06-07 14:51] caisq commented on #401
There is no `GradientDescentOptimizer` in Keras or tensorflow.js. It is a Python TensorFlow thing. I think it's fine to leave it out for now.

[2018-06-07 15:37] caisq commented on #340
Part of this issue is related to an issue in TensorFlow Keras
https://github.com/tensorflow/tensorflow/issues/19836

[2018-06-07 16:39] caisq commented on #403
@seranus Do you want to take a look at this issue?

[2018-06-07 17:18] atanasster commented on #401
https://github.com/tensorflow/tfjs-layers/pull/229 , I couldn't reference this issue from the layers repo

[2018-06-07 18:37] #398 closed

[2018-06-07 19:06] Christopher-Han commented on #188
I'm also trying to convert a frozen model using the TF object detection API to TF.js and I'm running into problems with unsupported ops, specifically:

- TensorArrayWriteV3
- TensorArrayV3
- TensorArrayGatherV3
- TensorArrayReadV3
- TopKV2
- Where
- All
- Rank
- NonMaxSuppressionV2
- Assert
- TensorArraySizeV3
- Size
- Unpack
- TensorArrayScatterV3

[2018-06-07 20:01] rchipka commented on #36
Glad to see that there's official progress on this. I'd love to have fast, parallel GPU compute power at my fingertips with the ease and composability of JS.

I started working on a [NodeJS binding for TensorFlow](https://github.com/rchipka/node-tensorflow) a while ago, but a haven't had much free time to devote to it lately.

I had three goals in mind for the project:

#### 1. Don't require build

[2018-06-07 21:11] justadudewhohacks commented on #380
Would also highly appreciate `boolean_mask`. As far as I know, there is currently no way in tfjs to filter a tensors values, other then fetching it's data and filtering, which is a huge performance bottleneck.

[2018-06-07 21:15] justadudewhohacks commented on #188
It is possible to implement ssd mobile net without all the operations mentioned above. Seems like they are all applied in the post processing layer to filter the boxes.

You can remove the post processing layer and filter the boxes manually, atleast that's how I did it.

[2018-06-07 21:28] atanasster commented on #319
@bileschi - I am trying to get used with the tfjs code and picking some starter issues :)
do you guys think the kerneSize is to be checked as a required parameter, or should the error rather be caught in https://github.com/tensorflow/tfjs-layers/blob/master/src/utils/conv_utils.ts#L29 (value is required), or both?

[2018-06-08 02:13] atanasster opened #404 ".vscode/settings.json missing setting"
When submitting fresh PRs, the default settings.json file is missing the setting
"typescript.format.insertSpaceAfterOpeningAndBeforeClosingNonemptyBraces": false,

(you guys probably have it set by default in your vscode editor, but on a brand new fork, it formats the code differently from the project defaults)

[2018-06-08 06:12] ldenoue commented on #188
Do you have code for SSD? Or how fast does it run on your machine in tfjs?

[2018-06-08 14:31] kardeiz opened #406 "Arrow function in tfjs-converter causing syntax error in Internet Explorer 11"
#### TensorFlow.js version

0.11.2 (and tfjs-converter 0.4.0)

#### Browser version

Internet Explorer 11

#### Describe the problem or feature request

tfjs 0.11.2 introduced a dependency on tfjs-converter. tfjs-converter contains an arrow function (in src/data/es6/compiled_api.js) that causes a "Syntax error" in Internet Explorer 11. tfjs 0.11.1 works fine in Internet Explorer 11.

I believe thi

[2018-06-08 16:19] dillontiner opened #407 "Unpack/unstack is implemented, but not usable in tjfs-converter"
#### TensorFlow.js version
tensorflowjs 0.4.0

#### Problem
I am trying to convert the [squeezeDet](https://github.com/BichenWuUCB/squeezeDet) model for use in the browser. Unpack (a.k.a. [unstack](https://github.com/tensorflow/tensorflow/issues/8143)) is the only unsupported op in the graph, but I am aware that an [unstack implementation](https://github.com/tensorflow/tfjs-core/pull/1018) exists

[2018-06-08 18:04] tafsiri commented on #406
Could you tell us a bit more about the build setup you are using that produces your bundle.js? Also just to confirm it hasn't already been resolved could you try with @tensorflow/tfjs@0.11.6

[2018-06-08 18:29] kardeiz commented on #406
@tafsiri thanks for the assistance!

Upgrading to 0.11.6 does not fix it.

I'm using `webpack` by way of `create-react-app`. Here is a complete reproduction:

[code]

[2018-06-08 18:36] #384 closed

[2018-06-08 18:36] tafsiri commented on #327
Fixed

[2018-06-08 18:36] #327 closed

[2018-06-08 20:31] atanasster opened #409 "Getting started example, prediction outputs tensor"
https://github.com/tensorflow/tfjs-examples/blob/master/getting_started/index.js#L45

is missing a .dataSync() to output the prediction value

[2018-06-08 20:33] dsmilkov opened #410 "loadModel from url doesn't work in Node"
(Reported by another user (which is why I don't have the stack trace))

loadModel with a url path doesn't work in Node. This is most likely related to `fetch` missing in node. We should detect the environment and use node's built-in HTTP, or conditionally import [node-fetch](https://www.npmjs.com/package/node-fetch) when we are not in the browser.

cc @nsthorat, @tafsiri for ideas on node <--> bro

[2018-06-08 20:41] dsmilkov commented on #410
I think the best solution is to import `node-fetch` conditionally, and add 'ignore' flag to rollup to ignore this import when making a browser bundle, just like we do for `crypto` ([rollup config](https://github.com/tensorflow/tfjs/blob/master/rollup.config.js#L31)) which came from our `seedrandom` dependency (see seedrandom's conditional import [here](https://github.com/davidbau/seedrandom/blob/r

[2018-06-08 21:27] tafsiri commented on #406
Confirmed. It looks like the file you mention may not be passed through babel. cc @pyu10055 could you take a look.

@kardeiz In the meantime i might have a temporary workaround if you are completely blocked by this. In your app, you could open `node_modules/@tensorflow/tfjs/package.json` and edit it to remove the `module` and `jsnext:main` entries (these are the ones that mention `dist-es6`). That

[2018-06-09 11:05] oxxie opened #411 "Different results between Safari and Chrome"
#### TensorFlow.js version
0.11.6

#### Browser version
Safari 11.1.1 / Chrome 67.0.3396.79

#### Describe the problem or feature request
While running the exact same script of a simple XOR-problem on both Safari and Chrome, both browsers display very different losses after `Model.fit()` was performed multiple times. While Chrome keeps producing smaller losses (around 0.001), Safari gets stuck at

[2018-06-09 11:07] justadudewhohacks commented on #188
Time for inference of first implementation is about 100 - 150ms on average on my gpu (AMD Radeon r9 200). Theres probably still room for optimization.

I implemented it with tfjs-core api from scratch though for face detection in this [repo](https://github.com/justadudewhohacks/face-recognition.min.js), but probably it's possible to convert your graph without the post processing layer using tfjs-c

[2018-06-09 12:42] ManrajGrover commented on #131
[softmaxCrossEntropy](https://github.com/tensorflow/tfjs-core/blob/master/src/ops/softmax.ts#L107) loss implemented does not support weighted loss. Looking at API params, it actually is called [softmax_cross_entropy_with_logits_v2](https://www.tensorflow.org/api_docs/python/tf/nn/softmax_cross_entropy_with_logits_v2) in Python API. I was planning to rename this function and change loss function su

[2018-06-09 14:52] #344 closed

[2018-06-09 15:06] seranus commented on #403
@caisq Sure, I'll check it out

[2018-06-09 19:44] SkalskiP commented on #345
@juanmirod no unfortunately I have not been able to explain this phoneme for now.  If you find any explanation let me know. Please.

[2018-06-09 20:49] SebastianSpeitel opened #412 "Code example for tf.unstack in documentation not working"
#### TensorFlow.js version
0.11.1 and later

#### Browser version
any

#### Describe the problem or feature request
The code example for `tf.unstack()` isn't working, because the returned value is an array of tensors not an actual tensor, so it can't be printed using `tf.print()`.

#### Code to reproduce the bug / link to feature request
[https://js.tensorflow.org/api/0.11.1/#unstack](https://js.t

[2018-06-10 02:35] caisq commented on #340
FYI, regarding https://github.com/tensorflow/tensorflow/issues/19836, the issue has been fixed in tensorflow. But for tensorflowjs to resolve this issue, we need to wait for the next release of tensorflow (1.9.0). RC0 of 1.9.0 just came out this week. The final release of 1.9.0 is on the way.

[2018-06-10 15:59] #367 closed

[2018-06-10 17:03] faroit commented on #214
Its not necessarily required to have a complex data type to implement a DFT. See Implementation of [dsp.js](https://github.com/corbanbrook/dsp.js/blob/master/dsp.js).

[2018-06-10 18:42] nsthorat commented on #214
One thing that would be great, if you're willing to tackle this, is to understand how TensorFlow implemented the FFT. Ideally, the FFT would mirror what TensorFlow uses internally.

Regarding WebAudio, the browser spectogram is ever so slightly different than TensorFlow, so we could use that for browser-only applications, but ideally we'd try to use what TensorFlow uses.

If you verify that Tensor

[2018-06-10 19:04] nsthorat commented on #410
That's one solution. Another solution is to basically extend the backend, or create a "platform" which would be node vs browser which has a few methods that we override (fromPixels, fetch, etc). This seems a little cleaner than sprinkling conditional imports.

[2018-06-10 19:30] #412 closed

[2018-06-10 19:56] valishah commented on #404
Hi @bileschi : Would like to take this up. Do you mind helping me to put things together w.r.t requirement. What do you mean by `small-project` ?

[2018-06-10 20:09] nsthorat commented on #404
We use the google style, I think this is because you haven't installed "clang-format" and "tslint" extensions in vscode.

[2018-06-10 20:18] valishah commented on #124
Hi @bileschi : I see the test cases available for both `getUniqueTensorName` and `isValidTensorName`. Hope we can close this issue.

[2018-06-10 20:31] valishah commented on #311
Hi @nsthorat : I'm looking into `good first issue` labelled issues and seems most of them are done but not concluded to close the issue.  We could just check and close the issues which are no longer active/fixed.

[2018-06-10 21:37] caisq commented on #410
@dsmilkov @nsthorat The IOHandlerRegistry are exactly designed to accommodate this kind of environment-dependent handling of URL schemes. In particular, the `http://` URL scheme will be "rounted" to different IOHandler implementations depending on whether the environment is browser or Node.js. This issue can be regarded as a duplicate of https://github.com/tensorflow/tfjs/issues/343, which  is und

[2018-06-10 22:38] atanasster commented on #404
@nsthorat adding the above setting to .vscode/settings.json , a new user can submit right away, without having to change his own vscode settings. Without the above setting, VSCode will insert spaces around the brackets ie `import { xxx } from yyy;` when saving the file.

[2018-06-10 23:19] oveddan opened #414 "Cannot import Posenet into Observable."
I'm trying to create an observable notebook that imports Posenet.

The Observable [is here.](https://beta.observablehq.com/@oveddan/importing-posenet)

When trying to import PoseNet, it errors with 'Error: unable to load module'

Upon opening the chrome dev tools, the following error shows up:

In the `Network` tab in chrome, it shows a '404' for `https://unpkg.com/crypto@1.0.1/index.js`

[2018-06-10 23:21] oveddan commented on #414
@mbostock any ideas?

[2018-06-10 23:47] tpreusse opened #415 "Floating Imprecision in Safari leads to exceeded `maximum` and undermined `minimum`"
#### TensorFlow.js version

0.11.6

#### Browser version

Safari Version 11.1 (13605.1.33.1.4)

#### Floating Imprecision in `maximum` and `minimum` leads to Fatal Error

Running

[code]

leads to

[code]

in Safari.

Accompanied by `WebGL: INVALID_ENUM: readPixels: invalid type`. Is the floating imprecision a general limitation of Safari because `readPixels` doesn't work?

I think `maximum` and `

[2018-06-11 01:51] dsmilkov commented on #410
Sounds good! Would be great if browser specific handlers only get registered in the browser . This way in node it would say "no io handler registered for http" as opposed to using the browser specific one

[2018-06-11 11:38] zhaoming0 opened #416 "Error happens when running Layers API benchmarks by Chrome browser."
#### TensorFlow.js version
1.7.0
#### Browser version
Google Chrome  67.0.3396.79

#### Describe the problem or feature request
[code]
#### Code to reproduce the bug / link to feature request
_Device:_ MacBook Pro (MacOS 10.13.4)
_Node:_ v8.11.2

_Steps:_
1. Download tfjs-layers repo(commit:11cdc8385fc1bdf197adb383bea2fee7b8949d29), then build Layers API benchmarks by following  [README.md](https:

[2018-06-11 13:27] nsthorat opened #417 "UnsortedSegmentSum fails in node."
When running the unit tests for WebGL in node, we get the following error:

`Message: data.shape = [2,4] does not start with segment_ids.shape = [4]`

The tests are not yet checked in, once they are I will ping this thread.

@jgartman

[2018-06-11 13:36] nsthorat commented on #279
With the new test change I can constrain these to only run in the browser, however, is that what we want? It seems like those could both work in node.

[2018-06-11 14:40] #104 closed

[2018-06-11 14:42] mbostock commented on #414
tensorflow-models/posenet depends on tensorflow/tfjs at exactly 0.11.2, and this version isn’t usable in an AMD environment. This was fixed in tensorflow/tfjs#355 and tensorflow/tfjs-core#1092. I’ll send a PR to relax the specificity of posenet’s dependency.

[2018-06-11 15:01] #414 closed

[2018-06-11 15:30] tafsiri commented on #410
I think i am in favour of providing someway to pass a function that can things like override fetch. This issue intersects with ones like https://github.com/tensorflow/tfjs/issues/272 where on platforms like Ionic or React Native (hybrid web/native platforms) the developer may want to load from some local store that we can't apriori know how to load from (and where fetch isn't implemented). Allowin

[2018-06-11 15:40] bileschi commented on #416
These benchmarks are depending on older versions of `tfjs-core` and `tfjs-layers`.  Updating them to the newest published NPMs (core 0.11.6, layers 0.6.6) has resolved the reported issue, but exposed a different issue.

Trace:
[code]

[2018-06-11 15:43] tafsiri commented on #415
Just adding some info here for us that clipByValue also does the same in safari.

[code]

@tpreusse I'm not sure if this applies in your actual code but a potential workaround if you know your data are integers is to declare the tensor with an int32 dtype. e.g.

[code]

[2018-06-11 15:51] tafsiri commented on #402
@dsmilkov I can take a look

[2018-06-11 16:18] bileschi commented on #404
Hi @valishah I suspect this problem will be small in that solving it likely requires changes to a single file (`.vscode/settings.json`), or possibly clarifications to the `DEVELOPMENT.md` file to help future users get their settings to match the current style.

Thanks for your interest!

[2018-06-11 16:21] bileschi commented on #124
You are right!  Closing.

[2018-06-11 16:21] #124 closed

[2018-06-11 16:35] bileschi commented on #416
When & if the benchmark fails does not seem to be completely deterministic on my machine.  After wiping out the `node-modules` and running again, it made it a few more benchmarks and had a similar failure.   This time with a notable `CONTEXT_LOST_WEBGL`.   Passing along to @dsmilkov re. WEBGL.

[code]

[2018-06-11 16:38] bileschi commented on #411
Thanks @oxxie ,

Is it possible to share a very small test case, including possibly simulated or hard-coded data, that replicates the problem?

[2018-06-11 16:41] atanasster commented on #404
@bileschi - how is the process working on your end ? Will you let us know first if the proposed change is accepted (or change to docs is preferred), or should external contributors submit the PR first to get the conversation going?

[2018-06-11 16:46] nsthorat commented on #279
I decided not to fix this in my PR. Restricting to browser environments is trivial if we decide turning the tests off is the right move, we simply use `describeWithFlags` and pass `BROWSER_ENVS`, which turn it off for node.

[2018-06-11 16:48] bileschi commented on #404
Can you please link the PR here?

[2018-06-11 17:07] nsthorat commented on #415
This will be fixed when https://github.com/tensorflow/tfjs-core/pull/978 lands, which means safari desktop gives perfect precision (iOS will use half float).

I will get it in before EOW, but needed to refactor testing infrastructure before I could get it in.

[2018-06-11 17:41] tpreusse commented on #415
Awesome. Thank you.

@tafsiri thanks for the workaround! Did the job.

Complete workaround, including `mul(255)`, for `toPixels`:
[code]

[2018-06-11 18:06] tafsiri commented on #66
Closing this based on PR feedback.

[2018-06-11 18:06] #66 closed

[2018-06-11 18:07] #54 closed

[2018-06-11 18:08] tafsiri commented on #62
closing as we have removed demos and have separate issue for bringing back benchmarks

[2018-06-11 18:08] #62 closed

[2018-06-11 18:16] tafsiri commented on #64
I'm thinking this is out of date with the new tfjs-models code? [That code](https://github.com/tensorflow/tfjs-models/blob/master/mobilenet/index.ts) has an infer and classify method and no predict, and also has a param for internal activations.

closing for now, we can re-open if needed.

[2018-06-11 18:16] #64 closed

[2018-06-11 18:26] atanasster commented on #404
@bileschi I am having trouble submitting a separate PR while my older PR is still not accepted. Any chance you can take a look at https://github.com/tensorflow/tfjs-layers/pull/229 and let me know if I should remove `momentum` or change the defaults?

[2018-06-11 20:37] atanasster commented on #404
@bileschi https://github.com/tensorflow/tfjs-layers/pull/232/files

[2018-06-11 21:13] oxxie commented on #411
Sure, here goes:

[code]

In Chrome, this will result in ever-decreasing losses, while in Safari the loss will 'get stuck' quite fast, around 0.25 in my case.

Also, I discovered today that switching the optimizer to `tf.train.adam(0.1)` will result in `NaN` losses in Safari... I didn't check any other optimizers though.

Hope this helps, let me know if you need anything else!

[2018-06-11 22:17] jgartman commented on #417
What's happening is that in the frontend function axis 0 on the input tensor is being transposed so that it's the innermost axis and then the WebGL and CPU backends are assuming that this has already been done by the time the tensor is passed to them.  Since the C API doesn't know anything about this, it's assuming the sum is being taken along axis 0 of the tensor it's being passed (which was alre

[2018-06-11 22:29] nsthorat commented on #417
Thanks for debugging! Would you be willing to send a PR?

[2018-06-11 23:27] pyu10055 commented on #100
the support for weight compression is added.

[2018-06-11 23:27] #100 closed

[2018-06-11 23:30] pyu10055 commented on #262
@jeffpyke can you confirm if the latest version has fixed this issue? Thanks!

[2018-06-12 05:27] jeffpyke commented on #262
Cool, yes, I can confirm the issue I saw above is fixed on tensorflow core 0.11.7, tensorflow converter 0.4.1, and electron 2.0.2!

[2018-06-12 11:17] rodrigopivi opened #418 "tf.tidy with bidi rnn layer is not working since v0.11.6"
#### TensorFlow.js version
0.11.6 (the code works on v0.11.5)
#### Browser version
Chrome 66.0.3359.181 (Build oficial) (64 bits)
#### Describe the problem or feature request
The code provided works from v0.11.2 to v0.11.5 but fails on v0.11.6 with this error:
[code]

#### Code to reproduce the bug / link to feature request
[code]

[2018-06-12 11:57] Subhambh opened #419 "Image Processing using a pre trained keras model in tensorflow.js"
i have a pre trained keras model consisting of u-net architecture i have converted them to json file
while running the code in browser i am getting the following error

Uncaught (in promise) Error: Unknown layer: Lambda
    at new t (tfjs@0.11.6:1)
    at deserializeKerasObject (tfjs@0.11.6:1)
    at deserialize (tfjs@0.11.6:1)
    at p (tfjs@0.11.6:1)
    at t.fromConfig (tfjs@0.11.6:1)
    at de

[2018-06-12 14:04] caisq commented on #419
@Subhambh Lambda layers are not supported currently. In fact, it is unlikely we'll support it in the future, because Lambda layers from Python consists of Python code serialized as strings. It is hard to execute Python code in JavaScript.

[2018-06-12 14:31] bileschi opened #420 ""Source" links at js.tensorflow.org take you to a shallow factory function, which may be confusing."
#### TensorFlow.js version
0.11.6
#### Browser version
doesn't matter
#### Describe the problem or feature request
clicking the source link takes the user to the "exports.ts", which then requires them to navigate to the top to determine the actual location of the definition of the symbol

#### Code to reproduce the bug / link to feature request
Click the "source" link at js.tensorflow.org/API/0.11

[2018-06-12 14:44] caisq commented on #410
Thanks, @tafsiri for the comment. How about an API like the following:

1. If the user doesn't need to override `fetch` for environments like React Native, then the `fetch` method will be selected under the hood, automatically, based on whether the environment is browser or node.js. In either case, the following code will work:
[code]

2. If the user needs to override `fetch`, the following API ca

[2018-06-12 18:22] tafsiri commented on #410
@caisq In the example above does getting the initial json file also use myCustomFetch? It looks like it will do a regular http request which may throw a user off if they know they can't do a 'local' http request. If the first param doesn't have 'http' in it will it work?

Is this the point where a user need to implement their IOHandler? Is there a way to implement this minimally in a way that cont

[2018-06-12 21:00] dsmilkov commented on #416
This PR https://github.com/tensorflow/tfjs-layers/pull/235 brings benchmarks up to date and keeps the benchmark demo fixed to an npm version of layers instead of master (linking to master is impossible to keep in sync and causes issues with duplicate backend registration).

As for the `CONTEXT_LOST_WEBGL`, the problem didn't show up for me now, but I know its origin. It's tracked in a separate iss

[2018-06-12 21:04] caisq opened #421 "Setting trainable of a tf.layers.Layer and/or a tf.Model should set the trainable bit of the underlying tf.Variable"
To get help from the community, check out our [Google group](https://groups.google.com/a/tensorflow.org/forum/#!forum/tfjs).

#### TensorFlow.js version
0.11.6

[2018-06-12 21:06] bileschi commented on #416
Thanks Daniel.  Is there something we can do to better update the user that this is happening?

[2018-06-12 22:46] d4l3k opened #422 "Feature request: support converting tensorflow.JS models to normal tensorflow models."
Currently tfjs-converter just converts to the TFJS file format. It'd be really nice if there was a way to convert the models back into a standard tensorflow form so it's possible to deploy the same model everywhere. It would make it a lot easier for people to get introduced to tensorflow by creating models in JS and a browser and then be able to deploy them.

[2018-06-13 11:28] bangoc123 opened #423 "Unknow error when import SavedModel. NotFoundError: ./tensorflowjs_model.pb.frozen;"
I try to convert SavedModel to JS Model and got this error. Please help me to figure out. Thanks

  File "/Users/mac/anaconda2/bin/tensorflowjs_converter", line 11, in <module>
    sys.exit(main())
  File "/Users/mac/anaconda2/lib/python2.7/site-packages/tensorflowjs/converters/converter.py", line 230, in main
    quantization_dtype=quantization_dtype)
  File "/Users/mac/anaconda2/lib/python2.7/si

[2018-06-13 11:36] Subhambh commented on #419
I was able to upload my keras model but to start prediction i was unable to upload image from my static folder
please help
code in js:
<html>
	<title> TensorFlow </title>
	<head>

	<script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@0.11.6"> </script>

	<script>

		const model12 = tf.loadModel ("{{ url_for('static', filename='model.json') }}");

		const example = tf.fromPixels("{{ url_for('

[2018-06-13 11:47] bileschi commented on #422
The converter has support to export to [Keras-native h5 format](https://keras.io/models/about-keras-models/#about-keras-models).  This format can be loaded by the python version of tensorflow using [tf.keras.models.load_model](https://www.tensorflow.org/api_docs/python/tf/keras/models/load_model).   Is this sufficient?

[2018-06-13 14:35] caisq commented on #421
Thanks, @bileschi, for the questions.

Let's consider the more general case: A trainable layer has N trainable variables M non-trainable variables initiailly.

When the user sets layer.trainable to false, all the N + M variables will be set to non-trainable.
Later, when the user sets layer.trainable to true, the state of the N trainable variables and M non-trainable variables will be all restored.