[2020-07-28 20:01] alvinsunyixiao commented on #1186
I observed potential memory leak in executeAsync in the latest release. Can we consider re-open this issue?

Since my model is more of a differential equation simulation step, there are a lot of control flow ops in the model. It is hard to create a minimal reproducible code snippet, but my code repo, https://github.com/alvinsunyixiao/itp-websim/tree/alvin/mem,can be easily tested by running `yarn

[2020-07-29 03:06] lexms commented on #3618
Still the same error
TensorFlow.js model converters.: error: unrecognized arguments: /content/gdrive/My\ Drive/json

[2020-07-29 09:37] qjia7 commented on #3650
@annxingyuan It seems that the cpu backend is still null in my device. Ann, can you reproduce the failure in your side?

[2020-07-29 12:40] Rcuz8 commented on #3631
**Tensorflow.js version: 2.0.1**

I'm not sure if by weight file, this is referencing the sharded files, but I am having an issue with those.

I'm using Firebase Storage, which has a url looking like this:
[code]
This is close to a standard directory-like convention (`/` => `%2F`) but doesn't conform exactly. When I load the model, the parsed shard URL is:

`<APP_URL>/o/group1-shard1of1.bin?<Query

[2020-07-29 15:09] jclaessens97 commented on #3107
Same here, but not with image tensors. Just normal tensors. Code in python works perfect. But when trying the same in tfjs it doesn't seem to work. Asked [here](https://stackoverflow.com/questions/63100154/tfjs-predict-vs-python-predict?noredirect=1#comment111609494_63100154) 3 days ago, but no solution.

[2020-07-29 15:20] 16Yongjin commented on #3107
I had same error when using tfjs-node version 2.0.0.

Using tfjs-node version 1.6.1 solved my problem.

[2020-07-29 17:38] sacredvoid commented on #3357
Hey, any updates on when we expect this?

[2020-07-29 17:42] annxingyuan commented on #3357
Hi @sacredvoid sorry for the delay - I've prioritized this and hope we can release it within the next few weeks. Thanks for your patience!

[2020-07-29 17:44] sacredvoid commented on #3357
Awesome, thanks Ann!

[2020-07-29 20:27] jclaessens97 commented on #3107
Tried that but that's also not working and I've read that some people were getting less accurate predictions.

[2020-07-29 21:13] spazmodius commented on #2868
Same thing seems to happen when specifying `{ center: false }`

[code]

[2020-07-29 21:18] jclaessens97 commented on #3107
Okay, nvm ignore all of the above... Apparently python tf doesn't complain about datatypes, so the order of the keys in predict were also wrong. I noticed this when printing the model.

[2020-07-29 21:27] jclaessens97 opened #3686 "Unsupported Ops: DenseBincount"
I encountered following error for an unsupported operation while converting a python model to a tfjs model.

![Screenshot from 2020-07-29 23-18-58](https://user-images.githubusercontent.com/10177148/88855340-fe7b3680-d1f2-11ea-8aea-33cde34ec0c5.png)

[2020-07-29 23:46] dikatok commented on #3637
@rthadur may I contribute to implement the layer?

@ZissisT would you mind sharing the model or any examples you are converting from? Just for testing purposes later

[2020-07-30 01:20] pyu10055 commented on #3618
@lexms can you move the model file to a directory without spaces as part of the name, and output to the same directory?

[2020-07-30 04:00] pyu10055 commented on #3601
@msahamed @Alshutin This fixed by this PR https://github.com/tensorflow/tfjs/pull/3685
You can wait for next release 2.1.0, we should be releasing this week or earlier next week.

[2020-07-30 04:01] pyu10055 commented on #3582
@elbowdonkey @mohataher This is likely fixed by this PR https://github.com/tensorflow/tfjs/pull/3685
You can try again one 2.1.0 is released, should released this week or early next week.

[2020-07-30 05:45] #3282 closed

[2020-07-30 05:45] #3152 closed

[2020-07-30 05:45] #3196 closed

[2020-07-30 05:46] #3227 closed

[2020-07-30 05:46] #3426 closed

[2020-07-30 05:46] #3558 closed

[2020-07-30 07:19] PratsBhatt commented on #2937
I am still looking for an answer, the issue has not been resolved. Messaging here so that the bot does not close this issue.

[2020-07-30 08:31] ZissisT commented on #3637
@dikatok  I tried training a model described in this article https://thebinarynotes.com/video-classification-keras-convlstm/ (whole code and model are included there) and my goal was first to predict those videos using tfjs (using my trained model). Then as a second step instead of providing videos as input I would input frames from webcam and try to predict motion sequence (e.g. me executing a Go

[2020-07-30 09:01] lexms commented on #3618
Yes, actually that's how I resolve the problem, as I explained it in the description above.
But just, I find it weird that I couldn't use the google drive

[2020-07-30 10:39] beniroquai commented on #3637
I also had the this message earlier today. Recently, the tensorflow team ported it to the tflite framework. Would be very neat to have it in the tfjs framework too. The link can be found [here](https://github.com/tensorflow/tensorflow/issues/38220).

The model I would like to export to tfjs looks like this:

[code]

[2020-07-30 15:02] 11mhg opened #3695 "Size mismatch of converted TF Saved Model to tfjs model"
To get help from the community, we encourage using Stack Overflow and the [`tensorflow.js`](https://stackoverflow.com/questions/tagged/tensorflow.js) tag.

#### TensorFlow.js version

{ 'tfjs-core': '2.0.1',
  'tfjs-backend-cpu': '2.0.1',
  'tfjs-backend-webgl': '2.0.1',
  'tfjs-data': '2.0.1',
  'tfjs-layers': '2.0.1',
  'tfjs-converter': '2.0.1',
  tfjs: '2.0.1',
  'tfjs-node': '2.0.1' }

#### B

[2020-07-30 15:18] pyu10055 commented on #3695
This could be related to strided_slice op, we have a fix for that in upcoming 2.1.0 release.

[2020-07-30 15:20] pyu10055 commented on #3611
@tirkarthi thank you for discovering this, you are welcome to submit PR for your solution.

[2020-07-30 15:25] pyu10055 commented on #3618
@lexms So the basic problem is how to represent directory with space as a single param to the command line, you can use double quotes "/content/gdrive/My\ Drive/model/model.h5" instead of single quote. You might not need the backslash.
Based on some [quick googling](https://stackoverflow.com/questions/18639663/how-to-pass-command-line-parameters-with-space-in-batch-file).

[2020-07-30 16:50] tirkarthi commented on #3611
Sure, I will add a PR.

[2020-07-30 18:39] annxingyuan commented on #3650
@qjia7 ah sorry - I think this is the actual fix https://github.com/tensorflow/tfjs/pull/3699

[2020-07-30 18:47] tafsiri commented on #3550
cc @caisq I was able to reproduce but I noticed this happens on these values for units on LSTM but not other ones (e.g. lower values), ccing you in case you have ideas of where this might lead?

[2020-07-30 18:49] tafsiri commented on #3567
Because of how tensor operations/dataSync works, you are likely timing more than just how long dataSync takes to get values from the GPU. You are probably timing the whole predict function. You can use tf.profile to get a better sense of what is taking up time in your model execution.

[2020-07-30 19:35] rthadur commented on #3092
It is in our todo list , there is no fixed timeline as of now , please let us know if you would like to contribute.

[2020-07-30 19:43] #3562 closed

[2020-07-30 21:43] #3503 closed

[2020-07-31 02:46] dikatok commented on #3637
@ZissisT @beniroquai thanks!

[2020-07-31 06:54] beniroquai commented on #3637
Thanks @dikatok. Is there anything I could help you with?

[2020-07-31 09:32] lexms commented on #3618
@pyu10055 Well yes you're right, but it seems it doesn't work in Colab, It doesn't recognize the argument even with double quotes or with a backslash,
but thank you for the sources.

**error:**
TensorFlow.js model converters.: error: unrecognized arguments: /content/gdrive/My\ Drive/json

[2020-07-31 10:39] dikatok commented on #3637
@beniroquai not yet, I will certainly update either in the PR or here when I encounter blockers or need insights

[2020-07-31 11:16] adridelgal commented on #1717
Hello, I would also be interested in further information about step 3 of data preparation :

"Run WebAudio FFT on the .dat files generated in step 2 in the browser. TODO(cais): Provide more details here."

Does anyone have any idea or indications on how to do this given the available code? Would be greatly appreciated

[2020-07-31 11:30] #3650 closed

[2020-07-31 12:59] 11mhg commented on #3695
Sounds good. I will give this a go with 2.1.0. Is there a dev preview or smth I can use to try it out @pyu10055 ?

[2020-07-31 18:37] sam-g-steel commented on #1455
I get the same problem on v2.0.1

[code]

resulting error...

engine.ts:383 Uncaught (in promise) TypeError: Cannot read property 'backend' of undefined
    at Engine.moveData (engine.ts:383)
    at DataStorage.get (backend.ts:54)
    at MathBackendCPU.readSync (backend_cpu.ts:112)
    at MathBackendCPU.bufferSync (backend_cpu.ts:124)
    at MathBackendCPU.gather (backend_cpu.ts:2092)
    at _engi

[2020-07-31 19:40] spazmodius commented on #1792
@joaoahmad Where can I find docs on `tf.CustomCallback`? It seems conspicuously absent from https://js.tensorflow.org/api/latest/

[2020-07-31 19:43] #3578 closed

[2020-07-31 21:43] #2718 closed

[2020-07-31 22:41] spazmodius opened #3705 "Tensorboard logging does not honor `initialEpoch`"
#### TensorFlow.js version
2.0.1

#### Describe the problem or feature request
When training a model, using `callback: tf.node.tensorBoard()` _and_ `initialEpoch: x`,
the series graph from step=0, not step=`initialEpoch`

#### Code to reproduce the bug / link to feature request
[code]

Probably, this is the source of the issue:
https://github.com/tensorflow/tfjs/commit/303345fb161e5532e5b6d6e49cd0

[2020-07-31 23:43] TanoCuile commented on #1411
Thank you!

[2020-08-01 02:42] jbis9051 commented on #3384
@tafsiri  did you get a chance to look more into it?

[2020-08-01 03:45] caisq commented on #3550
@tafsiri Thanks for letting me know. I can reproduce it too. An additional interesting observation is that the model can always run `predict()` correctly even though its `fit()` method throws the error. This seems to indicate that the problem is somewhere in the gradient tape code related to the `convertToTensorArray` method in tfjs-core. This is consistent with the stack trace of the error.

In a

[2020-08-01 03:52] caisq commented on #3550
More info: `convertToTensorArray()`, which is a part of the gradient tape mechanism, expects its argument to be an array of Tensor or TensorLike. But for some reason, when input shape of the LSTM is `[1, 1]`, i.e., only one temporal step, `convertToTensorArray()` receives a single Tensor as argument. If the argument is an Array<Tensor> of length 1, then everything works.

[2020-08-01 04:47] MyJumperBroke23 opened #3709 "CameraWithTensors Rendering even when autorender is off"
#### TensorFlow.js version

"@tensorflow/tfjs": "^1.7.4",
"@tensorflow/tfjs-react-native": "^0.2.3",
"expo": "~37.0.3",

#### Describe the problem or feature request

The Camera still renders when Using CameraWithTensors even when autorender is turned off.

#### Code to reproduce the bug / link to feature request

[code]

[2020-08-01 08:45] ToonTalk commented on #1792
Look in https://js.tensorflow.org/api_vis/1.4.3/

[2020-08-01 13:25] Nk911 commented on #1186
@alvinsunyixiao meanwhile they check and provide fix. Please try using following.
The way to clean any unused tensors in async code is to wrap the code that creates them between a startScope() and an endScope() call.

tf.engine().startScope()
// do your thing
tf.engine().endScope()

Hope it helps

[2020-08-01 16:41] spazmodius commented on #1792
Thanks, @ToonTalk . Can you give me a little more guidance about where in that doc I'm to find information about `tf.CustomCallback`?  Basic searching did not yield anything.

(I'm not using tfvis, nor tf in a browser)

[2020-08-01 17:58] alvinsunyixiao commented on #3092
@rthadur I would like to give it a try. But I have limited TypeScript experience, is there a starting point or examples of other operators I could follow?

[2020-08-01 19:42] ToonTalk commented on #1792
You are right that tf.CustomCallback isn't documented.

The original problem occurs in tfvis using https://js.tensorflow.org/api_vis/1.4.3/#show.fitCallbacks

[2020-08-01 23:13] jbis9051 commented on #3384
@avroshk that doesn't seem to work for me because it screws up other modules

[2020-08-01 23:15] jbis9051 commented on #3384
@sogoagain Downgrading didn't seem to working for me because its not compatible with tensorflow's webgl backend

[2020-08-02 00:39] annxingyuan commented on #3092
Hi @alvinsunyixiao - WASM cumsum would be an awesome contribution! Here is a recent PR adding support for reverse to WASM: https://github.com/tensorflow/tfjs/pull/3526

I think cumsum could follow a similar format. You can use the CPU implementation as a reference for the kernel logic: https://github.com/tensorflow/tfjs/blob/master/tfjs-backend-cpu/src/backend_cpu.ts#L619

In case it's helpful, he

[2020-08-02 01:00] jbis9051 commented on #3384
For a temporary quick fix, I was able to change `node_modules/@tensorflow/tfjs-core/package.json` from:

[code]
to

[code]

[2020-08-02 16:03] spazmodius commented on #1792
I see the problem.

The `callbacks` argument is passed through [`standardizeCallbacks()`](https://github.com/tensorflow/tfjs/blob/550e2c7ced057309533f44f76e692fe28aa7a802/tfjs-layers/src/base_callbacks.ts#L465), which only handles homogeneous arrays of either `BaseCallback` or `CustomCallbackArgs`. It does not handle an array containing a mix of these.

After all, that is how the `callbacks` argum

[2020-08-03 04:00] HrBbCi commented on #3567
Thanks you so much

[2020-08-03 04:24] HrBbCi commented on #3567
How I can  probably timing the whole predict function ? I used tf.profile , it don't shows bytesAdded or totalBytesSnapshot  dataSync(). Others function have bytesAdded very small

[2020-08-03 07:01] AmitMY opened #3715 "BodyPix example - add accuracy metric"
In the BodyPix example readme you say:

Could you please share any accuracy metric for the different models on any dataset?
For some reason, I'm often seeing better performance by the mobilenet model compared to resnet, so I'd like to test it against some numbers.

[2020-08-03 07:35] arcman7 opened #3716 "Tensor.clipByValue does not work for tensors of dtype int32 in Node backend"
TensorFlow.js version 2.0.1

node version 12.13.0

backend: `"tensorflow"`

OS: Windows 10

Issue: Tensor.clipByValue does not work for  tensors of dtype `int32`.

 Code to reproduce issue:
[code]
This throws an error with the stack trace:
[code]

Please note that it appears to work just fine in the browser using the `webgl` backend.

[2020-08-03 07:52] arcman7 commented on #3716
I'm not sure exactly where the issue is in the code base, but just writing this helper method get's me around the issue for now-
[code]

[2020-08-03 11:43] vjuss opened #3734 "Conversion to tfjs: make_image_classifier gives correct results, notebook version incorrect ones?"
I have used `make_image_classifier` to make my own classifier and converted that to Tensorflow.js with success, giving me confidence rates like A: 0.67XXX, B: 0.10XXX, C: 0.23XXXX (together 1.0)

I want to do the same with the corresponding notebook to have more control (https://colab.research.google.com/github/tensorflow/hub/blob/master/examples/colab/tf2_image_retraining.ipynb)
but if I use it w

[2020-08-03 11:58] vjuss opened #3717 "Wrong predictions after converting from tf2_image_retraining.ipynb to tfjs_graph_model"
TensorFlow.js version: 2.0

Browser version: Chrome

Problem: Wrong results after conversion

Code to reproduce the bug / link to feature request:

https://github.com/tensorflow/hub/tree/master/tensorflow_hub/tools/make_image_classifier
https://colab.research.google.com/github/tensorflow/hub/blob/master/examples/colab/tf2_image_retraining.ipynb

I have used make_image_classifier to make my own cla

[2020-08-03 12:41] annxingyuan opened #3718 "It should be possible to specify custom paths for multiple WASM binaries."
Currently `setWasmPath` accepts a full path to the vanilla WASM binary. Now that we are shipping multiple WASM binaries to support experimental features, users need the ability to specify multiple custom paths.

One way to do this would be to change `setWasmPath` to something like `setWasmPrefix`, which would specify a custom directory with multiple WASM binaries.

[2020-08-03 13:12] AlirezaSoltaniNeshan commented on #3070
Hi there!
I tried so very much, but i have "Network request failed" error when i input my photo and i want to tensorflow that process!
my code is:

[code]
tap on the following link to see my app(error):
https://drive.google.com/file/d/1RZiLR3KWaj2HFRY1Ss7_VopXEjH18GBb/view?usp=sharing

[2020-08-03 13:58] zaidalyafeai commented on #3656
I am also interested to convert MobileBERT to tfjs. Is there an easy way to do it ? How was the question answering model converted ?

[2020-08-03 14:19] tafsiri commented on #3550
Thanks for the pointers @caisq!

[2020-08-03 14:25] tafsiri commented on #3718
Just a thought, we should also consider whether ppl will want flexibility on where the different binaries are or even what they are named (should more emscripten options pop up that are worth testing). While not strictly necessary it makes me think of this issue https://github.com/tensorflow/tfjs/issues/3631.

[2020-08-03 14:30] caisq opened #3719 "Feature Request: Add Colab Notebook to show how to train an audio model from scratch in Python"
The audio model should use the WebAudio preprocessing layer like https://github.com/tensorflow/tfjs-models/blob/master/speech-commands/training/browser-fft/tflite_conversion.ipynb to support easy conversion to TF.js and TFLite.

Public datasets we can use for this:
* https://www.tensorflow.org/datasets/catalog/speech_commands

[2020-08-03 14:32] caisq commented on #3719
cc @khanhlvg

[2020-08-03 14:32] annxingyuan commented on #3718
Oh good point, yeah I can imagine that coming up. So maybe we could have two functions:

`function setWasmPrefix(prefix: string)` // this would define a global `wasmPrefix` variable

`function setWasmFileMap(fileMap: {path: pathOverride})` // this would define a global `wasmFileMap` variable

So we would check in `locateFile` whether `fileMap` is defined, and if so check whether an override is def

[2020-08-03 15:08] tafsiri commented on #3718
Yep, but maybe just one public function that either takes a string (and then generates a fileMap internally) or a fileMap (that probably has keys for each supported module type?). I'm also not sure why it wouldn't use the full url in your example at the end (but maybe you meant that it would and it just rendered funky)?

Do you ever see wanting to try out other JS loaders/initializers for wasm tha

[2020-08-03 15:14] tafsiri commented on #3232
cc @annxingyuan if you do end up deprecating a wasm method, could you add it to this list.

[2020-08-03 15:23] zaidalyafeai commented on #3656
I tried to convert the tf hub version

[code]

but I get the following error
[code]

[2020-08-03 16:24] annxingyuan commented on #3232
@tafsiri done

[2020-08-03 18:49] rthadur commented on #3709
[code]
for more info please refer [link](https://js.tensorflow.org/api_react_native/0.2.1/)

[2020-08-03 20:25] tafsiri commented on #3709
Also what are you overall trying to do? In this case you might be seeing the underlying camera component since no tensors are pulled. Do you still get this behaviour if you pull a tensor from `images`?

[2020-08-03 20:46] dhasegan commented on #3287
I have the same problem. My context is running tfjs-node in an electron environment.

**OS**
Ubuntu 18.04

**TensorFlow.js version**
@tensorflow/tfjs-node

1.7.4

**Describe the problem or feature request**

I successfully build my electron package but when running it, I get the same error as described above.

My `deps/lib` looks like:
[code]

[2020-08-03 23:28] #3705 closed

[2020-08-04 00:18] pyu10055 commented on #3582
@elbowdonkey @mohataher I have verified gpt2 model is convertible after PR #3685, please wait for 2.1.0 release. thanks

[2020-08-04 02:03] un1crom opened #3723 "Deeplab/Segmentation: Error: The dtype of dict['ImageTensor'] provided in model.execute(dict) must be int32, but was float32"
#### TensorFlow.js version
 "@tensorflow/tfjs-node": "^2.0.1"
"@tensorflow/tfjs": "^2.0.1"

#### Browser version
Nodejs and expressjs, no browser

#### Describe the problem or feature request

In using a LOCALLY downloaded and served model.... in the NPM/node module the index.js file requires me to cast a tensor to an int32 or it errors out about float32 no matter what I pass it.

#### Code to rep

[2020-08-04 03:49] Linchenn commented on #3654
The message here is misleading. The reason of skipping kernel times is because the browser does not supports `EXT_disjoint_timer_query` or `EXT_disjoint_timer_query_webgl2` extensions, which is not necessarily related to the browser version. I sent a fix here: https://github.com/tensorflow/tfjs/pull/3725

[2020-08-04 04:52] proj56578 opened #3727 "Ubuntu 20.04 CUDA 11.0 tfjs-node-gpu 2.0.1 Could not load dynamic library Error, Skipping registering GPU devices"
- [ ] To get help from the community, we encourage using Stack Overflow and the [`tensorflow.js`](https://stackoverflow.com/questions/tagged/tensorflow.js) tag.

#### TensorFlow.js version
2.0.1
#### Browser version

#### Describe the problem or feature request

i installed CUDA 11 on Ubuntu 20 using these
apt clean; apt update; apt purge cuda; apt purge nvidia-*; apt autoremove; apt install cuda

[2020-08-04 06:33] co2nut opened #3728 "Error: Unknown layer: Rescaling."
Getting the error when trying to load custom converted model :
Error: Unknown layer: Rescaling. This may be due to one of the following reasons:
1. The layer is defined in Python, in which case it needs to be ported to TensorFlow.js or your JavaScript code.
2. The custom layer is defined in JavaScript, but is not registered properly with tf.serialization.registerClass().

[2020-08-04 09:15] shiv-u commented on #3592
@annxingyuan I'm still not able to solve this issue, is there any update from your end ? Do you need more info from my end ?

[2020-08-04 17:12] #3654 closed

[2020-08-04 18:51] vasanthhr commented on #2978
@tafsiri

can you please guide me when can you fix this conv2dDerInput issue? (Really appreciate your support and fix here).

(I would believe this issue happening in tfjs-core.js file).

[2020-08-04 19:14] msahamed commented on #3601
Thank you for helping. It works with release 2.1.0.

[2020-08-04 19:14] #3601 closed

[2020-08-04 20:20] rthadur commented on #3723
@un1crom please check for a related stack-overflow issue [here](https://stackoverflow.com/questions/61036180/tensorflowjs-tfjs-error-the-dtype-of-dict)

[2020-08-04 20:36] rthadur commented on #3727
@proj56578 can you please check for a similar issue [here](https://github.com/tensorflow/tfjs/issues/2370)

[2020-08-04 20:41] rthadur commented on #3728
@co2nut this is a feature request , would you be willing to contribute ?

[2020-08-05 03:23] alana314 opened #3733 "Bodypix - Smooth between video frames?"
TensorFlow.js version: tfjs-node 2.0.1
body-pix-node v2.0.4
Hi,
I'm using bodypix to process frames from video, and it works but it's jittery compared to virtual backgrounds like Zoom. I'm wondering if A) there's a way to "hint" to the model to look in the coordinates of the previous segmentation when it finds the next one before looking through the full frame, or B) if there's a way to smooth the

[2020-08-05 08:04] rmothukuru commented on #3734
@vjuss,
Transferred the issue to this (TF JS) Repository, as the issue is related to TF JS. Thanks!

@rthadur,
PTAL.

[2020-08-05 08:22] ifeLight commented on #3484
Also having this issues, is there any solution yet?

[2020-08-05 08:54] alokwhitewolf opened #3735 "Load a model from url of a .zip / .gz file"
#### Describe the problem or feature request

After pruning/quantization and subsequent conversion to tf js model, it is ideal to host the model files as .zip / .gz fomat in order to make use of the pruned weights. This often leads results in serving smaller files. Is there any feature that loads a model directly from a path or url of the compressed file?  Do you intend to plan on supporting such

[2020-08-05 11:53] co2nut commented on #3070
i am facing the similar issue, my problem is I had multiple .bin files converted.

Does anyone know how to bundleResourceIO multiple modelweights and use loadLayersModel with multiple .bin files?

[2020-08-05 12:00] jonaslund opened #3736 "npm i @tensorflow/tfjs-node fails"
@tensorflow/tfjs-node: "^2.0.1",
node v13.11.0
python 2.7

[code]

[2020-08-05 12:25] saxelsen commented on #3287
Same issue as @dhasegan .

Using tfjs-node in Electron application. Developing on Mac OSX. When built with electron-builder for Mac, the application works.

When using the electron-builder Docker image to build for linux, the application builds fine. But when running it on an Ubuntu 18.04 VM I get the exact same error message.

**Tensorflow.js version**
@tensorflow/tfjs-node 1.7.4

**Electron vers

[2020-08-05 12:27] yunho2141 commented on #3485
still not resolve issue?

[2020-08-05 12:48] MyJumperBroke23 commented on #3709
@tafsiri I was trying not to render the cameraWithTensors Camera.

I can't figure out how to get it working with shaders from gl-react, so I was thinking of rendering the native expo camera, and then adding shaders following [this tutorial ](https://medium.com/react-native-development/react-native-camera-app-with-live-preview-saturation-and-brightness-filters-d34535cc6d14)

I ended up working arou

[2020-08-05 12:48] #3709 closed

[2020-08-05 13:02] jonaslund commented on #3736
Outdated and broken version of Python. Solved with re-installing python through pyenv. pyenv install 2.7.15
Some issue with homebrew and openssl.

[2020-08-05 13:02] #3736 closed

[2020-08-05 14:01] tafsiri commented on #3709
If you don't need the tensors for images from the camera stream, then you could just use the regular Camera component from expo? Am i missing something about your use case?

[2020-08-05 17:28] #3718 closed

[2020-08-05 19:43] #3490 closed

[2020-08-06 00:53] VogtAI commented on #3582
It works now. Thanks!

[2020-08-06 01:14] proj56578 commented on #3727
i think the issue might also be tfjs doesn’t support cuda 11 ?
let me try with node 10

[2020-08-06 02:38] proj56578 commented on #2370
so i ran with node 10 , but still have this error, I don't think it's using the GPU ?

2020-08-05 19:36:38.518811: I tensorflow/core/common_runtime/gpu/gpu_device.cc:1618] Found device 0 with properties:
name: TITAN RTX major: 7 minor: 5 memoryClockRate(GHz): 1.77
pciBusID: 0000:42:00.0
2020-08-05 19:36:38.518882: W tensorflow/stream_executor/platform/default/dso_loader.cc:55] Could not load dynam

[2020-08-06 02:39] hoaquocphan commented on #3394
Hi @annxingyuan
I have same issue with @gel11
I checked the ticket  https://github.com/tensorflow/tfjs-models/pull/459 and still don't have the answer.
could you give me the answer: are there any tfjs model for stride 32?
Thanks

[2020-08-06 04:18] MilanParikh opened #3738 "Unknown op 'StringToHashBucketFast'"
To get help from the community, we encourage using Stack Overflow and the [`tensorflow.js`](https://stackoverflow.com/questions/tagged/tensorflow.js) tag.

#### TensorFlow.js version:
2.1.0

#### Browser version:
Google Chrome Version 84.0.4147.105 (Official Build) (64-bit)

#### Describe the problem or feature request
While trying to run my converted GraphDef model I run into the above issue

###

[2020-08-06 08:16] mwkldeveloper opened #3739 "CocoSSD fail with: Uncaught (in promise) TypeError: Cannot read property 'read' of undefined"
TensorFlow.js version
2.1.0

Browser version
Chrome 84.0.4147.105

Describe the problem or feature request
tfjs 2.0.1 is work, but fail in 2.1.0

Uncaught (in promise) TypeError: Cannot read property 'read' of undefined
    at control_executor.js:184
    at u (runtime.js:45)
    at Generator._invoke (runtime.js:274)
    at Generator.forEach.t.<computed> [as next] (runtime.js:97)
    at Wm (runtime

[2020-08-06 09:52] htmbennis opened #3741 "tfjs-models/coco-ssd Uncaught (in promise) TypeError: Cannot read property 'read' of undefined with script tag example"
To get help from the community, we encourage using Stack Overflow and the [`tensorflow.js`](https://stackoverflow.com/questions/tagged/tensorflow.js) tag.

#### TensorFlow.js version
@tensorflow/tfjs@latest

#### Browser version
Chrome

#### Describe the problem or feature request
I used the example provided for the model coco-ssd with script tag but I get the following error :
tfjs:17 Uncaught (i

[2020-08-06 11:32] dikatok commented on #3637
@ZissisT what format did you first save the model to? SavedModel or?

[2020-08-06 13:20] MyJumperBroke23 commented on #3709
@tafsiri I need to apply a shader to the camera, but I also need the image tensor for a seperate task.

[2020-08-06 14:13] tafsiri commented on #3709
@MyJumperBroke23 I'd suggest looking at the source code for CameraWithTensors (camera_stream.tsx) and look to making a custom component that yields the tensors (what CameraWithTensors does now) but allows you to run your custom shaders. Inside that file you will see a few utility functions that run shaders.

[2020-08-06 14:33] ZissisT commented on #3637
@dikatok
I directly saved it to tfjs format from Colab:

`
import tensorflowjs as tfjs
.
.
.
tfjs.converters.save_keras_model(model, '/path/to/tfjs_model_folder')
.
.
`
this saved into tfjs_model_folder all group-shardNofY.bin files together with model.json

[2020-08-06 15:49] tafsiri commented on #2978
Could you make a new issue detailing your tfjs, tfjs-backend-wasm version and steps to reproduce? We've added quite a few kernels in wasm since this issue was filed including `Conv2DBackpropInput` (the updated name for this kernel), so i'd make sure you are on the latest version.

[2020-08-06 15:51] pyu10055 commented on #3735
@alokwhitewolf That is a good idea, I believe you are right if you quantize the weights into 8bit/16bit integer, the weight can probably further compressed using zip format.
To host all files as a single .gz would be non-trivial, since the model loader has logic that loads the model.json and bin files in order. But you can zip the individual bin file, and create a custom ioHandler to support decom

[2020-08-06 15:57] zaidalyafeai commented on #3656
Can you help with this @annxingyuan ? What is the convert script you used and do we need to make any changes for the conversion.

[2020-08-06 17:19] rthadur commented on #3727
yes ,please try with 10.

[2020-08-06 17:22] rthadur commented on #3738
@MilanParikh `StringToHashBucketFast` is not yet implemented in tfjs, would you be interested in contributing ? Thank you

cc @pyu10055

[2020-08-06 18:09] proj56578 commented on #3727
any idea when cuda 11 will be supported ?
i read on one of the threads here , in 2.4 ?
if that’s true , can you pls share a timeframe ?

[2020-08-06 19:43] alokwhitewolf commented on #3735
@pyu10055 Thanks for response

I ended up using a version of your second approach to make it work for now.

* Changed the `paths` in `weightsManifest` of model.json to ensure that they end with ".bin.gz" rather than ".bin"
* I gzippped all the .bin files

Since I was using Google Cloud for hosting the weights, I looked at the [transcoding docs](https://cloud.google.com/storage/docs/transcoding) an

[2020-08-06 22:42] #870 closed

[2020-08-06 23:42] #885 closed

[2020-08-06 23:42] #1291 closed

[2020-08-07 03:07] dikatok commented on #3637
Ok, I have tested loading the reference models from you guys @ZissisT @beniroquai + [https://keras.io/examples/vision/conv_lstm/](https://keras.io/examples/vision/conv_lstm/), and it seemed okay.

Will test later this weekend using trained models and share the bundled javascript for you guys to test. 🥂

[2020-08-07 04:42] pyu10055 commented on #3741
@htmbennis this will be fixed in upcoming 2.2 release

[2020-08-07 04:44] pyu10055 commented on #3739
This is same as https://github.com/tensorflow/tfjs/issues/3741

[2020-08-07 04:48] pyu10055 commented on #3735
@alokwhitewolf Cool, basically you are letting browser to handle the decompression. That is very nice. Can you share what level of compression you are getting for the bin files with this approach?

[2020-08-07 05:00] alokwhitewolf commented on #3735
Roughly around ~3.6x. I suppose this would also be affected by the pruning factor one opts for during optimization

![Capture](https://user-images.githubusercontent.com/24509942/89610647-b3b78980-d898-11ea-97c2-3dcab5792a75.PNG)

[2020-08-07 05:03] beniroquai commented on #3637
That's awesome! I saw some movement on the pill request. Is there anything in any nightly builds available already? Can't await to see that :)

[2020-08-07 05:58] pyu10055 commented on #3735
nice, is this model using int8 or int16 quantization?

[2020-08-07 11:08] alokwhitewolf commented on #3735
Had done 8bit quantization

[2020-08-07 15:12] #3739 closed

[2020-08-07 15:37] tafsiri commented on #3384
@jbis9051 No, haven't had a chance to dig further into this. But you should be able to downgrade to tfjs 1.7.4 if you are aren't able to modify the resolution of the module to use the main field. You use use the tfjs union package to avoid any incompatibilities between subpackages.

[2020-08-07 18:42] #3401 closed

[2020-08-07 19:00] hpssjellis opened #3751 "Feature Request: Using Javascript to convert a TensorflowJS model to a TensorflowLite model."
Please make the ability to convert TensorflowJS models into TensorflowLite (flatbuffers?) so that they can be used on micro-controllers such as the $100 [Dual Core Arduino Portenta H7 ](https://www.arduino.cc/pro/hardware/product/portenta-h7).

I have a working sine function model that loads onto both cores [here](https://github.com/hpssjellis/my-examples-for-the-arduino-portentaH7/blob/master/m09

[2020-08-07 19:42] #1225 closed

[2020-08-07 19:42] #1796 closed

[2020-08-07 20:33] pstoebenau commented on #3741
I'm having this problem too. Is there any workaround or version that works?

[2020-08-07 20:42] #3652 closed

[2020-08-07 22:05] pyu10055 commented on #3741
You can lock the TFJS version to 2.0.1

[2020-08-07 23:32] jasonmayes commented on #3751
Thanks for submitting this! I shall pass this on to the team. For any other folk interested in this please do leave your thoughts below too.

[2020-08-07 23:42] #3373 closed

[2020-08-08 00:52] Jonarod opened #3753 "TypeError: "e.wasm is undefined" on Firefox"
#### TensorFlow.js version
2.0.1

#### Browser version
Firefox 65.0

#### Describe the problem or feature request
When loading `tf-backend-wasm` on Firefox, an error occurs:

[code]

#### Code to reproduce the bug / link to feature request

[code]
then an error appears in the console and wasm backend is not usable:

[code]

My Firefox version may be too old, but if I am correct, Firefox should be

[2020-08-08 01:09] delebash opened #3754 "tfjs-converter error ValueError: Improper config format: {'node':"
To get help from the community, we encourage using Stack Overflow and the [`tensorflow.js`](https://stackoverflow.com/questions/tagged/tensorflow.js) tag.

#### TensorFlow.js version
tfjs-v2.1.0

#### Describe the problem or feature request
Trying to convert tfjs model https://github.com/tensorflow/tfjs-models/tree/master/facemesh to python using tfjs-converter
but getting error ValueError: Improp

[2020-08-08 08:36] vivekkhimani opened #3755 "tf.losses.MeanSquaredError doesn't work for multi-dimensional labels and predictions"
#### TensorFlow.js version
"@tensorflow/tfjs": "^2.0.1"
"@tensorflow/tfjs-react-native": "0.3.0"

#### Browser version
NA (iOS 10.0 on iPad 6th generation)

#### Describe the problem or feature request
I am trying to use **tf.losses.MeanSquaredError()** provided by tfjs to calculate the loss between 4-dimensional labels and predictions. We wouldn't ideally use 4-dimensional tensors while calculati

[2020-08-08 10:47] Laurenceldp commented on #3741
Hi - same problem, tried locking to 2.0.1 but getting an error - Uncaught (in promise) Error: The dtype of dict['image_tensor'] provided in model.execute(dict) must be int32, but was float32. I'm using video, it won't let me cast it. Any tips to get round this?

I'm a newbie so any advice is greatly appreciated. I'm using both TF object and 3d face landmark model together. No issues until this wee

[2020-08-08 12:26] kamalesh0406 commented on #3755
Even I faced this issue with the same version of tfjs.

[2020-08-08 18:24] vivekkhimani commented on #3755
UPDATE: The issue seems to be solved for "@tensorflow/tfjs": "^2.1.0". Closing it.

[2020-08-08 18:24] #3755 closed

[2020-08-08 20:42] #3609 closed

[2020-08-08 21:59] ristomatti commented on #2872
If someone still ends up here, I managed to get `tfjs-node` working with these versions by "a few" extra steps:

1. Create symlinks of the libraries which are printed on startup, either inside `/usr/local/cuda/lib64` or `/usr/lib/aarch64-linux-gnu` depending on where the library exists. E.g.

[code]

2. Make sure you have `LD_LIBRARY_PATH` set to `/usr/local/cuda/lib64:/usr/lib/aarch64-linux-gnu`

[2020-08-08 22:06] sbrl commented on #3287
Well excuse me, @tensorflowbutler. I'm not the one who isn't replying here........

Anyway, to update here - I found that you do indeed need to build libtensorflow `1.15.3`, not the latest master. Basically do `git checkout v1.15.3`, and then build as normal. Make sure you get the right version of bazel though.

[2020-08-09 02:26] brysgo opened #3757 "Tensor.pad does not work with empty tensor on node backend"
To get help from the community, we encourage using Stack Overflow and the [`tensorflow.js`](https://stackoverflow.com/questions/tagged/tensorflow.js) tag.

#### TensorFlow.js version

2.1.0

#### Browser version

Node 14.4.0

#### Describe the problem or feature request

Would expect an empty tensor to get padded like any other, it instead throws an exception. I wrote this as a work around and in

[2020-08-09 04:20] aeggarut commented on #3741
Choosing TFJS 2.0.0 works for me

[2020-08-09 14:39] dipeshkoirala21 commented on #3186
hello,  i am facing similar error? Can somebody explain what 'NON-HTTP-URI-GOES-HERE' means? I am trying to pass this
`file:///data/user/0/host.exp.exponent/cache/ExperienceData/%2540anonymous%252Ftfjs-app-163e476a-4d39-48a7-9272-6156e46d3add/ImagePicker/214a32e3-3cc5-46f1-bd61-48255a92b4dc.png ` as url and  i did this
[code]
but its throwing TypeError: null is not an object(evaluating 'imageAsset

[2020-08-09 17:15] Aditya-Ace opened #3759 "Stop Models and clear the video when toggle on and off"
I am on Angular and using models,

Posenet

COCO SSD

BodyPix B&W Pixels

BodyPix RGB Pixels

Face API Image Recognition

Face API Emotion and Age Detection

Hand Tracking

in my project, as you can see in the picture.
I load all the models when the page loads in ngAfterViewInit().
I have provided the toggle option and getting true when turned on and false when turned off.
My Models work when turn

[2020-08-09 18:17] flo00008 commented on #3651
Rebuild still didn't solve my issue (on windows at least, I tried on ubuntu and works fine).

I'm unable to get it working and I get the same error as the other issues

[2020-08-10 04:47] EddieOne commented on #110
It would be nice to have a way to test SVD in TFJS.

[2020-08-10 04:55] MilanParikh commented on #3738
@rthadur Unfortunately I don't have the expertise to do so, are there any resources I can use to take a look at the process?

[2020-08-10 08:50] kedevked commented on #110
@EddieOne Yes indeed, that would be nice to have. But I guess the tfjs team for now have decided not to include this operators in the core library.

[2020-08-10 09:23] Nithanaroy opened #3762 "Cannot obtain camera on iOS Chrome - handpose demo doesn't work"
To get help from the community, we encourage using Stack Overflow and the [`tensorflow.js`](https://stackoverflow.com/questions/tagged/tensorflow.js) tag.

#### TensorFlow.js version
Whichever is used for https://storage.googleapis.com/tfjs-models/demos/handpose/index.html

#### Browser version
Chrome 84

#### Describe the problem or feature request
The handpose demo doesnt start on iOS Chrome wit

[2020-08-10 09:37] Laurenceldp commented on #3741
Thanks @aeggarut, tried that but still getting the same errors.

 `const videoFeed = document.querySelector('stream');
const videoElem = document.querySelector('#videoElement');

let model = null;
let videoStartTime;
//starts video stream
let video = document.querySelector("#videoElement");
if (navigator.mediaDevices.getUserMedia) {
    navigator.mediaDevices.getUserMedia({
        video: true

[2020-08-10 09:54] yangshengdong opened #3763 "In the node environment, how to convert the returned result of the pride into a readable prediction value?"
I have a model that predicts a 4-digit verification code. After the prediction, the tensor object is returned. How do I know the predicted result? How to convert the 4-digit verification code from pridect's return result? For example: 4789

#### env：node
[code]

#### code:
[code]
#### terminal console：
[code]

[2020-08-10 14:46] kalmufti commented on #3741
@Laurenceldp you can checkout [my github repo](https://github.com/kalmufti/tfjs-webcam/tree/master)  for reference, it also has a Glitch app. feel free to test it and/or remix it at [https://tfjswebcam.glitch.me](https://tfjswebcam.glitch.me).

[2020-08-10 14:50] dikatok commented on #3637
Bundle

Keep in mind some layers might not be compatible at the moment, BN for example

@beniroquai not sure if the PR can be merged yet for nightly build

[bundle.zip](https://github.com/tensorflow/tfjs/files/5051513/bundle.zip)

[2020-08-10 15:28] Laurenceldp commented on #3741
@kalmufti Thanks so much for this, really helpful!

[2020-08-10 16:00] Deamoner opened #3765 "Loading Wasm and Activiting in Worker Causes Compile Error"
To get help from the community, we encourage using Stack Overflow and the [`tensorflow.js`](https://stackoverflow.com/questions/tagged/tensorflow.js) tag.

#### TensorFlow.js version
2.0

#### Browser version
Latest Chrome

#### Describe the problem or feature request
Wanted to add and turn on wasm in the web worker. It loads the file but on set tfjs says compile error.

#### Code to reproduce the

[2020-08-10 16:02] Deamoner opened #3766 "Body-pix Masking for thighs"
To get help from the community, we encourage using Stack Overflow and the [`tensorflow.js`](https://stackoverflow.com/questions/tagged/tensorflow.js) tag.

#### TensorFlow.js version
2.0

#### Browser version
Latest Chrome 84

#### Describe the problem or feature request
I find the accuracy for thighs kicking out to the sides and arms out to disappear in a mask. Like when the legs. are raised the

[2020-08-10 16:20] kalmufti commented on #3741
Glad it helped you :) I would really appreciate it if you give my repo a star :star: I intend to keep it up to date, also add more models like PosNet, etc.

[2020-08-10 17:33] rthadur commented on #3753
@Jonarod please provide executable code to reproduce the error or an code pen example , thank you

[2020-08-10 17:54] Skylion007 opened #3767 "Feature Request: Port the mediapipe iris-tracking tflite model to tfjs-models"
To get help from the community, we encourage using Stack Overflow and the [`tensorflow.js`](https://stackoverflow.com/questions/tagged/tensorflow.js) tag.

#### TensorFlow.js version
N/A
#### Browser version
N/A
#### Describe the problem or feature request
We would like to use the new [Iris Tracking tflite model](https://ai.googleblog.com/2020/08/mediapipe-iris-real-time-iris-tracking.html) in tfj

[2020-08-10 17:54] rthadur commented on #3759
Hello, this sort of question is better suited for StackOverflow. This issues list is for bugs and feature requests. Thanks and please use the tag 'tensorflow.js' on your StackOverflow question to makes sure it's discoverable.

[2020-08-10 17:54] #3759 closed

[2020-08-10 18:03] Aditya-Ace commented on #3759
https://stackoverflow.com/q/63345529/12459278

Please help me there

[2020-08-10 18:18] Skylion007 commented on #3767
@annxingyuan

[2020-08-10 18:20] annxingyuan commented on #3767
Hey there - we are actively working on this here: https://github.com/tensorflow/tfjs-models/pull/508

Hope to launch this soon! Will keep you posted :)

[2020-08-10 20:10] EddieOne commented on #110
As I understand it, we need more floating points in JS to get the accuracy needed for SVD. But I am fuzzy on the details. I was going to try more interpolation without SVD and see what happens.

[2020-08-10 20:30] beniroquai commented on #3637
@dikatok Thanks for your effort! I tried it and get the following message:

[code]

Do you have any idea what this could mean?

Versions:

[code]
and your bundle as the web-runtime.

[2020-08-10 21:16] brysgo commented on #3757
I'm going to close this because while there was a difference in behavior of the back ends, it was ultimately user error since the length of the paddings did not match the rank of the tensor.

Sorry for the noise, was on the tail end of a lot of sleepless nights.

[2020-08-10 21:16] #3757 closed

[2020-08-11 00:52] yangshengdong commented on #3763
[code]

[2020-08-11 00:52] #3763 closed

[2020-08-11 02:01] rthadur commented on #3762
@Nithanaroy which IOS device you are using , according to this [documentation](https://github.com/tensorflow/tfjs-models/tree/master/handpose#performance) , it is well suited for iPhone 11, thank you
cc @annxingyuan

[2020-08-11 02:05] rthadur commented on #3765
@Deamoner did you try with latest version , can you please provide steps and error message ?

[2020-08-11 02:11] Nithanaroy commented on #3762
Hi Rajesh,

It works on Safari on my iPhone 10. But it doesn't work on Chrome iOS v84.
I think either the demo is using an inaccurate JavaScript API to fetch
camera stream on Chrome iOS or some other major problem exists.

On Mon, Aug 10, 2020 at 7:01 PM Rajeshwar Reddy T <notifications@github.com>
wrote:

--
Regards Nitin Pasumarthy Sent from a mobile

[2020-08-11 02:17] Deamoner commented on #3765
No version specified so it should be latest from npm.

I believe I put code. You just load/import and activate Wasm on tfjs and it errors out.

Sent from my iPhone

[2020-08-11 04:17] dikatok commented on #3637
@beniroquai Thanks!

That issue occurred because the name of the recurrent kernel in tfjs was recurrentKernel while in Python it is recurrent_kernel.

I missed it because I always use the option strict: false during the load 😉.

I have updated the bundle and link https://github.com/tensorflow/tfjs/issues/3637#issuecomment-671402608.

[2020-08-11 05:26] hpssjellis commented on #3751
Additional information:

Here is a link of how I change a TFJS model.json and model.weights.bin files to an arduino style C header file.

expect both  tf-nightly  tensorflowjs to be installed.

[code]

The above commands are [explained here](https://github.com/hpssjellis/my-examples-for-the-arduino-portentaH7/tree/master/m09-Tensoflow/tfjs-convert-to-arduino-header)

[2020-08-11 05:37] beniroquai commented on #3637
@dikatok Great! I figured out, that the firebase link worked, but the link to the bundle in the update 1 for some reason didn't. Great job! I'll give it a try now! :-)

[2020-08-11 08:31] shiv-u commented on #3592
closing this issue as it's not getting response.

[2020-08-11 08:32] shiv-u opened #3770 "BytesInGpu keep increasing whereas the numBytes is constant."
Opening this new issue as earlier https://github.com/tensorflow/tfjs/issues/3592 didn't get response.
#### TensorFlow.js version
Using this source for the script : https://cdn.jsdelivr.net/npm/@tensorflow/tfjs/dist/tf.min.js
#### Browser version

#### Describe the problem or feature request
The BytesInGpu keep increasing whereas the numBytes, numTensors,numDataBuffers are constant. I'm using tf.ti

[2020-08-11 08:57] Elbek-Khoshimjonov commented on #3004
I am also facing with senet-50 model, do you think batchNormalization layers are the problem?

[2020-08-11 10:32] akineeic opened #3771 "[WASM] The tfjs-backend-wasm module try to find simd binary when I specify a wasm file"
#### TensorFlow.js version
2.0.1

#### Browser version
84.0.4147.105 (Official Build) (64-bit)

#### Describe the problem or feature request
I use `setWasmPath` to set path to wasm binary(tfjs-backend-wasm.wasm), but the module seem to find tfjs-backend-wasm-simd.wasm in the same path instead and cause the error `file not found`. Why the module try to import simd binary file since I specified a wa

[2020-08-11 10:43] annxingyuan commented on #3771
Hi @akineeic - thank you for reporting this. This behavior will be fixed in our next release: https://github.com/tensorflow/tfjs/pull/3627

Our next release will deprecate `setWasmPath` and include a new function `setWasmPaths` (notice the 's' at the end) which will accept either a string indicating the folder where all your WASM binaries can be found, or a map specifying the location of each bina

[2020-08-11 10:43] #3771 closed

[2020-08-11 10:47] annxingyuan commented on #3765
Hi @Deamoner - has your code worked in any previous version of TFJS? Also if you could include the full compile error from the console that would be great.

I also wonder whether this might be related: https://github.com/tensorflow/tfjs/issues/3771

[2020-08-11 14:27] rthadur commented on #3770
@shiv-u thanks for your patience will track this in original issue.

[2020-08-11 14:27] #3770 closed

[2020-08-11 14:28] rthadur commented on #3592
@annxingyuan gentle ping if you have any update ?

[2020-08-11 17:38] kylemcdonald opened #3772 "Error loading exported Keras MobileNetV2"
#### TensorFlow.js version

Tested on 2.0.0 and 2.1.0

#### Browser version

Chrome 84.0.4147.105

#### Describe the problem or feature request

I am trying to export a fine-tuned model from Keras, but I see the error "Unknown layer: Functional". I tried using MobileNetV2 without any modifications and I still get the error.

I followed the instructions from [Importing a Keras model into TensorFlow

[2020-08-11 18:27] rthadur commented on #3734
Closing this issue to better track in #3717

[2020-08-11 18:27] #3734 closed

[2020-08-11 18:55] kylemcdonald commented on #3772
Solved... I think.

It looks like `tfjs.converters.save_keras_model()` does not support functional models. Despite what the error message says, it's not really about a specific layer in the original Keras model.

The process for saving functional models should look like this:

[code]

Followed by conversion:

[code]

And using `loadGraphModel()` instead of `loadLayersModel()`:

[code]

I figured t

[2020-08-11 18:55] #3772 closed

[2020-08-11 20:53] vvasc commented on #3485
@yunho2141 Was resolved, it works now

[2020-08-11 23:53] flo00008 commented on #3741
As a temp solution, you can use older versions of tfjs

This are the scripts that made it work for me

[code]

[2020-08-12 06:07] dipeshkoirala21 commented on #3070
`getPrediction = async () => {
    await tf.ready(); // ready tf
    const model = await mobilenet.load(); //load mobilenet : neural network designed to classify image into different categories
    const fileUri = url;
    const imgB64 = await FileSystem.readAsStringAsync(fileUri, {
      encoding: FileSystem.EncodingType.Base64,
    });
    const imgBuffer = tf.util.encodeString(imgB64, "base64")

[2020-08-12 06:15] dipeshkoirala21 commented on #3070
your issue is probable cause of this https://github.com/tensorflow/tfjs/issues/3186 issue. if you still have problem after this, you can clone my working example from here  https://github.com/dipeshkoirala21/rn-tensorflowjs-mobilenet

[2020-08-12 06:20] kylemcdonald commented on #3772
One more aside, it looks like with tfjs 2 the loadGraphModel method has moved:

[code]

I couldn't find this in the documentation... maybe this is obvious to folks who are more experienced with modern JavaScript :) I found a hint in the tests [here](https://github.com/tensorflow/tfjs/blob/master/e2e/integration_tests/load_predict_test.ts).

[2020-08-12 06:26] dipeshkoirala21 commented on #3070
@alihassan711 @tafsiri  hello, I am fairly new to tensorflow, and i have some questions for you guys, Please help me here.
How did you convert your pretrained models? Did you use tensorflowjs_converter? If not, what did you use? I am trying to convert pretrained model, which generally is in .pb format (downloaded from [](https://github.com/tensorflow/models/blob/master/research/slim/nets/mobilenet

[2020-08-12 06:49] elb3k opened #3776 "Batch Normalization layer issues"
#### TensorFlow.js 8.0.1

#### Problem

I am trying to convert senet50 model from keras to tensorflow.js
Conversion is successfull. But when I try to load model in JS, I get following error:
[code]

All the weights are belongs to BatchNormalization layer. And BatchNormalization layer is done in channel axis.
[Here](https://github.com/rcmalli/keras-vggface/blob/master/keras_vggface/models.py#L412)

[2020-08-12 15:08] wisrovi commented on #1844
Tengo el mismo problema al actualizar a la versión 2.0, saben si se ha podido solucionar?

[2020-08-12 15:58] alvinsunyixiao commented on #3092
Hi @annxingyuan, thanks for the pointer! I just made time for starting to implement this. I noticed the CPU backend implementation asserted `axis === x.rank - 1`. Do we expect the same behavior for wasm? Or should I try generalize this to all axis?

[2020-08-12 16:27] annxingyuan commented on #3092
Hi @alvinsunyixiao - I would say maybe try to implement it for the axis === x.rank - 1 case first, then we can generalize it in a follow-up PR!

[2020-08-12 17:42] #3631 closed

[2020-08-12 18:14] sarat9 commented on #3741
Not just the script, facing the same with the npm module too..
Temporarily TFJS 2.0.0 worked fine.

[2020-08-12 18:39] alvinsunyixiao commented on #3092
Hi @annxingyuan - Should I replicate [this](https://github.com/tensorflow/tfjs/blob/2bc0cebf68ffe27a57f8a0823a0cc9442a48556b/tfjs-core/src/ops/cumsum.ts#L57) permutation logic with WASM transpose kernel?

[2020-08-12 20:16] archie-swif commented on #2542
Hi everyone!

I have merged all @doc blocks with jsdoc, tried to run doc-gen on updated code, and it works good!

**doc-gen**
I see that parser in doc-gen goes through all the comment blocks for @doc annotation. It does not matter if @doc is in it's own comment block or in jsdoc. I only get errors if @doc is moved to the first line of jsdoc.

**Testing**
jsons made by ```tfjs-website``` look fine,

[2020-08-12 20:27] alvinsunyixiao commented on #3092
It seems like `Sum` is also assuming a `float32` input, but I didn't see an assertion anywhere ensuring that dtype. Is that expected?

[2020-08-12 20:33] archie-swif commented on #2542
Here's a PR for it: https://github.com/tensorflow/tfjs/pull/3780

[2020-08-13 00:25] alvinsunyixiao commented on #3092
Hi @annxingyuan - I have just created a PR #3782. Thanks for the help!

[2020-08-13 05:30] mchangxe commented on #2815
how did you solve this??? running into the same problem.

[2020-08-13 08:35] KailiangGu opened #3786 "Error: Unknown layer: Functional. This may be due to one of the following reasons"
I am new to the TensorFlow and JS.
I was trying to convert the MobileNet V2 model from keras to tensorflow.js
When I try to load model into JS, I get the following error:

`errors.ts:48 Uncaught (in promise) Error: Unknown layer: Functional. This may be due to one of the following reasons:
1. The layer is defined in Python, in which case it needs to be ported to TensorFlow.js or your JavaScript co

[2020-08-13 09:51] lospericos commented on #3786
I had an issue like this albeit im using MobileNet not v2. I don't have the specific link, but a stack overflow thread somewhere said to go into the public/model.json folder and ctrl+f "Functional" and replace the word with "Model". worked for me!

[2020-08-13 13:26] brysgo opened #3787 "memory leaking in Model.predict on cart-pole in tfjs-examples"
#### TensorFlow.js version

2.0.0 and 2.1.0

#### Browser version

84.0.4147.110 (Official Build) (64-bit)

#### Describe the problem or feature request

I'm somewhat new here, but I would expect the number of tensors in memory to only increase by 1 around predict and by 2 around the tf.tidy. Instead my console is littered with messages from my leak checker like these:

[predict]: Expected num ten

[2020-08-13 14:17] Laurenceldp opened #3788 "Facemesh model (const model = await facemesh.load();) stopped working after this weeks update"
To get help from the community, we encourage using Stack Overflow and the [`tensorflow.js`](https://stackoverflow.com/questions/tagged/tensorflow.js) tag.

#### TensorFlow.js version
  <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@2.0.1/dist/tf.min.js"></script>
<script src="https://unpkg.com/@tensorflow/tfjs-converter@2.1.0/dist/tf-converter.js"></script>
#### Browser version
Version

[2020-08-13 14:22] alezanott opened #3789 "Issue with node"
I'm currently running node on HOOBS (on Raspberry Pi 3). I get this error when running the verbose mode:
[code]
What could give this kind of error? I've got a plugin that cannot register since it doesn't have the correct node bindings.

[2020-08-13 14:39] veejayts opened #3790 "model.detect method on Object Detection model throws TypeError: Cannot read property 'read' of undefined"
#### TensorFlow.js version in Node
"dependencies": {
    "@tensorflow/tfjs-automl": "^1.0.0",
    "@tensorflow/tfjs-node": "^2.1.0"
  }

#### The problem
The model is loaded for the tfjs model exported from GCP AutoML. But when the image is fed for detection, it doesn't work. It throws the following error. It throws the error when it hits model.detect(image).

[code]

#### Code to reproduce the bu

[2020-08-13 15:20] veejayts commented on #3790
Setting the version of "@tensorflow/tfjs-node": "2.0.0" fixed it for me

[2020-08-13 15:20] #3790 closed

[2020-08-13 16:24] annxingyuan commented on #3788
Hi @Laurenceldp - thanks for filing this issue. I noticed that you're using TFJS 2.0.1 - I think the issue will go away if you upgrade to TFJS 2.1.0.

Also wanted to note in your snippet you're loading both tf.js and tf-converter.js - the converter is actually included in tf.js, so might be able to remove that script tag!

[2020-08-13 16:24] #3788 closed

[2020-08-13 19:20] rthadur commented on #3727
@proj56578 it depends on tensorflow core, right now latest version supported in tf core is 10.1 , thank you

[2020-08-13 19:20] #3727 closed

[2020-08-13 19:48] rthadur commented on #1311
As mentioned [here](https://github.com/tensorflow/tfjs/issues/3287#issuecomment-656935658) , tfjs-node depend on tf core version 1.5.0

[2020-08-13 19:55] rthadur commented on #3287
Thank you all , closing this issue as this been resolved , please @mention if you need more attention.

[2020-08-13 19:55] #3287 closed

[2020-08-13 20:12] brysgo commented on #3787
Closing this for now since I'm clearly not understanding something about how tf.variableGrads is working. https://codepen.io/brysgo/pen/GRZoGmO

[2020-08-13 20:12] #3787 closed

[2020-08-13 22:15] rthadur commented on #3789
@alezanott please check for a similar issue [here](https://github.com/tensorflow/tfjs/issues/3577) , thank you.

[2020-08-14 01:09] rthadur commented on #3471
Fix has been merged, thank you all.

[2020-08-14 01:09] #3471 closed

[2020-08-14 06:00] koren-v opened #3803 "AssertionError: Identity is not in graph for Hugging Face Model"
Hi, I wanted to go beyond this tutorial [(How Hugging Face achieved a 2x performance boost for Question Answering with DistilBERT in Node.js)](https://blog.tensorflow.org/2020/05/how-hugging-face-achieved-2x-performance-boost-question-answering.html) and convert the model to tfjs format to have the ability to make computations on the client-side (If I wrong here, please correct). But it fails whil

[2020-08-14 07:36] KailiangGu commented on #3786
Replace the "Functional" with "Model" indeed solve this error. However, it also gives me the new error as following:

Uncaught (in promise) Error: computeMask has not been implemented for Merge yet

[2020-08-14 10:21] #3618 closed

[2020-08-14 14:21] #3695 closed

[2020-08-14 17:27] divisiondeariza commented on #481
I got the same problem, specifically with tfjs-node backend, it turned up that the easiest solution that worked for me was to use [jemalloc](http://jemalloc.net/), in this [Stack Overflow answer](https://stackoverflow.com/questions/53234410/how-to-use-node-js-with-jemalloc) it's pretty well explained what you have to do.

[2020-08-14 19:21] #332 closed

[2020-08-14 20:21] #1220 closed

[2020-08-14 21:34] ludgerh opened #3806 "The Python converter (h5 to tfjs) does not handle NASNetLarge from Keras"
#### TensorFlow.js version
Error occurs in Tensorflow 2.2. Tested also 2.3: Same...
#### Browser version
No Browser
#### Describe the problem or feature request
When I run the code below I get the following error:
`Traceback (most recent call last):
  File "convtest.py", line 25, in <module>
    tfjs.converters.save_keras_model(model, 'test/tfjs/')
  File "/home/ludger/safe/sources/python/camai/en

[2020-08-15 00:22] jbis9051 commented on #3384
@tafsiri  can you reopen?

[2020-08-15 00:30] #3611 closed

[2020-08-15 02:37] phamleduy04 opened #3807 "Could not find valid device for node"
To get help from the community, we encourage using Stack Overflow and the [`tensorflow.js`](https://stackoverflow.com/questions/tagged/tensorflow.js) tag.

#### TensorFlow.js version
2.3.0
#### Browser version
node.js v12.18.2
#### Describe the problem or feature request
I tried to train and predict with `knn-classifier` but I got the error.
#### Code to reproduce the bug / link to feature request

[2020-08-15 06:49] lyuboraykov commented on #3754
I ran into the same issue and ended up using https://github.com/patlevin/tfjs-to-tf

[2020-08-15 12:18] delebash commented on #3754
Thanks.  That looks like a great project and I am looking forward to trying it.

[2020-08-15 12:18] #3754 closed

[2020-08-15 18:28] bluebalam commented on #3384
We downgraded to 1.7.4 to make our App work but it is a pity we cannot use the latest tfjs :/

[2020-08-15 18:29] bluebalam commented on #3384
@tafsiri could you please keep this issue open until it is resolved?

[2020-08-15 19:12] rthadur commented on #3807
@phamleduy04 can you please check this [link](https://stackoverflow.com/questions/52243227/tensorflow-js-how-to-avoid-your-cpu-supports-instructions-avx-avx2) if this helps ?

[2020-08-15 19:23] phamleduy04 commented on #3807
I tried to set the env but the error still here.

[2020-08-15 19:33] rthadur commented on #3806
@ludgerh what is model you are trying to convert ?

[2020-08-15 19:34] rthadur commented on #3807
@phamleduy04 can you please provide your system information ?

[2020-08-15 19:53] phamleduy04 commented on #3807
[code]

This is my Dxdiag information

[2020-08-15 20:04] phamleduy04 commented on #3807
I also tried to run on the MBP 2020 base model but it does not work either

[2020-08-16 13:07] ludgerh commented on #3806
The model I try to convert is a topless NASnetLarge with some own layers in the top. I does not matter if I train it or store immediately after creation (like in the example source). The error is the same...

[2020-08-16 13:07] ludgerh commented on #3806
You should be able to reproduce with my source.

[2020-08-16 15:03] dipeshkoirala21 commented on #193
Hi, can anyone help me with this exact same error? Here is my code and this https://bit.ly/31VPfF4 is what i am getting..Can somebody help me here please?
 `getPrediction = async () => {
    await tf.ready(); // ready tf
    setDisplayText('Loading MobileNet');
    const model = await tf.loadGraphModel(
      bundleResourceIO(modelJSON, modelWeights),
    );
    setDisplayText('Fetching Image');

[2020-08-16 16:18] alvinsunyixiao commented on #3053
@annxingyuan - Hi, I have put up a PR #3784. Could you help review it? Thanks!

[2020-08-16 17:23] batrlatom opened #3808 "Converted models are very slow"
#### Describe the problem or feature request

I am trying to convert object detection models from TFHub, but I am unable to get good results. How can I get some meaningful  speedup?

For example, when I try to convert ssd_mobilenet_v2 model, I am getting something like 8s / image

`
tensorflowjs_converter --control_flow_v2=True --input_format=tf_hub --quantize_uint8=*  --strip_debug_ops=True --wei

[2020-08-16 22:06] giantqtipz opened #3811 "Error: No backend found in registry - bodyPix"
Hello,

I'm trying to setup BodyPix via the tutorial on the TensorFlow website, and I'm getting the following error

[code]

I tried installing several packages that I thought might help, but I'm really not sure what to do now.. appreciate any input I could get. Below are my package.json and index.js files.

package.json

[code]

index.js

[code]

[2020-08-16 22:53] phamleduy04 commented on #3807
The [41.jpg](https://imgur.com/a/yYufBZv), [744.jpg](https://imgur.com/a/fZuNmHe) and [pokemon.jpg](https://imgur.com/a/emwZiHn) is here in case you need it.

[2020-08-17 07:42] shiv-u commented on #3592
@annxingyuan @rthadur It's been nearly a week from reopening this issue, is there no update at all ?

[2020-08-17 20:15] rthadur commented on #3806
@ludgerh thank you , it is not yet implemented in tfjs , this will be a future request, will you be willing to contribute ?

[2020-08-17 20:15] rthadur commented on #3806
cc @pyu10055

[2020-08-17 21:04] ludgerh commented on #3806
...I would be willing to help making this work. But I got lost and confused when trying to fix the problem. Is there any additional documentation on the converters architecture and components? What exactly is not implemented? When trying a "topless" Inception3" prepared the same way ( see commented line in my source), everything worked fine...

[2020-08-17 22:05] rthadur commented on #3811
We recently release v2.0.0 (see the message at the top of the readme https://github.com/tensorflow/tfjs), the release notes have instructions on how to upgrade, or you can pin your version

[2020-08-17 22:12] Shanmax1996 opened #3817 "TensorFlow Js model.fit function error"
I have a generator function it returns some value to the async function. I get an error message as not inputting data to the model

But I can not get value inside in async function. I am new to javascript. then how I can fix it. please help me. thank you

This is my code

[code]

[2020-08-18 08:05] lyuboraykov commented on #3048
+1, especially for the ResNet50 variant.

[2020-08-18 10:43] Arpitrf opened #3820 "Speech command recogniser: Offline recognition - Input issues"
The offline recognition part in  [readme ](https://github.com/tensorflow/tfjs-models/tree/master/speech-commands) mentions that we need to "obtain the spectrogram of an audio snippet through a certain means, e.g., by loading the data from a .wav file or synthesizing the spectrogram programmatically".

Can you please explain how to do that? I am unable to find a way.

Thank you

[2020-08-18 13:09] #3592 closed

[2020-08-18 14:11] DrewJay opened #3821 "SOFT_ONE in tfjs-examples/mnist-acgan/gan.js should be scalar tensor instead of number."
#### TensorFlow.js version
v2.0+
#### Browser version
Google chrome v84.0.4147.125
#### Describe the problem or feature request
Problem is located in [gan.js](https://github.com/tensorflow/tfjs-examples/blob/master/mnist-acgan/gan.js) file in tfjs example project demonstrating usage of GANNs. Variable **SOFT_ONE** is declared and defined as `const SOFT_ONE = 0.95`.

This variable is used incorrect

[2020-08-18 14:39] pyu10055 commented on #3751
@hpssjellis As you have shown earlier, TFJS layers model can be converted to TF saved model and further converted to TFLite model. But TFJS graph model conversion is not reversible. You need to go back the original TF saved model to convert that to TFLite model.

[2020-08-18 15:11] pyu10055 commented on #3717
@vjuss can you share the saved models from both make_image_classifier script and colab?

[2020-08-18 16:14] hpssjellis commented on #3751
@pyu10055 Should I close this request or is a javascript direct conversion from TFJS to TFLite a possibility? The command line instructions I posted above are very easy to use, however they do take installing. Which might be a negative for many Javascript users.

[code]

Then these commands (netron is used to view the .tflite file or other models but presently does not view the model.h file)

[cod

[2020-08-18 16:33] pyu10055 commented on #3494
@jacklynlxq can you try with the latest build? This could be related to this issue https://github.com/tensorflow/tfjs/issues/3739

[2020-08-18 16:59] rthadur commented on #3092
related PR is merged now , closing this issue.

[2020-08-18 16:59] #3092 closed

[2020-08-18 17:04] rthadur commented on #3053
Related PR is merged now , closing this issue.Thank you

[2020-08-18 17:04] #3053 closed

[2020-08-18 17:26] vladmandic opened #3823 "error 'backend' undefined on a single model with tfjs@2.3.0"
anyone tried using openimages_v4/ssd/mobilenet_v2 <https://tfhub.dev/google/openimages_v4/ssd/mobilenet_v2/1> model from tfhub and tfjs 2.0+ ?
i've converted it using:

[code]

and it works perfectly with tfjs@1.7.4.
but with tfjs@2.3.0, it processes one image just fine and then it fails on the second image with

[code]

I've tried ~10 other models, some native tfjs and some converted from tfhub a

[2020-08-18 18:04] #3716 closed

[2020-08-18 18:23] shiv-u commented on #3592
@annxingyuan Thanks for the fix, when I looked into your code I got the optimisation part of the code but I didn't get where was the memory leaking ?

[2020-08-18 19:23] annxingyuan commented on #3592
The leak may have been with calling min / max on the GPU, which we removed with this optimization.

[2020-08-18 19:50] rthadur commented on #3820
@Arpitrf did you check example code provided below offline recognition section ?

[code]

[2020-08-18 19:52] rthadur commented on #3817
Hello, this sort of question is better suited for StackOverflow. This issues list is for bugs and feature requests. Thanks and please use the tag 'tensorflow.js' on your StackOverflow question to makes sure it's discoverable.

[2020-08-18 19:52] #3817 closed

[2020-08-18 20:05] pyu10055 commented on #3823
@vladmandic I tried this model, but I am having trouble getting it run properly. do you mind sharing a codepen example of this model? Thanks.

[2020-08-18 20:19] tafsiri commented on #3808
@batrlatom Could you use [tf.profile](https://js.tensorflow.org/api/latest/#profile) with both your converted model **and** with the one from TFHub and upload the results here (as json files ideally). This will let us see which kernels are taking the most time and how that differs between the two.

Could you also upload the model.json of your converted model.

Thanks

[2020-08-18 22:40] pyu10055 commented on #3811
Are you running in the browser or in node.js env?

If you are in the browser, try to add following line to your index.js file
import * as tfjs from '@tensorflow/tfjs';

also in your package.json, if you have include the union package '@tensorflow/tfjs',
you don't need to include other individual packages (i.e. core, converter, tfjs-node).

[2020-08-19 00:56] vladmandic commented on #3823
It's a bit long for codepen, but you can see entire source of my project at <https://github.com/vladmandic/pigallery>
Key code is in function `client/modelDetect.js:detectSSD()`
model is executed using:
`// outputs are: scores, classes, boxes
const result = await model.executeAsync({ images: batched }, ['module_apply_default/hub_input/strided_slice_1', 'module_apply_default/hub_input/strided_slice

[2020-08-19 02:45] land007 commented on #2872
@ristomatti I accidentally overwritten aarch64-linux-gnu/libcudnn.so.8.0.0, can I provide the file to my email address (jiayq007@gmail.com)?

[2020-08-19 04:14] Arpitrf commented on #3820
Yes, but how to obtain **mySpectrogramData** ?

I did the following -

[code]

When using the above (And note that zero1.wav is a file obtained from the training data, so should give high accuracy output), I am getting the following ambiguous output -
![image](https://user-images.githubusercontent.com/14124093/90591268-51e41180-e200-11ea-9321-0afbbf37f09e.png)

This only means that the input to th

[2020-08-19 06:58] ButzYung commented on #3765
When using WASM backend in worker, you need to run `setWasmPath` (or `setWasmPaths` in later versions) before setting the backend.

[2020-08-19 07:00] yorkie opened #3826 "tfjs-node: is there a way to install and build from source always"
#### TensorFlow.js version

Latest

#### Browser version

Node.js

#### Describe the problem or feature request

Sometimes we need to build from source for addon because of the different Glibc version between pre-builtin machine and target.

[2020-08-19 08:25] jacklynlxq commented on #3494
I got this error instead

[code]

[2020-08-19 09:07] ButzYung opened #3827 "Facemesh "rotated faces" update returns inaccurate .mesh data"
**TensorFlow.js version**

v2.1.0+ (WASM backend running on a webworker)

**Browser version**

Google chrome v84+

**Describe the problem or feature request**

The latest Facemesh "rotated faces" update (v0.0.4) returns inaccurate .mesh data on detected faces, resulting in inaccurate 3D mesh rotation when mapped using these data. I have recorded a video to demonstrate the problem.

https://youtu.b

[2020-08-19 09:48] batrlatom commented on #3808
Yes,
the converted models is at address:
https://recall-models.s3.eu-central-1.amazonaws.com/ssd_mobilenet_v2/model.json

It was converted according this source: https://www.npmjs.com/package/@tensorflow-models/coco-ssd

`
tensorflowjs_converter --control_flow_v2=True --input_format=tf_hub --quantize_uint8=* --strip_debug_ops=True --weight_shard_size_bytes=4194304 --output_node_names='Postprocesso

[2020-08-19 11:05] Arpitrf opened #3828 "TFJS-models Speech Commands Readme incomplete"
The 3rd point in the readme of [tfjs-models/speech-commands/training/browser-fft/](https://github.com/tensorflow/tfjs-models/tree/master/speech-commands/training/browser-fft) does not explain how to Run WebAudio FFT on the .dat files generated in step 2 in the browser.

Please help.

[2020-08-19 13:50] annxingyuan opened #3830 "Threaded build of WASM backend should support Node."
Currently we exclude Node from the threaded build of the WASM backend (https://github.com/tensorflow/tfjs/pull/3829). The threaded build fails in Node for several reasons:

- In Emscripten SDK v.1.39.15 (this is what we're using), the web worker code includes the line `Worker = nodeWorkerThreads.Worker`, which is problematic because `Worker` is undefined. Emscripten v.1.39.16 contains a fix for th

[2020-08-19 14:57] land007 commented on #2872
@ristomatti According to your method, my program can run. But there is a small problem. My program will get stuck in Adding visible gpu devices: 0, wait a long time to continue running. Have you encountered the same problem?

[code]
Wait very long......(About 10 minutes)
[code]

If you have any ideas, please tell me.

[2020-08-19 15:55] tafsiri commented on #3384
Hi All, I've been able to pin down the source of this issue.

It basically comes down to this issue in babel https://github.com/babel/babel/issues/4452. We use `Symbol.hasInstance` in a few places and this will fail the classCallCheck in babel in production mode. So we probably won't be able to solve it in TensorFlow.js.

A couple of thoughts on workarounds while waiting for an upstream fix (in ei

[2020-08-19 18:33] rthadur commented on #3826
please check this link https://www.npmjs.com/package/@tensorflow/tfjs-node#mnist-demo-for-nodejs for building from source.

[2020-08-19 19:18] rthadur commented on #3786
@KailiangGu @lospericos I was able to reproduce the same for my model conversion, @pyu10055 can you please assist with this bug ?

[2020-08-19 19:26] rthadur commented on #3776
@Elbek-Khoshimjonov can you try using latest version ?

[2020-08-19 23:52] giantqtipz commented on #3811
Hi thanks for the responses.

I did adding the line you suggested to my index.js file, but it's still giving me the same error.

I ended up just using the CDN. I'm trying to experiment using bodyPix with matter.js for a program project. I can try to revisit this after I'm done.

[2020-08-19 23:52] #3811 closed

[2020-08-20 01:26] ristomatti commented on #2872
Sorry, I did not encounter this issue.

[2020-08-20 02:21] #3582 closed

[2020-08-20 04:45] Elbek-Khoshimjonov commented on #3776
@rthadur I have tried with version 2.3.0 and it did not solve the problem

[2020-08-20 05:03] Arpitrf commented on #3820
Request your help on this!

[2020-08-20 07:44] SanyapongYoukachen opened #3833 "The path of dict.txt and .bin are not related to model.json."
#### TensorFlow.js version
"@tensorflow/tfjs-automl": "^1.0.0",
#### Browser version
Google Chrome | 83.0.4103.116 (Official Build) (64-bit)
-- | --
Revision | 8f0c18b4dca9b6699eb629be0f51810c24fb6428-refs/branch-heads/4103@{#716}
OS | Linux
JavaScript | V8 8.3.110.13
Flash | 32.0.0.414 /home/force/.config/google-chrome/PepperFlash/32.0.0.414/libpepflashplayer.so
User Agent | Mozilla/5.0 (X11; Lin

[2020-08-20 08:03] yorkie commented on #3826
@rthadur This looks a little bit complicated and not matched, and what this issue request is just like node-pre-gyp `--build-from-source` option which disables downloading the pre-compiled addon, which the idea is not the same as the demo.

[2020-08-20 16:46] #3719 closed

[2020-08-20 17:58] rthadur commented on #3833
@SanyapongYoukachen can you please provide codepen example or execuatable code to reproduce error ? did you try the steps provided [here](https://github.com/tensorflow/tfjs/tree/master/tfjs-automl#loading-the-model-1) ?

[2020-08-20 18:13] rthadur commented on #3826
@yorkie what demo you are referring ?

[2020-08-20 18:14] n0noob opened #3835 "Feature request to include face rotation in facemesh"
To get help from the community, we encourage using Stack Overflow and the [`tensorflow.js`](https://stackoverflow.com/questions/tagged/tensorflow.js) tag.

#### TensorFlow.js version
NA

#### Browser version
NA

#### Describe the problem or feature request
Currently facemesh detection results include only 468 landmark points. Wouldn't it be better to include face rotation as well in the detection

[2020-08-20 20:39] pyu10055 commented on #3803
@koren-v Please give it try on the latest converter 2.3.0, please let us know if that solves your problem. thanks.

[2020-08-20 20:46] pyu10055 commented on #3828
please check out the notebook for training a custom model with browser_fft
https://github.com/tensorflow/tfjs-models/blob/master/speech-commands/training/browser-fft/training_custom_audio_model_in_python.ipynb

[2020-08-20 20:52] pyu10055 commented on #3820
@Arpitrf Please checkout https://github.com/tensorflow/tfjs-models/blob/master/speech-commands/training/browser-fft/training_custom_audio_model_in_python.ipynb
There is a saved model named `pre_proc_model`, if you are in node, you can use our saved model direct execution API to process the wav files and use the output of the model as input to the recognizer.

[2020-08-20 20:54] vladmandic commented on #3823
touch more info on the error:

stack trace:
[code]
problematic code:
[code]
- dataId is always empty object, so that doesn't change
- during first execute, moveData is called 183 times without issues
- during second execute, moveData is called 22 times before info becomes undefined
- but this.state.tensorInfo looks like a WeakMap with fixed 2890 entries

i've added this debug code after get functi

[2020-08-20 20:55] pyu10055 commented on #3786
@KailiangGu have you tried to convert the HDF5 model to TFJS graph model?

[2020-08-20 21:01] pyu10055 commented on #3494
@jacklynlxq can you share the model files with us to reproduce this problem? or if you have a codepen would be great.

[2020-08-20 21:59] jbis9051 commented on #3384
@tafsiri Appreciate you taking the time to track down this issue!

[2020-08-21 01:43] SanyapongYoukachen commented on #3833
To answer your question, yes i followed the instruction from [package!](https://www.npmjs.com/package/@tensorflow/tfjs-automl).

Now, i tried to reproduce error with codepen, but I don't know how to use tfjs-automl in cdn (normally i used React and use syntax as package suggestion). Anyway here is the link to reproduce the error [link to codepen!](https://codepen.io/sanyapongyoukachen/pen/LYNbbZq)

[2020-08-21 02:56] yorkie commented on #3826
It's https://www.npmjs.com/package/@tensorflow/tfjs-node#mnist-demo-for-nodejs :)

[2020-08-21 14:18] gabides opened #3837 "tensorflowjs_converter : size of a converted model is 60% bigger with tfjs 2 compare to tfjs 1"
#### TensorFlow.js version
2.3.0
#### Browser version
N/A
#### Describe the problem or feature request

I upgraded to pip tensorflowjs 2.3.0 from 1.3.2 and now the models converted by tensorflowjs_converter are significantly heavier (around 60% more, regardless of quantization).

##### previously with `pip install tensorflowjs==1.3.2` :
[code]
=> size 3.3 MB

[code]
=> size 1 MB

##### now with `p

[2020-08-21 14:35] tafsiri opened #3838 "Update website release / build script to have an up to date commit before build-prod"
When making a new website release PR we should run git submodule update --remote --merge and commit the submodule sha as part of that release. That will make build and deploy less error prone.

Making this an issue rather than just fixing it now because I also want to test if we still need to use the git submodule feature. Now that all our packages are in one repo it doesn't have as many advantage

[2020-08-23 11:00] LMJayasundara opened #3840 "How to convert image into tensor3d"
How I convert image into tensor3d in TensorFlow Js using node js.

If I have an RGB image [3, 3, 3] how I convert it into tensor3d like this output

[ [255, 0, 0], [255, 0, 0], [255, 0, 255],
  [255, 0, 0], [255, 255, 0], [255, 0, 0],
  [255, 0, 0], [255, 0, 0], [255, 0, 255] ]

[2020-08-23 12:08] infinitytmbots opened #3841 "TensorFlow binary was not compiled to use: AVX2 issue in NODEJS"
To get help from the community, we encourage using Stack Overflow and the [`tensorflow.js`](https://stackoverflow.com/questions/tagged/tensorflow.js) tag.

#### TensorFlow.js version
6.14.6
#### Browser version

#### Describe the problem or feature request
While i run my discord bot with nodejs it pops the error "tensorflow/core/platform/cpu_feature_guard.cc:142] Your CPU supports instructions tha

[2020-08-23 14:05] infinitytmbots opened #3842 "Issue Node-pre-gyp"
To get help from the community, we encourage using Stack Overflow and the [`tensorflow.js`](https://stackoverflow.com/questions/tagged/tensorflow.js) tag.

#### TensorFlow.js version

#### Browser version

#### Describe the problem or feature request
I'm receiving this error
 ? node-pre-gyp
 ? info This Node instance does not support builds for N-API version 6
 ? node-pre-gyp info This Node instan

[2020-08-23 23:36] SanyapongYoukachen commented on #3833
I have followed your instruction, but i still get the error. I have tested my function with string name of .bin file and the result was correct. However the path from error response is different from my test result. Not sure what did i do wrong, any further suggestion for me?.

Here is some path of custom loadObjectDetection code as your mentioned and also log result for your information.
[code]
*

[2020-08-24 05:20] meiroo commented on #2449
能透露一下用的哪一个sdk吗 我目前也遇到这个问题。

[2020-08-24 06:19] nyanye commented on #157
What is the "related PR"?
TensorFlow.js 2.3.0 API still doesn't have equivalent of tf.linalg.inv and only implements linalg.qr and linalg.gramSchmidt

[2020-08-24 07:02] axinging opened #3843 "Failed to run PoseNet model with latest TFJS code"
**Reproduce steps:**
1. Download and build TFJS:
[code]
2. Download and build PoseNet Model:
[code]

**Error:**

[code]

[2020-08-24 07:02] axinging commented on #3843
@annxingyuan, PTAL

[2020-08-24 08:42] Arpitrf opened #3845 "Mismatch in sampling rate for speech-commands"
I am getting the following in my browser console:
"WebGL is not supported on this device".

I cannot enable it as well because my institution has disabled "Use Hardware acceleration when possible". So, tensorflow.js is using "cpu" as the backend:
`
console.log(tf.getBackend());
output: cpu
`

However, now I am getting wrong predictions because of the following error:
**"Mismatch in sampling rate:

[2020-08-24 10:42] Arpitrf commented on #3845
**UPDATE**: I realised that the mismatch error is not due to changing backend to "cpu" because in one chrome browser it working fine, but in a different chrome browser it is not.

How to ensure that the browser uses 44100 as the sampling rate? Do I need to make any change in recognizer.listen() method?

[2020-08-24 11:44] gabides commented on #3837
@pyu10055 i did every test in clean separate virtualenvs for the conversion (each with only tensorflowjs installed with the specific version to test).
Also i did a few more tests to answer your questions:
- setting --control_flow_v2 to True or False doesn't change the output size
- converter with version 2.0.0 gives the same output in terms of size as 2.3.0

 I'll try to find a public model for re

[2020-08-24 14:12] dikatok opened #3846 "Saving FaceMesh to LocalStorage or IndexDB"
Is there any existing roadmap about supporting cache/save feature for `FaceMesh` or `tfjs-models` in general?

I think it could be useful for environments such as chrome extension where you need to download the model every startup.

[2020-08-24 14:13] tafsiri commented on #3826
Have you tried cloning this repository and running that script? You can checkout specific versions of tfjs via tags https://github.com/tensorflow/tfjs/tags

[2020-08-24 15:20] koren-v commented on #3803
@pyu10055 yeah, great, it works.

[2020-08-24 15:20] #3803 closed

[2020-08-24 17:29] pyu10055 commented on #3823
@vladmandic Thank you for setting up the demo, I have found the issue, and submit a PR for the fix.

[2020-08-24 18:14] pyu10055 commented on #3833
@SanyapongYoukachen This weightUrlConverter feature has not been released, you would need to compile the tfjs-core manually.

[2020-08-24 18:19] rthadur commented on #3840
Hello, this sort of question is better suited for StackOverflow. This issues list is for bugs and feature requests. Thanks and please use the tag 'tensorflow.js' on your StackOverflow question to makes sure it's discoverable.

[2020-08-24 18:19] #3840 closed, assigned to nobody

[2020-08-24 18:21] #3823 closed

[2020-08-24 18:24] rthadur commented on #3841
@infinitytmbots can you try with latest version ? AVX2 is supported after 1.1.4 , please check [here](https://github.com/tensorflow/tfjs/issues/571).

[2020-08-24 18:31] rthadur commented on #3842
@infinitytmbots what is the node version ? please check for similar for similar issue [here](https://github.com/tensorflow/tfjs/issues/3727)

[2020-08-24 18:36] pyu10055 commented on #3837
@gabides can you try to export your model with TF 2, since tfjs 2.x are using at lease 2.1 TF.

[2020-08-24 18:42] rthadur commented on #3843
@axinging can you please check for a similar issue [here](https://github.com/tensorflow/tfjs/issues/3811#issuecomment-675754644) ?

[2020-08-24 18:49] rthadur commented on #3845
@Arpitrf what is chrome version for both ? can you please provide minimalistic code to reproduce the error or code pen example ?

[2020-08-24 19:35] vladmandic commented on #3823
@pyu10055 Nice & Thank you!

I went to get the diff, but it's already been reviewed and checked into master - impressive.
I've done a checkout and clean build and can confirm that it works perfectly!
I'm closing this issue.

[2020-08-24 20:23] pyu10055 commented on #3808
@batrlatom onnx model can be converted to TensorFlow saved model, you need to do following conversions:
pytourch => onnx => TF saved model => tfjs model

[2020-08-24 20:36] rthadur commented on #3786
@pyu10055 i tried to convert with TFJS graph model and no issues , i used the command
`!tensorflowjs_converter --input_format keras --output_format=tfjs_graph_model my_sample_model.h5 model/ `
@KailiangGu @starrabb1t can you please try using TFJS Graph model

[2020-08-24 22:09] HaiDang9719 opened #3849 "Error: 'prod' not yet implemented or not found in the registry. Did you forget to import the kernel?"
To get help from the community, we encourage using Stack Overflow and the [`tensorflow.js`](https://stackoverflow.com/questions/tagged/tensorflow.js) tag.

#### TensorFlow.js version
2.3.0, TF version: 2.3.0
#### Browser version
Chrome Version 84.0.4147.135 (Official Build) (64-bit), Firefox 79.0 (64-bit)
#### Describe the problem or feature request
I have tried with WebGL and CPU, it works fine.

[2020-08-24 23:10] SanyapongYoukachen commented on #3833
@pyu10055 Ohh, got it, I will try to compile tfjs-core from source. I think my asking has been successfully clarified and this issue should be closed now.

Very appreciate you all calm down to me. Also thank you all very much for this incredible package.

Hope the best for you all.
Regards.

[2020-08-24 23:10] #3833 closed

[2020-08-24 23:52] yorkie commented on #3826
@tafsiri The tag doesn't work for me, because it can't run the script in `npm-script`.

[2020-08-25 05:24] Arpitrf commented on #3845
Chrome version (where code is working fine) - Version 84.0.4147.105 (Official Build) (64-bit)
Chrome version (where mismatch error) - Version 84.0.4147.89 (Official Build) (32 Bit)

JS Code
[code]

HTML Code:
[code]

Although, to reproduce the error, you will need the transerModel.json, transferModel.weights.bin. and metadata.json files. Would you be needing them to analyse this bug?

[2020-08-25 07:32] infinitytmbots commented on #3841
i'm sorry but i'm a beginner, how do i update?

[2020-08-25 08:11] akineeic opened #3852 "[WASM] Cannot find module 'worker_threads'"
#### TensorFlow.js version
  "tfjs-core": "2.3.0"
"tfjs-backend-wasm": "2.3.0",

#### Browser version
84.0.4147.105 (Official Build) (64-bit)

#### Describe the problem or feature request
I want to  try the newest version of tfjs-backend-wasm. But the error as follows occured when import the module. Is this caused by the missing of package or need some configuration to run tfjs-backend-wasm 2.3.0

[2020-08-25 15:23] orporan commented on #3852
+1

[2020-08-25 16:08] rthadur commented on #3841
please check the link [here](https://docs.npmjs.com/updating-packages-downloaded-from-the-registry).

[2020-08-25 16:08] annxingyuan commented on #3852
Hey @akineeic - thank you for reporting this. I believe this should be fixed by: https://github.com/tensorflow/tfjs/pull/3829 - this will be available in our next release.

In the meantime, you could modify the package.json of your project: in the `browser` field, add `worker_threads: false` and `perf_hooks: false`

[2020-08-25 16:08] #3852 closed

[2020-08-25 16:39] rthadur commented on #3849
@HaiDang9719 can you please check a similar issue [here](https://github.com/tensorflow/tfjs/issues/3852) ?

[2020-08-25 17:09] sprengerst commented on #3484
Same here

[2020-08-25 17:53] HaiDang9719 commented on #3849
@rthadur I did not use web pack or any backend in my project. I used client-side execution for the project (pure JS and HTML), so it does not have package.json or something similar in your mentioned issue.

[2020-08-25 22:37] Fatxx commented on #3484
Same issue on OSX Catalina

[2020-08-26 03:06] Arpitrf commented on #3845
Request your assistance with this!

[2020-08-26 03:15] jacklynlxq commented on #3494
I just realised that before this I was using Tfjs v1.7.4 for the browser side prediction - works but produced the initial error and I'm using tensorflowjs 2.0.1 for tensorflowjs_converter. When I upgraded it to Tfjs 2.0.1 / 2.3.0 for browser side prediction, it produced the latest error I mentioned.

[tfjs_model.zip](https://github.com/tensorflow/tfjs/files/5127388/tfjs_model.zip)

Thanks

[2020-08-26 08:08] land007 commented on #2872
Through recompilation, the computing power is adjusted to 7.2 and the delay is reduced to 3 seconds. I see that the tensorflow source code can be modified to further reduce the delay, but I have not tried it yet. The compiled tensorflow is made into a docker image.
[code]
The current image environment is
[code]
If you need C language call, you can use
[code]
If you need to compile it yourself
[cod

[2020-08-26 13:32] rajat-008 commented on #1388
@tylerzhu-github does TensorFlow plan on open-sourcing the training script for PoseNet?
After having tried various implementations for pose estimation PoseNet is by fas the best when it comes to being user friendly.
It'll be of great help to have a process to apply transfer learning to PoseNet.

[2020-08-26 18:45] #3741 closed

[2020-08-27 04:48] Arpitrf commented on #3845
Hi I am very interested to make this work for my project. Request your help!

[2020-08-27 06:27] infinitytmbots commented on #3841
i gave `npm update @tensorflow/tfjs-node` and nothing happened

[2020-08-27 06:27] infinitytmbots commented on #3842
`v12.18.3 `

[2020-08-27 12:58] Download opened #3856 "tfjs-examples out of date"
*Posted here because tfjs-examples does not have an issues tab.*

Current TFJS version is 2.3.0, released 13 days ago.
tfjs-examples are using tfjs 1.x.
For example, tfjs-examples/simple-object-detection is using [`"@tensorflow/tfjs": "^1.3.2"`](https://github.com/tensorflow/tfjs-examples/blob/master/simple-object-detection/package.json#L12)

Some examples were updated in [this commit](https://git

[2020-08-27 15:39] Download opened #3858 "tfjs-automl/demo/object_detection gives no predictions"
#### TensorFlow.js version
Not sure... is that the same as the version of tfjs-core that is used?
If I check the tfjs-automl package.json, it looks like it is using tfjs-core 1.2.8, but that seems strange as tfjs is at 2.x right?
Then again if I check the commits it looks like tfjs-automl was never upgraded to 2.x?

#### Browser version
Does not seem relevant. Latest Chrome.

#### Describe the pro

[2020-08-27 16:04] rthadur commented on #3842
what is the cuda version and tfjs-node version ?

[2020-08-27 16:09] tafsiri commented on #3858
@rthadur I wasn't able to reproduce this (i get the expected array and boxes on the screen), are you able to reproduce? The demo depends on already published versions of tfjs and tfjs-automl so the behaviour described is surprising.

[2020-08-27 18:12] Download commented on #3858
@tafsiri On what OS do you test?
I run the example on Windows.
And what steps did you follow? Same as me, just `yarn` and `yarn watch`?

[2020-08-27 18:17] Download commented on #3858
Are there any ways for me to debug what is happening? Can I enable logging somehow? Or insert some code to check stuff?

[2020-08-27 18:30] Download commented on #3858
Just spinned up a Ubuntu 18 VM. Same result.

[code]

**Results:**

On the webpage, below the image, after a few seconds, this appears:

[code]

[2020-08-27 18:45] tafsiri commented on #3858
@Download I'm on mac os. Debugging apis you could use include https://js.tensorflow.org/api/latest/#enableDebugMode and https://js.tensorflow.org/api/latest/#profile, these would let you see what kernels get run and how many tensors are created.

I'd personally also look into debugging the input into the model to making sure it is as expected. I'd also try things like passing in a random tensor us

[2020-08-27 18:45] #3723 closed

[2020-08-27 19:03] rthadur commented on #3821
@DrewJay can you please provide a codepen example to reproduce the error ?

[2020-08-27 20:40] Download commented on #3858
@tafsiri To enable debug mode, would I add

[code]

`to tfjs-automl/demo/object_detection/index.js`

?

and am I correct that I would need to add an import statement to get `tf`?

Sorry if this sounds dumb, but could you spell out what code I should add where?

[2020-08-27 20:43] rthadur commented on #3841
Hello, this sort of question is better suited for StackOverflow. This issues list is for bugs and feature requests. Thanks and please use the tag 'tensorflow.js' on your StackOverflow question to makes sure it's discoverable.

[2020-08-27 20:43] #3841 closed

[2020-08-27 22:45] #3789 closed

[2020-08-27 23:02] tafsiri commented on #3858
yes on both counts (the import and the function call). You would also need to `npm install @tensorflow/tfjs`.

Though if we can reproduce we'll be in a better position to take a look. Adding a few other folk to this.

[2020-08-28 00:31] sivi opened #3861 "tfjs-models/qna demo fails"
Current version of https://github.com/tensorflow/tfjs-models/tree/master/qna "findAnswers" outputs empty array, and running demo does not yield any answer,
On the other hand, the same demo on [google hosted demo page](https://storage.googleapis.com/tfjs-models/demos/mobilebert-qna/index.html) yields answers for the same question.

Difference between scripts in demo page source on google (<script s

[2020-08-28 02:55] axinging commented on #3843
Thansk, IO tried with below fix, above "No backend found" issue is gone, but has new issue.
[code]

The new issue is:
[code]

[2020-08-28 03:12] Arpitrf commented on #3845
Hello! Any updates on this?

[2020-08-28 06:37] #3821 closed

[2020-08-28 07:21] Download commented on #3858
@tafsiri
Thanks. I will try this and let you know the output. Also, I am goingto try it on a different machine (Windows laptop) and see what happens there.

One question still. Did you do the exact same steps as I did? So:

* Git clone this repo
* cd into automl/demo/object_detection
* yarn
* yarn watch

Because I cannot understand how this can give different results??

[2020-08-28 07:33] Download commented on #3861
See #3858 which seems similar, because it also outputs just empty array.

[2020-08-28 07:55] batrlatom commented on #3808
Hi, I have tried to convert codes from onnx and tf object detection model zoo for tf1 and tf2.
I have a questions though.
In the model zoo for tf1, there are models both in the format of saved model and frozen inference graph. When I convert saved model, it has many time more nodes and edges (6800 ++ ) than model exported from frozen_inference graph ( 400 ) . Is the frozen model somehow optimized

[2020-08-28 08:01] Download commented on #3858
### Attempting to reproduce on my Windows laptop

[code]

### Results
Also here it returns an empty array...

![automl-object-detection-results](https://user-images.githubusercontent.com/153391/91535903-2c4bbc00-e914-11ea-8601-e952ae6ecf98.png)

### Conclusion
I have tried this now on 3 different (virtual) machines:
* My Windows desktop
* An Ubuntu 18 VM running on my Windows desktop
* My Windows

[2020-08-28 08:34] Download commented on #3858
### Running in debug mode

I tried a few different ways of running the demo with debug mode enabled.

#### With @tensorflow/tfjs latest
First, I installed `@tensorflow/tfjs` in the object_detection demo.

[code]

Next, I added an import statement and the line to enable debug mode to tfjs-automl\demo\object_detection\index.js:

[code]

Then, I ran yarn watch again:

[code]

This time, no results ar

[2020-08-28 09:15] sivi commented on #3861
Version in https://github.com/tensorflow/tfjs-models/tree/244d4cdc6eee673ab1d03baccdb06db26bde86fa when extracted from built demo (whole set of steps on [stackoverflow](https://stackoverflow.com/a/63630389/14178011)) works as expected, even with @tensorflow/tfjs v.2.3.0.

What caused, I the problem, I do not know. Nevertheless, I appreciate GitHub history, which resolved my problem.

[2020-08-28 13:46] markstrefford opened #3862 "tfjs-models/handpose failing on tf.js 2.3 with"
When using the latest version of tf.js (2.3.0 at time of writing), hand pose fails to build with this error:

```"node_modules/@tensorflow/tfjs-backend-wasm/dist/tf-backend-wasm.esm.js:17:1325: Cannot resolve dependency worker_threads"```

The GitHub version's package.json has the following versions:

[code]

which work ok.

Replace [package.json](https://github.com/tensorflow/tfjs-models/blob/mas

[2020-08-28 14:13] aminBenSlimen commented on #410
[ Workaround i guess ] hello everyone ... so i'm facing a problem when trying to load my model in ionic 5 it work on browser but wont in android ( i'm using ml5.js but its the same thing since it based on tensorflow.js ) my solution is simply moving all my loading code into the index.html . hope someone find this useful .

[2020-08-28 17:19] pyu10055 commented on #3808
@batrlatom do you know for those conversion from saved model, is training graph part of the conversion? I know the frozen inference graph specifically contains only the inference graph.

Our converter contains batch norm fusing logic, if you can share the saved models, we can see if the layout does not match the fusing logic.

[2020-08-28 17:39] Download commented on #3858
### Codepen demonstrating the issue

I took the sample code from this [documentation page about object detection](https://cloud.google.com/vision/automl/object-detection/docs/tensorflow-js-tutorial#run_the_web_app) and put it in [**this codepen**](https://codepen.io/StijnDeWitt/pen/poywgJV). Same result. Empty array.

[2020-08-28 17:56] Download commented on #3858
This zip file also demonstrates the issue on my machine. Here I have downloaded the model files to a folder with an index.html with the script from the documentation page.

[object_detection.zip](https://github.com/tensorflow/tfjs/files/5143477/object_detection.zip)

Start an http-server on that folder as per the instructions on the page:

[code]

[2020-08-28 18:49] pyu10055 commented on #3806
@ludgerh If you only need the model for inference, to work around, you can save the model as saved model first, then use tfjs converter to convert to graph model.

[2020-08-28 19:29] hpssjellis commented on #410
Here is how I convert from tfjs to android c header files.

[https://github.com/hpssjellis/my-examples-for-the-arduino-portentaH7/tree/master/m09-Tensoflow/tfjs-convert-to-arduino-header](https://github.com/hpssjellis/my-examples-for-the-arduino-portentaH7/tree/master/m09-Tensoflow/tfjs-convert-to-arduino-header)

[2020-08-28 20:20] arthurjdam commented on #3843
Looks like a version incompatibility between tfjs<2 and the current head; loading `"@tensorflow/tfjs-core": "^1.3.0"` instead of `2.3.0` makes it run at least

[2020-08-29 04:29] Arpitrf commented on #3820
I did the following:
[code]

**Note: zero1.wav is a file obtained from the actual training dataset that was used by tensorflowJS. (So no issues with the input file)**
And got the following output:
[code]

Which does not seem right. Request further help.

[2020-08-29 11:55] ludgerh commented on #3806
@pyu10055 Thank you for your recommendation.
`import osmodel.save('test/temp.tf')
os.system('tensorflowjs_converter test/temp.tf test/tfjs')`
did the trick of the conversion. The output wenn converting InceptionV3 looked OK:
`~/safe/sources/python/camai$ python convtest.py
2020-08-29 14:27:16.215660: W tensorflow/stream_executor/platform/default/dso_loader.cc:55] Could not load dynamic library 'li

[2020-08-29 12:01] ludgerh commented on #3806
[code]
Did the trick to finish conversion for my little test program. When converting InceptionV3, the console of the conversion job looked ok:

[code]

[2020-08-29 12:10] ludgerh commented on #3806
When converting NASNetLarge, I get a couple of warnings, but still a tfjs-model is written:
[code]

[2020-08-29 12:19] ludgerh commented on #3806
But none of the tfjs-models I generate with this procedure works when being used.
[code]
...results in very unspecific errors:
[code]
I have no idea, what to try next.

[2020-08-30 00:58] tafsiri commented on #3858
@Download thanks for the codepen link. I tried it and still get working results.

![Screen Shot 2020-08-29 at 8 51 30 PM](https://user-images.githubusercontent.com/26408/91648808-f7d22000-ea39-11ea-8349-1be046dae268.png)

I did modiy your codepen a bit to switch the backend to CPU. https://codepen.io/tafsiri/pen/zYqzaKr

Could you try that and let us know if it works (it might take a bit longer to

[2020-08-31 05:53] axinging commented on #3661
Thanks @rthadur, we are still working on this, will update this soon.

[2020-08-31 07:08] Arpitrf commented on #3845
Hi request your help on this sooner!

[2020-08-31 08:56] sbstcano opened #3864 "WASM -> TypeError: Cannot read property 'cwrap' of undefined"
Hi,
I'm trying to use wasm with facemesh but keep getting this when trying to set wasm as backend.
I'm using version 2.3.0. And it's an Angular 9 project.

[code]

[code]

[2020-08-31 10:12] EhsanSarshar opened #3865 "Feature request: would you mind to add a Reasonml binding for react native tensorflow"

[2020-08-31 12:06] sbstcano opened #3866 "WASM : Cannot find name 'EmscriptenModule'"
Hi,
I can't compile my Angular 9 project because of this error.
I'm using version 2.3.0 of wasm.

[code]

[2020-08-31 13:31] HaoLiHaiO commented on #3484
Same here with
Windows 10 x64
Node 12.18.1-x64

[2020-08-31 14:29] batrlatom commented on #3808
Hi,
I have tried to convert this ssd_mobilenetv2 model from tf1 object detection zoo:
http://download.tensorflow.org/models/object_detection/ssd_mobilenet_v2_coco_2018_03_29.tar.gz

There is saved model and frozen_inference_graph included.
When I try to export saved model, with this command

`tensorflowjs_converter --input_format=tf_saved_model                        --output_format=tfjs_graph_mod

[2020-08-31 17:15] tafsiri commented on #3858
Okay that narrows it down a bit. Could you screenshot what you see here https://js.tensorflow.org/debug/ and add it to this issue.

Also are you able to get us info on what graphics card/chipset you are running? I notice you mention you are using _virtual_ machines, if your setup prevents the VM from accessing the graphics card you will not be able to to use the WebGL backend. Have you tried this

[2020-08-31 17:19] samiragol commented on #3651
I have the same issue on window and rebuild didn't help

[2020-08-31 20:14] samiragol opened #3867 "Error trying to install DanfoJs, The Node.js native addon module (tfjs_binding.node) can not be found at path"
I am trying to install DanfoJS on **windows 10** using below command:
[code]
but I get following error when I run ```npm start```

I tried to ran ```npm rebuild @tensorflow/tfjs-node build-addon-from-source``` but still having problem.

[2020-08-31 20:21] rthadur commented on #3866
@sbstcano did you install  Emscripten from here https://github.com/tensorflow/tfjs/tree/master/tfjs-backend-wasm#emscripten-installation ?

[2020-08-31 20:24] rthadur commented on #3867
@samiragol we don't actually have windows machine to try this , but can you please list down steps what you are doing ?
Also please specify tfjs versions.

[2020-08-31 20:29] rthadur commented on #3865
cc @tafsiri

[2020-08-31 20:34] samiragol commented on #3867
the steps are exactly as I mentioned above. here are the versions:

[2020-08-31 20:44] samiragol commented on #3867
when I ran ``` node-gyp configure --verbose``` the process throw this log:
[code]

[2020-08-31 21:08] tafsiri commented on #3865
Hi. This isn't something our team is going to be able to do/maintain. You are probably in a better position to do it than we are! Our `d.ts` files (typescript typings), might be helpful if you want to go down the route of generating bindings. Good luck!

[2020-08-31 21:08] #3865 closed

[2020-08-31 22:39] rthadur commented on #3867
@samiragol can please take a look at similar issue [here](https://github.com/tensorflow/tfjs/issues/3577)..!

[2020-08-31 22:51] delebash commented on #3384
I am getting this same problem but with typescript compiler.  Any suggestions?

[2020-08-31 23:07] delebash commented on #3384
This worked for me but why does it work?

[2020-08-31 23:46] samiragol commented on #3867
@

so the link you referred is an issue with installing tensorflow but I am be able to install it, I get error when I try to run node after installing DanfoJS package. and from the error looks like its something ted to tensorflow

[2020-09-01 01:51] tafsiri commented on #3826
@yorkie. I don't understand what you mean by "it can't run the script". What output do you get when you run `npm run build-addon-from-source` (within the tfjs-node subfolder of this repository)?

[2020-09-01 04:55] Arpitrf commented on #3845
I think I have found a solution to this.
In browser_fft_extractor.js (line 185) changing:
`this.audioContext = new this.audioContextConstructor() as AudioContext;`
to
`this.audioContext = new this.audioContextConstructor({sampleRate:44100}) as AudioContext;`
Worked for me.

Let me know if this seems correct to you and if it does, I can make a pull request.

[2020-09-01 07:19] yorkie commented on #3826
What I mean is run `npm run build-addon-from-from-source` when running `npm install`.

[2020-09-01 07:32] sbstcano commented on #3866
Yes, I tried and it doesn't help

[2020-09-01 09:11] guimcaballero commented on #3861
It seems like pinning `@tensorflow-models/qna` to version `1.0.0-alpha1` makes it work. I'm not sure what changed between that version and `1.0.0`, is anyone more knowledgeable than me able to take a look?

I'm using @tensorflow/tfjs v.2.3.0 too, in case it matters.

[2020-09-01 09:41] kashikarparth opened #3869 "Memory leak issues in tensor.max()"
#### TensorFlow.js version : 2.3.0
#### Browser version: Google Chrome 74

[code]
GPU memory allocated continues to rise while executing this while loop (made after isolating the leak). No issues if tensor.min() is used instead.
I have tried to use tf.setBackend('webgl') and tf.disposeVariables(), but to no avail.

Is there a way to eliminate the memory leak? The issue is solely from the max() ope

[2020-09-01 12:34] dikatok commented on #3835
@n0noob you mean like tilting your head some degree to the left/right? If yes, you can calculate it by yourself. Something like this.

[code]

Disclaimer: I didn't test the code above but you can fiddle around with which annotations to use and more precise way to calculate the degree of rotation.

[2020-09-01 13:21] B0RJA commented on #3152
I am also interested in this feature.
@clkruse Did you find a solution or workaround?

[2020-09-01 13:58] tafsiri commented on #3869
Confirmed with minimal [codepen reproduction](https://codepen.io/tafsiri/pen/dyMzrMm?editable=true&editors=0012%3Dhttps%3A%2F%2Fjs.tensorflow.org%2Fapi%2Flatest%2F), @annxingyuan would you be able to take a look.

[2020-09-01 14:32] bramses opened #3870 "Unable to run FaceMesh Demo due to worker_threads"
To get help from the community, we encourage using Stack Overflow and the [`tensorflow.js`](https://stackoverflow.com/questions/tagged/tensorflow.js) tag.

#### TensorFlow.js version

[code]

#### Browser version

Firefox (latest as of 9/1/20)

#### Describe the problem or feature request

[code]

#### Code to reproduce the bug / link to feature request

Ran `yarn` and `yarn watch` per README
![An

[2020-09-01 15:18] rthadur commented on #3866
@sbstcano did you try with previous version ?

[2020-09-01 16:10] clkruse commented on #3152
@B0RJA unfortunately, the issue was never fixed and I wasn't able to create a workaround.

I believe @zaidalyafeai found this issue in #562 and created a workaround in tfjs found [here](https://github.com/zaidalyafeai/zaidalyafeai.github.io/tree/master/pix2pix), but the fix only works with older versions of TF and tfjs, and the fix never made it into tfjs.

[2020-09-01 17:02] zaidalyafeai commented on #3152
I think the fix should be simple in theory. I have checked the source code and it seems there is a `training` flag. However, not sure if this is the correct one https://github.com/tensorflow/tfjs/blob/98435f4f70e6afeec00cd3bc91a46e404aba4b1b/tfjs-layers/src/layers/normalization.ts#L331

[2020-09-01 17:08] annxingyuan commented on #3862
Hi @markstrefford - thanks for reporting this. The issue is the latest TF.js requires a node module `worker_threads`, but we did not exclude it from the browser build. This will be fixed in the next release, but in the meantime you can do something like this locally to get around the problem: https://github.com/tensorflow/tfjs-models/pull/518

[2020-09-01 17:09] annxingyuan commented on #3870
Hi @bramses - thanks for reporting this. The issue is the latest TF.js requires a node module worker_threads, but we did not exclude it from the browser build. This will be fixed in the next release, but in the meantime you can do something like this locally to get around the problem: tensorflow/tfjs-models#518

[2020-09-01 18:37] sbstcano commented on #3866
Yes and sadly it doesn't help. I tried with 2.1.0, 2.0.1, 1.7.4. I tried to downgrade my angular version to ^8. I tried ^10. Angular uses es5 and webpack. Can it be related?

[2020-09-01 19:36] B0RJA commented on #3152
Thanks to both of you! I will give the `training` flag a try. I've been stuck with this for days. In my case I use the pytorch implementation of [pix2pix](https://github.com/junyanz/pytorch-CycleGAN-and-pix2pix/) to convert it to onnx, then to keras and finally to tensorflow.js. Everything works fine in the browser but the results of the inference are different. I though the problem was in the con

[2020-09-01 20:39] zaidalyafeai commented on #3152
@B0RJA oh, that must be a lot of work. I remember trying to train the pix2pix model without the flag and it gave very bad results. Anyhow, If you need any help let me know.

[2020-09-02 01:15] annxingyuan commented on #3843
Have you seen this? https://github.com/tensorflow/tfjs/issues/1447

[2020-09-02 01:40] BruceDai commented on #3003
Hi @rthadur,  we also met this error recently when we're using tfjs-backend-webgpu for POC, would you please help reopen and fix it, thanks.

[2020-09-02 02:18] rthadur commented on #3003
Please open a new issue using template , thank you

[2020-09-02 05:44] #3786 closed

[2020-09-02 06:28] nitintutlani commented on #1277
+1

[2020-09-02 06:31] axinging commented on #1447
Hi, I meet similar problems when run PoseNet model with latest TFJS code.
The errors are:
[code]
And How I run into this:
[code]

At first, I suspect some thing is wrong with my local environment. So I remove all links inside C:\Users\axing\AppData\Local\Yarn\Data\link, then delete all C:\Users\axing\AppData\Local\Yarn\Cache\v6\npm-@tensorflow-*

However, this still not work.

[2020-09-02 06:33] axinging commented on #3843
Thanks @annxingyuan. I will follow up this in the issue 1447.

[2020-09-02 08:16] B0RJA commented on #3152
The solution is to use the [apply](https://js.tensorflow.org/api/latest/#tf.layers.Layer.apply) method with the `training` kwarg set to `true`. Tested with TensorFlow.js 2.0.

`const output = model.apply(input, {'training': true});`

[2020-09-02 12:53] Download commented on #3858
@tafsiri

![image](https://user-images.githubusercontent.com/153391/91983146-91941880-ed2b-11ea-9680-4825b2bbe8f9.png)

According to Windows Device Manager it is *"Intel(R) HD Graphics 4600"*
That is my desktop. I can check my laptop as well if it is useful. And maybe you have/know some WebGL test page that I can screenshot for more details?

Yes, I tried on:

* My Windows desktop, on the bare met

[2020-09-02 14:51] willmorgan commented on #3852
@annxingyuan Thanks for looking at this, do you have an ETA for the next release?

This doesn't seem to work with my fairly standard webpack config:

[2020-09-02 16:25] sbrl opened #3873 "loadLayersModel: ValueError: If the strides property of a 3D pooling layer is an Array, it is expected to have a length of 3, but received length 4"
#### TensorFlow.js version
2.3.0

#### Browser version
n/a - using Node.js v14.4.0

#### Describe the problem or feature request
When I try to load a saved model, I get the following error:

[code]

I am attempting to load the model like so:

[code]

I am saving the model like so:

[code]

An example model that is causing the issue: [model.tar.gz](https://github.com/tensorflow/tfjs/files/5163520/m

[2020-09-02 19:19] #3765 closed

[2020-09-02 19:27] soommy12 commented on #1462
Hi @tafsiri ! The links you posted here are not available any more. I've met the same problem with running PoseNet on the video file. Can you provide some additional info to solve this issue?

[2020-09-02 20:38] nise commented on #2007
I run into the same issue with
 "typescript": "^3.9.3" and "@tensorflow/tfjs": "^2.3.0".

If I set "skipLibCheck": true tfjs will not be found.

[2020-09-02 23:42] littleV opened #3874 "tfjs-react-native: Unable to run the webcam demo"
#### TensorFlow.js version
"@tensorflow/tfjs": "^2.3.0"
#### Browser version
React Native: https://github.com/expo/react-native/archive/sdk-38.0.2.tar.gz
#### Describe the problem or feature request
Hi,

I'm trying to learn to build react native tfjs apps. This is my app: https://github.com/OneArt-Inc/ArtTools/tree/art_stylizer/ArtStylizer, and I used code from Webcam demo. I tried to use the webc

[2020-09-03 00:39] tafsiri commented on #3858
@rthadur Would you be able to try and reproduce this on windows (using the codepen link)?

@annxingyuan Any ideas of other things to check that would explain getting no results on WebGL but getting results on CPU?

[2020-09-03 03:47] bengfarrell opened #3875 "ES6 Module Import of Tensorflow no longer works"
To get help from the community, we encourage using Stack Overflow and the [`tensorflow.js`](https://stackoverflow.com/questions/tagged/tensorflow.js) tag.

#### TensorFlow.js version
Tensorflow Core 2.1.0

#### Browser version
Doesn't matter, but Chrome 85

#### Describe the problem or feature request
Previously, with Tensorflow (ex 1.3.2), I could use ES6 module imports along with a simple bare-m

[2020-09-03 05:35] jbis9051 commented on #3384
@delebash see what @tafsiri said

[2020-09-03 06:42] yudhiesh1997 opened #3876 "Does TF.js have support for models that require a 5D Tensor as input from a webcam?"
I am using Transfer learning with MobileNetV2 + LSTM for awareness detection on Tensorflow and this model takes as input a 5D Tensor. So how would I get it to work on TF.js with react-native expos camera?

[2020-09-03 15:33] netjerikh commented on #3384
For those with webpack, you can make the default name point to the already built version, like this:
`alias:{
"@tensorflow/tfjs-core": "@tensorflow/tfjs-core/dist/tf-core.js"
}`

[2020-09-03 16:22] tafsiri commented on #3858
@annxingyuan i believe there is no error on cpu.

[2020-09-03 16:34] tafsiri commented on #3858
nm misunderstood what you meant. Will chat with you offline.

[2020-09-03 16:38] rthadur commented on #3858
@tafsiri tried in windows on a loaner laptop , it works well with CPU and WebGL backend , i tried using this codepen example https://codepen.io/tafsiri/pen/zYqzaKr

[2020-09-03 17:46] pyu10055 commented on #3808
@batrlatom The size difference could be related to that when converting the saved model the output_node_names param is not supported, which mean the sub graph after those nodes are included in the converted model. While in the frozen model, the subgraph after those specified output nodes is eliminated.

But if you look at the converted models, the weight bin files are pretty much the same, only th

[2020-09-03 19:07] samiragol commented on #3867
I was using a different node.js version that Electron was. so I installed node.js version is the same as the version of Electron is using (12.16.3) and that **solved the problem**

[2020-09-03 19:08] samiragol commented on #3651
I was using a different node.js version that Electron was. so I installed node.js version is the same as the version of Electron is using (12.16.3) and that ***solved the problem***

[2020-09-03 19:22] tafsiri commented on #3875
@bengfarrell would you be able to push a small reproduction to a repo that we can access so that we can take a look?

Seedrandom has been one of our dependencies pretty much since the beginning.

We were planning on adding a single file esm bundle which may also solve this issue in a different way and this would be a good test case.

[2020-09-03 19:26] tafsiri commented on #3876
To answer the question in your title, Tf.js does support 5d tensors. However the rest of the question is too vague and open ended, and since it isn't related to a bug or feature request is also better suited for a [stack overflow](https://stackoverflow.com/questions/tagged/tfjs).

I would however also encourage you to make sure you understand in general how to create tensors/reshape and what your

[2020-09-03 19:26] #3876 closed

[2020-09-03 19:29] tafsiri commented on #3874
Hi this question as is is a bit too open ended for github issues. You would need to pinpoint further in your code to determine where they may be an issue. For example are you able to run other models or do other computations with tf.js or is everything resulting in zeros. I also noticed this folder https://github.com/OneArt-Inc/ArtTools/blob/art_stylizer/ArtStylizer/js/model/style.json has no `.bi

[2020-09-03 21:58] pyu10055 commented on #3861
@sivi @guimcaballero There are some difference with the model itself between the version. the alpha is trained on squad 1.0 dataset while 1.0.0 is trained on squad 2.0.
I have tried the demo with the latest tfjs 2.3.0 build, it is work for the question I asked.
Can you help with a codepen example with the question you asked that produce the empty answers? This would help us to reproduce the proble

[2020-09-03 22:07] #3869 closed

[2020-09-04 00:50] rthadur commented on #3867
Thank you , glad it worked for you !

[2020-09-04 00:50] #3867 closed

[2020-09-04 01:19] Triforcey commented on #1804
I believe I have a working implementation of this. I will submit a PR.

[2020-09-04 01:43] bengfarrell commented on #3875
Sure thing, here's a repo: https://github.com/bengfarrell/tf-import-issue.

I suppose it would have helped originally if I had mentioned I was using Posenet. Maybe that dictates what modules get dynamically pulled in where.

[2020-09-04 01:49] bengfarrell commented on #3875
Oh and here's my old dependencies where I had things working before:

`    "@tensorflow-models/posenet": "^2.2.1",
    "@tensorflow/tfjs": "~1.3.1",`

[2020-09-04 02:59] littleV commented on #3874
Hi @tafsiri ,

Thanks for your response, I'll try with a different model to see if it's also resulting in zeros.

That style.json is not what I'm actually using for my project, I just downloaded from the link from the tfjs webcam demo to take a look. For what I learned, I don't need a .bin file as long as the weightsManifests are in the .json file, according to a blog post. But I'm new to tfjs I c

[2020-09-04 04:53] littleV commented on #3874
Btw, another interesting find. I loaded the tfjs example in a react native webview, the model is also predicting all zeros. However, I put the exact same code on a browser on a laptop, it works.

[2020-09-04 07:08] Download commented on #3858
@annxingyuan
If with the 'shape consistency error' you are talking about `Element arr[0] should be a primitive, but is an array of 0 elements`, I get that on the GPU backend as well as on the CPU backend. I updated this codepen so it shows that:

#### [https://codepen.io/StijnDeWitt/pen/poywgJV](https://codepen.io/StijnDeWitt/pen/poywgJV)

[code]

#### Result

[code]

I think the fact that enablin

[2020-09-04 07:14] BruceDai commented on #3003
Hi @rthadur, we didn't reproduce this issue with enabling experimental 'Unsafe WebGPU' flag of dev chromium on Windows and macOS platforms. I can't find this flag of dev chromium on Linux platform, so currently WebGPU isn't available for Linux platform, right?  thanks.

[2020-09-04 09:51] sarathkrishna1729 commented on #2569
Please share the documentation for adding this version in html

[2020-09-04 12:32] #3357 closed

[2020-09-04 13:32] juuyan opened #3881 "peer dependency seedrandom is not provided as dependency by tfjs"
#### TensorFlow.js version
2.3.0

#### Browser version
Chrome 85.0.4183.83

#### Describe the problem or feature request
seedrandom is peer dependency of tfjs-data, yet it is not provide by tfjs as dependency, which leads to error on compile...
`Module not found: @tensorflow/tfjs-data tried to access seedrandom (a peer dependency) but it isn't provided by its ancestors; this makes the require call

[2020-09-04 14:39] jaddoughman opened #3882 "undefined is not an object (evaluating '_this.model.predict')"
I loaded the model correctly, but when I run model.predict(imageTensor), I get an "**undefined is not an object (evaluating '_this.model.predict')"** error

      const imageAssetPath = Image.resolveAssetSource(this.state.image)
      const response = await fetch(imageAssetPath.uri, {}, { isBinary: true })
      const rawImageData = await response.arrayBuffer()
      const imageTensor = this.image

[2020-09-04 16:10] rthadur commented on #3858
@Download yes it worked!

[2020-09-04 16:20] rthadur commented on #3881
@juuyan can you please check a related issue [here](https://github.com/tensorflow/tfjs/issues/3875)

[2020-09-04 16:24] rthadur commented on #3882
@jaddoughman could you please provide a reproduction code or codepen example ?

[2020-09-04 16:54] kylemcdonald commented on #3772
One more note, the help for `tensorflowjs_converter` says `--output_format tfjs_graph_model` is the default, but I don't think this is actually true.

If you don't specify `tfjs_graph_model` manually, and then try to `loadGraphModel` you will get an error `Uncaught (in promise) TypeError: Cannot read property 'producer' of undefined`.

[2020-09-04 17:40] juuyan commented on #3881
@rthadur I have checked that issue but it seems to be different.
The bug here I think is because "seedrandom" is not added as dependency in tfjs. https://github.com/tensorflow/tfjs/blob/master/tfjs/package.json
I can fix it manually by adding it locally.

[2020-09-04 18:19] rthadur commented on #3881
cc @tafsiri

[2020-09-04 19:48] #3753 closed

[2020-09-04 21:00] sanchit-gupta-cn opened #3883 "tfjs-models/handpose execution failing with TypeError: forwardFunc is not a function"
#### TensorFlow.js v2.3.0

I am following [this guide](https://github.com/tensorflow/tfjs-models/tree/master/handpose#usage) to build a simple hand pose detection pipeline. For now, I'm trying to replicate the example with an Image Tensor as input and a @tensorflow/tfjs-backend-cpu backend. Code fails with **TypeError: forwardFunc is not a function**.

#### Instructions to reproduce the bug

Here

[2020-09-05 00:28] joshverd commented on #468
I'm seeing epoch cycles take over double the time on my GPU when compared to my CPU. Is there any way to improve this?

[2020-09-05 02:05] pyu10055 commented on #3772
@kylemcdonald thank you for try it out, if the input type is keras, the default output is tfjs_layers_model.
The functional layers has been supported with this PR https://github.com/tensorflow/tfjs/pull/3863

[2020-09-05 04:46] jaddoughman commented on #3882
**Code:**
import React from 'react'
import {
  StyleSheet,
  Text,
  View,
  ActivityIndicator,
  StatusBar,
  Image,
  TouchableOpacity
} from 'react-native'
import * as tf from '@tensorflow/tfjs'
import { fetch,bundleResourceIO } from '@tensorflow/tfjs-react-native'
import * as mobilenet from '@tensorflow-models/mobilenet'
import * as jpeg from 'jpeg-js'
import * as ImagePicker from 'expo-image-

[2020-09-05 16:36] abhi211199 commented on #3384
https://github.com/tensorflow/tfjs/issues/3384#issuecomment-667607535 worked for me! Thanks!

[2020-09-05 18:26] rthadur commented on #3882
seeing this error , can you please check

![image](https://user-images.githubusercontent.com/43972606/92311284-a3afca00-ef6a-11ea-9673-9a33f61e7f16.png)

[2020-09-06 03:50] NickRance opened #3884 "How to capture a photo with a Tensorflow Camera in React native?"
#### TensorFlow.js version
[code]
#### Browser version
[code]
#### Describe the problem or feature request

I have a Tensorflow Camera component where I'm running a model every n frames using the
```onReady = {this.handleCameraStream}```
 type workflow shown in the [tensorflow Camera documentation](https://js.tensorflow.org/api_react_native/latest/#Media-Camera).

I'd like to save a frame of the c

[2020-09-06 04:08] piecemakerz opened #3885 "tfjs-react-native: Error ‘func is not a function’"
#### TensorFlow.js version
"@tensorflow/tfjs": "^2.3.0"
"@tensorflow/tfjs-react-native": "^0.3.0"

#### Describe the problem or feature request
Hi. I'm trying to run tfjs-react-native project [realtime_demo](https://github.com/tensorflow/tfjs/blob/master/tfjs-react-native/integration_rn59/components/webcam/realtime_demo.tsx) with my android smartphone, but I'm stuck with TensorCamera.

My project

[2020-09-06 04:24] Rahulvash commented on #2370
How did you upgrade the node version

[2020-09-06 11:55] jaddoughman commented on #3882
This is the file I'm working with. The problem is with the model.predict() function.

[ModelAndWeights.js.zip](https://github.com/tensorflow/tfjs/files/5179585/ModelAndWeights.js.zip)

[2020-09-06 14:10] danhaus commented on #3477
Actually, we did not manage to use the Google Coral models, as they seem to require special hardware to run. Thanks for your input @pyu10055

[2020-09-06 17:03] MonsieurWave commented on #3631
I am experiencing the same issue as described by @Rcuz8 above.
Manually replacing "Functional" by "Model" in the model.json file solved the issue for me.

[2020-09-06 18:50] Download commented on #3858
@rthadur He he I'm not sure what you mean by 'it woked'... As in you get no error? Or as in yes you can reproduce now?

I have two machines here exhibiting the problem. Admittedly they are both old machines with integrated graphics cards...
Maybe you can try to add some extra debug log statements to the library just before the point where the error is thrown in my stacktrace above and expose that

[2020-09-07 04:09] piecemakerz commented on #3885
After days of research, I found out it was problem with version. In my project where error occurred, I just installed packages using yarn, so I used "@tensorflow/tfjs": "^2.3.0" and     "@tensorflow/tfjs-react-native": "^0.3.0".

When I changed my module dependencies (in package.json) as listed in [here](https://github.com/tensorflow/tfjs/blob/master/tfjs-react-native/integration_rn59/package.json

[2020-09-07 05:17] LMJayasundara opened #3886 "accuracy reduces after converting tensorflow h5 model to json model"
when I am converting the h5 model to the JSON model I can see model accuracy reduces a lot.
What is the reason for that?

Train script
[code]

convert script
[code]

[2020-09-07 17:38] Mo-Zakria opened #3887 "Unknown GlorotUniform initializer while loading MobileNet Model on a localhost webapp"
#### TensorFlow.js 2.3.0
#### TensorFlow 2.2.0/2.3.0 (tried on both)

#### Google Chrome: Version 85.0.4183.83 (Official Build) (64-bit)

#### Describe the problem or feature request
I am currently trying to load mobilenet model into a web app(currently on localhost).
I have converted the model using tensorflow converter

when i use the following line specifying the path to model.json

[code]
i ge

[2020-09-07 18:33] addibouk opened #3888 "BodyPix: cropSize must be at least [1,1], but was 0,0"
Hi guys,

I am using the BodyPix example (v2.0.5) found online with TensorFlow, and I keep getting the above error message in the console, and it does not function.

`this.net = await bodyPix.load();`
`let personSegmentation = await this.net.segmentPerson(image);`
`const coloredPartImage = bodyPix.toMask(personSegmentation);`
`const opacity = 0.7;`
`const maskBlurAmount = 0;`
`bodyPix.drawMask(can

[2020-09-08 05:37] GantMan opened #3889 "Sandbox Fails on version 2.2.0 and 2.3.0"
#### TensorFlow.js version

`>= 2.2.0`

#### Browser version

Chrome Version 85.0.4183.83 (Official Build) (64-bit)

#### Describe the problem or feature request

Upgrade from TFJS from 2.1.0 to 2.3.0 or 2.2.0 keeps getting "Cannot evaluate flag 'DEBUG': no evaluation function found." when tested on codesandbox.com

#### Code to reproduce the bug / link to feature request

**This is a minimal demo

[2020-09-08 13:22] tafsiri commented on #3881
Seedrandom is a [dependency of tfjs-core](https://github.com/tensorflow/tfjs/blob/master/tfjs-core/package.json#L88) which is a dependency of tfjs.

Could you provide a repository that we can clone that replicates the problem?

[2020-09-08 13:24] tafsiri commented on #3826
I'm not sure what you mean, there isn't enough detail in the issue. Could you provide a repository that we can clone with steps to reproduce the problem and what output you are getting vs what you would expect/want to see?

[2020-09-08 13:32] tafsiri commented on #3889
Thanks for the report @GantMan, i think this is probably related to a bug that should be fixed with [this pr](https://github.com/tensorflow/tfjs/pull/3848). We'll get a
new release out as soon as we can.

[2020-09-08 14:42] GantMan commented on #3889
It's great to see you again Yannick!   Glad this was already on your radar.

[2020-09-08 16:25] tafsiri commented on #3858
We narrowed it down a little bit, there may be 2 bugs. To get around the first one could you move the call to `tf.enableDebugMode();` to _after_ the model has loaded. This will avoid the shape consistency check issue. I've done this in [my codepen](https://codepen.io/tafsiri/pen/zYqzaKr) so you can try running that.

We suspect somewhere in the pipeline, NaNs (or lots of zeroes) are being produced

[2020-09-08 16:27] tafsiri commented on #3858
Also if for some reason you still get the shape check errors after moving enableDebugMode below the model load code, you can try adding `tf.env().set('TENSORLIKE_CHECK_SHAPE_CONSISTENCY', false)` as the first line of the program.

[2020-09-08 16:40] rthadur commented on #3883
@sanchit-gupta-cn did you try with previous tfjs versions ?

[2020-09-08 17:30] rthadur commented on #3886
@Shanmax1996 can you please provide a codepen example for us to reproduce ?

[2020-09-08 17:31] tafsiri commented on #3882
Could you give some information on which versions of tfjs/tfjs-react-native are being used here. Also since you are in react native codepen won't work for a reproduction. Could you make a github repo that minimally reproduces the problem.

[2020-09-08 17:34] Shanmax1996 commented on #3886
@rthadur okay I will do

[2020-09-08 17:41] Shanmax1996 commented on #3886
[train.zip](https://github.com/tensorflow/tfjs/files/5190056/train.zip)

[2020-09-08 17:54] rthadur commented on #3888
Hello, this sort of question is better suited for StackOverflow. This issues list is for bugs and feature requests. Thanks and please use the tag 'tensorflow.js' on your StackOverflow question to makes sure it's discoverable.

[2020-09-08 17:54] #3888 closed

[2020-09-08 20:57] tafsiri commented on #3884
Hi, yes this is an unfortunate limitation, as far as we know, once we grab the camera stream texture from expo it seems to interfere with other expo-camera methods. One approach would be to directly encode the tensor values into a jpeg in JS. To do [image decoding](https://github.com/tensorflow/tfjs/blob/master/tfjs-react-native/src/decode_image.ts#L2) we use [jpeg-js](https://www.npmjs.com/packag

[2020-09-08 21:13] tafsiri commented on #3874
You always need a .bin file (or multiple if it is sharded). The manifest describes how to decode the values in the bin files. I would check for errors in the logs before the prediction is done.

tfjs-react-native is not designed to work in browsers/web mode. But you should be able to use regular tfjs if you want to do that. For your second find, do RN webviews allow access to WebGL? You can see if

[2020-09-08 23:27] ggalmeida0 opened #3894 "Tensorflowjs-node won't compile with create-react-app (Module not found: Can't resolve 'aws-sdk')"
**System information**
- Ubuntu 20.04
- TensorFlow.js-node installed from npm:
- TensorFlow.js-node version 2.3.0:
- Mozilla Firefox 80.0.1

**Describe the current behavior**
I try to compile with `npm start` and I get the error:
[code]

**Standalone code to reproduce the issue**
To start off I simply created a react app with `npx create-react-app my-app`, then I installed the @tensorflow/tfjs-nod

[2020-09-08 23:42] rthadur commented on #3894
@ggalmeida0 did you get chance to check a similar issue here https://github.com/tensorflow/tfjs/issues/1772

[2020-09-09 00:00] archie-swif commented on #2542
Hey @tafsiri How's it going?
Would be great to have your feedback on the fix!

[2020-09-09 00:10] #3843 closed

[2020-09-09 00:18] ggalmeida0 commented on #3894
@rthadur thank you for pointing that out, ignoring the modeules with  webpack-node-externals worked!

[2020-09-09 00:18] #3894 closed

[2020-09-09 07:12] yudhiesh1997 commented on #3386
I am having the same issue as well. Tried converting the model again but the same issue as well.

[2020-09-09 08:58] ivan-alles commented on #3870
I have the same problem in my app and model. The suggested workaround does not work for me. Maybe due to a different toolchain.

I am looking forward to testing the next release.

[2020-09-09 09:58] sanchit-gupta-cn commented on #3883
I didn't try any previous version of `@tensorflow-models/handpose` package, for which I'm using **v0.0.6**,
but I did try **v2.1.0** of `@tensorflow/tfjs-core`, `@tensorflow/tfjs-node`, and `@tensorflow/tfjs-converter`.
Got the same error: `TypeError: forwardFunc is not a function`.

[2020-09-09 11:39] annxingyuan commented on #3883
Hi @sanchit-gupta-cn - sorry you're having trouble running the model. Just to make sure - are you also loading a backend, e.g. @tensorflow/tfjs-backend-webgl, or @tensorflow/tfjs-backend-wasm ? In TFJS 2.x core no longer includes a backend, so you have to make sure to install one explicitly, or use the union package @tensorflow/tfjs.

[2020-09-09 13:18] sanchit-gupta-cn commented on #3883
Hi @annxingyuan, there is no need to apologize! I greatly appreciate you contributing to this library, and taking out your time to help us solve issues.

Initially, I was trying to execute the code using `node v14.9.0` with `@tensorflow/tfjs-backend-cpu` as the backend. Based on your comment, I also tried adding a `@tensorflow/tfjs-backend-webgl` backend, but still getting the same error.
Are you

[2020-09-09 14:50] annxingyuan commented on #3883
Hi @sanchit-gupta-cn - ah I think the issue is that by running the model in node, you are by default using the node tensorflow backend, but our node backend does not yet support handpose. However you can still run the model in node by explicitly setting the backend to either 'cpu' or 'wasm' (with `await tf.setBackend('cpu')` or `await tf.setBackend('wasm')`).

Then rather than passing the node dec

[2020-09-09 15:40] ghli2 opened #3896 "WASM backend doesn't use SIMD"
Versions:
tfjs 2.3.0, tfjs-backend-wasm 2.3.0
Browser:
Electron 10

**Describe the current behavior**
tfjs requests `tfjs-backend-wasm.wasm` instead of `tfjs-backend-wasm-threaded-simd.wasm`. Wasm then runs very slowly.

**Describe the expected behavior**
An optimized wasm file should have been pulled and used. I tried the demo https://tfjs-wasm-simd-demo.netlify.app/ and I do have simd and multit

[2020-09-09 15:58] annxingyuan commented on #3896
Hi @ghli2 - the netlify demo is subscribed to a Chrome origin trial for WASM SIMD. Unless you've also opted your demo domain in to an origin trial, then you have to manually enable SIMD by going to chrome://flags ("WebAssembly SIMD support", "WebAssembly Threads support") - hopefully that will fix it!

[2020-09-09 16:28] juliankleine commented on #3885
Same problem over here - how to fix this?

[2020-09-09 16:31] CPLTOM commented on #3885
Same for me, Component does not render properly.

[2020-09-09 16:42] rthadur commented on #3887
@Mo-Zakria is it possible to share reproductions code with the model you are using ?

[2020-09-09 19:00] #3838 closed

[2020-09-09 21:42] TomWyllie commented on #3862
I'm experiencing the issue, also missing `perf_hooks` when trying to build using webpack (in a project built with `vue-cli`), the error message is here in case it helps anybody else find this thread. A revert back down to 2.1.0 from 2.3.0 resolved this error for me, but the suggested changes to `package.json` didn't.

[code]

[2020-09-10 08:21] yudhiesh1997 opened #3899 "[Unhandled promise rejection: Error: Size(150528) must match the product of shape 1]"
**System information**
Using a custom model I built that uses transfer learning with MobileNetV2
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
macOS Catalina 10.15.6

- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
Running the example from the Expo app on a Huawei Mate 20
- TensorFlow.js version (use command below):
2.0.0
-Tensorflow Rea

[2020-09-10 08:58] Allenhuang0708 opened #3900 "convert keras model to tensorflowjs with weight mismatch, layer with groups=2"
Hi:

I am building a keras model,load the pretained weight to it and then try to convert it to tfjs, the problem comes at one layer which set the groups parameter to 2.  I compared the weight shape with the pretranined shape and the keras model, it matches, but when I convert it to tfjs and load it on brower, it gave an error of mismatch.

code:
eyes_model = keras.Sequential(
    [
        keras.I

[2020-09-10 09:08] sanchit-gupta-cn commented on #3883
Hi @annxingyuan, sorry for the late reply. I tried as you suggested and it's working now! Thank you so much for your help!

Here is the working code for anyone facing the same issue:
[code]

[2020-09-10 10:19] chandrra4 opened #3901 "[BodyPix] Improve body segmentation(flickering edges) updates for a video stream"
This is related to body segmentation using body-pix.
body segmentation has a flickering effect around the edges for a video stream.
Even setting edgeBlurAmount to maximum for the bokeh effect still had flickering effect around the edges since we are continuously trying to predict, segment and update frames from a video.
Had similar flickering around the edges when i get image data from the segment

[2020-09-10 10:20] #3901 closed

[2020-09-10 10:22] mchandrra opened #3902 "[BodyPix] Improve body segmentation(flickering edges) updates for a video stream"
This is related to body segmentation using body-pix.
body segmentation has a flickering effect around the edges for a video stream.
Even setting edgeBlurAmount to maximum for the bokeh effect still had flickering effect around the edges since we are continuously trying to predict, segment and update frames from a video.
Had similar flickering around the edges when i get image data from the segment

[2020-09-10 12:09] jaspervandorp commented on #2442
I encountered this issue to, and I have trouble understanding what is happening under the hood. I wrote a small script that basically proofs that tensorflow does *something* with the 'second' vector in the 2xN bias matrix, but to me it is not clear what exactly.

When I try to re-create the output of a GRU layer manually using only one of the two 1xN vectors, I get a different result than the one

[2020-09-10 13:39] vladmandic opened #3903 "TFJS converter mismanages EfficientDet models"
None of the new EfficientDet saved models on TFHub can be used in TFJS.

Actual convert completes ok and creates `tfjs_graph_model`:

`tensorflowjs_converter --input_format=tf_hub --output_format=tfjs_graph_model --signature_name="serving_default" https://tfhub.dev/tensorflow/efficientdet/d0/1 .`

But when loading model with `tf.loadGraphModel`, it fails with

`Cannot read property 'children' of u

[2020-09-10 16:40] KinjalShah1311 commented on #3384
@jbis9051  Can you please suggest, how can I do this when I deploy to heroku?

[2020-09-10 16:49] #3837 closed

[2020-09-10 16:49] #3828 closed

[2020-09-10 17:26] ghli2 commented on #3896
I enabled SIMD in the browser and now it does use the correct `...-simd-threads.wasm` binary. However, I noticed that, at least for BodyPix, the ResNet50 model/architecture does not seem to work with wasm (it doesn't classify people at all) and shows a `XNN status for xnn_create_max_pooling2d_nhwc_f32 is not successful.` warning. Is ResNet50 not compatable with wasm?

[2020-09-10 17:44] rthadur commented on #3900
can you please provide tfjs version ?

[2020-09-10 17:46] rthadur commented on #3903
what model are you using ?

[2020-09-10 17:49] #3717 closed

[2020-09-10 17:49] #3751 closed

[2020-09-10 17:50] rthadur commented on #3883
Thank you closing this issue for now.

[2020-09-10 17:50] #3883 closed

[2020-09-10 17:54] vladmandic commented on #3903
I don't understand - it's in the tensorflowjs_converter command line I've posted.

But it's the same with all EfficientDet models on TFHub.

[2020-09-10 18:06] Download commented on #3858
@tafsiri
I ran your codepen. It does not crash with the shape consistency error but still gives an empty array. It printed a looot of logging to the console, attached below:

[tensorflow-issue-3858-logging.txt](https://github.com/tensorflow/tfjs/files/5203828/tensorflow-issue-3858-logging.txt)

[2020-09-10 18:19] rthadur commented on #3903
Apologies , I see now , @pyu10055 @tafsiri do you guys know if we support `EfficientDet` models in TFJS ?

[2020-09-10 18:50] tafsiri commented on #2542
Reviewed it and it looks great! Thanks for taking the time to do this!

[2020-09-10 18:58] tafsiri commented on #3858
cc @annxingyuan see linked profile above, no evidence of NaNs.

@Download one more suggestion. Could you add `tf.ENV.set('WEBGL_PACK', false)` to the top of the program (or run [my codepen again](https://codepen.io/tafsiri/pen/zYqzaKr) as I've added that there) and also upload the logs from that.

[2020-09-10 19:32] Download commented on #3858
Hi @tafsiri
Ran your codepen again. This time it gives predictions:

[code]

I guess that's good news right?

[tensorflow-issue-3858-logging-webgl-pack-false.txt](https://github.com/tensorflow/tfjs/files/5204252/tensorflow-issue-3858-logging-webgl-pack-false.txt)

[2020-09-10 19:57] #2542 closed

[2020-09-10 19:57] tafsiri commented on #2542
this will be available in the next release.

[2020-09-10 21:26] tafsiri commented on #3858
It is good news and I think does confirm that your hardware probably doesn't support WebGL as well as would be needed to execute this model under our default settings. Workarounds for those kinds of issues are quite difficult to do unless we can locally reproduce. Feel free to leave  `tf.env().set('WEBGL_PACK', false)` in your code as you test with your actual use case (there may still be accuracy

[2020-09-11 00:10] y-ich opened #3908 "cannot load tfjs-backend-wasm on jsdelivr properly via importScripts."
This template is for miscellaneous issues not covered by the other issue categories.

For questions on how to work with TensorFlow.js, or support for problems that are not verified bugs in TensorFlow.js, please go to [StackOverflow](https://stackoverflow.com/tags/tensorflow.js).

Hi.
I tried loading tfjs-backend-wasm on jsdelivr via importScripts but failed.
tfjs-backend-wasm seems to load tfjs-ba

[2020-09-11 02:39] pedro-abundio-wang opened #3909 "when i use tensorflow-gpu 2.0.0, which tensorflowjs version should i use?"
I was used conda install tensorflow-gpu environment, and i saw the document of tensorflowjs, i use pip install tensorflowjs, but it's dependency package version not compatible the environment.

And I try serveral version like pip install tensorfowjs==X.X.X, some version based on tensorflow 1.15.0 or tensorflow-cpu 2.3.0; no one match with tensorflow-gpu 2.0.0.

[2020-09-11 04:04] yudhiesh1997 commented on #3899
The error was in the input shape I was specifying .

The following solved the error:
[code]

[2020-09-11 04:04] #3899 closed

[2020-09-11 06:04] sacredvoid commented on #3288
Hey @rthadur , I was hoping you could help me out here?

[2020-09-11 09:51] tyagit commented on #2785
Hey @sseppola did you find a way to reach out to a conclusion for your use case?
[code]
If yes, could you please share the process on how to achieve this?

[2020-09-11 12:40] dhavalpanchani commented on #3359
make sure you'll add the 'bin' or 'ttf' or 'otf' (files formats which you using with your project code) in the assetExts in the metro.config.js file.

here is my metro.config.js :

const blacklist = require('metro-config/src/defaults/blacklist');

module.exports = {
  transformer: {
    getTransformOptions: async () => ({
      transform: {
        experimentalImportSupport: false,
        inlineR

[2020-09-11 13:17] bramses commented on #3870
The fix worked for me, thank you!

@ivan-alles try putting this in your package.json
[code]

[2020-09-11 14:41] ivan-alles commented on #3870
I tried this, but this had no effect.

[2020-09-11 17:41] #2615 closed

[2020-09-11 17:43] rthadur commented on #3288
@sacredvoid this is a duplicate of #1775 , let track the issue there , I believe there are no plans to support this in near feature , closing this to track the feature request at one place.

[2020-09-11 17:43] #3288 closed

[2020-09-11 17:59] tafsiri commented on #3384
Hi all,

[2020-09-11 18:27] vjuss commented on #3717
@pyu10055 I'm sorry to reply this late! What eventually happened was that I followed advice from this thread https://stackoverflow.com/questions/55849309/retrain-image-detection-with-mobilenet/56340676#56340676 (by you, for example!) and used retrain.py script for my training, as I realized that make_image_classifier was more optimized for TF Lite. I could try to provide the make_image_classifier

[2020-09-11 18:44] rthadur commented on #3908
@y-ich you need to specify the version from NPM

[2020-09-11 18:54] rthadur commented on #3909
please use the [template](https://github.com/tensorflow/tfjs/issues/new?labels=type%3Abuild%2Finstall&template=10-build-installation-issue.md) to fill the steps and error you are getting .

[2020-09-11 18:54] #3909 closed

[2020-09-11 19:05] annxingyuan commented on #3908
Hi @y-ich - thanks for trying out the WASM backend. The tf-backend-wasm.js file will by default assume that the WASM binaries are located in the same directory. To override this behavior (e.g. if you're using the WASM backend with a bundler), please see this section of the README: https://github.com/tensorflow/tfjs/tree/master/tfjs-backend-wasm#using-bundlers

I think you should be able to resolve

[2020-09-12 02:01] y-ich commented on #3908
@rthadur san, @annxingyuan san, thank you for your advices!

    importScripts(
        "//cdn.jsdelivr.net/npm/@tensorflow/tfjs@2.3.0/dist/tf.min.js",
        "//cdn.jsdelivr.net/npm/@tensorflow/tfjs-backend-wasm@2.3.0/dist/tf-backend-wasm.min.js"
    );
    tf.wasm.setWasmPaths("//cdn.jsdelivr.net/npm/@tensorflow/tfjs-backend-wasm@2.3.0/dist/");

solved my issue.
(The last "/" of the path was ve

[2020-09-12 02:01] #3908 closed

[2020-09-12 05:27] wtrevena opened #3911 "toxicity model always returns the same values in React Native"
#### TensorFlow.js version
![image](https://user-images.githubusercontent.com/55459400/92987830-22899300-f494-11ea-8ac9-4f51eb3037da.png)

#### Describe the problem or feature request
Regardless of the string I input into the toxicity model, I receive the same probabilities for each result (identity_attack, obscene, etc.) as shown in the screenshot below. I am calling this using the code below.

O

[2020-09-12 05:31] #3820 closed

[2020-09-12 06:54] dhooper21 commented on #3911
I am having the same issue as well - regardless of the strings inputted, the model continues to return the same probabilities

[2020-09-12 08:26] yudhiesh1997 opened #3912 "cameraWithTensor not able to work after adding BlazeFace"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow.js):
- OS Platfo

[2020-09-12 13:31] #3806 closed

[2020-09-12 18:28] Darkshadow9799 opened #3913 "Getting same output for every input in tensorflow js model but the keras model from which it is converted is giving right answers."
This template is for miscellaneous issues not covered by the other issue categories.

For questions on how to work with TensorFlow.js, or support for problems that are not verified bugs in TensorFlow.js, please go to [StackOverflow](https://stackoverflow.com/tags/tensorflow.js).

[2020-09-13 03:04] yudhiesh1997 commented on #3912
I upgraded Web-gl and it worked

[2020-09-13 03:04] #3912 closed

[2020-09-13 05:24] Darkshadow9799 commented on #3913
The issue got resolved by normalizing the input image. This can be done by using : tf.scalar(127.55) which will normalize the tensor (or image array) between [-1,1].

[2020-09-13 05:24] #3913 closed

[2020-09-13 07:00] batrlatom commented on #3808
Hi, I was able to successfully convert ssd_resnet and ssd_mobilenet models and implement your postprocessing from tfjs-models. When I used ['StatefulPartitionedCall/Postprocessor/ExpandDims_1', 'StatefulPartitionedCall/Postprocessor/Slice'] as output nodes, it works quite well with webgl backend. But I have noticed one problem. When I want to use react-native, the performance is again extremely ba

[2020-09-14 00:59] vladmandic commented on #3903
Btw, there's something weird with **EfficientDet** `saved_models` from <https://tfhub.dev/tensorflow/efficientdet/d0/1> since when I go to the source at <https://github.com/google/automl/tree/master/efficientdet>, download checkpoints and convert them to `saved_model`, I can then convert `saved_model` to `tf_graph_model` and load it in TFJS without issues.

Also, `saved_model` files created this w

[2020-09-14 04:20] y-ich commented on #3849
I have a same issue. Any workarounds?

[2020-09-14 04:25] yudhiesh1997 opened #3914 "Crop detected faces from Blaze face model based on facial landmarks."
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow.js version (you are using):
- Are you willing to contribute it (Yes/No):

**Describ

[2020-09-14 09:40] yudhiesh1997 commented on #3885
I had the same issue then I upgraded web-gl and it worked.

[2020-09-14 13:40] tafsiri commented on #3885
I think we have a bug in 2.3.0, so I would suggest downgrading to an earlier version until our next release is out (should be this week).

[2020-09-14 13:45] tafsiri commented on #3849
Hi, in this case prod has not yet been implemented in the WASM backend. You would need to use either CPU or WebGL backends. I'll take this as a feature request to add prod.

[2020-09-14 13:52] juliankleine commented on #3885
@tafsiri thanks for the quick info, we are working around this issue for now, looking forward to the bugfix release

[2020-09-14 16:38] rthadur commented on #3914
cc @annxingyuan

[2020-09-14 19:05] Laksh05 commented on #2906
Hi @tafsiri
Hope you are doing good.
I am stuck with similar issue. I am trying this in react native.
let predictions = await model.estimateHands(nextImageTensor)
It gets stuck in this line.

currently using "@tensorflow-models/handpose": "0.0.6" but tried with "@tensorflow-models/handpose": "0.0.4" also. getting same issue.

[2020-09-14 23:50] kentonpowell opened #3924 "localStorage and indexeddb saves do not work"
**System information**
- 2.3.0, Chrome 85 and Safari 13, 10.15

**Describe the current behavior**
- Unable to save models with localStorage or indexeddb. Throws error **Cannot find any save handlers for URL.** File-based downloads — **model.save('downloads://model')** — do work.

**Describe the expected behavior**
- A successful save

**Standalone code to reproduce the issue**
- https://js.tensorf

[2020-09-15 00:29] y-ich commented on #3849
@tafsiri san,

Thank you for your comments!
I am looking forward to implementation of prod on wasm.

[2020-09-15 00:59] rthadur commented on #3924
@tafsiri I was able to reproduce the error

[2020-09-15 02:15] roca77 commented on #3728
Have you guys found a solution to this? I am getting the same error...

[2020-09-15 04:02] hpssjellis opened #3925 "Possible Bug Tensorflowjs_converter Quantization Command Line Example"
Can someone check this bug it might be specific to my models. I am using TFJS version 2.3 with a fresh install of ```          pip install tensorflowjs ```

 I used The Quantization example at https://github.com/tensorflow/tfjs/blob/master/tfjs-converter/README.md#converting-tfjs_layers_model-to-tfjs_layers_model-with-weight-sharding-and-quantization

[code]

It does not seem to work unless ```--o

[2020-09-15 06:32] Arpitrf opened #3926 "Error when using tensorflow.js in angular"
Angular version: 8.3.12
Node version: 10.19.0
@tensorflowjs/tfjs : "^2.0.1"

I am getting the following error after installing @tensorflowjs/tfjs and copy pasting speechCommand folder to assets.

[code]

[2020-09-15 08:23] Laksh05 opened #3928 "Handpose with react native"
Hi @tafsiri
Hope you are doing good.
I am stuck with similar issue. I am trying this in react native.
let predictions = await model.estimateHands(nextImageTensor)
It gets stuck in this line.

currently using "@tensorflow-models/handpose": "0.0.6" but tried with "@tensorflow-models/handpose": "0.0.4" also. getting same issue.

_Originally posted by @Laksh05 in https://github.com/tensorflow/tfjs/iss

[2020-09-15 09:12] Mo-Zakria commented on #3887
Thank your for your reply and sorry for late reply from my side.
Can you explain it more that what code you want me to share.
Plus i am using Mobilenet and to convert it into tfjs i've used both:

1. Tensorflow converter command
[code]
2. using tfjs.converters.save command
[code]

[2020-09-15 11:41] cagbal commented on #3883
This is working fine but only for 'cpu'. 'tensorflow' should work fine as far as I understand but the error is always the same:
`TypeError: forwardFunc is not a function`

It is the same for both @tensorflow/tfjs-node-gpu and @tensorflow/tfjs-node

[2020-09-15 12:01] annxingyuan commented on #3883
Hi @cagbal - our `tensorflow` backend does not yet support handpose because handpose runs a custom operation 'rotateWithOffset' which we have so far only implemented in the 'cpu'|'webgl'|'wasm' backends.

[2020-09-15 12:03] cagbal commented on #3883
Oh ok, thank you.

[2020-09-15 12:27] sanchit-gupta-cn opened #3929 "Handpose model not detecting landmarks when using the 'wasm' backend"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow.js): **No**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): **Linux Ubuntu 20.04**
- TensorFlow.js installed from (npm or script link): **yarn**
- TensorFlow.js version (use command below): **2.3.0**
- Browser version: **NA**
- Node version: **14.9.0**
- Tensorflow.js C

[2020-09-15 12:36] littleV commented on #3874
Hi @tafsiri,

Setting `tf.setBackend('cpu')` didn't help with the webview version either. I'll close this issue for now since I'm not making any progress. Will reopen if I have more info.

[2020-09-15 12:36] #3874 closed

[2020-09-15 12:54] vladmandic opened #3930 "tfjs-node support for saved models does not recognize valid dtypes"
Simply calling `tfnode.node.getMetaGraphsFromSavedModel(path);` on a model using `uint8` results in error:

[code]

However, support for `unint8` was added to `tfjs` via <https://github.com/tensorflow/tfjs/pull/2981> back in March.
Those newly supported data types should be added throughout `tfjs` codebase.

Environment: Ubuntu 20.04 running NodeJS 14.9.0 with TFJS 2.3.0

[2020-09-15 13:31] #3826 closed

[2020-09-15 14:42] hfiguiere opened #3931 "tf-core depends on a node-fetch with vulnerabilities"
`tf-core` depends on a `node-fetch` packages with vulnerabilities: `~2.1.2`

Details in https://www.npmjs.com/advisories/1556

Because it is a `~` dependency, `npm update` doesn't update `node-fetch` to `2.6.1` which is the version that fix the vulnerability described in the advisory.

This matters as `npm audit` complains about it for projects that uses `tf-core`

[2020-09-15 16:15] pyu10055 commented on #3903
@vladmandic Thank you for report the issue. We have identified the bug related to the model execution for TFHub conversion.
https://github.com/tensorflow/tfjs/pull/3917

For frozen model failure, your code show the model input is string, which is different from your image data input for the prediction.

[2020-09-15 16:56] rthadur commented on #3925
@hpssjellis is it possible to share your model ?

[2020-09-15 17:30] rthadur commented on #3929
@sanchit-gupta-cn can you please check this comment [here](https://github.com/tensorflow/tfjs/issues/3883#issuecomment-692669400)

[2020-09-15 17:30] tafsiri commented on #3928
@Laksh05 could you fill out the issue template to provide more information.

[2020-09-15 17:30] vladmandic commented on #3903
Thanks!

I'll test it as soon as it's in master.

Btw, I've created a standalone Gist which tests 8 different variations/sources of the same `EfficientDet-D0` model using both `tfnode.node.loadSavedModel` to load `saved_model` and `tf.loadGraphModel` to load converted `tfjs_graph_model`:
<https://gist.github.com/vladmandic/a7cf75109b7b48f8914a5b18da5c498f>

This fix should help with scenarios (4)

[2020-09-15 17:39] rthadur commented on #3842
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-09-15 17:39] #3842 closed

[2020-09-15 17:42] #3870 closed

[2020-09-15 18:43] miaawong commented on #3384
@KinjalShah1311
did you ever get it deployed to heroku? I am running into the same issue trying to deploy to heroku and was wondering if you found a solution. Thanks!

[2020-09-15 18:49] KinjalShah1311 commented on #3384
@miaawong For now, I resolved issue by using external TFJS in html file. This worked for me deploying to heroku...

<script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@2.0.1/dist/tf.min.js"></script>

[2020-09-15 18:53] tafsiri commented on #3924
Hi, we just released tfjs 2.4.0 could you try it with that version? Thanks.

[2020-09-15 19:14] hpssjellis commented on #3925
[tfjs-models](https://github.com/hpssjellis/my-examples-for-the-arduino-portentaH7/tree/master/m09-Tensoflow/tfjs-modelsl) I can put more but try this one first. Thanks for looking at this @rthadur I can put more models there if needed.

[2020-09-15 19:26] rthadur commented on #3925
@hpssjellis can not access the path ?

[2020-09-15 19:31] rthadur commented on #3384
New tfjs version has been released here https://github.com/tensorflow/tfjs/releases/tag/tfjs-v2.4.0 , can you please try

[2020-09-15 19:51] rthadur commented on #3924
@tafsiri latest version in https://js.tensorflow.org/api/2.3.0/ is still 2.3.0 , do you know if we need to update this ?

[2020-09-15 19:53] tafsiri commented on #3924
yep i'm in the process of doing that.

[2020-09-15 20:01] Laksh05 commented on #3928
@tafsiri Issue template? Can you please share link.

[2020-09-15 20:05] rthadur commented on #3928
here is the link https://github.com/tensorflow/tfjs/issues/new/choose , thank you

[2020-09-15 20:05] #3928 closed

[2020-09-15 20:14] sebavan commented on #1607
@pmer do you know any easy way to set back the TFJS's Vertex Attribs ? I am wondering how involved it might be.

[2020-09-15 20:53] pmer commented on #1607
Yes. I was able to get it to work by checking if `gpgpu.vertexAttrsAreBound` is true, and if it is, then call `gpgpu_util.bindVertexProgramAttributeStreams(gl, false, gpgpu.program, gpgpu.vertexBuffer)`. Right now `vertexAttrsAreBound` is a private member variable, so if you are using TypeScript, you have to cast `gpgpu` to `any` before using it.

This logic works on current TFJS, but since it's n

[2020-09-15 21:01] sebavan commented on #1607
AMAZING !!!! I ll give it a try ASAP :-)

[2020-09-15 21:47] sebavan commented on #1607
Works like a charm !!! thanks a ton.

[2020-09-16 00:58] hpssjellis commented on #3925
I updated above or use this. Not sure what happened @rthadur

[https://github.com/hpssjellis/my-examples-for-the-arduino-portentaH7/tree/master/m09-Tensoflow/tfjs-models](https://github.com/hpssjellis/my-examples-for-the-arduino-portentaH7/tree/master/m09-Tensoflow/tfjs-models)

[2020-09-16 01:00] pmer commented on #1607
Glad to hear it!!

I don't think this issue would be too hard to fix by someone who knew how it could fit in best with the public API that TFJS wants to expose. Although it would be nice to not have to create a hack to make this work. @sebavan, may I ask if you have any comments or suggestions if anybody wants to take this up?

[2020-09-16 04:37] bc238dev commented on #628
I observe the same thing. Just tfjs works faster for me too. Any comment from the TFJS team?

[2020-09-16 07:35] yudhiesh1997 opened #3933 "TensorCamera does not automatically handle camera input"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow.js):
- TensorFlo

[2020-09-16 13:52] sebavan commented on #1607
I cross posted here on the community: https://groups.google.com/a/tensorflow.org/g/tfjs/c/5VAnA7X0BRw/m/7iuomFqQBQAJ

Content is:

Basically, this part helps setting the custom shared context (should double check version and so on):

[code]
const gpgpu = (tf.backend() as any).gpgpu;
const gl = this.engine._gl;
if (gpgpu.vertexAttrsAreBound) {
    this.engine.enableScissor();
    gl.useProgram(gpgp

[2020-09-16 13:55] kentonpowell commented on #3924
Works in 2.4.0. Thank you!

[2020-09-16 15:55] pyu10055 opened #3937 "[webgl] allow direct WebGL tensor creation/retrieval using texture handle"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow.js version (you are using): 2.4.0
- Are you willing to contribute it (Yes/No):

**D

[2020-09-16 16:31] #3924 closed

[2020-09-16 16:44] Ali-Baker commented on #3384
That works for me thanks @rthadur for sharing.

[2020-09-16 16:52] carrycooldude commented on #822
I want to solve this issue but I am a begineer in open source so pls anyone guide me in this

[2020-09-16 18:46] tafsiri commented on #3384
Excellent!

[2020-09-16 18:46] #3384 closed

[2020-09-16 19:43] tafsiri commented on #3933
So what actually gets output before the refresh? Are there any error messages? Also this isn't really stand-alone code, I can't just paste somewhere have it to work (e.g. what is setTFReady). Could you make a repo that I can download and try

[2020-09-17 04:12] yudhiesh1997 commented on #3933
There aren't any error messages. Apologies for that here is a link to the [repository](https://github.com/yudhiesh1997/Driver-Drowsiness-App/blob/master/screens/CameraView.js). My handleCameraInput() only works when I resave the code.

[2020-09-17 04:54] pyu10055 commented on #3903
yes, please open another issue, the int8 support is for node direct saved model execution. thanks.

[2020-09-17 07:53] sacredvoid opened #3941 "[Question] How to best time-profile a TFJS workflow?"
This template is for miscellaneous issues not covered by the other issue categories.

For questions on how to work with TensorFlow.js, or support for problems that are not verified bugs in TensorFlow.js, please go to [StackOverflow](https://stackoverflow.com/tags/tensorflow.js).

### Question Description

Hey, I have a TFJS webapp that takes in frames from a Video, does some pre-processing, passes

[2020-09-17 08:35] sseppola commented on #2785
Hi @tyagit

Given the criteria above I gave up on using tfjs in favor of tflite. These are the points I considered:
- I had an example to base my code on
- tflite has been around longer, so it should be easier to learn/have better support
- tflite is more capable than tfjs, and so I considered it more likely to support the personalization features by the time I need it

I copied the files from the

[2020-09-17 11:41] vladmandic commented on #3930
More details:

There is an issue with `int32` vs `uint8` mapping which causes failure on execution of a `saved_model` in tfjs.
Model in question is EfficientDet from TFHub: <https://tfhub.dev/tensorflow/efficientdet/d0>

I've found your an earlier fix #2981 <https://github.com/tensorflow/tfjs/pull/2981> which patches `tfjs-converter` by mapping `uint8` to `int32`, but:

a) Same is also needed in `

[2020-09-17 11:56] vladmandic opened #3942 "Models converted from `saved_model` to `tfjs_graph_model` loose output signature information"
Models converted from `saved_model` to `tfjs_graph_model` loose output signature information.

This is not specific to any single model, it's a generic converter issue.

a) Saved model from <https://tfhub.dev/tensorflow/efficientdet/d0/1?tf-hub-format=compressed>

[code]

    outputs: {
      detection_anchor_indices: { dtype: 'float32', name: 'StatefulPartitionedCall:0', shape: [Array] },
      d

[2020-09-17 12:01] vladmandic commented on #3903
I've created separate issues <https://github.com/tensorflow/tfjs/issues/3942> and <https://github.com/tensorflow/tfjs/issues/3930>.

As you've noted, work for core issue here is done under (still in progress) <https://github.com/tensorflow/tfjs/pull/3917>

[2020-09-17 13:55] rfourdinier commented on #3485
@vvasc may you explain how did you resolve this ?

which versions of :

  - "@tensorflow-models/coco-ssd"
  - "@tensorflow/tfjs"
  -  "@tensorflow/tfjs-core"
  -  "@tensorflow/tfjs-node"

are you using ?

thank you !

[2020-09-17 16:20] tafsiri commented on #3926
Any reason why you didn't install the speechcommands module as a dependency https://www.npmjs.com/package/@tensorflow-models/speech-commands? Could you let us know more about what you are ultimately trying to do?

[2020-09-17 17:38] rthadur commented on #3941
Hello, this sort of question is better suited for StackOverflow. This issues list is for bugs and feature requests. Thanks and please use the tag 'tensorflow.js' on your StackOverflow question to makes sure it's discoverable.

[2020-09-18 02:27] no-1ne opened #3943 "tfjs handpose not as accurate as mediapipe handpose web demo"
Hello Folks,
When trying out handpose, it seems the tfjs version isnt performing as good as mediapipe web version. Can you kindly take a look.
https://viz.mediapipe.dev/demo/hand_tracking
https://storage.googleapis.com/tfjs-models/demos/handpose/index.html
![Screenshot from 2020-09-18 07-54-24](https://user-images.githubusercontent.com/11027129/93548228-73155a80-f984-11ea-80f8-c9cbdb63f859.png)
![

[2020-09-18 04:20] yudhiesh1997 opened #3944 "Custom Model Outputs the same prediction for every frame"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
Dependecies
[code]

**Describe the current behavior**
I am passing cropped faces from BlazeFace Model to my cust

[2020-09-18 08:34] its-ogawa opened #3945 "The behavior of the three resize methods (cropAndResize, resizeNearestNeighbor and resizeBilinear)"
# problem

What is the difference between the three resize methods (cropAndResize, resizeNearestNeighbor and resizeBilinear)?
CropAndResize and resizeNearestNeighbor do not return the expected results. Why is the bottom half of my image lost?

# background

We would like to develop an application that performs image processing in Tensorflow.js.
To do so, we need to match the size of the image to b

[2020-09-18 11:21] yudhiesh1997 commented on #3944
Issue was fixed as cropped faces were not being cropped properly, I needed to normalize the boxes before sending them to tf.image.cropAndResize(). Previously they were just sending a cropped black image.

[2020-09-18 11:21] #3944 closed

[2020-09-18 15:31] #712 closed

[2020-09-18 17:05] pyu10055 commented on #3942
@vladmandic Thank you for reporting this issue. There is no good way to track the original signature to the optimized nodes. Have you tried the tfhub model conversion? I think the signature will be preserved that way.

[2020-09-18 17:40] vladmandic commented on #3942
@pyu10055

Currently **less than half** of models posted on <tfhub.dev> have JS links (none of EfficientNet or EfficientDet or anything trained on OpenImages or ...), but they all have links to a saved model.

Or is there a way to trigger TFHub model conversion that I'm missing?

[2020-09-19 11:39] dennis508 opened #3947 "WASM backend should support matMul for non-float32 tensors."
Using WASM with BodyPix:
Error: BatchMatMul for non non-float32 tensors not yet supported.

**System information**
Kubuntu 18.04
npm install @tensorflow/tfjs-core@latest
npm install @tensorflow/tfjs-converter@latest
npm install @tensorflow-models/body-pix@latest
npm install @tensorflow/tfjs-backend-wasm@latest

@tensorflow-models/body-pix@2.0.5
@tensorflow/tfjs-backend-wasm@2.4.0
electron@10.1.2
n

[2020-09-20 02:10] liquidx opened #3948 "[Codelab]: Making Predictions from 2D Data"
In section 7, in the Show Confusion Matrix section:
https://codelabs.developers.google.com/codelabs/tfjs-training-classfication/index.html#6

It uses:
tfvis.render.confusionMatrix(
      container, {values: confusionMatrix}, classNames);

But the API seems to have changed to
tfvis.render.confusionMatrix(container, {values: confusionMatrix, tickLabels: classNames})

[2020-09-20 05:53] kotran88 opened #3949 "using tfjs in node js cause error."
hello I'm doing tensorflow js following
https://www.youtube.com/watch?v=EoYfa6mYOG4&t=2221s

but

<script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@0.11.7"></script>

with above,
it cause below error in
`model = await tf.loadModel("images/VGG16/model.json");`
[code]
and I changed it to 2.0
 <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@2.0.0/dist/tf.min.js"></script>

and the

[2020-09-20 06:56] kotran88 opened #3950 "can't convert h5 file to json with tensorflowjs converter"
I have downloaded vgg.h5 file and try to convert it. with command

tensorflowjs_converter --input_format keras ./vgg16.h5 ./

my python version is 3.8 and I also tried 3.7.3 but it's same. tf.__version__ is 2.3.0  what maybe the problem?
[code]

[2020-09-20 14:49] DrewJay commented on #2003
I would like to underline the fact that this problem is not resolved. I've tried everything mentioned above without any success to get tjfs-node-gpu working on windows 10. It always yields `UnhandledPromiseRejectionWarning: Error: The Node.js native addon module (tfjs_binding.node) can not be found at path: C:\Users\andre\Desktop\projects\tfjs-examples\mnist-acgan\node_modules\@tensorflow\tfjs-nod

[2020-09-20 18:02] spazmodius commented on #3490
I have found (I'm on Windows) that I have to replace the binary in the `lib/napi` folder, not `deps`.

[2020-09-20 19:46] pyu10055 commented on #3942
yes, you can convert the TFHub module directly using the converter.
[code]

[2020-09-20 19:56] vladmandic commented on #3942
@pyu10055 I always considered that the same as downloading `saved_model` and then running TFJS converter on it.
Just did I quick try and it produces `tfjs_graph_model` that is identical (and has the same signature) - meaning no real signature.

`tensorflowjs_converter --input_format tf_hub --signature_name serving_default https://tfhub.dev/tensorflow/efficientdet/d0/1 .`

[code]

[2020-09-20 22:41] rohail0 commented on #3885
@tafsiri were you referring to the recent 2.4.0 release? Unfortunately just updating tfjs from 2.3.0 to 2.4.0 did not fix this for me.

[2020-09-20 23:25] pmer commented on #1607
Nice! That's cool, I think we came to the same solution. :)

The only other thing I did when extracting tensors from TFJS was to `(backend as any).decode()` them because the data on them was encoded in a TFJS internal format. With `.decode()` they are left in a "square-ish" texture (the dimensions of which you can get with `tex_util.getDenseTexShape()`) that I'm able to copy into a texture of my o

[2020-09-20 23:27] sebavan commented on #1607
Thanks a lot for the nice trick with .decode() as I was currently struggling with an uggly way of solving it :-)

[2020-09-20 23:33] pmer commented on #1607
I know what you mean—my first attempt was also ugly. This `.decode()` approach was my second attempt. :)

[2020-09-20 23:38] pmer commented on #1607
It'd be really great if Tensorflow.js could fix this, since it sounds like it's not that much work. Without something like this it really limits the usefulness for a whole class of applications, which is unfortunate because Tensorflow.js is otherwise amazing.

[2020-09-20 23:52] Ark-kun opened #3952 "Cannot convert AutoML Tables model to JF.JS model"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow.js): No
- OS Pla

[2020-09-21 05:45] Ark-kun opened #3953 "Converter python package installs tensorflow-cpu package on top of already installed tensorflow package"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu
- TensorFlow.js version

[2020-09-21 07:46] sacredvoid commented on #3941
Hey, I noticed a lot of timing discrepancy in the [TFJS Benchmarking Tool](https://tensorflow.github.io/tfjs/e2e/benchmarks/local-benchmark/index.html) while testing my custom models as well as the ones provided in the list.

The aggregate kernel-wise timings don't add up. They always exceeded in the case of 'USE - Batch Size 30' (but still relatively close to the Average Inference Time over 50 ru

[2020-09-21 12:09] yudhiesh1997 commented on #3949
In your model.json Functional should be under model_config.class_name change it to "Model"

[2020-09-21 16:56] rthadur commented on #3949
This issue has been fixed [here](https://github.com/tensorflow/tfjs/pull/3863) , please use latest version to convert and load model and let us know ?

[2020-09-21 17:22] rthadur commented on #3953
@Ark-kun tensorflow-cpu and tensorflow are both same, I believe the output has been printed in that way. cc @pyu10055 can you please correct me if i am wrong ? Thank you

[2020-09-21 17:37] rthadur commented on #3943
@startupgurukul i don't see any difference in hand pose, what exactly you are referring to ?

[2020-09-21 17:53] rthadur commented on #3952
@Ark-kun which auto ml tables model you are trying to convert ?

[2020-09-21 17:55] rthadur commented on #1607
cc @pyu10055

[2020-09-21 18:25] rthadur commented on #3950
@kotran88 can you please check for a similar issue [here](https://github.com/tensorflow/tfjs/issues/785), what is the version of tfjs ?

[2020-09-21 18:45] tafsiri commented on #3952
Hi tfjs-automl doesn't currently support tables models. https://github.com/tensorflow/tfjs/tree/2ef1c1c352843af8902e29a74b73b12417283182/tfjs-automl#installation so we could tag this as a feature request.

[2020-09-21 18:46] tafsiri commented on #3952
cc @rthadur (updated tags)

[2020-09-21 19:14] pyu10055 commented on #3952
@Ark-kun The error you have shared seems to indicate that the model is generated with a previous version of TF (GraphDef version is too low). Will you be able to export your table model to saved model using TF 2.x?

[2020-09-21 19:17] pyu10055 commented on #3942
@vladmandic Thank you for trying, we will try to find a way that allows us to track the original signature name to the graph nodes after optimization. Will post any findings here.

[2020-09-21 19:23] #3808 closed

[2020-09-21 22:18] startupgurukul commented on #3943
If you open the two links in two tabs, show the  hand & switch tabs you will see significant changes in performance as shared in the screenshots above espl with fingertips and thumb

[2020-09-21 23:24] rthadur commented on #3943
![image](https://user-images.githubusercontent.com/43972606/93831067-b7c02080-fc26-11ea-9587-79d931d202c0.png)

I got above results cc @annxingyuan

[2020-09-22 00:51] startupgurukul commented on #3943
![ezgif-3-24660204391c](https://user-images.githubusercontent.com/11027129/93835124-d90f2400-fc9b-11ea-95d9-61dd5707a555.gif)

Pls notice the finger tips,

[2020-09-22 02:08] hpssjellis commented on #3925
@pyu10055 Hi Ping. Do you want some clarification of the problem?

[2020-09-22 05:40] Ark-kun commented on #3952
Unfortunately AutoML refuses to export the model to any format other than tf_saved_model.

[2020-09-22 05:42] Ark-kun commented on #3952
I suspect the opposite. "TF_GRAPH_DEF_VERSION 440  // Updated: 2020/6/22" is TF 2.3.0 - the latest released version. While "TF_GRAPH_DEF_VERSION 518  // Updated: 2020/9/8" is not released yet.

[2020-09-22 05:43] Ark-kun commented on #3952
Please help me better understand the question. I've trained the model myself. I'm not sure AutoML gives me options (apart from the dataset and training time).

[2020-09-22 07:49] pmer commented on #3937
This would be really great!! :)

You might need to be able to share a WebGL context with the user's application. Not sure if this would be a new API function or wrapped into something else. The user will probably know which canvas or OffscreenContext will want to use TFJS data, and could pass a reference to TFJS. Just a thought...

Previous discussion @ https://github.com/tensorflow/tfjs/issues/16

[2020-09-22 09:31] jameshfisher commented on #322
See equivalent issue for BodyPix: https://github.com/tensorflow/tfjs/issues/3593

And my suggested fix: https://github.com/tensorflow/tfjs-models/pull/523/files

The underlying bug is that `.width` and `.height` attributes on an `HTMLVideoElement` evaluate to `0` by default, rather than defaulting to `null`, or `.videoWidth`, etc.

The equivalent bug in PoseNet is here: https://github.com/tensorfl

[2020-09-22 15:26] Sujimoshi opened #3957 "tfjs-node-gpu 2.0.4 Could not load dynamic libraries on Ubuntu 20.04 and CUDA 10.1"
**System information**
- OS: Ubuntu 20.04
- TensorFlow.js version: @tensorflow/tfjs-node-gpu@2.0.4
- CUDA/cuDNN version: 10.1 / cudnn-10.1-linux-x64-v7.6.5.32

GPU not working, when starting my project I receive:
[code]
Seems like problem is here:
[code]

CUDA and CUDA Toolkit was installed using:
`$ sudo apt install nvidia-cuda-toolkit`
Nvidia logs:
[code]
Strange but `$ nvidia-smi` command show

[2020-09-22 16:21] rthadur commented on #3957
@Sujimoshi did you get chance to look at similar issues [here](https://github.com/tensorflow/tfjs/issues/3727)

[2020-09-22 16:28] Sujimoshi commented on #3957
@rthadur My version of node is `12.18.2`. Cuda < 11

[2020-09-22 16:50] pyu10055 commented on #3952
@Ark-kun I see the autoML is producing graph_def with the latest version of TensorFlow.
You can try following, after you installed tensorflowjs pip,
1. you can uninstall the tensorflow-cpu pip
2. install the tf-nightly-cpu pip

Then try to convert the model again.

[2020-09-22 17:33] Sujimoshi commented on #3957
Ok I'm finaly setted all together. All I need was Cyda 10.0
Installation for Ubuntu 20.04 can be found here: https://linuxconfig.org/how-to-install-cuda-on-ubuntu-20-04-focal-fossa-linux

[2020-09-22 17:33] #3957 closed

[2020-09-22 18:00] JohnGrisham commented on #3912
Which package specifically did you upgrade?

[2020-09-22 18:02] #3881 closed

[2020-09-22 18:56] 11mhg opened #3959 "Saved_model executeasync return mismatch in transpose"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow.js):
Yes, this is code that uses GPT2 openai exported as a saved_model. This saved model takes input tokens and a past context tensor.
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
Linux Ubuntu 18.04
- TensorFlow.js installed from (npm or script link):
npm i @tensorfl

[2020-09-22 21:37] kencoken commented on #1690
Hey @caisq – thanks for this! Am also looking to convert a Keras Saved Model to a TFJS Graph Model.

It's unclear from the documentation, but is there a difference between the Keras Saved Model format and regular TF Saved Model format?

When I attempt to convert a Saved Model saved with `tf.keras.save_model` using the conversion tool and specifying an input of 'TF Saved Model', it appears to work

[2020-09-22 21:58] rthadur commented on #3959
Can you please provide minimal code to reproduce the error or code after you load the model ?

[2020-09-22 22:31] 11mhg commented on #3959
The code after loading the model that makes this happen is shown above. Here it is again:
`await model.executeAsync({'input_tokens': tf.ones([1,5], dtype='int32'), 'past': tf.zeros([1,12,2,12,1,64], dtype='float32')});`

Unfortunately the model is too big to provide, but if absolutely necessary I can provide a link to it. However this model works perfectly in python and the tensorflow js converter

[2020-09-23 04:32] yudhiesh1997 commented on #3912
I ran ```yarn upgrade @tensorflow/tfjs-backend-webgl```

It was previously 1.22.5 then got upgraded to 2.0.0.

The latest version is 2.4.0 but I tried it and upgraded all my other dependencies but the same issue persisted. So my tensorflow versions are:

[code]

[2020-09-23 09:11] kencoken commented on #1690
Have uncovered this PR for saving from Keras to graph models:
https://github.com/tensorflow/tfjs-converter/pull/370

It appears to treat Keras Saved Models as if they were the same as standard TF Saved Models, but in practice I find this leads to non-working models.

[2020-09-23 10:09] Mo-Zakria commented on #3887
??

[2020-09-23 10:45] HemantKumar01 opened #3961 "bodyPix not working even a little bit correct"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow.js):no
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):windows 7 ultimate i7 36000 intel hd built in graphics
- Mobile de

[2020-09-23 11:34] chihuahua commented on #3894
@ggalmeida0, could you please share the specific configuration (relevant parts of the `webpack.config.js` file) that let you ignore the modules with `webpack-node-externals`?

[2020-09-23 12:00] chihuahua commented on #3728
Same, I am seeing this when loading a Keras model, ie

[code]

[2020-09-23 12:06] chihuahua commented on #3728
My guess is that you all are using the `tf.keras.layers.experimental.preprocessing.Rescaling` layer, which has not yet been ported to TensorFlow JS.

[2020-09-23 13:49] ggalmeida0 commented on #3894
hey @chihuahua, I used the "Usage example" configuration in their GitHub and the error went away, that's when I closed the issue. I spoke too soon though because later I found out the react wasn't working properly even though there were no errors. After that I tried to figure out webpack a little more with no success, but in the I just ended up switching to the regular tfjs.

[2020-09-23 14:39] 11mhg commented on #3959
I've attached the single file version of the model in this zip. If you download this [zip file](https://file.io/P1m9PGhmZCrv) extract the gpt2_single.js file. Then, in a directory that has `@tensorflow/tfjs` installed, run the following in a node repl with the `--max-old-space-size=8192` flag:

[code]
This will reproduce the issue, hope this gives enough information.

[2020-09-23 14:55] AnthonyLabaere commented on #3070
Do someone have an functional example of tfjs on react-native with tf.loadLayersModel( bundleResourceIO(modelJson, modelWeights)); used ?

I saw https://blog.tensorflow.org/2020/02/tensorflowjs-for-react-native-is-here.html but I can't reproduce without error. For instance i tried to load model.json and its 60Mo concatened .bin file of https://tfhub.dev/tensorflow/tfjs-model/ssd_mobilenet_v2/1/def

[2020-09-23 17:16] AnthonyLabaere opened #3962 "Can TensorFlow React Native works with local models ?"
I meet some problems with tfjs-react-native (https://github.com/tensorflow/tfjs/tree/master/tfjs-react-native).

Is the app created using expo? If so is it a managed or bare app?
**Yes, bare app.**

Which version of react native and the dependencies in the install instructions above are you using?
[dependencies.txt](https://github.com/tensorflow/tfjs/files/5269603/dependencies.txt)

What device(s)

[2020-09-23 17:22] rthadur commented on #3961
@HemantKumarProgrammer we do not have Windows machine to reproduce the error , I tried on my Mac and could not reproduce, It is working as expected.

[2020-09-23 18:31] benoitkoenig commented on #3070
@co2nut `tensorflowjs_converter --input_format keras path/to/my_model.h5 path/to/my_output --weight_shard_size_bytes 419430400`
The weight_shard_size_bytes means that the bin files are allowed to be heavier. By increasing that value enough, you will get a single .bin. The value I provided will be enough if you have fewer then 100 shards. That being said, having a single big shard has its own drawb

[2020-09-23 19:59] juliiami commented on #1363
Is it correct that this example is not updated to a new version of tfjs? Because the results are still different for these two links.

[2020-09-24 02:09] HemantKumarProgrammer commented on #3961
I dont know but even using script tag, it is not working. Once it worked exactly the right way. Maybe it is a server problem. Or I don't have a gpu, just inbuilt native Intel hd graphics, is it a problem.
I have @tensorflow/tfjs , @tensorflow/tfjs-node,
@tensorflow/tfjs-convertor,@tensorflow/tfjs -core installed along with bodypix. However while installing tfjs-node it is trying to install some ot

[2020-09-24 02:22] ryanvolum commented on #3186
@tafsiri @daoshengmu, any idea why your proposed code would only work for images of specific orientations? It seems bizarre, but when running this with expo I can't classify landscape images. If I instead crop a portrait image, it works fine.

[2020-09-24 04:58] pyu10055 commented on #3953
@Ark-kun we recommend installing tensorflowjs pip in a new virtualenv, please refer the converter readme file for details.

[2020-09-24 07:16] juliiami opened #3966 "Mobilenet predictions are different on different devices"
**System information**

- I slightly modified the script provided in https://github.com/tensorflow/tfjs-examples/tree/master/mobilenet, my current version is here: https://github.com/juliiami/juliiami.github.io/tree/master/tfjs_example (corresponding webpage is here: https://juliiami.github.io/tfjs_example/index.html).

- OS Platform and Distribution: checked on 2 laptops
1. Windows 10, GPU:
![ima

[2020-09-24 09:14] jameshfisher opened #3967 "[Codelab]: Making Predictions from 2D Data"
In the code

[code]

The variable `carsDataReq` should be called `carsDataResp`.

The code works, but it's conceptually confused - `fetch` returns a promise of a `Response`, not a `Request`.

[2020-09-24 13:49] droidlabour commented on #2724
@rush86999 WASM seems to be a bad choice with Posenet.
Please check https://blog.tensorflow.org/2020/03/introducing-webassembly-backend-for-tensorflow-js.html

[2020-09-24 14:02] tafsiri commented on #3186
@ryanvolum when you say can't classify, do you get an error or just not the expected results. If the latter it could be that once you resize the image to the dimensions expected by the model the landscape images are more distorted than your portrait ones.

[2020-09-24 14:41] JamesSWilliams opened #3968 "Video support for React Native"
**System information**
- TensorFlow.js version (you are using): 2.4.0
- Are you willing to contribute it (Yes/No): Yes (if someone can point out what needs to be done)

**Describe the feature and the current behavior/state.**

Currently the React Native API only supports running networks on the camera and not on prerecorded videos.

**Will this change the current api? How?**

Probably allow additi

[2020-09-24 15:42] tafsiri commented on #3962
Hi thanks for the details in your issue, I'll split my response into two parts:

### Error loading model / app crash

Having more debug information here would be helpful, if the app crashes before the javascript catch block gets to run, I would suggest looking at the device logs between the app starting and the attempt to load a model/crash. More info on device logs are [available here](https://re

[2020-09-24 15:46] tafsiri commented on #3962
A quick experiment to try to complement your approach of using `cat`. In the model.json there is a `weightsManifest` key, underneath which there is a `paths` key that lists all the shards, if you replace this list with the name of your newly concatenated .bin file, that might work.

[2020-09-24 15:54] tafsiri commented on #3968
Hi @JamesSWilliams, I think this could be interesting to add. At a high level I think it would involve creating something that took a 'video element'/'video source' as input and returned a generator that yielded tensors.

If this could be done as a utility function similar to [decodeJpeg](https://github.com/tensorflow/tfjs/blob/master/tfjs-react-native/src/decode_image.ts) that would probably be m

[2020-09-24 17:24] jasonmayes commented on #3967
I shall look into this.

[2020-09-24 17:30] jasonmayes commented on #3967
This is now fixed.

[2020-09-24 17:30] #3967 closed

[2020-09-24 17:59] rthadur commented on #3882
Closing this due to lack of activity, feel to reopen. Thank you

[2020-09-24 17:59] #3882 closed

[2020-09-24 18:48] ryanvolum commented on #3186
@tafsiri thanks for the quick answer! I should have been more specific. I'm building a React Native app that classifies images from my camera roll. The app is currently using two models - mobilenet (trained on Imagenet data) and a COCOSSD object detection model. I'm testing my app using expo on my android device, and it keeps crashing outright when I run the image processing code above on _certain

[2020-09-24 18:49] annxingyuan commented on #3914
Hi @yudhiesh1997 - if I'm understanding your issue correctly, I think you could achieve this with `tf.image.cropAndResize`, using the bounding box returned by blazeface.

[2020-09-24 18:50] ryanvolum commented on #3186
@tafsiri Incidentally, I also can't seem to run the app in the Android emulator on my Windows machine. Here I do explicitly get OOM errors. I'm guessing this is because my PC can't emulate the GPU on my Android device, but would also be surprised if a GPU were really necessary for turning an image into a tensor.

[2020-09-24 18:57] rthadur commented on #3856
@Download feel free to submit a PR , thank you

[2020-09-24 19:13] pyu10055 commented on #3887
@Mo-Zakria can you share the mobilenet.h5 file, so we can reproduce?

[2020-09-24 19:44] yudhiesh1997 commented on #3914
Hi apologies I forgot to update the thread. I managed to do it myself with the method you suggested.
[code]

[2020-09-24 19:44] #3914 closed

[2020-09-24 20:35] pyu10055 commented on #3925
@hpssjellis This looks like argparser issue, if you use following command it should work:

[code]

basically, when the quantize_uint16 params is defined with nargs='?', means it can have an empty value, somehow when it is placed at the end, the argsparser thinks the input_path is its param.
you can also do:
[code]

[2020-09-24 21:13] MarkTension opened #3972 "tensorflowjs_converter can't make input and output path work"
**System information**
- Mac OSX
- Version: tensorflowjs 2.4.0

[code]

I get the following error:
`TensorFlow.js model converters.: error: unrecognized arguments:             ./SavedModel_agent_epsiode5800/ ./web_model`

Been trying different things, but I can't get it to run

[2020-09-24 21:18] pyu10055 commented on #3567
@HrBbCi your approach 1 is the right way to measure the overall prediction time, which includes
1. JS model execution time predict(...)
2. GPU kernel execution time (all the WebGL op kernels queued by the predict() call)
3. When whole model is executed, the output texture download time (dataSync)

In you approach 2, you are only measuring the JS model execution time.

[2020-09-25 00:44] y-ich commented on #3371
Is it a bug of Google Chrome?
It seems to be fixed by Google Chrome 84 or Google Chrome 85.

[2020-09-25 00:44] #3371 closed

[2020-09-25 04:59] hpssjellis commented on #3925
Thanks @pyu10055 that works fine, so it basically was my bad luck that let me find that bug. One minor issue is your code would not compile for me without the backslash on the second to last line.

[code]

We can close this issue, I can send a PR if you want to [the tfjs-converter README.md file ](https://github.com/tensorflow/tfjs/blob/master/tfjs-converter/README.md#converting-tfjs_layers_model-

[2020-09-25 04:59] #3925 closed

[2020-09-25 06:02] sacredvoid commented on #3941
Hey, any leads as to why this is happening?

[2020-09-25 09:41] gazier857 commented on #3070
i'm having problem on this line: const modelWeights = require('./assets/model/wt.bin');

[2020-09-25 10:42] HrBbCi commented on #3567
Time predict model is very fast but when call method dataSync() is slow. I think it has to wait queued so it is slowed down.I still can't improve it

[2020-09-25 10:57] benoitkoenig commented on #3070
@gazier857 [](https://stackoverflow.com/questions/60715615/react-native-importing-error-unable-to-resolve-module-with-bin-how-to-import)
Please post this kind of issues on stack overflow rather than github :-)

[2020-09-25 17:00] rthadur commented on #3972
Issue is with the line ` './SavedModel_agent_epsiode5800/'\ './web_model'` , try to add backslash and quotes appropriately to overcome the format issue.

[2020-09-25 17:12] lina128 commented on #3941
Hi @sacredvoid, the numbers in the kernel-wise timings don't add up because they run in debugMode, which is much slower. But the ratio between these kernel-wise timings hold. So if you use the model inference time multiply by the ratio, you will get the actual time spent for the kernel. Regarding GPU downloading and uploading time, when kernel code finishes, it doesn't know whether computation is