[2019-07-31 14:46] dsmilkov commented on #510
That's a good suggestion in theory but since the browser runs in a sandbox, I don't think we are able to access the hardware info.

[2019-07-31 15:15] rthadur commented on #1783
@blechatellier thank you , did you try with latest version of `tfjs-converter ?`

[2019-07-31 21:53] pyu10055 commented on #1783
@blechatellier This an older version of NonMAxSuppresion, are you using a existing saved model, if not what version of TF you are using to generate this saved model?

[2019-07-31 23:01] blechatellier commented on #1783
@rthadur I haven't tried the latest version as it doesn't support frozen models anymore, this is the command I used on the following model https://github.com/yeephycho/tensorflow-face-detection/blob/master/model/frozen_inference_graph_face.pb

[code]

@pyu10055 that would make sense, this frozen model is already pre-trained but almost 2 years old. Should I retrain and export a new model with the l

[2019-08-01 00:10] pyu10055 commented on #1783
@blechatellier yes, if you can retrain the model, and save it as saved model would be much better. Since even if we supported this op, it will be in the new converter, where the frozen model would not be supported.

[2019-08-01 00:14] #1783 closed

[2019-08-01 02:35] xianrenb commented on #510
Adding code for checking whether the GPU could support NaN or with high enough precision should be simple. In fact, these should probably be the real reasons why recent tfjs code would fail with older GPUs. The exact hardware GPU type is not important.

[2019-08-01 02:47] xianrenb commented on #510
It should be noted that developer could choose backend for their application, but normal user using their application with older GPU could not.

[2019-08-01 03:15] caisq opened #1788 "#1844 is causing test failure in tfjs-layers"
When tfjs-layers tests are run against HEAD of tfjs-core currently (through yalc linking), about 18 tests fail, e.g.,

"loadLayersModel from URL cpu undefined pathPrefix=. "

The test passes against latest release of tfjs-core (1.2.6), though. I bisected the issue and located the culprit at https://github.com/tensorflow/tfjs-core/pull/1844.

The cause seems to be changes to `util.fetch`. Let's dis

[2019-08-01 12:42] tafsiri commented on #1788
@caisq I'll take a look/ping you when back in the office. The API of util.fetch hasn't changed but platform.fetch was changed to take an extra optional parameter.

[2019-08-01 15:01] #1782 closed

[2019-08-02 07:46] thirukumars commented on #952
$(document).ready(function(){
run()
})
async function run(){
    await faceapi.loadMtcnnModel('./models');
    await faceapi.loadFaceRecognitionModel('./models');
    const videoEl=document.getElementById('inputVideo')
    navigator.getUserMedia(
        {video:{}},
        stream=>videoEl.srcObject=stream,
        err=>console.err(err)
    )
}
async function onPlay(videoEl){

    setInterval( asy

[2019-08-02 08:22] Resin01 opened #1789 "tfjs-converter: Appears to be a git repo or submodule"
#### TensorFlow.js version
1.2.6

#### Browser version
N/A

#### Describe the problem or feature request
If I install "@tensorflow/tfjs": "^1.2.6", first and then try to install anything else afterwards using npm install xxx, I get an error:
{path}/node_modules/@tensorflow/tfjs-converter: Appears to be a git repo or submodule

#### Code to reproduce the bug / link to feature request
Install tensor

[2019-08-02 13:53] Leekao commented on #1499
I am running into the same issue and using knn classifier, only on mobile (ios and android)

[2019-08-02 20:13] rthadur commented on #952
@thirukumars please open a new isse here [New Issue Template](https://github.com/tensorflow/tfjs/issues/new) , closing this, thank you

[2019-08-02 20:13] #952 closed

[2019-08-02 20:16] rthadur commented on #1499
@Leekao  please open a new issue here [New Issue Template](https://github.com/tensorflow/tfjs/issues/new) , thank you

[2019-08-02 20:16] #1499 closed

[2019-08-02 20:20] dsmilkov commented on #1790
This was fixed in https://github.com/tensorflow/tfjs-core/pull/1848 and the fix is available in the latest release. Thus closing this issue. Let me know if you still run into this problem with the latest version (1.2.6).

[2019-08-02 20:20] #1790 closed

[2019-08-02 20:20] rthadur commented on #1754
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-08-02 20:20] #1754 closed

[2019-08-02 20:21] rthadur commented on #1740
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-08-02 20:21] #1740 closed

[2019-08-02 20:21] rthadur commented on #1599
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-08-02 20:21] #1599 closed

[2019-08-02 20:41] rthadur commented on #1790
Thank you @dsmilkov

[2019-08-02 22:05] rthadur commented on #1538
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-08-02 22:05] #1538 closed

[2019-08-02 22:07] rthadur commented on #1537
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-08-02 22:07] #1537 closed

[2019-08-02 22:07] #1534 closed

[2019-08-02 22:10] rthadur commented on #1529
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-08-02 22:10] #1529 closed

[2019-08-02 22:12] rthadur commented on #1520
It looks like you haven't used a template to create this issue. Please resubmit your issue using a template from [here](https://github.com/tensorflow/tfjs/issues/new). We ask users to use the template because it reduces overall time to resolve a new issue by avoiding extra communication to get to the root of the issue. We will close this issue in lieu of the new one you will create from the templa

[2019-08-02 22:12] #1520 closed

[2019-08-02 22:15] rthadur commented on #1536
related PR has been merged so closing this issue.

[2019-08-02 22:15] #1536 closed

[2019-08-04 03:38] ababbdev commented on #1789
If anyone needs to get it working in the meantime you can remove the .git folder.
`rm -rf ./node_modules/\@tensorflow/tfjs-converter/.git/`

[2019-08-05 02:44] aohan237 opened #1791 "tensorflow-node-gpu@1.2.5 Cannot find module '@tensorflow/tfjs-core/dist/backends/backend'"
tensorflow-node-gpu@1.2.5  Cannot find module '@tensorflow/tfjs-core/dist/backends/backend'

try to install tensorflow-node-gpu@0.2.2,but it shows cant find libtensorflow, but i have extract the libtensorflow on /usr/local/lib as libtensorflow's instructions, and sudo ldconfig

so ,what is this problems?  thanks in advance

[2019-08-05 02:56] #1791 closed

[2019-08-05 05:50] MongoExpUser commented on #1789
**@ababbdev**,
I ran into the same problem. I think your suggested solution above solves the problem with a minor typo *correction**:

remove the **\** before **@tensorflow**. So the edited solution is:

**rm -rf ./node_modules/@tensorflow/tfjs-converter/.git/**

**Then remove the package(s):**
sudo npm uninstall @tensorflow/tfjs
sudo npm uninstall @tensorflow/tfjs-node
sudo npm uninstall@tensorfl

[2019-08-05 05:53] ababbdev commented on #1789
Ah yeah that would be my terminal I had to escape the @

[2019-08-05 05:56] MongoExpUser commented on #1789
@ababbdev,
Ok. Thanks..

[2019-08-05 14:53] ToonTalk opened #1792 "Error passing tfvis.show.fitCallbacks AND tf.callbacks.earlyStopping as callbacks option to fit"
#### TensorFlow.js version
1.2.6
#### Browser version
Version 76.0.3809.87 (Official Build) (64-bit)
#### Describe the problem or feature request
I can pass either tfvis.show.fitCallbacks or tf.callbacks.earlyStopping as callbacks option to fit as an Array (with one element) but when I pass both an error results. Depending upon the order of the callbacks the error is either

Uncaught (in promise)

[2019-08-05 17:54] kangyizhang commented on #1791
@aohan237 we just published tensorflow-node-gpu@1.2.6, you can give it a try.

[2019-08-05 18:45] rthadur commented on #1789
there will be a fix pushed out soon , thank you everyone

[2019-08-05 20:36] rthadur commented on #1789
Here is the [fix](https://github.com/tensorflow/tfjs-converter/pull/406)

[2019-08-05 20:36] #1789 closed

[2019-08-05 22:38] ababbdev commented on #1789
Thank you.

[2019-08-05 23:42] blechatellier opened #1793 ""Cannot compute the outputs" using SSD Mobilenet v1 coco"
I've successfully converted [ssd mobilenet v1 coco](http://download.tensorflow.org/models/object_detection/ssd_mobilenet_v1_coco_2018_01_28.tar.gz) from the official [tensorflow object detection repo](https://github.com/tensorflow/models/blob/master/research/object_detection/g3doc/detection_model_zoo.md) using tfjsconverter but running into issues predicting.

### Python dependencies
tensorflow 1.

[2019-08-05 23:52] ioga opened #1794 "tf.where on CPU backend is incorrect for inputs with rank 3 or higher."
#### TensorFlow.js version
1.2.6

#### Browser version
Google Chrome 75.0.3770.100 (Mac OS X 10.14.5).
Safari 12.1.1 (14607.2.6.1.1) (Mac OS X 10.14.5).

#### Describe the problem
`tf.where` output on `cpu` backend when `a` and `b` tensors have rank 3 or above is incorrect: all elements except for the very first row are zeros.
Same operation on `webgl` backend works properly.

#### Code to reprodu

[2019-08-06 00:07] rthadur commented on #1793
@blechatellier can you try with tfjs-node 1.2.6 ?

[2019-08-06 00:13] blechatellier commented on #1793
@rthadur just tried and running into the same issue, do I have to manually pass in the outputs I want to `executeAsync`?

[2019-08-06 02:29] aohan237 commented on #1791
thanks. i will try.
@kangyizhang  another question.  i use tfjs-converter to transform tfpy model, the output gets lots  of unused_control_flow_input members,which cant be used.  why,what should i do with these models?

 tfjs-converter or tfjs also has some version problems,i dont know which version of tfjs-converter or tfjs version to use, in corresponding to the python version.

and tfjs-convert

[2019-08-06 02:34] aohan237 commented on #1793
have the same problem.

the converter generates lots of unused_control_flow_input, which makes the input shape changed.

i think maybe it is the converter problem.

@blechatellier  by the way, maybe  we just make the converter run right, does not mean, it convert the model right.

[2019-08-06 03:29] aohan237 commented on #1791
1.2.6 still has the problem
Cannot find module '@tensorflow/tfjs-core/dist/backends/backend'

[2019-08-06 04:21] kangyizhang commented on #1791
hi @aohan237 , can you provide more details?

1. tfjs-node-gpu
I can not reproduce this error. How did you use the package? Are you building your own model or loading a model? Which function cause this error?
If you clone this package, then run 1) `yarn` 2) `yarn enable-gpu` 3) `yarn test, do you see any failing test?

2. tfjs-converter
tfjs does not support all tf python ops. See [this](https://g

[2019-08-06 05:25] li-yinan opened #1795 "Cannot compute gradient: gradient function not found for gatherND"
training network with gatherND ops raise an error “Cannot compute gradient: gradient function not found for gatherND”

I track the code and find grad function is unimplemented

[gather_nd.ts](https://github.com/tensorflow/tfjs-core/blob/master/src/ops/gather_nd.ts#L64)

I'd like to request gradient function for gatherND

Thanks!

[2019-08-06 05:26] blechatellier commented on #1793
I've tried with tfjsconverter 0.8.6 and it works, returning the expected outputs.

[2019-08-06 05:45] aohan237 commented on #1791
@kangyizhang  thanks for your so detailed information.

1. tfjs-node-gpu.
    i use a lib ,which use tfjs-core@0.14.2 to impl a yolov2 model.
    i try to train my own model use nodejs.
    i use tfjs-node@0.2.2 to speed up the training.
    then  i want to use tfjs-node-gpu to gen more speed.  but tfjs-node-gpu@0.2.2 seems that dont work, the training back to pure js ,which is much slower than tf

[2019-08-06 06:15] kangyizhang commented on #1791
@aohan237

1. tfjs-node
Both tfjs-node and tfjs-node-gpu have peer dependency on tfjs-core, so the latest version of tfjs-node/tfjs-node-gpu might have exception with mismatch version of tfjs-core. So you should keep using tfjs-node@0.2.2 or tfjs-node-gpu@0.2.2.

tfjs-node-gpu requires cuda drivers and cudnn, you can find more information in this [link](https://www.tensorflow.org/install/gpu). Ple

[2019-08-06 06:19] aohan237 commented on #1791
@kangyizhang  thanks. i now know the tfjs-converter version requirement.

maybe most of the problem is the version thing.

[2019-08-06 11:12] blechatellier opened #1796 "Object detection inference time nodejs vs python"
I've benchmarked the ssd_mobilenet_v2_coco from the [official repo](https://github.com/tensorflow/models/blob/master/research/object_detection/g3doc/detection_model_zoo.md) on cpu using the frozen model in python vs the converted saved model in tfjs (using the latest tfjsconverter).

tensorflow 1.4.0
tfjs-node 1.2.6

[code]

[code]

Any idea why there is such a big difference? Is the [coco-ssd mod

[2019-08-06 17:41] ioga commented on #1794
@rthadur thanks for taking a look.
Looking at the assigned labels, I don't believe this is a performance issue. This is a bug in CPU backend implementation.

[2019-08-06 19:51] #1596 closed

[2019-08-06 21:46] rsaeta opened #1798 "[Codelab]: Making Predictions from 2D Data"
To get help from the community, we encourage using Stack Overflow and the [`tensorflow.js`](https://stackoverflow.com/questions/tagged/tensorflow.js) tag.

#### TensorFlow.js version

#### Browser version

#### Describe the problem or feature request
On step 4. Define the model architecture of the [tensorflow.js codelabs](https://codelabs.developers.google.com/codelabs/tfjs-training-regression/ind

[2019-08-07 11:36] marsiancba commented on #1761
More details about the problem:

1. It is clearly leaking something to GPU memory. It **can be seen in Windows Task Manager** as **Dedicated GPU memory**. It happens with any setting of WEBGL_PACK and in both browsers (Chrome/Firefox), just with different speed of leaking.

Results in Chrome after generating 100k samples:
WEBGL_PACK=true +5.7GB
WEBGL_PACK=false +2GB
(this leaked memory can be free

[2019-08-07 11:56] annxingyuan commented on #1761
Hi @marsiancba - could you include a fuller code snippet? One that specifies basey, basex, POS_SIZE_PAGE, POS_SIZE, etc.?

I'll try to keep investigating. Thank you!

[2019-08-07 13:02] marsiancba commented on #1761
Here is relevant part of the code (full code is too big):

[code]

[2019-08-07 13:10] marsiancba commented on #1761
Here is my system confguration:

Windows 10
NVIDIA GeForce RTX 2070 (2 monitors)
onboard Intel UHD Graphics 630 (2 monitors)

Thank you for looking into this!

[2019-08-07 13:36] BorisChumichev commented on #102
@davlhd, starting from v1.2.3 it's possible to run tfjs in Safari and iOS Safari within a webworker with CPU backend.

Looks like this fix made it possible:
https://github.com/tensorflow/tfjs-core/commit/973018705bac4a2ab71cd0ab25b1598983b54c0a

[2019-08-07 15:56] caisq commented on #26
Closing the PR. This is done.

[2019-08-07 15:57] caisq commented on #26
Reopening the issue. `sparseTopKCategoricalAccuracy` is still outstanding. It's dependent on https://github.com/tensorflow/tfjs-core/pull/1734/files

[2019-08-07 17:41] #102 closed

[2019-08-08 20:42] #1756 closed

[2019-08-08 20:59] rthadur commented on #1798
@rsaeta thanks for reporting the issue , i was able to reproduce the issue.Will fix it.

[2019-08-08 21:36] rthadur commented on #1794
@ioga thanks for reporting , i was able to reproduce the issue , @annxingyuan any thoughts on this ?

[2019-08-08 23:04] pyu10055 commented on #1793
@blechatellier sorry for the issues. With the latest converter, there are bunch unused_control_flow_input generate, which makes the JS executor confused about the default output nodes. There is a bug reported for TF 2.0. Until the bug is fixed in TF 2.0 and it is stable enough for us to use, your best option is to specify the output nodes. Thanks.

[2019-08-08 23:08] #1793 closed

[2019-08-08 23:30] rthadur commented on #1792
@tafsiri was able to reproduce this , any thoughts on this ?

[2019-08-09 01:30] vilorel commented on #310
Any news on distributed training with node.js in the backend? @bileschi thanks for the link, I'd rather not port to Python...

[2019-08-09 04:37] TheNewSound commented on #1713
+ add possibility to cast 'string' tensor to 'int' tensor?

Example: I load up a string and want to convert uppercase to lowercase:
[code]

[2019-08-09 12:58] stevenfox opened #1802 "[Codelab]: Making Predictions from 2D Data"
To get help from the community, we encourage using Stack Overflow and the [`tensorflow.js`](https://stackoverflow.com/questions/tagged/tensorflow.js) tag.

#### Describe the problem or feature request

### Syntactic error:

First we need to make some predictions. Here we will **make take** 500 images and predict what digit is in them (you can increase this number later to test on a larger set of i

[2019-08-09 13:13] stevenfox opened #1803 "[Codelab]: Making Predictions from 2D Data"
#1340 ## Describe the problem or feature request

### Syntactic error

Notably the argmax function is what gives us the index of the highest probability class. Remember that the model outputs a probability for each class. Here we find out the highest probability and **assign use** that as the prediction.

### Suggestion

Notably the argmax function is what gives us the index of the highest probabi

[2019-08-09 13:52] dsmilkov commented on #1713
Will close this issue since it was fixed in https://github.com/tensorflow/tfjs-node/pull/279

Regarding the question, can you try using plain JS [`String.toLowerCase`](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String/toLowerCase)? If that doesn't fit you need, feel free to file another issue.

[2019-08-09 13:52] #1713 closed

[2019-08-09 14:42] #1802 closed

[2019-08-09 14:44] rthadur commented on #1803
As this is not a bug or feature request , closing this issue.

[2019-08-09 14:44] #1803 closed

[2019-08-09 15:36] tafsiri commented on #1798
Hi. useBias is true by default for dense layers, we have a note about that on the [model definition page](https://codelabs.developers.google.com/codelabs/tfjs-training-regression/index.html#3), so after explaining it we no longer include it in the calls. Note that omitting it is not the same as changing it to false (which we do not do).

@rthadur it looks like unlike @rsaeta, in both cases (useBia

[2019-08-09 15:39] dsmilkov commented on #1058
Fixed in https://github.com/tensorflow/tfjs-core/pull/1473

[2019-08-09 15:39] #1058 closed

[2019-08-09 15:45] tafsiri commented on #1792
I'd guess callbacks from the second call are overriding some in the first. It's either a bug in layers or vis. I'll dig deeper.

[2019-08-09 17:02] rsaeta commented on #1798
I honestly tried to do this again and could not reproduce the same error. The actual behavior I saw was that it was not showing a visualization for MSE/loss when going through iterations of training. It would adjust the x-axis but no line was showing up.

[2019-08-09 17:30] rthadur commented on #1798
@tafsiri yes i was able to train the model and get a visualization in both cases, but output is not consistent.

[2019-08-09 19:24] msprengholz opened #1804 "Add custom activation function (Swish)"
#### TensorFlow.js version
1.1.0
#### Browser version
Chrome 75
#### Feature request
Add the Swish activation function (https://arxiv.org/abs/1710.05941). I tried implementing it by adding a custom layer, but I couldn't get it to work. I looked into the source at [activations.ts](https://github.com/tensorflow/tfjs-layers/blob/master/src/activations.ts) and it seems pretty easy to add Swish. Here's

[2019-08-10 09:30] yqtianust opened #1805 "tfjs-core: cannot read property 'isContextLost' of null"
#### TensorFlow.js version
git checkout v1.2.7

#### Browser version
Chrome 75.0.3770
Ubuntu 16.04 LTS

#### Describe the problem or feature request
When I run 'yarn test --single-run', I got 11 failures. The error message is
`TypeError: Cannot read property 'isContextLost' of null`

#### Code to reproduce the bug / link to feature request
yarn test --single-run

The full log is:
[1.log](https://g

[2019-08-11 12:28] lewis617 commented on #931
@caisq I also have this problem, the h5 file I use is https://github.com/fchollet/deep-learning-models/releases/download/v0.6/mobilenet_1_0_224_tf.h5

[2019-08-11 14:22] Insiyaa opened #1806 "Update documentation"
https://www.tensorflow.org/js/tutorials/conversion/import_saved_model

Has a code snippet for conversion from tf_frozen_model which is not supported anymore.
Also, why is it not supported anymore?

[2019-08-12 00:45] stevenweaver commented on #1748
Hi! I'm not sure how this isn't considered a bug. The example doesn't run... and there is an entire chapter dedicated to it in the upcoming release of `Deep Learning with JavaScript`.

[2019-08-12 01:56] jkovacs-dev commented on #1748
I agree, but I’m not the maintainer. After some debugging, I traced it down to the fact that models which are marked as untrainable return their weights in a different order than trainable models. You can fix the example code by removing the call which marks the model as untrainable.

I was thinking of submitting a PR for the tfjs-examples repository so at least the example code might work OOTB.

[2019-08-12 02:13] stevenweaver commented on #1748
Thank you @jkovacs-dev! That indeed did the trick although I'm still a bit too green to completely understand the ramifications of doing that at the moment.

[2019-08-12 02:42] caisq opened #1807 "[tfjs-examples] snake-dqn: copyWeights() errors out"
To get help from the community, we encourage using Stack Overflow and the [`tensorflow.js`](https://stackoverflow.com/questions/tagged/tensorflow.js) tag.

#### TensorFlow.js version
Seems to be present in 1.2.2 - 1.2.7

#### Browser version
Doesn't matter.

#### Describe the problem or feature request
In the snake-dqn example, during the `yarn train` or `yarn train --gpu` command, the following e

[2019-08-12 06:44] chuan92 commented on #1754
the link doesn't answer the question, tfjs_graph_model can't be converted to other formats in tfjs-converter

[2019-08-12 06:54] chuan92 opened #1808 "Support tfjs_graph_model --> keras_saved_model conversion"
There is no method to convert a tfjs_graph_model to tflite.

[2019-08-12 13:57] caisq commented on #1808
Can you let me know your detailed use case? Why do you need to convert a tfjs_graph_model to keras_saved_model?

[2019-08-12 15:22] rthadur commented on #1805
Hello, this sort of question is better suited for StackOverflow. This issues list is for bugs and feature requests. Thanks and please use the tag 'tensorflow.js' on your StackOverflow question to makes sure it's discoverable.

[2019-08-12 15:22] #1805 closed

[2019-08-12 15:24] yqtianust commented on #1805
OK. I think it is because I didn't enable webGL2 in chrome. Sorry for bothering.

[2019-08-12 15:26] rthadur commented on #1806
Hi Can you please open the issue using [template](https://github.com/tensorflow/tfjs/issues/new) so that we can better assist you  , thank you so much.

[2019-08-12 15:26] #1806 closed

[2019-08-12 17:23] #1005 closed

[2019-08-12 17:23] #1004 closed

[2019-08-12 17:25] kangyizhang commented on #1016
We'll not update the boston housing example because of potential fairness issues. Shanqing added another [example](https://github.com/tensorflow/tfjs-examples/tree/master/data-csv) using the tf.data.csv api.

[2019-08-12 17:25] #1016 closed

[2019-08-12 17:28] kangyizhang commented on #969
These ops will not work in current tfjs eager execution and the customer chose another model.

[2019-08-12 17:28] #969 closed

[2019-08-12 17:30] kangyizhang commented on #1003
The ops has been added. [tf.browser.fromPixels](https://js.tensorflow.org/api/latest/#browser.fromPixels) and [tf.node.decodeImage](https://js.tensorflow.org/api_node/1.2.6/#node.decodeImage)

[2019-08-12 17:30] #1003 closed

[2019-08-12 17:46] rthadur commented on #1748
@jkovacs-dev @stevenweaver sorry, that was eager closing , here is the [fix](https://github.com/tensorflow/tfjs-examples/pull/323) related to this issue.

[2019-08-12 17:53] rthadur commented on #1754
@chuan92 thank you , above link was for tf-graph_model not tfjs_graph_model.

[2019-08-12 18:35] rthadur commented on #1804
@msprengholz if your are interested in contributing here are the [guidelines](https://github.com/tensorflow/tfjs-layers/blob/master/CONTRIBUTING.md).

[2019-08-12 19:10] oveddan opened #1810 "feature request: example code for how to process a video frame by frame in tfjs-node"
For my use case, I want to read a video file, extract each frame as an image, and run each image through a `tfjs-node` model.  Right now to do this I end up using ffmpeg to convert a video into pngs, and store them on a file system.  Then I load each png one by one into tfjs-node using the nifty `tf.node.decodePng`, and feed that image through the model.

Is there a way to do this by piping the ou

[2019-08-12 19:34] nsthorat commented on #145
Closing this out for inactivity.

[2019-08-12 19:34] #145 closed

[2019-08-12 19:36] nsthorat commented on #130
Since there is no pressing need for this I'm going to close it out.

[2019-08-12 19:36] #130 closed

[2019-08-12 19:36] nsthorat commented on #453
We did this!

[2019-08-12 19:36] #453 closed

[2019-08-12 19:37] nsthorat commented on #508
This doesn't seem to be an issue anymore.

[2019-08-12 19:37] #508 closed

[2019-08-12 19:38] nsthorat commented on #551
I doubt we're going to do this since it's going to be very slow and we have solutions on most devices, especially with the WASM backend coming soon.

[2019-08-12 19:38] #551 closed

[2019-08-12 19:39] nsthorat commented on #842
Closing this out -- this isn't a TensorFlow.js issue but rather one with the PoseNet model itself.

[2019-08-12 19:39] #842 closed

[2019-08-12 19:45] supermoos opened #1811 "PoseNet 3d coordinates? z-coordinate?"
#### TensorFlow.js version
PoseNet 2.1.3
#### Browser version
Chrome 76
#### Describe the problem or feature request
Is there a way to get 3D pose-estimation, i.e. adding z coordinate to position output? Or is that outside the scope of PoseNet, or perhaps planned for future versions?

[2019-08-12 19:46] nsthorat commented on #668
This is fixed.

[2019-08-12 19:46] #668 closed

[2019-08-12 19:47] nsthorat commented on #796
We now have an official tfjs-wechat repo here: https://github.com/tensorflow/tfjs-wechat

[2019-08-12 19:47] #796 closed

[2019-08-12 19:47] nsthorat commented on #795
We have an official tfjs-wechat repo here: https://github.com/tensorflow/tfjs-wechat

[2019-08-12 19:47] #795 closed

[2019-08-12 19:47] nsthorat commented on #802
We have an official tfjs-wechat repo here: https://github.com/tensorflow/tfjs-wechat

[2019-08-12 19:47] #802 closed

[2019-08-12 19:48] nsthorat commented on #781
This is fixed, thanks @Lewuathe!

[2019-08-12 19:48] #781 closed

[2019-08-12 20:01] nsthorat commented on #887
we have tf.node.decodeImage now: https://js.tensorflow.org/api_node/1.2.6/#node.decodeImage

[2019-08-12 20:01] #887 closed

[2019-08-12 20:20] rthadur commented on #1811
@supermoos thank you , this is out of scope for posenet , no plans to work on this feature.

[2019-08-12 20:20] #1811 closed

[2019-08-12 21:00] rthadur commented on #1798
@rsaeta let us know if you were able to get resolve this ?

[2019-08-12 21:04] rsaeta commented on #1798
Yes I was able to resolve this, but still not quite sure of root cause. Can close if cannot reproduce as I cannot either.

[2019-08-12 21:21] tafsiri commented on #1798
Thanks for the update. I'm going to close this for now as the original issue cannot be reproduced.

[2019-08-12 21:21] #1798 closed

[2019-08-12 21:23] #1415 closed

[2019-08-13 01:24] chuan92 commented on #1808
@caisq I'm not familiar with javascript programming. The conversion is useful when I get an tfjs_graph_model and use it on tflite.

[2019-08-13 09:34] chirva-ivan commented on #1497
Hey, guys. Are there any updates on this issue?

[2019-08-13 13:55] dsmilkov commented on #1497
We just started by adding the framework (skeleton) code around it: https://github.com/tensorflow/tfjs-core/pull/1863 We will be slowly ramping up on this.

[2019-08-13 14:11] velociraptor111 commented on #1388
Is there a training script where we can run and try to improve the model with our own set of images?

[2019-08-13 14:53] #696 closed

[2019-08-13 14:58] dsmilkov commented on #1388
Unfortunately, the training script for PoseNet is not open-sourced. @tylerzhu-github for more details on that front.

[2019-08-13 15:04] velociraptor111 commented on #1388
Thank you for replying. Are there any plans in the future to perhaps make this part open-sourced? If not then I might try and replicate one myself.

Is Posenet solely based of "PersonLab: Person Pose Estimation and Instance Segmentation with a Bottom-Up,Part-Based, Geometric Embedding Model" or does it also have some implementation from "Towards Accurate Multi-person Pose Estimation in the Wild" ?

[2019-08-13 15:47] ydennisy commented on #353
Hello All,

Any idea why tree shaking as implemented by webpack does not work for `tfjs-core`?

Do you guys plan to support the mentioned use case of picking and choosing objects from the library?

`import { tensor2d } from '@tensorflow/tfjs-core';`

Thanks in advance!

[2019-08-13 17:56] kangyizhang commented on #1011
The boston housing example will not be updated with tf.data due to potential fairness issue. The demo example within tfjs-data has the similar train/validation/test loss as original example.

[2019-08-13 17:56] #1011 closed

[2019-08-13 17:56] #1113 closed

[2019-08-13 18:00] rthadur commented on #1514
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-08-13 18:00] #1514 closed

[2019-08-13 18:01] kangyizhang commented on #1395
[tfjs-core](https://github.com/tensorflow/tfjs/blob/81225adc2fcf6fcf633b4119e4b89a3bf55be824/tfjs-core/src/platforms/platform_browser.ts#L45) is also using TextDecoder.

@dsmilkov what do you think?

[2019-08-13 18:01] rthadur commented on #1485
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-08-13 18:01] #1485 closed

[2019-08-13 18:07] kangyizhang commented on #1473
Detailed version info has been added in the [readme file ](https://github.com/tensorflow/tfjs-node#installing)

[2019-08-13 18:07] #1473 closed

[2019-08-13 18:08] #1107 closed

[2019-08-13 18:11] kangyizhang commented on #1104
The latest tfjs-node does not require client side compiling anymore.

[2019-08-13 18:11] #1104 closed

[2019-08-13 18:12] kangyizhang commented on #1067
This should have been covered by the validation of row's item count in tf.data.

[2019-08-13 18:12] #1067 closed

[2019-08-13 19:33] bileschi opened #1818 "tf.data documentation does not print to output"
To get help from the community, we encourage using Stack Overflow and the [`tensorflow.js`](https://stackoverflow.com/questions/tagged/tensorflow.js) tag.

#### TensorFlow.js version
1.2.7

#### Browser version
Chrome 76.0.3809.100 (Official Build) (64-bit)

#### Describe the problem or feature request
Go to the documentation for tf.data.generator or tf.data.microphone and attempt to run the code.

[2019-08-13 20:46] kangyizhang commented on #1818
The code snippet of microphone is not printing anything at all. Sent https://github.com/tensorflow/tfjs-data/pull/210 to print the tensor. I have tested it prints in the output.

generator print things to console. Duplicate to https://github.com/tensorflow/tfjs/issues/1779

[2019-08-13 20:46] #1818 closed

[2019-08-13 21:32] hernanpatronc opened #1819 "Ignoring visible gpu device"
Hi! I am running tfjs in a container from an official image of tensorflow-gpu. It logs to the console the following message:
`Ignoring visible gpu device (device: 0, name: Tesla M60, pci bus id: 0000:00:1e.0, compute capability: 5.2) with Cuda compute capability 5.2. The minimum required Cuda capability is 6.0.`
The host is an aws vm with a Tesla M60. How can i compile tfjs to run with cuda capabi

[2019-08-13 21:41] rthadur commented on #1819
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow.fjs) since it is not a bug or feature request. There is also a larger community that reads questions there.

[2019-08-13 21:41] #1819 closed

[2019-08-13 21:46] pyu10055 opened #1820 "Support op TF.Roll"
Support TF op Roll which is defined here. https://www.tensorflow.org/api_docs/python/tf/roll

[2019-08-13 21:47] pyu10055 opened #1821 "Support Op TF.MatrixBandPart"
https://www.tensorflow.org/api_docs/cc/class/tensorflow/ops/matrix-band-part

[2019-08-13 21:56] kangyizhang commented on #1819
@hernanpatronc tensorflow has strict [version requirement](https://github.com/tensorflow/tfjs-node#installing) for GPU. You can try with the latest Docker or install the toolkit by yourself.

[2019-08-14 17:15] #22 closed

[2019-08-14 19:44] joe4dev opened #1830 "Fix tfjs-models/mobilenet 2.0.3 predictions / norm control"
#### TensorFlow.js version

`1.2.7` but this issue relates to `@tensorflow-models/mobilenet:2.0.3`

#### Browser version

independent: Google Chrome 76.0.3809.100 (Official Build) (64-bit) or NodeJS v10/v12

#### Describe the problem or feature request

The [MobileNet example](https://github.com/tensorflow/tfjs-models/tree/master/mobilenet#via-script-tag) and any code using `@tensorflow-models/mob

[2019-08-14 21:58] rthadur commented on #1830
@joe4dev thanks for reporting the issue , @nsthorat  i was able to reproduce the error , seems like a bug , can you please take a look.
cc @dsmilkov

[2019-08-15 17:39] caisq opened #1838 "Re-enable integration tests in tfjs-layers after monorepo move"
cc @nsthorat

[2019-08-16 12:35] oveddan opened #1844 "Possible reduction in accuracy with the PoseNet 2.0 Mobilenet vs PoseNet 1.0 Mobilenet models"
@joeyklee who is working on upgrading ml5 to use posenet 2.0 has noticed a potential reduction in accuracy when upgrading to 2.0 and using the same MobileNet model and output stride, even with input resolution of 513 (the highest).

See: https://github.com/ml5js/ml5-library/issues/510

It could have to do with #1681 - since in 2.0 the image is resized to be a square by adding padding, resolution i

[2019-08-16 12:41] oveddan commented on #1844
According to @joyeklee, resizing the input image to a square ahead of time fixed the accuracy issues:
https://github.com/ml5js/ml5-library/issues/510

So we should consider in posenet instead of resizing to a square, resizing using input resolution to the maximum largest dimension of the image.

[2019-08-16 12:45] joeyklee commented on #1844
Thanks @oveddan for noting this! Happy to provide feedback or test anything :)

[2019-08-16 15:17] ToonTalk opened #1846 "Update model.fit docs to indicate what the default params are"
https://github.com/tensorflow/tfjs-examples/blob/master/webcam-transfer-learning/index.js says

// Train the model! Model.fit() will **shuffle** xs & ys so we don't have to.
[code]
While the documentation for fit says only the following regarding shuffling:

Unless "shuffle" is true by default (which should be well-documented if somehow true) then comment on example code is incorrect.

[2019-08-16 17:07] rthadur commented on #1844
https://github.com/tensorflow/tfjs/issues/1830

[2019-08-16 19:11] kangyizhang commented on #1810
hi @oveddan

The ideal case would be for tfjs to provide an API to load local video file and return each frame as a Tensor, similar to tf.data.webcam. But there is no API doing this kind of work yet.

What you are doing right now is the right way to get tesnors from video file. Another way I can think of is to use [tf.data.generator](https://js.tensorflow.org/api/latest/#data.generator) to create

[2019-08-18 10:11] jungwook commented on #1476
running the exact same code.... I still get errors.... this time:

(node:18630) UnhandledPromiseRejectionWarning: Error: Duplicate weight name: rnn_RNN1/kernel
    at new ValueError (/Users/jungwook/Documents/Development/Tensor/node_modules/@tensorflow/tfjs-layers/dist/errors.js:68:28)
    at Sequential.Container.loadWeights (/Users/jungwook/Documents/Development/Tensor/node_modules/@tensorflow/tf

[2019-08-18 23:20] irealva opened #1850 "[tfjs-vis] Canvas height changes when plotting loss/accuracy with `show.fitCallbacks`"
To get help from the community, we encourage using Stack Overflow and the [`tensorflow.js`](https://stackoverflow.com/questions/tagged/tensorflow.js) tag.

#### TensorFlow.js version

@tensorflow/tfjs: 1.1.2
@tensorflow/tfjs-vis: 1.1.0

#### Browser version

Chrome Version 76.0.3809.100 (Official Build) (64-bit)

#### Describe the problem or feature request

When using `show.fitCallbacks` methods

[2019-08-19 15:02] ToonTalk opened #1857 "mobilenet.load documents an alpha config option with default 1.0 but error if not specified"
Error: MobileNet constructed with invalid alpha undefined. Valid multipliers for this version are: 0.50,0.75,1.00.

from

`mobilenet.load({version: 2})`

Despite https://github.com/tensorflow/tfjs-models/tree/master/mobilenet stating

Also error message doesn't mention of 0.25 (and lacks space after the commas)

`mobilenet.load({version: 2, alpha: 1})`

works fine.

[2019-08-19 15:08] ToonTalk commented on #1857
Version from loading

https://cdn.jsdelivr.net/npm/@tensorflow-models/mobilenet

[2019-08-19 15:58] caisq commented on #1773
@waveboo @shepherdj2 I'm looking into this issue now. So I noticed two things.

1. This is not directly related to the error you are getting, but should be fixed as well. Specifically, when you call the L2 regularizer in JavaScript, you should make sure you use `l2({l2: 0.0001)` instead of `l2(0.0001)`. The latter doesn't do what you want and it currently doesn't throw an error. We'll fix that so

[2019-08-19 18:34] dsmilkov commented on #1830
@bileschi, I can take this today, unless you are already working on it. Let me know.

[2019-08-19 18:40] dsmilkov commented on #1546
Now that we depend on TF 1.4 instead of 2.0, this is a lower priority

[2019-08-19 19:27] bileschi commented on #1844
Should be fixed by https://github.com/tensorflow/tfjs-models/pull/283 , once submitted.

[2019-08-19 19:30] bileschi commented on #1846
Agreed, this should be clearer:
https://github.com/tensorflow/tfjs/blob/master/tfjs-layers/src/engine/training_tensors.ts#L287

[2019-08-19 19:37] oveddan commented on #1844
@bileschi it will certainly be helped by that PR, but it would also be helped by resizing as close to match the original aspect ratio instead of adding pixels to match a square (and causing lost resolution along the shorter dimension).

[2019-08-19 20:11] dsmilkov commented on #1395
Hi @Kriyszig,

Since Edge is moving to Chromium, it will have built-in `TextDecoder`. We won't be baking polyfill into tf.data to keep the library size small and avoid extra code for browsers/platforms that do have it built-in.

You have two options:
1) (Recommended) Provide your own polyfill. E.g. see [`text-encoding`](https://github.com/inexorabletash/text-encoding) library
2) Provide your own p

[2019-08-19 20:11] #1395 closed

[2019-08-19 20:52] rthadur commented on #1476
@jungwook please open a new issue using the [template](https://github.com/tensorflow/tfjs/issues/new).

[2019-08-19 21:11] evancasey commented on #1736
@annxingyuan cool, I didn't know about the benchmarking page. Will use that in the future for issues like this.

[2019-08-19 21:11] #1736 closed

[2019-08-19 21:31] rthadur commented on #1773
@shepherdj2 @waveboo there is fix which is merged now , can you please verify once ?

[2019-08-19 21:33] oveddan opened #1864 "PoseNet models don't accept batch sizes greater than 1."
I'm writing some custom code that is to feed a batch of images into the PoseNet models for inference; in my case its a series of frames from long videos.  I would eventually  open a PR that supports this functionality.

However, when feeding a batch size of greater than one to both the MobileNet and ResNet models, you get an error:

A way to simply reproduce the error source is:

[code]

The above

[2019-08-19 23:17] caisq commented on #1773
@rthadur The PR that just got merge (#1861) fixes issue 1 mentioned above. Issue #2, which is more fundamental, hasn't been addressed yet, which is why this issue should be left open.

[2019-08-19 23:20] Leekao commented on #240
Still having problems with mobile chrome :/

[2019-08-19 23:32] rthadur commented on #1773
@caisq thank you will keep this open.

[2019-08-19 23:49] evancasey opened #1866 "Support op TF.unique"
It would be really great to have support for [tf.unique](https://www.tensorflow.org/api_docs/python/tf/unique).

This has been brought up by a number of [previous](https://github.com/tensorflow/tfjs/issues/958) [issues](https://github.com/tensorflow/tfjs/issues/1693) and in general it is a very common operation that many applications rely on.

[2019-08-19 23:54] evancasey opened #1867 "TF.cumsum operation is unreliable for large tensors"
### TensorFlow.js version
1.2.7

#### Browser version
Firefox/chrome

#### Describe the problem or feature request
tf.cumsum will return an incorrect answer and/or take a very long time to return if you pass it a tensor of more than a couple hundred thousand values.

#### Code to reproduce the bug / link to feature request
[code]

[2019-08-20 13:31] dsmilkov commented on #1555
Fixed in https://github.com/tensorflow/tfjs-core/pull/1721. Closing since there is a test in layers that catches this issue.

[2019-08-20 13:31] #1555 closed

[2019-08-20 20:22] bileschi commented on #1857
Mobilenet version 2.00 does not support alpha 0.25

0.25 is only for version 1.00

[2019-08-20 20:27] rthadur commented on #1857
Thank you @bileschi , @ToonTalk hope this answers your question.

[2019-08-21 00:19] jocca1985 commented on #1793
I removed manually all unused_control_flow_input records in model.json and it works.

[2019-08-21 01:23] jocca1985 opened #1875 "Optimize my model"
To get help from the community, we encourage using Stack Overflow and the [`tensorflow.js`](https://stackoverflow.com/questions/tagged/tensorflow.js) tag.

#### TensorFlow.js version
1.2.6
#### Browser version
Latest Chrome
#### Describe the problem or feature request
I managed to convert my custom model based on coco_ssd_lite_mobilenetv2. Currently inference take around 200ms comparing to 80ms fr

[2019-08-21 04:50] axinging commented on #1700
Hi, xing is willing to work on this.

[2019-08-21 10:18] ToonTalk commented on #1857
Thanks. But then the documentation at https://github.com/tensorflow/tfjs-models/tree/master/mobilenet should be updated.

[2019-08-21 11:55] annxingyuan commented on #1629
Fixed with https://github.com/tensorflow/tfjs/pull/1843

[2019-08-21 11:57] annxingyuan opened #1876 "Try new shader compiler build"
https://www.npmjs.com/package/@webgpu/glslang

new shader compiler build you can try out which is smaller (900k) (though not as small as it should be ultimately, we have a test build for graphics only that is 140k). JS interface changed but it's simpler than before so hopefully not too annoying

[2019-08-21 12:51] yqtianust commented on #411
Hi, may I know the root cause of this issue? Thanks.

[2019-08-21 18:01] rthadur commented on #1875
@jocca1985 we cannot comment unless we see your custom model ,moreover this sort of question is better suited for StackOverflow. This issues list is for bugs and feature requests. Thanks and please use the tag 'tensorflow.js' on your StackOverflow question to makes sure it's discoverable.

[2019-08-21 18:01] #1875 closed

[2019-08-21 18:11] rthadur commented on #1857
Thank you , updated documentation here in the [PR](https://github.com/tensorflow/tfjs-models/pull/284)

[2019-08-21 18:22] flesicek opened #1880 "Adanet automl in tfjs"
Hi,

Tensorflow Python have Adanet Automl capability for couple of months https://github.com/tensorflow/adanet

Is there a plan to migrate this Adanet capability into tfjs environment?
That would be fantastic !! 🤗

Note: Keep up fantastic work with tensorflow.

Thanks
Jozef

[2019-08-21 18:24] kangyizhang commented on #1390
This has been fixed.

[2019-08-21 18:24] #1390 closed

[2019-08-21 18:28] kangyizhang commented on #1589
With the latest tfjs-node/tfjs-node-gpu package, we are shipping pre-compile addon and there should be no compilation on your machine. This issue should have been fixed.

[2019-08-21 18:28] #1589 closed

[2019-08-21 18:28] kangyizhang commented on #1098
With the latest tfjs-node/tfjs-node-gpu package, we are shipping pre-compile addon and there should be no compilation on your machine. This issue should have been fixed.

[2019-08-21 18:28] #1098 closed

[2019-08-21 18:30] rthadur commented on #1880
not in the near future. cc @dsmilkov

[2019-08-21 18:49] rthadur commented on #1778
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-08-21 18:49] #1778 closed

[2019-08-21 18:49] rthadur commented on #1777
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-08-21 18:49] #1777 closed

[2019-08-21 18:54] #1744 closed

[2019-08-21 18:56] rthadur commented on #1739
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-08-21 18:56] #1739 closed

[2019-08-21 20:04] tafsiri commented on #1449
No longer an issue on latest tfjs.

[2019-08-21 20:04] #1449 closed

[2019-08-22 07:02] net2cn opened #1884 "Support Rank-6 Tile on WebGL backend."
#### TensorFlow.js version
1.2.7
#### Browser version
Google Chrome 76.0.3809.100 x64
#### Describe the problem or feature request
I'm trying to bring StyleGAN to the browser. I managed to convert Python model to tfjs model using the official converter. However, when I am trying to generate a figure using
`model.predict()`
I got the following error.
`tile_gpu.ts:49 Uncaught (in promise) Error: Til

[2019-08-22 10:59] sdll commented on #1616
Thanks! Resolved by https://github.com/tensorflow/tfjs-models/pull/216.

[2019-08-22 16:01] annxingyuan opened #1891 "Node backend doesn't support NCHW data format"
WebGL and CPU backends now support NCHW data format (https://github.com/tensorflow/tfjs/commit/9f5ec4708487cc166db91bafaa7abab68eddedf4) but TensorFlow does not.

[2019-08-22 17:00] sdll commented on #1577
A little update: DeepLab is now on its way to the official launch (see https://github.com/tensorflow/tfjs-models/pull/229).

[2019-08-22 17:25] rthadur commented on #1884
thank you we do not support higher rank tensors yet , it will be a feature request , thank you

[2019-08-22 17:34] dhrumil83 commented on #1577
Awesome. Thanks @sdll
Looking forward to the official launch.

Hoping to achieve this workflow in the browser:
If you have some imagery data and you want to extract spatial features from it, currently GIS analysts manually digitize the features on the map. e.g. Drawing an outline for a building or lake
What if you can click on a building or lake and it can detect and digitize it into features.

[2019-08-22 19:28] #1830 closed

[2019-08-22 20:08] rthadur commented on #1844
PR has been submitted , closing this

[2019-08-22 20:15] dsmilkov opened #1894 "Flaky dropout test in tfjs-layers"
Chrome 76.0.3809 (Mac OS X 10.13.6) Dropout Layer cpu undefined tensor training=true, dropoutRate=0.5, noiseShape=[2,3,1] FAILED
Expected 24 to be less than 24.

See logs: https://pantheon.corp.google.com/cloud-build/builds/1cd1f7aa-190b-44a7-8464-162106b4a737?project=learnjs-174218

Related to this PR: https://github.com/tensorflow/tfjs-layers/pull/556

[2019-08-22 20:18] oveddan commented on #1844
Hi @rthadur the PR certainly helps with accuracy, but doesn't address the cause of the accuracy issue that this PR was opened for.  See https://github.com/ml5js/ml5-library/issues/510

In the debugging of accuracy issues, @joeyklee discovered that resizing to a square fixed the accuracy issues; if PoseNet resizes to match the original image dimensions (as it did in v1), or can accept a width and h

[2019-08-23 00:32] y-ich opened #1897 "pip install tensorflowjs installs tensorflow 1.14.0 and fails to convert BatchMatMulV2."
To get help from the community, we encourage using Stack Overflow and the [`tensorflow.js`](https://stackoverflow.com/questions/tagged/tensorflow.js) tag.

#### TensorFlow.js version
tensorflowjs PYPI 1.2.6

#### Browser version

#### Describe the problem or feature request
pip install tensorflowjs installs tensorflow 1.14.0, which uses BatchMatMulV2 instead of BatchMatMul.
Since tensorflowjs does

[2019-08-23 02:50] rthadur commented on #1897
Cc @annxingyuan i think this is a big needs to be fixed.

[2019-08-23 06:32] aohan237 opened #1898 "tfjs-executeAsync exception with tensorflow object detect api-mask-rcnn"
i convert a tensorflow object detect api --mask rcnn model to tfjs.

when i load the model, and run model.

await model.executeAsync([tf.zeros([1, 800, 800, 3])]);

there is an exception:

location :
@tensorflow/tfjs/node_modules/@tensorflow/tfjs-core/dist/util.js:301:15

what's the problem and how to fix it

[2019-08-23 08:00] aohan237 commented on #1898
i found that the problem maybe the tfjs-converter --quantization_bytes .
when choose 1 the model will be raise these exception
when choose 2 will be good.

[2019-08-23 09:53] MichealJl opened #1900 "about bodyPix"
when I use bodyPix.toMaskImageData() function, throw a error : ImageData is not defined

[2019-08-23 10:41] #1900 closed

[2019-08-23 11:34] marsiancba commented on #1795
Here is quick implementation:

[code]

[2019-08-23 16:01] pyu10055 commented on #1898
@aohan237 can you share the saved model files or link to the model in order for us to reproduce? thanks!

[2019-08-23 16:23] pyu10055 commented on #1796
@blechatellier you should try out the coco-ssd model in tfjs-model repo, there are couple optimization done there especially in the post-process step.
My guess for the performance different between node.js and python is related to the post-processing. The post processing of coco-ssd contains many loops which use control flow ops, which will cause performance degrade in node.js due context switchin

[2019-08-23 17:19] #1894 closed

[2019-08-23 17:56] tafsiri commented on #1850
thanks for the reminder @irealva! Will take a look.

[2019-08-23 18:12] rthadur commented on #1866
@evancasey thank you , may i know your use case ?

[2019-08-23 18:29] thes3m opened #1903 "Tensorboard support for graphs and other features in NodeJS"
Currently Tensorboard for NodeJS only ouputs learning rate. Are there any plans to support more features than simple scalar values such as graphs, images and other features that Tensorboard supports.?

[2019-08-23 20:46] pyu10055 commented on #1897
@y-ich We added support for BatchMatMulV2 in recent releases, please install the latest version of tensorflowjs pip and try again. thanks.

[2019-08-23 20:47] evmar commented on #111
Idea: you could enable most of strict mode, and just disable the `--strictFunctionTypes` flag, to get the other benefits of strict mode (such a null checking, which is also needed to generate the proper Closure externs from this library).

[2019-08-23 21:05] dsmilkov commented on #111
That's good to know, thanks!

I think fundamentally the problem comes down to:

Why does a third-party typescript project care about the typescript settings of an external dependency?

I think that is fundamentally a typescript problem, and not a problem of the library. I'm happy to reopen this issue if we see a decent number of users that are affected by this limitation.

[2019-08-23 21:05] #111 closed

[2019-08-23 21:13] sdll commented on #1577
@dhrumil83, this is great! Sounds like you will need to fine-tune DeepLab and then convert the weights yourself. Have you tried that already?

[2019-08-23 21:49] nate1021 opened #1905 "[Codelab]: Making Predictions from 2D Data"
#### Describe the problem or feature request
Link to data file used in tutorial is dead.

https://storage.googleapis.com/tfjs-tutorials/carsData.json

[2019-08-23 22:33] evancasey commented on #1866
Hey @rthadur, I'm using tf.unique right now to do a type of one-hot encoding where I have an input vector with a discrete number of unique values but the values are scattered between [0,N] and N is potentially very large. I can't call tf.one_hot directly on this because I want the depth to be equal to the number of unique values.

[2019-08-23 22:49] evancasey opened #1906 "Status of nodegl backend"
Probably a question for @nkreeger. I'm really excited about using the nodegl backend for a production application. Can you share any more details on the roadmap/stability for this project? Are all the webgl ops supported?

Thanks!

[2019-08-23 23:11] rthadur commented on #1905
@nate1021 did you try using the code or browser ?

[2019-08-23 23:14] rthadur commented on #1866
@pyu10055 any plans to support TF.unique op ?

[2019-08-24 00:01] nate1021 commented on #1905
Oh, my bad. It was a "Access-Control-Allow-Origin exception". I just saw a request exception, doubled checked with the browser and saw another exception, so I assumed the link was dead and went to fetch the data off the repo. Thought I should notify you before moving on, sorry.

[2019-08-24 00:01] #1905 closed

[2019-08-24 02:29] y-ich commented on #1897
@pyu10055 san,

Thanks! I confirmed that it was resolved.
I am confused a little since the version of tensorflowjs in pypi  keeps 1.2.6.
Maybe, did updating tfjs (Javascript runtime) resolve the issue?

[2019-08-24 02:29] #1897 closed

[2019-08-24 04:41] jungwook opened #1908 "Cannot save then load LSTM layers model"
To get help from the community, we encourage using Stack Overflow and the [`tensorflow.js`](https://stackoverflow.com/questions/tagged/tensorflow.js) tag.

#### TensorFlow.js version
1.2.7

#### Browser version
N/A. using node

#### Describe the problem or feature request
Cannot load a saved model with LSTM layers.

#### Code to reproduce the bug / link to feature request

    const model = tf.seq

[2019-08-24 17:28] imaustink opened #1909 "[Codelab]: Making Predictions from 2D Data - Hosted Sample Data 404 (Not Found)"
To get help from the community, we encourage using Stack Overflow and the [`tensorflow.js`](https://stackoverflow.com/questions/tagged/tensorflow.js) tag.

#### TensorFlow.js version
N/A
#### Browser version
N/A
#### Describe the problem or feature request
URL for hosted sample data on first TFJS tutorial returns a 404: https://storage.googleapis.com/tfjs-tutorials/carsData.json
#### Code to repro

[2019-08-24 17:41] tvaamorim commented on #1909
Same Here =/

[code]

[2019-08-25 02:33] caisq opened #1911 "[examples] custom-layer examples errors out due to tf.browser.fromPixels()"
To get help from the community, we encourage using Stack Overflow and the [`tensorflow.js`](https://stackoverflow.com/questions/tagged/tensorflow.js) tag.

#### TensorFlow.js version
1.2.6, 1.2.7, 1.2.8 all show this issue.
Other versions not tested.

#### Browser version
Chrome Linux Version 76.0.3809.100 (Official Build) (64-bit)
Firefox Linux 60.8.0esr (64-bit)

#### Describe the problem or fea

[2019-08-25 11:14] eggerand13 opened #1912 "Issue running tfjs-node-gpu under Windows"
#### TensorFlow.js version
tfjs-node-gpu 1.2.7

#### Node version
v12.9.0

#### Describe the problem or feature request
When trying to run a file that only contains the following line:
`const tf = require('@tensorflow/tfjs-node-gpu');`

I will receive the following error:
[code]

I tried to find out why there is this strange "\\\?" prepended to the path but I couldn't really find out why it is hap

[2019-08-25 14:39] chenqing commented on #1912
The same issue in windows 10.
`Error: Cannot find module 'C:\Users\zx\work\escher-project\escher-util\node_modules\_@tensorflow_tfjs-node@1.2.8@@tensorflow\tfjs-node\lib\napi-v4\tfjs_binding.node'
    at Function.Module._resolveFilename (internal/modules/cjs/loader.js:636:15)
    at Function.Module._load (internal/modules/cjs/loader.js:562:25)
    at Module.require (internal/modules/cjs/loader.js:

[2019-08-25 14:43] nkreeger commented on #1906
@evancasey We're working on ironing out some of the WebGL code in tfjs-core to work better outside the browser. We'll be close to releasing this along with our REACT Native support since both require those internal changes.

I think our timeline is sometime this fall - September or October. We'd love to hear about your production use case :-)

[2019-08-25 14:46] nkreeger commented on #1903
Over to @caisq who can comment more on future TensorBoard support.

[2019-08-25 18:21] kangyizhang commented on #1912
@eggerand13 @chenqing I just updated the addon module for windows. Please try @tensorflow/tfjs-node @ 1.2.8.

[2019-08-25 18:53] eggerand13 commented on #1912
Thank you very much for your help. Could you point me in the right direction HOW I could get the version 1.2.8?
NPM doesn't know about ("No matching version found for @tensorflow/tfjs-node-gpu@^1.2.8") and I also see that the latest commit in tfjs-node is already 17 hours old and it's not about this issue. Also in your private fork of tfjs-node I don't see any updates.

I hope am not missing somet

[2019-08-25 19:03] botic opened #1914 "tf-node-gpu: "Unknown dtype: undefined", works with CPU-only tfjs-node"
#### TensorFlow.js version

1.2.7

#### Describe the problem or feature request

`fitDataset()` works fine with the CPU-only training, but fails with an error if I switch to the GPU-based import. I work with a deeplearning optimized VM with CUDA 10 provided by GCP. As far as I can tell something goes wrong in the layer creation where the dtype suddenly is `undefined` in node-gpu.

#### Code to rep

[2019-08-25 19:18] d3x0r commented on #1912
I had this same error.
I further went to bulid @tensorflow/tfjs-node-gyp using node-gyp configure
[code]

which I gues scomes form this part of binding.gyp

[code]

which gracking down 'binding.gyp module name.....' seems to be a problem with node-pre-gyp which doesn't appear to be a thing....

I saw the other notes, and the WINDOWS _TROUBLESHOOTING.md but really none of that applies, bulding othe

[2019-08-25 23:55] kangyizhang commented on #1912
@eggerand13 ah turns out we only published tfjs-node@1.2.8 but missed tfjs-node-gpu. I just published it. Please give it a try.

FYI we are hosting the pre compiled addon module in google cloud platform, so it's not a change in github.

[2019-08-25 23:58] kangyizhang commented on #1912
@d3x0r we switched to [node-pre-gyp](https://github.com/mapbox/node-pre-gyp) instead of node-gyp, that's why you are seeing the error. Please try tfjs-node-gpu @ 1.2.8 again.

FYI in future if you want to build the module by yourself, you can just run `yarn` or `npm install`, the install script (tfjs-node/scripts/install.js) will do all the work.

[2019-08-26 02:21] aohan237 commented on #1898
@pyu10055
https://github.com/tensorflow/models/blob/master/research/object_detection/g3doc/instance_segmentation.md

https://github.com/tensorflow/models/blob/master/research/object_detection/samples/configs/mask_rcnn_resnet50_atrous_coco.config

[2019-08-26 05:00] d3x0r commented on #1912
@kangyizhang  npm install iin...
myproject/node_modules/@tensorflow/tfjs-node-gpu
will then install everything in
myproject/node_modules/@tensorflow/
again in
myproject/node_modules/@tensorflow/tfjs-node-gpu/node_modules/@tensorflow/... including  tfjs-node-gpu again :)

npm install in an addon  is not a good idea :)

I was just doing npm update in an existing project that (almost)) worked with 1.

[2019-08-26 06:08] aohan237 opened #1916 "what is the tf.cond in tfjs?"
for python there is a tf.cond, what's alternative function in tfjs?

[2019-08-26 11:53] theunreal commented on #1909
Same. anyone has downloaded and can share this data?

[2019-08-26 13:31] caisq commented on #1916
@aohan237 In order for us to answer the question appropriately, can you tell us whether you are building model in TF.js directly, or importing models from Python to TF.js?

[2019-08-26 15:02] chenqing commented on #1912
https://storage.googleapis.com/tf-builds/pre-built-binary/napi-v4/1.2.8/tfjs_binding-v1.2.8-node-v64-win32-x64.tar.gz  404 now

[2019-08-26 17:33] eggerand13 commented on #1912
@kangyizhang Thank you for providing a new version and handling this issue. Unfortunately there was no change with the 1.2.8 version. I still receive the same error as in my initial question.

[2019-08-26 17:43] eggerand13 commented on #1912
@kangyizhang  Ohh I just realized that in my initial post I accidentially wrote tfjs-node instead of tfjs-node-gpu. I do import tfjs-node-gpu. It was just a copy-paste error when writing the issue post.
So no, unfortunately that is not the issue.

As you can see from the error, the module is actually loaded. It is in node_modules\@tensorflow\tfjs-node-gpu\dist\index.js:44 that the error appears. I

[2019-08-26 21:25] botic commented on #1914
Thanks, it's working with 1.2.8 now.

[2019-08-26 21:25] #1914 closed

[2019-08-27 02:24] aohan237 commented on #1916
import models from python.

but some of the postprogess have to be done in tfjs, just want to transfer python code to tfjs .

so this is the reason why i have to do this.

[2019-08-27 02:49] ckybit opened #1919 "webgl precision !!"
in the offical document ,it says webgl only support fp16 storage.
but i want to know ,  when the model do the computation , it use fp16 or fp32 ? thks !

[2019-08-27 02:54] aohan237 commented on #1916
- about import model.  for example ,i convert a tensorflow object detection-mask rcnn model. the output of the mask have to be done with some post processing, which require the input image width and heigth. so it cant be done with model coverting.

thanks for your advice~

[2019-08-27 07:34] aohan237 opened #1920 "how to transfer tensor to image in node js?"
there is a tf.fromPixels ,but how to inverse transfer the tensor to image?

searched a lot ,but found not solution.

thanks in advance

[2019-08-27 10:54] moketao commented on #1909
Same Here =/
Jump frome this url:
https://codelabs.developers.google.com/codelabs/tfjs-training-regression/index.html

[2019-08-27 17:30] neumartin opened #1926 "Using OpenCL with Intel GPU"
Hi,

I compiled TF with OpenCL support ande replace the lib in node_modules/@tensorflow/tfjs-node-gpu/deps and imported @tensorflow/tfjs-node-gpu in my js.
But when I run I get:

[code]

How can I enable OpenCL?
Thanks!

[2019-08-27 17:49] sdll commented on #1684
Thanks everyone for the suggestions. Since the GSoC 2019 run came to the end, I have added the final report to the issue and updated the status of each port. Let me know if you have any other ideas on porting text detection/text recognition or would like to work on other models.

[2019-08-27 17:49] #1684 closed

[2019-08-27 22:02] jungwook commented on #1476
Still not working

[2019-08-27 22:04] jungwook commented on #1908
Still not working. I’m using the latest version of tfjs but same error persists

[2019-08-28 01:04] Arturbarth opened #1931 "gyp ERR! configure error gyp ERR! stack Error: Command failed"
To get help from the community, we encourage using Stack Overflow and the [`tensorflow.js`](https://stackoverflow.com/questions/tagged/tensorflow.js) tag.

#### TensorFlow.js version
1.2.8

#### Browser version
Firefox/chrome

#### Describe the problem or feature request
Cant install tfjs-node with this error

PS C:\Connect\Teste01> npm install @tensorflow/tfjs-node

CPU-windows-1.2.8.zip
* Downlo

[2019-08-28 01:22] #1931 closed, assigned to nobody

[2019-08-28 02:30] aohan237 commented on #1920
thanks~

[2019-08-28 05:44] eggerand13 commented on #1912
@Arturbarth Do you mean using those two installs BEFORE/AFTER using the @tensorflow/tfjs-node-gpu install? Because those two alone will not install tfjs-node-gpu module which this issue here is all about.

I tried using the two installs you proposed BEFORE the @tensorflow/tfjs-node-gpu install which unfortunately did not help.

[2019-08-28 06:40] theunreal opened #1932 "Bad link - NoSuchKey"
TensorFlow.js version
N/A

Browser version
N/A

Describe the problem or feature request
URL for hosted sample data on first TFJS tutorial returns NoSuchKey.
Link provided here: https://codelabs.developers.google.com/codelabs/tfjs-training-classfication/index.html#1

[code]

Code to reproduce the bug / link to feature request
https://storage.googleapis.com/tfjs-tutorials/mnist_data.js

[2019-08-28 07:12] MetaPeak opened #1933 "How to set output nodes' name in new version of tensorflowjs-converter?"

[2019-08-28 07:53] #1933 closed

[2019-08-28 07:55] MetaPeak commented on #1933
I found in https://github.com/tensorflow/tfjs/tree/master/tfjs-converter FQA, you give tool to convert old tfjs pb to new json files. Thank you very much.

[2019-08-28 19:53] manueldois opened #1936 "tf.Conv2D on WebGL unreliable for large inputs"
#### TensorFlow.js version
1.2.8

#### Browser version
Brave. Version 0.67.123 Chromium: 76.0.3809.87 (Official Build) (64-bit)

#### Describe the problem or feature request
tf.Conv2D, when used on a WebGL backend, sometimes returns a seemingly random output when the input image tensor is large ( > 200 )

I am using TF to run Conway's Game of Life.
The world is an int32 tensor where 0 is a dead ce

[2019-08-28 20:27] Sir-hennihau opened #1937 "Why use tensor2d over tensor1d in the getting-started example?"
#### Describe the problem or feature request
I don't understand why the example used the tensor2d() instead of a tensor1d(). Are there any benefits to that in this example?

#### Code to reproduce the bug / link to feature request

https://github.com/tensorflow/tfjs-examples/blob/master/getting-started/index.js
[code]

vs

[code]

Full example code:

[code]

[2019-08-29 06:32] plat2eau opened #1940 "Accuracy reduced when predicting from model trained by ML5"
tfjs 1.0.0

Google Chrome | 76.0.3809.132 (Official Build) (64-bit) (cohort: 76_132_win)

I was using ML5 to train models for image classification in my project. I used the Feature Extractor for transfer learning. I was using mobilenet_v1_0.25 as a base model. I wanted to integrate it such that it performs predictions from chrome extension. I had to use tfjs because I found that ML5 does not run f

[2019-08-29 07:22] qzcsgs opened #1941 "How to support Mirrorpad when transforming frozen model of tensorflowjs_converter"
command: tensorflowjs_converter --input_format=tf_frozen_model --output_node_names='MobilenetV1/Predictions/Reshape_1' /mobilenet/frozen_model.pb /mobilenet/web_model

result: ValueError: Unsupported Ops in the model before optimization
MirrorPad

[2019-08-29 11:40] Polarisation opened #1942 "tf.memory() does not return reasons"
#### TensorFlow.js version
1.2.7

#### Browser version
Firefox 68
#### Describe the problem or feature request
The documentation for tf.memory() states that it will return `reasons` when `unreliable: true`. However it does not do so (at least with the `cpu` backend).

#### Code to reproduce the bug / link to feature request

[code]

The response is: `{ unreliable: true, numTensors: 0, numDataBuffe

[2019-08-29 13:52] Gautamshahi opened #1943 "flatten_1_input to have shape [null,7,7,512] but got array with shape [1,224,224,3"
Hello,

I am writing to use the concept and the code mentioned at https://tinyurl.com/y7ehja7h for my data, data is of binary class after loading the image, when I click on the predict, I get the error, Uncaught (in promise) Error: Error when checking: expected tfjs@0.13.5.2 flatten_1_input to have shape [null,7,7,512] but got array with shape [1,224,224,3].

Can you please help me to solve this i

[2019-08-29 14:18] rthadur commented on #1940
Hello, this sort of question is better suited for StackOverflow. This issues list is for bugs and feature requests. Thanks and please use the tag 'tensorflow.js' on your StackOverflow question to makes sure it's discoverable. Please use latest version of TFJS to get better results.

[2019-08-29 14:18] #1940 closed

[2019-08-29 14:37] rthadur commented on #1941
this is a feature request and there is already issue opened here to track it , please check [here](https://github.com/tensorflow/tfjs/issues/1775) , will be closing this so that we can track it at one place , thank you

[2019-08-29 14:37] #1941 closed

[2019-08-29 14:38] rthadur commented on #1775
Hi @pyu10055 any plans to support MirrorPad ?

[2019-08-29 14:51] rthadur commented on #1942
Hi it is showing reasons here please check below image
![image](https://user-images.githubusercontent.com/43972606/63950757-706e5d00-ca31-11e9-862c-5099e9c82d72.png)
please try with latest tfjs verion , i will keep this issue open for a day if this issue still persists , please comment here

[2019-08-29 14:54] rthadur commented on #1943
Hello, this sort of question is better suited for StackOverflow. This issues list is for bugs and feature requests. Thanks and please use the tag 'tensorflow.js' on your StackOverflow question to makes sure it's discoverable.

[2019-08-29 14:54] #1943 closed

[2019-08-29 15:34] tafsiri commented on #1940
@plat2eau When you say the prediction accuracy is low in tfjs, are you referring to the Mobilenet model or the custom model you have on top of that? If you are getting different results for the same mobilenet model, could you make a minimal hosted example (on something like codepen or glitch) that shows different predictions between ML5 and tfjs?

If its the latter then I agree that this is probab

[2019-08-29 15:35] #1937 closed

[2019-08-29 15:38] tafsiri commented on #1926
We don't have any explicit support for OpenCL so won't be able to help with this. You could try stackoverflow for any tips on using it with OpenCL.

[2019-08-29 15:38] #1926 closed

[2019-08-29 15:38] #1932 closed

[2019-08-29 16:42] Polarisation commented on #1942
Sorry, I did use an older version by mistake here. It's working fine with latest version so closing

[2019-08-29 16:42] #1942 closed

[2019-08-29 17:16] tafsiri commented on #1919
@ckybit I've updated the guide in this PR https://github.com/tensorflow/tfjs-website/pull/329 to describe how to check for fp32 support. It should make its way to the published website shortly. In brief you can use `tf.ENV.getBool('WEBGL_RENDER_FLOAT32_CAPABLE')` and `tf.ENV.getBool('WEBGL_RENDER_FLOAT32_ENABLED')` to check for fp32 support (the latter indicates that tfjs is using fp32). If differ

[2019-08-29 19:44] bileschi commented on #1911
Can reproduce.

[2019-08-29 20:56] heitorrubira commented on #1908
Hey guys, hope to contribute a little as well!

Version: `"@tensorflow/tfjs-node": "^1.2.8"`
Error:
[code]

[2019-08-30 03:19] qzcsgs commented on #1775
Hi @pyu10055 any plans to support MirrorPad ?

[2019-08-30 03:36] qzcsgs opened #1945 "Frozen Model conversion issues"
When converting Frozen Model, a pb file and a JSON file and a group1-shard1of1 file will be generated. Is this normal?

The format in the JSON file is like this
[code]

tensorflowjs 0.8.6

[2019-08-30 09:26] qzcsgs commented on #1775
Hi @pyu10055 any plans to support MirrorPad ?

[2019-08-30 14:12] tafsiri commented on #1846
I'm going to re-open this and rename it to updating the docs for fit to indicate what the default parameters are for model.fit.

What do you think @bileschi @caisq? Would you be able to take this on?

[2019-08-30 14:16] tafsiri commented on #1945
Yes that is expected given that version of TensorFlow.js you are using. Newer versions do not produce the pb file.

[2019-08-30 14:16] #1945 closed

[2019-08-30 14:27] caisq commented on #1846
`shuffle` is `true`by default for `tf.LayersModel.fit()`, which is consistent with Python Keras

See: https://github.com/tensorflow/tfjs/blob/master/tfjs-layers/src/engine/training_tensors.ts#L285

I'll update the doc string.

[2019-08-30 15:46] tafsiri opened #1948 "tfjs-react-native alpha release"
Hello TensorFlow.js community,

We are very excited to announce something we have been working on and invite you to try it out and give us feedback!

We have just released an **alpha version of TensorFlow.js for React Native**. This brings all tensorflow.js capabilities to native apps writing in react native. You can install the [package from npm](https://www.npmjs.com/package/@tensorflow/tfjs-rea

[2019-08-30 17:59] rthadur commented on #1864
CC @tylerzhu-github gentle ping to check this error.

[2019-08-30 18:01] rthadur commented on #1880
Closing this issue as this will not included in near future , but contributions are welcome as a separate library. Thank you

[2019-08-30 18:01] #1880 closed

[2019-08-30 18:13] tafsiri commented on #1936
Hi @manueldois, thanks for the live reproduction. I wasn't able to get the result you describe on my machine though (also running linux, tried in Chrome and Firefox).

Here is the link to the version i made https://codesandbox.io/s/tensorflow-conv2dtest-l4jw1

I edited yours to just focus on the '300' case which you were having issues with. I added a block of code to check the difference between t

[2019-08-30 18:28] rthadur commented on #1936
@tafsiri i got the same result in both chrome and Firefox with output zero.

[2019-08-30 18:30] tylerzhu-github commented on #1864
Thanks for the reminder!
Yes that will require exporting a model that support batch size > 1.
Will handle that in the next release, timeline would be end of next quarter.

[2019-08-30 19:05] tafsiri commented on #1936
@rthadur any chance you could try in brave? It shouldn't be different but would be good to know.

[2019-08-30 19:50] oveddan opened #1950 "Is there a way to switch between tfjs-node and tfjs-node-gpu?"
I'm working with a solution that when I develop I want to run on my mac, and use straight up tfjs-node since I don't have cuda installed.  When deploying to production I want to switch to use tfjs-node-gpu as cuda is available on the production machine.

Is there a way to dynamically enable cuda gpu support from within the code?  If so it would be great if example code or documentation exists for

[2019-08-30 19:51] manueldois commented on #1936
Thank you both! It's best to fight a bug together!

Apparently the bug depends on the machine. I ran tafsiri's code on my laptop and phone:

[code]

I tried to dig some info about the driver on my laptop and got the output below.
I don't know how to do the same on my phone. (Could Termux help?)
Let me know of any extra info you need about my hardware.

[laptop-graphics-info.txt](https://github.com

[2019-08-30 20:06] kangyizhang commented on #1950
hi @oveddan tfjs-node and tfjs-node-gpu are using different TensorFlow C library (libtensorflow). During installation, they would download libtensorflow from different source and use different node addon module, so a JS function can not achieve it.

I would recommend you to add some commend into your deploy script if you have one, or add a new script to replace tfjs-node with tfjs-node-gpu in your

[2019-08-30 20:06] #1950 closed

[2019-08-30 20:32] tafsiri commented on #1950
@oveddan one pattern that we use is to have both libraries in package.json and do a dynamic require. e.g. https://github.com/tensorflow/tfjs-examples/blob/b3b28a3d55625e199c3e9ff04fdf5d9ee3e12635/intent-classifier/training/train_tagger.js#L256

[2019-08-30 20:42] tafsiri commented on #1936
@manueldois Screenshotting the output you get on both machines from https://js.tensorflow.org/debug/ and pasting it here might be helpful.

[2019-08-30 20:55] rthadur commented on #1936
@tafsiri i will try on my personal mac and will let you know.

[2019-08-30 22:05] msj121 commented on #952
@bryan-14four Followed your instruction, I even got:

But still when I do "cordova run android" I get the same error as before:

I appreciate any help or advice you can offer because I would greatly appreciate anything. Been stuck on this for a while now. tf-core.esm.js did look correct after patch. Am I missing something, can I just run "cordova run android" or do I need to do something first? I

[2019-08-30 23:09] manueldois commented on #1936
On mobile.
On the laptop later

![Screenshot_20190831-000748_Brave](https://user-images.githubusercontent.com/37387843/64055292-7ffdbb00-cb83-11e9-9e5e-bab313e0a2de.jpg)

[2019-08-31 13:05] oveddan commented on #1950
Thanks @tafsiri and @kangyizhang

@tafsiri Is there a way to do your example but with typescript typings?  I think that with require it's not possible.

@kangyizhang thanks for that suggestion - it's slightly hacky but seems like the easiest way.

[2019-08-31 13:08] oveddan opened #1951 "Feature request: being able to specify the GPU to use when loading a model with tfjs-node-gpu"
I have a situation where I'm processing thousands of images for inference using tfjs-node-gpu.  It would be great if, lets say I have multiple gpus, I can evenly distribute the images to send to the multiple gpus, by specifying which gpu to use when loading a model.  Is this possible to do currently with tfjs-node-gpu, and if so can there be an example shown somewhere?

[2019-09-01 19:24] caisq commented on #1951
@oveddan tfjs-node-gpu uses libtenorflow-gpu under the hood, which in turn recognizes the CUDA_VISIBLE_DEVICES system environment variable. You can use the env var to specify which GPU is to be used by tfjs-node-gpu, e.g., `export CUDA_VISIBLE_DEVICES=2` selects the 3rd GPU on a machine with >=3 CUDA GPUs.

[2019-09-02 03:21] caisq opened #1955 "Set up bazel build for tfjs-converter Python code on Cloud Build"
Currently our Cloud Build test infra for the Python code in tfjs-converters doesn't run the tests using the bazel BUILD files. This doesn't guard the BUILD files against breakages by external PRs.

There should be a new Cloud Build step that
1. Installs the correct version of bazel
2. Calls: `cd tfjs-converter/python && bazel test tensorflowjs/...`

[2019-09-02 03:22] qzcsgs commented on #1945
So how to use them?

[2019-09-02 03:23] qzcsgs commented on #1945
@tafsiri So how to use them?

[2019-09-02 03:56] caisq commented on #1951
I'll close the issue now. If my answer above doesn't address your question, please feel free to comment or re-open this issue. @oveddan

[2019-09-02 03:56] #1951 closed

[2019-09-02 04:36] patheros commented on #1912
I still get the above error when I use version 1.2.7
I get a very similar error when I use version 1.2.6
Is there another workaround?

[2019-09-02 05:53] qzcsgs commented on #1775
@rthadur How to replace MirrorPad in the generated model with other pad

[2019-09-02 09:31] Mrpatekful opened #1957 "Invalid axis param value in graphmodel"
#### TensorFlow.js version

"format": "graph-model", "generatedBy": "2.0.0-rc0", "convertedBy": "TensorFlow.js Converter v1.2.6"

#### Browser version

Google chrome 74.0.3729.108-1

#### Describe the problem or feature request

I have trained a simple embedding model in Python, but when I try to use it in tfjs, it raises an error.

Error: All values in axis param must be in range [-2, 2) but got

[2019-09-02 10:14] TomLuna commented on #1775
Any progress on this issue? We have a model for image processing, MirrorPad handles the borders pretty good so we can't replace it with other pads or work arounds easily as #936.

[2019-09-02 21:33] Gautamshahi commented on #1943
@rthadur I will already post it at the StackOverflow, there was no response there, then I posted here, I have already seen similar questions here, it will be a kind help if you provide a solution or suggestion for it.

[2019-09-02 23:18] bionicles commented on #254
Hi, we use custom layers and “add loss” extensively and would like to switch from python to JavaScript. Can we save JavaScript models with custom layers?

[2019-09-02 23:20] bionicles commented on #674
Please!

[2019-09-03 01:40] caisq commented on #674
@bionicles Thanks for the feedback. Note that we already have at least two examples of serializable custom layers in the tfjs-examples repo:

1. In the `date-conversion-attention` example: https://github.com/tensorflow/tfjs-examples/blob/master/date-conversion-attention/model.js#L25. This example includes a custom layer called `GetLastTimestepLayer` that is saved with the its containing model and

[2019-09-03 03:28] caisq opened #1958 "Implement Dense Attention Layers in tfjs-layers"
#### TensorFlow.js version
1.2.8

#### Describe the problem or feature request
Implement the equivalent of [tf.keras.layers.Attention](https://www.tensorflow.org/api_docs/python/tf/keras/layers/Attention), with support for inference, training and (de)serialization. It's important for transformer / BERT related applications at the layers level.

[2019-09-03 07:35] pyu10055 commented on #1945
To converter a frozen model and be compatible with the latest tfjs version,
use the following steps:

7. I have a model formatted as a Session bundle or Frozen model. How do I
convert it to TensorFlow.js?

You can install a previous version of TensorFlow.js in a virtual
environment to convert the model to the JSON format. Here is how you can
achieve this.

   - Set up the virtual environment:

vir

[2019-09-03 09:46] #1671 closed

[2019-09-03 17:55] tafsiri commented on #1950
@oveddan not sure what you mean. In our node scripts we often just use requires and I believe we still get typings support in vscode. But I may be misunderstanding your question? Also in these examples you can still `import * as tf from @tensorflow/tfjs` you just also do a dynamic require after that to enable the bindings.

[2019-09-03 17:57] oveddan commented on #1864
@tylerzhu-github thanks!  Does this require re-training the model or just a modification to how the model is saved?

[2019-09-03 18:00] rthadur commented on #1582
@RELNO please let us know if this is resolved , else I'll close this in next few days , thank you.

[2019-09-03 19:29] tafsiri commented on #1729
cc @nsthorat @dsmilkov, this might be a breaking change for a future major version bump. Looks like in tf 1.15 and upcoming tf 2 resizeBilinear behavior changed. It also got an extra param `half_pixel_centers` to enable the current behavior. Thoughts?

[2019-09-03 19:30] tafsiri commented on #1729
Looking at the [CL],(https://github.com/tensorflow/tensorflow/commit/3ae2c6691b7c6e0986d97b150c9283e5cc52c15f#diff-407d7e10c377317d68cf4657fdd8086b) resizeNearestNeighbor is in the same bucket.

[2019-09-03 19:42] FaithfulZhening commented on #1729
I made some [temporary changes](https://github.com/FaithfulZhening/tfjs-core/commit/4118acd86bbf6a660ce5dc0c9f0bd7c71dbcfb25) to fix it in my project, which follows the fix in [TF](https://github.com/tensorflow/tensorflow/commit/3ae2c6691b7c6e0986d97b150c9283e5cc52c15f#diff-407d7e10c377317d68cf4657fdd8086b).

[2019-09-03 19:52] rthadur commented on #1957
@dsmilkov tried to reproduce the error but getting a different error when i tried in the [website](https://js.tensorflow.org/api/latest/#loadGraphModel) with above converted model , can you please assist.

[2019-09-03 20:02] rthadur commented on #1775
@pyu10055 gentle ping ,
CC @kangyizhang

[2019-09-03 20:19] rthadur commented on #254
@bionicles yes you can use and also there is a detailed explanation from @caisq [here](https://github.com/tensorflow/tfjs/issues/674)  , will be closing this and track the same in #674.

[2019-09-03 20:19] #254 closed

[2019-09-03 20:29] RELNO commented on #1582
@rthadur I could not reproduce this again, so probably fixed. Thanks!

[2019-09-03 20:44] rthadur commented on #1582
Thank you, closing this issue.

[2019-09-03 20:44] #1582 closed

[2019-09-03 20:49] lewisf commented on #1466
Is this fixed? Looks like this was merged into newer versions?

[2019-09-03 21:11] rthadur commented on #1466
this is fixed and code is there in the new releases, thank you all.

[2019-09-03 21:11] #1466 closed

[2019-09-03 21:16] lewisf commented on #952
Is there any reason why this patch hasn't become a pull request upstream? Wondering if there are next steps for `tfjs` as a whole rather than locally patching.

[2019-09-03 21:40] Mrpatekful commented on #1957
Strangely the error has disappeared.

[code]
Output:
[code]

I don't realy now the cause of the issue, but it is now working well.

[2019-09-03 21:41] #1957 closed

[2019-09-03 23:12] rohanmuplara commented on #1174
Sorry for the very late reply. I didn't need to test my project without safari but it is still not working and now I need it. This is what happens when I use it on safari but it works fine on chrome.  https://drive.google.com/file/d/1YCni_rY2zmmL0hkOJAx09_cdeKR-0Ri9/view. Version 12.1.1 (14607.2.6.1.1) of safari.  mac 10.14.5  I don't particularly care about this game but I see the same issue in o

[2019-09-04 06:04] curiousily commented on #1948
Awesome to see this project going! What is the status of supporting the latest RN 0.60/0.61versions? Where do you guys need help?

[2019-09-04 06:10] Neuroforge opened #1967 "Loading a Converted TensorFlow Model"
To get help from the community, we encourage using Stack Overflow and the [`tensorflow.js`](https://stackoverflow.com/questions/tagged/tensorflow.js) tag.

#### TensorFlow.js version
1.2.6

#### Describe the problem or feature request

A converted model appears to not work correctly. The mean value from the TensorMap appears to be 0 and has a shape of [0], despite the input being [1,96,192,3]. In

[2019-09-04 15:35] annxingyuan opened #1969 "Missing op: MatrixBandPart"
Reference from TensorFlow: https://www.tensorflow.org/api_docs/cc/class/tensorflow/ops/matrix-band-part

This op is used by the [Music Transformer model](https://colab.sandbox.google.com/drive/1h2s1xkrVEm2MXPEdISfrhtBZrNZq9iNZ#scrollTo=PBngSJvP_En7&forceEdit=true&offline=true&sandboxMode=true).

[2019-09-04 15:36] annxingyuan opened #1970 "Missing op: Multinomial"
Reference from TensorFlow: https://www.tensorflow.org/api_docs/cc/class/tensorflow/ops/multinomial

This op is used by the [Music Transformer model](https://colab.sandbox.google.com/drive/1h2s1xkrVEm2MXPEdISfrhtBZrNZq9iNZ#scrollTo=PBngSJvP_En7&forceEdit=true&offline=true&sandboxMode=true).

[2019-09-04 15:54] tafsiri commented on #1948
@curiousily, Thanks for checking it out! I think the biggest blocker to RN 0.60 support is expo/expo-gl supporting RN 0.60. I believe expo is planning on supporting it in future releases so I imagine that will smooth out eventually. In terms of help, testing it out and seeing if there are any weaknesses/holes in terms of functionality would be great.

One thing I've been wondering about is how fol

[2019-09-04 16:04] ToonTalk opened #1972 "Turning off debug mode (tf.enableProdMode doesn't work) nothing documented for disabling debug mode"
## TensorFlow.js version
1.2.6

#### Browser version
Version 76.0.3809.132 (Official Build) (64-bit)
#### Describe the problem or feature request
After doing tests with `tf.enableDebugMode() `I tried to turn it off as follows
[code]
It continued to spit out trace information.
How can one disable debug mode?

[2019-09-04 17:47] kangyizhang commented on #1972
hi @ToonTalk , `enableProdMode` does not turn off debug mode. You can import `ENV` from tf and run `ENV.set('DEBUG', false);` to turn off debug mode.

Please let us know if it works for you.

[2019-09-04 18:05] ToonTalk commented on #1972
Thanks.

I'm loading tfjs as a  script element on a web page.

`<script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs"> </script>`

It is not clear how to load ENV.

[2019-09-04 18:13] kangyizhang commented on #1972
You should be able to get it through `tf.ENV`.

[2019-09-04 18:24] ToonTalk commented on #1972
Works fine, thanks. It would be good if this was documented at https://js.tensorflow.org/api/latest/

[2019-09-04 18:42] kangyizhang commented on #1972
Glad to hear it works. Editing ENV is not encouraged and that's why it's not documented.

[2019-09-04 18:42] #1972 closed

[2019-09-04 18:58] tafsiri commented on #192
@tangtai We just released a package for this! https://www.npmjs.com/package/@tensorflow/tfjs-react-native

[2019-09-04 18:59] tafsiri commented on #266
We just released a package for this! https://www.npmjs.com/package/@tensorflow/tfjs-react-native try it out and feel free to re-open this issues if you have trouble with it.

[2019-09-04 18:59] #266 closed

[2019-09-04 18:59] tafsiri commented on #667
We just released a package for this! https://www.npmjs.com/package/@tensorflow/tfjs-react-native

[2019-09-04 19:00] tafsiri commented on #1682
@pejoujarrar we just released a package for this. Try it and let us know if it works, https://www.npmjs.com/package/@tensorflow/tfjs-react-native

[2019-09-05 00:48] Lewuathe commented on #1970
[`multinomial`](https://js.tensorflow.org/api/latest/#multinomial) op seems to already exist in TensorFlow.js. Is this different from what you are talking about?

[2019-09-05 01:37] Neuroforge commented on #1967
Ok. This has been solved. After speaking to the creator of the model, it appears that the model was created in Keras and converted to a Tensorflow SavedModel.  The follow up conversion to TensorflowJS did not work.

However, converting to TensorflowJS from the original Keras models seems to work fine.

[2019-09-05 01:37] #1967 closed

[2019-09-05 02:17] prouast commented on #767
@dsmilkov, @nsthorat: I just ran into the same issue originally reported here when trying to input a rank 5 tensor into `model.predict()`:

`Error: sliceAlongFirstAxis() received an unsupported tensor rank: 5`

The error occurs in [tfjs_backend.ts](https://github.com/tensorflow/tfjs/blob/master/tfjs-layers/src/backend/tfjs_backend.ts), where `sliceAlongFirstAxis()` still does not support tensor ra

[2019-09-05 04:44] pejoujarrar commented on #1682
@tafsiri , I would like to thank you for the release!

Unfortunately the speechCommands model from

still can't be loaded , the method

is generating the following error message:

![error](https://user-images.githubusercontent.com/49135588/64312467-ffa3e380-cfe2-11e9-9dee-542e18c0d64b.png)

This same instruction is working fine in the react.js version.

[2019-09-05 10:35] thirukumars opened #1975 "s.setPlatform is not a function"
To get help from the community, we encourage using Stack Overflow and the [`tensorflow.js`](https://stackoverflow.com/questions/tagged/tensorflow.js) tag.

#### TensorFlow.js version

#### Browser version

#### Describe the problem or feature request

#### Code to reproduce the bug / link to feature request
If you would like to get help from the community, we encourage using Stack Overflow and the

[2019-09-05 10:37] thirukumars commented on #1975
while merging face-api and ml5.js i am getting the Uncaught TypeError: s.setPlatform is not a function
at tf-core.esm.js:17
    at face-api.js:4
    at face-api.js:5

[2019-09-05 13:23] ToonTalk opened #1976 "compile does not accept loss strings as documented"
#### TensorFlow.js version
1.2.8

#### Browser version
Version 76.0.3809.132 (Official Build) (64-bit)

#### Describe the problem or feature request
`model.compile({loss: 'logLoss', optimizer: 'sgd'}); // produces error: Unknown loss logLoss`
while
`model.compile({loss: tf.losses.logLoss, optimizer: 'sgd'}); // works fine`

While documentation says
loss (string|string[]|{[outputName: string]: stri

[2019-09-05 16:53] rthadur commented on #1970
this op was included few days back in #1918

[2019-09-05 16:59] rthadur commented on #767
@prouast please open a new issue using template and reference this issue , we will be able to help you there, thank you

[2019-09-05 17:01] rthadur commented on #1975
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow.js) since it is not a bug or feature request. There is also a larger community that reads questions there.

[2019-09-05 17:01] #1975 closed

[2019-09-05 18:25] camsjams commented on #1497
While fully understanding that this a new and still experimental backend, are you planning on publishing to npm?

[2019-09-05 18:41] annxingyuan commented on #1970
Oh my bad... I was just copying missing ops from a failed conversion error message - you're right :)

[2019-09-05 18:41] #1970 closed

[2019-09-05 21:20] #1703 closed

[2019-09-05 21:20] #1850 closed

[2019-09-05 21:37] tafsiri commented on #1850
Just FYI this will go out with the next release.

[2019-09-05 21:37] tafsiri commented on #1703
Just FYI this will go out with the next release.

[2019-09-05 21:50] kangyizhang opened #1984 "Normalization of out of range start/end and negative stride breaks stridedSlice"
The [normalization of start, end and strides](https://github.com/tensorflow/tfjs/blob/aa92053a8d7c640fe9e685e254655f417480cf0d/tfjs-core/src/ops/strided_slice.ts#L81) make the stridedSlice op return different result in TF C library. Without normalization the result is correct.

I haven't figure out why the result is different, such as for this [test](https://github.com/tensorflow/tfjs/blob/master/

[2019-09-05 22:09] prouast opened #1985 "Support for Rank 5 Tensors in model prediction and related functions"
#### TensorFlow.js version
1.2.8
#### Browser version
Chrome 76.0.3809.132 (64-bit)
#### Describe the problem or feature request
Following up on [this comment](https://github.com/tensorflow/tfjs/issues/767#issuecomment-528166717), I ran into the same issue originally reported in issue #767 when trying to input a rank 5 tensor into model.predict():
[code]
The error occurs in [tfjs_backend.ts](https

[2019-09-05 22:50] #1649 closed

[2019-09-05 22:52] rthadur commented on #1035
related PR #[375](https://github.com/tensorflow/tfjs-converter/pull/375) has been merged , will be closing this issue.

[2019-09-05 22:52] #1035 closed

[2019-09-05 22:55] rthadur commented on #968
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-09-05 22:55] #968 closed

[2019-09-06 05:56] qjia7 opened #1986 "Support vec4/ivec4 in shader storage block for webgpu backend"
Currently, only float/int is supported in shader storage block which results that only one data in memory can be accessed per time. Maybe we can use vec4 to optimize it since we can load/store 4 data per time.

[2019-09-06 05:57] qjia7 commented on #1986
@annxingyuan FYI

[2019-09-06 06:04] qjia7 opened #1987 "Fallback to cpu when the inputs size is small for WebGPU backend"

[2019-09-06 06:04] qjia7 commented on #1987
@annxingyuan FYI

[2019-09-06 06:07] qjia7 opened #1988 "Optimize fromPixels for WebGPU backend"
This is blocked by WebGPU to provide a texImage2D like API which ingesting HTMLVideoElement.

[2019-09-06 06:07] qjia7 commented on #1988
@annxingyuan FYI

[2019-09-06 07:24] rohanmuplara opened #1989 "Randomly cropping and resizing array is super slow"
To get help from the community, we encourage using Stack Overflow and the [`tensorflow.js`](https://stackoverflow.com/questions/tagged/tensorflow.js) tag.

#### TensorFlow.js version
"@tensorflow/tfjs": "^1.2.7"

#### Browser version
Version 76.0.3809.132 (
#### Describe the problem or feature request

I have one network that takes in the webcam that identifies the face. I then take this detection

[2019-09-06 08:21] haoyunfeix commented on #1629
@annxingyuan, I thought you wanted to close https://github.com/tensorflow/tfjs/issues/1634 instead of this one right? If so, could you please reopen this feature request and I'll try to implement it...

[2019-09-06 11:50] dsmilkov commented on #1984
I just pushed to your PR that upgrades node to 1.2.8 and made all tests to pass - you should be good to go. For the diff see commit: https://github.com/tensorflow/tfjs/pull/1983/commits/62903237bd5c86dee3c4ed112393854f6ab7d1c7

[2019-09-06 11:50] #1984 closed

[2019-09-06 12:14] annxingyuan commented on #1629
@haoyunfeix Indeed, thanks for pointing this out!

[2019-09-06 12:14] annxingyuan commented on #1634
Fixed with #1843

[2019-09-06 12:14] #1634 closed

[2019-09-06 12:17] annxingyuan commented on #1987
Thanks @qjia7 ! By the way, if you wouldn't mind adding the 'webgpu' label and 'WebGPU' project board to these issues that would be awesome :)

[2019-09-06 17:16] tafsiri commented on #1682
@pejoujarrar thanks, I'll look into why it doesn't load. However looking more closely, the speech-commands `listen` function` will not work as is in react native. It relies on the [web audio api](https://developer.mozilla.org/en-US/docs/Web/API/Web_Audio_API) and the browser to do FFT.

Do get around this you would need to generate the tensor for the audio manually and feed it in as mentioned here

[2019-09-06 17:32] dsmilkov commented on #1497
We are still very early in the process so publishing something to npm is not useful at this time. I'll ping this issue when we have more updates.

[2019-09-06 17:39] annxingyuan opened #1991 "Converter should not throw a missingOp error for 'Multinomial'"
This happened when trying to convert the Music Transformer model.

[2019-09-06 18:23] dsmilkov commented on #1911
This was fixed in https://github.com/tensorflow/tfjs/pull/1947 by nsthorat@

[2019-09-06 18:23] #1911 closed

[2019-09-06 18:44] dsmilkov commented on #1936
@manueldois Can you add `tf.ENV.set('WEBGL_PACK', false);` add the beginning of your js program (before you run any TF.js code) and see if that resolves the issue?

`WEBGL_PACK` is an optimization, but I'm curious if that causes some problems on your machine.

[2019-09-06 19:07] rohanmuplara commented on #1174
@tafsiri I am just drawing attention to this gain. I have attached a link above of a screen recording. I have notice in my own projects, where the webcam just freezes. I grant permission but after a few seconds, the rendering freezes. From my debugging sessions,  tf.frompixels is the one freezing on my browser.

[2019-09-06 19:37] #1330 closed

[2019-09-06 19:37] #1526 closed

[2019-09-06 21:02] rohanmuplara commented on #1989
I am not sure but is related to this issue https://github.com/tensorflow/tfjs/issues/604

[2019-09-06 21:07] rthadur commented on #1174
@rohanmuplara what version of tfjs you are using ? there is no tf.frompixels it is now [tf.brwoser.fromPixels ](https://js.tensorflow.org/api/1.0.0/#browser.fromPixels)

[2019-09-06 21:20] nerox8664 commented on #824
Hello there.
I have the same error with the latest `tfjs`.
It looks like `tensorflowjs_converter` produces wrong target shape for `Reshape` operation in my case:

The last layers of my model:
[code]

In the `model.json` I see:

[code]
And after this fix right in the `model.json` I can run the model:

[code]

[2019-09-06 21:31] Witchgo11813 opened #1994 "Login brazzers"
To get help from the community, we encourage using Stack Overflow and the [`tensorflow.js`](https://stackoverflow.com/questions/tagged/tensorflow.js) tag.

#### TensorFlow.js version

#### Browser version

#### Describe the problem or feature request

#### Code to reproduce the bug / link to feature request
If you would like to get help from the community, we encourage using Stack Overflow and the

[2019-09-06 22:08] nnt0 commented on #1912
I'm also getting this issue using tfjs-node-gpu 1.2.9. tfjs-node also fails but with a different error. I tried older versions but they wont work either.

[code]

[2019-09-06 22:12] rohanmuplara commented on #1174
Yes I am using this tf.browser.fromPixels. Sorry I misspoke. I am using @tensorflow/tfjs": "^1.2.7".

[2019-09-06 22:24] #1994 closed

[2019-09-06 22:34] kangyizhang commented on #1912
@nnt0 I can not reproduce this error on my machine. Can you try the following:
1. remove node_module and reinstall the packages.
2. if it's still not working, can you check what's in path `d:\development\node_modules\@tensorflow\tfjs-node-gpu\lib`
3. go to `d:\development\node_modules\@tensorflow\tfjs-node-gpu` and run `yarn` or `npm install`

also what's the error you see for tfjs-node?

[2019-09-06 22:53] nnt0 commented on #1912
Thanks for the fast reply.

I deleted the node_modules folder and reinstalled everything.
Since i still got the same error i checked the path you gave me and found out that the `lib` folder doesn't even exist.

I ran `npm install` in `d:\development\node_modules\@tensorflow\tfjs-node-gpu` and got this output

[code]

The error i'm getting for tfjs-node is this
[code]

[2019-09-06 22:54] kangyizhang commented on #1989
@rohanmuplara if you are cropping and resizing image from webcam, you can try [tf.image.cropAndResize](https://js.tensorflow.org/api/latest/#image.cropAndResize). It is optimized for image cropping on GPU.

[2019-09-06 22:57] rohanmuplara commented on #1989
@kangyizhang I missed that. I didn't not his was also supported in tensorflow.js. I will try it and let you know.
Thanks,
Rohan

[2019-09-06 23:19] kangyizhang commented on #1912
@nnt0

For the tfjs-node-gpu error, it seems like your computer does not have enough memory for unzipping the libtensorflow file. Can you clean up your memory and try again? Also can you check what's in the `D:\development\node_modules\@tensorflow\tfjs-node-gpu\deps` folder?

For the tfjs-node error, it seems like a prefix `\\?` is added in `__dirname`. If you just print out `path.resolve(path.joi

[2019-09-06 23:28] rohanmuplara commented on #1989
@kangyizhang. I tried image cropping and it definitely reduce the variability from cropping random sizes. However, it is still quite slow compared to the rest of the net. The code below just crops and resizes bounding boxes.  This is taking me about 50 ms on a macbook pro in chrome.

let totalTime = 0.0;
    for (let i = 0; i < numSamples; i++) {
     tf.tidy(() => {
        const sampleImage = tf

[2019-09-06 23:47] nnt0 commented on #1912
@kangyizhang

I reinstalled tfjs-node-gpu while monitoring my ram usage and still got the exact same error and stack trace as before even though my memory usage stayed under 80% the whole time.

The `D:\development\node_modules\@tensorflow\tfjs-node-gpu\deps` exists but it's completely empty.

I ran

[code]

and got `d:\development\package.json` back.

[2019-09-07 08:09] OVERSTANDING683 commented on #1697
As I did my research it needs to be updated

[2019-09-07 08:14] OVERSTANDING683 commented on #1989
Remove type:Bug label filter

[2019-09-07 08:17] OVERSTANDING683 commented on #1985
Needs update... type:bug

[2019-09-07 08:21] OVERSTANDING683 commented on #1989
#1989 will help you out tremendously

[2019-09-07 09:01] OVERSTANDING683 commented on #1903
Remove comp: node.js label filter #1903

[2019-09-07 09:05] OVERSTANDING683 commented on #1989
Randomly cropping and resizing array is Super Slow #1989

[2019-09-07 09:12] OVERSTANDING683 commented on #1986
Support vec4/ivec4 in shader storage block for web GPU backend #1986

[2019-09-07 09:26] OVERSTANDING683 commented on #1884
Support Rank-6 Tile on WebGL backend. #1884.   Tensorflow.js version:1.2.7  Browser version:Google Chrome 76.0.3809.100x64... Please and Thank You

[2019-09-07 19:30] rohanmuplara commented on #1989
Sorry @OVERSTANDING683 isn't 1989 this issue. I am very confused what you are saying.

[2019-09-07 20:57] caisq opened #1996 "Add relu6 op to core."
To get help from the community, we encourage using Stack Overflow and the [`tensorflow.js`](https://stackoverflow.com/questions/tagged/tensorflow.js) tag.

#### TensorFlow.js version
1.2.9

23/26: mobilenet_v2_025_GraphModel
F

Failures:
1) TF.js Layers Benchmarks Benchmark models
  Message:
    Error: Activation: relu6 has not been implemented for the Node.js backend

[2019-09-08 02:03] Satachito opened #1998 "[Codelab]: Making Predictions from 2D Data"
Fetching 'https://storage.googleapis.com/tfjs-tutorials/carsData.json' is blocked because of the CORS policy.

[2019-09-08 17:07] thankrandomness commented on #310
Hi, I am looking for references/resources to help discover ways to do distributed training in kubernetes with node.js backend. Would be great if anyone can update on the current state and any future possibility. Thanks!

[2019-09-09 01:00] aledalgrande opened #1999 "All the documentation points to archived repos with empty README files"
#### TensorFlow.js version
1.2.9

#### Browser version
N/A

#### Describe the problem or feature request
As per title, docs like [Model conversion](https://www.tensorflow.org/js/guide/conversion) point to this [repo](https://github.com/tensorflow/tfjs-converter) and the README is completely void of information for someone who wants to learn.

#### Code to reproduce the bug / link to feature reques

[2019-09-09 01:22] qjia7 commented on #1987
@annxingyuan I don't have the permission to change it. Is it ok to give me those permission?

[2019-09-09 01:29] aledalgrande opened #2000 "Unknown layer: KerasLayer"
#### TensorFlow.js version
1.2.9

#### Browser version
NodeJS 11.3.0

#### Describe the problem or feature request
After converting a model created with a layer from TF Hub (MobileNetV2) with TF 2.0RC, and running `loadLayersModel`, I get:
[code]

#### Code to reproduce the bug / link to feature request
[code]

[code]

[code]

[2019-09-09 01:42] math3d commented on #1641
Hi, I tried the mul+add and fma (fma is done by instruction mad in OpenCL Inetl SDK) on OpenCL Intel SDK. The mul+add can be optimized into mad on Intel platform. If you think thi sis necessary, we may try this on compute shader.

Below are my mul+add and fma example.

## mul+add:

[code]

<pre>
(W)      mov      (8|M0)         r2.0<1>:ud    r0.0<1;1,0>:ud
(W)      or       (1|M0)         cr0.0<1>

[2019-09-09 01:44] axinging commented on #1641
Hi, I tried the mul+add and fma (fma is done by instruction mad in OpenCL Inetl SDK) on OpenCL Intel SDK. The mul+add can be optimized into mad on Intel platform. If you think this is necessary, we may try this on compute shader.

Below are my mul+add and fma example.

## mul+add:

[code]

<pre>
(W)      mov      (8|M0)         r2.0<1>:ud    r0.0<1;1,0>:ud
(W)      or       (1|M0)         cr0.0<1>

[2019-09-09 04:50] mblls opened #2001 "[Codelab]: Making Predictions from 2D Data"
Having trouble accessing the JSON data, running into a giant CORS discrepancy, would appreciate some help!

[2019-09-09 09:36] xianrenb commented on #510
I would like to share some info below which may be useful.
According to [https://en.wikipedia.org/wiki/Half-precision_floating-point_format](https://en.wikipedia.org/wiki/Half-precision_floating-point_format):
Precision limitations on decimal values in [1, 2048]:
Decimals between 1024 and 2048: fixed interval 2^0.
Precision limitations on integer values:
Integers between 2048 and 4096 round to a m

[2019-09-09 10:12] F0REacH commented on #510
Seems like it is possible to get GPU vendor/renderer with code:
https://gist.github.com/cvan/042b2448fcecefafbb6a91469484cdf8
Which gets info like this:
```"Intel Open Source Technology Center", "Mesa DRI Intel(R) Haswell Desktop "```
So it is useful to at least show a warning.
I've tried to switch (based on vendor) to CPU backend for Intel, but tfjs failed to produce correct results with my model

[2019-09-09 10:17] xianrenb commented on #510
Is it possible to use texelFetch() instead, which takes ivec texCoord?
[https://www.khronos.org/opengl/wiki/Sampler_(GLSL)](https://www.khronos.org/opengl/wiki/Sampler_(GLSL))

[2019-09-09 13:56] annxingyuan commented on #1641
@axinging - are you saying that += a*b and fma compile to the same instructions so it shouldn't make a difference for performance? I would like to know whether using fma improves performance for WebGPU - are you interested in carrying out that investigation?

[2019-09-09 13:57] annxingyuan commented on #1987
@qjia7 Ah I see... in that case I will apply the labels! Thanks!

[2019-09-09 14:29] dsmilkov commented on #1729
Thanks for pointing out the differences. Unfortunately we can't fix this now since we will break existing users. Tracking this issue as part of the TF.js 2.0 release.

[2019-09-09 14:39] axinging commented on #1641
OK, we will try this to see if performance diffs on different platforms.

[2019-09-09 14:56] tafsiri commented on #1998
Fixed now. Thanks for reporting this.

[2019-09-09 14:56] #1998 closed

[2019-09-09 14:56] tafsiri commented on #2001
Fixed now. Thanks for reporting this.

[2019-09-09 14:56] #2001 closed

[2019-09-09 16:04] Mobles opened #2003 "Cannot import @tensorflow/tfjs-node-gpu on Windows"
To get help from the community, we encourage using Stack Overflow and the [`tensorflow.js`](https://stackoverflow.com/questions/tagged/tensorflow.js) tag.

#### TensorFlow.js version
1.2.9
#### Browser version
Using NodeJS: v12.10.0

#### Describe the problem or feature request
Cannot import @tensorflow/tfjs-node-gpu at all, only @tensorflow/tfjs-node but I'd like to use my GPU.

#### Code to repr

[2019-09-09 16:09] kangyizhang commented on #2003
hi @Mobles, quick question: are you seeing the same issue when using @tensorflow/tfjs-node package?

[2019-09-09 16:11] Mobles commented on #2003
Nope, that works fine, I have had that issue when using it once but I fixed it by doing
`npm rebuild @tensorflow/tfjs-node --build-from-source`

This doesn't fix it for tfjs-node-gpu though :/

[2019-09-09 17:35] kangyizhang commented on #2003
hi @Mobles

Other users has the same issue and I'm dedicated to fixing it. However I can not reproduce it on my windows machine, I need some of your help.

Can you
1. Fork the @tensorflow/tfjs repo: https://github.com/tensorflow/tfjs
2. go to [tfjs-node](https://github.com/tensorflow/tfjs/tree/master/tfjs-node) directory
3. add `console.log('bindingPath:   ', bindingPath);` at this line: https://g

[2019-09-09 17:38] kangyizhang commented on #1996
hi @annxingyuan , can you add the relu6 op in tfjs-core? I'll add it in node once it's available in tfjs-core.

[2019-09-09 17:45] Mobles commented on #2003
bindingPath:  D:\Programming\NodeJS Work\dumb-doorbell\server\test\tfjs\tfjs-node\lib\napi-v4\tfjs_binding.node

The tests failed anyhow

[code]

[2019-09-09 17:53] matt-tingen opened #2007 "Compile error with TypeScript 3.6"
#### TensorFlow.js version
`1.2.8`
#### Browser version
`node` `12.6.0`
#### Describe the problem or feature request
Packages using `@tensorflow/tfjs-core` fail to compile with TypeScript 3.6 because of a conflict between `@types/webgl2@0.0.4` and the built-in webgl2 types added in TS 3.6.

[code]

This conflict was resolved in https://github.com/DefinitelyTyped/DefinitelyTyped/pull/36837 which cr

[2019-09-09 17:57] kangyizhang commented on #2003
Thanks a lot for the update!

The path looks fine. And if the test could start, the module could be loaded correctly. The problem should be related with the published npm package. I'll look into it.

FYI the failed test is unrelated.

[2019-09-09 17:58] Mobles commented on #2003
Ah okay, thanks for the assistance !

[2019-09-09 18:10] hoktin opened #2008 "Failed to install @tensorflow-models/deeplab"
I got an error with installing deeplab module. I see empty folder of @tensorflow-models when i check in node_modules folder.

this is how my dependencies look like:
[code]

this is the errors:
[code]

thanks,
@manrajgrover

[2019-09-09 19:02] kangyizhang commented on #1912
hi @nnt0 looks like your machine is 32-bit, which is not supported by tensorflow yet: https://www.tensorflow.org/install/lang_c#supported_platforms

[2019-09-09 19:06] nnt0 commented on #1912
@kangyizhang

I'm very sure that this isn't the issue especially since i am running Windows 10 64 bit.

[2019-09-09 19:14] kangyizhang commented on #2003
@Mobles I can reproduce the issue. It's because of the space in your path. Space in path is not supported by the binding tool node-gyp. Please try to move it to a folder without space and let me know if the error still exist.

[2019-09-09 19:15] kangyizhang commented on #1912
@eggerand13 the prefix `\\?` in the addon path is because of the space in your path (the project is in folder `JS ML`). Space in path is not supported by the binding tool node-gyp. Please try to move it to a folder without space and let me know if the error still exist.

[2019-09-09 19:21] Mobles commented on #2003
Nope, same error, no spaces in my file path

[code]

[2019-09-09 19:23] kangyizhang commented on #2003
@Mobles did you delete node_module and reinstall dependencies?

[2019-09-09 19:24] Mobles commented on #2003
Yup, I deleted the folder and typed
`npm install`

[2019-09-09 19:27] kangyizhang commented on #1912
@nnt0

For GPU, it seems like the process failed to unzip the libtensorflow, which is 200+ MB. I can not tell or reproduce the root cause of `Array buffer allocation failed`, but most likely it relates to memory exhausted. I would recommend you to monitor the memory used by node process, and see is there any patterns.

For CPU error, it looks like node.js kernel is trying to load the addon as Win3

[2019-09-09 19:29] tafsiri commented on #2007
Thanks for the info. FYI we usually suggest people add skipLibCheck to their tsconfig. https://www.tensorflow.org/js/tutorials/setup#typescript

[2019-09-09 19:43] manueldois commented on #1936
It worked! Thank you!

Adding `tf.ENV.set('WEBGL_PACK', false)` solved the issue.
https://codesandbox.io/s/tensorflow-conv2dtest-3d9ni

How does having this disable impact performance tough?

[2019-09-09 20:48] nnt0 commented on #1912
@kangyizhang

Okay, i ran `node -p "process.arch"` and got `ia32` back. I then reinstalled Node.js 64 bi,t ran the command again and got `x64` back. I guess i must have accidentally installed a 32 bit version of node at some point.

I then reinstalled `tfjs-node` as well as `tfjs-node-gpu` which completed without any error.

But trying to run either still produced errors. After some testing i foun

[2019-09-09 21:16] kangyizhang commented on #2003
@Mobles can you try go to the @tensorflow/tfjs-node-gpu directory, like `cd node_modules\@tensorflow\tfjs-node-gpu`, then run `node-pre-gyp rebuild` (you might need to `npm install -g node-pre-gyp`). Then see if you can import tfjs-node-gpu?

[2019-09-09 21:25] rthadur commented on #2008
Hi @hoktin this is not an tfjs issue instead you can file a new issue [here](https://github.com/tensorflow/models/issues) in models repo. But I see an issue here as the [deeplab](https://github.com/tensorflow/models/issues) is  nested in research folder you might need to update the path.

[2019-09-09 21:25] #2008 closed

[2019-09-09 21:58] kangyizhang commented on #1912
@nnt0 Glad to hear it works and thank you for update your investigation.

We were using `node-gyp` as the binding tool previously, and switched to `node-pre-gyp` after 1.2.4 to avoid compiling issues on user's machine (the issues in the [WINDOWS_TROUBLESHOOTING doc](https://github.com/tensorflow/tfjs/blob/master/tfjs-node/WINDOWS_TROUBLESHOOTING.md)). It may be related with path resolving in the `

[2019-09-09 21:58] #1912 closed

[2019-09-09 21:59] kangyizhang commented on #2003
@Mobles I can not reproduce the error on my machine but another user says removing `-` helps: https://github.com/tensorflow/tfjs/issues/1912#issuecomment-529660489

[2019-09-09 23:24] Mobles commented on #2003
Hi @kangyizhang

Both the above solutions didn't work, the first one gave me this error:

[code]

and the second one the same error still persists, removing the - didn't help

[2019-09-09 23:26] rohanmuplara commented on #1174
@rthadur Any updates here or workarounds. This is really blocking as I can't deploy as it doesn't work on safari.

[2019-09-10 01:47] caisq opened #2010 "Feature Request: support string dtype in tf.slice()"
To get help from the community, we encourage using Stack Overflow and the [`tensorflow.js`](https://stackoverflow.com/questions/tagged/tensorflow.js) tag.

#### TensorFlow.js version
1.2.9

#### Browser version
Doesn't matter.

#### Describe the problem or feature request
`tf.slice()` in TensorFlow.js currently support string dtype. Please support it.

[2019-09-10 04:32] pejoujarrar commented on #1682
@tafsiri , Since the project is build using Expo-cli, There is no choice but using https://docs.expo.io/versions/latest/sdk/audio/ (Recording sounds).

[2019-09-10 05:42] plat2eau commented on #1940
@tafsiri Actually the problem was that I was only using the custom model to make predictions and it wasn't being filtered by the base model. I corrected the code by first getting predictions from the base model and then passing the predicted tensors as an input for predicting through custom model. I'm getting pretty good results after that.

I posted it on stack overflow and answered it [here](htt

[2019-09-10 06:23] xianrenb commented on #510
After playing around in "shadertoy.com", I think the main problem is not precision.
However, in the comments of [https://www.shadertoy.com/view/XdsSRN](https://www.shadertoy.com/view/XdsSRN) states:

And the page shows the following code:
[code]

On the other hand,
[https://github.com/tensorflow/tfjs/blob/8c2d9e05643988fa7f4575c30a5ad3e732d189b2/tfjs-core/src/backends/webgl/glsl_version.ts](https:

[2019-09-10 06:30] fahimsun commented on #1759
Please add CTC support in Tensorflow JS

CTC is crucial in all cases where Input length is not equal to output length.
For example: Speech Recognition using RNN , handwritten digits in sequence

[2019-09-10 06:31] xianrenb commented on #510
One may implement floor() using mod():
mod(x, y) = x - y * floor(x/y),
so,
mod(x, 1) = x - 1 * floor(x/1), or
floor(x) = x - mod(x, 1)

[2019-09-10 08:34] lukasheinrich opened #2011 "support Lgamma and BroadcastTo Ops in order to support probabilistic models (Poisson distribution)"
When trying to covnert a model that uses `tensorflow_probability.distributions.Poisson` I get the error

[code]

In order to support probabilistic models using those libraries itwould be great if those Ops could be added

@kratsg @matthewfeickert

https://www.tensorflow.org/api_docs/cc/class/tensorflow/ops/lgamma
https://www.tensorflow.org/api_docs/cc/class/tensorflow/ops/broadcast-to

[2019-09-10 11:43] adwellj commented on #2003
@kangyizhang, I'm in the same boat.

[code]

This is also after trying your suggestion of `node-pre-gyp rebuild`.

Please let me know if there's anything I can do to assist in troubleshooting.

[2019-09-10 14:43] tafsiri commented on #1940
Great to hear you were able to resolve this!

[2019-09-10 18:37] kangyizhang commented on #2003
@Mobles I still can not reproduce this error, but I found this [question](https://stackoverflow.com/questions/41253450/error-the-specified-module-could-not-be-found). Can you follow the answer in this question and install [windows-build-tools](https://github.com/tensorflow/tfjs/blob/master/tfjs-node/WINDOWS_TROUBLESHOOTING.md#msbuildexe-exceptions), then try again?

@adwellj can you try to 1) see

[2019-09-10 20:38] Mobles commented on #2003
@kangyizhang Nope, didn't fix it, the windows-build-tools wouldn't install for a good hour, just this message

[code]

So I cancelled it, and tried again and it installed but running my program again didn't work and got the same error.

[2019-09-10 21:03] rohanmuplara commented on #1989
@kangyizhang @rthadur
Any updates

[2019-09-11 05:17] camoconnell commented on #1513
@hansamann - did you find a solution? ... i'm snagged on the exact same issue.
@dsmilkov - were aforementioned updates rolled out?

Thanks!

[2019-09-11 08:27] kqtus opened #2014 "'EnumTypeWrapper' object has no attribute 'DT_FLOAT' while importing in Python 3"
## TensorFlow.js version
1.2.9
#### Browser version
Does not matter

#### Describe the problem or feature request
While importing tensorflowjs module in python3 (using Google Colab environment), I get the following error:

`---------------------------------------------------------------------------
AttributeError                            Traceback (most recent call last)
<ipython-input-6-4aa5f30

[2019-09-11 12:18] adwellj commented on #2003
@kangyizhang tried it in a brand new repo without any hyphens in the name. Same result.
I then realized that I forgot to add the location for cuDNN and other CUDA directories to my path. Once I included those and launch a new PowerShell window, everything seems to be working.

@Mobles for reference, I'm using CUDA toolkit 10.0.130 and cuDNN 10.0 version 7.6.2.24.
I've copied the contents of cuDNN

[2019-09-11 12:47] Mobles commented on #2003
@adwellj

I had already got those path variables,

![image](https://user-images.githubusercontent.com/31385632/64698363-a6342c80-d49a-11e9-90f8-efb6c599b25c.png)

They didn't help though, I'm going to try reinitalize my project, see what that does.

[2019-09-11 13:15] adwellj commented on #2003
@Mobles bummer :(
It worked immediately on that gpu-1-2-9 project (after restarting PowerShell), but it still failed on my original tfjs-training-classification project. For that one I did an `npm uninstall @tensorflow/tfjs-node-gpu` followed by an `npm i @tensorflow/tfjs-node-gpu`. It worked after that.

Have you tried creating a new project with only tfjs-node-gpu to isolate it down to just this

[2019-09-11 13:29] tafsiri commented on #1989
@rohanmuplara if the sizes are truly random you might always see some slowness due to the need to create new textures, and gpu programs (whereas we are able to cache quite a few things for tensors with the same shape). If you have a large number of different sizes (but not completely random) you can warm up the cache by doing inferences with those different shapes beforehand.

[2019-09-11 13:30] annxingyuan commented on #1996
Hi @kangyizhang - yes I will add this to core - sorry I missed this issue until now!

cc @caisq

[2019-09-11 15:10] Mobles commented on #2003
@adwellj
Yeah, tried it in the above bit, made it on my desktop and tried to import it and the same error :(

[2019-09-11 15:33] adwellj commented on #2003
@Mobles unsure if this is relevant, but here are some additional things I had done previously to this new PC. They're steps that I used to have to do for version 0.3.2 when tfjs-node-gpu was using node-gyp to build on the client.

`npm i -g node-gyp`
Then from an elevated console (Run as Administrator) `npm i -g --production windows-build-tools`
Then create a copy of python.exe in C:\Users\<user>\

[2019-09-11 17:54] #1996 closed

[2019-09-11 18:13] kangyizhang commented on #2003
@Mobles can you try with [CUDA 10.0](https://developer.nvidia.com/cuda-10.0-download-archive) and cuDNN >= 7.4.1? These are the official supported version: https://www.tensorflow.org/install/gpu

[2019-09-11 18:13] rthadur commented on #2014
seems to be a bug , @pyu10055 can you please take a look ?

[2019-09-11 18:42] adwellj commented on #2003
Good catch @kangyizhang! I didn't notice the 10.1 in his path variables.

FYI, cuDNN version 7.6.2.24 does not work. It will generate a 'could not create cudnn handle' exception once I try to perform some operations. I just found that out about an hour ago :smirk:
Replacing it with 7.4.2.24 resolved that issue.

[2019-09-11 21:39] fahimsun commented on #840
I need to train Speech Recognition and CTC work as loss function.

I hope to see this implemented in Tensorflow.js

[2019-09-11 22:21] rthadur commented on #639
related PR has been merged , closing this issue, thank you

[2019-09-11 22:21] #639 closed

[2019-09-11 22:26] rthadur commented on #720
@annxingyuan is this fixed ?

[2019-09-11 22:44] #857 closed

[2019-09-11 22:46] rthadur commented on #859
@tafsiri is this fixed ?

[2019-09-11 22:50] rthadur commented on #826
looks like the related PR has been merged , so closing this issue.

[2019-09-11 22:50] #826 closed

[2019-09-11 23:10] nkreeger opened #2021 "[tfjs-backend-nodegl] Hookup new WebGLContext factory methods"
Once https://github.com/tensorflow/tfjs/pull/2020/files lands - backends can register a WebGLContext factory method. This should be wired up to tfjs-headless-nodegl init script.

[2019-09-11 23:11] nkreeger opened #2022 "[tfjs-backend-nodegl] Remove hard-coded WebGL flags"
Currently, the tfjs-backend-nodegl env startup script hard-codes WebGL global flags. This task should remove those flags and let the environment automatically pick these features up.

[2019-09-11 23:12] nkreeger opened #2023 "[tfjs-backend-nodegl] Move the existing demo into tfjs-examples"
The existing demo in tfjs-backend-nodegl should be moved to tfjs-examples:

https://github.com/tensorflow/tfjs/tree/master/tfjs-backend-nodegl/demo

[2019-09-12 00:46] saeedmarzban commented on #2014
AttributeError: 'EnumTypeWrapper' object has no attribute 'DT_FLOAT'

Same problem

[2019-09-12 02:07] dsmilkov commented on #840
Hi everyone, this is a great issue for an external contribution. I'm happy to provide guidance.

[2019-09-12 04:44] cnrblm commented on #2014
+1

[2019-09-12 07:51] kqtus opened #2029 ""response.arrayBuffer is not a function" while loadLayersModel (Node.js)"
## TensorFlow.js version
1.2.9
#### Browser version
any

#### Describe the problem or feature request
I have exported a Keras model written in Python, then converted it with tensorflowjs_converter and uploaded it to server. Then, I get error while loading it. I have tried it with @tensorflow/tfjs-node' as well as @tensorflow/tfjs'.

`
TypeError: response.arrayBuffer is not a function
    at f:\Dev

[2019-09-13 11:33] kingsharaman opened #2036 "Cannot use relu6 with webgl"
#### 1.2.9

#### Chrome 76.0.3809.132 (Official Build) (64-bit)

When I try to run `model.predict()` with the converted DeepLab model with MobileNet backend I get the following error message:

`Activation relu6 has not been implemented for the WebGL backend.`

This should have been fixed in #2016 but I think you should also modify `mapActivationToShaderProgram` in https://github.com/tensorflow/tfj

[2019-09-13 14:49] #2036 closed

[2019-09-13 17:58] #2007 closed

[2019-09-13 19:19] tafsiri opened #2041 "document tf.layersModel.getWeights and tf.layersModel.setWeights"
#### TensorFlow.js version

#### Describe the problem or feature request
We should add model.setWeights and model.getWeights to the api docs.

[2019-09-14 00:25] kangyizhang commented on #2003
Glad to hear it works. I guess it may be related with CUDA driver and re-open terminal. Feel free to re-open if you see any other issue.

[2019-09-14 04:09] EddieOne commented on #1422
Using the Coral TPU is shocking fast. Would be amazing to get the Coral team to make a tfjs module. For me at least, I want to do scheduling in Node as it works with the pi camera and motor controllers. We are not too far off from having a computer that can plug itself in.

[2019-09-14 10:02] pedrohbtp commented on #2014
I tried it with version **1.2.6** and it does not have this error. **1.2.9** has

[2019-09-14 13:33] lp74 commented on #1773
I've got the same problem.
I am just building a simple regularized (l2) linear regression:

`const model = tf.sequential();
model.add(tf.layers.dense({
    units: 1,
    inputShape: [1],
    useBias: true,
    kernelRegularizer: tf.regularizers.l2(0.01),
}));
`
It seems that the regularizer doesn't work.

Any hint?

[2019-09-14 14:00] caisq commented on #1773
@lp74 Please construct the regularizer with an object argument: `{l2: 0.01}`, instad of `0.01`.

[2019-09-14 21:59] mblls opened #2042 "[Codelab]: Making Predictions from 2D Data"
I'm getting another CORS error when I load the JS file, I believe with the links trying to access the image set.

[2019-09-15 13:39] ghafran commented on #2014
`pip install tensorflowjs==1.2.6` seems to fix this issue.

[2019-09-15 18:17] janithwanni commented on #2042
Which JS file ? The tensorflow.js file or tfjs vis file? and I have completed that codelab and I dont see anything regarding image sets in that codelab. In what step are you getting the error

[2019-09-16 00:02] mblls commented on #2042
<img width="546" alt="Screen Shot 2019-09-15 at 8 02 10 PM" src="https://user-images.githubusercontent.com/38448078/64929413-b7ab6a80-d7f3-11e9-8cea-9adb7e919b66.png">

[2019-09-16 01:38] rthadur commented on #2042
@mblls above files are from your local system and hosted by our team , closing this issue , thank you.

[2019-09-16 01:38] #2042 closed

[2019-09-16 03:19] worudso commented on #2003
I solved the same problem appending cudnn path to PATH.
My error message was the same as the author and I spent a long time to try the wrong solutions.
I think it would be better providing the more helpful error message.

[2019-09-16 11:33] JakeWade3 opened #2043 "Converting BodyPix to TensorFlow Lite"
Hello, I was wondering if its possible to convert the BodyPix model to a TensorFlow Lite model for running on Android and iOS. I found a discussion on this GitHub about this

https://github.com/tensorflow/tfjs/issues/1280

The issue was closed as it was not possible to convert this model back into a tensorflow saved model, I was wondering if this is now available/possible.

Thanks

[2019-09-16 14:34] lp74 commented on #110
@kedevked, with a shift (-s I) the convergence would be faster.

[2019-09-16 20:15] sirShakir commented on #1370
Any update on how to install tfjs on raspberry pi?

[2019-09-16 20:19] kedevked commented on #110
@nsthorat @caisq can you please tell us if it is still in the roadmap of tfjs to implement linear algebra operators ? If so, maybe you can give some pointers in the direction to go. Thanks !

[2019-09-16 20:28] kedevked commented on #655
Hello @dsmilkov !
Sorry for my late reply. Okay, I will resume working on this operator.

[2019-09-16 20:54] dsmilkov opened #2044 "dot product unit test fails with WEBGL_PACK: false"
To reproduce:
`yarn test --testEnv webgl2 --flags '{"WEBGL_PACK": false}'`

The test that fails is: https://github.com/tensorflow/tfjs/blob/dd5d9ed60e9cadf0426304d5a470504fd9b6d44a/tfjs-core/src/ops/matmul_test.ts#L1151

[2019-09-16 21:33] annxingyuan commented on #2044
Caused by https://github.com/tensorflow/tfjs-core/pull/1543

[2019-09-16 21:36] EddieOne commented on #1422
Just to update everyone

[2019-09-17 02:38] haoyangnz opened #2046 "Error: Cannot find module '.../node_modules/@tensorflow/tfjs-node/lib/napi-v4/tfjs_binding.node'"
To get help from the community, we encourage using Stack Overflow and the [`tensorflow.js`](https://stackoverflow.com/questions/tagged/tensorflow.js) tag.

#### TensorFlow.js version
"@tensorflow/tfjs-core@1.2.9":

#### Browser version

#### Describe the problem or feature request
Error: Cannot find module '.../node_modules/@tensorflow/tfjs-node/lib/napi-v4/tfjs_binding.node'

[2019-09-17 02:39] haoyangnz commented on #2046
Workaround:
`npm rebuild @tensorflow/tfjs-node --build-from-source`

[2019-09-17 03:14] kangyizhang commented on #2046
@haoyangnz what's the operating system you are using?

[2019-09-17 03:30] haoyangnz commented on #2046
@kangyizhang macos mojave 10.14.6

[2019-09-17 10:07] #1700 closed

[2019-09-17 10:24] kqtus commented on #2029
Any estimations on when it will be fixed?

[2019-09-17 12:58] #1641 closed

[2019-09-17 13:48] ghafran opened #2049 "coco-ssd custom training"
@pyu10055

https://github.com/tensorflow/tfjs-models/tree/master/coco-ssd

Where can we find a step-by-step documentation on how tfjs-models coco-ssd model.json was built? The readme file does not provide sufficient information.

We are trying to use the coco-ssd model with a custom model using transfer learning from https://github.com/tensorflow/models/tree/master/research/object_detection. Can y

[2019-09-17 13:58] CharlesCousyn opened #2050 "Converting Image classification model"
**TensorFlow.js version**
Python: tensorflowjs==1.2.7

**Describe the problem or feature request**
I'd like to use an existing model of image classification in the browser using the _tensorflowjs_converter_ command. (The command works correctly when using the mobilenet2 model url: `https://tfhub.dev/google/imagenet/mobilenet_v2_130_224/classification/3`)

**Code to reproduce the bug / link to feat

[2019-09-17 16:18] CharlesCousyn opened #2054 "Unknown op '_FusedConv2D' with MobileNet2"
### TensorFlow.js version
Node GPU version 1.2.7

#### Describe the problem or feature request
When trying to make classification with model from https://tfhub.dev/google/imagenet/mobilenet_v2_130_224/classification/3 using tensorflowjs_converter, the method `const predictions = await model.predict(input);`, I am getting this error

#### Error
[code]

[2019-09-17 16:34] pyu10055 commented on #2049
Hi @ghafran

As described in end of the coco-ssd README, we add some optimization by removing the post-processing sub-graph from the original python saved model.
But this process cannot be done with the latest converter, since it requires you to specify the output nodes. There are two ways to achieve this:
1. use a older version of the converter.
2. add a SignatureDef to the python model that has

[2019-09-17 16:55] pyu10055 commented on #2043
@tylerzhu-github can you answer this question? thanks.

[2019-09-17 16:58] kangyizhang commented on #2054
@CharlesCousyn The FusedConv2D op has been added in the latest package (1.2.9). Please give it a try.

[2019-09-17 17:04] prnysarker opened #2055 "Check failed: st.ok() Non unique node name detected"
For curiosity I wanted to convert COCO_SSD  saved_model to tensorflow js model, but I am getting the following error

2019-09-17 22:19:13.853712: I tensorflow/core/grappler/devices.cc:60] Number of eligible GPUs (core count >= 8, compute capability >= 0.0): 0 (Note: TensorFlow was not compiled with CUDA support)
2019-09-17 22:19:13.857146: I tensorflow/core/grappler/clusters/single_machine.cc:359]

[2019-09-17 17:06] prnysarker commented on #2055
I am using this model
http://download.tensorflow.org/models/object_detection/ssd_mobilenet_v1_fpn_shared_box_predictor_640x640_coco14_sync_2018_07_03.tar.gz

[2019-09-17 17:09] kangyizhang commented on #2046
@haoyangnz
1. did you see any error or warning logs while installing @tensorflow/tfjs-node?
2. what's your node version?
3. can you provide the full error stack trace?

[2019-09-17 17:21] rthadur commented on #2029
@kangyizhang any thoughts on above comments from @kqtus ?

[2019-09-17 17:33] CharlesCousyn commented on #2054
It fixes my problem :)
But now I have:
`Error: Activation: relu6 has not been implemented for the Node.js backend`
This seem to be fixed: https://github.com/tensorflow/tfjs/pull/2016
I guess I can wait few days

[2019-09-17 17:34] #2054 closed

[2019-09-17 17:35] #2044 closed

[2019-09-17 17:37] ghafran commented on #2049
@pyu10055

I created a colab based on your instructions and seems to work using tensorflowjs 0.8.6.

https://colab.research.google.com/drive/1wbbFo6RmUslM2pXNjeYNj7capbo-gljG

Would be great to see this work with latest version.

Thanks!

[2019-09-17 17:37] kqtus commented on #2029
Ok I think I solved it the proper way, having replaced global fetch.

`const nodeFetch = require('node-fetch');`
`global.fetch = nodeFetch;`

It is strange though, because previously I tried passing it as a fetchFunc, but it didn't trigger.

[2019-09-17 17:47] rthadur commented on #2029
thanks for the update , closing this issue.

[2019-09-17 17:47] #2029 closed

[2019-09-17 17:50] kangyizhang commented on #2029
tf.loadLayersModel() should automatically use node-fetch when it's in Node environment. @dsmilkov any thoughts why `.arrayBuffer()` is not available?

[2019-09-17 17:53] CharlesCousyn commented on #2050
The problem was due to the university network I used, using with my personal internet connexion fixed the problem.

[2019-09-17 17:53] #2050 closed

[2019-09-17 18:01] pyu10055 commented on #2014
I believe this is fixed by this PR https://github.com/tensorflow/tfjs/commit/dd5d9ed60e9cadf0426304d5a470504fd9b6d44a

you should see the changes in next release.

[2019-09-17 18:01] #2014 closed

[2019-09-17 19:03] burgalon opened #2057 "tf.whereAsync throws error when run in fit() loop"
#### TensorFlow.js version
1.2.7

#### Browser version
Chrome 76

#### Describe the problem or feature request
await tf.whereAsync(nonZero) throws exception
[code]

and also promise never returns failure when being executed inside a model.fit() custom metric

#### Code to reproduce the bug / link to feature request

[code]

[2019-09-17 22:12] #1794 closed

[2019-09-18 13:43] xianrenb commented on #893
The original 2x2 grid packing method makes all related code hard to read.
3D tensor should have [batch, row, col] indices.
I would suggest packing every 4 rows into one instead.
It should be easy to write glsl function mapping tensor indices to texture coordinates and channels, and vice versa.
For most tensor operations, every row should do the same job, so it should be easy to write packed tensor

[2019-09-18 15:02] evancasey opened #2062 "Advice needed on how to support a custom op from tensorflow/addons"
I would really like to be able to use a custom op from tensorflow/addons with tensorflow.js (both the webgl backend or node.js backend would work).

Here is a link to the op: https://github.com/tensorflow/addons/blob/master/tensorflow_addons/layers/optical_flow.py

Since it uses a custom C++ op, this would probably be tricky. It sounds like my options are currently:
- WebGL: Implement a WebGL op a

[2019-09-18 17:15] rthadur commented on #2062
@dsmilkov any suggestions for above feature request ?

[2019-09-18 18:06] burgalon commented on #2057
would love to try to submit a PR if somebody has a hint or direction?

[2019-09-18 19:05] rohanmuplara opened #2063 "Not working on Safari; Freezing/Weird behavior"
I am having problems with using tensorflow.js on safari such as here https://emojiscavengerhunt.withgoogle.com. I didn't need to test my project without safari but it is still not working and now I need it. This is what happens when I use it on safari but it works fine on chrome. https://drive.google.com/file/d/1YCni_rY2zmmL0hkOJAx09_cdeKR-0Ri9/view. Version 12.1.1 (14607.2.6.1.1) of safari. mac 1

[2019-09-18 20:09] dsmilkov commented on #2029
@kqtus We'd like to understand why you had to manually do `node-fetch`. In Node.js, we do override the global fetch internally so the user doesn't have to. I'm unable to reproduce the bug.

Can you provide a bit more info:
- What version of node you are using?
- We don't seem to have access to the model.json on GCS (Access denied). If you can share the model files publicly, that would be great.
-

[2019-09-18 20:19] dsmilkov commented on #2029
Another idea. Can you double-check the node-fetch version you had installed before? You may have had previously manually installed node-fetch 1.x which lacks `body.arraybuffer()`, while tfjs depends on node-fetch 2.x.

[2019-09-18 20:22] dsmilkov commented on #2011
Hi Lukas,

Can you share a bit about your model/use-case? There are a long tail of ops that TF.js is missing and we are trying to prioritize based on use-case.

[2019-09-18 20:26] dsmilkov commented on #1936
@annxingyuan This seems related to packing since setting WEBGL_PACK to false solved the issue. Though it will probably be tricky to reproduce because it requires an Intel GPU. When you get a chance, would be worth trying to reproduce on our Windows laptop.

[2019-09-18 20:37] annxingyuan commented on #1991
Solved in 1.2.9.

[2019-09-18 20:37] #1991 closed

[2019-09-18 21:38] annxingyuan opened #2065 "Change numBytesOnGPU to account for f16 vs f32 textures"
Currently reported values are the same for both.

[2019-09-18 21:50] #1201 closed

[2019-09-18 22:05] rthadur commented on #2063
this is a duplicate of #1174 , please use #1174  with latest findings , thank you

[2019-09-18 22:05] #2063 closed

[2019-09-18 22:18] tafsiri commented on #1174
@rohanmuplara Just saw you posted an update. The emojiscavangerhunt is probably using an older version of tensorflow.js so this issue may be fixed. I've been trying to reproduce this on newer builds of tfjs but haven't been able to. Could you please go to the following links and let me know if these demos work for you.

1. https://storage.googleapis.com/tfjs-models/demos/posenet/camera.html
2. htt

[2019-09-18 23:25] rohanmuplara commented on #1174
The first two links work. For the third, I get webcam not found but I am sure the webcam not configured. Let me look at the code for these newer version and see if they do anything differently. I will pose here with a jsfiddle for my code that is broken.

[2019-09-19 14:18] tafsiri commented on #1174
Thanks that would be great, we might need to update the demo for the third link, but if you could post a jsfiddle or something similar with a recent version of tfjs that would be helpful.

[2019-09-19 14:53] tylerzhu-github commented on #2043
Thanks for adding me Ping!
Thanks Jake for interested in using BodyPix for your project!

For PoseNet, we have released the model in .tflite format here:
Android: https://github.com/tensorflow/examples/tree/master/lite/examples/posenet/android
Coral TPU: https://github.com/google-coral/project-posenet

Here is a contribution from our community users:
https://medium.com/flutter-community/posenet-fo

[2019-09-19 15:03] annxingyuan opened #2068 "ArgMax performance regression caused by uint --> int - consider reverting."
Introduced by this PR: https://github.com/tensorflow/tfjs/pull/2025

[2019-09-19 15:24] tafsiri opened #2069 "Add LayersModel.dispose to public api docs"
#### TensorFlow.js version
1.2.9

#### Describe the problem or feature request
We should add https://github.com/tensorflow/tfjs/commit/202127da67c3812ee388fd966cee4667814707e6 to the api docs.

[2019-09-19 18:01] dimitri320 commented on #2014
on version 1.2.6 I get this error:

[2019-09-19 18:45] tafsiri opened #2071 "[react native] implement custom decodeJpeg"
#### Describe the problem or feature request

To make handling images in react native easier we should implement a [decodeJpeg](https://www.tensorflow.org/api_docs/python/tf/io/decode_jpeg) utility (similar to [tf.node.decodeJpeg](http://localhost:8080/api_node/1.2.8/#node.decodeJpeg)). One difference from the regular decodeJpeg signature is that we should allow a `ImageResolvedAssetSource` to be

[2019-09-19 20:24] dsmilkov commented on #2071
sgtm

[2019-09-19 20:37] nabbl opened #2074 "ECONNRESET error while trying to download posenet models in NodeJS"
#### TensorFlow.js version: 1.2.9 -> posenet: 2.1.3
Node Version: v12.5.0

#### Describe the problem or feature request

I'm having problems getting a basic posenet version to run on NodeJS. I think the library tries to connect to google storage and download actual model files but it fails with ECONNRESET (Timeout)

I can download the file just fine via browser.
Also tried to execute the code on t

[2019-09-19 21:34] #2074 closed

[2019-09-19 21:35] nabbl commented on #2074
Well I had posenet.load() in a loop .  Of course it would kill the download when I try to download the file 1000 times -.-

[2019-09-19 23:37] carlos-aguayo commented on #2014
"pip install tensorflowjs==1.2.6" worked for me, thanks

[2019-09-20 06:55] prnysarker commented on #2055
Hi , any update on this

[2019-09-20 10:02] qzcsgs commented on #1775
tensorflowjs MirrorPad
https://github.com/qzcsgs/tfjs-MirrorPad

[2019-09-20 13:48] bhack commented on #1497
For out of browser WASI I just opened https://github.com/tensorflow/mlir/issues/140 in the MLIR repo.

[2019-09-20 14:53] PiyushRamuka opened #2075 "baseball-node client not loading"
## Describe the problem or feature request
Followed the steps to set-up and run baseball-node example on MacOS Mojave with Node 8.15.0. Server and the client are running but "localhost:8080" does not load.
![image](https://user-images.githubusercontent.com/7099771/65336491-74a31b80-db94-11e9-873f-027645554b90.png)

Will appreciate any help resolving this issue. Thanks!

[2019-09-20 16:38] pyu10055 commented on #2062
@evancasey This looks like an custom TF layer, which is different from the core TF ops.
Have you tried to save you model to saved model format? TF keras layers will be break down into TF ops automatically, you might not need to implement anything new, if it can be broken down into existing TF ops.

[2019-09-20 17:34] pyu10055 commented on #2043
@tylerzhu-github I think we can host the tflite file on TFHub storage.

[2019-09-20 18:54] kangyizhang commented on #517
The GUIDE has been added: https://github.com/tensorflow/tfjs-website/blob/master/docs/guide/node_in_cloud.md

[2019-09-20 18:54] #517 closed

[2019-09-20 19:59] rthadur commented on #1999
this will be resolved by this PR https://github.com/tensorflow/tfjs-website/pull/331, thank you for reporting.

[2019-09-20 19:59] #1999 closed

[2019-09-20 20:02] rthadur commented on #2049
thank you , glad it worked for you, there is no plan as of now.

[2019-09-20 20:02] #2049 closed

[2019-09-20 20:28] subtleGradient commented on #1599
Yes! Installing cuDNN was the fix for this for me. YAY!
Thanks so much!

[2019-09-20 20:51] caisq commented on #2075
Assigning to @nkreeger, the original author of the example and who's more familiar with it.

[2019-09-20 21:18] kangyizhang commented on #2075
@PiyushRamuka The client site works on my machine. What did you see when you open localhost:8080?

[2019-09-20 23:21] kemio opened #2076 "tfjs-converter types_pb2.DataType has no attribute DT_FLOAT"
#### TensorFlow.js version
tensorflowjs_coverter 1.2.9 at Colab with Python3

#### Describe the problem or feature request
Get the following error:
[code]

#### Code to reproduce the bug / link to feature request
!sudo pip3 install tensorflowjs
Then:
!sudo tensorflowjs_converter
or
!sudo tensorflowjs_converter --input_format=tfjs_layers_model --output_format=keras /content/mydrive/MeLi/as.m5/model

[2019-09-21 10:15] kqtus commented on #2029
@dsmilkov

- npm version: 6.9.0
- I deleted the previous model. I have another one, though:
https://storage.googleapis.com/valid-ship-252510.appspot.com/1568368482017-keras_dogs_cats_model/model.json
- Here's the error log https://pastebin.com/z64J4KEj
- I didn't have node-fetch installed prior to fixing the problem by manual assignment. Having it installed, without overriding global fetch functio

[2019-09-21 13:10] WenheLI commented on #1759
Interested in this one, can I have a try with it?

[2019-09-21 14:12] bhack commented on #1422
This could be interesting in the roadmap to run out of the browser:
https://github.com/tensorflow/mlir/issues/140

[2019-09-21 14:23] larsgk commented on #1422
I am wondering - is there a reason for the .so files to only be closed source? If Coral were to open it, others could add support

[2019-09-21 20:20] RuStackOverflow commented on #1908
Still not working.

Tenserflow 1.2.9.

Tested in Chrome 76, Win x64.

[2019-09-21 20:24] oveddan opened #2077 "lstm-text-generation example - training with node.js results in error: "UnhandledPromiseRejectionWarning: TypeError: Cannot read property 'dtype' of undefined""
I'm following the instructions to to run the training-lstm-example, using @tensorflow/tfjs-node (on cpu) on Mac OSX.

When I run the command, as instructed in the tutorial:

[code]

I get an error:

[code]

For reference, before this error it says:

[code]

[2019-09-21 23:09] kangyizhang commented on #2029
@kqtus can you provide your node version and which operating system you are using?

[2019-09-22 11:52] oveddan commented on #2077
This is resolved.  The issue occured when using node v 12.10.0.  When I downgraded to 10.15.3 the issue went away.

[2019-09-22 11:52] #2077 closed

[2019-09-22 13:39] kqtus commented on #2029
@kangyizhang Node v10.16.3, Windows 10 1903. Here's also package.json: https://pastebin.com/swpTke2q.

One additional thing - we are having frontend app and backend in the same project (Express + React). Frontend is being transpiled and backend is run as-is - maybe that causes ambiguity.

[2019-09-22 15:30] aledalgrande commented on #2000
Any workaround for this?

[2019-09-22 21:37] Cristy94 opened #2078 "tfjs-node: Can not pass PixelData to NodeJSKernelBackend.fromPixels, only HTMLCanvasElement"
I want to pass image data, in Node, to a worker thread, thus I want to pass some `PixelData` in the form of `{ width, height, data}`, as shown here:
https://github.com/tensorflow/tfjs/blob/3ce439e64ce3cb34ecfa3cc8516b65aa62f036ee/tfjs-core/src/ops/browser.ts#L38-L68

But deeper in the backend, the only possible argument is a `HTMLCanvasElement`:

https://github.com/tensorflow/tfjs/blob/59556e7b669

[2019-09-22 22:19] Cristy94 opened #2079 "Running multiple intances in separate workers"
To get help from the community, we encourage using Stack Overflow and the [`tensorflow.js`](https://stackoverflow.com/questions/tagged/tensorflow.js) tag.

#### TensorFlow.js version
tfjs-node 1.2.9

#### Browser version
Node.js 10.16.0

#### Describe the problem or feature request
Trying to create a new model in each thread for inference, but only the first one works. After the first one the foll

[2019-09-23 03:02] kangyizhang commented on #2078
fromPixels in node is just a polyfill. It is recommended to use [tf.node.decodeImage](https://js.tensorflow.org/api_node/1.2.7/#node.decodeImage) in node to deal with image data.

[2019-09-23 07:12] axinging commented on #1705
Not sure if I understand this correctly.
If the uniforms is

[code]
or not defined at all,  'if (program.uniforms)' returns false.

If we defined uniforms as a string of spaces,
[code]
'if (program.uniforms)' returns true.

[2019-09-23 08:12] Cristy94 commented on #2078
Ok, I was using a library that was using `fromPixels`, so it was a bit harder to change.

But even though it's only a polyfill, what's the harm in making it support the `PixelData` type? Sometimes you might have a matrix of pixels instead of an actual image to pass.

[2019-09-23 09:10] JakeWade3 commented on #2043
Thanks for the replies, so reading this there is a TensorFlow Lite model kicking around somewhere but it just needs hosting?

[2019-09-23 10:35] aohan237 opened #2080 "how to pruning model with tfjs?"
for example. if i use tensorflow object detection api, and transfer python models to tfjs.
tfjs-conveter can quantize the model with extreme 4 times smaller. but it compressed version is still about 15m size, which is too large for js model, and requires more time.

so, i wonder if there is any thing like keras_prunning(https://www.tensorflow.org/model_optimization/guide/pruning/train_sparse_model

[2019-09-23 13:27] gitathrun commented on #2076
Same problem here, after I install tensorflowjs, this problem happens when I import the library

[code]
errors:
[code]

So, what is the problem here, is protobuf got any major upgrade?

[2019-09-23 14:41] evancasey commented on #2062
There is both a custom TF layer and also a [custom C++ op](https://github.com/tensorflow/addons/blob/master/tensorflow_addons/layers/optical_flow.py#L96-L104) used within the layer. Can that be broken down into TF ops automatically?

[2019-09-23 15:35] franciscop commented on #1375
I came to ask where we can download those models to load them locally easier, but seeing this issue is very related I'll join here.

As a workaround what I did is opening the network developer tab, and copying the body of all the requests (one JSON, then N "shards"):

<img width="549" alt="Screen Shot 2019-09-24 at 0 25 12" src="https://user-images.githubusercontent.com/2801252/65439237-ce8c3580-d

[2019-09-23 17:23] rthadur commented on #1759
@WenheLI sure please submit a new Pull Request

[2019-09-23 18:00] rthadur commented on #2079
please go through this [link](https://stackoverflow.com/questions/47068709/your-cpu-supports-instructions-that-this-tensorflow-binary-was-not-compiled-to-u) for stack overflow question.

[2019-09-23 18:07] PiyushRamuka commented on #2075
@kangyizhang - The client doesn't load and browser gives timeout error. Are there any log files I can upload to help resolve this issue?

[2019-09-23 18:26] rthadur commented on #2076
This was fixed already and will see the changes in next release , please refer to similar [issue](https://github.com/tensorflow/tfjs/issues/2014) here. Thank you

[2019-09-23 18:26] #2076 closed

[2019-09-23 18:43] tafsiri commented on #1682
@pejoujarrar I wasn't able to reproduce your error (I was able to load the speech commands model). Could you provide sample code that causes the issue?

Note that you need to have `import '@tensorflow/tfjs-react-native';` and `await tf.ready();` must complete before you try to load the model.

[2019-09-23 18:48] #1148 closed

[2019-09-23 18:50] tafsiri commented on #1173
Closing this as it hasn't been updated in a while and i think there is a more up to date issue regarding fromPixels on safari

[2019-09-23 18:50] #1173 closed

[2019-09-23 18:51] tafsiri commented on #1171
Closed in https://github.com/tensorflow/tfjs-layers/pull/551

[2019-09-23 18:51] #1171 closed

[2019-09-23 18:52] tafsiri commented on #1412
Closed in https://github.com/tensorflow/examples/pull/30/files

[2019-09-23 18:52] #1412 closed

[2019-09-23 18:57] #1788 closed

[2019-09-23 19:09] Cristy94 commented on #2079
Thank you for the response, but I don't see how it is related. I understand that I get the same warning before the error, but it doesn't explain why the error happens.

My problem is that loading the model in the first worker thread works fine, but when the second worker thread tries to load the model and create a new session for inferring, I get the Module resolution error above.

[2019-09-23 19:11] tylerzhu-github commented on #1681
Thanks for adding me and will support specifying height and width resolution

[2019-09-23 19:16] pyu10055 commented on #2062
@evancasey oh, if there is a custom TF c op then it would be broken down.
You can either create a new TFJS op, or use the registerOp method defined [here](https://github.com/tensorflow/tfjs/blob/master/tfjs-converter/src/operations/custom_op/register.ts#L47).

[2019-09-23 19:33] tafsiri commented on #1389
Not entirely sure what the question is here given that it seems you were able to train your own posenet model using the pytorch implementation? But it seems similar enough to #1388 that I'll close this issue in favor of that one. Feel free to re-open and clarify if is not similar.

[2019-09-23 19:33] #1389 closed

[2019-09-23 19:38] annxingyuan commented on #1705
@axinging We're checking whether we need to append kernel-specific uniforms to the uniform declaration. You're right that `' '` will return `true` whereas `''` will return `false`, which is strange.

This is exactly the reason for this issue :) Rather than storing kernel-specific uniforms as a string property of `WebGPUProgram`, we should create a type system that lets us express the uniforms need

[2019-09-23 19:40] #1419 closed

[2019-09-23 20:13] #389 closed

[2019-09-23 20:13] #1498 closed

[2019-09-23 20:46] pyu10055 commented on #2080
@aohan237 You are right about the keras prunning API, it has the potential to reduce the model size up to 6 times, and in combination with quantization it can achieve 24x size reduction.
But here what you can do:
1. use the keras prunning API to retrain your model and set the matrix sparsity to 85-90%, this would make many weight to 0.
2. and quantize the model to 8 bit. (reduce the model size to

[2019-09-23 21:27] tafsiri commented on #1715
Hi there, not sure if you found another solution in the meantime, but I have some updated thoughts. Unfortunately there is no clean direct answer to why this may take so long.

1. In the past couple of months we've made some improvements to how the converted models are executed, this should reduce the number of nodes that are evaluated and potentially the number of shaders/textures created. So I w

[2019-09-24 02:25] aohan237 commented on #2080
@pyu10055  thanks for your response.
here is the problem.i use the tensorflow object detection api `https://github.com/tensorflow/models/tree/master/research/object_detection` ,which i can use my own dataset for training. the model seems to be written without keras api, so if i want to do step 1, i maybe will have to implement the model again.

so is there any solution about this?

[2019-09-24 07:29] imnaifu commented on #2046
@kangyizhang hi there, I got the same issue here.
1. no error when installing
2. node -v `v10.16.0`
3. Error: Cannot find module '/Users/blabla/Documents/test/tensorflowjs-iris/node_modules/@tensorflow/tfjs-node/lib/napi-v4/tfjs_binding.node'
    at Function.Module._resolveFilename (internal/modules/cjs/loader.js:636:15)
    at Function.Module._load (internal/modules/cjs/loader.js:562:25)
    at M

[2019-09-24 10:42] marsiancba commented on #1759
@WenheLI I can provide you some rough (but working) implementation of CTC loss in tfjs, if you want something to start from...

[2019-09-24 17:10] kangyizhang commented on #2046
hi @imnaifu can you provide what's the operating system you are using?  can you successfully run the official [tfjs-node example](https://github.com/tensorflow/tfjs-examples/tree/master/mnist-node)?

[2019-09-24 17:12] kangyizhang commented on #1912
@AionDev did you install the [NVIDIA software](https://www.tensorflow.org/install/gpu) for gpu support (CUDA and cuDNN)? Misconfigured gpu software has been the reason for most of the errors.

[2019-09-24 19:12] ezequielzacca commented on #2055
Im having the same issue, did you find the solution?

[2019-09-24 20:14] rthadur commented on #2055
Hi @prnysarker did you follow this instructions [here](https://github.com/tensorflow/tfjs-models/tree/master/coco-ssd#technical-details-for-advanced-users)  , if not please let us know your machine configuration, tfjs version , and the steps you were following , thank you

[2019-09-25 12:34] prnysarker commented on #2055
No still stuck only for this

[2019-09-25 12:36] prnysarker commented on #2055
Windows 10 64bit, 32gb Ram, Intel Core i7-8850H
versions :
Python 3.6.8
tensorflowjs 1.2.9
Dependency versions:
  keras 2.2.4-tf
  tensorflow 1.14.0

By following your link
TensorFlow.js model converters.: error: unrecognized arguments: --output_node_names='Postprocessor/ExpandDims_1,Postprocessor/Slice'

After removing --output_node_names flag

Same error as above
 F .\tensorflow/core/grappler/gr

[2019-09-25 13:06] gsakkis opened #2089 "Drop keras requirement from the Python package"
Now that the code has been ported to `tensorflow.keras`, the requirement for standalone `keras` should be dropped from `requirements.txt`.

[2019-09-25 13:37] ezequielzacca commented on #2055
I'm having exactly the same problem, the docs seem to be outdated since output_node_names it's unrecognized by the command

[2019-09-25 14:34] tafsiri commented on #1850
This fix is now available in https://www.npmjs.com/package/@tensorflow/tfjs-vis/v/1.2.0

[2019-09-25 14:34] tafsiri commented on #1703
This fix is now available in https://www.npmjs.com/package/@tensorflow/tfjs-vis/v/1.2.0

[2019-09-25 14:34] tafsiri commented on #1201
This fix is now available in https://www.npmjs.com/package/@tensorflow/tfjs-vis/v/1.2.0

[2019-09-25 14:43] annxingyuan commented on #1936
@dsmilkov Unfortunately I can't reproduce this issue on our Windows laptop.

@manueldois Thanks for bearing with us. Would you mind trying a few more things:

- Does `WORLD_SIZE` of 400 work?
- What if instead of changing `WEBGL_PACK` to false, you only changed `WEBGL_CONV_IM2COL` to false?
- Could you upload the full printout for the `N_NEIGHBORS` tensor given `WORLD_SIZE` 300?

Thank you!

[2019-09-25 15:05] arherzf8er opened #2091 "Universal Sentence Encoder in webworkers"
### TensorFlow.js version
1.2.9
#### Browser version
Version 77.0.3865.90 (Official Build) (64-bit)
#### Describe the problem or feature request
Can't `embed()` sentences in webworkers (despite the fact I can do it in main thread)
#### Code to reproduce the bug / link to feature request
[code]

[2019-09-25 15:35] ya332 commented on #753
Sorry, I am late to the discussion. `tf` used above comes from `import * as tf from '@tensorflow/tfjs';`. Is that correct?

[2019-09-25 17:45] pyu10055 commented on #2080
I believe the model is being migrated to keras implementation, but meanwhile there are several external object detection models that is implemented using keras, maybe you can give those and pruning API a try. It would be great if you can share your experiences with us. Thanks.

[2019-09-25 18:33] pyu10055 commented on #2080
actually the object detection has keras implementation now, here is the link
https://github.com/tensorflow/models/blob/fe748d4a4a1576b57c279014ac0ceb47344399c4/research/object_detection/models/ssd_mobilenet_v2_keras_feature_extractor.py

[2019-09-25 20:44] rthadur commented on #2091
@arherzf8er i was able to run successfully with the above code , can you please recheck.

[2019-09-25 21:03] arherzf8er commented on #2091
@rthadur thanks for checking, could you please share your full code for main thread and webworker?
There should be something that I missed somehow (weird that `model` has only 2 properties)

[2019-09-25 21:06] arherzf8er commented on #2091
`use.load().then(model => console.log(model))`

![image](https://user-images.githubusercontent.com/29209372/65639681-46d53100-dff1-11e9-80b4-1f415cd10a5b.png)

[2019-09-26 01:07] axinging commented on #1625
Hi, I may help on this issue.

[2019-09-26 04:24] jessetrana commented on #2071
What is the long term strategy on image handling across the different backends? Is a unified approach likely? At one point (over on #1485 ) it seemed as though image decoding was not going to be pulled into the core. However, to make the node case better [tf.node.decodeJpeg](https://www.tensorflow.org/api_docs/python/tf/io/decode_jpeg) came into being. I found this intriguing, but looking into how

[2019-09-26 06:09] lewis617 commented on #1996
@annxingyuan 请问relu6加上了吗？我在"@tensorflow/tfjs": "^1.2.9"这个版本下，依然报错：
[code]

[2019-09-26 13:50] #2091 closed

[2019-09-26 14:25] sthalles commented on #1792
Hi, any news on this? I am facing a similar problem. When I try to use early stopping and one of the training callbacks, it does not work. Follows a sniped for reproducibility.

[code]
It gives the error message:

[2019-09-26 14:45] lukasheinrich commented on #2011
hi @dsmilkov,

our specific use case is the computation of probabilistic models for high energy physics models at CERN, but I think being able to compute a Poisson distribution is probably of much broader appeal for any model using tensorflow probability.

[2019-09-26 16:35] caisq commented on #2089
@gsakkis Makes sense. We'll get to it.

[2019-09-26 22:49] manueldois commented on #1936
`WORLD_SIZE` 400 works,
`WEBGL_CONV_IM2COL` to false solves the issue,
[Conv2D test.zip](https://github.com/tensorflow/tfjs/files/3660162/Conv2D.test.zip) with many printouts inside of failed tests. (perhaps over-engineered.......)

I noticed that when the test fails it's execution time is much faster than when the test is successful.

[2019-09-27 00:32] #2089 closed

[2019-09-27 01:28] 1Upper opened #2099 "Error as opening TFJS example with safari browser on iPhone 8 and iPhone X"
The following TFJS example doesn't work with iPhone 8 or iPhone X. The Safari browser actively crashes during training.  https://storage.googleapis.com/tfjs-examples/mnist-core/dist/index.

Is TFJS model training/fine tuning supported by Safari browser on iOS?

Browser: Safari browser
iOS version: iOS 13

[2019-09-27 07:50] aohan237 commented on #2080
@pyu10055  thank you very much.  i did not find it before.

i will check the model if the model will be effective ,if with keras prunning.

i will share more infomation if any thing i think important.

[2019-09-27 07:50] #2080 closed

[2019-09-27 09:45] lewis617 commented on #2036
请问 relu6 什么时候可以在 webgl 里用

[2019-09-27 12:45] annxingyuan commented on #2036
@lewis617 relu6 will be available in the next tf-core release. It was added after 1.2.9.

[2019-09-27 13:33] thirukumars opened #2100 "tensor shape issues"
while workonh with ml5js,i am getting this weird error,,i don't whats wrong

ml5.min.js:818 Uncaught (in promise) Error: Based on the provided shape, [3,3,1024,512], the tensor should have 4718592 values but has 1805028
    at w (ml5.min.js:818)
    at Pn (ml5.min.js:3510)
    at i (ml5.min.js:13910)
    at Object.oc [as decodeWeights] (ml5.min.js:13915)
    at ml5.min.js:20090
    at ml5.min.js:1

[2019-09-27 13:33] thirukumars commented on #2100
this is my code,please check guys

import React, { Component , Fragment } from 'react';
import ml5 from 'ml5'
import p5 from 'p5'
import "bootstrap/dist/css/bootstrap.min.css";
import "p5/lib/addons/p5.dom";
import './object.css'
var video;
var yolo;
var stop=false
var no_of_times=0;
// export
 let objects = [];

export  default class Detection extends Component {
    // constructor() {
    //

[2019-09-27 17:21] oveddan opened #2101 "feature request: tf.node - support saving to / loading from numpy array"
It would be great if from `tf.node` you can save tensors in a format that can be loaded in numpy with [numpy.load](https://docs.scipy.org/doc/numpy/reference/generated/numpy.load.html), such as in the `.npy` format.  And conversely, it would be great if you can load numpy array files saved as .npy into tensorflow.js with `tf.node`.

[2019-09-27 18:04] rikenshah2002 commented on #2055
You can run tensorflowjs_conveter on Goggle Colab
And It worked for me!

[2019-09-27 21:01] wingman-jr-addon commented on #294
Thanks for prioritizing and working on this - I just discovered today that HTMLImageElement takes the same path and was drawing onto a canvas. Prior to today, my code would load into an Image() and then rely on tf.resizeBilinear before feeding into a MobileNetV2 based network. However, after seeing the code I decided to instead take the Image and do a drawImage with resize and pass in an ImageData

[2019-09-27 21:13] caisq commented on #1908
The root cause of the problem is that the originalName of weights of different RNN cells clashed.
#2105 should fix it.

Sorry for the delay.

[2019-09-28 02:52] caisq opened #2108 "[converter] Add bazel test to CI"
Since the code is now regularly sync'ed to Google internal code base now, we need a way to ensure external changes to tfjs-converter's Python code don't break the bazel tests.

[2019-09-28 03:00] caisq commented on #2108
Oops. I forgot I already created https://github.com/tensorflow/tfjs/issues/1955

[2019-09-28 03:00] #2108 closed

[2019-09-28 15:14] caisq opened #2110 "Nightly benchmark fails due to converter's out-of-date import from tensorflow"
This started happening today.

Steps to reproduce the problem:

Run the benchmark:
[code]

See the error message that happens when the converter runs:

[2019-09-28 19:24] harish2704 commented on #1571
Hi, This is just to update few more details about this issue.

1. This issue seems depend on the underlying GL implementation.  But sill, silently failing without any error message is not a good property and should be considered as a bug.

2. When I tried to debug this, it is found that, issue is with `maxPool2d` layer. Here , I have attached a json file which contains both input & output tensor p

[2019-09-28 19:31] #1908 closed

[2019-09-28 20:53] caisq commented on #2057
@dsmilkov Do you expect `whereAsync` to support gradients?

[2019-09-29 00:46] silky opened #2111 "add `meshgrid` function"
would be nice to have an equiv of `tf.meshgrid` in python tensorflow.

[2019-09-29 04:02] lewis617 opened #2113 "Error: Activation relu6 has not been implemented for the CPU backend"
To get help from the community, we encourage using Stack Overflow and the [`tensorflow.js`](https://stackoverflow.com/questions/tagged/tensorflow.js) tag.

#### TensorFlow.js version
1.2.9
#### Browser version
 77.0.3865.90
#### Describe the problem or feature request
I use tfjs-converter to convert faster_rcnn_inception_v2_coco object detection model to tfjs web model and predict in browser, it t

[2019-09-29 04:17] lewis617 commented on #2036
When will the next version will be released?

[2019-09-29 14:43] reimertz commented on #2113
I'm getting this issue too.

@annxingyuan,  I'm trying to figure out why we get this issues. Is is because python core lib and tensorflow.js is out of sync? If so, Which version should I use locally to retrain models so that I can convert them without getting these issues?

[2019-09-29 21:54] kangyizhang commented on #2113
@lewis617 @reimertz relu6 is added in https://github.com/tensorflow/tfjs/pull/2016 and will be included in the next release.

[2019-09-29 21:54] #2113 closed

[2019-09-29 22:00] zzj0402 opened #2117 "error TS2304"
To get help from the community, we encourage using Stack Overflow and the [`tensorflow.js`](https://stackoverflow.com/questions/tagged/tensorflow.js) tag.

#### TensorFlow.js version
    "@tensorflow/tfjs-node": "^1.2.9",
#### Browser version
Google Chrome
Version 77.0.3865.90 (Official Build) (64-bit)
#### Describe the problem or feature request
[code]
#### Code to reproduce the bug / link to fea

[2019-09-30 04:01] kangyizhang commented on #2117
@zzj0402 can you provide more information? From the error log seems like you are using tfjs in browser and the library can not find Canvas. But from the version information seems like you are using tfjs-node. If you are using the library in browser, you only need to install @tensorflow/tfjs.

[2019-09-30 11:33] anilsathyan7 commented on #755
Here is how i converted the model using google colab (ipython)...
The python API seems to work for this version atleast. No need to set strict parameter in this case.

Once you have saved the entire model as a h5 file, upload it to colab and run the script to generate the tfjs model.
`
!pip install tensorflowjs==1.2.6
# Restart runtime after installation

# import keras
import os
import keras
from

[2019-09-30 13:18] #1987 closed

[2019-09-30 14:56] tafsiri commented on #2100
Hi @thirukumars, i noticed that you already [opened an issue](https://github.com/ml5js/ml5-library/issues/586) on the ml5 repo. I think that is the best place for this question since you are using the ML5 wrapper. So I'll close this issue to allow focus on that one. All the best!

[2019-09-30 14:56] #2100 closed

[2019-09-30 15:00] tafsiri commented on #2099
Generally speaking, yes training is supported, this might possibly be due to some recentish update in safari. I can reproduce this, so will take a look at this when we get a chance.

[2019-09-30 15:09] tafsiri commented on #2071
@jessetrana I was thinking about this as well and it seemed that it would be advantageous to have the unified op, however at lease in the context of RN, the assumption that reading the file into memory and decoding it as two separate steps doesn't have extra overhead isn't necessarily true (in this case being able to do it in one step is likely more performant).

So far it looks like there is enou

[2019-09-30 16:24] GU8187 opened #2120 "Error: Batch normalization gradient requires mean and offset to have equal ranks."
Hello Everyone,

[`pix2pix`][`pix2pix.js`][`tensorflow.js`]
I'm trying to set up online environment for my new learned pix2pix model. I have exported the .pict model with the guides kindly provided by @yining1023 & Dongphil Yoo.

#### TensorFlow.js version
https://cdn.jsdelivr.net/npm/@tensorflow/tfjs

#### Browser version
Google Chrome Version 77.0.3865.90 (Build officiel) (64 bits)
FIrefox quant

[2019-09-30 16:27] pyu10055 commented on #2110
This integration test is using nightly TF, but our pip is based on 1.14, we should align otherwise this type issue will happen more often.

[2019-09-30 16:29] caisq commented on #2110
@pyu10055 I can make that change.

But in the larger context, this problem needs to be fixed in order to unblock future releases, right?

[2019-09-30 16:50] caisq commented on #2120
FYI, https://github.com/tensorflow/tfjs/pull/2114 contains a workaround to this issue for the implementation of `LayerNormalization`

[2019-09-30 17:46] fahimsun commented on #1759
@WenheLI are you working on this?

[2019-09-30 17:56] rthadur commented on #2111
@silky  can you please tell us your use case ?

[2019-09-30 18:28] rthadur commented on #2036
it is available now , please check.

[2019-09-30 18:32] rthadur commented on #755
@anilsathyan7 thank you , closing this issue.

[2019-09-30 18:32] #755 closed

[2019-09-30 20:40] GU8187 commented on #2120
Thanks for your answer still I'm a bit confused...

- Should there be an update to [`pix2pix_tensorflowjs`] repo

- or should I update locally in my pix2pix-tensorflow/.git (before compiling a new .pict model),

- or is this is a next master of tensorflowjs, so I should replace <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs"></script> with a proper path, with local hosting of library's

[2019-09-30 20:42] caisq commented on #2120
Just to be clear #2114 is not meant to be a fix to this problem. It's just relevant to the problem and shows how a user may *in principle* workaround it. The fix will come in a separate PR.

[2019-09-30 21:00] GU8187 commented on #2120
Got it thanks, look forward to it !

[2019-09-30 21:15] silky commented on #2111
[code]

vs. `xx, yy = tf.meshgrid(x, y)`

[2019-09-30 21:26] nsthorat opened #2124 "Remove tf.ENV"
tf.ENV is a global mutable object that is exported from the module. This isn't allowed in ES2015 semantics and thus closure has problems with it.

Let's remove this in favor of tf.environment().

[2019-10-01 02:13] pyu10055 commented on #2110
this fixed by PR https://github.com/tensorflow/tfjs/pull/2106

[2019-10-01 02:13] #2110 closed

[2019-10-01 03:43] jessetrana commented on #2071
Thanks @tafsiri for taking the time to talk through the issues.

Regarding my use case, I have been developing a Firefox plugin that does NSFW content filtering fully client-side. In fact, I just made a dedicated GitHub account as @wingman-jr-addon so you may see me posting under that moniker more often now.

So with respect to that use case, I do target different at least different desktop OS's.

[2019-10-01 12:37] piercus commented on #1469
As explained in https://github.com/tensorflow/tfjs/issues/671#issuecomment-494832790

There is workaround by setting global variable
`export TF_FORCE_GPU_ALLOW_GROWTH=true`

[2019-10-01 14:22] WenheLI commented on #1759
@fahimsun Yep, but I am in the break right now, it may take some time to implement. If you want to take it over, it is fine as well.

[2019-10-01 17:57] DCtheTall commented on #1262
Hey all, is this issue still open? Are you accepting contributions for this?

[2019-10-01 19:48] rthadur commented on #1262
@DCtheTall i believe it is still open, feel free to send PR. Thank you

[2019-10-01 21:09] rthadur commented on #2124
@nsthorat i see the PR got merged , can we close this issue or is there more request coming through ?

[2019-10-01 21:11] nsthorat commented on #2124
The PR that got merged is just introducing tf.env(), we won't be able to remove tf.ENV until we want to make a breaking change for TensorFlow.js 2.0 so let's keep this open.

[2019-10-01 21:14] rthadur commented on #2124
sure , thanks for confirming

[2019-10-02 03:07] david201601 commented on #2055
I am facing the same issue :(

[2019-10-02 04:58] Neuroforge opened #2127 "In Node, the number of shards change after saving."
To get help from the community, we encourage using Stack Overflow and the [`tensorflow.js`](https://stackoverflow.com/questions/tagged/tensorflow.js) tag.

#### TensorFlow.js version

The latest version from npm.
    "@tensorflow/tfjs-node": "^1.2.9"

#### Browser version
N/A

#### Describe the problem or feature request

When loading a model (loadLayersModel) takes a model config.json and weight.

[2019-10-02 11:13] kongkip commented on #271
I have the same issued when I try to load the model in android.

 java.lang.IllegalStateException: Internal error: Unexpected failure when preparing tensor allocations: Encountered unresolved custom op: DecodeWav.
   Node number 0 (DecodeWav) failed to prepare

[2019-10-02 11:50] gitathrun opened #2128 "Red Error when import tfjs-react-native"
To get help from the community, we encourage using Stack Overflow and the [`tensorflow.js`](https://stackoverflow.com/questions/tagged/tensorflow.js) tag.

#### TensorFlow.js version
tfjs-react-native

#### Browser version
In my packages.json file
[code]

#### Describe the problem or feature request
When I am trying to use the demo code in STEP 6 of [tfjs-react-native documentation ](https://githu

[2019-10-02 12:56] DCtheTall commented on #1262
Sg, I can open one in the next day or so. Just confirming my understanding from the code, `numBytesInGPU` represents how much memory TF.js is currently using in the GPU, not how much is still available?

[2019-10-02 14:59] caisq opened #2129 "[layers] Re-enable tfjs2keras integ test after tfjs-node 1.2.10 is released"
Blocker: padInfo for fusedConv2d

[2019-10-02 15:26] #1548 closed

[2019-10-02 15:36] tafsiri commented on #2128
Hi, this looks like an issue in react-native-unimodules. Did you follow all the setup and configuration instructions, in particular for android there are some steps outlined here https://github.com/unimodules/react-native-unimodules#-configure-android

Were any issues reported when setting up react-native-unimodules and expo-gl?

[2019-10-02 16:42] bgirschig commented on #1174
Hi! I'm also having issues with the camera on safari:

- With an older version (@tensorflow-models/posenet: 1.0.3), the camera often gets "stuck" on the first frame. The detection works on that frame, but It looks like running the detection "spoils" the media stream.
- The current demo (https://storage.googleapis.com/tfjs-models/demos/posenet/camera.html) is a bit slower on chrome (~5fps), and sup

[2019-10-02 16:49] gitathrun commented on #2128
Hi, @tafsiri

Yes, setup the project with react-native-unimodules solved the import problem. Now the app is built without any error.
Many thanks.

[2019-10-02 17:37] bourdakos1 opened #2130 "Feature request: `tf.spectral.fft2d`"
A 2-dimensional fft would be helpful for some image processing use-cases. One example would be for object tracking. I can work on adding this op.

[2019-10-02 17:57] tafsiri commented on #2128
No problem. Feel free to let us know how using the package goes.

[2019-10-02 17:57] #2128 closed

[2019-10-02 20:55] sribarrow opened #2134 "I have saved a pretrained vgg model as sequential and saved using tfjs_converter from keras. loadLayersModel throws this Error:The first layer in a Sequential model must get an `inputShape` or `batchInputShape` argument."
To get help from the community, we encourage using Stack Overflow and the [`tensorflow.js`](https://stackoverflow.com/questions/tagged/tensorflow.js) tag.

#### TensorFlow.js version

#### Browser version

#### Describe the problem or feature request

#### Code to reproduce the bug / link to feature request
If you would like to get help from the community, we encourage using Stack Overflow and the

[2019-10-02 20:59] sribarrow commented on #2134
please help

[2019-10-02 21:40] rthadur commented on #2134
This question is better asked on [StackOverflow](https://stackoverflow.com/tags/tensorflow.js/new) since it is not a bug or feature request. There is also a larger community that reads questions there.

[2019-10-02 21:40] #2134 closed

[2019-10-03 00:47] wingman-jr-addon commented on #2036
Is it also available in tensorflowjs_converter? I've been trying to check out a keras->tfjs_graph_model conversion to see if I get an inference speed boost but even with an upgrade to 1.2.10 I'm still getting this today:
ValueError: Unknown activation function:relu6

[2019-10-03 03:49] Jurge92 opened #2138 "Feature Request: PoseNet Video API"
Hi,

I really enjoy using PoseNet here:

https://github.com/tensorflow/tfjs-models/tree/master/posenet

However, one issue I'm having is that I cannot load in a local/remote video file. I can only use a real-time video stream. I know there's some hacky workaround to make it somewhat work, but those aren't optimal and reduces the simpleness of the code.

Would it be possible to add a simple API in

[2019-10-03 10:37] gdgggithub commented on #2043
I would also like to have this model data for my project if available pls inform thx a lot in advance!

[2019-10-03 12:35] annxingyuan commented on #1262
Hi @DCtheTall - yes `numBytesInGPU` represents memory usage on the GPU only, whereas `numBytes` represents memory usage across backends.

[2019-10-03 15:13] annxingyuan commented on #2036
Hey @pyu10055 - is this expected? I would have thought this would be fixed with 1.2.10.

[2019-10-03 17:54] rthadur commented on #2138
@tafsiri please let us know if you have any thoughts on this feature request ?

[2019-10-03 20:18] tafsiri commented on #2138
@Jurge92 you should be able to pass in an HTMLVideoElement instead of an image. If you have any trouble with that let us know more about what kind of video you want to load and where using a video element falls short.

[2019-10-03 23:14] rthadur commented on #1683
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-10-03 23:14] #1683 closed

[2019-10-03 23:22] rthadur commented on #1601
I was not able to reproduce the error [here](https://js.tensorflow.org/api/0.6.1/#grad) , please check and let us know of this is still an issue ? or else will be closing this issue soon, thank you

[2019-10-04 02:21] yucolabjames commented on #464
Am running into the same problem, am wondering if OP managed to solve it eventually. I did a `yarn` and `yarn build` in the posenet folder and it created a dist folder but the HTML is still complaining about:

[code]

[2019-10-04 04:08] Jurge92 commented on #2138
I have been trying to load a local .mp4 file instead of a .jpg here:

https://github.com/tensorflow/tfjs-models/blob/d836d5f89ec5fb49a3213bc1e14c847b42a61bb5/posenet/demos/coco.js#L33

When I do, nothing happens. That is basically what I want, just use any local video (be it .mp4 or whatnot) and then it can be processed accordingly, showing the video running with detection on each frame.

[2019-10-04 04:43] yucolabjames commented on #1811
+1 for this feature req

[2019-10-04 09:33] Kriyszig commented on #1969
Is this issue taken?
If not I can get an implementation ready by tomorrow hopefully!

[2019-10-04 11:41] annxingyuan commented on #1969
@Kriyszig Fantastic! It's all yours :)

[2019-10-04 12:45] peckhart89 commented on #1667
I am receiving the error unsupported FusedBatchNormV3 error when the tensorrt parser tries to build an inference engine from the UFF file I created from my frozen_inference_graph.pb file.

I also receive this error when I try to convert my frozen_inference_graph.pb file into an xml file using the OpenVINO model optimizer.

Is there a work around for this?

[2019-10-04 14:14] caisq commented on #1667
I just verified that this issue of missing FusedBatchNormV3 is fixed in the latest release of tfjs-node (1.2.10) and tfjs (1.2.10). Can you make sure you use that latest version, @peckhart89 ?

[2019-10-04 14:25] peckhart89 commented on #1667
Thanks for your quick response..

I am actually not using tfjs. I am using trt in python.

[2019-10-04 14:33] peckhart89 commented on #1667
I submitted this as issue on the tensorflow/tensorrt repo.

[2019-10-04 14:40] tafsiri commented on #2138
@Jurge92 can you get your video playing in a <video> tag? If so you should be able to pass a JS reference to that element to Posenet. If that doesn't work could you make a JSfiddle or something similar online that reproduces the problem.

[2019-10-04 19:04] evmar opened #2148 "Enable strictNullChecks"
TypeScript has a 'strictNullChecks' feature that makes the type system more strict around handling of null.

I see there have been multiple bugs filed by users who have been confused about this:
  https://github.com/tensorflow/tfjs/issues?q=is%3Aissue+strictnullchecks+is%3Aclosed
but there appears to be no overarching bug about actually turning it on.

---

I normally think it's totally up to you

[2019-10-04 19:05] evmar commented on #2148
(This is also blocking Google-internal bug b/114839683, which is why I was inspired to file this.)

[2019-10-04 19:27] eschirtz commented on #2046
Hey @kangyizhang, it looks like I'm having the same issues.

Node `v10.16.3`
Npm `6.9.0`
Mac OS `10.14.6` - MacBook Pro
Successfully ran [tfjs-node example](https://github.com/tensorflow/tfjs-examples/tree/master/mnist-node)

#### Extra context
I'm using tfjs in a Vue.js / Electron app. I just factory restored my machine, on which everything was working before the reset. I also got this error on a

[2019-10-04 20:35] rthadur commented on #2148
@evmar thank you for reporting this , @dsmilkov @nsthorat any thoughts on this request ?

[2019-10-04 20:50] evmar commented on #2148
I tried turning it on in tfjs-layers just to see how bad it would be.

It pointed out that logic is a bit strange:
https://github.com/tensorflow/tfjs/blob/c8a47c34c25a140452ce731dbf5d6255d00f24d6/tfjs-layers/src/engine/topology.ts#L1603

The nodeIndex param is optional, but if it's provided then we clobber it with something else, and then unconditionally use it as an index into an array a few line

[2019-10-04 21:00] kangyizhang opened #2150 "tfjs-node-gpu can not be installed with `preinstall:prep-gpu.sh`"
To get help from the community, we encourage using Stack Overflow and the [`tensorflow.js`](https://stackoverflow.com/questions/tagged/tensorflow.js) tag.

#### TensorFlow.js version

#### Browser version

#### Describe the problem or feature request

#### Code to reproduce the bug / link to feature request
If you would like to get help from the community, we encourage using Stack Overflow and the

[2019-10-04 21:00] kangyizhang commented on #2150
cc: @nsthorat

[2019-10-04 22:45] kangyizhang commented on #2046
hi @eschirtz

1) with which version of tfjs-node are you seeing this error?
2) if you clone repo [@tensorflow/tfjs](https://github.com/tensorflow/tfjs), go to folder tfjs-node, then run `yarn && yarn test`, can you paste the output here? Thanks

[2019-10-04 23:01] eschirtz commented on #2046
1. I had `^1.0.2`, but I just upgraded to latest `1.2.10` and received the same error
2. Tests appear to have passed
[code]

Thanks!

[2019-10-05 02:40] PhillipMerritt commented on #1985
I'm also dealing with this when attempting to predict on a stack of frames from a game with a shape of [4,172,95,1].

I'm not really sure how to work around this besides going back to predicting on single frames.

[2019-10-05 05:19] xianrenb commented on #510
I believe that the floor() bug should have been fixed in ANGLE, so it is unrelated to the problem.

I found that either my GPU is reporting wrong max texture size, or it does not work correctly when max texture size is used.
I tried to add the following code and it works for me:
`const maxTextureSize = tf.ENV.getNumber('WEBGL_MAX_TEXTURE_SIZE') / 2;
tf.ENV.set('WEBGL_MAX_TEXTURE_SIZE', maxTextureS

[2019-10-05 06:38] tylerzhu-github opened #2153 "[Umbrella Entry] BodyPix 2.0 Enhancement PRs"
BodyPix 2.0 Enhancement Follow up PRs

#### After BodyPix 2.0 main [PR](https://github.com/tensorflow/tfjs-models/pull/280) is merged, the following enhancement PRs should address:
- Shares utility code between BodyPix 2.0 and PoseNet 2.0 [[pr](https://github.com/tylerzhu-github/tfjs-models/pull/1)] (TODO: @oveddan)
- Updates the BodyPix 2.0 README.md file [[pr](https://github.com/tensorflow/tfjs-

[2019-10-05 09:22] startupgurukul commented on #991
https://github.com/intel/webml-polyfill this is a way of running tflite on web

[2019-10-05 10:18] xianrenb commented on #510
Maybe related: [https://software.intel.com/en-us/forums/graphics-driver-bug-reporting/topic/599160](https://software.intel.com/en-us/forums/graphics-driver-bug-reporting/topic/599160)

[2019-10-05 22:29] conorpo opened #2154 "tfjs-node-gpu for windows."
Was hoping you guys could add windows support for tfjs-node-gpu. Having it only available for linux is a bit limiting. And I cant use tfjs-node either because I have an AMD cpu.

[2019-10-06 02:12] kwonoh commented on #1601
It's still an issue.
See [this screenshot](https://www.dropbox.com/s/7jwtpli5a90aezu/Screenshot%202019-10-05%2019.10.31.png?dl=0).
I tested on [this page (tfjs 1.2.7)](https://js.tensorflow.org/api/1.2.7/#topk).

[2019-10-06 13:00] sdll commented on #1606
Closing, since the model garden is designed to be framework-agnostic, with the best practices reflected in the frequently changing model implementations.

[2019-10-06 13:00] #1606 closed

[2019-10-06 19:29] caisq opened #2156 "yarn pull fails for tfjs-node-gpu 1.2.10"
#### TensorFlow.js version
tfjs-node-gpu 1.2.10

#### Code to reproduce the bug / link to feature request
Just add `"@tensorflow/tfjs-node-gpu": "1.2.10"` as a dependency in package.json and do `yarn`.

See the following error:

The same workflow works fine for tfjs-node 1.2.10 (CPU version) and for tfjs-node-gpu 1.2.9.

[2019-10-06 22:22] isaac-fisher opened #2157 "Bug in tfjs-models/knn-classifier demo and tutorial"
In the `tfjs-models/knn-classifier/demo` as well in its [tutorial](https://codelabs.developers.google.com/codelabs/tensorflowjs-teachablemachine-codelab/index.html#6), there is a bug that causes the classifier to work only if the user clicks on the 'add example' buttons in an ordered way. If you try to classify not in order, like starting with the second button before the first, the result will be

[2019-10-07 00:05] rdeprey commented on #1903
I'd be interested in more Tensorboard support too. I love the Tensorflow.js library, but more features for viewing/debugging model training would be helpful.

[2019-10-07 03:39] kangyizhang commented on #2156
This is a bug in tfjs-node-gpu@1.2.10 duplicate of https://github.com/tensorflow/tfjs/issues/2150. I'll release tfjs-node-gpu@1.2.11 once the fix is merged.

[2019-10-07 03:39] #2156 closed

[2019-10-07 03:43] caisq commented on #2150
@kangyizhang Thanks for filing this bug and investigating it. It is not specific to windows, is that correct? If so, the title of this bug should be updated accordingly.

[2019-10-07 03:44] kangyizhang commented on #2150
@caisq yes you are correct, thanks for catching it.

[2019-10-07 04:17] xamarindevelopervietnam commented on #622
interesting

[2019-10-07 14:44] nsthorat commented on #991
@startupgurukul unfortunately that requires a custom chromium build.

[2019-10-07 15:19] startupgurukul commented on #991
Hi Nikhil, My understanding, polyfill is enough to run in any browser and custom chromium build if one needs native performance.

Here are some examples to they provide
https://intel.github.io/webml-polyfill/examples/

[2019-10-07 16:07] #2150 closed

[2019-10-07 18:43] rthadur commented on #2154
please refer to this [link](https://github.com/tensorflow/tfjs-node/tree/master/tfjs-node) , this explains steps to installing tfjs-node-gpu on windows.

[2019-10-07 18:43] #2154 closed

[2019-10-07 19:40] eschirtz commented on #2046
Wanted to drop in my `package.json` as well. This project does work on my colleagues Windows & Linux machines, just not the Mac Computers I have been using.

[code]

[2019-10-07 22:52] rthadur commented on #2157
I was able to reproduce this bug on my mac @nsthorat @dsmilkov any comments ?

[2019-10-08 05:30] Korochan17 commented on #2046
Same issue
I did as mentioned here https://www.tensorflow.org/js/tutorials/setup
`yarn add @tensorflow/tfjs-node`

then run the example
`node example.js`
const tf = require('@tensorflow/tfjs');

// Optional Load the binding:
// Use '@tensorflow/tfjs-node-gpu' if running with GPU.
require('@tensorflow/tfjs-node');

// Train a simple model:
const model = tf.sequential();
model.add(tf.layers.dense({u

[2019-10-08 08:15] lewis617 opened #2170 "Provided weight data has no target variable: conv1_bn/moving_mean"
To get help from the community, we encourage using Stack Overflow and the [`tensorflow.js`](https://stackoverflow.com/questions/tagged/tensorflow.js) tag.

#### TensorFlow.js version
1.2.11
#### Browser version
77.0.3865.90
#### Describe the problem or feature request
when I upgrade from 1.2.8 to 1.2.11, it throw these error.
[code]
and I try to lock the version to 1.2.8 and it work well again.
##

[2019-10-08 12:48] #1262 closed

[2019-10-08 12:57] DavidGOrtega commented on #764
Also you have data on the range [0, 255] so don't forget to preprocess and postprocess to fit your activations.

@oveddan depends on the model. As I stated in my comment there are so many ways. That code actually works for an encoder-decoder model that I have. Was just only a recipe not a universal solution. I did it just because I found my self very limited in node js managing images.

[2019-10-08 16:49] kangyizhang commented on #2046
hi @eschirtz can you do the following:
1. remove dependency of @tensorflow/tfjs in package.json. tfjs-node will install @tensorflow/tfjs with corresponding version.
2. use the exact version of @tensorflow/tfjs-node (remove `^` before the version number). Delete `node_modules`, `yarn.lock` and `package-lock.json`, then install dependencies.
3. if it's still not working, can you list what inside `..

[2019-10-08 16:52] kangyizhang commented on #2046
@Korochan17 which version of @tensorflow/tfjs-node are you using and what's your OS?

[2019-10-08 17:16] rthadur commented on #2170
@lewis617 can you please tell us what you are trying to do , any code samples where we can reproduce the error ?

[2019-10-08 18:14] rthadur commented on #1682
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-10-08 18:14] #1682 closed

[2019-10-08 18:14] rthadur commented on #1989
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-10-08 18:14] #1989 closed

[2019-10-08 18:42] rthadur commented on #2043
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-10-08 18:43] rthadur commented on #2062
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-10-08 18:43] #2062 closed

[2019-10-08 18:48] #1211 closed

[2019-10-08 19:00] caisq commented on #2170
This is caused by https://github.com/tensorflow/tfjs/pull/2114. I'll send a fix soon.

[2019-10-08 19:52] #2170 closed

[2019-10-08 19:56] PiyushRamuka commented on #2075
@kangyizhang - please let me know if there is anything I can do on my end to provide more insight into this issue. Thanks in advance.

[2019-10-08 20:14] kangyizhang commented on #2075
@PiyushRamuka since I can not reproduce this issue, it would be helpful to debug on your end. Looks like it has nothing to do with the tfjs-node library, but with webpack or browser config. Can you remove script src bundle.js in index.html and try `yarn start-client`? It should say "Waiting for server..." with no js code.

[2019-10-08 20:23] rthadur commented on #1172
Above error is not happening with latest version , please use latest version.

![image](https://user-images.githubusercontent.com/43972606/66430330-b32b3980-e9ce-11e9-97f9-771d712f7e5d.png)

[2019-10-08 20:23] #1172 closed

[2019-10-08 20:27] rthadur commented on #1137
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-10-08 20:27] #1137 closed

[2019-10-08 20:28] rthadur commented on #1106
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-10-08 20:28] #1106 closed

[2019-10-08 20:29] rthadur commented on #1105
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-10-08 20:29] #1105 closed

[2019-10-08 20:32] rthadur commented on #989
related PR has been merged , will be closing this issue.

[2019-10-08 20:32] #989 closed

[2019-10-08 20:35] rthadur commented on #990
Related PR has been merged [here](https://github.com/tensorflow/tfjs-core/pull/1470) , so closing this issue.

[2019-10-08 20:35] #990 closed

[2019-10-08 21:04] caisq opened #2175 "tf.io.serialization.register() should warn or throw on duplicate registration of classes under the same name"
To get help from the community, we encourage using Stack Overflow and the [`tensorflow.js`](https://stackoverflow.com/questions/tagged/tensorflow.js) tag.

#### TensorFlow.js version
1.2.11

#### Describe the problem or feature request
Context: see https://github.com/tensorflow/tfjs/issues/2170. Two classes got registered under the same name, causing trouble.

The register() method should at least

[2019-10-08 21:45] rthadur commented on #1325
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-10-08 21:45] #1325 closed

[2019-10-08 21:45] rthadur commented on #1305
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-10-08 21:45] #1305 closed

[2019-10-08 21:49] rthadur commented on #1297
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-10-08 21:49] #1297 closed

[2019-10-08 21:49] #1260 closed

[2019-10-08 22:01] rthadur commented on #1867
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-10-08 22:01] #1867 closed

[2019-10-08 22:27] rthadur commented on #263
I was not able to reproduce the error now with latest versions, so will be closing this issue , feel free to comment so that we can reopen.Thank you.
![image](https://user-images.githubusercontent.com/43972606/66437956-170a2e00-e9e0-11e9-908b-e758d5959880.png)

[2019-10-08 22:27] #263 closed

[2019-10-09 02:53] wingman-jr-addon commented on #2036
@annxingyuan @pyu10055 Any further thoughts on this? I had tried it out with 1.2.10.1 and it still was giving the same message. I'd try 1.2.11 but I don't see it on pypi yet.

[2019-10-09 04:06] wingman-jr-addon commented on #2036
For what it's worth, I did get this "working" by hacking it directly into my venv's keras/losses.py. I know that I had to add this as a custom object to Keras in an older version for general python usage, but without control of the custom object scope, I figured this would be the fastest method to test it (I also had a custom weighted loss function to plumb in while I was it that was not stock Mob