[2020-11-11 18:00] tafsiri commented on #4217
Can you tell us more about what environment you are seeing this in. Are you importing the module in a browser or running this through a bundler/build tools?

[2020-11-11 18:03] vladmandic commented on #4217
i've tried both - running in browser directly and running through the bundler.

header of `@tensorflow/tfjs-backend-wasm/dist/tf-backend-wasm.es2017.js` is clearly wrong - that is supposed to be a browser bundle and yet it includes requires for `fs, `path`, `perf_hooks`. no other esm bundle (tfjs-core, tfjs-backend-webgl, tfjs-backend-cpu, etc.) has that.

[2020-11-11 18:05] rthadur commented on #4214
@purviljain this question has been answered in #4212 , i assume we can close this and track at one place . Thank you

[2020-11-11 18:05] #4214 closed

[2020-11-11 18:09] rthadur commented on #4171
cc @pyu10055 @tafsiri

[2020-11-11 18:25] abbhinavvenkat commented on #4212
@pyu10055
a. We feel it is because of some operation in TfJs being incompatible, or, like you pointed out, possibly with different implementation in Tf and TfJs. Do you know of a way to check such operations?
b. We've tried a single model: Resnet based Encoder-Decoder as well (https://github.com/tensorflow/tfjs/issues/4214) and notice a drop in accuracy. How do you suggest we proceed?

[2020-11-11 18:42] jasonmayes commented on #4177
+1 to this! Would love to see this as part of the model repos for TFJS - a lot of people making Chrome Extensions to do great things in video calls etc and this would just make those experiences even more efficient when running to get higher FPS etc.

[2020-11-11 19:10] vladmandic commented on #4218
Closer look, it's even worse - `browser.js`fromPixels_()` will create extra canvas if it cannot get `2d` context.

So not only there is a missing native implementation, but fallback one is really bad.
[code]

Plus it uses DOM (`document.createElement`), so it cannot be executed in Web Worker (if you *have to* create additional canvas, should try `OffsreenCanvas` first and use DOM as fallback).

If

[2020-11-11 21:39] mydigitaltears commented on #3434
Why is this closed? Has anyone resolved this issue?

[2020-11-11 22:07] tafsiri commented on #4217
For the bundler options, the first import `import {setWasmPaths} from '@tensorflow/tfjs-backend-wasm';` is similar to what [we have here in our webpack example](https://github.com/tensorflow/tfjs/tree/master/tfjs-backend-wasm/starter/webpack) and I updated that to 2.7.0 and could build and serve the page without an error. Would you be able to share a small repo with a reproduction of the error you

[2020-11-11 22:38] vladmandic commented on #4217
Sorry, when I said it works with no bundler, that's one level removed - my library uses tf and it creates bundle.
Then I can use it inside html+js and that doesn't need to be bundled anymore. Ignore all notes on 'no bundler'.

Now, when it comes to bundlers, different bundlers generate different code - and some just strip unresolved extra requires.
In my case, I use `esbuild` which does as little

[2020-11-11 23:29] bcarthic opened #4221 "The shape of dict['image_tensor'] provided in model.execute(dict) must be [-1,-1,-1,3], but was [224,224,3]"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow.js): **No**
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: **Android Emulator API level 30**
- TensorFlow.js installed from (npm or script link):
- TensorFlow.js version (use command below):
[code]

**Describe the current behavior**

[2020-11-12 00:07] waittim opened #4222 "Unsupported Ops in the model before optimization TensorScatterUpdate"
**System information**
- TensorFlow.js version (you are using): 2.7.0

**Describe the feature and the current behavior/state.**
`TensorScatterUpdate` is not supported.

[code]

**Any Other info.**
The SavedModel is converted from the onnx model(opset_version=11). You can find the model I used [here](https://github.com/waittim/mask-detector/tree/master/modeling/weights/tensorflow/yolo-fastest.pb).

[2020-11-12 12:57] djthegr8 commented on #4206
@rthadur I opened in a Windows 10 laptop, please check using the WASM backend. My console output is below
![image](https://user-images.githubusercontent.com/44142719/98942879-af90ad00-2514-11eb-8bed-457216d8e311.png)

[2020-11-12 14:04] purviljain commented on #4212
Hey @rthadur , our issue hasn't been resolved yet
It would be great if we could get some more insights on the two problems stated in the previous comment.
Thank you!

[2020-11-12 15:41] Snupas opened #4223 "Nevermind, please delete."
Nevermind, please delete. Thank you.

[2020-11-12 17:20] #4223 closed

[2020-11-12 17:22] pyu10055 commented on #4221
@bcarthic The API requires rank 4 tensor, while you are providing a rank 3 tensor. you can do following to reshape:

[code]

[2020-11-12 17:53] vladmandic commented on #4217
UPDATE:

I just noticed that even when I'm importing:
`import { setWasmPaths } from '@tensorflow/tfjs-backend-wasm/dist/index.js';`
and everything works fine, there is a ghost request towards web server:
`GET/2.0 404 /dist/empty:perf_hooks`

This is because `dist/index.js` still uses a bundled `dist/miniprogram/index.js` which has the silly header with excessive requires!

I think it all comes dow

[2020-11-12 18:06] rthadur commented on #4222
cc @annxingyuan

[2020-11-12 18:08] rthadur commented on #4206
cc @annxingyuan

[2020-11-12 18:16] #3962 closed

[2020-11-12 18:42] bcarthic commented on #4221
@pyu10055  Great thanks. It worked. I also tried the below, which seems to work too.
[code]
Is that correct?

Also how do I interpret the output, it seems to be different compared to when I load using web server and use
`model.detect(tensor)` gives a prediction object.

I am not sure how to post process the output. Is there any documentation or samples to proceed further?

[2020-11-12 18:49] adriang133 commented on #4183
Tried it in a fresh project and it worked. Must've been something else in my project that caused it to fail.

Sorry about that!

[2020-11-12 18:49] #4183 closed

[2020-11-12 19:07] carlosdelamora commented on #3786
Where is this public/model.json folder located?

[2020-11-12 19:08] mydigitaltears opened #4225 "Use another input than microphone for speech commands"
Hi!

I was wondering if it was possible to use another audio input instead of the microphone for the speech commands

I would like to analyze mp3 radio streams and classify a music class + a talking class in real-time.

Thank you so much!

[2020-11-12 21:17] bcarthic commented on #4221
@pyu10055 I found the solution to interpret the output and got the desired result. Thanks very much for helping. This can be closed

[2020-11-12 21:17] #4221 closed

[2020-11-12 22:06] vladmandic commented on #4217
UPDATE: there is a related pending pull request: <https://github.com/tensorflow/tfjs/pull/3816/commits/f5fe8e89aa316d3d49dd0beb5df8061249f60274>

[2020-11-12 23:33] rthadur commented on #4225
cc @tafsiri

[2020-11-13 02:43] kylemcdonald opened #4227 "[wasm] Optimization of tf.browser.fromPixels."
I noticed that [tf.browser.fromPixels](https://github.com/tensorflow/tfjs/blob/master/tfjs-core/src/ops/browser.ts#L145-L151) can be very slow when it spends time in this loop:

[code]

(Also reported by #4218)

I was able to get significantly better performance with my application by calling this function instead:

[code]

And then calling it like sort of like this:

[code]

I think the thing tha

[2020-11-13 09:21] jinmingteo opened #4229 "Ubuntu 18.04 Docker Image getting stuck on MNIST sample"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04 (using **Docker**)
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: N/A
- TensorFlow.js installed from (npm or script link): npm
- TensorFlow.js version: 2.7.0
- CUDA/cuDNN version:10.0, cuDNN7

**Describe the problem**

**Provide the exact sequence of comma

[2020-11-13 15:48] mattsoulanille commented on #4112
Closing this issue as the floor kernel has been implemented. If you end up needing more kernels for mnist-acgan, feel free to reopen it.

[2020-11-13 15:48] #4112 closed

[2020-11-15 00:46] pyu10055 commented on #4133
I have investigated the unstack op, the num parameter has to be same as the dimension of the axis, which means it is not needed.
 The issue of #4128 is caused by GatherV2 op not supporting batch_dims parameter, I have verified with this fix, the model can be executed without errors.

[2020-11-15 02:49] PeterL1n commented on #4222
Hope this implemented soon as well!

[2020-11-15 08:28] qozle opened #4234 "tfjs-node backend not recognized while using coco-ssd model on node.js"
Hi all.  Been banging my head against this for a while now.  Opened a stackoverflow question [here](https://stackoverflow.com/q/64832338/10129202).

I keep getting this happy message:
[code]

I'm using the 2.70 tfjs-node npm package and the 2.1 @tensorflow-models/coco-ssd model npm package on an ubuntu 20 LTS server.  Here's how I'm importing it:
[code]
Just in case, I've made sure I'm using pytho

[2020-11-15 19:02] pyu10055 commented on #4212
@abbhinavvenkat @purviljain One way to debug the difference is walk through the model topology node by node, and compare tensor values between python and TFJS. This would likely identify the problematic op. TensorFlow has a tool called TFDbg where you can show tensor values within the session, and in TFJS you need to put breakpoint in the ModelExecutor class to iterate through the op execution.

I

[2020-11-15 22:24] sbrl opened #4237 "TypeError: Cannot read property 'backend' of undefined - tensor is already disposed when moveData is called."
I'm trying to setup an LSTM, but Tensorflow.js doesn't seem to like it very much. It keeps crashing with the following error:

[code]

Is there any reason for this? I've double-checked all my tensors going in, and they all contain valid data.

System details:

 - Intel(R) Core(TM) i7-10875H CPU @ 2.30GHz
 - Ubuntu 20.10
 - Nvidia GeForce RTX 2060 Driver Version: 455.38, CUDA Version: 10.0 (11.1 in

[2020-11-16 02:01] wingman-jr-addon commented on #4227
I'm looking at the other report over in #4218 and the nature of that bug along with an examination of the source lead me to believe this path is primarily triggered for WASM, right? The other backends register their own implementations, I think. Can you confirm?

[2020-11-16 11:21] vladmandic commented on #4128
nice - will test as soon as #4233 is merged.

[2020-11-16 11:51] vladmandic commented on #4227
@kylemcdonald This is very much inline in what I'm suggesting in #4128

Two suggestions that can enhance your code:

Try OffscreenCanvas before DOM, it's slightly faster and works inside web workers. But it's not supported on Firefox yet.
[code]

Try GL `readPixels` method first as its quite a bit faster.
And fallback to 2D context and `getImageData` if cannot get GL context.
[code]
But...one issu

[2020-11-16 12:00] vladmandic commented on #4166
@pyu10055 @annxingyuan any updates?

[2020-11-16 12:01] vladmandic commented on #4066
@tafsiri any luck getting update?

[2020-11-16 12:35] prakashr85 opened #4239 "Uncaught Error: The dict provided in model.execute(dict) has keys that are not part of graph"
model used: custom training ultralytics yolo v5 converted to tensorflow saved model then to tensorflow js (quantized to uint8) when using model.predict getting this error,

- OS Platform: Windows 10 Desktop Chrome
- TensorFlow.js installed from (npm or script link): 2.7.0
- Browser version: Version 86.0.4240.183 (Official Build) (64-bit)
- Tensorflow.js Converter Version: 2.7.0

`Uncaught Error: T

[2020-11-16 13:28] vladmandic commented on #3942
@pyu10055

no need to track them during optimization, just re-map them correctly as a last step before writing `model.json`

`graph_model` output nodes are named using `Identity_{index}` where index is in exactly the same order as output nodes of `saved_moded`

so in this example,

[code]

example `saved_model` output nodes:
[code]

example `graph_model` output nodes:

[code]

[2020-11-16 14:42] dennis508 commented on #4208
This code insertion eliminates the crash:

tf-backend-wasm.node.js
BackendWasm.prototype.move = function (dataId, values, shape, dtype) {
...
var memoryOffset = this.wasm._malloc(numBytes);
if (memoryOffset == 0) throw new Error("Heap overflow"); // Insert this line.
...

If something is leaking memory or allocating excessively or if 2GB heap is just too small I cannot say.

[2020-11-16 14:49] annxingyuan commented on #4166
Hi @vladmandic - apologies for the delay. I've uploaded a test build of the WebGL backend here: https://storage.googleapis.com/learnjs-data/temp/tf-backend-webgl.es2017.memfix.js

Would you mind testing this out to see whether it fixes the `getPackedSampler2D` error you pasted above, when `WEBGL_DELETE_TEXTURE_THRESHOLD` is set to 0?

[2020-11-16 15:36] tafsiri commented on #4217
I think this basically boils down to how the bundler you are using handles different kinds of modules.

Works end-to-end.

- If your bundler isn't following the module entry, but you do want to consume es modules as part of your build, `import { setWasmPaths } from '@tensorflow/tfjs-backend-wasm/dist/index.js';` is a fine way to go (that is what the module entry points to). Though you may want to

[2020-11-16 15:43] #3998 closed

[2020-11-16 15:48] vladmandic commented on #4166
@annxingyuan

i cannot get your `tf-backend-webgl.es2017.memfix.js` to work with generic `tfjs-core` from tfjs 2.7.0, getting error:
`The kernel 'undefined' for backend 'webgl' is already registered`
and later it fails on first tensor operation as not implemented.

can you point me to your branch and i'll just do a full rebuild myself? it's easier than trying to mix&match.

[2020-11-16 15:50] annxingyuan commented on #4166
Sure - here you go: https://github.com/tensorflow/tfjs/pull/4240

[2020-11-16 16:15] Aligertor commented on #2300
found the solution on stackoverflow

https://stackoverflow.com/questions/56049893/only-absolute-urls-are-supported-when-loading-keras-model-in-tensorflow-js-wit

in short:
make sure "@tensorflow/tfjs-node" is imported/required when loading a model in node

gl

[2020-11-16 16:16] vladmandic commented on #4217
yes, `miniprogram` is a a red herring, sorry about that, it's just a copy of minified cpu backend that is internally used by everyone.
`build-npm.sh:cp dist/tf-backend-cpu.min.js dist/miniprogram/index.js`

and lets assume `import { setWasmPaths } from '@tensorflow/tfjs-backend-wasm';` fails because bundler is too aggresive with tree shaking. i'll handled that on the bundler side.

so there are no

[2020-11-16 16:33] vladmandic commented on #4166
build works, but unfortunately it doesn't improve webgl memory consumption - it's actually slightly higher in the first phase and the same in the second phase (where there is a max peak).

tested with `efficientdet-d2`.

using tfjs 2.7.0
![image](https://user-images.githubusercontent.com/57876960/99280428-5324da80-27ff-11eb-9af8-4dcd493368ea.png)

using tfjs from #4240 branch:
![image](https://use

[2020-11-16 16:46] vladmandic commented on #4166
few more tests - seems that this proposed fix does solve one problem - if a model executes in 4GB, deallocation will now work and subsequent executions will continue to work.

but it doesn't solve core issue - why is there such an enormous gpu memory usage with webgl to start with compared to any other backend? i cannot get anything even remotely complex to execute within 4gb gpu, so deallocation

[2020-11-16 16:46] rthadur commented on #4234
@qozle can you please share your package.json file

[2020-11-16 17:22] armelyara opened #4241 "[Codelab]: Making Predictions from 2D Data"
Hello,
I am training the model on my browser but i got a underfiting. Is it cause by my browser or my PC?

[2020-11-16 17:22] rthadur commented on #4237
@sbrl please provide reproduction code in [codepen](https://codepen.io/)  , thank you

[2020-11-16 17:29] rthadur commented on #4239
@prakashr85 please provide minimal reproduction code in codepen if possible

[2020-11-16 17:35] rthadur commented on #4241
@armelyara please choose a template [here](https://github.com/tensorflow/tfjs/issues/new/choose) , so that it is easy for us to better assist you. Thank you

[2020-11-16 17:35] #4241 closed

[2020-11-16 18:03] armelyara opened #4242 "TensorFlow.js: Make a prediction from 2D Data"
I follow a lab on Google Codelabs about predictions and at the lab end, I didn't get the same score about prediction.
In fact, I trained the model directly on my chrome Browser and i got as result a underfiting for predictions.

async function trainModel(model, inputs, labels){
    //Préparer le modèle pour l'entrainement
    model.compile({
        optimizer: tf.train.adam(),
        loss: tf.los

[2020-11-16 18:12] sbrl commented on #4237
@rthadur Thanks for the reply. Unfortunately, reproducing it in codepen will be extremely challenging because this is a bug in the _Node.js_ version of Tensorflow.js - NOT the browser version. I can certainly provide an isolated Node.js test case instead, but I seriously doubt that a browser test case is going to help anyone debug this issue at all.

[2020-11-16 18:23] tafsiri commented on #4237
An isolated node.js test case would be great! Thanks

[2020-11-16 18:25] mceIdo commented on #4201
No, and I get it that it's part of the official docs to place this flag in case of an error, but our case doesn't allow skipping lib checks

[2020-11-16 18:25] tafsiri commented on #4242
You generally might not get exactly the same values as the codelab due to a number of random variables in the models initialization, and varying behaviour in the hardware you are using. But as long as your loss is decreasing and your accuracy increases to a reasonable place then there is no bug to worry about.

[2020-11-16 18:33] tafsiri commented on #4217
`@tensorflow/tfjs-backend-wasm/dist/tf-backend-wasm.js` and `@tensorflow/tfjs-backend-wasm/dist/tf-backend-wasm.es2017.js` are UMD bundles that provide unminified code using ES5 and ES2017 syntax (note: just the syntax changes, not the module format) this allows people to opt into browser bundles that use modern es6+ code (e.g. async await) even if they do not yet have support for es6 modules. We

[2020-11-16 18:38] armelyara commented on #4242
Ok thank you. I have other questions please.
Before congratulation for this lab.
Is it possible to get your contacts? I sent you relation quest on LinkedIn.

Best regards

On Mon, 16 Nov 2020, 18:26 Yannick Assogba, <notifications@github.com>
wrote:

[2020-11-16 19:07] tafsiri commented on #4201
In that case you may need to wait until we upgrade the version of typescript we compile with. We are planning on doing that in the nearish future but I can't give you an ETA on that. I think this is caused by a clash between the now built in types for webgl and the @types/webgl2 package we currently use.

[2020-11-16 19:15] tafsiri commented on #4242
Are your questions about TensorFlow.js? We/I can't offer general ml support unfortunately. This is a good place to file bugs with the library, but for general assistance we recommend checking out resources like https://www.tensorflow.org/resources/learn-ml/basics-of-tensorflow-for-js-development or asking on [stackoverflow](https://stackoverflow.com/questions/tagged/tensorflow.js) for technical qu

[2020-11-16 19:28] vladmandic commented on #4217
No other part of tfjs has a bunch of c++ code that needs to be compiled.

`tfjs-node` is based on `tensorflow.so` which is downloaded istead of being compiled, so that doesn't really hold.

    You can use yarn build-fast to skip the wasm bundle compilation

`build-fast` doesn't work unless full build has been completed first as it requires `tfjs-backend-wasm-*.worker.js` which are dynamically gen

[2020-11-16 19:36] tafsiri commented on #4225
This isn't currently directly possible with the speech-commands model, so it would require significant modification. The crux of it would likely involve extending [BrowserFFTExtractor](https://github.com/tensorflow/tfjs-models/blob/4a538cb9f6f333e09d96532464c0fe4042ea9d28/speech-commands/src/browser_fft_extractor.ts#L88) to support the kind of input you want to feed in. Even with that I'm not sure

[2020-11-16 19:38] armelyara commented on #4242
Ho ok i understand. Thank you Yannick.

On Mon, 16 Nov 2020, 19:15 Yannick Assogba, <notifications@github.com>
wrote:

[2020-11-16 19:51] #4242 closed

[2020-11-16 19:51] tafsiri commented on #4201
cc @mattsoulanille

[2020-11-16 21:04] sbrl commented on #4237
Sure thing!

Ok, so it's taken me a while (I couldn't reproduce it for a moment), but here's a link to an isolated test case: https://ybin.me/p/a1270fe449cdf849#ytc4MN1kBD9FJvUHsV3hDr7fYflYxY9ny1+suX75FZg=

Instructions:

1. Download the file, and save it to `isolated-test.mjs`.
2. Run `npm install @tensorflow/tfjs-node`
3. Run `node ./isolated-test.mjs` to execute the code.

A recent version of N

[2020-11-16 21:26] kylemcdonald commented on #4227
@vladmandic could you explain more what you mean by "best method would be to implement `fromPixels` directly in WASM backend"? I'm new to WASM and I don't understand what this means. Are you talking about a different way of getting the pixels that is neither `readPixels` nor `getImageData`? Or are you just saying where the code should be located?

@wingman-jr-addon I can confirm that this is desig

[2020-11-16 21:28] batrlatom opened #4245 "What to use instead of in EfficientDet0"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow.js):
- OS Platfo

[2020-11-16 21:29] #4245 closed

[2020-11-16 21:33] batrlatom opened #4246 "what to use insted of StatefulPartitionedCall/Postprocessor/Slice in EfficientDet0 model?"
I converted efficientdet0 model and successfully made a inference calls. When I want to make a boxes from inference results, I am stuck at what nodes to use.

You use ['StatefulPartitionedCall/Postprocessor/ExpandDims_1', 'StatefulPartitionedCall/Postprocessor/Slice'] as output tensors in your tfjs_models demo.

StatefulPartitionedCall/Postprocessor/ExpandDims_1 is present in the efficientdet0 gra

[2020-11-16 21:34] vladmandic commented on #4227
@kylemcdonald - yes, that's exactly what I'm saying - it's possible for a WASM module to work directly with canvas, so it could implement it's own function to get pixel data from canvas instead of relying on either GL `readPixels()` or 2D `getImageData()` which are both relatively slow, especially since additional postprocessing is needed to drop alpha channel.

But in the lack of such native impl

[2020-11-16 21:38] vladmandic commented on #4246
@batrlatom
Take a look at #3942 and the last note I wrote - that's how you can map output node names.

[2020-11-16 21:42] batrlatom commented on #4246
@vladmandic I will take look. Thanks for a quick response!

[2020-11-16 22:58] jasonmayes commented on #4225
Thanks for looping me in - I have not seen folk request this yet, the vast majority of folk use the mic as the input device here. The easiest way to do this using a mic right now would be to create a virtual cable on your computer so chrome picks up your speaker output as a mic input which you can then select and use for this purpose if you just need this to work on your machine. That could be a g

[2020-11-16 23:24] purviljain commented on #4212
Hey, sorry for the delay, we're working on a smaller model so it is easier for us to debug. We will share that shortly.
Can you also share your email-id with us? We would really prefer if we could share our model privately with you.
Thank you!

[2020-11-16 23:49] qozle commented on #4234
Certainly:

[code]

[2020-11-17 00:05] qozle commented on #4234
Also, I noticed this (I had it flagged to not show up but after a system restart, it showed up again):

[code]

[2020-11-17 01:36] #4133 closed

[2020-11-17 01:40] pyu10055 commented on #4222
@PeterL1n Since this Op is very similar to ScatterNd op, we should be able to add the support fairly soon.

[2020-11-17 01:40] pyu10055 commented on #4212
@purviljain You can create a private github repo and invite my github handle to the repo.

[2020-11-17 04:37] waittim commented on #4222
Thank you so much! I'm waiting for it!

[2020-11-17 05:28] vladmandic commented on #4128
Confirmed to work without issues - thanks!
I'm closing this issue.

[2020-11-17 05:28] #4128 closed

[2020-11-17 06:13] evanw opened #4248 ""sideEffects" annotation in package.json may be out of date"
I'm working on [a bug](https://github.com/evanw/esbuild/issues/458) filed by a user of this library against [esbuild](https://github.com/evanw/esbuild), a bundler I work on. It looks to me like this library uses the [sideEffects](https://webpack.js.org/guides/tree-shaking/#mark-the-file-as-side-effect-free) annotation in `package.json` to indicate that most files in the package do not have side ef

[2020-11-17 13:39] batrlatom commented on #4246
@vladmandic I was able to track the right node with netron. Thank you for hints.

The node which I was lookinf for is named 'StatefulPartitionedCall/Postprocessor/convert_scores' here.

[2020-11-17 13:39] #4246 closed

[2020-11-17 15:03] mydigitaltears commented on #4225
I understand, I will try the virtual cable for testing purpose. Thank you all for the information!

[2020-11-17 15:07] tafsiri commented on #4248
Thanks for reporting this, I'll take a look. We initally set this up to work with webpack 4 but can check on the behaviour in webpack 5. At least at that point we needed to have the explicit sideEffects list present to get the behaviour we want.

[2020-11-17 16:54] coryroyce opened #4251 "Non-linearity not plotting correctly in tfvis tutorial"
While following the [Making Predictions from 2D Data](https://codelabs.developers.google.com/codelabs/tfjs-training-regression?hl=en#0) tutorial, I was having a hard time getting the non-linearity of the model to show up in the tfvis graph ([my full code](https://github.com/coryroyce/Machine_Learning_Duration_Estimator/tree/main/src)).

Here is the non-linear model as suggested in the [extra steps

[2020-11-17 17:08] rthadur commented on #1421
Closing this due to lack of activity, feel to reopen. Thank you

[2020-11-17 17:08] #1421 closed

[2020-11-17 17:11] rthadur commented on #907
Closing this due to lack of activity, feel to reopen. Thank you

[2020-11-17 17:11] #907 closed

[2020-11-17 17:19] tafsiri commented on #4251
Nope you are on the right track! There is a hint in bullet 3 of that part of the code lab (the solution is not directly written out on the page).

Try adding more hidden layers (and experimenting with the number of units in them). You can also experiment with the other activation function (relu) mentioned on the [page we link out to](https://developers.google.com/machine-learning/crash-course/intr

[2020-11-17 17:23] tafsiri commented on #3197
Closing, sharded models are now supported in tfjs-react-native https://github.com/tensorflow/tfjs/pull/4113

We also updates the instructions on the [automl README](https://github.com/tensorflow/tfjs/tree/master/tfjs-automl#loading-the-model-1) to describe how to load a model with a custom IOHandler (i.e. something other than a string).

[2020-11-17 17:23] #3197 closed

[2020-11-17 17:32] sbrl commented on #4237
Oops, I did NOT mean to close this! Reopened. Hopefully that doesn't affect anything @tafsiri @rthadur?

[2020-11-17 20:59] evanw opened #4253 "The package "@tensorflow/tfjs-backend-wasm" is not minifier-safe"
I'm working on [a bug](https://github.com/evanw/esbuild/issues/538) filed by a user of this library against [esbuild](https://github.com/evanw/esbuild), a bundler I work on. The `@tensorflow/tfjs-backend-wasm` package breaks when bundled and minified. This problem is not specific to esbuild; it happens with a normal Webpack production build too with all default options. However, this is a problem

[2020-11-17 21:01] rthadur commented on #4253
cc @tafsiri @annxingyuan

[2020-11-17 23:04] tafsiri commented on #4237
I think I've traced this down to an issue in tf.data.generator and how you are using it in this instance. The core issue is that you are passing the same tensor references as part of multiple input/label tuples. Internally at some point tf will dispose of the tensor once it has been consumed from the generator. Here is a workaround:

[code]

Adding .clone() to the tensor that you yield to the gene

[2020-11-18 01:17] sbrl commented on #4237
Ah, thanks so much! That seems to have fixed it :D :D :D

Is there a way to patch Tensorflow.js to generate a more useful error message in circumstances like these (e.g. if a Tensor doesn't exist, then throwing a nice error too tell the developer about this), or should I just close this issue?

[2020-11-18 03:21] jinmingteo commented on #4229
Hi team,

It seems that the GPU training begins after a long 3-5 minutes delay. This is contrary to CPU which begins training immediately.
Why is that so?

Thanks!

[2020-11-18 11:50] prakashr85 commented on #4239
@rthadur  its just a modification of jason's template from codepen,  here it is (i use flask to run) https://codepen.io/prakashr85/pen/PozgabG  Tried with TF object detection model converted to tfjs as well same error.

[2020-11-18 13:16] purviljain commented on #4212
Hey we have created the private repo and sent you an invite.
The repo contains the python model file, the TFJS code, few sample inputs and outputs illustrating the difference in outputs between python and TFJS models.
Please let us know if anything else is required.
Really appreciate your help on this!

[2020-11-18 14:32] tafsiri commented on #4237
You can leave it open for now. We can discuss internally what the best solution might be (there are a number of different places we may want to tackle this). I'm going to update the title for when we get a chance to look more closely at this.

[2020-11-18 14:38] y-ich commented on #3849
When will version 2.8.0 be released?
I am tired of waiting for prod support;-)

[2020-11-18 14:40] purushothgj opened #4256 "Error: Argument 'x' passed to 'expandDims' must be a Tensor or TensorLike, but got 'Promise'"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10 Desktop
- TensorFlow.js installed from (npm or script link): 2.3.0
- TensorFlow.js version (use command below): 2.3.0
- Browser version: Version 86.0.4240.198 (Official Build) (64-bit)
- Tensorflow.js Converter Version: 2.3.0

I am new to Tensor flow and coding as well. I have retrained EfficientDet-D0 mod

[2020-11-18 15:18] quickdrawmcballs opened #4257 "tensorflow.dll is missing from tfjs-node and I can't build it following the instructions"
I've tried just about every potential fix I could find on mitigating this issue from this very own GitHub Repo and other sources. I'm going to apologize upfront, because I plan on detailing all the results here.

OS: Windows 10 Enterprise (OS Build 19042.572)
CPU: Intel(R) Core(TM) i7-7500U CPU @ 2.70GHz   2.90 GHz
Node: v14.15.1
npm: v6.14.5
python: v2.7
node-gyp: @7.1.2
Tensorflow:   @tensorflow

[2020-11-18 15:33] quickdrawmcballs commented on #4257
So it appears that this previous issue #2619 has a potential workaround. the built .dll can be found in the deps/lib.  I moved into lib dir and it worked.

`In the lib/napi-v4 folder, it should have tfjs_binding.node file and tensorflow.dll file. tensorflow.dll file is moved from deps/lib folder during installation. So it seems like the installation script failed to move it. Can you fork this repo

[2020-11-18 16:23] purushothgj commented on #4256
I found the problem. The tensorflowjs converter (python) was of version 2.7.0 and i was using tfjs 2.3.0 in angular and the problem resolved on updating it to 2.7.0.
Thanks.

[2020-11-18 16:23] #4256 closed

[2020-11-18 16:31] tafsiri opened #4259 "Investigate dropping side effects field"
As a follow-up investigating #4248 revealed that as of October, webpack 5 does not [require the sideEffects entry anymore](https://webpack.js.org/blog/2020-10-10-webpack-5-release/#side-effect-analysis).

- Investigate how well it (and our other target bundlers do) without that field
- Understand how webpack 5 adoption is going and whether we just want to target that for the custom bundle flow.

T

[2020-11-18 16:41] tafsiri commented on #4248
Thanks for the detailed report @evanw, We missed a few files in our sideEffects listing. I've made a PR to address this and unblock this issue, and will be testing out webpacks [new ability to do without the sideEffects field](https://webpack.js.org/blog/2020-10-10-webpack-5-release/#side-effect-analysis) more extensively. It would be great if we don't have to track this manually, but will have to

[2020-11-18 17:54] willmorgan commented on #4025
I can replicate the issue as per the OP on the Netlify app running Chrome 86 on macOS 10.15.7 (19H15) - this crashes the tab completely.

I'm also experiencing a tab crash here: https://tensorflow.github.io/tfjs/e2e/benchmarks/local-benchmark/index.html

I've found that I have a similar problem on an app of my own using Blazeface 0.0.5 and TFJS 2.7.0, where I get another "o is not defined" error.

[2020-11-18 20:52] #4248 closed

[2020-11-18 21:00] simon-lanf commented on #4253
I use @tensorflow/tfjs-backend-wasm with webpack and I have no problems. Webpack 4. I can give you my webpack config if you need.

[2020-11-18 21:02] tafsiri commented on #4253
@annxingyuan i can repro this issue (or at least one that seems related) with the sample webpack project in the repo. For the code mentioned in the issue, it this part of emscripten's output?

[2020-11-18 21:03] #4251 closed

[2020-11-19 01:21] rthadur commented on #4239
I guess there is a mismatch in the input provided in model , you need to see how the model was trained and then provide inputs accordingly.
cc @jasonmayes @pyu10055

[2020-11-19 03:13] asterisk37n commented on #3728
I know this issue is closed, but for visitors who uses tf.keras.applications.EfficientNetB?, it cannot be converted to tfjs because it uses Rescaling in it.
https://github.com/tensorflow/tensorflow/blob/v2.3.1/tensorflow/python/keras/applications/efficientnet.py#L316

[2020-11-19 04:01] Leiga opened #4269 "Uncaught (in promise) TypeError: Cannot read property 'length' of null"
<img width="510" alt="Screen Shot 2020-11-19 at 11 54 16 AM" src="https://user-images.githubusercontent.com/11975415/99619229-f4a96780-2a5d-11eb-9e8a-43c19b6af25e.png">

I was following the [TensorFlow.js - Audio recognition using transfer learning](https://codelabs.developers.google.com/codelabs/tensorflowjs-audio-codelab/index.html#7) tutorial. When I called the train() function by pressing the

[2020-11-19 09:33] lakshmikanth-reddy-au2 opened #4270 "Unable to resolve "@react-native-community/async-storage" from "node_modules\@tensorflow\tfjs-react-native\dist\async_storage_io.js""
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- Mobile device : Honor7x
- TensorFlow.js installed from (npm or script link): npm
- TensorFlow.js version: 2.7.0

Description:

Importing fetch from @tensorflow/tfjs-react-native resulting in above issue.

I am getting this issue when I import only. I did follow the exact steps as in docs.

Please see the

[2020-11-19 12:42] BruceDai opened #4271 "[tfjs-core] Error: The output # of rows (11.4) must be an integer when running pool test"
**System information**
- TensorFlow.js version (use command below):
"@tensorflow-core": "^2.7.0"

**Describe the current behavior**
When running [this pool test](https://brucedai.github.io/report-bug/unset_roundingMode_param.html), error happened

**Describe the expected behavior**
None error, and the output # of rows is an integer (11) computed with below Python code of [AVERAGE_POOL_2D test](htt

[2020-11-19 14:16] PSSABISHEK commented on #3364
Can you explain how you were able to resolve this issue. I have hit the same roadblock as well in iOS.

TensorFlow.js version - 1.7.2
Browser version - Safari IOS - 13

[2020-11-19 15:09] tafsiri commented on #4270
Your dependencies have "@react-native-async-storage/async-storage": "^1.13.2". But you need to have "@react-native-community/async-storage" installed.

It looks like the async-storage packaged moved to a new org recently so we would need to update our dependency in a future release, but at the moment you should be able to load it with the older package name. Let me know if you run into problems wi

[2020-11-19 15:21] vishnu-u commented on #3364
I just used a newer version. The version can be changed in URL if you are
loading tensorflow via CDN.

On Thu, 19 Nov 2020 at 7:46 PM, P.S.S.ABISHEK <notifications@github.com>
wrote:

[2020-11-19 16:26] annxingyuan commented on #4253
@tafsiri Yes, the code is part of emscripten's output. However we prepend code to it when converting it to a blob.

[2020-11-19 16:28] annxingyuan commented on #4253
@tafsiri Do you think this needs the release blocker tag since it is not specific to master?

[2020-11-19 16:49] tafsiri commented on #4253
Hmm I was thinking so because the example in the repo doesn't work in current form? What do you think?

I think with a closer look we can decide whether we want to this to block the next release (for example if we have to file an upstream bug with emscripten). But thought we should at least investigate before doing another release.

[2020-11-19 19:39] annxingyuan commented on #4253
Work-in-progress PR: https://github.com/emscripten-core/emscripten/pull/12832

[2020-11-19 20:50] rthadur commented on #4271
might be related issue [here](https://github.com/tensorflow/tfjs/issues/1055)

[2020-11-19 20:51] joshuaellis opened #4276 ".predict & .execute optional arguments type error"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow.js): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): MacOSX Big Sur
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: n/a
- TensorFlow.js installed from (npm or script link): 2.7.0
- TensorFlow.js version (use command be

[2020-11-19 21:01] joshuaellis commented on #4276
I want to add, I'd do a PR but I want to be sure which is incorrect the type or the docs.

[2020-11-19 21:27] rthadur commented on #2638
Closing this due to lack of activity, feel to reopen. Thank you

[2020-11-19 21:27] #2638 closed

[2020-11-19 21:35] pyu10055 commented on #4276
looks like there is some inconsistency on the predict/execute method between InferenceModel interface and GraphModel.
Can you check if you type the model as tf.GraphModel instead, will the type check pass?

[2020-11-19 21:41] joshuaellis commented on #4276
I've changed it to `tf.GraphModel` but `model.execute` still fails with `tf.LayersModel`.

in `training.d.ts` line 296 execute is written as –
[code]

so outputs is still required.

[2020-11-19 22:00] lina128 commented on #4271
Hi @BruceDai, thank you for the bug report! Do you want to contribute a fix PR?

[2020-11-19 22:59] pyu10055 commented on #4276
@joshuaellis you can use predict() method with tf.layersModel, the output strings are not required there.

[2020-11-19 23:06] joshuaellis commented on #4276
That would mean the docs are wrong then? as it says execute has an optional argument `outputs`

[2020-11-19 23:26] pyu10055 commented on #4276
@joshuaellis The doc for GraphModel and LayersModel are different, only execute on GraphModel says output is optional, LayersModel is consistent with InferenceModel interface, the outputs are required argument.

[2020-11-20 00:14] BruceDai commented on #4271
@lina128 OK, I'll submit a PR for it.

[2020-11-20 00:18] #4108 closed

[2020-11-20 00:47] ColinPeppler opened #4280 "model.save(url) | ValueError: Cannot find any save handlers for URL"
**System information**
- OS Platform: Mac OSX 10.14.6
- tfjs: 2.7
- tfjs-node: 2.7

**Standalone code to reproduce the issue**
[code]

A flask server is setup with endpoints /get-model and /upload-model. The /get-model endpoint provides an appropriate json, and so the model compile and trains properly. However, when trying to save the model to my Flask server, I receive the following error.
`Value

[2020-11-20 06:07] Leiga commented on #4269
https://stackoverflow.com/questions/64905349/uncaught-in-promise-typeerror-cannot-read-property-length-of-null problem solved

[2020-11-20 06:07] #4269 closed

[2020-11-20 06:46] aelich opened #4283 "Will TF.JS survive WebAssembly? Is TF.JS going to die?"
If we have [WebAssembly](https://webassembly.org/) tool that enables us to run C/C++,RUST, Python, Go... code in Browser at **native speed**  what is reason of using TF.JS in future?

WebAssembly(supports WebGL) and guarantee consistent performance across a spectrum of browsers while JS must be optimized per se.

Also as there is no need for multiple run of JS as interpreter and code can be compli

[2020-11-20 08:53] anssiko opened #4284 "Inconsistent ”Could not get context for WebGL version 2” error message"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow.js): no
- OS Platform and Distribution: macOS 10.15.7 and iOS 14.1
- Mobile device: iPhone 11
- TensorFlow.js installed from (npm or script link): `https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@2.7.0`
- TensorFlow.js version: `2.7.0`
- Browser version:
  - Safari 14.0 on iOS:

[2020-11-20 15:26] BruceDai commented on #4271
@lina128 Please take a look this PR #4282, thanks.

[2020-11-20 17:13] pyu10055 commented on #4257
@quickdrawmcballs can you try to install the 2.7.0 again, I have uploaded precompiled bindings for napi-v6, seems with that being downloadable, the dll is copied properly.

[2020-11-20 18:33] rthadur commented on #3766
Closing this due to lack of activity, feel to reopen. Thank you

[2020-11-20 18:33] #3766 closed

[2020-11-20 19:10] pyu10055 commented on #4284
@annxingyuan Can you help to confirm? The WebGL 2 check happens on the first API call, once it is identified missing, we will be using WebGL 1 instead. The following API calls would not trigger the warning message.

[2020-11-20 19:16] pyu10055 commented on #4283
@aelich You have raised a good point, WASM has been on a rise recently. TensorFlow.js being an ML platform for the web/javascript developers, we are tech stack neutral. Our goal is to utilized all web technologies to provide our users the best performance, that includes WASM, webGL, webGPU, and the future WebNN standard. WASM has already been used in our tfjs-backend-wasm package. We are also acti

[2020-11-20 19:41] quickdrawmcballs commented on #4257
@pyu10055 I tried as you requested.

- Removed the entirety of node_modules from the project
- Deleted package-lock.json
- npm install

Yet, I still don't see the .dll under the tfjs-node/lib/napi-v6/ dir.  I still have to move it from deps/lib

[2020-11-20 20:29] rthadur commented on #4280
cc @pyu10055 @tafsiri there is a similar issue for saving in file system that got resolved [here](https://github.com/tensorflow/tfjs/issues/723). seems to be bug in tfjs-layers

[2020-11-20 23:17] lexmulya opened #4290 "Adam on trainable = true/false net part"
Hello.

I'm a beginner trying to train a GAN network. Found an example https://medium.com/datadriveninvestor/generative-adversarial-network-gan-using-keras-ce1c05cfdfd3
In python, the example works fine, but I need to run it under NodeJS.
I rewrote it in JS - https://pastebin.com/RZt6AtZc
And I get the error
(node: 3988) UnhandledPromiseRejectionWarning: Error: Invalid TF_Status: 3
Message: Incomp

[2020-11-21 20:35] vladmandic commented on #4166
also, not sure if its feasible given it's lossy compression and not sure how tfjs works with such textures, but perhaps it's worth taking a look at <https://developer.mozilla.org/en-US/docs/Web/API/WEBGL_compressed_texture_etc> or <https://developer.mozilla.org/en-US/docs/Web/API/WEBGL_compressed_texture_s3tc>

[2020-11-22 01:22] ghafran opened #4293 "AutoML Vision Tensorflowjs - Cannot read property 'reduce' of undefined"
When using the latest model created by automl for tensorflowjs for image classification or object detection, getting the following error when running:

`const model = await tf.automl.loadImageClassification('/model/model.json');`

Getting the following error:
[code]

Using
[code]

Full code
[code]

[2020-11-22 01:27] ghafran commented on #4105
This issue popped up again :(

[2020-11-22 07:17] prakashr85 commented on #4239
the tensorflow object detection model was taking 540p images and tried with the same and getting same error. the yolo model taking 416p image and getting same error. Is there any way to load tfjs model in python and check inference? if there are any examples it will be great like tflite @rthadur

[2020-11-22 13:39] ankurjoshi54 commented on #4284
I also faced this issue in Windows chrome version 79 and 86 and Windows firefox version 69 and 82 (Tested on browserstack)

Attaching screenshots as well which might help in debugging:
Console Error
![Screenshot from 2020-11-22 18-44-06](https://user-images.githubusercontent.com/20172077/99905320-22104280-2cf6-11eb-99ec-1e87214e573c.png)
Hardware acceleration was enabled
![Screenshot from 2020-11-

[2020-11-22 17:07] AlanFernandoS commented on #3845
The solution is changing the lines of the speech-commands, to:
                            case 1:
                                //This needs to b changed to our System
                                // this.sampleRateHz = 48000;
                                // this.audioContext = new AudioContext({ sampleRate: this.sampleRateHz });

                                this.audioContext = new Au

[2020-11-23 03:18] #4151 closed

[2020-11-23 04:32] luoyuxuan0528 opened #4295 "Customed Object Detection Model Crash When there is no target in video"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow.js): True
- OS P

[2020-11-23 04:52] parthlathiya42 commented on #2764
Which model worked??

[2020-11-23 13:58] vladmandic commented on #4129
not intending to hijack this thread, but `WEBGL_DELETE_TEXTURE_THRESHOLD` is pretty much required for execution of any complex model due to TFJS extremely high WebGL memory usage. On the other hand, it has a really bad performance impact - it slows down subsequent inferences by 2-3x.

The goal should be to optimize TFJS not to use 10x memory with `backend-webgl` compared to other backends.

See th

[2020-11-23 16:27] loretoparisi opened #4296 "TypeError: Cannot read property 'backend' of undefined"
I'm using the latest version of `tfjs-node` on npm:

[code]

I get this error when loading a saved model with `loadSavedModel`

[code]

[code]

[2020-11-23 17:08] rthadur commented on #4293
Lets close this in and track it at single place [here](https://github.com/tensorflow/tfjs/issues/4293)

[2020-11-23 17:08] rthadur commented on #4105
cc @pyu10055 @tafsiri

[2020-11-23 17:14] rthadur commented on #4239
cc @pyu10055

[2020-11-23 17:42] rthadur commented on #4296
i see you are using version 2.4 , can you try latest version [2.7](https://www.npmjs.com/package/@tensorflow/tfjs-node) and let us know ?

[2020-11-23 18:04] loretoparisi commented on #4296
@rthadur thanks I have updated to

[code]

and I get exactly the same error. I have also verified that the installed version was the `2.7.0`:

<img width="1535" alt="Schermata 2020-11-23 alle 19 03 05" src="https://user-images.githubusercontent.com/163333/99998186-91516980-2dbe-11eb-95dc-6211654d03d7.png">

[2020-11-23 18:17] loretoparisi commented on #4296
In the meantime I digged a bit into the offending code here

[code]

and dumped the `backend`:

[code]

Hope this helps!

[2020-11-23 18:17] rthadur commented on #4293
sorry wrong issue reference earlier , same issue exists [here](https://github.com/tensorflow/tfjs/issues/4105)

[2020-11-23 18:26] #4257 closed

[2020-11-23 18:35] loretoparisi commented on #4296
More help. Looking at the model `getMetaGraphsFromSavedModel` input `modelInfo[0].signatureDefs.serving_default.inputs`

The shape of the input is the following:

[code]

[2020-11-23 18:56] tafsiri commented on #4296
The two issues are related though there may be different paths that produce the same behaviour. @loretoparisi are you able to share the model you are using with us?

[2020-11-23 18:57] loretoparisi commented on #4296
@tafsiri Yes you can download the model from [here](https://github.com/shoegazerstella/spleeter_saved_models/tree/master/saved_models_py/2stems)

[2020-11-23 19:05] #4160 closed

[2020-11-23 19:41] quickdrawmcballs commented on #4257
@pyu10055, for what its worth, I'm on win64. And last I checked over the weekend, this is still broke.

[2020-11-23 21:14] patlevin commented on #4296
@loretoparisi Can you double check `dataId` please? It seems as if `dataId` is _undefined_:

see

in the last line of your console log.

[2020-11-23 21:30] pyu10055 commented on #4052
@joemullenix-ks Looks like your issue is related to this bug https://github.com/tensorflow/tfjs/issues/4257, basically the dll file is not copied properly, when the node version is > 14.x

[2020-11-23 22:14] joemullenix-ks commented on #4052
Looks good! I manually copied the dll as mentioned in #4257, and tfjs-node now imports and runs correctly. Thanks!!

[2020-11-23 22:14] #4052 closed

[2020-11-23 22:42] #4293 closed

[2020-11-23 22:43] pyu10055 commented on #4105
@ghafran can you share your model file? thanks

[2020-11-23 22:44] pyu10055 commented on #3542
@yhwang Yihong, can you take a look at this issue related to custom binary? thanks!

[2020-11-23 22:50] pyu10055 commented on #3463
@Pierrci Hi, looks like the Agent concept would create good isolation. Are you still willing to contribute your changes for the option b? thanks

[2020-11-23 23:31] yhwang commented on #3542
@pyu10055 sure!

The original purpose of custom-binary.json is used for packaging a new node module that retrieving custom binaries, if I remember correctly.

If you have a CI that needs tfjs-node with custom shared libs, you can build a dedicated NPM package, like `tfjs-node-special-arch`, which contains a custom-binary.json pointing to your special binaries.

[2020-11-24 00:16] ghafran commented on #4105
Attached.
[model.zip](https://github.com/tensorflow/tfjs/files/5586533/model.zip)
Directly from the AutoML multi-classification tensorflowjs export. Edge.
@pyu10055

[2020-11-24 00:25] ghafran commented on #4105
[model.zip](https://github.com/tensorflow/tfjs/files/5586566/model.zip)
Attached. Just exported it from from AutoML Multi-classification using edge, faster performance.
Getting same error.

[2020-11-24 05:56] fernando12170209 commented on #410
Help!!

When code the same appear this in the browser:
 Not allowed to load local resource
![image](https://user-images.githubusercontent.com/18425456/100054216-a692bc00-2def-11eb-9741-3759676b271d.png)

this is the message in console
![image](https://user-images.githubusercontent.com/18425456/100054276-c3c78a80-2def-11eb-9fed-1d4f1db01e68.png)

[2020-11-24 17:13] #4234 closed

[2020-11-24 21:27] patlevin commented on #4239
@prakashr85 You are passing the wrong data into the model. The model expects a tensor but you pass it a DOM element.

The demo works, because it uses custom model class that abstracts the input and accepts tensors as well as DOM elements:

The demo code (line 67):

Your code (line 63)

The difference might be subtle, but the TFJS model doesn't have a `detect`-method - that's a method implemented i

[2020-11-24 22:57] tafsiri commented on #4280
A workaround in the meantime is to use https://js.tensorflow.org/api/latest/#io.http directly and pass that to tf.loadLayersModel.

[2020-11-25 03:33] ghafran commented on #4105
@pyu10055 thanks for posting the fix. Your a life saver!

[2020-11-25 04:26] gravestar commented on #3300
i cloned your repo and it works as a charm, and i'm going to continue develop this to get face recognition / face match and store the data to database, do you think its possible ?

[2020-11-25 04:39] subodha commented on #3300
yes it will work! just let me know if you need anything else

[2020-11-25 04:42] parthlathiya42 commented on #193
I got the same error.

**My Scenerio**:
I trained a pre-trained model from tensorflow model zoo using transfer learning using tensorflow api as saved model (model.pb file) and converted it into tfjs format (model.json and shared .bin files).

When I tried running this model.json on the javascript(web), it gives the below error:

    Uncaught (in promise) Error: The dtype of dict['input_tensor'] pr

[2020-11-25 04:43] parthlathiya42 commented on #3723
I got the same error.

**My Scenerio**:
I trained a pre-trained model from tensorflow model zoo using transfer learning using tensorflow api as saved model (model.pb file) and converted it into tfjs format (model.json and shared .bin files).

When I tried running this model.json on the javascript(web), it gives the below error:

    Uncaught (in promise) Error: The dtype of dict['input_tensor'] pr

[2020-11-25 09:06] gravestar commented on #3300
@subodha i've done some improvement, but getting confused about what im doing here.

recently im storing the raw data from landmarks, TL, BR to database, with only 1 data,
and when camera detect the face, we need to snap the photo and send the raw data to being checked in database, but its different since the camera landmarks data is changing overtime,

currently im using MySQL, ill update new inf

[2020-11-25 15:55] #4276 closed

[2020-11-25 15:56] RemarkableGuy commented on #4177
+1 to this, would be a great, faster alternative to body-pix, really impressed by the performance in Google Meet :)

[2020-11-25 16:22] ghafran commented on #4105
@pyu10055 I see the fix has been completed. Can I regenerate the model now or do we need to wait for a production push?
Thanks.

[2020-11-25 17:00] pyu10055 commented on #3508
It should, with the latest code, the installer will move the deps/lib/tensorflow.dll to lib/napi-v[x]/tensorflow.dll.

[2020-11-25 17:00] #3508 closed

[2020-11-25 17:36] joshuaellis commented on #4237
This is really useful to know if you're using React & refs.

[2020-11-25 17:36] joshuaellis commented on #4237
This is really useful to know if you're using React & Refs.

[2020-11-26 00:40] davidtai opened #4308 "Bizarres Issue after upgrading to Big Sur (I assume it is a webgl issue)"
I recently transfer trained a mobilenet 2 (https://tfhub.dev/tensorflow/ssd_mobilenet_v2/fpnlite_320x320/1) model.  It worked fine on Windows, iOS, and OSX until I upgraded to Big Sur.

It seems like there are updates in the webgl layer that are causing very odd side effects in tfjs:
<img width="545" alt="Screen Shot 2020-11-25 at 6 36 42 PM" src="https://user-images.githubusercontent.com/8346495/

[2020-11-26 01:59] wingman-jr-addon commented on #4283
As an anecdote, I'm probably one of those "ML devs" who "don't prefer JS". However, for me the big story with any ML model is to make it useful by deploying it - deploying an ML model in any meaningful way often means a different language, model optimization, potentially learning new frameworks etc. For me - and I suspect many others - Tensorflow.js usage is focused primarily on the use case of in

[2020-11-26 07:17] #4271 closed

[2020-11-26 09:45] yeemachine opened #4309 "Facemesh/Face-Landmarks-Detection model crashes on WebGL Backend"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow.js):
No

- OS Pl

[2020-11-26 12:00] sps014 opened #4310 "Error: The Node.js native addon module (tfjs_binding.node) can not be found"
I have installed TFJS Node GPU , it gets stucked at end , i tried this mutlipe of times .
![bug](https://user-images.githubusercontent.com/45932883/100348141-83912380-300c-11eb-9ff7-5335bb329149.PNG)
 i tried reinstalling , rebuilding , looked for similar issues but no replay contained solution.

now I can 't compile with GPU backend, For some reason CPU backend works.

following error occurs ever

[2020-11-26 12:49] loretoparisi commented on #4296
Hi @tafsiri do you need any additional info to check this issue? Thanks a lot!

[2020-11-26 15:11] vladmandic opened #4311 "big difference in inference results between webgl and wasm backends"
there is a **big** difference in inference results between `webgl` and `wasm` backends.
and this makes `wasm` model completely unsuitable for usage with some models.

i've noticed this with several models, but biggest difference is with MediaPipe HandPose model: <https://github.com/tensorflow/tfjs-models/tree/master/handpose>

to be specific, in <https://github.com/tensorflow/tfjs-models/blob/mast

[2020-11-26 15:12] JohannesBauer97 commented on #1739
maybe this answer about the use of the layers model and graph model clarifies the priority for this issue: https://stackoverflow.com/a/63621486/3866264

[2020-11-26 15:12] sbrl commented on #4237
Thanks! I look forward to further news about this.

[2020-11-26 15:13] sbrl commented on #3873
Is there update on this, @pyu10055? Is there anything else I can provide to assist here? This is a major issue / blocker for my PhD.

[2020-11-26 18:48] maxbauer commented on #3723
Same problem for me when trying to run the [TensorFlow SavedModel Import Demo](https://github.com/tensorflow/tfjs/tree/ec6c319c969bf9e1316bc12a400a7c134ece075e/tfjs-converter/demo/mobilenet) with a custom ssd mobilenet v2 model.

@parthlathiya42 it worked for me with the following cast:
[code]

[2020-11-26 21:02] dabass51 opened #4312 "Use tfjs-react-native with posenet and bundleResourceIO"
I want to build an react native app with the use of posenet. A requirement is, that it works offline.

so the examples work fine. when i do:

[code]

so what i did next is converting the model to one weigth file and load the model locally with:

[code]

so what i want to do next is to run something like this:
[code]

but of course this doesn't work because the model doesn't know the function.

i k

[2020-11-27 01:19] ystskm opened #4313 "tf.tensor([ 17378479 ]).print(); returns 17378480"
Thanks for all tensorflow jobs!
I'm trying to modify image with using tensorflow.js.
and i found that some integer will change via tensorflow object.
But I know that it is not critical for machine learning.
So, I want to know ...
Is it a important bug or inevitable spec for tensorflow.js?

**System information**
- Have I written custom code

  e.g.)
  tf.tensor([ 17378479 ]).print(); // => 1737848

[2020-11-27 11:11] djthegr8 commented on #4206
Have added a PR to update the demo, https://github.com/tensorflow/tfjs-models/pull/539 while also adding proper WASM SIMD support, as the model ops don't fit on the standard WASM backend.

[2020-11-27 11:12] djthegr8 commented on #4206
Did you attempt WASM? My PC is Win10-x64, i7-10th gen, and 8GB RAM

[2020-11-27 21:07] qozle commented on #4234
With this fix now pulled, how can I integrate this updated code into my project?  The npm package version didn't change, so I tried pulling directly from github.  `npm install tensorflow/tfjs-models` worked, but then I couldn't isolate coco-ssd from it.  I tried:

[code]
and
[code]
and
[code]
and
[code]
and basically every other variant I could think of.  I even tried `require("tensorflow-models")

[2020-11-27 21:31] EvangelosKolimitras commented on #2003
I had the same issue and I ran node-pre-gyp rebuild and got this output:
![image](https://user-images.githubusercontent.com/35934542/100485405-32faf280-3100-11eb-9378-2c45f3310ce2.png)
Along with a whole bunch of more above.

I keep getting the same error:
![image](https://user-images.githubusercontent.com/35934542/100485442-59209280-3100-11eb-9f61-80e5d96023c2.png)

[2020-11-28 02:56] sahas- opened #4316 "Unknown op TensorListReserve"
Hello,

I created a LSTM model, converted it using the CLI and serving the same using node http-server.
Below is the code that attempts to run prediction from within html code and below error was shown on the console. Can you pls provide guidance?

PS: Earlier, I tried model.predict and it recommended using executeAsync.

<img width="1074" alt="Screen Shot 2020-11-27 at 8 53 52 PM" src="https://us

[2020-11-28 16:46] woodcockjosh opened #4317 "Support tensorflow version 2"
**System information**
- TensorFlow.js version (you are using): 2.7.0
- Are you willing to contribute it (Yes/No): No

**Describe the feature and the current behavior/state.**
 support tensorflow version 2.x

**Will this change the current api? How?**
Yes

**Who will benefit with this feature?**
Everyone that wants to use tensorflow version 2

**Any Other info.**

[2020-11-28 16:48] woodcockjosh commented on #4317
Docs are also confusing. I assumed that tensorflow version 2 would be supported and ran into this issue: https://github.com/tensorflow/tensorflow/issues/45245. Perhaps these docs should be updated: https://github.com/tensorflow/tfjs/tree/master/tfjs-node#optional-build-optimal-tensorflow-from-source

[2020-11-28 18:30] adityapatadia commented on #3542
Ideally it would help to be able to define custom binary during runtime. We can use custom compiled binaries with say AVX512 support.

[2020-11-30 03:58] gravestar opened #4318 "Is This Memory Leak on iOS / Android ?"
![image](https://user-images.githubusercontent.com/47879146/100567239-9a7c9200-32fa-11eb-9160-11e2dd90e670.png)

so everytime i trained a model, numTensors is increasing, im just wondering if this is bad or not ?
and when i close the apps, and start load the model and trained new model, it keeps increasing
is it bad when i got so many model ? and how to fix this ?

[2020-11-30 13:51] nternouski commented on #879
Same Error, how do you solved it?

[2020-11-30 16:20] tafsiri commented on #4312
Try using the modelUrl param of posenet but passing the IO handler rather than a string, it would look something like this

[code]

[2020-11-30 16:27] tafsiri commented on #4313
By default tensors will be created at float32 tensors, which will have some degree of numerical imprecision, so i'm not particularly surprised with your first three lines, however could you say more about the last line.

`tf.tensor1d([ 17378479 ], 'int32').slice([0], [1]).print() // => 17378479 (In some case, changes to 17378480)`

In particular you say in some cases it changes, Could you elaborat

[2020-11-30 16:34] tafsiri commented on #3057
All the build scripts and config are in the repostiry, you can take a look at the [package.json](https://github.com/tensorflow/tfjs/blob/master/tfjs-backend-wasm/package.json#L22) and the [build-wash.sh](https://github.com/tensorflow/tfjs/blob/master/tfjs-backend-wasm/scripts/build-wasm.sh) to see how the toolchain gets kicked off. We use bazel to actually run the build (compilation done via emscr

[2020-11-30 16:34] #3057 closed

[2020-11-30 16:36] tafsiri commented on #4296
Not yet, just got back from a long holiday in the US so will be able to take a closer look this week.

[2020-11-30 17:49] pyu10055 commented on #4316
@sahas- Looks like you are using an old version of TFJS (tfjs@2.0.0), TensorListReserve op should have been supported, can you upgrade to the latest version of the TFJS (2.7.0)? thanks

[2020-11-30 18:40] ghafran commented on #4105
@pyu10055 This issues still seems to be happening. Do we know when the fix will be deployed?

[2020-11-30 21:23] sahas- commented on #4316
It works with 2.7.0. Thanks.

[2020-11-30 21:23] #4316 closed

[2020-11-30 22:59] #4146 closed

[2020-12-01 01:45] joemullenix-ks opened #4324 "Inconsistent creation of tensor6d with nested Uint8Arrays"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow.js):
n/a
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
Windows 10, Version 1909 (OS Build 18363.1198)
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
n/a
- TensorFlow.js installed from (npm or script link):
npm
- TensorF

[2020-12-01 02:59] ystskm commented on #4313
@tafsiri Thanks for your reply.
No for a repeatedly running. Run the code below. You can see the value change via .slice( ) method.
[code]

And the case below, the matter is not occured.
[code]

[code]

[2020-12-01 04:08] Vivek1907 commented on #4105
Even I am also facing the same issue :(
The model I exported about 3 weeks ago is working perfectly fine but the model I exported yesterday is not working and showing the error "cannot read property reduce of undefined" :(

[2020-12-01 06:46] dcsan commented on #4317
I thought TF2 was supported after watching some videos, are you sure?

[2020-12-01 08:08] woodcockjosh commented on #4317
Quite sure: https://github.com/tensorflow/tfjs/blob/fb53c7d28a58de71bb9e813acdc281574ec56453/tfjs-node/scripts/deps-constants.js#L25

The libarary is currently hard coded to work with version 1.15.0

[2020-12-01 09:31] dcsan commented on #4317
https://www.npmjs.com/package/@tensorflow/tfjs

since tfjs is doing about 25k downloads a month, i wonder if google considers that a success?
since there is no pytorchJS, it seems like the best option for now.

[2020-12-01 12:09] dabass51 commented on #4312
Hey @tafsiri,

thx alot, it is working now. You saved my day and my project.

[2020-12-01 12:09] #4312 closed

[2020-12-01 12:20] vladmandic opened #4325 "missing ops in kernel cause misleading error message"
If an op is missing in kernel, error messages printed are not helpful at all.
I have a simple home-made `tf.sequential` model that works with `webgl` and `cpu` backends, but fails with `wasm` backend:

[code]

Finally I've traced it to `recurrentActivation` set to `relu` inside a layer instead of default `hardSigmoid` - you'd never guess that based on the message!

Also, I understand that some ops

[2020-12-01 12:33] vladmandic opened #4326 "wasm backend is unusable for model training"
simple `tf.sequential` model with float32 input data normalized to 0..1 produces expected loss during training using `fit()` with `cpu` and `webgl` backends.

[code]

but with `wasm` backend and same input data, loss values are all over the place and resulting trained model is unusable:

[code]

without digging into internals, it seems that `wasm` backend is doing some internal renormalization and

[2020-12-01 14:42] JonNieves opened #4327 "[Codelab]: Making Predictions from 2D Data"
Found inconsistency

https://www.tensorflow.org/js/tutorials/setup - script uses tfjs@2.0.0

https://codelabs.developers.google.com/codelabs/tfjs-training-regression/index.html#1 - script uses tfjs@1.0.0

Also, I see "55 mins remaining" on top. Can I not be rushed? :(

[2020-12-01 15:56] #4225 closed

[2020-12-01 22:46] lina128 commented on #4295
Hi @luoyuxuan0528 , does the model run with cpu backend or wasm backend? Also, can you share the model with us?

[2020-12-01 22:48] lina128 commented on #4290
Hi @lexmulya, would you like to contribute a PR to fix this?

[2020-12-01 22:49] #4094 closed

[2020-12-01 23:30] rthadur commented on #4317
cc @pyu10055 @tafsiri

[2020-12-02 00:10] rthadur commented on #4318
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow.js) since it is not a bug or feature request. There is also a larger community that reads questions there.

[2020-12-02 00:10] #4318 closed

[2020-12-02 00:16] davidtai commented on #4308
I have done more testing and discovered this is an issue caused by insufficient memory, not necessarily Big Sur.  My device is a Mid 2014 MacBook Pro.  If you have a piece of software such as photoshop running, it reproduces.  It just happens to occur more often on Big Sur for me.

An ideal fix would be catching the underlying model loading/out of memory error instead of showing errors when execut

[2020-12-02 00:19] rthadur commented on #4310
Can you please try delete node-modules folder and rebuild ?

[2020-12-02 00:42] pyu10055 commented on #4317
@woodcockjosh you are right that our tfjs-node deps on TF version 1.15. TF c++ 2.0 library was not significantly different from 1.15 in terms of core op and saved model execution, are there any features that you need is missing from tfjs-node?

[2020-12-02 00:46] luoyuxuan0528 commented on #4295
Hi, Lina:
   I did not test the model on cpu/wasm backend because that is not our target. The model is attached and input of that model should be a 224x224x3 Int Tensor.
   Looking forward to your replay ^_^.

[224x224_det_graph_ssd_small_v5.zip](https://github.com/tensorflow/tfjs/files/5626277/224x224_det_graph_ssd_small_v5.zip)

[2020-12-02 00:48] woodcockjosh commented on #4317
I don't want to use a 1 year old version of tensorflow. 1.15 is not as performance optimized as 2.0 is just to start. I did try to use tfjs with a 2.0 libtensorflow and I got errors.

When 2.0 was released they mentioned that javascript was supported but they failed to mention that javascript does not support the version they were talking about https://blog.tensorflow.org/2019/09/tensorflow-20-is-

[2020-12-02 01:12] rthadur commented on #4327
It is fixed now, thanks for reporting.

[2020-12-02 02:30] ColinPeppler commented on #4280
I ended up just saving the model to the file directory and creating a request with multipart/form-data encoding. See [this](https://www.tensorflow.org/js/guide/save_load#https_request)for how tfjs constructs the request's body.

[2020-12-02 02:30] #4280 closed

[2020-12-02 04:34] sps014 commented on #4310
I tried reinstalling nothing worked ,
Tried cleaning modules nothing worked,
Tried creating new node project nothing worked,
Then i downgraded to Node 12.20 from v15 now post install script worked but still i am not able to compile to GPU
[code]
Not able to import like this, it throws napi error,
I will post error in couple of minutes.

[2020-12-02 04:56] sps014 commented on #4310
Error
[code]

[2020-12-02 05:45] lexmulya commented on #4290
I have not dealt with this problem yet, there was no time. If I have a solution to this question I will do PR.

[2020-12-02 05:58] parthlathiya42 opened #4333 "Uncaught (in promise) Error: This execution contains the node 'StatefulPartitionedCall/Postprocessor/BatchMultiClassNonMaxSuppression/MultiClassNonMaxSuppression/ClipToWindow/Where'"
I am running inference in browser by using a tensorflow graph model converted from saved model generated by training mobilenet v1 from official tensorflow models zoo using tensorflow v2.x.

The model's inference runs fine when using model.executeAsync(...) but it blocks the UI thread of the browser.

When I use model.execute(...) instead, it shows up the error:

[code]

As per the error, I do not

[2020-12-02 06:33] sinankarakaya commented on #2764
I don't remember exactly but I think I used ssd_mobilenet_v1_coco.config.

[2020-12-02 10:13] Rishit-dagli opened #4335 "[Question] Performance Gap in using SavedModels in TFJS"
To try out a basic version of a use-case I am working on. I use a Mobilenet based model with TFJS and observe a huge performance gap than the original SavedModel. I make use of [this model](https://tfhub.dev/google/aiy/vision/classifier/food_V1/1) to test out a basic version of the use-case.

I converted the SavedModel to TFJS without any compression techniques and use the TFJS Converter to do so.

[2020-12-02 11:47] mocleiri commented on #3861
FYI the demo at: https://storage.googleapis.com/tfjs-models/demos/mobilebert-qna/index.html is broken now due to:

Error: 'multiply' not yet implemented or not found in the registry. This kernel may not be supported by the tfjs backend you have chosen

Full console trace:
[code]

[2020-12-02 12:03] dcsan commented on #4317
@pyu10055

can TFJS work with all the recent models? For example there are newer versions of the universal sentence encoder.

![image](https://user-images.githubusercontent.com/514002/100870336-518c2100-3453-11eb-8921-d738b47e2629.png)

[2020-12-02 13:34] ghafran commented on #4105
Our customers are getting agitated. Do have an estimate of when this will be pushed?

[2020-12-02 16:42] hkhoont opened #4337 "tf.stridedSlice is not a function"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow.js):
NA

- OS Pl

[2020-12-02 16:45] hkhoont commented on #4337
Earlier I was working with 2.4.0 version and it was working with that. Update to 2.7.0 has caused the this.

[2020-12-02 16:52] rthadur commented on #4337
@hkhoont Can you please provide reproduction code and model if possible.

[2020-12-02 16:58] rthadur commented on #4310
please take a look at similar issue [here](https://github.com/tensorflow/tfjs/issues/4171) , thank you

[2020-12-02 17:20] rthadur commented on #4333
Can you please elaborate why you want to use execute here?

[2020-12-02 17:28] zholmes1 commented on #4159
Did you find a solution to this issue?

[2020-12-02 17:37] pyu10055 commented on #4105
@ghafran The fix will be available in the next release, but meanwhile you can lock your tfjs version to 2.6.0, that should solve your problem.

[2020-12-02 17:39] sps014 commented on #4310
It did .
Thanks

[2020-12-02 17:39] #4310 closed

[2020-12-02 17:47] #4337 closed

[2020-12-02 17:52] Vivek1907 commented on #4105
I think I found a solution

In your model.json file just remove this line:-
`"modelInitializer": {"versions": {}},`.

@ghafran  so here is the modified model.json

[model_json.zip](https://github.com/tensorflow/tfjs/files/5631115/model_json.zip)

Replace your model.json with the above file

So, this should work even with the latest tfjs version

[2020-12-02 17:59] ghafran commented on #4105
@Vivek1907 that work around fixes it! Thank you!

[2020-12-02 18:00] tafsiri commented on #4159
I think this is related to https://github.com/tensorflow/tfjs/issues/4105, there was a bug on the automl side at some point so you may need to re-export the model. We'll also be pushing a new release with fixes on our side in the near future.

cc @pyu10055

[2020-12-02 18:18] lina128 commented on #4290
Got it. No problem, @lexmulya. We'll put this bug fix in our queue, but it will likely take some time. If you need it sooner, feel free to submit a fix PR any time.

[2020-12-02 18:26] zholmes1 commented on #4105
@Vivek1907 Worked for me too. Thanks!

[2020-12-02 20:19] zholmes1 opened #4339 "Incorrect predictions for a known precise model (React Native)"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow.js): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): React Native 0.63.3
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: Galaxy S20+
- TensorFlow.js installed from (npm or script link): npm
- TensorFlow.js version (use

[2020-12-02 21:10] Yariksychov commented on #4159
Having same issue with my *.json exported model

[2020-12-02 21:13] zholmes1 commented on #4159
@Yariksychov have a look at https://github.com/tensorflow/tfjs/issues/4105, they found the solution there.

[2020-12-02 21:20] Yariksychov commented on #4159
Thanks, found the solution but it seems like I'm having a different issue.
The temporary solution is:

In your model.json file just remove this line:-
"modelInitializer": {"versions": {}},.

[2020-12-02 22:19] #4339 closed

[2020-12-02 22:20] zholmes1 commented on #4339
It must have been something to do with the way I was processing my image. I switched to using the `ImageClassificationModel` from @tensorflow/tfjs-automl and it started classifying the images properly.

[2020-12-02 23:25] pyu10055 commented on #4335
@Rishit-dagli can you share what version of TFJS you are using and on what type of devices you are seeing this degrade of accuracy? Also, if you can share the models (both TF saved model and tfjs) with us to reproduce this problem would be great.

[2020-12-02 23:40] beingtmk opened #4340 "UpSampling2D(interpolation=bilinear) gives significant difference when converted using tensorflowjs_converter"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow.js): close to stock example
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04
- TensorFlow.js version (use command below): "@tensorflow/tfjs-node": "^2.1.0"
- Tensorflow.js Converter Version: tensorflowjs 2.7.0

**Describe the current behavior**
1. Added a la

[2020-12-03 03:46] tafsiri commented on #4296
So the cause of the error you are seeing is that you are passing null values as inputs to the model. Your code has

[code]

All of those inputs need to be tensors. Here is the code i used to get past that point (just creating some random data):

[code]

Beyond that I still ran into an issue `Error: Session fail to run with error: Placeholder_1:0 is both fed and fetched.`, and looking at some of th

[2020-12-03 05:05] Rishit-dagli commented on #4335
@pyu10055 I am using the latest version of TFJS, as of now I tried running the model on multiple desktops and am facing the same problem with all the devices I run on. Here is the [SavedModel](https://storage.googleapis.com/rishit-dagli/tfjs%234335/saved-model/saved_model.pb) and the [TFJS model](https://storage.googleapis.com/rishit-dagli/tfjs%234335/tfjs/tfjs.zip) which I use as a `zip`.

[2020-12-03 05:27] lexmulya commented on #4290
Got it. Thanks!

[2020-12-03 07:03] LoSunny opened #4342 "[Question] Performance issue with the body-pix model"
https://stackoverflow.com/questions/65101541/performance-issue-with-the-body-pix-model

I'm having issue with the node performance, while someone suggested that https://www.tensorflow.org/js/guide/nodejs#production_considerations
But I don't know how to implement a worker

[2020-12-03 11:54] dcsan opened #4343 "frequent getaddrinfo ENOTFOUND tfhub.dev on models"
**System information**
this is just to do with loading models, basic TF js code.

**Describe the current behavior**
frequently when loading models, I'll get an error like the below:

[code]

**Describe the expected behavior**
Ideal would be a way to download the models locally for both speed and reliability.
otherwise, less network fails!

**Standalone code to reproduce the issue**

[code]

but th

[2020-12-03 15:14] loretoparisi commented on #4296
@tafsiri thanks for your analysis. So yes the model in Python 3.7 and Tensorflow 1.15 works fine. Looking at the code, one of the `mix_spectrogram`, `mix_stft`, `waveform` is mandatory, so at least one among them - in the Python version - it is required (that's the audio source).  I have then tried this way as you did:

[code]

where `waveform.data` contains a wave with shape ` [88175, 2 ] of floa

[2020-12-03 17:35] #4327 closed

[2020-12-03 18:06] rthadur commented on #4168
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-12-03 18:06] #4168 closed

[2020-12-03 18:43] tafsiri commented on #4296
It is possible that tf.Estimator adds some preprocessing that is outside of the saved model (and which for example allows you to pass just one of 3 of the audio related inputs). We don't directly support estimator models in tfjs-node, there are some parts of that api that are not part of the c++ api used under the hood (they are just in the python layer). You might be able to modify `tf.estimator.

[2020-12-03 18:54] pyu10055 commented on #4335
@Rishit-dagli your model is quite straightforward, can you share your python code on how to execute the model?
For mobilenet model, it is common that the input needs to be normalized, your js code is not doing that, can you verify that?

[2020-12-03 19:48] rthadur commented on #4325
cc @pyu10055 @lina128

[2020-12-03 21:57] houh60 commented on #494
I cannot find the file.

[2020-12-03 23:15] rohanmuplara commented on #4340
As a followup, the problem seems to be https://js.tensorflow.org/api/0.12.5/#layers.upSampling2d. In tensorflow python, you can define this layer with both bilinear and nearest neighbor but in https://github.com/tensorflow/tfjs/blob/5f1991a993b0f6cbed708599eac084717d0a7f5a/tfjs-layers/src/layers/convolutional.ts#L1253 it is clear is is just implemented in nearest neighbor.

1. Will there be suppor

[2020-12-04 01:28] rthadur commented on #4343
@dcsan can you please share code snippet and model which you are trying to load ?

[2020-12-04 02:25] Rishit-dagli commented on #4335
To try out a basic version of a use-case I am working on I make use of [this model](https://tfhub.dev/google/aiy/vision/classifier/food_V1/1) since this on TF Hub itself I make use of the embed on the model website to test the `SavedModel`.

Thank you for pointing that out, I was using this as an example code so I used a readily available Mobilenet inference script with TFJS and simply changed the

[2020-12-04 02:25] #4335 closed

[2020-12-04 03:12] wingman-jr-addon opened #4347 "WebGL backend should include an environment variable to toggle failIfMajorPerformanceCaveat value."
I've run into an interesting situation.

Recently, when Firefox upgraded from 82 to 83, performance on [my addon](https://github.com/wingman-jr-addon/wingman_jr) dropped sharply for myself and some other users as well. I traced the issue to the WebGL backend failing to load due to `failIfMajorPerformanceCaveat` exhibiting a change in behavior between the two versions. As this was negatively affect

[2020-12-04 05:57] Nithanaroy opened #4349 "Support for lazy execution of DT_INT64 tensors in tfjs-node"
**System information**
- TensorFlow.js version (you are using): 2.7.0
- Are you willing to contribute it (Yes/No): No (requires company approvals - but happy to walkthrough the scenarios where this is useful and test the feature during and after development)

**Describe the feature and the current behavior/state.**
`DT_INT64` is a standard `dtype` in TF Python but not in tfjs-node. When using high

[2020-12-04 06:11] venkat-ravilla opened #4350 "Cannot compute the outputs [Identity_1,Identity] from the provided inputs [input_1:0,input_2:0]. Consider providing the following inputs: []. Alternatively, to avoid the dynamic ops, use model.execute() and specify the inputs [StatefulPartitionedCall/encoder/gru/StatefulPartitionedCall/while/LoopExecuted/_63]"
**System information**
- TensorFlow.js installed from (npm or script link):npm
- TensorFlow.js version (use command below):2.7.0

**Current behavior**
I have a graph model built using tensorflow(python) which is an encoder model with tf version 2.3.0. I have converted it using tensorflow_converter (command **tensorflowjs_converter --input_format=tf_saved_model encoder/ encoderjs**).
When I try to

[2020-12-04 06:19] carterinchina opened #4351 "The posenet detection speed is too slow"
The posenet detection speed is too slow, it takes about 300 milliseconds

I use tfjs-react-native's posetnet to detect pose, but the detection speed is very slow. EstimateSinglePose takes 300 milliseconds to return the result. How can it be faster

tf.setBackend（“rn-webgl”）

model:
  const model = await posenet.load({

            architecture: 'MobileNetV1',
            outputStride: 16,

[2020-12-04 09:10] loretoparisi commented on #4296
@tafsiri thank you, I appreciate it!  So we did some step forward, using the checkpoint directly! @shoegazerstella is trying in this way

[code]

At this point it should be done, but we now get a `Error: The SavedModel does not have signature: serving_default`

[code]

Thank you!

[2020-12-04 12:43] djthegr8 commented on #4206
Have attempted to resolve in [#539 in tfjs-models](https://github.com/tensorflow/tfjs-models/pull/539), kindly review...

[2020-12-04 15:12] mattsoulanille opened #4353 "Re-enable android chrome tests in nightly"
Android chrome tests in nightly are failing and have been temporarily disabled by #4345 and #4336 since they have been causing test failures during another issue's resolution. They should be re-enabled and fixed once nightly is consistently passing.

[2020-12-04 16:01] tafsiri commented on #4351
See the documentation on the [config options for posenet](https://github.com/tensorflow/tfjs-models/tree/master/posenet#config-params-in-posenetload) for ideas on different settings you can try that have an effect on performance. The multiplier and outputStride parameters may be of particular interest to you.

[2020-12-04 19:51] #4349 closed

[2020-12-04 19:56] #3887 closed

[2020-12-04 19:59] pyu10055 commented on #4347
@wingman-jr-addon I believe you can create your own webgl backend using your own gl context.
similar to how we register webgl backend for wechat mini program ([link](https://github.com/tensorflow/tfjs-wechat/blob/master/src/plugin/utils/wechat_platform.ts#L127))

[2020-12-04 20:14] and-dutra commented on #1425
Still having this errors was this solved?

[2020-12-04 20:53] rthadur commented on #4350
@venkat-ravilla can you please check a related issue [here](https://github.com/tensorflow/tfjs/issues/2254)

[2020-12-04 21:00] rthadur commented on #4342
Can you please refer to this links  https://medium.com/@wl1508/webworker-in-tensorflowjs-49a306ed60aa
https://medium.com/@wl1508/webworker-in-tensorflowjs-49a306ed60aa as how to implement web worker. Currently we do not have working example. Thank you

[2020-12-04 23:27] Nuzzlet commented on #4066
I get
`(node:15556) UnhandledPromiseRejectionWarning: Error: Backend name 'webgl' not found in registry`

with node-gpu on Windows 10

[2020-12-05 00:11] tafsiri commented on #4229
This is pretty hard for us to reproduce as it could be to any number of factors on your system. I tried this on a debian based system (with CUDA 10.2) and didn't get the same behaviour.

Have you tried this outside of a docker container? Have you otherwise been able to train with tensorflow using the GPU without seeing this delay?

Also leads to you suspect the code is getting stuck on the getData

[2020-12-05 00:13] tafsiri commented on #4229
Another thing to try, do you see the same behaiour with any of the other examples that do gpu training, e.g. https://github.com/tensorflow/tfjs-examples/tree/master/date-conversion-attention

[2020-12-05 01:38] wingman-jr-addon commented on #4347
@pyu10055 Thanks for the tip - as per my first question, do you know if there are any correctness concerns if I do that?

[2020-12-05 04:01] venkat-ravilla commented on #4350
I tried adding inputs and outputs as mentioned in the link, but still the same issue

[2020-12-05 10:36] JLizardo019 opened #4359 "The Node.js native addon module (tfjs_binding.node) can not be found at path"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Mac Big Sur
- TensorFlow.js installed from (npm or script link): https://www.npmjs.com/package/@tensorflow/tfjs-node
- TensorFlow.js version: 2.7.0
- Node version: v14.15.1

**Describe the problem**
Every time I try to start my Node server, I run into an error that says tfjs_binding.node cannot be found.

**Provide t

[2020-12-05 10:56] LoYungSum commented on #4342
But how do I send the data to the worker for it to process the information? Also, do I initialise the tf modal in the worker? Or pass it with the data?

[2020-12-06 15:50] JungangLUO opened #4360 "Error: The specified module could not be found."
![image](https://user-images.githubusercontent.com/71870800/101284798-c88f3400-381c-11eb-980b-c1ad84f03f7f.png)

So I strictly followed a tutorial of this Node-RED project: https://github.com/IBM/node-red-tensorflowjs/blob/master/README.md#start-node-red.

First I used Node.js v14 LTS, got this error, then I came here and tried a solution which suggested using Node.js v12, but still I got this err

[2020-12-06 18:41] HarshalRohit opened #4361 "tf.log gives different results than Math.log"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow.js): No
- OS Pla

[2020-12-06 21:43] vladmandic commented on #4342
@LoYungSum
if you want, take a look at example <https://github.com/vladmandic/human/blob/main/demo/browser.js> that has both standard and webworker workflows.

[2020-12-06 23:08] Nuzzlet opened #4362 "Memory Leak with GPU & tf.node.decodeImage"
Windows 10 20H2, Cuda 10.0, Cudnn v7.6.5, TFJS v2.7.0

**Issue**
Running the following code fills my 1080s memory causing issues when performing any actual useful code
[code]

I tried without scopes & tidy. Same result. GPU usage goes back to normal after the timeout ends & the script exists.

[2020-12-07 05:15] LoYungSum commented on #4342
I'll take a look at it, thanks for the suggestion

[2020-12-07 11:59] Ali-Baker commented on #879
I am having the same error

[2020-12-07 12:37] vladmandic commented on #4342
also, a thread on web worker performance issues: <https://github.com/vladmandic/human/issues/2>

[2020-12-07 13:21] lionkunonly opened #4363 "The tfjs-node-gpu occupies almost all GPU memory after loading model"
I run the `tfjs-node-gpu` on Linux.  The NVIDIA 1080Ti is equipped in my computer and it has 11175MB memory. However, when I run a model where its size of weights is only 87 MB, the `nvidia-smi` shows that the 99947 MB is occupied by the node.js server. I think the reason is that I run the model with `tfjs-node-gpu` on the node.js and provide service for users.

The real problem is that when the `

[2020-12-07 13:28] rohanmuplara commented on #4212
hey @pyu10055 I think we have identified the problem. The problem is in the upsampling2d layer when we are using bilinear. The problem is the tensorflow python code and the tensorflowjs code use different methods for bilinear interpolation. The tensorflow code uses the half-pixel method while the tfjs code uses two different methods depending on align corners and neither one is similar.

python ve

[2020-12-07 13:34] rohanmuplara opened #4364 "Resize Bilinear behaves differently"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

The problem is the tensorflow python code and the tensorflowjs code use different methods for bilinear interpolation. The tensorflow co

[2020-12-07 14:43] mjpowersjr commented on #1425
I can confirm that I also have this issue.

[2020-12-07 15:42] Shawn-Chahal commented on #4340
I am having the same issue.

I am using an `UpSampling2D` layer to generate images using a Generative Adversarial Network. In Python I set `tf.keras.layers.UpSampling2D(size=2, interpolation='bilinear')`, but the resulting generated image in TensorFlow.js looks as though it was switched to `interpolation='nearest'`.

[2020-12-07 19:50] rthadur commented on #4361
@HarshalRohit please give a reproduction code or codepen example ?

[2020-12-07 19:52] rthadur commented on #4360
please post the question on same [repo](https://github.com/IBM/node-red-tensorflowjs/blob/master/README.md#start-node-red) as we do not maintain it. thank you

[2020-12-07 19:52] #4360 closed

[2020-12-07 20:05] DamascenoRafael commented on #3835
I think what he meant was to include the pitch, yaw and roll angles - [Aircraft_principal_axes](https://en.wikipedia.org/wiki/Aircraft_principal_axes).

It would be an interesting addition and would bring more possibilities for using the model.

[2020-12-08 00:41] Shawn-Chahal commented on #4364
See similar issue: https://github.com/tensorflow/tfjs/issues/4340

[2020-12-08 14:45] kresli commented on #4171
I think this is not related to windows because I see this issue on
- macOS 11.01
- python 2.7.16
- node 15.3.0
- npm 7.0.14
-   "@tensorflow/tfjs": "^2.7.0",
-   "@tensorflow/tfjs-node": "~2.7.0",

I tried `npm rebuild @tensorflow/tfjs-node build-addon-from-source` with no luck.

[2020-12-08 16:56] pyu10055 commented on #4363
@lionkunonly Is this model converted from TF saved model?
If so, you can try to using [tfjs-node direct saved model execution](https://blog.tensorflow.org/2020/01/run-tensorflow-savedmodel-in-nodejs-directly-without-conversion.html).

[2020-12-08 17:03] annxingyuan commented on #4347
Hi @wingman-jr-addon - I don't believe there would be correctness concerns with creating your own WebGL backend. Per the [Khronos documentation](http://www.khronos.org/registry/webgl/specs/latest/1.0/#5.2) of this attribute, it should only be relevant to performance.

I think it would be reasonable to add a WebGL environment variable to toggle this value - thanks for the suggestion! I've renamed t

[2020-12-08 17:15] annxingyuan commented on #4129
@vladmandic Yes you're right - adjusting `WEBGL_DELETE_TEXTURE_THRESHOLD` does not address the underlying issue, which is why I'm hesitant to encourage people to rely on it, although I understand that it can improve performance in certain cases. We need to figure out how to reduce the memory footprint while minimizing the cost of aggressive texture deletion.

I've changed the title of this issue t

[2020-12-08 19:45] pvaneck commented on #4360
@JungangLUO Similar issues are here: https://github.com/tensorflow/tfjs/issues/4116 . I'm not sure if this is specifically your issue, but try checking `deps/lib` in your tfjs-node install directory and see if there is a tensorflow.dll in there that can be copied over to `lib/napi-*`. There seem to be some issues installing tfjs-node on Windows depending on versions of Node used.

Also, were there

[2020-12-08 23:13] #4239 closed

[2020-12-08 23:30] pyu10055 commented on #4364
@rohanmuplara [half-pixel support](https://github.com/tensorflow/tfjs/blob/master/tfjs-core/src/ops/image/resize_bilinear.ts#L41) has just been added, if it is still not available in the latest release, it should be available in upcoming release 2.8.0, which will be cut this week.

[2020-12-08 23:46] rohanmuplara commented on #4364
Thanks so much @pyu10055

[2020-12-09 03:48] wingman-jr-addon commented on #4347
Thanks @annxingyuan - and that was also a good link to the spec; I learned a few things about some of the additional flags, too!

[2020-12-09 06:37] huningxin opened #4378 "GPU memory leak of tf.signal.stft"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow.js): Yes
- OS Pl

[2020-12-09 06:48] HarshalRohit commented on #4361
Hi, Please guide me on creating a reproducible code.
I am currently working on tfjs and react-native, and dont have any idea on creating reproducible code for react-native.

[2020-12-09 12:43] BenjaminWegener commented on #2349
im trying to implement https://github.com/google-research/google-research/tree/master/performer/fast_self_attention, would be interested in einsum operation. TY

[2020-12-09 13:42] mianaliasjad commented on #2043
Guys i think instead of asking BodyPix TensorFlow Lite model we can use [Segmentation](https://www.tensorflow.org/lite/models/segmentation/overview) from TensorFlow lite.

[2020-12-09 16:31] tafsiri commented on #4361
Hi thanks for reporting. I am able to reproduce the behavior and can explain where it is coming from. This behavior is coming from imprecision in float32 representations for numbers (which are used throughout tfjs). You can reproduce this in pure javascript with the following line `Math.log(new Float32Array([Math.E])[0])`. Putting Math.E in a Float32Array will change the representation of the numb

[2020-12-09 17:18] pyu10055 commented on #4378
@huningxin thanks for reporting, the intermediate tensors seem to have be disposed, but the bytesInGPU has increased, @annxingyuan can you confirm this is normal? Is the numBytesInGPUAllocated counting the texture size?

[2020-12-10 06:26] HarshalRohit commented on #4361
Hi Thanks for the explanation. I suspected the issue but wanted to have clarification on it.

My project involves writing a js implementation of converting .wav audio files to spectrogram representation using tfjs ops. I am using [this](https://towardsdatascience.com/understanding-audio-data-fourier-transform-fft-spectrogram-and-speech-recognition-a4072d228520) as the reference implementation and

[2020-12-10 06:52] devittok opened #4384 "Unable to install 'node-red-contrib-tf-model' on Node-RED"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution: Windows 10 Home x64
- Node version: 14.15.1
- NPM version

[2020-12-10 08:52] AndreasGassmann commented on #494
In angular 11, the path of the file changed. So the new file looks like this:

[code]

[2020-12-10 13:48] vladmandic commented on #4166
@annxingyuan sorry to bug, but is there any update on this issue? it's pretty much a blocker for one of my projects as complex models simply cannot be used at all.

[2020-12-10 13:51] vladmandic commented on #4311
any update on this one? this issue plus #4326 are making `wasm` usage a no-go - i'd even consider it a blocker.

[2020-12-10 13:52] vladmandic commented on #4326
any update on this one? this issue plus #4311 are making `wasm` usage a no-go - i'd even consider it a blocker.

[2020-12-10 15:19] tafsiri commented on #4384
Hi I don't think we'd be able to help with node-red debugging, I think this would be better asked on the https://github.com/yhwang/node-red-contrib-tf-model repositories (or the main node-red one).

Other than that my only suggestions would be to:  1) check your lock files to see what actually got installed. 2) While npm is giving a _warning_ that it can't see the peerDep, you might not necessaril

[2020-12-10 15:19] #4384 closed

[2020-12-10 15:22] tafsiri commented on #4361
No problem. Looks like you got the info you needed to I'll close this for now. Good luck on the project!

[2020-12-10 15:22] #4361 closed

[2020-12-10 16:30] martun opened #4386 "Tensorflow.js with wasm backend is trying to use unsupported function 'resizeNearestNeighbor', even though I used bilinear interpolation in all the places"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow.js): No
- OS Pla

[2020-12-10 17:19] tafsiri commented on #4386
Related to https://github.com/tensorflow/tfjs/issues/4340 and https://github.com/tensorflow/tfjs/issues/4212

The underlying issue is the UpSampling2D layer (used in your model0 directly calls `resizeNearestNeighbor` and doesn't seem handle the bilinear interpolation option. @pyu10055 @caisq, should this be an enhancement to the UpSampling2D layer?

[2020-12-10 18:36] caisq commented on #4386
@tafsiri I agree this should be considered as an enhancement. It is currently unimplemented is most likely lack of support by tfjs-core. So it's possible that the nearest-neighbor resampling support is still unavailable from tfjs-core and that'll need to be addressed first.

[2020-12-10 19:37] rthadur commented on #4362
you can use [tf.node.decodeJpeg ]( https://js.tensorflow.org/api_node/2.7.0/#node.decodeJpeg ) to decode the image , please try

[2020-12-10 19:53] pyu10055 commented on #4212
@rohanmuplara @purviljain we are adding support for bilinear resize in the UpSampling2D layer, please refer to the issue #4386

[2020-12-10 22:02] rohanmuplara commented on #4212
Thanks so much @pyu10055 !

[2020-12-10 22:38] pyu10055 commented on #4359
your problem might be solved with the upcoming node release, which support napi 7.

[2020-12-10 23:33] Nuzzlet commented on #4362
Exact same result.

[2020-12-11 01:37] djthegr8 commented on #4206
PR merged, will await push to demo

[2020-12-11 01:55] F0REacH commented on #2994
spaceToBatchND is the only kernel stopping WASM use in production. Please add this feature.

[2020-12-11 02:41] roca77 opened #4390 "Uncaught (in promise) Error: Unknown layer"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow.js installed from (npm or script link): Yes
- TensorFlow.js version: 2.0
- CUDA/cuDNN version:

**Describe the problem**

I am following an image classification tutorial from google Ihttps://www.tensorf

[2020-12-11 03:48] dcsan commented on #4343
@rthadur there is a code snippet above

[code]

around here is where it times out.

is there any way to grab/cache the models locally rather than a network import every runtime?

[2020-12-11 16:42] tafsiri commented on #4386
@caisq tfjs-core has both resizeNearestNeighbour (currently called) and resizeBilinear, so we should be able to switch on that unless resizeBilinear does not support something required by upsampling2d.

[2020-12-11 16:43] tafsiri commented on #4386
@caisq Actually looks like its been added!

[2020-12-11 18:54] rthadur commented on #4362
cc @pyu10055 @tafsiri

[2020-12-12 04:51] Sunyingbin opened #4394 "tfjs-models/face-landmarks-detection/demo/ TypeError: Fail to fetch"
Hi , I run this demo in my macbook, I don't have VPN, How to synchronize the model and store it myself. thank you!

[2020-12-12 09:12] Sunyingbin opened #4395 "Iris tracking demo"
i saw this blog
https://blog.tensorflow.org/2020/11/iris-landmark-tracking-in-browser-with-MediaPipe-and-TensorFlowJS.html
![image](https://user-images.githubusercontent.com/23546166/101980011-0c5ebf00-3c9d-11eb-8699-15626c1c3ef5.png)
Is there a demo for this project，please send it to me，thank you

[2020-12-12 09:37] gravestar commented on #1186
im facing a problem with this startScpoe and endScpoe,

so in my code,
i need to set this first before anything else,
`async componentDidMount() {`
`await tf.ready();`
`this.model = await mobilenet.load()`
`this.knnClass = await knnClassifier.create()`
`}`

and for the other things, already wrapped inside startScope and endScope,
and return 0 or 1 numTensor,

the problem is, everytime i refresh th

[2020-12-12 16:42] vladmandic commented on #4395
@Sunyingbin i'm using it in my library <https://github.com/vladmandic/human>

[2020-12-13 12:00] huan opened #4396 "Chrome with Mac Silicon(M1): WebGL: CONTEXT_LOST_WEBGL: loseContext: context lost"
I'm running https://github.com/lmoroney/dlaicourse/blob/master/TensorFlow%20Deployment/Course%201%20-%20TensorFlow-JS/Week%202/Examples/mnist.html and get this error.

The same HTML works without any problem on my Intel MacBookPro Chrome browser.

M1 Silicon Versions:

1. `@tensorflow/tfjs@2.7.0`
1. Chrome Version 87.0.4280.88 (Official Build) (arm64)
1. macOS 11.0.1 (20B29)

[code]

[2020-12-13 14:46] deepnov opened #4397 "JS Error in demo"
**System information**

Demo URL mentioned in the link (https://github.com/tensorflow/tfjs-models/tree/master/qna)
https://storage.googleapis.com/tfjs-models/demos/mobilebert-qna/index.html is not working!

**Describe the expected behavior**
I didn't get answers to any question. Attaching the error here.
![demoerror](https://user-images.githubusercontent.com/2010921/102015121-af880500-3d7f-11eb-9f

[2020-12-14 02:47] Sunyingbin commented on #4395
hi，I test the Live Demo, iris tracking don't work, No effect of the picture I provided above.

[2020-12-14 03:15] hr0109 commented on #4150
Same problem here. My workaround is to download data from the Tensor and slice using js native functions.

[2020-12-14 05:24] samuelgruetter commented on #977
FWIW, here's one user who would find this feature useful!

[2020-12-14 05:35] venkat-ravilla commented on #4350
Any update on the issue?

[2020-12-14 06:13] pallavikhtri25 opened #4398 "cocoSSD with wasm backen doesnt work"
even though mentioned that tfjs-backend-wasm has support to run cocoSSD..but can't get this working getting error

Slice.ts:72 Uncaught (in promise) TypeError: Cannot perform Construct on a detached ArrayBuffer

[2020-12-14 12:00] alkamin commented on #4396
What OS are you running on each machine?

[2020-12-14 17:40] vladmandic commented on #4395
@Sunyingbin what effect? coloring of iris? that is trivial once you have actual coordinates of iris.
example i've send is about using the model to get results - what you want to do with results is up to you.

[2020-12-14 17:50] #2822 closed

[2020-12-14 18:35] mdjfs opened #4401 "node-gyp configure --verbose "gyp: Undefined variable module_name in binding.gyp while trying to load binding.gyp""
I'm seeing the doc about windows troubleshooting because i have a unexpected error while i'm trying to use @tensorflow/tfjs-node module. That are my versions:

Python: 2.7.18
Node: 10.17.0
NPM: 7.1.2

When i call require("@tensorflow/tfjs-node") in any program, i got this error:

`Error: The Node.js native addon module (tfjs_binding.node) can not be found at path: C:\Users\Marco\node_modules\@tens

[2020-12-14 20:42] rthadur commented on #4394
@Sunyingbin please check here for various ways to download model fileshttps://www.tensorflow.org/js/guide/save_load#file_downloads_browser_only , please let us know why you are using VPN ?

[2020-12-14 20:57] rthadur commented on #4396
Looks like an issue with latest M1, pleas check here for a similar issue [here](https://github.com/tensorflow/tfjs/issues/4166), thank you

[2020-12-14 20:58] rthadur commented on #4396
cc @annxingyuan

[2020-12-14 21:06] rthadur commented on #4397
There is a similar issue [here](https://github.com/tensorflow/tfjs/issues/3861) for tracking , will close this and track it at one place.

[2020-12-14 21:06] #4397 closed

[2020-12-14 21:08] rthadur commented on #3861
@pyu10055 @jasonmayes can you please help fix the above issue.

[2020-12-14 21:12] rthadur commented on #4398
It looks like you haven't used a template to create this issue. Please resubmit your issue using a template from [here](https://github.com/tensorflow/tfjs/issues/new/choose). We ask users to use the template because it reduces overall time to resolve a new issue by avoiding extra communication to get to the root of the issue. We will close this issue in lieu of the new one you will create from the

[2020-12-14 21:12] #4398 closed

[2020-12-14 21:28] borodadada opened #4402 "speed - js vs node vs wasm"
Hello. I try speed up on my PC.
Result:
standart: 11ms
nodejs: 54ms
wasm: 20ms
Images:
https://ibb.co/gg8Sy1b
https://ibb.co/5BRNrJd
https://ibb.co/0Gdg11w

It's norm? I saw image
https://github.com/tensorflow/tfjs/tree/master/tfjs-backend-wasm
Desktop Windows | 16.2 | 7.1 | 270.9 | 7.5 | N/A
Intel cpu 3770
hmm.....

[2020-12-14 22:12] rthadur commented on #4401
can you try with V node > 12  ?

[2020-12-14 22:15] rthadur commented on #4402
In order to expedite the trouble-shooting process, please provide a code snippet to reproduce the issue reported here. Thanks!

[2020-12-15 00:58] huningxin commented on #4378
Thanks @pyu10055 for your comments. If you'd like to reproduce the Chrome GPU process crash, you can simply set the `N` to a large number, say 100000, in above [sample code](https://github.com/tensorflow/tfjs/issues/4378#issue-760048997).

[2020-12-15 03:32] Sunyingbin commented on #4394
In China， I can't fetch the model

[2020-12-15 03:50] rthadur commented on #4394
@Sunyingbin the model links are not accessible from china , please check here for related previous issue https://github.com/tensorflow/tfjs/issues/1375
cc @pyu10055 cc @jasonmayes

[2020-12-15 04:57] scottzockoll opened #4405 "Uncaught TypeError: webglBackend.incRef is not a function for tfjs-modes/face-landmarks-detection"
**System information**

package.json dependencies:
[code]

**Describe the current behavior**
When importing another .js file that imports '@tensorflow/tfjs' it throws the error:
[code]
These warnings are also displayed before the error is thrown:
![image](https://user-images.githubusercontent.com/32425272/102172729-58f5f600-3e67-11eb-8db7-138ccf03e13b.png)

**Standalone code to reproduce the issue

[2020-12-15 07:24] borodadada commented on #4402
full working example - copy / past
[code]

just change tf, this is wasp

[2020-12-15 07:26] rthadur commented on #4405
Similar issue has been reported here https://github.com/tensorflow/tfjs/issues/4309 , will leave it to @annxingyuan for further comments, thank you

[2020-12-15 09:44] Mudasar-Makandar opened #4406 "Model is not predicting well after loading from localStorage"
I have build model with the following structure in **Node JS** using **TFJS@1.7.0**

[code]

Model is giving >90% accuracy. Model has been tested and it is predicting well according to it's accuracy.

I saved model in localStorage with **model.save("localstorage://model")**.

But when i load model with **model.loadLayersModel("localstorage://model")** in different page,
The performance of model ha

[2020-12-15 13:54] rafallukasik123 opened #4408 "Incorrect handling of quantized efficientdet models"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow.js): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): windows 10
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) : ipad mini 5  ios 14.0.1
- TensorFlow.js installed from (npm or script link): npm
- TensorFlow.js version (use command below):  2.7
- Browser ve

[2020-12-15 14:01] vladmandic commented on #4396
just a thought - GPU on M1 platform is not a discrete GPU, it is an integrated one so memory is shared.
TFJS memory usage when using `WebGL` backend is high, so it's likely OSX that denies Chrome's request for memory allocation.
You didn't mention which GPU is in your Intel-based Mac.

[2020-12-15 16:02] scottzockoll commented on #4405
@rthadur Thanks for the response. Just to give some more information:
The demo worked out of the box for me, but the problem occurs when I add `import someObject from './someFileThatImportsTfjs'` in demo/index.js

[2020-12-15 16:50] ericrosenbaum opened #4410 "Tips for blazeface performance on Chromebooks?"
I've been testing blazeface on a lower end Chromebook (a Samsung Chromebook 3). Curious if anyone has ideas for performance improvements. Here are my observations so far:

- The demo runs at about 12fps
- While also using Google Meet for video chat, with camera on, the demo drops to 2fps
- Running blazeface inside our web app, we are seeing about 6fps
- This Chromebook is able to use the webgl bac

[2020-12-15 17:14] tafsiri commented on #4410
👋  A few random thoughts:
- With the WASM backend you could [try enabling SIMD](https://v8.dev/features/simd#enabling-experimental-simd-support-in-chrome). This might also help the scenario where you are simultaneously using meet as when the two are running I believe they are both competing for GPU access.
- Smaller input images should generally be faster (at the risk of loss of accuracy) but I wo

[2020-12-15 17:26] tafsiri commented on #4405
One potential issue is that you are importing the backends twice with two different versions.

This package:
[code]

Includes copies of these packages (but at version 2.8.0):

[code]

Since you are already using "@tensorflow/tfjs": "^2.8.0", you can remove the others from your package json and just `import @tensorflow/tfjs` in your project.

[2020-12-15 18:11] scottzockoll commented on #4405
@tafsiri Okay I see. I removed those redundant packages and the previous error does not get thrown. However this gets thrown:
[code]
My imports in demo/index.js are now:
[code]
I am trying to follow the stack trace, but it is a little difficult. I'm not too familiar with Parcel, but it seems like I do not have sourcemapping set up properly?

[2020-12-15 18:16] annxingyuan commented on #4405
Hi @scottzockoll - this is indeed a separate issue, which we are working on a fix for: https://github.com/tensorflow/tfjs/pull/4407

[2020-12-15 18:18] scottzockoll commented on #4405
@annxingyuan Great! Thanks for the information. I will close this since it is a duplicate.

[2020-12-15 18:18] #4405 closed

[2020-12-15 18:28] scottzockoll commented on #4405
@annxingyuan Not sure if this is useful to you but I incorporated the changes you made in #4407 and it resolved the issue on my end.

[2020-12-15 18:52] rthadur commented on #4394
Can you please try here https://gstaticcnapps.cn/tfjs-models/ , these URL is specific to users in China. Thank you

[2020-12-15 19:01] rthadur commented on #4408
it depends on the device which you are running , please check here for more info as how to use the flag https://www.tensorflow.org/js/guide/platform_environment#precision

[2020-12-15 19:44] mdjfs commented on #4401
Recently i try with that and i get the same error, here the full error:

`gyp info spawn C:\Users\Marco\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.8_qbz5n2kfra8p0\python.exe
gyp info spawn args [
gyp info spawn args   'C:\\Users\\Marco\\AppData\\Roaming\\npm\\node_modules\\node-gyp\\gyp\\gyp_main.py',
gyp info spawn args   'binding.gyp',
gyp info spawn args   '-f',
gyp i

[2020-12-15 20:47] tpporto opened #4414 "Illegal instruction (core dumped)"
In linux, after performing npm install, when running npm start the error occurs:

Illegal instruction (core dumped)

Steps to reproduce the behavior:
sudo npm install
sudo npm start

SYSTEM OS

Distributor ID: Ubuntu
Description: Ubuntu 18.04.4 LTS
Release: 18.04
Codename: bionic

screenshot
https://ibb.co/Trnv44T

[2020-12-15 20:48] tpporto commented on #4414
root@homologa:/var/www/fieldservice-chatbot# cat /proc/cpuinfo
processor : 0
vendor_id : GenuineIntel
cpu family : 15
model : 6
model name : Common KVM processor
stepping : 1
microcode : 0x1
cpu MHz : 2593.750
cache size : 16384 KB
physical id : 0
siblings : 1
core id : 0
cpu cores : 1
apicid : 0
initial apicid : 0
fpu : yes
fpu_exception : yes
cpuid level : 13
wp : yes
flags : fpu vme de pse tsc

[2020-12-15 20:48] tpporto commented on #4414
ok, after npm install, run this command below:

sudo npm rebuild @tensorflow/tfjs-node --build-from-source

[2020-12-15 20:49] tpporto commented on #4414
same error

https://ibb.co/xDgrgYW
https://ibb.co/ThyJMxh

[2020-12-15 20:49] tpporto commented on #4414
Does anyone know how to help me?

[2020-12-15 21:31] rthadur commented on #4414
@tpport i believe your CPU does not support AVX , can you please check to see similar issue here https://github.com/tensorflow/tfjs/issues/2631

[2020-12-15 22:54] ahmetb opened #4415 "examples: tfjs-examples/firebase-object-detection-node fails to run"
Sample code in https://github.com/tensorflow/tfjs-examples/tree/master/firebase-object-detection-node not working with Node v15.4.0, `/predict` endpoint fails with error:

[code]

[2020-12-16 00:01] #4253 closed

[2020-12-16 07:53] rafallukasik123 commented on #4408
I understand. But my device doesn't support flaot32. So my flags WEBGL_RENDER_FLOAT32_CAPABLE and WEBGL_RENDER_FLOAT32_ENABLED have false value.
I wanted to run model so I quantized model with option --quantize_float16 during the conversion.
so if it doesn't work it's not a bug? i think quantization should solve this problem.
Or is there any other way to run model on a device that doesn't support

[2020-12-16 08:26] ikarth opened #4416 "Implement SeparableConv1D as a convolutional layer"
**System information**
- TensorFlow.js version (you are using): tfjs@2.8.0
- Are you willing to contribute it (Yes/No): No, not at this time

**Describe the feature and the current behavior/state.**

While tfjs currently supports [SeparableConv2D](https://js.tensorflow.org/api/latest/#layers.separableConv2d), it does not include [SeparableConv1D](https://www.tensorflow.org/api_docs/python/tf/keras

[2020-12-16 09:23] yann86 commented on #4131
You have to remove previous calculated regionsOfInterest between classification of two differents images to prevent this issue:

`model.pipeline.regionsOfInterest  = []`

[2020-12-16 10:35] Sunyingbin commented on #4394
Sorry, I am not a professional front-end developer, do you mean to modify the address pointed to by the model?
https://tfhub.dev/mediapipe/tfjs-model/iris/1/default/2 -- 》https://gstaticcnapps.cn/tfjs-models/iris/1/default/2
yes？ but i try，it's not working

[2020-12-16 10:40] Sunyingbin commented on #4394
tfjs-models/face-landmarks-detection/ in this case，How should I download the model locally and point it to it

[2020-12-16 13:48] haowang1013 commented on #4025
Hi,

We're having the same problem with our MobileNetV3 based model. We found that it's a lot more stable if we disable wasm theads  support.

Is there any way to detect if the threads support is enabled in the code. Or better yet, disable it programmatically?

[2020-12-16 15:38] annxingyuan commented on #4025
Hi @haowang1013 - you can check whether we've detected thread support by calling `tf.env().get('WASM_HAS_MULTITHREAD_SUPPORT')` (after the WASM backend has successfully initialized).

You could disable multithreading by setting `WASM_HAS_MULTITHREAD_SUPPORT` to false via `tf.env().set('WASM_HAS_MULTITHREAD_SUPPORT', false)`. In general I would recommend not touching TFJS's environment flags, but I

[2020-12-16 17:14] kirawi commented on #4177
Very desirable to have! Though I did just link to this issue from the Jitsi Meets repository, I think it would be very cool to have for other projects that need this functionality but don't have the capabilities to develop an in-house model.

[2020-12-16 17:57] jameshfisher commented on #4177
[The blog post about this model](https://ai.googleblog.com/2020/10/background-features-in-google-meet.html) links to [this Model Card describing the model](https://drive.google.com/file/d/1WvHxUONoATFJ9JpSgAF7dU_F5V58HItS/view), which reads

[The Model Card also links to this paper describing Model Cards in general](https://arxiv.org/pdf/1810.03993.pdf), which says that Model Cards can describe a

[2020-12-16 19:29] vladmandic opened #4418 "tfjs 2.8.0 is broken and introduces regressions in tf.image.cropAndResize"
As subject line says, TFJS 2.8.0 unfortunately seems like a broken version.

First, default parameter in `cropAndResize` was unintentionally removed (and apparently just re-added via #4407) which causes quite a lot of errors in existing apps

Second, even when specifying resize method as `bilinear`, `cropAndResize` FAILS on `WebGL` baclend:

[code]

With WebGL code dump highlighting error in
[code

[2020-12-16 19:33] vladmandic commented on #4418
cc @annxingyuan @lina128 for visibility - sorry for spam, but this is bad

[2020-12-16 19:43] lina128 commented on #4418
cc @tafsiri

[2020-12-16 19:52] annxingyuan commented on #4418
Hi @vladmandic - thanks for reporting this issue - just wanted to let you know that you can avoid the fragment shader compile error by passing both `method` and `extrapolationValue` into `cropAndResize`, e.g.: `tf.image.cropAndResize(image, boxes, boxInd, [5,5], 'bilinear', 0 /* extrapolation value */) // note the last argument`

[2020-12-16 19:55] vladmandic commented on #4418
@annxingyuan thanks for that - but I have `cropAndResize` all over my code, I'll just wait until this is fixed and tfjs is republished - in the meantime i'm sticking with tfjs 2.7.0.

[2020-12-16 20:56] ahmetb opened #4419 "`npm install` succeeds despite errors due to not having Python (in a container)"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow.js): No.
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux container (docker) node:14
- TensorFlow.js installed from (npm or script link): npm
- TensorFlow.js version (use command below): ^2.8.0
- Tensorflow.js Converter Version: N/A

**Describe the current behavior

[2020-12-16 23:26] lina128 commented on #4418
Hi @vladmandic, we are going to release the fix in 2.8.1 very soon.

[2020-12-17 00:29] pyu10055 commented on #4378
@huningxin I notice that the `hanningWindow` output is tight to the size `N`, which is also not disposed after stft call.
The other thing you can choose to do to set the texture dispose threshold, here is modified code:

[code]

[2020-12-17 01:18] huningxin commented on #4378
Thanks for your reply, @pyu10055 !

I understand the output of `hanningWindow` is used by `tf.signal.stft` internally. I suppose it would be `tf.singla.stft`'s responsibility to dispose it. Is that correct?

I tried the modified code. The `numBytesInGPU` can still go higher than `WEBGL_DELETE_TEXTURE_THRESHOLD`, 100 * 1024 * 1024. e.g. after run the loop several times, the output of `console.log(t

[2020-12-17 01:52] Sunyingbin opened #4420 "someting wrong"
C:\Users\paddle\Desktop\eye\tfjs-models-master\face-landmarks-detection\demo>yarn watch
yarn run v1.22.5
$ cross-env NODE_ENV=development parcel index.html --https --no-hmr --target browser
Server running at https://localhost:1234
×  C:\Users\paddle\Desktop\eye\tfjs-models-master\face-landmarks-detection\demo\node_modules\@tensorflow-models\face-landmarks-detection\dist\face-landmarks-detection.es

[2020-12-17 02:54] rthadur commented on #4394
This should be fixed soon , will update the thread with updated urls, thank you

[2020-12-17 03:49] #4420 closed

[2020-12-17 04:00] a-y-u-s-h opened #4421 "NPM says "This package has been deprecated""
As of right now (Thursday, 17 December 2020), npm package search says `@tensorflow/tfjs` has been deprecated. Release notes say that Tensorflow 2 is up on npm. Version `2.8.0` is also written under deprectaed so I'm confused whether I've downloaded the correct one.

![screenshot_20201217_092430](https://user-images.githubusercontent.com/19586719/102442296-1d675180-404a-11eb-9ba9-abff6330760f.png)

[2020-12-17 04:25] wshuang808 commented on #4025
I did some test with `WASM_HAS_MULTITHREAD_SUPPORT` and here are what I found:
##### Enable `Experimental WebAssembly`, `WebAssembly SIMD support`, `WebAssembly threads support`
- stuck in `tfjs-backend-wasm-threaded-simd.wasm` without code change
- set `WASM_HAS_MULTITHREAD_SUPPORT` to false after WASM backend successfully initialized, still stuck in `tfjs-backend-wasm-threaded-simd.wasm`
- set '

[2020-12-17 06:15] vladmandic commented on #4421
version 2.8.0 has a regression and that's why devs marked it as deprecated.
either use 2.7.0 or wait until 2.8.1 comes out.

[2020-12-17 11:25] martun commented on #4386
Thanks guys, it started to work after I updated to tfjs version: 2.8.0

[2020-12-17 11:25] #4386 closed

[2020-12-17 13:13] mgol commented on #4418
Since `2.8.0` is tagged as `latest`, the whole package looks deprecated now, see:
https://www.npmjs.com/package/@tensorflow/tfjs
I'd recommend to tag `2.7.0` as `latest` until you have a fixed version to remove the warning from the package npm page:
[code]

[2020-12-17 17:04] pyu10055 commented on #4408
@rafallukasik123 I am curious what type of device you are having that does not support float32? on a side note, for device that does not support float32 texture, quantization the model would not help address the precision problem. Since the model is not trained with float16 weights, you will still get the accuracy loss. One possible work around is to use web assembly backend instead.

[2020-12-17 17:53] pyu10055 commented on #4378
@huningxin I think you are right that, the op is wrapped in the `ENGINE.startScope` and `endScope`, intermediate tensor should have been disposed, which is also verified through the tensor count from the `memory()`result.

I curious about the size exceeding the limit as well, possibly there are some large intermediate tensor get allocated, which cause the memory to exceed the limit, maybe the disp

[2020-12-17 18:09] mattsoulanille commented on #4418
Thanks for the tip @mgol! We've tagged 2.7.0 as the latest npm version for all packages that were in the 2.8.0 release.

[2020-12-17 18:47] #4333 closed

[2020-12-17 18:47] #3463 closed

[2020-12-17 18:50] rthadur commented on #4421
Yes 2.8.0 has been depreciated .

[2020-12-17 19:54] annxingyuan commented on #4200
Hi @djthegr8 - the handdetector model is designed to be used as part of the TF.js handpose package: https://github.com/tensorflow/tfjs-models/tree/master/handpose - rather than as a standalone model.

Our handpose package will parse the [1, 2944, 19] output tensor into an array of keypoints.

Apologies for the confusion - in the long term we intend to unify the API across the tfjs models repo and

[2020-12-17 19:54] #4200 closed

[2020-12-17 19:57] tafsiri commented on #4192
Could you tell us more about how this situation came about? While it does work in python tf according to the docs for the [python api](https://www.tensorflow.org/api_docs/python/tf/linalg/matmul)

'The inputs must, following any transpositions, be tensors of rank >= 2 where the inner 2 dimensions specify valid matrix multiplication dimensions, and any further outer dimensions specify matching batc

[2020-12-17 21:20] zholmes1 opened #4424 "[TypeError: img.toFloat is not a function] When passing an image from decodeJpeg (tfjs-react-native) into model.classify (tfjs-auto-ml)"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow.js): Yes
- Mobil

[2020-12-17 22:20] tafsiri commented on #4424
Hi. Just to confirm something, do you get the same error if you manually call .toFloat() on the tensor after this line

[code]

[2020-12-17 22:27] zholmes1 commented on #4424
Same error.

On Thu, Dec 17, 2020, 4:21 PM Yannick Assogba <notifications@github.com>
wrote:

[2020-12-17 22:32] tafsiri commented on #4424
Thanks I'm going to try and reproduce this (if you have a link to a github repo that reproduces the error that would be helpful), a potential temporary workaround to try. Could you add:

`import '@tensorflow/tfjs-core/dist/public/chained_ops/to_float';`

To the imports list for that file and give it a try?

[2020-12-17 22:47] zholmes1 commented on #4424
@tafsiri

You're the man! It was a little deeper than just `to_float`, but I was able to follow the trail and get everything imported.

[code]

I know the way that I'm doing things may be a bit abnormal, so many I'm skipping some step where all those files would be imported.

My general flow is:

1. Load models (json/weights/dict) from RN bundle
2. Create graph models with loadGraphModel
3. Pass t

[2020-12-17 22:51] tafsiri commented on #4424
Oh actually your response gives me an idea, can you post all your other tfjs related imports? Do you have an `import * as tfjs from '@tensorflow/tfjs'` or `import '@tensorflow/tfjs'`, `import '@tensorflow/tfjs-core'` in there somewhere?

[2020-12-17 23:10] tafsiri commented on #4424
I haven't been able to reproduce this so if you have a minimal repro in a github repo i wouldn't mind taking a look. You shouldn't _need_ to import those files manually (assuming you have one of the imports in my prev message above), unless something funky is going on with the build/bundling/js optimization step.

Glad the workaround unblocks you, you can shorten the imports by replacing those ind

[2020-12-18 00:06] huningxin commented on #4192
Python API works as expected:
[code]

[2020-12-18 00:16] lina128 commented on #4418
2.8.1 is released. It should fix the bug.

[2020-12-18 00:16] #4418 closed

[2020-12-18 01:54] vladmandic opened #4429 "tfjs 2.8.1 change in behavior in tf.reshape causes errors"
upon upgrade from 2.7.0 to 2.8.1, my existing app fails with:
[code]

this may be desired behavior, but it breaks several existing models published on `tfhub`!

e.g, i'm using `blazeface` where `reshape` is failing on results of model inference, so not like that can be changed easily:
[code]

[2020-12-18 02:01] vladmandic commented on #4418
another issue in #4429

[2020-12-18 02:02] #4206 closed

[2020-12-18 02:05] lina128 commented on #4429
Which backend has this behavior?

[2020-12-18 02:06] vladmandic commented on #4429
webgl backend

[2020-12-18 02:40] zholmes1 commented on #4424
Thanks for the help. I just got off a flight. I'll mess around with it a
bit tomorrow and I'll see if I can isolate exactly why it's happening. It's
possible that I had a * import that got replaced with a named import.

On Thu, Dec 17, 2020, 4:10 PM Yannick Assogba <notifications@github.com>
wrote:

[2020-12-18 08:45] dcsan commented on #4343
Not stale bot

On Thu, Dec 17, 2020, 8:47 PM tensorflow-butler[bot] <
notifications@github.com> wrote:

[2020-12-18 09:18] rafallukasik123 commented on #4408
I wrote above, I try to run model  on the Apple iPad mini 5. Unfortunately webkit on mobile devices doesn't support float32 texture.

[2020-12-18 09:47] #4296 closed

[2020-12-18 14:28] Mudasar-Makandar commented on #4406
Model saving and Loading only works in a single page.
If moved from one page to another within the same domain, the performance of model decreases to 50% if load from localStorage.

[2020-12-18 14:28] #4406 closed

[2020-12-18 16:47] #4351 closed

[2020-12-18 18:51] scottzockoll commented on #4429
@lina128 I am also receiving this error after upgrading to 2.8.1 with webgl.

[2020-12-18 18:58] rthadur commented on #4343
you can save the model using model.save("localstorage://model") locally.

[2020-12-18 19:03] rthadur commented on #4421
2.8.1 is released please try latest.

[2020-12-18 19:03] #4421 closed

[2020-12-18 19:12] rthadur commented on #4419
We had issues with 2.8.0 , which was rolled back , can you please try with 2.8.1 ?

[2020-12-18 19:16] rthadur commented on #4364
related PR has been merged , so closing the issue.Thank you

[2020-12-18 19:16] #4364 closed

[2020-12-18 19:20] rthadur commented on #4416
cc @annxingyuan @pyu10055 @tafsiri

[2020-12-18 19:22] rthadur commented on #4415
@ahmetb can you try with latest 2.8.1 v ? thank you

[2020-12-18 19:23] rthadur commented on #4401
can you please try with latest version 2.8.1 ?

[2020-12-18 20:18] ahmetb commented on #4419
The issue was present even on 1.4.0, I don't think it's a recently occurred issue.

[2020-12-18 20:20] ahmetb commented on #4415
Doesn't work. I had to refactor the code and remove some statements like busboy.end for this to work.

Highly recommend reproing it yourself. Overall code quality also isn't great.

[2020-12-19 09:45] markstrefford commented on #3266
I have this problem consistently on iOS14.2. I've tried it on an iPhone 11 Pro Max and an iPhone 11 Pro. It fails for Posenet and FaceMesh demos, but BlazeFace works ok!

For PoseNet, I get the following error in the console:

[code]

iOS 13.5.1 on iPhone X runs these models OK.

[2020-12-19 12:26] p-dimi commented on #4429
Same thing here!

[2020-12-19 12:50] markstrefford commented on #3266
@alexionby  Did you fix this? I'm experiencing the same problem for the models you mention on iOS14.2, yet 13.5 is OK.
Blazeface demo works on both platforms ok.

[2020-12-19 20:38] designerzen commented on #4429
Same here! When trying to fetch face landmarks :

` const predictions = await model.estimateFaces({ input: video }) `

Browser returns

`util_base.ts:328 Uncaught (in promise) Error: The implicit shape can't be a fractional number. Got 266 / 3`

[2020-12-19 22:03] devops35 opened #4430 "tfjs-react-native: Memory problem while running the webcam demo"
I can't run the webcam demo on my real phone (iphone 6). It exceeds 650 mb ram. Then my application crashes. I can run it in the simulator, it works very, very slowly there. It takes minutes to work. In addition, the ram used is about 2 GB.

**my package.json;**
[code]

**webcam_demo.tsx;**

[code]

**style_transfer.ts;**
[code]

[2020-12-20 01:23] rthadur commented on #4429
cc @pyu10055 @annxingyuan @tafsiri

[2020-12-20 01:35] dewball345 commented on #4429
Yup, I'm getting the same error as well! I still don't understand why demos like these https://mediapipe-facemesh-3js-tf2.glitch.me/ work. I tried changing the version of my facemesh model but that doesn't do anything

[2020-12-20 02:50] devops35 opened #4431 "How can I use wasm backend in react native?"
cpu backend is very slow. On the other hand, rn-webgl is both very slow and I get the error "Requested texture size [5069x5069] greater than WebGL maximum on this browser / GPU [4096x4096]". So I want to try wasm backend.
I'm importing "@tensorflow / tfjs-backend-wasm" and running "await tf.setBackend('wasm')". But I get the error "Initialization of backend wasm failed". How can I use wasm backend

[2020-12-20 07:33] rohanmuplara opened #4432 "QuantizationAware Training Conversion"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**Describe the feature and the current behavior/state.**

Tensorflow has added
https://www.tensorflow.org/model_optimiz

[2020-12-20 17:32] vladmandic commented on #4429
@dewball345 because it's hard coded to load tfjs 2.4.0. anything up to 2.7.0 works fine, 2.8.0 and 2.8.1 don't.

[2020-12-20 17:53] n0noob commented on #3835
@DamascenoRafael Yes, thank you, this is what I meant.

[2020-12-20 17:56] dewball345 commented on #4429
yeah i realized that now. A temporary fix would be to just use the older version of tensorflow?

[2020-12-20 17:57] vladmandic commented on #4429
I'm staying on 2.7.0 until this is resolved.

[2020-12-20 20:34] ahmetb commented on #4415
If you're interested in seeing the patch that made it work for me on Node 15.x, take a look at here (I removed Firebase Functions boilerplate, as I was converting it to a container image for Cloud Run).

https://www.diffchecker.com/AZUp1iPX I know no Node.js at all, but I figured the choices around storing values and flowing data between closures were quite odd. So I took a stab at that, too.

[2020-12-21 06:58] venkat-ravilla commented on #4350
I am still waiting for the resolution.

[2020-12-21 08:34] naah69 opened #4433 "div error when tfjs-backend-wasm=2.8.1"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code : yes
- OS Platform and Distribution : macOS 10.14.6
- TensorFlow.js installed from

[2020-12-21 13:13] rafallukasik123 opened #4434 "[wasm] Add Round kernel. Unblocks efficientdet models."
**System information**
- TensorFlow.js version (you are using): 2.7.0

**Describe the feature and the current behavior/state.**
There are plans to add an implementation for efficientdet models in the wasm backend ?
It is related to the issue https://github.com/tensorflow/tfjs/issues/4408.
When i use webgl backend i  have a problem with precision (my device doesn't support float32)
I took the advic

[2020-12-21 14:31] annxingyuan commented on #4429
Hi @lina128 - I ran a git bisect and it seems to be traceable to this PR: https://github.com/tensorflow/tfjs/pull/4187

[2020-12-21 14:52] tigercosmos commented on #3830
Do you have a plan to upgrade the emscripten to the latest v2.11?

[2020-12-21 14:55] rafallukasik123 commented on #4408
@pyu10055 I trained model with parameter  use_bfloat16: true(folder saved_model).
Unfortunately it still didn't help.

[2020-12-21 20:47] #4342 closed

[2020-12-21 21:47] lina128 commented on #4429
Thanks for the bug report, we will release the fix in 2.8.2 next week.

[2020-12-21 21:56] rthadur commented on #4435
Submitted a fix to remove links ,as both saved model and session bundle are deprecated.Thanks for reporting.

[2020-12-21 21:56] #4435 closed

[2020-12-21 22:04] rthadur commented on #4434
cc @annxingyuan

[2020-12-22 01:26] ghafran commented on #4105
Just trained, exported, and ran the models with latest versions. All is good now.

[2020-12-22 01:26] #4105 closed

[2020-12-22 01:35] ghafran opened #4437 "AutoML Object Detection: Argument 'x' passed to 'unstack' must be numeric tensor, but got string tensor"
With the latest version of AutoML object detection on edge, we are getting this error using the out-of-box object detection model.

[code]
Model here: [model.zip](https://github.com/tensorflow/tfjs/files/5727267/model.zip)

Below is the html code:
[code]

Library Versions
[code]

[2020-12-22 02:25] rthadur commented on #4431
@devops35 can you please provide your device specifictions ?
Note:  tfjs-wasm is build on top of [XNNPACK library](https://github.com/google/XNNPACK) , please check [here](https://github.com/google/XNNPACK#supported-architectures) for more info

[2020-12-22 02:32] rthadur commented on #4432
cc @pyu10055 @tafsiri

[2020-12-22 03:34] naah69 opened #4438 "sort and argsort"
**System information**
- TensorFlow.js version (you are using): 2.8.1
- Are you willing to contribute it (Yes/No): No

**Describe the feature and the current behavior/state.**

`tf.sort` and `tf.argsort`

**Will this change the current api? How?**

add two interface to api

**Who will benefit with this feature?**

developers

**Any Other info.**

[2020-12-22 11:35] annxingyuan commented on #4434
XNNPACK implementation: https://github.com/google/XNNPACK/tree/master/src/f32-vrnd

[2020-12-22 14:51] devops35 commented on #4431
I want to run it with react native 0.63. Style transfer works very slowly in React native. on the iPhone 6 phone, RAM is not enough. It works in the simulator, but it also takes about 20-30 minutes.

[2020-12-22 17:38] rthadur commented on #4437
@tafsiri @lina128

[2020-12-22 18:25] rthadur commented on #4438
cc @pyu10055 @tafsiri

[2020-12-22 20:44] jml1996jsonhost commented on #4105
Does anyone here have any insight about the problem described here: https://stackoverflow.com/questions/65402617/tensorflow-automl-model-in-react

[2020-12-22 20:45] jml1996jsonhost commented on #4159
Does anyone here have any insight about the problem described in this stackoverflow post: https://stackoverflow.com/questions/65402617/tensorflow-automl-model-in-react

[2020-12-22 21:12] RezaRahmati commented on #2678
I get same error using version 1.7.0 or 1.7.4

`!  Error: The specified module could not be found.
\\?\C:\projects\digital-verification\api\node_modules\@tensorflow\tfjs-node\lib\napi-v5\tfjs_binding.node
    at Object.Module._extensions..node (internal/modules/cjs/loader.js:1122:18)
    at Module.load (internal/modules/cjs/loader.js:928:32)
    at Function.Module._load (internal/modules/cjs/loade

[2020-12-22 21:33] #4429 closed

[2020-12-22 22:34] jml1996jsonhost opened #4439 "Running tensorflow and automl in node"
Does anyone have any insight about the contents of this stackoverflow post:

https://stackoverflow.com/questions/65402617/tensorflow-automl-model-in-react

Getting a little desperate.

[2020-12-22 22:40] tpporto commented on #4414
rthadur , thanks.  I'll check

[2020-12-22 22:46] lina128 commented on #4437
Hi @ghafran, I've submitted a PR to fix this. It will be released next week in 2.8.2. For context, the reason this error shows up  in the latest library is that, we started supporting hashtables in models. In this particular model, the hashtable is the label dictionary with string values, so we also need to add string support to underlying ops.

[2020-12-22 23:49] stanhrivnak commented on #4177
@jameshfisher I have successfully deployed the raw tflite model (BTW. many thanks for the link!) within a desktop app using MediaPipe. But I failed to do so for web app, since MediaPipe doesn't have any documentation for it yet (just some JS API's for specific examples, but not for custom models). But it looks like you're saying that you did it. How? Have you extracted the layers of the model + we

[2020-12-22 23:52] kirawi commented on #4177
@stanhrivnak I found this while looking into it myself: https://gist.github.com/tworuler/bd7bd4c6cd9a8fbbeb060e7b64cfa008 Unfortunately, I'm not familiar with tensorflow (sad Amd gpu gang), so I have no idea how it works or how to modify it.

[2020-12-23 01:00] allseeworld commented on #3509
在model.json中"weightsManifest": [{"paths": ["group1-shard1of1.bin"],改成group1-shard1of1.bin请求路径

[2020-12-23 02:08] ghafran commented on #4437
@lina128 Thanks for the update. Looking forward to the fix. Would be good to automate the QA for automl to ensure models work with latest tensorflowjs. Happy to help with that.

[2020-12-23 02:38] mdjfs commented on #4401
Same error when I exec the command node-gyp configure --verbose in node_modules/@tensorflow/tfjs-node

I install the version 2.8.1 of @tensorflow/tfjs-node

![image](https://user-images.githubusercontent.com/56895143/102952766-4a7e8e80-44a6-11eb-8587-8fb866dabcd3.png)

![image](https://user-images.githubusercontent.com/56895143/102952794-58341400-44a6-11eb-8b70-029142961a13.png)

[2020-12-23 02:41] mdjfs commented on #4401
Hey! But I see something new:

![image](https://user-images.githubusercontent.com/56895143/102953027-cd074e00-44a6-11eb-97ee-9ee2a3ac37b7.png)

I hear about the package works better with python 2.7, but i have python 2.7, look:

![image](https://user-images.githubusercontent.com/56895143/102953073-e01a1e00-44a6-11eb-96a9-43b2c48aa228.png)

[2020-12-23 08:07] wangtz commented on #4394
Hi Sunyingbin,

TFHub models have been mirrored. You should be able to download the model from https://hub.tensorflow.google.cn/mediapipe/tfjs-model/iris/1/default/2

Let me know if it works.
Thanks,
Tiezhen

[2020-12-23 08:46] zhilongSu opened #4441 "encountered an error when using face-landmarks-detection in WeChat miniprogram"
The input parameter passed in the estimateFaces function is tensor3D, and an error is reported during execution

![image](https://user-images.githubusercontent.com/18515161/102975680-654f1280-453b-11eb-9dee-4b030e74ca1b.png)

![image](https://user-images.githubusercontent.com/18515161/102977548-19ea3380-453e-11eb-99b6-5905ed7eca77.png)

[2020-12-23 08:57] #4441 closed

[2020-12-23 09:45] Floffah commented on #4359
i fixed this by moving to an older node version via nvm

[2020-12-23 17:01] jonajames opened #4442 "[wasm] realDivide not yet implemented"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow.js version (you are using): 2.7.0
- Are you willing to contribute it (Yes/No): Yes

[2020-12-23 18:57] rthadur commented on #4442
cc @annxingyuan

[2020-12-24 06:09] Rishit-dagli opened #4444 "Managing channels in tf.node.encodeJpeg"
I am using [`tf.node.encodeJpeg`](https://js.tensorflow.org/api_node/1.3.0/#node.encodeJpeg) to convert my model output tensor to an image, however it seems like `tf.node.encodeJpeg` is unable to properly define the color channels. Here is the example code I use and the difference in outputs:

[code]

Here is the image I receive compared to the output from Python execution and it seems like the co

[2020-12-24 12:23] dosomder commented on #4131
@yann86 Thanks for the response. So is this expected behavior and not a bug? Is this documented somewhere?

[2020-12-24 15:58] PINTO0309 commented on #4177
I have generated and committed models for .pb, .tflite float32/float16, INT8, EdgeTPU, TFJS, TF-TRT, CoreML, and OpenVINO IR for testing. However, I was so exhausted that I did not create a test program to test it. I would be very happy if you could test it with your help. :smiley:
**https://github.com/PINTO0309/PINTO_model_zoo/tree/master/082_MediaPipe_Meet_Segmentation**

[2020-12-24 18:02] kirawi commented on #4177
Amazing work!

[2020-12-24 20:57] Omkaragrawal commented on #2003
I am getting the same issue with both tfjs-node and tfjs-node-gpu, some of previous versions were running properly, but are not working now.

Versions of my system:
tfjs-node: 2.7.0
node: 14.15.3
npm: 6.14.10

Please help

[2020-12-24 22:45] kirawi commented on #4177
https://github.com/PINTO0309/PINTO_model_zoo/tree/master/082_MediaPipe_Meet_Segmentation

[2020-12-24 22:56] PINTO0309 commented on #4177
There was a Japanese engineer who implemented it in TFJS. There still seems to be a little problem with the conversion. It gets shifted to the left.  Also, there is no smoothing post-processing called "light wrapping", so the border is jagged.

https://user-images.githubusercontent.com/33194443/103107920-4d37da00-4686-11eb-9129-8e34e272e638.mp4

[2020-12-24 23:04] kirawi commented on #4177
Is it fixable?

[2020-12-24 23:07] PINTO0309 commented on #4177
I'm using my own tricks in the optimization phase, so that may be affecting the results. Please give me some time so I can try this out.

[2020-12-25 13:23] PINTO0309 commented on #4177
It worked. However, the model resolution of 128x128 does not seem to be very accurate.
![test (コピー 1)](https://user-images.githubusercontent.com/33194443/103135921-5b760c80-46ff-11eb-9614-3ca4a5dc4e17.jpg)
![out1](https://user-images.githubusercontent.com/33194443/103135924-616bed80-46ff-11eb-94e1-a76224e3eb00.jpg)

[2020-12-25 18:28] kirawi commented on #4177
That's unfortunate, but nonetheless amazing work man!

[2020-12-26 00:14] kirawi commented on #4177
Ah wait, I think that is intentional to reduce the computational requirements of the model. The bilateral filter mentioned in the blog further refines the mask, and it might be the case that it works best with bright colours. I think all things considered, the model does its job fairly well.

[2020-12-26 00:46] PINTO0309 commented on #4177
@kirawi
I did not use bilateral filter and just binarized the image, so the result may not be good.
[code]

[code]

[2020-12-26 01:01] w-okada commented on #4177
I create the demo page to use PINTO's model converted to tensorflowjs.

https://flect-lab-web.s3-us-west-2.amazonaws.com/P01_wokers/t11_googlemeet-segmentation/index.html

You can change input device with control panel at right side. I you want to use your camera device, please try.

And at default this page use new version of PINTO's model, but it seems shift to left a little yet...

You can chan

[2020-12-26 01:10] PINTO0309 commented on #4177
I overlaid the image with the tflite implementation at hand. Does it shift when I apply the filter?

https://user-images.githubusercontent.com/33194443/103143865-68781780-4762-11eb-864d-3594c61e8972.mp4

[2020-12-26 01:59] kirawi commented on #4177
I don't think it's shifting, it looks more like the one with the white background is capturing more of the background than the other one.

[2020-12-26 02:01] PINTO0309 commented on #4177
@kirawi
I am currently investigating this issue in collaboration with @w-okada on twitter.

[2020-12-26 06:04] mdjfs commented on #4401
The issue only happens in Windows. Works in linux with WSL btw

[2020-12-26 19:12] w-okada commented on #4177
mmmm, I spent a lot of time to solve the "shifting" problem yesterday. However, I couldn't.
Can anybody help me?
This is my simple test code with nodejs.

[code]

![test](https://user-images.githubusercontent.com/48346627/103157745-b1c77600-47f9-11eb-86ca-b46ef6bfa721.jpg)
![res](https://user-images.githubusercontent.com/48346627/103157749-b5f39380-47f9-11eb-8adf-a089e21a1366.png)

[2020-12-28 01:20] stanhrivnak commented on #4177
Hi guys, first of all, many thanks to @PINTO0309, @w-okada, and others for putting your effort on this! Great work so far! I would really love to have this great model from google in my web app (currently I have bodypix with custom improvements, but still it sucks). Here are my 2 cents.
I have deployed the discussed original tflite model (https://meet.google.com/_/rtcvidproc/release/336842817/segm

[2020-12-28 01:43] PINTO0309 commented on #4177
@stanhrivnak
I have already succeeded in replacing custom operations. You're right, it would be quicker to check the results of the output for each layer, but I don't have enough time to do that since I'm also working on converting other models at the same time.
https://github.com/PINTO0309/PINTO_model_zoo/blob/32f1a821bc3c8a04a53ba3e18a45921a136de889/082_MediaPipe_Meet_Segmentation/01_segm_lite_t

[2020-12-28 15:18] dcsan commented on #4343
Actually I was asking about the encoder not my own models, as from the example above.

[code]

I don't think `sentenceEncoder.save()` will work in the same way as for a model. I do of course use that already for saving and caching models.

[2020-12-28 16:16] annxingyuan commented on #4378
I'm investigating. This is the first bad commit: https://github.com/tensorflow/tfjs/commit/c537c813ba8234a909d1e0849abfd95998a8fb5b

[2020-12-28 19:53] willmorgan commented on #4410
How are you getting imagery into the model?

Have you tried performance profiling your app?

One cause of the holdup could be `getImageData`. Using canvas as an input method (due to running off main thread), I find that `getImageData` takes a significant amount of time  - 78ms on a 2017 Macbook Pro. That's using a small canvas - 320x180.

[2020-12-28 21:11] tafsiri commented on #4431
Hi. I don't think react native supports WASM so you won't be able to use that backend there unfortunately.

[2020-12-28 21:11] #4431 closed

[2020-12-28 21:14] tafsiri commented on #4430
In this case you can probably use less memory by loading smaller images. Or you can resize large images to smaller ones using [resizeBilinear](https://js.tensorflow.org/api/latest/#image.resizeBilinear). You may also need to call [tf.dispose()](https://js.tensorflow.org/api/latest/#dispose) on tensors once you are done using them to free up memory for subsequent operations.

[2020-12-28 21:17] tafsiri commented on #4192
Yes it does work, but that may be more by accident than design. Could you let us know how more about how you came across this issue, that will help us in prioritization.

[2020-12-28 21:18] #4093 closed

[2020-12-28 21:26] tafsiri commented on #1698
Hi I realize this is an older bug, but thought I'd chime in anyway. This is by design, generally we expect users will want to see accuracy on the full 0-1 scale that the metric is reported over (and that this provides the most accurate view of overall performance). We do provide a `zoomToFitAccuracy` option to allow tighter zooming, but didn't see as much benefit to allowing arbitrary setting of t

[2020-12-28 21:26] #1698 closed

[2020-12-28 21:33] sbrl commented on #4317
Just want to chime in here. If keeping the dependency up-to-date isn't a concern, then maybe making the build process easier is? A few issues spring to mind:

 - libtensorflow 1.15 depends on CUDA 10.0, which is increasingly old and outdated - and unlikely to be installed on people's machines
 - The build instructions are outdated and misleading, as the reader is likely to assume that htye should

[2020-12-28 21:40] woodcockjosh commented on #4317
@sbrl yes I also spent a week figuring out you need those exact versions. I think at a minimum, a stop gap solution is to update the docs.

[2020-12-28 21:53] #4395 closed

[2020-12-28 23:05] dcsan commented on #4317
is this on linux? for me on the mac it was pretty smooth to install. if those versions are right, is it worth sending a PR? seems there's nearly 2000 PRs that have been merged for this repo

[2020-12-28 23:08] woodcockjosh commented on #4317
I'll open a PR if one of the project owners agrees to merge it before I spend the time. This still wouldn't address this issue which is to support libtensorflow 2.0. So I think a new issue to update the docs should be opened.

[2020-12-29 00:41] adotnusiyan opened #4449 "Unnormalized scores"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow.js): No
- OS Pla

[2020-12-29 02:22] #4437 closed

[2020-12-29 13:22] koosvanderkolk commented on #4030
Public demo's aren't working as well, e.g. https://storage.googleapis.com/tfjs-models/demos/mobilebert-qna/index.html

[2020-12-29 14:19] 1003657663 commented on #4000
I get The same problem.
my project is node-red

[code]

and then run node-red by
[code]

then get
[code]

[node-red-contrib-face-recognition/face-api] TypeError: Cannot read property 'nonMaxSuppressionV3I                                              mpl' of undefined

[2020-12-29 16:53] #4396 closed

[2020-12-29 22:13] sampsongao opened #4457 "Memory leak with Model predict?"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow.js): Yes
- OS Pl

[2020-12-29 22:31] PawelWesolowski opened #4458 "[Codelab]: Making Predictions from 2D Data"
In the Extra Credit section... Given the info from the codelab I am not able to "bend" the test prediction graph as it is on the codelab's example picture. I have tried different combinations of adding more units and layers e.g.:
[code]
but all I got was:
![flat](https://user-images.githubusercontent.com/17248853/103318010-4e258e80-4a2d-11eb-8334-d15ca7d1c6a9.png)

Could you please explain how to

[2020-12-29 22:52] stanhrivnak commented on #4177
@PINTO0309
Unfortunately, tflite format doesn't allow accessing intermediate results after each operation/layer, just the final output node... so we can't debug your code this way...
@jasonmayes
could you kindly provide information on when can we expect the release of the TFJS version of the model? Will it be in the order of weeks or months or "definitely not soon"? This information will greatly h

[2020-12-29 23:37] #4414 closed

[2020-12-30 07:44] taposh opened #4466 "Failure to Convert Tensorflow Saved Model to model.json ValueError: cannot create an OBJECT array from memory buffer"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow.js): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Mac OS Catalina
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: No
- TensorFlow.js installed from (npm or script link): pip installed
-  keras 2.2.4-tf
- tensorflow 2

[2020-12-30 07:57] borodadada opened #4467 "Node js - Warning: Missing input files + empty napi-v7"
Node js.
Hello. After latest update, i have warning

IMAGES:
npm install
https://ibb.co/zQwrkpw
empty file result
https://ibb.co/gZhQTCJ

[2020-12-30 10:04] #4359 closed

[2020-12-30 14:05] sbrl commented on #4317
@dcsan: Yep, I'm on Linux. Install is fine, but if you want AVX2 for example, you have to compile from source.

@woodcockjosh: If someone could chime in here that'd be awesome. /cc @pyu10055, @tafsiri

[2020-12-30 21:11] tafsiri commented on #4458
Increase the number of epochs you are training for. For example set it to 150 epochs and see what happens. However you results look like a horizontal line so I don't know if there is another bug in your code. Here is a link to a version with a solution that produces a more curved result. https://glitch.com/edit/#!/tfjs-training-one?path=script.js%3A89%3A17

[2020-12-30 21:11] #4458 closed

[2020-12-30 21:44] tafsiri commented on #4317
We'd be happy to take an update to the readme that clarifies the requirements or build steps, and I agree that it is a good intermediate step. In addition to listing the version of libtensorflow used, would tightening the version constraint for CuDNN mentioned here https://github.com/tensorflow/tfjs/tree/master/tfjs-node#installing to say `>=7.4.1 and < 8.0.0` help?

I think we would also need to

[2020-12-31 03:30] naah69 opened #4473 "wasm error when simd enable"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code : yes
- OS Platform and Distribution : windows 10
- TensorFlow.js installed from :

[2020-12-31 07:09] #4394 closed

[2020-12-31 16:40] adotnusiyan opened #4474 "Scores of Listen and Recognize are different in speech-commands"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow.js):No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows10
- TensorFlow.js installed from (npm or script link): npm
- TensorFlow.js version (use command below): 2.8.2
- Browser version: Google Chrome. Version 87.0.4280.88 (Official Build) (x86_64)

**Describe the

[2021-01-01 00:49] Junhano opened #4475 "Problem during installation for React Native"
So I try to install Tensorflow on my React Native app but after installing all the required dependency it return some errors on my IOS phone

[code]

That's my package.json
[code]
I make sure I did pod install as well.
Also side questions. I don't use expo for my app at all. Do I still need to install those dependency to make Tensorflowjs work?

[2021-01-02 02:33] EmperorSupreme commented on #4442
yeah I had this same exact problem. What should I do to fix it?

[2021-01-02 13:52] #4449 closed

[2021-01-03 16:11] henrmota opened #4477 "Determinant of a matrix"
I just want to make a question, I developed an algorithm to calculate the determinant of a square matrix, If I open a pull request will the community help me to put this code in the required way? What are my chances to see my code merged?

A version of this can be seen at, (open the console to see the output):

https://codepen.io/henrmota/pen/MWjjoJB

**System information**
- TensorFlow.js version

[2021-01-04 08:10] aleenajames20 opened #4479 "SeparableConv2D"

[2021-01-04 08:13] aleenajames20 commented on #4479
Uncaught (in promise) Error: Fields kernelInitializer, kernelRegularizer and kernelConstraint are invalid for SeparableConv2D. Use depthwiseInitializer, depthwiseRegularizer, depthwiseConstraint, pointwiseInitializer, pointwiseRegularizer and pointwiseConstraint instead.

[2021-01-04 08:14] epicure opened #4480 "Error running LinSpace"
When I run **[tf.linspace](https://js.tensorflow.org/api/2.8.2/#linspace)** in the 2.8.2  API documentation.
I got this "An error occured on line: 1 Error running LinSpace: Neither modular kernel nor forward func passed".

![image](https://user-images.githubusercontent.com/422362/103514521-23658b00-4eb0-11eb-9284-8197ab47d166.png)

The 2.7.0 vsersion of tf.linspace works but 2.8.0, 2.8.1, 2.8.2  a

[2021-01-04 08:29] simon-lanf commented on #4177
@w-okada

Could you publish the code for this page please ? Thank you.

[2021-01-04 08:47] marcelgoya commented on #4177
@simon-lanf You should be able to get it by simply opening the referenced JS/TSX files. Google DevTools is your friend here ....

[2021-01-04 09:29] long1216 commented on #239
Any update about the encryption?
Would it be possible to have similar architecture like [this](https://github.com/tf-encrypted/tf-encrypted)?
Thank you so much.

[2021-01-04 09:39] floe commented on #4177
@w-okada this is entirely off-topic, but I just have to ask - was the picture in your post taken in Z10, by any chance?

[2021-01-04 10:49] w-okada commented on #4177
@floe
I don't know. I just used the picture PINTO provided above post.

[code]

[2021-01-04 10:51] w-okada commented on #4177
@simon-lanf

This code is in my dev-branch.
You can see at (or clone from) https://github.com/w-okada/image-analyze-workers/tree/dev/011demo_googlemeet-segmentation-worker-js-demo

[2021-01-04 11:42] floe commented on #4177
Oh, now I see, the image is from PASCAL VOC. Sorry for the noise.

[2021-01-04 11:43] floe commented on #4177
JFYI, I have a C++ TFLite implementation using the Google Meet model for background segmentation: https://github.com/floe/deepbacksub

[2021-01-04 11:57] PINTO0309 commented on #4177
Now that I have been introduced to the full-size model, I will try my hand at quantization, including conversion of custom operations.

**144x256**
https://meet.google.com/_/rtcvidproc/release_1wttl/345264209/segm_full_v679.tflite

[2021-01-04 12:35] zhuyingyan opened #4481 "Use tfjs 2.8.2 executeAsync show 'length' undefined error"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow.js): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- TensorFlow.js installed from (npm or script link): script link
- TensorFlow.js version (use command below): 2.8.2
- Browser version: Google Chrome. Version 87.0.4280.88

**Describe the current behavior

[2021-01-04 14:30] zholmes1 commented on #4424
Switching from `import { loadGraphModel } from '@tensorflow/tfjs'` to `import * as tf from '@tensorflow/tfjs'`/`tf.loadGraphModel` allowed me to remove the all chained ops script.

[2021-01-04 15:31] simon-lanf commented on #4177
Can anyone tell if this one is different from v679 ?

https://meet.google.com/_/rtcvidproc/release_1wttl/345264209/segm_lite_v681.tflite

[2021-01-04 15:44] floe commented on #4177
@simon-lanf AFAICT it's the same model, just the resolution is different.

[2021-01-04 15:47] kirawi commented on #4177
That one is 96x160, I think

[2021-01-04 16:04] #4408 closed

[2021-01-04 16:14] jiangjianping commented on #4177
@tafsiri

Is there anything about the joint bilateral filter used in Google Meet? Which is the guide image?  Thanks.

[2021-01-04 19:08] MiksVasiljevs commented on #4481
I got a similar error, but when running tf.topk() on my prediction results instead.

What seemed to fix it was running .print() on the inference output tensor.

This works:
[code]

But this throws an error
[code]

No clue why the error is being thrown without the print though.

[2021-01-04 20:04] #4410 closed

[2021-01-04 22:58] dcsan commented on #4343
not stale :D

[2021-01-04 23:51] pyu10055 commented on #4481
@zhuyingyan @MiksVasiljevs can either of you provide a codepen example for this failure?

[2021-01-05 00:51] pyu10055 commented on #4457
I tried your example with node cpu, I did not see memory spike (both tf.memory() and system monitor), how have you measured the memory?

[2021-01-05 01:24] huningxin commented on #4192
Sorry for late response as I was on vacation.

I found this issue by using TF.js to implement the [matmul](https://webmachinelearning.github.io/webnn/#api-modelbuilder-matmul) op of WebNN in its [polyfill](https://github.com/webmachinelearning/webnn-polyfill). The matmul of WebNN is compatible to matmul of TF. So if TF.js follows the same behavior, it would simplify the webnn-polyfill implementati

[2021-01-05 03:12] wingman-jr-addon commented on #4347
@annxingyuan and @pyu10055 I think you may be interested to see the direction Firefox has taken now regarding this flag in the linked bugs [1684475](https://bugzilla.mozilla.org/show_bug.cgi?id=1684475) and [1678652](https://bugzilla.mozilla.org/show_bug.cgi?id=1678652).

[2021-01-05 03:22] rthadur commented on #4467
Here is a similar issue https://github.com/tensorflow/tfjs/issues/1121 which was raised earlier , looks like a bug.
cc @pyu10055

[2021-01-05 03:37] rthadur commented on #4475
i don't think you need tfjs-converter and tfjs-core in dependencies , please refer here for package.json https://github.com/tensorflow/tfjs/blob/master/tfjs-react-native/package.json
cc @tafsiri

[2021-01-05 03:42] rthadur commented on #4477
It looks like you haven't used a template to create this issue. Please resubmit your issue using a template from [here](https://github.com/tensorflow/tfjs/issues/new/choose). We ask users to use the template because it reduces overall time to resolve a new issue by avoiding extra communication to get to the root of the issue. We will close this issue in lieu of the new one you will create from the

[2021-01-05 03:42] #4477 closed

[2021-01-05 04:39] zholmes1 opened #4483 "tfjs-react-native: Any way to make models load faster? (outside of Metro)"
I load three graph models when my app boots. On my new Galaxy S20+, this takes ~3 seconds with Metro (served over HTTP right?) and ~9 seconds with a release bundle (loaded with react-native-fs I believe). These numbers are fine (although I'd be interested to know why it takes 3x as long when the file is already on-device _edit: I realize now this is because over HTTP we use fetch as binary, wherea

[2021-01-05 04:39] rthadur commented on #4479
It looks like you haven't used a template to create this issue. Please resubmit your issue using a template from [here](https://github.com/tensorflow/tfjs/issues/new/choose). We ask users to use the template because it reduces overall time to resolve a new issue by avoiding extra communication to get to the root of the issue. We will close this issue in lieu of the new one you will create from the

[2021-01-05 04:39] #4479 closed

[2021-01-05 05:06] zholmes1 commented on #4483
I think I know what's going on here.

I found this in react-native-fs:
[code]

And this in BundleResourceHandler:
[code]

So the flow is:

RNFS reads bytes > RNFS converts to base64 > TFJS receives base64 > TFJS converts to bytes

[2021-01-05 07:01] MiksVasiljevs commented on #4481
See here:
https://codepen.io/miksvasiljevs/pen/VwKxpGK

Let me know if there are any issues with the pen or anything.

[2021-01-05 07:15] PINTO0309 commented on #4177
I replaced the custom OPs of the full-size model with standard OPs, and further converted them with my own optimization. I have not implemented any post-processing, but I think it performs quite well.

- **segm_full_v679_144x256_opt_float32.tflite**
**https://drive.google.com/file/d/1tKhwGLJ3f0GYDAWFiufv0e7DGVfW6ztS/view?usp=sharing**

- **TFJS (Float32/Flot16), TF-TRT (Float32/Float16), TFLite (F

[2021-01-05 08:22] PINTO0309 commented on #4177
I re-committed, revising the conversion method and also improving the accuracy of the 128x128 Lite model.
- **segm_lite_v509_128x128_opt_float32**
**https://drive.google.com/file/d/1qOlcK8iKki_aAi_OrxE2YLaw5EZvQn1S/view?usp=sharing**

- **TFJS (Float32/Flot16), TF-TRT (Float32/Float16), TFLite (Float32/Float16,INT8), OpenVINO (FP32/FP16), CoreML, and EdgeTPU**
**https://github.com/PINTO0309/PINTO_

[2021-01-05 08:26] adriangodong commented on #3931
For reference, this was released in [2.5.0](https://github.com/tensorflow/tfjs/releases/tag/tfjs-v2.5.0).

[2021-01-05 08:38] adriangodong opened #4484 "Update tfjs-models/body-pix dependencies to @tensorflow/tfjs 2.x"
**System information**
- TensorFlow.js installed from (npm or script link): npm
- TensorFlow.js version (use command below): 1.5.2
- Tensorflow.js Converter Version: 1.5.2

**Describe the current behavior**

The latest release of @tensorflow-models/body-pix depends on @tensorflow/tfjs-core 1.x, ref: https://github.com/tensorflow/tfjs-models/blob/c08dae1739f8cc42502c1770ce4f314052ece2e8/body-pix/pa

[2021-01-05 09:21] floe commented on #4177
@PINTO0309 excellent, thank you. Can you briefly summarize what optimizations you used?

[2021-01-05 09:30] w-okada commented on #4177
Wow!!!
Great. With tfjs, it completely worked!

https://user-images.githubusercontent.com/48346627/103629625-ea96e600-4f83-11eb-832b-c2d69ed8c228.mp4

[2021-01-05 09:53] amiregelz commented on #4177
@w-okada This is amazing!

[2021-01-05 09:58] jonajames commented on #4442
This seems to be working now with version tf version 2.8.2
Closing

[2021-01-05 09:58] #4442 closed

[2021-01-05 10:29] zholmes1 commented on #4483
@tafsiri

Check this out! I think I'm on to something here. I know this code is pretty raw (mixing Expo FS and RNFS...) but it actually works! And I can use this exact same code to load buffers in Metro or in release.

I was able to reduce my shards load time from 9-12 seconds to 3-3.5 seconds!

Flow:

1. Get asset uris from expo-asset
2. Copy files from cache into document directory
3. use react-

[2021-01-05 10:29] #4483 closed

[2021-01-05 11:00] w-okada commented on #4177
With wasm, I get the image like below. Ummmm.

![image](https://user-images.githubusercontent.com/48346627/103638685-95150600-4f90-11eb-97d4-7fb02dfa4b47.png)

[2021-01-05 11:18] PINTO0309 commented on #4177
@floe

I used the following trick.

1. Fused bias, weight, and activation functions (ReLU/ReLU6) into Convolution, FullyConnected, and DepthwiseConvolution.
2. Since the tflite model published by Google is quantized to Float16, I dared to temporarily convert it to Float32 to support conversion to various frameworks.
3. In order to quantize INT8 and run it on a fast inference device called EdgeTPU,

[2021-01-05 16:37] #4434 closed

[2021-01-05 16:39] tafsiri commented on #4475
@Junhano It looks like you might be missing a step in the installation of [unimodules](https://docs.expo.io/bare/installing-unimodules/), did you go through everything here? https://github.com/tensorflow/tfjs/tree/master/tfjs-react-native#step-2-install-dependencies

To answer your other question, yes you still need to install those dependencies outside of an expo based app.

[2021-01-05 16:41] #4424 closed

[2021-01-05 16:54] jiangjianping commented on #4177
@w-okada .
Excellent and beautiful!  which post-process do you use?

[2021-01-05 18:41] rthadur commented on #4484
@tafsiri can we update tfjs-core version to latest ?

[2021-01-05 18:58] tafsiri commented on #4484
Yeah no reason why we shouldn't be able to. I think we have PRs for blazeface and face-landmarks-detection.

[2021-01-05 19:17] inf3rno commented on #1196
This one uses webGL for the computations, I think the node-tensorflow uses the C implementation: https://github.com/nikhilk/node-tensorflow It would be nice to compare them to each other and maybe to the python version on a few benchmarks. Afaik the webGl one is very slow, but so far I saw only browser measurements not nodejs ones.

[2021-01-05 21:06] tafsiri commented on #4480
Re-opening as this will need a new release to publish the fix.

For context this will only happen if linspace is the first op called. As a workaround you call
`tf.ready()` or `await tf.ready()` before calling any ops.

[2021-01-05 22:25] SkellyM386 opened #4497 "No Backend registry"
it says no backend registry heres the code, the error log and i even put the package.json in as well

<h3>What I was doing</h3>
I was trying to use the qna model but i keep getting the same error message and i've got no clue what im doing wrong.

<br /> I also am using the wikipedia article found here https://en.wikipedia.org/wiki/Google about google <br />and then in the second argument I have a

[2021-01-05 22:49] rthadur commented on #4484
@tafsiri submitted a PR , please review

[2021-01-06 00:31] #4481 closed

[2021-01-06 07:17] simon-lanf commented on #4177
@w-okada

Yeah I can reproduce it too, in WASM the results are different for the same images.

[2021-01-06 10:05] Nithanaroy opened #4493 "Error loading TF 2.3 model in tfjs-node"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow.js): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux & Mac
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: NA
- TensorFlow.js installed from (npm or script link): 2.8.2
- TensorFlow.js version (use command below):

[2021-01-06 16:18] rasikanavarange commented on #2000
Is there any update on when this might be implemented?

[2021-01-06 18:04] tafsiri commented on #4497
If you are using qna model with tfjs 2.x you need to import a backend at the top of your program. In your case I would add the following to the top of the program `import '@tensorflow/tfjs-node';`

[2021-01-06 18:06] kirawi commented on #4177
Quick hacky joint bilateral filter. I know nothing about this, but it seems to work.
[code]
![Capture](https://user-images.githubusercontent.com/67773714/103804205-b83ac680-501f-11eb-9c1f-6a2ba7b6a5d0.PNG)
![out3](https://user-images.githubusercontent.com/67773714/103804359-fd5ef880-501f-11eb-8b9f-9b6903dde56a.jpg)

[2021-01-06 20:23] riccrdo5 opened #4498 "Unhandled Rejecting Error ~ Implicit Shape Can't Be a Fractional Number"
Hello everyone, sos

I am following an online tutorial on how to run gesture recognition using react and tensor flow. However, I am always seeing this error whenever I play around with the webcam in chrome.

Here is my github for what I am working on btw. And here is the tutorial video I'm watching. I got stuck right around minute 10

https://github.com/riccrdo5/help

https://youtu.be/f7uBsb-0sGQ

[2021-01-06 21:35] vincentwinkel commented on #3568
I have the same problem with tensorflow 2.6.0.
Here are my vendors:
<img width="765" alt="Screenshot 2021-01-06 at 22 19 43" src="https://user-images.githubusercontent.com/1402505/103821681-02976400-506f-11eb-924a-c1f27c3a9d45.png">

And here are they after I import tensorflow:
[code]
<img width="1058" alt="Screenshot 2021-01-06 at 22 29 06" src="https://user-images.githubusercontent.com/1402505/1

[2021-01-06 23:18] rthadur commented on #4498
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow.js) since it is not a bug or feature request. There is also a larger community that reads questions there.

[2021-01-06 23:18] #4498 closed

[2021-01-07 00:27] jiangjianping commented on #4177
@kirawi
Interesting. Why do you use the out2 as guide image?

[2021-01-07 00:28] jimmy7799 commented on #4177
I have to use tensorflow full model because I want to use DNN module in OpenCV.

But in my test, the output of segm_full_v679_opt.tflite and segm_full_v679_opt.pb looks different.
I do not apply any pre/post processing right now and threshold are both 0.5.

Any trick there?
Thanks!

Original image:
![image](https://user-images.githubusercontent.com/67385591/103835409-0f01c980-503b-11eb-8e3c-2153f0

[2021-01-07 00:59] kirawi commented on #4177
It's the otherway around, out2 is the joint image.

[2021-01-07 02:54] sbrl commented on #4317
@tafsiri sorry for not getting back to you, I was on my Christmas break :-)

Yeah, clarifying the CuDNN version would help too.

That would be a great step to take as well. Though I suggest updating the build instructions to do something like e.g. `git switch v1.15.4` (untested) for example before executing any build commands. Perhaps a recommendation to install and use [`bazelisk`](https://github

[2021-01-07 07:35] LightSun commented on #1418
where is the pb file of posetnet ? I want to train and quantify ?

[2021-01-07 13:44] w-okada commented on #4177
I made a very rough version of something JBF-like.
It's very heavy....

![image](https://user-images.githubusercontent.com/48346627/103899482-cf6dd700-5139-11eb-90cf-301018a1da88.png)

![image](https://user-images.githubusercontent.com/48346627/103899513-da286c00-5139-11eb-8e89-1cbed906591f.png)

[2021-01-07 13:49] #4131 closed

[2021-01-07 14:06] rafallukasik123 commented on #4480
@tafsiri  your workground doesn't work for me.
When i call tf.ready() before calling any ops i have error in one of kernel func.
More specifically in fromPixels.js and the error content is "backend.makeTensorInfo is not a function"

[2021-01-07 14:08] arjunaskykok commented on #3568
I don't know how to fix it. But I gave up so I use Tensorflow on the server.

[2021-01-07 14:11] vincentwinkel commented on #3568
I heard about tree shaking (removing dead code), but my webpack config is hidden by vue-cli so I'm honestly a bit lost (also I build a UMD module, not a ES one).

[2021-01-07 15:07] tafsiri commented on #4480
@rafallukasik123 could you post a reprodcution (maybe in codepen form) so that we can take a look.

[2021-01-07 15:11] tafsiri commented on #4317
@sbrl since you have been through that process recently, would you be interested in making a PR to the README with your suggestions?

[2021-01-07 16:05] SkellyM386 commented on #4497
Thank you!

[2021-01-07 16:05] #4497 closed

[2021-01-07 16:09] janhuenermann opened #4500 "Implement step op in WASM backend (needed for training ReLU networks)"
**System information**
- TensorFlow.js version (you are using): 2.8.2
- Are you willing to contribute it (Yes/No): YES

**Describe the feature and the current behavior/state.**

Hi,

I am currently using `tfjs-backend-wasm` to implement some RL algorithms. For that I am trying to train a perceptron with ReLU activations in a web worker. Unfortunately not all ops required for this are implemented.

[2021-01-07 17:59] SkellyM386 commented on #3807
hope you dont mind but i was having a similar issue earlier and it was resolved when i used "import" instead of "require" so instead you would do:
<code>import tfnode from "@tensorflow/tfjs-node";</code>

where i was told to use such:
<a href="https://github.com/tensorflow/tfjs/issues/4497">the issue page where they had discussed it with me</>
<a href="https://github.com/tafsiri">the beautiful per

[2021-01-07 18:17] rthadur commented on #4500
cc @annxingyuan

[2021-01-07 19:09] tafsiri opened #4502 "look into switch import of union package to core in tfjs-vis"
current version of tfjs-vis will require tfjs as a peerDep rather than subpackages.

[2021-01-07 22:16] jimmy7799 commented on #4177
I run the script 02_segm_full_v679_tflite_to_pb_saved_model.py using weights from weights/144x256 and the generated pb file is different from that in repo.

The result is not good as segm_full_v679_opt.tflite, but looks better than original output of segm_full_v679_opt.pb.

![image](https://user-images.githubusercontent.com/67385591/103951016-c7d70f80-50f2-11eb-8263-0420e5fd5be3.png)

[2021-01-07 22:35] PINTO0309 commented on #4177
@jimmy7799
I seem to have committed a version of .pb that was tuned for EdgeTPU. In any case, .pb is deprecated.

Also, this is a tfjs issue, so I don't think it's really appropriate to discuss .pb or .tflite here. If necessary, you can issue an issue in my repository.

**https://github.com/PINTO0309/PINTO_model_zoo/issues**

[2021-01-07 22:40] jimmy7799 commented on #4177
OK. Thanks!

[2021-01-07 23:06] tafsiri commented on #353
To anyone interested in this topic and adventurous enough to try out a pre-release and give us feedback! We have a release candidate for a version of tfjs with improved support and workflows for tree shaking. Check out the [release notes here](https://github.com/tensorflow/tfjs/releases/tag/tfjs-v3.0.0-rc.0) which has more of the details on the new functionality.

Thanks!

[2021-01-08 02:18] #4500 closed

[2021-01-08 04:51] vladmandic commented on #4325
linking to #4500

[2021-01-08 07:58] rafallukasik123 commented on #4480
Unfortunately I can't share all the code. Here is a small snipe of code https://codepen.io/rafallukasik123/pen/LYRBpVj
When i remove tf.ready() from the beginning i have error similar to you "Error running Round: Neither modular kernel nor forward func passed".
If my code contain tf.ready() i have mentioned error "backend.makeTensorInfo is not a function" in @tensorflow/tfjs-backend-webgl/dist/ker

[2021-01-08 09:43] Junhano commented on #4475
Ok So I reinstall many module and the app start now. However it still shows
The kernel 'undefined' for backend 'cpu' is already registered
The kernel 'undefined' for backend 'webgl' is already registered
These two warnings

[2021-01-08 09:58] JPery opened #4507 "GPGPUProgram does not support complex64 input"
**System information**

- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 20.04
- TensorFlow.js installed from (npm or script link): script link "//cdn.jsdelivr.net/npm/@tensorflow/tfjs@2.8.2/dist/tf.min.js"
- TensorFlow.js version (use command below): 2.8.2
- Tensorflow.js Converter Version: TensorFlow.js Converter v2.8.2
- Browser version: Google Chrome 83.0.4103.61

**Desc

[2021-01-08 10:05] jiangjianping commented on #4177
@w-okada ,
For JBF, I wonder which is your guide image again the output mask? I test with output mask againest source/last mask/the same mask using opencv JBF, It looks no obvious effect.

[2021-01-08 10:40] w-okada commented on #4177
@jiangjianping
I used original image as guidimage. And note. I made JBF like filter by myself, and this is maybe not JBF.

[2021-01-08 13:23] rafallukasik123 commented on #4480
in the latest version 2.8.3 I have error `Error running Reciprocal: Neither modular kernel nor forward func passed`.
should I create a new issue?

[2021-01-08 14:35] tafsiri commented on #4480
@rafallukasik123 Yes I think a new issue would be best. In terms of reproduction, you don't have to post your whole code, ideally it would be the smallest snippet of code that shows the error. It can even just load the library and directly call tf.reciprocal or tf.browser.fromPixels. In the codepen you posted I get a syntax error so the code doesn't run.

[2021-01-08 14:39] tafsiri commented on #4475
[code]

I think you want these to all be the same version (either 2.7.0 or 2.8.2)

[2021-01-08 14:54] rafallukasik123 opened #4508 "Support Reciprocal in wasm backend"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- TensorFlow.js installed from (npm or script link):  2.8.3
- TensorFlow.js version (use command below): 2.8.3
- Browser version:  Chrome 87
- Tensorflow.js Converter Version: 2.7

**Describe the current behavior**
When i run my efficientdet model in the WASM backend i have error `Error running Reciprocal:

[2021-01-08 15:40] tafsiri commented on #4508
@rafallukasik123 thanks for adding the extra info about the backend you are using. The WASM backend does not yet implement Reciprocal. You could try this with the webgl backend and see if it works.

I'm going to update this bug to be a feature request for adding reciprocal to the wasm backend.

[2021-01-08 17:09] Leejo-011 opened #4509 "My intention is to reduce the size of the model when im converting to json using quantization"
I need to convert my keras model to json file but to the large size of my model i need to reduce the size of my converting model so i made use of quantization using tensorflow version of 2.4.0 and tensoflowjs version of 2.8.3 i came across two issues while persuing my work.

   1. The https://stackoverflow.com/questions/63949766/how-can-i-quantize-a-keras-model-while-converting-it-to-a-tensorflowj

[2021-01-08 19:36] pyu10055 commented on #4509
@Leejo-011 can you check you command, the `input_format` should be `keras` instead of `tfjs_layers_model`

[2021-01-08 19:38] pyu10055 commented on #4507
@JPery can you share the original saved model and converted model in order for us to reproduce. thanks.

[2021-01-08 20:12] rthadur commented on #4510
cc @pyu10055 @lina128 should we rerelease the package to make it compatible ?

[2021-01-08 21:09] jj12345654321 opened #4511 "Incompatible with Ubuntu 20.04?"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 20.04
- TensorFlow.js installed from (npm or script link): 2.8.0
- TensorFlow.js version: 2.8.0
- CUDA/cuDNN version: No cuda being used.

**Describe the problem**

After installing through NPM, on node.js 14.8.0, it receives the bindings in tfjs-node for NAPI-4. Then when tfjs is called in the program,

[2021-01-08 21:36] pyu10055 commented on #4511
@jj12345654321 have you tried to delete the node_modules directory and reinstall the latest (2.8.3) tfjs-node?
I have tried node 14.8.0 on a linux machine (debian) without problem.

[2021-01-08 21:38] PawelWesolowski commented on #4458
Thanks. Works now. The only difference was the number of epochs - it MUST be over 100.
Fyi. your glitch example uses only 50 epochs and if you retry it couple of times, you may see a result similar to mine. This is from your glitch:
<img width="516" alt="Screenshot 2021-01-08 at 21 52 36" src="https://user-images.githubusercontent.com/17248853/104066611-f98acc00-5201-11eb-986c-fc2a60102f4c.png">
C

[2021-01-08 21:48] pyu10055 commented on #4467
I cannot reproduce this with tfjs-node 2.8.3 on a windows 10 machine that runs 15.2.1 node.
@borodadada what is the tfjs-node version you using?

[2021-01-08 21:53] tafsiri commented on #4480
Fixed in 2.8.3 https://js.tensorflow.org/api/2.8.3/#linspace

[2021-01-08 21:53] #4480 closed

[2021-01-08 21:58] pyu10055 commented on #4350
@venkat-ravilla can you provide a codepen example for reproducing this error? thanks

[2021-01-09 02:59] nickplee opened #4514 "Unsupported system error when installing on M1 / Apple Silicon"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): macOS 11.0.1 (20B29)
- TensorFlow.js installed from (npm or script link): npm
- TensorFlow.js version: 2.8.3

**Describe the problem**

Installation fails due to a missing precompiled `libtensorflow` for darwin / arm64.

Apple has [their own fork](https://github.com/apple/tensorflow_macos) of TensorFlow supporting th

[2021-01-09 06:49] #4401 closed

[2021-01-09 08:37] borodadada commented on #4467
after last update all work fine!

[2021-01-09 08:41] borodadada commented on #4467
now all work fine. tested. thanks

[2021-01-09 14:37] Leejo-011 commented on #4509
@pyu10055 Thank you🙂... But i gave it a try it doesnt achieve my requirement of reducing the size it simply converts keras to json format

[2021-01-10 02:30] yareyaredesuyo commented on #3140
Still obsoleted, but for reference.

Stylized output range is [0-1], but encodeJpeg looks like require [0-255] image output range.
So you have to apply mul(255) for stylized output.

from

[code]

to

[code]

and it works.

![out](https://user-images.githubusercontent.com/31843888/104112860-21c81700-5337-11eb-894b-6027fd5fe791.jpg)

[2021-01-11 08:46] #4475 closed

[2021-01-11 08:55] Junhano opened #4516 "decodeJpeg() function don't work in react native"
So I basically copy the same code from the doc (https://blog.tensorflow.org/2020/02/tensorflowjs-for-react-native-is-here.html) about using tensorflow in react native. However when I want to call decodeJpeg function it returns an error

Error: Expected image (JPEG, PNG, or GIF), but got unsupported image type
getImageType@http://192.168.0.141:8081/index.bundle?platform=ios&dev=true&minify=false:37

[2021-01-11 09:06] rafallukasik123 opened #4517 "Efficientdet and mobilenet models don't work correctly on ipads"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: ipad mini 5, ipad air 3
- TensorFlow.js installed from (npm or script link): npm
- TensorFlow.js version (use command below):  2.8.3
- Browser version: Chrome 87
- Tensorflow.js Converter Version: 2.8.3

**Descr

[2021-01-11 09:11] JPery commented on #4507
Hi!
I've uploaded the two models. [model-tf.zip](https://github.com/tensorflow/tfjs/files/5794742/model-tf.zip) and [model-tfjs.zip](https://github.com/tensorflow/tfjs/files/5794743/model-tfjs.zip).

I'm testing the tfjs one with  ```tf.zeros([1, 88200, 1])``` but it throws the error. When I load the model in Python with ```tf.saved_model.load``` and predict with ```result = saved_model(tf.zeros([

[2021-01-11 14:10] vladmandic commented on #4166
@pyu10055 @annxingyuan @rthadur sorry to bug, but is there any update on this issue? no progress for over two months and it's pretty much a blocker for one of my projects as complex models simply cannot be used at all.

[2021-01-11 14:25] vladmandic commented on #4325
update: tested with **tfjs 2.8.3**, error message has changed but result is still a failure:
[code]

[2021-01-11 14:28] vladmandic commented on #4066
@rthadur @tafsiri and plans for implementing this? the issue is open and not even assigned.

[2021-01-11 15:08] phamleduy04 commented on #3807
I'm trying that too but still get the same error

In order to use import in node we need to change the file extension to `.mjs` so I did that.

[code]

and this is problem

[code]

[2021-01-11 15:15] phamleduy04 commented on #3807
update: I think problem is in the `predictClass()` function cause I can train without any problem. But when I run the `predictClass()` function the program will show the error above.

[2021-01-11 16:19] vladmandic commented on #4326
@rthadur @annxingyuan is wasm backend getting any updates? this makes it very unreliable (and pretty much useless for training) and there are no updates at all.

[2021-01-11 16:20] vladmandic commented on #4311
@rthadur @annxingyuan is wasm backend getting any updates? this makes it very unreliable and there are no updates at all.

[2021-01-11 17:02] pyu10055 commented on #4325
@vladmandic Step op was added to WASM in the latest (2.8.3), can you give it another try, see the error message makes more sense now? thanks

[2021-01-11 17:04] vladmandic commented on #4325
@pyu10055 i've noticed it was added and i've tried, but i can't make sense of the new error message:
[code]

[2021-01-11 17:38] pyu10055 commented on #4517
@rafallukasik123 what are the ops missing  on WASM for efficientnet?
I believe Mobilenet should have all ops supported on WASM.

[2021-01-11 17:52] lina128 commented on #4325
Hi @vladmandic, the missing op is implemented and merged into our codebase, but hasn't been released yet. I will be in 2.8.4, likely happen later this week.

[2021-01-11 17:54] vladmandic commented on #4325
@lina128 thanks - i thought it was released in tfjs 2.8.3, my bad. i'll wait for 2.8.4

[2021-01-11 18:02] rthadur commented on #4467
Thank you  for confirming , closing this issue.

[2021-01-11 18:02] #4467 closed

[2021-01-11 18:06] lina128 commented on #4325
No problem, @vladmandic. You can track what is released using our release notes: https://github.com/tensorflow/tfjs/releases/tag/tfjs-v2.8.3

[2021-01-11 18:28] pyu10055 commented on #4514
@nickplee thank you for reporting this, can you help to test it out following the instruction of custom TF build
https://github.com/tensorflow/tfjs/tree/master/tfjs-node#optional-build-optimal-tensorflow-from-source

@yhwang any suggestions on this? thanks.

[2021-01-11 19:12] jj12345654321 commented on #4511
@pyu10055 I have attempted to delete node_modles and reinstall 2.8.3. I am getting the same error message. However, this time, when I tried to build addon from source, I got a different output instead of the usual one:

`# npm rebuild @tensorflow/tfjs build-addon-from-source
@tensorflow/tfjs@2.8.3 /service/node_modules/@tensorflow/tfjs
@tensorflow/tfjs@2.8.2 /service/node_modules/@tensorflow/tfjs-

[2021-01-11 19:22] yhwang commented on #4514
since the tfjs-node@2.8.3 is using tensorflow shared libs v1.15.0, I think it's better to build the dependent shared libs by using the link @pyu10055 posted [above](https://github.com/tensorflow/tfjs/tree/master/tfjs-node#optional-build-optimal-tensorflow-from-source). However, the tricky part would be tweaking the tensorflow to build on darwin arm64. It's okay by using ubuntu with arm64 to build

[2021-01-11 21:50] rafallukasik123 commented on #4517
As for wasm now i'm waiting to solve the issue https://github.com/tensorflow/tfjs/issues/4508.
Yes, mobilenet works well on the WASM and CPU backend.  Problem  occurs for both architectures only on webgl. I think when efficientdet successfully run on the wasm backend issue with precision will be resolved.

[2021-01-11 22:49] #4430 closed

[2021-01-11 23:12] jiangjianping commented on #4177
I wonder who is knowing how to implement light wrapping effect with open source code?

[2021-01-11 23:56] yhwang commented on #4514
@pyu10055 a side question: any idea of supporting more platforms and architectures officially?

[2021-01-12 01:35] nickplee commented on #4514
@yhwang @pyu10055

I actually already tried subbing in the Apple library and recompiling the binding. I was hopeful, but ran in to two issues:

- `TF_StringDecode`, `TF_StringEncode`, and `TF_StringEncodedSize` are used by the binding and were deprecated/removed from the TensorFlow C API in 2.4.0
- After removing the usages of those functions (and replacing them with what I think is the right alte

[2021-01-12 03:02] Sunyingbin opened #4520 "Is it possible to recognize facial expressions through face-landmark-detection"
hello:
       I would like to ask whether it is possible to judge facial expressions through the face net

[2021-01-12 09:58] 404jimnotfound opened #4522 "npm i @tensorflow/tfjs-node fails to install"
- System version: Ubuntu MATE 20.04.1 LTS 64-bit
- Installation source:  NPM (npm i @tensorflow/tfjs-node)
- TensorFlow.js version: 2.8.3-node
- CUDA/cuDNN version: none

npm i @tensorflow/tfjs-node fails to install tfjs-node. It looks like that it cannot download  CPU-linux-2.8.3.tar.gz because it no longer exists on that directory.

Terminal log:
`> @tensorflow/tfjs-node@2.8.3 install /opt/lampp

[2021-01-12 18:36] rthadur commented on #4520
cc @annxingyuan @pyu10055 @lina128

[2021-01-12 18:39] rthadur commented on #4522
@404jimnotfound can you please provide npm version ?

[2021-01-12 18:47] mattsoulanille commented on #4516
@Junhano, since you're using a local image on iOS, is it possible the image you've loaded uses [Apple's HEIF format](https://support.apple.com/en-us/HT207022#:~:text=All%20new%20photos%20and%20videos,HEVC%20formats%2C%20choose%20High%20Efficiency.)? You may have to convert it to a supported format before calling `decodeJpeg`.

[2021-01-12 20:18] lina128 opened #4524 "tfjs-backend-wasm-threaded-simd.wasm is not found starting from 2.8.1"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow.js):
- OS Platfo

[2021-01-13 00:41] Junhano commented on #4516
I did print out the url and the ending is jpg

[2021-01-13 00:42] Junhano commented on #4516
I did print out the URL and it ends with jpg

[2021-01-13 09:35] w-okada commented on #4177
I tried to run the model on the webworker. It reached to 100fps!? (maybe... if my performance counter is not broken...)
Note. my pc has RTX1660.

- High Speed
https://user-images.githubusercontent.com/48346627/104433385-640a8600-55cd-11eb-927d-7df9b8cb0bc6.mp4

- High Quality
https://user-images.githubusercontent.com/48346627/104433387-653bb300-55cd-11eb-805f-2712263001ae.mp4

[2021-01-13 09:46] amiregelz commented on #4177
Is there a tfjs we can run on the client side yet?

[2021-01-13 15:11] vladmandic opened #4525 "wasm backend returns incorrect values as result"
I have a very simple float32 model (link provided in the code below) that takes image with values in range of 0..255 as input and returns a single float32 value.
Works perfectly with `webgl` backend, but values explode using `wasm` backend.
E.g., instead of returning value in range of 1-99, it returns values like 700+.

This is just one more case that looks like incorrect cast inside `wasm` backen

[2021-01-13 15:57] simon-lanf commented on #4177
@amiregelz https://github.com/w-okada/image-analyze-workers/tree/master/011_googlemeet-segmentation-worker-js

[2021-01-13 17:17] iHildy commented on #4522
I run into this exact same error with a different package, quick.db. I have tried installing with and without sudo.

[2021-01-13 17:26] iHildy commented on #4522
I fixed it by doing `sudo npm install quick.db --unsafe-perm`
So try `sudo npm install @tensorflow/tfjs-node --unsafe-perm`

[From this issue](https://npm.community/t/eacces-permission-denied-access-root-npm/5667/5)

[2021-01-13 21:50] tafsiri commented on #4516
Could you try wrapping your arraybuffer in a UInt8Array similar to this example https://js.tensorflow.org/api_react_native/0.5.0/#decodeJpeg.

If that doesn't work could you upload a sample image file that shows this behaviour.

[2021-01-13 22:18] amiregelz commented on #4177
@simon-lanf @w-okada I'm trying to adapt this to webcam media stream, do I need both canvases?
Also, in the demo page @w-okada published my CPU hits 200%, is there any way to avoid this? I thought it should be less intense in terms of computing than bodypix

[2021-01-13 23:30] w-okada commented on #4177
@amiregelz
Because it uses 5 webworkers in my demo. You can use the model on  one webworker or on main thread if you want.
Anyway, using 5 webworkers was overkill to achive high fps. So I fix it to 2 webworkers. Try it.

[2021-01-14 02:31] eunminlee opened #4529 "tfjs-node-gpu fails because missing binary version napi-v4 >2.7.0 for windows"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): windows 10
- Mobile device (e.