[2018-10-19 19:33] #449 closed

[2018-10-19 19:42] DavidGOrtega commented on #808
@iacovlev-pavel
It's funny, I'm having the same issue. My first guess was that I'm running it in 32bits, having the 4GB memory limitation. I saw the task manager and effectively my node was handled by a 32bits console.

I have to try it in 64 bits to confirm this

[2018-10-19 19:45] FoseFx opened #810 "[tfjs-node-gpu] node_modules/typescript/lib/lib.dom.d.ts:15340:11 - error TS2430: Interface 'WebGLRenderingContext' incorrectly extends interface 'WebGLRenderingContextBase'."
#### TensorFlow.js version
``@tensorflow/tfjs-node-gpu 0.1.1``

#### Browser version
 ``node v9.9.0, npm 6.2.0``

#### Describe the problem or feature request
I just freshly installed tfjs-node-gpu on windows 10. Now I copy-pasted the "get started" code and tried to transpile it with typescript (tsconfig below). The project has no other dependencies.

Error message:
[code]

#### Code to reproduce

[2018-10-19 19:48] DavidGOrtega opened #811 "I started to write an OpenGL backend"
Hi guys,

yesterday I started to mock up a new backend based on openGL to access any GPU on Mac and Windows. It sounds quite logical to me since tfjs has backend WebGL, generating bindings for openGL would be a better option to address any possible non CUDA GPU in desktop specially the cheapo ones in laptops apart of Intel and AMD.

You must have thought about it for sure, and that makes me doubt

[2018-10-19 20:12] nkreeger commented on #808
@pyu10055 for reference. There is a converter patch coming that might help here: https://github.com/tensorflow/tfjs-converter/pull/216

Do you know how large your model is?

[2018-10-19 20:12] nkreeger commented on #808
Also - can you provide more device information (Win10 right?) which NVIDIA card/CUDA/etc.

[2018-10-19 20:14] nkreeger commented on #811
Stay tuned - we're looking at providing support for this. This isn't as easy as "run on the system OpenGL". WebGL doesn't fully reflect OpenGL ES 2.0 - it is closer to ES 3.0 but still has a variety of issues.

[2018-10-19 20:16] nkreeger commented on #810
Looks like a problem with TypeScript or your definitions. Can you try updating those packages or posting your package.json?

[2018-10-19 20:30] nkreeger commented on #810
https://stackoverflow.com/questions/52846622/error-ts2430-interface-webglrenderingcontext-incorrectly-extends-interface-w

Try that

[2018-10-19 20:35] iacovlev-pavel commented on #808
@nkreeger
1. Windows 10
2. NVIDIA GTX 960M, 4GB VRAM
3. CUDA 9.0
4. CUDNN 7.3.1.20

frozen_inference_graph.pb - 181 MB (converted model is the same size but split in chunks).

NVIDIA GTX 1080 is available, can try on it Tomorrow.

[2018-10-19 20:45] FoseFx commented on #810
Now I get a new Error:
[code]

[2018-10-20 03:04] tafsiri commented on #787
Opening the scope of this to just more broadly improve sourcemap support given some recent issues we've had with debugging.

Leaving a breadcrumb here to pick up the investigation next week. But basically I think we may need to put the ts sources in our npm bundle, or we could re-write the sourcemap urls to the compiled js. However i think the latter is not as ideal as its not as readable as the t

[2018-10-20 09:16] yuki-sato commented on #775
I'm facing the same.
I think this is happen only with iOS12. Maybe related to #727

[2018-10-20 10:50] FoseFx commented on #810
For now I just use the `--skipLibCheck` option in tsc.

[2018-10-20 10:50] #810 closed

[2018-10-20 19:53] caisq opened #812 "[Feature Request] tfjs-vis fitCallbacks should allow plotting multiple curves in the same axes"
Plotting multiple curves in the same axes will be very useful. In fact, it is a little inconvenient if this feature isn't there. For example, often we want to plot the training loss and the validation loss in the same axes in order to compare them, so we can make judgments about overfitting.

In terms of API, this can be done in a fully backward-compatible way, by changing the signature of `metric

[2018-10-20 22:10] caisq opened #813 "[Feature Request] tfjs-vis visor should allow horizontal resizing"
In the case where the page viewport is small, the visor can take a significant proportion of the page, obscuring other parts. Making is horizontally resizable will be good.

[2018-10-20 22:12] caisq opened #814 "[Feature Request] tfjs-vis visor should show a "restore" button after it's hidden"
Currently, the tfjs-vis visor has a "hide" button, after clicking which the visor will be hidden. But there is no way for the user to restore the visor! So instead of hiding the entire visor, maybe there should be a button of some kind that stays at a corner of the page and allows the user to restore the visor by clicking it.

[2018-10-21 03:49] nukadelic commented on #322
I was facing the similar issue, adding a simple delay solved the issue for me since waiting a bit will let the video element to set the proper dimensions like so:

[code]

[2018-10-21 20:43] caisq opened #815 "Export modelFromJSON as tf.models.modelFromJSON"
This layers method is currently not exposed in the public API. We need to export it. It will be analogous to the keras.models.model_from_json() method in Keras.

[2018-10-22 02:12] caisq commented on #807
@GangDevp If the response is 200, then what is body of the response? Can you confirm it is a valid JSON?

[2018-10-22 05:17] GangDevp commented on #807
@ allenwangcheng  I have voiddate JSON data and it's right.

[2018-10-22 08:19] iacovlev-pavel commented on #808
Tried with a NVIDIA GTX 1080 8GB, it works, no OOM errors with `tfjs-node-gpu`.
[code]

On NVIDIA GTX 960M with 4GB
Python: Works
tfjs-node-gpu: Fails, OOM.

P.S. Is it possible to load the Tensorflow `frozen_inference_graph.pb` directly and avoid `tfjs-converter` ?

[2018-10-22 08:38] iacovlev-pavel commented on #808
Tested with a NVIDIA GTX 1080 8GB, all works as expected, no OOM error with `tfjs-node-gpu`.

On NVIDIA GTX 960M 4GB:
Tensorflow Python: works.
tfjs-node-gpu: fails.

[2018-10-22 09:52] Raza25 commented on #245
What is the version for tfjs to which you have added these changes @caisq, @nsthorat @bileschi  ?
I get the warning 'orthogonal initializer is being called' this results in slowness and out of memory exception to end with.
What changes should I make to solve this issue?

[2018-10-22 12:56] DavidGOrtega commented on #811
@nkreeger awesome!

Yeah I know what you mean, I wrote an HTML canvas API on top of WebGL to support gl-react-native.

On windows any electron app would benefit of this out of the box, right?
With chromium running Angle I have tried magenta style transfer model and seems to work.
In fact setting the --use-gl=desktop option I could see that the chromium engine fallback to Google SwiftShader(CPU) on

[2018-10-22 15:49] tafsiri commented on #787
Update: https://github.com/tensorflow/tfjs/pull/816 handles the umd bundle, while upgrading parcel fixes the issues we were having when bundling locally.

[2018-10-22 16:30] adriaciurana opened #817 "Is it possible to preload the tf.tidy?"
To get help from the community, check out our [Google group](https://groups.google.com/a/tensorflow.org/forum/#!forum/tfjs).

#### TensorFlow.js version
0.12.7

#### Browser version
Chrome

#### Describe the problem or feature request

Hi, I know that this question may sound a bit confusing, but I am using tf.tidy to execute some operations prior to the entry of a neural network.

The problem is t

[2018-10-22 16:49] #798 closed

[2018-10-22 17:09] nkreeger commented on #808
Are you using Python with eager mode on?

On Mon, Oct 22, 2018 at 1:42 AM Pavel Iacovlev <notifications@github.com>
wrote:

[2018-10-22 17:52] dontmarryme commented on #740
@jthomas hi, is this because the CPU is not supported in tf? would you please give the complete code about how to make node-fetch work? it should be inside the async function? thank you very much.

[2018-10-22 19:41] tafsiri commented on #817
What you are doing is the right approach. That first predict is often longer because it initializes a number bunch of textures on the gpu. Many of these can be re-used on subsequent calls which helps reduce that time. There isn't really a way around this initialization that the browser has to do that I can think of.

In theory if you wanted to pre-warm the GPU in smaller chunks you could create te

[2018-10-22 19:45] tafsiri commented on #740
@dontmarryme this is because `fetch` does not exist by default on node. So adding this line

[code]

To the top of your file after installing https://www.npmjs.com/package/node-fetch should do the trick

[2018-10-22 19:48] tafsiri commented on #787
https://github.com/tensorflow/tfjs-website/pull/199 updates the default link on the homepage to one that will correctly load the sourcemaps for the umd bundle.

[2018-10-22 21:57] dsmilkov opened #1011 "Make sure the boston housing demo has good accuracy"
This is just to double check and make sure the boston housing ML example  has a decent accuracy (doesn't blow up with numerical issues, etc)

[2018-10-23 00:38] #794 closed

[2018-10-23 00:44] xiaodeaux opened #818 "@types/webgl-ext conflicts with the TypeScript standard library"
#### TensorFlow.js version
`@tensorflow/tfjs-node-gpu@0.1.18`

#### Browser version
N/A as I'm only using Node at the moment

#### Describe the problem or feature request

The issue has been discussed on StackOverflow here: https://stackoverflow.com/questions/52846622/error-ts2430-interface-webglrenderingcontext-incorrectly-extends-interface-w

And I created an issue for DefinitelyTyped: https://g

[2018-10-23 01:52] theangels commented on #784
Thanks @caisq , I upgrade tensorflow version to 1.11.0 version, tfjs-converter to 0.6.2. And I retrain the 7-voice model by using the same dataset, try to infer by using tensorflowjs in Web application. I found it works.

[2018-10-23 01:53] #784 closed

[2018-10-23 02:12] dontmarryme commented on #740
@tafsiri Still not working after added that line, or I am on different issue?

APPLEde-MacBook-Pro-2:mobilenet apple$ node mobilenet.js package.json panda.jpg
cpu backend was already registered. Reusing existing backend
2018-10-23 10:03:28.259707: I tensorflow/core/platform/cpu_feature_guard.cc:141] Your CPU supports instructions that this TensorFlow binary was not compiled to use: SSE4.2 AVX AVX2

[2018-10-23 05:41] #807 closed

[2018-10-23 06:34] allenwangcheng opened #819 "tf.image.decode_image和tf.fromPixels read the same jpg but result is differ?"
To get help from the community, check out our [Google group](https://groups.google.com/a/tensorflow.org/forum/#!forum/tfjs).

#### TensorFlow.js version

#### Browser version

#### Describe the problem or feature request

#### Code to reproduce the bug / link to feature request

[2018-10-23 06:36] allenwangcheng commented on #615
is your output of tf version code  same with your tfjs version code?

[2018-10-23 08:05] iacovlev-pavel commented on #808
@nkreeger I don't.

The model which I am running is `faster_rcnn_resnet101`, I have tried `ssd_mobilenet_v2` and it seems that it does not have the memory issue.
Could it be that `tfjs-converter` does not efficiently convert some of the kernels or something among this line ?

[2018-10-23 09:29] vmarkovtsev commented on #709
Thank you @nkreeger, I will check it out soon.

[2018-10-23 09:54] kunwuz opened #820 "How should I do if I want to change the way keypoints connected?"
To get help from the community, check out our [Google group](https://groups.google.com/a/tensorflow.org/forum/#!forum/tfjs).

#### TensorFlow.js version
Cloned the latest code from repo https://github.com/tensorflow/tfjs-models
Followed the README of posenet demos
#### Browser version
Chrome Version 66.0.3359.181
#### Describe the problem or feature request
I'm a highschool student and not familia

[2018-10-23 10:58] dontmarryme commented on #740
still can't get it right, I think I have install everything right inside my folder. this is where I started:
http://jamesthom.as/blog/2018/08/07/machine-learning-in-node-dot-js-with-tensorflow-dot-js/

@tafsiri I put global.fetch = require('node-fetch') on top inside the script.js already, still don't work.

APPLEde-MacBook-Pro-2:mobilenet apple$ node script.js mobilenet/model.json panda.jpg
cpu b

[2018-10-23 11:37] annxingyuan opened #821 "Packed ops should be able to sample from uniforms"
Our packed samplers do not know how to sample from uniforms. For this reason, there is a condition in `backend_webgl.compileAndRun` that bails out of uploading small tensors as uniforms if they are being fed into a packed op.

[2018-10-23 11:55] riccardogiorato opened #822 "Is it useful if I add a simple example on tfjs-examples posenet with video feed and not webcam?"
Is it useful if I add a simple example on tfjs-examples posenet with video feed and not webcam?

It will enable anyone to get posenet estimation from a downloaded video easily by replacing a placeholder video.

[2018-10-23 13:38] caisq commented on #807
@GangDevp I saw you closed this issue. Is it because you somehow resolved the issue?

[2018-10-23 14:11] #774 closed

[2018-10-23 14:41] caisq commented on #822
I think it'll be useful! "help wanted" tag added. :)

[2018-10-23 14:45] tafsiri commented on #740
@dontmarryme `fetch` only works for http(s) protocol. It looks like you changed the protocol to `file://` which wouldn't work with fetch. I'd say you can either go the route of loading the hosted model (and not changing the protocol to file) or following the tutorial code (which doesn't need node-fetch). Have you tried running the code from that tutorial as is (after downloading the necessary file

[2018-10-23 14:51] tafsiri commented on #822
Quick question, would the placeholder video be in the repository or hosted somewhere? Is this something that could potentially be added to the existing posenet demo?

cc @nsthorat @oveddan

[2018-10-23 14:58] dontmarryme commented on #740
@tafsiri thanks for the reply, no, I haven't tried the tutorial, which tutorial link you are referring to? what I want is to run tfjs on node.js, actually I have no background for js so all are very confusing for me, thank you for your guide again!

[2018-10-23 15:30] tafsiri commented on #740
@dontmarryme i was referring to the tutorial you linked above http://jamesthom.as/blog/2018/08/07/machine-learning-in-node-dot-js-with-tensorflow-dot-js

Have you tried it when everything is exactly similar to that tutorial? The code you posted has some differences.

[2018-10-23 16:02] dontmarryme commented on #740
@tafsiri yes, I have uploaded my code to gitlab:

https://gitlab.com/greenhouseinfo/mobilenet-on-node.js

you may find the downloaded models are put in node-modules/tensorflow-models/mobilenet

[2018-10-23 17:14] nkreeger commented on #808
We use TensorFlow's eager API for all execution (inference and training). It's possible that eager mode is not working well with certain GPUs. Non-eager (graph) mode builds a graph and can re-use Tensors. However, eager mode is easier to use but a cost of performance (each output must be re-alloc'd).

We do have one memory fix coming in the converter - https://github.com/tensorflow/tfjs-converter/

[2018-10-23 17:47] nsthorat commented on #9
This is now fixed.

[2018-10-23 17:47] #9 closed

[2018-10-23 18:15] kangyizhang opened #1010 "Make tf.data.csv returned dataset compatible with model.fitDataset"
Currently there is a mismatch between tf.data.csv returning dicts, and model.fitDataset expecting arrays. We could either

1) add a optional argument in CsvConfig to make tf.data.csv return the array form
2) or make model.fitDataset accept the dict form
3) or provide a utility function to translate automatically

[2018-10-23 19:00] #771 closed

[2018-10-23 20:10] nsthorat commented on #781
@Lewuathe this is fixed for the webgl backend from this PR: https://github.com/tensorflow/tfjs-core/pull/1335

Keeping this open if you have cycles to fix the CPU backend! :)

[2018-10-23 20:35] nsthorat opened #823 "TypeError: ext.getQueryObjectEXT is not a function thrown in unit tests"
Chrome 70.0.3538 (Mac OS X 10.13.6) fromPixels + regular math op test-webgl1 {"WEBGL_VERSION":1} debug mode does not error when no nans FAILED
	Uncaught TypeError: ext.getQueryObjectEXT is not a function thrown

Looks like something changed in newer versions of Chrome for WebGL 1?

cc @annxingyuan

[2018-10-23 21:32] xiaodeaux commented on #818
@tafsiri Thank you.

The types package has been updated: https://github.com/DefinitelyTyped/DefinitelyTyped/issues/29897

[2018-10-23 23:12] #548 closed

[2018-10-23 23:13] nkreeger commented on #343
@caisq this should be closed now right?

[2018-10-24 00:10] Lewuathe commented on #781
@nsthorat Great. Thanks! But it seems to support only 2-dimensional tensor. Isn't it necessary to support any dimensional tensor? (e.g. inner-most vector of 4-dimensional tensor.)

[2018-10-24 00:16] nsthorat commented on #781
The op supports arbitrary rank, collapsing the batch dimensions into a single dimension before calling the kernel (the backend method). You just have to implement the 2D version and higher ranks are taken care of for you.

[2018-10-24 02:00] nkreeger commented on #818
Should be fixed in the next release of `@tensorflow/tfjs`

[2018-10-24 02:00] #818 closed

[2018-10-24 02:20] Lewuathe commented on #781
@nsthorat Good to know. Thanks!

[2018-10-24 05:14] Raza25 commented on #755
I get the same error while loading a keras converted model on browser.
following error pops up
![embeddings_issue](https://user-images.githubusercontent.com/43875409/47407630-9245e600-d775-11e8-9b4f-28c0f1f1292d.PNG)

As for the model weights:
![model_issue_embedding](https://user-images.githubusercontent.com/43875409/47407494-e603ff80-d774-11e8-8faf-ac68793b2ae7.PNG)

Note: Some of my converted m

[2018-10-24 07:08] Giorat commented on #822
@tafsiri it could be both for the video, hosted outside or a really lightweight one in the folder in the repository. What would be better?

[2018-10-24 07:10] kidzik opened #824 "Shape mismatch in a DenseNet121 converted from pytorch through keras."
#### TensorFlow.js version
`0.13.2`

#### Browser version
Firefox 62.0.3 64-bit
Chrome Version 68.0.3440.84 (Official Build) (64-bit)
Ubuntu 18.04

#### Describe the problem or feature request
DenseNet converted from pytorch to keras and then from keras to tfjs throws an error on load in tensorflow-js:
`Error: Shape mismatch: [null,1000] vs. [1024,1000]`

#### Code to reproduce the bug / link to f

[2018-10-24 08:17] ashsharma28 commented on #755
Same error here, Someone please help.

tfjs@0.13.0:2 Uncaught (in promise) Error: Provided weight data has no target variable: conv2d/kernel
    at new t (tfjs@0.13.0:2)
    at loadWeightsFromNamedTensorMap (tfjs@0.13.0:2)
    at t.loadWeights (tfjs@0.13.0:2)
    at tfjs@0.13.0:2
    at tfjs@0.13.0:2
    at Object.next (tfjs@0.13.0:2)
    at i (tfjs@0.13.0:2)

![image](https://user-images.githubus

[2018-10-24 11:21] annxingyuan opened #825 "Create fused matMul + relu shader for frozen model inference"
When matMul and an activation e.g. relu are adjacent in a frozen model, encode them as a single new op: `matMulWithActivation`. This should happen only for inference so don't need to worry about gradients yet.

[2018-10-24 11:36] annxingyuan opened #826 "Have the WebGL backend send certain ops to the CPU if it would be faster"
Develop a heuristic for identifying smaller ops that would always be faster on the CPU. In `backend_webgl:compileAndRun`, check whether the incoming op meets the criteria and if so send it to the CPU.

From Nikhil:

For small operations in WebGL, we currently upload them to textures and call a shader. This can be much slower than just running operations on the CPU.

It would be great to have a heu

[2018-10-24 12:59] dsmilkov commented on #775
Duplicate of #727

[2018-10-24 12:59] #775 closed

[2018-10-24 14:37] tafsiri commented on #822
I have a preference towards something that can fit in the existing posenet demo folder (e.g. maybe a video.js to complement the camera.js), just so that it is easy to find and we can point people to one thing (as opposed to a separate folder in a different repo). As for video location having it hosted means that the demo can just work being served off a static host like we do now so that is also g

[2018-10-24 14:39] nsthorat commented on #822
cc @oveddan

[2018-10-24 14:40] tafsiri commented on #817
Going to close this for now as it seems to have answered the question?

[2018-10-24 14:40] #817 closed

[2018-10-24 14:42] tafsiri commented on #787
Fixed for tfjs-examples in https://github.com/tensorflow/tfjs-examples/pull/161

[2018-10-24 15:14] tafsiri commented on #787
I've tested sourcemap support for core, layers and converter umd bundles and they are working. The only file i noticed without a sourcemap is https://github.com/tensorflow/tfjs-converter/blob/master/src/data/compiled_api.js (check your node_modules for an installed tfjs to see). Not sure how critical it is and if i remember correctly this is not a file we generate ourselves.

@dsmilkov Going to cl

[2018-10-24 15:21] dsmilkov commented on #787
One last thing: Update the script tag in the README in the main tfjs repo: https://github.com/tensorflow/tfjs/blob/master/README.md

[2018-10-24 15:22] dsmilkov commented on #787
Also merge the other PRs:
https://github.com/tensorflow/tfjs-website/pull/199
https://github.com/tensorflow/tfjs/pull/816

[2018-10-24 16:56] #815 closed

[2018-10-24 19:23] annxingyuan opened #828 "Encode float program should be able to handle packed input textures"
In `backend_webgl:getValuesFromTexture` we need to either unpack first and then encode floats or create a version of `EncodeFloatProgram` that handles packed inputs.

[2018-10-24 19:41] nsthorat commented on #75
This is done.

[2018-10-24 19:41] #75 closed

[2018-10-24 19:42] nsthorat commented on #76
We're not going to do this.

[2018-10-24 19:42] #76 closed

[2018-10-24 19:43] nsthorat commented on #77
Closing this since it's outdated.

[2018-10-24 19:43] #77 closed

[2018-10-24 19:44] nsthorat commented on #79
This happened in ML5!

[2018-10-24 19:44] #79 closed

[2018-10-24 19:45] nkreeger commented on #78
duplicate of https://github.com/tensorflow/tfjs/issues/811

[2018-10-24 19:45] nsthorat commented on #80
We see no use cases for this now, please reopen this if there is a use case.

[2018-10-24 19:45] #80 closed

[2018-10-24 19:45] #811 closed

[2018-10-24 19:45] #568 closed

[2018-10-24 19:47] #714 closed

[2018-10-24 19:49] nsthorat commented on #105
Closing this out.

[2018-10-24 19:49] #105 closed

[2018-10-24 19:49] dsmilkov commented on #141
Since this issue, we've done global tracking of tensors, as well as transferring tensors between backends, so this error is likely outdated.

[2018-10-24 19:49] #141 closed

[2018-10-24 19:49] nsthorat commented on #108
Closing this out in favor of individual issues.

[2018-10-24 19:49] #108 closed

[2018-10-24 19:54] dsmilkov commented on #251
Closing in favor of a specific issues tracking error messages.

[2018-10-24 19:54] #251 closed

[2018-10-24 19:54] nsthorat commented on #114
This is fixed.

[2018-10-24 19:54] #114 closed

[2018-10-24 19:54] dsmilkov commented on #256
Closing since all of these ops landed in the converter and core.

[2018-10-24 19:54] #256 closed

[2018-10-24 19:55] nsthorat commented on #118
There is no zip in TensorFlow so we do not plan on implementing it here. Check out lodash for a zip impl.

[2018-10-24 19:55] #118 closed

[2018-10-24 19:55] dsmilkov commented on #238
Closing since this issue is likely outdated. Feel free to re-open if the problem is there using the latest converter.

[2018-10-24 19:55] #238 closed

[2018-10-24 19:56] nsthorat commented on #122
This is fixed! See this example in models: https://github.com/tensorflow/tfjs-models/tree/master/speech-commands

[2018-10-24 19:56] #122 closed

[2018-10-24 19:56] nsthorat commented on #123
Fixed!

[2018-10-24 19:56] #123 closed

[2018-10-24 19:57] nsthorat commented on #129
I think you finished this, no? Please reopen if I am wrong.

[2018-10-24 19:57] #129 closed

[2018-10-24 19:58] dsmilkov commented on #276
A simple solution would be to compare `tf.memory().numTensors` in a `beforeEach()` and `afterEach()`. You can add these gradually to more 'describe()` modules.

[2018-10-24 19:59] nsthorat commented on #131
There are just two more to implement here, we can file individual issues for those?

[2018-10-24 19:59] #131 closed

[2018-10-24 19:59] nsthorat commented on #132
Closing this, out of scope of this library.

[2018-10-24 19:59] #132 closed

[2018-10-24 20:00] annxingyuan opened #829 "Add Mean Pairwise Squared Error loss function"
Copied from original issue: https://github.com/tensorflow/tfjs/issues/131

[2018-10-24 20:00] nsthorat commented on #133
I don't think we're going to get to this.

[2018-10-24 20:00] #133 closed

[2018-10-24 20:01] nsthorat commented on #134
@jgartman, yeah we'd probably want a GPU version too!

[2018-10-24 20:01] annxingyuan opened #830 "Add Sparse Softmax Cross Entropy loss function"
Copied from original issue https://github.com/tensorflow/tfjs/issues/131

[2018-10-24 20:01] nsthorat commented on #139
Duplicate.

[2018-10-24 20:01] #139 closed

[2018-10-24 20:01] nsthorat commented on #140
tf.loadModel and tf.loadFrozenModel work in Node.js now!

[2018-10-24 20:01] #140 closed

[2018-10-24 20:01] nsthorat commented on #142
Fixed.

[2018-10-24 20:01] #142 closed

[2018-10-24 20:02] nsthorat commented on #144
It works great, says @annxingyuan :)

[2018-10-24 20:02] #144 closed

[2018-10-24 20:03] nsthorat commented on #145
Hi, can you rerun this with the latest version? Thanks!

[2018-10-24 20:03] nsthorat commented on #150
This is done.

[2018-10-24 20:03] #150 closed

[2018-10-24 20:04] nsthorat commented on #162
This is 100% fixed

[2018-10-24 20:04] #162 closed

[2018-10-24 20:05] nsthorat commented on #168
@pyu10055 can you revisit which of these are done?

[2018-10-24 20:06] nsthorat commented on #182
:)

[2018-10-24 20:06] #182 closed

[2018-10-24 20:06] nsthorat commented on #188
This is done and ported, part of tfjs-models repository!

If there are any specific ops, please file an issue per op.

[2018-10-24 20:06] #188 closed

[2018-10-24 20:06] nsthorat commented on #189
@caisq fixed this.

[2018-10-24 20:06] #189 closed

[2018-10-24 20:08] #210 closed

[2018-10-24 20:09] nsthorat commented on #211
I don't think there's any way to detect this :/

[2018-10-24 20:09] #211 closed

[2018-10-24 20:09] dsmilkov commented on #199
Closing the issue since we fixed the spurious error message regarding WebGL: INVALID_ENUM: readPixels: invalid type.

[2018-10-24 20:09] #199 closed

[2018-10-24 20:09] nsthorat commented on #214
tf.fft() is added. There are separate issues for ifft(), rfft(), etc.

[2018-10-24 20:09] #214 closed

[2018-10-24 20:10] #809 closed

[2018-10-24 20:12] nsthorat commented on #240
This should be fixed. Please reopen if you see it not working on the latest version of tfjs.

[2018-10-24 20:12] #240 closed

[2018-10-24 20:12] #247 closed

[2018-10-24 20:14] #605 closed

[2018-10-24 20:14] nsthorat commented on #258
This should work now.

[2018-10-24 20:14] #258 closed

[2018-10-24 20:15] nsthorat commented on #265
Now we support float16 so this should at least have a little higher precision.

[2018-10-24 20:15] #265 closed

[2018-10-24 20:17] dsmilkov commented on #281
The epsilon is different since 32bit floats in WebGL are not necessarily 32bits (often 16 or 24bits, depending on hardware). We set epsilon in order to be safe and numerically stable across a wide range of GPU devices.

[2018-10-24 20:17] #281 closed

[2018-10-24 20:18] nsthorat commented on #269
Can you try this again because we have a lot more support, and would you please file issues for individual ops that we do not support? Thanks so much :)

[2018-10-24 20:18] #269 closed

[2018-10-24 20:20] #276 closed

[2018-10-24 20:28] dsmilkov commented on #426
We enabled tests on Safari, so this is outdated.

[2018-10-24 20:28] #426 closed

[2018-10-24 20:29] #315 closed

[2018-10-24 20:31] nsthorat commented on #329
This is done!

[2018-10-24 20:31] #329 closed

[2018-10-24 20:32] dsmilkov commented on #374
Duplicate of https://github.com/tensorflow/tfjs/issues/757

[2018-10-24 20:32] #374 closed

[2018-10-24 20:34] dsmilkov commented on #751
Hey, I have a MacBook and it passes. David/Josh can you each send me your laptop spec and the exact OS X version. Thanks!

[2018-10-24 20:35] dsmilkov commented on #584
Closing since this got fixed.

[2018-10-24 20:35] #584 closed

[2018-10-24 20:37] dsmilkov commented on #725
What's the exact issue here? You shouldn't dispose that variable since it's needed to compute the loss.

[2018-10-24 20:37] carlthome commented on #214
Great news!

[2018-10-24 20:40] dsmilkov commented on #658
After investigation, we've concluded that these numerical issues arise due to the hardware limitations, thus closing this issue.

[2018-10-24 20:40] #658 closed

[2018-10-25 00:17] xiaodeaux commented on #818
@nkreeger Do you have an ETA when the next version will be released? I think the current version was released only a few days ago.

Thank you! ❤

[2018-10-25 01:15] jgartman commented on #751
Sure, I just upgraded to OS X 10.14 (18A391) this past week and I still see the same failure.  Here's a bit more system info:

[code]

Issue looks similar to #291

[2018-10-25 01:40] jgartman commented on #134
@nsthorat I actually thought about this a bit more since I wrote that comment and I'm not sure how you would parallelize shuffling in an efficient way.  One way to implement shuffling with WebGL shaders would be to generate a texture of random numbers the same size as the input tensor and then for each index n on the output tensor have it pick the number at the same location as the nth largest val

[2018-10-25 01:42] jgartman commented on #67
I'll give this a shot

[2018-10-25 02:35] nrothGIT opened #831 "tf.memory reports incorrect value for numBytesInGPU when using quantized weights"
To get help from the community, check out our [Google group](https://groups.google.com/a/tensorflow.org/forum/#!forum/tfjs).

#### TensorFlow.js version
0.13.2

### Browser version
Version 70.0.3538.67 (Official Build) (64-bit)

#### Describe the problem or feature request
I take a model trained in tensorflow, and run the tensorflowjs_converter with quantization_bytes=1. When doing so, I observe t

[2018-10-25 02:38] nsthorat commented on #134
Okay that makes sense - in that case we can generate indices on the CPU and run `tf.gather()` which will likely be fast enough, if it becomes a performance bottleneck we can always come back to it.

[2018-10-25 04:06] yhwang commented on #684
Hi @pyu10055, I open a PR for LogSoftmax op and you can see the [link](https://github.com/tensorflow/tfjs-core/pull/1342) above. Hope you can provide review/comment. Thanks

[2018-10-25 06:08] wemyss commented on #767
Just created two PRs for this (one for core and one for layers). I noticed that 6D tensors were now partially supported the same as 5D so I added them as well. Took quite a while to understand how things worked so I've probably messed something up. Also keen for feedback on how to improve (either with PRs or just code) 😄 Sorry it took a while

[2018-10-25 08:46] dontmarryme commented on #740
I now follow the tutorial code loading models from file with file:// without node-fetch: "script.js model.json panda.jpg", but still get the same error messages, any idea?

[2018-10-25 08:56] daisy-ycguo commented on #740
I have exactly the same issue with @dontmarryme . Even following the [tutorial](http://jamesthom.as/blog/2018/08/07/machine-learning-in-node-dot-js-with-tensorflow-dot-js), I still meet with error `browserHTTPRequest is not supported outside the web browser without a fetch polyfill.`.

[2018-10-25 09:36] daisy-ycguo commented on #740
I finally worked it out.

I use `global.fetch = require('node-fetch')`. In `script.sh` I change the loading mode script from `file` to `https`:
[code]

Then I met with an error `Error: Unknown feature TENSORLIKE_CHECK_SHAPE_CONSISTENCY.`

And then , I bump tfjs to the latest release:
[code]

It works for me now.

[2018-10-25 09:48] JasonShin opened #832 "Tensor/Matrix and math operations + reduction"
To get help from the community, check out our [Google group](https://groups.google.com/a/tensorflow.org/forum/#!forum/tfjs).

#### TensorFlow.js version
`0.13.2`

#### Describe the problem or feature request

I'd like to request a feature `reduce` that cumulatively applies the math function onto each item in the Tensor and produce a new tensor with a new shape.

Such API might be invoked like

[co

[2018-10-25 10:42] rajeev-tbrew commented on #755
I hit the same error without batch norm. Appreciate your help.

![capture](https://user-images.githubusercontent.com/38608333/47495015-b9351280-d870-11e8-855d-78fcc5dc901a.PNG)

[2018-10-25 10:48] allenwangcheng opened #833 "Error dumping weight ssd_bboxes_select/add/y, dtype int64 not supported."
TensorFlow.js version 0.6.4

[2018-10-25 11:23] annxingyuan opened #834 "Unpacking after reshaping can cause inaccurate packed sampling"
cc @caisq @nsthorat @dsmilkov

This bug was introduced by https://github.com/tensorflow/tfjs-core/pull/1329

We impose a constraint on packed texels that they may contain only adjacent rows / columns from the same batch. This means if we reshape a tensor backed by a packed texture, we may also need to rearrange the values within the texture so that the constraint is maintained. For example, if we

[2018-10-25 11:56] rajeev-tbrew commented on #755
Folks

I think I found why we are getting this error. The error can happen for any layer. Steps to reproduce the error:

1. Load the model in tensorFlow using tf.keras.
2. Load the same model again (basically load the model more than once).
3. Use tfjs.converters to convert keras model and you get this error.

It seems every layer name changes in model.json file (it  will  be different than model.

[2018-10-25 13:39] mohanr opened #835 "Test procedure for tfjs framework"
To get help from the community, check out our [Google group](https://groups.google.com/a/tensorflow.org/forum/#!forum/tfjs).

#### TensorFlow.js version

#### Browser version

#### JavaScript frameworks are usually tested using multiple headless browsers on multiple devices. So,
for example, we use Karma/Jasmine. How do I get more details about how TensorflowJS is tested ?
What is the test infrast

[2018-10-25 13:41] mohanr commented on #835
I failed to notice that there is a Google group. I will ask there first.

[2018-10-25 13:41] #835 closed

[2018-10-25 14:47] tafsiri commented on #790
I think this was referring to adding something like a table of contents to the examples repo readme. I'm generally in support of this, and it dovetails well with some of the work i'm doing in refreshing the default presentation of the examples.

[2018-10-25 14:59] caisq commented on #790
@tafsiri SG. Thanks for the comment. I do plan to add such a table to the README.md file soon.
The table look something like this

[code]

LMK how that looks to you.

[2018-10-25 17:08] justadudewhohacks commented on #756
Ok, thanks for the hints. I will try to get this working and then submit a PR.

[2018-10-25 17:16] annxingyuan opened #836 "Add iOS 12 to BrowserStack test environments"
The relevant line: https://github.com/tensorflow/tfjs-core/blob/master/karma.conf.js#L86

[2018-10-25 19:52] nickponline opened #837 "Error: invalid wire error during loadFrozenModel"
#### TensorFlow.js version 1.11.0
#### Browser version: Chrome: Version 70.0.3538.67 (Official Build) (64-bit)

#### Describe the problem or feature request
I trained an SSD model with Tensorflow Object Detection API and then converted to a frozen_graph with:

[code]

Then to a web model with:

[code]

But when loading it I get an exception:
![image](https://user-images.githubusercontent.com/59015

[2018-10-25 21:22] nsthorat commented on #782
I'm going to knock these off since there's a Google team that wants these ops soon :)

[2018-10-25 23:57] rthadur commented on #833
It looks like you haven't used a template to create this issue. Please resubmit your issue using a template from [here](https://github.com/tensorflow/tensorflow/issues/new/choose). We ask users to use the template because it reduces overall time to resolve a new issue by avoiding extra communication to get to the root of the issue. We will close this issue in lieu of the new one you will create fr

[2018-10-25 23:57] #833 closed

[2018-10-26 00:12] Lewuathe commented on #782
@nsthorat Are you working on `tf.spectral.rfft` and `tf.spectral.irfft` too?

[2018-10-26 00:13] nsthorat commented on #782
@Lewuathe I haven't started yet! If you want to take this, go ahead if you think it will be in the near term future :) Note that this is not exactly the same as `real(fft(x))`.

[2018-10-26 02:54] jeancochrane opened #839 "Add tf.io.browserFiles() to API docs"
`tf.io.browserFiles` was super useful for helping me quickly test out different models, but I killed an hour or so debugging its behavior because the API isn't documented -- as far as I can tell it should be under [Models / Management](https://js.tensorflow.org/api/0.13.0/#Models-Management) with the rest of the `tf.io` methods, although I may have missed it elsewhere.

Would you accept a PR addin

[2018-10-26 03:11] devjiro76 commented on #832
This is alway i think, I totally agree with Jason

[2018-10-26 06:32] yohacai opened #840 "Will you support the CTC loss function?"
Is the CTC loss function already supported by  tfjs-converte ?

[2018-10-26 09:07] iacovlev-pavel opened #841 "Error in concat1D: rank of tensors[2] must be the same as the rank of the rest (1)"
#### TensorFlow.js version
tensorflow/tfjs-node-gpu: 0.1.19

tensorflowjs 0.6.4
Dependency versions:
  keras 2.2.2
  tensorflow 1.11.0

#### Describe the problem or feature request
I want to retrain `faster_rcnn_inception_v2_coco` with my own data, and run the prediction with `tfjs-node-gpu`.
If I download the model directly and use tfjs-converter it works fine.

If I try to train it [pipeline.con

[2018-10-26 10:42] miktoki opened #842 "Posenet classification inaccuracy on rotated heads/bodies - need for more diverse training data?"
When tilting your head the classification accuracy is drastically reduced to the point where a >90 degree rotated camera will have very poor performance. I realize that that this might seem like a contrived problem, as most people will keep their body upright, and most data augmentation techniques for this type of data will only consider smaller rotations.

This makes it more difficult to estimate

[2018-10-26 12:11] annxingyuan commented on #727
This was resolved with https://github.com/tensorflow/tfjs-core/pull/1346

[2018-10-26 12:11] #727 closed

[2018-10-26 13:50] #823 closed

[2018-10-26 14:54] nsthorat commented on #322
@oveddan do you think you could throw a nice error when the width / height attributes of the video tag are not set?

[2018-10-26 15:01] nsthorat commented on #335
This is done.

[2018-10-26 15:01] #335 closed

[2018-10-26 15:02] nsthorat commented on #337
This should be fixed.

[2018-10-26 15:02] #337 closed

[2018-10-26 15:03] nsthorat commented on #338
This is fixed now!

[2018-10-26 15:03] #338 closed

[2018-10-26 15:03] nsthorat commented on #339
Closing this for inactivity, please re-open if you still see this issue.

[2018-10-26 15:03] #339 closed

[2018-10-26 15:04] nsthorat commented on #340
@caisq any updates on the TensorFlow side of things?

[2018-10-26 15:05] caisq commented on #340
Fixed now.

[2018-10-26 15:05] #340 closed

[2018-10-26 15:07] nsthorat commented on #345
Hi guys, do you still see this problem on 0.13.3?

[2018-10-26 15:09] nsthorat commented on #351
+1 dataSync() blocks until all GPU operations are done, the timing of that function is not just the download. We've seen that rendering with WebGL isn't fast enough to warrant the complexity. If you don't want to block the UI thread in the meantime, you can call `await result.data()` and then `tf.toPixels(result)`.

[2018-10-26 15:13] nsthorat commented on #353
This is something we've thought about and might pursue in the future, so keeping this open. For now we don't have any near term plans to do this.

[2018-10-26 15:19] nsthorat commented on #357
deeplearn.js is dead. Long live TensorFlow.js!

[2018-10-26 15:19] #357 closed

[2018-10-26 15:51] thies1006 commented on #345
Hi! i did a quick check and for me with this version the numbers stay exactly the same.

[2018-10-26 16:16] nsthorat opened #843 "Pull ComplexAbs into its own kernel instead of implementing in the abs kernel."
See: https://github.com/tensorflow/tensorflow/blob/r1.11/tensorflow/python/ops/math_ops.py#L151

[2018-10-26 16:24] nkreeger opened #844 "SparseToDense does not properly validate defaultValues to sparse values"
Tests fail trying to wire up the SparseToDense tests in Node.js:

[code]

[2018-10-26 16:26] nsthorat opened #845 "Add public API for enabling prod mode."
Right now users must do `tf.ENV.set('PROD', true);` but we don't want to expose this API, how about we have `tf.enableProdMode();`

[2018-10-26 16:27] nkreeger opened #846 "ConfusionMatrix tests are incorrect for TensorFlow."
Upgrading the Node.js bindings to tfjs 0.13.3:

[code]

[2018-10-26 16:35] nkreeger opened #847 "Dilation changes to pool ops break in TensorFow node bindings"
Changes introduced here don't work with output from core TensorFlow:

https://github.com/tensorflow/tfjs-core/pull/1261

[code]

[2018-10-26 17:21] nsthorat opened #848 "Build continuous integration testing so changes to core that break other packages are caught early."
These would have been caught by CI:
https://github.com/tensorflow/tfjs/issues/843
https://github.com/tensorflow/tfjs/issues/846
https://github.com/tensorflow/tfjs/issues/847

We should add some tooling that gives us a heads up when we're about to release a new version on a nightly, both for layers and for Node.js.

cc @nkreeger

[2018-10-26 17:47] #843 closed

[2018-10-26 17:50] nsthorat commented on #373
@caisq did this get fixed?

[2018-10-26 17:50] nsthorat commented on #377
Pretty sure we don't have tests failing at head now, closing this out.

[2018-10-26 17:50] #377 closed

[2018-10-26 17:53] nsthorat commented on #393
@oveddan did you get this resolved?

[2018-10-26 17:53] nsthorat commented on #396
This should be fixed.

[2018-10-26 17:53] #396 closed

[2018-10-26 18:00] oveddan commented on #322
Sure, will do.

[2018-10-26 18:01] caisq commented on #373
This is not fixed yet.

[2018-10-26 18:14] nsthorat commented on #420
I'm not sure there's really much we can do for this unfortunately, I don't think we want to generically walk the AST to find out what it's calling. From there, at least the user can dig in, so I'm going to close this out.

[2018-10-26 18:14] #420 closed

[2018-10-26 18:16] #409 closed

[2018-10-26 18:17] nsthorat commented on #411
This should be fixed now, can you verify @oxxie?

In iOS there may still be some small differences because we use float16 under the hood instead of float32, but they shouldn't be huge differences.

[2018-10-26 18:18] nsthorat commented on #421
Is this fixed, @caisq?

[2018-10-26 18:19] nsthorat commented on #423
Looks like this is fixed in the docs!

[2018-10-26 18:19] #423 closed

[2018-10-26 18:31] nsthorat commented on #447
We only use the red channel of our textures to store data, which is why when read values from a canvas we stick them into R channels. This means that images have a different representation than the standard image texture representation.

Just curious, are you trying to use the output in a 3D application or just trying to write a custom shader? If the latter, check out this guide: https://js.tensor

[2018-10-26 18:32] nsthorat commented on #451
@pyu10055 is this fixed?

[2018-10-26 18:35] nsthorat commented on #455
Hi @Subhambh, just wanted to ping this again before closing it out.

[2018-10-26 18:39] nsthorat commented on #459
@dsmilkov I think you may be fixing this soon.

[2018-10-26 18:40] nsthorat commented on #463
This is fixed, we now call setImmediate.

[2018-10-26 18:40] #463 closed

[2018-10-26 18:59] caisq opened #849 "tfjs-vis: Allow flexible adjustment of Y Limit"
It would be great if the Y limit of charts rendered with .render() and fitCallbacks can be manually
adjusted.

Possible ideas:

1. Highly flexible: in the sense that you can specify the Y limits of individual axes.
2. Intelligent auto-scaling: let each plot choose the Y limits automatically based on the range of y values in the plot

[2018-10-26 19:01] caisq opened #850 "tfjs-vis: allow adjustment of font size on charts"
Whether this is possible through CSS requires investigation.

Please also investigate whether it's possible on both the `render` API and the `fitCallbacks` API.

[2018-10-26 19:02] nsthorat commented on #486
Until this is out of contrib we probably won't implement this in core.

[2018-10-26 19:05] nsthorat commented on #491
@oveddan can you answer this question?

[2018-10-26 19:06] nsthorat commented on #492
One way is to use quantization to reduce the model size. Another is to conver ops like conv2d to depthwiseconv2d. Both of these tricks will help reduce model size.

[2018-10-26 19:07] nsthorat commented on #493
One other thing to look at is the `flipHorizontal` bit, which may be mirroring your input.

[2018-10-26 19:10] caisq commented on #98
Confirming this is fixed now.
See codepen: https://codepen.io/caisq/pen/QZYZEZ

[2018-10-26 19:10] #98 closed

[2018-10-26 19:15] nsthorat commented on #502
Closing this out in favor of https://github.com/tensorflow/tfjs/issues/551

[2018-10-26 19:15] #502 closed

[2018-10-26 19:40] annxingyuan commented on #834
Expensive reshapes are ones that require changing the texture layout. In theory we can't say whether 1x4 or 2x2 packing causes fewer expensive reshapes, because some reshapes are expensive for 2x2 and free for 1x4, and vice versa (e.g. `[3, 2, 4] --> [12, 2]` is expensive for 1x4 packing, but free for 2x2 packing). However for the models I looked at 1x4 packing causes fewer expensive reshapes:

##

[2018-10-26 19:44] nsthorat commented on #520
This is done.

[2018-10-26 19:44] #520 closed

[2018-10-26 22:39] SkalskiP commented on #345
I will need some time to reproduce my test on all devices. I will come back to you with the information as soon as possible.

[2018-10-27 09:20] Hagroth opened #851 "“Axis” argument in tf.gather doesn't have any effect when using TensorflowJS converter"
I'm using Tensorflow in Python to define and train the model, and then I save it to a saved_model and load it on a website using TensorflowJS. The axis argument is simply not having any effect in the `gather` op and is 0 no matter what, however it does in the Python application. I've made a minimal example presented below. I'm using Windows 7 x64, Python 3.5.2, numpy 1.15.1 (forced upon installing

[2018-10-27 09:42] ToonTalk commented on #493
Thanks. `flipHorizontal `was indeed true and explains the coordinates. But it doesn't explain the labels. Using https://storage.googleapis.com/tfjs-models/demos/posenet/camera.html I caught a pose where my left eye was off camera and the pose was

1:
part: "leftEye"
position: {x: 45.92205166404222, y: 235.28564273074457}
score: 0.9963957667350769
__proto__: Object
2:
part: "rightEye"
position: {x:

[2018-10-27 10:57] dontmarryme commented on #740
@daisy-ycguo thank you for the replies! it works for me now, but do you know why there's still the compiling error messages?

2018-10-27 18:54:05.844070: I tensorflow/core/platform/cpu_feature_guard.cc:141] Your CPU supports instructions that this TensorFlow binary was not compiled to use: SSE4.2 AVX AVX2 FMA
classification results: [ { className: 'running shoe', probability: 0.7699763774871826 },

[2018-10-27 11:07] ToonTalk opened #852 "tf.losses.cosineDistance treats axis as optional but not documented as such"
https://js.tensorflow.org/api/latest/#losses.cosineDistance

Also it would be great if the description of 'axis' was more informative.

[2018-10-27 15:09] dongoa commented on #799
i have same problem. have you solve it?

[2018-10-27 15:21] dongoa opened #853 "WebGL warning: getBufferSubData , help"
To get help from the community, check out our [Google group](https://groups.google.com/a/tensorflow.org/forum/#!forum/tfjs).

#### TensorFlow.js version

#### Browser version

#### Describe the problem or feature request

#### Code to reproduce the bug / link to feature request

I used this tutorial code,
https://thekevinscott.com/image-classification-with-javascript/
 when i run in firefox , erro

[2018-10-27 17:03] oveddan commented on #822
@Giorat @tafsiri I think a demo like this would be great.  Hosting a couple videos on a cdn would work.
It would also be great if the image demo would support drag & drop of an image (but thats for a separate issue).

[2018-10-27 17:28] oveddan commented on #842
I think it would definitely be useful to be able to train posenet models targeted towards specific use cases.  Unfortunately the code to train the model has not been open sourced as of now. See #572 and #446

[2018-10-27 18:00] lmbellizzi commented on #711
TensorFlow.js version
Browser version
Describe the problem or feature request
Error when installing `@tensorflow/tfjs-node``

I get this Error:
c:\Projetos\recogApp>npm i @tensorflow/tfjs-node

* Downloading libtensorflow
[==============================] 4991989/bps 100% 0.0s
* Building TensorFlow Node.js bindings
c:\Projetos\recogApp\node_modules\@tensorflow\tfjs-node\scripts\install.js:154

[2018-10-27 21:41] kangyizhang commented on #711
Hi @lmbellizzi , the binding tool node-gyp does not support python3, can you try python2?

[2018-10-27 22:23] nkreeger opened #854 "Try and warn Windows users if they don't have Python 2.* installed"
The tool used for compiling the Node.js bindings strictly requires Python 2.* (3 is not supported). We should update our install.js script to help point out users to help avoid this issue (it is already on our README).

https://github.com/tensorflow/tfjs/issues/711#issuecomment-433642190

[2018-10-28 03:42] CBFay opened #855 "xcodebuild error on npm install"
The following error results from `npm i -g @tensorflow/tfjs-node` on macOS Mojave 10.14 Beta:

Key information seeming to be: `Error: node-gyp rebuild failed with: Error: Command failed: node-gyp rebuild
xcode-select: error: tool 'xcodebuild' requires Xcode, but active developer directory '/Library/Developer/CommandLineTools' is a command line tools instance`

* Xcode command line tools are both i

[2018-10-28 09:39] oxxie commented on #411
Verified with TensorFlow.js version 0.13.3. Losses are now consistent between Chrome and Safari 😀 Thanks for looking into it and the fix! Will close this issue now.

[2018-10-28 09:39] #411 closed

[2018-10-28 13:38] CBFay commented on #855
@demohi Thank you. This was a problem related to the Xcode development directory.
`sudo xcode-select -s /Applications/Xcode.app/Contents/Developer` was the fix.

[2018-10-28 13:38] #855 closed

[2018-10-28 14:10] woudsma commented on #799
@dongoa Not yet

[2018-10-28 18:42] hypersolution1 commented on #808
I'm running into the same issue. I'm running a frozen model for inference on a video stream. It works for about 2 minutes then I get a crash. It seems always to be after a period of time regardless of the inputs. The inference graph processes around 15 images per seconds.

Here is a relevent part (I hope) of my error:
[code]

It works with tfjs-node instead of tfjs-node-gpu.

I'm using a GeForce G

[2018-10-28 21:54] nkreeger commented on #808
I'll take a look at what's going on here this week.

[2018-10-28 22:06] nkreeger commented on #740
@dontmarryme That isn't a compile error - the TensorFlow library we ship with isn't fully optimized for your machine (but runs on all hardware). It is just a harmless warning - see https://github.com/tensorflow/tfjs/issues/571 for more info.

[2018-10-29 07:06] hardiked commented on #755
I have tried that too by loading the model exactly once but still, the same error prevails.

[2018-10-29 11:26] euler16 opened #856 "JSDoc discrepency for range() in math_utils.ts in tfjs-layers"
#### TensorFlow.js version

#### Browser version

#### Describe the problem or feature request
In tfjs-layers/utils folder, inside the math_utils.ts file, on line 133 (range() JSDoc), "inclusive" should be replaced by exclusive since the documentation says that range ouputs an array  in [begin, end)
#### Code to reproduce the bug / link to feature request

[2018-10-29 12:38] xlcrr commented on #854
Same error on mac os when running npm install

gyp ERR! stack Error: Command failed: /anaconda2/bin/python2 -c import platform; print(platform.python_version());

I have python2 installed, but default is python3.

[code]

[2018-10-29 14:53] caisq opened #857 "[Feature Request] converter: Support tf.keras models saved as the SavedModel format"
Since tensorflow v0.11, it has been possible to save tf.keras models in the SavedModel format, in additional to the traditional HDF5 (.h5) format.

The tensorflowjs converter ought to be able to
1) convert a tf.keras model saved in the SavedModel format into the tensorflowjs format
  E.g., `tensorflowjs_converter --input_format tf_keras_saved_model --output_format tensorflowjs <in_path> <out_path>

[2018-10-29 14:53] caisq commented on #857
cc @k-w-w

[2018-10-29 16:30] dongoa commented on #853
it's not a problem,

[2018-10-29 16:30] #853 closed

[2018-10-29 16:53] #719 closed

[2018-10-29 19:59] dsmilkov commented on #856
Hi euler16, would you like to send us a PR? Happy to take your contribution!

[2018-10-29 19:59] #856 closed, assigned to caisq

[2018-10-29 20:12] dsmilkov commented on #839
Yes, that would be a great contribution. The workflow you proposed is great. Thanks!

[2018-10-29 20:14] dsmilkov commented on #837
Hi, looking at the dropbox folder, looks like the .pb file is `tensorflowjs_model.pb` instead of `web_model.pb`. As a safety check, before even running your webpage, access the MODEL_URL and WEIGHTS_URL urls directly in the browser to make sure the
server response is ok.

[2018-10-29 21:19] nsthorat commented on #547
Closing this out since #548 was submitted.

[2018-10-29 21:19] #547 closed

[2018-10-29 21:20] nsthorat commented on #562
@caisq did we ever resolve this issue? I assume tf.layers is doing the right thing in TensorFlow..

[2018-10-29 21:20] caisq opened #858 "Stateful RNN: past states should not be kept under inference (non-training) mode"
Currently past states are always kept, which leads to increasing memory consumption during repeated inference (predict()) calls. This can be worked around by calling resetStates(). However, if the training arg is null or false, the past states should not be kept anyway. The current behavior doesn't match the behavior of Python keras/tf.keras.

[2018-10-29 21:21] nsthorat commented on #565
This is done.

[2018-10-29 21:21] #565 closed

[2018-10-29 21:21] nsthorat commented on #569
Closing this out since it looks like the issue is fixed. Please reopen if you are still seeing problems (or open another issue about performance).

[2018-10-29 21:28] nsthorat commented on #592
@caisq this can be fixed with the same trick we did for tensors https://github.com/tensorflow/tfjs-core/blob/master/src/tensor.ts#L1276

[2018-10-29 21:29] nsthorat commented on #593
@ProgrammingLife did Nick's response answer your question?

[2018-10-29 21:34] nsthorat commented on #594
Closing this out since this is now fixed!

[2018-10-29 21:34] #594 closed

[2018-10-29 21:34] nkreeger commented on #551
Working on introducing half-float changes in the driver for vc4 (driver for Raspberry Pi) - some work tracked here: https://github.com/anholt/mesa/pull/115

[2018-10-29 21:35] nsthorat commented on #598
I assume this is fixed, reopen if I am wrong.

[2018-10-29 21:35] nsthorat commented on #599
@Guitlle which device were you running it on?

[2018-10-29 21:37] dsmilkov commented on #832
TF.js API is closely aligned with the TF Python API. Does such a `reduce` feature exist in TF Python?

[2018-10-29 21:37] #598 closed

[2018-10-29 21:37] nkreeger commented on #598
Yeah this one is fixed - sorry there is one for CUDA & NaNs on windows.

[2018-10-29 21:37] nsthorat commented on #603
I have no clue why that fixed it! How did you find that? Maybe the filesystem is failing out on watching too many files?

[2018-10-29 21:38] nsthorat commented on #603
Closing this out in favor of the SO question.

[2018-10-29 21:38] #603 closed

[2018-10-29 21:43] nsthorat commented on #604
Ah yes, this is because we cache textures based on their physical shape, you are basically purposefully getting cache misses every single time. We've found that that's usually pretty rare. Resizing to a fixed input size will absolutely fix the problem :)

Just curious, why was your canvas changing size all the time in practice?

[2018-10-29 22:05] nsthorat commented on #831
Currently we only quantize over the wire, we immediately de-quantize on the other side (it's a network request latency optimization).

Soon we'll tackle activations themselves! Hope this answers the question.

[2018-10-29 22:10] justadudewhohacks commented on #604
Thanks for clarification, I guess that explains it. You are probably right, in most cases the input size of tensors should be fixed anyways.

I was facing the issue when training models on images, which where different in size. I was resizing each image with tf.resizeBilinear, which was causing these memory leaks.

Also this was an issue in face-api.js, since you would first run your images throug

[2018-10-29 23:12] nrothGIT commented on #831
OK, that makes sense. Thanks for writing back 💯

[2018-10-29 23:36] dsmilkov commented on #751
Thanks! Josh. I think we can remove that NaN test since it looks like gpu drivers are inconsistent across graphics and explicitly checking for NaN will slow down the whole program. Also looks like TF CUDA doesn't return NaN also (https://github.com/tensorflow/tfjs/issues/321). cc @nsthorat

[2018-10-29 23:45] davidsoergel commented on #751
Oops, sorry I missed this thread before.  Just for completeness, my MacBook where I can repro this has the same Intel 630 and a Radeon Pro 555 (very similar to Josh's 560, just mine is the lesser model):

[code]

[2018-10-30 07:12] euler16 commented on #830
I want to work on this issue (if no one else is currently working on this). @manrajgrover could you assign me this

[2018-10-30 08:12] JasonShin commented on #832
I couldn't find a TF Python API that is close to `reduce` ;(

[2018-10-30 09:10] DavidGOrtega commented on #78
Hi,

as I said in #811 this is something that I'm actually approaching.
I'm borrowing from https://github.com/stackgl/headless-gl and and webgl-raub.

My issues right now is that some shaders does not compile for me in openGL 2.0 and I have to change them, however the code are inside the ts files. Maybe would be a good idea to take them apart.

I have also some random thoughts.
On Windows Chrome/C

[2018-10-30 10:55] manrajgrover commented on #832
This should work:

[code]

[2018-10-30 14:29] nsthorat commented on #831
Going to close this out, please re-open another issue if you are having any other problems :)

[2018-10-30 14:29] #831 closed

[2018-10-30 14:31] nsthorat commented on #604
Ah yeah, if the output tensors are variably sized, we'll possibly have to recompile the shaders every time.

If you can provide a simple standalone HTML page that shows the issue we can look into making it faster (it's possible we can do things like upload the shape as a uniform to avoid recompilation).

cc @annxingyuan

[2018-10-30 14:34] #858 closed

[2018-10-30 14:46] nsthorat commented on #610
Once we do this, it will be fixed: https://github.com/tensorflow/tfjs/issues/361

[2018-10-30 16:00] tafsiri opened #859 "Add metrics.ROC to tfjs-vis"
and possibly show.ROC if we want to make particular customizations to how the line chart is rendered.

Moving this over from https://github.com/tensorflow/tfjs-vis/issues/15

[2018-10-30 16:01] tafsiri opened #860 "tfjs-vis improve sourcemap experience"
moving over from https://github.com/tensorflow/tfjs-vis/issues/21

[2018-10-30 16:03] tafsiri commented on #814
Just following up after a conversation with @caisq. I don't think this would work with the current design principle of making tfjs-vis unintrusive. If it stayed on screen then the user would have a harder time making tfjs-vis disappear when it is not needed. For not I'd say the solution is to programmatically repoen it, or for a user to add a control to their page that toggles the visor. Closing t

[2018-10-30 16:03] #814 closed

[2018-10-30 19:37] KinarR opened #861 "Triggering download of a model fails in Firefox"
#### TensorFlow.js version
0.13.3

#### Browser version
Firefox 63.0

#### Describe the problem or feature request

I happened to find a bug concerning triggering browser downloads to save a model (**weights manifest** and the **binary weights**) in Firefox. This happens when you attempt to save a model by
invoking `model.save('downloads://model)`.

I believe it is caused by Firefox only allowing

[2018-10-30 20:35] nkreeger commented on #78
I just open-sourced the binding code - we don't have an NPM package yet: https://github.com/google/node-gles

How are you binding to ANGLE? The performance should match what Chrome does on Windows.

[2018-10-30 21:02] DavidGOrtega commented on #78
@nkreeger super cool!

I'm reviewing the code and forking it...

I'm not doing that yet. I said that I set Chrome on Windows as a baseline to see what to expect since Chrome uses Angle by default. I'm working to bind OpenGL.

Surprises me that you can bind to Angle on Mac!

[2018-10-30 21:13] nsthorat opened #862 "Support async backend kernels."
Some kernels need to be async because the output shape is a function of the values of the input, e.g. in this PR:

https://github.com/tensorflow/tfjs-core/pull/1307

We should make another function on engine, `runKernelAsync` which is an async version of `runKernel`.

[2018-10-30 21:28] rthadur commented on #213
@m4nuC Please let us know if this still an issue ?

[2018-10-30 21:51] rthadur commented on #263
@decentralion please let us know if this is still an issue ?

[2018-10-30 22:01] rthadur commented on #494
@George35mk  please let us know if this is still an issue ?

[2018-10-30 22:51] rthadur commented on #630
@happyhj  here is the link to pull request where confusion matrix is added to tfjs https://github.com/tensorflow/tfjs/issues/771 , so closing this issue.

[2018-10-30 22:51] #630 closed

[2018-10-30 23:08] rthadur commented on #861
@dsmilkov  I was able to reproduce the issue in firefox ,assigning it to you, meanwhile @KinarR we welcome you to send a pull request with the fix.

[2018-10-31 03:28] JasonShin commented on #832
@manrajgrover We were actually looking for both `prod` and `sum` methods but they weren't showing up on `https://js.tensorflow.org/api/0.13.0/`, which is the default doc site that the Google search result takes you to!

[2018-10-31 11:56] rajeev-tbrew commented on #351
Folks

Need help here. The model execution time is very good but dataSync is taking enormous amount of time. This is making lot of models 'not' real-time. Any thoughts or suggestions. Apparently downloading smaller tensors is much faster e.g. downloading tensor with 2 numbers takes about 5-10ms while 50 numbers tensor takes good 50ms.

Thanks for all the suggestions in advance.

[2018-10-31 13:40] #846 closed

[2018-10-31 14:31] nsthorat commented on #351
Hi @rajeev-tbrew, the profiling time of the `dataSync` is not indicative of the download time. `dataSync` blocks the UI thread until all of the work is done *and* the download is complete. The actual time of a download is pretty cheap, overall. A slow `dataSync` of a predictions means your model is too large, try reducing the size of the model!

[2018-10-31 15:13] caisq opened #863 "Tracking Bug for 2018Q4 performance improvements in tfjs-layers"

[2018-10-31 15:16] DirkToewe opened #864 "should `test_util::areClose()` be scale-dependent?"
#### TensorFlow.js version
0.13.3

#### Browser version
Any

#### Describe the problem or feature request
Comparing floating point numbers is always a struggle between absolute and relative precision. While there is no perfect answer to the problem, I believe the current solution applied in `test_util` is somewhat sub-optimal. Comparing `1000` to `1000.1` and `1` to `1.1` should not be treated equ

[2018-10-31 15:17] caisq commented on #863
This bug will be closed promptly at the end of this quarter (2018Q4). PRs that work towards the goal will all reference this bug.

[2018-10-31 17:10] nsthorat commented on #844
This is now fixed!

[2018-10-31 17:10] #844 closed

[2018-10-31 18:31] decentralion commented on #263
@rthadur here's my result from running the reproduction in the issue locally:
![image](https://user-images.githubusercontent.com/1400023/47810366-5e803880-dd00-11e8-91ab-f423970c67b5.png)

[2018-10-31 20:19] jaretburkett opened #865 "Cast to uint8 to improve tf.toPixels()"
For larger images (>800x800), tf.toPixels takes much longer to run than every other stage of my models combined, when running on mobile devices. I also have noticed that on most mobile devices that I have tested on, tensor.data() appears to block the UI until it is complete in the same way that tensor.dataSync() does. I do not experience this behavior on desktop platforms.

One idea I was going to

[2018-10-31 20:44] rthadur commented on #28
Closing the issue as the commit has been pushed , please feel free to reopen the issue if this has not been addressed.

[2018-10-31 20:44] #28 closed

[2018-10-31 20:46] rthadur commented on #29
Closing the issue as the commit has been pushed , please feel free to reopen the issue if this has not been addressed.

[2018-10-31 20:46] #29 closed

[2018-10-31 20:53] rthadur commented on #372
Closing the issue as the commit has been pushed here https://github.com/tensorflow/tfjs-node/pull/101, please feel free to reopen the issue if this has not been addressed.

[2018-10-31 20:53] #372 closed

[2018-10-31 20:56] rthadur commented on #319
Closing the issue as the commit has been pushed here https://github.com/tensorflow/tfjs-layers/pull/216#issue-191263092, please feel free to reopen the issue if this has not been addressed.

[2018-10-31 20:56] #319 closed

[2018-10-31 20:59] rthadur commented on #21
Closing the issue as the commit has been pushed , please feel free to reopen the issue if this has not been addressed.

[2018-10-31 21:00] nsthorat opened #866 "For small operations in the WebGL backend on tensors that are CPU-resident, execute them on the CPU."
For small operations in WebGL, we currently upload them to textures and call a shader. This can be much slower than just running operations on the CPU.

It would be great to have a heuristic where an op that is executing on CPU-resident Tensors will simply execute on the CPU.

Let's run an experiment doing this with coco-ssd and see what kind of wins we get!

[2018-10-31 21:01] nsthorat commented on #866
Closing this in favor of https://github.com/tensorflow/tfjs/issues/826

[2018-10-31 21:01] #866 closed

[2018-10-31 21:07] rthadur commented on #542
Closing the issue as the commit has been pushed ,please feel free to reopen the issue if this has not been addressed.

[2018-10-31 21:07] #542 closed

[2018-10-31 21:12] rthadur commented on #579
Closing the issue as the commit has been pushed here https://github.com/tensorflow/tfjs-converter/pull/209, please feel free to reopen the issue if this has not been addressed.

[2018-10-31 21:12] #579 closed

[2018-11-01 02:49] marce1994 commented on #494
I love you

[2018-11-01 03:16] Guitlle commented on #599
Hi. I used a HP Envy with some integrated 3d acceleration device. I used ubuntu and chrome. The demo did spend a while doing processing but it could not optimize the model.

[2018-11-01 07:46] sanzhar0406 opened #867 "Posenet pose detection accuracy issues"
I am trying posenet demo to estimate single pose of a person, however even if I run posenet with 1.01 architecture, output stride=8 and image scale factor=1, I am still getting poor keypoint detection. For instance: when I raise my hands up, posenet either does not detect them at all, or confuse right hand with left hand. I tried original posenet demo on Macbook Air, and on Desktop with decent GPU

[2018-11-01 14:07] rajeev-tbrew commented on #351
Nikhil

It's possible that I am misunderstanding your suggestions. I have measured
how much time model.predict takes and how much time datasync takes. The
model predict time is about 12ms while datasync is almost 50ms. I did same
analysis with faceapi.js models. BTW, on a machine with nvidia 1060,
datasync for the same model is about 10ms. Pls note model.predict time
remains same on both machines.

[2018-11-01 14:45] nsthorat opened #868 "Optimize the tf.rfft / tf.irfft op by calling an rfft kernel."
Currently we call into the fft kernel and then throw out the parts we don't need. We can optimize this by running a shader in WebGL and calling into the correct rfft kernel in Node.js.

[2018-11-01 14:49] #847 closed

[2018-11-01 14:50] nsthorat commented on #351
If you time a `model.predict()` the only thing you are actually measuring is the time it takes to schedule the operations on the GPU, not the actual time it takes to run them (calling ops are sync, if we synced at each op call then you would block the UI thread). The synchronization between CPU and GPU happens with a `dataSync` or a `data` call -- to time a predict properly (meaning, time all of t

[2018-11-01 15:50] caisq opened #869 "Different results from tfjs and keras: a sequential model."
See StackOverflow question at: https://stackoverflow.com/questions/52683723/different-results-for-tensorflowjs-and-keras-on-same-model-and-tensor

[2018-11-01 16:11] caisq commented on #869
Copying my reply on Google Groups: https://groups.google.com/a/tensorflow.org/forum/#!topic/tfjs/ewQc_W0dH8Q

I just tried to reproduce this issue and failed. The model summary is at the end of this message and the output
using the tensor in the tensor.json file provided by the StackOverflow question seems to give the same result
as python (i.e., [[0.0]]).

I verified this in my Chrome and Firefox

[2018-11-01 16:11] #869 closed

[2018-11-01 17:02] hkmoon opened #870 "stepsPerEpoch in small samples"
To get help from the community, check out our [Google group](https://groups.google.com/a/tensorflow.org/forum/#!forum/tfjs).

#### TensorFlow.js version
'tfjs-core': '0.13.8'
'tfjs-layers': '0.8.3'
'tfjs-converter': '0.6.5'
tfjs: '0.13.3'

#### Browser version
node.js 10.8.0

#### Describe the problem or feature request
I used tensorFlow backended Keras in python and made XOR operations learning a

[2018-11-01 18:19] annxingyuan opened #871 "Benchmarking page reports inaccurate results for async predict"
The existing logic accounting for whether the model asynchronously predicts is insufficient.

Also, sometimes it's necessary to call `executeAsync` rather than `predict`.

Working version in this branch: https://github.com/tensorflow/tfjs-core/tree/prototype_webgl_cpu_handoff

[2018-11-01 18:33] rthadur commented on #619
@nsthorat  do you want to keep this issue for implementing gradients for " lessEqual, equal"  ?
I see previous merge addressed all except above.

[2018-11-01 18:37] annxingyuan opened #872 "Develop a strategy for optimally determining the backend that each op should run on"
It is not optimal to unconditionally execute every op in a model within a single backend. We need a mechanism that assigns execution of ops to different backends depending on where the input data resides, input sizes, etc.

[2018-11-01 18:40] annxingyuan opened #873 "Replace occurrences of sizeFromShape(a.shape) with a.size throughout codebase"
`a.size` is the precomputed size.

[2018-11-01 19:52] nsthorat commented on #610
This will be fixed in the next release.

[2018-11-01 19:52] #610 closed

[2018-11-01 20:13] caisq opened #874 "Add performance benchmark(s) for tfjs-node"

[2018-11-01 20:14] caisq commented on #874
Background: We have benchmarks for the browser in tfjs-core and tfjs-layers. But there is no benchmark for tfjs-node currently.

[2018-11-01 20:14] caisq commented on #874
cc @nkreeger

[2018-11-02 15:02] brannondorsey opened #875 "why not integrate tfjs-node and tfjs-node-gpu?"
#### TensorFlow.js version
tfjs-node[-gpu] v0.1.19

#### Browser version
N/A. Node.js or Electron environments.

#### Describe the problem or feature request
Recent activity suggests that tfjs-node-gpu will now fallback to tfjs-node behavior if no CUDA environment + GPU is found. In versions v0.1.17 and v0.1.18 I experienced issues with this fallback (see https://github.com/tensorflow/tfjs/issues/

[2018-11-02 15:11] brannondorsey commented on #875
Giving this a second look, it seems that https://github.com/tensorflow/tfjs/issues/622#issuecomment-428970089 and https://github.com/tensorflow/tfjs/issues/622#issuecomment-428978656 may not yet be fixed in v0.1.19 after all.

[code]

According to https://github.com/tensorflow/tfjs/issues/622, this fallback should already be working correctly, but I have *never* experienced this to be true. Perhap

[2018-11-02 18:33] manrajgrover commented on #832
Ah, yes it does look like [`prod` reduction op](https://github.com/tensorflow/tfjs-core/pull/1279) was recently added. Seems like this issue can be closed now!

/cc @dsmilkov

[2018-11-02 19:52] #832 closed

[2018-11-02 20:53] rthadur commented on #620
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2018-11-02 20:53] #620 closed

[2018-11-02 20:56] rthadur commented on #652
Closing the issue as the commit has been pushed [here](https://github.com/tensorflow/tfjs-converter/pull/205), please feel free to reopen the issue if this has not been addressed.

[2018-11-02 20:56] #652 closed

[2018-11-02 21:03] rthadur commented on #458
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2018-11-02 21:05] #458 closed

[2018-11-02 21:08] rthadur commented on #618
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2018-11-02 21:08] #618 closed

[2018-11-02 21:14] rthadur commented on #649
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2018-11-02 21:14] #649 closed

[2018-11-02 21:19] rthadur commented on #710
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2018-11-02 21:21] rthadur commented on #717
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow-tfjs) since it is not a bug or feature request. There is also a larger community that reads questions there.

[2018-11-02 21:21] #717 closed

[2018-11-03 00:29] pyu10055 commented on #539
this op has been added.

[2018-11-03 00:29] #539 closed

[2018-11-03 00:30] pyu10055 commented on #611
this requires quantization support from core.

[2018-11-03 00:31] pyu10055 commented on #640
@yhwang Thank you for volunteering to work on this.

[2018-11-03 15:31] nkreeger commented on #875
We're not considering this at this time - the GPU support of TensorFlow contains both kernels for CUDA and CPU ops and is very large compared to the CPU-only build of TensorFlow. For this reason we won't be combining them.

[2018-11-03 15:31] #875 closed

[2018-11-04 10:42] manrajgrover commented on #710
@rthadur This issue is yet to be fixed. Information shared in the initial issue description is complete to my knowledge. Someone needs to investigate and fix this.

[2018-11-04 10:49] manrajgrover commented on #640
This was recently added in [tfjs-core](https://github.com/tensorflow/tfjs-core/pull/1279) and can now be supported in converter.

[2018-11-04 20:15] ixio commented on #776
I tested my docker poc with tfjs@0.13.3 and it looks like it's working. Thank you, whoever is responsible, for fixing this.

[2018-11-04 20:15] #776 closed

[2018-11-04 23:26] elementzprojects opened #879 "Tensorflow.js error: Cannot read property 'length' of undefined"
I'm making a color predictor with tensorflow.js (v0.13.3). When I run the .predict() function, it returns the error, ``` UnhandledPromiseRejectionWarning: TypeError: Cannot read property 'length' of undefined```, at line 71, column 11.

Full code:

[code]

[2018-11-05 00:30] elementzprojects commented on #879
Nevermind, figured it out.

[2018-11-05 00:30] #879 closed

[2018-11-05 03:14] caisq opened #880 "tf.Model instances don't handle degenerate dimensions correctly"
For instance, if a model expects input shape [10, 1], an input tensor of shape [10] should be automatically dimension-expanded to [10, 1]. Currently, tf.Model objects do not handle this correctly in the evaluate(), fit() and predict() methods, leading to weird issues such as https://groups.google.com/a/tensorflow.org/forum/#!topic/tfjs/uDS4k4hC1fQ

[2018-11-05 09:04] DirkToewe opened #881 "tf.dot(x,y) vs tf.mul(x,y).sum()"
To get help from the community, check out our [Google group](https://groups.google.com/a/tensorflow.org/forum/#!forum/tfjs).

#### TensorFlow.js version
0.13.3

#### Browser version
Any

#### Describe the problem or feature request
For vectors `x,y` of length `n`, `tf.dot(x,y)` is an `O(n)` operation while `tf.mul(x,y).sum()` is an `O(√n)` op which results in a massive perfomance difference betwee

[2018-11-05 12:29] longing81 commented on #785
Have you solved the problem? How to do that? I am now face to the same serious problem...thx!

[2018-11-05 13:20] longing81 commented on #785
I just solved this problem! In fact, I don't know where the problem is. I googled for a long time. I saw someone saying that it might be a tensorflow version 1.11. I also changed 1.11 to 1.10. But this is not very useful. Finally, I am desperate. Go back and modify the path of my model, try it again, and delete the blank in front of the "convert_models" of "tensorflowjs_converter --input_format ke

[2018-11-05 16:48] tafsiri commented on #850
https://github.com/tensorflow/tfjs-vis/pull/23 addresses this for render functions.

[2018-11-05 16:49] tafsiri commented on #849
Addressed in https://github.com/tensorflow/tfjs-vis/pull/22 for render functions

[2018-11-05 17:17] #851 closed

[2018-11-05 17:38] pyu10055 commented on #640
@manrajgrover thanks for pointing out the op has already been implemented by me. :)

[2018-11-05 17:52] isaac-lapworth commented on #583
Just tried a fresh install. Seems to be working.

[2018-11-05 18:04] #640 closed

[2018-11-05 20:02] dsmilkov commented on #881
Thanks Dirk! You are right about the speedup which shows up for large vectors since we implemented sum() via a divide-and-conquer algorithm. Would you like to send a PR that forwards to tf.mul(x, y).sum() for vectors? I would do the forward inside matmul(), and dot() calls matmul - this keeps the logic centralized in matmul.

[2018-11-05 20:34] nsthorat commented on #629
Could you send us a pull request with these changes? It seems reasonable, and we can leave any specific comments on that PR.

[2018-11-05 20:53] dsmilkov commented on #881
Actually, I'll take this one since this change is particular to the webgl backend.

[2018-11-05 21:08] nsthorat commented on #725
Going to close this out for inactivity (we have pretty extensive unit test checking memory allocation here). Please re-open if you think that's a mistake.

[2018-11-05 21:08] #725 closed

[2018-11-05 21:08] nsthorat commented on #747
This is fixed now.

[2018-11-05 21:08] #747 closed

[2018-11-05 21:42] DirkToewe commented on #881
Thank You for the fast response. Whichever way is easier for You. I've had some more time to think about this and I could think of two situations where `mul().sum()` might be useful: Vector-matrix ([...,1,n] x [...,n,m]) and matrix-vector ([...,m,n] x [n,1]) multiplication. Additionally I believe there to be two weaking parameters:
  * If n is too small, `mul().sum()` doesn't make much sense. That

[2018-11-06 00:00] rthadur commented on #710
reopened the issue as per request

[2018-11-06 02:10] jeffsaremi opened #882 "Provide better error message for non-integer values for integer config parameters"
"@tensorflow/tfjs": "^0.13.3",
Google Chrome Version 70.0.3538.77 (Official Build) (64-bit) on Windows 10
This error and stack trace showing up in the console:
[code]

[code]

And here's the rest of the shader code:
[code]

[2018-11-06 02:36] freekoy commented on #591
I have the same problem, so the solution is?
tensorflowjs==0.6.5
`Uncaught (in promise) RangeError: byte length of Float32Array should be a multiple of 4
    at new Float32Array (<anonymous>)
    at o (io_utils.ts:116)
    at Object.decodeWeights (io_utils.ts:79)
    at e.<anonymous> (frozen_model.ts:109)
    at exports_regularizers.ts:47
    at Object.next (exports_regularizers.ts:47)
    at s (e

[2018-11-06 03:06] freekoy commented on #218
Same problem?How to solve it？
`
io_utils.ts:116 Uncaught (in promise) RangeError: byte length of Float32Array should be a multiple of 4
    at new Float32Array (<anonymous>)
    at o (io_utils.ts:116)
    at Object.decodeWeights (io_utils.ts:79)
    at e.<anonymous> (frozen_model.ts:109)
    at exports_regularizers.ts:47
    at Object.next (exports_regularizers.ts:47)
    at s (exports_regularizer

[2018-11-06 14:39] #812 closed

[2018-11-06 14:48] tafsiri commented on #710
@nsthorat do you want to own this since its doc generator related?

[2018-11-06 16:34] #881 closed

[2018-11-06 16:36] dsmilkov commented on #861
Thanks! Reassigning to @caisq who wrote the model saving/loading logic

[2018-11-06 16:43] dsmilkov commented on #865
Hi @jaretburkett,

Adding supprt for `uint8` dtype requires a large refactoring of our webgl engine. The added complexity is not worth at this point -- `toPixels()` for large images will still be the bottleneck because of for loops in js. I'll leave this issue open in case we revisit this in the future with more info about benefits of adding uint8

[2018-11-06 19:46] nsthorat opened #884 "tf.softmax() and tf.logSoftmax() should call into a kernel instead of composing high-level ops."
Currently we write softmax / logSoftmax as a combination of high-level ops. We should move these into kernels, like done in TensorFlow python.

For the WebGL backend, we can still compose this of higher-level ops, but in Node.js we'll be able to call the C++ kernel for softmax.

[2018-11-06 19:49] johnnyvf24 commented on #671
I have also run into this limitation and would love a solution (even if it involves messing with the bindings).

[2018-11-06 19:49] caisq commented on #882
@rthadur What task were you performing when you run into this error? Was it model loading, inference or training?

[2018-11-06 20:19] jeffsaremi commented on #882
I was running a predict() on a Resnet50 model imported from Keras.
[code]

[2018-11-06 20:36] justadudewhohacks commented on #874
Just out of curiosity, shouldn't the performance of tfjs-node be equivalent to the performance of the native tensorflow c++ library, since it simply exposes bindings to the ops of the compiled library on your system?

[2018-11-06 20:54] caisq commented on #874
@justadudewhohacks Theoretically, our performance should be the same as eager-model TensorFlow in Python. However, there are some aspects that may make our performance differ from that
- the way in which the binding to C++ libtensorflow is written in tfjs-node
- the implementation of the high-level API (i.e., tfjs-layer), which is not a part of libtensorflow

@nkreeger may have more to add.

[2018-11-06 20:56] caisq commented on #874
@justadudewhohacks Note that this issue is mainly about benchmarks of inference and training operations on entire models, and less about the benchmarks of individual ops.

[2018-11-06 21:00] caisq commented on #882
cc @dsmilkov Does this look like what happens when the browser WebGL memory is exhausted?

[2018-11-06 21:15] justadudewhohacks commented on #874
That makes sense, got it. Thanks for clarification!

[2018-11-07 01:34] bileschi commented on #610
Cool, just checked https://js.tensorflow.org/api/0.13.3/#exp  Do we need to
do a website release?

On Thu, Nov 1, 2018 at 3:53 PM Nikhil Thorat <notifications@github.com>
wrote:

--
Stan Bileschi Ph.D.  |   SWE  |  bileschi@google.com |  617-230-8081

[2018-11-07 09:35] vmarkovtsev commented on #708
@nkreeger I tried with the most recent versions of the packages and it still does not work for me.

If I don't do `require('@tensorflow/tfjs-node-gpu');` then there is no CUDA acceleration. If I do it, I get the error message which I described. Could you please reopen this issue because there seems to be some misunderstanding and also different use cases mixed with @aiboy who doesn't use CUDA.

[2018-11-07 09:38] vmarkovtsev commented on #708
Again:

`require('@tensorflow/tfjs');` -> no CUDA
`require('@tensorflow/tfjs-node-gpu');` -> CUDA loads but I hit https://github.com/tensorflow/tfjs/issues/708#issuecomment-423989169

[2018-11-07 09:54] vmarkovtsev commented on #708
If I do

[code]

then `require('@tensorflow/tfjs')` fails with `Error: Cannot find module '@tensorflow/tfjs'`.

Then I do

[code]

and `tf.getBackend()` returns `cpu` instead of `tensorflow`. So then I do `require('@tensorflow/tfjs-node-gpu');` and then `tf.getBackend()` returns `tensorflow`. I really think that I am misunderstood here.

[2018-11-07 10:14] ToonTalk opened #885 "Model name lost by tf.save"
#### TensorFlow.js version
0.13.3

#### Browser version
70.0.3538.77 (Official Build) (64-bit)

#### Describe the problem or feature request
Creating a model using `tf.sequential({name: name});` and then saving it and loading it the name becomes sequential-1 (..-2 if there already is one)

#### Code to reproduce the bug / link to feature request
[code]

[2018-11-07 14:07] nsthorat commented on #610
We haven't done a union release for 0.13.4 yet, we'll do a website release with it when it happens.

[2018-11-07 14:47] nsthorat commented on #781
This is fixed.

[2018-11-07 14:47] nsthorat commented on #781
Oh oops, sorry, keeping this open for CPU.

[2018-11-07 14:49] nsthorat commented on #837
Assigning @pyu10055 to improve the error messaging when loading the model and there is an error.

[2018-11-07 14:52] nsthorat commented on #882
This isn't from a WebGL memory exhaustion problem, it looks like one of the dimensions passed to pooling is undefined.

`effectiveFilterHeight` is undefined in the convInfo: https://github.com/tensorflow/tfjs-core/blob/master/src/kernels/webgl/pool_gpu.ts#L74

@jeffsaremi are you using the out-of-the-box resnet 50?

[2018-11-07 14:58] nsthorat commented on #882
Could you host the model.json and weights somewhere and I can take a closer look at what's going on?

[2018-11-07 15:01] nsthorat opened #886 "Use JSON instead of protocol buffers in the TensorFlow saved model converter."
There are many situations we want to simply inspect the model topology to debug an issue, however the protocol buffer makes it extremely hard. The protocol buffer also makes us depend on protobufjs, which is a dependency which we should be able to remove.

It would be great to convert the model definition over to JSON (even simply with a toJSON() call on the proto during conversion). We can use a

[2018-11-07 19:18] ran-j opened #887 "tf.fromPixels() and canvas"
To get help from the community, check out our [Google group](https://groups.google.com/a/tensorflow.org/forum/#!forum/tfjs).

#### TensorFlow.js version
"@tensorflow/tfjs-node": "^0.1.19"

#### Browser version
Node 8.11.1

#### Describe the problem or feature request
A way to work out with tf.fromPixels() function.
I tried:

[code]
But nothing happen.

[2018-11-07 19:38] rthadur commented on #887
In order to expedite the trouble-shooting process, please provide few more details example: browser,use case scenario, type of system.Thanks!

[2018-11-07 19:54] ran-j commented on #887
Im using in node js, my Idea is build a model to predict images.

My system Windows 10.
Node version 8.11.1
tensorflow-node": "^0.1.19

[2018-11-07 19:56] ran-j commented on #887
[code]

I tried this also

[2018-11-07 20:02] ran-j commented on #885
hey, How about
[code]

[2018-11-07 21:39] rthadur commented on #689
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2018-11-07 21:42] rthadur commented on #614
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2018-11-07 21:42] #614 closed

[2018-11-07 21:48] rthadur commented on #739
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2018-11-07 21:48] #739 closed

[2018-11-07 21:50] ParvaShah commented on #785
Try this format:
 !tensorflowjs_converter --input_format=keras my_model.h5 my_tfjs_model
here my_model.h5 is model and my_tfjs_model is folder.
Don't use complex file directory.
Hope it helps.

[2018-11-07 21:50] rthadur commented on #754
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2018-11-07 21:50] #754 closed

[2018-11-07 21:53] rthadur commented on #759
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2018-11-07 21:53] #759 closed

[2018-11-07 21:55] rthadur commented on #768
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2018-11-07 21:55] #768 closed

[2018-11-07 21:59] rthadur commented on #572
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2018-11-07 21:59] #572 closed

[2018-11-07 22:01] rthadur commented on #763
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2018-11-07 22:01] #763 closed

[2018-11-07 22:07] rthadur commented on #791
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2018-11-07 22:10] rthadur commented on #730
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2018-11-07 22:10] #730 closed

[2018-11-08 00:02] siclait commented on #522
Thanks @pyu10055 - I opted for sticking to the Python API for my use case so I no longer need to implement this op.

[2018-11-08 00:05] xiaodeaux commented on #739
[code]

[2018-11-08 00:16] nkreeger commented on #739
node-gyp build won't really work because we do some pre-work. You'll want to invoke: https://github.com/tensorflow/tfjs-node/blob/master/scripts/install.js

[2018-11-08 00:31] nsthorat commented on #791
Reopening this since it would still be a good idea.

[2018-11-08 00:40] xiaodeaux commented on #739
[code]
@nkreeger I'm still getting that same error. It looks like it is also using a globally installed `node-gyp` package? Do you think that's a problem, and should I remove it from the global package?

Thank you very much for your help. 🤗

[2018-11-08 01:31] pyu10055 commented on #841
@iacovlev-pavel looks like you are trying to freeze the model first, can you confirm that step still generates the saved_model format?
In fact the tensorflowjs_converter does the graph freeze automatically, you should not need the middle step.

[2018-11-08 02:12] #837 closed

[2018-11-08 15:05] tafsiri commented on #585
Two links have been added. I admit we could find a way to highlight more of what is in the gallery, but that requires more curation/selection of content from the gallery.

[2018-11-08 15:05] #585 closed

[2018-11-08 15:30] dsmilkov opened #890 "Rename Person-Segmentation to BodyPix"
We had a brainstorm session and decided to rename the "PersonSegmentation" model to "BodyPix" to keep it short.

@oveddan let me know if this sounds good, and if you can take this one. Thank you!!

[2018-11-08 15:30] dsmilkov commented on #890
cc @nsthorat @tafsiri

[2018-11-08 15:32] dsmilkov opened #891 "Improve the boken effect on the BodyPix (Person-Segmentation) model"
cc @oveddan @tylerzhu-github

[2018-11-08 15:35] dsmilkov opened #892 "Return an object in the BodyPix model"
See comment https://github.com/tensorflow/tfjs-models/pull/63#pullrequestreview-171170223 for details.

@oveddan

[2018-11-08 17:32] pyu10055 commented on #797
@caisq WeChat mini app is not a wrapper for webview, it provides different API for http requests and local file access. It is also different from node.js as well.
We should consider whether our repository should be the place for hosting those custom io handlers, for example, I would probably create two handlers for WeChat mini app, this list could grow with more third-party platforms we are suppor

[2018-11-08 18:10] #839 closed

[2018-11-08 19:59] annxingyuan opened #893 "Packing / unpacking shaders should input / output 3D tensors for readability and performance"
This is in line with our general practice of reshaping inputs in order to simplify shaders and reduce GLSL arithmetic.

[2018-11-08 20:51] #834 closed

[2018-11-08 22:48] tylerzhu-github commented on #890
Thanks for the update and the new name proposal sounds great. I like the new name BodyPix!

[2018-11-08 22:56] tylerzhu-github commented on #891
Thanks Daniel for creating this issue. I quoted the potential approach described in the original PR:

[2018-11-09 09:34] happy-machine opened #894 "this TensorFlow binary was not compiled to use: SSE4.2 AVX AVX2 FMA"
Hi!

How do i get rid of this warning? Found help for the python wrapper but not for JS.
We're about to deploy a production model API and trying to bring down inference and response speed.

Installing the GPU binding doesn't seem to have any effect

Thanks!

Dan

[2018-11-09 10:29] DirkToewe opened #895 "tf.norm and tf.abs(_: complex64) are not underflow-safe."
To get help from the community, check out our [Google group](https://groups.google.com/a/tensorflow.org/forum/#!forum/tfjs).

#### TensorFlow.js version
v0.13.8

#### Browser version
Any

#### Describe the problem or feature request
One of the most important norm properties is the positive definiteness:
`|x|=0 <=> x=0`
The current implementation of `tf.abs(_: complex64)` and `tf.norm` do not satis

[2018-11-09 19:58] #692 closed

[2018-11-09 21:13] DirkToewe opened #896 "Add seed parameter to `tf.randomUniform`"
To get help from the community, check out our [Google group](https://groups.google.com/a/tensorflow.org/forum/#!forum/tfjs).

#### TensorFlow.js version
0.13.10

#### Browser version
Any

#### Describe the problem or feature request
For reproducability of tests and training it would be wery useful to have a seed parameter in `tf.randomUniform`.

#### Code to reproduce the bug / link to feature req

[2018-11-09 21:45] rthadur commented on #840
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2018-11-09 21:45] #840 closed

[2018-11-09 21:46] rthadur commented on #494
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2018-11-09 21:46] #494 closed

[2018-11-09 21:48] rthadur commented on #213
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2018-11-09 21:48] #213 closed

[2018-11-09 22:16] rthadur commented on #588
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2018-11-09 22:18] rthadur commented on #643
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2018-11-09 22:18] #643 closed

[2018-11-10 06:57] t-mullen opened #897 "Calling executeAsync more than once fails"
#### TensorFlow.js version
0.13.4

#### Browser version
Chrome 70

#### Describe the problem or feature request
Any calls after the first to executeAsync will throw the error  `Error: Tensor is disposed.`. This happens when using the same input tensor, or a new one.

I'm using a pre-trained object detection model converted using `tfjs-converter`. The model works fine, but only once.

#### Code to

[2018-11-10 07:04] t-mullen commented on #897
My guess is that some intermediate tensors are being disposed of - but I'm not sure how to prevent that. I can't use `tidy` around `executeAsync`, nor can I call `keep` on tensors within a loaded model.

[2018-11-10 07:50] gunan commented on #894
Not sure how I can help with tfjs? we do not distribute anything for tfjs.
Python bindings are actually built with sse 4.2 and avx.

[2018-11-10 09:01] happy-machine commented on #894
I'll put an issue in the node repo... sorry!

[2018-11-10 13:41] caisq commented on #894
@gunan Sorry - I didn't realize this issue is for tfjs, not tensorflow.

@happy-machine This issue seems legit and I think we should re-open it.

cc @nkreeger Is it possible for us to bind to a version of libtensorflow built with SSE 4.2 and AVX?

[2018-11-10 22:09] t-mullen commented on #897
After digging through Github, I've found that sticking `await model.load()` before every call to `model. executeAsync` will avoid the issue. Unfortunately `model.load()` takes more than twice as long as the actual execution... I shouldn't need to reload the whole model every time, right?

[2018-11-10 23:16] t-mullen commented on #897
I can also reproduce with no code of my own by running the demo in https://github.com/tensorflow/tfjs-models/tree/master/coco-ssd. This demo "warms up" the model with a call the `executeAsync`, then makes additional calls to get results.

Seems something has broken with `executeAsync` in the past 2 months.

[2018-11-11 00:18] t-mullen commented on #897
Calling `model.load()` actually requests the full model from the server again, so this isn't an acceptable workaround.

[2018-11-11 00:44] t-mullen commented on #897
I can confirm that this error doesn't occur in version `0.13.1`, but does in `0.13.4`. Definitely a regression.

[2018-11-11 10:50] julianfrank opened #898 "train with SGD does not work with int32"
To get help from the community, check out our [Google group](https://groups.google.com/a/tensorflow.org/forum/#!forum/tfjs).

#### TensorFlow.js version
tfjs: "0.13.4"
tfjs-converter: "0.6.6"
tfjs-core: "0.13.10"
tfjs-layers: "0.8.4"
#### Browser version
chrome 70
#### Describe the problem or feature request
I tried to change the example given for SGD based training but for pur int32 constants and

[2018-11-11 15:14] caisq opened #899 "tfjs-node: progress bar callback doesn't show enough decimal places for small loss values"
Currently the `ProgbarCallback`, which is activated by default for tf.Model.fit() call in tfjs-node, shows only two decimal places. This leads to uninformative printouts such as "loss=0.00, val_loss=0.00" when the loss values are small.

[2018-11-11 15:58] reiinakano opened #900 "Feature Request: Mirror padding op"
Currently trying to port Magenta's arbitrary style transfer to the browser and I'm just missing reflection padding. Just wondering if this is on the roadmap or something? If it's not a priority, I'll probably take a stab at it when I have time. Zero padding works fine anyway, minus a few weird border artifacts..

[2018-11-12 00:13] kenlupo commented on #822
I could really use a demo with a video file. I'm working on a project using tfjs posenet and am struggling with how to process a video, image is easy but a full video is a challenge.

[2018-11-12 11:34] vmarkovtsev commented on #708
@signoriello How do you import/require? FWIW this issue is not about not working - it works perfectly, just the warning is printed.

[2018-11-12 11:44] signoriello commented on #708
Currently I am just testing the mnist-node example. In order to require, I use at it was set in the main file
`const tf = require('@tensorflow/tfjs');
require('@tensorflow/tfjs-node-gpu');`
In my case, before the change that I mentioned, I got information about my GTX 1060 like in one of your prior comments and I also saw in the task manager that memory got allocated for the GPU. However, it did n

[2018-11-12 16:27] paapu88 opened #902 "Uncaught ReferenceError: cocoSsd is not defined"
#### TensorFlow.js version
https://cdn.jsdelivr.net/npm/@tensorflow/tfjs
#### Browser version
Chrome70
#### Describe the problem or feature request
When running the script
via Script Tag  ( https://github.com/tensorflow/tfjs-models/tree/master/coco-ssd#via-script-tag )
on my browser
I get error
Uncaught ReferenceError: cocoSsd is not defined

Terveisin, Markus

[2018-11-12 18:53] nkreeger commented on #708
@vmarkovtsev Try deleting your local `node_modules/` directory and re-running `npm install` or `yarn`.

[2018-11-12 19:47] dsmilkov commented on #902
@pyu10055 can you release a new version of the coco-ssd model? I think we didn't release after you fixed the rollup config.

[2018-11-12 20:11] #880 closed

[2018-11-13 01:44] steren opened #903 "Broken link for list of supported TensorFlow Ops in docs"
On this page: https://js.tensorflow.org/tutorials/import-saved-model.html

Currently TensorFlow.js only supports a limited set of TensorFlow Ops. See the full list.
The full list link is broken.

Observed: https://github.com/tensorflow/tfjs-converter/docs/supported_ops.md
Expected: https://github.com/tensorflow/tfjs-converter/blob/master/docs/supported_ops.md

The content comes from the README at

[2018-11-13 03:23] steren opened #904 "regeneratorRuntime is not defined error when running the posenet demo"
#### TensorFlow.js version
0.13.0

#### Browser version
Chrome Version 71.0.3578.21

#### Issue
I follow the instructions at https://github.com/tensorflow/tfjs-models/tree/master/posenet
I run `yarn watch`
I open the URL

Observed: Chrome Dev Console says `ReferenceError: regeneratorRuntime is not defined`
Expected: the demo works

[2018-11-13 15:23] tafsiri commented on #904
@steren could you give a bit more info about the steps you took. I wasn't able to reproduce this on a fresh clone of the repository.

We do have a .babelrc here https://github.com/tensorflow/tfjs-models/blob/master/posenet/demos/.babelrc. Could you try deleting your node_modules folder and trying again? Are there any errors you see while installing dependencies?

[2018-11-13 15:44] tafsiri opened #905 "Update library link in codepen to point to resource with proper sourcemap support"
Change current resource link to https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@0.13.3/dist/tf.min.js

[2018-11-13 15:49] tafsiri commented on #898
@julianfrank Ultimately the issue here is not in your code but stems from how the SGD optimizer works, in order to do its optimization it will in each step try and multiply the variable by some small number (which will be a float) and that is where the error occurs. This means that the variables need to be float32. That however in turn means that the xs and ys should be float32 to be compatible wi

[2018-11-13 16:06] tafsiri commented on #455
Closing this for inactivity. @Subhambh feel free to reopen if needed

[2018-11-13 16:06] #455 closed

[2018-11-13 16:34] guidocalvano opened #906 "sparse tensors"
Are sparse tensors under development?

They would make my life so much easier...

To get help from the community, check out our [Google group](https://groups.google.com/a/tensorflow.org/forum/#!forum/tfjs).

#### TensorFlow.js version

#### Browser version

#### Describe the problem or feature request

#### Code to reproduce the bug / link to feature request

[2018-11-13 16:40] nkreeger commented on #894
Hi @happy-machine - We don't have support for that just yet - see this issue for more details: https://github.com/tensorflow/tfjs/issues/571

Would love to know more about that production use-case - are you deploying to a cloud Node.js service? Real-world server side uses cases will help us prioritize feature work on Node.js :-)

[2018-11-14 04:04] Raza25 commented on #886
**I am having problems with .pb model while inspecting it.**

- I used tfjs-converter to convert the keras frozen graph to javascript format.
- Loaded the model and weights manifest using tf.loadFrozenModel().
- However I am facing difficulties while inspecting it.

[2018-11-14 05:06] proppy opened #907 "docs should mention that tf.tidy also applies to CPU allocated tensors"
#### TensorFlow.js version
0.13.3
#### Browser version
node.js (without `tfjs-node`)
#### Describe the problem or feature request
https://js.tensorflow.org/tutorials/core-concepts.html sections on `Memory Management: dispose and tf.tidy` states that:

This could implies for a naive reader (like me) than `tf.tidy` is not necessary for for CPU allocated tensors. However not using `tf.tidy` even with

[2018-11-14 06:15] julianfrank commented on #898
Thanks for clarifying... Maybe the documentation can explicitly mention that SGD needs float32 as inputs ...

[2018-11-14 06:15] #898 closed

[2018-11-14 08:49] davidshen84 commented on #494
While the original issue was an error, it is now manifested as a warning on my system.

    WARNING in ./node_modules/@tensorflow/tfjs-core/dist/tf-core.esm.js
    Module not found: Error: Can't resolve 'crypto' in 'C:\Users\user\github\repo.github.io\source\node_modules\@tensorflow\tfjs-core\dist'

My Angular app works as expected in the browser.

## Environment

[code]

[2018-11-14 11:51] happy-machine commented on #894
Hey @nkreeger I am ML Engineer at @ht2labs https://www.ht2labs.com/
a leading R&D company in the field of E-Learning.

Learning Locker is an open source xAPI conformant e-learning data store available under GPL 3.0, and is the most installed open source LRS with over 12k installations worldwide and corporate clients such as Tes, Jisc, IHG group, City and Guilds

We’ve been applying various academi

[2018-11-14 12:17] rajeev-tbrew opened #908 "Error in clip: min (0) must be less than or equal to max ([object Object]) for Retrained tf.Keras MobileNet"
To get help from the community, check out our [Google group](https://groups.google.com/a/tensorflow.org/forum/#!forum/tfjs).

#### TensorFlow.js version
0.13.2
#### Browser version
Version 70.0.3538.102 (Official Build) (64-bit)
#### Describe the problem or feature request
Re-Trained a Mobilenet model (alpha=0.25) on new data and model predicts with no issues in tf.keras. Converted the model to tf

[2018-11-14 14:07] Bluebie commented on #514
Why is this closed? I'm running in to the same issue today.

[2018-11-14 14:29] tafsiri commented on #908
cc @caisq @pyu10055

[2018-11-14 14:32] tafsiri commented on #907
I think we should probably update the docs to describe what `tidy` does on node. @nkreeger do you want to take a stab at that. The file to edit would be https://github.com/tensorflow/tfjs-website/blob/master/source/tutorials/core-concepts.md, I don't think we updated that after the release of node.

[2018-11-14 15:41] caisq commented on #908
@rajeev-tbrew The fact that "max" shows up as "([object Object])", instead of a number, looks suspicious. Is it possible for you to share the model JSON with us? I think we should be able to reproduce this issue by just using the JSON, and the weights are not necessary. Thanks.

[2018-11-14 20:01] DirkToewe opened #910 "4x4 Blocked Matrix Multiplication for Improved Performance"
To get help from the community, check out our [Google group](https://groups.google.com/a/tensorflow.org/forum/#!forum/tfjs).

#### TensorFlow.js version
N/A

#### Browser version
N/A

#### Describe the problem or feature request
Since TFJS' development seems to be focused quite a bit on improving the performance even further, I thought I might share the results of a silly experiment, I made. Tryin

[2018-11-14 21:18] rthadur commented on #206
@nsthorat do you want this issue to be a placeholder or someone else is working on it.

[2018-11-14 21:34] rthadur commented on #491
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2018-11-14 21:34] #491 closed

[2018-11-14 21:34] rthadur commented on #841
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2018-11-14 21:45] rthadur commented on #360
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2018-11-14 21:45] #360 closed

[2018-11-14 21:45] rthadur commented on #358
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2018-11-14 21:45] #358 closed

[2018-11-14 21:46] rthadur commented on #391
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2018-11-14 21:46] #391 closed

[2018-11-14 21:50] annxingyuan commented on #713
@pyu10055

Hey Ping, could you remind me whether you used the [benchmarking page](https://github.com/tensorflow/tfjs-core/blob/master/integration_tests/benchmarks/benchmark.html) to obtain these numbers?

When I benchmark on my Linux workstation with 100 inferences, I get 15ms per inference on master, and 26ms per inference on tfjs-core 0.12.15 (before packing). Would you mind running the same pag

[2018-11-14 21:50] rthadur commented on #574
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2018-11-14 21:52] nsthorat commented on #574
Re-opening this since it's still a good idea :)

[2018-11-14 21:52] rthadur commented on #636
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2018-11-14 21:52] #636 closed

[2018-11-14 22:15] rthadur commented on #672
Closing this  as the original raised  issue was addressed and new issue has been opened [here](https://github.com/tensorflow/tfjs/issues/699)

[2018-11-14 22:15] #672 closed

[2018-11-14 22:45] annxingyuan commented on #713
Ping and I investigated this further: it looks like the longer inference times only apply for the first few runs. When ping uses the standalone benchmarking page he gets similar numbers to me, but if he tests [only one subsequent inference](https://github.com/tensorflow/tfjs-converter/tree/master/demo/mobilenet) then inference times are significantly worse post-packing.

We need to understand why

[2018-11-15 00:15] proppy commented on #907
@tafsiri note that I also have that behavior without requiring `tfjs-node`, so this might also applies in the browser when using the `cpu` backend.

[2018-11-15 05:47] bargainvideos opened #911 "Unable to install @tensorflow/tfjs-node"
I am unable to install @tensorflow/tfjs-node.
I'd appreciate it if someone can shed some light and let me know what I'm missing.
I'm running the following:
- Windows 10 Pro version 1803
- node v10.13.0
- npm 6.4.1
- Python 2.7.15

C:\Users\jcruz\Documents\nodejs\demo>node -v
[code]

C:\Users\jcruz\Documents\nodejs\demo>npm --v
[code]

C:\Users\jcruz\Documents\nodejs\demo>python
[code]
C:\Users\jcr

[2018-11-15 09:47] nsthorat commented on #886
cc @pyu10055 for advice on how to inspect the model topology proto.

[2018-11-15 09:53] nsthorat opened #912 "Once we have a test suite that doesn't run uniforms, update the tf.abs() unit tests to use EPSILON."
See https://github.com/tensorflow/tfjs-core/pull/1391

[2018-11-15 10:03] rajeev-tbrew commented on #908
@caisq Here is the model JSON file. Thanks a lot for your help

[model.zip](https://github.com/tensorflow/tfjs/files/2584691/model.zip)

[2018-11-15 10:03] rajeev-tbrew commented on #908
Sorry, clicked on by mistake

[2018-11-15 11:33] MI-LA01 opened #913 "tensorflowjs_converter not working"
#### TensorFlow.js version
N/A
#### Browser version
N/A
#### Describe the problem or feature request

I'm trying to convert a model trained using faster_rcnn_inception_resnet_v2_atrous_coco. However, while running the converter a exception raise. The training was made on Google Colab with tensorflow 1.11.0, python3 and the GPU runtime.

[code]

#### Code to reproduce the bug / link to feature requ

[2018-11-15 12:57] annxingyuan opened #914 "Build stack trace for tensor creation / disposal"
For reference: https://github.com/tensorflow/tfjs-core/blob/master/src/engine.ts#L303

[2018-11-15 14:22] caisq commented on #913
@pyu10055 Can you take a look at this issue?

[2018-11-15 14:22] DirkToewe commented on #914
The idea would be to save a stack trace on Tensor creation and disposal (e.g. via `new Error()`). Those stack traces could then be used to improve error message. If, for example, a "Tensor already disposed" error is thrown, additional info could be logged ("The tensor was created here and was disposed there").

This should be an opt-out feature because creating the stack trace may be slow on probl

[2018-11-15 14:23] caisq opened #915 "tfjs-layers tfjs2keras integration test: Remove dependency on tfjs-node and avoid possible circular dependency"
The tfjs-node dependency is included only for the `file://` IOHandler. It should be possible to come up with a way to access the Handler without bringing in the entire tfjs-node package.

[2018-11-15 15:13] nkreeger commented on #911
Thanks for the report - couple of things to look at:

1.) Can you post: C:\Users\jcruz\AppData\Roaming\npm-cache\_logs\2018-11-15T01_16_06_967Z-debug.log

2.) It looks like NPM is using your global version of node-gyp - can we check the version ? Looking at this line:

[code]

Also this might help - https://github.com/nodejs/node-gyp/issues/119#issuecomment-331778053

Let me know and I can add tha

[2018-11-15 16:58] bileschi commented on #900
Hi @reiinakano , it looks like the padding strategy should be added to to op, to match the API in python tensorflow.

If someone wants to take a crack at this, the relevant code is here:
https://github.com/tensorflow/tfjs-core/blob/e3b9a344a216fb556a9b6a31e3f926163f6b7a6f/src/ops/array_ops.ts#L617

[2018-11-15 18:19] pyu10055 commented on #902
@paapu88 for now, you can use following scripts before we push the new release. thanks.

[code]

[2018-11-15 18:37] bargainvideos commented on #911
@nkreeger here is the information you requested:

1.)  [2018-11-15T01_16_06_967Z-debug.log](https://github.com/tensorflow/tfjs/files/2586516/2018-11-15T01_16_06_967Z-debug.log)

2.) Looks like I'm running version 3.8.0 of node-gyp
[code]
I'll take a look at node-gyp issue 119 that you mentioned and see if there's anything there that will help fix my problem. Thanks for giving me some direction!

[2018-11-15 18:38] pyu10055 commented on #897
@t-mullen looks like the weights tensor might have been disposed prematurely, can you confirm if it works on 0.13.3? I notice this only happens on 0.13.4. Thanks!

[2018-11-15 19:30] tafsiri opened #916 "confusion matrix renders incorrectly if non diagonal is all zero"
if the diagonal is not shaded and the rest of the cells are zero the conf matrix will render like below.

<img width="405" alt="screen shot 2018-11-15 at 2 29 16 pm" src="https://user-images.githubusercontent.com/26408/48576593-f37b5800-e8e2-11e8-81a1-35d74038d380.png">

[2018-11-15 21:15] #897 closed

[2018-11-15 23:40] bargainvideos commented on #911
@nkreeger, I took a look at https://github.com/nodejs/node-gyp/issues/119#issuecomment-331778053 and I think that solved my problem.

Though when I first tried to install the windows-build-tools package, I got an error because I didn't run from an elevated Command Prompt. But when I opened a Command Prompt that had administrative privileges, the install went smoothly, albeit slowly (took about 5 m

[2018-11-15 23:40] #911 closed

[2018-11-15 23:41] #902 closed

[2018-11-16 00:13] pyu10055 commented on #902
Just released a new version for coco-ssd, v0.1.1 to fix this issue.

[2018-11-16 14:43] ToonTalk opened #918 "Trivial program does not learning during training after refresh"
#### TensorFlow.js version
0.13.3
#### Browser version
Version 70.0.3538.102 (Official Build) (64-bit)
#### Describe the problem or feature request
The following sometimes works when refreshing the page and sometimes there is no learning (loss stays at 21 from epoch 0).
It differs from https://js.tensorflow.org/#getting-started only in the addition of activation: 'relu' and the callbacks to fit to

[2018-11-16 15:47] ToonTalk commented on #918
Thanks. You are right I can't reproduce it with tanh or sigmoid. I see now the random initialisation is why it behaves differently.

tf.layers.dense only takes a string argument so if I wanted leakyRelu would I have to stop using tf.layers.dense and use lower level operations?

[2018-11-16 17:06] pyu10055 commented on #913
@MI-LA01 The definition of NonMaxSuppressionV3 is changed recently, which added attr 'T'.
Yesterday we just released the new version of the tensorflowjs python pip, can you please give it a try again, see if the version we updated to has this change.
If not, you can manually upgrade tensorflow pip to the newest version.

[2018-11-16 17:23] t-mullen commented on #897
Works, thanks! 👍

[2018-11-16 17:53] MI-LA01 commented on #913
@caisq @pyu10055 : Just tested right now and it works. Thx for Your prompt feedback.

[2018-11-16 17:53] #913 closed

[2018-11-16 21:45] rthadur commented on #742
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2018-11-16 21:45] #742 closed

[2018-11-16 21:46] rthadur commented on #749
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2018-11-16 21:46] #749 closed

[2018-11-16 22:01] rthadur commented on #805
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2018-11-16 22:01] #805 closed

[2018-11-16 22:03] rthadur commented on #800
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2018-11-16 22:03] #800 closed

[2018-11-16 22:07] rthadur commented on #310
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2018-11-16 22:07] #310 closed

[2018-11-17 10:19] Raza25 commented on #886
@pyu10055 could you assist in converting .pb to json.
If not, is there any help available regarding using loaded .pb model in tensorflowjs and its inspection.

[2018-11-17 13:12] rahbari commented on #739
I have the same problem as @timbur, **tfjs_binding.node** is there but I got **"The specified module could not be found."**

![annotation 2018-11-17 163615](https://user-images.githubusercontent.com/163890/48661437-fadb6680-ea86-11e8-8b91-5c33aa4c34f9.jpg)

I tied both CommonJS and ES6Modules:
[code]
and:
[code]

![annotation 2018-11-17 163852](https://user-images.githubusercontent.com/163890/4866

[2018-11-18 00:02] dsanders11 opened #919 "Tensor.concat Should Allow Tensor[]"
To get help from the community, check out our [Google group](https://groups.google.com/a/tensorflow.org/forum/#!forum/tfjs).

#### TensorFlow.js version

0.13.4

#### Browser version

Chrome 70.0.3538.77

#### Describe the problem or feature request

There's an unexpected asymmetry between `tf.concat` and `Tensor.concat`, which the documentation doesn't make clear. The former takes a `Tensor[]`, t

[2018-11-18 16:00] rychuelektryk opened #920 "Embeding layer input dimention limit"
#### 0.13.5

#### chrome 70

#### My model contains embedding layer with input dimension = 71194 and output dimension = 32. When trying to do inference using tfjs I get following errror:
Error: Requested texture size [35597x64] greater than WebGL maximum on this browser / GPU [16384x16384]

For some reason tfjs tries to allocate the texture with dimensions [embedding layer input dim / 2, embedding

[2018-11-18 16:03] nsthorat opened #921 "PoseNet single pose estimation returning NaN on iOS"
From a thread on the mailing list:

"I  am using posenet 2.3 and tjfs 13.2

tfjs: "0.13.2"
tfjs-converter: "0.6.4"
tfjs-core: "0.13.6"
tfjs-layers: "0.8.2"

Using the model with below configs:

multiplier = 0.5
imageScaleFactor = 0.8
const outputStride = 16
const flipHorizontal = false

It works perfect everywhere except iOS (only tested on 11) safari. I randomly get correct result and most of the

[2018-11-18 16:51] oveddan commented on #921
Same as #775 and #727

[2018-11-18 16:52] oveddan commented on #921
Was this resolved in pr [1346](https://github.com/tensorflow/tfjs/pulls/1346)?

[2018-11-18 16:53] nsthorat commented on #921
I thought it was, but this thread was started way after we fixed that bug and the core version listed should have the fix.

[2018-11-18 17:04] oveddan commented on #921
I've deployed the camera demo with 0.13.2 tfjs here:
https://posenet-demos.netlify.com/

The great news is that this works again on my iphone with IOS12!  And even greater news - I'm not sure what you all have done with tf.js but it now gets around 16-20fps on my iphone xr, pretty friggin amazing!  Was it running on cpu and now on gpu?

The demo uses multi-pose by default and currently you cant sw

[2018-11-18 18:01] nsthorat commented on #921
All amazing progress from @annxingyuan :)

Yeah I think it's just a single pose estimation thing.

[2018-11-18 20:46] thwee-alchemist opened #922 "Thank You All! This is seriously awesome!"
That's all. I just tried the MNIST example, and will try to build either a letter or a word recognizer using SignaturePad. Thanks for your hard work, and for open sourcing this complicated technology!

[2018-11-19 08:54] rajeev-tbrew commented on #908
Folks

Is there an update on the same. Thanks.

Regards
Rajeev

[2018-11-19 08:56] paapu88 commented on #902
Thank's,
I get the cat prediction now with the script below
BUT: I need to run chromium with
`
 /c/Program\ Files\ \(x86\)/Google/Chrome/Application/chrome.exe --disable-web-security --user-data-dir
`
in my windows10-git git shell (from https://gitforwindows.org/ ).
Is there no easier way to do this? If not you should DOCUMENT this.
Terveisin, Markus

 (from [github](https://github.com/tensorflow/

[2018-11-19 13:04] annxingyuan commented on #921
@nsthorat @oveddan

For what it's worth, I've tested both single and multi-pose on iOS 11 (iPhone 6) and 12 (iPhone X) and everything appears to be working. I'll try to investigate this bug with the mailing list OP - maybe it's something unique to their environment.

[2018-11-19 16:32] alippai commented on #293
Added https://github.com/tensorflow/tfjs-core/pull/1401

[2018-11-19 17:09] ttfreeman commented on #911
Not working. I tried all the steps above and still get the same error.

[2018-11-19 17:12] ttfreeman commented on #854
I have python 2.7.15 and can confirm that by python --version, however it won't still install

[2018-11-19 18:05] kangyizhang commented on #911
Hi @ttfreeman

Is your error similar to this
'stack Error: `C:\Windows\Microsoft.NET\Framework\v4.0.30319\msbuild.exe\` failed with exit code: 1'?

[2018-11-19 18:10] rthadur commented on #922
Glad to hear this,Thank you !

[2018-11-19 18:10] #922 closed

[2018-11-19 18:14] caisq commented on #908
@nsthorat Can you take a look at this? This seems to be an issue in the tfjs-core function clipByValue. It doesn't allow min and max to be equal. But the corresponding function in TensorFlow (tf.clip_by_value) allows them to be equal.

[2018-11-19 18:16] caisq commented on #908
@nsthorat Scratch that. What I said about tf.cipByValue was not true. I'll investigate this further.

[2018-11-20 02:42] kylemcdonald commented on #305
Hey! I'm working on something that needs the most up-to-date converter again, and I wanted to check if this is still the best Dockerfile for building everything. If so, I will add it to the gallery under "Tutorials".

[2018-11-20 02:47] YajJackson commented on #218
Also running into this issue when running `tf.loadModel('./tfjs-models/MOBILENET/model.json');`
MOBILENET/ was generated from `tfjs.converters.save_keras_model(mobilenet, './tfjs-models/MOBILENET')`
[code]

Any help would be much appreciated.

[2018-11-20 03:09] YajJackson opened #924 "tf.loadModel Fails to load keras model"
To get help from the community, check out our [Google group](https://groups.google.com/a/tensorflow.org/forum/#!forum/tfjs).

#### TensorFlow.js version
0.13.5
#### Browser version
Version 70.0.3538.110 (Official Build) (64-bit)
#### Describe the problem or feature request
I can't load a keras model created by `tfjs.converters.save_keras_model`
#### Code to reproduce the bug / link to feature requ

[2018-11-20 03:35] caisq commented on #924
Can you open the browser's devtools and check the status of the responses to the weight requests. Those should show up as names such as "group1-shard1of2", etc. Make sure that the response status is 200 OK and that the content of the response is correct. We've seen various kinds of HTTP servers having trouble serving binary weight files like those correctly.

[2018-11-20 03:42] nightBaker commented on #911
@kangyizhang, I have bit different error

gyp ERR! stack Error: `C:\Program Files (x86)\Microsoft Visual Studio\2017\BuildTools\MSBuild\15.0\Bin\MSBuild.exe` failed with exit code: 1

[2018-11-20 05:02] YajJackson commented on #924
@caisq I'm serving these files locally, and see that rather than 200, each file has a 304 'Not Modified' status.  ![network responses](https://i.imgur.com/yqpK3wP.png)

[2018-11-20 05:11] #621 closed

[2018-11-20 05:19] caisq commented on #924
What kind of HTTP server are you using, @YajJackson ?

[2018-11-20 05:41] YajJackson commented on #924
I've been using [parceljs](https://parceljs.org/getting_started.html).

[2018-11-20 05:44] YajJackson commented on #924
Is there anyway for me to test that the binaries are sent properly besides tf.loadModel() failing?

[2018-11-20 07:04] joel1725 opened #925 "Can i make a Transfer learning in nodejs"
To get help from the community, check out our [Google group](https://groups.google.com/a/tensorflow.org/forum/#!forum/tfjs).

### TensorFlow.js version
"@tensorflow-models/mobilenet": "^0.2.2",
    "@tensorflow/tfjs": "^0.13.5",
    "@tensorflow/tfjs-node": "^0.1.9",

### Browser version
i'm not using any broser just windows CMD.

### Describe the problem or feature request
I'm trying to make a tr

[2018-11-20 10:07] christian-vorhemus opened #926 "model.predict() slow locally"
#### TensorFlow.js version
0.13.5

#### Browser version
Chrome 70.0.3538.102

#### Describe the problem or feature request
I'm running a model I've trained in Keras in my browser. When testing in python, the model.predict() call takes roughly 300ms. When I run the model in the browser (I've saved it in a tfjs compatible format), it takes more than 10 seconds. Here is a codepen that illustrates the

[2018-11-20 11:07] ToonTalk opened #927 "Fit inside tidy raises exception if validationSplit is provided"
#### TensorFlow.js version
{tfjs-core: "0.13.11", tfjs-layers: "0.8.5", tfjs-converter: "0.6.7", tfjs: "0.13.5"}
#### Browser version
Version 70.0.3538.110 (Official Build) (64-bit)
#### Describe the problem or feature request
If either the tidy or the validationSplit (only changes to https://js.tensorflow.org/#getting-started) is missing then it works fine otherwise the following exception.

tfjs

[2018-11-20 12:21] adwellj commented on #925
I recently did this, but unfortunately don't have my code in a public repository at this time (private work project).

I started by re-implementing the webcam transfer learning example and substituting the camera class with files. That was a big help with building the decapitated mobilenet model, doing the training, and getting predictions. However, the data controller class was a major problem on

[2018-11-20 13:01] nsthorat opened #928 "Remove Tensor.get()"
Instead of this, users can call Tensor.toBuffer() to get a TensorBuffer, and call get() on that object.

[2018-11-20 13:09] happy-machine commented on #894
we're now up to average of less than 50ms per request on 1000 concurrent requests from node on aws ec2 with no extra gpu thanks to the new update! (small model)

[2018-11-20 13:11] sayradley commented on #841
I run into the same problem. I haven't spent much time, but it looks like the `concat_` from `@tensorflow/tfjs-core/dist/ops/concat_split.js:22` receives an empty tensor.

[2018-11-20 13:20] nsthorat commented on #305
That dockerfile still looks good to me! Thanks Kyle!

[2018-11-20 14:29] manrajgrover commented on #305
Great work @kylemcdonald! Just sharing another [quick docker setup](https://gist.github.com/manrajgrover/84f73a295f85e5902a9239fa698b7603) here that I wrote long back for consumption purpose. Let me know if you need any assistance.

[2018-11-20 14:43] HarryChang30 commented on #711
Hello there I got this error when trying to do the npm install @tensorflow/tfjs-node

@tensorflow/tfjs-node@0.1.21 install C:\Users\ASUS\Documents\MachineLearning\Tensorflow\node_modules\@tensorflow\tfjs-node

* Downloading libtensorflow
[==============================] 48257/bps 100% 0.0s
* Building TensorFlow Node.js bindings
C:\Users\ASUS\Documents\MachineLearning\Tensorflow\node_modules\@tenso

[2018-11-20 14:44] ToonTalk opened #929 "model.compile doesn't accept 'momentum' as an optimizer"
To get help from the community, check out our [Google group](https://groups.google.com/a/tensorflow.org/forum/#!forum/tfjs).

#### TensorFlow.js version
{tfjs-core: "0.13.11", tfjs-layers: "0.8.5", tfjs-converter: "0.6.7", tfjs: "0.13.5"}
#### Browser version
Version 70.0.3538.110 (Official Build) (64-bit)
#### Describe the problem or feature request
When specifying 'momentum' as the optimizer in

[2018-11-20 14:53] caisq commented on #908
After some investigation, I found the error happens because the `max_value` property of some ReLU activations in the network is saved as `{"value":6,"type":"ndarray"}`, instead of a plain number (`6`).

@fchollet Is this a recent change in tf.keras? Is there a reason why `max_value` of the relu layer is stored as an object instead of a plain number?

[2018-11-20 14:56] caisq commented on #908
@rajeev-tbrew

As a temporary & hacky workaround, you can replace all instance of `{"value":6,"type":"ndarray"}` with `6` in your model.json.

[2018-11-20 15:21] joel1725 commented on #925
thanks @adwellj for answering

I have been using the webcam transfer learning example from the beginning, I have done it completely using javascrit in the browser but now using only with nodejs is that I have encountered some problems, like this one showing that getLager is not a function, no matter how I put it, it just keeps showing that and I can not find anything on the internet to help me sol

[2018-11-20 15:38] tafsiri commented on #925
@joel1725  In your code try `mobilenet.model.getLayer()`. The `@tensorflow-models/mobilenet` package wraps the actual mobilenet model in a class that provides some utility functions for doing predictions without needing to convert things to tensors, but hides the underlying tfjs api.

[2018-11-20 15:42] caisq commented on #218
I don't think the issue that @YajJackson and @freekoy  is running into is related to the Dot layer. The issue is being tracked in https://github.com/tensorflow/tfjs/issues/924

Closing this PR again.

[2018-11-20 15:42] #218 closed

[2018-11-20 15:42] tafsiri commented on #927
`tf.tidy` requires that the function passed to it is synchronous. Model.fit is asynchronous and returns a promise.

Model.fit will also handle its own memory management so you shouldn't need tidy here.

[2018-11-20 15:50] dsmilkov commented on #924
Couple of things:

- Can you share with us the model.json? In particular search for "group1-shard1ofX" and see if you can access that file directly from the browser.

- On our side, we will improve the error message shown to the user when calling loadModel():

- inspect the http response code and if it's not 200 OK, let the user know the response code
- inspect the http encoding and make sure it's

[2018-11-20 15:50] joel1725 commented on #925
### Excellent thanks @tafsiri  this worked correctly......

Also thanks @adwellj for your interest in solving this problem, I was writing you the error until I saw the comment of @tafsiri.

Once I finish my project I will make it public on github cuz onTesorFlow and Nodejs I think there are few examples available.

Thanks.

[2018-11-20 15:52] caisq commented on #929
@TooTalk Thanks for filing this issue. Can you provide some details on the momentum optimizer that you want to be able to specify as a string? It is not supported in keras or tensorflow.keras either.

[2018-11-20 15:55] ttfreeman commented on #911
PS D:\GDrive\Dev\U\MLJS\MLKits\knn-tf> npm install @tensorflow/tfjs-node

* Downloading libtensorflow
[==============================] 6866838/bps 99% 0.0s
* Building TensorFlow Node.js bindings
D:\GDrive\Dev\U\MLJS\MLKits\knn-tf\node_modules\@tensorflow\tfjs-node\scripts\install.js:154
      throw new Error('node-gyp rebuild failed with: ' + err);
      ^

Error: node-gyp rebuild failed with: Err

[2018-11-20 15:58] #925 closed

[2018-11-20 16:01] ttfreeman commented on #911
0 info it worked if it ends with ok
1 verbose cli [ 'C:\\Program Files\\nodejs\\node.exe',
1 verbose cli   'C:\\Users\\Tony\\AppData\\Roaming\\npm\\node_modules\\npm\\bin\\npm-cli.js',
1 verbose cli   'install',
1 verbose cli   '@tensorflow/tfjs-node' ]
2 info using npm@6.4.1
3 info using node@v10.13.0
4 verbose npm-session cb4c07788f643fb0
5 silly install loadCurrentTree
6 silly install readLocal

[2018-11-20 16:08] ttfreeman commented on #911
@kangyizhang, the complete log attached:

[2018-11-20T15_54_56_291Z-debug.log](https://github.com/tensorflow/tfjs/files/2600584/2018-11-20T15_54_56_291Z-debug.log)

[2018-11-20 16:13] adwellj commented on #925
@joel1725, you're welcome! Hit me up if you get in to any other snags. There were a few other obstacles that I ran in to that I can help you with.

I've been meaning to try and put this in to a public repository, so that others could benefit from it. I'll see if I can find some time in the next few days to do that, and will share with you.

[2018-11-20 16:36] pyu10055 opened #930 "FrozenModel should not dispose Tensors that is marked as output for Execute method"
Since the inclusion of aggressive disposal of intermediate tensor in #719, if caller of execute method includes intermediate tensors as part of the output nodes, those intermediate nodes are not kept in the output NamedTensorMap.

We should not dispose those intermediate nodes that are marked for output.

[2018-11-20 17:05] YajJackson commented on #924
Good news! after switching from serving my files with parcel to webpack-dev-server, the content-type header was updated appropriately to `application/octet-stream`. I'm no longer receiving the previous error, however, it now appears to be silently failing.

Consider this snippet:
[code]
Previously, tf.loadModel() would fail with the error I provided initially. Now, it seems that it's endlessly loa

[2018-11-20 17:31] YajJackson commented on #924
I can't say exactly what solved the issue that I just mentioned, but after the following steps I was able to get that snippet to work properly:

1. I changed tf.loadModel() to target `'https://storage.googleapis.com/tfjs-models/tfjs/iris_v1/model.json'` (from [example 4](https://js.tensorflow.org/api/latest/#loadModel) in the loadModel docs)
2. Cleared browser cache
3. Loaded site, and observed th

[2018-11-20 18:35] ToonTalk commented on #927
The function passed to `tidy `is synchronous in my code.

When I added some `console.log(tf.memory())` statements and moved the `tf.tensor2d([5], [1, 1])` out of the test I saw the number of tensors increase. Perhaps fit does handle its own memory but predict doesn't. But I prefer using `then `which keeps them together.

[2018-11-20 18:38] YajJackson commented on #908
@caisq I ran into this issue as well. my model.json held `{"type":"ndarray", "value":6}`, and replacing all instances with 6 seems to fix the issue.

[2018-11-20 18:45] ToonTalk commented on #929
I'm developing material to be used by high school students. What I need is a reasonable default value for the momentum parameter. All the other optimizers can be chosen by using a string. Most of them also have additional parameters but they are optional (other than the learning rate). I'm unclear why the second argument in https://js.tensorflow.org/api/latest/#train.momentum isn't optional and gi

[2018-11-20 18:47] ToonTalk commented on #929
If there are good reasons to keep things the way they are then at least the documentation should be clearer since "An instance of tf.train.Optimizer or a string name for an Optimizer" leads one to think that all the optimizers listed at https://js.tensorflow.org/api/latest/#class:train.Optimizer can be specified by a string.

[2018-11-20 18:56] kangyizhang commented on #711
Hi @HarryChang30

Can you try to run
`npm install --production windows-build-tools`
and then try to install tfjs-node again? Several users and I had the same issue and it's resolved by reinstall windows-build-tools.

[2018-11-20 18:58] kouohhashi commented on #840
Hi, I want to train speech recognition feature with tensorflow.js. and CTC loss function is key for that.
I hope there are some more people interested in CTC loss...

[2018-11-20 19:05] kangyizhang commented on #911
hi @nightBaker

can you run `npm install --production windows-build-tools` and then try to install tfjs-node? I used to have a similar MSBUILD error and reinstall windows-build-tools resolved it.l

[2018-11-20 19:42] joel1725 commented on #925
@adwellj It would be great to be able to see your work, be sure to share it with me, thank you.

[2018-11-20 19:52] caisq commented on #21
This feature is not implemented yet.

[2018-11-20 20:14] kouohhashi opened #931 "Converted model from Keras show 'model_config' of null error."
#### TensorFlow.js version
@tensorflow/tfjs": "^0.13.5"
or
"@tensorflow/tfjs-node": "^0.1.21",

#### Browser version
Google Chrome Version 70.0.3538.102

#### Describe the problem or feature request
I converted a Keras model into Tensorflowjs model with tensorflowjs_converter
tensorflowjs_converter version:
[code]

#### Code to reproduce the bug / link to feature request
I downloaded the Keras mod

[2018-11-20 20:21] ttfreeman commented on #911
My issue is resolved by following the steps posted by user 'refack' in the following thread: https://github.com/nodejs/node-gyp/issues/1144

[2018-11-20 20:44] nsthorat opened #932 "Support spectral ops (fft, ifft, rfft, irfft) in the tfjs-converter"

[2018-11-21 01:05] chan109 commented on #711
Hello, I got this error when trying to do the npm install @tensorflow/tfjs-node on mac

@tensorflow/tfjs-node@0.1.17 install /Users/chanhaokun/Documents/Project/ml_Course/MLKits/knn-tf/node_modules/@tensorflow/tfjs-node

* Downloading libtensorflow
[==============================] 3423123/bps 100% 0.0s
* Building TensorFlow Node.js bindings
/Users/chanhaokun/Documents/Project/ml_Course/MLKits/knn-

[2018-11-21 02:15] HarryChang30 commented on #711
Thanks for the solution. It works now @kangyizhang

[2018-11-21 04:05] haganbt commented on #617
Hi all,

Im using a node.js microservices runtime whereby I cannot set `global.fetch`. Is there a workaround at all?

[code]
Throws:

[code]

I do have access to `node-fetch` but cannot set a global.

Can anyone advise?

[2018-11-21 04:07] caisq commented on #617
@haganbt I don't know much about your node.js microservice. But instead of setting `global.fetch`, is it possible for you to set `fetch` (the implicit global one)?

[2018-11-21 04:12] haganbt commented on #617
Thanks @caisq, afraid not. Here is my full function:

[code]

If I just set `fetch = require('node-fetch');` then I get `fetch is not defined`.

[2018-11-21 04:18] caisq commented on #617
@haganbt Thanks for the reply. I'm sorry that there is no simple workaround to this currently. This is related to https://github.com/tensorflow/tfjs/issues/479, which is on our TODO list.

Do you have access to the local filesystem in your microservice? If so, is it possible for you to use the node `http` module to download the required `model.json` and the sharded weight files to the local filesy

[2018-11-21 04:42] haganbt commented on #617
Many thanks @caisq and no apology necessary; fully understand the TODO list is large ;)

I actually own the microservices platform ([eventn.com](eventn.com)) and im currently experimenting with adding support for tensorflow.js as i think it would be really nice to expose services via HTTP.

Im reluctant to go down the path of hosting the models. Reading #479, the description nails it in that these

[2018-11-21 04:54] caisq commented on #617
@haganbt Got it! Thanks for letting us know. I'll prioritize fixing #479.

[2018-11-21 05:14] dsanders11 opened #933 "Functionality for Training GANs"
To get help from the community, check out our [Google group](https://groups.google.com/a/tensorflow.org/forum/#!forum/tfjs).

#### Describe the problem or feature request

What functionality still needs to be implemented in TensorFlow.js to implement the equivalent of [this GAN example with Python TensorFlow](https://github.com/aadilh/blogs/blob/new/basic-gans/basic-gans/code/gan.py)?

I know that

[2018-11-21 08:10] bobmoff commented on #298
Relying on canvas for this is an issue when wanting to run it on AWS Lambda. Lambdas node version is 8.10 and that specific version has a bug in it that makes canvas break :(

[2018-11-21 08:17] dsanders11 opened #934 "meanSquaredError Of Two int32 Tensors Fails"
To get help from the community, check out our [Google group](https://groups.google.com/a/tensorflow.org/forum/#!forum/tfjs).

#### TensorFlow.js version
0.13.3

#### Describe the problem or feature request

[code]

Results in:

```Error: The dtypes of the first(int32) and second(float32) input must match```

This does work:

```const mse = tf.losses.meanSquaredError(tensor1.toFloat(), tensor2.toFl

[2018-11-21 09:20] ToonTalk commented on #927
Thanks. When I move the `tidy `inside the `then `the exception no longer happens. But the number of outstanding tensors increases. But only if I use `validationSplit: .2` - without it the number of tensors doesn't change in the following. With it I see this in the console

with this code

[code]

[2018-11-21 10:10] ToonTalk opened #935 "gradMode not documented in https://js.tensorflow.org/api/latest/#tidy"
Documentation for `tidy `mentions `gradMode` but provides no information (other than it is an optional boolean). The code for `tidy` has this comment "gradMode Primarily for internal use during backprop"

[2018-11-21 15:08] tafsiri commented on #927
cc @caisq do you want to take a look and see if there is a memory leak when using validationSplit.

[2018-11-21 15:16] tafsiri commented on #933
Hi @dsanders11, I think some of the python concepts like `variable_scope`, `placeholder`, `get_collection` and `Session` have no equivalent in JS as they are graph related concepts and TensorFlow.js is [eager-mode](https://www.tensorflow.org/guide/eager) only (and we don't plan on adding a deferred execution graph mode).

You could find an example in python that implements the GAN you are interest

[2018-11-21 21:44] rthadur commented on #820
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2018-11-21 21:44] #820 closed

[2018-11-21 21:51] rthadur commented on #767
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2018-11-21 21:51] rthadur commented on #756
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2018-11-21 21:56] rthadur commented on #479
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2018-11-21 21:57] rthadur commented on #492
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2018-11-21 21:57] #492 closed

[2018-11-21 22:05] rthadur commented on #906
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2018-11-21 22:05] #906 closed

[2018-11-22 02:06] pyu10055 commented on #933
Another way is to train the model in python, save the result in SavedModel
format and use tfjs-converter to import to tfjs.

On Wed, Nov 21, 2018 at 12:24 PM Nikhil Thorat <notifications@github.com>
wrote:

[2018-11-22 02:21] dsanders11 commented on #933
@tafsiri, thanks for the explanations and examples. I hadn't seen the GANs in gallery, I had only looked in the tensorflow/tfjs-models. It sounds like the eager vs graph mode is the main difference I wasn't aware of.

[2018-11-22 07:50] rajeev-tbrew commented on #908
Thank you @caisq !!!

The temporary workaround has solved the issue.

[2018-11-22 14:31] adwellj commented on #925
@joel1725, check out my repo: https://github.com/adwellj/node-tfjs-retrain

[2018-11-23 02:00] steren opened #936 "Unsupported Ops in the model before optimization MirrorPad, DecodeRaw, RandomUniformInt, ParseSingleExample"
I am trying to convert a model I trained in Python to a tensorflowjs-compatible model

When I run `tensorflowjs_converter` on my SavedModel, I get the following error due to operations not yet implemented (see [list](https://github.com/tensorflow/tfjs-converter/blob/master/docs/supported_ops.md)):

[code]

[2018-11-23 15:46] joel1725 commented on #925
@adwellj  An incredible project, it's great I can combine some ideas with the one I'm creating, excellent work, has thrown some lights. When I upload the one I'm doing, I'll show you.

[2018-11-23 16:03] neilljordan opened #937 "The path to load from must be a file. Loading from a directory is not supported."
To get help from the community, check out our [Google group](https://groups.google.com/a/tensorflow.org/forum/#!forum/tfjs).

#### TensorFlow.js version

@tensorflow/tfjs: 0.13.5
@tensorflow/tfjs-node-gpu: ^0.1.21

#### Browser version

node v8.11.1

#### Describe the problem or feature request

I'm unable to load a model just saved to the file system. It seems to save successfully, but I receive

[2018-11-23 17:40] neilljordan commented on #937
I tried that before, but since that gives me another error, I figured I'd ask for help. The error when I point it directly to the model.json is:

It seems like it's saving in one format and then trying to load in another, but the examples in the API docs don't demonstrate specifying a format when saving/loading. Any suggestions?

[2018-11-23 18:02] adwellj commented on #937
I believe it's because the model doesn't have any layers.

I was able to reproduce your error, but then resolved it by adding a layer (and specifying "model.json" during load).

<pre><code class="hljs js">model.add(tf.layers.conv2d({
  <span class="hljs-attr">inputShape</span>: [<span class="hljs-number">28</span>, <span class="hljs-number">28</span>, <span class="hljs-number">1</span>],
  <span c

[2018-11-23 18:06] neilljordan commented on #937
Yep, that was it. Thanks for the help @adwellj !

[2018-11-23 18:06] #937 closed

[2018-11-24 04:01] stephenrt42 commented on #755
Not sure if this helps, but when I converted my h5 model using the python code
`import tensorflowjs as tfjs
from keras.models import load_model

modelk = load_model('./input/model.h5')
tfjs.converters.save_keras_model(modelk, './output/')`

I would receive the following error:

`errors.ts:48 Uncaught (in promise) Error: Provided weight data has no target variable: dense_1_7/kernel
    at new t (er

[2018-11-24 20:49] OracleLurker commented on #711
Hi - Any Idea? I did install the windows build tools, initially had python 3.7 installed but have now uninstalled it and set the python path to python2.7 and and there are no spaces in the directory names.

C:\TensorFlowModeling>npm install @tensorflow/tfjs-node

* Downloading libtensorflow
[==============================] 25073331/bps 98% 0.0s
* Building TensorFlow Node.js bindings
C:\TensorFlowM

[2018-11-25 02:36] haganbt commented on #479
Please can this be reopened? This is a priority for usage in a microservices environment where `global.fetch` cannot be set. See https://github.com/tensorflow/tfjs/issues/617#issuecomment-440522402

[2018-11-25 03:03] steren commented on #936
After some more iteration using different TF methods to load out images, we managed to reduce the dependencies to `DecodeJpeg, ReadFile`.

And ultimately, we got rid of the issue. In our case, we used `build_raw_serving_input_receiver_fn`.

[2018-11-26 01:53] kanchenhao opened #938 "Uncaught Error: Operands could not be broadcast together with shapes 1,128,128,64 and 0."
#### tensorFlowjs==0.13.0

#### Google Chrome version 70.0.3538.102

#### I try to transform my FrozenModel to tfjs model, and success. The FrozenModel is ok when I use it  with python, but it's wrong when I use the model I transformed in my browser. Here is the error. It says the wrong is in my batch normalization layer.

#### Code to reproduce the bug

    at assertAndGetBroadcastShape (tf-core.

[2018-11-26 10:35] JasonShin opened #939 "Tensor.dataSync() does not retain the original shape"
To get help from the community, check out our [Google group](https://groups.google.com/a/tensorflow.org/forum/#!forum/tfjs).

#### TensorFlow.js version
Latest & v0.13.3

#### Describe the problem

I am working on a project that utilises tfjs's linear algebra APIs. I want to use Tensor's `dataSync` method to retrieve data of Tensor but it is returning a flat array without retaining its original sh

[2018-11-26 11:03] JasonShin commented on #939
Relaying some replies that I received by @justadudewhohack on BRIIM Slack server on the same issue/question

<img src="https://i.imgur.com/DRv9DAY.png" />

Additional question:

1. Why is it more efficient to return a flat array?

2. Would `dataSyncRaw` be a good feature request? It is a method of Tensor that returns the original data of the Tensor without losing any shapes.

[2018-11-26 16:54] bileschi commented on #927
Hi @ToonTalk ,  I'm able to replicate the behavior you describe, that when you call model.fit, the number of outstanding tensors increases from 8 to 10, but only when validation>0.  Did you notice that when you call model.fit again, the count stays at 10?   I suspect that there is some temporary storage allocated when the validation process happens the first time, and then retrained for future inv

[2018-11-26 18:04] nsthorat commented on #767
Keeping this open since we have a fix pending.

[2018-11-26 18:05] nsthorat commented on #756
I think we could still do this, WDYT @justadudewhohacks ?

[2018-11-26 18:07] ToonTalk commented on #927
Thanks for looking into this. If it happens only once it is a minor problem that I can easily live with.

[2018-11-26 18:40] rthadur commented on #908
Closing this issue as this was resolved.

[2018-11-26 18:41] cbasavaraj commented on #744
Hi, I still get an error on tf.loadModel(MODEL_URL):

I have upgraded to the latest versions of Keras and tfjs. Am I missing anything? Thanks

[2018-11-26 18:53] rthadur commented on #933
Hope this is answered and closing it , please feel free to reopen.

[2018-11-26 18:53] #933 closed

[2018-11-26 19:01] caisq commented on #744
@cbasavaraj What version of tensorflow.js are you using? If it is the latest version, can you provide your model.json for us to reproduce your error?

[2018-11-26 19:03] #930 closed

[2018-11-26 19:54] caisq opened #940 "squeeze() doesn't work with axis argument `[-1]`"
#### TensorFlow.js version
core 0.13.12 (latest)

[2018-11-26 20:03] #804 closed

[2018-11-26 20:19] justadudewhohacks commented on #939
My take on 1. one: Imagine having a large 3D or 4D tensor. You will have to create quite a lot of nested arrays for this, which is probably not very efficient.

[2018-11-26 20:31] nsthorat commented on #939
@justadudewhohacks right, returning a nested array would be very slow (all of the internals work on the TypedArray which is much much faster and converting that array to a nested array would be very slow). You could use a TensorBuffer if you want a CPU object and want to index into it (use tensor.buffer()).

[2018-11-26 22:05] cbasavaraj commented on #744
Hi, I am using tfjs 0.6.7. How do I share the model.json with you? It has 5k lines, but quite a simple model, a MobileNet classifier. Can I email it to you?

[2018-11-26 22:06] nsthorat commented on #744
That is a very old version of tfjs, the newest is` 0.13.5`.

[2018-11-26 22:08] caisq commented on #744
@cbasavaraj 0.6.7 seems to be the version of the tensorflowjs *python* package you are using. What is the version of the TensorFlow.js *JavaScript* library you are using? You can find that out by something like `console.log(tf.version)`.

To share the file, maybe you can drag and drop a zip file into GitHub comment boxes.

[2018-11-27 04:29] Raza25 opened #942 "Unable to access pre-trained frozen model layers and nodes in tensorflow-js"
To get help from the community, check out our [Google group](https://groups.google.com/a/tensorflow.org/forum/#!forum/tfjs).

#### TensorFlow.js version 0.13.0

#### Browser version Google chrome 70.0.3538.102 (Official Build) (64-bit)

#### Describe the problem or feature request
I trained a keras Seq2Seq model with tensorflow backend. Froze the model, then used GTT (google transform tool) for qu

[2018-11-27 07:21] swatinair123 opened #943 "How can I give the video input to PoseNet using TensorFlow.js without an HTML page?"
My aim is to save the extracted keypoints from a prerecorded video to a .json file. So is there a way i can give the video input directly to the camera.js without HTML so that i can run camera.js directly from cmd like node camera.js.Can anyone tell me how this can be done.? Currently i am able to extract the keypoints for the poses from a prerecorded video and display using console.

[2018-11-27 07:22] swatinair123 opened #944 "How can i run a POSENET model with Tensorflow without using the browser?"
To get help from the community, check out our [Google group](https://groups.google.com/a/tensorflow.org/forum/#!forum/tfjs).

#### TensorFlow.js version

#### Browser version

#### Describe the problem or feature request

#### Code to reproduce the bug / link to feature request

[2018-11-27 14:40] nsthorat commented on #756
Great! We actually had a fix recently which should dramatically reduce the context being lost (having a global singleton canvas).

I'll close this out -- if you see this again let us know and we'll reopen it.

[2018-11-27 14:40] #756 closed

[2018-11-27 14:51] nsthorat commented on #943
You could run it in Node.js to do that!

[2018-11-27 14:51] nsthorat commented on #943
Also, this would be better on the tfjs community mailing list, we're using issues for problems with the library. Going to close this out :)

[2018-11-27 14:51] #943 closed

[2018-11-27 18:04] kangyizhang commented on #944
hi @swatinair123

You should be able to use the POSENET model without using the browser. But you have to look into the current code to replace the web camera input with your image/video input, and replace the usage of browser specific entities, such as dome elements.

[2018-11-27 20:47] nsthorat commented on #935
It's an internal API, we'll remove it in https://github.com/tensorflow/tfjs-core/pull/1414

[2018-11-27 21:02] justadudewhohacks opened #945 "Exception when importing latest tfjs-node"
When switching from  tfjs-node 0.1.19 to latest (0.1.21) I am receiving the following error when importing tfjs-node:

[code]

My working environment:
- node: 9.2.0
- npm: 6.4.1
- ts-node: 4.1.0
- typescript: 2.8.4
- tfjs-core: 0.13.8

[2018-11-27 21:10] cbasavaraj commented on #744
Hi @caisq, were you able to look at this again? I really need to fix this for a client, and can't find many other references to this issue on the Internet. Thanks

[2018-11-27 21:12] caisq commented on #744
@cbasavaraj So you are using tfjs version 0.12.5, which is old. Can you use the latest version (0.13.5) which should have incorporated the fix to this known issue?

[2018-11-27 21:16] pyu10055 commented on #938
@kanchenhao can you try the latest tfjs-converter python pip package? it should rewrite the batch norm op with basic ops.

[2018-11-27 21:19] pyu10055 commented on #936
@steren Can you confirm that you have a work-around for the missing op issue? Thanks

[2018-11-27 21:21] cbasavaraj commented on #744
I did `pip install --upgrade tensorflowjs` which gives me 0.6.7 for the _python_ package. I built tensorflow from source (as I am using CUDA 9.1 on Ubuntu). How do I upgrade the _JavaScript_ library? Thanks!

[2018-11-27 21:24] caisq commented on #744
@cbasavaraj The thread we are having here is going off-topic for this GitHub issue. Can we follow-up at this discussion board? https://groups.google.com/a/tensorflow.org/forum/#!forum/tfjs

If you can post your question there, along with information on how you are using the JS part of TensorFlow.js currently (through script src? througn npm?), I'll be happy to continue helping you there.

[2018-11-27 21:24] pyu10055 commented on #886
@Raza25 The model returns from loadFrozenModel() call contains an attribute graph of type GraphExecutor, which has a graph attribution that contains all the nodes of the graph.
The kera layer information is lost when saving Keras to graph, but the node name can give you some hints on which variable scope the nodes belong to.

[2018-11-27 23:38] nkreeger commented on #945
Weird. Try deleting your `node_modules` folder and re-running `yarn` or `npm install`.

[2018-11-27 23:46] nkreeger commented on #711
[code]
This is because the win tools are not installed properly.

Can you retry `npm install --production windows-build-tools` - you might have to do this from a privileged prompt.

[2018-11-27 23:52] nkreeger commented on #298
Stay tuned - we're working on auto-generated code which will provide a Node-specific version of `tf.image.decode_image`: https://www.tensorflow.org/api_docs/python/tf/image/decode_image

[2018-11-27 23:54] nkreeger commented on #854
@ttfreeman check your $PATH in windows. If Python3 is first - this might fail. Can you provide a full stack trace? Also try running (might have to do this in a privileged terminal `npm install --production windows-build-tools`

[2018-11-28 00:18] nkreeger commented on #739
It looks like you are running inside JetBrains? If so - can you try running through that command prompt that you installed with? I wonder if a path is not working correctly in the JetBrains IDE.

[2018-11-28 03:58] suyash opened #947 "Unable to convert the embedding layer of a keras estimator"
Sorry if this is the wrong place to post, the tfjs-converter repo does not have an issue tracker

#### TensorFlow.js Converter version
v0.6.7

#### Browser version
N/A

#### Describe the problem or feature request
Unable to convert a layer from tf_saved_model to FrozenModel

#### Code to reproduce the bug / link to feature request

[code]

then to convert the saved model to a FrozenModel do

[code

[2018-11-28 06:10] swatinair123 commented on #944
Yes,in  my current code i have made changes for the input videos  from  local desktop. But my main aim is to write the keypoints to the .json file . when working with browser this will not let me write the points .

[2018-11-28 06:37] steren commented on #936
I confirm that I have refactored my Python code to not depend on these operations.

[2018-11-28 07:09] swatinair123 commented on #572
Hi is there aan implementation for POSenet with tensorflow Python on windows without using core-ML

[2018-11-28 08:59] justadudewhohacks commented on #945
Exactly, removing the package-lock.json and clearing node_modules fixed it. Experiencing some weird issues with npm after upgrading to npm 6 lately.

Sorry for bothering...

[2018-11-28 08:59] #945 closed

[2018-11-28 09:03] astojilj opened #949 "Avoid expensive reshape for odd number of rows and the same number of columns"
When executing DeepLabv3+ MobileNetV2 I noticed that there are 30+ expensive reshapes (e.g. [1, 257, 257, 16] -> [66049, 16]) per frame. If we would change 2x2 packing in such way that the first row of the next batch is adjacent to the last row of the batch, reshape would be free ([modified isReshapeFree](https://github.com/astojilj/tfjs-core/blob/f069f5ade825370b5b178a32d966ae8951c81704/src/kerne

[2018-11-28 13:11] annxingyuan commented on #949
Hey @astojilj

Thanks for pointing this out. Unfortunately changing the packing scheme so that single texels can contain multiple batches would significantly complicate our samplers. For example given a tensor of shape [2, 3, 5], if you wanted the value at [1, 0, 0], you would have to know to read the blue channel of the returned texel as opposed to the red channel.

That being said we want to ado

[2018-11-28 13:12] kanchenhao commented on #938
I had tried the latest tfjs-converter version 0.6.7, but the error is still here.

[2018-11-28 14:59] ToonTalk opened #950 "Typo in https://github.com/tensorflow/tfjs-models/tree/master/speech-commands"
[code]
`${epochs}` should be `${epoch}`

[2018-11-28 15:58] astojilj commented on #949
Hello @annxingyuan,
Thanks, and thanks for work on packed operations.

Code is dealing with it like [this](https://github.com/astojilj/tfjs-core/blob/e578568cfeb39b9434c452c81d6437ae528c44b8/src/kernels/webgl/shader_compiler.ts#L829) - sampling twice to construct the returned pixel.

I plan to provide the numbers from benchmark page as soon as the pull request is ready - working on additional test

[2018-11-28 16:25] astojilj opened #951 "Pack binary operations"
Binary mul, div, floorDiv, add and sub operations are a good candidate for packing implementation.
Following batchNorm packing (Issue #774), this is especially useful if someone uses transform_graph with options _fold_batch_norms fold_old_batch_norms_ before tensorflowjs_converter - batchNorm operations are replaced by biasAdd ops (binary add operation).
I'm preparing [pull request](https://github

[2018-11-28 16:35] annxingyuan commented on #949
@astojilj

I'm not sure sampling twice is the best approach. Sampling is one of the biggest bottlenecks in our shaders, which unfortunately means that we can't ask the shader compiler to hide all of the sampling logic. Certain ops that cannot be trivially vectorized (such as matMul: https://github.com/tensorflow/tfjs-core/blob/master/src/kernels/webgl/mulmat_packed_gpu.ts) need to exploit properti

[2018-11-28 16:53] astojilj commented on #949
@annxingyuan
Agree, I would need to verify the numbers now and after all the operations in MobileNetV2 get packed - comparing 2 samples in operations vs 1 sample + occasional reshapes with 4 samples.

[2018-11-28 17:09] ttfreeman commented on #854
@nkreeger My issue was resolved after installing full Visual Studio. Thanks though.

[2018-11-28 17:17] kangyizhang commented on #944
hi, you should be able to create or write .json file if your process is running in node env. You probably want to try @tensorflow/tfjs-node.

[2018-11-28 17:52] caisq commented on #931
@kouohhashi Is it possible for you to share a link to the saved keras model (in HDF5 format) with us so we can try reproducing the issue?

[2018-11-28 18:05] rthadur commented on #936
Thank you , closing this issue , feel free to reopen the issue if it is not resolved.

[2018-11-28 18:05] #936 closed

[2018-11-28 19:38] nkreeger commented on #854
Great closing for now - I curated a README with troubleshooting here: https://github.com/tensorflow/tfjs-node/blob/master/WINDOWS_TROUBLESHOOTING.md

[2018-11-28 19:38] #854 closed

[2018-11-28 20:21] caisq commented on #622
@nkreeger Reopening the issue following off-line chat today.

[2018-11-28 21:57] rthadur commented on #545
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2018-11-28 21:57] #545 closed

[2018-11-28 22:02] rthadur commented on #493
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2018-11-28 22:02] #493 closed

[2018-11-28 22:03] rthadur commented on #586
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2018-11-28 22:03] #586 closed

[2018-11-28 22:15] pyu10055 commented on #947
there is a known issue with TensorFlow, here is the [link](https://github.com/tensorflow/tensorflow/issues/21889).

[2018-11-28 22:19] pyu10055 commented on #942
@Raza25 have you used the [tfjs-converter](https://github.com/tensorflow/tfjs-converter) to convert the frozen model to tfjs format? Here is a [tutorial](https://js.tensorflow.org/tutorials/import-saved-model.html) on how to do that.

[2018-11-28 22:20] dsmilkov commented on #950
cc @caisq the author of the speech-commands model

[2018-11-29 01:00] pyu10055 commented on #938
@kanchenhao can you share your model, so we can reproduce this problem? thanks.

[2018-11-29 03:35] Raza25 commented on #942
@pyu10055 yes, I have converted the model via tfjs-converter. My real concern is, how to inspect/diagnose or use the .pb model in tfjs. Json model architecture is easily accessible, however it is not the case with frozen model. I suppose the layers information is removed at the time of freezing a graph.

Note: I am working with RNN, thereby require layers information for inference model in tfjs.

[2018-11-29 05:43] jaretburkett commented on #865
@dsmilkov Thank you for the reply. I built a custom toPixels that has sped up the process considerably for large images as it negates the need for the JS for loops. It helps get me by for now. It does not have all the safety checks of the original, the input needs to have a value of 0-255 and cast to int32, but you will get the gist.

[code]

Basically adding the alpha channel  on the backend allo

[2018-11-29 09:42] asus4 opened #952 "Some androids failure to compile fragment shader"
#### TensorFlow.js version
0.13.5

#### Browser version
- Android: 6.0.1
- Chrome: 70.0.3536.110
- Error Devices:
  - Xperia Z3 SO-01G
  - GALAXY S5 SC-04F
  - AQUOS EVER SH-04G

#### Describe the problem or feature request

Tested tfjs-examples on mobile and some android devices failure to compile fragment shader. if the gpu spec is low, it tend to failure. All failure devices threw following err

[2018-11-29 10:49] wtfil commented on #102
Prepare yourself!
This is for sensitive people. I have added following code BEFORE any import from tensorflow inside the woker.js file, just to make it "think" he is running in normal environment and prevent any runtime error (btw I am using webpack to bundle worker.js).
Also this will work only in browser with `OffscreenCanvas` (Chrome or Firefox+flag)

[code]
Probably you will need to add more "

[2018-11-29 15:52] nsthorat opened #953 "Support GLSL ES300 to improve precision on Android devices where WebGL 2.0 is available."
We'll have to do a bit of wrangling to still support the older ES versions (WebGL 1.0), but this will improve precision on Android devices with WebGL 2.0 (iPhones are still on WebGL 1.0).

See the commit here: https://github.com/GreyZzzzzzXh/tfjs-core/commit/39a56bf75803ae9327bbf160189f0d08f8a06416

cc @GreyZzzzzzXh

[2018-11-29 16:20] kouohhashi commented on #931
I checked the code and realized the code saved weight only.
My bad. Sorry about bothering you guys....

[2018-11-29 16:20] #931 closed

[2018-11-29 17:10] #950 closed

[2018-11-29 17:37] pyu10055 commented on #942
@Raza25 Got it, I have created a pb to json script https://github.com/tensorflow/tfjs-converter/pull/256. You can try that with your model.

[2018-11-29 20:30] justadudewhohacks commented on #952
Since it might be interesting, someone reported the same issue at face-api.js on a SONY Xperia A4 with Android 6.0.1: https://github.com/justadudewhohacks/face-api.js/issues/151

[2018-11-29 20:38] suyash opened #954 "Unable to execute a converted model with tf.nn.dynamic_rnn layer"
#### TensorFlow.js version

0.13.5

#### Browser version

Chrome Latest
Firefox Latest

#### Describe the problem or feature request

Creating a basic model with `tf.nn.dynamic_rnn` layer and converting it to browser loads the model in the browser perfectly, but on calling `model.executeAsync` fails. Please see the screenshot below.

#### Code to reproduce the bug / link to feature request

Traini

[2018-11-29 22:36] nsthorat opened #955 "body-pix demo does not work on phones"
The predictions seem to be working but it looks like the overlay is not properly placed on the image.

cc @oveddan

[2018-11-30 05:08] suyash commented on #954
Also, replacing `tf.contrib.rnn.stack_bidirectional_dynamic_rnn` with `tf.contrib.rnn.stack_bidirectional_rnn` and calling `model.execute` instead of `model.executeAsync` results in the same error

[2018-11-30 07:33] kanchenhao commented on #938
@pyu10055 em...yeah, thank you. You can see the project here [pix2pix-with-tfjs](https://github.com/kanchenhao/pix2pix-with-tfjs), and the Frozenmodel.pb is here [FrozenModel.pb](https://github.com/kanchenhao/pix2pix-with-tfjs/blob/master/FrozenModel.pb). Hope you can help me a lot. Thanks again!

[2018-11-30 09:36] astojilj commented on #949
@annxingyuan

On higher-end GPU, proposed way of packing improves performance with DeepLabv3+ MobileNetV2 (large batches with odd number of rows), even in the case then there are no packed reshape operations (master branch doesn't have WEBGL_LAZILY_UNPACK set). I'll need to investigate if the performance improvement comes from simpler unpacking implementation with the new approach.

Note that the

[2018-11-30 10:31] Raza25 commented on #942
@pyu10055 this script flawlessly converts .pb to .json, but in my case the quantized.pb file with size 18 MB was converted to quantized.json with an imprint of 247 MB. This really penalizes the entire struggle for reducing the size.
As any model >50 mb doesn't load in tfjs and the web console dies.
Kindly look into it, would you!

[2018-11-30 12:56] annxingyuan commented on #949
@astojilj

This is extremely interesting - thanks for running these benchmarks. As you noted, I think it will be important to continue to benchmark as more of the library becomes packed. It's difficult to measure performance as so much can depend on which model we're looking at and whether adjacent ops are packed, so I'm not sure I want to make a call when the improvements are relatively modest.

[2018-11-30 15:53] nsthorat opened #956 "Make console.log() in the tfjs-website docs smarter to stringify objects automatically."
Right now we simply set the innerText of the logging div to the value passed to console.log, which makes JSON objects render like this:

`[object Object]`

If we are smarter and detect objects and automatically JSON.stringify() them, we won't have to scatter this throughout the docs.

[2018-11-30 16:13] GreyZzzzzzXh commented on #953
This commit simply changed the version of GLSL so WebGL 1.0 doesn't work now.
Next i'll try to support multiple shading languages with your help and update it in https://github.com/tensorflow/tfjs-core/pull/1421.
Hope that will help you, thanks!

[2018-11-30 20:15] 98mprice commented on #410
Almost December and I'm still having this issue. 😕

[2018-11-30 20:24] caisq opened #957 "Get rid of getScalar() scalar caching in tfjs-layers code base."
No longer necessary given the core does that now.

[2018-11-30 20:43] kangyizhang commented on #952
Hi @asus4  and @justadudewhohacks ,

Yes we do have minimum requirement for webgl. If it's webgl1 it needs to have this extension https://www.khronos.org/registry/webgl/extensions/OES_texture_float/

[2018-11-30 21:48] rthadur commented on #447
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2018-11-30 21:48] #447 closed

[2018-11-30 21:51] rthadur commented on #596
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2018-11-30 21:51] #596 closed

[2018-11-30 21:58] rthadur commented on #785
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2018-11-30 21:58] #785 closed

[2018-11-30 22:11] rthadur commented on #351
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2018-11-30 22:11] #351 closed

[2018-12-01 00:44] pyu10055 commented on #942
@Raza25 the script converts the pb file to json, but the json file cannot be loaded by tfjs, since we don't support loading json frozen model format, it is meant to help to see what nodes the converter generates.
If your goal is to inspect layer information of the converted graph in run-time, unfortunately, the layer information are removed when you freeze the model, but the node name still has la

[2018-12-01 01:18] pyu10055 commented on #938
@nsthorat Can you take a look at the batchNormalization gpu implementation, his model has
mean and variance in the shape of [0], basically both are empty tensors.
The op failed on broadcast check https://github.com/tensorflow/tfjs-core/blob/master/src/kernels/webgl/batchnorm_gpu.ts#L32.

[2018-12-01 02:04] pyu10055 commented on #954
@nsthorat looks like our gather op is fail on following inputs
const x = tf.zeros([1000, 16]);
const indices = tf.ones([1, 8]);
x.gather(indices).print();

In tensorflow, the output is tensor with shape = [1, 8, 16]

[2018-12-01 02:36] kanchenhao commented on #938
@pyu10055 Yes, the frozen model is saved after training. And it's ok when I use the model in python.

[2018-12-01 08:00] Raza25 commented on #942
@pyu10055 my very basic question or you can say 'concern' is how can I simply reduce the size of my keras RNN for seq2seq with footprint of 120 MB to less than 30 MB.
All of the quantization techniques available accept and produces .pb file to work on.
The aforementioned .pb file isn't easy to work on in tfjs.
I just require a way to reduce the model.h5 size, convert the reduced model.h5 to (model

[2018-12-01 12:21] MI-LA01 opened #958 "tensorflowjs-converter / Mask_RCNN : Unsupported Ops in the model before optimization Unique, DenseToDenseSetOperation"
#### TensorFlow.js version
tensorflowjs 0.6.7
Dependency versions:
  keras 2.2.2
  tensorflow 1.12.0

#### Browser version
N/A

#### Describe the problem or feature request
Can't convert a freezed mask_rcnn_coco.pb to tensorflowjs using tensorflowjs-converter

#### Code to reproduce the bug / link to feature request
I first freezed the keras model with :

[code]
The print output_node_names gives :

[2018-12-03 06:13] wukann commented on #952
@kangyizhang
Hi, I'm SONY Xperia A4's owner. My device had the same error.
So I checked the WebGL feature supported by the device at http://webglreport.com/?v=1 .
My device seems to support OES_texture_float...?

![screenshot_20181203-150124](https://user-images.githubusercontent.com/3864473/49356011-81da4100-f70d-11e8-90b4-a6dd3b8500dc.png)

[2018-12-03 08:40] gmatt commented on #545
Workaround:

For me (only) an explicit call to `tf.setBackend("cpu")` fixed the issue.
I put it in the test after the imports.

@tensorflow/tfjs: 0.13.5
jest: 23.6.0
typescript: 3.2.1
node: v11.3.0

[2018-12-03 16:54] #956 closed

[2018-12-03 16:55] nsthorat commented on #957
Small technical detail we don't actually have a cache in core, but scalars are uploaded as uniforms. You should prefer passing TensorLike objects for Scalars where possible (e.g. `tensor.add(1)` over `tensor.add(scalar(1))`).

[2018-12-03 17:17] bileschi commented on #957
@nsthorat How does one handle dtype in a situation like this?   Thanks.

[2018-12-03 17:57] nsthorat commented on #957
If you need ints, you need to make a scalar tensor.

[2018-12-03 18:04] dsmilkov opened #959 "Allow users to pass a list of TypedArray in tf.tensor()"
Allow users to a pass a list of TypedArray in tf.tensor():

[code]

[2018-12-03 18:05] dsmilkov commented on #959
cc @shiffman

[2018-12-03 18:10] bileschi commented on #957
Ok thanks

On Mon, Dec 3, 2018 at 12:57 PM Nikhil Thorat <notifications@github.com>
wrote:

--
Stan Bileschi Ph.D.  |   SWE  |  bileschi@google.com |  617-230-8081

[2018-12-03 18:16] nsthorat commented on #954
@pyu10055 I'm pretty busy right now would this be something you'd be willing to take a look at?

[2018-12-03 18:17] nsthorat commented on #938
Wait, how could this tensor have no shape? Are you sure the model works in Python?

[2018-12-03 21:07] Fil opened #960 "#941 broke tfjs in @observablehq"
https://github.com/tensorflow/tfjs/pull/941 broke tfjs in @observablehq:

before:
`require("@tensorflow/tfjs@0.13.5")`
results in a `tf` object.

after:
`require("@tensorflow/tfjs@0.14.0")`
results in an **"Error: invalid module"** message

See https://beta.observablehq.com/d/4010e96b9684112a

[2018-12-03 21:18] davidpham87 opened #961 "webgl_util.ts: ERROR: 0:193: '=' : cannot convert from 'structure' to 'highp int', ivec6 assigned to int"
To get help from the community, check out our [Google group](https://groups.google.com/a/tensorflow.org/forum/#!forum/tfjs).

#### TensorFlow.js version

13.5

#### Browser version

Version 70.0.3538.110 (Official Build) (64-bit)

#### Describe the problem or feature request

I am trying to running a `saved_model` (a simple style_transfer network) exported from Tensorflow in my browser using my lo

[2018-12-03 21:38] jgartman commented on #961
The problem might be that this sampler doesn't support 5D and 6D tensors yet [https://github.com/tensorflow/tfjs-core/blob/master/src/kernels/webgl/shader_compiler.ts#L1208](https://github.com/tensorflow/tfjs-core/blob/master/src/kernels/webgl/shader_compiler.ts#L1208)

[2018-12-03 21:45] nkreeger opened #962 "Write a Node.js unit test to catch Tensor leaks"
Should be as easy as allocating Tensors - null'ing them and calling `global.gc();`.

[2018-12-03 21:54] davidpham87 commented on #961
Is there anything I did wrongly? :)

[2018-12-03 22:47] nsthorat commented on #300
These tests are taking ~16 seconds on my beefy linux machine, which is a considerable chunk of time.

Any chance we can prioritize this?

[2018-12-03 22:57] tafsiri commented on #960
I suspect it stems from `require('node-fetch')` which results in the same message if one tries to load it directly. It ultimately resolves to https://unpkg.com/node-fetch@2.3.0/browser.js and errors out on the `module.exports` line (saying that module is not defined).

[2018-12-03 23:58] kangyizhang commented on #960
Yes I suspect it's because of rollup configuration of tfjs-data. However I can not reproduce this issue on my local machine. Do you know how I can reproduce this issue with local bundle .min.js file or tarball package?

[2018-12-04 07:38] Fil commented on #960
You can try `require("http://localhost/path/to/tf.min.js")` ; if your browser doesn't let you http on localhost or 127.0.0.1, then you'll need to use an https server (I do that with neocities usually ^^).

[2018-12-04 13:09] bileschi commented on #300
Attempted reducing the size to see if we can get this under 250ms.  It is not really possible within the spirit of the test.  Reducing down to 8x8 is still 580ms.

How about we reduce this 'gramSchmidt-non-tiny' from 32x512 to 16x128, which reduced the time from 2500ms to 800ms on my machine.

FYI.  Simply running compiling and running the test suite, without actually doing any matrix work at all

[2018-12-05 07:51] MI-LA01 commented on #958
Hello @pyu10055, any update on this ?

[2018-12-05 09:38] TommyBs opened #963 "Unable to add issues on tfjs examples repo"
I'm raising this here as I can't seem to add issues to the tfjs examples repo at https://github.com/tensorflow/tfjs-examples/issues - it just redirects to pull requests even though the readme talks about adding issues and has a link to (the redirecting) issues page.

[2018-12-05 10:17] asus4 commented on #952
Xperia Z3 SO-01G also supports `OES_texture_float` according to WebGLReport.

[2018-12-05 11:42] yohacai commented on #434
Like 0.1 + 0.2 = 0.300000000000004?

[2018-12-05 13:40] yohacai opened #964 "predict error, but worked in v0.1.35"
To get help from the community, check out our [Google group](https://groups.google.com/a/tensorflow.org/forum/#!forum/tfjs).

#### TensorFlow.js version
0.14.0
#### Browser version
chrome lastest
#### Describe the problem or feature request
Uncaught (in promise) Error: Nonexistent key: concatenate_71/concatenate_71
#### Code to reproduce the bug / link to feature request
{
            "class_name"

[2018-12-05 14:53] pyu10055 commented on #958
@MI-LA01 We are missing these two ops.
Unique is variable output length op, which would be an async op in tfjs. We currently don't have support for set operations, I will look into prioritize these ops.

[2018-12-05 14:56] #959 closed

[2018-12-05 15:33] VisibleMarkov commented on #940
I would love to give this issue a try if @nsthorat hasn't started working on this already.

[2018-12-05 15:44] caisq commented on #940
@VisibleMarkov Sounds great! I don't think he's working on that AFAIK.

[2018-12-05 15:44] rthadur commented on #963
cc @annxingyuan could you please advise.

[2018-12-05 16:31] caisq commented on #964
@yohacai Thanks for reporting this issue. The JSON you provided doesn't seem to be the whole model JSON. Can you provide the whole model JSON (weights are not needed)?

[2018-12-05 18:40] nsthorat commented on #940
I'm not working on it, go for it!

[2018-12-05 18:47] VisibleMarkov commented on #940
Thanks for the  green flag, will have a PR ready by the end of the day :smile:

[2018-12-05 18:48] annxingyuan commented on #963
Hi @TommyBs - sorry for the confusion - could you please add an issue to the tfjs page? Here's the link: https://github.com/tensorflow/tfjs/issues You can add the comp:examples label to the issue which will help us organize.

Thanks so much!

[2018-12-05 18:48] #963 closed

[2018-12-05 21:44] rthadur commented on #604
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2018-12-05 21:44] #604 closed

[2018-12-05 21:52] rthadur commented on #701
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2018-12-05 21:52] #701 closed

[2018-12-05 22:06] rthadur commented on #671
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2018-12-05 22:08] vmarkovtsev commented on #671
@rthadur What?

[2018-12-05 22:17] rthadur commented on #762
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2018-12-05 23:04] rozim opened #965 "Update FAQ with advice on when to install from NPM"
To get help from the community, check out our [Google group](https://groups.google.com/a/tensorflow.org/forum/#!forum/tfjs).

#### TensorFlow.js version

all

#### Browser version

all

#### Describe the problem or feature request

As a new user reading the docs it says "There are two main ways to get TensorFlow.js in your JavaScript project.. (script tags...NPM)" but since script tags are such a

[2018-12-05 23:19] rthadur commented on #671
@vmarkovtsev  feel free to reopen if this is still an issue .

[2018-12-06 03:51] dsmilkov commented on #454
String tensor and basic functionality added in https://github.com/tensorflow/tfjs-core/pull/1408, thus closing this issue. We can open separate issues per op.

[2018-12-06 03:51] #454 closed

[2018-12-06 03:55] dsmilkov commented on #120
Closing since this is fixed at head.

[2018-12-06 03:55] #120 closed

[2018-12-06 04:02] dsmilkov opened #966 "Relax input dtypes"
To improve UX and make the code less error-prone, allow users to provide different dtypes in binary arithmetic ops (add/sub/mul/div/...) and matmul, just like in numpy.

The dtype of the result is upcasted i.e. matMul(float32, int32) => int32

[2018-12-06 04:48] mbostock commented on #960
I have proposed a fix in tensorflow/tfjs-data#102, but I haven’t rebuilt the top-level tfjs to test.

You can workaround this issue in the meantime by aliasing node-fetch:

[code]

[2018-12-06 06:03] Johannes0Horn opened #967 "TFJS Core Unsupported Op: "stopGradient""
Hello,
I was trying to rewrite a python customLayer in tfjs, but i found out tfjs-core(0.13.11) doesnt support the "stopGradient" Operation yet. Also the current version (0.14.0) does not seem to support it.
If i am right with my assumtion - is there any chance this Operation will be supported soon?

[2018-12-06 08:21] xiaodeaux commented on #739
@rahbari Thanks for your edit pointing out that the software libraries need to be installed as prerequisites. I guess I just glanced over that or ignored it. I'm doing that now and I'm confident that will solve the issue I'm having. I should have read the documentation more closely. ❤👀

[2018-12-06 08:30] yohacai commented on #964
It's an OCR model.But I got different result between tfjs(v0.13.5) and keras.

[2018-12-06 09:13] vmarkovtsev commented on #671
@rthadur I cannot reopen. If a maintainer closes an issue, it's original author does not have the permission. It has always worked this way for all repos on GitHub.

![image](https://user-images.githubusercontent.com/2793551/49573759-11b30180-f93f-11e8-84ae-24e0cf1f65c3.png)

Anyway, I really like how you deal with the issues :+1:

[2018-12-06 14:44] somombo opened #968 "bug: The `tf.all` operation has incorrect behavior in browser in windows 10"
#### TensorFlow.js version
0.14.0

#### Browser version
Tried it on the following browser in Windows 10:
- Chrome 71.0.3578.8
- Firefox 63.0.3 (64-bit)
- Edge 42.17134.1.0

#### Describe the problem
The operation `tf.all([0, 1, 1, 1, 1])` incorrectly results in `1`. This appears to be the case regardless of how many additional ones you had to the input array. However if they are less than 4 ones t

[2018-12-06 16:49] nsthorat opened #969 "Implement FIFOQueueV2 and QueueDequeueUpToV2 in the tfjs-converter."
These are two missing ops that are needed for an external conversion tool.

[2018-12-06 16:58] pyu10055 opened #970 "support dtype int64 in the savedmodel python converter"
To get help from the community, check out our [Google group](https://groups.google.com/a/tensorflow.org/forum/#!forum/tfjs).

#### TensorFlow.js version
0.14.0
#### Browser version

#### Describe the problem or feature request
When supporting https://tfhub.dev/google/universal-sentence-encoder-lite/2, there are constants of type int64, currently write_weight method will error out by saying 'int64

[2018-12-06 17:52] rahbari commented on #739
@nkreeger I hadn't installed CUDA SDK, after installing everything works fine in Intellij.

[2018-12-06 18:48] tafsiri commented on #860
- [ ] Confirm sourcemaps work when using script tags
- [ ] Eliminate parcel warnings about not finding sourcemaps warnings importing tfjs-vis

[2018-12-06 18:49] tafsiri commented on #787
PRs have been merged.

[2018-12-06 18:49] #787 closed

[2018-12-06 18:56] annxingyuan opened #971 "ScatterND on the CPU does not permit valid operations"
Indices shape: [3, 2]
Updates shape: [3, 256]
Output shape: [2, 2, 256]

This throws the error "Invalid indices: 1,0 does not index into 2,2,256"

This operation works in WebGL.

[2018-12-06 19:39] bileschi opened #972 "Export Point2D and input type to 'lineChart' etc. as referenceable types."
To get help from the community, check out our [Google group](https://groups.google.com/a/tensorflow.org/forum/#!forum/tfjs).

#### TensorFlow.js version
0.14.0

#### Browser version
any

#### Describe the problem or feature request
wish to access tfjs-vis types for type safety in tfjs-user code.

#### Code to reproduce the bug / link to feature request
`tfvis.render.linechart(myData, node, {width,

[2018-12-06 19:41] #934 closed

[2018-12-06 22:17] #960 closed

[2018-12-06 22:55] DirkToewe commented on #912
Just in case my comment [PR#1391](https://github.com/tensorflow/tfjs-core/pull/1391#issuecomment-438998123) gets overlooked at some point in the future: The necessary constant is not `EPSILON`, but rather `MIN_VALUE` which does not yet exist in ENV. It might be reasonable to add it.

[2018-12-07 04:56] caisq commented on #964
@yohacai Thanks again for providing the JSON. Sorry for the breakage introduced in 0.14.0. We've opened a pull request to fix the underlying problem (see the PR linked above).

As for different results, I tried running `predict()` on your model with randomly initialized weights, in both Python Keras and TensorFlow.js (Node). I got mostly consistent results (except some small differences that may h

[2018-12-07 05:08] yohacai commented on #964
![image](https://user-images.githubusercontent.com/3947925/49628778-2ec00100-fa21-11e8-9215-6478aa76051d.png)

[2018-12-07 05:08] yohacai commented on #964
tfjs-core@0.14.1

[2018-12-07 10:03] astojilj opened #973 "Support packed BatchToSpaceND and SpaceToBatchND"
For making MobileNetV2 made of only packed operations, it is important to implement BatchToSpaceND and SpaceToBatchND.
It requires implementing packed transpose (up to rank 6) and packed slice.
I have just started work on this.

[2018-12-07 15:09] tafsiri opened #974 "Confusion matrix text color should have enough contrast with background color"
Ideally the text color should be high contrast with the background, this involves flipping the color used from black to white at some threshold of the scale.

[2018-12-07 15:12] caisq commented on #964
@yohacai The fix to the execution ("Nonexistent key") error is still under review in the PR above and hasn't been published yet. The error you showed seems to be unrelated to that issue and may have something to do with your custom linking. Can you wait for the next release of @tensorflow/tfjs, which will have version number 0.14.1? Thanks.

[2018-12-07 15:41] #972 closed

[2018-12-07 16:21] #964 closed

[2018-12-07 17:09] VisibleMarkov commented on #940
Opened tensorflow/tfjs-core#1430, awaiting review :smile:

[2018-12-07 19:33] tafsiri opened #975 "investigate making/hosting nicer looking docs for tfjs-vis."

[2018-12-07 20:03] #916 closed

[2018-12-07 20:03] #974 closed

[2018-12-07 21:41] caisq commented on #964
@yohacai The issue should have been fixed in the just released 0.14.1 (https://www.npmjs.com/package/@tensorflow/tfjs). I tested loading your model (with random weights) and running predict() on it in the browser. The result I got for an all-one input seems to match the result from Python Keras.

Please give it a try and let me know if it works.

[2018-12-07 23:46] rthadur commented on #968
@somombo  tried to reproduce the issue but it gave me 0 both time.

[2018-12-08 00:40] Soufiane-Fartit commented on #798
![capture du 2018-12-08 01-37-34](https://user-images.githubusercontent.com/45259011/49679214-0ae4d580-fa8a-11e8-9f50-06a021fed17e.png)

I had the problem using this command:
                  loaded_model = model_from_json(loaded_model_json)

but when I add (tf.keras.models.):
                  loaded_model = tf.keras.models.model_from_json(loaded_model_json)

it works just fine

[2018-12-08 01:29] pimdewit opened #977 "tfjs-core.fromPixels to support ImageBitmap"
#### TensorFlow.js version
`"@tensorflow/tfjs": "0.14.0"`

#### Describe the problem or feature request
It would be nice to have `tf.fromPixels()` support [ImageBitmap](https://developer.mozilla.org/en-US/docs/Web/API/ImageBitmap) to provide more flexibility when dealing with complex graphics.

[2018-12-08 02:30] somombo commented on #968
@rthadur that's odd..
I have also tried in Firefox, Edge and Chrome. I'm using windows 10.

For what it's worth, here is a screenshot of what i'm seeing

![image](https://user-images.githubusercontent.com/5506400/49680830-f90f2c80-faa1-11e8-843d-19887318d84d.png)

[2018-12-08 04:16] caisq commented on #964
@yohacai Since the result mismatch issue isn't directly related to this issue anymore, can you do the following if you want to work with us to debug the mismatch?
1. Open a new issue
2. Provide a .h5 file that contains both the model config and weights for us to convert. Or equivalently, provide the model.json and weight files in the TF.js format.
3. Describe the input you use and the mismatch in

[2018-12-08 15:48] vergilijus commented on #841
Same problem. This [link](https://groups.google.com/a/tensorflow.org/forum/#!topic/tfjs/9kFfJX0_qCA) might be helpful.
tldr: That error was happening in the post processing node. You can follow instruction [here](https://github.com/tensorflow/tfjs-models/tree/master/coco-ssd#technical-details-for-advanced-users) and cut post processing node, then do post processing manually.

[2018-12-08 22:50] aditya1702 commented on #798
@Soufiane-Fartit I am still getting this error in tensorflow-js. Do you how to solve this?

[2018-12-08 23:31] Soufiane-Fartit commented on #798
@aditya1702  I'm sorry to disappoint, but I'm still a beginner and don't know much

[2018-12-09 02:51] caisq commented on #798
@aditya1702 Can you share the following info
1) The version of keras or tensorflow that you used to generate the saved model from the Python side (I assume you've exported model from Python)
2) The version of TensorFlow.js you are using
3) The exact error message you are getting and the line of JavaScript code executing when that error happens
4) Ideally, share the model JSON (before and after con

[2018-12-10 00:48] somombo commented on #968
@rthadur after asking around, a friend who has a mac machine and and one with linux ... it appears those OS's are working fine. However, another friend was able to consistently reproduce this issue on windows 10

[2018-12-10 02:32] sblabms opened #978 "tf.all() fails on Chrome on Windows for every 4 elements added to a 1D boolean tensor"
Using Chrome Version 71.0.3578.80 (Official Build) (64-bit) in Windows 8

Start with a boolean 5 element 1D tensor. tf.all fails. Keep adding a 0 element. You will find that tf.all fails for every 4 elements (9, 13, 17, 21...) added to the 1D tensor. See image.
![tfallfailinchromeonwindows](https://user-images.githubusercontent.com/20588611/49707426-d6d7f480-fbf0-11e8-8704-cadc8fd965b1.png)

[2018-12-10 07:12] sblabms commented on #968
Bug confirmed!
Also: tf.all() fails on Chrome on Windows for every 4 elements added to a 1D boolean tensor.

Using Chrome Version 71.0.3578.80 (Official Build) (64-bit) in Windows 8:

Start with a boolean 5 element 1D tensor. tf.all fails. Keep adding a 0 element. You will find that tf.all fails for every 4 elements (9, 13, 17, 21...) added to the 1D tensor. See image.
![tfallfailinchromeonwindows

[2018-12-10 07:14] #978 closed

[2018-12-10 07:15] sblabms commented on #978
found previous report on bug - goto #978

[2018-12-10 07:17] somombo commented on #978
closed. Is duplicate of #968

[2018-12-10 07:32] somombo commented on #968
wow thanks for finding that as well @sblabms, this is quite peculiar! So to be clear, it works fine if there are any other numbers of zeros except those consistent with that arithmetic sequence. So for example [1,0,0,0,0,1] (for zeros) works and so does [1,0,0,0,0,0,0,0,0,1] (eight zeros) passes the test

[2018-12-10 16:17] nsthorat opened #979 "Provide a utility to get the non-flattened Tensor data"
There have been a few requests for this, namely: https://stackoverflow.com/questions/49646291/get-data-from-2d-tensor-with-tensorflow-js

[code]

Basically have some method that would return the nested array.

[2018-12-10 17:11] caisq commented on #21
Working on this issue now

[2018-12-10 19:22] caisq opened #981 "tfjs-layers API should support SymbolicTensors as RNN initial states"
* Currently only concrete Tensors are supported as RNN initial states

[2018-12-10 19:22] caisq commented on #981
This feature is required by attention models.

[2018-12-10 20:06] dsmilkov opened #982 "Allocate nearest largest texture in WebGL texture manager"
Right now the WebGL texture manager reuses textures whose shape matches exactly, however to increase texture reuse, we should relax this constraint and reuse parts of  existing textures.

This means that the texture manager should return the nearest largest texture that can fit the requested size.

[2018-12-10 20:06] dsmilkov commented on #982
cc @nsthorat @annxingyuan

[2018-12-10 20:12] dsmilkov opened #983 "Update sizeToSquarish to do approximate rectangles"
When we request a tensor with dimensions that are larger than the WebGL limit, we factorize that tensor into a rectangular grid that has the exact size as the requested size.

This means that tensors with size that factorizes into `SMALLER_FACTOR x LARGER_FACTOR` can't be allocated if `LARGER_FACTOR` doesn't fit the WebGL limit. This happens for prime numbers, but also generally for large tensors.

[2018-12-10 20:13] dsmilkov commented on #983
cc @nsthorat @annxingyuan

[2018-12-10 20:22] kangyizhang opened #1006 "UTF-8 decoder reach Maximum call stack size with large csv file"
in a node example of parsing csv file (https://github.com/kangyizhang/abalone-test), it got error of

(node:86070) UnhandledPromiseRejectionWarning: RangeError: Maximum call stack size exceeded
    at Utf8IteratorImpl.<anonymous> (/usr/local/google/home/kangyizhang/tensorflow/abalone/node_modules/@tensorflow/tfjs-data/src/iterators/byte_chunk_iterator.ts:129:58)
    at step (/usr/local/google/home