[2018-03-19 15:41] tafsiri opened #8 "Add deeplearn migration guide"
An MD file with instructions on how to migrate from deeplearn 0.5 and up

[2018-03-19 20:19] nsthorat opened #9 "Investigate calling tf.nextFrame() in model.fit() between batches."
Calling tf.nextFrame() in a browser context will release the UI thread so the page can be responsive. This should have no impact on performance for medium-large sized models, though will negatively impact small models (where forward / backprop is < 16ms).

Some benchmarks from @cais

## No tf.nextFrame() (today)
![image](https://user-images.githubusercontent.com/1100749/37559540-5b20a0c2-29fe-11e8

[2018-03-19 20:23] nsthorat opened #10 "Remove underscore as a dependency."
Underscore is unneeded, we can achieve the same thing with native browser APIs. Underscore adds ~15k to unminified bundle size.

This can be punted to after launch.

https://bundlephobia.com/result?p=underscore@1.8.3

[2018-03-21 14:47] tafsiri opened #13 "Support exporting model weights from browser"

[2018-03-21 21:15] caisq opened #15 "Move sign() and qr() from layers to core"

[2018-03-22 01:12] tafsiri opened #16 "Pacman demo static build"
@nsthorat How can i build the pacman demo (https://github.com/tensorflow/tfjs-layers/tree/master/demos/pacman) into a static bundle? I tried using watch-demo in that repo but couldn't get it to work. I also don't know if that produces a final bundle or not.

[2018-03-27 17:40] caisq opened #19 "Implement tf.layers.dot() for 4D (Dot Merge Layer)"
The PyKeras code is at: https://github.com/keras-team/keras/blob/master/keras/layers/merge.py#L408

[2018-03-27 17:42] caisq opened #20 "Support training mode in BatchNormalization"

[2018-03-27 17:43] caisq opened #21 "Implement masking support"
Currently, none of the tf.layers.* Layers support masking.

[2018-03-27 17:43] caisq opened #22 "Support input constants in recurrent Layers"

[2018-03-27 17:44] caisq opened #23 "Support Stateful RNN Layers"
tf.layers.rnn currently does not support stateful RNN layer subtypes.

[2018-03-27 17:46] caisq opened #24 "Support internal dropout in RNN cells"
This includes SimpleRNN, GRUCell and LSTMCell.

[2018-03-27 17:47] caisq opened #25 "Support loss and sample weighting in Model.fit()"
Currently, loss and sample weighting are not supported by Model.fit() yet.

[2018-03-27 17:48] caisq opened #26 "Implement sparse metrics in layers metrics"
Including
- ~~sparseCategoricalAccuracy~~
- ~~sparseCategoricalCrossentropy~~
- sparseTopKCategoricalAccuracy

[2018-03-27 17:49] caisq opened #27 "Add missing layers metric: topKCategoricalAccuracy"
- ~~binaryCrossentropy~~
- ~~categoricalCrossentropy~~
- topKCategoricalAccuracy

[2018-03-27 17:52] caisq opened #28 "Support serialization of optimizers and models with training information"
In tfjs, optimizers do not support serialization yet. Their getConfig() methods need to be implemented yet. Then models can be serialized (`saveModel()`) with training information.

[2018-03-27 17:55] caisq opened #29 "Support random seeds in tf.initializers"

[2018-03-29 03:57] davidsoergel opened #34 "Uniqueified Tensor names break tf.loadModel()"
If I do tf.loadModel() twice within one session, the second time fails.  The reason is that the Tensor names on the second load are uniqueified, e.g. my_tensor => my_tensor_1, so the new Tensor names no longer match the keys in the weights manifest.

[2018-03-29 17:55] #16 closed, assigned to nsthorat

[2018-03-30 17:13] lastmjs opened #36 "Node.js bindings to C API"
I'm just wondering where that work will be taking place so that I can follow it

[2018-03-30 18:03] faroit opened #37 "pytorch model loader"
deeplearn.js supported some level of conversion of pytorch models [via python scripts](https://github.com/PAIR-code/deeplearnjs-legacy-loader/blob/master/python/pytorch_checkpoint_dumper.py)

Will this functionality be ported to tfjs or is this out of scope now that the framework is aiming for a tensorflow only solution?

[2018-03-30 18:23] bileschi commented on #36
There is not a separate location for this, other than what is mentioned in the [FAQ](https://js.tensorflow.org/faq/).  We can use this issue to track developments.

[2018-03-30 23:33] caisq commented on #36
cc @nkreeger

[2018-03-31 02:35] silky commented on #8
so does this library supercede deeplearn js?

[2018-03-31 04:05] tehZevo opened #38 "Add "repeat" op & gradients / tf.image.resizeBilinear gradients"
### TensorFlow.js version
0.6.1

### Browser version
Chrome 56.0.2924.87 (Electron 1.6.11)

### Feature request
I'm interested in building convolutional generative networks / autoencoders, and am looking for a way to upsample tensors. However, tf.image.resizeBilinear doesn't seem to have its gradient implemented yet, and I couldn't find an element-wise "repeat" op to use in its place.

Having thes

[2018-03-31 06:55] zixia commented on #13
+1

[2018-03-31 07:57] QuantumInformation commented on #13
No +1's please

[2018-03-31 07:58] QuantumInformation commented on #8
Yes

[2018-03-31 10:07] QuantumInformation commented on #8
I changed a simple project from deeplearn to tfjs here:
https://github.com/QuantumInformation/tensorflowjs-playground/commit/ff5a848c103e9a342540a75165b77afc1d428a5f

[2018-03-31 10:11] zandaqo commented on #36
PropelML has [bindings](https://github.com/tensorflow/tfjs/issues/36) for the C API. I am not very cognizant of the APIs in question, but I assume there is a significant overlap since PropelML depends on deeplearn.js. Maybe some cooperation will help to speed this up?

[2018-03-31 11:01] jart commented on #36
I did some analysis on how to build NodeJS bindings for TensorFlow in this https://github.com/tensorflow/tensorflow/issues/37#issuecomment-375933243.

Please take into consideration that Node was not designed for CPU bound operations. Last time I checked, there's no threads in Node, so there's also no C++ GIL unlock like Python. Yes, Node can serve static content to 10k HTTP sockets simultaneously

[2018-03-31 11:21] zandaqo commented on #36
That's V8's limitations, not Node.js in general. Node's C++ addons can use multithredding and most everything else C++ provides. The only overhead here is shuffling data between native addon and JavaScript.

[2018-03-31 11:31] jart commented on #36
Node is actually capable of capable of computing anything that's computable. Sometimes it's a good idea to have the C++ code talk to Node using stdio.h or Berkeley Sockets.

[2018-03-31 16:27] dsmilkov commented on #8
We have migration instructions in our release notes: https://github.com/tensorflow/tfjs-core/releases/tag/v0.6.0. I can add a sentence in the README.md to point to that.

[2018-03-31 16:38] #8 closed

[2018-03-31 17:28] dsmilkov opened #41 "Enable Travis in tf-layers"
See https://github.com/tensorflow/tfjs/pull/40 for reference (sets up Travis for the union package)

[2018-03-31 18:03] QuantumInformation commented on #8
I made a simple video of my migration experience

https://www.youtube.com/watch?v=ZjneMYde3Mo

[2018-03-31 18:41] tambry opened #42 "IPv6 support"
Unlike [the Tensorflow website](https://www.tensorflow.org) itself, [the website for Tensorflow.js](https://js.tensorflow.org) is inaccessible over IPv6.

[2018-03-31 22:02] wizardfishball opened #43 "Typo in BatchNormalization layer?"
#### TensorFlow.js version
           "@tensorflow/tfjs-layers": "0.1.2"

#### Describe the problem or feature request
          https://github.com/tensorflow/tfjs-layers/blob/master/src/layers/normalization.ts#L228
          In the `normalizeInference()`, current code is `const broadcastGamma = this.center ? K.reshape(this.gamma.read(), broadcastShape) : null;`
          it differs from the imple

[2018-03-31 22:28] dsmilkov commented on #42
Moved the issue to the tfjs-website: tensorflow/tfjs-website/issues/107

[2018-03-31 22:28] #42 closed

[2018-03-31 22:41] nsthorat commented on #8
Awesome stuff, hope it wasn't painful :)

[2018-03-31 23:17] nsthorat commented on #37
We're not planning on supporting pytorch in the immediate future, however there is a path to use the old checkpoint loader with pytorch.

The legacy loader with the pytorch weight-dumper script can be used: https://github.com/PAIR-code/deeplearnjs-legacy-loader

The legacy loader currently depends on deeplearn, so you're going to have a dependency problem for the JS (the python will still work).

[2018-03-31 23:30] George35mk opened #44 "NPM Support"
If you would like to get help from the community, our [Google
group](https://groups.google.com/a/tensorflow.org/forum/#!forum/tfjs) might be a
better fit.

#### TensorFlow.js version

#### Browser version

#### Describe the problem or feature request

#### Code to reproduce the bug / link to feature request

[2018-03-31 23:31] George35mk commented on #44
Support

[2018-03-31 23:31] #44 closed

[2018-04-01 00:11] lutzroeder opened #45 "Model zoo for TensorFlow.js visualizer"
The [Netron](https://www.github.com/lutzroeder/Netron) visualizer now supports **TensorFlow.js** (`model.json`, `.pb`) files.

Is there a model zoo or set of models to test this with?

<img width="1385" alt="netron" src="https://user-images.githubusercontent.com/438516/38168618-6399cedc-3506-11e8-85c8-0c405215bb39.png">

[2018-04-01 02:54] caisq commented on #45
@lutzroeder Thanks for this question. TensorFlow.js can currently load models from keras (hence model.json) and tensorflow (hence .pb). Are there any existing model zoos for (python) keras and tensorflow models? If so, I guess I don't fully understand why we need a separate zoo for TensorFlow.js.

On the flip side, it is currently possible to export the topology of TensorFlow.js models in the kera

[2018-04-01 04:02] hpssjellis opened #46 "Did you guys just deprecate dl.version?"
As per the title, mIght be a good idea to make a tf.version

[2018-04-01 04:13] dsmilkov commented on #46
We already have a tf.version but it returns an object with keys 'tfjs', 'tfjs-core', and 'tfjs-layers' that map to versions, since each of those have their own versions.

Feel free to reopen if I misunderstood the question.

[2018-04-01 04:13] #46 closed

[2018-04-01 04:19] tehZevo commented on #38
Awesome to hear about resizeBilinear gradient! As for repeat, I was looking for an op that would perform an element-wise repeat (https://github.com/tensorflow/tensorflow/issues/8246), eg: repeating
[code]
with `[2, 2]` would yield:
[code]
I was going to use that as an upsampling op to match the `tf.maxPool()`s on the other side of my autoencoder.

Slightly related: I attempted implementing the sol

[2018-04-01 04:28] hpssjellis commented on #46
Sounds good.

[2018-04-01 15:34] #43 closed

[2018-04-01 20:28] faroit commented on #37
Thanks a lot for the pointer. I will try that.

[2018-04-01 20:28] #37 closed

[2018-04-01 20:33] George35mk opened #47 "Property 'print' does not exist on type 'Tensor<Rank>[]'."
If you would like to get help from the community, our [Google
group](https://groups.google.com/a/tensorflow.org/forum/#!forum/tfjs) might be a
better fit.

#### TensorFlow.js version
0.6.1

#### Browser version

#### Describe the problem or feature request
I use Typescript environment (Angular 5)

I trying to run this code from the`https://js.tensorflow.org/#getting-started`

[code]

![3](https://

[2018-04-01 23:50] dsmilkov commented on #47
Hi @George35mk

We wrote that example for es6 javascript. For typescript, since predict() can return either a `Tensor`, or `Tensor[]`, depending on how many outputs your model has, you have to notify the compiler which one it is:
[code]

Hope this helps!

[2018-04-02 00:58] #41 closed

[2018-04-02 07:48] George35mk commented on #47
Thank you @dsmilkov for your fast response. and for the beautiful javascript library you created with your team.

[2018-04-02 07:48] #47 closed

[2018-04-02 10:25] QuantumInformation commented on #8
Piece of cake

[2018-04-02 15:34] hpssjellis opened #50 "IRIS online Demo not loading resource"
Is anyone else having issues with the IRIS online demo?
Demo at

https://storage.googleapis.com/tfjs-examples/iris/dist/index.html

Github at
https://github.com/tensorflow/tfjs-examples/tree/master/iris

The error I get is

Failed to load resource: the server responded with a status of 404

[2018-04-02 15:51] nsthorat commented on #50
Thanks for filing this. It should be fixed on GCS now, I sent a PR to fix it:

https://github.com/tensorflow/tfjs-examples/pull/48

[2018-04-02 16:01] davidsoergel commented on #45
Yep, the question of standardizing the serialization format is under active discussion.  The current model.json should be considered a TF.js implementation detail for now.  Good point about the file extension, thanks!

[2018-04-02 16:33] #50 closed

[2018-04-02 18:39] hpssjellis commented on #50
Looks good. Thanks.

[2018-04-02 19:55] dsmilkov opened #51 "yarn test fails"
_From @dsmilkov on April 2, 2018 14:57_

Cloned the repo at master. Ran `yarn` and `yarn test` and got:
[code]

_Copied from original issue: tensorflow/tfjs-converter#69_

[2018-04-02 19:56] dsmilkov opened #52 "Add tf.layers.conv2d_transpose support in SavedModel converter"
_From @carlthome on April 2, 2018 10:32_

I'm working on a CycleGAN project which relies on strided convolutions (as do most GANs, and many other models). It's written in TensorFlow's Python API with `tf.layers.conv2d_transpose`.

I saw that TensorFlow.js has [transposed strided convolutions](https://js.tensorflow.org/api/latest/#conv2dTranspose) but when converting the SavedModel with tensorflowj

[2018-04-02 19:56] dsmilkov commented on #52
_From @nsthorat on April 2, 2018 13:32_

Ping, can you take a look?

[2018-04-02 19:57] dsmilkov opened #53 "Add Support for Deconvolution Layer for Keras model"
_From @clover113 on April 2, 2018 8:9_

Currently, when converting keras model with deconvolution2d layer, the converter went fine. However, when importing the model in Tensorflow.js, it outputs "Error: Unknown layer: Conv2DTranspose".
Also, conv2dtranspose is supported in tensorflow.js.

_Copied from original issue: tensorflow/tfjs-converter#67_

[2018-04-02 19:57] dsmilkov commented on #53
_From @carlthome on April 2, 2018 9:56_

Similarly when going through the SavedModel converter with [`tf.layers.conv2d_transpose`](https://www.tensorflow.org/api_docs/python/tf/layers/conv2d_transpose) you'll end up with
[code]

[2018-04-02 19:57] dsmilkov commented on #53
_From @clover113 on April 2, 2018 9:59_

Yeah, it seems that tensorflow.js's support for layers is too limited. But it is not good not to have Conv2dTransposed layer.

[2018-04-02 19:57] dsmilkov commented on #53
_From @nsthorat on April 2, 2018 13:37_

@caisq can we add this layer next? The op exists in core in forward mode (we'll eventually get to the backprop for it but it's non-trivial).

[2018-04-02 19:57] dsmilkov commented on #53
_From @caisq on April 2, 2018 13:58_

@clover113 Thanks for filing the bug! We can add this layer, but it'll support inference first, without supporting training because the gradients for conv2DTranspose is still missing.

[2018-04-02 19:58] dsmilkov opened #54 "Add a link to keras model porting instructions."
_From @nsthorat on March 30, 2018 13:12_

The description of this repo is "port savedmodel and keras" but we dont link to instructions for keras porting:

https://js.tensorflow.org/tutorials/import-keras.html

_Copied from original issue: tensorflow/tfjs-converter#61_

[2018-04-02 19:58] dsmilkov opened #55 "Handling of Assert Ops ?"
_From @rodrigob on March 21, 2018 20:11_

The SavedModel I am trying to convert generated, amongst others; the following message:

I am wondering if tfjs-converted should not simply ignore Assert ops, and at best generate a warning rather than an error ? (I guess the same would go for Print ops)

_Copied from original issue: tensorflow/tfjs-converter#42_

[2018-04-02 19:58] dsmilkov commented on #55
_From @pyu10055 on March 21, 2018 20:50_

The Assert op is a control flow op which requires run-time eval of the tensor, which will be my goal to support with other control op (merge, switch, ...).
Can you tell what is your use case for Assert in inference mode, do you expect an error, or it is a by-product of the training setup?

[2018-04-02 19:58] dsmilkov commented on #55
_From @pyu10055 on March 21, 2018 23:46_

I notice Assert is usually accompanied by Switch op, does your model only have the Assert op unsupported? If so, do you mind sharing the model, so I can investigate a bit more. Thanks.

[2018-04-02 19:58] dsmilkov commented on #55
_From @pyu10055 on March 31, 2018 18:2_

We believe that the Assert op should not exist in the inference graph, we will remove the assert and other debug nodes from the graph during the conversion phase.

[2018-04-02 19:58] dsmilkov opened #56 "support Tensorflow branch control flow ops"
_From @pyu10055 on March 14, 2018 20:37_

merge https://www.tensorflow.org/versions/r1.2/api_docs/cc/class/tensorflow/ops/merge
switch https://www.tensorflow.org/versions/r1.2/api_docs/cc/class/tensorflow/ops/switch

_Copied from original issue: tensorflow/tfjs-converter#25_

[2018-04-02 19:58] dsmilkov opened #57 "A list of prereqs could be handy"
_From @sgserg on April 2, 2018 17:16_

Examples work neither on OSX 10.9 (errors out on unsupported node version)
nor in iOS 11:

![beb1db23-6dcf-4596-b6cb-7a8966edc864](https://user-images.githubusercontent.com/5439847/38206449-2058728c-36b3-11e8-965c-f8b599a7fe50.jpeg)

_Copied from original issue: tensorflow/tfjs-examples#49_

[2018-04-02 19:58] dsmilkov opened #58 "Improve browser support by changing fetch mode arraybuffer?"
_From @thebillkidy on April 2, 2018 8:43_

Hi,

So I tried to run the mnist example in firefox and instantly got the error on the 'arraybuffer' mode while using fetch (see: https://github.com/tensorflow/tfjs-examples/blob/master/mnist-core/data.js#L87).

Wouldn't it be better to change this code to:

[code]

Happy to make a pull request if required :)

_Copied from original issue: tensorflow/tfjs-

[2018-04-02 19:59] dsmilkov opened #59 "Pac-Man demo should disable training until there are training images. Also better explain what to do."
_From @kspviswa on March 30, 2018 19:34_

I tried to clone `tfjs-examples`, installed `yarn` using `homebrew` and did `yarn build` & `yarn watch` to try the **pac-man** demo.

However when I attempt to **train**, I'm hit with below error in console.

![screen shot 2018-03-30 at 12 32 09 pm](https://user-images.githubusercontent.com/7476271/38151050-9259eda6-3416-11e8-81dc-36fcb01d06ea.png)

_Copie

[2018-04-02 19:59] dsmilkov commented on #59
_From @tafsiri on March 30, 2018 19:45_

Hi @kspviswa could you give us a bit more system information? What version of crhome and what version of mac os?

Did recording of the samples otherwise work?

[2018-04-02 19:59] dsmilkov commented on #59
_From @kspviswa on March 30, 2018 20:13_

I'm using macOS sierra 10.12.5 . Chrome ver Version 65.0.3325.181 (Official Build) (64-bit).
4 GB RAM, 8 CPU.

Whenever hit **train** , am hit with error. What do you mean by "recording of the samples" ?

[2018-04-02 19:59] dsmilkov commented on #59
_From @davidsoergel on March 30, 2018 20:15_

Aha, perhaps the UI is not clear enough: before hitting train, you need to first record images of yourself looking up, down, left, and right (or pointing, etc.) by clicking in the squares next to each control button.  Holding the mouse button down collects multiple images.  We see good performance with ~40 each.  Those images are the training data; onc

[2018-04-02 19:59] dsmilkov commented on #59
_From @davidsoergel on March 30, 2018 20:17_

Confirmed if you click train without first collecting training images, you get the above error.

[2018-04-02 19:59] dsmilkov commented on #59
_From @kspviswa on March 30, 2018 21:5_

It is taking lot of time to record just 10 samples. Also I'm getting "unresponsive notification" while moving to next direction.

Why does recording takes lot of time? AFAIK it just samples input stream and store an image rite?

Isn't 4GB enough for this example ?

[2018-04-02 19:59] dsmilkov commented on #59
_From @nsthorat on March 31, 2018 16:41_

When you're actually recording we're passing it through MobileNet and storing the activation, which helps with the memory footprint as well as time to train.

What do you mean by moving to next direction?

[2018-04-02 19:59] dsmilkov opened #60 "Examples should generate ES6+ code."
_From @nsthorat on March 16, 2018 19:57_

It would be nice to have examples generate ES6+ code so we can actually debug and not deal with async/await polyfills which make the call stack quite muddled.

_Copied from original issue: tensorflow/tfjs-examples#14_

[2018-04-02 19:59] dsmilkov commented on #60
_From @QuantumInformation on March 31, 2018 8:33_

Aren't ts sourcemaps good enough?

[2018-04-02 20:00] dsmilkov opened #61 "I can't download this file"
_From @ithjz on April 2, 2018 2:36_

https://code.getmdl.io/1.3.0/material.orange-deep_purple.min.css

_Copied from original issue: tensorflow/tfjs-core#917_

[2018-04-02 20:00] dsmilkov opened #62 "demos broken on master"
_From @physicsrob on March 30, 2018 17:54_

Demos are broken on master after moving some of the files out of the repo.  Also the 'yarn prep' command is gone, which means users need to run yarn from the root directory and the demos directory, which I don't think is particularly obvious.

I'm sure this is part of the big shuffle and will be resolved shortly.

One question:  Is there any sort of slac

[2018-04-02 20:00] dsmilkov commented on #62
_From @tafsiri on March 30, 2018 18:52_

Yes we will generally be removing demos from this repo, possibly porting some to @tensoflow/tfjs-examples (we want to centralize demos/examples there as much as we can). Some of the demos use now deprecated APIs so they might come back in future, but we'll look at this case by case.

Definitely hear you on the benchmarks keeping benchmarks available. We als

[2018-04-02 20:00] dsmilkov commented on #62
_From @QuantumInformation on March 30, 2018 20:5_

@tafsiri We also have a discord server where people can get real-time info and interaction on tfjs.

https://discord.gg/64MVzQX

[2018-04-02 20:00] dsmilkov opened #63 "web cannot access local file."
_From @cyilu on March 29, 2018 3:38_

As the security of web, it can't access local file. Therefore, it's difficult to train in the js.

Any help will be appreciated！

_Copied from original issue: tensorflow/tfjs-core#908_

[2018-04-02 20:00] dsmilkov commented on #63
_From @tafsiri on March 29, 2018 12:58_

You may need to set up a local server to serve your files. Take a look at https://developer.mozilla.org/en-US/docs/Learn/Common_questions/set_up_a_local_testing_server

[2018-04-02 20:00] dsmilkov commented on #63
_From @cyilu on March 30, 2018 3:3_

@tafsiri Yes, thank you! But it means that I can use local file in the browser?

[2018-04-02 20:00] dsmilkov commented on #63
_From @tafsiri on March 30, 2018 14:12_

Yes

[2018-04-02 20:00] dsmilkov opened #64 "MobileNet does not return activations as commented"
_From @jaxball on March 28, 2018 17:18_

`models/squeezenet` has a `predictWithActivation` function that returns both named activation and pre-softmax logits. `models/mobilenet` only has a `predict` function which returns a 1D tensor, but its function comment appears identical to that for SqueezeNet, stating that

Infer through MobileNet, assumes variables have been loaded. This does standard Imag

[2018-04-02 20:00] dsmilkov opened #65 "Starter Project links broken"
_From @kriptontr on March 28, 2018 15:51_

Starter project links at homepage   are broken
https://deeplearnjs.org/index.html#demos
https://github.com/PAIR-code/deeplearnjs/tree/master/starter/es6/
https://github.com/PAIR-code/deeplearnjs/tree/master/starter/typescript/

_Copied from original issue: tensorflow/tfjs-core#906_

[2018-04-02 20:01] dsmilkov opened #66 "License comment is missing in the main JS file (dist/index.js)"
_From @kimamula on March 28, 2018 9:10_

Including license comment into the main JS file would make it easier for TensorFlow.js users to include it into their own build.

_Copied from original issue: tensorflow/tfjs-core#904_

[2018-04-02 20:01] dsmilkov opened #67 "Add support for additional random tensors"
_From @jgartman on March 28, 2018 1:17_

TensorFlow.js currently supports tensors of random samples drawn from normal, truncated normal or uniform distributions and it looks like multinomial sampling is being added back to the api soon.  Tensorflow’s random_ops supports all of these as well as the [poisson](https://www.tensorflow.org/api_docs/python/tf/random_gamma), and [gamma](https://www.tensor

[2018-04-02 20:01] dsmilkov opened #68 "Why parseGrayscaleImageData and parseRGBImageData of xhrdataset have the same function?"
_From @cyilu on March 27, 2018 6:41_

I think these two function are alike:
`
  function parseGrayscaleImageData(
    data: Uint8Array|Uint8ClampedArray, result: Uint8Array,
    resultOffset: number): void {
  let idx = resultOffset;
  for (let i = 0; i < data.length; i += 4) {
    result[idx++] = data[i];
  }
}

function parseRGBImageData(
    data: Uint8Array|Uint8ClampedArray, result: Uint8Arra

[2018-04-02 20:01] dsmilkov commented on #68
_From @nsthorat on March 27, 2018 14:10_

The functions are slightly different, one is parsing a grayscale image (just parsing red channel), and the other is parsing the fully packed RGB byte array. Notice the inner for loop is different.

[2018-04-02 20:01] dsmilkov commented on #68
_From @cyilu on March 28, 2018 6:13_

@nsthorat But the "data" is 1d array. Therefore, "data" to "result" is 1d array to 1d array. Isn't it？

[2018-04-02 20:01] dsmilkov commented on #68
_From @nsthorat on March 28, 2018 15:29_

ImageData is always a flat array, you can check out the docs here: https://developer.mozilla.org/en-US/docs/Web/API/ImageData

[2018-04-02 20:01] dsmilkov commented on #68
_From @cyilu on March 29, 2018 2:32_

@nsthorat Yes, I think these tow function  all transfer a flat array to a flat array.

[2018-04-02 20:01] dsmilkov opened #69 "tf.keep() does not work for nested tidy()s."
_From @nsthorat on March 25, 2018 20:35_

Specifically this does not work if you are trying to keep a Tensor allocated in a parent tidy().

[code]
_Copied from original issue: tensorflow/tfjs-core#897_

[2018-04-02 20:01] dsmilkov opened #70 "Implement tensor.round"
_From @nbardy on March 24, 2018 20:24_

`dl.floor` and `dl.ceil` are implemented `round` is missing.

_Copied from original issue: tensorflow/tfjs-core#894_

[2018-04-02 20:01] dsmilkov opened #71 "Implement the gradient for depthwiseConv2d."
_From @nsthorat on March 24, 2018 18:0_

Currently we don't have the gradient written. It should be strictly easier than conv2d, so should be easy.

This is important for training in browsers where compute is limited.

_Copied from original issue: tensorflow/tfjs-core#892_

[2018-04-02 20:01] dsmilkov opened #72 "How to use function "XhrDataset" and dl.util?"
_From @cyilu on March 24, 2018 13:16_

I need the complete usage about "XhrDataset". And how to use what "XhrDataset" returns.

And how to use dl.util. If somewhere has the complete information, could you get me a link?

Any information about this is much appreciated!

_Copied from original issue: tensorflow/tfjs-core#891_

[2018-04-02 20:02] dsmilkov opened #73 "Inconsistencies with TensorFlow when passing a single tensor to concat and stack."
_From @adarob on March 23, 2018 21:44_

In TF these are handled silently (returning the input tensor), while in DL.js I get:
Uncaught (in promise) Error: Pass at least two tensors to concat

_Copied from original issue: tensorflow/tfjs-core#888_

[2018-04-02 20:02] dsmilkov opened #74 "Importing Tensorflow Model - get_tensor_by_name"
_From @Neuroforge on March 23, 2018 2:11_

Hello,

When using an imported Tensorflow model is there a set of comparable instructions?

For instance, if in Python with Tensorflow you use get_tensor_by_name to return a tensor.

Is there a comparable approach in deepleanjs once you've imported the model?

Regards,

Daniel

_Copied from original issue: tensorflow/tfjs-core#885_

[2018-04-02 20:02] dsmilkov commented on #74
_From @nsthorat on March 23, 2018 19:38_

Once you've imported the model the name that's used in get_tensor_by_name from TensorFlow should be the same name you use from the response of the CheckpointLoader call.

[2018-04-02 20:04] #72 closed

[2018-04-02 20:06] nsthorat commented on #36
If you want to have discussions about the merits of Node.js itself we can move that to the community discussion. Let's keep this issue as technical / implementation details of the bindings.

[2018-04-02 20:09] dsmilkov commented on #74
Hi @Neuroforge,

First, we are excited to announce that deeplearn.js joined TensorFlow as TensorFlow.js. We just released a [tool](https://github.com/tensorflow/tfjs-converter) that can automatically convert a TensorFlow SavedModel and a Keras model to a format for TensorFlow.js, and we've moved the CheckpointLoader to the [pair-code/deeplearnjs-legacy-loader](https://github.com/PAIR-code/deeplear

[2018-04-02 20:13] dsmilkov commented on #68
Hi closing this issue since there is an answer posted already. Feel free to reopen if you have additional questions regarding this thread.

[2018-04-02 20:13] #68 closed

[2018-04-02 20:18] #65 closed

[2018-04-02 20:19] nsthorat opened #75 "Provide a way to add custom GLSL functions in JS API."
_From @znah on September 11, 2017 12:9_

One can also think of integration with [SaderGraph](https://github.com/unconed/shadergraph) to support users code to make queries to Tensors while abstracting away the data texture layout details. This way we can implement have [MathBox](https://github.com/unconed/mathbox)-like functionality that uses deeplearn.js under the hood.

_Copied from original issu

[2018-04-02 20:19] #63 closed

[2018-04-02 20:22] dsmilkov commented on #61
Closing since we are missing information to help with this issue. Feel free to re-open upon more info. Thanks!

[2018-04-02 20:22] #61 closed

[2018-04-02 20:26] dsmilkov commented on #57
Hi @sgserg,

Can you share more info about the error you are seeing? Thanks!

[2018-04-02 20:34] tafsiri commented on #57
Also, if you are trying to run the examples locally you should have node version 8.9.0 or greater. This is currently documented in the package.json files for each project.

[2018-04-03 00:19] nsthorat opened #76 "Add WebCL support?"
_From @arthurjdam on September 28, 2017 1:47_

Feel free to add a discussion tag to this. I'm willing to put in the work to turn this into an eventual PR, but wanted to run this past the group before doing so. I'm not sure if I'm blindly attempting to put a round peg in a square hole, so hopefully some healthy discussion will help before committing to the time.

Without further adieu:

**Motivatio

[2018-04-03 00:19] nsthorat commented on #76
_From @kaihuchen on September 28, 2017 3:25_

I for one would like to see this happen, for the following reasons.

I plan to use deeplearnjs for large-scale distributed ensemble learning, where training occurs inside many browsers. However, I can also see that there are cases where training needs to occur on the server side, and it will get complicated if server side is doing things very different

[2018-04-03 00:19] nsthorat commented on #76
We've been thinking about other implementations of the NDArrayMath base class for use in a headless environment, this would make transitioning between web-tools and distributed computing much easier.

This is on our radar, but we don't have the cycles in the immediate future. If one of you @arthurjdam and/or @kaihuchen want to start building this in the short term future, I can help determine out

[2018-04-03 00:19] nsthorat commented on #76
_From @arthurjdam on October 3, 2017 23:50_

Sounds like fun! I'd love to take this on. Seems like it should indeed not be too difficult to add a third platform on NDArray. Let me know if there's anything I should know before getting started

[2018-04-03 00:19] nsthorat commented on #76
Awesome!

One thing you should note is I'm in the process of rewriting the NDArrayMath unit tests, which will make your life *much* easier. You can add a new backend and simply add your new backend to existing unit tests (right now it's a massive copy-paste). You might want to wait for me to finish that in the next couple days.

[2018-04-03 00:19] nsthorat commented on #76
_From @arthurjdam on October 4, 2017 1:20_

Centralizing unit-tests is a great idea! I'll be spending some time on writing the overhead for the next few days; let me know when your tests are ready and I can work towards them!

[2018-04-03 00:19] nsthorat commented on #76
_From @kaihuchen on October 4, 2017 2:8_

@nsthroat    My plate is more than full at this point, so I am afraid that I am unable to take on this task. But I certainly want to follow its progress closely, and perhaps jump in at a later time.

[2018-04-03 00:19] nsthorat commented on #76
_From @arthurjdam on October 17, 2017 3:50_

Slowly getting started on this in [arthurjdam/deeplearnjs/feature-opencl](https://github.com/arthurjdam/deeplearnjs/tree/feature-opencl). LMK whenever tests get centralized; that would definitely make my life a bit easier :-)

@nsthorat it -may or may not- make sense to rename current instances of "GPU" (for example: `math_gpu`) to "GL" (i.e. `math_webg

[2018-04-03 00:19] nsthorat commented on #76
Hi @arthurjdam

That's excellent!

`math_cl` sounds good to me.

The tests have been centralized! You'll have to add another `test_util` function for CL, like this:
https://github.com/PAIR-code/deeplearnjs/blob/master/src/test_util.ts#L144

And you can use them like this:
https://github.com/PAIR-code/deeplearnjs/blob/master/src/math/pool_test.ts#L101

Basically, just edit `_test` files where you'v

[2018-04-03 00:22] nsthorat opened #77 "Add more benchmarks."
_From @nsthorat on October 19, 2017 14:54_

We have several benchmarks here:
https://deeplearnjs.org/demos/benchmarks/

We would love to see benchmarks for more `NDArrayMath` functions.

New benchmarks should be modeled after this file:
https://github.com/PAIR-code/deeplearnjs/blob/master/demos/benchmarks/reduction_ops_benchmark.ts

Reduction ops are special as they are grouped, but new benchmarks

[2018-04-03 00:22] nsthorat commented on #77
_From @easadler on October 26, 2017 15:1_

@nsthorat I love what you guys are doing. Would love to try and help out. Any `NDArrayMath` benchmarks in particular would you like to see?

[2018-04-03 00:22] nsthorat commented on #77
@easadler Thanks Evan!

A nice place to start might be batchNormalization3D.

[2018-04-03 00:22] nsthorat commented on #77
_From @easadler on October 28, 2017 17:26_

Awesome, got started this morning.

[2018-04-03 00:22] nsthorat commented on #77
_From @erikwilson on November 25, 2017 18:54_

When I look at the benchmarks for matmul CPU vs GPU in Chrome it appears that using the GPU is always the better choice. However when I am using Electron with the matmul intro training example the CPU is about 10x faster than the GPU. Is there something special about meanSquaredCost or training that might cause this?

[2018-04-03 00:22] nsthorat commented on #77
_From @erikwilson on November 25, 2017 19:31_

Playing some with intro training, if I don't await the cost value and math.scope I can get the CPU to be only ~2x as fast as the GPU. I am wondering if there is any I/O that these benchmarks should include?

[2018-04-03 00:52] nsthorat opened #78 "Add support for headless OpenGL"
_From @nsthorat on October 19, 2017 15:0_

deeplearn.js can be used in a headless nodejs environment with this tool:
https://github.com/stackgl/headless-gl

Floating point textures are not supported in headless-gl, but we have a switch that can store floats as 4 unsigned bytes using fixed precision floats. This already may work.

The relevant flag is `WEBGL_FLOAT_TEXTURE_ENABLED`, which is control

[2018-04-03 00:52] nsthorat commented on #78
_From @arthurjdam on October 20, 2017 2:8_

Side-note; referencing #158, I'm working on (fully GPU accelerated) headless support via OpenCL (not WebCL, as I'd like to remove the need for a (v)fb). It's not exactly what you're mentioning here but it should serve the same purpose eventually.

Making some (rather slow, but steady) progress in here: [arthurjdam/deeplearnjs/feature-opencl](https://gith

[2018-04-03 00:52] nsthorat commented on #78
Yup, similar, though I think headless OpenGL we may be able do without many changes. OpenCL, in theory, should be much faster, in the headless OpenGL we're 1) using GPGPU shaders which is going to be slower than CL and 2) we have to use 4 byte integer quantization so we lose a little precision and we're slower than working directly with 32 bit floats.

[2018-04-03 00:52] nsthorat commented on #78
How is this going Arthur?

[2018-04-03 00:52] nsthorat commented on #78
_From @arthurjdam on November 1, 2017 1:45_

Progress is not particularly fast, but it's going! Matmul and unary ops are working, though it's taking some time to figure out how to piece it together so it's relatively aligned with WebGL's interface. I'm structuring some things out, but any insights on how to nicely perform initialization and batching would be super-helpful!

Using OpenCL 1.2 (since

[2018-04-03 00:52] nsthorat commented on #78
_From @arthurjdam on November 8, 2017 2:37_

Out of sheer laziness, I've be playing with adding node-webgl (webgl-type bindings around opengl) which seems to be relatively straight-forward. I've been running into an error that I could use a hand on if anyone's more knowledgeable: https://github.com/arthurjdam/deeplearnjs/tree/feature-headless-gl

The current build will throw an error when binding

[2018-04-03 00:52] nsthorat commented on #78
_From @dsmilkov on November 9, 2017 2:56_

Unfortunately, I'm not a WebGL/OpenGL expert, but maybe [this page](https://www.khronos.org/webgl/wiki_1_15/index.php/WebGL_and_OpenGL_Differences#Vertex_Attribute_0) talking about the differences between WebGL and OpenGL might help.

Also might be good to ask the node-webgl author @mikeseven for ideas.

[2018-04-03 00:52] nsthorat commented on #78
_From @arthurjdam on November 9, 2017 3:55_

Yeah I _think_ I've processed that doc on the web/open-gl differences. Fingers crossed @mikeseven can shed some light on the situation!

[2018-04-03 00:52] nsthorat commented on #78
_From @mikeseven on November 9, 2017 6:58_

Sure, what is the question exactly?

--mike

From: Arthur
Sent: Wednesday, November 8, 19:55
Subject: Re: [PAIR-code/deeplearnjs] Add support for headless OpenGL (#234)
To: PAIR-code/deeplearnjs
Cc: Bourges-sevenier, Mikael, Mention

Yeah I think I've processed that doc on the web/open-gl differences. Fingers crossed @mikeseven<https://github.com/mikesev

[2018-04-03 00:52] nsthorat commented on #78
_From @arthurjdam on November 9, 2017 19:18_

@mikeseven I sent an issue in the node-webgl repo with some explanation https://github.com/mikeseven/node-webgl/issues/59

[2018-04-03 00:52] nsthorat commented on #78
_From @mikeseven on November 9, 2017 20:28_

I believe the error is due to changes in nodejs internals. I need to upgrade my packages to the new nodejs/v8 native interfaces.

--mike

________________________________
From: Arthur <notifications@github.com>
Sent: Thursday, November 9, 2017 11:18:38 AM
To: PAIR-code/deeplearnjs
Cc: Bourges-sevenier, Mikael; Mention
Subject: Re: [PAIR-code/deeplearnjs

[2018-04-03 00:52] nsthorat commented on #78
_From @arthurjdam on November 10, 2017 3:24_

Thanks for looking into it @mikeseven! Let me know if I can do anything to help
By the by; not sure if this helps, but, the demos (i.e. the test/lesson0*.js's) work just fine, so not sure what the discrepancy is. Tested under a few different Node 8 versions, though nothing lower.

[2018-04-03 00:52] nsthorat commented on #78
_From @mikeseven on November 10, 2017 3:45_

The first lessons are very simple use of GL API. This shouldn't have changed but the other samples especially using vertex buffers and async call backs have changed because v8 has changed significantly.

At the same time, nodejs has introduced n-api recently and it's better than the previous native API.

Since n-api is the future, I need to rewrite thes

[2018-04-03 00:52] nsthorat commented on #78
_From @erikwilson on November 24, 2017 23:38_

I found that if I can use NodeJs with DeepLearn if I added a shim for location:
[code]
and used NDArrayMathCPU instead of NDArrayMathGPU for doing math. In fact for small graphs using the CPU can be 10x faster than using the GPU, is there a general matrix size where using the GPU becomes more efficient?

I played with using headless-gl and node-webgl

[2018-04-03 00:52] nsthorat commented on #78
_From @erikwilson on November 25, 2017 15:36_

Sorry I was using version 0.3.8 of deeplearn, it looks like the shim isn't needed for 0.3.10 and later.

[2018-04-03 00:53] nsthorat commented on #78
Adding Dan Foody's work: https://github.com/dfoody/headless-gl

Would be good to have a more "official" version, so keeping this open.

[2018-04-03 01:04] nsthorat opened #79 "Demo: live pix2pix (edges2cats)"
_From @nsthorat on October 19, 2017 15:34_

pix2pix demo was quite fun, and had a nice demo page:
https://affinelayer.com/pixsrv/

However, it is often down, and requires a TensorFlow backend, and if we port it to deeplearn.js you could see your output evolve as you draw, instead of after a round trip to a server.

The caveat here is that the model may be huge. The model itself doesn't take too lo

[2018-04-03 01:04] nsthorat commented on #79
_From @yining1023 on December 28, 2017 22:37_

edges2cats is very cool! I'd like to port it to deeplearn.js.

I tried [pix2pix-tensorflow](https://github.com/affinelayer/pix2pix-tensorflow) and trained the facades dataset(The pre-trained model from pix2pix-tensorflow doesn't work for me). And I got an `index.html` that shows input/output/target image sets. The result looks good.

But the cat datas

[2018-04-03 01:04] nsthorat commented on #79
_From @christopherhesse on December 29, 2017 2:34_

By a hilarious coincidence I am currently porting the afflinelayer demo to use deeplearnjs instead of a remote server, @yining1023 you can check out the code when it is done (probably tomorrow) if you want to make a interactive demo or just a better one.  It would be pretty cool if there was a version nice enough to put on this page: https://deep

[2018-04-03 01:04] nsthorat commented on #79
_From @yining1023 on December 29, 2017 4:6_

@christopherhesse Sounds great! I'd love to make an interactive demo.

[2018-04-03 01:04] nsthorat commented on #79
_From @christopherhesse on December 29, 2017 4:10_

Awesome.

Also @nsthorat is there a method to tell if the current browser is supported?  Right now the demo just breaks mysteriously on safari and internet explorer, I would prefer to pop up some sort of error message, but the browser support is poorly documented and it seems that deeplearn.js should tell me if it works with the current browser r

[2018-04-03 01:04] nsthorat commented on #79
_From @christopherhesse on December 29, 2017 4:41_

@yining1023 Here's the new local demo mode docs: https://github.com/affinelayer/pix2pix-tensorflow/tree/master/server

[2018-04-03 01:04] nsthorat commented on #79
Hi @christopherhesse. Took a look at your demo and code, here are some thoughts on making it faster, in increasing order of difficulty:

1) Instead of constructing a Float32Array when using the edges image, use `Array3D.fromPixels` and give the the canvas element (try to avoid using ImageData). This will move render data from canvas => WebGLTexture on the GPU and entirely bypass the CPU. https://g

[2018-04-03 01:04] nsthorat commented on #79
_From @dsmilkov on December 29, 2017 14:47_

I would lower the priority on point 2) above due to its complexity and not giving much potential win. There could be also problems with flickering if you don't wait for the gpu to fully finish before processing the next frame.

+1. This will definitely give the biggest win and worth pursing first.

[2018-04-03 01:04] nsthorat commented on #79
_From @christopherhesse on December 29, 2017 19:7_

Thanks for the tips!

1 + 2: If I just remove my model (`var output_rgb = input_rgb`) then it takes about 100ms, so I don't think the bottleneck is messing with ImageData or getValuesAsync.  Is that likely to be the case?

3:  This sounds promising,  I will look into it.  50MB was around the maximum size I wanted to ship, but is not actually that

[2018-04-03 01:04] nsthorat commented on #79
It's pretty surprising that it's that much of a difference, but TF has shared memory and optimized kernels (eigen C++ is much much more mature than we are).

GPU TF, with CUDA, is insanely optimized / close to the metal. Unfortunately OpenGL is strictly slower because it's not designed to do linear algebra. However, in theory it should be on par with CPU TF. My guess is that one of the major bottl

[2018-04-03 01:04] nsthorat commented on #79
_From @christopherhesse on December 30, 2017 22:5_

I did a separable conv then bilinear filter and it didn't work.  Based on a distill.pub article, i tried nearest neighbor then separable conv and it worked, but the quality seemed lower, though the param count was reduced considerably.  It may require more tweaks to get better output.  I'm going to leave my current implementation as-is since I do

[2018-04-03 01:04] nsthorat commented on #79
_From @yining1023 on December 30, 2017 22:12_

Yes! I just tried your demo. it's so much fun! it's amazing. It takes about 4 seconds to generate a new image on my computer. I think it's fast enough.

I'm starting making one for the deeplearnjs website. Thank you some much for making this!!
<img width="772" alt="screen shot 2017-12-30 at 17 05 16" src="https://user-images.githubusercontent.com/8662

[2018-04-03 01:04] nsthorat commented on #79
We'd definitely be open to linking to the demo from the homepage! We've amassed too many "official" demos (ones that are hosted in our repo), and it's catching up to us now. I'd love if one of you guys could host it and we could link off to you from our homepage and give you total credit - github pages free hosting would work.

I think it would be *awesome* if it were small enough / fast enough in

[2018-04-03 01:04] nsthorat commented on #79
_From @yining1023 on January 2, 2018 17:11_

@nsthorat I can host it on my github.
I agree! It would be very cool if it can update as people are drawing. I will try the suggestions from this thread to make the model smaller or faster. I might have some questions along the way. Will come back and ask you guys.

[2018-04-03 01:04] nsthorat commented on #79
_From @christopherhesse on January 3, 2018 8:17_

I think you can probably do fine with a few tweaks to the model, but another option might be making convolutions fast.  https://github.com/Maratyszcza/NNPACK for instance seems to support being compiled to webassembly, though I have not looked at it more than that.

[2018-04-03 01:04] nsthorat commented on #79
Interesting, not sure how much that will help here though (GPU / CPU transfer overhead is non-negligible, and WASM doesn't take advantage of SIMD yet).

[2018-04-03 01:04] nsthorat commented on #79
In general, people are trending towards these type of mobile convolutional kernels. You just need to tweak the hyperparameters. Soon, architecture search will save us :)

[2018-04-03 01:04] nsthorat commented on #79
_From @christopherhesse on January 4, 2018 23:47_

Whoops I thought it at least it supported SIMD, I guess it's only 2018.

[2018-04-03 01:04] nsthorat commented on #79
I hope it happens. When it does, we're going to introduce a WebAssembly backend.

[2018-04-03 01:06] nsthorat opened #80 "Add functionality for matrix factorization."
_From @nsthorat on October 19, 2017 17:57_

We can add this under a `decomposition` file just like sklearn does:

http://scikit-learn.org/stable/modules/generated/sklearn.decomposition.NMF.html

_Copied from original issue: tensorflow/tfjs-core#246_

[2018-04-03 01:28] mikeseven commented on #78
Ah yes this is using chrome webgl. I may need to update to the latest specs. Node-webgl is a native implementation using desktop opengl so there are some differences but it's faster as long as the new specs don't force me to translate data... gotta check.

--mike

________________________________
From: Nikhil Thorat <notifications@github.com>
Sent: Monday, April 2, 2018 5:53:18 PM
To: tensorflow/t

[2018-04-03 03:39] lastmjs commented on #36
I just want to bring up WebAssembly. I hope it's being considered as a potential way to elegantly solve problems between environments, most notable the browser and Node.js evironments. WebAssembly compiled through Emscripten has support for WebGL. It would be really nice to have a portable bytecode version of TensorFlow that could run in any wasm environment, even outside of the Node.js and browse

[2018-04-03 06:45] nbardy opened #81 "Editable Documentation"
The live examples in the documentation are great, it would be better if they're editable. I've done a little bit of this type of work before. I haven't had a look at how the build tools are set up for the code examples yet, but I assuming this wouldn't be too tall of a task.

[2018-04-03 13:41] tafsiri commented on #81
I think this is definitely on our list! We didn't get to it before the launch day, but certainly something we have in mind.

[2018-04-03 14:46] zandaqo commented on #36
I've done some [benchmarks](https://github.com/zandaqo/iswasmfast) comparing WebAssembly to C++ addons and JavaScript in Node. WebAssembly seem to suffer less penalties than C++/N-API addons for copying/converting data from JavaScript, however, addons still beat it significantly in tasks with low data transfer rate and heavy computational load. I imagine for model training N-API addon is far more

[2018-04-03 15:07] nsthorat opened #82 "Remove usage of constructor.name in optimizers.ts"
#### TensorFlow.js version

0.6.1 - using minified bundle

#### Describe the problem or feature request

We are using constructor.name here which gets minified when using the standalone bundle:
https://github.com/tensorflow/tfjs-layers/blob/8e8b1a3265440573950ef5c1e41c2efd9a6a6a47/src/optimizers.ts#L466

Then it throws an error :)

#### Code to reproduce the bug / link to feature request

[code]

[2018-04-03 15:30] tafsiri commented on #57
@sgserg You could look at instructions at https://nodejs.org/en/ for how to get a more recent node.js version installed.

To your question about examples on iOS it could be that your device doesn't support webgl float textures, this results in lower precision and may need more training time in order to converge. The red line that renders shows that the example runs, it just didn't learn the functi

[2018-04-03 15:47] caisq opened #83 "Optimizers should support serialization and deserialization"
If you would like to get help from the community, our [Google group](https://groups.google.com/a/tensorflow.org/forum/#!forum/tfjs) might be a better fit.

#### TensorFlow.js version

0.6.1

#### Browser version

#### Describe the problem or feature request

Optimizers such as tf.train.SGDOptimizer currently do not support serialization (getConfig) and deserialization (fromConfig) they should supp

[2018-04-03 15:55] lastmjs commented on #36
@nsthorat That's great to hear. What about WebAssembly with WebGL? Emscripten should convert OpenGL to compatible WebGL code, if I'm not mistaken.

[2018-04-03 16:18] scaelles opened #84 "Error: Unkown value 3,3,3,3 for padding Enum in tf.loadModel"
Hello,

I have exported successfully my Keras model using the tensorflowjs_converter without any error or warning. However, when I try to load the model using tf.loadModel('model.json'), I get the following error:
[code]
I use the following Keras layers: BatchNormalization, Conv2D, Activation('relu'), ZeroPadding2D, MaxPooling2D. Also the following Keras operation: keras.layers.add. Is this due to

[2018-04-03 17:45] pyu10055 commented on #51
fixed with PR https://github.com/tensorflow/tfjs-converter/pull/71

[2018-04-03 17:45] #51 closed

[2018-04-03 19:46] nsthorat commented on #36
JS isn't be the bottleneck for our WebGL calls, the fragment shaders themselves are, so I'm not sure what WASM talking to WebAssembly would give us.

Doing things in JS also gives us a lot flexibility with debugging that WASM doesn't.

A fun slightly relevant post: https://mrale.ph/blog/2018/02/03/maybe-you-dont-need-rust-to-speed-up-your-js.html

[2018-04-03 19:48] nsthorat opened #85 "Reshape operation is removed during conversion with tensorflowjs_converter"
_From @kimamula on April 3, 2018 17:17_

#### TensorFlow.js Converter version

0.1.0

#### Browser version

Chrome 65.0.3325.181 (64bit)

#### Describe the problem or feature request

When I execute a model (i.e., `FrozenModel#execute()`) which is converted by `tensorflowjs_converter` and loaded with `loadFrozenModel()`, it fails with an error `Error in matMul: inputs must be rank 2, got ranks 1 a

[2018-04-03 21:21] rodrigob opened #86 "tf.loadFrozenModel does not give useful error messages when a model does not load."
A common problem with tfjs models is permissions issues when loading the model.
The current demonstration at
https://github.com/tensorflow/tfjs-converter/blob/master/demo/index.js

does not exemplify proper error handling when loading the model.
To give better guidance to beginners, I think this should be added.

[2018-04-03 21:46] #82 closed

[2018-04-03 22:01] nsthorat commented on #84
Hi @scaelles, thanks for the bug.

Could you upload your model.json (github gist) for us to take a look at?

[2018-04-03 22:13] scaelles commented on #84
Thanks a lot for your fast reply @nsthorat!
Here is the gist with the [model.json](https://gist.github.com/scaelles/6917c82ad30d40609a8dc98d753c0881). Since I posted the issue, I have found out that if I remove the ZeroPadding2D layers of the Keras model, the error is no longer there, so I guess it has something to do with the conversion of this layer.

[2018-04-03 22:15] nsthorat commented on #84
Ah, thanks! Adding another person who may be able to get a fix in (who wrote much of the serialization logic).

[2018-04-03 22:16] scaelles opened #87 "Conv2d Dilation not implemented importing Keras model"
#### TensorFlow.js version
0.6.1

#### Browser version
Chrome 65.0.3325.181

#### Describe the problem or feature request
I have converted successfully a Keras model using the tensorflowjs_convert script. However, when I import it in javascript using tf.loadmodel('model.json') it says "Non-default dilation is not implemented for convolution layers yet." In my network, I am using dilation 2 and 4,

[2018-04-03 22:17] nsthorat commented on #38
Are you trying to repeat on a 4D tensor? Just curious, what is the use-case?

We actually haven't done any work with rank-5 Tensors, but we can add support if there's a driving use case here.

[2018-04-04 02:26] tehZevo commented on #38
The only reason I would have needed rank 5 tensors would be to implement the makeshift "repeat" solution posted here: https://github.com/tensorflow/tensorflow/issues/8246 , which I only needed in absence of tf.resizeBilinear gradients.  I was trying to achieve the same thing: "upsample" a [batchSize, height, width, numChannels] tensor to [batchSize, height * 2, width * 2, numChannels].  Sorry for

[2018-04-04 02:28] #53 closed

[2018-04-04 06:14] aguang1201 opened #89 "Slash (/) in layer name causes tfjs converter error"
#### TensorFlow.js lastest

#### Browser version lastest

#### Describe the problem or feature request
1,I trained a keras model with densenet.
2,transfer the keras model with comand:tensorflowjs_converter --input_format keras \
3,saved the transfered the model dir on https://console.cloud.google.com/storage,and share the all of the model file.(include:model.json and lots of groupN files.
4,load t

[2018-04-04 06:58] hpssjellis opened #90 "Several Demos Show NaN for the loss Calculation only on Mobile"
All these programs work fine on my desktop computer, but have a few issues on my Smartphone Samsung S8+ mobile device, running Android version 8.0  These 4 demos show NaN for the loss calculation:

Addition-RNN: Loss NaN then all other calculations are messed up. This demo does not work on my mobile device
[https://storage.googleapis.com/tfjs-examples/addition-rnn/dist/index.html](https://storage.

[2018-04-04 08:42] antonkot opened #91 "Import pretrained models from keras.applications"
#### TensorFlow.js version 0.6.1

#### Browser version Google Chrome | 65.0.3325.181

#### Describe the problem
[code]

#### Code to reproduce the bug
[code]

[code]

[2018-04-04 09:16] antonkot commented on #91
"Same" with InceptionV3:
[code]

[2018-04-04 09:54] aguang1201 commented on #89
For Enable CORS via the `Access-Control-Allow-Origin` header.
I used the command:node_modules/http-server/bin/http-server dist --cors
But it not valid

[2018-04-04 12:01] Neuroforge commented on #74
Thank you for your help.

I have used the checkpointloader to create the manifest.json and layer files. I could proceed to use deeplearnjs with the these files. Great!

I am interested in moving forward with TensorFlowJs....

So I have the graph.pb, graph_opt.pb and graph_freeze.pb files so i tried the new tensorflowjs-converter.

`tensorflowjs_converter --input_format=tf_saved_model mobilenet_thi

[2018-04-04 13:32] nsthorat commented on #74
Ping, can you take a look?

[2018-04-04 13:34] nsthorat commented on #89
Ah, GCS, you should do this via gsutil:

You should create a "cors.json" somewhere with these contents:

[code]

Once you do that, run:

`gsutil cors set cors.json gs://your-bucket-name`

[2018-04-04 14:16] hpssjellis commented on #90
Can someone else try on another Android 8.0 device, as the above demos work fine on an Android 7.1.1 tablet

[2018-04-04 14:34] nsthorat opened #93 "devtoolsFormatters object formatter extension"
_From @tmcw on November 24, 2017 20:46_

Has anyone considered writing (or has anyone already written) a [custom object formatter](https://docs.google.com/document/d/1FTascZXT9cxfetuPRT2eXPQKXui4nWFivUnS_335T3U/preview) for Chrome devtools in combination with deeplearn.js? This would make it possible to view Array2D data structures visually as the matrices that they represent mathematically.

_Cop

[2018-04-04 14:34] nsthorat commented on #93
This is a really cool idea, I haven't heard of anyone working on this.

This would be a phenomenal contribution if anyone's up for it.

[2018-04-04 14:40] nsthorat opened #94 "topKValues and topKIndices for GPU"
_From @chaosmail on December 29, 2017 20:25_

Placeholder issue for `topKValues` and `topKIndices` GPU implementation. Currently I need to switch between backends for executing classification and computing the top 5 classes in one graph (like in the squeezenet demo).

Would eventually be great to automatically fallback to the CPU implementation, if available.

_Copied from original issue: tensorfl

[2018-04-04 14:40] nsthorat commented on #94
_From @chaosmail on January 13, 2018 16:30_

@dsmilkov do you have any idea how to implement this elegantly on WebGL without reading and sorting the entire texture in a single fragment shader? Would be nice if one could use the depth buffer to automatically sort the values, but I am not sure if this could work also for k > 1.

[2018-04-04 14:40] nsthorat commented on #94
_From @dsmilkov on January 15, 2018 1:37_

To be honest, I have no idea how this is done on the GPU. I can chat with a GPU expert at work next week. In the meantime, I'd suggest the standard Google/Stack Overflow search :)

[2018-04-04 14:40] nsthorat commented on #94
_From @charlesnicholson on January 15, 2018 4:1_

I'm not aware of any methods that can exploit z-buffering, but that would be nice.

A single fragment shader will work, but can't exploit any GPU parallelism.

The standard approach to max ("topk, k=1") in pre-shared-memory GPU environments is to do a downsampling ping-pong. For a square texture of width and length 2^N, render N passes, giving N dr

[2018-04-04 14:40] nsthorat commented on #94
_From @charlesnicholson on January 15, 2018 4:27_

Top-k indices would be tougher with a top-4 approach. Because you only have 4 channels (tops) in your output texture, you don't have anywhere to put the st texel coordinates that represent the index. You could just do max ("top-1") each time, and use R for max, G for s-coord, and B for t-coord, maybe. That forces you to do k reductions for top-k.

[2018-04-04 14:40] nsthorat commented on #94
_From @dsmilkov on January 15, 2018 14:15_

Thanks Charles!

For top-1 (`math.max/min()`), we actually did it with logN passes, (see [recursive reduce call](https://github.com/PAIR-code/deeplearnjs/blob/master/src/math/backends/backend_webgl.ts#L454)). The only difference is that we did it in the logical space, on a logically flatten array and left the shader sampler figure out the 2D sampling.

F

[2018-04-04 14:40] nsthorat commented on #94
_From @charlesnicholson on January 15, 2018 14:22_

Let's grab a whiteboard tomorrow and figure it out :)

[2018-04-04 14:40] nsthorat commented on #94
_From @chaosmail on January 15, 2018 17:55_

thanks for the detailed insights, seems there is no 'easy' way to do distributed global sorting :)

just throwing another thought in here, concerning `k=1` and Depth Buffer:
* if we could transform all values of the NDArray to a range of [0, 1]
  (luckily softmax returns exactly this range)
* and for each vertex write to position 0,0 in a 1x1 texture
*

[2018-04-04 14:40] nsthorat commented on #94
_From @charlesnicholson on January 15, 2018 19:34_

I think I see what you're getting at, but I'm not sure I understand it fully yet.

If I understand you correctly, you're proposing binding 1x1 color + depth targets to the framebuffer? If that's the case, then you only get one pixel to shade, right?

When you say "for each vertex write to position 0,0 in a 1x1 texture", I'm unsure what you mean.

[2018-04-04 14:40] nsthorat commented on #94
_From @chaosmail on January 15, 2018 21:27_

Thanks for clarifying the vertex setup!

Yeah, I was thinking of using m x n vertices (points) as input for an m x n NDArray (this might be a bad idea though). I sketched the approach that I had in mind (on the right) vs 1 pass with the unit square (on the left).

![max_via_depth](https://user-images.githubusercontent.com/2969388/34961903-9ca254ce-fa41-

[2018-04-04 14:40] nsthorat commented on #94
_From @charlesnicholson on January 15, 2018 22:3_

Oh, interesting, and clever :) Now I see what you're getting at, thanks for taking the time to sketch it out.

Let me rephrase it so you can tell if I understand correctly:

"If you could project every single normalized array value onto a beam defined by the orthographic camera location and the middle of the framebuffer's only output pixel, the z-

[2018-04-04 14:42] nsthorat opened #95 "Implement SRU"
_From @MariasStory on December 30, 2017 22:11_

https://github.com/taolei87/sru

Training RNNs as Fast as CNNs (https://arxiv.org/abs/1709.02755)

_Copied from original issue: tensorflow/tfjs-core#493_

[2018-04-04 14:44] ericdnielsen commented on #84
I've identified two issues:
1) ZeroPadding2D wasn't ported.
2) The error message is bad, because all layers that were ported use the padding keyword to map to a string (same, valid, casual) so we converted padding to an Enum internally for stronger type.  The ZeroPadding2D layers uses 'padding' as a key to a multi-dimensional array, and thus breaks the mapping of value to enum.

[2018-04-04 15:06] caisq commented on #95
@MariasStory I added "help wanted" tag to this issue to indicate that contribution of SRU to tfjs is welcome :)

[2018-04-04 15:30] kimamula commented on #85
I forgot to mention that TensorFlow version is 1.7.0.

[2018-04-04 17:13] pyu10055 commented on #85
@kimamula is it possible for you to share the saved model with us, so we can investigate why the reshape node is removed? Thanks!

[2018-04-04 17:16] pyu10055 commented on #74
@Neuroforge The converter only supports SavedModel format, not the checkpoint + metadata format, the latter is deprecated by Tensorflow.

You can take a look at TensorFlow document for SavedModel, https://www.tensorflow.org/programmers_guide/saved_model

[2018-04-04 17:28] venkatesh-sakthivel commented on #13
+1

[2018-04-04 17:32] kimamula commented on #85
@pyu10055 Sure! I uploaded my saved model [here](https://gist.github.com/kimamula/e3132e8882a17cf6c8aa01938ef6e912).

[2018-04-04 17:56] Niconius opened #96 "Is there a way to access weights and biases in tfjs layers api?"
Hello,

is there a way to access weights and biases of a layer in tfjs with the layers api? To be more precisely I want to get and also set them to use a generic algorithm on my neural net.

If not, is it possible with just tfjs core?

[2018-04-04 17:59] #96 closed

[2018-04-04 18:01] pyu10055 commented on #85
Thanks @kimamula, can you also share the variables/ directory? The variables/ directory should have the checkpoint files.

[2018-04-04 18:04] pyu10055 commented on #52
@carlthome  We are looking into implementing the fused ops, if possible, can you share your python code that generates the model? We suspect the StridedSlice came from the numpy array manipulation, not the fused op itself. Thanks.

[2018-04-04 20:50] litenjacob opened #97 "`tfjs-converter` doesn't work with frozen tensorflow graphs"
#### TensorFlow.js version
TensorFlow.js version 0.6.1

#### Describe the problem or feature request
It seems pretty common to get frozen TensorFlow graphs (is that the correct term?!) when eg following the official [Image Retraining tutorial](https://www.tensorflow.org/tutorials/image_retraining) or the [TensorFlow for Poets CodeLab](https://codelabs.developers.google.com/codelabs/tensorflow-for-

[2018-04-04 21:41] pyu10055 commented on #97
Unfortunately the inference graph format is deprecated, and you should be using the SavedModel.
And tfjs-converter only supports SavedModel format.
You can take a look at the [SavedModel document](https://www.tensorflow.org/programmers_guide/saved_model) on how to generate SavedModel.

[2018-04-04 21:49] litenjacob commented on #97
Thanks for the quick answer! Ah, I thought it was the other way around 😳

Either way, I found the [emoji-scavenger-hunt Dockerfile](https://github.com/google/emoji-scavenger-hunt/blob/master/training/Dockerfile) which uses the official `retrain` script in a way supported by `tfjs-converter` 😄

[2018-04-04 21:49] #97 closed

[2018-04-05 01:30] kimamula commented on #85
The python script I pasted above emitted an empty variables/ directory.

[2018-04-05 02:03] nsthorat commented on #91
1) in theory should be straightforward since the op exists in core.

[2018-04-05 05:25] mysticatea opened #98 "loss in ModelCompileConfig doesn't accept functions"
#### TensorFlow.js version

- 0.7.0

#### Browser version

- N/A

#### Describe the problem or feature request

The `loss` property in `ModelCompileConfig` looks to say accepting objective functions, but the implementation accepts only strings.

#### Code to reproduce the bug / link to feature request

- https://github.com/tensorflow/tfjs-layers/blob/4905b2b5106f33df2ff80c091b655703ec016094/src/en

[2018-04-05 06:52] clover113 commented on #53
Now the deconvolution itself seems to work. But I still cannot import the model. It says: "Error: Could not find weights in manifest with names: deconvolution/kernel_1". I only have one deconvolution layer and I import the model using tf.loadModel() only once. Other layers are just fine, so I think the implementation of importing keras model with deconvolution layer is still broken.

[2018-04-05 08:38] kimamula commented on #85
@pyu10055 I followed your advice at https://groups.google.com/a/tensorflow.org/forum/#!topic/tfjs/ztXLl4dcy04 and found that if I remove some of the optimizers as follows, Reshape operation remains.

[code]

However, the resulting model still induces the `Error in matMul`.
When I further remove `arithmetic` as follows, the error disappears.

[code]

[2018-04-05 08:42] kimamula commented on #85
Removing only `arithmetic` optimizers also works.

[code]

[2018-04-05 10:48] aguang1201 commented on #89
@nsthorat
Thank you very much.
I solved this problem, but another problem came up．
When I transfered the keras model with comand:tensorflowjs_converter --input_format keras
The follow errors :
KeyError: "Can't open attribute (can't locate attribute: 'weight_names')"
It looks like a version issue.But I can not resolve it.
Could you help me?
Anyway thank you very much．
And Your speech is cool

[2018-04-05 13:11] clover113 opened #99 "Error when Importing Keras model with Deconvolution Layer"
If you would like to get help from the community, our [Google group](https://groups.google.com/a/tensorflow.org/forum/#!forum/tfjs) might be a better fit.

#### TensorFlow.js version
0.7.0
#### Browser version
Firefox 59.0.2(64 bit)
#### Describe the problem or feature request
When importing a converted Keras model with a deconvolution2d layer, tf.loadModel() returns "Error: Could not find weights

[2018-04-05 13:31] caisq commented on #53
@clover113 Can you let us know what Keras model you are trying to import, so we can try to reproduce the error on our end?

[2018-04-05 13:54] nsthorat commented on #99
@caisq / @davidsoergel we keep seeing this bug - is there a temporary fix we can get out?

[2018-04-05 14:52] carlthome commented on #52
Reproducible example:

[code]

[code]

[code]

[2018-04-05 15:24] nsthorat opened #100 "Support quantization at the write_weights and loadWeights level."
To reduce network payload by 4x, let's quantize / dequantize at the network boundary in write_weights and loadWeights.

After we do that, we can investigate activation / weights quantization in-memory.

@adarob

[2018-04-05 15:28] adarob commented on #100
We should also allow for 2x since I found in some cases that 4x was too
imprecise. I can probably work on this tomorrow.

On Thu, Apr 5, 2018, 8:25 AM Nikhil Thorat <notifications@github.com> wrote:

[2018-04-05 15:30] nsthorat commented on #100
Would you mind syncing with @pyu10055 first? He's near by you so it should be easy.

[2018-04-05 15:57] pyu10055 commented on #85
Thank you for @kimamula for the investigation, I will check with the grappler team on fixing this.

[2018-04-05 16:03] adarob commented on #100
Sure. I'm mostly out today and in SF tomorrow, but I will reach out to him
before doing anything.

On Thu, Apr 5, 2018 at 8:30 AM Nikhil Thorat <notifications@github.com>
wrote:

[2018-04-05 16:50] theunreal opened #101 "[Documentation/Feature] Add documentation about saving a trained model"
#### TensorFlow.js version
any

#### Browser version
any

#### Describe the problem or feature request
I trained a model and fed it with data. How can I save the model I just trained to use it later in my application?
Can the process of saving and using a trained model be documented?

#### Code to reproduce the bug / link to feature request
Irrelevant

[2018-04-05 16:52] #84 closed

[2018-04-05 17:11] nsthorat commented on #84
This fix will go out with 0.7.1.

[2018-04-05 17:11] dsmilkov commented on #101
Hi @theunreal,

This is very high on our list and stay tuned for updates soon. In the meantime, you can check out our [FAQ](https://js.tensorflow.org/faq/) for this and similar questions.

[2018-04-05 17:11] #101 closed

[2018-04-05 17:11] nsthorat commented on #101
Have you seen our tutorials?

https://js.tensorflow.org/tutorials/import-keras.html
https://github.com/tensorflow/tfjs-converter

[2018-04-05 17:14] dsmilkov commented on #101
Duplicate of #13

[2018-04-05 17:15] theunreal commented on #101
Thanks @dsmilkov !

[2018-04-05 17:17] dsmilkov commented on #101
Just to clarify, this question is about training the model in the browser, and exporing it out of the browser, right?

[2018-04-05 17:19] scaelles commented on #84
Perfect, thanks a lot for fixing it so quickly!

[2018-04-05 17:27] nsthorat commented on #85
Ping, would we be able to turn off the grappler optimization with a flag until we solve this?

[2018-04-05 17:38] bkazi opened #102 "Running in a web worker"
Are there any plans to make tfjs able to run on a worker using [offscreen canvas](https://developer.mozilla.org/en-US/docs/Web/API/OffscreenCanvas)? Is it already possible? (sorry if I'm still stuck in the deeplearn.js days)

Would it be possible to do so now by manually creating a GPGPUContext and [using it in the backend somehow](https://github.com/tensorflow/tfjs-core/blob/cd0cfe62ca8e005b38dad

[2018-04-05 17:41] nsthorat commented on #89
Is this on the JavaScript side? Could you show us your model.json?

@caisq

[2018-04-05 17:45] nsthorat commented on #98
It looks like Keras supports losses as a non-string argument: https://keras.io/losses/#usage-of-loss-functions.

We can easily extend this to take a function that allows you to define a loss at the ops-level.

Thanks for filing the issue.

[2018-04-05 17:46] theunreal commented on #101
@dsmilkov that's incorrect, I trained my model in the browser and I want to use the trained model later.

For example, I followed the ["Transfer learning"](https://js.tensorflow.org/tutorials/webcam-transfer-learning.html) tutorial, and I am able to train my model from my web camera on top of the MobileNet model.

Now I have a model that knows more, and I want to export it and use the "smarter" mo

[2018-04-05 17:47] nsthorat commented on #101
Yep, I think you're talking about the same thing. This is the issue, it's a high priority: https://github.com/tensorflow/tfjs/issues/13

[2018-04-05 17:48] caisq commented on #89
@aguang1201 Showing us the model.json would be helpful. It would also be helpful for us to know what version of keras you are using.

[2018-04-05 17:51] nsthorat opened #103 "feature request: toPixels"
_From @oveddan on March 11, 2018 16:19_

Right now deeplearn.js has a method [fromPixels](https://deeplearnjs.org/docs/api/index.html#dl.fromPixels) which takes an `ImageData` and converts it into a `Tensor3D`.

It would be nice to have something that does the inverse, like `toPixels` - which would take a 2d or 3d tensor and convert it to an `ImageData`

_Copied from original issue: tensorflow/tfj

[2018-04-05 17:51] nsthorat commented on #103
_From @carlthome on April 3, 2018 18:7_

Yes, this would be handy! Particularly if `tf.toPixels` could handle RGB, RGBA and grayscale images like [`tf.summary.image`](https://www.tensorflow.org/api_docs/python/tf/summary/image).

This mess is what I'm using, and I'd gladly replace it:
[code]

[2018-04-05 17:52] nsthorat opened #104 "For small constants, upload as uniforms instead of samplers."
_From @nsthorat on December 30, 2017 23:24_

We often have constant `Scalar`s in `NDArrayMath` code to avoid divide by zeros, etc. These values will have to get uploaded as a uniform and trashed constantly.

We should either:
1) Add a heuristic to upload small NDArrays as uniforms. This would be totally invisible to the user.
2) Allow math ops to take number|NDArray. This would allow us to explici

[2018-04-05 17:53] bkazi opened #105 "Edit layers after adding them"
In the high level layer API is it possible to change configs on the layers after they have been added to the model? Something like https://playground.tensorflow.org/ where you wouldn't have to rebuild the entire model when the shape of a layer changes or the number of layers changes.

The thought stemmed from the [React](https://reactjs.org) ideology of applying only the differences to the tree.

[2018-04-05 17:53] nsthorat commented on #102
Offscreen canvas is definitely something we want to support, we haven't prioritized it because it's still experimental.

If you want to send us a PR, we'd happily accept it. Just make sure you do feature testing inside `environment.ts`.

[2018-04-05 17:58] nsthorat commented on #105
Unfortunately you can't swap them out on an existing model, but what you can do is create an array of layers, and a model that is initialized with those layers.

When one of your layer params changes, you simply remove that layer, create a new layer with the new hyperparams, and create a new model from those layers.

Does this make sense?

[2018-04-05 17:59] nsthorat opened #106 "Consider putting math kernels into standalone module?"
_From @ofrobots on January 3, 2018 21:53_

Have we considered extracting the math functionality from this module and putting it in a standalone module by itself. Math functionality seems independently useful.

_Copied from original issue: tensorflow/tfjs-core#508_

[2018-04-05 17:59] nsthorat commented on #106
_From @dsmilkov on January 4, 2018 0:50_

Hi, to better understand, can you share your use case? `NDArrayMath` doesn't make sense  without `NDArray`s. Did you mean `NDArrayMath` independent of the graph/gradient/backpropagation code?

[2018-04-05 17:59] nsthorat commented on #106
_From @ofrobots on January 4, 2018 1:6_

Right, sorry. Yeah, I think we have a really good implementation of a accelerated math library here. I think it can be useful independently of the remainder of the ML code.

[2018-04-05 17:59] nsthorat commented on #106
_From @ofrobots on January 22, 2018 18:55_

Some experiences from over this weekend. I was working a backend (Node.js) project where I just needed a 3D Array structure, I started with deeplearn as it has a really nice accelerated implementation. Here's the friction log:

* It would be good to be able to use just the NDArray and associated code without depending upon the entirety of deeplearn. (Thi

[2018-04-05 18:27] nsthorat opened #107 "Expose API to dispose variables"
_From @arvind on January 12, 2018 20:34_

In eager mode, a `dl.ENV.math.disposeVariables` function would be useful to allow us to recreate models with the same-named variables without incurring a memory leak. For now, I'm using the following:

[code]

_Copied from original issue: tensorflow/tfjs-core#540_

[2018-04-05 18:29] nsthorat opened #108 "Add eager mode gradients for ops."
_From @nsthorat on January 18, 2018 15:56_

The infrastructure for eager mode is now ready for gradient methods to be filled in!

Eager mode provides a new set of methods on `NDArrayMath` which allows the user to eagerly compute gradients. Most users will use an optimizer like this:
[code]

You'll notice that there is no use of the Graph, we simply use ops on `NDArrayMath` directly inside of an `o

[2018-04-05 18:29] nsthorat commented on #108
_From @dsmilkov on January 18, 2018 16:15_

For those that are interested:
- leave a comment here to claim one or several ops
- make a PR that adds gradients for those ops
- After we merge your PR, we'll check the checkbox

I'd suggest to start with the [unary ops](https://github.com/PAIR-code/deeplearnjs/blob/master/src/math/backends/webgl/unaryop_gpu.ts#L46).

[2018-04-05 18:29] nsthorat commented on #108
_From @israelvicars on January 19, 2018 17:20_

I'll start `abs`. Thanks for tweeting the invitation to contribute.

[2018-04-05 18:29] nsthorat commented on #108
_From @ManrajGrover on January 28, 2018 10:27_

@nsthorat @dsmilkov A little guidance required here. What should the gradient of comparison and logical operations look like? Any good sources for the same?

[2018-04-05 18:29] nsthorat commented on #108
_From @gena on January 28, 2018 19:36_

Added implementation for `sigmoid`, PR #603.

[2018-04-05 18:29] nsthorat commented on #108
_From @ManrajGrover on February 9, 2018 13:57_

@nsthorat We can tick off `ceil`, `clip`, `cosh`, `floor`, `maximum`, `minimum`, `selu`, `sigmoid`, `sinh`, `softmax` and `tanh`.

`prelu`, `elu` are partially implemented. Only gradients w.r.t. `alpha` need to be added.

`leakyRelu` and `step` gradients are in progress.

Since logical and comparison operations don't have an actual gradient, should w

[2018-04-05 18:29] nsthorat commented on #108
_From @dsmilkov on February 9, 2018 22:51_

@ManrajGrover Great q. For now, let's leave out logical and comparison ops and not pass a gradient function to `executeKernel`. Next would be `reverse`, `slice`, `pad`, `concat` (in that order). Thanks!

[2018-04-05 18:29] nsthorat commented on #108
_From @dsmilkov on February 19, 2018 3:30_

I'll be taking reverse, slice, pad and concat (already started work). Thanks!

[2018-04-05 18:29] nsthorat commented on #108
_From @easadler on April 5, 2018 1:14_

Seems like this may be a little out of date, but I'd like to help if you still would like help. I think `oneHot` is still available.

[2018-04-05 18:29] nsthorat commented on #108
A high priority one would be batchNorm (which you'd return gradients for all of the parameters - this should be pretty straightforward) or resizeBilinear, if you're willing to take it on! resizeBilinear has a big filed here: https://github.com/tensorflow/tfjs/issues/38

[2018-04-05 18:29] nsthorat commented on #108
_From @easadler on April 5, 2018 14:53_

I will give `batchNorm` a shot!

[2018-04-05 18:30] nsthorat opened #109 "Allow multiple instances of tf"
_From @HalfdanJ on January 18, 2018 18:17_

If there are two instances of deeplearnjs present (eg. in two different modules node_modules) they can easily both be loaded, and they both try to register backend. Currently that fails with `Uncaught Error: cpu backend was already registered`, could it instead just re-use the already registered backend?

_Copied from original issue: tensorflow/tfjs-core

[2018-04-05 18:30] nsthorat opened #110 "Feature request: Singular-value decomposition (SVD)"
_From @caisq on January 20, 2018 17:16_

This can mimic tensorflow's o`tf.linalg.svd`: https://www.tensorflow.org/api_docs/python/tf/svd

This is useful for, among other things, the generating of orthogonal initial weights for RNNs.

_Copied from original issue: tensorflow/tfjs-core#571_

[2018-04-05 19:30] kriptontr commented on #13
it'would be great if its allow distributed/collaborated learning somehow. isn't it?  or is it a completely different story

[2018-04-05 19:51] nsthorat opened #111 "TypeScript compile errors with 'strict'"
_From @ofrobots on January 21, 2018 17:23_

I was trying to use this library from a TypeScript project and getting some very hard to digest TypeScript compile errors in deeplearn types. It turns out that the code here is not usable from a project that uses the TypeScript [strict compiler option](https://www.typescriptlang.org/docs/handbook/compiler-options.html).

Adding the strict flag to `tsconf

[2018-04-05 19:51] nsthorat commented on #111
_From @dsmilkov on January 21, 2018 17:38_

Good point. Unfortunately, we find strict mode to be strangely prohibitive. For example (omitted quotes for readability):
`Array4D<float32>` should be assignable to `NDArray<float32|int32|bool, higher|0|1|2|3|4>` because:
- `Array4D<float32>` actually extends `NDArray<float32, 4>`, thus
- `Array4D` should be assignable to `NDArray`
- `float32` should be

[2018-04-05 19:51] nsthorat commented on #111
_From @ofrobots on January 21, 2018 20:20_

I think the problem is due to the following definition of `NDArray`:

[code]
The default type parameters allow one to omit the type parameters when referring to `NDArray`. Strict mode enables [contravariant types](https://www.typescriptlang.org/docs/handbook/release-notes/typescript-2-6.html) for function parameters, and a function accepting an `NDArray<

[2018-04-05 19:54] nsthorat opened #112 "Add generic dot product as a method."
_From @nsthorat on January 28, 2018 17:49_

Right now we only have "matMul" which forces you to have 2 Array2Ds, so a vector * matrix becomes:

`v.as2D(-1, m.shape[0]).matMul(m)`

We should simply have to do `v.dot(m)`.

_Copied from original issue: tensorflow/tfjs-core#610_

[2018-04-05 19:54] nsthorat commented on #112
We also currently have a `dotProduct`, and `matrixTimesVector`-type methods, which we should consolidate under tensordot with the fix for this issue.

[2018-04-05 19:54] nsthorat commented on #112
_From @tafsiri on February 23, 2018 15:34_

@dsmilkov can this be closed since it is a dup of #664 which is closed?

[2018-04-05 19:54] nsthorat commented on #112
_From @dsmilkov on February 23, 2018 15:54_

we already marked #664 as dup of this one, so let's keep this open

[2018-04-05 19:55] nsthorat opened #113 "Allow number values in place of scalar values in ops."
_From @nsthorat on January 29, 2018 14:31_

Currently users have to do this for dividing by constants:

[code]

Ideally, they would only have to do:

[code]

In WebGL, we can upload the Scalar as a uniform value.

_Copied from original issue: tensorflow/tfjs-core#616_

[2018-04-05 20:09] nsthorat opened #114 "Add better error messages for optimizers interactions with variables."
_From @nsthorat on January 29, 2018 19:15_

1) When minimize is called and there are no variables registered, throw an error.
2) When dl.variable is used inside a gradients method, throw an error. This is a mistake.

_Copied from original issue: tensorflow/tfjs-core#619_

[2018-04-05 20:10] nsthorat opened #115 "Support testing against empty NDArray in testutil"
_From @tafsiri on February 2, 2018 15:48_

While developing #624 we found that ` test_util.expectArraysEqual(a, []);` while  ` test_util.expectArraysEqual(a, new Float32Array(0));` does.

I suspect it is an issue in test_util. This issue is to track making the first snippet work.

_Copied from original issue: tensorflow/tfjs-core#634_

[2018-04-05 20:10] nsthorat commented on #115
_From @ManrajGrover on February 2, 2018 16:0_

@tafsiri I didn't quite get the issue here.

[2018-04-05 20:10] nsthorat commented on #115
_From @tafsiri on February 5, 2018 23:12_

Hi @ManrajGrover, if you look at https://github.com/PAIR-code/deeplearnjs/blob/master/src/math/array_ops_test.ts#L1611 you will see `test_util.expectArraysEqual(f, new Float32Array(0));`, when adding these tests i found that `test_util.expectArraysEqual(f, []);` doesn't work, (note that `f` is an empty Array1D). I suspect the issue was in the test_util so

[2018-04-05 20:10] nsthorat commented on #115
_From @ManrajGrover on February 7, 2018 18:24_

Hi @tafsiri, I just tried `test_util.expectArraysEqual(f, []);` and it works just as same as `test_util.expectArraysEqual(f, new Float32Array(0));`. Could you please recheck?

[2018-04-05 20:11] nsthorat opened #116 "Bring back localResponseNormalization#D tests once we fix the flaky test."
_From @nsthorat on February 2, 2018 20:49_

See: https://github.com/PAIR-code/deeplearnjs/pull/633

Example: https://api.travis-ci.org/v3/job/336158839/log.txt

_Copied from original issue: tensorflow/tfjs-core#636_

[2018-04-05 20:12] nsthorat opened #117 "Add dropout to tfjs-core."
_From @akshay951228 on February 6, 2018 5:27_

I'm importing tensor model weight in DLJs, in my model I have dropout but dropout is not implemented yet.So my question is when it will be implemented

_Copied from original issue: tensorflow/tfjs-core#659_

[2018-04-05 20:12] nsthorat commented on #117
_From @dsmilkov on February 8, 2018 23:56_

Dropout is a great example for an external contribution. Happy to provide review!

[2018-04-05 20:12] nsthorat commented on #117
@caisq is this something that would be easy to push into deeplearnjs?

[2018-04-05 20:12] nsthorat commented on #117
_From @caisq on February 9, 2018 2:37_

@nsthorat Feel free to assign this FR to me.

[2018-04-05 20:12] nsthorat commented on #117
_From @dsmilkov on February 9, 2018 2:57_

Awesome. Trying to assign you but looks like we need to give you write access - will do now

[2018-04-05 20:12] nsthorat commented on #117
_From @abrad1212 on February 23, 2018 3:40_

Couldn't you implement Dropout with everything in the current API?

Wouldn't it be similar to [Tensorflow's implementation](https://github.com/tensorflow/tensorflow/blob/r1.5/tensorflow/python/ops/nn_ops.py#L2135-L2196)?

[2018-04-05 20:12] nsthorat commented on #117
_From @caisq on February 23, 2018 3:42_

@abrad212 thanks for the ping. I have this on my TODO list

[2018-04-05 20:12] nsthorat commented on #117
_From @abrad1212 on February 23, 2018 3:44_

@caisq No problem. Anything to help 😄

[2018-04-05 20:12] nsthorat commented on #117
_From @abrad1212 on February 23, 2018 17:40_

@caisq I'm traveling today, and I think I have time over this weekend to try to implement DropOut. Hopefully, the implementation will be similar to the link I posted above, and translate easy. I'll let you know if I make any progress.

[2018-04-05 20:12] nsthorat commented on #117
_From @acostin1 on February 25, 2018 1:46_

Would love to test it, I think I need to use dropout layers because my model is over-fitting too fast. Also, let's make sure one can use it in the model-builder demo :)

[2018-04-05 20:12] nsthorat commented on #117
_From @kwhitley on March 14, 2018 20:51_

Agreed re. all... definitely need dropout implementation stat.  The basic models without dropout, regularization, noise, etc overfit like a champ.

😞

[2018-04-05 20:12] nsthorat commented on #117
Coming soon, I promise!

[2018-04-05 20:12] nsthorat commented on #117
_From @caisq on April 1, 2018 15:21_

FYI, with the release of TensorFlow.js, now one can do dropout at the Layers level with `tf.layers.dropout`: https://js.tensorflow.org/api/0.6.1/#layers.dropout

As such, I'm removing the `P1` tag from this bug. Dropout can later be pushed down to tfjs-core, so that those who don't use `tfjs-layers` can also use it.

[2018-04-05 20:19] nsthorat opened #118 "do we have a plan to implement zip function like python's?"
_From @jaassoon on February 10, 2018 12:54_

_Copied from original issue: tensorflow/tfjs-core#688_

[2018-04-06 00:29] aguang1201 commented on #89
@nsthorat @caisq
It is not on JavaScript side.It is on keras side.
Before load the model into TensorFlow.js,I converted my pretrained Keras model to TF.js Layers format.
I used the Python API to export directly to TF.js Layers format:
**tfjs.converters.save_keras_model(model, tfjs_target_dir)**
##################################################################
The following errors came up:
Traceba

[2018-04-06 00:40] aguang1201 commented on #89
I made a mistake when I first tried.
I should convert the Keras model(graph+weights) to TF.js Layers format,But I used the weights filed only.
Until I saw the <"modelTopology": null> in model.json,I realize this error.
So this time I tried to convert the Keras model(graph+weights) to TF.js Layers format.
Then met the above error．

[2018-04-06 00:52] caisq commented on #89
@aguang1201

Can you try the following? Save your model as a .h5 file using for example:
[code]

Then use the binary that comes with the tensorflowjs pip package to do the conversion
[code]

If this works, let me know. If this doesn't work, can you shre the model.h5 file with me so I can take a look? Thanks.

[2018-04-06 01:41] aguang1201 commented on #89
@caisq
Yes,I had saved the model with command:model.save('/tmp/model.h5'),
and pip install tensorflowjs and convert the model with command:
tensorflowjs_converter --input_format keras /tmp/model_h5 /tmp/tfjs_model
I tried it both in python2.7 and python3.6,but it doesn't work.
I will send model to you.Could you give me your email?
Thank you.

[2018-04-06 01:55] caisq commented on #89
@aguang1201 My email address is the my github user name excluding the last character, followed by "at google dot com".

[2018-04-06 01:56] aguang1201 commented on #89
@caisq
I shared the model file on google cloud.Please down it with follow link:
https://drive.google.com/file/d/10v1HAxB3KCvW-L9-idmfsj6Dyb8xgJa-/view?usp=sharing
Thank you

[2018-04-06 02:15] clover113 commented on #99
Ok, you guys are really fast! I will try it and see if it works for me.

[2018-04-06 02:48] caisq commented on #89
Thanks a lot for sharing the file with me, @aguang1201

I quickly looked at your file and I noticed that one of your layer, called 'conv1', does not have any weights. It looks like a convolutional layer, so normally it ought to have some weights. Did you do something special with the layer?

[2018-04-06 03:31] aguang1201 commented on #89
@caisq
I used the keras.applications.densenet.DenseNet121 to create the densenet model.
I have debugged into keras.applications.densenet.
DenseNet121.There is not a layer called 'conv1'.
But there is a layer called 'conv1/conv'.
The source is like:
x = Conv2D(64, 7, strides=2, use_bias=False, name='conv1/conv')(x)
x = BatchNormalization(axis=bn_axis, epsilon=1.001e-5,name='conv1/bn')(x)
x = Activa

[2018-04-06 08:28] mysticatea opened #120 "Type '"int32"' is not assignable to type 'DType'."
#### TypeScript version

- 2.8.1

#### TensorFlow.js version

- 0.7.0

#### Browser version

- N/A

#### Describe the problem or feature request

[code]

[code]

However, that `DType` enum is not exposed. It's defined at [tfjs-layers/src/types.ts#L23](https://github.com/tensorflow/tfjs-layers/blob/ea0796c0f07be7d4eb2712e5d11e169a9822bef1/src/types.ts#L23) then [tfjs-layers/src/index.ts#L21](https:

[2018-04-06 11:30] dsmilkov commented on #120
Thanks @mysticatea. We will consolidate and have `tfjs-layers` accept `DataType` (which is just a string union), just like `tfjs-core` does.

Thanks!

[2018-04-06 13:15] kallols opened #121 "calling js file into html problem (not getting any output)"
i have written a js code following:

import * as tf from '@tensorflow/tfjs';
function addition()
{
var a = parseInt(form.input1.value);
var b = parseInt(form.input2.value);
c = tf.constant(a,name="a")
d = tf.constant(b,name="b")
e = tf.add(c,d,name="e")
sess = tf.Session()
output = sess.run(e)
document.write(output);
sess.close()
document.write(output);
}
and i am calling this js like below below

[2018-04-06 13:47] theunreal opened #122 "[Feature] [Documentation] Add example on how to train a model with audio data using getUserMedia()"
#### TensorFlow.js version
any
#### Browser version
any browser supports the [MediaStream API](https://developer.mozilla.org/en-US/docs/Web/API/MediaStream_Recording_API/Using_the_MediaStream_Recording_API)

#### Describe the problem or feature request
It can be awesome to have a tutorial similar to the webcam-transfer-learning, just with audio coming using the browser MediaStream() API.

#### Cod

[2018-04-06 13:49] caisq commented on #89
@aguang1201

Thank you again for the information. It is very helpful in helping us identify the root cause of the problem. I have come up with the following minimal reproduction code:

[code]

I'll see if I can get this fixed today and publish a patch release for `tensorflowjs` on PyPI.

[2018-04-06 14:04] George35mk commented on #121
### Try this

`const output = this.model.predict(img) as any;`

`this.predictions = Array.from(output.dataSync());`

[2018-04-06 14:37] shiffman commented on #60
Just want to pop in here to say that at ITP we are working on a higher level library built on top of tensorflow.js called "ml5":

https://ml5js.github.io/

Right now the library is mostly a set of examples for using pre-trained models, but it's my goal with the library to integrate beginner friendly JS examples with both training and inference that address this barrier. Contributions to our repos

[2018-04-06 14:44] QuantumInformation commented on #60
@hpssjellis I think that most of this trouble will be felt by python devs migrating to the js ecosystem not used to the js tools like babel and webpack etc.

I have my own examples using webpack.

[2018-04-06 14:57] nsthorat opened #123 "When model.fit() is called and there is another pending model.fit(), throw an error."
#### Describe the problem or feature request

If you don't await model.fit() and call it again, we have cryptic errors.

#### Code to reproduce the bug / link to feature request

[code]

See: https://groups.google.com/a/tensorflow.org/forum/#!topic/tfjs/TLb2JkOaTKw

[2018-04-06 15:36] QuantumInformation commented on #60
@tafsiri I tried using typescript to generate es6 modules that could be imported with type="module" but not sure if they implemented it yet.

Basically, I wanted `import foo from "foo"` to be outputted as `import foo from "foo.js"` maybe @kenhowardpdx knows.

[2018-04-06 15:37] #81 closed

[2018-04-06 15:37] mimiohlt commented on #81
this is good

[2018-04-06 15:38] QuantumInformation commented on #60
I also tried debugging one of the tfjs-examples, but the sourcemaps worked poorly, I'm not sure if its the babel runtime. Webpack works fine.

[2018-04-06 15:41] bileschi opened #124 "Add unit tests for tensor naming"
common.ts includes functionality for managing tensor names, such as `getUniqueTensorName(prefix)`;

This functionality should have unit tests.

[2018-04-06 15:43] talvasconcelos commented on #101
Even better, export the all thing to work independently from the library. See Synaptics way to save a model to Json (https://github.com/cazala/synaptic/wiki/Networks#tojsonfromjson) and to use the standalone function that works as a normal fn on jsvascript (https://github.com/cazala/synaptic/wiki/Networks#standalone)

Would something like this be possible with TF ?

[2018-04-06 17:29] nsthorat commented on #101
Yeah, we're working on it. The challenge is we want to make sure we're compatible with TensorFlow and Keras (models are completely portable between browser / python). The issue is here and we're prioritizing it: https://github.com/tensorflow/tfjs/issues/13

[2018-04-06 17:38] nsthorat opened #125 "Convert the converter README to a regular tutorial."
The converter is the only tutorial that is in a README. Let's convert this to a proper tutorial.

[2018-04-06 17:55] nsthorat commented on #122
+1 this is a great idea.

The problem right now is that the spectrogram in the browser is ever so slightly different than the spectogram we get from TensorFlow.

The op that tensorflow uses is here: https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/kernels/spectrogram.cc

Which comes from "fft2d". If somebody ports this to a GLSL shader or compiles it with WASM, the whole world

[2018-04-06 18:26] nsthorat opened #126 "Allow centered RMSProp"
_From @ManrajGrover on February 15, 2018 17:52_

Carrying the discussion from https://github.com/PAIR-code/deeplearnjs/pull/687#issuecomment-364771968 forward, RMSPropOptimizer doesn't implement centered RMSProp which Tensorflow provides. Need to incorporate this feature.

_Copied from original issue: tensorflow/tfjs-core#729_

[2018-04-06 18:31] nsthorat opened #127 "L-BFGS for style transfer"
_From @carlthome on February 15, 2018 23:11_

[Fast style transfer](https://github.com/reiinakano/fast-style-transfer-deeplearnjs) with pretrained models is __really__ cool, but the original optimization-based method presented by Gatys et al. seems like such a great fit for what deeplearn.js could provide with its WebGL integration and builtin gradient computation.

I'd really like to make interac

[2018-04-06 18:31] nsthorat commented on #127
Currently we're only focusing on SGD variants of optimizers, but if you are interested in making an L-BFGS, 2nd order gradient based optimizer you can either
1) extend the Optimizer base class and override `computeGradients`, and `applyGradients`
or
2) simply write your own optimizer without using the Optimizer class. You can compute gradients with the eager style method of differentiation (use me

[2018-04-06 19:30] #89 closed

[2018-04-06 19:42] caisq commented on #89
@aguang1201 FYI. The bug should be fixed in the latest version (0.1.1) of tensorflowjs pip wheel:

https://pypi.python.org/pypi/tensorflowjs/0.1.1

[2018-04-06 19:56] hpssjellis commented on #60
@tafsiri

In reply to:

I am fine with whatever you guys do. Your software is so amazing, however in your move to support old browsers and make modern Javascript and Python Developers comfortable, you might be losing many thousand regular Javascript programmers if you only support build tools.

As an example, I am very familiar with the Ubuntu operating system and use Cloud9 at  http://c9.io in my

[2018-04-06 21:36] tafsiri commented on #121
@kallols depending on how you set up your environment it may not be able to understand the 'import' statement (you probably want to use the script tag approach of loading the library). We just added a new example that I could point you to to use as a base https://github.com/tensorflow/tfjs-examples/tree/master/getting_started

Try using the index.html and index.js as a guide (or just copy that pro

[2018-04-06 21:43] George35mk commented on #121
@tafsiri can I ask you what version of tensorflow can I use this example because in typescript I get an error

on VScode editor that

[code]

[2018-04-06 21:43] George35mk commented on #121
[code]

[2018-04-06 21:48] tafsiri commented on #60
Just updating this to say we just added a no transpile examples: https://github.com/tensorflow/tfjs-examples/tree/master/getting_started, you should be able to just edit the js file and open index.html in your browser. A local webserver is also available via yarn for when folks want to start getting local files into their pojects. Hope this helps!

Great observation on the niche it leaves other in

[2018-04-06 23:52] tafsiri commented on #121
@George35mk that example loads a pre-built bundle, currently 0.7.0 see index.html `<script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@0.7.0"> </script>` It is primarily geared towards javascript users. if you are using typescript I'd guess you would want to use it via npm to get the type definitions?

[2018-04-07 00:04] George35mk commented on #121
@tafsiri Thank you, Yes i have installed the latest tensorflow.js via NPM
`"@tensorflow/tfjs@^0.8.0"`
and again the `useBias` is missing from the `node_modules/@tensorflow/tfjs-layers/dist/engine/training.d.ts`

[code]

[2018-04-07 00:34] tafsiri commented on #121
@George35mk it might be best to file another issue to track this. Would you like to do that or I can copy your message to a new issue so that the right people can take a look.

[2018-04-07 00:38] George35mk commented on #121
Yes @tafsiri if you can please copy the messafe is gonna be greate that. or i can do this tomorow.

[2018-04-07 03:41] aguang1201 commented on #89
@caisq
Very efficient.
I verified the version (0.1.1), no errors.
Thank you very much
:+1:

[2018-04-07 06:30] mlajtos commented on #103
Constructor for ImageData takes (width, height) as arguments and you are passing rows (shape[0]) as width and columns (shape[1]) as height..? That doesn't seem right.

[2018-04-07 06:39] aguang1201 opened #128 "When padding is a array(like:[[3, 3], [3, 3]]) in model.json throw an error"
#### TensorFlow.js version:
0.1.11

#### Browser version:
chrome 65.0.3325.162

#### Describe the problem or feature request
My pretrained densenet model have a layer like:
x = ZeroPadding2D(padding=((3, 3), (3, 3)))(img_input)
convert the model to TF.js Layers format(model.json).
The layer above is converted as: "padding": [[3, 3], [3, 3]] in model.json
When load model.json file on browser errors

[2018-04-07 06:40] aguang1201 commented on #128
model.json:
{"modelTopology": {"keras_version": "2.1.5", "model_config": {"class_name": "Model", "config": {"layers": [{"class_name": "InputLayer", "inbound_nodes": [], "config": {"dtype": "float32", "batch_input_shape": [null, 224, 224, 3], "name": "input_1", "sparse": false}, "name": "input_1"}, {"class_name": "ZeroPadding2D", "inbound_nodes": [[["input_1", 0, 0, {}]]], "config": {"padding": [[3

[2018-04-07 10:57] manrajgrover opened #129 "Simplify Python testing in tfjs-converter tool"
If you would like to get help from the community, our [Google group](https://groups.google.com/a/tensorflow.org/forum/#!forum/tfjs) might be a better fit.

#### TensorFlow.js version
0.8.0

#### Browser version
Chrome Version 65.0.3325.181

#### Describe the problem or feature request
I feel following changes can be incorporated to improve Python testing:

1. Caching dependencies in travis can imp

[2018-04-07 14:12] nsthorat commented on #128
Which version of TensorFlow.js are you using? If using 0.8.0, this error should be gone.

[2018-04-07 14:15] caisq commented on #128
@aguang1201 I'm pretty sure that this issue is already fixed: https://github.com/tensorflow/tfjs/issues/84

Can you make sure that you are using the latest version of the tfjs JavaScript package, which is 0.8.0 currently?

[2018-04-07 14:15] #128 closed

[2018-04-07 14:36] nsthorat opened #130 "Add constraints to tf.variable."
_From @nsthorat on February 22, 2018 14:26_

To mimic TensorFlow:

https://www.tensorflow.org/api_docs/python/tf/Variable#constraint

_Copied from original issue: tensorflow/tfjs-core#768_

[2018-04-07 14:46] nsthorat opened #131 "Add various loss functions to the api"
_From @ManrajGrover on February 22, 2018 19:6_

Currently, the api only supports Softmax Cross Entropy. I feel we can other loss functions to the api. Listing them down here:

1. Absolute Difference
2. Cosine Distance
3. Hinge Loss
4. Huber Loss
5. Log Loss
6. Mean Pairwise Squared Error
7. Mean Squared Error
8. Sigmoid Cross Entropy Loss

I can work on these one by one.

_Copied from original iss

[2018-04-07 14:46] nsthorat commented on #131
Adding @caisq

[2018-04-07 14:46] nsthorat opened #132 "[Community Idea] Kaggle alternative for Deeplearn/JavaScript"
_From @QuantumInformation on February 23, 2018 14:19_

The python folks are pretty lucky in that they have Kaggle. For example there are cool tutorials like so
https://www.kaggle.com/sohier/how-to-integrate-bigquery-pandas where they query data.

In that example they query a REST service and perform a whole bunch of cool stuff. It would be awesome if the js community had such a tool.

_Copied from

[2018-04-07 14:46] nsthorat opened #133 "consider having variable.dispose dispose the underlying tensor as well"
_From @tafsiri on February 26, 2018 16:19_

Consider `let foo = dl.variable(dl.randomNormal([layerInputSize, layerOutputSize], mean, stdDev)); `

Calling `foo.dispose()` and having it dispose the random normal tensor would be very convenient, and possibly reduce a common case of memory leak.

_Copied from original issue: tensorflow/tfjs-core#783_

[2018-04-07 14:46] nsthorat commented on #133
_From @dsmilkov on February 28, 2018 16:12_

So we had it like that, but this caused problems and we decided that's very aggressive. We are fine with a single memory leak.

[code]

[2018-04-07 14:46] nsthorat commented on #133
_From @tafsiri on February 28, 2018 18:28_

So if we stay with current functionality should we change our examples to use that style? Our current examples tend to leak a tensor per variable per model initialization (which can happen multiple times in a session). We can also change the code snippet in our docs.

[2018-04-07 14:46] nsthorat commented on #133
_From @dsmilkov on March 1, 2018 18:28_

That's a good idea. A bit of good news is that higher-level APIs will hide this detail

[2018-04-07 14:47] nsthorat opened #134 "Add dl.randomShuffle."
_From @nsthorat on March 1, 2018 20:26_

This would mirror:
https://www.tensorflow.org/api_docs/python/tf/random_shuffle

_Copied from original issue: tensorflow/tfjs-core#801_

[2018-04-07 14:47] nsthorat commented on #134
_From @jgartman on March 17, 2018 20:47_

Looks like Tensorflow only has a CPU version of random_shuffle.  Is it safe to assume we'd want both a CPU and WebGL implementation here?

[2018-04-07 14:47] nsthorat opened #135 "Implement gradient for dl.gather"
_From @tafsiri on March 5, 2018 15:35_

_Copied from original issue: tensorflow/tfjs-core#813_

[2018-04-07 14:57] nsthorat opened #136 "when doing division with int32 tensors, a float tensor is returned."
_From @oveddan on March 12, 2018 17:39_

Here is a test that demonstrates the issue:

[code]

the test fails with:

_Copied from original issue: tensorflow/tfjs-core#847_

[2018-04-07 14:57] nsthorat opened #137 "WEBGL_get_buffer_sub_data_async is not working properly."
_From @nsthorat on March 13, 2018 0:0_

Right now by default the extension is turned on and I'm getting:

[code]

I'm going to turn this off until we have a fix.

_Copied from original issue: tensorflow/tfjs-core#848_

[2018-04-07 14:57] nsthorat commented on #137
_From @dsmilkov on March 13, 2018 3:33_

I updated Chrome and enabled webgl draft extensions. Async sub buffer is enabled (see screenshot)
but the imagenet demo on deeplearnjs.org is still working nicely. Can you share more details like the code and the stacktrace.
<img width="1097" alt="screen shot 2018-03-12 at 11 28 21 pm" src="https://user-images.githubusercontent.com/2294279/37321190-b95cb630

[2018-04-07 14:57] nsthorat commented on #137
I will share more details in a bit, you'll have to trust me on this one for a little bit :)

[2018-04-07 14:58] nsthorat opened #138 "Add tf.strided_slice op"
_From @pyu10055 on March 13, 2018 22:43_

I have noticed many estimators are generating this op.
https://www.tensorflow.org/versions/master/api_docs/python/tf/strided_slice

_Copied from original issue: tensorflow/tfjs-core#851_

[2018-04-07 14:58] nsthorat opened #139 "Devtool / visualizer"
_From @HalfdanJ on March 15, 2018 1:58_

Would be great with some devtool / visualizer / debug tool. Could be interfaced with an api like this:

[code]

_Copied from original issue: tensorflow/tfjs-core#854_

[2018-04-07 14:59] nsthorat opened #140 "CheckpointLoader that works in Node.js environment"
_From @kimamula on March 18, 2018 7:21_

`CheckpointLoader` only works in browser environment but I want to use it in Node.js environment.

Actually, I have already implemented it as follows and if this is acceptable I would like to make a PR.

[code]

_Copied from original issue: tensorflow/tfjs-core#864_

[2018-04-07 14:59] nsthorat commented on #140
_From @tafsiri on April 2, 2018 19:12_

Hi @kimamula with our latest release we have deleted `CheckpointLoader` (see our [release notes](https://github.com/tensorflow/tfjs-core/releases/tag/v0.6.0) for more info). CheckpointLoader has been moved to https://github.com/PAIR-code/deeplearnjs-legacy-loader but we do not currently plan to maintain it.

[2018-04-07 14:59] nsthorat commented on #140
_From @kimamula on April 3, 2018 16:25_

Current implementation of `loadFrozenModel` provided by @tensorflow/tfjs-converter, which is an extended successor of `CheckpointLoader`, seems also works only under browser environment, i.e. it cannot restore a model from a local file.

As [you are working on creating Node.js bindings](https://js.tensorflow.org/faq/), I think it would be worth providing No

[2018-04-07 14:59] nsthorat commented on #140
_From @kimamula on April 3, 2018 16:33_

Well, when the Node.js binding is provided, it is probably possible to restore a TensorFlow SavedModel directory under Node.js environment?

Then the Node.js version of `loadFrozenModel` is absolutely not necessary.

[2018-04-07 14:59] nsthorat commented on #140
We will absolutely provide a way to do this in the Node.js world by loading a SavedModel directly, loadFrozenModel only supports browsers, you are right. We're working on it :)

[2018-04-07 15:01] nsthorat opened #141 "no data found for this tensor"
_From @riatzukiza on March 18, 2018 18:52_

# Error
I was struggling with a memory leak, then I fix the leak, and I start getting this error.
[code]
# Code
I am rendering data to a canvas, so I have to call data every frame.
## deeplearn logic
Logic to the implementation of conways game of life.
[code]

## rendering

Then I itterate over every element of `tensor.data()`, the error points at

[code

[2018-04-07 15:01] nsthorat commented on #141
_From @riatzukiza on March 18, 2018 19:1_

The program still renders the sim, one would not know anything was happening if they did not open the debug tools

[2018-04-07 15:01] nsthorat commented on #141
Hi @riatzukiza, moving this issue, but is your "render" call coming from inside a tidy()? What's likely happening is the tensor is disposed by the time the data() promise resolves.

[2018-04-07 15:01] nsthorat opened #142 "numBytes is negative"
_From @riatzukiza on March 18, 2018 22:28_

The value of `numBytes` as recieved from `dl.memory()` is a negative value and appears to constantly be going down.

[code]

_Copied from original issue: tensorflow/tfjs-core#867_

[2018-04-07 15:01] nsthorat commented on #142
_From @tafsiri on March 19, 2018 22:43_

@riatzukiza Would you be able to post any sample code that resulted in this behavior?

cc @dsmilkov

[2018-04-07 15:01] nsthorat commented on #142
_From @riatzukiza on March 20, 2018 20:41_

# main.js

Sans a bit of heading code.
[code]
# field.js

The only fragment of this file to access `dl`

[code]

[2018-04-07 15:01] nsthorat commented on #142
_From @tafsiri on March 21, 2018 16:52_

Thanks @riatzukiza we'll take a look.

[2018-04-07 15:01] nsthorat opened #143 "Add bitwise operations"
_From @ManrajGrover on March 20, 2018 19:9_

Currently, the API does not support bitwise operations. The problem with adding support for these operations is WebGL 1.0 does not support them. We can add CPU methods but then we will only support CPU backend for these operations.

https://www.tensorflow.org/api_docs/python/tf/bitwise

_Copied from original issue: tensorflow/tfjs-core#871_

[2018-04-07 15:01] nsthorat opened #144 "Debug mode doesn't appear to be working"
_From @physicsrob on March 21, 2018 0:38_

It appears that debug mode might not be working.  The easiest way to reproduce is load the imagenet example and run `dl.ENV.set('DEBUG',true)` in the console.  The debug timings that print out will all be less than a 1 ms (usually 0.1ms on chrome for me, 0ms in firefox).

_Copied from original issue: tensorflow/tfjs-core#872_

[2018-04-07 15:01] nsthorat commented on #144
_From @physicsrob on March 21, 2018 0:56_

Actually I'm seeing similar behavior on the benchmarks demo.  The CPU benchmarks are giving sane timings, but the GPU benchmarks are all fraction of a ms or faster (usually 0ms).

[2018-04-07 15:01] nsthorat commented on #144
_From @physicsrob on March 21, 2018 18:3_

My platform has GL_EXT_timer_query disabled (Chrome on Linux).  It looks like before the timers were refactored the timing code worked without this extension, and now it's not timing the actual computation when the extension is unavailable.

[2018-04-07 15:01] nsthorat commented on #144
I will take a look at this (I am preparing for a talk next Friday so unfortunately it will take me until the first week of April).

We just did a refactor of timing / debug mode, and I think that broke the timing when that flag is disabled as you noticed.

[2018-04-07 15:02] nsthorat opened #145 "Why mobileNet.predict() hit a performance cliff after certain amount of runs?"
_From @samwyi on April 5, 2018 22:21_

#### TensorFlow.js version: 0.6.0

#### TensorFlow.js Core version: 0.6.0

#### Browser version: Chrome 65.0.3325.181 (Official Build) (64-bit)

#### Describe the problem or feature request
mobileNet.predict() hit a performance cliff after certain amount of runs.
On my MacBook Pro, the average of 100 runs is ~11ms, while the average of 200 runs drops to ~46ms

[2018-04-07 15:02] nsthorat commented on #145
Try `await tf.nextFrame()` between each tick (you may have to wrap your code in a function marked as async).

[code]

[2018-04-07 16:32] nsthorat opened #146 "Improve error messaging when calling execute() on a frozenModel with incorrect inputs."
Currently, if you call execute() on a frozen model with an input that isn't part of the graph, there is a cryptic error.

Let's throw a nice error with the list of possible inputs you can provide. We should also do the same for outputs.

[2018-04-07 16:33] nsthorat opened #147 "Add a function that lists all the inputs / outputs / node names of a frozen model."
We should provide some way of poking in the model so users can see what they can provide / what activations they can get. This can be simple functions that return an array of strings.

[2018-04-07 18:47] BusbyActual commented on #135
This issue link is broken or internal? I'm open to taking this just want to read about it more : ^)

[2018-04-07 18:52] ManrajGrover commented on #135
Hi @BusbyActual :)

All of the issues and discussions have been moved to this repository to centralize management of issues, hence the link is not working. Feel free to discuss the issue here and take this one up.

[2018-04-07 18:54] ManrajGrover commented on #131
@nsthorat @caisq Taking this one up, one at a time starting with Mean Squared Error.

[2018-04-07 19:01] BusbyActual commented on #135
Would this feature be similar to [gradients](https://www.tensorflow.org/versions/master/api_docs/python/tf/gradients)? I checked the docs for [gather](https://www.tensorflow.org/versions/master/api_docs/python/tf/gather) && [gatherrd](https://www.tensorflow.org/versions/master/api_docs/python/tf/gather_nd) and they don't reference gradients. I'm trying to scope out the issue and map it out before

[2018-04-07 20:10] jgartman commented on #135
@BusbyActual Just to give a little background (sorry if you knew this already), you can see [here](https://github.com/tensorflow/tfjs-core/blob/v0.6.0/src/ops/array_ops.ts#L753-L759) that `tf.gather` in TensorflowJS doesn't have it's gradient defined.  The gradient for `gather` in Tensorflow is [here](https://github.com/tensorflow/tensorflow/blob/r1.7/tensorflow/python/ops/array_grad.py#L388) so y

[2018-04-07 23:15] samwyi commented on #145
@nsthorat Adding "await tf.nextFrame()" really makes the performance number consistent on my laptop!

But on smartphones, the performance cliff still exits. After profiling with the Chrome performance dev tool, I noticed that after every 20-30 predictions, there is a long wait of 30-60 seconds (not ms!), with GPU shown as busy (solid green). Since I put "await tf.nextFrame()" between each predicti

[2018-04-07 23:22] samwyi opened #148 "Are these ops going to be supported soon? SpaceToBatchND, FloorMod, BatchToSpaceND, ResizeBilinear, ResizeNearestNeighbor, StridedSlice"
I have a model that needs the following ops to be supported:
SpaceToBatchND, FloorMod, BatchToSpaceND, ResizeBilinear, ResizeNearestNeighbor, StridedSlice

Any schedule on supporting the above ops? Thank you.

[2018-04-07 23:59] nsthorat commented on #145
Ah, apologies, you also probably have a memory leak. Try this code:

[code]

Check out our section on memory in this tutorial: https://js.tensorflow.org/tutorials/core-concepts.html

[2018-04-08 00:09] nsthorat commented on #138
This is the most common missing op I've seen, let's prioritize this.

[2018-04-08 08:54] kallols commented on #121
Hi,
When I am calling this tiny javascript code below in my html code:
function go(){
    var array = new Array();
    document.write("hello");
}
its giving correct ans, but when I am including tensorflow its not giving any output like below:

**import * as tf from '@tensorflow/tfjs';**
function go(){
    var array = new Array();
    document.write("hello");
}

please tell me why am I not getting

[2018-04-08 08:55] kallols opened #149 "importing tensorflow not generating simple js output."
Hi,
When I am calling this tiny javascript code below in my html code:
function go(){
    var array = new Array();
    document.write("hello");
}
its giving correct ans, but when I am including tensorflow its not giving any output like below:

**import * as tf from '@tensorflow/tfjs';**
function go(){
    var array = new Array();
    document.write("hello");
}

please tell me why am I not getting

[2018-04-08 09:02] zaidalyafeai opened #150 "Error: Cannot compute gradient: gradient function not found for gather"
#### TensorFlow.js version
"0.6.1"
#### Browser version
Chrome Version 65.0.3325.181 (Official Build) (64-bit)
#### Describe the problem or feature request
"I get the error Error: Cannot compute gradient: gradient function not found for gather" when calling the fit function on RNN model
#### Code to reproduce the bug / link to feature request
` model = tf.sequential();
  model.add(tf.layers.embedd

[2018-04-08 09:24] ManrajGrover commented on #150
Hi @zaidalyafeai,

Thank you for reporting this. I believe this is because gradients for `tf.gather` are yet to be implemented and is being tracked in #135.

[2018-04-08 09:29] ManrajGrover commented on #149
Hi @kallols,

I see you are running this example in a browser.

You cannot call imports in a browser since browsers don't support such imports. Instead of loading tfjs as `import * as tf from '@tensorflow/tfjs';`, you need to import the library by either transpiling the node module and load it as a bundle using tools like webpack or load it using ready-to-use cdn mentioned [here](https://github.co

[2018-04-08 10:03] kallols commented on #149
Thanks for your answer @ManrajGrover  now i have changed my js code to
function go(){
	a=tf.constant(7)
	b=tf.constant(10)
	c = tf.add(a,b)

	simple_session = tf.Session()
	value_of_c = simple_session.run(c)
	simple_session.close()
        document.write(value_of_c);
}

and in html i have written
<script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@0.7.0"> </script>
and input type="button" o

[2018-04-08 14:30] George35mk opened #151 "Found typo on documentation website."
If you would like to get help from the community, our [Google group](https://groups.google.com/a/tensorflow.org/forum/#!forum/tfjs) might be a better fit.

#### TensorFlow.js version

#### Browser version

#### Describe the problem or feature request

I am not sure but i thing I found a small typo in documentation website

![55](https://user-images.githubusercontent.com/20750445/38468696-6f7964c2-

[2018-04-08 15:25] nsthorat opened #152 "Mismatch between serialization of AveragePooling2D and our registry (AvgPooling2D)"
It looks like we have a mismatch between what gets serialized and our registry.

See model.json in this bug ("AveragePooling2D"): https://github.com/tensorflow/tfjs/issues/128#issuecomment-379436775

And our registry:
https://github.com/tensorflow/tfjs-layers/blob/8e8b1a3265440573950ef5c1e41c2efd9a6a6a47/src/layers/pooling.ts#L308

[2018-04-08 15:26] kallols commented on #121
@nsthorat I have a very simple javascript file like this:
function go(){
a=tf.constant(7)
b=tf.constant(10)
c = tf.add(a,b)

simple_session = tf.Session()
value_of_c = simple_session.run(c)
simple_session.close()
document.write(value_of_c);
}

and I am including this particular js file into my html to display a simple addition output with the buttion click and my html script is

[code]

But I am n

[2018-04-08 15:26] nsthorat commented on #152
It also looks like we diverge from keras in our API:

https://js.tensorflow.org/api/0.8.0/#layers.avgPooling2d
https://keras.io/layers/pooling/#averagepooling2d

[2018-04-08 15:31] ManrajGrover commented on #121
@kallols Please check your console for errors and share them here. [Reference](https://developers.google.com/web/tools/chrome-devtools/console/)

[2018-04-08 15:35] nsthorat commented on #152
Proposal: Rename everything to keras, and keep an alias at exports.ts from avgPooling => averagePooling. Don't show avgPooling in the docs. This way we don't break the API.

[2018-04-08 15:36] nsthorat commented on #128
Just filed another issue to track this: https://github.com/tensorflow/tfjs/issues/152

[2018-04-08 15:36] nsthorat commented on #152
CC @aguang1201

[2018-04-08 15:44] nsthorat commented on #152
Mailed https://github.com/tensorflow/tfjs-layers/pull/118

[2018-04-08 17:50] #152 closed

[2018-04-08 18:49] jaxball opened #153 "Error: variableGrads() expects at least one of the input variables to be trainable in optimizer.computeGradients()"
If you would like to get help from the community, our [Google group](https://groups.google.com/a/tensorflow.org/forum/#!forum/tfjs) might be a better fit.

#### TensorFlow.js version
0.7.0
#### Browser version
Chrome Version 65.0.3325.181 (Official Build) (64-bit)

#### Describe the problem or feature request
I've previously developed a _deeplearn.js_ project using MobileNet for inference. Since r

[2018-04-08 22:40] jgartman commented on #135
@nsthorat I'll give it a try.

[2018-04-09 06:56] kallols opened #154 "what is the default location of converted keras files ?"
Hi,
This is my model and I am saving it to tf format like below
tfjs.converters.save_keras_model(model)

where is the location it's getting saved?

Is the code generating a json file ?

[2018-04-09 07:28] #154 closed

[2018-04-09 09:11] kallols opened #155 "Not able to load pre-trained model (showing tf.loadmodel is not a function)"
I am a pre-trained model and I want to load it in my js file followed by calling js file into html.

my js code is:

[code]

my html code is:

[code]

But while running this code  in browser, I am getting the error "tf.loadmodel is not a function" .
please let me know the solution

[2018-04-09 09:41] zaidalyafeai commented on #155
I think that should be [loadModal](https://js.tensorflow.org/api/0.8.0/#loadModel) , with capital M.

[2018-04-09 09:46] zaidalyafeai commented on #135
thanks for your efforts. Any alternative for the time being? I can't use embedding layers.

[2018-04-09 09:57] kallols commented on #155
@zaidalyafeai  Thanks, It's working fine with capital M

[2018-04-09 09:57] #155 closed

[2018-04-09 11:42] kallols opened #156 "how to call python function in javascript"
I have a function in python that takes the text input and convert them into arrays using gensim word2vec features.

I want to call that function to my javascript that function will take the input from browser and convert them into arrays.

please tell me how to do this with an example.

[2018-04-09 12:07] BusbyActual commented on #135
About to be on holiday for a few days. Happy to take another issue when I return

[2018-04-09 13:25] mysticatea commented on #20
I'm happy if this implemented.

[2018-04-09 13:48] mysticatea commented on #20
I'm happy if this is implemented, in order to write an AlphaZero clone.

[2018-04-09 14:14] QuantumInformation opened #157 "Inverse matrix"
Do you guys plan to add Inverse matrix function or should we use an external lib.

I see there is a python eq

https://www.tensorflow.org/api_docs/python/tf/matrix_inverse

Shall I look at doing a PR for it?

[2018-04-09 14:16] caisq commented on #91
Heads-up: I'm working on separableConv2d in tfjs-core and SeparableConv2D in tfjs-layers

[2018-04-09 14:24] #34 closed

[2018-04-09 14:29] caisq commented on #156
There is no simple way to call python directly from JavaScript. Options are:
1. If the python function isn't prohibitively complex and all the dependencies have equivalents in JavaScript, rewrite the function in JavaScript. This is what we did for some of the tfjs-examples, e.g., https://github.com/tensorflow/tfjs-examples/blob/master/addition-rnn/index.js#L28
2. Wrap your python function as a web

[2018-04-09 14:30] #156 closed

[2018-04-09 14:34] caisq commented on #157
@QuantumInformation It would be wonderful if you can contribute a matrix inverse implementation to tfjs-core. L-BFGS and some other applications are blocked on it. What algorithm are you considering?

[2018-04-09 14:40] George35mk commented on #151
@caisq I want to contribute but I can't find any HTML file of the documentation in this repo can you show me where I can find the website repo?

all files are **.md** from this https://github.com/tensorflow/tfjs-website

[2018-04-09 14:45] tafsiri commented on #151
Thanks for reporting this! Looks like somebody found it ad made a PR https://github.com/tensorflow/tfjs-website/pull/122

[2018-04-09 14:51] tafsiri commented on #149
@kallols you might be mixing in js and python code. We don't have `tf.constant` or `tf.Session`. Here is my suggestion for getting a working setup going:

1. Check out this repository https://github.com/tensorflow/tfjs-examples, you can use git or [download a zip](https://github.com/tensorflow/tfjs-examples/archive/master.zip)
2. Open the 'getting_started' folder in that repository
3. Open index.h

[2018-04-09 14:58] #151 closed

[2018-04-09 15:13] tafsiri commented on #153
@jaxball Thanks for reporting this, this should work in theory but a couple of people have taken a look and have found a few bugs which we will be working on. In the meantime the quickest way to work around this maybe to use the old checkpoint loading style in your project until this is resolved.

We moved the CheckpointLoader to this repo https://github.com/PAIR-code/deeplearnjs-legacy-loader, yo

[2018-04-09 16:26] QuantumInformation commented on #157
How about this one https://github.com/jcoglan/sylvester/blob/master/src/matrix.js#L364

[2018-04-09 18:04] samwyi commented on #145
Tried calling result.dispose() after each prediction. On my Android phone (Huawei BLN-L24, Android 7,  GPU: Mali-T830MP2), it really eliminated the 60 seconds wait between groups of 20-30 predictions, BUT at the cost of 2 seconds wait for each result.dispose(). I'm surprised to see that releasing GPU memory took much longer time than running the model itself ;-)     Is this a issue in tensorflow.j

[2018-04-09 18:05] kallols commented on #149
@ManrajGrover @tafsiri Thanks, This is working fine. But I have one more query.

I have created a pre-trained keras model and called the model inside the javascript. This model takes only array as input. So I need to convert the text coming as input to array format. I have a python function that does that using gensim package.
I want to import that function inside the javascript so I could get the

[2018-04-09 18:17] kallols commented on #156
@caisq I guess the example doesn't use gensim kind of package. my function is written using gensim package. How to get use of that here.

[2018-04-09 18:47] nsthorat opened #159 "Implement tf.resizeNearestNeighbor"
Following tf.resizeBilinear, we should implement resizeNearestNeighbor as folks have requested this.

For reference of resizeBilinear:
https://github.com/tensorflow/tfjs-core/blob/master/src/kernels/webgl/resize_bilinear_gpu.ts

This would be a great community contribution!

[2018-04-09 18:48] nsthorat opened #160 "Support tf.resizeBilinear in the TensorFlow SavedModel converter."
We currently support tf.resizeBilinear in core, but don't support it in the converter.

Let's prioritize this since we've been asked by some folks.

[2018-04-09 18:56] nsthorat opened #161 "Support BatchToSpaceND and SpaceToBatchND"
These are used for atrous convolutions, which is important for mobile devices. We should add these ops / support them in the converter.

[2018-04-09 19:00] rodrigob commented on #148
See #159 and #161.

ResizeBilinear is now available in the tfjs-core.

[2018-04-09 22:16] nsthorat opened #162 "Roll forward redundant backend creation test refactor."
After this commit tests were failing only on linux (so not showing up on travis): https://github.com/tensorflow/tfjs-core/commit/cd0cfe62ca8e005b38dada030b5517300ff8c2ab

I am rolling it back in this PR: https://github.com/tensorflow/tfjs-core/pull/936

I did about 2 hours of investigation and decided to give up. I narrowed it down to a simple test case that fails when not switching / recreating b

[2018-04-09 23:10] pyu10055 commented on #160
Added support for resizeBilinear.

[2018-04-09 23:10] #160 closed

[2018-04-10 01:08] nsthorat commented on #145
Interesting, it really shouldn't take 2 seconds for a dispose(). Actually, our dispose just marks memory for reuse, it doesn't actually trash the memory.

One thing to test, console log `dl.memory().numTensors()` at each tick and make sure the number of tensors isn't increasing.

[2018-04-10 02:26] #73 closed

[2018-04-10 07:21] dolphin4ik opened #164 "Without browser"
Can I use it on a server?

[2018-04-10 13:55] nsthorat commented on #135
@zaidalyafeai I'd rather not rush on this since it's a tricky gradient and we want to get it right. Will ping you when it's done :)

[2018-04-10 14:03] nsthorat opened #165 "Document model.fit callbacks in API docs"
https://js.tensorflow.org/api/0.8.0/#tf.Model.fit

Current we don't show which callbacks you can use in the docs.

[2018-04-10 14:04] nsthorat commented on #164
We will be tracking bindings here: https://github.com/tensorflow/tfjs/issues/36

[2018-04-10 14:04] #164 closed

[2018-04-10 14:12] kallols opened #166 "Uncaught TypeError: model.predict is not a function"
Hi,

I have imported a pre-trained keras model via json file. Find my javascript below:

[code]

but I am getting the error that Uncaught TypeError: model.predict is not a function.

Please help this issue.

[2018-04-10 14:14] nsthorat commented on #166
loadModel returns a promise so you have to await it. Try this:

[code]

[2018-04-10 14:40] nsthorat commented on #157
If possible, you should try to do this as a combination of other ops. In general we want to keep number of shader programs small.

[2018-04-10 14:59] #87 closed

[2018-04-10 16:12] tafsiri commented on #149
@kallols You cannot do that as they are two different languages with two different runtimes. As @caisq mentioned in #156 you would need to either reimplement the function in javascript, or wrap your python function in a webserver that can respond to requests from the browser.

[2018-04-10 16:18] tafsiri opened #167 "getting started example, extra param to model.compile"
Extracting this from @George35mk comments in https://github.com/tensorflow/tfjs/issues/121

#### TensorFlow.js version
0.8.0

#### Describe the problem or feature request
Example code at https://github.com/tensorflow/tfjs-examples/blob/master/getting_started/index.js#L31 uses an extra parameter.

It looks model.compile doesn't actually take a useBias param. @bileschi could you take a look?

[2018-04-10 16:22] georgwiese opened #168 "Unsupported Ops for tf.layers.dense and tf.layers.dropout"
I'm trying to export an existing TF `SavedModel` using the `tensorflowjs_converter` tool. The conversion fails with the message:

[code]

As far as I can tell, `Switch` and `Merge` are created by `tf.layers.dropout()`. The other two come from `tf.layers.dense()` (the Ops are in the `Tensordot` scope).

Both of these seem like standard operations needed in most networks, so I'm wondering if I'm ove

[2018-04-10 16:23] #121 closed, assigned to nobody

[2018-04-10 16:56] maelfosso opened #170 "How to use model build on python"
If you would like to get help from the community, our [Google group](https://groups.google.com/a/tensorflow.org/forum/#!forum/tfjs) might be a better fit.

#### TensorFlow.js version
any
#### Browser version
any
#### Describe the problem or feature request
Hi, please I built a model on python and I would to use it on a Node.js app.
How to do it please ?

#### Code to reproduce the bug / link to fe

[2018-04-10 17:24] George35mk commented on #167
Ok, thank you.

[2018-04-10 17:27] caisq commented on #157
@QuantumInformation Before we let you go ahead and do the coding, I want to ask: what's your use case of matrix inverse? Depending on the use case and whether the matrix at hand is symmetric, there might be more efficient ways to solve the problem that calculating the inverse.

[2018-04-10 17:48] nsthorat commented on #167
This is fixed in the example now.

[2018-04-10 17:48] #167 closed

[2018-04-10 17:54] caisq commented on #157
@QuantumInformation Another thought: as building blocks for an efficient inv() implementation (if it makes sense to do it), we should implement LU decomposition first.

[2018-04-10 18:01] caisq commented on #170
Closing this issue as it's being discuss in the Google Group: https://groups.google.com/a/tensorflow.org/forum/#!topic/tfjs/ORQI_yQFwHI

[2018-04-10 18:01] #170 closed

[2018-04-10 18:19] nsthorat opened #171 "Partially automate release notes."
It would be good to collect open source contributor names as well as commit messages into a release automatically.

Right now we're manually looking at tags and copying pieces over.

[2018-04-10 18:20] QuantumInformation commented on #157
My use case was for showing how to do various matrice operations in tfjs, not an actual ML problem.

[2018-04-10 19:14] nsthorat commented on #153
We don't have gradients defined for depthwise convs, so MobileNet gradients should have worked in the old way. Do you mean SqueezeNet? If so, I would just use the legacy loader for now. We're working on fixing gradients for `model.predict()` right now, which is causing some errors.

[2018-04-10 20:20] merpnderp opened #172 "Firefox and Safari mnist example runtime errors."
#### TensorFlow.js version
0.8.0

#### Browser version
Firefox 60.0b11
Safari 11.1

#### Describe the problem or feature request
In the mnist example I get an error on run in both Safari and Firefox.

In Safari I get Unhandled Promise Rejection: TypeError: Type error in runtime:566

In Firefox I get "message: "'mode' member of RequestInit 'arraybuffer' is not a valid value for enumeration RequestM

[2018-04-10 21:43] samwyi commented on #145
tfc.memory.numTensors increases by 4 after each mobileNet.predict() call. Calling dispose() doesn't seem to help :(

[2018-04-11 01:47] #91 closed

[2018-04-11 05:28] kallols commented on #166
@nsthorat That works fine but got another issue, while executing the json file I got one error:

[code]

Could you please tell me how to solve this too.

[2018-04-11 05:36] kallols opened #175 "uncaught (in promise) TypeError: Cannot read property 'length' of undefined"
I have imported a pre-trained keras model through a json file but while running the program I got the following error:
[code]

This is my java script code below;

[code]

Please let me know how to solve this issue.

[2018-04-11 06:52] wdl000001 opened #176 "Where is "/homepage/assets/support.js" in demo of tfjs-core?"
In every demo's file "index.html", there's a line of code:
` <script src="../homepage/assets/support.js"></script>`
But I can't find the path “homepage”

[2018-04-11 07:37] JornEngelbart opened #177 "Paddings values for pad are loaded 1D instead of 2D from SavedModel"
If you would like to get help from the community, our [Google group](https://groups.google.com/a/tensorflow.org/forum/#!forum/tfjs) might be a better fit.

#### TensorFlow.js version
0.8.0

#### Browser version
Chrome 65.0.3325.181

#### Describe the problem or feature request
When loading a Tensorflow SavedModel including a `pad` using the `loadFrozenModel` function and run a simple execution it

[2018-04-11 12:12] georgwiese commented on #168
Looks like `tf.layers.dense()` only reproduces the `Prod` and `ListDiff` ops [when used with input tensors of rank bigger than 3](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/layers/core.py#L156) (as part of `tensorflow.python.ops.tensordot`).

Here's a minimal example to reproduce:

[code]

Then in command line:
[code]

Output:
[code]

[2018-04-11 13:09] johnpaulada commented on #165
Which callbacks CAN we use? 😅

[2018-04-11 13:14] dsmilkov commented on #162
Thanks! I had the same issue when making tests reusable. I narrowed it down to a single unit test, to a several character change in the shader source code, which leads to a WebGL bug. Will chat more in person.

[2018-04-11 13:28] dsmilkov commented on #175
Hi @kallols

Note that model.predict() takes a `Tensor` ([api ref](https://js.tensorflow.org/api/0.8.0/#tf.Model.predict)), whereas I suspect `arr=response` gives you a regular js array? Can you try wrapping that in a Tensor using [tf.tensor](https://js.tensorflow.org/api/0.8.0/#tensor)

[2018-04-11 13:29] dsmilkov commented on #175
Duplicate of #166

[2018-04-11 13:29] #175 closed

[2018-04-11 13:30] dsmilkov commented on #166
Hi @kallols

Note that model.predict() takes a `Tensor` ([api ref](https://js.tensorflow.org/api/0.8.0/#tf.Model.predict)), whereas I suspect `arr=response` gives you a regular js array? Can you try wrapping that in a Tensor using [tf.tensor](https://js.tensorflow.org/api/0.8.0/#tensor)?

[2018-04-11 13:37] tafsiri commented on #176
@wdl000001 The demos in tfjs-core are deprecated and we are in the process of deleting/migrating them which is probably why that file is missing. Our new examples are at https://github.com/tensorflow/tfjs-examples. Sorry for the confusion we will be cleaning that up soon.

[2018-04-11 13:58] kallols commented on #166
@dsmilkov I am passing **array([[0., 0., 0., ..., 0., 0., 0.]])** to my base keras model to get the output. I got the input data from web browser in javascript is **[[0., 0., 0., ..., 0., 0., 0.]]**

could you please give one example code how to put this javascript array into model. Thanks

[2018-04-11 14:26] JornEngelbart commented on #177
@pyu10055 @dsmilkov I made a quick mock version.
The model was generated with:
`
import tensorflow as tf

input = tf.placeholder(tf.float32, [5, 1])

layer = tf.pad(input, [[1, 2], [3, 4]])

with tf.Session() as sess:
    tf.global_variables_initializer()
    print(sess.run(layer, feed_dict={input: [[1],[2],[3],[4],[5]]}))
    tf.saved_model.simple_save(sess, "saved_model/", inputs={"in": input},

[2018-04-11 14:41] kallols commented on #166
@nsthorat @dsmilkov I have used following code:

console.log(model.predict(tf.ones([1, 30000]), b));       i.e. b is the array of shape [1,30000]  as I want to convert b into tensor. but I am getting following result.

 {isDisposed: false, size: 1, shape: Array(2), dtype: "float32", strides: Array(1), …}

Could you please write the one line of code for this.

[2018-04-11 14:53] kallols opened #178 "Where to put array in model.predict() function"
I have imported a pre trained keras model in my jvascript. I want to put array into the model to get he output.
To convert the array to sensor I am taking the help from **model.predict(tf.ones([8, 10]), {batchSize: 4}).print();** written in tfjs tutorial.

But where and how should I  keep my array inside this model.predict() function.

I have to insert array([[0., 0., 0., ..., 0., 0., 0.]]) with (

[2018-04-11 15:03] dsmilkov commented on #178
Hi,

The second parameter of [model.predict](https://js.tensorflow.org/api/0.8.0/#tf.Model.predict) is a config with the following keys:
- batchSize (number) Batch size (Integer). If unspecified, it will default to 32. Optional
- verbose (boolean) Verbosity mode. Defaults to false. Optional

See the [API ref](https://js.tensorflow.org/api/0.8.0/#tf.Model.predict) for more info.

[2018-04-11 15:27] kallols commented on #178
@dsmilkov But I need to put the input array somewhere. where to put the input array. The keras model is already trained with batchsize and epochs. Why do I need to assign them again.

I just need to put the input array to the existing keras model I imported through json and get the output.

[2018-04-11 15:56] thibo73800 commented on #13
+1

[2018-04-11 18:35] caisq commented on #178
@kallols I assume you are asking how to send input data to `Model.predict()`. If my understanding is correct, the answer is the input data is just the first input argument to `Model.predict()`.

The example you cited: `model.predict(tf.ones([8, 10]), {batchSize: 4}).print()`, is just sending a dummy input made of all ones. In real applications, like yours, you'll replace `tf.ones([8, 10])`, with s

[2018-04-11 19:08] nsthorat commented on #165
Check these out:
https://github.com/tensorflow/tfjs-layers/blob/master/src/callbacks.ts#L78-L88

An example:
https://github.com/tensorflow/tfjs-examples/blob/master/iris/index.js#L64

[2018-04-11 19:10] kallols commented on #178
@caisq I have data in [1,30000] shape lets call it A. Do I need to convert this javascript array into tensorflow array using tf.convert_to_tensor() first ? or I can simply use model.predict(A, {batchSize: 4}) to get the output ?

[2018-04-11 19:35] tafsiri commented on #172
Thanks for reporting this @merpnderp. We'll take a look.

[2018-04-11 23:39] travisstaloch commented on #13
Will this also include exporting without the browser? I would like to be able to export a trained model to a file from node (after running model.fit(...)).

[2018-04-12 00:15] johnpaulada commented on #165
Awesome! Thanks! 😄 🎉

[2018-04-12 03:04] clover113 opened #179 "TFJS Cannot be Used in Angular Production Build"
To get help from the community, check out our [Google group](https://groups.google.com/a/tensorflow.org/forum/#!forum/tfjs).

#### TensorFlow.js version
0.9.0
#### Browser version
N/A
#### Describe the problem or feature request
In my Angular 2 project, tfjs runs smoothly with 'ng serve' and 'ng build'. But, when I try to compile the project using 'ng serve --prod' or 'ng build --prod', the comman

[2018-04-12 04:58] pranayaryal opened #180 "Tensor indexing like numpy"
#### TensorFlow.js version 0.9.0

#### Browser version Google Chrome 64.0.3282.186

#### Describe the problem or feature request
I am trying to set values to index of tensor but I am not sure which method to use.

#### Code to reproduce the bug / link to feature request
[code]

How can I change/mutate `ix` indices in `a` ? I am unable to find any method.

In python tensorflow I can do:
[code]
This

[2018-04-12 08:37] kallols opened #181 "output of model.predict() gives array of shape(1,1) but returning undefined elements."
I am sending the input to a pre trained keras model imported via json file. the input of the keras model in python is **np.array([[1,1,1,.......,1,1,1]])**
The code for javascript is below:

[code]

I am getting output as undefined for g and h.

For newoutput I am getting following result.

`e {isDisposed: false, size: 1, shape: Array(2), dtype: "float32", strides: Array(1), …}`

The result shoulf

[2018-04-12 08:39] xam-ps commented on #178
In which browser did you try out your code? I experienced a problem with importing a keras model in Chrome (on Ubuntu 16.04) - the predict function didn't work. In Firefox everything works like a charm.

[2018-04-12 08:47] kallols commented on #178
@xam-ps I am using chrome in windows.
here I am sending the input to a pre trained keras model imported via json file. the input of the keras model in python is np.array([[1,1,1,.......,1,1,1]])
The code for javascript is below:

var newoutput=model.predict((tf.ones([1, 30000])));
var g=newoutput[0];
var h=newoutput[1];
console.log(g);
console.log(h);
console.log(newoutput);
I am getting output as

[2018-04-12 08:57] rohban0u opened #182 "Reuse trained model json for prediction in js"
Is it possible to store the json file generated for model post training and reuse it in browser for making predictions for that dataset.

[2018-04-12 09:29] Neuroforge opened #183 "Unable to load model locally - asyncToGenerator.js:20"
To get help from the community, check out our [Google group](https://groups.google.com/a/tensorflow.org/forum/#!forum/tfjs).

#### TensorFlow.js version

Install via Yarn.

var version = '0.6.0';

#### Browser version

Chrome Version 65.0.3325.181 (Official Build) (64-bit)

#### Describe the problem or feature request

I am trying to load a model.

In model.js i get an error which is thrown in loa

[2018-04-12 09:43] chenjin3 commented on #160
The converter of tensorflowjs-0.1.1 still does not seem to provide support for ResizeBilinear.

[2018-04-12 09:44] Neuroforge commented on #183
On further testing i have downloaded the model from...

https://storage.googleapis.com/tfjs-models/tfjs/mobilenet_v1_0.25_224/model.json

Loading it locally gives the same error.

[2018-04-12 09:51] xam-ps commented on #178
@kallols To the the data from the tensor I'm using the [data()](https://js.tensorflow.org/api/0.8.0/#tf.Tensor.data) function. For your case this should be sth. like:

`
newoutput.data().then(function(label){
    console.log(label[0]);
    console.log(label[1]);
});
`

[2018-04-12 11:04] kallols commented on #166
@nsthorat @dsmilkov A big thanks to all of you. Its working fine as I wanted. I am closing this issue.

[2018-04-12 11:04] #166 closed

[2018-04-12 11:04] #181 closed

[2018-04-12 11:06] #178 closed

[2018-04-12 11:07] kallols commented on #149
@ManrajGrover @tafsiri  Thanks

[2018-04-12 11:07] #149 closed

[2018-04-12 12:08] xam-ps opened #184 "API Reference code examples not working in chrome (ubuntu 16.04) when using WebGL"
#### TensorFlow.js version
all Versions

#### Browser version
Version 65.0.3325.181 (Official Build) (64-Bit)

#### Describe the problem or feature request
Many code examples from the API Reference are not working in Chrome for Ubuntu e.g. tf.fromPixels. Output in Firefox is `[ [[100, 150, 200],]]`
Output in Chrome is `[ [[0, 0, 0],]]`

When I disable WebGL trough an extension the code works as ex

[2018-04-12 13:51] tafsiri commented on #183
A couple of quick questions/tests to do:

- For converting the model did you follow [this tutorial](https://js.tensorflow.org/tutorials/import-keras.html). Are the model weights being written correctly? (The model.json should be in a folder with other files that represent the sharded weights).

- Are you able to load that json file separately? i.e. does fetch('./Models/tensorFlowJsModel/weights_ma

[2018-04-12 13:53] tafsiri commented on #182
Not sure which json you are referring to but we have two tutorials for porting models to the browser.
 - [Importing Keras Models](https://js.tensorflow.org/tutorials/import-keras.html)
 - [Importing TensorFlow SavedModels](https://github.com/tensorflow/tfjs-converter)

[2018-04-12 13:59] nsthorat opened #185 "Sentiment analysis breaking with dilationRate error in 0.9.0."
dilationRate must be a number for 1D convolution, but received [1]

See this notebook:
https://beta.observablehq.com/@jashkenas/sentiment-analysis-with-tensorflow-js

Seems like we should accept array of one number for dilationRate for 1D conv (since that's simply ported from keras).

[2018-04-12 14:08] tafsiri commented on #180
You can use [variable.assign](https://js.tensorflow.org/api/0.9.0/#tf.Variable.assign) to assign new values to the variable, this would need to be a new tensor of the same shape with your modified data, as you cannot modify individual parts of a tensor. Tensor's are immutable and Variable is a fairly thin wrapper around that to allow reassignment.

[2018-04-12 14:10] tafsiri commented on #180
Also to get your data out of the tensor you should use [.data method](https://js.tensorflow.org/api/0.9.0/#tf.Tensor.data) on tensors.

[2018-04-12 14:56] tafsiri commented on #180
A couple more thoughts courtesy of @nsthorat.

You could use [.buffer](https://js.tensorflow.org/api/0.9.0/#tf.Tensor.buffer) to convert your variable to a [TensorBuffer](https://js.tensorflow.org/api/0.9.0/#class:TensorBuffer), this is a mutable data structure with some handy set methods. Once the modification is done you would turn it back into a tensor and update your variable. Note that this a

[2018-04-12 15:40] #103 closed

[2018-04-12 15:44] caisq commented on #185
Fixed by PR: https://github.com/tensorflow/tfjs-layers/pull/125

[2018-04-12 15:44] #185 closed

[2018-04-12 15:46] pranayaryal commented on #180
Thanks that helps.

[2018-04-12 16:32] ManrajGrover commented on #160
@chenjin3 I believe it will be part of next release. You can check out the master branch of [tfjs-converter](https://github.com/tensorflow/tfjs-converter) and install it manually.

[2018-04-12 17:35] tafsiri commented on #179
Hi @clover113, I'm not terribly familiar with Angular, but it looks like the LicenseExtractor plugin/module is having some issue. tfjs-layers definitely has a package.json though. https://github.com/tensorflow/tfjs-layers/blob/master/package.json

You might want to look through your node_modules folder (in the @tensorflow directory) to see if things are laid out as expected. You should be able to

[2018-04-12 17:51] nsthorat commented on #13
This issue specifically doesn't talk about it, but we will plan on supporting checkpointing to TensorFlow SavedModels in node.js.

[2018-04-12 18:39] #172 closed

[2018-04-13 01:00] Neuroforge commented on #183
This can be achieved using yarn build and then creating a server around those files.

[2018-04-13 01:00] #183 closed

[2018-04-13 09:33] Neuroforge opened #187 "Cannot read property 'rank' of undefined"
To get help from the community, check out our [Google group](https://groups.google.com/a/tensorflow.org/forum/#!forum/tfjs).

#### TensorFlow.js version

Install via Yarn.

var version = '0.6.0';

#### Browser version

Chrome Version 65.0.3325.181 (Official Build) (64-bit)

#### Describe the problem or feature request

I am following this tutorial - https://github.com/tensorflow/tfjs-converter

Wh

[2018-04-13 15:47] tafsiri commented on #187
@pyu10055 would you be able to take a look?

@Neuroforge would you be able to add what the value of OUTPUT_NODE_NAME is.

[2018-04-13 15:47] #180 closed

[2018-04-13 16:39] tafsiri commented on #108
I will work on `resizeBilinear `

[2018-04-13 16:40] #176 closed

[2018-04-13 19:18] threedayoldcoffee opened #188 "Tensorflow Object Detection API Model - Unsupported Ops in ssd_mobilenet_v2 model"
To get help from the community, check out our [Google group](https://groups.google.com/a/tensorflow.org/forum/#!forum/tfjs).

#### TensorFlow.js version
@tensorflow/tfjs-converter: 0.1.1
(this was installed through pip)

#### Browser version
N/A (issue is related to tensorflowjs_converter)

#### Describe the problem or feature request
Unsupported Ops

I tried running the tensorflowjs_converter as

[2018-04-13 19:56] caisq opened #189 "Serialization of Glorot[Normal|Uniform] cannot be read by Python Keras"
To get help from the community, check out our [Google group](https://groups.google.com/a/tensorflow.org/forum/#!forum/tfjs).

#### TensorFlow.js version

0.9.1

Any model defined in TensorFlow.js that contain Glorot initializaters contains the class name like GlorotNormal. When one tries to load such models in Python Keras, an error is thrown complaining about improper config fields.

This is beca

[2018-04-13 19:56] caisq commented on #189
cc @ericdnielsen

[2018-04-13 20:10] caisq opened #190 "Serialization of Sequential models cannot be read by Python Keras"
To get help from the community, check out our [Google group](https://groups.google.com/a/tensorflow.org/forum/#!forum/tfjs).

#### TensorFlow.js version
0.9.1

Currently, a Sequential model defined and serialized from TensorFlow.js will contain the 'config' field of the model as a structure like
[code]

If one tries to load this with Python Keras or tf.keras, an error will be thrown. This is becau

[2018-04-13 20:10] caisq commented on #190
cc @ericdnielsen

[2018-04-13 20:11] ManrajGrover commented on #131
@nsthorat With recent discussions (https://github.com/tensorflow/tfjs-core/pull/868#issuecomment-379477113) in mind, should I proceed with implementing this or wait for a while?

[2018-04-13 20:21] caisq opened #191 "Replace .constructor.name calls"
with something more robust against minification / uglification

#### TensorFlow.js version
0.9.1

[2018-04-13 23:00] Neuroforge commented on #187
OUTPUT_NODE_NAME = ModelName/concat_stage7

Which is the same as the one defined when converting the model.

 tensorflowjs_converter --input_format=tf_saved_model --output_node_names='ModelName/concat_stage7:0' ./saved ./saved3

[2018-04-14 00:44] tangtai opened #192 "run tfjs on mobile using React Native"
To get help from the community, check out our [Google group](https://groups.google.com/a/tensorflow.org/forum/#!forum/tfjs).

#### TensorFlow.js version
0.9.1
#### Browser version
"react": "16.3.1",
"react-native": "0.55.2"
#### Describe the problem or feature request

just out of curiosity i tried run tfjs on react native, it sort of works, it works on debug mode but when i turn debug mode off th

[2018-04-14 10:10] Neuroforge commented on #187
Is {input: resized} this always "input".

Or should this be the name of the input tensor image?

[2018-04-14 11:35] Neuroforge commented on #187
The issue was with the {input:resized} and so it should be {image:resized} which is the name of the input tensor in the python code.

[2018-04-14 11:35] #187 closed

[2018-04-14 11:57] Neuroforge opened #193 "Input appears to be wrong shape"
To get help from the community, check out our [Google group](https://groups.google.com/a/tensorflow.org/forum/#!forum/tfjs).

#### TensorFlow.js version

Install via Yarn.

var version = '0.6.0';

#### Browser version

Chrome Version 65.0.3325.181 (Official Build) (64-bit)

#### Describe the problem or feature request

I think my input type is wrong.....

Should a list of numpy array be a 4D Tenso

[2018-04-14 13:51] Neuroforge commented on #193
Answer seems to be

const img = document.getElementById('myimg');
const tfImg = tf.fromPixels(img);
const smalImg = tf.image.resizeBilinear(tfImg, [368, 432]);
const resized = tf.cast(smalImg, 'float32');
const t4d = tf.tensor4d(Array.from(resized.dataSync()),[1,368,432,3])

Is there a cleaner way to do this?

[2018-04-14 15:06] nsthorat commented on #187
@pyu10055 have you released a new version of the converter since your friendlier error messages?

[2018-04-14 17:13] HassanAzzam commented on #19
When will it be available?

[2018-04-14 18:32] caisq commented on #19
Thanks, @HassanAzzam

Just for my curiosity: what model are you planning to write or port that requires Dot?

[2018-04-14 20:54] HassanAzzam commented on #19
Currently, trying to practice it on a skip-gram model.

[2018-04-15 01:33] caisq commented on #19
Thanks, @HassanAzzam . We'll prioritize adding Dot.

[2018-04-15 02:58] reiinakano opened #194 "Tf.js Playground"
Do you have any plans to bring back deeplearn.js Playground as TF.js Playground?

[2018-04-15 03:10] erikwilson commented on #36
Just wanted to make a quick mention that, as far as I know and have tried the tfjs CPU backend does work in Node.js, so for people wanting to experiment or use small tensors the lack of an accelerated binding shouldn't be an issue.

Related discussions:
https://github.com/tensorflow/tfjs/issues/78
https://github.com/tensorflow/tfjs/issues/76

It would be nice if we could do something like:
[code]

[2018-04-15 05:40] jart commented on #36
Have we examined the webassembly implementation? Is it able to generate SSE, AVX, etc. CPU opcodes? Because let's assume: a) that hasn't been done; and b) webassembly is capable of choosing aligned non-overlapping (i.e. `__restrict`) memory addresses. In that case, I'd love to bring it to the attention of browser authors as soon as possible. It might be nice to *have the option* in the future to g

[2018-04-15 06:51] HassanAzzam commented on #19
Thanks alot, @caisq😃

[2018-04-15 09:33] chenjin3 commented on #160
@ManrajGrover  It works! Thank you for your guide.

[2018-04-15 15:25] jgartman commented on #108
I'll finish `matMul` as well.

[2018-04-15 15:49] erikwilson commented on #36
I agree with @nsthorat in that I think webassembly is non-starter. There is already a Typescript CPU backend that works great, and I have a feeling that using WASM to create yet another CPU backend will yield little improvement in comparison to getting GPU acceleration working.

The bigger issue I think that has been hinted at, is WebGL fast enough for Node (in comparison to Python Tensorflow)? Pe

[2018-04-15 16:19] manrajgrover opened #195 "Clean up tf.prelu, tf.preluDer, tf.elu and tf.eluDer"
To get help from the community, check out our [Google group](https://groups.google.com/a/tensorflow.org/forum/#!forum/tfjs).

#### TensorFlow.js version
0.9.0

#### Browser version
Version 65.0.3325.181 (Official Build) (64-bit)

#### Describe the problem or feature request

Tensorflow API does not expose `prelu` but tfjs API does. I think we can remove the method to align with it. If not, we shou

[2018-04-15 22:40] DakshMiglani commented on #13
any updates on this?

[2018-04-16 01:39] amellnik commented on #109
This also occurs if the user imports `tf` more than once in a webpack project (for example, in multiple components using angular-cli).

[2018-04-16 15:19] #190 closed

[2018-04-16 15:26] #57 closed

[2018-04-16 15:42] tafsiri commented on #194
@reiinakano yes... Its going to be somewhat different though, a PR is about to land here https://github.com/tensorflow/tfjs-website/pull/128

[2018-04-16 15:47] tafsiri opened #196 "Make debug info page"
Add a debug info page to the website that can display relevant device information and precision info to help debugging issues across devices.

I can start this, but will probably want @dsmilkov to review / add the ops for content we want to see.

[2018-04-16 15:56] tafsiri commented on #179
Thanks @clover113, let us know if you do run into a bug stemming from the library.

[2018-04-16 15:56] #179 closed

[2018-04-16 18:07] tafsiri commented on #194
@reiinakano There is a new "Try it live" button on https://js.tensorflow.org/. Try it out and let us know what you think.

[2018-04-16 18:13] nsthorat commented on #36
@erikwilson that is likely the API we'll be going for with node! WebGL for node is going to be similar speeds as the browser (headless-gl is a good project), but in general we'll likely focus on TF C API for node. When we release the node repository, this will also be a template for other backends.

@jart we have done a few investigations into WASM, and we'll likely open up the repo that has this

[2018-04-16 18:16] chcaru opened #197 "Mixed input dtypes"
#### TensorFlow.js version
"@tensorflow/tfjs@^0.9.1":
  version "0.9.1"
  dependencies:
    "@tensorflow/tfjs-core" "0.7.1"
    "@tensorflow/tfjs-layers" "0.4.1"
#### Browser version
Chrome/65.0.3325.181
#### Describe the problem or feature request
I would expect to be able to have inputs of different dtypes, such as input1 with int32 and input2 with float32. This is useful when some inputs are em

[2018-04-16 18:29] tafsiri commented on #194
@ManrajGrover. XOR sounds like it could potentially be a good option. It wouldn't require pulling in external libraries, and would have a fairly short implementation. I think you had a PR for this a while back so I'll take a look!

I'd rule out mnist as it involves pulling too much data on load imo. I think this is something that should load quickly and have a relatively short code snippet. The tu

[2018-04-16 18:30] chcaru commented on #197
Sorry, I posted too soon. I'm used to using Keras, and typically when using sparseCategoricalCrossentropy the output tensor should be int32, but after a little debugging, it seems that this instead expects a float32.

I think the error message could be more clear and include the layer name if possible.

[2018-04-16 18:30] #197 closed

[2018-04-16 18:35] tafsiri commented on #193
@Neuroforge Take a look at https://js.tensorflow.org/api/latest/#stack to create the final 4d tensor.

[2018-04-16 18:39] ManrajGrover commented on #194
@tafsiri Agreed. Yeah, sure. Here it is: https://github.com/tensorflow/tfjs-core/pull/804

Let me know if I can be of any help.

[2018-04-16 18:53] #195 closed, assigned to nobody

[2018-04-16 21:58] #193 closed

[2018-04-17 02:10] dsmilkov commented on #131
I think the best way is to go over issues and see what people run into when trying to port their existing models. https://github.com/tensorflow/tfjs/issues/148 is a good example of that. Other folks already started adding some of those. You can comment on that thread to claim one of the ops.

`StridedSlice`, `SpaceToBatchND` and `BatchToSpaceND` come up often.

Thanks Manraj!

[2018-04-17 02:34] Lewuathe commented on #188
Thanks for the feedback. Some ops (resizeBilinear, where, split) look already implemented in tfjs-core. So overall they are the missing ops in tfjs-core.

* All
* Assert
* Enter
* Exit
* LoopCond
* Merge
* NextIteration
* NonMaxSuppressionV2,
* Rank
* Size
* StridedSlice
* Switch
* TensorArrayGatherV3
* TensorArrayReadV3
* TensorArrayScatterV3
* TensorArraySizeV3
* TensorArrayV3
* TensorArrayWrite

[2018-04-17 05:18] threedayoldcoffee commented on #188
I went through the provided list of [ops](https://raw.githubusercontent.com/tensorflow/tensorflow/master/tensorflow/core/ops/ops.pbtxt), and compared it to the list of unsupported ops output by tensorflowjs_converter for this ssd_mobilenet_v2 model, and it appears that none of the ops used are custom.

[2018-04-17 15:16] #136 closed

[2018-04-17 16:42] nsthorat commented on #10
Fixed by https://github.com/tensorflow/tfjs-layers/pull/129

[2018-04-17 16:42] #10 closed

[2018-04-17 16:46] nsthorat commented on #70
This is fixed by @Lewuathe

[2018-04-17 16:46] #70 closed

[2018-04-17 18:09] caisq opened #198 "Support custom loss function for model training and evaluation"
To get help from the community, check out our [Google group](https://groups.google.com/a/tensorflow.org/forum/#!forum/tfjs).

#### TensorFlow.js version
0.9.1

Currently, if one tries to define a custom loss function and use it in training of evaluation of a tf.Model, a la Python Keras, an error will be thrown saying unknown loss. losses.get() needs to be revised to fix that.

[2018-04-17 21:54] Neuroforge opened #199 "Improve error messaging around INVALID_ENUM readpixels."
To get help from the community, check out our [Google group](https://groups.google.com/a/tensorflow.org/forum/#!forum/tfjs).

Hello,

Thank you for you help so far. I have my code working in Firefox and Chrome. When using Safari however i am seeing different behaviour. Some of the detections appear to be different when it does work but the only error output is as follows.

#### TensorFlow.js versi

[2018-04-18 02:24] #159 closed

[2018-04-18 04:52] chcaru opened #200 "Memory leak during training"
#### TensorFlow.js version
"@tensorflow/tfjs@^0.9.1":
  version "0.9.1"
  dependencies:
    "@tensorflow/tfjs-core" "0.7.1"
    "@tensorflow/tfjs-layers" "0.4.1"

#### Browser version
68.0.3397.0 (Official Build) canary (64-bit)

#### Describe the problem or feature request
When training a simple model with `fit()`, I'm experiencing a huge memory leak. See below image. It grows to eventually consu

[2018-04-18 05:39] kallols opened #201 "pre-trained model getting trained again while tfjs execution"
I have created a keras model and saving in tfjs format like below:

[code]

when I am executing this model in tfjs, it is executing the epocs again. in this case 26 epocs are being executed in javascript when I called the json file.

I have already trained with those epocs before converting it to json, then is this  getting executed again ?

What to do if I don't want it to be executed while calli

[2018-04-18 13:30] nsthorat opened #202 "Throw useful error messages when tensor-inputs are not tensors."
Right now we have cryptic errors if you pass non-tensors to ops. Let's assert inputs are valid with a useful error messages in core.

I will take this on since it's tangentially related to stuff I was going to do about accepting numbers in place of tensors in some situations.

[2018-04-18 13:32] Piyush3dB opened #203 "Tensor shape inference"
The following code shows how shape inference can be used to statically query the shape of a tensor before the computation graph has been run:

[code]

Is there a function similar to `get_shape()` in tfjs?

[2018-04-18 13:46] tafsiri commented on #203
In tfjs shape is a property/field of a tensor, so you can call `.shape` on your tensor (`z.shape` in this case)

[2018-04-18 13:48] tafsiri commented on #201
Could you post your javascript code that loads the model/json?

[2018-04-18 13:51] kallols commented on #201
@tafsiri  Please find below js code:

[code]

[2018-04-18 13:54] tafsiri commented on #201
And what is the output you are seeing that you do not expect to see? Is there output for the 26 epochs mentioned in your issue?

[2018-04-18 14:02] kallols commented on #201
@tafsiri  when the json file is called in browser, following things are executing(Please find the attachment and have a look). I don't want these epocs to be executed again in browser.
![epoc issue](https://user-images.githubusercontent.com/32521972/38936729-0f50dcac-433f-11e8-94a7-5efb11ca20a1.PNG)

[2018-04-18 14:06] tafsiri commented on #201
What you are seeing in the browser network tab is the model being downloaded from your server/disk. The model structure is in the .json file and the group1-*** files are the model weights split up into multiple files. There are no epochs being executed or training occurring.

[2018-04-18 14:08] kallols commented on #201
@tafsiri okay. Thanks

[2018-04-18 14:08] #201 closed

[2018-04-18 14:09] #203 closed

[2018-04-18 14:34] tafsiri commented on #192
@tangtai Interesting! Is this something you'd be interested in looking into further? If so you could try adding a guard at this line https://github.com/tensorflow/tfjs-core/blob/1dd98bb7552d168d4ae4e09b3ef9771dd304cad8/src/environment.ts#L403 to also return early if `window.location.search` is undefined.

Note that this is in [tfjs-core](https://github.com/tensorflow/tfjs-core/). So an easier way

[2018-04-18 14:41] tafsiri commented on #194
Thanks @ManrajGrover, looking at it now, I think it may be a bit on the long side for this codepen snippet—though using the layers api might make it smaller. It may benefit from a fuller tutorial/blog post if its goal is to explain stuff, I worry that just having the code might be overwhelming for some. As is i like that the whole snippets fits in a single screenful.

As an aside I also think ther

[2018-04-18 19:24] ManrajGrover commented on #194
@tafsiri You mean front page of the website or codepen? Yeah, now even I think it would be better as a tutorial or a blog. +1 to that.

[2018-04-18 19:34] #198 closed

[2018-04-18 19:37] ManrajGrover commented on #131
Thanks for sharing @dsmilkov. Agree to everything. Since I haven't worked with them, I would need sometime understanding these operations (especially their gradients). If you could share some resources on it, it would be great since it's tough to find gradients for such operations.

Just a side note, I was going through [tensorflow/tfjs-layers](https://github.com/tensorflow/tfjs-layers) and found

[2018-04-18 20:35] nsthorat commented on #131
+1 I think it make sense to push the loss functions that live in layers into core!

[2018-04-18 20:38] shanqing-cai opened #204 "Make Reshape public"
To get help from the community, check out our [Google group](https://groups.google.com/a/tensorflow.org/forum/#!forum/tfjs).

#### TensorFlow.js version
0.9.1

The implementation exists, but is not exposed in public tf.layers.* namespace.

[2018-04-18 20:39] tafsiri commented on #194
@ManrajGrover yeah the codepen code matches the code shown on the front page right now.

I'll close this issue for now.

[2018-04-18 20:39] #194 closed

[2018-04-18 22:14] #204 closed

[2018-04-18 22:28] nsthorat opened #205 "[Layers] Use the public API in unit tests."
Right now we test against the classes directly, which causes things like this bug:
https://github.com/tensorflow/tfjs/issues/204

We should use the public API to test the functionality of layers (testing all the way through exports).

Specifically, in unit tests, import index and test through that: `import * as tfl from 'index';`

[2018-04-19 01:00] tangtai commented on #192
@tafsiri I would be interested in looking into it further, but i only have limited knowledge about things working in the backend if you don't mind working me thought it. so i downloaded the tfjs-core folder and put it in to my project, when i tried to import it, it is giving me errors:

----------------------------------------------------------------------------------------------------
### error:

[2018-04-19 02:02] jgartman commented on #188
`rank` and `size` look like they would be pretty trivial to implement since those are already attributes in the `Tensor` class.

[2018-04-19 17:37] ry opened #206 "Support uint8 dtype"
Is this a desired feature?

[2018-04-19 18:14] dsmilkov commented on #206
Yes, it is on our roadmap for doing quantized math in our shaders, but our shaders right now only work with floats. Curious if you had a different use case in mind?

[2018-04-19 18:35] ry commented on #206
Would you be opposed to adding uint8 now before having quantized shader support? Even if it offers no storage size benefit in WebGL, it would be good to be able to future proof code that wanted to handle uint8 tensors. EG a library that returned MNIST images.

[2018-04-19 18:40] hpssjellis opened #207 "Try It Live. Link can't be copied"
Can others copy the link for "Try it live" paste it and it works?

example Link: [https://codepen.io/pen?&editors=1011](https://codepen.io/pen?&editors=1011)

 I would like to put it on my site, but the copied link doesn't open up the Tensorflowjs demo, for me it opens a blank copepen.io page.

 It does works fine when you click the js.tensorflow.org  "Try it live" button.

P.S. I wold love it if

[2018-04-20 00:25] tafsiri commented on #200
@caisq would you be able to take a look at this?

[2018-04-20 01:20] caisq opened #208 "tf.metrics.* should be exposed"
To get help from the community, check out our [Google group](https://groups.google.com/a/tensorflow.org/forum/#!forum/tfjs).

#### TensorFlow.js version
0.9.1

[2018-04-20 02:09] jaxball commented on #71
Is someone working on this? I'd like to get the gradients for MobileNet to perform finetuning in the browser and visualize features on the original image like Deepdream does.

After some digging through, I confirm the need for this ticket as part of my research and when I printed out `filteredTape` in `Engine.prototype.gradients()`, I also see some _undefined_ layers interlaced between consecutive

[2018-04-20 02:29] dsmilkov commented on #71
You need the gradients for depthwise conv in order to analyze MobileNet's gradients. We will add this early next week. Stay tuned. In the meantime if anyone else is interested in taking a stab at this, I'll be happy to review.

[2018-04-20 02:34] dsmilkov commented on #208
Losses are already exposed: https://github.com/tensorflow/tfjs-core/blob/master/src/ops/ops.ts#L225

I think the problem in the mailing list might be something else.

[2018-04-20 02:35] jaxball commented on #71
Gotcha. If I wanted to take a quick jab at it, what are some files I should specifically look out for?
My project deadline is next week so I'd like to have it added by early next week. I'd love to help given some pointers!

Thanks,
Jason

[2018-04-20 02:43] dsmilkov commented on #71
Let's take conv2d since it's very similar to depthwise conv2d. [Here are the lines](https://github.com/tensorflow/tfjs-core/blob/master/src/ops/conv.ts#L190-L209) that specify forward mode and gradients for conv2d. That op then uses 2 kernel/backend ops [specified here](https://github.com/tensorflow/tfjs-core/blob/master/src/kernels/backend_webgl.ts#L810-L819).

DepthwiseConv2d is [analogous](http

[2018-04-20 02:48] dsmilkov commented on #202
We probably won't expect shapes to be specified as tensors, unless you have a concrete use-case that needs shape to be a tensor?

[2018-04-20 03:09] caisq commented on #208
@dsmilkov Acknowledged, thanks for pointing this out.

[2018-04-20 03:10] caisq commented on #208
It is a little misleading that the methods currently under tf.losses.* are from tfjs-core. Maybe we should include the loss functions from tfjs-layers in it as well. There are a few missing in tfjs-core, such as `categoricalHinge`.

[2018-04-20 03:14] dsmilkov commented on #206
Since doing math with uint8 is not possible yet, adding uint8 as a type is not the highest priority for now, but we want to eventually add it. Is it an option for you to store those images using native `UInt8Array` for now?

[2018-04-20 03:33] dsmilkov commented on #202
Original issue fixed in https://github.com/tensorflow/tfjs-core/pull/967

[2018-04-20 03:33] #202 closed

[2018-04-20 03:37] hpssjellis commented on #207
@tafsiri

Well that makes sense, for all that I don't really like build tools, this is screaming out for a Visual Studio IDE Extension to make Codepen URL's.

 I do still like the idea of a webpage with tons of Tensorflowjs  [Codepen.io](https://codepen.io/) button  examples.

Close this issue if you think it is done.

[2018-04-20 03:44] hpssjellis opened #209 "Where did the old deeplearnjs issues go?"
I was looking for an issue that @tafsiri solved in Deeplearnjs that would have been useful with Tensorflowjs, but it looks like the old issues have all been cleansed. Is there an easy way to get them back? I often search through closed issues when I am really stuck.  This is the one I was looking for which was cached in my browser, but not live online.

![image](https://user-images.githubuserconte

[2018-04-20 11:43] bileschi opened #210 "Possible flaky test in tfjs-layers: initializers_test.ts"
#### TensorFlow.js version
0.8.0

#### Browser version
Firefox 52.0.0

#### Describe the problem or feature request
Test fails, but only sometimes
Firefox 52.0.0 (Linux 0.0.0) Glorot normal initializer {"BACKEND":"test-cpu"} 1D GlorotNormal FAILED
        Expected 0.0831744114557902 to be less than 0.05840124289194743.
	@src/initializers_test.ts:326:6 <- src/initializers_test.js:662:25

#### Code

[2018-04-20 14:09] tafsiri commented on #209
@hpssjellis we closed/disabled github issues on tfjs-core (which was previously tfjs-core) and moved open issues to this repository (so we could track everything in one place). Unfortunately there isn't a way that I am aware of on GitHub to allow access to the old issues while disabling submitting new issues to that repository.

[2018-04-20 15:11] bileschi opened #211 "Calling tf.Sequential() uppercase, has bad, strange effect"
#### TensorFlow.js version
0.9.1

#### Browser version
Chrome 66.0

#### Describe the problem or feature request
Calling tf.Sequential() (incorrectly... uppercase... removes 'layers' from the tf object.

#### Code to reproduce the bug / link to feature request

[code]

[2018-04-20 17:35] zandaqo commented on #36
Is there any ETA/schedule for this? Can we follow this work, meaning, is there a separate project/branch for it?

Since PropelML is dropping its implementation in favor of tfjs, this becomes the only place where we can expect this feature. WebGL/WebAssembly is all good and fun, but to use Node.js for serious training we need to use CUDA and that means bindings for TF C API.

[2018-04-20 17:47] dsmilkov commented on #206
Starting with something small would be great. I'll be happy to review and get that in. Thanks!

[2018-04-20 18:06] dsmilkov commented on #36
We are planning to make the node bindings public very soon, just need to work out a few more details. Stay tuned!

[2018-04-20 18:16] bileschi commented on #205
#137 is intended to fix this issue.  External API is now used in most locations where the such API is exposed.

[2018-04-20 18:16] #205 closed

[2018-04-20 21:40] NahomAgidew commented on #124
@bileschi Is this issue still pending?

[2018-04-21 16:22] zaidalyafeai opened #212 "Cropping2D implementation"
#### TensorFlow.js version
0.9.1
#### Browser version

#### Describe the problem or feature request
I am happy to contribute by implementing these layers.

#### Code to reproduce the bug / link to feature request

[2018-04-22 07:29] m4nuC opened #213 "bidirectional wrapper throws assertFeedCompatibility error"
#### TensorFlow.js version
v0.9.0
#### Browser version
Chrome V65
#### Describe the problem or feature request
Using a bidirectional wrapper around an LSTM layer throws the following error:
**Uncaught (in promise) TypeError: Cannot read property 'dtype' of undefined at assertFeedCompatibility**

#### Code to reproduce the bug / link to feature request
[code]

[2018-04-22 12:24] carlthome opened #214 "Feature request: FFT (and other tf.spectral ops)"
tfjs has a lot of essential math ops already which is truly fantastic! A big missing primitive for me to be able to fully rely on tfjs for building deep learning music apps is a `tf.fft`/`tf.ifft` however. Is this in the pipeline? Perhaps the one in Web Audio's AnalyserNode could be exploited somehow?

[2018-04-22 16:21] dsmilkov opened #215 "Add backend.floorDiv and call it from the high-level tf.div op when dtype is int32"
To align fully with TF's division behavior, we need to add `backend.floorDiv` and have a logic in the high-level `div` operation that mimics the following Python behavior:

[code]

[2018-04-23 03:29] Rafi993 opened #216 "Using model from tensorflow in tensorflow.js"
#### TensorFlow.js version
 0.9.1
#### Browser version
Version 68.0.3403.0 (Official Build) canary (64-bit)
#### Describe the problem or feature request
Feature
#### Code to reproduce the bug / link to feature request
I am able to import kerras model that is saved as .h5 file into tensorflow.js. But is there a way to import tensorflow model from python into tensorflow.js (from .meta file). I could

[2018-04-23 03:34] tushuhei commented on #85
Hi @pyu10055, is there any update from the grappler team? I'm handling this issue by removing `arithmetic` currently, but wondering if we could have a cleaner solution in the near future.

[2018-04-23 05:45] Rafi993 commented on #216
Sorry for the issue. I guess I didn't read the docs properly.

[2018-04-23 05:45] #216 closed

[2018-04-23 07:18] batrlatom opened #217 "Load models from local file or buffer?"
I want to load models with some other method than through http download. For example, I want to train model myself, save it locally into the file and let user download the model for later load. I tried to use JSON.stringify and parse, but without success. Is (will be) it possible?

[2018-04-23 10:33] batrlatom commented on #217
Duplicate of #13

[2018-04-23 10:33] #217 closed

[2018-04-23 10:34] batrlatom commented on #101
Do you have some time frame for this? month, quartal?

[2018-04-23 11:49] huguesg12 opened #218 "Error importing a keras model: Unknown layer: Dot"
#### 0.9.0, (and also 0.8.0)

#### Firefox & Chrome

####
I tried implementing the 'How to import a Keras Model into TensorFlow.js' tutorial, but could not manage to import my model, and got an: 'Uncaught (in promise) Error: Constructing tensor of shape (28) should match the length of values (22)' which I cannot make sense of. In particular, 28 is the actual number of output units of my model, but

[2018-04-23 13:36] nsthorat commented on #101
Exporting models from the browser is slated for this quarter (next 2 months).

[2018-04-23 14:52] #208 closed

[2018-04-23 15:53] #20 closed

[2018-04-23 16:00] bileschi commented on #124
Looks like `getUniqueTensorName` is covered, but `isValidTensorName` is not

[2018-04-23 16:04] tafsiri commented on #184
@xam-ps thanks for reporting this. We recently added a debug page to help us diagnose possible causes, could you go to https://js.tensorflow.org/debug/ and post a screenshot of what you see there?

[2018-04-23 20:38] ManrajGrover commented on #131
@nsthorat I was thinking of taking this one up. Can I get a go-ahead?

[2018-04-23 21:01] bileschi commented on #218
h5py seems to indicate that the weights are the correct sizes.

I then tried converting locally, and it seems to have created a group1 file with the correct size.   Can you try making sure your converter is up to date (pip install) and running again on your .h5 file?

[code]

[2018-04-23 21:13] huguesg12 commented on #218
I updated tensorflowjs (which I installed yesterday, but then updated keras
before outputing these files).
I know have the right size for the files, but a new error is now occuring :
Uncaught (in promise) RangeError: byte length of Float32Array should be a
multiple of 4
The new files are at the same adress : http://huguesg.fr/incidents/

2018-04-23 23:01 GMT+02:00 Stanley Bileschi <notifications@g

[2018-04-23 21:18] dsmilkov opened #221 "Align tf.resizeNearestNeighbor with TF"
The [following test](https://github.com/tensorflow/tfjs-core/blob/master/src/ops/resize_nearest_neighbor_test.ts#L24) fails when ran against TensorFlow Python:
```resizeNearestNeighbor simple alignCorners=false```

TF Python gives:   2,2,2,2,2,2,4,4,4.
The current implementation gives: 2,2,2,4,4,4,4,4,4.

[2018-04-23 21:18] nsthorat commented on #131
You have my go ahead :) thanks Manraj

[2018-04-23 21:31] dsmilkov commented on #221
Here is the python code to reproduce it

[code]

[2018-04-23 21:33] dsmilkov commented on #221
The other test that fails is ```matches tensorflow w/ random numbers alignCorners=false```

[2018-04-23 22:25] nkreeger commented on #36
As mentioned - here is our node binding https://github.com/tensorflow/tfjs-node

The project is still under heavy development and we haven't published anything to NPM to date. We only support new-ish Linux and Mac OS builds. We'll have details for how to support GPU and other optimized builds this week.

[2018-04-24 00:40] Lewuathe commented on #221
@dsmilkov Thanks for letting me know. I'll take a look.

[2018-04-24 01:54] dsmilkov commented on #199
That error in the console is expected. We tests some webgl features in the browser, and Safari logs an error, which we they take into account when deciding what webgl features are supported.

Other than that log message, do you see any issues with the game itself?

[2018-04-24 02:14] nsthorat opened #224 "Warm up layers models when they are loaded."
If we pass a tensor of zeros to the model it will compile all the shader programs and upload weights to the GPU, thus making the first inference much faster.

This should be an easy win.

[2018-04-24 02:46] Rafi993 commented on #218
I do have similar issue. After importing when I run the code it says

[code]

[2018-04-24 02:55] Rafi993 commented on #218
I did try updating tfjs to version 0.10.2. I do seem to get the following error now
[code]

[2018-04-24 03:41] dsmilkov commented on #218
Hi @Rafi993 , regarding the "No backend found in registry." error - there was a problem with 0.10.2. We just released 0.10.3 and that problem should (hopefully) go away.

[2018-04-24 03:43] Rafi993 commented on #218
thanks @dsmilkov  but now I have the error
[code]

[2018-04-24 04:58] huguesg12 commented on #218
Still have the same error here with 0.10.3 :
tfjs@0.10.3:1 Uncaught (in promise) RangeError: byte length of Float32Array
should be a multiple of 4
    at typedArrayConstructByArrayBuffer (<anonymous>)
    at new Float32Array (native)
    at https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@0.10.3:1:312391
    at Array.forEach (<anonymous>)
    at https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@0.10.3:1:

[2018-04-24 06:34] antonylawler opened #225 "tf.ones size limit"
To get help from the community, check out our [Google group](https://groups.google.com/a/tensorflow.org/forum/#!forum/tfjs).

#### TensorFlow.js version
tfjs@0.9.0
#### Browser version
Chrome 66.0.3359.117
#### Describe the problem or feature request
tf.transpose or tf.ones not working.
#### Code to reproduce the bug / link to feature request
<html>
<head>
<script src="https://cdn.jsdelivr.net/npm

[2018-04-24 06:35] antonylawler commented on #225
tf.ones([10000])

results in tensor with 8192 records set as 1, and the remainder as 0.

[2018-04-24 06:36] antonylawler commented on #225
tf.ones([10000])

only fills 8192 1's, with the remainder as 0.

[2018-04-24 06:51] ManrajGrover commented on #225
@antonylawler Hi, I cannot reproduce this error with the latest version. Could you please fill the template in the 1st comment which would help debug this?

[2018-04-24 08:49] mysticatea opened #226 "Compile error in @tensorflow/tfjs-layers/dist/models.d.ts"
#### TensorFlow.js version

[code]

#### Browser version

N/A

#### Describe the problem or feature request

Cannot import `@tensorflow/tfjs` from TypeScript.

[code]

[code]

#### Code to reproduce the bug / link to feature request

https://github.com/mysticatea/tfjs-issue-ts

[2018-04-24 08:58] xam-ps commented on #184
@tafsiri this is the error I get on the console:

[code]

[2018-04-24 09:13] xam-ps commented on #184
Just ran 'fromPixels' again (v.0.9.0) on the API-Documentation. As result I now get really strange values:

`[ [[233713536, -2147483648, -2147483648],]]`
`[ [[233714048, 0, -2147483648],]]`
`[ [[233713536, 0, 0],]]`
`[ [[233714048, 0, 0],]]`
`[ [[233714048, -2147483648, 0],]]`

Output changes every couple seconds. It seems like somehow a time-function is involved.
No output on the console.

[2018-04-24 14:11] nsthorat commented on #226
Hi Toru,

I think the tsconfig settings are off. I cloned your repo and transplanted
our tsconfig and it built:
https://github.com/tensorflow/tfjs-core/blob/master/tsconfig.json

On Tue, Apr 24, 2018 at 4:49 AM, Toru Nagashima <notifications@github.com>
wrote:

[2018-04-24 14:11] #209 closed

[2018-04-24 14:31] bileschi commented on #218
I was able to load the model using 0.10.3.

Can you report the size of the weight shards created by converter?  Can you also make sure that your browser is not caching older, incorrect values of the weights?

The sizes converter created here are:
[code]

You can force reloading of the cached elements in chrome with ctl + shift + r .

[2018-04-24 16:25] bileschi commented on #224
Can you explain a little more?  Something like calling `model.predict` internally as the last step in `model.compile` ?

[2018-04-24 17:04] nsthorat commented on #224
Actually I was thinking `model.predict(tf.zeros(inputLayer.shape));` as the last step of `tf.loadModel`.

[2018-04-24 17:48] bileschi commented on #224
Seems reasonable.  Quick question:  In general a model might have input layer(s) with incomplete shapes, say [?, 100, 100],  typically for batch.   If we _guess_ the batch size, and are incorrect, does the warm-up behavior still work, or does the GPU memory need to be re-allocated because of the shape change?

[2018-04-24 17:51] camsjams commented on #184
Using Ubuntu 16.04 on Chrome, Chromium, Firefox, and Firefox Developer Edition I get results:

![image](https://user-images.githubusercontent.com/833485/39204637-2f419aac-47ad-11e8-86bb-6c3581223fba.png)

But on a Windows machine we see the same error message as @xam-ps on Chrome, Firefox, and Edge

[2018-04-24 18:02] huguesg12 commented on #218
I do have exactly the same size, and tried reloading as advised, but still
get the same error.
Have you tried with the files on http://huguesg.fr/incidents/ ?

2018-04-24 16:31 GMT+02:00 Stanley Bileschi <notifications@github.com>:

[2018-04-24 18:49] dsmilkov commented on #224
Good q. In that case, we should warmup with the most common case in inference, `batchSize=1`. If we happen to be wrong, some of the GPU programs will be re-compiled, but that's fine.

[2018-04-24 19:29] ManrajGrover opened #227 "Second derivative grads throws an error"
To get help from the community, check out our [Google group](https://groups.google.com/a/tensorflow.org/forum/#!forum/tfjs).

#### TensorFlow.js version
0.10.0

#### Browser version
Version 65.0.3325.181

#### Describe the problem or feature request

In documentation, second derivative example under tf.grad throws `Tensor is disposed` error. https://js.tensorflow.org/api/0.10.0/#grad

#### Code to

[2018-04-24 20:50] pyu10055 commented on #146
error message added.

[2018-04-24 20:50] #146 closed

[2018-04-24 20:51] pyu10055 commented on #147
methods are added.

[2018-04-24 20:51] #147 closed

[2018-04-24 20:52] pyu10055 commented on #56
control flow support is added for release 0.2.0

[2018-04-24 20:52] #56 closed

[2018-04-25 02:00] mysticatea commented on #226
I found the compile error happens if I enabled `"strictNullChecks": true` build option.

The `"strictNullChecks": true` option is very useful option to prevent null dereference errors.
It's very inconvenient if I cannot use the option in all software that uses tensorflow.js.

[2018-04-25 14:07] chenjin3 opened #229 "transpose operation is removed during conversion with tensorflowjs_converter"
#### TensorFlow.js version
tfjs-converter v0.1.2

transpose operation ( between two reshape operations for image scaling ) is missing  occasionally

[2018-04-25 14:32] dsmilkov commented on #229
Hi, can you share more details? Are you converting a SavedModel or a Keras model  and can you share code to help us reproduce the issue? Thanks!

[2018-04-25 15:35] rmlarsen commented on #85
@nsthorat I'm debugging this now.

[2018-04-25 15:58] camsjams commented on #36
Thanks @nkreeger looking forward to it!

[2018-04-25 15:58] janhuenermann opened #230 "Adding AddSign optimizer"
Hey guys,

I really like what you're doing with Tensorflow-JS and would like to contribute. Would you guys appreciate if I implement the [add-sign optimizer](https://arxiv.org/pdf/1709.07417.pdf) or are you trying to keep the codebase/number of optimizers small? I already got the base implementation, basically only the tests are missing. Let me know what you think.

Best,
Jan

[2018-04-25 16:38] thibo73800 opened #231 "Distribution Normal from Tensors"
#### TensorFlow.js version

Any

#### Browser version

Any

#### Feature request

The only function who refer to a normal distribution is tf.randomNormal, the two parameters: mean and
stdDev must be number and not tensor thereby the resulting tensor is not differentiable... Moreover, we can create only a set of values from only one pair of mean and variance instead of using multiple pairs.

It wou

[2018-04-25 17:08] jameswex opened #232 "implement TF cumsum op"
To get help from the community, check out our [Google group](https://groups.google.com/a/tensorflow.org/forum/#!forum/tfjs).

#### TensorFlow.js version
0.10

#### Browser version

#### Describe the problem or feature request

implement TF cumsum operation https://www.tensorflow.org/api_docs/python/tf/cumsum

#### Code to reproduce the bug / link to feature request

[2018-04-25 17:25] pyu10055 commented on #188
@threedayoldcoffee it is surprise to see Assert op, can you make sure the output nodes do not contain nodes from the training graph? thanks.

[2018-04-25 17:35] dsmilkov commented on #188
An idea: What's the downside of implementing it in tfjs but produce console.warn() message that it affects performance. Basically, to be a little more flexible when seeing an assert op.

Also assert might be good to have if you are debugging why the activations in python and tfjs don't not match

[2018-04-25 17:42] dsmilkov commented on #232
Interested in implementing? Happy to review and give guidance. Should be extremely similar to how sum is implemented: https://github.com/tensorflow/tfjs-core/blob/master/src/kernels/backend_webgl.ts#L447

[2018-04-25 17:47] dsmilkov commented on #230
We are trying to be use-case oriented in the early days when the team is smaller so we have less code/bugs to maintain.

Do you have any particular use case where AddSign is needed? Otherwise, we can close this issue and revisit later.

Thanks!

[2018-04-25 17:50] jameswex commented on #232
sure

[2018-04-25 17:53] ManrajGrover commented on #230
Tensorflow API does not implement AddSign Optimizer, which was one of the reasons we had to close https://github.com/tensorflow/tfjs-core/pull/260 which implemented the same.

[2018-04-25 17:56] dsmilkov commented on #230
Good point. I forgot about that.

[2018-04-25 17:56] #230 closed

[2018-04-25 18:18] thibo73800 commented on #231
I would be ok to implement it

[2018-04-25 18:34] rmlarsen commented on #85
So far, it looks like the removal of reshape is correct with the (internal) code at head, and the graph runs without error. We fixed several shape inference bugs in TF in early April, which caused Grappler to materialize incorrect shapes, and which may be the cause of what you see.

[2018-04-25 18:55] #165 closed

[2018-04-25 19:54] tangtai commented on #192
yes, and i did that and bundled the tfjs-core folder into my app but i got another error when i try to import it into my components doing:

`import * as tfcore from './tfjs-core'`

it says "cpu backend was already registered as global"

<img src="https://user-images.githubusercontent.com/29759753/39269164-f77f813a-4886-11e8-9589-bfec829bdfad.PNG" width="300">

[2018-04-25 22:02] tangtai commented on #192
@tafsiri Yes i tired that i added code:

`  if (typeof window === 'undefined' || typeof window.location.search === 'undefined') {
    return features;
  }`

but the error pop up else where in backend_cpu.js, the only thing uses `window.location.search` is the `const urlParams` what is the const used for in the tfjs-core?

<img src="https://user-images.githubusercontent.com/29759753/39275007-94d7c9

[2018-04-25 22:42] dsmilkov commented on #231
That would be great. Thank you!

[2018-04-25 23:44] #85 closed

[2018-04-25 23:47] pyu10055 commented on #85
Thanks @rmlarsen, the model @kimamula shared uses deprecated param name for Squeeze op, which is ignored by the FrozenModel, just added support for that, and model is executed without error. @tushuhei you can checkout the latest converter or wait for 0.2.0 release.

[2018-04-26 00:22] dsmilkov opened #233 "Add dilations to tf.layers.separableConv2d"
The config object of [tf.layers.separableConv2d](https://js.tensorflow.org/api/0.10.0/#layers.separableConv2d) doesn't take `dilation`, but Keras [one does](https://keras.io/layers/convolutional/#separableconv2d).

[tf.separableConv2D](https://js.tensorflow.org/api/0.10.0/#separableConv2d) (core's version) supports dilations so it is just a matter of passing it through.

There is a GAN model that

[2018-04-26 00:45] nsthorat commented on #233
cc @ericdnielsen @bileschi

[2018-04-26 02:41] jgartman commented on #108
I'll try `localResponseNormalization`

[2018-04-26 02:56] chenjin3 commented on #229
@dsmilkov  I'm converting a SavedModel to Web-friendly format. You can get My SavedModel from [this repo](https://github.com/chenjin3/image-processing-model).  In the debug directory, I print FrozenModel.executor.weightMap to webModel.log file.  You can see SR_TV/pixel_s_2/transpose/perm Node, but no SR_TV/pixel_s_1/transpose/perm Node (SR_TV/pixel_s_2 & SR_TV/pixel_s_1 are same operations all inc

[2018-04-26 03:50] chenjin3 commented on #229
@dsmilkov  For supporting resizeBilinear operation, I add following code to src/operations/executors/convolution_executor.js
[code]
and

[code]

[2018-04-26 03:55] chenjin3 commented on #229
@pyu10055  Do you mean trying change the code in matrices_executor.ts like  #85 ?

[2018-04-26 07:23] LunaLuan opened #235 "Error: Cannot compute gradient: gradient function not found for gather."
To get help from the community, check out our [Google group](https://groups.google.com/a/tensorflow.org/forum/#!forum/tfjs).

#### TensorFlow.js version
0.10.0
#### Browser version
CLI

#### Describe the problem or feature request
I can't train tf.layer.embedding.
 **Error: (node:14028) UnhandledPromiseRejectionWarning: Unhandled promise rejection (rejection id: 1): Error: Cannot compute gradient:

[2018-04-26 07:41] LunaLuan opened #236 "Indices must be of dtype `int32`"
To get help from the community, check out our [Google group](https://groups.google.com/a/tensorflow.org/forum/#!forum/tfjs).

#### TensorFlow.js version
0.10.0
#### Browser version
https://js.tensorflow.org/api/0.10.0/#oneHot

#### Describe the problem or feature request
When I tested the one hot function in the docs page, I found a bug:
An error occured on line: 1
Indices must be of dtype `int32`

[2018-04-26 10:26] ManrajGrover commented on #235
@LunaLuan We are tracking gradient for gather in #135 which will get fixed in https://github.com/tensorflow/tfjs-core/pull/981

[2018-04-26 10:41] ManrajGrover commented on #192
@tangtai Could you please try logging `window.location`? It would surely be `undefined`, and in that case return, ie.

[code]