[2021-05-28 06:17] utkarsh867 commented on #3071
This thread might need a little update.

#4113 resolves this issue for anyone looking to use sharded weights.

You can provide it as an array:

[code]

[2021-05-28 07:59] 0b01 commented on #3483
Thanks @pyu10055

[2021-05-28 11:27] asashay opened #5137 "WASM backend stopped working In the latest Chrome (macOS)"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow.js):
No

- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
macOS Big Sur version 11.3.1
- TensorFlow.js installed from (npm or script link):
CDN
- TensorFlow.js version (use command below):
3.6.0

- Browser version:
Version 91.0.4472.77 (Official Build) (x86_64)

- Tensor

[2021-05-28 19:06] romavlasov commented on #5137
[TensorFlow JS demo](https://github.com/tensorflow/tfjs-models/tree/master/face-landmarks-detection) is also not working with `wasm` backend

https://storage.googleapis.com/tfjs-models/demos/face-landmarks-detection/index.html

[2021-05-28 19:09] rthadur commented on #5124
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow-tfjs) since it is not a bug or feature request. There is also a larger community that reads questions there.

[2021-05-28 19:09] #5124 closed

[2021-05-28 19:49] Aspie96 commented on #5064
@jasonmayes I fully recognize this is a very low priority "issue" as it only (mildly) affects documentation.
May I ask whether there has been any internal conversation about this?

[2021-05-29 00:05] pyu10055 commented on #4838
@isidorn @TylerLeonhardt The execution issue has been fixed, and the model is compatible with TFJS now.
you can try out the demo here https://storage.googleapis.com/tfjs-testing/guesslang-demo/index.html
Since the model is fairly small and involves dynamic shaped string tensors, it is actually faster on CPU backend.
Currently the demo is compiled with the latest code from the master branch of TFJS

[2021-05-29 00:28] StoneT2000 opened #5138 "Checkpoint Manager or something to at least store optimizer state"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow.js version (you are using): 3.6.0
- Are you willing to contribute it (Yes/No): Yes

[2021-05-30 01:31] StoneT2000 commented on #2219
I agree @mattmyne . I'm trying to build some RL algorithms that can run on the web, but with the lack of a seed it's incredibly difficult to get reproducible results, especially in the space of RL. The python API has a global seed setter (as does pytorch) so I'm hoping there will be a way to just seed the rng globally 🙏  @tafsiri

@tensorflowbutler

[2021-05-30 04:29] Aspie96 commented on #5064
I'd like to provide some additional information.

First, ML5 confirms that their license does not comply with the Open Source Definition:
https://medium.com/ml5js/a-new-code-of-conduct-and-license-for-ml5-js-6b0e4c109b76

They also state:

This is a huge understatement as that "some people" include, at minimum, OSI, all its affiliates (including Debian), the FSF and GNU project (which recognize th

[2021-05-30 05:11] kzka90 commented on #4514
I keep getting the following error when running a node.js file (node test.js) that imports the tfjs-node on M1. Tried what you suggested above.

[code]

I tried to do the install with the 2.5 branch, and it compiles and the steps that @rodrigolive suggest run correctly, the only thing I changed is to pull the 2.5 TF branch, and changed the Bazel version to 4.1.0 like following:

[code]

The `npx n

[2021-05-30 07:57] rodrigolive commented on #4514
I've just reran my own steps again, but now with GA version `a4dfb8d1 v2.5.0` pulled from the Tensorflow Git repository. Everything working as expected. Both a simple `node -e "tf = require('@tensorflow/tfjs-node')"` and my CNN model training session with 12 epochs and 888286 parameters worked.

@kzka90 make sure you are pulling the correct version, `git checkout v2.5.0` which is a **tag**, not a

[2021-05-30 11:22] sarvesh-amrute10 opened #5142 "[Codelab]: TensorFlowJS Comment Spam Detection"
On executing this steps on glitch, we get an error "tf is not defined" in script.js

[2021-05-30 11:46] andyngojs opened #5143 "Unhandled Rejection (Error): No backend found in registry on Tensorflow.js using mobilenet model and KNN classifier"
After I import into my project ReactJS

`import * as mobilenet from '@tensorflow-models/mobilenet';`

`import * as knnClassifier from '@tensorflow-models/knn-classifier';`

And later I create model mobilenet and knn classifier

`  const classifier = knnClassifier.create();`

`const mobilenetModule = await mobilenet.load();`

then it errors as image under.

Screenshot:
![image](https://user-images.

[2021-05-30 15:45] vladmandic opened #5145 "Model using `WebGL` backend returns nonsense results while working fine with other backends"
I have a custom MobileNet-v3/CenterNet model trained on COCO dataset at <https://github.com/vladmandic/mb3-centernet>  and it works perfectly using `tfjs-node` in NodeJS or using `tfjs-backend-cpu` in browser

However, when using `tfjs-backend-webgl` in browser, results are **all fixed-value nonsense**

Input is `[1, 512, 512, 3]`, using pixel range 0..255

Output is array of `[x1, y1, x2, y2, sco

[2021-05-30 17:41] andyngojs commented on #5143
I have fixed the bug already. Only need to reinstall the package ` mobilenet ` with version 2.0.4 and package ` tfjs ` version 1.6.0 are handled issue.

[2021-05-30 17:41] #5143 closed

[2021-05-30 18:22] kzka90 commented on #4514
Just reran and I keep getting the same error.

Here is exactly what I did:

1. Downloaded [https://github.com/tensorflow/tensorflow/releases/tag/v2.5.0]
(https://github.com/tensorflow/tensorflow/releases/tag/v2.5.0)

2. Put it inside $BUILDDIR/tensorflow

3. Ran the following commands
[code]

Needed to add `PYTHON_BIN_PATH=/usr/bin/python` because it wasn't finding my Python. And I'm using the 4.1

[2021-05-30 21:03] rodrigolive commented on #4514
@kzka90, this message:

`building for macOS-x86_64 but attempting to link with file built for macOS-arm64`

Says something is wrong in your install, maybe your Node is x86_64, could that be it?

Try this:

[code]

It should be an arm64 binary, not x86_64.

[2021-05-30 23:14] kzka90 commented on #4514
@rodrigolive Yes, it throws `x86_64`

Thanks. Now that I've spotted the problem and I've tried a lot of cleans and re-installs, but NVM keeps installing the `x86_64` on my `node` version 😔.

Can't manage to get the `arm64` for some reason. But that issue is not relevant for this channel. I'll see what I can do to get it build for `arm64`. Weird cause `uname -m` on my Terminal throws `arm64`.

[2021-05-31 08:59] rodrigolive commented on #4514
@rthadur:

So, the issue is not resolved, it needs a PR so that TFJS installs on Apple Silicon, which means:

1) bumping TFJS support from 2.4.1 to 2.5.0 (`const LIBTENSORFLOW_VERSION = '2.4.1';`) and change install scripts under `tfjs-node/scripts`.

2) upload a compiled and packaged TensorFlow-for-macos/darwin-arm64 libs to the googlestorage account that holds all platform specific binaries here

[2021-05-31 11:00] asashay commented on #5137
@rthadur thanks for the comment. Though it's not specific to the tfjs, it prevents using it out of the box. And if there are some extra configurations involved before trying it, I'd say it would be great to have them written in the installation section.

Also, I tried adding these response headers and was able to get rid of the issues warning in Chrome, but `wasm` backend still fails to function.

[2021-05-31 11:04] vladmandic commented on #5145
my fault, issue was due to model clipping - i forgot i had `tf.ENV.set('WEBGL_FORCE_F16_TEXTURES', true)` set globally.

[2021-05-31 11:04] #5145 closed

[2021-05-31 12:50] isidorn commented on #4838
@pyu10055 this is amazing, I just tried out the demo! We will look into this on the VS Code side next milestone, for more details on our side you can follow this issue https://github.com/microsoft/vscode/issues/118455

Thanks a lot 👏 👏

[2021-05-31 18:37] CoolingJam opened #5150 "Error when trying to use tfjs-node"
**System information**
- OS Platform Windows 10 1909
- TensorFlow.js (@tensorflow/tfjs-node) installed from npm
- TensorFlow.js (@tensorflow/tfjs-node) version: 3.6.1
- Node.js version: v14.17.0 (x86)

**My code**
`require('@tensorflow/tfjs-node')`

**Error**
[code]

**What I already tried**
- Deleting node_modules and reinstalling the module
- Upgrading to latest node.js
- Adding python 2 to path

[2021-05-31 19:11] fireholster opened #5151 "TensorflowJS Issue : Looking for previous version of cusolver64_10"
System information

OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
TensorFlowJS version: 3.6.1
GCC/Compiler version (if compiling from source):
CUDA/cuDNN version: 11.3
GPU model and memory: RTX 2060 MAXQ
Describe the problem
GPU build is looking for cusolver64_10 instead of latest cusolver64_11 version

[2021-05-31 23:22] playground commented on #3930
I have the same issue, running node v15.7.0, tfjs-node v3.6.1 on Mac Big Sur
[code]

[2021-06-01 01:16] SithMasterBDSM opened #5153 "How to build tf.min.js from source code?"
**System information**
- OS Platform and Distribution: Linux Ubuntu 18.04 (x86_64) on dual Intel Xeon 5600, node 11.1.0, Linux 5.4 kernel, gcc 7.5.0
- TensorFlow.js installed from (npm or script link): github source code
- TensorFlow.js version: 3.6.1
- CUDA/cuDNN version: Cuda 10.0, Nvidia Geforce GTX 1060

**Describe the problem**

Sorry if I'm missing something trivial. I need to build dist/tf.

[2021-06-01 01:30] SithMasterBDSM commented on #2631
+1

[2021-06-01 01:38] SithMasterBDSM commented on #5153
I have the same issue as https://github.com/tensorflow/tfjs/issues/2631 - changing tfjs-node to "@tensorflow/tfjs": "1.2.2" on package.json makes simple examples to work, but it is possible to build newer versions with support for not AVX-enabled CPUs?

[2021-06-01 02:56] LunarRed commented on #5137
@vladmandic According to the Chrome Developers Blog, the cross-origin isolation has been postponed until Chrome 92. I am running into the same issue where the tfjs WASM backend is failing on `tf.setBackend('wasm');` I also tried using an "origin trial" token and that didn't work either. I also firmly believe there is another issue besides CSP headers causing the issue.

[2021-06-01 05:54] xinterface opened #5154 "VueJS App - Model.fit causes TypeError: Cannot read property 'backend' of undefined"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow.js):
- OS Platfo

[2021-06-01 07:20] AmitMY commented on #3875
This is still an issue.

[2021-06-01 07:42] rubenlg commented on #5042
Ping

[2021-06-01 10:30] vladmandic commented on #5137
@LunarRed I don't think the two errors you've posted are the same

First one is CSP notice which is corrected with setting correct headers:

While the second one remains:

As a test, can you disable SIMD in Chrome (and confirm in Chrome inspect network tab that correct WASM binary is getting loaded) and see if the error remains?
I just tried with <https://cdn.jsdelivr.net/npm/@tensorflow/tfjs-back

[2021-06-01 12:13] Leiga commented on #3820
I had the same problem here. Did you solve it?

[2021-06-01 12:34] Leiga opened #5156 "How to get a spectrogram offline with the right shape as an input to recognize() in node .js?"
I am trying to perform offline recognition with this doc: https://github.com/tensorflow/tfjs-models/tree/master/speech-commands

I had the same issue as https://github.com/tensorflow/tfjs/issues/3820 described, and I had tried all solutions suggested from there, including the colab support https://colab.research.google.com/github/tensorflow/tfjs-models/blob/master/speech-commands/training/browser-

[2021-06-01 15:46] LunarRed commented on #5137
@vladmandic I disabled SIMD in Chrome 91 and my older app (which still uses tfjs 2.8.6) now works. When I was troubleshooting the problem over the long weekend, I upgraded to tfjs 3.6.0 to see if that's would fix the issue but it did not. I also searched for a way to disable SIMD when I call `tf.setBackend('wasm')` but was unable to find a way to do that. Are you saying that 3.6.0 is supposed to f

[2021-06-01 15:58] vladmandic commented on #5137
No as that's would be a massive security hole - if an app could change browser settings.
Btw, I haven't checked defaults on Chrome 91, but up to Chrome 90 SIMD is disabled by default.

For me, WASM with SIMD works fine in TFJS 3.6.0.
Except for TFJS 3.4.0 when it got temporarily broken and then fixed in TFJS 3.5.0, it worked for me for a while now.

So if you have WASM with SIMD issues on TFJS 3.6

[2021-06-01 16:04] LunarRed commented on #5137
@vladmandic Sorry, I meant is there a way to force tfjs to NOT use SIMD on Chrome 91 when I call `tf.setBackend('wasm')`. Even if tfjs 3.6.0 fixes my issue, our project has other dependencies which prevent us from upgrading from 2.8.6 at this time.

[2021-06-01 17:39] vladmandic commented on #5137
sure, you can override what tfjs autodetected - just set this before calling `setBackend('wasm')`:

[code]

[2021-06-01 18:28] LunarRed commented on #5137
@vladmandic That fixed my issue running WASM on tfjs 2.8.6 on Chrome 91. Thank you so much for the help!

[2021-06-01 19:26] rthadur commented on #4514
cc @pyu10055 can you please let @rodrigolive know, if he can submit PR bumping TF version ?

[2021-06-01 19:29] rthadur commented on #5138
@StoneT2000 will you be interested in contributing for the above ?

[2021-06-01 19:34] StoneT2000 commented on #5138
I'd be happy to help out if possible, although not too sure where to start just yet

[2021-06-01 19:36] rthadur commented on #5142
is it possible to share the glitch , so that we can reproduce the same ?

[2021-06-01 19:38] LunarRed commented on #5137
@vladmandic Does the demo for https://storage.googleapis.com/tfjs-models/demos/face-landmarks-detection/index.html work for you when you change backend to WASM on Chrome 91 with SIMD enabled as well? I have verified that it stops working when you switch to WASM backend on both my M1 Macbook as well as my Surface Pro when running Chrome 91. Looks like it's running tfjs 3.1.0 WASM with SIMD which is

[2021-06-01 19:45] rthadur commented on #5150
You need to copy files from  deps/libs to lib/napi-v8, please check for similar issues raised [here](https://github.com/tensorflow/tfjs/issues?q=is%3Aissue+The+Node.js+native+addon+module+%28tfjs_binding.node%29+can+not+be+found+at+path+is%3Aclosed)  , Thank you.

[2021-06-01 19:55] rthadur commented on #5151
@fireholster I guess this needs to be fixed in TF Core firstly , see here for similar issue here https://github.com/tensorflow/tensorflow/issues/44291 .
cc @pyu10055 @lina128

[2021-06-01 20:00] vladmandic commented on #5137
@LunarRed no, it also doesn't work for me with chrome 91 on windows 10
but...with Firefox 88, it treats those errors as non-fatal and actually works after backend had time to initialize
that looks like a possible missing call to `await tf.ready()` after `setBackend()`

i'm just guessing at this time as i have no issues with any of my code...

[2021-06-01 21:16] rthadur commented on #5154
I haven't used VueJS before ,By seeing the error WebGL is not supported , it is either the dependencies are missing in the package.json or related to Vue js support for webgl ? Apologies if i am wrong.

 cc  @mattsoulanille if you have any thoughts on this ? Thank you

[2021-06-02 00:00] Linh0704 commented on #5013
@partus Have you resolved this issue, I've countered the same one. Change tfjs version and tensorflowjs won't work
```Uncaught Error: FusedConv2d and DepthwiseConv2d with BiasAdd must have one extra argument: bias.```

[2021-06-02 11:54] AliButtar commented on #4270
@tafsiri This issue has been open for over 6 months. Would love it if you can make this your priority. Can't use BundleResourceIO and load models at all because this dependency hasn't been updated yet

[2021-06-02 14:19] CoolingJam commented on #5150
I copiled tensorflow.dll and tensorflow.dll frm deps/lib to lib/napi-v8

[2021-06-02 15:00] ladokhasia opened #5158 "Do not get model inferences, only thing that comes on the screen is laggy camera screen when using tensorcamera that also crushes after 1-2 minutes"
I do not get any warnings or errors - only that async storage has been renamed in new expo, so I have older one installed not to cause an issue (as new one crushed the code)

all code I use is here

https://stackoverflow.com/questions/67790431/tfjs-react-native-for-real-time-object-detection-expo-managed-workflow

[2021-06-02 15:48] ArtemGr opened #5159 "Reproduce Extreme Learning Machine example in tfjs"
I'd like a good example at hand in order to start experimenting with tfjs.
Particularly interested in https://www.kaggle.com/robertbm/extreme-learning-machine-example.
Can somebody please reproduce that kaggle it in tfjs, as a nodejs project?

Adding a Bountysource bounty for it.
(Will give a bonus for making a ~ 25 minutes screen video, with sound or not, of implementing the most juicy parts).

[2021-06-02 17:48] rthadur commented on #5150
did you get chance to check related issues ?

[2021-06-02 17:52] rthadur commented on #5158
can you please check this issue https://github.com/tensorflow/tfjs/issues/3808 if it is related ? Thank you

[2021-06-02 19:03] ladokhasia commented on #5158
@rthadur thanks a lot for your answer! I tried that, but the same happens + after one minute expo go gets closed by itself. Now I tried this example code: https://github.com/tafsiri/tfjs-expo-managed-example and again the same happened, even after reinstalling Expo Go on my android device. Otherwise my expo works just fine. Is it possible, that all of this is because I try to run the code on my an

[2021-06-02 19:20] Ahmed-Z commented on #3585
Is there any progress for adding complex support to WASM ?

[2021-06-02 21:12] playground opened #5161 "loadSavedModel() throws Error: The SavedModel does not have tags: serve"
running node v15.7.0, tfjs-node v3.6.1 on Mac Big Sur

This is happening with pre-trained or custom trained models

When try to load saved model with
[code]
It's complaining
[code]

[code]

if load saved model without optional arguments
[code]
it throws
[code]

[2021-06-02 21:47] OckyKristanto-TomTom commented on #5115
Hi @pyu10055, I tried the same code in iOS iPhone7, but
```const result = await modelReady.estimateFaces({input: nextImageTensor}); ``` always return null

Do I miss something?

[2021-06-03 00:29] pvaneck commented on #5161
First issue can be solved by putting `'serve'` in an array: `['serve']`. Perhaps tfjs-node could check the type of the input argument to check if it's an array and report a better error message if it isn't. However, looks like the key issue here is the `Cannot parse tensor from proto: dtype: DT_VARIANT`. Would be good to see if this dtype is something that can be supported in tfjs-node.

[2021-06-03 00:48] z2043947 opened #5162 "Tensorflow Js predict output zero for all classes"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): built using expo SDK 39 on Ubu

[2021-06-03 00:50] #600 closed

[2021-06-03 06:50] #5091 closed

[2021-06-03 08:25] Fabiansson commented on #5017
I am still getting `node-pre-gyp info This Node instance does not support builds for N-API version 8` and using node v14.16.0. Also only trying to use `@tensorflow/tfjs-node": "^3.6.1`. No automl.
Any ideas?

[2021-06-03 14:26] partus commented on #5013
@Linh0704 , @pyu10055  I was able to convert and run the tfhub version with python 3.8 instead of 3.9, and tfjs 3.6.0 , but I was unable to run the model from the official repo. Did not dive into it further as decided to run the model on a server.

[2021-06-03 14:43] #5072 closed

[2021-06-03 14:50] rthadur commented on #5042
Dependencies are updated in npm https://npm.runkit.com/@tensorflow-models/universal-sentence-encoder/package.json?t=1622731783058 , please verify. Thank you @lina128

[2021-06-03 14:50] #5042 closed

[2021-06-03 14:58] rthadur commented on #4947
related PR has been merged , @bmcdorman thanks for the contribution.

[2021-06-03 14:58] #4947 closed

[2021-06-03 15:49] rubenlg commented on #5042
I can confirm this resolved the issue. Thanks everyone!

[2021-06-03 15:50] CoolingJam commented on #5150
yeah, none of them worked

[2021-06-03 15:52] playground commented on #5161
Is there a work around until this is fixed?

[2021-06-03 16:31] zaleslaw commented on #3979
Hi, guys; I could not find the place in the code when constraints are applied, not here, not in the Keras framework. How does it work under the hood in Keras? How are you going to change weights after its update by the optimizer?

[2021-06-03 16:31] zaleslaw commented on #3345
Hi, guys @dsmilkov @pyu10055; I could not find the place in the code when constraints are applied, not here, not in the Keras framework. How does it work under the hood in Keras? How are you going to change weights after its update by the optimizer?

[2021-06-03 16:33] zaleslaw commented on #130
@nsthorat Does it mean, that constraints are loaded from Keras, but not applied to weights? I could not find the place in the tfjs code where constraints are used after variable updates

[2021-06-03 17:17] pyu10055 commented on #5161
@playground Does error generate c++ stacktrace, would be helpful to see which files are causing this tensor parsing error.

[2021-06-03 17:20] IamManifold opened #5166 "typo in documentation"
[https://codelabs.developers.google.com/codelabs/tensorflowjs-nodejs-codelab/#4](https://codelabs.developers.google.com/codelabs/tensorflowjs-nodejs-codelab/#4)
I believe "sparseCategoricalCrossentroy" should be "sparseCategoricalCrossentropy"

This template is for miscellaneous issues not covered by the other issue categories.

For questions on how to work with TensorFlow.js, or support for probl

[2021-06-03 17:27] rthadur commented on #5166
This will be fixed and published accordingly. Thank you

[2021-06-03 17:32] pyu10055 commented on #5162
@z2043947 can you verify if what are the values for the input of the model looks fine:
`normalized .print()`
And ensure the model requires normalization result between [0.0, 1.0]

[2021-06-03 18:17] playground commented on #5161
@pyu10055 this is the entire error log in console

[code]

[2021-06-03 18:21] #5166 closed

[2021-06-03 18:27] pyu10055 commented on #4838
@TylerLeonhardt should be this week.

[2021-06-03 19:02] shahanija opened #5167 "undefined is not an object (evaluating 'env().platform.fetch') for poseNet in React Native"
**System information**
- OS : Windows 10
- Platform : Android
- TensorFlow.js installed from npm
- TensorFlow.js version:3.6.0
- @tensorflow-models/tfjs-react-native version:0.5.0
- @tensorflow-models/posenet  version: 2.2.2

**Describe the problem**

I always get this response when I tried to `load()` the posenet from  `@tensorflow-models/posenet`. I am using React Native CLI not Expo.
I installe

[2021-06-03 19:15] Fabiansson commented on #4171
Why does this get closed again? The issue is still peristing un multiple platforms and node versions.

[2021-06-03 21:19] jasonmayes commented on #5111
Thanks for the feedback on this one. I shall update that and push it out shortly.

[2021-06-03 21:27] jasonmayes commented on #5111
Changes made they should be pushed live shortly (next day or two).

[2021-06-03 21:27] #5111 closed

[2021-06-03 21:58] pyu10055 commented on #4514
@rodrigolive the tensorflow platform binary files are auto-generated, currently M1 is not officially supported, thus the binary is not available on the tensorflow gcp storage.

@kzka90 seems when you build tensorflow you specified following:
[code]
wondering if that would be the cause of the wrong arch build.

Looks like in the short term, you need to manually built the tensorflow binary and copy

[2021-06-04 00:38] luxaritas commented on #3319
Per fangfufu/Linux-Fake-Background-Webcam#100, there seems to be a leak in bodypix on Node as well (on recent versions, anyways). I don't know enough to say if it's definitely related, but it seems likely.

[2021-06-04 03:36] z2043947 commented on #5162
Thanks Ping

So the value has to be between 0.0 and 1.0? Cannot be 0 or greater than 1?

The attached is the converted tensor from the image.

Tensor
        [[[218, 214, 233],
          [153, 149, 168],
          [154, 153, 171],
          ...,
          [209, 214, 234],
          [204, 207, 228],
          [208, 211, 232]],

         [[230, 226, 245],
          [162, 158, 177],
          [157, 1

[2021-06-04 05:08] pyu10055 commented on #5161
@playground Looks like TensorList should have been a supported variant type
https://github.com/tensorflow/tensorflow/blob/5dcfc51118817f27fad5246812d83e5dccdc5f72/tensorflow/core/kernels/tensor_list.cc#L78

Is it possible to share your model forreproducing this problem? thanks

[2021-06-04 05:21] pyu10055 commented on #4838
@TylerLeonhardt @isidorn we have just released 3.7.0, please take a look at the updated [demo](https://storage.googleapis.com/tfjs-testing/guesslang-demo/index.html)

[2021-06-04 06:09] aravindvnair99 commented on #5017
@Fabiansson I too still get it. But I had closed this issue as the other bug I've mentioned had got fixed. That bug prevented me from using the module itself. I guess I'll re-open this issue.

@pyu10055 Could you confirm which Node.js versions are supported? It would be good to have this mentioned in the documentation as well as I found certain files aren't available in the bucket from where it's

[2021-06-04 07:27] yearsss commented on #4493
i use tensorflow estimator 2.5 export model, and i ecounter the same problem when i use tfserving 1.15.0 load the model

[2021-06-04 08:18] Utopiah commented on #3052
Same problem, also tried `npm rebuild @tensorflow/tfjs-node --build-addon-from-source` without success.

[2021-06-04 09:05] Fabiansson commented on #5017
To be clear I did not manage to install the newest tfjs-node on any Node Version. I tested on Node: 10x, 12x, 14x and even 16x. Would have to look up which version exactly. I tried on Windows, Ubuntu and WSL(Ubuntu). Some combinations will not install at all and also manual building does not work reliably. I'm genuinly surprised not more people are having this problem. I really don't know what els

[2021-06-04 12:17] isidorn commented on #4838
Super cool!
Next week I will try to look into integrating this into vscode, the week after I am on vacation, so I might look into it once I get back. Though maybe @TylerLeonhardt jumps on this in the meantime

Should we close this issue and continue the discussion in our repo? https://github.com/microsoft/vscode/issues/118455

Thanks a lot 👏

[2021-06-04 12:59] josephzonghaozhu opened #5172 "Issue converting keras model to JavaScript and subsequent loading"
I am having difficulty loading a model that has been converted using the 'TensorFlow.js converter' . Any help would be appreciated!

**System information**
Google Colab
P5js

Tensorflow 2.5.0
TensorFlow.js Converter v3.7.0

**Describe the current behavior**

- Unable to load a model that has been converted from 'keras_saved_model' into 'tfjs_layers_model' format using 'TensorFlow.js converter'. Th

[2021-06-04 13:39] playground commented on #5161
@pyu10055 here is [the model ](https://drive.google.com/file/d/17PHaiPxtgBex0i-WZ0NrtGiAfZnt2ZKD/view?usp=sharing)

[2021-06-04 13:46] franckOL opened #5173 "Issue Raspberry install tfjs-node 3.7.0 , wrong ELF class: ELFCLASS64"
When I install tfjs-node, and run it

[code]

When doing
[code]

Nodejs: 14.13
Raspbian lite strech
Raspberry 3 armv7l ==> 32 bits

[2021-06-04 15:37] dewball345 commented on #5136
Oh, and btw this is using efficiendet.

[2021-06-04 16:15] dewball345 commented on #4637
What did you do? i have the same problem.

[2021-06-04 20:07] pyu10055 commented on #5161
@playground This looks like a regression error from TensorFlow 2.4.1 binary, as we invesitgate more on the root causes, you can use tfjs-node version 3.3.0 as work around.
The model runs fine with v3.3.0.

[2021-06-04 20:17] pyu10055 commented on #4838
Closing this issue since the model has been fully supported with 3.7.0, please keep us posted on your progresses. cheers, happy Friday.

[2021-06-04 20:17] #4838 closed

[2021-06-04 20:50] playground commented on #5161
@pyu10055 thank you.

[2021-06-04 20:50] TylerLeonhardt commented on #4838
@pyu10055 I'm curious, what did you use to convert the model into the tfjs model? tensorflow_wizard?

[2021-06-04 21:18] pyu10055 commented on #4838
@TylerLeonhardt `tensorflow_wizard` should work, also there is `tensorflow_converter`, if you familiar with the params.

[2021-06-05 07:31] kevinchristianto opened #5179 "Error: Cannot evaluate flag 'DEBUG': no evaluation function found."
**System information**
- OS Platform and Distribution: **Windows 10**
- Mobile device: **Mi 8 Lite running on Android 10**
- TensorFlow.js installed from (npm or script link): **npm**
- TensorFlow.js version: **3.7.0**

Every time I tried to run the apps and import @tensorflow/tfjs, I got an error message like this in Metro.
![image](https://user-images.githubusercontent.com/19814559/120883919-3d9

[2021-06-05 09:04] kevinchristianto commented on #4965
I'm also having this issue right now, any solution?

I'm using tfjs 3.7.0 and react native 0.62.3

[2021-06-05 10:25] DARK-art108 commented on #5159
Can I work upon This?

[2021-06-05 11:36] BenjaminWegener opened #5180 "[webgpu]fall back to cpu or webgl"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow.js):
yes, tfjs functional api model with custom layers
self browserified tfjs-backend-webgpu github pull
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
chrome canary windows
- TensorFlow.js installed from (npm or script link):
link https://cdn.jsdelivr.net/npm/@tensorf

[2021-06-05 13:18] BenjaminWegener commented on #5180
i also tried with tf.env().set('WEBGPU_CPU_FORWARD', true); but no effect.

[2021-06-05 13:21] ArtemGr commented on #5159
I think so!

[2021-06-05 18:29] himanshu007-creator commented on #5134
Hi ! i would like to work on this issue

[2021-06-05 18:31] lina128 commented on #5134
That’s great! Looking forward to your PR @himanshu007-creator

[2021-06-05 20:25] amarnathresearch opened #5181 "The converted keras model is too slow in react.js node"
I have created a keras model for detection in images. The model gives good accuracy with a latency time of 0.06 seconds (25+ Frames Per Second) on average when tested in CPU system (python3.6). I followed the steps in the documentation (https://github.com/tensorflow/tfjs-converter/tree/master/tfjs-converter) to convert the Keras model to tensorflowjs. The conversion is successful and loaded into t

[2021-06-06 04:19] pravastacaraka commented on #4637
@dewball345 Unfortunately there is no way to fix this yet. As we know on PR https://github.com/ultralytics/yolov5/pull/1127 using ops `tf.image.combined_non_max_suppression()` which apparently is not supported by TensorFlow.js. So we have to convert YOLOv5 model `*.pt` to TensorFlow.js model without using `--tf-nms` argument and apply NMS manually in our website program.

[2021-06-06 05:50] dewball345 commented on #4637
Okay, so why did you put this then? also, I converted from pytorch to onnx to tensorflow .pb then to tensorflowjs with tensorflow_converter. Was there anything else that you did?

[2021-06-06 05:52] dewball345 commented on #4637
I will try later using this PR as well, though I think there may be something wrong with my input. Can i see your tensorflow.js inference code? thanks!

[2021-06-06 11:49] CoolingJam commented on #5150
For some reason, after I reinstalled tfjs-node, deps/lib and lib/napi-v8 vanished

[2021-06-06 16:09] TheEhsanSarshar commented on #2046
I still have the same issue. none of the above solutions worked for me.
I am using `macos mojave` and `npm`

[2021-06-06 16:20] vladmandic opened #5182 "Incorrect SideEffects settings in TFJS cause bad builds"
TFJS changed behavior several times how to deal with tree-shaking and side-effects,
but it's still broken.

For example, `tfjs-backend-webgl:package.json` has this:

[code]

What is the point of `sideEffects` pointing to JS files in `/dist/`?

1. If user is using prebuilt bundles of tfjs from `/dist`, it's irrelevant
2. If user is trying to build `@tensorflow/tfjs-backend-webgl`, it will be **brok

[2021-06-06 17:30] Kipko commented on #5179
I am getting this error too on `3.7.0`.

<img width="1048" alt="Screen Shot 2021-06-06 at 6 26 36 PM" src="https://user-images.githubusercontent.com/11457183/120934125-f7fffa00-c6f4-11eb-8b95-4cfed2765eb3.png">

<img width="423" alt="Screen Shot 2021-06-06 at 6 30 06 PM" src="https://user-images.githubusercontent.com/11457183/120934201-457c6700-c6f5-11eb-9476-041fc2088bc3.png">

-

[2021-06-06 20:19] jimlloyd opened #5183 "converter drops model output keys"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow.js):
No

- OS Pl

[2021-06-06 22:07] playground commented on #5161
@pyu10055 nm, I got it working.

[2021-06-07 02:32] qjia7 commented on #5180
@BenjaminWegener Thanks for trying the webgpu backend. Current, the supported kernels are limited in webgpu. You can find all supported kernels [here](https://github.com/tensorflow/tfjs/blob/master/tfjs-backend-webgpu/src/register_all_kernels.ts). `LogicalAnd` is not supported yet. But it's easier to be added.

Setting `WEBGPU_CPU_FORWARD` true doesn't mean to fall back to cpu. It's just one of th

[2021-06-07 04:34] BenjaminWegener commented on #5180
Thank you for your answer. I need `tf.LogicalAnd` and `tf.Tile`. I will habe to wait.

[2021-06-07 11:25] brandonculver commented on #4514
I can confirm the @rodrigolive method works for me on an M1 air. The only thing I changed was bazel version to 4.1.0 and I dropped the RC tag on tensor and changed it to 2.5.0.  I also did not need to do `arch -x86_64 bash`. I had to install numpy for python3. I am using nvm and installed node v14.17.0.  I am have homebrew and xcode installed, etc, nothing out of the ordinary.

[2021-06-07 15:49] pyu10055 commented on #5183
@jimlloyd Unfortunately, the outputs 'carlMoon' and 'heart' have the same output shape and dtype, the converter cannot differentiate them after inlining the original saved model functions.

As an work around, you can always edit the model.json file after the conversion.

[2021-06-07 15:58] vladmandic commented on #5162
[code]

[2021-06-07 17:21] jimlloyd commented on #5183
@pyu10055 It sounds like you are saying that there is a known problem where the converter drops these values upstream, but the converter works around that problem by trying to infer the information from the output shape and dtype. That may be sufficient for the use cases covered by unit tests now, but I bet that inference code is fairly complex and also unnecessary.

The values are available in th

[2021-06-07 18:15] pyu10055 commented on #5183
@jimlloyd `tensorflowjs_converter` inlines the functions in the saved model, the mapping between the signature and the node in the graph cannot be retained after that. It would be great if you can share your experience or contribute with a fix. Thanks

[2021-06-07 18:18] pyu10055 commented on #5173
@franckOL there is a mis-match between the binding (TF 2.4.1) and RPI TF binary (v1.4.0)
We will try to build a new RPI TF binary (2.4.1). TF have dropped official support for RPI (no new releases), If you have manually built before, please share your steps. thanks

[2021-06-07 19:34] jimlloyd commented on #5183
It may be that I should see if I can debug this, but let me ask one more question. I see that the internal tensor names are converted (in my model) from `StatefulPartitionedCall:0` to `Identity_4:0`. I don't have any problem with that. It should be pretty obvious that I didn't choose the name `StatefulPartitionedCall:0` in the first place. But any application that needs to be able to load differen

[2021-06-07 20:13] pyu10055 commented on #5183
@jimlloyd models with multiple outputs can have a proper mapped signatures, as you have discovered, only when outputs have different data types or shapes.
TFJS relies on TensorFlow internal code to inline the StatefulPartitionedCall function, which will map nodes for the input/output of the function to different names.

[2021-06-08 00:08] z2043947 commented on #5162
It is not dividing by a scalar that results in zeros. It is the following statement

const imageTensoresized = tf.image.resizeBilinear(imageTensor, [224, 224]);

Same problem with resizeNearestNeighbor as well.  I am now exploring alternate ways of resizing the image.

[2021-06-08 01:03] murphycj commented on #3299
I can confirm that I am observing a similar issue with the `webgl` backend while running with a model that has Conv1D layers. The model runs as expected on my macbook pro, iPhone, and iPad. However, when running on an Android phone the predicted values from the model are way off. I found that the only way to fix the issue is to switch the backend to `wasm` or `cpu`.

[2021-06-08 03:51] Shahanija-Inovatrik commented on #4669
How did you fix it?

[2021-06-08 03:54] shahanija commented on #4669
How did you fix it?

[2021-06-08 07:33] franckOL commented on #5173
In fact I understand than `npm rebuild @tensorflow/tfjs-node` is the rebuilding process, but as you see I have another issue on that (`TF_TString` unknown symbol)

[2021-06-08 11:16] vladmandic commented on #5162
You're using `imageTensor = decodeJpeg(raw);` - what is `decodeJpeg`?
And more importantly, what is the shape of the resulting `imageTensor`? It should be `[1, height, width, 3]`

[2021-06-08 12:19] vladmandic commented on #5182
cc @tafsiri due to previous work on sideEffects

[2021-06-08 13:02] z2043947 commented on #5162
import {fetch, bundleResourceIO,decodeJpeg} from "@tensorflow/tfjs-react-native";

decodeJpeg is provided by tensorflow/tfjs-react-native. It returns  tensor3d(buffer, [height, width, channels]) . The tensor seems to be OK. The following is imageTensor,print() added after decodeJpeg

Tensor
        [[[218, 214, 233],
          [153, 149, 168],
          [154, 153, 171],
          ...,
          [2

[2021-06-08 13:06] z2043947 commented on #5162
The shape of imageTensoresized is [224,224,3] as required even though it is all zero

[2021-06-08 14:00] vishvrajput opened #5191 "[Unhandled promise rejection: TypeError: undefined is not an object (evaluating 'graph.versions.producer')]"
I have used graph-model while loading the loading i m getting this error

[Unhandled promise rejection: TypeError: undefined is not an object (evaluating 'graph.versions.producer')]

Code Reference

async componentDidMount() {
    await tf.ready()
    this.setState({
      isTfReady: true
    })
      const modelJson = require('./assets/model/model.json');
      const modelWeights = require('./ass

[2021-06-08 15:16] mattsoulanille opened #5192 "tfjs-layers bundles contain a copy of tfjs-core"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow.js): No
- OS Pla

[2021-06-08 16:19] rthadur commented on #5181
As mentioned here https://github.com/tensorflow/tfjs/issues/4431#issuecomment-751865544 , wasm is not supoorted in react native.

[2021-06-08 16:23] rthadur commented on #5150
Thank you , closing the issue , feel free to mention@ so that we can reopen if you see any further issues.

[2021-06-08 18:55] rthadur commented on #5167
Yes React Native CLI is supported https://github.com/tensorflow/tfjs/tree/master/tfjs-react-native#step-1-create-your-react-native-app , you need to install all the expo dependencies even though you are not using the expo. Please refer a related issue  here https://github.com/tensorflow/tfjs/issues/4475

[2021-06-08 18:59] rthadur commented on #5191
Can you share full log and reproducible code ,and also looking at the error message this is related to exported model not tfjs , please check for a related issue here https://github.com/tensorflow/tfjs/issues/5122

[2021-06-08 19:05] rthadur commented on #5013
Closing the issue , please mention@ if you need further help to reopen. Thank you

[2021-06-08 19:05] #5013 closed

[2021-06-08 19:51] mattsoulanille commented on #5192
This is caused by including gradients from tfjs-core's `dist` directory in the bundle. The gradients reference other tfjs-core files in `dist`, like `tensor.js`, and these are redundant with importing the `tfjs-core` bundle itself.

[2021-06-08 19:52] shahanija commented on #5167
Thanks for your response @rthadur

[2021-06-08 19:55] shahanija commented on #5167
Can we the . tflite file for poseNet bundled with the app ? If yes how do I get it. I can only download the .tflite file for it.  And in the docs they specify some path for .json and .bin
 How would I generate .json and .bin from .tflite for pose estimation?

[2021-06-08 20:20] #3319 closed

[2021-06-08 21:42] jinjingforever commented on #3319
Thanks for the report! The fix should go out in the next release. For now I updated the [demo](https://storage.googleapis.com/tfjs-models/demos/body-pix/index.html) with the fix and it should work in Firefox without memory leaks.

[2021-06-08 22:00] rthadur commented on #5167
Sorry,I did not quite get it , are you trying to use tflite models in tfjs ? if yes please refer here https://github.com/tensorflow/tfjs/blob/master/tfjs-tflite/README.md
cc @jinjingforever

[2021-06-09 00:53] jinjingforever commented on #5137
Thanks guys for the report and discussion! I merged two PRs to fix the [demo](https://storage.googleapis.com/tfjs-models/demos/face-landmarks-detection/index.html) and update the WASM backend's README for how to set things up for the cross-origin isolation.

The `e is not defined` error in the demo was caused by not properly waiting for the wasm backend to be ready (thanks @vladmandic) and not sto

[2021-06-09 00:53] #5137 closed

[2021-06-09 02:39] qjia7 opened #5197 "[Perf] The time of Conv2DBackpropInput is very long in BlazePose/hand_detector models in WebGL"
hand_detector

Kernel | Time(ms) | Inputs | Output | GPUPrograms
-- | -- | -- | -- | --
Conv2DBackpropInput | 9.73 | input0: 4D[1,16,16,256]input1: 4D[2,2,128,256] | 1,32,32,128 | UnpackProgram: 0.026083, Conv2DDerInputProgram: 9.706294
Conv2DBackpropInput | 4.93 | input0: 4D[1,8,8,256]input1: 4D[2,2,256,256] | 1,16,16,256 | UnpackProgram: 0.011333, Conv2DDerInputProgram: 4.91648

BlazePose with i

[2021-06-09 02:40] qjia7 commented on #5197
fyi @pyu10055 @lina128 @jinjingforever

[2021-06-09 02:51] qjia7 opened #5198 "[webgpu] Provide a fused path for webgpu"
Unlike other backends, webgpu is using compute shader to implement each ops. The advantage of compute shader is that we can randomly access any locations in input buffers and write to any position of output buffer. So for webgpu, it's more easier to implement some fused ops, which can help improve the performance greatly.
The problem is how we to provide the fused ops for webgpu and which level it

[2021-06-09 02:53] qjia7 commented on #5198
@pyu10055 @lina128 @jinjingforever Please share your ideas here and help/guide us to finish it. Thanks.

[2021-06-09 03:14] qjia7 opened #5199 "[Perf] The performance of conv2d is very very poor if the inChannel and outChannel are small and height and width are large in webgl."
Tested using https://honry.github.io/webnn-samples/style_transfer/?backend=webgl

Type | Time(ms) | Inputs | Output
-- | -- | -- | --
Conv2D | 82.86 | input0: 4D[1,548,548,4]input1: 4D[9,9,4,3] | 1,540,540,3
Conv2D | 63.09 | input0: 4D[1,548,548,3]input1: 4D[9,9,3,4] | 1,540,540,4

[2021-06-09 03:15] qjia7 commented on #5199
cc @pyu10055 @lina128 @jinjingforever

[2021-06-09 03:40] shahanija commented on #5167
Thanks again @rthadur

[2021-06-09 04:11] #5167 closed

[2021-06-09 06:56] anurag5sh commented on #5017
Make sure you have the necessary **build tools** installed in your system. ( For ubuntu or debian based use `sudo apt install build-essential` , for windows `npm i windows-build-tools`).

Now try these versions :
Node 16.x
@tensorflow/tfjs-node 3.7.0

Tested today on Ubuntu 20.04.

[2021-06-09 09:13] vishvrajput commented on #5191
[
<img width="1440" alt="Screenshot 2021-06-09 at 2 38 42 PM" src="https://user-images.githubusercontent.com/84903872/121326855-8f04c600-c930-11eb-8143-1f1d8d601755.png">
](url)

import React from 'react'
import {
  StyleSheet,
  Text,
  View,
  ActivityIndicator,
  StatusBar,
  Image,
  TouchableOpacity
} from 'react-native'
import * as tf from '@tensorflow/tfjs'
import * as jpeg from 'jpeg-js'
i

[2021-06-09 09:27] manishchauhan30 opened #5200 "Invalid Array Length error on libtensorflow download"
I am trying to install the @tensorflow/tfjs-node package. Earlier I was getting the Socket exception but resolved it by setting the TFJS_NODE_CDN_STORAGE = /path to npm project repo.
Tried with 2 versions of Node Js 14.16.0 and 10.15.3 but both raised the same error.
Now I am getting a different error Invalid Array Length on the libtensorflow download. Entire logs below with --verbose option.

Nod

[2021-06-09 10:04] AmitMY opened #5201 "tfjs-converter: convert js models to keras"
**System information**
- TensorFlow.js version (you are using): 3.7.0
- Are you willing to contribute it (Yes/No): No

**Describe the feature and the current behavior/state.**
I have models that were previously converted from keras h5 for tfjs.
Now, I want to use these models in python.
I want the tfjs-converter to be able to support a reverse conversion as well, or at least, given that I have the

[2021-06-09 10:23] shivamchauhan20 commented on #4918
Hi @jinjingforever
Facing this issue on android devices mostly and also most of them have chrome version `Chrome Mobile 88.0.4324`. Can tell you some of the devices:- Samsung SM-A750F, vivo 1820.

[2021-06-09 15:07] lumenier1 opened #5203 "tfjs-backend-wasm: Webpack can't resolve 'os' error"
**System information**
- macOS Catalina 10.15.7
- TensorFlow.js installed from NPM
- TensorFlow.js version: 3.7.0
- Node version: 14.17.0
- NPM version: 7.16.0

**Describe the problem**

After installing package `npm i @tensorflow/tfjs-backend-wasm` and adding[ all required settings ](https://github.com/tensorflow/tfjs/blob/master/tfjs-backend-wasm/starter/webpack/README.md) for Webpack bundler it

[2021-06-09 17:21] lina128 commented on #5197
This is very informative, thank you @qjia7 ! In the GPUPrograms column, is Conv2DDerInputProgram the packed version and UnpackProgram the unpacked version, both from WebGL backend?

[2021-06-09 17:55] pyu10055 opened #5205 "[perf] improve shader compilation for WebGL with KHR_parallel_shader_compile extension"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow.js):
- OS Platfo

[2021-06-09 17:56] pyu10055 commented on #5205
cc @qjia7

[2021-06-09 17:58] pyu10055 commented on #5197
the UnpackProgram is the shader to unpack outputs from the previous kernel, the Conv2DDerInputProgram is the shader for Conv2DBackpropInput, which one supports unpacked texture.

[2021-06-09 19:43] CoolingJam commented on #5150
@rthadur Still getting the same error, could you please reopen.

[2021-06-09 20:05] rthadur commented on #5200
did you check this troubleshooting steps https://github.com/tensorflow/tfjs/blob/master/tfjs-node/WINDOWS_TROUBLESHOOTING.md also please specify the steps you are following to install.

[2021-06-09 20:23] rthadur commented on #5201
cc @pyu10055

[2021-06-09 21:37] ladokhasia commented on #5158
tried on Android 11, same problem. only difference is that expo does not crush after 1-2 minutes

[2021-06-09 22:16] mgyong commented on #4177
Hi, I am product manager for MediaPipe. Please note that only the [MediaPipe Selfie Segmentation Model](https://google.github.io/mediapipe/solutions/selfie_segmentation) is open sourced and licensed under Apache 2 for external use. Other versions, including those used in the Google Meet product, are licensed under Google Terms and Conditions and are not intended for open source use.

[2021-06-09 22:28] vladmandic commented on #5203
see <https://github.com/tensorflow/tfjs/issues/4745> for details.

[2021-06-09 22:50] rthadur commented on #5203
Thank you @vladmandic can we close this to track the issue in #4745 ?

[2021-06-10 01:27] qjia7 commented on #5180
@BenjaminWegener `tf.LogicalAnd` and `tf.Tile` are supported now in webgpu. Please let us know if you still meet any problems. Thanks.

[2021-06-10 03:49] z2043947 commented on #5162
I have now ensured that a feed an input tensor between 0 and 1 of shape 1,224,224,3 to the model without using resizeBilinear.  The tensor fed to the mode is as follows:

Tensor
    [[[[0.654902 , 0.8039216, 0.5176471],
       [0.6470588, 0.7960784, 0.509804 ],
       [0.6431373, 0.7921569, 0.5058824],
       ...,
       [0.5568628, 0.7568628, 0.2588235],
       [0.5568628, 0.7568628, 0.2588235],

[2021-06-10 05:55] danrossi commented on #4076
I'm working at digging into tensorflow to NOT use canvas software rendering to capture a texture. I believe this is causing the performance issues and even browser freezing and crashing. It's in the code above as you can see. That is a good start. I'm not sure how that passed as ok. Canvas software rendering is bad and causes dropped frames.  I can't send out a feature into production because of t

[2021-06-10 07:39] saghul commented on #4177
@jasonmayes Why was this closed?

[2021-06-10 07:48] adotnusiyan commented on #5071
@lina128
Is there any updates on this issue? Thanks

[2021-06-10 07:54] manishchauhan30 commented on #5200
Yes, I followed this troubleshooting document but no help.
Steps I followed for installation:
1. Installed Node Js 14.16.0
2. Installed the windows-build-tools with version 4.0.0 through powershell with admin with command **npm install -g --production windows-build-tools@4.0.0** . I was not able to install the latest version of windows-build-tools for some reason. It gets stuck after some time whe

[2021-06-10 08:20] qjia7 commented on #5205
@pyu10055 Will be someone be assigned for this issue or do you need any help from us?

[2021-06-10 09:08] BenjaminWegener commented on #5180
Thank you very much, it really helps.
If i run my model, the next Problem is
`UnsortedSegmentSum`.

[2021-06-10 09:08] BenjaminWegener commented on #5180
...

[2021-06-10 09:22] qjia7 commented on #5180
@BenjaminWegener Can you mind share more information about your model? Do you see any bad performance on webgl so that you want to try webgpu? Currently our main efforts are on performance . We want to make sure that webgpu really brings great performance when it's officially released.  But the supported ops may be not full. So I want to know the gap to enable your model.

[2021-06-10 10:44] CoolingJam commented on #5150
I'm not sure how to fix this, I looked up all the solutions I could.

[2021-06-10 15:30] #5112 closed

[2021-06-10 16:30] #4923 closed

[2021-06-10 17:03] rthadur commented on #5200
Thank you for the details , you do not need to install tfjs separately , when you install tfjs-node all the dependencies will be installed, please try again installing tfjs-node.

[2021-06-10 17:07] rthadur commented on #5150
Can you please list down the steps you were following to install ?

[2021-06-10 17:25] CoolingJam commented on #5150
- npm install @tensorflow/tfjs-node
- npm install @tensorflow-models/toxicity

[2021-06-10 17:30] #5100 closed

[2021-06-10 18:28] jasonmayes commented on #4177
Closed as the folk from MediaPipe clarified the T&C for the models they released.

[2021-06-10 18:42] BenjaminWegener commented on #5180
no problem. i am trying to implement a transformer like model in tfjs. just download or clone the repo an try it out. use chrome w/ webgpu .
https://github.com/BenjaminWegener/transformer-tfjs
thank you for your support

[2021-06-10 19:40] asilvas commented on #628
Very similar results here, pure `tfjs` is vastly faster (4x+) than `tfjs-node` and `tfjs-node-gpu` (which is even worse!).

Windows 10
Node `@tensorflow/*` v3.7.0 (latest)
CUDA 11.3 (latest)
tensorflow v2.5.0 (latest stable)
Node v16.3.0
Python v3.9.5

Everything loads fine using the bindings, including GPU support, but performance is terrible talking to tensorflow with C++ bindings. I've tried re

[2021-06-10 20:43] nskaiser opened #5207 "WebcamIterator Fails w/ Virtual Camera"
On a PC only, if you initialize the webcam but have a Virtual Camera (e.g. XSplitter, OBS, etc) it will not load. For example, if you load the webcam with this:

  initWebcam = async (webcamElement) => {
    const { selectedDeviceId } = this.props.webcam;
    const webcamConfig = selectedDeviceId.length > 0 ? { deviceId: selectedDeviceId } : { facingMode: 'user' };
    this.tfWebcam = await tfjs.d

[2021-06-10 21:39] rthadur commented on #5207
cc @jasonmayes

[2021-06-10 21:47] jasonmayes commented on #5207
Hello there. I have not tried XSplitter but I use OBS regularly in  my demos to test models out with a pre-recorded video using the virtual cam built into OBS which works fine for me and I am also on Windows. So long as Chrome can see the virtual camera and your demo support selecting the virtual cam if it is not already the default cam Chrome picks up, and the resolution / FPS are standard eg 640

[2021-06-10 22:21] nskaiser commented on #5207
Many thanks, Jason.  You are right, your demo worked fine. So I guess it's something with our application.  Interestingly, a lot of the google ones do not work either. Likely it's the same issue because that is where they copied code from?

For example, if you try https://lipsync.withyoutube.com or https://storage.googleapis.com/tfjs-models/demos/face-landmarks-detection/index.html

If you start

[2021-06-10 22:29] dewball345 commented on #4637
Okay, so i was able to conduct inference in tensorflow.js and am currently working on a non-max suppression algorithm. What i did previously is that I converted pytorch -> onnx -> tensorflow saved model -> tensorflow.js. In the last step, there may have been some kind of conversion error. I suggest you use @zldrobit's tensorflow branch of this repo. You can find the link at https://github.com/zldr

[2021-06-10 22:47] pyu10055 commented on #5205
@qjia7 If you have bandwidth, we would love to have you help with the initial investigation. As of today, our shader compilations are performed at per-op execution time.  It would interesting to see how would the extension fit into this scenarios.

[2021-06-10 23:15] jasonmayes commented on #5207
What version of TensorFlow are you importing? Do you have a  live CodePen  / Glitch or such I can try and edit etc to see what is causing it?

[2021-06-10 23:16] jasonmayes commented on #5207
Oh sorry just realised you linked to your HTML page too. Will have a go.

[2021-06-10 23:28] pyu10055 commented on #5201
yes, you can convert tfjs-layers model to keras as specified [here](https://github.com/tensorflow/tfjs/blob/master/tfjs-converter/README.md#javascript-to-python)

```--input_format= tfjs_layers_model --output_format=keras```

[2021-06-11 03:02] qjia7 commented on #5180
@BenjaminWegener Can you review your model and list all the needed ops so that we can know the overall gap in webgpu? It's not efficient for us to implement these ops one by one. If you can provide the overall status, we can evaluate our efforts and give you better support.

[2021-06-11 04:39] TylerLeonhardt commented on #4838
@pyu10055 I'm very curious what your `tensorflow_converter` command looked like while converting the model. I gave it a go just now and didn't have the same luck:

[code]

I ran this in a fresh python:3.6-buster docker container.

[2021-06-11 05:23] TylerLeonhardt commented on #4838
I just published a new version of my extension:
https://marketplace.visualstudio.com/items?itemName=TylerLeonhardt.auto-language

Just to "get it working" I pull in the model.json you have hosted:
https://github.com/TylerLeonhardt/vscode-autountitledlanguage/blob/main/src/extension.ts#L97

but interestingly, I did originally try downloading the `model.json` but it looks like `tf.loadGraphModel(` d

[2021-06-11 07:53] manishchauhan30 commented on #5200
I have tried installing tfjs-node only but got the same error. It's the problem with the download of libtensorflow which is present in the deps folder.
Once previously, I was able to install the tfjs-node without any error but I found out that the **libs** folder was missing and **deps** folder was empty. So when I tried to run my classification program using **node <file_name.js>** , it complaine

[2021-06-11 09:54] isidorn commented on #4838
@tyler I just tried out your extension and this works great! Awesome job 👏
@pyu10055 thanks again for making this possible!

I have commented with some ideas on what we should do in order to ship this to all our users ✨
https://github.com/microsoft/vscode/issues/118455

[2021-06-11 10:35] starzhouchina opened #5210 "tensorflow / tfjs-examples have a bug"
1.  tfjs-examples  have a bug:
D:\proj_tensorflow\tfjs-examples-master\mobilenet>yarn watch
yarn run v1.22.10
$ cross-env NODE_ENV=development parcel index.html --no-hmr --open
Server running at http://localhost:1234
×  D:\proj_tensorflow\tfjs-examples-master\mobilenet\cat.jpg: function (prevType) {
  this.state.exprAllowed = false;

  if (prevType === types._let || prevType === types._c...<omitte

[2021-06-11 10:50] AmitMY commented on #5201
Thanks, didn't find this doc before!

[2021-06-11 10:50] #5201 closed

[2021-06-11 11:16] qjia7 commented on #5205
There are several things we can have a try:
1. Simply apply `KHR_parallel_shader_compile` extension and don't let the shader compilation block the main process. So it can partially hide the data uploading time. Previous the process is `upload data to gpu` -> `compile shader` -> run. Now, the two processes  `upload data to gpu` and `compile shader` can be parallel.
2. Use uniforms instead of consta

[2021-06-11 12:48] pravastacaraka commented on #4637
@dewball345 Have you finished the algorithm of non-max suppression?

[2021-06-11 13:22] z2043947 commented on #5162
I now verified that I get correct predictions when I turn on remote debugging using the chrome debugger tools. The issue is only in the app's JS on the phone!

[2021-06-11 16:18] brianhumphreys commented on #4606
same issue but with "Kernel 'Log1p' " instead of "Kernel 'RotateWithOffset' "

[2021-06-11 16:59] rthadur commented on #5210
I ran mobilenet on MAC OS , it is running fine , could you please let us know the steps you were following ?

[2021-06-11 17:12] rthadur commented on #5200
The above repo is archived , please use this https://github.com/tensorflow/tfjs/tree/master/tfjs-node#installing-cpu-tensorflowjs-for-node for installing tfjs-node

[2021-06-11 17:34] lina128 commented on #4177
Reopen to track the segmentation model release through tfjs API

[2021-06-11 18:03] ChainYo opened #5211 "Problem during conversion from efficientDet model"
**System information**
- Custom traing on Tensorflow model
- Ubuntu 20.04 LTS / Google Colab (tried it too)
- Tensorflow == 2.5.0

I'm trying to convert an efficientdet model (I re trained it on my own dataset images) : efficientdet_d0_coco17_tpu-32
But it seems that the conversion is failing every time at the same point :

[code]

Is it due to TF v2.5.0. Should I downgrade it to 2.2 or 2.4 ?

Thi

[2021-06-11 18:05] rthadur commented on #5211
may be , please try with 2.4

[2021-06-11 18:19] lina128 commented on #4867
Hi @Alpheron , it's hard to see what's going on with this code, can you share something we can reproduce? For example, a codepen demo or your codebase with instruction on how to setup the demo in local. Thanks.

[2021-06-11 18:35] ChainYo commented on #5211
I launch another training (could take some time, even on colab) and I come back.

[2021-06-11 20:11] lina128 commented on #5071
Hi, I took a look at this, not sure why audio glitches. This is not a typical use of the API and our model seems run well.

[2021-06-11 20:11] #5071 closed

[2021-06-11 21:41] adotnusiyan commented on #5071
@lina128
What's the typical use?

I did not do any custom code. It's what you suggested [here](https://github.com/tensorflow/tfjs/issues/4736#issuecomment-802300190). And just like what's written in [README](https://github.com/tensorflow/tfjs-models/tree/b5d49c0f5ba2057cc29b40317126c5f182495f96/speech-commands#transfer-learning)

[2021-06-11 21:56] lina128 commented on #5071
I mean playing back the raw audio is not the main purpose of this API. As long as the model is working well, there's nothing to fix.

[2021-06-11 22:01] adotnusiyan commented on #5071
@lina128
If it's not the "main" purpose, it doesn't mean there's "nothing" to fix. Maybe it should have a low priority, but not "closed"!

[2021-06-11 23:20] dewball345 commented on #4637
No, not yet. You know, it's. Actually quite simple(just turn the non max
suppression function in utils.general to js)

On Fri, Jun 11, 2021, 5:48 AM Pravasta Caraka ***@***.***>
wrote:

[2021-06-12 04:03] Alpheron commented on #4867
After some quick digging, I had realized that the development framework I was using, Next.js, did not properly call the code. When running on an individual codepen, it seemed that the model was fully functional.

[2021-06-12 04:03] #4867 closed

[2021-06-12 06:23] BenjaminWegener commented on #5180
I stripped everything unneccesary fron the model. Looks like tf.layers.embedding uses `UnsortedSegmentSum`, which is the only OP my model is missing. But I cannot tell, if tf.layers.embedding uses another unsupported OP.

[2021-06-12 07:09] wangtz commented on #991
Running TFLite model in TFJS is supported now. Feel free to check out this video: https://www.youtube.com/watch?v=5q8BzYN4rqA

[2021-06-12 07:14] ChainYo commented on #5154
I had a similar problem some weeks ago.
You can read in your error that « in promise » means there is an async problem.
You declare the model in a function that can’t be accessed by others.

[2021-06-12 07:48] ChainYo commented on #5211
News about the model conversion:

I tried it with `tensorflowjs_wizard` cli and it worked with the parameters used in this [blog post](https://blog.tensorflow.org/2021/01/custom-object-detection-in-browser.html)

I was probably doing wrong by choosing `YES` when the cli asked for `Do you want to skip op validation`.

I'm going to try it on my web app and see if it's working for real, but the conve

[2021-06-12 11:05] shahanija opened #5212 "Example for pose detection in bare react-native"
Can anyone suggest me a perfect example for pose detection from a  stream in bare react-native platform?

[2021-06-12 11:27] shahanija opened #5213 "How to make posenet.estimateSinglePose() load faster?"
I am using tensorflow model called 'posenset' to detect the poses from frames detected by the tensorflow camera component in bare react-native platform. I am loading the model in componentDidMount() and calls estimateSinglePose() when each frame is detected by the component. But it takes too long to get the response from the posenet model. What should I do to make it to return the keypoints faster

[2021-06-12 11:57] vladmandic commented on #5205
just my $0.02...

#1 doesn't do much due to how tfjs shader compilation is structured
#3 is really interesting and should be doable without any changes to existing code: you could extend class `GraphModel` to add method `warmup` which can be executed optionally
(and to make it clean, such `warmup` method should call equivalent method in the backend (for any backend other than GL, it would simply r

[2021-06-12 13:09] AkshayMethe opened #5214 "Issue with blazepose_tfjs\detector same Image Tensor works fine with MoveNet and Posenet in ReactNative"
[Unhandled promise rejection: TypeError: undefined is not a function (near '...tf.image.transform...')]
at node_modules\@tensorflow-models\pose-detection\dist\calculators\convert_image_to_tensor.js:18:0 in <global>
at node_modules\@tensorflow\tfjs-core\dist\tf-core.node.js:3347:23 in scopedRun$argument_2
at node_modules\@tensorflow\tfjs-core\dist\tf-core.node.js:3357:23 in Engine.prototype.scopedR

[2021-06-12 15:26] himanshu007-creator commented on #5134
import tensorflow as tf

def process_image(image):
    image = tf.convert_to_tensor(image, dtype=tf.uint8)
    image_rgb =  tf.cond(tf.rank(image) < 4,
                         lambda: tf.image.grayscale_to_rgb(tf.expand_dims(image, -1)),
                         lambda: tf.identity(image))
    # Add shape information
    s = image.shape
    image_rgb.set_shape(s)
    if s.ndims is not None and s.

[2021-06-12 15:57] gdhy9064 opened #5215 "`tf.keras.backend.rnn` would raise errors when using some layers in `step_function`"
**System information**
- TensorFlow.js installed from (npm or script link): <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@3.7.0/dist/tf.min.js"></script>
- TensorFlow.js version (use command below): 3.7.0
- Tensorflow.js Converter Version: 3.7.0

**Describe the current behavior**
I'd like to use `tf.keras.backend.rnn` to build a model that can recurrently generate samples. When I use

[2021-06-12 16:15] heystoney opened #5216 "Safari 15 / iOS 15 Vertex/Shader Errors"
DESCRIPTION
I'm getting a consistent vertex/fragment error across the official TFJS demos using Safari 15 on the new developer release of iOS 15.0. It would seem changes have been introduced into Webkit that are causing this, so hopefully shouldn't require any changes by the tensorflow team, but I did want to raise it here.

ERROR LOG:
Internal error compiling shader with Metal backend.
Please sub

[2021-06-12 16:34] NathanBWaters commented on #991
@wangtz Incredible, thanks for the update!

[2021-06-13 02:46] starzhouchina commented on #5210
I can run mobilenet  demo , it is Ok.  Thank you very much . This example it is OK.
Fixes #

[2021-06-13 02:46] #5210 closed

[2021-06-13 16:39] BenjaminWegener commented on #5180
i replaced the embedding layer with a feedforward net. (dense-activation-dense). but if i use 'relu' activation like `tf.layers.dense({units: UNITS, activation: 'relu'}).apply(x)` i get the error that op `Step` isn't implemented. so i replace that with a custom gelu activation, which seems to be working. so for now i'm closing this. thank you for your help!

[2021-06-13 16:39] #5180 closed

[2021-06-13 22:18] RezaRahmati commented on #2329
Same issue here on Win 10
[code]

I deleted node_modules and reinstall still same error

[code]

[2021-06-14 08:26] manishchauhan30 commented on #5200
@rthadur , As I mentioned before, the problem I have is in the download of custom binaries libtensorflow. I am not using the default URI [https://storage.googleapis.com/] to download libtensorflow but using a mirror to download it. I have also set the TFJS_NODE_CDN_STORAGE to the mirror url. But still not able to download it.

**Is there any way to manually download libtensorflow?**

[2021-06-14 15:50] pyu10055 commented on #5205
@qjia7 I agree with @vladmandic that option 2 and 3 looks like crucial to gain performance gain on the parallel compilation.

Similar to the warm up run, the graph model can have a compilation step, the engine should have a compile API in comparison to current execution API, to avoid any texture upload.

[2021-06-14 16:05] uesys commented on #3319
I appreciate your help resolving the problem!

[2021-06-14 17:02] pyu10055 commented on #5216
@heystoney can you paste the details of this failure? We usually show the shader source code and where the compilation fails.
You might need to use safari remote debug to get the error message. thanks.

[2021-06-14 17:05] pyu10055 commented on #5211
@ChainYo if you skipped op validation, there is a chance that the model may contains unsupported op, which will give you run-time error during model execution.

[2021-06-14 17:28] ChainYo commented on #5211
Yes, I had some troubles today with the loading of the model in TFJS.

But I found the right way to get the right conversion done with this kind of command:
[code]

It seems that a version upgrade + checking if the `--input_format` was right checked resolved the issue!

[2021-06-14 17:28] #5211 closed

[2021-06-14 17:32] rthadur commented on #5212
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow-tfjs) since it is not a bug or feature request. There is also a larger community that reads questions there.

[2021-06-14 17:32] #5212 closed

[2021-06-14 18:40] lina128 commented on #5214
Hi @AkshayMethe, tf.image.transform op is added recently. We will update tfjs-react-native's tfjs dependency version.

[2021-06-14 20:47] heystoney commented on #5216
For sure. So using [this one](https://storage.googleapis.com/tfjs-examples/addition-rnn/dist/index.html) as example (but the error is the same in each) in Safari 15:

Before erroring it will log:
**Internal error compiling shader with Metal backend. (webgl_util.ts:154)
Please submit this shader, or website as a bug to https://bugs.webkit.org**

The console error that follows is:
**Unhandled Promis

[2021-06-14 21:21] lina128 commented on #5134
Hi @himanshu007-creator , can you make a PR?

[2021-06-14 21:34] rthadur commented on #3767
Please check out the demo here https://www.youtube.com/watch?v=5q8BzYN4rqA and let us know if this helps

[2021-06-15 01:18] wingman-jr-addon commented on #5205
(Non-technical comment: I write a browser plugin that basically blocks browser functionality for 10 seconds during model loading, so I'm quite happy to hear about performance improvement ideas here and plan to watch the progress eagerly! Thanks!)

[2021-06-15 05:34] himanshu007-creator commented on #5134
Yes, can you point the file where i need to push this code and what name should i give to it?!

[2021-06-15 05:55] qjia7 commented on #5180
@BenjaminWegener Glad to know that you work around this issue. We'd like to hear your experience on webgpu. Do you see any perf issue with your model on webgpu? Please feel free to file bugs if you see any problems :)

[2021-06-15 06:44] qjia7 commented on #5205
Thanks for your inputs. I will take a look at the step 2 `Use uniforms instead of constant value` as a start.

[2021-06-15 10:42] shahanija commented on #4022
Hi, I am using,

`const inputTensorWidth = 228;
const inputTensorHeight = 300;`
and

`const model = await posenet.load({
      architecture: 'MobileNetV1',
      outputStride: 16,
      inputResolution: { width: inputTensorWidth, height: inputTensorHeight },
      multiplier:0.75,
      quantBytes: 1
    });`

But I am having the same problem  as @mscomazzon specified. Any solution?

Itried using

[2021-06-15 17:18] lina128 commented on #5134
https://github.com/tensorflow/tfjs/blob/master/CONTRIBUTING_MISSING_OP.md

[2021-06-15 17:20] Nikki-2809 commented on #1165
I will work on this.

[2021-06-15 17:59] jasonmayes commented on #5207
I can not seem to replicate this issue on my end. I will try on my desktop when I get back in a couple of weeks to see if I can replicate on that one.

[2021-06-15 18:57] julianklumpers commented on #4270
Same issue here, app doesn't even build.

[2021-06-15 19:03] AliButtar commented on #4270
If you want to build the app. Go to the file the error takes you and replace the dependency manually to the `"@react-native-async-storage/async-storage"`. I'm not sure if the async storage functionalities still work though. I worked around them.

[2021-06-15 19:59] Skylion007 commented on #3767
It's actually already been ported over: https://blog.tensorflow.org/2020/11/iris-landmark-tracking-in-browser-with-MediaPipe-and-TensorFlowJS.html I'll close the issue.

[2021-06-15 19:59] #3767 closed

[2021-06-15 20:39] #5142 closed

[2021-06-15 20:56] #5161 closed

[2021-06-15 22:20] julianklumpers commented on #4680
Any update on this?

[2021-06-15 23:41] rohanmuplara opened #5219 "TFJS executeAsync gives warning/any penalty;"
When I am running with executeAsync, it gives a warning.
"This model execution did not contain any nodes with control flow or dynamic output shapes. You can use model.execute()"
This seems to apply executeAsync has some disadvantage. Is there any performance penalty when using executeAsync or any other disadvantages .  I think decent number of people would want to use async and not block while mod

[2021-06-15 23:43] rohanmuplara commented on #4685
@lina128 what is the problem with using tf.engine.start_scope and tf.engine_clear_scope. Is it that the callers now have to guarantee no interleaving? Any other disadvantages?

[2021-06-16 03:44] playground commented on #5161
Will this be fixed in the next release?

[2021-06-16 03:53] playground opened #5223 "tfnode.node.loadSavedModel() would not load after switching between models"
running node v15.7.0, tfjs-node v3.3.0 on Mac Big Sur

This is happening when switching between models.

tfnode.node.loadSavedModel(model1), models gets loaded and working as expected

switch to load model2 tfnode.node.loadSavedModel(model2), model2 gets loaded and working as expected

switch back to model1, tfnode.node.loadSavedModel(model1), this time it won't load model1. it continues to use mo

[2021-06-16 06:36] roihanmufli commented on #5179
is this solved ? I have same issue

[2021-06-16 06:51] Narendra186 commented on #4668
What happened to this issue? Why isn't your PR `https://github.com/tensorflow/tfjs-models/pull/584` merged?

[2021-06-16 07:19] JoeyChuuichi opened #5224 "how to assign values to a portion of a large tensor"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**Describe the feature and the current behavior/state.**
suppose that we have a 3*3 tensor
[code]
Is there any way we c

[2021-06-16 07:44] aravindvnair99 commented on #5017
Not stale

[2021-06-16 09:06] julianklumpers commented on #4270
Yes that works, but this issue is already open for 6+ months. I think monkey patching is not the solution.

[2021-06-16 10:50] haoyunfeix opened #5226 "Unexpected formatting for keyword `as const`"
This template is for miscellaneous issues not covered by the other issue categories.

For questions on how to work with TensorFlow.js, or support for problems that are not verified bugs in TensorFlow.js, please go to [StackOverflow](https://stackoverflow.com/tags/tensorflow.js).
**Describe the current behavior**
With clang-format 1.2.4 autoSaveFormat in VS code, this line: https://github.com/tenso

[2021-06-16 11:31] aravindvnair99 commented on #5017
@pyu10055 @rthadur Could you confirm which Node.js versions are supported? It would be good to have this mentioned in the documentation as well as certain files are not available in the bucket from where it is fetching files to build.

[2021-06-16 13:39] Narendra186 commented on #4668
@lmiguelmh What happened to this issue? Why isn't your PR `https://github.com/tensorflow/tfjs-models/pull/584` merged?

[2021-06-16 16:06] danrossi commented on #4076
I've come up with two solutions. If I give bodypix a video element, it will do a software render and then upload that to the gl texture.  I've modified the shader to mix a background image texture with the frame texture and the alpha bodypix texture. It works fine although the image isn't smooth and shows the background through the camera image because of bodypix detection.

https://electroteque.o

[2021-06-16 17:37] TylerLeonhardt commented on #4838
Also, @pyu10055 if you'd like me to open new issues on any of the above feel free to let me know. I'm happy to :)

[2021-06-16 19:04] rthadur commented on #5223
In order to expedite the trouble-shooting process, please provide a codepen or GitHub repo to reproduce the issue here. Thanks!

[2021-06-16 21:24] pyu10055 commented on #5224
@JoeyChuuichi If you want to manipulate values of the tensor, you can download them to CPU by using the data() or dataSync() method.
Manipulate the data as you need, and create a new tensor.

[2021-06-16 21:35] pyu10055 commented on #5219
@rohanmuplara This might be a miss naming of the methods. The `model.executeAsync()` is catered to models that contains control flow (ie. branch, loops) in the model topology. It cannot pre-compile and cache the execution plan (serialize the model execution) as `model.execute()` would do.
Both of the methods will be execution the kernels asynchronously with WebGL backend, meaning the javascript po

[2021-06-16 23:08] pyu10055 commented on #5200
@manishchauhan30 I think setting the TFJS_NODE_CDN_STORAGE is the right move, but can you verify if the url generated does match to the file that you serving?
This [line](https://github.com/tensorflow/tfjs/blob/master/tfjs-node/scripts/install.js#L136) should have printed the URL, but it is not shown in your log.

[2021-06-16 23:21] pyu10055 commented on #5150
@CoolingJam after you installed @tensorflow/tfjs-node and cd into `node_modules/@tensorflow/tfjs-node`,
can you share the log from running `yarn build-addon-from-source`?

[2021-06-17 01:46] #5226 closed

[2021-06-17 02:41] yudhiesh commented on #4312
You can check on Tensorflow Hub, this [link](https://tfhub.dev/s?deployment-format=tfjs&q=posenet) has all the available models which you can download.

[2021-06-17 04:16] dewball345 commented on #4637
Okay, you can expect it soon; i'm probably going to make a repo with it

On Fri, Jun 11, 2021 at 4:20 PM Abhiraam Eranti ***@***.***>
wrote:

[2021-06-17 04:25] pravastacaraka commented on #4637
@dewball345 I really appreciate it. Awaited the good news!

[2021-06-17 06:20] AkshayMethe commented on #5214
Hi @lina128, any update on the tfjs-react-native dependency version update.

[2021-06-17 07:31] rohanmuplara commented on #5219
Thanks for you help. I think I am still a little unclear why executeAsync then needs to return a promise. Is it because it takes some time setting up stuff for the gpu compared to the regular model.execute. I think also in documentation it would be great if you guys could add a few lines on differences between predict, execute, executeAsync and what is recommended/when to use what

[2021-06-17 08:03] roihanmufli commented on #5179
I just have solved this issue, before you import tensorflowjs on react native . you MUST follow this configuration first https://github.com/tensorflow/tfjs/tree/master/tfjs-react-native

[2021-06-17 11:28] kevinchristianto commented on #5179
I can make sure that I have followed those steps, and what steps did you do or you missed before?

[2021-06-17 12:54] playground commented on #5223
@rthadur https://github.com/playground/demo-model-service/tree/ui-docker/public
you can copy/paste model from model-old to model-new, it will stop loading on the 3rd rotation.  Is there a way to force reload or clear cache?

[2021-06-17 13:16] roihanmufli commented on #5179
I think I missed on react-native-fs configuration, but I forgot precisely. For the ease, I suggest you try to create new project and then follow those step first before you code your program and import tensorflow.js. It really worked for me.

By the way, I use React Native CLI

[2021-06-17 15:38] manishchauhan30 commented on #5200
@pyu10055 , yes the url points to the correct npm repo of the project. I cannot share the logs which mentions the project's npm repository for security reason. But I can confirm that the repository selected before doing the npm install was our project's npm repository.
I set the registry using **npm config set registry <url_of_project_repo>**

[2021-06-17 17:17] pyu10055 commented on #5219
@rohanmuplara The reason executeAsync need to return promise is that the model execution needs to read intermediate data from GPU and that is an async process. For execute or predict method, there is no need to read intermediate GPU data.

[2021-06-18 07:49] roihanmufli commented on #3186
is this solved already?

[2021-06-18 13:13] vipinAG commented on #3052
Hi is there any update on this issue? I am facing the same issue,  tried the solution by  @traumverloren  but doesnt seem to work, getting the below error

`https://s3.us.cloud-object-storage.appdomain.cloud/tfjs-cos/libtensorflow-gpu-linux-arm64-1.15.0.tar.gz
[==============================] 1044614/bps 100% 0.0s
* Building TensorFlow Node.js bindings
node-pre-gyp install failed with error: Error

[2021-06-18 14:16] gaurav8809 commented on #3186
You just need to use different algorithm to decode image

[2021-06-18 20:11] leolellisr opened #5234 "Fail to load converted model in node.js"
Hi guys! I'm new to TensoFlowjs and I'm struggling to find a solution to this error. I'm trying to train a Blazeface model in Python and convert it to use in node.js.

**System information**
- OS Platform and Distribution: Windows 10
- TensorFlow.js installed from npm
- TensorFlow.js version 3.6.0
- Tensorflow.js Converter Version: tensorflowjs 3.7.0;
- Dependency versions: keras 2.4.0; tensorflow

[2021-06-18 23:20] emsoneal opened #5235 "MoveNet Performance with JavaScript ES5"
I was wondering if there are any suggestions for increasing MoveNet performance in ES5. Here is the one function below that I  make calls to MoveNet in.

[code]

[2021-06-18 23:26] Stylos21 commented on #1811
+1 for this

[2021-06-19 01:15] sbrl commented on #3873
Found the problem! I wasn't specifying the parameters for the pooling layers in my model correctly.

[2021-06-19 01:15] #3873 closed

[2021-06-19 11:28] kevinchristianto commented on #5179
I've tried that, even before you tell me. I'm using React Native CLI too.
May I see your metro.config.js?

[2021-06-19 11:34] roihanmufli commented on #5179
This is my **metro.config.js**:

 const { getDefaultConfig } = require('metro-config');
 module.exports = (async () => {
   const defaultConfig = await getDefaultConfig();
   const { assetExts } = defaultConfig.resolver;
   return {
     resolver: {
       // Add bin to assetExts
       assetExts: [...assetExts, 'bin'],
     }
   };
 })();

And just in case, if you want to see my **package.json**

[2021-06-19 11:41] kevinchristianto commented on #5179
Okay so I found the problem.
I tried to merge the metro.config.js from tfjs installation instruction with the existing one, so it become like this
[code]

And it gives me the errors above
But when I change it into
[code]

It worked, no error shown.

[2021-06-19 11:41] #5179 closed

[2021-06-19 14:05] CoolingJam commented on #5150
I dont have yarn, but I attached an log of `npm rebuild @tensorflow/tfjs-node --build-addon-from-source`.

[2021-06-20 21:08] asilvas opened #5237 "Kernel 'Linspace" not registered for backend 'undefined'"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- TensorFlow.js installed from (npm or script link): 3.7.0
- TensorFlow.js version (use command below): 3.7.0
- Browser version: 3.7.0

**Describe the current behavior**

[code]

In browser docs example or locally in node

Might be connected to a recent commit but nothing obvious to me so haven't submitted

[2021-06-21 13:01] playground commented on #5223
@rthadur are you able to reproduce the issue?

[2021-06-21 13:40] DCtheTall commented on #4066
@rthadur I am interested in implementing this if you're still accepting external contributors.

[2021-06-21 15:56] rohanmuplara commented on #5219
Ok makes sense. My where's right now are at the end of the model graph.  Is there any performance advantage of separating them out into their own graph, or putting them in the beginning of the graph. (I have a pipeline of mobilnet models so I can theorethically put the wheres at the beginning of the model(

[2021-06-21 21:45] rthadur commented on #4066
@DCtheTall please go-ahead , thanks for your interest.

[2021-06-22 01:18] rthadur commented on #5234
@leolellisr this might be related issue to the repo https://github.com/FurkanOM/tf-blazeface , This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow.js) since it is not a bug or feature request. There is also a larger community that reads questions there.

[2021-06-22 01:18] #5234 closed

[2021-06-22 01:24] rthadur commented on #5237
@jinjingforever I was able to reproduce the same , please check.

[2021-06-22 13:34] raffizulvian commented on #5134
Hi everyone! Is anyone working on this issue? If not can I try to work on this issue? @lina128

[2021-06-22 13:35] himanshu007-creator commented on #5134
Thanks, but at present I am working on it, incase I am unable to do so, it's all yours!

[2021-06-22 13:38] raffizulvian commented on #5134
Alright @himanshu007-creator , thanks for the info!

[2021-06-22 16:31] sbrl opened #5241 "README does not recommend installation of the right CUDA version"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 21.10 Hirsute Hippo
- T

[2021-06-22 16:36] SukkaW opened #5242 "`tfjs-automl` image classification memory leak on Node.js"
**System information**

- Have I written custom code (as opposed to using a stock example script provided in TensorFlow.js): Repo link below
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Darwin 20.5.0 x64 (macOS Big Sur 11.4)
- TensorFlow.js installed from (npm or script link): npm
- System information:

[code]

**Describe the current behavior**

`Resident Set Size` keeps getting bigg

[2021-06-22 17:14] #5181 closed

[2021-06-22 18:24] jasonmayes commented on #5207
Just a bump to keep this open for now until I get back to my other PC to try and replicate

[2021-06-22 18:58] rthadur commented on #5242
The above GitHub link does not work , please check, meanwhile can you check this comment https://github.com/tensorflow/tfjs/issues/4015#issuecomment-704335135 if it helps , thank you

[2021-06-22 19:09] SukkaW commented on #5242
@rthadur The repo should be available now.

I will look into the link you provided, thanks for your reply!

[2021-06-22 20:06] dewball345 commented on #4637
@pravastacaraka Okay, i implemented the nms as well as some pre/post processing, and you can view it [here](https://github.com/dewball345/ear.js)

[2021-06-22 20:48] mattsoulanille opened #5245 "Otsu Image Threshold Broken in tfjs-react-native"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow.js): No
- OS Pla

[2021-06-22 21:40] lina128 commented on #5214
Hi @mattsoulanille, please update the issue when tfjs-react-native is updated.

[2021-06-22 21:51] mattsoulanille commented on #5245
[Reference colab contributed to the TF repo](https://colab.sandbox.google.com/drive/1CdVfa2NlkQBga1E9dBwHved36Tk7Bg61)

[2021-06-23 00:05] pyu10055 commented on #4838
@TylerLeonhardt you can use following command:
[code]

[2021-06-23 00:08] pyu10055 commented on #4838
@TylerLeonhardt TFJS model loading API aims for browser usage, which uses fetch API under the hood. For loading from local file system, you might need to implement the custom loader API.
You can take a look at this doc https://www.tensorflow.org/js/guide/save_load

[2021-06-23 12:14] stevexbritton opened #5246 "Upgrading from 3.5.0 to 3.6.0 introduces shader compile error 'xTexelC8Ready' : undeclared identifier"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow.js): No
- OS Pla

[2021-06-23 12:16] aravindvnair99 commented on #5017
Not stale

[2021-06-23 12:19] MiraiKami commented on #2409
Hi,
I have a real world problem about this issue.
For a project in physics modeling I am using complex numbers and must use functions such as sqrt and div, but these do not seem to be implemented as of yet.
For this specific project I must use the JS version of tensorflow and have no choice over the programming language.

[2021-06-23 13:57] rohanmuplara commented on #5219
@pyu10055 Also, I notice when running my models even though they are being called in an async function, when the models are running the ui is very slow and not responsive. Is that expected and due to models running in webgl? Any tricks to optimize this?

[2021-06-23 16:45] rthadur commented on #5246
Can you please try with latest 3.7.0 , also please specify the steps you were following.Thank you

[2021-06-23 17:42] pyu10055 commented on #5246
@stevexbritton if you can share the model would help us identify what are the configurations for the failing kernels. thanks

[2021-06-24 02:15] haoyunfeix opened #5248 "[tfjs-models] memory access out of bounds error in pose-detection demo"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow.js): Yes
- OS Pl

[2021-06-24 02:29] rthadur commented on #5248
In order to expedite the trouble-shooting process, please provide a code snippet to reproduce the issue reported here. Thanks!

[2021-06-24 06:32] OdaNeo opened #5249 "[tfjs-node-gpu] OP_REQUIRES failed at conv_ops.cc:1106 : Not found: No algorithm worked"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow.js):Yes
- OS Pla

[2021-06-24 15:24] rthadur commented on #5249
@OdaNeo you need to run `yarn enable-gpu` to enable GPU locally.

[2021-06-24 15:28] haoyunfeix commented on #5248
Reproduce code is here: https://github.com/tensorflow/tfjs-models/pull/756

[2021-06-24 15:41] TylerLeonhardt commented on #4838
@pyu10055 did you mean this section:
![image](https://user-images.githubusercontent.com/2644648/123292423-e1fd8200-d4c7-11eb-93d2-0ac7c4d992e2.png)

Looks like all of the links 404. Example: https://github.com/tensorflow/tfjs-core/blob/master/src/io/types.ts#L165

Have they moved somewhere else?

[2021-06-24 17:38] rthadur commented on #5248
Wasm is not supported in posenet , @lina128 can you please confirm if this is supported ?

[2021-06-24 18:24] Fume19 commented on #2000
i am running into the same issue

[2021-06-24 20:39] lina128 commented on #5235
Hi @emsoneal , can you share with us the performance difference? If the difference is just then vs async/await, then there's nothing we can help here. async/await is more performant than then (ref: https://mathiasbynens.be/notes/async-stack-traces).

[2021-06-24 20:43] lina128 commented on #5248
Right, WASM is not supported, it's either too slow to run or throws memory access out of bounds error.

[2021-06-24 20:43] lina128 commented on #5214
@AkshayMethe new tfjs-react-native is released, please check.

[2021-06-24 20:57] lina128 commented on #4853
Hi @11mhg, it seems we don't support lamda layer conversion, you will have to provide the js implementation of the lambda layer, see this issue for details: https://github.com/tensorflow/tfjs/issues/283

[2021-06-24 21:05] lina128 commented on #5128
Hi, I'm able to run the body-pix demo with tfjs 3.6.0 and 3.7.0. Can you share a reproducible code?

[2021-06-24 21:20] volkans80 opened #5250 "mobilenet infer method's embedding parameter"
Why many example uses 'conv_preds' string for infer method's second parameter?
In type definitions, second parameter is boolean not string.

Thanks,

![image](https://user-images.githubusercontent.com/3122625/123333913-05b5dc00-d54b-11eb-8e4c-300a23b51cd5.png)

[2021-06-24 23:45] jinjingforever commented on #5237
Thank you for the report @asilvas! The PR above should fix this issue (it will be in the next release). For now, a workaround is wrapping the code around `tf.ready`:

[code]

[2021-06-24 23:45] #5237 closed

[2021-06-25 02:56] OdaNeo commented on #5249
I do it like this:
[code]
And I run this script successfully. Here is the log:
[code]
But when I build my model, nothing changed, I still met Error.

[2021-06-25 03:02] OdaNeo commented on #1660
I get the same error too. Do you have any solution?

[2021-06-25 04:31] rthadur commented on #5249
related to https://github.com/tensorflow/tfjs/issues/5249#issuecomment-868165040

[2021-06-25 12:51] rohanmuplara commented on #5219
@pyu10055 I looked into more and when I call console.log before and after the model, it takes the whole model prediction time. This is the first I call it and I believe this is in webgl when it is setting everything up.

[2021-06-25 21:08] #4853 closed

[2021-06-26 08:14] #5154 closed

[2021-06-26 12:04] anjanesh commented on #2329
How do I do that ?

[code]

[2021-06-26 16:39] anzbert commented on #5241
so CUDA 10 is the only working version right now?

[2021-06-26 21:19] sbrl commented on #5241
No, that's not necessarily the case with the latest version of Tensorflow.js @anzbert. If you are on an older version of Tensorflow yes, but with the latest version I have observed it attempting to load the CUDA 11 libraries, but as for which ones it is actually after I can't tell because the documentation is incorrect.

[2021-06-26 22:20] DCtheTall commented on #4066
@rhadur you're welcome! I was wondering if there is a place in tfjs-node which would be a good example of how you typically implement new kernel functions for Node.JS. Just an example of what to go off of should be enough for me to hack something together for a PR

[2021-06-27 07:23] carrycooldude commented on #5110
I can work on this

[2021-06-27 07:24] carrycooldude commented on #5110
cc : @rthadur

[2021-06-28 07:25] carrycooldude commented on #5110
cc: @rthadur @pyu10055

[2021-06-28 08:21] lowkeyboard opened #5255 "Unsigned APK Not Working As Expected"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**Describe the problem**
Before you say this is a react native issue, I want to say that I was always able to ge

[2021-06-28 17:12] jinjingforever commented on #4066
Thank you @DCtheTall! This [PR](https://github.com/tensorflow/tfjs/pull/4348) might be a good example of adding missing ops to node JS, and this [doc](https://github.com/tensorflow/tfjs/blob/master/CONTRIBUTING_MISSING_OP.md) might also be helpful. Really appreciate it!

[2021-06-28 17:45] brayanL commented on #5084
the library no support M1 Apple chip, but is there a plan to support it?

[2021-06-28 17:45] rthadur commented on #5255
looking at the package.json I see you have both tfjs and tfjs-core , the later will take care of installing all the dependencies of tfjs , also did you check the steps here https://github.com/tensorflow/tfjs/tree/master/tfjs-react-native ?

[2021-06-28 18:17] mattsoulanille opened #5257 "Posenet Camera Demo is Broken"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow.js): No
- OS Pla

[2021-06-28 19:26] rthadur commented on #5162
Thank for you for confirming , please mention@ to reopen if you still see issue

[2021-06-28 19:26] #5162 closed

[2021-06-28 20:23] DCtheTall commented on #4066
@jinjingforever thank you for the links. This should be all I need to get started!

[2021-06-29 01:32] rthadur commented on #4682
@GantMan can we close this ?

[2021-06-29 01:46] rthadur commented on #4647
https://github.com/tensorflow/tfjs-core has been archived, please use this repo https://github.com/tensorflow/tfjs and let us know if the issue still persists. Thank you.

[2021-06-29 01:52] rthadur commented on #4623
The related PR has been merged , so closing the issue. Thank you

[2021-06-29 01:52] #4623 closed

[2021-06-29 10:08] Jove125 opened #5259 "Error: Operands could not be broadcast together with shapes 1554 and 1554,2"
**System information**
- OS Platform and Distribution - Windows 10
- Browser: Chrome, Version 91.0.4472.106
- Tensorflow.js Converter Version: 3.7.0

My model was trained using the tensorflow/models/research/object_detection/model_main.py script in TF 1.15 using the following command:
`python model_main.py --logtostderr --model_dir=training --pipeline_config_path=training/ssdlite_mobilenet_v3_smal

[2021-06-29 13:54] playground commented on #5173
@pyu10055 @franckOL I'm running into the same issue in Raspberry p3

I'm running tfjs-node v3.3.0 due to a regression bug with v3.7 as suggested by @pyu10055 https://github.com/tensorflow/tfjs/issues/5161#issuecomment-854972551,
has this been resolved for v3.7?

What to do to get it to run in RPi
[code]

[2021-06-29 14:25] franckOL commented on #5173
@playground As you see a PR is done to fix that, already merged, just waiting for release 3.7.x

[2021-06-29 14:46] GantMan commented on #4682
I think this is a pretty significant bug.

Using TFJS to grab a CSV file means pulling the file TWICE across the network.    I don't know where the standard is but I assume it's less than O(2n).

[2021-06-29 15:33] playground commented on #5173
Thanks @franckOL, I was also checking with @pyu10055 if the other regression bug has been addressed so I can run v3.7.x.

[2021-06-29 20:29] heystoney commented on #5216
Just a small update -- I ran the tests again in the new iOS15 Beta 2 and this error still exists across the official TFJS examples.

A [patch](https://bugs.webkit.org/show_bug.cgi?id=226953) had been created by the Webkit team, but I'm not sure if it was included in the new iOS release. This may need to be followed up on by someone closer to the Webkit team so TFJS can continue working when iOS15

[2021-06-29 20:37] DCtheTall commented on #4066
@rthadur @jinjingforever I have opened a [#5261](https://github.com/tensorflow/tfjs/pull/5261) which implements this function for Node.JS. Lmk if anything else needs to be done.

[2021-06-29 20:48] jinjingforever commented on #4066
Thank you @DCtheTall for the PR!

[2021-06-29 21:06] rthadur commented on #4066
This change will be available in next release , thank you so much @DCtheTall for your contribution.

[2021-06-29 21:55] jinjingforever commented on #4066
Sorry, thanks to @mattsoulanille, looks like the underlying TF C API (1.15) doesn't support this op. It is not supported in the latest version (2.5) either.

What is the right approach to support this kind of ops? (@pyu10055 @lina128 @mattsoulanille). Thanks!

[2021-06-29 22:44] pritasam commented on #4284
any updates on this issue ?

[2021-06-30 05:49] rlleshi commented on #1556
@leemengtaiwan found the solution?

[2021-06-30 08:31] Zengyf-CVer opened #5265 "Problems with running script code in tflite"
##### When I run the script code in the tflite README, an error like this appears in the chrome console:
![ksnip_20210630-162655](https://user-images.githubusercontent.com/41098760/123928042-0e316b00-d9c0-11eb-9f7d-599df35f04ab.png)

##### The code in my html:
- https://github.com/tensorflow/tfjs/tree/master/tfjs-tflite#via-a-script-tag
[code]

[2021-06-30 08:53] Neilblaze commented on #5257
@mattsoulanille the demo [link](https://storage.googleapis.com/tfjs-models/demos/posenet/camera.html) which you provided is working for me without any issues (on my PC - Windows 10 pro x64 | Chrome 91.0.4472.124). Later, I re-checked whether the issue persists on different systems, & found that my MacBook is also facing the same issue (with Chrome).

[2021-06-30 11:52] Cannonball2134 commented on #3884
Any luck figuring out the image quality issue @JJwilkin ?

[2021-06-30 11:59] Zengyf-CVer opened #5266 "Problems when running tflite demo"
##### I run [the demo in tflite](https://github.com/tensorflow/tfjs/tree/master/tfjs-tflite/demo), the chrome console has such a problem：
![ksnip_20210630-195510](https://user-images.githubusercontent.com/41098760/123956647-80647880-d9dd-11eb-9d57-75896c38bcb0.png)
##### Don't know what caused it？

[2021-06-30 13:57] BaderTim opened #5267 "Cannot load TF2 Object Detection model CenterNet MobileNetV2 with loadGraphModel() function"
Hello,
I have fine tuned the CenterNet MobileNetV2 model from the official Tensorflow Object Detecion 2 Model Zoo and converted it to a JavaScript model. I validated the model within my Python enviroment and made sure it was working just fine before the conversion. After I try to load it in JavaScript it crashes.

## System information
- Windows 10
- Tensorflow.js version 3.7.0
- Microsoft Edge ve

[2021-06-30 15:37] mattsoulanille commented on #5257
This is strange. The demo is now working for me with no issues on the same computer I used in my first test. I don't believe I've made any changes to the setup (haven't restarted Chrome). I also tested on a 2015 macbook pro 10.14.6 chrome 91.0.4472.114 with no issues. I'll keep this issue open since you've been able to reproduce it.

[2021-06-30 16:45] lina128 commented on #4066
Hi @jinjingforever, I see that there's a ScaleAndTranslate in the c API: https://www.tensorflow.org/api_docs/cc/class/tensorflow/ops/scale-and-translate

Can we use that for FlipLeftAndRight?

[2021-06-30 17:08] lina128 commented on #4066
If ImageProjectiveTransformV3 is available in the c API, it's even better, it's easier to express flip with an Affine transformation matrix: https://www.tensorflow.org/api_docs/python/tf/raw_ops/ImageProjectiveTransformV3

[2021-06-30 17:54] Neilblaze commented on #5257
@mattsoulanille I would love to add an update to my reply.

I was facing the same issue (on my MacBook Air) which you mentioned, later I figure out that doing a **hard refresh** fixes the issue! I think, I was able to reproduce the issue because of the cache of the ResNet50 model from one of my personal projects, which might be creating an issue when a new model (MobileNetv1) was loading up.

[2021-06-30 18:06] MaximeKjaer opened #5269 "[tfjs-converter] Conversion from `tf_saved_model` to `tfjs_layers_model`"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow.js version (you are using): 3.7.0
- Are you willing to contribute it (Yes/No): No

[2021-06-30 18:08] jinjingforever commented on #4066
Thank you @lina128! I checked the code and looks like the scale factors have to be [greater than 0](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/kernels/image/scale_and_translate_op.cc#L319-L320). So it probably cannot be used to flip an image. And looks like ImageProjectiveTransformV3 is not available in the C API.

Maybe we could use "reverse" to do the flip, i.e. reverse

[2021-06-30 18:21] heystoney commented on #5216
One more quick update -- heard back from a member of the Webkit team that their patch for this issue did not make it into iOS15 Beta 2, but they are hopeful it will be in the next one. I'll test when Beta 3 is released and update/close the ticket if it's fixed.

[2021-06-30 18:48] rthadur commented on #5265
@Zengyf-CVer are you using VPN ? is there a restriction for google links ?

[2021-06-30 21:08] lina128 commented on #4066
reverse sounds good to me.

[2021-06-30 21:49] DCtheTall commented on #4066
@lina128 thanks for the reply. I'd be happy to assist if I can with any other work needed to reland my original PR

[2021-06-30 21:50] mattsoulanille commented on #5257
Thanks for the additional info, @Neilblaze. I was running some other demos that use ResNet50 locally, so maybe that caused the same cache problems you had. I thought I had done an **empty cache and hard reload**, but I guess I actually didn't. I'll close this issue, since it seems like that was the problem.

[2021-06-30 21:50] #5257 closed

[2021-06-30 21:57] jinjingforever commented on #4066
Thanks @DCtheTall! I am working on a fix for the existing implementations in other backends and related tests. After that is merged, it would be great if you could help refactor your PR to use "reverse" to implement flipLeftRight in node.

Really appreciate it!

[2021-06-30 22:39] DCtheTall commented on #4066
@jinjingforever SGTM. Let me know when your change has merged and I can refactor my PR accordingly

[2021-06-30 23:52] Zengyf-CVer commented on #5265
##### Google link is normal, I run the following script is no problem：
[code]
##### But when running the following two scripts, there is a problem that the link cannot be found：
[code]
A question that confuses me, why is there` .map` behind the link?
![ksnip_20210701-075135](https://user-images.githubusercontent.com/41098760/124044962-3ca35a80-da41-11eb-8c3a-59487e08a358.png)

[2021-07-01 00:09] jinjingforever commented on #5266
Looks like there is a typo in the README file which will cause the `download-tflite-web-api.sh` script to fail (it should be `./scripts` instead of `./script`). I have a PR to update the README file to make things more clear.

Note that you do need to successfully build the tfjs-tflite package locally before running the demo. I tested the steps (after the typo fix) on my machine and they seem to w

[2021-07-01 02:08] Zengyf-CVer commented on #5266
@jinjingforever
I followed your method to the step of `yarn watch`, and the error in the picture occurred:
![ksnip_20210701-100202](https://user-images.githubusercontent.com/41098760/124053926-b0e6f980-da53-11eb-9ac2-8d60bb908b4d.png)
I only installed `@tensorflow/tfjs-core` with yarn. I don't know what else needs to be installed for the code to work, or what caused the error in the picture above?

[2021-07-01 03:47] Zengyf-CVer commented on #5266
The problem is solved, the location of `yarn add` is wrong, I should execute it in the demo directory. thank you.

[2021-07-01 03:47] #5266 closed

[2021-07-01 10:05] MaximeKjaer opened #5273 "Loading a LayersModel with the HTTP IOHandler does not produce the same result as loading it from file system"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow.js): Yes
- OS Pl

[2021-07-01 14:27] stevexbritton commented on #5246
Sorry for the delay in replying.
Yes it does go wrong with 3.7.0.
I have created a codepen example (https://codepen.io/stevexbritton/pen/wvJVExo?editors=1111) demonstrating the problem.
I hope this helps,
Steve

[2021-07-01 14:31] MaximeKjaer commented on #5273
I'm noticing that when using the HTTP IOHandler's `.load()` method, the `trainingConfig` field of the model JSON gets dropped. Seems like this could be a linked problem. I'll investigate a bit, and if the fix isn't too complicated, I'll submit a PR to solve this.

[2021-07-01 17:07] #5248 closed

[2021-07-01 17:10] rthadur commented on #5224
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2021-07-01 17:10] #5224 closed

[2021-07-01 18:53] rthadur commented on #5158
please check a related issue here https://github.com/tensorflow/tfjs/issues/4902

[2021-07-01 20:23] rthadur commented on #5265
In order to expedite the trouble-shooting process, please provide a code snippet to reproduce the issue reported here. Thanks!

[2021-07-01 20:26] mattsoulanille opened #5275 "Build tfjs-core and tfjs-backend-cpu with ts_library"
This issue is part of the "Adopt Bazel" project and tracks converting the above package(s) to build with Bazel. For details on how to convert a package, take a look at the [Bazel Migration doc](https://github.com/tensorflow/tfjs/blob/master/BAZEL_MIGRATION.md).

[2021-07-01 20:30] mattsoulanille opened #5276 "Build tfjs-converter with Bazel"
This issue is part of the [Adopt Bazel](https://github.com/tensorflow/tfjs/projects/17) project and tracks converting the above package(s) to build with Bazel. For details on how to convert a package, take a look at the [Bazel Migration](https://github.com/tensorflow/tfjs/blob/master/BAZEL_MIGRATION.md) doc.

Depends on #5275

[2021-07-01 20:31] mattsoulanille opened #5277 "Build tfjs-backend-webgl with Bazel"
This issue is part of the [Adopt Bazel](https://github.com/tensorflow/tfjs/projects/17) project and tracks converting the above package(s) to build with Bazel. For details on how to convert a package, take a look at the [Bazel Migration](https://github.com/tensorflow/tfjs/blob/master/BAZEL_MIGRATION.md) doc.

Depends on #5275

[2021-07-01 20:32] mattsoulanille opened #5278 "Build tfjs-layers with Bazel"
This issue is part of the [Adopt Bazel](https://github.com/tensorflow/tfjs/projects/17) project and tracks converting the above package(s) to build with Bazel. For details on how to convert a package, take a look at the [Bazel Migration](https://github.com/tensorflow/tfjs/blob/master/BAZEL_MIGRATION.md) doc.

Depends on #5275, #5277

[2021-07-01 20:33] mattsoulanille opened #5279 "Build tfjs-data with Bazel"
This issue is part of the [Adopt Bazel](https://github.com/tensorflow/tfjs/projects/17) project and tracks converting the above package(s) to build with Bazel. For details on how to convert a package, take a look at the [Bazel Migration](https://github.com/tensorflow/tfjs/blob/master/BAZEL_MIGRATION.md) doc.

Depends on #5275, #5278

[2021-07-01 20:34] mattsoulanille opened #5280 "Build the tfjs union package with Bazel"
This issue is part of the [Adopt Bazel](https://github.com/tensorflow/tfjs/projects/17) project and tracks converting the above package(s) to build with Bazel. For details on how to convert a package, take a look at the [Bazel Migration](https://github.com/tensorflow/tfjs/blob/master/BAZEL_MIGRATION.md) doc.

Depends on #5275, #5276, #5277, #5278, #5279

[2021-07-01 20:34] mattsoulanille opened #5281 "Build tfjs-node with Bazel"
This issue is part of the [Adopt Bazel](https://github.com/tensorflow/tfjs/projects/17) project and tracks converting the above package(s) to build with Bazel. For details on how to convert a package, take a look at the [Bazel Migration](https://github.com/tensorflow/tfjs/blob/master/BAZEL_MIGRATION.md) doc.

Depends on #5280

[2021-07-01 20:39] mattsoulanille opened #5282 "Build tfjs-backend-wasm entirely with Bazel"
This issue is part of the [Adopt Bazel](https://github.com/tensorflow/tfjs/projects/17) project and tracks converting the above package(s) to build with Bazel. For details on how to convert a package, take a look at the [Bazel Migration](https://github.com/tensorflow/tfjs/blob/master/BAZEL_MIGRATION.md) doc.

tfjs-backend-wasm already uses Bazel to build its wasm bundles, but it still needs the js

[2021-07-01 20:41] mattsoulanille opened #5283 "Build tfjs-backend-webgpu with Bazel"
This issue is part of the [Adopt Bazel](https://github.com/tensorflow/tfjs/projects/17) project and tracks converting the above package(s) to build with Bazel. For details on how to convert a package, take a look at the [Bazel Migration](https://github.com/tensorflow/tfjs/blob/master/BAZEL_MIGRATION.md) doc.

Depends on #5275, #5276, #5277

[2021-07-01 20:43] mattsoulanille opened #5284 "Build tfjs-tflite with Bazel"
This issue is part of the [Adopt Bazel](https://github.com/tensorflow/tfjs/projects/17) project and tracks converting the above package(s) to build with Bazel. For details on how to convert a package, take a look at the [Bazel Migration](https://github.com/tensorflow/tfjs/blob/master/BAZEL_MIGRATION.md) doc.

Depends on #5275

[2021-07-01 20:46] mattsoulanille opened #5285 "Build and run e2e tests with Bazel"
This issue is part of the [Adopt Bazel](https://github.com/tensorflow/tfjs/projects/17) project and tracks converting the above package(s) to build with Bazel. For details on how to convert a package, take a look at the [Bazel Migration](https://github.com/tensorflow/tfjs/blob/master/BAZEL_MIGRATION.md) doc.

Depends on #5275, #5276, #5277, #5278, #5279, #5280, #5281, #5282

[2021-07-01 21:15] mattsoulanille opened #5287 "Convert Monorepo packages to use Bazel"
This issue is part of the [Adopt Bazel](https://github.com/tensorflow/tfjs/projects/17) project and tracks converting the monorepo package to build with Bazel. For details on how to convert a package, take a look at the [Bazel Migration](https://github.com/tensorflow/tfjs/blob/master/BAZEL_MIGRATION.md) doc.

The following is the list of TensorFlow.js monorepo packages that need to be converted to

[2021-07-01 22:02] jinjingforever commented on #4066
Hi @DCtheTall, I've merged my PR. Now you can try implementing flipLeftRight using [reverse](https://github.com/tensorflow/tfjs/blob/master/tfjs-node/src/kernels/Reverse.ts). The PR also updated the [tests](https://github.com/tensorflow/tfjs/blob/master/tfjs-core/src/ops/image/flip_left_right_test.ts). You can test your changes locally by running `yarn test` in the `tfjs-node` directory.

Thank yo

[2021-07-02 12:15] #5150 closed

[2021-07-02 16:35] playground commented on #3426
@aknoerig have you been able to get option 2 implemented?  I'm running into a similar issue with tfjs-node 3.0.0-rc.1
 loading saved model in Raspberry Pi 4.

@pyu10055 can you recommend a solution?

[2021-07-02 17:59] pyu10055 commented on #3426
@playground you might want to try the new upcoming build for raspbarryPI, it is based on TF 2.5.

[2021-07-02 18:06] playground commented on #3052
I'm also looking for a solution for the same issue Pi 4.

[code]

[2021-07-02 18:09] aknoerig commented on #3426
@playground Sorry, no, I haven't explored this any further.

[2021-07-02 18:16] playground commented on #3426
@pyu10055 is that available now?  can you point me to it?

[2021-07-03 01:14] #5200 closed

[2021-07-03 01:14] #5183 closed

[2021-07-03 05:42] deveshsinghal22 commented on #4242
I am also trying the same codelab tuorial.
below image is the result for Training Performance
![image](https://user-images.githubusercontent.com/2578290/124344349-2dfaa600-dbef-11eb-99eb-450304774d83.png)

below image is what shows in google codelab
![image](https://user-images.githubusercontent.com/2578290/124344385-669a7f80-dbef-11eb-832c-56be3d15e243.png)

kindly confirm if this is ok.

below a

[2021-07-04 09:00] lowkeyboard opened #5289 "Is it possible with React Native API to Analyze and Record at the Same Time"
Is it possible to use cameraWithTensors(https://js.tensorflow.org/api_react_native/latest/#Media-Camera) with both tensors and video recording purposes? Such as I want to run real-time classify images tensors whilst recording a video. Right now I can do it separetly but is it possible to do it at the same time?

[2021-07-05 03:08] Zengyf-CVer opened #5291 "About the Bug of executeAsync Asynchronous Function"
@rthadur @lina128
I studied the object detection project of tfjs and found that the code of `tf.loadGraphModel(weights).executeAsync(input)` has some bugs when it is called.
Bug description:
When there is a detected object in the input picture, the program is normal, as shown in the figure.
![ksnip_20210705-103113](https://user-images.githubusercontent.com/41098760/124410046-27e60000-dd7c-11eb-893

[2021-07-05 05:02] aminK8 commented on #4823
I have a trained model, this model contains Instance normalization. I trained this model with Tensorflow Addons. Then I convert my model to tfjs model and then wanted to load in Javascript, But I got the below error. So now I try to find an Implementation of Instance Normalization in javascript.
Please let me know if anyone has any suggestions.

`errors.ts:48 Uncaught (in promise) Error: Unknown l

[2021-07-05 06:24] vladmandic commented on #5291
see #4716 for details (still open)

[2021-07-05 07:21] mafar opened #5292 "[BUG] With require.js inside electron app , does not work"
Here is my scenerio:
My app is using require.js and is running inside electron.
I kept getting error and then i fugred it out.
[code]
Please Update function ```ENV.registerFlag('IS_NODE', function ```
so that it ignores NODE if AMD is found

[2021-07-05 11:11] Zengyf-CVer commented on #5291
I have read your question before, but I still want to ask you, is this error because there is no object to be detected by the model in the picture you entered? In other words, is the problem you encountered because executeAsync function cannot handle the returned empty object? Thank you.

[2021-07-05 12:43] vladmandic commented on #5291
I'm guessing it's about empty return as TFJS is connecting layers, it doesn't necessarily has to be output layer.

[2021-07-06 01:44] #4662 closed

[2021-07-06 02:32] Honry opened #5293 "[WebGL] Failed to compile fragment shader"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow.js): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): All platforms
- TensorFlow.js version (use command below):  tf.js 3.7.0 webgl backend.
- Browser version: Chrome 93.0.4545.0

**Describe the current behavior**
WebGL backend throws `Failed to compile fragment shad

[2021-07-06 02:54] huningxin commented on #5293
Thanks @Honry , how about the cpu backend and wasm backend?

[2021-07-06 03:07] Honry commented on #5293
@huningxin, this issue only reproduce on webgl backend.

[2021-07-06 09:12] rlleshi commented on #1728
Any plans for this?

[2021-07-06 15:12] Jove125 commented on #5259
Am I the first one who tried to launch the object detection model (mobilenet v3, trained on tensorflow 1.15), or does everything work for everyone and does not work only for me?

I've tried different versions of Tensorflow.js Converter, tried different models (moblinet v3 small, large, large minimalistic), tried convert from saved model and frozen model. But the same error always occurs.

[2021-07-06 21:40] woodcockjosh opened #5295 "tfjs-node README out of date"
The tfjs-node documentation does not support the actual tensorflow version, 2.5.0 that is supported in the code. Please update.

[2021-07-07 02:08] playground commented on #3426
@pyu10055 where can I try out the up coming build?

[2021-07-07 04:12] ahmedsabie opened #5296 "Finalize WebGL TopK Implementation"
Currently trying one more optimization for the WebGL TopK kernel that reduces the number of shaders

For questions on how to work with TensorFlow.js, or support for problems that are not verified bugs in TensorFlow.js, please go to [StackOverflow](https://stackoverflow.com/tags/tensorflow.js).

[2021-07-07 11:41] AntoineMaillard06 commented on #3319
Hi @jinjingforever, thank you for this information, do we have any information on the release date of the next version ?

[2021-07-07 11:48] facuacostag opened #5298 "Tensor image is flipped horizontally when using back camera"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow.js): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): macOS Big Sur 11.2.1
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: iOS/Android
- TensorFlow.js installed from: npm
- TensorFlow.js version: "@tensorflow/tfjs" -> 3.

[2021-07-07 14:32] Jove125 commented on #5259
I found that the functionality works on version 3.3.0. Version 3.4.0 and higher gives an error.
Please fix the bug that appeared since version 3.4.0.

Issue can be closed after fixing the bug in the new version.
Thank you.

[2021-07-07 17:43] jinjingforever commented on #3319
Hi @AntoineMaillard06, I think we will do a release this week hopefully. Next week the latest. Thank you!

[2021-07-07 17:47] danrossi commented on #4076
Confirming a runaway memory leak in Firefox. Will make a new ticket. Here is an experiment scaling the video / bodypix mask over a background image texture. Can be full scale. In real world test screencapture is switched as background texture.

https://jsfiddle.net/danrossi303/82tpoy94/3/

[2021-07-07 22:15] jasonmayes commented on #5207
I can not replicate this on Windows 10 Pro with latest OBS virtual camera installed. Everything works fine for me.

[2021-07-08 10:20] lowkeyboard commented on #5255
I deleted "@tensorflow/tfjs-core": "^3.7.0",   apk works but on the camera page (tensorflow's cameraWithSensors) is not providing any camera preview is a black screen and not recording video.

[2021-07-08 12:22] clancyGruver opened #5301 "error on mobile devices"
**System information**
- OS Platform and Distribution: Android 11
- Mobile device : Samsung galaxy S10, iphone 7
- TensorFlow.js installed from npm:
- TensorFlow.js 3.7.0:
- tfjs-tflite.js 0.0.1-alpha.4:
- Browser version: Chrome 91

**Describe the current behavior**
- tflite_web_api_cc_simd.js:9 Uncaught (in promise) RuntimeError: abort(undefined). Build with -s ASSERTIONS=1 for more info.
    at

[2021-07-08 13:35] raffizulvian commented on #5134
Any update? @himanshu007-creator

[2021-07-08 15:08] mattsoulanille commented on #4558
Done, but forgot to close.

[2021-07-08 15:08] #4558 closed

[2021-07-08 17:12] #5235 closed

[2021-07-08 20:11] Acryptarch commented on #3447
I was wondering if there was an update to this question anywhere?

[2021-07-08 20:49] #5273 closed

[2021-07-08 20:50] #2994 closed

[2021-07-08 20:55] timtensor opened #5304 "Error running demo : realtime_demo.tsx React.createElement: type is invalid -- expected using expo"
<em>Having issues running realtime_demo.tsx React.createElement: type is invalid -- expected using ex</em>

**System information**
-  I am trying to run `realtime_demo.tsx ` using expo-init tsx minimal app
- OS system Linux
- Iphone X

**Describe the current behavior**
The code fails to compile with the following error

[code]

**Describe the expected behavior**
The code should run as expected
**S

[2021-07-08 21:54] #4745 closed

[2021-07-08 23:12] basicvisual commented on #4846
@valentinchelle  I was just curious if you had faced any issue on running the realtime_demo.tsx file. I have some error executing it
https://github.com/tensorflow/tfjs/issues/5304

[2021-07-09 01:20] danrossi commented on #4076
I have a new experiment with the lowest possible cpu and gpu right now using video texture. cpu becomes higher in my integration for some reason I have to check why.

Although once I turn on slow mode gpu usage is 80%. Bodypix doesn't accept an OffscreenCanvas as a source to check if that helps. I hope giving it a buffer canvas with the video printed as a gl texture it doesnt try and do cpu draw i

[2021-07-09 07:35] stevexbritton commented on #5246
Hi,
Have you had a chance to look at this? Is the codepen example I supplied adequate?
I"m only asking because I don't want this issue closed due to inactivity.
Thanks,
Steve

[2021-07-09 07:57] ColorfulCakeChen commented on #5293
A similiar situation could be occurred by the following codes (i.e. depthwiseCon2d with ( strides == 2 ) ):

[code]

[2021-07-09 13:04] gnecula commented on #143
Has the feasibility of this changed?

[2021-07-09 15:13] ibnyusuf opened #5309 "Missing weights in converted model"
I am attempting to convert a Keras model to a Tensorflow js model using the converter tool. The resulting model is missing weight meta data in the `weightManifest `section of the `model.json` file.

Model generation and saving code:

[code]

 Model conversion code:

[code]

Error that I see when attempting to load into React Native app:

[code]

If I open the modeel.json file the meta data in the

[2021-07-09 18:56] danrossi commented on #4076
Here is another experiment using OffScreenCanvas and setting fromPixels externally. bodypix 2.2.0 accepts OffScreenCanvas too but sending input uses lower cpu for some reason.  Seems to be better on the cpu and gpu. Some of the stuff inside segmentPerson is not relevant, so calling the segment code externally.  Tried gl readPixels but the alpha data wasn't correct on the output.

[code]

[code]

[2021-07-09 19:42] DCtheTall commented on #4066
@jinjingforever @lina128 I just uploaded a PR that implements the kernel using reverse. Let me know if this is what you had in mind 😄

[2021-07-10 02:12] #296 closed

[2021-07-10 02:12] #5214 closed

[2021-07-10 02:12] #5128 closed

[2021-07-10 02:12] #5219 closed

[2021-07-10 13:01] SukkaW commented on #4971
@lina128 What if it is impossible to implement cross-origin isolated pages? Will tensorflow.js wasm backend add an `ArrayBuffer` fallback for unavailable `SharedArrayBuffer`, to make it less efficient but still workable?

[2021-07-10 17:41] playground commented on #3903
I'm running @tensorflow/tfjs-node v 3.7.0 and I'm still getting this error "**Cannot read property 'outputs' of undefined**" when tried to load model json that was converted from  saved model using tensorflowjs_converter.
When I changed to @tensorflow/tfjs-node@next, it would throw "**Cannot read property 'children' of undefined**"

```model = await tf.loadGraphModel(modelPath);```

node-pre-gyp i

[2021-07-10 20:35] playground commented on #4579
@mattsoulanille I tried the work around by adding --control_flow_v2=True

[code]

I get this error

[code]

[2021-07-12 02:58] djbreen7 opened #5313 "Outdated Documentation"
The documentation appears to be outdated.

The main readme states:

npmjs shows that v2.0.0 was one year ago. The current "latest" version is 3.7.0, which was published last month.
- https://www.npmjs.com/package/@tensorflow/tfjs/v/3.7.0
- https://www.npmjs.com/package/@tensorflow/tfjs/v/2.0.0

The concern is that developers are likely using the README for v2 code while using v3.

Additionally, [W

[2021-07-12 05:47] #4823 closed

[2021-07-12 09:01] djbreen7 commented on #4401
Same problem here:
tfjs-node: 3.7.0
node.js: 14.16.0
npm: 6.14.11
electron: 12.0.14

No luck in WSL.

Also worth noting: It works fine when I'm serving the app in development mode. I only have issues when I package the application and install it.

I can't upgrade to a higher version of node/npm because it will break electron. LTS (13.1.6) electron still uses node.js 14.6.0. Furthermore, node.js 14

[2021-07-12 09:32] lowkeyboard commented on #5255
My bad, After setting permissions for camera, unsigned apk has started to work as expected.

[2021-07-12 09:32] #5255 closed

[2021-07-12 17:30] jinjingforever commented on #4971
Hi @SukkaW, without cross-origin isolation, the wasm baskend will fallback to simd only (without multi-threading support).

[2021-07-12 17:57] SukkaW commented on #4971
Thanks!

[2021-07-12 20:28] zju-zry opened #5318 "how to transform a model file saved by tfjs to a model file used by python ?"
This template is for miscellaneous issues not covered by the other issue categories.

For questions on how to work with TensorFlow.js, or support for problems that are not verified bugs in TensorFlow.js, please go to [StackOverflow](https://stackoverflow.com/tags/tensorflow.js).

is there have any solutions

I really want to get,

thanks!

[2021-07-12 21:36] emsoneal opened #5319 "Trying to use ML5.js with Posenet"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
MacOs Big Sur
- Mobile device

[2021-07-12 21:40] emsoneal commented on #5235
Sorry for the late response, we drastically improved performance, now averaging 50 fps, by calling createDetector() outside of the poseDetectionFrame() function.

[2021-07-12 22:28] rthadur commented on #5291
Thank you @vladmandic , I will this close this issue and track the same at #4716

[2021-07-13 00:31] rthadur commented on #5295
Can you please more specific , where would you like to update ?

[2021-07-13 02:47] #4647 closed

[2021-07-13 04:40] #5293 closed

[2021-07-13 12:16] woodcockjosh commented on #5295
We should update the correct supported versions of cuda, tensorflow, cuDNN, etc.

[2021-07-13 18:58] jinjingforever commented on #5301
Hi @clancyGruver,

Thanks for the report! I tried the following code on my Android 11 emulator with Chrome 91 (SIMD enabled) and it seems to be working fine ([screenshot](https://drive.google.com/file/d/1HRrbWqP9Dx83ddEeCQ0XJa7aKrKi_Gmz/view?usp=sharing)). Maybe there was more code after `setWasmPath` you didn't post? (looks like the error occurred when you were trying to load a model?).

[code]

[2021-07-13 19:12] liliquan0118 opened #5324 "Model.executeAsync() adds another not-disposed Tensor."
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow.js):
- OS Platfo

[2021-07-13 20:44] pyu10055 commented on #5296
@mattsoulanille @ahmedsabie I removed the release blocker tag for this issue, since GPU shader might take some time and CPU impl performance might be sufficient for Movenet use case.

[2021-07-13 20:47] rthadur commented on #5309
This is something to do with the model conversion , @pyu10055 do you know if keras_vggface is supported in tfjs ?

[2021-07-13 20:49] pyu10055 opened #5325 "add a input size flag for topK cpu forwarding"
TopK CPU forwarding requires more fine tuning on the input size and K, create a flag would allow users to customize the mechanism.

[2021-07-13 21:16] rthadur commented on #5313
@djbreen7 thanks for checking this , I have submitted 2 separate PRs to remove above lines

[2021-07-13 23:25] pyu10055 commented on #5324
@liliquan0118 Your model seems to be layers model not a graph model. The code you shared does not seem to work. Can you create a working example on codepen or other site? thanks

[2021-07-14 05:47] liliquan0118 commented on #5324
Thank you for your reply, Sorry there is a problem with the model link in the code, I re-updated the model, now the code can work normally.
the new code is:
[code]
Or, you can run the following bug-5324.html file directly.
[bug-5324.zip](https://github.com/tensorflow/tfjs/files/6813778/bug-5324.zip)

[2021-07-14 07:03] clancyGruver commented on #5301
An emulator isn't the best solution for testing phones, because you still use your processor instead of phone's one.
Here is a console screenshot for a mobile phone. It's Galaxy S10.
The same code works perfect on desktop.
![image](https://user-images.githubusercontent.com/14860440/125576570-22ef4c0e-c0e2-4f46-b2f4-2861adc63935.png)

[2021-07-14 07:59] distroinfinity commented on #4312
@dabass51 I want to achieve pose estimation in my React Native app can you provide me with link to some docs or instructions on how to add tfjs and poseet into a React Native app for android. I was able to set up tfjs by installing necessary dependencies inside my React Native project. Can you provide something to move forward?
Thanks

[2021-07-14 08:49] Honry commented on #5293
@pyu10055, many thanks for fixing this issue! The `compile error` had been fixed, but the computed result looks wrong.

Here's a simple test, I just compared the first value of the output buffer, which is obviously different from result from `wasm` and `cpu` backends.

https://codepen.io/honry/pen/wvdMmva

[2021-07-14 17:17] jinjingforever commented on #5301
Thank you! You are right about the emulator. I will try to find an Android device to test this (works fine on my iPhone). From the error message, it looks like something inside the TFLite runtime. I will ask the team about this and report back if I get anything. Thanks!

[2021-07-14 17:19] uffoltzl commented on #4988
I was wondering if you found a solution?

[2021-07-14 17:19] uffoltzl commented on #4680
Did you find a solution?

[2021-07-14 17:56] #5313 closed

[2021-07-14 18:03] rthadur commented on #5318
please check this out https://github.com/tensorflow/tfjs/tree/master/tfjs-converter#javascript-to-python , you will be able to find commands how to convert from tfjs to python.

[2021-07-14 18:11] heystoney commented on #5216
This has been fixed in iOS 15 beta 3. Closing it out.

[2021-07-14 18:11] #5216 closed

[2021-07-14 19:29] #5325 closed

[2021-07-15 00:42] rthadur commented on #5319
This question is better suited for https://github.com/ml5js/ml5-library/issues , we will not be able to support ML5.js. One thing to mention is you can't use tfjs and tfjs-core together because tfjs is a union package which includes tfjs-core.So please use only one package.

[2021-07-15 00:42] #5319 closed

[2021-07-15 05:17] clancyGruver commented on #5301
Thank! It will be great.

[2021-07-15 12:34] milen-yordanov opened #5334 "Opera web worker support. Fails with 'window is not defined'"
**System information**
- OS Platform and Distribution: macOS 11.4
- TensorFlow.js installed from npm:
- TensorFlow.js version: 3.5.0
- Browser version: Opera 77

**Describe the current behavior**

I have an app based on the body-pix example
https://github.com/tensorflow/tfjs-models/tree/master/body-pix

The tensorflow and body-pix code run inside a web worker. The app works fine in Chrome and Edge

[2021-07-15 17:43] #5249 closed

[2021-07-15 18:43] #4669 closed

[2021-07-15 18:44] jinjingforever commented on #5301
I was able to use the browserstack's Real Device Cloud to run the same code on Galaxy S10 (with Android 9 and Chrome 89), but I didn't see the error you saw. I also tried Galaxy S21 with Android 11 and Chrome 91 and it seems to be working fine as well.

Is it possible that the model is not downloaded successfully from tfhub? (or are you using a different tflite model?) Thanks!

![Screen Shot 2021-

[2021-07-15 18:56] rthadur commented on #5309
can you try to convert using below command `tensorflowjs_converter \
    --input_format=tf_saved_model \
    --output_format=tfjs_graph_model \
    --signature_name=serving_default \
    --saved_model_tags=serve \
    /mobilenet/saved_model \
    /mobilenet/web_model` ans try to load the model using tf.loadGraphModel ?

[2021-07-15 20:38] mattsoulanille opened #5335 "CI Network Connectivity may be Flaky"
This bug tracks a group of possibly related failures in continuous integration that seem to be caused by network connectivity issues.

Yarn fails to fetch a package due to "trouble with [the] network connection"
- https://console.cloud.google.com/cloud-build/builds/37c7c9fa-7722-4da1-b1cf-a87551b0a652;step=0?project=learnjs-174218
- https://console.cloud.google.com/cloud-build/builds/82e4de50-5b99

[2021-07-15 22:12] ibnyusuf commented on #5309
Thanks a lot, that works! Could you explain what was causing the error?

[2021-07-16 07:01] clancyGruver commented on #5301
Thanks a lot for your answer. It's an awesome explanation. You're right I have used my own model. On cartoonize model from tfhub all works fine. It looks like something is wrong with my model.

[2021-07-16 07:01] #5301 closed

[2021-07-16 07:53] fv-yan commented on #4514
Any word/ETA on official support?

[2021-07-16 13:02] tauber opened #5336 "WASM throws memory access out of bounds in Chrome but not Firefox/Edge"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow.js):
Yes, at least as pertains to the web part.

- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
Windows 10

- TensorFlow.js installed from (npm or script link):
importScripts("https://cdn.jsdelivr.net/npm/@tensorflow/tfjs/dist/tf.min.js");
importScripts("https://cdn.js

[2021-07-16 17:26] rthadur commented on #5309
I can not comment with out knowing what steps you have used to convert model and load.

[2021-07-16 17:30] ibnyusuf commented on #5309
I used

`tensorflowjs_converter --input_format=keras_saved_model --metadata= --quantize_uint8=* C:\Users\user\Documents\Face_Recognition_Tensorflow\model .
`

to convert the model and

`tf.loadLayersModel`

to load the model.

The command above to convert the model was produced by the wizard.

[2021-07-16 17:50] rthadur commented on #5309
if it is from wizard , i have no idea , in general all the saved models are converted using the commands I provided. @pyu10055 is this a bug in wizard or is it expected ?

[2021-07-16 19:39] #4844 closed

[2021-07-16 21:17] jimmy7799 commented on #4177
From https://meet.google.com/,

https://meet.google.com/_/rtcvidproc/release/hashed/segm_full_sparse_v1008_0bda82336d236e21e52f2b74129b9883.dat
https://meet.google.com/_/rtcvidproc/release/hashed/segm_lite_v1082_c59fbb2b8451df2c2752e562c6523bcc.dat

Looks like the latest model is hashed and can not be downloaded anymore.

[2021-07-16 22:30] lina128 commented on #4716
I'll look into this next week. Stay tuned. Thank you for reporting the bug and the reproducible code.

[2021-07-16 22:38] lina128 commented on #4685
Hi @rohanmuplara, you mean startScope and endScope? It handles memory management, any intermediate tensors will be disposed properly. The disadvantage is it doesn't work with async code.

[2021-07-17 00:24] wingman-jr-addon commented on #5205
@qjia7 Thanks for your hard work! I was so excited to give this a try as I saw TF.js 3.8.0 was released! My plugin is still back on 2.7.0, so I did a quick upgrade.
Unfortunately, somewhere between 2.7.0 and 3.8.0 the performance for model load plus first inference time became much worse.  I have linked off in the issue above but the overall time went from about 9 seconds to 13.5 seconds just due

[2021-07-17 15:46] playground commented on #5173
Any updates on this?

[2021-07-17 19:00] ThirashaPraween commented on #2329
install `@tensorflow/tfjs` latest version, but **do not import it**. Then Import the model. It's fixed for me the issue.

[2021-07-18 16:02] azeemhassni commented on #2000
I'm running into this issue on version `3.8.0` which is the most recent version.

[2021-07-18 21:37] playground commented on #5161
Looks like v3.8.0 fixed the issue for Raspberry Pi, I can loadSavedModel and is working as expected.  However, this version appears to have broken for MacOS.

V3.8 is throwing this error: Cannot parse tensor from proto: dtype: DT_VARIANT on Mac
[code]

[2021-07-19 01:42] qjia7 commented on #5205
@wingman-jr-addon This issue has not been finished. It may be closed by accident. Currently, using shapes uniforms is disabled by default. You need to set `WEBGL_USE_SHAPES_UNIFORMS` to true to use it. And so far, only unary/binary applied it. For other ops, they are on the way. For example, conv2d, you can find here https://github.com/tensorflow/tfjs/pull/5297.  I don't expect it will bring big p

[2021-07-19 02:58] wingman-jr-addon commented on #5205
Thank you for the detailed explanation @qjia7 - if it's hidden behind a flag, I'm guessing that this regression has nothing to do with your recent work. Based on that, let me do some bisecting on versions and see if I can narrow the cause down a bit further and then provide a minimal reproduction either here or in an appropriate issue.

[2021-07-19 04:10] wingman-jr-addon commented on #5205
@qjia7 Through bisection I've narrowed it down to a change that occurred between 3.3.0 and 3.4.0. I'll do some more looking but that means it is definitely not related to this functionality.

[2021-07-19 05:30] wingman-jr-addon opened #5343 "WEBGL_PACK_DEPTHWISECONV=true seems to cause significant first inference performance drop"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow.js): Yes. Produc

[2021-07-19 07:13] ColorfulCakeChen commented on #4844
fd

[2021-07-19 07:17] ColorfulCakeChen commented on #4844
Thank you all efforts for this. However, re-try the test codes in the gist (https://gist.github.com/ColorfulCakeChen/e3c7e6ce1be9c6c0f5f1a6b209b9dd02) in 3.8.0 tensorflow.js (https://js.tensorflow.org/api/3.8.0/) example console box. The problem seems still exists.

[2021-07-19 10:18] MiraiKami opened #5345 "Broadcast over complex Values on CPU backend does not work well"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow.js): Yes
- OS Pl

[2021-07-19 11:51] somum commented on #1920
@kangyizhang How can i convert the tensor without using tf.node.encodeJpeg ? Because I am using only tfjs instead of tfjs-node ! Thank you.

[2021-07-19 16:32] lina128 commented on #4844
Hi @ColorfulCakeChen, the fix has not been released yet. It will be released in 3.9.0.

[2021-07-19 16:44] davideduma opened #5346 "[Codelab]: Making Predictions from 2D Data"
Greetings

The following error is presented in console in step 2 (TensorFlow.js: Handwritten Digit Recognition with CNN)

2127.0.0.1/:1 Uncaught TypeError: Failed to resolve module specifier "@tensorflow/tfjs". Relative references must start with either "/", "./", or "../".

[2021-07-19 19:02] rthadur commented on #5346
It is working as expected in step 2 , please check the glitch here https://glitch.com/edit/#!/snowy-quilt-cinema?path=data.js%3A142%3A1

[2021-07-19 19:10] rthadur commented on #5345
I tried on tfjs [version](https://js.tensorflow.org/api/3.7.0/) @3.7.0 it is working as expected , please see below ,

![image](https://user-images.githubusercontent.com/43972606/126213900-82eee957-371c-4811-a054-7baab19a2308.png)

[2021-07-19 19:15] jinjingforever commented on #5343
Hi Ahmed,

I think you probably have more knowledge about the webgl backend so assigning this to you:) Please help take a look when you have a chance. Really appreciate it!

[2021-07-19 19:39] davideduma commented on #5346
Thank you

[2021-07-19 19:39] #5346 closed

[2021-07-19 20:03] pyu10055 commented on #5324
@liliquan0118 in your code, you have created a new tensor as input, you need to manually dispose it as shown below:
[code]

[2021-07-19 20:03] #5324 closed

[2021-07-19 20:04] pyu10055 commented on #5292
@gbaned can you provide a full running example to expedite the reproduction of the issue. thanks

[2021-07-19 20:15] TylerLeonhardt opened #5349 "Is there some way to surpress this warning message?"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow.js version (you are using): 3.8.0
- Are you willing to contribute it (Yes/No): mayb

[2021-07-19 20:16] TylerLeonhardt commented on #5349
The 1st warning is also a little strange... it's something inside of tfjs causing that.

[2021-07-19 20:31] mattsoulanille commented on #5275
Closed by #5133

[2021-07-19 20:31] #5275 closed

[2021-07-19 21:01] radhikatoshniwal opened #5351 "Is there any implementation for a text vectorizer / tokenizer or something similar ?"

[2021-07-20 00:09] ColorfulCakeChen commented on #4844
Oh. Thanks. It's my fault too impatient. XD

[2021-07-20 00:26] wingman-jr-addon commented on #5343
(Also, I see that I neglected to link off to the PR that led me to this issue - [https://github.com/tensorflow/tfjs/pull/4909](https://github.com/tensorflow/tfjs/pull/4909) - I don't know that the work done in the bulk of the PR is by any means the cause, but the change of the flag's default option is what caused the regression.)

[2021-07-20 01:17] pyu10055 commented on #5349
@TylerLeonhardt what environment are you running in? seems both of the flags IS_BROWSER and IS_NODE are true.

[code]

[2021-07-20 01:40] TylerLeonhardt commented on #5349
@pyu10055 within VS Code. My guess is that since it's an electron app... both return true.

[2021-07-20 03:03] Aserrano-rds opened #5354 "Windows server"
Im trying to use @tensorflow/tfjs-node  on windows server CPU is Intel(R) Xeon(R) Gold 6154 CPU, but i'm getting this error:

cpu backend was already registered. Reusing existing backend factory.
Platform node has already been set. Overwriting the platform with [object Object].
internal/modules/cjs/loader.js:1122
  return process.dlopen(module, path.toNamespacedPath(filename));
                 ^

[2021-07-20 03:15] ColorfulCakeChen opened #5355 "When in wasm backend, tf.pool() with windowShape (filter size) 1x1 seems wrong."
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow.js): Yes (in the following gist)
- OS Platform and Distribution: Chrome OS 91.0.4472.147 (64 bits)
- Mobile device: ASUS ZenPhone Max Pro
- TensorFlow.js installed from: script link
- TensorFlow.js version: 3.8.0
- Browser version: Chrome 91.0.4472.147 (64 bits)

**Describe the cu

[2021-07-20 03:48] Aserrano-rds commented on #5354
now I'm getting this error:

internal/modules/cjs/loader.js:1122
  return process.dlopen(module, path.toNamespacedPath(filename));
                 ^

Error: A dynamic link library (DLL) initialization routine failed.
\\?\C:\Marcas\BE\node_modules\@tensorflow\tfjs-node\lib\napi-v7\tfjs_binding.node

[2021-07-20 11:03] zju-zry commented on #5318
thanks for your answer, I knew it later.

[2021-07-20 11:03] #5318 closed

[2021-07-20 14:36] axinging opened #5357 "tfjs build fail due to java.io.IOException: ERROR: src/main/native/windows/processes-jni.cc"
This can only be reproduced in Windows 10 cmd.  When try this in Git Bash, everything goes well.

Test platform:
[code]
How to:
[code]
Logs:
[code]

[2021-07-20 20:12] #5134 closed

[2021-07-20 21:58] pyu10055 commented on #5349
@TylerLeonhardt in this case, you can just use webgl backend by not including tfjs-backend-cpu package.
in you deps, you can add only tfjs-core, tfjs-backend-webgl, tfjs-converter packages instead of tfjs union package.

[2021-07-20 22:40] rthadur commented on #5354
Can you please check a related issue here https://github.com/tensorflow/tfjs/issues/2619#issuecomment-712391683 , you need to manually copy dll to resolve this. Thank you

[2021-07-20 22:44] Aserrano-rds commented on #5354
@rthadur already did that but it didnt work, I tried installing the cuda and using the version with gpu enable and it didnt work also.
This is my current error
Error: A dynamic link library (DLL) initialization routine failed.

I tried installing in a server that I have in aws and it worked without any problem so not sure what happened with this one :(

[2021-07-21 00:25] TylerLeonhardt commented on #5349
@pyu10055 thanks for the pointer! I believe you said CPU is best in our use-case in the previous issue, so I'm trying that.
Here's what I tried:

* Removing `@tensorflow/tfjs` from package.json
* Adding these to package.json:
  *  `"@tensorflow/tfjs-backend-cpu": "^3.8.0",`
  *  `"@tensorflow/tfjs-converter": "^3.8.0",`
  * `"@tensorflow/tfjs-core": "^3.8.0",`
* Changing this:
[code]
to
[code]

Un

[2021-07-21 07:12] gbaned commented on #5292
@rthadur  Can you please take a look on the above comment from @pyu10055.  Thanks!

[2021-07-21 11:18] woodcockjosh commented on #5295
/reopen

[2021-07-21 15:59] rthadur commented on #5292
@mafar In order to expedite the trouble-shooting process, please provide a code snippet to reproduce the issue reported here. Thanks!

[2021-07-21 19:49] #4716 closed

[2021-07-22 03:31] mafar commented on #5292
example will require an electron mock up with require.js inside it. Too much for me :)
But let me explain plz
When require.js is running inside electorn as in my case,

- ```tfjs``` is loaded via require.js (AMD), i dont load it via node.js (commonJs)
- but when code reaches at point as shown above , ```IS_NODE``` becomes true since we are inside electron
- - but from here dependencies start to fa

[2021-07-22 14:25] Zengyf-CVer opened #5365 "About the Local Deployment of Cloned tfjs"
@lina128

Hello, first of all thank you for fixing my problem(https://github.com/tensorflow/tfjs/issues/5291 & https://github.com/tensorflow/tfjs/pull/5359).
I am excited to try the code, but I have encountered some problems, please help me, thank you.
I cloned the latest version of the tfjs project:

[code]

I modified the `package.json` file in my object detection code:(here I used local configu

[2021-07-22 14:26] playground opened #5366 "Error: The shape of dict[‘input_tensor’] provided in model.execute(dict) must be [1,-1,-1,3]"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
MacOS Big Sur
Node v15.7.0
NPM 7.20.0

I'm running @tensorflow/tfjs-node v 3.7.0

 I attempted to convert my sav

[2021-07-22 17:05] pyu10055 commented on #5343
@wingman-jr-addon If the initialization is larger than before, there are possibly two causes:
1. There are configuration of the depthwise conv2d ops that require more packed shaders to be compiled comparing to unpacked depthwise kernel. But I do see any setup could cause that.
2.  The packed shader takes much longer to compile compares to unpacked version.

Item 2 might be browser specific, can yo

[2021-07-22 18:01] rthadur commented on #5365
@Zengyf-CVer may i know why you are modifying package.json ? tfjs is a union package which has most of tfjs-layers , tfjs-converter etc ?so please try to keep one package reference.

[2021-07-22 18:10] rthadur commented on #5366
Can you try to reshape like this `tensor = tensor.reshape([1, 224, 224, 3]); before you call predict ?
`

[2021-07-22 18:47] playground commented on #5366
Yes I did that too, that didn't help.

[2021-07-22 18:50] playground commented on #5366
Also with tfjs-node v3.8.0 seems to have broken the functionality for loadSavedModel() for MacOS.  Looks like a regression bug, I have posted that here https://github.com/tensorflow/tensorflow/issues/38260/#issuecomment-881928290

[2021-07-22 19:18] pyu10055 commented on #5349
@TylerLeonhardt can you try to set `IS_NODE` to false before you load the model?
[code]

[2021-07-22 20:46] TylerLeonhardt commented on #5349
@pyu10055 That gets rid of the "hi there 👋 " log, great!

The last one that shows up is:
[code]
which only shows up when running in VS Code... (in electron, I guess)... in my mocha tests in the vscode-languagedetection repo I do not see it.

[2021-07-22 20:52] rthadur commented on #5366
In order to expedite the trouble-shooting process, please provide a code pen example or sample code to reproduce the issue. Thanks!

[2021-07-22 21:48] pyu10055 commented on #5354
@Aserrano-rds did the installation of `tfjs-node` package failed with error messages?

[2021-07-22 21:50] Aserrano-rds commented on #5354
@pyu10055 no, everything seems to success

[2021-07-22 21:52] playground commented on #5366
Basically this is what I did
tfnode.loadGraphModel(modelUrl);
const image = fs.readFileSync(imageFile);
let decodedImage = tfnode.node.decodeImage(image);

tried both predict and executeAsync

I can share the converted model.json if that will help.

[2021-07-22 23:57] pyu10055 commented on #5354
can you try to rebuild the addon in the tfjs-node directory:

[code]

[2021-07-22 23:59] Aserrano-rds commented on #5354
@pyu10055  as far as I remember yes I did it and that's when I get the error Error: A dynamic link library (DLL) initialization routine failed.

I will do it again just to double check!

[2021-07-23 00:23] pyu10055 commented on #5354
if you are on node v 14.16, using napi-v5 seems to be too old, should be napi-v7.
can you check what is in the directory `node_modules/\@tensorflow/tfjs-node/lib/`?

[2021-07-23 01:52] wingman-jr-addon commented on #5343
Thanks for idea to try @pyu10055 . I changed the plugin to run in a web page and then ran across Firefox 90 and Chrome 92.
In general, Chrome had significantly better performance, but there was still a performance gap between the flag being on and off for reload times. I would run the test by opening the browser, loading the web page, recording the time, and then hitting refresh and making note of

[2021-07-23 02:26] Zengyf-CVer commented on #5365
@rthadur

The `package.json` file I modified is under my personal project, because if I use the default tfjs dependency, such as: `"@tensorflow/tfjs": "latest"`, I can only download the released version of `tfjs- 3.8.0`, and it was released seven days ago.

I want to use the real-time, the latest, but not the release version, so I need to clone it, and then modify it in the `package.json` in my pe

[2021-07-23 03:38] #5349 closed

[2021-07-23 03:47] pyu10055 commented on #5343
My guess is that Chrome have better caching on the shader across page reloads.
One thing you could try not necessarily relates to depthwise conv2d, but use uniform variables for unary and binary ops.
[code]
We have observe significant reduction of initial loading time.

[2021-07-23 07:42] Honry commented on #5293
@pyu10055, friendly ping. :) Should I create a separate issue for incorrect computational result?

[2021-07-23 11:22] TheUltragon opened #5371 "No backend found in registry error when trying to launch blazepose"
**System information**
- OS: Win 10
- TensorFlow.js installed from: npm
- TensorFlow.js version: ^3.8.0
- CUDA/cuDNN version: 27.21.14.6231

**The problem**
I get an error in vs code when trying to debug/build my ts code referencing blazepose (https://github.com/tensorflow/tfjs-models/tree/master/pose-detection/src/blazepose_tfjs):
`UnhandledPromiseRejectionWarning: Error: No backend found in regi

[2021-07-23 15:17] TylerLeonhardt commented on #5349
Thanks for this @pyu10055!

[2021-07-23 15:58] rthadur commented on #5293
@Honry please open a new issue. Thank you

[2021-07-23 16:29] rthadur commented on #5365
got it ,this is not an issue with tfjs , i see a problem while referencing it in package.json, please check a related issue here https://stackoverflow.com/questions/33816241/add-local-project-dependency-for-npm-install. Thank you

[2021-07-23 22:23] wingman-jr-addon commented on #5343
Thanks for the tip, I am seeing about a 0.5-1.0s reduction in load time on FF 90!

But getting back to the matter at hand - any clue why we might be seeing such a performance gap on `WEBGL_PACK_DEPTHWISECONV=true` though?

It could be that it just depends on hardware and mine is not the primary target, I'd just like to make sure there isn't some other issue hanging out.

[2021-07-24 15:01] AmitMY opened #5373 "Protect against null issues"
**System information**
- TensorFlow.js installed from (npm or script link): npm
- TensorFlow.js version (use command below): 3.8.0
- Browser version:
- Tensorflow.js Converter Version:

**Describe the current behavior**
When loading a model, there is no check that the weights are non NaN

**Describe the expected behavior**
Either add a "debug" mode, or always check if the weights are not NaN.

**S

[2021-07-24 15:27] AmitMY opened #5374 "Model conversion consistently NaN"
**System information**
- TensorFlow.js installed from (npm or script link): npm
- TensorFlow.js version (use command below): 3.8.0
- Browser version:
- Tensorflow.js Converter Version:

Related to #5373, but is a separate issue.

**Describe the current behavior**
Converting tensorflow's example pix2pix model to keras consistently contains NaN in a specific weight.

**Describe the expected behavior

[2021-07-24 21:06] jonit-dev commented on #4522
try  sudo chown yourlinuxuserhere -R .

and then

yarn install

[2021-07-24 21:53] jonit-dev commented on #3999
To fix the issue (worked for me on Ubuntu 18)

[code]

[2021-07-24 22:23] jonit-dev commented on #2180
I was having this issue because my folder name have spaces! Solved by moving the project away to another folder without spaces

[2021-07-24 22:52] bibs2091 opened #5375 "concatenating datasets returns "this.lastRead.then is not a function""
**System information**
- Windows 10
- TensorFlow.js on node js
- "@tensorflow/tfjs": "^3.7.0",
    "@tensorflow/tfjs-node": "^3.7.0",
    "node-pre-gyp": "^0.17.0"

I have a tf.data.Dataset object, and i want to add a new row to that dataset, so i  created a tf.data.array and put the data in it, then tried dataset.concatenate(the_new_row)  to append the new row to the dataset, here's the code:

ge

[2021-07-25 12:49] Jove125 opened #5377 "How to use execute instead of executeAsync for object detection model?"
Good day!

I have integrated Unity WebGL with TensorflowJS.
When calling the JavaScript script from Unity, I need to return the search result for objects detection.
The result must be obtained synchronously, since it is used in Unity for post-processing (realtime, in the same frame).

How can I use execute instead of executeAsync for object detection (mobilenet v3)?

Now, when I try to call execut

[2021-07-26 00:26] Honry opened #5378 "[WebGL] incorrect computational result when use depthwise conv2d with specific options"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow.js): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): All platforms
- TensorFlow.js installed from (npm or script link): tf.js 3.8.0 webgl backend.
- TensorFlow.js version (use command below):
- Browser version: Chrome 92.0.4515.107

**Describe the current behavior**

[2021-07-26 00:26] Honry commented on #5293
Thanks @rthadur, I've created a new issue at https://github.com/tensorflow/tfjs/issues/5378.

[2021-07-26 10:15] MiraiKami commented on #5345
So it must be a node console or NodeJS problem, because when I do it in the console, the problem is here.
![image](https://user-images.githubusercontent.com/14946801/126972920-3dc0ac7a-fd46-42c0-9446-cb6603c598ab.png)

[2021-07-26 11:32] GlauberF opened #5380 "Predict data from a collection to determine a single object with the most used data"
**System information**
- Linux Ubuntu 16.04
- TensorFlow Lite JS

**Description**
I need to start from a set of objects, define a single object, with the most used data among the javascript object collection informed.

**Example of set of objects:**
[code]

**Single object with the most used values in the above collections:**
[code]

That's what I need, based on the javascript collections array yo

[2021-07-26 13:47] EdgarModiface commented on #4284
Hi Guys,

Not sure of the root cause for this bug, but one of our client reported such issue on some Windows Machine with Chrome. The workaround was to change a flag in Chrome to not use D3D11 as a backend for ANGLE but to force OpenGL.

As this issue only occurred on few computers it might be related to a combination of Drivers + CPU/GPU platforms. This has only be reported on our side for integr

[2021-07-26 14:25] stevexbritton commented on #5246
Seems to work with release 3.8.0.

[2021-07-26 14:25] #5246 closed

[2021-07-26 16:01] mattsoulanille commented on #5357
I'm able to reproduce this on windows, and I think it might have something to do with how Bazel uses workers to speed up compilation. Passing `--spawn_strategy=local` to `yarn build` to disable them causes a different error about missing WSL. After installing WSL, it fails again, complaining about a missing `npm/@bazel/typescript/bin/tsc_wrapped.sh`.

[2021-07-26 18:59] rthadur commented on #5375
Concatenate is working as expecting , i see the problem when you try to print , please try below and let us know , thank you
const a = tf.data.array([1, 2, 3]);
const b = tf.data.array([4, 5, 6]);
const c = a.concatenate(b);
await c.forEachAsync(e => console.log(e));

[2021-07-26 19:07] rthadur commented on #5377
Please provide a codepen example or git repo for us to reproduce the same , meanwhile can you please check below related issue https://github.com/tensorflow/tfjs/issues/4579 , thank you

[2021-07-26 19:14] rthadur commented on #5380
This question is better asked on [Discourse-TF](https://discuss.tensorflow.org/) with tag tfjs since it is not a bug or feature request. There is also a larger community that reads questions there.

[2021-07-26 19:14] #5380 closed

[2021-07-26 19:21] stanleyjzheng opened #5381 "layersModel working for inference but breaks when training"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow.js): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 20.04
- TensorFlow.js version (use command below): tfjs-node 3.8.0
- Tensorflow.js Converter Version: 3.7.0, tensorflow 2.5.0, keras 2.5.0

**Describe the current behavior**
When loading a Keras-conve

[2021-07-26 21:40] mattsoulanille opened #5382 "Webpack fails when using Bazel's `.mjs` output files"
**Describe the current behavior**
Webpack fails to bundle when run on Bazel-created `.mjs` outputs.

**Describe the expected behavior**
Webpack successfully bundles when given Bazel outputs.

**Standalone code to reproduce the issue**
In the [webpack_test](https://github.com/mattsoulanille/tfjs/tree/webpack_test/e2e/webpack_test) branch, I've created a simple webpack bundle that depends on the Baz

[2021-07-26 23:00] svzj95 opened #5383 "Handpose model in react native"
I try to use react native with hand pose in expo

Code I use:

[code]

- Using android emulator to check work with expo

package.json:
[code]

I tried to run exectue hanpose.load() and got two exceptions:
[code]

[code]

I am novice in it and expected that works well, as it is react js in browser, but I tried to use expo-gl, but I can not debug it and I don't understand how to connect it to catch

[2021-07-27 01:35] #5207 closed

[2021-07-27 02:19] qjia7 commented on #5343
@wingman-jr-addon @pyu10055  My guess `WEBGL_PACK_DEPTHWISECONV=true` brings more shaders to compile. You can compare the `binaryCaches`'s size in `backend_webgl.ts` between `WEBGL_PACK_DEPTHWISECONV=true` and `WEBGL_PACK_DEPTHWISECONV=false` to see how many shaders are added (they probably are encode/decode matrix shaders. If that's the case, I think this PR #5297 may resolve your issue by using

[2021-07-27 08:34] Jove125 commented on #5377
**rthadur**,
You can see my sample code and model here:
https://github.com/tensorflow/tfjs/issues/5259

It work with version 3.3.0 when using the execute function and doesn't work with executeAsync function.

[2021-07-27 23:33] rthadur commented on #5383
@svzj95 as the error message suggest  `Error: WebGL is not supported on this device` can you please check if your device supports webgl ? Thank you

[2021-07-28 00:45] moono opened #5387 "Unsupported Ops in the model before optimization UnsortedSegmentSum, RightShift, LeftShift"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow.js version (you are using): tensorflowjs==3.8.0
- Are you willing to contribute it

[2021-07-28 08:58] weishengkui opened #5389 "output error of tf.layers.embedding"
when input batch_size is 256, the first two output of tf.layers.embedding IS ZERO, for example:
`
   const gpt_emb = tf.layers.embedding({
        inputDim: 64,
        outputDim: 64,
        inputLength: 64,
        embeddingsInitializer: "ones",
    });

    const data = tf.randomUniform([256, 64], minval = 0, maxval = 64, dtype = 'int32');
    const emb = gpt_emb.apply(data);
    emb.print();

[2021-07-28 09:23] EchoShao8899 commented on #3820
Can you check if your input tensor of `preproc_model()` contains a lot of zero entries? I met the same problem, and I think it's these zero entries that cause the "nan" problem.

[2021-07-28 10:54] epi-morphism opened #5390 "Different output in wasm vs webgl backend"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow.js): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: Also on iPhone X
- TensorFlow.js installed from (npm or script link): https://cdn.jsdelivr.net/npm/@tensor

[2021-07-28 15:39] rthadur commented on #5366
sure, if possible a working codepen example or a git repo. Thank you

[2021-07-28 18:51] weishengkui opened #5394 "Fatal Error of tf.softmax in webgl mode"
FATAL ERROR, tf.softmax may compute incorrect output when webgl mode is set, such as tf.setBackend('webgl');

Before softmax.
Tensor
[code]

After softmax...

print.js:34 Tensor

[code]

[2021-07-28 21:00] Jacobsolawetz commented on #4222
Any updates on this thread?

[2021-07-28 21:16] mattsoulanille commented on #5292
We may need to add an `IS_COMMONJS` flag to decide if we can `require()` dependencies. There are some cases where knowing we're running in node is important apart from knowing whether we can `require()` dependencies (e.g. [WASM multithread support](https://github.com/tensorflow/tfjs/blob/b8024c0def121515917a03c66c9556373bb2bbf4/tfjs-backend-wasm/src/flags_wasm.ts#L39-L44)).

The only place I see w

[2021-07-28 21:43] playground commented on #5366
Here is the converted model.json https://github.com/playground/tfjs-object-detection/tree/main/model-json-service/model

[2021-07-28 22:05] rthadur commented on #5394
In order to expedite the trouble-shooting process, please provide a code snippet to reproduce the issue reported here. Thanks!

[2021-07-29 01:55] mafar commented on #5292
I agree. This wIll be a nice solution. If you provide me with a PR, I can test it using my project and report back quick if this is working

[2021-07-29 02:10] playground commented on #5366
@rthadur v3.8.0 seems to have broken for Mac for loadSavedModel, model.predict() is throwing this error

[code]

[2021-07-29 03:27] axinging opened #5397 "[e2e] Failed to catch failure caused by tint change"
Recently due to tint changed the shared memory size policy, all webgpu conformance should fail. However, e2e failed to catch this error. There are two reasons for this:
1. The predict results of most models are objects, instead of arrays. Current implementation assumes that the predict results are arrays, which results in some fake pass. This can be fixed by https://github.com/tensorflow/tfjs/pull

[2021-07-29 03:44] haoyunfeix opened #5398 "[webgl] Bazel build includes tfjs-core"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- Mobile device (e.

[2021-07-29 06:16] rthadur commented on #5265
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2021-07-29 06:16] #5265 closed

[2021-07-29 06:19] rthadur commented on #5158
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2021-07-29 06:19] #5158 closed

[2021-07-29 06:26] rthadur commented on #5267
In order to expedite the trouble-shooting process, please provide a code snippet to reproduce the issue reported here. Thanks!

[2021-07-29 06:42] #4066 closed

[2021-07-29 06:58] weishengkui commented on #5394
Here is code for debugging:

`    tf.setBackend('webgl');
    // tf.setBackend('cpu');
    const dd = tf.randomNormal([32, 4, 64, 64], 0, 1, "float32");
    dd.print();
    const soft_result = tf.softmax(dd);
    soft_result.print();`

[2021-07-29 07:15] weishengkui commented on #5394
![image](https://user-images.githubusercontent.com/23742600/127448423-650fce1f-ba34-4ea9-8862-1b5386a2d9b7.png)

[2021-07-29 10:31] ned-kelly commented on #1422
Does anyone know if plans to integrate with tfjs and coral will happen any time soon?

Based on @akosb's link to the Web Demo I'm hopeful it won't be too hard to get coral support in tfjs? - Even if it's just node.js server side to begin - This is where i'm really hoping to use the library.

Cheers,

[2021-07-29 16:40] dydx-git opened #5400 "BlazePose Mediapipe-gpu official demo no longer works"
When I go to this link provided by the official TFJS models repo for pose-detection: https://storage.googleapis.com/tfjs-models/demos/pose-detection/index.html?model=blazepose it throws this error on the console instead:
![image](https://user-images.githubusercontent.com/33485877/127531130-4dd91a2c-10a0-42a0-9387-15b756e1c237.png)
And nothing loads. This only happens when using blazepose with medi

[2021-07-29 17:52] jasonmayes opened #5401 "Generate table of op support and their backend implementation status"
As discussed, it would be very valuable to the community to have a point of reference somewhere for a table that summarizes all supported TFJS ops and on which backends each has been implemented or not, and if so, if that is full or partial support.

Something like this:

[code]

This would help requests like this to be able to identify the offending op:

https://discuss.tensorflow.org/t/weird-out

[2021-07-29 18:57] rthadur commented on #5173
cc @mattsoulanille

[2021-07-29 19:21] vladmandic commented on #5205
I've tested this on my notebook with 3 different models of medium-high complexity

| Model | DataSet | WEBGL_PACK_DEPTHWISECONV | WEBGL_USE_SHAPES_UNIFORMS | Warmup | Execution | Note |
| --- | --- | --- | --- | --- | --- | --- |
| Inception-v4 | ImageNet | True | False | 11.2sec | 42ms | Default
| Inception-v4 | ImageNet | False | False | 10.8sec | 45ms |
| Inception-v4 | ImageNet | False | True

[2021-07-29 19:21] vladmandic commented on #5343
Cross-posting from #5205

I've tested this on my notebook with 3 different models of medium-high complexity

| Model | DataSet | WEBGL_PACK_DEPTHWISECONV | WEBGL_USE_SHAPES_UNIFORMS | Warmup | Execution | Note |
| --- | --- | --- | --- | --- | --- | --- |
| Inception-v4 | ImageNet | True | False | 11.2sec | 42ms | Default
| Inception-v4 | ImageNet | False | False | 10.8sec | 45ms |
| Inception-v4

[2021-07-29 21:31] #5400 closed

[2021-07-29 23:17] wingman-jr-addon commented on #5205
Thank you @vladmandic for your much more thorough analysis. I'm sure that took quite some time. I'll be watching over on the issue where you cross-posted as we look at this issue specifically.

[2021-07-30 14:03] #5309 closed

[2021-07-30 14:38] rthadur commented on #5151
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2021-07-30 14:38] #5151 closed

[2021-07-30 14:50] mattsoulanille commented on #5398
We likely need to mark tfjs-core as external in the tfjs_web_bundle rule. I'm OOO today, but I can take a look on Monday. Thanks for catching this!

[2021-07-30 15:19] rthadur commented on #5371
@TheUltragon can you try without `import '@tensorflow/tfjs-backend-webgl';` ?

[2021-07-30 15:24] bibs2091 commented on #5375
@rthadur  my case is bit different, instead of an array of integers, i have an array of objects

[2021-07-30 15:35] rthadur commented on #5375
can you please try using await c.forEachAsync(e => console.log(e)); to print the values and see , if that helps ?

[2021-07-30 16:11] bibs2091 commented on #5375
i tried:
`  await dataSet.concatenate(dataSet).forEachAsync(e => console.log(e));
`
same problem UnhandledPromiseRejectionWarning: TypeError: this.lastRead.then is not a function.

did u try to reproduce the same problem?

[2021-07-30 16:17] rthadur commented on #5375
@bibs2091 can you provide sample example for above so that i try ?

[2021-07-30 16:23] bibs2091 commented on #5375
yes, here is an example edited from the tfjs docs:

[code]

it return the same problem this.lastRead.then is not a function

[2021-07-30 17:07] rthadur commented on #5375
you need to first convert the dataset to tf.dataset.array then concatenate , I see a related issue in sf here https://stackoverflow.com/questions/61122054/loading-a-csv-to-perform-inference-in-tensorflow-js , please check , I do not see any issue with concatenate function.
cc @pyu10055

[2021-07-30 17:55] rthadur commented on #5389
@weishengkui I can not reproduce the same , please check below , which version of tfjs you are using ?
![image](https://user-images.githubusercontent.com/43972606/127692970-d08a7ea8-e9f7-4645-896e-843cd3ac21b1.png)

[2021-07-30 18:07] rthadur commented on #5387
@moono will you be interested in contributing ? if yes here are the guidelines https://github.com/tensorflow/tfjs/blob/master/CONTRIBUTING_MISSING_OP.md thank you

[2021-07-30 18:14] rthadur commented on #5397
@axinging can we close this issue ?

[2021-07-31 03:04] naah69 commented on #4473
it error again,when Chrome is 91 and tfjs and tfjs-wasm is 3.8.0

[2021-07-31 11:02] jonathanlawhh opened #5409 "hub.kerasLayer support"
**System information**
- TensorFlow.js version (you are using): tfjs@2.0.0
- Are you willing to contribute it (Yes/No): Yes, however I do not have in depth knowledge of the inner workings of TF yet. Definitely would be happy to help out in testing.

**TensorflowJS converted model throwing “Cannot read property ‘producer’ of undefined” error**
[https://discuss.tensorflow.org/t/tensorflowjs-converte

[2021-07-31 13:22] TheUltragon commented on #5371
Seems to have been the issue. Created a pull request on that repo (https://github.com/tensorflow/tfjs-models/pull/768) that fixes this, along with some other issues I faced getting this running. Will close this once that one is merged.

[2021-08-01 08:23] RJ-1998 opened #5410 "Argument 'tensors[0]' passed to 'concat' must be a Tensor or TensorLike, but got 'null'"
I am trying to predict the results from the converted python keras model into tensorflow js, I have tried a lot of possible combinations to get the answer but it keeps throwing this error. The input shape it expects is [null,7] which I am providing it but still not working :-( Any help would be appreciated. Below is model and it's summary.
[code]

[2021-08-01 10:20] doender opened #5411 "SavedModel and converted tfjs model give different predictions"
I've trained with [TensorFlow Model Maker][1] and exported it to the `SavedModel` format. Using the following script:

[code]
I get the following predictions for a single file:
[code]

I've converted this model to the tfjs format using ` tensorflowjs_converter` and use it in typescript as follows:

[code]

On the same image file, I get different predictions with this method:
[code]

What could cau

[2021-08-01 10:45] vladmandic commented on #5411
`tf.math.top_k` and `tf.softmax` don't do the same thing - you should rewrite typescript code to find top results without applying `softmax` op.

unrelated, why not `.expandDims(0)` instead of `.reshape([1, ...resized.shape]);`?

[2021-08-01 11:17] XhtZz opened #5412 "[Error]: Your API key is invalid, please check you have copied it correctly"
when i execute "node app.js" for benchmark, it appears a bug like :

"/Users/admin/workdir/tfjs/e2e/benchmarks/browserstack-benchmark/node_modules/@firebase/component/dist/index.cjs.js:142
                    throw e;
                    ^
[t [Error]: Your API key is invalid, please check you have copied it correctly.] {
  code: 'auth/invalid-api-key',
  a: null
}"

how can i fix this problem, i c

[2021-08-01 12:44] doender commented on #5411
Thanks, can't believe I missed that!

[2021-08-01 16:03] cjbayron opened #5413 "Support for `ReverseSequence` in `tensorflowjs_converter`"
Hi, I'm getting following error when trying to use `tensorflowjs_converter` to convert a Bidirectional LSTM-CRF model that uses the [CRF from TensorFlow addons](https://www.tensorflow.org/addons/api_docs/python/tfa/layers/CRF):

Command:
[code]

Output:
[code]
Can `tensorflowjs_converter` please support this operation? Thanks!

[2021-08-02 04:28] rthadur commented on #4473
cc @mattsoulanille @pyu10055

[2021-08-02 07:17] axinging commented on #5397
@rthadur, Below issue is still not resolved:

2. Models with tensor input still got passed with [e2e] Fix object compare #5384 applied, though they are indeed failed due to tint change. This is because the input for tensor are some special values(such as zeros), and so does the predict results. We should change those tensor values to guarantee the test is valid.

[2021-08-02 11:54] TheOsch commented on #5159
Hello,
Unfortunately kaggle.com doesn't support javascript, but its competitor does. Would you please take a look at this: [https://observablehq.com/@theosch/tfjs-example](https://observablehq.com/@theosch/tfjs-example). Please dont pay attention to an infinite loop warning during the pasge execution - it's just a little slow.
Maybe I don't understand something... Tell me plase, is it at least loo

[2021-08-02 12:27] franckOL commented on #5173
Test today version 3.8.0 : always wrong ELF class: ELFCLASS64

[2021-08-02 12:43] playground commented on #5173
V3.8.0 works for me on rpi4 and Nvidia NX but broke for Mac.

[2021-08-02 12:56] franckOL commented on #5173
@playground dans rpi4 is 64 bits platform ?

[2021-08-02 12:58] franckOL commented on #5173
oh yes ==> Broadcom BCM2711, Quad core Cortex-A72 (ARM v8) 64-bit SoC @ 1.5GHz
https://www.raspberrypi.org/products/raspberry-pi-4-model-b/specifications/

but rpi3 64 bit too
Quad Core 1.2GHz Broadcom BCM2837 64bit CPU

Try to clean everything and see.
I work on rapsbian lite.

[2021-08-02 13:39] harsha7addanki commented on #543
not working for me!

[2021-08-02 14:02] playground commented on #5173
@franckOL rpi4 running ubuntu 32bit and  NX 64bit, I'm using SavedModel.

[2021-08-02 16:20] franckOL commented on #5173
Just try again, a clean env on raspberry 3 , raspbian :
[code]

[2021-08-02 16:29] ArtemGr commented on #5159
@TheOsch , thanks for taking a look.
I've been working on reproducing ELM myself, but moved away from TensorFlow and towards Rust + ArrayFire for now.

Seems to be a lot of interesting stuff there.
See, for example, my video on basic ELM: https://youtu.be/Mi9ggpHLWGo

Interesting TensorFlow exercise, but doesn't seem to play with ELMs.

[2021-08-02 16:50] TheOsch commented on #5159
@ArtemGr ,

So what you needed was an exact translation of that ELM example - well, I didn't understand it. And now it doesn't interest you anymore, right? If not, I'll make it by tomorrow.

[2021-08-02 16:56] mattsoulanille opened #5415 "Windows Bazel tests fail in git bash"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow.js):
- OS Platfo

[2021-08-02 17:10] ArtemGr commented on #5159
There are plenty of non-ELM tfjs examples out there so this issue was specifically about ELMs!
I'm interested, personally I wasn't able to use TFJS for that, it is less extensible than the Python version at the moment, but if you know how to implement the ELM there then I'm sure it will be a valuable learning experience for everyone!

[2021-08-02 17:13] playground commented on #5173
@franckOL I'm running my app with  node v14.17.3 and in a docker container with node v16.3.0 and both loads up fine

[code]
[code]

[2021-08-02 17:13] TheOsch commented on #5159
Fine. Then see you tomorrow.

[2021-08-02 17:14] ArtemGr commented on #5159
FYI

To use NVIDIA with Chrome: https://superuser.com/questions/645918/how-to-run-google-chrome-with-nvidia-card-optimus/662780#662780

    cmd  &&rem as administrator
    cd c:\Program Files\Google\Chrome\Application
    mklink /H gpu-chrome.exe chrome.exe

[2021-08-02 18:20] rthadur commented on #5409
please check this tutorial as how to train and convert to tfjs for above model https://alexfi.dev/blog/tensorflowjs-bert-train.

[2021-08-02 18:29] rthadur commented on #5371
Thank you @TheUltragon for fixing this.

[2021-08-02 20:18] bileschi commented on #543
I just tried this in chrome and it appeared to work. Can you offer a more complete bug report?  Thanks.

[2021-08-02 20:21] rthadur commented on #5412
In order to expedite the trouble-shooting process, please provide a code snippet to reproduce the issue reported here. Thanks!

[2021-08-02 20:27] rthadur commented on #5410
In order to expedite the trouble-shooting process, please provide a code snippet to reproduce the issue reported here. Thanks!

[2021-08-02 22:59] mattsoulanille opened #5418 "WebGL tests are running incorrectly"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow.js):
- OS Platfo

[2021-08-02 23:02] #5284 closed

[2021-08-03 01:59] axinging opened #5420 "yarn build-deps under tfjs-backend-webgpu failed"
With https://github.com/tensorflow/tfjs/pull/5416 applied. There are still two issues when run yarn build-deps under tfjs-backend-webgpu on Windows:
1. The command line is too long
[code]
2.  There is a typo here:
[code]

[2021-08-03 03:29] aoxipo opened #5421 "how can i get the z (depth) value correctly with face-landmarks-detection?"
I'm trying to get the depth of the face, but it's seems  wrong about code , i using npm to install tensorflow-model/face-landmarks-detection and npm's examples, but i get the wrong scaleMesh z value in result.

[2021-08-03 05:51] adamijak commented on #1516
Any ETA on this issue?

[2021-08-03 14:46] mattsoulanille commented on #5420
1. The "command line is too long" error is caused by the new [enumerate_tests rule](https://github.com/tensorflow/tfjs/pull/5361/files#diff-7ead6c2057626da9b8cec1097fc4325f10355b6dfcfca60bf643e94bb96bc701R12-R17). This rule passes the path of every test file as an argument. I'll work on a fix for this by [writing the test file paths to a file](https://docs.bazel.build/versions/main/skylark/lib/act

[2021-08-03 17:23] rthadur commented on #5421
can you please explain in detail what you are trying to do , I see the demo is working as expected please check here https://storage.googleapis.com/tfjs-models/demos/face-landmarks-detection/index.html , thank you

[2021-08-03 18:14] #5420 closed

[2021-08-03 18:27] #5398 closed

[2021-08-03 18:31] rthadur commented on #713
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available,Thanks!

[2021-08-03 18:31] #713 closed

[2021-08-03 19:04] rthadur commented on #830
This has been implemented here , so closing this issue.

[2021-08-03 19:04] #830 closed

[2021-08-03 22:15] rthadur commented on #5351
I don't think so and not in the near feature , would you be interested in contributing ?

[2021-08-04 07:05] mmmahdiii commented on #3567
@HrBbCi
Hi, I faced the same, could you get rid of this problem?

It doesn't matter I use  tensor.data(), tensor.dataSync(), tensor.buffer(),.. even tensor.print(), It'll take about 1.5 second for a 480x320 to get done.

[2021-08-04 07:25] aoxipo commented on #5421
Think you for your help!!! ,i am try to do face detect and predicted the distance between face and camera, I got the depth value according to the sample provided by the @tensorflow-models/face-landmarks-detecton is different with @tensorflow-models/facemesh, and @tensorflow-models/face-landmarks-detecton Unable to handle ROLL Angle over 45 degrees(it will detect a wrong small face even face still

[2021-08-04 09:15] sandeep22-v commented on #1677
what are quant bytes? I have some 8 bit quantized tflite models of PoseNet,how can i get to know the quant bytes of these models?

[2021-08-04 13:16] rthadur commented on #5421
Can you please post the difference which you are seeing both Tensorflow and tfjs ? Thank you

[2021-08-04 13:49] bikubi commented on #4732
I ran into the same error, and since this is the only result and my setup seems similar ("more and more frames"), it could apply.

setup:

* Arch Linux 5.12.12-arch1-1
* tfjs 3.8.0 via npm
* **not** in webworker
* model: mobilenet_v2_100_224
* Chromium 91.0.4472.114 (Firefox 90.0 is OK!)

The error happens [in gpugpu_context](https://github.com/tensorflow/tfjs/blob/04633433fdb1806fbac58b0db31d0f03

[2021-08-04 16:51] #5295 closed

[2021-08-04 17:18] Sabit-Ahmed commented on #2987
What about the custom camera width and height? (Referring to this link: https://github.com/tensorflow/tfjs/blob/master/tfjs-react-native/integration_rn59/components/webcam/realtime_demo.tsx)
If I try to use other value for camera height and width, model results are not showing properly. Which is dependent on which, it is so confusing.

![image1](https://user-images.githubusercontent.com/27894159/1

[2021-08-04 17:35] Sabit-Ahmed opened #5433 "MoveNet predictions are not being drawn at the right position on a custom sized camera"
This template is for miscellaneous issues not covered by the other issue categories.

For questions on how to work with TensorFlow.js, or support for problems that are not verified bugs in TensorFlow.js, please go to [StackOverflow](https://stackoverflow.com/tags/tensorflow.js).
What about the custom camera width and height? (Referring to this link: https://github.com/tensorflow/tfjs/blob/master/t

[2021-08-04 18:26] raffizulvian opened #5434 "[WASM] elu missing kernel"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow.js version (you are using): v3.8.0
- Are you willing to contribute it (Yes/No): Yes

[2021-08-05 05:28] qjia7 commented on #5415
After successfully executing `yarn build-deps` under `tfjs-backend-webgl`, when run `yarn test-dev`, below errors are shown:
[code]
If I directly call `bazel test :tfjs-backend-webgl_test --test_output=streamed`, below errors are shown:
[code]

[2021-08-05 08:51] Sabit-Ahmed commented on #5433
@tafsiri sorry to bother you, could you please look at it?

[2021-08-05 18:30] rthadur commented on #5345
This is working as expected on console as well , please check

![image](https://user-images.githubusercontent.com/43972606/128402337-3bbcbb1f-face-4b19-9d6f-fad4e5cd15d2.png)

[2021-08-05 18:39] playground commented on #5366
Any update?

[2021-08-06 00:56] axinging opened #5440 "[wasm]Error: Kernel 'Complex' not registered for backend 'wasm'"
Case:
[code]
Error:
[code]

[2021-08-06 01:00] #5354 closed

[2021-08-06 01:05] caggl opened #5441 "Can tensorflow.js decode MP4 video?"
hello   Can tensorflow.js decode MP4 video?

[2021-08-06 01:16] rthadur commented on #5441
Please resubmit the issue using template and fill all the details.

To answer your question here is the steps you can follow to uses MP4 video

`Take a look at https://developer.mozilla.org/en-US/docs/Web/HTML/Element/video for an example of how to load video into an HTMLVideoElement.

You should be able to pass a JavaScript reference to that DOM element to the posenet estimate* methods

That Java

[2021-08-06 01:16] #5441 closed

[2021-08-06 01:22] rthadur commented on #5433
In order to expedite the trouble-shooting process, please provide a code snippet to reproduce the issue reported here. Thanks!

[2021-08-06 01:30] rthadur commented on #5421
I see no error here in the demo https://storage.googleapis.com/tfjs-models/demos/facemesh/index.html , can you please verify ?

[2021-08-06 17:00] #5365 closed

[2021-08-06 17:28] bibs2091 commented on #5375
Hello @rthadur, i have been trying solutions for the past days and i couldn't, can you please show me a code snippet of how to work this out? the sf link wasn't related.

here's also a code that doesn't work:

[code]
i still get the same error

[2021-08-06 17:45] #5434 closed

[2021-08-06 18:02] jinjingforever commented on #5336
Hi @tauber,

Thanks for the report!

Looks like the problem is version mismatch. The `progan/modules/tfjs-backend-wasm-simd.wasm` file in your [repo](https://github.com/tauber/progan) is from 3.7.0, but the `https://cdn.jsdelivr.net/npm/@tensorflow/tfjs-backend-wasm/dist/tf-backend-wasm.js` is loading 3.8.0 (which was released 23 days ago, 2 days before your repo was created).

I replaced `tfjs-ba

[2021-08-06 18:02] #5336 closed

[2021-08-07 02:22] SukkaW commented on #5242
Why the issue is marked as stale? I don't see the issue is being solved, or if it is a dupe of #3061

[2021-08-07 07:26] RJ-1998 commented on #5410
Hello @rthadur ! Thanks for replying to my issue. Please find this [repo](https://github.com/RJ-1998/react-chatbot-nlp) containing all the code and model.json file whch I am using.

[2021-08-07 07:49] AmitMY commented on #5374
Hi @pyu10055, could I please get an update on this?

[2021-08-07 08:23] aoxipo commented on #4923
Hello, Have you tried opencv.js ?  it provided Optical flow method  [here](https://docs.opencv.org/3.3.1/db/d7f/tutorial_js_lucas_kanade.html)

[2021-08-07 18:58] #5375 closed

[2021-08-07 22:17] timekarma opened #5445 "[Codelab]: Making Predictions from 2D Data"
data is not defined
await trainModel(model, inputs, labels);   //  gives an error saying Uncaught SyntaxError: await is only valid in async functions and the top level bodies of modules

[2021-08-08 00:41] bibs2091 commented on #5445
Hello, the trainModel function returns a promise it can be resolved either by then statement:
`trainModel(model, inputs, labels).then( console.log("done") )` .

or by putting it inside an async function and await:
[code]

[2021-08-09 10:15] Sabit-Ahmed commented on #5433
**For first image:**

    import React from 'react';
    import * as tf from '@tensorflow/tfjs';
    import '@tensorflow/tfjs-react-native';
    import {ActivityIndicator, Platform, SafeAreaView, StyleSheet, Text, TouchableHighlight, View} from 'react-native';
    import AsyncStorage from "@react-native-community/async-storage";
    import * as svgComponents from 'react-native-svg';
    import * a

[2021-08-09 10:16] Sabit-Ahmed commented on #5433
Done!

[2021-08-09 12:45] vladmandic opened #5446 "Allow setting number of threads programmatically for WASM backend"
Currently number of WASM threads for `tfjs-backend-wasm` is fixed in build process for WASM files:

`tfjs-backend-wasm/src/cc/BUILD`:
[code]

On the other hand, it can be freely set programmatically for `tfjs-tflite` backend:
`tfjs-tflite/src/tflite_model.ts`:
[code]

Plus since it evaluates `navigator.hardwareConcurrency` during runtime, it auto-adjusts to users hardware much better,
(unlike `tfj

[2021-08-09 13:12] rthadur commented on #5445
@bibs2091 thank you , yes please wrap your code inside a '`async`' function. Thank you

[2021-08-09 13:12] #5445 closed

[2021-08-09 13:15] rthadur commented on #5446
cc @ahmedsabie @jinjingforever

[2021-08-09 20:50] #5409 closed

[2021-08-09 22:30] rthadur commented on #5410
I see this error while running the above code

![image](https://user-images.githubusercontent.com/43972606/128782258-c9949d81-e7f0-424c-bbbf-bfee74c970d2.png)

can you please resolve this and also load the model from local folder like this

`$( document ).ready(async function () {
	$('.progress-bar').show();
    console.log( "Loading model..." );
    model = await tf.loadGraphModel('model/model.js

[2021-08-10 00:19] tkfito commented on #1137
- Tried to build "tiny" HRNet by using the MS COCO dataset.
  - Weight file size: 5.3MB (pytorch), 5.2MB(ONNX)
  - Test result for validation dataset is not so bad (Blue circles indicate keypoints)
![val_100_pred](https://user-images.githubusercontent.com/55497434/128789982-1a28e60f-bb93-4ee8-885e-1f30274af593.jpg)

[2021-08-10 08:17] qjia7 opened #5447 "blazeface's result is not correct on benchmarks test on webgl backend"
Steps to reproduce:
1. git clone https://github.com/tensorflow/tfjs
2. cd tfjs/tfjs-backend-webgl
3. yarn && yarn build-npm
4. Do below changes to use your own build npm package.
[code]
5. cd ..
6. npx http-server
7.  Open the browser and navigate to http://localhost:8080/e2e/benchmarks/local-benchmark/
8. Choose `blazeface` and `webgl` backend, click `Test correctness`. Expect the result is `true

[2021-08-10 08:19] qjia7 commented on #5447
Will take a look if it's caused by the uniform change. If not, will un-assign myself.

[2021-08-10 09:47] qjia7 commented on #5447
It seems that it's caused by PR #5422. Will continue this tomorrow.

[2021-08-10 10:50] HDegroote opened #5449 "' ReferenceError: FormData is not defined ' when attempting to call a POST endpoint to save a model (tfjs-node -> tfjs-core))"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow.js): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 20.04.2
- TensorFlow.js installed from (npm or script link): npm install @tensorflow/tfjs-node
- TensorFlow.js version (use command below):  @tensorflow/tfjs-node@3.8.0
- Browser version: No browser i

[2021-08-10 14:41] bibs2091 commented on #5375
@lina128 that's awesome my issue has been resolved, can you please tell me how to install the tf version with this PR with npm?

[2021-08-10 16:49] RJ-1998 commented on #5410
@rthadur I am using a cors extension in my browser and turning CORS extension on solves this error. You can use this extension in firefox [cors](https://addons.mozilla.org/en-US/firefox/addon/cors-everywhere/)

[2021-08-10 17:31] jinjingforever commented on #5375
@bibs2091 I think we will probably do a new release soon. In the meantime, you can try building it yourself:

[code]

Then you can find the bundles (`tf-data.js`, `tf-data.min.js`, etc) in `tfjs-data/dist`.

Thank you!

[2021-08-10 17:38] bibs2091 opened #5452 "(ranged) Sigmoid layer in advanced activation function"
- Are you willing to contribute it (Yes I am willing to):

In tfjs, there is a lot of activation functions as a layer, but what is weirdly missing is layers.sigmoid.

This day I was making a dot product matrix factorization recommender system and the output of the dot layer should be in between 0 and 1, for this layers.sigmoid is needed.

FastAI also offer ranged sigmoid which is very interesting,

[2021-08-10 18:08] raffizulvian opened #5453 "[wasm] failed to asynchronously prepare wasm"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 20.04 WSL2
- Mobi

[2021-08-10 19:41] rthadur commented on #5453
@raffizulvian can you please check this related PR where '`sinh`' kernal was added https://github.com/tensorflow/tfjs/pull/4845 , I guess you are missing couple of files. Thank you