[2018-08-16 15:58] #612 closed

[2018-08-16 16:08] oveddan commented on #596
My response is here: https://groups.google.com/a/tensorflow.org/forum/#!topic/tfjs/QnzyLaH_3C0

[2018-08-16 16:12] oveddan commented on #534
I have not had a chance to look at this, and will be busy for the next few weeks.  But I'd love to see this resolved.

If I were to debug it - I would compare the outputs of the  `posenet.predictForSinglePose`

Then I would dig down into the outputs of the intermediary layers to compare them from the node to the browser version.

[2018-08-16 18:18] pyu10055 commented on #569
I am putting out a PR with ssd_mobilenet_v1_coco_2018_01_28, which works with my example.

[2018-08-16 19:13] pyu10055 commented on #611
@WinterTaoTao we currently only supports int32 and float32 tensor types, can you tell us more about what is your use case for dequnatize op? Thanks!

[2018-08-16 19:17] bileschi commented on #613
This looks like a shape error at prediction time.  `model.predict` is expecting a batch of items to predict, even if there is only one element to predict.  In your code, at line 66, it appears that your data to be predicted only has rank-1, but rank-2 is expected ( [batchSize, vocabSize]).

See API definition for model.predict here https://js.tensorflow.org/api/0.12.5/#tf.Model.predict

[2018-08-16 21:50] ran-j commented on #613
I dont get yet, how do I fix this ?

My xs tensor is: `Tensor { isDisposedInternal: false, size: 1296, shape: [ 27, 48 ], dtype: 'float32', strides: [ 48 ], dataId: {}, id: 0, rankType: '2' } `

[2018-08-16 21:51] ran-j commented on #613
So do I predict like this  model.predict(tf.tensor(bow(sentence, true))), {batchSize: 27}).print();  ?

[2018-08-17 01:25] 116050423 commented on #569
@pyu10055 Thanks very much and it also works perfect on my PC/cell phone.
BTW, this model cost 1200ms more or less on my 2017 i7 mac(Chrome latest version) and iPhonex(safari 11.4 webkit) to predict 300 * 400 image.
What's your performance, is there any way to enhance?

[2018-08-17 04:05] pyu10055 commented on #569
@116050423 I have pending PR to improve the performance by 60%, it should be around 500ms now.

[2018-08-17 08:01] Lewuathe commented on #604
@justadudewhohacks Thank you so much for the detail report and sample application.

But in my environment, the memory leak was not observed in Chrome task manager.
![screen shot 2018-08-17 at 16 57 33](https://user-images.githubusercontent.com/1713047/44254805-e648c180-a23e-11e8-95f9-002db99e1a06.png)

Even I ran the application several times, memory footprint was kept around 100MB. I launched the

[2018-08-17 08:52] icysapphire opened #615 "tensorflowjs_converter and scalars instead of tensors"
#### TensorFlow.js version
 {"tfjs-core": "0.12.11", "tfjs-layers": "0.7.4", "tfjs-converter": "0.5.7", tfjs: "0.12.5" }

#### Describe the problem
There's something wrong in the conversion process from frozenModels. In fact, when I actually created the model (in python - tensorflow) I wrote:

I correctly do predictions in a C++ Tensorflow-based application that uses a frozen version of this model

[2018-08-17 11:33] bileschi commented on #613
Try

[code]

[2018-08-17 13:30] ran-j commented on #613
yes, worked, but when I try:

[code]
Nothing

But

[code]
I get
[code]

And if

[code]

I get

[code]

[2018-08-17 13:30] ran-j commented on #613
my var results are getting undefined

[2018-08-17 13:39] bileschi commented on #613
Nice, looks like we are making progress!  In general, tensors may only be
available on the GPU.  The programmer needs to instruct TensorFlow to make
them available to the CPU before printing.

Rather than
`console.log(results);`
  You should do one of the following:
`results.print();`
`console.log(results.dataSync());`

Sincerely,
Stan

On Fri, Aug 17, 2018 at 9:30 AM, Ranieri <notifications@githu

[2018-08-17 15:11] ran-j commented on #613
yes yes this works fine

`var results = model.predict(data).dataSync()[0];`

Thanksssssss

[2018-08-17 15:28] bileschi commented on #613
You're welcome!  Happy hacking!

On Fri, Aug 17, 2018 at 11:11 AM, Ranieri <notifications@github.com> wrote:

--
Stan Bileschi Ph.D.  |   SWE  |  bileschi@google.com |  617-230-8081

[2018-08-17 16:23] oveddan opened #616 "It should be easier to load a posenet checkpoint from a custom url."
Currently - there is no easy way to load a posenet model from a custom url.  In my case I want to be able to load it from a local file server so that it is available offline.

I suggest to either expose another api method to load which takes a url, or export more of the internal classes and types that make loading possible so that you can build your own model loader (for example the CheckpointLoad

[2018-08-17 16:56] hpssjellis opened #617 "Feature Request : tf.tensor.saveToComputer() tf.tensor.loadFromURL()"
I am doing some manipulation with the [CIFAR-10 binary files](https://www.cs.toronto.edu/~kriz/cifar.html) (Not much fun, but it's coming along. Each CIFAR binary is 10,000 items in this order: A label byte, then 32x32 bytes in this weird order: all the red, all the green, all the blue. Each file is 30,730,000 bytes long.). This file is not well organized for loading into a tensor. (Unless you hav

[2018-08-17 17:25] caisq commented on #617
@hpssjellis You might be interested in checking out this library that @ry wrote: https://github.com/propelml/tfjs-npy/blob/master/npy.ts

It can serialize a TensorFlow.js tf.Tensor to an ArrayBuffer and do the reverse. From there, you can write your own IO code, depending on whether you are in the browser (in which case you presumably want to use local storage or IndexedDB) or in Node.js (in which

[2018-08-17 17:29] kangyizhang commented on #500
Hi @juhanitolvanen can you try with the latest version of tfjs-node? We have some updates after @0.1.7
I just tried with a model with tf.layers.conv2d and tf.layers.maxPooling2d, also only run this function without any issue.

[2018-08-17 17:39] pyu10055 commented on #615
@icysapphire I check your frozen model pb file, all the placeholders you mentioned have follow shape definition:
attr {
  key: "shape"
       value {
        shape {
         }
   }
 }
which indicates an scalar shape according to the proto definition
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/framework/tensor_shape.proto

I ran your tensor in python, it should generate no

[2018-08-17 18:57] hpssjellis commented on #617
Thanks @caisq that is a much more robust library than what I am working on. However, the original request still stands, **Tensor saving and loading** would be a huge step for simplifying Tensorflowjs.

Data input, especially images, in Javascript is fairly cumbersome.

With Tensor saving and loading student's could simply load pre-made tensors, and run their own models, all very efficiently.

[2018-08-17 23:01] ljj7975 opened #618 "yarn seems to be missing from dependencies"
#### TensorFlow.js version : 0.12.5

#### Browser version : N/A

I tried to get local min.js version of jfjs from source by running `npm run build-npm`
However, even though I ran `npm install` to install all the dependencies listed in package.json, the script failed saying `./scripts/build-npm.sh: line 21: yarn: command not found`

after installing yarn explicitly, script worked fine.
when I check

[2018-08-18 09:47] icysapphire commented on #615
Interesting, because this frozenmodel is perfectly working on a tensorflow-based C++ app.
However, I've tried re-saving the model. While running the model:
`tf.train.write_graph(sess.graph_def, path, graphdef_filename)`
Then:
[code]
[Now it shows the correct shape]
Finally:

Now, running in the browser, it simply refuses to load!

What's wrong? Thanks for the support!

[2018-08-18 14:07] justadudewhohacks commented on #604
Hi @Lewuathe,

Thanks for reviewing this. I should have mentioned that you have to toggle the GPU memory tab in the task manager:

![gpu-mem-leak](https://user-images.githubusercontent.com/31125521/44300014-46536c80-a300-11e8-86e8-3ad2c75ba0a0.jpg)

I could reproduce this on my desktop machine and laptop (both AMD GPUs + latest version of chrome), on an Intel GPU, as well as on my android device.

[2018-08-18 15:52] jthomas commented on #489
I've had the same issue when using a library which loads the weights, rather than the full model, using that API.

[2018-08-19 08:52] hyun-yang commented on #617
@hpssjellis
You might want to check following discussion.

[loadModel from url doesn't work in Node](https://github.com/tensorflow/tfjs/issues/410)
[tf.loadModel not working in ionic](https://github.com/tensorflow/tfjs/issues/272)

I'm still waiting for this feature :)

[2018-08-19 13:45] caisq commented on #617
@hyun-yang I don't think the bugs you referred to are directly related to @hpssjellis's feature request, which is mainly about saving tensors that are not weights of a model.

Regarding saving/loading models in Node.js, the native filesystem route (file:// URL scheme) is already working in tfjs-node. Just make sure you import both the @tensorflow/tfjs and @tensorflow/tfjs-node packages in your Nod

[2018-08-19 22:18] nsthorat opened #619 "When a gradient is not defined, allow returning null."
Currently for non-defined gradients we return all zeros, which is technically incorrect.

We should allow for a special "null", just like Python uses None for gradients that are not defined, e.g.

[code]

We will need to do this for:
- argmax, argmin
- greaterEqual, lessEqual, equal
- oneHot

[2018-08-19 23:27] nsthorat commented on #467
We have not, @kedevked! The only thing I would say is it would be good to try to mimic with TensorFlow python does in terms of API and functionality.

[2018-08-20 04:50] juhanitolvanen commented on #500
Seems to be working!

[2018-08-20 11:36] #613 closed

[2018-08-20 12:19] ashbeats commented on #602
On win 10 and did not face any issues installing `npm install @tensorflow/tfjs-node-gpu`

[2018-08-20 13:49] lochbrunner opened #620 "Why does getWeights shirnk the returning type to Tensor instead of using the orig type Variable?"
To get help from the community, check out our [Google group](https://groups.google.com/a/tensorflow.org/forum/#!forum/tfjs).

#### TensorFlow.js version
0.7.4
#### Browser version
Not relevant here.
#### Describe the problem or feature request

`Bidirectional.getWeights(bool)`
`Layer.getWeights(bool)`
`LayerVariable.batchGetValue(...)` and
`LayerVariable.read()` are returning each an `Tensor` (res

[2018-08-20 14:42] dsmilkov opened #621 "Layers - convert executeInternal from recursion to iteration"
Profiling a real model that is ~130 layers deep revealed that a significant time is spend on the recursive calls of `executeInternal`, where the call stack increases by 130 levels.

To allow execution of arbitrarily deep models, and improve performance, we should convert the `executeInternal` to an iterative approach, by implementing our own stack.

[2018-08-20 17:02] kangyizhang commented on #500
Glad to hear that it works!

[2018-08-20 17:02] #500 closed

[2018-08-20 18:31] woudsma commented on #102
It's too bad that the OffscreenCanvas API isn't available yet/**soon** in most browsers.
Loading a small MobileNetV2 model (~1MB) converted with `tensorflowjs_converter` and running `predict` adds noticeable UI lag when using a single thread.

@sandipdeveloper @oeway This is my ~very hacky~ solution so far. (I'm using React so don't mind the WorkerProxy workaround). The model should work inside a

[2018-08-20 19:53] caisq opened #622 "tfjs-node: make tfjs-node-gpu fall back to CPU on machines without CUDA GPUs"
The tensorflow's GPU shared library actually includes CPU kernels. The tensorflow-gpu package can be installed on machines without CUDA GPUs. It'll just fall back to the CPU kernels.

Currently tfjs-node-gpu can't even be installed on machines without CUDA GPUs. We should make the behavior more similar between Python and tfjs-node, i.e., allow install of tfjs-node-gpu even if there is no CUDA GPU;

[2018-08-20 19:53] caisq commented on #622
cc @nkreeger

[2018-08-20 20:14] bileschi commented on #621
How complicated would the implementation be?  Keep in mind that models in general are DAGs of layers, potentially with inputs/outputs at multiple depths, not only linear stacks.

What state needs to be maintained at each stack level?

[2018-08-20 20:18] caisq commented on #621
This shouldn't be too difficult even for the general DAG case. A depth-first search with a stack keeping track of the current status should suffice.

[2018-08-20 21:15] pyu10055 commented on #615
@icysapphire  This looks like the weight tensors data did not matched with the definition.

can you share the converted model and weight manifest files?

[2018-08-20 21:18] bileschi commented on #620
I suppose it is meant as a scoping and mutability hint to the caller.  If Layer.getWeights returned a Variable, and the user then changed the value of the variable, what behavior would we expect?  Should the layer also adopt the new value?  If the layer's value is updated then in some other way, say by a model.fit() call, should the changed state be visible in the user's view through the variable.

[2018-08-20 22:26] kedevked commented on #467
@nsthorat thanks for your reply. I have started to implement the [Jordan Gauss method](https://en.wikipedia.org/wiki/Gaussian_elimination). As you suggested, we need to be compliant with the python version. There is an `adjoint` parameter in the signature of the method. I only need to implement that. Everything is [here](https://github.com/kedevked/tfjs-core). I will greatly appreciate your feedba

[2018-08-21 07:29] lochbrunner commented on #620
In my opinion `getWeights` is always a snapshot and should not change the internals of the layer.
I agree with @bileschi that setWeights should only update the weights.

For instance in may case I need the variables name. Which is present in Variable but not in Tensor. From the current typescripts point of view. But actually you have the name because getWeigths is returning a Variable, which might

[2018-08-21 08:31] iacovlev-pavel commented on #516
[code]
+1 on adding this operation, my use case is the same as @andhana, image detection.

[2018-08-21 09:04] iacovlev-pavel commented on #602
Installing `@tensorflow/tfjs-node-gpu` works, but when running the `mnist-node` example only the CPU is used.
On the same machine python `tensorflow-gpu` works and use the NVIDIA GPU.

Note that for the `mnist-node` example the following changes were made:
[code]

[2018-08-21 12:37] thebeancounter opened #623 "How can I load a tfjs model into python using keras or tensorflow or another standard tool?"
To get help from the community, check out our [Google group](https://groups.google.com/a/tensorflow.org/forum/#!forum/tfjs).

#### TensorFlow.js version

#### Browser version

#### Describe the problem or feature request

#### Code to reproduce the bug / link to feature request

[2018-08-21 13:57] nkreeger commented on #602
Yep - that's because we don't have a GPU build yet. https://github.com/tensorflow/tfjs-node/blob/master/scripts/get_libtensorflow.js#L37 That script will default to WINDOWS CPU until we have a library we can distribute. I'll update this ticket once I have that building.

[2018-08-21 15:03] rodrigob commented on #597
ping ?

[2018-08-21 15:09] dsmilkov commented on #597
Thanks - this is great feedback! Do you have some cycles to send us a PR?

[2018-08-21 15:18] dikatok commented on #597
Whoops sorry, I missed this issue. Is this resolved yet? If not, I will look into it.

[2018-08-21 15:21] rodrigob commented on #597
@dikatok looks like the issue is [still open](https://github.com/tensorflow/tfjs-core/blob/bc7dcbd783577c4f52c6010e34bb0e8da3596944/src/ops/array_ops.ts#L882). So your input is most welcome !

[2018-08-21 15:26] dsmilkov opened #624 "Add support for CropAndResize"
We should add mapping for `CropAndResize` in the Converter. See [discussion](https://groups.google.com/a/tensorflow.org/forum/?utm_medium=email&utm_source=footer#!msg/tfjs/lqLhRGpvm0A/2hjYpLRXAQAJ) for context.

[2018-08-21 15:28] dsmilkov commented on #597
Thanks @dikatok

[2018-08-21 15:36] dsmilkov opened #625 "Improve error messages for custom layer registration"
Error messages when registering a custom layer should be improved and made more actionable. See [discussion](https://groups.google.com/a/tensorflow.org/forum/?utm_medium=email&utm_source=footer#!msg/tfjs/_GnkC7CNA1s/fJplJ5NGAQAJ) for context.

For example, instead of `Error: Unknown layer: SubPixel1D`, we should say something like:

The layer SubPixel1D is not registered. Did you forget to registe

[2018-08-21 15:36] Yorkchung commented on #624
So , how to add it? I have no sense.

[2018-08-21 16:04] pyu10055 commented on #615
@icysapphire you are probably right about the browser caching, it is safe to always do a hard browser refresh if the model files are changed.

The rank of the input tensor does not match for main_scalarinput, you can use reshape op

tensor = tensor.reshape([1, 21168]) and use that as the value for 'main_scalarinput'.

[2018-08-21 16:31] icysapphire commented on #615
@pyu10055 It doesn't work and it doesn't seem easily debbugable.
With code:
[code]
I get

[2018-08-21 17:48] pyu10055 commented on #615
I have a fix PR for your model, with that, I was able to complete the inference execution.

[2018-08-21 17:57] #615 closed

[2018-08-21 18:14] icysapphire commented on #615
Great, @pyu10055, thanks a lot! I'm waiting for npmjs publish in order to try that! [ETA?]
In the meanwhile, I'd like to ask you for another problem with my unlucky model.. in my model there's a LSTM cell: in python (but also in the C++ tensorflow-based app) I am able to feed in the input tensor and also a particular rnn state, do inference, get back output and rnn state (to be used in the next in

[2018-08-21 20:35] annxingyuan opened #626 "Unknown layer: InstanceNormalization"
#### TensorFlow.js version

0.12.5

#### Browser version

Google Chrome
Version 68.0.3440.106 (Official Build) (64-bit)

#### Describe the problem or feature request

When trying to load a Tensorflow saved model (obtained with the Tensorflow.js converter) in the browser, I get the following error message:

[code]

#### Code to reproduce the bug / link to feature request

The Keras model is [here](

[2018-08-21 21:26] kgryte commented on #600
Is this implying that **all** Node.js APIs which call down into `libtensorflow` should be async? Or that such APIs should also be available in **both** sync and async flavors? If the former, this seems biased toward server contexts, where not blocking the main thread is of greater importance; however, such non-blocking behavior is less important in non-server analysis contexts (e.g., scripting) wh

[2018-08-22 00:01] samuelgoto commented on #298
Some of the TF hub's model take a [4d image](https://www.tensorflow.org/hub/common_signatures/images#input) as input ([batch_size, width, height, 3]) whereas fromPixels creates a [3d image](https://js.tensorflow.org/api/0.6.1/#fromPixels).

Would anyone know if there is a handy/easy way to transform the fromPixel to the 4d tensor?

For example, in [this](https://github.com/tensorflow/tfjs-converte

[2018-08-22 02:29] #23 closed

[2018-08-22 10:26] stefano-1981 commented on #597
Can it be that the failing line
`return a && (b % blockShape[i - 1] === 0);`
should also account for the paddings as mentioned in the comments of the function?

[2018-08-22 12:29] dikatok commented on #597
@stefano-1981 yup

I changed the error messages to be more elaborate and included the paddings in the assertion

[2018-08-22 14:02] wookoouk commented on #602
Is it possible to manually build it for GPU?

[2018-08-22 14:50] xtr33me commented on #183
Regarding the "No 'Access-Control-Allow-Origin' " issue, make sure that on the server you are hosting the files that you add a file with the name .htaccess at the root and that that file contains the entry below.  Hope it helps others as I was dealing with the same issue and it fixed that problem.

Header set Access-Control-Allow-Origin "*"

[2018-08-22 15:15] brannondorsey commented on #468
@nkreeger, any thoughts on a few of these last questions?

[2018-08-22 16:37] jthomas commented on #489
@caisq Unless I've missing something in the code, it didn't seem to me that the `tf.io.loadWeights` method uses the IOHandler system to read files?

Let me give you the background, I'm using this library ([face-api.js](https://github.com/justadudewhohacks/face-api.js)) which [loads weights](https://github.com/justadudewhohacks/face-api.js/blob/47a54b57b7b376cba157824f2b8d7f6cdf9bc2b3/src/commons/l

[2018-08-22 17:44] dsmilkov commented on #298
Call `tf.fromPixels(cat).expandDims(0)`. See [tf.expandDims](https://js.tensorflow.org/api/0.12.5/#tf.Tensor.expandDims) API doc for details.

[2018-08-22 17:53] dsmilkov opened #627 "Add tf.pool modeled after tf.nn.pool in Python"
In Python, [tf.nn.pool](https://www.tensorflow.org/api_docs/python/tf/nn/pool) allows for dilation and strides, while `tf.nn.max_pool` and `tf.nn.avg_pool` have no dilation in their signature.

In TensorFlow.js, we have `tf.maxPool` and `tf.avgPool` but we lack `tf.pool` along with the ability for user-provided `dilation` and `strides`. Support for dilation and strides will require small changes i

[2018-08-22 19:04] caisq opened #628 "For some tf.Models, training in tfjs-node is about 4x slower than eager tf.keras (Python)"
measured using the MNIST example (https://github.com/tensorflow/tfjs-examples/tree/master/mnist-node) and the equivalent eager tf.keras model (https://github.com/caisq/keras/blob/eager-mnist-cnn/examples/mnist_cnn.py).

When compared gains graph-mode tf.keras or keras, the different is even larger.

[2018-08-22 20:30] kedevked commented on #627
Hi @dsmilkov !
I will work on it. Could you please give the link to conv_gpu.ts and pool_gpu.ts ?

[2018-08-22 20:45] bileschi commented on #623
Hello thebeancounter
Assuming you are using the layers api within TFJS, you should be able to convert your tfjs model into keras.h5 format, and then load it in python.

Here are instructions for the converter, please note the "Format conversions support table".
https://github.com/tensorflow/tfjs-converter

More detail at your S/O question here:
https://stackoverflow.com/questions/51948810/how-to-l

[2018-08-22 20:45] #623 closed

[2018-08-23 00:51] jgartman commented on #582
I think I'll look at max and avg pool

[2018-08-23 04:44] rouismia opened #629 "Advanced_activations_PReLU"
Actually tfjs-core has prelu activation function,
but tfjs-layers hasn't PReLU module

so, I wrote PReLU based on LeakyReLU

but, I can't assure it's right.

Anybody could help improve these codes?

[code]

[code]

[2018-08-23 05:03] kedevked commented on #627
Hi @dsmilkov !
I will try to work on it.

[2018-08-23 09:17] happyhj opened #630 "Add tf.confusion_matrix"
I'm working on training a multiclass classification model on a browser with tfjs.
However, I noticed that I need to compute the **confusion matrix** so that I can know the individual class accuracy.

Like tf.confusion_matrix in tensorflow
https://www.tensorflow.org/api_docs/python/tf/confusion_matrix

I'm currently working on implementing confusion matrix function in tfjs-core.
But is it worth it?

[2018-08-23 09:39] kedevked commented on #110
Hi,
I will work on it

[2018-08-23 13:32] bileschi commented on #630
I see this as a data-science or post-processing analysis, both of which are not well supported in JS in general at this point.  Not sure if this makes more sense in core or in a separate repo for now?  @nsthorat thoughts?

[2018-08-23 13:45] caisq commented on #489
James,

That's correct - tf.io.loadWeights doesn't use IOHandlers under the hood.
It works only for http-based cases because it uses fetch.

What are you trying to achieve? Depending on the answer, I may be able to
suggest solutions.

Best,
Shanqing

On Wed, Aug 22, 2018 at 12:37 PM James Thomas <notifications@github.com>
wrote:

--
---
Shanqing Cai
Software Engineer
Google
cais@google.com

[2018-08-23 13:51] caisq commented on #110
Thanks, @kedevked Looking forward to your PR. Let us know if you need any help or guidance.

[2018-08-23 14:17] caisq opened #631 "Feature Request: Add command-line progress bar for tf.Model.fit() in tfjs-node"
Can model after mnist-node in tfjs-examples
https://github.com/tensorflow/tfjs-examples/blob/master/mnist-node/main.js#L47

#### TensorFlow.js version
tfjs 0.12.5
tfjs-node 0.1.13

[2018-08-23 14:17] caisq commented on #631
cc @kangyizhang @nkreeger @pyu10055

[2018-08-23 14:55] caisq commented on #630
TensorFlow (Python) has tf.confusion_matrix: https://www.tensorflow.org/api_docs/python/tf/confusion_matrix

[2018-08-23 15:41] 98mprice opened #632 "Error: dot support for x of rank 4 is not yet implemented"
#### TensorFlow.js version
0.12.5

#### Browser version
Node v8.9.1

#### Describe the problem or feature request
I am using Tensorflow.js to predict on a model I trained in Keras. However, when I feed in my 4-dimensional tensor I get the following error:

`UnhandledPromiseRejectionWarning: Unhandled promise rejection (rejection id: 1): Error: dot support for x of rank 4 is not yet implemented: x

[2018-08-23 15:49] chrisdonahue commented on #489
I can't speak for James but my use case is that I want to be able to write tests for my model which load model weights from a **locally-stored** `manifest.json` and compare to known input/output pairs from Python.

Currently I have an extremely undesirable workaround where I save the output of `tf.io.loadWeights` to a JSON file in the browser. Then, I load that JSON file in the test and pass the r

[2018-08-23 15:53] dsmilkov opened #633 "Add save() and load() methods to knn-classifier in tfjs-models"
We should add save() and load() methods to KnnClassifier. They can take the same url/path format as model.save().

See [discussion](https://groups.google.com/a/tensorflow.org/forum/?utm_medium=email&utm_source=footer#!msg/tfjs/3sXgLFIiHts/AF8NAd88EwAJ) for motivation and context.

Internally we can make an empty model with non-trainable weights and use the existing model.save() infrastructure to s

[2018-08-23 16:58] dsmilkov commented on #632
Looks like that error message is coming from the dot() function in tfjs_backend.ts in tfjs-layers FYI @caisq @bileschi @ericdnielsen. Thanks!

[2018-08-23 18:42] AviKndr commented on #624
@dsmilkov @pyu10055 Hi, I'm currently trying to implement `CropAndResize`, but this is my first contribution so I would appreciate any advice you could provide me. I've already implemented the cpu forward and backprop kernel functions in `backend_cpu.ts` and `backend.ts`, and the op in `image_ops.ts`. I had a few questions about correct and efficient implementation. I have based my implementation

[2018-08-23 19:28] bileschi commented on #632
I'm able to reproduce the problem, working on adding the missing nd mat feature

[2018-08-23 21:08] kedevked commented on #110
I am going to implement it using the qr method. The algorithm is described [here](http://www.math.tamu.edu/~dallen/linear_algebra/chpt6.pdf). I wonder from which discrepancy can we consider the convergence to be reached for a singular value, meaning that if at the ith iteration we have the value j and at the (i+1)th iteration we have the value k, I want to stop the iteration when k-i < threshold.

[2018-08-24 08:02] icysapphire commented on #532
I think this is very important in order to bridge the gap between tfjs and vanilla tensorflow and not particulary  time-consuming to address. Is there any roadmap about it?

[2018-08-24 08:28] MariasStory opened #635 "Mouse movement trajectory prediction."
Hi, did someone try to predict mouse movement trajectory?

There was some rudimentary effort: https://github.com/BrainJS/brain.js/issues/61

Some better ideas?

It would be nice to see an indication for predicted movement of mouse based on trained/training network.

[2018-08-24 16:09] andresusanopinto opened #636 "Add download progress bar for tf-hub converting"
E.g.:
 tensorflowjs_converter \
    --input_format=tf_hub \
    'https://tfhub.dev/google/imagenet/mobilenet_v1_100_224/classification/1' \
    mobilenet/web_model

Does not outputs anything for sometime while downloading the module.

[2018-08-24 16:15] 98mprice commented on #632
Thanks- forgive me if I misunderstood but even if I reshape my `x` into a lower dimension, won't my call to `model.predict` still fail though because it's expecting a 4-dimensional tensor as part of my model structure?

For example, running the following code for my model:
[code]
gives me the following error:
`Error: Error when checking : expected dense_1_input to have 4 dimension(s), but got arra

[2018-08-24 18:51] pyu10055 commented on #624
@AviKndr Thank you very much for volunteering to work on this. Here is my thinking on your questions:
1. You can view the shader program in GPU a function of filling the output tensor by applying functions on values from input tensor spaces. You will normally calculate the shape of the output tensor and provide the  function to do the calculation for each element. For example the [clip gpu impleme

[2018-08-24 21:48] chrisdonahue commented on #539
I'm not sure if this is covered by this issue, but it would be nice if TFjs `matmul` behaved in the same way as the [Tensorflow `matmul`](https://www.tensorflow.org/api_docs/python/tf/matmul), which generalizes the operation to tensors of arbitrary dimensions:

[2018-08-25 02:00] oreHGA commented on #633
Hi, I'd like to give this a shot!

[2018-08-25 15:52] dsmilkov commented on #539
Great point @chrisdonahue . Will keep this issue to track two things
1) generalizing tf.matMul in tfjs-core
2) Wiring the BatchMatMul op in the tfjs-converter to call the generalized tf.matMul() in core.

[2018-08-25 16:58] dsmilkov opened #638 "Add tf.assertEqual()"
Sometimes you need to check if two tensors have the same values, with broadcasting support.

Therefore, we should add `tf.assertEqual()` modeled after [tf.assert_equal()](https://www.tensorflow.org/api_docs/python/tf/assert_equal) in Python.

This can be based on the existing `tf_test_util.expectArraysEqual(a, b)`.

See [discussion](https://groups.google.com/a/tensorflow.org/forum/?utm_medium=emai

[2018-08-25 17:04] dsmilkov opened #639 "Add tf.diag()"
Add tf.diag() modeled after tf.diag() in Python.

[2018-08-25 17:15] manrajgrover commented on #638
@dsmilkov I feel we can use `a.equal(b).all()` to achieve this for now. `tf.assertEqual()` can wrap this and throw an error if false.

[2018-08-25 22:25] #625 closed

[2018-08-26 04:41] napa-sji opened #640 "Unsupported Ops: Prod"
Is there plan to support the Prod op in the near future? I'm trying to use tensorflowjs_converter to convert a model and got an error about "Prod".

[2018-08-26 06:02] anymos commented on #494
This issue is related to another one that is 2 years old ...

guys common ...

[2018-08-26 07:35] zhongheng001 opened #641 "evaluate, predict,fit,these methods crashed if specified a nonsense batchSize (zero or negative integer) ."
TensorFlow.js API Version 0.12.5
 Browser version (  Google Chrome  67.0.3396.87).

evaluate, predict,fit,these methods crashed if specified a nonsense batchSize (zero or negative integer) .

1.Test this situation,for example:
navigate  API Reference
https://js.tensorflow.org/api/0.12.5/#class:Model

2. Edit predict method‘s test code and run it,such as:

const model = tf.sequential({
   layers: [

[2018-08-26 14:04] caisq commented on #641
Thanks for filing the issue. I opened a PR for fixing this issue: https://github.com/tensorflow/tfjs/issues/641

[2018-08-26 14:36] kedevked commented on #639
I can take this PR

[2018-08-27 07:10] justadudewhohacks commented on #604
In case someone is facing the same issue, when training an image classifier or an object detector, you can mitigate that issue by resizing your images to a fixed input size, before calling `tf.fromPixels` and instead of doing tensor operations for padding and resizing:

[code]

[2018-08-27 14:54] dsmilkov commented on #255
Duplicate of https://github.com/tensorflow/tfjs/issues/539

[2018-08-27 14:54] #255 closed

[2018-08-27 17:30] 98mprice commented on #632
Ah, yes, I thought about doing that over the weekend but decided against it because I was/am lazy :) Thanks for working on this issue, I'll stay posted to any developments here.

[2018-08-27 17:38] #641 closed

[2018-08-27 17:40] AviKndr commented on #624
@pyu10055 Thank you so much for the explanations. I have successfully implemented and tested all kernels on both backends. Will clean up my code and submit a pull request soon.

[2018-08-27 18:45] dsmilkov commented on #624
Thanks @AviKndr for your contribution. Looking forward to your PR. +1 to @pyu10055's answers. Here are my responses as well:

1. Flat indexing for the CPU is the way to go. Thank you for offering to migrate the other resize ops too.

2. To keep the initial PR simpler and faster to review, how about dropping gradients for now, and adding them in a follow up PR. This way we can have that particular

[2018-08-27 18:53] dsmilkov opened #642 "tf.qr should be tf.linalg.qr in the API docs. Also missing a code snippet."
`tf.qr` should be `tf.linalg.qr` in our API docs. Likewise for `tf.gramSchimdt`.

The fix is to provide `namespace: 'linalg'` to the @doc tag (analogous to the tf.train.* ops).

Also it would be nice to have an embedded code snippet in the doc.

See [discussion](https://groups.google.com/a/tensorflow.org/forum/?utm_medium=email&utm_source=footer#!msg/tfjs/fnKpmPVzcDU/sNcD_-dKAQAJ) for context.

[2018-08-27 19:35] cornhundred opened #643 "GPU accelerated Hierarchical Clustering (feature request)"
I would like to request GPU accelerated hierarchical clustering as a potential new feature. Similar to the #574 request

[2018-08-27 21:37] AviKndr commented on #624
@dsmilkov. Thanks, I submitted the pull request!

Btw, I found that in the original gradient implementation, they approximated the box gradients with 'nearest' using the kernel intended for 'bilinear' [image_grad.py lines 117-122](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/ops/image_grad.py) so that should not actually be an issue if the plan is to stick to the referenc

[2018-08-28 03:58] dmnqmn opened #644 "A typo causes 'npm run dev' not functioning in posenet package.json"
#### TensorFlow.js version
irrelevant
#### Browser version
irrelevant
#### Describe the problem or feature request
There's a typo in `posenet/package.json`, `cd demos` was written as `d demos`

[2018-08-28 05:06] #644 closed

[2018-08-28 12:01] malavcygnet commented on #494
@nkreeger It works!! thank you

[2018-08-28 14:34] #642 closed

[2018-08-28 14:46] tafsiri commented on #630
We'll have a util function that computes a confusion matrix as part of the upcoming vis library (coming soon, but that is what @nsthorat is referring to above—we also have support for rendering the confusion matrix).

So I'd probably hold off on making this PR for now as I already have code for this. Once that comes in for review we can see if we want to move it in core.

[2018-08-28 15:05] caisq opened #645 "The name tf.CustomCallbackConfig is not descriptive enough"
In tfjs, tf.CustomCallbackConfig comes from tfjs-layers. But the name doesn't reflect that fact and it's unclear what the config is for (it is for tf.Model.fit). It should be moved to a different name and/or different namespace to be clearer.

[2018-08-28 15:09] caisq commented on #645
cc @dsmilkov

[2018-08-28 18:18] bileschi opened #648 "content in @returns annotation in jsdoc is not displayed in js.tensorflow.org"
#### Describe the problem or feature request
In JSDoc like the following
[code]
The content of the `@returns` annotation is consumed and not displayed in the website.  The solution is either to remove the annotation within the jsdoc, or to modify the website to display the content.

#### Code to reproduce the bug / link to feature request

[2018-08-28 18:34] larrylindsey opened #649 "computeConv2DInfo: output shape incorrect wrt non-square effective filter size?"
Calling computeConv2DInfo with a numeric pad results in a call to computeOutputShape3D (via [getPadAndOutInfo](https://github.com/tensorflow/tfjs-core/blob/a660a5427209923cf43582048efb058ac0f91718/src/ops/conv_util.ts#L209) that ignores the effective filter width. When using non-square filters or non-square dilation sizes, this results in an unexpected output size.

[2018-08-28 19:20] brannondorsey opened #650 "No model.reset_states() function"
#### TensorFlow.js version

`tfjs-layers v0.7.5` and `tfjs v0.12.5`

#### Describe the problem or feature request

#### Code to reproduce the bug / link to feature request

[code]

[2018-08-28 19:48] nkreeger commented on #602
We just shipped 0.1.14 with windows support for @tensorflow/tfjs-node-gpu

[2018-08-28 19:48] #602 closed

[2018-08-29 00:55] chrisdothtml opened #651 "Provide esm file via jsdelivr"
Now that browsers are capable of importing es-modules natively, I write a lot of my hobby projects without a bundler. This should be easy (I think) since you're already generating an esm dist file

[2018-08-29 10:49] carlthome opened #652 "Model converter doesn't work with NASNetLarge and NASNetMobile in tf.keras.applications"
#### Describe the problem or feature request
I wanted to get out all ImageNet pretrained classifiers bundled with Keras for a web app demo I'm doing, but some of the models can't be converted automatically.

#### Code to reproduce the bug / link to feature request
[code]

[code]

[2018-08-29 13:50] carlthome commented on #652
Thanks for the tip! So the exception happens already in `tf.keras` itself. This issue is probably related to recent refactoring of Keras, so maybe it would go away if `https://github.com/tensorflow/tfjs-converter/blob/master/python/requirements.txt#L5` was updated to a newer version?

`python -c "import tensorflow as tf; tf.keras.applications.nasnet.NASNetMobile().save('model.h5')"`

[2018-08-29 14:42] nsthorat opened #653 "Support complex64 Tensor.get()"
Right now we will not support Tensor.get() since it is rare for complex numbers, however we should support it in the future.

Right now, get() throws an error if it is used on a complex64 tensor.

[2018-08-29 17:00] caisq commented on #652
@carlthome I think updating the dependency versions is a good idea. Let me get that done first. Then we can see if this addresses your problem.

[2018-08-29 17:09] twalk4821 opened #654 "404 not found — tfjs-converter@0.5.9"
This happens during npm install for the most recent version of tensorflow.

#### TensorFlow.js version

#### Browser version

#### Describe the problem or feature request

#### Code to reproduce the bug / link to feature request

[2018-08-29 18:00] twalk4821 commented on #654
Actually I can’t npm install that package directly, either.

[2018-08-29 18:50] #601 closed

[2018-08-29 19:02] caisq commented on #654
@twalk4821 Can you provide a little more details, like the command you used and your operation system?

I tried the following three commands on my linux machine and they all worked without any issue:
`npm i @tensorflow/tfjs`
`npm i @tensorflow/tfjs@0.12.6`
`npm i @tensorflow/tfjs@latest`
`npm i @tensorflow/tfjs-converter@0.5.9`

[2018-08-29 20:12] twalk4821 commented on #654
I’m behind a proxy so I wonder if that’s the issue, but let’s see. I ran npm install —save @tensorflow/tfjs, my operating system being Mac OS. All other npm packages install fine, though.

[2018-08-29 20:27] twalk4821 commented on #654
Thanks, I’m pretty sure this is a proxy issue. I’ll go ahead and close.

[2018-08-29 20:27] #654 closed

[2018-08-29 21:32] dsmilkov opened #655 "Add tf.diagPart()"
Add tf.diagPart() modeled after [tf.diag_part()](https://www.tensorflow.org/api_docs/python/tf/diag_part) in Python. See [discussion](https://groups.google.com/a/tensorflow.org/forum/?utm_medium=email&utm_source=footer#!msg/tfjs/QOzq60A3n48/ZiaEcGLNEwAJ) for context.

[2018-08-29 21:47] kedevked commented on #655
I will work on it

[2018-08-29 22:10] dsmilkov commented on #624
Thanks! Shouldn't be an issue as long as we are mimicking Python.

[2018-08-30 06:17] #536 closed

[2018-08-30 06:36] DimaRomaniuk commented on #311
@dsmilkov @Melvin-Abraham  I'm using Chrome in Windows 10 Pro. And can't reproduce this issue.
![image](https://user-images.githubusercontent.com/39365936/44833832-f9dd2a80-ac37-11e8-815b-4e17193ab2aa.png)
![image](https://user-images.githubusercontent.com/39365936/44833861-0eb9be00-ac38-11e8-9ee9-52c01d226e73.png)

[2018-08-30 07:36] vmarkovtsev opened #656 "Unknown loss softmaxCrossEntropy"
#### TensorFlow.js version

0.12.5

#### Browser version
N/A - Node.js 10.9

#### Describe the problem or feature request

[code]

raises

[code]

However,

[code]

works.

`softmax_cross_entropy` also does not work.

[2018-08-30 09:54] andresusanopinto commented on #636
The next release version of tfhub should show a progress bar when using TFHUB_DOWNLOAD_PROGRESS=1 environment variable.

See https://github.com/tensorflow/hub/commit/3c36fef3ee5cc6709d6d76818789d6ec62d682f4#diff-7d939c5d51539f4d8c9eda5a85d96c09 for commit.

[2018-08-30 15:28] dsmilkov opened #657 "Concat in WebGL: Sample from more than 2 textures at once."
Right now our concat_gpu shader allows only concating of 2 textures at a time. This results in N kernels calls when concating N tensors and slows down our Node.js backend.

We should use `gl.getParameter(gl.MAX_TEXTURE_IMAGE_UNITS)` to get the max number of textures in a shader and use that to speed up webgl concat by sampling from multiple textures in a single shader call

[2018-08-30 17:40] nsthorat commented on #656
Like keras, we call it `categoricalCrossEntropy`.

[2018-08-30 17:41] nsthorat commented on #651
Does this not work?

https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@0.12.6/dist/tf.esm.js

[2018-08-30 17:53] chrisdothtml commented on #651
Sorry, thought I checked to see if there already were any already.

That would work for a bundler, but not for a browser, since the browser can't resolve npm package names (e.g. `@tensorflow/tfjs-core`).

Looks like [the way Ractive.js handles it](https://cdn.jsdelivr.net/npm/ractive@0.10.9/ractive.mjs) is by bundling everything into a single es-module. So maybe this _would_ require some extra wor

[2018-08-30 18:03] nsthorat commented on #651
Ah yeah, we do this for core but haven't yet done it for the union package:

https://cdn.jsdelivr.net/npm/@tensorflow/tfjs-core@0.12.6/dist/tf-core.esm.js

We can keep this issue around to track that.

[2018-08-30 18:13] chrisdothtml commented on #651
Sweet, thanks 👍

[2018-08-30 19:18] bileschi commented on #656
Attempting to make the error messaging clearer for this.
https://github.com/tensorflow/tfjs-layers/pull/307

[2018-08-30 19:35] bileschi commented on #656
Closing this issue as due to bad documentation / error messaging which has been improved.

@vmarkovtsev Thanks for filing and please feel free to re-open if the provided solution doesn't seem sufficient.

[2018-08-30 19:35] #656 closed

[2018-08-30 20:07] vmarkovtsev commented on #656
Cool, thanks

[2018-08-30 21:28] dsmilkov commented on #311
Thanks for the pointer. So the only difference I could see is that @DimaRomaniuk has WebGL 2.0, while @Melvin-Abraham has WebGL 1.0. I tried forcing WebGL 1.0 via the url flags `tfjsflags=WEBGL_VERSOIN:1`, but still couldn't reproduce the error.

Will keep this issue open, until we can get a machine that can reproduce this bug.

[2018-08-30 23:38] kangyizhang opened #658 "tf.moments() has numeric issues and is flaky"
I was writing test and want to use test_util.expectNumbersClose, but it's not stable when checking mean and variance for big array with large numbers.

So I tried with test for tf.moments (https://github.com/tensorflow/tfjs-core/blob/v0.11.1/src/ops/reduction_ops_test.ts#L636):

[code]

run this test for several times, sometimes variance is 57813172224, but sometimes it would show error:

[code]

[2018-08-31 00:46] dsmilkov commented on #658
Thanks for investigating this. This looks more like a problem of moments/variance, than a problem with expectNumbersClose().

Did you run this test several times on the same machine? Or several times on different machines?

[2018-08-31 00:56] chrisdonahue commented on #539
Awesome!! Thx so much

[2018-08-31 00:58] kangyizhang commented on #658
I ran this test several times on the same machine.

I agree that this should be an issue with tf.moments(). I also met the same situation when I use moments for mean and variance elsewhere. tf.moments() is returning two possible results, such as the above example, first run it returns 57813172224, second run it returns  57813176320, and third run returns 57813172224 again.

[2018-08-31 01:12] dsmilkov commented on #658
This can be a side-effect of how GPUs are storing floats and losing precision. I would avoid using large numbers - in practice all models are dealing with values that are bounded, otherwise all other sorts of numeric issues arise.

Now, outside machine learning, this tells me that we should not be using `tf.moments()` for pre-processing data, where precision matters. Or we should be doing it on th

[2018-08-31 06:38] vmarkovtsev opened #660 "[feature] Add Model.fitDataset"
#### TensorFlow.js version
0.12.5

#### Browser version
N/A - Nodejs 10.9

#### Describe the problem or feature request
My dataset is so big that I cannot place it into memory. Keras has `fit_generator`
 to take batches from a callable but tfjs doesn't. Apart from super big datasets, it helps to reduce the memory requirements if you do image perturbations for example.
I suggest adding a similar fu

[2018-08-31 14:03] hpssjellis opened #661 "Feature Request: tf.layers.batchNormalization should run without "{}""
Please make  batchNormalization work without having to use the "{}"

This runs:
model.add(tf.layers.batchNormalization({}))

without the  "{}" it would not run. The error I get using the API edit boxes is

"Cannot read property 'name' of undefined"

[2018-08-31 14:06] bileschi commented on #660
FYI @davidsoergel @kangyizhang @dsmilkov

[2018-08-31 14:07] bileschi commented on #661
https://github.com/tensorflow/tfjs-layers/pull/308

[2018-08-31 15:26] dsmilkov commented on #658
Had some chat with other folks. We should keep using tf.moments() since it's only our WebGL backend that has flaky behavior with large numbers. I won't just avoid writing unit tests with such large numbers, or constrain the unit test to only run on CPU/nodejs backend.

[2018-08-31 15:39] davidsoergel commented on #660
How timely-- already in the works :)

[2018-08-31 16:34] kangyizhang commented on #658
Got it. Thanks for the investigation!

[2018-08-31 17:30] davidsoergel opened #1031 "Provide sharded_url_data_source"
This is like UrlDataSource except that it automatically concatenates http:/.../file.001, http://.../file.002 etc.

[2018-08-31 17:30] davidsoergel opened #1005 "Provide Webcam data source."

[2018-08-31 17:31] davidsoergel opened #1004 "Provide microphone data source."

[2018-08-31 17:31] davidsoergel opened #1018 "Provide unbatch() transformation."

[2018-08-31 17:32] davidsoergel opened #1030 "Provide rate limiting transform."
This basically sleeps each promise so that they don't resolve faster than n/sec.

Because we are pulling promises, not the actual data elements, it's easy to e.g. request frames from the webcam at 10 khz instead of 60hz, which quickly crashes the browser.

Sometimes the source is intrinsically rate-limited; sometimes the consumer is a bottleneck (e.g., training time), but sometimes it's neither.

[2018-08-31 17:36] davidsoergel opened #1029 "Use HTTP range requests to stream large files."
This is similar to sharded_url_data_source except that the sharding happens on demand and need not be prepared by the file host.

[2018-08-31 17:37] hpssjellis commented on #661
That was fast. Closing this one.

[2018-08-31 17:37] #661 closed

[2018-08-31 17:38] davidsoergel opened #1028 "Kaggle integration."
We have an email thread with the Kaggle folks from April explaining how to download data via direct HTTP requests to their API.

[2018-08-31 17:39] davidsoergel opened #1027 "Make statistics work for nested structures (i.e., TensorContainers)."
Per prior discussions, stats are considered lower priority and may need a separate design doc; tracking here anyway.

[2018-08-31 17:42] davidsoergel opened #1026 "Provide a benchmark demo to measure streaming performance"

[2018-08-31 17:42] davidsoergel opened #1025 "Cache a small dataset in memory via dataset.cache()"

[2018-08-31 17:45] davidsoergel opened #1024 "Cache larger datasets to disk via dataset.cache(settings)"
Perhaps, implement a strategy of progressively evicting from GPU to main memory and then to disk.

[2018-08-31 17:46] davidsoergel opened #1023 "Provide IPFSDataSource."
This may be difficult: https://github.com/ipfs/in-web-browsers

[2018-08-31 17:53] davidsoergel opened #1012 "Flesh out the CSV parser."
The current csv parser is naive: it does not handle quotes, escaping, embedded newlines, alternative delimiters, etc.

[2018-08-31 17:57] davidsoergel opened #1022 "Evaluate and improve parity with tf.data"
For API completeness we need to implement at least:
- Dataset.flat_map()
- Dataset.dense_to_sparse_batch()
- Dataset.group_by_window()
- Dataset.padded_batch()

Maybe there are more (especially recently added) public methods that we've overlooked?

[2018-08-31 17:58] davidsoergel opened #1021 "Implement FixedLengthRecordDataset"

[2018-08-31 17:58] davidsoergel opened #1020 "Implement TFRecordDataset"

[2018-08-31 18:04] davidsoergel opened #1019 "Implement dataset.apply(), DataTransform, and LazyIteratorTransform"
See the 'Custom Transformations' section of the design doc.

[2018-08-31 18:21] davidsoergel opened #1014 "Write tutorial/guide for tfjs-data"

[2018-08-31 21:00] brannondorsey opened #664 "Possible memory leak in model.train() with stateful RNN and WebGL backend only"
#### TensorFlow.js version

tfjs v0.12.6

**update:** have also now tested with tfjs v0.12.7 as well. The problem persists.

#### Browser version

Tested on Chrome and Firefox latest, as well as Electron v2.0.8

#### Describe the problem or feature request

I'm importing [this stateful Keras RNN model](https://github.com/brangerbriz/twitter-transfer-learning/tree/578999703d19b83348c0aa5d2a6a459285

[2018-08-31 23:35] chrisdonahue opened #665 "Bizarre bug with tf.argMax"
`tf.argMax` appears to have a strange bug. The following code snippet prints `Tensor 0` when it should print `Tensor 44`.

[code]

Changing the number 44 in this code snippet to any other number in [0, 87] results in the correct output. Disabling my GPU (by turning off hardware acceleration in Chrome) fixes the bug.

The only thing that comes to mind about the significance of the number 44 is that

[2018-09-01 06:06] vmarkovtsev commented on #660
@davidsoergel Sweet! Any ETA?

[2018-09-01 14:38] radi-cho opened #666 "TFjs requires browser classes in GCP Cloud Functions node environment"
#### TensorFlow.js version
[code]

#### Describe the problem
I am trying to run tfjs in a GCP/Firebase Cloud functions. I followed the documentation, added the `tfjs-node` dependency before running any code and tested it locally. Everything worked as expected.
However when tried to deploy it (`firebase deploy`) I got this strange log:

[code]
It's strange that the missing classes are **_browser_**

[2018-09-01 22:35] husseinabed opened #667 "Tfjs with react ative"
To get help from the community, check out our [Google group](https://groups.google.com/a/tensorflow.org/forum/#!forum/tfjs).

#### TensorFlow.js version

#### Browser version

#### Describe the problem or feature request

#### Code to reproduce the bug / link to feature request

[2018-09-02 18:36] dsmilkov opened #668 "Surface tf.node.* API under the "Node" section in API docs"
tfjs-node specific API will live in the `tfjs-node` module. Those methods should be part of the API docs generation and should surface in `https://js.tensorflow.org/api/latest/` under the top-level `Node` section.

[2018-09-02 18:36] dsmilkov commented on #668
cc @nkreeger @tafsiri

[2018-09-02 19:14] dsmilkov opened #669 "Move tf.fromPixels() to tf.browser.fromPixels()"
Since `fromPixels()` is specific to the browser, and requires a polyfill to make it work in node, we should move it to `tf.browser.fromPixels()`.

We should consider keeping `tf.fromPixels()` for now, until we reach v1 so we don't break existing users.

cc @nkreeger @nsthorat

[2018-09-03 10:04] vmarkovtsev commented on #485
While this indeed works, it is really ugly. Is there anything which can be feature-requested here?

[2018-09-03 12:01] ran-j opened #670 "batchMatMul error"
To get help from the community, check out our [Google group](https://groups.google.com/a/tensorflow.org/forum/#!forum/tfjs).

#### TensorFlow.js version
    "@tensorflow/tfjs": "^0.12.4",
    "@tensorflow/tfjs-core": "^0.12.12",
    "@tensorflow/tfjs-node": "^0.1.11",

 #### Describe the problem or feature request

 I was using normali tensorflow JS on my chatbot but Today when I try to install ag

[2018-09-03 12:42] annxingyuan commented on #670
Hey,

Thanks for filing this. I think the issue might be that the package tfjs currently needs tfjs-core version 0.12.15, but the latest version of tfjs-core is 0.12.16. Our team will resolve this discrepancy soon, but in the meantime, could you confirm that you've installed tfjs-core version 0.12.16? And if so, could you downgrade to 0.12.15 and see whether that resolves the issue?

Sorry - I kno

[2018-09-03 13:58] ran-j commented on #670
Thanks with @tensorflow/tfjs-core": " 0.12.15 works.

Its ok and thanks for the help

[2018-09-03 14:05] vmarkovtsev opened #671 "Add the ability to specify gpu_options"
#### TensorFlow.js version
0.12.6

#### Browser version
Node.js 10.9

#### Describe the problem or feature request
I am using tfjs-node-gpu and it allocates the whole memory of my GPU (the default TF behavior).
I request to have an ability to specify the backend options, particularly `gpu_options.allow_growth`.

[2018-09-04 07:44] rodrigob commented on #597
Now that the fix is merged I think this issue can be closed.

[2018-09-04 07:44] #597 closed

[2018-09-04 12:36] MoonsuCha opened #672 "Memory Overallocation from tfjs version 0.12.4"
#### TensorFlow.js version
0.12.4 ~ 0.12.6

#### Browser version
Chrome 68.0.3440.106 , Firefox 61.0.2

#### Describe the problem or feature request
From tensorflow.js 0.12.4, when running a model with large input, RAM memory is abnormally allocated to the extent that it can't handle the data.

#### Code to reproduce the bug / link to feature request
With tfjs posenet demo official repository, the

[2018-09-04 13:33] caisq opened #673 "Setting trainable property of layers doesn't work during tf.Sequential.fit() callbacks"
To get help from the community, check out our [Google group](https://groups.google.com/a/tensorflow.org/forum/#!forum/tfjs).

#### TensorFlow.js version
0.12.6

#### Browser version
Doesn't matter

#### Describe the problem or feature request
Calling model.layers[index].trainable = false followed by a model.compile() call
should change the trainable status of the models weight subset. But it is wo

[2018-09-04 13:37] bileschi commented on #632
This should be fixed at the next minor release.

[2018-09-04 13:37] #632 closed

[2018-09-04 13:38] bileschi commented on #543
Marking as closed.  Please reopen if this is still an issue.

[2018-09-04 13:38] #543 closed

[2018-09-04 13:52] caisq opened #674 "Add tutorial on how to write serializable custom layers to js.tensorflow.org"

[2018-09-04 14:15] brannondorsey commented on #672
Does this occur only when using the webgl backend? I wonder if this is at all related to the memory issues I am experiencing with `model.fit()` with webgl as well https://github.com/tensorflow/tfjs/issues/664?

[2018-09-04 14:34] annxingyuan commented on #670
FYI: tfjs now requires the latest version of tfjs-core - so the next time you install packages you should not encounter the `batchMatMul` error.

[2018-09-04 14:34] #670 closed

[2018-09-04 15:02] bileschi commented on #485
It sounds like you want a layer that performs a predefined algebraic
operation on a set of inputs.  If you can make do with a custom layer, that
will probably be the fastest route.

If you need your custom layer definition to become part of the standard,
then you should know that tfjs-layers aims to meet the standard set by
Keras.io. which has a vector for formally making feature requests here:

h

[2018-09-04 15:28] tafsiri commented on #672
@MoonsuCha Thanks for the detailed report. Could you let us know which operating system and browser you are using? Also if you post a screenshot of what you see when you visit https://js.tensorflow.org/debug/ that would be helpful.

I couldn't completely replicate this on my system, I did get higher memory usage in 0.12.4 by about 10-15MB so we can look into that, but it didn't cause the program t

[2018-09-04 16:38] #318 closed

[2018-09-04 17:30] hunterdowns commented on #670
I'm not seeing this as fixed yet. I tried a simple example from tensorflow.js website:
[code]

and this package file

[code]

and this is my output from running `node index.js`:

[code]

Then I tried the `mnist-node` example from the tfjs-examples and I get the same error.

Running node version 8.11.4 on a Mac OSX High Sierra

Thoughts?

[2018-09-04 18:38] annxingyuan commented on #670
Hey there,

Thanks for bringing this up - the issue is that `tfjs-node` has not caught up to this latest change. To work around this, you could remove the explicit dependency on `tfjs-core` in your `package.json`, and require exactly version 0.12.4 of `tfjs`. So here's what your `package.json` `dependencies` might look like:

[code]

You might want to remove `node_modules` and then run `yarn` agai

[2018-09-04 18:47] tafsiri commented on #668
@nkreeger @dsmilkov could you point me to where some tfjs-node specific api lives? Does this get included in the union package? Not sure what the action item is here (e.g. adding some section metadata for those functions, adding build infrastructure etc).

[2018-09-04 18:50] tafsiri commented on #667
Hi, could you add some more information about what issues you are having with react native? I know others have tried it in the past with some success https://github.com/tensorflow/tfjs/issues/192

[2018-09-04 19:18] hunterdowns commented on #670
Thanks! That did it.

One thing to note is that I had just been using `npm` rather than `yarn` and that was asking me to use put an explicit dependency on `tfjs-core` in my `package.json`. Even after changed my package to match what you had suggested it was still asking for the `tfjs-core` dependency. If I put that back it, it failed as before.

Following exactly what you said, I removed that expl

[2018-09-04 19:26] bileschi opened #676 "Add support for the Keras JSON object included in the updated SavedModel"
#### Describe the problem or feature request

tf.keras SavedModel now optionally includes the JSON Keras model representation [[as of this commit](https://github.com/tensorflow/tensorflow/commit/cda5ea80b86909fd20ff8a0f5ba914c5c03b876f)].  When converting from this type of SavedModel, it should be possible to access the Keras JSON so as to keep the modular structure.

[2018-09-04 19:50] dsmilkov commented on #668
Sorry, I wasn't clear. This is me proactively filing the issue so we track it. At this point, there is no tfjs-node specific API, but there will be when the auto-generated op methods are checked in.

[2018-09-04 23:54] tafsiri commented on #665
I can reproduce this and can confirm that it only seems to affect the webgl backend. Thanks for reporting the bug, we will take a look.

[2018-09-05 00:04] chrisdonahue commented on #665
Cool, thx!

[2018-09-05 00:04] tafsiri commented on #666
@radi-cho Where is this log produced? As part of the deploy or while your function is running on firebase?

At first glance it kind of looks like it is trying to compile the project again with possibly different settings? Are you able to build the project yourself (it looks like you might be using tsc)? Do you know if firebase deploy is also trying to build the project (and whether it is using the

[2018-09-05 00:09] tafsiri commented on #664
Thanks for the report @brannondorsey. @caisq could you take a look at this and give your thoughts on whether the issue may be in stateful RNN?

[2018-09-05 00:15] tafsiri commented on #635
@MariasStory you might want to try the mailing list (https://groups.google.com/a/tensorflow.org/forum/#!forum/tfjs) to see if anybody else is working on something similar. Else I don't think we have any particular plans to work on it.

[2018-09-05 00:15] #635 closed

[2018-09-05 01:34] caisq opened #677 "Missing gradient: tf.max and tf.min"
To get help from the community, check out our [Google group](https://groups.google.com/a/tensorflow.org/forum/#!forum/tfjs).

#### TensorFlow.js version
0.12.7

#### Browser version
Doesn't matter

#### Describe the problem or feature request
tf.max() doesn't have a gradient defined. See code in tfjs-core:
https://github.com/tensorflow/tfjs-core/blob/master/src/ops/reduction_ops.ts#L283

[2018-09-05 01:34] caisq commented on #677
cc @dsmilkov @nsthorat

[2018-09-05 04:44] MoonsuCha commented on #672
@tafsiri Thanks for reply. It is my operating system and browser. My hardware uses the GTX 1070 graphic card for webgl.
- Chrome ![20180905_133331_1](https://user-images.githubusercontent.com/8610430/45071315-9019c080-b110-11e8-8b30-24b7551de002.png)
- Firefox ![20180905_134201_2](https://user-images.githubusercontent.com/8610430/45071499-86448d00-b111-11e8-81a7-442bbd6554d7.png)

[2018-09-05 06:29] radi-cho commented on #666
Hi, @tafsiri
The log is produced while deploying the functions. - `firebase deploy`
I see it runs some scripts before pushing the code to the cloud:
[code]
And those scripts are defined in the `package.json`:
[code]

I also tried to switch to plain Javascript configuration:
![image](https://user-images.githubusercontent.com/12954909/45074873-ca259b00-b0ed-11e8-8de1-20820b4f0beb.png)

After rewriti

[2018-09-05 11:22] ran-j opened #678 "Help Build neural network DOC"
#### TensorFlow.js version
    "@tensorflow/tfjs": "^0.12.6",
    "@tensorflow/tfjs-core": "^0.12.15",
    "@tensorflow/tfjs-node": "^0.1.14",

Im building a chatbot with tensorflow JS and NodeJS and I need a light.

Whats is the best acactivation for my layers and optimizer and loss ??

I have the follow:

[code]

[code]

I reed the Docs and dont find a good explication for those configs

[2018-09-05 13:26] bileschi commented on #678
Hi @ran-j ,  Without knowing much more about your specific data and application, it will be impossible for anyone here to give quality advice.  These parameters are much more art than science.  I recommend you begin with a working existing model such as the sentiment analysis model, and use those defaults while slowly mutating the code to use your data and task.

https://github.com/tensorflow/tfjs

[2018-09-05 13:26] #678 closed

[2018-09-05 14:17] dsmilkov opened #679 "Make "tfjs" (union) a true dependency of tfjs-node"
In tfjs-node, we use peer dependency to tfjs-core, because the original motivation was to avoid duplicate dependencies when bundling for the browser.

However peer dependencies force the user to explicitly specify and depend on a version of tfjs-core, which may not be compatible with a version of tfjs-node. See https://github.com/tensorflow/tfjs/issues/560 for details.

Since in node the bundle si

[2018-09-05 14:46] tafsiri opened #680 "Documentation of metrics for tf.layers models"
I think we can improve the documentation for metrics used in calls to model.compile and how they relate to what one might see in a fit callback. I've recently been trying them out and found a few challenges

- Knowing what the available metrics are, the docs for [compile](https://js.tensorflow.org/api/latest/#tf.Model.compile) only mention 'accuracy'. Knowing what other ones are available would be

[2018-09-05 15:12] tafsiri commented on #672
Thanks, I still can't reproduce and since I can't fully understand the memory allocation results in the screenshot you posted. I have another suggestion to help determine if there is a memory leak or something else is going on. It involves adding two lines of code to `camera.js` and then re-running the demo.

Below line 17 (`import * as posenet from '@tensorflow-models/posenet';`) add:

[code]

An

[2018-09-05 15:17] tafsiri commented on #415
Closing since tensorflow/tfjs-core#978 has been merged.

[2018-09-05 15:17] #415 closed

[2018-09-05 17:50] caisq opened #681 "TimeDistributed Layer doesn't handle step output from Model/Sequential objects"
To get help from the community, check out our [Google group](https://groups.google.com/a/tensorflow.org/forum/#!forum/tfjs).

#### TensorFlow.js version
0.12.6

[2018-09-05 18:40] #679 closed

[2018-09-05 23:33] dsmilkov opened #682 "Protect against NaN inputs"
Occasionally users pass invalid shapes/inputs and we should throw an error as soon as possible. See [discussion](https://groups.google.com/a/tensorflow.org/forum/?utm_medium=email&utm_source=footer#!msg/tfjs/jYnkjCx7XLE/bLXbsU10BQAJ) for context.

[2018-09-06 02:58] MoonsuCha commented on #672
@tafsiri I tried to your suggestions on 0.12.3 and 0.12.4. It was not occurred the memory overallocation on tf.memory() function ouput, but my system memory reached the full memory. The difference between 0.12.3 and 0.12.4 is gpu numbytes. 0.12.4 version suddenly decreased 0 numbytes on gpu. Is there on association of nvidia-driver or hardware??

0. nvidia spec
![20180906_115713_3](https://user-im

[2018-09-06 06:32] pvaneck commented on #665
Hey guys. I investigated this a bit, and tracked it down to just be a small initialization error in the GLSL code.

[2018-09-06 10:58] forgetableDr opened #683 "Trouble with optimizers in sequential"
tfjs: 0.12.6
tfjs-core: 0.12.15
tfjs-node: 0.1.14
NodeJS latest (10.x)

Hello. everything is ok when you're using this:
`model.compile({ optimizer: 'adadelta', loss: 'meanSquaredError' })`
But adadelta this way has learning rate equal to 1 and I want to change learning rate and other params easliy.
When I try
`model.compile({ optimizer: tf.train.adadelta(.001), loss: 'meanSquaredError' })`
it give

[2018-09-06 13:01] forgetableDr commented on #683
Fixed it for now by adding opportunity to drop "optimizer" key and to add "optimizerInstance" key which binds the necessary optimizer in the training.js.

`
if (typeof config.optimizer === 'string' || config.optimizerInstance) {
    this.optimizer = config.optimizerInstance || optimizers.getOptimizer(config.optimizer)
}`

[2018-09-06 13:32] rumschuettel opened #684 "ValueError: Unsupported Ops in the model before optimization LogSoftmax"
Hi, I'm trying to convert a .pb file using
[code]
and get an error
[code]

tensorflow.js version
[code]

Is that operation not satisfied? Any way I could add it?
Thanks a lot!
/ J

[2018-09-06 13:37] forgetableDr commented on #683
So, I noticed that tf.train.adadelta() is an instance of the tf.Optimizer. But it is not an instance of the tfjs_core_1.Optimizer which is loading using this
`var tfjs_core_1 = require("@tensorflow/tfjs-core");`
Is this a bug or version shift? Thanks.

[2018-09-06 15:04] tafsiri commented on #672
@MoonsuCha Thanks this gives us an idea of what could be the cause (paging). Could you add the following lines to camera.js at around line 24 (after the imports):

[code]

Could you paste the output you get from that here? It should be at the top of the console

If that paging threshold is too low for an activation it could cause the problem you are seeing (and provide some data for us to fix it).

[2018-09-06 15:08] tafsiri commented on #683
I think the issue could be because of a mismatch in the dependency of tfjs and tfjs-core. Do you have an explicit dependency on both in your package.json? If so I would remove the tfjs-core one. "tfjs" and "tfjs-node" should be sufficient.

[2018-09-06 15:16] davidsoergel opened #1013 "Provide easier syntax to extract values from DataElements"
This is a bit of a pain:

[code]

[2018-09-06 17:18] johhnry opened #685 "Polynomial regression : parameter isn't updating"
To get help from the community, check out our [Google group](https://groups.google.com/a/tensorflow.org/forum/#!forum/tfjs).

#### TensorFlow.js version
0.12.5
#### Browser version
Google Chrome v68.0.3440.106
#### Describe the problem or feature request
Hey guys,

I am doing a really simple polynomial regression (inspired from this tutorial : https://www.youtube.com/watch?v=tIXDik5SGsI) and I hav

[2018-09-06 18:43] #681 closed

[2018-09-06 19:02] #677 closed

[2018-09-06 23:31] tafsiri commented on #685
@johhnry I believe the issue is that in your `predict` function you are passing three arguments to `tf.add` when it expects only two. The third argument, c is ignored.

Try

[code]

[2018-09-07 05:32] li-yinan opened #686 "how to work with tensorboard?"
Is there any plan to support tf.summary?

[2018-09-07 06:49] radi-cho commented on #666
@tafsiri I finally understood the problem. In cloud functions the `tfjs-node` package is not supported - explained in [this stackoverflow question](https://stackoverflow.com/questions/52131457/nodejs-compile-shared-cpp-libraries-in-gcp-cloud-functions) and when this module is missing the browser stuff is not removed.

I'm not sure how time will be needed to get support for cloud environment, that'

[2018-09-07 06:49] #666 closed

[2018-09-07 09:13] johhnry commented on #685
@tafsiri Thank you so much for your answer.
What a bad mistake, I'll be more careful about this in the future.

Have a nice day !

[2018-09-07 09:14] #685 closed

[2018-09-07 10:56] tehsenaus commented on #672
I encountered the same issue when running a model on mobile devices. It turns out it's easy to reproduce on a PC if you use a small screen width, which triggers paging.

[2018-09-08 03:59] pyu10055 commented on #684
@rumschuettel It would be great f you would like to contribute, please refer to this issue for guidance.
tensorflow/tfjs#624

[2018-09-08 17:46] caisq commented on #686
cc @tafsiri @nkreeger

[2018-09-08 21:00] hpssjellis opened #688 "Feature Request: Add JSON output for model.getWeights() so it can be saved then loaded by model.setWeights()"
#### TensorFlow.js version:  0.12.6

#### Browser version:    68.0.3440.106

#### Describe the problem or feature request

Presently there does not seem to be a sensible way to send, in Text, JSON or binary format, the layers weights and bias information from the array of tensors produced by model.getWeights() to another computer and load that information using model.setWeights().

Presently the o

[2018-09-09 03:39] MoonsuCha commented on #672
@tafsiri Your solution fix the problem. It currently works well on latest version (0.12.4 ~ latest).  I thinks that this problem related to the line 117 "const BEFORE_PAGING_CONSTANT = 300;" from "backend_webgl.ts"@tfjs-core. Depending on the gpu device, this heuristic variable value should be changed.  Thank you so much.

[2018-09-10 04:29] sinoforever commented on #112
Could you expand the implementation of dot to mirror that of tf.tensordot or even implement tf.einsum from tensorflow? Currently dot only support 1d and 2d tensors. There was tensorflow/tfjs-layers#305, but it is for the layers API and follows Theano convention, which is not as easy to use as tensorflow's. Many thanks.

[2018-09-10 13:05] narensprinter opened #689 "Requested texture size 4800*4736 greater than webGL maximum on this browser 4096 * 4096"
I'm getting this error on "**Requested texture size 4800*4736 greater than webGL maximum on this browser 4096 * 4096**" while checking tfjs on mobile browser

[2018-09-10 13:32] brannondorsey commented on #664
Any thoughts on this?

[2018-09-10 15:48] husseinabed commented on #667
thank's for your response .
i tried before building the project with windows and "tfjs" gave me a couple of warning messages
1. it could not find the document
2. it could not find a gpu
now im trying  with linux is givien me this error
![357705c5-121e-497c-b084-02b6b2041170](https://user-images.githubusercontent.com/29628342/45308411-13c91800-b52a-11e8-9549-740fad0795fc.jpeg)

[2018-09-10 18:26] #290 closed

[2018-09-10 18:39] caisq opened #690 "Loading of layer/model should skip weights initialization if the weights will be loaded immediately after"
#### TensorFlow.js version
0.12.7

The main motivation of this FR is to speed up the loading of RNN layers, which use the orthogonal initializer by default. The orthogonal initializer is slow in TensorFlow.js, due to the implementation of Gram-Schmidt.

When loading a model consisting of RNN layers together with the weights, there is no point in running the random orthogonal initializer because th

[2018-09-10 18:59] tafsiri commented on #667
Yeah we don't support react native right now so you might be able to get it to work with the cpu backend (i.e. `setBackend('cpu')`), but we can't make any guarantees. It maybe something we look into more in future but don't have any active work in that area going on.

[2018-09-10 22:57] thekevinscott opened #692 "TFJS Converter unsupported Ops"
#### TensorFlow.js version
`0.5.7` (This is the version installed via `pip`; [tfjs-converter's version is `0.5.9`](https://github.com/tensorflow/tfjs-converter/blob/master/package.json))

#### Browser version
N/A

#### Describe the problem or feature request
`tensorflowjs_converter` reports unsupported ops

#### Code to reproduce the bug / link to feature request
https://colab.research.google.com/

[2018-09-11 11:14] forgetableDr commented on #683
Yeah. I have updated tfjs-node@latest and tfjs@latest and removed tfjs-core and the problem is gone now. Thanks!

[2018-09-11 11:14] #683 closed

[2018-09-11 11:49] husseinabed commented on #667
@tafsiri  i will try to set the backend to cpu i'm also trying some work around with webview i added a node prosessor to the app package and tried to include the tfjs-node and that did not work so currntly i'm trying to stream camera to the node then from the node i stream the base64 that im getting from the camera to the webview and all the tfjs proccessing will be inside the webview finger crose

[2018-09-11 13:41] talvasconcelos commented on #548
Any updates on this? Can't seem to install tfjs-node on windows...

[2018-09-11 14:40] nkreeger commented on #548
@talvasconcelos Can you post the exception here? Node-gyp requires Python 2.7 FYI. We have CUDA and CPU available now.

[2018-09-11 14:45] annxingyuan opened #693 "Packed matMul should support 3D inputs"
Currently, we only use packed `matMul` path when the input tensor batch dimensions equal 1, and the physical dimensions of the output of packed `matMul` match its logical dimensions. We should add support for 3D inputs.

### Implementation notes

We could start by supporting 3D tensors only when we can make the following assumption about how they're laid out:

`physicalTextureShape` equals `[Math.

[2018-09-11 14:59] talvasconcelos commented on #548
from log file:
693 verbose stack Error: @tensorflow/tfjs-node@0.1.15 install: `node scripts/install.js`
693 verbose stack Exit status 1
693 verbose stack     at EventEmitter.<anonymous> (C:\Program Files\nodejs\node_modules\npm\node_modules\npm-lifecycle\index.js:301:16)
693 verbose stack     at EventEmitter.emit (events.js:182:13)
693 verbose stack     at ChildProcess.<anonymous> (C:\Program File

[2018-09-11 17:15] nkreeger commented on #548
[code]

Python 3.xx is not supported by node-gyp which is required to build the TensorFlow.js bindings. The node-gyp README has some options that might work for you:
https://github.com/nodejs/node-gyp/blob/master/README.md

[2018-09-11 17:27] nkreeger commented on #686
It's something we've been thinking about - but we don't have concrete plans. TFX announced a few exiting projects yesterday https://twitter.com/TensorFlow/status/1039244472050180096 and we'll probably sync with them + tensorboard integration for a TFJS solution.

For now, we recommend rolling your own graphs and we have some examples using vega-lite. For example, here in the iris training example:

[2018-09-11 17:28] nkreeger commented on #622
Should fallback to CPU ops now.

[2018-09-11 17:29] caisq commented on #686
I just want to add that when https://github.com/tensorflow/tfjs/issues/631 lands, users will get a progress-bar logger when tf.Models are training in tfjs-node or tfjs-node-gpu, by default. Then users will be able to at least see the progress, the loss and metric values and measures of training speed in the console.

[2018-09-11 18:41] annxingyuan opened #694 "Packed matMul should work even when we can't render to floating point textures"
Currently, we only turn on packed matMul when `WEBGL_RENDER_FLOAT32_ENABLED` is true.

[2018-09-11 18:46] annxingyuan opened #695 "Packed matMul should work for all inputs regardless of their dimensions"
- Textures need to be uploaded to respect the constraint that only values from the same two rows / columns are in any particular texel.
- `mulmat_packed_gpu` needs to use logical samplers rather than `texture2D`

[2018-09-11 20:50] annxingyuan opened #696 "Experiment with using 2x gl viewport size to avoid using fragments along triangular seams"
GPU can easily clip the unused quadrants.

[2018-09-12 09:03] loretoparisi commented on #692
@caisq I'm adding to the unsupported operations: **ReverseSequence**, **Prod**, **ListDiff**, **BatchMatMul**

[code]

[2018-09-12 13:49] annxingyuan commented on #564
I'm gonna consider this issue resolved by the https://github.com/tensorflow/tfjs-core/pull/1249 PR. Some of the ideas covered in the description have been pulled out into individual issues within the packing milestone: https://github.com/tensorflow/tfjs/milestone/1

But feel free to reopen if I missed something.

[2018-09-12 13:49] #564 closed

[2018-09-12 14:52] ashbeats commented on #559
you can set the env value before running the script.

Disables TF's C++ logs: `TF_CPP_MIN_LOG_LEVEL=2`

If you're running node, then you might have another warning for n-api.

To disable that,
`node --no-warnings scriptname.js`

[2018-09-12 18:30] yhwang commented on #640
@caisq  @pyu10055 our team would like to volunteer to implement it and may need your help for suggestion/comment later. Are you okay that we work on this?

[2018-09-12 19:39] annxingyuan opened #698 "Have all ops work with packed inputs"
At the `shaderCompiler` level, repeat the work of each op over its four output channels.

Identify some ops that commonly follow matmul that would be easy to pack, then lazily unpack.

[2018-09-12 19:40] caisq commented on #640
@yhwang I don't have objections to this. @pyu10055 your toughts?

[2018-09-13 16:08] tafsiri commented on #667
@husseinabed All the best, feel free to email the mailing list if you find a working setup with react native. To your second question, [tf.fromPixels](https://js.tensorflow.org/api/latest/#fromPixels) does not take base64.

Going to close this for now.

[2018-09-13 16:08] #667 closed

[2018-09-13 16:12] tafsiri opened #699 "Increase BEFORE_PAGING_CONSTANT and enable users to disable paging"
See https://github.com/tensorflow/tfjs/issues/672 for context.

We should increase our constant that sets the paging threshold and probably also allow users to override it or disable it. Another idea I discussed with @nsthorat would be whether we could detect that a single tensor was larger than this threshold and disable paging if that occurs.

[2018-09-13 16:12] tafsiri commented on #672
@MoonsuCha Made another issue to track the fix. Thanks for reporting this!

[2018-09-13 18:46] brannondorsey commented on #664
I've made a new branch called [`tfjs-issue-664`](https://github.com/brangerbriz/twitter-transfer-learning/tree/tfjs-issue-664) in the `twitter-transfer-learning` repository mentioned in the original issue. I've also updated all links in this issue to point to commits in the git tree so that they will be preserved as new commits are added to the repository's `master` branch.

[2018-09-13 18:49] caisq commented on #664
@brannondorsey FYI, it is on my TODO list to look at this. But because of my schedule, the effort will be delay for 1-2 weeks. Thanks for your understanding.

[2018-09-13 18:53] brannondorsey commented on #664
@caisq, gotcha, thanks for the update. Please let me know if you have any questions or would like any further information from me.

[2018-09-14 00:35] soaxelbrooke commented on #409
To echo this, it was quite hard to figure out "okay now how do I get the prediction results".

[2018-09-14 23:34] smith-kyle commented on #545
Any update on this? My team may have to migrate our tests from jest to mocha if not 😅

[2018-09-15 15:37] Mohammed-Shoaib commented on #183
I am having the same issue.
Loading the file loads the index.html file instead of the model.json file when the path is specified locally. I am using the React framework at the moment and did not find problems loading the model outside react,

[2018-09-16 18:52] soaxelbrooke commented on #410
I found that my problem was `@tensorflow/tfjs-node@0.1.17` - I downgraded to `0.1.7` and things worked.

It appears tfjs was never resolving via the local file system, and constantly wanted to use fetch to get model assets.

[2018-09-17 01:11] tehZevo commented on #539
Been looking for a way to cleanly batch-matmul, thanks so much for this!

[2018-09-17 07:42] DimaRomaniuk commented on #311
Hi @dsmilkov @Melvin-Abraham the same result with flag ?tfjsflags=WEBGL_VERSION:1
![image](https://user-images.githubusercontent.com/39365936/45610837-0ea62480-ba66-11e8-93aa-a7906935543a.png)
![image](https://user-images.githubusercontent.com/39365936/45610861-21b8f480-ba66-11e8-907a-8c8c0a83e029.png)

[2018-09-17 08:12] loretoparisi commented on #539
just to add that `BatchMatMul` is fundamental to support layers for GRU, seq2seq, transformers, etc!

[2018-09-17 13:36] nsthorat commented on #311
It looks like you are on a very old version of tfjs, can you update to 0.13.0?

[2018-09-17 16:02] Arvinds-ds opened #701 "Ops in tf.feature_columns not supported"
On models using the `tf.feature_columns`, many of ops are not supported in the latest version

`StringToHashBucketFast, AsString, GatherNd, SparseToDense`

Request support for `tf.feature_columns` ops.

[2018-09-17 17:00] Melvin-Abraham commented on #311
Thanks @nsthorat for pointing the use of old version of **tensorflow.js**. The issue seems to be solved in `tfjs v0.13.0` for me...

![tfjs_clip_codepen](https://user-images.githubusercontent.com/26056183/45637809-0501d880-bac9-11e8-9ff3-18fe7deca0e4.png)

[2018-09-17 18:40] bileschi commented on #701
Also blocked by lack of string support : https://github.com/tensorflow/tfjs/issues/454

[2018-09-17 23:25] #624 closed, assigned to pyu10055

[2018-09-18 02:57] rohitvisionaries777 opened #704 "pip install tensorflowjs error"
I'm getting an error while install tensorflowjs so I can convert keras models to tensorflowjs. In specific,

Collecting tensorflow==1.10.1 (from tensorflowjs)
Could not find a version that satisfies the requirement tensorflow==1.10.1 (from tensorflowjs) (from versions: 1.2.0rc2, 1.2.0, 1.2.1, 1.3.0rc0, 1.3.0rc1, 1.3.0rc2, 1.3.0, 1.4.0rc0, 1.4.0rc1, 1.4.0, 1.5.0rc0, 1.5.0rc1, 1.5.0, 1.5.1, 1.6.0rc0

[2018-09-18 14:52] bileschi commented on #704
It looks like tensorflow 1.10.1 is referenced from tfjs-converter, but the package should exist.

https://pypi.org/project/tensorflow/ indicates that 1.10.1 exists and is available

Can you try upgrading pip?

[code]

[2018-09-18 15:48] vmarkovtsev opened #705 "tf.layers.embedding should check out-of-range values"
#### TensorFlow.js version
0.12.6

#### Browser version
N/A - Node 10.9

#### Describe the problem or feature request
I create a constant identity embedding:

[code]

If I feed it a value greater than or equal to N, there is no warning, no error and otherwise notice that something goes wrong. The upstream network gets NaNs and does not train however, which is **very** painful to debug.

Compare th

[2018-09-18 20:32] hpssjellis opened #706 "Feature Request: More well trained model.json files on googleapis storage, organized somehow"
Presently googleapis [https://storage.googleapis.com/tfjs-models/](https://storage.googleapis.com/tfjs-models/) has several frozen and regular models saved.

Is there a webpage somewhere that shows information about the models such as training accuracy, input and output shape etc?

I made a codepen that helps with some of that information [here](https://codepen.io/rocksetta/pen/MqqgXy)

I think lo

[2018-09-19 02:01] rohitvisionaries777 commented on #704
My pip is upto date.

pip install --upgrade pip
Requirement already up-to-date: pip in c:\users\rohit\anaconda3\envs\tensorflow-js\lib\site-packages (18.0)

[2018-09-19 08:11] Panepo opened #707 "The prediction results from keras and tfjs are different"
#### TensorFlow.js version
0.13.0
#### Browser version
Chrome 69.0.3497.100
#### Describe the problem or feature request
Hi there,

I am trying to build a image super resolution app by using keras and tfjs. The tfjs model is converted from keras model via tfjs-converter. The app works well if the width and height of input image are the same, but fails if not.

Then I try to reproduce the bug on ke

[2018-09-19 09:05] vmarkovtsev opened #708 ""cpu backend was already registered" during import/require tfjs + tfjs-node-gpu"
#### TensorFlow.js version
0.13.0
tfjs-node-gpu 0.1.17

#### Browser version
N/A - Node 10.10

#### Describe the problem or feature request
[code]

*or*

[code]

print the warning:

[code]

It's very minor ofc but damn annoys much.

[2018-09-19 09:23] vmarkovtsev opened #709 "OOM on GPU with Node and tiny model"
#### TensorFlow.js version
0.13.0
tfjs-node-gpu 0.1.17

#### Browser version
N/A - Node 10.10

#### Describe the problem or feature request
I build and fit an LSTM model (code is attached below):

[code]
The required memory is thus less than 100MB. The call to `fit()` explodes with OOM: **[log.gz](https://github.com/tensorflow/tfjs/files/2396354/oom.txt.gz)**.
Exactly the same Python code (also at

[2018-09-19 11:49] bileschi commented on #704
Does it work if you try to pip install tensorflow directly?  What version
do you get?   Are you using a virtual environment?

On Tue, Sep 18, 2018 at 10:01 PM, rohitvisionaries777 <
notifications@github.com> wrote:

--
Stan Bileschi Ph.D.  |   SWE  |  bileschi@google.com |  617-230-8081

[2018-09-19 12:57] manrajgrover opened #710 "`useDocsFrom`doesn't work for metrics in tfjs-layers"
To get help from the community, check out our [Google group](https://groups.google.com/a/tensorflow.org/forum/#!forum/tfjs).

#### TensorFlow.js version
0.13.0

#### Browser version
NA

#### Describe the problem or feature request
TensorFlow API Documentation doesn't generate docs for `metrics` namespace. Looks like `useDocsFrom` is being ignored.

#### Code to reproduce the bug / link to feature

[2018-09-19 13:48] bileschi commented on #709
Thanks for the report.  It sounds like tensors are getting leaked.  @nkreeger Given that this is running in node, can you take a look?

[2018-09-19 13:53] bileschi commented on #707
Hi Panepo,

Can you share a bit of your code to show how to reproduce the problem?

Thanks.

[2018-09-19 16:26] JonasJW opened #711 "Error when installing @tensorflow/tfjs-node"
To get help from the community, check out our [Google group](https://groups.google.com/a/tensorflow.org/forum/#!forum/tfjs).

#### TensorFlow.js version

#### Browser version
-
#### Describe the problem or feature request

Error when installing `@tensorflow/tfjs-node``

I get this Error:

`Error: node-gyp rebuild failed with: Error: Command failed: node-gyp rebuild
Traceback (most recent call last

[2018-09-19 16:42] nkreeger commented on #708
Any chance you are double-importing `@tensorflow/tfjs`?

https://github.com/tensorflow/tfjs-examples/blob/master/mnist-node/main.js#L18

If you perform any operations on `tfjs` before importing `tfjsn-node` you might hit this problem.

[2018-09-19 18:12] vmarkovtsev commented on #708
@nkreeger nope, I run exactly those two lines in Node. Nothing else.

[2018-09-19 18:38] nkreeger commented on #708
Can you post the entire output from node? I wonder if the GPU bindings are failing to load.

[2018-09-19 18:38] nkreeger commented on #708
Also can you provide more details - which OS / device / etc?

[2018-09-19 19:09] vmarkovtsev commented on #708
GPU bindings load successfully. My device is described in https://github.com/tensorflow/tfjs/issues/709 (output from `nvidia-smi`). Logs are also taken from #709
:
[code]

System:

[code]

[2018-09-19 21:17] Kalevera opened #712 "Model.save does not save inout shape if initial layer is created as variable and input shape created as the.input"
To get help from the community, check out our [Google group](https://groups.google.com/a/tensorflow.org/forum/#!forum/tfjs).

#### TensorFlow.js version

Version 13.0.0

#### Browser version

Chrome 68.0.344.106 (official build) 64bit
#### Describe the problem or feature request

When saving a sequential model using model.save('string');

The initial layer is not saved correctly for retrieval when

[2018-09-20 00:35] rtheone commented on #704
This probably has to do with the fact that Tensorflow 1.10.1 doesn't have [any wheels for Windows](https://pypi.org/project/tensorflow/1.10.1/#files).

Relevant notes from the [**1.10.1** release](https://github.com/tensorflow/tensorflow/releases/tag/v1.10.1):

* `tf.keras`:
    * Fixing keras on Cloud TPUs. No new binaries will be built for Windows.

You could try building [1.10.1 with Bazel](htt

[2018-09-20 05:58] caisq commented on #711
cc @nkreeger @kangyizhang

Can you take a look?

[2018-09-20 06:01] caisq commented on #704
cc @angersson @yifeif (tensorflow release contacts) This issue in tensorflowjs seem to be caused by a missing windows wheels for tensorflow v1.10.1. Any idea why this is the case?

[2018-09-20 06:10] Panepo commented on #707
Hi @bileschi ,

Nevermind. The problem comes from my image spliting function since WebGL will lose context if the input image is too large.
Thanks

[2018-09-20 06:10] #707 closed

[2018-09-20 13:09] annxingyuan opened #713 "Mobilenet v2 on linux has significantly slower second inference times on v13 compared to v12.7"
On @pyu10055's linux machine, mobilenet v2 is 200ms for TFJS v13.0, but 30ms for TFJS v12.7. The difference between the two versions is packed matmul, and Daniel's change to send pointwise conv to matmul.

[2018-09-20 13:47] annxingyuan opened #714 "Pack conv"
Pack textures into blocks of 2x2, so each texel is guaranteed to only have values from the same pairs of inner two dimensions, and same outer dimensions. So, for example, to pack a 3D tensor with shape [2, 3, 2], we would never put a value from [0, :, :] with a value from [1, :, :] in the same texel. This helps ensure that though each fragment shader is computing 4 outputs, each fragment shader wi

[2018-09-20 13:53] annxingyuan opened #715 "Benchmark im2row for convolutions"
Create basic implementation and compare to packed convolutions - it might be worth building this first.

[2018-09-20 13:54] annxingyuan opened #716 "Investigate compute shaders"
https://github.com/KhronosGroup/WebGL/pull/2707

[2018-09-20 18:41] DominicKramer opened #717 "Problems using Number.MAX_SAFE_INTEGER"
It seems to not be possible in `@tensorflow/tfjs-core` to create a scalar from `Number.MAX_SAFE_INTEGER`.  Below is the contents from a Node REPL session:
[code]
and using `@tensorflow/tfjs-node`:
[code]

[2018-09-20 21:16] kangyizhang commented on #711
Hi @JonasJW ,

This error is because the directory you are using (/Users/jonas/Web Dev/NodeJS/RestAPITest) has a space in the path (within "Web Dev"), as listed in the error logs, "Spaces in action input filenames not supported" by node-gyp binding tool.

Could you please rename the directory or move it to another directory and try again?

Thanks,
Kangyi

[2018-09-20 21:22] annxingyuan opened #718 "Zooming Chrome window to 150% mysteriously improves performance on segmentation model"
@pyu10055 discovered that by zooming his Chrome tab in to 150% the segmentation model (link here: https://github.com/tensorflow/models/blob/master/research/deeplab/g3doc/model_zoo.md) performance goes from 10s / inference to 500ms. We should try to understand why this occurs.

[2018-09-20 22:04] nsthorat opened #719 "Aggressively dispose tensors in the model converter graph executors."
Right now we don't aggressively dispose intermediate activations in the converter, we only dispose the tensors at the end.

We should be aggressive about cleaning up activations to reduce the memory footprint of the model. For all activations, when all the consumers of that activations have executed, dispose the activation.

We noticed this in a model that had a huge memory footprint and caused LR

[2018-09-20 22:21] #718 closed, assigned to annxingyuan

[2018-09-20 22:25] annxingyuan opened #720 "Texture upload / download times from paging should not be included in op profiles"
With debug mode turned on, reported op performance includes time spent uploading / downloading textures from paging. Upload / download times should be logged separately.

[2018-09-21 09:29] Maveyyl opened #721 "tf.div presumably using too much memory space and leaking memory"
#### TensorFlow.js version
0.13.0

#### Browser version
Google Chrome  69.0.3497.100  64 bits

#### Describe the problem or feature request
I am trying to load MNIST training images dataset.

The raw data is constituted of 47 040 000 (60 000 * 28 * 28) integers representing grey scale values between 0 and 255. My goal is to reshape this into a 4D tensor (60k * 28 * 28 * 1) and scale the values bet

[2018-09-21 12:54] annxingyuan opened #722 "tf.profile should also return byte usage as observed by the texture manager"
The TextureManager keeps track of the status of each texture, and therefore has a truer record of byte usage than the engine, because even though we call `dispose` on tensors, they might still be sitting around, which means the real memory footprint could be larger than what the engine thinks.

We should derive byte usage from the TextureManager's record of textures, and report that back in `tf.pr

[2018-09-21 17:53] JonasJW commented on #711
Thank you so much @kangyizhang. That was it. Also thank you @caisq.

[2018-09-21 17:53] #711 closed

[2018-09-21 20:29] JonasJW opened #723 "Saving Model on Node: Cannot find any save handlers"
To get help from the community, check out our [Google group](https://groups.google.com/a/tensorflow.org/forum/#!forum/tfjs).

#### TensorFlow.js version
tfjs: 0.13.0
tfjs-node: 0.1.17
node-version: v8.11.2

#### Browser version
Run with node, so no browser involved

#### Describe the problem or feature request

I'm trying to save my model like this: `const save = await model.save('file:///tmp/my-m

[2018-09-22 14:09] caisq commented on #723
@JonasJW This minimal code below works for me, maybe you can try it out:

package.json:
[code]

model-save.js:
[code]

Run model-save.js with `node model-save.js`

[2018-09-22 14:19] caisq commented on #709
@vmarkovtsev Can you show the js code you used to construct the model? Or can you dump the model JSON using `model.toJSON()`?

[2018-09-22 16:16] vmarkovtsev commented on #709
@caisq the code is already attached to the starting post.

[2018-09-22 17:47] JonasJW commented on #723
For some reason my `@tensorflow` package was messed up. I had a the main tfjs api nested inside my  tfjs-node folder. I had to delete the package and reinstall it. Now the Code works. Thank you for the great support! You guys are really doing a good job with this project.

[2018-09-22 17:47] #723 closed

[2018-09-22 20:53] jtoy commented on #477
I have run into the same issue.

[2018-09-23 00:56] hpssjellis commented on #706
So I answered the first part of my question:

The place to look is: [TensorflowHub](https://www.tensorflow.org/hub/)

but as far as I can tell these models can only be converted to web friendly frozen format by the [converter](https://github.com/tensorflow/tfjs-converter). As far as I know this format can't be edited, retrained or changed in any way.

Can someone  ( perhaps @caisq or @nsthorat  )

[2018-09-23 17:07] florian02100 opened #724 "How to get weights matrix ?"
Hello ,

I've problem with Tensorflow js. How to get weight matrix after training ?
I need to get weight matrix because  i used SVD to reduce weight matrix and to accelerate the training.

Thank you in advance.
Florian

[2018-09-23 18:43] sandromario commented on #605
I am running into the same error with a model (custom-built using ONNX) which does have control flow ops. I hope there will be a fix.

[2018-09-23 18:51] sandromario commented on #605
PS: This problem does not appear if an intermediate node is specified as the output node manually. However, what I want to get is the results for the output nodes (here: 3) specified by the model.

[2018-09-24 03:30] caisq commented on #724
`Model` and `Layer` objects have the `getWeights()` method, which returns an array of Tensor values.

[2018-09-24 03:30] #724 closed

[2018-09-24 07:53] #549 closed

[2018-09-24 08:00] KimYoungBo opened #725 "May be bug"
To get help from the community, check out our [Google group](https://groups.google.com/a/tensorflow.org/forum/#!forum/tfjs).

#### TensorFlow.js version
0.12.7
#### Browser version
69.0.3497.100
#### Describe the problem or feature request

#### Code to reproduce the bug / link to feature request
function train(){
  const varWeight = tf.variable(tf.randomNormal([1], 0, 1, 'float32', 100), true, 'w

[2018-09-24 11:05] DavidGOrtega opened #726 "Resources to Write Custom Layers"
Hi,

I'm deploying several models in tfjs however I'm missing a few layers, more than I was expecting ;P
I have experience writing GL shaders and glsl and writting caffe layers. However I'm missing how to start here.

I would love to find resources on how to write them AND how to make my python converter aware of them before you accept the PR (I'm pretty hurried)

Currently my top needed  layers a

[2018-09-24 14:03] aiboy commented on #708
Any news on this one? Need any help? Have exactly same problem on Mac

[2018-09-24 14:08] nkreeger commented on #708
We need to update docs - we changed `@tensorflow/tfjs` from a peer dependency to a strict one. Please only include `@tensorflow/tfjs-node` since it ships `@tensorflow/tfjs` as well in your package.json.

[2018-09-24 14:09] nsthorat opened #727 "iOS 12 is producing NaNs for all ops."
When running snippets in the API docs, I'm getting all NaNs for ops that happen on the GPU.

[2018-09-24 14:13] vmarkovtsev commented on #708
@nkreeger How to get `tfjs` from `require('@tensorflow/tfjs-node-gpu');`?

[2018-09-24 14:16] nsthorat commented on #706
Have you seen our models repo?

https://github.com/tensorflow/tfjs-models

These are where we'll store already converted models.

TensorFlow hub models can be converted with the converter, the instructions
are in the readme of https://github.com/tensorflow/tfjs-converter

On Sat, Sep 22, 2018 at 8:56 PM Jeremy Ellis <notifications@github.com>
wrote:

[2018-09-24 14:37] RedKenrok opened #728 "Error downloading libtensorflow during `npm i --save-dev @tensorflow/tfjs-node-gpu`"
#### Versions

* cuda 9.0 Patch 4
* cudNN 7.3.0.29
* node 10.11.0
* npm 6.4.1
* python 3.6.6
* pip 18.0
* tensorflow 1.10.0
* tensorflow-gpu 1.10.0

#### Problem

I try to install `@tensorflow/tfjs-node-gpu` using the command: `npm i --save-dev @tensorflow/tfjs-node-gpu`, however during the libtensorflow download I get the error seen below.

[code]

[2018-09-24 15:42] ookami125 opened #729 "tfjs-node-gpu causes a sementation fault"
#### TensorFlow.js version
@tensorflow/tfjs-node-gpu@0.1.17
[code]

#### Describe the problem or feature request
Running tfjs-node-gpu is segfaulting on initialization.
[code]

#### Code to reproduce the bug / link to feature request
`require('@tensorflow/tfjs-node-gpu');`

I really don't know where to go from here. I can use the cpu version fine but that is undesirable in the long run. Also it do

[2018-09-24 17:45] hpssjellis commented on #706
Thanks for replying @nsthorat as far as I know the converter only makes frozen models with the .pb file extensions. I want savedModels with the .JSON extension so that I can work with them.

[https://github.com/tensorflow/tfjs-models](https://github.com/tensorflow/tfjs-models) has no saved models for others to use, but it does have a few models referenced on googleapis

So I made a  [codepen](http

[2018-09-24 17:59] nsthorat commented on #706
The JSON files only come from Keras models. SavedModels become pb files (this is actually something I want to change, but we're not there yet). @pyu10055

The tfjs-models code are all hosted there, weights are all on GCP because we don't want to bloat the repository.

[2018-09-24 18:28] hpssjellis commented on #706
@nsthorat am I correct that you can't retrain the pb files? I can't even run model.summary() with a pb file.

That is why I really like the savedModels because they give flexibility.

I also feel that a Tensorflow model could be converted into a SavedModel, since you have the shard files and weights manifest. You are just missing the model definition, which I assume the pb file has in some mixed t

[2018-09-24 18:31] nsthorat commented on #706
Correct, you cannot retrain frozen models (the ones converted from TensorFlow SavedModels and are shipped as pbs). For naming purposes, "SavedModels" are a TensorFlow python concept, there is no "Saved Model" in TensorFlow.js. If you define a model with the layers API, you will save it in the layers format (which is identical to the keras format).

I agree, the keras format is really nice because

[2018-09-24 19:08] #544 closed

[2018-09-24 20:46] kenlupo opened #730 "Posenet video example - non node"
To get help from the community, check out our [Google group](https://groups.google.com/a/tensorflow.org/forum/#!forum/tfjs).

#### TensorFlow.js version
tfjs@0.11.7

#### Browser version
Chrome 69.0.3
#### Describe the problem or feature request
Requesting more information on tfjs-models posenet example use with a video(not camera). Could you please provide a code example of output via console as

[2018-09-24 21:36] kangyizhang commented on #728
Hi Ron,

To use tfjs-node-gpu on windows, you will need to use python v2.x , cause the native addon build tool we are using (https://github.com/nodejs/node-gyp) does not support python v3.x.x

Thanks,
Kangyi

[2018-09-24 22:17] hpssjellis commented on #706
Thanks for the clarification @nsthorat. I am now working with the [tfjs-models](https://github.com/tensorflow/tfjs-models) on [cloud9](https://c9.io) and have most of them working.

These npm webpages have been very useful

[https://www.npmjs.com/package/@tensorflow-models/posenet](https://www.npmjs.com/package/@tensorflow-models/posenet)

[https://www.npmjs.com/package/@tensorflow-models/mobilene

[2018-09-25 09:26] JonasJW opened #731 "Bug in MNIST Tutorial"
To get help from the community, check out our [Google group](https://groups.google.com/a/tensorflow.org/forum/#!forum/tfjs).

#### TensorFlow.js version

#### Browser version

#### Describe the problem or feature request

In the [MNIST Tutorial ](https://github.com/tensorflow/tfjs-examples/tree/master/mnist) index.html is a selector with the options:

            <option>ConvNet with Dropout</opti

[2018-09-25 10:31] RedKenrok commented on #728
Hi Kangyi,

Seems to have worked, thank you!

Kind regards,
Ron

[2018-09-25 10:31] #728 closed

[2018-09-25 16:58] nkreeger opened #732 "Export tfjs symbols in tfjs-node and tfjs-node-gpu package."
Should be as easy as: export * from '@tensorflow/tfjs' - let's consider doing this.

[2018-09-25 18:11] caisq commented on #732
+1 That'll simplify users' import code from two lines to one line and reduce the chance of mistakes. Let's give it a try (and test it out thoroughly, needless to say).

[2018-09-25 21:22] #731 closed, assigned to nobody

[2018-09-25 22:32] pyu10055 commented on #605
@sandromario This error may occur for couple reasons:
1. The output nodes you specified does not match the model's output nodes.
2. The model execution stop before reaching the output node.

If you can share the model with me, I might be able to debug the cause for you.

[2018-09-25 22:35] dsmilkov commented on #732
+1. This makes sense now that tfjs is a regular dependency of tfjs-node.

[2018-09-26 06:44] allenwangcheng opened #734 "ValueError: Unsupported Ops in the model before optimization Prod"
To get help from the community, check out our [Google group](https://groups.google.com/a/tensorflow.org/forum/#!forum/tfjs).

#### TensorFlow.js version

#### Browser version

#### Describe the problem or feature request

#### Code to reproduce the bug / link to feature request

[2018-09-26 17:34] pyu10055 commented on #734
@allenwangcheng this op is being supported, here is the [PR](https://github.com/tensorflow/tfjs-core/pull/1279)

[2018-09-26 17:41] pyu10055 commented on #726
@DavidGOrtega sounds like you are trying to load a SavedModel built by python?
For missing ops you can following the [discussion](https://github.com/tensorflow/tfjs/issues/624) and [PR](https://github.com/tensorflow/tfjs-core/pull/1252) to implement them in tfjs-core first, then add the converter in tfjs-converter.

Let me know if you have any questions. thanks.

[2018-09-26 19:43] DavidGOrtega commented on #726
Hi, @pyu10055 thanks for the reply. Im trying to convert a model using the js converter however some layers are missing. I have seen the procedure for coreml and i would like to write my layers and make the converter aware of them. I could write them un the js Code. however the converter Will not find them.I ser that cpu is so slow that probably makes no sense for me also implementing them in cpu.

[2018-09-26 19:48] pyu10055 commented on #726
@DavidGOrtega Since you mentioned layers, I want to make sure what type of model you are trying to convert? Is it a TensorFlow SavedModel or Keras Model?

[2018-09-26 20:39] kangyizhang commented on #729
Hi @ookami125  could you please check if you have cuda successfully installed on your machine?

[2018-09-26 20:47] nicholasess opened #735 "Footer has broken website"
Hi Everyone!
I have a iPhone 5s and the footer has broken :/

If you have a website, Can I send a PR with changes :)

Thanks!

![captura de tela 2018-09-26 as 17 45 18](https://user-images.githubusercontent.com/3238901/46108293-1aa38c00-c1b4-11e8-8bcd-2fd05068f419.png)

[2018-09-26 21:28] hpssjellis commented on #706
I think I can close this issue, unless you want to keep it open. My problems with the saved files at [https://storage.googleapis.com/tfjs-models/](https://storage.googleapis.com/tfjs-models/) were my own issues with pixel normalization. All is good now.

My [demo](https://hpssjellis.github.io/beginner-tensorflowjs-examples-in-javascript/pre-trained/32-mobilenet.html) works fine now.

A summary pag

[2018-09-26 21:28] #706 closed

[2018-09-26 21:36] caisq commented on #732
Related thought: when we make this change, we should probably switch the versioning scheme of tfjs-node so that it is in sync with tfjs. For example, minor version changes in tfjs should be reflected in the minor version of tfjs-node.

[2018-09-26 21:59] sandromario commented on #605
Will do soon – could you give me an email address?
1. I haven't actually specified any output nodes at all, as suggested in the method docstring. I was expecting that the model's output nodes would then be used:

`* @param outputs output node name from the Tensorflow model, if no outputs
   * are specified, the default outputs of the model would be used. You can
   * inspect intermediate nodes of

[2018-09-26 22:33] limscoder commented on #410
I get the error even when using a local file running tfjs 13.1 and node 8.1.

[code]

[code]

[2018-09-27 02:28] kerschung opened #736 "ValueError: Unsupported Ops in the model before optimization `CropAndResize` [Converter]"
I want convert some existing model to web model format like [faster_rcnn_inception_v2_coco](https://github.com/tensorflow/models/blob/master/research/object_detection/g3doc/detection_model_zoo.md). I check the ops doc is already supported `CropAndResize`, but i still facing the error.

I am new in tensorflow. Can someone tell me where is going wrong?
Thank you!!

TensorFlow.js: 0.6.0

[code]

When

[2018-09-27 02:52] ookami125 commented on #729
does this work for you? libcuda.so does exist towards the bottom.
[code]

[2018-09-27 03:26] DavidGOrtega commented on #726
@pyu10055 they are purelly tensorflow. no keras at all.

[2018-09-27 05:08] nkreeger commented on #729
@ookami125 hrm.. Can you try one thing - you'll have to checkout the tfjs-node repo.

Please try the following:
[code]

You might need to install node-gyp (either locally or globally). This builds and runs the tfjs-node with CUDA support and runs the tests in debug mode. You'll probably hit a bad pointer or have some debug output - can you please post here? Next steps are slightly more complicated

[2018-09-27 07:02] ToonTalk opened #737 "Typo in https://github.com/tensorflow/tfjs-models/tree/master/speech-commands/README.md"
performs predicton

[2018-09-27 08:16] jscriptcoder opened #738 "Unknown layer: Dot"
Hi there,

I've seen an issue reported a while ago, https://github.com/tensorflow/tfjs/issues/218, where this "Unknown layer: Dot" was mentioned, but there was no a clear solution. Besides the error message seems to be different in my case:

"Uncaught (in promise) Error: Unknown layer: Dot. This may be due to one of the following reasons:
1. The layer is defined in Python, in which case it needs t

[2018-09-27 14:02] ookami125 commented on #729
Installed yarn
Installed node-gyp
Reinstalled node (I accidentally broke it)
Node: v8.12.0
I've also kept the host name for clarity this time around.
[code]
I've been trying to figure out why node-gyp can't find graceful-fs for about an hour now. What gets me is I even manually added it to node-modules. Excuse my ignorance I only started doing node-gyp stuff really recently so I don't know the ful

[2018-09-27 14:39] thekevinscott commented on #737
https://github.com/tensorflow/tfjs-models/pull/78/files

[2018-09-27 16:15] pyu10055 commented on #736
@kerschung Please try again using the newly released tensorflowjs pip package (0.6.1). thanks.

[2018-09-27 16:17] caisq commented on #704
FYI, as soon as the final release of tensorflow 1.11.0 comes out, we'll upgrade our dependency to that, which will resolve this problem. @pyu10055

[2018-09-27 16:31] Aryanr64x commented on #704
Until when can the new release come out.....?

[2018-09-27 16:46] nkreeger commented on #729
Sounds like your node-package is wedged. I'd recommend using NVM - https://github.com/creationix/nvm

[2018-09-27 16:56] caisq commented on #704
The TensorFlow team is trying to put 1.11.0 out asap.

Until that happens, you can manually install the latest version of tensorflow available for windows, in addition to other dependencies of tensorflowjs. Then you can install tensorflowjs using the '--no-deps' flag. E.g.,

[code]

[2018-09-27 17:11] Aryanr64x commented on #704
cool..that worked ..thanx for the help...I think this issue should be closed

[2018-09-27 17:43] ookami125 commented on #729
Okay, I guess I really screwed something up at some point. I can't even uninstall node... Could I just get the recommended OS, packages, and versions?

[2018-09-27 18:36] timbur opened #739 "Registration of backend tensorflow failed"
#### TensorFlow.js version
[code]

#### Browser version
N/A

#### Describe the problem or feature request
Following error is displayed:
[code]

I've checked the specified directory/file and it exists.

#### Code to reproduce the bug / link to feature request

I'm trying the most basic example shown here: https://js.tensorflow.org/#getting-started

I have `tfjs-node-gpu` successfully installed on W

[2018-09-27 19:55] tafsiri commented on #735
@nicholasess Thanks for reporting. website repo is here (https://github.com/tensorflow/tfjs-website) if you want to make a PR (which would be welcome)!

[2018-09-27 20:04] eram commented on #545
I found a workaround - it seems the combination of jest with tfjs-node is where this bug manifests.
I have moved the ```require("@tensorflow/tfjs-node");``` to code that does not run under jest and now the tests are passing and the app is running. Now, under jest, I get the warning ```...Looks like you are running TensorFlow.js in Node.js. To speed things up dramatically, install our node backend.

[2018-09-27 20:17] kangyizhang opened #1002 "Provide API allow user to use http request with headers in Node"
urlDataSource and urlChunkIterator accepts string and browser Request object as source in Browser env. In node it only accept string. We need to allow user use http request in node env.

[2018-09-27 20:18] kangyizhang opened #1008 "Add API to use FileSystem to get local file stream in node env"

[2018-09-27 20:59] caisq commented on #738
This is a duplicate of #218

[2018-09-27 20:59] #738 closed

[2018-09-27 21:47] nsthorat commented on #727
Good question, I don't actually know if it's just the docs, I only tried it in docs + iOS 12.

[2018-09-27 22:21] nkreeger commented on #739
tfjs-node now ships with tfjs - so you don't need to npm install @tensorflow/tfjs. Can you show me the output from the command:

`npm install @tensorflow/tfjs-node-gpu`

Make sure you have Python 2.7 on windows - 3.x is not supported with node-gyp (build tool for Node.js addons).

[2018-09-27 22:26] nkreeger opened #740 "@tensorflow-models/mobilenet does not work under Node.js"
Trying to use the `@tensorflow-models/mobilenet` package under Node.js throws the following exception:

2018-09-27 15:25:56.699190: I tensorflow/core/platform/cpu_feature_guard.cc:141] Your CPU supports instructions that this TensorFlow binary was not compiled to use: SSE4.2 AVX AVX2 FMA
(node:98265) Warning: N-API is an experimental feature and could change at any time.
(node:98265) UnhandledProm

[2018-09-28 00:36] iiredalert commented on #518
Just ran into the same issue on linux.  I guess for some reason the tfjs-node module was not registering the file:// handler.  Got around it by using the NodeFileSystem class directly.

[2018-09-28 00:46] kerschung commented on #736
@pyu10055 It works! Thank you! I close the issue.

[2018-09-28 00:46] #736 closed

[2018-09-28 01:47] sandromario commented on #605
It was indeed reason 2. Apparently the model ran into some timeout as it took to long to compute. We've now slightly changed the model architecture such that each individual step is faster. Thanks again for your help!

[2018-09-28 04:35] nkreeger commented on #729
Windows, Mac OS, and popular Linux distros are your best bet (Ubuntu, Debian, Mint, etc).

[2018-09-28 05:54] timbur commented on #739
[code]

If `npm install @tensorflow/tfjs` is no longer necessary, what is the correct require/import usage?  Is it still the following?
[code]

[2018-09-28 05:58] gowthamkumardoit commented on #704
I had the same problem @rohitvisionaries777  got. Your @caisq  solution worked for me as well. Thanks. :)

[2018-09-28 09:51] DavidGOrtega opened #741 "Windows nodejs installation seems to be missing python..."
#### TensorFlow.js version
0.13.2

#### Browser version
 Nodejs 0.1.17

#### Describe the problem or feature request
As described in docs I tried to install

[code]

[code]

I was specting some sort of wrapper over the tensorflow binaries not having yo use python at all.
So, if python its needed instructions to install Node are not in shape.

[2018-09-28 10:38] DavidGOrtega commented on #727
running on IOS over webview? its that possible?

[2018-09-28 10:40] ToonTalk opened #742 "Mismatched output shape using transfer learning with the Speech Command Recognizer"
#### TensorFlow.js version
{tfjs-core: "0.13.2", tfjs-layers: "0.8.1", tfjs-converter: "0.6.1", tfjs: "0.13.1"}

#### Browser version
Version 69.0.3497.92 (Official Build) (64-bit)

#### Describe the problem
After copying the sample code in the Transfer Learning instructions from https://github.com/tensorflow/tfjs-models/tree/master/speech-commands and running it in Chrome I get the following erro

[2018-09-28 10:42] DavidGOrtega commented on #689
WoW, Im pretty interested on this, since my laptop can't handle images above 256x256 with vgg16. And sometimes part if the output is just missed probably due to memory. What kind of net are you running over that huge image?

[2018-09-28 10:53] DavidGOrtega commented on #614
I haven't done meaurements yt since right now Im still in the process of using tfjs. However empirical work that I have done so far TF lite with model optimuzation and quantization is far superior than tfjs. Can't be compared. In example magenta pastiche takes a few seconds on lite for an HD image while in the browser under tfjs my laptop can't render completely a 256x256 image. Right now at least

[2018-09-28 10:55] DavidGOrtega commented on #611
coming from TF lite quantization its not only reducing the model size bit also making faster the inference reducing the floating point

[2018-09-28 10:56] ToonTalk commented on #742
By adding 16 more (color) collectExamples the error goes away

[2018-09-28 11:03] DavidGOrtega commented on #611
8bit vs 32bit

https://jsperf.com/canvas-pixel-manipulation

[2018-09-28 11:09] DavidGOrtega commented on #576
Im expecting to write a tutorial on medium with my experiencie converting models for lite and now tfjs. For me the best option is always having the model definition in Python and restore the weights pluging identity layers or placeholders to just name your outputs and inputs conveniently. Model is yours or from others?

[2018-09-28 11:38] himanshu987 commented on #704
@caisq your solution also work perfectly for me... Thanks. :) .#lifeSaver

[2018-09-28 11:54] gmanojisaac commented on #741
Hi David..
Got the same error..
I was able to install successfully after Installation of  Windows build tools
npm install -g windows-build-tools.
You can check that..

[2018-09-28 12:29] ookami125 commented on #729
Okay I'll try going with latest Ubuntu 18, and from what I see Cuda 9.0 and Cudnn 7.3.0 should work.  Oh, and I guess this issue can be closed, if I somehow run into it again, then we can reopen it or I can open a new one.

[2018-09-28 12:46] DavidGOrtega commented on #741
Hi @gmanojisaac, thanks for the reply. windows-build-tools installs python plus visual C++ libraries.
Of course I can install python, that's not my problem. My problem is why the npm package don't release .so/dll binaries for every OS to install tensorflow under nodejs. At the end tfjs for node is a wrapper over the Tensorflow binaries, right? If that would be the case  I don't see the need of ins

[2018-09-28 13:42] craftgear commented on #739
Hi, I have the same problem with a different error message.

[code]

Once I remove `node_modules/@tensorflow` and install `@tensorflwo/tfjs-node` only then the error disappears.

I guess the reason I got above error was I first installed `tfjs` then add `tfjs-node` afterwords.
Maybe dependency versions unmet?

Anyway, thanks @nkreeger 👍

[2018-09-28 14:05] #665 closed

[2018-09-28 15:42] ran-j opened #743 "Erro with Electron"
Erro
[code]

Im using electron 3.0.0 and when I try to save my model I got this error.

my .npmrc

[code]

[code]

obs Works fine on NodeJS

https://imgur.com/wrBqb4O

[code]

[2018-09-28 16:11] brannondorsey commented on #739
I experienced a similar problem to @craftgear. I already had `@tensorflow/tfjs` as a dependency in a project and added `@tensorflow/tfjs-node`. This caused the registration of the tensorflow backend to fail. Removing the `node_modules/` folder and reinstalling with `npm install` fixed the problem. Strangely, the project now works even with both dependencies:

[code]

[2018-09-28 16:32] nkreeger commented on #739
We ship 0.12.7 right now in the `tfjs-node` package. Sorry for the confusion - but you only have to `npm install @tensorflow/tfjs-node` today. That package ships with a supported version of `@tensorflow/tfjs`.

So basically this:

[code]

[code]

[2018-09-28 16:35] brannondorsey commented on #739
@nkreeger thanks for that info. So it can be assumed that `@tensorflow/tfjs` will ship with `@tensorflow/tfjs-node` indefinitely (or if it is removed a breaking semver increment will be used) and projects using `@tensorflow/tfjs-node` should remove dependence on `@tensorflow/tfjs` explicitly, correct?

[2018-09-28 19:02] pyu10055 commented on #743
@caisq this looks like the io handler issue, maybe not detecting the env correctly?

[2018-09-28 20:04] #631 closed

[2018-09-28 23:07] ran-j commented on #743
What ? , I need to remove "@tensorflow/tfjs" and "@tensorflow/tfjs-core" from my project ?

If so How I will import like you say ?

[2018-09-29 00:53] caisq commented on #743
@ran-j Remove "@tensorflow/tfjs" and "@tensorflow/tfjs-core", but keep "@tensorflow/tfjs-node" (version >=0.1.17). The last one will pull in the first two for you. In terms of import, see my last reply.

[2018-09-29 01:42] nkreeger commented on #741
node-gyp and windows requires Python 2.7 - 3.x does not work. Please install 2.7.

[2018-09-29 01:43] timbur commented on #739
What about the GPU version?  I'm still having the issue in my original post after a fresh install of only `@tensorflow/tfjs-node-gpu`.

Console output:
[code]

[2018-09-29 01:48] nkreeger commented on #741
https://github.com/tensorflow/tfjs-node/pull/164

[2018-09-29 01:51] nkreeger commented on #739
@timbur Can you try this:

[code]

Post the output here.

Also - might be easier to clone the tfjs-node repo and try running node-gyp build inside of that clone.

[2018-09-29 01:51] #729 closed

[2018-09-29 02:40] timbur commented on #739
Output:
[code]

Also, the file is definitely there:
[code]

I wonder if I should try a fresh install of everything - i.e., node, npm, python, git bash, etc.  I wonder if somehow things got borked because I did at one point have both python 2 and 3 installed (now only 2).

[2018-09-29 07:52] DavidGOrtega commented on #741
Hi @nkreeger thanks for the reply.
I saw it yesterday, I saw that the install.js dowloads the tf binaries and then builds the wrapper using gyp. I think that would be interesting to see the wrapper tied to the binaries. Specially because seems that the install just downloads the latest binaries and the wrapper may need the exact version on the tf binaries. Thanks for the help.

[2018-09-29 08:33] DavidGOrtega commented on #741
There is also another error after python seems to be a dependency with .NET framework

[code]

[2018-09-29 12:31] Aryanr64x opened #744 "The tf.loadModel() does not works for tensorflow keras models"
I am using tensorflow js to load a model from keras following [This Guideline](https://js.tensorflow.org/tutorials/import-keras.html) However on this line of code

`const model = await tf.loadModel('https://foo.bar/tfjs_artifacts/model.json');`
I am getting the error

**Error: Sequential.fromConfig called without an array of configs
at new t (app.js:26972)
at t.fromConfig (app.js:26972)
at deseria

[2018-09-30 14:18] ran-j commented on #743
This works for me

[code]

it doesn't work kkkk
`@ran-j Remove "@tensorflow/tfjs" and "@tensorflow/tfjs-core", but keep "@tensorflow/tfjs-node" (version >=0.1.17). The last one will pull in the first two for you. In terms of import, see my last reply.`

[2018-09-30 15:00] hpssjellis commented on #633
@oreHGA  Any update on this? I wold really like to use this saving ability for classifier.getClassifierDataset(). As far as I can tell it is just saving an array of 2D tensors. Anyone active on this?

[2018-10-01 12:29] #743 closed

[2018-10-01 12:51] annxingyuan commented on #715
Addressed: https://github.com/tensorflow/tfjs-core/pull/1289

[2018-10-01 12:51] #715 closed

[2018-10-01 12:53] annxingyuan opened #746 "Apply im2Col for depthwise convolutions"
This would involve transforming the filter into a sparse matrix where each row contains entries from a single input channel.

Addressed: https://github.com/tensorflow/tfjs-core/pull/1289

[2018-10-01 13:12] schipiga commented on #410
@limscoder looks like `@tensorflow/tfjs-node@0.1.17` isn't ok. For me it works with previous `v0.1.16`.

[code]

[2018-10-01 13:35] dsmilkov commented on #732
That's a great point.

General point about this issue: Exposing the API would also reduce problems of [this nature](https://github.com/tensorflow/tfjs/issues/410#issuecomment-425902276) since people won't explicitly import `@tensorflow/tfjs`, thus they are less likely to run `npm install @tensorflow/tfjs` which is what results in having 2 separate versions of tfjs that are not compatible.

[2018-10-01 14:09] deanshub commented on #518
Hey @caisq @iiredalert ,
I'm having the same issue, running
```@tensorflow/tfjs 0.13.1``` and ```@tensorflow/tfjs-node 0.1.17```
I'm getting the same error when running the mnist-node example...

though I am getting an error on initial binding
```Registration of backend tensorflow failed``` but I can't seem to figure the cause, any tips?

[2018-10-01 14:39] caisq commented on #518
@deanshub Can you show 1) the package.json and 2) the import / require lines from your .js file?

[2018-10-01 14:41] nsthorat opened #747 "Firebase performance logging requests are failing from travis integration tests on the cron."
Here is an example:
https://travis-ci.org/tensorflow/tfjs-core/jobs/435393168

My guess is either browserstack is blocking the request, or there is some other problem with making the request off to firebase.

A good first investigation is whether we can make the firebase requests locally.

[2018-10-01 15:45] annxingyuan opened #748 "tf.profile should return kernel execution times"
It should use `WEBGL_DISJOINT_QUERY_TIMER` where available.

[2018-10-01 17:45] AlexChrisF opened #749 "Add a 'weightsOnly' option for tf.io.SaveConfig (i.e., the optional, second arg for Model.save())"

[2018-10-01 18:18] bileschi commented on #749
Can you add more detail?  How would you expect this to behave and what is the compelling use case?  Is there similar functionality in the python API?

[2018-10-01 18:33] AlexChrisF commented on #749
I think it would be really nice to have an option to only download the weights file, since my model topology stays the same.

Something like:
const saveResults = await model.save('downloads://my-model-1', "weightsOnly");

[2018-10-01 19:36] JonasJW opened #750 "tfjs-node installation error with anaconda3"
#### Describe the problem or feature request

I'm getting this error when I'm trying to install '@tensorflow/tfjs-node'. The wierd thing is this line: `Command failed: /Users/jonas/anaconda3/bin/python -c import sys; print "%s.%s.%s" % sys.version_info[:3];`.

What does anaconda3 to do with this? I think I started to get this error only once I installed anaconda.

Any ideas?

/Users/jonas/Projects

[2018-10-02 02:30] jgartman opened #751 "Test failure on master"
To get help from the community, check out our [Google group](https://groups.google.com/a/tensorflow.org/forum/#!forum/tfjs).

#### TensorFlow.js version
master branch

#### Browser version
Chrome Version 69.0.3497.100 (Official Build) (64-bit)

#### Describe the problem or feature request
The following test is failing for me when I run them locally on my machine:
[code]

#### Code to reproduce the

[2018-10-02 13:34] DavidGOrtega commented on #741
@nkreeger  definitely windows does not work at all.
I tried installation on Windows 10 and windows 7 with python 2.7.15 y node 8.x on different machines

The result is always the same stack trace:

[code]

Procedure just install a very basic project:
[nodetfjs.zip](https://github.com/tensorflow/tfjs/files/2438057/nodetfjs.zip)

[code]

[2018-10-02 14:54] deanshub commented on #518
imports
[code]
package.json
[code]
I also tried the [mnist-node](https://github.com/tensorflow/tfjs-examples/blob/master/mnist-node/main.js) example

[2018-10-02 14:59] caisq commented on #518
Please remove this dependency from your package.json:

"@tensorflow/tfjs": "^0.13.1"

@tensorflow/tfjs-node version 0.1.17+  depends on @tensorflow/tfjs . If you manually specify a version of @tensorflfow/tfjs, you cause two separate versions of tfjs to be imported, which leads to the issue you are experiencing.

[2018-10-02 15:50] xcapt opened #752 "implementing a simple LSTM"
Hello,
Based on the addition RNN sample, I am trying to implement a very simple LSTM based, that would take  a sequence of 0 and 1 and output the AND value.

`var xs = tf.tensor3d([[[1], [1]], [[1], [0]], [[0], [1]], [[0], [0]]]);
var ys = tf.tensor3d([[[1]], [[0]], [[0]], [[0]]]);

const maxLen = 2, vocabularySize = 1, hiddenSize = 3;

const model = tf.sequential();
model.add(tf.layers.lstm({

[2018-10-02 15:52] xcapt commented on #750
Hi there, I had this one:
node-gyp does not support python 3.x, try with python 2.7

[2018-10-02 17:46] xcapt commented on #482
what was the solution to close the issue in the code above ?

[2018-10-02 19:06] JonasJW commented on #750
Thank you @xcapt, seems to work not!

[2018-10-02 19:06] #750 closed

[2018-10-02 19:34] JonasJW opened #753 "Error when using tfjs-node with Angular"
#### Describe the problem or feature request

I'm trying to save my model in a file with Angular 6. I expected it to work just like a normal Node.js project but I get these errors:

    WARNING in ./node_modules/bindings/bindings.js 81:22-40 Critical dependency: the request of a dependency is an expression

    WARNING in ./node_modules/bindings/bindings.js 81:43-53 Critical dependency: the reques

[2018-10-02 23:59] nkreeger commented on #741
Try running this:

```npm install --global --production windows-build-tools```

Or manually installing MSVC as detailed in the README on node-gyp: https://github.com/nodejs/node-gyp

The .sln file is generated by node-gyp.

[2018-10-03 01:45] kouohhashi opened #754 "Error: The RNN cell should have an attribute `stateSize` when loading a model"
To get help from the community, check out our [Google group](https://groups.google.com/a/tensorflow.org/forum/#!forum/tfjs).

#### TensorFlow.js version
@tensorflow/tfjs: 0.12.3
@tensorflow/tfjs-node: 0.1.9
I updated tfjs-node to 0.1.17 but still got same error.

#### Browser version
node: v8.9.1

#### Describe the problem or feature request
[code]

I created a mode with tf.layers.rnn and  tf.laye

[2018-10-03 02:50] #704 closed

[2018-10-03 03:27] deanshub commented on #518
Thanks @caisq that did it 🥇

[2018-10-03 04:31] xcapt commented on #752
mulitple rookie mistakes

working code here:
[](https://codepen.io/xcapt/pen/qJbrEq)

[2018-10-03 04:33] #752 closed

[2018-10-03 06:40] DavidGOrtega commented on #741
@nkreeger thanks for the support.

Here is my experience. using npm install --global --production windows-build-tools I ended up in a unfinished waiting for ever installation, despite that I run the CMD with administrator privileges.
I have seen that bug also in that repo, mainly because you had python installed and other issues.

WHAT worked for me was installing Visual Studio 2017 and RUN

[code

[2018-10-03 09:00] aiboy commented on #708
Changing package.json to this: (excluding @tensorflow/tfjs)
[code]
Running npm install and using
[code]
fixes the issue for me

[2018-10-03 09:07] rajeev-samalkha opened #755 "Provided weight data has no target variable: batch_normalization"
To get help from the community, check out our [Google group](https://groups.google.com/a/tensorflow.org/forum/#!forum/tfjs).

#### TensorFlow.js version
0.13
#### Browser version
Chrome Version 69.0.3497.100
#### Describe the problem or feature request
I converted a Keras model to tfjs using python utility with no errors. But when I try to load the model in tfjs, I get the following error:

[code]

[2018-10-03 09:37] justadudewhohacks opened #756 "Catching "CONTEXT_LOST_WEBGL""
Hello everyone,

It seems like **gl.CONTEXT_LOST_WEBGL** is being catched by the engine and then logged with console.warn. Is there any way for me to catch this error?

Usecase: When training models using the WebGL backend, it would be possible to catch the above mentioned error and save a backup of the current model weights, up to that point.

With the current approach of logging a warning to the

[2018-10-03 14:55] nkreeger commented on #708
@aiboy Yep - sorry for the confusion. We found it was easier to ship the union tfjs package instead of chasing tfjs-core updates all the time.

[2018-10-03 15:37] thies1006 commented on #434
Apparently the behavior remains the same in 0.13.1. is there any explanation / solutions for this?
thanks

[2018-10-03 17:21] prathameshnetake commented on #684
Worked after using --skip_op_check=SKIP_OP_CHECK flag

[2018-10-03 18:59] dar5hak commented on #753
At what step do you see this error? `ng serve`? `ng build`?

If you see this while trying to save the model, could you also add the code you are using to save it?

[2018-10-03 19:14] JonasJW commented on #753
I get it as I do `ng serve`. The error occurs when I do `import '@tensorflow/tfjs-node';` without importing the node module it works but this way I couldn't save the model.

I didn't get to saving the model because the error occurs before that

[2018-10-03 19:19] dar5hak commented on #753
Hmm, but may I ask, why do you need `tfjs-node` inside your Angular component? That is UI code, which will eventually be executed in the browser, right? If you want to save your model to the file system, shouldn't that be on the server side?

(Sorry, I might be making completely wrong assumptions. Just trying to understand your setup.)

[2018-10-03 20:43] JonasJW commented on #753
Why should saving the model on the client side be a bad idea? Imagine you have a mobile app that should work without a connection. Then it would be great to have the model saved locally so I can still make predictions.

Also maybe I don't need a backend for my application and don't want to create one just for the reason to save my tf model.

Thats my Idea. I'm a total beginner at machine learning

[2018-10-04 04:44] dar5hak commented on #753
Saving on client side is totally fine, but if that's what you're doing, then you don't need `tfjs-node` (which is specifically for the server side). The regular `tfjs` should do.

For more info, refer to [this](https://js.tensorflow.org/tutorials/model-save-load.html) doc, particularly the methods marked with "Browser".

[2018-10-04 06:51] jdmichaud opened #757 "Use TypedArray to instantiate tensor - Doc/code inconsistency"
#### TensorFlow.js version
tfjs-core: 0.13.2
tfjs-layers: 0.8.1
tfjs-converter: 0.6.1
tfjs: 0.13.1

#### Browser version
Chrome 69.0.3497.100 (Official Build) (64-bit)

#### Describe the problem or feature request
The doc says:
tf.tensor1d (values, dtype?)
values (TypedArray|Array) The values of the tensor. Can be array of numbers, or a TypedArray

However the code checks that values is either:
*

[2018-10-04 08:28] JonasJW commented on #753
Do you mean with saving to local storage?

Imagine I have an App and I have an pre trained model. How could I ship this model with my app and load the model when starting this app? I would have to load it from a file, right? And this is only possible with the node module as far as I know.

I appreciate the help btw!

[2018-10-04 10:44] DavidGOrtega commented on #739
@nkreeger
I have done what you said just only installing

[code]

then
[code]

[code]

[2018-10-04 12:03] JonasJW commented on #753
Thanks an interesting way to do it. I will try it.

But if it was possible to use node within my angular application it would still be easier. So is it just not possible? Why does not work like that? I thought angular uses node?

[2018-10-04 13:04] manchuwook opened #758 "Using tfjs with SyntaxNet/DraGNN on Service Fabric"
To get help from the community, check out our [Google group](https://groups.google.com/a/tensorflow.org/forum/#!forum/tfjs).

#### TensorFlow.js version
Any

#### Browser version
Angular/Universal

#### Describe the problem or feature request
Is there a way to use SyntaxNet / Dragnn with tfjs?  I'm not super excited installing Python to connect it to a Service Fabric site.

#### Code to reproduce

[2018-10-04 13:37] bileschi commented on #755
Hi
Can you please share your (original) model and the commands used to convert & load?
Thanks

[2018-10-04 13:41] bileschi commented on #756
@dsmilkov is this something we could surface?  Possibly as an option?

[2018-10-04 13:51] dsmilkov commented on #756
Thanks @justadudewhohacks. This seems very reasonable and useful. We can allow the user to subscribe and be notified:
[code]

https://www.khronos.org/webgl/wiki/HandlingContextLost gives us guidelines how to detect when the context was lost. (We might even be able to fully recover from it, but that would be a future step).

[2018-10-04 14:01] DavidGOrtega opened #759 "loadFrozenModel does not work in node"
#### TensorFlow.js version
tfjs 0.13.1
tfjs-node 0.1.17
tfjs-converter 0.6.2
#### Browser version
node 10.5.0 on Windows 10
#### Describe the problem or feature request
[code]
#### Code to reproduce the bug / link to feature request
[code]

you can try also with same results
[code]

[2018-10-04 14:32] caisq commented on #759
Did you try `global.fetch = require('node-fetch')` (with dependency on `node-fetch`)?

[2018-10-04 14:44] #660 closed

[2018-10-04 15:21] dar5hak commented on #753
Angular only uses Node.js to build and compile your files to JavaScript, and to run a dev server on your machine.

However, inside the JavaScript code which is compiled and shipped to the browser, you cannot use Node.js because the context has changed from your machine to the browser, where direct access to the file system is just not available.

[2018-10-04 15:33] JonasJW commented on #753
Ok I get it. Thanks a lot for the help.

I tried what you previously said. I have a `model.js` inside my angular project where I create the model and then save it to my assets. Then in my component I can load the model like this:

    const path = '../assets/model/model-1a/model.json';
    const model = await tf.loadModel(path);

That works well.

[2018-10-04 15:33] #753 closed

[2018-10-04 16:00] DavidGOrtega commented on #759
Hi @caisq . Thanks for the reply!
Yeah that one was one of my initial try outs.
With the polyfill I can load from HTTP but not local models.

[code]

I 'm looking at the code. LoadfrozenModel is just
[code]

However it depends on a handler that is going ALWAYS to be empty on node
[code]

My options right now are
1 - Write my frozenModel that loads the model with it's own IOHandler
2 - Write just t

[2018-10-04 16:03] caisq commented on #759
Sorry I overlooked an important problem in your code before. Please import tfjs-node after importing tfjs, i.e.:

[code]

[2018-10-04 16:28] caisq commented on #759
I see. I think you can remove @tensorflow/tfjs as a dependency from your package.json and keep  @tensorflow/tfjs-node. You are running into these issues due to multiple versions of @tensorflow/tfjs being pulled in.

[2018-10-04 16:34] DavidGOrtega commented on #759
I can't!

[code]

[code]

[code]

[2018-10-04 16:49] davidsoergel opened #760 "Add public API to let users set certain environment flags"
The flags at https://github.com/tensorflow/tfjs-core/blob/master/src/environment_util.ts#L18 have code comments, but are not otherwise documented.  Since they don't show up in the API docs or tutorials, users don't know that they can say `tf.ENV.set('DEBUG', true);` and so forth.

[2018-10-04 16:51] DavidGOrtega commented on #298
Ideal solution would be an Image pollyfill. Have you ever watched the [instructions](https://github.com/Automattic/node-canvas/wiki/Installation---Windows) to install Canvas on Windows? I Have!

![image](https://user-images.githubusercontent.com/414967/46489693-5ff43900-c806-11e8-8bdd-01c0b45ad099.png)

[2018-10-04 16:57] nkreeger commented on #759
Try deleting the node_modules directory and retry `npm install` or `yarn`

[2018-10-04 17:27] #744 closed

[2018-10-04 17:29] davidsoergel commented on #758
SyntaxNet / Dragnn are not just TensorFlow models; they're complex libraries with hundreds of thousands of lines of C++ and Python code.  I know of no plans to port these to JS, but you could [ask the SyntaxNet team](https://github.com/tensorflow/models/tree/master/research/syntaxnet#contact).

In any case I think the most expedient solution is to run the existing code server-side as you suggest.

[2018-10-04 17:30] #758 closed

[2018-10-04 17:50] DavidGOrtega commented on #759
@nkreeger thanks for the reply. I tried it and documented it #739
I did swept the node-modules completely and just installed the @tensorflow/tfjs-node however did not worked for me. I needed to install the tfjs module.

[2018-10-04 18:34] davidsoergel opened #1017 "Infer dtype from first n records, when it's not specified"
Python tf.data already does this: https://cs.corp.google.com/piper///depot/google3/third_party/tensorflow/python/data/experimental/ops/readers.py?rcl=215304249&l=129

[2018-10-04 18:36] DavidGOrtega commented on #756
@justadudewhohacks  if this works you have made my day.

[2018-10-04 19:27] justadudewhohacks commented on #756
Thanks for the quick answer. @dsmilkov just to clarify, simply adding a event listener for 'webglcontextlost' to the canvas passed to `tf.fromPixels` probably won't make it, or should that already solve it? PS: I am not familar with WebGL at all.

[2018-10-04 20:09] annxingyuan opened #761 "Create a page that displays results of benchmarks across layers, core, etc."
It would be great to have a dashboard that displayed live benchmarking results across different models / ops so we could easily know when there's been a performance regression.

[2018-10-04 20:14] #746 closed

[2018-10-04 20:29] nkreeger commented on #759
@DavidGOrtega I think you have an old version of tfjs-node. Please try installing 0.1.18.

[2018-10-04 21:08] shiffman opened #762 "Adding custom properties to model.json upon save?"
Hello! I'm writing on behalf of the [ml5](https://ml5js.org/) project. In a meeting today with @cvalenzuela and other contributors we discussed some questions around the saving and loading features for ml5. This is discussed in more detail at https://github.com/ml5js/ml5-library/issues/174.

We are wrapping the tf.js `save()` method in our [ImageClassifier](https://ml5js.org/docs/ImageClassifier.h

[2018-10-04 22:47] DavidGOrtega commented on #759
@nkreeger thanks, that solved the problem of issue #739 ! I'm impressed how fast new versions come out! mine was a couple of days old?

[2018-10-05 00:40] caisq commented on #762
I think this is a reasonable feature request.

[2018-10-05 08:04] auzair92 opened #763 "Unknown Layer: AttentionDecoder"
#### TensorFlow.js version 0.6.2

#### Browser version Firefox Quantum 62.0.2

#### Describe the problem or feature request
When trying to load a Tensorflow saved model (obtained with the Tensorflow.js converter) in the browser, I get the following error message:
`Error: Unknown layer: AttentionDecoder`

#### Code to reproduce the bug / link to feature request
`const model = await tf.loadModel(MOD

[2018-10-05 09:18] DavidGOrtega commented on #763
@auzair92 have you converted the model using tfjs converter and in went through without any issue?

[these](https://github.com/tensorflow/tfjs-converter/blob/master/docs/supported_ops.md) are the supported operations for now. I have to implement a few also for my projects but docs are scarce... I suppose that we have to update the python converter locally plus my js code... I'm figuring out how. I

[2018-10-05 09:55] DavidGOrtega opened #764 "node fromPNG toPNG and generic fromPixels toPixels"
I won't use fromPixels and toPixels in node since It uses Cairo and I'm focused on Windows and Mac. Cairo on Windows apart of having to maintain additional binaries it's not as easy to install as other OS.

If you are like me that want to keep the binaries to the bare minimum here is a very fast fromPNG and toPNG for node purely using js.

[code]
[code]

JPG could be the same using node-jpg. Of co

[2018-10-05 12:13] auzair92 commented on #763
Yes I used tfjs converter for the keras model conversion and it went fine. However the problem still sustains. I think I have to implement a custom layer as a part of solution.

[2018-10-05 14:45] davidsoergel commented on #762
Are the types of metadata that you want to include fairly structured, slowly changing, & generally useful?  If so I'd prefer to establish standards for a specific set of fields.  The label index to string mapping is certainly something that should be standardized.

I fear that if we allow arbitrary extensions to model.json, the result will be a profusion of mutually-incompatible file formats.  For

[2018-10-05 14:47] dsmilkov commented on #638
Hey Manraj,

Let's postpone adding `tf.assertEqual()` because if we add such an op, we have to make a decision whether to make it sync (which blocks the whole program), or async (which causes the exception to be thrown later).

After some discussions, we decided to not add this at all and encourage `a.equal(b).all().data()/dataSync()` where the user has the option to choose sync or async.

[2018-10-05 14:47] #638 closed

[2018-10-05 15:04] davidsoergel commented on #751
Reproduced on my MacBook.  I'm not sure how this got through our automated tests.  I've seen occasional hiccups based on different GPU hardware and such, so that may have something to do with it.  Anyway, thanks for the report-- we'll look into it!

[2018-10-05 15:16] davidsoergel commented on #754
One thing to try, per the [docs](https://js.tensorflow.org/api/0.13.0/#layers.gruCell): "To create an RNN consisting of only one GRUCell, use the tf.layers.gru."

If that fixes it, that suggests we should emit a warning/error on creation of RNN with a single GRUCell.  If not, I think it's a bug (that I don't fully understand yet).

Thanks for the report!

[2018-10-05 15:35] davidsoergel commented on #764
@DavidGOrtega would you like to send a PR about this?  @nkreeger WDYT?

[2018-10-05 15:37] nkreeger commented on #764
@davidsoergel @DavidGOrtega cool nice work - we're going to be shipping the generated tf.fromPixels() API soon. That's the official one we want to support since it uses the TF C-library to convert JPEG/PNG/etc byte streams to Tensors in C-land.

[2018-10-05 15:47] davidsoergel commented on #737
@thekevinscott Happy to accept the PR, but can't without your signing the CLA.  Sorry for the red tape-- I know it's silly in this case.  If you don't want to do it then we'll just recapitulate the fix, no problem.  Thanks!

[2018-10-05 15:54] thekevinscott commented on #737
Ah my bad! One sec

[2018-10-05 15:54] davidsoergel commented on #764
Closing based on @nkreeger's comment.  Thanks for the helpful feedback & code, though!

[2018-10-05 15:54] #764 closed

[2018-10-05 15:58] rodrigob commented on #713
Is this a "linux" issue or a browser version issue ?

[2018-10-05 16:15] davidsoergel commented on #737
Thanks!

@thekevinscott fixed in tfjs-models#78.

[2018-10-05 16:15] #737 closed

[2018-10-05 16:20] davidsoergel commented on #758
Oh one more thing: I realize this is a different approach, but maybe the Google Natural Language API (https://cloud.google.com/natural-language/) could meet your needs?  That way you wouldn't have to run a service yourself.

[2018-10-05 16:37] rytrose opened #765 "Support for aarch64?"
To get help from the community, check out our [Google group](https://groups.google.com/a/tensorflow.org/forum/#!forum/tfjs).

#### TensorFlow.js version
0.13.0
#### Browser version
Google Chrome: Version 69.0.3497.100 (Official Build) (64-bit)
#### Describe the problem or feature request
I'm looking to implement PoseNet on a [Jetson TX2](https://developer.nvidia.com/embedded/develop/hardware), but

[2018-10-05 16:58] rytrose commented on #572
Hi @joaqo ! Did you wind up implementing this? I'm about to do so, but if you already have it'll save me some time :)

[2018-10-05 17:30] cvalenzuela commented on #762
Perhaps the idea of `saveModelWithMetadata()` might work better for compatibility formats across the ecosystem.

But building on top of that, maybe something like `model.saveWeights()`  in conjunction with `model.getSpecs()` could also be implemented? `model.saveWeights()` can be used just to get the weights file and `model.getSpecs()` can return a json with specs that we can then internally modif

[2018-10-05 17:35] kamalkraj opened #766 "Different Result when saving model and predicting using keras"
To get help from the community, check out our [Google group](https://groups.google.com/a/tensorflow.org/forum/#!forum/tfjs).

#### TensorFlow.js
0.13.0
#### Browser version

Chrome Version 69.0.3497.100 (Official Build) (64-bit)

#### Describe the problem or feature request
![screenshot 2018-10-05 at 10 51 39 pm](https://user-images.githubusercontent.com/17096858/46550513-f2720680-c8f2-11e8-8bcb-7

[2018-10-05 19:48] davidsoergel commented on #765
As far as I understand, there are currently no official libtensorflow builds for arm64/aarch64 (tensorflow/tensorflow#17850), but you might be able to build one yourself.

Normally this requires Bazel per https://www.tensorflow.org/install/source.  If that's not practical, there is a community-supported Makefile approach at tensorflow/blob/master/tensorflow/contrib/makefile/README.md. That suggest

[2018-10-05 19:48] #765 closed

[2018-10-05 21:27] davidsoergel commented on #766
My understanding is that small numeric differences are common but usually insignificant.  This one does look larger than I'd expect.

We have a test for this at https://github.com/tensorflow/tfjs-layers/tree/master/integration_tests/tfjs2keras, which generally passes.  You can run it, if you like, by checking out the tfjs-layers repo and typing `yarn; yarn test-integ`.  That could help determine i

[2018-10-05 22:58] caisq commented on #766
@kamalkraj Can you share the .h5 file for your model so that we can try reproducing the issue on our end?

[2018-10-06 00:46] rstml commented on #433
Same issue here. The only outstanding ops are: `DecodeBase64`, `DecodeJpeg`, `EncodeJpeg`

[2018-10-06 06:38] kamalkraj commented on #766
Weights and downloaded from tensorflow js and converted keras weights
[model.zip](https://github.com/tensorflow/tfjs/files/2452786/model.zip)

[2018-10-06 14:46] jgartman commented on #346
@dsmilkov Just wanted to bump this issue since I noticed it was still open and assigned to you.  Were you planning on opening a PR for this or should Julian go ahead with his proposed fix?

[2018-10-06 14:53] dsmilkov commented on #346
Thanks for bumping this up. If the proposed change will align TF.js to the behavior with TF's Python, then yes, Julian should go ahead with the proposed fix. I'm happy to review. Thanks!

[2018-10-06 18:29] jtoy commented on #759
nice, I ran into same thing and found this thread. think we can close this thread.

[2018-10-06 22:27] caisq commented on #766
@kamalkraj Thanks for providing the model files. I am not able to reproduce your issue. I tried it on my Linux laptop, in these environments:

* Node.js, using tfjs-node 0.1.18
* In the browser (Chrome and Firefox), using tfjs 0.13.1.

They all give the result [[0.2324104],], i.e., the same as the Python result, but different from the 0.21 result you got in your browser. What's your operating syst

[2018-10-07 07:36] wemyss opened #767 "Support for model prediction on Rank 5 Tensors"
To get help from the community, check out our [Google group](https://groups.google.com/a/tensorflow.org/forum/#!forum/tfjs).

#### TensorFlow.js version
0.13.1

#### Browser version
Chrome 69.0.3497.100

#### Describe the problem or feature request
First time here, so I might be doing this completely wrong... 😬

Tensorflow.js `model.predict()` does not support tensors of rank 5 - resulting error:

[2018-10-07 11:06] baloodevil commented on #743
@ran-j You might have been trying to save the model using "file://" from the _Browser_, while "file://" is only for tensorflowjs running in Node.

[2018-10-07 12:48] baloodevil commented on #386
@hpssjellis Thank you for providing your code to pull actual weights (not the definition of them) from the model!

@tafsiri I understand retrieving all weights of a model can be a massive dataset, however it would still be useful to be able to call in some scenarios.  For example, a visualization tool for simple models for educational purposes.

[2018-10-07 12:59] playgrdstar commented on #513
I had the same problem, but managed to resolve it with the following steps:

- Go to chrome://settings >> Content Settings >> Automatic downloads; or just go straight to chrome://settings/content/automaticDownloads
- Look under 'Allow' for the address of the local file where you are running the tensorflow.js scripts
- Remove the address
- Train your tensorflow model again
- There will be a prompt

[2018-10-07 13:15] baloodevil commented on #386
FYI, you can get weight values from a trained model (which could be sourced from the model.json and model.weights.bin files).

For the first layer...

// kernel (a.k.a. weights):
model.layers[0].getWeights()[0].print()

// bias:
model.layers[0].getWeights()[1].print()

[2018-10-08 10:23] DavidGOrtega opened #768 "tf.setBackend makes node-tfjs ignore the bindings"
#### TensorFlow.js version
tfjs-node 0.1.18
#### Browser version
node 10.5.0
#### Describe the problem or feature request
tf.setBackend('cpu', false);
makes tfjs ignore the bindings
#### Code to reproduce the bug / link to feature request

[code]

[2018-10-08 12:46] DavidGOrtega opened #769 "NodeJS minimun version"
#### TensorFlow.js version
tfjs-node 0.1.18
#### Browser version
node 4.9.1
#### Describe the problem or feature request
I can't run tfjs on node 4.9.1
First util.promisify has to be a polyfill, once fixed

[code]
Then the backend can't be registered

[code]

Any reason to support node 4.9.1? Yes! many many super famous Electron apps that would benefit from TF via extensions

[2018-10-08 13:04] DavidGOrtega commented on #768
I can see that actually tfjs registers three backends being cpu and gpu the one in the V8 engine. So it's a matter of naming convention.

[2018-10-08 15:50] ran-j commented on #743
@baloodevil  The error was in my package.json

[2018-10-08 18:14] bileschi commented on #769
@nkreeger Do we have any guidance on which versions of node are / are not supported?

[2018-10-08 18:26] caisq opened #771 "Add tf.math.confusionMatrix"
The API may mirror tf.confusion_matrix in (Python) TensorFlow:
https://www.tensorflow.org/api_docs/python/tf/confusion_matrix

[2018-10-08 18:28] caisq commented on #771
cc @dsmilkov @nsthorat  @tafsiri  Let me know whether it makes sense for it to be added the core and exposed under the public API tf.confusionMatrix. (I've mentioned this to some of you a couple of weeks back, but final I have an opportunity to get around to do it).

[2018-10-08 18:47] DavidGOrtega commented on #769
I can confirm also that the MOST interesting Node version for interesting applications and commercial purposes V7 is not supported. I'm digging on the error but I would say that maybe it's the promisify dependency that the polyfill is not properly working?

[2018-10-08 19:48] davidsoergel commented on #768
Yep: the 'cpu' and 'webgl' options are the browser backends.  For node bindings, you need setBackend('tensorflow').  (See https://js.tensorflow.org/api/latest/#setBackend).

It sounds like you want to use the node bindings, but force the native TensorFlow backend to use only the CPU?  We can't do that using setBackend(), but you can do it by setting an environment variable:

    CUDA_VISIBLE_DEVIC

[2018-10-09 05:16] Raza25 commented on #763
Can anyone add Bahdanau Attention Decoder Layer to the tensorflowjs layers repo. It would be immensely helpful.

[2018-10-09 05:36] hpssjellis commented on #688
I think this can close now.

[2018-10-09 05:36] #688 closed

[2018-10-09 05:38] hpssjellis commented on #90
this can close. It is more to do with Android needs a lower training rate than on a desktop computer

[2018-10-09 05:38] #90 closed

[2018-10-09 05:40] hpssjellis commented on #617
I am fine closing this unless someone wants it to remain open.

[2018-10-09 05:40] #617 closed

[2018-10-09 05:57] hpssjellis commented on #633
So my idea of making a fake model with multiple inputs to save each tensor from the knn-classifier does work.

Basically it takes the output from the `classifier.getClassifierDataset()`

which returns an array of tensors, then sets up a model with inputs and a dense layer for each trained classifier. That model can be saved using `model.save()` The saved model can then be loaded from a website and

[2018-10-09 10:04] mykhalychnickolay opened #772 "tensotflowjs 0.6.2"
To get help from the community, check out our [Google group](https://groups.google.com/a/tensorflow.org/forum/#!forum/tfjs).

#### TensorFlow.js version

#### Browser version

#### Describe the problem or feature request

#### Code to reproduce the bug / link to feature request

[2018-10-09 10:05] #772 closed

[2018-10-09 14:53] bileschi commented on #763
Hi @Raza25 , The layers repo includes layers that are part of the Keras common API.  As far as I can tell, the AttentionDecoder layer is a custom layer, right?  If so, the right solution is to also add a AttentionDecoder custom layer implementation to your own application.   There is an example of how to add custom layers in the tfjs-examples repo.

[2018-10-09 15:00] bileschi commented on #755
@rajeev-samalkha is this issue resolved?  If so feel free to close.  Thankyou.

[2018-10-09 15:44] DavidGOrtega commented on #769
I see that the bindings uses N-API so, gameover... It belongs to the world v8 and beyond. It's sad since all Adobe CC CEP uses v7.

Unless anyone can tell me the opposite, I think its done.
Can I have access to your tryouts of WebAssembly? Are they public? for me a 4x/6x speed improvement it's an awesome improvement.

[2018-10-09 16:00] nkreeger commented on #768
We've been evaluating a device-selector API and the design that we'd like to surface internally. These plans are still initial stage and we can share them when we're ready to cut over for this work.

As for Node.js - V7 has been deprecated for a while, current LTS support is V8.x.

[2018-10-09 17:18] KimYoungBo opened #773 "Why are you going to run the same code twice?"
To get help from the community, check out our [Google group](https://groups.google.com/a/tensorflow.org/forum/#!forum/tfjs).

#### TensorFlow.js version
0.12.7

#### Browser version

#### Describe the problem or feature request
RMSPropOptimizer.prototype.applyGradients = function (variableGradients) {
  var _loop_1 = function (variableName) {
      tidy(function () {
          var newAccumulatedMe

[2018-10-09 18:03] #769 closed

[2018-10-09 20:55] annxingyuan opened #774 "Pack batchNormalization"
Batch normalization may be a good candidate for packing because it’s relatively simple and it shows up frequently.

By packing batchNormalization, we will prototype how to lazily pack / unpack textures when two packed ops are adjacent in the graph

[2018-10-09 22:38] pyu10055 commented on #692
@thekevinscott  @loretoparisi The List Diff Op has been renamed to SetDiff1D, can you verify for your model this op is still been used? Thanks!

[2018-10-10 01:32] oveddan opened #775 "PoseNet demos on Safari IOS - no poses estimated as a result of all output tensors having NaN values"
When doing the PoseNet demos on safari IOS, (both the camera and image demo), no poses are ever estimated.  Upon opening the safari debugger and connecting it to the IPhone, all of the output tensors are full of NaN values.

[2018-10-10 06:30] kamalkraj commented on #766
Thanks ,
Now it is working

[2018-10-10 06:30] #766 closed

[2018-10-10 11:38] rajeev-samalkha commented on #755
Folks, sorry for delayed response.

When I take out Batch Norm layer then it seems to work fine (I had to retrain the model). Is there any difference between Batch norm in tf.keras and tfjs. I have used tensorflowjs.converter utility. The model in itself is quite simple with few Con2D layers interspersed by Max Pool/Dropout.

Regards
Rajeev

[2018-10-10 12:01] wemyss commented on #767
Is this something that a newcomer to tfjs such as myself would be able to work on?

[2018-10-10 13:11] caisq commented on #767
@wenyss Thanks for the question. @dsmilkov may be able to provide more insight on this. But it seems to me that the slicing operation for 5D tensors in the core involves somewhat complicated WebGL shader programming, which is not entirely suitable to a newbie.

[2018-10-10 13:18] nsthorat commented on #767
Yeah it's a little hairy.

Here is where the error is thrown: https://github.com/tensorflow/tfjs-core/blob/master/src/kernels/webgl/slice_gpu.ts#L73

For Rank < 5, we can use native uniform4i uploads, but for rank-5 there is no uniform5i. We have to upload the slice numbers as two uniforms separately (uniform4i and a uniform1i is fine).

This also means in the shader program, we will get 2 uniform

[2018-10-10 13:54] bileschi commented on #755
TFJS BatchNorm maintains 4 up to weights:
`gamma`, `beta`, `movingMean`, and `movingVariance`  which matches those in keras-team/keras

https://github.com/keras-team/keras/blob/master/keras/layers/normalization.py#L93

I wonder if tf.keras is saving additional tensors, possibly for optimization or related to the momentum for training?

Looking at the tensorflow/keras implementation, I see that it

[2018-10-10 14:09] ixio opened #776 "Different results for TFJS-Web vs Keras/TFJS-Node on same model and tensor"
#### TensorFlow.js version
Node:
- @tensorflow/tfjs 0.13.1
- @tensorflow/tfjs-node 0.1.18

Python:
- keras 2.2.4
- tensorflowjs 0.6.2
- tensorflow 1.11.0

#### Browser version
Firefox: 62.0.3 (64-bit)
Chromium: Version 69.0.3497.81 (Official Build) Built on Ubuntu , running on Ubuntu 18.04 (64-bit)

#### Describe the problem or feature request
I wanted to use a Keras-trained model in a JS applicat

[2018-10-10 14:35] thekevinscott commented on #692
@pyu10055 It looks like ListDiff is still being used by `universal-sentence-encoder-lite` on TFHub:

Here's a [colab](https://colab.research.google.com/drive/1FGYqAQ9EW2LGd72Ji2Kvys-BdZRcIKDp).

Pip-installed `tensorflowjs_converter` version is: 0.6.2

Running `tensorflowjs_converter --input_format=tf_hub 'https://tfhub.dev/google/universal-sentence-encoder-lite/2' universal-sentence-encoder-lite`

[2018-10-10 14:51] rajeev-samalkha commented on #755
Do you need weights for all the layers or just BatchNorm one.

[2018-10-10 15:17] bileschi commented on #755
Just the names and sizes of the batch_norm related weights should be fine.
No need to provide the actual values.

On Wed, Oct 10, 2018 at 10:51 AM rajeev-samalkha <notifications@github.com>
wrote:

--
Stan Bileschi Ph.D.  |   SWE  |  bileschi@google.com |  617-230-8081

[2018-10-10 19:20] tafsiri opened #777 "Gather returns a value from tensor even if index is out of range"
Some potentially surprising behavior in tf.gather that I came across

[code]

[code]

In the first snippet any indices outside of the range of the tensor indices produce tensors with zeroes in them. While in the second one they will return some values from the original tensor (originally discovered with a 2d tensor with a bunch of non-1 values).

I'd probably expect an error or that the second cas

[2018-10-10 19:35] GuillaumeBadi opened #778 "`New shape and old shape must have the same number of elements.`, but the input/output shapes look ok"
Hello guys,
Not sure it is a bug, sorry if it's not

#### TensorFlow.js version
[code]

#### Browser version

#### Describe the problem or feature request

I am using Tensorflow.js to start learning machine learning, and I experience an error while trying to use the fit method with a batched dataset (1 by 1 for an easy example to reproduce)

I have got a few images 600x600x3 (just one for the exam

[2018-10-10 21:25] brannondorsey opened #779 "Conditionally load tfjs-node or tfjs-node-gpu depending on presence of CUDA environment"
#### TensorFlow.js version

- `tfjs-node` v0.1.17

#### Browser version
This issue concerns `tfjs-node` and `tfjs-node-gpu`. Environment is Node.js v8.12 on Ubuntu 16.04.

#### Describe the problem or feature request

I'm looking for a way to conditionally load `tfjs-node-gpu` if the host machine has a CUDA environment setup and to fall back to `tfjs-node` if not. I don't believe this functionalit

[2018-10-10 21:28] brannondorsey commented on #779
I believe this may be a dupe of https://github.com/tensorflow/tfjs/issues/622.

[2018-10-10 21:33] brannondorsey commented on #622
It would appear that in v0.1.17, it does indeed fallback to "cpu", however is this "tensorflow" accelerated "cpu" or the same "cpu" backend one would get from `@tensorflow/tfjs`? In other words, is this fallback equivalent to the exact same backend as one would receive by including `@tensorflow/tfjs-node`? If so, great! But the `tf.getBackend()` names differ ("cpu" vs "tensorflow"). If not, can th

[2018-10-10 22:07] kangyizhang commented on #622
Hi @brannondorsey , this fallback is the exact same backend as importing `@tensorflow/tfjs-node`.

For your original question(https://github.com/tensorflow/tfjs/issues/779), `tfjs-node` and `tfjs-node-gpu` require different libtensorflow which was downloaded and binded during installation. So you can not conditionally load the package after it is installed.

[2018-10-10 23:06] #778 closed

[2018-10-10 23:07] GuillaumeBadi commented on #778
My bad, thanks a lot

[2018-10-11 00:06] rytrose commented on #572
FWIW, here's a single pose decoder implementation, taking heatmap/offset numpy arrays as input. Sorry I can't link to it on Github, it's in a private repo for schoolwork...

[decode_single_pose.py.zip](https://github.com/tensorflow/tfjs/files/2466867/decode_single_pose.py.zip)

[2018-10-11 02:23] smsaladi opened #780 "missing weights_manifest.json"
#### Problem

Running tensorflowjs_converter doesn't produce a `weights_manifest.json` file from a keras hdf5 file. `model.json` is created. No error or message is produced. `tensorflowjs_converter` just finishes.

#### Code to reproduce the bug / link to feature request
[code]

Find Keras hdf5 file here (as well as output of converter):
https://caltech.app.box.com/v/run-dspace-e3

#### TensorFlow

[2018-10-11 02:56] nkreeger commented on #778
Make sure you only include "@tensorflow/tfjs-node". The package now
includes "@tensorflow/tfjs".

On Wed, Oct 10, 2018, 16:07 Guillaume Badi <notifications@github.com wrote:

[2018-10-11 05:05] smsaladi commented on #780
It looks like the file `weights_manifest.json` is not generated by `tensorflowjs_converter` when converting from a keras hdf5 model, consistent with the tutorial here: https://js.tensorflow.org/tutorials/import-keras.html

Specified in the converter code here:

https://github.com/tensorflow/tfjs-converter/blob/35205e32bbe83ac4a3ecdc5ac3779bc4f0a7448d/python/tensorflowjs/converters/keras_h5_convers

[2018-10-11 05:05] #780 closed

[2018-10-11 10:09] Raza25 commented on #763
@bileschi do we have a tensorflowjs version of AttentionDecoder available?

[2018-10-11 12:09] #694 closed

[2018-10-11 13:07] nsthorat opened #781 "Support Rank > 1 Tensors for tf.spectral.fft"
Right now we only support Rank-1 Tensors, though TensorFlow supports any rank tensors (only computing the FFT over the inner most dimension).

[2018-10-11 13:09] nsthorat opened #782 "Support tf.spectral.ifft, tf.spectral.rfft and tf.spectral.irfft"
Currently we only support `tf.spectral.fft()`, we should support `tf.spectral.ifft`, `tf.spectral.rfft` and `tf.spectral.irfft`.

[2018-10-11 13:09] nsthorat commented on #782
cc @Lewauthe

[2018-10-11 13:09] nsthorat commented on #782
cc @Lewuathe

[2018-10-11 13:16] nsthorat commented on #773
That's just what the compiler decided to do, you can read the TypeScript code here: https://github.com/tensorflow/tfjs-core/blob/master/src/optimizers/rmsprop_optimizer.ts#L94

[2018-10-11 13:16] #773 closed

[2018-10-11 13:35] bileschi commented on #763
There is not, AFAIK

However: if you don't need to maintain the keras structure, and you don't
need to continue training on the javascript side, you can convert your
SavedModel using the following instructions:

https://js.tensorflow.org/tutorials/import-saved-model.html

This will work, so long as all of the ops required are implemented in JS.
If some ops are not available in JS, the converter wi

[2018-10-11 13:39] Lokesh-K-Haralakatta opened #783 "Trying to use tf.layers.embedding as starting layer results in expected embedding_Embedding1 to have 3 dimension(s)"
To get help from the community, check out our [Google group](https://groups.google.com/a/tensorflow.org/forum/#!forum/tfjs).

#### TensorFlow.js version
https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@0.13.0
#### Browser version
N/A
#### Describe the problem
Trying to use tf.layers.embedding as a starting layer for a simple example but always results with the error while trying to train the model as

[2018-10-11 13:45] bileschi commented on #763
If you end up implementing the AttentionDecoder layer, and you wish to share, contributions are welcome to the tfjs-models repository :)

https://github.com/tensorflow/tfjs-models

[2018-10-11 14:10] brannondorsey commented on #622
Hi @kangyizhang, thanks for addressing this question. That is good to hear, although I'm a bit troubled that the backend name when using `tfjs-node` is always "tensorflow" while the fallback from `tfjs-node-gpu` is "cpu". If the fallback is equivalent why do the backend names differ?

[code]

[code]

[code]

[2018-10-11 14:11] brannondorsey commented on #779
Addressed in this https://github.com/tensorflow/tfjs/issues/622#issuecomment-428750310.

[2018-10-11 14:11] #779 closed

[2018-10-11 14:33] brannondorsey commented on #622
I also just noticed that the third code snippet ^ also throws this message:

[code]

Which is either innacurate or means the fallback isn't working properly. I'm using `tfjs-node-gpu` v0.1.17.

[2018-10-11 19:31] tafsiri commented on #771
SGTM. I did want to share that some of the names are moving around for tf 2.0. According to https://github.com/tensorflow/community/pull/16/files#diff-98487f07a4b6b9300c29023357535f3fR195 tf.confusion_matrix => tf.train.confusion_matrix. I find the new namespace a bit surprising though as I'd imagine wanting to use confusion matrix outside of training.

[2018-10-11 19:59] #695 closed

[2018-10-12 01:09] Lewuathe commented on #782
As long as I understand correctly, `rfft` is just a subset of `fft`, while the other two may need separated implementation.

Anyway, I'm going to work on this.

[2018-10-12 01:34] theangels opened #784 "Completely wrong infer result in tf.keras and tf.js"
To get help from the community, check out our [Google group](https://groups.google.com/a/tensorflow.org/forum/#!forum/tfjs).

#### TensorFlow.js version

TensorFlow version: 1.10.1
tensorflowjs_converters version: 0.6.1
TensorFlow.js version: script(src='https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@latest')

#### Browser version

Chrome 69.0.3497.100

#### Describe the problem or feature request

[2018-10-12 07:48] David-Xiang opened #785 ""can't locate attribute: 'keras_version'" error encountered when using tfjs_convterter"
To get help from the community, check out our [Google group](https://groups.google.com/a/tensorflow.org/forum/#!forum/tfjs).

#### Environment
Mac 10.13.6
Python 3.6
Keras 2.2.4
tensorflow 1.11.0
tensorflowjs 0.6.2

#### Describe the problem or feature request
I was trying to converter the keras pertained model [DenseNet201](https://keras.io/applications/#densenet)
`tensorflowjs_converter --input_

[2018-10-12 07:58] David-Xiang commented on #785
same problem occurred when converting model [ResNet50 and NASNet Mobile](https://keras.io/applications/)

[2018-10-12 12:59] annxingyuan opened #786 "tfjs-layers tests fail with new MAX_TEXTURE_SIZE environment flag"
@caisq @dsmilkov @nsthorat

In https://github.com/tensorflow/tfjs-core/commit/fb395557e3b1e391ce67c920606d8ab3727c16ae we introduced an environment flag `WEBGL_MAX_TEXTURE_SIZE` so it would be easier to simulate small texture sizes for testing. However the environment flags get evaluated with every test in the tfjs-layers suite - so we are continuously querying `MAX_TEXTURE_SIZE`. This somehow cau

[2018-10-12 13:29] caisq commented on #786
@annxingyuan Thank you for looking into the root cause of this issue. So this sounds like more of an issue with the tests? Is there a way to avoid continuously querying MAX_TEXTURE_SIZE?

[2018-10-12 14:30] bileschi commented on #785
This is probably related to recent changes in allowable serializations introduced in tensorflow 1.11.  See also #744

Can you share the converted json?

[2018-10-12 14:43] bileschi commented on #783
The API for tf.layers.embedding requires inputs be rank-2 (rank-3 including the batch).  What happened here is the layer received an input (xs) which is rank 2.

inputDIm should be the size of the vocabulary
outputDim should be the dimensionality of the vectorspace produced.

If you consider the inputs as sequences of length 1, this code should work: (note the additional square brackets)

//Sample

[2018-10-12 14:51] #783 closed

[2018-10-12 15:09] annxingyuan commented on #786
@bileschi MAX_TEXTURE_SIZE shouldn't change for users - we only created the flag so we could control it for testing. Just submitted a PR for caching - will try to create another tfjs-core release today!

[2018-10-12 15:50] David-Xiang commented on #785
Because converting failed, no json file is generalized.
And the convert command is like:
[code]

[2018-10-12 17:05] tafsiri commented on #135
closed by https://github.com/tensorflow/tfjs-core/pull/981

[2018-10-12 17:05] #135 closed

[2018-10-12 17:05] tafsiri commented on #235
closed by https://github.com/tensorflow/tfjs-core/pull/981

[2018-10-12 17:05] #235 closed

[2018-10-12 17:06] tafsiri commented on #777
related to #705

[2018-10-12 17:14] tafsiri opened #787 "Improve source map support for all packages, and built UMD bundle"
unminified / with source maps. Currently if there are exceptions in the lib when using

[code]

These are harder to debug than when using

[code]

(Note that in the above i explicitly load the non minified versions). The latter has sourcemap support and give a nice debugging experience.

[2018-10-12 17:32] #786 closed

[2018-10-12 18:03] oveddan commented on #730
@kenlupo I agree - this would be great to show how to use with an existing video.  One of the strengths of pose estimation being done with an rgb image is it can be done on existing footage and doesnt need to be done live.

[2018-10-12 18:27] #153 closed

[2018-10-12 18:41] kenlupo commented on #730
@oveddan - I've got it so I can split a video into images and then I'm working on running tfjs posenet over each image and putting it back together. Do you think there's a better way to do this with the video? I'm not aware of another way.

[2018-10-12 19:32] caisq commented on #784
@theangels Thanks for reporting this issue. I suspect that the difference may have more to do with the model (json) than with the weights. So can you simply share the model JSON with us? In keras, this can be obtained with model.to_json(). That way we won't have to worry about sending large files.

[2018-10-12 20:14] #734 closed

[2018-10-13 01:32] caisq opened #789 "tfjs-examples: Add script to automatically update all the @tensorflow/tfjs dependency versions"

[2018-10-13 02:41] caisq opened #790 "Add a summary table to tfjs-examples README.md"

[2018-10-13 03:02] euler16 commented on #117
@VariableVasasMT are you still working on this issue?

[2018-10-13 03:03] euler16 commented on #19
is anyone working on this issue? if not then I would like to try working on it. In that case @caisq  could you give me some pointers to start.

[2018-10-13 03:06] caisq commented on #19
@euler16 The just released v0.13.2 should have tf.layers.dot included. Please give it a try. Note that it currently doesn't support 4D or higher dimensions as inputs.

[2018-10-13 03:09] caisq commented on #19
I'm leaving this issue open because the support for 4D+ cases is not implemented yet.

[2018-10-13 09:48] theangels commented on #784
OK, there are the model define JSON File:

## Keras model

[code]

## tf.js model

[code]

[2018-10-13 11:43] #627 closed

[2018-10-13 17:11] caisq commented on #776
@ixio Thanks for reporting this issue. @bileschi I spend a few minutes trying to reproduce this issue on my machine but wasn't able to.

Here are the environments in which I tested it
1. Keras 2.2.4 (backend: tensorflow CPU)
2. tensorflowjs (v0.6.4) as in the test.py that @ixio provided
3. tfjs-node (v0.1.18)
4. tfjs in the browser (v0.13.2), running on Linux + Chrome

In all these environments, w

[2018-10-13 19:05] caisq commented on #784
Thanks @theangels , for sending over the model JSONs. This is what I did

1. I loaded your Python model JSON with `keras.models.model_from_json()`. The weights are randomly initialized because of the lack of weight files. So I saved the loaded model using `Model.save()`.
2. The saved keras model is converted into tfjs format and loaded into tfjs. This ensures that the model loaded in tfjs has the

[2018-10-13 19:17] nsthorat commented on #782
Awesome @Lewuathe! BTW, we should fix this first (so it works for all the other ops too): https://github.com/tensorflow/tfjs/issues/781

[2018-10-13 19:19] #789 closed

[2018-10-13 19:43] nsthorat commented on #762
@davidsoergel right now the model.json is already a "custom" format, given that it marries the weights manifest file and the actual model JSON. Adding another valid JSON field seems okay because it's specific to this environment anyways.

[2018-10-14 01:34] Lewuathe commented on #782
That makes sense. I'll take a look.

[2018-10-14 01:50] wemyss commented on #767
You're right, that does sound a little bit hairy... also sounds like fun though 😛.

If it's not blocking anyone, I should have more time in bit over a week to work on this. Thanks for the help @caisq and @nsthorat !

[2018-10-14 03:03] caisq commented on #767
@wemyss Sounds good to me. :)

[2018-10-14 03:09] oveddan opened #791 "Suggestions for improving the documentation on how to write custom ops"
It is great there is documentation on how to write custom ops.
 https://js.tensorflow.org/tutorials/custom-webgl-op.html#stdlib

Some things would make it easier to follow:
* There should be typescript types in the sample code, or an option to see what the types are.  I'd like to know for example when reading the examples, `const squareAndAddBackpropKernel = inputShape => ({` what type `inputShape

[2018-10-14 07:12] theangels commented on #784
I'm so sorry for provide the wrong model json before, the is the true model which define the model.
The difference is the final layer's unit.

And the 'voice.txt' file has 102400 values (include '0' value), you can load values by using it

test = np.genfromtxt('voice.txt', delimiter=',', dtype=np.float32)

![image](https://user-images.githubusercontent.com/11308780/46913626-844cd400-cfc3-11e8-9abd

[2018-10-14 15:39] dsmilkov commented on #771
Good point about the names moving around tf 2.0 - we should follow that proposal going forward.

[2018-10-14 15:49] dsmilkov commented on #756
Just to clarify about the canvas, tfjs uses its own internal canvas ([link](https://github.com/tensorflow/tfjs-core/blob/master/src/kernels/backend_webgl.ts#L470)), different from the user-provided canvas provided when calling `tf.fromPixels(userCanvas)`. So the event listener will be attached to the internal canvas.

[2018-10-15 00:48] VariableVasasMT commented on #117
@euler16 yes, I am still working on it, as suggested by @caisq, I was reading the code to understand better but I would be raising a pull request soon.

[2018-10-15 07:39] kevupton opened #793 "SymbolicTensor cannot be used for operations"
To get help from the community, check out our [Google group](https://groups.google.com/a/tensorflow.org/forum/#!forum/tfjs).

#### TensorFlow.js version
0.13.2

#### Browser version
Chrome

#### Describe the problem or feature request
Typescript type errors:
`SymbolicTensor` cannot be used in operations like `tf.sub, tf.add`

[code]

#### Code to reproduce the bug / link to feature request
[code]

[2018-10-15 12:37] jscriptcoder opened #794 "Browser crashes after loading Keras model with LSTM layers"
Hi there,

A month ago or so I reported an issue, https://github.com/tensorflow/tfjs/issues/738, which turned out to be a duplicate of https://github.com/tensorflow/tfjs/issues/218. Layer Dot seems to have been added to tfjs-layer in version 0.8.2, which is excellent news. Good job guys. This finally loads my model, but after a few seconds the browsers crashes. I get this warning on the console lo

[2018-10-15 13:51] caisq commented on #794
@jscriptcoder Thanks for reporting this issue. I am able to reproduce issue, in both the browser and node.js (tfjs-node). We'll look into this bug.

[2018-10-15 14:00] caisq commented on #785
@David-Xiang Can you share the content of the model json with us so we can try reproducing it on our end?

[2018-10-15 14:07] bileschi commented on #771
Assuming that TF doesn't want to leave confusion matrix as a top-level element, is there a better existing choice than 'train'?  Does it belong in perhaps 'math'?

[2018-10-15 14:10] bileschi commented on #791
Hi @oveddan ,  These are great suggestions!  If this is something you would be interested in contributing submissions are welcome at tensorflow/tfjs-website

The  file for this tutorial is https://github.com/tensorflow/tfjs-website/blob/master/source/tutorials/custom-webgl-op.md

I expect the maintainers would like to keep instructions for both raw JS as well as TypeScript, as many developers work

[2018-10-15 14:11] caisq commented on #771
I also find the proposed namespace a little surprising. confusion matrix doesn't seem to belong under the `train` category. For example, one can evaluate the confusion matrix of a model even without training it. cc'ing @annarev

[2018-10-15 14:17] caisq commented on #771
FYI, I commented on the TF RPC PR.

[2018-10-15 14:32] davidsoergel commented on #762
@nsthorat as you know, I think we should not have diverged from keras.json in the first place.  But this would go much further.  1) model.json was *one* new format.  The proposal here would create *arbitrarily many* new formats because each user / library developer would store metadata in an idiosyncratic form in the new custom field.  2) Many useful kinds of metadata are not specific to any parti

[2018-10-15 14:36] shiffman commented on #762
@cvalenzuela and I were discussing this a bit more on Friday. In case this is helpful, we would be very happy to do our own file saving and loading in ml5 and not have any changes to `model.save()` in tf.js. The issue right now is the only way for us to get the data that ends up in `model.json` is by saving a file. If there were a method like `model.getJSON()` that returned what ends up in the sav

[2018-10-15 15:12] nsthorat commented on #791
Definitely agree about point #2, want to send a PR?

Regarding the type for inputShape, maybe it can just be a comment (since we want this to be for JS folks, as Stan mentions).

[2018-10-15 15:30] davidsoergel commented on #762
ha you just beat me to it :)

In particular: you can use withSaveHandler (https://github.com/tensorflow/tfjs-core/blob/master/src/io/passthrough.ts#L96), where you can provide a callback that receives the to-be-saved objects as input.

[2018-10-15 15:30] shiffman commented on #762
@nsthorat @davidsoergel oh, I hadn't noticed that when looking over the docs! Thank you! @cvalenzuela, will that work for our needs? If so, we can close this issue (unless it's a relevant discussion for other aspects of the project too).

[2018-10-15 15:35] davidsoergel commented on #762
Looks like withSaveHandler() is not mentioned in the generated API docs.  Let's leave this issue open until that is fixed, at least.

[2018-10-15 16:08] davidsoergel commented on #744
Just want to point out here that although tensorflow/tfjs-layers#332 now allows reading the new format produced by TF 1.11 (Sequential config is a dict containing a 'layers' array), we are still *writing* the old format (Sequential config is itself the layers array).

At some point we should consider whether Sequential.getConfig() should also write the new format (ideally as part of a clear versio

[2018-10-15 17:59] wangtz opened #795 "WeChat mini-app doesn't work well with TFJS > 0.10.0"
To get help from the community, check out our [Google group](https://groups.google.com/a/tensorflow.org/forum/#!forum/tfjs).

#### TensorFlow.js version

#### Browser version
Wechat mini-app
#### Describe the problem or feature request
thirdScriptError
 sdk uncaught third Error
 Could not find a global object
 Error: Could not find a global object
    at getGlobalNamespace (http://127.0.0.1:43511/

[2018-10-15 18:01] wangtz opened #796 "WeChat mini-app NPM build doesn't work with TFJS"
To get help from the community, check out our [Google group](https://groups.google.com/a/tensorflow.org/forum/#!forum/tfjs).

#### TensorFlow.js version
latest
#### Browser version
wechat-mini app
#### Describe the problem or feature request
完成构建。耗时 3910 毫秒。
1. /Users/wangtz/Projects/working/wechat-mini-app/test1/node_modules/@types/long/index.js: 未找到npm包入口文件
2. /Users/wangtz/Projects/working/wech

[2018-10-15 18:05] wangtz opened #797 "WeChat mini-app can't load model as it doesn't support fetch method"
To get help from the community, check out our [Google group](https://groups.google.com/a/tensorflow.org/forum/#!forum/tfjs).

#### TensorFlow.js version
0.10.0
#### Browser version
wechat mini app
#### Describe the problem or feature request
Uncaught (in promise) TypeError: fetch is not a function
    at Object.<anonymous> (tfjs.js:1)
    at r (tfjs.js:1)
    at Object.next (tfjs.js:1)
    at tfjs

[2018-10-15 18:43] dsmilkov commented on #594
Since you are using the 'canvas' npm package, you have to pass the `canvas` object to `fromPixels` since that's the one that polyfills browser's canvas. The workflow is as follows:

[code]

Hope this helps!

[2018-10-15 20:17] #481 closed

[2018-10-15 20:38] GiantTreeLP opened #798 "Unknown initializer: GlorotUniform when loading Keras model"
#### TensorFlow.js version
Version 0.13.2

#### Browser version
Google Chrome Version 69.0.3497.100 (64-bit)

#### Describe the problem or feature request
I am currently trying to load a convolutional neural network model from Keras (version 2.2.4) that has been converted using the tensorflow_converter utility (pip tensorflowjs version 0.6.4).

Upon loading the model, I am met with the following e

[2018-10-15 23:02] caisq commented on #705
@zhaoqin has generously offered to help with fixing this bug.

[2018-10-15 23:33] tafsiri commented on #797
@wangtz Is the model being served from an http server? If not you may be able to use a different load handler to load the model. See https://js.tensorflow.org/tutorials/model-save-load.html for examples of some of the load handlers that are supported. If you are trying to load a mode from an http server, and you are comfortable with how web requests work you could define your own global `fetch` fu

[2018-10-16 01:50] dsmilkov opened #1016 "Move and polish the boston housing example into tfjs-examples"
We should move and polish the Boston Housing Example into tfjs-examples before launch. It can be pending PR that should be committed right after launch.

[2018-10-16 02:11] dsmilkov opened #1015 "Implicit 0-based column names when header is not present"
I know we went back and forth on this one and decided to pun it for later, so I'm putting it in an issue to track.

**Currently**
We require user-provided `columnNames` when the header not present. Thus the user has to do:
`tf.data.csv(url, {header: false, columnNames: [....]})`

**Proposal**
When header is not present, we should have implicit column names `0` to `N-1`. Thus the user will only hav

[2018-10-16 13:21] woudsma opened #799 "Error: WebGL warning: getBufferSubData: Reading from a buffer with usage other than *_READ causes pipeline stalls."
To get help from the community, check out our [Google group](https://groups.google.com/a/tensorflow.org/forum/#!forum/tfjs).

#### TensorFlow.js version
0.13.2

#### Browser version
Mac OS X 10.13.2 64-bit
Google Chrome: Version 69.0.3497.100 (Official Build) (64-bit)
Firefox Quantum: Version 62.0.3 (64-bit)
Opera: Version 55.0.2994.56
Safari: Version 11.0.2

#### Describe the problem or feature r

[2018-10-16 16:13] wangtz opened #800 "FR: Provide a mechanism to force enable/disable webGL"
To get help from the community, check out our [Google group](https://groups.google.com/a/tensorflow.org/forum/#!forum/tfjs).

#### TensorFlow.js version
all
#### Browser version
all
#### Describe the problem or feature request
I suggest this FR as I want to isolate performance and supportability issues. When webGL is forced enabled, it will fail when it can't. If webGL is forced disabled, it will

[2018-10-16 16:17] wangtz opened #801 "WeChat mini game doesn't have window.location.search"
To get help from the community, check out our [Google group](https://groups.google.com/a/tensorflow.org/forum/#!forum/tfjs).

#### TensorFlow.js version
all
#### Browser version
wechat
#### Describe the problem or feature request

Let me extract some code.
        var features = {};
        if (typeof window === 'undefined') {
            return features;
        }
        var urlParams = util.get

[2018-10-16 16:31] wangtz opened #802 "WeChat mini game console: WebGLTexture is not defined"
To get help from the community, check out our [Google group](https://groups.google.com/a/tensorflow.org/forum/#!forum/tfjs).

#### TensorFlow.js version
0.13.2
#### Browser version
wechat mini game developer console
#### Describe the problem or feature request
tf13.js:3164 Uncaught (in promise) ReferenceError: WebGLTexture is not defined
    at e.<anonymous> (tf13.js:3164)
    at tf13.js:80
    at

[2018-10-16 17:03] caisq commented on #771
Update: @annarev has agreed to change the name path to tf.math.confusion_matrix in Python TensorFlow. So we'll do the "tf.math.confusionMatrix" in tfjs.

[2018-10-16 21:22] dsmilkov commented on #771
Yay! Thank you for the quick resolve!

[2018-10-17 00:13] cvalenzuela commented on #762
nice! `withSaveHandler()` seems to be what we need. I'll try that instead of `model.save()`

[2018-10-17 02:00] DavidGOrtega commented on #800
tf.setBackend('cpu', false);

[2018-10-17 05:43] pyu10055 commented on #800
@wangtz as @DavidGOrtega suggested you can designate a backend by using setBackend('cpu').
But current we will always fallback to cpu if gpu is not available.

[2018-10-17 16:27] DavidGOrtega commented on #800
something like this?

[code]

[2018-10-17 16:33] tafsiri commented on #576
Closing this for inactivity. Feel free to re-open if you are still having trouble.

[2018-10-17 16:33] #576 closed

[2018-10-17 18:02] manchuwook commented on #758
I want to run a service myself because I don't want to pay per minute or by transaction.  I have my own servers for developing.

[2018-10-17 20:08] cvalenzuela commented on #762
I'm using `withSaveHandler()` in the following way:

[code]

and the callback value, `obj2save`, being returned is:

[code]

What's the best way to save the `weightData` into a `.bin` file?  What's the difference between `weightSpecs` generated with `withSaveHandler` and `weightsManifest` that you get with `.save('downloads://')`?

[2018-10-18 03:14] ogamaxwell commented on #730
@kenlupo check out [p5](https://p5js.org/reference/#/p5/createVideo)! Ive been using it to draw video onto a canvas then apply pose net to that canvas.

[ML5](https://ml5js.org/docs/posenet-webcam) has great resources on how to do this.
Its basically tensorflow for dummies (mean that in the nicest way, as i use it)

[2018-10-18 12:47] annxingyuan opened #803 "ShaderCompiler should support get${Tex}AtOutCoords / broadcasting for packed textures"
Currently, packed kernels such as batch normalization manage broadcasting internally. This should be abstracted by the shaderCompiler.

[2018-10-18 13:05] annxingyuan opened #804 "Fixed inputs to packed ops should be uploaded as packed"
Currently, the fixed inputs to packed ops such as batchnormalization must be packed every time the kernel runs. They should be uploaded as packed in the first place.

[2018-10-18 14:14] ixio commented on #776
Thank you for your feedback @caisq.

I've tried your artificial input data, on nodejs I get the same outputs as you however in Firefox and Chromium I get `Tensor [[0.9999834], [0.4889681]]` (which is once again not at all what we want).

I've tried `model.getWeights()[0].print()` however I get exactly the same values as you both in Firefox and Chromium. I also tried to print for all 10 layers but

[2018-10-18 14:36] loretoparisi opened #805 "Error: Based on the provided shape, [256,108], and dtype float32, the tensor should have 27648 values but has 434"
#### TensorFlow.js version
0.13.0
#### Browser version
Version 69.0.3497.100 - 64 bit
#### Describe the problem or feature request
I have trained the translation LSTM example [here](https://github.com/tensorflow/tfjs-examples/blob/master/translation/python/translation.py) with default values and the parallel corpus provided by Anki (fr-en).
I get this error
[code]

when loading the model in the te

[2018-10-18 15:00] nsthorat commented on #760
I don't think we should document the environment flags. Instead, we should provide public API for the functionality we want to expose.

Environment flags are internal, we should feel free to remove them when we're comfortable with permanently keeping them true. For ones that truly will never be set to true forever, we can add something like `tf.enableDebugMode()`.

[2018-10-18 15:42] nsthorat commented on #117
You want to remove all the dependencies of tf.layers -- it shouldn't just be a code transplant, rather a reimplementation with core ops. Does that make sense?

[2018-10-18 15:56] nsthorat commented on #762
weightSpecs are a subset of weightsManifest that don't contain the paths. weightsSpecs are of type `WeightsManifestEntry`, here is the corresponding entry in the weights manifest: https://github.com/tensorflow/tfjs-core/blob/master/src/io/types.ts#L59

You can just kick off a download using a Blob, createObjectURL and forcing a link (google how to trigger file download from JS).

[2018-10-18 16:50] davidsoergel commented on #760
+1, renamed this bug to match that.  However, doesn't this view mean that tf.ENV.set() or tf.ENV itself should not be exposed?

[2018-10-18 16:51] nsthorat commented on #760
It's useful for us to have it as part of the public API, but I don't think it should be documented in our /api page if that's what you're asking (we don't want to encourage users to be tinkering there, it's more for us to debug issues with the library).

[2018-10-18 17:38] nkreeger opened #806 "ScatterND tests don't match expected TensorFlow output"
I'm updating to @tensorflow/tfjs 0.13.2 on the Node bindings and it looks like the scatterND tests are incorrect.

[code]

Our op signature matches the generated Python code. I'll look to see if any wrapper APIs do any shaping.

[2018-10-18 17:39] nsthorat commented on #806
cc @pyu10055

[2018-10-18 18:01] nkreeger commented on #709
@vmarkovtsev Sorry for the lag - please try the newest version of @tensorflow/tfjs-node-gpu (it also includes @tensorflow/tfjs so no need to include that package in your package.json):

`

[2018-10-18 18:01] #709 closed

[2018-10-18 19:35] VariableVasasMT commented on #117
That's fair, I am worried about two codes which do the same thing and are very similar would exist parallelly. I am pro for reimplementation with core ops, just wanted to confirm once.

[2018-10-19 03:33] GangDevp opened #807 "I can't use model by convert with tensorflowjs_converter"
#### TensorFlow.js 0.6.4

#### Chrome 69.0.3497.100

#### System ubuntu18.04.1

#### I convert my model with tensorflowjs_converter  command.Tensorflowjs throw the error 'SyntaxError: Unexpected token < in JSON at position 0' when I load my model.
My convert command is 'tensorflowjs_converter --input_format=tf_frozen_model --output_node_names='mobilenet_v1/Bottleneck/BatchNorm/batchnorm/add_1' --s

[2018-10-19 06:41] iacovlev-pavel opened #808 "tfjs-node works, tfjs-node-gpu fails with: Resource exhausted: OOM when allocating tensor with shape[2048]"
#### TensorFlow.js version
tfjs-node-gpu: 0.1.18

#### Browser version
NodeJS v8.12.0, Windows 10, CUDA 9

#### Describe the problem or feature request
I have code in python which blurs an image, it works on Windows in Python on GPU.
I am trying to do the same from node, I have successfully converted the script to`tfjs-node` and it works and produces exactly the same results.
When I try to run `tf

[2018-10-19 08:32] loretoparisi commented on #805
@caisq I was able to make it working in Node.js and I prepared a fully fledged example for Node.js, hopefully this will help in the PR I have sent - https://github.com/tensorflow/tfjs-examples/pull/157

Regarding the browser, could it be due to this comment in `serve.sh` script:

[code]

Thank you.

[2018-10-19 13:14] caisq commented on #807
You wrote

Can you make sure that the corresponding HTTP request has a response status of 200 (OK)?

[2018-10-19 13:17] caisq commented on #798
Thanks, @GiantTreeLP, for reporting this. This is a bug and we will fix it soon.

[2018-10-19 13:33] annxingyuan opened #809 "Profiler should return timing information for subkernels"
Some of our WebGL kernels like matMul and conv2DWithIm2Col actually call multiple kernels internally (e.g. pack, im2col). In `DEBUG` mode, the profiler does not return timing information for these subkernels.

[2018-10-19 14:50] caisq commented on #805
@loretoparisi Yeah, i think that is a possibility.

[2018-10-19 16:49] nsthorat commented on #117
Once the core op is implemented we can call into it from layers :)

[2018-10-19 19:30] iacovlev-pavel commented on #808
Thank you for the reply.
Deleted node_modules folder, bumped the version in package.json, `npm install`.
Ran the test again still got the error:
[code]
Can attach the entire log if needed.