[2021-03-12 18:58] #3136 closed

[2021-03-12 19:00] annxingyuan commented on #2583
Perhaps this should be part of the future models utilities library.

[2021-03-12 22:24] rthadur commented on #3265
Yes Ann, this was added here https://github.com/tensorflow/tfjs/pull/4138 , Thank you.Closing this request.

[2021-03-12 22:24] #3265 closed

[2021-03-12 22:28] rthadur commented on #3633
I verified and it is working in latest version ,and latest version is available in npm. Thank you

[2021-03-12 22:28] #3633 closed

[2021-03-12 22:40] rthadur commented on #3762
for most of the models it is not loading well on mobile chrome browser , the above demo link is not working.

cc @pyu10055 @lina128

[2021-03-12 22:55] rthadur commented on #1986
@qjia7 i see you have added this feature request here https://github.com/tensorflow/tfjs/pull/4167 , can we close this issue ?

[2021-03-13 03:25] dewball345 commented on #1278
That didn't work for me. I still have the same error. I changed the crlf to lf using a button in vscode, but the result was the same.

[2021-03-13 10:05] kaykhancheckpoint commented on #4806
@carrycooldude im still struggling with this, ive not found out why this is happening. Any ideas?

[2021-03-13 11:12] WenheLI commented on #4193
Made a draft at https://github.com/tensorflow/tfjs/pull/4810

[2021-03-13 12:53] AmmarYasir29 commented on #4778
@rthadur the error still appear and the model not load
Is there solution ?

[2021-03-13 16:08] benbro commented on #4177
Anyone tried to run [BackgroundMattingV2](https://github.com/PeterL1n/BackgroundMattingV2) in a web browser?

[2021-03-13 18:06] dhiogocorrea commented on #4806
@kaykhancheckpoint I was having the save issue with the last @tensorflow/tfjs version (3.2.0) . Downgrading to version 3.0.0 fixed the problem for me

[2021-03-13 19:08] kaykhancheckpoint commented on #4806
@dhiogocorrea Right, so this is a bug that needs to be fixed as oppose to something i am doing wrong in the setup/build process.

[2021-03-13 21:08] kaykhancheckpoint commented on #4806
Can confirm after downgrading @tensorflow/tfjs from 3.3.0 to 3.0.0 it works now.

[2021-03-14 12:29] zipweight commented on #4736
@adotnusiyan
did you find a solution?
i also need this and got same issue

[2021-03-14 15:08] sojitko commented on #4806
Same here on `expo` while using `expo-gl`. It seems that `tensorflow > 3.0.0` have issues with environment detection.

If you don't want to downgrade and you can wait until this is fixed, knowing your app is only going to run on mobile, you can place this code early in your program to avoid this error:
[code]

[2021-03-14 15:34] carrycooldude commented on #4806
Yes true this is bug , Version issue

On Sun, 14 Mar 2021, 20:38 Ralf Gutkowski, ***@***.***> wrote:

[2021-03-14 19:24] soypaduano commented on #4116
This worked for me:

[2021-03-14 20:22] carrycooldude commented on #4760
@ahtrahdis7 If possible can you share the source code for which you are using the expo camera component

[2021-03-14 21:54] opiepj opened #4811 "TypeError: Cannot read property 'length' of null (dilations is null in depthwiseConv2dNativeBackpropInput_)"
**System information**
- From the [simple-object-detection](https://github.com/tensorflow/tfjs-examples/tree/master/simple-object-detection) example
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): tried both on Mac OS and Windows  and Windows WSL
- TensorFlow.js installed from (npm or script link): npm library
- TensorFlow.js version (use command below): tested on ^2.6.0 and ^3.3.0

**D

[2021-03-15 01:19] qjia7 commented on #1986
Sure. Closing it. Thanks.

[2021-03-15 01:19] #1986 closed

[2021-03-15 04:47] sivarajakani commented on #4800
Any updates? @rthadur

[2021-03-15 13:37] opiepj commented on #4811
Still broken, but found a workaround (though probably the model is not even transfer learning)

1. train.js import `@tensorflow/tfjs-node` rather than `@tensorflow/tfjs`
2. replaced `const topLayerGroupNames = ['conv_pw_9', 'conv_pw_10', 'conv_pw_11'];` to `const topLayerGroupNames = [ 'conv_pw_11'];

Both of those had to happen for it to work, doing one without the other had the same problem... n

[2021-03-15 17:46] guillaume250 commented on #4808
Hi @mattsoulanille, thanks for the quick response, and the fork.
I just opened your fork in a safari browser and still see the same issue.

<img width="913" alt="Screen Shot 2021-03-15 at 1 36 47 PM" src="https://user-images.githubusercontent.com/26730301/111196976-4a1cfd80-8594-11eb-9bab-1e707f1d37ad.png">

<img width="912" alt="Screen Shot 2021-03-15 at 1 37 31 PM" src="https://user-images.githu

[2021-03-15 17:51] adotnusiyan commented on #4736
Not yet.
Hopefully waiting @lina128

[2021-03-15 19:02] pyu10055 commented on #4758
@ruisebastiao On my linux machine for both node versions (14.8.0 and 15.11.0), the rss is stable at around 300MB range.
How big is your image? my testing image is around 600KB

[2021-03-15 21:40] ruisebastiao commented on #4758
Ok, so the problem is somewhere on my side, but i don't understand where. the image that i used ([https://pasteboard.co/JSMBGZt.jpg](https://pasteboard.co/JSMBGZt.jpg)) has 300KB.

[2021-03-15 21:50] GantMan commented on #4682
@lina128 - were you able to reproduce with the above examples?

[2021-03-15 23:24] pyu10055 commented on #4802
@sbrl Sorry I was not able to reproduce this error, I tried the same docker file nvcr.io/nvidia/tensorflow:19.02-py3 and installed node both (v14.16.0, v15.11.0) and npm v7.6.0, tfjs-node-gpu v3.3.0 was install successfully.

can you upgrade node to 15.11.0 and try again?

[2021-03-16 06:29] zhanghu11 opened #4814 "object_detection训练的模型转换为tfjs速度很慢"
转换后速度很慢，tf2.2 ,tfjs3.2,请问如何优化，如何转换

[2021-03-16 06:30] zhanghu11 commented on #4814
可以的话加我微信请教13033547336

[2021-03-16 11:26] Cannonball2134 commented on #4593
Did you ever figure out what caused it?

[2021-03-16 13:42] zholmes1 commented on #4593
@Cannonball2134

No idea, but creating a new RN project and copying over all my code fixed it

[2021-03-16 15:11] guillaume250 opened #4815 "BodyPix - drawBokehEffect stretched background on Safari Browsers (MacOS - iOS)"
reopening issue #4808

[2021-03-16 15:55] amit1072 commented on #4076
@danrossi  - thank you. This works, I was able to test. Now as a separate discussion, I do notice that my CPU is keeps pretty high in terms of usage and the fans keep on of my mac I9. I was hoping that it would go easy on the CPU, but seems like send even the segmentation data back and forth between the software and GPU takes a lot of processing, especially when we're trying to achieve greater tha

[2021-03-16 16:09] danrossi commented on #4076
@amit1072 I'm not a shader expert I am afraid. I can just apply them like the test. It was obtained from the original blog. This processing within bodypix to apply the mask would be ideal. Do it in one process hence this issue. The canvas software processing is not ideal.

[2021-03-16 16:23] mattsoulanille commented on #4808
I initially thought your report was about the incorrect aspect ratio of the output image, but I've been able to reproduce the issue you're seeing on Safari. I'll take a look. Thanks!

[2021-03-16 16:27] coco-moiny opened #4816 "Cannot read property 'children' of undefined on loadGraphModel"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow.js):
- OS Platform and Distribution: macOs Big Sur 11.2.1
- Mobile device: N/A
- TensorFlow.js installed from: npm
- TensorFlow.js version:  3.2.0
- Browser version: Chrome 89.0.4389.82
- Tensorflow.js Converter Version: 3.2.0 (tfjs converter wizard w/ Python)

**Describe the curr

[2021-03-16 16:28] danrossi commented on #4076
I'm using this project also for standard green screen options. It might be a similar shader required to be integrated.

https://github.com/bhj/gl-chromakey

[2021-03-16 16:39] amit1072 commented on #4076
@danrossi -- thanks again. I think writing the shader is just one part of it and I think I can do that without much hassle, in fact I will share the code when its done. The main hurdle for me is how to grab the segmentation data inside the GPU, as of now the bodypix javascript API returns it as a one dimensional array which we are sending to the GPU again, but if we want to remove that back and fo

[2021-03-16 17:25] DamascenoRafael commented on #3835
It is still an interesting feature to be implemented

[2021-03-16 17:49] rthadur commented on #4815
Thank you @guillaume250 , original issue is reopened https://github.com/tensorflow/tfjs/issues/4808 , will close this. Thank you

[2021-03-16 17:49] #4815 closed

[2021-03-16 17:56] rthadur commented on #4814
It looks like you haven't used a template to create this issue. Please resubmit your issue using a template from [here](https://github.com/tensorflow/tfjs/issues/new/choose). We ask users to use the template because it reduces overall time to resolve a new issue by avoiding extra communication to get to the root of the issue. We will close this issue in lieu of the new one you will create from the

[2021-03-16 17:56] #4814 closed

[2021-03-16 18:03] danrossi commented on #4076
This is the segmentation data gatherer. I don't understand where it processes the input to webgl in tensorflow from here. I notice alot of bloated properties not needed, only the segmentation data is useful. Its also doing dimension stuff which could easily be cached as dimensions on a video texture won't change ?

https://github.com/tensorflow/tfjs-models/blob/master/body-pix/src/body_pix_model.t

[2021-03-16 18:12] danrossi commented on #4076
Well it looks like using video as a source it's software rendering to a canvas that is the first resource hit. But if webgl rendering video to canvas and offering that as a source, not sure how it handles it.

https://github.com/tensorflow/tfjs/blob/964debd9232b0733d035b7b8d899b7254dc12b6f/tfjs-backend-webgl/src/kernels/FromPixels.ts

[2021-03-16 18:21] danrossi commented on #4076
This is where the canvas is then used as a texture for the internal gl context, all of that up to there could be avoided possibly using the video as a texture to that gl context

https://github.com/tensorflow/tfjs/blob/964debd9232b0733d035b7b8d899b7254dc12b6f/tfjs-backend-webgl/src/gpgpu_context.ts#L158

binding that software rendered canvas to texture here. unnecessary I think.

https://github.co

[2021-03-16 18:33] rthadur commented on #4816
@coco-moiny are you trying to implement missing ops ? have you tried these https://blog.tensorflow.org/2020/01/run-tensorflow-savedmodel-in-nodejs-directly-without-conversion.html for loading models ?

[2021-03-16 20:33] coco-moiny commented on #4816
I was running **"@tensorflow/tfjs": "^3.2.0"**, the pure JavaScript version. It doesn't allow to use tf.node features.

When I try to install  **@tensorflow/tfjs-node** it's doesn't work
- Running installation on Python 2.7 as doc suggest (_in a conda environment_).
- Build tool: Webpack 5.24.2

After installing all errors related to fallbacks I get this package.json:

[code]

And those fallbacks:

[2021-03-16 23:55] mattsoulanille commented on #4806
Thanks for the investigation, everyone! It looks like this is caused by the new `WEBGL_FLUSH_THRESHOLD` flag that increases Android webgl performance. [It makes a call to `device_util.isMobile()`](https://github.com/tensorflow/tfjs/compare/tfjs_3.0.0...tfjs_3.3.0#diff-9aa17bb319dc06c7d44dd006aec2c352e14f6ae104296fc9b31ca633def1549eR203) to determine whether it should be enabled or not, and when th

[2021-03-17 00:01] WoodburyShortridge commented on #4806
for those wanting to use @tensorflow/tfjs-core 3.3.0 on react native here's a patch:

[code]

[2021-03-17 04:01] jaygit123 opened #4820 "Detecting more than 1 hand with HandPose"
Hello Team,
Great work with hand pose detection.
Wish to know when the feature of detecting more than one hand will be made available. Also, is there a workaround/tweak now to enable detection of both hands of a person?

Regards,
Jay

[2021-03-17 13:14] rohanmuplara opened #4823 "Instance Normalization"
Instance Normalization has been moved to addons in tensorflow. https://www.tensorflow.org/addons/tutorials/layers_normalizations.
Conversions to tensorflow tfjs don't seem to work now and it is asking to define class in tfjs.
I believe it was supported before based on this issue https://github.com/tensorflow/tfjs/issues/1548.
Can the converter automatically handle this case when instance norm is c

[2021-03-17 15:15] vladmandic opened #4824 "Backend WASM does not implement kernel SparseToDense"
attempting to run nanodet object detection model

converted from pytorch - conversion notes and example of model usage are at:
<https://gist.github.com/vladmandic/d0115e3899860391382d58550bd49b3f>

[code]

same graph model works without issues in nodejs with `tensorflow` backend and browser with `webgl` backend

environment: tfjs 3.3.0 on ubuntu 20.10 with chrome 88

[2021-03-17 17:50] rthadur commented on #4824
cc @lina128 @jinjingforever

[2021-03-17 18:43] vladmandic commented on #4066
Just a quick update: both BlazeFace and HandDetect models work just fine in NodeJS using `tensorflow` backend
The issue is in how post-processing is done in JS code (it uses `FlipLeftRight` kernel func to reorient webcam input)

So if you use tfjs examples, you'll run into this issue

[2021-03-17 21:10] DCtheTall commented on #2111
@rthadur I am interested in trying to implement this, if you're still accepting contributions 😄

[2021-03-17 21:12] pyu10055 commented on #4816
@coco-moiny This is a web application right? tfjs-node allows you to execute the model on the server, it is not designed for in browser application.
There are many missing ops, one solution is to try to convert the model the TFJS layers model instead.

[2021-03-17 21:31] coco-moiny commented on #4816
Okay got you for TFJS-Node. It's actually the problem, I wanted to run tf.node on browser.

Yes this is my initial issue, I converted my SavedModel to TFJS using **Tensorflow.js Converter Version 3.2.0 (tfjs converter wizard w/ Python)** to a graph-model, I get the initial error when loading it in TFJS. Are you suggesting something else?

[2021-03-17 23:01] rthadur commented on #2111
@DCtheTall please go ahead , thank you.

[2021-03-17 23:39] #4759 closed

[2021-03-17 23:41] jinjingforever commented on #4759
Thanks for the report Joonatan!

[2021-03-17 23:46] lina128 commented on #4736
Hi @adotnusiyan and @zipweight , I'm investigating this, I'm seeing a sampleRate mismatch error in my browser, not sure if it is related, just fyi: https://github.com/tensorflow/tfjs-models/pull/612

[2021-03-18 01:00] lina128 commented on #3835
I will follow up with @wakoan on this feature.

[2021-03-18 01:34] CyrilGC opened #4828 "Tensorflow not tree shaken when embedded in library but not used"
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Only tried on Windows 10, Chrome 89.0.4389.82
- TensorFlow.js installed from (npm or script link): from npm
- TensorFlow.js version: 3.3.0

I'm creating a library where some parts are using TensorFlow, and some aren't. I use Rollup to create my lib, and also to test it. The problem is that when I use classes from my lib that do not use Ten

[2021-03-18 01:59] dhiogocorrea opened #4829 "[react-native] Tensorcamera is not properly working with expo-camera method recordAsync"
**Describe the current behavior**
After cameraRef.current.camera.recordAsync() resolves (using stopRecording, for example), it returns the URI of the video as excepted, but the video is blank (0 seconds).

**Describe the expected behavior**
The final video, from the moment that recordAsync was called to the moment that it stopped.

Testing the same code using expo-camera directly returns the video

[2021-03-18 03:15] jackfrost1411 opened #4830 "Error dumping weights, duplicate weight name block1_conv1/kernel"
[code]
Tried both the ways to convert my keras model into tfjs model. but ended up with the error:
**_Error dumping weights, duplicate weight name block1_conv1/kernel_**

![Capture](https://user-images.githubusercontent.com/48760936/111568047-08739900-87c6-11eb-9f95-461f1b38f20e.PNG)

ANY IDEA HOW TO RESOLVE THIS ISSUE!!?

For questions on how to work with TensorFlow.js, or support for problems th

[2021-03-18 05:24] adriangodong commented on #4201
Bumping this, there's a new version of @types/webgl2 that's supposed to fix the bug.
https://github.com/DefinitelyTyped/DefinitelyTyped/pull/51717

Since tfjs-backend-webgl pinned the dependency to version 0.0.5, we can't upgrade @types/webgl2 without changing tfjs-backend-webgl.

[2021-03-18 08:31] harangp commented on #1804
While the swish activation is there in the codebase, unfortunately it is not exposed, so we can't use it in a native way (I mean, adding an activation layer, and setting the activation to 'swish'). ActivationConfig is missing the 'swish' literal. Could you add it too, please? Thx.

[2021-03-18 11:29] vladmandic commented on #4746
just to confirm, tfjs-vis 3.3.0 is still BROKEN - it's built against tfjs 3.0.0:

this should be a trivial fix, why the delay?

[code]

[2021-03-18 11:49] WenheLI opened #4832 "How does tfjs handle memory when GC occurs"
From the official document, we find that tfjs can automatically handle tensor memory management when GC occurs. However, this does not happen in our practice.
Below is a snippet of code to reproduce it:

[code]

[2021-03-18 16:35] coco-moiny opened #4833 "Cannot raise UnsupportedOps during a TFJS conversion"
**System information**

- OS Platform and Distribution: macOs Big Sur 11.2.1
- Mobile device: N/A
- TensorFlow.js installed from: npm
- TensorFlow.js version: 3.2.0
- Browser version: Chrome 89.0.4389.82
- Tensorflow.js Converter Version: 3.2.0 (tfjs converter wizard w/ Python)

I have built a MNIST estimator for testing purposes as:

[code]

UnSupLayer is meant to add unsupported ops to the model

[2021-03-18 17:06] #3845 closed

[2021-03-18 17:18] rthadur commented on #1804
@harangp  thank you added to activation config

[2021-03-18 17:49] rthadur commented on #4830
In order to expedite the trouble-shooting process, please provide a code snippet to reproduce the issue reported here. Thanks!

[2021-03-18 17:52] rthadur commented on #4829
In order to expedite the trouble-shooting process, please provide a code snippet to reproduce the issue reported here. Thanks!

[2021-03-18 18:57] lina128 commented on #4736
Hi @adotnusiyan, I looked at the code you provided, it seems you provide the spectrum data to the playRawAudio function. You need to provide raw audio sound, not the spectrum data.

[2021-03-18 19:30] adotnusiyan commented on #4736
@lina128

How to play the spectrum data as audio?

Or how can I get raw audio data from listen function?

Thanks

[2021-03-18 21:07] lina128 commented on #4736
If you have a transferRecognizer with collectExample({includeRawAudio = true}). And then get the rawAudio from tranferRecognizer.getExamples()[0].example.rawAudio.

If you just want a generic solution, you need to implement your own.

[2021-03-18 22:39] dhiogocorrea commented on #4829
Added code snippet.

[2021-03-18 22:50] kirill-konshin commented on #4732
Nothing changes on our side, we're just passing more and more frames from camera to TF but at some point in time the `fenceSync`, which is not accessible by us, is breaking in a way described earlier...

[2021-03-19 01:42] #4806 closed

[2021-03-19 09:35] jackfrost1411 opened #4837 "How to use Keras.backend in TensorflowJS ?"
The below code snippet is written in python Keras.
[code]
I want to write this code in Tensorflow.JS .. I am unable to find the right lines in TensorflowJS for this code snippet.

Can anyone help ?!

[2021-03-19 14:35] mattsoulanille commented on #4663
Not stale.

The graph model is a separate issue, and splitting it so that the bidirectional LSTM layers are in separate models did not help. I still get the same `Shapes 1,1 and 1,256 must match` error.

[2021-03-19 15:14] isidorn opened #4838 "Can not convert TensorFlow model to TensorFlowJS: Unsupported Ops in the model before optimization"
Hi, I work on VS Code and we are trying to use TensorFlow for automatic programming language classification based on file content.
To be concise, we need this working in a browser, thus we would like to use TensorFlowJS, and we would like to reuse this TensorFlow model https://github.com/yoeo/guesslang/tree/master/guesslang/data/model
We are trying to convert this Model to a TensorFlowJs model usi

[2021-03-19 15:41] awamser commented on #1425
+1

[2021-03-19 15:57] pyu10055 commented on #4838
Hi @isidorn, based on the log, this model uses SparseTensor, currently it is not supported by TensorFlow.js.
We will investigate how much effort is needed to add that support, and get back to you. It would also be good to understand your timeline for this feature? Thanks

[2021-03-19 16:11] isidorn commented on #4838
@pyu10055 thanks for your reply! We do not have a strict timeline, we just think it would be a very cool feature to have. Especially for new users who do not know how to set a language mode, so automatic classification would help a lot.
Our plan was to experiment with this in April, but we can push it out to May, June or whenever this is possible.

In case you are more interested about this featur

[2021-03-19 16:54] jackfrost1411 opened #4839 "Fields kernelInitializer, kernelRegularizer and kernelConstraint are invalid for SeparableConv2D."
When using Xception in TensorflowJS, SeparableConv2D gives this error! If it's invalid then how am I supposed to use Xception architecture that I have already trained from Keras.applications.
Any idea how to fix this issue!?

![Capture](https://user-images.githubusercontent.com/48760936/111815396-9ef8a500-8901-11eb-9cd5-ad8b3bd13d06.PNG)

[2021-03-19 16:56] jackfrost1411 opened #4840 "How to use Keras.backend in TensorflowJS ?"
The below code snippet is written in python Keras.
[code]
I want to write this code in Tensorflow.JS .. I am unable to find the right lines in TensorflowJS for this code snippet.

Can anyone help ?!

[2021-03-19 17:01] driescroons opened #4841 "Cannot read property 'backend' of undefined when running the face-landmarks-detection in a comlink web worker"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow.js): no
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- TensorFlow.js installed from (npm or script link): 3.3.0
- Browser version: Chrome 89.0.4389.90

**Describe the current behavior**
I ran into an issue building a snapchat filter clone app thing. I've s

[2021-03-19 17:10] rthadur commented on #1425
cc @pyu10055 @lina128

[2021-03-19 17:15] rthadur commented on #4840
This question is better asked on [StackOverflow](https://github.com/tensorflow/tfjs/issues/new/choose) since it is not a bug or feature request. There is also a larger community that reads questions there.

[2021-03-19 17:15] #4840 closed

[2021-03-19 18:00] awamser commented on #1425
This issue might be related to how Alpine uses musl libc.  From the FAQ:

Binary compatibility is much more limited, but it will steadily increase with new versions of musl. At present, some glibc-linked shared libraries can be loaded with musl, but all but the simplest glibc-linked applications will fail if musl is dropped-in in place of /lib/ld-linux.so.2.

[2021-03-19 19:14] CyrilGC opened #4842 "Missing kernel implementations after bundle optimization"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Oly tested on Windows, Chrome 89.0.4389.90
- TensorFlow.js installed from (npm or script link): from npm
- TensorFlow.js version: 3.3.0

I'm trying to optimize the bundle of the library that I'm creating which is using TensorFlow. I followed the instructions from https://www.tensorflow.org/js/tutorials/deployment/siz

[2021-03-20 00:32] pyu10055 commented on #4838
@isidorn Nice, we are heavy users of VSCode, thank you for the great tool. We have done some research on the SparseTensor ops, I think it will be fairly straightforward for us to add those missing ops. Initial estimation would be around May timeframe.

[2021-03-20 01:36] vladmandic opened #4843 "tf.conv2d produces different results for browser and node"
i've been chasing down why same image model (object detection) has slightly different results in browser and node environments and it comes down to results of `tf.conv2d` being slightly different for the exactly same inputs.

in browser, `cpu`, `webgl` and `wasm` backends produce identical results (and WEBGL_CONV_IM2COL has no effect).
but `tfjs-node` using `tensorflow` backend produces different

[2021-03-20 09:10] bluesky12 commented on #1278
seems it could be related to how the server serves the files.
I started two different servers serving the same files, one encountered this error yet another didn't.
compare the two requests, I suspect that the `Content-Disposition` response header might be the reason, but not sure.
![image](https://user-images.githubusercontent.com/10047420/111864953-fef15900-899e-11eb-844d-ae77307fcffc.png)
![ima

[2021-03-20 12:48] ColorfulCakeChen opened #4844 "When in "webgl" backend and image width is odd, the second run of tf.conv2d() may be wrong."
**System information**

- OS Platform and Distribution: Chrome OS, Android
- Mobile device (the issue happens on mobile device, too): ASUS ZenPhone Max Pro
- TensorFlow.js installed from: script link
- TensorFlow.js version: 3.2.0
- Browser version:  89.0.4389.82 (Stable) (64 bits)

**Describe the current behavior**

- When tf.gtBackend() is "webgl".
  - If the width of the input is even, the resu

[2021-03-20 17:34] jackfrost1411 commented on #4837
I had to reopen this issue as I couldn't find the solution anywhere.. Is there an alternative for doing the above task?

[2021-03-20 17:36] jackfrost1411 commented on #4830
I resolved this issue by changing the names of the layers.

[2021-03-20 17:36] #4830 closed

[2021-03-20 19:35] schematical commented on #4811
@opiepj #2 did it for me. You are my hero!

[2021-03-21 04:35] jaygit123 commented on #4820
Hi @pyu10055 , @lina128 ,
Any update on this issue please?

Regards
Jay

[2021-03-21 05:35] valentinchelle opened #4846 "[rn-tfjs] TensorCamera memory leak on iOS"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- I used the code from the camera demo to extract the pose : https://github.com/tensorflow/tfjs/blob/master/tfjs

[2021-03-21 07:40] dusskapark opened #4847 "Unknown op 'TensorListFromTensor'."
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Codesandbox
- Mobile device (e

[2021-03-21 13:00] Fawcett-cpu opened #4848 "Custom Tensorflow Model - Object detction using Webcam in a website"
Im attempting to create a web application that uses a custom model I have created and converted to tenorflow JS to be used with a webcam for object detection. My current code uses a COCO-SSD model but I want it to use the model I have trained myself. the model is (https://github.com/Fawcett-cpu/GraphScanning/tree/main/Graph)

and this is what the code looks like HTML
`  <!DOCTYPE html>
    <html l

[2021-03-21 16:30] #4668 closed

[2021-03-22 08:02] isidorn commented on #4838
@pyu10055 fantastic news, thanks a lot 👏
I am really glad you like VS Code 😊

[2021-03-22 12:09] sandhyacs opened #4852 "Unknown op 'IsNan'. File an issue at https://github.com/tensorflow/tfjs/issues so we can add it, or register a custom execution with tf.registerOp()"
tfjs.js:41127 Uncaught TypeError: Unknown op 'IsNan'. File an issue at https://github.com/tensorflow/tfjs/issues so we can add it, or register a custom execution with tf.registerOp()
    at tfjs.js:41127
    at eM (tfjs.js:41129)
    at tfjs.js:41436
    at tfjs.js:9567
    at e.t.scopedRun (tfjs.js:9576)
    at e.t.tidy (tfjs.js:9560)
    at dx (tfjs.js:13205)
    at e.t.execute (tfjs.js:41422)

[2021-03-22 13:20] harangp commented on #4623
https://github.com/tensorflow/tfjs/pull/4790

Every check is green. Is there anything else I should do with this?

[2021-03-22 13:26] mmetelskiy commented on #3937
Seems that #4376 was reverted by #4675 and this issue should be reopened

[2021-03-22 15:11] 11mhg opened #4853 "Strided slice implementation leads to negative tensor dimension"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow.js): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 20.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: N/A
- TensorFlow.js installed from (npm or script link): yes
- TensorFlow.js version (use command

[2021-03-22 15:57] pyu10055 commented on #4832
@WenheLI I believe if you are using WebGL backend, which is the default backend if you using the union package, the tensor dispose needs to be manually initiated or using the `tf.tidy()` block.
Can you link to the document where we stated differently? thanks

[2021-03-22 17:35] sbrl commented on #4802
Huh, that's really odd. I've tried on all 3 of those machines again now and I can't reproduce it either - even with Node.js v15.5.0. Perhaps it was a transitory issue that was fixed by someone. Though why it would mysteriously affect all these different machines all at the same time I don't know.

I'll close this for now, but if I experience the issue again I'll reopen.

Thanks for the help, @pyu1

[2021-03-22 17:35] #4802 closed

[2021-03-22 20:33] #1804 closed

[2021-03-22 20:37] dhiogocorrea commented on #4829
any suggestions?

[2021-03-22 20:54] pyu10055 commented on #4837
There some of the concept of backend in the tfjs-core package, what is the particular thing you want to do on the keras backend package?

[2021-03-22 21:11] #4736 closed

[2021-03-22 21:12] jinjingforever commented on #4829
Hi Dhiogo, sorry for the delay.. I am currently a little bit busy with some other projects, but will take a look at this issue some time this week (thanks for the code snippet btw). Thank you for your patience!

[2021-03-22 21:22] rthadur commented on #4853
looks like there is shape mismatch, you need provide correct shape.

[2021-03-22 21:37] rthadur commented on #4844
I was able to reproduce the same in MAC book pro.
cc @lina128

[2021-03-22 21:41] rthadur commented on #4811
@opiepj can we close this issue ?

[2021-03-22 21:50] rthadur commented on #4847
I see you are using older version , please use latest version(3.X) as this op was added here https://github.com/tensorflow/tfjs/pull/3432. Thank you

[2021-03-22 21:50] #4847 closed

[2021-03-22 22:34] 11mhg commented on #4853
Hi @rthadur ,

I believe you are wrong in this regard as the error message clearly states `Error occured during script running/parsing:  Error: Tensor must have a shape comprised of positive integers but got shape [1,224,224,-3].` and yet I have given it a tensor of shape `[1,224,224,3]`. You'll note that this is all positive integers and the correct shape. Please review the provided colab for mor

[2021-03-22 22:53] GantMan commented on #4682
replying to un-stale.   @lina128 was the demo good enough?

[2021-03-22 23:31] dhiogocorrea commented on #4829
Hey Jin! All good, I understand! Thank you for the reply!

Looking forward to solve this issue. I have tried some workarounds, but none of them worked :(

[2021-03-23 03:44] jackfrost1411 commented on #4837
I have trained a model Keras that ends with a softmax layer. But I want to get output from an intermediate Convolution layer. How can I do this?

[2021-03-23 05:03] sivarajakani commented on #4800
Any updates? @rthadur

[2021-03-23 14:06] DCtheTall commented on #2111
@rthadur I handled the 2D case since JS doesn't let you have kwargs after variable-length argument parameters like Python and to keep the scope of the PR simple at first.

I added unit tests based on [NumPy's unit tests](https://github.com/numpy/numpy/blob/cb557b79fa0ce467c881830f8e8e042c484ccfaa/numpy/lib/tests/test_function_base.py#L2222) since the Python TensorFlow tests just compare the output

[2021-03-23 16:54] pyu10055 commented on #4843
I think this might be related to the input data, can you verify the input are the same for node and browser? I suspect fromPixels and decodeJPeg might produce different pixel values.

[2021-03-23 16:58] vladmandic commented on #4843
@pyu10055 that's the first thing i've thought of as well :)

and yes, `decodeJpeg` and `fromPixels` do produce different results - specifically, RGB values in `fromPixels` are offset by +1

but i've handled that and that's why i'm printing the checksum of the input now - to confirm input is 100% identical

[2021-03-23 17:10] jinjingforever commented on #4842
Thank you for the report CyrilGC! I will take a look at this issue this week.

[2021-03-23 17:15] pyu10055 commented on #4833
@coco-moiny I believe you are creating a tf.function named as unsuportedOps, but when the model is saved as saved model, it will only persist ops defined within the function (IsNan, RandomStandardNormal, etc).

It might be better to convert your model to tfjs-layers format and [implement custom layers](https://gist.github.com/caisq/33ed021e0c7b9d0e728cb1dce399527d) with tfjs-layers.

[2021-03-23 17:20] pyu10055 commented on #4837
You can access layers using tfjs-layers function model, example is here
https://stackoverflow.com/questions/50942677/tensorflowjs-how-to-get-inner-layer-output-in-a-cnn-prediction/51316516#51316516

[2021-03-23 17:25] pyu10055 commented on #4838
@isidorn My understanding is that VSCode is an electron app, we have node package tfjs-node that is built on top of tensorflow c++ runtime. And we have the [saved model direct execution API](https://blog.tensorflow.org/2020/01/run-tensorflow-savedmodel-in-nodejs-directly-without-conversion.html), I am wondering if that can get you started?

[2021-03-23 17:43] rthadur commented on #4623
@pyu10055 gentle ping to review the PR

[2021-03-23 17:46] rthadur commented on #4852
Related PR has been merged and will be available in next stable release, thank you.

[2021-03-23 17:46] #4852 closed

[2021-03-23 18:00] rthadur commented on #4724
you do not need to explicitly convert to Unit8Array , here is the sample code from one of the [SO questions ](https://stackoverflow.com/questions/65429456/cant-open-jpg-or-png-after-saving-it-using-node-js-fs-and-http)

`saveImageToDisk(imageurl,filepath)

            const img_buffer = fs.readFileSync(filepath)
            const img = tf.node.decodeImage(img_buffer)

            coco.load().then(

[2021-03-23 18:51] rthadur commented on #4841
Thanks for the reproduction code , I could not run the code as I was getting below error ,

![image](https://user-images.githubusercontent.com/43972606/112201899-fd59a800-8bcd-11eb-99ad-b6bb3870c351.png)

[2021-03-23 18:56] rthadur commented on #4848
Here is the sample code to load the model from local , please check

[code]

[2021-03-23 19:03] driescroons commented on #4841
as mentioned, you need to check the gh repo. The comlink-loader does not seem to work within csb.

[2021-03-23 19:42] TylerLeonhardt commented on #4838
VS Code is also used for GitHub Codespaces which is "vscode in your browser":
![image](https://user-images.githubusercontent.com/2644648/112207981-0bf78d80-8bd5-11eb-853a-eaf44e63b018.png)

So we can't assume we'll always have a node runtime.

[2021-03-24 01:14] bebensiganteng commented on #4724
@rthadur thanks, but I have a different use case. The reason I need the Unit8Array is that I need to pass the webcam image to the server.

[2021-03-24 05:43] JJwilkin commented on #4846
I've noticed this behaviour as well, I'm using the TensorCamera for live image classification and if i just have the camera preview open, sitting on my desk after about 4-5 minutes the app will crash from a memory issue.

[2021-03-24 08:39] isidorn commented on #4838
@pyu10055 thanks and yes you are correct we are an Electron app, however as @TylerLeonhardt pointed out we also have to run in the Browser for various scenarios. Apart from that the new Electron that is coming out is changing it's architecture so that all renderer processes are node free, and only one shared process can have a node dependency. We would prefer to do the classification in the render

[2021-03-24 09:12] Fawcett-cpu commented on #4848
Ive been able to load my model, however the model is not working to make predictions or detections

[2021-03-24 12:20] coco-moiny commented on #4833
I really need to use TF Estimators has a source model.

I found out that Tensors hold their Ops history and are probably used as a base to convert. I did use isNan on the predicted class in the model function and successfully managed to have an Unsupported Ops raised.

[2021-03-24 14:12] TylerLeonhardt commented on #4838
Just a heads up, my extension only works on linux as I never took the time to figure out how to properly distribute the native bits for each platform within the extension.

[2021-03-24 19:02] swirlingsand commented on #322
On first call I get `Requested texture size [0x0] is invalid.` on second call it magically works. Other implementations like coco work with same code on first run.

If I try to set this directly in JS eg
[code]
First call is without error - but no valid detections (eg returns all 0s).

[2021-03-24 23:46] opiepj commented on #4811
No

[2021-03-24 23:47] jinjingforever commented on #4829
Hi Dhiogo,

I think the issue is caused by this line:

`const TensorCamera = cameraWithTensors(Camera);`

If I move it to outside of `TFCameraRecordingTest` (e.g. right after the `import Video from 'react-native-video'` line), your could would work.

I am not a react-native expert, but I am guessing that the `setRecording(true)` call when the recording is started will trigger the component to re-r

[2021-03-25 02:11] Cuongyd196 opened #4860 "tensorflow-models/mobilenet not working when device offline"
I use tensorflow-models/mobilenet for application Reat native of me. The application works well when there is a network. But when the device is offline, on IOS applications it does not load model.

[code]

`code line: const model = await mobilenet.load(); not working on ios when device offline
`
Error on iOS:

error : network request failed.
But on Android, my application works well.

[2021-03-25 04:21] pyu10055 commented on #4838
@isidorn @TylerLeonhardt The extension looks very nice, and now we understood more about your use case, we will add those missing ops and keep you posted.

[2021-03-25 04:29] pyu10055 commented on #4833
@coco-moiny Got it, those op that does not act on the input tensor will be pruned away during the conversion. Is that you want to inject an op that can be registered in TFJS?
I think it is not that easy to do it in python, you might have to create your own TF custom op.
But if you edit the TFJS model.json file directly, you can add node to the graph with a custom op name, then you can register the

[2021-03-25 04:37] pyu10055 commented on #4823
@rohanmuplara can you share the error message when you failed to convert the model?

[2021-03-25 05:19] rohanmuplara opened #4861 "Input issues with tfjs conversion"
Hi,
I am not sure how the inputs are translated with the tfjs converter with named inputs.
https://colab.research.google.com/drive/1F1xO8950vJrw2JfVUDiid5pXAdOoo0lI?usp=sharing. I run this code multiple times and the order that the inputs appear in the conversion file change everytime(code is the same just reset runtime.) Additionally, the names change everytime, ie sometimes times input_0 and 1,

[2021-03-25 05:23] rohanmuplara commented on #3942
@vladmandic @pyu10055 anny comments on this for inputs. see issues https://github.com/tensorflow/tfjs/issues/4861

[2021-03-25 11:49] vladmandic commented on #3942
@rohanmuplara yup, it's the same issue and it's a really annoying one

i work around it by manually editing resulting `model.json` to include correct output nodes that i get from my script that analyzes original saved model and resulting graph model (some converted models are even worse and include no signature at all and then you have to look at executor workflow to see them)
<https://github.com/

[2021-03-25 15:54] rthadur commented on #4734
Hi @axinging the related PR has been merged , can we close this issue ?

[2021-03-25 16:45] MaximeKjaer opened #4864 "Automatically disposing tensors using a `FinalizationRegistry`"
**System information**
- TensorFlow.js version (you are using): 3.3.0
- Are you willing to contribute it (Yes/No): No

**Describe the feature and the current behavior/state.**

Currently, it's important to call `tf.tidy` and `tf.dispose` in TensorFlow.js code to avoid memory leaks.

I'm opening this issue to ask about whether the somewhat new [JavaScript `FinalizationRegistry` API](https://develop

[2021-03-25 16:59] rthadur commented on #4864
cc @pyu10055 @lina128

[2021-03-25 17:23] rthadur commented on #3585
Here is  the related draft from Ann https://github.com/tensorflow/tfjs/pull/3478/files

[2021-03-25 18:41] masoudcharkhabi commented on #4820
Thank you for feature request @jaygit123! @lina128 and team are actually working on a multi-hand extension to HandPose. Stay tuned!

[2021-03-25 19:04] #4842 closed

[2021-03-25 19:10] Nisthar commented on #711
any update on this?

[2021-03-25 19:14] jinjingforever commented on #4842
Hi CyrilGC,

I pushed a fix that will skip kernels that don't exist in certain backend (like FromPixels in the cpu backend). For now, please just comment it out like you did to workaround this.

The error about reshape: I suspect it is related to the chained ops. Could you please double check the chained ops section here: https://www.tensorflow.org/js/tutorials/upgrading_to_3_0#users_of_tensorflow

[2021-03-25 19:16] jinjingforever commented on #4726
Thanks Mati for the answer!

[2021-03-25 19:21] JJwilkin commented on #4726
@mati-a This didn't seem to solve the issue, I tried in a functional and class component. But it says the cameraRef.camera doesn't have that method available

[2021-03-25 21:04] jinjingforever commented on #4726
Hi Joshua,

Here is a sample code that works for me. I tested on iOS. Please check. Thanks!

[code]

[2021-03-25 21:18] JJwilkin commented on #4726
@jinjingforever Thanks that worked!  I believe the issue was I wasn't using useRef so it was accessing the camera properly. This was very helpful!

[2021-03-25 21:29] jinjingforever commented on #4726
You are welcome! Glad it works!

[2021-03-25 21:29] #4726 closed

[2021-03-26 00:39] Alpheron opened #4867 "tensorflow-models: Face-Landmarks-Detection does not work on Video"
Hello,

I was trying to recently implement a sort of facial-landmark-detector in a website that I was making. However, when I try to input an `HTMLVideoElement`, it seems that it breaks only offers the points for the first frame, despite being a 30-second video with a face at all times. I'm confused as to why this may be happening because I did use the sample code that was given on the `README.md`

[2021-03-26 03:35] pyu10055 commented on #4864
@MaximeKjaer Thank you for bring up this suggestion, I think this will be definitely be a good enhancement.
I have a couple concerns after reading through the spec:
1. We need to manage the non-JS resources allocated by the tensor (i.e. GPU texture, WASM heap), those are not visible to the JS GC. It is likely that javascript side does not need GC but GPU is OOM.
2. Looks Safari has not supported t

[2021-03-26 03:59] sandhyacs commented on #4128
Hi @vladmandic ,
I am also training a centernet model for keypoint detection fro custom input data and converting it into tfjs, but it is throwing some exception as IsNaN is not an ops. Can you please tell how can I load it in tfjs?

[2021-03-26 04:07] rakesh4real opened #4868 "Dump and load KNN Classifier"
Hey! Is there any way to dump and load [knn classifier](https://github.com/tensorflow/tfjs-models/tree/master/knn-classifier) so that we don't have to add examples everytime using `classifier.addExample` except for the first time (while training)

Ps. Asking the question here because the repo does not have issues tab.

[2021-03-26 07:11] MahdiNicoo commented on #4362
same issue on tf-js-node cpu

[2021-03-26 10:30] #4149 closed

[2021-03-26 13:51] AmmarYasir29 commented on #4778
@lina128 can you help me ?

[2021-03-26 14:42] vladmandic commented on #4128
@sandhyacs

i didn't get that error

[code]

it throws some warnings as variables are not constant, but conversion finishes without errors and model is usable

[2021-03-26 16:27] coco-moiny commented on #4833
Thank you

[2021-03-26 16:39] coco-moiny commented on #4816
To provide more informations in the hope of a feedback. Issue is related to operation_mapper.js. See image for details:

![Screen Shot 2021-03-26 at 12 34 06 PM](https://user-images.githubusercontent.com/78763856/112664108-f7fb9800-8e2f-11eb-8696-9ccf88cc87a1.png)

In my model this node refers to two Ops in the model topology of the .json file, see below:

1.
[code]

2.

[code]

Please tell me if

[2021-03-26 16:46] coco-moiny commented on #4816
To complete. If I force rename nodeName to **__inference___backward__random_gamma_cpu_371037_371236/gradients/stateless_random_gamma/Maximum_grad/Shape**

Without using **_1** or **_2** at the end. The model seems to be able to load. I cannot say if it's in a good state but it's not crashing.

[2021-03-26 16:51] rthadur commented on #4778
if you are loading the model from local folder you need to use below code

`model = await tf. loadLayersModel('model/model.json');`

[2021-03-26 17:44] rthadur commented on #4868
did you get a chance to look at this discussion regarding load and save KNN classifier. https://github.com/tensorflow/tfjs/issues/633 ?

[2021-03-26 18:26] rthadur commented on #3661
related PR https://github.com/tensorflow/tfjs/pull/4375 has been merged , closing this request.Thank you

[2021-03-26 18:26] #3661 closed

[2021-03-26 18:27] rthadur commented on #4860
can you please share full log trace ?

[2021-03-26 18:29] #4734 closed

[2021-03-26 23:46] #3422 closed

[2021-03-27 10:06] rohanmuplara commented on #3942
@vladmandic can you describe a little more about what the executor versus signature stuff is. Also, can you explain how this code above edits the script in a way that is helfpul. To me, it just seems you are just iterating the input and just outputting it back out

[2021-03-27 11:31] sandhyacs commented on #4128
@vladmandic ,
Thank you so much for the reply. I am using tensorflow 2.2.0 version and tfjs version is 2.1.0. Whenever I am converting saved model, input shape is [1, -1,-1,3] in model.json. But I am doing training for input shape 1,512,512,3. Why is it happening? Is tfjs version is incompatible?

[2021-03-27 11:37] vladmandic commented on #4128
shape dimension -1 means any number, so it still fits your input of 512.
but yes, you can see from this issue that there were two fixes required to tfjs to support centernet, so i doubt old tfjs 2.2 can work.

[2021-03-27 11:54] sandhyacs commented on #4128
So, shall I use new tfjs version? And what about tf version? Is it okay tf 2.2.0

[2021-03-27 12:07] vladmandic commented on #4128
if you take a look at <https://github.com/tensorflow/tfjs/releases>, you can see that fixes are in tfjs 2.8.2 and higher.

[2021-03-27 12:33] vladmandic opened #4870 "Cannot debug model containing Infinity as tensor value"
Original issue in #4764 was that models containing **Infinity** value could not run.
Work by @mattsoulanille in #4779 and #4783 fixed that issue.

However, if TFJS debug mode is enabled using `tf.enableDebugMode();`,
TFJS still runs checks and prevents model from running:

[code]

Model in question is at <https://github.com/vladmandic/nanodet>

Environment: TFJS 3.3.0 using WebGL backend on Chrome

[2021-03-27 13:03] vladmandic opened #4871 "running some models using webgl is 10x slower than using nodejs"
Model executes in NodeJS using `tensorflow` backend in ~100ms, but above 1sec in browser using `WebGL` backend
That is 10x difference in performance between NodeJS and `WebGL`

I've tried to figure out why a model is executing an order of magnitude slower than expected using `WebGL` backend,
but profiler info for it makes no sense

[code]

wallTime is 900-1200ms
kernelTime is ~20ms

I'm re-running

[2021-03-27 13:24] sandhyacs commented on #4128
tensorflowjs_converter --input_format=tf_saved_model --output_format=tfjs_graph_model . graph

2021-03-27 18:51:13.596899: W tensorflow/stream_executor/platform/default/dso_loader.cc:60] Could not load dynamic library 'libcudart.so.11.0'; dlerror: libcudart.so.11.0: cannot open shared object file: No such file or directory; LD_LIBRARY_PATH: /usr/local/cuda-10.1/lib64
2021-03-27 18:51:13.596925: I

[2021-03-27 13:28] vladmandic commented on #4128
are you using centernet from tfhub as i've noted in my conversion notes?
whats the version of `tensorflowjs_converter` you're using?
there is no harm of upgrading to latest `pip install -U tensorflowjs`

[2021-03-27 13:32] sandhyacs commented on #4128
tfjs version: yes i upgraded it.
I am getting error in both tf-hub and my own trained model from object detection api instuctions with tf version 2.2.0.

[2021-03-27 13:33] vladmandic commented on #4128
not `tfjs`, actual tensorflowjs tools. please post output of `tensorflowjs_converter --version`

[2021-03-27 13:36] sandhyacs commented on #4128
tensorflowjs_converter --version
2021-03-27 19:05:47.304959: W tensorflow/stream_executor/platform/default/dso_loader.cc:60] Could not load dynamic library 'libcudart.so.11.0'; dlerror: libcudart.so.11.0: cannot open shared object file: No such file or directory; LD_LIBRARY_PATH: /usr/local/cuda-10.1/lib64
2021-03-27 19:05:47.304985: I tensorflow/stream_executor/cuda/cudart_stub.cc:29] Ignore abov

[2021-03-27 13:37] vladmandic commented on #4128
only difference i see is tensorflow package should be 2.4.1

[2021-03-27 13:40] sandhyacs commented on #4128
I did same as you said to upgrade "tensorflowjs_converter --version"

[2021-03-27 13:41] vladmandic commented on #4128
tensorflowjs tools use tensorflow, so you also need `pip install -U tensorflow`

[2021-03-27 13:41] rswilem commented on #4514
Any update on this issue by any chance? Experiencing the exact same dylib error.

[2021-03-27 13:49] sandhyacs commented on #4128
i upgraded it to the latest

[2021-03-27 13:53] sandhyacs commented on #4128
![Screenshot from 2021-03-27 19-22-36](https://user-images.githubusercontent.com/20237261/112722871-d551a800-8f31-11eb-87c8-d2e1be9c9f80.png)

[2021-03-27 14:10] PierreNoll commented on #1752
I replaced in `model.json`  `BatchNorm` by `BatchNormalization` and it seems to work

[2021-03-27 14:54] driescroons commented on #4841
any update on this? Let me know if you need any more examples / help.

[2021-03-27 15:43] sandhyacs commented on #4128
the model from tf-hub is working now.. but the model which i am training is getting same error.

[2021-03-27 16:14] kinsei0916 commented on #4663
Hi @mattsoulanille

I have the same issue with my bidirectional LSTM model:
`Error in where: Shapes 1,1 and 1,64 must match`

And I found an issue that `where` op doesn't broadcast the input tensors correctly.
As [TensorFlow Docs](https://www.tensorflow.org/api_docs/python/tf/where), all input tensors `conditions`, `a`,  and `b`, are supposed to be broadcasted, whereas we get an error if we specif

[2021-03-27 16:52] pyu10055 commented on #4871
@vladmandic Have you tried with our [benchmark tool](https://tensorflow.github.io/tfjs/e2e/benchmarks/local-benchmark/index.html), I tried the file in model-tfjs-graph-m/ directory, it runs around 79ms on my mac pro 2018, but the profile time is around 1sec.
The profile time is different from the real inference time, since it is wait for GL time query for each kernel.

[2021-03-27 16:59] vladmandic commented on #4871
haven't used that tool before, will try.

what confuses me that i have two variations of the model `model-tfjs-graph-m` and `model-tfjs-graph-g`
they both have comparable execution time in `nodejs`, but, *g-variation* executes 10x faster than *m-variation* using `webgl` backend - and i can't figure out why the *m-variation* would be so slow in browser and totally fine otherwise.

[2021-03-27 17:08] vladmandic commented on #4871
Using benchmark tool, setting backend to `webgl` and leaving everything else at default values:

Model URL: <https://raw.githubusercontent.com/vladmandic/nanodet/main/model-tfjs-graph-m/nanodet.json>
Result: Subsequent average(5 runs)	114.8 ms

Model URL: <https://raw.githubusercontent.com/vladmandic/nanodet/main/model-tfjs-graph-g/nanodet.json>
Result: Subsequent average(5 runs)	65.6 ms

So diffe

[2021-03-27 19:32] vladmandic commented on #4871
Another model with same symptoms: <https://github.com/vladmandic/efficientpose>

Looking at simplest "I-Lite" variation:
<https://raw.githubusercontent.com/vladmandic/efficientpose/main/model-tfjs-graph-i-lite/efficientpose.json>

Wall times (measured in JS exactly before and after call to `executeAsync()`):
- **NodeJS**: ~150 ms
- **WASM**: ~350 ms
- **WebGL**: ~500 ms

And what does benchmark to

[2021-03-27 20:09] vladmandic commented on #4870
closing this as it turns out, this is not an incompatibility with INF, it's the INF that results due to overflow when executing model quantized to float16.

[2021-03-27 20:09] #4870 closed

[2021-03-27 20:12] vladmandic commented on #3942
signature is a signature part of the model.json, but some models do not contain properly filled out signature section, so next option is to look at actual model execution via executor.

yes, it's just iterating and outputing - but it allows for matching of saved vs graph model input/output nodes.
with a touch more work, it could rewrite actual model.json signature part - i'll do that soon.

[2021-03-27 21:09] opiepj commented on #4811
Sick... but you still have frozen layers

[2021-03-28 01:10] rohanmuplara commented on #3942
Thanks makes sense. So you are saying you are going to manually copy the saved_model from the saved  json files so the order stays the same. Another issue is I had is from the signature of the inputs are different than the names defined in the code but the model still works when I pass in the old names.  https://share.descript.com/view/OX82xb6lY7q

[2021-03-28 03:36] JJwilkin opened #4873 "Allow Tensor Camera to accept RNCamera as well"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow.js version (you are using):
- Are you willing to contribute it (Yes/No):

**Describ

[2021-03-28 11:18] vladmandic commented on #3942
@rohanmuplara that's exactly why signature part exists - so tensor names can be associated with logical names without changing the model.

[2021-03-28 12:46] schematical commented on #477
I used @aman-tiwari's solution above but now getting this:
[code]
Any ideas?

[2021-03-28 16:07] rakesh4real commented on #4868
[THIS](https://github.com/tensorflow/tfjs/issues/633#issuecomment-576218643) worked like charm! Thank you @rthadur

[2021-03-28 16:07] #4868 closed

[2021-03-28 18:11] alexander-fischer opened #4874 "Different BERT outputs in Python and Browser"
**System information**
- TensorFlow.js version: 2.8.1
- Tensorflow version: 2.4.1
- Tensorflow.js Converter Version: 2.8.2

I create a sequential model with an input and a BERT layer from transformers package (without any further dense layer or similar). I saved the model in the saved model format and converted it with tensorflowjs_converter to the tfjs graph model format to host it in a web appli

[2021-03-28 20:29] CyrilGC commented on #4842
Great, I'll keep that workaround until the fix is released. Thank you for the note about the chained op. It is now working properly and the output is now 900KB smaller.

[2021-03-28 20:46] #4760 closed

[2021-03-28 21:13] pyu10055 commented on #4871
@vladmandic The profile() method has much more overhead in WebGL comparing to WASM. It aims to measure kernel speed, no to measure inference speed. It adds GL time query at each kernel execution. The average inference time in benchmark is the more accurate measurement for deployment.

[2021-03-28 21:43] vladmandic commented on #4871
@pyu10055 I only brought up `profile()` method because I was trying to figure out why some models are
5-10x slower for inference using `WebGL` backend than using NodeJS `tensorflow` backend (that should definitely not be the case, especially how low-profile models are) - that is the key question

And when possible, I've tried using same models through other frameworks - for example, inference time

[2021-03-29 09:56] MaximeKjaer commented on #4864
This is also something I am concerned about: I'm not sure the GC pressure is high enough on the JS side to force GC before we're OOM on the external resources. A solution could be to somehow force a JS GC when the external device / process is close to OOM, but in general, GC isn't exposed like that in JS, so that's not really a possibility.

So in light of that, and having given this a bit more th

[2021-03-29 09:56] #4864 closed

[2021-03-29 11:45] jaygit123 commented on #4663
Hi @kinsei0916 ,
Thanks for the update. If you have sample code to show usage of the fix PR #4872 , do share so i can try it out for my issue?

[2021-03-29 13:06] rohanmuplara commented on #3942
I have two follow up questions.
1. I only see these signature names in the input.json but when I call
predict it doesn't seem to work with the signature names and only works
with original names used when defining the model initially.
I don't even see them in the json file.
https://share.descript.com/view/0yeqwBdDSKk
2. When we define the signature functions, how do we match them up to the
correspo

[2021-03-29 13:20] vladmandic commented on #3942
This is IMO as there is no good docs :(

- ":0" at the end of a name refers to first-instance-of, it's not an actual name
  So "input_1:0" maps to first instance of "input_1" in topology
- Input must be matched with a `Placeholder` op in topology or it cannot be used
- You can't pass logical names to model itself as `predict()` or `execute()` do not look at signature
  Signature can be used to map

[2021-03-29 13:40] rohanmuplara commented on #3942
Makes sense. thanks so much.

[2021-03-29 13:42] dmnsgn commented on #1669
Waiting for `await tf.ready()` helps.

[2021-03-29 16:08] jinjingforever commented on #4841
Sorry Dries, I have been busy with other projects, but I will take a look at this issue some time this week. Thanks for providing the sample project.

[2021-03-29 17:12] aralroca commented on #26
@caisq how can I use the `fromLogits` and `reduction` in `sparseCategoricalCrossentropy`?

[2021-03-29 18:00] #4841 closed

[2021-03-29 18:18] pyu10055 commented on #4871
@vladmandic Can you clarify on how are you benchmarking WebGL that give you 15x slowness?
For example what is the total kernel time you are referring to?
and how are you measuring the inference time?

[2021-03-29 18:25] vladmandic commented on #4871
inference time is simple:

in browser:
[code]

and in nodejs:
[code]

and i'm only measuring subsequent runs, skipping first run so webgl has time to warmup (compile&upload shaders)

for most models, webgl is fast and it's the best option (since node-gpu doesn't work due to obsolete cuda dependency from tf1).
however, for some models (i've provided examples), webgl is 10x slower than nodejs.
but r

[2021-03-29 20:48] pyu10055 opened #4883 "Align NaN propagation behavior with TF for Max/Min ops"
Since TensorFlow 2.4.0, the NaN will always propagated for Max/Min ops, we need to align TFJS with TF.

[code]

[2021-03-29 22:33] bknutson77 commented on #1884
I have been training object detection models all day and am getting the same issue.. if WebGL/GPU can't support it, why is Google AutoML creating rank 6 models on a paid service?

[2021-03-29 23:37] kinsei0916 commented on #4663
Hi @jaygit123 ,

Here is the reproduction steps:

1. Clone my repo from [kinsei0916/tfjs](https://github.com/kinsei0916/tfjs)
2. `git checkout fix-where-op` to switch to this PR branch
3. `cd tfjs-core`
4. `yarn publish-local` to build and publish locally
5. Move into your project directory and run `yalc add -D @tensorflow/tfjs-core`

[2021-03-30 00:15] danwexler commented on #4871
Note that tfjs-node-gpu [will soon be updated to use TF 2](https://github.com/tensorflow/tfjs/pull/4810), and it can be used with TF 1.15.

[2021-03-30 00:18] vladmandic commented on #4871
@DanielRuf yup, i'm monitoring that. still need to fix whatever is wrong with `webgl`

[2021-03-30 03:20] tsuckow commented on #3881
@tensorflow-butler

Yarn 2 has a strict dependency resolution system
Because @tensorflow/tfjs-data has a peer dependency on seedrandom, so must @tensorflow/tfjs or it must have an explicit dependency.

This can be worked around by adding the following to `.yarnrc.yml`:
[code]

[2021-03-30 13:44] danrossi commented on #4076
Stale ? My tests have proven the first software composition of the video to canvas is part of the resource and frame dropping issue. I'll try and pull apart the lines I picked out and see if it can be improved.

[2021-03-30 13:47] jaygit123 commented on #4663
Thanks @kinsei0916 . Shall try out.

[2021-03-30 15:55] brrbaral opened #4884 "unsupported ops"

[2021-03-30 16:20] pyu10055 commented on #4871
@vladmandic based on my test the inference time on webgl (79ms) for nandet is faster than node.js (100ms).
I am still confused about your claim that webgl is 10x slower than nodejs.
To reconciling the conceptual difference, can you provide the exact inference time you getting and how are you measure that for a single model? thanks

[2021-03-30 16:54] Ierezell commented on #1958
Hi, does anyone have a status on this feature request ?

I tried to implement it on my own but it doesn't seem to perform good (it works but accuracy is really low vs a classic mlp...)

I guess it's beause i'm using tf fonction instead of tf.layers ones ? (so no gradient registered or something like that ? )

<details>
<summary>Here is the code</summary>
<br>
<pre>
<code>
import * as tf from '@ten

[2021-03-30 17:26] vladmandic commented on #4871
i've re-converted the models while changing some resource types
it seems there was some serious clipping in the converted model (original implementation heavily uses `int64`)
which was causing trouble for `webgl` inference as the model was branching differently and doing far more work

right now, results are as expected - `webgl` is faster than `nodejs` in pretty much all cases

sorry for the fals

[2021-03-30 17:26] #4871 closed

[2021-03-30 17:30] pyu10055 commented on #4861
@rohanmuplara I took a look at your colab, looks like you can fix the input layer names by setting the name param for tf.keras.Layers API.
I have seen the signature of model created to stay the same after that change.

[2021-03-30 19:33] #4884 closed, assigned to nobody

[2021-03-31 07:37] sandhyacs opened #4886 "ValueError: Unsupported Ops in the model before optimization IsNan"
tensorflowjs_converter --input_format=tf_saved_model --output_format=tfjs_graph_model . graph

2021-03-31 13:03:49.628617: W tensorflow/stream_executor/platform/default/dso_loader.cc:60] Could not load dynamic library 'libcudart.so.11.0'; dlerror: libcudart.so.11.0: cannot open shared object file: No such file or directory; LD_LIBRARY_PATH: /usr/local/cuda-10.1/lib64
2021-03-31 13:03:49.628834: I

[2021-03-31 17:58] rthadur commented on #4886
Hi @sandhyacs , this op is added here https://github.com/tensorflow/tfjs/pull/4858 , these changes are not available in 3.3.0 , will be in next release. Thank you

[2021-03-31 19:33] badjano opened #4889 "I´m getting a H5pyDeprecationWarning on version 3.3.0"
This is what it looks like:
[code]
And this is the piece of code I´m using to convert my model into a tfjs model:
[code]
EDIT: I manually changed `keras_h5_conversion.py:123` to:
[code]
and the warning was gone
~I´m going to make a PR asap~
done
#4890

[2021-03-31 20:51] jinjingforever commented on #4848
Looks like certain tensor was incorrectly disposed somewhere in the graph.. I haven't fully investigated the root cause yet. Will take a closer look when I have more time. Thanks!

[2021-03-31 21:24] #4889 closed

[2021-04-01 06:39] TylerLeonhardt commented on #4838
Pls no bot 🙏

[2021-04-01 09:59] drnemor opened #4892 "conv2dTranspose gives different resutls on WebGL and WASM backends"
**System information**
- TensorFlow.js version: 3.2
- Browser version: Chrome 89 / pop! OS 20.04 LTS

Output of the [tf.layers.conv2dTranspose](https://js.tensorflow.org/api/latest/#layers.conv2dTranspose) on WebGL backend is different from WASM backend even for simple cases. Other layers like conv2d, upsample, etc work fine (with very small numerical differences).

Simple reproduction code:
[code

[2021-04-01 12:09] jaygit123 commented on #4663
Hi @kinsei0916 ,

I followed the steps you had mentioned but was unsuccessful in getting the fix work.
`yarn publish-local` results in the below errors. Do let me know how to progress.

_yarn run v1.12.3
$ rimraf dist/ && yarn build && rollup -c && yalc push
$ node ./scripts/enumerate-tests.js && tsc && yarn bundle
src/engine_test.ts:494:49 - error TS2339: Property 'arrayWithExactContents' does no

[2021-04-01 15:00] #2111 closed

[2021-04-01 17:00] kinsei0916 commented on #4663
Hi @jaygit123 ,

It seems that jasmine is not installed or you use an outdated version of it.
Please try running `yarn` before step 4.

[2021-04-01 17:48] jinjingforever commented on #4848
My colleague pushed a fix https://github.com/tensorflow/tfjs/pull/4894 which should fix this issue. I tried it and your model seems to run without throwing errors (but it took several minutes to finish). Please give it a try! Thanks!

[2021-04-01 17:48] #4848 closed

[2021-04-02 11:07] HaiderSultanArc opened #4898 "loadLayersModel can't load model from a Server that assigns a Token or Key to the Files"
loadLayersModel function takes in a URL to model.json file. It then updates the URL to load bin files holding weights of the model by replacing model.json with the bin file name. It works fine until the files are saved on a server that assigns a token or key to the files URL, in my case, it was Firebase Storage.
So the URL of my model.json file looks like this:
https://firebasestorage.googleapis.c

[2021-04-02 13:19] rohanmuplara commented on #4861
Yes thanks for the tip and this works great. I don't think this as much of a tfjs issue more like regular tensorflow issue and this could be just my opinion but it would be a little more idiomatic/convenient for it to use the dictionary provided in model  than to use passing in the names to the input.  Right now it never uses the names provided in dictionary to model and will only change signature

[2021-04-02 13:21] rohanmuplara commented on #3942
hey @vladmandic https://github.com/tensorflow/tfjs/issues/4861 great suggestion by tfjs team if you add names to input layers it seems to work. I also think most of these problems are on the regular tensorflow serializer side actually.

[2021-04-02 13:29] vladmandic commented on #3942
@rohanmuplara good stuff, but doesn't help when i'm converting a pretrained model.

[2021-04-02 15:06] #4898 closed

[2021-04-02 15:09] HaiderSultanArc commented on #4898
I found out we don't need TOKEN in the URL to the model.json, when I removed the TOKEN the error was still there because the URL misses folderName%2F before group-shard1of3.bin file(s). You can just edit that in model.json in the Paths. Just add %2F before the names of the bin files.
Can't believe it took me so long to figure it out. All I needed was a little break from the bug. Well that's a less

[2021-04-02 15:41] pyu10055 commented on #4892
@drnemor I am curious if you are using tf.randomNormal, the input would change on every execution, it will lead to different output.

[2021-04-02 17:31] rthadur commented on #4018
This is a duplicate of https://github.com/tensorflow/tfjs/issues/4019 ,closing this issue

[2021-04-02 17:31] #4018 closed

[2021-04-02 17:35] rthadur commented on #4010
This has been answered on [stackoverflow](https://stackoverflow.com/questions/64115997/tensorflowjs-expects-3-dimensions-even-though-i-trained-it-with-2-in-python/64169813#64169813) and was accepted, closing this issue. Feel free to @mention if this is not correct, so that we can reopen the issue. Thank you

[2021-04-02 17:35] #4010 closed

[2021-04-02 18:47] rthadur commented on #1955
I believe this is implemented here https://github.com/tensorflow/tfjs/pull/1953/files , thank you

[2021-04-02 18:47] #1955 closed

[2021-04-02 19:09] rthadur commented on #1838
This is fixed here https://github.com/tensorflow/tfjs/pull/2169

[2021-04-02 19:09] #1838 closed

[2021-04-03 09:40] MareSeestern commented on #4806
Choosing a backend with

`tf.setBackend('cpu')`

solved the problem for me.

[2021-04-03 17:24] ViniDalvino opened #4901 "[Codelab]: Making Predictions from 2D Data | Getting error "SyntaxError: Cannot use import statement outside a module""
I am getting the following error while doing the codelab `Making Predictions from 2D Data `. I am doing the codelab in nodejs. Here is the error I am having:
[code]

I tried modifying the module so it is a module by editting the package.json however I am still having the error. Here is my code:

[code]

[2021-04-04 02:53] JJwilkin opened #4902 "Memory Leak in TensorCamera when remounting repeatedly"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow.js): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): React Native 0.63.4
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: iPhone 8 Plus
- TensorFlow.js installed from (npm or script link): npm
- TensorFlow.js version (u

[2021-04-04 08:14] MareSeestern commented on #3186
Returns :
`null is not an object (evaluating '_removed.FileSystem.readAsStringAsync')`

[2021-04-04 08:38] MareSeestern commented on #3186
My IDE automatically used the wrong import. I changed

`import {FileSystem} from "expo/build/removed.web";`

to:

`import * as FileSystem from 'expo-file-system';`

with `npm i --save expo-file-system`

[2021-04-04 20:46] driescroons commented on #4841
Thanks for the reply @jinjingforever. I've tried what you suggested and got it to work. Seems like rendering the video to an offscreen canvas and passing the imageData to my webworker is a bit slower than running everything in the main thread though. I should do some benchmarking.

For anyone else, here are the changes I've made:
https://github.com/driescroons/tensorflow-comlink-issue/compare/feat

[2021-04-05 04:22] sandhyacs commented on #4886
Hello,

When will latest version be release?

[2021-04-05 14:29] caisq commented on #2349
I'm working on this.

[2021-04-05 16:59] #4832 closed

[2021-04-05 17:56] rajwanialiya opened #4904 "QUESTION: Live OCR using Tensor Camera"
Hi! I'm creating an Android application that performs image classification and OCR on the same image. My original plan was to use two separate cameras in the app; RNCamera to perform live OCR, and Tensor Camera to form image classification. I chose this approach because I haven't had success using Tensor Camera for live OCR, and RNCamera doesn't allow users to easily access the camera stream, maki

[2021-04-05 18:11] f-w commented on #2341
Problem persists. @tensorflow/tfjs-node@1.7.4, node@14.5.0, OS: Windows 10 64bit.

[code]
The file exists barring prefix `\\?`.

[2021-04-05 18:24] 11mhg commented on #4853
This bug is still an issue and has not be addressed. Commenting to keep alive as it is definitely not stale as it has not been addressed.

[2021-04-05 18:36] 11mhg commented on #4853
I've managed to narrow this down to an issue with adding a lambda layer to the python model prior to js'ifying it.

that is to say
[code]
This model results in an issue with the strided slice and yet if one removes the lambda with that preprocessor, one gets a model that works fine when converted to tensorlfow js.

This is particularly strange because vgg19's preprocessing is simply reversing RGB

[2021-04-05 19:19] rthadur commented on #4904
cc @pyu10055 @mattsoulanille

[2021-04-05 19:27] rthadur commented on #4886
Probably next week , Thank you

[2021-04-05 19:27] #4886 closed

[2021-04-05 19:35] rthadur commented on #4901
please check this link https://stackoverflow.com/questions/58384179/syntaxerror-cannot-use-import-statement-outside-a-module as how to configure the package.json in your case, you can also try this live demo glitch which is working https://glitch.com/edit/#!/tfjs-training-one?path=index.html%3A1%3A0

[2021-04-05 20:35] #4901 closed

[2021-04-05 23:55] ViniDalvino commented on #4901
lol

[2021-04-06 04:57] huningxin opened #4905 "After tf.Tensor creation, its value can be changed by input TypedArray (not immutable)"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow.js): yes
- OS Pl

[2021-04-06 17:56] rthadur commented on #4905
@huningxin  Tensor's are immutable and Variable is a fairly thin wrapper around that to allow reassignment.Tensor are results of computation so you are able to change the value of tensor output.

[2021-04-07 00:02] GantMan commented on #4682
@pyu10055 @lina128

Just checking if you can look into this soon.

[2021-04-07 00:19] lina128 commented on #4682
Hi @GantMan , sorry I haven't had a chance to look into it yet. @pyu10055 Do you have any idea what could cause this double loading?

[2021-04-07 00:26] huningxin commented on #4905
In the test code above, the tensor output is changed without any computations. Is that the expected behavior?

[2021-04-07 03:53] rohanmuplara opened #4907 "Difference between First Run on Benchmark Run and In Code"
When I run a model for first time, it is slow. This is expected. However, the difference in times I get for the first time is way different in benchmarking setup(https://tensorflow.github.io/tfjs/e2e/benchmarks/local-benchmark/index.html) and my own custom setup https://github.com/rohanmuplara/tester/tree/test_tfjs/graph I see the time difference for warmup inference differ between 200ms and 2000m

[2021-04-07 10:52] saghul commented on #4177
Does anyone here have a copy of the initial (Apache 2 licensed) model card?

[2021-04-07 16:50] rthadur commented on #4905
but the the variable `array` is mutable , so the value is changed

[2021-04-07 22:17] vladmandic commented on #4905
tensor data is just a reference *until* it's first used - then it becomes internal to tensor and immutable.
for example, if you perform *any* operation on a tensor (even a no-op such as `tensor = tensor.add(0);`), the result of that op becomes internal to tensor and no longer associated to original variable.

[2021-04-08 00:08] huningxin commented on #4905
According to the doc, "A tf.Tensor object represents an immutable, multidimensional array of numbers that has a shape and a data type.", I suppose it should be immutable after creation. The change of `array` should not impact `tf.Tensor`.

`tensor.add` just returns another tensor. My issue is about the user created tensor, it should be immutable after creation.

[2021-04-08 00:16] vladmandic commented on #4905
In theory, completely agree
In practice, it would just cause another data copy

If you really need it, trigger that copy manually using tf.clone or by using spread operator on the array when creating tensor

[2021-04-08 00:55] #4829 closed

[2021-04-08 01:03] wingman-jr-addon commented on #4907
Sometimes `async` is an interesting source of non-determinism. I also noticed that it appears you are getting the Tensor but never actually getting the data out of it - which is an important step that takes time. What happens if you run the following code for benchmark.js? For me times increased; times were already fairly smooth anyways. (FF87, Win 10)
[code]

[2021-04-08 01:06] huningxin commented on #4905
If the `array` is a JS array, there is no issue. So I suppose it is an optimization for typed array. My point it would be helpful if this typed array optimization could be documented.

Does that make sense?

[2021-04-08 01:34] wingman-jr-addon commented on #4800
@sivarajakani Quick question: is the default backend (before you set it) WebGL? If so, you are probably just seeing the difference in performance between the two backends on your machine. As an example: on my machine, WASM is often about 10x slower than WebGL for a MobileNetV2 prediction, but for someone who uses my project, WASM performs faster than WebGL. So it can vary a lot based on the setup.

[2021-04-08 01:51] rohanmuplara commented on #4907
@ wingman-jr-addon. Totally get your point about datasync.

If you look at first post above https://github.com/tensorflow/tfjs/issues/4907#issue-851978678, there is a more complicated setup where I do do datasync. I just didn't do datasync above to make it easier; ie is syncing time causing delays. I do agree subsequent iterations are really fast and I tried your setup above and doesn't really mak

[2021-04-08 02:14] vladmandic commented on #4905
It does

[2021-04-08 02:23] rohanmuplara commented on #4871
@vladmandic any comments on this issue https://github.com/tensorflow/tfjs/issues/4907. Do you notice any problems between benchmark tool and own profiling for first run?

[2021-04-08 02:24] wingman-jr-addon commented on #4907
@rohanmuplara  Ah, well if you're wondering about the specifically why the first inference is so slow, that was discussed over in #1715 - basically the shaders are compiling if you're using WebGL the first time through.  As a side note: try the WASM backend as a comparison once, but be aware performance differences on backends vary greatly from machine to machine. As an example, WASM is much slowe

[2021-04-08 02:26] rohanmuplara commented on #4907
@wingman-jr-addon My question is why

 The problem for me is the first iteration time. It is (10 to 20 more times slower than subequent runs). My two questions are a. https://tensorflow.github.io/tfjs/e2e/benchmarks/local-benchmark/index.html this is way slower(10-20x) than I get in benchmarking tool for first run. Subsequent runs in my setup are relative same time as benchmarking tool but the fir

[2021-04-08 03:18] wingman-jr-addon commented on #4907
@rohanmuplara I see, sorry for being dense.

Well, I may be able to solve part of your mystery but not all of it. If I'm not mistaken, the benchmark may actually be doing a prediction inside the model load itself. From https://tensorflow.github.io/tfjs/e2e/benchmarks/local-benchmark/index.html :
[code]

Now looking at your video I see that the model load time is still too small to account for this

[2021-04-08 04:54] rohanmuplara commented on #4907
Hey man no need to apologize. I am super appreciative of all your help!

Yes in the benchmark tool I get this discrepancy every time. I used a custom model (have tried at least 20.)  and have observed this error in all of them.  I think you are correct that line shouldn't be there or more documentation be around it. I think the problem is there is no await for that prediction. Please see this vide

[2021-04-08 11:55] vladmandic commented on #4907
@rohanmuplara

No idea why benchmarking tool would result such a huge difference on first inference other than minor difference that:
a) benchmark tool uses `model.executeAsyc()` for custom graph-based models and `model.predict()` only for layers-based models
   while it uses `model.predict()` for all predefined models
b) benchmark tool uses `tf.randomNormal();` to setup input tensor (vs your use

[2021-04-08 14:23] rohanmuplara commented on #4907
@vladmandic thanks for all your points again.

not sure if you care about the details but I **think not sure ** issue is https://share.descript.com/view/0Fqye7z8hGW. the load model calls (predictFunction) with no await and in custom models these are async (so they return once executeSync is called not returned) so this time doesn't get accounted for.

On the point of optimization, I get all your p

[2021-04-08 16:28] vladmandic commented on #4907
`predictFunction` is has variable definition:
- for predefined models it's simply `model.predict()` which is a sync call
- for custom models, if model is of type layers, it's also just `model.predict()`
- for custom models, if model is of type graph, it wraps it in a try/catch block trying `model.execute()` (which is also a sync function) first and `await model.executeAsync()` in catch block if mo

[2021-04-08 16:43] rohanmuplara commented on #4907
Yes I agree with everything with you're saying.   As you mentioned, in custom graph models is as async functions because it is calling executeAsync.  Although there is an await within this function, there is no await outside it I think main culprit is this line   https://github.com/tensorflow/tfjs/blob/38f8462fe642011ff1b7bcbb52e018f3451be58b/e2e/benchmarks/local-benchmark/index.html#L469. So in t

[2021-04-08 16:55] #4837 closed

[2021-04-08 16:55] #4758 closed

[2021-04-08 17:09] vladmandic commented on #4907
`predictFunc` would not return `timeInfo` without await - see :
[code]

where `predict` is:
[code]
where this `predict` is a conditional function that uses `model.predict()` or `model.execute()` or `model.executeAsync()`
also, initial inference time is just `timeInfo.times[0]`, there is no other handling for it.

[2021-04-08 17:46] rohanmuplara commented on #4907
Sure I think the point is that predict is called in the load function itself so the warmup time is actually the second time it is called which is a little unintuitive. In this call, there is no await used so for custom models this time of the first run isn't even counted in the load function. Ihttps://github.com/tensorflow/tfjs/blob/38f8462fe642011ff1b7bcbb52e018f3451be58b/e2e/benchmarks/local-ben

[2021-04-08 17:55] #3762 closed

[2021-04-08 18:16] pyu10055 commented on #4905
@huningxin Thank you for raising this issue. I agree, we should document this limitation properly.

[2021-04-08 18:23] vladmandic commented on #4907
possibly - i never relied on that e2e benchmark other when tfjs staff asked me to run it - i prefer to run my own benchmarks
anyhow, the core here is slow initial inference when using `webgl` backend and we've covered that

[2021-04-08 18:32] pyu10055 commented on #4907
@rohanmuplara @vladmandic @wingman-jr-addon great discussion here, seems the inference time measurements are bit confusing here. I Agree we should not pack the first inference into the model loading and there might be a bug in measuring as well. We will address those.

[2021-04-08 19:32] rohanmuplara commented on #4907
@vladmandic @pyu10055 @wingman-jr-addon thanks for all your help!

[2021-04-09 01:25] #2349 closed

[2021-04-09 06:32] valentinchelle commented on #4902
I face the same issue, i opened a ticket here : https://github.com/tensorflow/tfjs/issues/4846

I then tracked down the leak to expo-gl's method createCameraTextureAsync() ( used in TensorCamera ). I wrote a ticket there too : https://github.com/expo/expo/issues/12468

[2021-04-09 07:36] shivamchauhan20 opened #4918 "Error: Size(8192) must match the product of shape 2,0,0"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow.js):
- OS Platfo

[2021-04-09 08:54] drnemor commented on #4892
@pyu10055 I used the same random seed, so randomNormal gives same tensor on each execution regardless of chosen backend. You can check that by replacing ```model.add(tf.layers.conv2dTranspose(cfg)) ``` with ```model.add(tf.layers.activation({batchInputShape: [1, 144 , 256, 3], activation: 'linear'}))```. This gives exactly the same tensors on both backends. Also, you can check other layers like ``

[2021-04-09 11:03] PabloRN commented on #4679
Any solution for this issue? Thx

[2021-04-09 11:05] PabloRN commented on #3881
In case that I'm not using Yarn and I have the same issue? Thank you

[2021-04-09 15:06] rthadur commented on #4918
In order to expedite the trouble-shooting process, please provide a code snippet to reproduce the issue reported here. Thanks!

[2021-04-09 16:09] kiancross commented on #4679
What package manager are you using?

[2021-04-09 17:55] #4833 closed

[2021-04-09 18:55] #4860 closed

[2021-04-09 18:58] #4193 closed

[2021-04-09 21:10] majercakdavid commented on #3900
Hi @rthadur  I can observe just the same behavior for the tfjs version 3.3.0. However, I would consider this as a feature request as per API (https://js.tensorflow.org/api/latest/#conv2d) TFJS does not yet support conv2d layers with groups. So even though the information about the groups is embedded into the tfjs model json file its not considered during the parsing.

[2021-04-09 23:55] #4905 closed

[2021-04-11 14:36] escanor-98 commented on #1531
i developed model in pkl format now i want to deploy it in an app so need is pkl should get converted to tflite. how to do that???

[2021-04-11 15:23] ycccccccyc commented on #3300
@tafsiri Can you please help me fix this: ` [TypeError: undefined is not an object (evaluating 'env().platform.encode')]` when I am trying to run the integration_rn59/WebCam demo... and I am using expo 40.0.0, tfjs-react-native 0.2.3 or ^0.5 cannot deal with it too
It occurses when running base64ImageToTensor where tf.util.encodeString() exists. And the tf.util.encodeString() function just can't g

[2021-04-12 01:35] haoyunfeix opened #4921 "[tfjs-models] PoseNet demo cannot build successfully"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): **Window 10, Ubuntu 20.04**
-

[2021-04-12 01:35] haoyunfeix commented on #4921
@pyu10055 @lina128 PTAL, Thanks

[2021-04-12 04:52] sivarajakani commented on #4800
**is the default backend (before you set it) WebGL?**

I think CPU is the default backend in TensorFlowJS, but I'm not sure about that. So I tried CPU and WebGL. WebGL runtime same as the default runtime, and the CPU runtime is greater than the default runtime. From these results, I confirmed WebGL is the default backend in my project.

Thank you, @wingman-jr-addon.

[2021-04-12 04:52] #4800 closed

[2021-04-12 09:29] abhishek-peri opened #4923 "optical flow tracking of the facelandmarks in video/live webcam feed"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow.js version (you are using):
- Are you willing to contribute it (Yes/No):

**Describ

[2021-04-12 14:40] #4816 closed

[2021-04-12 15:29] gbaned commented on #4923
cc @pyu10055

[2021-04-12 20:46] H-s-O commented on #2611
@kangyizhang Without getting into details, I'm working on an an Electron app where we need to run the PoseNet model but also other models as well with OpenCV via a native addon. We are currently limited currently because PoseNet on tfjs-node-gpu eats all available VRAM when starting inference and there's no VRAM left for any other models.

[2021-04-12 22:00] ZhangTianrong commented on #4052
Hi, I am encountering the same problem. How did you copied the dll? I cannot find it anywhere.

[2021-04-13 02:55] vladmandic commented on #4923
@abhishek-peri i've played with it a bit, but it's too much math for javascript - execution time ends up slower than model inference.

btw, current `blazeface` + `facemesh` combo already skips detection if boxes are known and just modifies boxes coordinates depending on mesh results, so it skips detection inference as much as possible and just runs mesh inference (although that algorithm is a bit

[2021-04-13 14:03] rthadur commented on #3900
@majercakdavid thank you , marking this as a feature request.

[2021-04-13 14:09] rthadur commented on #4921
@haoyunfeix thanks for reporting, I can confirm the same issue on Mac OS , @pyu10055 @lina128 should we revert the babel/core version ? if yes I can submit a PR

[2021-04-14 01:01] vladmandic opened #4927 "Using WASM with NodeJS but LoadGraphModel does not accept local file as input"
`WASM` backend is supported in `NodeJS` environments as per
<https://blog.tensorflow.org/2020/03/introducing-webassembly-backend-for-tensorflow-js.html>

And yes, loading `tfjs` and `tfjs-backend-wasm` and setting backend to `wasm` works fine - but then how to use it?

[code]

[code]

So I've started a dev web server just to load models using *http://...* - and it works - but that really goes agai

[2021-04-14 02:40] lina128 commented on #1884
This will be fixed by https://github.com/tensorflow/tfjs/pull/4928
We will release this fix in 3.5.0 on Monday 4/19.

[2021-04-14 11:24] rohanmuplara commented on #4907
@vladmandic @pyu10055 @wingman-jr-addon https://share.descript.com/view/YT5OGQnajc3. To be clear, I only care about first time inference speed.  I noticed if I have two models with same architectures, the second one's (first time) inference is really fast. I was wondering why that happened and how to reason about it. I believe that they have some weights that are similar and some weights that are

[2021-04-14 11:34] vladmandic opened #4930 "tfjs 3.4.0 has been released on cdnjs, but it's not on github releases page and there are no release notes"
`tfjs` **3.4.0** has been released on <https://www.npmjs.com/package/@tensorflow/tfjs>,
but it's not on <https://github.com/tensorflow/tfjs/releases> releases page and there are no release notes

environment: tfjs 3.4.0 on ubuntu 20.10

[2021-04-14 18:38] rthadur commented on #4930
@vladmandic release notes has been updated and i see it here https://github.com/tensorflow/tfjs/releases, thanks for noticing this.
cc @lina128

[2021-04-14 18:43] vladmandic commented on #4930
yup, it's online now, closing the issue.

[2021-04-14 18:43] #4930 closed

[2021-04-14 19:32] vladmandic opened #4932 "tfjs 3.4.0 regression: wasm causes browser hang"
tfjs 3.4.0 was just released and unfortunately wasm module is somewhat broken

to be precise, `tfjs-backend-wasm.wasm` and `tfjs-backend-wasm-simd.wasm` seem to work (although haven't tested in depth)
what's definitely broken is `tfjs-backend-wasm-threaded-simd.wasm`

and symptoms are simple - complete browser hang,
up to a point where browser window is nonresponsive to close requests and requires

[2021-04-14 19:55] alexander-fischer opened #4933 "Add Training BERT with TFJS to Gallery"
I created a tutorial for training a classifier on top of BERT within the browser and with TensorflowJS. I would like to contribute it to the gallery, if it fits your requirements. If I need to change sth, feel free to contact me.

Here are the links:

[Blog article](https://alexfi.dev/blog/tensorflowjs-bert-train)

[Github Repo](https://github.com/alexander-fischer/browser-bert)

[Demo](https://br

[2021-04-14 21:06] rthadur commented on #4932
https://github.com/tensorflow/tfjs/issues/4796 this might be related , will try to test in my local as well and update , thank you

cc @mattsoulanille

[2021-04-14 21:14] rthadur commented on #4933
cc @pyu10055 @jasonmayes

[2021-04-14 21:15] rthadur commented on #4933
here is the gallery where you can add https://github.com/tensorflow/tfjs/blob/master/GALLERY.md , once it is approved by team.

[2021-04-14 22:45] jasonmayes commented on #4933
This could live under the tutorials section of GALLERY.md so if you add a new line item there with the relevant links to the above in that new line item and create a pull request then the team can merge that.

[2021-04-14 23:22] pyu10055 commented on #4682
@GantMan @lina128 I took a quick look at the implementation of [URLDataSource](https://github.com/tensorflow/tfjs/blob/master/tfjs-data/src/sources/url_data_source.ts#L43)

It currently does not support data caching, which means every data iteration would cause a separate data download.
The main concern is the memory usage if we retain the data for iterators.

[2021-04-15 00:24] #1884 closed

[2021-04-15 01:02] lina128 opened #4934 "Benchmark tool freeze with tfjs@3.4.0"
The benchmark tool freeze (no response) with the latest tfjs@3.4.0 release. https://tensorflow.github.io/tfjs/e2e/benchmarks/local-benchmark/index.html

[2021-04-15 01:08] GantMan commented on #4682
Thanks for catching this!  Yeah, with large CSV files the performance hit is very noticeable.

[2021-04-15 02:21] pyu10055 commented on #4934
@lina128 this may related to https://github.com/tensorflow/tfjs/issues/4932

[2021-04-15 03:11] lina128 commented on #4932
I test in my local, the problem is gone after turning off the SIMD flag in chrome. We are working on a fix. Thank you for reporting the bug!

[2021-04-15 06:17] Michael-F-Bryan opened #4935 "Unable to load TensorFlow Lite models from memory"
**System information**
- `@tensorflow/tfjs-tflite ^0.0.1-alpha.1`

**Describe the feature and the current behavior/state.**

The `@tensorflow/tfjs-tflite` package currently only provides a `loadTFLiteModel()` function which accepts a URL to load a TensorFlow Lite model from. We already have the model in memory (as an `ArrayBuffer`) and were hoping to avoid the need for a round trip to the server.

[2021-04-15 07:12] axinging opened #4936 "[wasm] Error downloading wasm-binaries.tbz2 when yarn build or build-npm"
In windows, under tfjs-backend-wasm folder,  yarn build(or build-npm) failed due to Error downloading.
In linux, everything goes well.

When I tried yarn build-npm, it complains:
[code]
It seems  file https://storage.googleapis.com/webassembly/emscripten-releases-builds/win/89202930a98fe7f9ed59b574469a9471b0bda7dd/wasm-binaries.tbz2 can not be downloaded by chrome.
And https://storage.googleapis.c

[2021-04-15 07:55] qjia7 opened #4937 "Env flag affects the peak memory in e2e benchmark."
Steps to reproduce:
1. Access https://tensorflow.github.io/tfjs/e2e/benchmarks/local-benchmark/index.html
2. Use the default backend `wasm` and click `Run benchmark`.
3. See the left table

Peak memory | 19.63 MB
-- | --
4. Switch to `webgl` backend. Change any flags, for example `webgl pack`. And then switch back to `wasm`.
5. Click `Run benchmark` again. The peak memory increases as below:

Peak

[2021-04-15 07:56] qjia7 commented on #4937
fyi @lina128. This is the issue that I mentioned in yesterday's meeting.

[2021-04-15 10:20] phamquyhai commented on #4669
hi @SL-CodeBlaster
I have same issue. how to fix it?

[2021-04-15 10:30] floe commented on #4177
Tried to get it via Wayback Machine, but no luck so far...

[2021-04-15 12:33] JoeyChuuichi opened #4939 "model .infer() cannot specify endpoint output on script link but works on npm"
**System information**

- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: just on desktop browser
- TensorFlow.js installed from script link and nodejs : 3.3
- MobileNet version: 2.1.0

**Describe the current behavior**
I would like specify one endpoint as an output of MobileNet.
According to the example [here](https://github.com/tensorflow/tfjs-models

[2021-04-15 16:50] gbaned commented on #4935
cc @pyu10055

[2021-04-15 18:40] #3542 closed

[2021-04-15 18:40] #3040 closed

[2021-04-15 22:48] pyu10055 commented on #1679
packed depthwise conv2d accuracy issue has been fixed.

[2021-04-15 22:48] #1679 closed

[2021-04-15 23:02] pyu10055 commented on #4932
@mattsoulanille This maybe related to the recent changes to bazel wasm build, https://github.com/tensorflow/tfjs/pull/4769

[2021-04-16 01:08] vladmandic commented on #4746
@rthadur @lina128 @pyu10055

I just checked and this is STILL broken in 3.4.0. And it's a regression since `tfjs` 3.1.0
This is a completely TRIVIAL fix and it's still lingering - `tfjs-vis` simply has not updated it's dependencies since tfjs 3.0.0

[2021-04-16 01:10] vladmandic commented on #4716
@rthadur @lina128

is there any chance of this being looked at?
it's open since Feb with full reproduction available?

[2021-04-16 01:12] vladmandic commented on #4166
@rthadur @jinjingforever @annxingyuan

one more ping regarding issue open since october 2020 without any progress?

[2021-04-16 02:04] wingman-jr-addon commented on #4907
I was pretty sure I'd read someplace that the shader compilation happens the first time through. If so, I would expect that the weights are only data rather than a difference in shader, so that would align with your experience. I'm not familiar with the guts though.
As an experiment, I suspect that with the WASM backend you will likely not see as much of a difference between model runs.

[2021-04-16 03:19] rohanmuplara commented on #4907
@wingman-jr-addon I am not too interested in wasm backend as it is significantly slower. So my question on your response is a. I had two different model references so somehow either tfjs or gpu have to figure out that these are the same b. when does it do this; ie if models have on more layer that is different? like how exactly same do the architectures have to be; trying to get intuition on this.

[2021-04-16 06:38] JoeyChuuichi commented on #4939
Here I suppose nodejs source code and the code by HTML script input should be the same if the version is the same?

I first check the nodejs-version code, especially the part that does "infer" in MobileNet:

[code]

It seems that it is finding an endpoint for output normally.

However, the source code from HTML script link input seems a bit different:

[code]
I guess ```e``` here is the image tens

[2021-04-16 06:57] alexander-fischer commented on #4933
merged

[2021-04-16 06:57] #4933 closed

[2021-04-16 08:25] Master-of-moyu opened #4943 "tfjs-converter"
**System information**
- macOS 10.13.6

**Describe the problem**
I download a TensorFlow SavedModel from 'https://tfhub.dev/google/imagenet/mobilenet_v2_100_224/classification/4' , and i use
`tensorflowjs_converter --input_format=tf_saved_model  ./imagenet_mobilenet_v2_100_224_classification_4/ ./mymodel`
to convert it to a tfjs model, but i. get the following result:
`ValueError: Signature 'servi

[2021-04-16 10:40] JoeyChuuichi commented on #4939
Problem solved by using model.execute similar to [here](https://github.com/tensorflow/tfjs-models/blob/238dd2e909d7f371b787605cf503a2888c00bf09/mobilenet/src/index.ts#L227-L236)

It would be great if model.infer() allows us to directly input the endpoint name.

[2021-04-16 10:40] #4939 closed

[2021-04-16 11:22] vladmandic commented on #4907
it's not per-model or per-layer, it's per kernel op - each kernel op is compiled into a shader.
so there is a lot that can be reused between models

and regarding weights, note that although that bin files may look very different, a lot of models start in the same place (same base weights which are only added on during training)
so if models are based on the same architecture (e.g. mobilenet v2 be

[2021-04-16 13:11] Reaper622 opened #4944 "TypeError: t is not a function"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow.js):
[code]
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): MACOS 11.2.3
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: no
- TensorFlow.js installed from (npm or script link): npm
- TensorFlow.js version (use command belo

[2021-04-16 14:40] #4861 closed

[2021-04-16 16:27] jinjingforever commented on #4166
Sorry.. I currently don't have bandwidth to tackle this issue... Not sure if anybody else has time to take this? @rthadur @mattsoulanille @pyu10055

[2021-04-16 18:40] #3776 closed

[2021-04-16 18:40] #4019 closed

[2021-04-16 18:46] sudo-carson opened #4947 "Delete called on a Tensor not referenced with Node.js worker_threads"
Using `tf.tidy` in a Node.js worker thread sometimes causes `Error: Delete called on a Tensor not referenced` if two instances of the thread are running at the same time.

- OS: Windows 10 20H2
- TensorFlow.js version: v3.3.0
- Node version: v14.16.0

[code]

[code]

[2021-04-16 19:23] jumrz commented on #4317
Hello,
I've followed the dev of the support 2.4 (https://github.com/tensorflow/tfjs/issues/4193) and I thank you a lot for it.

Is there any other dev needed to be able to use CUDA11 now ? (with tf-node-gpu on Win10)
Thanks for your return.

[2021-04-16 19:40] #2057 closed

[2021-04-16 19:40] #1976 closed

[2021-04-16 20:29] rthadur commented on #4943
did you specify `--signature_name` in the following example ?
`tensorflowjs_converter \
    --input_format=tf_saved_model \
    --output_format=tfjs_graph_model \
    --signature_name=serving_default \
    --saved_model_tags=serve \
    /mobilenet/saved_model \
    /mobilenet/web_model`

[2021-04-16 23:45] rohanmuplara commented on #4907
@vladmandic quick follow up. a. who does this kernel op duplication check is it it tfjs code/ or gpu? b. totally agree that weights are very similar; ie the architecture I used had was 99% mobilenet which by default loads pretrained weights;  I was wondering if the weights were different, do you still get savings. If I have a pipeline of 5 models, they will all need to have different weights(they

[2021-04-16 23:58] vladmandic commented on #4907
it's not deduplication, it's simple compile of any used op on its first use - then it's registered in tfjs as existing so whoever calls it next, doesn't need to compile it again. that can be second usage of the same op from the same model or different model, doesn't matter. and there is always just one implementation of any given op - just try importing multiple instances of tfjs and you'll get to

[2021-04-17 02:32] sudo-carson commented on #4362
I'm having the same problem with the `tfjs-node` CPU backend, but only for certain JPEGs shot on iPhones. Some cause a memory leak, some don't.

If it helps, here's the header of a leaky image:
[code]

And the header of a non-leaky image:
[code]

Seems like it could have something to do with Exif data?

[2021-04-17 03:46] Beliefuture opened #4949 "load a trained model very slowly"
**System**
Browser: Edge/Chrome;
tfjs version: 2.7.0;

**Description**
Load a trained MobileNet V2 model with tensorflow.js in a specific page take **10+ seconds** one time.
Not only for the first time, but takes **the same 10+ seconds** every time I open the page.
When the loading phase is completed, the prediction phase is fast.

But I want to know how to **speed up the loading phase**, because

[2021-04-17 03:47] Beliefuture commented on #4949
Code below

[code]

[2021-04-17 10:21] MareSeestern commented on #2177
@tafsiri  This problem only exists on an Android Emulator for me. On a physical device (Android/IOS) it works.

[2021-04-17 13:34] kinsei0916 commented on #4663
Hi @jaygit123 ,

This issue seems to be fixed in the latest release [tfjs-v3.4.0](https://github.com/tensorflow/tfjs/releases/tag/tfjs-v3.4.0). I hope this works well!

[2021-04-18 08:43] Dimitris-Toulis opened #4952 "Publish @tensorflow-models/coco-ssd with tfjs 3"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow.js version (you are using): 3.3.0
- Are you willing to contribute it (Yes/No): N/A

[2021-04-18 15:56] jaygit123 commented on #4663
Hi @kinsei0916 ,
Thanks for the update.

I tried my model on tfjs-v3.4.0 and did not get prediction's shape related error.
But, the prediction of Keras model and tfjs model are different. When i use predict(input).dataSync() the output shape becomes 1888720 (= 80 * 23609). If I don't use dataSync() on prediction, shape of prediction is 1, 80, 23609 as expected. And when i do argmax of this predict

[2021-04-18 19:33] rameshvishnoi90904 commented on #3609
@harshav-acco Install fresh project using this command and then add tensorflow/tfjs-react-native
`npx create-react-native-app
`

[2021-04-19 00:53] subodha commented on #3300
I have had the same issue. the problem was expo setup. please check whether
you have  used the typescript expo setup. may be this will help to resolve
this issue

On Sun, Apr 11, 2021 at 8:53 PM ycccccccyc ***@***.***> wrote:

--
Kind Regards,
  Subodha N Pathiraja

[2021-04-19 02:41] JEF1056 opened #4953 "Supporting more NLP-centric ops"
**System information**
- TensorFlow.js version 2.6.0:
- Are you willing to contribute it No

**Describe the feature and the current behavior/state.**
ReadVariableOp, DatasetToSingleElement, BatchDatasetV2, ParallelMapDatasetV2, SentencepieceOp, TensorSliceDataset, VarHandleOp, SentencepieceDetokenizeOp
Are all currently not supported by tensorflow.js, but some of them have similar operations that

[2021-04-19 03:57] gbaned commented on #4952
cc @pyu10055

[2021-04-19 03:57] gbaned commented on #4953
cc @pyu10055

[2021-04-19 06:35] Master-of-moyu commented on #4943
Hi, i tried
`tensorflowjs_converter \ --input_format=tf_saved_model \ --output_format=tfjs_graph_model \ --signature_name=serving_default \ --saved_model_tags=serve \ /imagenet_mobilenet_v2_100_224_classification_4  \ /mymodel`
or
`tensorflowjs_converter \ --input_format=tf_saved_model \ --output_format=tfjs_graph_model \ --signature_name=serving_default \ --saved_model_tags=serve \ /imagenet_mobi

[2021-04-19 13:41] vladmandic commented on #4932
any updates on this one? as much as i'd love to use tfjs 3.4.0 due to support of tf2, this is a blocker for me.

[2021-04-19 14:32] mattsoulanille commented on #4932
No updates yet, but I've been able to reproduce it. I agree with Ping that this is likely related to changes made in #4769, and I'm taking a look.

[2021-04-19 14:34] vladmandic commented on #4932
@mattsoulanille - thanks - *'taking a look'* is an update, just wanted to know what's going on as it's a blocker for me.

[2021-04-19 17:09] rthadur commented on #4949
In order to expedite the trouble-shooting process, please provide a code snippet to reproduce the issue reported here. Thanks!

[2021-04-19 17:12] rthadur commented on #4949
Also inference time for the first time is slow that is expected and in the subsequent runs it is faster , please check the benchmark tool here https://tensorflow.github.io/tfjs/e2e/benchmarks/local-benchmark/index.html which you can run on MobilenetV2

[2021-04-19 17:20] rthadur commented on #4953
will you be interested in contributing?

[2021-04-20 11:39] WenheLI opened #4959 "Way of connecting different Layer model"
I am wondering if there is a way to connect different layer models together.
For instance, I have layer models `A` and `B`. And I want to put `B` after `A' and construct a new model `C` and train it.

Is there any way of achieving it?

[2021-04-20 12:22] shivamchauhan20 commented on #4918
Sorry to reply late, I have updated the code snippet to reproduce the issue

[2021-04-20 13:50] EzhumalaiPrakash commented on #3384
When i use bodyPix.drawBokehEffect method in IE11, getting error. But same code working in chrome browser Please find attached error message.
Does IE11 support tfjs1.2 and body-pix2.0

Code used
function loadAndBlur() {
	 const img = document.getElementById('refimg');
	  const canvas = $('#reflay').get(0)
      const backgroundBlurAmount = 9;
      const edgeBlurAmount = 3;
      const flipHorizon

[2021-04-20 13:57] EzhumalaiPrakash opened #4961 "Getting error while using bodyPix.drawBokehEffect in IE11"
When i use bodyPix.drawBokehEffect in IE11 getting error message, but same code working in chrome browser. Please find attached error message and suggest something to resolve this issue.
![Capture](https://user-images.githubusercontent.com/82143523/115408314-6143b080-a20e-11eb-9be3-0d892436ffda.PNG)

Does IE11 support tfjs@1.2 & body-pix@2.0 ?

**Code we used**
`function loadAndBlur() {
	 const im

[2021-04-20 14:15] pyu10055 commented on #4959
@caisq any suggestions on this question? thanks

[2021-04-20 15:41] spleshakov opened #4962 "Mismatch between documentation and the actual behavior of column's dtype"
According to https://js.tensorflow.org/api/latest/#data.csv `csvConfig.columnConfigs[columnHeader].dtype` can be any value of `int32, float32, bool, or string`

However, this switch clause https://github.com/tensorflow/tfjs/blob/623da7ecbada115425888c62bd65df685e2bdd75/tfjs-data/src/datasets/csv_dataset.ts#L253 has all specified values but `string`. Default - `parsedValue = valueAsNum;`

This also

[2021-04-20 16:55] caisq commented on #4959
Yes, that should be doable, as long as model A's output shape fits with model B's input shape.

An example would be:

[code]

[2021-04-20 20:22] kinsei0916 commented on #4663
Hi @jaygit123 ,

Thank you for sharing. I got the same output using Graph model as when using Layers model, which seems to be correct. I pushed the code to your repository, so please take a look.

[2021-04-20 23:38] rthadur commented on #4943
please check the related issue here https://github.com/tensorflow/tfjs/issues/3618 and let us know ?

[2021-04-20 23:59] rthadur commented on #4961
1.2 is very old version and we will not able to support this.Please use latest version(3.x) and let us know. Thank you

[2021-04-21 00:07] rthadur commented on #4962
In order to expedite the trouble-shooting process, please provide a code snippet to reproduce the issue reported here. Thanks!

[2021-04-21 00:32] spleshakov commented on #4962
@rthadur it's in the description. Do you need anything else apart from that?

[2021-04-21 03:41] WenheLI commented on #4959
@caisq - Thanks! But it does not work if the sub-model has multiple output nodes. Is there a way to deal in that case?

[2021-04-21 03:55] pyu10055 commented on #4943
you can try to convert the tfhub model directly without download
[code]

[2021-04-21 05:16] Reaper622 commented on #4944
Already resolve this problem. It's caused by two version of `tensorflow.js`'s import conflict.

[2021-04-21 05:16] #4944 closed

[2021-04-21 05:38] EzhumalaiPrakash commented on #4961
even changing version 3.4.0 we got WebGL warning and promise rejection error in IE11. and bodyPix.drawBokehEffect does not bind on screen.
![Capture_1](https://user-images.githubusercontent.com/82143523/115501975-cf7d8700-a291-11eb-96cb-ec4d1c4e2d67.PNG)

[2021-04-21 11:39] beecadox commented on #1690
I have observed that converted tfjs models from keras do not work. Have you managed to somehow solve this problem?

[2021-04-21 15:40] rakesh4real opened #4964 "Browser hangs during model loading"
While initalizing `new Holistic(...)` model, browser hangs for 10+ seconds with following output

[code]

Is there any way to load the model without making the browser hang?

Thanks,
Rakesh

[2021-04-21 16:15] jaygit123 commented on #4663
Hi @kinsei0916 , @mattsoulanille ,

I tried with a new Bidirectional LSTM model on tfjs-3.4.0 and got the same results on both Keras and tfjs (used Graph model).
So, I see the issue reported earlier by me is fixed.

Thanks a ton for your help & support.

Regards,
Jay

[2021-04-21 16:24] rthadur commented on #4964
In order to expedite the trouble-shooting process, please provide a code snippet to reproduce the issue reported here. Thanks!

[2021-04-21 16:42] rthadur commented on #4962
I see you are using danfojs, I don't see a reference where you are using tfjs , could you please provide a codepen example or GitHub test repo where we can reproduce the behavior ? Thank you

[2021-04-21 17:13] rakesh4real commented on #4964
Hi, I used js solution api from
https://google.github.io/mediapipe/solutions/holistic.html with zero
changes.

On Wed 21 Apr, 2021, 21:54 Rajeshwar Reddy T, ***@***.***>
wrote:

[2021-04-21 17:21] rthadur commented on #4964
This issue better asked in this repo https://github.com/google/mediapipe/issues it is not related to tfjs directly.

[2021-04-21 17:21] #4964 closed

[2021-04-21 17:28] rthadur commented on #4952
New version will be published soon. Thank you @lina128

[2021-04-21 17:49] #4952 closed

[2021-04-21 22:50] khalidbashirmyant opened #4965 "React Native: Crash on tf.ready() when running on Android's JS Engine"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Mac OS Big Sur 11.2.3
- Mobile device (e.g. iPhone 8,

[2021-04-22 07:52] xfffrank commented on #4684
Hi, @umitkacar
I'm training a `ssd_mobilenet_v2_320x320_coco17_tpu-8` model like the one in the [kangaroo detector](https://github.com/hugozanini/TFJS-object-detection/tree/master/models/kangaroo-detector) except that I changed the input resolution to `192x192` and `depth_multiplier` to 0.25. And I'm deploying the JS model with the [TensorflowJS WeChat](https://github.com/tensorflow/tfjs-wechat) p

[2021-04-22 08:39] josephrocca commented on #4953
More support for NLP ops would be great! I just got:

while trying to run:

[code]

@rthadur JEF1056 answered that in their original post:

It would be useful to know what specifically needs to be done to contribute these ops. I think a lot of people posting feature requests in this repo are end-users of tfjs who only have (or mostly have) experience with JS, and don't really know much about the i

[2021-04-22 16:20] #4962 closed

[2021-04-22 16:25] rthadur commented on #4663
Closing this issue as this is resolved , please @mention if this needs more attention. Thank you

[2021-04-22 16:25] #4663 closed

[2021-04-22 19:40] #4796 closed

[2021-04-22 19:40] #4932 closed

[2021-04-22 19:40] #4934 closed

[2021-04-22 19:59] vladmandic commented on #4932
@mattsoulanille thanks!

given it's a regression that causes hangs, does this warrant spinning up a tfjs service build (e.g., 3.4.1)?
(cc @pyu10055)

[2021-04-22 20:43] lina128 commented on #4932
Hi @vladmandic , we are releasing 3.5.0 with this fix today.

[2021-04-22 23:43] vladmandic opened #4971 "Chrome Deprecation warning: SharedArrayBuffer will require cross-origin isolation as of M91"
Running `TFJS` 3.5.0 with `WASM` backend and *SIMD* & *multithreading* enabled results in warnings in browser console:

[code]

Which happens in internal WASM test in `flags_wasm.ts`:
[code]

Environment: TFJS 3.5.0 with Edge/Chromium 90 on Windows 10 with WASM backend (SIMD and MultiThreading enabled)

[2021-04-22 23:45] vladmandic opened #4972 "WASM multithreading starts 4 threads regardless of available CPU cores"
New way of calculating WASM threads seems to default to 4 regardless of number of actual CPU cores

I have Intel i7 with 6 physical cores (12 logical cores) and AFAIK intention was to use logical cores / 2,
but I end up with 4 WASM threads which is the default.

This was working fine in TFJS 3.3.0 (WASM was starting 6 threads as expected),
then WASM multithreading was broken in 3.4.0
and now it's

[2021-04-23 00:26] jinjingforever commented on #4746
Will publish a new version of the tfjs-vis now

[2021-04-23 01:02] jinjingforever commented on #4746
Published tfjs-vis 1.5.1 with tfjs 3.5.0 dependencies. Thanks!

[2021-04-23 01:02] #4746 closed

[2021-04-23 03:55] rthadur commented on #4953
@josephrocca here is the guide https://github.com/tensorflow/tfjs/blob/master/CONTRIBUTING_MISSING_OP.md , please check. Thank you

[2021-04-23 03:59] lina128 commented on #4971
Yes, this change will be out with Chrome 91 release. Please see the official link for how to setup coop and coep: https://web.dev/coop-coep/

[2021-04-23 04:01] lina128 commented on #4971
Here's some updated progress on this change: https://developer.chrome.com/blog/enabling-shared-array-buffer/

[2021-04-23 04:15] #4971 closed

[2021-04-23 05:51] xfffrank commented on #4684
It seems that the plug-in has been updated. [#92](https://github.com/tensorflow/tfjs-wechat/issues/92)

[2021-04-23 06:00] farhan2056 opened #4975 "Build fails when upgrading @tensorflow/tfjs-react-native from 0.2.1 to 0.5.0"
<em>This is a build/installation issue. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): macOS Big Sur 11.2.1
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: Samsung Galaxy M10
- TensorFlow.js installed from (npm or script link): npm
- TensorFlow.js version:  1.5.1
- CUDA/cuDNN version:

**Ste

[2021-04-23 09:31] nerkn opened #4976 "knn classifier fails with npm"
**System information**
- OS : Linux n-Lenovo-ideapad-320-15ISK 5.4.0-70-generic #78-Ubuntu SMP Fri Mar 19 13:29:52 UTC 2021 x86_64 x86_64 x86_64 GNU/Linux
- TensorFlow.js installed from (npm or script link): `npm install '@tensorflow/tfjs'`
- TensorFlow.js version:
        "@tensorflow-models/coco-ssd": "^2.2.2",
        "@tensorflow-models/mobilenet": "^2.1.0",
        "@tensorflow/tfjs": "^3.4.0

[2021-04-23 11:10] vladmandic commented on #4972
cc @mattsoulanille as this is likely related to <https://github.com/tensorflow/tfjs/pull/4957>

[2021-04-23 15:20] mattsoulanille commented on #4972
Definitely related to #4957, but this is intentional. The wasm backend's threadpool uses `logical_cores / 2` threads, but is [capped to 4 threads total](https://github.com/tensorflow/tfjs/blob/master/tfjs-backend-wasm/src/cc/backend.cc#L64-L66). It's surprising to me that it was creating more than four in earlier versions.

Perhaps it shouldn't be capped at all. What do you think @lina128?

Ideall

[2021-04-23 16:03] jinjingforever commented on #4965
Sorry Matt, re-assigning this for you now since I don't have an Android device:) Thanks!

[2021-04-23 16:52] rthadur commented on #4317
if tf core supports CUDA 11 , tfjs-node-gpu will automatically support. closing this issue as this request is fulfilled here https://github.com/tensorflow/tfjs/issues/4193 , thank you

[2021-04-23 16:52] #4317 closed

[2021-04-23 21:10] jumrz opened #4978 "Installation issue @tensorflow/tfjs-node-gpu with npm on Win 10"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10 Pro
- TensorFlow.js

[2021-04-23 21:19] jumrz commented on #4978
I tested older tfjs-node-gpu versions and the installation is working until 3.1.0
The issue is present since 3.2.0

[2021-04-23 22:36] jinjingforever commented on #4918
Hi Shivam,

I tried your code but cannot reproduce the problem on my laptop (mac os) and iPhone. Do you know which devices are having this problem? Thank you!

[2021-04-24 01:39] khalidbashirmyant commented on #4965
Here is the package.json. This may provide an insight of the environment tfjs is running in
[package.json.zip](https://github.com/tensorflow/tfjs/files/6368794/package.json.zip)

[2021-04-24 03:51] tngan commented on #283
@Ouwen It is working and I am wondering if we can tweak the component/layer name inside the model.json when we save the model.

[2021-04-24 15:19] #4892 closed

[2021-04-24 16:36] andykais opened #4982 "[tfjs-models] posenet pngs 'Incompatible shapes'"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow.js): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): arch linux `Linux 5.11.12-zen1-1-zen x86_64`
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: no
- TensorFlow.js installed from (npm or script link): https://www.npmj

[2021-04-24 16:40] andykais commented on #4982
[edit] I have discovered that the error is thrown only on pngs containing an alpha channel. Perhaps this is working as expected? passing `channels = 1` or `channels = 3` does prevent posenet from throwing an error, though I dont know if that is what I am supposed to do here. An RGBA image has four channels, neither 1 nor 3 make sense to me

[2021-04-24 16:43] andykais commented on #4982
removing the alpha channel from my image before passing it to tfjs also works (using imagemagick `convert <input_image> -alpha remove <output_image>`) but it would be ideal if I could do this in a programmatic way that doesnt involve creating new files

[2021-04-24 20:08] sbrl commented on #4317
Does this mean that I can now install the latest version of Tensorflow.js and use CUDA 11? Or is there still work that needs to be done in that area?

[2021-04-25 14:18] vladmandic commented on #4982
All tensorflow image operations are on either black&white or RBG images - So yes, this is working as expected

And if you think about it, what is the meaning of alpha channel? it defines how image is going to interact with some other image (e.g. areas of transparency). But when we're talking about single image, alpha is irrelevant. so it should be stripped before passing for further processing.

b

[2021-04-26 00:34] jxmorris12 commented on #4480
In the latest version (3.5.0) I've seen:

[code]

Is this a related issue?

[2021-04-26 07:43] rodrigolive commented on #4514
I've just successfully built and ran my models with tfjs-node 3.5.0 with TensorFlow 2.5.0-rc1 on my M1 Macbook Air. From what I could see, the yet-to-be released TF 2.5.0 is where Apple Silicon is supported, but **pre-release** 2.5.0-rc1 is already fully usable.

**Caveat:** I didn't keep exact track of all the steps, this was written in "hindsight" so I maybe I'm missing something.

[code]

That'

[2021-04-26 10:12] NamanPrakash opened #4987 "import statement error"
whenever I build the project i get this error:
[code]
I'm using `node.js` so I tried to insert
[code]
but this doesn't work for me either.
so please help.

[2021-04-26 11:02] #4987 closed

[2021-04-26 11:02] NamanPrakash commented on #4987
Nobody is responding so im closing

[2021-04-26 13:36] AdarshJais commented on #4680
Did you got the solution ??

[2021-04-26 13:46] AdarshJais opened #4988 "Is real time object detection possible using TensorCamera and Cocossd ?"
When I use Tensor Camera

1. It is very much laggy
2. I guess it keeps capturing each frame and thus we just get one item in prediction using the mobilenet model
3. In case we use cocossd for multiple image detection it throw error ""tf.nonMaxSuppression() in webgl locks the UI thread. Call tf.nonMaxSuppressionAsync() instead""

So How is it possible to make a real-time multiple image detection, I

[2021-04-26 13:59] Keramblock commented on #4309
@rthadur could you please look again on that issue?

[2021-04-26 14:02] Keramblock commented on #4309
@pyu10055 It will be great if you could check it too =)

[2021-04-26 14:03] BadMachine opened #4989 "Where is synchronous implementation for tf.whereSync, tf.booleanMaskSync?"
Why there is no implementation of those ops in tfjs?
The disadvantage of this is the cause why working with tensors and operating them is natively impossible in many situations

[2021-04-26 16:16] #4725 closed

[2021-04-26 16:22] pyu10055 commented on #4724
@bebensiganteng when you use the getImageData() call, it returns the pixel values of the image, which means it is decoded, you can use it directly to create the tensors for model execution.

[2021-04-26 16:23] pyu10055 commented on #4641
I believe this issue has been fixed, please try out tfjs version > 3.5.0

[2021-04-26 16:28] #4212 closed

[2021-04-26 16:36] pyu10055 commented on #4493
@Nithanaroy This issue seems to have been fixed with our latest upgarade of TFJS-node to TF 2.4.
Please verify, thanks!

[2021-04-26 17:01] pyu10055 commented on #4574
I tried your example on a windows 10 machine, the output tensor is complete. This might be related to the texture limit on your browser. @mnts-i can try [this page](https://js.tensorflow.org/debug/) and the output with us?

[2021-04-26 17:04] #3039 closed

[2021-04-26 17:04] #1775 closed

[2021-04-26 17:06] #1377 closed

[2021-04-26 17:06] #1308 closed

[2021-04-26 17:06] pyu10055 commented on #1103
deprecated

[2021-04-26 17:06] #1103 closed

[2021-04-26 17:07] pyu10055 commented on #1095
the feature is available in the converter now.

[2021-04-26 17:07] #1095 closed

[2021-04-26 17:08] pyu10055 commented on #451
the is deprecated since converter uses saved model signatures now.

[2021-04-26 17:08] #451 closed

[2021-04-26 17:10] pyu10055 commented on #433
DecodeJpeg op has been added in tfjs-node.

[2021-04-26 17:10] #433 closed

[2021-04-26 17:22] pyu10055 commented on #4843
@vladmandic the WebGL has precision loss when stored on texture, it is usually rather small. The input sum is negative seems to be weird, is it overflowing already?

[2021-04-26 17:52] pyu10055 commented on #4874
@alexander-fischer thank you for reporting the error, can you share the vocab.txt file? thanks

[2021-04-26 18:35] vladmandic commented on #4843
@pyu10055

The thing is `WebGL` and `WASM` produce results identical up to 5th decimal point (after that it's up to WebGL precision loss)
But `tfjs-node` produces results which are ~2-5% different than either `WebGL` or `WASM` which is not small

Input here is just an image resized to 1x512x512x3 and normalized
Sum is just a (very) cheap way to do a hash to make sure inputs are same, but given the

[2021-04-26 18:39] rthadur commented on #4514
Thank you @rodrigolive , @patrickhulce @nickplee can you please confirm if this is resolved on M1 chip with latest release.

[2021-04-26 19:08] patrickhulce commented on #4514
The issue as described is not resolved with @rodrigolive's workaround. Manually hacking `@tensorflow/tfjs-node` to compile has been workable since https://github.com/tensorflow/tensorflow/pull/45404. Could this issue track working by default? i.e. the `@tensorflow/tfjs-node/scripts/install.js` script should not throw a fatal error when run on M1, it should download an arm64 compatible binary inste

[2021-04-26 20:09] Nithanaroy commented on #4493
I was able to test it on the toy model in https://repl.it/@NitinPasumarthy/estimator-in-tfjs-node#index.js with v3.5. It works perfectly. Thank you Ping :)

[2021-04-26 20:09] #4493 closed

[2021-04-26 20:32] jinjingforever commented on #4935
Hi,

Please try version `0.0.1-alpha.2` which supports passing arraybuffer to `loadTFLiteModel`:

https://github.com/tensorflow/tfjs/blob/master/tfjs-tflite/src/tflite_model.ts#L279

Thank you! (and sorry for the delay)

[2021-04-26 20:32] #4935 closed

[2021-04-26 21:17] #4978 closed

[2021-04-27 04:31] bebensiganteng commented on #4724
@pyu10055 could you elaborate, please? And did you actually tried it? because it threw me this error.

[code]

[2021-04-27 05:19] axinging opened #4995 "navigator.hardwareConcurrency and native pthread gets different thread pool size"
(On Intel i7-9700)
By navigator.hardwareConcurrency: https://github.com/tensorflow/tfjs/pull/4994, the WASM_THREAD_POOL_SIZE is 4. WASM_THREAD_POOL_SIZE is got by:
[code]
By native pthread:  https://github.com/tensorflow/tfjs/pull/4942, the WASM_THREAD_POOL_SIZE is 1. WASM_THREAD_POOL_SIZE is got by:
[code]

Does this possible due to #ifdef __EMSCRIPTEN_PTHREADS__?

BTW, code has rebased, and http

[2021-04-27 05:21] axinging commented on #4995
@mattsoulanille, Could you please have a look?

[2021-04-27 06:57] #4995 closed

[2021-04-27 07:39] xfffrank commented on #4101
I trained a custom ssd-mobilenet-v2 with TF2 from [here](http://download.tensorflow.org/models/object_detection/tf2/20200711/ssd_mobilenet_v2_fpnlite_320x320_coco17_tpu-8.tar.gz) and encountered the same issue when deploying the JS model. It works fine with CPU backend and reported an issue of `TypeError: Cannot read property '0' of undefined` with webgl.

Is this a bug or how can we avoid this pr

[2021-04-27 09:26] xfffrank commented on #4101
Adding `tf.ENV.set('WEBGL_PACK', false)` solved the problem! Thank you! Using the `webgl` backend is a lot faster than the `cpu`.

[2021-04-27 09:49] rodrigolive commented on #4514
Note that I've used a release candidate version. I'd say we still need to wait for TensorFlow 2.5.x to be released, that would be the first GA version to fully support Apple Silicon. Then, yes, we can publish the binary to the storage location and update the install scripts to handle `darwin-arm64`. As I understand from the Release Notes for `2.5.0-rc1`, apparently there aren't any breaking change

[2021-04-27 15:37] pyu10055 commented on #4843
that is great to know, thanks!

[2021-04-27 15:37] #4843 closed

[2021-04-27 20:08] pyu10055 commented on #4975
@farhan2056 You are using an older version of TFJS (TensorFlow.js version: 1.5.1), try to upgrade the TFJS version to the latest (3.5.0)

[2021-04-27 20:47] andykais commented on #4982
ok, thank you for the explanation. I believe I understand this better now. I am currently using [sharp](http://npmjs.com/package/sharp) to detect an alpha channel in an image and set the option `channels = 1` if that is the case. Could you clarify the correct usage of the `channels` argument? Does it represent how many channels to attempt reading? Does it represent how many channels to strip out?

[2021-04-27 21:16] pyu10055 commented on #4724
you need to create a tensor from the data, with something as following:
height = 180, width=320, channels=4
[code]

[2021-04-27 21:47] mattsoulanille commented on #4936
Thanks for reporting this.

I'm setting up a VM to reproduce it, and I've talked to the author of the Emscripten rules. We have found out that it's caused by an incorrect extension on the download. It should end in `.zip` instead of `.tbz2` for Windows. For example, https://storage.googleapis.com/webassembly/emscripten-releases-builds/win/89202930a98fe7f9ed59b574469a9471b0bda7dd/wasm-binaries.zip,

[2021-04-27 22:35] bebensiganteng commented on #4724
It worked! thank you!

`CLIENT`
[code]
`BACKEND`
[code]
@pyu10055 If you don't mind could explain what `tf.slice `means?

[2021-04-27 22:35] #4724 closed

[2021-04-27 23:23] aravindvnair99 opened #4998 "tfjs-node v0.0.0"
https://github.com/tensorflow/tfjs/blob/d72d7597e6f91cb1c2a2a15e01df12f217bba041/tfjs-node/package.json#L3

Why is the version `0.0.0`?

https://www.npmjs.com/package/@tensorflow/tfjs-node says `3.5.0`

[2021-04-28 04:26] FlyWong opened #5000 "posenet\demo\coco.js: function __clone()... could not be cloned error when trying to start dev demo server"
Hi, I cloned the tfjs-models repository and was about to try out posenet demo.

I followed the instructions as per GitHub: https://github.com/tensorflow/tfjs-models/tree/master/posenet/demo

everything went well but when I did yarn watch, I got the following error:

"
PS C:\Users\raywl\Documents\achiever\Android\AI services\tfjs-models\posenet\demo> yarn watch
yarn run v1.22.10
$ cross-env NODE_EN

[2021-04-28 06:42] #4975 closed

[2021-04-28 09:00] perahlberg opened #5002 "Setting a Proxy for bodyPix internal requests"
Hi,
BodyPix is today doing two request to  storage.googleapis.com to access external files.
Many (Swedish) companies, specially government organizations always must use a proxy to mask the client’s IP-address.

It should be great to have the option to set a proxy-server for these requests.
Thanks for your great work!

[2021-04-28 10:34] vladmandic commented on #4982
- 0 means leave number of channels as-is in the input image and it's default so no need to specify it.
- 1 means reduce to one channel which means black & white image
- 3 means reduce to three channels which means RGB image

no harm done with having 3 as parameter always as if image is already RGB, it will stay RGB and if its RGBA, it will be stripped of alpha channel and return is again RGB.

[2021-04-28 10:54] vladmandic commented on #5002
`tf.loadGraphModel` at the end is just a generic `fetch` request in browser

so in your app, you can register a service worker (`navigator.serviceWorker.register`) and then inside service worker listen to fetch requests and modify them on the fly any way you want (`self.addEventListener('fetch', (evt) => { ... }`)

[2021-04-28 12:03] perahlberg commented on #5002
Thank you for the super-fast replay!
I will try this!
If you do not feel interesting haven this feature request still here, you can close it.

[2021-04-28 12:14] w-okada commented on #4177
@benbro told me the new model is released under Apache2.0
The input size is lager then previous one, so performance(response time) is a little bit worse. But enough fast.

This is demo. select model 256x256
https://flect-lab-web.s3-us-west-2.amazonaws.com/P01_wokers/tfl001_google-meet-segmentation/index.html

BTW, keep model card in your storage!!!! :P
https://developers.google.com/ml-kit/images/v

[2021-04-28 15:01] andykais commented on #4982
got it. I know what to do now, thanks!

[2021-04-28 15:01] #4982 closed

[2021-04-28 17:10] rthadur commented on #5000
@FlyWong thanks for reporting , i could reproduce the same in MAC OS , will dig deep more in to actual issue  and keep you posted.

[2021-04-28 17:28] RohitGamare opened #5004 "tensorflow/tfjs import error in react js"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- Windows 10
- TensorFlow.js installed from npm
- TensorFlow.js version: 3.5.0
- CUDA/cuD

[2021-04-28 17:45] rthadur commented on #4998
please check the PR https://github.com/tensorflow/tfjs/pull/2958 , which has the context ,thank you .
Closing this as this is not a bug/feature request.

[2021-04-28 17:45] #4998 closed

[2021-04-28 18:09] rthadur commented on #4989
@BadMachine where did you find the referenced ops in Tensorflow ?

[2021-04-28 18:12] rthadur commented on #5004
@RohitGamare please provide the steps you are following to install and sample code if possible. Thank you

[2021-04-28 19:00] RohitGamare commented on #5004
npm install @tensorflow/tfjs
npm install @tensorflow/tfjs-core
npm install @tensorflow/tfjs-node
npm install @tensorflow/tfjs-node --unsafe-perm=true --allow-root

above been the commands i tried

[2021-04-28 19:09] RohitGamare commented on #4988
You can refer tensorflow js face landmark detection from the tensorflow website itself it might help you ,for capturing the images u can use openCV

[2021-04-28 20:15] rthadur commented on #5004
npm install @tensorflow/tfjs-node will install all the dependencies for tfjs and tfjs core ,also check windows trouble shooting guide here https://github.com/tensorflow/tfjs/blob/master/tfjs-node/WINDOWS_TROUBLESHOOTING.md

[2021-04-28 20:30] RohitGamare commented on #5004
Thank you for the response

[2021-04-28 20:47] raul-marques commented on #4270
I'm sorry ... but I need the current package(https://github.com/react-native-async-storage/async-storage), and installing both creates conflict. Can it be updated for the package considered indicated?

[2021-04-28 21:10] ichko commented on #1189
This doesn't seem to work for me. Has the API been changed?
What I am trying to do is do an `optim update` using the `optim.minimize` function and a model defined with the layers API.
The `optim step` is not erroring out, but my loss is not going down.
I could not find a documentation or an example of using `apply` with this `training: true` parameter. Neither were I able to find an example of usi

[2021-04-28 23:10] Nithanaroy opened #5007 "Possible memory leak in tfjs-node"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow.js): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: NA
- TensorFlow.js installed from (npm or script link): NA
- TensorFlow.js version (use command below): 3.5
- B

[2021-04-29 03:43] jxmorris12 commented on #4003
I had this issue on some system importing tfjs from a webworker. It was easy to fix: `npm i seedrandom --save`

[2021-04-29 04:36] EzhumalaiPrakash commented on #4961
Issue still persists, please help us where I did mistake?

[2021-04-29 14:16] partus opened #5013 "TFJS converter mismanages EfficientDet models 2"
Efficientdet  can't be used , it relates to #3903, but seems to be a completely different one
For this  [model](https://tfhub.dev/tensorflow/efficientdet/d0/1)

## Converted the following way
[code]

## Loaded and executed as follows in a browser
[code]

## Results in
[code]

Same when the model is taken from the official repo.

Tried both tfjs version 2.7.0 , which was released just after #3903 w

[2021-04-29 15:37] #5007 closed

[2021-04-29 16:46] rthadur commented on #4961
Sorry, we will not be able to support IE11.

[2021-04-29 18:55] nonoesp commented on #3152
Wow! Thanks — that worked perfectly @B0RJA. 🙃

[2021-04-30 08:47] saghul commented on #4177
That is not the meet model model card, alas.

[2021-04-30 12:28] w-okada commented on #4177
@saghul
Oh, sorry, yes. That is not of original google meet segment model's.

[2021-04-30 13:26] aravindvnair99 opened #5017 "node-pre-gyp info This Node instance does not support builds for N-API version 8"
I am trying to use TensorFlow with Firebase Cloud Functions. I'm on Node.js v14.16.0 which should be Node-API v7.

And I get this when starting the server:

[code]

MCVE available at: https://github.com/aravindvnair99/TFJS-Issue-5017

I've set up a GitHub Actions workflow to reproduce the issue on multiple OS and Node.js versions. Results are available here: https://github.com/aravindvnair99/TFJS-

[2021-04-30 14:26] rthadur commented on #5017
Latest version has support for napi version 8 https://github.com/tensorflow/tfjs/pull/4991/files , please try latest version. Thank you

[2021-04-30 14:55] aravindvnair99 commented on #5017
@rthadur I'm sorry, I didn't understand. I'm on Node.js 14 which is 7 and not 8.

[2021-04-30 15:48] rthadur commented on #1474
This has been fixed in #2366 , closing this.

[2021-04-30 15:48] #1474 closed

[2021-04-30 20:45] pyu10055 commented on #5017
@aravindvnair99 Thank you for reporting, can you share the full error message?

[2021-04-30 20:48] aravindvnair99 commented on #5017
@pyu10055 It's what I put in my first message itself. Everything else wasn't an error message. Just the usual Firebase loading.

[2021-04-30 21:17] pyu10055 commented on #4676
@fuzzlogdev We have updated tensorflow version to 2.4.1 for tfjs-node, please try again with the latest version (3.6.0). thanks

[2021-04-30 21:33] aravindvnair99 commented on #5017
@pyu10055 @rthadur @gbaned  I've put together an MCVE with instructions to reproduce: https://github.com/aravindvnair99/TFJS-Issue-5017

[2021-04-30 21:35] partus commented on #5013
What versions of other packages are relevant? : I am running it on Arch linux, hence the most recent tensorflow + python as well, e.g. tensorflow with python 3.9... is not officially supported. Which are the important dependencies so that I will I will put it into a cantainer, Hopefully  veryify that it’s fine. Then with the next step we might verify the issue in a container with upgraded versions

[2021-04-30 21:51] #4077 closed

[2021-05-02 20:43] jpodwys opened #5019 "bodyPix drawBokehEffect does not accept OffscreenCanvas"
**System information**
- Have I written custom code: Yes
- OS Platform and Distribution: macOS 10.15.4
- TensorFlow.js installed from: script link
- TensorFlow.js version: 3.6.0
- BodyPix version: 2.1.0
- Browser version: Chrome 90.0.4430.93
- Tensorflow.js Converter Version: ?

**Describe the current behavior**
When I call `bodyPix.drawBokehEffect` and provide an `HTMLCanvasElement` as the second

[2021-05-03 02:04] FlyWong commented on #5000
Hi,

is there any update on this issue?
________________________________
From: Rajeshwar Reddy T ***@***.***>
Sent: Thursday, April 29, 2021 1:10 AM
To: tensorflow/tfjs ***@***.***>
Cc: FlyWong ***@***.***>; Mention ***@***.***>
Subject: Re: [tensorflow/tfjs] posenet\demo\coco.js: function __clone()... could not be cloned error when trying to start dev demo server (#5000)

@FlyWong<https://github.

[2021-05-03 06:49] deepkolos opened #5021 "WeChat 8.0 has moved WebAssembly to WXWebAssembly so wasm for miniprogram is not working"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow.js):
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): WeChat 8.0.3
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: Android and IOS
- TensorFlow.js installed from (npm or script link): npm
- TensorFlow.js version (use comman

[2021-05-03 07:41] danielreyes9756 opened #5022 "Python model to javascript model always return same prediction"
Hi and thanks in advance,

I create my own model in python and I get a 93% of accuracy,
then I convert my model to a js model using the command "tensorflowjs_converter --input_format keras customModel_gs.h5 model/",

I add the model file to my angular project and then I try this:
![imagen](https://user-images.githubusercontent.com/43205522/116851903-3b91b080-abeb-11eb-87b2-8693c24b8fa2.png)

The m

[2021-05-03 11:08] ayandebbarman opened #5023 "Getting Error for export { ImageClassificationModel, loadImageClassification } from './img_classification when trying to do object detection with AutoML model in NodeJS"
I am trying to make Object detection in Node (Not Html) with custom model that was trained.

**System information**
- OS Platform - Mac OS Catalina
- TensorFlow.js installed using NPM
- TensorFlow.js version
          "dependencies": {
            "@tensorflow/tfjs-automl": "^1.1.0",
            "@tensorflow/tfjs-node": "^3.6.1"
          }

**Describe the current behavior**
Trying to make object

[2021-05-03 18:20] #4949 closed

[2021-05-03 18:34] amchaudhari commented on #4156
Is this issue resolved? Because I am getting the same error when I include the following sampling layer in my model.

class Sampling(tf.keras.layers.Layer):
	"""Uses (z_mean, z_log_var) to sample z"""

	def call(self, inputs):
		z_mean, z_log_var = inputs
		batch = tf.shape(z_mean)[0]
		dim = tf.shape(z_mean)[1]
		epsilon = tf.random.normal(shape)

		return z_mean + tf.exp(0.5 * z_log_var) * epsil

[2021-05-03 18:49] rthadur commented on #5022
@danielreyes9756 is it possible to share a complete codepen example with your converted model ? also can you try below code , thank you
`let tensor = tf.browser.fromPixels(image, 3)
		.resizeNearestNeighbor([224, 224]) // change the image size
		.expandDims()
		.toFloat()
		.reverse(-1); // RGB -> BGR
	let predictions = await model.predict(tensor).data();
	console.log(predictions);`

[2021-05-03 21:15] rthadur commented on #4156
not yet , this is a feature request and is very low on priority, if you are willing to contribute , here are the contribution guidelines https://github.com/tensorflow/tfjs/blob/master/CONTRIBUTING_MISSING_OP.md

[2021-05-03 21:20] fatorius opened #5027 "TypeError: e.forEach is not a function"
I'm new to tensorflow.js, I've used the Python version before and now I'm converting my previously trained models to web.
I followed a CodeLabs tutorial, where I got this code:
[code]

But I keep getting this error:
[code]

Can you tell me what's wrong here? Is it a problem with my converted model or could it be some bug?

[2021-05-03 21:23] #5023 closed

[2021-05-03 21:26] rthadur commented on #5019
@jpodwys thank you soon new version will be published to npm

[2021-05-03 21:39] jpodwys commented on #5019
That's great news, thank you!

[2021-05-03 22:01] rthadur commented on #5027
@fatorius can you please provide code to reproduce and full log trace. Also please provide the colab you are referring to . Thank you.

[2021-05-03 22:56] fatorius commented on #5027
The codelab where I got the code was https://codelabs.developers.google.com/codelabs/tensorflowjs-convert-python-savedmodel#5

The code is pretty simple, I have the index.html:

[code]

In the scripttest.js I have:
[code]

The full log trace is in my first post, but if you want to see it running by yourself I've put it into my website: http://hugosouza.com/test_tfjs/

Since it doesnt't outputs any

[2021-05-04 03:19] HemanthKovuru opened #5030 "Uncaught (in promise) TypeError: t is not a function"
**I am getting this error when i load coco-ssd model along with face-api.js models**

tf-core.esm.js:17 Uncaught (in promise) TypeError: t is not a function
    at tf-core.esm.js:17
    at tf-core.esm.js:17
    at t.scopedRun (tf-core.esm.js:17)
    at t.tidy (tf-core.esm.js:17)
    at f (tf-core.esm.js:17)
    at tf-core.esm.js:17
    at t.scopedRun (tf-core.esm.js:17)
    at t.runKernelFunc (tf-

[2021-05-04 03:31] #4883 closed

[2021-05-04 04:23] rthadur commented on #5019
New Version is published in npm https://www.npmjs.com/package/@tensorflow-models/body-pix , thank you @lina128

[2021-05-04 04:23] #5019 closed

[2021-05-04 13:42] visibleajay commented on #3912
@yudhiesh Am still receiving the `error`. Any hints.

[code]

[2021-05-04 14:01] vladmandic commented on #5030
this is well noted in multiple `face-api` issues - original `face-api` has `tfjs` *v1* embedded inside it and it's not compatible with newer versions, such as one used by `coco-ssd`. use newer port of `face-api`

[2021-05-04 14:13] jpodwys commented on #5019
Thank you, it's working great!

[2021-05-04 14:17] aravindvnair99 commented on #5017
I've set up a GitHub Actions workflow to reproduce the issue on multiple OS and Node.js versions. Results are available here: https://github.com/aravindvnair99/TFJS-Issue-5017/actions

It's failing in all cases.

[2021-05-04 14:54] Rishit-dagli opened #5031 "Contribute a project to TFJS Gallery"
I am looking to contribute an example to the [TFJS Gallery](https://github.com/tensorflow/tfjs/blob/master/GALLERY.md).

I plan on contributing [this project](https://github.com/Rishit-dagli/Greenathon-Plant-AI) by me. This is a web application that could help easily diagnose diseases in plants using Machine Learning all on the web. The underlying model can classify among 38 healthy and unhealthy

[2021-05-04 14:59] patrickhulce commented on #4514
@tensorflowbutler please do not close, it is awaiting 2.5.0 release to be completed, but still important.

[2021-05-04 15:10] visibleajay commented on #3912
Using with these version `combination`, the error has `moved` out
[code]

[2021-05-04 16:13] rthadur commented on #5031
@Rishit-dagli excellent job , @jasonmayes @lina128 can this be added to TFJS Gallery ?

[2021-05-04 18:11] rthadur commented on #5030
@vladmandic thank you , @HemanthKovuru can you try with newer port of face-api ?

[2021-05-04 19:11] jasonmayes commented on #5031
Thanks Rishit - just to confirm, the version you plan to add to the TFJS Gallery uses TensorFlow.js right? The one linked seems to be using Python or will you convert the resulting savedmodel to TFJS format to run in browser for this TensorFlow.js demo?

[2021-05-04 19:44] HemanthKovuru commented on #5030
Thank you @vladmandic for the suggestion

[2021-05-04 19:47] HemanthKovuru commented on #5030
@rthadur I have tried it but I am not getting the face-api data I am getting only coco-ssd data

[2021-05-04 19:49] rthadur commented on #5030
is it possible to provide a codepen example or GitHub repo in order for us to replicate ? Thank you

[2021-05-04 20:49] aravindvnair99 commented on #5023
Duplicate of https://github.com/tensorflow/tfjs/issues/5017

[2021-05-04 20:49] princejoogie commented on #3107
wait so what is the solution to this? I also noticed that my the order of keys in predict were not following the labels.

[2021-05-04 21:09] aravindvnair99 opened #5033 "npm WARN deprecated node-pre-gyp@0.14.0"
https://github.com/tensorflow/tfjs/blob/984b8b1fe031604a4d9e35b7b583c248077c5cb0/tfjs-node/package.json#L78
https://github.com/tensorflow/tfjs/blob/984b8b1fe031604a4d9e35b7b583c248077c5cb0/tfjs-node-gpu/package.json#L81

[code]

[2021-05-04 21:48] schdck opened #5034 "TensorFlow.LayersModel.dispose() leaves tensors behind"
Not quite sure this should be reported, since I found a workaround and I'm not sure it applies to **all** models, but here it goes:

### System information
- Have I written custom code: no
- OS Platform and Distribution: Windows 10 Pro 20H2 (build 19042.928)
- TensorFlow.js installed from: npm
- TensorFlow.js version: ^3.3.0
- Browser version: Microsoft Edge Version 90.0.818.51 (Official build) (6

[2021-05-04 22:00] rthadur commented on #5034
@schdck import is not correct @tensorflow/tfjs-layers has been moved to mono repo tfjs , please check the documentation here as how to use tfjs layer https://github.com/tensorflow/tfjs/tree/master/tfjs-layers#tensorflowjs-layers-high-level-machine-learning-model-api

[2021-05-04 22:02] aravindvnair99 opened #5035 "Conflict of versions"
When installing @tensorflow/tfjs-automl@1.1.0, I get on npm 6:

[code]

So I do:

[code]

But 3.6.0 and 3.3.0 can't be installed same time. And the latest is 3.6.0.

[code]

[2021-05-04 22:08] schdck commented on #5034
Hey @rthadur! Issue remains with the following code:

[code]

Output:

numTensors (before dispose): 264
numTensors (after dispose): 260

[2021-05-04 22:31] pyu10055 commented on #5017
Looks like the failure is not on the tfjs-node library but the tfjs-autoML, you can use the latest version 1.2.0 of tfjs-autml which have solve the node.js compatibility issue.

[2021-05-04 22:33] pyu10055 commented on #5035
@aravindvnair99 Please use the latest automl v1.2.0, you should be able to use tfjs-node@3.6.1. You can ignore the warning message.

[2021-05-05 00:09] memolipd commented on #3052
The workaround outlined by @traumverloren is not working for me.

[code]

Anyone got any ideas how/when this will work?

[2021-05-05 00:30] memolipd commented on #1370
I still cannot install the node bindings on my RPI3

`root@raspberrypi:/home/pi/otto-os# npm rebuild @tensorflow/tfjs-node --build-from-source
npm ERR! code 1
npm ERR! path /home/pi/otto-os/node_modules/@tensorflow/tfjs-node
npm ERR! command failed
npm ERR! command sh -c node scripts/install.js
npm ERR! CPU-linux-3.6.1.tar.gz
npm ERR! node-pre-gyp install failed with error: Error: Command failed:

[2021-05-05 03:33] HemanthKovuru commented on #5030
it's working now thank you @rthadur  @vladmandic here is the code https://github.com/HemanthKovuru/emodent

[2021-05-05 04:08] Rishit-dagli commented on #5031
Hi @jasonmayes ,
The code in the project [GitHub repo](https://github.com/Rishit-dagli/Greenathon-Plant-AI) and the [hosted web app](https://www.plant-ai.tech/), both run the TFJS model on the browser.

[2021-05-05 04:20] #4959 closed

[2021-05-05 05:20] #4943 closed

[2021-05-05 07:52] aravindvnair99 commented on #5017
@pyu10055 Can confirm updating to @tensorflow/tfjs-automl v1.2.0 has resolved the issue.

Fixed in https://github.com/tensorflow/tfjs/pull/5024

[2021-05-05 07:57] aravindvnair99 commented on #5035
@pyu10055 But if that's the case, shouldn't it be updated in the `package.json` file as well?

[2021-05-05 08:08] #5030 closed

[2021-05-05 12:28] fatorius commented on #5027
I realised that in my code there wasn't declared the value for INPUT_VALUE, so I changed it and I am still getting the same error

[code]

[code]

But in none of these script files there is any e.forEach function, so I don't get what is not working here

[2021-05-05 17:33] uahnbu opened #5040 "The Node.js native addon module (tfjs_binding.node) can not be found"
**System information**
- OS Platform and Distribution: Windows 10 version 1909
- TensorFlow.js installed from: `npm i @tensorflow/tfjs-node`
- TensorFlow.js version: none
- tfjs-node version: `3.6.1`

**Describe the problem**
I successfully installed tfjs-node after installing `windows-build-tools@5.2.2` (2017) and Python v2.7.2. When I run the app, it says that the native addon module `tfjs_bindi

[2021-05-05 18:57] rthadur commented on #5027
I was able to run the codelab with out any issues , here is the glitch example https://glitch.com/edit/#!/funny-polar-dirt?path=script.js%3A31%3A32 , please check

[2021-05-05 19:35] fatorius commented on #5027
I see, can you try with my model? The code is pretty the same in my site and in the codelab, which makes me think that there must be something wrong in my model. Can you tell me if tensorflow.js handles Bidirectional layers or LSTM layers? Maybe this is causing the error because it's not supported.

Anyway, I'm sending my model for you to take a look:
https://we.tl/t-fJXQs70vZH

[2021-05-05 19:56] rthadur commented on #5034
please check this document as how the memory management happens in tfjs https://www.tensorflow.org/js/guide/tensors_operations#memory .
cc @mattsoulanille @lina128

[2021-05-06 09:28] giuseta commented on #777
I would like to confirm this issue when using GPUs. `tf.gather` returns zeroes when out of range indices are provided.
Here it is a simple snippet to reproduce the problem:
[code]
and output is:
[code]
However if I use only CPUs:
[code]
the output is:
[code]
which is the expected behavior.

I think this is a serious issue, because if somebody is using `tf.gather` with GPUs for filtering, instead o

[2021-05-06 15:17] vladmandic commented on #4716
@rthadur @lina128

is there any chance of this being looked at?
it's open since Feb with full reproduction available?

[2021-05-06 16:10] rthadur commented on #4716
Getting below error after passing one result,I guess this is related the to image `imagerr`

[code]

[2021-05-06 16:22] pyu10055 commented on #5040
@uahnbu The root cause seems to be related to your visual studio installation:
npm ERR! gyp ERR! find VS **************************************************************
npm ERR! gyp ERR! find VS You need to install the latest version of Visual Studio
npm ERR! gyp ERR! find VS including the "Desktop development with C++" workload.
npm ERR! gyp ERR! find VS For more information consult the documentat

[2021-05-06 16:24] vladmandic commented on #4716
@rthadur exactly - some sample image work fine, some cause this error - and it's really up to images, i'd say about ~5% of my test set causes this problem and i cannot figure out why.

[2021-05-06 17:43] rubenlg opened #5042 ""info.backend.decComplexRef is not a function" when using tfjs-models"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow.js): YES
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 20.04.2 LTS
- TensorFlow.js installed from (npm or script link): @tensorflow/tfjs-node-gpu
- TensorFlow.js version (use command below): 3.6.1
- Browser version: N/A (Nodejs 14)
- Tensorflow.js Converter Ver

[2021-05-06 17:43] #5033 closed

[2021-05-06 17:47] uahnbu commented on #5040
There's no instruction to install VS on `tfjs-node` gitpage, which is so obstructive. I've tried installing both VS Build and VS Community 2019 (just in which version does it has `Desktop developerment with C++`) on the external website for 3GB instead of the version got from `npm install` above but I can't install `tfjs-node` at all with them. I've currently installed the following components:
![

[2021-05-06 17:47] rubenlg commented on #5042
FTR: I get the same results if I install `@tensorflow/tfjs` instead of the node-gpu version.

[2021-05-06 20:24] jasonmayes commented on #5031
Ah yes I see it. In that case I am happy on my side for us to link this. Seems like a good use case to link to.

[2021-05-06 22:34] rthadur commented on #5042
please check if this is issue is related in your case https://github.com/tensorflow/tfjs/issues/4609 ? thank you

[2021-05-06 22:36] #4961 closed

[2021-05-06 22:39] rthadur commented on #4988
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow.js) since it is not a bug or feature request. There is also a larger community that reads questions there.

[2021-05-06 22:39] #4988 closed

[2021-05-06 22:44] rthadur commented on #4362
@Nuzzlet @sudo-carson @MahdiNicoo , please help provide test images so that we can reproduce or a codepen/glitch example with images. Thank you

[2021-05-06 22:46] rthadur commented on #5000
this is a duplicate of https://github.com/tensorflow/tfjs/issues/4921 , will track the same issue at one place. Closing this issue. Thank you

[2021-05-06 22:46] #5000 closed

[2021-05-07 01:27] #3942 closed

[2021-05-07 02:31] uahnbu commented on #5040
Hmm, I think that I have to restart the computer to make VS Build Tools (2017) to work. That's weird but it works now.

[2021-05-07 02:31] #5040 closed

[2021-05-07 02:50] Rishit-dagli commented on #5031
Thank You, I will make a PR adding this project.

[2021-05-07 03:54] pyu10055 commented on #5021
@deepkolos We currently generate a WX specific file for tfjs-backend-wasm, I think your transform code can be added to that part of the rollup configuration. Do you want to submit a PR for the fix? Thanks!

[2021-05-07 05:00] grantbrewster commented on #3786
Hey everyone, I am running into a slight variation of this problem.

This error is now throwing on a layer called KerasLayer, and when trying to convert that to Model, it says that it can not iterate an undefined object :/

What I have done:
1. Trained a MobileNetV2 keras model from the tf.keras.applications.MobileNetV2
2. Saved that using tfjs.converters.save_keras_models(model, path)
3. Then loa

[2021-05-07 05:41] rubenlg commented on #5042
I saw that other issue. The only relationship is the stack trace, everything else seems unrelated. I'm not using the wasm backend, and as I mentioned in my last comment, using `tfjs` **instead** of `tfjs-node-gpu` exhibits the same behavior.

I believe this is a bug in the interaction between tfjs-models and the last version of tfjs. It used to work well in the past, but after the last update of t

[2021-05-07 09:50] mathieuUbble opened #5045 "face-landmarks-detection blocks UI thread"
Hi there,

I have been using the library [FaceMesh](https://github.com/tensorflow/tfjs-models/tree/master/facemesh) for the last weeks, but, as it is suggested on the repo (_This repository has been archived in favor of tfjs-models/face-landmarks-detection and will no longer be updated._), I had to move to [FaceLandmarksDetection](https://github.com/tensorflow/tfjs-models/tree/master/face-landmark

[2021-05-07 14:27] ToonTalk opened #5046 "handpose/README.md refers to "facial keypoints""
In the documentation for flipHorizontal

Facial?

[2021-05-07 16:14] #5031 closed

[2021-05-07 19:06] rthadur commented on #5046
@ToonTalk could you please elaborate what is the issue there ?

[2021-05-07 20:36] #5035 closed

[2021-05-07 20:53] pyu10055 commented on #3483
@twwwy @0b01 With the latest converter this model is converter successfully, please re-open this issue if you are still having issues. thanks.

[2021-05-07 20:54] #3483 closed

[2021-05-07 20:55] pyu10055 commented on #676
This is supported with our tfjs converter for converting from saved model to layers model.

[2021-05-07 20:55] #676 closed

[2021-05-07 20:56] aravindvnair99 opened #5050 "Switch new Buffer to Buffer.from"
https://github.com/tensorflow/tfjs/blob/e18e0984ab494c18d83b08b7b8bff0fdac79af05/scripts/cloud_funcs/send_email/index.js#L32

Refer:

- https://nodesource.com/blog/understanding-the-buffer-deprecation-in-node-js-10/
- https://docs.guardrails.io/docs/en/vulnerabilities/javascript/insecure_use_of_language_framework_api.html

[2021-05-07 20:56] pyu10055 commented on #797
this has been addressed with TFJS platform object, WeChat platform supplies the custom fetch method.

[2021-05-07 20:56] #797 closed

[2021-05-08 00:52] linkian209 commented on #4270
Is there any update regarding this? It is difficult to start a new project because of how far back in versioning for several libraries you have to go back to support this particular piece.

[2021-05-08 06:58] qjia7 opened #5054 "Too many duplicated code in all backends"
There are too many duplicated codes in all backends. For example:
1. Validation code. For the parameter validation, we can do it in the front end instead of doing it in all backends.
2. For some ops, they are using *ImplCPU for all backends.
3.  For some ops, they don't need a backend specific kernel. For example, `Identity`, `ExpandDims`.
4. For some common optimizations, for example, in some sit

[2021-05-08 06:58] qjia7 commented on #5054
@pyu10055 @lina128 Any thoughts on this?

[2021-05-08 13:31] #5027 closed

[2021-05-08 14:57] ToonTalk commented on #5046
@rthadur I suspect that this was copied from the facemesh documentation. I think it should be "hand keypoints" or the like.

[2021-05-08 16:12] deepkolos commented on #5021
@pyu10055 ok, my pleasure

[2021-05-08 18:13] vladmandic commented on #5045
@mathieuUbble just my $0.02 - as long as model is using `webgl`, there will be significant warmup time - and that time increases with model complexity. but that is not the same as model *performance*, let's not overload that term.

also, there is no way to totally free up main thread no matter how much async operations are used - it's the nature of javascript.
that, is - unless you use web workers

[2021-05-08 23:15] adotnusiyan commented on #4736
@lina128 I tried your suggestion with basic code from [the example in README](https://github.com/tensorflow/tfjs-models/tree/b5d49c0f5ba2057cc29b40317126c5f182495f96/speech-commands#transfer-learning) and the audio doesn't sound right. You can hear some distortion/glitching in the audio

[You can try it yourself in this example](https://codesandbox.io/s/tfjs-play-raw-audio-v0y12)

[2021-05-10 04:47] cuzzea commented on #494
same issue 2021

[2021-05-10 10:32] mathieuUbble commented on #5045
@vladmandic Thank you very much for your very comprehensive response ! It is very helpful !
I still have one question: do you know whether it is possible to use webgl backend with a webworker ? I read in some articles that the only way to use webworker with webgl backend was to use `offscreenCanvas`. Perhaps you can confirm or not this claim ? If it is possible, do you know how I could handle it ?

[2021-05-10 11:19] danielreyes9756 commented on #5022
this lines doesn't work, the code are the lines of the picture so IDK what to do

[2021-05-10 13:13] vladmandic commented on #5045
@mathieuUbble nope, `webgl` doesn't work within a thread as it needs either `Canvas` or `offscreenCanvas` (either will do).
so if a browser doesn't support offscreenCanvas, it will use Canvas.
but workers don't support DOM objects, so there is no Canvas inside a worker.

at the end, you get an error:

which comes from initialization of `webgl` backend in `getWebGLRenderingContext()`

its unfortuna

[2021-05-10 18:20] rthadur commented on #5022
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow.tfjs) since it is not a bug or feature request. There is also a larger community that reads questions there.

[2021-05-10 18:20] #5022 closed

[2021-05-10 19:44] rubenlg commented on #5042
The version I was using before the upgrade was `@tensorflow/tfjs-node-gpu`version `2.8.0`. I followed my steps from the original post in a clean directory forcing that version and it does indeed work.

I suspect it has something to do with running in a `node` environment, because I can't make it fail in codepen.

I did some poor-man's binary search to identify the version that broke things:

2.8.0

[2021-05-10 20:15] #5050 closed, assigned to pyu10055

[2021-05-11 10:14] AmitMY opened #5060 "Model conversion does not fully work"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow.js): **No**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): **Mac, Colab, CentOS**
- TensorFlow.js installed from (npm or script link):
- TensorFlow.js version (use command below):
- Browser version:
- Tensorflow.js Converter Version:  **v3.6.0**

**Describe the current

[2021-05-11 10:30] vladmandic commented on #5045
@mathieuUbble if you're going down the custom backend rathole, this might help as a starting point: <https://github.com/vladmandic/human/blob/main/src/tfjs/backend.ts>

[2021-05-11 16:00] rthadur commented on #5042
@rubenlg I could not run the above commands , can you please provide a git repo or steps to reproduce the same . Thank you

[2021-05-11 20:23] AmitMY commented on #5060
I'm using `tensorflow==2.4.1` and:
[code]

I'm loading using `tfjs`, it says `Functional` is not a know layer.
Without the additional fixes, for the input shape and `stateful`, the model doesn't work as expected.

[2021-05-11 22:51] rthadur commented on #5060
@AmitMY can you try with latest version of tfjs 3.6.0 ?

[2021-05-11 23:26] #5021 closed

[2021-05-11 23:30] pyu10055 commented on #5054
@qjia7 Thank you for raising this issue. The backend kernel is designed this way to allow tree shaking and custom bundle. We can discuss more in our weekly sync.

[2021-05-12 05:21] devinshawntripp commented on #4514
Has there been any progress on this? any fixes recently?

[2021-05-12 06:37] AmitMY commented on #5060
works for the `Functional` part, still, the conversion does not convert the `stateful` parameter

[2021-05-12 12:20] euan-smith commented on #4177
The original model card, for anybody still looking: [Model Card-Meet Segmentation.pdf](https://github.com/tensorflow/tfjs/files/6466044/Model.Card-Meet.Segmentation.pdf)

[2021-05-12 12:56] saghul commented on #4177
That's the one! Cheers!

[2021-05-12 13:15] w-okada commented on #4177
Wow!!

[2021-05-12 15:21] rthadur commented on #5060
@AmitMY thank you , I guess you already opened a issue for this a while ago here https://github.com/tensorflow/tfjs/issues/3553#issuecomment-657757071 and you were manually changing the stateful parameter. @pyu10055 @lina128 any thoughts on how to fix this ? Thank you so much.

[2021-05-12 16:19] willcray opened #5063 "React Native with TypeScript tfjs-models/universal-sentence-encoder error on model load"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow.js): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): iOS 14.5
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: iPhone 12
- TensorFlow.js installed from (npm or script link): https://www.npmjs.com/package/@tensorflow/tfjs

[2021-05-12 17:40] euan-smith commented on #4177
Note that although Google did release the Meet model under the Apache 2.0 licence with that model card pasted above, they no longer have it available for download and there is now a different card with a different licence.

[2021-05-12 18:04] akosb commented on #1422
Please see latest [WebCoral demo](https://github.com/google-coral/webcoral)

[2021-05-12 19:20] #4874 closed

[2021-05-12 19:20] #4989 closed

[2021-05-12 23:31] ashikns commented on #4177
Yep. The new model is called "Xeno" meet segmentation or something. This is the apache released model: [OneDrive link](https://1drv.ms/u/s!AkJhme6nGPezki2NGVkQOOLlCbCd?e=WoYxJG).

[2021-05-13 00:20] #5004 closed

[2021-05-13 02:03] Aspie96 opened #5064 "Mention of ml5.js"
Tensorflow is a well known as an Open Source framework for machine learning.
I believe it being Open Source is one of the main features of Tensorflow.

In: https://www.tensorflow.org/js/tutorials
Tensorflow refers users to ml5.js.

ml5.js used to be an Open Source library as well, but recently decided to use a proprietary license (https://medium.com/ml5js/ml5-js-code-of-conduct-4eb8fcae1ef7).

Sin

[2021-05-13 02:22] rthadur commented on #5064
cc @pyu10055 @mattsoulanille

[2021-05-13 03:16] pyu10055 commented on #1422
To follow up, we are working with Google Coral team to provide coral-usb support on the web, stay tuned.

[2021-05-13 04:31] aruneko commented on #4270
Since Expo SDK 41 dropped the support of old package name, we cannot upgrade to SDK 41 as long as we use tfjs on an expo project.

[2021-05-13 06:47] strumbelj commented on #3457
Is there a solution to render tensors as texture, e.g. `gl.texImage2D(gl.TEXTURE_2D, level, internalFormat, srcFormat, srcType, TENSOR);` ? Or are there any equivalent (in terms of speed) rendering possibilites?

[2021-05-13 14:17] willcray commented on #5063
This was fixed via some code changes and downgrading @tensorflow/tfjs to 3.0.0 (see [this post](https://stackoverflow.com/questions/67507110/react-native-with-typescript-tfjs-models-universal-sentence-encoder-error-on-mod/67514193#67514193).

Code changed to the following:

`import React, { useEffect, useState } from 'react';
import "@tensorflow/tfjs-react-native";
import * as tf from '@tensorflow

[2021-05-13 16:25] 6r1d commented on #5064
If some license restricts the userbase in any way, this is simply wrong.

To be clear, what restrictions will `ml5.js` impose on the userbase from now on?

What also needs clarification is how much this influences TensorFlow itself.

* Will the use of `ml5.js` require license changes from TensorFlow?
* Will it require users to agree with something and / or act in a certain way?
* Will it limit acc

[2021-05-13 16:47] jasonmayes commented on #5064
So a few things:

1) I would say TensorFlow.js is pretty easy to use - you can take any of our pre-made models and use them in just a few lines of JS without any background in ML at all.  I would say they are both easy to use for a regular JS developer but may target slightly different audiences - I think ML5 is highly targeting creative coders so may have some extra models and functions for that

[2021-05-13 18:08] tewni-svg opened #5066 "bug/error when installing tfjs-node"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- Windows 10
- TensorFlow.js installed from "npm install `npm i @tensorflow/tfjs-node`
-

[2021-05-13 18:20] #353 closed

[2021-05-13 18:48] pyu10055 commented on #5060
@AmitMY I took a look at your H5 file, the stateful config on both SimpleRNN layers are set to false, can you verify that? thanks

[2021-05-13 19:47] tewni-svg commented on #5066
Ok, so, I found a fix: I have to rebuild it, but, when i try to conifgure it: `gyp: Undefined variable module_name in binding.gyp while trying to load binding.gyp`

[2021-05-13 22:29] rthadur commented on #5066
@tewni-svg what version of node and tfjs-node you are using ? also can you run npm rebuild @tensorflow/tfjs-node build-addon-from-source in your repo and try again.or can rebuild from scratch.

[2021-05-13 22:30] rthadur commented on #5066
also please check a related issue here https://github.com/tensorflow/tfjs/issues/4171 , thank you

[2021-05-14 00:01] #4921 closed

[2021-05-14 01:43] adotnusiyan opened #5071 "Audio is glitching/distortion using playRawAudio"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow.js): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows10
- TensorFlow.js installed from (npm or script link): npm
- TensorFlow.js version (use command below): 3.6.0
- speech-command version: 0.5.4
- Browser version: Version 90.0.4430.212 (Official Build) (x86_6

[2021-05-14 02:33] Nhanloveyou opened #5072 "cannot import multiple model at the same time"
**System information**
- Dell Computer.
- Window 10.

**When I import a model like mobilenet: npm i @tensorflow-models/mobilenet . It was successful. But when I import any other model like knn-classifier : npm i @tensorflow-models/knn-classifier. It returns a message**

npm ERR! code ERESOLVE
npm ERR! ERESOLVE unable to resolve dependency treenpm ERR!
npm ERR! Found: @tensorflow/tfjs-core@3.6.0
np

[2021-05-14 04:58] Aspie96 commented on #5064
For future readers: another user, after my post, added a list of questions, unrelated to Tensorflow and about ml5. @jasonmayes's answer followed. Then the questisons were deleted.

Hi, @jasonmayes.

I believe this refers to the now deleted off topic questions from another user, but the rest of your point is relevant.

What makes Tensorflow (or any other software) Open Source is not merely source a

[2021-05-14 14:03] tewni-svg commented on #5066
Hey, thank you for responding.

I did the rebuild, and checked the issue there. Also did the solutions provided there. Now I get this error:
`cpu backend was already registered. Reusing existing backend factory.
Platform node has already been set. Overwriting the platform with [object Object].
internal/modules/cjs/loader.js:1127
  return process.dlopen(module, path.toNamespacedPath(filename));

[2021-05-14 14:04] tewni-svg commented on #5066
PS D:\StarCon\src> node --version
v14.17.0

And the latest tensorflow NPM one

[2021-05-14 14:13] tewni-svg commented on #5066
Now I have a new error
`D:\StarCon\src\node_modules\@tensorflow\tfjs-node\dist\index.js:49
    throw new Error("The Node.js native addon module (tfjs_binding.node) can not " +
    ^

Error: The Node.js native addon module (tfjs_binding.node) can not be found at path: D:\StarCon\src\node_modules\@tensorflow\tfjs-node\lib\napi-v8\tfjs_binding.node.
Please run command 'npm rebuild @tensorflow/tfjs-no

[2021-05-14 14:19] tewni-svg commented on #5066
oops, accidently closed it. My bad, reopened

[2021-05-14 14:23] AmitMY commented on #5060
yep, that is correct, I did not use the right model file.
so this is a s none-issue.
Thanks!

[2021-05-14 14:23] #5060 closed

[2021-05-14 15:10] rthadur commented on #5066
please check this issue for similar error https://github.com/tensorflow/tfjs/issues/2046#issuecomment-544616086 , are you using a win32 bit ?

[2021-05-14 15:20] #5002 closed

[2021-05-14 16:06] tewni-svg commented on #5066
I have a 64bit machine

[2021-05-14 16:06] tewni-svg commented on #5066
PS D:\StarCon\src> node -p "process.arch"
ia32

[2021-05-14 16:07] tewni-svg commented on #5066
I have installed 32bit node, I am reinstalling the 64bit and will let you know. Thank you

[2021-05-14 16:09] tewni-svg commented on #5066
Okay, so. Now I get this error:
[code]

[2021-05-14 16:13] tewni-svg commented on #5066
HOLY SHIT, I ran the npm rebuild @tensorflow/tfjs-node --build-from-source  again and it works now! Holy fucking shit. It has taken over a week. Thank you! I never tought of reinstalling x64 version. Thank you!!!

Solution for anyone else:
Unistall Nodejs
Install 64BIT Of Nodejs
Run `npm rebuild @tensorflow/tfjs-node --build-from-source`
Enjoy

[2021-05-14 16:15] tewni-svg commented on #5066
Ok, f me. It worked for 1 launch LOL

Rebuilt made the V8 version, but it does not support the V8, how can I build the V7 one?
[code]

[2021-05-14 16:32] #5066 closed

[2021-05-14 16:35] tewni-svg commented on #5066
k

[2021-05-16 10:42] raffizulvian commented on #2000
I am facing the same issue while trying to load the model that I trained on python. The model using the [MobileNetV3](https://tfhub.dev/google/imagenet/mobilenet_v3_small_100_224/feature_vector/5) feature vector version from TF Hub.

- TensorFlow.js version = 3.6.0

Have there been any developments?

[2021-05-17 00:27] chomatdam commented on #4514
https://github.com/tensorflow/tensorflow/releases/tag/v2.5.0 released 3 days ago.

[2021-05-17 16:23] rthadur commented on #4514
@all can you please confirm if this is resolved after 2.5 release ? Thank you

[2021-05-17 16:25] devinshawntripp commented on #4514
Not working for me yet, but that is probably due to my own incompetence.
Will try some other things after work today. If anyone finds a step by step
way please share.

On Mon, May 17, 2021 at 11:23 AM Rajeshwar Reddy T ***@***.***>
wrote:

[2021-05-17 17:50] lina128 opened #5080 "CI failure: Uncaught ReferenceError: require is not defined thrown"
CI failure at test: computation in worker cpu {} tensor in worker FAILED
Throw: Uncaught ReferenceError: require is not defined thrown

[2021-05-17 22:17] chomatdam commented on #4514
I basically followed what @rodrigolive mentioned above cloning this time the v2.5.0 tag. Tensorflow built based on Bazel 4.1.0 rc4, bazel version I built on ARM- and tested this rebuilt `tfjs-node` dependency with danfo.js, it works.

[2021-05-18 01:30] devinshawntripp commented on #4514
So when I run the command:

I get this giant error

 ***@***.***: Please upgrade to @mapbox/node-pre-gyp: the
non-scoped node-pre-gyp package is deprecated and only the @mapbox scoped
package will recieve updates in the future
npm ERR! code 1
npm ERR! path /Users/devintripp/Desktop/Current
***@***.***/tfjs-node
npm ERR! command failed
npm ERR! command sh -c node scripts/install.js
npm ERR! CPU-dar

[2021-05-18 14:42] raffizulvian commented on #3786
@grantbrewster have you try to save it into SavedModel format and then convert it to Graph Model?
I'm facing the same issue before, I found an alternate solution for this. Instead of saving your model in Keras (.h5) format, save your model into TensorFlow SavedModel format.
[code]
After that, you can convert the model to TensorFlow.js format using the command line.
[code]
Then load your model usin

[2021-05-18 16:14] rthadur opened #5084 "M1 Chip"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow.js version (you are using):
- Are you willing to contribute it (Yes/No):

**Describ

[2021-05-18 16:17] #5084 closed

[2021-05-18 18:03] larsgk commented on #1422
This is awesome! - especially interesting if it works from an Android phone too :)

[2021-05-18 22:29] #5080 closed

[2021-05-19 01:44] rahulchaphalkar opened #5091 "tfjs-backend-wasm - How to enable symbols for wasm function names"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., WSL2 Ubuntu 20):
- Mobile device (e.g. Surface Lapt

[2021-05-19 04:37] qjia7 opened #5092 "moveData doesn't support read data asynchronously"
When we switch backend, for some global tensors, it needs to call [moveData](https://github.com/tensorflow/tfjs/blob/master/tfjs-core/src/engine.ts#L422) to move data from the original backend to the current backend by using [readSync](https://github.com/tensorflow/tfjs/blob/master/tfjs-core/src/engine.ts#L425). However, for webgpu backend, it doesn't support read data back synchronously from GPU

[2021-05-19 04:38] qjia7 commented on #5092
@pyu10055 @lina128 @jinjingforever Let's use this issue to track the dataSync problem in moveData, which happens when we switch backend from webgpu to others.

[2021-05-19 05:57] axinging commented on #4936
Thanks @mattsoulanille! Then I will close this first.

[2021-05-19 05:57] #4936 closed

[2021-05-19 07:18] seminelee opened #5093 "why is @tensorflow/tfjs-backend-wasm still in alpha？"
why is @tensorflow/tfjs-backend-wasm still in alpha？what problems is facing？
Can @tensorflow/tfjs-backend-wasm be used in project online？
Thank you

[2021-05-19 08:42] rasti90 commented on #4606
I have the same problem. any update?

[2021-05-19 09:22] rubenlg commented on #5042
Did the git repo help with reproducing the bug?

[2021-05-19 10:56] rikkitook commented on #224
Little side note: we noticed that on the full tensorflow with gpu enabled, consecutive calls with different batch sizes leads to session reheating. Like, for example, first call with batchsize = 1 is long, first call with batchsize = 5 is also long on the same session

[2021-05-19 12:40] vcucu commented on #3786
If the problem persists after the fix with the replacement of "Functional" with "Model", you probably have tensorflowjs 3.5.0 or higher (most recent is 3.6.0 at the moment). Downgrading to 3.4.0 helps to resolve the issue.

[2021-05-19 13:17] Honga1 commented on #4923
I've had some success adding acceleration and damping on the key points, essentially doing extrapolation to reduce jitteriness, and make the response more fluid. Wouldn't be so difficult if you took the blazeface bounding box coords, which update more often, and then scaled the accelerations accordingly.

If the end I some multi order low pass filters to the movement, as it seemed less jitter was

[2021-05-19 17:10] rthadur commented on #5042
I was not able to run on this my machine and reproduce the same.

[2021-05-19 18:00] jinjingforever commented on #5093
Thank you for the report! Looks like the README file is outdated. It is no longer in alpha and it is definitely can be used in online projects. I will update it.

The only thing to note is that not all our pre-trained models support the WASM backend. I will update the list in the README file too. Thanks!

[2021-05-19 19:45] playground commented on #1772
I'm getting the same errors.  webpack-node-externals didn't help.

  "devDependencies": {
    "@types/node": "^15.0.2",
    "@typescript-eslint/parser": "^4.22.1",
    "awesome-typescript-loader": "^5.2.1",
    "dotenv": "^9.0.0",
    "jsonfile": "^6.1.0",
    "ts-loader": "^9.1.2",
    "ts-node": "^9.1.1",
    "typescript": "^4.2.4",
    "webpack": "^5.36.2",
    "webpack-cli": "^4.6.0",
    "web

[2021-05-19 23:31] #5034 closed

[2021-05-19 23:38] rthadur commented on #4976
I guess there are duplicate dependencies in the package.json , which needs to be resolved , please check.
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow-tfjs) since it is not a bug or feature request. There is also a larger community that reads questions there.

[2021-05-19 23:38] #4976 closed

[2021-05-20 00:47] jinjingforever commented on #5091
Hi Rahul,

Looks like you need to do both of the following to make it work:

- Add `--copt="-g"` to [build-wasm.sh](https://github.com/tensorflow/tfjs/blob/master/tfjs-backend-wasm/scripts/build-wasm.sh#L27)
- Add `"-g"` to `linkopts` in the [BUILD](https://github.com/tensorflow/tfjs/blob/master/tfjs-backend-wasm/src/cc/BUILD#L34) file.

I tried it and here is the end result when I step into the W

[2021-05-20 05:33] Rishit-dagli opened #5099 "Extract TFLite Metadata with TFJS TFLite API"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow.js version (you are using): TFJS TFLite API 0.0.1-alpha.4
- Are you willing to cont

[2021-05-20 09:27] wojciechtryba opened #5100 "Different shape values and performance issue depending on browser"
**System information**
- OS Platform and Distribution: macOs Catalina
- TensorFlow.js installed from (npm or script link): npm
- TensorFlow.js version (use command below): 3.6.0
- Browser version: Google Chrome 90.0.4430.212, Mozilla Firefox 88.0.1, Safari 13.0.5

**Describe the current behavior**

The code is executed in Angular 10 web worker.

1. Using ```tf.real()``` or ```tf.imag()``` after ``

[2021-05-20 17:59] #4676 closed

[2021-05-20 17:59] #4574 closed

[2021-05-20 22:40] vladmandic opened #5103 "force op to execute on cpu or allow configurable handoff size"
when using `webgl` backend, `WEBGL_CPU_FORWARD` flag is a must to avoid GPU access for tiny ops.
but the issue is that value to determine handoff is hardcoded at `CPU_HANDOFF_SIZE_THRESHOLD = 128`.

i have `tf.sum()` operation on tensor with shape [1,32,32,3] running in a long loop and exeuction of sum on CPU is ~3ms average, but execution using WebGL is 15ms - that is a 500% massive difference.

[2021-05-21 03:54] adotnusiyan commented on #5071
@lina128
I tried [this solution](https://stackoverflow.com/a/38555027/9340882), but it didn't work..

[2021-05-21 08:12] Timothycobain87 commented on #5071
I would sat stop but its to late now Sent from Mail for Windows 10 From: adotnusiyanSent: Thursday, May 20, 2021 11:54 PMTo: tensorflow/tfjsCc: SubscribedSubject: Re: [tensorflow/tfjs] Audio is glitching/distortion using playRawAudio ***@***.***I tried this solution, but it didn't work..—You are receiving this because you are subscribed to this thread.Reply to this email directly, view it on GitHu

[2021-05-21 19:02] #5103 closed

[2021-05-22 15:45] vladmandic opened #5110 "Backend WASM does not implement kernel op `mod`"
As subject line says, trivial math operation `tf.mod` is missing from `tfjs-backend-wasm`...

[code]

Issue found during porting and optimizing MobileNet-v3 with CenterNet object detection model: <https://github.com/vladmandic/mb3-centernet>

Environment: TFJS 3.6.1 with WASM backend with Edge/Chromium 90 on Windows 10

[2021-05-23 05:58] iathul opened #5111 "[Codelab]: TensorFlowJS Comment Spam Detection"
[Found a typo in Section 8 Serve the machine learning model](https://codelabs.developers.google.com/codelabs/tensorflowjs-comment-spam-detection?continue=https%3A%2F%2Fdevelopers.google.com%2Flearn%2Fpathways%2Fget-started-text-classification-web%3Fhl%3Den%23codelab-https%3A%2F%2Fcodelabs.developers.google.com%2Fcodelabs%2Ftensorflowjs-comment-spam-detection#7)

The current sentence is like this.

[2021-05-23 18:27] BadMachine commented on #4816
@coco-moiny  Did you find the solution?

[2021-05-23 18:29] rubenlg commented on #5042
I ran the script with `--inspect-brk` to debug it in the chrome devtools and get some insights. Hopefully this helps:
`info.backend` is of type `MathBackendCPU`.

Here is a screenshot of the debugger where you can see that this backend does indeed lack that `decComplexRef` member:
![image](https://user-images.githubusercontent.com/12220495/119271201-d5ec7f00-bc00-11eb-9fd4-69775f9be0a1.png)

While

[2021-05-23 19:29] rubenlg commented on #5042
Checking the blame of `@tensorflow-models/universal-sentence-encoder` sheds quite a bit of light into this issue:

https://github.com/tensorflow/tfjs-models/blame/master/universal-sentence-encoder/package.json

The dependencies were updated but the version of the package remained the same, so there is a discrepancy between the dependencies in npm and in github.

Can you please release a new versio

[2021-05-23 19:33] outermeasure commented on #5042
I could also reproduce this bug when using node v14, npm v7.14 and the following deps in package.json:

[code]
It wasn't reproducible with npm v6.

[2021-05-23 20:05] R-abodyak opened #5112 "use posenet.js with flutter mobile"
I realy want to use
  <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs"></script>
  <script src="https://cdn.jsdelivr.net/npm/@tensorflow-models/posenet"></script>
in flutter web , so I put scripts  and this test code in index.html :

    posenet.load().then(function(net) {
      const pose = net.estimateSinglePose(imageElement, {
        flipHorizontal: true
      });
      return pose;

[2021-05-23 22:32] murphycj commented on #3966
I also observe the same issue after visiting https://juliiami.github.io/tfjs_example/index.html.

| Browser | Device | OS | Probability of Egyptian cat |
| - | - | - | - |
| Chrome - Version 89.0.4389.90 (Official Build) (x86_64) | Macbook Pro | Mac OS 11.2.2 | 0.589 |
| Safari - Version 14.0.3 (16610.4.3.1.4) | Macbook Pro | Mac OS 11.2.2 | 0.687 |
| Safari | iPhone X | iOS 14.4.2 | 0.680 |
| Chr

[2021-05-24 02:56] x110 commented on #2000
i am running into the same issue

[2021-05-24 18:41] #5093 closed

[2021-05-24 18:57] rthadur commented on #5042
@rubenlg @outermeasure Thank you confirming. We will be releasing new version of npm.

[2021-05-24 20:14] pyu10055 commented on #5100
@wojciechtryba I have tried your example code on both firefox(88.0.1) and safari (14.1). The xRe and xIm all have the same shape as chrome [1, 4], please confirm that are you using webworker in both cases?

[2021-05-24 20:31] Oortone opened #5113 "Dead link in tutorial"
This page:
https://codelabs.developers.google.com/codelabs/tensorflowjs-audio-codelab/index.html#0

This link is dead:
This codelab will not go over the theory behind audio recognition models. If you are curious about that, **check out this tutorial**.

[2021-05-24 21:11] OckyKristanto-TomTom opened #5115 "React Native : Huge Memory Leak when using face-landmark-detection in estimateFaces() function"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow.js): No
- OS Pla

[2021-05-24 23:00] lina128 commented on #5112
Hi @R-abodyak, to call it in dart, you can use dart:js library (https://api.dart.dev/stable/2.12.2/dart-js/dart-js-library.html) to wrap essential TF.js methods. We can also provide such dart wrapper if needed, please let us know if you want to request this feature.

[2021-05-25 08:52] rosek86 commented on #5100
Hi @pyu10055,

We investigated this further, and we get different shape for webgl and cpu backends. Is it expected? For some reason Tensorflow switches to the cpu backend, and then we get different shape and very slow computation.

We've been trying to implement upsampling using FFT method but we'll move computation to the backend for a time being.

[2021-05-25 09:37] taheroo opened #5122 "Why I can't load a Keras Model with tfjs-react-native?"
I like to load a ML Model in a React-Native App.
I converted Keras model model.h5 to model.json and binary weight files using this command.

`tensorflowjs_converter --input_format=keras /tmp/model.h5 /tmp/tfjs_model`
App Code
[code]
I tried changing `modelTopology.model_config.class_name` in `model.json` from Functional to Model still the same result.

[2021-05-25 09:40] sharathgg5 opened #5123 "[Codelab]: Making Predictions from 2D Data"
The section [Define the model architecture](https://codelabs.developers.google.com/codelabs/tfjs-training-regression/index.html#3) is not able to complete due to code error.

In the HTML code example `<script src="script.js"></script>` appears before `<body>`. Since the JavaScript code is executed before the HTML body tag has loaded, document.body is null.

A possible solution is to move the scrip

[2021-05-25 11:18] #5045 closed

[2021-05-25 18:56] rthadur commented on #5113
This is fixed now, please verify.

[2021-05-25 18:56] #5113 closed

[2021-05-25 19:14] rthadur commented on #5123
This is fixed , please verify.

[2021-05-25 19:14] #5123 closed

[2021-05-25 19:58] pyu10055 commented on #5115
@OckyKristanto-TomTom Please dispose the image tensors from TensorCamera.
Please take a look at the example [here](https://github.com/tensorflow/tfjs/blob/master/tfjs-react-native/integration_rn59/components/webcam/realtime_demo.tsx#L101)

[2021-05-25 20:08] OckyKristanto-TomTom commented on #5115
@pyu10055 . Indeed that dispose line solves the Memory Leak.
Thanks a lot for the swift reaction and help

Suggestion: maybe its worth it to add the dispose line on the documentation: https://js.tensorflow.org/api_react_native/0.5.0/#cameraWithTensors

[2021-05-25 20:08] #5115 closed

[2021-05-25 20:20] ai-machine-42 opened #5124 "Problem installing tfjs-node and tfjs-node-gpu on Windows"
**System information**
- OS Platform and Distribution: Windows 10 20H2 (19042.985)
- TensorFlow.js installed from (npm or script link): npm
- TensorFlow.js version: 3.6.0
- CUDA/cuDNN version: 11.3/8.2

**Describe the problem**
Whenever I try installing tfjs-node (or tfjs-node-gpu) using npm (or yarn), I get the following error:
[code]

**Provide the exact sequence of commands / steps that you exe

[2021-05-25 20:45] pfernandom commented on #322
I see this PR was merged to address this issue:

https://github.com/tensorflow/tfjs-models/pull/523

However, I still see it in the latest versions:

[code]

Am I looking at the right version or is this bug still active? If it's not fixed yet, I would like to submit a PR for it

[2021-05-26 03:03] playground commented on #2845
Any updates on this?  Is it possible to load tfrecord file from filesystem to use with mobilenet for inference?

[2021-05-26 05:17] gyagp opened #5126 "Introduce yarn workspaces"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow.js version (you are using): Any version
- Are you willing to contribute it (Yes/No)

[2021-05-26 17:00] ideerge opened #5128 "Body-Pix Dataset with the latest TFJS"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow.js version (you are using): 2
- Are you willing to contribute it (Yes/No): No

**De

[2021-05-26 19:44] pyu10055 commented on #5124
@ai-machine-42 are you behind firewall, can you access files on google cloud storage?
https://storage.googleapis.com/

[2021-05-26 19:53] pyu10055 commented on #5126
@gyagp Thank you for the suggestion. @mattsoulanille will our move the bazel solve this issues? or we may still benefit from using yarn workspace?

[2021-05-27 06:03] Nhanloveyou commented on #5072
I solved the above case by installing 2nd or more dependencies with --force. Although the program warning, it still works . Thanks you @rthadur .

[2021-05-27 07:10] ai-machine-42 commented on #5124
I am not sure, but this is what I get when I go to https://storage.googleapis.com/:
![image](https://user-images.githubusercontent.com/81181661/119780286-4b42a300-bed2-11eb-8462-90d31d105eeb.png)

[2021-05-27 07:43] isidorn commented on #4838
Just to check if there are any updates regarding this issue?
Also adding @yoeo to the discussion, the original author of the Model we want to convert.
Thanks!

[2021-05-27 09:02] vishvrajput opened #5132 "Not able to load model.json file using bundleResourceIO app is getting crashed . File size more than 500kb"
This template is for miscellaneous issues not covered by the other issue categories.

For questions on how to work with TensorFlow.js, or support for problems that are not verified bugs in TensorFlow.js, please go to [StackOverflow](https://stackoverflow.com/tags/tensorflow.js).

[2021-05-27 15:43] pyu10055 commented on #4838
@isidorn All ops are supported, we are investigation some issues with the model execution, will try to update here as it progress.

[2021-05-27 15:53] pyu10055 commented on #5100
If you are using webworker, currently only chrome/edge support offscreen canvas, safari and firefox do not, it will revert back to cpu.
But if you can afford to run the model with the main js thread, webgl result should be consistent across browsers.

[2021-05-27 19:37] rthadur commented on #5132
can you try using `async` as mentioned in the documentation and let us know if this works ?

[code]

[2021-05-27 19:41] rthadur commented on #5128
Thank you for reporting,I was also not able to run using latest version. @pyu10055 @lina128 looks like latest changes are causing the errors , can you please check ?

[2021-05-27 19:45] rthadur commented on #5124
How about this https://storage.googleapis.com/tfjs-models/demos/mobilebert-qna/index.html ? can you access ?

[2021-05-27 22:34] mattsoulanille commented on #5126
Thanks for the suggestion @gyagp! This has been a long-standing issue with our monorepo that deserves to be fixed as it's a significant source of development friction.

The move to [Bazel](https://bazel.build/) (and [rules_nodejs](https://github.com/bazelbuild/rules_nodejs)), which Angular uses as their build system, will solve this by using a single root package.json file for yarn dependencies. P

[2021-05-27 23:06] lina128 opened #5134 "tf.image.greyscale_to_rgb"
Useful for converting greyscale image back to rgb so that the output can be rendered on canvas with toPixels.

tf api: https://www.tensorflow.org/api_docs/python/tf/image/grayscale_to_rgb

[2021-05-28 00:05] gyagp commented on #5126
Thanks for the details and look forward to further integration with Bazel. Let me close this request.

[2021-05-28 00:05] #5126 closed

[2021-05-28 01:00] dewball345 opened #5136 "Cannot read property 'children' of undefined with using Tensorflow Object Detection API model in tfjs"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow.js): Yes
- OS Pl

[2021-05-28 06:13] ai-machine-42 commented on #5124
Apparently, my ISP blocks google cloud storage, so I used a VPN to bypass the blocking and now I can access it and the above error is gone. However, now I'm getting a new error:
[code]
and now I'm stuck here.
I've tried all the following but none helped:
* `npm config set registry "http://registry.npmjs.org/"` (using http instead of https)
* `npm config set strict-ssl false`
* using powershell as