[2019-02-16 23:12] nkreeger commented on #1121
@iacovlev-pavel Oh OK sorry I missed the part about the GPU layout. I'll try and fix that this week. We switched to different hosted binaries for libtensorflow. I don't know why GPU Win64 builds are packaged differently...

[2019-02-17 08:19] keyyuki opened #1255 "Error import Keras Mobilenet model: Unknown layer: BatchNormalizationV1"
Hi everyone

I have a problem when run keras mobinet model in tensorflow js.

Browser raise exception:
[code]

My model train by python with keras application mobilenet
[code]
ref: https://keras.io/applications/#mobilenet

There is my h5 file: https://drive.google.com/file/d/10YmV7jfR0ooPxzXUbD1s1Y0X1FjRLeyz/view?usp=sharing

TensorFlow.js version: 0.15.1
Browser: chrome Version 72.0.3626.109 (Off

[2019-02-17 08:54] MariasStory opened #1256 "Person re-identification?"
Hi, any plans for person re-identification?

[2019-02-18 01:33] strout opened #1257 "Tensor.data() sometimes leaks a Tensor"
#### TensorFlow.js version

latest (0.15.2), WebGL backend.

#### Browser version

Chrome 72 and Firefox 65

#### Describe the problem or feature request

Sometimes when calling `.data()` on a Tensor, a new Tensor is allocated and not cleaned up. From looking at the code, [it appears to happen when the Tensor is a slice](https://github.com/tensorflow/tfjs-core/blob/e8256344e900ac35c59965c8bd1282c4

[2019-02-18 01:45] JiahangOK opened #1258 "How to convert python's tensorflow.contrib.keras.preprocessing.sequence.pad_sequences() into tensorflow.js's method?"
I have a piece of code in python:
[code]
How to use this method(kr.preprocessing.sequence.pad_sequences) in tensorflow.js?

[2019-02-18 01:46] strout commented on #1257
`dataSync` has the same problem.

[2019-02-18 06:38] RexHuang opened #1259 "Get wrong result after add BatchNormalization layer"
Get wrong result after add BatchNormalization layer

#### TensorFlow.js version
0.14.1

#### Browser version
Google Chrome 72.0.3626.109

#### Describe the problem or feature request
I am using Tensorflow.js to predict on a model I trained in Keras, use the following model is ok:

model = Sequential()
model.add(Conv2D(filters = 32, kernel_size = (5,5),padding = 'Same', activation ='relu', input_sh

[2019-02-18 07:12] iacovlev-pavel commented on #1121
@nkreeger Thank you

[2019-02-18 07:23] iacovlev-pavel commented on #841
@mmmaks2004 Yes, this is the result: `AssertionError: Postprocessor/ExpandDims_1 is not in graph`.

[2019-02-18 07:29] iacovlev-pavel opened #1260 "Error: Unsupported dtype in weight 'BatchMultiClassNonMaxSuppression/map/while/PadOrClipBoxList/cond/Greater': bool"
#### TensorFlow.js version
[code]

#### Browser version
N/A

#### Describe the problem or feature request
When running `tensorflowjs_converter` with `--quantization_bytes=2` I get: `Error: Unsupported dtype in weight 'BatchMultiClassNonMaxSuppression/map/while/PadOrClipBoxList/cond/Greater': bool`. With no `--quantization_bytes` it works as expected.

#### Code to reproduce the bug / link to featu

[2019-02-18 07:39] mmmaks2004 commented on #841
iacovlev-pavel, graph names without quotes typed?

[2019-02-18 08:42] iacovlev-pavel commented on #841
@mmmaks2004

Here is the command:
[code]

`AssertionError: Postprocessor/ExpandDims_1 is not in graph` seems right, since this is not a SSD model but a faster_rcnn.
There is no `Postprocessor` only `SecondStagePostprocessor`.

[2019-02-18 08:49] Naikno commented on #569
@nsthorat  i'm simply use coco-ssd from tensorflow-models, with version 0.1.1.
The error appears when i call coco.load method

[2019-02-18 14:30] nsthorat commented on #569
Thanks, we’ll take a look ASAP. For now can you use 0.14.1?

cc @dsmilkov

[2019-02-18 14:50] chenqing opened #1261 "tfjs-converter: may update tensorflow's version"
To get help from the community, we encourage using Stack Overflow and the [`tensorflow.js`](https://stackoverflow.com/questions/tagged/tensorflow.js) tag.

#### TensorFlow.js version

#### Browser version

#### Describe the problem or feature request
when I use `pip install tensorflowjs`, find some error:
` Could not find a version that satisfies the requirement tensorflow==1.12.0 (from tensorflow

[2019-02-18 15:04] caisq commented on #1259
@RexHuang One thing you might have noticed is that the implementation of BatchNormalization differs between keras and tensorflow.keras. Our implementation in TF.js aligns with tensorflow.keras. So my guess is that you are using keras (i.e., not tensorflow.keras) and that's the reason for the discrepancy you see. Can you confirm what "flavor" of keras you are using?

[2019-02-18 15:05] caisq commented on #1255
@keyyuki What versions of keras and tensorflow are you using?

[2019-02-18 15:13] RexHuang commented on #1259
Here's the BatchNormalization I am using:
from keras.layers.normalization import BatchNormalization

[2019-02-18 15:24] #1243 closed

[2019-02-18 15:59] keyyuki commented on #1255
@caisq I train on google colab, tensorflow 1.13.0 rc
I found that it error on tf 1.13, but stable version 1.12 is ok.

[2019-02-18 16:03] caisq commented on #1255
cc @reedwm I think this is related to the new Layer names "BatchNormalizationV1" and "BatchNormaliztionV2" introduced about three months ago. @reedwm may have more thoughts on that.

But it seems like that we need to accommodate this change on the TF.js side, possibly by registering the existing BatchNormalization layer under the new name "BatchNormalizationV1".

[2019-02-18 18:51] nsthorat commented on #1249
You can get to the latest with https://js.tensorflow.org/api/latest

[2019-02-18 22:55] bidakos commented on #1261
@chenqing Have you figured it out? I got the same error message after a fresh rebooting.

Could not find a version that satisfies the requirement tensorflow==1.12.0 (from tensorflowjs) (from versions: 1.13.0rc1, 1.13.0rc2)
No matching distribution found for tensorflow==1.12.0 (from tensorflowjs)

[2019-02-19 02:38] ToonTalk opened #1262 "Documentation for tf.memory is missing numBytesInGPU"
https://js.tensorflow.org/api/latest/#memory

doesn't mention numBytesInGPU

[2019-02-19 03:32] caisq commented on #1261
Thanks for filing the issue. We'll update the dependent version of tensorflow for tensorflowjs once the final release of r1.13 (i.e., 1.13.0) comes out.

[2019-02-19 03:34] chenqing commented on #1261
@bidakos  I create a pr , but not merge now . you may just clone tensorflow/tfjs-converter and build by your self

[2019-02-19 04:07] caisq commented on #244
Closing this issue, as `maxPooling1d` layer is able to handle `poolSize` or `strides` passed as arrays now.

[2019-02-19 04:07] #244 closed

[2019-02-19 04:30] caisq commented on #673
This should have been fixed a while ago. I'll send a PR to lock the behavior in with a unit test.

[2019-02-19 05:45] reedwm commented on #1255
Yeah, the class name is now either BatchNormalizationV1 or BatchNormalizationV2. In Python, the layer is still referred to as `tf.keras.layers.BatchNormalization`.

I do not know enough about TF.js to know what the issue is, but as @caisq said, it seems this needs to be changed on the TF.js side

[2019-02-19 06:01] kangyizhang commented on #1041
This has been fixed by https://github.com/tensorflow/tfjs-data/pull/128

[2019-02-19 06:01] #1041 closed

[2019-02-19 07:30] Christywl opened #1263 "The outputs are incorrect on Intel Apollo Lake NUC"
To get help from the community, we encourage using Stack Overflow and the [`tensorflow.js`](https://stackoverflow.com/questions/tagged/tensorflow.js) tag.

#### TensorFlow.js version
https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@0.15.1/dist/tf.min.js
#### Browser version
google chrome stable 72.0.3626.109
#### Describe the problem or feature request
[code]

- The outputs are **incorrect** on Intel

[2019-02-19 07:39] MariasStory commented on #1256
I mean something like: https://github.com/KaiyangZhou/deep-person-reid

[2019-02-19 08:56] RexHuang commented on #1259
@caisq What's your suggestion about the fix?

[2019-02-19 14:09] caisq commented on #1259
@RexHuang For now, please use the keras that comes with tensorflow, instead of keras-team/keras. In other words, use

`from tensorflow.keras.layers.normalization import BatchNormalization`

All other important may need to be changed accordingly.

[2019-02-19 15:09] annxingyuan opened #1264 "Remove texture dimensions from shader cache key - upload as uniforms instead"
This will enable shader program reuse and cut down on compilation time. This will especially benefit our text models e.g. https://github.com/tensorflow/tfjs-models/tree/master/universal-sentence-encoder

[2019-02-19 15:11] annxingyuan opened #1265 "Add more CPU forwarding"
Add logic to more WebGL backend ops to forward to the CPU. Start with those ops involved with https://github.com/tensorflow/tfjs-models/tree/master/universal-sentence-encoder

[2019-02-19 15:31] nsthorat commented on #1241
Just an FYI we probably won’t ever turn on strictNullChecks, it’s a huge change. We used to do this in old projects but it was more cumbersome than it was worth.

[2019-02-19 15:36] Sparkier commented on #1241
Ok, thank you for the information. Since this is the default config and many projects use it (e.g. Googles Polymer Starter Kit, which made me aware of it), it might be a good idea to include information about the need to include `skipLibCheck` in the documentation.

[2019-02-19 15:38] caisq commented on #1088
it turns out that this is not a bug in tfjs-node-gpu. I can't use my GPU because it has an old CUDA Compute Capability version (5.2), which is lower than the minimum requirement of the libtensorflow in the latest version of tfjs-node (6.0).

[2019-02-19 15:38] #1088 closed

[2019-02-19 15:40] tafsiri commented on #1235
@leemengtaiwan could you try this using version `0.14.1` of tensorflowjs and let us know if it works? There is a regression that we discovered between 0.14.1 and 0.14.2 that affects model loading/execution.

[2019-02-19 16:17] dsmilkov opened #1266 "Add integration tests for off-the-shelf tfjs-models"
Add integration tests for our off-the-shelf models.

Each test will load a model, make a prediction and assert the output. These can run on travis nightly and depend on tfjs@master to catch early bugs.

We should also consider making the tests hermetic, by developing test-utils that isolate `fetch()`-related and `loadWeights()`-related methods and return randomly initialized weights with the corre

[2019-02-19 16:47] bidakos commented on #1261
@chenqing worth a shot
@caisq thanks for the heads up

[2019-02-19 16:47] caisq commented on #1261
cc @pyu10055

[2019-02-19 16:51] #673 closed

[2019-02-19 17:41] #1159 closed

[2019-02-19 17:41] #1163 closed

[2019-02-19 17:42] tafsiri commented on #1130
Initial content written, but links will need to be updated later so moving this back to To Do column.

[2019-02-19 17:43] #1156 closed

[2019-02-19 17:43] #1157 closed

[2019-02-19 17:43] #1126 closed

[2019-02-19 19:24] nsthorat commented on #1175
FYI the converter doesn’t yet take a JSON object as the first argument. I think it also doesn’t support an IOHandler.

[2019-02-19 19:38] dsmilkov commented on #1175
Nice catch. @pyu10055 last remaining item:

loadGraphModel() should take an `IOHandler` and a `GraphModelJSON`

[2019-02-19 19:47] karmel commented on #1255
@yhliang , can you take a look?

[2019-02-19 20:02] dsmilkov commented on #1235
Hi @leemengtaiwan ,

Can you share your model with us? Even though you've slightly modified the example, it looks like you are loading your own custom model (GAN architecture).

[2019-02-19 20:41] dorian95 opened #1267 "Error converting from tensorflowjs to Keras"
To get help from the community, we encourage using Stack Overflow and the [`tensorflow.js`](https://stackoverflow.com/questions/tagged/tensorflow.js) tag.

#### TensorFlow.js version
0.8.0

#### Browser version
not relevant

#### Describe the problem or feature request
Whenever I try to convert the tensorflowjs model back to Keras, I get:

`File "/home/shepard2295/anaconda3/envs/py35/bin/tensorflo

[2019-02-19 21:27] gearsmotion789 opened #1268 "Camera object tracking with tfjs"
Hi,
I wanted to ask if there is a sample that uses node.js to do object tracking from a live camera with tfjs. I see there is an example that can do tracking for a single image from https://github.com/tensorflow/tfjs-examples/tree/master/simple-object-detection, but what's the code to do live camera tracking?

[2019-02-19 21:34] nkreeger commented on #1121
Fix in here https://github.com/tensorflow/tfjs-node/pull/208

[2019-02-19 22:01] #1257 closed

[2019-02-19 22:04] nkreeger opened #1269 "Port tfjs-node install/prep/stage scripts to TypeScript."
Since the install/prep/stage JS scripts in the tfjs-node package are getting rather complex - it probably makes sense to port these to TypeScript at some point. This is an issue to track that feature upgrade.

[2019-02-19 22:28] hpandeycodeit commented on #1238
@davidsoergel is this open to work on?

[2019-02-19 22:30] davidsoergel commented on #1238
@hpandeycodeit Yep, go for it!

[2019-02-19 23:32] dsmilkov commented on #569
Hi @Naikno, we are going to fix coco-ssd with the release of TF.js `0.15.3`, which will happen by end of week (most likely Friday). At the same time, we will release new coco-ssd that depends on the 0.15.3. In the mean time, you have two options: use older version (0.14.1), or use the latest alpha release `1.0.0-alpha3`

[2019-02-19 23:33] dsmilkov commented on #569
Closing this with https://github.com/tensorflow/tfjs-core/pull/1577

[2019-02-19 23:33] #569 closed

[2019-02-20 02:01] yhliang2018 commented on #1255
On Keras side, we can serialize both BatchNormalizationV1 and BatchNormalizationV2 as BatchNormalization for model exporting. In this case, when the model is loaded into TF.js, the class name will be correct.  I'm creating a CL for it.

Note that, if the model with BatchNorm layer is loaded in TF.js, it will be taken as the BatchNorm layer of TF.js without distinguishing the layer version (BatchNo

[2019-02-20 06:07] jaygit123 commented on #1220
Hi @caisq,
Any updates please?

Regards, Jay

[2019-02-20 09:29] MariasStory commented on #1256
Specifically: https://github.com/Wanggcong/Spatial-Temporal-Re-identification

[2019-02-20 14:50] #1232 closed

[2019-02-20 15:03] caisq commented on #1112
For the record, this StackOverflow question seems to point to a similar issue:
https://stackoverflow.com/questions/54774073/incorrect-predictions-when-using-the-keras-pre-trained-inceptionv3-xception-mode

[2019-02-20 15:08] leemengtaiwan commented on #1235
@tafsiri thanks for the suggestion, I just tried `0.14.1` and got same error message. And actually I had also post this issue to [StackOverflow](https://stackoverflow.com/questions/54675163/cant-predict-using-loaded-frozenmodel) and @pyu10055 was suggesting me using other versions of tfjs like `latest`, `v0.15.1` and `v1.0.0-alpha2` but all of them produced the same error.

@dsmilkov yes of course

[2019-02-20 16:41] caisq opened #1270 "Incorrect results from conv2d with kernel size 1"
#### TensorFlow.js version
0.15.2 (latest)

When the kernelSize for conv2d has a dimension of 1 (e.g., [1, 1] or [1, 2]), the result differs between Python TensorFlow and TensorFlow.js in the browser.

Code to reproduce error:

[code]

The result from the browser is:
[[[[40 , 20 , 40 ],
       [80 , 40 , 80 ]],

      [[-40, -20, -40],
       [-80, -40, -80]]]]'

while the result from TensorFlow (

[2019-02-20 16:43] caisq commented on #1270
You may pull the code from my PR https://github.com/tensorflow/tfjs-layers/pull/471 to reproduce this issue.

[2019-02-20 16:43] #1210 closed

[2019-02-20 16:44] dsmilkov commented on #1210
All deprecating messages should be in place, but let me know otherwise.

[2019-02-20 16:45] caisq commented on #1112
After some further debugging, I've narrowed this down to `conv2d_10` layer of the resnet20 model. The layer shows very different outputs between node.js and the browser. I think there is a bug in the way our WebGL backend handles 1x1 conv2d kernels right now. See issue: https://github.com/tensorflow/tfjs/issues/1270

[2019-02-20 17:27] annxingyuan commented on #1270
@dsmilkov @caisq just a note that this occurs on every tfjs backend and is not packing related.

[2019-02-20 18:18] dsmilkov commented on #1236
We've decided on `forEachAsync()`.

[2019-02-20 18:23] tafsiri commented on #1127
Link to doc https://github.com/tensorflow/tfjs-website/blob/devsite/docs/tutorials/index.md

[2019-02-20 18:27] tafsiri commented on #1128
Link to doc: https://github.com/tensorflow/tfjs-website/blob/devsite/docs/tutorials/learning/ml.md

[2019-02-20 18:27] tafsiri commented on #1155
Link to doc: https://github.com/tensorflow/tfjs-website/blob/devsite/docs/guides/platforms-environments.md

[2019-02-20 18:28] tafsiri commented on #1164
Link to doc: https://github.com/tensorflow/tfjs-website/blob/devsite/docs/tutorials/transfer/what-is-transfer-learning.md

[2019-02-20 18:29] tafsiri commented on #1154
Link to doc: https://github.com/tensorflow/tfjs-website/blob/devsite/docs/guides/tensors-operations.md

[2019-02-20 18:30] tafsiri commented on #1150
Link to doc: https://github.com/tensorflow/tfjs-website/blob/devsite/docs/guides/tfjs-layers-for-keras-users.md

[2019-02-20 18:30] tafsiri commented on #1152
Link to doc: https://github.com/tensorflow/tfjs-website/blob/devsite/docs/guides/training-models.md

[2019-02-20 18:31] tafsiri commented on #1153
Link to doc: https://github.com/tensorflow/tfjs-website/blob/devsite/docs/guides/models-and-layers.md

[2019-02-20 18:32] tafsiri commented on #1130
Link to doc: https://github.com/tensorflow/tfjs-website/blob/devsite/docs/guides/index.md

Note: all the text is in but the document will still need some links to be added later.

[2019-02-20 19:02] #1270 closed

[2019-02-20 20:01] caisq commented on #1112
After @annxingyuan fixed #1270 swiftly, I tested against the fix by doing yalc-linking. I can confirm the discrepancy between Node.js and browser is gone after the fix. Thanks, @annxingyuan

Closing this issue. The fix will be available in the upcoming 1.0.0 release.

[2019-02-20 20:01] #1112 closed

[2019-02-20 20:04] #1236 closed

[2019-02-20 20:05] #1206 closed

[2019-02-20 20:26] caisq commented on #1238
cc @kangyizhang, who is working on some integration tests for `fitDataset()`. @hpandeycodeit and @kangyizhang might want to coordinate.

[2019-02-20 21:51] oveddan commented on #944
See [this issue](https://github.com/tensorflow/tfjs/issues/572) for an existing discussion and some work that has been done to convert the posenet model to python.

[2019-02-21 03:21] caisq commented on #1255
Thanks, @yhliang2018. This should have been fixed at HEAD of tensorflow by https://github.com/tensorflow/tensorflow/commit/8714fa2c4f853c66faf730d8dad0a2784dcd4908

I'm closing this issue.

[2019-02-21 09:01] RexHuang commented on #1259
@caisq it works after change to tensorflow.keras, thank you very much !!

[2019-02-21 10:46] JSmith01 commented on #102
Additionally I was unable to load model from json file in the worker. It can be helped with the following workaround to get TensorFlow.js up and running:
[code]
`tfjs` internally tries to bind `fetch()` to `window` context, and this results in the error if you define `window` as plain object. Also, note that according to [this article](https://developers.google.com/web/updates/2018/08/offscreen-ca

[2019-02-21 12:31] jaygit123 commented on #1220
Hi @caisq,
Found out the reasons for tfjs converted model not producing the correct inference...at last :)

Reasons:
1. Input to LSTM model had NaN in them! Though I was passing the extracted features from MobileNet model to LSTM, features.**dataSync() was not used**. Because of this, when I added the extracted features into a tf.buffer they were added as NaN. (when I printed values in log just be

[2019-02-21 18:28] pavelkukov commented on #671
+1 for gpu_options, gpu_memory_fraction will be very useful when training smaller models

[2019-02-21 19:03] notwaldorf opened #1271 "`arraySync` doesn't return the right thing for tensors that are actually scalars."
To get help from the community, we encourage using Stack Overflow and the [`tensorflow.js`](https://stackoverflow.com/questions/tagged/tensorflow.js) tag.

#### TensorFlow.js version
0.15.2

#### Browser version
Chrome, latest.

#### Describe the problem or feature request
If the result of an tensor operation (like `sum`) is actually a scalar, then `arraySync` returns an empty array, instead of th

[2019-02-21 19:12] nsthorat commented on #1271
We're about to release a 0.15.3 with a fix for this, apologies!

[2019-02-21 19:13] notwaldorf commented on #1271
Sweet! Holding. 🙌

[2019-02-21 19:16] dorian95 commented on #1267
Example of a saved Keras model that I convert to JSON and then can't convert back to h5df.
[keras-08.zip](https://github.com/tensorflow/tfjs/files/2890732/keras-08.zip)
However, if you could tell me how to quantize the weights directly without having to use tensorflowjs-converter, it would be awesome!

[2019-02-21 19:48] nsthorat commented on #1271
0.15.3 is released, confirmed this bug is gone :)

[2019-02-21 19:48] #1271 closed

[2019-02-21 21:49] gabrielglbh commented on #272
Following the above comment and as an update, I've tried to import tfjs-node 0.3.0 into my ionic 3 app with no accomplishments:

`import * as tf from '@tensorflow/tfjs;
require('@tensorflow/tfjs-node');

const tfModel = tf.loadModel('/assets/model.json');`

The code above gives me the following error: 'The "original" argument must be of type function'. It appears to be caused when adding the line

[2019-02-21 21:51] tafsiri opened #1273 "Update docs for tf.data.csv to use {xs: , ys: }"
To get help from the community, we encourage using Stack Overflow and the [`tensorflow.js`](https://stackoverflow.com/questions/tagged/tensorflow.js) tag.

#### TensorFlow.js version
1.0.alpha

#### Describe the problem or feature request
Code snippet for csv constructor needs to be updated to the new signature. Link https://github.com/tensorflow/tfjs-data/blob/master/src/readers.ts#L52

[2019-02-21 21:52] caisq commented on #272
+Nick Kreeger <kreeger@google.com> for thoughts on the build error related
to './tfjs_binding'.
I think this started to appear in the latest release of tfjs-node (0.3.0).

On Thu, Feb 21, 2019 at 4:49 PM Gabriel García <notifications@github.com>
wrote:

--
---
Shanqing Cai
Software Engineer
Google
cais@google.com

[2019-02-22 03:28] #1259 closed

[2019-02-22 15:01] davidshen84 opened #1274 "Module not found: Error: Can't resolve 'fs'"
#### TensorFlow.js version

    @tensorflow/tfjs@0.15.1

#### Browser version

    Chrome Version 72.0.3626.109 (Official Build) (64-bit)

#### Describe the problem or feature request

My Angular app was using tfjs@0.13.4. When I try to upgrade to `0.15.1`, I got this error when executing the `ng build` command. But I am not even using the `tfjs-data` component.

After I revert tfjs to **0.13.4**,

[2019-02-22 15:14] ahmadalibaloch commented on #711
Worked after uninstalling python 3 and running `npm install --production windows-build-tools`, which installs python 2 and then running `yarn add @tensorflow/tfjs-node`.

[2019-02-23 00:10] anikulk commented on #1207
Hi @tafsiri, I am a new comer to tfjs.  Can I work on this issue?

[2019-02-23 05:53] ToonTalk opened #1275 "Typo in knn classifier error message"
https://cdn.jsdelivr.net/npm/@tensorflow-models/knn-classifier

new Error("You have not added any exaples ...

[2019-02-23 09:15] ToonTalk opened #1276 "Problems with deprecation warnings"
These warnings are good but there are two problems:

1. Chrome rarely combines them (see below where occasionally it indicates there were 2 instances)
2. The latest version of tfjs.js triggers the warning

Here's a sample:

![image](https://user-images.githubusercontent.com/2138696/53284380-7dfb0f80-378e-11e9-9fb2-6886bd7a28cb.png)

[2019-02-23 11:57] pavelkukov opened #1277 "Multiple GPUs with tfjs-node-gpu"
#### TensorFlow.js version
tfjs-node-gpu

#### Describe the problem or feature request
Are multiple GPUs supported for the training of a single model?
Something like [multi_gpu_model](https://keras.io/utils/#multi_gpu_model) in keras.
Is it possible to take advantage of Nvidia tensor cores with FP16 precision?
Are there plans to expose [gpu_options](https://github.com/tensorflow/tfjs/issues/671)?

[2019-02-23 12:05] cjywoo opened #1278 "Error:io_utils.ts:116 Uncaught (in promise) RangeError: byte length of Float32Array should be a multiple of 4"
To get help from the community, we encourage using Stack Overflow and the [`tensorflow.js`](https://stackoverflow.com/questions/tagged/tensorflow.js) tag.

#### TensorFlow.js version
tensorflow/tfjs-core@0.15.2

#### Browser version
chrome 72.0.3626.109 for mac

#### Describe the problem or feature request
I tried the demo tfjs-examples-webcam-transfer-learning in tensorflow/tfjs-examples. In the

[2019-02-23 16:44] caisq commented on #1278
Can you check the content of the response to the weight file? This error is commonly seen when the HTTP server the binary weight files incorrectly.

[2019-02-23 19:42] abhineet99 commented on #1255
I'm getting the error on 1.12 as well

[2019-02-23 19:47] caisq commented on #1255
Just to be clear, the final release of tensorflow 1.13 (1.13.0) that's coming out soon should fix this issue.

[2019-02-24 03:10] djimoh5 commented on #1274
Experiencing the exact same issue

[2019-02-24 09:06] kangyizhang commented on #1274
hi @davidshen84 and @djimoh5

@tensorflow/tfjs-data is part of the @tensorflow/tfjs union package. The error is because of angular-cli does not support modules in node like "fs" and "path". Original issue: https://github.com/angular/angular-cli/issues/10681

I tested locally and the "fs" can be resolve by adding `"browser": { "fs": false, "path": false, "os": false}` in your package.json (original

[2019-02-24 11:37] cjywoo commented on #1278
I check the content of the response to the weight file. It is the same size to that from 'https://storage.googleapis.com/tfjs-models/tfjs/mobilenet_v1_0.25_224/model.json'. I check the response from 'https://storage.googleapis.com/tfjs-models/tfjs/mobilenet_v1_0.25_224/model.json', there are some attributes that from google. But I deploy the file in my local server which will not response these at

[2019-02-24 14:17] caisq commented on #1278
@cjywoo Thanks for the response. The fact that the size of the weight file is the same as that of the model.json file is very suspicious. Is the content of the weight-file response actually a JSON string? If so, it means your HTTP server is serving the weight file incorrectly.

[2019-02-24 18:42] sardeenz commented on #753
This suggestion/workaround fixed it for me in Angular 7.
 My browser.js has this:
        node: { crypto: true, stream: true, fs: 'empty'},

https://stackoverflow.com/questions/54533766/tensorflow-with-angular-7-failed-to-compile/54571360

[2019-02-24 18:42] sardeenz commented on #753
This suggestion/workaround fixed it for me in Angular 7.
 My browser.js has this:
        node: { crypto: true, stream: true, fs: 'empty'},

https://stackoverflow.com/questions/54533766/tensorflow-with-angular-7-failed-to-compile/54571360

[2019-02-24 19:32] DmitryRomaniuk commented on #1275
But in master it has been fixed https://github.com/tensorflow/tfjs-models/pull/67/files

[2019-02-24 22:48] sam598 opened #1280 "tensorflowjs_converter cannot convert body-pix model to Keras .h5"
To get help from the community, we encourage using Stack Overflow and the [`tensorflow.js`](https://stackoverflow.com/questions/tagged/tensorflow.js) tag.

#### TensorFlow.js version
tensorflowjs 0.8.0
Dependency versions:
  keras 2.2.2
  tensorflow 1.12.0

#### Browser version
N/A

#### Describe the problem or feature request
tensorflowjs_converter cannot convert body-pix model to Keras

#### Cod

[2019-02-24 23:42] Someone202 opened #1281 "Tensorflow install problems"
I am trying to install tensorflow.js on a windows machine.

I have used the command:
npm i @tensorflow/tfjs-node-gpu

I have python version 2.7 as well as node verion 10.15.1 and node-gyp version 3.8.0 I have installede windows build tools. Whenever I try to install it however I get the following error.

Error: node-gyp rebuild failed with: Error: Command failed: node-gyp rebuild
gyp ERR! build er

[2019-02-25 01:06] kangyizhang commented on #753
hi @QuantumInformation

Can you add `"browser": { "fs": false, "path": false, "os": false}` in your package.json and try again?

[2019-02-25 02:22] dsmilkov commented on #1274
Instead of asking our users to specify the browser field in their `package.json`, we should update our `tfjs-data/package.json` to have 'node-fetch':false, 'string_decoder':false and 'fs':false under `package.browser`. @kangyizhang can you do that? Thanks!

[2019-02-25 02:27] caisq commented on #1280
body-pix is converted from a TensorFlow SavedModel, not a keras or TensorFlow.js model. So it can't be converted to a keras model.

[2019-02-25 02:27] #1280 closed

[2019-02-25 03:41] kangyizhang commented on #1274
@dsmilkov totally agree with you. Sent PR https://github.com/tensorflow/tfjs-data/pull/147

[2019-02-25 04:28] sam598 commented on #1280
so is it possible to turn it back to a tensorflow saved model? Or export the model to something other than tensorflow.js?

[2019-02-25 06:08] kangyizhang commented on #1281
This should be duplicate of https://github.com/tensorflow/tfjs/issues/1121 and will be fixed by https://github.com/tensorflow/tfjs-node/pull/208

[2019-02-25 10:15] unrealwill commented on #1166
So here is the ugly hack I currently have in prod to work around this issue :

For the whole file see https://github.com/GistNoesis/Wisteria/blob/master/tfjs/src/LayerNorm.js and don't forget to call
[code]

For the relevant part :
[code]

[2019-02-25 11:42] cjywoo commented on #1278
I compared the weight-file again. I think it's the same size 54134 and the content types are both json. Here is the response picture from google and from my local server.
**from google**
![default](https://user-images.githubusercontent.com/13762580/53334971-395da880-3935-11e9-9cd9-2907972f2244.PNG)

**from my local server**
<img width="870" alt="2019-02-25 7 26 04" src="https://user-images.githubu

[2019-02-25 14:11] caisq commented on #1280
@pyu10055 Is it possible to transform a tensorflowjs-format frozen model into a tensorflow SavedModel currently?

[2019-02-25 14:48] nsthorat commented on #1275
This will go out in the next release!

[2019-02-25 14:48] #1275 closed

[2019-02-25 15:18] nsthorat opened #1282 "Update all GCP directories to use JSON model definitions."
All of the protocol buffers inside GCP should be switched to use the JSON equivalents (running the converter again).

We should also keep the new model.json in the same directory as where the previous models were (not adding a parallel json_ directory).

[2019-02-25 15:19] nsthorat opened #1283 "Update all the models in tfjs-models to use loadGraphModel + JSON equivalents."
All of the models in tfjs-models should use their model.json counterparts. This depends on https://github.com/tensorflow/tfjs/issues/1282 going in first.

[2019-02-25 15:33] tambien commented on #517
I'm having the same issue on GCP using Cloud Functions: `Error: libtensorflow.so: cannot open shared object file`.

Looking through the documentation, i found that Cloud Functions have a [read-only file-system](https://cloud.google.com/functions/docs/concepts/exec#file_system). Is it possible that this blocks the install process from downloading or installing what needs to make this work?

Is it p

[2019-02-25 16:16] tafsiri commented on #1207
Hi @anikulk, thanks for being willing to jump in. I don't think this would be a good issue to start with as we are in the midst of changing some of how doc generation works to support this particular use case and are be changing the underlying functions and interfaces for our next release. I'll give some thought as to whether there are any good areas to jump in.

[2019-02-25 16:22] tafsiri commented on #1207
@caisq @nsthorat

Updates from various convos about the doc generator and what it looks like we need for the 1.0.

- [ ] We need a symbol for `tf.io.browserHTTPRequests` to be in the generated docs
- [ ] We need a symbol for `tf.io.browserFiles` to be in the generated docs
- [ ] We need symbols for any other exported functions from `tf.io` that a user can use.
- [ ] We need to document tf.IOHandle

[2019-02-25 16:39] tafsiri commented on #1207
Update, i just realized that some of these are done (1 and 2 above). 3 may also be done (not sure if there are any more). So its mainly the change from interface to class to help with making IOHandler linkable. Gonna update the title of this as well.

[2019-02-25 16:44] shafay07 commented on #755
Same error with

`Error: Provided weight data has no target variable: Conv1_1/kernel`

could someone fix it?
I am converting mobilenet_v2 to tensorflow js for browser classification task

[2019-02-25 16:47] dsmilkov opened #1284 "Update converter command line tool"
The following changes should happen in the converter command line tool:

The `--output_format` flag will remain optional, but the possible values will be `‘tfjs_layers_model’|’tfjs_graph_model’` when going from python to js, and `‘keras’` when going from js to python. The inferred value of `output_format` will depend on the `input_format`:

input_format | output_format (inferred)
-- | --
keras | t

[2019-02-25 16:50] tafsiri commented on #1207
I'm also working on a guide version of how to make a custom IOHandler.

[2019-02-25 16:52] dsmilkov opened #1285 "Update model.json when exporting models from Layers"
Add the following fields to model.json when exporting models in Layers:
- `format: string`. Currently, can be `layers-model` or `graph-model`.
- `generatedBy: string`. Will be used for debugging purposes when the (de)serialization fails.

Analogous issue for converter: https://github.com/tensorflow/tfjs/issues/1286

[2019-02-25 16:53] dsmilkov opened #1286 "Update the generated model.json in the converter"
The model.json generated by the python tfjs converter, associated with both LayersModel and GraphModel, should have the following top-level attributes:
- `format: string`. Currently, can be `layers-model` or `graph-model`.
- `generatedBy: string`. Will be used for debugging purposes when the (de)serialization fails.
  - the name+version of the tfjs-layers npm package if the model originated from l

[2019-02-25 16:58] nsthorat commented on #755
+Shanqing Cai <cais@google.com>

On Mon, Feb 25, 2019 at 11:44 AM SHAFAY HASEEB <notifications@github.com>
wrote:

[2019-02-25 18:30] shafay07 commented on #755
This helped me solve the problem. I had to run my google colab again after cleaning the runtime. I made sure i execute each code block once and then i converted the model using
`tensorflowjs_converter --input_format keras ./my_model.h5 ./my_model_as_tfjs`

It is working perfectly fine in the browser now :)

[2019-02-25 20:08] dsmilkov commented on #1276
Are you calling tf.fromPixels() directly in your code? Can you share a snippet of code that triggers that warning? Thanks!

Also, you can disable them by calling `tf.disableDeprecatingWarnings()`.

[2019-02-25 23:22] kylemcdonald commented on #322
I'm currently seeing "Error: Requested texture size [0x0] is invalid." which lead me to this page. I suggest an error like "Input object width and height properties are not set."

To fix my case I'm using the suggestion above:

[code]

This also suggests that tfjs might possibly use videoWidth/videoHeight instead of width/height when processing video elements?

[2019-02-26 02:25] ToonTalk commented on #1276
In Chrome Dev Tools I did a search for tf.fromPixels and changed them all. But I just discovered I was using an older version of mobilenet (https://cdn.jsdelivr.net/npm/@tensorflow-models/mobilenet) that had this line

e instanceof a.Tensor || (e = a.fromPixels(e));

so I missed this call.

So ignore my point #2 but why didn't Chrome combine all the warnings and just display the warning count? Thi

[2019-02-26 02:43] #1274 closed

[2019-02-26 03:22] dsmilkov commented on #1276
Thanks for the investigatino! We will release new versions of our models (including mobilenet) in a couple days and that warning will go away when you switch to the latest mobilenet.

Regarding the combining of messages, just a wild guess, Chrome might decide not to combine if:
- they come from a different stack trace
- they come in another animation frame...

[2019-02-26 03:22] #1276 closed

[2019-02-26 04:33] irealva opened #1287 "Missing call to tf.shuffle() in tfjs-examples/iris-fitDataset"
#### Describe the problem or feature request

The [iris dataset](https://github.com/tensorflow/tfjs-examples/tree/master/iris-fitDataset) example in tfjs-examples is potentially [missing a tf.shuffle() call](https://github.com/tensorflow/tfjs-examples/blob/master/iris-fitDataset/data.js#L135) when using the new fitDataset API.

[2019-02-26 05:50] bileschi commented on #1287
Shuffling appears on [line 115](https://github.com/tensorflow/tfjs-examples/blob/master/iris-fitDataset/data.js#L115).  It is an operation on the array itself, rather than the dataset.  This is a rather unusual case, as the entire dataset is so small.  See the TODO comment for a discussion of a better way to handle this, once dataset.cache() is implemented.

If this answer is insufficient, please

[2019-02-26 05:50] #1287 closed

[2019-02-26 06:57] #1273 closed

[2019-02-26 08:23] addys888 opened #1288 "Image Recognition/Labeling using TensorFlow.js"
We are using TensorFlow.js to create and train a custom model. We use tf.browser.fromPixels() function to convert an image into tensor. We want to create a custom and train a custom model. In terms to achieve this we are created two different web pages (i.e: 1st page is for Create custom mode and train it with images and its associated labels, 2nd page is used to load trained model and by using pr

[2019-02-26 14:00] Pravez commented on #1169
It is not really an improvement, actually it is a big lag causing my webpage to freeze for ~1 second (because it is a "blocking" call, not asynchronous).

My model is a loaded TFJS model from a converted TensorFlow model made from the paper "perceptual losses for real-time style transfer and super-resolution", so the style transfer. It contains a lightweight convolutional network and a VGG-16. Exc

[2019-02-26 14:53] nsthorat commented on #1169
The `model.execute()` itself, which is synchronous, should be very quick to execute (actually calling `execute()` only enqueues GPU programs, it doesn't wait for them to finish).

Only when you call `dataSync()` on the resulting tensor do you actually block the UI and wait for the GPU to finish. If you call `data()` on the result of `model.execute()` you shouldn't block the UI thread for a second.

[2019-02-26 14:55] dsmilkov opened #1289 "Coco-SSD tensorflowjs_model.pb contains large embedded constants"
The Coco-SSD graph `tensorflowjs_model.pb` contains large embedded constants which makes the pb be `10 MB` (excluding the external weights).

When I converted the model to JSON, I manually removed all embedded float constants, and the model is still working (and is only 200KB in JSON size), which means that those constants are not used for inference.

We should investigate why those constants were

[2019-02-26 15:24] nsthorat commented on #1288
Since this isn't a bug with the library, you should in general try to post these on StackOverflow.

To get the classname from the probabilities, you need to compute the `argMax()`, which is the index of the maximum probability. We don't have the ability to save with the model the string class names, so you will have to save those separately and use the `argMax()` value to index into the arrays of

[2019-02-26 15:44] tafsiri commented on #1160
Link to doc https://github.com/tensorflow/tfjs-website/blob/devsite/docs/tutorials/conversion/import-keras.md

[2019-02-26 15:44] tafsiri commented on #1161
Link to doc https://github.com/tensorflow/tfjs-website/blob/devsite/docs/tutorials/conversion/import-saved-model.md

[2019-02-26 15:45] tafsiri commented on #1151
Link to doc https://github.com/tensorflow/tfjs-website/blob/devsite/docs/guides/conversion.md

[2019-02-26 15:45] tafsiri commented on #1162
Link to doc https://github.com/tensorflow/tfjs-website/blob/devsite/docs/guides/using-tfjs-in-node.md

[2019-02-26 15:49] tafsiri commented on #1158
Link to doc https://github.com/tensorflow/tfjs-website/blob/devsite/docs/guides/saving-loading.md

[2019-02-26 16:00] tafsiri commented on #1131
closing. these will stay on the js.tensorflow.org domain.

[2019-02-26 16:00] #1131 closed

[2019-02-26 16:01] #1233 closed

[2019-02-26 16:52] davidsoergel opened #1290 "Provide datasets from tensorflow/datasets via tfjs-data"
This requires at least reading tf.Record (#1020), and possibly porting various custom preprocessing per dataset from https://github.com/tensorflow/datasets.

[2019-02-26 17:31] rsepassi commented on #1290
Another option is to explore moving data over the wire using Arrow as @bileschi suggested and we're discussing in tensorflow/datasets#60.

[2019-02-26 19:45] randomarchive101 opened #1291 "tfjs-converter Tensorflow Hub module example returns "the error indicates that the module directory does not exist""
To get help from the community, we encourage using Stack Overflow and the [`tensorflow.js`](https://stackoverflow.com/questions/tagged/tensorflow.js) tag.

#### TensorFlow.js version
newest?
#### Browser version
not relevant
#### Describe the problem or feature request
tensorflow_converter returns:
self._create_unsupported_handle_error_msg(handle))
tensorflow_hub.resolver.UnsupportedHandleError: u

[2019-02-26 19:54] #1288 closed

[2019-02-26 20:18] caisq opened #1292 "tensorflowjs_converter: remove old input/output-type flag "tensorfowjs""
The "tensorfowjs" option has been replaced by more specific type names:
- "tfjs_graph_model"
- "tfjs_layers_model"

Right now, "tensorflowjs" results in an error with an explicit instruction on
what type to use. Eventually, perhaps at version 1.1.0, the "tensorfowjs"
flag should be completely removed.

#### TensorFlow.js version
Converter 0.8.0 - 1.0.0

[2019-02-26 20:35] #1282 closed

[2019-02-26 20:35] #1283 closed

[2019-02-26 20:36] dsmilkov commented on #1175
Closing this mega issue since the leftover changes are tracked in separate issues.

[2019-02-26 20:36] #1175 closed

[2019-02-26 21:16] caisq opened #1293 "Add WebGL for onesLike"
#### TensorFlow.js version
1.0.0-alpha3

[2019-02-26 22:44] tafsiri commented on #975
closed in #https://github.com/tensorflow/tfjs-website/pull/251

[2019-02-26 22:44] #975 closed

[2019-02-26 23:04] #1284 closed

[2019-02-26 23:11] tafsiri opened #1294 "consider removing show.confusionMatrix in favour of render.confusionMatrix."

[2019-02-27 00:32] nkreeger commented on #1281
Please try with 0.3.1 (just published)

[2019-02-27 00:33] nkreeger commented on #1121
Please try with 0.3.1 (just published)

[2019-02-27 01:08] #1267 closed

[2019-02-27 01:54] NoobTW commented on #1121
It's working. v0.3.1 on Windows 10.

[2019-02-27 07:15] yjhatfdu opened #1296 "Trying to port nvidia stylegan model to tensorflowjs, need help with operator Assign, IdentityN, VariableV2"
#### TensorFlow.js version
0.15.3

#### Browser version
Chrome 72
#### Describe the problem or feature request
I tried to port Nvidia [stylegan](https://github.com/NVlabs/stylegan) pretrained model to tfjs,  need help with operator Assign, IdentityN, VariableV2

#### Code to reproduce the bug / link to feature request

I used the flowing code to dump stylegan pkl model to tensorflow saved model.
[

[2019-02-27 10:14] chenqing commented on #1261
@caisq @pyu10055  tensorflow 1.13.1 has released.

[2019-02-27 12:40] kevinrobinson opened #1297 "Information on PoseNet accuracy across subgroups"
Thanks for sharing this awesome work!  :)  TensorFlow.js opens up so many incredible applications of ML, and the API has and examples have been awesome for prototyping different uses within education, so thanks for all that it takes to do this work in the open. ❤️ 👍

I'm looking at using PoseNet within a K12 educational setting, and wanted to first check that accuracy on different subgroups (eg, a

[2019-02-27 14:46] Arley-Fernandez-Taximo opened #1298 "Unable to intall @tensorflow/tfjs-node in linux"
To get help from the community, we encourage using Stack Overflow and the [`tensorflow.js`](https://stackoverflow.com/questions/tagged/tensorflow.js) tag.

#### TensorFlow.js version
0.3.1
#### Browser version

#### Describe the problem or feature request
I'm try to install tensorflow in a node js container but is hilarious not work fine when tensorflow try to run the script node scripts/install.j

[2019-02-27 15:15] kangyizhang commented on #1298
hi @Arley-Fernandez-Taximo

Please run the following command and try to install again.
`$ sudo apt-get install build-essential`

[2019-02-27 15:28] Arley-Fernandez-Taximo commented on #1298
Is fine, for alpine linux the equivalent is

[code]

Thank you

[2019-02-27 15:28] #1298 closed

[2019-02-27 18:34] caisq opened #1299 "tfjs-examples: Add tensorboard logging option to examples involving tfjs-node-based training"
#### TensorFlow.js version
tfjs-node / tfjs-node-gpu 0.3.1

[2019-02-27 18:50] pyu10055 opened #1300 "Update TFHub models files with JSON converter"
TFJS is moving away from PB based the model files in v1, also combining the model.pb with the weight manifest json file into a single model.json file.
Please update the TFHub hosted models to use the new format.

You can either use the v1.alpha release or v0.15.3 converter with an extra --ouput_json=true flag.

[2019-02-27 19:22] #1170 closed

[2019-02-27 19:41] bryan-14four commented on #952
I've done some additional testing of tfjs-examples on my Galaxy S5. I could not test some examples because they were broken for other reasons (in most cases the XHR loading data files failed because the resource no longer exists).

Hopefully this helps to better isolate the issue. I will try to build a reduced test case from it.

Here are the results:

| Example | Working? | Error Message | Notes

[2019-02-27 19:51] caisq opened #1301 "Doc: Add tfjs-node-specific functions to website"
#### TensorFlow.js version
tfjs-node 0.3.1

Node-specific functions are:
- `tf.node.summaryFileWriter()`
- `tf.node.tensorBoard()`

[2019-02-27 19:54] tafsiri commented on #1301
@caisq the new functions need @doc annotations to be rendered into the site. Going to assign this to you for now to add those docs and then you can reassign this back to me. Since these are new, you can choose the sections/subsections that you want!

[2019-02-27 20:58] bryan-14four commented on #952
Here is a reduced test case, using Galaxy S5 running Chrome. Can anyone determine if this is either a device limitation or a bug in TFJS?

This code succeeds:
[code]

This code fails:
[code]

Full console output:
![tfjs-error](https://user-images.githubusercontent.com/28308133/53522399-24952800-3a8f-11e9-8199-a8458be12c49.png)

[2019-02-27 21:37] dsmilkov commented on #732
This is done, right?

[2019-02-27 21:38] caisq commented on #732
I think so.

[2019-02-27 21:41] nsthorat commented on #732
This is done.

[2019-02-27 21:41] #732 closed

[2019-02-28 03:17] #1121 closed

[2019-02-28 03:17] nkreeger commented on #1092
Can you please try with 0.3.1?

[2019-02-28 03:30] chenqing commented on #1277
+1

[2019-02-28 04:06] giwl21 opened #1303 "[`tensorflow.js`] Unable to properly install tensorflowjs due to perms"
To get help from the community, we encourage using Stack Overflow and the [`tensorflow.js`](https://stackoverflow.com/questions/tagged/tensorflow.js) tag.

#### TensorFlow.js version
tensorflowjs: 0.8.0
tensorflow: 1.12.0
keras: 2.2.2
h5py: 2.9.0
#### Browser version

#### Describe the problem or feature request
As I try updating tensorflowjs using 'pip install --upgrade tensorflowjs' in Anaconda

[2019-02-28 04:30] caisq commented on #1092
@nkreeger I just tried 0.3.1 with tfjs-models/speech-command, which happens to be experiencing the same problem that @yofreke is experiencing. The error still occurs during build:

node_modules/@tensorflow/tfjs-node/dist/nodejs_kernel_backend.d.ts:20:40 - error TS2307: Cannot find module './tfjs_binding'.

20 import { TFEOpAttr, TFJSBinding } from './tfjs_binding';
[code]

[2019-02-28 06:47] LucaChen commented on #1062
Have you used four generations of Intel CPUs?

[2019-02-28 08:41] aaaven commented on #1261
just tried 'pip install tensorflowjs' still not working, same error message

[2019-02-28 08:59] cjywoo commented on #1278
I think I may get the wrong way to load the model.json file. The function 'await tf.loadModel' will also get another 55 files such as group1-shard1of1 to group55-shard1of1 from
'https://storage.googleapis.com/tfjs-models/tfjs/mobilenet_v1_0.25_224/'. So in the first time I may get the wrong way to load the weight file from local. Do you have some examples about loading the weight file from local s

[2019-02-28 11:50] vbardiovskyg commented on #1300
Updated.

[2019-02-28 15:54] vabarbosa opened #1304 "tf.TensorBuffer.get returns unexpected value"
To get help from the community, we encourage using Stack Overflow and the [`tensorflow.js`](https://stackoverflow.com/questions/tagged/tensorflow.js) tag.

#### TensorFlow.js version

0.15.3

#### Browser version

Firefox 65.0.1
Chrome 72.0.3626.119

#### Describe the problem or feature request

i may be wrong in my understanding but my expectation is that [TensorBuffer.get](https://js.tensorflow.

[2019-02-28 17:11] caisq commented on #1285
I'm going to add an additional field called convertedBy

[2019-02-28 17:32] jacobbogers opened #1305 "dead code? Why do you delete texture after frame buffer creation?"
is this just to check if currently used webgl handles floats?
[code]

[2019-02-28 17:35] bryan-14four commented on #952
I have an update on this. The two code snippets above produce different shader code, where the test with the 65536 int fails on shader compilation inside of the getOutputCoords() function.

---
Success:
`tf.split(tf.zeros([1, 65535, 1, 2]), 2, 3)` ->
[code]
---
Failure:
`tf.split(tf.zeros([1, 65536, 1, 2]), 2, 3)` ->
[code]

---

I pulled these shader sources out manually and wrote some webGL code

[2019-02-28 18:57] bryan-14four commented on #952
In my case, the hack I posted above seems to actually work. I replaced the "getLogicalCoordinatesFromFlatIndex" function directly in tf-core.esm.js (I'm not working from source, so I've been directly editing from node_modules package). Here is what I replaced it with:

[code]

It's definitely a hack, and I'm not sure of any side-effects of doing it this way, but for my use-case it seems to work. I

[2019-02-28 19:14] caisq opened #1306 "tf.keras 2.0 compatibility issue"
To get help from the community, we encourage using Stack Overflow and the [`tensorflow.js`](https://stackoverflow.com/questions/tagged/tensorflow.js) tag.

#### TensorFlow.js version
tfjs_converter at HEAD

tensorflow version: 2.0.0-dev20190228

#### Step to reproduce:

[code]

Save the model and run command line:
tensorflowjs_converter --input_format keras --output_format tfjs_layers_model tf2_mo

[2019-02-28 19:15] caisq commented on #1306
This error doesn't happen if the model is saved from tf 1.12.

[2019-03-01 01:22] adammichaelwood commented on #1162
This document uses the word "vanilla" to describe the standard JS implementation.
Is this an official usage? I strikes me as culturally specific and potentially unclear.

[2019-03-01 01:58] caisq opened #1308 "Converter: Add tensorflow version to the `generatedBy` field of converter graph-model"

[2019-03-01 06:18] #1296 closed

[2019-03-01 06:19] yjhatfdu commented on #1296
I modified the model and code, there are many more ops mode and arguments not supported

[2019-03-01 15:20] caisq commented on #1301
This is fixed by https://github.com/tensorflow/tfjs-node/pull/214

[2019-03-01 18:25] #1114 closed

[2019-03-01 19:56] nsthorat opened #1309 "Document the pb2json converter script."
There is no documentation for the pb2json converter script, it would be good to add this to the README of the tfjs-converter repository.

[2019-03-01 20:05] nsthorat commented on #1309
Also, we'll make sure to talk about this in the 1.0 release notes.

[2019-03-01 20:59] caisq commented on #1306
cc @pyu10055

[2019-03-02 06:07] pavelkukov commented on #1277
I've made a test with two GPUs and they are being used.

[2019-03-02 11:26] pavelkukov commented on #1277
With multiple GPUs, memory is allocated but there is no performance benefit.
It is the other way around, performance degrades.
Simple benchmark with oversized model:
[code]
Looks like there is no benefit of having multiple GPUs....

[2019-03-02 14:41] randomarchive101 opened #1310 "MobileNet models: why are only v1_${alpha}_224 are being stored on public storage bucket?"
To get help from the community, we encourage using Stack Overflow and the [`tensorflow.js`](https://stackoverflow.com/questions/tagged/tensorflow.js) tag.

#### TensorFlow.js version

#### Browser version

#### Describe the problem or feature request
from what i understand, you can in retrieve mobilenet models urls that are:
https://storage.googleapis.com/tfjs-models/tfjs/mobilenet_v${version}_${a

[2019-03-03 02:25] innerop opened #1311 "[question{ Which version of Tensorflow (libtensorflow) does tfjs-node/-gpu depend on?"
hi,

I noticed that I can’t install tfjs-node-gpu unless I first build libtensorflow from Tensorflow-GPU. Given the dependency, what version of the Tensorflow backend is supported by Tensorflow.JS?

I could be misunderstanding the relationship between the two but I’m not sure how tfjs-node can be isolated from change to the Tensorflow backend. For example, what happens when Tensorflow transitions

[2019-03-03 14:50] chenqing commented on #1277
[code]

when I use tfjs-node-gpu, in default this looks like occupy both of the GPU (as shown in FIG).  and actually this use one or two?

[2019-03-03 16:09] caisq commented on #1311
cc @nkreeger

[2019-03-03 16:36] usmanmuhd opened #1312 "Deprecation Warning during testing tfjs-core"
#### TensorFlow.js version
Master branch of tfjs-core

#### Describe the problem or feature request
When running `yarn test` it gives a warning
[code]
I would work on updating the tests if deemed appropriate.

[2019-03-03 17:57] parthi2929 opened #1313 "environment.ts:439 Registration of backend webgl failed"
To get help from the community, we encourage using Stack Overflow and the [`tensorflow.js`](https://stackoverflow.com/questions/tagged/tensorflow.js) tag.

#### TensorFlow.js version
0.15.3

#### Browser version
Chrome Version 72.0.3626.119

#### Describe the problem or feature request
Simple include the tensorflow in a html, and it always tries to register with webgl and fails. I confirm my chrom

[2019-03-03 20:06] innerop commented on #1311
Hmm. Looks like I have to build tensorflow-gpu in order to get libtensorflow but the question is how do I inform ld about the location of libtensorflow once I build it?

So in my docker, I install the official NVIDIA tensorflow-gpu for Jetson TX2 SBC (aarch64/Tegra):

Successfully installed absl-py-0.7.0 astor-0.7.1 gast-0.2.2 grpcio-1.19.0 markdown-3.0.1 numpy-1.16.2 protobuf-3.7.0 setuptools-39.

[2019-03-03 20:58] N1nJaC0d3 commented on #1274
Why this error happens every time updated version???

[2019-03-04 07:33] bileschi commented on #645
Opened discussion over Google internal e-mail

[2019-03-04 07:46] anikulk commented on #1207
Thanks @tafsiri Please let me know of any suitable tasks.

[2019-03-04 12:21] pavelkukov commented on #1277
Thank for sharing @chenqing !
I see the same with two cards.
Memory is allocated and both are used but without actual improvement of training speed.
Probably this depends on training data. I've used MNIST for testing. Maybe distributing the load between the cards is not effective with small images.

[2019-03-04 13:43] GustavZ commented on #1137
Hi @tylerzhu-github and @oveddan,

now I got a couple of more questions:

1. why does posenet need the `+1` as valid resolution?
When I run it on `224x224` it upsacles to `225x225`, and when I run it with `225x225` directly it does not change.
I know and understand the function that does this scaling with `Resolution = ((InputImageSize - 1) / OutputStride) + 1`, so my question is not related to th

[2019-03-04 15:35] tafsiri commented on #1207
@anikulk any particular areas/types of task of interest? (e.g. documentation, examples, ml stuff, browser/web stuff...). I'll try and triage the issues for good starter ones.

[2019-03-04 18:23] anikulk commented on #1207
@tafsiri I am open to any suggestions and have experience and interest in ML but I think as a starting point documentation or examples would be better. appreciate your help.

[2019-03-04 18:50] #1226 closed

[2019-03-04 19:29] #1285 closed

[2019-03-04 19:52] #1300 closed

[2019-03-04 19:54] nsthorat commented on #1289
I would like to up the priority on the investigation of this issue. There are two issues:

1) Why do these unused weights show up in the model at all?
2) Why do we have any weights embedding in the model.json and not in the weights manifest / binary files.

Thanks @pyu10055!!

[2019-03-04 20:15] nsthorat commented on #1313
You might need to just restart Chrome. Chrome sometimes can get in a bad state w.r.t WebGL.

Also, does this site show WebGL is enabled? http://webglreport.com/

[2019-03-04 20:16] nsthorat commented on #1313
Oh by the way, this is something that should be posted on stackoverflow.com.

[2019-03-04 20:36] nsthorat opened #1315 "String identifiers for losses, activations, etc. are not clearly documented in the API docs."
See https://stackoverflow.com/questions/54980045/tensorflow-js-is-there-a-list-of-all-the-identifiers

`Model.compile` should inline all the loss types for you: https://js.tensorflow.org/api/0.15.3/#tf.Model.compile

[2019-03-04 20:49] nsthorat opened #1316 "Promise<T> does not show the type T in the API docs, just Promise"
See the return type: https://js.tensorflow.org/api/0.15.3/#loadLayersModel

[2019-03-04 20:53] nsthorat opened #1317 "tf.GraphModel does not appear in the API docs."
This is undocumented: http://localhost:4000/api/local/#Models-Classes

[2019-03-04 21:08] tafsiri opened #1318 "dataset.toArray may not return all elements of a dataset"
#### TensorFlow.js version
0.15.3

#### Describe the problem or feature request

Looking at [dataset.toArray()](https://github.com/tensorflow/tfjs-data/blob/v0.2.3/src/dataset.ts#L467) it calls [iterator.collect()](https://github.com/tensorflow/tfjs-data/blob/v0.2.3/src/iterators/lazy_iterator.ts#L174), which defaults to returning 1000 items. I guess this is probably to prevent exhausting user mem

[2019-03-04 21:22] #1294 closed

[2019-03-04 21:42] davidsoergel commented on #1318
Yep, that's unintended, all right.  I hope it would have limited impact because we discourage using toArray() outside of small tests, but still it's a bug.

@kangyizhang, can you add an optional `maxItems` argument to `toArray()`?  If it's provided, use it; else try to use the dataset size.  When the dataset size is known and below some threshold (maybe 100000?  1000 was too low) then we can retur

[2019-03-04 22:02] #825 closed

[2019-03-04 22:09] tafsiri commented on #1318
I don't think `toArray` should take a `maxItems`. The user can use `.take` to limit how many they want. If we can always tell a stream is infinite then we can throw an exception (e.g. in something like webcam) else i think we should leave this to be generic. The user may know that their dataset is finite even if we don't have a size (e.g. from a generator). Beyond that I'd say the user should be r

[2019-03-04 22:10] nsthorat commented on #1318
+1 to `toArray` not taking `maxItems`.

[2019-03-04 22:27] davidsoergel commented on #1318
OK, that makes sense too.  In that case I think the main change needed to resolve this bug is to remove the `maxItems` default value from `collect()`.  Throwing an exception early on a known-infinite iterator is icing, but nonessential since that would end up throwing an OOM anyway just like a finite-but-too-large stream.  Removing that default is breaking in the sense that we're changing behavior

[2019-03-04 23:06] dsmilkov commented on #1318
- +1 to `toArray` not taking `maxItems`.
- +1 to overriding `toArray()` for any sensor (e.g. WebCam) to throw an error
- Allow `toArray()` to work for datasets of unknown sizes, like a generator.

[2019-03-04 23:28] nsthorat opened #1320 "The "save" method on Engine.runKernel's execution of a kernel should call tf.keep(tf.clone(x))"
Currently the following throws an error about y being disposed:

[code]

The fix is to use the `saved` function when the kernel gets executed and dispose those when backprop has finished for that method.

[2019-03-05 00:00] caisq opened #1321 "WEBGL_PACK = true causes NaN loss in the lstm-text-generation example"
To get help from the community, we encourage using Stack Overflow and the [`tensorflow.js`](https://stackoverflow.com/questions/tagged/tensorflow.js) tag.

#### TensorFlow.js version
1.0.0-alpha1 through 1.0.0-alpha5

#### Browser version
Chrome latest (Linux)

#### Code to reproduce the bug / link to feature request
[code]

Note: this happens on the Verne, Shakepeare and TF.js source code dataset

[2019-03-05 00:00] caisq commented on #1321
cc @dsmilkov @nsthorat

[2019-03-05 00:12] #886 closed

[2019-03-05 00:29] nsthorat opened #1322 "Add examples to documentation of methods of tf.GraphModel"
tf.GraphModel methods are documented but have no runnable snippets.

Let's add some snippets.

[2019-03-05 01:54] peterhsu2018 opened #1323 "Install tfjs failed win10"
To get help from the community, we encourage using Stack Overflow and the [`tensorflow.js`](https://stackoverflow.com/questions/tagged/tensorflow.js) tag.

#### TensorFlow.js version
install failed, no idea..
#### Browser version
chrome 72.0.3626.119 64bit
#### Describe the problem or feature request
I try to install tfjs by yarn and get the error as the images:
https://upload.cc/i1/2019/03/05/dLt

[2019-03-05 02:23] #1316 closed

[2019-03-05 02:30] davidsoergel commented on #1008
This was fixed in https://github.com/tensorflow/tfjs-data/pull/125.

[2019-03-05 02:30] #1008 closed

[2019-03-05 02:32] davidsoergel commented on #1006
This was fixed in https://github.com/tensorflow/tfjs-data/pull/109.

[2019-03-05 02:32] #1006 closed

[2019-03-05 02:45] davidsoergel commented on #1012
This was fixed in https://github.com/tensorflow/tfjs-data/pull/50 and  https://github.com/tensorflow/tfjs-data/pull/80.

Embedded newlines (i.e., within a quoted string) aren't accepted, but IIRC that's a wrinkle in other CSV parsers too and I think we can ignore it.  Please reopen or file a new bug if you're concerned about that (or any other remaining CSV parsing issue).

[2019-03-05 02:45] #1012 closed

[2019-03-05 02:53] davidsoergel commented on #1016
It looks like there was progress on this in https://github.com/tensorflow/tfjs-examples/pull/193 but that was never submitted.  What's the status?

[2019-03-05 02:55] davidsoergel commented on #1030
We decided to expect the user to pull from a webcam stream using next() at whatever rate they choose-- i.e. rate limiting will be their responsibility, not something that we provide in the framework.

I believe there will still be legitimate use cases for this, but it's deprioritized for now.

[2019-03-05 03:02] kangyizhang commented on #1016
Previously there are some possible concerns about using the boston housing dataset related to fairness issues (there is a column in the dataset that may have to do with racial profiling).

@caisq is there any updates on using the boston housing dataset?

[2019-03-05 03:09] davidsoergel commented on #1113
This is not a CSV file at all, so it's not part of #1012.

Instead, this is a 'fixed width record' format, so this is precisely #1021.  Closing this as a dup of that.

Aside: such a file should be read in pandas using [pandas.read_fwf()](https://pandas.pydata.org/pandas-docs/version/0.22/generated/pandas.read_fwf.html).  It only works with [pandas.read_csv()](https://pandas.pydata.org/pandas-docs/

[2019-03-05 03:09] peterhsu2018 commented on #1323
Sorry about my fault,
I realize i didn't install tensorflow, when i installed it and this is working now.

[2019-03-05 03:09] #1323 closed

[2019-03-05 03:22] tafsiri commented on #322
@oveddan I tagged tagged it as "good first issue" since it looks like PRs would be welcome. Feel free to add any guidance or updates here.

[2019-03-05 03:23] davidsoergel commented on #1113
Actually, reopening and renaming.  Much as I find the described usage very hacky,

 * having a 'trim whitespace' option may be generally useful, and
 * it is actually a convenient way to deal with fixed-width files without having to specify the widths up front.

[2019-03-05 03:30] tafsiri commented on #1268
@gearsmotion789 there isn't a specific example we have for this (and I also assume you want to do this in the browser and not in node). And it would depend on the object you want to track. If you are looking for something that demonstrates using the webcam and passing the images through a model then https://github.com/tensorflow/tfjs-examples/tree/master/webcam-transfer-learning might be worth loo

[2019-03-05 03:30] #1268 closed

[2019-03-05 03:32] tafsiri commented on #1256
We don't have any current plans to work on this.

[2019-03-05 03:32] #1256 closed

[2019-03-05 03:33] #1249 closed

[2019-03-05 03:59] tafsiri commented on #1105
Hi @karanchahal, I think any of the issues [tagged performance](https://github.com/tensorflow/tfjs/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc+label%3Atype%3Aperformance) might be a good place to look. Not sure how to answer your question about development stage, but the WebGL backend has been around for a while and is one our main focus areas for browser execution.

[2019-03-05 04:02] tafsiri commented on #1089
@Comestibles this is probably a better question for [StackOverflow](https://stackoverflow.com/). We are directing people there for support questions and this one may be more related to GCS than tensorflow.js.

[2019-03-05 04:02] #1089 closed

[2019-03-05 04:09] tafsiri commented on #965
Thanks for the issue report. We deployed an update to the setup page https://js.tensorflow.org/setup/ and added a bit more guidance, but a lot of this comes to developer preference and workflow. It would be beyond the scope of that page to generally discuss the tradeoffs between the script tag workflow and using NPM.

[2019-03-05 04:09] #965 closed

[2019-03-05 04:12] tafsiri commented on #939
An update on this, 0.15 introduced [tensor.array()](https://js.tensorflow.org/api/latest/#tf.Tensor.array) and [tensor.arraySync()][https://js.tensorflow.org/api/latest/#tf.Tensor.arraySync] to provide this functionality. Hope that helps!

[2019-03-05 04:12] #939 closed

[2019-03-05 04:17] kangyizhang commented on #1318
- +1 to `toArray()` not taking `maxItems`
- +1 to remove `prefetch` from `.collect()`. I think it's ok to add `.prefetch()` in all tests, it's one time effort.
- `toArray()` will throw an exception if the dataset size is infinity

Sent https://github.com/tensorflow/tfjs-data/pull/155

[2019-03-05 04:24] QuantumInformation commented on #1249
Ok, thats fine!

[2019-03-05 04:30] tafsiri commented on #1207
@anikulk I tagged some issues with the [good first issues](https://github.com/tensorflow/tfjs/labels/good%20first%20issue) tag. Take a look at that and see if anything catches your eye (some are docs related others are core library functionality). If you find something that you are interested in feel free to make a comment in that issue that you want to work on it (feel free to tag me).

[2019-03-05 05:15] rozim commented on #965
Thanks, I understand what you are saying, but I was just going from the
point view (or "user journey")
of someone who can do simple frontend development (namely: JS in the
browser) and then
the "sudden" reference to NPMs is puzzling and the procedure has a fork in
it (script tag or npm)
and it's not clear to such a user if they could choose either fork, etc.

thx,
 Dave

On Mon, Mar 4, 2019 at 8:0

[2019-03-05 06:51] annxingyuan opened #1324 "Understand why epsilon checks are necessary in packed division and add test exposing root issue."
This issue (https://github.com/tensorflow/tfjs/issues/1321) prompted this fix (https://github.com/tensorflow/tfjs-core/pull/1603) of checking whether the inputs to packed div are less than epsilon and setting the output to 0 if so. We need to understand why it's necessary to check for less than epsilon, rather than equals 0.

We also need to understand why the inputs were 0's. I thought it was bec

[2019-03-05 08:32] leemengtaiwan commented on #1235
I understand that this is a tricky issue and you guys are busy, but just wondering how do you think about this issue? Can this be solved?

Also when will this issue be handled, for example, like after TensorFlow.js 1.0 release?

Thanks for all your time.

[2019-03-05 08:57] parthi2929 commented on #1313
yes, I did restart Chrome and same issue.  Yes, I checked those links and they say my browser is compatable with webgl. Can you please explain why this is to go to SO?

Even when the browser does support webgl, the tf is failing, and this happens with just loading the tfjs script without doing anything at all. So clearly tf has a problem correctly evaluating webgl compatability. I have seen this i

[2019-03-05 15:46] piercus opened #1325 "values of some pixels changes in `tf.image.cropAndResize`"
To get help from the community, we encourage using Stack Overflow and the [`tensorflow.js`](https://stackoverflow.com/questions/tagged/tensorflow.js) tag.

#### TensorFlow.js version
Tested in 0.15.3 and 0.14.1

#### Browser version
node.js v8.10

#### Describe the problem

`tf.image.cropAndResize` is changing the value of some of the pixels when doing pure cropping

Some pixels stay the same, but

[2019-03-05 16:08] josemafuen opened #1326 "Tensorflow.js error: unknown layer: GaussianNoise"
I converted a pretrained keras model to use it with Tensorflow.js following the steps in [this guide](https://js.tensorflow.org/tutorials/import-keras.html)
Now, when I try to import it to javascript using
`const model = tf.loadModel("{% static "keras/model.json" %}");`
The following error shows up:
[code]
I'm using 0.15.3 version of Tensorflow.js, imported this way:
`<script src="https://cdn.jsde

[2019-03-05 18:21] #1321 closed

[2019-03-05 19:40] dsmilkov commented on #1312
This is intentional since we decided to keep the old batchNormalization in 1.0 and we will have to unit test it.

[2019-03-05 19:40] #1312 closed

[2019-03-05 19:52] nsthorat commented on #1313
If you follow the stack trace can you find where the exception is thrown and see what's the issue? This error happens when we catch any exceptions when registering the backend.

Also, what hardware are you on?

[2019-03-05 21:11] tafsiri commented on #1301
FYI @caisq this can be done whenever a new node package is released that has the annotations.

[2019-03-05 22:20] caisq opened #1328 "Update all browser-only tfjs-examples to TF.js 1.0.0"

[2019-03-06 01:42] tafsiri commented on #1223
done for 2d regression, and mnist cnns.

[2019-03-06 01:42] tafsiri commented on #1221
done

[2019-03-06 01:42] #1221 closed

[2019-03-06 01:55] Akhiladdh opened #1329 "Using Body-pix as standalone es5 bundle is not working."
Link to JSbin.
https://jsbin.com/dokikopeko/edit?html,js,console,output

[2019-03-06 02:02] kangyizhang opened #1330 "Tests expecting exceptions with prefetching causes unrelated tests to fail in node env"
https://github.com/tensorflow/tfjs-data/pull/155/files#diff-29abad27b764c86e3860fa4c1adbb0d2R243

[2019-03-06 02:08] pyu10055 opened #1331 "Populate GeneratedBy field for models originated from TF SavedModel"
The new converter in 1.0 is not setting the generatedBy field in the model.json with version number for Models originated from TensorFlow SavedModel.

Use tensorflow_version field from the SavedModel meta_graph proto to populate this field.

[2019-03-06 02:43] Lewuathe commented on #1293
Do we need to do something more?
Since `onesLike` already uses `fill` kernel internally, it already uses the WebGL specific implementation. Is it necessary to add another kernel `onesLike`?

[2019-03-06 02:53] Akhiladdh opened #1332 "Unable to run Body-pix via npm"
I created a Sample.js file with below contents
`import * as bodypix from '@tensorflow-models/body-pix';
const outputStride = 16;
const segmentationThreshold = 0.5;
const imageElement = document.getElementById('image');
// load the BodyPix model from a checkpoint
const net = await bodyPix.load();
const segmentation = await net.estimatePersonSegmentation(imageElement, outputStride, segmentationThres

[2019-03-06 03:30] #1318 closed

[2019-03-06 04:54] #1123 closed

[2019-03-06 06:56] #1216 closed

[2019-03-06 06:56] #1286 closed

[2019-03-06 07:00] dsmilkov commented on #1242
This is fixed in https://github.com/tensorflow/tfjs-core/pull/1577 as part of 1.0

[2019-03-06 07:00] #1242 closed

[2019-03-06 09:19] justingolden21 opened #1333 "Syntax Error on First Step of Tutorial"
Hi, I was trying to follow the tutorial [here](https://codelabs.developers.google.com/codelabs/tfjs-training-classfication/index.html#1) however in step 1 I get:

```Uncaught SyntaxError: Unexpected token *``` in ```data.js:18```

Continuing the tutorial in [step 2](https://codelabs.developers.google.com/codelabs/tfjs-training-classfication/index.html#2), I get:

```Uncaught SyntaxError: Unexpecte

[2019-03-06 12:48] pavelkukov commented on #1277
I will share my findings and close this.
I've tested with RTX 2080 Ti cards. They are not supported by CUDA 9 and must have version >= 10.
Tensorflow(python) on its turn does not have a release that supports CUDA 10.
The user could compile it by himself. I did it with TF 1.13.1 and CUDA 10. Python works fine.
However, TFJS doesn't work with CUDA 10 and TF 1.13 and node binary is not compiled prope

[2019-03-06 12:48] #1277 closed

[2019-03-06 15:44] talvasconcelos commented on #1255
I seem to have bumped into this error... can someone give me some help?

I'm colab
- tensorflow version is 1.13.1
- tensorflowjsversion is 1.11.0

I can see in the layers that the batchnormalization is v1, when i convert it and try to load on tfjs, i get the error.
I don't mind downgrading tensorflow on colab, i just don't know how to do it!!

[2019-03-06 18:32] talvasconcelos opened #1334 "Error importing from keras h5 - BatchNormalizationV1"
TensorFlow.js version: 1.0.0

I'm getting thie bellow error when importing a keras model from Colab.
tensorflow version in colab is 1.13.1

I found issue #1255 on this matter but i couldn't get it to work!

Error: Unknown layer: BatchNormalizationV1. This may be due to one of the following reasons:
1. The layer is defined in Python, in which case it needs to be ported to TensorFlow.js or your Java

[2019-03-06 18:32] davidsoergel commented on #1326
Indeed, looks like we don't have any of the noise layers yet (https://keras.io/layers/noise/).

[2019-03-06 18:58] davidsoergel commented on #1315
This applies to activations too.

[2019-03-06 19:03] davidsoergel commented on #1315
Oh yeah: also metrics, constraints, initializers, and regularizers.

Search for `type .*Identifier` in the tfjs-layers code to find all the definitions.

[2019-03-06 19:15] jofuelo commented on #1326
Any clue about when will it be implemented?

[2019-03-06 19:58] oveddan opened #1335 "BodyPix 1.00 model with tfjs v1.0 gets error "batchMatMul result is expected to be packed""
When running the latest body pix demo that uses tf.js 1.0, and selecting the `1.00` model from the drop down, the following error happens:

Uncaught (in promise) Error: batchMatMul result is expected to be packed
    at assert (util.ts:105)
    at e.conv2dByMatMul (backend_webgl.ts:1763)
    at e.conv2d (backend_webgl.ts:1820)
    at ENV.engine.runKernel.x (conv.ts:204)
    at engine.ts:206
    at

[2019-03-06 20:03] annxingyuan commented on #1335
Thanks @oveddan looking into this now.

[2019-03-06 22:17] annxingyuan opened #1336 "Generalize trick in pointwiseConv to avoid expensive reshaping."
In `convWithMatMul` (pointwiseConv), if `x` has an odd number of rows and so will need to be expensively reshaped, we pretend that `x` has an even number of rows temporarily, run the kernel, then restore `x`'s shape. This logic should be moved to `compileAndRun` so other kernels can avoid expensive reshapes.

[2019-03-06 22:53] #1335 closed

[2019-03-06 23:00] caisq commented on #1326
This looks like an easy-enough layer that it'll be great if an open-source contributor can do it.

[2019-03-07 00:20] Cha-Dahee opened #1337 "D3D shader compliation failed with skip optimization flags"
To get help from the community, we encourage using Stack Overflow and the [`tensorflow.js`](https://stackoverflow.com/questions/tagged/tensorflow.js) tag.

#### TensorFlow.js version
1.0.0

#### Browser version
Google Chrome
Version 72.0.3626.121 (Official Build) (64-bit)

#### Describe the problem or feature request
Hi I'm using Posenet for my project.
After the latest update of Posenet version (

[2019-03-07 00:26] startupgurukul opened #1338 "tensorflowjs pip package"
Hi folks congrats on 1.0 release, definitely an exciting moment in ML history :)

The converter package seems to point to 0.8.0. If the latest version can be published to pip, that would be great.

PS: tensorflowjs_converter generated from python code in the repo works fine (after running yarn/npm run gen-json

[2019-03-07 00:41] rthadur commented on #1332
This question is better asked on [StackOverflow](https://stackoverflow.com/questions/tagged/tensorflow.js) since it is not a bug or feature request. There is also a larger community that reads questions there.

If you think we've misinterpreted a bug, please comment again with a clear explanation, as well as all of the information requested in the [issue template](https://github.com/tensorflow/ten

[2019-03-07 00:42] rthadur commented on #1333
This question is better asked on [StackOverflow](https://stackoverflow.com/questions/tagged/tensorflow.js) since it is not a bug or feature request. There is also a larger community that reads questions there.

If you think we've misinterpreted a bug, please comment again with a clear explanation, as well as all of the information requested in the [issue template](https://github.com/tensorflow/ten

[2019-03-07 00:59] justingolden21 commented on #1333
StackOverflow won't allow me to ask questions, and typically when I could ask questions I am downvoted into losing more "privileges" and provided with only incorrect or completely inapplicable answers. I asked on GitHub because I was hoping to have a different result from this community. Although it is not quite a bug, it is a problem with something made by TensorFlow that should be fixed, for the

[2019-03-07 01:42] huan opened #1339 "Feature Request: Please pack `src/*.ts` with NPM package for easy debuging"
#### TensorFlow.js version: 1.0
#### Browser version: N/A

#### Describe the problem or feature request

When we developing with tfjs, we will see bugs and we need to understand the underlying logic of the tfjs modules.

Current, the `@tensorflow/tfjs` and `@tensorflow/tfjs-layers` published the JS code with source map to TS, we can get the error trace in the source code of TS.

However, according

[2019-03-07 02:37] Johannes0Horn commented on #1338
I am also looking for the 1.0 pip package. Which is the straight forward way to build it from source? Should one use the 'build-pip-package.sh' inside '.../tfjs-converter-master/python'?

[2019-03-07 03:20] Akhiladdh commented on #1332
@rthadur Sure Thank you!

[2019-03-07 03:20] #1332 closed

[2019-03-07 03:56] huan opened #1341 "Should be able to specify the Input layer with a shape [null, 1]"
#### Describe the problem or feature request

In Python, we have the following PY code:

[code]

In order to translate it to Javascript, we need to write this JS code:

[code]

However, according to the current code, our `tf.layers.input()` accepts an argument with type `InputConfig` with a `shape?: Shape` property and the `Shape` had been defined as `number[]`, which I believe it should be change

[2019-03-07 04:28] startupgurukul commented on #1338
Clone the latest  tfjs-converter
Do yarn/npm run gen-json
cd python
python setup.py install

[2019-03-07 06:03] happyhj opened #1342 "Toxicity classifier demo showing different result with figure in readme."
#### TensorFlow.js version
1.0.0

#### Browser version
Version 72.0.3626.121 (Official Build) (64-bit)

#### Describe the problem
Toxicity classifier demo showing different result with figure in readme.
Below the image is from the readme.

<img width="1011" alt="screen shot 2019-03-07 at 3 06 19 pm" src="https://github.com/tensorflow/tfjs-models/blob/master/toxicity/images/demo.jpg?raw=true">

In

[2019-03-07 06:21] Scooling opened #1343 "tf_frozen_model to tfjs_layers_model"
Dear developer, my current --input_format is tf_frozen_model, and I want --output_format to be tfjs_layers_model. What do I need to do to achieve this goal?

[2019-03-07 06:28] caisq commented on #1343
@Scooling Converting model from tf_frozen_model to tfjs_layers_model is not currently supported. To get a tfjs_layes_model, you can either convert it from keras or tf.keras or (`--input_format keras`) or save a model from TensorFlow.js directly (`tf.LayersModel.save()`)

[2019-03-07 07:42] ToonTalk commented on #1337
Before getting this error I get

TypeError: t.fromPixels is not a function

This is from this sample page: https://github.com/tensorflow/tfjs-models/tree/master/posenet#via-script-tag

Changing it to t.browser.fromPixels then results in the error reported in this issue.

[code]

[2019-03-07 09:56] somombo commented on #968
@nsthorat how has the "stable" version v1.0.0 been released when this issue (which is a major bug in my opinion) is still open??

[2019-03-07 12:46] arp95 commented on #1326
@caisq interested in this. Can you tell the starting point where I can start working on it?

[2019-03-07 15:21] Johannes0Horn commented on #1338
Thank you for saving me some time@startupgurukul! It worked for me.

[2019-03-07 16:44] caisq commented on #1343
cc @pyu10055

[2019-03-07 16:44] #1343 closed

[2019-03-07 16:52] caisq commented on #1326
@arp95 Thanks for offering to help. Please go for it :)

To get started, take a look at the Keras documentation of the GaussianNoise layer:
https://keras.io/layers/noise/

Also look at the Python implementation:
https://github.com/keras-team/keras/blob/master/keras/layers/noise.py#L14

To write the implementation in TypeScript (this tfjs-layers repo), create a file at src/layers/noise.ts. Follow t

[2019-03-07 16:55] #995 closed

[2019-03-07 18:15] mhart opened #1344 ".yalc directory published to npm"
The `.yalc` directory has been published to npm and it takes up 60% of the `tfjs` module disk space.

I believe I've seen this with `tfjs-core` in the past too – I suspect it should be added to `.npmignore` in all tfjs projects.

#### TensorFlow.js version

1.0.0

#### Code to reproduce the bug / link to feature request

[code]

[2019-03-07 19:40] davidsoergel commented on #1317
This was fixed in https://github.com/tensorflow/tfjs-converter/pull/326.

[2019-03-07 19:40] #1317 closed

[2019-03-07 20:22] davidsoergel commented on #1334
It's a known remaining bug in the tf.Keras exporter that this happens when saving to HDF5 (.h5) with `model.save()`, even though it was fixed in `model.to_json()`.  The additional fix will likely be included in a TF 2.0.x alpha release in the coming weeks.

In the meantime, the most expedient fix is to manually edit your converted model.json to replace instances of `BatchNormalizationV1` with `Bat

[2019-03-07 20:57] davidsoergel commented on #1333
No worries-- this is a real bug.  It has to do with the fact that the provided data.js is an ES6 Module, not a plain JS script.

Here's a quick workaround while we figure out the best way to address this:

 * In your data.ts, delete or comment out the `import * as tf...` line.
 * Also delete the word `export` on line 40, so it just reads `class MnistData {`
 * Similarly, remove the import line in

[2019-03-07 21:35] davidsoergel commented on #1329
There are at least two issues here:

 1. The [usage examples](https://github.com/tensorflow/tfjs-models/tree/master/body-pix) mentions `body-pix@0.0.4`, but that version does not exist in npm.  The solution is to remove the version numbers for both tfjs and body-pix, or replace them both with `1.0.0` if you want to pin it.

 2. The image data in your example is subject to CORS restrictions.  Hosti

[2019-03-07 22:39] #873 closed

[2019-03-07 22:44] nsthorat commented on #1344
Agreed -- I will fix this.

[2019-03-07 22:48] dsmilkov commented on #1344
An idea: we publish a tiny package tfjs-repo-check that makes sure the `tslint.json`, `.npmignore`, `.gitignore` etc are consistent across our repos. All repos depend on that package as a dev dependency, and run it on every presubmit.

[2019-03-07 23:58] tafsiri commented on #1333
Hi @justingolden21 thanks for reporting this! It is a bug. I have updated the tutorial with the fix. There was a missing `type=module` attribute on the script tags, and I updated the link to a data file that doesn't have the import statement. It should work now in recent Chrome and Firefox versions. Let me know if you have any trouble with this.

[2019-03-08 00:02] #1223 closed

[2019-03-08 00:39] caisq commented on #1334
@talvasconcelos Sorry about the inconvenience. See @davidsoergel's comment above. @fchollet and @karmel and @YHLIANG on the tf.keras team are aware of this issue are actively working towards a fix.

The current workaround is to use "vanilla" keras (i.e., `import keras`) to save your model, assuming you are not using any tf.keras-specific features.

[2019-03-08 00:41] caisq commented on #1334
@talvasconcelos Also, editing the content of model.json (after the python-to-javascript conversion step) is another possible workaround, as @davidsoergel pointed out.

[2019-03-08 00:49] davidsoergel commented on #1333
@tafsiri I had tried that but it also didn't work, because CORS kicks in and prevents loading the module from a `file://` URL (which it is if you follow the tutorial instructions and load these files from a local directory).  Apparently `type=module` makes the rules more strict.

[2019-03-08 00:49] Akhiladdh commented on #1329
Thanks @davidsoergel this fixed my issue.

[2019-03-08 02:31] WenheLI opened #1346 "No backend found in registry in react native"
#### TensorFlow.js version
1.0.0
#### Browser version
React: 16.5.0
React native: sdk-32.0.0
expo: 32.0.0
#### Describe the problem or feature request
I was trying to import tfjs into React Native, when I want to call tf methods, it goes with an error `Error: No backend found in registry.`. I also tried it under production mode it is the same.
#### Code to reproduce the bug / link to feature reque

[2019-03-08 02:52] davidsoergel commented on #1341
I suspect this is only as issue because you have `strictNullChecks` turned on. We don't use `strictNullChecks` in TFJS, so `[null, 1]` is already a valid `Shape` as far as the type system is concerned.  Also, I'm not sure that we actually interpret `null` shape components correctly, even though the type system allows them.

Of course, we also don't want to cause errors in dependent projects that d

[2019-03-08 10:38] talvasconcelos commented on #1334
Hello all, thanks for your awnsers. I tried editing the final json, but i must have screwed something up. Anyway, i did a workaround... i trained in Colab TPU, with tf.keras, then saved the wheigths. Remade rhe model in vanilla keras and imported the weights. It seems to be working, still need to test in js.

[2019-03-08 12:43] apoorv-1310 commented on #1158
so we cant the trained model ???

[2019-03-08 14:44] alvarouc commented on #1255
It is fixed but now we get a different error

ValueError: Improperly formatted model config.

:( so frustrating

[2019-03-08 14:46] aligajani opened #1347 "Does posenet give coordinates relative to bounding box?"
To get help from the community, we encourage using Stack Overflow and the [`tensorflow.js`](https://stackoverflow.com/questions/tagged/tensorflow.js) tag.

#### TensorFlow.js version

#### Browser version

#### Describe the problem or feature request

#### Code to reproduce the bug / link to feature request

[2019-03-08 15:17] #1329 closed

[2019-03-08 15:51] mohammedzamakhan commented on #353
@igorminar @stephenfluin can probably guide you guys. Angular Team has done a great job, and tree shaking and ahead of time compilation has helped a lot of Angular Projects

[2019-03-08 16:23] tafsiri commented on #1158
@apoorv-1310 Please take a look at https://www.tensorflow.org/js/guide and https://www.tensorflow.org/js/tutorials for more information.

[2019-03-08 16:26] tafsiri commented on #1333
@davidsoergel I also updated the tutorial with some instructions to work around the CORS issues (depends on the browser though)

[2019-03-08 16:28] davidsoergel commented on #1333
+1 cool, thanks!

[2019-03-08 17:52] tylerzhu-github commented on #1137
Hi Gustav,

Thanks for posting the followup questions here. Very good questions!
Please see my reply inline:

It is based on the following rule: height and width of the input crop for the model should be a multiple of 16, plus 1 for feature alignment. To my best knowledge, the convnet feature alignment technique was proposed and popularized by researchers @gpapan and @aquariusjay. The assumptions

[2019-03-08 21:37] nsthorat commented on #1344
+1 this is a great idea. I think we can put the script in tfjs-core since all the repos depend on it rather than making a separate repo.

[2019-03-08 21:41] #1344 closed

[2019-03-08 21:52] dsmilkov commented on #1339
Hi @huan , curious what you toolkit is? Are you using plain node interpreter server-side? Asking since we do ship `*.js.map` to npm alongside every `.js` file. The `*.js.map` file has the ts source code embedded in it.

Then it becomes a matter of toolchain in order for you to link the stack trace to the typescript source code. Browsers do this automatically.

[2019-03-08 23:02] nsthorat opened #1348 "Update tfjs-node to depend on tfjs@1.0.0."
This is going to require:

- Changing the calls to browserHTTPRequest to the new API: https://github.com/tensorflow/tfjs-core/blob/master/src/io/browser_http.ts#L434
- Adding fill / ones / onesLike kernels.

[2019-03-08 23:08] nsthorat opened #1349 "Start doing release notes for tfjs-node."
Currently we don't do release notes for the tfjs-node package, we should start doing that.

This will require a slight rework of the script in the union package to automatically generate release notes from git commits.

[2019-03-09 01:14] usmanmuhd commented on #1165
Hey! Interested in this. Any starting point that I should be looking at?

[2019-03-09 01:37] justingolden21 commented on #1333
Great, thank you guys for working on this issue and being so responsive.

I've followed the instructions and got the hello world after step 2 in the console (Firefox only, Chrome doesn't allow it due to CORS policy).

However, once I finished step three, I got <code>TypeError: tf.browser is undefined</code> at <code> script.js:25:5</code>:

![image](https://user-images.githubusercontent.com/302744

[2019-03-09 01:45] jeremy-kothe commented on #1092
tfjs_binding.d.ts is still MIA.

[2019-03-09 03:15] huan commented on #1339
Hi @dsmilkov, thank you for the question.

Yes, I'm using node interpreter and run it server-side.

I understand that the `*.js.map` will include the ts source code, and the browser can do this automatically.

However, In my setup, I develop my code with tfjs in TypeScript and run it directly with `ts-node`(or `node -r ts-node/register`). In this case, I will get the error trace with the above log

[2019-03-09 14:02] #1342 closed

[2019-03-09 15:51] dsmilkov commented on #1339
I did some research and none of the popular TypeScript libraries (angular, typescript itself, etc), publish their ts source code on npm. Publishing ours will add ~3.5MB to the npm package. I'm not ready to make that decision yet.

How about using GitHub release tree to browser the code? For example, if you depend on tfjs-core 1.0.0, you can browse the source code using this url: https://github.com

[2019-03-09 16:08] huan commented on #1339
Using the GitHub release tree to browse is do-able. However, it's not very convenience comparing with running a `vim` command directly inside the console.

From what I'm thinking:
1. It's not a big deal that we add another 3.5MB to npm package, because the node.js binding is almost 100MB already.
1. The angular need not publish the source code because it mainly runs in the browser, it's a web appl

[2019-03-09 17:06] huan commented on #1348
Yes, please fill the kernel backends...

They are all throw exception currently... :(

https://github.com/tensorflow/tfjs-core/blob/1d6a1ce0b908bf8e9edcccb11d7a3feed5611c97/src/kernels/backend.ts#L592-L598

[code]

[2019-03-09 21:17] JimTheMan opened #1351 "tf.sequential is not a function"
I am trying to follow the tensorFlow.js guide here: https://www.tensorflow.org/js/guide/models_and_layers

I installed TensorFlowjs, and my node dependencies in package.json looks like this:

[code]

In my code I have these two lines:

[code]

I run then run it like this:
[code]

But I get the error:
[code]

node v10.15.1
nom v6.4.1

What am I doing wrong here? Thanks!

[2019-03-09 21:45] caisq commented on #1351
@JimTheMan

The ECMAScript import syntax in your JavaScript code snippet probably won't work with vanilla node. You should try either ts-node (https://www.npmjs.com/package/ts-node) or using the `require()` syntax:

[code]

[2019-03-09 21:50] caisq opened #1352 "tf.data.generator() has been changed in a breaking way in 1.0.0"
To get help from the community, we encourage using Stack Overflow and the [`tensorflow.js`](https://stackoverflow.com/questions/tagged/tensorflow.js) tag.

#### TensorFlow.js version
1.0.0

#### Browser version
Shouldn't matter.

#### Code to reproduce the bug / link to feature request
The following code snippet works in 0.15.3 but not in tfjs 1.0.0:

[code]

The code is available in codepen: http

[2019-03-09 22:26] JimTheMan commented on #1351
Thanks @caisq, it works when I switch from using `import` to `require`. I guess it kind of should have been obvious for me to try the require syntax, but it doesn't mention that anywhere in that docs (that I know of). It would be nice to have clearer docs for all favors of javascript. :)

[2019-03-09 22:40] JimTheMan commented on #595
didn't work for me :'(

[2019-03-10 00:42] kangyizhang commented on #1352
hi @caisq

According to https://github.com/tensorflow/tfjs/issues/1139, the tf.data.generator API has been change to take
1) a JavaScript generator as input, which is a function* ,
2) or a function that returns a javascript iterator as input. The returned iterator should have `.next()` function that returns element in format of `{value: DataElement, done:boolean}`.

The original tf.data.generator(

[2019-03-10 02:43] caisq commented on #1351
@JimTheMan You are right, we currently have essentially no code example for tfjs-node on our website (js.tensorflow.org). However, we do have some examples in our tfjs-examples repo, e.g.,
- https://github.com/tensorflow/tfjs-examples/blob/master/mnist-node/main.js#L18
- https://github.com/tensorflow/tfjs-examples/blob/master/simple-object-detection/train.js#L23
- https://github.com/tensorflow/tfj

[2019-03-10 02:43] #1351 closed

[2019-03-10 03:52] oveddan opened #1353 "Feature request - return better types from `batch`"
Currently the method signature for `batch` always returns a `Dataset<TensorContainer>` which can be challenging to use again when you want to dig into the batched dataset as you have to cast the type.

For example:

[code]

It would be nice if the batch function above returned a `Dataset<Tensor1D>`

[2019-03-10 04:24] caisq commented on #1352
@kangyizhang Got it. I wasn't aware of this change. This hasn't been mentioned in any of the release notes as far as I can see.

cc @davidsoergel @dsmilkov @nsthorat

I've made corresponding change in tfjs-examples. See PR https://github.com/tensorflow/tfjs-examples/pull/242.

In addition, I've added a mention of this change to my gist https://gist.github.com/caisq/3fc0beb6597f42d66be806c6692f310d

[2019-03-10 04:51] kangyizhang commented on #1352
@caisq Thanks for sharing the gist.

We discussed about not documenting `tf.data.func()` because we are not clear about how users will use it. I think that's the reason this is not included in the breaking API changes. But it definitely should be included in the release notes.

[2019-03-10 05:14] davidsoergel commented on #1353
Good point, thanks!  I *think* this is possible but there may be some tricky edge cases-- we'll take a look.

[2019-03-10 09:52] Gurpreetsingh9465 commented on #467
can i work on this issue 😃

[2019-03-10 15:00] dsmilkov commented on #1339
Thanks for the context. I'll run it by the team tomorrow and will let you know.

[2019-03-11 00:19] adrienZ commented on #924
Worked like a charm for me thanks @mrmartin

[2019-03-11 01:42] NiNJAD3vel0per opened #1354 "WebGPU Support"
I'd like to talk about WebGPU in tfjs.
Currently, Tensorflow.JS is only based on WebGL.
I am curious whether Tensorflow.JS([node-gpu)](https://github.com/tensorflow/tfjs-node) has a plan to support WebGPU in the future.
According to Webgpu proposal with new shading language thanks to WebAssembly and directly accessing API, they will outperform WebGL which is indirect api causing less performance t

[2019-03-11 02:45] dsmilkov commented on #1352
This was an oversight. I've updated the breaking sections in the release notes for both `0.15.3` and `1.0.0` to mention `tf.data.generator()`.

[2019-03-11 02:45] #1352 closed

[2019-03-11 06:07] leemengtaiwan commented on #1309
After failing to install tfjs 1.0, I would like use this script to convert my pb file to json file (but have no idea how to use it)

It will be very helpful to include some guideline for non-NPM (e.g, Python) users to use the script :)

[2019-03-11 06:50] wangtz commented on #1339
I'm not sure what would be the best practice. But is there a chance to have a developer friendly version of npm such as tfjs-dev?

[2019-03-11 07:23] leemengtaiwan opened #1355 "Loaded Frozen model running forever"
To get help from the community, we encourage using Stack Overflow and the [`tensorflow.js`](https://stackoverflow.com/questions/tagged/tensorflow.js) tag.

#### TensorFlow.js version

tfjs@0.15.1

#### Browser version

Chrome 72.0.3626.121

#### Describe the problem or feature request

The loaded frozen model take very long time (over 30 minutes. actually I never saw it complete predicting) even i

[2019-03-11 07:49] gustavz commented on #1137
Hi @tylerzhu-github, thanks again for your detailed answers!

I am using TF 1.3 where lite is still under contrib/.
Furthermore I am using a script based on [this one](https://github.com/rwightman/posenet-python/blob/master/posenet/converter/tfjs2python.py) by @rwightman to convert the posnet tensorflow js model to python tensorflow.

The conversion to tflite is then done with:
[code]

Currently I

[2019-03-11 14:16] tafsiri commented on #1333
@justingolden21 thanks for the update. I think a few things got mixed up with the releases of the new versions. I'm going to take a look at the whole thing.

[2019-03-11 14:50] tafsiri commented on #1333
@justingolden21 I've updated the tutorials, they were indeed not pointing to the latest release. Sorry for all the trouble, i've gone through them step by step so they should be working. Let me know if you have more trouble. Thanks again for letting us know.

[2019-03-11 15:04] nsthorat commented on #1354
We will be certainly be writing a WebGPU backend as soon as it's available -- we are in close contact with the Chrome folks who are implementing it.

Closing this out since we will track this elsewhere.

[2019-03-11 15:04] #1354 closed

[2019-03-11 17:10] parthi2929 commented on #594
How do we know the width and height of canvas before loading the image? Do not we get it from image?

[2019-03-11 17:25] nsthorat commented on #1339
We chatted about this -- we've decided to ship the .ts files!

[2019-03-11 17:41] nsthorat commented on #1339
Just for posterity: src/ only adds 400K to the .tar.gz NPM file of tfjs-core, so this won't have too much impact total.

[2019-03-11 17:43] annxingyuan commented on #1347
Hi there, since this isn't a bug with the library, you should in general try to post these on [StackOverflow](https://stackoverflow.com/questions/tagged/tensorflow.js).

Yes, PoseNet returns x/y coordinates relative to the image bounding box.

[2019-03-11 17:43] #1347 closed

[2019-03-11 17:45] nsthorat commented on #1309
+1 -- @pyu10055 can you please prioritize this when you get some cycles?

[2019-03-11 18:11] nsthorat commented on #359
This guide talks about using a functional model: https://www.tensorflow.org/js/guide/models_and_layers

[2019-03-11 18:11] #359 closed

[2019-03-11 18:12] nsthorat commented on #361
This is fixed.

[2019-03-11 18:12] #361 closed

[2019-03-11 18:17] nsthorat commented on #1158
Closing this out since this is done.

[2019-03-11 18:17] #1158 closed

[2019-03-11 18:19] nsthorat commented on #1293
I don't think we need to do anything more, the fill kernel is fine as is.

[2019-03-11 18:19] #1293 closed

[2019-03-11 18:21] nsthorat commented on #566
Update TS version in https://github.com/tensorflow/tfjs-core/pull/1616

Keeping this open to modularize the build.

[2019-03-11 18:21] nsthorat commented on #363
Done: https://codelabs.developers.google.com/codelabs/tfjs-training-regression/index.html#0

[2019-03-11 18:21] #363 closed

[2019-03-11 18:22] nsthorat commented on #400
This was done in https://github.com/tensorflow/tfjs-website/pull/254

[2019-03-11 18:22] #400 closed

[2019-03-11 18:25] nsthorat commented on #628
Is this still true, @caisq?

[2019-03-11 18:26] nsthorat commented on #699
We increased the value and we now allow users to override it with `ENV.set('WEBGL_NUM_MB_BEFORE_PAGING', 1000);`

[2019-03-11 18:26] #699 closed

[2019-03-11 18:26] caisq commented on #628
We have seen significant improvements since the bug is filed. But the training speed gap is still there, especially if we compare ourselves against the graph model.

[2019-03-11 18:27] nsthorat commented on #760
We now enable tf.enableDebugMode(), tf.enableProdMode().

Going to close this out -- for any new flags we'll create public API methods like this.

[2019-03-11 18:27] #760 closed

[2019-03-11 18:27] nsthorat commented on #806
Did we ever figure this out, @pyu10055?

[2019-03-11 18:29] nsthorat commented on #782
This is done.

[2019-03-11 18:29] #782 closed

[2019-03-11 18:37] faroit commented on #782
@nsthorat great news. Does this mean I could expect `signal.inverse_stft` to work on tfjs?

[2019-03-11 18:38] bileschi commented on #467
Please, feel welcome to contribute!

[2019-03-11 19:45] dsmilkov commented on #1092
@nkreeger Can you take another look? Thanks!

[2019-03-11 20:36] #986 closed

[2019-03-11 20:42] swirlingsand commented on #332
Using currently available version on pip (0.8), produces a `model.pb` and `weights_manifest.json`, not a `model.json`.
Assuming the latest version produces a `model.json` as the docs promise, is there an ETA on publishing latest to pip?

[2019-03-11 20:47] nsthorat commented on #467
I think we should hold off on this issue -- we're going to thinking about what a linear algebra package in JS would look like holistically.

[2019-03-11 21:17] #1229 closed

[2019-03-11 21:29] kaczmarj commented on #470
building on the great work of @zboldyga, i submitted a PR for Conv3D in tfjs-layers: https://github.com/tensorflow/tfjs-layers/pull/495

[2019-03-12 00:39] #1328 closed

[2019-03-12 02:17] chenqing opened #1358 "website link 404"
https://www.tensorflow.org/js/tutorials/transfer/what-is-transfer-learning   in https://www.tensorflow.org/js/, it's broken.
this is the right one :
https://www.tensorflow.org/js/tutorials/transfer/what_is_transfer_learning

![image](https://user-images.githubusercontent.com/3064613/54170917-8b650900-44b3-11e9-943c-70cf17e3612f.png)

[2019-03-12 02:29] aligajani opened #1359 "Where is the Python equivalent of PoseNet?"
To get help from the community, we encourage using Stack Overflow and the [`tensorflow.js`](https://stackoverflow.com/questions/tagged/tensorflow.js) tag.

#### TensorFlow.js version

#### Browser version

#### Describe the problem or feature request

#### Code to reproduce the bug / link to feature request

[2019-03-12 02:42] chenqing commented on #1358
![image](https://user-images.githubusercontent.com/3064613/54170906-79836600-44b3-11e9-95fb-8ff03f0900e6.png)

[2019-03-12 04:19] huan commented on #1339
@nsthorat Brilliant! Thanks for bringing the TS source code with the NPM!

[2019-03-12 12:22] batrlatom opened #1360 "Tensorflow converter not working with tensorflow r1.13"
To get help from the community, we encourage using Stack Overflow and the [`tensorflow.js`](https://stackoverflow.com/questions/tagged/tensorflow.js) tag.

#### TensorFlow.js version

#### Browser version

#### Describe the problem or feature request
Tensorflow converter does not work with Tensorflow 1.13

TypeError: Expected config_proto to be a ConfigProto, saw type <class 'tensorflow.core.proto

[2019-03-12 13:23] bileschi commented on #1358
Thanks for the bug report!  I am able to reproduce the 404

[2019-03-12 13:39] bileschi commented on #1359
Hello,

This appears to be a dup of https://github.com/tensorflow/tfjs/issues/572
Please re-open if it does not address your issue.

Thankyou.

[2019-03-12 13:39] #1359 closed

[2019-03-12 13:40] bileschi commented on #1360
@pyu10055 This sounds like a version mismatch.  Is this something we expect to work?

[2019-03-12 14:09] caisq commented on #1360
@batrlatom Sorry for the inconvenience. Please create a clean virtualenv or pipenv and install the latest release of tensorfowjs in it. We are working on pushing out a new version of tensorflowjs, which will depend on 1.0.0-alpha0.

[2019-03-12 15:07] nsthorat commented on #1341
It would be good to add a unit test for a [null, 1] shape here if we support this.

[2019-03-12 15:13] nsthorat opened #1362 "Support stft and inverse stft ops."
See:

https://www.tensorflow.org/api_docs/python/tf/signal/stft
https://www.tensorflow.org/api_docs/python/tf/signal/inverse_stft

[2019-03-12 15:14] nsthorat commented on #782
These ops aren't supported yet (just the ones listed on this issue).

I filed a new issue for those ops: https://github.com/tensorflow/tfjs/issues/1362

[2019-03-12 15:23] GreyZzzzzzXh opened #1363 "Mobilenet: different results when WEBGL_PACK is true or false"
#### TensorFlow.js version
tfjs: "1.0.0"

#### Browser version
Chrome 70.0.3538.77 64-bit

#### Describe the problem or feature request
WEBGL_PACK is true:
https://storage.googleapis.com/tfjs-examples/mobilenet/dist/index.html
![image](https://user-images.githubusercontent.com/35633199/54212212-8f2d7580-451d-11e9-89ce-cd4bd1aa517a.png)

WEBGL_PACK is false:
https://storage.googleapis.com/tfjs-exam

[2019-03-12 16:07] cagnulein opened #1364 "util_1.promisify is not a function"
import * as tf from '@tensorflow/tfjs-node';
and
import * as tf from '@tensorflow/tfjs-node-gpu';

fails with:

file_system.js:58 Uncaught TypeError: util_1.promisify is not a function
    at Object.<anonymous> (file_system.js:58)
    at Object.265../io_utils (file_system.js:360)
    at o (_prelude.js:1)
    at _prelude.js:1
    at Object.263.../package.json (index.js:31)
    at o (_prelude.js:1)

[2019-03-12 16:29] ericscottmarquez commented on #708
Same problem gettind it to work on ubuntu 18.04 -
Here's the error:
[code]
Package.json is fine, deleted node modules. installed with tfjs-node-gpu only, it gave:
[code]
It is only working with regular tfjs:
[code]

Using Dell XPS 15 9570 with gtx 1050ti, nvidia drivers work on this machine in ubuntu 18.04, they are up to date. Just trying to take advantage of gpu for ML.

Thanks for all your work

[2019-03-12 16:40] aligajani commented on #1359
Thanks , and is there a more fully blown pre trained model we can use for
posenet versus mobilenet?

On Tue, Mar 12, 2019 at 1:39 PM Stanley Bileschi <notifications@github.com>
wrote:

--

Ali Gajani
Founder at Mr. Geek
www.mrgeek.me
www.aligajani.com

[2019-03-12 16:50] apkuhar commented on #1338
use the v1.0.0 tag if you want to do the manual install. the current latest is using TF 2.0 allready.

[2019-03-12 17:09] a4ankit opened #1365 "tensorflow custom model : “Giving wrong prediction with bulk data”"
We are facing an issue here, while training with the bulk dataset and use that custom model for prediction it giving the wrong prediction. Most of the time it gives the second index value.

Setting Label:

    let label = [];
    for(var k = 0; k< 21; k++){
        label.push('Store Shelf');
    }
    for(var l = 0; l< 21; l++){
        label.push('Rejected');
    }
    console.log('label:::'+labe

[2019-03-12 18:53] nsthorat commented on #1363
This should be fixed & will go out in the 1.0.1 patch release.

[2019-03-12 19:03] nsthorat commented on #1365
This seems like an issue with your model setup rather than an issue with the library. You will probably get more luck solving this kind of issue on stackoverflow.com with the "tensorflow.js" tag.

[2019-03-12 19:05] nsthorat commented on #86
The error messages are much better now. Closing this out unless you think there is still an issue.

[2019-03-12 19:05] #86 closed

[2019-03-12 19:12] #1365 closed

[2019-03-12 20:08] rthadur commented on #1224
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow.js) since it is not a bug or feature request. There is also a larger community that reads questions there.

[2019-03-12 20:08] #1224 closed

[2019-03-12 20:45] nsthorat commented on #708
This could be an issue with double importing of tfjs.

Can you show what your package.json dependencies look like? You don't need to import `@tensorflow/tfjs` directly, `@tensorflow/tfjs-node` will do that for you.

[2019-03-12 20:45] #1309 closed

[2019-03-12 21:21] pyu10055 commented on #1289
This model is converted with older pip, which has a bug that includes small constants in the pb file. Since I will reconvert this model with the 0.15.x again.

[2019-03-12 21:23] pyu10055 commented on #1235
is this related to https://github.com/tensorflow/tfjs/issues/1355?
I have a fix addressing the strided_slice op, which on my machine the predict method completes in 1sec.

[2019-03-12 21:27] nsthorat commented on #1289
Can we convert this with 1.0? Let's stop developing against 0.15.x.

[2019-03-12 22:56] nsthorat commented on #1339
1.0.1 now has TypeScript src code in the NPM package: https://unpkg.com/@tensorflow/tfjs@1.0.1/src/

[2019-03-12 23:51] ericscottmarquez commented on #708
Tensorflow js is only imported once.
[code]

`import * as tf from '@tensorflow/tfjs-node';` is not valid for node servers, my project is not a create-react-app type client-app.

[code]

returns
`Error: Cannot find module '@tensorflow/tfjs-core'`
________________________________________________________________________
This is what I get when I just do this, with a working calculation in the file. I

[2019-03-13 00:26] pyu10055 commented on #1338
tensorflowjs-converter pip v1.0.1 is published.

[2019-03-13 00:26] #1338 closed

[2019-03-13 00:52] ericscottmarquez commented on #708
Oh, and CUDA Drivers are installed as well as up to date nvidia drivers

[2019-03-13 03:34] emer7 commented on #1315
Hi, I'm new to Tensorflow but would like to learn something new!
Is this issue available to be worked on?

[2019-03-13 03:38] nkreeger opened #1369 "Re-roll backup TensorFlow headers for 1.13"
We use backup headers when supporting TensorFlow hosted Windows GPU builds. I need to update these when I have access to a Windows machine.

[2019-03-13 03:41] nkreeger opened #1370 "Ship Raspberry Pi (arm7) TensorFlow 1.13 builds"
I don't want to block a 1.0.x version of @tensorflow/tfjs-node on some Docker/Bazel issues with getting an official RPi build out for 1.13. This issue will track this work for a followup point release.

[2019-03-13 03:41] giwl21 opened #1371 "pip install tensorflowjs error 1.0.1"
#### TensorFlow.js version: 1.0.1
Windows 7
Anaconda Navigator Environment
#### Describe the problem or feature request
I've had problems installing tensorflowjs in the past, but I was hoping that the release of 1.0.1 would remedy the issues.  However, I seem to be getting another issue when i do the terminal command
`pip install tensorflowjs`
If not the package, I'm guessing it may have to do wit

[2019-03-13 03:47] #1303 closed

[2019-03-13 04:00] giwl21 commented on #1371
I tried making a new env and running `pip install tensorflowjs` and it returned
[code]

I feel it could also be my cache, but I don't know how to clear it.

[2019-03-13 04:49] justingolden21 commented on #1333
Works beautifully in firefox now, thank you for your hard work.

[2019-03-13 05:25] huan commented on #1339
@nsthorat sweet!

I'll close this issue because it had been fulfilled.

Thank you very much!

[2019-03-13 05:25] #1339 closed

[2019-03-13 06:15] huan commented on #1341
@nsthorat I had just added a very simple unit test for checking this, please let me know if there are more checks needed, thanks.

[2019-03-13 06:40] aligajani commented on #468
@brannondorsey  My opinion on the last question: tfjs won't be as fast as tfpy.

[2019-03-13 07:46] aligajani opened #1372 "2FPS on posenet running iPhone X with 10% battery"
To get help from the community, we encourage using Stack Overflow and the [`tensorflow.js`](https://stackoverflow.com/questions/tagged/tensorflow.js) tag.

#### TensorFlow.js version

#### Browser version

#### Describe the problem or feature request

#### Code to reproduce the bug / link to feature request

[2019-03-13 08:45] emer7 opened #1373 "loadLayersModel is blocking the UI?"
#### TensorFlow.js version
0.15.3

#### Browser version
Chrome 72.0.3626.121

#### Describe the problem or feature request
UI is blocked (cannot click on anything) while loadLayersModel is executing despite wrapper in await

#### Code to reproduce the bug / link to feature request
nsfwjs.com

[2019-03-13 11:50] fredyagomez commented on #353
+1. I think this is really important if anybody wants to consume this not as final consumer but as vendor.
`import { tensor2d } from "@tensorflow/tfjs";` imports the whole library! 2.6MB.
I do see you already got some modules in the tfjs-core library using require. The problem is that tfjs just packed everything and become the main entry point. Just curious to know if using ES Modules could facili

[2019-03-13 12:04] batrlatom commented on #1360
Thanks for the responses.

Using `tensorflowjs_converter --version `gave me

But when I install tensorflow 1.12, it works. So I solved it by using a different virtual environment and converting it there. I think it is not needed to split resources to solve the problem now. Migrating
to tf r2.0 will be better.

[2019-03-13 12:04] #1360 closed

[2019-03-13 13:44] jamesmf commented on #755
I was experiencing this in the following scenario:
- train a model using `model.fit(..., callbacks=[ModelCheckpoint])`
- load the best model (not just the model weights) using `model = load_model(ckpt_path)`
- convert and save using `tfjs.converters.save_keras_model`

This might be obvious, but the issue was that in the call to `load_model` I was creating a whole new set of layers without removing

[2019-03-13 14:03] caisq commented on #1373
@emer7 Thanks for filing the issue. Can you tell us about the model you are loading, like what its size is, how many layers it consists of.

[2019-03-13 14:09] caisq opened #1374 "Start logging tfjs-layers browser benchmarks to Firebase"

[2019-03-13 14:09] caisq commented on #1374
cc @annxingyuan

[2019-03-13 14:21] annxingyuan commented on #1374
Hey @caisq - I'm going to close this as it is a duplicate of https://github.com/tensorflow/tfjs/issues/985

[2019-03-13 14:21] #1374 closed

[2019-03-13 14:40] #1363 closed

[2019-03-13 14:40] bileschi commented on #1363
This appears to be resolved, given that both have the same results now.  Curious that the new result is different from both previous results.  @nsthorat is this expected?

[2019-03-13 14:42] bileschi commented on #1364
One should not import both tfjs-node *and* tfjs-node-gpu.  Please use one or the other.

see for instance:
https://github.com/tensorflow/tfjs-examples/blob/77d802f07b19f022098820ba5093082e34a5ca5e/jena-weather/train-rnn.js#L91

[2019-03-13 15:02] bileschi commented on #1371
I was able to pip install tensorflowjs in a fresh venv on my machine just now -- my machine is linux box though.  I suspect this is an issue with installation in Windows 7 or Anaconda or both.

Next steps are that we should make sure that installation on a fresh windows system works

[2019-03-13 15:03] SanthoshRajendiran commented on #1255
Same issue pertains for the tflite conversion in V2.0. Any way identified to overcome the issue??

[2019-03-13 15:06] bileschi commented on #1372
@tafsiri Can you check that there has not been a regression with this model?
I was getting very slow frame rates on my workstation just now, but I haven't run this before.

https://storage.googleapis.com/tfjs-models/demos/posenet/camera.html

[2019-03-13 15:08] dsmilkov commented on #708
Reopening this due to the recent reports from our users.

[2019-03-13 15:18] tafsiri commented on #1372
@aligajani When you experienced this was the 'low power mode' option activated on the iphone?

cc @annxingyuan have you seen any regressions with posenet on iphone?

[2019-03-13 15:32] nsthorat commented on #1363
This fixed the issue: https://github.com/tensorflow/tfjs-core/pull/1610

We should update the example to 1.0.1 and this should go away.

[2019-03-13 15:37] caisq commented on #1255
@SanthoshRajendiran For tflite-related problems, please file issues at https://github.com/tensorflow/tensorflow/issues

For TensorFlow.js, we are considering adding a logic in our converter to take care of the wrong class names such as BatchNormalizationV1.

[2019-03-13 15:41] WenheLI commented on #1326
Is anyone still working on it? If no, I think I can help out. I have done some similar customized layer class before. It won't take long I believe

[2019-03-13 15:44] caisq commented on #1326
@arp95 are you still planning to work on this?

[2019-03-13 15:46] nsthorat commented on #346
This is fixed!

[2019-03-13 15:46] #346 closed

[2019-03-13 16:18] cagnulein commented on #1364
i'm not using them together, i said that import * as tf from '@tensorflow/tfjs-node'; creates the issue and even if i use import * as tf from '@tensorflow/tfjs-node-gpu'; i have the same issue.

[2019-03-13 16:36] #1092 closed

[2019-03-13 16:39] nkreeger commented on #708
@ericscottmarquez which version of CUDA do you have. We ship TensorFlow 1.12 (soon 1.13.1) and that only supports 9.x. CUDA 10 is not currently suppported.

[2019-03-13 16:56] nsthorat commented on #588
The error message is much better now as of https://github.com/tensorflow/tfjs-core/pull/1599

[2019-03-13 16:56] #588 closed

[2019-03-13 17:08] bileschi commented on #1364
Ah.  Sorry.  Misunderstood.

[2019-03-13 17:15] bileschi commented on #1364
Can you work with the tfjs-node examples from tfjs-examples?
For instance, can you build and run the jena-weather example here?
https://github.com/tensorflow/tfjs-examples/tree/master/jena-weather

[code]

[2019-03-13 17:20] #1320 closed

[2019-03-13 17:30] WenheLI commented on #1326
Hi, @caisq I have done a quick implementation for the GaussianNoise layer.  If it looks okay, I will implement the rest of the noise layer in the Keras and open a PR.

Thanks

[code]

[2019-03-13 18:44] wangtz opened #1375 "Model accessibility issues in China"
Currently for pre-tained models, the weights and model graph is not shipped with NPM and needs to fetched at runtime from GCS. However GCS is not available in China or very slow which hurts user experiences.

Do we have a plan to make pre-trained models available in China?
I would suggest to embed pre-trained weights in a fat NPM (probably new NPMs to avoid breaking existing use cases). But we cou

[2019-03-13 18:46] wangtz commented on #1375
@pyu10055 @nsthorat @dsmilkov @caisq @kangyizhang Any thoughts?

[2019-03-13 18:46] wangtz commented on #1375
@huan

[2019-03-13 19:50] dsmilkov commented on #894
I want to up the priority on this one. I just tested the latest tfjs-node (1.0.1) by installing `@tensorflow/tfjs-node@next` and I still get the following:
[code]

I think given the ubiquitous support of AVX and AVX2, we should ship our pre-compiled binaries with that optimization and benefit several times on performance.

[2019-03-13 19:53] nkreeger commented on #894
@dsmilkov yeah we should - however we're using TensorFlow hosted binaries now. We'll have to either update those build scripts or start rolling them again ourselves.

[2019-03-13 19:54] dsmilkov commented on #894
Happy to help. I think it's important to align with whatever Python does.

[2019-03-13 20:18] WenheLI commented on #1326
Hi, I have done an implementation about GaussianNoise and GaussianDropout here is my implementation https://github.com/WenheLI/tfjs-layers/commit/caeb9826cb713092c064ac82ec1e79ab9b1d53da.
If it looks fine, I think I can also take over the rest of the noise layer!

[2019-03-13 20:24] nsthorat opened #1376 "Create an example backend with a graph based backend."
In the future we might need to bind to graph based native APIs.

We should create an example repository where each kernel will add to a graph and only when you call `data()` we execute the graph.

The nuance here will be about shared computation, we will want to add a backend method / API for downloading multiple tensors together.

[2019-03-13 20:29] aligajani commented on #1372
Something is wrong. My battery is full now and the model doesn’t work on your original example. At 2 FPS, shows no pose estimated or key points.

[2019-03-13 21:29] ericscottmarquez commented on #708
Using 9x
[code]

[2019-03-13 21:31] pyu10055 opened #1377 "Make TF-Hub module conversion TF 2.0 compatible"
To get help from the community, we encourage using Stack Overflow and the [`tensorflow.js`](https://stackoverflow.com/questions/tagged/tensorflow.js) tag.

#### TensorFlow.js version
1.0.1
#### Browser version

#### Describe the problem or feature request
We are using tf.compat.v1 API for TF-Hub module conversion, we should migrate to TFHub latest API that eliminates the need for tf.compat.v1 api

[2019-03-13 21:31] dsmilkov opened #1378 "Update tf.data.csv API docs to emphasize the {xs, ys} when `isLabel: true`"
Our current tf.data.csv docs are out of sync. Under parameters --> csvConfig --> columnConfigs, it says

Update the jsdoc on `CSVConfig` and on `tf.data.csv()` to better explain the {xs, ys} if `isLabel:true` is set for one of the columns.

[2019-03-13 21:31] ericscottmarquez commented on #708
Is there an error dump or something that I could pull from somewhere to send you guys that could help?

[2019-03-13 21:32] dsmilkov commented on #1378
cc @nkreeger

[2019-03-14 01:17] huan commented on #1375
Yes, that's a problem and the developers will be very sad if it could not be solved.

For example, when we want to use the Google Chrome Puppeteer in China, what we expect the developer to do is a `npm install puppeteer` but it will fail eventually because after installing all the JS files from NPM server then it needs run a post-install script and wants to download the binary from the GCS storage

[2019-03-14 01:18] saravanabalagi commented on #1098
Any luck building v1.0.1 with GPU support?

I tried on
- Win 10 (10.0.17134)
- Python 2.7.13
- Node 8.12.0
- npm 6.4.1
- Build Tools 2017 (v15)

[code]

Also tried the same with Build Tools 2015 (v14), but I get the same error. All `tfjs-node` cpu versions are built without any errors.

`tfjs-node-gpu` builds **only if I force the version to `0.2.1`** and gives errors on other versions (`0.2.3`, )

[2019-03-14 01:41] startupgurukul opened #1379 "tfjs converter from pb file removed, how to transform graph now?"
Hi folks,  until now, one of the processes of creating a tf.js model has been to use the frozen pb file, prune unnecessary nodes with TF  graph_transform tool and then convert to tf.js.

Now that converting from pb is not supported in tf.js converter from 1.0(other than the pb2json way), can you enlighten us on how to accomplish the same now with 1.x? I know we can do the same, post-conversion by

[2019-03-14 01:43] nkreeger commented on #1098
Your system is not finding python2 - try the instructions here https://github.com/tensorflow/tfjs-node/blob/master/WINDOWS_TROUBLESHOOTING.md#missing-python2

[2019-03-14 01:50] nkreeger commented on #708
https://github.com/tensorflow/tensorflow/issues/15604

You need CUDA 9.0 right now - sorry for the confusion.

[2019-03-14 02:29] caisq commented on #1375
+1 for solving this for developers in China. Most of our tfjs-models actually download weights from GCS at runtime. So I'm not sure if the puppeteer workaround @huan pointed out would work here.

[2019-03-14 02:34] caisq opened #1380 "src/**/*_test.ts files cause ts-node error in unit tests of packages that depend on tfjs"
To get help from the community, we encourage using Stack Overflow and the [`tensorflow.js`](https://stackoverflow.com/questions/tagged/tensorflow.js) tag.

#### TensorFlow.js version
1.0.1

As a concrete example, see https://github.com/tensorflow/tfjs-models/pull/171
We would have to add the `https://github.com/tensorflow/tfjs-models/pull/171` patch command in order to prevent an error like the fo

[2019-03-14 03:29] chenqing commented on #622
What's the final conclusion? just use tfjs-node-cpu when face both CPU and GPU env?

[2019-03-14 03:32] caisq commented on #622
@nkreeger @chenqing This is not resolved yet. If you use tfjs-node-gpu naively on a CPU only environment without CUDA toolkit installed, the library will fall back all the way to the very slow JavaScript backend. We want it to fall back to the CPU backend...

[2019-03-14 03:34] chenqing commented on #1375
I think our company can Provide storage and CDN services in China . may accelerate this.

[2019-03-14 03:46] chenqing commented on #622
@caisq thx.
I think I may also create two packages one for CPU and one for GPU until the problem is solved.

[2019-03-14 07:31] Chrisvin opened #1381 "Model.fit doesn't train properly likely due to GL_INVALID_OPERATION error"
I followed the steps from "https://codelabs.developers.google.com/codelabs/tfjs-training-classfication/index.html?index=..%2F..index#0" to make CNN that can be used for digit recognition.

The model used to work, but it doesn't work now. Some sort of problem occurs during the model's training, the loss and accuracy values (shown using tensorflow/tfjs-vis) drop drastically and "[.WebGL-0000016FAEA3

[2019-03-14 07:32] cagnulein commented on #1364
argh, running jena-weather i encountered another issue :(

C:\Work\Tensorflow\Tensorflow.js\tfjs-examples\jena-weather>yarn train-rnn --gpu
yarn run v1.13.0
$ babel-node train-rnn.js --gpu
C:\Work\Tensorflow\Tensorflow.js\tfjs-examples\jena-weather\node_modules\babel-plugin-transform-runtime\lib\index.js:31
      this.setDynamic("regeneratorIdentifier", function () {
           ^

TypeError: this.

[2019-03-14 10:31] vbardiovskyg commented on #1377
TensorFlow Hub's new format is now indeed the SavedModel 2.0 built into core TF2. Some modules can be already loaded by tf.saved_model.load (example: https://tfhub.dev/google/tf2-preview/mobilenet_v2/classification/2). Far from all of the modules are converted however. We are hoping to have a more general solution soon: a loader that would load Hub 1.0 modules into TF2.

I will update the bug when

[2019-03-14 12:14] huan commented on #1375
@chenqing That would be great if the `npm.taobao.com/mirrors` could provide the CDN service for our tfjs models.

Do you know any stakeholders from `npm.taobao.com` who can make decisions on this issue? If you could introduce a key person for us, then we would be able to solve this issue easier.

[2019-03-14 14:00] caisq commented on #1381
@Chrisvin Thanks for reporting this issue.

What device are you using?What is your operating system and chrome version?

[2019-03-14 14:07] Chrisvin commented on #1381
Device - Dell Latitude 7490 (I have also checked on a Lenovo Yoga 720 which also had the same issues)
OS - Windows 10
Chrome - Version 72.0.3626.121 (Official Build) (64-bit)

[2019-03-14 14:08] caisq commented on #1381
@Chrisvin Just to cover the ground, have you tried restarting Chrome and/or rebooting system and see whether it resolves the problem?

[2019-03-14 14:09] Chrisvin commented on #1381
Yes, I've tried restarting chrome, clearing it's cache and rebooting the system.
The reason I tried on a different laptop was to try to figure out if it was a problem related to my system.

[2019-03-14 14:50] Chrisvin commented on #1381
@caisq Also, I have used the script tag as follows to use TensorFlow.js and tfjs-vis.

[code]
I have also tried using older versions as follows but it also results in the same issues,
[code]

[2019-03-14 15:22] caisq commented on #1255
@alvarouc This "improperly formatted..." error is related to another change in the serialization format that happened in tensorflow recently. cc @karmel @fchollet

We are in contact with them to determine what the best fixing approach is.

[2019-03-14 15:48] jvdgoltz opened #1382 "KeyError when using tensorflowjs-converter and ssd_mobilenet_v2 from tf/models/object-detection"
To get help from the community, we encourage using Stack Overflow and the [`tensorflow.js`](https://stackoverflow.com/questions/tagged/tensorflow.js) tag.

#### TensorFlow.js version
1.0.1

#### Browser version
We are using tfjs-node, but error occurs in tensorflowjs_converter.

#### Describe the problem
When using the latest tfjs-converter on a ssd-mobilenet detection model from the [object detec

[2019-03-14 15:52] tafsiri opened #1383 "Doc generator not expanding ts types in param lists"
#### TensorFlow.js version
tfjs-vis 1.0.2

#### Describe the problem or feature request
Not sure where we left this off, but should the doc generator expand `type`s? See HistogramOpts in screenshot below.

<img width="803" alt="Screen Shot 2019-03-14 at 11 47 51 AM" src="https://user-images.githubusercontent.com/26408/54371201-61484e00-464f-11e9-86bd-704fc220a670.png">

#### Code to reproduce the

[2019-03-14 16:32] ecounce commented on #1098
I suggest setting NODE_OPTIONS environment to increase memory limit.  I had success building tfjs-node v1.0.1 with GPU support on Windows 10/Build Tools 2015 using"NODE_OPTIONS=--max-old-space-size=4096"

[2019-03-14 17:13] pyu10055 commented on #1382
@jvdgoltz looks like the TF 2.0.alpha loader failed to load older saved model with control flow ops. While we are working on fixing this, you can still use the 0.8.0 converter, with --output_json=true flag, [README:](https://github.com/tensorflow/tfjs-converter/blob/0.8.x/README.json.md)
$ tensorflowjs_converter \
    --input_format=tf_saved_model \
    --output_node_names='MobilenetV1/Predictions

[2019-03-14 17:20] pyu10055 commented on #1379
@startupgurukul there are two ways to convert the frozen pb to work with the new loadGraphModel API:

1. If you have converted the frozen pb file previously, you can use the pb2json script to convert it to JSON format. details is in the FAQ section of the README file.

[code]

2. To convert the frozen pb file from scratch, you need to use the 0.8.0 tensorflowjs pip, and add --otuput-json=true to t

[2019-03-14 18:16] anujdutt9 opened #1384 "Model.Classify() gives GL_INVALID_OPERATION: Object cannot be used because it has not been generated."
To get help from the community, we encourage using Stack Overflow and the [`tensorflow.js`](https://stackoverflow.com/questions/tagged/tensorflow.js) tag.

#### TensorFlow.js version
1.0.0

#### Browser version
Google Chrome:  Version 73.0.3683.75 (Official Build) (64-bit)

### Describe the problem or feature request
I followed the steps from Google Codelab: https://codelabs.developers.google.com/

[2019-03-14 19:00] tafsiri commented on #1358
I believe this has been fixed. Thanks for reporting!

[2019-03-14 19:00] #1358 closed

[2019-03-14 19:01] tafsiri commented on #1333
Thanks @justingolden21 for your patience!

[2019-03-14 19:01] #1333 closed

[2019-03-14 19:03] #1133 closed

[2019-03-14 19:09] Chrisvin commented on #1381
@caisq Just to ensure that I'm not doing something dumb with my code, I've checked some of the [TensorFlow.js examples](https://github.com/tensorflow/tfjs-examples) and some of the examples don't work properly.

For example, the [MNIST example](https://storage.googleapis.com/tfjs-examples/mnist/dist/index.html) doesn't train properly and exhibits weird/unexpected behavior ('random' drops in accura

[2019-03-14 19:10] caisq commented on #1381
cc @dsmilkov @nsthorat for thoughts on the lower-level WebGL issue.

[2019-03-14 20:21] dsmilkov commented on #1310
We only host the 224 version since that was the only version that we ported using the TF.js Converter tool at that time (this was before TF Hub).

If you find the version you want on TF Hub, (e.g. [v2_050_160](https://tfhub.dev/google/imagenet/mobilenet_v2_050_160/classification/2)), you can load it like this:
[code]

[2019-03-14 20:21] #1310 closed

[2019-03-14 21:20] saravanabalagi commented on #1098
@nkreeger

But it seems it has found it after searching in `PATH`
[code]

I also made sure I can call python (python27) in cmd, is there anything else I need to do?

[2019-03-14 22:03] zugende commented on #1384
I came to this repo to open up an issue with exactly the same error message. In my project I am using tfjs 1.0.0, mobilenet 1.0.0 and knn 1.0.0 to classify images from a webcam stream. I can train for about 30sec before exactly the error from @anujdutt9 happens. Not sure if related but maybe it helps narrowing down the issue.

[2019-03-14 22:44] saravanabalagi commented on #1098
Noticed that in my previous message the error was `gyp` file was missing. In fact there was no `gyp` file in the directory `mnist-node` from examples. Is that the expected behaviour? Are all repos that use `tfjs-node-gpu` required to have a `gyp` bindings file?

[2019-03-14 22:46] GantMan commented on #1373
@emer7, it's an Inception v3  + a few more layers after flattening.  Quantized at 24meg model.

[2019-03-14 22:48] GantMan commented on #1373
The full source of the model is available here: https://github.com/GantMan/nsfw_model

[2019-03-14 22:49] saravanabalagi commented on #1098
So I tried `yarn` and `yarn enable-gpu` on the clone of this repo itself (which had the `gyp` file and the bindings). But even then I got `build failed error`. This time, I also tried adding `python2` to `PATH` in addition to `python` (both being v2.7.13). Again build failed at `MSBuild`: `msbuild.exe` from the windows build tools (2017/v15) that I installed.

I tried further with Build Tools 2015

[2019-03-14 23:18] kedevked opened #1385 "CosineProximity loss function throwing error"
To get help from the community, we encourage using Stack Overflow and the [`tensorflow.js`](https://stackoverflow.com/questions/tagged/tensorflow.js) tag.

#### TensorFlow.js version
1.0.1
#### Browser version
chrome 71
#### Describe the problem or feature request
Cosine proximity loss function is throwing a shape mismatch error
#### Code to reproduce the bug / link to feature request

[code]

[2019-03-14 23:38] #1378 closed

[2019-03-14 23:40] kevinrobinson commented on #1297
Hello @oveddan and @tylerzhu-github!  It seems like you have done the work here, based on the issue and commit history, so thanks for sharing this!  Perhaps you could share more about past work on these kinds of evaluation and accuracy questions?

To get started on this myself, I made something for young people or non-ML people to get an intuitive feel for this, and ask these kinds of questions th

[2019-03-15 00:07] startupgurukul commented on #1379
I kind of knew about both of them but thank you for the detailed steps, let me rephrase my question how do we graph pruning while using the tfjs 1.x converter, some way of providing two optional params             --input_arraysand --input_arrays

something similar to tflite converter
https://www.tensorflow.org/lite/convert/cmdline_examples

[2019-03-15 02:40] robertmarshii opened #1386 "84.5% Unused bytes with pre-trained model"
Is there a TFJS library that I can use for pre-trained model use only?

Trying to reduce the overheads on the client side.

[2019-03-15 04:42] chenqing commented on #1375
@huan I think what's your said is https://npm.taobao.org/mirrors .
I have talked width the maintainer. He promised to support it. The next question is what and how to synchronize.

[2019-03-15 05:56] aligajani opened #1387 "Feet keypoint overlapping when doing lunge movement on max setting"
To get help from the community, we encourage using Stack Overflow and the [`tensorflow.js`](https://stackoverflow.com/questions/tagged/tensorflow.js) tag.

#### TensorFlow.js version

Posenet

#### Browser version

Chrome 72 on Mac Sierra with Nvidia Geforce Mid 15" 2012

#### Describe the problem or feature request

![image](https://user-images.githubusercontent.com/1730778/54411312-d0bd4c80-46e6

[2019-03-15 06:07] aligajani commented on #1387
For some crazy reason, on Move Mirror this doesn't occur.

![image](https://user-images.githubusercontent.com/1730778/54411824-71603c00-46e8-11e9-9a33-c833431f3915.png)

What could be happening:

1. Either the PoseNet demo has problems with drawing key joints on canvas?
2. Either MoveMirror is using a better MobileNet model? (and framerate is great on it too).
3. Google, am I missing something?

@

[2019-03-15 06:09] aligajani commented on #1387
Don't judge my lunge abilities. I have tried to demonstrate the issues only. Haha.

[2019-03-15 06:12] wangtz commented on #1375
That'll be awesome. Thanks Chenqing.

The first one coming out of my mind is probably rsync if that works on GCS?

[2019-03-15 06:31] leemengtaiwan commented on #1235
@pyu10055

Cool! how can I use the fixed code to solve #1355? or maybe we should discuss there?

And I think this is not related to #1355 because th model referenced there (built natively from tf graph) is not the same as the model specified here (converted from an ONNX model).

[2019-03-15 07:30] aligajani opened #1388 "When can we have PoseNet model based on better datasets rather than COCO?"
A few that seem more sensible are (maybe for 2D/3D single/multi):

http://human-pose.mpi-inf.mpg.de/
http://vision.imar.ro/human3.6m/description.php
http://parnec.nuaa.edu.cn/xtan/data/MPHB.html
https://labicvl.github.io/APE.html

[2019-03-15 07:31] aligajani commented on #1388
Do we have any guidance on how we can augment current model using transfer learning?

[2019-03-15 07:43] aligajani commented on #1388
A cool paper which solves a lot of problems I highlighted in #1387

https://arxiv.org/abs/1901.01760

[2019-03-15 10:00] MSNarry opened #1389 "Training PoseNet in Python"
To get help from the community, we encourage using Stack Overflow and the [`tensorflow.js`](https://stackoverflow.com/questions/tagged/tensorflow.js) tag.

#### TensorFlow.js version
Posenet for python https://github.com/rwightman/posenet-python
#### Browser version

#### Describe the problem or feature request
I had been using the Pose-net implementation, instead of the js the python one, but I w

[2019-03-15 13:19] chenqing commented on #1349
Sounds great.

[2019-03-15 13:48] caisq commented on #1326
@arp95 didn't reply in 2 days. @WenheLI please feel free to take over. I saw your PR and will review it soon.

[2019-03-15 13:59] kaesve commented on #1385
I took a few minutes looking at this, and I think the issue is that `cosineProximity` actually isn't a loss function, but a metric (see https://js.tensorflow.org/api/latest/#metrics.cosineProximity ). Metrics aren't meant to be used as error functions and don't have to be differentiable, I think.

Instead of `cosineProximity` you can use `cosineDistance` like so:

[code]

You can't use it by name

[2019-03-15 14:12] nkreeger opened #1390 "Start shipping tfjs-node with prebuilt bindings (node-gyp-pre)"
To help with compilation problems on Windows, we should start shipping fully built versions for supported OS platforms using node-gyp-pre. This can be a feature that is rolled into our updated CI story as well (automated builds).

https://github.com/mapbox/node-pre-gyp

[2019-03-15 14:14] nkreeger commented on #1098
@saravanabalagi Sadly, the node-gyp build tool uses gyp which has had various issues (just search issues on that repo) keeping up with Visual Studio build tool updates. Chrome moved away from gyp to gn a couple of years ago. While there are efforts underway to help, it's probably best for us to start providing users with pre-built binaries (at least on Windows to start).

Please follow this issue:

[2019-03-15 14:46] bileschi commented on #1381
@dsmilkov : can you triage and assign this to the right person / priority?  Thanks.

[2019-03-15 14:48] bileschi commented on #1384
@dsmilkov Possibly related to #1381
Like that issue, this one is also Windows.

[2019-03-15 14:54] bileschi commented on #1385
Looks like this is a holdover from @keras-team/keras here:
https://keras.io/losses/

Agreed TFJS should have string-level access to cosineDistance loss.
It would need to be added here:
https://github.com/tensorflow/tfjs-layers/blob/1f32448ee4f0b15eccdbe45bbf4d259b5a4ef8d8/src/losses.ts#L305

[2019-03-15 14:55] bileschi commented on #1385
cc @caisq & @davidsoergel for opinion on whether this should be added.
It would also need to be added to the keras_format spec here:
https://github.com/tensorflow/tfjs-layers/blob/master/src/keras_format/loss_config.ts

[2019-03-15 14:57] bileschi commented on #1386
Is this about the bundle size of TFJS itself?

[2019-03-15 14:59] bileschi commented on #1387
cc @oveddan

[2019-03-15 15:07] nsthorat commented on #1381
Thanks for reporting this issue -- we're working on getting our windows machine up and running and will get back to you ASAP.

[2019-03-15 15:08] caisq commented on #1381
@Chrisvin Just a thought: what graphic(s) card do you have on your machine? Is it possible that there are two and switching to another one in your Windows settings might help?

@nsthorat @dsmilkov

[2019-03-15 15:19] Chrisvin commented on #1381
@caisq
The Dell Latitude 7490 has a Intel(R) UHD Graphics 620.
I can't check the Lenovo Yoga 720 atm, but I believe that it has a Intel HD Graphics 620.
So, no, there isn't two graphic cards. Besides, all of these examples and models used to work perfectly well, so I'm assuming that they were fully capable of handling the tasks, or am I misunderstanding something?

[2019-03-15 16:06] wangtz commented on #1375
@chenglu

[2019-03-15 16:17] SSaishruthi commented on #433
Working on it.

[2019-03-15 16:26] rstml commented on #433
@SSaishruthi Frankly, if OpenNSFW is the only reason for supporting those operations, you may reconsider it.

For everyone else requesting this:

OpenNSFW has not been updated since its announcement in 2016. There are now alternative models which you can use.

We trained our alternative, MobileNetV2 based model which you can find here: https://github.com/purify-ai/geacc-models
TFJS example using t

[2019-03-15 16:40] pyu10055 commented on #1375
Thanks @chenqing and @huan for the suggestion, as @caisq mentioned, our model npms do not have a post install script to download model files from gcs, and people can use jsdelivr directly on their pages, which will download the model files on the fly. Feels like the better way is to mirror GCS bucket, but not sure if that is possible.

[2019-03-15 16:46] pyu10055 commented on #1379
@startupgurukul in tfjs 1.x converter the graph pruning is done automatically for SavedModel, since SavedModel has signatureDef that specifies the input/output nodes.

For converting frozen graph models, the best option is to use 0.15.x converter with --output_json flag, it generates 1.x compatible JSON web models.

[2019-03-15 16:48] pyu10055 commented on #1355
@leemengtaiwan I will close this issue, since you have a stackoverflow thread for this already.
https://stackoverflow.com/questions/54675163/cant-predict-using-loaded-frozenmodel/54676812#54676812

[2019-03-15 17:04] chenglu commented on #1375
thanks @wangtz,
I was wondering if we could try the feature of "mirror storage"--镜像存储 that alioss or qiniu provided for unblocking the tfjs-models bucket?
e.g.
http://tfjs.oss-cn-hongkong.aliyuncs.com/tfjs-models/weights/posenet/mobilenet_v1_075/MobilenetV1_Conv2d_8_pointwise_biases

[2019-03-15 17:14] kangyizhang opened #1391 "Remove usage of `import xxx from '@tensorflow/tfjs-core/dist/xxx';` in tfjs-data"
Currently some un-exported data types are being used in tfjs-data through `import xxx from '@tensorflow/tfjs-core/dist/xxx';`. Such as https://github.com/tensorflow/tfjs-data/blob/70541295906315d0e74ff7de0d07d87991fc9f6c/src/util/deep_map.ts#L20

This kind of import should be replaced by regular export in `tfjs-cored` and using `import xxx from '@tensorflow/tfjs-core'` in tfjs-data.

[2019-03-15 17:14] FremyCompany commented on #1385
Hey, I just wanted to point out that the function already exists but is incorrectly implemented. I fixed this issue by myself now, and that the fix can be merged via https://github.com/tensorflow/tfjs-layers/pull/499

[2019-03-15 17:22] kangyizhang commented on #1391
cc @pyu10055 @davidsoergel @dsmilkov

[2019-03-15 18:32] nsthorat commented on #1383
Currently we don't automatically unpack types. You can use one of the following right now if you want to fix this:

Just take the type and put the string value in the docs:
[code]

Alias the type as something else:
[code]

[2019-03-15 18:35] dsmilkov commented on #1391
Thanks for taking this on! If some of the types are not exported by core, feel free to send a PR on core.

[2019-03-15 19:15] chenglu commented on #1375
I just tried out the normal reverse host proxy solution at storage.tensorflow.js.cn, and tfjs-example at tensorflow.js.cn/tfjs-examples, will let you know when it's ready for preview, any thoughts?

[2019-03-15 19:59] robertmarshii commented on #1386
That is correct. I have attempted to remove the training/etc code, but once minified the size is only slightly smaller than the official bundle.

[2019-03-15 20:02] DarkNavrel opened #1392 "Import treined models object detection on tensorflow python to tfjs"
Tensorflow.js Object Detection
Hello everyone, I'm starting now in tfjs but I already had a familiarity with the Tensorflow framework since version 0.9 for python, my question is: what is the simplest way to import a trained model with Tensorflow Python to one that can be used in tfjs? I have already converted frozen_graph.pb and got a folder with the model.json, weights and 7 binary files. In the

[2019-03-15 20:17] bileschi commented on #1386
Sounds like this is related to the request for tree-shaking.  Is that the case?
https://github.com/tensorflow/tfjs/issues/353

[2019-03-15 21:04] #1255 closed

[2019-03-15 21:10] #1190 closed

[2019-03-15 21:12] rthadur commented on #997
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-03-15 21:12] #997 closed

[2019-03-15 21:24] tafsiri commented on #1392
Have you tried the steps here https://www.tensorflow.org/js/tutorials/conversion/import_saved_model? (in particular step 2 on that page).

Let us know if you run into any trouble.

[2019-03-15 21:35] DarkNavrel commented on #1392
Yes, I did exactly as described in:

tensorflowjs_converter \
     --input_format = tf_frozen_model \
     --output_names = 'Softmax' \ * Softmax was my output layer
     /mobilenet/frozen_model.pb \
     / mobilenet / web_model

And I got a folder exactly with the 9 files:
group1-shard1of7 ...
group1-shard7of7
tensorflowjs_model.pb
weights_manifest.json

I did not get the model.json file in the c

[2019-03-15 22:39] randomsock opened #1393 "tf.data.csv leaves trailing <CR> when reading Windows/DOS format files"
#### TensorFlow.js version
0.14.2

#### Browser version
Chrome 72.0

#### Describe the problem or feature request
When reading a CSV file created on Windows with default `<CR><LF>` line endings, `tf.data.csv()` leaves a trailing `<CR>` on the last column header.  If that is your label column, eg "y", then the `columnConfigs.y.isLabel` check fails because the actual column header parsed is "y`<CR>`

[2019-03-16 03:09] robertmarshii commented on #1386
That correct Bileschi. However, I am not restricted by any third-party size, this is purely motivated by improving loading speeds for clients in the browser. Does a tf-lite version exist for javascript?

[2019-03-16 04:05] leemengtaiwan commented on #1355
@pyu10055 thanks for your work and response!

I think the issue that should be closed is #1235 (and not this one) since that issue use the same model as the stackoverflow thread, while the model used in this issue (#1355) is completely different.

And as far as I know, this issue (predict running forever) can only be solved by your PR: https://github.com/tensorflow/tfjs-core/pull/1622

And since i

[2019-03-16 06:18] jeremy-kothe commented on #1121
v0.3.1 contains the following, which surprisingly enough doesn't compile well...

    copyModel: typeof import("../../../../../Users/kreeger/workspace/tfjs-node/node_modules/@tensorflow/tfjs-core/dist/io/model_management").copyModel;
    listModels: typeof import("../../../../../Users/kreeger/workspace/tfjs-node/node_modules/@tensorflow/tfjs-core/dist/io/model_management").listModels;
    moveMode

[2019-03-16 10:55] startupgurukul commented on #1379
ok thank you

[2019-03-16 10:55] #1379 closed

[2019-03-16 11:04] m4nuC opened #1394 "coco-ssd: using a custom base"
Coco-ssd API allow to select a base for the classification model. https://github.com/tensorflow/tfjs-models/tree/master/coco-ssd

Is there support plan for using custom classifier ?

If not, would it make sense to work on this ? I am happy to contribute.

Thanks

[2019-03-16 14:26] Gurpreetsingh9465 commented on #467
@nsthorat sir, i am trying to implement linalgebra module in typescript.

these are some of the functions i decided to put in this module. sir, can you suggest some additional functions or these are enough.
1. linalg.cholesky(a)
2. linalg.svd(a[,full_matrices,compute_uv])
3. linalg.eig(a)
4. linalg.eigvals(a)
5. linalg.norm(x[,ord,axis,keepdims])
6. linalg.cond(x[,p])
7. linalg.det(a)
8. linalg.ma

[2019-03-16 16:33] huan commented on #1341
Today I also have to use this to allow a dynamic input length:

https://github.com/huan/javascript-concise-chitchat/blob/ec37fcadee0f081c9d65bebbaace9e5c808164e9/src/model/encoder-model.ts#L17-L22

[2019-03-16 17:50] DJCordhose opened #1395 "tf.data does not work in Edge Browser"
#### TensorFlow.js version

1.0.1

#### Browser version

Windows 10, Edge 44.17763.1.0

#### Describe the problem or feature request

loading data using tf.data does not work, since

https://github.com/tensorflow/tfjs-data/blob/master/src/iterators/byte_chunk_iterator.ts#L96

uses

https://developer.mozilla.org/en-US/docs/Web/API/TextDecoder

which is not supported in Edge.

#### Code to reproduce

[2019-03-16 19:36] Ivikassingh commented on #266
you can try webpack to import the cdn of tensorflowjs in Reactnative

[2019-03-17 07:32] parthi2929 commented on #1337
@Cha-Dahee  are you not getting a tf.fromPixels method changed warning with that version?? what is your work around? after 0.2.3, posenet has 1.0.0 directly

[2019-03-17 20:53] alex77t opened #1396 "converting pb models for tfjs1.0.0"
I've tried to convert pretrained model from here - http://download.tensorflow.org/models/deeplabv3_mnv2_pascal_trainval_2018_01_29.tar.gz

using both approaches as described in #1379 , however in both cases when i try to load the model in the browser i;m getting the error below.

Uncaught (in promise) Error: Based on the provided shape, [1,1,320,256], the tensor should have 81920 values but has 22

[2019-03-17 21:48] gabrielglbh commented on #272
Well, after trying for 2 weeks with different versions of tfjs-node and tfjs, loading a model from the local folder of assets, it is not compatible with ionic & angular.

Latest version I've tried:

- tfjs -- 1.0.0
- tfjs-node -- 1.0.1

The error I am getting on my device when trying to load up the model is:
`Based on the provided shape, [3,3,32,32], the tensor should have 9216 values but has 1119

[2019-03-18 09:26] Scooling opened #1397 "How to make localhost:1234 running on my own computer work on my colleague's machine"
Dear developer:
Now i can run postnet  code in my own computer ,but when i give the http://ip:1234 to my colleague,they can access the web,but show "this browser does not support video capture,or this device does not have a camera" .what should i do?

[2019-03-18 09:38] vanbasten17 opened #1398 "Error: Cannot compute gradient: gradient function not found for onesLike."
#### TensorFlow.js version
@tensorflow/tfjs: 1.0.1
@tensorflow/tfjs-node: 1.0.1

#### Browser version
NodeJS  (v8.15.1)

#### Describe the problem or feature request
After upgrading from tfjs (v 0.15.3) and tfjs-node (v 0.3.2) to the latest release, I am not able to fit the previously working model anymore.

UnhandledPromiseRejectionWarning: Error: Cannot compute gradient: gradient function not fo

[2019-03-18 12:18] alex77t commented on #1397
the easiest way probably would be to run ngrok on your machine - it would give you temporary HTTPS URL your colleague would need to be able to access webcam on mobile device

[2019-03-18 14:13] bileschi commented on #1386
Unfortunately we do not have a deployable bundle with reduced functionality, unless you are able to use just tfjs-core, as you mentioned in #353.  Still, there is likely to be much in core that you are not using.  Ideally we would like to be able to prune the bundle to just the functionality used by the application.  At this point we do not have a general solution pattern to this problem.  Your co

[2019-03-18 14:24] josei opened #1399 "Document Layer.apply() kwargs options"
#### TensorFlow.js version
tfjs-core-0.15.2

#### Browser version
N/A

#### Describe the problem or feature request
When building a Layers model with a preLU, reLU, or leakyReLU layer, optimizing using the core API throws an error.

#### Code to reproduce the bug / link to feature request

Here's the code that builds a simple Layers model with an activation function. Using ELU as activation functi

[2019-03-18 14:34] chenqing commented on #1375
I think so .

[2019-03-18 14:46] bileschi commented on #1304
https://github.com/tensorflow/tfjs-core/pull/1630

[2019-03-18 15:22] dsmilkov commented on #1384
@zugende Are you also on Windows? Can you share basic info about the computer (model, GPU card, windows version). Thanks!

[2019-03-18 15:27] dsmilkov commented on #1381
Hi @Chrisvin , we are waiting for a windows machine to arrive so we can reproduce this problem.

In the meantime, since you mentioned that *this used to work*, if you can test and find the latest version of tf.js that makes your demo work (0.15.3, 0.15.2, 0.15.1, 0.15.0, 0.14.2,...?), that would be very helpful to us. Thank you!

[2019-03-18 15:30] dsmilkov opened #1400 "WebGL Windows problems"
I'm creating a mega issue to track all the issues related to WebGL+Windows.

- ~~https://github.com/tensorflow/tfjs/issues/1384~~
- ~~https://github.com/tensorflow/tfjs/issues/1381~~
- ~~https://github.com/tensorflow/tfjs/issues/1337~~
- https://github.com/tensorflow/tfjs/issues/510
- ~~https://github.com/justadudewhohacks/face-api.js/issues/43~~
- ~~https://github.com/tensorflow/tfjs/issues/345~~

[2019-03-18 15:45] dsmilkov commented on #1388
Marked this issue as "discussion". cc @oveddan, @tylerzhu-github who have more background on this topic.

[2019-03-18 15:51] dsmilkov commented on #1235
Thanks for your patiance @leemengtaiwan and the invaluable feedback. I'm going to clone https://github.com/leemengtaiwan/tfjs-debug and investigate today.

In the meantime, what issues are you running when installing the 1.0 converter ?

[2019-03-18 16:08] dsmilkov commented on #1355
Hi,

If you are short on time, you can produce a custom tfjs bundle with that PR and test to see that it fixes your problem.

- checkout the [strided_slice_fix](https://github.com/tensorflow/tfjs-core/tree/strided_slice_fix) branch from tfjs-core)
- yarn && yarn publish-local
- checkout the https://github.com/tensorflow/tfjs "union" repo
- yarn && yarn link-local @tensorflow/tfjs-core && yarn roll

[2019-03-18 16:42] #1304 closed

[2019-03-18 18:06] dsmilkov commented on #1235
I got your example working. I just sent https://github.com/tensorflow/tfjs-core/pull/1632 to fix the shader compiler error.

Note that this fix is going into the 1.x (master) branch.

The best for you is to migrate your model to 1.x (which uses the JSON format). If you can't do that yet, you'll have to manually merge the changes in https://github.com/tensorflow/tfjs-core/pull/1632 (2 lines of code

[2019-03-18 18:24] nsthorat opened #1402 "Write a TSLint rule to disallow importing from '@tensorflow/tfjs-core/dist'"
This is bad practice since moving files around in core should not break the external API. If you need something, either export it from core, or redefine it in the dependent package.

Related to https://github.com/tensorflow/tfjs/issues/1391

[2019-03-18 18:26] nsthorat opened #1403 "Migrate builds / CI to travis-ci.com"
travis-ci.com provides better support than travis-ci.org. This may improve our build and queue time.

[2019-03-18 18:37] nsthorat commented on #1274
@NiNJAD3vel0per are you still seeing this error? Could you make sure you remove node_modules and re-install?

[2019-03-18 18:42] nsthorat commented on #1348
This is done now.

[2019-03-18 18:42] #1348 closed

[2019-03-18 18:47] nsthorat opened #1404 "Convert the tfjs-converter command line tool to a CLI interface."
Currently when running the tfjs-converter tool, you have to parse a massive table of specification to determine which flags to use.

Instead, we should offer an interactive command line tool that will guide you through the process of conversion. This tool can auto-detect the input format, for example, so the user doesn't have to define it themself.

[2019-03-18 18:51] huan commented on #1348
Cheers!

[2019-03-18 19:17] annxingyuan opened #1405 "Make tfjs models benchmarks hermetic."
Mock `loadWeights` so we don't actually make network requests to GCP for model assets in benchmarks.

[2019-03-18 19:20] annxingyuan opened #1406 "Add tests for model correctness to tfjs."
Add correctness tests to `tfjs/src/index_test` for mobilenet (hit tfHub endpoints), and as part of tfjs-core integration tests, also check out tfjs and run tests.

[2019-03-18 19:25] nsthorat commented on #1315
This one unfortunately might be a little involved so I'm going to take off the good first issue tag :)

[2019-03-18 19:30] nsthorat opened #1407 "Convert the release notes script to a CLI."
The release notes script should be a CLI tool that asks you for union package version information, tfjs-node package information, etc.

[2019-03-18 19:40] dsmilkov commented on #1403
Update: travis-ci.com requires **full write access** to all our repos which is a blocker. Will contact the Travis team. If they can't remove that, we have to look for alternatives (Cloud Build, CircleCI etc)

[2019-03-18 19:57] nsthorat opened #1408 "Some TF Hub modules are not converted."
We should either convert them all, or throw a better error message if the request fails when that bit is set.

Here is some code that fails:
[code]

[2019-03-18 20:09] #1235 closed

[2019-03-18 20:30] nsthorat opened #1409 "Improve error messaging for input_format=tf_session_bundle"
We don't support input_format=tf_session_bundle in the converter. However, it shows up in one of the arguments of the tool as a supported input, and when you specify it it will only say "invalid input / output pair format tf_session_bundle - None".

We should provide a better error message.

Ideally, we fix this all [with a CLI interface](https://github.com/tensorflow/tfjs/issues/1407), but if tha

[2019-03-18 20:38] davidsoergel commented on #1082
There was good progress on the tfjs-core part of this in tensorflow/tfjs-core#1404; that PR is semi-abandoned for lack of time but I hope to revive it at some point.

[2019-03-18 20:58] caisq opened #1410 "tfjs-node: explore options to speed up tensor creation from TypedArrays"
To get help from the community, we encourage using Stack Overflow and the [`tensorflow.js`](https://stackoverflow.com/questions/tagged/tensorflow.js) tag.

#### TensorFlow.js version
tfjs-node 0.3.x+

See discussion https://groups.google.com/a/tensorflow.org/forum/#!topic/tfjs/CVYBwBRdUZg

Tensor creation in tfjs-node is slower compared to TensorFlow (python). This probably has to do with the memc

[2019-03-18 20:58] caisq commented on #1410
cc @nkreeger

[2019-03-18 21:19] pyu10055 commented on #1394
No plan for supporting custom classifier at this moment.
Since the model has some post processing done in javascript, the custom classifier would need to have similar model topology.
Do you have any custom classifiers you are planning to use?

[2019-03-18 23:52] davidsoergel commented on #1397
Yep, Chrome won't allow access to the webcam for pages served via HTTP (https://sites.google.com/a/chromium.org/dev/Home/chromium-security/deprecating-powerful-features-on-insecure-origins).  So @alex77t is right that serving over HTTPS should resolve that.

Another option is to try Safari or Firefox-- I *think* those don't currently impose that restriction.

[2019-03-18 23:52] #1397 closed

[2019-03-18 23:53] leemengtaiwan commented on #1235
@dsmilkov thanks for your work!

Sorry for commenting on closed issue, one last thing to confirm.

I had successfully converted the pb model to json model using `pb2json_converter.js`:

[code]

And changed to 1.x compatible api call in `index.html` (using the latest tfjs version as before):
[code]

The error persist but I guess this will be solved as new patch released (which include #1632) just a

[2019-03-19 00:10] dsmilkov commented on #1235
No worries. Glad you were able to convert.  I'm uploading a custom tf.(min).js with the fix included, so you don't have to wait for the next release. Let me know if you run into other issues.

[tfjs-custom.zip](https://github.com/tensorflow/tfjs/files/2980961/tfjs-custom.zip)

[2019-03-19 00:21] pyu10055 commented on #1396
@alex77t I have tried the converted model, it runs fine on my desktop.
Can you share your code that makes the prediction?
My input tensor is an image tensor of shape [1, 224, 224, 3].

[2019-03-19 00:35] alex77t commented on #1396
<script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@1.0.0"></script>
  <script type="module">
     const MOBILENET_MODEL_PATH ='models/webtf/model.json';
     const runIt = async () =>{
        await tf.loadGraphModel(MOBILENET_MODEL_PATH);
       }
    runIt();
</script>

in my model.json i'm indeed seeing references to 1,1,320,256  - i tried with version 0.8.0 on both ubuntu and windows 1

[2019-03-19 00:39] pyu10055 commented on #1396
What is inside you runIt() method?

The first node of the graph is a constant node, which is not the input node.
The input node should be the node with Placeholder op:

{"attr": {"dtype": {"type": "DT_UINT8"}, "shape": {"shape": {"dim": [{"size": "1"}, {"size": "-1"}, {"size": "-1"}, {"size": "3"}    ]}}}, "name": "ImageTensor", "op": "Placeholder"}

[2019-03-19 00:46] alex77t commented on #1396
const runIt = async () =>{ await tf.loadGraphModel(MOBILENET_MODEL_PATH); }

only the call to the tf.loadGraphModel method.

Is it possible to post model.json you have got? I:m attaching mine...

[model.zip](https://github.com/tensorflow/tfjs/files/2981015/model.zip)

[2019-03-19 01:19] leemengtaiwan commented on #1355
@dsmilkov thanks for the detailed step!

I managed to build the tfjs bundle using fix in [strided_slice_fix](https://github.com/tensorflow/tfjs-core/tree/strided_slice_fix) by following the steps you provided and found another issue.

I copied the whole `dist` folder (which include `tf.js`) from `tfjs` repo to `tfjs-debug-2` repo like this:

![image](https://user-images.githubusercontent.com/34549

[2019-03-19 03:06] davidsoergel opened #1411 "model.predict(), execute(), apply(), call(), infer(), and classify()."
I think it is unclear to users how they should choose between `model.predict()` and `model.execute()`.  The docstrings are too similar to understand the differences.  The main distinction seems to be that `predict()` can provide batching, while `execute()` allows requesting intermediate Tensors.  These are orthogonal concerns, and beyond those the functionality is so similar that perhaps these met

[2019-03-19 03:29] davidsoergel commented on #1399
Confirmed in tfjs 1.0.0 (in the browser, so this is not specific to node).

@dsmilkov, might the tensors disposed issues already be addressed in tensorflow/tfjs-core/pull/1604?

Also, this seems possibly related: https://stackoverflow.com/questions/55151317/why-do-i-receive-the-error-tensor-is-disposed-when-using-tf-grad-to-implemen.

[2019-03-19 03:36] davidsoergel commented on #1389
Similar to #1388, IIUC.  cc @oveddan, @tylerzhu-github

[2019-03-19 03:40] davidsoergel commented on #1386
Closing as dup of #353.

[2019-03-19 03:40] #1386 closed

[2019-03-19 03:48] caisq commented on #1399
@josei This should fix your problem: `model.apply(xs, {'training': true})`. I.e., adding the training kwarg with  value `true`.

[2019-03-19 04:04] davidsoergel commented on #1385
The confusion here is that tfjs-core provides some 'losses' (but no 'metrics' per se), and tfjs-layers provides a partly-overlapping set of 'losses' and 'metrics'.  Only the tfjs-layers ones are expected to be referenceable by string names such as `cosineProximity`.  The allowed names are defined by the Keras API (e.g., https://keras.io/losses/).  Many of the tfjs-core losses are actually metrics

[2019-03-19 04:04] #1385 closed

[2019-03-19 04:42] davidsoergel commented on #1399
Thanks @caisq!  That led to the answer to the linked SO post, too.

It seems we should document the available `kwargs` at https://js.tensorflow.org/api/latest/#tf.layers.Layer.apply.  The docstring refers to `call()`, which is not part of the documented API.

[2019-03-19 04:52] davidsoergel commented on #1337
I wonder if this is related to the various Windows WebGL issues: https://github.com/tensorflow/tfjs/issues/1400

Here the same error appears but specifically in MS Edge: https://stackoverflow.com/questions/55188619/ms-edge-script5022-failed-to-link-vertex-and-fragment-shaders

[2019-03-19 07:11] gbobeff opened #1412 "Gesture Classification Web App (many bugs on JS code)"
- index.js : function loadModel does not exist
line **32** `const mobilenet = await tf.loadModel(
`
i replaced it for `loadLayersModel` as the only function with a similar name
`const mobilenet = await tf.loadLayersModel(`

- ui.js : two missing carry return
line **151** `} ui.donePredicting =`
replaced by
`}`
`ui.donePredicting =`
line **181** `} let mouseDown = false;`
replaced by
`}`
`let mouse

[2019-03-19 07:19] chenqing commented on #1375
@wangtz @huan @caisq  https://cnpmjs.org/mirrors/tfjs-models/  has sync ok.  and will automatic synchronization when update.

I think may mention this in some parts of the document?

[2019-03-19 11:36] m4nuC commented on #1394
I am planing on using a pre-trained mobile net but retrained with a different set of classes.

What type of preprocessing would be needed ? For my use case it's OK to use javascript to do the pre processing.

[2019-03-19 12:16] nsthorat commented on #1408
We should do both, but short term let's get a better error message in when fromTfHub: true is set.

Here is the original PR that improved error messaging: https://github.com/tensorflow/tfjs-core/pull/1599

[2019-03-19 13:46] loretoparisi opened #1413 "Property 'loadLayersModel' does not exist on type 'typeof import"
To get help from the community, we encourage using Stack Overflow and the [`tensorflow.js`](https://stackoverflow.com/questions/tagged/tensorflow.js) tag.

#### TensorFlow.js version
`^0.1.17`
#### Browser version
`Node.js`
#### Describe the problem or feature request
I get an error on `npm install`

[code]
#### Code to reproduce the bug / link to feature request

[code]

My `package.json` is

[co

[2019-03-19 14:04] loretoparisi opened #1414 "Error: When running in node, pixels must be an HTMLCanvasElement like the one returned by the `canvas` npm package"
To get help from the community, we encourage using Stack Overflow and the [`tensorflow.js`](https://stackoverflow.com/questions/tagged/tensorflow.js) tag.

#### TensorFlow.js version
latest version in package.json

#### Browser version
node.js

#### Describe the problem or feature request
I get this error whe calling ` tf.browser.fromPixels`

#### Code to reproduce the bug / link to feature reques

[2019-03-19 14:04] loretoparisi commented on #1413
Solved using

[code]

[2019-03-19 14:04] #1413 closed

[2019-03-19 14:05] loretoparisi commented on #594
@nsthorat could this happens in some other cases? https://github.com/tensorflow/tfjs/issues/1414

[2019-03-19 14:25] nsthorat commented on #1414
Hi @loretoparisi, in this case what type of object is `img` that you're passing to tf.browser.fromPixels?

[2019-03-19 14:26] davidsoergel opened #1415 "Can't use tfjs-vis in a React app due to Preact typings collision"
Depending on tfjs-vis from our React app causes trouble.  We use @types/react, but tfjs-vis uses preact, which provides colliding global JSX definitions.

The problem started with tfjs-vis 0.5.1 (and persists in 1.0.x).  I don't understand why things worked with tfjs-vis 0.5.0; still trying to pin down any relevant difference.

Some background on the issue:
https://github.com/developit/preact/issu

[2019-03-19 14:28] nsthorat opened #1416 "Support tf.node.decodeImage."
This should be a binding to https://www.tensorflow.org/api_docs/python/tf/io/decode_image

We've had many issues talking about lack of support for reading images in Node.js, we should prioritize this.

https://github.com/tensorflow/tfjs/issues/1414
https://github.com/tensorflow/tfjs/issues/594

[2019-03-19 14:33] loretoparisi commented on #1414
@nsthorat so I have loaded the image from a file, it is a jpeg, and I have passed it as discussed in the forums with Daniel, using the `canvas` package like

[code]

[2019-03-19 14:44] nsthorat commented on #1414
I think the issue is you need to pass a canvas object to tf.browser.fromPixels, but you are passing an `Image` object. If you look at the node-canvas documentation you can draw the image to the canvas with:

[code]

[2019-03-19 14:52] loretoparisi commented on #1414
@nsthorat and ... we are done!!!
model loaded.
image loaded.
[code]

So code was
[code]

[2019-03-19 14:54] dsmilkov commented on #1399
@caisq Does Python Keras have `training=true` as an argument when calling a layer functionally, or is this specific to TF.js? If specific to TF.js, curious when did this option to `apply()` got added? Thanks!

[2019-03-19 15:04] dsmilkov commented on #1399
I just manually verified that this is fixed in https://github.com/tensorflow/tfjs-core/pull/1604 which will come in the next release `1.0.2` by end of week.

This means you don't need to pass `{training: true}` in the next release.

Thanks for the feedback and the great reproduction @josei !

[2019-03-19 15:04] #1399 closed

[2019-03-19 15:34] loretoparisi commented on #1414
@nsthorat yes having `tf.node.decodeImage()` would be the best solution. I assume you can work on byte arrays in Node.js rather than `Canvas`. Node-canvas uses `Cairo`, that requires `node-gyp`, so it could be better to have everything within TFJS.

[2019-03-19 15:34] #1414 closed

[2019-03-19 15:40] nsthorat commented on #1414
+1 we will prioritize it, it should be pretty simple!

[2019-03-19 15:47] tafsiri commented on #1415
Updating issue after convo with David. Workaround is to delete preact.d.ts in node_modules/preact/dist and node_modules/preact/src

I suspect the preact 8.* typings are just incompatible with react 16s latest typings. But can dig deeper when I get a chance. Either way preact typings should not be relevant for consumers of tfjs-vis.

[2019-03-19 15:49] tafsiri commented on #1412
Hi @gbobeff could you give us the link to where you saw this code? We've updated our examples recently but maybe we missed some.

[2019-03-19 15:56] gbobeff commented on #1412
Hi @tafsiri ,
here you are the links to concerned source code
* [index.js](https://github.com/tensorflow/examples/blob/master/lite/examples/gesture_classification/web/index.js)
* [ui.js](https://github.com/tensorflow/examples/blob/master/lite/examples/gesture_classification/web/ui.js)
* [webcam.js](https://github.com/tensorflow/examples/blob/master/lite/examples/gesture_classification/web/webcam.j

[2019-03-19 16:01] tafsiri commented on #1207
The custom IOHandler section of [this guide](https://www.tensorflow.org/js/guide/save_load) might be the easiest place to resolve this.

[2019-03-19 16:10] tafsiri commented on #1315
related to #680 #1171

[2019-03-19 16:42] davidsoergel commented on #1353
And similarly for `take()` and all the rest :)

[2019-03-19 17:34] tafsiri opened #1417 "Remove deprecated code/templates from website and merge docs branch into master."

[2019-03-19 17:36] tafsiri opened #1418 "Update PoseNet readme to give guidance on training/fine tuning options."
We have a number of questions on this and could do some reasearch into what the options are for folks using the pre-trained model who want to adapt it in some way (even if the answer is that there isn't a way to fine tune it/retrain it).

[2019-03-19 17:38] tafsiri opened #1419 "Improve param rendering on api_vis page"
Either by unpacking interfaces in code or investigating doc generator approaches.

[2019-03-19 17:54] tafsiri commented on #1412
Thanks @gbobeff, it looks like there is a pending fix for it here https://github.com/tensorflow/examples/pull/30/files it should be reviewed and merged soon.

[2019-03-19 17:56] Chrisvin commented on #1381
@caisq @nsthorat @nsthorat
The TensorFlow.js examples and my projects have started working properly again. So, I guess this issue can be closed now.
Thanks for the quick replies and support guys.

[2019-03-19 17:59] tafsiri opened #1420 "Validate params such as surfaces/containers"
and show friendlier error messages.

[2019-03-19 18:27] loretoparisi opened #1421 "Tensorflow Node.js and Java Bindings"
#### TensorFlow.js version
1.13.1

#### Browser version
Node.js

#### Describe the problem or feature request
Conflicts between Tensorflow Java and JavaScript bindings.
In my project I'm running Tensorflow Java bindings (because it existed before TF.JS bindings).
It seems that as soon as I load the Node.js bindings, the Java bindings will fail to load:

In `@tensorflow/tfjs-node/deps/lib` I have t

[2019-03-19 18:45] huan commented on #1375
@chenqing awesome, good job!

[2019-03-19 18:58] alexellis commented on #1162
I'm trying to use the 'toxicity' model with Node.js 10 and am receiving this error:

[code]

Can someone advise?

[code]

[2019-03-19 18:59] alexellis commented on #1162
@tafsiri FYI your link is giving 404 for me

[2019-03-19 19:39] oveddan opened #1422 "Coral edge tpu bindings for tf.js"
I'm not sure if this is possible, but:

[the current starter code](http://storage.googleapis.com/cloud-iot-edge-pretrained-models/edgetpu_api.tar.gz) for the Coral edge board on Raspberry Pi contains python bindings for the c++ edge tpu engine.  Would it be possible to create tf.js node bindings as well?  It would be awesome to be able to use javascript for this, especially because of its non-bloc

[2019-03-19 19:40] nsthorat commented on #653
Tensor.get() is deprecated.

[2019-03-19 19:40] #653 closed

[2019-03-19 19:41] oveddan commented on #1418
+1.  It would be great to let people train their own PoseNet models.  I get emails almost weekly about this.

[2019-03-19 19:50] nsthorat opened #1423 "Add correctness tests for tfjs-models."
Currently we don't test correctness for tfjs-models. We should do that somewhere.

[2019-03-19 20:12] dsmilkov commented on #1381
Thanks Chris, I'll close the issue - feel free to reopen if you see the problem again. If you find out what changed this time vs last time, please share it with us so we can improve our library and sure this doesn't happen again.

[2019-03-19 20:12] #1381 closed

[2019-03-19 20:22] dsmilkov commented on #1337
Can you run `tf.ENV.set('WEBGL_PACK', false)` right after you load the TF.js library and let me know if it helps so we can narrow down the problem. Thanks!

[2019-03-19 20:22] dsmilkov commented on #1384
Can you run tf.ENV.set('WEBGL_PACK', false) right after you load the TF.js library and let me know if it helps so we can narrow down the problem. Thanks!

[2019-03-19 21:05] dsmilkov commented on #1355
Great! `tf.fromPixels` became `tf.browser.fromPixels` in 1.0. See the "Breaking changes" section in our release notes: https://github.com/tensorflow/tfjs/releases/tag/v1.0.0

[2019-03-19 21:06] pyu10055 commented on #1396
@alex77t If the failure happens during model loading, not at the inference time, I suspect that your server is not serving the models properly.
Can you check the network tab of your browser dev tool, see if there are any errors there. If you can post a screen capture would be great. Thanks

[2019-03-19 21:10] nkreeger commented on #1254
Duplicate of https://github.com/tensorflow/tfjs/issues/1254

[2019-03-19 21:10] #1254 closed

[2019-03-19 21:37] alex77t commented on #1396
Hi @pyu10055 , you're right - indeed the shard files were not loading correctly because of my local webserver configuration...  apologies for causing confusion and wasting your time on this.
This ticket can be closed.

[2019-03-19 21:37] #1396 closed

[2019-03-19 22:03] moustafa-a opened #1425 "Unable to run @tensorflow/tfjs-node in Alpine linux"
#### TensorFlow.js version
1.0.1

#### Describe the problem or feature request
Hi I'm trying to run tjfs-node in a Docker node:8-alpine image. I managed to install tfjs and tfjs-node but when I try to run my js code I get the following error:

[code]
#### Dockerfile
[code]

#### package.json
[code]

[2019-03-19 23:53] giwl21 commented on #1371
I researched a bit and found that the issue was in the length of the path, and that windows 7 only supports a limited number of characters in a path.  I think I''l have to try it on a windows 10 os

[2019-03-20 00:36] bileschi commented on #1371
I see.  Thanks for following up!  Does this solve your issue?  If so, can
you close the issue?

On Tue, Mar 19, 2019 at 7:53 PM giwl21 <notifications@github.com> wrote:

--
Stan Bileschi Ph.D.  |   SWE  |  bileschi@google.com |  617-230-8081

[2019-03-20 04:23] leemengtaiwan commented on #1355
@dsmilkov it works!

Thanks for the direction and now I'm able to predict using custom-built tfjs bundle!

I will keep developing tfjs app based on this, but I guess we can safely close the issue after the fix is released.

[2019-03-20 04:27] WenheLI commented on #1346
Just an update about this issue. I was trying to find out what makes the registration process failed. And found out a set of warning showing in the console:
<img width="424" alt="warning" src="https://user-images.githubusercontent.com/23213772/54658875-67da2980-4a84-11e9-88ab-df507a98e23f.png">
As it suggests that the react native environment does not have any ``webgl`` support to start the GPU ba

[2019-03-20 05:24] nkreeger commented on #1346
We don't fully support React Native - it is something we have on our roadmap but we haven't had a chance to figure out how to do this correctly.

[2019-03-20 05:24] #1346 closed

[2019-03-20 06:01] pyankoff commented on #266
Managed to make it work by using a custom loader:
[code]

[2019-03-20 08:59] loretoparisi commented on #1421
**[UPDATE]**
Further findings: the issue happens in both cases when reversing the order of Java / Node.js modules loading into the system:

1. Load TF.JS `require('@tensorflow/tfjs-node');` **then** Load Tensorflow Java (with ` -Djava.library.path=`)

The error was:
[code]

2. Load Tensorflow Java (with ` -Djava.library.path=`) **then**  Load TF.JS `require('@tensorflow/tfjs-node');`

The error wa

[2019-03-20 10:25] piercus opened #1426 "Feature request : `tf.image.transform`"
#### TensorFlow.js version

1.0.0

#### Browser version

All

#### Describe the problem or feature request

I'm working on a js implementation of image augmenter (work in progress in https://github.com/piercus/image-augment).

In this context, i would like to access a geometric transform operator in tensorflow.js that would be equivalent to https://www.tensorflow.org/api_docs/python/tf/contrib/ima

[2019-03-20 11:55] ejonokuchi opened #1427 "fetch issue running pre-trained USE model in Node.js"
Had an issue with `fetch` when loading a pre-trained TensorFlow.js model in a Node.js app.

### System information
- Mac OS Mojave - 10.14.1
- Node.js - 10.15.1
- relevant npm packages:
    - @tensorflow-models/universal-sentence-encoder@1.0.1
    - @tensorflow/tfjs@1.0.0
    - @tensorflow/tfjs-node@1.0.1
    - express@4.16.4
    - node-fetch@2.3.0

### Issue
I'm using the [pre-trained USE model](

[2019-03-20 13:17] davidsoergel commented on #1415
Yep, thanks.  An effective workaround is to add this to package.json:

    "scripts": {
        "postinstall": "rimraf node_modules/preact/*/preact.d.ts"
    }

That way the irrelevant preact types are automatically deleted after every ```yarn```, and everything works fine.  I think this is sufficient to close the bug?

[2019-03-20 14:45] tafsiri commented on #1415
Thanks David! I might keep it open for a bit just to remind me to investigate typings drift between the projects (though I do think your solution is the right one, react users would always want to use react types). So I might close it soon (maybe i'll remove the bug tag since it has a solution).

[2019-03-20 15:42] tafsiri commented on #1162
@alexellis could you make a new issue for the toxicity related error you are facing. Or comment on this one which sounds similar https://github.com/tensorflow/tfjs/issues/1427

Thanks for the heads up on the dead link.

[2019-03-20 15:45] alexellis commented on #1427
I don't seem to be able to get the toxicity model working either. I commented here with the error: https://github.com/tensorflow/tfjs/issues/1162#issuecomment-474525325

[2019-03-20 15:46] alexellis commented on #1427
It'd be ideal if all examples worked on Node as well as in the browser.

[2019-03-20 15:46] alexellis commented on #1162
Will do.

[2019-03-20 16:15] piercus commented on #1426
[`ImageProjectiveTransform`](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/image/kernels/image_ops.cc#L127) is not available in the [ops list](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/ops/ops.pbtxt)

Does anyone know if this might be added in the future ?
Is there any other way to achieve this in tfjs-node ?

[2019-03-20 16:24] rkinabhi opened #1428 "Broken iteration in TensorFlow.js for Node"
The following issue is w.r.t [op_utils.ts](https://github.com/tensorflow/tfjs-node/blob/master/src/ops/op_utils.ts) in the [TensorFlow.js for Node project](https://github.com/tensorflow/tfjs-node)

The function [`getTFDTypeForInputs(...)`](https://github.com/tensorflow/tfjs-node/blob/master/src/ops/op_utils.ts#L91) _@ line 91_ seems to have broken logic as the _[iteration](https://github.com/tenso

[2019-03-20 17:19] ericdnielsen commented on #1067
I'm running into this too.  Do we have thoughts on when/how it will be fixed?

[2019-03-20 18:35] annxingyuan commented on #1427
@alexellis yes good point - thanks for pointing this out! We'll patch this soon. Meanwhile you can override global fetch as a bandaid, but hopefully not for too much longer :)

[2019-03-20 18:45] anujdutt9 commented on #1384
Hi @dsmilkov. "tf.ENV.set('WEBGL_PACK', false)" This somehow seems to solve the problem. I don't see that error anymore on the Windows machine. Maybe I'll wait for others to confirm the same as well.
@zugende Did you get a chance to try @dsmilkov 's solution ?

[2019-03-20 18:58] davidsoergel commented on #1187
Now that TensorContainer is exported, we can just use it directly, I think.  The DataElement stuff is a holdover from when we had to duplicate the interfaces.

[2019-03-20 19:48] kangyizhang commented on #1187
cc: @tafsiri

[2019-03-20 22:25] #1355 closed

[2019-03-20 22:28] nsthorat commented on #651
Union does this now: https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@1.0.1/dist/tf.esm.js

[2019-03-20 22:28] #651 closed

[2019-03-20 22:29] nsthorat commented on #926
Just curious if you still see this in 1.0.2

[2019-03-21 01:34] leemengtaiwan commented on #1235
Thanks guy, you are the best!

[2019-03-21 01:40] leemengtaiwan commented on #1355
@pyu10055 @dsmilkov thank you for your hard work!

You guys are helpful, all the support and time are appreciated.

I think I can build something great using tfjs :)

[2019-03-21 09:20] bobiblazeski opened #1430 "tf.LayersModel Uncaught TypeError: n.getClassName is not a function"
To get help from the community, we encourage using Stack Overflow and the [`tensorflow.js`](https://stackoverflow.com/questions/tagged/tensorflow.js) tag.

#### TensorFlow.js version
[code]
#### Browser version
Google Chrome
Version 73.0.3683.75 (Official Build) (64-bit)
#### Describe the problem or feature request
Unable to construct tf.LayersModel
#### Code to reproduce the bug / link to feature

[2019-03-21 11:21] saras-verihelp commented on #1137
Hi,

I would like to know how the output array sizes are derived for the displacement forward and backward output tensors. I could find the details for heatmap and offset vectors in this link: https://medium.com/tensorflow/real-time-human-pose-estimation-in-the-browser-with-tensorflow-js-7dd0bc881cd5. Would like to know, if the input image size would have any effect on the other two output sizes.

[2019-03-21 14:24] kostadin-t opened #1431 "Problem converting Keras Models into Layers API format models to use with tensorflow.js"
I have a Problem converting Keras Models into Layers API format models to use with tensorflowjs

I use the command:

`$ tensorflowjs_converter --input_format keras kerasModels/vgg16_weights_tf_dim_ordering_tf_kernels.h5 convertedModels/`

I get an error "KeyError: Can't open attribute (can't locate attribute 'keras version')"

Here is an image of the error log:
![image](https://user-images.githubu

[2019-03-21 15:04] Swocky opened #1432 "Uncaught (in promise) TypeError: Cannot read property 'producer' of undefined"
Uncaught (in promise) TypeError: Cannot read property 'producer' of undefined
    at e.<anonymous> (tfjs-converter:17)
    at tfjs-converter:17
    at Object.next (tfjs-converter:17)
    at o (tfjs-converter:17)

My model is from Keras.
    <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs"> </script>
    <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs-converter"></script>
<scr

[2019-03-21 17:32] dsmilkov commented on #1384
Thanks! That's helpful to us. We are waiting for a windows machine and will look into this asap.

[2019-03-21 18:34] anujdutt9 commented on #708
Hi @dsmilkov I am seeing the same warnings in the console. Although this doesn't affects the functionality but still these are some warnings that appear.

[2019-03-21 18:41] anujdutt9 commented on #1384
Hi @dsmilkov, I had another demo that was working perfectly till yesterday and suddenly today it broke. I have fixed it but thought it might be good to share as it might help someone else.

This is the link to the demo for doing Linear Regression in the browser:
https://anujdutt9.github.io/TFjs-LinearRegression.html

Earlier when I was importing tfjs 0.15.3, it was working fine till yesterday but

[2019-03-21 18:43] 1egit opened #1433 "converter keras"
To get help from the community, we encourage using Stack Overflow and the [`tensorflow.js`](https://stackoverflow.com/questions/tagged/tensorflow.js) tag.

#### TensorFlow.js version

#### Browser version

#### Describe the problem or feature request

#### Code to reproduce the bug / link to feature request

[2019-03-21 18:58] 1egit opened #1434 "Error when Converting a TensorFlow.js Layers model (JSON + binary weight file(s)) to a Keras HDF5 model file."
To get help from the community, we encourage using Stack Overflow and the [`tensorflow.js`](https://stackoverflow.com/questions/tagged/tensorflow.js) tag.

#### TensorFlow.js version
1.0.0
#### Browser version
Chrome 72.0.3626.121 (Official Build) (64-bit)
#### Describe the problem or feature request
I imported tfjs by a script in HTML:
`  <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs

[2019-03-21 19:20] caisq commented on #1430
If you replace the part of the code that says `tf.LayersModel` with `tf.model`. The code should work. We'll fix it on our website soon.

Thanks for reporting this issue, @bobiblazeski

[2019-03-21 19:41] #1430 closed

[2019-03-21 20:19] #1433 closed

[2019-03-21 22:21] pyu10055 commented on #1432
@Swocky can you share the model.json file?
If your model is from Keras, it is likely you need to use tf.loadLayersModel API instead of tf.laodGraphModel API.
In the model.json file, there should be a field 'format' that indicates whether it is a graph or layers model.

[2019-03-22 00:00] Swocky commented on #1432
You are right, I'm so casreless, as I used tf model before. But a new issue appears, I use a Lambda layer in my model， the result is
Uncaught (in promise) Error: Unknown layer: Lambda. This may be due to one of the following reasons:
1. The layer is defined in Python, in which case it needs to be ported to TensorFlow.js or your JavaScript code.
2. The custom layer is defined in JavaScript, but is

[2019-03-22 00:15] Swocky commented on #1432
It seems that Lambda layer is not supported in tfjs. So I wonder if I have any alternative to expand my dim?

[2019-03-22 03:09] caisq commented on #1434
@1egit Thanks for reporting this issue.

Can you provide the following additional information to help us diagnose and debug the issue?

1) What is the output of your `tensorflowjs_converter --version` command?
2) Can you show the TF.js code you used to generate the saved model?

[2019-03-22 04:07] Swocky commented on #1432
I solved it by myself. Just use reshape.
[code]
You could expand dim without using expand_dims and Lambda layer.

[2019-03-22 09:48] chenqing commented on #254
[code]
just update tf.loadModel -> tf.loadLayersModel.

[2019-03-22 10:13] Ivikassingh commented on #1346
This is all due to WebGL not present in your testing device

[2019-03-22 12:30] annxingyuan opened #1436 "Pack conv2d."
Should be a small extension of packed depthwiseConv.

[2019-03-22 16:25] nsthorat opened #1438 "Document tf.io.loadWeights() and allow it to take a model.json URL"
tf.io.loadWeights() does not exist in the API docs, let's document it.

The first argument is the WeightsManifestConfig, we should allow taking a URL to the model.json to avoid having to fetch it yourself.

[2019-03-22 17:05] dsmilkov opened #1439 "Add tf.util.fetch()"
Add `tf.util.fetch()` as a cross-platform utility which mimics browser's `fetch`.

The weights loader should use this util instead of the global fetch (see weights_loader.ts) if the user hasn't provided a custom `fetchFunc`.

`tf.util.fetch()` should first check for the existence of a global fetch using `tf.ENV.global.fetch`. Then fallback for platform-specific solutions. The current platform-spec

[2019-03-22 18:23] justadudewhohacks opened #1440 "Clearing texture cache manually to avoid memory leaks"
A while ago I filed the issue #604 with a description how variably sized input tensors lead to memory leaks utilizing the WebGL backend.

@nsthorat answered the following, which makes total sense to me:

My question is, whether (and how) it is possible to clear that cache during runtime. The reason I am asking is, that face-api.js runs multiple unit tests of models with different input sizes. The

[2019-03-22 19:11] b-lack commented on #272
TensorflowJs loads the models via fetch(). fetch() does not support loading local-files. https://fetch.spec.whatwg.org/

To make this happen, I used this workaround in a Cordova-Projekt:

Import a polyfill (https://github.com/github/fetch) and replace the global-fetch.

    window.fetch = fetchPolyfill;

Now, it's possible to load local files (file:///) like:

    const modelUrl = './model.json'

[2019-03-22 19:37] annxingyuan commented on #1384
Hi @anujdutt9. I checked out your demo in Chrome on a Lenovo Yoga (Intel Graphics 520) running Windows 10 and was unable to reproduce the error, even with `WEBGL_PACK` set to `true`. Would you mind trying your demo again and seeing whether the tfjs version bump (we're now at `1.0.2`) somehow resolved your issue? Could you also make sure that you're only loading one instance of the library (make su

[2019-03-22 20:38] anujdutt9 commented on #1384
Hi @annxingyuan Thanks for your response. Yes, I changed the import link for the library and the demo works now. I think the tfjs version bump was the trick maybe. If I go back to 0.15.3, then some issues happen. But the new one looks good. Thanks 👍

[2019-03-22 22:26] annxingyuan commented on #1384
Glad to hear it :)

[2019-03-22 22:26] #1384 closed

[2019-03-22 23:03] 1egit commented on #1434
The output is:
[code]
the model part code is from https://codelabs.developers.google.com/codelabs/tfjs-training-classfication/index.html#4, I followed the same code and saved the model via `model.save('downloads://mnist-cnn');`

A might-be-useful information for you is I rewrite the code for training in Python-Keras and convert it back in tensorfow.js using tensorflowjs_converter. The converter wo

[2019-03-23 00:46] #1234 closed

[2019-03-23 07:23] huan commented on #1341
Close this issue because The PR had been merged.

[2019-03-23 07:23] #1341 closed

[2019-03-23 14:26] caisq commented on #1434
Thanks for the additional information!

There are a number of things going on here.

1. TensorFlow.js doesn't populate the "mode" field of VarianceScaling initializer with the default "fan_in" value properly. Instead, it leaves it as "null".
2. The latest version of tf-2.0-nightly-preview doesn't handle `distribution: normal` properly. For that I've filed b/129177721 to notify the keras team. cc @

[2019-03-23 14:42] caisq commented on #1434
@1egit  Correction: In the wordaround provided above, in addition to switching to tensorflowjs pip version 0.8.5, you need to replace the varianceScaling initializer with something else, either GlorotNormal/LeCunNormal, or the default (undefined).

[2019-03-23 15:15] giwl21 commented on #1371
Okay, I tried it on some of my friends' windows ten computers.  I'm sorry that I didn't document the error messages, and am trying to remember them.  Here is the code I used trying to fix this.

[code]
fft.h5 was trained with another python file and saved using
[code]
I installed a brand new python 3.6.7 on those machines, and a brand new pip 19.0.3  I did `pip install tensorflowjs` on a fresh vir

[2019-03-23 16:40] chenqing commented on #380
What is the current progress?

[2019-03-23 16:42] gabrielglbh commented on #272
@b-lack Thank you for the workaround. I have tried it, but I still cannot get it right. Looking on the links and documentation provided, I have done the following:

`
import * as tf from '@tensorflow/tfjs';
import { fetch as fetchPollyfill } from 'whatwg-fetch';

constructor(){
    window.fetch = fetchPolyfill;

    modelJSON = '/assets/model.json';
    const model = await tf.loadLayersModel(model

[2019-03-24 05:28] Kriyszig commented on #1439
I would love to work on this if  annxingyuan hasn't started working on it  yet

[2019-03-24 16:08] oveddan commented on #633
I would find this useful as well.  Based on @leung85 and @hpssjellis examples I've created a typescipt and async version:

[code]

[2019-03-24 17:11] nsthorat commented on #1440
Hi @justadudewhohacks!

So there are two issues to why the programs will be slower when you have different size inputs:
1) Texture cache misses because of different texture sizes. Hopefully fixing this issue will mitigate this: https://github.com/tensorflow/tfjs/issues/1074
2) Program recompilations because of different input / output tensor shapes. Hopefully fixing this issue will mitigate this:

[2019-03-24 18:52] justadudewhohacks commented on #1440
Thanks for the quick reply!

Just to clarify, the main issue I am facing is not the slower execution due to cache misses, but rather the memory leak. At some point one simply runs out of GPU memory having different input sizes, because the allocated memory is not freed up.

This is an issue in both 0.14.2 as well as 1.0.1, it just happens that 1.0.1 hits the memory limited much sooner, which I am

[2019-03-25 00:35] annxingyuan commented on #1440
@justadudewhohacks Thanks for filing this. I took a look at the earlier issue you mentioned and it looks like you created a standalone HTML page to reproduce: https://github.com/justadudewhohacks/tfjs-tensor-size-memoryleak-issue

I wanted to confirm that this page reproduces the issue here as well?

[2019-03-25 03:57] chenqing commented on #1290
I am curious what is the progress now.

[2019-03-25 14:33] annxingyuan commented on #1440
@justadudewhohacks Hey - one possible explanation for 1.0's higher memory usage is that we've turned on im2col by default for convolutions, which results in potentially very large textures being allocated. You can disable im2col by adding `tf.ENV.set('WEBGL_CONV_IM2COL', false);` right after you load tfjs - does this alleviate the issue somewhat?

[2019-03-25 14:47] nsthorat commented on #751
@davidsoergel can you still repro this?

[2019-03-25 14:56] tafsiri opened #1441 "Clean up old content from website-repo"
- [] Remove old content (but maintain paths to existing pages).
- [] Add html redirect from top page to /api
- [] merge devsite docs folder into master

This paves the way for serving api docs from other locations.