[2021-08-10 19:47] rthadur commented on #5453
Also please check you chrome version , I see there was an issue with chrome browser here earlier https://stackoverflow.com/questions/55039923/why-does-chrome-eventually-throw-out-of-memory-wasm-memory-after-repeatedly-r

[2021-08-10 20:09] rthadur commented on #5410
Same error please check below
![image](https://user-images.githubusercontent.com/43972606/128928195-213bc4b4-be8f-4c67-9d5a-eb5d9bc6b81e.png)

[2021-08-10 20:44] jasonmayes opened #5454 "TFJS WebGL on WebWorker still blocks GUI"
After investigating a [report by a user](https://discuss.tensorflow.org/t/how-to-get-the-duration-of-predict/3311/18) who was attempting to use web workers + tfjs to reduce lagging of GUI when model performs inference I have noticed that when using backend "webgl" web worker makes no effect on executing code in a separate context as this does not apply to GPU.

I have confirmed that by setting bac

[2021-08-11 02:08] qjia7 opened #5458 "Common patterns that need to be fused"
In TFJS, there are already some fused ops, like fusedConv2d, fusedDepthwiseConv2d, fusedMatMul, which can greatly improve the performance. However, there are many other patterns which are frequently used in many models, but not fused. We'd like use this bug to track all such kind of patterns to see if there are any possibilities to fuse them in TFJS for better performance.

We raise this issue is

[2021-08-11 02:10] qjia7 commented on #5458
@pyu10055 @lina128 @jinjingforever Please help provide some common patterns that you already know. Thanks.

[2021-08-11 02:30] byy01 opened #5459 "tensorflow pose-detection estimatePoses first connection slowly"
It is using pose-detection(blazePose-tfjs) function, and it takes about 6 seconds to receive the result value during the first connection. After that, they quickly receive the results. Is there a way to reduce the first connection time?

[2021-08-11 03:00] qjia7 opened #5460 "Collect kernels that are heavily used in models and call for uniforms"
To resolve #5205, we are using uniforms instead of constants to reduce shader variants. There are two kinds of uniforms. One is shapes uniforms, which is behind a flag `WEBGL_USE_SHAPES_UNIFORMS` and is for shaders common parts used in `shader_compiler`. The other is the custom uniforms `customUniforms`, which is used for each kernel's `userCode` part. So to make a kernel whole uniform, we need to

[2021-08-11 03:06] qjia7 commented on #5460
@pyu10055 @lina128 @jinjingforever Please provide the ops that are heavily used in models and call for uniforms.

[2021-08-11 03:24] qjia7 opened #5461 "Some benchmarks are using non-fused models"
Open https://tensorflow.github.io/tfjs/e2e/benchmarks/local-benchmark/index.html and choose `bodypix`. The supported architectures are `MobileNetV1` and `ResNet50`. Both of them are non-fused models. Should we update it to use the fused one, for example, use mobilenetv2 instead mobilenetv1?
Other models like `posenet` have the similar problem.

[2021-08-11 03:24] qjia7 commented on #5461
@pyu10055 FYI

[2021-08-11 04:42] rthadur commented on #1969
Closing this issue as the related PR has been merged.

[2021-08-11 04:42] #1969 closed

[2021-08-11 04:45] rthadur commented on #1821
I believe this has been implemented here https://github.com/tensorflow/tfjs/pull/2226 , closing this issue for now.Thank you

[2021-08-11 04:45] #1821 closed

[2021-08-11 04:52] rthadur commented on #3595
The related PR has been merged here , please check here https://github.com/tensorflow/tfjs/pull/3560/files

[2021-08-11 04:52] #3595 closed

[2021-08-11 04:58] rthadur commented on #5459
@byy01 the first detection is slow since the backend are caching the shader programs, the prediction after the first one should much faster and stable.You can add a warm up step after the model loads.

[2021-08-11 05:23] rthadur commented on #5449
The above method should work , I believe this is a bug
![image](https://user-images.githubusercontent.com/43972606/128973948-401fba79-72bd-47e5-a65c-6e518ee1bf4d.png)

[2021-08-11 08:34] byy01 commented on #5459
The first time a pose-detection connects, it responds slowly, and the problem is that you can't do anything else on the web while the results are answered. It was the same even if we proceed asynchronously. Is there any other way to proceed with the first response?

[2021-08-11 09:31] wayhow123 commented on #5454
Will the next version solve this problem???I also encountered this problem

[2021-08-11 09:53] weishengkui commented on #5389
I tried this on the official website , FireFox, and set backend into webgl.
Here is the output:

[code]

[code]

[2021-08-11 12:30] CPW100 opened #5466 "tensorflowjs_converter does not work for Tensorflow Object Detection API faster-rcnn model"
I trained the **faster_rcnn_resnet50_v1_640x640_coco17_tpu-8 model** using custom dataset using my laptop and exported the model into .pb format as shown below.
![image](https://user-images.githubusercontent.com/28196102/129028169-1e563618-abe0-43cb-8651-5517ddfa9fd9.png)

Then I tried using the 'tensorflowjs_converter' to convert it into .json and bin file. This method works for SSD MobileNet and

[2021-08-11 16:36] vladmandic opened #5467 "webgpu backend incompatible with web workers"
trying out `tfjs-backend-webgpu`, there are quite a few instances in the code where it attempts to access **DOM** elements which are by definition *not available* in web workers:

[code]

[code]

environment: chrome/94 canary, tfjs 3.8.0, tfjs-backend-webgpu 0.0.1-alpha.7

[2021-08-11 16:44] vladmandic opened #5468 "webgpu backend does not support sync calls"
since this is documented in code as by-design, i'm flagging it as a feature request instead of a bug
but in reality its a blocker for future `webgpu` adoption

[code]

results in error:

[code]

i know same functionality can be achieved by using

[code]

but that requires quite a lot of changes to existing apps - so unless even when `webgpu` is widely available, it will not be able to use it as a

[2021-08-11 16:55] rthadur commented on #5466
As the error message suggests op `broadcast` is not implemented in webgl and wasm , this would be a feature request. Did you try loading in cpu ?

[2021-08-11 16:55] rthadur commented on #5466
related feature request in wasm https://github.com/tensorflow/tfjs/issues/3580

[2021-08-11 17:02] RJ-1998 commented on #5410
@rthadur Please check the following steps:-
1. In the parent directory run **npm install** it has libraries to run express server
2. Make sure you are able to open http://localhost:4001/static/model.json
3. Turn on cors.
If still not working please find below snapshot of the main error in tensorflow
![Screenshot from 2021-08-11 22-31-11](https://user-images.githubusercontent.com/37022742/129071899

[2021-08-11 18:45] emsoneal opened #5470 "BoundingBox MoveNet Tracker"
I cannot figure out how to set the MoveNet tracking type to be a bounding box instead of keypoints. I can see it is an option in the source code, but have not been successful at setting it correctly in the detectorConfig.
This is the code I have right now. How do I edit the detectorConfig variable to specify the bounding box tracker type?

`const detectorConfig = {modelType: poseDetection.movenet.

[2021-08-11 18:59] jasonmayes commented on #5454
Team is currently discussing issue to see what may be best path of action for this as WebGL is not "threaded" like you can do with CPU on WebWorker. Please check back on this bug for updates. In the meantime if you are able to execute on "WASM" for your TFJS model or even "CPU" I have confirmed these work as CPU based and when in web worker execute on a different thread as intended which does not

[2021-08-11 21:52] rthadur commented on #5459
you can check different configuration mentioned here in the documentation https://github.com/tensorflow/tfjs-models/tree/master/posenet#config-params-in-posenetload

[2021-08-12 00:00] CPW100 commented on #5466
No, I haven’t tried loading it in CPU, may I know what is the issue with loading it in GPU? How should I proceed?

[2021-08-12 00:45] axinging opened #5471 "[wasm] Fail on pool avg with input 4,4,1"
Test case:
[code]

Error logs (From https://console.cloud.google.com/cloud-build/builds/ed8d8469-7e88-4c78-8eb7-2da1c55f7314;step=23?project=learnjs-174218):
[code]

[2021-08-12 02:01] shaoboyan commented on #5467
Ah, yea. Thanks for catching this.

[2021-08-12 04:58] wingman-jr-addon commented on #5343
@rthadur Would you agree the awaiting response label can probably be removed from this issue now?

[2021-08-12 08:19] qjia7 commented on #5468
@vladmandic It is a known issue for us that webgpu does not support sync read. Another similar issue is #5092. Currently WebGPU spec only provides the async one `mapAsync`. There are some discussions whether to support a `readBuffer` API in WebGPU https://github.com/gpuweb/gpuweb/issues/1972. But it properly continues after the WebGPU MVP. We will follow up this issue and provide some inputs from

[2021-08-12 09:09] shaoboyan commented on #5467
@vladmandic  I've made a fix for this issue here https://github.com/tensorflow/tfjs/pull/5472 but I've got some problems to add a worker test to cover this in tfjs for now. I've checked the type checker part in some local framework in worker and it won't report the error.

And It is appreciate that if you could help to integrate this fix and build the latest tfjs webgpu backend to see whether ther

[2021-08-12 10:01] mdaj06 commented on #1697
@nkreeger Hey is this still open?

[2021-08-12 12:14] vladmandic opened #5473 "Backend TFJS-Node does implement kernel RotateWithOffset"
as subject line says, operation `RotateWithOffset` is missing from `tfjs-node` backend:

[code]

this is a known item originally reported in #4606 which is closed as author has switched to solution not based on nodejs

however, discussion in original pr #3560 that implemented op for other kernels suggests that it should be doable for `tfjs-node` as well, but there was never any follow-up

environm

[2021-08-12 13:15] vladmandic commented on #5468
thanks for the reference link

i'll play with `webgpu` on a side, but i can't test it is any of my existing code due to extensive use of `tf.tidy` which doesn't support async calls.
and rewritting code to use `await tensor.data()` would not be trivial as main reason for `tf.tidy` is so i can use chained calls.

[code]

or

[code]

without `tf.tidy()` this would be 4 temp variables and later 4 call

[2021-08-12 13:27] vladmandic commented on #5467
@shaoboyan solution looks ok, but unfortunately i cannot test in my existing code due to other unrelated webgpu blocking issues
i'll start a new demo project just for webgpu testing soon

[2021-08-12 13:29] Caundy commented on #4483
Ran into the same issue when loading a single model with four weight shards, totalling to ~13MB. The tf.loadGraphModel method resolves reasonably quickly on iOS (iPhone7: 3s when developing locally, 9s when installed from testflight) but the load times on Android devices running built release apk are **much slower** leaving the app UI completely unresponsive in the meantime 😕
loadGraphModel taking

[2021-08-12 14:11] rthadur commented on #1697
Related PR has been merged here https://github.com/tensorflow/tfjs/pull/3238 , closing this issue, Thank you

[2021-08-12 14:22] rthadur commented on #5173
@franckOL could you please update if you are still facing same issue ?

[2021-08-12 14:25] Caundy opened #5475 "[tfjs-react-native] tf.loadGraphModel with bundled files slow"
**Packages installed**
- "react-native": "0.63.4",
- "@tensorflow/tfjs": "^3.8.0",
- "@tensorflow/tfjs-automl": "^1.2.0",
- "@tensorflow/tfjs-react-native": "^0.6.0",
- "expo-gl": "^10.4.2",
- "expo-gl-cpp": "^10.4.1",
- Tensorflow.js Converter Version: v3.6.0 (as reported by the model file)

**Describe the current behavior**
Loading a graph model (13MB) bundled in a react-native application (bare

[2021-08-12 14:26] franckOL commented on #5173
I update my version nodejs form 14.17.1 to 14.17.3. And it is **OK**

[2021-08-12 14:57] rthadur commented on #5173
Thank you , closing this issue .

[2021-08-12 14:57] #5173 closed

[2021-08-12 14:58] danwexler commented on #5454
I don't understand. Which part of WebGL is not threaded? Can you provide a
link to a description of the underlying WebGL issue?

You can certainly render to offscreen canvases using a second GL context
without blocking the main thread. Sure the GPU is a shared resource, but is
it really true that the browser doesn't use a separate GL context and
off-screen rendering in the web worker threads? Or i

[2021-08-12 16:48] Utopiah commented on #3052
Thanks for the update @rthadur, a NodeJS version bump indeed solved install on my RPi3.

[2021-08-12 16:53] jasonmayes commented on #5454
I made a slightly simplified version of the code to the demo the original reporter created here: https://codepen.io/jasonmayes/project/editor/DBYaRj

Executing this - click the big button at the bottom - and you will notice the webcam feed freezes as do the red numbers rendered to the left of the button.

If I change the TFJS backend to CPU it does not have this "lag".

I am unsure of the exact re

[2021-08-12 17:39] rthadur commented on #5336
Thank you @tauber , did you mean to say the documentation here https://github.com/tensorflow/tfjs/blob/master/tfjs-backend-wasm/README.md#using-bundlers  is not clear ?

[2021-08-12 17:42] pyu10055 commented on #5466
We have a PR that is adding the missing BroadcastArgs op.
ref https://github.com/tensorflow/tfjs/pull/4636

[2021-08-12 17:46] danwexler commented on #5454
Seems like there's at least an equal chance the bugs are in TFJS as in
WebGL. I'd also suggest testing in other browsers, e.g. Firefox. Some links
discussing non-blocking WebGL rendering in web workers:

Chrome: https://developers.google.com/web/updates/2018/08/offscreen-canvas
Firefox (see WebGL Worker <https://github.com/kripken/webgl-worker> repo):
https://research.mozilla.org/2014/07/22/webgl-

[2021-08-12 17:47] jinjingforever commented on #5336
@rthadur Looks like the doc didn't mention what to do when importing the wasm backend through the script tag. I will update it. Thanks!

[2021-08-12 17:56] danwexler commented on #5454
In my first glance at your example, you are likely to be bound by data transfer rather than compute. You are copying image buffers from the video to the webworker using `postMessage({img: bufferT, taskType: 'tf_model'})`, which copies the bufferT. Instead you should be using the second argument for postMessage to send the buffer as a Transferable. You should also test it out with much larger image

[2021-08-12 18:12] jasonmayes commented on #5454
The original user who reported the issue can not share their model / all code so instead for now has shared the demo code you see above and put some placeholder code to execute as detailed here in place of the real model that replicates the issue they had: https://discuss.tensorflow.org/t/how-to-get-the-duration-of-predict/3311/18 which is what is being executed when `tfWrapper.processImg(inputFlo

[2021-08-12 18:25] tauber commented on #5336
Now I see the comment: '// or tf.wasm.setWasmPaths when using <script> tags.'
I don't know why I missed this. Making it more obvious would definitely help exhausted developers :)
Thank you again for your help with this issue.

[2021-08-12 18:34] tauber commented on #5336
Hi Jing Jin,

Thank you so much for handling my case (5336). Great advice on that fix!

With the same program I run into memory out of bound errors on the GPU
when using webgl. This has to do with issue #4166 as well.

I know you didn't have the time to fix texture size allocations in the
GPU version of TF (I don't even think that is the real issue, rather
than no garbage collection), but I did wa

[2021-08-12 19:10] rthadur commented on #5453
I assigned the PR to @lina128 , you can discuss at one place regarding the error . I will close this issue. Thank you

[2021-08-12 19:10] #5453 closed

[2021-08-12 19:27] danwexler commented on #5454
I think the next steps are:

1. Check the `tf.randomNormal` implementation. I'd be surprised if that runs on the GPU at all (WebGL does not have random number support). Often this is simulated in a number of ways if you do want it to run within a shader, e.g. using a texture filled with `drand48()` values from the CPU. Regardless, it is likely doing some CPU work and we want to know why it isn't d

[2021-08-12 21:23] lina128 commented on #4685
Hi @rohanmuplara, I look at your question again, and now I understand better, yeah, I think the interleaving issue is the disadvantage.

[2021-08-12 22:49] #5418 closed

[2021-08-12 23:06] mattsoulanille opened #5479 "WEBGL_USE_SHAPES_UNIFORMS causes test failures on MacOS"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow.js):
- OS Platfo

[2021-08-12 23:32] #5334 closed

[2021-08-12 23:46] CPW100 commented on #5466
Thank you for replying, may I know if the BroadcastArgs op has been added already? If it has already been added, does that mean I need to uninstall tensorflowjs and reinstall it again?

[2021-08-13 00:01] pyu10055 commented on #5466
Not yet, likely will be in the next release. thanks

[2021-08-13 01:14] AKACC commented on #4098
For my case, I have the same error even if I turn off remote debugger. `tf.setBackend('cpu')` would never work in any cases.

[2021-08-13 02:40] wirlsawyer opened #5481 "How to use existing tensorflow.js model in keras"
I have tensorflow.js model which I have converted to keras but could not got same predict in keras, what wrong?

[2021-08-13 03:01] axinging opened #5482 "fromPixels results are inconsistent for image input"
Reproduce steps:
  1. Build and run e2e(yarn build-deps, npx-http-server), then load bodypix or posenet, select input type image.
  2. Click “Test correctness”, when the test is done,  click it again.
  3. Check the results from console, ypu will see the results mismatch.

Problem investigation:
  This problem is caused by chromium's canvas implementation. It can be workaround with recreate canvas

[2021-08-13 03:44] yangshengdong opened #5484 "n-api supports automatic downgrade instead of hard-coded"
### background
I used @tensorflow/tfjs-node to build a coding service, but the deployment failed due to the inconsistency of the node version during build and runtime.

Uncontrollable node version during build and runtime

### for example：

build：node v12.19.1 corresponds to N-API 7
runtime ：node v12.22.3 corresponds to N-API 8

### result：
"The Node.js native addon module (tfjs_binding.node) can

[2021-08-13 04:38] qjia7 commented on #5479
I will take a look why there are so many failures with
WEBGL_USE_SHAPES_UNIFORMS = true.

[2021-08-13 05:37] deepanshusharma012 opened #5486 "Blazeface result is not correct on WASM backend"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow.js):
  This is happening even in demo page for blazeface model (i.e. https://storage.googleapis.com/tfjs-models/demos/blazeface/index.html).

- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
  Linux Ubuntu 18.04

- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) i

[2021-08-13 08:57] CPW100 commented on #5466
Alrighty, thanks again. Looking forward to the upgraded version.

[2021-08-13 14:03] kungfooman opened #5488 "Replace deprecated `setWasmPath` with `setWasmPaths`"
Bad way (only uses `tfjs-backend-wasm.wasm`):

https://github.com/tensorflow/tfjs-models/blob/8faa92d8933d8036deae63b034db399c09173a2e/facemesh/demo/index.js#L27

Good way (uses `tfjs-backend-wasm-simd.wasm` or `tfjs-backend-wasm-threaded-simd.wasm` if possible):

https://github.com/tensorflow/tfjs-models/blob/8faa92d8933d8036deae63b034db399c09173a2e/face-landmarks-detection/demo/index.js#L28

[2021-08-13 14:23] rthadur commented on #5488
Hi @kungfooman `facemesh` is no longer supported , please refer to `face-landmarks-detection `. Thank you

![image](https://user-images.githubusercontent.com/43972606/129371594-f0bd395e-b5e7-45d6-ab4b-4d8279ed8536.png)

[2021-08-13 14:23] #5488 closed

[2021-08-13 15:10] kungfooman commented on #5488
Well, too bad then, `facemesh` detects my face better than `face-landmarks-detection`.

[2021-08-13 16:00] #5383 closed

[2021-08-13 16:00] #5267 closed

[2021-08-13 17:12] rthadur commented on #5481
It looks like you haven't used a template to create this issue. Please resubmit your issue using a template from [here](https://github.com/tensorflow/tfjs/issues/new/choose). We ask users to use the template because it reduces overall time to resolve a new issue by avoiding extra communication to get to the root of the issue. We will close this issue in lieu of the new one you will create from the

[2021-08-13 17:12] #5481 closed

[2021-08-13 19:33] AKACC commented on #4593
Hi @zholmes1, I face the same error like you did. From your case, I kinda found out a trick which can be a temporary solution for this problem.

I manually install @tensorflow/tfjs-backend-wasm and run `pod install`. The problem fixed by itself.

After a few successful build, the error show up again. I uninstall @tensorflow/tfjs-backend-wasm and run `pod install`. The problem fixed again.

 @Canno

[2021-08-13 19:35] rthadur commented on #5486
It tries to detect all the object but you need to check the probability , which will vary for actual face and some random objects. You can try to get the code locally and check for percentage accuracy.

This question is better asked on [Discourse-TF](https://discuss.tensorflow.org/) since it is not a bug or feature request. There is also a larger community that reads questions there.

[2021-08-13 19:35] #5486 closed

[2021-08-13 19:36] AKACC commented on #4098
Interesting found after a few days workaround.

I manually install @tensorflow/tfjs-backend-wasm and run `pod install`. The problem fixed by itself.

**After a few successful build, the error show up again**. I uninstall @tensorflow/tfjs-backend-wasm and run `pod install`. The problem fixed again.

Could you guys give me some insight on this? @tafsiri @huurray

[2021-08-13 19:43] deepanshusharma012 commented on #5486
Can you please tell me whats the probability of face then?

[2021-08-13 22:51] rohanmuplara commented on #4685
ok thanks

[2021-08-13 22:55] lina128 commented on #5482
Hi @axinging, will clearRect() before drawing another image help?

[2021-08-14 08:52] axinging commented on #5482
@lina128 , indeed I have tried the clearRect, not work. Currently the workarounds are : recreate canvas context every time, or turn on chrome://flags/#new-canvas-2d-api.

[2021-08-14 12:05] deepanshusharma012 opened #5490 "Blazeface result is not correct on WASM backend"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow.js):
  Yes, I am using the estimateFace function of blazeface to detect the actual face in the image uploaded. Here is my code for reference:

[code]

- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
  This behaviour is reproducible across multiple OS of both desktop & m

[2021-08-14 13:20] Jove125 opened #5491 "ssd mobilenet v3 10+ times slower than native app"
Hello,

I trained ssd mobilenet v3 (large minimalistic), non-quantized standard model (tflite).
The execution time of this model in a native android application (google pixel 4a 5g) is 15 ms.

Using tensorflow.js version 3.3.0 (on later versions the model doesn't work) the time is:
cpu backend - 2600 ms
webgl backend - 220 ms
wasm backend - 180 ms

I also tried the alpha version of tf-js tflite an

[2021-08-14 14:09] evansrobert opened #5492 "posibility of a 3.8.1 release with updated adm-zip"
Hi, @lina128 @pyu10055, there is a high severity vulnerability introduced by package **adm-zip**:
### Issue Description

   I noticed that a vulnerability is introduced in **_@tensorflow/tfjs-node@3.8.0_**:
     Vulnerability **SNYK-JS-ADMZIP-1065796** (high severity) affects package **_adm-zip_** (versions:<0.5.2):  [https://snyk.io/vuln/SNYK-JS-ADMZIP-1065796](https://snyk.io/vuln/SNYK-JS-ADMZIP

[2021-08-14 14:58] vladmandic opened #5493 "tfjs-backend-webgpu incorrect tree shaking when bundling"
`tfjs-backend-webgpu` does not define `sideEffects` in it's `package.json` causing incorrect tree shaking to occur
result is that entire `flags_webgpu.ts` gets dropped so none of the global variables get registered

at minimum, it should follow similar `sideEffects` settings as defined in `tfjs-backend-webgl` package

but also take a look at open issue #5182

environment: chrome/94 canary, tfjs 3.

[2021-08-14 17:31] vladmandic opened #5494 "tfjs-backend-webgpu multiple issues"
i've tried using `tfjs-backend-webgpu` with 10 different models and got 4 different errors
success rate so far is zero as each model resulted in at least one error

environment: chrome/94 canary, tfjs 3.8.0, tfjs-backend-webgpu 0.0.1-alpha.7

## this error is most common

[code]

note that depending on model, numbers in the error message may be different
e.g. `1024 > 256` or `

## followed by this

[2021-08-14 17:36] vladmandic opened #5495 "tfjs-backend-webgpu bad handling of non-webgpu enabled browser"
attempting to run `tfjs-backend-webgpu` on a non-webgpu enabled browser results
in a cryptic error instead of stating that `webgpu` is not available:

environment: chrome/92 (which is not webgpu enabled), tfjs 3.8.0, tfjs-backend-webgpu 0.0.1-alpha.7

[code]

same issue previously reported under #3003 which was closed without resolution due to "lack of activity" - what kind of resolution is that i

[2021-08-14 21:53] vladmandic commented on #5495
closing as resolved when building `tfjs-backend-webgpu` from main branch,
seems that latest released version `tfjs-backend-webgpu 0.0.1-alpha.7` is just too old

[2021-08-14 21:53] #5495 closed

[2021-08-14 21:53] vladmandic commented on #5493
closing as resolved when building `tfjs-backend-webgpu` from main branch,
seems that latest released version `tfjs-backend-webgpu 0.0.1-alpha.7` is just too old

[2021-08-14 21:53] #5493 closed

[2021-08-14 21:54] vladmandic commented on #5494
closing as resolved when building `tfjs-backend-webgpu` from main branch,
seems that latest released version `tfjs-backend-webgpu 0.0.1-alpha.7` is just too old

[2021-08-14 21:54] #5494 closed

[2021-08-14 21:57] vladmandic opened #5496 "backend tfjs-backend-webgpu is missing several common kernel ops"
after converting my existing app to run with `tfjs-backend-webgpu` built from main branch
(latest released version `tfjs-backend-webgpu 0.0.1-alpha.7` is just too old),
i've run into issues running some of the models (all of them work perfectly using `webgl` backend):

note: with remaining running models, with `webgpu` inference is 300-400ms while with `webgl` it's 400-550ms
which makes `webgpu` ~

[2021-08-15 11:04] INF800 commented on #4648
change wegl to wasm. Worked for me.

[2021-08-15 12:04] vladmandic commented on #5467
@shaoboyan i've tried building `tfjs-backend-webgpu` using your code, but it fails during build:

[code]

[2021-08-15 15:03] abcdan commented on #4514
I'd love to know when it's available as well!

[2021-08-15 15:52] vladmandic commented on #5467
@shaoboyan had some issues building new `tfjs-backend-webgpu` as i didn't realize that your patch is on top of your tree, not main. anyhow, all sorted and tested - it works!

[2021-08-15 16:47] kevinchristianto commented on #4098
I'm facing this problem too, while developing I'm just using the cpu backend, but when I changed to rn-webgl and buildRelease the app, it then crashed everytime it's executing `await tf.image.resizeBilinear(imageTensor, [224, 224])`

[2021-08-15 19:57] bibs2091 opened #5497 "Kernel 'Unique' not registered for backend 'tensorflow'"
**System information**
- OS Platform: windows 10
- TensorFlow.js version: tfjs-node": "^3.8.0"

when i try to apply tf.unique method on any tensor in tfjs-nodejs, per example:
[code]
I face this error line:
[code]

Can you fix this please.

[2021-08-16 00:51] shaoboyan commented on #5467
@vladmandic Big thanks!

[2021-08-16 01:04] shaoboyan commented on #5482
@axinging Will adopt the recreate canvas context every time for now and mitigate to new API when it is released based on https://bugs.chromium.org/p/chromium/issues/detail?id=1239467#c5

[2021-08-16 01:29] arshdefoamed commented on #4763
hello is there an update on this?

[2021-08-16 01:56] wirlsawyer opened #5498 "Obtain a different model by converting the tensorflow JS (tfjs) to python (keras)"
**System information**
- Have I written custom code : [download](https://drive.google.com/file/d/10alQ8HIwix_EcWYLO6X8Jt5-rw1wA6PF/view?usp=drivesdk)
- OS Platform and Distribution : MacOS v11.0.1
- Mobile device : None
- TensorFlow.js installed from (npm or script link): script link https://unpkg.com/ml5@0.6.1/dist/ml5.min.js
- TensorFlow.js version (use command below): P5 v1.4.0, ML5 v0.6.1
- Br

[2021-08-16 05:53] qjia7 commented on #5496
@xhcao Please take a look, thanks.

[2021-08-16 07:11] qjia7 commented on #5494
@vladmandic Thanks for trying the webgpu backend. Sorry that the publish release one `0.0.1-alpha.7` hasn't been updated for a while. Recently, WebGPU changed a lot to reach the Chrome's origin trials (OT). So we did many changes to satisfy  them. So for now, we suggest build` tfjs-backend-webgpu` from main branch like you did. Currently, we still need 1~2 weeks to totally switch to use WGSL inste

[2021-08-16 16:28] KaivnD commented on #4811
+1

[2021-08-16 19:34] rthadur commented on #5498
Hi @wirlsawyer , we will not be supporting https://unpkg.com/ml5@0.6.1/dist/ml5.min.js as this is thrid party library , please reach out to ml5. You can follow these below using latest tfjs version
1) train the model and save using [model.save](https://js.tensorflow.org/api/latest/#tf.LayersModel.save).
2) then convert the model using tfjs-converter
3) Load the model in Keras using tf.keras.load_m

[2021-08-16 19:34] #5498 closed

[2021-08-16 19:34] rthadur commented on #5498
Closing this as this is not a bug or feature request for tfjs library.

[2021-08-16 20:03] rthadur commented on #5492
Thank you @evansrobert , submitted a fix , let's wait for PR to get reviewed.

[2021-08-16 20:13] rthadur commented on #4763
Hi @amicotin models are not accessible in chine using normal urls , please use  https://gstaticcnapps.cn/tfjs-models/  to load the models.

[2021-08-16 20:18] rthadur commented on #5467
Thank you , closing this issue as the PR has been merged and latest changes will be available in next release.

[2021-08-16 20:18] #5467 closed

[2021-08-16 20:25] rthadur commented on #5497
tf.unique is not implemented in tfjs-node, right now it is implemented for `cpu` and `webgl` only , here is a feature request which already exist here https://github.com/tensorflow/tfjs/issues/4595 , please comment on #4595 so that we can prioritize accordingly.

Thank you.

[2021-08-16 20:25] #5497 closed

[2021-08-16 20:37] rthadur commented on #5491
Have you tried using tflite for mobile version https://www.tensorflow.org/lite/examples/object_detection/overview ?

[2021-08-16 21:03] bibs2091 commented on #4595
Hello, any news relating to this feature? I think getting the unique values in a tensor in a core method and should be also implemented for node

[2021-08-16 22:32] Jove125 commented on #5491
rthadur,

I tried right now this model (COCO SSD MobileNet v1):
webgl backend - 1200 ms
wasm backend - 1100 ms

tf-js tflite - 570

In accordance with the Performance Benchmarks on Pixel 4 (https://www.tensorflow.org/lite/examples/object_detection/overview#performance_benchmarks), it should work 20 ms in a native application, and works on the web almost 30 times slower than the best option - tf-js

[2021-08-17 01:17] #5378 closed

[2021-08-17 02:29] KaivnD commented on #4811
After three month, anything new?

[2021-08-17 03:06] jomariya23156 opened #5501 "[Unhandled promise rejection: TypeError: undefined is not a constructor (evaluating 'new pose.Pose')]"
I am implementing Pose solution on React Native following the installation and usage from [this doc](https://github.com/tensorflow/tfjs-models/tree/master/pose-detection/src/blazepose_mediapipe). When I specified `{ runtime: 'tfjs' }` in `detectorConfig` variable, everything works fine. But I want to change runtime to 'mediapipe' since the performance table in the doc shows that the mediapipe runt

[2021-08-17 10:46] evansrobert commented on #5492
@rthadur Thanks for your feedback.

[2021-08-17 12:41] AmitMY commented on #5374
I would love to have it fixed in `3.9.0`, or at least maybe know how to debug this?

[2021-08-17 14:11] SahithiMeda commented on #5449
I have the same issue with the model.save() method which is giving ReferenceError: FormData is not defined.  In the node modules (node_modules\@tensorflow\tfjs-core\dist\tf-core.node.js) form-data is required

[2021-08-17 14:35] rthadur commented on #4811
Related PR has been merged , the change will be available in next release. Thank you

[2021-08-17 14:35] #4811 closed

[2021-08-17 16:58] #5492 closed

[2021-08-17 18:25] rthadur commented on #5470
you can use in the similar to posnet bounding box specified here https://github.com/tensorflow/tfjs-models/blob/master/posenet/demo/demo_util.js#L132

[2021-08-17 19:19] emsoneal commented on #5470
I just want to only get the bounding box points (two shoulders and two hips). I don't want to call estimatePoses to get all the 17 key points. I am thinking that might increase the performace of my application.

[2021-08-17 23:57] #5351 closed

[2021-08-18 04:41] AnranXu opened #5504 "Cannot convert model to tensorflowjs from tf hub"
I am using tensorflowjs_converter to convert a tflite model to tensorflowjs model.
The repository can be download with web browsers but failed when using tensorflowjs_converter.

[code]

It outputs an Http 404 but my connection is fine. When I run the example code it works fine and I downloaded it.
[code]

If you can tell me the reason or you can successfully convert tflite model from the followin

[2021-08-18 05:33] Sanket-Ghosh commented on #1238
Hi. I would like to work on the issue and it would be my first open source contribution. I would like to know if I could start working.

[2021-08-18 06:58] lina128 commented on #5470
Hi @emsoneal, do you need the bounding box for singlepose or multipose?

[2021-08-18 12:04] #5504 closed

[2021-08-18 13:49] carrycooldude commented on #5496
I can work on this if you say...

[2021-08-18 15:42] realrunner commented on #4514
Why is this closed? There is a workaround but it makes common development workflows tedious.

[2021-08-18 16:03] jayeshmann commented on #1085
@kangyizhang How can I begin to work on this?

[2021-08-18 16:32] gyagp commented on #5496
@carrycooldude, any contribution to WebGPU backend is highly appreciated! Once you have something ready for review, you may @qjia7 and we can invite other related reviewers. Thanks!

[2021-08-18 16:40] emsoneal commented on #5470
For singlepose!

[2021-08-18 22:54] mhays-google commented on #5501
It looks like you might be importing the type definition without also including the script.  Check your network tab of your browser and make sure you get a 200 response for pose.js (or if you are using a packager, for a script that includes pose.js in its entirety).  Before pose.js is loaded and executed, you will get exactly this error.

Let me know how it goes!

[2021-08-19 01:07] axinging opened #5506 "[webgpu]Remove tfjs-backend-webgpu/src/kernels/pool_webgpu_test.ts"
This case is specially for For PoolWithFilterSizeEqualsOneProgram.
And this case will fail wasm, Wasm bug: https://github.com/tensorflow/tfjs/issues/5471.
When wasm bug got fixed, removed it.

(And Xing will follow up this)

[2021-08-19 07:13] fv-yan commented on #4514
Yeah, hoping this issue can be re-opened. TF.js is the only dependency preventing me from having a native development experience for my projects, so it would be nice to see a proper resolution to this.

I'm currently using a libtensorflow binary compiled under x86/Rosetta 2. I tried compiling for darwin-arm64 but ran into issues with Bazel.

[2021-08-19 08:58] Caundy commented on #5475
Any chance of a follow-up?

[2021-08-19 14:35] rthadur commented on #5475
@Caundy thank you for the detail report , is the slowness happening for first load or every time , if it happens for first time it is expected and you may need to write a warm up code to optimize it before loading ?

[2021-08-19 16:01] abhinavchawla13 commented on #4715
@ahtrahdis7, any updates on it? Were you able to resolve it? I'm facing the same issue.

[2021-08-19 16:37] ahtrahdis7 commented on #4715
@abhinavchawla13 Sorry bro, I tried to fix that issue for about 3 months, with no positive results.

[2021-08-19 16:55] rthadur commented on #4715
Thanks for your patience , I had offline chat with @jinjingforever and he will be able to get to it next week. Thank you

[2021-08-19 17:50] pyu10055 commented on #5269
@MaximeKjaer The conversion from saved_model to tfjs_layers_model is possible, if the saved_model is created by TF keras API.
The corresponding input format is keras_saved_model

[code]

[2021-08-19 17:58] TylerLeonhardt opened #5508 "`RangeError: Maximum call stack size exceeded` executing specific model with a large input"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow.js): yes
- OS Pl

[2021-08-19 18:03] abcdan commented on #4514
Agree! I've decided to just not dev with TF.js on my mac and just use my windows pc

[2021-08-19 22:15] pyu10055 commented on #5374
@AmitMY I have tried your example and it does produce NaN after conversion.
But I have observed the same NaN weight in python, after loading the model.h5 directly in Tensorflow.
Can you verify if this model is fully trained? thanks

Here is the print out of the weight in question:
[code]

[2021-08-20 01:16] wingman-jr-addon commented on #5454
As another point of reference: I write a Firefox addon that spawns a "content page" for performing model processing, then have the background page interact with it over messages. The content page is more-or-less a normal web page and it blocks for several seconds during the model load and first inference with the WebGL backend as the shaders compile. Specifically, it blocks the entire browser: oth

[2021-08-20 05:15] AmitMY commented on #5374
Yes, I confirm that after running the colab, the model should be trained.
Performing inference on the model (in python) results in valid outputs, none-NaN images.

[2021-08-20 05:53] StarryJapanNight opened #5512 "onBatchEnd callback batch count"
When calling onBatchEnd with a batchSize = 1, and outputting the batch number, it counts to a number ~5x less than the number of input samples each epoch. I have confirmed the input tensor shape is correct.

[2021-08-20 07:12] BILLXZY1215 opened #5513 "[tfjs-react-native] react-native-unimodules is deprecated"
Here: https://github.com/expo/expo/tree/master/packages/react-native-unimodules
And actually when I installed `react-native-unimodules: 0.14.6` with `react-native: 0.64.2`, I got this:

[code]

[2021-08-20 07:23] AmitMY commented on #3152
Works for me too :) I just hope that it does not "cost" more compute to run it in training mode

[2021-08-20 08:26] BILLXZY1215 commented on #5513
Fixed.

It seems like I need to config react-native-unimodules manually:
https://docs.expo.dev/bare/installing-unimodules/

Because I built my project with bare rn, instead of expo.

And don't forget to install/config android ndk in the right place.

[2021-08-20 08:26] #5513 closed

[2021-08-20 09:42] Caundy commented on #5475
@rthadur Thanks for responding :)

To answer your question, I built the apk, ran it on the Nexus and ran a couple of consecutive model loads using the tf.loadGraphModel method to test the times.

The resulting load times are inconsistent, with the first load **not** taking significantly longer than the later ones.
While most of the time it takes ~61 seconds to load the model - regardless of whethe

[2021-08-20 12:28] vladmandic opened #5515 "dynamic input sizes are not working with movenet multipose model and tfjs-node"
[MoveNet MultiPose model](https://storage.googleapis.com/movenet/MoveNet.MultiPose%20Model%20Card.pdf) was released and published on [TFHub](https://tfhub.dev/google/tfjs-model/movenet/multipose/lightning/1)

model is advertised as working with dynamic input sizes, but that results in error during inference using `tfjs-node`:

[code]

editing input in `model.json` to use fixed size resolves the is

[2021-08-20 12:32] vladmandic opened #5516 "movenet-multipose model fails on inference using tfjs-backend-wasm"
[MoveNet MultiPose model](https://storage.googleapis.com/movenet/MoveNet.MultiPose%20Model%20Card.pdf) was released and published on [TFHub](https://tfhub.dev/google/tfjs-model/movenet/multipose/lightning/1)

but fails on inference using `tfjs-backend-wasm`:

[code]

no issues running model using `tfjs-backend-webgl`
i'm reporting this as an issue instead of a feature as the model is officially pu

[2021-08-20 14:30] huan opened #5517 "[tensorflowjs_converter] InvalidArgumentError: Cannot reshape a tensor with 1001 elements to shape [0,0] (0 elements)"
**System information**

- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):  Ubuntu 20.04
- TensorFlow.js installed from (npm or script link): `pip install tensorflowjs`
- Tensorflow.js Converter Version:

[code]

**Describe the current behavior**

[code]

**Describe the expected behavior**

Convert the frozen model to web format

**Standalone code to reproduce the issue**

[code]

**Other

[2021-08-20 17:05] sngrl commented on #2631
The same problem.
I see that it's regular situation on virtual private servers (KVM virtualization) when CPU does not support needable instructions, as like AVX.
How we can use last version of the TensorFlow on this "cutted" CPUs?

[2021-08-20 18:27] rthadur commented on #5374
Thank you , closing this issue for now, please @mention to reopen.

[2021-08-20 18:27] #5374 closed

[2021-08-20 20:03] rthadur commented on #5475
@Caundy did you get chance to look at this older issue https://github.com/tensorflow/tfjs/issues/2177 which was dealing with similar bundle issue ?

[2021-08-21 00:38] #5508 closed

[2021-08-21 07:16] jomariya23156 commented on #5501
I have check @mediapipe/pose package in node_modules and all files are there.
![Screenshot 2021-08-21 140823](https://user-images.githubusercontent.com/73450708/130313861-abeb74ec-55d7-4315-b616-f4333b7c97a8.jpg)
I also try changing `solutionPath` value in `detectorConfig` variable to
` const detectorConfig = {
      runtime: 'mediapipe',
      modelType: 'lite',
      solutionPath: 'https://cdn.j

[2021-08-21 10:52] Komal7209 commented on #322
Hi, @FenrirWillow , I just wanted to try my possibilities for solving this issue, but as I'm new to this repo, So could you please provide with link to the codebase where exact this issue is occuring, or any other  person who participated in this thread @GantMan  @pfernandom

[2021-08-21 13:26] sourabh112 commented on #1165
Hi, is anybody working on this issue? If not, I would like to work on this issue.

[2021-08-21 13:37] sourabh112 commented on #1100
Hi @bileschi, If no one else is working on it. Can I take this issue?

[2021-08-21 14:18] sourabh112 commented on #1100
@bileschi @Suhasnama I found the error in `tfjs/tfjs-layers/src/engine/training.ts/l129`, I have made the changes according to

But I didn't actually get what you meant in this comment.

Please elaborate on that. I will make the PR after that.

[2021-08-21 17:00] puranjayyadav commented on #1085
Hey, I'd like to solve this problem, can someone please tell me where to start from, it'll be of great help.

[2021-08-23 00:51] #5447 closed

[2021-08-23 08:09] sourabh112 commented on #1100
Hi @jinjingforever, I'm done with making changes in errors. Is there anything else I have to do? or Should I make the directly?

[2021-08-23 09:41] BILLXZY1215 opened #5520 "[tfjs-react-native] Image classification of Livestream in real-time"
**System information**
- TensorFlow.js version: 3.8.0
- tfjs-react-native version: 0.6.0
- Are you willing to contribute it (Yes/No): Yes

**Describe the feature and the current behavior/state.**

I wonder if there is a way to analyze the Livestream in real-time. For example, I've got a task to classify a mini object, such that the mobile's camera is not capable of doing that. In this case, I have

[2021-08-23 11:06] Caundy commented on #5475
@rthadur I believe the similarities end with both issues using the react-native package and bundled model files.

I'm not experiencing any issues using the bundleResourceIO method, as that handler resolves successfully and quickly.
I am experiencing extremely long model load times using the loadGraphModel method, which are either 61s or 25s to load the model, seemingly without any rule to it.

[2021-08-23 15:02] bileschi commented on #1100
Hi @sourabh112 , I no longer administer this project.  @pyu10055 is a better contact for the appropriate next step.  Good luck!

[2021-08-23 16:14] mattsoulanille commented on #5479
Fixed by #5502  (not sure why the automation didn't close it).

[2021-08-23 16:14] #5479 closed

[2021-08-23 16:27] sourabh112 commented on #1100
Hi @pyu10055, Can you please tell what would be the better error message? or check that the message provided by @bileschi is good enough.

[2021-08-23 17:02] pyu10055 opened #5522 "Migrate Typescript to 4.x"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**Describe the problem**
To Sync up with the internal TS version, we should upgrade the monorepo to TS 4.x
There

[2021-08-23 17:03] jinjingforever commented on #1100
@sourabh112 LGTM! Thanks! Please send a PR, and thanks for contribution.

[2021-08-23 18:17] sourabh112 commented on #1100
@jinjingforever, Sorry for the late reply. I have made the PR. Can you please review it? It is my first PR in tfjs. so, Please guide me if I'm wrong somewhere.

[2021-08-23 18:33] lina128 commented on #3457
Link https://github.com/tensorflow/tfjs/issues/3455

[2021-08-23 18:58] rthadur commented on #5520
You can use tf.data.webcam https://js.tensorflow.org/api/latest/#data.webcam to live stream , please check

[2021-08-23 20:10] rthadur commented on #5517
Frozen models are not supported in latest versions. Thank you

[2021-08-23 20:10] #5517 closed

[2021-08-24 02:54] BILLXZY1215 commented on #5520
Thanks a lot! This is cool, however, I notice that it is only working for webcams (usually link to PC by USB), instead of ip cameras (directly access live streams from a URL under the same network). I'm not quite sure if I could just input the live stream URL (such as RTSP, MJPEG) to `tf.data.webcam`, it seems that the method only accepts input of a DOM element such as `document.createElement('vid

[2021-08-24 03:38] huan commented on #5517
Hi @rthadur ,

Thanks for the reply.

I think the `frozen models` are still supported according to the help message of tensorflowjs_converter 3.8:

[code]

We can see **tf_frozen_model** is listed in the `input_format`.

And also, I can reproduce this problem in the older version of tensorflowjs_converter with version 0.8.5, and the following is the reproduce steps that have the exact same error m

[2021-08-24 09:13] BILLXZY1215 commented on #5520
I think this is really close to the use of `cameraWithTensors`:

https://js.tensorflow.org/api_react_native/0.6.0/#cameraWithTensors

If the `onReady` function could be used for a Livestream URL, everything will be perfect. 🤔

[2021-08-24 16:04] nimishdesai1989 commented on #4638
Hello All. I have ensured I am using the latest version of the tfjs and tfsj-converter. I still get the same error.

below are my dependencies added

"dependencies": {
    "@tensorflow/tfjs": "^3.8.0",
    "@tensorflow/tfjs-converter": "^3.8.0",
    "@tensorflow/tfjs-core": "^3.8.0",
    "@tensorflow/tfjs-node": "^1.7.4",
    "react": "16.5.2",
    "react-dom": "16.5.2",
    "react-magic-dropzone"

[2021-08-24 17:03] jinjingforever commented on #5491
Sorry, I haven't looked into this.. Will keep this open for now and take a look when I have more bandwidth.

[2021-08-24 17:18] cardstdani commented on #3728
I fixed it by adding this parameter at the conversion command: --output_format=tfjs_graph_model

After that, I loaded the model as Graph in the JavaScript code of the website. I hope it's useful

[2021-08-24 17:54] jinjingforever commented on #5491
Hi @Jove125, I had a brief chat with our TL. We do see some performance issues with self-trained ssd mobilenet models, and we probably need to invest more time on optimization. For now, you can take a look at [here](https://github.com/tensorflow/tfjs-models/tree/master/coco-ssd#technical-details-for-advanced-users) for some optimization ideas (for converted TFJS model). Thank you!

[2021-08-24 18:54] rthadur commented on #5517
As mentioned [here](https://github.com/tensorflow/tfjs/tree/master/tfjs-converter#conversion-flags) it is supported for backward compatibility and we don't think we will be supporting older tfjs(0.86) and tenforflow(1.13) anymore.

cc @pyu10055 @lina128

[2021-08-24 19:42] rthadur commented on #5172
@josephzonghaozhu sorry for the delay , were you able to run the model before converting ?

[2021-08-24 20:09] rthadur commented on #5250
This was changed here from string to boolean here https://github.com/tensorflow/tfjs-models/pull/161/files but was not updated in the above [example](https://github.com/tensorflow/tfjs-models/tree/master/knn-classifier) , I have created a PR and made it `true` by default.

[2021-08-24 20:21] #5250 closed

[2021-08-25 01:22] josephzonghaozhu commented on #5172
Thanks for taking a look!

I was able to run the model with no issues before converting, I added an example at the bottom of the colab

[2021-08-25 07:22] puranjayyadav commented on #1085
@pyu10055 Can I please get this issue to solve?

[2021-08-25 07:23] jayeshmann commented on #1085
@pyu10055

[2021-08-25 08:41] TheUltragon commented on #5371
Why was this issue closed? Was it resolved? I dont see any changes in those particular parts of the codebase reflecting that, nor do I see my pull request being accepted.

[2021-08-25 08:59] shaoboyan opened #5529 "[tfjs-backend-webgpu] Fail to build webgpu backend after upgrading @webgpu/types to version 0.1.6"
After upgrading `@webgpu/types to 0.1.6` in `package.json`, I got build error messages below:
[code]
Notice that build works fine if we use `@webpu/types` version 0.1.4.
The error is report from `@rollup/plugin-typescript` and a simple fix by upgrading `@rollup/plugin-typescript` to latest version still cannot fix it.

@kainino0x Do you have any suggestions?

[2021-08-25 09:37] Sly-Little-Fox commented on #5529
I think it may be because `@webgpu/types@0.1.6` is not for the version of `webgpu` that `tfjs-backend-webgpu` uses. I'm not sure though.

[2021-08-25 11:04] josephrocca opened #5530 "tflite: tfjs-backend-cpu: Uncaught TypeError: Cannot read property 'whereImpl' of undefined"
**System information**
- OS Platform and Distribution: Ubuntu 20.04
- TensorFlow.js version: Latest as of writing
- Browser version: Chrome 92

The "Via a script tag" instructions from [the tfjs-tflite readme](https://www.npmjs.com/package/@tensorflow/tfjs-tflite/v/0.0.1-alpha.2) don't work:
[code]
![image](https://user-images.githubusercontent.com/1167575/130779524-4ba81071-3195-40d1-8190-549cd57

[2021-08-25 11:15] josephrocca opened #5531 "[tfjs-tflite] ERROR: failed to delegate CONV_2D node #2"
**System information**
- OS Platform and Distribution: Ubuntu 20.04
- Browser version: Chrome 92

The following code fails with a bunch of errors:
[code]

![image](https://user-images.githubusercontent.com/1167575/130780608-8868d2ac-e772-4f4d-b53d-407778e575fc.png)
...
![image](https://user-images.githubusercontent.com/1167575/130780933-6b35b6ba-0ff4-4dc5-ab7a-a3cd0b982de5.png)

[2021-08-25 11:42] nimishdesai1989 commented on #4637
hello @pravastacaraka : i am still getting this error on using the ssd_mobilenet v2 model.

![22399021-BB51-4439-A318-AA0C18A7CE58](https://user-images.githubusercontent.com/67813597/130784452-eaff2d6d-ef7f-4aeb-bb82-4ac11019d443.jpeg)

I used the repo and training from tensorflow blog below.
https://blog.tensorflow.org/2021/01/custom-object-detection-in-browser.html

Is there any help you all can

[2021-08-25 12:08] marcelklehr commented on #4927
Just ran into the same problem!

[2021-08-25 14:02] xhcao commented on #5496
Hi, @carrycooldude Are you implementing these kernel ops? You could submit several patches, and each patch only implements one kernel op.
I know It is difficult to implement these ops, if you have some problems, we could discuss the solutions.

[2021-08-25 16:13] carrycooldude commented on #5496
Sure @xhcao I started working on it, I will let you know if I having any issue and Also If possible can you make a project tab for me for the missing kernels

[2021-08-25 18:37] Michael-F-Bryan opened #5532 "Unable to use the @tensorflow/tfjs-tflite package outside of a web browser"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Arch Linux
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: N/A
- TensorFlow.js installed from (npm or script link): `yarn add @tensorflow/tfjs-tflite@0.0.1-alpha.4`
- TensorFlow.js version: N/A
- CUDA/cuDNN version: N/A

**Describe the problem**

The `@tensorflow/tfjs-t

[2021-08-26 00:10] bibs2091 opened #5534 "Are there are any nightly version of tfjs-node?"
Hello,

I want to install a version of tfjs/tfjs-node that contains the current bug fixes that are in the master **now** (or maybe in the future), are there are any **nightly tfjs** versions to install directly from npm (or any other way) so I can use it?

Thank you.

[2021-08-26 08:17] qjia7 opened #5536 "webgpu: fromPixels for HTMLVideoElement related cases fail to execute 'importExternalTexture'"
Run `yarn test` under tfjs-backend-webgpu.
Expect all cases pass. However, below cases fail:
[code]
However, if I change flag `WEBGPU_USE_IMPORT` to false, above case can pass. It seems that the import path has   problem.
cc @shaoboyan

[2021-08-26 11:58] AmitMY opened #5537 "Inconsistent Inference Performance"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow.js): **Yes**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): **Windows**
- TensorFlow.js installed from (npm or script link): **npm**
- TensorFlow.js version (use command below): **3.8.0**
- Browser version:  **"5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTM

[2021-08-27 08:05] BruceDai opened #5539 "Support L2-Pooling."
Hi,
Is there any plan to support L2-Pooling?  Thanks.

Link https://github.com/webmachinelearning/webnn-polyfill/pull/112.

[2021-08-28 02:03] huningxin opened #5546 "tf.fused.conv2d doesn't support 'NCHW' data format"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow.js): No
- OS Pla

[2021-08-28 03:09] TricolorHen061 commented on #2631
Can you please tell us what to replace it with? Replace it with the contents of what folder?

[2021-08-28 12:37] vladmandic commented on #5546
Just my $0.02, almost none of TFJS ops support any other format than *NHWC* (which is defacto a standard for TF in general), not just `Conv2D`. And it's easy (and fast) to transpose tensor before using it. Even in TF itself (using Python bindings), very few ops support anything other than *NHWC* (although more than in TFJS).

[2021-08-28 20:00] sourabh112 commented on #5452
@rthadur Thanks for the opportunity and sorry for the late reply. I was making myself comfortable with the code of the advanced activation layer. In order to accommodate the sigmoid layer in advanced activation layers. I just need to make some changes to the` exports_layers.ts` and `advanced_activations.ts` files. I will make a PR hopefully by tomorrow. with these changes with a working example. A

[2021-08-28 20:06] sourabh112 commented on #5452
@rthadur As for the ranged sigmoid function suggested by @bibs2091 might be a difficult task because (As per my knowledge) there is no file related to the ranged sigmoid activation function and I have to implement that from scratch. In doing so, I would need some (Actually a lot in the tfjs-core part where actually these functions start) help. If you allow doing that, then I will do that in the sa

[2021-08-29 03:55] bibs2091 commented on #5452
@rthadur the implementation of SigmoidRange is in this pull request https://github.com/tensorflow/tfjs/pull/5548 ,
 kindly review it it and tell me what do you think.

@sourabh112  I am sorry I did not notice that you have been assigned, I already started working on the issue days ago and I wrote in my issue that I am ready to contribute to the idea.

[2021-08-29 04:10] sourabh112 commented on #5452
@bibs2091 No problem, I was just starting to work on it. And after going through your PR. I got to know that I was on quite a bit wrong path. And sorry for not reading the last line of the issue.

[2021-08-29 05:20] sourabh112 opened #5550 "Test cases missing for error detection in tfjs-layers (In many functions)."
There are a lot of test cases missing for error detection in tfjs-layers. Some are already added as an issue but others are not yet reported.
Are you willing to work on this: Yes
These are my initials findings for missing error detection test-cases:

- Check Input Data function
- Model.Summary
- Model.Compile
- standardizeDataIteratorOutput

[2021-08-29 05:21] sourabh112 commented on #5550
I have made tests for the following functions. If anyone can confirm that these are missing. I will make a PR for these. And If anyone wants to add more missing test cases.

[2021-08-29 05:31] Sreejan100 commented on #1238
@caisq  I have created a pull request please look into it

[2021-08-29 11:57] tiandeyu-github opened #5551 "In compiling `tfjs-backend-wasm`, emscripten will always use a default Python 3.5, which will cause a syntax error in `emcc.py`"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 16.04
- Mobile de

[2021-08-29 13:39] mdaj06 commented on #822
@tafsiri is this issue still open?

[2021-08-29 15:49] AmitMY commented on #5537
This is due to it being performed on the main thread.
Moved to a WebWorker, now exhibiting a very high data transfer time but at least it is consistent.
(It takes 110ms round trip. 35ms to perform `fromPixels`, 11ms to perform model inference.)

[2021-08-29 15:49] #5537 closed

[2021-08-29 16:03] AmitMY commented on #4218
When having a canvas with `2d` context, despite using `webgl` as the `tfjs` backend, the `fromPixels` method still takes 25ms+.
I could not find a way to perhaps copy my canvas with existing context to a new canvas in order to have a `webgl` context.

[2021-08-30 00:02] abhinavchawla13 commented on #4715
@jinjingforever, @rthadur any updates on it?

[2021-08-30 06:57] sourabh-choudhary0 commented on #1238
@caisq @Sreejan100 @davidsoergel Can I try working on this too? This will be my first open-source project So, I might need your guidance.

[2021-08-30 09:09] sourabh-choudhary0 commented on #1238
@caisq @Sreejan100 @davidsoergel I have made the changes. Should I make a PR? It is failing on 51-32 test cases sometimes but other times it passing all of them.

[2021-08-30 17:41] jinjingforever commented on #4715
Sorry for the delay @abhinavchawla13, I was too busy last week. Will take a look this week

[2021-08-30 22:07] mattsoulanille commented on #5534
Hi @bibs2091, and thanks for the question! While we don't publish any nightly releases to npm right now, you can build a more recent release of tfjs and tfjs-node yourself and link them to your project. Details on how to build them are available in the [development doc](https://github.com/tensorflow/tfjs/blob/master/DEVELOPMENT.md#packaging-browser-and-npm), but the following commands should build

[2021-08-31 01:23] vladmandic commented on #5401
@jinjingforever @rthadur why not dynamically generate document as part of release process?
here's a simple gist that generates html table with format similar to one you've shared on google docs:
<https://gist.github.com/vladmandic/fc5ac32235c4c76e0992dab2260d10b1>

[2021-08-31 01:37] vladmandic commented on #4218
@AmitMY in my tests, only first call to `fromPixels` takes ~25ms when using `WebGL` backend as GLSL needs to be initialized
if doing 1000 calls using `HTMLVideoElement` as input (webcam in full-hd), it takes <2ms per each frame

btw, I've tried mixing GL and CPU or WASM backends (it can be done in a weird way), but the issue is that with GL `fromPixels` all ops and data happen on GPU and tensor is

[2021-08-31 07:49] aravindvnair99 opened #5560 "AutoML release request"
We can release a new version with the latest tfjs dependency if that’s what you need. Please keep an eye in the next few weeks.

_Originally posted by @lina128 in https://github.com/tensorflow/tfjs/issues/5256#issuecomment-886082504_

AutoML is still stuck with old and outdated dependencies which causes issues when using npm 7 due to peer dependencies. I request it be updated a new release be made

[2021-08-31 16:18] jinjingforever commented on #5401
@vladmandic Thanks for the gist! We actually have an app script (similar to yours) embedded in the spreadsheet above that generates the content automatically. But your gist seems to be a better way to be integrated with the build/release process. I will discuss with the team about this. Thank you!

[2021-08-31 16:28] rthadur commented on #5401
Thank you @vladmandic , this is very useful.

[2021-08-31 18:57] vladmandic commented on #5401
btw, here's a live link on git pages: <https://vladmandic.github.io/tfjs-utils/src/kernels.html>

[2021-08-31 19:05] jinjingforever commented on #5401
@vladmandic this is awesome! Thank you!

[2021-08-31 20:25] #4763 closed

[2021-08-31 20:25] #5389 closed

[2021-08-31 21:50] xczvvdbxgfh opened #5564 "after this update now getting a note: cpu backend was already registered. Reusing existing backend factory."
never happened until this library updated ~1 hour ago from creating this issue

[2021-09-01 05:41] gyagp commented on #5401
Question on kernel "FromPixels": Now it's implemented in WebGL and WebGPU backends, but the rest implementation is in tfjs-core (with some level of duplication in ). Why not make its implementation as normal as other kernels (i.e., in backends rather than in core)?

[2021-09-01 06:09] BruceDai opened #5566 "Latest released @tensorflow/tfjs-core 3.9.0 missed some files."
Current @tensorflow/tfjs-core 3.9.0 only have following
[code]

while @tensorflow/tfjs-core 3.8.0 had
[code]

[2021-09-01 06:09] BruceDai commented on #5566
Link https://github.com/webmachinelearning/webnn-polyfill/issues/114

[2021-09-01 09:44] Jove125 commented on #5491
jinjingforever, thanks, I've already seen these optimization ideas.
Are there any optimization ideas for the tflite model (for web)?
And are there any planned timelines to optimize the performance of this solution?
Thank you!

[2021-09-01 11:40] zhangsipeng opened #5569 "Is model bodypix support in reactnative expo android mobile app?"
The problem above is challenging my projects critically? Please help if you could~

[2021-09-01 12:10] zhangsipeng commented on #5569
@tylerzhu-github  can you help me with this question? thanks

[2021-09-01 14:06] #5564 closed

[2021-09-01 16:08] Novalis15 commented on #5501
I have the same issue. The Problem seems to be [here in Line 17 and 42](https://github.com/tensorflow/tfjs-models/blob/master/pose-detection/src/blazepose_mediapipe/detector.ts). When i try to `import * as pose from '@mediapipe/pose'`, and print `pose`, an empty object gets printed out. I get some Intellisense in VSCode though, so i guess @mhays-google you are right, however this seems to be a pro

[2021-09-01 16:54] jinjingforever commented on #5491
Hi @Jove125, sorry we don't have a timeline for this work now. I will bring this up in our team meeting and hopefully it can be prioritized in the future.

[2021-09-01 16:55] jinjingforever commented on #5491
Will keep this open for now.

[2021-09-01 16:57] jinjingforever commented on #5401
@gyagp I think there is some historical reason behind this, but @pyu10055 might have more context on this.

[2021-09-01 17:44] suneeltechnew opened #5571 "getting error while using '@tensorflow-models/mobilenet' in bare react-native project."
I am getting error while using '@tensorflow-models/mobilenet' in bare react-native project.
I am referring this documentation: https://blog.tensorflow.org/2020/02/tensorflowjs-for-react-native-is-here.html
my code is as below :

[code]
The error I am getting is:
![image](https://user-images.githubusercontent.com/88646798/131718300-0e2ecc88-0e11-4091-abb6-57281a505b51.png)

Please let me know How c

[2021-09-01 19:40] mattsoulanille commented on #5566
Thanks for the bug report! This is actually intentional as part of the Bazel build migration. We omitted TS source files (along with other files) in the most recent release because they are not used by downstream packages (although it seems like your package is an exception).

In the issue you linked, I noticed you're using `@tensorflow/tfjs-core/src/ops/conv_util`. Could you instead import `@tens

[2021-09-01 22:21] #286 closed

[2021-09-01 22:26] rthadur commented on #322
We will not be supporting posenet in future , please check out movenet

[2021-09-01 22:26] #322 closed

[2021-09-01 22:36] rthadur commented on #427
This is resolved in latest versions , closing this issue.

[2021-09-01 22:36] #427 closed

[2021-09-01 22:38] #444 closed

[2021-09-01 22:41] #566 closed

[2021-09-01 22:42] rthadur commented on #611
We will not support this. Closing this feature request

[2021-09-01 22:42] #611 closed

[2021-09-01 22:46] rthadur commented on #616
Posenet will not be supported in future , please refer to movenet  model in future.

[2021-09-01 22:46] #616 closed

[2021-09-01 23:12] #655 closed

[2021-09-01 23:15] rthadur commented on #664
Closing this request as we are more focussed on loading pre trained models not the training the models anymore. Please @me if you still need this request, I will reopen.Thank you

[2021-09-01 23:15] #664 closed

[2021-09-02 00:32] konstantinlois opened #5572 "loadLayersModel crashes in React Native without an error"
I am trying to load a tensorflow model in React Native. If I use tfjs in normal React, everything works fine, but in React Native the app crashes (strangely without an error).

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: Android emulator as well as physic

[2021-09-02 01:12] haoyunfeix opened #5573 "Propagates NaNs failure on WebGL1"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow.js): No
- OS Pla

[2021-09-02 02:52] BruceDai commented on #5566
Thanks much @mattsoulanille. It works for my case.

[2021-09-02 02:52] #5566 closed

[2021-09-02 08:38] xhcao commented on #5496
Hi, @carrycooldude, How many operators had been implemented? Do you need help from me to implement them? I think @vladmandic is waiting us to implement these operator, and verify it work on his refactoring. https://github.com/tensorflow/tfjs/issues/5468
You could refer the implementations from webgl backend to implement the first version and optimize them in feature.

[2021-09-02 12:14] neso613 opened #5574 "How to convert microphone input(arraybuffer/blob/audio in javascript) to tensor for inference at browser?"
Hi tensors,
I have recently started working on TensorflowJS. Agenda is to make web app for speech model.
But I am confused and getting stuck, How to preprocess speech(microphone) input?
In python, we have packages to preprocess the input. But how can I convert microphone input ( from browser, it is ArrayBuffer or Blob) into tensors.

Some suggestions will be very appreciated. Thanks.

[2021-09-02 12:57] carrycooldude commented on #5496
Can you give me some PR for reference

[2021-09-02 14:56] timekarma opened #5575 "Codelab on Tensorflow js"
https://codelabs.developers.google.com/codelabs/tensorflowjs-nodejs-codelab/#2
Has references to link to tfjs-node is deprecated - this codelab needs to be updated
_Install Node.js and npm. For supported platforms and dependencies, please see the tfjs-node installation guide._

[2021-09-02 17:34] konstantinlois commented on #5572
I spend some time on debugging this. I created two completetly fresh projects:
1. one project with **npx react-native init**
2. one project with **npx create-react-native-app**

The project using create-react-native-app works, while the project with react-native init does not. For both projects I exactly followed the installation instructions. The only difference was, that create-react-native-app

[2021-09-02 18:09] #682 closed

[2021-09-02 18:11] #698 closed

[2021-09-02 18:11] #716 closed

[2021-09-02 18:11] #803 closed

[2021-09-02 18:13] #283 closed

[2021-09-02 18:24] Electric-Dragon opened #5577 "ValueError: Unsupported Ops in the model before optimization StringSplitV2, StaticRegexReplace, StringLower, RaggedTensorToTensor"
**My Environment**

Tensorflow.js version: 3.9.0

Environment: Google Colab GPU Instance

Imported libraries during conversion: tensorflow, tensorflowjs, tensorflow_io, tensorflow_text

---

**Model Structure**

[code]

---

**The Problem**

I tried to convert a tensorflow saved model to a tensorflowjs model with
[code]

It failed due to unsupported ops

[code]

---

Can you please help me with th

[2021-09-02 18:46] rthadur commented on #5575
Submitted the change internally , will be updated once the change is merged. Thank you so much

[2021-09-02 18:46] #5575 closed

[2021-09-02 18:55] vladmandic commented on #5577
just my $0.02 - like it says, `tensorflowjs_converter` does not support kernel ops used by your model:
`StringSplitV2`, `RaggedTensorToTensor`, `StringLower`, `StaticRegexReplace`

in reality, those methods are part of `tf.strings` namespace and intended mostly as string handling helper methods
and not meant to be used inside compiled models

except for `RaggedTensorToTensor` which is part of bran

[2021-09-02 19:25] #5269 closed

[2021-09-02 20:01] mattsoulanille opened #5578 "Jasmine tests must be run in-order"
This is very low priority, and might not even be considered a bug. I discovered this while working on the Bazel refactor, and thought it should be documented. Feel free to close it if this seems unimportant.

**Describe the current behavior**
Jasmine tests must be run in-order to pass. For example, see the [WEBGL_FLUSH_THRESHOLD tests
](https://github.com/tensorflow/tfjs/blob/86d89eef18b0ac8c81faa

[2021-09-02 20:19] BitBonker commented on #3550
I was getting the same error and solved it by placing the tensor argument into an array in the following function:

`
 @tensorflow/tfjs/dist/tf.node.js
/**
 * Stacks a list of rank-`R` `tf.Tensor`s into one rank-`(R+1)` `tf.Tensor`.
 *
 * ```js
 * const a = tf.tensor1d([1, 2]);
 * const b = tf.tensor1d([3, 4]);
 * const c = tf.tensor1d([5, 6]);
 * tf.stack([a, b, c]).print();
 * ```
 *
 * @param t

[2021-09-02 23:33] jinjingforever commented on #4715
Hi @abhinavchawla13, I took a look at this issue and looks like the key is to figure out the relationship between camera texture and camera preview, how to position and size them, etc.

I extracted the pose detection demo to make it more self-contained, and replaced the old posenet with the newer [movenet](https://github.com/tensorflow/tfjs-models/tree/master/pose-detection) model. Here is the [re

[2021-09-02 23:35] Electric-Dragon commented on #5577
So what should I do now if I want to convert the model to TFJS?

[2021-09-02 23:38] jinjingforever commented on #5433
Hi @Sabit-Ahmed, thanks for the report! It is indeed confusing to figure out how different dimensions work together.

I created a demo for movenet + react native. Here is the [repo](https://github.com/jinjingforever/tfjs-react-native-pose-detection) you can check out. It should correctly render the results for any camera preview sizes ([screenshots](https://photos.app.goo.gl/JngVWy3DoN2DSx696)). H

[2021-09-03 05:08] BenjaminWegener commented on #283
Is it implemented now? Thanks.

[2021-09-03 06:20] ahtrahdis7 commented on #4715
@jinjingforever thanks for resolving this.

[2021-09-03 12:40] dronus commented on #1213
Also you have to be aware that CPU profiling is somewhat flawed in respect to tensorflowjs: As WebGL is used here for major calculations, a lot of GPU jobs are created, which will be run in parallel by the graphics driver. The time those computations take however are only visible if the CPU syncs to them, eg, by reading back the result into a JS variable. So multiple large calculations may be sche

[2021-09-03 13:38] xhcao commented on #5496
@carrycooldude Below links implement these kernels on webgl backend, you could refer them.
https://github.com/tensorflow/tfjs/blob/master/tfjs-backend-webgl/src/kernels/TopK.ts
https://github.com/tensorflow/tfjs/blob/master/tfjs-backend-webgl/src/kernels/SplitV.ts
https://github.com/tensorflow/tfjs/blob/master/tfjs-backend-webgl/src/kernels/FlipLeftRight.ts
https://github.com/tensorflow/tfjs/blob/

[2021-09-03 14:00] carrycooldude commented on #5496
Thanks I will start working on this

[2021-09-03 15:58] abhinavchawla13 commented on #4715
@jinjingforever, thank you so much! This is super helpful, especially the comments around the sizing. 🙏

[2021-09-03 17:23] jinjingforever commented on #5531
Hi, I just published a new version of the `tfjs-tflite` package (0.0.1-alpha.6) which should fix this problem. See this [demo](https://codepen.io/jinjingforever/pen/XWgbzQR). The model is a little bit slow but it works:) It might get a bit faster if you set up your server for [cross-origin isolation](https://github.com/tensorflow/tfjs/tree/master/tfjs-tflite#performance) (codepen doesn't support i

[2021-09-03 17:23] #5531 closed

[2021-09-03 17:39] rthadur commented on #927
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2021-09-03 17:39] #927 closed

[2021-09-03 17:41] #962 closed

[2021-09-03 17:41] #970 closed

[2021-09-03 17:42] rthadur commented on #982
@ahmedsabie  is it possible to verify this ? Thank you

[2021-09-03 17:46] #1045 closed

[2021-09-03 19:53] #921 closed

[2021-09-03 19:55] #955 closed

[2021-09-03 19:59] rthadur commented on #987
New issue has been created here https://github.com/tensorflow/tfjs/issues/5205 to track , will close this issue.

[2021-09-03 19:59] #987 closed

[2021-09-03 20:02] rthadur commented on #1049
This has been implemented and closing this issue. Thank you

[2021-09-03 20:02] #1049 closed

[2021-09-03 20:05] rthadur commented on #1085
This is not required as we have bundled all the dependencies under tfjs and there will be bazel which will take care of this from future releases.

[2021-09-03 20:05] #1085 closed

[2021-09-03 20:07] rthadur commented on #1165
@sourabh112 please go ahead with the changes , thank you for your interest.

[2021-09-03 20:08] rthadur commented on #1176
Here are the steps https://github.com/tensorflow/tfjs/blob/master/CONTRIBUTING_MISSING_OP.md which will help in contributing to new ops , thank you

[2021-09-03 20:10] #1198 closed

[2021-09-03 20:10] #1200 closed

[2021-09-04 02:51] josephrocca commented on #5531
Thank you!

[2021-09-04 04:35] shkr commented on #1370
Commenting here, to increase priority

[2021-09-04 04:35] shkr commented on #1370
The doc instructions don't work, unable to build tfjs using bazel on ubuntu 20.04 that is running on my raspberry pi 4.

[2021-09-04 17:24] TheOsch commented on #5159
Please excuse me for the disappearance - there were other urgent projects I had to switch to, I had no choice. Now I'm back, and I want to finish it.
Today I've reproduced the ELM example completely at that ObservableHQ page, and saw the results similar to those from the original Kaggle page, but when I republished and reloaded the page the problems began to appear one by one. First, it loads too

[2021-09-04 18:54] HDegroote commented on #5449
If anyone has an intuition as to what the underlying problem could be and could point me in the right direction, I'd be more than happy to try my hand at fixing this

[2021-09-05 05:19] AmitMY opened #5584 "Breaking Change v3.8.0 => v3.9.0"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow.js): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows
- TensorFlow.js installed from (npm or script link): npm
- TensorFlow.js version (use command below): 3.9.0

**Describe the current behavior**

Upgraded from 3.8.0 to 3.9.0, and typescript throws an error:

[2021-09-05 06:40] Dhruvagwal commented on #283
@BenjaminWegener not yet

[2021-09-05 10:43] ArtemGr commented on #5159
Nice!

Probably due to running on CPU. Loads much faster on `gpu-chrome.exe`.

![image](https://user-images.githubusercontent.com/41847/132123759-12d3d89a-3bf4-4319-8e05-816580c494af.png)

A workaround might be to train on a small subset of the dataset while the example is in development.

I don't see why, a simple terminal output would work just fine.

I'm good either way!

It's also useful somet

[2021-09-06 06:47] vcucu commented on #1739
You can solve it by replacing all "kernel_initializer" with "depthwise_initializer", "kernel_regularizer" with "depthwise_intializer" and "kernel_contraint" with "depthwise_constraint" in  model.json file.

[2021-09-06 15:00] TheOsch commented on #5159
This is because I forgot to remove a debugging line from the **invertedMatrix** function. I republished the fixed code, now it should work, but it's still too slow (I don't have a discrete video card).

Probably it would lead to much less accurate result. I think I would not try it.

Wonderful. After all, all the code will be exposed anyway.

There are some problems in Observable  itself. While I

[2021-09-06 15:49] onuryuruten commented on #3735
Hey there, are there any updates on this? It would be super cool to have this feature 💯

[2021-09-06 21:42] dkirkby opened #5588 "[Codelab]: Making Predictions from 2D Data"
The MNIST labels in https://storage.googleapis.com/learnjs-data/model-builder/mnist_labels_uint8, used in [this tutorial](https://codelabs.developers.google.com/codelabs/tfjs-training-classfication/index.html#2) appear to mostly zeros with a few ones:
[code]
However, I expected to see values 0-9.

[2021-09-06 21:45] dkirkby commented on #5588
I see the same (incorrect) 0,1 labels stored by this code from [data.js](https://raw.githubusercontent.com/tensorflow/tfjs-examples/master/mnist-core/data.js):
[code]

[2021-09-07 00:14] dkirkby commented on #5588
Never mind, I just realized this is already 1-hot encoded.

[2021-09-07 00:14] #5588 closed

[2021-09-07 04:10] NonlinearNimesh opened #5590 "Uncaught (in promise) Error: Unknown initializer: GlorotUniform"
Hi, i was trying to load the model in tensorflowjs web app, but when i try to load the model.json file i am getting this below error, i look for this issue here but none of them revolve it
[code]

This is how i am loading my model
[code]

And the model i am trying to load is the below keras model :
[code]

Can anyone please help me

[2021-09-07 17:25] pyu10055 commented on #5484
@yangshengdong can you try this within the node_modules/@tensorflow/tfjs-node directory?
[code]

[2021-09-07 17:41] rthadur commented on #5574
please check this codelab https://codelabs.developers.google.com/codelabs/tensorflowjs-audio-codelab#0 , Thank you.

[2021-09-07 17:41] #5574 closed

[2021-09-07 17:53] rthadur commented on #5573
In order to expedite the trouble-shooting process, please provide a code snippet to reproduce the issue reported here. Thanks!

[2021-09-07 18:35] davayd commented on #5584
Same issue

[2021-09-07 19:12] rthadur commented on #5590
Please use latest version of tfjs(v3.9.0) and try to load it , the issue has been resolved in latest version.

[2021-09-07 19:30] rthadur commented on #4715
@ahtrahdis7 can we close this issue ?

[2021-09-07 19:43] rthadur commented on #5571
please check here for related issue https://github.com/tensorflow/tfjs/issues/5167 , thank you

[2021-09-07 19:58] timekarma commented on #4280
This is a very common issues, most of the tfjs-examples models cannot e saved, ex jena-weather, boston-housing

[2021-09-07 20:01] #3550 closed

[2021-09-07 20:07] rthadur commented on #5569
You can use movenet instead of bodypix , please check out this demo https://github.com/jinjingforever/tfjs-react-native-pose-detection here , thank you

[2021-09-08 06:14] ahtrahdis7 commented on #4715
@jinjingforever The repository you provided, It doesnot work well with android. I tested it now and found some issues with it.
- With `autorender={false}`, the camera preview is not re-rendered or updated.
- With `autorender={true}`, The camera preview and the skeleton does not coincide.
- WebGl is not getting configured with Expo, this will probably be resolved by using native installation and bu

[2021-09-08 11:47] mdaj06 commented on #1165
@sourabh112 if you are stuck somewhere could i help? Or if you are busy at the moment can i pick it up?

[2021-09-08 12:03] sourabh112 commented on #1165
@mdaj06 Thanks for tagging me. My semester has started and I totally missed updates this issue. I'm busy right now and can't take on this issue for now, you can go ahead and work on it.

[2021-09-08 12:09] mdaj06 commented on #1165
@sourabh112 sure no problem! @rthadur i'll have a go at this issue then

[2021-09-08 13:25] SahithiMeda commented on #5449
https://www.npmjs.com/package/form-data says from version 3.x FormData has dropped support for node@4.x. Not sure, but this might be the reason for the reference error.

[2021-09-08 15:01] abhinavchawla13 commented on #4715
@jinjingforever , I tried it out as well on Android (OnePlus 6T) and an iPad - same issues as @ahtrahdis7 mentioned. I do not need `autorender` to be set `true` for iOS but do need it for Android. And on both, the alignment is coming out to be incorrect.
Also, I had to upgrade to use `"expo-camera": "^11.2.2"` for the camera to load properly and to resolve TS errors.
Any help would be appreciated,

[2021-09-08 16:56] jinjingforever commented on #4715
Thanks for testing it @ahtrahdis7 and @abhinavchawla13! I will try to test it more on Android/iPad and will report back (probably next week). Thanks!

[2021-09-08 16:59] mattsoulanille commented on #5584
Looks like `hash_util.d.ts` somehow lost its reference types triple slash. Here it is at 3.8.0:

[code]

It [should have been automatically added by tsc](https://www.typescriptlang.org/docs/handbook/triple-slash-directives.html#-reference-types-), and I'm not yet sure why `tsc` isn't including it in our Bazel compile.

[2021-09-08 17:01] jinjingforever commented on #4971
@huningxin We set up a new benchmark site that has the cross-origin isolation set up: https://tfjs-benchmarks.web.app/local-benchmark/. Thanks!

[2021-09-08 18:06] mattsoulanille commented on #5584
I've tried to reproduce this locally by compiling the following:
[code]
tsc successfully compiled the above. Could you please send me a reproduction of this issue? Thanks!

[2021-09-08 20:42] #5276 closed

[2021-09-08 20:42] pyu10055 commented on #5276
converter has been migrated to Bazel.

[2021-09-08 21:53] pyu10055 commented on #5577
@Electric-Dragon You can help to contribute these ops to TFJS, similar to these PRs:
https://github.com/tensorflow/tfjs/pull/5089
https://github.com/tensorflow/tfjs/pull/5052

[2021-09-09 03:05] Zengyf-CVer opened #5597 "About the Use of TFJS"
I use `npm` or `yarn` to download and get a folder called `node_modules`, so I can use it normally.
#### I want to ask, if I only use JavaScript instead of JS frameworks, such as ReactJS, how should I use it?
#### In other words, just use HTML and JS programming files, what should I do?

[2021-09-09 03:17] huningxin commented on #4971
It works like a charm. Thanks @jinjingforever .

[2021-09-09 05:59] #5597 closed

[2021-09-09 14:09] HDegroote commented on #5449
I did some more research, and I think I've got the problem resolved, albeit in an ad-hoc manner. If one of the devs confirms this makes sense, I'll be happy to make a pull request so you can check if it breaks anything else.

The issue is that Node.js does not natively have FormData, while browserside Javascript does. The same applies for Blob.

Two changes are required to fix the issue, both to t

[2021-09-09 18:26] rthadur commented on #5449
@HDegroote thank you for details , will you be interested in submitting a PR ?

[2021-09-09 19:39] taoroalin opened #5601 "Incorrect values on created tensors (external WebGL context)"
**System information**
I'm using TFJS with an external WebGL context (using the WebGL backend). This is necessary to reproduce. Code is very custom.
Windows 10
Chrome 92
TFJS v3.8.0
npm install @tensorflow/tfjs=3.8.0

**Describe the current behavior**
When I create image tensors from Float32Arrays, every one I create beyond the first has the wrong values, which are way too high. For example, when

[2021-09-09 20:02] rthadur commented on #5601
@taoroalin can you please provide repro code in order for us to debug ?  you can run the sample code in the any one of the boxes here https://js.tensorflow.org/api/latest/

[2021-09-09 20:51] danwexler commented on #2679
Is there a feature request to add `tf.data.Dataset` as a supported input type for `model.predict`? In the meantime, I guess we use` tf.stack` and handle pre-loading ourselves? Is it worth looking at the Keras `model.predict `as an example of how to implement `tf.data.Dataset` support in` model.predict`?

[2021-09-09 21:58] taoroalin commented on #5601
Before I do that, do you know of any mechanisms for issues like this happening? Like what part of tfjs/webgl state might cause something like this?

[2021-09-10 00:14] #5590 closed

[2021-09-10 00:22] rthadur commented on #1670
related changes have been merged , closing this issue.

[2021-09-10 00:22] #1670 closed

[2021-09-10 00:33] rthadur commented on #1528
Closing this issue as this has been fixed based on the comment here https://github.com/tensorflow/tfjs/issues/1530#issuecomment-575655744 , thank you

[2021-09-10 00:33] #1528 closed

[2021-09-10 09:52] HDegroote commented on #5449
@rthadur I hadn't realised the original source was in typescript: my debugging was on the generated Javascript file, and my proposed solution for Blob doesn't seem to work with typescript due to different types.

I've never worked with typescript, and I'm struggling because whatever I do I keep getting type errors. Could anyone who knows typescript have a quick look? I think it's a fairly easy fix

[2021-09-10 11:08] hyprstack commented on #4606
Does this mean it's currently impossible to run the `@tensorflow-models/face-landmarks-detection` model on a node server? I'm trying to run it in an `expressJs` server to move the heavy lifting from the browser.

[code]

[2021-09-10 11:30] RJ-1998 commented on #5410
Hey Guys. Any updates on the issue?

[2021-09-10 12:07] JakeJustLearning commented on #3134
I am trying to do this as well. and I am stuck at trying to get an image in the correct format to hand to `segmentPersonParts`. How are you creating an HTML image element or imageData to hand to that bodyPix function?

[2021-09-10 12:09] fbx31 opened #5603 "Installation failed for tfjs-node 3.9.0 on windows with Node 12"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows
- Mobile device (e.g.

[2021-09-10 15:39] Electric-Dragon commented on #5577
Any tips on how to contribute and build kernels for certain operations?

[2021-09-10 15:47] aravindvnair99 commented on #5560
Hey @mattsoulanille!

I was wondering if you had any updates on this... Shall I give you a PR?

[2021-09-10 17:24] joemullenix-ks commented on #4324
I'm not sure whether arrays belong in ScalarLike, but I don't believe that affects this issue. It's purely the implementation of 1-5 and 6 being done differently, regardless of type.

To me, it's pretty clearly a typo. Somebody just left out the last set of brackets on rank 6.

________________________________
From: Raffi Zulvian Muzhaffar ***@***.***>
Sent: Thursday, September 9, 2021 03:28
To: t

[2021-09-10 17:35] mattsoulanille commented on #5603
The 404 on the prebuilt binary is actually expected since I don't believe we ship Node-API version 8 binaries yet. This should not matter though, since the install should fall back to compiling from source, and it looks like that's where it failed.

This looks like it could be related to certificates, since it's complaining about a self-signed certificate in the chain (`gyp ERR! stack Error: self

[2021-09-10 17:38] kylejmcintyre commented on #4150
In case it's helpful, I encountered the same exception through use of the cloneTensor op:

[code]

[2021-09-10 19:38] rthadur commented on #5560
This is done , related PR has been merged here https://github.com/tensorflow/tfjs/pull/5570 , thank you @mattsoulanille @aravindvnair99

[2021-09-10 20:04] mattsoulanille commented on #5584
I am going to remove the release blocker tag from this issue since I have been unable to reproduce it. [Here's my attempt](https://github.com/mattsoulanille/tfjs-issue-5584-test).

[2021-09-10 21:08] rthadur commented on #2252
This has been implemented here https://github.com/tensorflow/tfjs-models/pull/333 , closing this issue.

[2021-09-10 21:08] #2252 closed

[2021-09-10 21:13] rthadur commented on #5241
This has been here https://github.com/tensorflow/tfjs/tree/master/tfjs-node#installing , can you please verify once now with latest version.

[2021-09-10 21:19] rthadur commented on #3715
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2021-09-10 21:19] #3715 closed

[2021-09-11 07:16] jinjingforever commented on #4715
Hi @ahtrahdis7 and @abhinavchawla13, I updated the [repo](https://github.com/jinjingforever/tfjs-react-native-pose-detection) with some new fixes.

Last time I forgot to call `gl.endFrameEXP();` when doing the manual rendering, so some of my assumptions were wrong.. I updated the code comments with my new understanding. Now it should work at least on Pixel 2, newer iPhones, iPad, and iPad Pro, wit

[2021-09-11 10:23] ClementWalter opened #5607 "TFJS TFLite installation with script tags not working"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
- Mobile device (e.g. iPhone 8

[2021-09-11 12:53] sourabh112 commented on #5550
I don't see much movement on this issue. I think this issue might not be correctly portrayed by me. So, If there is no movement on it till tomorrow, I will close it.

[2021-09-11 16:11] aravindvnair99 commented on #5560
Thank you @rthadur and @mattsoulanille! But no release has been made yet for `@tensorflow/tfjs-automl`:

- https://github.com/tensorflow/tfjs/tags
- https://www.npmjs.com/package/@tensorflow/tfjs-automl

The published version is still version `1.2.0` from 4 months ago. Could a release be made for recent commits?

[2021-09-11 20:18] xczvvdbxgfh opened #5608 "Type Error: forwardFunc_1 is not a function"
Type Error: forwardFunc_1 is not a function
when im using toxicity model
this isn't working on node version 16+ but works on other node versions

[2021-09-11 20:47] JosephBotros opened #5609 "How do I make a build that uses glibc 2.31"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu Linux 20.04
- Mobile de

[2021-09-11 21:38] MartinKolarik commented on #5607
This looks like a typical problem with relative path references. If the file loads another file, it needs to be loaded via a fully resolved URL, which in this case is https://cdn.jsdelivr.net/npm/@tensorflow/tfjs-tflite@0.0.1-alpha.6/dist/tf-tflite.min.js or https://cdn.jsdelivr.net/npm/@tensorflow/tfjs-tflite/dist/tf-tflite.min.js if you don't request a specific version. Then, the requested relat

[2021-09-12 07:58] xczvvdbxgfh commented on #5608
i managed to fix this

[2021-09-12 07:58] #5608 closed

[2021-09-12 11:30] harisraharjo commented on #4201
Any news on this?

[2021-09-13 10:53] hyprstack opened #5611 "Same image after first prediction returns different [x,y,z] values for face-landmarks-detection model"
**System information**
- Custom code
- OS Platform and Distribution (MacOs BigSur):
- TensorFlow.js installed from npm (latest)
- Browser version: Chrome 93 Stable

From my package.json:
[code]

I have an image uploader using reactJs. All I'm doing is selecting an image file, creating an image element from with the img.src as the base64 encoded data of the image and passing it through the model to

[2021-09-13 12:56] fbx31 commented on #5603
Hello, thanks for the link where I find a work around to install for the first time the tensorflow nodejs librariries.
Using set NODE_TLS_REJECT_UNAUTHORIZED=0 before launching the install. Didn't succeed with the solution of default certificates  up to now.
Thank you

[2021-09-13 12:56] #5603 closed

[2021-09-13 13:05] fbx31 opened #5612 "Installing qna model using npm doesn't NOT install the last version of the sources but older version with outdated version of tensorflow"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows
- Mobile device (e.g.

[2021-09-13 14:21] fernandonjardim commented on #3914
Hi there !

This is my first post on stackoverflow, so I hope I am doing everything right :D

I got a similar issue, when I tried to adapt the code above and use it, I got the message:

**"Uncaught (in promise) TypeError: topLeft.div is not a function"**

By any chance,  do you know why?

[code]

[2021-09-13 16:29] mattsoulanille commented on #5612
Thanks for the issue report, @fbx31. Can you please check that the version of `@tensorflow-models/qna` you've installed is `1.0.0`? `1.0.0` [lists `@tensorflow/tfjs-core` and `@tensorflow/tfjs-converter` as peer dependencies](https://github.com/tensorflow/tfjs-models/blob/master/qna/package.json#L15-L18), so you should be able to (and will need to) install a version of your choice of those package

[2021-09-13 16:50] Cotex05 opened #5613 "tensor dimension need to be 2d"
https://github.com/tensorflow/tfjs/blob/4dfcd782deda0a9fbe9f3cc5c60bbf4293e14577/tfjs-core/src/ops/diag.ts#L41-L43

Code snippet error on official docs of tensorflowjs [here](https://js.tensorflow.org/api/latest/#diag)

**It should be**
` const x = tf.tensor2d([1, 2, 3, 4, 5, 6, 6, 8], [4, 2])
 tf.diag(x).print()`

[2021-09-13 17:44] rthadur commented on #5613
Thanks for reporting , submitted a fix

[2021-09-13 18:02] abhinavchawla13 commented on #4715
Hello @jinjingforever, thanks for the updated repo. I tested it out, it still wasn't setting up the camera texture correctly on my Android (OnePlus 6T), but it did work perfectly on iPhone. I will try to test it out on iPad and my Android again tonight and update you guys as well!

[2021-09-13 18:03] rthadur commented on #5550
Hi @mattsoulanille can you please help with this request ?

[2021-09-13 18:04] jinjingforever commented on #4715
Please also try setting [USE_PRESET](https://github.com/jinjingforever/tfjs-react-native-pose-detection/blob/main/App.tsx#L84) to false to see if it works. Thank you

[2021-09-13 18:06] abhinavchawla13 commented on #4715
@jinjingforever, I tried setting it to both false and true - didn't work on my initial try but will update you after giving another shot soon. Thanks so much!

[2021-09-13 18:39] rthadur commented on #5609
@JosephBotros can you please check if this related isssue https://github.com/tensorflow/tfjs/issues/2872 ?

[2021-09-13 18:52] Sreejan100 commented on #1238
@caisq  please go over the pull request #5549

[2021-09-13 18:52] Sreejan100 commented on #1238
@caisq  please review the pull request #5549

[2021-09-13 18:53] Sreejan100 commented on #1238
@caisq  please go over the pull request #5549  and give comments if any changes are required

[2021-09-13 19:30] fbx31 commented on #5612
Hello,
Starting from fresh install, installing @tensorflow/tfjs-node (v3.9.0 OK), then installing qna model doing npm i @tensorflow-models/qna.
I have the version 1.0.0 of the package installed with following peer dependencies:
  "peerDependencies": {
    "@tensorflow/tfjs-core": "^1.5.2",
    "@tensorflow/tfjs-converter": "^1.5.2"
  },

BUT in github, when i look the package.json in sources of qn

[2021-09-13 20:17] rthadur commented on #5612
@fbx31 thats correct , we need a fresh build to npm , @mattsoulanille can you please help push a fresh build to npm ?

[2021-09-13 20:20] mattsoulanille commented on #5612
My bad! I should have checked the NPM package, not GitHub. We can publish an updated build to NPM.

[2021-09-13 21:02] rthadur commented on #5607
@MartinKolarik thats correct , please also refer to note here https://github.com/tensorflow/tfjs/tree/master/tfjs-tflite#via-a-script-tag , thank you

[2021-09-13 21:02] #5607 closed

[2021-09-13 21:14] fbx31 commented on #5612
Thanks a lot, I;ll wait for the update instead of trying to rebuild it by myself :-)
Have a nice day.

[2021-09-13 22:53] #5613 closed

[2021-09-14 03:20] abhinavchawla13 commented on #4715
@jinjingforever, I actually tested it out again and somehow it started working perfectly fine on both my iPad and Android phone - sorry to bother above. I'm assuming my expo project was being cached on both (or some funky stuff), it seems to be working fine for now. Thanks a ton!

If something breaks while I continue my test, I shall let you know in this thread.

[Example On OnePlus 6T](https://us

[2021-09-14 08:19] cjue commented on #671
This is a mixture of a feature request and a bug, depending on the use-case.

There is currently no workaround to specify gpu_options like `gpu_memory_fraction`, which is required for some use-cases.

[2021-09-14 08:27] xhcao commented on #5496
Hi, @carrycooldude, how about the process of these kernels? Currently, I have spare time, and could help you to implement the kernels, which have been not started to implement.

[2021-09-14 08:33] carrycooldude commented on #5496
Yes , Actually Want to understand the webgl code implementation with webgpu in order to get which Files I have to import to implement those kernels

[2021-09-14 08:39] xhcao commented on #5496
Could I take over these two kernels ('FlipLeftRight' and  'RotateWithOffset')? We could implement them synchronously.

[2021-09-14 09:12] carrycooldude commented on #5496
Sure , Also of possible can you guide me through your implementation it will be great too 😇

[2021-09-14 09:18] qjia7 commented on #5496
@carrycooldude You can refer to this one #5585, which implements a new kernel `DepthToSpace` for webgpu.

[2021-09-14 09:29] carrycooldude commented on #5496
Thanks @qjia7

[2021-09-14 11:38] JosephBotros commented on #5609
@rthadur thank you, but I don't see how is the issue you tagged is related to my issue.

[2021-09-14 12:55] vladmandic opened #5623 "build issues for tfjs-backend-wasm"
i've previously reporteed #4745 which resolved it partially, but building `tfjs-backend-wasm` still throws a lot of unecessary warnings for unresolved dependencies which should be marked as external

tfjs version: git main branch dated 9/14/2021

[code]

[2021-09-14 14:29] suneeltechnew commented on #5571
@rthadur , Thanks for your response.
but this was not solved my issue.
As mentioned in issue #5167 I have used installed required expo modules and "react-native-unimodules" as per below documentations.
[https://github.com/tensorflow/tfjs/tree/master/tfjs-react-native#step-1-create-your-react-native-app](https://github.com/tensorflow/tfjs/tree/master/tfjs-react-native#step-1-create-your-react-nativ

[2021-09-14 15:12] vladmandic commented on #5623
opening different issue for build problems

[2021-09-14 15:12] #5623 closed

[2021-09-14 15:14] vladmandic opened #5624 "multiple and various tfjs build issues"
can someone take a look at the **tfjs build issues**? none are fatal,
but sheer number and variety is *not a good indicator*

using `tfjs` from main branch...

- obsolete packages:

[code]

- incorrectly marked external packages:
  (this one is related to #4745 which did not resolve it fully)

[code]
- obsolete api:

[code]

- incorrect dependencies:

[code]

- missing dependencies:

[code]

- inc

[2021-09-14 16:33] jinjingforever commented on #4715
Great to know! Thank you

[2021-09-14 23:06] jinjingforever commented on #5571
Hi @suneeltechnew, I think you need to add `tf.ready()` before loading the model. Something like:

[code]

Please give it a try. Thanks!

[2021-09-15 02:24] vladmandic commented on #4218
after tons of experiments and reading internal browser documentation, there seems to be no faster way without gl context. closing the issue.

[2021-09-15 02:24] #4218 closed

[2021-09-15 07:33] suneeltechnew commented on #5571
@jinjingforever , Thanks for the suggestion.
I have tried the above code, but still I am getting same error.

Please have a look at my code.
[code]
some times the app will close automatically when I am running this code without giving any warning/error.

[2021-09-15 12:37] deepanshusharma012 commented on #5490
@lina128 @rthadur Hope you are doing great!
Is there any update on this issue or any ETA to resolve it? Actually this issue is a blocker for our application and detecting the false events.
It would be great if you respond on it and try to roll it's fix asap.

[2021-09-15 13:10] avestaHarsh commented on #2046
Hey @kangyizhang, I facing the same error while using @vladmandic/human.

Note: I have already performed all the above steps you have mentioned so far.

OS: Ubuntu 18.04.5 LTS
Node Version : v14.17.6
Electron version : 12.0.18
tfjs-node version : 3.9.0
@vladmandic/human version : 2.1.5

Under lib folder there is one file:  **node/lib/napi-v8/tfjs_binding.node**

I also tried @nikilok steps to get

[2021-09-15 15:46] #5433 closed

[2021-09-15 17:07] pereibex commented on #1422
+1

coral in the tfjs-node and coral in tensorflow-serving please!

[2021-09-15 17:37] jinjingforever commented on #5571
Hi @suneeltechnew, looks like the problem is the missing import for tfjs-react-native. Here are my imports which seem to work for your app:

[code]

Please give it a try. Thank you!

[2021-09-15 18:33] suneeltechnew commented on #5571
@jinjingforever , it didn't worked for me.

[2021-09-15 21:12] lina128 commented on #5490
Hi @deepanshusharma012 , thank you for reporting this. I tested it with our own demo, same problem. Actually we're working on a new BlazeFace model, which is going to be more accurate. It will be released this quarter.

[2021-09-15 22:10] jinjingforever commented on #5571
@suneeltechnew, please check out this [repo](https://github.com/jinjingforever/tfjs-react-native-mobilenet) I created. I tested it on iPhone 12 Pro Max and Pixel 2. The only difference is that I am using `react-native 0.63.2`.

Thank you!

[2021-09-15 22:54] vladmandic commented on #5343
@ahmedsabie @qjia7 @rthadur @pyu10055 Any updates on this? As you can see, WEBGL_PACK_DEPTHWISECONV=True (which is default value) has a **massive** negative performance impact - and it's gotten far worse in newer versions of TFJS.

This is a major regression and it has very little updates.

And yes, using WEBGL_USE_SHAPES_UNIFORMS is much better, but - a) it's not a solution, it's an alternative,

[2021-09-16 04:26] suneeltechnew commented on #5571
@jinjingforever , the repo which you shared is using expo.
I want to run the code in pure react-native project.

[2021-09-16 05:10] avestaHarsh commented on #2046
After did so much trial and error and also debugging in the tfjs-node library I found that `node-pre-gyp `can help a lot.
I installed `node-pre-gyp` globally, and then I ran `node-pre-gyp rebuild` in **node_modules/@tensorflow/tfjs-node** .
And now it's working like a charm.

[2021-09-16 07:17] TheEhsanSarshar commented on #2046
updating the node.js version solved the issue for me.

[2021-09-16 13:28] mmilenkoski opened #5630 "[tfjs-react-native] Can't import tensorflow when creating project with react native CLI"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: Pixel C API 30 (Emulator)
- TensorFlow.js installed from (npm or script link): https://www.npmjs.com/package/@tensorflow/tfjs
- TensorFlow.js version: @tensorflow/tfjs@3.9.0
- CUDA/cuDNN version: 11.1

**Describ

[2021-09-16 16:01] gsvin99 opened #5631 "Can't run electron application - Getting Uncaught TypeError error message"
Hi Team,
Kindly help me. I'm developing chatbot application using Angular10 and convert to desktop application using ElectronJS.
For offline chatbot experience, I used tensorflow/tfjs. it working in browser but we loading electron application i'm getting the below attached error message.

Note: Enabled NodeIntegration (true) in electron application.

Please let me know, if need any other informati

[2021-09-16 17:06] mattsoulanille opened #5632 "[webgl] "Switching WebGL + CPU backends" Tests do not Run"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow.js): No
- OS Pla

[2021-09-16 17:11] rthadur commented on #5631
Did you get chance to check this [link](https://stackoverflow.com/questions/65562209/this-util-textencoder-is-not-a-constructor-only-in-electron-app-works-in-chrome) ? if it does not help please provide a minimal reproduction code.

Thanks
Rajesh

[2021-09-16 17:16] lina128 commented on #5410
Hi @RJ-1998 , why don't you pass in model from loadLayersModel directly in this line? https://github.com/RJ-1998/react-chatbot-nlp/blob/bf8680b120452979c2c7ff450feb7549864a4070/chatbot/src/App.js#L15

[2021-09-16 17:17] rthadur commented on #5630
@mmilenkoski can you please check out similar issue here https://github.com/tensorflow/tfjs/issues/5179#issuecomment-864395043 ?

[2021-09-16 17:48] mmilenkoski commented on #5630
@rthadur thank you for the response! That does solve the issue but is there a way to merge the original metro.config.js file and the changes required from tfjs? Here is my original content:

[code]

[2021-09-16 18:40] gsvin99 commented on #5631
The stackoverflow link is not helped me.

While loading application, tensorflow try to set env().setPlatform('node', new PlatformNode());
Here require('util') return null and doesn't have TextEncoder function. It seems, require('util') not refer @type/node component.

export class PlatformNode {
    constructor() {
        // tslint:disable-next-line:no-require-imports
        this.util = require(

[2021-09-16 20:44] mattsoulanille commented on #5560
@aravindvnair99 Sorry to keep you waiting on this. We plan to release automl with the latest changes from that PR in the near future. I'll update this issue when it's released.

[2021-09-16 22:51] lina128 opened #5633 "Refactor the benchmark tool to take finer-grained test spec."
Refactor the preconfigured_browser.json benchmark field to an array of benchmarks, with each benchmark defining config for one model, such as
[code]
According to this serialization, refactor the benchmarkAll function, which takes in the JSON object of the preconfigured_browser.json file. Make sure the benchmark test still works. And add a test for benchmarkAll to test it can return all results.

[2021-09-16 22:55] lina128 opened #5634 "Enhance benchmark result"
Refactor the database schema to include failure cases as well. Revise the addResultToFirestore function to also store failure results to Firebase. https://github.com/tensorflow/tfjs/blob/master/e2e/benchmarks/browserstack-benchmark/firestore.js#L73-L81

[2021-09-17 01:26] jinjingforever commented on #5571
Hi @suneeltechnew, I updated the [repo](https://github.com/jinjingforever/tfjs-react-native-mobilenet) with an additional project generated from react native CLI. I found the problem to be the incompatibility between `react-native` 0.65.1 and `expo-gl` 10.4.2. I downgraded `react-native` to 0.63.2 and it works fine on my Pixel 2. (0.65.1 would crash my phone caused by GL context creation failure).

[2021-09-17 03:38] suneeltechnew commented on #5571
Thank you so much @jinjingforever 🤩. it is working for me.

[2021-09-17 03:38] #5571 closed

[2021-09-17 04:31] kt3k commented on #3341
I was able to run tfjs-core with CPU backend in Deno with the following import map configuration.

[code]

test.js
[code]

empty.js
[code]

[code]

[2021-09-18 09:56] nwocykra commented on #4514
I third that!

[2021-09-19 11:38] zhuyifang commented on #2631
+1

[2021-09-19 17:14] vladmandic opened #5641 "wasm backend produces incorrect results for int32 tensors"
i was wondering why my app produces results with lower precision when using `wasm` backend and finally narrowed it down to `wasm` handling of **int32** tensors

*environment: tfjs 3.9.0 on ubuntu 21.04*
*note: ive tried wasm with and without simd support*

below is a very simple reproduction
(and i suggest to add something like this to automated tests in the future)

note that `tf.sum()` is just e

[2021-09-20 00:18] sbrl commented on #5241
Ah, looks like it has been updated now. Thanks @rthadur! Though I do strongly recommend implementing a table rather than just fiddling with the existing required versions, and adding a new row for every version of Tensorflow.js released.

Still, the core of my issue has been resolved, so I'll close this for now.

[2021-09-20 00:18] #5241 closed

[2021-09-20 13:25] RJ-1998 commented on #5410
Thanks @lina128 it worked!! Actually I was following one article that suggested the other way. I wish I knew it before.

[2021-09-20 13:25] #5410 closed

[2021-09-20 14:24] vladmandic commented on #5641
one more trivial reproduction that shows exactly when errors starts to occure:

[code]

output:

[code]

[2021-09-20 16:47] pyu10055 commented on #5632
@mattsoulanille backend webgl register itself in the tfjs-backend-webgl/src/base.ts,
is that file included in the test suite?

[2021-09-20 17:02] pyu10055 commented on #5601
@taoroalin Looks like you are trying to use custom gl context, it might be better to register a new webgl backend:
[code]

[2021-09-20 17:12] pyu10055 commented on #5539
There are suggestion that you can decompose L2 pooling with following:
[code]

[2021-09-20 17:52] mattsoulanille commented on #5632
@pyu10055 backend webgl does seem to register itself in `base.ts`, but this happens after the engine test runs, which seems to be the wrong order. I'll see if I can get it to run before.

[2021-09-20 18:25] mattsoulanille commented on #5609
Hi @JosephBotros. This question seems more related to TensorFlow's build rather than TF.js. I think you'll get better answers from the [TensorFlow forum](https://discuss.tensorflow.org/) or the [TensorFlow GitHub](https://github.com/tensorflow/tensorflow/issues?q=is%3Aissue+is%3Aopen+glibc).

I took a look at the TensorFlow docs, source code, and a few issues, and I wasn't able to find anything ab

[2021-09-20 19:33] mattsoulanille commented on #5611
Thanks for the question, @hyprstack. face-landmarks-detection is actually stateful, i.e. past inputs to the model can affect future predictions. This is because the model pipeline [caches regions of interest](https://github.com/tensorflow/tfjs-models/blob/master/face-landmarks-detection/src/mediapipe-facemesh/pipeline.ts#L430-L460) and then [runs landmark detection on just those regions](https://g

[2021-09-20 19:50] lina128 commented on #5611
We'll add a staticImage option to the API soon.

[2021-09-21 08:34] #671 closed

[2021-09-21 14:33] davlhd opened #5648 "How to build a npm release build"
Hello,

excuse my ignorance, I tried to find this information and I could not. How do I build a release build of tensorflowjs? Like its distributed via npm?

I want to do local modifications and build the whole product to test it.

Thanks

[2021-09-21 18:18] rthadur commented on #5648
please check a related issue here https://github.com/tensorflow/tfjs/issues/4751 , thank you

[2021-09-21 18:34] #5484 closed

[2021-09-21 21:34] #5569 closed

[2021-09-22 00:55] BruceDai commented on #5539
Thanks much @pyu10055.
Close it.

[2021-09-22 00:55] #5539 closed

[2021-09-22 17:55] alkaaf commented on #5608
ummm... may i know what you did?

[2021-09-23 01:03] xhcao commented on #5496
@carrycooldude , I had implemented 'FlipLeftRight' and 'RotateWithOffset' kernels, https://github.com/tensorflow/tfjs/pull/5649 ,you could refer to them.

[2021-09-23 01:08] alkaaf commented on #2678
yep. moving tensorflow.dll is working for me.

[2021-09-23 02:24] axinging opened #5652 "[wasm] OOM for some conv2d input on build bots"
Test case: https://github.com/tensorflow/tfjs/pull/5637/commits/976623953e724be45730f8259a0d0944243d4afc
Build log: https://console.cloud.google.com/cloud-build/builds/46b2a97c-0c12-494a-9e7a-51e1627fe072;step=14?project=learnjs-174218
[code]

[2021-09-23 10:20] bvanderdrift commented on #4514
For anyone who for some reason needs to work on a part of their repo that doesn't touch `node-tfjs` but does need to have `npm install` work; a possible workaround is:

`npm install @tensorflow/tfjs-node --ignore-scripts`

then

`npm install`

[2021-09-23 13:57] rthadur commented on #5584
I was not able to reproduce the same error, will be closing this request , please @mention to reopen. Thank you

[2021-09-23 14:09] techTutorialsYTube opened #5655 "Unhandled promise rejection: Error: tensor.data() with WEBGL_DOWNLOAD_FLOAT_ENABLED=false and WEBGL_VERSION=2 not yet supported"
I have a created react native expo managed app. And tried to use mobile net.

[code]

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow.js): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: android emulator
- Tenso

[2021-09-23 14:20] rthadur commented on #1204
I guess this has been implemented here https://github.com/tensorflow/tfjs/pull/3586 closing this issue for now.

[2021-09-23 14:21] #1204 closed

[2021-09-23 15:15] tiandeyu-cs opened #5656 "When we use the WebAssembly backend, `tf.fill()` will throw an error if the `dtype` parameter is not explicitly given"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow.js): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 18.04 LTS
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: N/A
- TensorFlow.js installed from (npm or script link): <script> link
- TensorFlow.js version

[2021-09-23 16:44] #5655 closed

[2021-09-23 17:32] mattsoulanille commented on #5560
Hi @aravindvnair99.

Automl has just now been released. Sorry for the wait. We're working on improving our release automation so we can have more consistent releases, but automl was not part of the automation yet. It has now been added in #5615, so you can expect more consistent releases in the future.

[2021-09-23 21:16] aravindvnair99 commented on #5560
Thanks a lot for the release and quick reply @mattsoulanille! Closing this issue tracker for now.

[2021-09-23 21:16] #5560 closed

[2021-09-24 02:42] #5551 closed

[2021-09-24 07:30] qjia7 opened #5660 "yarn test fails on tfjs-backend-webgl on windows"
Steps to reproduce:
1. Get latest tfjs resource code.
2. cd tfjs-backend-webgl
3.  yarn && yarn test
Below error will be reported
[code]

[2021-09-24 07:30] qjia7 commented on #5660
cc @mattsoulanille

[2021-09-24 09:42] JanKaul opened #5661 "Export function "nameScope" in "tfjs-layers" module"
**System information**
- TensorFlow.js version: 3.9.0
- Are you willing to contribute it: Yes

Feature: Expose the function "nameScope" from "tfjs-layers/src/common.ts" to the tfjs-layers module. This enables the serialization/deserialization of custom layers that contain other layers with weights.

It will add the function "nameScope" to the publicly visible API of tfjs-layers.

This will benefit

[2021-09-24 17:45] rthadur commented on #5661
@JanKaul thank you , do you wish to contribute for this ?

[2021-09-24 22:13] mattsoulanille commented on #5660
Thanks for reporting this @qjia7. This looks like it's caused by the recent change that builds tfjs-converter with Bazel. That change builds specific versions of python 2 and 3 from source for consistency across machines. We were hoping this would make setting up converter more convenient, but it seems like in this case, it's getting in the way of testing other packages. I'll bring this up with th

[2021-09-25 06:20] JanKaul commented on #5661
Yes, I will try to prepare a PR.

[2021-09-25 12:41] xczvvdbxgfh commented on #5608
i reverted to a different version of npm and somehow this fixed the issue

[2021-09-25 15:58] dberardo opened #5663 "interoperability - onxx exchange format"
i would like to pre-train network models on the backend using just any other library (i prefer using spark for this operations) band then use the results within the tensor.js Framework in the frontend ...

can this already be achieved somehow? i am talking about importing / deserialization

i think this feature would be a game changer for this library.

[2021-09-25 16:05] vladmandic commented on #5663
**onnx** provides python package that converts onnx model to tensorflow format,
check onnx documentation (good starting point is <https://github.com/onnx/onnx-tensorflow/>)

once model is in tensorflow format, use `tensorflowjs_converter` from python package (maintained by tfjs team) to convert from tf saved model format to tfjs graph model

[2021-09-25 16:53] dberardo commented on #5663
sounds like a promising approach. i will surely have a look. thanks for the advice. i have tried to find this information on. the official tensorflow.js doc but it seemed to me that only Json (de)serialization was possible, which is not true. . probably a note in the doc to this issue would be good for fiture readers.

[2021-09-25 20:24] mkaufmann84 opened #5664 "Error: Requested texture size [-1536x512] is invalid"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow.js): No
- OS Pla

[2021-09-25 22:17] arthare commented on #1644
This may not be what is breaking you since I can't see the same busted code I was getting.

But in my case I had done a tensor slice that resulted in it having a non-integer shape.  In my case, I had a 668.25 x 1-shaped tensor.  I assume those sizes eventually get carried to the fragment shader that Tensorflow builds, and having a non-integer texture size is clearly not supported.

[2021-09-26 06:48] gyagp commented on #5660
Instead of building python from source, can we simply provide related binaries for consistency? In Chromium development, depot_tools (https://commondatastorage.googleapis.com/chrome-infra-docs/flat/depot_tools/docs/html/depot_tools_tutorial.html) is used for this sake. To maintain the build on various platforms are much harder than maintaining the binaries.
For this case, if I run "C:\Program File

[2021-09-26 08:47] xhcao commented on #5496
Thanks yunfei for implementing the `split` kernel. Now, only `topK` kernel is unimplemented, but it is the most difficult one, the algorithm of webgl backend is based on the paper https://anilshanbhag.in/static/papers/gputopk_sigmod18.pdf, I will  investigate and implement this operator with @carrycooldude, and make some optimizations in future according to webgpu features.

[2021-09-26 12:52] wvanooijen92 commented on #4965
I am also facing the same issue

[code]

A screenshot of my device logs

![Screenshot 2021-09-26 at 14 51 19](https://user-images.githubusercontent.com/2452503/134808787-ca121a0f-fa1a-4ded-991a-6014258b2ae8.png)

[2021-09-26 14:54] TheOsch commented on #5159
Done. Would you please take a look at [https://github.com/TheOsch/tfjs-sample](https://github.com/TheOsch/tfjs-sample) when you'll have time?

[2021-09-27 10:10] MiraiKami commented on #5345
Hello,
I run several tests to see where that would go wrong and obtained these results :
- In the browser (backends webgl) with tensorflow editor or console in the navigator -> works fine
- With modules @tensorflow/tfjs-node | @tensorflow/tfjs-node-gpu with node.js (script or console) -> works fine
- In the browser with a **cpu** backend the problem occurs (see image below)
![image](https://user-i

[2021-09-27 11:02] ArtemGr commented on #5159
Woot!

You did port the Kaggle example, so the issue is closed!

It's interesting to see the inverted matrix implementation and how it is factored into the TF workflow.

Note that, AFAIK, both the Kaggle example and the port diverge from the ELM paper (2004) in how they construct the hidden layer. There might be also some myths perpetuated in the description,

https://github.com/TheOsch/tfjs-sampl

[2021-09-27 11:53] TheOsch commented on #5159
In fact it was an implementation in pure Javascript. Maybe it would be useful to implement those functions in optimized backends - it would be very interesting for me to rewrite it at least in in C++ for CPU, well, for some extra $, not for too much. What do you think, will it be interesting for the project owners?

Of course I did. Thank you

[2021-09-27 12:53] mkaufmann84 commented on #5664
Any tensor I use even a random one gives this error. I tried recreating the model from the tfjs-converter but that didn't work.

[2021-09-27 13:40] MiraiKami opened #5668 "Gradients of complex numbers not working on node backend (tfjs-node | tfjs-node-gpu)"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

System information

Have I written custom code (as opposed to using a stock example script provided in TensorFlow.js): Yes
OS Platform

[2021-09-27 14:31] DBachiloVironit commented on #4201
The errors still occurs with the latest version of `@tensorflow/tfjs-node` and `@tensorflow/tfjs-node-gpu`.

1. package.json

[code]

2. tsconfig.json

[code]

The errors are the same as in the first post.

<details>
<summary>About the `long` module</summary>
Note that I also added `long` module and types because otherwise I get these errors:

[code]
</details>

[2021-09-27 16:56] jinjingforever commented on #4965
Hi @wvanooijen92 @AhmedRazaVerge, I recently checked in some tfjs react native example apps [here](https://github.com/tensorflow/tfjs-examples/tree/master/react-native). Please take a look. One thing to note is that react native 0.65.1 does not work well with expo-gl 10.4.2 (would crash Android as you guys mentioned). Please use react native 0.63.2. Thank you!

[2021-09-27 17:23] jinjingforever commented on #5631
Hi @gsvin99, I am not super familiar with electron, but I think you probably need to turn off node integration in the renderer process so it can use browser js bundle instead of nodejs bundle. Also, it might help checking out this [tfjs electron example](https://github.com/tensorflow/tfjs-examples/tree/master/electron) (it has not been updated for the newer tfjs versions but its setup might help).

[2021-09-27 17:43] gsvin99 commented on #5631
Thanks @jinjingforever and @rthadur
Electron application working, after upgrading newer version, disable node integration and enable context isolation.

[2021-09-27 17:43] #5631 closed

[2021-09-27 18:12] sambitraze commented on #181
how did u resolve the issue

[2021-09-27 19:41] wvanooijen92 commented on #4965
@jinjingforever thanks for the update, I was just about to leave you message, that is exactly what I did today, I was able to get it running. Fyi I am on 0.63.4 now and it seems to be working. Thank you!

[2021-09-27 20:01] LeoMartinDev opened #5670 "Cannot convert Keras saved model"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- Ubuntu 18.04 WSL
- tensorflow 2.5.0

**Describe the problem**

Model convertion using `

[2021-09-27 21:07] #4965 closed

[2021-09-28 00:40] wingman-jr-addon commented on #5670
Looks like you might have a custom layer that is not supported "natively" in Tensorflow.js. Have you tried changing the output format to `--output_format=tfjs_graph_model`?

[2021-09-28 09:33] ArtemGr commented on #5159
If we're talking a native implementation it might be worth mentioning that ELM uses pseudoinverse. It is implemented, for example, [in ArrayFire](https://github.com/arrayfire/arrayfire/blob/master/test/pinverse.cpp).

I wouldn't learn much from a C++ implementation, but familiarizing ourselves with GPU extensions seems useful!

[2021-09-28 16:58] TheOsch commented on #5159
I hope I'll get back to it when I'll upgrade to something with a good GPU :-)

[2021-09-28 17:51] LeoMartinDev commented on #5670
It seems that this combination is not supported :(

`ValueError: Unsupported input_format - output_format pair: keras_saved_model - tfjs_graph_model`

[2021-09-28 19:18] liron-navon opened #5674 "Cannot installl on github actions "ubuntu-20.04""
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution: ubuntu-20.04 (github actions)
- TensorFlow.js installed f

[2021-09-28 20:53] rthadur commented on #5674
You might probably missing libc, you might to run `apt install libc-dev or build-essential` , please check a related [so](https://stackoverflow.com/questions/50288034/unsatisfiedlinkerror-tmp-snappy-1-1-4-libsnappyjava-so-error-loading-shared-li/51655643#51655643) question. Thank you

[2021-09-29 10:21] CatchZeng opened #5679 "How to save the samples into sample.json and sample-1.webm using tfjs-models/speech-commands"
How to save the samples into sample.json and sample-1.webm using tfjs-models/speech-commands like https://teachablemachine.withgoogle.com/train/audio

<img width="691" alt="截屏2021-09-29 下午6 17 00" src="https://user-images.githubusercontent.com/10027281/135250208-9a8db2c0-b8b7-45fc-938e-7951d404991f.png">

<img width="390" alt="截屏2021-09-29 下午6 19 21" src="https://user-images.githubusercontent.com/

[2021-09-29 16:57] mattsoulanille commented on #5277
Closed by #5562

[2021-09-29 16:57] #5277 closed

[2021-09-29 22:17] #5641 closed

[2021-09-30 08:56] ydp opened #5684 "How to save models with wasm backend"
With `file://`, it reports:

[code]

With `io.http`, it reports:
[code]
Could anyone help take a look? Thanks.

[2021-09-30 14:56] #5601 closed

[2021-09-30 15:46] deepanshusharma012 commented on #5490
The work is still going on this issue. I hope we'll be getting activity on this issue, so no need to mark it stalled.

[2021-09-30 16:18] rthadur commented on #5684
Please check a similar issue here https://github.com/tensorflow/tfjs/issues/723 and let us know if that helps. Thank you

[2021-10-01 00:33] kainino0x commented on #5529
I am pretty sure this was resolved as I remember discussing the workaround.

[2021-10-01 00:33] #5529 closed

[2021-10-01 02:38] mmmahdiii opened #5686 "Different result on converting keras to graph model"
Hi
I converted a tensorflow keras model from Python to JavaScript graph model and the program works fine, but the model is much less accurate than the Python model.
I checked all the inputs and the program, all the values ​​were correct.
I tried all the conversion parameters but it did not work.

[2021-10-01 16:26] vladmandic commented on #5686
which backend? if its `wasm`, not surprised, see #5641
did you quantize weights? if yes, you might be running into values clipping

[2021-10-02 00:52] ydp commented on #5684
Hi @rthadur I'm using wasm backend, 723 is tf-node, are they the same? did some experiments after review 732, still cannot get it works. Below is my code:

cat package.json
[code]
cat wasm_train_pitch_type.js
[code]
Basically just some modification from the tfjs-example/baseball-node to use wasm backend, @rthadur would you mind take a look? Thank you advance!

[2021-10-02 04:48] mmmahdiii commented on #5686
@vladmandic
thanks for your replying.

I have  the same problems with any backends, **WebGL, WASM or CPU**

I tried this switches quantize_float16, quantize_uint8, quantize_uint16, old way quantization_bytes{1,2}  **and no quantize**

My model use float32

### and my Conversion  is:

2021-10-02 07:56:55.577985: I tensorflow/core/platform/cpu_feature_guard.cc:142] This TensorFlow binary is optimize

[2021-10-02 05:00] frank505 commented on #3484
having this issue right now

[2021-10-02 11:03] vladmandic commented on #5686
how was this keras model created?
id try exporting kernas model as a tf frozen model and converting that to make sure everything is there

has this been done?

[2021-10-02 11:51] technikhil314 commented on #4177
@jimmy7799 We are doomed then? or have we found some way to get the model?

[2021-10-02 12:46] saghul commented on #4177
Even if you can get it, you are not allowed to use it.

[2021-10-02 14:07] technikhil314 commented on #4177
@saghul I know I just want to try that out on local. No intention to use it in open source or commercial project.

[2021-10-03 12:03] vladmandic opened #5689 "WebGPU Performance Issues"
i just tried new `tfjs-backend-webgpu` *0.0.1-alpha.8* on `tfjs` *3.9.0*
*environment: chrome 96 canary on windows 11*

first, great job on adding tons of new ops - from perspective of supported kernel ops, `webgpu` is becoming usable!

however, switch to WGSL is anything but useful so far - it comes as a **major performance degredation**

overall, `webgpu` has  gotten slower than `webgl`
(and `we

[2021-10-03 13:16] santiontanon opened #5690 "gradient function not found for Einsum"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow.js): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): MacOS 11.4
- TensorFlow.js version (use command below): tfjs@3.9.0
- Browser version: Google Chrome Version 94.0.4606.71
- Tensorflow.js Converter Version: ???

**Describe the current behavior**
Upon using the "tf

[2021-10-03 13:35] mmmahdiii commented on #5686
@vladmandic

It's a keras model with tensorflow backend.

I try tf Frozenmodel but it makes too much less accurate.

I don't have this warning in python, and I couldn't solve this warning in converting.
- how can I solve **CustomMaskWarning** ?
- how important this warning?

### Have you another idea to try?

[2021-10-03 13:40] vladmandic commented on #5686
If your model when frozen produces less accurate results in python, then that is the issue - if it cannot be properly frozen, you'll have the same issues when converted to TFJS graph model. So its not a TFJS issue, but a *"how to freeze a Keras model"* issue.

To me this looks like a big issue.

[2021-10-03 15:54] floe commented on #4177
JFYI, the MediaPipe Selfie Segmentation model is a) properly Apache licensed and b) can just be downloaded as an Android AAR archive. See https://drive.google.com/file/d/1dCfozqknMa068vVsO2j_1FgZkW_e3VWv/preview .

[2021-10-03 17:11] jimmy7799 commented on #4177
I ever tried the model in MediaPipe, but looks like the performance is not good as google meet one.

[2021-10-03 21:14] grinsteindavid commented on #47
const result = model.predict(tf.tensor2d(input, [1, 1])) as tf.Tensor; // this is a tensor

const data = await result.data(); // will return a promise with the Y value ( result )

[2021-10-04 01:14] gyagp commented on #5689
@vladmandic Thanks for the good comments and data, as always!
Chrome 94 was released on Sep 21, with WebGPU Origin Trial support. This means in addition to Chrome Canary, we may use Chrome Stable (still need option --enable-unsafe-webgpu) for WebGPU experiment now. Unfortunately,  Chrome decided not to support GLSL anymore for WebGPU  (changes happened in master so all the release channels would b

[2021-10-04 16:03] ByrdOfAFeather opened #5691 "Tensorflow JS Converter Can't Find Expected FusedBatchNorm Input"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow.js):
 Yes. I hav

[2021-10-04 16:25] TylerLeonhardt opened #5692 "Feature: Support vscode-languagedetection on the wasm backend"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow.js): yes
- OS Pl

[2021-10-04 18:26] vladmandic opened #5694 "inconsistent behavior of `tf.image.cropAndResize`"
inconsistent behavior of `tf.image.cropAndResize`

[tfjs documentation](https://js.tensorflow.org/api/latest/#image.cropAndResize) for `tf.image.cropAndResize` only states:

however, [tensorflow documentation](https://www.tensorflow.org/api_docs/python/tf/image/crop_and_resize) explicitly states additional functionality:

when this is attempted in tfjs, it silently does something, but resulting im

[2021-10-04 19:12] mattsoulanille commented on #5692
Hi @TylerLeonhardt. You're seeing this error because the `StringSplit` kernel is not implemented in the wasm backend yet. You can see a list of what ops each backend supports in the [TFJS Ops Matrix](https://docs.google.com/spreadsheets/d/1D25XtWaBrmUEErbGQB0QmNhH-xtwHo9LDl59w0TbxrI/edit#gid=0) or each backend's `register_all_kernels.ts` file ([here's the one for wasm](https://github.com/mattsoula

[2021-10-04 19:56] #5609 closed

[2021-10-04 20:03] TylerLeonhardt commented on #5692
@mattsoulanille unfortunately I don't own the model, it's @yoeo over in https://github.com/yoeo/guesslang/tree/master/guesslang/data/model
and I convert it into a tfjs model.

maybe @yoeo could comment on that.

[2021-10-04 21:22] mattsoulanille commented on #5692
I took a look at the [converted model.json](https://github.com/microsoft/vscode-languagedetection/blob/main/model/model.json), and it looks like the following ops are used. Ones with a checkmark are supported by the wasm backend, and the ones with a question mark did not appear in the ops matrix (I think they might correspond to another op) :

* ? AddV2 (Add and AddN are supported)
* ? BiasAdd
* [

[2021-10-04 21:34] pyu10055 commented on #5692
THank you Matt for generating this list, all ops should be supported.
ConcatV2 is same as Concat, AddV2, BiasAdd are same as Add.
We might need to register Sparse and string ops, which are CPU ops, they can be supported in wasm by forwarding to CPU impl @ahmedsabie .
The rest or control flow ops that only exist in the model executors.

[2021-10-05 00:36] 1benisin commented on #3107
would love a solution as well

[2021-10-05 01:41] princejoogie commented on #3107
I managed to make it work here, check if it's of any help

https://github.com/apc-genesis/genesis/blob/master/src/Home.tsx#L199

[2021-10-05 04:48] deepanshusharma012 commented on #5490
Hi @lina128, as you said the new BlazeFace model (more accurate one) will be released by Q3 quarter. So, are we still working on it, or it has released? or any ETA for the same.

[2021-10-05 05:09] rthadur commented on #5691
@ByrdOfAFeather  you mentioned you are using tfjs-converter 3.9 but in your code there is reference to older tfjs version https://github.com/ByrdOfAFeather/tfjs_bug/blob/master/templates/val_model.html#L6 , is this intended ?

[2021-10-05 05:10] rthadur commented on #5691
and also Frozen models are not supported in latest versions. Thank you

[2021-10-05 06:31] mmmahdiii commented on #5686
in python everything is ok. but frozen model that converted to to TFJS  produces less accurate results.
I'm sure it's the converting issue.

[2021-10-05 12:36] vladmandic commented on #5692
Just FYI, I started doing model validation for all models I'm loading
it compares ops used by model to ops registered by currently selected backend: <https://github.com/vladmandic/human/blob/980285d36367d3ae903455a4884ff5d8ff9d0ea1/src/models.ts#L90>

[2021-10-05 12:47] ByrdOfAFeather commented on #5691
Yes so this is my bad - I was referring to my python install of tensorflowjs and didn't check the version I was using on the web, I just tried it with tfjs@3.9.0 and receive the same error when trying to load in the model.

If this is the case, is there anyway to take a snapshot.meta, snapshot.index, shapshot.data and use it with tensorflowjs? I've being trying to find a way to convert these into

[2021-10-05 16:36] mattsoulanille commented on #5692
@vladmandic, that validation script looks very useful. @pyu10055, it sounds like we could be doing this sort of validation in tfjs to give better error messages about missing ops (i.e. a complete list of missing ops instead of just the first one encountered). To avoid introducing a breaking change, we could run the validation the first time the model is run on a new backend instead of when it's lo

[2021-10-05 17:42] rthadur commented on #5691
I have no idea , sorry. @pyu10055  ++ for any help . Thank you

[2021-10-05 18:56] #5648 closed

[2021-10-05 19:00] pyu10055 commented on #5691
@ByrdOfAFeather I tried your model, the loading did not generate any error for me. But I cannot execute the model since it contains no input placeholder nodes, can you confirm that you have selected the correct output nodes for freezing the model?

[code]

[2021-10-05 20:01] vladmandic commented on #5692
@mattsoulanille actually, this does happen sometimes - model may have an execution path that simply does not get triggered.
for example, one model I'm using frequently has a missing op `floormod`, but never had an execution error.

[2021-10-05 23:03] lina128 commented on #5490
Sorry, I actually meant Q4. I replied in September, and we are already thinking for Q4 :) Sorry for the confusion.

[2021-10-06 06:07] ColorfulCakeChen opened #5696 "When in WASM, tf.conv2d() with ( dtype = "float32" ) and ( dtype = "int32" ), seems wrong."
**System information**
- Have I written custom code: Yes (in the following gist)
- OS Platform and Distribution: Chroms OS 93.0.4577.95 (64-bits)
- Mobile device (the issue happens on mobile device, too): ASUS ZenPhone Max Pro
- TensorFlow.js installed from: script link
- TensorFlow.js version: 3.9.0
- Browser version: Chroms OS 93.0.4577.95 (64-bits)

**Describe the current behavior**
- When tf.c

[2021-10-06 17:05] rthadur commented on #5696
Thanks for the reproduction code , I was able to reproduce the same.

[2021-10-06 17:36] dinis-rodrigues opened #5697 "[tfjs-vis] Cannot use import statement outside a module"
I'm building a NextJs application with TypeScript where I want to use Tensorflow-Js. I'm following this getting started tutorial on the MNIST dataset:
[TensorFlow.js — Handwritten digit recognition with CNNs](https://codelabs.developers.google.com/codelabs/tfjs-training-classfication/index.html)

I installed both `"@tensorflow/tfjs"` and `"@tensorflow/tfjs-vis"` through npm.

When I import `tfjs-v

[2021-10-07 05:30] wondie commented on #494
Same issue 2022

[2021-10-07 11:20] vladmandic commented on #5696
possibly related to #5641 which is fixed in main branch.

[2021-10-07 14:34] BigZ opened #5698 "Compatibility with newer version of react native and expo"
While installing tfjs-react-native on my expo project, i've got this error
[code]
my config
[code]

i also believe this library not to be comptabile with expo-camera over version 7 while i have version 11.
forcing peer deps doesn't look like a good idea, but maybe we can write dependencies of tfjs-react-native like
    "expo-camera": ">=7.0.0",
if expo does not break api between major version

Tha

[2021-10-07 20:44] #5630 closed

[2021-10-07 23:16] ydp commented on #5684
Thank you @mattsoulanille , it works like a charm!

[2021-10-07 23:16] #5684 closed

[2021-10-08 04:39] qjia7 commented on #5689
@vladmandic Can you put the Inception v4 model somewhere that I can access? It seems that `http://wyse:10010/models/imagenet/inception-v4/model.json` is in your local server. The webgpu warning seems like a bug in our implementation.

And for your demo app, I can reproduce the bad performance for webgpu. Thanks for the reporting. I will take a look.

[2021-10-08 04:51] lolz0r opened #5700 "TFJS-TFLITE error when model outputs quantized values when calling predict(...)"
**System information**
Linux Ubuntu 18.04.03, Chrome 93
TensorFlow.js installed from (npm or script link):
Latest from NPM via script tag:
[code]

**Tensorflow.js Converter Version:**
Model created via TFLITE converter via python file (quantization aware training)

**Describe the current behavior:**
When running a model that outputs int8 values via TFJS-TFLITE, such as an image generation model, t

[2021-10-08 04:51] lolz0r opened #5701 "TFJS-TFLITE error when model outputs quantized values when calling predict(...)"
**System information**
Linux Ubuntu 18.04.03, Chrome 93
TensorFlow.js installed from (npm or script link):
Latest from NPM via script tag:
[code]

**Tensorflow.js Converter Version:**
Model created via TFLITE converter via python file (quantization aware training)

**Describe the current behavior:**
When running a model that outputs int8 values via TFJS-TFLITE, such as an image generation model, t

[2021-10-08 04:58] rthadur commented on #5701
duplicate of https://github.com/tensorflow/tfjs/issues/5700 , closing this issue.

[2021-10-08 15:28] playground opened #5702 "Invalid argument: Cannot parse tensor from proto: dtype: DT_VARIANT"
I'm having this same issue since v3.8.0, running node v15.7.0, tfjs-node v3.8.0 or v3.9.0 on Mac Big Sur.
But no issue running on Raspberry Pi 3 & 4.  I'm attaching the model I'm using.

  const image = fs.readFileSync(imagePath);
  const decodedImage = tfnode.node.decodeImage(new Uint8Array(image), 3);
  const model = await tfnode.node.loadSavedModel(modelPath);
  const predictions = model.predic

[2021-10-08 17:39] pyu10055 commented on #5692
@mattsoulanille @vladmandic backend compatibility validation would be great feature, but it might need to be a runtime validation, as some of the control flow functions or others nodes might not be executed at runtime.  I think it might be good feature for our in-development debugger app @jinjingforever

[2021-10-08 17:43] rthadur commented on #5702
Yes it will be part of next release.

[2021-10-08 18:59] #5702 closed, assigned to nobody

[2021-10-08 20:41] pyu10055 commented on #5691
@ByrdOfAFeather maybe you can share screenshot of the network tab in the chrome developer tools while you loading the model.
It is likely that you failed to download the binary files.
If you have python3, you can use `python -m http.server` to start a web work, but all your files needs to be under the directory where you run the command.

[2021-10-08 21:51] vladmandic commented on #5343
I have seen the same behavior in **every off-the-shelf model**
Just pick any from TFHub - I've provided performance data for `Inception-v4`, EfficientDet-D4`, EfficientNet-B5`, `MobileNet-v2`.

What is the intended benefit of the packed conv2d shader? I don't see much benefit of it:
- few percent faster inference (never more than 2-5%, hardly worth it)
- few hundred percent slowdown in warmup (ave

[2021-10-08 22:53] #5696 closed

[2021-10-09 00:16] asilvas opened #5704 "GPU utilization is very poor on multi-process or concurrently trained models"
**System information**
- TensorFlow.js v3.9.0 (Windows 10), `tfjs-node-gpu`
- Are you willing to contribute it (Yes/No): Possibly if not overly complex changes

**Describe the feature and the current behavior/state.**

On average most model training greatly underutilizes the GPU, due to the nature of how GPU's scale. We all know that large models (tens or hundreds of millions of params) perform fa

[2021-10-09 00:21] eledahl opened #5705 "Landmarks not placing correctly on back camera"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow.js):
  Copied from [here](https://github.com/jinjingforever/tfjs-react-native-pose-detection/blob/main/App.tsx)

- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
 macOS Big Sur 11.2.1

- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobil

[2021-10-09 01:55] ydp commented on #298
Searching workaround for wasm backend, FYI, after long time experiments, I used below code to pass image into mobilenet v2 model:
[code]
Complete code: https://github.com/ydp/tfjs-wasm-examples/tree/main/mobilenet

[2021-10-09 10:36] bolajahmad commented on #5633
is there a logic to grouping them togethere?? ... because the way the json object looks, there's nothing tying the models to their configs or backend fields...

it's not straightforward to refactor this.

[2021-10-09 11:06] bolajahmad commented on #5633
okay, i think i have more understanding of this now... after reading though what the benchmarkAll function does, my bad i should probably have done that first.

but then, if i have to pass an array of browsers into each benchmark, won't that make the code very much longer?

[2021-10-10 02:17] ByrdOfAFeather commented on #5691
@pyu10055
![Screenshot_20211009_221143](https://user-images.githubusercontent.com/23299767/136678761-d4691dac-3086-42fb-bab2-9a3e0085c1fc.png)
![Screenshot_20211009_221146](https://user-images.githubusercontent.com/23299767/136678762-3c2e7077-82f4-4252-b88d-0ff29b6927c1.png)
![Screenshot_20211009_221151](https://user-images.githubusercontent.com/23299767/136678763-3c173ec9-c8b9-46a1-90df-9882f2b27

[2021-10-10 16:08] vladmandic opened #5709 "tensor cannot be created from clamped array"
tensor cannot be created from clamped array

for example, `(imageData: ImageData).data` is of type `Uint8ClampedArray`.

[code]
fails with error:
[code]

but doing this *(which is completely pointless)* works just fine:

[code]

of course, `tf.browser.fromPixels(ImageData)` works either way, but
- its browser-only, not available in nodejs
- passing just the data array instead of entire imageData o

[2021-10-10 16:28] vladmandic commented on #5709
This should be a trivial one - just add `Uint8ClampedArray` in `tfjs-core/src/util_base.ts`
[code]

[2021-10-11 11:55] NonlinearNimesh opened #5713 "Uncaught (in promise) TypeError: model.predict(...).data is not a function"
I am trying to implement EAST text detection using tensorflowjs and after reading an image when I try to predict using the below code :
[code]
i am getting the above-mentioned error but when i remove the .data() part from

```let predictions = await model.predict(tnsr).data();```

then code is working fine with output
[code]
but the output is not what I am expecting, I am expecting the probabiliti

[2021-10-11 18:17] #5713 closed, assigned to rthadur

[2021-10-12 13:08] bibs2091 opened #5716 "Error when running yarn test in tfjs-layers"
- TensorFlow.js version: 3.9.0

Whenever I try to run the command
[code]
inside the tfjs-layers folder I get this error:
[code]

I tried with a freshly cloned tfjs and the same error happened, what is the missing step

[2021-10-12 13:39] kudlav opened #5717 "tfjs-react-native RangeError when loading model in release variant"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow.js):
   `custom code`
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
   `MacOS 11.6 (20G165)`
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
   `Samsung Galaxy A40`
- TensorFlow.js installed from (npm or script link):

[2021-10-12 15:33] #5709 closed

[2021-10-12 16:40] #5705 closed, assigned to jinjingforever

[2021-10-12 18:25] mattsoulanille commented on #5660
I'm able to reproduce this error, and I'm working on fixing it. Thanks for reporting it, @gyagp!

For CI, we don't actually use Compute Engine. Instead, we use [Cloud Build](https://cloud.google.com/build), which, as far as I can tell, only supports Linux containers (I'll try Windows anyway, but I don't expect it to work). There are other containers for building Windows-specific things on GCP, lik

[2021-10-13 01:34] mattsoulanille commented on #5716
Thanks for the bug report! This is a bug in the `package.json` test script. `tfjs-layers_test` should be `tfjs-layers_webgl2_test`. It was not caught by CI since CI does not run tests through `yarn test` and uses a different method instead. I'll submit a fix.

[2021-10-13 12:20] #5468 closed

[2021-10-13 13:09] NonlinearNimesh opened #5721 "Reducing the size of model"
Hi, I have a frozen model of 96mb and using "quantization 1" I have reduced it to 24MB.

Is there a way to reduce this size further, I want my size to be in between 10-12MB (Preferably 10MB)

Thanks

[2021-10-13 14:28] taatiq882 opened #5722 "Can anyone make a demo project using mediapipe pose and realtime webcam ?"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
- Mobile device (e.g. iPhone 8

[2021-10-13 21:24] #5716 closed

[2021-10-13 21:49] alexionby opened #5724 "Problems when running tfjs-tflite demo"
I run the [demo in tflite](https://github.com/tensorflow/tfjs/tree/master/tfjs-tflite), the chrome console has such a problem
![image_2021-10-14_00-41-29](https://user-images.githubusercontent.com/6616117/137217114-f6209ac5-b649-44cc-82d6-198ec3a08de0.png)
：
But `yarn build-deps` & `yarn` & `yarn watch` produce no errors.

How could i avoid this errors?

[2021-10-14 02:28] BigZ commented on #3134
hello @QuevedoIB @tafsiri @JakeJustLearning @bigdong89
did you manage to have a working react-native bodypix implementation ?
i successfully modified toMask to work with react-native-canvas and return it's implementation of imageData, but i can't do anything with this mask
cheers !

[2021-10-14 04:36] drago888 opened #5725 "Bodypix - Uncaught (in promise) Error: Could not initialize any backends, all backend initializations failed"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow.js): No (Demo pa

[2021-10-14 22:49] arnaud-secondlayer opened #5728 "Support GRU with reset_after=True"
Do you have any plan to support GRU with parameter `reset_after=True`?
The problem today is that tensorflow support only `reset_after=False`, and tensorflow supports only `reset_after=True` for training with GPU.
This means that if we want to use GRU with tensorflowjs, then it's slow to train.

[2021-10-15 00:58] drago888 commented on #5725
Hi Vladmandic,

Thanks for your kind assistance.
It's confirmed to be the video card issue.
I tried loading up on windows 10 for same laptop and able to access same page without any issues.

Sorry that never tried investigating along that line as for another bodypix page, the demo is working on my ubuntu setup.
[](https://qumoptly.github.io/body-pix/)

[2021-10-15 00:58] #5725 closed

[2021-10-15 17:42] vladmandic opened #5729 "Cannot create custom build due to issues in Operations Mapper"
trying a create a custom build and bundle of `tfjs`, got most of it working  but fails on `tf.loadGraphModel` with error:

[code]

traced it down to:
`tfjs-converter/src/operations/operation_mapper.ts`: -> `class OperationMapper` -> `constructor`

[code]

*how is this supposed to ever work?*
`ops` is a constant array of strings, so reading `op.json` property will **always** return `undefined` unle

[2021-10-15 17:44] #5729 closed

[2021-10-15 18:51] vladmandic commented on #5729
my bad, its a strange import of json files without specifying what it is. sorted it out.

[2021-10-16 07:40] bartbutenaers commented on #1422
Hi @pyu10055, @jinjingforever,
Would be nice if you could share some information about the status of this feature.
We are using Tensorflow.js extensively for video surveillance in our open-source commity, in the Node-RED ***NodeJs*** IOT application.  If a Javascript-only solution for Coral tpu's would become available, we could offer free professional video surveillance for less technically skill

[2021-10-16 16:12] EricMarcantonioIR commented on #2785
Hey @sseppola !

Did you find a way to transform audio streams into something that browser_fft can understand? I have some ideas, but before I go and deep dive, I was wondering if you have a solution.

Thank you!
Eric

[2021-10-16 21:45] thibaut-d commented on #2000
I also get "Error: Unknown layer: KerasLayer" when exporting with tfjs.converters.save_keras_model(model, "./test_tfjs"). I will test with other export options.

[2021-10-17 09:10] sseppola commented on #2785
I did not, ended up using using tflite and writing native integrations for what I needed.

[2021-10-17 19:35] thibaut-d opened #5734 "Support for BERT's hub.KerasLayer preprocessors and encoders"
**System information**
- TensorFlow.js version: 3.9.0
- tfjs-react-native version: 0.7.0

**Current behavior/state.**

I'm trying to make a pilot project to see how we can use BERT in React Native with TensorFlow.js.

The code is public: <https://github.com/thibaut-d/Bert-in-React-Native-with-TensorFlow.js>

I train the following model:

[code]
I save it to different formats:

[code]
*WARNING:absl

[2021-10-18 23:44] danwexler opened #5740 "[tensorflow/tfjs][tfjs-node-gpu] cuda_malloc_async fails with CUDA device attribute error"
Using **tfjs-node-gpu** on a GKE cluster running on an n1-higmem-8 with an NVIDIA P4 or V100 GPU fails when the cuda_malloc_async allocater is set using TF_GPU_ALLOCATOR.

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow.js): YES
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 18.04 64bit
- Mobile device

[2021-10-18 23:48] danwexler commented on #5740
[nvidia_smi.log](https://github.com/tensorflow/tfjs/files/7369153/nvidia_smi.log)

[2021-10-19 09:13] xhcao opened #5742 "backend tfjs-backend-webgpu correctness is false on e2e|posenet|1024|ResNet50|image"
Steps:
Run Test correctness on e2e posenet model with 1024|ResNet50|image configuration.

Device:
Tiger-Lake.

Result:
Prediction matches GPU is false. actual[score] = 0.615322583793279, expected[score] = 0.6023533163482652

[2021-10-19 10:54] AlexShafir opened #5743 "[face-landmarks-detection] Cannot pass ImageBitmap to model in worker"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow.js): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 7
- TensorFlow.js installed from (npm or script link): https://www.jsdelivr.com/package/npm/@tensorflow/tfjs-core
- TensorFlow.js version (use command below): 3.9.0
- Browser version: Chrome  94.0.4606.81

[2021-10-19 17:29] AlexShafir commented on #5743
@rthadur if API says that one can enter ImageBitmap, you pass it (in worker context) and it fails, I expect this behavior is called a bug?

[2021-10-20 07:13] NonlinearNimesh opened #5750 "TensorflowJS Model.predict Problem"
I am trying to implement EAST text detection using tensorflowjs and after reading an image when I try to predict using the below code :
[code]
the output I am expecting is, images that don't have text then the probability should be less than 0.5 but the probablity i am getting is uneven (shown below)

[code]

And I am new in tensorflowJS, so i am trying to map this python code to tensorflowjs
[cod

[2021-10-20 08:13] kboul opened #5751 "console.warn Platform browser has already been set. Overwriting the platform with [object Object]."
I am receiving this warning multiple times during my tests.
I am using React with jest and react-testing-library.
I was using @tensorflow/tfjs version 3.2.0 and I upgraded to 3.9.0 because I saw there is a way to supress this error but still
I get this in the console multiple times

![Screenshot from 2021-10-20 11-10-54](https://user-images.githubusercontent.com/14216599/138054116-47c2bd9b-8443-46

[2021-10-20 12:53] vladmandic commented on #5751
You don't want to suppress the warning, you want to fix it - and the core issue is that you're importing `tfjs` multiple times.

TFJS should only be imported once and on import it registers its backends and runtime environment. So if you import `tfjs` again, it will throw a warning that it's already been registered.

[2021-10-20 13:35] fweth opened #5753 "Creating Tensor From Uint8ClampedArray"
Would be cool if a tensor could be created from Uint8ClampedArray.  Maybe I'm doing it wrong, but it gives me the error `Uncaught Error: values passed to tensor(values) must be a number/boolean/string or an array of numbers/booleans/strings, or a TypedArray`.  If I instead write `tf.tensor([...arr])` where `arr` is my Uint8ClampedArray, it works fine.  Or is there a technical reason for that?

[2021-10-20 14:07] #5753 closed, assigned to nobody

[2021-10-20 17:12] danwexler commented on #5740
FYI, this is all part of an unannounced product that is in development which allows you to run TFJS models both locally in the browser and at scale on a dedicated cluster of cloud VMs. So I do run this code both in `tfjs-node-gpu` and in the browser with `tfjs`, however the browser is typically used to adjust settings on a single frame rather than rendering the entire video. You *can* run the enti

[2021-10-20 23:29] rthadur commented on #2041
This has been added here https://js.tensorflow.org/api/latest/#tf.layers.Layer.getWeights , closing this request.

[2021-10-21 12:41] vladmandic commented on #5343
closing the loop after testing using todays code in main branch:

warmup is now about 2x faster
no material difference regardless if `WEBGL_PACK_DEPTHWISECONV` is enabled or disabeld so that issue is resolved
do note that enabling `WEBGL_USE_SHAPES_UNIFORMS` performs much better *(2x faster warmup)* regardless of packing (actually packing improvements make it even faster)!

**webgl** default
- war

[2021-10-21 14:20] vladmandic opened #5757 "WebGPU implementation of tf.image.fromPixels is inverted on y-axis"
environment:
- tfjs 3.9.0 using tfjs-backend-webgpu 0.0.1-alpha8
- tfjs and tfjs-backend-webgpu fresh build from main branch as of today

basically, if i use `tf.image.fromPixels`, resulting tensor is inverted on y-axis - thus fully corrupted
if i construct tensor manually, it works fine

(i havent noticed before since i'm mostly using tfjs in a web worker so not relying on tf.image.fromPixels)

[2021-10-21 17:39] ByrdOfAFeather commented on #5691
I see, there was an issue in the repository I submitted for the bug. I fixed it and can now load the model. Now I also see that there are no placeholder elements. It is unclear to me how to solve this, I believe I have selected the correct output nodes.

[2021-10-21 20:50] pyu10055 commented on #5721
Hi @NonlinearNimesh The quantization mechanism of TFJS converter you have used is the main way to reduce the size of TFJS model.  Can you explain what is the purpose of the size reduction? are you looking for smaller transportation size or faster model inference?
If you are just looking for size reduction, and if your web server support gzip for static file serving, the quantized weight file shoul

[2021-10-21 22:28] jasonmayes commented on #1422
Hello all. I see a lot of people still interested in this and am curious to gather more information. For those of you that see this would you be able to provide more details for:

1) The target platforms you want to use this on? Is it RaspberryPi or a mobile phone or something else?

2) Is a Node.js solution just as useful or do you need browser usage explicitly? My reasoning here is that right no

[2021-10-21 23:57] asilvas commented on #5704
Sure thing. Here's a contrived test: https://gist.github.com/asilvas/29c566709d0565a9638b7605ecf8e283

Produced results:

[code]

Despite using less than 5% of the GPU with a single model, training two concurrently netted only ~11% gains (despite a near idle GPU). Increasing concurrency slightly increases overall throughput, but by very insignificant gains.

I didn't do much testing as I wasn't wo

[2021-10-22 01:58] mattsoulanille commented on #5279
Closed by #5748

[2021-10-22 01:58] #5279 closed

[2021-10-22 18:52] #5757 closed, assigned to shaoboyan

[2021-10-23 01:56] RaphaelRoyerRivard commented on #5722
I suggest you read about mediapipe selfie segmentation.
https://google.github.io/mediapipe/solutions/selfie_segmentation.html
Their web demo shows how you can include it in a web page.
https://codepen.io/mediapipe/pen/wvJyQpq

[2021-10-23 02:00] RaphaelRoyerRivard opened #5765 "Can a graph model loaded with tensorflow.js use data on GPU without transferring it to the CPU first?"
Hi, I am currently using tfjs 3.8 to load a segmentation model (loaded as a tf.GraphModel) on the client side. To create the input Tensor, I call browser.fromPixels(imageData), which creates the Tensor on CPU from the ImageData object that is also on CPU. Since I'm using tfjs' webgl backend, the data is sent to the GPU when calling the model.predict(tensor) function. All of this works well, except

[2021-10-24 23:59] mfilipak opened #5766 "Tensorflow.JS version 3.10.0 is exceeding 100MB breaking src loads."
When using:
https://cdn.jsdelivr.net/npm/@tensorflow/tfjs
Browser shows: Package size exceeded the configured limit of 100 MB.

Workaround:
Using version 3.9.0 as link below.
https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@3.9.0/dist/tf.min.js

Hope it should be good break the build if the size exceeds 100Mbytes as it seems to be the default for chrome browsers.

[2021-10-25 07:15] unit-002 opened #5768 "Tensor works fine in other browser but having error in firefox"
I'm using tensorflow mobilenet and I'm having this error in firefox only

`Unhandled Rejection (SecurityError): The operation is insecure.`

[code]

But in Chrome, Opera and Edge, I don't have this error.

I am using  the latest versions

[code]

which version works best with firefox?

[2021-10-25 15:08] NonlinearNimesh opened #5769 "Tfjs Flattening the Output array"
Hi i am working on TensorflowJS and implementing This below python code

[code]
Here the output Geometry and scores is in 4D shape. for Example
[code]
But when I am trying to implement this is tensorfowJS, the output score I am getting is a flattening array or 1D array
[code]
here is my tensorflowJS code
[code]

can anyone help me why I am getting a 1D array instead of a 4D array?

[2021-10-26 17:23] #5768 closed, assigned to rthadur

[2021-10-27 14:14] t0mstah opened #5775 "tsjs-node: sh: line 1: 18590 Illegal instruction: 4"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): MacOS 11.6 (Big Sur)
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: N/A
- TensorFlow.js installed from (npm or script link): npm
- TensorFlow.js version: 3.10.0
- CUDA/cuDNN version: N/A

**Describe the problem**

Getting error `sh: line 1: 18590 Illegal instruction: 4

[2021-10-27 14:46] NonlinearNimesh opened #5776 "Dicom to PNG/JPG etc."
Hi, i want to convert Dicom file to png or jpg in tensorflowJS, but I am not able to find any resources for the same.

Can anyone please help me regarding this

Thanks

[2021-10-27 14:48] haoyunfeix opened #5777 "Bazel build for type declaration problem"
When I make WebGPU bazel build according to https://github.com/tensorflow/tfjs/blob/master/BAZEL_MIGRATION.md, I met a `error TS2688: Cannot find type definition file for '@webgpu/types'`.

To reproduce this error simply, I made a sample code on tfjs-core, add 3 lines in 3 files as below:
[code]

Then `yarn build` command will report an error:
[code]
I also tried use `import "@webgpu/types"` inste

[2021-10-28 13:17] unit-002 opened #5786 "terminate tensor mobilenet when navigating"
Is there a way to terminate tensor or mobilenet when navigating.

for example

`mobilenet.load()`

is there a functionality to unload or terminate mobilenet when navigating to a different page?

[2021-10-28 14:37] tfang17 opened #5787 "Verbose logging not working"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): MacOS 11.6 (Big Sur)
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: N/A
- TensorFlow.js installed from (npm or script link): npm
- TensorFlow.js version: 3.10.0
- CUDA/cuDNN version: N/A

**Describe the problem**

Logging not working on `model.fit`, even with `verbose`

[2021-10-28 22:35] #5775 closed, assigned to mattsoulanille, rthadur

[2021-10-29 00:03] #5776 closed, assigned to rthadur

[2021-10-30 13:21] amit0shakya opened #5797 "@tensorflow/tfjs-node installation failed in windows system"
I am using node version v10.24.1, Win 10 OS, VSCode IDE 1.61.2.  I have installed C/C++ extension to VSCode but still when I try to install @tensorflow/tfjs-node npm package it throws me error.

node-pre-gyp install failed with error: Error: Command failed: node-pre-gyp install --fallback-to-build
node-pre-gyp ERR! install response status 404 Not Found on https://storage.googleapis.com/tf-builds/p

[2021-10-31 05:30] unit-002 commented on #5786
Thanks

[2021-10-31 08:51] ibrohimislam commented on #3052
`cpu-linux-arm64` is not metioned in https://github.com/tensorflow/tfjs/blob/05b46e80c248a41822f6bab95dcf2e8095ada24c/tfjs-node/scripts/deps-constants.js#L44. the issue #5173 seems on raspberry with arm arch not arm64

[2021-10-31 13:59] NormanTUD opened #5798 "Check for unused parameters"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow.js version (you are using): Latest
- Are you willing to contribute it (Yes/No): yes

[2021-11-01 08:23] liliquan0118 opened #5800 "When in webgl backend, tf.isNaN() produces incorrect results"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow.js):yes
- OS Pla

[2021-11-01 16:06] GwangjoGong commented on #2987
Any update on this issue? I'm facing the same problem...

[2021-11-01 16:22] rthadur commented on #5797
Can you please try below commands :

[code]

[2021-11-01 16:23] #5786 closed

[2021-11-01 16:37] rthadur commented on #2987
Please check the related PR https://github.com/tensorflow/tfjs/pull/3041#issuecomment-953312177 , @jinjingforever is working on fix for it. Thank you

[2021-11-01 16:43] rthadur commented on #5800
I tried in lates chrome browser(MAC OS) and was not able to see above behavior
![image](https://user-images.githubusercontent.com/43972606/139707905-c6f8ae3c-60c1-4bfe-b35a-073a58afa264.png)

[2021-11-01 17:12] amit0shakya commented on #5797
sudo?? sudo commands dosen't work, I think it is linux based command. and second thing I am not able able to run
"npm install @tensorflow/tfjs-node" command I throws error.

[2021-11-01 18:56] rthadur commented on #5798
cc @pyu10055 @lina128

[2021-11-01 20:04] rohanmuplara opened #5803 "Support for eye function in conversion"
I have a model using tf.eye and it doesn't seem to convert
https://colab.research.google.com/drive/1UqIRuVstYwOjxgX-sqY_qDJBw2rwpLSC?usp=sharing
Getting this issue ValueError: Unsupported Ops in the model before optimization
MatrixSetDiagV3.

[2021-11-01 22:08] rodrigoGA commented on #2000
I have generated a model using tensorflow modelmaker and exported it
[code]

and then

`model =  await tf.loadLayersModel("./tfjs-model/model.json");
`
throw the following error

[code]

[2021-11-02 03:33] venkatesh-pro commented on #1278
Did you solve this issue

[2021-11-02 04:21] rodrigoGA commented on #4284
I am getting this error when trying to use tensorflow js in safari, with an ionic app.

[2021-11-02 09:46] maxcodefaster commented on #4284
Change to wasm backend

[2021-11-02 09:48] liliquan0118 commented on #5800
@rthadur Thank you for your prompt reply.  I did the test again, and this problem does exist on **ubuntu** (ThinkPad and Dell).  I also tested it on Mac and Windows, and I really can't see this behavior. This is strange, what is the reason?
The output of chrome on Ubuntu is as follows:
![image](https://user-images.githubusercontent.com/68681463/139823893-6d9d3d10-15a5-419c-8ca6-a836f29003fd.png)

[2021-11-02 15:52] Rakagami opened #5805 "`ModuleNotFoundError` when executing `tensorflowjs_wizard` on tensorflowjs 3.11.0"
**System information**
- Manjaro Linux x86_64
- TensorFlow installed from anaconda (implicitly thorugh `pip install "tensorflowjs[wizard]"`)
- TensorFlow version : 2.6.0
- Python version: 3.6.13
- CUDA/cuDNN version: cuda_11.4.r11.4
- GPU model and memory: NVIDIA GeForce GTX 1660 Ti, 6GB memory

**Current Behavior**
When I execute `tensorflowjs_wizard`, I get the following output:

[code]

**Expec

[2021-11-02 16:23] rthadur commented on #5800
Can you try run this https://js.tensorflow.org/debug/ and provide screenshot ?

[2021-11-02 16:29] vladmandic commented on #5689
@qjia7 did you have a chance to look at the `webgpu` latency issues i've mentioned? tests above is from 22 days ago.

[2021-11-02 16:31] Cristy94 commented on #2079
As far as I remember I haven't managed to fix it, I only ran it in a single thread.

[2021-11-02 16:33] liliquan0118 commented on #5800
This is screenshot:
![image](https://user-images.githubusercontent.com/68681463/139906826-4084707e-32d6-4ecf-b0ae-3c50b8c852bc.png)

[2021-11-02 16:36] rthadur commented on #5800
can you please upgrade to Chrome latest and try ?

[2021-11-02 16:53] liliquan0118 commented on #5800
I have updated Chrome to version 95.0.4638.69 and the error still exists. In addition, there is the same error on firefox.
The debug information is as follows
![Selection_139](https://user-images.githubusercontent.com/68681463/139910003-bfa858c6-1076-44db-b814-7848697c9016.png)

[2021-11-03 00:55] BigZ commented on #5698
@byCedric yes, yarn or legacy peer deps work, but signify there should be a change in package.json
Do you think i should do a PR for the change i suggested in my original message ? (ie peerdeps using >= instead of ^)

[2021-11-03 02:39] qjia7 commented on #5689
@vladmandic Sorry, I can't reproduce the latency issue you mentioned. From the code snippet you paste, it basically does nothing and is executed instantaneously in my side.
[code]

Some update for the warmup time:

- In tfjs level, we are reducing some shader variants firstly from binary ops #5791. Will start others when we get each operator's exact shader compilation time. Some challenges for us

[2021-11-03 04:05] vladmandic commented on #5689
@qjia7 thanks for the update!

and the description of the chromium queue handling is sounds like it could be the same root cause for what i'm seeing as extreme latency issues

for reproduction, im guessing your test failed since `imageData` was empty, but you can even use `tf.zeros` to reproduce
no model needed, nothing - just a trivial loop

here's a live link: <https://vladmandic.github.io/tfjs-

[2021-11-03 16:52] jinjingforever commented on #5698
@BigZ that sounds good to me. Thank you!

[2021-11-03 16:59] mkabatek opened #5808 "tfjs_converter output format incorrect."
Hello i'm working with `tfjs_converter` on a saved model via the following command

`tensorflowjs_converter --input_format=tf_saved_model --signature_name=serving_default --saved_model_tags=serve ./saved_model ./tfjs_model
`
This seems to convert my model fine however there is some oddity in the outputs when looking at the output tensors from the saved model.json.

If I run the following command I

[2021-11-03 18:40] lina128 commented on #3835
Hi @n0noob and @AlexShafir, we are working on providing the rotating feature to face-landmark API. It will likely be launched in January. I'm adding the engineer who will be working on it. In the meantime, feel free to patch the solutions the community provides here.

[2021-11-03 19:08] AlexShafir commented on #3835
@lina128 are contributions are still welcome or "stat:contributions welcome" label should be removed?

[2021-11-03 20:43] vladmandic commented on #5808
mapping output node names is a best effort and only added in recent versions, previously it was all just `identity_n`
but for mapping to work, tensors must have unique shape so they can be determined without errors. if two tensors have the same shape, there is no chance to know which one is which auto-magically

you can see that `detection_anchor_indices` and `detection_classes` have the same shap

[2021-11-03 22:32] mkabatek commented on #5808
@vladmandic thanks for that explanation that helps. Is there any way to prune or remove output tensors that may not be needed during the conversion using `tensorflowjs_converter` or a way to name or rename the outputs tensors?

The problem is that when using these outputs in `tfjs` knowing which output to use is important, if we have some arbitrary output names it makes interpreting the output dif

[2021-11-03 22:40] #2987 closed

[2021-11-03 23:47] #1660 closed

[2021-11-04 00:47] #2504 closed

[2021-11-04 02:27] vladmandic commented on #5808
A) yes, you can rely on it since it's now defined in model.json
B) you can run model.json through a prettyfier and then edit signature part to write down anything you want.

[2021-11-04 07:32] qjia7 commented on #5689
@vladmandic Thanks for your live case. I can reproduce it now. After debugging, I find the time mainly costs on `queue.writeBuffer`. It seems that this API needs to be optimized in browser for big data uploading. I reported a bug to chromium https://bugs.chromium.org/p/chromium/issues/detail?id=1266727.

[2021-11-05 00:04] GKjohns commented on #4514
Have there been any updates here? Given that apple silicon isn't going away, there's a lot of potential impact in unblocking this

[2021-11-05 12:52] basicemotions opened #5816 "is:issue is:open UnhandledPromiseRejectionWarning: TypeError: forwardFunc is not a function: need to update package.json version of @tensorflow/tfjs-node"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
- Mobile device (e.g. iPhone 8

[2021-11-05 15:44] rthadur commented on #5816
As the error suggests please update your package.json to latest version and include only `tfjs-node` in the packages.Finally run npm install.

[2021-11-05 17:26] vladmandic commented on #5110
workaround until #5317 is resolved:

[code]

[2021-11-05 17:30] #5721 closed

[2021-11-05 17:39] pyu10055 commented on #5805
@Rakagami Thank you for reporting this, will be fixed in the next release.

[2021-11-05 17:48] pyu10055 commented on #5798
@NormanTUD As you stated, providing warning message to list out the wrong keys will be very useful to avoid confusing between the keras and tfjs naming. It will be even better to be able to suggest the right naming for the user.
Seem you are willing to contribute this feature, we are happy to review your PRs. Thanks

[2021-11-05 18:33] pyu10055 commented on #2553
@qjia7 Can you verify if this issue can be closed? thanks

[2021-11-05 19:53] #5805 closed

[2021-11-05 20:25] ByrdOfAFeather commented on #5691
I went back and used an export function in the software that I was using rather than using my own export function, I know cna load the model and have input nodes. https://github.com/DeepLabCut/DeepLabCut/blob/ce681b4073ab1a0bd5823f892ebe0f9c47a0f7f6/deeplabcut/pose_estimation_tensorflow/export.py#L234 For future reference.

Thanks for helping - I'm going to go ahead and close since this seems to b

[2021-11-05 20:25] #5691 closed

[2021-11-05 20:27] rthadur commented on #3624
This is working as expected after upgrading to latest version. please check here https://github.com/tensorflow/tfjs-models/blob/master/body-pix/demo/package.json

[2021-11-05 20:27] #3624 closed

[2021-11-05 20:33] rthadur commented on #3017
Related PR has been merged and changes are now available. closing this issue.

[2021-11-05 20:33] #3017 closed

[2021-11-05 20:38] rthadur commented on #3206
Posenet will not be supported in future , please refer to [movenet](https://github.com/tensorflow/tfjs-models/tree/master/pose-detection/src/movenet) model in future.

[2021-11-05 20:38] #3206 closed

[2021-11-05 20:44] rthadur commented on #4155
@zhubinsheng please provide error details which you are seeing ?

[2021-11-05 20:53] Michael-F-Bryan opened #5819 "Unable to use @tensorflow/tfjs-tflite with a bundler"
**System information**
- OS Platform and Distribution: Arch Linux
- TensorFlow.js installed from (npm or script link): `@tensorflow/tfjs-tflite version 0.0.1-alpha.7`

**Describe the problem**

The `@tensorflow/tfjs-tflite` package can't be imported by a project that uses a bundler unless the end user manually copies the `dist/` folder out of `node_modules/` and serves its contents themselves.

Th

[2021-11-05 22:42] rthadur commented on #4056
@jasonmayes could you please let us know if you have any update on this ?

[2021-11-05 22:48] rthadur commented on #3084
Verified on latest ios , and also the example is updated to use latest tfjs version. could you please verify once ?

[2021-11-05 23:03] rthadur commented on #3945
can you please try with latest version , if the issue still exists ?

[2021-11-06 18:37] nickls commented on #2475
I worked around this bug by dividing my tensor by a constant (255) before calculating the variance. While clearly not helpful for many tasks this can help with certain image processing tasks (edge detection, blur, etc.)

[2021-11-07 06:13] aohua opened #5821 "Unhandled Rejection (Error): Based on the provided shape, [4,4,64,128], the tensor should have 131072 values but has 14636"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow.js):
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): macOS Big Sur
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: N/A
- TensorFlow.js installed from (npm or script link): npm
- TensorFlow.js version (use command below): 3

[2021-11-07 06:20] #5821 closed

[2021-11-07 14:00] SultaniSaid opened #5822 "[Codelab]: TensorFlowJS Comment Spam Detection"
The link linked to "future code lab" is going to error 404.
The error link is: https://developers.google.com/tensorflow-retraining-comment-spam-detection#0

You might have wanted to link instead to: https://codelabs.developers.google.com/tensorflow-retraining-comment-spam-detection#0

[2021-11-07 15:19] SultaniSaid opened #5823 "[Codelab]: TensorFlowJS Comment Spam Detection"
Since the file were moved and renamed as to the instructions, this instruction seems outdated: "be sure to replace the MODEL_JSON_URL string value with the path of the model.json file you generated when you uploaded the file to your Glitch assets folder in the prior step"...?

[2021-11-07 23:45] nhype commented on #5475
same issue, on ios in release mode. in debug mode everything works. i am using expo.

[2021-11-08 01:27] qjia7 commented on #2553
After we supported the conv2d vec4 version, I think im2col is not that necessary for us now. Let's close it.

[2021-11-08 01:27] #2553 closed

[2021-11-08 02:29] haoyunfeix commented on #5777
Yes, that fixes my problem. Thank you, @mattsoulanille

[2021-11-08 02:29] #5777 closed

[2021-11-08 02:47] its-ogawa commented on #3945
Thank you for contacting us.
I am glad that you continue to work on this issue.

Now, as for the results, resizeNearestNeighbor works, but cropAndResize does not.

The source code is the same as the old one.

I think tfjs has been uploaded. I am running the following command.

[code]

[code]
![image](https://user-images.githubusercontent.com/69997979/140676212-e751ff89-7fc2-4650-9a84-66c26a8142c5.

[2021-11-08 06:09] haoyunfeix commented on #5660
Verified and it also works for WebGPU backend testing using Bazel tool.
Another question: Will it support `--grep` in command line like the describe in https://github.com/tensorflow/tfjs/blob/master/DEVELOPMENT.md#testing ?

[2021-11-08 07:50] yorkie commented on #927
@cpury I did implement the `tidyAsync()` at https://github.com/imgcook/datacook/pull/75, which allows returning Promise but restrict only one running instance, namely, you must await every call to `tidyAsync()`.

[2021-11-09 01:47] jasonmayes commented on #4056
So the data from this table was also added to the website here (https://www.tensorflow.org/js/demos) but there is no extra detail than what is shown here however it is easier to read and filter.

In other news for new demos/examples by the community that are not maintained /created by the TensorFlow.js team we now have a new website for this purpose: https://devlibrary.withgoogle.com/products/ml a

[2021-11-09 01:47] #4056 closed

[2021-11-09 23:41] josephrocca opened #5828 "Ability to import tfjs-backend-wasm without bundler (like when importing `tf`)"
**System information**
- TensorFlow.js version (you are using): 3.11.0
- Are you willing to contribute it (Yes/No): Depends on how hard this is to implement - I don't know my way around the tfjs codebase.

**Describe the feature and the current behavior/state.**
Currently we can load the wasm backend with script tags like this:
[code]
I've tried doing something similar with the new JS module impor

[2021-11-10 01:32] Honry opened #5829 "Support TFLite models in e2e benchmark"
**System information**
- TensorFlow.js version (you are using): 3.11
- Are you willing to contribute it (Yes/No): Yes

**Describe the feature and the current behavior/state.**

Thanks to the [tfjs-tflite API](https://github.com/tensorflow/tfjs/tree/master/tfjs-tflite), we are able to run TFLite models on the Web, and people may want to evaluate the performance. So I suggest to support running TFLi

[2021-11-10 01:55] pyu10055 commented on #5829
@jinjingforever can you share your thoughts on what steps are needed to support tflite in benchmark? thanks

[2021-11-10 06:31] strumbelj commented on #3937
Same issue here, reading a video, processing the frame and predict it takes a few ms. Putting the tensor to a canvas (with t.data / t.array / drawImage / putImageData / ...) needs 3 seconds for 512x512x1 images and thus is a huge bottleneck in my application.

[2021-11-10 06:32] strumbelj commented on #3455
Same issue here, reading a video, processing the frame and predict it takes a few ms. Putting the tensor to a canvas (with t.data / t.array / drawImage / putImageData / ...) needs 3 seconds for 512x512x1 images and thus is a huge bottleneck in my application.

[2021-11-10 06:52] NormanTUD commented on #5798
I need some time for this, but I see 2 ways of realizing this. The first is to have an array of valid values, which would be hard to maintain. The other one, which is less accurate, but really easy to implement and maintain I think, is to check the args for the existence of a "_" character. A warning like "did you mean kernelInitializer instead of kernel_initializer?" would also be easily automate

[2021-11-10 09:25] muarachmann commented on #4514
Any updates on this. Really a blocker

[2021-11-10 11:55] IbrahimAliAsghar commented on #952
@bryan-14four  I am using tfjs direclty from browser by calling the face-api.js script, any idea how i can fix there. ?

[2021-11-10 13:51] vladmandic opened #5831 "unable to change backend to `wasm` in runtime"
**environment**: tfjs 3.11.0 on chrome 97

**description**: if `wasm` backend is used first then its possible to switch to `webgl` or `webgpu`
but if any other backend is used first, switching to `wasm` causes error

this code results in error:

[code]

error:

[code]

but just changing order of backends from `['webgl', 'wasm']` to `['wasm', 'webgl']` works without issues

replacing `webgl` with `

[2021-11-10 14:25] jimaek commented on #5828
It's something jsDelivr will soon be able to support automatically and on the fly via our ESM functionality https://www.jsdelivr.com/esm

[2021-11-10 15:30] #5769 closed

[2021-11-10 17:24] jinjingforever commented on #5829
Yes, I think it is a good idea and it should be possible to add it. Adding it to my TODO list for now. Thanks!

[2021-11-10 18:37] jasonmayes commented on #5823
On Glitch you need to use the new URL it generates as the CDN is not a relative path to the HTML/CSS/JS app. This is only needed to be done on Glitch. If you are using your own web server eg Apache / Express etc than you can just upload the files without modifying anything and reference the model.json with a relative URL.

[2021-11-10 18:37] #5823 closed

[2021-11-10 20:52] josephrocca opened #5832 "Working ONNX file converted to tfjs (via tf SavedModel) doesn't work"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow.js): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 20.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: Only tested on desktop
- TensorFlow.js installed from (npm or script link): https://cdn.jsdelivr.net/npm

[2021-11-11 11:37] muarachmann commented on #2329
How?

[2021-11-11 12:12] ThirashaPraween commented on #2329
Don't know the reason but it's worked for me with the latest `@tensorflow/tfjs` and react version.

[2021-11-11 16:30] #5787 closed

[2021-11-11 17:30] #5750 closed

[2021-11-11 17:42] Mrjavaci commented on #4514
I regret buying M1 so much

[2021-11-12 06:58] qjia7 commented on #5660
@mattsoulanille I tried the new way to build on wsl. It works for me. Thanks for you great efforts on this. I have the save question as Yunfei. How should we use `--grep`? It seems that `yarn test --grep='packed'` not work for me.

And another issue I met is it always reports that `Google Chrome can't read and write to its data directory /tmp/karma-16220143`. Failed to create data directory. Curre

[2021-11-12 12:16] torressam333 opened #5838 "The qna model demo on your Github page does not return any answer results"
**System information**

- Have I written custom code (as opposed to using a stock example script provided in TensorFlow.js): No.
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux 20.04
- Browser version: Chrome Version 95.0.4638.69 (Official Build) (64-bit)

**Describe the current behavior**
When trying to run the qna model demo for TensorFlow.js I found that the answers always retu

[2021-11-12 21:46] dibenedetto commented on #2504
@google-ml-butler pinging on the topic.

[2021-11-12 22:31] WhatDoor opened #5839 "Cannot get WebGL context in Pop!_OS firefox"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow.js): Yes, but not relating to this bug
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Pop!_OS 21.04
- TensorFlow.js installed from (npm or script link): HTML Tag
- TensorFlow.js version (use command below): tfjs 3.1.0
- Browser version: Firefox 94.0

**Describe the cur

[2021-11-13 13:52] josephrocca commented on #5839
Unable to reproduce on PopOS 20.04 with Firefox v94:

![image](https://user-images.githubusercontent.com/1167575/141646188-28c938bc-dd35-4e97-9bce-80d747d815f6.png)

https://jsbin.com/wimogumana/edit?html,output

I'm not able to test PopOS 21.04 right now. Have you tried restarting your computer to see if the error persists? I sometimes get problems like this in Chrome (WebGL context lost), but re

[2021-11-13 14:36] josephrocca opened #5841 "Blazeface should automatically resize/downsample images before processing if they are bigger than the maximum WebGL texture size for the device"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow.js): No (it's basically the same as the example code)
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Android v11
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: Any
- TensorFlow.js installed from (npm or script link): htt

[2021-11-13 14:57] josephrocca opened #5842 "An option/flag to move all heavy processing off the main thread during inference"
**System information**
- TensorFlow.js version (you are using): 3.11.0
- Are you willing to contribute it (Yes/No): Yes, willing to help where possible

**Describe the feature and the current behavior/state.**
I've been playing with [ONNX Runtime Web](https://github.com/microsoft/onnxruntime/tree/master/js/web) recently, and one excellent feature is the ability to move all processing off the main

[2021-11-13 23:27] dibenedetto commented on #2504
@prouast are there any news?
thank you.

[2021-11-13 23:42] prouast commented on #2504
This is a two year old feature request which hasn't been getting any attention

[2021-11-13 23:45] dibenedetto commented on #2504
@prouast it's very strange, i mean, batch normalization for 5d tensor seems quite obvious for anyone who wants to process 3D tensors (e.g., medical 3D images).
did you get any alternative?

[2021-11-13 23:59] prouast commented on #2504
Agreed, which is why I opened this in the first place. I just ended up making an alternative model without batch norm back then.

[2021-11-14 05:12] jamesbalcombe83 commented on #2785
@sseppola and/or @EricMarcantonioIR my team and I are trying to achieve something very similar for a final project in a fullstack bootcamp. We are using react-native. I wonder if you would be willing to have a discussion about your approach and some of the dependencies you used to achieve speech recognition. It is proving very challenging for us so far, and there is very little resource to support

[2021-11-14 08:21] dibenedetto commented on #2504
@prouast I'll try to re-open a similar issue.

[2021-11-14 09:52] dibenedetto opened #5843 "Batch Normalization for 5D tensors (NxDxHxWxC) to handle 3D data (e.g., medical images)"
**System information**
- TensorFlow.js version (you are using): 3.11.0
- Are you willing to contribute it (Yes/No): No

**Describe the feature and the current behavior/state.**

Batch Normalization (BN) in 5D tensors (NxDxHxWxC) is needed to handle models dealing with single- or multi-channel gridded 3D data, like 3D CT or MR medical images.

Currently BN is limited up to 4D tensors, and with 5D o

[2021-11-14 11:45] josephrocca opened #5844 "TF Select operators in tflite web runtime"
**System information**
- TensorFlow.js version (you are using): 3.11.0
- Are you willing to contribute it (Yes/No): Yes, willing to help where possible

**Describe the feature and the current behavior/state.**
While attempting to convert a TF SavedModel to tflite for use on the web, I got this error:
[code]
And for another model, these were the missing ops:
[code]
 [The linked docs](https://www.te

[2021-11-14 13:35] bibs2091 opened #5845 "tf.data.Dataset.size returns null"
**System information**
- TensorFlow.js version: 3.10.0

**Describe the current behavior**
I created a tf.data.Dataset called validationDataset :
[code]
But when I try to get the size of the validationDataset i get null:
[code]
I know for a fact when I log the validationDataset that there are many elements in it yet it returns null.

Thank you

[2021-11-14 15:19] vodianyk commented on #4514
In case it's helpful, I have a compiled version of tensorflow shared libs for M1: https://github.com/vodianyk/libtensorflow-cpu-darwin-arm64

[2021-11-14 16:24] SIY1121 opened #5846 "TFLite support does not work in safari on iOS"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow.js): `yes`
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): `iOS 15.0.2`
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: `iPad 7th gen`
- TensorFlow.js installed from (npm or script link): `npm`
- TensorFlow.js version (use

[2021-11-14 16:41] vladmandic commented on #5839
Modern Firefox disables WebGL by itself if it doesnt detect that GPU is adequate - so make sure you're running good display drivers as majority of Linux default ones are anything but ok

And do a quick test by navigating to <https://get.webgl.org/webgl2/> and <https://webglreport.com/?v=2>

[2021-11-14 20:36] fishcharlie commented on #4514
I really don't want to add too much noise here. But @pyu10055 it looks like this issue is assigned to you. Can you please provide us an update on the status of this? Or maybe @rthadur since you have reopened this issue multiple times?

The fact that there hasn't been any official word regarding the status of this is **really** disappointing considering how many people are simply asking for a simpl

[2021-11-14 23:02] prouast commented on #2504
Thanks, hopefully it will get more attention this way.

[2021-11-15 00:00] josephrocca opened #5847 "Unsupported dtype in weight 'unknown_147': float16"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow.js): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 20.04
- TensorFlow.js installed from (npm or script link): https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@3.11.0/dist/tf.js
- TensorFlow.js version (use command below): 3.11.0
- Browser version: Chrome 95
-

[2021-11-15 03:44] kaykyr commented on #4514
Hi! Could you guid us how to install it? Thanks

[2021-11-15 06:14] its-ogawa commented on #3945
@tafsiri @rthadur

This post has not yet been resolved. Please do not close it.
I have presented the information I can report.

Please reply if there is anything I can do to help.