[2019-12-17 00:14] kangyizhang commented on #2558
@ksabr I can reproduce what you said. This example is suppose to show users how to use tfjs-node with electron framework, so it's possible that it does not work on all platforms.

On windows, you will need to install a certain version of Node.js which has NAPI v3 and >= v8.12.0 (https://nodejs.org/api/n-api.html#n_api_n_api_version_matrix). You can try with node.js v8.12.0 and it works on my machi

[2019-12-17 00:20] kangyizhang commented on #2560
@vebdizainer can you provide steps to reproduce this error? In the warning you pasted looks like you are not in node.js environment or you do not have node.js installed.

[2019-12-17 02:04] blackwool commented on #2561
@kangyizhang
  I Upfate  cuda to v10.0, then no error occurs.
Thank you.

[2019-12-17 02:04] #2561 closed

[2019-12-17 09:39] blackwool opened #2569 "BodyPix2 GPU version is not very faster than CPU"
#### TensorFlow.js version
@tensorflow/tfjs@1.4.0
@tensorflow/tfjs-node@1.4.0
@tensorflow/tfjs-node-gpu@1.4.0
#### Browser version
None
#### Node Version
v13.3.0 (64bit)

####OS
ThinkpadT460P (32G)
Geforce 940MX
WIN10
CUDA 10.0  CUDNN7.6.5

####BodyPix2 GPU version is not verf fast
I use mobilenet {outputStride: 16,    quantBytes: 2,    multiplier: 0.50 }  for test.
cpu mode:
     require("@tensor

[2019-12-17 12:19] ksabr opened #2571 "Importing keras saved model fails due to issue with higher rank tensor embeddings (?)"
Hi there,

I'm running into a problem with loading a saved keras model which has an embedding layer applied to rank 3 tensors. Please find further details below:

#### TensorFlow.js version
1.4.0

#### Browser version
74.0.3729.131

#### Describe the problem or feature request

I am trying to load a model created via the Python API, and I get the following error message:

[code]

The problematic b

[2019-12-17 12:48] annxingyuan commented on #2479
Fixed by https://github.com/tensorflow/tfjs/pull/2554

[2019-12-17 12:48] #2479 closed

[2019-12-17 16:01] set-killer commented on #2545
Hello @tafsiri ,
Yes, that's correct. I'll try to simplify the example of that what i'm doing. Let's say that I'm having a dataset with 6 columns - 5 as input parameters and the last one is the label (ys - only one label). For the training i'm mapping the values of the dataset like:
[code]
And this is pretty cool because after that i'm using the `model.fitDataset` method which automatically conver

[2019-12-18 10:43] Nk911 commented on #1400
Hi @dsmilkov ,

I am also facing issue related to Intel HD Graphics card,I have tried Face-api SSDMobilenetV1 Face detection and It is failing to detect the proper face.
More Details on :
[justadudewhohacks/face-api.js#495](https://github.com/justadudewhohacks/face-api.js/issues/495)

Intel GPU:
Intel HD Graphics 4600 + win 7 ultimate

Could you please help?

[2019-12-18 11:52] ksabr commented on #2558
Hi @kangyizhang ,

Thanks a lot - I have a working solution (installing electron 10.11.0, which is the one shipped with electron 4.0.0 used in the example), so I think we can close this. Hopefully other people running with the same problem on their platforms will be able to find a solution in this thread.

Many thanks again!

[2019-12-18 11:52] #2558 closed

[2019-12-18 13:02] ozican opened #2581 "tfjs with autoML on local model"
Hello, I try to work that code last 2 months and I really big stucked.
I trained my model on Google Vision and export for TFJS.. It says; you can use it TFSJ AutoML.

Anyway, I downloaded my model in to my local drive. I want to put an image https link then I want to get a predict.

I need to convert image to tensorflow3d but the point is, if I import TFJS-node or tfjs I get an error which is; `Yo

[2019-12-18 14:55] gsakkis opened #2582 "[tfjs-converter/python] Relax requirements"
It would be nice if some requirements weren't pinned to exact versions e.g. numpy and h5py, so they can be more easily installed.

[2019-12-18 16:57] annxingyuan opened #2583 "Add kernel for image standardization."
We often process images in the following way before feeding them to models:

`tf.mul(tf.sub(inputImage.toFloat().div(255), 0.5), 2)`

This could be achieved with a single kernel, following TensorFlow's example: https://www.tensorflow.org/api_docs/python/tf/image/per_image_standardization

[2019-12-19 02:44] ozican opened #2586 "Firebase and Tensorflow-automl not working together"
Hello everybody. I have a very strange issue.

When I use tfjs-node without firebase, it works very well. I can get my predicts with online image links. But when I import firebase and after sign-in (only sign-in, not using) I get `TypeError: response.arrayBuffer is not a function` that error. I can not load my model.

index.js
[code]

[code]

Here is my envoriment;

[code]

[2019-12-19 02:54] ozican commented on #2586
[code]

[2019-12-19 13:09] toonnyy8 opened #2587 "gradient function not found for prod"
To get help from the community, we encourage using Stack Overflow and the [`tensorflow.js`](https://stackoverflow.com/questions/tagged/tensorflow.js) tag.

#### TensorFlow.js version
1.4.0
#### Browser version
all
#### Describe the problem or feature request
Uncaught Error: Cannot compute gradient: gradient function not found for prod.
#### Code to reproduce the bug / link to feature request
Gradi

[2019-12-19 13:42] iooops opened #2588 "'TypeError: Unknown op '_FusedConv2D''"
To get help from the community, we encourage using Stack Overflow and the [`tensorflow.js`](https://stackoverflow.com/questions/tagged/tensorflow.js) tag.

#### TensorFlow.js version
1.4.0
#### Browser version
Chrome Version 79.0.3945.79 (Official Build) (64-bit)

#### Describe the problem or feature request
I tried to load tfjs_converter converted custom object detection model made with object de

[2019-12-19 13:47] annxingyuan commented on #2588
Hello @iooops - could you verify that you're using the latest version of tfjs-converter and tfjs-core? Other folks have encountered this issue as well (https://github.com/tensorflow/tfjs/issues/2054, https://github.com/tensorflow/tfjs/issues/2327), but it seems to be resolved by upgrading to our latest packages.

[2019-12-19 16:37] Nk911 commented on #1637
Hi @annxingyuan,

backend.dispose() releases memory from GPU, but does not clear tf.memory() stats.

[2019-12-19 19:44] nsthorat opened #2590 "[WASM] Downcasting broken in wasm."
These unit tests fail:

`tensor test-wasm {} Tensor2D float32 -> bool`

and

`tensor test-wasm {} Tensor2D int32 -> bool`

[2019-12-19 19:56] iooops commented on #2588
Yes I think so. I'm using
"@tensorflow/tfjs-converter": "^1.2.5",
"@tensorflow/tfjs-core": "^1.4.0"

[2019-12-19 23:30] kangyizhang commented on #2586
@ozican
looks like `node-fetch` is disabled in firebase environment. Can you try to call `tf.fetch(modelUrl)` (https://js.tensorflow.org/api/latest/#fetch) in firebase and check the response?

[2019-12-20 03:05] JMRwork opened #2599 "Version instruction conflict( AVX tfjs restrict non-AVX CPU from running)"
what is the latest  version of tensorflowjs/tfjs-node that able no AVX support CPU's to run without 'Illegal instruction error'.
A version that is not AVX support specific. Seens that these versions are restricting non-AVX support to workout.

[2019-12-20 07:37] sowmyatv commented on #2547
Tyler,
   Thank you, I greatly appreciate your detailed response. Following your suggestion, I was able to use the multi Person Segmentation API of 2.0 and get the PersonSegmentation object that I wanted. However even if I use the most lineant configuration - MobileNetV1 (with outputStride - 32, internalResolution - low, quantBytes - 1, multiplier - 1) there is a lot of latency compared to the ver

[2019-12-20 11:17] PaDuckk commented on #2581
The model url that is passed as an argument to loadImageClassification of tfjs-automl only supports http and https protocols.

Using `loadGraphModel` of `tfjs-node` can solve the problem.

In addition, tf.decodeImage is added to tfjs-node so you no longer need `jpeg-js` and `canvas` to convert the image.

[code]

[2019-12-20 17:21] kangyizhang commented on #2599
@JMRwork it would be tfjs-node v1.2.1 and prior. AVX support was introduced by tensorflow C library v1.14.0 and be introduced to tfjs-node at https://github.com/tensorflow/tfjs-node/pull/261. So tfjs-node published before this PR has no AVX support.

[2019-12-20 22:12] #2599 closed

[2019-12-20 22:17] kangyizhang commented on #2581
to use the model in node, you only need to import `@tensorflow/tfjs-node`, like the code snippet @PaDuckk provided.

The message `Your CPU supports instructions that this TensorFlow binary was not compiled to use: AVX2 FMA` is a warning instead of an error, it will not block you from anything.

[2019-12-21 05:10] #2569 closed

[2019-12-21 12:33] JoshNewham1 commented on #2003
If this problem is still affecting anyone, I think I might've found a temporary fix. I transplanted the tensorflow.dll file from my Node v10.16.3 modules (node_modules\@tensorflow\tfjs-node\lib\napi-v4) to my Node 12 modules which didn't seem to have one. Then, I got passed the "specified module could not be found" error. This is quite a bad bodge and definitely not a solution for production envir

[2019-12-21 18:17] kangyizhang commented on #2003
This issue should have been fixed @v1.4.0 and later. Please feel free to let me know if you are still seeing any error.

[2019-12-22 11:22] blackwool opened #2611 "tfjs-node-gpu can not set size of gpu memory to be used"
TensorFlow.js version

@tensorflow/tfjs@1.4.0
@tensorflow/tfjs-node@1.4.0
@tensorflow/tfjs-node-gpu@1.4.0

Browser version
None

Node Version

v13.3.0 (64bit)

####OS
WIN10
CUDA 10.0 CUDNN7.6.5

####How to set size of gpu memory to be used ?
For example BodyPix2:
When i use tfjs-node-gpu on Geforce 940MX,  it uses about 1.6G gpu memory,
but wehn i use it on 1060 , it uses 5.2G gpu memory.
Where ca

[2019-12-22 14:41] #2362 closed

[2019-12-22 18:34] jtiscione opened #2612 "tensorflowjs_converter command not found in Ubuntu"
To get help from the community, we encourage using Stack Overflow and the [`tensorflow.js`](https://stackoverflow.com/questions/tagged/tensorflow.js) tag.

#### TensorFlow.js version

tensorflow-gpu 2.0.0

#### Describe the problem or feature request

Tensorflowjs_converter is either not being installed with Tensorflow or isn't installing correctly (Ubuntu 18.04, tensorflow-gpu 2.0.0).

#### Code

[2019-12-23 07:08] vishal0021 commented on #623
hello i am trying to convert a tf.js model which is trained using google teachable machine.
i want to convert the model in .h5 format so that i can load it with python keras.
can you share some example to do the same

[2019-12-23 15:32] tomerip opened #2614 "Unknown op ‘FusedDepthwiseConv2dNative’."
#### TensorFlow.js version
1.3.1 and 1.5.1

#### Browser version
Google Chrome Version 77.0.3865.120 (Official Build) (64-bit)

#### Describe the problem or feature request
Converted part of MobilenetV3 from tf-slim using tfjs-converter (1.4.0 and 1.5.1), conversion is successful and shows no warnings or errors, but when I try to run the model in tfjs (1.3.1 and 1.5.1), I get an error "Unknown op

[2019-12-23 17:44] nsthorat commented on #2614
If you upgrade everything to 1.5.1 (python converter and javascript) you shouldn't see this error anymore. Let me know if that helps.

[2019-12-23 17:46] nsthorat commented on #2459
You need to dispose hr_image_0, this memory allocation is expected to increase without disposing that variable since it's the output of the second tf.tidy().

[2019-12-23 17:46] #2459 closed

[2019-12-23 18:09] kangyizhang commented on #2546
This should have been fixed. Please feel free to let me know if this happen again.

[2019-12-23 18:09] #2546 closed

[2019-12-24 02:28] startupgurukul opened #2615 "Unsupported Ops in the model before optimization, MirrorPad, InvertPermutation"
Hello Folks,
Trying to convert a frozen pb file to tf.js format but hit couple of Unsupported Ops.

ValueError: Unsupported Ops in the model before optimization, MirrorPad, InvertPermutation

There seem to be an issue tracking MirrorPad https://github.com/tensorflow/tfjs/issues/1775

Currently attempting to create a customOp, creating this issue for the implementation

Interestingly across whole o

[2019-12-24 05:04] oanush commented on #2612
@jtiscione ,
Cab you please check the solutions provided in this [link](https://stackoverflow.com/questions/50317081/tensorflowjs-converter-command-not-found) and let us know if it helps resolving the issue? Thanks!

[2019-12-24 10:33] avvj opened #2618 "Image classification graph model returning incorrect results"
To get help from the community, we encourage using Stack Overflow and the [`tensorflow.js`](https://stackoverflow.com/questions/tagged/tensorflow.js) tag.

#### TensorFlow.js version
1.5.1 (also tried on other versions)
#### Browser version
Firefox 71 on Ubuntu
#### Describe the problem or feature request
Used the make_image_classifier python script to retrain an image classifier on the standard f

[2019-12-24 17:57] mrpetef10 opened #2619 "Can't install tfjs-node or tfjs-node-gpu on Windows 10"
To get help from the community, we encourage using Stack Overflow and the [`tensorflow.js`](https://stackoverflow.com/questions/tagged/tensorflow.js) tag.

#### TensorFlow.js version
I have tried several version:
Latest Stable 1.5.1,
1.3.1, 1.2.7, 1.2.6
of tfjs-node and tfjs-node-gpu (tried individually and tried installing both together)

#### Browser version
Node Version 10.16.3

#### Describe t

[2019-12-26 09:11] tomerip commented on #2614
After completely uninstalling tfjs and installing version 1.5.1 now it works.
Thanks!

[2019-12-26 09:11] #2614 closed

[2019-12-26 17:58] kangyizhang commented on #2619
@mrpetef10
Let's try package `@tensorflow/tfjs-node`, so the configurations of GPU will not influence the debug process.
1. can you confirm what is inside `C:\wamp64\www\test\node_modules\@tensorflow\tfjs-node\deps`
2. does it work if you manualy copy items in `C:\wamp64\www\test\node_modules\@tensorflow\tfjs-node\deps\lib` to `C:\wamp64\www\test\node_modules\@tensorflow\tfjs-node\lib`

[2019-12-27 09:55] momo1986 opened #2622 "Version consitency"
Hello, since I used the older tensorflow version of 1.12 and keras version of 2.2.4.

I want to avoid the problem of version consitency.

How can I determine which tensorflowjs version I should use.

Thanks

[2019-12-27 10:27] JoshNewham1 commented on #2003
Yeah, sorry, it has been fixed, I was still on an old version. Thanks for the update 😁.

[2019-12-27 10:33] aayusharora commented on #2581
Thanks @PaDuckk
That worked for me :)

[2019-12-27 12:19] mrpetef10 commented on #2619
Ok sure, here is the steps I just done:

1) First I uninstall all packages.
2) npm update & clear cache
3) npm install @tensorflow/tfjs-node
4) Inside the ../tfjs-node/deps folder I have:
 - /include
 - /lib
 - /LICENCE
 - /THIRD_PARTY_TF_C_LICENSES

5) Manually copy items in ../deps/lib to ../lib
 - The following files were copied: tensorflow.dll, tensorflow.lib

6) including tfjs-node as such in

[2019-12-27 14:01] AndreMaz commented on #2505
Hey @nsthorat sorry to bother you again. What's new in `v1.5.1`? There is no changelog

[2019-12-27 16:32] harshithdwivedi opened #2623 "KeyError: 'class_name' while converting a tfjs_layers_model to tfjs_graph_model"
#### TensorFlow.js version
1.4.0

#### Describe the problem or feature request
As mentioned in the title, I'm unable to convert a tfjs_layers_model to a corresponding tfjs_graph_model using the converter.

The command I used:
[code]

Error I got:
[code]

[2019-12-27 17:21] generationXcode commented on #704
@caisq I know I'm like a year late but thanks your solution worked!

[2019-12-27 17:30] kangyizhang commented on #2619
@mrpetef10 since I have never seen this error before, and I could not reproduce, I will need to get more information from your side.

What you have done seems reasonable.
1. I did some search with this error, seems like most people encounter this error while using electron. Are you trying this in an electron project?
2. can you go to `c:\wamp64\www\test\node_modules@tensorflow\tfjs-node`, run `yar

[2019-12-27 18:59] mrpetef10 commented on #2619
Ok so sounds like an issue with my specific machine.

1) No I'm not using electron, I am building with Sails.js which is essentially Express.
2) Running `yarn build-addon-from-source` resulted in the following:

[code]

3) Trying to lift again after performing this gives the same error.

[2019-12-27 19:10] mrpetef10 commented on #2619
If it makes any difference, I just tried to go from scratch with a plain Express.js app only. So as a fresh application installing only tfjs-node, it gives the same DLL initialization routine error.

[2019-12-27 19:16] mrpetef10 commented on #2619
Just for clarify here is the full error message after attempting to lift the application:

[code]

So something is going wrong within node at this point: process.dlopen(module, path.toNamespacedPath(filename));

[2019-12-27 21:02] mrpetef10 commented on #2619
Just something else I noticed when trying to run `node-gyp rebuild` inside the node_module/@tensorflow/tfjs-node folder, I get following:

[code]

[2019-12-29 09:10] MatPoliquin opened #2624 "tf.time() kernelMs returns zero in Firefox"
TensorFlow.js 1.3.1
FireFox 71.0 (64-bit)
Chrome 79.0.3945.88 (64-bit)
Ubuntu 19.10 (64-bit)

Problem:
**tf.time().kernelMs** returns 0 (or sometimes a very low number) on Firefox while always returning the correct timing on Chrome.

The correct value is typicaly between 100-300 ms, depending on which gpu you have.

Code:

Edit:
I got the same problem with Edge and Android Chrome

[2019-12-29 17:44] sayakpaul opened #2625 "tfjs@latest:2 Uncaught (in promise) Error: Argument 'b' passed to 'mul' must be a Tensor or TensorLike, but got 'null'"
To get help from the community, we encourage using Stack Overflow and the [`tensorflow.js`](https://stackoverflow.com/questions/tagged/tensorflow.js) tag.

#### TensorFlow.js version
https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@latest

#### Browser version
Version 79.0.3945.88 (Official Build) (64-bit)

#### Describe the problem or feature request

I am currently taking the **Browser-based Models

[2019-12-30 03:53] #2625 closed

[2019-12-30 17:19] bileschi commented on #623
Hello @vishal0021 , Do any of the code snippets at https://js.tensorflow.org/api/latest/#tf.LayersModel.save work for you?

[2019-12-30 21:54] pyu10055 commented on #2588
"@tensorflow/tfjs-converter": "^1.2.5"

Please upgrade tfjs-converter to >= 1.4.0 too

[2020-01-01 19:37] maanmuca commented on #711
I upgraded the version of Visual studio to 2019 and after I restarted windows , then I ran  npm install --production windows-build-tools as admin , and the installation of tensorflow worked to me!

[2020-01-01 22:01] vvmspace opened #2631 "tfjs-node: zsh: illegal hardware instruction (core dumped)"
[code]

I'm getting:
[code]

Ubuntu 18.10

[2020-01-01 23:16] batrlatom opened #2632 "model save with tf.io.http and custom headers do not work"
To get help from the community, we encourage using Stack Overflow and the [`tensorflow.js`](https://stackoverflow.com/questions/tagged/tensorflow.js) tag.

#### TensorFlow.js version
1.3.1

#### Browser version
Chrome

#### Describe the problem or feature request
I am trying to save tfjs model on server with additional headers, but headers are not present in the request.

#### Code to reproduce th

[2020-01-02 10:05] McDo commented on #2265
skip through operation and replace post processing nms by
[code]
Then I can use cpu version of nms something like
[code]
in the tfjs code.

Tested against tensorflow 1.15.0, works fine by far.

[2020-01-02 10:15] batrlatom commented on #2632
Documentation differs from the implementation slightly.
The right code for client headers should be
[code]

[2020-01-02 14:31] caisq opened #2633 "API doc on https://js.tensorflow.org/ is out of date"
https://js.tensorflow.org/api/latest/ is still at 1.3.1, whereas the latest release of TensorFlow.js is 1.5.1.

Please update the website.

DOC

[2020-01-02 16:01] nsthorat commented on #2505
Apologies, here are the latest release notes: https://github.com/tensorflow/tfjs/releases/tag/tfjs-v1.5.1

[2020-01-02 18:22] kangyizhang commented on #2631
@vvmspace
1. can you provide details of the cpu/gpu you are using?
2. which version of tfjs-node are you using?
3. can you provide your node version

[2020-01-02 18:29] kangyizhang commented on #2619
@mrpetef10
1. can you provide details of your operating system, cpu information
2. can you provide a code snippet to reproduce this error
3. the library is using `node-pre-gyp` instead of `node-gyp`

[2020-01-02 19:06] mrpetef10 commented on #2619
Sure:

1) Windows 10 Home, version 10.0.18363 Build 18363
Intel core i5 3.2GHz 2 core
8GB RAM
GPU: NVidia GTX 950

2) Code Snippet I just simply include as such at top of file:
[code]

3) I just re-ran inside the /tfjs-node node module folder `node-pre-gyp rebuild` and got following:

[code]

Thanks

[2020-01-02 19:56] kangyizhang commented on #2619
The error message you mentioned in point 3 should have been fixed in the latest  version (1.5.1). Are you rebuilding the latest version? Can you past line 1134 and line 1162 of file `c:\wamp64\www\test\node_modules\@tensorflow\tfjs-node\binding\tfjs_backend.cc`

[2020-01-02 20:04] kangyizhang commented on #571
Custom built libtensorflow has been supported. Please read the readme.md for instructions: https://github.com/tensorflow/tfjs/tree/master/tfjs-node#optional-build-optimal-tensorflow-from-source

[2020-01-02 20:04] #571 closed

[2020-01-02 20:10] kangyizhang commented on #2622
TensorFlow.js should not have version conflict with model trained in older tensorflow or keras, so feel free to use the latest version. If you see any issue, please file another issue with details information.

[2020-01-02 20:10] #2622 closed

[2020-01-02 21:10] mrpetef10 commented on #2619
Ok when I used the same version 1.5.1, I did get that same error. However, what I have just done now:

1) Uninstalled node_modules
2) Re-installed version 1.5.1 tfjs-node
3) Went into node_module folder of tfjs-node and run `node-pre-gyp rebuild`
4) It all built OK this time

However, now when going to lift the app.js I get the following new error (although I have come across it before):

[code]

[2020-01-02 21:32] rthadur commented on #2632
@batrlatom thank you , do you want to submit a PR for this change ?

cc @nsthorat @kangyizhang

[2020-01-02 22:12] pyu10055 commented on #2618
@avvj In your example code, you are normalizing the image data to [-1, 1], usually mobilenet type of models are expecting data within [0, 1]. Can you double check if your normalization mechanism is correct?

[2020-01-02 22:22] kangyizhang commented on #2619
can you check what is inside `c:\wamp64\www\test\node_modules\@tensorflow\tfjs-node\lib\napi-v4\`?

[2020-01-02 22:29] mrpetef10 commented on #2619
I have tfjs_binding.node file only

[2020-01-03 07:07] git-chenjiqing commented on #510
Downloading libtensorflow  Error: Unsupported system: gpu-linux-arm

[2020-01-03 09:02] chauhansaurabhb commented on #1169
@nsthorat : I am getting the following output after running a object detection in tensorflow.js but I am not getting the output. Could you please help me to interpret the output?

`(4) [t, t, t, t]
0: t
dataId: {}
dtype: "float32"
id: 1480
isDisposed: (...)
isDisposedInternal: false
kept: false
rank: (...)
rankType: "3"
scopeId: 2240
shape: (3) [1, 100, 4]
size: 400
strides: (2) [400, 4]
__proto__

[2020-01-03 09:07] federicolucca commented on #2265
I had try:

tensorflow 1.15
tensorflowjs 1.4

I create a custom object detection from "ssdlite_mobilenet_v2_coco_2018_05_09" .i Have exported with:
`
 python object_detection/export_inference_graph.py \
         --add_postprocessing_op true \
         --input_type image_tensor \
         --pipeline_config_path output/ai/annotations/ssdlite_mobilenet_v2_coco_2018_05_09.config \
         --trained_c

[2020-01-03 11:47] McDo commented on #2265
@federicolucca try convert from tf_frozen_model
[https://github.com/tensorflow/tfjs-models/tree/master/coco-ssd#technical-details-for-advanced-users](https://github.com/tensorflow/tfjs-models/tree/master/coco-ssd#technical-details-for-advanced-users)

[2020-01-03 14:32] dalisoft commented on #1255
@RadEdje great you solved. is do you think about describe to other users how to re-train? would be nice to see how we can re-train and/or solve issue. thanks

[2020-01-03 15:40] shadow111 opened #2637 "Unhandled promise rejection: Error: Out of memory]"
Hello,
I'm using Tensorflow js for react Native,
I have converted a Tensorflow Model to TensorflowJs and try to load it from a URL with `tf.loadGraphModel` using TFJS for react native, the problem is i get this :

TFJS : last version
TFJS for react native: last version
`[Unhandled promise rejection: Error: Out of memory]`
`- node_modules\@tensorflow\tfjs-core\dist\io\io_utils.js:328:30 in concaten

[2020-01-03 16:02] maroquio commented on #1667
Hello, @peckhart89. Did you solve this issue? I'm having the same, as you can see in the output of my trying to use OpenVINO model optimizer. Any help will be very welcome. Thanks in advance!
-----------------------------------------------
(tensorflow1) C:\Program Files (x86)\IntelSWTools\openvino_2019.3.379\deployment_tools\model_optimizer>python mo_tf.py --input_model tf_fast_rcnn_cards.pb --ten

[2020-01-03 16:25] sbhamad commented on #840
@dsmilkov i would like to add support for ctc in tfjs, but i am clueless and do not know where to start.

I wonder if c++ non parallel implementation should be compilable to wasm and be usable from tfjs, rather than writing a js implementation. Nonetheless, i dont mind writing an implementation in js but not sure how to go on about that.

Thanks

[2020-01-03 17:03] corajr opened #2638 "FFT accuracy is poor above 16384 points"
#### TensorFlow.js version
1.5.1

#### Browser version
Chrome 78.0.3904.108 (Ubuntu 19.04)

#### Describe the problem or feature request
When evaluating IFFT(FFT(x)), the accuracy drops off precipitously past 2^14 points. The problem shows up for both `fft` and `rfft`, though it is more dramatic with the full transform.

#### Code to reproduce the bug / link to feature request
[code]

Or see https

[2020-01-03 18:27] kangyizhang commented on #510
@git-chenjiqing the library does not support arm cpu. You can try to compile the libtensorflow from scratch following this instruction: https://github.com/tensorflow/tfjs/tree/master/tfjs-node#optional-build-optimal-tensorflow-from-source

[2020-01-03 18:40] lina128 commented on #2265
Hi @federicolucca and @alien35, sorry for the issue you are experiencing, this is because the Op 'NonMaxSuppressionV5' was not supported in previous versions. We just added the support in 1.5.1, [see details here](https://github.com/tensorflow/tfjs/releases/tag/tfjs-v1.5.1). Please update your tensorflowjs version to 1.5.1 and try again. This should solve the problem.

[2020-01-03 19:45] federicolucca commented on #2265
@lina128 Don't worry , i found it and i tried to resolve it by my self with a custom version of 1.4.0 .
@McDo I will try the frozen model with 1.5.1 asap
Thanks

[2020-01-03 19:47] #2364 closed

[2020-01-03 22:51] rthadur commented on #1169
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-01-03 22:51] #1169 closed

[2020-01-03 22:56] #2265 closed

[2020-01-03 23:57] EddieOne commented on #1422
Yeah I am disappointed with the Google Coral implementation. Maybe a better setup in my case is to use something like the Nvidia Jetson. Can someone confirm [TFJS works with GPUs](https://www.tensorflow.org/js/tutorials/setup)?

[2020-01-04 02:33] Infinitay opened #2640 "Electron - Cannot find module napi-v4/tfjs_binding.node napi-v4 INSTEAD of napi-v5"
_I am fairly new to node.js and Electron let alone tensorflow for js, so pardon my ignorance._

#### TensorFlow.js version
`"@tensorflow/tfjs-node": "^1.5.1"`

#### Browser version
I am using Electron and this is what is returned using `process.versions`

It says I am using Node version 12, but I recently installed v13.5.0, so I don't know why it says v12.

#### Describe the problem or feature req

[2020-01-04 03:26] jochemstoel commented on #1296
Up.
Has anyone succeeded at this?

[2020-01-04 07:51] Infinitay commented on #2640
I got around to coming back to this issue in an attempt to further troubleshoot it. I took a look once more at #2341 and realized that I also was using a different node.js version that Electron was (compiled with?). As of Jan 4th 2019, the latest Electron version is 7.1.7 and it is using Node version 12.8.1, so I installed Node v12.8.1 and tried everything once more. Voila! Problem solved.

If any

[2020-01-04 07:51] #2640 closed

[2020-01-04 09:53] KataBharat opened #2642 "Issue regarding running the demo code of posenet of tensorflow.js"
<html>
<head>
<meta charset="UTF-8">

<script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs"></script>

<script src="https://cdn.jsdelivr.net/npm/@tensorflow-models/posenet"></script>
</head>

<body>
<img id='cat' src='cat.jpg '/>
</body>

<script>
var flipHorizontal = false;

var imageElement = document.getElementById('cat');

posenet.load().then(function(net) {
const pose = net.estimateSing

[2020-01-04 18:14] rthadur commented on #2642
@tafsiri I was able to reproduce the above error , seems to be a bug. Can you please assist ?

[2020-01-04 22:20] jtiscione commented on #2612
Never mind; I was thinking tensorflowjs was included in the 2.0 wheel but it has Tensorflow 1.15 as a dependency.

[2020-01-04 22:20] #2612 closed

[2020-01-05 05:05] Nithanaroy opened #2643 "tf.LayersModel.save fails in a worker as window object is absent"
To get help from the community, we encourage using Stack Overflow and the [`tensorflow.js`](https://stackoverflow.com/questions/tagged/tensorflow.js) tag.

#### TensorFlow.js version
1.13

#### Browser version
Chrome 79

#### Describe the problem
`tf.LayersModel.save("indexeddb://my-model-1")` does not work in a web worker as `window` object is not found. It is due https://github.com/tensorflow/tf

[2020-01-05 05:05] Nithanaroy commented on #2643
As a temporary solution, I added `window = globalThis;` in my worker.js file and it works.

[2020-01-05 11:10] KataBharat commented on #2642
What can be done to solve the above error?

[2020-01-05 18:18] buzon7 opened #2644 "[Codelab]: Making Predictions from 2D Data"
Hello! I am going through this [example](https://codelabs.developers.google.com/codelabs/tfjs-training-regression/#0), but my results change with every run using the provided code and parameters. Even the straight line does not work (see the screen) and I cannot fit a higher order polinomials at all with any number of layers (extra credit page). Is this library bugged or out of date? I think the t

[2020-01-06 10:07] WenheLI commented on #2643
Just mad a PR to fix it!

[2020-01-06 14:33] annxingyuan commented on #2583
@dsmilkov Reading over https://github.com/tensorflow/tensorflow/blob/r2.0/tensorflow/python/ops/image_ops_impl.py#L1477-L1519, it looks like the TensorFlow op `per_image_standardization` properly normalizes by subtracting the input mean / dividing by the standard deviation, whereas in our case we just want to scale the input to [-1, 1].

It would still be great to combine these ops into a single k

[2020-01-06 15:48] dsmilkov commented on #2583
Good point. In that case, custom op on a per-model basis SGTM (we can't add it to official API until TF Python has it)

[2020-01-06 19:02] tafsiri commented on #2642
This looks like a cross domain resource issue when loading the image. I would first try loading the image from the same domain that you are loading your javascript.

If you need to load images from another domain then you might need to set the `crossOrigin` property to `anonymous`. Full details can be found in this MDN article https://developer.mozilla.org/en-US/docs/Web/HTML/CORS_enabled_image

I

[2020-01-06 19:20] tafsiri commented on #2637
Could you specify which device emulator you are using (iOS or android)? It looks like you are hitting a limit on the amount of memory that the app can use.

Are you able to use tfjs-react-native to load other models (like mobilenet)? If so then I suspect the model is too big for the device/os you are emulating.

[2020-01-06 19:33] tafsiri commented on #2644
Hi. Could you tell us more about what device/os/browser you are running this on?

The final result does change on different runs but I wasn't able to reproduce your issue with 50 epochs. Though I notice from your screenshot that your loss is still a bit high. You could try upping the epochs to 75 or 100 and seeing how that improves training.

[2020-01-06 23:20] buzon7 commented on #2644
Running on laptop in Windows 10/Opera. 100 epochs is better. I thought the charts were for the default values. Thanks!

[2020-01-06 23:20] #2644 closed

[2020-01-07 08:04] doctorshtein opened #2648 "tf.data.webcam throws TypeError on IOS Safari if unsupported constraints are passed."
#### TensorFlow.js version
1.5.1

#### Browser version
Safari 12.1.4 on iPhone 6s

#### Describe the problem or feature request
calling tf.data.webcam with unsupported constraints causes a TypeError "Attempted to assign to readonly property".

After some debugging I figured the issue happens at webcam_iterator.ts:119, where a message field of the Error object is being updated.

The reason seems to

[2020-01-07 08:59] akineeic opened #2649 "[WASM] Some supported ops in wasm backend are not available"
Hello,
I have encountered some issues while using the tfjs-backend-wasm package, some infos are as follows:

#### TensorFlow.js version

- @tensorflow/tfjs-core@1.4.0

- @tensorflow/tfjs-backend-wasm@1.5.1-alpha5

#### Browser version

- Google Chrome: 79.0.3945.79 (Official Build) (64-bit)

#### Describe the problem or feature request
Since 'Softmax' is not supported in wasm backend, I want to si

[2020-01-07 10:01] akineeic commented on #2649
I have checked some other ops and found more ops that are also unavailable, like 'Greater', 'Less', 'Maximum', 'Minimum', etc. But those ops appear in the file 'all_kernels.ts' which is located in the package folder 'node_module'. Then I compared with the [history](https://github.com/tensorflow/tfjs/commits/master/tfjs-backend-wasm/src/kernels/all_kernels.ts) of 'all_kernels.ts', it seems that the

[2020-01-07 11:11] bernardoespinosa opened #2650 "How to use tflite directly in tfjs?"
#### TensorFlow.js version

1.5.0

#### Browser version

All browser

#### Describe the problem or feature request

In Tensorflow examples, they provide smart reply working version for Android and iOS. Here you can download `tflite` model file https://storage.googleapis.com/download.tensorflow.org/models/tflite/smartreply_1.0_2017_11_01.zip.

But i'm trying to implement the concept in web. Let me

[2020-01-07 12:24] Honghe opened #2651 "In node.js. UnhandledPromiseRejectionWarning: RangeError: byte length of Float32Array should be a multiple of 4"
#### TensorFlow.js version
[code]

[code]

#### Browser version
on node.js.
node.js v12.14.0

#### Describe the problem or feature request
log:
[code]

#### Code to reproduce the bug / link to feature request
[code]
and the model I served locally:
[code]

![image](https://user-images.githubusercontent.com/1092722/71947412-bde0af00-3207-11ea-81db-641291ed9a8f.png)

My detailed code: https://github.

[2020-01-07 13:39] 0crypto0 commented on #944
Does that works good for you?
I keep getting low score for the detections, lower then 0.1

[2020-01-07 13:45] shadow111 commented on #2637
I'm using android emulator , yes i can load other models,  i have reduced my model size to 70MB and when i try to laod it using `tf.loadLayersModel(bundleResourceIO(modelJson, modelWeights))` the app just crushed

[2020-01-07 14:37] tafsiri commented on #2637
It could be an issue with the configuration of the VM, could you try this on a physical device?

Without more to go on it just looks like your VM is running out of memory. To rule out tfjs-react-native, you could try initializing a `new Uint8Array(73400320)` that is 70MB large and see if you are able to allocate that much memory.

[2020-01-07 16:57] emredog commented on #2403
I'm also curious about the answer. Thanks in advance.

[2020-01-07 18:47] shivam2199 commented on #2625
Hey I am also getting the same error.
If you have done this then please can you help me with it.

[2020-01-07 19:00] mrpetef10 commented on #2619
As an update, I tried using a dependency walker program to see what was missing on my machine for the tfjs_binding.node file (if that is the issue). This program: http://www.dependencywalker.com/
It found loads of missing file .dll's it seems to require, but can't tell if this is normal?

Example files it showed missing are (there are loads of these):
API-MS-WIN-CORE-SYSTEMTOPOLOGY-L1-1-1.DLL
API-

[2020-01-07 19:23] kangyizhang commented on #2619
In the `lib/napi-v4` folder, it should have `tfjs_binding.node` file and `tensorflow.dll` file.  `tensorflow.dll` file is moved from `deps/lib` folder during installation. So it seems like the installation script failed to move it. Can you fork this repo, then go to `tfjs-node` folder and run `npm install` or `yarn`? Then paste the installation script and what is inside `lib\napi-v4` folder?

[2020-01-07 21:22] mrpetef10 commented on #2619
Ok sure here is the installation after doing that:

[code]

Inside lib/napi-v4 is:

1) tfjs_binding.node
2) tensorflow.dll

I tried to copy this folder into the node_modules of the express app project, but says cannot find module @tensorflow/tfjs-node.

[2020-01-07 21:28] mrpetef10 commented on #2619
I just deleted the node_modules folder in the project to start a fresh. Then npm install @tensorflow/tfjs-node again. This time it did install the tensorflow.dll file in lib/nap-v4. However, I get the same error message when trying to lift:

[code]

[2020-01-07 21:43] rthadur commented on #2650
Similar issue has been opened and answere [here](https://github.com/tensorflow/tfjs/issues/991) , please check. Right now there is no support for this.

[2020-01-07 21:43] #2650 closed

[2020-01-07 22:03] kangyizhang commented on #2651
@Honghe After you installed the `@tensorflow-models/body-pix` package, you do not need to provide modelUrl field when loading the weights. Can you try again without the modelUrl field in bodyPix.load config? I guess the error is because of mis-hosted weights file.

[2020-01-07 23:26] cristiansan16 commented on #2625
Hello, The learning rate must be included:

tf.train.rmsprop (**learningRate**, decay?, momentum?, epsilon?, centered?)

[2020-01-08 03:26] Honghe commented on #2651
@kangyizhang I set the `modelUrl` to local server for a better loading performance, the `resnet50_quant4_stride16` model is about 90MB. The model files was downloaded from `https://storage.googleapis.com/tfjs-models/savedmodel/bodypix/resnet50/float/group1-shard${i}of23.bin`.

[2020-01-08 03:34] KataBharat commented on #2642
I am using an image which is local to my system.
Do we need to set the cross origin property even to images which are local to my system

[2020-01-08 03:44] bernardoespinosa commented on #2650
@rthadur Thank you.

[2020-01-08 03:48] bernardoespinosa commented on #991
@rthadur I've checked the examples, it looks like we've to write lot of javascript code like this to work with smart reply https://github.com/intel/webml-polyfill/blob/master/examples/face_recognition/utils.js?

[2020-01-08 09:07] haoyunfeix opened #2654 "tfjs-core `yarn build` failed on Windows 10"
To get help from the community, we encourage using Stack Overflow and the [`tensorflow.js`](https://stackoverflow.com/questions/tagged/tensorflow.js) tag.

#### TensorFlow.js version
1.5.1
#### Browser version
no matter which
#### Describe the problem or feature request
Failed to execute command `yarn build` on Windows platform
#### Code to reproduce the bug / link to feature request
Node: v12.13.

[2020-01-08 12:49] Honghe opened #2656 "tfjs.node.decodeImage blocks several minutes when dealing with the first one of a group images"
#### TensorFlow.js version
on Nvidia-Docker.
[code]

Dockerfile
[code]
#### Browser version
[code]
#### Describe the problem or feature request
1tfjs.node.decodeImage` blocks several minutes when dealing with **the first one** of a group images.
But the remaining images of the same group images can be decoded in 1 second.

![image](https://user-images.githubusercontent.com/1092722/71979206-13dd430

[2020-01-08 14:17] Honghe commented on #2656
Update.
I replace `tfjs.node.decodeImage` with `loadImageManual`, and find that `net.segmentPersonParts`(BodyPix) also block with several minutes.
[code]

[2020-01-08 16:33] tafsiri commented on #2642
@KataBharat if you are not using a webserver (i.e. the url in your browser starts with `file://`) then it wont work without changing your browser settings. To solve this issue I would use a webserver to serve your html file. If you have python installed you can use something like `python -m SimpleHTTPServer 9000` or you can use a server like https://www.npmjs.com/package/http-server

[2020-01-08 21:04] nd2014-public commented on #2631
Same problem.

CPU: Intel(R) Celeron(R) CPU J3455 @ 1.50GHz
No GPU (CUDA)

tfjs-node : 1.5.1

Node : 12.14.0

(I had same problem with NodeJS latest (13.x))

[2020-01-08 21:55] #2582 closed

[2020-01-08 22:05] kangyizhang commented on #2631
Can you run `cat /proc/cpuinfo` and paste the result here? most likely it's because your CPU does not support some instructions used by libtensorflow, such as AVX. And you will need to use an old version of the library.

[2020-01-08 22:07] nd2014-public commented on #2631
`processor	: 0
vendor_id	: GenuineIntel
cpu family	: 6
model		: 92
model name	: Intel(R) Celeron(R) CPU J3455 @ 1.50GHz
stepping	: 9
microcode	: 0x38
cpu MHz		: 798.934
cache size	: 1024 KB
physical id	: 0
siblings	: 4
core id		: 0
cpu cores	: 4
apicid		: 0
initial apicid	: 0
fpu		: yes
fpu_exception	: yes
cpuid level	: 21
wp		: yes
flags		: fpu vme de pse tsc msr pae mce cx8 apic sep mtrr pge mca

[2020-01-08 22:11] nd2014-public commented on #2631
It seems it comes from AVX-less CPU model ... I tried old versions, but maybe not old-enough ;)

Could you tell me which version is pre-built without AVX instructions ?

[2020-01-08 22:14] kangyizhang commented on #2631
@nd2014-public your CPU does not support AVX.

You can either try `@tensorflow/tfjs-node` version 1.2.4 and prior,

or build the libtensorflow from source on your machine (here is the instruction). Once you have libtensorflow built, replace what's inside `node_modules/@tensorflow/tfjs-node/deps/lib` and run `npm run build-addon-from-source` in side `node_modules/@tensorflow/tfjs-node`

[2020-01-08 22:17] nd2014-public commented on #2631
I tried to rebuild it from sources, but I had a TypeScript error :

[code]

[2020-01-08 22:34] nd2014-public commented on #2631
Version 1.2.4 does core dumped too

Version 1.2.2 seems to work, but I have to tune my source code ;)

Thanks @kangyizhang !

[2020-01-08 22:37] kangyizhang commented on #2619
@mrpetef10
1. can you run `cat /proc/cpuinfo` and paste the result here? I wonder if it's because your CPU does not support some instruction in the tensorflow.dll file.
2. can you install `@tensorflow/tfjs-node` version 1.2.2 and try if it works?

[2020-01-08 22:41] kangyizhang commented on #2656
@Honghe
Seems like the library found 2 gpus on your machine and that's why `libcudnn.so.7` was loaded twice. Does it block when you just decode one image?

[2020-01-08 23:47] mrpetef10 commented on #2619
Sure, CPU info:

1) Intel64 Family 6 Model 37 Stepping 2 3201 Intel Core i5 CPU 650 @ 3.20GHz 2 cores

2) I tried installing 1.2.2 but it apparently doesn't exist, so I tried 1.2.1 and I get the same issue.

I guess my CPU is a few years old now, perhaps I will need to upgrade.

[2020-01-09 01:30] Honghe commented on #2656
@kangyizhang Yes.
- It still block when just decode one image.
- It still the same when only use one GPU on Docker.
- And one of the CPU cores is 100% utilization.
Does tfjs-node-gpu do some optimization when loading model to GPU?

[2020-01-09 02:13] ludwigschubert opened #2659 "Overriding ReLU gradients using gradient registry"
#### TensorFlow.js version
1.5.0

#### Describe the problem or feature request
I'm attempting to override the gradient computation of certain Ops, say ReLUs, in a loaded `GraphModel`. The [gradient registry](https://github.com/tensorflow/tfjs/pull/2584) seems like the right place, but currently `tf.getKernelsForBackend` doesn't seem to return a ReLU kernel. It seems like [most core Ops currently d

[2020-01-09 03:11] rthadur commented on #2659
@ludwigschubert thank you , can you please provide your use case.

[2020-01-09 04:07] KataBharat commented on #2642
<html>

    <head>
    <meta charset="UTF-8">

    <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs"></script>

    <script src="https://cdn.jsdelivr.net/npm/@tensorflow-models/posenet"></script>
    </head>

    <body>
    <img id='cat' src=' http://127.0.0.1:8080/temp.png' crossorigin="anonymous" />
    </body>

    <script>

    var flipHorizontal = false;
    var imageElement = docum

[2020-01-09 14:00] axinging opened #2660 "[webgpu] Enable test for fusedConv2D"
The setup_test for fusedConv2D is incorrect(https://github.com/tensorflow/tfjs/pull/2448/files#diff-b8ad73e5d7aa8806baa3909ff26ab879R185), it should be as follows:
[code]
The original feature request is here: https://github.com/tensorflow/tfjs/issues/2362

[2020-01-09 14:00] axinging commented on #2660
This issue is introduced by my previous PR(https://github.com/tensorflow/tfjs/pull/2448), I will work on this soon.

[2020-01-09 17:56] ludwigschubert commented on #2659
Hm, my use case? LMK if I misunderstand your question!

I'm looking to implement various techniques from the explainability and interpretability literature, which often use TF's Graph's `gradient_override_map` ([example 1](https://github.com/cydonia999/Grad-CAM-in-TensorFlow/blob/master/grad-cam-tf.py#L14), [example 2](https://github.com/tensorflow/lucid/blob/master/lucid/optvis/overrides/redirect

[2020-01-09 18:03] rthadur commented on #2660
@axinging thank you for working on this , do you need any help from our team ?

[2020-01-09 18:08] tafsiri commented on #2659
Hi Ludwig, you are correct, not much is currently using the gradient registry (or even kernel registry). We've been doing some of the groundwork for using a registry approach for kernels, gradients etc. We are going to be doing a bunch more work in this direction this quarter (so there will be quite a few changes there soon).

All new ops will use the registry approach and old ones will be ported

[2020-01-09 18:43] ludwigschubert commented on #2659
Exciting to hear! I mainly need `ReLU` and `MaxPool` atm. I'm experimenting on a fork right now to see if I can port those two ops to use the registry. I'm not sure I'll know enough about the inner workings of TFJS to make it PR-ready, but I'll try. If there's a commit/PR/branch that ports an existing op, I'd be glad about any pointers. (But no pressure, I'll explore on my own, too. :D)

Thanks fo

[2020-01-09 23:18] #305 closed

[2020-01-09 23:18] #2581 closed

[2020-01-09 23:26] rthadur commented on #2177
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-01-09 23:26] #2239 closed

[2020-01-09 23:27] #2503 closed

[2020-01-09 23:29] rthadur commented on #2659
@ludwigschubert can we close this issue ?

[2020-01-10 00:27] #2659 closed

[2020-01-10 01:59] axinging opened #2662 "[webgpu] Add conv2dDerInput kernel"
Used in handtracking.

[2020-01-10 04:10] KataBharat commented on #2642
<html>
    <head>
    <meta charset="UTF-8">

    <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs"></script>

    <script src="https://cdn.jsdelivr.net/npm/@tensorflow-models/posenet"></script>
    </head>
    <body>
    <img id='cat' crossorigin="anonymous" />
    <button onclick = "myfun()">button</button>
    <script>
    function myfun(){
    arr = ["http://127.0.0.1:8080/pic1.jpeg"

[2020-01-10 04:54] McDo commented on #2449
same issue
I found that `scores` should be `result[0]` while `boxes` should be `result[1]` in `index.ts`

[2020-01-10 13:58] linonetwo commented on #1958
So it is currently unable to run BERT in tfjs right?

[2020-01-10 14:03] caisq commented on #1958
@linonetwo This issue is mainly about tfjs-layers. If you have a BERT model saved as a TensorFlow SavedModel (not a Keras HDF5 model), you can still try converting it to tfjs (specifically a tfjs_graph_model) and run it in JavaScript.

[2020-01-10 15:13] axinging commented on #2660
@rthadur, thanks, I have a draft fix for this, will submit it soon.

[2020-01-11 04:33] KataBharat commented on #2642
async function myfun() {
    arr = ["http://127.0.0.1:8080/pic1.jpeg", "http://127.0.0.1:8080/pic2.jpeg", "http:  //127.0.0.1:8080 /pic3.jpeg", "http://127.0.0.1:8080/pic4.jpeg", "http://127.0.0.1:8080/pic5.jpeg"]
    var x;
    for (x of arr) {
    document.getElementById("cat").src = x;
    var flipHorizontal = false;
    var imageElement = document.getElementById('cat');
    imageElement.crossO

[2020-01-11 04:33] #2642 closed

[2020-01-12 07:45] ajaichemmanam commented on #1280
Here you go https://github.com/ajaichemmanam/posenetv2-pythontf

[2020-01-12 10:36] roeyb commented on #2586
you could add this to your Firebase Functions index file:
`global.fetch = require('node-fetch');`

[2020-01-12 18:45] photopea opened #2664 "A specific network for MNIST is hard to train with TFJS"
There exists a specific network for MNIST, that is trained and executed with ConvNetJS library, shown here: https://cs.stanford.edu/people/karpathy/convnetjs/demo/mnist.html  . It has four layers.

I tried to rebuild it with TFJS, and make all parameters identical to ConvNetJS version (including parameters of Adadelta learning, batch size, etc., I trained both without l2 decay):

    model.add(tf.

[2020-01-13 02:27] axinging commented on #2662
Hi, Xing i swilling to help on this

[2020-01-13 02:29] axinging opened #2666 "[webgpu] Add sparseToDense kernel"
Used in handtracking.

[2020-01-13 07:38] AnyCPU opened #2667 "Building the PoseNet example on iOS is failed"
**System information**
- OS Platform and Distribution: macOS 10.15 and iPadOS 13.3
- Mobile device: iPad 2018
- TensorFlow installed from (source or binary): pod

**Describe the problem**

I did all the steps from the readme of https://github.com/tensorflow/examples/tree/master/lite/examples/posenet/ios

but got next error:

**The solution**

To make it work I just removed the Podfile.lock file an

[2020-01-13 10:00] dataCoderX10 opened #2668 "An error occured after using tf.slice function"
To get help from the community, we encourage using Stack Overflow and the [`tensorflow.js`](https://stackoverflow.com/questions/tagged/tensorflow.js) tag.

#### TensorFlow.js version
1.4.0 or 1.5.0
#### Browser version
The problem was found both in Chrome and FireFox.
#### Operating system version
Windows 7.
#### Describe the problem or feature [request]
I have a tensor called "result", after run

[2020-01-13 11:44] ClaraJacintho commented on #1362
Hey, any updates on the inverse FFT? Is anyone working on it? I am working on a project that needs it, and I would be willing to help implement it if necessary!

[2020-01-13 17:00] tylerzhu-github commented on #2403
Hi @darcula1993, @emredog,

Thx for your inquery! Currently both the TFLite PoseNet models and the latest TF.js  PoseNet models are converted from the same checkpoints (with batch normal variables folded into the preceding convolution layer). The difference been TF.js models supports different output stride e.g. 8, 16, 32 and configurable input resolutions, which can affect the accuracy. Let me kn

[2020-01-13 18:29] rthadur commented on #2664
@photopea we can not comment on CNST but regarding can you please provide these details
1) TFJS version and node version.
2) if possible can you try to run in [codepen](https://codepen.io/pen/)  and share it with us.

[2020-01-13 18:47] photopea commented on #2664
I am testing it in a browser, in the latest Chrome, with the latest TFJS https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@1.0.0/dist/tf.min.js

I think Javascript and WebGL works the same everywhere (with varying speed, but the same computatoin mechanism and results). I am just curious, if TFJS can train a specific network (four layers + softmax, described above) to get under 150 errors on MNIST data

[2020-01-13 21:10] rthadur commented on #1362
@ClaraJacintho no one is working on it at this point , feel free to submit a PR. Thank you
cc @dsmilkov

[2020-01-14 02:55] axinging opened #2669 "[webgpu] make shader cache and shader key correctly for all case"
This issue is from PR https://github.com/tensorflow/tfjs/pull/2670. And below comments is copied from it.

**What happens:**
Run case one by one (yarn test --grep=), pass. But when run several together. Some case may fail.

**Example case:**
Case may be failed due to cache reasons(div/Arithmetic_test.ts):
'gradient: Tensor1D with int32',               // Actual != expected.
'gradient: Tensor2D',

[2020-01-14 11:29] robertherber opened #2671 "[Feature Request] Correlation/Stats Module"
#### TensorFlow.js version
1.5.0

#### Describe the problem or feature request
I'd like to be able to use the Stats module (and specifically [Pearson Correlation](https://www.tensorflow.org/probability/api_docs/python/tfp/stats/correlation)) that are available in the Python library.

[2020-01-14 15:02] AndreMaz opened #2672 "TF Node backend does not support normalized logits passed to multinomial"
#### TensorFlow.js version
V1.5.1

#### Describe the problem or feature request
Just stumbled on this error:
`TF Node backend does not support normalized logits passed to multinomial`

https://github.com/tensorflow/tfjs/blob/c2d556415db8d9fb611a69a77a6288678ab0f86d/tfjs-node/src/nodejs_kernel_backend.ts#L1561-L1568

I know that as a workaround I can unnormalize the inputs, but what's the actual li

[2020-01-14 16:43] tafsiri commented on #2642
@KataBharat great to see that you found a solution. Just FYI for usage help like this (rather than a bug in the library), it is better to post a question to [Stack Overflow ](https://stackoverflow.com/questions/tagged/tensorflow.js) (we have a `tensorflow.js` tag there)

[2020-01-14 18:29] kangyizhang commented on #2672
This is because TensorFlow C library multinomial op only support unnormalized logits: https://www.tensorflow.org/api_docs/cc/class/tensorflow/ops/multinomial

FYI tfjs-node library is using TensorFlow C library under the hood.

[2020-01-14 18:29] #2672 closed

[2020-01-15 03:49] #2588 closed

[2020-01-15 04:00] #2464 closed

[2020-01-15 09:54] dnjooiopa opened #2678 "Cannot find module %project_path%\node_modules\@tensorflow\tfjs-node\lib\napi-v5\tfjs_binding.node'"
I import @tensorflow/tfjs-node in app.js and got this error when I run it.

#### TensorFlow.js version
@tensorflow/tfjs-node v1.5.1

#### Browser version
nodejs version

#### Code to reproduce the bug / link to feature request
[code]

Please anyone help me I'm new to tensorflowjs

[2020-01-15 10:01] loretoparisi opened #2679 "Prediction from tf.data.Dataset"
#### TensorFlow.js version
latest version

#### Node version
[code]

#### Describe the problem or feature request
In my python code I have a `tf.data.Dataset` where a file list is mapped to a `tf.py_function`:

[code]

When I load the model into `tfjs` with the new `tf.node.loadSavedModel` I get the model with the following signature:

[code]

When in python the predict takes the dataset as input:

[2020-01-15 11:21] ydennisy commented on #353
Any update here?

[2020-01-15 13:14] blidblid commented on #2443
Will this be part of any upcoming tfjs release?

[2020-01-15 14:57] nsthorat commented on #353
We’re starting to work on this this quarter!

[2020-01-15 16:15] tafsiri commented on #2443
@caisq I don't think anyone is actively working on this. Mind if I add a contributions welcome tag here?

[2020-01-15 16:15] caisq commented on #2443
@tafsiri Please go ahead.

[2020-01-15 16:28] tafsiri commented on #2679
Currently model.predict does not take a [dataset](https://js.tensorflow.org/api/latest/#class:data.Dataset) but only takes tensors. You could however use functions like [map](https://js.tensorflow.org/api/1.5.1/#tf.data.Dataset.map) custom loop to call the predict function of your loaded model with a realized tensor. You can use the other dataset methods to set up a pipeline to stream the data fro

[2020-01-15 16:34] tafsiri commented on #2679
To clarify my message a bit the function passed to tf.data.generator would need to do the work that `**audio_adapter.load_tf_waveform` does after opening the files that you want (you can chain generators if you want).

[2020-01-15 16:38] tafsiri commented on #2678
@dnjooiopa Could you outline steps to reproduce this error, and tell us a bit more about how you set this up. Did you follow the instructions in https://www.tensorflow.org/js/tutorials/setup#nodejs_setup

[2020-01-15 18:25] kangyizhang commented on #2679
Like Yannick said, the current `model.predict` function in tfjs does not take a dataset as input. One option is to modify the model in python and change the input format as a tensor, then export the model.

[2020-01-15 18:35] Yi-Lai-SJSU commented on #2648
I counter this problem today through Chrome. The result to this problem may be the camera of your computer is not available.  So make sure to open the webcam when running.

https://js.tensorflow.org/api/latest/:
Create an iterator that generate Tensors from webcam video stream. This API only works in Browser environment when the device has webcam.
Note: this code snippet only works when the device

[2020-01-15 19:46] rthadur commented on #2455
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-01-15 19:46] #2455 closed

[2020-01-15 19:51] rthadur commented on #2043
@JakeWade3 was your question answered ?

[2020-01-15 21:56] lfuszara1 opened #2681 "Expo fetch import error"
#### TensorFlow.js version

@tensorflow/tfjs 1.5.1

@tensorflow/tfjs-react-native 0.1.0-alpha.3

#### Versions

Android 10 on mobile

Windows 10 on PC

Expo SDK version 36.0.0

Node.js 12.14.1

#### Describe the problem or feature request

`import { fetch } from '@tensorflow/tfjs-react-native'`

Is generating error:

TypeError: null is not an object (evaluating 'RNFSManager.RNFSFileTypeRegular)

W

[2020-01-15 22:08] rthadur commented on #2681
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow-tfjs) since it is not a bug or feature request. There is also a larger community that reads questions there.

[2020-01-15 23:50] dkoo commented on #2177
@tafsiri @gitathrun I have run into this same issue trying to use this library's custom `fetch` implementation in an Android emulator and was wondering if either of you have made any further progress on this? It seems like the issue was closed prematurely without resolution.

[2020-01-16 06:36] lfuszara1 commented on #2681
I created question on StackOverflow, without tag [tensorflow-tfjs] because I had information about tag not exists.
[How to repair tfjs error on adding fetch from @tensorflow/tfjs-react-native?](https://stackoverflow.com/questions/59764168/how-to-repair-tfjs-error-on-adding-fetch-from-tensorflow-tfjs-react-native)

[2020-01-16 06:38] darcula1993 commented on #2403
thank you very much for your reply! It did help!

[2020-01-16 11:40] dnjooiopa commented on #2678
I've followed the instructions in  https://www.tensorflow.org/js/tutorials/setup#nodejs_setup and got this error

in package.json file
[code]

in app.js file

[code]

[2020-01-16 15:14] #2681 closed

[2020-01-16 15:16] rthadur commented on #2403
thank you closing this issue , feel free to reopen if you need more info.

[2020-01-16 15:16] #2403 closed

[2020-01-16 17:14] kangyizhang commented on #2678
@dnjooiopa
1. can you check what is inside `D:\TESA\tfjs-test\part2\node_modules\@tensorflow\tfjs-node\lib\napi-v5`?
2. try go to `D:\TESA\tfjs-test\part2\node_modules\@tensorflow\tfjs-node` and run `npm run build-addon-from-source`, paste the output and try if it works

[2020-01-16 19:38] #2631 closed

[2020-01-16 19:55] nsthorat commented on #2664
Hi @photopea, can you retry the experiment by setting `tf.setBackend('cpu')` before running the TensorFlow.js model? This will help us understand if it's 1) initialization of weights or 2) numeric stability of the GPU.

[2020-01-16 20:04] kangyizhang commented on #2656
@Honghe
Since I can not reproduce this issue on my machine, I'll need more information from your side.
1. do you encounter similar issue with tfjs-node (cpu version)?
2. do you encounter any other blocking when dealing with other ops or decoding other types of images(bmp vs jpg vs gif vs png)?

[2020-01-16 20:10] dsmilkov commented on #294
Sorry for the long delay on this one. We used to feed `VideoElement` directly to `texImage2D` but we had a problem that the actual pixel values are slightly different then when you read from a canvas.

This means that we get numerically different results when running webgl vs cpu vs wasm. For these reasons we decided to always feed into intermediate canvas which leads to consistent pixel values, a

[2020-01-16 20:10] #294 closed

[2020-01-16 20:11] dsmilkov commented on #2668
Hi,

does this problem show up on Windows 10 as well? Also can you share info on what type of GPU/Intel CPU you have? Thanks!

[2020-01-16 21:07] mrpetef10 commented on #2619
Ok so the problem actually WAS the CPU!

I have just bought a new mobo: Asus ROG Strix with AMD Ryzen 7 2700 CPU. After rebuilding, and re-installing windows on this new mobo, going through the installation procedure, it appears to be running and recognising my GPU. Tested both tfjs-node and tfjs-node-gpu. Response now is:

[code]
Thank you @kangyizhang for helping me solve this issue.

[2020-01-16 21:07] #2619 closed

[2020-01-16 21:12] photopea commented on #2664
Hi, I just tried, the results are similar - the network makes 231 errors after training. Is TFJS using any learning rate? I think at Adadelta, it should be one.

Also, the training with TFJS on the CPU took 45 minutes, while CNJS (also on the CPU) takes 4 minutes.

[2020-01-16 22:06] tafsiri commented on #2177
@dkoo are you getting the same error (a microphone exception?) Feel free to make a new issue with your setup and I can take a look. The main issue is that I haven't been able to reproduce this.

[2020-01-16 23:30] dkoo commented on #2177
@tafsiri In my case it's not due to a microphone exception (I'm not even using the microphone, I'm just trying to capture a still photo from React Native Camera or select one from the photo library). It seems related to the use of `fetch` to try to turn either a local file or base64 string into a binary stream for consumption by `decodeJpeg`. Code sample:

[code]

This works as expected on iOS, bu

[2020-01-17 03:08] rthadur commented on #1575
closing this issue due to lack of activity , feel free to reopen. Thank you.

[2020-01-17 03:08] #1575 closed

[2020-01-17 03:25] rthadur commented on #2454
Closing this due to lack of activity, feel to reopen. Thank you

[2020-01-17 03:25] #2454 closed

[2020-01-17 03:28] rthadur commented on #2452
Did you try with latest version of tfjs and also can you please provide reproduction code in codepen ?

[2020-01-17 03:42] dnjooiopa commented on #2678
1. In ```D:\TESA\tfjs-test\part2\node_modules\@tensorflow\tfjs-node\lib\napi-v5 ``` there is a file named ```tensorflow.dll```

2. I try run ```npm run build-addon-from-source``` and got this new error
[code]

[2020-01-17 03:42] rthadur commented on #1676
I was able to reproduce error in my mac safari browser. cc @pyu10055

[2020-01-17 13:40] supermoos commented on #102
Was this ever implemented? I can't seem to find any examples of posenet running in a worker?

[2020-01-17 14:48] annxingyuan commented on #1530
Hi @jessetrana - I'm so sorry about the delay on this. I just tried to reproduce this issue with the model assets you shared in your previous comment. Here are the numbers I got (averaged over 50 runs):

Chrome
tfjs@0.15.3: 26.8 / 23.3 (mean / min)
tfjs@1.0.4: 24.8 / 19.2

Firefox
tfjs@0.15.3: 56.8 / 43.0
tfjs@1.0.4: 42.0 / 35.0

I'm going to close this, but please feel free to reopen if you're st

[2020-01-17 14:48] #1530 closed

[2020-01-17 15:52] tafsiri commented on #1676
I can confirm the issue when minimizing the safari window but not when switchig to another app.

Handing this over to @caisq to take a look, it might be an issue with the model losing the audio context on minimization, but there is no visible error in the console.

[2020-01-17 16:33] tafsiri commented on #2177
@dkoo thanks for the updated info. Could you also let me know what versions of tfjs and tfjs-react-native you are using? Also is this just in the simulator or also on device?

[2020-01-17 19:07] kangyizhang commented on #2678
@dnjooiopa can you try again with version 1.5.1? I just updated the addon module.

[2020-01-17 19:07] tafsiri commented on #2633
Site is updated and a reminder has been added to the release scripts.

[2020-01-17 19:07] #2633 closed

[2020-01-17 19:14] rthadur commented on #2679
closing this issue , feel free to reopen if you need more info.

[2020-01-17 19:14] #2679 closed

[2020-01-17 23:15] rthadur commented on #2587
there is already feature request opened [here](https://github.com/tensorflow/tfjs/issues/1601) to track the feature request , closing this.Thank you

[2020-01-17 23:17] rthadur commented on #510
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-01-17 23:17] #510 closed

[2020-01-17 23:32] rthadur commented on #2624
@annxingyuan seems to be a bug I was able to reproduce the bug in firefox  , please check

repro code: `const matSize = 1024;
const mat1 = tf.ones([matSize, matSize], tf.float32);
const mat2 = tf.ones([matSize, matSize], tf.float32);
const time1 = await tf.time(() => tf.matMul(mat1, mat2));
console.log(`kernelMs: ${time1.kernelMs}, wallTimeMs: ${time1.wallMs}`);`

[2020-01-17 23:39] rthadur commented on #2611
I guess it is not possible to set up GPU memory, @kangyizhang any thoughts on implementing this in near future ?

[2020-01-17 23:52] kangyizhang commented on #2611
It is not possible to set up GPU memory usage fraction not, and no plan to support it in short future. If you have a use case, please feel free to reopen this ticket with more details.

[2020-01-17 23:52] #2611 closed

[2020-01-18 00:46] xianrenb commented on #510
@rthadur this is a labeled P2 bug, I don't think it could be closed due to lack of recent activity.

[2020-01-18 05:30] dnjooiopa commented on #2678
It works!!
Thank you for helping me.

[2020-01-18 17:22] kangyizhang commented on #2678
Glad to hear it works!

[2020-01-18 17:22] #2678 closed

[2020-01-19 00:37] josephrocca opened #2683 "[WASM] `tfjs-backend-wasm` seems to request wasm file from the wrong location"
I tried running the simple demo example in the `tfjs-backend-wasm` readme just now:
[code]
But I get a 404 for the `wasm` file that the script tries to request:

https://cdn.jsdelivr.net/npm/@tensorflow/tfjs-backend-wasm.wasm

I think it should instead be:

https://cdn.jsdelivr.net/npm/@tensorflow/tfjs-backend-wasm/dist/tfjs-backend-wasm.wasm

because that returns the wasm file, and this code does

[2020-01-19 01:54] Symbitic opened #2684 "[Bug] [tfjs-examples] Specifying 1 digit in the addition-rnn example always creates an error."
#### TensorFlow.js version

1.5.1

#### Browser version

Google Chrome 79.0.3945.117

#### Describe the problem or feature request

For the addition-rnn example, entering "1" for the size of digits always results in the following JavaScript error, regardless of training size.
`Error in slice3D: begin[0] + size[0] (20) would overflow input.shape[0]`

#### Code to reproduce the bug / link to feature

[2020-01-19 02:14] josephrocca commented on #1104
@kangyizhang tfjs-node works fine for me, but I thought I'd mention that I do still get these messages warning me that my CPU isn't being fully utilised:

[code]

Apparently one can get significant speed-ups with these extra instructions, so I wonder if it's possible to ship extra binaries that utilize them?

Here's a demo of those warning messages: https://glitch.com/edit/#!/tfjs-node-avx2-fma Ju

[2020-01-19 02:26] josephrocca commented on #894
@caisq Would one expect a significant speedup with AVX2 and FMA? Both my home machine and cloud machines seem to have those instructions, so if it would provide a decent speedup, it might be worth compiling with support for those?

[Here's a Glitch repo](https://glitch.com/edit/#!/tfjs-node-avx2-fma) (pretty sure they run on AWS machines) where you can see these warnings (click `tools > logs` in t

[2020-01-19 04:02] josephrocca commented on #1311
I'm not sure if my issue is related, but I've followed the instructions at [tensorflow.org/install/docker#gpu_support](https://www.tensorflow.org/install/docker#gpu_support) to install docker, and it seems to work fine with python:
[code]
[code]

But when I try running this with node within the same docker container it doesn't work:
[code]

[code]

[2020-01-19 05:58] josephrocca commented on #1660
After adding the `nvidia` runtime to docker, and running this image ([mentioned here](https://github.com/tensorflow/tfjs/issues/1760)):
[code]

I'm seeing the same error message mentioned in the original post (CUBLAS_STATUS_NOT_INITIALIZED : Blas xGEMM launch failed):

[code]

The JS code to reproduce this is:
[code]
My operating system is Ubuntu 19.04 (well, Pop OS 19.04, but so far as I'm aware

[2020-01-19 09:24] utkobe opened #2685 "Add Pipcook to GALLERY.md"
Pipcook is afront-end Node.js algrithm engineer platform based on tfjs-node. For more information, please check:

Repo: https://github.com/alibaba/pipcook
Medium:
https://medium.com/imgcook/pipcook-an-algorithm-platform-for-the-front-end-7b2c4ae759f6
https://medium.com/imgcook/how-to-build-a-high-level-front-end-machine-learning-platform-based-on-tfjs-node-b14dff9402a9

[2020-01-19 16:33] moeiscool commented on #1422
@EddieOne apparently tfjs works with CUDA GPUs https://github.com/tensorflow/tfjs/tree/master/tfjs-node. im not sure about the browser version

[2020-01-20 05:43] wingman-jr-addon commented on #1530
Well, for what it's worth I'm on the 1.2.x series now and don't have the performance problem. Might not be worth tracking down further even if there was an issue. Thanks @annxingyuan !

[2020-01-20 06:54] josephrocca commented on #1644
Just commenting to say that @tafsiri was correct in my case - resizing my images to make them a bit smaller solved the issue :)

[2020-01-20 10:35] loretoparisi commented on #2679
@rthadur @kangyizhang @tafsiri thank you very much for your help, I get the big picture, but it is still pretty hard to figure out how to actually implement it. An example related to `tf.Dataset` and audio files would be worth, thanks a lot.

[2020-01-20 10:51] josephrocca commented on #633
Maybe it's obvious, but you can read the shape from the tensor object, so no need to hard-code in 1000 or 1024, etc. Based on leung85's example (sorry for long lines):

[code]

[2020-01-20 19:45] EddieOne commented on #1422
For evaluation, it's like having a big GPU. Easily 30 frames per second. Yet, it only takes a tiny amount of power. Can run off batteries for hours with no motors running. In that way it is amazing. A lot of work if you need to do things in NodeJs + Python

[2020-01-21 02:45] JeffreyXBao opened #2687 "Running on GPU freezes"
To get help from the community, we encourage using Stack Overflow and the [`tensorflow.js`](https://stackoverflow.com/questions/tagged/tensorflow.js) tag.

#### TensorFlow.js version
6.13.4
#### Browser version
node.js v13.6.0
#### Describe the problem or feature request
Running using tfjs-node finishes very quickly without any noticable freezes.
Running with tfjs-node-gpu freezes on:
"Epoch 1/100

[2020-01-21 03:58] josephrocca commented on #263
@rthadur I'm getting a crash in Chrome 79:

![image](https://user-images.githubusercontent.com/1167575/72774057-5e4dbf00-3c5d-11ea-9219-f29f7d69fb43.png)

Here's a demo: https://jsbin.com/jequtodute/1/edit?html,output For me the crash occurs after about 1 minute.

I'm on an Ubuntu/PopOS 19.04, with a GTX 2070. As mentioned here: https://github.com/snowme34/tone-the-ear/issues/21 the CPU back-end s

[2020-01-21 14:58] emredog opened #2688 "[posenet] Smaller Output Stride is actually worse?"
According to the [documentation](https://github.com/tensorflow/tfjs-models/tree/master/posenet#config-params-in-posenetload) (and common sense), smaller output stride for PoseNet should yield more accurate estimations.

I'm using pre-trained weights provided with tfjs.

I executed posenet on COCO val2017 set with different configurations, varying input shape, quantization, mobilenet multiplier and

[2020-01-21 15:46] VladimirHumeniuk commented on #633
It's a very nice answer, but I got a `tf-core.esm.js?45ef:17 Uncaught (in promise) Error: Tensor must have a shape comprised of positive integers but got shape [13.312,1000].` error when I'm trying to load my saved to local storage data. Can you please provide any advice with this?

[2020-01-21 21:10] rthadur commented on #2685
#2686

[2020-01-21 23:04] rthadur commented on #2683
@josephrocca thanks for reporting. @lina128 I was able to reproduce the error, link needs to be updated .
cc @nsthorat

[2020-01-21 23:13] JudeOsborn commented on #1811
+1 for me as well.

[2020-01-22 00:13] rthadur commented on #2684
@Symbitic i was able to reproduce the error with Digits: 2 and Training Size: 100 , but training size 100 is too low , ideally it should be high in order for you to render correct results.

[2020-01-22 06:30] lfuszara1 opened #2689 "[tfjs-react-native] React Native apk error, expo-gl-cpp"
#### Versions:

[code]

#### TensorFlow.js version

1.5.1

#### Describe the problem or feature request

Created apk is generating error:

[code]

#### Code to reproduce the bug / link to feature request

[code]

[2020-01-22 10:20] VladimirHumeniuk commented on #633
@oveddan I tried to do it as in your answer but after `fromDatasetObject` my data-set has `undefined` in `classIndex`. Could you please provide any advice on how to fix it?

[2020-01-22 13:05] Symbitic commented on #2684
100 is the maximum allowed training size when Digits = 1.
`const trainingSizeLimit = Math.pow(Math.pow(10, digits), 2);`
(10^1)^2 = 100

[2020-01-22 18:18] rthadur commented on #2685
related PR has been merged, thank you.

[2020-01-22 18:18] #2685 closed

[2020-01-22 19:21] rthadur commented on #2689
Looks like this is not an issue from tfjs-react-native , instead it is related to EXPO-GL-CPP , please check for similar issue [there](https://github.com/expo/expo/issues/3787)  , Thank you

[2020-01-23 01:20] lina128 commented on #2684
It seems that # of test examples need to be smaller than 10% of the training size. This seems true for any digits. Here's a runnable configuration: digits=1, training size = 50, rnn type = simplernn, rnn layers = 1, rnn hidden layer size = 128, batch size = 1, train iteration = 500, # of test examples = 5. But with the small amount of data, the model is hard to converge.

[2020-01-23 01:25] #2684 closed

[2020-01-23 22:23] rthadur commented on #2586
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-01-23 22:23] #2586 closed

[2020-01-23 22:50] rthadur commented on #2618
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-01-23 22:50] #2618 closed

[2020-01-23 22:59] rthadur commented on #2623
@harshithdwivedi can you please provide these things
1) steps to reproduce the error.
2) Is it possible to try with latest tfjs version
3) please provide your system configuration.
Thanks

[2020-01-23 23:16] #2683 closed

[2020-01-24 09:19] lfuszara1 opened #2697 "[tfjs-backend-wasm] before loading wasm is preloaded backend webgl not cpu"
#### Versions:

[code]

#### TensorFlow.js version

1.5.1

#### Describe the problem or feature request

When I switched kernel to wasm and disabled webgl in platform_react_native.ts of tfjs-react-native package, I try to run app, backend webgl preloaded and webgl throw the error.
On pure cpu app is working.

#### Code to reproduce the bug / link to feature request

Please set backend to cpu when

[2020-01-24 17:47] rthadur commented on #2697
Please provide reproduction code and your system configuration.

[2020-01-25 07:20] Nithanaroy opened #2698 "Error: Unsupported tensor DataType: DT_INT64"
#### TensorFlow.js version
"@tensorflow/tfjs-node": "^1.5.1"

#### Browser version
NA

#### Describe the problem or feature request
When I load a saved model that is saved by `tf.keras`, `Error: Unsupported tensor DataType: DT_INT64` error is thrown in node v10.15.0.

#### Code to reproduce the bug / link to feature request
https://colab.research.google.com/drive/13GNsRCVtiS3r-VcupZGC2aZo-gSueMEV#

[2020-01-25 08:00] Nithanaroy commented on #2698
I changed my dataset to `int32` to make it work. But not sure if this is mentioned already, but I couldn't find in the `loadSavedModel()` of Node.js doc.
Changed my Python input pipeline for this at https://colab.research.google.com/drive/13GNsRCVtiS3r-VcupZGC2aZo-gSueMEV#revisionId=0BwoZu2uBQcUZSEVEdWVwU1c1ZVE4dlpvS0JuNEc2ZlBSa1g4PQ

[2020-01-25 13:13] toncic opened #2699 "Adding live demo for MobileNet"
#### TensorFlow.js version
    "@tensorflow-models/mobilenet": "^2.0.4",

#### Browser version
NA
#### Describe the problem or feature request
Hello everyone, I tried to find an easy way to test how  [MobileNet](https://github.com/tensorflow/tfjs-models/tree/master/mobilenet)  will classify my image, but I couldn't find any live demo or something similar that can help me.

#### Code to reproduce t

[2020-01-25 20:18] rthadur commented on #2698
Submitted a PR #2700 , thanks for reporting.
cc @kangyizhang

[2020-01-27 14:18] lfuszara1 commented on #2697
Wasm backend was priority 2 and webgl have priority 2, this was the problem.
Cpu backend works because have greater priority than webgl.
I changed priority wasm to 1 and everything is OK.

[2020-01-27 14:23] #2632 closed

[2020-01-27 16:07] tafsiri commented on #2697
- What WebGl error did you get?
- You can use [setBackend](https://js.tensorflow.org/api/latest/#setBackend) to use the backend you want to use, its not clear from your bug report whether you are calling setBackend.

[2020-01-27 16:12] tafsiri commented on #2699
Hi @toncic, Since this is not a bug, this is not the best place to post this. Please post this to the [community mailing list](https://groups.google.com/a/tensorflow.org/g/tfjs) if you are interested in wider community feedback. Personally I would also suggest you just deploy the demo somewhere to make it easier for people to see without needing to do any setup. You could try setting it up on [gli

[2020-01-27 16:12] #2699 closed

[2020-01-27 16:21] tafsiri commented on #2637
Closing this due to lack of activity. Feel free to re-open if you are able to initialize the array described above without crashing.

[2020-01-27 16:21] #2637 closed

[2020-01-27 16:22] tafsiri commented on #2515
Closing due to lack of recent activity.

[2020-01-27 16:22] #2515 closed

[2020-01-27 16:23] tafsiri commented on #2397
The tests should now fail if a new build is needed (in the PR that needs it).

[2020-01-27 16:23] #2397 closed

[2020-01-28 04:06] rthadur commented on #2668
Closing this issue due to lack of inactivity.Feel free to comment so that we can reopen.

[2020-01-28 04:06] #2668 closed

[2020-01-28 04:08] rthadur commented on #2560
Closing this due to lack of activity, feel to reopen. Thank you

[2020-01-28 04:08] #2560 closed

[2020-01-28 04:12] rthadur commented on #2571
Hello, this sort of question is better suited for StackOverflow. This issues list is for bugs and feature requests. Thanks and please use the tag 'tensorflow.js' on your StackOverflow question to makes sure it's discoverable.

[2020-01-28 04:12] #2571 closed

[2020-01-28 05:49] shnamin opened #2703 "how to install tensorflowjs converter version 1.5.1"
Hi,
What is the process of installing the final version of the tensorflowjs (and TensorFlow js converter) locally on Linux 18 or 19? I need to use tensorflowjs 1.5.1 in my conversion of my quantization-aware trained TensorFlow model to tensorflowjs, otherwise, I am getting errors with some layers that are recently added to tensorflowjs 1.5.1 (like nonmaxsuppressionv5).

Please guide!

[2020-01-28 10:14] JakeWade3 commented on #2043
@rthadur Not yet, still haven't had any links or information for when the body pix TensorFlow lite model ready.

[2020-01-28 14:50] sowmyatv commented on #2547
Hi Tyler,
  Just to recall our previous discussion, I need to support only single person detection.  Bodypix 1.0 works well and detects single person and blurs everyone behind, but the contour is not accurate. Bodypix 2.0 segmentPerson detects multiple people. So previously, I was using 2.0 segmentMultiPerson and filtering out one person.  But this was very slow and unusable.

So as suggested by y

[2020-01-28 15:19] rthadur commented on #2703
@shnamin please follow these [instructions](https://github.com/tensorflow/tfjs#via-script-tag) here to use latest version.

[2020-01-28 15:22] rthadur commented on #2043
@tylerzhu-github gentle ping if you have any update ?

[2020-01-28 20:54] EddieOne commented on #1422
Hello everyone, people are starting to notice the power of TFJS. If you want Coral support, please do this 5 min survey! https://t.co/RdQ9YreToH?amp=1

[2020-01-28 22:59] rthadur commented on #757
This has been fixed [here](https://github.com/tensorflow/tfjs-core/pull/1424)  , closing this issue , thank you

[2020-01-28 22:59] #757 closed

[2020-01-28 23:14] rthadur commented on #852
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-01-28 23:14] #852 closed

[2020-01-29 00:36] shnamin commented on #2703
hi @rthadur  it doesn't show the installation of the latest version of tensorflow converter!?

[2020-01-29 03:29] dkoo commented on #2177
@tafsiri Sorry for the delayed response. Versions I'm using:

[code]

And this was in the Android Emulator.

[2020-01-29 03:38] #2698 closed

[2020-01-29 03:42] lina128 commented on #2703
Hi @shnamin, NonMaxSuppressionV5 is not in converter 1.5.1. The cpu and gpu kernels for this op are implemented and are in core 1.5.1. We will release 1.5.2 tomorrow, so that converter will include this op. Stay tuned.

[2020-01-29 08:07] passachon commented on #2425
I want an example of running bodypix on a video too.

[2020-01-29 08:35] passachon commented on #2425
<html>
  <head>

    <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@1.2"></script>

    <script src="https://cdn.jsdelivr.net/npm/@tensorflow-models/body-pix@2.0"></script>
 </head>

  <body>
    <button onclick="myFunction()" type="button">Get video length</button><br>

 <video id="myVideo" width="640" height="480" controls>
  <source src="ep1.mp4" type="video/mp4">

  Your browser do

[2020-01-29 10:23] DuyguA opened #2705 "how to return class label from the module"
#### TensorFlow.js version

tensorflow/tfjs-node: 1.2.11

#### Browser version

No browser, Typescript project.

#### Describe the problem or feature request

I trained an LSTM with Keras Python. I can successfully load the model into Node.js , output `predict`  result (class label) to the console but I cannot return this label to the upstream modules. Instead as a return value, I get a `Promise<a

[2020-01-29 13:59] 3lk0k0 commented on #671
where need to write these command ?

[2020-01-29 15:05] tafsiri commented on #2177
Thanks, any chance you could try this on a physical device?

[2020-01-29 15:20] dsmilkov commented on #2649
Hi, I just updated our starter projects to depend on latest wasm AND latest core in https://github.com/tensorflow/tfjs/pull/2706. The problem you were seeing is b/c tfjs-backend-wasm was at 1.5.1 but tfjs-core was at 1.4.0 (where 'exp' was not yet modularized) and that introduced a skew.

[2020-01-29 16:02] #2649 closed

[2020-01-29 16:32] cpury opened #2707 "App got incredibly slow since 0.12"
Hi guys! I'm a long-term fan and the author of a mildly-popular TFJS tutorial here: https://cpury.github.io/learning-where-you-are-looking-at/ The result is really cool and quite fluent on my Macbook Air: https://cpury.github.io/lookie-lookie/

However, I recently upgraded to 1.0+ (tried both 1.2 and 1.5). Some APIs have broken since then, so I updated my code. Unfortunately, now the resulting app

[2020-01-29 16:43] cpury commented on #2707
Wow, ok I found the problem. Sorry in case you took some time to read all that :)

I overlooked in my refactoring that I was converting my image tensor to an array many times over. This was no problem before with `.get()` because you get exactly one scalar. But with `array()` of course, the whole array has to be loaded into JS, which takes a bit.

[2020-01-29 16:43] #2707 closed

[2020-01-29 18:34] rivertam commented on #1660
I won't comment on the actual error itself, but as a code monkey the worst part of this is that it seems to be uncatchable. If I could catch it, I could give a nice error to the user and try again, but as it is it seems to just create an asynchronous exception I can't detect except by using global error handlers (which is what I'm going to try to do next).

[2020-01-29 20:27] #2703 closed

[2020-01-30 00:34] mrpetef10 opened #2713 "tf.data.csv Doesn't load from local path inside node application, as suggested by the documentation"
TensorFlow.js version
v1.5.1

Browser version
tfjs-node-gpu

#### Describe the problem or feature request

In the documentation for tf.data.csv it states "Create a CSVDataset by reading and decoding CSV file(s) from provided URL **or local path** if it's in Node environment."
Reference: https://js.tensorflow.org/api/latest/#data.csv

However, when I attempt to load from a local file path as such:

[2020-01-30 01:37] mrpetef10 commented on #2713
Ok my mistake, I forgot to look further down the documentation where it says:
"If it's a local path, it must have prefix file:// and it only works in node environment."

So the full URL should be: tf.data.csv("file://C:/wamp64/www...."

[2020-01-30 01:37] #2713 closed

[2020-01-30 02:00] 3lk0k0 commented on #1469
have you solve to use GPU ?

[2020-01-30 09:57] AndreMaz commented on #2505
@nsthorat can you add the changelog for `v1.5.2`?

[2020-01-30 22:57] #2689 closed

[2020-01-30 23:16] #2656 closed

[2020-01-30 23:21] rthadur commented on #2375
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-01-30 23:21] #2375 closed

[2020-01-30 23:48] rthadur commented on #2705
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow.js) since it is not a bug or feature request. There is also a larger community that reads questions there.

[2020-01-30 23:48] #2705 closed

[2020-01-31 09:05] ToonTalk opened #2717 "Memory leak in tfvis.show.layer"
#### TensorFlow.js version
1.5.2

#### Browser version
Google Chrome
Version 79.0.3945.130 (Official Build) (64-bit)

#### Describe the problem or feature request
Memory leak
#### Code to reproduce the bug / link to feature request
[code]

Putting it in tf.tidy works around the problem.

[2020-01-31 09:31] DuyguA commented on #2705
@rthadur  , can you explain to the audience why there is a label called `type:support` then?
I don't think your thinking is optimal, please reopen the issue.

[2020-01-31 10:27] ehsan2211 opened #2718 "memory leak during inference for (segnet) model converted from Keras"
To get help from the community, we encourage using Stack Overflow and the [`tensorflow.js`](https://stackoverflow.com/questions/tagged/tensorflow.js) tag.

#### TensorFlow.js version
tfjs 1.0.0 and above
#### Browser version
all
#### Describe the problem or feature request
I have a Segnet (around 3 million parameters) model trained in TF 1.1 (python). The converted model leaks even with simple inf

[2020-01-31 13:28] rthadur commented on #2718
@ehsan2211 TF 1.1 is older version , please try in latest versions in python 1.15 and try to convert in to tfjs.

[2020-01-31 13:37] rthadur commented on #2452
Closing this due to lack of activity, feel to reopen. Thank you

[2020-01-31 13:37] #2452 closed

[2020-01-31 13:45] ehsan2211 commented on #2718
The model works in Python. I tried reading and saving in tf.2 and tf 1.6 on
colab. The final converted model leaks in TFJS unless I use TFJS older than
1.0.0.

On Fri, Jan 31, 2020, 14:28 Rajeshwar Reddy T <notifications@github.com>
wrote:

[2020-01-31 17:37] rthadur commented on #2387
related PR has been merged , so closing this issue.

[2020-01-31 17:37] #2387 closed

[2020-01-31 18:46] pyu10055 commented on #2348
@Ghadjeres Are you planning to do training on the model? If you are only targeting for inference, you can save the keras model as tensorflow saved model, and use the converter to covert the saved model file. This way the layer you having issue will be lowered to tensorflow graph, which should work using tensorflow.js loadGraphModel API.

[2020-01-31 18:51] nsthorat commented on #2348
It looks like `outputs = outputs[:, 3]` is the problem which adds a TensorFlow strided slice (and thus adds a layer which cannot be serialized automatically). You can either:
1) Remove the slice, let the output be the full output and slice after.
2) Register a a custom op with that name and the implementation of that custom layer would be the tensorflow.js version of `outputs[:, 3]` using tf.slice

[2020-01-31 18:54] dsmilkov commented on #592
This is fixed by @nsthorat.

[2020-01-31 18:54] #592 closed

[2020-01-31 18:56] dsmilkov commented on #645
With the improved doc generator, we now generate much better info about the possible callback fields, thus closing this issue.

[2020-01-31 18:56] #645 closed

[2020-01-31 19:08] nsthorat commented on #2409
@FrederikLynggaard just curious is this for a real world problem or are you just playing around? It will help us prioritize.

[2020-01-31 20:11] hollowgalaxy commented on #623
@bileschi so if I do in js
`tf.LayersModel.save(...)` and save it locally.
Then I can load that model in python,  with
`tf.keras.load_model(...)`
Am I understanding that correctly?

[2020-02-01 02:48] srijanreddy98 commented on #1222
@nsthorat is this open to work on or has it been rectified?

[2020-02-02 14:28] set-killer commented on #2545
Hey guys, does anyone knows how to solve the puzzle? Thank you.

[2020-02-03 00:54] rthadur commented on #1222
@srijanreddy98 this has been fixed [here](https://github.com/tensorflow/tfjs-core/pull/1612) ,  thank you.

[2020-02-03 10:26] blidblid commented on #2443
For any interested, a workaround is to freeze the model. That way you can use DenseFeatures and give predictions in tfjs:
[code]
and then
[code]

[2020-02-03 10:34] AndreMaz opened #2721 "[tfjs-converter] can't convert custom layers"
#### TensorFlow.js version
v1.5.2
#### Describe the problem or feature request
I've tried to convert the model from [date-conversion-attention](https://github.com/tensorflow/tfjs-examples/tree/master/date-conversion-attention) example but it seems that the converter does not support custom layers. It produces the following error:
[code]

The custom layer that it complains about is this one:
https:

[2020-02-03 13:13] annxingyuan commented on #2624
I think the reason `kernelMs` is inaccurate in Firefox is that Firefox doesn't support WebGL query timers. In this case we just snapshot `performance.now()` before and after calling the WebGL draw command for that kernel and report `kernelMs` as the difference.

@dsmilkov @nsthorat - do you think it makes sense to omit `kernelMs` from `tf.time` output if query timers are unavailable?

[2020-02-03 14:10] marius-sm opened #2722 "[tfjs-converter] ValueError: Unsupported Ops in the model before optimization TensorListReserve, TensorListStack, TensorListSetItem, TensorListGetItem, TensorListFromTensor"
#### TensorFlow.js version
1.5.2
#### Browser version
any
#### Describe the problem or feature request
Unsupported ops

Are there any plans to add these ops or any workarounds ?

[2020-02-03 15:39] bileschi commented on #623
Yes but you may need to use the tfjs converter to change to a compatible
format.
https://github.com/tensorflow/tfjs/tree/master/tfjs-converter

On Fri, Jan 31, 2020 at 3:11 PM hollowgalaxy <notifications@github.com>
wrote:

--
Stan Bileschi Ph.D.  |   SWE  |  bileschi@google.com |  617-230-8081

[2020-02-03 15:41] jallamsetty1 opened #2723 "[tfjs-backend-wasm] - chrome tab becomes unresponsive when trying to apply the bokeh effect using wasm backend"
#### TensorFlow.js version
1.5.1

#### Browser version
Chrome - 79.0.3945.130

#### Describe the problem or feature request
I am using the bodyPix model for doing person segmentation and then using the segmentation data for drawing the bokeh effect on a HTML canvas. The chrome tab becomes unresponsive when I try to set the backend to 'wasm'. There are no issues when I use the 'webgl' backend.

###

[2020-02-03 16:21] dsmilkov commented on #2624
Instead of omitting (which is basically silencing the error), how about we throw an error with a user-friendly msg? Specifically the webgl's backend.time() should throw an error if the query timer is not supported, and that error should propagate through tf.time. WDYT?

[2020-02-03 16:23] nsthorat commented on #2624
@annxingyuan we actually should use a CPU timer if it's not enabled today. I think it makes to disambiguate and have the error propagate through the tf.time() call.

[2020-02-03 16:35] annxingyuan commented on #2624
@dsmilkov @nsthorat

We do use a CPU timer if query timers are not enabled - but the CPU timer just reports the time elapsed before and after calling WebGL draw (which will always be close to 0).

I feel like `tf.time()` shouldn't throw an error if query timers are not enabled because `tf.time()` also returns `wallMs`, which is valuable regardless of whether query timers are enabled. I think it ma

[2020-02-03 16:39] nsthorat commented on #2624
Ah okay, I think that makes sense. Something like gpuKernelMs?

[2020-02-03 16:56] annxingyuan commented on #2624
@nsthorat I think `kernelMs` makes sense for the name because it could be meaningful for the CPU backend. How about just not returning `kernelMs` as part of `tf.time` if the user is on the WebGL backend and the query timer extension is unavailable?

[2020-02-03 17:42] dsmilkov commented on #2624
Talked to Nikhil. We decided that we shouldn't silently ignore (omit information) b/c that is not helpful to the user. E.g. if I'm using firefox + webgl and call tf.time, I want to understand why I can't measure the kernel time.

Here is the proposal. `kernelMs` maps to:
- if everything works, a number
- if we can't measure:
[code]

[2020-02-03 17:53] annxingyuan commented on #2624
OK - sounds good.

[2020-02-03 17:58] rush86999 opened #2724 "posenet model example with web worker"
To get help from the community, we encourage using Stack Overflow and the [`tensorflow.js`](https://stackoverflow.com/questions/tagged/tensorflow.js) tag.

#### TensorFlow.js version
current
#### Browser version
firefox
#### Describe the problem or feature request
i would like to use the posenet model inside web worker using wasm. There is already an example of pretrained posenet model provided fo

[2020-02-03 18:46] lina128 commented on #2703
Hi @rthadur, NonMaxSuppressionV5 is supported in 1.5.2. See release note: https://github.com/tensorflow/tfjs/releases/tag/tfjs-v1.5.2

[2020-02-03 22:06] rthadur commented on #2623
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-02-03 22:06] #2623 closed

[2020-02-04 00:26] rthadur commented on #2643
Related [PR](https://github.com/tensorflow/tfjs/pull/2647) has been merged, closing this issue.Thank you.

[2020-02-04 00:26] #2643 closed

[2020-02-04 03:36] ToonTalk opened #2727 "Incorrect description of 'epochs' in https://js.tensorflow.org/api/latest/#tf.LayersModel.fit"
#### TensorFlow.js version
1.5.2

#### Browser version
Chrome Version 79.0.3945.130 (Official Build) (64-bit)

#### Describe the problem or feature request
When initialEpoch is provided then epochs does not describe "The number of times to iterate over the training data arrays." as documented in https://js.tensorflow.org/api/latest/#tf.LayersModel.fit

#### Code to reproduce the bug / link to feat

[2020-02-04 04:17] pinological commented on #295
so it does not work on integrated graphic card

[2020-02-04 16:01] rthadur commented on #2724
Posenet should work in web worker with wasm back-end, we don't have a working example right now, please refer this [document](https://www.sitepen.com/blog/using-webassembly-with-web-workers/) as how to use web worker with wasm.
 This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow.js) since it is not a bug or feature request. There is also a larger

[2020-02-04 16:30] rush86999 commented on #2724
I am actually running webpack with workerize-loader which allows me to import modules. In other words, I should be able to import tfjs and also use setwasm as provided by your example but it did not work. The article you provided to seems to point to loading the tfjs on the main thread  and then sending it to the web worker. Is this this is the only way possible?

[2020-02-04 16:34] rush86999 commented on #2724
In other words, i tried using:

[code]

[2020-02-04 16:37] rthadur commented on #2727
@ToonTalk as mentioned in the document `initialEpoch (number) Epoch at which to start training (useful for resuming a previous training run).` when `initialEpoch` is mentioned code considers `Epochs` as end `Epochs`.
cc @dsmilkov

[2020-02-04 17:14] rthadur commented on #2724
@rush86999 can you please run your code in Jsfiddle or Codepen and share it with us so that we can reproduce the error, thank you

[2020-02-04 17:20] rush86999 commented on #2724
I m using a react app and the web camera converting it to image buffer and reconstructing the image in the web worker to use posenet. Here's my code for web worker

[code]

[2020-02-04 17:30] rush86999 commented on #2724
oh yeah the image data comes from getImageData from context of a canvas, The image data is converted to image.data.buffer and sent over to the worker as a transferable.

[2020-02-04 17:32] rush86999 commented on #2724
I also looked into whether workerize-loader did not work with wasm but that issue has been fixed. So it is not a web assembly problem. A google search found me the answer

[2020-02-04 19:19] robsco-git opened #2729 "[tfjs-react-native] and managed Expo workflows"
With, `@tensorflow/tfjs-react-native@0.2.1`, `tfjs-react-native` is using `react-native-fs` for the [bundleResourceIO](https://github.com/tensorflow/tfjs/blob/90f52ddb341d5079925af81000edfe845e40774a/tfjs-react-native/src/bundle_resource_io.ts#L21) function. To the best of my knowledge, managed `Expo` workflows do not work with `react-native-fs`, instead, the recommended path is to use [expo-file-

[2020-02-04 23:00] tafsiri commented on #2729
Yep will be looking into an alternative that will work with the managed workflow. Thanks for reporting.

[2020-02-04 23:22] tafsiri commented on #2724
So can this issue be closed?

[2020-02-04 23:26] rush86999 commented on #2724
I m not sure. This does not work? I was trying to create a codepen but workerize-loader just wouldn't load no matter what I tried. Does this work for you? Can you paste my code in a code pen and try sending an image to see if it works? I still think this is a bug because it should work. Unless it is a code problem

[2020-02-04 23:31] rush86999 commented on #2724
There is also https://github.com/mbasso/wasm-worker but there is nothing in tfjs interface I can find to use with it. It can load webassembly inside worker but there is no next step to use tfjs inside of it. Can you make sure this is really me not knowing this is a code problem?

[2020-02-04 23:35] rush86999 commented on #2724
here's main.js file

[code]

[2020-02-05 00:05] pyu10055 opened #2730 "update qna model artifact url to TFHub"
Upload the qna model artifacts to TFHub and update the model file.

[2020-02-05 00:14] rush86999 commented on #2724
here's the bug:

[code]

[2020-02-05 00:19] rush86999 commented on #2724
i also modified workerize-loader to load wasm modules as per https://github.com/wellcaffeinated/workerize-loader/commit/7cfd8bde55cb102b7b74cb5fe507a753fa9ebd91 to no avail

[2020-02-05 03:36] ToonTalk commented on #2727
Yes but epochs does not mean

"The number of times to iterate over the training data arrays."

but something like

"The epoch number the iterations will stop"

Shouldn't the documentation for "epochs' be clearer?

[2020-02-05 14:19] Fmihajasoa opened #2731 "Hello I'm trying to make e little web app which call my model that I have already exported from Google Cloud Platform by Tensorflow.js so that I have e model.json file with other files. The output should be at the naviagator's console web but there is an error : "TypeError: tfjsConverter.loadGraphModel is not a function" My code looks like below , I took it from this link : https://cloud.google.com/vision/automl/docs/tensorflow-js-tutorial?hl=fr"
![Capture](https://user-images.githubusercontent.com/60700726/73849675-600daa00-483b-11ea-89a8-c73a7f6dd76c.PNG)
To get help from the community, we encourage using Stack Overflow and the [`tensorflow.js`](https://stackoverflow.com/questions/tagged/tensorflow.js) tag.

#### TensorFlow.js version

#### Browser version

#### Describe the problem or feature request

#### Code to reproduce the bug / li

[2020-02-05 14:28] Fmihajasoa opened #2732 "Exporting Edge model from Google Cloud Platform in a small web application"
Hello :) :)
I'm trying to make e little web app which call my model that I have already exported from Google Cloud Platform by Tensorflow.js so that I have e model.json file with other files. The output should be at the naviagator's console web but there is an error : "TypeError: tfjsConverter.loadGraphModel is not a function" My code looks like below , I took it from this link : https://cloud.goo

[2020-02-05 14:29] #2731 closed

[2020-02-05 14:31] nsthorat commented on #2730
Let's make sure this is a launch blocker :)

[2020-02-05 14:43] nsthorat commented on #2505
Changelog is out!

[2020-02-05 15:28] tafsiri commented on #2724
cc @dsmilkov @nsthorat

[2020-02-05 15:58] #2624 closed

[2020-02-05 17:13] lina128 commented on #2727
Hi @ToonTalk, thanks for the feedback. TensorFlow keras API describes epoch as: "epochs: Integer. Number of epochs to train the model. An epoch is an iteration over the entire x and y data provided. Note that in conjunction with initial_epoch, epochs is to be understood as "final epoch". The model is not trained for a number of iterations given by epochs, but merely until the epoch of index epochs

[2020-02-05 20:13] rthadur commented on #1718
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-02-05 20:13] #1718 closed

[2020-02-05 21:07] rthadur commented on #1715
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-02-05 21:07] #1715 closed

[2020-02-05 21:39] fakob commented on #2046
I get the same error as stated in the subject.
My setup is the following:
operating system: `macOS 10.14.6`
yarn: `1.19.1`
node: `12.8.1`
electron: `7.1.11`
package.json excerpt:
[code]
where face-api-js itself also uses @tensorflow.

When I run the tfjs-node example `yarn test` for an independent test, I get a different error. Not sure if this is related:
[code]

I tried `npm rebuild @tensorflow/

[2020-02-06 01:24] ToonTalk commented on #2727
Yes, that is clear. Thanks.

[2020-02-06 16:15] jallamsetty1 commented on #2723
Is wasm backend supported for bodyPix model ? Can you please let me know if this is a missing implementation or a bug, thanks !

[2020-02-06 17:55] josh-bone commented on #1667
I am also having this issue still.

[2020-02-06 21:30] hrldcpr commented on #1969
Seems like this can be closed now, thanks to #2226?

[2020-02-06 22:02] pyu10055 commented on #2722
@marius-sm Can you share the name of the model you try to convert?

[2020-02-06 22:26] marius-sm commented on #2722
The model consists of several files with custom layers, so it is complicated to share.. Meanwhile I'm pretty sure that the error is because of tf.map_fn, which I think is not supported, so I left it out of the model (fortunately it was just before the output) and coded what it did in plain JavaScript

[2020-02-07 09:02] Navan0 opened #2735 "How to find a frozen model 's --output_node_names for tensorflowjf converter"
How to find a frozen model 's --output_node_names for tensorflowjf converter ?

`tensorflowjs_converter \
    --input_format=tf_frozen_model \
    --output_node_names='MobilenetV1/Predictions/Reshape_1' \
    /mobilenet/frozen_model.pb \
    /mobilenet/web_model`

returns an error like
KeyError: "The name 'MobilenetV1/Predictions/Reshape_1' refers to an Operation not in the graph."
how to find the

[2020-02-07 10:27] Mxlt commented on #633
@VladimirHumeniuk  Hi! Have you been able to fix this? I am having the same issue.

[2020-02-07 10:29] VladimirHumeniuk commented on #633
@Mxlt I just used `label` instead of `classIndex`

[2020-02-07 11:27] leader22 opened #2736 "[BodyPix] Feature request: Rendering utils for removing background"
Hi team.

Now I'm working on implementing "Virtual background" filter for video chat.

And of course, there are several ways to achieve it.

- composite manually w/ `bodyPix.toMask()`
- use `bodyPix.drawBokehEffect()` w/ large `backgroundBlurAmount` value
  - not ideal, but it works...

It would be helpful if there is the API like `removeBackground()`.

How do you think?
If it is appreciated, I'd

[2020-02-08 00:45] rthadur commented on #2735
As mentioned [here](https://github.com/tensorflow/tfjs/issues/1541#issuecomment-489163714) frozen models are not supported in v1.x , please follow these [instructions](https://github.com/tensorflow/tfjs/issues/1541#issuecomment-486860200) if you want to convert a frozen model.

[2020-02-08 22:51] recovering1004 opened #2737 "Sporadic Error - shapeInfo.texShape is 'undefined' in shader_compiler::getPackedSampler2D"
**TensorFlow.js version:**  1.5.2

**Browser Version:** Chrome Version 80.0.3987.87 (Official Build) (64-bit)

**Describe the problem or feature request:**
Please reference recently closed issue #2375.  I am having a very similar issue with a model trained in Python using the ssd_mobilenet_v2_coco_2018_03_29 model as the base model and converted to a web model using tfjs-converter.  As reported pr

[2020-02-09 05:55] samahudin commented on #494
Worked for me! Thank you!

[2020-02-09 15:54] MiguelRipoll23 opened #2738 "HTMVideoElement width and height ignored"
#### TensorFlow.js version
1.5.2

#### Browser version
79.0.3945.130 (Official Build) (64-bit)

#### Describe the problem or feature request
`model.detect` ignores width and height set on the HTMLVideoElement so bounding boxes created from the predictions doesn't match to the objects' places from the resized video.

#### Code to reproduce the bug / link to feature request
https://github.com/Miguel

[2020-02-10 13:36] jgough99 commented on #2729
@robsco-git I am having exactly the same issue so I am excited to see you have published a work around. However I am struggling to get tfjs-react-native-expo-fix to work with my project since I am getting many errors. Could you give some advice on how to use this fix please? Does it need to be imported? Do you still need to install the non-fixed tensoflow? Many thanks.

[2020-02-10 16:52] MichaelMcNeil commented on #2729
@jgough99  same. @robsco-git what's the workflow to run with your fix rn?

[2020-02-10 20:32] Pierrci opened #2739 "Unexpected `shape` type in `ModelTensorInfo`"
#### TensorFlow.js version
1.5.2

#### Browser version
Node.js 12.15.0

#### Describe the problem or feature request
I'm trying to access the `shape` of a model input thanks to `tf.node.getMetaGraphsFromSavedModel`. I was expecting a `number[]` as documented in the [TS typings](https://github.com/tensorflow/tfjs/blob/0db0373720151aedf5608b4c4cde3c81c0aa85ad/tfjs-core/src/model_types.ts#L41), but i

[2020-02-10 22:27] pyu10055 commented on #2735
@Navan0 @rthadur We did recently add the frozen graph model support back to v 1.x, since there is still quite some demands for that.
Back to the original question, how to find the output node name for frozen model, this are no direct answers, you would have to know the topology of model. This is also the main reason we recommend people to use saved model, which contains signatures that identify th

[2020-02-10 22:31] pyu10055 commented on #2722
@marius-sm Good to know that you found a solution, yes, many of these pre/post processing logic should be implemented in javascript, since it might provide better performance too.

[2020-02-10 22:31] #2722 closed

[2020-02-10 23:12] rthadur commented on #2738
@MiguelRipoll23 can you please put the output object here ?

[2020-02-10 23:25] rthadur commented on #2735
@pyu10055 thank you for the clarification.

[2020-02-11 00:30] BenjaminWegener commented on #477
solved it for me by changing the model.json directly to
`(...)"layers": [{"class_name": "InputLayer", "config": {"batch_input_shape": [null, null, null, 3],(...)`

[2020-02-11 05:02] dhowe opened #2741 "node-pre-gyp info This Node instance does not support builds for N-API version 5"
I get this warning when each time I start my react app. Any ideas how to fix?

"OS": "OS X 10.13.6",
"Node": "v12.9.1",
"@tensorflow/tfjs-node": "^1.5.1"

[code]

[2020-02-11 05:03] Navan0 commented on #2735
thanks @pyu10055 for the clarification, i'm closing the issue

[2020-02-11 05:03] #2735 closed

[2020-02-11 06:50] kiwionly opened #2742 "[Codelab]: Handwritten digit recognition with CNNs"
To get help from the community, we encourage using Stack Overflow and the [`tensorflow.js`](https://stackoverflow.com/questions/tagged/tensorflow.js) tag.

#### TensorFlow.js version
1.0.0
#### Browser version
chrome 80.0.3987.87
#### Describe the problem or feature request
wrong sample code in [page](https://codelabs.developers.google.com/codelabs/tfjs-training-classfication/index.html#6)

`tfvis

[2020-02-11 16:45] MiguelRipoll23 commented on #2738
Video element:
<video id="video" autoplay="" playsinline="" muted="" width="876" height="657"></video>

Predictions:
[{"bbox":[98.82802963256836,55.3458309173584,519.5720863342285,421.1917304992676],"class":"person","score":0.9616024494171143}]

[2020-02-11 19:04] pyu10055 commented on #2737
I tried the generic ssd model you mentioned with your images on our latest release 1.5.2, I did not see the errors you mentioned.
There is one thing I changed, instead of

[code]
I have to changed to

[code]

Since your images are not in the size of 300x300.
Please give it a try, and let us know if the problem persists.
Also please let us know what type machine you are running this on. thanks

[2020-02-11 19:27] rthadur commented on #2738
@MiguelRipoll23 thank you , I was able to reproduce , here is my output `bbox: (4) [155.42217254638672, 160.78319549560547, 1069.0686416625977, 557.8379344940186]
class: "person"
score: 0.9160019755363464`

 cc @dsmilkov @nsthorat @pyu10055

[2020-02-11 19:37] rthadur commented on #2742
@kiwionly thank you for reporting , are you referring to the code in this [page](https://codelabs.developers.google.com/codelabs/tfjs-training-classfication/index.html#6)
In the page you mentioned there is no reference to `confusionMatrix`
![image](https://user-images.githubusercontent.com/43972606/74271946-9aa39680-4cc2-11ea-83a8-af3775efeef0.png)

[2020-02-11 19:46] rthadur commented on #2741
@dhowe here is a similar [issue](https://github.com/tensorflow/tfjs/issues/2558) reported earlier , can you please check.

[2020-02-11 20:40] recovering1004 commented on #2737
I can not explain it, but I can not recreate the error today.  I am running Windows 10.  I had already set the size of my image element to be 300x300, however I do appreciate your feedback.

[2020-02-11 22:11] tafsiri commented on #2729
This was autoclosed by a PR, but the release including it should come out shortly.

[2020-02-11 22:26] recovering1004 commented on #2737
I may have encountered a cache issue, which is why my results seemed to be the same regardless of the model I used. I believe I have an issue with my model only and not the ssd mobilenet v2 model I referenced before.  I have attached the model I am having the issue with in tfjs but not in Python tf Python.  I believe if you use this model, in conjunction with the information found in the original

[2020-02-11 22:39] tafsiri commented on #2742
@rthadur @kiwionly I was able to find the reference. Will fix and redeploy shortly.

[2020-02-11 22:44] MichaelMcNeil commented on #2729
@tafsiri thank you! I was a little mixed up after re-testing when I saw this closed. Looking forward to it!

[2020-02-11 22:46] tafsiri commented on #2742
This has been fixed. Thanks for reporting.

[2020-02-11 22:46] #2742 closed

[2020-02-11 23:04] tafsiri commented on #2729
0.2.2 is out on NPM https://www.npmjs.com/package/@tensorflow/tfjs-react-native @robsco-git @jgough99 @MichaelMcNeil, give it a whirl and let me know if it doesn't solve the issue.

[2020-02-12 04:03] dhowe commented on #2741
I did read that ticket, however the fix appeared to involve changing electron versions, which we are not using. Any way to avoid or even silence these warnings?

[2020-02-12 07:30] Nithanaroy commented on #2698
I'm working on another more complex model and facing the same issue even after ensuring all my `tf.data` and `tf.feature_columns` operations are on int32 or float32. Is there a way to debug this in my Python code?
I tried to use saved model CLI to find any instances of int64 in my saved model, but couldn't find any function which can help me here.

[2020-02-12 07:56] ToonTalk opened #2745 "Typo in https://js.tensorflow.org/api/latest/#layers.conv1d"
![image](https://user-images.githubusercontent.com/2138696/74314215-0e6f9d00-4db0-11ea-9221-c2c98a480076.png)

I assume it should have been

(batch, channels, ...)

[2020-02-12 08:30] robsco-git commented on #2729
@tafsiri I've just had a chance to try it out and it appears to be working well on both Android and iOS in our managed Expo workflow! Thanks a million.

[2020-02-12 09:27] Nithanaroy opened #2746 "Session fail to run with error: indices = 1"
#### TensorFlow.js version
1.5

#### Browser version
NA

#### Describe the problem or feature request
`tf.saved_model` with embeddings fails on `model.predict` in tfjs-node.

#### Code to reproduce the bug / link to feature request
[code]
All the features other than f8 and f2 numerical columns have embeddings. My Python code looks very similar to https://www.tensorflow.org/tutorials/structured_dat

[2020-02-12 10:29] FrederikLynggaard commented on #2409
Hi @nsthorat.
I discovered the problem playing around with some complex number computations for a little side project, so this is not for a real world problem. Perhaps the issue should be marked as a feature request?
Anyhow, I would consider the problem of low priority.

[2020-02-12 15:27] tafsiri commented on #2729
Yes, once the component is unmounted the generator will be exhausted and this is expected behaviour. Another way to not have the null check is to cancel the requestAnimationFrame of this parent component. This is how i handled it in the updated demo https://github.com/tensorflow/tfjs/blob/master/tfjs-react-native/integration_rn59/components/webcam/realtime_demo.tsx#L126

[2020-02-12 15:27] #2729 closed

[2020-02-12 21:53] fakob commented on #2640
@Infinitay
Thanks so much for your tip! I have been struggling for days to get it to work. Your solution was exactly it.

[2020-02-12 22:08] pyu10055 commented on #2746
@Nithanaroy Is this using the saved model direct execution or you have converted the saved model to tfjs format?

[2020-02-12 22:16] Nithanaroy commented on #2746
It is a direct execution without conversion

[2020-02-13 00:31] pyu10055 commented on #2746
@Nithanaroy Can you check in your TF board graph, what is the second input to the node
sequential/dense_features/f9/f9_weights/GatherV2
Is it a constant or an input tensor? The error is indicating the value for the indices input of gather op is wrong. Can you check if that is related to your inputs. Thanks

[2020-02-13 01:02] Nithanaroy commented on #2746
I was able to make it work. It is expecting the tensor definition to contain the shape as well.
[code]

[2020-02-13 07:31] kennyviperhk opened #2750 "missing binding error"
[`tensorflow.js`]

#### TensorFlow.js version
1.5.2
#### Browser version
Chrome 80.0.3987.100
#### Describe the problem or feature request

after installing tfjs, while running

Error: Cannot find module ..../node_modules/@tensorflow/tfjs-node/lib/napi-v4/tfjs_binding.node

folder is empty

![Screenshot 2020-02-13 at 3 23 37 PM](https://user-images.githubusercontent.com/4047303/74410769-d7af8a80-4

[2020-02-13 16:14] dsmilkov commented on #263
Thanks! We won't be able to fix this for several reasons:
- The fix for this is non-trivial and likely impossible without breaking the API since we would need to "release the GPU and the main thread", but we probably won't be able to keep the entire matmul operation synchronous (`tf.matmul().dataSync()` will break).
- Huge matmuls like this do not show up in practical ML models, thus making this a

[2020-02-13 16:29] pyu10055 commented on #2746
@dsmilkov Hi Daniel can you check if string tensor creation set the shape properly?
seems the tf.tensor(['sdfsdf']) behaves differently than tf.tensor(['sdfsdf'], [1,1], 'string')?

[2020-02-13 16:50] rthadur commented on #2348
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-02-13 16:50] #2348 closed

[2020-02-13 16:51] rthadur commented on #2000
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-02-13 16:52] dsmilkov commented on #2746
- `tf.tensor(['sdfsdf'])` infers shape of `[1]`
- `tf.tensor(['sdfsdf'], [1, 1], 'string')` gives shape of `[1, 1]`.

Both are working as intended.  If you want to infer shape of `[1,1]`, you have to do `tf.tensor([['sdfsdf']])`

[2020-02-13 17:15] rthadur commented on #2750
@kennyviperhk thanks for reporting , can you please try these things

1. remove dependency of @tensorflow/tfjs in package.json. tfjs-node will install @tensorflow/tfjs with corresponding version.
2. use the exact version of @tensorflow/tfjs-node (remove ^ before the version number). Delete node_modules, yarn.lock and package-lock.json, then install dependencies.

[2020-02-13 17:18] Nithanaroy commented on #2746
Ah makes sense. Thanks Daniel and Ping.

Any advice on a similar workflow https://stackoverflow.com/questions/60201536/how-to-avoid-64-bit-data-types-to-run-my-python-estimator-model-natively-on-tfjs

[2020-02-13 17:18] #2746 closed

[2020-02-13 19:44] #862 closed

[2020-02-13 19:45] #2654 closed

[2020-02-13 20:30] #2730 closed

[2020-02-14 00:40] pyu10055 commented on #1701
@oveddan The graph model has added save() method, you can store them in any of the storage option now.

[2020-02-14 00:40] #1701 closed

[2020-02-14 04:21] Infinitay commented on #1469
I am having this issue too, but it seems to resolve itself **only when I restart my computer**. This seems rather odd to me. I notice that the issue tends to happen after terminating my application(s) that utilize tfjs.

[2020-02-14 04:49] Infinitay commented on #671
This is how I did it:

1. Install the package `dotenv` via `npm i dotenv`
2. Create a new file `.env`, **make sure you include the `.`**, within the root of your project's workspace
3. Add `TF_FORCE_GPU_ALLOW_GROWTH=true` to the file and save it
4. Add `require('dotenv').config();` in your code, somewhere where it can be executed _first_, and before requiring `tfjs` of course

[2020-02-14 05:02] aledalgrande commented on #2000
was this implemented?

[2020-02-14 05:02] Infinitay commented on #671
I tried adding TF_FORCE_GPU_ALLOW_GROWTH=true as an environment variable, and it seemed to have worked briefly, but upon trying to run my program once more, the error started appearing again.

cc. https://github.com/tensorflow/tfjs/issues/1469#issuecomment-586091169

[2020-02-14 09:33] KienPM opened #2753 "[tfjs-react-native] Fail to run integration_rn59"
To get help from the community, we encourage using Stack Overflow and the [`tensorflow.js`](https://stackoverflow.com/questions/tagged/tensorflow.js) tag.

#### TensorFlow.js version
1.5.1
#### tfjs-react-native version
0.2.0

#### Describe the problem or feature request
When I tried to run tfjs/tfjs-react-native/integration_rn59, I got this error
[code]
#### Code to reproduce the bug / link to fe

[2020-02-14 10:52] timoklingenhoefer opened #2754 "predict does not work with tfjs-node but with tfjs-node-gpu"
#### TensorFlow.js version
"@tensorflow/tfjs-node": "^1.5.2",
"@tensorflow/tfjs-node-gpu": "^1.5.2",

#### Describe the problem or feature request
I have a model that runs on tfjs-node-gpu, but then I changed to using tfjs-node to test on a different machine without CUDA, it fails to run with this error:
[code]

#### Code to reproduce the bug / link to feature request
only change from
[code]
to
[c

[2020-02-14 14:14] caisq commented on #2000
This bug shouldn't be closed. The new layer type hasn't been implemented yet.

[2020-02-14 15:19] #1779 closed

[2020-02-14 15:27] AndreMaz opened #2755 "Extend LSTM layer"
#### TensorFlow.js version
v1.5.2

#### Describe feature request
I'm trying to implement [Bahdanau's Attention](https://arxiv.org/abs/1409.0473). To do it I need to slightly modify the behavior of LSTM layer. However, looking at
https://github.com/tensorflow/tfjs/blob/c114d6c608536adbc54bbb1b67c1a2293e85575c/tfjs-layers/src/exports_layers.ts#L1490
it seems that it's impossible and the only way to

[2020-02-14 17:30] rthadur commented on #1469
this seems to be a duplicate of #671 , we will close this and track the issue at one place.Thank you

[2020-02-14 17:30] #1469 closed

[2020-02-14 18:17] rthadur commented on #2753
@KienPM can you please try with latest tfjs and rect-native versions and see if this error occurs ?
and also please provide operating system.
Try to clear the cache using this command: `react-native start --reset-cache` if that helps.

[2020-02-14 18:33] rthadur commented on #1709
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-02-14 18:33] #1709 closed

[2020-02-14 18:48] rthadur commented on #2721
Currently we don't support custom layers like this, only workaround is to write equivalent of this layer type in Python. Thank you
cc @shanqing-cai

[2020-02-14 18:54] rthadur commented on #2754
@timoklingenhoefer  thank you , can you please provide these details
                    1) Model if possible
                    2) Operating system

[2020-02-14 18:57] rthadur commented on #2755
Probably same answers applies to this please check [here](https://github.com/tensorflow/tfjs/issues/2721#issuecomment-586419657) and let us know ?

[2020-02-14 18:57] #2721 closed

[2020-02-14 21:16] #1222 closed

[2020-02-14 21:17] rthadur commented on #1174
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-02-14 21:17] #1174 closed

[2020-02-14 21:19] rthadur commented on #2518
@Emb1ter did you get chance to try in latest version ?

[2020-02-14 21:26] #2697 closed

[2020-02-15 00:41] pvaneck commented on #2753
I also ran into this when running the app for Android. I can confirm that using the latest version of `tfjs-react-native` got the app working for me. I created a PR to bump the version.

[2020-02-15 09:52] KienPM commented on #2753
thank you so much for your responses!

[2020-02-15 11:14] TheHidden1 opened #2758 "tfjs-node failes to build"
OS : Windows X64
PYTHON : 2.7

Hi!
i get this error when i try to  install tfjs-node :
[code]

the prebuild binaries seems to be missing from  this url : [https://storage.googleapis.com/tf-builds/pre-built-binary/napi-v4/1.5.2/CPU-windows-1.5.2.zip](https://storage.googleapis.com/tf-builds/pre-built-binary/napi-v4/1.5.2/CPU-windows-1.5.2.zip)

![image](https://user-images.githubusercontent.com/313

[2020-02-15 17:58] jasonhis opened #2759 "tfjs-react-native - Should add 'png' to the metro config?"
#### TensorFlow.js version
tfjs@1.5.2
tfjs-react-native@0.2.3

#### Describe the problem or feature request

The README.md recommends to modify metro.config.js to the following.  I was having issues with .png assets from react-navigation and react-native-paper after making this change.

Should the assetExts includes 'png'?

Also, can someone explain what does this blacklist code do?

[code]

[2020-02-15 20:31] Infinitay opened #2760 "Error: Invalid TF_Status: 8, Message: OOM when allocating tensor"
My GPU is the NVIDIA GTX 970, and if it isn't clear by the issue, I am using `tfjs-node-gpu`

#### TensorFlow.js version
**tfjs:"1.5.2"**
tfjs-converter:"1.5.2"
tfjs-core:"1.5.2"
tfjs-data:"1.5.2"
tfjs-layers:"1.5.2"
tfjs-node:"1.5.2"

#### Browser version
ares:"1.15.0"
brotli:"1.0.7"
**chrome:"78.0.3904.130"
electron:"7.1.7"**
http_parser:"2.8.0"
icu:"64.2"
llhttp:"1.1.4"
modules:"75"
napi:"4"
ng

[2020-02-15 20:50] GradySimon commented on #1795
This worked for me. I'd love to see this in the library itself. gatherND is a very useful op -- I'm using it in an implementation of Q-learning, and I don't see how I could do it without this.

[2020-02-16 10:09] etiennedupont opened #2761 "Explicitely make tfjs-core a dependency of tfjs-node"
#### TensorFlow.js version
"@tensorflow/tfjs-node": "1.5.2"

#### Browser version
node v10.15.3
yarn (pnp) 1.16.0

#### Describe the problem or feature request
"tfjs-node" requires "tfjs-core" in there: https://github.com/tensorflow/tfjs/blob/48ad61389ca1a1fc04425a0ee433e1593b4e4004/tfjs-node/src/nodejs_kernel_backend.ts#L18

So "tfjs-core" should be listed as one of its dependencies there: https:

[2020-02-17 03:58] eschirtz opened #2763 "Cannot include package that depends on tfjs-node in electron app"
#### TensorFlow.js version
`v1.5.2`

#### Browser version
`electron: ^6.0.0`
configured with vue-cli and vue-cli-plugin-electron-builder
`vue: ^2.6.6`
`vue-cli-plugin-electron-builder: ^1.4.5`

#### Describe the problem or feature request
I've seen similar issues to mine, but all the proposed solutions involve using webpack externals to ignore node modules. Which I don't believe works in my case s

[2020-02-17 11:28] AndreMaz commented on #2721
Ok. I thought that it would work because the converter seems to [support](https://github.com/tensorflow/tfjs/blob/master/tfjs-converter/docs/supported_ops.md#tensors---slicing-and-joining) the ops that are present in the custom layer. Anyway, thanks for the info.

[2020-02-17 12:26] sinankarakaya opened #2764 "Unhandled Rejection (Error): The shape of dict['image_tensor'] provided in model.execute(dict) must be [X,X,X,X], but was [X,X,X]"
###TensorFlow.js version
v1.5.2

###Browser version
Chrome 79.0.3945.130

###Describe the problem or feature request
I trained my own object with the tensorflow 1.15.0 with faster_rcnn_inception_v2_coco_2018_01_28. After that saved model was converted web models with tensorflow converter. tensorflowjs version is 1.5.2.

This created model using web app error The shape of dict['image_tensor'] provi

[2020-02-17 22:03] timoklingenhoefer commented on #2754
Im am running win 7
with this model I downloaded from [here](https://raw.githubusercontent.com/shaqian/tfjs-yolo-demo/master/dist/model/v3/model.json)

[2020-02-17 23:07] timoklingenhoefer commented on #2754
ok I solved it myself
As I tried to make an minimal version of my application for replication, I was unable to produce the error.
It turns out that the prdiction was working fine, but my post-processing of the output caused the issue.
Basically my post-processor tried to gather data from a tensor that didn´t exist.

[code]
outputTensor only had 6 entries and mask tried to access the indices 6, 7 a

[2020-02-17 23:07] #2754 closed

[2020-02-18 03:13] tamatsu opened #2765 "Uncaught (in promise) TypeError: Cannot assign to read only property 'message' of object ''"
#### TensorFlow.js version
1.5.2
#### Browser version
Chrome  80.0.3987.106
#### Describe the problem or feature request
tf.data.webcam(webcamElement) causes error on Chrome

I did not get the error with Safari, Firefox.

#### Code to reproduce the bug / link to feature request

[code]

script.js
[code]
https://codelabs.developers.google.com/codelabs/tensorflowjs-teachablemachine-codelab/index.htm

[2020-02-18 10:49] obenjiro commented on #268
@jasonhargrove @LunaLuan @KokoDoko I made a simple to bootstrap template that allows you to run TensroflowJS on Google Colab, install modules in notebook, and run long running async code

https://dev.to/obenjiro/silence-of-the-fans-part-1-javascript-quickstart-5f3m

[2020-02-18 11:46] MITsVision opened #2766 "Error: Tensor must have a shape comprised of positive integers but got shape [100,]"
To get help from the community, we encourage using Stack Overflow and the [`tensorflow.js`](https://stackoverflow.com/questions/tagged/tensorflow.js) tag.

#### Browser version
not in the browser, using Node command
#### Describe the problem or feature request
I am using tensorflow.js of **coco-SSD for mobilenet v2**
when I am using the pre-trained model [coco-ssd] it's working perfectly fine, see

[2020-02-18 16:45] jmuskaan72 commented on #188
Great help with this solution!Thanks. :D

[2020-02-18 21:42] #2753 closed

[2020-02-18 21:59] rthadur commented on #2759
@jasonhis users can add `png's` if they have and platform_node has some require statements which are incompatible with metro so we need blacklist.

[2020-02-18 23:29] rthadur commented on #2758
@TheHidden1 thanks for reporting , please follow the similar issue [here](https://github.com/tensorflow/tfjs/issues/2428) , could you please let us know what version of tfjs-node-gpu you are using ?

[2020-02-19 00:00] rthadur commented on #2761
@etiennedupont as mentioned in #2762 , we don't need to explicitly specify tfjs-core in package.json

[2020-02-19 00:20] rthadur commented on #2766
@savanmorya can you please check this [link](https://github.com/tensorflow/tfjs/issues/2449) and let us know if this helps ?

[2020-02-19 03:08] neerGGreen opened #2770 "[Codelab]: Making Predictions from 2D Data"
I am attempting to run the tutorial from this [example](https://codelabs.developers.google.com/codelabs/tfjs-training-regression/index.html#1).  I've copied the code directly.  It seems to run but the predicted values output in the scatter plot are a constant value of 9.  The loss seems to be decreasing to an acceptable value, something that would not be possible if the model only is capable of ou

[2020-02-19 04:56] savanmorya commented on #2766
Thanks for the quick reply:-)
I tried the mentioned approach as well, no luck.
also, I downloaded the [ssd_mobilenet_v2_coco](http://download.tensorflow.org/models/object_detection/ssd_mobilenet_v2_coco_2018_03_29.tar.gz) from **Tensorflow detection model zoo** and converted to tensorflow.js using `tensorflowjs_converter --input_format=tf_saved_model --output_node_names='num_detections,detection_b

[2020-02-19 08:43] dozeBoy commented on #2764
@sinankarakaya  You need to do .expandDims(0) after tf.browser.fromPixels(img)

[2020-02-19 09:45] etiennedupont commented on #2761
I know that this works outside of the scope of yarn pnp, but I don't think that relying on transitive dependencies rather than specifying the actual dependencies is the best behaviour, ask @arcanis  what he thinks about that.

By the way, the issue is common and referenced in yarn's website:
https://yarnpkg.com/advanced/migration#a-package-is-trying-to-access-another-package-

[2020-02-19 09:55] andytwoods commented on #102
Is this what people are after? https://github.com/mizchi/posenet-worker

[2020-02-19 10:08] arcanis commented on #2761
Correct. Don't forget that this isn't a PnP issue - unlisted dependencies may cause existing package managers like npm or Yarn 1.x to generate invalid hoisting, breaking projects in very subtle and hard-to-debug ways. Every time you hear someone wondering why they have the wrong version of a package in their node_modules, this is likely the reason.

[2020-02-19 10:47] supermoos commented on #102
@andytwoods Definitely looks like it, however the demo doesn't display any other graphics / animation running on the main thread at 60 fps while it's doing the posenet things so it's hard to judge just by the demo. I'll try and take a look at getting it running locally and modify it to test if this could work, when I have time :-)

[2020-02-19 11:58] AndreMaz commented on #2755
Thanks for the response. In this case, can you provide a more detailed description or an example about what can be (and cannot be) done with layers? I didn't found much info about it at the site and the only example that I've found is [tfjs-examples/custom-layer](https://github.com/tensorflow/tfjs-examples/blob/master/custom-layer/custom_layer.js). However, it's too simple so it's difficult to see

[2020-02-19 12:46] savanmorya opened #2772 "Error: Unsupported system: cpu-win32-ia32"
To get help from the community, we encourage using Stack Overflow and the [`tensorflow.js`](https://stackoverflow.com/questions/tagged/tensorflow.js) tag.

#### Describe the problem or feature request
while installing tensorflow.js in nodeJs 32-bit environment getting this error "**Error: Unsupported system: cpu-win32-ia32**"

command: `npm install -s @tensorflow/tfjs-node`

[2020-02-19 13:55] supermoos commented on #102
@andytwoods Made a quick test locally, but the posenet estimateSinglePose() function still blocks the main thread somewhat at least, so it doesn't seem to be running fully in a worker, unless I'm misunderstanding the purpose of running it in a worker.

[2020-02-19 15:12] AndreMaz commented on #2755
For example, assuming that I want to create a custom layer that wraps a dense layer.
My `Custom` class would look like this:
[code]
But how can I register `this.dense` variables in my `Custom` Layer to make them trainable? The `addWeight()` method wouldn't work in case. So if I run

[code]
I would get the following info:
[code]
But using directly the `tf.layers.dense`
[code]
I get this
[code]
With

[2020-02-19 16:09] enpinzolas opened #2773 "[tfjs-react-native] AsyncStorageIO fails to save big GraphModels: "Error: Exception in HostFunction: Malformed calls from JS: field sizes are different""
To get help from the community, we encourage using Stack Overflow and the [`tensorflow.js`](https://stackoverflow.com/questions/tagged/tensorflow.js) tag.

#### TensorFlow.js version
All the relevant dependencies:
[code]
#### Browser version
React native.

#### Describe the problem or feature request
After loading a big model  via loadGraphModel through http (the model is served locally but it sho

[2020-02-19 17:55] #2727 closed

[2020-02-19 19:17] rthadur commented on #2772
@savanmorya is node on your machine a 32 bit ?

[2020-02-20 00:05] JivanRoquet opened #2777 "Error when converting manifest.json into Keras hdf5"
#### Describe the problem or feature request

There is an error when trying to use tensorflowjs_converter to convert a json file to a Keras model.

Source manifest.json file:
https://storage.googleapis.com/tfjs-models/weights/posenet/mobilenet_v1_100/manifest.json

Error description:
**Field "modelTopology" is missing from the JSON content.**

#### Code to reproduce the bug / link to feature reque

[2020-02-20 04:58] savanmorya commented on #2772
yes, node 32 bit is our requirement for the project. If tfjs is not possible with node 32bit, is there a work around, or do i have to compile tensorflow 32 bit?

[2020-02-20 07:25] PratsBhatt commented on #59
Hello @dsmilkov ,

I hope you are having a good day. I wanted to ask as if this issue was still available?

If yes, then as per my understanding I am listing the work to be done. Kindly correct me if I am wrong.

- The training should only work once there are few images to train.

- Debug why it is taking too much time while collecting training data.

Awaiting your response.

Thanks.

[2020-02-20 11:49] MITsVision opened #2778 "Error: 'zerosLike' not yet implemented or not found in the registry. Did you forget to import the kernel?"
To get help from the community, we encourage using Stack Overflow and the [`tensorflow.js`](https://stackoverflow.com/questions/tagged/tensorflow.js) tag.

#### Browser version
Chrome: Version 80.0.3987.106 (Official Build) (64-bit)

#### Describe the problem or feature request
Before trying WASM, i was running my model in browser [script] with CPU back-end [Without WebGL] and it was working fine

[2020-02-20 14:37] tafsiri commented on #2770
@neerGGreen could you post a link to your implementation on something like codepen? Its otherwise hard to tell where the problem may be.

[2020-02-20 14:53] tafsiri commented on #2773
This might be related to this issue https://github.com/facebook/react-native/issues/23835. One potential cause is a (seemingly) unserializable values like `NaN` or `Infinity`/`-Infinity` in your weights.

Could you check your weights to see if you have any of these values? If you load your model in a browser you can use https://js.tensorflow.org/api_vis/1.4.0/#show.layer to look at counts for thes

[2020-02-20 17:27] rthadur commented on #2777
I was able to reproduce the same but it sounds like the file you're trying to load contains only variable weights, but does not specify the model topology (aka "architecture"), i.e. the types of layers and the connections among them. Please see https://keras.io/getting-started/faq/#how-can-i-save-a-keras-model regarding how to get a combined topology+weights model file, and https://js.tensorflow.o

[2020-02-20 17:32] rthadur commented on #2772
it is supported , we don't have a 32 bit to reproduce the error , @dsmilkov @kangyizhang could you please help with above error ?

[2020-02-20 17:54] rthadur commented on #59
This is very old issue to be triage now , will be closing this. @PratsBhatt please open a new issue if you still same error.

[2020-02-20 17:54] #59 closed

[2020-02-20 18:27] rthadur commented on #2778
Thanks for reporting , can you please share your model if possible and also complete code, thank you

[2020-02-20 21:39] tafsiri commented on #2778
@rthadur this kernel may not be implemented yet in the wasm backend. cc @nsthorat @dsmilkov

[2020-02-20 21:42] rthadur commented on #2778
@tafsiri thank you , can this be a feature request ?

[2020-02-20 22:56] tafsiri commented on #2778
@rthadur yep.

[2020-02-20 23:18] NickRance commented on #2400
I had to add the following line to my tsconfig.json to prevent "TypeError: {Module}.default is not a function" errors

`        "esModuleInterop": true,`

so my full tsconfig.json looks like:

[code]

[2020-02-20 23:29] tafsiri commented on #2759
You should feel free to add any necessary extensions to your assetExts, note the comment above contains the main instruction (adding .bin to the list).

[2020-02-20 23:29] #2759 closed

[2020-02-20 23:29] Infinitay commented on #2760
I would like to add that I when I run the facial recognition on that one specific image in particular that results in the OOM error, it works just fine by itself.

[2020-02-21 01:54] guerrato commented on #2400
@NickRance
I was working on it right now and it solved my problem!

Now I can go to sleep! heheheheh!

Thank you a lot!

[2020-02-21 08:13] savanmorya commented on #2778
Here is my Code ..
**index.html**
[code]
**index.js**
[code]

here is my tensorflow.js [converted] model ->[model.json](https://github.com/savanmorya/Predict-the-Criminals/blob/master/model.json)

[2020-02-21 08:32] sbhamad opened #2781 "facemesh"
To get help from the community, we encourage using Stack Overflow and the [`tensorflow.js`](https://stackoverflow.com/questions/tagged/tensorflow.js) tag.

#### TensorFlow.js version

#### Browser version

#### Describe the problem or feature request

#### Code to reproduce the bug / link to feature request
If you would like to get help from the community, we encourage using Stack Overflow and the

[2020-02-21 08:32] #2781 closed

[2020-02-21 08:33] sbhamad commented on #2781
by mistake

[2020-02-21 08:37] dozeBoy commented on #2778
@tafsiri I encountered this issue too but it reproduces only for a model converted from Keras to a Graph model. For example, I have a feature extractor implemented in the Object Detection API that uses tf.zeros_like and the model run without issues on WASM after conversion.

[2020-02-21 09:46] recovering1004 commented on #2737
@pyu10055 I am following up with you on this curious if you have had a chance to look at it?

[2020-02-21 12:00] Rakeshvcr opened #2782 "Doubt in model conversion to tfjs"
Hi I tried converting  frozen model to model.json and shard files. I need output files to be tfjs_model.pb, shard and weights_manifest.json. This is command that i have tried what changes need to made to get output files mentioned above

`tensorflowjs_converter ./input_path/frozen_inference_graph.pb ./output_path/  --input_format=tf_frozen_model  --output_node_names='num_detections,detection_boxes

[2020-02-21 12:42] enpinzolas commented on #2773
Thank you for checking in!

Given that my model is a GraphModel, it lacks the layer property, and I am unable to visualize it using tfjs-vis since the method you linked uses layers, and the summary one accepts only LayerModels. However, I manually checked the weights using the `model.weights` property. Here is the snippet run just after loading it:

[code]

My apologies if I made the comparisons w

[2020-02-21 15:50] tafsiri commented on #2773
One correction, since NaN === NaN is false, you should use isNaN(value) to test for NaN. (You can also simplify your code a bit [Array.filter](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Array/filter)

The fact that it is predicting correctly doesn't completely rule out NaNs or Infinities. So just trying to pin down what might cause the serialization issue.

Al

[2020-02-21 16:09] andytwoods commented on #102
@supermoos I've 2 three.js animations, one in a worker, one not, with that 'not quite there' posenet theaded solution. When I stress the main thread (via rnd generation), you can see the posenet video struggling too -- BUT, i think this is because the posenet thread must be spoonfed video feed, which would be affected by stressing the main thread.

In a way, this gives me confidence that I can ind

[2020-02-21 19:20] #1186 closed

[2020-02-22 00:21] BenjaminWegener commented on #283
https://twitter.com/BenjaminWegener/status/1231010778100178945

[2020-02-22 00:22] BenjaminWegener commented on #1521
https://twitter.com/BenjaminWegener/status/1231010778100178945

[2020-02-22 00:29] cpshaheen commented on #2195
What was the solution? I looked at the new read me and it still has the same script code.

[2020-02-22 00:36] mprinc commented on #2003
Still the same error "Error: Cannot find module '.../node_modules/@tensorflow/tfjs-node/lib/napi-v5/tfjs_binding.node'"

macOS Catalina
v10.15.03

node -v
v12.13.0

"name": "@tensorflow/tfjs-node",
  "version": "1.5.2",

  "name": "@tensorflow/tfjs",
  "version": "1.5.2",

  "name": "@tensorflow/tfjs-core",
  "version": "1.5.2",

[2020-02-22 04:34] mprinc commented on #2003
OK, binary searching :( versions I came to the latest working solution:

node -v
v12.10.0
(the next v12.11.1 is crashing, also the same with the currently latest node v13.9.0)

"name": "@tensorflow/tfjs-node",
"version": "1.4.0",
(the next 1.5.1 is crashing)

-----

Obviously, this is far from ideal as we need to propagate node version changes on the production servers, and as we have both fronten

[2020-02-22 06:24] DanielOnye123 commented on #2128
If using EXPO CLI, Are there any additional steps to installing tfjs-react-native? as I had a "can't resolve module" issue when running my app

[2020-02-23 05:22] DanielOnye123 opened #2784 "Import tfjs-react-native not working on EXPO CLI Project"
#### Describe the problem or feature request
<img width="924" alt="Screen Shot 2020-02-23 at 12 04 47 AM" src="https://user-images.githubusercontent.com/43086384/75103988-e0b8fe00-55d0-11ea-9dd9-6e62514cc905.png">

I'm getting this error when I try to run my React-Native program on the web or android. I followed the steps on the [tfjs-react-native documentation ](https://github.com/tensorflow/tfjs

[2020-02-23 15:39] mprinc commented on #2003
It is even worse with our servers, @kangyizhang

Here is the server info

and i tried with many versions of node, tensorflow, etc
Linux aitool 4.15.0-88-generic #88-Ubuntu SMP Tue Feb 11 20:11:34 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux

Ubuntu 18.04.4 LTS

[2020-02-23 17:31] adwellj commented on #2003
I've recently found that starting with node 12.15, you need to be on tfjs-node-gpu 1.5.x. Below 12.15 requires 1.4.0 (or below).

Also, tfjs-node-gpu 1.5.x requires CuDNN 7.6, whereas earlier versions used 7.4.

I hope this helps you guys. The poor / incomplete documentation regarding version compatibility is frustrating.

[2020-02-23 17:55] sseppola opened #2785 "tfjs - trouble running speech commands in React Native CLI app"
To get help from the community, we encourage using Stack Overflow and the [`tensorflow.js`](https://stackoverflow.com/questions/tagged/tensorflow.js) tag.

#### TensorFlow.js version
"@tensorflow-models/speech-commands": "0.4.2",
"@tensorflow/tfjs": "1.5.2",
"@tensorflow/tfjs-react-native": "0.2.3",

#### Browser version
"react-native": "0.61.5",

#### Describe the problem or feature request
I'm h

[2020-02-23 20:44] mprinc commented on #2003
Thanks, @adwellj, it is a regular server, without GPU server, as there is no demanding TF use case. I tried various combinations, but I couldn't find a working option, I started with the latest versions of nodes and tfjs, but then followed various suggestions with using earlier versions. With OSX it helped, but Ubuntu is even worse

[2020-02-24 08:32] enpinzolas commented on #2773
Thanks for the correction and suggestion, I checked for NaNs too and there's none.
[code]

I'm developing it on a linux machine (ubuntu), and running it on an android machine.

[2020-02-24 20:50] macstr1k3r commented on #2542
In the meantime, an extremely crude but a very effective "solution" to the problem of JSDoc not showing correctly in vscode:

[code]

PS
I have a feeling [this](https://github.com/microsoft/TypeScript/pull/32181/files) might be related

[2020-02-24 23:36] dsmilkov commented on #2772
Hmm, looks like we currently hard code support for 64bit:
[code]

Will let @kangyizhang chime in on why and if we can support 32bit arch.

[2020-02-25 00:16] yhwang commented on #2772
FYI, when I checked the tensorflow shared libs here: https://storage.googleapis.com/tensorflow/
There is no windows 32bit.

[2020-02-25 00:37] yhwang commented on #2758
@TheHidden1 one thing is worth mentioning that:
You can make sure if you install the prerequisites that are listed here: https://github.com/nodejs/node-gyp#on-windows

Seems there is no pre-build node binding of version 1.5.2 for your platform. However, if you fulfill the prerequisites in the link above, you should be able to build the binding in your machine while doing the npm/yarn install.

[2020-02-25 08:30] savanmorya commented on #2772
One update from my side,
64bit: when we install @tensorflow/tfjs-node for 64 bit, the npm module brings the **tensorflow.dll** [node_module/@tensorflow/tfjs-node/lib/lib/tensorflow.dll] and the tensorflow.dll is a 64 bit build.

while installing tfjs-node in 32bit environment, there are not any tensoflow.dll build for 32 bit, see this TensorFlow [issue](https://github.com/tensorflow/tensorflow/iss

[2020-02-25 18:35] tafsiri commented on #2784
From your error it looks like you are using webpack (as opposed to metro) to bundle your app. I think you need to configure webpack to process .js files (or even that specific js file) with the JSX loader (or some transformer that can consume jsx syntax).

[2020-02-25 18:52] tafsiri commented on #2773
Though the error produced looks strange for this. It looks like on Android there is a default [6MB limit for AsyncStorage](https://github.com/react-native-community/async-storage/blob/c57cbeb25034c4291cc148084ad3933266daf641/android/src/main/java/com/reactnativecommunity/asyncstorage/ReactDatabaseSupplier.java#L46).

This [asyncStorage PR suggests](https://github.com/react-native-community/async-s

[2020-02-25 23:11] BadMachine opened #2792 "Different behavior while training model."

[2020-02-25 23:14] DanielOnye123 commented on #2784
<img width="320" alt="Screen Shot 2020-02-25 at 6 12 28 PM" src="https://user-images.githubusercontent.com/43086384/75296162-6ec3fd00-57fa-11ea-987c-82259f2f3c0c.png">
I noticed I'm using babel.config.js rather than webpack.config.js. I've tried to look upon adding a babel-loader in this config file and I'm honestly lost on the process. Would you happen to know how to do so?

[2020-02-25 23:36] #2792 closed

[2020-02-26 00:44] Firenze11 commented on #574
Sent a pull request to `tfjs-models` repo: https://github.com/tensorflow/tfjs-models/pull/407

[2020-02-26 07:17] BenjaminWegener opened #2794 "custom layer multiple input issue (Uncaught TypeError: Cannot read property 'dtype' of undefined)"
stackoverflow question [https://stackoverflow.com/questions/60408840/custom-layer-multiple-input-issue-uncaught-typeerror-cannot-read-property-dty](url)

#### TensorFlow.js version
1.5.2
#### Browser version
Chrome / Firefox latest
#### Describe the problem or feature request
custom layer multiple input issue

#### Code to reproduce the bug / link to feature request
`

<script src="https://cdn.jsd

[2020-02-26 07:45] Polarisation opened #2795 "Undocumented expo-camera required peer dependency for tfjs-react-native"
#### TensorFlow.js version
v1.5.2

#### Browser version
React Native v0.61.5

#### Describe the problem or feature request
The [installation instructions](https://github.com/tensorflow/tfjs/tree/master/tfjs-react-native#step-4-install-tensorflowjs-and-tfjs-react-native) do not mention that `expo-camera` must be installed/configured (in a non-expo environment).

Without doing this, `import '@tensor

[2020-02-26 10:15] igor-susic opened #2796 "How to add additional parameter to objective function?"
Is it possible to add any other parameter to the objective function besides `y_true` and `y_pred`? If it is, how would one do it? I can't find appropriate documentation or answer anywhere ...

[2020-02-26 12:30] muditgoel01 commented on #2784
It doesn't seem related to JSX syntax because other JSX components are being rendered properly. The problem occurs as soon as I import @tensorflow/tfjs-react-native.

ERROR LOG:
/Users/.../node_modules/@tensorflow/tfjs-react-native/dist/camera/camera_stream.js 290:12
Module parse failed: Unexpected token (290:12)
You may need an appropriate loader to handle this file type, currently no loaders are

[2020-02-26 15:26] tafsiri commented on #2784
@DanielOnye123 I don't know how to do this. I haven't been using webpack in concert with RN apps.

@muditgoel01 I don't think its related to typescript as the files in the package are already transpiled to JavaScript. In this case it may be that the bundler is configured to assume all components are in files with the .jsx extension. Are you able to load JSX components that are within .js files?

[2020-02-26 15:28] tafsiri commented on #2784
I would suggest asking on Stack Overflow or the Expo forums for more info on configuration options for the setup you are using. It could be a recent change in expo.

[2020-02-26 15:33] tafsiri commented on #2784
Could you test this by
	1. removing the import of the library
	2. Make a small react component in a file with a `.js` extension
	3. import and render that component

If that works, then it helps narrow down where a configuration issue may be.

[2020-02-26 16:18] BenjaminWegener commented on #2794
https://github.com/tensorflow/tfjs/issues/283

[2020-02-26 19:15] rthadur commented on #2760
@Infinitay is it resolved ? can we close this issue ?

[2020-02-26 19:28] rthadur commented on #2794
@BenjaminWegener #283  is a feature request , is this related or you want to submit a PR for this ?

[2020-02-26 19:31] Infinitay commented on #2760
**Yes and no** really. Apparently 3.5 GB of VRAM isn't enough as people with more high-end GPU's don't run into this issue. On the other hand, if I decide to settle for a much slower, almost **double** the time, alternative by using `tfjs-node` for CPU, I no longer have the issue.

Since a new GPU is out of my budget, I had to settle for the double computation time.

[2020-02-26 19:45] rthadur commented on #2782
@Rakeshvcr please let us know what error you are getting ?

[2020-02-26 19:50] #2758 closed

[2020-02-26 19:53] tafsiri commented on #2785
You are correct on the polyfilling. This was written before react-native support and I believe uses conditional requires in some places for node modules. Metro however tries to load them all. The quickest resolution may be to try something like https://github.com/tradle/rn-nodeify to shim the various node require statements.

However there is a larger issue that will likely prevent you from using

[2020-02-26 19:54] tafsiri opened #2798 "Update tfjs-models README to indicate which models are expected to work on which platforms"
Mot notably speech-commands is browser only.

Related to #2785

[2020-02-26 19:55] rthadur commented on #2772
@savanmorya thank you , i guess we have to wait until it is implemented in core , so closing this issue for now.Feel free to reopen.

[2020-02-26 19:55] #2772 closed

[2020-02-26 20:26] DanielOnye123 commented on #2784
I'm able to import and render without the tfjs-react module. I do believe this could be a configuration issue because I tested this on an Expo managed app with typescript configuration and the import worked

[2020-02-26 20:52] muditgoel01 commented on #2784
Downgrading to "@tensorflow/tfjs-react-native": "0.1.0-alpha.2" works fine.
"@tensorflow/tfjs-react-native": "0.1.0-alpha.3" also gives same error.

[2020-02-26 21:11] tafsiri commented on #2784
@DanielOnye123 are you able to import a JSX component that is in a .js file?

[2020-02-26 21:15] tafsiri commented on #2760
@Infinitay try adding `image.dispose()` after calling `faceapi.detectAllFaces`. It might free up intermediate tensors faster.

[2020-02-26 21:25] DanielOnye123 commented on #2784
@tafsiri Yes. I am able to

[2020-02-26 22:13] dsmilkov commented on #2723
BodyPix is a large model and a single inference on WASM takes ~190ms on MacbookPro vs 77ms on WebGL.

Can you share your hardware/enviroment. Also does the tab work if you remove the BokehEffect but keep the call to `segmentPerson`?

[2020-02-26 23:24] rthadur commented on #2796
@igor-susic can you please provide link to the function ?

[2020-02-27 00:43] cpshaheen opened #2800 "BodyPix - running segmentPerson in node.js throws an error: Unknown input type: [object ImageData]."
TensorFlow.js version 1.2

Code that causes error.

[code]

I have been able to run the segmentation and masking when referencing an image within an html file but I need to be able to reference Images and segment server side in the above manner.

In the BodyPix README it states that the segmentPerson function accepts ImageData object images:
"Params in segmentPerson()
image - ImageData|HTMLImageEl

[2020-02-27 02:03] Infinitay commented on #2760
I was doing this wrong I suppose, I tried it once by calling `tf#dispose` but I would end up with the same OOM error at times, if not completely crash node.js.

This solves my issue I am having. Thank you very much Tafsiri!
---

Also, would you happen to know if there is a way to perhaps force tfjs-node-gpu to have full priority of the GPU and utilize it at 100%? I noticed that it was using only 3

[2020-02-27 06:15] BenjaminWegener commented on #2794
its related, this layer would solve #283 (and maybe some other 'layer not found' issues, if fixed

[2020-02-27 11:09] sseppola commented on #2785
Good tip regarding rn-nodeify!

The larger issue you mention seems tricky as I'm just getting into Tensorflow, could I bounce some ideas off you to decide how to proceed?

As far as I can tell I've got 3 options, ordered from what I think would be easiest:

**Option A**: Use native models
Given that `@tensorflow-models/speech-commands` is for the browser, would it be possible to do the opposite an

[2020-02-27 15:04] tafsiri commented on #2760
I would most likely interpret that graph as saying your program doesn't saturate the GPU. If face-api takes images in batches you might be able to pass in more images at a time and thus utilize more of your GPU (you would need to investigate the face-api api to find out if this is doable).

[2020-02-27 15:23] tafsiri commented on #2785
Option A
We don't support converting from tflite models directly. But the example you pointed to has python training scripts that will output a model that you can try to [convert](https://github.com/tensorflow/tfjs/tree/master/tfjs-converter). This involves setting up tensorflow and getting familiar with the python side (which may not be a problem). However it will still require you to come up wit

[2020-02-27 16:38] sseppola commented on #2785
Aha, now I'm starting to see some of my misconceptions.

I thought I could reuse the same model between tfjs and tflite, and that @tensorflow/react-native bridged into native, now that I read the [description](https://github.com/tensorflow/tfjs/tree/master/tfjs-react-native) again I understand it executes in js!

I'm working on a PoC ios/android app that needs:
1. to recognize a handful of words (

[2020-02-27 17:46] jallamsetty1 commented on #2723
Thank you for responding. I have a powerful machine, here is my system config:

MacBook Pro (15-inch, 2019)
Processor - 2.3 GHz Intel Core i9
Memory - 32 GB 2400 MHz DDR4
Graphics - Radeon Pro 560X 4 GB
Intel UHD Graphics 630 1536 MB

I still see the same behavior even when remove the BokehEffect and just keep the call to segmentPerson.

[2020-02-27 17:52] jallamsetty1 commented on #2723
I am trying to implement background blur for a videoconferencing solution. I am waiting for the segmentPerson to complete before calling it again and by doing so I get about 12-13 fps for video on powerful laptops like mine using the WebGL backend. On slower machines, it drops down to 4-5 fps and is not usable. I was trying to use the WASM backend to see if it speeds up the inference. Do you have

[2020-02-27 18:19] rthadur commented on #2750
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-02-27 18:19] #2750 closed

[2020-02-27 18:32] #1571 closed

[2020-02-27 18:35] rthadur commented on #1207
Looks like this has been fixed [here](https://github.com/tensorflow/tfjs-website/pull/240) , so closing this issue.Thank you

[2020-02-27 18:35] #1207 closed

[2020-02-27 18:36] rthadur commented on #993
Looks like this has been fixed [here](https://github.com/tensorflow/tfjs-website/pull/240) , so closing this issue.Thank you

[2020-02-27 18:36] #993 closed

[2020-02-27 19:57] gromovadarya90 opened #2801 "WANT TO SEE HOT PICS WITH ME? 💋 💋 💋"
WANT TO SEE HOT PICS WITH ME? 💋 💋 💋
👇 👇 👇

https://is.gd/ms4xm3

[2020-02-27 21:47] rthadur commented on #2518
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-02-27 21:47] #2518 closed

[2020-02-27 23:44] Infinitay commented on #2760
I appreciate all the assistance, I will now close this issue.

Thanks again for all your help Rthadur and Tafsiri

[2020-02-27 23:44] #2760 closed

[2020-02-27 23:48] pvaneck commented on #2784
@DanielOnye123 Were you getting this unexpected token error in your project only when doing `yarn web` (`expo start --web`)? Webpack is used for running react-native apps in the browser with expo. You shouldn't be hitting this specific error when running on Android.

Try running `expo customize:web` in the root of the project, then select the `webpack.config.js` option to generate the webpack conf

[2020-02-28 05:34] DanielOnye123 commented on #2784
<img width="974" alt="Screen Shot 2020-02-28 at 12 29 09 AM" src="https://user-images.githubusercontent.com/43086384/75513060-8a2d3480-59c1-11ea-8ea9-2c6468f09ac1.png">

Thank you. It's working on the web, but ironically it's not working on the android. I keep getting this error above. I checked out this other documentation with a similar issue: [Issue](https://github.com/tensorflow/tfjs/issues/24

[2020-02-28 05:54] pvaneck commented on #2784
That `compiled_api.ts` file will be removed from the dist directory in the next tfjs release (with  https://github.com/tensorflow/tfjs/commit/fb163f7f1f8cbb953a856f1621d8b1bad44afd04) as it shouldn't even be there. For a quick fix, just delete that typescript file:

`rm -f node_modules/@tensorflow/tfjs-converter/dist/src/data/compiled_api.ts`

Then metro should stop complaining.

[2020-02-28 07:26] BenjaminWegener commented on #2794
solved by an user of stackoverflow, thanks!

[2020-02-28 07:26] #2794 closed

[2020-02-28 07:46] sauceishere opened #2805 "Cannot read images from Tensorflow.js Tensorcamera on React Native"
I am trying to use Tensorflow.js posenet on React Native but I can not get 'images'.
Currently Expo-camera works ok, but images is undefined.
Please advise how to iterate getting images from TensorCamera.
Thanks.

[code]

[2020-02-28 17:41] gitathrun commented on #2795
Watch out the version compatiable issue for expo-camera and react-native-unimodule, I recently encountered the issue that expo-camera 8.0.0 only works with react-native-unimodule 0.7.0, otherwise it throws error while building the apk.

[2020-02-28 17:45] gitathrun commented on #2697
I try to setBackend('wasm') with tfjs-react-native, but it shows as yellow warning:

![image](https://user-images.githubusercontent.com/22137687/75571822-dcb63180-5a51-11ea-8646-e59d3f0c1613.png)

Then it automatically reset it to rn-webgl.

My code:
[code]
result
![image](https://user-images.githubusercontent.com/22137687/75571923-125b1a80-5a52-11ea-836c-1051d834251d.png)

Does the wasm backend n

[2020-02-28 17:54] gitathrun commented on #2697
@lfuszara1 Did your tf.setBackend('wasm') worked? Without any warning or error? How is the performance?

[2020-02-28 19:03] sundowatch opened #2806 "How to solve Tensorflow.js Converter error?"
I'm trying to convert frozen graph to json file. I use this command:

`tensorflowjs_converter --input_format=tf_frozen_model --output_node_names="SemanticPredictions" --saved_model_tags=serve frozen_inference_graph.pb mymodal`

But it gives this error:

[code]

I don't why it gives `KeyError: "The name 'SemanticPredictions' refers to an Operation not in the graph." `error.

[2020-02-28 19:07] DanielOnye123 commented on #2784
Thank you so much! It's working on both platforms. My last question is: Does the "fetch" method imported from tfjs-react native support local fetches? e.g locally fetching a picture

[2020-02-28 22:31] rthadur commented on #2806
The error means the output name is not correct ,you need to correct the output names for the graph , thank you.

[2020-02-29 00:14] nsthorat commented on #2761
Thanks for the explanation! We'll merge the change.

[2020-02-29 01:47] sundowatch commented on #2806
And how can I get the output names?

[2020-02-29 01:48] sundowatch commented on #2806
And how can I get the output names?

[2020-02-29 04:46] Polarisation commented on #2795
Just in case anyone is struggling with this (or wants to save time), I've published a [React Native Template with TensorFlow.js](https://github.com/Polarisation/react-native-template-tfjs) pre-installed and configured. You can also review the git history on the repo if you're looking to follow the steps yourself.

[2020-02-29 17:33] fergalindez commented on #2805
I'm trying to follow https://github.com/tensorflow/tfjs/blob/master/tfjs-react-native/integration_rn59/components/webcam/realtime_demo.tsx, but none of the models load. I'm using expo to make the test.

[2020-02-29 20:25] lina128 commented on #2761
Thank you @etiennedupont for the contribution and @arcanis for the explanation of unlisted dependencies. We merged the PR #2762.

[2020-02-29 20:25] #2761 closed

[2020-02-29 22:37] cyberprodigy opened #2807 "[Codelab]: Making Predictions from 2D Data"
#### TensorFlow.js version
All

#### Browser version
All

#### Describe the problem or feature request
Unclear, ambiguous variable data.
function convertToTensor(data) { <--what is data? No types, no descritpion, no nothing
....
}

[2020-02-29 22:40] #2807 closed

[2020-02-29 22:54] sauceishere commented on #2805
@fergalindez Thanks, Yes I am also following cameraWithTensors on  https://js.tensorflow.org/api_react_native/latest/#Media-Camera

[2020-03-01 09:02] sauceishere commented on #2805
@tafsiri I just changed from `this.setState({ pose: pose });` to `this.setState({ pose });` and run it. This this.setState lead to render block and shows this.

The 1st loop gets 'images' and const 'nextImageTensor' is defined,
but const 'nextImageTensor' is undefined and cannot run 'estimatePoseOnImage' after the 2nd loop, and shows the above error.
And do I also need to like tf.tensor3d to the d

[2020-03-01 17:13] sainikhit2k commented on #1165
Hi , is anybody working on this issue ? If not, I would like to work on this issue

[2020-03-02 12:31] duhaime commented on #1165
I had hoped to but am bound up at the moment!

[2020-03-02 12:46] rafinskipg commented on #2375
It happens to me too, trying to load a model saved with nodejs. It doesn't work

[2020-03-02 12:48] rafinskipg commented on #2737
@recovering1004  i have the same problem and i can not use my model, did you fixed it?

[2020-03-02 13:04] recovering1004 commented on #2737
@rafinskipg I have not been able to fix this error. I am hoping @pyu10055 will offer some guidance.

[2020-03-02 15:42] tafsiri commented on #2805
@fergalindez Please make a new issue describing the problems/errors you are running into.

@sauceishere Could you post a reproduction somewhere on github where I could take a look and try and reproduce. The React reference not found seems like it could be a project setup issue, but it's hard to tell whats going on. If `images` is defined then you can check if the [iterator is done](https://develop

[2020-03-02 15:42] tafsiri commented on #2805
Also could you post what version of Expo you are using.

[2020-03-02 17:00] pyu10055 opened #2808 "float16 precision issue on iOS"
Customer has notice on iOS multiple op with value < 0.0001
will result in 0 output.

Theoretically, our float16 iOS kernel should allow number 5 digits precision (0.000061035)

To get help from the community, we encourage using Stack Overflow and the [`tensorflow.js`](https://stackoverflow.com/questions/tagged/tensorflow.js) tag.

#### TensorFlow.js version

#### Browser version

#### Describe the

[2020-03-02 17:04] rthadur commented on #2806
Can you please try [this](https://stackoverflow.com/questions/47267636/tensorflow-how-do-i-find-my-output-node-in-my-tensorflow-trained-model) solution and let us know if it is works.

[2020-03-02 17:11] rthadur commented on #2808
@pyu10055 is this issue #1042 related ?

[2020-03-02 17:28] Rakeshvcr commented on #2782
sorry for the late replay, I'm not getting any error.
In this [github](https://github.com/victordibia/handtrack.js/tree/master/models/web/ssdlitemobilenetv2) they have 3 different files(tensorflowjs_model.pb, weights_manifest.json and shard files), but when I tried converting frozen_inference_graph.pb file I got (model.json and shard files).

[2020-03-02 17:58] rthadur commented on #2782
`.pb` format in not supported , we only support model.json right now and there is no plan to support this in near future.Thank you

[2020-03-02 17:58] #2782 closed

[2020-03-02 18:09] dsmilkov commented on #2723
WASM will likely not help here, since the WASM backend is 3-4X slower than the WebGL backend for "medium-sized" models like BodyPix, PoseNet and MobileNet.

Where the WASM backend shines, is for ultra-lite models (1-3MB, 20-60M multiply-adds) like Face Detector.

I suspect the unresponsiveness is due to the WASM computation taking too long. Have to tried measuring the time of a single inference us

[2020-03-02 18:16] rthadur commented on #2782
@Rakeshvcr may we know the reason why you `.pb` output format ?

[2020-03-03 00:32] jmswaney commented on #2763
Any update on this? I'm also having trouble packaging with deps that use `tfjs-node`, same missing `aws-sdk` message

[2020-03-03 08:15] dozeBoy commented on #2806
@sundowatch if you have a frozen graph, you can also try the summarize_graph tool from [here](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/tools/graph_transforms/README.md#inspecting-graphs)

[2020-03-03 08:49] sundowatch commented on #2806
That returns output names, but which one?

[2020-03-03 08:54] sundowatch commented on #2806
Yes, I have frozen graph. But is there any Python solution for this tool. Otherwise I need to switch to C++

[2020-03-03 09:54] sseppola commented on #2785
@tafsiri you've been more than helpful, thank you so much :)

Feel free to close the issue, I'm happy to figure out the rest myself

[2020-03-03 10:10] supermoos commented on #102
@andytwoods Sorry for the late reply, was out on vacation. But from what I gather from your demo your essentially flipping the process and instead of moving posenet to a worker you move the threejs render to a worker? Which seems to be working in your video? :-) It's not ideal, since UI/Dom elements can't be moved to a worker like this, but it could work for some scenarios I suppose :-) Did you ma

[2020-03-03 10:13] andytwoods commented on #102
We've posenet working in a webworker. With the major caveat of needing to feed it the webcam feed frame at a time from the main process (achieved here https://github.com/mizchi/posenet-worker). I am fairly confident you cannot access the webcam from a webworker (please prove me wrong!).

We then pass the results of posenet to _another_ webworker containing three.js models.

So, any delay in the ma

[2020-03-03 10:47] supermoos commented on #102
Are you sure it's the feeding of the webcam to the worker that's causing jank? If you disable the posenet stuff in the worker, and simply just feed it the webcam feed without doing anything the jank goes away, leading me to believe posenet is not fully running in a worker?

[2020-03-03 11:28] sauceishere commented on #2805
@tafsiri  Thanks very much for the feedback. My code is here https://github.com/sauceishere/tensorcamerajs. and expo version is  3.11.7. `images` is defined only for the 1st loop, and will be undefined later.

[2020-03-03 12:16] saumilsdk opened #2809 "Unable to use tfjs-node in aws lambda environment"
TFJS Node Version
"@tensorflow/tfjs-node": "^1.5.2"

**Problem:**
Unable to use tfjs-node while running.

[code]

[2020-03-03 13:11] dozeBoy commented on #2806
@sundowatch it's a CLI tool. You need to build it first with Bazel and then you can use it within a terminal.

[2020-03-03 15:38] tafsiri commented on #2805
@sauceishere Could you try changing your [react import](https://github.com/sauceishere/tensorcamerajs/blob/master/App.js#L1) to `import * as React from 'react';` and having your main component extend React.Component. Newer versions of expo use a different import format that what is used in the integration_test app.

If that doesn't work then from looking at the error stack it seemed to be coming f

[2020-03-03 15:41] tafsiri commented on #2785
Sounds good. To your point 3, transfer learning is what you would want for specific user adaptation. Point 2 may or may not use transfer learning. However you might be able to get pretty far even without transfer learning. I can't really comment on the battery side. All the best with your project!

[2020-03-03 15:41] #2785 closed

[2020-03-03 15:57] #2795 closed

[2020-03-03 16:24] jaunkst commented on #2687
Freezes on the first epoc for 2 mIns or so for me and then runs through all the training. I am seeing this on other model trainings as well. it is allocating 10Gb of my GPU memory with tfjs-node-js and only 1Gb with thensorflow-gpu in python. If I set the epoc and batch to 1 it will start faster. If I then set it back to say 256 batch and 25 epocs  it just runs immediately but still allocates most

[2020-03-03 18:27] rthadur commented on #2806
@sundowatch  i can't say exactly what you will need to do since i am not familiar with the model.

[2020-03-03 19:24] sundowatch commented on #2806
@rthadur I've trained my own model

[2020-03-03 19:27] rthadur commented on #2809
@saumilsdk thanks for reporting , i believe the issue is with the operating system please check [stack-overflow](https://stackoverflow.com/questions/16605623/where-can-i-get-a-copy-of-the-file-libstdc-so-6-0-15) for similar issue.

[2020-03-03 20:30] sundowatch commented on #2806
Ok, I've converted saved_model with this code:
`tensorflowjs_converter --input_format=tf_saved_model --output_format=tfjs_graph_model --signature_name=serving_default --saved_model_tags=serve saved_model saved_model/custom_model`

But now when I load this onto page it gives error like this:
`Uncaught (in promise) Error: layer: Improper config format: {"node": ...........................`

I don't

[2020-03-03 21:26] sundowatch commented on #2806
Ok my mistake. I was using` loadLayersModel()` instead of `loadGraphModel()`

[2020-03-03 21:26] #2806 closed

[2020-03-03 23:12] sundowatch opened #2815 "Can't use Tensorflow.js predict() function"
I've trained my own graph model. And I want to use it on browser. Here is my code:

[code]

When I run this, it gives this error on console:

[code]

I need predict() function, executeAsync() is not good as it is.

[2020-03-03 23:30] pyu10055 commented on #2808
@rthadur It is related, but the failed value here is within the float16 boundary.

[2020-03-03 23:43] sauceishere commented on #2805
@tafsiri Thanks. I modified the code according to your advise and it works!!
By the way, I saw your gif on this page https://blog.tensorflow.org/2020/02/tensorflowjs-for-react-native-is-here.html , do you run on Android or iOS? My code does not render smoothly as yours.
Thanks for your help again.

[2020-03-03 23:46] pyu10055 commented on #2815
@sundowatch predict() is a simplified version of executeAsync(), can you be more specific on why you cannot use executeAsync()? thanks

[2020-03-04 01:06] #2815 closed

[2020-03-04 01:10] sundowatch opened #2816 "How to get bounding box from custom trained model detection?"
Hi,

I've trained a custom model with one object, converted it into graph model and using on the browser. Here is my code:

[code]
It's giving these values:
[code]

How can I know is there any mathces/predictions on the image? And if is there, how can I get the bounding box of it?

The pretrained models have these options. But how can we do it on our own models?

[2020-03-04 04:55] jaunkst commented on #2687
@tensorflow/tfjs-node-gpu@1.4.0 seems to start immediately.
My testing with fashion-mnist-vae also has the same behavior.

[2020-03-04 06:20] saumilsdk commented on #2809
hi @rthadur I am able to take care of libc version but now i am not able to deploy as tfjs-node size is large and >250MB limit of aws serverless. Any idea how to run tsjf-node in serverless?

[2020-03-04 07:17] saumilsdk opened #2817 "tfjs-node size exceeds in aws lambda"
TFJS Node Version
"@tensorflow/tfjs-node": "^1.5.2"

Problem:
Unable to use tfjs-node while deploying serverless project.

[2020-03-04 11:09] march23hare opened #2818 "module not found on MacOS"
To get help from the community, we encourage using Stack Overflow and the [`tensorflow.js`](https://stackoverflow.com/questions/tagged/tensorflow.js) tag.

#### TensorFlow.js version
"@tensorflow/tfjs-node": "^1.5.2"

#### Browser version
node.js v.12.x

#### Describe the problem or feature request
When I enter '$ node index', I got an error like as below.

[code]

#### Code to reproduce the bug /

[2020-03-04 14:49] tafsiri commented on #2805
Great! That GIF was produced on Android on a Pixel 3.

[2020-03-04 14:49] #2805 closed

[2020-03-04 14:58] tafsiri commented on #2816
@sundowatch to get the data (an array) from a tensor (e.g. val) you call [`await val.data()`](https://js.tensorflow.org/api/latest/#tf.Tensor.data) or you can call [`val.dataSync()`](https://js.tensorflow.org/api/latest/#tf.Tensor.dataSync) without the await. That will give you a JavaScript array with whatever your model was trained to predict. Beyond that we can't really help with how to interpre

[2020-03-04 15:01] tafsiri commented on #2763
Have you tried
 - Adding tfjs-node directly to the package.json of your application (same version that you use in the `engine` package).
 - Adding aws-sdk to the package.json of your application

[2020-03-04 17:01] rthadur commented on #2817
Closing this as this a duplicate of #2809 , we can the track the issue there. Thank you

[2020-03-04 17:13] rthadur commented on #2817
This will be a feature request , thank you

[2020-03-04 17:15] #2809 closed

[2020-03-04 17:54] rthadur commented on #2818
@march23hare thanks for reporting ,can you please share complete code and steps to reproduce the error.

[2020-03-04 17:55] annxingyuan opened #2821 "Add tf.enablePackedDepthwiseConv()"
We need to add a global function `tf.enablePackedDepthwiseConv`, analogous to `tf.enableDebugMode`, that flips the value of `WEBGL_PACK_DEPTHWISECONV`.

This will be useful for models that use depthwiseConv and could benefit from the speedup of packed depthwiseConv and do not trigger numerical issues reported in https://github.com/tensorflow/tfjs/issues/1679

[2020-03-04 18:53] tafsiri opened #2822 "Modularise tfjs core ops (tracking issue)"
## Op Files

The files below are all in `tfjs-core/src/ops` and contain ops to be modularized. They are in alphabetical order.

  - [x] array_ops.ts (ann, yannick)
  - [x] batchnorm.ts (na)
  - [x] binary_ops.ts (yannick)
  - [x] boolean_mask.ts
  - [x] browser.ts
  - [x] compare_ops.ts (na)
  - [x] complex_ops.ts (yannick)
  - [x] concat_split.ts (na)
  - [x] confusion_matrix.ts
  - [x] conv.ts (

[2020-03-04 19:40] sundowatch commented on #2816
Thanks for your response. My model is Graph model. It was a saved_model. I've trained it on Python and converted via tensorflowjs_converter.

Actually, I need to interpret the output data after executeSync.

[2020-03-04 19:50] kangyizhang commented on #2817
The tfjs-node library is depending on tensorflow c library, which is ~300MB. It's even bigger for gpu version. There is no way to reduce the library size dramatically. You will need to increase the size limit of your serverless environment.

[2020-03-04 19:50] #2817 closed

[2020-03-04 21:51] tafsiri commented on #2822
@annxingyuan could you put your name next to the kernels you are already working on for softmax.

[2020-03-04 22:20] rthadur commented on #2765
@tamatsu is this still an issue ? I could not reproduce the error in my local , mine is a Mac OS and latest chrome.

[2020-03-05 00:06] march23hare commented on #2818
here is the exact steps
1. `$ mkdir tfjs_tutorial`
2. `$ cd tfjs_tutorial`
3. `$ yarn init -y`
4. `$ yarn add @tensorflow/tfjs-node`
5. `$ yarn add @tensorflow/tfjs`
6. `$ touch index.js` and edit it like as below. This is the complete code. I used to test importing modules before I write some codes.
[code]
7. `$ node index`
8. ERROR!
[code]

[2020-03-05 03:55] Hernanm0g commented on #1364
hi.

Same error with
`import * as tf from '@tensorflow/tfjs-node'`
in node v12.16.1

When installing utils
`npm i utils`
got this error
_Uncaught TypeError: The "original" argument must be of type Function_

Any idea?

[2020-03-05 11:43] mugglmenzel commented on #2046
I am seeing the same error on Mac OS with version ```1.6.0```.

node: ```v13.6.0``` (installed with homebrew)
node process.arch: ```x64```
npm: ```6.13.4```
OS: ```macOS Catalina, Version 10.15.3 (19D76)```

Here is the output of ```npm install``` for the mnist-code example:
[code]

And the output of ```node main.js```:
[code]

If I run ```npm rebuild @tensorflow/tfjs-node --build-from-source``` I

[2020-03-05 11:48] mugglmenzel opened #2830 "tfjs-node 1.6.0 does not work on macOS Catalina"
#### TensorFlow.js version
```1.6.0```

#### Browser version
node: ```v13.6.0``` (installed with homebrew)
node process.arch: ```x64```

#### Describe the problem or feature request
Cannot install successfully on macOS Catalina!

#### Code to reproduce the bug / link to feature request
I am seeing the same error on Mac OS with version ```1.6.0```.

node: ```v13.6.0``` (installed with homebrew)
nod

[2020-03-05 14:41] mugglmenzel commented on #2830
I could solve the problem by manually downloading the XCode command line tools (CLT) --
c.f. https://github.com/nodejs/node-gyp/blob/master/macOS_Catalina.md#installing-node-gyp-using-the-xcode-command-line-tools-via-manual-download.
All guides should be updated as all provided tests fail to indicate if necessary XCode CLT are installed.

[2020-03-05 16:13] ehsan2211 commented on #2718
Any update on this issue?
I have found out that the problem is not TF-version-related. Even a small Segnet (model 1) trained in TF2 and converted to TFJS leaks. See bellow. I think the problem is the up_sampling2d layer as it does not exit in the classifier (model 2) net that I use without any problem.

**This model (trained in TF2 and converted to tfjs) leaks in TFJS above 0.15.3  but not in Pyth

[2020-03-05 18:06] rthadur commented on #2818
@march23hare thank you , which tutorial are you running ?

[2020-03-05 19:31] NathanBWaters commented on #991
What should we do if we want the benefits of a fast tflite model but we want to run it on the web?

It doesn't seem possible to convert a .tflite model back into a Tensorflow model so that we can convert it into a TFjs model.

[2020-03-05 19:34] nsthorat commented on #991
@NathanBWaters where did you get the .tflite model? .tflite models come from SavedModels which can be converted to tfjs.

[2020-03-05 22:19] NathanBWaters commented on #991
@nsthorat thanks for responding so quickly.  We are seeing faster results using a tflite blazeface model (see [here](https://github.com/google/mediapipe/blob/master/mediapipe/models/face_detection_front.tflite)) than using the TF model converted into TFjs.

So, though we can convert the original SavedModels into tfjs, we want to use the faster more optimized .tflite version of the model.

[2020-03-06 00:55] march23hare commented on #2818
I had have a plan to run https://www.tensorflow.org/js/tutorials/setup?hl=ko#see-sample-code-for-node.js-usage, but I've never run.

[2020-03-06 01:17] nsthorat commented on #991
We actually already have blazeface converted in tfjs: https://github.com/tensorflow/tfjs-models/tree/master/blazeface

Hope this helps!

[2020-03-06 01:18] nsthorat commented on #991
@NathanBWaters We actually already have blazeface converted in tfjs: https://github.com/tensorflow/tfjs-models/tree/master/blazeface

Hope this helps!

[2020-03-06 01:49] rthadur commented on #2830
@mugglmenzel here is the [README.MD](https://github.com/tensorflow/tfjs/blob/master/tfjs-node/README.md#mac-os-x-requires-xcode) where it mentions Mac OS X Requires Xcode.

[2020-03-06 01:59] rthadur commented on #2818
@march23hare did you get chance to look at the similar issue [here](https://github.com/tensorflow/tfjs/issues/2678)

[2020-03-06 05:18] march23hare commented on #2818
It did not work.

1.  there is nothing in ` ~/dev/tfjs_tut/node_modules/@tensorflow/tfjs-node/lib/napi-v5`
[code]

2. run `npm run build-addon-from-source` at `~/dev/tfjs_tut/node_modules/@tensorflow/tfjs-node` got error
[code]

I've re-installed tfjs-node module 1.6.0 but it still not works.

[2020-03-06 09:07] amitport opened #2835 "tfjs-node should avoid DOM types"
To get help from the community, we encourage using Stack Overflow and the [`tensorflow.js`](https://stackoverflow.com/questions/tagged/tensorflow.js) tag.

#### TensorFlow.js version
`tfjs-node@1.6`
#### Browser version
NA `node@12.16` `typescript@3.8`
#### Describe the problem or feature request
without including dom libraries, running typecript on nodejs
(only using lib: ['ES2020'] and `@types/n

[2020-03-06 13:46] pvanhaes opened #2836 "tf.sum returns incorrect result on some android devices"
### TensorFlow.js version
`1.6.0`

#### Browser version
Device: Samsung Galaxy S9
Chrome for Android version 80
Firefox 68
Samsung internet 11.1

Also reproduced on the following devices that I had available:
Honor 9X with default browser
Samsung Galaxy S8+ with Chrome

#### Describe the problem or feature request
I have noticed a nasty error when running my model on my Samsung Galaxy S9 with any

[2020-03-06 16:17] GiorgosXou opened #2837 "Different Output values on CPU vs GPU (Intel UHD Graphics 600) +Slower"
# 👨🏽‍💻 Introduction
Hi, my name is George and i am kind of newbie to web development compared to many others, so please be kind with me when it comes to things i've made wrong [...]

*  ## Specs:
*  💳 GPU Intel UHD Graphics 600
*  ⚡️ Using Electron
*  🧠 Using `'@tensorflow/tfjs'`

# 🤔 Issue
**(Briefly Explained)** I am trying to train a simple XOR ANN using GPU-acceleration on an Intel GPU *(just

[2020-03-06 16:56] rrjanbiah commented on #991
@nsthorat Will it be possible for you to share how you did the conversion?

[2020-03-06 17:32] nsthorat commented on #991
@rrjanbiah We converted it from the internal SavedModel (not sure why the team didn’t want to release it).

[2020-03-06 18:15] rthadur commented on #1936
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-03-06 18:15] #1936 closed

[2020-03-06 18:16] rthadur commented on #2836
@annxingyuan i don't have android device to test this , is there any way you can reproduce ? Thank you

[2020-03-06 18:22] rthadur commented on #1263
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-03-06 18:22] #1263 closed

[2020-03-06 21:15] rthadur commented on #2777
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-03-06 21:15] #2777 closed

[2020-03-06 21:19] rthadur commented on #2177
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-03-06 21:19] #2177 closed

[2020-03-06 21:22] rthadur commented on #362
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-03-06 21:22] #362 closed

[2020-03-06 21:26] rthadur commented on #67
This has been fixed [here](https://github.com/tensorflow/tfjs-core/pull/1365/files) , so closing this issue.Thank you

[2020-03-06 21:26] #67 closed

[2020-03-06 21:30] rthadur commented on #157
related PR has been, so closing this issue.Thank you

[2020-03-06 21:30] #157 closed

[2020-03-06 21:32] rthadur commented on #127
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-03-06 21:32] #127 closed

[2020-03-06 21:36] rthadur commented on #896
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-03-06 21:36] #896 closed

[2020-03-06 21:40] rthadur commented on #522
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-03-06 21:40] #522 closed

[2020-03-06 21:44] rthadur commented on #884
I guess the related PRs [PR1](https://github.com/tensorflow/tfjs/pull/2767) and [PR2](https://github.com/tensorflow/tfjs/pull/2289) are merged here , so closing this issue, thank you

[2020-03-06 21:44] #884 closed

[2020-03-06 22:07] rthadur commented on #272
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-03-06 22:07] #272 closed

[2020-03-06 22:18] rthadur commented on #2338
@wangtz can you please assist with above request

[2020-03-06 23:35] rthadur commented on #1278
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-03-06 23:35] #1278 closed

[2020-03-07 06:27] Futrime opened #2844 "Errors when loading models from storage.googleapis.com"
To get help from the community, we encourage using Stack Overflow and the [`tensorflow.js`](https://stackoverflow.com/questions/tagged/tensorflow.js) tag.

#### TensorFlow.js version
1.6.0
#### Browser version
Firefox 73.0.1(64bit)
#### Describe the problem or feature request
When loading the bodypix model MobileNetV1 with stride 32, it always returns HTTP ERROR 404, regardless of quantification a

[2020-03-07 06:56] rrjanbiah commented on #991
@nsthorat Thank you. I see couple of good tflite models. So if we know the _process of conversion_ it will be helpful.

[2020-03-07 14:33] oveddan opened #2845 "Feature Request: Creating/Reading from TFRecords in tfjs.node"
It would be great if in tfjs-node you could create tfrecords, as well as read from them.

This would allow for such things as [prefetch](https://www.tensorflow.org/guide/data_performance#prefetching) when training/performing inference with lots of image files, disk io can often become a bottleneck, prefetching removes this bottleneck.

It would also allow to create TFRecords in node from batches o

[2020-03-07 16:04] igor-susic commented on #2796
@rthadur Sorry for the delayed answer.

So, if you look at the reinforcement learning, and algorithms like `PPO` the loss function looks like this:

![PPO Clip loss](https://spinningup.openai.com/en/latest/_images/math/99621d5bcaccd056d6ca3aeb48a27bf8cc0e640c.svg)

You need much more than just `y_pred` and `y_true`, for now, I have found a simple way to do this, but I don't like using global varia

[2020-03-07 17:11] qwertangel commented on #894
i still have several machines which do not have avx/avx2. now tfjs node doesn't work anymore. Only option for me is to downgrade but that means all other software which are dependent on new version will break. can we still have support for older cpu's without reverting back to old version ?

[2020-03-07 17:12] qwertangel commented on #2631
can we have support for avx less cpu ? reverting to old version is not working for me since there are other dependencies which break with old version.

[2020-03-08 01:25] yos1p commented on #1425
Any progress on how to solve this issue?

[2020-03-08 11:56] yos1p commented on #1425
I think `tfjs-node` cannot run on Alpine linux. I have to change to Debian so that I can install necessary dependency. So if you use Docker, my suggestion is to use Debian-based image.

This works for me:
[code]

[2020-03-09 00:19] NathanBWaters commented on #991
@nsthorat thanks for the link, we are currently using the tfjs blazeface model.  However, we're seeing about 19ms latency for the tfjs model and 15ms latency for the tflite version.  This makes us think that the tflite version of the model is faster.

So the question is still: is it possible to used the highly optimized .tflite models through tfjs?  Or is there any way to use .tflite on the web?

[2020-03-09 07:06] sundowatch commented on #2816
Finally I've trained my model on Google Cloud AutoML as @tafsiri 's mention. But when I use it, I've some error. Here is my code:
[code]
I'm using this on **browser**.
And the console error:
`graph_executor.ts:109 Uncaught (in promise) Error: This execution contains the node 'Preprocessor/map/while/Exit_2', which has the dynamic op 'Exit'. Please use model.executeAsync() instead. Alternatively, to

[2020-03-09 14:35] ManishAradwad commented on #2745
I'll correct it! Where can I find the corresponding files?

[2020-03-09 15:30] tafsiri commented on #2816
@sundowatch Could you tell us more about your model and steps to reproduce? Is it an **image classification** model or an **object detection** model? Your code above suggests its an image classification task but the issue title suggests object detection.

Did you train it with AutoML Vision? A few pointers for this workflow are in https://blog.tensorflow.org/2019/10/build-and-deploy-tensorflowjs-m

[2020-03-09 16:58] dhirensr commented on #1165
@nsthorat @duhaime : i have sent a PR for this issue https://github.com/tensorflow/tfjs/pull/2848 Please review and let me know if there are any changes required. :smile:

[2020-03-09 17:51] nsthorat commented on #991
How are you comparing the two -- e.g. one in a browser, one natively on the same computer? That unfortunately isn't a fair comparison because we can't run native code from the web. Are you using the WebGL backend or the WASM backend?

We've done deep web-specific optimizations on our version so it should be as fast as it's going to be. Try using the WASM backend as well.

Do you have .tflite model

[2020-03-09 17:56] rthadur commented on #2745
Here is the [file](https://js.tensorflow.org/api/latest/#layers.conv1d) , i guess that is formatting issue in Markdown, there are multiple such issues in the same page, thank s for your help.

[2020-03-09 17:56] tafsiri commented on #2796
You can use optimizer.minimize or optimizer.applyGradients directly. Here is an example of a DQN with custom loss function, https://github.com/tensorflow/tfjs-examples/blob/master/snake-dqn/agent.js#L133

[2020-03-09 18:52] patrickhulce commented on #2619
Just wanted to also express my thanks for taking the time to work through this, solved a completely puzzling Sentry error I've been stuck on!

Can confirm that old/incompatible CPU instruction sets do in fact seem to be the root cause there too (In my case missing AVX). This [post](https://medium.com/@sometimescasey/building-tensorflow-from-source-for-sse-avx-fma-instructions-worth-the-effort-fbda

[2020-03-10 00:48] cyruslk commented on #2818
Hey. Same issue here.

**What I tried so far:**

- `npm install @tensorflow/tfjs-node@1.5.1 --save`
- Change `python3 ` to `python2`
- Went to `tfjs-node` and ran `npm run build-addon-from-source`, here's the output:
[code]
**My settings now:**

My `package.json`:

[code]
My code:

[code]
My error logs:

[code]

[2020-03-10 04:57] ManishAradwad commented on #2745
I tried finding markdown file for this page but couldn't find it. Can you plz help?

[2020-03-10 05:17] lucas860529hz commented on #2046
I am seeing an error with version 1.6.0
output:
[code]
OS: Ubuntu 18.04.4
node: v12.16.1
npm: 6.13.4

I discover a way to fix it.
Firstly,  in my package.json , it showed ` "@tensorflow/tfjs-node": "^1.5.1"` and in fact, 1.6.0 was installed.
This way gave me the previous error.

Then I edited  package.json to ` "@tensorflow/tfjs-node": "~1.5.1"` and version 1.5.2 was installed.
Afterwards, edit pa

[2020-03-10 12:42] Judioljuse opened #2858 "Load keras model with custom layers：Provided weight data has no target variable"
To get help from the community, we encourage using Stack Overflow and the [`tensorflow.js`](https://stackoverflow.com/questions/tagged/tensorflow.js) tag.

#### TensorFlow.js version
1.3.2

#### Browser version
Chrome (76.0.3809.132)

#### Describe the problem or feature request
I tried to convert keras model (which contains custom layers) to tfjs format, and loaded it using tf.loadLayersModel, bu

[2020-03-10 12:45] Judioljuse commented on #2858
## Model network

Layer (type)                    Output Shape         Param #     Connected to
==================================================================================================
inputs_img (InputLayer)         (None, 512, 512, 3)  0
__________________________________________________________________________________________________
inputs_mask (InputLayer)        (None, 512, 512, 3)

[2020-03-10 13:44] #2660 closed

[2020-03-10 15:25] tafsiri commented on #2844
I think the docs for this are wrong and stride 32 is _not_ support with Mobilenet. cc @tylerzhu-github

[2020-03-10 15:29] tylerzhu-github commented on #2844
Thx Yannick for answering this.
The MobileNet backbones have been changed to have stride 16 and 8 only.

[2020-03-10 15:31] tafsiri commented on #2844
@tylerzhu-github thx for responding (to this and the PR)

[2020-03-10 15:33] #2844 closed

[2020-03-10 16:14] rthadur opened #2863 "Fix broken links and update sample code"
Here is the [fix](https://github.com/tensorflow/tfjs-website/pull/353)