[2020-05-21 18:00] subodha commented on #3300
Really sorry if I confuse you @RealLankinen .
I mean the code from @tafsiri
https://github.com/tensorflow/tfjs/blob/master/tfjs-react-native/integration_rn59/components/webcam/realtime_demo.tsx. I have run locally this code without any issue. but the issue occurs when I tried to use the mobilenet for simple image classifications

[2020-05-21 18:40] rthadur commented on #3288
@sacredvoid can you please provide type of model you are using ?

[2020-05-21 18:43] tafsiri commented on #3300
What is the value of `navigator.product` in your app. The platform should be neither browser nor node (there is a specific ReactNative 'platform' [defined here](https://github.com/tensorflow/tfjs/blob/master/tfjs-react-native/src/platform_react_native.ts#L260)). I could relax the test but was able to get stuff working with expo 37 earlier this week, so would be curious to know why this is happenin

[2020-05-21 23:54] rthadur commented on #3299
@ducanh841988 I see you are using 1.0 , is there a reason why you are not using latest version. If not can you please try

[2020-05-22 00:03] rthadur commented on #3301
@mou23 what error you are getting when you try to run , can you please let us know the steps to reproduce the error ?

[2020-05-22 00:09] rthadur commented on #3303
@zliendo we will not be implementing this op anytime in near future. Do you want to contribute ?
Thank you

[2020-05-22 01:55] #3274 closed

[2020-05-22 02:44] WenheLI commented on #1903
This thread seems to be inactive for a while, can I take this issue over?

[2020-05-22 04:42] sacredvoid commented on #3288
@rthadur Using SRCNN with the first layer as MirrorPad

[2020-05-22 04:51] mou23 commented on #3301
I got the following error
Failed to load resource: net::ERR_CONNECTION_CLOSED storage.googleapis.com/tfjs-models/savedmodel/bodypix/mobilenet/float/075/model-stride16.json:1

[2020-05-22 07:12] RealLankinen commented on #3300
[code]

[2020-05-22 07:20] subodha commented on #3300
hi @tafsiri , @RealLankinen , I have uploaded my initial code to
https://github.com/subodha/Tensorflow-RN-Lab/blob/master/App.tsx

Thanks @RealLankinen I'll try with your code :)

[2020-05-22 07:25] JesseFarebro commented on #3221
I'm just finishing this work up but I'm now debating what's the best way to incorporate quantization in the converter CLI. What I have right now is:
[code]

The problem with this is it doesn't allow for using `float16` for weights with type `float32` and `int8|int16` for weights with type `*int*`. Perhaps making this even more configurable could be advantageous, for example, only quantizing certai

[2020-05-22 10:38] dontmarryme commented on #740
hello... i made it worked before with node-fetch in 2018, now i bought a new computer and it stops working, i think its the version issue of mobilenet or tfjs?

*my old files:
https://gitlab.com/greenhouseinfo/mobilenet-on-node.js

*running in max/msp
https://www.youtube.com/watch?v=zp0sc7e_fqM

[2020-05-22 11:49] dontmarryme commented on #740
@daisy-ycguo may i know what was your mobilenet version? thanks

[2020-05-22 13:23] lakshminarayanareddybn commented on #3206
Dear posenet team,

My problem is also similar to reported by @nuzrub,  I am trying to inference the posenet with cocodata set  for keypoint detection and verify the precision using coco APIs. the result file saved in the format mentioned in  http://cocodataset.org/#format-results
[{
"image_id": int, "category_id": int, "keypoints": [x1,y1,v1,...,xk,yk,vk], "score": float,
}]
But when tried to get

[2020-05-22 14:24] tylerzhu-github commented on #3206
Thanks for your interests! Cyvasse (@nuzrub) and Lakshminarayana reddy (@lakshminarayanareddybn). I am very glad that PoseNet.js libraries help you in various creative ways and I look forward to seeing what you are building.

COCO is an excellent dataset. At this moment, the dataset doesn't provide a javascript evaluation protocol and it is not trivial to evaluate using PoseNet.js's APIs directly.

[2020-05-22 14:27] zliendo commented on #3303
Thank you @rthadur for the prompt response,
ok, I will give it a try on contributing its implementation,
I'm building a POC, for the final model I may use embeddings instead.

I'll read about how to contribute

[2020-05-22 14:27] #3303 closed

[2020-05-22 14:27] zliendo commented on #3303
Thank you!

[2020-05-22 14:35] zhezui928 opened #3306 "How to use tfjs-react-native in react native cli apps"
I want to use tfjs to train my own custom tflite models. But it says tfjs-react-native is supported for only expo apps. Is there any solution?

[2020-05-22 14:39] AbdulRashidReshamwala commented on #3196
I updated the code according to your suggestions I moved creation of stack in another method and tf.stack() does not seem to cause the problem i have also removed the loop in model.fit() and decreased the min images to 4.The app still seems to crash on the model.fit() call
@tafsiri

[2020-05-22 14:55] aperkaz commented on #3107
I face the same issue. I managed to get it working by setting the package versions to the ones in the example repo. But the predicitions are off.

Sandbox with latest dependencies: https://codesandbox.io/s/image-segmentation-new-deps-kvc36?file=/src/index.js

Sandbox with demo deps (wrong segments): https://codesandbox.io/s/image-segmentation-old-deps-k4puf

[2020-05-22 15:04] rthadur commented on #3288
cc @pyu10055

[2020-05-22 15:21] rthadur commented on #3301
@mou23 error means your internet is blocking access to above link, I was able to run the example with out error.Please  verify.

[2020-05-22 15:22] cheneyweb commented on #3287
Anyone know how solve this problem?

[2020-05-22 15:23] fhenri42 opened #3307 "Posenet miss positioning of points"
Hey thank's for your amazing work with TFJS, it's really impressive.
We are using "PoseNet" and we are having a small issue with the position of the points, depending on the aspect ratio of the camera and the size of the image

#### TensorFlow.js version
[code]
#### Browser version
react-native expo-sdk-37
#### Describe the problem or feature request
With PoseNet the points are not aline with the

[2020-05-22 15:45] rthadur commented on #3306
Please refer to the [comment](https://github.com/tensorflow/tfjs/issues/2785#issuecomment-592019215) here , we do not support tflite models in tfjs.

[2020-05-22 16:09] KaterinaRos commented on #1537
I've got the same issue, I've seen nothing useful regarding how to fix it. Was there any solution found?

[2020-05-22 16:11] mou23 commented on #3301
Unfortunately it is still showing the same error to me :(

[2020-05-22 16:28] rthadur commented on #3301
It is not a tfjs issue , please check your internet firewall.

[2020-05-22 16:28] #3301 closed

[2020-05-22 18:43] nibedita260 commented on #2046
throw err;
  ^

    at Function.Module._resolveFilename (internal/modules/cjs/loader.js:957:15)
    at Function.Module._load (internal/modules/cjs/loader.js:840:27)
    at Function.executeUserEntryPoint [as runMain] (internal/modules/run_main.js:74:12)
    at internal/main/run_main_module.js:18:47 {
  code: 'MODULE_NOT_FOUND',
  requireStack: []

[2020-05-22 20:31] cova-fe commented on #3287
I'm facing the same issue. Context:
I'm playing around with bodypix on a linux (gentoo). I tried to use docker nvidia images, but the available TF requires cuda 6.0 and I have 5.0. Out of curiosity I compiled TF on my machine and set it to 5.0 but the resulting libs are always 2.0 (proceeding as recommended in the tfjs readme in order to use custom TF). I'm not able to get --config=v1 to work, so

[2020-05-22 22:11] yonlif commented on #3298
An update: This is still not working, but we found a work around, take the import and put it in a react segment and not an electron segment inside your app. Everything will work as intended.

[2020-05-23 02:00] leo108 opened #3308 "TypeError: Cannot change the configurable attribute of "name" from false to true."
### TensorFlow.js version
1.7.4

#### Browser version
Chrome 81.0.4044
Mobile Safari 9.0

#### Describe the problem or feature request

This error is not happening every time, I see this error reported by Sentry from users' browser, the souremap indicates the error was triggered by this line:

https://github.com/tensorflow/tfjs/blob/tfjs_1.7.4/tfjs-core/src/ops/operation.ts#L56

[2020-05-23 04:31] ducanh841988 commented on #3299
I tested with version 1.7.2. The result is same as 1.0.0

[2020-05-23 14:03] Dawoodriaz opened #3309 "Error: The specified module could not be found. \\?\D:\dawood\webcam\node_modules\@tensorflow\tfjs-node\lib\napi-v5\tfjs_binding.node"
i am getting this error when i run my node command

i have installed on my computer

1. Visual Studio 2019
2.  Node v14.3.0
3.  npm 6.14.5
4.  windows 10

Steps i have done

Create empty folder

`npm init` inside the folder

 1. `npm install --save @tensorflow/tfjs-node`

 2. `npm install --save @tensorflow/tfjs-core`

 3. `npm install --save @tensorflow/tfjs-converter`

 4. `npm install --save @t

[2020-05-23 14:39] bangonkali opened #3311 "Unknown padding parameter: explicit"
#### TensorFlow.js version

Tested with both: `1.7.4` & `2.0.0-rc.4`

#### Browser version

Any.

#### Describe the problem or feature request

The `model.json` converted using `tensorflowjs_converter` `1.7.4r1` contained `explicit_paddings` in the following lines:

[code]

I get this when trying to use the model. (`2.0.0-rc.4`)
[code]

Pseudo-code of what I did. The other models without `explicit

[2020-05-23 14:53] bangonkali commented on #3311
Additional note: By manually editing the padding from base64 encoded EXPLICIT to SAME, the `predict()` does work. But I'm not sure about the values it outputs anymore. 😂

![image](https://user-images.githubusercontent.com/539946/82733690-214b2380-9d48-11ea-9b2e-f0eb98875551.png)

[2020-05-23 21:16] TheNewSound commented on #3309
Node V14 is supported in the NEXT version of tfjs, for now use V12.

[2020-05-23 21:22] TheNewSound opened #3312 "Custom GPU kernel in NodeJS environment (guide/documentation)"
#### Describe the problem or feature request

Can someone create a guide on how to create custom GPU kernels in TFJS on NodeJS? There is/was a guide for creating a custom GPU kernel when using TFJS in the browser (using GLSL).

[2020-05-24 07:49] daoshengmu opened #3313 "camera_stream.js parse failed in tfjs-react-native:0.2.3"
To get help from the community, we encourage using Stack Overflow and the [`tensorflow.js`](https://stackoverflow.com/questions/tagged/tensorflow.js) tag.

#### TensorFlow.js version
`@tensorflow/tfjs-react-native": "^0.2.3"`

#### Browser version
Chrome 83.0.4103.61

#### Describe the problem or feature request
Run with `expo start --web` and  _camera_stream.js_ module parse failed as below.

[co

[2020-05-24 14:25] RealLankinen commented on #3300
Any update @subodha or @tafsiri ?

[2020-05-24 17:14] #3309 closed

[2020-05-24 18:47] psaikko opened #3314 "Cannot load saved Keras model with recurrent layer"
#### TensorFlow.js version
@tensorflow/tfjs@1.7.4/dist/tf.min.js

python packages:
tensorflow             2.2.0
tensorflowjs           1.7.4.post1

#### Browser version
Chrome: Version 81.0.4044.113 (Official Build) (64-bit)
Firefox: 76.0.1 (64-bit)

#### Describe the problem or feature request
When trying to load a saved Keras model with a recurrent layer in tensorflow.js, encountering
`Error: Pr

[2020-05-24 19:36] dontmarryme commented on #740
@aperkaz I found this guy has modified the script and pointed out the modification!
https://sean12697.github.io/blog/2019/07/15/mobilenet-in-nodejs.html

[2020-05-25 03:03] TheNewSound opened #3315 "100% performance improvement MatMul"
#### Describe the problem or feature request

When executing` const result = tf.matMul(a,b,transposeA,transposeB);` and the following holds:
`a==b && ((transposeA && !transposeB) || (transposeB && !transposeA))`
Then tf.matMul only has to calculate the upper triangle and can mirror those values to the lower triangle of the resulting matrix or vice-versa.

[code]

I see the WebAssembly back-end cur

[2020-05-25 04:53] subodha commented on #3300
Hi @RealLankinen,
I couldn't check the issue I was stuck with my thesis writing work. But hope to check the issue very soon. Thanks for jumping into this.
Thanks again

[2020-05-25 09:32] ciscoprakp opened #3318 "Tensoflow React Native : Failed to load Model [Error: Based on the provided shape, [20736,512], the tensor should have 10616832 values but has 1024992]"
#### TensorFlow.js version
2.2.1

#### Describe the problem or feature request
I am trying to load my model in my react native app, i have setup tensorflow environment for  React Native and i could get the tf.ready message successfully, but when i try to load my Keras model it shows below error.
Failed to load Model [Error: Based on the provided shape, [20736,512], the tensor should have 10616832

[2020-05-25 17:37] rthadur commented on #3298
@yonlif do you wish to contribute ?

[2020-05-25 17:45] rthadur commented on #3308
@leo108 please provide steps to reproduce the error ?

[2020-05-26 02:05] leo108 commented on #3308
@rthadur I'm not able to reproduce myself, I think it's quite random because I can see hundreds of this error in Sentry every day.

[2020-05-26 02:09] leo108 commented on #3308
The error occurs in various OS/browsers

![image](https://user-images.githubusercontent.com/1551716/82853587-bca2eb00-9f38-11ea-9fe6-d3e45777341b.png)
![image](https://user-images.githubusercontent.com/1551716/82853607-c62c5300-9f38-11ea-9d87-a96a943d7b03.png)
![image](https://user-images.githubusercontent.com/1551716/82853618-ccbaca80-9f38-11ea-95bd-00c96383c1b5.png)

[2020-05-26 08:11] uesys opened #3319 "[BodyPix]A memory leak coused while running segmentPerson in Firefox"
To get help from the community, we encourage using Stack Overflow and the [`tensorflow.js`](https://stackoverflow.com/questions/tagged/tensorflow.js) tag.

#### TensorFlow.js version
1.2
#### Browser version
Firefox 76.0.1 (64 bit)
[OS:Windows 10]
#### Describe the problem or feature request
I want to distinguish between the person and the background from the webcam video in Firefox.
However, runn

[2020-05-26 12:00] oukigen commented on #3114
The same error. Below is the complete code running on Node.js. The code runs successfully without WASM.
`// const tf = require('@tensorflow/tfjs');
const assert = require('assert');
const fs = require('fs');
const https = require('https');
const util = require('util');
const zlib = require('zlib');

const tf = require('@tensorflow/tfjs-node');
require('@tensorflow/tfjs-backend-wasm');
const argpar

[2020-05-26 15:07] tafsiri commented on #3300
@RealLankinen could you tell the value of `navigator.product` in your app?

[2020-05-26 16:15] tafsiri commented on #3300
@RealLankinen in your code snippet you are not importing tfjs-react-native. Thus the proper platform adapter is not registered. That should fix your problem.

[2020-05-26 16:43] rthadur commented on #3313
@daoshengmu can you please provide steps to reproduce the error , by looking at above error message it does not look like tfjs-react-native issue , please check the link [here](https://github.com/babel/babel-loader/issues/370).

[2020-05-26 16:56] tafsiri commented on #3313
Also tfjs-react-native is not designed to support web.

[2020-05-26 16:59] tafsiri commented on #3300
@subodha I think this may be related to something in your expo setup (potentially related to typescript support), similarish issues are described here https://forums.expo.io/t/sdk-33-error-unable-to-resolve-module-node-modules-expo-appentry/24470.

I made fresh managed expo app (https://github.com/tafsiri/tfjs-expo-managed-example) and could not reproduce.

[2020-05-26 17:34] rthadur commented on #3318
Hello, this sort of question is better suited for StackOverflow. This issues list is for bugs and feature requests. Thanks and please use the tag 'tensorflow.js' on your StackOverflow question to makes sure it's discoverable.

[2020-05-26 17:34] #3318 closed

[2020-05-26 17:43] #740 closed

[2020-05-26 17:56] rthadur commented on #3308
@leo108 thank you , I don't think we can support this issue, please explore stack-overflow more help with tag 'tensorflow.js'.

[2020-05-26 17:56] #3308 closed

[2020-05-26 18:01] rthadur commented on #3319
Hello, this sort of question is better suited for StackOverflow. This issues list is for bugs and feature requests. Thanks and please use the tag 'tensorflow.js' on your StackOverflow question to makes sure it's discoverable.

[2020-05-26 18:48] subodha commented on #3300
@tafsiri Thanks for the update. Let me check and get back to you. :)

[2020-05-26 19:12] subodha commented on #3300
Hi @tafsiri ,
I cloned your repo and it works really well. As you mention it seems an issue with my expo setup.
I really appreciate your help with this.
Now I can continue my research work this.

One small question Do you think that I can get the trained model from https://victordibia.github.io/handtrack.js/#/  and integrate with tfjs-react-native ?

Thanks again.

[2020-05-26 19:25] #3300 closed

[2020-05-26 21:11] tafsiri opened #3326 "Make IOHandler registry use getGlobal"
To ensure true singletons even across package boundaries. See https://github.com/tensorflow/tfjs/pull/3325 for context.

[2020-05-26 21:53] tafsiri commented on #3307
You need to scale your rendering of the output from posenet to match the scaling done by TensorCamera. The input tensor that is passed to posenet is shrunk according to resizeHeight and resizeWidth, you need to reverse this transformation when rendering the output.

As for aspect ratio, i believe the texture from the camera on android is always 16:9, this could vary by device though.

[2020-05-26 21:55] tafsiri commented on #3306
Also check out the tflite docs here https://www.tensorflow.org/lite for more info about how to use tflite.

[2020-05-26 21:55] #3306 closed

[2020-05-27 01:41] tafsiri commented on #3312
What is your use case/kernel you are trying to get running? There is no direct path to this and since on node we bind to libtensorflow the process would involve  the flow for a [custom op in tensorflow](https://www.tensorflow.org/guide/create_op). You would then have to bind to that in node (either with a custom tf build or some other mechanism).

Depending on your need for server side custom GPU

[2020-05-27 12:13] penebrain commented on #102
you can send

[2020-05-27 12:20] penebrain commented on #102
you can send data as array from main.js to worker.js

in main.js
`
ctx.drawImage(video, 0, 0, canvas.width, canvas.height);
var myImageData = ctx.getImageData(0, 0, canvas.width, canvas.height).data;

//send data to worker
Worker.postMessage({
                        "data": myImageData,
                        "width": canvas.width,
                        "height": canvas.height

[2020-05-27 15:15] coukou commented on #3307
Hey !
Thanks for your answer, we finally resolved our issue and it seems to come from our side :cry:

The issue was the texture dimensions given to TensorCamera component mismatch Expo Camera preview texture dimensions, that make texture being send to tensorflow cropped

After couple hours of searching where issue could come from, we noticed that Expo Camera preview texture scale depending the sty

[2020-05-27 15:16] #3291 closed

[2020-05-27 15:56] cyruslk opened #3331 "Tensorflow.js => TypeError: response.arrayBuffer is not a function"
Hey there ,

I filled an issue on stackoverflow with the `tensorflow.js` tag, here it is: https://stackoverflow.com/questions/62014020/tensorflow-js-typeerror-response-arraybuffer-is-not-a-function

When I run tfjs without interruption, I have this error:

`TypeError: response.arrayBuffer is not a function`

Could someone help me understand what is going on here?

Thanks,
Cyrus

[2020-05-27 18:00] pvaneck commented on #2998
A simpler way to recreate the issue is:
[code]

This results in:
`Tensor
    [0, 0, -0.1]`

From what I see from the link you posted, seems the fix should be as simple as using the TypedArray byteOffset property and not 0.

[2020-05-27 18:04] #3307 closed

[2020-05-27 18:08] rthadur commented on #3331
@cyruslk can you please check for similar issue [here](https://github.com/tensorflow/tfjs/issues/2029) .

[2020-05-27 18:30] #2998 closed

[2020-05-27 18:45] keajer opened #3335 "Convert a simple concrete function model to tfjs?"
I am using tensorflow to serve some simple rule based model using concrete functions, https://www.tensorflow.org/guide/concrete_function and convert to TFLite to be used on the mobile client side. I try to apply the same model on the web client using the tfjs-converter. However, I am not able to call the function from the model. I wonder if anyone has an example doing this or any other workarounds

[2020-05-28 06:08] chenxyzl opened #3341 "hope tensorflow suport deno"
[deno](https://github.com/denoland/deno) is here.

[2020-05-28 06:12] PratsBhatt commented on #2937
Is there any update on this issue. Is there a way I can contribute to solving this issue @annxingyuan @rthadur ?
Thank you.

[2020-05-28 06:13] MyJumperBroke23 commented on #1804
Any update on this?

[2020-05-28 08:04] daoshengmu commented on #3313
My source code is [here](https://github.com/daoshengmu/tfjsPosenet). Do I need to add a `webpack.config.js` file? I was typing `expo init` to generate my environment, and I didn't have that file.  As you said, `expo-camera` is unavailable to Web. So, I would think I don't need to dig into it too much.

[2020-05-28 10:15] #2892 closed

[2020-05-28 15:25] antoinedemathelin opened #3345 "maxNorm kernelConstraint in Dense layer seems to do nothing"
Hello,
I have some trouble to use kernel constraints in Dense layer with tensorflow javascript.

Here is the code I try to run:
[code]

I expected the layer weight being under 2 because of the maxNorm kernelConstraint but here is the outputs I get (I ran the code in a coding block of tfjs documentation):

[code]

As you can see the layer weight is close to 10 despite the kernelConstraint.

[2020-05-28 17:15] ToonTalk opened #3347 "Body Pix documentation not consistent"
https://github.com/tensorflow/tfjs-models/tree/master/body-pix

has a table that includes

10 | left_hand | 22 | left_feet
11 | right_hand | 23 | right_feet

To be consistent it should be left_foot and right_foot since it is referring to a single foot.

[2020-05-28 19:14] NituRazvan commented on #3281
Hi guys, any solutions for this issue?

[2020-05-28 19:37] #3313 closed

[2020-05-28 19:42] tafsiri commented on #3313
@daoshengmu we currently don't have any plans to support expo-web with tfjs-react-native (android and ios support only). We recommend just using regular tfjs for web applications (i.e. do not import the tfjs-react-native package when targeting browsers).

[2020-05-28 19:48] #3347 closed

[2020-05-28 20:41] rthadur commented on #3341
@chenxyzl this will not supported anytime in near future , so closing this request.

[2020-05-28 20:41] #3341 closed

[2020-05-28 22:00] arolihas commented on #2581
I am trying to use the code above but tf.loadGraphModel is not working on the model.json.

Unhandled Rejection (TypeError): Failed to fetch
HTTPRequest.fetch
src/platforms/platform_browser.ts:28
  25 | encode(text, encoding) {
  26 |     if (encoding !== 'utf-8' && encoding !== 'utf8') {
  27 |         throw new Error(`Browser's encoder only supports utf-8, but got ${encoding}`);

     | ^  29 |

[2020-05-28 22:50] jiayihu commented on #3314
I have a very similar error with a more complex RNN. The error, when I try to load the model in JS is:

[code]

The tensorflow keras model:

[code]

And it's saved as `h5` because I had issue converting the TF SaveModel with `tensorflowjs-converter` and I was able to do the conversion without errors only with the `h5` model:

[code]

The model is then loaded by just using `tf.loadLayersModel('publ

[2020-05-29 01:54] TheNewSound commented on #3312
@tafsiri

The following kernel (written in GLSL):

[code]

[2020-05-29 02:06] TheNewSound commented on #906
I also have the same feature request.

Please support creation of sparse tensors and operations like '`tensorflow::ops::SparseMatMul`'
Link to C++ Tensorflow: [https://www.tensorflow.org/api_docs/cc/class/tensorflow/ops/sparse-mat-mul](https://www.tensorflow.org/api_docs/cc/class/tensorflow/ops/sparse-mat-mul)

[2020-05-29 02:14] TheNewSound commented on #3281
@NituRazvan you could try updating to Node V12.

[2020-05-29 03:54] LYShiun commented on #494
感謝您 這很有幫助

[2020-05-29 05:55] chenxyzl commented on #3341
Thanks for your response

[2020-05-29 11:38] sacredvoid commented on #2822
Hey, can we expect support for 'depthToSpace' kernel on the WASM backend anytime soon?

[2020-05-29 13:30] LastLombax opened #3352 "´No backend found in registry´, on Tensorflow.js using Handpose model"
#### TensorFlow.js version
1.7.4

#### Browser version
Microsoft Edge 83.0.478.37
[OS: Windows 10]

#### Describe the problem or feature request

I'm using the Tensorflow's [Handpose Model](https://github.com/tensorflow/tfjs-models/tree/master/handpose) for my dissertation and recently an error occurs indicating "No backend found in registry", when loading the model as seen below:

![Error image](

[2020-05-29 14:04] tafsiri commented on #3352
We recently release v2.0.0 (see the message at the top of the readme https://github.com/tensorflow/tfjs), the release notes have instructions on how to upgrade, or you can pin your version to 1.7.4

[2020-05-29 14:07] tafsiri commented on #2822
@sacredvoid could you file a new issue for that as a feature request. It will be easier to track as its own issue.

[2020-05-29 14:38] LastLombax commented on #3352
How can I pin the version in the script tag?

[2020-05-29 14:44] tafsiri commented on #3352
Here is an example https://cdn.jsdelivr.net/npm/@tensorflow/tfjs-core@1.7.4/dist/tf-core.min.js

notice the @version substring. There is also a version drop down on the jsdelivr page to help you get these links for the various packages https://www.jsdelivr.com/package/npm/@tensorflow/tfjs-core

[2020-05-29 15:18] Thomas1664 opened #3353 "All objects inside tfjs module are undefined"
To get help from the community, we encourage using Stack Overflow and the [`tensorflow.js`](https://stackoverflow.com/questions/tagged/tensorflow.js) tag.

#### TensorFlow.js version
2.0.0

#### Browser version
Node.js 14.3.0

#### OS Version
Windows 10 Version 2004

#### Describe the problem or feature request
When I try to access any element out of the tfjs module I get the same error:
TypeError

[2020-05-29 15:59] rthadur commented on #3353
@Thomas1664 In order to use import you have to follow these guidelines mentioned [here](https://github.com/tensorflow/tfjs#via-npm),  please check and let us know.

[2020-05-29 16:56] stang6787 opened #3354 "The package at "node_modules\@tensorflow\tfjs-node\dist\index.js" attempted to import the Node standard library module "path". It failed because the native React runtime does not include the Node standard library."
To get help from the community, we encourage using Stack Overflow and the [`tensorflow.js`](https://stackoverflow.com/questions/tagged/tensorflow.js) tag.

#### TensorFlow.js version
"@tensorflow/tfjs-node": "1.2.11"
#### Windows 10
python 2.7.15
npm 6.14.5
node 12.17.0
yarn 1.22.4
#### Describe the problem or feature request
React Native expo. i want to use tensorflow js for image classification.

[2020-05-29 16:57] tafsiri commented on #3353
Also see https://www.tensorflow.org/js/tutorials/setup. You will probably need to use `require` over import since we want to support versions of node that do not support es modules out of the box (node < 14). Give that a try and let us know if you run into any issues.

In future we might be able to support dual commonjs/esm entries for node as described here https://nodejs.org/api/esm.html#esm_dua

[2020-05-29 17:26] tafsiri commented on #3354
Please follow these instructions https://github.com/tensorflow/tfjs/tree/master/tfjs-react-native

[2020-05-29 17:26] #3354 closed

[2020-05-29 19:18] stang6787 commented on #3354
thank you @tafsiri
and i have new problem. i can't npm install -g react-native-cli

npm ERR! code EEXIST

[2020-05-29 19:25] rthadur commented on #973
Closing this due to lack of activity, feel to reopen. Thank you

[2020-05-29 19:25] #973 closed

[2020-05-29 19:29] rthadur commented on #977
Closing this due to lack of activity, feel to reopen. Thank you

[2020-05-29 19:29] #977 closed

[2020-05-29 19:31] rthadur commented on #1056
Closing this due to lack of activity, feel to reopen. Thank you

[2020-05-29 19:31] #1056 closed

[2020-05-29 19:33] rthadur commented on #1069
Related PR has been merged , so closing this issue.

[2020-05-29 19:33] #1069 closed

[2020-05-29 19:59] ThejanW opened #3356 "is there any way to get the layered architecture of the facemesh graph model?"
To get help from the community, we encourage using Stack Overflow and the [`tensorflow.js`](https://stackoverflow.com/questions/tagged/tensorflow.js) tag.

#### TensorFlow.js version

#### Browser version

#### Describe the problem or feature request

#### Code to reproduce the bug / link to feature request
If you would like to get help from the community, we encourage using Stack Overflow and the

[2020-05-29 20:06] ThejanW commented on #3356
Facemesh model is in graph format https://tfhub.dev/mediapipe/tfjs-model/facemesh/1/default/1
I'd like to see its model architecture. There's nothing much I could find even in the published paper. In the model card https://drive.google.com/file/d/1VFC_wIpw4O7xBOiTgUldl79d9LA-LsnA/view it says "​Convolutional Neural Network: MobileNetV2-like with customized blocks for real-time performance.". Autho

[2020-05-29 20:46] rthadur commented on #967
Closing this due to lack of activity, feel to reopen. Thank you

[2020-05-29 20:46] #967 closed

[2020-05-29 20:46] rthadur commented on #1110
Closing this due to lack of activity, feel to reopen. Thank you

[2020-05-29 20:46] #1110 closed

[2020-05-29 21:30] tafsiri commented on #3354
I think you are going to have to debug that part on your own. We can't provide general npm/node/react-native support. I would try stack overflow or the react native docs/github.

[2020-05-29 23:24] stang6787 commented on #3354
thank you @tafsiri

New problem!
when i run expo start with android i got this error.
what should i do

Initialization of backend rn-webgl failed
- node_modules\react-native\Libraries\YellowBox\YellowBox.js:71:8 in console.warn
- node_modules\expo\build\environment\muteWarnings.fx.js:18:23 in warn
- node_modules\@tensorflow\tfjs-core\dist\tf-core.node.js:3029:26 in backend.then._catch$argument_0
-

[2020-05-30 04:40] sacredvoid opened #3357 "Unsupported WASM kernel: DepthToSpace"
To get help from the community, we encourage using Stack Overflow and the [`tensorflow.js`](https://stackoverflow.com/questions/tagged/tensorflow.js) tag.

#### TensorFlow.js version
1.7.x
#### Browser version
Google Chrome
Version 83.0.4103.61 (Official Build) (64-bit)
#### Describe the problem or feature request

I tried to set backend to WASM (used the `src="https://cdn.jsdelivr.net/npm/@tensor

[2020-05-30 07:58] bchiu commented on #2449
I had the same problem on windows (but it builds fine on colab using replicated procedure). There is an issue compiling the object detection modules....

protoc object_detection/protos/*.proto --python_out=.

All the modules compile except for image_resizer which yields the warning:

Solution is to compile image_resizer and run export_inference_graph, tensorflowjs_converter again:
protoc object_de

[2020-05-30 10:08] RealLankinen commented on #3300
Sorry for not being available for a week. Thanks @tafsiri and @subodha for solving this!

[2020-05-30 17:14] stang6787 opened #3359 "Unable to resolve "./vendor/react-native-vector-icons/Fonts/AntDesign.ttf" from "node_modules\@expo\vector-icons\build\AntDesign.js" Failed building JavaScript bundle."
To get help from the community, we encourage using Stack Overflow and the [`tensorflow.js`](https://stackoverflow.com/questions/tagged/tensorflow.js) tag.

#### TensorFlow.js version
{
  "main": "node_modules/expo/AppEntry.js",
  "scripts": {
    "start": "expo start",
    "android": "expo start --android",
    "ios": "expo start --ios",
    "web": "expo start --web",
    "eject": "expo eject"
  }

[2020-05-30 17:28] stang6787 opened #3360 "react native expo error Initialization of backend rn-webgl failed"
To get help from the community, we encourage using Stack Overflow and the [`tensorflow.js`](https://stackoverflow.com/questions/tagged/tensorflow.js) tag.

#### TensorFlow.js version
{
  "main": "node_modules/expo/AppEntry.js",
  "scripts": {
    "start": "expo start",
    "android": "expo start --android",
    "ios": "expo start --ios",
    "web": "expo start --web",
    "eject": "expo eject"
  }

[2020-05-30 17:31] maciekglowka opened #3361 "Problem with stacked sequential model - missing input_shapes"
#### TensorFlow.js version
2.0 (also earlier)
#### Browser version
FireFox
#### Describe the problem or feature request
Hi I am getting this "The first layer in a Sequential model must get an inputShape or batchInputShape argument." error.
My model does have batch_input_shape defined though. It has been converted from Python using the latest converter installed with PIP

What I have found out on t

[2020-05-30 18:30] #3359 closed

[2020-05-30 18:31] #3360 closed

[2020-05-30 18:35] rthadur commented on #3361
Please check related issue [here](https://github.com/tensorflow/tfjs/issues/1613)

[2020-05-31 07:01] lychrel commented on #283
Apologies if this is somewhat off-topic, but: my understanding is that tfjs supports [importing GraphDef-based models](https://www.tensorflow.org/js/tutorials/conversion/import_saved_model). Could a model requiring a Lambda layer be successfully imported if instead defined as a tf graph? Or, could a tf graph involving a functional model w/ a Lambda layer be imported into tfjs?

However, while I kn

[2020-06-01 09:40] DeveloperAbhirupa commented on #798
import keras
new_model = keras.models.load_model('weights/relu_tensor1')

ValueError: Unknown initializer: GlorotUniform

My packages are:
# packages in environment at /home/abhirupa/anaconda3/envs/keraenv:
#
# Name                    Version                   Build  Channel
_libgcc_mutex             0.1                        main
absl-py                   0.9.0                    pypi_0    pypi

[2020-06-01 09:41] DeveloperAbhirupa opened #3363 "ValueError: Unknown initializer: GlorotUniform"
import keras
new_model = keras.models.load_model('weights/relu_tensor1')

ValueError: Unknown initializer: GlorotUniform

My packages are:

_libgcc_mutex 0.1 main
absl-py 0.9.0 pypi_0 pypi
astor 0.8.1 pypi_0 pypi
attrs 19.3.0 pypi_0 pypi
backcall 0.1.0 pypi_0 pypi
bleach 3.1.5 pypi_0 pypi
ca-certificates 2020.1.1 0
certifi 2018.8.24 py35_1
decorator 4.4.2 pypi_0 pypi
defusedxml 0.6.0 pypi_0 pypi
e

[2020-06-01 10:23] denisftw commented on #2999
@rthadur It could be from a Udemy course called "Machine Learning with JavaScript". The course seems to be using version 0.13 of TensorFlow.

[2020-06-01 10:33] koji333 commented on #3040
The caption Fig.1. of the Personlab paper (https://arxiv.org/abs/1803.08225) seems to answer your question.
"... while the latter two ('Person segmentation mask' and 'Long-range offsets') are used, along with the human pose detections, are used by the **"Instance Segmentation Module"** in order to predict person instance segmentation masks."

The entry point (the **"Instance Segmentation Module"**

[2020-06-01 12:22] vishnu-u opened #3364 "Tensorflow.js not working on Mobile Browseres"
To get help from the community, we encourage using Stack Overflow and the [`tensorflow.js`](https://stackoverflow.com/questions/tagged/tensorflow.js) tag.

#### TensorFlow.js version
1.0.0
#### Browser version
Google Chrome for iOS 83.0.4103.88
#### Describe the problem or feature request
Image classification happens on Google Chrome for PC but not working for Google Chrome for iOS.
You can find m

[2020-06-01 12:52] annxingyuan commented on #3356
Hi @ThejanW - here is a link to a JSON object describing the model's topology: https://storage.googleapis.com/tfhub-tfjs-modules/mediapipe/tfjs-model/facemesh/1/default/1/model.json

Hopefully this helps! These objects are available for all our graph models - if you open the network tab you'll typically see a "model.json" link.

[2020-06-01 12:52] #3356 closed

[2020-06-01 13:56] rthadur commented on #3363
Looks like this is a tensorflow core issue , please open the issue using [template](https://github.com/tensorflow/tensorflow/issues/new/choose) here.

[2020-06-01 13:56] #3363 closed

[2020-06-01 14:01] rthadur commented on #3364
@vishnu-u can you please try with latest version

[2020-06-01 14:08] vishnu-u commented on #3364
Would 1.14 or 1.15 be good ?

[2020-06-01 15:03] tafsiri commented on #2999
`get` is a method on TensorBuffer (https://js.tensorflow.org/api/1.7.0/#tf.TensorBuffer.get) not Tensor

[2020-06-01 15:23] tafsiri commented on #3354
Try using [tfjs-react-native 0.3.0](https://www.npmjs.com/package/@tensorflow/tfjs-react-native) (just released)

[2020-06-01 15:50] stang6787 commented on #3354
thank you @tafsiri
I can solve it. Initialization of backend rn-webgl failed

and I got new problem

Network request failed
- node_modules\@tensorflow\tfjs-react-native\dist\platform_react_native.js:88:22 in xhr.onerror
- node_modules\event-target-shim\dist\event-target-shim.js:818:39 in EventTarget.prototype.dispatchEvent
- node_modules\react-native\Libraries\Network\XMLHttpRequest.js:574:29 in s

[2020-06-01 16:28] Berkmann18 opened #3368 "Possible regression on the breaking change?"
To get help from the community, we encourage using Stack Overflow and the [`tensorflow.js`](https://stackoverflow.com/questions/tagged/tensorflow.js) tag.

#### TensorFlow.js version
Whichever is on https://cdn.jsdelivr.net/npm/@tensorflow/tfjs-core (or the other TFjs code pulled from the CDN like https://cdn.jsdelivr.net/npm/@tensorflow/tfjs-converter).

#### Browser version
Chrome v83.0.4103.61

[2020-06-01 16:50] #3364 closed

[2020-06-01 16:53] rthadur commented on #3368
@Berkmann18 can you please provide any reproduction code or codepen example would be helpful.

[2020-06-01 17:18] Berkmann18 commented on #3368
@rthadur There you go: https://github.com/Berkmann18/hd-minimal

[2020-06-01 17:39] psaikko commented on #3314
I get the same `Error: Provided weight data has no target variable: simple_rnn/simple_rnn_cell/kernel` when saving as hdf5 and converting.

That is, `model.save("./test-model.h5")` in the python script followed by `tensorflowjs_converter --input_format=keras  test-model.h5 gru_model` in bash, but the problem is the same.

[2020-06-01 18:22] pvaneck commented on #3368
The webgl backend was recently moved out of tfjs-core into its own package. Make sure you also import tfjs-backend-webgl after core.

```<script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs-backend-webgl"></script>```

[2020-06-01 18:57] tafsiri commented on #3368
@pvaneck is correct. You can manually add the webgl backend or use the union package https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@2.0.0, we'll update the docs on the model pages shortly.

[2020-06-01 21:26] pyu10055 commented on #3314
I found the root cause of this, will submit a fix soon. @psaikko @jiayihu

[2020-06-02 02:06] pyu10055 commented on #3314
There is still an issue with GRU layers shape mismatch for bias weight. Will investigate and fix that in a follow up PR.

[2020-06-02 02:34] y-ich opened #3371 "The version 1.2.10 or later outputs prediction different the one by the version 1.2.9 or earlier in the case of webgl backend."
#### TensorFlow.js version
1.2.10 or later

#### Browser version
Google Chrome 83.0.4103.61

#### Describe the problem or feature request
In the version 1.2.9 or earlier, the outputs of cpu and webgl backends are similar.
But in the version 1.2.10 or later, the outputs of cpu and webgl backends are quite different. The output of webgl backend seems wrong.

#### Code to reproduce the bug / link to

[2020-06-02 03:04] pyu10055 commented on #3335
@keajer you can follow the following code, which save a saved model from a concrete function

[code]

This model can be converted to tfjs properly.

[2020-06-02 03:08] jacklynlxq opened #3372 "Compilation error while using tfjs-node with Angular"
To get help from the community, we encourage using Stack Overflow and the [`tensorflow.js`](https://stackoverflow.com/questions/tagged/tensorflow.js) tag.

#### TensorFlow.js version
2.0.0

#### Browser version
Chrome Version 83.0.4103.61 (Official Build) (64-bit)

#### Describe the problem or feature request
I was using ```@tensorflow/tfjs``` for my angular web app and it was working just fine bu

[2020-06-02 06:48] uesys commented on #3319
I also asked a question on StackOverflow, but I got advise to ask on github. I think this problem is caused by segmentPerson.
https://stackoverflow.com/questions/62034223/bodypixa-memory-leak-coused-while-running-segmentperson-in-firefox

I wrote code that simply loops on segmentPerson using setTimeout. I accessed this page in Firefox and monitored changes in memory usage with Task Manager.
https:

[2020-06-02 06:50] uesys commented on #3319
This issue has been identified as closed, so if you don't get an answer after a while, I'll post it as a new issue.

[2020-06-02 07:33] MyJumperBroke23 opened #3373 "[Unhandled promise rejection: TypeError: undefined is not an object (evaluating 'x.mul')] and Graph Model being converted into layer model"
#### TensorFlow.js version
@tensorflow/tfjs":  ^1.7.4
@tensorflow/tfjs-react-native": ^0.2.3
#### Browser version
"react-native": "https://github.com/expo/react-native/archive/sdk-37.0.1.tar.gz"
"expo": "~37.0.3"
"react": "^16.9.0"
#### Describe the problem or feature request

I'm trying to get a pre-trained model loaded onto react native.

When I try to run it, it gives me the error:

[Unhandled

[2020-06-02 09:16] jacklynlxq commented on #3372
Fixed the issue by using importing it using Node server instead of importing it at the client side using Angular.

[2020-06-02 09:16] #3372 closed

[2020-06-02 09:19] jiayihu commented on #3314
@pyu10055 does it mean that it should work if I use LSTM units instead of GRU?

[2020-06-02 09:30] jacklynlxq opened #3374 "Tfjs-node Error: Unsupported tensor DataType: DT_UINT8"
#### TensorFlow.js version
"@tensorflow/tfjs-node": "^2.0.0"

#### Browser version
N/A

#### Describe the problem or feature request
I'm trying to load a model trained using Tensorflow Object Detection API and it throws an error:
[code]

I read it from [here](https://github.com/tensorflow/tfjs/pull/2700) that tfjs doesnt certain datatypes but is there a hacky way to convert UINT8 to compatible dat

[2020-06-02 09:49] airqj opened #3375 "the result in tfjs is difference with saved_model"
my environment:
[code]
the saved_model is [efficientdet-d0][1],
and the step of inference is in [inference step][2]

for parsing image data with js,i convert img.png to img.jpg,and the result of saved_model is same with [saved_model result][3]
the command convert saved_model to tfjs_graph_model is
[code]

and my code show below
[code]

when detect object in img.jpg with my test code,nothing detect

[2020-06-02 12:37] #3368 closed

[2020-06-02 14:06] psaikko commented on #3314
I can confirm the diagnosis of @pyu10055 in [https://github.com/tensorflow/tfjs/pull/3370](https://github.com/tensorflow/tfjs/pull/3370).

Downgrading tensorflow from 2.2.0 to 2.1.0 resolved the problem on my end. Thanks!

[2020-06-02 14:26] blzjor commented on #944
Could you please guide me where to update the video path?

[2020-06-02 17:05] rthadur commented on #3374
@jacklynlxq I believe there is no way to avoid it, you have to retrain the model.
cc @pyu10055

[2020-06-02 17:10] rthadur commented on #2648
Closing this due to lack of activity, feel to reopen. Thank you

[2020-06-02 17:10] #2648 closed

[2020-06-02 18:16] keajer commented on #3335
yes, this converts fine with following json
`{"format": "graph-model", "generatedBy": "2.2.0", "convertedBy": "TensorFlow.js Converter v1.7.4r1", "userDefinedMetadata": {"signature": {"inputs": {"x:0": {"name": "x:0", "dtype": "DT_INT32", "tensorShape": {}}, "y:0": {"name": "y:0", "dtype": "DT_INT32", "tensorShape": {}}, "z:0": {"name": "z:0", "dtype": "DT_INT32", "tensorShape": {}}}, "outputs": {

[2020-06-02 19:06] tafsiri commented on #3373
Are you sure `input` is an array? What does `console.log(x)` and `typeof x` after this line (`const x = input[0]; //tf.getExactlyOneTensor(input);`) return?

[2020-06-02 19:34] psaikko commented on #2442
This seems to still be current. I am seeing this same shape mismatch issue with

TensorFlow.js version
@tensorflow/tfjs@1.7.4/dist/tf.min.js

python packages:
tensorflow 2.1.0
tensorflowjs 1.7.4.post1

I am saving my model with `tfjs.converters.save_keras_model`

[code]

If I replace the `GRU` layer with a `SimpleRNN` layer in the model, it loads correctly in tfjs.

[2020-06-02 21:32] #3314 closed

[2020-06-02 22:06] #2442 closed

[2020-06-02 23:24] fawazahmed0 opened #3381 "tensorflowjs_converter AssertionError Identity is not a graph"
#### Tensorflowjs Python Package Version
1.7.4.post1
#### Operating System
Windows 7
#### Describe the problem or feature request
Hi, I trained my model assuming I would be able to convert it into javascript, but I didn't knew that only few operations are supported in tensorflowjs.
If you could help me to remove the unsupported operation from my code , that would be great.
I would like to convert

[2020-06-03 00:33] pyu10055 commented on #3335
on js side you can do something as following:

[code]

[2020-06-03 03:48] pyu10055 commented on #3311
@bangonkali Thank you, we will add explicit padding support for all conv ops.

[2020-06-03 04:09] pyu10055 commented on #3311
@annxingyuan I don't think our conv2d ops support explicit padding, they do allow a single number as pad, can it be expanded to support the TF spec? Thanks

https://www.tensorflow.org/api_docs/python/tf/nn/conv2d

[2020-06-03 09:19] JoeJoeMango opened #3384 "React production build will not compile TensorFlow.js 2.0"
To get help from the community, we encourage using Stack Overflow and the [`tensorflow.js`](https://stackoverflow.com/questions/tagged/tensorflow.js) tag.

2.0 TensorFlow.js version

Chrome Version 83.0.4103.61 (Official Build) (64-bit)

Hello, when building the react app in Development mode the tensorFlowJS 2.0 model worked just fine, but when using the built version from reactjs, I get an error

[2020-06-03 11:00] Sagi10 opened #3386 "Failed loading TensorFlow.js model with bundleResourceIO for React Native"
#### TensorFlow.js version
``"@tensorflow/tfjs": "^1.7.4",``
``"@tensorflow/tfjs-react-native": "^0.3.0",``

#### Describe the problem or feature request
I used [Custom Vision](https://www.customvision.ai/) to create a model. I exported this to TensorFlow.js for my React Native expo app.

// Get reference to bundled model assets
`const modelJson = require('../assets/model/model.json'); `
`const mo

[2020-06-03 11:33] annxingyuan commented on #3311
@pyu10055 Sure I can work on that.

[2020-06-03 14:39] annxingyuan commented on #3311
@pyu10055 Hey Ping, wanted to confirm, we just need to modify our tfjs-core conv API to accept `'same'|'valid'|number|[[number,number],[number,number],[number,number],[number,number]]` right?

[2020-06-03 16:37] rthadur commented on #3381
@fawazahmed0 please follow the instructions here to convert your model : https://github.com/tensorflow/tfjs/tree/master/tfjs-converter

[2020-06-03 16:43] pyu10055 commented on #3311
I think so, the batch and channel padding are zeros anyway.

[2020-06-03 16:47] rthadur commented on #3384
@JoeJoeMango can you please provide steps to reproduce the error ?

[2020-06-03 17:37] fawazahmed0 commented on #3381
@rthadur I ran the tensorflowjs_wizard, and this is the error I got:

    C:\Users\Nawaz\Desktop\qadev\js>tensorflowjs_wizard
    Welcome to TensorFlow.js Converter.
    ? Please provide the path of model file or the directory that contains model fi
    If you are converting TFHub module please provide the URL.  saved_model\my_model
    ? What is your input model format? (auto-detected format is m

[2020-06-03 17:57] keajer commented on #3335
i somehow got following:
[code]

[2020-06-03 18:22] yawetse opened #3389 "Cannot setWeights on Embedding Layer"
https://github.com/tensorflow/tfjs/blob/3688c7321aa186b412a7469993f07f13e8408a9a/tfjs-layers/src/engine/topology.ts#L1223

this.weights.length is always undefined

[2020-06-03 19:07] fawazahmed0 commented on #3381
@rthadur  And one more thing, I am currently using this: https://tfhub.dev/google/tf2-preview/nnlm-en-dim128/1  as my word embedding layer in the code and I assume this error might be in someway related to the word embedding layer

[2020-06-03 19:23] rthadur commented on #3389
Hello, this sort of question is better suited for StackOverflow. This issues list is for bugs and feature requests. Thanks and please use the tag 'tensorflow.js' on your StackOverflow question to makes sure it's discoverable.

[2020-06-03 19:23] #3389 closed

[2020-06-03 21:32] pyu10055 commented on #3335
@keajer can you share your code? It is hard to tell what was wrong with one line.

[2020-06-03 22:01] fawazahmed0 commented on #3381
I am pretty much sure that this error is related to the tfhub word embedding layer, because I created a word embedding layer from scratch using GloVe dataset and the tensorflow converter script seems to convert the model into js format with no issues.
But I am not sure why when I use tfhub word embedding layers, it throws error. I even tried different embedding layer such as this: https://tfhub.de

[2020-06-04 02:48] pyu10055 commented on #3381
@fawazahmed0 can you share a code that does not reference your local data files?
Or share the saved model directory, so we can try to reproduce the problem. thanks.

[2020-06-04 07:38] keajer commented on #3335
I ran this in my local node:
[code]
Then, I got the error msg above

[2020-06-04 09:33] jacklynlxq commented on #3374
Okay, thanks for clarifying.

[2020-06-04 09:33] #3374 closed

[2020-06-04 10:47] airqj commented on #3375
problem solved. [detail](https://stackoverflow.com/questions/62148637/when-use-efficientdet-in-tfjs-the-result-is-different-with-inference-by-saved-mo)

[2020-06-04 10:47] #3375 closed

[2020-06-04 12:09] fawazahmed0 commented on #3381
@pyu10055 ,here is the code that I made specifically made for debugging this issue,
 just run the code and it will save the model in models/debug directory and try converting it to js format using tensorflowjs_converter and it would throw some error.

[code]

Just in case you still need the saved model, here it is:
[debug.zip](https://github.com/tensorflow/tfjs/files/4729782/debug.zip)

Thanks

[2020-06-04 13:29] tafsiri commented on #3386
Could you upload your model.json file? It looks like there may be an error in how it is generated.

[2020-06-04 13:55] Sagi10 commented on #3386
That's what I also thought. This is the zip that's been generated when I exported it. It contains the model.json

[3c83c83ef53f48b5b7b96fc3697f3e05.TensorFlow.TensorFlowJs.zip](https://github.com/tensorflow/tfjs/files/4730472/3c83c83ef53f48b5b7b96fc3697f3e05.TensorFlow.TensorFlowJs.zip)

[2020-06-04 14:04] Sagi10 commented on #3386
I tried is also with the example model(bundle_model_test.json) and I got the same error.

`const modelJson = require('../assets/model/bundle_model_test.json');`
`const modelWeights = require('../assets/model/bundle_model_test_weights.bin');`
`export async function localModelRunner() {`
 ` const model = await tf.loadLayersModel(bundleResourceIO(modelJson, modelWeights));`

https://github.com/tensor

[2020-06-04 16:08] tafsiri commented on #3386
Your model.json looks like a graph model, try using [`tf.loadGraphModel`](https://js.tensorflow.org/api/latest/#loadGraphModel).

[2020-06-04 16:58] #3353 closed

[2020-06-04 17:03] rthadur commented on #3247
Closing this due to lack of activity, feel to reopen. Thank you

[2020-06-04 17:03] #3247 closed

[2020-06-04 18:29] sacredvoid commented on #3288
https://github.com/qzcsgs/tfjs-MirrorPad

If this helps

[2020-06-04 18:37] rthadur commented on #3102
this is fixed [here](https://github.com/tensorflow/tfjs/issues/3314) , thank you

[2020-06-04 18:37] #3102 closed

[2020-06-04 20:23] Sagi10 commented on #3386
Okay. I used `const model = await tf.loadGraphModel('https://path-to/model.json');` to load the model.json is this what u mean?

The next step I want is to predict images made by the camera using this model. Any idea what the next steps are to accomplish this? Can't figure it out from the documentation.

[2020-06-04 22:38] gel11 opened #3394 "PoseNet MobileNetV1 does not have stride 32."
#### TensorFlow.js version
@tensorflow/tfjs@2.0.0
@tensorflow/tfjs-node@2.0.0
@tensorflow-models/posenet@2.2.1

#### Browser version
Chrome - Version 80.0.3987.149 (Official Build) (64-bit)

#### Problem
Seems like `MobileNetV1` can not use `32` as `outputStride` in the Posenet model. Request to ` https://storage.googleapis.com/tfjs-models/savedmodel/posenet/mobilenet/quant2/050/model-stride32.jso

[2020-06-05 04:21] pablomdd commented on #3384
I have a similar Error when my app calls a JS Module with TF
![image](https://user-images.githubusercontent.com/10246682/83836752-0bc7e900-a6ba-11ea-8569-04bc31213043.png)

[2020-06-05 05:27] rthadur commented on #900
Closing this due to lack of activity, feel to reopen. Thank you

[2020-06-05 05:27] #900 closed

[2020-06-05 05:28] rthadur commented on #970
related changes have been merged , closing this issue.

[2020-06-05 05:31] #1196 closed

[2020-06-05 05:32] #1195 closed

[2020-06-05 05:33] rthadur commented on #1261
Closing this due to lack of activity, feel to reopen. Thank you

[2020-06-05 05:33] #1261 closed

[2020-06-05 05:34] #467 closed

[2020-06-05 05:35] #393 closed

[2020-06-05 05:36] rthadur commented on #1426
Closing this due to lack of activity, feel to reopen. Thank you

[2020-06-05 05:36] #1426 closed

[2020-06-05 05:36] #1470 closed

[2020-06-05 05:37] #1431 closed

[2020-06-05 05:38] #1494 closed

[2020-06-05 05:38] #1432 closed

[2020-06-05 05:38] #1109 closed

[2020-06-05 05:38] #793 closed

[2020-06-05 05:38] #1373 closed

[2020-06-05 05:40] #1040 closed

[2020-06-05 05:40] #958 closed

[2020-06-05 05:40] #1603 closed

[2020-06-05 05:40] #1453 closed

[2020-06-05 05:41] rthadur commented on #1655
Closing this due to lack of activity, feel to reopen. Thank you

[2020-06-05 05:41] #1655 closed

[2020-06-05 05:42] #1727 closed

[2020-06-05 05:42] rthadur commented on #1721
Closing this due to lack of activity, feel to reopen. Thank you

[2020-06-05 05:42] #1721 closed

[2020-06-05 05:43] rthadur commented on #1726
Closing this due to lack of activity, feel to reopen. Thank you

[2020-06-05 05:43] #1726 closed

[2020-06-05 05:43] #910 closed

[2020-06-05 05:44] #1657 closed

[2020-06-05 05:45] #926 closed

[2020-06-05 05:47] rthadur commented on #2278
Closing this due to lack of activity, feel to reopen. Thank you

[2020-06-05 05:47] #2278 closed

[2020-06-05 05:48] #2127 closed

[2020-06-05 05:48] #2322 closed

[2020-06-05 05:48] #1334 closed

[2020-06-05 05:48] #2475 closed

[2020-06-05 05:49] rthadur commented on #2471
Closing this due to lack of activity, feel to reopen. Thank you

[2020-06-05 05:49] #2471 closed

[2020-06-05 10:07] axlider opened #3397 "tfjs-vis - error in vega rendering scatterplot - basic example from the docs"
#### TensorFlow.js version
"@tensorflow/tfjs": "^2.0.0",
"@tensorflow/tfjs-vis": "^1.4.0",

#### Browser version
Safari Version 13.0.3 (15608.3.10.1.4)
Chrome Version 83.0.4103.97 (Offizieller Build) (64-Bit)
#### Describe the problem
I want to run sample code for scatterplot from documentation in a React/Storybook setup.
An exception is thrown:

 **"Unhandled Promise Rejection: TypeError: undefin

[2020-06-05 11:59] ungurnicoleta commented on #3386
Yep, I have the same problem with loading the mode.

[2020-06-05 12:57] ducanh841988 commented on #3299
@axinging  @rthadur Have you reproduce the error?

[2020-06-05 14:37] tafsiri commented on #3386
General help/advice questions are better suited to [stack overflow](https://stackoverflow.com/questions/tagged/tensorflow.js). I'll also leave a link to [our tutorials page](https://www.tensorflow.org/js/tutorials), having a good understanding of the concepts covered in the tutorials will be useful. There are also [blog posts](https://heartbeat.fritz.ai/image-classification-on-react-native-with-te

[2020-06-05 14:37] #3386 closed

[2020-06-05 15:43] #3221 closed

[2020-06-05 15:49] #2153 closed

[2020-06-05 17:05] pyu10055 commented on #2542
@tafsiri can you provide pointer on the API doc parser code? thanks

[2020-06-05 17:27] tafsiri commented on #2542
Doc parse code lives here https://github.com/tensorflow/tfjs-website/tree/master/build-scripts/doc-gen. One would probably need to look at how the whole doc generation process works and try it with an example of the merged doc annotation to see if it just works or what the behaviour is.

[2020-06-05 18:04] rthadur commented on #1258
Closing this due to lack of activity, feel to reopen. Thank you

[2020-06-05 18:04] #1258 closed

[2020-06-05 18:04] rthadur commented on #2203
Closing this due to lack of activity, feel to reopen. Thank you

[2020-06-05 18:04] #2203 closed

[2020-06-05 18:06] rthadur commented on #2079
Closing this due to lack of activity, feel to reopen. Thank you

[2020-06-05 18:06] rthadur commented on #2078
Closing this due to lack of activity, feel to reopen. Thank you

[2020-06-05 18:06] #2078 closed

[2020-06-05 18:07] rthadur commented on #1149
Closing this due to lack of activity, feel to reopen. Thank you

[2020-06-05 18:07] #1149 closed

[2020-06-05 18:08] rthadur commented on #1693
Closing this due to lack of activity, feel to reopen. Thank you

[2020-06-05 18:08] #1693 closed

[2020-06-05 18:09] #2976 closed

[2020-06-05 18:10] rthadur commented on #1717
Closing this due to lack of activity, feel to reopen. Thank you

[2020-06-05 18:11] rthadur commented on #2766
Closing this due to lack of activity, feel to reopen. Thank you

[2020-06-05 18:11] #2766 closed

[2020-06-05 18:11] rthadur commented on #2718
Closing this due to lack of activity, feel to reopen. Thank you

[2020-06-05 18:12] rthadur commented on #2901
Closing this due to lack of activity, feel to reopen. Thank you

[2020-06-05 18:12] #2901 closed

[2020-06-05 18:12] rthadur commented on #2755
Closing this due to lack of activity, feel to reopen. Thank you

[2020-06-05 18:12] #2755 closed

[2020-06-05 18:13] rthadur commented on #2858
Closing this due to lack of activity, feel to reopen. Thank you

[2020-06-05 18:13] #2858 closed

[2020-06-05 18:13] rthadur commented on #2796
Closing this due to lack of activity, feel to reopen. Thank you

[2020-06-05 18:13] #2796 closed

[2020-06-05 18:13] rthadur commented on #1364
Closing this due to lack of activity, feel to reopen. Thank you

[2020-06-05 18:13] #1364 closed

[2020-06-05 18:14] rthadur commented on #2120
Closing this due to lack of activity, feel to reopen. Thank you

[2020-06-05 18:14] #2120 closed

[2020-06-05 18:14] rthadur commented on #2651
Closing this due to lack of activity, feel to reopen. Thank you

[2020-06-05 18:14] #2651 closed

[2020-06-05 18:14] #2540 closed

[2020-06-05 18:15] rthadur commented on #2315
Closing this due to lack of activity, feel to reopen. Thank you

[2020-06-05 18:15] #2315 closed

[2020-06-05 18:15] rthadur commented on #2117
Closing this due to lack of activity, feel to reopen. Thank you

[2020-06-05 18:15] #2117 closed

[2020-06-05 18:15] rthadur commented on #2349
Closing this due to lack of activity, feel to reopen. Thank you

[2020-06-05 18:22] rthadur commented on #3331
Closing this due to lack of activity, feel to reopen. Thank you

[2020-06-05 18:22] #3331 closed

[2020-06-05 18:35] rthadur commented on #3227
@yslion i believe above links are not accessible from china.Please check [here](https://github.com/tensorflow/tfjs/issues/1375)

[2020-06-05 18:35] rthadur commented on #1375
Closing this due to lack of activity, feel to reopen. Thank you

[2020-06-05 18:35] #1375 closed

[2020-06-05 18:36] rthadur commented on #3085
Closing this due to lack of activity, feel to reopen. Thank you

[2020-06-05 18:36] #3085 closed

[2020-06-05 18:36] rthadur commented on #3004
Closing this due to lack of activity, feel to reopen. Thank you

[2020-06-05 18:36] #3004 closed

[2020-06-05 18:36] rthadur commented on #3012
Closing this due to lack of activity, feel to reopen. Thank you

[2020-06-05 18:36] #3012 closed

[2020-06-05 18:39] rthadur commented on #2427
Closing this due to lack of activity, feel to reopen. Thank you

[2020-06-05 18:39] #2427 closed

[2020-06-05 18:42] rthadur commented on #1306
Closing this due to lack of activity, feel to reopen. Thank you

[2020-06-05 18:42] rthadur commented on #1166
Closing this due to lack of activity, feel to reopen. Thank you

[2020-06-05 18:42] #1166 closed

[2020-06-05 18:42] rthadur commented on #1045
Closing this due to lack of activity, feel to reopen. Thank you

[2020-06-05 18:45] rthadur commented on #3003
Closing this due to lack of activity, feel to reopen. Thank you

[2020-06-05 18:45] #3003 closed

[2020-06-05 18:46] rthadur commented on #2687
Closing this due to lack of activity, feel to reopen. Thank you

[2020-06-05 18:46] #2687 closed

[2020-06-05 18:47] rthadur commented on #2099
Closing this due to lack of activity, feel to reopen. Thank you

[2020-06-05 18:47] #2099 closed

[2020-06-05 18:48] rthadur commented on #1400
Closing this due to lack of activity, feel to reopen. Thank you

[2020-06-05 18:48] #1400 closed

[2020-06-05 18:48] rthadur commented on #1677
Closing this due to lack of activity, feel to reopen. Thank you

[2020-06-05 18:48] #1677 closed

[2020-06-05 18:48] rthadur commented on #2276
Closing this due to lack of activity, feel to reopen. Thank you

[2020-06-05 18:48] #2276 closed

[2020-06-05 18:51] rthadur commented on #1054
Closing this due to lack of activity, feel to reopen. Thank you

[2020-06-05 18:51] #1054 closed

[2020-06-05 18:52] rthadur commented on #824
Closing this due to lack of activity, feel to reopen. Thank you

[2020-06-05 18:52] #824 closed

[2020-06-05 18:52] rthadur commented on #1482
Closing this due to lack of activity, feel to reopen. Thank you

[2020-06-05 18:52] #1482 closed

[2020-06-05 18:53] #1807 closed

[2020-06-05 18:53] rthadur commented on #1669
Closing this due to lack of activity, feel to reopen. Thank you

[2020-06-05 18:53] #1669 closed

[2020-06-05 19:53] bluebalam commented on #3384
Hi @tafsiri , I am having the same issue, I am using React v 16.13.1

What exactly should I change to follow your suggestion " you might be able to override module resolution to point to the ES5 bundle (the 'main' entry package.json should work)." ?

[2020-06-05 20:21] tafsiri commented on #3384
It depends on your bundler, and i'm not super current on what is used in react at the moment. For example in webpack [resolve.mainFields](https://webpack.js.org/configuration/resolve/#resolvemainfields) can be used. If there is a repo I can clone with a minimal reproduction that might help look into this more closely. Else I might try setting up a fresh react app to see if I can reproduce.

[2020-06-05 20:31] rthadur commented on #2732
Closing this due to lack of activity, feel to reopen. Thank you

[2020-06-05 20:31] #2732 closed

[2020-06-05 20:32] rthadur commented on #3111
Closing this due to lack of activity, feel to reopen. Thank you

[2020-06-05 20:32] #3111 closed

[2020-06-05 20:33] rthadur commented on #3140
Closing this due to lack of activity, feel to reopen. Thank you

[2020-06-05 20:33] #3140 closed

[2020-06-05 20:45] bluebalam commented on #3384
I am using Ionic React [https://ionicframework.com/docs/react] for a Progressive Web App (PWA) and then also generate an Android App. Everything works fine using tfjs 2.0 for the PWA, but when I test the generated Android App in an emulator I get the "Uncaught (in promise) TypeError: Cannot call a class as a function" Exception the very first time a tensor is created.

Any attempt to create a tens

[2020-06-05 21:08] rthadur commented on #2717
Closing this due to lack of activity, feel to reopen. Thank you

[2020-06-05 21:08] #2717 closed

[2020-06-05 22:59] buaazhangfan opened #3398 "Safari and Chrome gave different output of a model"
To get help from the community, we encourage using Stack Overflow and the [`tensorflow.js`](https://stackoverflow.com/questions/tagged/tensorflow.js) tag.

#### TensorFlow.js version
latest
#### Browser version
Chrome: latest, Safari: latest
#### Describe the problem or feature request
I was using a pretained model converted from tensorflow keras. In chrome mode, it gave the correct output but in

[2020-06-05 23:04] pablomdd commented on #3384
I am using React 16.13.1. Downgrade TF to 1.0.1 also worked when building. During development, TF 2.0.1 worked just fined.

My babel/core is 7.9.0 and for what I can tell by using `create-react-app`  the babel config is ES2015

[2020-06-06 06:50] naah69 opened #3400 "use wasm as backend,predict result is null"
#### TensorFlow.js version
1.7.4
2.0.0
#### Browser version
Chrome 83.0.4103.61
Microsoft Edge 83.0.478.45

#### Describe the problem or feature request
it worked when i use webgl as backend.but the result of predict is null when i set wasm as backend.

the model is converted from keras.

![image](https://user-images.githubusercontent.com/25682169/83938143-ac2a2480-a804-11ea-8282-72887b18adf5.png)

[2020-06-06 09:17] MyJumperBroke23 commented on #3373
@tafsiri Huh it says x is undefined. Do you have any idea why this might be? I just followed the format used in the docs https://js.tensorflow.org/api_react_native/0.2.1/#cameraWithTensors

[2020-06-06 10:42] wirtaw opened #3401 "Missed data normalization in the predictSample"
#### TensorFlow.js version
 "@tensorflow/tfjs@1.7.4"
"@tensorflow/tfjs-node" : 1.3.2
#### Browser version
-
#### Node version
v12.16.1
####  npm version
 6.14.5
#### Describe the problem or feature request
Then running example by [Codelab](https://codelabs.developers.google.com/codelabs/tensorflowjs-nodejs-codelab/#4) sources - sample data back  pitch type - `Fastball (4-seam)`
But in example comm

[2020-06-06 12:49] AbhimanyuAryan commented on #468
@nkreeger something wrong with training using TFJS Node GPU. It's still training on CPU. I'm using 2080ti
[code]

[2020-06-07 12:15] leoffx commented on #991
I have a model with Custom Layers trained on Python, that can't be converted to JS and I wish to use it on Android devices through Ionic. Is https://github.com/intel/webml-polyfill still the best way to do it?

[2020-06-07 16:47] paulkre commented on #2643
I still have this issue in version 2.0.0. I'm using workerize-loader in a project bootstrapped with create-react-app.

[2020-06-07 18:15] paulkre opened #3402 "`tf.LayersModel.save` not working inside web worker"
#### TensorFlow.js version

2.0.0

#### Browser version

Chrome 83.0.4103.61

#### Description

[code]

Saving a `LayersModel` to the IndexedDB inside a web worker does not work because the `window` object is not defined. This is because inside a web worker the global scope is saved in a variable named `self` or `globalThis`.

The problem was identified in #2643 and it was attempted to be fixed in

[2020-06-08 08:33] ToonTalk opened #3404 "Incorrect documentation of coco-ssd"
https://github.com/tensorflow/tfjs-models/tree/master/coco-ssd states:

"The model is capable of detecting 90 classes of objects. "

It links to https://github.com/tensorflow/tfjs-models/blob/master/coco-ssd/src/classes.ts

which despite having 90 ids has only 80 entries. E.g. 29 and 30 are missing.

[2020-06-08 13:17] hegman12 commented on #2043
For my personal project, i had to use bodypix in android so I ended up re implementing a part of bodypix in python( specifically SegmentMultiPersonParts using mobilenet).
[ You can find the tflite model here ](https://github.com/hegman12/body_pix_tflite/tree/master/converter_example/tflite/converted).
[A demo app here](https://github.com/hegman12/body_pix_tflite/tree/master/example)
[How to conver

[2020-06-08 13:21] NALLEIN opened #3405 "webgpu: Add new op to support some classfication models and super-resolution models"
Add some operations that are frequently used in classification models and super-resolution models

- batchToSpaceND
- softmax
- avgPool

To get help from the community, we encourage using Stack Overflow and the [`tensorflow.js`](https://stackoverflow.com/questions/tagged/tensorflow.js) tag.

#### TensorFlow.js version

#### Browser version

#### Describe the problem or feature request

#### Code t

[2020-06-08 14:03] tafsiri commented on #3373
Could you give a bit more detail. Is images undefined as well? Is nextImageTensor also undefined? I think you need to do some more debugging to find where the initial point something unexpected happens is.

You are also passing extra props to TensorCamera that it doesn't accept

[code]

[2020-06-08 16:38] rthadur commented on #3398
@buaazhangfan can you please provide reproduction code or codepen example ?

[2020-06-08 16:59] rthadur commented on #3400
@naah69 please provide reproduction code or code pen example in order for us to have a look at it.

[2020-06-08 17:37] rthadur commented on #3404
@ToonTalk do you wish to contribute to this ?

[2020-06-08 18:23] ThejanW commented on #3356
@annxingyuan I humbly appreciate your prompt response. I played around the provided graph model and even converted that to TesorFlow python SavedModel format. I've already looked into the provided model.json. It's apparent that this model topology file is generated using tfjs converter from a TensorFlow SavedModel.

Will you be exposing the TensorFlow model definition scripts or even a tfjs layers

[2020-06-08 18:28] ToonTalk commented on #3404
I could change "90" to "80" but I'm not sure why there are missing entries. Intentional or a mistake?

[2020-06-08 18:29] annxingyuan commented on #3356
Hi @ThejanW - unfortunately, we do not have plans to release a layers version of the model. Here is a link to the TFLite version of the model: https://github.com/google/mediapipe/blob/master/mediapipe/models/face_landmark.tflite

[2020-06-08 18:35] rthadur commented on #3404
cc @pyu10055 any thoughts ?

[2020-06-08 18:39] #3402 closed

[2020-06-08 18:40] pyu10055 commented on #3335
[code]
should be
[code]

[2020-06-08 18:43] keajer commented on #3335
getting this error
[code]

[2020-06-08 20:46] buaazhangfan commented on #3398
Hi, sorry for this, here is the code to reproduce this:

[code]

[2020-06-08 21:49] stevencheng1220 opened #3410 "Custom layer calling in Tensorflow.js loadLayersModel()"
https://github.com/tensorflow/tfjs/blob/3688c7321aa186b412a7469993f07f13e8408a9a/tfjs-layers/src/models.ts#L256

It seems like there is already functionality for custom layer calling in Tensorflow.js's loadLayersModel() method. However, it seems like behind the scenes as seen from the function **LoadLayersModelFromIOHandler(pathOrIOHandler, undefined, options)**, the input for custom objects is se

[2020-06-08 22:35] kangyizhang commented on #3281
Try again after installing visual studio and windows-build-tools: https://github.com/tensorflow/tfjs/blob/master/tfjs-node/WINDOWS_TROUBLESHOOTING.md#msbuildexe-exceptions

[2020-06-08 23:57] keajer commented on #3335
nvm, i figured out. thanks!

[2020-06-09 00:04] #3335 closed

[2020-06-09 03:46] pyu10055 commented on #3404
@ToonTalk These classes are from coco dataset. Initially there are 90 classes, and they removed some of them and now it ended up with 80. I will update the documentation to reflect that.

[2020-06-09 04:20] pyu10055 commented on #3381
The error seems to be a known issue of TF
https://github.com/tensorflow/tensorflow/issues/37441, there might a solution in the related stackoverflow link.

[2020-06-09 04:20] #3381 closed

[2020-06-09 08:16] programandoconro opened #3413 "Unhandled Rejection (Error): No backend found in registry in a React App"
Hi,
System Specifications:

Fedora 32
React JS
npm
Tensorflow-mobilenet
Behavior:
This basic React App using mobilenet from @tensorflow-models was working fine a few months ago. Now I am getting Unhandled Rejection error.
[code]
![file](https://user-images.githubusercontent.com/50117686/84123354-a49b9300-aa31-11ea-8a2e-c189d120804e.jpg)

This basic example should make a prediction on the uploaded

[2020-06-09 08:41] MyJumperBroke23 commented on #3373
@tafsiri images and nextImageTensor are both defined. I think the reason x was undefined has to do with the accessing of tensors in tf.js. According to the [docs](https://www.tensorflow.org/js/guide/tensors_operations) you first have to convert the tensor into an array in order to access the values inside.

When I do

[code]

x gives me an actual value.

I am passing the props to ensure that the m

[2020-06-09 08:54] fawazahmed0 commented on #3381
The solution in the stackoverflow link seems to be using custom layer, and tensorflow.js doesn't support custom layers yet.
Refer: https://www.tensorflow.org/js/tutorials/conversion/import_keras

Anyways, thanks for looking into this

[2020-06-09 11:20] #3405 closed

[2020-06-09 12:41] xyx650 opened #3415 "scatterplot.render bug"
#### tfjs-vis ver @lastest (1.4.0)

#### chrome ver 83.0.4103.97

i'm running the demo code in the chrome, the console print 'Cannot read property 'length' of undefined '

the demo code at 'https://js.tensorflow.org/api_vis/1.4.0/#render.scatterplot' is:

[code]

here is the error message print on console:

Uncaught (in promise) TypeError: Cannot read property 'length' of undefined
    at expressi

[2020-06-09 13:17] ArtanBerisha1 opened #3416 "Improving the PoseNet accuracy and speed"

[2020-06-09 13:18] #3416 closed

[2020-06-09 14:26] tafsiri commented on #3373
if `nextImageTensor2` is defined and is what you expect then the problem isn't related to cameraWithTensors, it probably has to do with how you have written your custom layer(s). I would debug that in depth. To do this I would do the following, make a [random tensor](https://js.tensorflow.org/api/latest/#randomNormal) of the shape your model expects and pass it through your model with model.predic

[2020-06-09 14:30] tafsiri commented on #3413
That message suggests you are using [tfjs 2.0](https://github.com/tensorflow/tfjs/releases/tag/tfjs-v2.0.0) without a backend imported, but the package.json in your linked repository says you are using 1.5.1. If there some discrepancy? You can check what version is loaded on the page by doing `console.log(tf.version)`

[2020-06-09 14:56] pyu10055 commented on #3381
@fawazahmed0 If you converted the model to custom layer, you can convert the saved model to TFJS GraphModel for inference. (LayersModel does not support custom layer, but GraphModel may)

[2020-06-09 14:57] tafsiri opened #3417 "[tfjs-vis] investigate vega-lite-api"
Investigate https://github.com/vega/vega-lite-api this may give us beter type checking and increase the readability maintainability of our vega-lite specs.

[2020-06-09 15:38] programandoconro commented on #3413
You were right, after switching back to tfjs-core ^1.5.1 version the problem was solved. Thank you very much, now I feel dummy. Is there a way I can make it work with 2.0 version?

[2020-06-09 15:39] rthadur commented on #3415
Changes have been merged and new changes will be available in next release.Thanks for reporting.

[2020-06-09 15:39] #3415 closed

[2020-06-09 15:40] programandoconro commented on #3413
Thank you @tafsiri.

[2020-06-09 15:40] #3413 closed

[2020-06-09 15:42] tafsiri commented on #3413
See the link i posted above for instructions to upgrading to tfjs 2.0. You can also checkout the readme for the specific backend you want. Or you can use the 2.0.0 union package (tfjs) which handles this for you.

[2020-06-09 15:43] tafsiri commented on #3415
@xyx650 I just released tfjs-vis 1.4.1 to NPM give that a try and let us know if it works.

[2020-06-09 15:43] tafsiri commented on #3397
@axlider I just released tfjs-vis 1.4.1 to NPM to fix this bug, give it a try and let us know if you run into any problems.

[2020-06-09 15:47] rthadur commented on #3404
I have  made the change [here](https://github.com/tensorflow/tfjs-models/pull/457) , @pyu10055 can you please review.

[2020-06-09 16:33] ToonTalk opened #3421 "Formatting error in BodyPix documentation"
https://github.com/tensorflow/tfjs-models/tree/master/body-pix

has the wrong nesting of lists for SegmentPerson()

![image](https://user-images.githubusercontent.com/2138696/84174881-bae93380-aab1-11ea-8aee-af28c157baa9.png)

The other 3 listings of `config `are nested correctly

[2020-06-09 18:06] buaazhangfan commented on #3398
I found the issue is caused because I am using the mobile safari whose webgl only support float16 which result in this. Do you have any suggestions on how to solve this?

[2020-06-09 18:44] axlider commented on #3397
@tafsiri Thanks for the fast reply. Unfortunately the problem still exists.
Here's my package.json
[code]

[2020-06-09 19:34] fawazahmed0 commented on #3381
@pyu10055 , oh wait, I assume you were looking at first error log, this the log you should look at:
https://github.com/tensorflow/tfjs/issues/3381#issuecomment-638347014
My model is saved in keras saved model format, the first error log I got due the fact that I did not specify the input format as keras saved model.

And also one more thing, the problem is not in my code, but rather the word embed

[2020-06-09 19:45] noelelias opened #3422 "tf.data.webcam - facingMode overrides deviceId"
#### ^2.0.0-rc.4

#### Google Chrome (Android) 83.0.4103.96 (Official Build) (32-bit)

#### If deviceId is set do not use facingMode

#### Code to reproduce the bug
Use a mobile device which has 2 cameras.
[code]
VideoElement will show facingMode: 'user' only if there is no facingMode: 'user' camera it will fall back on deviceId.

[2020-06-09 19:47] noelelias commented on #3422
For people needing a workaround use:

`facingMode: 'undefined' as any`

[2020-06-09 20:50] tafsiri commented on #3415
Looks like that didn't fix it. Lets continur to track this in this issue https://github.com/tensorflow/tfjs/issues/3397

[2020-06-09 23:02] #3398 closed

[2020-06-10 01:46] tafsiri commented on #3397
Ok, I was able to reproduce this too, I think an older lockfile was preventing me from getting the same error, so I cleared those out. I release a pre-release with the fix, if you could give that a try and confirm it works in your setup that would be great (the issue is related to some vega dependencies). Here is that version. https://www.npmjs.com/package/@tensorflow/tfjs-vis/v/1.4.2-pre.1 its pu

[2020-06-10 03:54] flyingmrwang opened #3425 "less flops but slower model, profiler required"
(same question on stackoverflow: https://stackoverflow.com/questions/62295540/less-flops-but-slower-model-profiler-required)
The thing is I have a tiny mobile-unet which has only **~1Mflops**, which is much lighter than mobilenet. But it has only **~3 fps** running on webgl backend. I was suggested to forget about the **~10ms** taken by model.predict() and take **300ms** as prediction time.
So wha

[2020-06-10 03:57] flyingmrwang commented on #3425
ref of the prediction time: https://github.com/tensorflow/tfjs/issues/537

[2020-06-10 10:45] aknoerig opened #3426 "How to support custom ops in saved models"
#### TensorFlow.js version
tfjs-node 2.0.0

#### Browser version
Node 12

#### Describe the problem or feature request
Using the recent ability to load models directly with `tfjs-node`, I have been able to load and run predictions on complex models such as StyleGAN directly inside of node.

This approach is now failing with [StyleGAN2](https://github.com/NVlabs/stylegan2), due to its use of [some

[2020-06-10 11:03] axlider commented on #3397
@tafsiri Great! Now it works. Thank you!

[2020-06-10 11:03] #3397 closed

[2020-06-11 02:54] ducanh841988 commented on #3299
@annxingyuan  @rthadur I have check the detail of our model.
The first two conv2d layers give correct result. the input sizes are [200x500x1] and [50x125x48].
The inconsistent result occurs from the third conv2d layer. the input size is [50x125x128].
I think this problem had report on [tf.Conv2D on WebGL unreliable for large inputs](https://github.com/tensorflow/tfjs/issues/1936).
but there is no

[2020-06-11 03:30] Wlisfes commented on #2327
您好！我已经更新了依赖包还是出现这个错误

`
"@tensorflow/tfjs-core": "^1.3.1",
"@tensorflow/tfjs-automl": "^1.3.1"
`
operation_executor.ts:95 Uncaught (in promise) TypeError: Unknown op '_FusedConv2D'. File an issue at https://github.com/tensorflow/tfjs/issues so we can add it, or register a custom execution with tf.registerOp()
    at operation_executor.ts:95
    at executeOp$16 (operation_executor.ts:52)
    at c (

[2020-06-11 03:34] aelich commented on #3144
A quick question please, @tafsiri is there any news or plan to fix, regarding this issue I have same problem as @alexstanbury

[2020-06-11 08:37] flyingmrwang commented on #3425
Thanks tafsiri, I will give it a try. By the way, I just find I can also get the layer-wise performance by adding my model to tfjs/e2e/benchmarks/, which is pretty simple and clear.

[2020-06-11 08:37] #3425 closed

[2020-06-11 08:55] Trenki commented on #3227
Have you solved the problem? I have the same problem.

[2020-06-11 08:57] Trenki commented on #3227
I can't solve my problem in [#1375](https://github.com/tensorflow/tfjs/issues/1375) .I've tried.

[2020-06-11 15:09] zliendo commented on #3303
Hi @imartinezl ,
I did implement js logic to do the tf-idf transform vectorization (which works for the POC that I am working on), but I haven't implemented it as a layer for a tensorflow model yet. I did get approval from my director to contribute to this open source repository, still I have to go through my company levels of approval for this type of external contributions (routine reviews), the

[2020-06-11 16:23] ToonTalk opened #3433 "blazeface demo crashes if one selects a different backend and then returns to wasm"
Visit https://storage.googleapis.com/tfjs-models/demos/blazeface/index.html
Select webgl
Select wasm

tfjs-backend-wasm.js:8 Uncaught (in promise) RuntimeError: abort(LinkError: WebAssembly.instantiate(): table import 8 is smaller than initial 112, got 105). Build with -s ASSERTIONS=1 for more info.
    at oe (https://storage.googleapis.com/tfjs-models/demos/blazeface/demo.2ed3f5d8.js:26966:133)

[2020-06-11 19:43] rthadur commented on #3433
I guess this the error which is happening

`Uncaught (in promise) Error: Backend 'wasm' has not yet been initialized. Make sure to await tf.ready() or await tf.setBackend() before calling other methods
    at t.get [as backend] (engine.ts:173)
    at t.makeTensor (engine.ts:636)
    at Nn (tensor_ops.ts:113)
    at On (tensor_ops.ts:213)
    at blazeface.esm.js:17
    at engine.ts:424
    at t.sco

[2020-06-11 19:45] lihost opened #3434 "Failed to load @tensorflow-models/speech-commands.min.js.map - Links Broken 404"
#### TensorFlow.js 1.7.4

Below link is broken, throwing 404

In code, this is being called as follows
[code]
Which gets translated in browser as below url
[code]

[2020-06-11 20:30] rthadur commented on #3421
@ToonTalk do you wish to contribute ?

[2020-06-11 23:41] #3404 closed

[2020-06-11 23:43] #3361 closed

[2020-06-12 00:07] rthadur commented on #2906
@grinono could you please let us know if this issue has been resolved for you ?

[2020-06-12 03:16] Starsky-Synlitec opened #3437 "wechat plugin support for tfjs 2.0"
This is not a issue but a feature needed.
When can we use facemesh with tfjs 2.0 ? And also the wechat-plugin with tfjs 2.0 ?
Looking forward to it ~: )

[2020-06-12 07:24] xyx650 commented on #3415
I updated to 1.4.2, and it didn't work~
the same demo code, and the error message is:

error.js:2 Uncaught (in promise) Error: Unrecognized transform type: "filter"
    at _default (error.js:2)
    at _default (transform.js:12)
    at data.js:12
    at Array.forEach (<anonymous>)
    at parseData (data.js:11)
    at scope.js:26
    at Array.forEach (<anonymous>)
    at _default (scope.js:26)
    a

[2020-06-12 07:33] Enter-tainer commented on #3384
![image](https://user-images.githubusercontent.com/25521218/84477029-9368b580-acc1-11ea-9e1a-d99f273333a7.png)

Hi i also encountered the same issue. It works fine on development mode, but stop working on production build. I'm using create-react-app.

My package.json

[code]

[2020-06-12 07:53] Enter-tainer commented on #3384
This is my [repo](https://github.com/Enter-tainer/mnist-tfjs). You can reproduce by serving files generated by `npm run build`.

It is a small repo and all meaningful code are located in `src/App.js`. Hope that helps!

[2020-06-12 08:19] xyx650 commented on #3415
@tafsiri I had no found any about vega message, I just run the simple demo code with parcel on chrome.

I had try the Ver.1.41, the error message as same as 1.42

[2020-06-12 08:43] Wlisfes opened #3438 "请问object_detection这个方式能否在nodejs环境下执行！"
### 您好！
**object_detection这个例子在浏览器端使用会加载大量的文件，size高达几十mb，因为我是使用训练后savs_model的模型，我想把这一块移到nodejs服务器执行，从web上传图片，nodejs解析后返回web，请问能否以这种方式运行？**

[2020-06-12 09:10] jeffrson commented on #3236
As it turns out, Node 12 changed to Napi6 as well starting from 12.17.0...

[2020-06-12 09:52] LunaticLabs commented on #3384
I've also created an example of the crash and pushed it to GitHub. You can download the example from [Github](https://github.com/LunaticLabs/ts_cra_crash.git). It is an empty applicated created with create-react-app which does nothing but initialize bodypix. To reproduce the crash, type "npm run build", and the "serve -s build/", open the page at localhost:5000.

[2020-06-12 11:38] TheNewSound commented on #3236
I'm not 100% sure but TFJS-node 2.0.0 was released 2 weeks ago or so, I think it now has Napi6 support?

[2020-06-12 12:13] #3311 closed

[2020-06-12 13:58] tafsiri commented on #3415
could you clear your lock files and node_modules and try again?

[2020-06-12 14:03] tafsiri commented on #3437
You should be able to use facemesh with tfjs 2.0 today, just make sure to include a backend if you are using tfjs-core directly. Have you tried it and run into a problem?

[2020-06-12 14:57] avroshk commented on #3384
I was facing the same issue in my production build of react app where a tensorflowjs model was being loaded. I am using [create-react-app v3.4.1](https://github.com/facebook/create-react-app/tree/v3.4.1) and `@tensorflow/tfjs 2.0.0` in my project. As per @tafsiri's diagnosis

I was able to rebuild and run my app in production by ejecting my `react-app` and adding the following to my `config/webpac

[2020-06-12 15:08] Starsky-Synlitec commented on #3437
@tafsiri
Thx for the reply. I tried but with wechat plugin.
I guess it is because of the wechat-plugin:
 https://github.com/tensorflow/tfjs-wechat
which is not updated to fit 2.0 yet.

[2020-06-12 15:11] LunaticLabs commented on #3384
Thank you for this! This was exactly what I needed. In my case, I'm using react-app-rewired. Since I can already override my webpack config, here's what I did. It was easy as adding the following lines to my config-overrides.js file:

[code]

[2020-06-12 16:14] leoffx opened #3440 "Add support to Custom Layers for TF.js converter"
#### TensorFlow.js version
2.0.0 Python

#### Describe the problem or feature request
When converting a .h5 model with custom layers to json, it's common to have the error
`...`
` File "/usr/local/lib/python3.6/dist-packages/tensorflowjs/converters/converter.py", line 133, in dispatch_keras_h5_to_tfjs_graph_model_conversion`
`model = tf.keras.models.load_model(h5_path, compile=False)`
`...`
`Value

[2020-06-12 16:53] #3298 closed

[2020-06-12 18:30] rthadur commented on #3438
please use template [here](https://github.com/tensorflow/tfjs/issues/new) to reopen a new issue.

[2020-06-12 18:30] #3438 closed

[2020-06-12 21:06] namminammi opened #3444 "Uncaught (in promise) Error: Unrecognized transform type: "filter""
Hello,

Running tfjs-vis from CDN link within HTML file, and it's not rendering properly.

**Screenshot**:
<img width="1116" alt="Screen Shot 2020-06-12 at 4 59 21 PM" src="https://user-images.githubusercontent.com/8492625/84546128-95854100-acce-11ea-871d-f2c1288914fa.png">

**CDN tag**:
[code]
**Code**:
[code]

[2020-06-13 01:43] xyx650 commented on #3415
I had cleared both, whether I use npm or yarn to install, the error still appears

[2020-06-13 05:50] Polarisation commented on #3444
Also experiencing this using the latest version on the CDN, which is **1.4.2**

The workaround for now is to pin to **1.4.1**:

     <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs-vis@1.4.1"></script>

[2020-06-13 06:10] Polarisation opened #3446 "Missing changelog release notes for tfjs-vis"
#### TensorFlow.js version

tfjs-vis v1.1 - v1.4.2

#### Describe the problem or feature request

The [CHANGELOG.md](https://github.com/tensorflow/tfjs/blob/master/tfjs-vis/CHANGELOG.md) has not been updated since 1.0.0, over a year ago.

Neither are there any release notes attached to the GitHub release list.

It would be helpful for users to have release notes to easily see what was added, fixed

[2020-06-13 11:35] smartfit-joonhok opened #3447 "[tfjs-react-native] How can I find the right dimensions for camera texture?"
To get help from the community, we encourage using Stack Overflow and the [`tensorflow.js`](https://stackoverflow.com/questions/tagged/tensorflow.js) tag.

#### TensorFlow.js version
@tensorflow/tfjs@2.0.0
#### Browser version
This issue is about the react-native package.
#### Describe the problem or feature request
@tafsiri , Do you have any update about [this](https://github.com/tensorflow/tfjs/

[2020-06-14 02:36] MitchellMarkGeorge commented on #1224
I am getting the same error. Please was anyone able to figure this out?

[2020-06-15 12:22] sdll commented on #1388
Any updates on this?

[2020-06-15 14:02] namminammi commented on #3444
That fixed the issue - thanks!

[2020-06-15 16:20] tafsiri commented on #3444
Should be fixed in https://cdn.jsdelivr.net/npm/@tensorflow/tfjs-vis@1.4.3 give that a try and let us know if that works.

[2020-06-15 16:55] namminammi commented on #3444
Yes, version 1.4.3 works. Thanks for the update.

[2020-06-15 19:52] jeffrson commented on #3236
Well, maybe, yes. Unfortunately, currently it seems I still need to use tensorflow 1.15.

[2020-06-15 20:53] alexionby opened #3455 "Render `toPixels` as webgl texture"
For `webgl` backend,
Why did you decide to convert result from `tensor` to `Uint8ClampedArray` and draw it as `canvas.getContext('2d')`. Seems like it would be much better for performance to render `tensor` as **texture** on `canvas.getContext('webgl')`.

[2020-06-15 23:09] #3444 closed

[2020-06-15 23:11] rthadur commented on #3455
Thanks for reporting please use the [template](https://github.com/tensorflow/tfjs/issues/new) to open a new issue with all the required information for us to help you.

[2020-06-15 23:11] #3455 closed

[2020-06-16 03:05] Shaiken commented on #753
i had same problem,
i try npm run build tfjs-converter demo mobilenet 's index.js
ERROR in ./node_modules/@tensorflow/tfjs-data/dist/tf-data.esm.js
Module not found: Error: Can't resolve 'fs' in 'D:\xx\xx\tfjs\tfjs-converter\demo\node_modules\@tensorflow\tfjs-data\dist'
 @ ./node_modules/@tensorflow/tfjs-data/dist/tf-data.esm.js 17:78532-78545
 @ ./node_modules/@tensorflow/tfjs/dist/tf.esm.js
 @ .

[2020-06-16 04:52] EddieOne commented on #2003
\\?\C:\Users\eddie\Documents\GitHub\Y8-Instant-io-Game\node_modules\@tensorflow\tfjs-node\lib\napi-v5\tfjs_binding.node

Works fine on a clean install but on a machine that has had many versions of node, getting some extra slashes `\\?\` seems incorrect.

[2020-06-16 07:42] alexionby opened #3457 "Render `toPixels` as webgl texture"
#### TensorFlow.js version
tfjs 1.7.4 - 2.0.0

#### Describe the problem or feature request
For webgl backend,
Why did you decide to convert result from `tensor` to `Uint8ClampedArray` and draw it as `canvas.getContext('2d')`. Seems like it would be much better for performance to render `tensor` as **texture** on `canvas.getContext('webgl')`.

[2020-06-16 10:47] aelich commented on #3144
@tafsiri is it possible that it's slow because of Metro (bundleResourceIO)? As than Metro needs to transfer a big quantity of data for the model.

If we get it from URL it's much faster as it doesn't go though the Metro server?

[2020-06-16 13:10] Gheith-Abandah opened #3458 "Error in loading a Keras model in TensorFlow.js"
#### TensorFlow.js version
2.0.0

#### Browser version
Chrome Version 83.0.4103.97 (Official Build) (64-bit)

### Summary
I have a problem in loading a trained model that was developed using Python and TensorFlow Keras into TensorFlow.js.

### Procedure
The model was developed using Python, TensorFlow, and Keras using:
`model.fit(...)`
`model.save('./model_python_tf_keras.h5)`
This model is attach

[2020-06-16 14:18] PratsBhatt opened #3460 "Provided weight data has no target variable: lstm/lstm_cell/kernel"
To get help from the community, we encourage using Stack Overflow and the [`tensorflow.js`](https://stackoverflow.com/questions/tagged/tensorflow.js) tag.

#### TensorFlow.js version
I have tested with two versions - 2.0.0 and 1.5.1
#### Browser version
Crome - 79.0.3945.88
Firefox - 77.0.1
#### Describe the problem or feature request
I have created the model in python and converted using the tfjs

[2020-06-16 16:59] rthadur commented on #3460
@PratsBhatt please let us know what error you are getting ?

[2020-06-16 17:08] rthadur commented on #3457
Thanks for reporting please use the template to open a new issue with all the required information for us to help you.

[2020-06-16 17:41] rthadur commented on #3458
@Gheith-Abandah thanks for reporting , can you please check [here](https://github.com/tensorflow/tfjs/issues/755) for similar issue.

[2020-06-16 20:58] Pierrci opened #3463 "[tfjs-node] Backend overwritten when new environment (such as a worker) is created"
#### TensorFlow.js version
tfjs-node 2.0.1

#### Browser version
Node.js 12.16.3

#### Describe the problem or feature request
When tfjs-node is required in a new environment (such as a worker when using worker threads) and has already been required in another environment before (such as the main thread), the new TF backend instantiated in the new environment overwrites any previously instantiated

[2020-06-17 06:26] PratsBhatt commented on #3460
As the header for the issue suggest - I receive `Provided weight data has no target variable: lstm/lstm_cell/kernel`
Below is the stacktrace:-

`tf.min.js:2 Uncaught (in promise) Error: Provided weight data has no target variable: lstm/lstm_cell/kernel
    at new e (tf.min.js:2)
    at e.loadWeights (tf.min.js:2)
    at tf.min.js:2
    at tf.min.js:2
    at Object.next (tf.min.js:2)
    at a (tf.m

[2020-06-17 07:05] mbuschtoens commented on #3460
I'm having the same issue with Chrome 83.0.4103.106. I'm using tensorflow.js Version `2.0.0`

 `Provided weight data has no target variable: lstm/lstm_cell/kernel`

[2020-06-17 07:53] xyx650 commented on #3415
@tafsiri Hi, did you run without any errors @1.4.1/1.4.2?

[2020-06-17 09:06] MyJumperBroke23 opened #3466 "Any workarounds for converting a keras graph model with custom layers into tf.js?"
#### TensorFlow.js version

Keras: 2.3.1
Tensorflow: 2.20
Tensorflow.js: 1.7.2

#### Describe the problem or feature request

I'm trying to convert a keras HDF5 graph model with custom layers into tensorflow.js. If I don't specify the output format to be a graph model, the command line converter automatically converts it into a layers model, and lets me create the custom layers in javascript. Howe

[2020-06-17 14:57] pyu10055 commented on #3466
@MyJumperBroke23 What is the error you getting when you converting the model to tfjs_graph_model output format?

[2020-06-17 14:59] MyJumperBroke23 commented on #3466
@pyu10055 The exact error is

`ValueError: Unknown layer: FixedDropout`

[2020-06-17 16:57] rthadur commented on #3460
@Gheith-Abandah thanks for reporting , can you please check [here](https://github.com/tensorflow/tfjs/issues/755) for similar issue.

[2020-06-17 17:53] tafsiri commented on #3415
@xyx650 Hi. Forgot to update this. We released 1.4.3 to help address this. Give that a try, if that doesn't work, could you make a runnable codepen example reproducing the bug?

[2020-06-17 18:12] sbrl commented on #3287
Maybe https://stackoverflow.com/a/57156500/1460422 will help? I'm still experiencing issues however, so I can't say whether this has actually ultimately fixed my issue - as the version of Tensorflow.js that I compiled from source doesn't appear to be CPU accelerated (despite the fact that I enabled that during the compilation process).

[2020-06-17 20:18] pyu10055 commented on #3466
@MyJumperBroke23 That looks like error from conversion to tfjs_layers_model ? can you share the command line and its output here.

[2020-06-17 20:20] pyu10055 commented on #3460
@mbuschtoens @Patrick-David Can you both give it a try with the tensorflowjs pip version 2.0.1 ?

[2020-06-17 20:23] pyu10055 commented on #3440
@leoffx you can try to save the model as saved model then use tfjs converter to convert the saved model to tfjs_graph_model

[2020-06-17 20:32] pyu10055 commented on #3426
@aknoerig Thank you for using our node backend, let me provide my thoughts on this topic:

1. If the custom op is easy to be rewritten in js, registerOp could be good option. It also depends on if you are using saved model direct execution, since direction execution does not support registerOp through js.
2. option 2 probably the better if op is complicated or using saved model direct execution. I

[2020-06-17 20:34] pyu10055 commented on #3410
Hi @stevencheng1220 I think that is a placeholder for a great feature to add.

If you have custom layers, I think currently there is a work around for that:

1. save the keras model as TF saved model format
2. use tfjs converter to convert saved model to tfjs_graph_model.

[2020-06-17 20:36] #3446 closed

[2020-06-17 22:44] TheNewSound commented on #206
I'd like to see (u)int8 tensor support in order to take advantage of enhanced INT8 performance of NVIDIA's Tensor Cores.

Maybe the same goes for FP16 support but that could be a lower priority since I suspect Tensorflow.js already takes advantage of Tensor Cores in FP32 mode.

[2020-06-18 02:10] xyx650 commented on #3415
@tafsiri Oh, it works at 1.4.3, thanks a lot

[2020-06-18 05:45] Polarisation commented on #3446
Awesome, thanks!

[2020-06-18 06:19] PratsBhatt commented on #3460
@rthadur Yes, I have checked the issue at the mentioned place, tried all the solutions that they have suggested. As I said before `Strict: false` works, but I don't think that is the solution for this issue.
As I am just confused why does the tensorflowjs does not find the target weights as I can see that declared in the `model.json`,

@pyu10055 I am not sure, if you intended to tag me. I will giv

[2020-06-18 07:24] Gheith-Abandah commented on #3458
Thank you for this hint. I have check Issue #755 before. I am now checking it again and I will come back to you when I reach a conclusion.

[2020-06-18 09:09] sour4bh commented on #239
any progress on this?

[2020-06-18 10:34] fawazahmed0 opened #3471 "Universal Sentence Encoder Model runs very slow after embedding large datasets"
**TensorFlow.js version**
2.0.1

**Node Version**
12.18.0

**OS**
Windows 7

**Prerequisite:**
`yarn add @tensorflow/tfjs @tensorflow/tfjs-node @tensorflow-models/universal-sentence-encoder`

**Steps to Reproduce:**
1. Download and unzip [debug use model.zip](https://github.com/tensorflow/tfjs/files/4797975/debug.use.model.zip)
1.  Run `node checktime.js`  and note down the time taken to execute
1

[2020-06-18 13:38] #3114 closed

[2020-06-18 17:14] rthadur commented on #3458
@Gheith-Abandah thank you , please check this [comment](https://github.com/tensorflow/tfjs/issues/3460#issuecomment-645602871) as well.

[2020-06-18 18:51] Gheith-Abandah commented on #3458
Using tfjs version 2.0.1 solves this problem thank you.

[2020-06-18 18:51] #3458 closed

[2020-06-18 23:00] EddieOne commented on #2204
I also found this useful.
https://stackoverflow.com/a/59934467/654499

[2020-06-18 23:41] #3437 closed

[2020-06-19 07:59] aknoerig commented on #3426
Thanks for your advice on this! I am directly executing the signatures of the saved model, so good to know that `registerOp` is not supported for this. Option 2 therefore sounds promising!

However, in the meantime I noticed that in my specific case, the authors have provided an alternative implementation that does not require the custom ops (using `impl = 'ref'`). What's nice about this is that I

[2020-06-19 11:01] danhaus opened #3477 "tensorflowjs_wizard fails when loading model.js due to UnicodeDecodeError"
#### TensorFlow.js version
1.7.2

#### TensorFlow version
2.1.0

#### OS
macOS Catalina 10.15.5

#### Steps to reproduce
Download this model https://tfhub.dev/tensorflow/tfjs-model/posenet/resnet50/float/1/default/1
Open the downloaded folder and rename `model-stride32.json` to `model.json`
Move back to the parent folder and run `tensorflowjs_wizard`
Input the model path (`./posenet_resnet50_float

[2020-06-19 18:38] GUR9000 commented on #2442
Can someone explain why the GRU would need twice as many biases in TF2.0 compared to all other implementations of GRUs (origninal paper, TF1, other frameworks, etc.? Is this a TF2 bug?

[2020-06-20 03:17] twwwy opened #3483 "Failure to Convert Tensorflow Saved Model via TFJS tensorflowjs_wizard: ValueError: index can't contain negative values"
To get help from the community, we encourage using Stack Overflow and the [`tensorflow.js`](https://stackoverflow.com/questions/tagged/tensorflow.js) tag.

#### TensorFlow.js version: 2.0.1

#### Browser version: Safari. MacOS 10.15.4

#### Describe the problem or feature request

Saved Model:
https://drive.google.com/drive/folders/1suBeNXep63i2U0t61KmfT_tMlYiEW9OI?usp=sharing

#### Code to reprod

[2020-06-20 10:14] MyJumperBroke23 commented on #3466
@pyu10055 Checking on the json file, it seems like it is now graph-model, but I am getting a different error now, so I will open a separate issue

[2020-06-20 10:14] #3466 closed

[2020-06-20 11:34] programandoconro commented on #3413
Thank you. :)

[2020-06-20 15:37] delebash opened #3484 "node-pre-gyp info This Node instance does not support builds for N-API v6 using Electron and tfjs-node"
#### TensorFlow.js version
   @tensorflow/tfjs 2.0.2
   @tensorflow/tfjs-node 2.0.1

Windows 10 x64
Node 12.18.1-x64
Electron 9.0.4

#### Browser version
Chrome Version 83.0.4103.106 (Official Build) (64-bit)
#### Describe the problem or feature request
I have seen a few issues discussing this error with N-API v4 but I am using node version node-v12.18.1-x64 which is the current lts and electron v

[2020-06-20 21:55] fawazahmed0 commented on #3471
This seems to solve the issue:
`npm cache clean --force`
but I have to do it every time, after embedding large datasets, otherwise it will run very slow

[2020-06-21 07:24] micooz commented on #3384
Make `tfjs` **external** is a good approach:

1. Lock dependency version in package.json:

[code]

2. in webpack config:

[code]

3. in HTML document:

[code]

[2020-06-21 14:17] startupgurukul commented on #3477
Not a solution for issue submitted but i imagine  the original need was for a posenet resnet tflite model, there are few here, https://github.com/google-coral/project-posenet/tree/master/models/resnet

[2020-06-21 15:01] vvasc opened #3485 "Problem with COCO-SSD"
#### TensorFlow.js version
@tensorflow-models/coco-ssd": "^2.0.3",
@tensorflow/tfjs": "^2.0.1",

#### Browser version
Google Chrome
Version 83.0.4103.106 (Official Build) (64-bit)
#### Describe the problem or feature request
It seems a bug with coco-ssd version and tfjs

#### Code to reproduce the bug / link to feature request
Repository: https://github.com/vvasc/coco-ssd

[code]

There is a probl

[2020-06-21 18:15] hugozanini opened #3486 "[Contribution] Real-time semantic segmentation in the browser"
Hello,

I'd like to submit my project of Real-Time Instance Segmentation in the browser using TensorFlow.js as a contribution to the pool of examples.

[https://github.com/hugozanini/realtime-semantic-segmentation](https://github.com/hugozanini/realtime-semantic-segmentation)

Thank you,

[2020-06-22 02:20] MyJumperBroke23 opened #3487 "Error: layer: improper config format when converting SavedModel"
#### TensorFlow.js version

Keras: 2.3.1
Tensorflow: 2.20
Tensorflow.js: 1.7.2
tfjs-react-native: ^0.2.3
expo: ~37.0.3
react: ^16.9.0

#### Describe the problem or feature request

I'm trying to run a tfjs model in react native, but when I run it, I get

`Error: layer: improper config format`

and then what seems to be the entirety of my model.json starting from input. The SavedModel loads into py

[2020-06-22 02:37] sogoagain commented on #3384
I developed a simple application using '[Teachable Machine](https://teachablemachine.withgoogle.com/)' with '[create-react-app](https://github.com/facebook/create-react-app)'.
I had the same problem but didn't want to change the default setting of 'create-react-app'.
So I downgraded the "@tensorflow/tfjs" module to "1.3.1". And it works fine.
I leave a comment for people like me.

[2020-06-22 04:13] MyJumperBroke23 commented on #3487
Just realised I was doing LoadLayersModel instead of LoadGraphModel

[2020-06-22 04:13] #3487 closed

[2020-06-22 09:26] danhaus commented on #3477
Thanks @startupgurukul! Yes, that looks like what we need!

[2020-06-22 14:55] tafsiri commented on #3486
@hugozanini Great! You should make a PR to this file https://github.com/tensorflow/tfjs/blob/master/GALLERY.md adding the link to your project.

[2020-06-22 14:55] #3486 closed

[2020-06-22 17:50] lina128 opened #3489 "Consider removing debugMode from toTypedArray"
Use env().getBool() directly in the code instead of passing in by user.

[2020-06-22 18:30] sbrl opened #3490 "Tensorflow.js looks for CUDA 10.0 with libtensorflow recompiled against CUDA 10.1"
To get help from the community, we encourage using Stack Overflow and the [`tensorflow.js`](https://stackoverflow.com/questions/tagged/tensorflow.js) tag.

#### TensorFlow.js version
2.0.0

#### Browser version
n/a, Node.js v14.2.0

#### Describe the problem or feature request
If I recompile libtensorflow against CUDA 10.1.168 according to the instructions [here](https://github.com/tensorflow/tfjs

[2020-06-23 05:16] jacklynlxq opened #3494 "Problem with Inferencing with Custom Object Detection Model"
#### TensorFlow.js version
2.0.0

#### Browser version
Chrome Version 83.0.4103.61 (Official Build) (64-bit)

#### Describe the problem or feature request
I tried to train my own custom object detection model using Tensorflow's Object Detection API (using Tensorflow 1.14) and converted the model in Saved Model format into tfjs model. I followed this [tutorial](https://tensorflow-object-detection-a

[2020-06-23 05:30] theairbend3r commented on #924
I have a similar error - `RangeError: attempting to construct out-of-bounds TypedArray on ArrayBuffer`

I'm using express.js to send the json+bin files to react so that I can run inference in the browser itself.

Here's the relevant Express.js code. The json+bin files are all in the same folder.
[code]

Here's how I'm loading this in React -

[code]

The model.json file loads correctly but the sha

[2020-06-23 05:45] NALLEIN opened #3495 "[webgpu] tfjs-backend-webgpu release on npm."
Last version of [@tensorflow/tfjs-backend-webgpu](https://www.npmjs.com/package/@tensorflow/tfjs-backend-webgpu) was published 10 months ago.When will the next version be updated?

To get help from the community, we encourage using Stack Overflow and the [`tensorflow.js`](https://stackoverflow.com/questions/tagged/tensorflow.js) tag.

#### TensorFlow.js version

#### Browser version

#### Describe

[2020-06-23 06:59] grinono commented on #2906
We moved into a different direction. So i have not checked it. Our intention was adding client-side liveness detection. Where a few questions with hand pose instructions could give an indication on liveness.

[2020-06-23 07:41] INotWant opened #3496 "ValueError: Unsupported Ops in the model before optimization LSTMBlockCell"
#### Describe the problem
Hi

I'm trying to convert a **tf_saved_model** using `tensorflowjs_converter` but I got this error:
[code]
this mean that `tensorflow.contrib.rnn.LSTMBlockCell` can't be supported?

#### TensorFlow.js version
[code]

[2020-06-23 09:56] PratsBhatt commented on #3460
@rthadur why is this issue closed? without a solution?
I am still facing this issue.

[2020-06-23 13:15] annxingyuan commented on #3495
Hi @NALLEIN - thanks for the prod :) I've just published a new release: https://www.npmjs.com/package/@tensorflow/tfjs-backend-webgpu

[2020-06-23 13:15] #3495 closed

[2020-06-23 14:19] PratsBhatt commented on #3460
Hello @pyu10055 I can confirm that it is working with the latest version 2.0.1.
Thank you for your quick response.

[2020-06-23 14:26] PratsBhatt commented on #2937
Hello @annxingyuan and @rthadur ,

I can confirm that this is an issue also with the latest version - 2.0.1.
The code only works if the backend is set to `cpu`.
Machine - Ubuntu 18.04.3 LTS

Crash report - https://crash-stats.mozilla.org/report/index/9b603ba3-ab4f-42cc-9b03-9cd540200623

Firefox version - 77.0.1 (64-Bit)

It will be really nice, if someone can look into this issue and provide feed

[2020-06-23 15:10] tafsiri commented on #2906
Thanks for letting us know. Going to close this one.

[2020-06-23 15:10] #2906 closed

[2020-06-23 16:42] rthadur commented on #3496
@INotWant yes above op is a custom op which is not supported in tfjs.
cc @pyu10055

[2020-06-23 16:42] #3496 closed

[2020-06-23 16:45] rthadur commented on #3460
Thank you , closing this issue.

[2020-06-23 16:45] #3460 closed

[2020-06-24 01:19] Tylersuard opened #3501 "Why did you deprecate conversion of frozen graphs??? That is something people still use!"
Also, what in the world is an output node?  I am required to know my output node names for converting my frozen graph, but I have no clue where to find them.

#### TensorFlow.js version
0.8.6

#### Describe the problem or feature request

The documentation describes the process for conversion from frozen graph to tensorflow.js model as follows:

tensorflowjs_converter \
    --input_format=tf_froze

[2020-06-24 01:21] Tylersuard commented on #2735
Read the title please, this does not answer the question.

[2020-06-24 01:30] Tylersuard commented on #3501
For those of you searching for this same issue, you can find the output nodes in the .py file that created the frozen graph.  For me, the output nodes were:

and the following output nodes returned by the model.postprocess(..):
  * `num_detections`: Outputs float32 tensors of the form [batch]
      that specifies the number of valid boxes per image in the batch.
  * `detection_boxes`: Outputs floa

[2020-06-24 01:30] #3501 closed

[2020-06-24 01:40] Tylersuard opened #3503 "AttributeError: module 'keras_applications' has no attribute 'set_keras_submodules'"
To get help from the community, we encourage using Stack Overflow and the [`tensorflow.js`](https://stackoverflow.com/questions/tagged/tensorflow.js) tag.

#### TensorFlow.js version
0.8.6

#### Describe the problem or feature request
Attempting to convert .pb frozen graph to tensorflow.js using the following code:

!tensorflowjs_converter \
    --input_format=tf_frozen_model \
    --output_node_n

[2020-06-24 04:00] rthadur commented on #3503
@Tylersuard can you please the same with latest version ?

[2020-06-24 04:11] Tylersuard commented on #3503
I cannot use the latest version because it does not allow conversion from a frozen graph to a tensorflow.js model.

[2020-06-24 04:12] Tylersuard commented on #3503
_Note: Session bundle and Frozen model formats have been deprecated in TensorFlow.js 1.0. Please use the TensorFlow.js 0.15.x backend to convert these formats, available in tfjs-converter 0.8.6._

[2020-06-24 06:14] geetesh-gupta opened #3504 "Unable to load model using asyncStorageIO API in react-native"
To get help from the community, we encourage using Stack Overflow and the [`tensorflow.js`](https://stackoverflow.com/questions/tagged/tensorflow.js) tag.

#### TensorFlow.js version
0.3.0

#### Browser version
React Native: v0.61.5

#### Describe the problem or feature request
I am getting the following error while loading a model using AsyncStorageIO API.
[code]
In my project, I have a model wit

[2020-06-24 13:50] tafsiri commented on #3504
How big is the model? Does the same error occur if you try to save and load from Async storage after loading the model without doing any further training?

[2020-06-24 14:25] geetesh-gupta commented on #3504
I am using the Mnist Model which is trained using around 60000 images. Here's the code for the loading the model with model's json & weights using bundleResourceIO, saving it using asyncStorageIO and then loading using asyncStorageIO.
[code]
Here's the error console output
[code]

[2020-06-24 14:30] geetesh-gupta commented on #3504
I basically want to further train the pre-trained model using new images and update the model to be used later on.

[2020-06-24 21:19] pyu10055 commented on #3477
@startupgurukul looks like you have found a solution. For the original issue, seems the model file is corrupted. Also posenet model is graph model and it cannot be converted back to saved model.

[2020-06-24 21:19] #3477 closed

[2020-06-24 21:51] pyu10055 commented on #3471
cc @annxingyuan I think there is a mem leak on the USE model based on the benchmark page.

[2020-06-24 22:08] camhart opened #3508 "tfjs-node, windows 10, duplicate 85mb file"
#### TensorFlow.js version
tfjs-node v2.0.1 on windows 10

#### Describe the problem or feature request
@tensorflow/tfjs-node contains a duplicate file at:
`deps/lib/tensorflow.dll`
and
`lib/napi-v5/tensorflow.dll`

The file is 85mb in size.  Could the two files be simplified with one?

[2020-06-25 12:57] Yakagi17 opened #3509 "Error LoadLayersModel() RangeError: byte length of Float32Array should be a multiple of 4."
To get help from the community, we encourage using Stack Overflow and the [`tensorflow.js`](https://stackoverflow.com/questions/tagged/tensorflow.js) tag.

#### TensorFlow.js version
@tensorflow/tfjs@2.0.1 | Apache-2.0 | deps: 8 | versions: 89

#### Browser version
Version 83.0.4103.116 (Official Build) (64-bit)

#### Describe the problem or feature request
I try to load my model.json from FIrebas

[2020-06-25 13:08] #3394 closed

[2020-06-25 13:20] andrefantinato commented on #2003
Thanks @JoshNewham1, save my project =D

[2020-06-25 13:25] theairbend3r commented on #3384
I've got the exact same issue. I get the error => `TypeError: Cannot call a class as a function`

The culprit is the line `const model = await tf.loadLayersModel(MODEL_URL)`.

[2020-06-25 13:35] annxingyuan commented on #3471
@pyu10055 I think the issue is that on the benchmark page we get the USE output data as part of the `predict` function, which is unlike all our other models (so the benchmarking script's tensor cleanup mechanism fails to apply to the USE). I sent a fix here: https://github.com/tensorflow/tfjs/pull/3510

[2020-06-25 19:20] juiceboxjoe commented on #283
@bileschi @Ouwen it worked without changing any of the other fields! Thanks!!

[2020-06-26 14:06] Yakagi17 commented on #3509
the issue is solve by set CORS on bucket policy and edit firebase rules for public.

[2020-06-26 14:06] #3509 closed

[2020-06-26 22:55] Hugo-WB commented on #3384
I have the same issue when using github pages with tensorflow 2.0.1 when try to create a tensor

[2020-06-29 05:56] axinging opened #3524 "WebGPU/WebGL debug mode not work"
### WebGPU results and errors:
Results of multiply (No time summary for add and conv2d) :
[code]

Expectation:
All execution of all related ops, such as add, mul, conv2d

Error 1:
[code]
Error 2:
[code]

### WebGL results and errors:

Results of Add and Mul (No conv2d):
[code]

Expectation:
All execution of all related ops, such as add, mul, conv2d

Error 1:
[code]

Error 2:
[code]

### Test case:

[2020-06-29 11:53] axinging commented on #3524
My workaround for this is comment out indose profileKernel:
r.data().then(vals =>

[2020-06-29 11:53] #3524 closed

[2020-06-30 07:56] chanduthedev opened #3533 "Error: Invalid TF_Status: 2 Message: Failed to get convolution algorithm. This is probably because cuDNN failed to initialize"
To get help from the community, we encourage using Stack Overflow and the [`tensorflow.js`](https://stackoverflow.com/questions/tagged/tensorflow.js) tag.

#### TensorFlow.js 2.0.1
#### Browser: NA(using CLI)
#### NPM: 6.14.5
#### Node: v12.18.1

#### Describe the problem or feature request
I get the following stacktrace when using face-api.js's detectAllFaces in GPU machine

`2020-06-30 15:27:50.

[2020-06-30 12:37] Famidoc commented on #2999
It will work if change some codes to :

...............
.sort((a,b)=> a.arraySync()[0]> b.arraySync()[0]? 1:-1)
 .slice(0,k)
 .reduce((acc,pair)=>acc+pair.arraySync()[1],0)/k;
................

[2020-06-30 16:34] caisq opened #3537 "tfjs 2.0.1 prints extraneous overriding lines to console on startup"
To get help from the community, we encourage using Stack Overflow and the [`tensorflow.js`](https://stackoverflow.com/questions/tagged/tensorflow.js) tag.

#### TensorFlow.js version
tfjs-node 2.0.1

#### Browser version
node v12.13.1

#### Describe the problem or feature request
Use the following reproduction code: `const tf = require("@tensorflow/tfjs-node");`

In the console, when tfjs-node is

[2020-06-30 20:10] pmer commented on #3537
This happens in the browser, outside of Node.js, too.

[2020-06-30 20:14] pmer commented on #1607
Relatedly, if you do your own WebGL stuff in the same context as Tensorflow.js, you have to restore TFJS's vertex attributes and ELEMENT_ARRAY_BUFFER because TFJS only sets them once at initialization time. Once you do that, it works fine.

[2020-06-30 23:04] #3489 closed

[2020-07-01 08:55] TonySpegel commented on #3485
I'm also struggling with this, what combination has worked for you @vvasc ?
Mine are these:
[code]
this is a mess really, how is one supposed to use these, by guessing?

[2020-07-01 09:49] sacredvoid opened #3540 "Question: What is the standard practice when performing inference on a video to maximise performance (FPS, Memory)?"
#### TensorFlow.js version
Using this source for the script : `https://cdn.jsdelivr.net/npm/@tensorflow/tfjs/dist/tf.min.js`
#### Describe the question
I am trying to perform inference on a video and feed it back to a canvas. Current pipeline is: <br>`VideoTag -> Hidden Canvas -> OpencvJS(matrix conversions and resizing) -> TFJS Predict -> Post Processing using OpencvJS -> Display Canvas`

Major b

[2020-07-01 10:07] paq85 opened #3541 "FaceMesh detects face even when there's no face"
#### TensorFlow.js version
The latest (?)

#### Browser version
Chrome 83

#### Describe the problem or feature request
FaceMesh model detects face even when there's no face.

#### Code to reproduce the bug / link to feature request
Run FaceMesh demo at https://storage.googleapis.com/tfjs-models/demos/facemesh/index.html
And do something like you see in the attached image.
You will get face detect

[2020-07-01 11:59] adityapatadia opened #3542 "Unable to specify custom binary"
Code in this line https://github.com/tensorflow/tfjs/blob/69dfce1f988d516b148f7e961490cc6acf0880ba/tfjs-node/scripts/deps-constants.js#L98 actually will only check for `custom-binary.json` inside the tfjs-node folder and not inside project folder. It becomes very hard to put that file in node_modules folder in CI envirnments.

[2020-07-01 17:58] rthadur commented on #3542
@adityapatadia according this original commit [comment](https://github.com/tensorflow/tfjs/pull/2513#issuecomment-565651906) it looks at same directory.Can you please verify again.

[2020-07-01 18:23] cswkim commented on #1364
I'm also getting this error with node v14.4.0. Any luck?

[2020-07-01 19:27] rthadur commented on #3533
@chanduthedev you need to run this command `yarn enable-gpu` to enable GPU locally.

[2020-07-02 09:38] adityapatadia commented on #3542
According to nodejs docs `__dirname` gives path of current  module. https://nodejs.org/docs/latest/api/modules.html#modules_dirname

This is the reason, when we put `custom-binary.json` file in project folder, it's never read by install script.

[2020-07-02 12:10] lakshya-IIT4gp commented on #3004
I'm facing the same issue with @tensorflow/tfjs-node: ^1.7.1,

I'm trying to load a resnet-50 model with Multiple batchNormalization layers, which I converted using
`tfjs.converters.save_keras_model(model, tfjs_target_dir)`

I face the same issue with loading of batchNorm layer params

[2020-07-02 18:37] chandanrao611 commented on #494
Thank you providing such a wonderful solution

[2020-07-02 21:22] pyu10055 commented on #3540
@sacredvoid there are couple ways to add improvements:
1. Use [canvas filter](https://developer.mozilla.org/en-US/docs/Web/API/CanvasRenderingContext2D/filter) to add layer of images onto the video, you can check out our bodypix example.
2. You don't have to use a separate hidden canvas, you can directly use your drawing canvas for tfjs prediction and directly use tfjs output gl texture for your p

[2020-07-02 21:26] pyu10055 commented on #3494
@jacklynlxq can you share the full error stack? so we can see where the error is originated, thanks.

[2020-07-03 01:42] matheustt098 opened #3548 "UnicodeDecodeError on node installation"
To get help from the community, we encourage using Stack Overflow and the [`tensorflow.js`](https://stackoverflow.com/questions/tagged/tensorflow.js) tag.

#### TensorFlow.js version
2.0.1
#### Browser version
Node: v12.18.2
#### Describe the problem or feature request

The package doesn't install on the node, already tried the installation guide, and nothing works.
I'm currently using python v 2.

[2020-07-03 04:22] #3485 closed

[2020-07-03 05:46] jacklynlxq commented on #3494
This is the full error stack:
[code]

Also, after disposing the variables using ```tf.dispose()```, ```tf.disposeVariables()```, ```tf.engine().startScope()``` and ```tf.engine().endScope()``` (I was trying everything I could to clear the tensors haha), I found that only ```numBytesInGPU``` is increasing but the ```numTensors``` stays the same.

```{unreliable: false, numBytesInGPU: 15067536, numT

[2020-07-03 11:57] sacredvoid commented on #3540
Great inputs, thank you!
Another question I had was if you know any way to convert `RGB -> YUV -> RBG` other than OpenCV as it takes a lot of time using OpencvJS.

[2020-07-03 12:33] annxingyuan commented on #3540
Hi @sacredvoid - as Ping mentioned you should be able to achieve faster performance by directly rendering the TFJS output texture for post processing. The key is to initialize a custom WebGL backend with your own WebGL context, like so:

[code]

This way, you can access the WebGL context that TFJS uses for computation and chain a rendering shader to the end of the inference pipeline. Within the re

[2020-07-03 14:47] sacredvoid commented on #3540
Thank you @annxingyuan and @pyu10055 😄

[2020-07-03 14:47] #3540 closed

[2020-07-03 16:46] chittalpatel opened #3550 "Uncaught (in promise) Error: Argument tensors passed to stack must be a Tensor[] or TensorLike[]"
#### TensorFlow.js version
2.0.0

#### Browser version
Microsoft Edge Version 83.0.478.58 (Official build) (64-bit)

#### Describe the problem or feature request
Uncaught (in promise) Error: Argument tensors passed to stack must be a `Tensor[]` or `TensorLike[]`
Error occurs every time the model is fit with tensor arrays or by zipping as dataset.

Error Stack :
tensor_util_env.js:125
Uncaught (in

[2020-07-03 21:24] el1tehAx0r commented on #1764
hey what was the issue?

[2020-07-03 21:49] el1tehAx0r commented on #3434
hey was this ever fixed? I am getting an issue but with the cocossd cdn. It just happened today. How did you fix this issue?

[2020-07-04 05:57] axinging opened #3551 "WebGPU/WebGL debug mode not work"
### WebGPU results and errors:
Results of multiply (No time summary for add and conv2d) :
[code]

Expectation:
All execution of all related ops, such as add, mul, conv2d

Error 1:
[code]
Error 2:
[code]

### WebGL results and errors:

Results of Add and Mul (No conv2d):
[code]

Expectation:
All execution of all related ops, such as add, mul, conv2d

Error 1:
[code]

Error 2:
[code]

### Test case:

[2020-07-04 14:18] AmitMY opened #3553 "bug(converter): fails to convert model"
#### TensorFlow.js version
-  tensorflowjs  2.0.1.post1
- tensorflow 2.2.0
#### Browser version
(Converter, no browser)

#### Describe the problem or feature request
`tensorflowjs_converter` fails to convert simple tensorflow model.

#### Code to reproduce the bug / link to feature request
Python model:
[code]

Convert to `tensorflow.js`:
[code]

(I also tried using the wizard, and other command v

[2020-07-04 23:15] matheustt098 commented on #3548
Problem Solved, to anyone having the same problem it was because of the directory path, i just moved the working folder to my local directory on C:\SomeFolderWithoutSpaces and it works!

[2020-07-04 23:15] #3548 closed

[2020-07-05 01:14] lihost commented on #3434
@el1tehAx0r - Not yet, still same.

[2020-07-05 07:17] munrocket commented on #3541
You can find Threshold parameter.

[2020-07-05 07:18] munrocket commented on #3537
+

[2020-07-05 07:34] munrocket opened #3554 "Can’t find ESM versions for tfjs-core and tfjs-converter"
I tried to use dynamic imports with ES modules:
[code]
But can’t find tfjs-core and tfjs-converter in ESM format in jsdelivr/unpkg CDNs. But other packages have it, for example `https://cdn.jsdelivr.net/npm/@tensorflow/tfjs-backend-wasm@2.0.1/dist/tf-backend-wasm.esm.js`.

[2020-07-05 11:30] DheemanthBhat opened #3555 "Heatmap: xTickLabels and yTickLabels are not sorting in numerical order."
Hi,
`tfvis.render.heatmap` is not sorting `xTickLabels` and `yTickLabels` in numerical order.
For example its sorting as: 0, 1, 10, 111, 20, 22... etc
![image](https://user-images.githubusercontent.com/27056308/86531901-ed385600-bee2-11ea-8d65-52e3c10ff48a.png)
#### TensorFlow.js version
1.4.3
#### Browser version
Google Chrome Version 83.0.4103.116 (Official Build) (64-bit)

This behavior is seen

[2020-07-05 17:57] pyu10055 commented on #3553
Try to set the flag —control_flow_v2=true

[2020-07-05 19:25] AmitMY commented on #3553
Thanks @pyu10055
Modified command:
[code]

Error
[code]

[2020-07-05 21:56] isaacanthony opened #3557 "tfjs-models/coco-ssd Broken Sample Code Provided (Node Module Requires Transpiling)"
To get help from the community, we encourage using Stack Overflow and the [`tensorflow.js`](https://stackoverflow.com/questions/tagged/tensorflow.js) tag.

#### TensorFlow.js version

@tensorflow-models/coco-ssd@2.0.4

#### Browser version

node v14.5.0

#### Describe the problem or feature request

The sample Node script on this page (https://github.com/tensorflow/tfjs-models/tree/master/coco-ssd

[2020-07-05 23:31] saadz-khan commented on #1296
Hey @yjhatfdu @knok does the code you guys shared above without tensorflow.js converter scripts run works and convert the stylegan model to tensorflow format? What is the import config as it is giving an error for me? Any specific version or where is this config imported from??
`import pickle
import numpy as np
import dnnlib.tflib as tflib
import dnnlib
import tensorflow as tf
import config

tflib

[2020-07-06 02:47] Nithanaroy opened #3558 "tfjs-models/coco-ssd fails with "Cannot read property 'loadGraphModel' of undefined""
#### TensorFlow.js version
2.0.1

#### Browser version
Chrome 83

#### Describe the problem or feature request
The sample code given on coco-ssd README doesn't work anymore https://github.com/tensorflow/tfjs-models/tree/master/coco-ssd#via-script-tag with the above tfjs version and tfjs-models/coco-ssd version of 2.0.4. Works fine with v2.0.3

[code]

[2020-07-06 06:08] PaulCreaserML opened #3559 "TensorFlow.js - Audio recognition using transfer learning tutorial :- 404 Errors Links for tfs and speech-commands"
# TensorFlow.js - Audio recognition using transfer learning

**Tutorial**

https://codelabs.developers.google.com/codelabs/tensorflowjs-audio-codelab/index.html#2

The links in the above tutorial produce 404 errors.

[code]

## Error Message

**Chrome Console**

DevTools failed to load SourceMap: Could not load content for

https://cdn.jsdelivr.net/npm/@tensorflow/tf.min.js.map: HTTP error: status

[2020-07-06 08:48] paq85 commented on #3541
@munrocket are you referring to the `detectionConfidence` parameter?

[code]

I've been testing it with a range from 0.1 to 0.999 and it does not seem to change anything.

I get a face detected on a cartoon animal =D

[2020-07-06 17:09] pyu10055 commented on #3557
This has been fixed, please give the new release a try 2.1.0

[2020-07-06 17:10] pyu10055 commented on #3558
This has been fixed, please give the new release a try 2.1.0

[2020-07-06 17:29] pyu10055 commented on #3553
@AmitMY This looks like a TensorFlow internal error, investigating it with Keras team, please stay tuned.

[2020-07-06 18:45] isaacanthony commented on #3557
That version works for me! Thank you for your quick turnaround.

[2020-07-06 18:45] #3557 closed

[2020-07-06 20:50] rthadur commented on #3434
@tafsiri gentle ping if you have any update on this.Thank yo

[2020-07-06 20:51] rthadur commented on #3559
@PaulCreaserML there is already issue opened to track it , please refer [here](https://github.com/tensorflow/tfjs/issues/3434)

[2020-07-06 20:51] #3559 closed

[2020-07-06 22:39] whatda opened #3562 "Add option to build tfjs-node for CPUs without AVX"
#### TensorFlow.js version

tfjs-node, latest version.

#### Describe the problem or feature request

Since my (not too old) CPU has no AVX, I get the error `Illegal instruction (core dumped)` when using the latest tfjs-node I installed via `npm`.

Proposal: There should be a fast and easy way to build tfjs-node, if your CPU does not support AVX.
If thats not possible, at least a documentation on

[2020-07-06 22:49] Zurdge opened #3563 "React Native Bug? - tf.Tensor changes values"
### using
"@tensorflow/tfjs": "^2.0.1",
"@tensorflow/tfjs-react-native": "^0.3.0",

tf.tensor seems to be changing the values slightly which results in faulty predictions.

I'm building a react native app and have followed the instructions by building it with expo etc.
Tensorflow itself is running correctly however I'm not getting any predictions.
After looking into the tensor's values I noticed t

[2020-07-07 07:08] cybermax-008 opened #3566 "Error: Unknown layer: TensorFlowOpLayer"
Hi

I'm working on a project, where i'm trying to convert Keras saved model (.h5) to tfjs model.
But, I want a part of  the existing (.h5) model that to be converted to tfjs model .
I did the following slicing to the weights of Keras model:

**Snippet from python code:**
[code]
**Following is the ERROR -**

**sub model summary:**
____________________________________________________________________

[2020-07-07 10:30] HrBbCi opened #3567 "How to improve tensor.dataSync()."
#### TensorFlow.js version : 1.7.1 and 2.0.1

#### Browser version: Firefox

#### problem:
The result of model.predict is a tensor. So I want to draw image, I converted tensor to array with tensor.dataSync(). So dataSync() is too slow. I used await tensor.data(),  tensor.buffer() and tf.browser.toPixel() but everything is no change. Time convert tensor to array approximately 200ms

[2020-07-07 10:56] aknoerig commented on #757
Very confusing indeed. I just had the same issue with a Uint16Array. Either the documentation should be adapted to point out which sorts of TypedArray are accepted, or the constructor should be able to consume them all.

[2020-07-07 14:23] arjunaskykok opened #3568 "The file size of the library in Node is too big (9MB)"
#### TensorFlow.js version
2.0.1

#### Browser version
Firefox / Node

#### Describe the problem or feature request
I am building a browser extension to predict salary using Tensorflow.js (https://predictsalary.com). The problem is Firefox addons validator forbids a non-binary file bigger than 4MB. When I compiled my Typescript files using Tensorflow.js, the size of the file was 9MB!

Right now, I

[2020-07-07 16:06] tafsiri commented on #3563
Hi, this is a general issue with precision in floating point numbers, and varying precision in different implementations of webgl on various devices. The solution is to make your code robust to small variance in float values (similar to how you would do this when comparing the output of floating point operations).

The sample above isn't really that useful in seeing if there is a problem that woul

[2020-07-07 16:09] tafsiri commented on #3568
This may be a question better suited for stack overflow as it might be more related to your build settings. Its also a bit confusing as you mention the library being too big in node but you also reference a browser extension which I assume makes a js bundle?

For reference our largest bundle is ~844kb before gzip (https://bundlephobia.com/result?p=@tensorflow/tfjs@2.0.1) so i think you might be pu

[2020-07-07 16:21] tafsiri commented on #3554
As mentioned in my [response on the mailing list](https://groups.google.com/a/tensorflow.org/g/tfjs/c/TjRKUIB7Ab8/m/zkdo6uMQCgAJ) the files [are](https://cdn.jsdelivr.net/npm/@tensorflow/tfjs-core@2.0.1/dist/index.js) [there](https://cdn.jsdelivr.net/npm/@tensorflow/tfjs-converter@2.0.1/dist/index.js), and the path is described in our package.json so you should be able to determine the correct url

[2020-07-07 16:21] #3554 closed

[2020-07-07 16:24] arjunaskykok commented on #3568
There is no model in the build file in this example. As we can see, this is the content of the file:

[code]

This file is compiled into a 9MB build file.

So I build a js file to be included in the browser extension using Node (webpack).

Feel free to close this issue but maybe a documentation on how to build a Tensorflow.js file which has a small size should be included.

[2020-07-07 16:27] rthadur commented on #3566
As the error message indicated, you can implement this layers in javascript as those TF ops are available in tfjs
you need to register custom layers and collect the inputs and call tfjs ops (strided_slice, etc)

[2020-07-07 16:34] rthadur commented on #3567
Please share reproduction code or codepen example

[2020-07-07 16:36] rthadur commented on #757
@aknoerig @jelling would either of you like to contribute ?

[2020-07-07 16:55] arjunaskykok commented on #3568
If I use `webpack --mode production`, I still got 6MB file (instead of 9MB).

[2020-07-07 17:24] geetesh-gupta commented on #3504
The model size is 2379688 bytes.
If I try to create a new custom model of size approx 111234 bytes and save/load using asyncStorage, it works.
The original model from mnist if loaded using bundleResource and then with asyncStorage creates error.

I am using tfjs-react-native as a PoC for my project. For that, I will need to retrain the model with new data on mobile and then send the updated weight

[2020-07-07 17:47] munrocket commented on #3554
Thank you for reply on github. I should connect my primary email with google, because I could discuss this issue there.

Dynamic imports with ESM supported by [89% of browsers](https://caniuse.com/#search=dynamic%20import). I think we should consider one big ESM file because in this case browsers makes less requests. I will make PR in this weekend if you ok with that.

[2020-07-07 19:26] alvinsunyixiao opened #3573 "Unsupported ops: TensorListStack, TensorListReserve, TensorListFromTensor"
#### TensorFlow.js

2.0.1

#### Browser

Chrome 83.0.4103.116

#### Problem Description

I am trying to implement a real-time interactive high-dimensional ODE simulation tool with `tfjs`. My approach is by defining the complicated computation in Python and generate TF Model as computation graphs, and then trigger the simulation step in JavaScript by performing inference on the saved graph (TF Save

[2020-07-07 20:16] Zurdge commented on #3563
### Hands on demo
https://github.com/Zurdge/tensorflow-react-native-example

See the above link.
#### Setup
- Clone repo
- ```npm install```

#### Python example ✔️
- ```npm run examplePYTHON```
- outputs the predicted value of ```[[30.701174]]``` 😸

#### Browser example ✔️
- ```npm run exampleWEB```
- [Go to Localhost](http://localhost:3000/)
outputs the predicted value of ```30.72240...``` 😸

##

[2020-07-07 22:28] AdamHordines opened #3574 "Using tfjs-node-gpu on a Cuda compute capability 3.0 GPU"
#### TensorFlow.js version
@tensorflow/tf-js-node-gpu: 2.0.1

#### Browser version
Node v13.10.1
Windows 10

#### Describe the problem or feature request
The script logs `tensorflow/core/common_runtime/gpu/gpu_device.cc:1700] Ignoring visible gpu device (device: 0, name: GeForce GTX 760, pci bus id: 0000:1b:00.0, compute capability: 3.0) with Cuda compute capability 3.0. The minimum required Cuda

[2020-07-07 22:29] cybermax-008 commented on #3566
@rthadur
Hi,
Thanks for the prompt !
We created the custom layer corresponding to "stridden_slice". We also registered it.
**Creation and registration of custom layer:**

[code]

[code]
**Ouput and Error:**

UnhandledPromiseRejectionWarning: TypeError: Cannot read property 'length' of undefined

So, Please correct me if I went wrong anywhere? Any inputs will be helpful!

[2020-07-07 23:19] christoz commented on #3563
Probably off topic, can a saved model along with the weights.bin generated in node with **tfjs-node** as tf package can be used in react native side?

I'm trying to make this work but only the predictions are wrong it seems though  the knowledge is not transferred from saved model.
getting `[0.1999678909778595, 0.19998815655708313, 0.20000174641609192, 0.1999642550945282, 0.20007798075675964]`for

[2020-07-08 00:02] HrBbCi commented on #3567
This is my code:
1. function predict(img){
 const predictions = model.predict(img);
       var start= performance.now();
        const result_array = predictions.dataSync();
        var end = performance.now();
}
or
2. async function predict(img){
       const predictions = (await) model.predict(img);
        var start= performance.now();
        const result_array = await predictions.data();

[2020-07-08 02:21] #3537 closed

[2020-07-08 02:22] tafsiri commented on #3537
This fix will roll out in the next release.

[2020-07-08 06:19] navendu-pottekkat commented on #3537
Are there any temporary workarounds to this?

[2020-07-08 06:30] purnasai-soulpageit opened #3577 "Unable to install @tensorflow/tfjs-node"
Hi I am using
[code]
When i am trying to install @tensorflow/tfjs-node, it threw me this error below
[code]
If the error is because of node-pre-gyp, then I ran this command
[code]
and then I again tried installing @tensorflow/tfjs-node and I still got the same error as above. Any help would be appreciated.
Thanks in advance

[2020-07-08 13:54] shilsircar opened #3578 "Support for CAUSAL padding mode in conv1dWithBias is not implemented yet - Is there plans to implement this?"
To get help from the community, we encourage using Stack Overflow and the [`tensorflow.js`](https://stackoverflow.com/questions/tagged/tensorflow.js) tag.

#### TensorFlow.js version
tfjs@2.0.1
#### Browser version
Chrome m80
#### Describe the problem or feature request
I have converted a Keras model to TFJS as follows:
model_class.model.load_weights('./pretrained_model/model.h5')
tfjs.converters.

[2020-07-08 15:05] vinod1234567890 commented on #3566
When I tried to reproduce this in node, got the same error: `TypeError: Cannot read property 'length' of undefined.` And, it was pointing to this location:
[code]
this was the source code in that line:

[code]
' console.log(this.stateSpec[0].shape)' inside the above `if` block is returning 'undefined'.
Any suggestions?

[2020-07-08 17:03] rthadur commented on #3574
@AdamHordines did you get chance to go over this instructions [here](https://medium.com/@naarkie/using-tensorflow-gpu-on-a-compute-3-0-graphics-card-in-windows-4184f4228fe9) ?

[2020-07-08 17:17] tafsiri commented on #3568
Have you tried using a bundle analyzer to see what is in your bundle? https://www.npmjs.com/package/webpack-bundle-analyzer

That size sounds like minification isn't working, when you look at the contents of the resulting bundle do you see a bunch of unminified code or comments

[2020-07-08 17:33] tafsiri commented on #3504
It looks like your device just won't let you save a model of that size locally to async storage. If you are on android you can try adjusting the limits for async storage size https://react-native-community.github.io/async-storage/docs/advanced/db_size (though it appears your model should be under that limit but it's worth a try). Have you tried this on any other device? Do you see the same behavio

[2020-07-08 17:35] rthadur commented on #3577
@purnasai-soulpageit can you please share your package.json ?

[2020-07-08 17:42] tafsiri commented on #3504
Also could you post device/os information?

[2020-07-08 17:42] arjunaskykok commented on #3568
![Selection_036](https://user-images.githubusercontent.com/32124593/86952113-af565e80-c17c-11ea-8c94-86577a75094d.png)

This is the output of the compilation process:
[code]

[2020-07-08 17:43] rthadur commented on #3578
@shilsircar not any time soon , let us know if you would like to contribute ?

[2020-07-08 17:48] rthadur commented on #3566
cc @pyu10055

[2020-07-08 17:51] tafsiri commented on #3563
@Zurdge thanks for posting the info. I see that you are using the simulator and that may be a factor (or do you get the same behaviour on device?). Depending on your config webgl may not be available in the simulator.

I would do the following to test this out. First set the backend to ['cpu'](https://js.tensorflow.org/api/latest/#setBackend) and try it out on the simulator. You should be able to

[2020-07-08 17:53] tafsiri commented on #3563
@christoz yes you can use one saved in tfjs-node in react-native. Are you getting different results in node from what you get in react native (for the same input)?

[2020-07-08 18:10] geetesh-gupta commented on #3504
I am running the react-native application in Redmi Note 5 Pro 4GB RAM/ 64GB Internal Storage with OS version Android 10.

[2020-07-08 18:29] cybermax-008 commented on #3566
Just to add...
All the other TF_ops custom layers have the same name in the static method getClass Name : "TensorFlowOpLayer".

[2020-07-08 18:55] purnasai commented on #3577
Hi, Thank you for responding. here is the Package.json file
[code]

[2020-07-08 19:35] pyu10055 opened #3580 "[WASM] support BroadcastTo op"
To get help from the community, we encourage using Stack Overflow and the [`tensorflow.js`](https://stackoverflow.com/questions/tagged/tensorflow.js) tag.

#### TensorFlow.js version
2.0.1
#### Browser version

#### Describe the problem or feature request
Where op requires the then/else tensors to be broadcasted to a common shape, in order to move the logic to backend, WASM need to have the broadc

[2020-07-08 19:40] rthadur commented on #3577
You should use only one tag not bot both tags.

[2020-07-08 19:46] AdamHordines commented on #3574
I did not follow this guide, but I did install the necessary software requirements [listed here](https://www.tensorflow.org/install/gpu#software_requirements). The Medium article seems to be installing Tensorflow 1.8 for Python. While I can work with this (thanks for directing me to it), I wonder if it is possible to get a Node version working (the Python installation doesn't affect the Node packa

[2020-07-08 20:58] shilsircar commented on #3578
I might will let u know.

However what I discovered was a bug. My conv1d layer has bias set to false for causal padding. Yet it tries to apply bias for the padding. Is that a known issue ?

[2020-07-08 21:09] purnasai-soulpageit commented on #3577
I first tried the one and tried the other. But still facing the same issue
even when I am trying to install either of it

On Thu, Jul 9, 2020, 1:11 AM Rajeshwar Reddy T <notifications@github.com>
wrote:

[2020-07-08 22:17] mohataher opened #3582 "`StatefulPartitionedCall` is unsupported, preventing OpenAI GPT-2 models from getting converted"
#### TensorFlow.js version
2.2.0

#### Browser version
Irrelevant

#### Describe the problem and code to reproduce
I'm trying to convert a GPT-2 model using tfjs library. Following recommendations on [this answer][1], I exported the GPT-2 model as SavedModel.

    !python3 -m pip install -q git+https://github.com/huggingface/transformers.git
    !python3 -m pip install tensorflow tensorflowjs

The

[2020-07-08 23:55] oztue commented on #2723
In my experience TF.js blocks the thread it is running in during the inference, even with WebGL backend. So I moved TF.js usage into a WebWorker to mitigate that, and it fixed the UI blocking (it was very apparent during ~5 secs warmup especially, but for each inference it blocks UI thread too when I intentionally made inference more expensive), but then I can ~only support Chrome now because WebG

[2020-07-09 00:51] rthadur commented on #3577
please check for a similar issue [here](https://github.com/tensorflow/tfjs/issues/3548)  , [example2](https://github.com/tensorflow/tfjs/issues/3016)

[2020-07-09 06:16] purnasai commented on #3577
In one of the referred links above, I saw using folder names without spaces worked. It also worked for me.

[2020-07-09 06:20] purnasai-soulpageit commented on #3577
In one of the referred links above, I saw using folder names without spaces worked. It also worked for me. Thank you so much.

[2020-07-09 06:20] #3577 closed

[2020-07-09 08:43] cybermax-008 commented on #674
Hi,
@caisq can you please answer the question posed by you in the above comment.
In my model.json (converted from Keras model after slicing only a part of it's weights) ], there are some layers, `TensorFlowOpLayer` created due to the operations like slicing, reshape and stack. There are total of 9 layers corresponding to the classname : `TensorFlowOpLayer`.
Further, we created 9 custom layers with

[2020-07-09 11:16] christoz commented on #3563
@tafsiri Your response is hugely appreciated, thank you.

Yes exactly, in node side  for validation image  works and predicts as expected.
`/src/domain/classification/data/food/validation/Gado-gado/5491061_683737fc-ab29-4409-83cd-8fb1974036cd.jpg
`
prediction.dataSync() Float32Array(5) [
  0.000003024539637408452,
  0.000017217989807249978,
  0.9999618530273438,
  3.07971845359134e-7,
  0.00001757

[2020-07-09 14:39] aknoerig commented on #757
Thanks, but I wouldn't feel comfortable to patch this in a solid way. :/
Btw, adapting the documentation would be sufficient as a first step: just explicitly name the supported types of `TypedArray`.

[2020-07-09 17:53] Agiledom commented on #2265
@lina128 I'm hitting @shnamin 's exact issue / error with NonMaxSuppressionV4.

The model is converted via the following on tfjs 1.7.4  (I have tried converting the saved model also) :-

[code]

On the of chance this isn't a conversion issue and it's an inference related issue: I'm using the react native API and utilising the camera-with-tensors module, to run inference.

Any ideas?

[2020-07-09 18:59] lina128 commented on #2265
Hi @Agiledom, we can add V4 support. You can track the work here. https://github.com/tensorflow/tfjs/issues/2450
We can target next week release.

[2020-07-09 19:13] Agiledom commented on #2265
Hey @lina128 - that would be awesome! Thank you so much! I will track @ #2450

[2020-07-09 19:33] Zurdge commented on #3563
@tafsiri

Following your advice,
### ```tf.setBackend('cpu');``` ✔️
Setting the backend to CPU allowed my model to return the correct results!
The original issue does seem to stem from the GPU/WebGL section.
I have another project running concurrently to this which makes use of Expo's ```expo-gl``` and I noticed that WebGL on the emulator "clears" to "White" whereas on my real device the WebGL cle

[2020-07-09 19:50] rthadur commented on #3563
@Zurdge can we close this issue ?

[2020-07-09 20:11] Zurdge commented on #3563
@rthadur
Tensorflow remains not useable for the project since importing ```@tensorflow/tfjs-react-native```  causes the build to fail with the error code
[code]
Is this something you folks have seen pop up before? Theres no results in the Github issues regarding it.

[2020-07-09 20:36] rthadur commented on #3563
@Zurdge I believe this has been cased by `expo` please check here for similar [issue](https://github.com/expo/expo/issues/8294), if not we will wait for @tafsiri to comment on this, thank you

[2020-07-09 21:10] tafsiri commented on #3568
I can't see the size (in kb) of the @tensorflow block from your screenshot. Could you tell us how big it is? Also could you try my second suggestion and look at the output file itself and check if there is unminified code in there.

[2020-07-09 22:19] AdamHordines commented on #3574
While the referenced instructions were not exactly the solution I was hoping for, they did provide a solution to use until I can upgrade my hardware, so I am closing the issue. Thanks for your help.

[2020-07-09 22:19] #3574 closed

[2020-07-10 08:40] arjunaskykok commented on #3568
![tf](https://user-images.githubusercontent.com/32124593/87134372-cf903580-c2c2-11ea-8e2e-4fc0be9618c5.png)

Sorry, I forgot to tell you the size.

About the code, yes, it has been minified as you can see below.

![Selection_037](https://user-images.githubusercontent.com/32124593/87134986-a0c68f00-c2c3-11ea-82dd-9ebdc294334b.png)

[2020-07-10 14:16] shilsircar opened #3585 "WASM backend error - Error: 'complex' not yet implemented or not found in the registry"
To get help from the community, we encourage using Stack Overflow and the [`tensorflow.js`](https://stackoverflow.com/questions/tagged/tensorflow.js) tag.

#### TensorFlow.js version
2.0.1
#### Browser version
Chrome m82
#### Describe the problem or feature request
I get this error trying the wasm backend on a custom model:

Uncaught (in promise) Error: 'complex' not yet implemented or not found i

[2020-07-10 15:19] tafsiri commented on #3568
So from your screenshot tfjs is 508.79kb parsed and 80.2kb gzipped. The stat size (i.e. the size of input before minification) is 1.15mb. So it seems that tfjs is not the cause here, so I'm going to close this issue. The only tip i can give you is to look closely at the output of that visualization to see what contributes to the 6mb output you are seeing.

[2020-07-10 15:19] #3568 closed

[2020-07-10 15:27] arjunaskykok commented on #3568
I mean, it's your call. But when I remove tensorflow.js library, my file size is reduced drastically.

Anyway I have given up. I move the inference to the server.

Thank you for responding this issue, anyway.

[2020-07-10 20:41] #3421 closed

[2020-07-10 20:51] pyu10055 commented on #3553
@AmitMY To work around this issue, you can try to save the model as HDF5 format, and use one of the following commands:
[code]

This would convert the python model to tfjs layers model.

[2020-07-10 21:16] rthadur commented on #3281
Closing this due to lack of activity, feel to reopen. Thank you

[2020-07-10 21:16] #3281 closed

[2020-07-10 21:57] rthadur commented on #3144
Closing this due to lack of activity, feel to reopen. Thank you

[2020-07-10 21:57] #3144 closed

[2020-07-10 22:01] pyu10055 commented on #3562
@whatda you can check out these instruction to compile TF from source on your own machine.
https://github.com/tensorflow/tfjs/tree/master/tfjs-node#optional-build-optimal-tensorflow-from-source

[2020-07-10 22:43] Zurdge commented on #3563
## Summary of issue
Using ```import "@tensorflow/tfjs-react-native"``` was causing some issues.
There were two issues which stem out from this.

1 - One was ```WebGL``` in the Android emulator was causing Tensorflow results to default to ```[0]```.

2 - The second was that something inside ```import "@tensorflow/tfjs-react-native"``` was causing expo to not build correctly throwing the error ```Th

[2020-07-10 22:43] #3563 closed

[2020-07-10 23:20] pyu10055 commented on #3490
@sbrl The error seems to indicate TensorFlow is looking for CUDA 10.0, can you check if you are compiling TF 2.x? tfjs-node should be using TF C version [1.15.0](https://github.com/tensorflow/tfjs/blob/master/tfjs-node/scripts/deps-constants.js#L25), it is likely tfjs-node-gpu still using the 1.15 so, and it failed to find 10.0 CUDA.

You might have to hack the line if you are compiling 2.x, and h

[2020-07-10 23:22] pyu10055 commented on #3287
@cheneyweb similar to another issue, you are compiling TF 2.x. tfjs-node should be using TF C version [1.15.0](https://github.com/tensorflow/tfjs/blob/master/tfjs-node/scripts/deps-constants.js#L25)

You might have to hack the line if you are compiling 2.x, and have tfjs-node pointing at the right so file.

[2020-07-11 08:15] AmitMY commented on #3553
The `hdf5` model conversion works.
However, checking the result model JSON file, I see that `stateful` is `false`.

Before manually changing that to true for testing, I just loaded the model with tfjs:
[code]

And got:

Error: The first layer in a Sequential model must get an `inputShape` or `batchInputShape` argument.

Even though the JSON clearly states:
[code]

Full JSON:

[code]

[2020-07-11 15:25] Sahil-Sayyed commented on #2821
tf.enablePackedDepthwiseConv(); i added this but its stuck at evaluateFlag

[2020-07-12 11:04] kotran88 opened #3591 "tensorflow lite example is not working converting file to tflite model"
what I'm facing is as same as below link

https://github.com/tensorflow/tensorflow/issues/30005

it worked a couple of month ago, but now, it's not working.
there's gesture calssification listed on example on github and I opened index.html from web folder then I trained to get file.
but then, how can I convert it to tflite model without collab?
collab code is not working as link says

[2020-07-12 12:04] shiv-u opened #3592 "BytesInGpu keep increasing whereas the numBytes is constant."
To get help from the community, we encourage using Stack Overflow and the [`tensorflow.js`](https://stackoverflow.com/questions/tagged/tensorflow.js) tag.

#### TensorFlow.js version
Using this source for the script : https://cdn.jsdelivr.net/npm/@tensorflow/tfjs/dist/tf.min.js

#### Describe the problem or feature request
The BytesInGpu keep increasing whereas the numBytes, numTensors,numDataBuff

[2020-07-12 16:03] chenzhutian opened #3593 "BodyPix 2.0 keep showing Error: cropSize must be atleast [1,1], but was 0,0 on <video>"
To get help from the community, we encourage using Stack Overflow and the [`tensorflow.js`](https://stackoverflow.com/questions/tagged/tensorflow.js) tag.

#### TensorFlow.js version
tfjs: "2.0.1"
tfjs-backend-cpu: "2.0.1"
tfjs-backend-webgl: "2.0.1"
tfjs-converter: "2.0.1"
tfjs-core: "2.0.1"
tfjs-data: "2.0.1"
tfjs-layers: "2.0.1"
BodyPix: 2.0.5

#### Browser version
Version 83.0.4103.116 (Offici

[2020-07-13 12:39] annxingyuan opened #3595 "Add node support for image rotation."
Currently tf.image.rotateWithOffset only supports CPU, WebGL, and WASM backends. It should be possible to implement support in Node via [ImageProjectiveTransformV2](https://cs.opensource.google/tensorflow/addons/+/master:tensorflow_addons/image/transform_ops.py;l=108?q=rotate&ss=tensorflow%2Faddons) (interface defined in [ops.pbtxt](https://raw.githubusercontent.com/tensorflow/tensorflow/master/te

[2020-07-13 12:44] annxingyuan commented on #3592
Hi @shiv-u - would you be able to provide a minimal test case that reproduces this behavior? Thank you.

[2020-07-13 18:57] AmitMY commented on #3553
Web model
[web_model.zip](https://github.com/tensorflow/tfjs/files/4914532/web_model.zip)

[2020-07-13 19:07] pyu10055 commented on #3573
@alvinsunyixiao Those tensorlist ops has been added, you might need to wait for next release, hopeful it can be done this week.

[2020-07-13 19:09] pyu10055 commented on #3553
@caisq Hi Shanqing, can you help Amit to debug this issue? There are two questions:
1. when the input shape is not set
2. is it possible to feed the LSTM for the next run with states from previous inference?

[2020-07-13 19:24] caisq commented on #3553
@AmitMY Regarding the "inputShape..." error you are getting, can you make sure you include the `input_shape` kwarg when you construct the model in Python. That would involve changing the line

[code]

to something like

[code]

input_shape is without the leading batch dimension. The reason why you need to do this is that
while recent versions  TensorFlow (tf.keras) supports models without input sh

[2020-07-13 19:28] rthadur commented on #3591
This comes under tflite , i see you already opened a [issue](https://github.com/tensorflow/tensorflow/issues/41318) there ,so closing this.Thank you

[2020-07-13 19:28] #3591 closed

[2020-07-13 19:44] AmitMY commented on #3553
Thanks @caisq
This also needed adding `batch_input_shape`:
[code]
This adds to the `Dropout` config the following line:

And loading the model works.

----

Now, regarding stateful LSTM.
My situation is that every time a new frame from the camera comes, I need to run inference on it, but it depends on the hidden state from the previous frames.
Running this prediction without saving the hidden stat

[2020-07-13 19:49] AmitMY commented on #3553
Manually changing `stateful` to be true in the config, makes it work!

Thanks a lot!

I'll close tomorrow after confirming its working well

[2020-07-13 19:54] pyu10055 commented on #3553
@caisq Thanks for the help, @AmitMY i am glad you got this working!

[2020-07-13 20:42] rthadur commented on #3582
@mohataher this has been supported in latest release 2.0.1 , please verify

[2020-07-13 22:17] #3553 closed

[2020-07-14 00:16] burgreen opened #3600 "[tfjs-react-native] Android app terminating during large model load"
#### TensorFlow.js version: 1.7.4

#### Browser version: Android mobile version 9

I am customizing the integration_rn59 example to use my own pre-trained models being read in via bundleResourceIO.

The json and binary weights files for my model is 0.5Mb and 217Mb, respectively.

The app is quietly terminating during model loading. I have 43Gb of available storage on my device, but I realize the R

[2020-07-14 04:46] munrocket commented on #3554
IMHO index.js not fit for browser usage. Do we have some reason why tfjs doesn’t build ESM version in one file?

Yes, I think we need something like that #3169 and don’t need ES2017 in build. Can’t see any reason why tfjs prefer ES2017 in UMD bundle instead of ES2015 in ESM.

[2020-07-14 04:57] sacredvoid commented on #3288
Hey, any tentative release date for this feature?

[2020-07-14 05:31] msahamed opened #3601 "ValueError: Unsupported Ops in the model before optimization StatefulPartitionedCall"
#### TensorFlow.js version: 2.0.1.post1

#### Browser version: Chrome Version 83.0.4103.106 (Official Build) (64-bit)

#### Describe the problem or feature request
I am trying to convert a TensorFlow saved_model to TensorFlowJS type with a "quantize" flag. The model uses Huggingface's Distillbert as a layer as follows.

[code]
I know **tfjs** currently supports Image-based models, and Models with

[2020-07-14 07:20] XamarinPOC opened #3603 "Null is not an object evaluating (TfliteReactNative.loadModel)"
dependencies": { "react": "16.13.1", "react-native": "0.63.0", "react-native-image-picker": "^2.3.2", "tflite-react-native": "0.0.5"
target 'TFDemo' do
pod 'TensorFlowLite', '1.12.0'
config = use_native_modules!

/**
<img width="341" alt="Screenshot 2020-07-13 at 12 03 51 PM" src="https://user-images.githubusercontent.com/34939819/87396549-9d3b4c80-c5d0-11ea-9d10-5674e01a8f9a.png">

Metro configur

[2020-07-14 14:22] carlobeltrame commented on #3460
For anyone still running into this, the bug fix is in BOTH the python pip tensorflowjs library as well as the JS tensorflow.js files.
Upgrading both to 2.0.1 resolved the issue for me as well.

[2020-07-14 14:28] tafsiri commented on #3603
Hi I think you've posted this to the wrong repository, the repository for tflite-react-native is here https://github.com/shaqian/tflite-react-native (it is not our project).

[2020-07-14 14:28] #3603 closed

[2020-07-14 17:42] hoechenberger commented on #2111
Hello @rthadur, I see you closed this issue. Does this mean the feature was implemented? Or that it is *not* going to be implemented, after all? Or that there is a good alternative to achieve the desired behavior? Thank you very much!

[2020-07-14 18:07] bureyburey commented on #3504
@geetesh-gupta
The AsyncStorage buffer has a limit of 2MB per entry so any value bigger that that will cause this error.

Here's some things you can try:
1) use this library that stores the data on the file system
https://www.npmjs.com/package/react-native-fs-store
Downside: app will be slower while reading/writing.

2) this method will work depending on the structure of the model. If the model ob

[2020-07-15 00:23] 0b01 commented on #3483
I was able to track down the graph node where it happens.

[code]

It appears that the expected number of elements is 0 so MakeNdArray tries to pad -1 elements.

(in `site-packages/tensorflow_core/python/framework/tensor_util.py", line 628`)

[2020-07-15 01:59] geetesh-gupta commented on #3504
Hi, thanks for your responses 😊. Currently due to time constraint, I created a different model with less layers that can work with the project, so reducing the size to 172 KB.
But, when I will get time, I will try to incorporate the above suggested solutions and will respond back.

[2020-07-15 04:10] HrBbCi opened #3607 "Retrain BodyPix TensorflowJS Model"
I am segmenting person for merging background and person.
From skimming BodyPix introductory blog post, it seems like they are mixing the training data with real and simulated images with annotations.  How I retrain the bodypix model? You can guilde me. I'm not sure where to even start.

[2020-07-15 09:43] mohataher commented on #3582
Heya, I can confirm the `StatefulPartionedCall` is supported. However, I'm still getting errors related to the same class during the conversion process.

Please see this Google Colab for more details. https://colab.research.google.com/drive/1YNEnnNxJDjnr-rxun0yVSdUmPFdsgbY-?usp=sharing

The error is copied here for reference

[code]

I'm not sure if this related to this issue or another issue shou

[2020-07-15 13:18] samyak1999 commented on #798
@DeveloperAbhirupa
Use the below codes. It works fine

from keras.models import load_model
classifier = tf.keras.models.load_model("C:/Users/8_mnist_simple_cnn_10_Epochs.h5")
Use

[2020-07-15 15:14] rthadur commented on #3607
Hello, this sort of question is better suited for StackOverflow. This issues list is for bugs and feature requests. Thanks and please use the tag 'tensorflow.js' on your StackOverflow question to makes sure it's discoverable.

[2020-07-15 15:14] #3607 closed

[2020-07-15 15:24] rthadur commented on #3601
@msahamed this has been supported in latest release 2.0.1 , please verify

[2020-07-15 20:19] rthadur commented on #3601
did you try to create a VM to convert ?

[2020-07-15 20:37] msahamed commented on #3601
Nope, I have not, in a virtual environment? I am confused.

[2020-07-15 21:22] harshav-acco opened #3609 "Issue with Posenet using tfjs-reactnative"
#### TensorFlow.js version
@tensorflow/tfjs - 2.0.1
@tensorflow-models/posenet -  ^2.2.1
@tensorflow/tfjs-react-native - "^0.3.0"

#### Browser version
React Native + Expo (SDK37)

#### Describe the problem or feature request
When trying to run the expo camera along with posenet model, App is crashing. I believe it has something to do with the way i am trying to use the Posenet.

#### Code to repr

[2020-07-16 00:29] rthadur commented on #3601
Here are the [steps](https://copybara-safe-internal-review.git.corp.google.com/q/59600) to convert using a VM.

[2020-07-16 02:23] burgreen commented on #3600
Yep, that model is too large for my phone RAM.

[2020-07-16 02:23] #3600 closed

[2020-07-16 02:30] msahamed commented on #3601
The link (steps) takes to a different link that requires authentication. Could you please help me with that?

`link: https://login.corp.google.com/request?s=copybara-safe-internal-review.git.corp.google.com:443/uberproxy/&d=https://copybara-safe-internal-review.git.corp.google.com/q/59600%3Fupxsrf%3DAO9zFu0-dZnj-jl3EX9IjvVz-r8HfxLEOQBV7ulxKGlkefT0SQ:1594866494972&maxAge=1200&authLevel=2000000&keyI

[2020-07-16 13:24] tirkarthi opened #3611 "encoding parameter to json.loads was deprecated and removed in Python 3.9"
Ref : https://github.com/python/cpython/pull/18075

https://github.com/tensorflow/tfjs/blob/e063e103cfcb9bcec53dc326827367dc051eedf0/tfjs-converter/python/tensorflowjs/converters/keras_h5_conversion_test.py#L172

[2020-07-16 16:04] rthadur commented on #3611
Tensorflow core supports until 3.8 , I believe this will be included once it is upgraded to 3.9 ,
cc @pyu10055

[2020-07-16 17:20] rthadur commented on #3573
Closing this , feel free to reopen if you see any issue after the release happens.

[2020-07-16 17:20] #3573 closed

[2020-07-16 17:46] rthadur commented on #3533
Closing this due to lack of activity, feel to reopen. Thank you

[2020-07-16 17:46] #3533 closed

[2020-07-16 17:54] AlexanderKozhevin commented on #3433
@rthadur No, it's not helping
tf.ready().then(()=>{
      tf.setBackend('wasm').then(() => {
        console.log('done');
      });
    })

[2020-07-16 18:42] annxingyuan commented on #3585
@shilsircar thanks for filing this - WASM does not yet have support for complex ops. I have a PR in progress to add complex support to WASM. Will keep you posted!

[2020-07-16 19:57] rthadur commented on #3503
Frozen model is supported in 2.x versions , I have submitted a PR to update above note , please give it a try

[2020-07-16 20:01] rthadur commented on #3508
cc @kangyizhang can you please help with this ?

[2020-07-16 21:23] jcambre commented on #1717
Like others on this thread, I'm also still unclear about [step 3 on this README](https://github.com/tensorflow/tfjs-models/tree/master/speech-commands/training/browser-fft):

Could someone please provide additional details on that step of training? Thanks so much.

[2020-07-16 22:21] pyu10055 commented on #3601
@msahamed Thank you for reporting, can you provide the full python code that I can reproduce the problem. Also can you provide the pips that are needed, thanks.

[2020-07-16 22:25] pyu10055 commented on #3582
@mohataher I am having trouble with the colab, can you try to add following flag to the conversion

--control_flow_v2=true

[2020-07-16 23:37] teddybee commented on #3433
I had similar issue, when I tried to use webassembly as a backend.
The error:
`Unhandled Rejection (RuntimeError): abort(CompileError: WebAssembly.instantiate(): expected magic word 00 61 73 6d, found 3c 21 44 4f @+0). Build with -s ASSERTIONS=1 for more info`

[2020-07-17 01:05] #2450 closed

[2020-07-17 01:45] msahamed commented on #3601
Thank you for your reply. To reproduce you need tensorflow (2.2.0), tensorflowjs (2.0.1) and transformers (3.0.0). Below are the codes and errors:

**Code:**

[code]

**Error:**
[code]

[2020-07-17 03:28] rthadur commented on #3578
@shilsircar please provide the minimal code in order for us to reproduce ?

[2020-07-17 03:32] rthadur commented on #3440
Closing this due to lack of activity, feel to reopen. Thank you

[2020-07-17 03:32] #3440 closed

[2020-07-17 03:33] rthadur commented on #3400
Closing this due to lack of activity, feel to reopen. Thank you

[2020-07-17 03:33] #3400 closed

[2020-07-17 03:39] rthadur commented on #3401
@wirtaw please let us know if this is still an issue ,if yes can you please provide steps to reproduce the error ?

[2020-07-17 03:44] jbis9051 opened #3617 "Tensorflow NPM Packages are shipping TypeScript sources instead of just the distrubtion files [URGENT]"
This is in my package.json

[code]

I'm getting this error:

[code]

I also tried ` "skipLibCheck": true` in `tsconfig.json` but that didn't work either.

Related https://www.reddit.com/r/typescript/comments/hjgd30/skiplibcheck_but_for_ts_files/

[2020-07-17 04:54] rthadur commented on #2897
related PR has been merged , thank you @freeman-g @dhirensr

[2020-07-17 04:54] #2897 closed

[2020-07-17 04:55] JesseFarebro commented on #3400
I'm also encountering this bug. My setup is a little convoluted and might take some time to get a minimal reproduction. Hopefully this issue reopened in the interim if at all possible.

[2020-07-17 05:58] wirtaw commented on #3401
@rthadur yes, this issue is actual
steps for reproduce

- Clone and install [baseball-node](https://github.com/tensorflow/tfjs-examples/tree/master/baseball-node) exaple
- In the [server.js](https://github.com/tensorflow/tfjs-examples/blob/master/baseball-node/server.js) after `console.log('training complete');` add line to emit predictSample `io.emit('predictResult', await pitch_type.predictSampl

[2020-07-17 08:29] lexms opened #3618 "I'm having issue when trying to convert keras model to json"
I found an error where it could not find my keras model (input path) and the output path, I think it's because of the space character between "My Drive", since I was using google drive to load and save the model. And I think you can't change the name "My Drive".
So Instead of using google drive, I was using the local google colab's drive. So then I uploaded the keras model and convert it and save

[2020-07-17 09:53] robinhad commented on #1728
I tried to convert DeepSpeech model to tfjs, but get the same result:
`
ValueError: Unsupported Ops in the model before
Mfcc, AudioSpectrogram, BlockLSTM
`

[2020-07-17 14:15] shilsircar commented on #3578
[bugreport-conv-causal.zip](https://github.com/tensorflow/tfjs/files/4938247/bugreport-conv-causal.zip)
Ok attached is the sample reference that demonstrates the problem. You have to place the model in a webserver to run the inference. Then change the IP in the provided html where to load the model from. Hopefully this helps.

[2020-07-17 14:28] ZhyMC opened #3619 "confusing memory leak problem?"
To get help from the community, we encourage using Stack Overflow and the [`tensorflow.js`](https://stackoverflow.com/questions/tagged/tensorflow.js) tag.

#### TensorFlow.js version
2.0.1
#### Browser version
Node.js v12.13.0
#### Describe the problem or feature request
it seems that this program causes memory leak.when executing this,the memory keep increasing to 2GB and OOM.

#### Code to repro

[2020-07-17 14:48] sbrl commented on #3287
Ah, I see - thanks! The documentation whose whereabouts currently escapes me didn't mention what version to compile, so I assumed the latest version. This should really be better documented than some random variable in the code......

[2020-07-17 17:38] lina128 commented on #2718
Hi @ehsan2211, we now have a benchmark tool, you can use it to benchmark the model performance, it will give detailed information of memory usage, time spent for each op, and inference performance. https://tensorflow.github.io/tfjs/e2e/benchmarks/
In the right panel, for the models field, choose the custom option, and then provide your model.json url (the weight file ended in .bin should be in the

[2020-07-17 20:17] lina128 commented on #2718
Hi @ehsan2211 , I just figure out the link you shared has the original model. So I converted the first model to tfjs format and use our benchmark tool to test it. The result shows that, inference is indeed slow and memory usage is large. But there is no leaked tensor. We further checked that this model uses 14 conv2d, which is the source of the slowness. Conv2d is expensive, so if a model has a lo

[2020-07-18 00:39] rthadur commented on #3617
@jbis9051 can you please provide steps to reproduce above error ?

[2020-07-18 00:43] rthadur commented on #3400
@JesseFarebro please open a new issue when you have minimal reproduction code ?

[2020-07-18 01:35] jbis9051 commented on #3617
@rthadur The linked reddit post describes why it's an issue better.

# Reproduce

[code]

In `test/node_modules/@tensorflow` there is a bunch of packages:

[code]

Inside all of these packages is something similar to the following:

[code]

Instead, only the `dist` folder should be there.

# Why this is an issue?

For starters including the source files (used for developing) includes package sizes

[2020-07-18 10:32] venkatesh-soulpage commented on #3593
I got error solved by adding width and height attributes to video tag

[2020-07-18 12:13] dosomder commented on #3617
Same issue here

[2020-07-18 13:13] tirkarthi commented on #3611
Note: The library supports Python 2 and 3. So it should have the parameter in Python 2 and remove it in 3

[code]

[2020-07-18 18:23] mohataher commented on #3582
I have used the standard tensorflow version 2.2.0 ... Same error above.

When using the tf-nightly, I'm getting an entirely different error but that's probably out of the scope of this issue.

[2020-07-18 19:51] cespon opened #3622 "Tried to download(404): pre-built-binary/napi-v6/2.0.1/CPU-linux-2.0.1.tar.gz"
### Software version

**TensorFlow.js**: `@tensorflow/tfjs-node@2.0.1`
**Ubuntu Server**: `20.04`
**Node**: `v14.5.0`

### Description of the problem

I tried to run a very simple app without success. This app uses `@tensorflow/tfjs-node@2.0.1` and I'm triying to execute it in a VPS with Ubuntu Server installed.

When I execute the app:

[code]

After the execution of `npm rebuild @tensorflow/tfjs

[2020-07-18 19:52] dosomder commented on #3384
Same problem here. @LunaticLabs hack solved it for me

[2020-07-19 07:13] AIshutin commented on #3601
Hi! I have the same error. @msahamed, did you manage to solve it or avoid somehow? (I need to run DistilBERT in a browser too)

[2020-07-19 13:19] swimauger commented on #633
Noticed most of these answers are synchronous, which is potentially dangerous if you're expecting to unload a large dataset, so I have created a library for parsing and stringifying datasets of these types. If you are interested, take a look at [tensorset](https://npmjs.com/package/tensorset). There is some documentation on how to use it, it works similar to `JSON.stringify` and `JSON.parse`.

Her

[2020-07-19 20:24] taiwanesePortrait opened #3623 "BodyPix2 example broken in safari"
To get help from the community, we encourage using Stack Overflow and the [`tensorflow.js`](https://stackoverflow.com/questions/tagged/tensorflow.js) tag.

#### TensorFlow.js version

sorry I'm not sure ?  -- it's this online demo
https://storage.googleapis.com/tfjs-models/demos/body-pix/index.html

#### Browser version

Safari 13.0.3

#### Describe the problem or feature request

The demo doesn't

[2020-07-19 20:24] #3623 closed

[2020-07-19 20:27] ofZach opened #3624 "BodyPix2 demo doesn't work in Safari (OS X, iOS)"
**TensorFlow.js version**

sorry I'm not sure ? -- it's this online demo
https://storage.googleapis.com/tfjs-models/demos/body-pix/index.html

**Browser version**

Safari 13.0.3

**Describe the problem or feature request**

The demo doesn't run in safari (OS X, iOS)

[Error] Unhandled Promise Rejection: Error: No color could be found for part id 12.000000953674316
oe (demos.1e01c4c9.js:25:33629)
(

[2020-07-20 01:08] Greeeeyyyss commented on #2871
Got the same error but it was fixed when I added a ```crossOrigin='anonymous'``` before setting the ```src``` of the image or video.

[2020-07-20 13:53] njss commented on #1649
I just tried to run the demos now...it is not working for me.
"\TensorFlowJS\tfjs-models\posenet\demos\node_modules\@tensorflow-models\posenet\dist\posenet.esm.js: ENOENT: no such file or directory, open 'E:\Silva_BKP\iDN\1_Research\0_iDN_Klif\CODE\TensorFlowJS\tfjs-models\posenet\demos\node_modules\@tensorflow-models\posenet\dist\posenet.esm.js'

[2020-07-20 14:28] njss commented on #1649
I also get this error: Uncaught Error: Request for https://storage.googleapis.com/tfjs-models/savedmodel/posenet/mobilenet/float/075/model-stride16.json failed due to error: TypeError: Failed to fetch

[2020-07-20 17:47] rthadur commented on #3618
@lexms that is expected , try to add backslash before space or addd quoted surrounding the whole path , then you will be able to execute the command

[2020-07-20 17:53] rthadur commented on #3593
@venkatesh-soulpage thank you , @chenzhutian can you try above solution ?

[2020-07-20 17:58] rthadur commented on #1728
This is still a future request , for now we do not have specific timeline.

[2020-07-20 19:31] rthadur commented on #3619
Hello, this sort of question is better suited for StackOverflow. This issues list is for bugs and feature requests. Thanks and please use the tag 'tensorflow.js' on your StackOverflow question to makes sure it's discoverable.

[2020-07-20 19:31] #3619 closed

[2020-07-20 19:33] rthadur commented on #3617
@tylerzhu-github can you please help with above request ?

[2020-07-20 19:38] rthadur commented on #3622
@cespon please check related issue here [https://github.com/tensorflow/tfjs/issues/3577#issuecomment-655831792](url)

[2020-07-21 01:58] maxkrieger commented on #3384
Step by step vanilla ish quickfix if you don't want to use CRA-rewired, via [craco](https://github.com/gsoft-inc/craco):

* `npm install @craco/craco --save`

* Make a root file in the project, `craco.config.js`, with:

[code]

* Change `package.json` according to the docs:
[code]

Now `npm run build` should work!

[2020-07-21 03:44] gcamou commented on #2370
Hi @kangyizhang,

I'm using node: v10.15.3
but I have the same problem.

[code]

When I type the next command `npm rebuild @tensorflow/tfjs-node --build-from-source`

I get the next error
[code]

[2020-07-21 05:24] mixed opened #3631 "Set the weight file location of tf.loadLayersModel"
#### TensorFlow.js version
1.3.2

#### Describe the problem or feature request
Hello. As I tried to create and use a simple model, it seems that the location of the weight file can be set automatically or only the prefix of the path can be set. In the case of me, I want to set the position of the weight like setting the position of the model, but I wonder if there is a reason not to set it.

The A

[2020-07-21 06:17] TylerShin commented on #3617
same here

[2020-07-21 06:21] chenzhutian commented on #3593
@rthadur Yeah if I add width and height to the video tag it works.
However, I dont want to predefine the dimension of the video tag since I am don't know the video dimension before loading it. But I guess this maybe out of scope.
Thank you @venkatesh-soulpage !

[2020-07-21 06:21] #3593 closed

[2020-07-21 08:00] njss opened #3633 "PoseNet demos not Working"
To get help from the community, we encourage using Stack Overflow and the [`tensorflow.js`](https://stackoverflow.com/questions/tagged/tensorflow.js) tag.

#### TensorFlow.js version
Latest version in Github

#### Browser version
Google Chrome is up to date
Version 84.0.4147.89 (Official Build) (64-bit)

#### Describe the problem or feature request
I download the github rep for tensorflow.js and I

[2020-07-21 09:53] shiv-u commented on #3592
@annxingyuan sorry for late reply, while I was running this piece of code I was able to reproduce the above issue.

[code]

[2020-07-21 09:54] cespon commented on #3622
### Solution
After several tests, I found that **the problem was that `make` and `g++` were not installed**.

To solve that, execute:

[code]

### Tests details

Clean installs of modules, using other node versions or renaming paths (like removing whitespaces and special characters) didn't work.

To find out this solution, after executing `npm install` on my working directory, I executed:

[code]

[2020-07-21 09:54] #3622 closed

[2020-07-21 10:41] bigdong89 commented on #3134
@QuevedoIB  how did you use bodypix with react native? i can't load model ....
never saw 'load end'

const bpModel = await bodyPix.load({
 24     ┊   architecture: 'MobileNetV1',
 25     ┊   outputStride: 16,
 26     ┊   multiplier: 0.50,
 27     ┊   quantBytes: 2
 28     });
console.error('----load end');

[2020-07-21 16:01] cespon opened #3634 "Error: A dynamic link library (DLL) initialization routine failed."
### Software version

**TensorFlow.js**: `@tensorflow/tfjs-node@2.0.1`
**OS**: `Windows 10 Pro 64 bit`
**NodeJS**: `v12.8.2`

### Description of the problem

When I try to execute a program that uses `tfjs-node`, I got the following error:

[code]

The folder `C:\Users\SERVER\tftest\node_modules\@tensorflow\tfjs-node\lib\napi-v6` has two files inside:

- `tensorflow.dll`
- `tfjs_binding.node`

The

[2020-07-21 20:02] tafsiri commented on #3617
@jbis9051 What version of typescript are you using? Could you post your tsconfig (or a similar tsconfig that reproduces the error), we've been shipping those up to NPM for a while and it would be nice to know why skipLibCheck/exclude does not work in this instance.

[2020-07-21 20:11] tafsiri commented on #3631
Yes that isn't something we support. The expectation is that the weight file(s) (note there may be multiple files) are stored in the same location to the json file. Is that particularly prohibitive for your use case?

[2020-07-21 22:00] rthadur commented on #3634
@cespon can you please check related [issue](https://github.com/tensorflow/tfjs/issues/2619#issuecomment-575347028) here ?

[2020-07-21 22:02] jbis9051 commented on #3617
@tafsiri  Sure. `skipLibCheck` doesn't work because, again, those are source Typescript files (`*.ts`) not declaration files (`*.d.ts`). See here https://www.typescriptlang.org/docs/handbook/compiler-options.html

Not sure about why exclude doesn't work.

Here's a TSConfig:

[code]

It isn't compatible because `"strict": true,` isn't compatible with tensorflow's tsconfig.

[2020-07-22 02:41] mixed commented on #3631
Hi. @tafsiri. Thank you for your response.
There are currently two usecases for me.
- I am creating and running a model locally. When I load the model and weight files in the build tool (parcel), Build Tool changed the file name, but the file name of the weight also changed, so I felt uncomfortable to do any work.
- Only specific extensions are available for cdn, but there is a problem in that we

[2020-07-22 13:32] ZissisT opened #3637 "Unknown layer: ConvLSTM2D"
Hello,

I get the following error when trying to import a model in tensorflow.js (v2.0.1)

Uncaught (in promise) Error: Unknown layer: ConvLSTM2D. This may be due to one of the following reasons:
1. The layer is defined in Python, in which case it needs to be ported to TensorFlow.js or your JavaScript code.
2. The custom layer is defined in JavaScript, but is not registered properly with tf.serial

[2020-07-22 14:30] tafsiri commented on #3631
Thanks for the info! The renaming of weight files would be an issue because they are specifically referred to by name in the model.json (and have an ordering that is important to maintain—they aren't always in one weights.bin file). You can pass a [weightsPathPrefix](https://js.tensorflow.org/api/latest/#loadLayersModel) to loadLayersModel to set a path to a folder containing weights, but it doesn

[2020-07-22 16:23] sbrl commented on #3287
I've just taken a look @pyu10055, and unfortunately I can't actually build any of the v1.15.x versions Tensorflow. It directs me to https://github.com/bazelbuild/bazel/releases to download v0.26.1 or lower of bazel, but when I download bael 0.26.1 from [here](https://github.com/bazelbuild/bazel/releases/download/0.26.1/bazel-0.26.1-linux-x86_64), it claims it's actually version 0.19.2, and that I

[2020-07-22 18:34] sbrl commented on #3490
Hey  there,  @pyu10055! GH seems to have deleted my comment from earlier - that's strange :thinking:

Anyway, I have tried building Tensorflow 1.15.0, but I can't continue because I can't find a version of bazel that it accepts. If I use the 2.0.0 version from previously, it claims it needs bazel 0.62.1 or lower. If I download  v0.26.1, then it claims that I've actually downloaded v0.19.2, and tha

[2020-07-22 20:46] rthadur opened #3639 "test issue"
To get help from the community, we encourage using Stack Overflow and the [`tensorflow.js`](https://stackoverflow.com/questions/tagged/tensorflow.js) tag.

#### TensorFlow.js version

#### Browser version

#### Describe the problem or feature request

#### Code to reproduce the bug / link to feature request
If you would like to get help from the community, we encourage using Stack Overflow and the

[2020-07-22 20:46] #3639 closed

[2020-07-23 01:06] mixed commented on #3631
Ah ha. Thanks. I think that I can solve this problem because of your info.

[2020-07-23 09:26] StPov commented on #3134
@bigdong89 try this
https://heartbeat.fritz.ai/image-classification-on-react-native-with-tensorflow-js-and-mobilenet-48a39185717c

[2020-07-23 09:46] bigdong89 commented on #3134
@StPov thanks!!!!!!!!

[2020-07-23 09:48] Karim-53 commented on #465
it became ``model.set_weights(...)`` and ``model.get_weights()``

[2020-07-23 10:18] VogtAI commented on #3582
Any progress on this? Also trying to convert GPT-2 to tfjs and failing...

[2020-07-23 17:57] rthadur commented on #3637
@ZissisT there is not plan to support this in near future, do you wish to contribute ?

[2020-07-24 06:55] qjia7 opened #3648 "webgpu: batchNorm* related cases fail due to 'The number of storage buffers exceeds the maximum per-stage limit'"
The number of storage buffers exceeds the maximum per-stage limit.
    at ValidateBindingCounts (..<URL>)
    at CreateDefault (..<URL>)
    at CreateComputePipelineInternal (..<URL>)
14Object is an error.
    at ValidateObject (..<URL>)
    at ValidateGetBindGroupLayout (..<URL>)
17Object is an error.
    at ValidateObject (..<URL>)
    at ValidateBindGroupDescriptor (..<URL>)
    at CreateBindGr

[2020-07-24 07:06] qjia7 commented on #3648
@annxingyuan @kainino0x
From https://github.com/tensorflow/tfjs/blob/master/tfjs-backend-webgpu/src/kernels/FusedBatchNorm.ts#L43, we can see that FusedBatchNorm has 5 inputs tensors [x as Tensor, mean as Tensor, variance as Tensor, offset as Tensor, scale as Tensor]. If all of them use storage buffer, it will exceed the limitation of webgpu which's max value is 4. However, if we use uniform buffe

[2020-07-24 07:13] Jiawei-Shao commented on #3648
Hi @Kangz, in the latest Dawn there is a newly-added limitation on the maximum number of storage buffers inside one shader stage (4), while in the current version of TFJS we actually need 5 storage buffers. Could you give us some idea about this issue?

[2020-07-24 07:28] ZissisT commented on #3637
@rthadur I wish I could, but I am new in this area :/ I need some more reading before I can contribute to this one. Thank you for your response though :)

[2020-07-24 07:40] akshayvernekar opened #3649 "Converting MediaPipe Handpose model to TFLite model"
HI team,

I am developing an embedded IOT device and I wanted to use the Handpose model for hand-tracking and gesture recognition but I didnt yet find a guide for converting Mediapipe models to TFLite model. Could you please provide a guide if its possible.

Thanks

[2020-07-24 09:01] qjia7 opened #3650 "webgpu: engine().findBackend('cpu') is null"
In tfjs-backend-webgpu, run "yarn test --no-single-run --grep='should not allocate GPU memory when CPU forwarding'". Below error will be shown.

FAILED webgpu backend webgpu cpu forwarding turned on test-webgpu {"WEBGPU_CPU_FORWARD":false} should not allocate GPU memory when CPU forwarding
debug.js:21 Expected 48 to equal 0.
    at <Jasmine>
    at Object.<anonymous> (http://localhost:9876/base/sr

[2020-07-24 09:02] qjia7 commented on #3650
@annxingyuan Can you take a look? Thanks.

[2020-07-24 09:58] oujiafan opened #3651 "The Node.js native addon module (tfjs_binding.node) can not be found"
To get help from the community, we encourage using Stack Overflow and the [`tensorflow.js`](https://stackoverflow.com/questions/tagged/tensorflow.js) tag.

#### TensorFlow.js version
1.7.4 / 2.0.1
#### Browser version
n/a
#### Describe the problem or feature request
When run mnist node: _/tfjs-examples/mnist-node  $ node main.js_
It throws exception.

#### Code to reproduce the bug / link to featu

[2020-07-24 17:24] rthadur commented on #3651
@oujiafan can you please check similar issue [here](https://github.com/tensorflow/tfjs/issues/2046).

[2020-07-24 18:05] oidelima opened #3652 "Tensorflow js model.fit not running in browser with type="module" import"
It seems that the function model.fit isn't able to run in js directly in the browser when you import the js file as type="module". This is because using type="module" enforces the use of "strict mode". Is there a workaround this besides using node.js or not using modules?

[2020-07-24 18:48] tafsiri commented on #3617
Found the bug, it was an errant import path in our source. Should be resolved in the next release goes out.

[2020-07-24 18:49] jbis9051 commented on #3617
\o/

[2020-07-24 18:49] rthadur commented on #3652
@oidelima please provide minimal code for us to reproduce or a codepen example ?

[2020-07-24 19:00] tafsiri commented on #3373
- For your model conversion it looks like you are starting with a keras model in the h5 format. By default this will be converted to a tfjs-layers model, to convert it to a tfjs graph model you can pass set the --output_format parameter. See https://github.com/tensorflow/tfjs/tree/master/tfjs-converter#python-to-javascript for details on the input and output options.
- TFJS graph models do not sup

[2020-07-24 22:37] kainino0x commented on #3648
This limit is documented here:
https://github.com/gpuweb/gpuweb/blob/main/design/Limits.md
and (like the rest of them) comes from Vulkan.

A limit of 4 is not uncommon on Qualcomm and ARM:
http://vulkan.gpuinfo.org/displaydevicelimit.php?name=maxPerStageDescriptorStorageBuffers&platform=android

[2020-07-24 22:40] kainino0x commented on #3648
If there's any of these inputs that is always small, and you can convert it to a uniform buffer (or even a texture), it would bring you under the limit.

Another possible approach would be to use copies to merge some of the inputs into a single input storage buffer that you address at offsets.

If this op has 5 inputs, do you need 6 storage buffers (5, plus one for the output)?

[2020-07-25 03:25] forivall commented on #3617
Yeah, i independently found the problem (using `tsc --traceResolution`), and my workaround right now is to use https://npm.im/patch-package with the following patch:

`patches/@tensorflow+tfjs-core+2.0.1.patch`
[code]

[2020-07-25 06:36] cybermax-008 commented on #3566
The issue is solved finally! It was due to same static class name 'TensorFlowOpLayer' for multiple custom layers. By, manually changing the name in the model.json file.

[2020-07-25 06:53] EddieOne commented on #3582
+1

[2020-07-25 13:38] basith374 commented on #3537
you could do `node index.js 2>/dev/null` on unix machines

[2020-07-25 14:06] ToonTalk opened #3654 "Benchmark tool on Chrome Android falsely says "Skipping kernel time, use Chrome +70""
https://tensorflow.github.io/tfjs/e2e/benchmarks/ on Chrome 84 Android 8.1 when I select WebGL (and leave it on mobilenet_v2) seems to behave as if I have a version of Chrome 70 or earlier.

[2020-07-25 15:03] G2Jose commented on #3484
Have this exact same issue on `@tensorflow/tfjs-node 2.0.1`

[2020-07-25 15:05] lexms commented on #3618
As you can see in the example above I've quoted the whole path, but it still gave an error.
And also I've tried adding a backslash before space and it doesn't work out.
or perhaps I've mistaken, could you give me an example? Thanks

[2020-07-25 15:23] benjaminfiliatrault opened #3655 "[Codelab]: Making Predictions from 2D Data - Spelling mistake"
Spelling mistake on the tutorial **TensorFlow.js — Making Predictions from 2D Data**

https://codelabs.developers.google.com/codelabs/tfjs-training-regression/index.html#6

We generate 100 new ‘examples' to feed to the model. Model.predict is how we feed those examples into the model. Note that they need to **be** have a similar shape ([num_examples, num_features_per_example]) as when we did train

[2020-07-25 16:07] AIshutin opened #3656 "Error during conversion of .h5 model with h5py._hl.dataset.Dataset (MobileBERT)"
## TensorFlow.js version
2.2.0

#### Describe the problem or feature request

Conversion of MobileBERT from huggingface`s transformers fails with the following error. It seems that it's due to lack of support of h5py._hl.dataset.Dataset in .h5 file.

[code]

#### Code to reproduce the bug / link to feature request
Make model using huggingface
[code]

[code]

Excuse me, if it's not a bug, but my fa

[2020-07-25 18:41] rthadur commented on #3655
@benjaminfiliatrault thanks for reporting.
This is noted and corrected , will be available whenever next push happens.

[2020-07-25 18:41] #3655 closed

[2020-07-25 18:53] rthadur commented on #3656
@AIshutin did you try this existing model for MobileBERT [here](https://www.npmjs.com/package/@tensorflow-models/qna)

[2020-07-25 19:01] rthadur commented on #3609
@harshav-acco please provide steps to reproduce the issue and also device information.

[2020-07-25 19:03] rthadur commented on #3566
Glad you were able to figure it out, Thank you.

[2020-07-25 19:03] #3566 closed

[2020-07-25 19:12] rthadur commented on #3654
@ToonTalk its working fine on my MAC OS , what device you are using ?

[2020-07-25 19:31] rthadur commented on #3618
please try forward slash or try to run as below

!tensorflowjs_converter --input_format=keras '/content/gdrive/My Drive/model/model.h5' "/content/gdrive/My Drive/json"
or
!tensorflowjs_converter --input_format=keras '/content/gdrive/My Drive/model/model.h5' '/content/gdrive/My\ Drive/json'

[2020-07-25 20:36] AIshutin commented on #3656
Yes, but I need to modify the model a lot. It's easier for me to do this in PyTorch using transformers. But first, I need to convert the original model successfully. Thanks for your fast response.

[2020-07-26 08:45] ToonTalk commented on #3654
Nexus 5 Android phone -- yes, it works fine on my Windows laptop too.

[2020-07-26 10:12] lexms commented on #3618
It still gave the same error
TensorFlow.js model converters.: error: unrecognized arguments: /content/gdrive/My\ Drive/json

[2020-07-26 19:02] alvinsunyixiao commented on #3092
Is there any recent plans for supporting this for the wasm backend?

[2020-07-27 00:13] #3617 closed

[2020-07-27 04:38] qjia7 commented on #3648
I don't think we can make sure that those inputs are always small. Per https://www.tensorflow.org/api_docs/cc/class/tensorflow/ops/fused-batch-norm, scale/offset/mean/variance are 1 D tensor and the size of 1D Tensors matches the dimension C of the 4D Tensors. But dimension C can be a large number, for example, 1024 or larger. @annxingyuan Please collect me if I am wrong.
In fact, not only batchNo

[2020-07-27 05:52] shaoboyan opened #3661 "Modify fromPixel in webgpu backend to async function"
We want to do this modification to enhance CPU/GPU parallel execution.

[2020-07-27 05:53] shaoboyan commented on #3661
@qjia7

[2020-07-27 10:13] oujiafan commented on #3651
Cool. It works.

[2020-07-27 10:13] #3651 closed

[2020-07-27 10:38] Kangz commented on #3648
One thing we could do is add support for `GPULimits` in Chromium so TF.js can ask for increased limits (but not work on devices with the bare minimum). And in the meantime we can set the minimum to 6 in Dawn so that TF.js isn't block on it. WDYT? @austinEng @kainino0x ?

[2020-07-27 13:07] #3634 closed

[2020-07-27 16:51] shiv-u commented on #3592
@annxingyuan were you able to look into this ?

[2020-07-27 16:58] austinEng commented on #3648
Temporary limit change sounds okay with me since we're not testing or shipping on mobile platforms yet. We'll start failing CTS tests that test the limits though.

[2020-07-27 17:19] kainino0x commented on #3648
sgtm

[2020-07-27 19:08] VogtAI commented on #3582
That's the same code mohataher used.

[2020-07-27 19:10] rthadur commented on #3618
sorry , can you try this `!tensorflowjs_converter --input_format=keras '/content/gdrive/My\ Drive/model/model.h5' '/content/gdrive/My\ Drive/json'`

i guess there needs one more slash

[2020-07-27 19:45] rthadur commented on #3654
Chrome android doesn't have the query timer aPI, but that's ok, we use a fallback in order to time kernels, So you can ignore above message.

[2020-07-27 19:53] rthadur commented on #3656
@AIshutin we don't support the dataset layer in HDF5, thats the reason you are seeing above error.There is no plan in near future to support this.
cc @pyu10055

[2020-07-27 22:02] austinEng commented on #3648
fyi: https://dawn-review.googlesource.com/c/dawn/+/25840 should be in Chrome Canary in the next couple of days

[2020-07-27 22:06] elbowdonkey commented on #3582
I see the same `StatefulPartitionedCall ` related error as @mohataher when trying to run `tensorflowjs_converter`. My arguments are the same, with the exception of what the converted models should be named.

I have some version differences that might be useful to know:

- Python: 3.8.3
- tensorflow-cpu: 2.3.0
- tensorflowjs: 2.0.1.post1

[2020-07-27 22:07] elbowdonkey commented on #3582
@EddieOne and yeah, that SO link is the exact code that @mohataher and I have used to produce the error.

[2020-07-27 22:09] elbowdonkey commented on #3582
@pyu10055 adding `--control_flow_v2=true` to the `tensorflowjs_converter` command doesn't change the `StatefulPartitionedCall` related error.

[2020-07-27 23:36] luiskarlos commented on #240
I resolve this using https.
If you use HTTP it does not load the audio interface

[2020-07-28 00:35] pyu10055 commented on #3582
@elbowdonkey @mohataher The issue is the model contains stateful variables, (i.e. stateful keras LSTM layer), we cannot currently freeze the graph that contains stateful variable. One way to work around is to use stateless layers.

[2020-07-28 11:52] akshaydoiphode commented on #3359
Just by Manually deleting the 'Node_modules' folder and Again Running 'npm install' command in my project root folder helps me to a resolved the issue.

[2020-07-28 13:41] Rcuz8 commented on #991
I'm not sure why this is a closed issue. For Firebase users, the only natively supported export format seems to be `.tflite` (via the ML package), but this is an unusable format for a Web-facing frontend. I see that the common recommendation thus far is to use https://github.com/intel/webml-polyfill but firstly I couldn't find a way within that documentation to construct a model from a saved `.tfl