[2020-03-10 17:16] #2863 closed

[2020-03-10 19:51] rthadur commented on #2745
Should be the same file , please check

[2020-03-10 20:49] Josef-Haupt commented on #2643
As of Version 1.7.0 this issues still existed for me.
[code]

If anybody else still has this problem, this worked for me:

I created a custom IOHandler, which is basically a copy of the existing `BrowserIndexedDB` class and I updated the `getIndexedDBFactory` function the handler uses like so:
[code]
Usage:
[code]

[2020-03-10 22:06] rthadur commented on #477
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-03-10 22:17] NathanBWaters commented on #991
@nsthorat here's how we're comparing the two:
We're running both on our phone in the browser.  One is using tfjs and is getting 15fps.  When you remove the tfjs model, it's 60fps.  We are using the WASM backend.

The other is on https://viz.mediapipe.dev/demo/face_detection.  It looks like they compiled the tflite interpreter to wasm in order to run the `.tflite` file on the browser.  It's getting

[2020-03-11 03:45] Merlin-Zeng opened #2868 "BatchNormalization does not work if scale=false while training"
#### TensorFlow.js version
tfjs-node: 1.5.2

#### Browser version

#### Describe the problem
[code]
After replace '_this.gamma.read()' with '_this.gamma == null ? null : _this.gamma.read()' in normalization.js:240, will get following error:
[code]

#### Code to reproduce the bug
Add batch normalization layer with following config and train  will reproduce the issue:
[code]

[2020-03-11 04:16] rthadur commented on #2868
@Merlin-Zeng can you please provide reproduction code or an example in codepen.

[2020-03-11 07:48] Merlin-Zeng commented on #2868
@rthadur here you go
[code]

[2020-03-11 16:35] tafsiri commented on #2745
I think [this is the file](https://github.com/tensorflow/tfjs/blob/5233a361fabd592e8682147c91c04e271982c989/tfjs-layers/src/layers/convolutional.ts#L316). The code formatter is what splits it onto multiple lines. Re-wording this to fit on one line would likely solve it.

[2020-03-11 16:37] ManishAradwad commented on #2745
Sure, thanks! I'll take a look at it.

[2020-03-11 21:38] dhirensr commented on #1846
@rthadur @tafsiri : please review PR for this issue https://github.com/tensorflow/tfjs/pull/2869 . :smile:

[2020-03-12 03:23] pamruta opened #2871 "'texImage2D' on 'WebGL2RenderingContext': Tainted canvases may not be loaded."
Running Facemesh in Mozilla / Safari on mp4 video file.. It gives this error:

tfjs-core:17 Uncaught (in promise) DOMException: Failed to execute 'texImage2D' on 'WebGL2RenderingContext': Tainted canvases may not be loaded.
    at https://cdn.jsdelivr.net/npm/@tensorflow/tfjs-core:17:215636
    at $t (https://cdn.jsdelivr.net/npm/@tensorflow/tfjs-core:17:56257)
    at ii (https://cdn.jsdelivr.net/

[2020-03-12 07:21] krambriw opened #2872 "tfjs to use with Node-RED in NVIDIA Jetson Nano"
Hi, trying to install tensorflow.js to use with Node-RED in NVIDIA Jetson Nano. Node-RED itself runs perfect in the Nano
Specifically I want to use this Node-RED node: [https://flows.nodered.org/node/node-red-contrib-tfjs-coco-ssd)](https://flows.nodered.org/node/node-red-contrib-tfjs-coco-ssd))

but it does not work due to required dependencies (@tensorflow) not working. So in attempt to solve th

[2020-03-12 13:23] unixneo commented on #2830
I have this running on two macs both with catalina (one macpro and one mba) in a node-red module, and it works great.....

[2020-03-12 17:08] mprinc opened #2873 "Cannot run @tensorflow/tfjs-node on OSX"
#### TensorFlow.js version

"name": "@tensorflow/tfjs-node",
"version": "1.7.0",

macOS Catalina
v10.15.03

node -v
Anything between the v12.11.1 and @latest (currently v13.10.1)

Tested with:

[code]

#### Describe the problem or feature request

@kangyizhang I tried all various suggestions from the (closed) #2003  still issues with latest node.

Still the same error "Error: Cannot find module '.

[2020-03-12 17:22] rthadur commented on #2773
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-03-12 17:22] #2773 closed

[2020-03-12 18:48] dsmilkov commented on #2872
Hi,

We don't officially support arm64, but here are instructions on building a custom TF library from source, which targets a specific architecture: https://github.com/tensorflow/tfjs/tree/master/tfjs-node#optional-build-optimal-tensorflow-from-source

[2020-03-12 18:48] #2872 closed

[2020-03-12 18:53] dsmilkov commented on #2837
Hi,

I noticed in your code:
[code]

This means that every time you refresh the page, you will get new random set initial weights, which affect the final output. To make it more consistent, provide a fixed initial value for the weights. See the weights argument in
https://js.tensorflow.org/api/latest/#layers.dense

Regarding speed, WebGL has a fixed overhead, and should only be used for large nume

[2020-03-12 19:01] dsmilkov commented on #2718
Hi,

Is it possible to share code that reproduces the problem. If the model is proprietary, can you share it with randomized weights? Thanks!

[2020-03-12 19:13] dsmilkov commented on #2738
Hi @MiguelRipoll23,

Looking at the source code you shared I noticed that you are providing width/height when getting the user media:
[code]

but you do not provide `width` and `height` attributes to the `<video>` tag.
[code]

I don't know which one takes precedence. Can you provide the same width and height to both the `<video>` tag and the `getUserMedia` and let me know if that works.

[2020-03-12 19:43] dsmilkov commented on #2778
Thanks. I just sent https://github.com/tensorflow/tfjs/pull/2884 which will add these kernels to WASM. Should be available in our next release, which will be in 1-2 weeks.

[2020-03-12 19:51] dsmilkov commented on #2419
Hi,

We won't be prioritizing adding `CTCBeamSearchDecoder` at this time, since the op is only used in an older audio-based architecture, and not actively used in newer models. But contributions are welcomed!

[2020-03-12 20:26] #2778 closed

[2020-03-12 23:21] GiorgosXou commented on #2837
**You are right**, i feel a little bit dumb not realising how little amount of layers and neurons were there so that they could have made a difference in speed time compared to GPU hahaha.

(_Although, i thought about it for a moment and i was queit skeptical about it, i forgot to not mention it at the end without skeptisims, but nevermind_, Thanks :D )

.

**Yeah sure, but** all of the times i ha

[2020-03-12 23:21] eschirtz commented on #2763
Hey,

Yeah, when I do I get the following errors / warnings in the electron dev console (developer window in browser).
[code]

[code]

As well as this error in the terminal output.

[code]

( I did not change node versions )

Thanks!

[2020-03-13 01:19] lina128 commented on #2718
I just checked upSampling2d, it doesn't have memory leak, see this codepen example: https://codepen.io/na-li/pen/yLNKOxX

[2020-03-13 01:54] #2837 closed

[2020-03-13 02:28] dsmilkov commented on #2718
Thanks Na! @ehsan2211 does the memory leak show up for the latest (1.7.0) version of TF.js?

[2020-03-13 02:37] rthadur commented on #2871
Hello, this sort of question is better suited for StackOverflow. This issues list is for bugs and feature requests. Thanks and please use the tag 'tensorflow.js' on your StackOverflow question to makes sure it's discoverable.

[2020-03-13 02:37] #2871 closed

[2020-03-13 03:12] eschirtz commented on #2763
I tried downgrading the `engine` package to use `tfjs-node v1.0.2` and I get a different error in my dev console.

[code]

[2020-03-13 04:42] GiorgosXou commented on #2837
**My fault i am really sorry**, as it seems actually I hadn't done enough tests on GPU , now i see...
[code]

[2020-03-13 09:23] AndreMaz commented on #2755
Regarding my last comment https://github.com/tensorflow/tfjs/issues/2755#issuecomment-588283952, I've started playing with Python version of TF and I've noticed that there is a possibility of [composing and nesting layers](https://www.tensorflow.org/tutorials/customization/custom_layers#models_composing_layers). It's awesome and it really simplifies the development process as I don't have to creat

[2020-03-13 09:42] ehsan2211 commented on #2718
@dsmilkov I can send you the models but It seems that I cannot upload the models here.

[2020-03-13 09:43] ehsan2211 commented on #2718
Both models leak in tfjs 1.7.

[2020-03-13 10:28] ehsan2211 commented on #2718
@dsmilkov BTW the code I use a very simple model loading in tfjs mobilenet example.

`"use strict";

import * as tf from '@tensorflow/tfjs';

export const IMAGE_WIDTH = 640;
export const IMAGE_HEIGHT = 480;

export let lenet;

const demoStatusElement = document.getElementById('status');
export const status = msg => demoStatusElement.innerText = msg;
const predictionsElement = document.getElementBy

[2020-03-13 11:59] motya770 commented on #2784
Hi, I don't have experience with ReactNative/NodeJs and just tried everything you explained here, but still, have the same problems. Can you please, provide the example code?. I am running on MacOs, node 13, expo cli. - My hello world RN app is working, but when I add your code - I got the same message.

[2020-03-13 13:45] Tewni opened #2890 "Cannot import"
import * as tf from "@tensorflow/tfjs"
^^^^^^

SyntaxError: Cannot use import statement outside a module

`import * as tf from "@tensorflow/tfjs"`

[2020-03-13 13:48] willfu opened #2891 "how to print or save the tensor value?"
To get help from the community, we encourage using Stack Overflow and the [`tensorflow.js`](https://stackoverflow.com/questions/tagged/tensorflow.js) tag.

#### TensorFlow.js version
1.3.1
#### Browser version
chrome 75.0.3770.100
#### Describe the problem or feature request
I need to print or save the tensor value which is a large one, I used tensor.print() but returned some data are wrapped as b

[2020-03-13 16:15] BradleyBrown19 opened #2892 "ellipsis mask is not yet supported"
To get help from the community, we encourage using Stack Overflow and the [`tensorflow.js`](https://stackoverflow.com/questions/tagged/tensorflow.js) tag.

#### TensorFlow.js version

tfjs-node 1.6.0

#### Browser version

Electron 8.1.0

#### Describe the problem or feature request

Requesting support for ellipsis mask strided slice or wondering if there is a way to get around this. Please let me

[2020-03-13 18:14] jeff3dx commented on #2400
The error message is asking you to add "declare" to the namespace.  You can defined your namespace like so:
`declare namespace MyNamespace {...}`
OR
`export declare namespace MyNamespace {...}`

[2020-03-13 18:47] MiguelRipoll23 commented on #2738
Hello @dsmilkov,

Actually they're provided but right after receiving the metadata from the user media, this is what the code is doing:

1. **Gets user media with preference for 720p resolution** (the width/height parameters that you refer expresses a preference for 1280x720 camera resolution, browser may return a lower resolution if not available).
2. **Dimensions needed to fit the video and canv

[2020-03-13 19:11] pvaneck commented on #2784
Doesn't seem like fetch supports local afaik. Might have to use expo-file-system to load local images for now.

@motya770 Which error are you getting? I have a barebones TF.js typescript expo managed project that can load fine for me (https://github.com/pvaneck/tfjs-react-native-app) if you want to check that out.

[2020-03-13 20:10] rthadur commented on #2890
can you please check this [link](https://github.com/tensorflow/tfjs#via-npm) and please use template to file issues so that it will be easy for us to reproduce the code.Thank you

[2020-03-13 20:17] rthadur commented on #2891
@willfu please provide reproduction code or an example in codepen.

[2020-03-13 20:17] freeman-g opened #2897 "optimizer.applyGradients missing from API documentation"
#### TensorFlow.js version
1.7

#### Browser version
Chrome 80

#### Describe the problem or feature request

I'm trying to figure out how to manually apply gradients and adjust weights for a GAN that I am building. I noticed in the cart pole example, there is a call to 'optimizer.applyGradients'.

[code]

Here is a link to the example above: https://github.com/tensorflow/tfjs-examples/blob/master

[2020-03-13 20:26] rthadur commented on #2897
cc @dsmilkov @nsthorat

[2020-03-13 21:38] eschirtz commented on #2763
Alright, so I've done some more debugging. Found a fix for our project, but not a perfect one. It still requires that I include `@tensorflow/tfjs-node` as a direct dependency of our project, not just the package that actually uses tfjs.

Turns out our Electron (`6.1.9`) uses Node `v12.4.0`, which is too old to use N-API 5. Looks like N-API 5 requires Node `v12.11.0`. It appears that the latest ver

[2020-03-13 22:42] leoarc commented on #264
I am still facing  this issue . One extra tensor is being assigned in ``` tf.browser.toPixels() ``` which I am not able to dispose . Is this issue solved ?

[2020-03-14 00:53] willfu commented on #2891
just use console.log(tensor)  or tf.print(tensor), it is very simple.

[2020-03-14 06:32] galah92 opened #2901 "How to use a @tensorflow-models model from python's tensorflow?"
Hi,

I'm developing a project in "regular" TensorFlow (over PC and Colab) with embedded usage scenario.
I'd like to use the handpose model ([introduced here](https://blog.tensorflow.org/2020/03/face-and-hand-tracking-in-browser-with-mediapipe-and-tensorflowjs.html)) to generate labels for my project. Is there a way to use that model from python's TensorFlow?

I though converting to model to Keras

[2020-03-14 13:01] ManishAradwad commented on #680
Hello @tafsiri , I'd like to begin working on this issue. Can you plz point me in some direction so I can start?

[2020-03-14 19:04] dhirensr commented on #2897
@nsthorat @dsmilkov @rthadur : won't this be fixed if we add @doc in https://github.com/tensorflow/tfjs/blob/tfjs-core-v1.7.0/tfjs-core/src/optimizers/optimizer.ts#L105
won't it automatically show docs also for computeGradients and applyGradient?

[2020-03-14 19:58] grinono opened #2906 "Handpose model in react native"
I try to run the [Handpose](https://github.com/tensorflow/tfjs-models/tree/master/handpose) model in react native via [tfjs-react-native](https://github.com/tensorflow/tfjs/tree/master/tfjs-react-native).

It returns
 [Error: Handpose is not yet supported by the rn-webgl backend - rotation kernel is not defined.]

I thought tfjs-react-native used native bindings instead of webgl? is this a setting

[2020-03-15 02:54] Leslie-Fang commented on #2338
Hi, any update of this issue? I have got the same error...

[2020-03-15 03:30] Leslie-Fang commented on #2338
setting `requestInit:{mode:'no-cors'}`
Could avoid the CORS error, but the fetched model is empty...

[2020-03-15 03:36] Buddhilive opened #2910 "Error: 'softmax' not yet implemented or not found in the registry. Did you forget to import the kernel?"
I get this error only if I implement _@tensorflow/tfjs-node_ . But if I'm using only _@tensorflow/tfjs_ library to train my model, the error doesn't show up and the model trains without any issue.

` UnhandledPromiseRejectionWarning: Error: 'softmax' not yet implemented or not found in the registry. Did you forget to import the kernel?`

[2020-03-15 04:39] rthadur commented on #2910
Can you please provide these details :

1. Model if possible
2. Reproduction code.
3. System configuration.

[2020-03-15 04:56] rthadur commented on #2891
Please use console.log(tensor.dataSync()) , [refer](https://js.tensorflow.org/api/0.6.1/#tf.Tensor.dataSync)

[2020-03-15 09:16] willfu commented on #2891
@rthadur thanks for the reply. Is there a method to save the tensor data to a local file? since the tensor is too huge to refer from the console log.

[2020-03-15 10:15] cyberprodigy opened #2911 "[Codelab]: Making Predictions from 2D Data"
#### TensorFlow.js version
Documentation in
Making Predictions from 2D Data
4. Define the model architecture
Under section : Add layers
#### Browser version
All
#### Describe the problem or feature request
The first sentence says "This adds a hidden layer to our network. "
That is wrong. It should instead say - "This adds an input layer to our network. "
There are input layers, hidden layers and o

[2020-03-15 12:55] Buddhilive commented on #2910
I figured out the issue. I was trying to import both the packages as follows:

`const tf = require('@tensorflow/tfjs');
require('@tensorflow/tfjs-node');`

and I changed it as follows:

`const tf = require('@tensorflow/tfjs-node');`

completely removing _@tensorflow/tfjs_ from my project. Then it start working.

[2020-03-15 12:55] #2910 closed

[2020-03-15 13:13] sundowatch commented on #2816
I've now trained with AutoML and it works fine. But don't know why can't I use it with tensorflow training.

[2020-03-16 14:00] tafsiri commented on #2906
@grinono Which version of tfjs are you using in project? You may need to upgrade to the latest version.

tfjs-react-native uses WebGL/OpenGL for compute.

[2020-03-16 14:08] tafsiri commented on #680
@ManishAradwad great! I think a good place to start would be update [these docs](https://github.com/tensorflow/tfjs/blob/tfjs-layers-v1.7.0/tfjs-layers/src/engine/training.ts#L443) with a list of available metrics and the keys they show up in a Log object.

This [metrics map](https://github.com/tensorflow/tfjs/blob/06263085469d1149ac962ab9b2a7c0c1be6c79f3/tfjs-layers/src/metrics.ts#L120) or the te

[2020-03-16 14:17] tafsiri commented on #2816
I'm going to close this issue since the original problem has been solved. But if you are looking for more general "how can I do X" tips. I would suggest using StackOverFlow, there is both a [tensorflow](https://stackoverflow.com/questions/tagged/tensorflow) tag and a [tensorflow.js](https://stackoverflow.com/questions/tagged/tensorflow.js) that may have some helpful pointers. You might also find s

[2020-03-16 14:17] #2816 closed

[2020-03-16 16:06] Filipp585 commented on #2765
Have the same problem

[2020-03-16 17:41] rthadur commented on #2338
cc @hj929

[2020-03-16 17:47] yorkie commented on #2891
As @rthadur suggested, `tensor.dataSync` returns a TypedArray which should be compatible with ES, so you could write it to a local file in:

[code]

[2020-03-16 18:30] yonbeastie commented on #353
How's this coming along? Would love to start using this at scale soon. Thanks so much for the effort!

[2020-03-16 20:05] rthadur commented on #2911
@cyberprodigy thank you for reporting , send out a fix will be updated soon.

[2020-03-16 20:13] rthadur commented on #2765
@Filipp585 can you please give your system configuration and tfjs version

[2020-03-16 20:15] rthadur commented on #2891
@willfu thank you , closing this issue.

[2020-03-16 20:15] #2891 closed

[2020-03-16 22:15] cawfree commented on #1048
For anyone else who encountered this issue, I've found that it can happen if you specify a `validationSplit` with an insufficient number of batches to split by.

[2020-03-16 22:40] rthadur commented on #2764
@sinankarakaya did you try above solution ?

[2020-03-16 22:48] rthadur commented on #2911
This is [fixed](https://codelabs.developers.google.com/codelabs/tfjs-training-regression/index.html#3) now please verify. Thank you @tafsiri & Jason

[2020-03-16 22:48] #2911 closed

[2020-03-16 22:52] wangtz commented on #2338
I think this has been fixed. I can open the file with proper content.
Maybe give it a try again?

[2020-03-16 22:58] rthadur commented on #2338
@wangtz I will give a try and update the thread.

[2020-03-16 23:56] lina128 commented on #2718
Hi @ehsan2211, I created a model in codepen that contains the minimal set of layers in the model you shared here, and it doesn't seem to leak. But maybe I missed some part, please take a look here: https://codepen.io/na-li/pen/yLNKOxX

We'd also like to know which backend did you use (node, cpu, webgl, or wasm)? Also, how did you find the leak, e.g. does it leak after repeatedly load the model or

[2020-03-17 05:54] ManishAradwad commented on #680
@tafsiri Thanks for the reply! I had some questions:
1. I didn't quite get the meaning of `the keys they show up in a Log object`? What log object are we talking about here?
2. In the [metricsMap](https://github.com/tensorflow/tfjs/blob/06263085469d1149ac962ab9b2a7c0c1be6c79f3/tfjs-layers/src/metrics.ts#L120), I noticed some metrics as `mse` and `MSE`. What exactly is the difference between two?
3

[2020-03-17 08:51] Filipp585 commented on #2765
Hey Reddy T,

i send you a minimal HTML/JS example, just open the html with your chrome browser and click on Run, in some cases it runs the coco_ssd inference perfectly - in some not. The only reason for that can be the function tf.data.webcam(webcamElement)

It tries to fetch the webcam, and in some environments it is not successful. In my it is successful, but in my mates browser not – we all ha

[2020-03-17 08:54] Filipp585 commented on #2765
Hey Reddy T,

here is a minimal HTML/JS example as a zip, just open the html with your chrome browser and click on Run, in some cases it runs the coco_ssd inference perfectly - in some not. The only reason for that can be the function tf.data.webcam(webcamElement)

It tries to fetch the webcam, and in some environments it is not successful. In my it is successful, but in my mates browser not – we

[2020-03-17 09:36] ehsan2211 commented on #2718
Hi @lina128, I try to explain the whole process below:

1. Convert Keras models to TFJS format using tensorflowjs_converter (I tried different versions and setting even with --quantization_bytes 1 )
   1) segnet_1 (trained using TF1.1); https://drive.google.com/file/d/1oePxzLkabYBIjGffDj2HOQZk1obSod5t/view?usp=sharing
   2) segnet_2 (trained using TF2)
https://drive.google.com/file/d/11Radc6EbQeCR

[2020-03-17 13:56] nsthorat commented on #2897
@dhirensr yes it will. Care to send a PR?

[2020-03-17 16:23] rthadur commented on #2765
It runs successfully in my browser.Not sure where the problem is. Can you please give your system configuration.

[2020-03-17 17:11] rthadur commented on #1648
Related PR has been merged, thank you all.

[2020-03-17 17:11] #1648 closed

[2020-03-17 17:22] rthadur commented on #1209
Closing this due to lack of activity, feel to reopen. Thank you

[2020-03-17 17:22] #1209 closed

[2020-03-17 17:24] rthadur commented on #1047
Closing this due to lack of activity, feel to reopen. Thank you

[2020-03-17 17:24] #1047 closed

[2020-03-17 17:29] rthadur commented on #1761
Closing this due to lack of activity, feel to reopen. Thank you

[2020-03-17 17:29] #1761 closed

[2020-03-17 17:31] rthadur commented on #1846
Related PR has been merged. Closing this Issue.

[2020-03-17 17:31] #1846 closed

[2020-03-17 17:35] rthadur commented on #2338
This is working.Thank you @wangtz

[2020-03-17 17:35] #2338 closed

[2020-03-17 19:54] tafsiri commented on #2718
One comment about this line:

[code]

This will dispose the tensor returned from predict but not the input tensor created by `tf.zeros`. Try assigning that to a variable and disposing it after the prediction is done.

[2020-03-17 22:56] dhirensr commented on #2897
@nsthorat : working on it! will send it in sometime

[2020-03-18 00:00] freeman-g commented on #2897
Thanks for working on this!

[2020-03-18 04:16] lukeforehand opened #2924 "tfjs-react-native bundleResourceIO can't load file with whitespace in it"
https://github.com/tensorflow/tfjs/blob/68b830c0bf1a0661c213ec0b6d89f7cf95f7a40e/tfjs-react-native/src/bundle_resource_io.ts#L120

[code]

[2020-03-18 04:18] lukeforehand commented on #2924
or perhaps
[code]

[2020-03-18 08:14] ehsan2211 commented on #2718
Hi @tafsiri, it makes no difference. The memory leaks happen at the same line.

[2020-03-18 09:48] Filipp585 commented on #2765
Ok, i figured out my solution. You have to delete the cookies and the cache. Then it should run without problems. @tamatsu did it helped ?

[2020-03-18 14:04] grinono commented on #2906
yes, I'm using the latest version:  "@tensorflow/tfjs-react-native": "^0.2.3"
Any other ideas on where to look for a fix?

[2020-03-18 14:19] tafsiri commented on #353
We are working on it! I hesitate to give a timeline right now as its quite a big change that involves modularizing all our ops and kernels as well as some internal architecture changes. This [github label](https://github.com/tensorflow/tfjs/labels/modular-tfjs) will track issues/PRs related to this.

[2020-03-18 16:27] #2765 closed

[2020-03-19 02:26] tafsiri commented on #2906
@grinono I meant to ask what version of "@tensorflow/tfjs" itself you are using (so in addition to the react native adapter). Could you post the dependencies in your package.json here.

[2020-03-19 04:04] David102400 opened #2930 "[Codelab]: Making Predictions from 2D Data is not match"
![image](https://user-images.githubusercontent.com/27179516/77030371-569a6480-69d9-11ea-972d-6f7c384ced65.png)
I follow with tutorials about js,and my result is not match good......
the code is absolutely same with tutorials.

[2020-03-19 07:08] krambriw commented on #2872
Understood, but thats a pity since there are many interesting devices/platforms based on arm64 like the NVIDIA Jetson Nano and products from Odroid, they would be a perfect choice for your tjfs but for me and many others, building is very complicated and what you linked to makes room for many user mistakes on the way. If there was a step-by-step instruction how I could build/cross-compile on my ma

[2020-03-19 10:11] grinono commented on #2906
@tafsiri  here all the TensorFlow related packages

    "@tensorflow-models/blazeface": "^0.0.5",
    "@tensorflow-models/handpose": "^0.0.3",
    "@tensorflow-models/mobilenet": "^2.0.4",
    "@tensorflow-models/posenet": "^2.2.1",
    "@tensorflow/tfjs": "^1.7.0",
    "@tensorflow/tfjs-react-native": "^0.2.3",

[2020-03-19 11:01] darrylyoung commented on #2400
Thanks, @jeff3dx. That solved a related issue I was having.

[2020-03-19 12:30] kezmanh commented on #2449
@MRchenao  Could you please share your solution?

[2020-03-19 14:55] tafsiri commented on #2906
Thanks!

I think i found [the source](https://github.com/tensorflow/tfjs-models/blob/250430bae2ea7c0f0e222a1978e60276e84bd9c3/handpose/src/pipeline.ts#L188) of this. @annxingyuan handpose does a check specifically for the backend name being equal to WebGL, this will exclude backends like react-native or we-chat that extend webgl but are named differently. Could we use some other way of testing bac

[2020-03-19 15:34] jernsting commented on #2043
@darcula1993 could you please explain how you converted the posenet to an hd5 file? I can only see the function to convert the graph model to a tensorflow graph model (.pb file).

[2020-03-19 17:39] rthadur commented on #2930
Can you please check similar [issue](https://github.com/tensorflow/tfjs/issues/2644) here, let us know if that helps.

[2020-03-20 01:44] #2830 closed

[2020-03-20 01:54] rthadur commented on #864
Closing this due to lack of activity, feel to reopen. Thank you

[2020-03-20 01:54] #864 closed

[2020-03-20 02:12] rthadur commented on #436
Closing this due to lack of activity, feel to reopen. Thank you

[2020-03-20 02:12] #436 closed

[2020-03-20 02:16] rthadur commented on #929
Closing this due to lack of activity, feel to reopen. Thank you

[2020-03-20 02:16] #929 closed

[2020-03-20 02:20] rthadur commented on #949
Related PRs have been merged , so closing this issue for now.Feel free to reopen if this is not yet implemented.

[2020-03-20 02:20] #949 closed

[2020-03-20 06:48] Polarisation opened #2936 "Missing changelogs"
#### TensorFlow.js version
v1.6.0, v1.6.1, v1.7.0

#### Describe the problem or feature request

It would be helpful to have timely release notes for each new release, so users can stay informed of any new features or fixes.

The [releases page](https://github.com/tensorflow/tfjs/releases) does not include any notes since v1.5.2. Release notes are missing for v1.6.0, v1.6.1, v1.7.0.

I suggest mak

[2020-03-20 08:06] sinankarakaya commented on #2764
No but I changed model  and its work.

[2020-03-20 13:44] PratsBhatt opened #2937 "Firefox crashes when loading tfjs-layers model."
To get help from the community, we encourage using Stack Overflow and the [`tensorflow.js`](https://stackoverflow.com/questions/tagged/tensorflow.js) tag.

#### TensorFlow.js version
1.5.1
#### Browser version
Firefox - 74.0
#### Describe the problem or feature request
So when I am trying to load a model as below, the firefox crashes.

`_____________________________________________________________

[2020-03-20 14:58] tamatsu commented on #2765
It runs successfully in my local macOS and latest Chrome. thank you both.

[2020-03-20 15:24] rthadur commented on #2764
thank you, closing this issue.

[2020-03-20 15:24] #2764 closed

[2020-03-20 15:41] rthadur commented on #2937
Please share the models and weights if possible and any error in console ?

[2020-03-20 16:56] PratsBhatt commented on #2937
Hello @rthadur,

Thank you for looking into this issue.
I have created a git repo, with the code and there is a README.md that explains the steps.

Git repo: https://github.com/PratsBhatt/tfjs_firefox_issue

I just now uploaded the failed_model.zip in the repo. Kindly find the model and weights.

There are no error in the console, the firefox just crashes, but it works fine in Chrome without any i

[2020-03-20 17:16] rthadur commented on #2937
It's working fine in my machine , mine is a MAC OS. I just ran steps you mentioned.

[2020-03-20 17:23] PratsBhatt commented on #2937
I am using Ubuntu 18.04.3 LTS. Do you have the same Firefox version?

[2020-03-20 17:32] rthadur commented on #2937
I tested on latest version of Firefox(74)

[2020-03-20 17:32] PratsBhatt commented on #2937
Okay, I am using the same version.

[2020-03-20 17:40] PratsBhatt commented on #2937
What other information could help you in your analysis? I can try to give you that.

[2020-03-20 20:12] nikilok commented on #2046
I was facing this issue on WSL 2 using Ubuntu 18.04
Fixed it with the following commands.
[code]

[2020-03-22 04:41] rohanmuplara opened #2940 "tensorflow texture size"
I am getting an error on mobile browser swift that my texture is too big (over 4096 x 4096.) II am using mobilenet 1 without quantization. I was wondering how do I do systematically figure out  and reason what texture size is taken up by the model. Do I just make sure I don't have any layers have  bigger then 4096*4096 parameters, or is it dependent on the total number of parameters of the network

[2020-03-22 10:52] markusthoemmes commented on #1717
+1 to @nsteins question. Some pointers would be great!

[2020-03-22 13:21] ghnp5 opened #2941 "npm install fails when trying to install @tensorflow/tfjs-node@1.7.0"
Getting this error:

[code]

This URL doesn't seem to exist:

https://storage.googleapis.com/tf-builds/pre-built-binary/napi-v5/1.7.0/CPU-linux-1.7.0.tar.gz

My package.json:

[code]

What can I do to be able to install tfjs-node?
Using CentOS 7 on a Docker container.

[2020-03-22 16:11] hpssjellis commented on #1804
Anyone have any working examples of adding an activation function to tfjs? I can not get the above to work.

[2020-03-22 18:02] RELNO opened #2942 "Detect >1 hand with HandPose"
#### TensorFlow.js version
  "@tensorflow/tfjs-core": "^1.7.0"

#### Browser version
Version 80.0.3987.149 (Official Build) (64-bit)

#### Describe the problem or feature request
Using https://github.com/tensorflow/tfjs-models/tree/master/handpose
I cannot seem to use HandPose to detect more than one hand

#### Code to reproduce the bug / link to feature request
Despite channing `model.maxHandNumb

[2020-03-23 00:20] sfarthin commented on #2818
I am having the same problem and have been unsuccessful at getting `@tensorflow/tfjs-node` running on my Mac. I have tried node versions 10 and 12 and get the same `node-pre-gyp ERR` message when installing. I am on MacOS Catalina.

[2020-03-23 03:36] darcula1993 commented on #2043
Using https://github.com/patlevin/tfjs-to-tf, you can extract weight from tfjs model. Then I build the model architecture using keras and loading weights layer by layer.Since we have layer name, it is not that hard.

[2020-03-23 04:38] vpontis opened #2943 "Bug with expo-camera recording video + Tensor Flow"
#### TensorFlow.js version

[code]

#### Browser version

iOS 13, iPhone 11 Pro

#### Describe the problem or feature request

There is a bug with Tensor Flow while `expo-camera` is recording so that Tensor Flow does not get new image data to process or render to the screen.

I am using the Tensor Flow PoseModel to track the user's pose. When I turn on recording with `expo-camera`, Tensor Flow no

[2020-03-23 05:35] dallarosa commented on #2043
Thanks for this! It should probably do the job for me. I'll check it out :)

[2020-03-23 07:29] Miller144 opened #2944 "Modifying an existing Tensorflow.js tutorial. Trying to modify 'part_3' of tutorial with code from 'part_4 handsign example'. Images not being read correctly."
Github link for tutorial: https://github.com/adf-telkomuniv/TensorFlowJS_Tutorial

After completing the the tutorial for 'Part 3: MNIST Classification', I tried to apply code to the script to allow the option to import an image of a handwritten digit from the PC and have the trained model predict the value of the digit in the image.

I tried to use the code in the 'handsign.js' and 'handsign.html'

[2020-03-23 11:41] annxingyuan commented on #2940
Hi @rohanmuplara. Unfortunately there's not a great way for users to measure the largest texture size for their models - as that number depends on details of our WebGL backend which may change.

However there are some heuristics you could use to minimize the risk of coming up against the texture size limit, e.g. reducing the size of individual layers. The total number of parameters in the network

[2020-03-23 11:41] #2940 closed

[2020-03-23 14:24] rthadur commented on #2941
@ghnp5 thank you, You only need to include @tensorflow/tfjs-node in the package.json file, since those packages ship with @tensorflow/tfjs already.

[2020-03-23 14:54] rthadur commented on #2942
This is not yet implemented and you can expect this in future releases , stay tuned.Thank you for bringing this.
cc @annxingyuan

[2020-03-23 14:54] #2942 closed

[2020-03-23 14:56] rthadur commented on #2818
As mentioned [here](https://github.com/tensorflow/tfjs/tree/master/tfjs-node#mac-os-x-requires-xcode) , you should only include only one of the packages. Please check @march23hare @sfarthin

[2020-03-23 15:03] RELNO commented on #2942
@rthadur thanks, and props for a great model. Might be good to clarify that in the README & blogpost as this it seems already possible:

[code]

[2020-03-23 15:07] rthadur commented on #2944
@Miller144 thank you, the above tutorial is from private repo, this question is better asked in stack-overflow with tag 'tensorflow.js' , we only support bugs and feature here.

[2020-03-23 15:14] rthadur commented on #2942
Thank you, Sent out a PR [here](https://github.com/tensorflow/tfjs-models/pull/426) .

[2020-03-23 17:06] ghnp5 commented on #2941
Thank you @rthadur . I tried that, actually (because I saw what you said, somewhere), but then this stops working:

const tf = require('@tensorflow/tfjs-node');

saying that the "tfjs-node" wasn't found.

I started over and did:

+ @tensorflow/tfjs@1.7.0
added 5 packages, removed 47 packages and audited 9833 packages in 40.167s

And the only folders in "@tensorflow" are:

tfjs
tfjs-converter
tfjs-

[2020-03-23 17:09] ghnp5 commented on #2941
Thank you @rthadur . I'm a bit confused, though:

Are you saying that I should only include this?

    "@tensorflow/tfjs-node": "^1.7.0",

Or are you saying I only need to include this?

    "@tensorflow/tfjs": "^1.7.0",

I started over and did:

+ @tensorflow/tfjs@1.7.0
added 5 packages, removed 47 packages and audited 9833 packages in 40.167s

And the only folders in "@tensorflow" are:

tfjs
tfj

[2020-03-23 17:27] rthadur commented on #2941
That is other way around , you need to install only @tensorflow/tfjs-node.

[2020-03-23 18:11] ghnp5 commented on #2941
Alright. That seems to have done the job, indeed!
Thank you very much.

[2020-03-23 18:41] #2941 closed

[2020-03-23 20:25] tafsiri commented on #2943
I suspect expo doesn't support updating the camera texture while recording to a file. Something you could try is getting the cameraTexture after you start recording. I think this would involve not using `CameraWithTensorStream` but making your own component that uses camera directly. I'll take a closer look at this but I don't think there is a quick fix here.

Does the recording turn out as you ex

[2020-03-23 20:55] dsmilkov commented on #2738
So it could be that `videoElement.width` and videoElement.height` only affect how the browser renders the video tag on screen (how large to paint) and not what comes out of `fromPixels(video)`. Since `fromPixels(video) could give you a much larger texture b/c of the `getUserMedia` sizes, call `tf.image.resizeBilinear(fromPixels(video), [desiredHeight, desiredWidth])` after the input, to make sure

[2020-03-23 22:32] vpontis commented on #2943
@tafsiri thanks for the quick reply.

I'll try what you suggested -- getting the cameraTexture after I start recording.

I'll let you know what I end up figuring out :)

[2020-03-24 07:58] march23hare commented on #2818
@rthadur
This error has been occurred when I required only one module.

[code]

[code]

[code]

[2020-03-24 12:01] mugglmenzel commented on #2830
@rthadur That's the problem! The README is incorrect. The suggested xcode installation command is not working on Catalina.
Please see the gyp guidance and update the README accordingly:
https://github.com/nodejs/node-gyp/blob/master/macOS_Catalina.md#installing-node-gyp-using-the-xcode-command-line-tools-via-manual-download

[2020-03-24 12:03] mugglmenzel commented on #2830
For me, only the manual download worked. There are various tickets and SOs out there with other people facing the issue.

[2020-03-24 13:38] PratsBhatt commented on #2937
@rthadur , I have got the crash report from firefox. I am attaching the link [here](https://crash-stats.mozilla.org/report/index/4be08fea-c2b5-4ee8-80d9-3fc130200324).
I hope this can help in understanding the issue.

[2020-03-24 16:48] kangyizhang commented on #2873
@mprinc

Hi Sasha, I just tried the library on my machine with node v12.16.0 and v13.11.0, it works with both version. So I will need some more information to find the issue on you machine.

1. can you provide what is inside the `node_modules/@tensorflow/tfjs-node/deps` and `node_modules/@tensorflow/tfjs-node/lib`, it would be great if you could provide nested folder info as well, it should not be

[2020-03-24 17:54] kangyizhang opened #2959 "Update proto info for TF SavedModel input/output TensorShape"
The TensorShape field in TF SavedModel SignatureDef has been updated: https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/protobuf/meta_graph.proto#L257

The corresponding part need to be updated in tfjs-node, and perhaps tfjs-converter.

[2020-03-24 17:55] kangyizhang commented on #2739
hi @Pierrci , thanks for reporting this.

This is because the model is exported with a new version of tensorflow python. The corresponding parsing code need to be updated in tfjs-node. I have filed https://github.com/tensorflow/tfjs/issues/2959 to track this and we are working on it.

[2020-03-24 17:56] #2739 closed

[2020-03-24 17:57] kangyizhang commented on #2687
hi @JeffreyXBao , can you provide the version of the library where you encounter this issue?

[2020-03-25 03:13] eschirtz commented on #2763
Just wanted to ping this thread again. We've been having a lot of trouble getting this sorted out.

Thanks,

[2020-03-25 09:13] Linkyz opened #2961 "Loading saved model with optimizer."
_#### TensorFlow.js version
@tensorflow/tfjs-node": "^1.3.2"
Node 13.8.0
#### Describe the problem or feature request

[code]

#### Code to reproduce the bug / link to feature request

[code]
Hello,
I'm currently having issues when I try to load a saved model with his optimizer.
Saved metrics seems to not be recognized by the loader.
The training works well, I can save and load the model without t

[2020-03-25 16:26] kangyizhang commented on #2818
hi @march23hare

1. are you still seeing the same issue with latest version (1.7.0)?
2. can you confirm what is inside `node_modules/@tensorflow/tfjs-node/deps` and `node_modules/@tensorflow/tfjs-node/lib'?

[2020-03-25 16:29] kangyizhang commented on #2961
hi @Linkyz

where did you get this model?

[2020-03-25 16:29] #2961 closed

[2020-03-25 16:37] kangyizhang commented on #2741
hi @dhowe

This is a warning from a dependent package (node-pre-gyp) which we are not able to modify, but the library actually works with N-API version 5. Did you see any other issue while using the library?

[2020-03-25 16:39] #2428 closed

[2020-03-25 21:56] ben-xD commented on #1948
Is there a possibility of using a different way to get GPU support? Expo is a **very** painful experience, and I've decided that its not worth it for my projects. I'm going to find a long way around to get neural networks on react native, probably tensorflow lite.

A few of my reasons (many others have said the same, btw):
- Lots of open issues (670), and the issues that I'm affected by (many of t

[2020-03-26 00:38] SpeedyCraftah commented on #2631
Same problem, tried every single version, but at the end i always got "Illegal instruction" and I need those bindings for local model save/load to work

[2020-03-26 04:58] Linkyz commented on #2961
I made this model myself.
I train it then I save it.
I can't load the model when I save it with the optimizer.

[2020-03-26 06:33] dhowe commented on #2741
Things seem to work OK, though would be great to figure a way to disable this as it makes devs think something is broken

[2020-03-26 06:56] vpontis commented on #2943
@tafsiri I talked with the Expo team and it looks like the issue is from here: https://github.com/expo/expo/blob/2a73695021431dc52e46030d5b28954accaaf50a/packages/expo-camera/ios/EXCamera/EXCamera.m#L498

The `expo-camera` module uses `AVSession` for iOS which does not allow both buffering image data for processing and writing to a video file.

As a workaround, I am periodically taking snapshots o

[2020-03-26 09:48] KapoorHitesh commented on #2043
Can we have some example usage of the boypix model in python?

[2020-03-26 13:24] akshaybabhulkar28 opened #2972 "Uncaught ReferenceError: regeneratorRuntime is not defined"
<!Doctype html>
<html>
<head>

    <title>Tensorflow.js linear regression</title>
   <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs/dist/tf.min.js"> </script>
   <script src ="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs-vis"></script>
</head>

<body>

<script type="text/javascript">

        async function plot(pointsArray, FeatureName) {
            tfvis.render.scatterplot (

[2020-03-26 13:28] akshaybabhulkar28 commented on #2972
error: Uncaught ReferenceError: regeneratorRuntime is not defined

[2020-03-26 15:10] tafsiri commented on #2943
@vpontis thanks for looking into this and following up.

With regard to performance I'd say the other main axis of control you have is what size image tensor you pass in. I think you've got a reasonably small image going in though. How are you measuring it? Are you just isolating the posenet inference or including some of the image resizing etc.

Also the benchmark you point to is for tf-lite, so

[2020-03-26 16:23] rthadur commented on #2972
@akshaybabhulkar28 can you please provide steps followed if possible an codepen example ?

[2020-03-26 16:41] rthadur commented on #2763
@kangyizhang gentle ping if you have any thoughts on this ?

[2020-03-26 16:48] #2741 closed

[2020-03-26 17:19] kangyizhang commented on #2763
hi @eschirtz

tfjs-node will detect the N-API version on the machine during installation and use the detected version. The node-pre-gyp error `node-pre-gyp info This Node instance does not support builds for N-API version 5` is from the dependent package `node-pre-gyp` and we are working on removing it. It's actually a warning and the tfjs-node library works in N-API version 5.

For the original e

[2020-03-26 17:48] eschirtz commented on #2763
Hey @kangyizhang ,

Thanks for the updates, especially with regards to N-API.

My team has decided to move to using `tfjs` rather than `tfjs-node` for the time being due to issues we had getting auto-updates to work in electron. Just some of the c headers / libraries weren't getting along with MacOS Catalina and the "ShipIt" tool.

I think I will close this issue for now and re-open if we continue

[2020-03-26 17:48] #2763 closed

[2020-03-26 19:31] #2745 closed

[2020-03-27 00:14] ikonduktor commented on #1224
I have the answer:
For example you say you have 2, 3 input shape, but you provide first element 2, 3, but the second element 2, 2;

for example you should provide [[1,1,1], [1,1,1] ...] but you provide [[1,1,1], [1,1]]

[2020-03-27 04:28] EddieOne commented on #1370
@TechnoDezi What was the secret to make it work?

I see there is mention of this command. ` npm rebuild @tensorflow/tfjs-node --build-from-source`

but I get ` UnhandledPromiseRejectionWarning: Error: Unsupported system: cpu-linux-arm`

Maybe because I'm using a raspbery pi 3

[2020-03-27 04:52] mprinc commented on #2873
Thank you @kangyizhang,

(Sorry for the delay, gmail classified email in forums, added better rules now)

For your convenience, here is the demo repo: https://github.com/mprinc/tfjs-node-test

Here is the content of the `node_modules/@tensorflow/tfjs-node/deps/` (and I also attached zip, excluding heavy `node_modules/@tensorflow/tfjs-node/deps/lib/*.dylib` files):

[code]

Here is the content of t

[2020-03-27 04:54] mprinc commented on #2873
This is the full error message:

[code]

[2020-03-27 04:57] mprinc commented on #2873
I cannot reproduce the error now 100%. What I experienced now is that the error gets with upgrading/downgrading node (a month ago, with older tfjs versions it didn't matter).

Older node versions build `napi-v4` and a newer version builds `napi-v5`

[2020-03-27 10:33] axinging opened #2976 "[webgpu] nonMaxSuppression doesn't work with other operators in sync mode"
The root cause is:
In sync mode (Can not call await), the scores generated by div is resided in the GPU. But for NMS,  it requires the input data is ready in the CPU. So this may fail in WebGPU but pass in WebGL.
[code]

The work around is before passing any data to NMX in WebGPU, await it first. This passes in both WebGL and WebGPU:
[code]

To get help from the community, we encourage using Stack

[2020-03-27 15:46] AbdulRashidReshamwala commented on #264
This issue can be solved by
[code]
tested on version 1.7.0

[2020-03-27 16:52] kangyizhang commented on #2873
@mprinc  Yes you are correct. The node addon module (tfjs_binding.node) is compiled to a folder whose name include the N-API version. So if you installed the library in node.js with N-API version 4, the node addon module is stored as `node_modules/@tensorflow/tfjs-node/lib/napi-v4/tfjs_binding.node`. Then if you upgrade node.js to a version with N-API version 5, during execution the library will t

[2020-03-27 16:52] #2873 closed

[2020-03-27 17:09] mprinc commented on #2873
Thanks @kangyizhang . I hope for the best :)

[2020-03-27 18:23] shiyingZhang90 opened #2978 "'conv2dDerInput' kernel may not be implemented yet in the wasm backend."
To get help from the community, we encourage using Stack Overflow and the [`tensorflow.js`](https://stackoverflow.com/questions/tagged/tensorflow.js) tag.

#### TensorFlow.js version
"@tensorflow/tfjs": "^1.5.2",
#### Browser version
Chrome: Version 80.0.3987.106 (Official Build) (64-bit)
#### Describe the problem or feature request
I try to use hand pose and face mesh model in same javascript, so

[2020-03-27 21:58] nicholasio opened #2987 "[tfjs-react-native] CameraStream wrong orientation in landscape mode."
To get help from the community, we encourage using Stack Overflow and the [`tensorflow.js`](https://stackoverflow.com/questions/tagged/tensorflow.js) tag.

#### TensorFlow.js version
[code]
#### Browser version
This is an issue with tensorflow for react native.
react-native-cli: 2.0.1
react-native: 0.61.5

#### Describe the problem or feature request

The Camera Stream does not work well in landsc

[2020-03-28 17:21] arshadshk opened #2989 "tfjs@latest:2 Uncaught (in promise) Error"
following error is shown in console -
tfjs@latest:2 Uncaught (in promise) Error: Provided weight data has no target variable: bidirectional_1/forward_lstm_1/lstm_cell_4/kernel
    at new e (tfjs@latest:2)
    at e.loadWeights (tfjs@latest:2)
    at tfjs@latest:2
    at tfjs@latest:2
    at Object.next (tfjs@latest:2)
    at o (tfjs@latest:2)
e @ tfjs@latest:2
e.loadWeights @ tfjs@latest:2
(anonymo

[2020-03-28 19:35] lina128 commented on #2989
Hi @arshadshk, does it happen on other versions too? You can change this line to: <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@1.7.0"> </script>

[2020-03-29 01:14] elazarg commented on #2442
reset_after=True doesn't work for me:
[code]

Version 1.6.0

[2020-03-29 01:29] cyruslk commented on #2818
@kangyizhang, I've tried with the version `1.7.0` and it's working! I'll let @march23hare  confirm but on my side everything is ok. thanks!

[2020-03-29 06:04] arshadshk commented on #2989
Hey @lina128  same problem with 1.7.0

[2020-03-29 08:58] arshadshk commented on #2989
Resolved.
Used tensorflowjs_wizard and selected Keras HDF5 with 2x compression.
<script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@latest">

*Earlier used colabs. Now converted on local machine with tensorflow.js 1.6.0.

Thanks

[2020-03-29 08:58] #2989 closed

[2020-03-29 11:23] forgetableDr commented on #27
Would love to see sparseCategoricalCrossentropy as well.

[2020-03-29 15:51] DuDuDu-sysu opened #2991 "Cannot get link to sample model ——facemesh"
I build the web project by npm，but it show that text：

GET https://www.gstaticcnapps.cn/tfhub-tfjs-modules/mediapipe/tfjs-model/facemesh/1/default/1/model.json 404 (Not Found)

[2020-03-30 16:08] akineeic opened #2994 "[WASM] Implement of batchToSpaceND"
Hello, I want to do inference with [SRGAN](https://arxiv.org/abs/1609.04802) (a super resolution model) but found there is no implement of batchToSpaceND in tfjs-backend-wasm. So I'd like to know do you have plan to implement this op in tfjs-backend-wasm since it's a commonly used op in super resolution model.

Looking forward to your reply.

[2020-03-30 16:11] wardhanster commented on #2766
anyupdates ?

[2020-03-30 17:03] annxingyuan commented on #2994
Hi @akineeic - yes this is on our medium-term roadmap - batchToSpaceND and spaceToBatchND are required for models in our repo as well (e.g. DeepLab).

[2020-03-30 18:10] #2991 closed

[2020-03-30 22:50] march23hare commented on #2818
@kangyizhang Hi.

1. It works well with latest version! Thank you!
2. Here is a list
[code]

[2020-03-30 22:50] #2818 closed

[2020-03-31 01:14] easypinex opened #2997 "tensorflow.js with ml5 conflict at angular"
I built my project based on the Angular framework (8 or 9) , and import both tensorflow.js and ml5.js simultaneously.

I created two pages (component) for each package.

It looks fine if I import package A and only viewed one page.

But when I load another page (which using different js package ),

it would show some errors.

Is there any suggestion to make them work normally, even if the page ret

[2020-03-31 02:31] akineeic commented on #2994
Thanks for your quickly reply. By the way, I'm wondering if your goal is to make wasm backend the same as webgl. For example the [maximum](https://github.com/tensorflow/tfjs/blob/8c2e0b241dc14b1847255c88260642674e7b84e5/tfjs-backend-wasm/src/setup_test.ts#L244-L245) in wasm doesn't support broadcasting along inner dims yet, will you still try to implement these missing features.

[2020-03-31 04:39] akineeic opened #2998 "[WASM] The value of tensor created from TypedArray is incorrect"
#### TensorFlow.js version
- @tensorflow/tfjs-core@"1.5.2"

- @tensorflow/tfjs-backend-wasm@1.5.1-alpha5

#### Browser version
- 80.0.3987.132 (Official Build) (64-bit)

#### Describe the problem or feature request
The issue is shown as the following picture. The data of bias is from a [squeezeNet](https://storage.googleapis.com/download.tensorflow.org/models/tflite/model_zoo/upload_20180427/squee

[2020-03-31 04:56] ManishAradwad commented on #1238
I'd love working on this issue. I'll need some help:
1. Which files should I edit / Where should I add test files?
2. Is there some reference test file to see how it's done?
Thanks!

[2020-03-31 04:59] ManishAradwad commented on #1085
Hello, I'd like to work on this issue! Can someone plz give me some pointers about how should I begin?

[2020-03-31 09:28] alidasmeh opened #2999 "TypeError: tf.tensor(a).get(0) is not a function"
Hello,

I am learning TensorFlow.js through an online course.
we prepared a very simple KNN function by tfjs but on the teacher's computer it works but on my computer no.

I installed the 1.7.0 version of TensorFlow ( because of the latest existed document in tfjs website is 1.7.0)
Node version:  v12.16.1

when I run node on the terminal the below error appears :
[code]

it is my code :
[code]

I

[2020-03-31 10:43] alidasmeh commented on #2999
This problem occurred when I tried to simply test in on CodePen.io, as well. It is strange.
I run just this code :
[code]
it shows :
[code]

[2020-03-31 12:30] annxingyuan commented on #2994
Yes, we would like our backends to be interchangeable with each other as much as possible. We are gradually adding features to our WASM backend. We look to GitHub issues (like this one) for signal on which features should be prioritized :)

[2020-03-31 14:27] akineeic commented on #2994
Thanks for your information, that is helpful for me.

[2020-03-31 15:04] sbrl commented on #894
I've decided to use Tensorflow.js as my  primary deep learning framework for my PhD. I'm just starting the AI part of my project now, and run into this message. It's a shame this issue has essentially been closed as a wontfix, as the potential performance increase is pretty huge.

I have a pair of suggestions:

 - Would it be possible for the Tensorflow binary to auto-detect as to whether the inst

[2020-03-31 15:29] obenjiro commented on #1093
@caisq Any progress so far?

[2020-03-31 16:56] rthadur commented on #2999
@alidasmeh can you please share a CodePen link where we can reproduce ? thank you

[2020-03-31 17:09] alidasmeh commented on #2999
Hi,
it is the link:
https://codepen.io/alidasmeh/pen/MWwxpgR?editors=1010

I just found that when I use version "0.15.3" and prior versions the ".get()" method is working.
But in the version "1.0.0" and after that ".get()" method occurs errors.

I need to use latest version of tfjs due to my node js version is "12.6.3".

[2020-03-31 17:29] duylinhdang1998 opened #3001 "I can't run example tfjs-react-native? Any one help me"
I get error with react-native-unimodules when I run app.
Help me please

[2020-03-31 17:37] nicholasio commented on #2987
@rthadur @tafsiri I'm willing to contribute with a PR for this one. Is there any guidance you can give on where I should start looking at? After a quick look it seems like we need to rotate the image when in landscape mode. I assume that should be done through WebGL in a custom shader.

Any guidance is appreciated.

[2020-03-31 17:50] alidasmeh commented on #2999
Hi again,
In Codepen I changed the tfjs version to "0.15.3" and I saw a warning in the console :
`
"Tensor.get() is deprecated. Use Tensor.array() and native array indexing instead. You can disable deprecation warnings with tf.disableDeprecationWarnings()."
`
I used the array method as well. But it did not help.
array method returns a "Promise { <pending> }". I don't know how I can get data from t

[2020-03-31 18:00] kangyizhang commented on #2999
`Tensor.array()` is an asynchronize function. You will need to use `await` or `promise` to get the returned value. Or you can you `Tensor.arraySync()`: https://js.tensorflow.org/api/latest/#tf.Tensor.array

[2020-03-31 18:00] #2999 closed

[2020-03-31 18:01] rthadur commented on #2999
@alidasmeh you should use async await to use .array , I have modified the code pen please check

[2020-03-31 19:02] rthadur commented on #3001
please provide more details using the template so that we can better assist you.

[2020-03-31 19:02] #3001 closed

[2020-03-31 19:27] alidasmeh commented on #2999
Thank you.
I could redevelop my code. it is working now.
But I had to write 5 lines more instead of using get method.
In the API documentation in "https://js.tensorflow.org/api/1.7.0/" the get method is mentioned. If it is not working longer, please delete it.

I had to write a code like below code to do the get method duty :
[code]

[2020-03-31 20:12] rthadur commented on #2999
can you please share the link where the get method is mentioned.

[2020-04-01 00:45] axinging opened #3003 "[webgpu] Avoid error out if the browser doesn't support WebGPU"
Currently there are models  which support dymanically select backend (e.g. https://github.com/tensorflow/tfjs-models/blob/master/facemesh/demo/index.js#L172).

But when add the webgpu backend support for the handpose (https://github.com/tensorflow/tfjs-models/pull/427), this may error out when running on a non WebGPU support browser due to the import chain, though the WebGPU codepath is not really

[2020-04-01 01:52] armand-gonthier opened #3004 ""Error: 152 of 197 weights are not set" when loading converted model from Keras with Batch Norm Layers"
#### TensorFlow.js version
@tensorflow/tfjs-node:  ^1.7.1,

#### Browser version
None, running in Visual Studio Code terminal

#### Describe the problem or feature request
I'm porting to TF.js a model converted from Keras with its pretrained weights.
I followed the instructions on the [documentation](https://www.tensorflow.org/js/tutorials/conversion/import_keras) and imported the weights from a l

[2020-04-01 02:20] duylinhdang1998 commented on #3001
I got error like this. I don'tt understand lib tfjs-react-native conflict with react-native-unimodules
If I remove react-native-unimodules  I can't use tfjs-react-native. If i don't import tfjs-react-native my app is worked. I using react-native 0.61.2
![image](https://user-images.githubusercontent.com/40199004/78092251-7c703200-73f9-11ea-96b2-c8ccfb1da2d6.png)
Here my code:
![image](https://user-

[2020-04-01 05:15] akshaybabhulkar28 commented on #2972
<!Doctype html>
<html>
<head>
    <title>Tensorflow.js linear regression</title>
   <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs/dist/tf.min.js"> </script>
</head>
<body>

    <script type="text\javascript">
        async function run () {
        const diabeticDataset = tf.data.csv("http://localhost:52098/diabetes.csv");
        const SampleDataset = diabeticDataset.take(10);

[2020-04-01 08:14] joaoahmad commented on #1792
maybe it can help someone ending up here:
you can use `tf.CustomCallback` to make it work

[code]

[2020-04-01 11:37] syonfox commented on #2778
This looks like it may be a similar problem.

backend.ts:665 Uncaught (in promise) Error: 'oneHot' not yet implemented or not found in the registry. Did you forget to import the kernel?
    at Fa (backend.ts:665)
    at BackendWasm.t.oneHot (backend.ts:586)
    at one_hot.ts:58
    at engine.ts:605
    at engine.ts:424
    at t.scopedRun (engine.ts:435)
    at t.tidy (engine.ts:422)
    at h (engi

[2020-04-01 13:37] ninkambazi opened #3007 "Unable to resolve module `worker_threads`"
To get help from the community, we encourage using Stack Overflow and the [`tensorflow.js`](https://stackoverflow.com/questions/tagged/tensorflow.js) tag.

#### TensorFlow.js version:~1.5.1
#### tfjs-react-native version: 0.2.3
#### Node Version: 12.9

#### Browser version

#### IF I RUN _integration_rn59  template_ NPX REACT-NATIVE RUN-ANDROID I GOT THIS ERROR  IN METRO CLI:** bundling failed: Er

[2020-04-01 14:21] tafsiri commented on #2987
@nicholasio Thanks for being willing to contribute. A couple of starting points to investigate.

For doing the transform in WebGL the starting point would be the [renderToGLView function](https://github.com/tensorflow/tfjs/blob/a7a07387f66ff46b34641bc0140db55a17e076ca/tfjs-react-native/src/camera/camera.ts#L224), you will see it calls [drawTexture](https://github.com/tensorflow/tfjs/blob/a7a07387f

[2020-04-01 14:29] pvanhaes commented on #2836
Did anyone manage to reproduce this issue?
This impacts the last operation of our model which is a softmax, so for now we compute the softmax in plain javascript to avoid this problem.

[2020-04-01 16:51] tafsiri commented on #3007
Try running `yarn prep-tests` before trying to start the app.

[2020-04-01 16:53] tafsiri commented on #3007
Longer term I think it would be great to move this to the node backend for convenience, this will also allow other packages karma configurations to not need to exclude it. cc @nsthorat @dsmilkov

[2020-04-01 17:15] nsthorat commented on #3007
@tafsiri I think we want to keep it in core because this is a platforms thing (nothing to do with the Node backend).

[2020-04-01 17:23] tafsiri commented on #3007
True. It's definitely more related to the platform (which is bundled with core). My thinking is that it might be pragmatically helpful even if not conceptually accurate/correct. But there are other workarounds, it just requires all the builds to be aware of and exclude these files like this.

[2020-04-01 18:26] ninkambazi commented on #3007
@tafsiri After running  **yarn prep-tests***
I got this error:
[code]

[2020-04-01 19:42] tafsiri commented on #3007
@ninkambazi Thanks for the update I'll look into this. In the mean time if you were looking for a starter project/template this https://github.com/Polarisation/react-native-template-tfjs might be useful.

[2020-04-01 21:36] set-killer commented on #2545
Updated to the newest version and now it works.

`const result = model.predict(Object.values(xs));`

[2020-04-01 21:36] #2545 closed

[2020-04-01 21:53] kangyizhang opened #3011 "[node] Add check and error message when tfjs_bindings.node is missing"
To get help from the community, we encourage using Stack Overflow and the [`tensorflow.js`](https://stackoverflow.com/questions/tagged/tensorflow.js) tag.

#### TensorFlow.js version

#### Browser version

#### Describe the problem or feature request

#### Code to reproduce the bug / link to feature request
If you would like to get help from the community, we encourage using Stack Overflow and the

[2020-04-01 22:03] nicholasio commented on #2987
@tafsiri

I added a react native transformation and fixed the preview

[code]

However, the webcam tests no longer work properly in the integration testing app. I think this rotation adjustment needs to happen early, I believe the image tensor that is yielded to the onReady callback is still being sent without the rotation.

[2020-04-01 22:58] KapoorHitesh opened #3012 "How to use bodypix in python?"
I have converted the bodypix model to TF pb file, I am also able to pass an image and get some output but I don't know what sense to make of this output. Ther is a lot of pre-processing and post-processing done in BodyPix TFJS. Can I get a simple minimal example to segment a person using bodypix in python?

[2020-04-02 01:22] nicholasio commented on #2987
This is how it looks like in a test app I made, it was supposed to take up the whole viewport.

![image](https://user-images.githubusercontent.com/6104632/78201095-1c17d980-7467-11ea-8796-d13d2eb805bf.png)

[2020-04-02 05:48] kaushiksa opened #3014 "Unresponsive script error when using tensorflow js in firefox add-on"
TensorFlow.js version: 1.7.1

Browser version Firefox v74

For my web application, I use **TensorFlow js with BlazeFace model** to recognize the number of people present in a frame from a live camera feed. Since it used to blocked my UI, I shifted all my code to a extension/add-on which runs with my web-page. The whole setup (including the extension )works like a charm in chrome.But when I do the

[2020-04-02 09:00] ninkambazi commented on #3007
@tafsiri thanks for https://github.com/Polarisation/react-native-template-tfjs   it builds very well (100%)  but the thing is after installing the app it suddenly crushes with black screen even if i restart it again it loads from the port but again in start up it crushes in my android device. Anything on this?

[2020-04-02 10:12] ninkambazi commented on #3007
@tafsiri https://github.com/Polarisation/react-native-template-tfjs
 **thank you it worked**

[2020-04-02 16:49] yangshengdong opened #3016 "Error: Cannot find module /tf-node/node_modules/@tensorflow/tfjs-node/lib/napi-v4/tfjs_binding.node'"
To get help from the community, we encourage using Stack Overflow and the [`tensorflow.js`](https://stackoverflow.com/questions/tagged/tensorflow.js) tag.

#### TensorFlow.js version
1.7.1
#### Node version
10.16.3
#### Describe the problem or feature request
![image](https://user-images.githubusercontent.com/12997948/78275938-e2b59b80-7544-11ea-8ca2-b071812d3221.png)

#### Code to reproduce the b

[2020-04-02 17:46] kangyizhang commented on #3016
hi @yangshengdong
1. what is your operating system?
2. can you provide the logs when you install @tensorflow/tfjs-node
3. can you confirm what is inside `node_modules/@tensorflow/tfjs-node/lib`
4. can you try to run `npm rebuild @tensorflow/tfjs-node build-addon-from-source` and see if it resolves this issue?

[2020-04-02 18:56] bonkzero404 commented on #1370
No, i'm using RPI4 but it still has an error

[2020-04-02 19:16] tafsiri opened #3017 "api docs listing members of tensor class in return type"
Somewhere along the way the doc generator/website expanded Tensor types in the return value to list all their properties it does this in multiple places.

#### TensorFlow.js version
visible in 1.7.1

<img width="1180" alt="Screen Shot 2020-04-02 at 3 14 34 PM" src="https://user-images.githubusercontent.com/26408/78292343-defa2880-74f4-11ea-9197-b7158e56fd56.png">

[2020-04-02 21:43] pyu10055 commented on #3014
@kaushiksa The first execution is much slower, since it compiles the webgl shaders for the model. You can try to add a warmup prediction with all zero tensors right after the model is loaded in your extension, see if that can help to avoid the error message.

[2020-04-02 22:06] TechnikEmpire commented on #1377
@pyu10055 You accidentally unassigned yourself and reassigned yourself instead of assigning @vbardiovskyg as requested.

[2020-04-02 22:59] blakjakau commented on #2978
I have this same issue with my custom models not being able to run on the WASM backend

[2020-04-02 23:07] kangyizhang commented on #3011
This has been fixed by https://github.com/tensorflow/tfjs/pull/3013

[2020-04-02 23:07] #3011 closed

[2020-04-02 23:36] yangshengdong commented on #3016
1. what is your operating system?
 macOSX 10.14.2 (18C54)
2. can you provide the logs when you install @tensorflow/tfjs-node

[code]
3. can you confirm what is inside node_modules/@tensorflow/tfjs-node/lib
 NO
4. can you try to run npm rebuild @tensorflow/tfjs-node build-addon-from-source and see if it resolves this issue?
 yes but without effect

[2020-04-03 00:11] kangyizhang commented on #3016
@yangshengdong
I have uploaded precompile addon module so reinstall the library should work for you. But in future in you upgrade the version you might have this issue again. The error seems to be related with calling python version in npm, and based on https://github.com/netlify-templates/victor-hugo/issues/186,  you can try to reinstall npm.

[2020-04-03 02:05] yangshengdong commented on #3016
ok，thx，It's ready to work

[2020-04-03 02:05] #3016 closed

[2020-04-03 03:16] rthadur commented on #2972
is it possible to share .csv or any example data ?

[2020-04-03 03:19] #1792 closed

[2020-04-03 03:22] rthadur commented on #2778
@syonfox do you wish to contribute ?

[2020-04-03 10:28] MikeMitterer opened #3022 "Wrong typing for MobileNet interface"
#### TensorFlow.js version
1.7.1

#### Browser version
Version 80.0.3987.149

#### Describe the problem or feature request
I'm following this CodeLab:
https://codelabs.developers.google.com/codelabs/tensorflowjs-teachablemachine-codelab/index.html?index=..%2F..index#6

There is a line which shows:
[code]
As you can see - the second param is a string.
But here https://github.com/tensorflow/tfjs-mod

[2020-04-03 14:27] rthadur commented on #3022
@MikeMitterer thanks for reporting , we will check and get back to you.

[2020-04-03 15:45] rthadur commented on #3022
@MikeMitterer codelab will be updated , meanwhile can you use boolean for embedding.

[2020-04-03 16:13] gautamchitnis commented on #1684
Hey

I'm looking to implement MaskRCNN inference with tfjs for a production project I'm working on. I would love to get some help and would very much like to contribute for getting MaskRCNN into model garden if possible.

Please let me know where/how we can discuss this and take it forward.

From what I have achieved till now, it looks like following things are required for my particular case:

Re

[2020-04-03 17:27] akineeic commented on #2998
#### Code to reproduce the bug
Found a common way to reproduce this issue just now. I reuse the code of the sample of [webpack](https://github.com/tensorflow/tfjs/tree/master/tfjs-backend-wasm/starter/webpack), just need to rewrite the function [run()](https://github.com/tensorflow/tfjs/blob/master/tfjs-backend-wasm/starter/webpack/src/index.js#L21-L25) as follows:

`async function run() {`
`  //

[2020-04-03 22:43] rthadur commented on #3022
This is fixed now , thank you

[2020-04-03 22:43] #3022 closed

[2020-04-04 02:01] nicholasio commented on #2987
@tafsiri I was able to fix the camera preview by having the draw_texture_program rotate it

[code]

I'm also assuming this same rotation needs to happen when getting the texture with `fromTexture` to ensure the tensor that is sent to the onReady callback is in the correct orientation.

Would you say that writing a new webgl program is the way to go? I'm also thinking of adding a prop
to the Camera

[2020-04-04 05:44] duylinhdang1998 opened #3036 "Bug tfjs-react-native"
when I ran new project with tfjs-react-native, react-native-unimodules,  i got error
![image](https://user-images.githubusercontent.com/40199004/78419627-c95e3d80-7671-11ea-958f-0222721ea8c4.png)
Here is my code
![image](https://user-images.githubusercontent.com/40199004/78419646-e2ff8500-7671-11ea-8204-1725e086d122.png)
If i didn't import "@tensorflow/tfjs-react-native" my app work correctly ?
ho

[2020-04-04 05:53] duylinhdang1998 commented on #2987
Hello can you tell me how do you run tfjs-react-native on react-native-cli project?
i config and run got error
![image](https://user-images.githubusercontent.com/40199004/78419768-40e09c80-7673-11ea-83c6-379dbc3f26bd.png)
Please help me? my package.json
![image](https://user-images.githubusercontent.com/40199004/78419772-4d64f500-7673-11ea-87fb-598e9cec3107.png)

[2020-04-04 13:03] akshaybabhulkar28 commented on #2972
Yes,here it is.

On 03-Apr-2020, at 8:46 AM, Rajeshwar Reddy T <notifications@github.com<mailto:notifications@github.com>> wrote:

is it possible to share .csv or any example data ?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://github.com/tensorflow/tfjs/issues/2972#issuecomment-608206422>, or unsubscribe<https://github.com/notificati

[2020-04-04 17:37] nicholasio commented on #2987
@duylinhdang1998 looks like you need pod install on the ios folder. But please open your own issue or go to stack overflow for support.

@tafsiri On another note, this doesn't seem to be an issue on android.

[2020-04-04 18:26] syonfox commented on #2778
Right now I am just learning tensorflowjs and webassembaly,  I was just wanted to Post a bug that oneHot is also not implemented in wasm.  I could look into adding it but it would take a while to learn the project structure.  Should I perhaps create a new issue since this is already closed?  The reason I put it here was the issue looks like the same problem.

[2020-04-05 01:38] jdariasl opened #3039 "ValueError: Unsupported Ops in the model before optimization Dilation2D"
Hi

I'm trying to convert a frozen model using tensorflowjs_converter but I got this error:

Traceback (most recent call last):
  File "/home/julian/.local/bin/tensorflowjs_converter", line 8, in <module>
    sys.exit(pip_main())
  File "/home/julian/.local/lib/python3.7/site-packages/tensorflowjs/converters/converter.py", line 671, in pip_main
    main([' '.join(sys.argv[1:])])
  File "/home/juli

[2020-04-05 03:04] rthadur commented on #2972
@akshaybabhulkar28 i can't see .csv , can you paste contents of csv in a gist please ?

[2020-04-05 03:06] rthadur commented on #3036
did you get chance to look at this [response](https://github.com/tensorflow/tfjs/issues/2987#issuecomment-609063535) ?

[2020-04-05 04:34] ajaichemmanam opened #3040 "Body-Pix in detail"
@oveddan @nsthorat @tylerzhu-github @tafsiri @dsmilkov @pyu10055
Sorry for asking attention from the devs,

I have been trying to understand the bodypix model to port it to python. (Specifically Resnet Model)

I have ported the model to python. It produces  8 results
from these output tensors.
['resnet_v1_50/displacement_bwd_2/BiasAdd:0', 'resnet_v1_50/displacement_fwd_2/BiasAdd:0', 'float_heatmap

[2020-04-05 04:36] ajaichemmanam commented on #3012
Actually I have done a major part of work porting bodypix to python. See #3040 . Will update more details shortly

[2020-04-05 17:08] ajaichemmanam commented on #2043
See https://github.com/ajaichemmanam/simple_bodypix_python

[2020-04-05 17:51] zappys commented on #1717
I'm also interested in some details regarding WebAudio FFT.

Stuck at step 3:
"Run WebAudio FFT on the .dat files generated in step 2 in the browser. TODO(cais): Provide more details here."

[2020-04-06 05:41] kaushiksa commented on #3014
@pyu10055 I did try out a warmup prediction by adding the below in the blazeface library, I still get that message. Am I doing something wrong here?
[code]

[2020-04-06 12:08] nicholasio commented on #2987
@tafsiri I've got a PR opened, let me know If it's on the right track. I updated the test project and was able to verify the camera rotates properly.

[2020-04-06 12:56] kvrvgixzis opened #3042 "load Keras model"
if i used tfjs 0.10.0 and method tf.loadModel(path.model.json) predict work fine, but very slow.
if i used latest tfjs and method loadLayersModel predict work wrong
How load keras model JSON file on latest version?

Code tfjs 0.10.0
[code]

[2020-04-06 15:13] tafsiri commented on #3036
@duylinhdang1998 Did you run all the install instructions https://github.com/tensorflow/tfjs/tree/master/tfjs-react-native#step-2-install-expo-related-libraries? Including the ones for unimodules and expo-gl?

[2020-04-06 17:40] rthadur commented on #3014
@kaushiksa did you get chance to look at similar issue [here](https://github.com/tensorflow/tfjs/issues/2301) ?

[2020-04-06 19:13] rthadur commented on #3042
0.10 is very old version ,we would suggest to use latest version. Before we can help we need this info

1) Model(how it is trained)
2) Errors
3) CodePen example (if pssible)

Thank you

[2020-04-07 03:10] joeedh opened #3046 "Weights Zeroed On Loading Saved Model"
#### TensorFlow.js version
1.7.2
#### Browser version
Chrome  80.0.3987.163

#### Describe the problem or feature request

When I load a model saved to localstorage with model.save(), it doesn't load any weights.  However there is weight data in localStorage, and model.save()'s return value says it is saving weights.  But when I look at the weight data on the loaded model it's all zeroed.

[2020-04-07 08:05] aperkaz commented on #740
Thanks @daisy-ycguo that worked well. I am trying to make it work still with local models, did anyone make it work?
I get the same error message `(node:20391) UnhandledPromiseRejectionWarning: TypeError: Only HTTP(S) protocols are supported` when following the aforementioned tutorial.

[2020-04-07 15:15] cristiancc commented on #2943
Hey @vpontis do you mind elaborating more about how you worked around this limitation? I actually hit the same blocker and I'm trying to understand why taking a snapshot helps and how to do it. I'm also new to Tensorflow and WebGL.

The expo-camera module uses AVSession for iOS which does not allow both buffering image data for processing and writing to a video file.
As a workaround, I am periodic

[2020-04-07 16:31] rthadur commented on #3046
@joeedh can you please share the steps to reproduce the issue ?

[2020-04-07 21:10] danielecordano commented on #755
I am experiencing the same issue:
errors.ts:48 Uncaught (in promise) Error: Provided weight data has no target variable: gru_1/gru_cell_1/kernel
    at new e (errors.ts:48)
    at e.loadWeights (container.ts:612)
    at models.ts:318
    at common.ts:14
    at Object.next (common.ts:14)
    at o (common.ts:14)
In Google Colab I wrote:
tfjs.converters.save_keras_model(model, 'model')
In Javascript:

[2020-04-08 03:47] Shaiken commented on #991
@NathanBWaters so...https://github.com/intel/webml-polyfill
is final soluction?
I am also looking for a solution recently
Also want to apply it to cordova

[2020-04-08 07:04] kaushiksa commented on #3014
@rthadur Yes, I did some optimizations based on those suggestions but I am still getting the warning message. Also, it comes up on the demo page of blazeface itself in firefox (on the web application). https://storage.googleapis.com/tfjs-models/demos/blazeface/index.html
I also get this console warning when i run my prediction for this model:
![image](https://user-images.githubusercontent.com/3125

[2020-04-08 08:24] vpenades opened #3048 "Posenet 2.0 in TFLite format."
#### TensorFlow.js version

Emgu.TF 2.1.0.838

#### Describe the problem or feature request

Hi, I've been using `posenet_mobilenet_v1_100_257x257_multi_kpt_stripped.tflite`, and I've realized there's a Posenet 2.0 for a while now... I've been looking at the code at https://github.com/tensorflow/tfjs-models/tree/master/posenet , and I've noticed the posenet 2.0 models are now delivered as js/weigh

[2020-04-08 09:24] prajjwal1 opened #3050 "Loading keras model into tensorflow.js locally"
I have followed the guidelines to convert keras model to tfjs compatible model. Specifically I used `tfjs.converters.save_keras_model(model, tfjs_target_dir)
` to obtain the `model.json` and `group1-of...` files.
My code looks like
[code]
I'm getting this error `Error: Failed to parse model JSON of response from /home/user/Desktop/Github/tfjs_model/tfjs/tfjs_model/model.json'. Please make sure the

[2020-04-08 11:18] davodesign84 opened #3051 "Installing tensorflowjs for python disables gpu support"
To get help from the community, we encourage using Stack Overflow and the [`tensorflow.js`](https://stackoverflow.com/questions/tagged/tensorflow.js) tag.

#### TensorFlow.js version
tensorflowjs 1.7.2

#### Browser version
Backend only

#### Describe the problem or feature request
Using the official gpu docker container `tensorflow/tensorflow:latest-gpu-py3-jupyter`

Before installing `tensorflow

[2020-04-08 13:13] beele opened #3052 "tfjs-node fails to install correctlt op Raspberry Pi"
#### TensorFlow.js version
1.7.2 (and older ones too, however some very old versions do work on the rbi, like 1.2.11

#### Node version
12.14.1

#### Raspbian version
PRETTY_NAME="Raspbian GNU/Linux 10 (buster)"
NAME="Raspbian GNU/Linux"
VERSION_ID="10"
VERSION="10 (buster)"
VERSION_CODENAME=buster
ID=raspbian
ID_LIKE=debian

Tested on a Pi 4 with 4GB of RAM

#### Describe the problem or feature r

[2020-04-08 14:07] santhiya-v opened #3053 "[wasm] Add SquaredDifference kernel."
#### tfjs-node / tfjs-backend-wasm version
1.7.2

#### Problem
I am running my model using tfjs-node code and it works fine(tensorflow backend). When I try to use 'wasm' backend (for performance), I get following error :

`Error: 'squaredDifference' not yet implemented or not found in the registry. Did you forget to import the kernel?`

#### Model :
I am using the transformer model (depthwise sepa

[2020-04-08 14:39] annxingyuan commented on #3053
Hi @santhiya-v - thanks for reporting this - we aim to add kernels to our WASM backend gradually in response to user need, which we assess by looking at issues like this one :)

However you say you want to use the wasm backend for performance - I wonder whether you might get better performance with our default WebGL backend instead.

[2020-04-08 17:00] rthadur commented on #3014
I did not see error while running now. @pyu10055 can you please suggest on the warning.

[2020-04-08 17:14] badman-rodriguez opened #3054 "[tfjs-models] - Inconsistent detections"
#### TensorFlow.js version

Versions:
[code]
#### Browser version

Chrome: `81.0.4044.92 (Official Build) (64-bit)`

The issue is a little weird but it happens all the time.

#### How to replicate

Send b64 image for Object detection... and it has 0 detections

console.log output:
[code]

Same b64 image for object detection... and!

console.log output:
[code]

and it has 1 detection...
This happen

[2020-04-08 18:09] rthadur commented on #3050
@prajjwal1 what version of tfjs you are using ?

[2020-04-08 18:11] prajjwal1 commented on #3050
1.7.1

[2020-04-08 18:19] rthadur commented on #3051
@davodesign84 did you try installing tfjs-node-gpu ?

[2020-04-08 18:36] rthadur commented on #3054
@badman-rodriguez can we have a codepen example or share the images to reproduce ?

[2020-04-08 18:40] rthadur commented on #3050
thank you, is it possible to share model ?

[2020-04-08 18:41] kangyizhang commented on #3051
The issue seems to be related with tfjs converter pip package. While installing tensorflowjs pip package, it will install its corresponding dependent version of tensorflow python. As listed in step 0 in the documentation (https://github.com/tensorflow/tfjs/tree/master/tfjs-converter#step-1-converting-a-tensorflow-savedmodel-tensorflow-hub-module-keras-hdf5-or-tfkeras-savedmodel-to-a-web-friendly-f

[2020-04-08 18:41] #3051 closed

[2020-04-08 18:45] prajjwal1 commented on #3050
https://github.com/prajjwal1/js_utils

[2020-04-08 19:27] badman-rodriguez commented on #3054
@rthadur thanks for responding so quickly. Will set up something pretty and share a link for you in a bit.

Thanks you.

[2020-04-08 22:13] joeedh commented on #3046
Hi.  So I tracked the problem to a bad polyfill buried in my code.  Sorry, my bad.

[2020-04-08 22:13] #3046 closed

[2020-04-09 02:19] janakg commented on #3053
@annxingyuan  thanks for the response.

We are trying in both node and browser. In a browser with WebGL mode, toPixel() takes a long time in subsequent calls.

So we are trying in node with wasm backend for faster predict() , but we are limited by wasm's kernel support.

Please let us know if we are missing something.

[2020-04-09 02:42] vasanthhr opened #3057 "Build tfjs using Emscripten"
Hello,

Would it be possible to build the tf-backend-wasm.js(wasm) ourselves using Emscripten library.

(Note: opencv supports to build their c++ code to opencv.js(wasm) using Emscripten ).

Is there any way we could get configuration files and guidance where we can modify the tfjs files ourselves to build the tf-backend-wasm.js(wasm) ?

[2020-04-09 10:43] davodesign84 commented on #3051
I guess this should be then mentioned on here https://www.tensorflow.org/js/tutorials/conversion/import_keras or at the very least importing the getting started guide on the main website.

Is there any specific reason why the script pulls its own tensorflow rather than using what's already on the machine?

[2020-04-09 17:06] #2944 closed

[2020-04-09 17:29] badman-rodriguez commented on #3054
@rthadur here is a sample of the behavior:

[2020-04-09 18:46] rthadur commented on #3004
cc @caisq

[2020-04-09 18:48] rthadur commented on #3014
cc @annxingyuan can you please suggest on the warning ?

[2020-04-09 20:27] kangyizhang commented on #3051
It is mentioned in the requirement section.

The reason is that each version of the tensorflowjs pip package depends on a specific version of tensorflow.

[2020-04-10 03:01] moeiscool commented on #2872
can there be a tutorial or something for arm64, if not official support? I'm sure its not uncommon for people to want it on arm64. If things change after that it will be fine because at least we'd have a tutorial we know worked for one of the developers and/or community members

[2020-04-10 04:08] eschirtz opened #3061 "Add logic to limit binaryCache size"
#### TensorFlow.js version
`@tensorflow/tfjs ^1.7.0`

#### Browser version
`Electron ^6.0.0`

#### Describe the problem or feature request

(This is a feature request based off the issue reported in #604)

We would like to be able to set a limit (or have it automatically maintained) for the internal cache. Running many operations on tensors of varying length (10,000 variable length audio files) ca

[2020-04-10 10:35] obenjiro commented on #1093
@lina128 can you help here? Or will you accept pull request for this particular issue?

[2020-04-10 17:12] rthadur commented on #3054
@badman-rodriguez thanks for the info , it looks like you are using a java script framework(svelte),I tried original coco-ssd example it is working as expected , I believe this is not a bug or feature request related to tfjs which we can help here , I would suggest you ask this question in stack-overflow with tag 'tensorflow.js' , thank you

[2020-04-10 17:12] #3054 closed

[2020-04-10 17:14] rthadur commented on #3050
Hello, this sort of question is better suited for StackOverflow. This issues list is for bugs and feature requests. I would suggest you keep looking for updates in stack overflow.Thank you

[2020-04-10 17:14] #3050 closed

[2020-04-10 17:14] rthadur commented on #2997
Hello, this sort of question is better suited for StackOverflow. This issues list is for bugs and feature requests. Thanks and please use the tag 'tensorflow.js' on your StackOverflow question to makes sure it's discoverable.

[2020-04-10 17:14] #2997 closed

[2020-04-10 17:18] lina128 commented on #2936
Hi @Polarisation, thank you for letting us know. We added release log for v1.7.2. We will add the missing ones for 1.6.0, 1.6.1, and 1.7.0. For future release, we are going to automate this process, so that it is the changelog is always generated. Thank you for your suggestion!

[2020-04-10 17:37] #2936 closed

[2020-04-10 18:04] lina128 commented on #1093
Hi @obenjiro, I see discussion in https://github.com/tensorflow/tfjs/issues/918, reference @caisq reply: "I'm pretty sure that 'leakyrelu' is not supported as a string activation even in Python Keras. It's accessible via tf.layers.* though." In this case, I think the workaround that @caisq suggested is the solution for now, unless keras change this behavior in the future. We are trying to have fea

[2020-04-10 18:31] lina128 commented on #2936
The release logs for 1.6.0, 1.6.1, and 1.7.0 are also available to see now.

[2020-04-10 18:39] pyu10055 commented on #2872
@kangyizhang have you looked into arm64 tfjs-node support before?

[2020-04-10 23:49] yhwang commented on #2872
here you go: https://github.com/yhwang/node-red-contrib-tf-model
there are instructions to install `@tensorflow/tfjs-node` on Jetson Nano.

[2020-04-11 00:00] kangyizhang commented on #2872
We did support arm64 but it was removed in a later change. I will add it back.

[2020-04-11 00:08] yhwang commented on #2872
@kangyizhang just want to double check, I don't see any arm64 support here: https://storage.googleapis.com/tf-builds

[2020-04-11 00:11] kangyizhang commented on #2872
@yhwang This is the link for arm binary: https://storage.cloud.google.com/tf-builds/libtensorflow_r1_14_linux_arm.tar.gz. The support was accidentally removed in https://github.com/tensorflow/tfjs/commit/63235661d1c1f26ff5b6853375a59213fe99d9a5#diff-943b21d25f7c485a9de071e9a1d1c18bL80

[2020-04-11 00:13] yhwang commented on #2872
@kangyizhang I know, but that's arm32 not arm64

[2020-04-11 00:45] kangyizhang commented on #2872
Yes, it is arm32 with tensorflow 1.14. We do not support later version of tensorflow with arm.

[2020-04-11 12:05] traumverloren commented on #3052
Thanks @beele for reporting this issue. I'm also experiencing this exact issue. Thanks y'all for looking into it. :)

[2020-04-11 15:06] Mariaa98 commented on #1427
et {PythonShell} = require('python-shell')

var myPythonScriptPath = 'tacotron-master/eval.py';

var options = {
  mode: 'text',
  args: [' --checkpoint ~/tacotron/logs-tacotron/model.ckpt', '-185000']
};

PythonShell.run('tacotron-master/eval.py', options, function (err, results) {
  if (err) throw err;
  // results is an array consisting of messages collected during execution
  console.log('resu

[2020-04-11 23:57] stbnps opened #3068 "Quantization aware training"
#### TensorFlow.js version
1.7.2

#### Browser version
None

#### Describe the problem or feature request
After training a model with quantization aware training and saving the model to a .h5 file, when trying to convert the quantized model to javascript using tensorflowjs_wizard, it says: `ValueError: Unknown layer: QuantizeWrapper`

#### Code to reproduce the bug / link to feature request
[code]

[2020-04-12 04:04] rthadur commented on #1427
This has been resolve [here](https://github.com/tensorflow/tfjs-models/pull/196) , @Mariaa98 please open a new issue using template , thank you

[2020-04-12 04:04] #1427 closed

[2020-04-12 04:09] rthadur commented on #3068
I believe the api is not yet implemented in tfjs , @pyu10055 do you know if this is in the roadmap ?

[2020-04-12 09:00] roark commented on #188
`SparseSoftmaxCrossEntropyWithLogits` op +1

... maybe a new issue should be created for supporting this op? One I've come across missing on my conversions.

https://www.tensorflow.org/api_docs/cc/class/tensorflow/ops/sparse-softmax-cross-entropy-with-logits

[code]

[2020-04-12 13:58] krambriw commented on #2872
@yhwang
Fantastic! It works now in the NVIDIA Jetson Nano thanks to your great instructions!!!
Do you also know if this in principle would be possible with tfjs-node-gpu? To take advantage of all GPU kernels in the Jetson Nano

[2020-04-12 17:29] yhwang commented on #2872
@krambriw actually the tensorflow shared is using CUDA already! It means you are already using tfjs-node-gpu!

[2020-04-13 06:52] krambriw commented on #2872
@yhwang
Aha, so I do not need to install tfjs-node-gpu?
Do you know if it is possible for me to verify that GPU really is used and not the CPU?
Is it possible to set some switch to use GPU/CPU to notice the differens?

[2020-04-13 08:38] obenjiro commented on #1093
@lina128 Thank you didn't know about feature parity with Keras. I think we can close this issue then.

[2020-04-13 09:47] ManojkumarHK opened #3069 "Out of Memory issue( OOM when allocating tensor)"
Hi,
We are running **node facerecognition.js** command file using tfjs-node. We are passing images to a model but after some 650 images it's throwing error of
**2020-04-13 14:25:46.384972: W tensorflow/core/framework/op_kernel.cc:1651] OP_REQUIRES failed at cwise_ops_common.cc:82 : Resource exhausted: OOM when allocating tensor with shape[1,256,256,64
] and type float on /job:localhost/replica:0/t

[2020-04-13 12:29] alihassan711 opened #3070 "Not able to Load Local Models of TensorFlow React Native Below is the code attached #3"
I followed this [Tutorial](https://heartbeat.fritz.ai/image-classification-on-react-native-with-tensorflow-js-and-mobilenet-48a39185717c) and official [documentation](https://blog.tensorflow.org/2020/02/tensorflowjs-for-react-native-is-here.html)... It was amazing and helpful and works perfectly with Tensor Flow models, but when I try to load local model in componentDidMount it says this
ERROR 15:

[2020-04-13 13:16] bsbechtel opened #3071 "How to use sharded weights with a trained model in a react native tensorflow app"
To get help from the community, we encourage using Stack Overflow and the [`tensorflow.js`](https://stackoverflow.com/questions/tagged/tensorflow.js) tag.

#### TensorFlow.js version
    "@tensorflow/tfjs": "^1.6.0",
    "@tensorflow/tfjs-converter": "^1.7.2",
    "@tensorflow/tfjs-react-native": "^0.2.3",

#### Browser version
    "react-native": "~0.61.4",

#### Describe the problem or feature r

[2020-04-13 13:17] tafsiri commented on #3070
Where in your project folder are those two files located? What is in your metro.config.js file? Are you able to load any JSON file even if you do not load any of the tensorflow libraries?

Your issue may be a more general react native one than a tensorflow.js specific one. If you make a separate app without tensorflow.js can you load local json files?

[2020-04-13 13:20] tafsiri commented on #3071
Yes sharded weights are not supported in the bundlerResource loader. You can use the `--weight_shard_size_bytes` option in the [converter](https://github.com/tensorflow/tfjs/tree/master/tfjs-converter) to adjust the shard size, set it to a value larger than your model and you should get one shard.

[2020-04-13 13:22] alihassan711 commented on #3070
<img width="255" alt="Screen Shot 2020-04-13 at 6 18 55 PM" src="https://user-images.githubusercontent.com/5141703/79123410-89a2fe80-7db3-11ea-9035-4060e5f32bd2.png">

Its Expo Project so there is no Metro Config
Both files are in Assets Folders.
I have not tried to load local JSON in any other project.

[2020-04-13 13:50] nsthorat commented on #2778
@syonfox another issue would be great, we can implement it.

[2020-04-13 13:57] bsbechtel commented on #3071
@tafsiri that worked. Thank you for pointing me to that....I would've been searching all day otherwise!

[2020-04-13 13:57] #3071 closed

[2020-04-13 14:25] tafsiri commented on #3070
I don't think you can load local assets in a hosted expo project. I would check the expo docs to see if there is anyway to load local assets (independent of tfjs). Else you might need to eject your app.

[2020-04-13 14:29] badman-rodriguez commented on #3054
that's easy to blame the framework..... once i solve the problem. will post the actual solution here. Figured an expert with this package might have some expect insight on some causes....

welp, appreciate the due diligence in the investigation.

[2020-04-13 16:43] #1093 closed

[2020-04-13 16:55] rthadur commented on #3069
@ManojkumarHK did you try `dispose()` ?

[2020-04-13 17:04] #264 closed

[2020-04-13 22:13] yhwang commented on #2872
@krambriw You don't have to install tfjs-node-gpu if you follow the instructions there for Jetson Nano.
The difference between tfjs-node and tfjs-node-gpu is if your tensorflow shared lib is built with GPU configuration or not. For Jetson Nano, I only built tensorflow shard lib with GPU configuration. I guess most of people want to leverage the GPU.

If you run the `require()` below in interactive

[2020-04-13 22:43] jallamsetty1 commented on #2723
@dsmilkov, I am very sorry about this delay in getting back to you. We had other pressing issues to address because of the Covid-19 situation.
I was able to get back to this today, it was taking about 2042ms for a single inference. Is there anything I can try to speed up the inference and get a better framerate for the background blur ?
Thanks in advance !

[2020-04-13 22:54] jallamsetty1 commented on #2723
@dsmilkov, sorry about the delay in getting back to you. I was able to give this a try today and saw that that a single inference with WASM was taking around 460ms while it was taking around 2140ms with the WebGL backend.
So WASM does seem to be must faster than WebGL backend but I can't seem to figure out why the tab becomes unresponsive.

[2020-04-14 05:45] ManishAradwad commented on #2041
Would like to contribute to this issue. Can someone plz point me to files to be modified?

[2020-04-14 05:50] ManishAradwad commented on #2542
I'd like to work on this issue. Should I just go ahead and merge the jsdocs or modify the parser as well? If I need to modify the parser as well, could you plz point me in some direction?

[2020-04-14 11:13] krambriw commented on #2872
Thank you so very much! Yes, indeed, it uses the GPU
Once again, thank you for providing help to make the Jetson Nano possible to use with tfjs

[2020-04-14 13:29] alihassan711 commented on #3070
To me, it looks like the problem is with the bin file reading. I have tried to use expo assets as well.

[code]

[2020-04-14 14:22] tafsiri commented on #3070
So the json file is loading correctly? Did you [configure metro](https://github.com/tensorflow/tfjs/tree/master/tfjs-react-native#step-3-configure-metro) to add .bin files to your `assetExts`?

[2020-04-14 18:04] traumverloren commented on #3052
FYI wanted to update that I found a similar issue also open and these instructions will work on RPI 4 (in the meantime til this is resolved):

Similar issue: https://github.com/tensorflow/tfjs/issues/2872

Steps to work around: https://github.com/yhwang/node-red-contrib-tf-model

[2020-04-15 09:21] chandan7838 commented on #3070
i am getting this response :=

 {"dataId": {}, "dtype": "float32", "id": 17643, "isDisposedInternal": false, "kept": false, "rankType": "2", "scopeId": 9979, "shape": [1, 2], "size": 2, "strides": [2]}

after calling model.predict(imageTensor).

I ma not getting any prediction

[2020-04-15 12:27] leoffx opened #3083 "Uncaught TypeError: tf.roll is not a function"
#### TensorFlow.js version
1.7.4 from https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@latest

#### Browser version
Google Chrome Version 81.0.4044.92 (Official Build) (64-bit)

#### Describe the problem or feature request
Function tf.roll isn't working.

#### Code to reproduce the bug / link to feature request
a = tf.randomUniform([4, 4]);
tf.roll(a, 1, 1);

[2020-04-15 12:34] feetbo90 commented on #3070
iam get error with same issue...

i'm execute this code ..
try {
      // const response = await fetch('http://webrates.truefx.com/rates/connect.html?id=jsTrader:Ou812:ozrates:1253889202204&c=EUR/USD')
      // const posts = await response
      // console.log('berhasil : ',response);
          // Load mobilenet.
          let model = await mobilenet.load();
          const images = Asset.fromModu

[2020-04-15 14:10] tafsiri commented on #3070
@chandan7838 @feetbo90 please make new issues if you think you are experiencing a bug, this issue is related to loading local models. Also @chandan7838 that response is the prediction as a tensor. Please take a look the [guide](https://www.tensorflow.org/js/guide/tensors_operations) and [tutorials](https://www.tensorflow.org/js/tutorials) to familiarize yourself with tensors and how to use them. Y

[2020-04-15 16:29] rthadur commented on #3083
@leoffx tf.roll is not implemented in tfjs, thats the reason you are getting this error.

cc @pyu10055 @dsmilkov

[2020-04-15 17:30] d4em0n commented on #240
same problem!

[2020-04-15 22:51] ivnnv opened #3084 "Regression bug: webcam train fails on Safari iOS"
#### TensorFlow.js version: >= 1.2.9 <= 1.7.2

#### Browser version Safari iOS: 13.4.1

#### Describe the problem:
`tfjs-examples/webcam-transfer-learning` demo hosted at:
https://storage.googleapis.com/tfjs-examples/webcam-transfer-learning/dist/index.html
which seems to be a deploy from this commit from 2019-06-12:
https://github.com/tensorflow/tfjs-examples/tree/fc8646fa87de990a2fc0bab9d1268731

[2020-04-15 23:28] d4em0n commented on #240
solved this issue by changing backend to wasm

[2020-04-16 04:21] kezmanh opened #3085 "Possible to run prediction directly in server side only?"
I have scripts that can run in browsers. However, I would like to enhance the performance by migrating the scripts to the server side. It seems not working.

**UnhandledPromiseRejectionWarning: TypeError: Cannot read property 'loadObjectDetection' of undefined**

[code]

[2020-04-16 23:14] davidpham87 opened #3092 "Wasm: implementing cumsum"
Hello,

I would be interested to have a cumulative sum/prod in WASM. The reason is I want to implement a rolling average.

I wonder if the reductions (see Clojure reductions) would make sense.

Best regards,
David

[2020-04-17 06:56] tutmoses commented on #2453
I solved this by just commenting out that line.

`// const w = window;`

[2020-04-17 11:03] axinging opened #3095 "[webgpu]fusedconv2d relu bias and prelu works incorrectly with certain inputs"
For example, below test passed on WebGL/CPU, but failed on WebGPU:
[code]

[2020-04-18 02:50] ivnnv commented on #3084
I have done more testing and it seems the bug was introduced in v1.2.8:
The same demo using up to 1.2.7 works (although with a high loss rate 4~6)

[2020-04-18 10:45] unrealwill opened #3101 "loadLayersModel in browser extension"
Hello

#### TensorFlow.js version
1.7.2
#### Browser version
Version 80.0.3987.163 (Official Build) Built on Ubuntu , running on Ubuntu 18.04 (64-bit)

#### Describe the problem or feature request

I'm trying to load a model to use in a browser extension.
Ideally I'd like to package my neural network as a file within the extension, but loadLayersModel fails to fetch.

Is there a way to inline it ?

[2020-04-18 13:26] unrealwill commented on #3101
Answering to my own question.

Using tf.io.browserFiles([fj, fb]) I can provide the files directly to tf.loadLayersModel

You can obtain those file by saving them with
`model.save('downloads://my-model');`

It is then just a question of fetching them locally :

[code]

[2020-04-18 15:27] unrealwill commented on #3101
After further investigation, we in fact only need :

to set in manifest.json
"web_accessible_resources": [
  "model/*"
]

tf.loadLayersModel( browser.extension.getURL("model/model.json")).then( model=> /* Do work with model */ );

And it works fine. It even give back an error message asking to set the web_accessible_resources if we forget it.

It was the first thing I tried, but I must have mis-ty

[2020-04-18 15:27] #3101 closed

[2020-04-18 15:57] carlos-aguayo opened #3102 "Issue when using tensorflowjs_converter"
#### TensorFlow.js version
2.1.0

#### Browser version
Chrome 80

#### Describe the problem or feature request
I'm converting a Keras model to be used with Tensorflow.js

I was using '`tensorflowjs_converter`' and when loading the model in the browser using I got an:
`"Uncaught (in promise) Error: Provided weight data has no target variable: bidirectional_19/forward_lstm_19/lstm_cell_58/kernel"`

[2020-04-18 16:06] alexcannan commented on #991
@NathanBWaters could you elaborate on this? What model are you using when you're getting 60 fps?

I'm facing a similar problem where I'm not sure whether to use a WASM TFLite interpreter or run it directly with TFJS. We're working with pretty tight performance and size constraints too.

[2020-04-18 18:47] adi-dev opened #3103 "Project fails to start with tfjs-node or tfjs-node-gpu but runs okay with tfjs"
I managed to install globally tfjs-node and tfjs-node-gpu (python 2.7.11 and vs2017 15.9.22 after finding out this is required prior installation). There was no error or messages during installation. When I try to use it in my project as `const tf = require('@tensorflow/tfjs-node');` or `const tf = require('@tensorflow/tfjs-node-gpu');` it throws following error:
[code]
When I use standard library

[2020-04-18 18:51] #2669 closed

[2020-04-19 01:47] axinging opened #3104 "[wasm] fusedconv2d relu bias and prelu works incorrectly with certain inputs"
This is similar to WebGPU: https://github.com/tensorflow/tfjs/issues/3095

In PR https://github.com/tensorflow/tfjs/pull/3096, below cases may fail on wasm backend only(Passed on WebGL/CPU/WebGPU):
https://github.com/tensorflow/tfjs/pull/3096#issuecomment-616000748

[2020-04-19 08:05] sauceishere opened #3105 "Error: Backend name 'undefined' not found in registry"
This error shows up at 'console.log('Error tf.setBackend(): ', error);' when I run the below code to run load posenet.
I used to use 'tf.ready()' and worked completely fine several weeks ago, but now this error shows up.
Please advise how to solve this.
Thank you.

Versions are:
expo --version 3.11.7
node --version v12.14.1
npm -version 6.13.4
@ tensorflow/tfjs-react-native@0.2.3
@tensorflow-model

[2020-04-20 01:53] axinging opened #3106 "[wasm] 'cast' not yet implemented"
This is used in handpose model

[2020-04-20 10:58] QuevedoIB opened #3107 "The dtype of dict['ImageTensor'] provided in model.execute(dict) must be int32, but was float32"
This issue is related to https://stackoverflow.com/questions/61036180/tensorflowjs-tfjs-error-the-dtype-of-dict

Versions:

    "@tensorflow-models/deeplab": "^0.1.1",
    "@tensorflow/tfjs": "^1.7.2",
    "@tensorflow/tfjs-react-native": "^0.2.3",

Whenever I try to pass Tensor to Model I'm getting the following error:

<img width="535" alt="Screenshot 2020-04-20 at 11 00 17" src="https://user-im

[2020-04-20 11:53] Whiax commented on #3039
Same problem here:

Model trained on Pytorch, converted to ONNX then to TF then TFJS/JSON.
It works on ONNXJS for CPU, but doesn't on ONNXJS with WEBGL backend. I wanted to give TFJS a try but I'm stuck at this error.  If it can't be fixed, how should I retrain my model ? (cf edit)
Note that tensorflowjs_converter did warn me that Dilation2D was unsupported but I used the skip_op_check flag.
If yo

[2020-04-20 16:29] pyu10055 commented on #3102
@caisq can you take a quick look if anything looks suspicious. thanks

[2020-04-20 16:31] pyu10055 commented on #3085
@kezmanh, I did not try this myself, but following line looks wrong

[code]

can you replace it with

[code]

[2020-04-20 16:34] pyu10055 commented on #3105
@sauceishere
tf.setBackend method requires the backend name, https://js.tensorflow.org/api/latest/#setBackend

what are you trying to do here? The default backend is 'webgl', it will be enabled by default, you don't need to set it manually.

[2020-04-20 16:54] #2890 closed

[2020-04-20 17:04] rthadur commented on #3103
@adi-dev you should use only tfjs-node which ships with tfjs. please [refer](https://github.com/tensorflow/tfjs/issues/2536#issuecomment-564662827)

[2020-04-20 17:04] #3103 closed

[2020-04-20 18:05] adi-dev commented on #2536
I have removed all `@tensorflow` modules and installed only `npm install -g @tensorflow/tfjs-node` (and tried -gpu too) but still the same error.

[2020-04-20 18:07] adi-dev commented on #3103
Sorry, if I duplicate the response, I did this in #2536 by mistake:
I have removed all @tensorflow modules and installed only npm install -g @tensorflow/tfjs-node (and tried -gpu too) but still the same error.

[2020-04-20 19:08] rthadur commented on #3107
@QuevedoIB please continue to check updates in stack overflow , as @pyu10055 already mentioned it is not a tfjs issue.

[2020-04-20 19:08] #3107 closed

[2020-04-20 19:20] rthadur commented on #3084
@ivnnv do you wish to contribute to fix the issue ?

[2020-04-20 19:43] DanielOnye123 opened #3111 "bundleresourceIO is not working in Expo Managed Project"
To get help from the community, we encourage using Stack Overflow and the [`tensorflow.js`](https://stackoverflow.com/questions/tagged/tensorflow.js) tag.

#### TensorFlow.js version
1.7.2

#### Browser version

#### Describe the problem or feature request
I'm trying to load my pre-trained model using the bundleresourceIO handler and it keeps on giving me the error below. My model was made using K

[2020-04-20 19:54] malcolmcdixon commented on #1425
Is this likely to be resolved soon? Any other workarounds?

[2020-04-20 20:00] NathanBWaters commented on #991
We're doing this work for the blazeface and facemesh model.  Fortunately they just dropped the facemesh model in tflite this Monday.

[2020-04-20 21:26] syonfox opened #3114 "[WASM] Error: 'oneHot' not yet implemented or not found in the registry"
Hey it looks like oneHot is not implemented in the wasm Backend yet.

[code]

#### Versions
[code]

Browser: ff 68.6.0esr

[2020-04-20 23:05] sauceishere commented on #3105
@pyu10055 thanks. I just want to run posenet on react native, and it did work well a couple of week ago, but It does not work now. I think I did not change any, that's why I can not figure out what's going on here. Is there any way I can check if 'webgl' works fine? Thank you.

[2020-04-21 08:39] ivnnv commented on #3084
@rthadur yeah Id love it as Im trying to build something for mobile (and id like to target all devices if possible) that makes use of this (I'm taking the example app just as the initial proof of concept).

If you knowhow to approach the fix and where Id need to go to fix it and it only needed Javascript knowledge I can try to fix it by myself, but if its something related with the base tensorflow

[2020-04-21 12:30] yunyunsan opened #3121 "The accuracy of speechcommands transfer leanring is too low"
When I used the code provided by https://codelabs.developers.google.com/codelabs/tensorflowjs-audio-codelab/index.html#0 to test, I found that the accuracy is too low and it is sensitive to any sound.
After that I added the following code to function buildModel (), but the problem is still not solved.
function buildModel() {
  model = tf.sequential();
  model.add(tf.layers.conv2d(
      {filters:

[2020-04-21 14:03] slothtopus opened #3122 "Significant difference between outputs of deep tf keras model in Python and tfjs conversion"
#### TensorFlow.js version
1.7.2

#### Tensorflow version
2.1.0

#### Browser version
Chrome 80

#### Describe the problem or feature request
I've been experimenting with running inference in a pre-trained Keras model directly in the browser using tensorflowjs and I'm struggling to get the same kind of performance.

On investigation I noticed that there were small cumulative differences in output

[2020-04-21 15:10] tafsiri commented on #3105
@sauceishere you should not set the backend manually. But you do need to import the tfjs-react-native adapter (`import '@tensorflow/tfjs-react-native';`). See sample code here https://github.com/tensorflow/tfjs/tree/master/tfjs-react-native#step-6-test-that-it-is-working

[2020-04-21 16:29] rthadur commented on #3084
cc @tafsiri @dsmilkov

[2020-04-21 16:41] rthadur commented on #3122
Hello, this sort of question is better suited for StackOverflow. This issues list is for bugs and feature requests. Thanks and please use the tag 'tensorflow.js' on your StackOverflow question to makes sure it's discoverable.

[2020-04-21 16:41] #3122 closed

[2020-04-21 19:30] slothtopus commented on #3122
I'm seeing differences between tf keras and tfjs for all layers I've tested so far, which to me seemed like a bug. Just to confirm, this is not a bug and is expected behaviour then? That is to say, tfjs will not produce the same output as tf keras?

[2020-04-21 23:25] sauceishere commented on #3105
@tafsiri Thanks. I run the below code, it showed '--- 4' and suddenly shut down without showing any error code. Do you have any idea what I should change?

[code]

[2020-04-22 01:18] yunyunsan commented on #3121
@tafsiri Thank you very much for your reply

[2020-04-22 02:30] YIN-jw opened #3131 "TypeError:Cannot read property 'backend' of undefined"
We are using posenet and knn-classifier (including mobilenet) in tfjs-models for javascript project development, but now the two plugins cannot be used at the same time.
When using the knn-classifier plugin, we use knn-classifier@1.2.2, and the required peerDependency is @tensorflow/tfjs-core@^1.2.1; due to network problems, mobilenet uses a static file, MobileNet_v1_1. 0_224.
The posenet model us

[2020-04-22 06:35] axinging opened #3132 "[webgpu]Proposal for tiled texture in WebGPU backend"
## Problem
On [TFJS benchmark](https://unpkg.com/@tensorflow/tfjs-backend-webgpu@0.0.1-alpha.3/benchmarks/index.html), for conv2d and maxPool, WebGL has better performance than WebGPU.

One of the possible reason for this is, WebGL's texture has better spatial locality than WebGPU's  buffer, especially for ops like conv2d and maxpool.
## Proposals
Investigate tiled texture, and its performance dif

[2020-04-22 09:33] QuevedoIB opened #3134 "React Native BodyPix"
Hello, I'm trying to do a BodyPix implementation with tfjs-react-native but I'm having problems with the outputs.

The method to detect people returns https://www.npmjs.com/package/@tensorflow-models/body-pix#returns

BodyPix has another method to convert that output into ImageData https://www.npmjs.com/package/@tensorflow-models/body-pix#returns-4

I didn't find any way yet to use that ImageData

[2020-04-22 10:44] ioanacaramavrov commented on #931
Hi, I have the same problem and I really don't know how to solve it. It is for my license programm for the university, can you please help me with this? Thank you!

[2020-04-22 12:35] Whiax opened #3136 "Uncaught (in promise) Error: Error in matMul: inputs must have the same rank of at least 2, got ranks 4 and 2."
#### TensorFlow.js version
TFJS: 1.7.2
TF: 2.1.0
ONNX: V9

#### Browser version
Chrome / 74.0.3729.134

#### Describe the problem or feature request
Converting Pytorch Squeeze-Excitation module. Two methods, one using Linear found [here](https://github.com/jonnedtc/Squeeze-Excitation-PyTorch/blob/master/networks.py ) the other using Conv found [here](https://github.com/lukemelas/EfficientNet-PyTor

[2020-04-22 15:10] tafsiri commented on #3134
You can see what drawMask is doing [here](https://github.com/tensorflow/tfjs-models/blob/4a81af309322e356173e24b6c047bf289f1663d5/body-pix/src/output_rendering_util.ts#L353), that will give a sense of what its going to use the image for. I also saw that it takes the [following types](https://github.com/tensorflow/tfjs-models/blob/4a81af309322e356173e24b6c047bf289f1663d5/body-pix/src/output_renderi

[2020-04-22 15:23] tafsiri commented on #3131
I would use the highest version of tfjs specified by peerDependencies (or even the latest version 1.7.x). PeerDependencies are pretty much advisory, so I would try the latest version and check for error.

tfjs 0.10.0 is very old at this point and I don't think we can help debug that.

I don't understand this part, why can that knn model not be used?

I don't think you should need this. I think you

[2020-04-22 17:00] rthadur commented on #966
It looks like the related PR got merged so closing this issue.

[2020-04-22 17:00] #966 closed

[2020-04-22 17:03] #78 closed

[2020-04-22 22:11] capdilla opened #3140 "tfnode.node.encodeJpeg is returning a black image"
#### TensorFlow.js version
"^1.7.2"

#### node-js version
12.16.2

#### Describe the problem or feature request
i try to convert a Tensor to a image JPEG using`tfjs-node.node.encodeJpeg` but when i save the imagen its save as a black image, but if i try the same code but in the browser using `browser.toPixels` the image is fine

[code reference ](https://github.com/reiinakano/arbitrary-image-styli

[2020-04-23 15:07] dsmilkov commented on #3114
Hi @syonfox,

Can you share some info about the ML model that you need this for, which helps us better prioritize?

[2020-04-23 17:09] rthadur commented on #2738
Closing this due to lack of activity, feel to reopen. Thank you

[2020-04-23 17:09] #2738 closed

[2020-04-23 17:18] rthadur commented on #3036
Closing this due to lack of activity, feel to reopen. Thank you

[2020-04-23 17:18] #3036 closed

[2020-04-23 17:36] rthadur commented on #2770
Closing this due to lack of activity, feel to reopen. Thank you

[2020-04-23 17:36] #2770 closed

[2020-04-23 17:38] rthadur commented on #2943
Closing this due to lack of activity, feel to reopen. Thank you

[2020-04-23 17:38] #2943 closed

[2020-04-23 17:42] rthadur commented on #3042
Closing this due to lack of activity, feel to reopen. Thank you

[2020-04-23 17:42] #3042 closed

[2020-04-23 18:48] #3007 closed

[2020-04-23 22:35] pyu10055 commented on #3136
@annxingyuan This following code fails with tfjs but works on python TF.

[code]

python output a tensor of shape (1,1,1,4), any idea what could be different here. thanks.

[2020-04-23 22:49] rthadur commented on #2924
We will not be support this, you need to make sure white spaces are not there in the file name.

[2020-04-23 22:49] #2924 closed

[2020-04-23 22:55] rthadur commented on #2978
There is already issue opened to track missing kernel [here](https://github.com/tensorflow/tfjs/issues/2822) , will close this issue.

[2020-04-23 22:55] #2978 closed

[2020-04-23 22:56] rthadur commented on #2662
There is already issue opened to track missing kernel here , will close this issue.

[2020-04-23 22:56] #2662 closed

[2020-04-23 23:25] #2972 closed

[2020-04-23 23:28] rthadur commented on #2724
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-04-23 23:28] #2724 closed

[2020-04-23 23:29] rthadur commented on #2737
Hello, this sort of question is better suited for StackOverflow. This issues list is for bugs and feature requests. Thanks and please use the tag 'tensorflow.js' on your StackOverflow question to makes sure it's discoverable.

[2020-04-23 23:29] #2737 closed

[2020-04-23 23:30] rthadur commented on #2937
Closing this due to lack of activity, feel to reopen. Thank you

[2020-04-23 23:31] rthadur commented on #2930
Closing this due to lack of activity, feel to reopen. Thank you

[2020-04-23 23:31] #2930 closed

[2020-04-23 23:33] rthadur commented on #2688
Closing this due to lack of activity, feel to reopen. Thank you

[2020-04-23 23:33] #2688 closed

[2020-04-24 03:49] tafsiri commented on #2978
@rthadur That [issue](https://github.com/tensorflow/tfjs/issues/2822) is not for missing kernels, its for tracking the work we are doing around modularising existing kernels and ops.

[2020-04-24 05:45] PratsBhatt commented on #2937
Yes, this issues has not been adressed. Yes there has been lack of activity as there were no reply from tensorflow engineers. This problem needs to be opened and addressed.

[2020-04-24 12:20] celevra commented on #2872
if i install it like this:

[code]
i get this error:
[code]

is there something i missed?

[2020-04-24 17:24] annxingyuan opened #3143 "matMul precision loss in Safari for large output values"
To get help from the community, we encourage using Stack Overflow and the [`tensorflow.js`](https://stackoverflow.com/questions/tagged/tensorflow.js) tag.

#### TensorFlow.js version

#### Browser version

#### Describe the problem or feature request

#### Code to reproduce the bug / link to feature request
If you would like to get help from the community, we encourage using Stack Overflow and the

[2020-04-24 17:33] QuevedoIB commented on #3134
Thanks a lot for your reply and guidance, I've now a workaround polyfill setup that will do the trick for now based on canvas rendering.

[2020-04-24 17:33] #3134 closed

[2020-04-24 17:44] tafsiri commented on #3134
@QuevedoIB Great to hear! What polyfill did you end up using?

[2020-04-24 21:14] alexstanbury opened #3144 "tf.loadLayersModel is 24x slower with bundled model"
## TensorFlow.js version
"@tensorflow/tfjs": "^1.7.3",
"@tensorflow/tfjs-react-native": "^0.2.3",

#### Describe the problem or feature request
I'm seeing extremely slow model loading times when testing model loading on an iPhone 7.
I have built a test project which I can share (but not with the model file I am using)
The model is approx 40MB in size.

In dev mode testing on the simulator (which l

[2020-04-25 01:01] machenmusik commented on #2800
I believe that unlike the browser environment, node does not supply a default ImageData implementation, thus the error.

[2020-04-25 23:03] sauceishere commented on #3105
@rthadur My code is https://github.com/sauceishere/tf-ready-20200426 , and Expo version is 3.18.6. Please advise if you find something. Thanks!

[2020-04-26 02:35] thesiti92 commented on #2615
did you ever make a custom operation for it? would be much appreciated!

[2020-04-26 08:17] alexstanbury commented on #3144
Further to this, I am able to get the model to load in ~5000ms by avoiding calling `loadLocalAsset` and using `loadViaHttp` for all model loads instead of only those that have a uri beginning with 'http'. Is there any downside to doing it this way?

My main problem with all this is the UI becomes unresponsive during the load, leaving a bad UX for my users. At ~5000ms it's almost manageable, I may

[2020-04-26 16:00] berkayalcin commented on #1644
Can You Try     tf.ENV.set('WEBGL_PACK', false) before use methods.

[2020-04-27 00:51] anishone commented on #3134
I'm stuck with the same question now. How does your polyfill look like? Thanks both of you for pointers.

[2020-04-27 02:59] YIN-jw commented on #3131
Thanks for your reply, we are now trying again to load the latest version and check for errors.
According to the prompt of readme in knn-classifier in tfjs-models, I enter at the beginning of index:
`const tf = require('@tensorflow/tfjs');
const mobilenetModule = require('@tensorflow-models/mobilenet');
const knnClassifier = require('@tensorflow-models/knn-classifier');`

The mobilenet version is

[2020-04-27 06:35] rahulscp opened #3149 "facemesh delay on face tracking to re detect correct landmakrs."
I am using face-mesh for one of ma POC the landmarks and detection are absolutely superb. But what i found is while moving the face the tracking is little delayed ? is there any configuration available to sort this out ?. when i move quickly it taking even more time to detect landmarks on right place. i tried with both wasm and webgl.

is anything i'm missing to get this right ?

[2020-04-27 06:39] kelvinOfoli opened #3150 "Chrome devtools failed to load SourceMaps"
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@1.0.0/dist/tf.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs"> </script>
    <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs-vis"></script>
    <title

[2020-04-27 15:04] tafsiri commented on #3105
@sauceishere I think you are going to have to do a bit more digging to get help with debugging this. Without more detailed info about what encironment you are running in and what error is happening we won't be able to effectively look into this.

If you aren't seeing any errors from expo/javascript, try looking into the device logs to see what is output by the mobile device before the app shuts do

[2020-04-27 15:52] rthadur commented on #3131
please use tf.browser.fromPixels , refer [here](https://js.tensorflow.org/api/1.0.0/#browser.fromPixels)

[2020-04-27 15:52] #3131 closed

[2020-04-27 16:00] rthadur commented on #3149
@rahulscp do you have any reproducible code or code pen example for us to try ? thank you

[2020-04-27 16:37] rthadur commented on #3150
please use latest version of tfjs [npm](    <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs/dist/tf.min.js"> </script>
) package.

[2020-04-27 16:44] rthadur commented on #3144
@alexstanbury the first detection is slow since the backend are caching the shader programs, the prediction after the first one should much faster and stable, for example after the model is loaded, you can run a warming up step, to feed the model prediction call with all zero tensor. tf.zeros([tensorShape]).

[2020-04-27 16:58] tafsiri commented on #3144
@alexstanbury Thanks for the detailed report! A PR on this would be very welcome! If rn-fetch-blob works well cross platform this would be great.

To your second question, i'm not sure `loadViaHttp` will work in _release_ mode across iOS and Android. The webserver used during dev mode is not present in release afaik (I remember testing this on android) .

@rthadur Here Alex is referring to model l

[2020-04-27 17:15] alexstanbury commented on #3144
@tafsiri I did some brief testing with rn-fetch-blob and didn't see any improvement, in fact doing a streamed and chunked load with that plugin resulted in a much longer load time and also made the ui unresponsive. As I say it was very brief though so I haven't had a chance to really drill into the problem unfortunately.

I also noticed that the bottleneck I originally experienced may not actually

[2020-04-27 19:12] MLenthusiast124 opened #3151 "Running tensorflow.js converter on Google colab"
Hi, please i am trying to figure out why i am getting this error message: Tensorflow.is model converters.: error: unrecognized arguments:
The error message is directed towards my export path

This is the cell i ran:
!tensorflowjs_converter --input format tf_saved_model --output_format tfjs_graph_model --output_node_names 'softmax_cross_entropy_with_lights_1' --saved_model_tags=serve ./export/saved

[2020-04-27 19:13] MLenthusiast124 commented on #3151
Sorry, my output path...

[2020-04-27 19:49] clkruse opened #3152 "Evaluate network in training=True configuration"
To get help from the community, we encourage using Stack Overflow and the [`tensorflow.js`](https://stackoverflow.com/questions/tagged/tensorflow.js) tag.

#### TensorFlow.js version:
1.7.3

#### Browser version: Chrome
81.0.4044.113

#### Describe the problem or feature request:
I have trained a pix2pix network in python, and converted it to a tfjs graph model. In python, I can evaluate the netwo

[2020-04-27 23:12] Deams51 opened #3155 "TensorCamera onReady not called in Chrome"
#### TensorFlow.js version
@tensorflow/tfjs: 1.7.3
@tensorflow/tfjs-react-native: 0.2.3

#### Browser version
Version 81.0.4044.122 (Official Build) (64-bit)

#### Describe the problem or feature request
The `TensorCamera` from tfjs-react-native is not calling `onReady` when running in Chrome. However, the camera is triggered and it does show up in the browser.
The same code runs perfectly on a Pi

[2020-04-27 23:38] sauceishere commented on #3105
It solved upon switch from Developer mode to Production mode on Expo. Thanks.

[2020-04-27 23:38] #3105 closed

[2020-04-28 02:58] kelvinOfoli commented on #3150
I still have the same problem..

[2020-04-28 05:40] rthadur commented on #3150
@kelvinOfoli  can you please share the code for reproduction , the code which you gave is not complete.

[2020-04-28 06:54] MitskiP opened #4510 "The minimum required Cuda capability is 6.0 for the binary C-API releases 1.14.0 and 1.15.0 (reopened)"
**System information**
- OS Platform and Distribution: Arch Linux
- TensorFlow installed from: binary
- TensorFlow version: 1.15.0
- Installed using: npm (tensorflow/tfjs-node-gpu)
- GPU model and memory: GeForce 960M, compute capability: 5.0
[code]

**Describe the problem**
Cuda capability requirement is set to 6.0.
Error:
[code]
This reopens the issue [#36853](https://github.com/tensorflow/tenso

[2020-04-28 12:19] rahulscp commented on #3149
this is one screen record im using onePlus6 mobile which is having pretty good hardware but getting this Delay.
https://im3.ezgif.com/tmp/ezgif-3-3618a3686ac7.gif

[2020-04-28 16:50] rthadur commented on #3149
i don't think that is an issue, i see the same behaviour on my phone also.
cc @annxingyuan

[2020-04-28 16:52] rthadur commented on #3155
Hello, this sort of question is better suited for StackOverflow. This issues list is for bugs and feature requests. Thanks and please use the tag 'tensorflow.js' on your StackOverflow question to makes sure it's discoverable.

[2020-04-28 16:52] #3155 closed

[2020-04-28 16:55] rthadur commented on #562
Closing this due to lack of activity, feel to reopen. Thank you

[2020-04-28 16:55] #562 closed

[2020-04-28 16:55] rthadur commented on #3152
@clkruse please share your code if possible ?

[2020-04-28 17:24] rthadur commented on #3151
@MLenthusiast124 please follow the signature specified [here](https://github.com/tensorflow/tfjs/tree/master/tfjs-converter#conversion-flags) for graph model

[2020-04-28 17:51] lina128 commented on #3150
Hi, this is most likely chromium issue. In my case, I see that load sourceMap failed for all the libraries, not just tfjs. See a similar discussion recently: https://github.com/storybookjs/storybook/issues/10469

We will wait for chrome 82 release and keep monitoring. Thank you for reporting the issue.

[2020-04-28 17:51] #3150 closed

[2020-04-28 17:53] Deams51 commented on #3155
@rthadur Thank you for your comment.
It does look like a bug as it is not the intended behavior.
Or do you have more information concerning why you are ruling out the possibility of a bug in the library?

[2020-04-28 18:25] tafsiri commented on #3155
tfjs-react-native is not designed/intended to run in browsers. You should be able to use regular tfjs in your browser app. Is there a use case where that wouldn't work for you?

[2020-04-28 19:04] trandev commented on #494
I love you. You save my time.

[2020-04-29 01:45] YIN-jw commented on #3131
Hello, thank you very much for your help.We can now load the latest version of the mobilenet model through the network.Since we used static files before, we want to continue local development. Are there any open source local model files?

[2020-04-29 03:09] tirthg opened #3169 "TG@DESKTOP-EVANP31 MINGW64 ~/Desktop/modmailbot-master $ node . Loading configuration from config.ini... Error: Unknown option: { at Object.<anonymous> (C:\Users\tng19\Desktop\modmailbot-master\src\config.js:181:11) at Module._compile (internal/modules/cjs/loader.js:1185:30) at Object.Module._extensions..js (internal/modules/cjs/loader.js:1205:10) at Module.load (internal/modules/cjs/loader.js:1034:32) at Function.Module._load (internal/modules/cjs/loader.js:923:14) at Module.require (internal/modules/cjs/loader.js:1074:19) at require (internal/modules/cjs/helpers.js:72:18) at Object.<anonymous> (C:\Users\tng19\Desktop\modmailbot-master\src\index.js:44:16) at Module._compile (internal/modules/cjs/loader.js:1185:30) at Object.Module._extensions..js (internal/modules/cjs/loader.js:1205:10)"
To get help from the community, we encourage using Stack Overflow and the [`tensorflow.js`](https://stackoverflow.com/questions/tagged/tensorflow.js) tag.

#### TensorFlow.js version

#### Browser version

#### Describe the problem or feature request

#### Code to reproduce the bug / link to feature request
If you would like to get help from the community, we encourage using Stack Overflow and the

[2020-04-29 03:15] tirthg opened #3170 "How to fix this error i want to run my bot by node ."
Error: Unknown option:
    at Object.<anonymous> (C:\Users\tng19\Desktop\modmailbot-master\src\config.js:181:11)
    at Module._compile (internal/modules/cjs/loader.js:1185:30)
    at Object.Module._extensions..js (internal/modules/cjs/loader.js:1205:10)
    at Module.load (internal/modules/cjs/loader.js:1034:32)
    at Function.Module._load (internal/modules/cjs/loader.js:923:14)
    at Module.re

[2020-04-29 04:03] clkruse commented on #3152
@rthadur There's not too much on the code front to show here.

In python, the model is defined according to the [Tensorflow Pix2Pix example](https://www.tensorflow.org/tutorials/generative/pix2pix#build_the_generator).

On the Tensorflow JS side, I converted the keras saved .h5 using `tensorflowjs_converter --input_format=keras --output_format=tfjs_graph_model --quantization_bytes=1 --weight_shard

[2020-04-29 05:44] rahulscp commented on #3149
im using this for some augmentation there it create a lag on movement. but i think i should be happy with this now. waiting for the new version with better result :) thank you

[2020-04-29 07:31] BayanBennett commented on #3170
Hi Tirth,

It might be helpful to have some additional information, like code from `modmailbot-master`

Here's the TFJS issue template: https://github.com/tensorflow/tfjs/blob/master/ISSUE_TEMPLATE.md

—Bayan[‌](https://bayanbennett.com)

[2020-04-29 12:10] tirthg commented on #3170
Thanks

[2020-04-29 19:14] jelling commented on #757
Error message should still be improved as passing an Int16Array will return a message saying that a typed array is required and int16array is a typed array.

[2020-04-29 22:31] #3083 closed

[2020-04-30 01:04] rthadur commented on #3169
Hello, this sort of question is better suited for StackOverflow. This issues list is for bugs and feature requests. Thanks and please use the tag 'tensorflow.js' on your StackOverflow question to makes sure it's discoverable.

[2020-04-30 01:04] #3169 closed

[2020-04-30 01:09] #3149 closed

[2020-04-30 01:11] #3170 closed

[2020-04-30 01:14] rthadur commented on #3069
Closing this due to lack of activity, feel to reopen. Thank you

[2020-04-30 01:14] #3069 closed

[2020-04-30 01:21] #3014 closed

[2020-04-30 03:36] YIN-jw opened #3182 "Want to use static files for local development"
We can now load the latest version of the mobilenet model through the [https://github.com/tensorflow/tfjs-models/tree/master/mobilenet].Since we used static files before, we want to continue local development. Are there any open source local model files?

[2020-04-30 18:19] AbdulRashidReshamwala opened #3184 "tfjs-react-native API Docs Error"
#### TensorFlow.js version
TF.js : 0.2.3
#### Browser version
React Native (Expo Managed App)

#### Describe the problem or feature request
tfjs-react-native API Docs Error

#### Code to reproduce the bug / link to feature request
[Docs](https://js.tensorflow.org/api_react_native/0.2.1/#cameraWithTensors)
have an error instead of requestAnimation(loop) it should be requestAnimationFrame(loop)
[cod

[2020-04-30 19:05] AbdulRashidReshamwala opened #3186 "Local fetch not working in android tfjs-react-native API"
#### TensorFlow.js version
 @tensorflow/tfjs" :  1.7.4
 @tensorflow/tfjs-react-native :  0.2.3

#### Browser version
expo :  37.0.3

#### Describe the problem or feature request
Local fetch does not work on android but works fine on ios

#### Code to reproduce the bug / link to feature request
[code]
Example of a files[] for android
[code]
ios:
[code]
Error faced in android:
[code]

[2020-04-30 21:02] kelvinOfoli commented on #3150
oh ok.. thanks @lina128

[2020-04-30 23:49] AbdulRashidReshamwala commented on #2784
@pvaneck fetch seems to be working fine in ios but fails on android

[2020-05-01 17:02] AbdulRashidReshamwala opened #3196 "model.fit() crashes the entire app [tfjs-react-native]"
#### TensorFlow.js version
"@tensorflow/tfjs": "^1.7.4"
"@tensorflow/tfjs-react-native": "^0.2.3"

#### Browser version
"expo": "~37.0.3"

#### Describe the problem or feature request

#### Code to reproduce the bug / link to feature request
I was trying to build and train a model
The app crashes as soon as I try to train a model

model compiles are successful
was even able to view model summary
I

[2020-05-01 17:05] AbdulRashidReshamwala commented on #3196
The current build fails to work on android due to https://github.com/tensorflow/tfjs/issues/3186 and https://github.com/facebook/react-native/issues/26890

[2020-05-01 17:11] Abhisheknarsing commented on #2800
const img = new Image()
img.src = 'hi.jpg'
img.onload = () => ctx.drawImage(img, 0, 0)
img.onerror = err => { throw err }
height = img.height;
width = img.width ;
const canvas = createCanvas(width, height);
const ctx = canvas.getContext('2d');
ctx.drawImage(img, 0, 0, width, height);
tf.browser.fromPixels(canvas).print();
const imgout = ctx.getImageData(0, 0, width, height);

[2020-05-01 17:14] Abhisheknarsing commented on #2800
`const { createCanvas, loadImage, drawImage,Image } = require('canvas')

const img = new Image()
img.src = 'hi.jpg'
img.onload = () => ctx.drawImage(img, 0, 0)
img.onerror = err => { throw err }
height = img.height;
width = img.width ;
const canvas = createCanvas(width, height);
const ctx = canvas.getContext('2d');
ctx.drawImage(img, 0, 0, width, height);
tf.browser.fromPixels(canvas).print();
con

[2020-05-01 17:38] nicholas opened #3197 "Support for AutoML Vision Edge models with sharded weights in React Native"
#### TensorFlow.js version

@tensorflow/tfjs : 1.7.3
@tensorflow/tfjs-react-native : 0.2.3

#### Browser version

expo : 37.0.8

#### Describe the problem or feature request

Since you:
- Can't load sharded weights using the [bundleResourceIO](https://github.com/tensorflow/tfjs/blob/master/tfjs-react-native/src/bundle_resource_io.ts#L32) function provided in tfjs-react-native.
- [Can't run your ow

[2020-05-01 17:48] motya770 commented on #2784
Hi, I just switched to Flutter, much simpler, much more predictable results )

[2020-05-01 18:04] AbdulRashidReshamwala commented on #3197
You can load shared model via https I'm facing the same issue using bundleResourse

[2020-05-01 18:23] tafsiri commented on #3196
Could you post the output from the device log before the crash? https://reactnative.dev/docs/debugging#accessing-console-logs They can be a bit noisy, but there should be some exception or error related to the app/tfjs-react-native.

[2020-05-01 18:33] Abhisheknarsing commented on #2800
Same issue here!

[2020-05-01 18:50] AbdulRashidReshamwala commented on #3196
@tafsiri  If i enable remote debugging i get the following message the app does not crash
[code]
And even training the model works
[code]
I think the issue might be in the rn-webgl-backend
I tried to use tf.setBackend("cpu"); but even that causes the app to crash

[2020-05-01 20:12] tafsiri commented on #3196
You can't use remote debugging for this as that will try and run everything in your browser. You want to use native debugging https://reactnative.dev/docs/debugging#native-debugging

What devices are you running this on? If the rn-webgl backend fails to initialize it will fallback to cpu but will be quite slow.

[2020-05-02 03:56] vladi-hub opened #3200 "Compile error in RealtimeDemo class"
App.js: Unexpected token (58:7)

  56 | export class RealtimeDemo extends React.Component<ScreenProps,ScreenState> {
  57 |

     |        ^
  59 |
  60 |   constructor(props: ScreenProps) {
  61 |     super(props);

[2020-05-02 17:16] jacktang opened #3202 "[Bodypix] How to load model from local disk?"
Hello,

My app can't connect Internet all the time, and how to load trained bodypix from local disk? The nodejs code snippet
[code]
In README.md I found

Could you please give me an example what the url is of the local model? and what's the content of the dest model (BTW: how can I download the trained model?). Thanks very much!

[2020-05-03 16:20] parthya commented on #3149
@rahulscp Even I am facing a slight lag.

Though for me, even the landmarks are not true to size of the face. And the 'face' appears on top left corner without any styles. Is it normal?

[2020-05-03 17:47] zalkier commented on #3186
I am facing the exact same problem in Android, with the package.json:
[code]

and with the App.js:

[code]

[2020-05-03 19:33] depixeled-chris commented on #628
I'm struggling to get CUDA support working on WIndows 10, but I did also observe this is still a thing. This code runs way faster on tfjs than tfjs-node.

[code]

In tfjs-node-gpu (gpu not working correctly, assuming this is a fallback.

[code]
In tfjs-node

Tensor
    [[0.4938855],
     [0.5194098],
     [0.4804204],
     [0.5029459]]
Hello world 7.157  seconds
[code]
Tensor
    [[0.4711909],

[2020-05-04 13:34] MrXhojn opened #3203 "Problem with tfjs.converters.save_keras_model()"
#### TensorFlow.js version
Latest update as of raising this issue

#### Browser version
Not sure if relevant

#### Describe the problem or feature request
Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
conv2d (Conv2D)              (

[2020-05-04 14:29] tafsiri commented on #3197
Hi. I think the path you want is your second point, converting the model to use a single shard. Sharding is primarily advantageous for web browsers and caching, when the model is local we generally want to fetch that in one request/read. `weight_shard_size_bytes` should the path you want.

Could you elaborate on your last point about the model having different results when you run it through the t

[2020-05-04 16:50] rthadur commented on #3202
Hello, this sort of question is better suited for StackOverflow. This issues list is for bugs and feature requests. Thanks and please use the tag 'tensorflow.js' on your StackOverflow question to makes sure it's discoverable.

Please refer to this links for how the model can be downloaded form local.
[1) Loads the MobileNet BodyPix model.](https://github.com/tensorflow/tfjs-models/blob/master/body

[2020-05-04 16:50] #3202 closed

[2020-05-04 16:56] rthadur commented on #3200
Please file the issue using [template](https://github.com/tensorflow/tfjs/issues/new).

[2020-05-04 16:56] #3200 closed

[2020-05-04 19:06] nicholas commented on #3197
Yea, I agree that path makes the most sense.

As for the different results, I'm referring to the model.json that's created and the ability to get a functioning result back. In the process of setting up a sample to share I managed to sidestep some of the issues I'd seen previously -- specifically around the input signature, I had to sleuth around to find the magic `ToFloat` key -- but the differenc

[2020-05-04 20:48] tafsiri commented on #3197
For the conversion step have you tried converting the auto-ml tfjs export from a sharded model to a non sharded model directly (no savedmodel).

The converter can take tfjs models as inputs as well, see https://github.com/tensorflow/tfjs/tree/master/tfjs-converter#javascript-to-javascript.

[2020-05-04 20:49] tafsiri commented on #3197
In this case both the input and output type would be tfjs_graph_model.

[2020-05-04 21:09] nicholas commented on #3197
Hey, thanks for taking a look. That does look promising, I'll run some more experiments and report my findings back here.

[2020-05-04 21:21] nicholas commented on #3197
Unfortunately, tfjs_graph_model to tfjs_graph_model conversion does not appear to be a supported feature.

[code]

And after some review, I don't see that option in what I think is the [main entry point for conversion](https://github.com/tensorflow/tfjs/blob/master/tfjs-converter/python/tensorflowjs/converters/converter.py#L587).

[2020-05-04 21:33] tafsiri commented on #3197
@pyu10055 Could we support a configuration in the converter like the one above to support unsharding a sharded tfjs_graph_model? Or is there another option for unsharding.

[2020-05-04 21:41] Zeesy opened #3205 "Documentation update request"
#### OS
Ubuntu 18.4

#### Tensorflow version
2.1.0

#### Tensorflow_js version
1.7.4

#### Feature request
Modification to documentation at **Importing a Keras model into TensorFlow.js**:
https://www.tensorflow.org/js/tutorials/conversion/import_keras

#### Code to reproduce the bug / link to feature request
https://www.tensorflow.org/js/tutorials/conversion/import_keras#step_1_convert_an_existing

[2020-05-04 23:48] nuzrub opened #3206 "Performance metrics for the PoseNet models on the COCO dataset"
Dear Posenet team,
I am evaluating pose estimation models and I really liked how performant posenet is. However, I can't find its AP scores for the COCO dataset. I am aware of the Personlab paper, but it seems a bit out-dated with the repository. For instance, it does not include the MobileNet based model.
Are these results available some where or could you share it?
Thanks

[2020-05-05 15:35] alexstanbury opened #3207 "integration_rn59 not working correctly on any platform"
I can see there has been a recent commit that has likely affected this. I am trying to debug some other issues I'm having with tfjs-react-native but cannot get the demo project to run at all on iOS emulator or device, I get the following error at build time:

`fatal error: 'React/RCTAssert.h' file not found`

It will run on an Android emulator and device but a warning is shown saying rn-webgl back

[2020-05-05 17:57] rthadur commented on #3205
I don't think this is an issue above format works as expected. cc @pyu10055

[2020-05-05 19:17] sasiprojs commented on #711
I am getting the following error in ubuntu 20.04

Building TensorFlow Node.js bindings
node-pre-gyp install failed with error: Error: Command failed: node-pre-gyp install --fallback-to-build
node-pre-gyp WARN Using request for node-pre-gyp https download
node-pre-gyp WARN Tried to download(404): https://storage.googleapis.com/tf-builds/pre-built-binary/napi-v5/1.7.4/CPU-linux-1.7.4.tar.gz
node-pre

[2020-05-05 20:10] tafsiri commented on #3207
Hi. yes we are right in the middle of some biggish unreleased changes, so I would't work straight from master. I'd pick a tag like https://github.com/tensorflow/tfjs/tree/tfjs-v1.7.1 to work from if you want to debug from source.

[2020-05-05 21:55] alexstanbury commented on #3207
Understood. I'll try that branch instead, thanks.

[2020-05-05 21:55] #3207 closed

[2020-05-06 02:08] cpshaheen commented on #2800
here's the fix!

I. require the proper canvas objects
'''
const { createCanvas, loadImage, createImageData, Image } = require('canvas');
'''

II. decode the image
*note I'm using inkjet to decode the image from the filesystem

'''
var srcimagefile = "image.jpg";
var srcimg = fs.readFileSync(srcimagefile);
inkjet.decode(srcimg, function(err, data){
    if(err) throw err;
    console.log("Image load

[2020-05-06 02:09] #2800 closed

[2020-05-06 12:30] polyzer commented on #723
Hello!
I have some problems with starting tfjs-examples. (stake-dqn)
1. I had an error when use 1.3.2 version. So I downgrade it to 1.2.3.
2. I had an error with saving models: **UnhandledPromiseRejectionWarning: Error: Cannot find any save handlers for URL 'file://./trainedModel'**
I solve this with changing path:
require('@tensorflow/tfjs')
to absolute:
require('./node_modules/@tensorflow/tfjs-n

[2020-05-06 16:32] diegonc commented on #2906
This makes `tfjs-node` fail, too. The backend name it reports is `tensorflow` and so the if clause goes through the else case throwing an error.

[2020-05-06 21:21] #3068 closed

[2020-05-07 00:20] JesseFarebro opened #3221 "float16 quantization"
#### Describe the problem or feature request

It would be useful to support quantizing to float16 over the wire and then dequantizing back to float32 on the client.
I'm working with a model where the 2-byte affine quantization in TFJS performs very poorly but using float16 quantization has a negligible impact on performance.

[2020-05-07 03:54] tafsiri opened #3224 "Enable dist importing a 'shared/base' file from tfjs-backend-cpu"
Importing directly from index will generally cause rollup to (correctly because of the presence of side effects) bundle the entire backend. Even if you just want to import a shared impl file. However we avoid dist imports to build properly internally. The ideal way in OSS is to allow a 'deep import', however we would have to setup a target for that internally.

That was the longer term plan for 'b

[2020-05-07 08:36] NiBurhe opened #3226 "converter: ValueError: Unsupported Ops in the model before optimization"
To get help from the community, we encourage using Stack Overflow and the [`tensorflow.js`](https://stackoverflow.com/questions/tagged/tensorflow.js) tag.

#### TensorFlow.js version
`-- @tensorflow/tfjs@1.7.4
  +-- @tensorflow/tfjs-converter@1.7.4
  +-- @tensorflow/tfjs-core@1.7.4
  | +-- @types/offscreencanvas@2019.3.0
  | +-- @types/seedrandom@2.4.27
  | +-- @types/webgl-ext@0.0.30
  | +-- @typ

[2020-05-07 08:56] JakeWade3 commented on #2043
Was wondering if there's any updates for this? For BodyPix on Tensorflow Lite?

[2020-05-07 09:15] yslion opened #3227 "tfjs-models/handpose/ doesn't work"
GET https://tfhub.dev/mediapipe/tfjs-model/handskeleton/1/default/1/model.json?tfjs-format=file net::ERR_CONNECTION_TIMED_OUT

[2020-05-07 09:58] NirmalMathi opened #3228 "@kallols which helped you to get rid of model.predict() is not a function?"
@kallols which helped you to get rid of model.predict() is an undefined function

[2020-05-07 10:55] annxingyuan commented on #3227
Hi @yslion - I think that may have been a temporary issue - could you try again?

[2020-05-07 11:10] yslion commented on #3227
I tried it for many days   ,  is it the reason of Chinese network ?

[2020-05-07 12:35] Gaurav-Kochar commented on #711
I'm getting following error in ubuntu 18.04
CPU-linux-1.7.4.tar.gz
* Building TensorFlow Node.js bindings
node-pre-gyp install failed with error: Error: Command failed: node-pre-gyp install --fallback-to-build
node-pre-gyp WARN Using needle for node-pre-gyp https download
node-pre-gyp WARN Tried to download(404): https://storage.googleapis.com/tf-builds/pre-built-binary/napi-v5/1.7.4/CPU-linux-1.7

[2020-05-07 12:39] VirajSingh19 commented on #711
I'm getting following error in ubuntu 18.04
CPU-linux-1.7.4.tar.gz
* Building TensorFlow Node.js bindings
node-pre-gyp install failed with error: Error: Command failed: node-pre-gyp install --fallback-to-build
node-pre-gyp WARN Using needle for node-pre-gyp https download
node-pre-gyp WARN Tried to download(404): https://storage.googleapis.com/tf-builds/pre-built-binary/napi-v5/1.7.4/CPU-linux-1.7

[2020-05-07 15:31] tafsiri commented on #3228
I'm not sure what this is, but this definitely isn't the right place for it.

[2020-05-07 15:31] #3228 closed

[2020-05-07 16:35] NirmalMathi commented on #3228
Thanks.Found the loop hole.

On Thu, May 7, 2020, 9:01 PM Yannick Assogba <notifications@github.com>
wrote:

[2020-05-07 16:38] rthadur commented on #3182
You can use [npm](https://github.com/tensorflow/tfjs-models/tree/master/mobilenet#via-npm) to install on your machine.

This sort of question is better suited for StackOverflow. This issues list is for bugs and feature requests. Thanks and please use the tag 'tensorflow.js' on your StackOverflow question to makes sure it's discoverable.

[2020-05-07 16:38] #3182 closed

[2020-05-07 17:02] Patrick-David opened #3229 "Knn Demo - TypeError: Nt.runKernelFunc is not a function"
#### TensorFlow.js version
"@tensorflow-models/knn-classifier": "1.2.1",
    "@tensorflow-models/mobilenet": "^2.0.2",
    "@tensorflow/tfjs": "^1.2.1",
    "stats.js": "^0.17.0"

#### Browser version
Chrome: Version 81.0.4044.129 (Official Build) (64-bit)
and also Firefox : 75.0 (64-bit)

#### Describe the problem or feature request
When running the KNN demo found here
[knn demo](https://github.c

[2020-05-07 21:31] rthadur commented on #3203
@MrXhojn can you please provide reproduction code or codepen example ?

[2020-05-07 21:32] #3205 closed

[2020-05-07 21:37] rthadur commented on #3226
Hello, this sort of question is better suited for StackOverflow. This issues list is for bugs and feature requests. Thanks and please use the tag 'tensorflow.js' on your StackOverflow question to makes sure it's discoverable.

[2020-05-07 21:37] #3226 closed

[2020-05-07 23:21] machenmusik commented on #2800
FYI, the way face-api handles this is much simpler, there is a way to use the node versions of canvas et al. so it "just works" - might be worth investigating.

[2020-05-08 00:00] rthadur commented on #3229
@Patrick-David can you try to use latest tfjs version ?

[2020-05-08 08:49] xnerhu opened #3231 "Error: The specified module could not be found."
#### TensorFlow.js version `"@tensorflow/tfjs-node-gpu": "^1.7.4"`

#### Describe the problem or feature request

Can't run the app, because of the TensorFlow error.

[code]

I ran `node-gyp rebuild` as I saw in similar issues.

[code]

And I got

[code]

I also tried updating npm and node-gyp, but it didin't work.

#### Code to reproduce the bug / link to feature request
[code]

#### System detai

[2020-05-08 12:56] beele commented on #3052
@kangyizhang any progress on this?

[2020-05-08 14:11] Patrick-David commented on #3229
Thanks @rthadur
simply by changing to tfjs 1.7.4  in the package.json, the error goes away.

[2020-05-08 15:07] rthadur commented on #3231
Did you had only tfjs-node-gpu installed or tfjs as well ?

[2020-05-08 15:26] yorkie commented on #3231
@xnerhu tfjs is using [node-pre-gyp](https://www.npmjs.com/package/node-pre-gyp) to build its add-ons.

This is because node-pre-gyp will read the package.json [`binary`](https://github.com/tensorflow/tfjs/blob/4faed8a04c4e203966365a5c6158feceebd70160/tfjs-node/package.json#L61) and set to binding.gyp, I think you could follow the following script to address what you occurred:
https://github.com/t

[2020-05-08 15:28] tafsiri opened #3232 "2.x deprecation tracker"
Tracking issue for things being deprecated in the 2.x release and for things that were deprecated in 1.x being removed.

### deprecations from 1.x

**tfjs-core**

- [x] batchNormalization
- [x] batchNormalization2d
- [x] batchNormalization3d
- [x] batchNormalization4d
- [x] interface MetaGraphInfo
- [x] interface SignatureDefInfo
- [x] interface SavedModelTensorInfo

**tfjs-data**

- [x] dataset.f

[2020-05-08 16:01] rthadur commented on #3229
@Patrick-David thank you.

[2020-05-08 16:01] #3229 closed

[2020-05-08 16:43] duhaime commented on #540
I experienced this behavior when importing tfjs-core in a static page that rendered a WebGL canvas on a Linux Mint 19.1 device running recent Chromium. There was no jest in this project...

[2020-05-08 16:47] duhaime commented on #1313
I experienced this same behavior when importing tfjs-core in a static page that rendered a WebGL canvas on a Linux Mint 19.1 device running recent Chromium.

[2020-05-08 17:45] xnerhu commented on #3231
@rthadur Only `tfjs-node-gpu`.

[2020-05-08 17:51] kangyizhang commented on #3231
can you run `npm rebuild @tensorflow/tfjs-node build-addon-from-source` in your repo and try again?

[2020-05-08 19:36] jeffrson opened #3236 "tfjs-node does not work with Node14"
#### TensorFlow.js version

1.7.4

#### Describe the problem or feature request

This is due to the new N-API-Version '6' which is missing from package.json.

The library builds apparently without issues (as N-API '5'), but the install.js script fails to symlink or copy tensorflow.dll (because folder for N-API '6' does not exist).

#### Code to reproduce the bug / link to feature request

With nod

[2020-05-09 01:33] #3224 closed

[2020-05-09 06:37] xnerhu commented on #3231
[code]

Still doens't work.

[2020-05-09 06:46] xnerhu commented on #3231
@yorkie It's weird, because if `node-pre-gyp` failed it should have printed errors.

[2020-05-09 06:50] xnerhu commented on #3231
I moved to Node v14, updated node-gyp, node-pre-gyp and the error occurs.

[2020-05-09 07:11] xnerhu commented on #3231
I modified `tfjs/tfjs-node-gpu/scripts/install.js`.

[code]

And it outputs:

[code]

[2020-05-09 07:42] yorkie commented on #3231
`ls -la deps/lib` to list the libraries on your machine?

[2020-05-09 07:49] MrXhojn commented on #3203
So I reloaded everything just so I could get you code to show you what was going on, and it suddenly started working.  I dunno what changed between now and when I did it last, but it seems to work now for some reason.  Do you still want the code?

[2020-05-09 08:43] xnerhu commented on #3231
[code]

[2020-05-09 09:20] syonfox commented on #3114
Sorry about the slow response.  I was using onehot in my median filter function  I tried to lay it out in a simmaler style to existing tensor flow function hope this helps.
 If you wish to look at a usage I used it in a project here.  This is by no means a minimal example since lots of other stuff is happening.   The relivante code is pasted for the most part.
http://syon.ca/cmpt414/pcv/src/pcv.ht

[2020-05-09 15:11] yorkie commented on #3231
@xnerhu Maybe `node-pre-gyp install --verbose --build-from-source` will give more debug info :)

[2020-05-09 21:19] kedevked opened #3241 "globalAveragePooling2d requires to pass an empty object"
To get help from the community, we encourage using Stack Overflow and the [`tensorflow.js`](https://stackoverflow.com/questions/tagged/tensorflow.js) tag.

#### TensorFlow.js version
1.7.2
#### Browser version
chrome 81
#### Describe the problem or feature request
An empty object needs to be passed to the layer for it tries to access the name parameter. It will fail if not
#### Code to reproduce t

[2020-05-09 21:20] kedevked commented on #3241
if this is confirmed to be an issue and that no one is on it, I can take it

[2020-05-09 22:27] pathakcodes commented on #3186
Any updates on the issue. I am facing exactly the same issue as @zalkier
Please see, Thanks
![image](https://user-images.githubusercontent.com/31039145/81486404-31f09980-9272-11ea-8934-3c63c7d74262.png)

[2020-05-10 04:59] Smit12345 commented on #711
node-pre-gyp WARN Using needle for node-pre-gyp https download
gyp ERR! find VS
gyp ERR! find VS msvs_version not set from command line or npm config
gyp ERR! find VS VCINSTALLDIR not set, not running in VS Command Prompt
gyp ERR! find VS could not use PowerShell to find Visual Studio 2017 or newer
gyp ERR! find VS looking for Visual Studio 2015
gyp ERR! find VS - not found
gyp ERR! find VS not lo

[2020-05-10 04:59] Smit12345 commented on #711
how to slove this error.please help me.

[2020-05-10 07:50] jacktang commented on #3202
@rthadur Appreciate your help. I have post the question on stackoverflow with `tensorflow.js` tag. See: https://stackoverflow.com/questions/61561601/how-to-load-bodypix-model-from-local-disk.

As you told, now I can load model(json) file from local disk. Could you please tell me where can I print weights file uri path (the *.bin files) so that I could download them. Thanks!

[2020-05-10 08:00] xnerhu commented on #3231
I downgraded Node to 12 and it works. It's related with #3236.

[2020-05-10 08:30] jacktang commented on #3202
Well, I got all files now. Thanks

[2020-05-10 10:16] land007 commented on #2872
Is there a compilation process, CUDA depends on the wrong version and cannot be used.

[2020-05-10 11:49] TheNewSound commented on #3236
Same goes for node v13.12.0
[code]

[2020-05-10 18:13] kangyizhang commented on #3231
The error is because of new node NAPI version 6. I have created https://github.com/tensorflow/tfjs/pull/3242 to fix this. Please use node version before 14 for now. The library will support latest node version in the next release.

[2020-05-10 18:13] #3231 closed

[2020-05-10 18:14] kangyizhang commented on #3236
I have created https://github.com/tensorflow/tfjs/pull/3242 to fix this. Please use node version smaller than 14 for now. The next release of this library will support the latest node version.

[2020-05-10 18:14] #3236 closed

[2020-05-10 18:16] kangyizhang commented on #711
@Smit12345 you need to install visual studio to compile the bindings in this library.

[2020-05-10 19:17] JesseFarebro commented on #2998
I'm also experiencing this bug, it makes it difficult to conditionally switch backends as this code works with the webgl backend and not the wasm backend.

[2020-05-10 20:11] rthadur commented on #3203
nope, glad it worked for you.

[2020-05-10 20:11] #3203 closed

[2020-05-11 16:32] Ouwen commented on #283
@bileschi I'm interested in loading a python keras model into a javascript environment. The typical workflow for us is to train a more complex model in python keras, then ideally export the model for inference in javascript.

When loading a keras model with custom layers, is it possible for the user to just supply the javascript native implementation? Similar to: https://github.com/tensorflow/tfjs

[2020-05-11 17:55] bileschi commented on #283
Yes, you would need to take responsibility for the javascript layer implementation and assuring that it matches the python implementation.

[2020-05-11 19:21] Ouwen commented on #283
So for the initial `model.json` that is exported by the `tfjs` python library. Would we rename the Lambda layer to the class name we use in javascript for deserialization?

[code]

So for example, if the Lambda class used here is supposed to be the Antirectifier we could just rename the class_name to `Antirectifier` and it will get handled by `tf.serialization.registerClass(Antirectifier);` ?

[2020-05-11 19:25] bileschi commented on #283
Thats the gist of it, yes.  There may be more fields heere that need to
change

On Mon, May 11, 2020 at 3:21 PM Ouwen Huang <notifications@github.com>
wrote:

--
Stan Bileschi Ph.D.  |   SWE  |  bileschi@google.com |  617-230-8081

[2020-05-11 20:05] Ouwen commented on #283
Sounds good, we'll go through the process and try it out. If you think it makes sense we can put together a quick documentation example for this as well. Unless the API to handle custom python keras layers is in the works/changing atm.

[2020-05-11 20:12] tafsiri commented on #1948
Closing this because its somewhat old/out of date.

@ben-xD If you have any suggestions on a different way to get WebGL support outside of a webview, I'd be open to hearing them (feel free to make a new issue). But it does look like expo is a path endorsed by the react-native team.

[2020-05-11 20:12] #1948 closed

[2020-05-11 22:13] rthadur commented on #3241
Seems to be a bug, please submit a fix. Thank you.
cc @annxingyuan

[2020-05-11 22:20] rthadur commented on #3151
Closing this due to lack of activity, feel to reopen. Thank you

[2020-05-11 22:20] #3151 closed

[2020-05-11 22:28] buaazhangfan opened #3247 "tf.layer.rnn with stackedRNNCells doesn't work with bidirectional RNN"
To get help from the community, we encourage using Stack Overflow and the [`tensorflow.js`](https://stackoverflow.com/questions/tagged/tensorflow.js) tag.

#### TensorFlow.js version
latest
#### Browser version
Chrome Version 81.0.4044.138 (Official Build) (64-bit)
#### Describe the problem or feature request
I am developing one sequence model with bidirectional RNN structures. It will throw the e

[2020-05-11 22:40] #3184 closed

[2020-05-11 22:46] buaazhangfan commented on #3247
The problem should be that tf.layer.bidirectional function do not support tf.layers.rnn() layer as the input args

[2020-05-12 03:58] akineeic commented on #2998
So that seems to be a commont bug when switch the backend from webgl to wasm. I used to investigate that and suspect this issue may caused by [code here](https://github.com/tensorflow/tfjs/blob/master/tfjs-backend-wasm/src/backend_wasm.ts#L87) since the default byteOffset is 0. But I also found that the typedArray has been processed, so I'm not sure this is the root cause. @annxingyuan  Do you hav

[2020-05-12 16:29] TheNewSound commented on #3140
I have no problem generating an output jpeg.

Here my code:

It assumes your input matrix is a float32 matrix with values between 0 and 1.

[code]

[2020-05-12 17:42] dhasegan commented on #604
@RohanGautam did you get to fix your problem? I am having the same issue and tf.dispose and tf.tidy does not work.
My specs:
- "@tensorflow/tfjs": "1.7.4"
Browser:
- Chrome Version 81.0.4044.138 (Official Build) (64-bit)

[2020-05-12 17:44] dhasegan commented on #3061
+1, same problem

[2020-05-12 20:30] lina128 commented on #3247
Hi @buaazhangfan, it has to be an instance of rnn, such as lstm or gru. @shanqing-cai may have more details to share.

[2020-05-12 21:26] roman-amici opened #3252 "Can't take second derivative with respect to tanh, sigmoid, or exp"
To get help from the community, we encourage using Stack Overflow and the [`tensorflow.js`](https://stackoverflow.com/questions/tagged/tensorflow.js) tag.

#### TensorFlow.js version
1.7.4

#### Browser version
Chrome
Version 81.0.4044.138 (Official Build) (64-bit)

#### Describe the problem or feature request
Tensorflowjs appears to be able to take second derivatives with respect to most common f

[2020-05-13 01:56] tafsiri opened #3259 "add README for tfjs-backend-cpu and tfjs-backend-webgl"

[2020-05-13 02:04] tafsiri opened #3260 "add miniprogram entries to package.json of cpu and webgl backends"
To get help from the community, we encourage using Stack Overflow and the [`tensorflow.js`](https://stackoverflow.com/questions/tagged/tensorflow.js) tag.

#### TensorFlow.js version

#### Browser version

#### Describe the problem or feature request

#### Code to reproduce the bug / link to feature request
If you would like to get help from the community, we encourage using Stack Overflow and the

[2020-05-13 09:01] IvanVishnevskiy commented on #840
And I need ctc loss for OCR. I doubt I can help with that as I don't really understand the https://www.tensorflow.org/api_docs/python/tf/nn/ctc_loss's source code nor can I implement it by the original paper, unfortunately.

[2020-05-13 11:08] RohanGautam commented on #604
@dhasegan

Yeah I did! Was working on it a long while back, so had to dig up the archives. It was fixed in [this commit](https://github.com/RohanGautam/LangSign/commit/7464c0ad9e4e284253c905b39880111c1c8d566a) in my personal project.

Basically involved disposing everything, **including intermediate products** of computation.
[code]
But you say `dispose` didn't work for you :/ I'd suggest `console

[2020-05-13 12:16] dcs3spp opened #3264 "tfjs-node tests failing to run for tfjs-node@1.7.3 and tfjs-node@1.7.4 : Cannot find module @tensorflow/tfjs-converter/scripts/gen_json.ts'"
#### TensorFlow.js version
@tensorflow/tfjs-node@1.7.3. The same problem occurs with @tensorflow/tfjs-node@1.7.4

#### Browser version
N/A using nodejs v10.19.0 from Ubuntu Server 20.04 with an Intel Quad Core 6600 CPU.

#### Describe the problem or feature request
Trying to run tests fails...see details below

#### Code to reproduce the bug / link to feature request

[code]

[code]

[2020-05-13 13:31] alexionby commented on #1174
@vabarbosa , did you find any way to avoid this issue?

[2020-05-13 13:41] tomerip opened #3265 "[wasm] tf.keras.layers.Dense layer is not supported"
#### TensorFlow.js version
1.7.4

#### Describe the problem or feature request
Using a dense layer in a tf.keras model (tested on TF 2.1.0) results in a 'prod' op in the TFJS graph model after conversion (converter version 1.7.4).
It runs fine on GPU and CPU with backends that aren't WASM, but on WASM it gives:
`'prod' not yet implemented or not found in the registry. Did you forget to import the

[2020-05-13 15:26] #2358 closed

[2020-05-13 15:44] alexionby opened #3266 "Webcam tfjs on safari"
1.7.4
Safari 13
After several tries of running TFJS model (some examples:

1. https://storage.googleapis.com/tfjs-models/demos/posenet/camera.html
2. https://storage.googleapis.com/tfjs-models/demos/body-pix/index.html
3. https://storage.googleapis.com/tfjs-models/demos/facemesh/index.html
4. https://storage.googleapis.com/tfjs-models/demos/handpose/index.html
)
 Safari webcam stream become blocke

[2020-05-13 16:28] PSSABISHEK opened #3267 "Training model on Safari IOS return NaN"
#### TensorFlow.js version
1.7.2

#### Browser version
Safari IOS - 13

#### Describe the problem or feature request
Backend Used - WebGL
Loss is all NaN values while training a model (MobileNetv2) and accuracy is very poor (0) on IOS Safari. The same model trains and performs extremely well on android devices and on desktop browsers (including Safari)

Epochs Run - 10

![image](https://user-image

[2020-05-13 16:37] rthadur commented on #3267
Hello, this sort of question is better suited for StackOverflow. This issues list is for bugs and feature requests. Thanks and please use the tag 'tensorflow.js' on your StackOverflow question to makes sure it's discoverable.

[2020-05-13 16:37] #3267 closed

[2020-05-13 16:54] #3095 closed

[2020-05-13 18:36] rthadur commented on #3264
@dcs3spp can you please share the steps to reproduce above error ?

[2020-05-13 18:55] dcs3spp commented on #3264
@rthadur Included in post above as:

[code]

[2020-05-13 19:00] rthadur commented on #3266
I was able to reproduce the issue, @alexionby do you have a codepen example to reproduce error ?

[2020-05-13 19:02] rthadur commented on #3264
which example you are trying to run ?

[2020-05-13 19:22] vabarbosa commented on #1174
@alexionby i did not. i had moved to other projects and hadn't had time to revisit this. however, i did just try it now and i am not seeing the issue
**user-agent**: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_3) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/13.0.5 Safari/605.1.15
i will play around some more and see if it reproduces again

[2020-05-13 19:25] dhasegan commented on #604
`tf.memory()` is not increasing for me. my input has varying sizes as well and each new size there is a new shader that is created and cached in the TFJS library: https://github.com/tensorflow/tfjs/issues/3061

There is no cache purge so it slowly accumulates GPU memory (as seen in the Chrome Task Manager). You might reach a similar issue if you have different sizes for `webcamElement`

[2020-05-13 19:34] tafsiri commented on #3264
You cannot run tests from the npm package. You need to clone the source from github and checkout the tag for the version you want to test.

[2020-05-13 19:35] tafsiri commented on #3260
done

[2020-05-13 19:35] #3260 closed

[2020-05-13 19:35] #3259 closed

[2020-05-13 19:38] dcs3spp commented on #3264
@rthadur Thanks :) Upon reading DEVELOPMENT.md in node_modules/@tensorflow/tfjs-node I discovered that tests can be run using ```yarn test```. Will give it a try, probably tomorrow by cloning source from github repository and report back...

[2020-05-13 19:42] #3264 closed

[2020-05-13 21:42] kedevked opened #3270 "tf.argMax accepts an array or a number"
#### TensorFlow.js version
1.7
#### Browser version
chrome 81
#### Describe the problem or feature request
Following this [question](https://stackoverflow.com/questions/61776343/what-does-argmax-do-with-an-array-as-axis/61780454#61780454) on stackoverflow, `tf.argMax` can accept a number or an array. I am not sure if that is a bug, but I wonder if it is intended since the documentation shows that

[2020-05-13 22:18] tafsiri commented on #3270
Yeah this is a bug in the tutorial. Thanks for letting us know. I've updated [the tutorial](https://codelabs.developers.google.com/codelabs/tfjs-training-classfication/index.html#6) to make the axis argument a number.

[2020-05-13 22:18] #3270 closed

[2020-05-13 22:19] mahendran-narayanan commented on #2043
@KapoorHitesh You can refer this ml5js and p5js example code.
https://github.com/ml5js/ml5-examples/tree/release/p5js/BodyPix

[2020-05-13 23:09] kedevked commented on #3270
@tafsiri It is not only a bug in the tutorial, if you use the array, it works. The question should be if array are not allowed, then a specific check should be made on the argument and throw an error like "the parameter is not a number".

[2020-05-14 01:48] RatebSeirawan commented on #3207
even tho I downgraded to tfjs-v1.7.1 it still crashes when I set the backend to rn-webgl and when I set it to cpu it does not crash until I do anything TF like trying the camera demo.
any help would be appreciated I scratch the internet to find a solution but couldn't, and I am using RN62.2

[2020-05-14 01:49] ThaoDoann commented on #2138
I have the same issue using Tensorflow.js to detect pose on a local mp4 video. Apparently it works perfectly when I use its original size, however, if I resize the video, the output skeleton doesn't match the pose on the video the predictions seem to be wrong.

[2020-05-14 06:44] alexstanbury commented on #3207
I am seeing the same issue using RN 0.62.2, seems this library / expo gl is not compatible yet.

[2020-05-14 09:33] JesseFarebro opened #3271 "fetchFunc doesn't work with fully qualified URLs"
#### TensorFlow.js version

2.0.0-rc.4

#### Describe the problem or feature request

Currently, if you supply `fetchFunc` to a function like `loadGraphModel` it will ignore `fetchFunc` if the URL is a fully qualified URL. For example,

[code]

The issue arises as such:

tfjs first tries to resolve a handler for the URL type. This involves iterating over the known routers. It gets to the HTTP rout

[2020-05-14 10:26] kalpanki commented on #3039
I am facing the same problem. Could you please suggest a work around till a fix is released. Thank you.

[2020-05-14 13:37] tafsiri commented on #3270
We don't generally do that kind of type checking of our arguments at runtime (especially for non tensor arguments). I recommend using typescript if users want to get that level of protection when it comes to types. I wouldn't consider the fact that it works with a length 1 array a bug either (its more like undefined behaviour). Other than incorrect documentation I doubt that users would run into t

[2020-05-14 13:51] tafsiri commented on #3207
could you share your package.json, maybe the version of expo-gl is not compatible with RN62.2. Also on-device debug logs (not remote debugging) with the error that leads to a crash would be very helpful. Feel free to open a new issue when posting this info since this one is closed.

[2020-05-14 14:30] dcs3spp commented on #3264
@tafsiri Thanks that did the trick :)

[2020-05-14 15:17] kedevked commented on #3270
Without doing a type check, if this [line](https://github.com/tensorflow/tfjs/blob/tfjs-core-v1.7.2/tfjs-core/src/ops/reduction_ops.ts#L481)

    let axes = util.parseAxisParam(axis, $x.shape);

was replaced by

    let axes = util.parseAxisParam([axis], $x.shape);

the argMax will throw the error

    "All values in axis param must be in range [-${rank}, ${rank}) but ` +
          `got axis ${axi

[2020-05-14 17:17] rthadur commented on #3271
@JesseFarebro did you try using `await` while loading model ?

[2020-05-14 17:19] JesseFarebro commented on #3271
@rthadur yes, are you referring to my example? I wrote that up quickly in Github, didn't really check it over.

[2020-05-14 17:45] rthadur commented on #3271
yes I was referring to your code , is it possible to provide an codepen example to reproduce the same , thank you.

[2020-05-14 18:32] JesseFarebro commented on #3271
https://codesandbox.io/s/tfjs-fqurl-repro-x1y2f?file=/src/index.js

[2020-05-14 23:31] zedd3v opened #3274 "Error: The specified module could not be found"
#### TensorFlow.js version
@tensorflow-models/mobilenet; 0.2.2
@tensorflow/tfjs: 0.12.0
@tensorflow/tfjs-node: 1.7.4
#### Node

#### Describe the problem or feature request
internal/modules/cjs/loader.js:1197
  return process.dlopen(module, path.toNamespacedPath(filename));
                 ^

Error: The specified module could not be found

[2020-05-14 23:34] rthadur commented on #3144
@alexstanbury do you still need help on this or will you be able to contribute a PR for the fix ?

[2020-05-14 23:41] zedd3v opened #3275 "invalid ELF header"
To get help from the community, we encourage using Stack Overflow and the [`tensorflow.js`](https://stackoverflow.com/questions/tagged/tensorflow.js) tag.

#### TensorFlow.js version
@tensorflow-models/mobilenet: 0.2.2
@tensorflow/tfjs: 0.12.0
@tensorflow/tfjs-node: 1.7.4
#### AWS Lambda

#### Describe the problem or feature request
{
    "errorType": "Error",
    "errorMessage": "/var/task/node_m

[2020-05-14 23:58] rthadur commented on #3275
@zedd3v are you trying to run tfjs-node in AWS Lambda ? if yes we do not support it, please refer the comment [here](https://github.com/tensorflow/tfjs/issues/2817#issuecomment-594793192).
cc @kangyizhang

[2020-05-15 00:03] rthadur commented on #3274
@zedd3v please refer to a similar issue [here](https://github.com/tensorflow/tfjs/issues/2619) , which was resolved. Thank you

[2020-05-15 00:30] zedd3v commented on #3275
ok thanks for your answer

[2020-05-15 01:33] #3275 closed

[2020-05-15 06:02] alexstanbury commented on #3144
@rthadur I haven't had time to look into further as I cannot get this library working at all now since we have upgraded to RN 0.62.2.

Are you able to confirm that using fetch to load bundled models in release mode is a valid approach as mentioned above?

[2020-05-15 15:16] maksimhodasevich commented on #2763
In my case this error droped when i was trying to run eslint (7.0.0)

To fix this you need to switch your node version to (in my case) at least 10.19.0

[2020-05-16 02:04] rthadur commented on #3111
@DanielOnye123 do you still see this error ?

[2020-05-16 02:18] rthadur commented on #2732
@Fmihajasoa can you try loading only `tfjs-automl `,  as mentioned [here](https://github.com/tensorflow/tfjs/blob/master/tfjs-automl/demo/img_classification/index.js)

[2020-05-17 07:56] daoshengmu commented on #3186
It doesn't work for me too. I am developing an Android app. I have tried giving a file path from external storage or a HTTPS URL from S3. Both of them didn't work. Btw, my package version is `tfjs-react-native:0.1.0-alpha.2`

[2020-05-17 13:33] Luis-Fernando-Molina opened #3281 "npm install @tensorflow/tfjs-node FAILS on Windows 10"
To get help from the community, we encourage using Stack Overflow and the [`tensorflow.js`](https://stackoverflow.com/questions/tagged/tensorflow.js) tag.

#### TensorFlow.js version

tfjs-node@1.7.4

#### Browser version

λ node --version
v8.11.4

![image](https://user-images.githubusercontent.com/9479367/82148131-c77fc080-9852-11ea-9dd3-84739a5262a0.png)

#### Describe the problem or feature req

[2020-05-17 14:07] vonlyinno opened #3282 "NCHW Support for conv2d on loaded Frozen Model while computing bias"
#### TensorFlow.js version
"@tensorflow/tfjs": "^1.7.4"
#### Browser version
Chrome 81.0.4044.138
#### Describe the problem or feature request
It is said that tfjs has ability to support NCHW for  conv2d on loaded Frozen Model. Now I load a frozen  model in  NCHW, it throws out an error when i execuate my model:
**Error: Operands could not be broadcast together with shapes 1,32,220,220 and 32.**

[2020-05-17 21:45] hayzem commented on #3186
I'm facing same problem here with trying to fetch local image uri starting with `file://`
version: `@tensorflow/tfjs-react-native@0.1.0-alpha.2`

[2020-05-18 01:24] akineeic opened #3283 "[WASM] tfjs-backend-wasm.wasm not found"
Hello,

I'm using tfjs-backend-wasm package with webpack following the [tutorial](https://github.com/tensorflow/tfjs/tree/master/tfjs-backend-wasm/starter/webpack). The tfjs-backend-wasm.wasm is import like [here](https://github.com/tensorflow/tfjs/blob/master/tfjs-backend-wasm/starter/webpack/src/index.js#L19). But it seems that if I have several html files in different folders, I need to copy th

[2020-05-18 15:03] betances opened #3284 "Why is LSTM prediction is so slow in tfjs-node?"
Hello!

Im trying to make predictions of this model developed in python and passed to tfjs-node:

`In1 = Input(shape=(100, 100), name="Input1")
lstm1, forward_h, forward_c, backward_h, backward_c = Bidirectional(LSTM(100, return_sequences=True, return_state=True), merge_mode="concat", name="bi1")(In1)

In2 = Input(shape=(100, 100), name="Input2")
lstma = Bidirectional(LSTM(100, return_sequences=Fa

[2020-05-18 15:12] alexionby commented on #3266
I've updated Safari to 13.1 and bug disappeared.
But! In some cases I still can face the same bug IOS Safari 13.3.1 - 13.4.1 and it's very tricky to reproduce. For now I have some ideas and I will try to create a stable and reproducible example.

[2020-05-18 15:40] pyu10055 commented on #3284
@betances If you are using the model only for prediction, you should save the model to saved model format and use tfjs-node direct execution.
https://blog.tensorflow.org/2020/01/run-tensorflow-savedmodel-in-nodejs-directly-without-conversion.html

[2020-05-18 15:49] pyu10055 commented on #3282
@vonlyinno Thank you for reporting, unfortunately our biasadd does not support NCHW data format right now. What is the version of Tensorflow.js you are using?
The is a change that your conv2d + biasAdd could be fused into FusedConv2d Op by the latest converter, in which NCHW should be supported.

[2020-05-18 16:00] pyu10055 commented on #3271
@JesseFarebro The custom fetch is used, even we calls the default IO handler, since the IO handler will call into the custom fetchFunc. In your example code, if you add a console.log to your custom fetch function, it will print properly.

[2020-05-18 16:02] #3241 closed

[2020-05-18 16:40] betances commented on #3284
You have saved my life. :)

Thank you

[2020-05-18 16:40] #3284 closed

[2020-05-18 16:53] pyu10055 commented on #3197
@tafsiri @nicholas Unsharding a tfjs_graph_model is possible, but I don't think we should provide it as converter option, since allowing tfjs_graph_model as a input format and supporting all options are beyond the need for fixing this issue. we can create an js util class to perform the unsharding.

[2020-05-18 17:09] rthadur commented on #3266
Thank you , closing this issue for now.Feel free to reopen.

[2020-05-18 17:09] #3266 closed

[2020-05-18 17:12] JesseFarebro commented on #3271
It doesn't. Add ```console.log(`Fetch ${url}`)``` to `fetchFunc` and notice it only prints the URL prefixed with `//` and not the URL prefixed with `https://`. There are two test cases I have there, the desired result is using `fetchFunc` for both URLs. Am I missing something?

[2020-05-18 17:43] pyu10055 commented on #3271
@JesseFarebro for the case where the url does not start with 'http://', tfjs does not know how to load the model. you need to implement your own IOHander and pass it in in replacement of the modelUrl to loadGraphModel API. please take a look at the API doc.

[2020-05-18 17:53] JesseFarebro commented on #3271
I get that, that's not where my problem stems from. My problem is there is no way to override this behaviour. I'm supplying a fully qualified URL including the protocol and I want to use a custom fetch function. The reason being is I want to track the download progress by using a custom ReadableStream. Also, no I don't want to use the builtin tfjs progress callback as its inadequate for the HTTP h

[2020-05-18 18:42] pyu10055 commented on #3271
@JesseFarebro Now I understand the issue, yes, we will add a fix to update the fetchFunc for the default http loader.

[2020-05-18 18:43] JesseFarebro commented on #3271
Thanks @pyu10055, sorry for the confusion.

[2020-05-18 19:19] rthadur commented on #3281
@Luis-Fernando-Molina did you install any tfjs before installing tfjs-node ?

[2020-05-18 20:45] pyu10055 commented on #3152
@clkruse Hi, we are not familiar with the train=True option, what is the API you used for python inference? can you show your python code for that? thanks.

[2020-05-18 23:51] #3271 closed

[2020-05-19 01:05] pyu10055 commented on #3221
Thanks, that is very a good suggestion.

[2020-05-19 01:10] JesseFarebro commented on #3221
I'll probably end up putting together a PR for this in the next week or so as I'm going to end up needing this.

[2020-05-19 02:02] cheneyweb opened #3287 "Error: libtensorflow.so.1: cannot open shared object file: No such file or directory"
#### OS ####
CentOS7.6

#### TensorFlow.js version

@tensorflow/tfjs-node

1.7.4   AND    2.0.0-rc.4

#### Describe the problem or feature request

Since I got the message for AVX512  FMA can speed up tf.  so I follow the readme doc and build the tensorflow-r2.2 version.

I have got the libtensorflow.tar.gz, and I have already put it on {myproject}/node_modules/@tensorflow/tfjs-node/deps  and  tar

[2020-05-19 02:26] vonlyinno commented on #3282
@pyu10055 Thanks for your reply.
However I do use the latest version 1.7.4 of @tensorflow/tfjs.

[2020-05-19 06:46] Luis-Fernando-Molina commented on #3281
@rthadur no, that was the first thing I installed.

I did try to install tfjs after tfjs-node as part of me trying to make it work, then uninstall it. This output is the one of my current state, not the first output I got when I was trying to install tfjs-node for the first time.

[2020-05-19 06:54] tafsiri commented on #3186
Digging into this it looks like fetch is not a good fit for loading these types of files. The api our custom `fetch` is trying to implement leaves behavior for file:// scheme urls undefined. I probably wouldn't rely on on it for this even where it seems to work. Instead I would use an existing file reading mechanism in react native to get the data. You want to be able to read the file data into on

[2020-05-19 07:01] tafsiri commented on #3144
@alexstanbury I'm doubtful that loadViaHttp would work in release mode reliably (seems to work in iOS but not Android—which I believe was the motivation to add that code path).

To your issue with RN 0.62.2 it looks like expo-gl does not yet support that version of RN https://github.com/expo/expo/issues/7575

[2020-05-19 07:05] tafsiri commented on #2784
Looks like this has been resolved. +1 to the comment on using something like expo-file-system to read local files. Feel free to leave a comment/file a new issue if this is still unresolved.

[2020-05-19 07:05] #2784 closed

[2020-05-19 07:08] tafsiri commented on #2138
@ThaoDoann you might just be resizing the 'preview' of the video on your browser rather than the video itself. Feel free to file a new issue with sample code/way to reproduce. I'm going to close this issue since the original question of using it with video tags seems solved.

[2020-05-19 07:08] #2138 closed

[2020-05-19 07:10] tafsiri commented on #3196
Any updates? Is the crash related to model.fit or the issue with loading local assets via fetch?

[2020-05-19 08:19] sacredvoid opened #3288 "TFJSconverter Unsupported Op: MirrorPad"
To get help from the community, we encourage using Stack Overflow and the [`tensorflow.js`](https://stackoverflow.com/questions/tagged/tensorflow.js) tag.

#### TensorFlow.js version
1.7.4.post1
#### Browser version
Firefox 76.0.1
#### Describe the problem or feature request
Wanted to request support for an unsupported op: **MirrorPad**
#### Code to reproduce the bug / link to feature request
Just

[2020-05-19 10:15] hayzem commented on #3186
After I realized the error was caused by `fetch` I decided to try another method to load the image and as you suggested I ended up using `expo-filesystem` which loaded the local image successfully on my android device.

Then I faced another error `SOI not found` which is not related with this issue but related to decoding JPEG. Your example helped me to solve it by just using `tf.util.encodeString

[2020-05-19 11:28] AbdulRashidReshamwala commented on #3196
This crash is definitely related to model.fit() I am able to successfully load images and even convert them into tensors.
I can't do native debugging since I don't have a device running macos will update as soon as possible

[2020-05-19 14:02] torlarse opened #3289 "Implement tf.math.scalar_mul"
#### TensorFlow.js version
1.7

#### Describe the problem or feature request
In TensorFlow for Python, there is an operation for scaling a tensor: `tf.math.scalar_mul`. Is it correct that this operation does not exist in TensorFlow.js? If so, please consider this a feature request.

[2020-05-19 14:48] #3289 closed

[2020-05-19 14:55] TechnikEmpire commented on #1546
@ldenoue I'm not sure why no one ever responded to you but no, if you watch the deps, tfjs from pip explicitly tries to install tensorflow-cpu and it quite often mangles your installations. I often have to `-U --force-reinstall` my original GPU packages after having a go with tfjs.

[2020-05-19 15:03] pyu10055 commented on #3282
@vonlyinno What is the version of converter you used for converting your model? can you also share your conversion command line? thanks

[2020-05-19 15:27] djashan opened #3290 "run error"
how to resolve that path
posenet.esm.js'
Error: ENOENT: no such file or directory, open 'C:\Users\Ashan Pro\Desktop\research\arimac tencs\model demo\tfjs-models-master\posenet\demos\node_modules\@tensorflow-models\posenet\dist\p
osenet.esm.js'

[2020-05-19 15:39] djashan opened #3291 "Posenet not lorded"
posenet.esm.js'
Error: ENOENT: no such file or directory, open 'C:\Users\Ashan Pro\Desktop\research\arimac tencs\model demo\tfjs-models-master\posenet\demos\node_modules@tensorflow-models\posenet\dist\p
osenet.esm.js'
![Screenshot (211)](https://user-images.githubusercontent.com/41038007/82347274-0a899180-9a15-11ea-9f3e-e917bbeb4f8b.png)

[2020-05-19 16:34] tafsiri commented on #3291
Did you follow all the instructions? https://github.com/tensorflow/tfjs-models/tree/master/posenet/demos#setup Did you run `yarn` before yarning `yarn watch`?

[2020-05-19 16:34] #3290 closed

[2020-05-19 19:02] tafsiri commented on #3197
What if it were just a specific unsharding command in the converter so they do not have to get a separate tool (but it doesn't otherwise allow full conversion of graph models)?

[2020-05-19 19:03] tafsiri commented on #2906
Just pushed a new version (0.0.4) of https://www.npmjs.com/package/@tensorflow-models/handpose, could you give it a try and let us know if it works.

[2020-05-19 23:10] pyu10055 commented on #3221
@JesseFarebro that would be great, thank you!

[2020-05-19 23:18] pyu10055 commented on #3197
@tafsiri after thinking about this more, it might make sense to provide graph_model to graph_model conversion, the allowed features could include sharding and quantization.
I will look into that.

[2020-05-20 04:35] vonlyinno commented on #3282
@pyu10055
I use `pip install tensorflowjs` as instruction and the version is `1.7.4r1`.
convert command line:
`tensorflowjs_converter --input_format=tf_frozen_model --output_node_names='output' /xxx/SR_x2_RGB.pb  /xxx/rgb_model`

[2020-05-20 05:17] daoshengmu commented on #3186
It works for my Android devices too. Thanks for your response. Trying to use `0.2.3` instead  although there are some dependency issues are happening.

[2020-05-20 08:27] adityapatadia commented on #571
Putting in scripts folder does not work. This uses `__dirname` https://github.com/tensorflow/tfjs/blob/63235661d1c1f26ff5b6853375a59213fe99d9a5/tfjs-node/scripts/deps-constants.js#L98 but ideally it should use `process.cwd()`.

[2020-05-20 08:51] adityapatadia opened #3293 "terminate called after throwing an instance of 'char const*'"
To get help from the community, we encourage using Stack Overflow and the [`tensorflow.js`](https://stackoverflow.com/questions/tagged/tensorflow.js) tag.

#### TensorFlow.js version
1.7.3

#### Browser version
Nodejs

#### Describe the problem or feature request
Nodejs process crashes with this error: `terminate called after throwing an instance of 'char const*'`

[2020-05-20 12:07] harvinder-power opened #3294 "Issue with getting tensors from TensorCamera for tfjs-reactnative"
#### TensorFlow.js version
1.7.4

#### Browser version
React Native + Expo (SDK37)

#### Describe the problem or feature request
When running handleCameraStream, it encounters the error:
[Unhandled promise rejection: TypeError: images.next is not a function. (In 'images.next()', 'images.next' is undefined)]

Description of images from CameraWithTensors documentation: _images is a (iterator)[https:

[2020-05-20 13:38] utkobe opened #3295 "Feature request: Support of saving weights and loading weights"
####  feature request

Common frameworks will provide the api to just save weights and load weights. It seems that tfjs currently only provide model.save and tf.loadModel to save both weights and architecture.

[2020-05-20 15:49] #2361 closed

[2020-05-20 15:59] tafsiri commented on #3294
Hi, The [signature of your handler function](https://gist.github.com/harvinder-power/1562e1a9fe8ffb0533dd3e937bb24f9e#file-tfjs-expo-tensorcamera-js-L35) has an extra `model` parameter at the beginning that does not match the [onReady signature](https://js.tensorflow.org/api_react_native/0.2.3/#cameraWithTensors)

[2020-05-20 16:47] #3186 closed

[2020-05-20 16:49] rthadur commented on #3293
@adityapatadia please provide steps to reproduce the error.

[2020-05-20 18:01] adityapatadia commented on #3293
Issue is random. It only happens for some images. I am using this to detect faces and it throws this error in rare cases: https://github.com/justadudewhohacks/face-api.js/#ssd-mobilenet-v1

[2020-05-20 18:04] clkruse commented on #3152
Hi @pyu10055. Thanks for the response!

The python tensorflow code I'm referencing is in this portion of the [TF pix2pix example](https://www.tensorflow.org/tutorials/generative/pix2pix#generate_images), with this comment about the `training=True` configuration:

The code in question looks like this:
[code]

[2020-05-20 18:27] rthadur commented on #3293
@adityapatadia thank you , this sort of question is better suited for StackOverflow. This issues list is for bugs and feature requests. Thanks and please use the tag 'tensorflow.js' on your StackOverflow question to makes sure it's discoverable.

[2020-05-20 18:27] #3293 closed

[2020-05-20 19:52] djemeljanovs commented on #2443
@blidblid, For some reasons suggested workaround does not apply for my model with the error:
`AssertionError: Identity is not in graph`

Meanwhile I have started porting `DenseFeatures` layer to tfjs in this branch:
https://github.com/djemeljanovs/tfjs/tree/feature/dense-feature-layer-support

It seems to be excessive amount of work, since not only `DenseFeatures`, but whole `FeatureColumn` API ha

[2020-05-20 21:58] harvinder-power commented on #3294
Great spot! All works now, many thanks 👍

[2020-05-20 21:58] #3294 closed

[2020-05-20 23:23] yonlif opened #3298 "Build version of posenet not working - posenet.load() returns {}"
#### TensorFlow.js version:
"@tensorflow-models/posenet": "^2.2.1",
"@tensorflow/tfjs-converter": "^1.7.4",
"@tensorflow/tfjs-core": "^1.7.4",

#### Browser version: I am using electron.

I want to be able to build my app that is using posenet. In the dev version everything is working great, the net is loaded using `posenet.load()` and returns a Promise object.

But when I am building my app using

[2020-05-21 00:02] wingman-jr-addon commented on #3014
@kaushiksa For what it's worth, I use TF.js to load a MobileNetV2-based model in a Firefox plugin. I choose to take the hit by loading it as part of the background scripts rather than a content script. The main load takes 10+ seconds but I do not get that message, presumably because of that. Would it be an option to move the usage of the TF.js to the background? I know that's less than ideal if yo

[2020-05-21 00:24] pyu10055 commented on #3295
@utkobe Thank you for the suggestions, can you explain your use case for saving/loading weight without the model topology?

[2020-05-21 00:25] pyu10055 commented on #3282
does this frozen model targets CPU? Is it possible for you to generate a CPU version of this model? I believe tensorflow CPU does not support NCHW conv2d.

[2020-05-21 02:29] tafsiri commented on #3196
A few suggestions for you to try, mainly related to [this line in your code](https://github.com/AbdulRashidReshamwala/teachable-smartphone/blob/master/App.js#L111).

1. Do not overwrite `imageTensorBatch.current` and `labelTensorBatch.current` with the result of the stack. Doing this loses the reference to the array of tensors which means you can never dispose them.

2. Move the stack calls into y

[2020-05-21 03:50] ducanh841988 opened #3299 "inconsistent results of tf.Conv2D on WebGL in PC browser and mobile browser"
To get help from the community, we encourage using Stack Overflow and the [`tensorflow.js`](https://stackoverflow.com/questions/tagged/tensorflow.js) tag.

#### TensorFlow.js version
1.0.0
#### Browser version
Mac browser: Version 81.0.4044.138 (Official Build) (64-bit)
Android phone: Chrome 81.0.4044.138
#### Describe the problem or feature request
the densenet like model provides different resul

[2020-05-21 06:27] utkobe commented on #3295
@pyu10055 Thanks for the reply. I have some use cases where i wish to save weights of one weights of one model and apply the weights to part of another model. These two models share part of architecture so in theory they could have same weights of this part. (Like model A is a backbone of model B)

[2020-05-21 06:28] akineeic commented on #3283
This issue has been fixed by specify the location of the wasm file, thanks for your attention.

[2020-05-21 06:28] #3283 closed

[2020-05-21 06:35] utkobe commented on #3295
@pyu10055 Thanks for the reply. Actually i do not have use cases that must just save weights. Just would like to save less information for checkpoints or transfer if I can reconstruct topology using codes manually. :)

[2020-05-21 07:18] RealLankinen opened #3300 "undefined is not an object (evaluating 'environment_1.env().platform.fetch')"
#### TensorFlow.js version
"@tensorflow-models/handpose": "0.0.3"
"@tensorflow/tfjs": "^1.7.4"

#### Browser version
React Native 37.0.1
Expo 37.0.3

#### Describe the problem or feature request
I tried to use Handpose model on React Native but it gives an error:
[code]

[2020-05-21 08:37] mou23 opened #3301 "Body pix image demo does not work"
I tried to run the image example given at https://github.com/tensorflow/tfjs-models/tree/master/body-pix

However, it fails to fetch
https://storage.googleapis.com/tfjs-models/savedmodel/bodypix/mobilenet/float/075/model-stride16.json

TensorFlow.js version:  <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@1.2"></script>

Browser version: Google Chrome Version 81.0.4044.138

Any help is

[2020-05-21 09:52] subodha commented on #3300
The same issue with the mobilenet as well

"@tensorflow/tfjs": "^1.7.4",
"@tensorflow-models/mobilenet": "^2.0.4",
"expo": "~37.0.3",
"react-native": "https://github.com/expo/react-native/archive/sdk-37.0.1.tar.gz",

[2020-05-21 15:02] pyu10055 commented on #3295
Since our weights require the topology file to work properly, we would like to keep them consistent. The topology file are rather small comparing to the weight file, it is usually just several kilobytes. The weight only load/save API does not provide enough benefits but might be harder for users to debug problem. Sorry, I would not recommend that API.

[2020-05-21 15:02] #3295 closed

[2020-05-21 16:23] tafsiri commented on #3300
what version of [tfjs-react-native](https://www.npmjs.com/package/@tensorflow/tfjs-react-native) are you using?

[2020-05-21 16:26] zliendo opened #3303 "An estimate of when the tf TextVectorization layer will be implemented in tfjs?"
I have a question

#### TensorFlow.js version
1.7.4r1
#### Browser version
Google Chrome Version 81.0.4044.138 (Official Build) (64-bit)
#### Describe the problem or feature request
Is there a timeline to implement the tf TextVectorization layer in tfjs?

I build a keras model in python using this layer:
from tensorflow.python.keras.layers.preprocessing import text_vectorization
TextVectorization.

[2020-05-21 16:36] RealLankinen commented on #3300
0.2.3

[2020-05-21 16:41] RealLankinen commented on #3300
I looked this problem a little bit closer and right now I know that it's not recognizing the app as browser or node. This is why it's not setting any platform. When I modified `@tensorflow/tfjs-core/dist/platforms/platform_browser.js` to not check if is browser but anyways set the platform as browser, the problem changed a little bit. It's now complaining `[Unhandled promise rejection: Error: File

[2020-05-21 16:52] subodha commented on #3300
I used
"@tensorflow/tfjs-react-native": "^0.2.3",

[2020-05-21 17:29] RealLankinen commented on #3300
What code are you talking about? Can you link it here?

I got mobilenet work with this code [https://github.com/RealLankinen/tfjs/commit/24869f0fabea05ebdaaebd4062aea81513d66629](https://github.com/RealLankinen/tfjs/commit/24869f0fabea05ebdaaebd4062aea81513d66629) but as I commented there, it's not the final version but just a way around it. I'm not sure if it's even a good way around it. I tried