[2018-06-13 15:40] dsmilkov opened #424 "Improve the error messages in tensor()/tensorXd()"
For example:
- if someone calls `tf.tensor()` with a null shape, we say `Error: Constructing tensor of shape (NaN) should match the length of values (0)`. Instead we should just say the shape is null.
- if someone calls `tf.tensor()` with values as null, we should say values is null, instead of saying that values is not a Flat/TypedArray.

See [this discussion](https://groups.google.com/a/tensorfl

[2018-06-13 15:44] dsmilkov commented on #319
We should prioritize this since it's going to improve significantly the usability of the library. See [this discussion](https://groups.google.com/a/tensorflow.org/forum/?utm_medium=email&utm_source=footer#!msg/tfjs/X1mg69fY1TE/bsfoFFC4AgAJ) for context where config validation would have helped and saved everyone's time.

[2018-06-13 15:47] dsmilkov commented on #311
Thanks for the ping. I think this issue should still be open since the user clearly gets the wrong result on Windows. If someone else can reproduce this on a Windows machine that would be great! Thanks!

[2018-06-13 15:55] bileschi commented on #319
We started a pattern for this:  Looks like the PR got lost?
https://github.com/tensorflow/tfjs-layers/pull/216

[2018-06-13 16:02] d4l3k commented on #422
Yeah, that sounds like it should be sufficient! Is there any documentation on how to export to keras? I didn't see any flags to do it in the Readme. https://github.com/tensorflow/tfjs-converter/blob/master/README.md

[2018-06-13 16:06] bileschi commented on #319
Ok, there we go, submitted just now.
https://github.com/tensorflow/tfjs-layers/pull/216#issue-191263092

[2018-06-13 16:09] bileschi commented on #319
@atanasster sorry for the delay.  I would expect the `kernelSize` parameter to be verified as soon as possible.  Extending the framework added above, there should be bounds on what kernelSize values are appropriate (i.e., not negative)

[2018-06-13 16:43] bileschi commented on #422
I think the flag you want is --output_format
https://github.com/tensorflow/tfjs-converter/blob/master/python/tensorflowjs/converters/converter.py#L148

[2018-06-13 17:04] nsthorat opened #425 "AdadeltaOptimizer is numerically unstable on iOS devices (half-float devices)"
I'm disabling this test until we understand where numerical instability is coming from.

[code]

[2018-06-13 17:27] nsthorat opened #426 "Unit tests for browserHTTPRequest fail on Safari due to usage of FormData"
FormData, used in some of our unit tests, is not supported in Safari:
https://developer.mozilla.org/en-US/docs/Web/API/FormData

I'm about to enable Safari unit tests in https://github.com/tensorflow/tfjs-core/pull/978, but I disabled `browserHTTPRequest-save` tests until we fix this. When ready, switch `CHROME_CPU_ENVS` to `CPU_ENVS` (and we can remove CHROME_CPU_ENVS and IS_CHROME)

It seems lik

[2018-06-13 17:29] d4l3k commented on #422
Ah cool, thanks for the help! Might be useful to update the REAME.

[2018-06-13 17:29] #422 closed

[2018-06-13 17:37] nsthorat opened #427 "ModelManagement with LocalStorage fails in Safari, tests are disabled for non-Chrome browsers."
Looks like something is strange with window.localStorage. I turned off the tests for non-Chrome browsers.

[code]

[2018-06-13 17:50] ManrajGrover commented on #425
@nsthorat Not 100% sure since I don't have access to any iOS device to test this, but it might be because of the default value of small epsilon being added set as `1e-8` which converts to `0.0` in `float16`. Since `accumulatedGrad` in [test](https://github.com/tensorflow/tfjs-core/blob/v0.11.6/src/optimizers/adadelta_optimizer_test.ts#L47) is `0.0`, and epsilon is `0.0` itself, numerical instabili

[2018-06-13 19:31] bileschi commented on #422
Agreed, It's confusing.
https://github.com/tensorflow/tfjs-converter/pull/153

On Wed, Jun 13, 2018 at 1:29 PM, Tristan Rice <notifications@github.com>
wrote:

--
Stan Bileschi Ph.D.  |   SWE  |  bileschi@google.com |  617-230-8081

[2018-06-13 20:59] dsmilkov commented on #407
cc @pyu10055 Hey can you add the mapping from "unpack" to "unstack" in the converter?

[2018-06-13 21:13] fdoumet commented on #188
@dsmilkov is there a branch where the control-flow ops are being implemented?

[2018-06-13 21:17] dsmilkov commented on #337
Hi @naoufelfrioui, did you get a chance to look at the graph and figure out the name of the output node? In TensorFlow Python, if you have a handle to the `tensor`, you can print `tensor.name` to get its name.

[2018-06-13 21:44] dsmilkov commented on #298
I can take this on! (tomorrow)

[2018-06-14 01:11] jgartman opened #428 "expandDims not aligned with TF for negative axis"
To get help from the community, check out our [Google group](https://groups.google.com/a/tensorflow.org/forum/#!forum/tfjs).

#### TensorFlow.js version
0.11.2
#### Browser version
Chrome 66.0.3359.181
#### Describe the problem or feature request
The output of the `expandDims` function differs from the output of Tensorflow's `expand_dims` when a negative axis is passed.
#### Code to reproduce the

[2018-06-14 01:34] jgartman commented on #417
The node tests passed locally for me with the changes from that PR.

[2018-06-14 01:35] TheHidden1 commented on #419
wrap the image in a [HTMLImageElement](https://developer.mozilla.org/en-US/docs/Web/API/HTMLImageElement)

[2018-06-14 05:26] anoob09 opened #429 "DICOM image"
Can I get images from `DICOM` file using this library?

[2018-06-14 07:32] Subhambh commented on #419
I have wrapped the image in html but while prediction got the following error

expected dense_Dense1_input to have 2 dimension(s), but got array with shape [597,800,3]

code in js
<html>
	<title> TensorFlow </title>
	<head>

	<script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@0.11.6"> </script>
	<img id='Cells' src='../static/fig.PNG' alt='BVI Cells'>

	<script>

		const model12 = tf.loadM

[2018-06-14 08:30] Subhambh commented on #419
I have wrapped the image but unable to get prediction
error :
(index):16 Uncaught TypeError: model.predict is not a function
    at (index):16

code in js :
<html>
	<title> TensorFlow </title>
	<head>

	<script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@0.11.6"> </script>
	<img id='Cells' src='../static/fig.PNG' alt='BVI Cells'>

	<script>

		const model = tf.loadModel ("{{ url_for('static

[2018-06-14 11:32] Subhambh commented on #419
tried loading the model using async / await still the error is same

CODE IN JS:

html>
	<title> TensorFlow </title>
	<head>

	<script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@0.11.6"> </script>
	<img id='Cells' src='../static/fig.PNG' alt='BVI Cells'>

	<script>

		async function loadModel(){
			console.log("inside load model");
			const mod = await tf.loadModel("{{ url_for('static', fi

[2018-06-14 11:34] Subhambh commented on #419
@TheHidden1  and @caisq  help would be appreciated

[2018-06-14 13:53] caisq commented on #418
@rodrigopivi I am having trouble reproducing your error. See the added unit test in https://github.com/tensorflow/tfjs-layers/pull/236, which closely replicates your reproduction code. I don't get an error in that unit test.

[2018-06-14 14:07] caisq commented on #418
I also tried the code in CodePen and it seems to work there as well:
https://codepen.io/caisq/pen/zadPZM

[2018-06-14 15:20] caisq commented on #427
I tried running these code snippets in desktop Safari (Version 11.1.1 (12605.2.8)) and they all seem to work.
https://js.tensorflow.org/api/0.11.6/#io.copyModel
https://js.tensorflow.org/api/0.11.6/#io.listModels
https://js.tensorflow.org/api/0.11.6/#io.removeModel
https://js.tensorflow.org/api/0.11.6/#io.moveModel

There are two possible issues here:
1. The unit tests still have some order depend

[2018-06-14 17:09] dsmilkov opened #430 "Add tf.all and tf.any"
We should implement `tf.reduce_all` and `tf.reduce_any` as `tf.all` and `tf.any` in TensorFlow.js. See https://github.com/tensorflow/tfjs/issues/188 for a model that failed on the conversion step that needs these ops.

[2018-06-14 17:30] #407 closed

[2018-06-14 17:31] #406 closed

[2018-06-14 17:44] TheHidden1 commented on #419
try ```<script async>``` &``` const model = await  tf.loadModel();```

it should be somting like this
[code]

[2018-06-14 18:49] #253 closed

[2018-06-14 19:05] nsthorat commented on #427
I think what's happening is for some reason the "remove" isn't working. One test runs, adds something to local storage, beforeEach fires and clears everything, but then another test which asserts nothing is in local storage fails.

[2018-06-14 20:16] #370 closed

[2018-06-14 21:35] d4l3k opened #431 "tfjs-node: bundled libtensorflow.so doesn't work on Ubuntu 14.04"
#### TensorFlow.js version
@tensorflow/tfjs-node@0.1.7

The bundled version of libtensorflow.so doesn't work on Ubuntu 14.04. It gets a libc linking error. This makes it very hard to test tfjs-node projects on Travis CI.

https://travis-ci.org/luk-ai/lukai/jobs/392378382

Manually downloading https://storage.googleapis.com/tensorflow/libtensorflow/libtensorflow-cpu-linux-x86_64-1.8.0.tar.gz and ex

[2018-06-14 22:30] kumarde opened #432 "RangeError: Source is too large in saving/loading models"
#### TensorFlow.js version
0.11.6

#### Browser version
Chrome 67

#### Describe the problem or feature request
I get the following error when trying to store a model to either localstorage or IndexedDB:

[code]

After a little digging, I found the bug to be in this function, specifically on this line: https://github.com/tensorflow/tfjs-core/blob/b400eed1cb234e951c287090e1c13513deb822aa/src/io/io_

[2018-06-15 00:42] caisq commented on #432
@kumarde thanks for reporting this. Do you have an estimate of the total size of your model's weights? From what you described, I think it's possible that it's too large to fit in the browser's IndexedDB anyway.

[2018-06-15 01:04] kumarde commented on #432
The size ilor the weights are around ~1.2MB, and there's 300K or so
parameters to the model overall.

Not sure about max size for indexedDB, but I'm pretty sure you can go up to
5MB without it complaining usually. Maybe there's some kind of increase in
storing the model that I'm not understanding, though.

On Thu, Jun 14, 2018, 5:42 PM Shanqing Cai <notifications@github.com> wrote:

[2018-06-15 01:18] caisq commented on #432
OK. Then it's definitely small enough to fit into IndexedDB.

Do you want to send a pull request  to fix this?

[2018-06-15 03:28] tomslick opened #433 "TensorFlowJS Unsupported Ops needed for Yahoo's Open NSFW Model"
To get help from the community, check out our [Google group](https://groups.google.com/a/tensorflow.org/forum/#!forum/tfjs).

#### TensorFlow.js version
tensorflowjs 0.4.1
(installed via pip install tensorflowjs on June 13, 2018)

#### Browser version
N/A

#### Describe the problem or feature request
I attempted to convert the TensorFlow model of Yahoo's Open NSFW model found [here](https://github

[2018-06-15 14:31] nsthorat commented on #425
Nice find! Would you want to make that change? You can check `ENV.get('WEBGL_RENDER_FLOAT32_TEXTURE_ENABLED')`, once you make a PR it will run on browserstack on a real iOS every time you push to that branch.

[2018-06-15 15:45] thies1006 opened #434 "Different results on linux and windows when running non-Keras model."
To get help from the community, check out our [Google group](https://groups.google.com/a/tensorflow.org/forum/#!forum/tfjs).

#### TensorFlow.js version
0.11.6
#### Browser version
Chrome 67.0.3396.79 (Official Build) (64-bit)
#### Describe the problem or feature request
Hi everyone,

we are trying to run a custom yolo model. the model is trained with tensorflow-1.6 and we convert it into a frozen

[2018-06-15 16:45] gabrielfreire commented on #410
Hi guys, i don't even remember how i got here in this issue, but as a tfjs user and nodeJs lover i would love to be able to do a simple
[code]
and let the library do the guessing, sorry for my ignorance, i'm not familiar with the tfjs code for this method, but couldn't you just have something like
[code]
?

Sorry again

[2018-06-15 16:48] caisq commented on #410
Currently (v0.11.6), only the `file://` URL scheme following works in tfjs-node.

Absolute path example:
[code]

Relatve path example:
[code]

[2018-06-15 17:58] tafsiri commented on #429
If you are referring to https://en.wikipedia.org/wiki/DICOM, this library doesn't have anything built in to understand that format or extract images from it.

[2018-06-15 19:56] bileschi opened #435 "Return type of tf.oneHot depends on backend"
To get help from the community, check out our [Google group](https://groups.google.com/a/tensorflow.org/forum/#!forum/tfjs).

#### TensorFlow.js version
0.11.8

#### Browser version
irrelevant

#### Describe the problem or feature request
tf.oneHot returns a tensor of dtype 'float32' with some backends, and with dtype 'int32' in other backends.

#### Code to reproduce the bug / link to feature req

[2018-06-15 21:07] hyun-yang commented on #410
@caisq @tafsiri
Hi guys,

Actually, I raised the issue [tf.loadModel not working in ionic #272](https://github.com/tensorflow/tfjs/issues/272).

I tested it using tf.loadModel('file://./path/to/model.json') and tf.loadModel('file:///tmp/path/to/model.json');

Both of them, got the same error message "TypeError : Failed to fetch", I already uploaded sample ionic project [Tensorflow Pre-Trained Mode

[2018-06-16 02:52] caisq commented on #410
@hyun-yang I'm pretty sure saving and loading models with `file://` is working with the latest versions of @tensorflow/tfjs and @tensorflow/tfjs-node. I wrote a simple example at:
https://github.com/caisq/tfjs-dump/tree/master/tfjs-node-doodle

[2018-06-16 07:19] ghost opened #436 "Angular 6 Error: global is not defined"
To get help from the community, check out our [Google group](https://groups.google.com/a/tensorflow.org/forum/#!forum/tfjs).

#### TensorFlow.js version

0.11.6

#### Browser version

Version 67.0.3396.87 (Official Build) (64-bit)

#### Describe the problem or feature request

Tensorflow.js used in an Angular 6 app throws Error:

`Uncaught ReferenceError: global is not defined
    at Object../node

[2018-06-16 11:31] ManrajGrover commented on #435
@bileschi Looks like CPU backend was using default `float32` as `dtype`. Providing `int32` as `dtype` to output fixes it.

[2018-06-16 18:22] jmlb opened #437 "Add Support for BilinearUpSampling2D Layer for Keras model"
To get help from the community, check out our [Google group](https://groups.google.com/a/tensorflow.org/forum/#!forum/tfjs).

#### TensorFlow.js version
0.11.6
#### Browser version
Version 67.0.3396.62 (Official Build) (64-bit)
#### Describe the problem or feature request
When I import my model in tfjs, I get the error:
`Error: Unknown layer: BilinearUpSampling2D`
#### Code to reproduce the bug /

[2018-06-16 21:00] caisq commented on #437
@jmlb Do you know whether `BilinearUpSampling2D` is an official layer in Keras. It doesn't seem to be in the documentation at https://keras.io/ or in the source code in https://github.com/tensorflow/tensorflow

Is it possible that your Keras model artifacts are saved from Python code using Keras and a customly defined layer (`BilinearUpSampling2D`)?

[2018-06-16 21:10] dijs commented on #298
This would be a big win!

[2018-06-17 00:05] kylemcdonald commented on #437
BilinearUpSampling2D is not an official layer in Keras.

Here's are two implementations I found:

- https://github.com/akirasosa/mobile-semantic-segmentation/blob/master/layers/BilinearUpSampling.py#L45-L110
- https://github.com/penny4860/FCN/blob/master/keras_fcn/layers.py#L8-L41

Interestingly, neither of them set `align_corners=True`. From my read of issues like https://github.com/tensorflow/te

[2018-06-17 02:31] caisq opened #438 "3x speed regression in RNN predict() and fit() performance in tfjs v0.11.5"
Compared to @tensorflow/tfjs-node 0.11.4, 0.11.5 shows a dramatic speed regression.

The same bad performance is seen in the latest version (0.11.6).

This can be seen by running the addition-rnn example on different versions of @tensorflow/tfjs. On my machine:

[code]

So, it appears that somewhere between tfjs 0.11.4 and 0.11.5, there is a certain commit that led to this RNN speed regression. Th

[2018-06-17 02:33] caisq commented on #438
cc @nsthorat @dsmilkov

[2018-06-17 02:36] caisq commented on #438
I haven't dug thoroughly yet, but here are two possible culprits I can find that fit the results of profiling against different versions above.

1. https://github.com/tensorflow/tfjs-core/pull/1080
2. https://github.com/tensorflow/tfjs-layers/pull/217

I think 1 is more likely than 2, because the speed regression affects both predict() and fit() and 2 is relevant to only fit().

[2018-06-17 03:07] #435 closed

[2018-06-17 18:13] kashyaparjun opened #440 "tf.fromPixels() throws a CORS error when passing HTMLImageElement from a URL"
I have tried on ways to convert image from a hosted URL to the system and it always throws a huge CORS error because of the WebGL classes which don't operate on images which might contain CORS.
The images loaded from assets work fine.
More info: The images from URL get displayed on website but can't get processed.

My approach (using Angular)
html:
`<img id="my_id"  src="www.example.com/img.jpg" /

[2018-06-17 19:50] jmlb commented on #437
Thanks for the reply. I am using the same implementation as in https://github.com/akirasosa/mobile-semantic-segmentation/blob/master/layers/BilinearUpSampling.py#L45-L110 (@kylemcdonald ).
Great suggestion: I will convert the model to TF.
BTW, thank you for the discussion and links about `align_corners`...something I was not aware of. Very interesting reading.

[2018-06-18 01:01] hyun-yang commented on #410
@caisq I'm not sure, if we are on the same page.

As I mentioned in "tf.loadModel not working in ionic #272"

"What I really want to do is, I want to load this model from local folder( In this case from assets/model/ ) not using http server.

In ionic( I think lots of hybrid app platform has a same build process), when developer builds a native app for Android, iOS and Windows. Developer might wan

[2018-06-18 02:38] caisq commented on #410
@hyun-yang Thanks for the clarification. You are right. I overlooked the fact that you are not in Node.js, but in ionic. Loading in ionic is currently not directly supported. We plan to support it through the custom `fetch` configuration to tf.io.httpRequest as I wrote above. Currently, you may need to write a custom IOHandler implementation. If you need an example, you can look at this code in tf

[2018-06-18 03:48] caisq opened #441 "Loading models consisting of LSTM layers leads to incorrect prediction result"
To get help from the community, check out our [Google group](https://groups.google.com/a/tensorflow.org/forum/#!forum/tfjs).

#### TensorFlow.js version
0.11.6

#### Browser version
Doesn't matter

See original discussion in https://groups.google.com/a/tensorflow.org/forum/#!topic/tfjs/nM6NFw_LT3s

Code for reproducing this issue:
[code]

The output may look something like:
[code]

Interesting poi

[2018-06-18 03:48] caisq commented on #418
@rodrigopivi Any thoughts? I want to make sure I didn't miss anything important.

[2018-06-18 06:35] hyun-yang commented on #410
@caisq

Sounds good and I'll have a look tfjs-node code you mentioned.

Thanks.

[2018-06-18 13:46] caisq commented on #317
@zaidalyafeai Thanks for the suggestion. I think that won't be as easy-to-use as letting the method determine whether the input is a batch or an individual example automatically. The method should be able to do that based on the shape. One thing I want to explore is whether we can get Keras to make the same change on the Python side as well. @fchollet

[2018-06-18 13:53] nsthorat commented on #317
+1 to doing this automatically. No need for an explicit bit when it's pretty easy to infer.

[2018-06-18 14:38] nsthorat commented on #438
Do you know if there is a memory leak? #1 shouldn't have an impact unless it introduced a leak (however our numerous leak tests pass).

[2018-06-18 14:51] bileschi commented on #437
@jmlb You may be able to get this working sooner by using a custom layer in tfjs.  See here for an example custom layer https://github.com/tensorflow/tfjs-examples/tree/master/custom-layer

[2018-06-18 15:18] caisq commented on #438
Good question. I just tested it at HEAD (which shows the slowdown). See the for-demo PR at:
https://github.com/tensorflow/tfjs-layers/pull/242

There is no memory leak during the fit() call to a model consisting of an LSTM layer.

[2018-06-18 16:42] HalfdanJ commented on #385
Has been added to tfjs-models now, so can be removed from tfjs-core

[2018-06-18 17:28] bileschi opened #442 "JS tf.oneHot disagrees with PY tf.oneHot on NaN input"
To get help from the community, check out our [Google group](https://groups.google.com/a/tensorflow.org/forum/#!forum/tfjs).

#### TensorFlow.js version
0.11.6
#### Browser version
chrome: 68.0.3440.17

#### Describe the problem or feature request
tf.oneHot treats input NaN like 0

![image](https://user-images.githubusercontent.com/547150/41551962-6835c260-72fb-11e8-84ac-9c2a063a9bc0.png)

This di

[2018-06-18 17:39] #425 closed

[2018-06-18 18:19] bileschi opened #443 "oneHot on CPU triggers spurious onValues for some inputs / shapes"
To get help from the community, check out our [Google group](https://groups.google.com/a/tensorflow.org/forum/#!forum/tfjs).

#### TensorFlow.js version
0.11.6

#### Browser version
any

#### Describe the problem or feature request
tf.oneHot() should return a row of all zeros for out of range inputs, but because of the matrix math, sometimes values can 'leak' between rows in the CPU implementation

[2018-06-18 18:43] DarshanGowda0 commented on #436
Was able to reproduce the same issue!  Any updates ?

[2018-06-18 19:14] kashyaparjun commented on #440
Found a workaround. Closing issue ...
`var t = <HTMLImageElement>document.getElementById("imght");
 t.onload = () => {
     t = t.onload = null;
 }
 t.setAttribute("crossOrigin", 'anonymous');
 t.src = this.downloadURL;`

Thank you.

[2018-06-18 19:14] #440 closed

[2018-06-18 21:53] nsthorat opened #444 "Add unit test to tfjs package to make sure all dependent versions match."
Currently the dependency of tfjs => tfjs-converter => tfjs-core clashes with tfjs => tfjs-core, we should write a unit test before publishing tfjs that asserts these all line up.

[2018-06-18 22:04] nsthorat opened #445 "dtype mismatch between Node and WebGL Backend with tf.exp()"
In Node, you aren't allowed to pass an int32 to tf.exp().

In Node, this fails:
`tf.exp(tf.scalar(2), 'int32')`

In WebGL, it succeeds.

See: https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/ops/ops.pbtxt#L9723

[2018-06-19 03:22] lijing271 opened #446 "How to train my own postnet model?"
https://github.com/tensorflow/tfjs-models/tree/master/posenet

How to train my own postnet model?

[2018-06-19 05:02] john2147 commented on #436
I've found on Stack overflow an answer that might help, as reported on aws/aws-amplify#678
[https://stackoverflow.com/questions/50371593/angular-6-uncaught-referenceerror-buffer-is-not-defined/50377270#50377270](url)

[2018-06-19 08:47] ThreeSevenGO opened #447 "Why only the information of channel G is preserved in FromPixelsProgram() ?"
To get help from the community, check out our [Google group](https://groups.google.com/a/tensorflow.org/forum/#!forum/tfjs).

#### TensorFlow.js version
0.11.6
#### Browser version
any
#### Describe the problem or feature request
I try to draw tensor3D type image data (shape[height, width, 3]), 3 channels are RGB) to screen by WebGL. The data are correct if I download them from GPU by dataSync().

[2018-06-19 14:03] MicheleLambertucci opened #448 "Fit gets slower and slower after each call"
I'm not sure if this is intended (like sgd gets computationally heavier over time or something), but since I wasn't able to find any information about this behaviour I decided to post it here.

#### TensorFlow.js version
"@tensorflow/tfjs@0.11.6":
version: "0.11.6"

#### Browser version
Version 67.0.3396.87 (official build) (64 bit)

#### Problem
Each time model.fit is called, the computational ti

[2018-06-19 15:00] caisq commented on #448
cc @nsthorat This is similar to the slowing down in RNNs in 0.11.5 that we have seen. Interestingly, this example doesn't involve any RNN (it's just a dense layer). May be worth looking at whether https://github.com/tensorflow/tfjs-core/pull/1080 is related here.

@MicheleLambertucci Can you try this on tfjs version 0.11.4 and see if the same thing happens?

[2018-06-19 15:01] caisq commented on #446
@oveddan Any thoughts?

[2018-06-19 15:08] MicheleLambertucci commented on #448
@caisq Tried with 0.11.4.
The function duration seems to be **constant over time** in 0.11.4:
![image](https://user-images.githubusercontent.com/15233143/41606057-1bc703ce-73e3-11e8-9908-c61068d5738e.png)

[2018-06-19 15:16] oeway commented on #403
@seranus I think so. Any news about this issue?

[2018-06-19 15:22] oeway opened #449 "Add support for training with conv2DTranspose"
Currently we can't run training the Deconvolution layer because the gradients for conv2DTranspose is still missing.

Here is the error:
[code]

I posted this issue also here: https://github.com/tensorflow/tfjs/issues/53 but that one is closed.

An alternative to Deconvolution is to use Upsampling+Conv2D, but the gradient for resizeNearestNeighbor is still missing (see https://github.com/tensorflow

[2018-06-19 15:23] nsthorat opened #450 "Add unit test coverage for tfjs-models."
Currently we don't have unit test coverage or wiring to run unit tests in tfjs-models. Let's add it.

[2018-06-19 15:24] nsthorat commented on #448
I'll take a look.

[2018-06-19 15:28] pyu10055 commented on #423
@bangoc123 It looks like the converter failed to freeze the graph, can you share the command line that you used? thanks.

[2018-06-19 15:41] pyu10055 commented on #436
Looks like protobuf.js has a fix for this problem, I will update the version. thanks!

[2018-06-19 17:12] seranus commented on #403
@oeway if it's only that I'm going to try to submit a pull request tomorrow or the day after

[2018-06-19 17:15] nsthorat opened #451 "[Converter] When an output node is invalid, list all the output nodes."
We should provide a way to show the output node names from the converter script as people may be porting pretrained models.

[2018-06-19 17:41] rodrigopivi commented on #418
@caisq thanks for your help, sorry for the late reply, i was afk, currently still traveling (world cup fan here), but this is the model that was failing for me when upgrading tfjs https://github.com/rodrigopivi/BotanicalDimensions/blob/master/typescript/src/models/ner.ts

If its not good enough example for now, i hope to take some time very soon to work from your codepen, thanks again

[2018-06-19 18:01] HalfdanJ opened #452 "Missing documentation for model.save"
To get help from the community, check out our [Google group](https://groups.google.com/a/tensorflow.org/forum/#!forum/tfjs).

#### TensorFlow.js version
0.11.6

#### Describe the problem or feature request
Looking at the documentation, I see model.save being referenced, but its not actually listed in the documentation. Am I misreading the documentation, or are there public functions missing from i

[2018-06-19 19:06] #441 closed

[2018-06-19 19:33] #448 closed

[2018-06-19 19:36] nsthorat opened #453 "Set up a performance dashboard with nightly regression tests."
It would be nice to have a publicly accessible dashboard with nightly performance regression tests that we can use to track when the library degrades / improves.

[2018-06-19 20:18] bileschi opened #454 "Add support for "string" type tensors"
To get help from the community, check out our [Google group](https://groups.google.com/a/tensorflow.org/forum/#!forum/tfjs).

#### TensorFlow.js version
0.11.6

#### Browser version
irrelevant

#### Describe the problem or feature request
Support Tensors of dType 'string' and ops associated with that dtype, such as those here:
https://www.tensorflow.org/api_guides/python/string_ops
e.g.,
tf.string

[2018-06-20 05:20] Subhambh opened #455 "Keras Model giving half results"
Browesr version : 67.0.3396.87

I am trying to do image segmentation of cell images to identify cells in tensorflow.js using data provided in https://www.kaggle.com/c/data-science-bowl-2018/data i have build a keras model consisting of unet architecture my model is able to do image segmentation of only upper half of the image and rest half it is showing entirely masked or unmasked based on my thre

[2018-06-20 05:28] #419 closed

[2018-06-20 07:06] MongoExpUser commented on #431
I am having **the same problem**. I extracted the **tar.gz** file to the specified directory using the command below:
curl -L "https://storage.googleapis.com/tensorflow/libtensorflow/libtensorflow-cpu-linux-x86_64-1.8.0.tar.gz" | sudo tar -C "/path_to_directory/node_modules/@tensorflow/tfjs-node/deps/tensorflow/" -xz

The bundled version of **libtensorflow.so** is still not working on my system (*

[2018-06-20 08:51] chenjin3 commented on #447
How to render a  texture that dimension is 2w * 2h  with the data like [R_1_, 0,0,0, G_1_, 0,0,0,B_1_,0,0,0,A_1_,0,0,0, R_2_,0,0,0, G_2_, 0,0,0,B_2_,0,0,0,A_2_,0,0,0, ...] to a w * h dimension canvas in a fragment shader by sampling?  I would really appreciate it if someone gave a example of the fragment shader.

[2018-06-20 14:12] #432 closed

[2018-06-20 15:19] #452 closed

[2018-06-20 17:58] pyu10055 commented on #455
Based on the code, it is possible the prediction for the second half of the image is relatively high > 0.4, which cause all pixels to be white.

Can you print the predictions out? also it is possible that you might need to normalize the image data depends on the model.

[2018-06-20 20:05] caisq commented on #455
+1 to what @pyu10055 said. What are the shapes of `exam` and `result`?

[2018-06-20 22:50] Ladoli commented on #423
Having a similar issue, I used

      tensorflowjs_converter --input_format=tf_saved_model \MODEL/1529446682 \WEB_MODEL/

as my command to run it.

[2018-06-21 03:39] devspaceship opened #457 "Memory leak in model.fit with callbacks"
*TensorFlow.js version 0.11.6*

It seems like there is still a **memory leak** in the fit method but only when using **callbacks**

![image](https://user-images.githubusercontent.com/15971801/41696609-2f082548-7515-11e8-8ae1-50efa659490c.png)

[2018-06-21 13:12] SaiDilipReddyKiralam opened #458 "Can I convert a LSTM Model of tensorflow to tensorFlowjs ?"
I created a sentiment model in tensorflow using python.In which I used LSTM Layers.I wanted to use that in web browser so, I converted that model to TensorFlow js format using tensorflow js converter. I got three files with names

1) weights_manifest.json
2) tensorflowjs_model
3) group1-shard1of1

where 2,3 are binary files & json file contains information like
 `[{"weights": [{"shape": [], "dtype

[2018-06-21 14:47] bileschi commented on #453
It would be nice if the same tool could be used to check alignment with the py TF api

[2018-06-21 15:49] caisq commented on #438
Just verified that this is fixed in @tensorflowjs/tfjs v0.11.7.

[2018-06-21 15:49] #438 closed

[2018-06-21 16:09] caisq commented on #457
@devspacehlp Thanks for reporting this issue. Can you show us the callback you are using?

[2018-06-21 16:45] caisq opened #459 "tfjs-examples tSNE example sometimes fails with lost WebGL context"
To get help from the community, check out our [Google group](https://groups.google.com/a/tensorflow.org/forum/#!forum/tfjs).

#### TensorFlow.js version
0.11.6 and 0.11.7 (latest as of now)

#### Browser version
Version 67.0.3396.87 (Official Build) (64-bit) on Linux

#### Describe the problem or feature request
Run the tSNE example (https://github.com/tensorflow/tfjs-examples/tree/master/tsne-mni

[2018-06-21 16:47] caisq commented on #459
cc @nicola17

[2018-06-21 17:28] #430 closed

[2018-06-21 17:52] caisq commented on #400
cc myself

[2018-06-21 18:16] caisq opened #460 "Model.predict() leaks WebGL memory when numExamples > batchSize"
To get help from the community, check out our [Google group](https://groups.google.com/a/tensorflow.org/forum/#!forum/tfjs).

#### TensorFlow.js version
0.11.7 (latest)

#### Browser version
Doesn't matter

#### Describe the problem or feature request
During model.predict() calls, if the number of examples is greater than batchSize, the predict() will be be completed in multiple batches. In this c

[2018-06-21 19:24] tafsiri commented on #400
This also affects functions like model.save which now uses a config object whose type is defined in core. https://js.tensorflow.org/api/0.11.7/#tf.Model.save

[2018-06-21 19:31] devspaceship commented on #457
At the origin I was using the callback onBatchEnd to modifiy a status <p> element and indicate the logs.loss but there's still the issue with a blank function as shown in the picture in my first post

[2018-06-21 19:50] pyu10055 commented on #458
@SaiDilipReddyKiralam If the model has been successfully converted, it should be supported.
The readme needs to be updated, since we just added support for control flow op.

Please give it a try, and let us know if you encounter any issues or not. Thanks.

[2018-06-21 19:53] pyu10055 commented on #451
I could be wrong, but It is not easy to know the output node directly for session bundles if it also contains the training graph.

[2018-06-21 19:59] nsthorat commented on #451
You cant list all the nodes?

[2018-06-22 09:57] loretoparisi opened #462 "TF.JS on Node.js Error: Argument 'x' passed to 'slice' must be a Tensor, but got object"
To get help from the community, check out our [Google group](https://groups.google.com/a/tensorflow.org/forum/#!forum/tfjs).

#### TensorFlow.js version
"@tensorflow/tfjs": "^0.11.6",
"@tensorflow/tfjs-node": "^0.1.7"

#### Browser version
- none

#### Node.js version
[code]
#### Describe the problem or feature request
I'm trying to convert a Tensorflow.js (ie the tfjs package) model example to th

[2018-06-22 10:20] loretoparisi opened #463 "Feature Request: In Node.js process.nextTick instead of requestAnimationFrame"
#### TensorFlow.js version
"@tensorflow/tfjs": "^0.11.6",
"@tensorflow/tfjs-node": "^0.1.7"

#### Browser version
- none

#### Node.js version
[code]

#### Describe the problem or feature request
I have adapted a LSTM example to Node.js. In the browser the author was using the `tf.nextFrame` to sync UI updates. When in Node.js this is possibile using the `process.nextTick`, so something like:

[co

[2018-06-22 14:44] #460 closed

[2018-06-22 16:02] pyu10055 commented on #462
cc @caisq

[2018-06-22 16:06] pyu10055 commented on #451
It could be overwhelming if there are more than a hundred nodes, it is quite typical for TF models, since there are lots constant nodes, I guess we can eliminate the constants from the output.

[2018-06-22 19:11] #291 closed

[2018-06-22 19:41] #450 closed

[2018-06-22 19:56] seranus commented on #403
@oeway updated my branched and added a null check, I'd appreciate if you could check it out before I make tests and a pull request. I don't have models to test this scenario.

https://github.com/seranus/tfjs-layers/commit/dce1e7438d4c9f215b3027c43e1f861600ac6d7c

[2018-06-22 20:35] roieki-maana commented on #298
Would love to help @dsmilkov!

[2018-06-22 20:36] roieki commented on #298
Would love to help @dsmilkov !

[2018-06-22 21:44] tafsiri commented on #449
@oeway not related to conv2DTranspose, but a PR for #402 has just been submitted, so should hopefully not be too long before that hits master.

[2018-06-23 12:52] AdnanLatif opened #464 "Facing issue when run PoseNet on my local"
To get help from the community, check out our [Google group](https://groups.google.com/a/tensorflow.org/forum/#!forum/tfjs).

#### TensorFlow.js version

#### Browser version Chrome 67 - Windows 10 - 64 Bit.

#### Describe the problem or feature request
I cloned tfjs-models from git. When I run on my local it throws an error. I also added
<script src="https://unpkg.com/@tensorflow/tfjs"></script>

[2018-06-23 18:25] ArthDh opened #465 "Manually setting weights for model"
#### TensorFlow.js version
0.11.6

#### Browser version

#### Describe the problem or feature request
I'm trying to manually set weights for a model(genetic algorithm) but cannot find the required functionality, I have tried model.setWeights() but it doesn't work for me. I don't want to save the entire model and load those weights each time as that would be computationally expensive.
#### Error
Un

[2018-06-24 01:29] caisq commented on #465
@ArthDh

You can access a model's layer by using `model.layers`. You can set a layer's weights with `layer.setWeights()`. Therefore you can use code like the following to set the weights of a single layer:
`model.layers[2].setWeights(...)`.  You still can't set individual weights. But at least this helps you narrow down to a smaller set of weights. Does this help with your use case?

[2018-06-24 02:35] BayanBennett commented on #423
I was running into the same problem.
Manually creating an empty `tensorflowjs_model.pb.frozen` file did the trick.

[2018-06-24 04:22] ArthDh commented on #465
@caisq
Thanks a ton! That worked!

[2018-06-24 05:32] Ladoli commented on #423
@BayanBennett I tried that too, but I got this instead

[2018-06-24 05:43] BayanBennett commented on #423
@Ladoli
The `--output_node_names` flag is missing in your command. [Docs](https://github.com/tensorflow/tfjs-converter)

[2018-06-24 08:05] oeway commented on #403
@seranus I think the way you did is not correct. We won’t get a single null from the shape array, but the individual dimension can be null, you should check only the ‘height’ and ‘width’ is null, but keep the other two dimension shape.

To make a test is easy you can just build a network with upsampling and define the input shape to something like [null, null, null, 3] for channel last mode and [n

[2018-06-25 04:40] SaiDilipReddyKiralam commented on #458
@pyu10055 thanks,In python while using the model, I converted the input text into word to vector and feeding it to the model. it will give me the argmax values all three classes.i'm don't have any idea on doing the same process in tensorflowjs.Can I get any example of that ?

[2018-06-25 14:28] ManrajGrover opened #466 "tf.computeWeightedLoss should apply broadcast before reduction"
To get help from the community, check out our [Google group](https://groups.google.com/a/tensorflow.org/forum/#!forum/tfjs).

#### TensorFlow.js version
0.11.9

#### Browser version
Version 67.0.3396.87 (Official Build) (64-bit)

#### Describe the problem or feature request
tf.computeWeightedLoss currently does not apply [broadcast](https://github.com/tensorflow/tfjs-core/blob/master/src/ops/loss_

[2018-06-25 14:50] andreac commented on #188
Hi,
same problem of @threedayoldcoffee the unsupported ops are presents in file [ops.pbtxt](https://raw.githubusercontent.com/tensorflow/tensorflow/master/tensorflow/core/ops/ops.pbtxt)

This is the command
`tensorflowjs_converter \
    --input_format=tf_saved_model \
    --output_node_names='detection_boxes,detection_scores,num_detections,detection_classes' \
    --saved_model_tags=serve \
    /h

[2018-06-25 14:56] ManrajGrover commented on #466
I can take this one up.

[2018-06-25 16:59] antoniotorres opened #467 "Feature Request: tf.linalg.solve"
Are there plans to include tf.linalg.solve as part of tensflow.js core?
Also known as: tf.matrix_solve

TF Docs: https://www.tensorflow.org/api_docs/python/tf/matrix_solve

[2018-06-25 20:50] brannondorsey opened #468 "Low GPU utilization with tfjs-node-gpu"
#### TensorFlow.js version
[code]

#### Browser version
N/A. Node v8.9.4. Ubuntu 16.04

#### Describe the problem or feature request

Using `tfjs-node-gpu`, I can't seem to get GPU utilization above ~0-3%. I have CUDA 9 and CuDNN 7.1 installed, am importing `@tensorflow/tfjs-node-gpu`, and am setting the "tensorflow" backend with `tf.setBackend('tensorflow')`. CPU usage is at 100% on one core, but

[2018-06-25 21:43] #466 closed

[2018-06-25 21:48] nsthorat commented on #464
@AdnanLatif, what's happening is you need a bundler to run the code inside the PoseNet example, you can't just run the code directly in the browser. Have you tried running "yarn" and "yarn build" inside the PoseNet example to build it?

You can also use PoseNet directly via unpkg using a bundle (without yarn)
[code]

And then you can write your own application that uses the PoseNet API.

Hope this

[2018-06-25 22:18] nsthorat commented on #451
I think it's still fine if there are a lot of nodes, it's better than now where folks can't find what they're looking for at all.

[2018-06-26 01:58] nsthorat opened #469 "Remove "instanceof Tensor" and replace with a utility method that checks member variables of Tensors."
Currently, multiple copies of TensorFlow.js don't interoperate because of our instanceof checks (referring to the other instance of Tensor).

While it's not a good idea to have multiple copies for bundle size reasons, we should still allow this as it's an artificial problem to break down.

[2018-06-26 02:53] julianoks opened #470 "Plans for N-D Convolution?"
TFJS already has `conv1d` and `conv2d`, which are great, but I'm really missing Python's N-D convolution ([tf.nn.convolution](https://www.tensorflow.org/api_docs/python/tf/nn/convolution)).

Are there plans for implementing this? And if not, would the team be open to PRs?

[2018-06-26 12:08] dsmilkov opened #471 "tfjs-node 0.1.7 gives Invalid napi_status: A number was expected"
On MacOS High Sierra (10.13.5) if I use tfjs-node 0.1.7 (0.1.6 works fine) I get
[code]

[2018-06-26 14:58] nsthorat commented on #470
We don't have plans for implementing it, but happy to take PRs!

[2018-06-26 15:00] #402 closed

[2018-06-26 15:22] tafsiri commented on #404
looks like this is closed by tensorflow/tfjs-layers/pull/232/files

[2018-06-26 15:22] #404 closed

[2018-06-26 15:26] tafsiri commented on #446
@lijing271 take a look at https://medium.com/tensorflow/real-time-human-pose-estimation-in-the-browser-with-tensorflow-js-7dd0bc881cd5, it has some links to a couple of papers describing PoseNet and its setup. I believe the model in that repository was converted from one that those researchers had trained.

[2018-06-26 15:26] #446 closed

[2018-06-26 15:38] nsthorat commented on #467
No plans right now, but happy to take contributions!

[2018-06-26 15:42] nsthorat opened #472 "Perf: Pass multiple textures to the concat kernel when passing an array of Tensors to concat."
Right now, if you pass an array of Tensors to tf.concat, we concatenate two tensors together continuously.

We can improve the performance in both the browser and in node by passing the array through to the kernel.

In Node.js, TensorFlow already supports concatenating an array of Tensors.

In the browser, we can run a WebGL program with 8 shader samplers simultaneously.

[2018-06-26 15:57] #429 closed

[2018-06-26 20:11] alienatorZ commented on #298
I would love this!

[2018-06-27 02:59] nsthorat commented on #9
I still think we should do this, even at the cost of smaller models. I've seen people have to add this in several places:
https://github.com/shiffman/Tensorflow-JS-Examples/blob/master/02_Color_Classifier/sketch.js#L83

Most models are larger than the tiny models we're talking about here, so let's go forward and do this automatically.

@caisq @dsmilkov @tafsiri thoughts?

[2018-06-27 07:14] lijing271 commented on #446
@tafsiri ohh，thanks very much.

[2018-06-27 07:42] lijing271 commented on #446
@tafsiri hi, where can i find the pbtxt file(caffe's prototxt ) for the model?

[2018-06-27 09:06] loretoparisi commented on #462
According to TF.js groups I have updated the example code, in order to use `"@tensorflow/tfjs-node": "0.1.6"` because Daniel has found a bug in tfjs-node 0.1.7 - https://github.com/tensorflow/tfjs/issues/471

I have then fixed the model.predict to use a `TensorBuffer` instead of the `Tensor` object.
In this way the code seems to fix this specific issue, but I'm getting another warning:

[code]

[2018-06-27 09:58] tyt34 opened #473 "How look easy program for predict using TensorFlow.js"
I want to creat easy program for predict.
Example: I have array [1,2,3].  It's not difficult to guess what next number must be 4.
For this task I was advised this library TensorFlow.js.
I look all examples on this site https://js.tensorflow.org/api/0.11.7/ but not find that I search.

Please humans, can you show easy program for that
or
show example from other link?

[2018-06-27 14:36] tafsiri commented on #473
Hi @tyt34, it may not be so easy for a program to guess that the next number is 4. You would need to think about how you would go about teaching a machine to guess the next number. What examples would you use? How would you tell it it is doing a good job. I suggest reading through the tutorials we have (https://js.tensorflow.org/tutorials/) and possibly exploring something like https://developers.

[2018-06-27 16:07] caisq commented on #467
@antoniotorres Just curious, what is your use case for this function?

[2018-06-27 17:50] nsthorat opened #474 "Add jsdoc strings for Layers tf.metrics.*"
We should add docs to these functions:

https://js.tensorflow.org/api/0.11.7/#metrics.binaryAccuracy

[2018-06-27 18:36] antoniotorres commented on #467
@caisq I'm implementing an RBF interpolation.

[2018-06-27 21:32] brannondorsey commented on #468
Ah, I see. Running the `mnist-node` example on a designated GTX 1060 with no other GPU processes does generate ~20% GPU utilization. What mechanism is used to automagically determine whether a model graph will be run on the GPU or stay on the CPU? As I mentioned in the OP I also tried this on my own custom RNN (browser code [here](https://github.com/brangerbriz/tf-electron/blob/master/examples/cha

[2018-06-27 21:38] nkreeger commented on #468
Python + Keras will use a graph-based execution which can run faster on GPU. We use the Eager-style API from TensorFlow which does not actually have a graph of placeholders - it allocates new Tensors for op-output. This is probably why you see Keras utilizing the GPU more.

We do not have a device API yet - it's something we're considering down the road once we introduce TPU support. For now, we d

[2018-06-27 21:54] guillochon commented on #199
I have this same error, and when I get this error the prediction I'm getting out of my model is way off from what I get out of Chrome/Firefox. This is using a Macbook Pro 2013 with an embedded GPU.

[2018-06-27 22:39] nkreeger commented on #431
@d4l3k I was not aware of those pre-built binaries. I'll ask around to see where they come from. The current binaries that we build are from a 16.04 machine that targets the current minimum system requirements of TensorFlow (16.04 essentially):

https://www.tensorflow.org/install/

I hear you on the Travis integration problem - we have that as well on our setup so we default to Mac OS only. Travis

[2018-06-27 22:40] #457 closed

[2018-06-28 01:01] dsmilkov commented on #199
Hi @guillochon,

Are you getting this error on the [webcam-transfer-learning](https://storage.googleapis.com/tfjs-examples/webcam-transfer-learning/dist/index.html) demo page, or on your own project. I'm asking since our demos use an old version of tf.js that had numerical problems in Safari, which reminds me we need to refresh our demos. cc @nsthorat since he's done deployment.

[2018-06-28 01:06] guillochon commented on #199
This is on my own project, using the latest version of tfjs (0.11.7).

[2018-06-28 09:28] loretoparisi commented on #462
@nsthorat ok so it is confirmed that I'm using Node.js so I can expect on linux to have the GPU working too, right?

[2018-06-28 14:02] #298 closed

[2018-06-28 14:05] nsthorat commented on #462
Yes, you can use @tensorflow/tfjs-node-gpu!

[2018-06-28 14:06] nsthorat opened #475 "Run core unit tests against Node with a CPU backend."
We run all the core unit tests against browsers, but we don't unit tests against Node + CPU backend, which we should support.

Let's turn on travis for node + CPU backend in core.

[2018-06-28 14:07] dsmilkov commented on #9
+1. No reservations.

[2018-06-28 14:10] loretoparisi commented on #462
@nsthorat thanks a lot then!

[2018-06-28 14:57] dsmilkov commented on #188
Small update: TensorArray* ops are being adding in [this PR](https://github.com/tensorflow/tfjs-converter/pull/163)

[2018-06-28 15:35] xam-ps opened #476 "401 in "loadModel" when securing directory via .htaccess"
#### TensorFlow.js version
All versions

#### Browser version
All Browsers

#### Describe the problem or feature request
When served from a directory which is secured via .htaccess user and password the fetch function in "loadModel" is not working (response from server is 401). I think the function should use the option `credentials: 'same-origin'`.

[2018-06-28 15:43] aman-tiwari opened #477 "No easy way to change the input shapes for a built model for transfer learning"
#### TensorFlow.js version
0.11.7

#### Browser version
N/A

#### Describe the problem or feature request
If I load a pretrained TFJS model, there is no easy way to change the input shapes it takes in.
For instance, if I load [`Mobilenet`](https://github.com/tensorflow/tfjs-examples/tree/master/mobilenet), and I want to perform transfer learning on it, I have no easy way to get the model to take d

[2018-06-28 15:45] nsthorat commented on #477
cc @caisq

[2018-06-28 15:46] brannondorsey commented on #468
Gotcha. Thanks for that clarification. I've revisited the char-rnn tfjs-node-gpu example I was telling you about and it looks like it is indeed running on the GPU as memory is allocated, but GPU utilization is ~1%. If I'm understanding you correctly this is because tfjs-node-gpu is using TF Eager mode. So I should expect the same type of model to run ~1 GPU utilization if it were written in Python

[2018-06-28 15:51] julianoks commented on #470
@nsthorat
I've implemented convolution [here](https://github.com/julianoks/tfjs-core/commit/73c6b67b6c1a62110fa9c66658b0bcc9903b3b67). Essentially, my implementation determines which convolution to use (`conv1d`, `conv2d`) based on the rank of the filter.

At this point, I'd like your guidance on how to proceed with the tests.
To me, there are 2 viable approaches:
- Testing the correct convolution

[2018-06-28 17:19] dsmilkov commented on #471
The issue is due to tfjs-layers incorrectly deserializing the `dilation_rate` in model.json and calling conv2d in core with dilation being `[1, [1]]` instead of [1, 1]. This value gets passed verbatim to the TF C bindings, at which point it fails since it expects a [number, number].

There are two PRs already in layers that are going to fix this issue:
- https://github.com/tensorflow/tfjs-layers/p

[2018-06-28 17:36] dsmilkov commented on #470
Hi @julianoks

Having an ND wrapper around conv1d and conv2d is not very useful at this point, but if conv3d support gets in, I can see the value. Are you interested in implementing conv3d?

[2018-06-28 17:44] dsmilkov commented on #131
How about modifying (generalizing) softmaxCrossEntropy in core to align with [tf.losses.softmax_cross_entropy](https://www.tensorflow.org/api_docs/python/tf/losses/softmax_cross_entropy) which does support weights?

[2018-06-28 17:45] dsmilkov commented on #131
FYI, `tf.nn.*` is an outdated API and might go away when a major new version of TF gets released.

[2018-06-28 17:58] dsmilkov commented on #321
We are leaning towards option 2), by introducing an environment flag so users can do `ENV.set('NAN_PROPAGATION', false)`. On the nodejs side, you can turn this to off, and we can make sure those tests don't run when that env flag is off.

[2018-06-28 20:19] tafsiri commented on #476
cc @caisq is there a way to pass credentials (or other options to fetch)?

[2018-06-28 20:40] guillochon commented on #199
Hi @dsmilkov, can't share a live demo at the moment but I can share the error + the relevant javascript.

Here's the full stack trace from Safari:

[code]

And javascript:
[code]

[2018-06-28 20:44] julianoks commented on #470
@dsmilkov
Unfortunately, I don't think I'll have time to implement `conv3d` anytime soon.

[2018-06-28 21:01] caisq commented on #477
@aman-tiwari I'm not sure how the "unbuilding" works. The shapes of the weights and output tensors of layers are determined by the input image shape. In other words, if you change the size of the input image, everything changes in the model.

It seems to me more straightforward to use one of the two following approaches:

1) Before you feed your new image to the model, resample it to the required

[2018-06-28 21:46] xam-ps commented on #476
From [MDN](https://developer.mozilla.org/en-US/docs/Web/API/Fetch_API/Using_Fetch):

[2018-06-28 21:49] caisq commented on #476
To pass credentials and other parameters for `fetch` during `tf.loadModel` calls, you can try the following.
`await tf.loadModel(tf.io.browserHTTPRequest(url, {credentials: 'same-origin'}));`

[2018-06-28 21:52] aman-tiwari commented on #477
Essentially what I'm looking for is a way to get a copy of the layer that has the same weights but no input/output shape information (i.e, before the layer was put into a model), as it was before it was built, such that I could use the layer in an other model.

[2018-06-28 22:15] #15 closed

[2018-06-29 01:11] dsmilkov commented on #470
No worries. In that case, we can postpone the `convolution` wrapper.

[2018-06-29 03:51] caisq commented on #477
@aman-tiwari I still don't quite understand your proposal. The shape of the weights are tied to the input image shape.

[2018-06-29 04:12] #445 closed

[2018-06-29 04:15] nkreeger commented on #431
CPU-Linux builds should now support 14.04 - the tfjs-node repo is using Travis for linux testing. I'll update the docs shortly.

[2018-06-29 09:03] rodrigopivi commented on #418
ok this is the error i was getting reproduced on codepen https://codepen.io/rodrigopivi/pen/jKQKeE

The problem actually seems to be the tf.tidy function, used to work that way, otherwise not sure how to pass a custom optimizer and wrap with tf.tidy. thanks for your help!

[2018-06-29 09:08] xiaocode opened #478 "Unsupported Ops in the model"
When I convert the tf_frozen_model to tfjs pb model, I got this problem:

WARNING:tensorflow:From /usr/local/lib/python3.5/dist-packages/tensorflow/contrib/learn/python/learn/datasets/base.py:198: retry (from tensorflow.contrib.learn.python.learn.datasets.base) is deprecated and will be removed in a future version.
Instructions for updating:
Use the retry module or similar alternatives.
Unsupporte

[2018-06-29 09:57] xam-ps commented on #476
Still getting an 401.

Even gave `credentials: 'include'` a try, didn't work either.

[2018-06-29 10:01] xam-ps commented on #476
Just tested the solution from @caisq in Firefox, there it is working.

[2018-06-29 12:37] #109 closed

[2018-06-29 13:15] dsmilkov commented on #199
Thanks! Is `imageData` an instance of [`ImageData`](https://developer.mozilla.org/en-US/docs/Web/API/ImageData) or a regular array of values?

[2018-06-29 13:20] ManrajGrover commented on #131
I was thinking of moving all cross entropy functions (`tf.sigmoidCrossEntropyWithLogits` etc) to a separate class, make `tf.losses.softmaxCrossEntropy` -> `tf.softmaxCrossEntropyWithLogits` and implement `tf.losses.softmaxCrossEntropy` like [`tf.losses.sigmoidCrossEntropy`](https://github.com/tensorflow/tfjs-core/pull/1120)

I wasn't aware of this. Are they being migrated to `tf.*` namespace?

[2018-06-29 13:21] guillochon commented on #199
It’s an array of regular values I believe, originates as the payload of an ajax call:

[code]

[2018-06-29 13:40] asross opened #479 "`tf.loadModel` with URL shouldn't fail in NodeJS if `fetch` is defined"
To get help from the community, check out our [Google group](https://groups.google.com/a/tensorflow.org/forum/#!forum/tfjs).

#### TensorFlow.js version

0.11.7

#### Browser version

N/A

#### Describe the problem or feature request

Currently, calling `tf.loadModel` with an HTTP URL in NodeJS ends up hitting [this `ENV.IS_BROWSER` check](https://github.com/tensorflow/tfjs-core/blob/master/src/io

[2018-06-29 13:41] dsmilkov commented on #131
I'm not sure about all methods in `tf.nn.*` but `tf.losses.*` is a much newer namespace than `tf.nn.*` and all loss functions should go in `tf.losses.*`. Assume that losses in `tf.nn.*` may have an outdated API, and the API that matters in the methods in `tf.losses.*`

[2018-06-29 13:45] asross opened #480 "Expose `LayerVariable` in module exports"
#### TensorFlow.js version

0.11.7

#### Describe the problem or feature request

When developing TypeScript code that interfaces with the Layers API, it would be convenient to be able to import `LayerVariable` from `@tensorflow/tfjs-layers` (without having to go through `@tensorflow/tfjs-layers/dist/variables`, which is problematic).

[2018-06-29 14:10] ManrajGrover commented on #131
It makes sense to generalize current implementation of softmax cross entropy then (maybe even move it under `LossOps` class). One issue I see is this change might be a breaking one. Should I go ahead with the change aligning it with Python API?

[2018-06-29 14:38] #431 closed

[2018-06-29 14:39] nkreeger commented on #431
@d4l3k bundled CPU build should work on Node.js bindings now - see our Travis setup: https://travis-ci.org/tensorflow/tfjs-node/jobs/398273568

[2018-06-29 14:40] nsthorat commented on #477
@caisq, many fully convolutional models are not actually explicitly coupled to the input shape. If you were able to reflow the shapes from a 32x32x3 input instead of a 227x227x3 input, you would find that the prediction is still a 1000D tensor. Doing an upsample or downsample will not have the same effect because the filters will be operating on a up/downsampled input.

Aman could do this by simpl

[2018-06-29 15:05] oeway commented on #102
I think it's definitely necessary to support web workers, having cpu and webgl computation running in webworks would be awesome.
The situation I am facing right now is:  I have webworkers doing preprocessing for my data which will be passed to tfjs for training, I encountered two related issues:
1. in a webworker,  I just tried with the cdn tfjs
[code]
And I get `Error: Script error.`, doesn't eve

[2018-06-29 15:23] dsmilkov commented on #131
Moving softmaxcrossentropy under LossOps is not a breaking change since it's already [exposed under tf.losses](https://github.com/tensorflow/tfjs-core/blob/master/src/ops/ops.ts#L258). I don't see any breakage in generalizing the API, (just adds more params to the func call). What breakage do you see?

[2018-06-29 15:40] d4l3k commented on #431
@nkreeger Nice, thanks!

[2018-06-29 15:59] ManrajGrover commented on #131
I was thinking it would require removing `dims` param to keep API aligned with Python API (which would break the API).

[2018-06-29 17:07] dsmilkov commented on #131
Let's break API since the source of truth should be [tf.losses.softmax_cross_entropy
](https://www.tensorflow.org/api_docs/python/tf/losses/softmax_cross_entropy), not [tf.nn.softmax_cross_entropy_with_logits](https://www.tensorflow.org/api_docs/python/tf/nn/softmax_cross_entropy_with_logits)

[2018-06-30 07:04] tyt34 commented on #473
Hello @tafsiri.
After your post, I figured it out.

I have event. It consists of 2 parts. It happens _0_ or _1_. It turns out _[0,0],[0,1],[1,0],[1,1]_.
I think it depends on the last 2-4 (may be more) such events, which too happens _0_ or _1_.
Therefore, I think, for example, to do this:
Input _[[0,0],[0,0],[0,0]]_ , output _[0,0]_.

Suppose I have information about already past events that look

[2018-06-30 11:25] FrozenKiwi opened #481 "Out of memory exception when fitting model"
To get help from the community, check out our [Google group](https://groups.google.com/a/tensorflow.org/forum/#!forum/tfjs).

#### TensorFlow.js version
5.6.0

#### Browser version
Version 67.0.3396.99 (Official Build) (64-bit)

#### Describe the problem or feature request

When fitting a fairly simple dense model (100-125-75 nodes per layer), we hit an out of Memory exception.  Note: performance

[2018-06-30 13:42] FrozenKiwi commented on #481
I removed the logging function (and the predict post-train) and lowered the epochs to 2500.  This improved things considerably - trained about 14 models before the exception threw.  Again, continuing seemed to resume training (although I haven't yet verified the trained models.

[2018-07-01 02:19] #418 closed

[2018-07-01 12:10] nwesthoff commented on #481
Having a similar issue with a super basic model. I'm running on a 2014 Dell XPS 15 though (i7-4712HQ, GT750M).

Performance degrades quickly and it soon completely locks up my chrome tab (even though it should be Async?), after which I have to kill it with the Chrome task manager. I'm not getting any 'this tab is slowing down your browser' alerts either.

[code]

I know I'm doing a sigmoid activat

[2018-07-01 13:19] guillochon commented on #481
It would be great for tfjs to have some sort of basic memory check against the target user's system; I've seen issues on low-spec systems such as Microsoft Surface tablets where they technically have *some* VRAM, but the amount is so low that it should just use the CPU. From what I've read it's impossible for WebGL to reveal how much VRAM is available to it (security issue?), but it's a real pain

[2018-07-01 13:59] dsmilkov commented on #424
Fixed in https://github.com/tensorflow/tfjs-core/pull/1111

[2018-07-01 13:59] #424 closed

[2018-07-02 07:30] hpssjellis commented on #330
Not sure when it was added but this looks great

https://js.tensorflow.org/api/0.11.7/#tf.Model.summary

[2018-07-02 10:12] kovalepskaia commented on #247
I have the same error that shows cause as below:
[Deprecation] getUserMedia() no longer works on insecure origins. To use this feature, you should consider switching your application to a secure origin, such as HTTPS. See https://goo.gl/rStTGz for more details.
setupCamera @ camera.js:53

[2018-07-02 12:04] Lewuathe commented on #442
I saw `tf.tensor` regarded `NaN` as 0 when we specify dtype='int32'.

[code]

In order to fix the issue, we need to keep `NaN` as `NaN` in tensor creation. But it can be a breaking change if user code already expects `NaN` to be converted into 0 in a tensor when we specify dtype='int32'.

And also using `np.nan` without wrapping with numpy array throws an exception in TensorFlow core.

[code]

We

[2018-07-02 14:21] tafsiri commented on #473
@tyt34 Yes i'd say you are on the right path, if you have the training data, you should be able to try it and see how it performs.

[2018-07-02 14:24] tafsiri commented on #247
@kovalepskaia are you running this from localhost or from a remote server. If you are doing it from a remote server (i.e. not localhost) you need to server the page over https.

[2018-07-02 14:37] tafsiri commented on #481
This looks like it might be a memory leak. Could you check how many tensors are created as your program runs using [tf.memory()](https://js.tensorflow.org/api/0.11.7/#memory), this will return an object that has a numTensors property, if that is always increasing that would indicate a memory leak. @nwesthoff for you program you may want to add an onEpochEnd callback to print the number of tensors

[2018-07-02 14:48] #464 closed

[2018-07-02 14:49] #443 closed

[2018-07-02 15:22] hugesswnn opened #482 "Input 0 is incompatible with layer lstm_LSTM1: expected ndim=3, found ndim=4"
does not support different dims?
xs shape [ 1, 2, 1 ]
ys shape [ 1, 3, 1 ]

[code]

[2018-07-02 17:09] nsthorat commented on #442
Fixing the issue you are talking about @Lewuathe here: https://github.com/tensorflow/tfjs/issues/442

As for the first bug, we should follow TensorFlow python CPU. @bileschi want to take that?

[2018-07-02 17:17] smith-kyle opened #483 "Initial States for Bidirectional Layers"
#### TensorFlow.js version
0.11.7
#### Browser version
N/A
#### Describe the problem or feature request
When using a bidirectional layer the following error is thrown:

Just wondering when it will be implemented.

#### Code to reproduce the bug / link to feature request
[code]

[2018-07-02 19:40] nwesthoff commented on #481
@tafsiri I'm having trouble with the `onEpochEnd ` callback, I can make it fire by running `fitConfig.onEpochEnd()`, but it isn't fired by the training function.

[code]

Running `fitConfig.onEpochEnd()` manually after 2000 epochs returns 48 tensors, though I'm not sure how useful this is, as it doesn't show progress during training.

[2018-07-02 20:52] gmittal commented on #458
+1 for text preprocessing examples

[2018-07-02 21:25] nsthorat opened #484 "Depend on public API from tfjs-converter."
There are several places in tfjs-converter that depend on internal file structure of core via `dist/`. This is brittle to changes of code structure, as we just saw from https://github.com/tensorflow/tfjs-converter/pull/165

For example:
https://github.com/tensorflow/tfjs-converter/blob/master/src/executor/frozen_model.ts#L19

This import should import directly from the public API. If the symbol is

[2018-07-03 02:15] seranus commented on #403
@caisq I just can't find any free time to work on this issue at least in the next 2-3 weeks, someone else will have to handle it.

[2018-07-03 02:42] kovalepskaia commented on #247
I use code as below (in file index.js):
[code]

But, when running the program, it has an error:
Uncaught ReferenceError: Buffer is not defined
    at Object.require.4.https (index.js:4)
    at newRequire (tfjs-models.js:42)
    at require.27 (tfjs-models.js:69)
    at tfjs-models.js:74

[2018-07-03 03:12] zboldyga commented on #442
@bileschi I did a little digging and it seems that convertToTensor isn't handling NaN inputs properly, it converts them to zero. If this is fixed, then oneHot will ignore the value when mapping (but there might be other implications to storing NaN in the Tensor object).

I can make the fix if you'd like, but I don't want to snag this from you if you're trying to make contributions - let me know wh

[2018-07-03 03:17] kwichmann opened #485 "Linear combinations of layers"
(Using TensorFlow.js version 0.11.7 with Chromium)

I have two input layers, and I want to make a linear combination of them, with constant (untrainable) coefficients, like 3*x + 4*y, for instance. However, when I try to achieve this by `tf.layers.multiply` and `tf.layers.add`, I get the error: `Arguments to apply() must be all SymbolicTensors or all Tensors`. This clearly spells out the problem,

[2018-07-03 10:08] loretoparisi opened #486 "Feature Request: add KMeans and KMeansClustering"
#### TensorFlow.js version
0.11.7
#### Browser version
-
#### Describe the problem or feature request
Please add `tf.contrib.factorization.KMeans` - https://www.tensorflow.org/api_docs/python/tf/contrib/factorization/KMeans
and `tf.contrib.factorization.KMeansClustering`
https://www.tensorflow.org/api_docs/python/tf/contrib/factorization/KMeansClustering

#### Code to reproduce the bug / link to f

[2018-07-03 13:18] tafsiri commented on #481
@nwesthoff the syntax for onEpochEnd looks more like this (it is part of a callbacks option, [see model.fit](https://js.tensorflow.org/api/0.11.7/#tf.Model.fit) for more details)

[code]

Try that and see if it works.

[2018-07-03 13:54] bileschi commented on #442
@zboldyga please go right ahead!

[2018-07-03 14:01] #484 closed

[2018-07-03 14:10] bileschi commented on #458
Have you seen this new lstm-text-generation example?
https://github.com/tensorflow/tfjs-examples/tree/master/lstm-text-generation

On Mon, Jul 2, 2018 at 4:52 PM, Gautam Mittal <notifications@github.com>
wrote:

--
Stan Bileschi Ph.D.  |   SWE  |  bileschi@google.com |  617-230-8081

[2018-07-03 20:06] zboldyga commented on #442
@bileschi Thanks for the heads-up!

@nsthorat It looks like the issue stems from TypedArray constructors, and will occur anytime convertToTensor is called with dtype 'int32' and a NaN input.

As per ECMA2016 standards, TypedArrays will convert NaN to 0 for all data types except float32 and float64: https://www.ecma-international.org/ecma-262/7.0/#sec-properties-of-the-%typedarrayprototype%-object.

[2018-07-03 20:45] nwesthoff commented on #481
@tafsiri Ah, misunderstood the docs, that works indeed. When running 2000 epochs it goes up from 279 tensors all the way to 2278 tensors (curiously close to one tensor per epoch). It doesn't reset after running the fit function for new data either. So this does indeed look like a memory leak. I've just read about the `tf.dispose` and `tf.tidy` functions, though I'm not sure how to apply them, as t

[2018-07-03 21:06] tafsiri commented on #481
Going to refer this to @caisq in case this because of a memory leak inside `model.fit`. We did jave one that was fixed here https://github.com/tensorflow/tfjs-layers/pull/252 so a fix may be incoming.

[2018-07-04 00:09] ubertao opened #489 "tf.io.loadWeights doesn't work with local file in nodejs"
To get help from the community, check out our [Google group](https://groups.google.com/a/tensorflow.org/forum/#!forum/tfjs).

#### TensorFlow.js version
tfjs 0.11.7
tfjs-node 0.1.7

#### Browser version
node v8.7.0

#### Describe the problem or feature request
Got the following error when trying to load local weights file:

`(node:73865) UnhandledPromiseRejectionWarning: Unhandled promise rejectio

[2018-07-04 00:31] roieki commented on #298
The implementation looks great, I tested it out with ‘canvas’ and it seems to work, meaning I can create a valid looking tensor from an image. Using node canvas for this purpose seems straightforward and reasonable. Thank you for getting this done!

On another note, I’ve been seeing a different issue that might be related to this. I mentioned it another thread where the issue was already mentioned

[2018-07-04 00:42] roieki-maana commented on #298
Hi Daniel,

The implementation looks great, I tested it out with ‘canvas’ and it seems to work, meaning I can create a valid looking tensor from an image. Using node canvas for this purpose seems straightforward and reasonable. Thank you for getting this done!
On another note, I’ve been seeing a different issue that might be related to this. I mentioned it another thread where the issue was alread

[2018-07-04 00:48] caisq opened #490 "Feature request: Ability to wrap a SymbolicTensor with tf.input()"
To get help from the community, check out our [Google group](https://groups.google.com/a/tensorflow.org/forum/#!forum/tfjs).

#### TensorFlow.js version
0.12.0

... so that one can take a non-first layer of a sequential model and use it as the first layer of another model.

[2018-07-04 09:09] 1icas opened #491 "about tfjs posenet model train"
I am very curious to the train of tfjs posenet model. Do you have a plan for open the posenet model training code ？

[2018-07-04 14:10] ChALkeR commented on #489
@ubertao does `global.fetch = require('node-fetch')` work a work-around?

[2018-07-04 15:20] ChALkeR commented on #479
Replacing `fetch` with `const fetch = require('node-fetch')` in core and depending on `node-fetch` should be unobtrusive, as node-fetch has a very minimal impl for browsers, [source](https://github.com/bitinn/node-fetch/blob/master/browser.js).

[2018-07-05 10:52] ubertao commented on #489
@caisq The model was trained somewhere else, so far I only have access to the weights.

[2018-07-05 11:32] miranthajayatilake opened #492 "Loading the converted Keras model takes a long time"
Hi,

I'm loading a model via the 'model.json' URL and it appears to take a long time to process. My code is as below:

[code]
I have uploaded the json file and the group files to GitHub, and used the link to the raw file, as I found this method convenient.

The size of the files add up to about 170MB, where I think this can be a problem. But I have used other models such as mobilenet where they lo

[2018-07-05 14:04] ToonTalk opened #493 "Are the left and right labels switched in the posenet example?"
The page https://github.com/tensorflow/tfjs-models/tree/master/posenet shows that the left eye/ear/etc have larger x coordinates than the right eye/ear/etc. This is true of the code and sample pose listed on that page.

I understand that the y coordinate increases as one goes down but why are the x coordinates as they are? Is it that the camera is acting like a mirror and reversing left and right?

[2018-07-05 14:23] #279 closed

[2018-07-05 17:24] zboldyga commented on #470
@julianoks @dsmilkov I'm taking a stab at `conv3d` , will update with progress within a few days.

[2018-07-05 19:19] George35mk opened #494 "Module not found: Error: Can't resolve 'crypto' in 'C:"
To get help from the community, check out our [Google group](https://groups.google.com/a/tensorflow.org/forum/#!forum/tfjs).

#### TensorFlow.js version
"@tensorflow/tfjs": "^0.12.0",

#### Browser version
Version 67.0.3396.99 (Official Build) (64-bit)
#### Describe the problem or feature request
I am using angular 6 with tensorflow.js in the latest versions of tensorflow I get a warning in the co

[2018-07-05 20:23] George35mk commented on #494
I have tried it to install crypto but again is not working, all versions from 10.0 and above is not working on angular projects I am not sure if they don't work on any typescript version
`npm i crypto-js `

[2018-07-06 02:09] Aluman opened #495 "Save\load model and weights to\from DB"
To get help from the community, check out our [Google group](https://groups.google.com/a/tensorflow.org/forum/#!forum/tfjs).

#### TensorFlow.js version: 0.11.7

#### Browser version: node.js

#### Describe the problem or feature request
How can I save\load model and weights to\from DB?
Model has method toJSON and I can store json in DB. But in method tf.loadModel I can't use use JSON. How can I c

[2018-07-06 03:40] miranthajayatilake commented on #492
Thanks for the suggestions @caisq ! I recorded the network download status. See the attachments below;

![screenshot from 2018-07-06 08-46-10](https://user-images.githubusercontent.com/11708057/42358692-8ff5f2f8-80fb-11e8-9011-8c7f872d11c2.png)

As seen here, some of the group files takes more than 4 mins to download. This seems to be the bottleneck. The total time and data transfer was as below;

[2018-07-06 04:09] RadEdje commented on #145
Hello, just wanted to ask if the perforamance cliff has been figured out on android 5.0?
I built a proof of concept web app that uses the videocam of a phone or the webcam of a desktop/laptop to detect/recognize radiographic findings.

The web apps are at 2 versions:

https://radhorizon.com/SITES/RadLense/
(this uses tj.js version 0.10.0)

and

https://radhorizon.com/SITES/RadLense/index3.html
(th

[2018-07-06 14:44] nsthorat commented on #442
Ah, thats right. NaN is not defined for integers, NaN is a float concept.

@bileschi this actually seems like undefined behavior, and I think we should not guarantee anything when NaN is being used. This fix otherwise is quite hairy.

[2018-07-06 14:49] bileschi commented on #442
@nsthorat seems reasonable, but what avenues do we have at our disposal for alerting the user as early as possible that this behavior is undefined?

[2018-07-06 14:50] oeway commented on #403
@caisq or others, I would appreciate if someone could help with this issue, the fix can be very quick. I hope I can get this in the next release. Thanks in advance.

[2018-07-06 14:56] nsthorat commented on #442
We could throw an error when a `NaN` is passed to an int32 `convertToTensor` when debug mode is on!

[2018-07-06 16:39] nkreeger commented on #494
Can you please provide us a link to the source that we can fork/download? This will help with investigation.

[2018-07-06 16:40] nkreeger commented on #495
We are starting to look at implementing this feature in layers. We need the ability to pass a JSON object directly into tf.loadModel() instead of loading it over some resource protocol.

[2018-07-06 17:06] George35mk commented on #494
I have created a repo you can run inside the root folder : `npm install`
after the installation run `ng serve`
this should create a server on `http://localhost:4200/xor`
check the console both on vscode or google chrome

you can clone the ptoject https://github.com/George35mk/example-tf-error.git

[2018-07-06 17:13] George35mk commented on #494
@nkreeger thank you for looking on this

[2018-07-06 17:45] caisq commented on #495
@Aluman Can you clarify what you mean by "convert Tensor[] to/from JSON"? Tensors are binary (mostly float) data. Representing the float numbers in JSON is very inefficient, which is why the saving and loading of the weights involve non-JSON types such as ArrayBuffers.

[2018-07-06 17:46] caisq commented on #495
Also, by "DB", what do you mean? IndexedDB of the browser?

[2018-07-06 17:48] caisq commented on #490
cc @nsthorat

The motivating example is a case in which one wants to throw away the first few layers of a sequential model and use the remaining ones by feeding data directly to it (the opposite of "decapitate", whatever that is called ;) )

[2018-07-06 18:05] nsthorat commented on #490
The example is I have an embedding lookup layer as an input and then I want to use the model but provide the embedding (for interpolation).

[2018-07-06 18:07] George35mk commented on #494
The same happens with stackblitz.com

## Look
https://stackblitz.com/edit/angular-eu4cjy

[2018-07-06 18:22] bileschi opened #496 "Website: survey div renders over api version selector"
#### TensorFlow.js version
site
#### Browser version
68.0.3440.42 (Official Build) beta (64-bit)

#### Describe the problem or feature request
![image](https://user-images.githubusercontent.com/547150/42394395-fc359082-8127-11e8-8887-e8f52ef44b5f.png)

#### Code to reproduce the bug / link to feature request
https://js.tensorflow.org/api/0.11.6/

[2018-07-06 19:13] Aluman commented on #495
I mean SQL/NoSQL DB like MySQL, mongodb etc.

I mentioned JSON because it's widely used format in js development, usually array\object can be converted to JSON and model already can be saved as json. JSON can easily stored to db/file or transfer by network it is very handy format. But if JSON is very inefficient any others formats can be used as well.
I just looking for way to store model/weights

[2018-07-06 19:58] bileschi commented on #485
Not the prettiest, but it works with the existing API.  This uses fixed dense layers in place of the multiplications.   Another option here is to use a custom layer
https://github.com/tensorflow/tfjs-examples/tree/master/custom-layer
[code]

[2018-07-06 20:53] #417 closed

[2018-07-06 20:55] dsmilkov commented on #303
The IORouterRegistry tests were using local storage in order to run. Not any more (fixed in https://github.com/tensorflow/tfjs-core/pull/1139)

[2018-07-06 20:55] #303 closed

[2018-07-06 21:33] zboldyga commented on #442
Makes sense to me!

I will go ahead with the debug mode error on Sunday night and submit a PR, let me know in the meantime if you want me to do anything differently!

[2018-07-07 04:32] hpssjellis opened #497 "Feature request: Activate initialEpoch in model.fit"
Please activate initialEpoch in model.fit

In the API it is listed as

But when I try to activate it, it does not work, see [codepen](https://codepen.io/rocksetta/pen/gKNVre?editors=0011)

The [code](https://github.com/tensorflow/tfjs-layers/blob/v0.7.0/src/engine/training.ts#L1605-L1802) seems to have it partially in place, however line 1801 says

I will look into sending a PR, but typescript is

[2018-07-07 07:49] hpssjellis commented on #497
Seemed to get it working with a few changes to [training.ts](https://github.com/tensorflow/tfjs-layers/blob/1a9ac50bdb8e7ff7f82c91e94119a96bf724f104/src/engine/training.ts)

See working [demo](https://hpssjellis.github.io/beginner-tensorflowjs-examples-in-javascript/keras/initialEpoch/graceful-exit04.html)

[2018-07-07 10:50] George35mk commented on #494
What I have found so far is that:
**crypto** is now part of the node.js core

And I think the tensorflow.js is not working on any newest angular application.
I can't do anything about this.

[2018-07-08 03:38] 116050423 commented on #188
@dsmilkov So helpful. When will TensorArray* supported version can be installed from npm ?

[2018-07-08 03:41] caisq commented on #403
@oeway  Thanks for pinging me. This is on my TODO list now.

cc @seranus Thank you for your previous try all the same.

[2018-07-08 17:31] ManrajGrover commented on #401
This can be closed now

[2018-07-09 07:49] ch3nl00ng opened #498 "Error when installing tfjs-node"
To get help from the community, check out our [Google group](https://groups.google.com/a/tensorflow.org/forum/#!forum/tfjs).

#### TensorFlow.js version
0.12.0

#### Browser version
N/A

#### Describe the problem or feature request
On Mac, when running
[code]

Errors are thrown.

[code]

[code]

[code]

#### Code to reproduce the bug / link to feature request

[2018-07-09 07:57] #498 closed

[2018-07-09 12:39] bileschi commented on #401
Thanks @ManrajGrover , closing.

[2018-07-09 12:39] #401 closed

[2018-07-09 12:45] bileschi commented on #188
Version 0.12.0+ is available from npm now, and includes TensorArray* ops.

[2018-07-09 14:55] rodrigob commented on #161
tensorflow/tfjs-core#1121 seems to aim at providing BatchToSpaceND, is anyone working on the symmetric  SpaceToBatchND ?

[2018-07-09 15:39] aman-tiwari commented on #477
This works for now:
[code]

But not sure if `tf.serialization.SerializationMap.getMap().classNameMap` is public or whether this will break for certain kinds of models.

[2018-07-09 17:08] kor0 commented on #188
Can anyone tell me how to get the latest version (0.12.0+) working with tfjs-converter?

[2018-07-09 17:17] bileschi commented on #188
It looks like converter currently uses 0.12.0
https://github.com/tensorflow/tfjs-converter/blob/master/package.json
[code]
Is it not working?

[2018-07-09 17:42] kor0 commented on #188
I don't know what I did wrong. But from a straight-forward way:

$ git clone https://github.com/tensorflow/tfjs-converter.git
$ cd tfjs-converter
$ yarn

It worked fine, but then I tried to convert a frozen model.
$ tensorflowjs_converter --input_format=tf_frozen_model \     --output_node_names='num_detections,detection_boxes,detection_scores,detection_classes' \
 ./mobilenet/frozen_inference_grap

[2018-07-09 18:26] bileschi opened #499 "Keras model accepts internal layers with incorrect 'inputShape' without warning."
#### TensorFlow.js version
0.12.1

#### Browser version
irrelevant

#### Describe the problem or feature request
It would be nice to at least warn the user that the provided 'inputShape' for intermediate layers is ignored.

#### Code to reproduce the bug / link to feature request
[code]

outputs:
[code]

[2018-07-09 20:37] #403 closed

[2018-07-09 21:38] #469 closed

[2018-07-10 00:01] dikatok commented on #161
@rodrigob I am currently working on it, sorry for the delay, I was busy with personal matters for the past month and have lost a family member recently. I will try to create an initial PR tomorrow.

[2018-07-10 01:30] davidsoergel commented on #495
I just prepared tensorflow/tfjs-core#1148, providing "passthrough" IOHandlers that load and save models to a simple in-memory format (a combination of JS objects and ArrayBuffers).  That approach may be enough for simple use cases.

For more complex use cases, you can write your own implementation of IOHandler (https://github.com/tensorflow/tfjs-core/blob/master/src/io/types.ts#L207).  Then you co

[2018-07-10 11:28] xiaocode commented on #188
@kor0 I got this problem too.I guess that the ops list didn't update yet.

[2018-07-10 14:12] davidsoergel commented on #495
Closing: tensorflow/tfjs-core#1148 is now submitted.  I think either that or the custom IOHandler approach should resolve this need.

[2018-07-10 14:12] #495 closed

[2018-07-10 14:24] juhanitolvanen opened #500 "TypeError: backend.unsortedSegmentSum is not a function"
#### TensorFlow.js version
@tensorflow/tfjs: 0.12.0
@tensorflow/tfjs-node: 0.1.7

#### Browser version
- (Node.js v8.10.0)

#### Describe the problem
I receive the following error:
- when using with @tensorflow/tfjs-node
- after have successfully compiled a sequential model with tf.layers.conv2d and tf.layers.maxPooling2d, and
- when start fitting the model with training data

I can compile and fi

[2018-07-10 15:40] #428 closed

[2018-07-10 16:04] jotaf98 commented on #214
This feature would be highly appreciated, time series and speech analysis in particular depend on it.

As for the complex data types, as a temporary yet extendable solution, we could have just a complex64 data type that wraps two float arrays (accessed as .real and .imaginary).

In the long run this datatype could support more ops (add, complex multiply, etc). But pragmatically this is not needed

[2018-07-10 17:12] nsthorat commented on #214
@jotaf98 I like this approach a lot. For now, it might make sense to prototype something like (via .real / .imaginary) that to make sure an FFT in JS or in WebGL is tractable in a browser, then we can talk about merging it in / implementing a proper complex64 type.

[2018-07-10 18:52] #496 closed

[2018-07-10 19:04] nkreeger opened #501 "Move TFJSBackend to a factory with provider"
The current constructor/destructor for TFJSBackend is currently public. Those functions should become private and move to a factory to provide to the backend.

[2018-07-10 19:37] caisq commented on #499
FWIW, if you do the equivalent thing in Keras in Python, you also get no warning. So it may make sense for us to fix in JS and Python at the same time.

[2018-07-10 19:38] caisq commented on #499
cc @fchollet

[2018-07-10 19:39] caisq commented on #497
@hpssjellis has sent out PR https://github.com/tensorflow/tfjs-layers/pull/261 to fix this. It is under review. Thanks!

[2018-07-10 20:08] bileschi commented on #188
@kor0 , @xiaocode , Ah I see.  The ops are supported in core, but not in converter.

[2018-07-10 20:23] dsmilkov commented on #188
cc @pyu10055 Should TensorArray* ops be supported in tfjs-converter 0.5.0 given that https://github.com/tensorflow/tfjs-converter/pull/163 is in? Thanks!

[2018-07-10 20:34] #497 closed

[2018-07-10 20:34] caisq commented on #500
Any thoughts, @nkreeger ?

[2018-07-10 20:46] pyu10055 commented on #188
@dsmilkov not yet, PR #163 only added the base tensor array class, I am adding the op implementation right now, should be available fairly soon.

[2018-07-10 21:29] zboldyga commented on #442
@nsthorat looks like I'll need to fix my use of the environment (checking for debug mode) in order to get the fix working. I've got a circular dependence by including the environment directly in util.ts, which I think might not be the intended way to check if DEBUG is enabled...

Should I pass the environment instance down thru whichever operation calls convertToTensor? Or maybe it's OK to referen

[2018-07-10 21:35] zboldyga commented on #470
Just a quick update - this is a little more complex than I initially thought, but giving it some free time over the next few weeks and thinking I can have it finished in July.

[2018-07-11 00:15] Lewuathe commented on #214
@jotaf98 Thank you for the feedback. That totally makes sense. Let me confirm the expected returned value in this case.

TensorFlow
[code]

So in that case, we can assume TensorFlow.js returns the Tensor with shape=(2, 3, 2), dtype='float32'. Is this assumption right?

[code]

(cc: @nsthorat )

[2018-07-11 14:17] bileschi commented on #485
Closing this issue, please re-open if this is not resolved.

[2018-07-11 14:17] #485 closed

[2018-07-11 14:54] lygstate opened #502 "Are the check of EXT_color_buffer_float in the gpgpu_context need to be forced?"
https://github.com/tensorflow/tfjs-core/blob/5d0b2997e2f56f126d146dbe282fe1fd08a6ff53/src/kernels/webgl/gpgpu_context.ts#L69

I have GPU that do not support for EXT_color_buffer_float  but support OpenGL ES 3.1(Mali T720).
I want to running tfjs on that GPU:)

[2018-07-11 15:06] nsthorat commented on #502
Yes unfortunately we need that extension to render floats. What browser are you using?

[2018-07-11 15:07] lygstate commented on #502
I am using Chrome 68

[2018-07-11 15:12] Jaliborc opened #503 "Serialize to Memory"
To get help from the community, check out our [Google group](https://groups.google.com/a/tensorflow.org/forum/#!forum/tfjs).

#### TensorFlow.js version
0.12.0

#### Browser version

#### Describe the problem or feature request
Allow us to serialize models into memory (let serialization = model.save ) instead of being restricted to files, local storage, etc. It's terrible having to save models to

[2018-07-11 16:30] caisq commented on #503
@davidsoergel  has recently added `tf.io.withSaveHandler()` that I believe will address your need. See a code example at:

https://github.com/tensorflow/tfjs-core/blob/master/src/io/passthrough.ts#L86

@Jaliborc can you let me know whether this will work for you? Note that it's not available in the latest release (0.12.0) yet, but will be in the next release.

[2018-07-11 17:32] lygstate commented on #502
How about using https://skytiger.wordpress.com/2010/12/01/packing-depth-into-color/ to polyfill when EXT_color_buffer_float not available

[2018-07-11 17:32] Jaliborc commented on #503
I'll try it out and let you know.

[2018-07-11 17:44] lygstate commented on #502
How about DEPTH_COMPONENT32F for gray image?

[2018-07-11 17:49] lygstate opened #504 "The benchmark test of `Reduction Ops`:argMax never finished."
To get help from the community, check out our [Google group](https://groups.google.com/a/tensorflow.org/forum/#!forum/tfjs).

#### TensorFlow.js version
Tip

#### Browser version
Chrome 68

#### Describe the problem or feature request
Running the master/tip version of tfjs, the benchmark test of tfjs-core failed.

[2018-07-11 18:14] caisq opened #505 "Serialization of DepthwiseConv2D layer incorrectly drops kernelSize and depthwiseMultplier"
To get help from the community, check out our [Google group](https://groups.google.com/a/tensorflow.org/forum/#!forum/tfjs).

#### TensorFlow.js version
0.12.0

[2018-07-11 18:14] caisq commented on #505
cc @tafsiri

[2018-07-12 02:54] 116050423 commented on #188
hi @pyu10055 , is there plan for supporting All, Assert, TopKV2 ?

[2018-07-12 02:58] #499 closed

[2018-07-12 13:55] bileschi opened #508 "Button styling on Firefox for Linux. Buttons overlap"
To get help from the community, check out our [Google group](https://groups.google.com/a/tensorflow.org/forum/#!forum/tfjs).

#### TensorFlow.js version
0.12.0

#### Browser version
Firefox Linux  	52.8.1

#### Describe the problem or feature request
The 'Edit' button overlaps the 'Run' button

![image](https://user-images.githubusercontent.com/547150/42637483-4d09dee2-85b9-11e8-8792-232ff60a8956.

[2018-07-12 16:00] lastmjs commented on #90
I'm getting similar issues, I'm more or less running this demo: https://js.tensorflow.org/tutorials/webcam-transfer-learning.html and I keep getting NaN for most of my losses. It works fine on my desktop, but on my Nexus 5x running Android 8+ I get NaN.

[2018-07-12 16:32] justadudewhohacks opened #510 "Intel GPU support for Celeron/Baytrail"
Not sure if tfjs is going to support Intel GPUs, but it turns out that some ops seem to return different results on an Intel GPU. (I am referring to [this](https://github.com/justadudewhohacks/face-api.js/issues/43) issue).

Unfortunately I don't have access to an Intel GPU anymore, otherwise I could try to find out where this issue occurs, but I thought it would still be worth reporting it.

[2018-07-12 16:51] bielanm opened #511 "tensorflowjs_convertor fails during inverse transformation"
To get help from the community, check out our [Google group](https://groups.google.com/a/tensorflow.org/forum/#!forum/tfjs).

tensorflow==1.8.0
Keras==2.1.4
@tensorflow/tfjs": "0.12.0"
Google Chrome, Version 67.0.3396.99 (Official Build) (64-bit)

I've tried to convert yolo model to tensorflow.js and used [keras-yolo3](https://github.com/qqwweee/keras-yolo3) script which build keras model from dar

[2018-07-12 17:04] #505 closed

[2018-07-12 17:32] pyu10055 commented on #478
see converter PR https://github.com/tensorflow/tfjs-converter/pull/170

[2018-07-12 17:35] pyu10055 commented on #433
The TensorArray related ops are almost ready, see https://github.com/tensorflow/tfjs-converter/pull/170
All op has been added. The ops left are:
DecodedBase64, EncodeJpeg, Assert
We will add those to our priority list.

[2018-07-12 17:44] pyu10055 commented on #138
the op has been added https://github.com/tensorflow/tfjs-converter/pull/135

[2018-07-12 17:44] #138 closed

[2018-07-12 18:07] #125 closed

[2018-07-12 18:07] pyu10055 commented on #125
done https://github.com/tensorflow/tfjs-website/pull/167

[2018-07-12 18:08] pyu10055 commented on #74
closing this since the session bundle is supported.

[2018-07-12 18:08] #74 closed

[2018-07-12 18:14] pyu10055 commented on #188
@116050423 All has been supported, we are looking into Assert and TopKV2 support.
TensorArray ops are under review https://github.com/tensorflow/tfjs-converter/pull/170

[2018-07-12 19:14] caisq commented on #510
cc @nsthorat @dsmilkov for comments.

[2018-07-13 02:04] dsmilkov commented on #510
Looks like some math operations are departing from the expected result. Unfortunately, we don't have an intel gpu at the moment, but if anyone with input gpu is interested in helping us debug this, we can share some pointers for how to debug.

[2018-07-13 02:07] dsmilkov commented on #188
I can take the topK in tfjs-core, which the converter will later call into. The implementation will be in cpu for both the webgl and cpu backend, since it's tricky to sort on gpu.

[2018-07-13 12:18] jotaf98 commented on #214
Yes, just adding an extra dimension with size 2 (real/imaginary) would be a good solution!

It may break compatibility in the future when it's replaced by a complex type (as in TensorFlow), however I don't think that it is a big deal if this caveat is mentioned in the doc.

[2018-07-13 16:28] TheInvoker opened #512 "How to create a basic neural network?"
Hi,

Im new to this, and want to create a basic Neural network, that takes 3 inputs and 1 output. With 2 hidden layers of 3 nodes each. Then train it on some set of inputs, and then test it out with new values.

I saw some examples here

`

    <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs"> </script>

    <script>
      // Notice there is no 'import' statement. 'tf' is available on t

[2018-07-13 19:06] BradHacker opened #513 "model.save(url) isn't saving weights file"
Let me preface this by saying I am a beginner in the TensorFlow community, although I am familiar with the concepts. This is my first project with TensorFlow JS.

#### TensorFlow.js version
0.12.0
#### Browser version
Chrome Version 67.0.3396.99
#### Describe the problem or feature request
I am running this webpage with [http-server](https://www.npmjs.com/package/http-server).
I am using `model.sa

[2018-07-13 22:32] Rutulpatel7077 opened #514 "UnhandledPromiseRejectionWarning: ReferenceError: XMLHttpRequest is not defined"
To get help from the community, check out our [Google group](https://groups.google.com/a/tensorflow.org/forum/#!forum/tfjs).

#### TensorFlow.js 0.11.4

#### Chrome Version 67.0.3396.99

### Using Node v9.4.0

#### Describe the problem or feature request

**_const net  = await posenet.load();  <== Getting error here..._**
[code]

**getting UnhandledPromiseRejectionWarning: ReferenceError : XMLHttp

[2018-07-13 22:58] caisq commented on #513
Hi @BradHacker , as a diagnostic step, can you go to this link below and run "Example 3?" Let me know whether it downloads one or two files.

https://js.tensorflow.org/api/0.12.0/#tf.Model.save

[2018-07-13 23:50] Rutulpatel7077 commented on #514
Solved after  putting global variable in node_modules

[2018-07-13 23:50] #514 closed

[2018-07-14 00:38] BradHacker commented on #513
I use this code:
[code]
It still only downloads one file called `my-model-1`

[2018-07-14 00:41] caisq commented on #513
@BradHacker You didn't answer my question about how many files are downloaded when you run Example 3 at https://js.tensorflow.org/api/0.12.0/#tf.Model.save

Some browser settings will prevent >1 file to be downloaded at the same time. Can you check that your browser is not set like that? For more details see:
https://ccm.net/faq/32938-google-chrome-allow-websites-to-perform-simultaneous-downloads

[2018-07-14 00:44] BradHacker commented on #513
It only downloads **one file**. My chrome settings should allow multiple files to be downloaded. I attached a screenshot of my automatic download settings in chrome.
![image](https://user-images.githubusercontent.com/22984089/42719012-840e2e78-86dd-11e8-9473-2f4edbbdcc14.png)

[2018-07-14 01:08] Rutulpatel7077 commented on #298
@dsmilkov Did you find any solution for this?
<img width="1142" alt="screen shot 2018-07-13 at 9 07 01 pm" src="https://user-images.githubusercontent.com/22271244/42719272-db7f04c2-86e0-11e8-84f3-587bfaf5bd63.png">

[2018-07-14 01:17] BradHacker commented on #513
So it seems this might be an issue with chrome because there is a number on the chrome icon signifying active downloads, but when I go to the downloads page (Mac: Command + Shift + J), there are no active downloads and the number doesn't go away when I clear my downloads list. So the download for the weights file seems to be initiated, but it never finishes.

Using macOS High Sierra 10.13.5

[2018-07-14 01:49] zboldyga commented on #470
@dsmilkov For conv3d input formats, it looks like the conv2d implementation in tfjs-core strays from the TensorFlow Python documentation. Guessing this is from the deeplearn.js days, but I'm wondering if I should match the paradigm that's currently used in tfjs-core, or whether I should stick to the Python documentation exactly?

P.S. No rush in answering, changing this should be easy at any point

[2018-07-14 09:15] Lewuathe commented on #214
@jotaf98 Thank you for the confirmation!

[2018-07-14 13:33] d4nyll opened #515 "recipe for target 'Release/libtensorflow.so' failed when installing `tfjs-node`"
#### TensorFlow.js version
`@tensorflow/tfjs-node` - `0.1.8`

#### Browser version
N/A

#### Linux version

[code]

#### Describe the problem or feature request
Whenever I try to install `@tensorflow/tfjs-node`, `node-gyp` exits with code `1`.

#### Code to reproduce the bug / link to feature request

[code]
I tried with the LTS (8.11.3) version of Node, and get the same error:
[code]

[2018-07-14 14:18] nkreeger commented on #515
Can you try running this script?

https://github.com/tensorflow/tfjs-node/blob/master/scripts/download-libtensorflow.sh

If you clone tfjs-node:
[code]

And post the output here - thanks!

[2018-07-14 15:49] d4nyll commented on #515
There you go!

[code]

[2018-07-14 18:19] nkreeger commented on #515
@d4nyll can you download from this link? https://storage.googleapis.com/tf-builds/libtensorflow_r1_8_linux_cpu.tar.gz I wonder if you have a firewall. I was able to download that link from two of my machines.

[2018-07-14 18:21] d4nyll commented on #515
@nkreeger Yes I am able to download the archive. I have tried three different connections - home, work and mobile / data.

[2018-07-14 18:41] d4nyll commented on #515
After running the command, the files are downloaded and unarchived properly. But it throws an error. It seems that if I run the command again, it succeeds because it skips the `then` block in the last `if` statement.

[code]

[2018-07-14 19:12] d4nyll commented on #515
I think I figured it out. I had a `~/.curlrc` file with the line:

    -w "\n"

This set the `--write-out` option to a newline character `\n`, which causes cURL to append a `\n` character to the end of the output. This is why the file _appeared_ to be corrupted.

[2018-07-14 20:29] d4nyll commented on #515
I think having a `.curlrc` where the `--write-out` option is specified is quite common. Here are several Stack* questions related to this issue:

* [Automatically add newline at end of curl response body](https://stackoverflow.com/q/12849584/3966682)
* [Append line break to command output](https://superuser.com/q/594883/407572)

We can either use the temporary file option, or override the `-w` opt

[2018-07-14 21:06] nkreeger commented on #515
@d4nyll thanks for the fix! I'll get a new build out early next week.

[2018-07-14 21:11] nkreeger commented on #515
Actually - just published 0.1.9 since we had one small fix queued.

[2018-07-14 21:11] #515 closed

[2018-07-14 23:12] d4nyll commented on #515
@nkreeger Thanks for your quick response. Just to confirm, I am now using `tfjs-node` `v0.1.9` and it's working like a charm!

[code]

[2018-07-14 23:44] startupgurukul commented on #188
Hi folks, thanks for working hard in bringing parity with TF.
With the latest version, the unsupported ops have been down to,

Where, TopKV2, Assert, NonMaxSuppression

[2018-07-15 09:37] andhana opened #516 "Unsupported ops in my own frozen_model"
To get help from the community, check out our [Google group](https://groups.google.com/a/tensorflow.org/forum/#!forum/tfjs).

#### TensorFlow.js version
tensorflowjs==0.5.2

#### Describe the problem or feature request
Unsupported ops
I tried running the tensorflowjs_converter:
[code]

The output of unsupported ops:
[code]

[2018-07-15 23:09] caisq commented on #483
@smith-kyle FYI, the pull request that will implement initialState in bidirectional is under review: https://github.com/tensorflow/tfjs-layers/pull/269

However, your code won't quite work even with the support implemented. The `apply()` call to the second bidirectional layer does not have the correct number of initial state tensors. The equivalent Keras code has the same problem:

[code]

[2018-07-16 02:31] santosh898 commented on #188
@Lewuathe I tried on both python package(0.5.2) and tfjs-converter source(0.3.1) , `where` ops is still not supported.

Thank you

[2018-07-16 04:25] nkreeger opened #517 "Node.js binding does not load on Heroku"
From the mailing list:

"My team and I are working on deploying a web app that uses a TFJS model powered by Node, rather than WebGL. We've successfully run the app on our local machines, but have encountered an issue running tfjs-node through Heroku (Ubuntu 16.04) and Docker (with an Alpine image). The same error shows up in both setups.

When requiring tfjs-node, the backend registration fails lo

[2018-07-16 12:22] bielanm commented on #511
@caisq  `model_data/yolo-tiny.h5` is just a destination file of your output keras model.
To reproduce you need to download [yolo-tiny.weight](https://pjreddie.com/media/files/yolov2-tiny.weights) from the link and put it near convert.py script in the project directory.

[2018-07-16 13:51] nsthorat commented on #470
Just curious -- what specifically diverges between tfjs-core and the python documentation, is it just the naming? The implementation should be identical since we test this against real TensorFlow.

If naming is the only difference, I would stick with what we did for conv2d.

[2018-07-16 14:08] nsthorat commented on #9
One more person talking about this: https://groups.google.com/a/tensorflow.org/forum/?utm_medium=email&utm_source=footer#!msg/tfjs/754OcyLgfjg/X9rXT8IfBwAJ

@caisq would you prioritize this?

[2018-07-16 15:54] sbryfcz commented on #188
Can confirm, the latest version seems to be missing:
Where, NonMaxSuppression, TopKV2, Assert

[2018-07-16 17:56] caisq opened #518 "tfjs-node native saver/loader may not be fully functional on MS Windows"
#### TensorFlow.js version
0.12.2

A line such as `await model.save('file://./model')` gives error:

Cannot find any save handlers for URL 'file://model/'

[2018-07-16 19:46] nsthorat opened #519 "Support loading a frozenModel from disk in Node."
Currently we can load a layers model from disk but not a frozen model.

https://groups.google.com/a/tensorflow.org/forum/?utm_medium=email&utm_source=footer#!msg/tfjs/-n96cZqXFF8/9bryVgQyBwAJ

This should be quiet easy to implement, given that we've already solved it for layers.

This flow should work, even if we get the SavedModel approach working.

cc @nkreeger

[2018-07-16 19:58] nsthorat opened #520 "Add tfjs-converter to website building scripts so the API is shown on the website."
Steps:
1. Add converter to submodules: https://github.com/tensorflow/tfjs-website/blob/master/.gitmodules. Make sure to run `yarn prep` after.
2. Add converter here: https://github.com/tensorflow/tfjs-website/blob/master/build-scripts/build-api.js#L47
3. Make sure you add the `/** @doc */` annotation to the external API of the converter. See tfjs-core for examples of this.

[2018-07-16 20:23] caisq commented on #512
@TheInvoker Thanks for the question. But stackoverflow.com might be more appropriate for how-to questions like this.

[2018-07-16 20:23] #512 closed

[2018-07-16 23:59] tonyguo1987 commented on #446
@lijing271 Have you found out how to train the model?

[2018-07-17 01:20] lijing271 commented on #446
@tonyguo1987
Not yet, but I found that the single pose model is the same as openpose

[2018-07-17 02:32] oveddan commented on #446
So the current models that PoseNet uses are all multi-pose models.  Both single pose and multi-pose estimation use the same models, they just have different algorithms to decode the outputs.

It's not the same as the OpenPose model.

All of the models that were released with PoseNet were trained based on research in the paper:

[PersonLab: Person Pose Estimation and Instance Segmentation with a Bo

[2018-07-17 15:02] #356 closed

[2018-07-17 16:53] abhiped commented on #188
Yes, those 4 are still not supported :(

[2018-07-17 17:24] ManrajGrover commented on #188
Looks like tfjs-core's `where` op is [mapped](https://github.com/tensorflow/tfjs-converter/blob/master/src/operations/op_list/logical.json#L205) to `Select` op in TensorFlow which makes sense for legacy reasons but it should also be mapped to `Where` op. (`Select` was deprecated in [v0.12.0](https://github.com/tensorflow/tensorflow/blob/c72d891418c326794a913cc13382c104255fe1f2/RELEASE.md) release)

[2018-07-17 19:16] dsmilkov commented on #161
Hi @dikatok ,

My deepest condolences for your family's loss.

Let us know if you are still interested in pursuing this. It's completely ok if you don't have the time - @jgartman can take on the op. We wouldn't normally be pushing for this, but there is an internal team at Google that depends on this op being added.

Thank you!

[2018-07-17 23:30] chrisdonahue commented on #55
+1 on this issue. It would be extremely painful for me (requiring hundreds of lines of code changes) to manually remove all the assertions from my graph because they are generated by library code (e.g. DeepMind's `sonnet`)

[2018-07-17 23:32] chrisdonahue opened #522 "Support for `ReverseSequence` in `tensorflowjs_converter`"
The [`tf.nn.bidirectional_dynamic_rnn`](https://www.tensorflow.org/api_docs/python/tf/nn/bidirectional_dynamic_rnn) API uses the [`ReverseSequence`](https://www.tensorflow.org/api_docs/cc/class/tensorflow/ops/reverse-sequence) operation to reverse variable-length batches of sequences. Can `tensorflowjs_converter` please support this operation?

Cheers!

[2018-07-18 00:46] chrisdonahue commented on #55
Even core API calls such as `tf.nn.dynamic_rnn` contain asserts: https://github.com/tensorflow/tensorflow/blob/r1.9/tensorflow/python/ops/rnn.py#L597

[2018-07-18 01:32] caisq commented on #518
Turns out that in the original thread that prompted the creation of this bug, the user was not importing tfjs-node. So we don't really have a reason to believe the file:// URL scheme is not working on MS Windows. Closing this bug.

[2018-07-18 01:32] #518 closed

[2018-07-18 03:10] caisq commented on #474
This should have been fixed by https://github.com/tensorflow/tfjs-layers/pull/267

[2018-07-18 03:11] #474 closed

[2018-07-18 03:11] caisq commented on #474
The fix will be reflected on the website after the next release of @tensorflow/tfjs and website push.

[2018-07-18 15:35] davidsoergel commented on #503
Yep, this is now in place as @caisq showed.

[2018-07-18 15:35] #503 closed

[2018-07-18 16:12] lucasgaspar22 commented on #514
Can you please show where did you add this global variable?

[2018-07-18 16:49] marcus7777 opened #525 "help please"
I trying to find a way to work with my data
it is 2 * 40  with a value 0 to 28 with 26 label.
I made a CSV the 80 values with the label on the end.
https://pastebin.com/3WyLipTG
any advice would be most welcome.
Thank You !!

[2018-07-18 16:52] Rutulpatel7077 commented on #514
@lucasgaspar22

install **xhr2**

`npm install xhr2`

and put this on first line of this file `node_modules/@tensorflow-models/posenet/dist/posenet.js`

**`global.XMLHttpRequest = require("xhr2");`**

[2018-07-18 16:55] Rutulpatel7077 commented on #514
@lucasgaspar22  Overall, my suggestion is to go back to python Tensorflow instead of using tf.js

Because I personally feel they are still developing and you have to solve so many problems by your self.

[2018-07-18 16:56] davidsoergel commented on #513
That does sound like there may be something screwy with your Chrome.  Can you try reinstalling it?

[2018-07-18 17:00] lucasgaspar22 commented on #514
Thank you man. I agree with you. I'm just using node because my company
said I needed to .. :(

Thank you a million

2018-07-18 13:55 GMT-03:00 Rutul Patel <notifications@github.com>:

[2018-07-18 17:00] davidsoergel commented on #513
Oh, also: You mentioned "one file called my-model-1".  Did you mean my-model-1.json?

[2018-07-18 17:03] davidsoergel commented on #525
Please use StackOverflow for general questions like this.  Also, even there, I think you'll need to be much more specific about what you are trying to do and what you have tried so far.

[2018-07-18 17:03] #525 closed

[2018-07-18 17:46] nsthorat commented on #161
@jgartman would you be willing to take this up now?

@dikatok, sending best wishes. If / when you want to contribute, let us know, and we'd be happy to give you something high-impact.

[2018-07-18 19:31] seranus commented on #510
@dsmilkov I'll give it a go it became an issue for me since I can't warn my users if the site won't work

[2018-07-18 20:16] jgartman commented on #161
@nsthorat sure, just a heads up though, it would probably take me through the end of the weekend to get it done

[2018-07-18 20:29] caisq commented on #511
Thanks for the info, @bielanm !

I can reproduce both of your errors. Those do appear to be due to bugs in tensorflow.js. I will work to resolve the bugs.

[2018-07-18 20:39] nsthorat commented on #161
Yep, no worries! :)

[2018-07-18 20:58] #483 closed

[2018-07-18 21:54] sam-g-steel commented on #481
Any update on this issue? I'm also having issues with fix() leaking memory. after 10 epochs I run out of memory. Each epoch is very small too. 16 32x32 RGB images. I've 2gb of VRAM + 8gb shared.

[2018-07-18 22:21] #55 closed

[2018-07-19 01:29] caisq commented on #511
FYI, the 1st error is fixed by https://github.com/tensorflow/tfjs-layers/pull/262, and the fix is available in the latest release of @tensorflow/tfjs version 0.12.3.

We will send a PR to fix the 2nd error soon.

[2018-07-19 15:14] seranus commented on #510
@dsmilkov karma failed tests output on latest tfjs-core build

	Error: Arrays differ: actual[0] = 0.9943403601646423, expected[0] = 1.
	    at <Jasmine>
	    at Object.expectArraysClose (src/test_util.ts:95:12 <- src/test_util.js:68:19)
	    at UserContext.<anonymous> (src/ops/linalg_ops_test.ts:93:4 <- src/ops/linalg_ops_test.js:56:21)
	    at <Jasmine>

	Error: Arrays differ: actual[1] = 1, expe

[2018-07-19 15:58] 116050423 commented on #188
@pyu10055 Thanks very much and TensorArray ops can work now !
But there're still last 4 ops when I'm converting OD models...
TopKV2, Assert, NonMaxSuppressionV2, Where
Wish these 4 can be supported :D

[2018-07-19 15:59] 116050423 commented on #188
@abhiped Do you have any plan for these 4 ?

[2018-07-19 18:12] nsthorat commented on #137
This extension is dead.

[2018-07-19 18:12] #137 closed

[2018-07-19 22:16] chrisdonahue opened #532 "Support for non-placeholders as inputs to FrozenModel"
It would be great if `tensorflowjs_converter` could support points of entry to graphs other than `tf.Placeholder`. The current behavior of the converter adds all placeholders that are part of the `--output_node_names` operation subgraphs as inputs. It would be better if the converter could have an `--input_node_names` field to allow user specification.

As a simple example, Tensorflow vanilla grac

[2018-07-19 23:06] lastmjs commented on #298
Yes, question here, if I have a data url, how to I get the canvas from npm to draw it? Is there a recommended image element from npm?

[2018-07-20 08:18] FrozenKiwi commented on #481
Ok, so not sure if this helps, but I tested my code running on nodejs/ubuntu as well.  I had the similar sorts of results there, with my entire 12G of ram being eaten when trying to train a moderate sized graph (65K rows, 2000 epochs).  I would start with around 500megs of memory, then grow till well over 2 gigs per process (running 4 simultaneous trainings).

NOTE: I'm running on the CPU for this

[2018-07-20 14:03] dsmilkov commented on #298
[code]

You can use the Image.src property to point to a URL. See [this section](https://github.com/Automattic/node-canvas#imagesrc) for details.

Then you can pass the image to `tf.fromPixels(img)` to make a tensor.

[2018-07-20 14:15] Rutulpatel7077 commented on #298
@dsmilkov  Thanks! I already figured out by using `node-canvas`

[2018-07-20 15:19] dsmilkov commented on #188
We are actively working on this. I expect we'll get this done in 1-2 weeks. Stay tuned.

[2018-07-20 15:35] #482 closed

[2018-07-20 17:06] dikatok commented on #161
tensorflow/tfjs-core@bf22fc3

[2018-07-20 17:08] dikatok commented on #161
Sorry for the delay, still missing the docs though

[2018-07-20 17:39] caisq opened #533 "Add API to delete tf.Model instances and their associated WebGL memory"
Feature request:
- A method to dispose the WebGL memory of a tf.Model and its layers.
- Since layers can be shared among multiple tf.Model instances, they need to be ref-counted.

#### TensorFlow.js version
0.12.3

[2018-07-20 17:45] dsmilkov commented on #161
Thanks @dikatok . Looks great, left 3 small comments - happy to merge afterwards!

[2018-07-20 18:38] kangyizhang commented on #517
After some investigation, the problem is that @tensorflow/tfjs-node is not installed in the base Heroku system. With some hint from [this post](http://www.saintsjd.com/2014/05/12/run-vendored-binaries-on-heroku.html), I did the following and have a tfjs-node example up and running:
1) run `heroku run /bin/bash` to enter a one-off dyno bash prompt
2) run `npm install @tensorflow/tfjs-node`
3) start

[2018-07-20 19:01] SuryaL opened #534 "Posenet model inconsistent results: Node vs Browser"
To get help from the community, check out our [Google group](https://groups.google.com/a/tensorflow.org/forum/#!forum/tfjs).

I ran the posenet model on node 8.11.3 and I am comparing results of the node implementation for a given image with the browser implementation for the same image.

The results are inconsistent. Am I missing something?
Or Is this to be expected?

Here is my node implementati

[2018-07-20 22:19] chrisdonahue opened #535 "Bug with Split operation after conversion with tfjs_converter"
Here is my graph

[code]

Here is my TypeScript:

[code]

I get the following error message:

[code]

Upon inspection, it appears that the `numOrSizeSplits` arg to `ArrayOps.split` is being set to `0` instead of `2`

[2018-07-20 22:19] chrisdonahue commented on #535
Working on a fix; just documenting the issue...

[2018-07-20 22:29] #511 closed

[2018-07-21 22:11] zboldyga commented on #470
@nsthorat

Tf.nn.conv2d shows the following function description:
`tf.nn.conv2d(
    input,
    filter,
    strides,
    padding,
    use_cudnn_on_gpu=True,
    data_format='NHWC',
    dilations=[1, 1, 1, 1],
    name=None
)`

Comparing this python documentation to the tfjs-core implementation of conv2d, I see the following differences:

1. Input is strictly a 4D tensor in the python implementatio

[2018-07-22 00:20] zboldyga commented on #442
@nsthorat

PR for this is here: https://github.com/tensorflow/tfjs-core/pull/1180

In order to check for debug mode in the converToTensor utility (and throw an error), environment.ts is loaded in util.ts. Loading environment.ts here gives a tslint circular dependency warning, because one of the dependencies in environment.ts loads a utility from util.ts.

I disabled this tslint warning because the

[2018-07-22 04:23] siwei0729 opened #536 "CNN Conv Layer output some times mismatch with expected formula, please help!"
To get help from the community, check out our [Google group](https://groups.google.com/a/tensorflow.org/forum/#!forum/tfjs).

#### TensorFlow.js version: 0.11.6

#### Browser version: Chrome 67.0.3396.99

#### Describe the problem or feature request
I am doing a project about machine learning visualisation, but the conv layer output confuses me a lot.

Generally for a cnn convolution layer, the ou

[2018-07-23 03:34] musfandi commented on #272
hii, Any progress in this problem

[2018-07-23 09:21] axa2 opened #537 "Model.predict() behavior"
TensorFlow.js version: 0.12.3
Browser version: Chrome 67.0.3396.99

Hello, I'll try to be brief, if this is a non-known behavior I'll provide all the information needed to reproduce it. But if it's known, I would suggest to document it.

In my application main loop I call model.predict(...).
If later I call the resulting_tensor.data(), then model.predict takes around 10 miliseconds and tensor.data

[2018-07-23 09:45] axa2 commented on #537
Looking at the source I traced something interesting (?)

When calling tensor.data():

File: src/kernels/webgl/gpgpu_util.ts
At function downloadFloat32MatrixFromOutputTexture: line 323
At line 335:

[code]

If gl.readPixels() is ommited, next time Model.predict() is called it takes 300ms instead of 10ms

My question again, is this somehow expected or should I provide an example program?

[2018-07-23 10:34] rodrigob commented on #161
With tensorflow/tfjs-core#1176 and tensorflow/tfjs-core#1121 merged. Seems that the only thing missing is to expose these in tfjs-converter (and try converting a model with dilated convolutions).

@pyu10055  could you look into that ?

[2018-07-23 13:46] dikatok commented on #161
@rodrigob I have free time at the moment, I'll take it if it's still available.

[2018-07-23 16:56] davidsoergel commented on #534
@oveddan Have you seen this behavior before?

[2018-07-23 17:44] pyu10055 commented on #161
@rodrigob yes, I am working on that, PR will be out today.

[2018-07-23 17:45] rodrigob commented on #161
Awesome ! Thanks @pyu10055 !
(@dikatok  seems that the task is already taken; thanks a lot for your contributions up to now)

[2018-07-24 00:10] smith-kyle commented on #483
Thanks for the quick PR @caisq !

You're right, the above code snippet isn't working even with the latest release. The following Keras code does work though and I can't find any significant differences.

[code]

Is there some subtle difference in Keras that may be the issue?

[2018-07-24 03:53] dikatok commented on #161
@rodrigob it's cool man, no worries.

[2018-07-24 06:31] sandipdeveloper commented on #102
Hi All,

Is there a sample code to use tfjs in web worker, I have tried something like this, does not work

`importScripts("https://cdn.jsdelivr.net/npm/@tensorflow/tfjs")`

[2018-07-24 08:19] justadudewhohacks opened #538 "undefined, null instanceof Tensor throws Exception"
#### Code to reproduce the bug
`undefined instanceof tf.Tensor` or `null instanceof tf.Tensor`

#### tfjs-core version 11.9
returns `false`

#### tfjs-core version 12.5
throws: `'Cannot read property 'shape' of undefined'`

[2018-07-24 10:09] justadudewhohacks commented on #537
Not sure if it helps to your question, but this kind of got me confused a while as well. At the moment you call `tensor.data()` it doesn't necessarily mean, that the graph is done executing yet. Thus the time you measure for `model.predict` might not reflect the actual execution time.

[2018-07-24 11:15] bhack commented on #437
There is no upstream bandwidth to review https://github.com/keras-team/keras/pull/9303.
I think that it is "a general status" of keras.

[2018-07-24 13:11] Jylomaki opened #539 "TFJS converter unsupported Ops "BatchMatMul""
Hello,
I was trying to export a model from tf to tfjs, but I run into this error with tfjs 0.5.2:

[code]
It seems the op that create this issue is this one:
`tf.matmul(point_batch, mat_batch)`
The model work just fine in python.

The node is created by a `tf.Matmul`, and this op is said to be handled by tfjs converter.

[2018-07-24 14:40] Jylomaki commented on #539
I made a workaround using:
[code]
But it would still be nice to have this op handled.

[2018-07-24 15:40] VeegY commented on #312
Hey there, is it possible to get a quick example in here? I can not get things to work properly right now.
I am using tfjs-layers v0.7.1 and my code looks like the following (bare minimum):
[code]

To be fair, I am pretty new to javascript, so it might be a mistake elsewhere.
Thanks in advance!

[2018-07-24 17:00] tmk1991 commented on #306
@Giorat  - Where did you put those print lines?

[2018-07-24 18:40] pyu10055 commented on #535
thanks @chrisdonahue

[2018-07-24 18:55] DABH opened #540 "Don't automatically attempt to load webgl backend"
To get help from the community, check out our [Google group](https://groups.google.com/a/tensorflow.org/forum/#!forum/tfjs).

#### TensorFlow.js version
0.12.3

#### Browser version
Node.js 10.6.0

#### Describe the problem or feature request
When I run a simple example with tfjs and tjfs-node in my terminal, I get warnings about tfjs failing to register the webgl backend.  But I don't care about

[2018-07-24 19:07] DABH opened #541 "With tfjs+tjfs-node, Error: Not implemented: HTMLCanvasElement.prototype.getContext"
#### TensorFlow.js version
0.12.3

#### Browser version
Node.js 10.6

#### Describe the problem or feature request
I'm trying to use tfjs with the CPU Node.js backend (tjfs-node), but when I do, I get errors like
[code]
from the `jsdom` module (which I guess `tfjs` depends on?).  If I add something like
[code]
to my code before importing any tf stuff, the error goes away, but that's rather hacky.

[2018-07-24 19:53] jmorrell opened #542 "Node binding not relocatable"
#### TensorFlow.js version
0.1.9

#### Describe the problem or feature request
When installing `@tensorflow/tfjs-node` via npm, the absolute path gets serialized into the installed module. This means that moving the app directory will cause the module to fail to find the bindings.

This is an issue on Heroku where builds are performed in a different directory than that in which the application is

[2018-07-24 20:01] wangwalton commented on #23
Any update on this item? How about importing a stateful LSTM that's been converted from keras?

[2018-07-24 20:41] smith-kyle commented on #483
Ahh so the difference is that Keras defaults the Birdirectional layer's `mergeMode` option to 'concat'.

Thank you so much for your help!

[2018-07-24 20:43] bearzx opened #543 "Error when dynamically importing tf.js from browser console"
To get help from the community, check out our [Google group](https://groups.google.com/a/tensorflow.org/forum/#!forum/tfjs).

#### TensorFlow.js version
0.12.0
#### Browser version
Chrome Version 67.0.3396.99 (Official Build) (64-bit) macOS
#### Describe the problem or feature request
When I tried to import tf.js using the import() function that chrome provides in the chrome console, an error occu

[2018-07-24 21:00] nsthorat opened #544 "Re-enable WEBGL_DISJOINT_QUERY_TIMER_EXTENSION_VERSION when chrome enables EXT_disjoint_query_timer"
As of this PR we disabled the environment flag entirely (we've made significant changes to the functionality of that flag which we can't test, so safer to keep it off until we can test it):
https://github.com/tensorflow/tfjs-core/pull/1177

[2018-07-24 23:55] DABH opened #545 "Problem when running TF.js with Jest (unit testing)"
#### TensorFlow.js version
0.12.3

#### Browser version
Node.js 10.6.0 (no browser)
Typescript 2.7.1

#### Describe the problem or feature request
I'm trying to use `tf.sum()` and `tf.squaredDifference()` (see below).  Two issues -- some or all might be my fault:

1. According to the [docs](https://js.tensorflow.org/api/latest/#squaredDifference), I can pass a `tf.scalar` to `tf.squaredDifference`

[2018-07-25 06:08] BradHacker commented on #513
Yes I meant to say my-model-1.json. Reinstalling chrome didn't fix the issue.

[2018-07-25 07:08] Giorat commented on #306
@tmk1991 I should have used them in this notebook trying to convert the pb model.

https://github.com/Giorat/pocketbotanist/blob/master/python/tensorflow_pb_to_tfjs_webformat.ipynb

All the comments should help you achieve it.

[2018-07-25 09:42] WinterTaoTao opened #546 "reshape operation will lose shape information after using tensorflowjs_converter"
When I tried to use tensorflowjs_converter to convert some models to tensorflowjs models. I found that when I load the .pb file with python code to check the shape in the reshape operation, I got 0s, for example, [0, 0].  Any ideas why it happened?

[2018-07-25 09:50] axa2 commented on #537
@justadudewhohacks,  hey! Thanks.
Now it makes sense.
I think there should be a way in the API to know what is still executing. (Listener Events?)

[2018-07-25 09:52] axa2 commented on #540
Maybe https://js.tensorflow.org/api/0.12.0/#setBackend ?

[2018-07-25 12:21] cpury commented on #296
@bileschi it seems model copying is now implemented, which only implements this feature indirectly.

Is there a best practice / guide to retain the best model in training? That would also be a useful addition to the docs, I believe.

[2018-07-25 12:38] bileschi commented on #296
There is not such a guide or demo at this point.  Agreed that it would make an excellent addition to the tutorials.

[2018-07-25 12:44] bileschi commented on #537
+nsthorat for fromPixels expertise

[2018-07-25 12:45] bileschi commented on #546
Hi WinterTaoTao,
Thanks for the report.  Can you share a minimal reproduction if your problem?  Thanks.

[2018-07-25 12:58] bileschi commented on #543
I've not had success using the `import` command from directly in the JS console.

In the mean time, does the following workaround work for you?
[code]

[2018-07-25 13:11] bileschi commented on #538
Should be a pretty simple fix.  Just need to update the `hasInstance` definition here to short-circuit to false if instance is undefined or null

https://github.com/tensorflow/tfjs-core/blob/master/src/tensor.ts#L1170

[2018-07-25 13:43] davidsoergel commented on #513
Hm, that is puzzling.  Is there any chance that you have some other process removing files from your downloads directory?  E.g. a virus checker might be spuriously quarantining my-model-1.weights.bin, or a tool like Hazel might be automatically sorting your downloads into folders, etc.

Does the downloads list indicate that the weights file was downloaded, or does it just not show up there at all?

[2018-07-25 13:47] cpury commented on #296
@bileschi I went ahead and tried it out. Works great! Thanks for pointing me to the other issue.

Here's what I did:

[code]

Note that if you want to keep training afterwards, you need to `.compile()` the model again.

[2018-07-25 13:49] cpury commented on #296
Quick question: Does TF.JS `await` the callbacks? Otherwise there might be a race condition here.

[2018-07-25 14:12] nsthorat commented on #537
@justadudewhohacks is correct. The time of actually calling "predict" or for that matter any ops is non-blocking. They simply enqueue programs to be run on the GPU. When you call `.data()`, that is when you introduce a sync between the CPU and the GPU, which means the timing you get after that call will be the "real" timing that it takes to execute that op.

Hope that helps.

[2018-07-25 15:36] dsmilkov commented on #545
Hi @DABH ,

Can you share your project setup?

1. It is likely that you have two imports of tf.js (which means implicitly `tf.Tensor` and `tf2.Tensor`) at which point the typescript compiler can't infer that `tf.Scalar/Tensor` is an instance of `tf2.Scalar/Tensor`.

2. It's strange that you get this error at this line. Can you share the line that creates `state`? I'm guessing the error happens bef

[2018-07-25 15:44] dsmilkov commented on #470
Hi @zboldyga ,

Nice comparison on the differences. When addding `conv3d`, I would follow what we did with `conv2d` in tfjs-core, which in this case means it takes conv4d or conv5d tensor, strides is length 3, padding is same and valid (no need for supporting the integer input yet), dilations is length 3, skip dimRounding for now, and skip name.

[2018-07-25 16:18] BradHacker commented on #513
I tried it twice. The bottom download being with running on http-server and the second was just navigating to the `file:///` path of the html file. When navigating to the file I was asked if I wanted to allow multiple files to download and I selected 'Allow', yet it yielded no new results. My chrome icon now says I have 2 new unfinished downloads to make a total of 5 since I've started chrome.

![

[2018-07-25 17:02] bearzx commented on #543
yeah I think this'll work, since the real problem seems to be the `this` context when tf is being loaded. Using the `<script>` tag method will make `this` to be the `window` object. But in the dynamic `import()` case `this` will be `undefined` before the importing Promise is resolved.

[2018-07-25 18:18] #501 closed

[2018-07-25 19:29] #537 closed

[2018-07-25 21:49] DABH commented on #545
Thanks for your reply!

Sure thing -- the relevant lines in my `package.json` look like
[code]
I just added these dependencies to my existing project, which previously had no references to anything TensorFlow-related.

The other potentially relevant thing is that I'm running my Typescript source file via `jest` to (try to) do some unit tests on my tfjs-based routines.  So my command looks like `je

[2018-07-25 21:52] DABH commented on #540
Thanks for your suggestion.  Unfortunately, even if I add a `setBackend` call to the backend I want, I still get the error about WebGL.  Very strange!  Any other ideas welcome!

One other possibly relevant thing is I'm running my code via `jest`, so I don't know if that messes up the environment at all -- feels like it shouldn't but just want to give all possible clues to figure out this issue.  T

[2018-07-25 22:43] bileschi commented on #540
@nkreeger do you know if there is a way to suppress this warning on systems where no GPU backend is expected?

[2018-07-25 22:48] nkreeger commented on #540
@DABH which version of `@tensorflow/tfjs` and `@tensorflow/tfjs-node` are you using? Can you supply the full source in a Github gist? Can you also provide output from the Node app? Usually the backend will default to the JS-CPU backend if the node binding fails to load. This is strange that it is defaulting to GPU.

[2018-07-25 23:27] wr1472 opened #547 "Save model to file in Nodejs on Windows"
#### TensorFlow.js version
0.12.3

#### Node version
6.9.4

#### Describe the problem or feature request
I am running TF via node on Windows 10. After traiing a model successfully when calling model.save("file:///./foo") I encounter the following error -

Cannot find any save handlers for URL 'file:///foo'

Is saving to file when running on node supported on windows for @tfjs? Note I am not runnin

[2018-07-26 00:22] nkreeger opened #548 "Ship Windows support for Node.js bindings"
The `@tensorflow/tfjs-node` package currently only supports Mac and Linux binaries.  Several steps are required to make this happen:

1. Roll libtensorflow binaries
2. Extract symbols needed from DLLs
3. Update binding.gyp for windows
4. Re-write download scripts to be node-only (no zip/unzip/gzip on windows out-of-box)

[2018-07-26 00:22] nkreeger commented on #547
This will be fixed in https://github.com/tensorflow/tfjs/issues/548

[2018-07-26 01:04] #538 closed

[2018-07-26 02:12] KimYoungBo opened #549 "Issues with tf.cast(x, 'int32') and tf.squaredDifference()"
To get help from the community, check out our [Google group](https://groups.google.com/a/tensorflow.org/forum/#!forum/tfjs).

#### TensorFlow.js version
0.12.7
#### Browser version
chrome 67
#### Describe the problem or feature request

#### Code to reproduce the bug / link to feature request
const x = tf.tensor1d([1.5, 2.5, 3]);
tf.cast(x, 'int32').print();
// result ==> [1, 2, 3]

console.log(x.

[2018-07-26 05:13] nkreeger commented on #540
@DABH something looks off - do you mind hosting this entire project on GitHub and sharing the link here?

[2018-07-26 06:19] maulberto3 commented on #548
I'd very much welcome Windows, and Node, support.

[2018-07-26 09:26] 116050423 opened #550 "tensorflowjs_converter Object Detection API Model failed: dtype bool not supported"
To get help from the community, check out our [Google group](https://groups.google.com/a/tensorflow.org/forum/#!forum/tfjs).

#### TensorFlow.js version
tensorflowjs_converter --version
Using TensorFlow backend.

tensorflowjs 0.5.4

Dependency versions:
  keras 2.1.6
  tensorflow 1.9.0

#### Browser version
N/A
#### Describe the problem or feature request
@pyu10055 I followed your converter relate

[2018-07-26 09:58] 116050423 commented on #550
You can download the models here:
https://github.com/tensorflow/models/blob/master/research/object_detection/g3doc/detection_model_zoo.md

[2018-07-26 10:17] wr1472 commented on #548
@nkreeger thanks for linking my other ticket to this. Is there an ETA on when saving on windows will be released?

[2018-07-26 11:49] bileschi commented on #550
@pyu10055 do you see some avenue for debugging here?

[2018-07-26 11:52] bileschi commented on #550
It looks like the dtype `bool` should be supported, based on line 24:
[code]
Is the weight somehow a raw bool, instead of an np.array of bools?

[2018-07-26 12:14] bileschi commented on #549
`tf.cast(x. 'int32');` returns a new tensor.  it does not modify x.

[code]
prints
[code]

Does this solve your issue?

[2018-07-26 12:17] bileschi commented on #550
FYI, this recent PR in converter might be relevant:
https://github.com/tensorflow/tfjs-converter/pull/186

[2018-07-26 12:32] bileschi commented on #493
Wasn't involved in the posenet work , but it's probably a semantics thing.  We should take it as "the person's left eye" not "left as we look at the person".

[code]

[2018-07-26 13:20] nsthorat commented on #493
@oveddan to confirm

[2018-07-26 13:32] nkreeger commented on #541
@DABH is this related to https://github.com/tensorflow/tfjs/issues/540 ?

[2018-07-26 13:35] ToonTalk commented on #493
I just experimented where only left eye was visible in the camera and it reported with 99% confidence that my right eye was visible.

[2018-07-26 15:45] nsthorat commented on #519
@piyu10055 can you look into this error?

[2018-07-26 16:18] 116050423 commented on #550
Update.
I download the source code and build the latest converter, seems can be converted.
But when I load the model using JavaScript, I meet below error, still dtype bool issue.
The reproduce procedure is simple.
Converte ssd_mobilenet_v1_coco_2018_01_28 and then load it.
I supplied the download url above.

tf-core.esm.js:227 Uncaught (in promise) Error: Weight Postprocessor/BatchMultiClassNonMax

[2018-07-26 18:04] nsthorat commented on #36
Closing this since we launched tfjs-node. Also, @nkreeger, it would be good to respond to @rchipka since I think you are already thinking along these lines.

[2018-07-26 18:04] #36 closed

[2018-07-26 18:05] nsthorat commented on #45
Closing this out -- any discussions can move over to the community discussion mailing list.

[2018-07-26 18:05] #45 closed

[2018-07-26 18:10] nsthorat commented on #107
This is done, via tf.disposeAllVariables() or directly calling dispose on a variable.

[2018-07-26 18:10] #107 closed

[2018-07-26 18:11] nsthorat commented on #113
This is completely by @dsmilkov as of 0.12.0.

[2018-07-26 18:11] #113 closed

[2018-07-26 18:11] #115 closed

[2018-07-26 18:12] #116 closed

[2018-07-26 18:18] DABH commented on #541
Potentially -- it is another error I'm getting with the same setup, but not sure if the root cause is the same or not.  (Is jsdom etc. only invoked from the webgl backend?)  Feel free to close and track just under #540 if you prefer :)

[2018-07-26 18:38] DABH commented on #540
Here you go! https://github.com/DABH/tftest

(Un)Fortunately I get the same errors with this simple test project.  Run `yarn` to get packages and then `jest ./BasicTests.ts` to try to test.  Hope it's helpful, would love to get to the bottom of this!  Thanks!

[2018-07-27 03:13] nsthorat opened #551 "Investigate using integer textures with IEEE 754 float encoding."
Recently we disabled integer texture mode (which was using fixed point precision) in favor of half floats on iOS.

However, there are still many devices which do not support the OES_texture_float extension, like Raspberry Pis (see [this thread](https://groups.google.com/a/tensorflow.org/forum/?utm_medium=email&utm_source=footer#!msg/tfjs/kkRGiQy_lu0/PABzWktoCAAJ)) and Mali T720 GPUs like on Androi

[2018-07-27 05:12] indutny opened #552 "Neither LSTMCell nor RNNCell are exported in `.d.ts` file"
#### TensorFlow.js version

0.12.3

#### Browser version

Node 10.5.0

#### Describe the problem or feature request

Documentation says that `tf.RNNCell` is a return type of `tf.layers.lstmCell`. However, neither `RNNCell` nor `LSTMCell` are exported.

#### Code to reproduce the bug / link to feature request

[code]

[2018-07-27 08:14] Arunes007 commented on #188
Please add support for these operations also.
Unsupported Ops in the model
AudioSpectrogram, DecodeWav, Mfcc

[2018-07-27 10:26] 116050423 opened #553 "tf-core.esm.js : unknown dtype bool"
To get help from the community, check out our [Google group](https://groups.google.com/a/tensorflow.org/forum/#!forum/tfjs).

#### TensorFlow.js version
tensorflowjs_converter --version
Using TensorFlow backend.

tensorflowjs 0.5.4

Dependency versions:
keras 2.1.6
tensorflow 1.9.0

#### Browser version
N/A

#### Describe the problem or feature request
I use the latest tensorflowjs_converter(build

[2018-07-27 12:56] simonefrancia commented on #74
Hi,
recently we tried to convert a tf SessionBundle to tfjs, but we got this problem.

[code]
Thanks

[2018-07-27 12:57] loretoparisi commented on #539
@Jylomaki good solution! I'm having the same issue with other operations like`MatrixBandPart, RandomShuffleQueueV2, QueueDequeueManyV2, BatchMatMul`. Any idea for these ones?

[2018-07-27 13:05] loretoparisi commented on #255
@hmartiro @dsmilkov Other operations missing

- MatrixBandPart
- RandomShuffleQueueV2
- QueueDequeueManyV2

[2018-07-27 14:32] caisq commented on #552
@indutny Thanks for reporting this issue. We will export `RNNCell` as `tf.layers.RNNCell` and export `RNN` as `tf.layers.RNN`.

[2018-07-27 14:59] Jylomaki commented on #539
Well I don't use those ops, so I quite know about those.

It won't fix your problem but have you made an issue about this? It seems, the op they handle implement are the ones asked by people.

[2018-07-27 15:00] indutny commented on #552
Thanks!

[2018-07-27 15:20] flyfj commented on #161
seem the changes haven't been added to converter. would love to see it to support converting more models.

[2018-07-27 15:48] rodrigob commented on #161
According to the history at
https://github.com/tensorflow/tfjs-converter/commits/master

tfjs-converter version  0.5.4 should already support these operations.
Are you sure you updated the converter ?

[2018-07-27 15:53] aman-tiwari opened #554 "Add tf.image.rotate"
#### Describe the problem or feature request
Add `tf.contrib.image.rotate(img, angle)`

[2018-07-27 16:39] #552 closed

[2018-07-27 20:56] DABH commented on #541
I've been investigating this further and am concluding the cause is basically the same as #540 -- I'll post my findings there in a bit.  Thanks!

[2018-07-27 20:56] #541 closed

[2018-07-27 23:29] WOLFI3654 opened #556 "Spelling mistake on js.tensorflow.org"
I hope that is the right place to put this discovery.
On the page [Model-save-load](https://js.tensorflow.org/tutorials/model-save-load.html) it says `"Trigger file **downlads** (Browser)"` under Saving tf.model
I think it is obvious that this should be _downloads_.

I was not able to find any reference to a Github page for the website so this repository was the closest thing I could find so it ca

[2018-07-27 23:33] pyu10055 commented on #516
Where, NonMaxSuppressionV2, Assert, TopKV2 are all supported now.

Only left one is CropAndResize.

[2018-07-28 01:01] caisq commented on #556
@WOLFI3654 Thanks for reporting the issue. Feel free to send a pull request to fix it.

[2018-07-28 19:20] Firenze11 opened #557 "UglifyJs error during build"
I use tfjs in a Webpack project and got this error message during build:
[code]
I don't have dependency on UglifyJs in my project, so I assume this is a problem internal to tfjs.

#### TensorFlow.js version
`"@tensorflow/tfjs": "^0.11.7"`

[2018-07-28 19:30] hpssjellis opened #558 "Feature Request: Simplify Keras model.fit early exit"
Presently to exit a model.fit function you need to make a new class, and call it in the callbacks while training. See [Codepen](https://codepen.io/caisq/pen/xzMYZx?editors=1010) by @caisq

Look for the code:

[code]

and then while training the code is

[code]

The main call from the new class is simply

[code]

but that code does not work from a simple "onEpochEnd" callback from within training.

[2018-07-29 03:37] caisq commented on #511
@bielanm FYI, the latest release of the pip package of tensorflowjs (0.5.4) incorporates the fix to your 2nd issue.

[2018-07-29 23:59] dsmilkov commented on #550
The bool support on the `tfjs-converter` side was added in https://github.com/tensorflow/tfjs-converter/pull/186 (released in `tfjs-converter 0.5.5`), while the support on the `tfjs-core` side was added in https://github.com/tensorflow/tfjs-core/pull/1190 (released in `tfjs-core 0.12.8`).

I'll close this issue but let me know if this is still relevant once you try with those versions.

[2018-07-29 23:59] #550 closed

[2018-07-30 00:02] dsmilkov commented on #553
Duplicate of #550. See https://github.com/tensorflow/tfjs/issues/550#issuecomment-408715309

[2018-07-30 00:02] #553 closed

[2018-07-30 00:29] DABH opened #559 "Silence CPU feature warnings?"
#### TensorFlow.js version

tfjs 0.12.3
tfjs-node 0.1.9

#### Browser version

Node 10.6.0

#### Describe the problem or feature request

When I run some code using tfjs+tfjs-node, I get warnings like
[code]
(sorry, for some reason my code is truncating the warnings).  I guess the point is that the tf build included with tfjs/tfjs-node isn't taking advantage of all the CPU features available on my

[2018-07-30 00:57] hiyashichuka commented on #556
Excuse me for cutting in.
Please tell me where "Model-save-load  Page" is mentioned in the Github.

me too.

[2018-07-30 14:12] caisq commented on #558
Thanks for filing this issue, @hpssjellis. I agree that this will be a worthy enhancement. I will work on this when I have cycles.

[2018-07-30 14:37] tafsiri commented on #556
@WOLFI3654 @hiyashichuka, here is a link to the website repo https://github.com/tensorflow/tfjs-website, and to that page in particular if you want to make a pull request. https://github.com/tensorflow/tfjs-website/blob/master/source/tutorials/model-save-load.md

Thanks!

[2018-07-30 15:32] #473 closed

[2018-07-30 17:02] caisq opened #560 "mnist-node example: backend.select is not a function"
To get help from the community, check out our [Google group](https://groups.google.com/a/tensorflow.org/forum/#!forum/tfjs).

#### TensorFlow.js version
0.12.4

The example here is not working properly:
https://github.com/tensorflow/tfjs-examples/tree/master/mnist-node

When I add `yarn` followed by `node index.js`, I get the following error:

    at environment_1.ENV.engine.runKernel.$condition (

[2018-07-30 17:03] caisq commented on #560
FYI @nkreeger

[2018-07-30 19:07] caisq opened #561 "Remove tslint:disable:max-line-length in tfjs-layers"
To get help from the community, check out our [Google group](https://groups.google.com/a/tensorflow.org/forum/#!forum/tfjs).

#### TensorFlow.js version
HEAD

See tslint.json file at: https://github.com/tensorflow/tfjs-core/blob/master/tslint.json#L29

[2018-07-30 20:50] tommedema commented on #560
I get the same:

`yarn add @tensorflow/tfjs @tensorflow/tfjs-core @tensorflow/tfjs-node`

With the following function:

[code]

Results in:
`TypeError: backend.select is not a function`

When run like so:

[code]

FWIW, also getting a `2018-07-30 17:46:05.489358: I tensorflow/core/platform/cpu_feature_guard.cc:140] Your CPU supports instructions that this TensorFlow binary was not compiled to use:

[2018-07-30 22:44] nsthorat commented on #191
I think this is fixed, right?

[2018-07-30 22:45] nsthorat commented on #161
This is now fixed, thanks for all the hard work everyone!

[2018-07-30 22:45] #161 closed

[2018-07-30 22:45] nsthorat commented on #148
These should all be supported now. Let me know if you have any further issues.

[2018-07-30 22:45] #148 closed

[2018-07-30 22:46] #231 closed

[2018-07-30 22:46] nsthorat commented on #210
Is this still flaking? If not, can we close this?

[2018-07-30 22:48] nsthorat commented on #249
Thanks for all the hard work!

[2018-07-30 22:48] #249 closed

[2018-07-30 22:48] nsthorat commented on #290
This can be closed, right?

[2018-07-30 22:50] #292 closed

[2018-07-30 22:54] #385 closed

[2018-07-30 22:55] nsthorat commented on #442
This should be fixed now, thanks @zboldyga

[2018-07-30 22:55] #442 closed

[2018-07-30 22:56] nsthorat commented on #475
This was fixed by Daniel.

[2018-07-30 22:56] #475 closed

[2018-07-30 23:06] caisq commented on #191
Right. Thanks for checking, @nsthorat

[2018-07-30 23:06] #191 closed

[2018-07-30 23:11] bileschi commented on #210
Do we have history for detecting flakes?

On Mon, Jul 30, 2018 at 6:46 PM, Nikhil Thorat <notifications@github.com>
wrote:

--
Stan Bileschi Ph.D.  |   SWE  |  bileschi@google.com |  617-230-8081

[2018-07-31 02:00] jgartman commented on #329
I can give this a shot if no one has started up with it yet.

[2018-07-31 02:41] hiyashichuka commented on #556
@tafsiri @caisq
I sent a pull request. Please validate it
https://github.com/tensorflow/tfjs-website/pull/185

[2018-07-31 02:42] #556 closed

[2018-07-31 03:31] hiyashichuka commented on #561
If there is no one else, I would like to work on this issue.

[2018-07-31 04:38] hiyashichuka commented on #561
Sorry, Please let me make sure if my understanding in the following is correct.

example tfjs-layers/src/index.ts

`// This file lists all exports of TensorFlow.js Layers`
`// tslint:disable:max-line-length    → delete line `
`import * as constraints from './exports_constraints';`
`import * as initializers from './exports_initializers';`
`import * as layers from './exports_layers';`

Delete some l

[2018-07-31 12:39] zaidalyafeai opened #562 "Wrong predictions when using BatchNormalization with training flag set"
To get help from the community, check out our [Google group](https://groups.google.com/a/tensorflow.org/forum/#!forum/tfjs).

#### TensorFlow.js version
latest
#### Browser version
Version 66.0.3359.139
#### Describe the problem or feature request
Batchnorm has wrong predictions when setting training = 1
#### Code to reproduce the bug / link to feature request
I created this simple keras model
[co

[2018-07-31 15:39] nsthorat opened #563 "Add timing information to tf.profile()"
A `tf.profile()` would take a function, similar to `tf.time()` but would give rich information about the function being profiled, like memory information (peak, average, new allocations), timing information (total kernel time), and possibly a list of kernels.

For the first pass, let's just compute memory information.

For example:

[code]

Then, `profile` would be an object looking like:
[code]

[2018-07-31 15:44] gimox commented on #494
not fixed Yet!

[2018-07-31 15:45] hiyashichuka commented on #561
@nsthorat Thank you! If there is no one else,  I would like to work on this issue.

[2018-07-31 16:15] nsthorat opened #564 "Pack texture memory into RGBA instead of just using the R channel."
Currently, we only use the R channel when we write to memory. In WebGL 1.0, this means we waste 3 * 4 = 12 bytes for every value in our Tensor. In WebGL 2.0, we use R32F which only allocates memory for the R channel, however we don't optimally use the texture memory cache.

Charles wrote a prototype of a packed matrix multiple, where we use all 4 floating point color values in each pixels, packing

[2018-07-31 16:43] nsthorat opened #565 "Add a complex64 dtype."
We need this dtype for signal processing, specifically for FFTs for audio, or 2D FFTs for images (if we ever want to do the new fancy decorrelated differential image transformations in this distill [paper](https://distill.pub/2018/differentiable-parameterizations/)).

Since we want this to work in Node.js, we will add a dtype for complex64.

All of the supporting logic will be pushed into the back

[2018-07-31 16:54] nsthorat opened #566 "Update to TypeScript 3.0 and modularize the build."
See blogpost about TS 3.0: https://blogs.msdn.microsoft.com/typescript/2018/07/30/announcing-typescript-3-0/

We can put a tsconfig in each directory, add `composite` and `references` fields, and we'll have a much faster build (this will be useful for unit test iteration).

[2018-07-31 16:59] hiyashichuka commented on #561
@nsthorat Thank you! If there is no one else, I would like to work on this issue.

[2018-07-31 17:09] nsthorat commented on #561
Go for it :)

On Tue, Jul 31, 2018 at 12:59 PM HiyashiChuka <notifications@github.com>
wrote:

[2018-07-31 17:09] dsmilkov commented on #565
Would be great to implement a simple op along with this work. E.g. expand tf.add() to work with complex dtypes. This will help get a sense of the changes and how we gradually generalize existing ops.

[2018-07-31 17:23] dsmilkov opened #567 "Add support for tensors with 0 in shape"
TF Python supports tensors that have `0` in their shape (e.g. a 3D tensor with shape `[1,0,5]`).

Tensors with `0` in their shape have no elements, but broadcasting and concating should still work. E.g. concating `[0,N]` with `[5,N]` should return `[5,N]`, and summing `[0,N]` with `[1,N]` should give `[0,N]` (broadcasting `0` with `1` results in `0`).

**Why have `0` in shapes?**
The need arises i

[2018-07-31 17:55] hiyashichuka commented on #561
@nsthorat @caisq

I sent a pull request. Please validate it

1. tfjs-core　
       - All checks have passed
          https://github.com/tensorflow/tfjs-core/pull/1195

2. tfjs-layers
       - Some checks were not successful　
       - Because 1 not merged
       - I'm sorry, Please tell me how to fix
`ERROR: (max-line-length) /home/travis/build/tensorflow/tfjs-layers/src/errors.ts[17, 1]: Exceeds m

[2018-07-31 18:24] seranus opened #568 "Appends domain name when loading wights"
When loading weight json from a different domain, tensorflow will append the domain name of the site to the shard url, it becomes a issue when the wight files are stored on a different server

It only happens when the site is hosted not on localhost

[2018-07-31 19:00] caisq commented on #560
Also cc @kangyizhang

[2018-07-31 19:18] smith-kyle commented on #465
It appears that `Model` now has both instance methods `setWeights` and `getWeights`.

Is this the equivalent of getting each layer's weights individually and setting them individually?

[2018-07-31 20:00] dsmilkov commented on #566
Let's hold off until we have internal support (google3 infra)

[2018-07-31 21:38] nsthorat commented on #568
Can you show the line of code you are using the load the model?

[2018-07-31 22:00] kangyizhang commented on #560
This should because of some ops updates in tfjs-core KernelBackend. I'm updating NodeJSKernelBakcend to fix it.

[2018-07-31 22:10] nsthorat commented on #560
Just to diagnose this a little more, this is because of the loose versioning here:
https://github.com/tensorflow/tfjs-node/blob/master/package.json#L42

Every time we add a kernel backend and update, you'll break. I wonder if this should be an exact version. cc @dsmilkov

[2018-07-31 22:36] seranus commented on #568
i found what's causing the error, // is being removed from the url so the urls changes to http:/url

[2018-07-31 22:45] hiyashichuka commented on #561
@nsthorat Thank you.
I am sorry that I didn't understand your intentions correctly.

I would like to confirm the work plans.

1. Close pull request
tensorflow/tfjs-core#1195

2. change " tslint.json of layers" to  " tslint.json of HEAD in core".
modify pull request
tensorflow/tfjs-layers#276

Is that correct？

[2018-07-31 22:46] nsthorat commented on #561
Correct :)

[2018-08-01 02:03] hiyashichuka commented on #561
@nsthorat
I fixed the problems that you pointed out.
https://github.com/tensorflow/tfjs-layers/pull/276

[2018-08-01 09:18] 116050423 opened #569 "Error: TensorArray dtype is float32 but tensor has dtype undefined"
To get help from the community, check out our [Google group](https://groups.google.com/a/tensorflow.org/forum/#!forum/tfjs).

#### TensorFlow.js version
[code]
#### Browser version
[code]
#### Describe the problem or feature request
[code]
#### Code to reproduce the bug / link to feature request
[code]
@dsmilkov
[code]

[2018-08-01 14:10] #567 closed

[2018-08-01 15:29] oveddan commented on #534
I have not actually ran this on node yet but I was planning to in the near future, so would like to get this issue resolved.  Have you verified that the image that your loading has the same value in it's tensor on both node and in the browser?

[2018-08-01 17:56] dsmilkov opened #570 "Add a flag to tfjs-converter: --split_weights_by_layer"
**Problem**
We ran across a Keras model that has 174 tiny layers, resulting in 174 weight files of the form `group*-shard1of1`. This slows down model loading.

**Proposed solution**
By default, we should create only one weight group and add an optional boolean flag to the tfjs_converter script `--split_files_per_layer`.

[code]

This flag will only be valid for a Keras model. Other suggestions wel

[2018-08-01 18:00] nsthorat commented on #570
I actually wonder if this should be the default (not putting each layer in their own group). If someone wants to break up weights by layer, they can choose to do that explicitly. I think the case of downloading a subset of weights is much less important than not shipping 174 separate files.

And relevant link where this needs to be changed:
https://github.com/tensorflow/tfjs-converter/blob/master/

[2018-08-01 18:02] dsmilkov commented on #570
I agree with you! You have to be an advanced user with a unique user-case to want to split per layer :)

[2018-08-01 18:19] nkreeger opened #571 "Add the ability to provide custom-built libtensorflow binary"
Users should be able to roll-their-own libtensorflow binary to optimize for the hardware they are running on.

This issue will track this feature.

[2018-08-01 18:19] #559 closed, assigned to nkreeger

[2018-08-01 19:05] joaqo opened #572 "Is there a way to export the serialized posenet model, in order to import it into python tf"
Hey, I've been tinkering with the amazing posenet webapp you guys released, and was recently trying to export the model in order to import it into python keras/tf. I could download the weights and the manifest file, but the latter is missing the `modelTopology` data, so I don't have information about the graph's structure.

I see that tensorflowjs seems to be strictly imperative, as I could not fi

[2018-08-01 19:27] nsthorat commented on #572
There is no underlying tf.Model instance, we do a custom forward pass using loadWeights directly. This is because we cannot parameterize some of the arguments to the convolution at runtime (and thus have to have a custom forward pass to do so). cc @pyu10055 since we talked about this on another thread.

Unfortunately this means you'd have to do it "by hand", since we also did it "by hand". cc @ove

[2018-08-01 19:29] SuryaL commented on #534
I did notice that in the function `toInputTensor` the output of `tf.fromPixels(input)` is the same on both cases, however, the output of `imageTensor.resizeBilinear([resizeHeight, resizeWidth])` in the node case has floating point numbers and in the browser case it has no floating point numbers.

I further tested with imageScaleFactor=1 and removing resizeBilinear in both cases, It still does not

[2018-08-01 19:33] caisq commented on #570
@dsmilkov Woah - 174 files is obviously too many. I agree this needs to be fixed. Thanks for filing this issue. We'll prioritize this.

[2018-08-01 22:08] hiyashichuka commented on #561
@nsthorat
I got approval from @caisq.
Forgive me for stealing your time. Please validate it
tensorflow/tfjs-layers#276

[2018-08-02 00:45] hiyashichuka commented on #561
@nsthorat
I fixed the problems that you pointed out.
Forgive me for stealing your time. Please validate it
tensorflow/tfjs-layers#276

[2018-08-02 01:27] oninross opened #573 "tfjs-core 0.12.8 causes "delay" giving proper results"
#### TensorFlow.js version
"@tensorflow/tfjs": "^0.11.2",
"@tensorflow/tfjs-converter": "^0.5.6",
"@tensorflow/tfjs-core": "^0.12.8",

#### Browser version
Desktop - Chrome 68
Mobile - Chrome 67

#### Describe the problem or feature request
Prior to upgrading tfjs-core, the process was working smoothly.  A user takes a picture of an image, it will identify the image accordingly.  No problem.

Afte

[2018-08-02 01:51] pyu10055 commented on #535
the fix has been pushed.

[2018-08-02 01:51] #535 closed

[2018-08-02 02:11] pyu10055 commented on #519
@Jylomaki can you share the model that produce this error? thanks.

[2018-08-02 03:01] 116050423 commented on #557
Uglify is Webpack's default config in  'production' mode.
I think you should not build tfjs node_module, just ignore it ....
I also use webpack and it works well.

[2018-08-02 04:35] oninross commented on #573
All good now.  I was doing `self.mobileNet.predict(self.IMAGE)` without doing a `then()` which screwed up the prediction timing.

[2018-08-02 04:35] #573 closed

[2018-08-02 12:13] wookoouk commented on #560
What is the temporary fix for this? Use specific tfjs and tfjs-node versions?

[2018-08-02 13:27] oveddan commented on #572
Soon after the time PoseNet was launched, @mbotsu created a converter back to Python, and got it working in CoreML:
https://github.com/infocom-tpo/PoseNet-CoreML

Look at [tfjs2python.py](https://github.com/infocom-tpo/PoseNet-CoreML/blob/master/converter/tfjs2python.py)

Once the input is fed forward on this converted model in python, either single or multiple poses needs to be decoded from the o

[2018-08-02 14:20] 116050423 commented on #569
Can anybody help?

[2018-08-02 14:49] dsmilkov commented on #94
Fixed in #1172. Folks, feel free to reopen a new issue about speeding up TopK on GPU specifically.

[2018-08-02 14:49] #94 closed

[2018-08-02 15:29] nkreeger commented on #569
@pyu10055 Was this fixed in the converter? Feel free to reassign if I'm reading this wrong.

[2018-08-02 17:04] ArthDh commented on #465
@smith-kyle Yes, provided the arrays you pass as list to ```set_weights()```  are the same shape as those returned by ```get_weights()```

[2018-08-02 17:09] ArthDh commented on #465
Yes, for ```model.setWeights()```  weights Should be a list of Tensors with shapes and types matching that of ```model.getWeights()```.

[2018-08-02 19:12] nsthorat commented on #75
We are going to expose this after we release, relevant methods were exported in this PR (thanks @aman-tiwari) https://github.com/tensorflow/tfjs-core/pull/1202

We'll add a tutorial soon on how to do this.

[2018-08-02 19:37] kangyizhang commented on #560
It's fixed by tfjs-node 0.1.10

[2018-08-02 19:37] #560 closed

[2018-08-02 20:07] dsmilkov commented on #569
cc @pyu10055

Hi! There are several fixes coming up in the next few days to tfjs-converter which will make sure that the ssd_mobilenet_coco models run in TensorFlow.js. The working branch with the fixes is [here](https://github.com/tensorflow/tfjs-converter/tree/coco-ssd). Stay tuned.

[2018-08-02 20:16] dsmilkov commented on #75
Should we close this issue, or keep to track the tutorial? @nsthorat @aman-tiwari

[2018-08-02 20:42] nsthorat commented on #75
Let's keep it open for the tutorial then we can close it

[2018-08-02 20:46] #504 closed

[2018-08-02 21:09] hiyashichuka commented on #561
@nsthorat
I removed `// tslint:enable:max-line-length`
Please validate it
tensorflow/tfjs-layers#276

[2018-08-02 22:32] Firenze11 opened #574 "kMeans in tfjs"
I'm thinking about contributing some k-Means algorithm code I've written in tfjs. Since there are no existing clustering models in tfjs, I guess it could be helpful for users who don't want to write from scratch. Need some pointers about where this piece of code should live.

[2018-08-02 23:29] #554 closed

[2018-08-02 23:43] aman-tiwari commented on #75
Tutorial at https://github.com/tensorflow/tfjs-website/pull/186

[2018-08-03 01:20] caisq opened #575 "Clean up: Remove imports from package-internal modules"
E.g., import { ... } from '@tensorflow/tfjs-layers/dist/...;

#### TensorFlow.js version
0.12.4

[2018-08-03 02:08] 116050423 commented on #557
@dsmilkov I think this issue can be closed.

[2018-08-03 06:50] zboldyga commented on #470
@dsmilkov Rad, thanks!

I believe the cpu kernel implementation is complete - adding some more unit tests this weekend and will open a PR soon.

I also implemented the webGL kernel and ran into a few bumps as the language is a bit foreign to me. I'm going to try a few more things, but might add some comments in the PR to seek guidance from someone that has experience with webGL.

Will follow up in

[2018-08-03 07:58] Jylomaki commented on #519
https://drive.google.com/open?id=1W-bxKijG5xhJ7fFkoTDGhZUdpXWIkpfj
It is a regressor based upon mobile_net_096.
Expected input should be of type: `([1,96,96,3],tf.float32)`

[2018-08-03 08:15] Yorkerman opened #576 "I dont know how to convert ckpt file to pb file"
To get help from the community, check out our [Google group](https://groups.google.com/a/tensorflow.org/forum/#!forum/tfjs).

#### TensorFlow.js version

#### Browser version

#### Describe the problem or feature request

#### Code to reproduce the bug / link to feature request

[2018-08-03 09:51] rouismia opened #577 "Error: Unknown layer: Permute"
keras transpose operation Permute can't use on tensorflow.js

It isn't  implemented yet?

[2018-08-03 13:26] caisq commented on #577
@rouismia Thanks for filing this issue. We will get it implemented soon.

[2018-08-03 13:55] caisq commented on #561
Fixed by https://github.com/tensorflow/tfjs-layers/pull/276

Thanks a lot, @hiyashichuka !

[2018-08-03 13:55] #561 closed

[2018-08-03 16:40] nkreeger opened #578 "Can't publish `@tensorflow/tfjs-node` package on non-CUDA Linux systems"
The package/publish flow for `@tensorflow/tfjs-node` and `@tensorflow/tfjs-node-gpu` is pretty simple, but currently requires having all the CUDA binaries and a Linux system to roll out a release.

For some context, the GPU package only does two things:
1. Changes the package.json file to use the package name `@tensorflow/tfjs-node-gpu`.
2. Updates the current `download-libtensorflow.sh` script to

[2018-08-03 20:09] #577 closed

[2018-08-04 01:48] smith-kyle commented on #545
Can confirm that running with `jest` can cause this error to throw:
[code]

[2018-08-04 13:03] icysapphire commented on #519
Same problem here.
Correctly converted model (with tfjs-converter) but no way to use it with tfjs.

[2018-08-04 14:51] caisq commented on #574
cc @dsmilkov @nsthorat I think having an implementation of the k-means clustering algorithms in tfjs will be nice and useful. I think the best place for it to live is probably the https://github.com/tensorflow/tfjs-models repo. The organization can be similar to the knn-classifier.

@Firenze11 thanks for the proposal. Are you thinking of an API similar to this? https://www.tensorflow.org/api_docs/

[2018-08-04 19:07] br3nd4n opened #579 "Unsupported Op request BatchMatMul, Prod, ListDiff"
Per request to file in the documentation, and as a cursory search did not bear fruit;
it would be lovely if the "BatchMatMul", "Prod" and "ListDiff" ops were implemented.
Thanks!

TensorFlow.js version: Github 2 weeks ago(?)
Describe the problem or feature request: My model uses unsupported ops so can't be converted
Code to reproduce the bug / link to feature request: Modified tacotron rnn, most i

[2018-08-05 03:39] #570 closed

[2018-08-05 06:10] pyu10055 commented on #337
if it is saved model, we can print out all the signatures.

[2018-08-05 09:29] greengis commented on #548
Very helpful +1

[2018-08-06 11:36] WinterTaoTao opened #580 "execute() / excuteAsync() bug"
When I tried to implement a model converted from tensorflow frozen model, the execute() method gave me an Error said

[code]

But when I replaced the execute() method with executeAsync(), it gave me an Error said

[code]

Any idea about what happened?

[2018-08-06 15:51] joaqo commented on #572
Thanks everyone! I will try and convert the tf.js functions to python and see if I can get mbotu's port working!

[2018-08-06 17:50] asross opened #581 "`tf.concat` incorrectly handles empty tensors"
To get help from the community, check out our [Google group](https://groups.google.com/a/tensorflow.org/forum/#!forum/tfjs).

#### TensorFlow.js version

[code]

#### Browser version

Chrome Version 68.0.3440.84

#### Describe the problem or feature request

`tf.concat` (and possibly other operations) incorrectly handle tensors with 0 elements but well-defined shapes. This prevents us from iterati

[2018-08-06 20:12] dsmilkov opened #582 "Optimize CPU Backend"
There is a lot of low-hanging fruit in MathBackendCPU - any kernel that uses `tensor.get()` should use flat index to access values. max/avgPool is one example.

See https://github.com/tensorflow/tfjs-core/pull/1210 which optimizes conv2d and other ops for reference.

Here is an example that benchmarks matmul() (modify for your op):

[code]

External contributions are welcome!

[2018-08-06 21:42] isaac-lapworth opened #583 "tensorflow-posenet installation fails"
#### TensorFlow.js version
v0.12.0

#### Browser version
Chrome v68

#### Describe the problem or feature request
Tried installing posenet via npm for use in my project. When installing the latest version (0.2.0) using npm install @tensorflow-models/posenet the postinstall script fails on running the command `yarn update --pattern @tensorflow`. This gives the error:
[code]
After running yarn insta

[2018-08-06 22:16] #580 closed

[2018-08-07 02:38] #533 closed

[2018-08-07 04:32] VariableVasasMT commented on #117
picking up this issue

[2018-08-07 07:51] justadudewhohacks opened #584 "optimizer.minimize + tf.maximum breaks tf.memory().numBytes counter"
#### TensorFlow.js version
- tfjs-core 0.11.9
- tfjs-core 0.12.9

#### Browser version

- chrome 67.0.3396.99 (64-Bit)
- firefox 61.0.1 (64-Bit)

#### Describe the problem or feature request

There seems to be some memory leak in `optimizer.minimize`, no matter if I use adam or sgd:

[code]

After some time, chrome memory usage grows higher than multiple GB. Logging `tf.memory()` furthermore revea

[2018-08-07 13:38] caisq commented on #117
@VariableVasasMT Thanks for volunteering. Please note that the code for dropout exists in the tf.layers.Dropout layer in the tfjs-layers repo. I think the code can be migrated to tfjs-core with relatively minor changes.

[2018-08-07 14:56] Lewuathe commented on #565
@nsthorat @dsmilkov Do you think this blocks https://github.com/tensorflow/tfjs-core/pull/1191? If so, I want to try this because it's related to spectral ops I implemented.

On the other hand, I think we can support `complex64` later in other ops. In this ticket, just providing a simple example how to generalize with `complex64` like you said for `tf.add()` is sufficient. So supporting `comlex64`

[2018-08-07 15:02] nsthorat commented on #565
Yes, it blocks it. I am not quite done yet, there are a few things I haven't quite figured out. For this, I plan on supporting add, subtract, and multiply. tf.fft() should take a complex64 tensor and return a complex64 tensor, since this is what TensorFlow does (when we bind via Node.js, we need to have exact parity).

If you want to take a look at this now, you will likely model your complex FFT

[2018-08-07 15:07] Lewuathe commented on #565
Thanks for letting me know the current information. I’ll take a look binaryop_complex_gpu then.

[2018-08-07 15:11] nsthorat commented on #565
Oops, I actually thought you were commenting on my PR. Here it is: https://github.com/tensorflow/tfjs-core/pull/1213

[2018-08-07 16:56] Shawn-Shan commented on #580
Can you guys push this version on NPM?

[2018-08-07 18:27] tafsiri opened #585 "Add link to gallery.md to website"

[2018-08-07 19:14] smith-kyle commented on #465
I'm getting the error `Input Tensor ID not referenced` when running `predict` on a model that has had its weights set.
[code]

[code]

Same error is thrown when using
[code]
before calling `predict`

[2018-08-07 20:31] pyu10055 commented on #576
@Yorkerman Your file might be in the session bundle format, can you check if the directory contains following files:
00000000/   // timestamp, yours could contain any random numbers
         assets/
         export.meta
         export-?????-of-?????

If that is the case, you can use [tfjs-converter](https://github.com/tensorflow/tfjs-converter) and following command to convert to tfjs format:

te

[2018-08-07 21:16] jantonysolstice commented on #550
I'm having the same problem on 0.5.6 and 0.12.9, ```to-object.js:6 Uncaught (in promise) Error: Weight Postprocessor/BatchMultiClassNonMaxSuppression/map/while/PadOrClipBoxList/cond_3/cond/switch_f has unknown dtype bool```

[2018-08-07 21:56] pyu10055 commented on #229
@chenjin3 can you confirm this issue with the latest converter? closing this issue for now,  please feel free to reopen if it still does not work. thanks.

[2018-08-07 21:56] #229 closed

[2018-08-07 23:44] Lewuathe commented on #565
Ah I overlooked the PR. Thanks!

[2018-08-08 01:36] zaidalyafeai commented on #562
The same problem happens in TensorFlow as well.

[2018-08-08 01:37] caisq commented on #562
@zaidalyafeai you mean tf.keras?

[2018-08-08 01:47] zaidalyafeai commented on #562
No, this definition

https://www.tensorflow.org/api_docs/python/tf/layers/batch_normalization

[2018-08-08 06:29] Neuroforge opened #586 "IIS Serves model incorrectly with causing inputcheck to fail"
To get help from the community, check out our [Google group](https://groups.google.com/a/tensorflow.org/forum/#!forum/tfjs).

#### TensorFlow.js version
TensorFlow 0.6.1

#### Browser version
Crhome 67 Windows

#### Describe the problem or feature request

When running my model on MacOS it works fine.

When running under Windows the checkInput fails with a mismatch.

Running locally under MaCOS -

[2018-08-08 08:17] dyw934854565 commented on #569
JS not support uint8? so model dtype set to undefined.

[2018-08-08 11:55] MattKovtun opened #587 "Add DeepTraffic to tensorflowjs website"
How about creating something simmilar to this
[MIT DeepTraffic](https://selfdrivingcars.mit.edu/deeptraffic/)
and adding this to website

Please add label "website"

[2018-08-08 12:28] jtomm commented on #569
I wonder if this is fixed already? I see some commits on the coco-ssd branch, but still seem to be getting this error. It could be that I'm doing something wrong though.

Any way to work around this?

[2018-08-08 19:08] siclait commented on #522
Hi @pyu10055 - is there any update on this / is it being worked on? I have the same use case as above (converting a graph built using `tf.nn.bidirectional_dynamic_rnn`). I'm also up for attempting the change if you haven't started yet.

[2018-08-08 19:58] #575 closed

[2018-08-08 20:33] pyu10055 commented on #586
This is interesting, did you convert the python model in windows or macOS?
the input name should be internal to the model file, the name should not be changed by the serving mechanism.

Can you share the model with us, so we can reproduce?

[2018-08-08 21:15] Neuroforge commented on #586
The model was converted in MacOS.

The files are all on this page. You can see the error here....
https://www.john-daniel-bell.com/TFDemo

Model files are here....
https://www.john-daniel-bell.com/data/tensorflowjs_model.pb
https://www.john-daniel-bell.com/data/group1-shard1of2
https://www.john-daniel-bell.com/data/group1-shard2of2

On Thu, Aug 9, 2018 at 8:34 AM Ping Yu <notifications@github.com>

[2018-08-09 00:46] zaidalyafeai commented on #562
@caisq, I am trying to understand the source code. Could you please explain to me what is broadcasting ?

[2018-08-09 14:13] bileschi commented on #465
Verified that this is reproducible in web:
tfjs: "0.12.4"
tfjs-converter: "0.5.5"
tfjs-core: "0.12.8"
tfjs-layers: "0.7.2"

[2018-08-09 14:31] bileschi commented on #465
This only happens when setting the weights after fitting a model.  Setting the weights before fitting the model works fine.

[2018-08-09 15:42] zaidalyafeai opened #588 "Better error mesage when the json file is not found"
To get help from the community, check out our [Google group](https://groups.google.com/a/tensorflow.org/forum/#!forum/tfjs).

#### TensorFlow.js version
latest
#### Browser version

#### Describe the problem or feature request
Better error message when the json file is not found instead of
`SyntaxError: JSON.parse: unexpected character at line 1 column 1 of the JSON data`
#### Code to reproduce th

[2018-08-09 19:37] brannondorsey commented on #23
I too am hoping this is supported soon. Last time I attempted to import an LSTM model that used stateful units from Keras I received not implemented errors. Is there a roadmap to include this feature in tfjs?

[2018-08-09 22:35] Gisgar3 opened #589 "Converting Prediction to String"
To get help from the community, check out our [Google group](https://groups.google.com/a/tensorflow.org/forum/#!forum/tfjs).

#### TensorFlow.js version
Latest
#### Browser version
*Not in browser; Node.JS*
#### Describe the problem or feature request
I am trying to convert my ``model.predict`` into a string, but am unsure how to do so. I know that ``.print()`` allows me to print my **tensor2d** i

[2018-08-10 00:57] dsmilkov commented on #550
I just tried it and not getting any error. Make sure you are using the 0.5.6 of tfjs_converter. The package lives on [pypi](https://pypi.org/project/tensorflowjs/).

To see which version you have run `tensorflowjs_converter --version`.
To upgrade, run `pip install tensorflowjs --upgrade`

[2018-08-10 01:12] dsmilkov commented on #550
Hi! Apologies for the premature answer. I just realized that while the fixes are in, we haven't yet released a new version of tfjs that contains those fixes. We'll release a new patch version most likely tomorrow.

[2018-08-10 11:33] xam-ps commented on #476
Problem was solved in Version 0.12.0

[2018-08-10 14:25] dsmilkov commented on #574
+1. That would be very useful. You have my full support!

[2018-08-10 14:42] dsmilkov commented on #545
Hi Kyle,

So the confirm the error is happening as soon as you call `tf.tensor1d([1, 2, 3])`? That would be very strange since [1, 2, 3] has a length field, at which point should should not error.

Can you share the stack trace and see exactly which lines in the code the error originates in? I haven't used jest, so something might be happening in that toolchain that confuses the library.

[2018-08-10 14:45] dsmilkov commented on #337
@pyu10055 That would be awesome! Great suggestion.

[2018-08-10 14:48] dsmilkov commented on #557
Thanks. Closed

[2018-08-10 14:48] #557 closed

[2018-08-10 14:51] brannondorsey commented on #102
It looks like the OffscreenCanvas API will be supported by default in the [upcoming Chrome 69 release and beyond](https://caniuse.com/#search=offscreencanvas). Once this occurs, what would be the necessary steps to get WebGL support in a web worker with tfjs?

[2018-08-10 15:09] dsmilkov commented on #584
Thanks for investigating this. Is there a chance you could share your repo with us? In the meantime, I'll try to reproduce this based on your pointers.

[2018-08-10 16:40] smith-kyle commented on #545
Here's the full test file with the stacktrace. This test is pulled straight from the Getting Started page
[code]

[code]

[2018-08-10 17:36] pyu10055 opened #591 "io.decodeWeights cause failure if the weight specs has non-32bit weights"
To get help from the community, check out our [Google group](https://groups.google.com/a/tensorflow.org/forum/#!forum/tfjs).

#### TensorFlow.js version
0.12.10
#### Browser version
chrome 68.0.3440.106
#### Describe the problem or feature request
if the weight contains 8 bit weight, the decodeWeights method would throw following errors:

Uncaught (in promise) RangeError: start offset of Float32Ar

[2018-08-10 17:53] justadudewhohacks commented on #584
Not sure if it helps, but here is the [tiny-yolov2-seperable-conv2d](https://github.com/justadudewhohacks/face-api.js/tree/tiny-yolov2-seperable-conv2d) branch I am currently working on, which is where I am facing the issue.

Basically the first issue occurs when backpropagating through the tiny yolov2 implementation with separable convolutions. The code for training is under `/tools/train/tinyYol

[2018-08-10 19:35] aman-tiwari opened #592 "Instanceof check fails in tf.Model.compile if two different versions are imported"
To get help from the community, check out our [Google group](https://groups.google.com/a/tensorflow.org/forum/#!forum/tfjs).

#### TensorFlow.js version
`~0.12`

#### Browser version
Chrome latest

#### Describe the problem or feature request

If I instantiate a model, and then pass it to a library that calls `model.compile`, passing in its own `tf.Optimizer`, the instanceof check in https://githu

[2018-08-10 21:20] jsumeet commented on #534
Any progress or updates on this issue? Were you able to reproduce this issue?

[2018-08-11 01:57] ProgrammingLife opened #593 "Can't install @tensorflow/tfjs-node-gpu"
#### TensorFlow.js version
Successfully installed: @tensorflow/tfjs-node@0.1.11
MacOS X 10.12.5
node v9.4.0

#### Describe the problem or feature request
When I run any node.js app that using tfjs I get:

But I've already have installed @tensorflow/tfjs-node@0.1.11 and it works fine. But when I try to install tfjs-node-gpu I get a message:
[code]

#### Code to reproduce the bug / link to feature r

[2018-08-11 02:02] nkreeger commented on #593
Check the README: https://github.com/tensorflow/tfjs-node

Mac OS does not support CUDA - only Linux w/ CUDA drivers are supported for the @tensorflow/tfjs-node-gpu package.

[2018-08-11 02:19] laurencamblackburn opened #594 "testing PoseNet on local files - 'pixels must be HTMLCanvasElement' error"
To get help from the community, check out our [Google group](https://groups.google.com/a/tensorflow.org/forum/#!forum/tfjs).

#### TensorFlow.js version
v0.12.0
#### Browser version
Node version 10.8.0
#### Describe the problem or feature request
I'm pretty new to node, so I apologize if this is a simple fix ... interested to see how PoseNet could be [converted to python](https://github.com/tensor

[2018-08-11 02:40] ProgrammingLife commented on #593
I use Hackintosh (with Nvidia GTX 980) so it have CUDA drivers installed and they are work in Adobe After Effects successfully.

[2018-08-11 03:43] ProgrammingLife opened #595 "Saving a model in MacOS X"
To get help from the community, check out our [Google group](https://groups.google.com/a/tensorflow.org/forum/#!forum/tfjs).

#### TensorFlow.js version
tfjs-node@0.1.11
MacOS X 10.12.5
node v9.4.0

#### Describe the problem or feature request
Trying to train a model and then save it with:
`await model.save('file:///./model');`

And I get a message:
`(node:2792) UnhandledPromiseRejectionWarning: E

[2018-08-11 04:03] caisq commented on #595
@ProgrammingLife  Did you import `tfjs-node` using a line such as `import '@tensorflow/tfjs-node'` or `require('@tensorflow/tfjs-node')`, in addition importing `@tensorflow/tfjs`?

[2018-08-11 05:08] nkreeger commented on #593
We don't ship a pre-built libtensorflow for Mac OS that has CUDA support. You can roll your own by:

1. Building libtensorflow with CUDA for Mac:
https://www.tensorflow.org/install/install_sources

Bazel build target:
[code]

2. Updating the get_libtensorflow.js script to use your pre-built binary:
https://github.com/tensorflow/tfjs-node/blob/master/scripts/get_libtensorflow.js#L48

3.) Re-buildin

[2018-08-11 05:08] nkreeger commented on #595
This is probably related to the fact you don't have a working Node.js package: https://github.com/tensorflow/tfjs/issues/593#issuecomment-412245609

[2018-08-11 05:32] pyu10055 commented on #586
@Neuroforge I checked your tensorflowjs_model.pb file, its place holder name is:
TfPoseEstimator/image
and your website loads the model fine with my mac.
Looks like only serving the model locally with mac would have a different placeholder name?

[2018-08-11 05:35] Neuroforge commented on #586
The issue is that the name is different in these two cases.

Running locally on a Mac works.

When it is served then this error arises.

Unhandled Promise Rejection: Error: Missing input placeholders:
TfPoseEstimator/image

Not sure how to solve this and why it should be different.

On Sat, Aug 11, 2018 at 5:32 PM, Ping Yu <notifications@github.com> wrote:

[2018-08-11 16:49] justadudewhohacks commented on #584
Okay after setting up an example repo to reproduce the issue, I figured out, that the issue is not related to `tf.separableConv2d`, but it's caused by `tf.maximum`.

Example repo is [here](https://github.com/justadudewhohacks/tfjs-maximum-backprop-memoryleak-issue).

[2018-08-11 17:32] caisq commented on #595
@ProgrammingLife So your code doesn't import @tensorflow/tfjs-node. Without importing that package, the machinery for file-system saving and loading won't be there. Another thing to point out here is: if you us relative path, you should do something like 'file://./model' (2 slashes after the colon), instead of "file:///./model" (3 slashes after the colon).

[2018-08-11 17:55] ProgrammingLife commented on #595
@caisq, but how to use import?

If I use:
`import * as tf from '@tensorlowjs/tfjs';`

I get:
[code]

[2018-08-11 18:35] ProgrammingLife commented on #595
Is any other way to get weights out of model? I wanna save and load it manually without using **model.save()** and **model.load()**. Is it possible?

[2018-08-11 19:12] caisq commented on #595
@ProgrammingLife

1. In your package.json, make sure you have included the dependency such as
   "@tensorflow/tfjs-node": "^0.1.11"

2. In your .js file, do after `const tf = require("@tensorflow/tfjs");`: `require('@tensorflow/tfjs-node');`

Let us know if that works.

[2018-08-11 19:25] ProgrammingLife commented on #595
Wow it worked! Thanks! 👍

[2018-08-11 22:36] lugyin opened #596 "Multi-Person Pose Estimation Shoulder Detection (problem: Low-Confidence level)"
To get help from the community, check out our [Google group](https://groups.google.com/a/tensorflow.org/forum/#!forum/tfjs).

#### TensorFlow.js version
Version live on PoseNet demo
https://storage.googleapis.com/tfjs-models/demos/posenet/camera.html

#### Browser version
Version 67.0.3396.99 (Official Build) (64-bit)
#### Describe the problem or feature request
There seems to be a huge drop off i

[2018-08-11 23:09] rodrigob opened #597 "spaceToBatchND_ has non-actionable error message"
I am trying my first model with dilated convolutions.
tfjs-converter worked without complaints, but when trying to run the model I get:

[code]

looking at the code around it is unclear what action should be taken to fix the problem.

It would be useful to have the error message report the actual values in place, e.g:

[code]
and suggest what should be changed to have it fixed.

[2018-08-11 23:10] rodrigob commented on #597
@dikatok
@dsmilkov

[2018-08-12 03:37] nkreeger opened #598 "Windows has two failing NaN tests"
Running `@tensorflow/tfjs-node` currently has two failing unit test:

[code]

It is unclear why these two tests don't propagate NaN. I'll verify with Python on windows soon.

[2018-08-12 04:15] Guitlle opened #599 "Pacman demo not working - training loss never goes below 1.3"
When using this demo https://storage.googleapis.com/tfjs-examples/webcam-transfer-learning/dist/index.html  I attempt to reproduce what is seen in this video https://www.youtube.com/watch?v=YB-kfeNIPCE
However, loss never gets small. It is stuck at 1.3 unlike the demo in the video, where it gets down to 0.008 or so. The settings are the same as in the video and I attempted to get a clean backgroun

[2018-08-12 04:49] nkreeger opened #600 "Use async functions in N-API"
All Node.js binding APIS are currently blocking - to take full advantage, the APIs should ship async and non-blocking.

[2018-08-12 05:38] nkreeger opened #601 "Node.js libtensorflow download should use progress package"
We should make the libtensorflow download experience a little richer. [the `progress` package](https://www.npmjs.com/package/progress) provides an interesting option.

[Puppeteer](https://github.com/GoogleChrome/puppeteer/blob/master/install.js) has a nice installation flow:

[2018-08-12 05:38] nkreeger commented on #601
![screenshot from 2018-08-11 22-34-23](https://user-images.githubusercontent.com/306276/43998996-3817de1a-9db7-11e8-8e3b-353f75417869.png)

[2018-08-13 02:09] 116050423 commented on #569
@dsmilkov Hi, I see the branch is merged. When will you release the next version with ssd mobilenet coco supported.

[2018-08-13 02:57] santosh898 commented on #569
I converted with cloned repository. still same issue. will it be different after release

[2018-08-13 04:55] nkreeger opened #602 "Ship Windows GPU libtensorflow builds"
Windows + CUDA is proving hard to build on at least two Win10 machines. This issue is a placeholder to track this integration.

[2018-08-13 12:09] smarques commented on #594
👍

[2018-08-13 13:04] thebeancounter opened #603 "Error when running webcam-transler-learning example"
I am using ubuntu 18 with yarn and node v 8.11.3
When running the example [here]([url](https://js.tensorflow.org/tutorials/webcam-transfer-learning.html))
With the following shell commands
[code]

I am getting the following error when getting to the last line of code:

I had no luck finding anything about it. I tried changing the tfjs version with no luck I upgraded Node, and tried to downgrade it

[2018-08-13 13:46] bileschi commented on #465
This should be fixed with tfjs-layers commit #285
https://github.com/tensorflow/tfjs-layers/commit/934134f677f4464ab9287004a2f6b4b4edb9a039

[2018-08-13 13:46] #465 closed

[2018-08-13 14:06] bileschi commented on #603
Hi @thebeancounter, I'm not sure this example works in node.  This is meant to be a browser example.

[2018-08-13 14:08] bileschi commented on #594
Assigning to @nsthorat to see if there is any prior art in using image from canvas in node.

[2018-08-13 14:15] bileschi commented on #599
It worked for me right now, is it possible there is some incompatibility with the camera?   Were you sure to select representative training images for all 4 directions?

![image](https://user-images.githubusercontent.com/547150/44037166-a024f648-9ee1-11e8-81b7-668bf9c760f3.png)

[2018-08-13 14:38] bileschi commented on #589
Currently the standard way to do this is to find the arg-max of your logit layer, and then use the index into a map from integer class-indices to string class-labels.

You can see this pattern in the mobilenet example here:
https://github.com/tensorflow/tfjs-examples/blob/master/mobilenet/index.js#L95

[2018-08-13 14:38] #589 closed

[2018-08-13 14:40] #558 closed

[2018-08-13 14:55] tafsiri commented on #480
Looks like this was fixed in https://github.com/tensorflow/tfjs-layers/pull/255

[2018-08-13 14:55] #480 closed

[2018-08-13 15:05] jantonysolstice commented on #550
Is the issue with tfjs or the converter? Is it fixed now? Thanks by the way

[2018-08-13 15:35] tafsiri commented on #350
@jgartman @nsthorat It looks like this is has been fixed??

[2018-08-13 15:38] tafsiri commented on #587
Cool project! I think this is something we probably don't have bandwidth for internally. However if you are interested in working on this @MattKovtun, and are looking for collaborators you could try emailing the mailing list (https://groups.google.com/a/tensorflow.org/forum/#!forum/tfjs) to see if anyone is interested or working on something similar.

[2018-08-13 15:38] #587 closed

[2018-08-13 16:02] justadudewhohacks opened #604 "Operations with variable tensor sizes cause GPU Memory leaks"
#### TensorFlow.js version

- tfjs-core 0.11.9
- tfjs-core 0.12.10

#### Browser version

- chrome 67.0.3396.99 (64-Bit)
- firefox 61.0.1 (64-Bit)

#### Describe the problem or feature request

Running operations with variable input tensor sizes causes GPU memory leaks (not tracked by tf.memory stats, but can be tracked using chrome task manager for example):

[code]

#### Code to reproduce the bu

[2018-08-13 16:02] justadudewhohacks commented on #584
Okay after spending some more time on this problem I figured out, that using tf.maximum only messes with the numBytes counter, as shown in the screenshot. Apparently it doesn't cause the memory leak that I am facing.

I found what's causing the memory leak and opened a seperate issue for that: #604

[2018-08-13 18:06] Saxenauts commented on #90
I'd like to study this. I am new to tfjs, so any pointers would be appreciated.

[2018-08-13 18:18] nsthorat commented on #594
Update your tfjs version to latest and it will work :)

[2018-08-13 18:38] #350 closed

[2018-08-13 19:15] hpssjellis commented on #90
I think it is to do with a learning rate that is too high for android. Will try to get a working demo going.

[2018-08-13 19:18] Saxenauts commented on #90
Okay, I'm more interested in how the learning rates affect the training on
different hardwares. How  exactly does processor being an Android change
things ?

On Tue 14 Aug, 2018, 12:45 AM Jeremy Ellis, <notifications@github.com>
wrote:

[2018-08-13 19:46] #591 closed

[2018-08-13 19:55] pyu10055 commented on #586
@Neuroforge before we figure out why the model input name is changed in different envs, the inference API actually does not require you to provide the place holder name.

`predict(
      inputs: tfc.Tensor|tfc.Tensor[]|tfc.NamedTensorMap,
      config?: tfc.ModelPredictConfig): tfc.Tensor
      |tfc.Tensor[]|tfc.NamedTensorMap`

you can run
`const outputMap = frozenModel.predict(inputTensor);`

[2018-08-13 20:18] laurencamblackburn commented on #594
Hm everything is updated to the latest, but I'm still getting a similar error - looks like it moved in nodejs_kernel_backend.js though:

[code]

[2018-08-13 22:27] #519 closed

[2018-08-14 04:16] santosh898 opened #605 "TypeError: Cannot read property 'id' of undefined"
To get help from the community, check out our [Google group](https://groups.google.com/a/tensorflow.org/forum/#!forum/tfjs).

#### TensorFlow.js version
[code]
#### Browser version
[code]
#### Describe the problem or feature request

Now the error below comes while running SSD_MOBILENET_V1
[code]

#### Code to reproduce the bug / link to feature request
[code]

[2018-08-14 06:06] hpssjellis commented on #90
No idea what is different about Android, but here is a [changed Addition RNN](https://hpssjellis.github.io/beginner-tensorflowjs-examples-in-javascript/tf-examples/addition-rnn/easier/index.html), that allows you to adjust the learning rate. Needs a learning rate of below 0.03 to work on Android 8.0.0,

Image with the regular learning rate of 0.2

![android-bad](https://user-images.githubuserconte

[2018-08-14 06:11] hpssjellis commented on #330
By the way, this bit of code allows the summary to be put in a div on your webpage

I think this feature request can be closed

[2018-08-14 06:11] #330 closed

[2018-08-14 06:12] #289 closed

[2018-08-14 07:36] 116050423 commented on #569
@santosh898 Is it because tfjs is not updated?
dependencies:
@tensorflow/tfjs-converter: 0.5.5 @tensorflow/tfjs-core: 0.12.8     @tensorflow/tfjs-layers: 0.7.2
All old versions.

[2018-08-14 07:37] thebeancounter commented on #603
@bileschi see the github instructions, they state using yarn and yarn watch. my friend did the exact same on a windows machine and it worked

[2018-08-14 07:53] 116050423 commented on #569
Issue still exists
    "@tensorflow/tfjs": "^0.12.4",
    "@tensorflow/tfjs-converter": "^0.5.7",
    "@tensorflow/tfjs-core": "^0.12.11",
    "@tensorflow/tfjs-layers": "^0.7.3",

[2018-08-14 16:10] josephch405 commented on #117
When you mean relatively minor changes, does this still involve adding a specific dropout implementation in both backends? Seems like a much more involved process than what they had in the layers version. Also still getting the hang of contributing to tfjs, so I'm just making sure I'm not misunderstanding anything about the codebase.

[2018-08-14 17:50] AviKndr opened #607 "Tensorflow Object Detection API ssd_mobilenet_v1_coco : Same Invalid Output on all inputs"
To get help from the community, check out our [Google group](https://groups.google.com/a/tensorflow.org/forum/#!forum/tfjs).

#### TensorFlow.js version
0.12.5
#### Browser version
Windows 7 + 68.0.3440.106
#### Describe the problem or feature request
The changes made with 0.12.5 have made it possible to convert and execute ssd-mobilenet models from the tensorflow object detection api without erro

[2018-08-14 18:19] nkreeger opened #608 "Local development should auto-update libtensorflow"
Local development of the Node.js binding package results in symlink'd libtensorflow.*. This works great for local development since the engineer doesn't have to download libtensorflow.* on every `yarn` command. However, it is easy to get out-of-sync with what the supported version needs.

This task should make libtensorflow cleanup easier for developer workflows (npm installs use a move command an

[2018-08-14 19:09] kedevked commented on #467
I have just implemented a method to get the determinant of a matrix using the Jordan-Gauss method [here](https://stackoverflow.com/questions/51805389/how-do-i-invert-a-matrix-in-tensorflow-js). It can be used to solve a linear problem of A * X = B. This method here that needs to be implemented will take an array of [A, ...] matrix, [B, ...] and then will compute the array [S, ...] where each A * S

[2018-08-14 20:56] AviKndr commented on #607
Nevermind, I realized that the models from the tensorflow object detection api model zoo perform conversion to normalized floats and therefore the input image tensor should not be pre-processed manually. As of now, ssd-mobilenet seems to work as expected on tfjs.

[2018-08-14 20:56] #607 closed

[2018-08-14 21:10] nkreeger opened #609 "Use AliasedBuffer Node.js concept to avoid C++/JS boundary issues"
Crossing the JS/C++ boundary can be expensive - especially for loop'd operations. This is especially an issue with OpDef attributes used in Op execution. We can try and use the AliasedBuffer technique to avoid crossing that boundary.

Sample code referenced here: https://github.com/nodejs/node/blob/0d64f33c9658b82897efb9355c0fc2caec034299/src/aliased_buffer.h

[2018-08-14 21:19] bileschi opened #610 "Unwanted automatic styling in API docs for tf.pow"
the reference to `exp` here refers to an argument named `exp`, not the tf function `tf.exp()`

![image](https://user-images.githubusercontent.com/547150/44119076-2372c53e-9fe6-11e8-89d4-205f5897618d.png)

[2018-08-15 01:28] jgartman commented on #582
I'm taking a look at LRN and LRNGrad

[2018-08-15 03:09] WinterTaoTao opened #611 "Unsupported Ops: Dequantize"
[code]

Is the Dequantize operation on the schedule to add support?

[2018-08-15 11:58] sullyfischer commented on #47
@dsmilkov Could you please provide examples for both? Sorry if my question is too basic.

[2018-08-15 12:01] suvojit-0x55aa opened #612 "Error: Unknown layer: ReLU in converted Keras MobileNet"
#### TensorFlow.js version
0.12.0

#### Browser version
Google Chrome
Version 68.0.3440.106 (Official Build) (64-bit)

#### Describe the problem or feature request
I have a custom trained Keras model consisting of MobileNetV2 architecture i have converted them to json file using [tfjsconverter](https://github.com/tensorflow/tfjs-converter)
while running the code in browser i am getting the followi

[2018-08-15 15:35] George35mk commented on #47
@dsmilkov  I am using Angular 6 to work with machine learning so what I have found is because angular 6 is using typescript and is strong typing I get a lot of type errors when I compile the apps with tensorflow, a lot of errors are exist today just try to use a simple typescript 2.9 project and you gonna find a lot of warnings with tensorflow.js.

create a test dir and add a file with name `main.

[2018-08-15 16:50] antoniotorres commented on #467
Hey @kedevked I haven't worked on it.

[2018-08-15 17:34] smith-kyle commented on #545
@dsmilkov Here's a repo that reproduces the bug:

https://github.com/smith-kyle/tfjs-jest-bug

[2018-08-15 20:11] kedevked commented on #467
Thanks @antoniotorres for letting me know.  @nsthorat and @dsmilkov , could you please let us know if you have already worked on this issue ?

[2018-08-15 20:13] pyu10055 commented on #605
for Mobilenet you should use predict or execute method instead of executeAsync, since the model does not have any control flow ops. Can you try that first, see if it works for you.

[2018-08-15 20:27] ran-j opened #613 "Model not predicting"
I creating a chatbot with tensorfflow and node js.

This is source code : https://github.com/ran-j/ChatBotNodeJS/blob/master/routes/index.js#L184

When I try to predict I got this error: '(node:26952) UnhandledPromiseRejectionWarning: Error: Error when checking : expected dense_Dense1_input to have 2 dimension(s), but got array with shape [48]'

https://imgur.com/a/WY3XtR5

https://imgur.com/a/iB9

[2018-08-16 01:55] santosh898 commented on #605
Mobilenet is working fine, No errors

[2018-08-16 14:30] thebeancounter commented on #603
Well,
I don't know why but using this in terminal solved the issue

[code]

can anyone explain why?

[2018-08-16 15:32] 116050423 opened #614 "Performance tfjs vs TensorFlow Lite"
Hi dear contributors,
recently I am trying to run some models on mobile phone and now I can do it by tfjs + mobile browsers(such as iOS safari).
I know tfjs is running in js engine and accelerated by WebGL.
Besides, TensorFlow Lite is designed for mobile and based on Apple Core ML accelerate lib (iOS) or Android Neural Network API(Android).
These two libs are designed for cpu/gpu acceleration and