[2020-09-25 17:14] rthadur commented on #3931
Related PR has been merged , Thank you

[2020-09-25 17:14] #3931 closed

[2020-09-25 17:29] sacredvoid commented on #3941
Attaching a PDF to Facedetector Kernel Timings (which don't add up). Can you tell me with the help of the benchmark below of what you meant by multiplying with ratio?
[issue_benchmark.pdf](https://github.com/tensorflow/tfjs/files/5284356/issue_benchmark.pdf)

This means when it's done compiling the webgl kernel for that operation? So it doesn't actually do the computation till after a datasync is

[2020-09-25 17:37] lina128 commented on #3941
So you add up all the time in the kernel time(ms) column. Then for each row, you take the kernel time and divided by the total time. That is the ratio, then multiply by the inference time, for example the 19ms average time, then you get the actual time the kernel takes to run.

For the kernel code finishes, yes I mean it's done executing the kernel. It starts the computation, but doesn't guarantee

[2020-09-25 17:46] sacredvoid commented on #3941
Thanks a lot for the clarification! 👍

[2020-09-25 17:46] #3941 closed

[2020-09-25 18:45] Ark-kun commented on #3953
Yes, they seem to be the same. My problem is that in my case TFJS installation downloads and installs a big dependency which is unnecessary since it's already installed. It can be a bit of a problem for us since we dynamically install TFJS every time and want to minimize the amount of dynamically installed packages.
I'd understand if it was the tensorflow vs tensorflow-gpu which is a problem with

[2020-09-25 20:29] #3896 closed

[2020-09-26 07:36] MarkTension commented on #3972
Thanks. I've tried a number of combinations already, but had no success with it. Do you have any suggestions to modify that line?

[2020-09-26 22:15] rthadur commented on #3972
Hello, this sort of question is better suited for StackOverflow. This issues list is for bugs and feature requests. Thanks and please use the tag 'tensorflow.js' on your StackOverflow question to makes sure it's discoverable.

[2020-09-26 22:15] #3972 closed

[2020-09-27 09:42] kotran88 commented on #3950
the most recent one. 2.4.0

[2020-09-27 13:26] 0EB commented on #671
I still get the error "Could not create cudnn handle: CUDNN_STATUS_ALLOC_FAILED" after I set "TF_FORCE_GPU_ALLOW_GROWTH=true". And still, there is no option to specify gpu_options.

[2020-09-27 13:31] 0EB commented on #3533
I get the similiar issue: "Could not create cudnn handle: CUDNN_STATUS_ALLOC_FAILED". Tried to set environment flag "TF_FORCE_GPU_ALLOW_GROWTH = true".

[2020-09-27 16:07] KevinMalo commented on #2007
npm i --save @types/webgl2 works for me

[2020-09-28 06:28] gbmax opened #3977 "Using tensorflowjs for autokeras model deployment"
Hello.
I'm trying to make model with autokeras, and deploy the model to mobile.
For that, I have to convert generated model to mobile format using tensorflowjs_converter.
Before trying my model, I tested with autokeras regressor  example [here](https://autokeras.com/tutorial/structured_data_regression/),  but conversion failed with following error message.

[code]

I tested only saved tf-format be

[2020-09-28 06:31] its-ogawa commented on #285
I also had an issue with modelTopology going null.

**Problem**
I would like to load the keras model into js using tensorflowjs_converter.
However, when I load the output json file into js, I get the following error.
[code]

**Supplement**
I got the keras model from the following URL.
- https://github.com/kevinlin311tw/CDCL-human-part-segmentation
- https://drive.google.com/file/d/1OvI8P0S737A0ryr

[2020-09-28 08:52] Pringmore commented on #3972
Hey @MarkTension
I just get also a similar error this morning similar to the one you get. But now the command line is working for me :))

Avoid using quotes to specify the **input_file_path** or the **output_folder_path**.

Note:
If it doesn't work maybe you should check that the given **path** is correct regarding from where you are running your command. In the case that it doesn't work then chec

[2020-09-28 09:36] juuyan commented on #3881
srr I think the problem is on the Yarn berry pnp..

[2020-09-28 09:57] Snupas commented on #3885
Having the same issue. Interestingly, upgrading to tfjs 2.4.0 and to the newest expo-camera, expo-gl and expo-gl-cpp packages solved the issue for a while, but then I had the laptop shutdown while the react native server was running, restarted the laptop, built the app again and the issue returned.

It's a far fetch correlation and I've tried deleting node modules folder and cleaning up android bu

[2020-09-28 10:30] pallavikhtri25 commented on #2766
facing same issue tried using cocoSsd.load(config) throwing error

Error: Tensor must have a shape comprised of positive integers but got shape [100,]
downloaded pretrained model ssd_mobilenet_v2_320x320_coco17_tpu-8 and converted to graph model using tensorflowjs_converter
tensorflow version: 2.3.0

[2020-09-28 10:39] pallavikhtri25 opened #3978 "input shape/api for prediction with custom cocoSsd"
Closing this due to lack of activity, feel to reopen. Thank you

_Originally posted by @rthadur in https://github.com/tensorflow/tfjs/issues/2766#issuecomment-639677361_

[2020-09-28 10:40] pallavikhtri25 commented on #3978
facing same issue tried using cocoSsd.load(config) throwing error

Error: Tensor must have a shape comprised of positive integers but got shape [100,]
downloaded pretrained model ssd_mobilenet_v2_320x320_coco17_tpu-8 and converted to graph model using tensorflowjs_converter
tensorflow version: 2.3.0
@rthadur

Also tried using tf.loadGraphModel(MODEL_URL)
but getting predictions as mentioned below.

[2020-09-28 13:12] piercus opened #3979 "Cannot use addWeight with constraint in CustomLayer"
**System information**
- TensorFlow.js 2.4.0
- This issue occurs both on Node.js and in the browser

Thanks for this wonderful library :-)

**Scenario**

See fiddle https://jsfiddle.net/fj2d6Luw/8/ (inspired from [this gist](https://gist.github.com/caisq/33ed021e0c7b9d0e728cb1dce399527d))

* Creating a custom layer
* Adding a constraint in the build method, while using `getWeight` function
[code]

[2020-09-28 13:49] nikhilchillakuru opened #3980 "inconsitent speech recognition web browser(chrome) vs mobile browser(chrome)"
HI,

Trained a custom word recognition model using this  [https://github.com/tensorflow/tfjs-models/blob/master/speech-commands/training/browser-fft/training_custom_audio_model_in_python.ipynb](https://github.com/tensorflow/tfjs-models/blob/master/speech-commands/training/browser-fft/training_custom_audio_model_in_python.ipynb).

once my model is ready I have loaded them the following way.
const r

[2020-09-28 17:26] tafsiri commented on #3186
@ryanvolum the GPU emulation is required if using the default backend in tfjs-react-native. If you want to use CPU, try calling tf.setBackend('cpu') near the top of the program, this should make it more likely to work in an emulator.

Try looking at https://reactnative.dev/docs/debugging#accessing-console-logs for tips on getting lower level error messages from react native to try and explain the

[2020-09-28 17:53] tafsiri commented on #3186
Another idea. is there any chance that some of the images are not jpeg encoded?

[2020-09-28 18:46] rthadur commented on #3950
can you please let me know steps you followed to convert ?

[2020-09-28 19:08] rthadur commented on #3978
@pallavikhtri25  I have this sample code to detect image recognition , you can try to fit your code in the similar lines , let me know ?

[code]

[2020-09-28 20:04] ryanvolum commented on #3186
I'll check to be sure, but can't imagine why this wouldn't be the case as I'm using images straight from my camera roll, all taken by my phone's camera.

[2020-09-28 21:01] vladmandic commented on #3942
(ping to remove stalled)

[2020-09-28 23:06] ryanvolum commented on #3186
@tafsiri thanks for the suggestions. I'm now running successfully in the emulator 🎊 I was actually able to accelerate my emulator by enabling it to use my PC's GPU, which made a world of difference.

I believe the OOM issues I'm continuing to run into are a product of image size. In the tfjs-react native sample it doesn't appear that you're doing any image resizing. Given that mobile phones take v

[2020-09-28 23:28] roca77 commented on #3728
Yes, Rescaling is causing the issue; I removed it and now it's working

[2020-09-29 02:05] btmanm commented on #3618
same issue, dobule quotes and backslash do not work

[2020-09-29 02:54] rthadur commented on #3728
Thank you , closing this issue for now

[2020-09-29 02:54] #3728 closed

[2020-09-29 06:50] pallavikhtri25 commented on #3978
// // Load the model.
tf.loadGraphModel('web_model_nw/model.json').then(modelt => {
  // detect objects in the image.
  console.log("loaded");
  // coco = true;
  model = modelt;

  const image = document.getElementById('cat');

      let tensor = tf.browser.fromPixels(image, 3)
		.resizeNearestNeighbor([224, 224]) // change the image size
		.expandDims()
		.toFloat()
		.reverse(-1);
	let predicti

[2020-09-29 06:52] pallavikhtri25 commented on #3978
Then i replaces with
    let tensor = tf.browser.fromPixels(image, 3)
		.resizeNearestNeighbor([224, 224]) // change the image size
		.expandDims()
		.toInt()
		.reverse(-1);
	let predictions = model.predict(tensor).data();
	console.log(predictions);
![image](https://user-images.githubusercontent.com/72016802/94523127-629b9480-024e-11eb-8240-eaa630572f56.png)

[2020-09-29 06:57] pallavikhtri25 commented on #3978
So i changed this to execute Async and the detections are again not readable
 const image = document.getElementById('cat');

      let tensor = tf.browser.fromPixels(image, 3)
		.resizeNearestNeighbor([224, 224]) // change the image size
		.expandDims()
		.toInt()
		.reverse(-1);
	let predictions = model.executeAsync(tensor);
	console.log(predictions);
![image](https://user-images.githubuserconten

[2020-09-29 09:06] mhaas2-tgm opened #3985 "Tensorflowjs expects 3 Dimensions, even though I trained it with 2 in Python"
I am trying to test a Model which I trained using XOR-Operator values in Python:
[code]

It works great in Python, but when I transform it into a Tensorflow JS file (model.json), it doesn't work anymore:
[code]

As you can see above, I trained it with `input_shape=(2,1)`. But when I try it in Nodejs, I get the Error:
[code]
My JS Code:
[code]
Thank you!

**System information**
- Have I written cus

[2020-09-29 09:48] ClementWalter commented on #3912
I tried the same requirements but got a lot of warning about `Overriding the gradient for ...` with all basics functions Add, AddN, ... , Sub and an other warning `The kernel 'Max' for backend 'webgl' is already registered`and a lot of similar ones :

[code]

[2020-09-29 10:19] mhaas2-tgm commented on #879
@elementzprojects What was the Problem, having the same one here

[2020-09-29 10:32] ClementWalter commented on #3912
I had to enforce ` "@tensorflow/tfjs": "2.0.0" ` otherwise it throwed warnings about already registered kernel for webgl backend

[2020-09-29 11:54] ClementWalter opened #3986 "TensorCamera does not render children as Expo camera does"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow.js version (you are using):

[code]

- Are you willing to contribute it (Yes/No): Y

[2020-09-29 13:15] nikhilchillakuru commented on #3980
recognizer.audioDataExtractor.freqData = Float32Array(1024) [-Infinity, -Infinity, -Infinity, -Infinity, -Infinity, -Infinity, -Infinity, -Infinity, -Infinity, -Infinity, -Infinity, -Infinity, -Infinity, -Infinity, -Infinity, -Infinity, -Infinity, -Infinity, -Infinity, -Infinity, -Infinity, -Infinity, -Infinity, -Infinity, -Infinity, -Infinity, -Infinity, -Infinity, -Infinity, -Infinity, -Infinity

[2020-09-29 14:09] tafsiri commented on #3186
@ryanvolum you should definitely downscale your images before running inference, typically the models are trained on relatively small images compared to typical camera resolutions (for example our [mobilenet wrapper will internally resize](https://github.com/tensorflow/tfjs-models/blob/master/mobilenet/src/index.ts#L217) inputs to 224x224). So finding a smaller size that will give you adequate per

[2020-09-29 14:14] tafsiri commented on #3985
You aren't passing an input with a similar shape in your JS version to the one in your python version

Compare

`prediction = model.predict([[5,5]])` with

[code]

Your input shapes are different between python and javascript. Try

[code]

To make sure its working. And then try

[code]

Note the extra square brackets around your input arrays.

[2020-09-29 14:22] tafsiri commented on #3980
Given you are getting the same behaviour on the CPU backend, I wonder if the output browser audio api might be different on the mobile device your are using.

Are you able to run the [default pre-trained speech commands](https://github.com/tensorflow/tfjs-models/tree/master/speech-commands#online-streaming-recognition) model on the device?

[2020-09-29 14:28] tafsiri commented on #3885
@Snupas, @rohail0  or anyone else still seeing this, would you be able to post a link to a minimal reproduction of this as a github repo (using 2.4.0)?

[2020-09-29 14:39] pyu10055 opened #3987 "Allow user to insert custom metadata into the model.json file"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow.js version (you are using): 2.4.0
- Are you willing to contribute it (Yes/No):

**D

[2020-09-29 15:05] tafsiri commented on #3948
Thanks for reporting this @liquidx! Codelab has been updated with the fix.

[2020-09-29 15:05] #3948 closed

[2020-09-29 15:22] tafsiri commented on #3945
I wasn't able to reproduce this exactly, but did run into problem if I didn't wait for the image to finish loading. Could you try the following?

[code]

Notice that here we wait for the onload event on the image before trying to draw it or read it. If that doesn't work could you paste a codepen or glitch example that we can use to try and reproduce the issue.

My attempt to reproduce this:

https

[2020-09-29 15:31] tafsiri commented on #3933
I took a look at your code and there wasn't anything that immediately stood out to me as being incorrect. I'm guessing this is probably related to how you set up state and do initialization. This is probably more related to react lifecycle and your dev environment so I don't think I can help unless you can point more specifically to a bug with the tensorflow part of things (the fact that it works

[2020-09-29 16:44] tafsiri commented on #3911
Hi, I wasn't able to reproduce this, could you provide more device information. Another thing to try for debugging this is tf.setBackend('cpu').

I tried to [reproduce this here](https://github.com/tafsiri/tfjs-expo-managed-example/tree/toxicity-model), feel free to download that repo and try it out yourself (make sure to switch to the 'toxicity-model' branch.

This is the output I got for `model.

[2020-09-29 16:47] tafsiri commented on #3889
Hey @GantMan! is this resolved with 2.4.0?

[2020-09-29 16:47] ryanvolum commented on #3186
Thanks @tafsiri!

I think it would be hugely beneficial to include code (in samples/docs) that does this. I can't think of a mobile scenario where images are already downscaled, so anybody hoping to use tfjs-react-native will have to figure this out.

I think one of the great thing about tfjs is that it democratizes data science to a group of developers (web) who wouldn't otherwise have the skills

[2020-09-29 16:50] tafsiri commented on #3484
Could this be related to the issue described here https://github.com/tensorflow/tfjs/issues/3651#issuecomment-686701119, seems like there are some electron specific elements to consider in terms of version compatibility. Another electron related issue is this one https://github.com/tensorflow/tfjs/issues/2558

[2020-09-29 16:54] #3504 closed

[2020-09-29 17:10] tafsiri commented on #3312
We now have [registerKernel](https://github.com/tensorflow/tfjs/blob/1e16ae77905a38fe0994f295648ef64aed542664/tfjs-core/src/kernel_registry.ts#L138) and will be writing up some more documentation on how to use it when we release 3.x, though probably not specific to node.js (or custom GPU code in node). You can see an example of a kernel specification that goes with that function here https://githu

[2020-09-29 17:10] #3312 closed

[2020-09-29 17:15] tafsiri commented on #2219
After doing a quick search, each api that uses seedrandom internally allow passing in a custom seed. So I don't think it is somethign that needs to be set globally. This may be something that could be updated in the book (though it may be too late for that).

@caiq. I'm going to set this to awaiting response in case you have any further thoughts on this, else it will auto-close in a week or two.

[2020-09-29 17:53] tafsiri commented on #3186
Thanks for your perspective! In this case we do have tools for downscaling (for example the tensor camera component does this on the GPU) and we have the various resize* functions for downscaling as well (https://js.tensorflow.org/api/latest/#image.resizeBilinear, we also have a bunch of examples that use this). Though this latter case requires a tensor to already be created.

In this case though

[2020-09-29 18:31] ojsj18 opened #3989 "Predictions are returning strange values"
**Values exceed 100%**

` const loadMobileNetModel = async () => {
    const modelJson = require('./model.json');
    const modelWeights= require('./weights.bin');
    const model = await tf.loadGraphModel(bundleResourceIO(modelJson, modelWeights));
    setModelFound(true);
    return model;
  }

  const getPrediction = async(tensor) => {

     //const prediction = await mobilenetModel.predict(ten

[2020-09-29 18:34] #3929 closed

[2020-09-29 18:34] #3862 closed

[2020-09-29 18:58] Ely-S opened #3990 "Add a Gaussian Filter"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow.js version (you are using): 2.4.0
- Are you willing to contribute it (Yes/No): Yes

[2020-09-29 19:07] rthadur commented on #3989
Hello, this sort of question is better suited for StackOverflow. This issues list is for bugs and feature requests. Thanks and please use the tag 'tensorflow.js' on your StackOverflow question to makes sure it's discoverable.

[2020-09-29 19:07] #3989 closed

[2020-09-29 19:40] GantMan commented on #3889
Heya @tafsiri - I just tested and 2.4.0 has the same bug 👎

![bug](https://user-images.githubusercontent.com/997157/94607467-93d19000-0261-11eb-9d82-372f7a685100.gif)

[2020-09-29 19:42] plakal commented on #3987
A common need for any classifier model is a mapping between classifier outputs and class names. E.g., for our YAMNet model on TF-Hub, the TF2 SavedModel includes the "class map" as an asset and this can be looked up to annotate predictions, as shown in the usage https://tfhub.dev/google/yamnet/1 and we would like to do the same for the TF-JS version https://tfhub.dev/google/tfjs-model/yamnet/tfjs/

[2020-09-29 19:45] tafsiri commented on #3084
Confirmed that this fails to converge on iOS 12 (iPhone 8), but does converge well on Android (Pixel3).

I suspect this training instability on iOS is due to lack of WebGL2 support on iOS. It's pretty complex to debug what might introduce this, so I don't know if there is a single specific thing we can do to fix this, we try and maintain numerical stability on iOS despite the limitations but that

[2020-09-30 01:17] tafsiri commented on #3889
@GantMan are you able to reproduce this outside of codesandbox? I tried to reproduce this here https://github.com/tafsiri/tfjs-parcel-test but didn't get any error (on either 2.3.0 or 2.4.0).

I'm assuming codesanbox is running npm run start (or something similar)?

[2020-09-30 03:04] its-ogawa commented on #3945
Dear tafsiri,

Thank you for your reply.

Your point is correct.
The lack of onload in the code in the first post is my mistake. My apologies.

Back on topic, I am wondering why image2 and image3 are not fully drawn.
It's reproduced in the example you gave me.

It doesn't draw image2 and image3 despite image1 being drawn and image4 attempted as well is drawn.
Why is this?
Can you help me?

Thank y

[2020-09-30 04:19] nikhilchillakuru commented on #3980
Hi @tafsiri , thanks for quick response. Tried the [default pre-trained speech commands](https://github.com/tensorflow/tfjs-models/tree/master/speech-commands#online-streaming-recognition) still it is not working in my mobile device.

Initially got a warning "Mismatch in sampling rate: Expected:44100; Actual: 48000 ", but fixed it by making the following change to speech-commnads.

**this.audioCon

[2020-09-30 04:57] GantMan commented on #3889
I can confirm, this ONLY happens when the code is online through codesandbox.

I'm not sure why ONLY 2.2, 2.3, and 2.4 cause this conflict.  That's why I filed it here, rather than with the Codesandbox team.

It might not be a bug with TFJS.  I'm quite unsure what changed between 2.1 and 2.2

[2020-09-30 06:55] deel77 commented on #3864
I think I have identified main problem. Angular is overwriting `Promise.resolve()` function with its own wrapping function in order to use `ZoneAwarePromise` as a return type in order to automatically trigger change detection after promise finishes.

And TF-Core is using following code to test if created backend is Promise (which is Promise type only for WASM backend, as to my knowledge):
[code]
s

[2020-09-30 07:18] mhaas2-tgm commented on #3985
@tafsiri

When I try `const input = tf.tensor([[5,5]], "int32");` it stops because the second parameter should be the Shape,

When I try `const input = tf.tensor([[1,1],[2,1]], "int32");`, it gives me the same error:
`ValueError: Error when checking : expected flatten_input to have 3 dimension(s), but got array with shape [1,2]`

[2020-09-30 09:30] ClementWalter commented on #3986
Ok I will try to push something in the next coming days

[2020-09-30 10:35] HarshalRohit commented on #840
Are there any progress on this?

[2020-09-30 15:07] tafsiri commented on #3985
Ah yes I think misread one part of your original snippet, yes you need to create a tensor of the appropriate shape (2,1) and then expand it into a batch (i think this is the step that is missing).

You can call [tf.expandDims](https://js.tensorflow.org/api/latest/#expandDims) on your input tensor to convert it to a batch of one. So something like

[code]

Or in this case since you are giving the s

[2020-09-30 15:13] tafsiri commented on #3889
How can we determine/trace what codesandbox does to generate the page that produces that error? The error suggests that the flags.js file in tjfs-core has not been loaded. If there is a bundling step that does tree shaking and it doesn't respect the side_effects property in the package.json of tfjs_core that might cause this error. But we'd need greater insight into the bundling/loading process to

[2020-09-30 15:15] tafsiri commented on #3945
Could you send me an online example (in codepen, glitch, or something similar) that demonstrates the problem? I am no able to reproduce it. This is what i see in [the link](https://humorous-silky-hacksaw.glitch.me/) I posted above.

![Screen Shot 2020-09-30 at 11 15 01 AM](https://user-images.githubusercontent.com/26408/94704727-38a9a700-030e-11eb-99d0-1c5779d042db.png)

[2020-09-30 15:21] tafsiri commented on #3980
To help folks debugging this could you post a screenshot of https://js.tensorflow.org/debug/ on the device that is this is not working on.

Looking at your screenshot was this not matching what you were saying? (e.g. were these detections firing even when you weren't speaking?)

![Screen Shot 2020-09-30 at 11 20 47 AM](https://user-images.githubusercontent.com/26408/94705477-1c5a3a00-030f-11eb-8ca

[2020-09-30 15:36] GantMan commented on #3889
I've reached out to codesandbox - I'll see if I can get us some further info.

[2020-09-30 15:38] nikhilchillakuru commented on #3980
PFA the screenshot.

![device_js_debug](https://user-images.githubusercontent.com/71691980/94706467-daa5af80-035f-11eb-8ce4-b37c2f5be7eb.jpeg)

yeah, words are not matching with what i am saying.

I was going through [browser_fft_extractor.ts](https://github.com/tensorflow/tfjs-models/blob/master/speech-commands/src/browser_fft_extractor.ts#L219), freqData will be pushed to freqDataQueue(spectrogr

[2020-09-30 16:22] susmeet-jain opened #3991 "TFJSconverter Unsupported Op: SpaceToDepth"
**System information**
- TensorFlow.js version : v2.4.0

**Describe the feature and the current behavior/state.**
Currently the operation **SpaceToDepth** is not supported. Requesting Support from the community.

**Who will benefit with this feature?**
The operation **DepthToSpace** already has support. Since these two operations are sometimes used within the same model. It would be helpful to hav

[2020-09-30 16:22] pyu10055 commented on #3987
@plakal Thank you for pointing out that signature is currently in the userDefinedMetadata. Signature is used by the GraphModel class, it would be better moved out of userDefinedMetadata field, and leave the userDefinedMetadata open.

[2020-09-30 17:05] mhaas2-tgm commented on #3985
@tafsiri Thank you! It works great!
Just one question:
From the output `const prediction`, how can I actually get the Prediction of Tensorflow?

[2020-09-30 17:28] vladmandic commented on #3930
Thanks @pyu10055,

I've confirmed on several `saved_model` models that `tfjs-node` now works perfectly with `uint8` data type.
Since <https://github.com/tensorflow/tfjs/pull/3974> is already comitted to master, I'm closing this issue.

[2020-09-30 17:29] vladmandic commented on #3930
Thanks @pyu10055,

I've confirmed on several `saved_model` models that `tfjs-node` now works perfectly with `uint8` data type.
Since <https://github.com/tensorflow/tfjs/pull/3974> is already committed to master, I'm closing this issue.

[2020-09-30 17:29] #3930 closed

[2020-09-30 18:07] deel77 commented on #3864
With changes proposed in pull request #3993 I was able to make it work in Angular 9 and Angular 10 project ... still having problems with SIMD version but basic WASM backend is working now.

[2020-09-30 18:21] tafsiri commented on #3985
I don't know what you mean. You have the prediction and are even doing console.log(prediction) in your code snippet.

[2020-09-30 18:59] tafsiri commented on #3990
@Ely-S could you tell us more about your implementation? Is it completely composed of calls to other tf ops or does it implement custom kernels?

If its the latter we may want to start with this as a tfjs-example of how to implement custom op, or see if it makes sense to start an addon library with extra image ops or something else. Having a sense of the complexity of the implementation would be h

[2020-09-30 19:16] Ely-S commented on #3990
It's a pure tf.js implementation and pretty small for now. Here's a gist:

https://gist.github.com/Ely-S/b0a258d650dceda236ce76e51a9d2e39

[2020-09-30 20:07] annxingyuan opened #3994 "[webgl] CPU forwarding should work for unmodularized kernels."
**Describe the current behavior**
On master, CPU forwarding will fail in WebGL for ops that are unmodularized in WebGL but modularized in CPU.

**Describe the expected behavior**
CPU forwarding should work.

**Standalone code to reproduce the issue**
[code]
The above code fails on the WebGL backend.

[2020-09-30 20:37] lina128 commented on #3987
Hi @plakal Thank you for providing the YAMNET use case, I think it definitely fits the purpose of this proposal. A bit of more detail of what we are imagining to support: 1. During conversion, user can provide an arbitrary number of json files, which converter can digest and store in userDefinedMetadata field, each json object keyed by a user provided name. 2. In client side, during graph load, tf

[2020-09-30 21:31] plakal commented on #3987
Sounds great, thanks!

[2020-10-01 00:52] fawazahmed0 opened #3996 "USE QnA Model Examples doesn't work"
**Describe the current behavior**
The examples for Universal Sentence Encoder for question answering (USE-QA) model, doesn't seem to work.
I tried examples at [tfhub](https://tfhub.dev/google/tfjs-model/universal-sentence-encoder-qa-ondevice/1) , [npmjs](https://www.npmjs.com/package/@tensorflow-models/universal-sentence-encoder) and [Github](https://github.com/tensorflow/tfjs-models/tree/master/u

[2020-10-01 01:50] tafsiri commented on #3996
I think the docs are out of date. I tried it and it looks like model.embed does not return a promise (it synchronously returns the embeddings).

Here is a version of your [codepen with the fix](https://codepen.io/tafsiri/pen/vYGqEbJ).

@pyu10055 could you review and update the api docs/examples for useQnA mentioned above.

[2020-10-01 02:32] its-ogawa commented on #3945
Thank you for your reply.

I was surprised to hear that it can't be reproduced, but I'm fortunate that you attached the image.
I seem to be seeing different results with the same source code.

For example, the image looks incomplete to me even in the link you provided to me.
I'll send you the image I'm seeing.

Even in the source code, I'm using what you contributed to glitch.
(Glitch is very usef

[2020-10-01 04:19] HemantKumarProgrammer commented on #3961
Is a GPU must for using tensorflow bodypix? Then it may be the reason for this issue because I dont have a gpu, just inbuilt intel hd graphics , which is not very good

[2020-10-01 04:56] its-ogawa commented on #3945
I'll report what I've found.

1. it doesn't seem to be due to the type of browser
2. it doesn't seem to be due to the tfjs version

About 1.

I checked with three different browsers - firefox, chrome and edge - and the results were the same.
(I'm attaching a picture just in case)
All browsers are kept up to date.

![image](https://user-images.githubusercontent.com/69997979/94769756-c5776200-03ed-1

[2020-10-01 05:40] joemullenix-ks opened #3997 "[Codelab]: Making Predictions from 2D Data"
(latest Chrome 2020 09 30; Windows 10)

When I used the html as shown, the tutorial failed. The viz lib couldn't find the container in the DOM.

Moving the script.js include from head to body solved the issue for me, like this:

`<!DOCTYPE html>
<html>
<head>
  <title>TensorFlow.js Tutorial</title>

  <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@1.0.0/dist/tf.min.js"></script>

  <sc

[2020-10-01 06:15] pallavikhtri25 commented on #3978
![image](https://user-images.githubusercontent.com/72016802/94774377-6b6da100-03db-11eb-8840-cd674903beb6.png)
this is what i am getting now...But how about the bounding boxes
model was converted using
tensorflowjs_converter --input_format=tf_saved_model --output_node_names='detection_boxes,detection_classes,detection_features,detection_multiclass_scores,detection_scores,num_detections,raw_detecti

[2020-10-01 07:03] mhaas2-tgm commented on #3985
Nvm, figured it out!
Thank you!

[2020-10-01 07:03] #3985 closed

[2020-10-01 08:05] ClementWalter opened #3998 "Missing word in doc"
https://github.com/tensorflow/tfjs/blob/38bfa73ea74182fbc918dd13a2f6e1768d38f297/tfjs-react-native/src/camera/camera_stream.tsx#L63

There is a missing word in this line of the `cameraWithTensor` doc:

[2020-10-01 09:03] loretoparisi opened #3999 "node-pre-gyp install failed with error: Error: Command failed: node-pre-gyp install --fallback-to-build"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow.js):
`NO`
- OS P

[2020-10-01 09:15] loretoparisi opened #4000 "TypeError: Cannot read property 'nonMaxSuppressionV3Impl' of undefined"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow.js):
`NO` - I'm

[2020-10-01 10:42] ClementWalter opened #4001 "Save tensors from react-native cameraWithTensors api to jpeg"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow.js version (you are using):

    "@tensorflow/tfjs": "2.0.0",
    "@tensorflow/tfjs

[2020-10-01 11:08] loretoparisi opened #4002 "urllib.error.HTTPError: HTTP Error 404: Not Found"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow.js):
`NO`
- OS P

[2020-10-01 11:24] jameshfisher opened #4003 "TensorFlow.js cannot be bundled because it imports a module `seedrandom` which is actually a CommonJS module"
**System information**:
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow.js): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): macOS 10.15.6
- TensorFlow.js installed from (npm or script link): npm
- TensorFlow.js version (use command below): `2.4.0`
- Browser version: recent Chrome

**Describe the current behavior**: ES module bundler co

[2020-10-01 12:44] vladmandic opened #4004 "tfjs-node support for saved models does not recognize valid dtypes: uint64"
Attempting to load `saved_model` that uses `int64` in `tfjs-node` results in failure due to unrecognized data type:

[code]

[code]

Example `saved_model` that use `int64` are available on `TFHub`:
- <https://tfhub.dev/google/openimages_v4/ssd/mobilenet_v2/1>
- <https://tfhub.dev/google/faster_rcnn/openimages_v4/inception_resnet_v2/1>

Same issue for models using `uint8` data type was reported in

[2020-10-01 12:59] vladmandic opened #4005 "tfjs-node support for loadSavedModel missing memory usage"
Models loaded in `tfjs_node` using `loadSavedModel()` do not register their memory usage as (output of `tf.memory()`)
Same model loaded using `loadGraphModel()` shows correct values

[code]

[code]

[2020-10-01 13:40] #3864 closed

[2020-10-01 14:17] jameshfisher commented on #4003
This shows how I could "fix" the problem with rollup plugins: https://github.com/jameshfisher/tfjs-seedrandom-es-module-bug/pull/1

But it's too gross for me to accept as a solution. I think I'll have to stick with plain `<script>` dependencies for now.

[2020-10-01 14:35] tafsiri commented on #4003
@jameshfisher I saw on the issue you filed that David said he'd be willing to accept pull requests for this on the seedrandom side, so if you do end up making a PR there let us know and we can upgrade to an es friendly release!

[2020-10-01 14:45] tafsiri commented on #4005
I don't think you would necessarily expect to see tensors created at load time for the direct SavedModel execution provided by tf.node.loadSavedModel(). Direct SavedModel execution works a bit different from how we load tfjs graph models so no tensor memory may have been allocated at that point (and they also don't need to go through the JS layer to run the model).

After inference I would expect

[2020-10-01 14:54] vladmandic commented on #4005
@tafsiri

I just tried to get `tf.memory()` after call to `loadSavedModel()` and once more after call to `predict()`.
Yes, output is different, but it's equally incorrect - model has 200+ tensors, not 5. And `numbytes` value just makes no sense.

[code]

[2020-10-01 15:07] tafsiri commented on #4001
@ClementWalter Thanks for your request. Quick question about the code in the repo you posted. What is the goal of this line? https://github.com/ClementWalter/tfjs-expo-example/blob/13b552720d11d7a0be02eef2a26d7253cefe968a/utils.js#L9 What shape tensor to you get from that operation?

I guess it would be nice to know if the issue is with the tensor data or with the jpeg encoding/file writing. Are y

[2020-10-01 15:36] tafsiri commented on #4000
I just tried your script and could not reproduce the error. Could you post your package.json so we can see what versions of the libraries you are using?

[2020-10-01 16:27] tafsiri commented on #4005
Yes in this case the tensors used during execution are not trackable at the JS layer (we pretty much can skip the js layer entirely when executing the model), This is why the 'unreliable' flag is set to true. Also I would expect intermediate tensors to be cleaned up by the end of the inference.

Overall what are you trying to do? Maybe there is another path we can point you towards (it might be be

[2020-10-01 16:42] loretoparisi commented on #4000
@tafsiri yes. Please wait thank you

[2020-10-01 16:46] loretoparisi commented on #4000
This is the `package.json`

[code]

I remove the `node_modules` folder and then I do

[code]

This seems to cause the error here https://github.com/tensorflow/tfjs/issues/3999

Then I do

[code]

using the code above and it works ok. But if I put `require('@tensorflow/tfjs-node');` as first line, I get that error:

[code]
[code]

[2020-10-01 16:47] pyu10055 commented on #4002
@loretoparisi The issue is that, toxicity model is an JS model, and the converter can only work with TFHub modules which this model do not have.
are you trying to download the model artifacts to use in an offline use case?

[2020-10-01 16:51] loretoparisi commented on #4002
@pyu10055 yes I would like to use the TFHub model artifacts in the offline case, so I was trying the converter to load this model. In fact I realized this `model.json` is different than the regular ones (it is missing some keys see [here](https://stackoverflow.com/questions/64153455/tensorflow-js-load-tfhub-model-locally)).
Any way to convert this model and/or use it offline?

Thank you

[2020-10-01 16:57] vladmandic commented on #4005
@tafsiri My use cases are:
- Track memory usage as I'm loading multiple models as running out of memory is a real possibility.
  Yes, I can use OS utilities for that, but that would capture everything inside the app which - better than nothing, but not ideal.
- Track any possible memory leaks

Big thing for me is that I have a large code-base already using `loadGraphModel()` and I'm forced to use

[2020-10-01 17:50] CompuIves commented on #3889
Hey all! Yep, this is definitely an issue with CodeSandbox, it seems like our transpiler has made the imports out of order, which causes `/core` to be loaded after the others. I'll look into a fix now.

[2020-10-01 18:35] fawazahmed0 commented on #4002
The toxicty model seems to be a graph model, so even if you download it and try converting it with `--input_format=tfjs_layers_model` flag it will fail

My question:
Is there any way to get the sequential variant of these tfhub js models? So we can convert it

Thanks

[2020-10-01 19:54] BrunoPes commented on #3504
Hey, sorry for bringing this up again, but I have the same problem as @geetesh-gupta on **Android** only. iOS works just fine.

For the first run, I download my model directly from the cloud using `const model = tf.loadLayersModel(modelUri)`.
Then, I save it on asyncStorage doing `model.save(asyncStorageIO('custom-model'))`. For the second run and on, I have a logic to check if I have any model sa

[2020-10-01 22:02] loretoparisi commented on #4002
I would add that, as someone on SF, pointed out, it should be possible to locally host the models folder and serve the model artifacts (via model.json) using maybe a simple nodejs http server.
My point here is: why is not possible to convert the `GraphModel` to a SavedModel o standard layered model and make it accessible locally via the
`tfjs.loadLayersModel` api?

Thanks

[2020-10-01 22:27] rthadur commented on #3999
@loretoparisi can you please check for a similar issue [here](https://github.com/tensorflow/tfjs/issues/3577)

[2020-10-01 22:45] jinjingforever commented on #3994
Hi Ann,

Quick update: I identified several ops that need to be fixed (e.g. ceil, floor, exp, etc). Once those are fixed, the ops that use them (e.g. softmax) should also be fixed too. I also saw that your PR #3956 fixed a couple of ops as well:) Thanks!

To reduce conflicts, I will wait for your PR to be submitted before sending out my fix. Please take your time!

Thanks Ann!

[2020-10-01 23:19] rmajasol commented on #1811
+1 here too

[2020-10-01 23:21] rthadur commented on #3997
please check this note in the codelab

![image](https://user-images.githubusercontent.com/43972606/94872613-eba6fd00-0401-11eb-9e00-34b6fdc23f39.png)
you will not be able to run the file on browser you should use Codepen or glitch .

[2020-10-02 01:54] tafsiri commented on #4002
Thanks for the clarification @pyu10055 and @loretoparisi. So it seems in this case you shouldn't need to to do any conversion as it is already a tfjs graphmodel?

You could download the model artifacts here https://tfhub.dev/tensorflow/tfjs-model/toxicity/1/default/1 and serve them from your own storage/locally. Your stack overflow posts suggests you are partway there.

The missing piece that I ca

[2020-10-02 02:48] loretoparisi commented on #4002
@tafsiri thank you. I think as you say the wrapper should support custom urls. More specifically, as the layered model loading api, it could support the `file://`
protocol, so that it would be easy to load models from local serving (via http) or from the file system.

Thanks a lot for your help!

[2020-10-02 02:55] loretoparisi commented on #3999
@rthadur Thanks please wait let me check if is related to one of both issues mentioned.

[2020-10-02 03:48] #4004 closed

[2020-10-02 04:03] gbmax commented on #3977
Hello again.
I tested to convert the same model file by program.
the error message seems to be different(not sure).
Code is:
[code]
Version info. is:
[code]

Error message is as follows:
=> (message seems to recognize it is h5 format instead of tf format.)
[code]

[2020-10-02 04:47] gbmax commented on #3977
Hello again.
Another conversion trial.
This time I tried to convert from keras basic example from keras homepage.
(https://keras.io/examples/structured_data/structured_data_classification_from_scratch/)

After model fit(`model.fit(train_ds, epochs=50, validation_data=val_ds)`),
I tried to convert through tensorflowjs :
[code]
And the result is :
[code]

[2020-10-02 04:58] nathan-chappell opened #4009 "More descriptive error when *isTypedArray* fails on certain typed arrays"
**System information**
- TensorFlow.js version (you are using): 2.4.0
- Are you willing to contribute it (Yes/No): Yes

**Describe the feature and the current behavior/state.**

When trying to create a Tensor with `tf.tensor`, and you pass in a `Uint32Array`, and error is thrown which states:

This error message is somewhat contradictory to the source code, which includes:

    // @tensorflow/tfjs

[2020-10-02 06:06] gbmax commented on #3977
I am sorry for using wrong function.
Tensorflow Doc. says using `tfjs.converters.save_keras_model()` is for h5 format.
So I changed code as :
[code]
In this case error ocurred in model.save().
[code]

[2020-10-02 07:28] JamesSWilliams commented on #3968
For a project I'm working on, we need to extract the key points of a person with Posenet over a period of about 20 seconds.
We also want to replay the video. Since we need a video anyway und most phones have problems, using posenet at realtime (at least older or budget phones), we want to postprocess it.

[2020-10-02 10:01] loretoparisi commented on #3999
@rthadur my first attempt was trying the suggestion in the first of your links [here](https://github.com/tensorflow/tfjs/issues/3016#issuecomment-608003327) so doing `@tensorflow/tfjs-node build-addon-from-source`

[code]

[2020-10-02 10:26] loretoparisi commented on #3999
The [other](https://github.com/netlify-templates/victor-hugo/issues/186) approach I have used was to reinstall `npm` doing `sudo npm install npm@latest -g` so I have

[code]

and now it works! 💯

The problem now becomes th 2nd one, I have cited [here](https://github.com/tensorflow/tfjs/issues/4000)

[code]

[2020-10-02 10:28] #3999 closed

[2020-10-02 10:28] kedevked opened #4010 "model.predict expands only tensor1d input"
**System information**
- TensorFlow.js version: 2.4.0
- Browser version: Chrome 84

**Describe the current behavior**

It seems that currently `model.predict` in tfjs expands the input only when the input is a tensor1d

**Describe the expected behavior**

in python `model.predict` will expand the dim whenever it does not match the inputShape

**Standalone code to reproduce the issue**
[code]

**Ot

[2020-10-02 10:34] loretoparisi commented on #4000
**[UPDATE]**
I was able to solve the install issue, previously cited, so now the only issue I have is the one here:

[code]

having

[code]

and installed the following packages

[code]

[2020-10-02 11:23] willclarktech commented on #1795
@rthadur This is still an issue and the solution from @marsiancba is now out of date because `ENGINE.runKernel` is deprecated. The grad function is available in TF for Python: https://github.com/tensorflow/tensorflow/blob/v2.3.1/tensorflow/python/ops/array_grad.py#L691-L701

[2020-10-02 12:55] sebavan commented on #3937
Would also need a similar setup for WebGPU in the future :-)

[2020-10-02 13:11] sebavan commented on #1607
@pmer, about the texture sharing, how did you access FromPixelsPackedProgram and TextureUsage without creating a custom TF build ? I can not find them exported on the current version ?

Just wondering if I am not missing the obvious :-)

[2020-10-02 13:51] sebavan commented on #1607
Mainly because I am currently doing it as such:
[code]

But I am, a bit worried about upgrade and back compat but if #3937 goes in, it will solve all of it.

[2020-10-02 14:06] tafsiri commented on #1795
@willclarktech Engine.runKernel is not deprecated, we will actually be moving all out kernels to use Engine.runKernel instead of `Engine.runKernelFunc`. We do however have a new way to register gradients which should make it easier to add a custom gradient.

You can see examples of them in tfjs-core/src/gradients. Here is roughly what @marsiancba's code would look like with our new api.

[code]

I

[2020-10-02 14:19] tafsiri commented on #4000
I'm not sure why you modified the package.json of the toxicity model? I wanted to see the package.json of _your project_. The model itself only has peerDependencies on specific versions of tfjs. It looks like you modifying it to add direct dependencies there which does not look like the right way to solve your problem.

Did you run into an issue with the [install instructions here earlier](https:/

[2020-10-02 14:27] loretoparisi commented on #4000
@tafsiri right thank you. So this `package.json` comes from my application (NodeJS). I prefer not to include the examples in the application, but better the code and the model directly (so that I can run it offline), etc.
Thanks a lot for the help, at the end it works, after struggling a bit with `npm`.

[2020-10-02 14:27] #4000 closed

[2020-10-02 14:30] vladmandic opened #4011 "TFJS-Node inference fails with 'Table not initialized'"
Loading specific `saved_model` using `loadSavedModel()` later fails during call to `predict()` with a cryptic error message that comes from within `libtensorflow.so`:

[code]

which comes from `tensorflow/core/kernels/lookup_util.cc`:
[code]

Models that fail are available on `TFHub`:
- <https://tfhub.dev/google/openimages_v4/ssd/mobilenet_v2/1>
- <https://tfhub.dev/google/faster_rcnn/openimages_v

[2020-10-02 14:32] tafsiri commented on #4010
Ping @caisq for thoughts on what the expected behaviour in layers should be? I've don' think I've ever relied on automatic reshaping of input so I'm surprised the first one works. I think we've generally advised users to batch all inputs (even if its a batch of one).

related to #3985

[2020-10-02 14:33] #3434 closed

[2020-10-02 14:33] vladmandic commented on #4004
Confirmed that models do load correctly with the latest patch, but now I'm running into next issue using same models.
Created a new issue under <https://github.com/tensorflow/tfjs/issues/4011>

[2020-10-02 14:35] tafsiri commented on #3968
Cool. I suspect a function approach that yields tensors would probably be best as you'd be able to separate processing the frames from any display of the video that may be happening. But glad to hear you have a use case that would drive prototyping. Is the info I provided above enough to get started? Let me know if you have any questions that I could help with.

[2020-10-02 15:19] loretoparisi commented on #4002
hey @tafsiri , I have found something maybe useful. I downloaded locally the toxicity model and then tried to run the converted. This is what happened

[code]

[2020-10-02 15:21] willclarktech commented on #1795
@tafsiri Sorry, yes, I mean that in order to get @marsiancba 's code working with tfjs v2.4.0 I had to use the deprecated `.runKernelFunc` instead of `.runKernel`. Thanks for reopening!

[2020-10-02 15:37] ClementWalter commented on #4001
Ok so there were two things:

 - actually the `encodeJpeg(tensor)` was wrong because
    - I mixed channels and pixels order
    - I was adding a 4th channel in case tensor only had 3 but not stacking a channel full of 255 but copying  the red channel of the input tensor (the link you mentionned)
 - I was using `Dimensions.height` and `Dimensions.width` for the `cameraTexture(Height|Width)` and it

[2020-10-02 16:02] annxingyuan commented on #3994
Sounds good @jinjingforever - thank you for taking this on!

[2020-10-02 16:10] loretoparisi commented on #2698
@kangyizhang I'm getting this error after converting a GraphModel from TFHub to a saved model:

[code]

The model I have converted, was working in TFJS, since it's a tfjs-models example:

[code]

[2020-10-02 16:13] loretoparisi commented on #3930
The same issue happens with `DT_INT64` as well:

[code]

after converting a GraphModel to SavedModel.

[2020-10-02 16:16] AnthonyLabaere commented on #3962
Hello tafsiri and thank you for yours answers.

I only tried on coco-ssd for now (https://tfhub.dev/tensorflow/tfjs-model/ssd_mobilenet_v2/1/default/1)

Both solutions work for model loading... on android emulator only :
- Using --weight_shard_size_byte on the SavedModel conversion to only have one file
- Changing the path array of weightsManifest in order to reference my concatened .bin file

But

[2020-10-02 16:17] vladmandic commented on #3930
@loretoparisi Yup, I've reported that under <https://github.com/tensorflow/tfjs/issues/4004> and it was just fixed in <https://github.com/tensorflow/tfjs/pull/4008>

[2020-10-02 16:43] Den-dp commented on #3931
Any plans to release it?

[2020-10-02 18:32] joemullenix-ks commented on #3997
I am able to run the entire tutorial after the change I made; no CORS error; no local server needed. It appears to a simple issue with the load sequence.

Thanks for the response.

[2020-10-02 19:12] rthadur commented on #3997
cc @tafsiri

[2020-10-02 20:01] pmer commented on #1607
I have that exact same line of code, character for character! :) We are lucky that it works without a custom build.

And I'm worried about that upgrades, too. Having texture insertion & deletion is a must-have feature for me (my app will, for its purposes, not work without this), so I am prepared to forego upgrading to any new version of TFJS that would break what we have here. Not a good solution

[2020-10-02 20:08] pmer commented on #1607
I cannot do a custom build IIRC because TFJS is tightly coupled to specific versions of TypeScript, and will not compile with an older or newer version of TypeScript. But my program uses a different version of TypeScript than what TFJS uses, so to do a custom build I'd have to have two versions of TypeScript at once and do two different build processes, which is too complicated for me.

[2020-10-02 20:24] sebavan commented on #1607
Ohhh yup the line works for me, but digging into customs makes me scared on update, hence the custom build but I guess I ll stick with it :-)

[2020-10-03 06:40] dikatok commented on #3991
@pyu10055 is this issue open for contribution?

[2020-10-03 15:45] archie94 opened #4013 "Fatal Exception: java.lang.IllegalArgumentException: Internal error: Failed to apply delegate: OpenCL library not loaded - dlopen failed: library "libOpenCL-pixel.so" not found"
**System information**

Mobile Device - Android - across multiple Android version (6, 7, 8)

**Describe the current behavior**

Invoking `org.tensorflow.lite.Interpreter` causes crash on some cases

**Describe the expected behavior**

Should not crash

**Standalone code to reproduce the issue**

I am getting this on crash analysis tool. Since this is not reproducible on my devices I am not able to

[2020-10-04 13:25] dennis508 opened #4014 "BodyPix and hi res images"
BodyPix doesn't work well with higher resolution people images.
Example: a 1256x2536 image misses most body parts, but the same image reduced to 25% is nearly perfect. See images.

If this is not a bug I would like to see some guidance about maximum and minimum pixel sizes of people images.

architecture = 'MobileNetV1';
outputStride = 16;
multiplier = 0.75;
quantBytes = 2;
segmentationThreshold =

[2020-10-04 14:00] fawazahmed0 opened #4015 "Screen goes blank on embedding large data with USE model in a browser"
**System information**
- Windows 7 Service Pack 1 Build 7601
- TensorFlow.js Version: 2.4.0 (Latest)
- USE Model: 1.3.2 (Latest)
- Browser version: Chrome 85.0.4183.121 (Latest)
- GPU: RX550 2GB (Radeon Software 20.2.2 )

**Describe the current behavior**
The Screen seems to go blank when embedding large data using [USE model](https://www.npmjs.com/package/@tensorflow-models/universal-sentence-enc

[2020-10-05 09:39] MariamQusai commented on #3820
Hi all,
We need more information on the parameters of the spectrogram to be passed when performing the offline recognition.
overlap factor, windowing, any smoothing factors.

[2020-10-05 10:40] loretoparisi commented on #3930
Hey @vladmandic in the meantime `tfjs_graph_converter` added a support while converting using `--compat_mode` in latest version `1.4.0`. The model loading seems to work fine:

[code]

This works fine:

[code]

 BUT, if I apply this to the TFJS model wrapper here:

[code]

it will fail due to length of input op names (I did not change any code in the Toxicity demo, a part the model loading wrapper)

[2020-10-05 12:53] loretoparisi commented on #2370
@kangyizhang I'm having the same issue with

[code]

[code]

with

[code]

[2020-10-05 14:36] tafsiri commented on #4015
This may be a driver issue, assuming you are using webgl it generally shouldn't be able to bring your machine regardless of what is going on in the tab.

To help us understand more about this:
 - How large is large data?
 - Which tfjs backend are you using?
 - Could you post a screenshot of what you see here https://js.tensorflow.org/debug/

To help resolve your ability to use USE:
 - Can you spli

[2020-10-05 15:24] MariamQusai opened #4018 "missing documentation of how to construct the spectogram in offline speech-command recognition"
Hi,
I am trying to perform offline recognition using the speech-command tfjs  [`library`](https://github.com/tensorflow/tfjs-models/tree/master/speech-commands). however, I have little information on the required params or how was the spectogram constructed. My current implementation does the following:
1. get the time domain signal from a .wav file using webaudio API (decodeAudioData).
2. partiti

[2020-10-05 15:25] MariamQusai opened #4019 "missing documentation in speech command offline recognition"
Hi,
I am trying to perform offline recognition using the speech-command tfjs  [`library`](https://github.com/tensorflow/tfjs-models/tree/master/speech-commands). however, I have little information on the required params or how was the spectogram constructed. My current implementation does the following:
1. get the time domain signal from a .wav file using webaudio API (decodeAudioData).
2. partiti

[2020-10-05 15:46] nikhilchillakuru commented on #3980
Have tested on different mobiles with same and different versions of browsers, the behaviour is very different on different browsers.

getFloatFrequencyData() is returning different data in multiple devices, so the behaviour is inconsistent. Any Idea how to solve this??

[2020-10-05 18:01] #3949 closed

[2020-10-05 20:01] #2723 closed

[2020-10-05 20:54] fawazahmed0 commented on #4015
Thanks @tafsiri for replying, I did tried the [CodePen](https://codepen.io/fawazahmed0/pen/bGpXxbw?editors=1111) in a laptop having integrated Intel HD 5500 Graphics and in that the screen goes blank and then driver restarts with the screen coming alive with a Driver failed notification. But in my pc, the screen never comes back alive, have to hard reboot.

6000+ text lines

I did not set any back

[2020-10-05 20:58] mscomazzon opened #4022 "TensorFlow - Posenet not working properly with React-Native"
**System information**
- Mobile device: iPhone 11 Pro
- TensorFlow.js installed from: https://www.npmjs.com/package/@tensorflow/tfjs
                                                    https://www.npmjs.com/package/@tensorflow/tfjs-react-native
- TensorFlow.js version:
    "@tensorflow/tfjs": "^1.7.1",
    "@tensorflow/tfjs-react-native": "^0.2.3"
    "react": "16.9.0",
    "react-native": "0.61.5

[2020-10-05 22:17] tafsiri commented on #4015
I couldn't understand your use of splice in your codepen. But I forked it so that I could try batching, here is a [link to my codepen](https://codepen.io/tafsiri/pen/zYBOwVB?editors=1111), you can adjust the batch size used. It will still take a while to process all your data. You may want to consider doing it once (possibly on node) and saving the embeddings so that you can re-use them.

[2020-10-06 00:07] fawazahmed0 commented on #4015
The [splice](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Array/splice) takes slice of array each time it's called, so similar to batching.

I tried your [codepen](https://codepen.io/tafsiri/pen/zYBOwVB?editors=1111), even that has the same issue, I will share a gif and that would probably explain the issue, it seems to be a memory leakage issue, observe the GPU

[2020-10-06 03:43] lcycoding opened #4025 "Wasm-simd-threaded backend stuck"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow.js): Not yet
- O

[2020-10-06 04:36] rthadur commented on #4025
@lcycoding thanks for reporting , @annxingyuan I was able to reproduce the same behavior.

[2020-10-06 07:54] MyJumperBroke23 opened #4026 "How did you find the Camera Texture Dims?"
Playing with CameraWithTensors right now, and the tensor I'm getting is just all zeros.

I'm assuming that this is because the texturedims that I copied from the docs

[code]

don't work with the device that I use. This is because the camera seems to be resizing incorrectly when displayed onto the screen.

I was wondering where you got the textureDims values from? Is there a table somewhere that I

[2020-10-06 08:04] MyJumperBroke23 commented on #4026
Update:

The zero tensor issue was solved by using requestAnimationFrame instead of requestAnimation. Maybe this should be updated in the docs?

The resizing issue still remains, so I will be leaving this open.

[2020-10-06 11:06] AnthonyLabaere commented on #3962
Don't you have a demo app on a repo that I can install on my device, to see if it works ? And if it works, then compare your code with my app code ? Or compare my dependencies ? With that I could debug I think.

[2020-10-06 11:56] annxingyuan commented on #4025
Hi @lcycoding - are you saying that Wasm + SIMD + threaded works, but Wasm + SIMD + non-threaded does not? Also, does non-SIMD work for you?

Basically I'm trying to figure out which of the permutations of SIMD / threaded support is failing.

[2020-10-06 12:53] lcycoding commented on #4025
@annxingyuan
OK, here's the combination that I've tried

Macbook Pro + Google Chrome 85
Wasm + SIMD + Threaded -> Fail, hanged after few seconds(or minutes)
Wasm + Non SIMD + Threaded -> Stable
Wasm + Non SIMD + Non Threaded -> Stable

Windows PC + Google Chrome 85
Wasm + SIMD + Threaded -> Live longer than macbook, but will hang eventually
Wasm + Non SIMD + Threaded -> Stable
Wasm + Non SIMD + No

[2020-10-06 12:55] annxingyuan commented on #4025
Thanks so much @lcycoding - would you mind trying one more configuration: Wasm + SIMD + non-threaded?

[2020-10-06 13:04] lcycoding commented on #4025
Hi @annxingyuan ,
Sorry didn't bring my macbook pro home, but I tried on Macbook Air
Here's the result
Wasm + SIMD + Threaded -> Fails immediately
Wasm + SIMD + Non Threaded -> Seems stable for few minutes
Wasm + Non SIMD + Threaded -> Seems stable for few minutes
Wasm + Non SIMD + Non Threaded -> Stable

Thanks for your prompt reply!

[2020-10-06 13:26] annxingyuan commented on #4025
Hi @lcycoding - thanks again for reporting this - it may take us a bit to get to the bottom of the issue. In the meantime, I'm curious how you are toggling SIMD / thread support? Through Chrome flags?

Also, you may want to try our [benchmarking page](https://tensorflow.github.io/tfjs/e2e/benchmarks/local-benchmark/index.html) to test instead, it is a more stripped down environment.

[2020-10-06 13:53] lcycoding commented on #4025
Yes, I'm toggling the switch through chrome flags.
Will try the benchmark page, thanks!

[2020-10-06 15:06] tafsiri commented on #4015
Thanks for the GIF, that is very helpful. In terms of controlling memory usage there are a few things you would need to do.

1. Disposing the output tensor for each batch of embedded text: You would download the final values from the GPU to CPU and then dispose the tensor that is resident on GPU.
2. Setting `tf.env().set("WEBGL_DELETE_TEXTURE_THRESHOLD", 0);` at the top of the program. Disposing t

[2020-10-06 15:11] tafsiri commented on #4026
Unfortunately you need to determine this by experimentation as expo doesn't expose this (that is how I determined it at the time), I posted on their forums on exposing the texture size but didn't get a response. I'll file a new issue with them and see if it is something expo can support in future.

[2020-10-06 17:07] fawazahmed0 commented on #4015
Thanks @tafsiri @annxingyuan ,the key was `tf.env().set("WEBGL_DELETE_TEXTURE_THRESHOLD", 0)` to solve the issue for me, dispose() function rather slows down the whole embedding process for me, so I removed it.

Thanks

[2020-10-06 22:57] #1866 closed

[2020-10-07 04:32] pyu10055 opened #4029 "WebGL CPU forwarding failed for slice op"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow.js):
- OS Platfo

[2020-10-07 06:06] condorman opened #4030 "'multiply' not yet implemented or not found in the registry"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow.js): custom
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): windows 10
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow.js installed from (npm or script link): 2.4.0
- TensorFlow.js version (use command below):

[2020-10-07 08:04] bertlea commented on #4029
I got the similar error today:

`tfjs:17 Uncaught (in promise) Error: 'slice' not yet implemented or not found in the registry. This kernel may not be supported by the tfjs backend you have chosen
    at av (tfjs:17)
    at t.slice (tfjs:17)
    at t.n.slice (tfjs:17)
    at tfjs:17
    at tfjs:17
    at tfjs:17
    at e.t.scopedRun (tfjs:17)
    at e.t.tidy (tfjs:17)
    at p (tfjs:17)
    at tfj

[2020-10-07 08:08] philipclaesson commented on #3820
@MariamQusai There's a helpful comment in this [readme](https://github.com/tensorflow/tfjs-models/blob/master/speech-commands/training/browser-fft/README.md):

and in the notebook

https://en.wikipedia.org/wiki/Window_function#Blackman_window

However, @rthadur do you know if the source code for the preprocessing model available anywhere?

[2020-10-07 08:13] MariamQusai commented on #3820
@philipclaesson yes I did check the Web audio API [documentation](https://webaudio.github.io/web-audio-api/#current-time-domain-data).
however, I need to know what parameters have you selected when training the speech-command model, or you went with the defaults.
Also what is the hop size when performing windowing.

[2020-10-07 10:04] mtuan4i commented on #4029
I got the same error. I tried `tf.env().set('WEBGPU_CPU_FORWARD', false);` but it doesn't work. However, `tf.env().set('WEBGL_CPU_FORWARD', false);` does

[2020-10-07 10:05] lnovelli commented on #4029
+1 same issue happening after upgrading tfsj from 2.4.0 to 2.5.0

[2020-10-07 10:16] jmartinezuk commented on #4029
+1 Same here.

[2020-10-07 11:59] susmeet-jain commented on #1668
Hey @nsthorat
Any update on this feature request?

[2020-10-07 12:23] CompuIves commented on #3889
Just merged it, it should be live within 30 min!

[2020-10-07 13:43] Fifth-marauder commented on #4029
+1 same here

[2020-10-07 14:01] GantMan commented on #3889
This works with 2.4 and even the latest 2.5!   Great work!  Thanks so much @CompuIves for helping.  Codesandbox is my preferred tool for sharing, demonstrating, and updating TFJS codebases.

I'll close this ticket, as it seems it's 100% working!  🥳

[2020-10-07 14:01] #3889 closed

[2020-10-07 14:07] patlevin commented on #3930
@loretoparisi Do you still have the same problem? It works fine for me with int64 and int32 inputs with TFJS v2.5.0 and with int32 inputs in v2.3.0 and v2.4.0.

[2020-10-07 15:12] rohail0 commented on #3885
@tafsiri sorry for the delay, forked the repo to try to expose this on the test integration_rn59 app. All I did was update most of the libraries to newer versions. https://github.com/rohail0/tfjs/tree/bug-func-is-not-function

[2020-10-07 16:28] debagger commented on #4030
Hello!
I have same error too.
Looks like bug in webgl backend. Hope this will be fixed soon.
For a while  I found this workaround:

`env().set('WEBGL_CPU_FORWARD', false)`

Insert this before any computations begins.

[2020-10-07 16:54] rthadur commented on #4009
@nathan-chappell please submit a PR

[2020-10-07 17:16] #4015 closed

[2020-10-07 17:19] rthadur commented on #4030
Here is the guidelines for contributing missing op https://github.com/tensorflow/tfjs/blob/master/CONTRIBUTING_MISSING_OP.md , feel free to submit a PR if intrested.

[2020-10-07 17:29] pyu10055 commented on #4030
This is related to https://github.com/tensorflow/tfjs/issues/4029
We are fixing this issue and will release a new version soon.

[2020-10-07 17:42] bc commented on #4030
yup got the same issue. thanks for looking into this!

[2020-10-07 18:00] manmohanbishnoi commented on #4030
Yeah noticed this today with v2.5.0 and posenet

[2020-10-07 18:27] loretoparisi commented on #3930
@patlevin thank you, let me check, they  have just released `v2.5.0`

[2020-10-07 18:41] loretoparisi opened #4034 "TypeError: this.toxicityLabels.every is not a function"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow.js):
`NO`
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
[code]
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
`Not applicable`
- TensorFlow.js installed from (npm or script link):
`npm`
- TensorFlow.js version (use comm

[2020-10-07 18:41] loretoparisi commented on #3930
So it fails right now due to this other issue https://github.com/tensorflow/tfjs/issues/4034
I think related to the latest update.

[2020-10-07 18:45] loretoparisi commented on #4034
**[UPDATE]**
My fault, mixed up old (2.4.0) and new code (2.5.0). Just remove `node_modules` and do a fresh install.

[2020-10-07 18:45] #4034 closed

[2020-10-07 18:50] loretoparisi commented on #3930
@patlevin @vladmandic So the model correctly loads with tfjs `v2.5.0`, but, in this example at least, there is a specific error that is

[code]

[2020-10-07 18:56] loretoparisi opened #4035 "Error: SavedModel outputs information is not available yet."
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow.js):
`YES`
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
[code]
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
`Not applicable`
- TensorFlow.js installed from (npm or script link):
`npm`
- TensorFlow.js version (use com

[2020-10-07 19:04] lina128 commented on #4011
Hi @vladmandic, TF-Hub modules are not directly "servable saved models" in that they do not contain a main_op that initializes them. So to load a TF Hub module and use tfjs-node for inference without conversion, we need to add an extra step to create the main_op. Please create a feature request if needed. Thank you.

[2020-10-07 19:12] vladmandic commented on #4011
What do you mean by "directly servable"? If I download an archive, unpack it and load `saved_model.pb`, it works for 99% of models (and I never said I try to load it directly from tfhub if that is what you've meant plus gist i've posted refers to locally served models).

I had issues with some models due to unrecognized data types (uint8, int64 and those were resolved) and I have issue with `matmu

[2020-10-07 19:14] patlevin commented on #3930
@loretoparisi Interesting. I used the following code and it worked just fine:

[code]

The model methods `outputs()` and `inputs()` aren't implemented yet for the `SavmedModel`-class, but in case you need them for some reason, outputs and inputs can be obtained using the `getMetaGraphsFromSavedModel()` and `getSignatureDefEntryFromMetaGraphInfo()` functions.

[2020-10-07 19:17] vladmandic commented on #3942
(ping to remove *stalled*)

[2020-10-07 19:25] loretoparisi commented on #3930
@patlevin thanks, I confirm that this way it works!

[code]

while, according to what you say, using the other way the error

[code]

comes from within the `saved_model` class, in fact there we have a not implemented error!

[code]

hence the offending line in the `toxicity` example is the following I assume

[code]

that must be changed in someway using the `getMetaGraphsFromSavedModel` method th

[2020-10-07 19:30] patlevin commented on #3930
@loretoparisi I'll create a pull-request that implements `outputs()` and `inputs()` on `SavedModel`.

[2020-10-07 19:39] loretoparisi commented on #3930
super! In the meantime I have found the outputs something as you suggested

[code]

[2020-10-07 20:03] nathan-chappell commented on #4009
@rthadur Roger that.

[2020-10-07 20:06] lina128 commented on #4011
Hi @vladmandic, for this particular model, it requires table initialization. The TF-Hub module doesn't have that in the saved_model.pb. It will require additional step to add the initialization op to the model.

[2020-10-07 20:58] vladmandic commented on #4011
@lina128 So it's model specific - can you point me to an example if that is something that can be done by user?

[2020-10-07 21:02] vladmandic commented on #3930
@loretoparisi btw, one advantage of working with `saved_model` and `getMetaGraphsFromSavedModel()` is that it shows actual signature names instead just an incrementing array (when model has multiple inputs and/or outputs) that you get from a `graph_model`.

See <https://github.com/tensorflow/tfjs/issues/3942> for details.

[2020-10-07 22:33] inguelberth commented on #2443
hey @blidblid in which version of tensorflow have you tested this trick?

[2020-10-08 03:31] #3994 closed

[2020-10-08 03:31] #4029 closed

[2020-10-08 03:31] #4030 closed

[2020-10-08 07:04] pallavikhtri25 commented on #3978
waiting for response

[2020-10-08 07:38] blidblid commented on #2443
[code]

Not all feature columns seem to work with this method. I had to use `categorical_column_with_identity` over `categorical_column_with_vocabulary_list`.

[2020-10-08 08:25] its-ogawa commented on #3945
@tafsiri @rthadur

This post has not yet been resolved. Please do not close it.
'Installed' is not an appropriate action.

Also, I have presented the information I can report.
'stat:awiting response' is also not appropriate.

Please reply if there is anything I can do to help.

[2020-10-08 08:40] marsiancba commented on #1795
@tafsiri please add it.

[2020-10-08 10:05] loretoparisi commented on #3930
@patlevin thanks for the test script.
I modified it a little bit to user the Universal Sentence Encoder:

[code]

Now I have an array of Tensors like

[code]
and now I have to turn into indexes and values. I have tried this

[code]

But it seems that `embed` function of the Tokenizers is different from the `encode` function internally used that I cannot call external (it gives me an `undefined` if

[2020-10-08 10:14] comojin1994 opened #4041 "cameraWithTensors does not operate"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): MacOS
- Mobile device (e.g. iP

[2020-10-08 11:09] rfourdinier commented on #3485
Hello @pyu10055, i updated coco ssd to 2.0.1 and then last version 2.5.0  but i still have the exact same error as @vvasc did.

I am also having tfjs and backends version up to date 2.5.0 but error is still here.

Do you have any suggestion ? Thank you very much

[2020-10-08 13:25] Deamoner commented on #102
Can validate this does work. Couldn’t get wasm to work although I do not have a gpu so I think that’s expected. Issue in speed seems to be 2 fold. Transferring cam pic data needs to be done through image data and that call of getinagedata is heavy taking 200 ms. Additionally the posenet model not being sped up but simply not blocking has some value but the large transfer latency overheard make it

[2020-10-08 13:33] tafsiri commented on #4041
I think this is the same issue as reported in https://github.com/tensorflow/tfjs/issues/3885, will investigate and update on that issue.

[2020-10-08 13:36] tafsiri commented on #3945
@rthadur are you able to reproduce the issue described here when visiting this link https://humorous-silky-hacksaw.glitch.me/

[2020-10-08 15:14] rthadur commented on #3945
@tafsiri I am seeing the same in all browsers.

[2020-10-08 15:32] HemantKumar01 commented on #3961
Just writing this to avoid being stalled.
***Progress:*** thinking to try again, maybe after 10-15 days

[2020-10-08 16:31] rthadur commented on #3978
Hello, this sort of question is better suited for StackOverflow. This issues list is for bugs and feature requests. Thanks and please use the tag 'tensorflow.js' on your StackOverflow question to makes sure it's discoverable.

[2020-10-08 16:31] #3978 closed

[2020-10-08 16:51] #4002 closed

[2020-10-08 18:24] plakal commented on #4029
When will the fix be available in a public release? I'm still seeing the issue when using one of the official mirrors of TFJS: https://cdn.jsdelivr.net/npm/@tensorflow/tfjs/dist/tf.min.js which still seems to be pulling down 2.5.0

[2020-10-08 18:37] tafsiri commented on #4022
It's possible that the input image you are feeding in is too small and that is causing accuracy issues. Try increasing the tensor size you pass to the model to see if that improves accuracy.

[2020-10-08 18:48] lina128 commented on #4011
Hi @vladmandic, you can try something like below. If it doesn't work, may get help from tensorflow hub community: https://github.com/tensorflow/hub
[code]

[2020-10-08 18:50] rthadur commented on #3996
This is fixed

[2020-10-08 18:50] #3996 closed

[2020-10-08 18:57] fawazahmed0 commented on #3996
Only Github example seems to be updated though

[2020-10-08 19:01] #3926 closed

[2020-10-08 19:01] #3884 closed

[2020-10-08 21:05] patlevin commented on #3930
@loretoparisi The model expects an encoded word vector as input, while the Universal Sentence Encoder (USE) model returns embeddings.

Basically, you'll want to use the `loadTokenizer()` function from the previous USE version, but that one requires TFJS 1.x...
I have a working version locally, but it'd be better to fix the examples instead - see Issue #3856

Unfortunately @pyu10055's commit b02310

[2020-10-08 23:23] lina128 commented on #4029
We published 2.6.0 today, it should fix the problem by now.

[2020-10-09 03:31] dikatok commented on #3991
@rthadur gotcha, I am taking this issue

[2020-10-09 04:50] comojin1994 commented on #4041
I made it !
It was version problem.
Thank you for your advice!

For anyone who have same problem like me, I add my **package.json**.

[code]

[2020-10-09 04:50] #4041 closed

[2020-10-09 08:47] loretoparisi commented on #3930
@patlevin thank you! In fact I have just realized that the after recent updates models examples and core code diverged!

[2020-10-09 09:20] lnovelli commented on #4029
Problem solved on my side with 2.6.0! Kudos to the TFjs team for the prompt resolution! :)

[2020-10-09 12:00] damienlaine opened #4047 "Random Function signature mismatch errors with WASM Backend"
Greetings,

**System information**

- I Have I written custom code
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Debian 10
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: not tested, seems a browser related issue
- TensorFlow.js installed from (npm or script link): CDNDeliver https://cdn.jsdelivr.net/npm/@tensorflow/tfjs-backend-wasm@2.3

[2020-10-09 12:01] #3567 closed

[2020-10-09 14:50] rthadur commented on #4047
@damienlaine can you please try with latest version 2.6 ?

[2020-10-09 15:26] vladmandic commented on #4011
python is not my cup of tea, but I've done a quick try - loads the model, but then immediately fails with:

`AttributeError: 'AutoTrackable' object has no attribute 'meta_graph'`

[2020-10-09 15:42] damienlaine commented on #4047
Just updated my code.

`96e387d7-1a72-4109-bdbc-1d7c47312ada:1 Uncaught (in promise) RuntimeError: function signature mismatch
    at blob:http://dev.linto.local:1234/96e387d7-1a72-4109-bdbc-1d7c47312ada:wasm-function[349]:0x218fb
    at blob:http://dev.linto.local:1234/96e387d7-1a72-4109-bdbc-1d7c47312ada:wasm-function[199]:0x149bd
    at blob:http://dev.linto.local:1234/96e387d7-1a72-4109-bdbc-1

[2020-10-09 15:48] rfourdinier commented on #1772
@jakubfrydrych hello sir , i am struggling with the exact same error that you had.

I do not understand what i am supposed to do with the tensorflow library, should i install it from pip or put the Tensorflow C library folder somewhere ?

thank you

[2020-10-09 15:58] tafsiri commented on #3885
This should be fixed in the just released 0.4.0. Thanks for reporting and please let us know if this doesn't resolve the issue for you.

[2020-10-09 16:32] annxingyuan opened #4050 "[webgl] Debug mode errors out for modularized matMul."
Failing test: https://github.com/tensorflow/tfjs/blob/e2e-custom-dense/tfjs-core/src/debug_mode_test.ts#L102

In WebGL when we read an output texture we "decode" it by copying its values densely to a new texture in order to ultimately download the smallest possible texture from the GPU (e.g., a 2x2 texture with 4 values is copied to a 1x1 texture with all 4 values stuffed into the RGBA channels).

[2020-10-09 17:31] vladmandic commented on #4011
FYI, older version of the models that can be found below works out-of-the-box:

<https://github.com/tensorflow/models/blob/master/research/object_detection/g3doc/tf1_detection_zoo.md#open-images-trained-models>

I'm closing this issue.

[2020-10-09 17:31] #4011 closed

[2020-10-09 19:59] damienlaine commented on #4047
Hello again,

Just tried the same app (with tfjs 2.3.0) on a Windows 10 Chrome with the same version (Google Chrome, Official build Version 86.0.4240.75 (64 bits).

I have no big crashes so far but appeared a new Warning that was not there before updating chrome from 85.x

The warning in the dev tools console (see below) points out some coincidences with the un-deterministic error that occurs (and

[2020-10-09 20:01] #3953 closed

[2020-10-10 01:39] josephrocca opened #4051 "[tfjs-converter] InvalidArgumentError when converting BigGAN tfhub model (Input 0 of node module_apply_default/cond/AssignVariableOp)"
Hello, I'm not sure if this particular model is just fundamentally not convertible, but if that is the case, then please interpret this bug report instead as a suggestion to improve the tfjs-converter wizard's error messages to make cases like this less confusing.

Note that it seems to work fine with `https://tfhub.dev/google/progan-128/1`. As a random guess, this might have something to do with

[2020-10-10 01:41] joemullenix-ks opened #4052 "Can't build tfjs-node on Windows 10; module_name not defined in binding.gyp."
I'm unable to run tfjs-node. It reports a missing bindings file. I see the file in my project, but I haven't found a way to include it (via import or require).

I'm not certain, but it looks like "module_name" is referenced without being defined in binding.gyp

Hope this helps.

VS Code
Windows 10
x64
node 14.13.1
python 2.7.17

Stack:
(WORKSPACE)\node_modules\@tensorflow\tfjs-node>node-gyp config

[2020-10-10 04:20] contractorwolf opened #4054 "How to turn on joins and limb lines for BodyPix v2 with segmentPersonParts()?"
I am just getting started using BodyPix from the example code here:
https://github.com/tensorflow/tfjs-models/tree/master/body-pix

I am using the segmentPersonParts with my sample image but it does not appear to show limb lines or join points, how do I turn on this feature? I see it in the demo but the code samples dont appear to show how to do it.

Here is my basic code and what I see:
![image](

[2020-10-10 07:13] sohrab-crowdian opened #4055 "[Codelab]: Making Predictions from 2D Data"
Please provide a link to an example of multiple inputs and multiple outputs

[2020-10-10 17:39] sohrabsaran opened #4056 "https://github.com/tensorflow/tfjs-examples - table of examples - more columns and/or enhancements needed"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow.js version (you are using):Latest
- Are you willing to contribute it (Yes/No):Yes

[2020-10-12 12:47] 0xori commented on #4001
Hi @ClementWalter Have you managed to get it done?
I'm facing the same problem, trying to save a jpeg from the stream.

[2020-10-12 12:52] ClementWalter commented on #4001
yes! actually if you go to https://github.com/ClementWalter/tfjs-expo-example/blob/master/utils.js the function does the job. I will try to push it as a contrib to tfjs-react-native very soon. However, as I have said above, I don't really understand the magic numbers used for width and height in the `cameraWithTensor` module.

[2020-10-12 13:20] 0xori commented on #4001
perfect! thanks!
tried your code, it works but for some reason I'm getting the jpeg with extra black padding.
for your question, as far as I understand the "magic numbers" comes from the [docs](https://js.tensorflow.org/api_react_native/0.3.0/#cameraWithTensors).

[2020-10-12 13:23] ClementWalter commented on #4001
But is it just iOs VS Android or does it depend on the device as well? Because I have noticed that if they are too small for instance, then the image is cropped. Maybe it is the reason why you get black padding, because they are too big for your device

[2020-10-12 15:03] #4035 closed

[2020-10-12 16:08] rfourdinier commented on #4029
Hi, I had the same error that is resolved with tfjs 2.6.0 but now i have an other error when executing my model.

The model's input is a tensor created from an image.

"ERROR Error: Uncaught (in promise): Error: Argument 'x' passed to 'expandDims' must be a Tensor or TensorLike, but got 'Promise'"

I have this same kind of error (with an other function than "expandDims" displayed in the error) sin

[2020-10-12 16:36] lina128 commented on #4029
Hi @rfourdinier, can you open another issue with this other bug you found, and preferably some code snippet to help us reproduce the error. Thank you!

[2020-10-12 17:48] gkcalat commented on #1775
@vbardiovskyg if this is still an issues, I successfully converted the Magenta model from tf.hub into tf-js:

**1. Convert the model checkpoint to tfjs:**

`tensorflowjs_converter --control_flow_v2=True --input_format=tf_hub --skip_op_check --strip_debug_ops=True --signature_name serving_default https://tfhub.dev/google/magenta/arbitrary-image-stylization-v1-256/2 ./models/magenta_tfjs`

**2. Copy

[2020-10-12 19:12] #3950 closed

[2020-10-12 20:51] rthadur commented on #4052
Please check related issue [here](https://github.com/tensorflow/tfjs/issues/3999) ! Thank you

[2020-10-12 20:56] rthadur commented on #4054
Demo code is here https://github.com/tensorflow/tfjs-models/tree/master/body-pix/demos , you can leverage same code to in your use case.

[2020-10-12 22:00] joemullenix-ks commented on #4052
I looked through the related issue, but was not able to fix the problem, unfortunately. I still see the same 'module_name undefined' error when I run node-gyp.

This is what I tried after reading the related issue:
TRIED    npm rebuild @tensorflow/tfjs-node build-addon-from-source
RESULT  no change

TRIED    npm install npm@latest -g  // note that I already had 6.14.8, but ran this anyway
RESULT

[2020-10-12 22:34] rthadur commented on #4052
can you please share your package.json ?

[2020-10-12 22:39] joemullenix-ks commented on #4052
Sure, it's below. It's very simple. I have rebuilt it many (many) times. I keep deleting node_modules and reinstalling, and trying different folders, and global vs local packages.

For the record, I have been using basic @tensorflow/tfjs without any problems, as a node program. Now I have a bug with model save/load, so I'm trying to move to tfjs-node (...and of course I want the performance boost

[2020-10-13 00:47] ogawafais commented on #2764
May i know which model you use that work with that code?

[2020-10-13 01:55] rthadur commented on #4056
cc @tafsiri

[2020-10-13 01:57] rthadur commented on #4055
Can you please use template to fill in all the details and explain what is the feature request , thank you

[2020-10-13 01:57] #4055 closed

[2020-10-13 03:47] ghafran opened #4061 "The shape of dict['ToFloat'] provided in model.execute(dict) must be []"
When using the latest model created by automl for tensorflowjs using https://cloud.google.com/vision/automl/object-detection/docs/edge-quickstart exactly.

Has anyone else seen this issue with exporting model from automl for tensorflowjs?

When running
`const predictions = await model.detect(img, options);`

Getting the following error:
[code]

Using
[code]

Full code
[code]

[2020-10-13 06:01] clkruse commented on #3152
Hi @B0RJA, I'm trying to make a pix2pix example again, but am running into the same issue. When you use the apply method, are you modifying individual layers in the loaded model? If I load a model using `loadGraphModel` and then try to use `model.apply(input)` it throws an error saying that `model.apply` is not a function.

Do you have any suggestions?

[2020-10-13 07:15] B0RJA commented on #3152
I used the [pytorch](https://github.com/junyanz/pytorch-CycleGAN-and-pix2pix) implementation of pix2pix, then converted the model to keras using [pytorch2keras](https://github.com/nerox8664/pytorch2keras) and finally converted it to tf using [tensorflowjs](https://pypi.org/project/tensorflowjs/). In the resulting json I had to change `"class_name": "Model"` and finally in the html:

[code]

[2020-10-13 07:57] damienlaine commented on #4047
Some news from the front.

The problem revolves arround simd / threaded support for Wasm.

I switched from setWasmPath to setWasmPaths and added the three backends to my code.

In the worker i now have :

[code]
Now, i can see that Chrome might load the tfjs-backend-wasm-threaded-simd.wasm.

The browser tab keeps on crashing, but i usualy don't have console message. Just plain tab crash.

I also r

[2020-10-13 10:55] rfourdinier opened #4062 "Error when executing most of the models with TFJS 1.X and 2.X"
Hi, i have an error i cannot get rid of with TFJS.

First of all, I am getting these errors since the first time i have been trying to use TFJS, except in a few cases that I will explain:

The errors always happen when I am executing the model with these lines:

    this.breakerModel = await tf.loadFrozenModel('./assets/converted/eee/model.json');
    //or tf.loadGraphModel depending on tfjs versi

[2020-10-13 11:14] rfourdinier commented on #4029
Hello @lina128 i have opened issue #4062 thanks

[2020-10-13 14:48] ButzYung commented on #3827
@annxingyuan I have updated my app to use the new Face-landmarks-detction module (v0.0.1). The problem is partially fixed, but the "roll" rotation (z-axis) is still null for .mesh data. Just like the beginning of the last video demo, if I "roll" my head, the avatar which reacts with the .mesh data doesn't roll her head accordingly.

PS:. scaledMesh data is correct as usual.

[2020-10-13 15:03] tafsiri commented on #4056
I not sure that this is practical to maintain outside of the code (and outside of what is documented in the book for examples that are in the book). But cc @jasonmayes and @caisq for their take. The input data types (not a tf dtype) is in the table already though).

@sohrabsaran To help us better understand this request, What were you trying to find that you could not? There could be other ways to

[2020-10-13 15:10] sohrabsaran commented on #4056
Hi,
Actually I wanted an example of multiple integer inputs and multiple
integer outputs, where some of the inputs and outputs are one-hot encoded.
For now I have deprioritized one-hot encoding and made use of the iris
example.

Thanks,
Sohrab

On Tue, Oct 13, 2020 at 8:34 PM Yannick Assogba <notifications@github.com>
wrote:

[2020-10-13 16:12] #3933 closed

[2020-10-13 17:12] #3911 closed

[2020-10-13 19:12] #2219 closed

[2020-10-14 00:30] vladmandic opened #4066 "tfjs-node does not implement kernel FlipLeftRight"
Both [BlazeFace](https://tfhub.dev/tensorflow/tfjs-model/blazeface/1/default/1) and [HandDetector](https://tfhub.dev/mediapipe/tfjs-model/handdetector/1/default/1) models work just fine in NodeJS using tensorflow backend

The issue is in how post-processing is done in JS code which uses `FlipLeftRight` kernel func to reorient input for better second-pass detection.

So if you use tfjs examples, yo

[2020-10-14 03:18] rthadur commented on #4066
@vladmandic can you please check for a similar issue [here](https://github.com/tensorflow/tfjs/issues/2329)

[2020-10-14 03:41] vladmandic commented on #4066
There is no version conflict and I'm running latest TFJS 2.6.0. Just to confirm, I created a simple test that only has `tfjs-node` listed in `package.json`, zero other libraries so there is nothing to have conflict with.

And I did note the issue <https://github.com/tensorflow/tfjs/issues/3883> that clearly lists that forwardFunc is not implemented in `tensorflow` kernel (and it's .

And it's easy

[2020-10-14 05:02] wbqtac opened #4068 "tfjs convert model"
Hello there,

Anyone successfully convert the "universal sentence encoder multilingual" model, from tf_saved_model to tfjs_graph_model?
The multilingual use model will needs support tensorflow_text to process on the text.
In tensorflowjs_converter, I modified the code and import tensorflow_text package. But eventually, still met with the following error:

ValueError: Unsupported Ops in the model b

[2020-10-14 08:24] 0xori commented on #4001
I'm assuming it depends on the device. you can actually get the device available picture sizes. take a look at [expo-camera docs](https://docs.expo.io/versions/latest/sdk/camera/#getavailablepicturesizesasync).
when I'm changing the dimensions according to the results, I'm getting better capture proportions.

[2020-10-14 09:22] prakashr85 opened #4069 "Uncaught (in promise) Error: Unknown layer: FixedDropout."
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow.js):
- OS Platform and Distribution Windows Chrome version 86
- TensorFlow.js version (use command below): 2.6.0
- Tensorflow.js Converter Version: 2.6.0

Converted efficientnet B0 using tfjs convertor and getting this error while loading the model using tf.loadLayersModel

`
Uncaught (in promise) Error

[2020-10-14 10:05] 0xori commented on #4026
you can actually get the available picture sizes from expo-camera. [see the relevant docs here](https://docs.expo.io/versions/latest/sdk/camera/#getavailablepicturesizesasync)
it is not perfect because you still need to check which one of them will resize correctly but it's a start.

[2020-10-14 10:42] irfans4536 commented on #623
bro any answers

[2020-10-14 11:39] prakashr85 commented on #4069
I getting conversion error with output type tfjs_graph_model with efficientnet

![error](https://user-images.githubusercontent.com/6893395/95983852-f325c780-0e3f-11eb-980c-89ff4f8ff70c.png)

[2020-10-14 13:40] aniketbiprojit commented on #1903
You can take over @WenheLI

This issue went beyond my scope.

[2020-10-14 13:55] ska-kaushiksa opened #4070 "Getting error when loading wasm backend"
**System information**
- OS : Windows 7 - 32 bit
- Hardware : PC : Pentium Dual Core CPU E5400 @ 2.70 GHz 2.69 GHz , RAM : 1 GB (also seen in a machine with RAM of 4GB)
- TensorFlow.js installed from (npm or script link): Script
- TensorFlow.js version : 2.3
- Browser version: Chrome Version 85

The functionality(loading of backend 'wasm') works fine for most of the machines I am using, but there

[2020-10-14 15:32] tafsiri opened #4071 "Improve error message for modular kernels that do not have a fallback in the backend class"
**Describe the feature and the current behavior/state.**
See https://github.com/tensorflow/tfjs/issues/4066 and https://github.com/tensorflow/tfjs/issues/3883, user confusion arises because the error message is not clear and points to 'forwardFunc' which isn't a concept in the public api. It should instead say that the kernel is not implemented.

Engine should check if a non modular forward functi

[2020-10-14 15:48] vladmandic commented on #4066
i understand the need for better error message, but will this feature request to actually implement kernel function stay open and eventually be completed?

[2020-10-14 15:49] rthadur commented on #4068
Have you tried this tfjs model  https://github.com/tensorflow/tfjs-models/tree/master/universal-sentence-encoder ?

[2020-10-14 15:50] vladmandic commented on #3903
possible code fix under <https://github.com/tensorflow/tfjs/pull/3917> is pending for a month - any updates?

[2020-10-14 15:54] mscomazzon commented on #4022
Yes ! I redefined width and height and it really improved !
const inputTensorWidth = 228;
const inputTensorHeight = 300;

**Thank you !**

[2020-10-14 15:55] rthadur commented on #4069
@prakashr85 Can you try to save the model to saved model first and then convert the saved model to tfjs_graph_model?

[2020-10-14 17:58] wbqtac commented on #4068
Hi Rajeshwar,

Yes, I have tried the js version use before posing the issue.
The js version uses a Lite model, only for English. And I want to load other models.

Best

[2020-10-14 18:52] rthadur commented on #4068
@wbqtac can you please share following

1. model
2. tfjs converter command
3.TFJS version

Thanks

[2020-10-14 18:55] JacobMuchow commented on #2007
@KevinMalo 's solution worked for me as well

[2020-10-14 19:00] wbqtac commented on #4068
thank you for your reply.
More or less, wish to see anyone ever successfully load other models, generally speaking. Not for a very specific model.

[2020-10-14 19:38] coryroyce opened #4073 "Converter Error: ValueError"
While trying to convert a tf_saved_model, the converter seems has the correct path to the saved model but fails in the conversion and I can't trouble shoot where the error is happening. Is there any kind of verbose argument that can help me better pin point what is causing the issue?

Error:
ValueError: The same saveable will be restored with two names: layer_with_weights-1/_table/.ATTRIBUTES/tabl

[2020-10-14 20:18] martimpassos commented on #2678
Hi, I'm getting the same error but ```tfjs_binding.node``` exists in ```tfjs-node/lib/napi-v5```, it seems to be missing the ```tensorflow.dll``` file mentioned above. I tried ```npm rebuild @tensorflow/tfjs-node --build-from-source``` without success, any leads?

[2020-10-14 22:29] peterschmiz commented on #4061
I have the same issue.

[2020-10-14 22:40] pyu10055 commented on #4073
@coryroyce I believe the pre-processing layers are not supported.
can you paste the full stacktrace of the error? thanks.

[2020-10-14 22:42] pyu10055 commented on #4061
@ghafran This has been fixed recently on the AutoML side, I will update this thread when the changes has been deployed.
You might need to retrain the model on the autoML side.

[2020-10-15 04:08] coryroyce commented on #4073
The full error can be re-created by running this [notebook](https://colab.research.google.com/github/tensorflow/docs/blob/master/site/en/tutorials/structured_data/feature_columns.ipynb) and adding these last cells to attempt the TensorflowJS conversion.

[code]

Here is the full error for reference:
[code]

[2020-10-15 04:13] coryroyce commented on #4073
If the pre-processing layers are not supported, do you have a recommendation of an alternative method that would accomplish the same end result (pandas dataframe to TF dataset built into the model)?

[2020-10-15 04:21] danrossi opened #4076 "Bodypix masking for background removal using WebGL instead of software canvas 2D"
I am still going through this api. My requirement is to make the background around bodypix data in a webcam video transparent. I noticed most the helper methods are using software rendering. In a multi user call on the subscribe side, this is possibly no good for performance.

If bodypix is using webgl internally. Surely there is a way to use that same webgl context to pass the segment data to a s

[2020-10-15 05:26] peterschmiz commented on #4061
Thank you very much!

[2020-10-15 08:34] peterschmiz commented on #4061
Hi @pyu10055,

I retrained my model (it tooks around 2h "wall clock" time), exported it, but I still have the error.
I assume the fix is not yet deployed.

Do you have an ETA for the deployment/fix?
(so I know when to start the re-train as it takes time and costs money 😄 )

Peter

[2020-10-15 11:44] peterschmiz opened #4077 "Missing / non-supported op during convert with tensorflowjs_convert"
I was trying to use the general documentation of AutoML to use trained model in a web based application.
As that way wasn't working ([issue was raised here](https://github.com/tensorflow/tfjs/issues/4061)) I tried
a workaround and exported and downloaded the saved model of my custom training.

My idea was to use the tensorflowjs_converter and convert the saved model to graph model.
I used the foll

[2020-10-15 12:59] danrossi commented on #4076
For video, the bodypix util demos dont really work. I just see a mask over the top of the original video. The background needs to be removed and probably better in a shader.

[2020-10-15 14:52] kauavsr12 commented on #4070
Hi @rthadur , Thanks for the reply.

It says x86 as supported architecture. Pls correct me if I am wrong.
![image](https://user-images.githubusercontent.com/11594897/96146042-7c61fa80-0f23-11eb-8e48-6dfd3387df72.png)

Why won't the fallback happen to other backends? Should I set backend separately if tf.setBackend() fails?
Is the priority list fixed? (Most of the time, the fallback happens from we

[2020-10-15 15:53] pyu10055 commented on #4061
@ghafran and @peterschmiz The fix will be deployed sometime next week.

[2020-10-15 16:14] rthadur commented on #4068
Hello, this sort of question is better suited for StackOverflow. This issues list is for bugs and feature requests. Thanks and please use the tag 'tensorflow.js' on your StackOverflow question to makes sure it's discoverable.

[2020-10-15 16:14] #4068 closed

[2020-10-15 16:20] rthadur commented on #4077
@peterschmiz would you be intrested in contributing ? please check our contributing guidelines [here](https://github.com/tensorflow/tfjs/blob/master/CONTRIBUTING_MISSING_OP.md).

[2020-10-15 16:31] rthadur commented on #4070
you are right it is supported ,let wait for @annxingyuan response. Thank you

[2020-10-15 19:05] tafsiri commented on #4022
Np! All the best.

[2020-10-15 19:05] #4022 closed

[2020-10-15 20:15] peterschmiz commented on #4077
@rthadur I will look into it, probably during the weekend 😄

[2020-10-15 20:27] lina128 commented on #4062
Hi @rfourdinier, thank you the detailed description. Is it possible to share the models you mentioned, it will help us debug. One immediate thing I noticed is that you pass image_tensor as namedTensorMap in this line `model.executeAsync({ image_tensor })`, is the expected input name image_tensor? Is there a input signature for this model? If there is a signature and the expected input name is diff

[2020-10-15 20:32] lina128 commented on #3966
@annxingyuan Do you know why inference result can be different on different device/os versions?

[2020-10-15 21:07] annxingyuan commented on #3966
Hi @juliiami - would you mind visiting https://js.tensorflow.org/debug/ on both platforms and pasting your results in this ticket? Thanks!

[2020-10-15 21:18] joaorenatojr87 commented on #3186
Thanks so much for showing this approach. Worked well for me!

[2020-10-15 22:04] pyu10055 commented on #4077
@peterschmiz we recently added support for Hashtable ops, and they will be available in the next release.
For work around, you can use v2.4.0 tensorflowjs pip to do the conversion:
pip install tensorflowjs==2.4.0

Which would not insert the Hashtable ops into the inference graph.

[2020-10-16 08:54] juliiami commented on #3966
Hi @annxingyuan. The results look the same
On the 1st device:
![image](https://user-images.githubusercontent.com/45482942/96237090-8b898c80-0fa5-11eb-8913-9cc463aa8874.png)
On the 2nd:
![image](https://user-images.githubusercontent.com/45482942/96237224-b5db4a00-0fa5-11eb-8204-46db316c86ba.png)

[2020-10-16 09:30] gbmax commented on #3977
Hello again.
This time, I tested my own model, but fit and save the model within the latest tensorflow docker.
converting h5 model succeeded with following command.
[code]
But trying tf model fails with following command.
[code]
It seems cause of 'not all ops supported...' in the Doc.
I am wondering the fact that  In another tensorflow Doc., I remember that tf format is more reliable than h5 forma

[2020-10-16 11:13] rfourdinier commented on #4062
Hi, thanks for the reply

I am not sure about the signature but all the models come from TF1/TF2 detection zoo and I am pretty sure I have not added one myself.

with TF1 I convert to frozen_model with this command:

`!python3 export_inference_graph.py --input_type=image_tensor --pipeline_config_path=training/pipeline.config --trained_checkpoint_prefix=training/model.ckpt-5331 --output_directory=f

[2020-10-16 14:32] markmckenna opened #4080 "VRAM hosting of convolution output"
**System information**
- TensorFlow.js version (you are using): Experimental only
- Are you willing to contribute it (Yes/No): Yes

**Describe the feature and the current behavior/state.**

Current behaviour, as I understand it, is that TF treats each of its back end components as a selection of bulk operator implementations running on different substrates. The substrate I'm interested in particul

[2020-10-16 16:22] naah69 opened #4081 "tidy won't work when call multiple hierarchy function"
**System information**
- Have I written custom code : use wasm as backend
- OS Platform and Distribution : macOS 10.14
- TensorFlow.js installed from : npm
- TensorFlow.js version : 2.9.0
- Browser version: Chrome 58

**Describe the current behavior**

when i call function that calculate data in `tidy`，the tensors did'n be cleaned up

example:
[code]
![image](https://user-images.githubusercontent.

[2020-10-16 19:37] rthadur commented on #4080
cc @pyu10055 @lina128

[2020-10-16 19:40] rthadur commented on #4081
@naah69 can you please provide a codepen example to reproduce the same ? thank you

[2020-10-16 20:12] #3997 closed

[2020-10-16 20:45] pyu10055 commented on #4051
@josephrocca This model converted properly with the tensorflowjs pip 2.6.0, please verify that. thanks.

[2020-10-17 05:41] josephrocca commented on #4051
Hi @pyu10055 were you able to convert that biggan model successfully? I may have done something wrong here, since I have very little experience with Python, but I got this error:

[code]
[code]
Version info:
[code]
[code]

[2020-10-17 07:43] pabloegpf1 opened #4083 "Fill op in backend-wasm"
**System information**
- TensorFlow.js version (you are using): 2.4.0
- Are you willing to contribute it (Yes/No): YES

**Describe the feature and the current behavior/state.**
I am developing a face recognition system inside a web app using face-api.js.
The library works great for webgl backend. However when I switch to wasm backend  this error will show up:
`Uncaught (in promise) Error: 'fill' n

[2020-10-17 09:16] naah69 commented on #4081
oh,my bad,there is not `dity` in other codes,the tidy work。

[2020-10-17 09:16] #4081 closed

[2020-10-17 09:49] yuva-dev commented on #1425
Man !!! you are a saviour ✌🏻

[2020-10-17 14:10] patlevin commented on #4014
AFAIK mobilenet is usually trained with at most 224x224 pixels with other common sizes being 128, 160, and 192 pixels.

This means that inputs shouldn't be significantly larger than that. The 'internalResolution' parameter 'medium' maps to a scaling factor of 0.5, so your 1256x2536 image will be scaled down to 628x1268, while a 25% version of 314x634 image will be processed  from 157x317, which ma

[2020-10-17 19:21] dennis508 commented on #4014
Thanks. I suspected that this might be the situation.

I know the overall image size but I don't know the size of the person images within it. They may be large or small.

This is what I've been doing with pretty good results:
1. perform the segmentation.
2. measure the discovered head size.
if head size is large:
3. scale the image down to the sweet spot.
4. repeat the segmentation.

This is obvi

[2020-10-17 21:02] patlevin commented on #4014
@dennis508 You could use a two-pass approach that basically does the same, but only performs the segmentation once by replacing the first step with face-detection instead.

There are quite a few [choices](https://www.edopedia.com/blog/javascript-face-detection-and-recognition-libraries/), but [picojs](https://github.com/nenadmarkus/picojs) might be a great choice for a small and very fast drop-in

[2020-10-17 21:18] dennis508 commented on #4014
Thanks for the ideas.

  On Sat, Oct 17, 2020 at 5:02 PM, Patrick Levin<notifications@github.com> wrote:

@dennis508 You could use a two-pass approach that basically does the same, but only performs the segmentation once by replacing the first step with face-detection instead.

There are quite a few choices, but picojs might be a great choice for a small and very fast drop-in face-detection librar

[2020-10-18 03:06] danrossi commented on #4076
I've tested this out and this shader works. An official api method drawing mask, and adding transparency around the data would be nice.  I think the software rendering to canvas is silly and it crashed chrome a few times. A second texture can be used for rendering a background.

I've got to test it out still now, but in a webrtc situation a MediaStream can be obtained from a canvas and used for pu

[2020-10-18 11:14] oknoorap commented on #4052
same with me it's seems some of variables in `bindnig.gyp` are not defined?

[2020-10-18 13:21] kennysong opened #4084 "[Codelab]: Making Predictions from 2D Data"
There's a banner in "6. Train the Model" that says:

However, as far as I can tell from the graphs, loss and accuracy are both computed after each batch and epoch.

[2020-10-18 13:36] kennysong opened #4085 "[Codelab]: Making Predictions from 2D Data"
Minor typo. A few tfvis containers are probably missing a `tab: "Model"`?

In "6. Train the Model":

[code]

[code]

[2020-10-19 02:49] GantMan opened #4088 "Handling non-batch image rotation"
**System information**
- Are you willing to contribute it (Yes/No):  Yes

**Describe the feature and the current behavior/state.**
I noticed `rotateWithOffset` doesn't work on Int32 and it doesn't work with 3D tensors.  I was thinking of adding code to automatically `expandDims` and convert as needed so `rotateWithOffset` could work on a single image.

**Will this change the current api? How?**
It

[2020-10-19 07:06] qjia7 opened #4091 "webgpu: Many mirrorPad tests fail"
Steps to reproduce on my windows platform:
1. Download the latest TFJS code. 'git clone https://github.com/tensorflow/tfjs'
2. cd tfjs\tfjs-backend-webgpu
3. set CHROME_BIN=C:\Users\jqin7\AppData\Local\Google\Chrome SxS\Application\chrome.exe
4. yarn test --grep=mirrorPad
Below errors will be printed:
Chrome 88.0.4296 (Windows 10.0.0) mirrorPad test-webgpu {"WEBGPU_CPU_FORWARD":false} MirrorPad te

[2020-10-19 07:09] qjia7 commented on #4091
@AbdallaGomaa Have you have time to look at this issue? I notice that you implemented this feature. Thanks.

Cc @annxingyuan

[2020-10-19 07:31] lcycoding commented on #4025
@annxingyuan
Sorry for bothering, the benchmark page works fine.
After finishing performance evaluation, we were trying to adopt wasm + SIMD + threaded on our side.
But it comes out that the loading process of tfjs-backend-wasm-threaded-simd.d.ts will make our webapp hang.
Any thought on this?

[2020-10-19 18:05] nsthorat commented on #4070
Can you try loading the model after waiting for the backend to be ready?

[2020-10-19 18:38] tafsiri opened #4093 "Modularize node.js backend methods"
### List of methods on the backend.ts interface.

These are methods that need to be modularized and removed from the backend class.

- [x] batchMatMul
- [x] fusedBatchMatMul
- [x] slice
- [x] stridedSlice
- [x] unstack
- [x] reverse
- [x] concat
- [x] neg
- [x] add
- [x] addN
- [x] subtract
- [x] multiply
- [x] realDivide
- [x] floorDiv
- [x] sum
- [x] prod
- [x] unsortedSegmentSum
- [x] argMin
-

[2020-10-19 18:39] tafsiri opened #4094 "Modularize CPU backend methods"
### List of methods on the backend.ts interface.

These are methods that need to be modularized and removed from the backend class.

- [x] batchMatMul
- [x] fusedBatchMatMul
- [x] slice
- [x] stridedSlice
- [x] unstack
- [x] reverse
- [x] concat
- [x] neg
- [x] add
- [x] addN
- [x] subtract
- [x] multiply
- [x] realDivide
- [x] divNoNan
- [x] floorDiv
- [x] sum
- [x] prod
- [x] unsortedSegmentSum

[2020-10-19 18:40] tafsiri opened #4095 "Modularize WebGL backend methods"
### List of methods on the backend.ts interface.

These are methods that need to be modularized and removed from the backend class.

- [x] batchMatMul (annxingyuan)
- [x] fusedBatchMatMul (annxingyuan)
- [x] slice
- [x] stridedSlice (annxingyuan)
- [x] unstack (yannick)
- [x] reverse (annxingyuan)
- [x] concat
- [x] neg (matthew)
- [x] add
- [x] addN (yannick)
- [x] subtract
- [x] multiply
- [x] r

[2020-10-19 19:04] annxingyuan commented on #4070
Hi @kauavsr12, sorry for the delayed response - in answer to your questions:

1. If you request a certain backend but it is not available, TF.js will throw an error.
2. When the WebGL backend is included in the page, it will perform certain initialization activities such as registering its kernels. To avoid this, do not use the TF.js union package, rather require tfjs-core, and then the backend th

[2020-10-19 19:25] martimpassos commented on #2619
Hi everyone, just to let you know that I am getting this exact behaviour when requiring @tensorflow/tfjs-node": "^1.0.1" on Windows 10, node v14.13.1, only that it's napi-v5 this time. Manually moving the .dll file to where it was supposed to be solved the following error:

[code]

[2020-10-19 19:32] rthadur commented on #4084
Can't see the comment here https://codelabs.developers.google.com/codelabs/tfjs-training-regression/index.html#5 , @jasonmayes is this fixed already ?

[2020-10-19 19:35] rthadur commented on #4088
cc @annxingyuan

[2020-10-19 19:45] GantMan commented on #4088
I'm very interested in bulletproofing, or at the very least, creating commonality with `tf.image`.  Some methods require batches, and some don't.  Some return a tensor of the same dType as the input tensor, and some don't.

[2020-10-19 21:27] tafsiri commented on #4088
I'll leave Ann to comment more, but I don't think we'd have any objection to rotateWithOffset also supporting 3d tensors or other dtypes (seems like a clear win to me).

Ditto to inconsistencies with other ops on tf.image, maybe listing out the ones you have found would be a good start, if they would require breaking changes now is a good time for us to consider them.

[2020-10-19 22:35] annxingyuan commented on #4088
@GantMan Definitely no objections here :) Thank you so much for offering to take this on!

[2020-10-19 23:10] jasonmayes commented on #4084
No not yet, shall have to take a look later in the week as a few things
going on before, Also the process for publishing on our side just changed
so may take longer than normal, but we will get to it :-)

On Mon, Oct 19, 2020 at 12:32 PM Rajeshwar Reddy T <notifications@github.com>
wrote:

--

*  •  **Jason Mayes*
*  •  *Senior Developer Advocate, TensorFlow.js
<https://www.tensorflow.org/js/>

[2020-10-20 09:28] huurray commented on #3360
how did you make it?

[2020-10-20 09:37] huurray opened #4098 "Initialization of backend rn-webgl failed"
![image](https://user-images.githubusercontent.com/41982439/96568295-befc4c00-1302-11eb-90ac-9593e1adbcf4.png)

[code]
when i excute this, i've got that error in pic.
but if i turn off react native debug mode, it is find.
and that is in case of ios
when it comes to android, it just crashed app.

please help me!!!

my version is here!

"@tensorflow-models/blazeface": "0.0.5",
"@tensorflow-models/po

[2020-10-20 11:05] annxingyuan commented on #4025
Hi @lcycoding - hmm, it's tough to know where that error message is coming from - but given that the benchmark page works for you, I'm hoping this is an issue with setup. One thing to be aware of is that our WASM backend fetches a binary file after it's been loaded, and by default it will assume that the binary file is located in the same directory. So if you are serving the WASM backend yourself,

[2020-10-20 13:24] meowzhang commented on #3849
I have the same problem and I suspect that op tf.ArgMax can also lead to this problem.

[2020-10-20 13:46] lcycoding commented on #4025
Hi @annxingyuan, thanks for the reply.
Non-threaded configuration works well.
Also, I've been setting the wasmPath to my own directory.
I'll check with the information you given.

[2020-10-20 14:54] dennis508 commented on #3947
Can anyone explain what is happening here?

If this is truly missing code, is there a schedule for implementation?

Elsewhere on the site, I see benchmarks for BodyPix and WASM.
Is there a way to command BodyPix to use Float32?
Am I missing a library?

 If this is my error, what might I be doing wrong? Thank you. Thank you. Thank you.

[2020-10-20 15:27] rthadur commented on #3947
@dennis508 WASM is not supported for bodypix as it is not light weighted , please check this comment [here](https://github.com/tensorflow/tfjs/issues/2723#issuecomment-593538641)

[2020-10-20 20:10] dennis508 commented on #3947
Hello Rajeshwar,

Thank you for this information. In particular, "WASM will likely not help here, since the WASM backend is 3-4X slower than the WebGL backend for "medium-sized" models like BodyPix, PoseNet and MobileNet."

However, shouldn't it be supported? The documentation implies that backends are interchangeable.

https://www.tensorflow.org/js/guide/platform_environment says "TensorFlow.js p

[2020-10-20 20:16] rthadur commented on #3947
cc @annxingyuan @dsmilkov

[2020-10-20 20:31] annxingyuan commented on #3947
Hi @dennis508 - you're right it looks like there is a [postprocessing step](https://github.com/tensorflow/tfjs-models/blob/master/body-pix/src/decode_part_map.ts#L103) in the bodyPix model that multiplies two int tensors together. We had collected benchmarks for the model inference alone, which is why we claimed WASM support.

I've updated the name of the ticket to reflect the underlying issue. Th

[2020-10-20 20:40] dennis508 commented on #3947
Thank you, Ann.

[2020-10-20 20:54] lina128 opened #4101 "mobilenet model throw error with webgl but can run with cpu"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow.js): No, run wit

[2020-10-20 21:02] rthadur commented on #4051
@pyu10055 I can confirm the same.

[2020-10-20 21:04] lina128 commented on #4062
Hi @rfourdinier, if you are in a Node.js env, webgl backend doesn't work, because it relies on browser native api to run on gpu. If it works in Node.js env, it is only because the input size is small, so the computation is forwarded to cpu to execute. There is no guarantee the forward happens for every kernel. Here's my investigation results:

- ssd_mobilenet_v1_fpn_2018_07_03, can run with TFJS 2

[2020-10-20 23:37] TylerADavis opened #4435 "Broken links on "Importing a TensorFlow GraphDef based Models into TensorFlow.js""
## URL(s) with the issue:

https://www.tensorflow.org/js/tutorials/conversion/import_saved_model

## Description of issue (what needs changing):

This page contains a link that seems to suggest it has either a description of a `Frozen Model` (the clickable text is Frozen Model) or a description of how to use one. However, the link appears dead, and simply redirects to the main TF Lite webpage.

Li

[2020-10-21 09:51] Download commented on #3858
@tafsiri
I don't think this issue has actually been resolved right?
Are you guys planning on improving the default WebGL-based engine?
My project ended so I haven't been working on it anymore. So I did not test the WASM engine.
There are multiple reports about object detection giving no results and it eats up developer time when it happens. It took me 3 full days of investigation before I could re

[2020-10-21 10:02] jameshfisher commented on #2007
Why is this issue closed? The issue still exists, for the reason that @matt-tingen diagnosed over a year ago. The trivial PR that fixes it https://github.com/tensorflow/tfjs/pull/2988 has also been open for many months ...

[2020-10-21 10:11] rfourdinier commented on #4062
Hi @lina128 ,

Thank you for all these explanations, it makes sense!

However, I still cannot execute any of the models I have provided with TFJS 2.X ; My models are executing with TFJS 1.X and 'cpu' backend but with TFJS 2.X an error is raised even with 'cpu' backend, and for all the models.

For example, with "ssd_mobilenet_v1_fpn_2018_07_03" I get the following error:

`core.js:6241 ERROR Error

[2020-10-21 10:13] jameshfisher commented on #2007
To clarify - @KevinMalo's solution is a workaround. At the time of writing, it installs `@types/webgl2@0.0.5`. This is essentially the same workaround that @matt-tingen suggested originally. The correct fix is to fix the dependency upstream

[2020-10-21 10:22] Download commented on #3856
Send a pay-check and I will.

I mean this is what Google Cloud is using behind the Machine Learning surface, no? Google Cloud is not cheap. My clients pay through the nose to have their model labeled and trained. Then when it comes to deploying the model, we get send here. It's great that it's Open Source, but does that mean 'unmaintained' or something??

I have been working on Google Cloud projec

[2020-10-21 11:39] ustun opened #4103 "Prebuilt binaries no longer provided for Windows"
Looking at https://storage.googleapis.com/tf-builds/ , the last prebuilt .node binary is for version 1.5.1: pre-built-binary/napi-v4/1.5.1/CPU-windows-1.5.1.zip

From which repo are these builds generated and is there a specific reason these builds are no longer generated? Should we assume that prebuilt binaries will no longer be provided for Windows?

[2020-10-21 11:42] annxingyuan commented on #3858
@Download Hello, yes you are right - this issue should not be closed. Our issues get automatically closed after a few days so thank you for the nudge. I also sincerely apologize for the experience you had. We will do our best to resolve this issue.

[2020-10-21 13:56] rthadur commented on #2007
cc @annxingyuan

[2020-10-21 14:53] rthadur commented on #3856
We understand your frustration ,we have limited resource on this project, and really appreciated community support . Thank you for your contribution and let us work together to make this library better.

[2020-10-21 17:12] lina128 commented on #4062
Hi @rfourdinier, how do you get the video as HTMLVideoElement in node.js env?

[2020-10-21 17:23] lina128 commented on #4062
Another observation is that if you are going to use the union package, you don't need to import cpu backend additionally. This may cause some problems.

[2020-10-21 17:59] ghafran opened #4105 "Uncaught (in promise) TypeError: Cannot read property 'reduce' of undefined"
When creating a model using AutoML with Multi Classification.

Getting this error from tensorflowjs when running
``` const model = await tf.automl.loadImageClassification('/model/model.json');```
[code]

html code:
[code]

Model Multi-Classification, Edge, Exported for Tensorflowjs

Nothing crazy here just a simple export and run from browser. The model works fine when deployed in GCP with "Test&U

[2020-10-21 18:02] #4003 closed

[2020-10-21 18:09] ghafran commented on #4105
@pyu10055 Not sure if this falls in your court :)

[2020-10-21 18:30] lina128 commented on #4083
Hi @pabloegpf1 , I see that face-api depends on tfjs-core 1.7.1, Fill is available in WASM @2.0.1 and up.

[2020-10-21 18:56] ghafran commented on #4105
Just tried this on models that were working previously. Looks like something changed during the model export or creation process on AutoML that is causing this issue.

[2020-10-21 20:01] ghafran commented on #4061
This seems to be fixed now. Its working after re-training and exporting.

[2020-10-21 20:01] #4061 closed

[2020-10-21 20:05] jinjingforever commented on #4103
Hi Ustun,

Thanks for raising the issue.

The main reason is that the person who was familiar with the process has left the team, and we have not put the effort to integrate this into our regular release process. We are also trying to figure out better ways to do this kind of tasks on window machines.

We will keep you updated when we make more progress. Thank you!

[2020-10-21 20:36] ustun commented on #4103
Thank you for the explanation @jinjingforever

We will use GitHub Actions to cross-compile.

[2020-10-22 04:10] joaorenatojr87 commented on #3962
Hi. I use Windows 10, my device conected via USB is Xiaomi 9 with Android 10.
dependencies are
[code]
I've tried to do it in my project too, whose models I've got from this tutorial [https://cloud.google.com/vision/automl/docs/tensorflow-js-tutorial](url). However I'm using powershell and did it according to [https://stackoverflow.com/questions/1783554/fast-and-simple-binary-concatenate-files-in-p

[2020-10-22 09:32] BruceDai opened #4107 "[wasm] worker.js onmessage() captured an uncaught exception:Uncaught ReferenceError: t is not defined"
**System information**
- OS Platform and Distribution: Ubuntu 18.04.4 LTS
- TensorFlow.js installed from (npm or script link):
    "@tensorflow/tfjs-backend-wasm": "2.6.0",
    "@tensorflow/tfjs-core": "2.6.0"

- Browser version: Linux stable 85.0.4183.102

**Describe the current behavior**
Following [Using bundlers guide](https://github.com/tensorflow/tfjs/tree/master/tfjs-backend-wasm#using-bund

[2020-10-22 09:45] prakashr85 commented on #4069
yes it worked

[2020-10-22 09:45] #4069 closed

[2020-10-22 14:08] yoshi-89 opened #4108 "Low speed of Facemesh model on Mobile Web"
Hi,
I am working with the facemesh model and have tried it on a few mobile devices,
It gives a speed of 3-5Fps on [samsung a30](https://www.devicespecifications.com/en/model/cbf74f5d), 3-5 fps on [realme pro2](https://www.devicespecifications.com/en/model/8d2f4cea) and 9-10 Fps on [Pixel 4A](https://www.devicespecifications.com/en/model/c624541a)

So far I have tried using wasm web-workers for spe

[2020-10-22 14:54] tafsiri commented on #3962
@AnthonyLabaere sorry for the delayed response, in terms of demo apps. There is:
 - [The app](https://github.com/tensorflow/tfjs/tree/master/tfjs-react-native/integration_rn59) we use to run integration tests (this will probably be on an older version of expo)
 - I have a couple of repos that I use to test expo related issues as well ([Bare App](https://github.com/tafsiri/tfjs-expo-bare-example),

[2020-10-22 15:09] tafsiri commented on #3962
@joaorenatojr87 The cat approach isn't really supported so there could be a number of things causing issues that could be the cause of what you are seeing.

An overall takeaway from this thread and [another related one](https://github.com/tensorflow/tfjs/issues/3197) is to add support for sharded local models to react native. I'll look into that post an ETA on that here soon. Until then will you b

[2020-10-22 15:11] ButzYung commented on #4108
@yoshi-89 Which version of Facemesh are you using? You may want to stick with version 0.0.3 for speed, if you don't mind some minor accuracy issues on "roll" rotation (z-axis), or losing the latest iris detection feature in Face-landmarks-detection model (which is roughly 3 times slower than 0.0.3).

PS: On version 0.0.3, I can get about 15fps on a Snapdragon 845 phone (WASM backend).

[2020-10-22 15:16] danrossi commented on #4076
I tried to compare software rendering to webgl. The software method shows the outline in the middle of the canvas, but the video picture is off canvas. The WebGL version is off canvas I have to walk to the right. Resizing the canvas to the video width helps a little. Still rendering to the right. Not sure why yet.

webgl version. I guess the original webgl context obtaining the data cannot be reut

[2020-10-22 17:02] #3961 closed

[2020-10-22 17:47] rthadur commented on #3903
#3917 is merged , closing this issue.Thank you

[2020-10-22 18:43] tafsiri commented on #4098
Hi, so to clarify, if you turn off remote debugging the app works fine (on both platforms)?

If you need to use remote debugging you can use the cpu backend by calling `tf.setBackend('cpu')`. The rn-webgl backend does not support using remote debugging.

[2020-10-22 19:02] #3484 closed

[2020-10-22 19:02] annxingyuan commented on #4080
Hi @markmckenna - thank you for bringing this up. We have an issue that may be related: https://github.com/tensorflow/tfjs/issues/3937

Would you mind taking a look at that to see whether it covers the same territory?

Also I noticed in your issue description you indicate that you'd be willing to contribute :) We would definitely welcome this contribution, and I'm happy to work with you to help yo

[2020-10-22 19:03] tafsiri commented on #3945
Hi @its-ogawa, from looking at this and a few other issues we are beginning to suspect an issue with particular integrated graphics chipsets, could you tell us what hardware/graphics card you are running on?

Could you also post a screenshot of what you see here https://js.tensorflow.org/debug/

[2020-10-22 19:04] annxingyuan commented on #4091
Hi @qjia7 - just wanted to say that if these failing tests are blocking development on your side in any way, please feel free to submit a PR to disable them for WebGPU :)

[2020-10-22 19:09] markmckenna commented on #4080
@annxingyuan thanks for pointing that out, I didn't see that! That's very much the same issue. This issue is a little more general (GPU buffers rather than just textures), and it includes the idea of a GPU-allocated input, as well as pass-through and output. But basically it's the same idea.

I am totally willing to contribute! My only constraint is time. I may also have access to dev resources th

[2020-10-22 19:16] tafsiri opened #4110 "Document which models work on which platforms/backends"
Update the [README in tfjs-models](https://github.com/tensorflow/tfjs-models) to list which backends/platforms a given model is known/expected to work on.

[2020-10-22 19:20] tafsiri commented on #4056
@jasonmayes, @caisq to summarize the convo we had with some of the other team members. This seems like something a bit to granular/specific to track in the README (num inputs, dtypes and encodings like one-hot-encoding) and might be hard to maintain if the code changes so is likely not something we would have cycles to do.

My personal suggestion here is that comments in the source code should be

[2020-10-22 19:22] tafsiri commented on #4076
potentially related to https://github.com/tensorflow/tfjs/issues/4076

[2020-10-22 20:48] ghafran commented on #4105
This seems to be fixed today. I retrained the models this morning and exported. Worked as expected. I love voodoo magic self healing :)

[2020-10-22 21:11] jasonmayes commented on #4056
I think this is a very nice to have but as @tafsiri pointed out maintaining this and backtracking to get data for existing ones may prove to be a larger task than it seems unless we know the data for those?

As mentioned there is already an inputs column for high level understanding of input type, I think having an outputs column makes a lot of sense if that is easy to add for the existing content

[2020-10-22 22:08] vladmandic commented on #3903
@rthadur Please don't close the issue before it's confirmed as resolved.
in this case, #3917 has been superseeded by #4100 which will be merged into master soon.
and then it's not certain it fixes this issue - it needs to be verified.

[2020-10-23 00:14] josephrocca opened #4112 "Floor kernel for the wasm backend"
**System information**
- TensorFlow.js version (you are using): 2.6.0
- Are you willing to contribute it (Yes/No): I can certainly try to help, but I'm a complete newbie with tensorflow.

**Describe the feature and the current behavior/state.**
Currently the `cpu` and `webgl` backends support the floor kernel, but the `wasm` backend doesn't.

**Any Other info.**
The `tfjs-node` backend seems to be

[2020-10-23 01:34] its-ogawa commented on #3945
@tafsiri
Dear tafsiri,

Thank you for your reply.
I'm glad you are continuing your research.

I'll send you the hardware/graphics card information.
Please check the attached "CPU-Z_report.txt".
[CPU-Z_report.txt](https://github.com/tensorflow/tfjs/files/5426732/CPU-Z_report.txt)

Also attached is a capture of the results of the Debug info (https://js.tensorflow.org/debug/).
![image](https://user-i

[2020-10-23 05:33] YuK1Game opened #4116 "[Windows] Error: The specified module could not be found. node_modules\@tensorflow\tfjs-node\lib\napi-v6\tfjs_binding.node"
OS: Windows 10 Profecttional
Node: v12.19.0
Tensorflow:
[code]

Script
[code]

run
[code]

What kind of error is this?

[2020-10-23 07:34] yoshi-89 commented on #4108
@ButzYung I tested on same devices using version 0.0.3 with webgl and wasm backend webworkers, but was not able get any significant improvements :(

[2020-10-23 09:12] ButzYung commented on #4108
@yoshi-89 You may need to enable WASM SIMD support to see significant performance boost, which is still a behind-the-flag feature on Chrome.

[2020-10-23 10:01] Download commented on #3856
@rthadur With all due respect. I have seen you in other issues and I know you do good work. But who is this 'we' you are referring to when you say 'we have limited resources'? Google?

I will assume it is Google and when I say 'you' below, I am talking to Google, not to @rthadur who is a good person. But Google is displaying really bad behavior here. Because when I attend a Google Cloud conference

[2020-10-23 10:10] osmancakir opened #4117 "WebGL backend for tensorflowjs loads the model (blazeface) very late"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow.js): No.
- OS Platform and Distribution : Windows 10 Pro
- TensorFlow.js installed from (npm or script link): https://www.npmjs.com/package/@tensorflow/tfjs
- TensorFlow.js version: 2.6.0
- Browser version: Firefox 81.0.2 (64-bit)
- Model: Blazeface: 0.0.5

I am trying to add blaz

[2020-10-23 10:29] rfourdinier commented on #4062
Hi @lina128 ,

I have tried not importing cpu backend using union package unfortunately it does not resolve the error.

I am getting the video as HTMLVideoElement with this snippet:

From my webcam:

    webcam_init() {
    this.logTime("Initializing webcam...");

    if(navigator.getUserMedia){

      console.log('Android');

      const videoCam = <HTMLVideoElement> document.createElement('video

[2020-10-23 11:30] joshSennep commented on #1739
Should this be closed? This is still an issue now. Is there an update on the progress of this bug?

[2020-10-23 13:29] osmancakir opened #4118 "WASM backend for tensorflowjs throws “Unhandled Rejection (RuntimeError): index out of bounds” error in Reactjs"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow.js): No
- OS Platform and Distribution : windows 10 pro
- TensorFlow.js installed from:npm
- TensorFlow.js version (use command below): 2.6.0
- Browser version: Firefox 81.0.2 (64-bit)

I am trying to set up a WASM back-end for blazeface face detection model in a react app. Althou

[2020-10-23 14:59] tafsiri commented on #3856
The examples are being updated. We'll update this issue as they get completed.

On incompatibilities upgrading to 2.x do feel free to @ mention me on any issues you run into between 2.x and 1.x. I try and keep an eye out for these on the issues but may occasionally miss some. For users of the [tfjs](https://www.npmjs.com/package/@tensorflow/tfjs) package (which we sometimes refer to as our union p

[2020-10-23 15:18] tafsiri commented on #3962
Just to update this thread, I've made a PR to enable loading locally bundled sharded models in with tfjs-react-native, so there would be no need to convert or concatenate the weights. I'll post back here once a new release is out with the feature, I estimate that would happen sometime next week.

[2020-10-23 15:31] joshSennep opened #4120 "tensorflowjs_converter malforms the tensor values during conversion"
**System information**
- Have I written custom code: Yes
- OS Platform and Distribution: MacOS 10.15.6
- TensorFlow.js installed from: npm
- TensorFlow.js version: 2.3.0
- Browser version: Chrome 86.0.4240.80
- Tensorflow.js Converter Version: latest ~ 2.6.0

**Describe the current behavior**
I have created a custom model based on the Keras API in python:
[code]

I add my own classification layers

[2020-10-23 16:20] annxingyuan commented on #4107
Thanks @BruceDai for pointing this out. I believe I have a fix here: https://github.com/tensorflow/tfjs/pull/4121

[2020-10-23 17:06] rthadur commented on #4116
@YuK1Game can you please check for a similar here issue [here](https://github.com/tensorflow/tfjs/issues/2619)

[2020-10-23 17:17] rthadur commented on #4117
@osmancakir i have not noticed any significance difference on blazeface demo, but for your code, the first detection is slow since the backend are caching the shader programs, the prediction after the first one should much faster and stable.You can add a warm up step after the model loads.

[2020-10-23 17:34] #4107 closed

[2020-10-23 20:59] lina128 commented on #4062
Hi @rfourdinier, we found the root cause for errors that complaining tensor is a Promise. Here is the [fix PR](https://github.com/tensorflow/tfjs/pull/4122), we are going to release the fix in 2.7.0 next Monday. I see that your stack trace has zone.js, which causes issue for async code. zone.js monkey patch all the async calls, and in our code, we check promise using `obj instanceOf Promise`, wher

[2020-10-23 21:34] #3494 closed

[2020-10-24 00:33] vladmandic commented on #3903
now that <https://github.com/tensorflow/tfjs/pull/4100> is committed, i've tried it out and no luck

fresh build from [master](https://github.com/tensorflow/tfjs/commit/cbaa09e5558f1eae6610704c2889222f9db4ea7b)
tested with **node** (`tfjs-node`) and **browser** (`tfjs-backend-webgl`) environments - both **fail** exactly the same as in the original report

[code]

[2020-10-24 00:41] tafsiri commented on #3945
Thanks, just pulling out the graphics card info for other to see.

Display adapter 0
	ID			0x4000000
	Name			Intel(R) HD Graphics 4000
	Board Manufacturer	0x10CF (0x176D)
	PCI device		bus 0 (0x0), device 2 (0x2), function 0 (0x0)
	Vendor ID		0x8086 (0x10CF)
	Model ID		0x0162 (0x176D)
	Revision ID		0x9
	Performance Level	0

cc @annxingyuan @pyu10055 for comparison with other related issues.

[2020-10-24 09:15] danrossi commented on #4076
Possibly it meantioned XR as in webXR. I'm not sure if the same webgl reference can be reutilised to remove the background from the texture but this is a start to actually see what its doing to the canvas

[code]

[2020-10-24 13:14] ydennisy commented on #353
Hi @tafsiri @nsthorat I can see work on some of the issues labelled - would you happen to have an estimate yet?

Or is there any pre-release stuff one can play with?

[2020-10-24 14:54] vladmandic opened #4124 "tensorflowjs_converter incorrectly handles dtype"
** incorrectly filled -- will close myself **

`tensorflorjs_converter` converts `saved_models` with dtype `DT_UINT8` (which is very common for any model having RGB image having with values 0-255 as an input) into dtype `float32` although int data types are valid on its own

this does make model execution a bit slower as well due to difference between float and int operations

below is a signature

[2020-10-24 14:55] vladmandic commented on #4124
** incorrectly filled -- will close myself **

[2020-10-24 14:55] #4124 closed

[2020-10-24 18:03] vladmandic opened #4125 "`tensorflowjs_convert` fails to convert `saved_models` when there are no explict `tags` set in model"
`tensorflowjs_convert` fails to convert `saved_models` when there are no explicit `tags` set in model

such models are working fine when loaded with `loadSavedModel()`, so it's not a model issue, but a converter issue
and unfortunately, this is a common behavior for many models

below is the output of `tf.node.getMetaGraphsFromSavedModel()` for one such model

[code]

there are more than few affec

[2020-10-24 19:10] vladmandic opened #4126 "implement support for saved_models in browser environment"
tensorflow/js introduced new model type compared to tensorflow/python - `graph_model`

unfortunately, very few of new models are published in `graph_model` format and require a conversion from `saved_mode` to `graph_model` (just check <tfhub.dev> - less than a third of models are available in `graph_model` format - and none of the models published in the last half a year)

however, this leads to m

[2020-10-24 21:16] vladmandic opened #4127 "model works in nodejs and fails in browser"
model works in nodejs and fails in browser

1. `saved_model` with `tfjs_node` in **nodejs**:

[code]
**pass** no issues

2. `graph_model` with `tfjs_node` in **nodejs**:

[code]
**fail**: error due to dynamic ops

`This execution contains the node 'filtered_detections/map/while/Exit_4', which has the dynamic op 'Exit'`

why? it's the same model, just converted from `saved_model` to `graph_model` u

[2020-10-25 01:50] vladmandic commented on #3903
I've updated `tensorflowjs` pip packages and re-converted EfficientDet models using `tensorflowjs_convert --input_format tf_hub ...` and it seems that EfficientDet converted `saved_models` are now working.

There is another issue with CenterNet models, but I'll open a new issue for that.

I'm closing this issue.

[2020-10-25 01:50] #3903 closed

[2020-10-25 01:52] vladmandic opened #4128 "TFJS does not work with converted CenterNet models"
[CenterNet model](https://tfhub.dev/tensorflow/centernet/resnet50v2_512x512/1) works when loaded as `saved_model` in `tfjs_node` using `loadSavedModel()`, but fails when converted using `tensorflowjs_converter --input_format tf_hub ...` to `graph_model`
it seems to convert correctly and loads correctly using `loadGraphModel`, but fails during call to `executeAsync()`:

[code]

this is a new error

[2020-10-25 07:05] huurray commented on #4098
i see. i didn't know it doesn' t support using remote debugging. thanks!

[2020-10-25 07:05] #4098 closed

[2020-10-25 09:02] danrossi commented on #4076
Working implementation of that shader code above. Would like to try and apply the texture in one process instead of reapplying downloaded data. I think there is a memory leak I need to figure out now also. I have to apply an image texture next or video from screen capture etc. The rendered canvas is publishable to webrtc.

https://dev.electroteque.org/webrtc/html/virtual-background/publish.html

[2020-10-25 19:28] talolard opened #4129 "[webgl] Investigate how to reduce memory usage from texture allocation with minimal performance impact."
Hi,
I've been using the Universal Sentence Encoders model and had a hard to track memory leak. I eventually found [this comment](https://github.com/tensorflow/tfjs/issues/4015#issuecomment-704335135)  which suggested setting
[code]
Which solved the issue.
I don't know what it did but it worked and I suggest documenting it more prominently.
I'd volunteer to do so myself but don't understand what th

[2020-10-26 00:25] kennysong opened #4130 "tf.grad() no longer works on Sequential models after 2.4.0"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow.js): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): MacOS 10.15.6
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: No
- TensorFlow.js installed from (npm or script link): https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@2

[2020-10-26 01:47] BruceDai commented on #4107
@annxingyuan I could still reproduce the reported error "worker.js onmessage() captured an uncaught exception:Uncaught ReferenceError: t is not defined", any suggestion, thanks.

[2020-10-26 11:36] annxingyuan commented on #4107
@BruceDai did you test this on master?

[2020-10-26 11:55] dosomder opened #4131 "facelandmarks-detection wrong when image dimensions change"
I am using @tensorflow-models/face-landmarks-detection: 0.0.2 with wasm backend. I am drawing an image onto a canvas and then using the canvas the classify the landmarks.

The first image is classified fine. But when I classify a second image with different dimensions, the classification is wrong. Example:
![grafik](https://user-images.githubusercontent.com/3040570/97169181-ea12ef80-1789-11eb-8cd7

[2020-10-26 12:00] vladmandic opened #4132 "extract face feature vector from face-landmarks-detection model"
it would be very useful to be able to extract face feature vector from
[face landmarks detection model](https://github.com/tensorflow/tfjs-models/tree/master/face-landmarks-detection)
so it can be used to compare similarity between multiple processed faces

[2020-10-26 13:04] vladmandic commented on #4127
update: what's causing shape mismatch is `WEBGL_FORCE_F16_TEXTURES` - i wonder why the mismatch happens only on some models (i've seen it on two models so far) and works fine on others.

however, without `WEBGL_FORCE_F16_TEXTURES`, i can only process 1-2 images before running into notorious
```Error: Failed to link vertex and fragment shaders.``` in ```createFragmentShader()```

which is due to Ch

[2020-10-26 18:26] pyu10055 opened #4133 "GatherV2 op missing support for batch_dims parameter"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow.js):
- OS Platfo

[2020-10-26 18:37] pyu10055 commented on #4127
@vladmandic TensorFlow.js does not dispose GL texture by default, the reason we want to reuse the textures for consecutive runs. If the model is very large and generate a huge amount of intermediate textures, this would cause GL OOM.
We do have a flag to enable aggressive texture disposal
https://github.com/tensorflow/tfjs/blob/038522b8f228962c1cc0d179a8e445df8ea419a7/tfjs-backend-webgl/src/flags_

[2020-10-26 18:42] rthadur commented on #4129
[code]

[2020-10-26 18:46] #3885 closed

[2020-10-26 18:55] rthadur commented on #4132
cc @annxingyuan

[2020-10-26 19:34] vladmandic commented on #4127
@pyu10055 that works like a charm!

if you don't mind, few quick questions and then i'll close this issue:

- why do some (very few) models run into shape mismatch when `WEBGL_FORCE_F16_TEXTURES` is set?
- seems like `tf.memory().numBytesInGPUAllocated` is pretty reliable, but `tf.memory().numBytesInGPUFree` is definitely not since a) initial value is not correct, b) it increases with each inferen

[2020-10-26 20:31] davidkhanpk commented on #3231
I am getting this error on server start
"@tensorflow/tfjs": "^2.6.0",
"@tensorflow/tfjs-node": "^2.6.0",
nose_verion:  12.19.0

`internal/modules/cjs/loader.js:1065
  return process.dlopen(module, path.toNamespacedPath(filename));
                 ^

Error: The specified module could not be found.
\\?\C:\Users\..\node_modules\@tensorflow\tfjs-node\lib\napi-v6\tfjs_binding.node`

[2020-10-26 20:35] davidkhanpk commented on #3236
"@tensorflow/tfjs": "^2.6.0",
"@tensorflow/tfjs-node": "^2.6.0",
node_version: "12.19.0"

internal/modules/cjs/loader.js:1065
  return process.dlopen(module, path.toNamespacedPath(filename));
                 ^

Error: The specified module could not be found.
\\?\C:\Users\..\node_modules\@tensorflow\tfjs-node\lib\napi-v6\tfjs_binding.node

[2020-10-26 20:42] pyu10055 commented on #4127
Shape mismatch is more likely in float16 mode, since the upper bound of float16 is 65536, if the dimension of a tensor shape is greater than that number, and it is derived from a value of a tensor, it will likely get truncated. As a result, a shape mismatch could happen in the following ops.

Not sure about the numBytesInGPUFree being not reliable, cc @annxingyuan on this.

Yes, please create a ne

[2020-10-26 21:01] vladmandic commented on #4127
thanks @pyu10055

i'm working on a photo gallery and sharing app that extracts all metadata from uploaded photos, scans them and stores parsed metadata, ml-infered tags, geo tags, thumbnails, etc. in a database - all in natural language searchable format, e.g. 'find all photos with female in 20ies in miami having dinner outdoors at night'.

docs are not really up-to-date, but main repository is at

[2020-10-26 21:12] vladmandic opened #4134 "numBytesInGPUFree returns incorrect values"
when checking `tf.memory()` output while using `tfjs-backend-webgl`,
`numBytesInGPUAllocated` behaves as expected and correctly
but `numBytesInGPUFree` is incorrect:

- initial value is not correct (example is from a system with 4GB GPU)
- it increases with each inference run instead of decreasing
  (since `numBytesInGPUAllocated` is increasing)

example output of `tf.memory()`:

[code]

normally,

[2020-10-26 21:20] pyu10055 commented on #4125
@vladmandic unfortunately TensorFlow python [tf.saved_model.load](https://www.tensorflow.org/api_docs/python/tf/saved_model/load?hl=pl) does not support loading models without tags.
It will throw errors for these TFHub models. What is the tags/signatures you are seeing with node.js?

[2020-10-26 21:25] vladmandic commented on #4125
you can see the tags/signature in the example i've posted above - tags are empty and signature is `default`

but what's strange is that:
- `tensorflowjs_convert --input_format tf_hub ...` works
- `tensorflowjs_convert --input_format tf_saved_model ...` fails for the same model downloaded from tfhub

and quite a few models on `tfhub` are like that (efficientdet, centernet, imet, us products, etc.)

[2020-10-26 21:46] #4054 closed

[2020-10-26 22:00] tafsiri opened #4135 "grad fails for max"
- TensorFlow.js version (use command below): 2.0+

**Describe the current behavior**
The following (new) test fails

[code]

Seem to be a regression starting at 2.0.

Error is

[code]

[2020-10-26 23:55] #4135 closed

[2020-10-27 00:30] lina128 commented on #4130
Fixed by https://github.com/tensorflow/tfjs/pull/4064

[2020-10-27 00:30] #4130 closed

[2020-10-27 01:16] BruceDai commented on #4107
@annxingyuan Yes, I tested on master branch with the commit id: [920794d](https://github.com/tensorflow/tfjs/commit/920794d97c0898cd44fa64e0273e97d901bfb873) which already included your [fixed patch](https://github.com/tensorflow/tfjs/commit/83f5004d55a94a9095d462bcbc4cefa2f1b09dbc), thanks.

[2020-10-27 04:08] pyu10055 commented on #4120
@joshSennep can you share the original saved model to we can try to reproduce the conversion step?

[2020-10-27 08:46] #4047 closed

[2020-10-27 10:13] joshSennep commented on #4120
@pyu10055 it's in the repo under /scripts/tmp sorry I should have written that! This is what I get when exporting the in AWS sagemaker using the command `model.save(args.model_dir)`.

[2020-10-27 13:26] talolard commented on #4129
I'm not sure of that was for my sake, but if it was I (and similar users) don't understand it.

I'm just a simple NLP guy, I know some tensorflow and am fighting my way in the JS world to make things works.
I (and people like me), want to use this lib, but have no idea what a texture is.

More practically, it would be cool if it said somewhere:
"Hey, if you see your script using 10G of ram, you mi

[2020-10-27 14:29] tafsiri commented on #4129
I think a goo place to do this would be in the README for Universal Sentence Encoder. @talolard if you were interested in making a PR for that that would be great. Else we can do that.

[2020-10-27 14:29] tafsiri commented on #4129
cc @annxingyuan

[2020-10-27 14:32] tafsiri commented on #4130
@kennysong note that this is fixed in 2.7.0.

[2020-10-27 15:30] rfourdinier commented on #4062
Hi @lina128 ,

Updating to TFJS 2.7.0 seems to have resolved my problems!

Now i am able to execute models without raising any error.

Of course I still cannot execute them really fast but it is normal behavior because I am not using tfjs-node.

Your assistance was greatly appreciated, thank you very much !

[2020-10-27 16:38] pyu10055 commented on #4125
@vladmandic I have a fix for this now, please set the saved_model_tags to empty string `saved_model_tags=''` when the saved model contains no tags, thanks.

[2020-10-27 16:43] vladmandic commented on #4125
perfect!

i see the fix is currently blocked from merge, but it should be resolved soon so i'm closing this issue.

[2020-10-27 16:43] #4125 closed

[2020-10-27 17:15] lina128 commented on #4062
That's great to hear, @rfourdinier :)

[2020-10-27 23:12] tafsiri commented on #3962
Support for loading sharded models has been added in [0.5.0](https://github.com/tensorflow/tfjs/releases/tag/tfjs-react-native-v0.5.0), please try it out and let me know if you run into issues. This should eliminate the need to manually manipulate the weights and weights manifest, which has the potential to introduce errors.

[bundleResourceIO](https://js.tensorflow.org/api_react_native/0.5.0/#bun

[2020-10-28 00:55] trekhleb opened #4146 ""topk" kernel for the WASM backend"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow.js version (you are using): `v2.7.0`
- Are you willing to contribute it (Yes/No): `

[2020-10-28 05:11] kongmunist opened #4149 "model.fit() reports non-NaN float losses, but returns NaN when inferencing even though weights haven't changed"
**System information**
- Have I written custom code: Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): iOS ~13
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: yes, iPhone X
- TensorFlow.js installed from (npm or script link): script link
- TensorFlow.js version (use command below): 2.7.0
- Browser version: Safari
- Tensorflow.js Converte

[2020-10-28 08:19] pallavikhtri25 opened #4150 "Slice.ts:72 Uncaught (in promise) TypeError: Cannot perform Construct on a detached ArrayBuffer"
Trying to use https://github.com/tensorflow/tfjs/tree/master/tfjs-backend-wasm using direct script tags tried the demo code for mobilenet...working fine but trying tf.setBackend('wasm') for coco-ssd throws error [][1]

Slice.ts:72 Uncaught (in promise) TypeError: Cannot perform
Construct on a detached ArrayBuffer
at Float32Array.subarray (<anonymous>)
at slice (Slice.ts:72)
at Object.unpack [as ke

[2020-10-28 08:34] kennysong opened #4151 "tf.grad() gives the wrong result for vector valued functions"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow.js): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): MacOS 10.15.6
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: No
- TensorFlow.js installed from (npm or script link): https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@2

[2020-10-28 08:48] lcycoding commented on #4146
+1 for this feature

[2020-10-28 11:16] talolard commented on #4129
I'd be happy to. To make the thing compelte, can you point me to why it's a universal encoders thing and a general tf.js issue ?
e.g. If I was building my own model it wouldn't be an issue ?

[2020-10-28 12:10] annxingyuan commented on #4129
@talolard Changing the default behavior of `WEBGL_DELETE_TEXTURE_THRESHOLD` is hopefully more of a last resort for our users, so I think that's why we'd want to document this closer to the specific use cases.

[2020-10-28 15:07] delebash opened #4153 "[Violation] 'requestAnimationFrame' handler took <N>ms tfjs hand model demo"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
Windows 10 x64
Chrome Version 86.0.4240.111 (Official Build) (64-bit)
tfjs version used in online demo at https:

[2020-10-28 17:14] pyu10055 commented on #4120
Hi @joshSennep, I have tried your model and it is converted correctly and I was able to run it in the browser without problem.
Your error might be related to the model file serving, please check your network tab in the chrome developer console, to see if there are any network errors for all the model files.

[2020-10-28 17:18] joshSennep commented on #4120
Thanks for looking @pyu10055 I can imagine how silly I might look! If you have an example you can show about how you've got it running in the browser that would be great. I'll also do my own work too.

Thanks again.

[2020-10-28 17:58] rthadur commented on #4151
@pyu10055 I was able to reproduce the same , can you please take a look ?

[2020-10-28 17:59] rthadur commented on #4146
cc @annxingyuan

[2020-10-28 18:07] rthadur commented on #4153
I was not able to reproduce the same in MAC OS , may be this is specific to windows cc @pyu10055

[2020-10-28 18:42] vladmandic commented on #4127
closing as resolved

[2020-10-28 18:42] #4127 closed

[2020-10-28 18:52] delebash commented on #4153
ok, it does not seem to be interfering with performance.  Thanks

[2020-10-28 18:52] #4153 closed

[2020-10-28 19:37] talolard commented on #4129
Thanks @annxingyuan
Can you shed some light on what it does and why it's specifc to Universal Sentence Encoders.
I'd love to submit a PR with the relevant information but don't feel like I know what I'm talking about yet.

Tnx

[2020-10-28 20:01] kongmunist commented on #4149
Have made some progress on a workaround.

Duplicating the model after training doesn't fix the problem (making a new ```tf.model({inputs: naturemodel.inputs, outputs:naturemodel.outputs});```.

However, replacing the unfrozen hidden layers (everything in the architecture screenshow) with other dense layers does allow me to retrain and use the outputs. The only thing different is there's no batch n

[2020-10-28 20:01] jasonmayes commented on #4085
@kennysong I can not locate the code snippet you are referring to in this codelab? Or are you proposing adding these 2 lines of code somewhere in the lab?

[2020-10-28 20:04] jasonmayes commented on #4084
So was looking into this but I can not locate this comment :-/ Can someone provide more details with a link directly to the page that has this comment on it?

[2020-10-28 20:46] rthadur commented on #4084
@jasonmayes I was not able to find either, @kennysong can you please help locate comment ?

[2020-10-29 01:00] kennysong commented on #4085
It's in the [TensorFlow.js — Handwritten digit recognition with CNNs](https://codelabs.developers.google.com/codelabs/tfjs-training-classfication/index.html#5) CodeLab, page 6.

Here's a screenshot of one of the snippets:

<img width="823" alt="Screen Shot 2020-10-29 at 10 00 05 AM" src="https://user-images.githubusercontent.com/2199875/97512703-8547d700-19cd-11eb-853c-4e12c7fbcbdc.png">

[2020-10-29 01:07] kennysong commented on #4084
It's in the [TensorFlow.js — Handwritten digit recognition with CNNs](https://codelabs.developers.google.com/codelabs/tfjs-training-classfication/index.html#5) CodeLab, page 6.

Screenshot:

<img width="831" alt="Screen Shot 2020-10-29 at 10 06 23 AM" src="https://user-images.githubusercontent.com/2199875/97513014-672ea680-19ce-11eb-8782-f1ede9a78ba7.png">

I also realized the reason for the confu

[2020-10-29 02:56] zhubinsheng opened #4155 "need corresponding relationship between the version numbers of keras tensorflowjs tfjs"
The incompatibility between versions leads to many problems. I think it is necessary to give the corresponding relationship between the version numbers of keras tensorflowjs tfjs

[2020-10-29 06:04] rthadur commented on #4155
cc @pyu10055

[2020-10-29 06:12] BruceDai commented on #4107
@annxingyuan Any update? Thanks.

[2020-10-29 06:34] zhangchengtan opened #4156 "ValueError: Unsupported Ops in the model before optimization RandomStandardNormal"
I encountered following error for an unsupported operation while use tensorflowjs_converter convert python model to a tfjs model.

G:\sever_git\ml-agents\modelBoard\saved_model>tensorflowjs_converter --input_format=tf_frozen_model --output_format=tfjs_graph_model --output_node_nam
es=action --saved_model_tags=serve ./frozen_graph_def.pb ./web_model
2020-10-29 14:32:22.020098: I tensorflow/stream_e

[2020-10-29 12:06] ghafran opened #4157 "AutoML Object Detection Labels Injecting background, b'NNNN'"
When exporting an AutoML object detection model to Edge TensorFlowjs, the dict.txt shows all labels as `b'NNN'`. Also, why is there a random `background` label in the file?

Example dict.txt
[code]

Also the predicted objects show the same values:
[code]

Here is the code used to run them model:
[code]

This seems like a bug. For now we are just handling by stripping out the extra characters from

[2020-10-29 12:38] hoechenberger commented on #2111
Friendly ping @rthadur :)

[2020-10-29 15:00] joaorenatojr87 commented on #3962
Thanks for the response @tafsiri!

I've tried to, but got the same error instead:
![modelLoadErrorServer8000](https://user-images.githubusercontent.com/40832510/97587627-f7bab600-19d1-11eb-9758-d1322e593198.png)

In this case I executed node http-server localy on port 8000 as the [tutorial ](https://cloud.google.com/vision/automl/docs/tensorflow-js-tutorial) says.

I've upgraded to 0.5.0 and the c

[2020-10-29 16:45] rthadur commented on #4156
cc @pyu10055

[2020-10-29 17:42] tafsiri commented on #3962
@joaorenatojr87 that does look like it may be an issue unrelated to the sharding. to make this easier for us to track/resolve, could you make a new issue with everything your last comment __as well as__ your model.json file.

[2020-10-29 17:53] tafsiri commented on #353
@ydennisy we hope to have something out by the end of the year, at the very least in pre-release form if not finalised.

As for pre-release stuff, we don't have any documentation yet, but if you are adventurous and don't mind looking at source code/tests, you can see the workflow we are targeting here https://github.com/tensorflow/tfjs/tree/master/e2e/custom_bundle/dense_model.  The one tip I can

[2020-10-29 18:40] tafsiri commented on #4093
Note: - backend.int is not a kernel, but a utility on the backend. (It can be removed once we are able to remove castTensor from core, i.e. refactoring cast to not use castTensor in core).

[2020-10-29 20:46] joaorenatojr87 opened #4159 "Tensorflowjs React-Native: "TypeError: undefined is not an object (evaluating 'tfNodes.reduce')""
Hi. I use Windows 10, my device conected via USB is Xiaomi 9 with Android 10.

I'm working with React-Native CLI and my package.json is [here.](https://github.com/joaorenatojr87/myownrep/blob/main/package.json)

In my use case I've downloaded the custom models from Google AutoML Vision Edge according to this [tutorial](https://cloud.google.com/vision/automl/docs/tensorflow-js-tutorial). The custom

[2020-10-29 20:58] rthadur commented on #3849
related PR has been merged and will be available in next release. Thank you

[2020-10-29 20:58] #3849 closed

[2020-10-29 23:44] santiher opened #4160 "Make tensorflow.estimator saved_models tfjs-node compatible"
**System information**
- TensorFlow.js version (you are using): 2.7.0
- Are you willing to contribute it (Yes/No): Yes

**Describe the feature and the current behavior/state.**

There are a bunch of estimators easy to use and fit implemented in tf.estimators, like `BoostedTreesClassifiers` or `LinearClassifier`.
But when one tries to load a model saved in `tfjs-node` it will fail due to unregister

[2020-10-30 00:10] rthadur commented on #4160
cc @pyu10055 @tafsiri

[2020-10-30 15:58] pyu10055 commented on #4157
@ghafran We have contacted Google Cloud AutoML team and created an internal bug on this, will update with more details.

[2020-10-30 16:02] pyu10055 commented on #4155
In general TFJS provides a subset of layers that is available on keras, as wells as tf.keras.
@zhubinsheng can you provide more details on what type of errors you are seeing?

[2020-10-30 18:12] santiher commented on #4160
Hi, thanks for the responses.

@pyu10055, yes I tried using the TF saved model directly within node, I tried this minimal thing:

[code]

and different variations and get this logs:

[code]

I generated the model in Python doing something like:

[code]

I also tried with `ts.estimator.LinearClassifier` and just numeric columns without success.
Loading and using the model in Python worked.

[2020-10-30 23:16] mtngld opened #4165 "Unsupported Op - MatrixDiagV3"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow.js): No.
- OS Pl

[2020-10-31 14:22] rahbari commented on #4116
TFJS-Node-CPU: 2.7
OS: Win 10
Node: 14.15
CPU: i7-4820k

[code]

D:\TFJS\node_modules\@tensorflow\tfjs-node\lib\napi-v6\tfjs_binding.node Exists.

[2020-10-31 17:05] vladmandic opened #4166 "tfjs webgl backend memory handling of complex models"
for more complex object detection models such as `faster_rcnn_inception_resnet_v2_atrous_oidv4`
from [TF Model Zoo](https://github.com/tensorflow/models/blob/master/research/object_detection/g3doc/tf1_detection_zoo.md)
(model stats are: numBytes 255,915,844 numTensors 17,653)

i cannot get valid run no matter what on a my notebook with a 4GB GPU using `webgl` backend

note that everything below wo

[2020-11-02 08:29] zhubinsheng commented on #4155
I'm just a beginner. I use keras to convert the model of Darknet into H5 file, and then tensorflowjs_ Covert is transformed into a model that tsjs can use, a new version of tensorflowjs_ Covert will be converted into bin files and cannot be used in tsjs, but the old ones will not

[2020-11-02 12:37] MahdiNicoo commented on #3231
Installing nodejs version 12.16 solved the problem

[2020-11-02 12:39] susmeet-jain opened #4168 "Making separable Convolutions more efficient"
Currently the time efficiency for depthwise separable convolutions in tfjs is only as good as regular convolutions.

Depthwise separable convolutions need a lot less multiplication operations then regular convolutions. And this makes them much faster on other platforms including tensorflow.

Requesting support to utilize the efficient architecture optimisations of the depthwise convolution to make

[2020-11-02 13:14] pabloegpf1 commented on #4083
Hi @lina128 , you are right, I thought I could use a custom version of tfjs in Face-Api. I ended up using @vladmandic 's fork:

https://github.com/vladmandic/face-api

Thanks!

[2020-11-02 13:14] #4083 closed

[2020-11-02 14:08] vladmandic commented on #4166
we can keep it simple - same model, only initialized with checkpoints with higher and higher resolution

model are *efficientdet* family, converted from **thub** `saved_model` to `graph_model` using:
[code]

i wanted to get more data by running `tf.profile()`, but that only works for smallest *d0* model and fails with out-of-memory for all others, can't even get *d1* variation to run.

instead, he

[2020-11-02 14:33] BruceDai commented on #4107
@annxingyuan Did this issue reproduce on your side? Thanks.

[2020-11-02 16:27] pyu10055 commented on #4166
@vladmandic Thank you for the detail report. @annxingyuan can you help to take a look what causes the GPU OOM during the run? thanks.

[2020-11-02 17:03] pyu10055 commented on #4160
@santiher parseExampleV2 are not part of the TF core c++ API, unfortunately that is what TFJS node based upon.
you can avoid using it as the signature of the saved model by avoiding using it in the serving_input_fn

[code]

[2020-11-02 17:09] pyu10055 commented on #4168
@susmeet-jain I want to make sure which model type you are using, are you using the Keras layers with TFJS layers model or converted the saved model to TFJS graph model?

[2020-11-02 18:18] rthadur commented on #4165
cc @pyu10055

[2020-11-02 20:10] #4070 closed

[2020-11-02 20:10] #1425 closed

[2020-11-02 22:39] Ely-S commented on #3990
I released my code as a small npm package since this wasn't picked up https://www.npmjs.com/package/tf-gaussian-blur

[2020-11-02 22:39] #3990 closed

[2020-11-02 23:55] GantMan commented on #3131
Mine was a tf.tidy cleaning up vars I needed inside a promise.  Fixed for me now, but leaving this note for posterity.

[2020-11-03 00:17] Jwiggiff opened #4171 "Error when trying to use tfjs-node on Windows 10"
In my `main.mjs` file I have `import * as tf from "@tensorflow/tfjs-node";`.

I get this error when I try to run the file:

    node:internal/modules/cjs/loader:1142
      return process.dlopen(module, path.toNamespacedPath(filename));
                    ^

    Error: The specified module could not be found.
    \\?\D:\Users\fried\Documents\VSCode Projects\Ai+ML\Mountain Car\node_modules\@tensorf

[2020-11-03 04:28] susmeet-jain commented on #4168
Thanks @pyu10055, that is an important detail to add. I am currently converting a saved model to a tfjs graph model. Not writing a TFJS layers model.

[2020-11-03 10:17] BruceDai commented on #4107
@annxingyuan I try latest tfjs-backend-wasm of 2.7.0, it works, suggest you upgrade package.json for starter/webpack project :) .

[2020-11-03 13:40] gerritsanetra opened #4173 "FaceMesh memory Leak when covering the face partially"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow.js): No
- OS Pla

[2020-11-03 17:08] jameshfisher opened #4177 "Google Meet background segmentation model"
**System information**
- TensorFlow.js version (you are using): 2
- Are you willing to contribute it (Yes/No): No, it's not mine

**Describe the feature and the current behavior/state.**
[This Google AI blog post](https://ai.googleblog.com/2020/10/background-features-in-google-meet.html?m=1) describes the background segmentation model used in Google Meet. This model would be an excellent complemen

[2020-11-03 17:34] rthadur commented on #4177
cc @annxingyuan @tafsiri

[2020-11-03 17:39] rthadur commented on #4171
@Jwiggiff can you please check [here](https://github.com/tensorflow/tfjs/issues/2619) for a similar issue.

[2020-11-03 19:14] rpritr commented on #3236
I used  node 12.16.1 and It found the specified module, however I still get notice: Hi there. Looks like you are running TensorFlow.js in Node.js. To speed things up dramatically, install our node backend, which binds to TensorFlow C++, by running npm i @tensorflow/tfjs-node, or npm i @tensorflow/tfjs-node-gpu if you have CUDA. Then call require('@tensorflow/tfjs-node'); (-gpu suffix for CUDA) at

[2020-11-04 14:54] nowherenearithaca commented on #4030
I see that this is closed but still seem to be getting the error with 2.7, and the suggested workaround with env() I see doesn't seem to work for me.  Is it just me at this point?  Thanks.

[2020-11-04 16:59] adriang133 opened #4183 "executeAsync `cannot read property 'getItem' of undefined`"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow.js): **Yes**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): **macOS 10.15.6**
- TensorFlow.js installed from (npm or script link): **npm**
- TensorFlow.js version (use command below): **2.7.0**
- Browser version: **Chrome 86.0.4240.183**
- Tensorflow.js Converter Versi

[2020-11-04 17:05] tafsiri commented on #4030
@nowherenearithaca do you have a minimal reproduction we could take a look at? Maybe a codepen or something similar.

[2020-11-04 19:35] rthadur commented on #4171
@Jwiggiff what version of node and tfjs-node you are using ? also can you run` npm rebuild @tensorflow/tfjs-node build-addon-from-source` in your repo and try again

[2020-11-04 20:10] vladmandic commented on #4066
any update on this? issue is sitting unassigned for several weeks.

[2020-11-04 20:41] tafsiri commented on #4066
I'll try and get an update on this.

[2020-11-04 20:52] nowherenearithaca commented on #4030
Thanks for responding on a closed issue @tafsiri.  I'll see about doing that, as it's just the basic node example for faceapi-js.

Note that I am also getting an issue with installing tf via npm that might be related as well

node-pre-gyp info This Node instance does not support builds for N-API version 6

and that thing was referenced in another issue (#2370) on Oct 5 last month.

I'm new to the

[2020-11-04 20:56] Jwiggiff commented on #4171
Node: v15.0.1
tfjs-node: 2.7.0

Output of `npm rebuild @tensorflow/tfjs-node build-addon-from-source`:

    Car\node_modules\@tensorflow\tfjs-node

    CPU-windows-2.7.0.zip
    * Building TensorFlow Node.js bindings
    @tensorflow/tfjs-node@2.7.0 D:\Users\fried\Documents\VSCode Projects\Ai+ML\Mountain
    Car\node_modules\@tensorflow\tfjs-node

[2020-11-04 22:07] simon-lanf opened #4185 "Add back camera Blazeface tfjs model"
Hi, I'm trying to use Blazeface in TFJS and see that the only version for tfjs available is the front camera version.

The model card states that two versions exist: https://drive.google.com/file/d/1f39lSzU5Oq-j_OXgS67KfN5wNsoeAZ4V/view

Here are the two .tflite version of the model:
https://github.com/google/mediapipe/blob/master/mediapipe/models/face_detection_front.tflite
https://github.com/goo

[2020-11-04 22:09] simon-lanf commented on #4185
I'm asking for the same thing as https://github.com/google/mediapipe/issues/61 , for TFJS.

[2020-11-04 22:36] tafsiri commented on #4030
If you are using it through another library, posting your package.lock or yarn.lock file would be helpful in pinning down which version may actually be loading.

[2020-11-04 22:47] nowherenearithaca commented on #4030
sure thing... ahh, maybe faceapi-js is referencing tf 1.7 or something...

[code]

[2020-11-05 01:52] josephrocca commented on #4051
Hi @rthadur, @pyu10055, I think this was marked as stale by the bot because of the "awaiting response" tag?

[2020-11-05 09:56] Fantantonio opened #4189 "fromPixels() must be an HTMLVideoElement but was HTMLVideoElement"
This error is showing up in the console.log of a node.js + nw.js project.

It is triggered by this js code:
[code]

webcam refers to this HTML element:
[code]

The js code is executed after the video element is loaded and it's working if I print a video screenshot into a canvas and then I use that as input for the `fromPixels` method:
[code]

canvas refers to this HTML element:
[code]

- Node.js:

[2020-11-05 12:50] #4120 closed

[2020-11-05 14:23] tafsiri commented on #4030
Yes, looks like faceapi is using 1.7.0. You would want to install the same version of tfjs for node.

[2020-11-05 14:34] nowherenearithaca commented on #4030
@tafsiri yeah that did it.  Thanks again for responding here to something completely unrelated to this library itself.

[2020-11-05 16:42] tafsiri commented on #4189
Could you provide a minimal reproduction that we could run to see the error? Something like https://codepen.io/tafsiri/pen/qBNyMxP?editors=1111 but in the environment that you are experiencing the issue in.

Also could you post the result of the following in your app.

[code]

[2020-11-05 17:32] pyu10055 commented on #4183
@adriang133 Thank you for reporting the issue, it would be really helpful if you can share the exact model that we can reproduce this error. thanks!

[2020-11-05 17:38] pyu10055 commented on #4168
thanks you for the clarification, are you referring to [this keras layer](https://www.tensorflow.org/api_docs/python/tf/keras/layers/SeparableConv2D)?
It would be really helpful if you can provide an examples that demonstrate the performance in a meaningful way, so we can track down the performance bottleneck. Thanks!

[2020-11-05 18:43] rthadur commented on #4185
cc @annxingyuan

[2020-11-05 19:10] rthadur commented on #4103
Closing this due to lack of activity, feel to reopen. Thank you

[2020-11-05 19:10] #4103 closed

[2020-11-05 20:11] pyu10055 commented on #4126
@vladmandic direct saved model execution would be unlikely due the difference of tfjs and tensorflow. We are in the process to reconvert all the tfhub models with the latest converter, I will expect there could have quite some of the models can be converted now.
We are working very hard to solve the divergence problem between python and TFJS, but unfortunately, it will still be expected due to Web

[2020-11-05 20:15] vladmandic commented on #4126
it makes sense, but i'd thought to ask - i love tfjs, but there is quite a lot of frustration with converter experience so far.
i'm closing this issue.

[2020-11-05 20:15] #4126 closed

[2020-11-05 20:50] annxingyuan commented on #4132
Hi @vladmandic - can you say a bit more about what you mean by 'face feature vector'? The model does not provide a face embedding, but did you have a certain vector in mind?

[2020-11-05 20:53] annxingyuan commented on #4108
Apologies for the delay - wanted to also mention that it's possible to disable iris detection in the faceLandmarksDetection model like so:

[code]

[2020-11-05 20:55] vladmandic commented on #4132
@annxingyuan

that's exactly what i meant, just terminology is not really standardized.

i understand the model as-is doesn't produce face embedding output, but i was thinking it could be calculated from an interim node?

i could do the calculation, but reverse-engineering nodes to figure out what is what is too much.

[2020-11-05 23:54] Fantantonio commented on #4189
The code you provided generate this output in console:

I also tryied to run `tf.browser.fromPixels(webcam);` inside a if statement like so:
[code]

And the if condition is satisfied so the error occur

The problem comes from a node.js + nwjs project so I don't know if there's an online platform that allows to reproduce this issue so easily.
For the moment I uploaded a repo with all the testing co

[2020-11-06 00:39] vladmandic commented on #4126
@pyu10055 silly idea, but did anyone try running tensorflow.dll (software version, not cuda) through emscripten to get a full wasm backend?

Of course it's not as simple as that, but emscripten has gone a long way in the last year.
And being able to control build process of tensorflow can make it compatible.

[2020-11-06 01:45] Someguy1834 opened #4191 "Error: The Node.js native addon module (tfjs_binding.node) can not be found at path"
**System information**
- Ubuntu 20.04.1 LTS
- npm i @tensorflow/tfjs-node
- 2.7.0

**Describe the problem**
No matter what version I use, trying to use `const tf = require('@tensorflow/tfjs-node')` will just give back this error:
The Node.js native addon module (tfjs_binding.node) can not be found at path: /home/sopur/JavaScript/tensorflowtest/node_modules/@tensorflow/tfjs-node/lib/napi-v6/tfjs_bi

[2020-11-06 02:26] huningxin opened #4192 "matmul doesn't preserve the batch dimension with size 1"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow.js):
- OS Platfo

[2020-11-06 02:29] ASnow opened #4193 "C Tensorflow core changes in 2.4"
"C-API functions TF_StringDecode, TF_StringEncode, and TF_StringEncodedSize are no longer relevant and have been removed; see core/platform/ctstring.h for string access/modification in C."

This change has breaking building from source for tfjs-node-gpu.

[code]

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- Mobile device (e.g. iPhone 8, Pixel 2, Sa

[2020-11-06 02:36] tafsiri commented on #4189
After digging around a bit, it looks like your project is running in [separate context mode](http://docs.nwjs.io/en/latest/For%20Users/Advanced/JavaScript%20Contexts%20in%20NW.js/#separate-context-mode) and there are two JS contexts in which code is run. Your code is being run in the browser context and the tfjs library code is being run in the node context. In the node context `video instanceof H

[2020-11-06 06:10] adriang133 commented on #4183
@pyu10055 There's a link to the model generated by tensorflowjs_converter above.

Do you mean the code for generating the python model ?

[2020-11-06 10:57] Fantantonio commented on #4189
Thanks for your time and for linking the documentation!
That's the way to get it to work

[2020-11-06 10:57] #4189 closed

[2020-11-06 14:52] archie94 opened #4195 "Fatal Exception: java.lang.IllegalArgumentException: Internal error: Failed to run on the given Interpreter: OpenCL library not loaded - dlopen failed: library "libOpenCL-pixel.so" not found"
**System information**

- Mobile device (vivo 1904, Pixel 2, etc),
- tenserflow lite
- build.gradle

[code]

**Describe the current behavior**
Exception is thrown on invoking `Interpreter.runForMultipleInputsOutputs()` on the model collected from https://storage.googleapis.com/download.tensorflow.org/models/tflite/posenet_mobilenet_v1_100_257x257_multi_kpt_stripped.tflite

**Describe the expected

[2020-11-06 16:14] ASnow commented on #4171
1. module_name proble solved with other runner, use
node-pre-gyp rebuild
2. You shoul manualy past files to node_modules/@tensorflow/tfjs-node/lib/napi-v6. Copy it from deps/lib

[2020-11-06 16:33] toilavic commented on #4191
same, looking for the solution

[2020-11-06 16:57] hayriyigit commented on #4191
Can you show me the output of `npm i @tensorflow/tfjs-node` ?

[2020-11-06 17:10] #4091 closed

[2020-11-06 17:21] hayriyigit commented on #4191
Can you run this and try to reinstall tfjs?
`apt-get install build-essential`

[2020-11-06 18:10] #4117 closed

[2020-11-06 18:45] pyu10055 commented on #4183
@adriang133 yes if you can provide the python model would be great.

[2020-11-06 18:56] simon-lanf commented on #4177
this would be useful for us.

[2020-11-06 19:29] toilavic commented on #4191
@hayriyigit  hello, i fixed succesfully, my node_modules is old-version (or missing something), so that i deleted it and reinstall again, and this is working.

[2020-11-06 19:52] tafsiri commented on #4177
I'll pass this on to our PM.

[2020-11-06 20:11] jasonmayes commented on #4085
Updated on staging server. Should be live soon.

[2020-11-06 20:12] jasonmayes commented on #4084
Updated on staging server. Should be live soon.

[2020-11-06 20:23] #4073 closed

[2020-11-06 20:50] #4085 closed

[2020-11-06 20:50] #4084 closed

[2020-11-06 22:22] pyu10055 commented on #4183
@adriang133 I tried your converted TFJS model, I works with the code you provided.
I am confused in what circumstances this would fail?

[2020-11-06 22:25] pyu10055 commented on #4151
@rthadur are you getting [5] as the print out?

Here is my execution:

[code]

[2020-11-06 22:45] pyu10055 commented on #4151
I believe the output is correct, I verified with python:

[code]

[2020-11-07 00:33] vladmandic commented on #4185
ported both back and front models: <https://github.com/vladmandic/human/tree/main/models>

[2020-11-07 00:45] Someguy1834 commented on #4191
@hayriyigit Tensorflow is installed normally. This is what it logged in the console:
`
added 129 packages, and audited 129 packages in 26s

5 packages are looking for funding
  run `npm fund` for details

found 0 vulnerabilities
`

[2020-11-07 02:54] kennysong commented on #4151
@pyu10055 Oh true. It looks like this is [a point of confusion](https://github.com/tensorflow/tensorflow/issues/29064) in Python as well.

It may be a good idea to add a sentence in the documentation (or a console warning) of `tf.grad` that `f` must be scalar valued, otherwise the function will silently add a `.sum()` to `f`.

FWIW, it looks like the right way to do this in Python is with [`tf.jac

[2020-11-07 08:04] Jwiggiff commented on #4171
It kind of worked! So first, I installed `node-pre-gyp` globally, and then I ran `node-pre-gyp rebuild` in `node_modules/@tensorflow/tfjs-node`. I still got the same error when running `node main.mjs`. Then, I copied `tensorflow.dll` and `tensorflow.lib` from `deps/lib` to `lib/napi-v6`. Now I am getting this error:

    tensorflow/core/platform/cpu_feature_guard.cc:142] Your CPU supports instruct

[2020-11-07 09:24] ASnow commented on #4171
It's a warrning. Computation should work despite it

[2020-11-07 11:03] Floffah commented on #3231
this issue seems to have came back up in node 15

[2020-11-07 12:44] pallavikhtri25 commented on #4150
@pyu10055 @annxingyuan  any workaround for this ?

[2020-11-07 15:51] djthegr8 opened #4200 "How to make sense of TFHub TFjS model outputs (handdetector)"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow.js):No, [from TFHub](https://tfhub.dev/mediapipe/tfjs-model/handdetector/1/default/1)
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):Linux Ubuntu 20.04 LTS
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:N/A
- TensorFlow.js

[2020-11-08 14:20] mceIdo opened #4201 "Compile error with @tensorflow/tfjs-backend-webgl for TS target > ES5"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: -
- TensorFlow.js installed from (npm or script link): npm
- TensorFlow.js version: 2.7.0
- CUDA/cuDNN version: -

**Describe the problem**
When trying to build a typescript code that depends on `@tensorflow/tfj

[2020-11-09 03:14] rthadur commented on #4200
cc @pyu10055

[2020-11-09 09:31] josh-nathanson commented on #2043
@tylerzhu-github Hi Tyler,

Has BodyPix model to a TensorFlow Lite model for iOS development been released yet? Would love to use it for mobile application development

Thanks

[2020-11-09 09:51] Download commented on #3856
@tafsiri Thanks and sorry for getting upset

[2020-11-09 16:07] tafsiri commented on #4201
Does this happen with `skipLibCheck: true` in your tsconfig?

[2020-11-09 16:19] simon-lanf commented on #4185
@vladmandic I tried using your demo for front and back camera, selecting only face detection and it performs significantly worse than the Blazeface TFJS demo here: https://storage.googleapis.com/tfjs-models/demos/blazeface/index.html
I used your demo with these options: #
![vladmandic github io_human_demo_index html](https://user-images.githubusercontent.com/58534677/98566951-62df7480-227d-11eb-91

[2020-11-09 16:28] vladmandic commented on #4185
key difference is that original uses:
[code]
while i use far more aggressive values as default:
[code]
which means there are more hits and more things to process
(reason for more aggressive values is that i use it to find large number of small faces in photos as well)

and that is all tunable.

if there are any other performance issues due to code itself, i'd be more than interested in analyzing/f

[2020-11-09 16:33] simon-lanf commented on #4185
the settings I sent you are an example, I tried many combinations of settings.

at minConfidence: 0.9 I see my face one in like 10 frames. It misses everything. I truly mean it, it just does not perform the same. Try for yourself to recreate the demo with just this model and isolate and you'll see that the demo from TFJS performs better.

[2020-11-09 16:34] vladmandic commented on #4185
ahh, i think i know what the issue with that is - had the same problem with handdetect - bug in cache invalidation. need to do the same fix for blazeface.

[2020-11-09 16:51] simon-lanf commented on #4185
let me know when you fix this I'll create a demo comparison page.

Also on my chrome the wasm version crashes most of the time. The error is:

Error: Backend name 'wasm' not found in registry

[2020-11-09 17:43] santiher commented on #4160
I tried doing it without `make_parse_example_spec` without success.
The `tf.io.FixedLenFeature` or `tf.io.VarLenFeature` returned by that function are the problem and I didn't manage to save the model without them.

I guess that for now I'll be using the keras api to build a linear model or neural network.

[2020-11-09 19:16] #4116 closed

[2020-11-09 19:33] vladmandic commented on #4185
@simon-lanf done, pushed new update

keep in mind that default parameters still differ from google's demo
also, webcam input resolution makes a big difference, especially with wasm backend
(resolution can be tuned in my demo as well)

performance wise, with webgl both back and front model variations are running within margin of error
with wasm, performance difference starts to show - back is about

[2020-11-09 21:13] #3987 closed

[2020-11-09 21:20] plakal commented on #3987
Thanks for the fast work! Is there any documentation for the new feature and how to use it when converting a model to TF-JS? I'd like to try this with YAMNet.

[2020-11-09 21:34] lina128 commented on #3987
Hi @plakal, we just merged it to master, it will be released with version 2.8.0, we are targeting a release next week. For the time being, if you want to try it out, you can check out master, and use the python converter from your local directory. I will update the readme once the 2.8.0 is released. For local testing for now, you can append this flag to the converter: `--metadata=key:path/metadata

[2020-11-09 22:06] simon-lanf commented on #4185
@vladmandic I continued the discussion in your project's issues: https://github.com/vladmandic/human/issues/26

[2020-11-10 00:17] pyu10055 commented on #4171
@Jwiggiff is this resolved after you built from source manually?

[2020-11-10 00:20] pyu10055 commented on #4052
@joemullenix-ks can you use the latest tfjs-node 2.7.0? I have uploaded the pre-compiled windows addons for 2.7.0, please let me know if that solve the problem for you.

[2020-11-10 02:31] joemullenix-ks commented on #4052
It looks like the problem still exists. I cleared my project, and reinstalled tfjs-node. My dependency is now 2.7.0.

When I run in VS Code, I still see the same error ('tfjs_binding.node not found'). Also, when I run node-gyp configure, I see the same undefined variable error.

Thanks for trying! Please let me know if I can do anything to help track this down.

[2020-11-10 05:00] simon-lanf commented on #4185
@vladmandic could you please tell me where did you find the saved model or keras model to generate your versions ? For example blazeface back camera is not on tfhub and I could not find it online.

[2020-11-10 12:05] vladmandic commented on #4185
@simon-lanf <https://github.com/PINTO0309/PINTO_model_zoo>

[2020-11-10 12:34] djthegr8 opened #4206 "Official Handpose Demo not working"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow.js): No
- OS Pla

[2020-11-10 13:54] dennis508 opened #4208 "WASM heap overflow"
tfjs-backend-wasm@2.7.0
tf-backend-wasm.node.js

I'm trying to use backend-wasm with bodypix. It's hard for me to provide a simple test case.
At some point

BackendWasm.prototype.makeOutput = function (shape, dtype, memoryOffset) {
        var dataId;
        if (memoryOffset == null) {
            dataId = this.write(null /* values */, shape, dtype);

calls

BackendWasm.prototype.write = function

[2020-11-10 15:06] annxingyuan commented on #4132
Hi @vladmandic - I've discussed with the model authors and it seems there's nothing really in the model architecture that's well suited for this. Your best bet might be to build a similarity detector based on the keypoints.

[2020-11-10 15:06] #4132 closed

[2020-11-10 15:15] vladmandic commented on #4132
@annxingyuan thanks for checking

[2020-11-10 15:43] rthadur commented on #4208
cc @annxingyuan

[2020-11-10 15:54] annxingyuan opened #4210 "FromPixelsAsync should not be in tfjs-core public API."
Rather it should be a WebGPU-specific export.

[2020-11-10 15:54] annxingyuan commented on #4210
cc @tafsiri

[2020-11-10 16:02] rthadur commented on #4206
@djthegr8 I tried on windows 10 and it is working as expected , I don't have a Win7 machine to reproduce the same.

[2020-11-10 18:16] #4062 closed

[2020-11-10 19:11] josh-nathanson commented on #2043
Does anyone have a solution for this?^

[2020-11-10 19:18] jeanbmar commented on #4171
I'm having the same issue after upgrading to Node 14. Everything was working fine with Node 12.

[2020-11-10 21:08] Jwiggiff commented on #4171
yes @ASnow 's solution seemed to work. Thank you!

[2020-11-10 21:08] #4171 closed

[2020-11-10 21:57] purviljain opened #4212 "Tensorflow saved model to Tensorflowjs model conversion"
I have trained a model in Tensorflow and converting the model to Tensorflow.js

**I used the following command:**
`tensorflowjs_converter --control_flow_v2=True --input_format=tf_saved_model --saved_model_tags=serve --signature_name=serving_default --skip_op_check --strip_debug_ops=True --weight_shard_size_bytes=4194304 . tfjs`

My python model- [Link](https://drive.google.com/file/d/1dwOk3zuim3HT

[2020-11-10 22:27] purviljain opened #4214 "Tensorflow and Tensorflowjs giving different predictions"
I have trained a model in Tensorflow and converting the model to Tensorflow.js.

After conversion, my model is predicting different from the Python TF model even with the same data.

### Code for prediction in tfjs-node: [Codesandbox](https://codesandbox.io/s/tensorflow-bug-uplara-y6n1i)

Are these value differences in the output tensors between python and javascript expected? If yes, why?

I have

[2020-11-11 02:27] pyu10055 commented on #4212
This warning message is not related to the model accuracy, it is for indicating the pattern matching failure during BatchNorm op fusing into conv2d.

Inference result divergency can be caused by op kernel implementation differences between TF and TFJS, or due to the browser texture precision.
Can you specify OS/browser/TFJS versions etc? thanks

[2020-11-11 08:36] purviljain commented on #4212
I am running this in Nodejs.

OS version: Ubuntu 20.04
TFJS version: 2.1.0

Also, how should I figure out which operations have kernel implementation differences between TF and TFJS? And if there are, do I have to skip those operations or is there some other way to get exactly same outputs?

[2020-11-11 08:58] jameshfisher commented on #4177
Note: I'd also be happy if just the raw model (https://meet.google.com/_/rtcvidproc/release/336842817/segm_lite_v509.tflite) was released under a permissive license - I can figure out the model structure and JavaScript wiring :-)

[2020-11-11 10:25] jeanbmar commented on #4171
@Jwiggiff the issue shouldn't be closed on a workaround involving to manually move files from node_modules subdirectories.

There's a problem with Node.js N-api that should be fixed on Windows because many other users will get it soon.

The install script stops at napi v6 while recent Node.js versions use napi v7 (https://nodejs.org/api/n-api.html#n_api_n_api_version_matrix).

dll file isn't linke

[2020-11-11 11:37] #4210 closed

[2020-11-11 12:00] purviljain commented on #4212
Is it better if I sequentially run 5 TFJS models one after the other, or would it be better if I stitch them all into one graph?

WIll there be a performance difference between these two? If yes, which would be better?

[2020-11-11 12:37] vladmandic opened #4217 "browser packaging for `tfjs-backend-wasm` module is broken"
browser packaging for `tfjs-backend-wasm` modules is broken
it can be loaded as a script tag, but not as a modul bundle

tried 3 different imports:
[code]

and it tries to load `perf_hooks` and fails
also, **browser** module should not require **nodejs** specific requires such as `path` and `fs`

compare generated output of `tfjs-backend-webgl` and `tfjs-backend-wasm` modules headers:

`@tensorflo

[2020-11-11 12:50] vladmandic commented on #4208
not sure it helps, but i've noticed that wasm backend requires some time to `warmup` to avoid internal timeouts and if you try with lower resolution input on first inference, it will run.
and if you then increase it to desired resolution, it will still work.
but if you start with high resolution, it will fail exactly like you wrote.

much less issues with simd variation - it's much faster, so far

[2020-11-11 13:19] vladmandic opened #4218 "Implement native tf.browser.fromPixels() for WASM backend"
Currently `tf.browser.fromPixels()` has native implementation for WebGL backend while WASM falls back to default `canvas.getContext('2d').getImageData(0, 0, canvas.width, canvas.height).data;`

This means it will:
a) Fail if input already has a different context
   e.g., canvas with `webgl` context because user performed some image pre-processing
b) It is really slow

On FullHD input, WebGL native

[2020-11-11 13:30] vladmandic commented on #4218
UPDATE: as an alternative, would it be possible to use WebGL implementation of `tf.browser.fromPixels()` and then continuing with WASM model. I don't mind mixing backends like this, but actually changing active backend on the fly is a no-go.

[2020-11-11 13:56] dennis508 commented on #4208
Thanks, @vladmandic, I will experiment with this idea. Seems to confirm some problem with heap management.

[2020-11-11 13:59] vladmandic commented on #4208
@dennis508 fyi, this is my investigation so far (only reported yesterday, so it's early) <https://github.com/vladmandic/human/issues/26>

[2020-11-11 17:49] pyu10055 commented on #4212
@purviljain Are you saying you have multiple models, and are running multiple models back to back? If it would be better to evaluate each model (comparing python and TFJS outputs given the same input), it would help you to isolate the problem.